{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Central Cash Handling API",
    "description": "The Central Cash Handling API facilitates the retrieval of critical cash handling data within banking operations. It allows users to query for detailed information regarding cash transactions, reconciliation processes, and cash flow metrics. This API is essential for financial analysts and operational staff who need to monitor and manage cash handling activities effectively. By providing comprehensive access to cash data, it supports informed decision-making and enhances operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/payments/central-cash-handling": {
      "get": {
        "tags": [
          "Payments Management"
        ],
        "summary": "Retrieve Central Cash Handling Payments",
        "description": "This endpoint allows you to retrieve all the payments associated with central cash handling. You can use this to view, monitor, and manage payment transactions effectively.",
        "operationId": "fetchCentralCashHandlingPayments",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information related to central cash handling operations. It specifies the parameters needed to process the request effectively.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FetchCentralCashHandlingPaymentsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested payment data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FetchCentralCashHandlingPaymentsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "FetchCentralCashHandlingPaymentsRequest": {
        "type": "string",
        "description": "A string representation of the request body used for centralized cash handling operations in the payments service.",
        "example": "{}"
      },
      "FetchCentralCashHandlingPaymentsResponse_200": {
        "title": "Central Cash Handling Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of payment items.",
            "example": [
              {
                "paymentId": "PAY-945732",
                "debtorAccountId": "ACC-721651",
                "creditorAccountId": "ACC-452452",
                "instructedAmount": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "requestedExecutionDate": "2026-09-15",
                "remittanceInformation": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/PaymentItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the result set.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the operations related to central cash handling payments.",
        "example": {
          "items": [
            {
              "paymentId": "PAY-945732",
              "debtorAccountId": "ACC-721651",
              "creditorAccountId": "ACC-452452",
              "instructedAmount": {
                "amount": 100.0,
                "currency": "USD"
              },
              "requestedExecutionDate": "2026-09-15",
              "remittanceInformation": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "0a5871dd-ae48-50f2-aaf0-cda18b7d409d",
            "correlationId": "29cd4fb4-ddfe-59a4-9746-c306aa4b0a63",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentItem": {
        "title": "Payment Item",
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment."
          },
          "debtorAccountId": {
            "type": "string",
            "description": "Identifier for the debtor's account."
          },
          "creditorAccountId": {
            "type": "string",
            "description": "Identifier for the creditor's account."
          },
          "instructedAmount": {
            "$ref": "#/components/schemas/InstructedAmount"
          },
          "requestedExecutionDate": {
            "type": "string",
            "description": "The date when the payment is requested to be executed."
          },
          "remittanceInformation": {
            "type": "string",
            "description": "Information regarding the remittance."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the payment record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the payment."
          }
        },
        "description": "Represents an individual payment entry."
      },
      "InstructedAmount": {
        "title": "Instructed Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The numeric value of the amount."
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is denominated."
          }
        },
        "description": "The amount to be paid, including its currency."
      },
      "Pagination": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Information related to the pagination of the results."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place."
          }
        },
        "description": "Metadata about the response containing additional context and identifiers."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the API endpoint being called, used for tracing and diagnostics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "central-cash-handling-search-central-cash-handling"
        },
        "example": "central-cash-handling-search-central-cash-handling"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the request, useful for monitoring and logging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication and requires a valid JSON Web Token (JWT) for access. Clients must include the token in the Authorization header when making requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}