{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Product Quality Assurance Assessments API",
    "description": "The Product Quality Assurance Assessments API facilitates the evaluation and assurance of product quality within the banking sector. This API enables users to initiate assessments aimed at ensuring compliance with quality standards. It supports various stakeholders, including product managers and quality assurance teams, who utilize the assessments to enhance product reliability and customer satisfaction. By leveraging this API, organizations can systematically manage their product evaluation processes and make informed decisions based on quality metrics.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/product-management/product-quality-assurance/assessments": {
      "post": {
        "tags": [
          "Product Quality Assurance"
        ],
        "summary": "Create a product quality assurance assessment.",
        "description": "This endpoint allows users to create an assessment for product quality assurance, ensuring that products meet predefined quality standards. The assessment includes various criteria that are important for product evaluation.",
        "operationId": "createProductQualityAssuranceAssessment",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit product quality assurance assessments. It should contain the assessment details structured according to the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProductQualityAssuranceAssessmentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The assessment was successfully processed and results are returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateProductQualityAssuranceAssessmentResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateProductQualityAssuranceAssessmentRequest": {
        "title": "Product Quality Assurance Assessment Request",
        "type": "object",
        "properties": {
          "productCode": {
            "type": "string",
            "description": "Unique identifier for the product.",
            "example": "CHK-PREMIUM-US"
          },
          "productName": {
            "type": "string",
            "description": "Name of the product.",
            "example": "Northstar Banking Service"
          },
          "customerSegment": {
            "type": "string",
            "description": "Target customer segment for the product.",
            "example": "STANDARD"
          },
          "baseCurrency": {
            "type": "string",
            "description": "Base currency for the product's pricing.",
            "example": "USD"
          },
          "effectiveDate": {
            "type": "string",
            "description": "Date when the product becomes effective.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "description": "Contextual information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for product quality assurance assessments.",
        "example": {
          "productCode": "CHK-PREMIUM-US",
          "productName": "Northstar Banking Service",
          "customerSegment": "STANDARD",
          "baseCurrency": "USD",
          "effectiveDate": "2026-09-15",
          "requestContext": {
            "requestId": "ec044014-77f9-56e6-8569-dd268aa011a7",
            "correlationId": "4e469b5c-13f2-5187-84d6-32d1d321c533",
            "idempotencyKey": "9649e676-84dc-55d0-b784-ef264c249637",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-958089"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "ID for tracking correlated requests.",
            "example": "corr-789012"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of requests.",
            "example": "idempotent-key-abc"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-01-01T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application that initiated the request.",
            "example": "WebApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the contextual information of the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., Online, Retail).",
            "example": "Online"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the channel.",
            "example": "device-456"
          }
        },
        "description": "Schema representing the channel information related to the request."
      },
      "CreateProductQualityAssuranceAssessmentResponse_200": {
        "title": "Assessment Response",
        "type": "object",
        "properties": {
          "productCode": {
            "type": "string",
            "description": "The unique code representing the product being assessed.",
            "example": "CHK-PREMIUM-US"
          },
          "assessmentId": {
            "type": "string",
            "description": "A unique identifier for the assessment.",
            "example": "STANDARD"
          },
          "outcome": {
            "type": "string",
            "description": "The result of the assessment, indicating whether it was successful or failed.",
            "example": "STANDARD"
          },
          "score": {
            "type": "integer",
            "description": "The score awarded to the assessment, typically in a range of 0 to 100.",
            "format": "int32",
            "example": 1
          },
          "assessedAt": {
            "type": "string",
            "description": "The timestamp when the assessment was carried out, in ISO 8601 format.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/AssessmentMetadata"
          }
        },
        "description": "The schema representing the response received after an assessment operation in product quality assurance.",
        "example": {
          "productCode": "CHK-PREMIUM-US",
          "assessmentId": "STANDARD",
          "outcome": "STANDARD",
          "score": 1,
          "assessedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "d0013941-8068-523c-ab50-e434e1acc266",
            "correlationId": "4e469b5c-13f2-5187-84d6-32d1d321c533",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AssessmentMetadata": {
        "title": "Assessment Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response generated for this assessment.",
            "example": "R123456"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier used to correlate this assessment with other related requests.",
            "example": "C654321"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when this metadata was generated, in ISO 8601 format.",
            "example": "2023-10-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographical region where the assessment processing occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata information related to the assessment process."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "product-quality-assurance-assure-product-quality-assurance"
        },
        "example": "product-quality-assurance-assure-product-quality-assurance"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer Authentication method defined in RFC 6750, where a JSON Web Token (JWT) is sent in the Authorization header to verify the identity of a user.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}