{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Data Update API",
    "description": "The Customer Data Update API enables businesses to modify existing customer records within the system. By using this endpoint, authorized users can update essential customer details, such as contact information and preferences, ensuring that data remains current and accurate. This API is primarily consumed by client applications or internal systems requiring real-time updates to customer data for enhanced service delivery. It supports the maintenance of customer relationships and streamlines operations related to customer management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/{customerId}": {
      "put": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Update Customer Information",
        "description": "This endpoint allows you to update the details of a specific customer identified by their unique customer ID. Provide the necessary information in the request body to modify the customer's data.",
        "operationId": "updateCustomerCUST100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Updates the details of a specific customer identified by their unique ID (CUST-100045). The request body should contain the updated customer information in JSON format.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCustomerCUST100045Request"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Request completed successfully with no content.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateCustomerCUST100045Response_204"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateCustomerCUST100045Request": {
        "title": "Update Customer Request Payload",
        "required": [
          "firstName",
          "lastName",
          "requestContext"
        ],
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string",
            "description": "The first name of the customer.",
            "example": "Northstar Banking Service"
          },
          "lastName": {
            "type": "string",
            "description": "The last name of the customer.",
            "example": "Northstar Banking Service"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Payload for updating customer information.",
        "example": {
          "firstName": "Northstar Banking Service",
          "lastName": "Northstar Banking Service",
          "requestContext": {
            "requestId": "3dd63fe1-70d4-5fa0-adec-d1d56a1b793d",
            "correlationId": "375c4550-b5ee-565f-8d80-dbb471e44c83",
            "idempotencyKey": "b58e508d-2cc9-5fe1-ba22-a577f917374e",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-661033"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context Information",
        "required": [
          "channel",
          "correlationId",
          "idempotencyKey",
          "requestId",
          "requestedAt",
          "sourceApplication",
          "sourceSystem"
        ],
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used to correlate logs and trace requests.",
            "example": "corr-67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the idempotency of the request.",
            "example": "idemp-abcde"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2021-12-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System that initiated the request.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application that initiated the request.",
            "example": "CustomerManagementApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/ChannelInformation"
          }
        },
        "description": "Contains contextual information about the request."
      },
      "ChannelInformation": {
        "title": "Channel Information",
        "required": [
          "channelId",
          "channelType",
          "deviceId"
        ],
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., Web, Mobile).",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device used.",
            "example": "device-123"
          }
        },
        "description": "Details about the channel through which the request was made."
      },
      "UpdateCustomerCUST100045Response_204": {
        "title": "Customer Operation Response",
        "type": "object",
        "properties": {
          "metadata": {
            "description": "Information about the response, including IDs and timestamps.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for customer operations.",
        "example": {
          "metadata": {
            "responseId": "950a03fd-ac43-52a1-b8cf-e06fb9cb239f",
            "correlationId": "375c4550-b5ee-565f-8d80-dbb471e44c83",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to trace the request across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Location or region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Contains metadata related to the response such as identification and timing information."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_204"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint handling this request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-modify-customer"
        },
        "example": "open-finance-api-modify-customer"
      },
      "X-Runtime-App": {
        "description": "Indicates the name of the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method, specifically designed for JWT (JSON Web Tokens). Clients must include a valid JWT token in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}