{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Financial Instrument Reference Data Management API",
    "description": "The Financial Instrument Reference Data Management API provides essential access to market data related to financial instruments. This endpoint enables users to retrieve comprehensive reference data crucial for financial analysis, reporting, and decision-making. Typical consumers include financial analysts, portfolio managers, and risk assessment teams who require accurate and up-to-date information on various financial instruments. This API streamlines the management of reference data, ensuring users can efficiently access and utilize relevant information in their operational workflows.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-data/financial-instrument-reference-data-management": {
      "get": {
        "tags": [
          "Financial Data Management"
        ],
        "summary": "Retrieve financial instrument reference data.",
        "description": "This endpoint allows users to access and manage reference data for various financial instruments, providing comprehensive details essential for trading, analysis, and reporting.",
        "operationId": "getFinancialInstrumentReferenceData",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to specify the parameters for retrieving financial instrument reference data. Ensure that the required fields are included to receive the relevant market data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetFinancialInstrumentReferenceDataRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the financial instrument reference data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFinancialInstrumentReferenceDataResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetFinancialInstrumentReferenceDataRequest": {
        "type": "string",
        "description": "This schema represents the request body for getting financial instrument reference data. It should contain a string that represents the request parameters or query information.",
        "example": "{}"
      },
      "GetFinancialInstrumentReferenceDataResponse_200": {
        "title": "FinancialInstrumentReferenceDataResponse",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of financial instruments.",
            "example": [
              {
                "instrumentId": "STANDARD",
                "isin": "STANDARD",
                "marketIdentifierCode": "CODE-663",
                "asOf": "2026-08-11T12:00:00Z",
                "dataSource": "STANDARD",
                "instrumentType": "STANDARD",
                "ticker": "STANDARD",
                "issueCurrency": "USD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/FinancialInstrument"
            }
          },
          "pagination": {
            "description": "Information related to the pagination of the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria used for the retrieved items.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata information regarding the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the retrieval of financial instrument reference data.",
        "example": {
          "items": [
            {
              "instrumentId": "STANDARD",
              "isin": "STANDARD",
              "marketIdentifierCode": "CODE-663",
              "asOf": "2026-08-11T12:00:00Z",
              "dataSource": "STANDARD",
              "instrumentType": "STANDARD",
              "ticker": "STANDARD",
              "issueCurrency": "USD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "8a45216d-1365-5940-85f3-51bc4373e2c0",
            "correlationId": "5be3a161-9eaa-52e0-8935-59c39a9cb710",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "FinancialInstrument": {
        "title": "FinancialInstrument",
        "type": "object",
        "properties": {
          "instrumentId": {
            "type": "string",
            "description": "Unique identifier for the instrument.",
            "example": "string"
          },
          "isin": {
            "type": "string",
            "description": "International Securities Identification Number for the instrument.",
            "example": "string"
          },
          "marketIdentifierCode": {
            "type": "string",
            "description": "Identifier for the market where the instrument is traded.",
            "example": "string"
          },
          "asOf": {
            "type": "string",
            "description": "Date representation for which the data is valid.",
            "example": "string"
          },
          "dataSource": {
            "type": "string",
            "description": "Source from which the instrument information was obtained.",
            "example": "string"
          },
          "instrumentType": {
            "type": "string",
            "description": "Type of the financial instrument, e.g., stock, bond.",
            "example": "string"
          },
          "ticker": {
            "type": "string",
            "description": "Ticker symbol for the instrument.",
            "example": "string"
          },
          "issueCurrency": {
            "type": "string",
            "description": "Currency in which the instrument is issued.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the record, e.g., active, inactive.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating the last updated time of the instrument data.",
            "example": "string"
          }
        },
        "description": "Represents a financial instrument with associated properties."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the displayed items.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items displayed per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Schema representing pagination information."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the API response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Schema representing additional information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "financial-instrument-reference-data-management-search-financial-instrument-reference-data-management"
        },
        "example": "financial-instrument-reference-data-management-search-financial-instrument-reference-data-management"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme employs JSON Web Tokens (JWT) for authentication. Clients must include a valid JWT in the authorization header using the 'Bearer' schema to access secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}