{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Event History Management API",
    "description": "The Customer Event History Management API enables businesses to log, track, and manage customer-related events effectively. Through this API, users can submit various customer events to maintain an accurate history, supporting operational transparency and improved customer relations. This service is typically utilized by customer service teams and data analysts aiming to enhance engagement strategies based on historical data insights. By leveraging the API, organizations can optimize their customer management processes and ensure timely responses to customer needs.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customer-management/customer-event-history": {
      "post": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Create a new entry in the customer event history.",
        "description": "This endpoint allows users to create a new record in the customer event history, tracking significant interactions and events related to a customer. It is essential for maintaining accurate historical data and enhancing customer engagement strategies.",
        "operationId": "postCustomerEventHistory",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit a new customer event to the customer management system. Ensure that all required fields are included in the payload according to the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostCustomerEventHistoryRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "New customer event history created successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostCustomerEventHistoryResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PostCustomerEventHistoryRequest": {
        "title": "Customer Event History Request Body",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-582239"
          },
          "partyId": {
            "type": "string",
            "description": "Unique identifier for the party associated with the customer.",
            "example": "PARTY-315773"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product related to the event.",
            "example": "CHK-PREMIUM-US"
          },
          "effectiveDate": {
            "type": "string",
            "description": "Date when the event becomes effective.",
            "example": "2026-09-15"
          },
          "relationshipTier": {
            "type": "string",
            "description": "Tier level of the relationship with the customer.",
            "example": "GOLD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for posting customer event history operations.",
        "example": {
          "customerId": "CUST-582239",
          "partyId": "PARTY-315773",
          "productCode": "CHK-PREMIUM-US",
          "effectiveDate": "2026-09-15",
          "relationshipTier": "GOLD",
          "requestContext": {
            "requestId": "c5b16c59-d8b2-5ce5-bf1b-3a3dfb780bcf",
            "correlationId": "25684f07-b89b-5758-81fb-055700d0b16b",
            "idempotencyKey": "31415a5e-8897-50fd-a4ba-0a058478272f",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-468258"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req123"
          },
          "correlationId": {
            "type": "string",
            "description": "ID for correlating related requests.",
            "example": "corr456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotent request handling.",
            "example": "idempotent-key-789"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name of the system that originated the request.",
            "example": "CRM_System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application from which the request originated.",
            "example": "WebApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request, including tracking identifiers and metadata."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the request.",
            "example": "device123"
          }
        },
        "description": "Schema representing the channel details from which the request was made."
      },
      "PostCustomerEventHistoryResponse_201": {
        "title": "Customer Event History Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-477110"
          },
          "partyId": {
            "type": "string",
            "description": "The unique identifier for the party associated with the customer.",
            "example": "PARTY-708485"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the product associated with the customer event.",
            "example": "CHK-PREMIUM-US"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource associated with the customer event.",
            "example": "RES-511978"
          },
          "status": {
            "type": "string",
            "description": "The status of the customer event.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the customer event was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the customer event.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for customer event history after a POST operation.",
        "example": {
          "customerId": "CUST-477110",
          "partyId": "PARTY-708485",
          "productCode": "CHK-PREMIUM-US",
          "resourceId": "RES-511978",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "4eb20afe-d54c-5113-93f4-e9a04b965991",
            "correlationId": "25684f07-b89b-5758-81fb-055700d0b16b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Event Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "RESP123"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to correlate this event with other events.",
            "example": "CORR456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-10-01T12:00:01Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the event took place.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata information related to the customer event."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-event-history-create-customer-event-history"
        },
        "example": "customer-event-history-create-customer-event-history"
      },
      "X-Runtime-App": {
        "description": "The name and version of the application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication method with JSON Web Tokens (JWT). Clients must include the JWT in the HTTP Authorization header when making requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}