{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Document Validation Submission API",
    "description": "The Document Validation Submission API enables users to submit documents for validation within the banking system. This endpoint allows businesses to ensure that their documents meet the necessary compliance and regulatory standards before proceeding with further transactions. Typically utilized by financial institutions and compliance officers, it facilitates efficient document processing and reduces potential errors. By leveraging this API, organizations can enhance their operational efficiency and maintain regulatory adherence.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/documents/document-directory/{param1}/validations": {
      "post": {
        "tags": [
          "Document Management"
        ],
        "summary": "Submit validations for a specific document.",
        "description": "This endpoint allows users to submit validation data for the specified document identified by its unique resource ID. It ensures the document meets required standards and compliance before further processing.",
        "operationId": "postValidationsForDocumentRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "A payload to validate a document identified by RES-100045. This request body must adhere to the specified schema, which defines the required structure and data types for validation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostValidationsForDocumentRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully; the validations are returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostValidationsForDocumentRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PostValidationsForDocumentRes100045Request": {
        "title": "Request Validation Schema",
        "type": "object",
        "properties": {
          "validationScope": {
            "type": "array",
            "description": "Array of validation scope identifiers.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "example": "string"
            }
          },
          "asOfDate": {
            "type": "string",
            "description": "The date as of which the validation is requested, formatted as an ISO 8601 string.",
            "example": "2026-09-15"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the user requesting the validation.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for validating document entries.",
        "example": {
          "validationScope": [
            "STANDARD"
          ],
          "asOfDate": "2026-09-15",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "11efa2ad-f5e1-5694-93eb-122beb52653d",
            "correlationId": "381886e1-066e-5d90-96f5-c34f5c9303ea",
            "idempotencyKey": "6546f4c8-2c25-5f74-b156-f4e259c0b348",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-307656"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context Schema",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req_456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to trace requests across different systems.",
            "example": "corr_789"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the idempotency of the request.",
            "example": "unique_key_012"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made, formatted as an ISO 8601 string.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier of the source system from which the request originates.",
            "example": "system_A"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier of the source application initiating the request.",
            "example": "app_X"
          },
          "channel": {
            "description": "Information about the communication channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema containing contextual information about the request."
      },
      "Channel": {
        "title": "Channel Schema",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "channel_001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used for the request (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used to make the request.",
            "example": "device_002"
          }
        },
        "description": "Schema representing details of the channel through which the request is made."
      },
      "PostValidationsForDocumentRes100045Response_200": {
        "title": "Validation Response",
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "A reference identifier for the action taken.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "The type of the action performed.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The status of the validation process.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "The timestamp when the validation was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/ValidationMetadata"
          }
        },
        "description": "This schema represents the response structure for validation operations.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "84e88a03-79b2-5607-a601-e02f680bccbd",
            "correlationId": "381886e1-066e-5d90-96f5-c34f5c9303ea",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ValidationMetadata": {
        "title": "Validation Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier for correlating logs and events.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the validation processing was carried out.",
            "example": "string"
          }
        },
        "description": "This schema contains metadata related to the validation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifies the specific endpoint being accessed. Used for routing and analytics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "document-directory-validate-document-directory"
        },
        "example": "document-directory-validate-document-directory"
      },
      "X-Runtime-App": {
        "description": "Indicates the application responsible for processing the request. Useful for tracking performance and issuer information.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that utilizes a bearer token. This requires a valid JSON Web Token (JWT) to be passed in the Authorization header when making API requests. The server uses the token to authenticate and authorize the request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}