{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Internal Audit Reviews Management API",
    "description": "The Internal Audit Reviews Management API facilitates the submission and organization of reviews related to internal audits. This endpoint enables users to create new review entries, ensuring consistent documentation and tracking of audit feedback. Typical consumers include internal auditors and compliance teams who require effective management of audit review processes. By integrating this API, organizations can enhance their internal review procedures and maintain a clear audit trail.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/enterprise-services/internal-audit/{param1}/reviews": {
      "post": {
        "tags": [
          "Internal Audit"
        ],
        "summary": "Create a review for the internal audit of a specific enterprise service.",
        "description": "This operation allows users to create a new review for the internal audit process associated with the enterprise service identified by RES-100045. Users can submit detailed feedback that will be used for evaluation and improvement of the internal audit.",
        "operationId": "createInternalAuditReviewForRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit a review for the specified internal audit. It should contain all the necessary information required for processing the review request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateInternalAuditReviewForRes100045Request"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request has been accepted for processing, and will be completed asynchronously.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateInternalAuditReviewForRes100045Response_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateInternalAuditReviewForRes100045Request": {
        "title": "Review Request Body",
        "type": "object",
        "properties": {
          "reviewReason": {
            "type": "string",
            "description": "The reason for the review.",
            "example": "STANDARD"
          },
          "reviewScope": {
            "type": "array",
            "description": "The scope of the review, indicating what is being reviewed.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "An item within the scope of the review.",
              "example": "Operational Procedures"
            }
          },
          "assignedReviewerId": {
            "type": "string",
            "description": "The ID of the reviewer assigned to this review.",
            "example": "STANDARD"
          },
          "dueAt": {
            "type": "string",
            "description": "The due date by which the review should be completed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "requestContext": {
            "description": "Contextual information regarding the review request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for submitting a review operation.",
        "example": {
          "reviewReason": "STANDARD",
          "reviewScope": [
            "STANDARD"
          ],
          "assignedReviewerId": "STANDARD",
          "dueAt": "2026-08-11T12:00:00Z",
          "requestContext": {
            "requestId": "7bf4672a-0218-5b42-848f-4184c09ce47c",
            "correlationId": "e8357b6f-8650-57fb-a990-b6dcd35eedea",
            "idempotencyKey": "52696331-03ff-5669-be9d-3a82484f6dfb",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-939060"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-20231001-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for linking related requests.",
            "example": "corr-20231001-abc"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotent request handling.",
            "example": "idempotency-key-07"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "Internal Audit System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request was made.",
            "example": "AuditManagerPro"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used (e.g., API, Web).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device from which the request originated.",
            "example": "device-xyz-123"
          }
        },
        "description": "Schema representing the details of the request channel."
      },
      "CreateInternalAuditReviewForRes100045Response_202": {
        "title": "Internal Audit Review Response",
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "A reference identifier for the action performed in the review.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "The type of action that was taken during the review.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The status of the review action.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "The timestamp when the action was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the review response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response for an internal audit review operation.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "3360492f-4a65-5fe3-a0cf-cb11654481d0",
            "correlationId": "e8357b6f-8650-57fb-a990-b6dcd35eedea",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the processing occurred.",
            "example": "string"
          }
        },
        "description": "This schema contains additional metadata information for the review response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "internal-audit-review-internal-audit-processing"
        },
        "example": "internal-audit-review-internal-audit-processing"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is making the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme employs JSON Web Tokens (JWT) for authentication. Clients are required to include the bearer token in the Authorization header when making requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}