{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Equipment Maintenance Management API",
    "description": "The Equipment Maintenance Management API facilitates the maintenance and updates of banking facilities' equipment. Through its PATCH operation, users can modify existing equipment records to ensure optimal performance and compliance. This API is essential for maintenance teams, operations managers, and system integrators who seek to maintain equipment reliability and reduce downtime. Typical use cases include updating maintenance schedules, recording repairs, and tracking equipment status.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/facilities/equipment-maintenance/{param1}": {
      "patch": {
        "tags": [
          "Equipment Maintenance"
        ],
        "summary": "Update equipment maintenance details for a specific facility.",
        "description": "This API endpoint allows users to update the maintenance information for a specific piece of equipment associated with the facility identified by RES-100045. Ensure to provide the necessary details in the request body to successfully update the records.",
        "operationId": "updateEquipmentMaintenanceFacilityRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for updating maintenance operations on facility equipment identified by RES-100045. This includes any relevant changes to the equipment's maintenance records or operational status.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateEquipmentMaintenanceFacilityRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed and the resource was updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateEquipmentMaintenanceFacilityRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateEquipmentMaintenanceFacilityRes100045Request": {
        "title": "Equipment Maintenance Request",
        "type": "object",
        "properties": {
          "changes": {
            "description": "An object containing the changes related to the maintenance request.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change in the maintenance request.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes are effective.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the person who requested the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "An object providing context about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "A schema representing the request body for patching an equipment maintenance operation.",
        "example": {
          "changes": {
            "siteId": "STANDARD",
            "assetId": "STANDARD",
            "workOrderId": "ORD-929596"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "562928a8-efa8-5e0d-8cdc-3ba74b30abdf",
            "correlationId": "fe9d6279-f0c8-5387-8d51-7a97b74c9336",
            "idempotencyKey": "a1874c1d-b974-5389-b8cc-d5d5e5a019ac",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-903375"
            }
          }
        }
      },
      "Changes": {
        "title": "Maintenance Changes",
        "type": "object",
        "properties": {
          "siteId": {
            "type": "string",
            "description": "The identifier of the site where the equipment is located.",
            "example": "site-123"
          },
          "assetId": {
            "type": "string",
            "description": "The identifier of the asset being maintained.",
            "example": "asset-456"
          },
          "workOrderId": {
            "type": "string",
            "description": "The identifier of the work order associated with the changes.",
            "example": "workorder-789"
          }
        },
        "description": "A schema representing the changes associated with the maintenance request."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "request-001"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate multiple requests.",
            "example": "correlation-002"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure that repeated requests do not have side effects.",
            "example": "key-003"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-01T14:30:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "source-system"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "source-app"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "A schema representing the context of the request, including metadata."
      },
      "Channel": {
        "title": "Request Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used to make the request.",
            "example": "device-004"
          }
        },
        "description": "A schema representing the channel through which the request was made."
      },
      "UpdateEquipmentMaintenanceFacilityRes100045Response_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version number of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation, indicating success or failure.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the operation was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response, including identifiers and timestamps.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for PATCH operations on equipment maintenance in facilities.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "208cc15e-297d-53de-829b-648e7a5ec18c",
            "correlationId": "fe9d6279-f0c8-5387-8d51-7a97b74c9336",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate this response with other related requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp of when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographical region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Contains metadata information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "equipment-maintenance-update-equipment-maintenance"
        },
        "example": "equipment-maintenance-update-equipment-maintenance"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication format, which requires a valid JSON Web Token (JWT) to authenticate requests. The token must be included in the Authorization header as 'Bearer {token}' to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}