{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Operational Gateway Management API",
    "description": "The Operational Gateway Management API enables users to modify configurations associated with operational gateways within the banking IT infrastructure. Through this endpoint, developers can manage settings, update statuses, and ensure optimal functionality of the operational gateways. This API is primarily designed for IT administrators and DevOps teams involved in maintaining and enhancing banking systems. Typical use cases include adjusting operational parameters and responding to performance metrics.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/operational-gateway/{param1}": {
      "patch": {
        "tags": [
          "Operational Management"
        ],
        "summary": "Update operational gateway resource",
        "description": "This endpoint allows you to update the details of the operational gateway identified by the specified resource ID (RES-100045). You can modify various attributes of this resource to ensure it reflects the desired state of your operational gateway.",
        "operationId": "patchOperationalGatewayRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Updates the operational gateway configuration for the specified resource. The request requires a JSON object which includes the necessary fields to modify the gateway's operational parameters. Please ensure that the JSON structure follows the defined schema to avoid validation errors.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchOperationalGatewayRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchOperationalGatewayRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchOperationalGatewayRes100045Request": {
        "type": "object",
        "properties": {
          "changes": {
            "description": "An object containing the specific changes to be applied.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time at which the changes will take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the person or system requesting the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for PATCH operations in the IT Management Operational Gateway.",
        "example": {
          "changes": {
            "systemId": "STANDARD",
            "environment": "STANDARD",
            "changeId": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "d1a5456f-0e1d-535e-9012-7ed8088ff4a7",
            "correlationId": "71560f81-5760-5935-8900-4623c95e4d32",
            "idempotencyKey": "f55f4b31-6796-5571-9e48-798dd1cee120",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-378462"
            }
          }
        }
      },
      "Changes": {
        "type": "object",
        "properties": {
          "systemId": {
            "type": "string",
            "description": "The identifier of the system where changes are to be applied.",
            "example": "system-123"
          },
          "environment": {
            "type": "string",
            "description": "The environment where the changes will take place (e.g., production, staging).",
            "example": "production"
          },
          "changeId": {
            "type": "string",
            "description": "A unique identifier for the change request.",
            "example": "change-456"
          }
        },
        "description": "Schema representing the changes to be applied by the operation."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for this request.",
            "example": "req-789"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate related requests.",
            "example": "corr-abc"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure idempotent operations.",
            "example": "idempotency-key-xyz"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "external-system"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that made the request.",
            "example": "web-application"
          },
          "channel": {
            "description": "Information regarding the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information regarding the request, used for tracking and auditing purposes."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., API, UI).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device from which the request was originated.",
            "example": "device-555"
          }
        },
        "description": "Schema representing the channel information through which a request was made."
      },
      "PatchOperationalGatewayRes100045Response_200": {
        "title": "OperationPatchResponse",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version number of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the operation was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the operation's response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response received after a patch operation on the operational gateway.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "e8052aa0-693e-5b92-ac2a-a38b34cfee6d",
            "correlationId": "71560f81-5760-5935-8900-4623c95e4d32",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Schema representing metadata information associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operational-gateway-update-operational-gateway"
        },
        "example": "operational-gateway-update-operational-gateway"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request during its execution.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication using a bearer token in the format of a JSON Web Token (JWT). This scheme is commonly used for securing API endpoints by allowing users to authorize requests with a issued token.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}