{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Decisioning API",
    "description": "The Customer Decisioning API facilitates the submission of consumer-related decisions for a specified customer. Businesses can utilize this API to analyze or modify customer decisions based on real-time data. Typical consumers of this API include customer service platforms, decision management systems, and analytics applications that require integration with user-specific data. By leveraging this API, organizations can enhance their decision-making processes and deliver personalized experiences to their customers.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/decisioning/customers/{customerId}/consumer": {
      "post": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Create a new consumer for a specified customer.",
        "description": "This operation allows you to create a new consumer associated with the customer identified by CUST-100045. Ensure that all required fields are included in the request body to successfully create the consumer.",
        "operationId": "createConsumerForCustomerCUST100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for creating a new consumer under the specified customer. This body should include all necessary details for the consumer including attributes such as name, contact information, and any other relevant data as defined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateConsumerForCustomerCUST100045Request"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully with the provided details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateConsumerForCustomerCUST100045Response_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateConsumerForCustomerCUST100045Request": {
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string",
            "description": "The first name of the consumer.",
            "example": "Northstar Banking Service"
          },
          "lastName": {
            "type": "string",
            "description": "The last name of the consumer.",
            "example": "Northstar Banking Service"
          },
          "address": {
            "type": "string",
            "description": "The street address of the consumer.",
            "example": "STANDARD"
          },
          "city": {
            "type": "string",
            "description": "The city where the consumer resides.",
            "example": "New York"
          },
          "state": {
            "type": "string",
            "description": "The state where the consumer resides.",
            "example": "STANDARD"
          },
          "zip": {
            "type": "string",
            "description": "The postal zip code of the consumer's address.",
            "example": "STANDARD"
          },
          "phone": {
            "type": "string",
            "description": "The contact phone number of the consumer.",
            "example": "+1-212-555-0147"
          },
          "ssn": {
            "type": "string",
            "description": "The social security number of the consumer.",
            "example": "STANDARD"
          },
          "birthday": {
            "description": "The birthday of the consumer.",
            "$ref": "#/components/schemas/Birthday"
          },
          "email": {
            "type": "string",
            "description": "The email address of the consumer.",
            "example": "olivia.bennett@northstar.example"
          },
          "suffix": {
            "type": "string",
            "description": "An optional suffix for the consumer's name (e.g., Jr., Sr.).",
            "example": "STANDARD"
          },
          "endUser": {
            "description": "Information about the end user associated with the consumer.",
            "$ref": "#/components/schemas/EndUser"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for creating a consumer in the operations endpoint.",
        "example": {
          "firstName": "Northstar Banking Service",
          "lastName": "Northstar Banking Service",
          "address": "STANDARD",
          "city": "New York",
          "state": "STANDARD",
          "zip": "STANDARD",
          "phone": "+1-212-555-0147",
          "ssn": "STANDARD",
          "birthday": {
            "year": 1,
            "month": 1,
            "dayOfMonth": 1
          },
          "email": "olivia.bennett@northstar.example",
          "suffix": "STANDARD",
          "endUser": {
            "name": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "email": "olivia.bennett@northstar.example"
          },
          "requestContext": {
            "requestId": "1c9d1256-0da8-5bc8-8625-5354b11a0ec5",
            "correlationId": "8401aaf2-8163-5ff5-809f-6922703fae8a",
            "idempotencyKey": "2f9920ea-e657-55c5-a435-44589b1e5556",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-701621"
            }
          }
        }
      },
      "Birthday": {
        "type": "object",
        "properties": {
          "year": {
            "type": "integer",
            "description": "The year of birth.",
            "format": "int32",
            "example": 1990
          },
          "month": {
            "type": "integer",
            "description": "The month of birth.",
            "format": "int32",
            "example": 1
          },
          "dayOfMonth": {
            "type": "integer",
            "description": "The day of the month of birth.",
            "format": "int32",
            "example": 15
          }
        },
        "description": "Schema representing a consumer's date of birth."
      },
      "EndUser": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the end user.",
            "example": "Jane Doe"
          },
          "address": {
            "type": "string",
            "description": "The street address of the end user.",
            "example": "456 Another St"
          },
          "city": {
            "type": "string",
            "description": "The city where the end user resides.",
            "example": "Othertown"
          },
          "state": {
            "type": "string",
            "description": "The state where the end user resides.",
            "example": "NY"
          },
          "zip": {
            "type": "string",
            "description": "The postal zip code of the end user's address.",
            "example": "10001"
          },
          "phone": {
            "type": "string",
            "description": "The contact phone number of the end user.",
            "example": "987-654-3210"
          },
          "email": {
            "type": "string",
            "description": "The email address of the end user.",
            "example": "janedoe@example.com"
          }
        },
        "description": "Schema representing the end user's information."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "An ID to trace the request across systems.",
            "example": "corr-67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to guarantee idempotency of the request.",
            "example": "idempotent-key-abc"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that generated the request.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "UserManagementApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing contextual information of the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "A unique identifier for the channel.",
            "example": "channel-123"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "A unique identifier for the device used in the channel.",
            "example": "device-456"
          }
        },
        "description": "Schema representing the details of the channel used for the request."
      },
      "CreateConsumerForCustomerCUST100045Response_201": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "STANDARD"
          },
          "createdDate": {
            "type": "integer",
            "description": "Timestamp indicating when the customer record was created.",
            "format": "int32",
            "example": 1
          },
          "customerId": {
            "type": "integer",
            "description": "Unique ID assigned to the customer.",
            "format": "int32",
            "example": 1
          },
          "metadata": {
            "description": "Additional information about the customer response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for a successful customer operation.",
        "example": {
          "id": "STANDARD",
          "createdDate": 1,
          "customerId": 1,
          "metadata": {
            "responseId": "d5fd1a71-d9aa-5aa4-bf70-4f8840f8a76b",
            "correlationId": "8401aaf2-8163-5ff5-809f-6922703fae8a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to track the request across services.",
            "example": "CORR-XYZ-123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2021-09-30T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "us-west-1"
          }
        },
        "description": "Schema for additional metadata about the customer operation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifier for the endpoint being accessed. This unique string helps in tracking and logging activities related to a specific endpoint.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-create-consumer"
        },
        "example": "open-finance-api-create-consumer"
      },
      "X-Runtime-App": {
        "description": "Indicates the name of the runtime application handling the request. This is useful for troubleshooting and monitoring application performance.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JSON Web Tokens (JWT) as a bearer authentication method. When provided, the token should be included in the authorization header of the request, allowing access to secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}