{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Campaign Design API",
    "description": "The Customer Campaign Design API enables users to access and manage campaign design elements effectively. This endpoint allows marketing professionals to retrieve design specifications and data related to customer campaigns, facilitating the development of targeted marketing strategies. Typical consumers of this API include marketers, campaign managers, and analytics teams looking to optimize customer engagement through well-structured campaigns. By leveraging the information provided, users can enhance their marketing efforts and improve customer outreach.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/marketing/customer-campaign-design": {
      "get": {
        "tags": [
          "Marketing"
        ],
        "summary": "Retrieve customer campaign design details.",
        "description": "This endpoint allows you to fetch the details of customer campaign designs, providing insights and data necessary for analysis and further marketing strategies.",
        "operationId": "getCustomerCampaignDesign",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request allows the user to retrieve the design of a customer campaign. It requires specific parameters to be included in the request body in order to ensure accurate and relevant campaign designs are fetched.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCustomerCampaignDesignRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved customer campaign design data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCustomerCampaignDesignResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCustomerCampaignDesignRequest": {
        "type": "string",
        "description": "This schema represents the request body for the customer campaign design operations in marketing.",
        "example": "{}"
      },
      "GetCustomerCampaignDesignResponse_200": {
        "title": "Customer Campaign Design Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of campaign design items.",
            "example": [
              {
                "campaignId": "STANDARD",
                "targetSegmentId": "STANDARD",
                "channelMix": [
                  "STANDARD"
                ],
                "budget": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "startDate": "2026-09-15",
                "endDate": "2026-09-15",
                "campaignObjective": "STANDARD",
                "controlGroupPercent": 1,
                "contactFrequencyCap": 1,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CampaignDesignItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting parameter used for the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for the customer campaign design operation.",
        "example": {
          "items": [
            {
              "campaignId": "STANDARD",
              "targetSegmentId": "STANDARD",
              "channelMix": [
                "STANDARD"
              ],
              "budget": {
                "amount": 100.0,
                "currency": "USD"
              },
              "startDate": "2026-09-15",
              "endDate": "2026-09-15",
              "campaignObjective": "STANDARD",
              "controlGroupPercent": 1,
              "contactFrequencyCap": 1,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "3cc3c7b1-5136-596d-9698-45022c7f6a7e",
            "correlationId": "083564f7-ac81-5704-990e-103e2d2b5f46",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CampaignDesignItem": {
        "title": "Campaign Design Item",
        "type": "object",
        "properties": {
          "campaignId": {
            "type": "string",
            "description": "The unique identifier for the campaign.",
            "example": "12345"
          },
          "targetSegmentId": {
            "type": "string",
            "description": "The identifier for the target audience segment.",
            "example": "segment-01"
          },
          "channelMix": {
            "type": "array",
            "description": "The channels used in this campaign.",
            "items": {
              "type": "string",
              "example": "email"
            }
          },
          "budget": {
            "$ref": "#/components/schemas/Budget"
          },
          "startDate": {
            "type": "string",
            "description": "The start date of the campaign.",
            "example": "2023-01-01"
          },
          "endDate": {
            "type": "string",
            "description": "The end date of the campaign.",
            "example": "2023-12-31"
          },
          "campaignObjective": {
            "type": "string",
            "description": "The objective of the campaign.",
            "example": "Increase brand awareness"
          },
          "controlGroupPercent": {
            "type": "integer",
            "description": "The percentage of the control group in the campaign.",
            "format": "int32",
            "example": 10
          },
          "contactFrequencyCap": {
            "type": "integer",
            "description": "The maximum number of contacts allowed for a single recipient.",
            "format": "int32",
            "example": 5
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the campaign record.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the campaign was last updated.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "Represents a single campaign design item with its properties."
      },
      "Budget": {
        "title": "Budget",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount of money allocated for the campaign.",
            "example": 1000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the budget amount is stated.",
            "example": "USD"
          }
        },
        "description": "Represents the budget associated with a campaign."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items across all pages.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Contains pagination details for the response."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "resp-67890"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking purposes.",
            "example": "corr-abcde"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp at which the response was generated.",
            "example": "2023-10-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-campaign-design-search-customer-campaign-design"
        },
        "example": "customer-campaign-design-search-customer-campaign-design"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a Bearer token for API requests. The token format is JWT (JSON Web Token), which provides a compact and self-contained way to transmit information securely between parties.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}