{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Internal Network Operations Management API",
    "description": "The Internal Network Operations Management API enables seamless monitoring and management of internal network operations within a banking infrastructure. It provides endpoints for retrieving current operational status, performance metrics, and configuration details. This API is essential for IT professionals responsible for maintaining network performance and security. Typical use cases include diagnostics, network audits, and reporting. Consumers include internal IT teams as well as third-party developers integrating with banking systems.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/internal-network-operation": {
      "get": {
        "tags": [
          "IT Management"
        ],
        "summary": "Retrieve internal network operation details.",
        "description": "This endpoint allows users to fetch detailed information about the internal network operations managed within the IT department, providing insights into current statuses and activities.",
        "operationId": "getInternalNetworkOperation",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving information related to internal network operations in the IT management context. It should contain all relevant parameters and details necessary for the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetInternalNetworkOperationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetInternalNetworkOperationResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetInternalNetworkOperationRequest": {
        "type": "string",
        "description": "The request body for the internal network operation GET request.",
        "example": "{}"
      },
      "GetInternalNetworkOperationResponse_200": {
        "title": "Network Operation Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of internal network operation items.",
            "example": [
              {
                "systemId": "STANDARD",
                "environment": "STANDARD",
                "changeId": "STANDARD",
                "ownerTeam": "STANDARD",
                "plannedAt": "2026-08-11T12:00:00Z",
                "serviceTier": "STANDARD",
                "availabilityTargetPercent": 100.0,
                "maintenanceWindow": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/NetworkOperationItem"
            }
          },
          "pagination": {
            "description": "Pagination details for the response.",
            "$ref": "#/components/schemas/PaginationInfo"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/MetadataInfo"
          }
        },
        "description": "Response schema for fetching internal network operations.",
        "example": {
          "items": [
            {
              "systemId": "STANDARD",
              "environment": "STANDARD",
              "changeId": "STANDARD",
              "ownerTeam": "STANDARD",
              "plannedAt": "2026-08-11T12:00:00Z",
              "serviceTier": "STANDARD",
              "availabilityTargetPercent": 100.0,
              "maintenanceWindow": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "06ef2692-2127-52d0-b8bd-eea7377920e4",
            "correlationId": "fb3a753b-cc2c-5798-8cb5-18db199fc2f4",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "NetworkOperationItem": {
        "title": "Network Operation Item",
        "type": "object",
        "properties": {
          "systemId": {
            "type": "string",
            "description": "Unique identifier for the system.",
            "example": "system-123"
          },
          "environment": {
            "type": "string",
            "description": "The environment in which the operation is taking place.",
            "example": "production"
          },
          "changeId": {
            "type": "string",
            "description": "Identifier for the change associated with the operation.",
            "example": "change-456"
          },
          "ownerTeam": {
            "type": "string",
            "description": "Team responsible for the operation.",
            "example": "network-team"
          },
          "plannedAt": {
            "type": "string",
            "description": "Scheduled date and time for the operation.",
            "example": "2023-01-01T12:00:00Z"
          },
          "serviceTier": {
            "type": "string",
            "description": "Tier level of the service being operated on.",
            "example": "standard"
          },
          "availabilityTargetPercent": {
            "type": "number",
            "description": "Target availability percentage for the service.",
            "example": 99.9
          },
          "maintenanceWindow": {
            "type": "string",
            "description": "Planned maintenance window for the service.",
            "example": "2023-01-01T00:00:00Z"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the operation record.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Last updated date and time of the operation record.",
            "example": "2023-01-01T01:00:00Z"
          }
        },
        "description": "Details of a single internal network operation."
      },
      "PaginationInfo": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number being retrieved.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Details for paginated responses."
      },
      "MetadataInfo": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response.",
            "example": "resp-789"
          },
          "correlationId": {
            "type": "string",
            "description": "ID to trace the request across systems.",
            "example": "corr-000"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-01-01T01:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Additional metadata information for the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "internal-network-operation-search-internal-network-operation"
        },
        "example": "internal-network-operation-search-internal-network-operation"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication method, specifically designed for JSON Web Tokens (JWT). Clients must include a JWT token in their authorization header for requests that require authentication.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}