{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Advanced Voice Services Operations API",
    "description": "The Advanced Voice Services Operations API provides businesses with the capability to access and manage advanced voice services within their banking channels. This API allows users to retrieve essential data and insights regarding voice service operations, enhancing customer interactions and operational efficiency. Typical consumers of this API include banking institutions and developers looking to integrate voice solutions into their applications. Utilize this API to streamline voice operations, ensuring a modern and responsive banking experience.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/advanced-voice-services-operations": {
      "get": {
        "tags": [
          "Advanced Voice Services"
        ],
        "summary": "Retrieve advanced voice services operations by channel",
        "description": "This endpoint allows you to fetch the operations related to advanced voice services for a specific channel, providing insights into service performance and configurations.",
        "operationId": "getAdvancedVoiceServicesOperations",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body allows clients to specify the parameters and options for retrieving advanced voice services operations. The structure must conform to the defined schema to ensure correct data is sent to the server.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAdvancedVoiceServicesOperationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was processed successfully and the expected data is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAdvancedVoiceServicesOperationsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetAdvancedVoiceServicesOperationsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the advanced voice services operations in the specified channel.",
        "example": "{}"
      },
      "GetAdvancedVoiceServicesOperationsResponse_200": {
        "title": "Advanced Voice Services Operations Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of advanced voice service items.",
            "example": [
              {
                "voicePlatformId": "STANDARD",
                "ivrFlowId": "STANDARD",
                "supportedLanguages": [
                  "STANDARD"
                ],
                "concurrentCallCapacity": 1,
                "regionCode": "US-EAST-1",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/VoiceServiceItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the GET operations on advanced voice services, containing a list of items along with pagination and metadata.",
        "example": {
          "items": [
            {
              "voicePlatformId": "STANDARD",
              "ivrFlowId": "STANDARD",
              "supportedLanguages": [
                "STANDARD"
              ],
              "concurrentCallCapacity": 1,
              "regionCode": "US-EAST-1",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "fed075b0-006f-54ea-9e9c-63cd3dfe80ab",
            "correlationId": "43751aad-cbab-5f71-8e31-75fabd3e1b20",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "VoiceServiceItem": {
        "title": "Voice Service Item",
        "type": "object",
        "properties": {
          "voicePlatformId": {
            "type": "string",
            "description": "Unique identifier for the voice platform.",
            "example": "vp123"
          },
          "ivrFlowId": {
            "type": "string",
            "description": "Identifier for the IVR flow associated with the voice service.",
            "example": "ivr123"
          },
          "supportedLanguages": {
            "type": "array",
            "description": "List of languages supported by the voice service.",
            "items": {
              "type": "string",
              "example": "en"
            }
          },
          "concurrentCallCapacity": {
            "type": "integer",
            "description": "Maximum number of concurrent calls that the service can handle.",
            "format": "int32",
            "example": 10
          },
          "regionCode": {
            "type": "string",
            "description": "Region code where the service is available.",
            "example": "US"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current recording status of the voice service.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the voice service was last updated.",
            "example": "2022-05-01T12:30:00Z"
          }
        },
        "description": "Details about a specific advanced voice service item."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 50
          }
        },
        "description": "Metadata for paginating the results."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "res123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "corr123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "2022-05-01T12:30:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "US"
          }
        },
        "description": "Metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "advanced-voice-services-operations-search-advanced-voice-services-operations"
        },
        "example": "advanced-voice-services-operations-search-advanced-voice-services-operations"
      },
      "X-Runtime-App": {
        "description": "Identifier for the application instance handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer Authentication HTTP scheme. The client sends a bearer token in the Authorization header to authenticate requests. The expected format for the bearer token is JSON Web Token (JWT).",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}