{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Corporate Billing Information API",
    "description": "The Corporate Billing Information API allows businesses to access detailed billing data associated with their corporate accounts. Users can retrieve comprehensive billing statements, payment history, and transaction details, facilitating better financial management and auditing processes. This endpoint is particularly useful for finance teams and corporate administrators seeking transparency and insights into billing activities. By leveraging this API, organizations can enhance their budgeting and forecasting efforts, ensuring that they remain informed about their expenditures.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/enterprise-services/corporate-billing/{param1}": {
      "get": {
        "tags": [
          "Corporate Billing"
        ],
        "summary": "Retrieve corporate billing details for a specific payment.",
        "description": "This endpoint allows users to fetch detailed information regarding the corporate billing for payment ID PAY-300045. It includes all relevant data related to the billing process, such as amounts, dates, and related entities, ensuring that users have comprehensive visibility into their billing status.",
        "operationId": "getCorporateBillingPay300045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve billing information associated with corporate account PAY-300045. Ensure that the input adheres to the specified schema for accurate processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCorporateBillingPay300045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the associated billing information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCorporateBillingPay300045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCorporateBillingPay300045Request": {
        "type": "string",
        "description": "This schema represents the request body format for the GET operation in the corporate billing service.",
        "example": "{}"
      },
      "GetCorporateBillingPay300045Response_200": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "965d515a-96e8-5d4b-b438-19c85f3f1360"
          },
          "supplierId": {
            "type": "string",
            "description": "Identifier for the supplier.",
            "example": "STANDARD"
          },
          "costCenter": {
            "type": "string",
            "description": "Cost center associated with the transaction.",
            "example": "STANDARD"
          },
          "amount": {
            "description": "Details concerning the transaction amount.",
            "$ref": "#/components/schemas/Amount"
          },
          "requestedBy": {
            "type": "string",
            "description": "Name or identifier of the person who requested the transaction.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version of the record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional information related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for corporate billing operations.",
        "example": {
          "requestId": "965d515a-96e8-5d4b-b438-19c85f3f1360",
          "supplierId": "STANDARD",
          "costCenter": "STANDARD",
          "amount": {
            "value": 100.0,
            "currency": "USD"
          },
          "requestedBy": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "9c8a6532-3ba2-57d4-9111-a145e36c129c",
            "correlationId": "461fb2f3-b2bf-5eb2-bc46-9bfd2e5ee46d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Amount": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "Monetary value of the transaction.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "Currency in which the transaction amount is denominated.",
            "example": "string"
          }
        },
        "description": "Details about the amount of the transaction."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to track the request across various services.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata related to the transaction response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "company-billing-and-payments-get-company-billing-and-payments"
        },
        "example": "company-billing-and-payments-get-company-billing-and-payments"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This authentication scheme uses a JSON Web Token (JWT) to securely transmit information between parties. Clients must provide the token in the authorization header as a Bearer token.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}