{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Cross-Channel Contact Routing Reviews API",
    "description": "This API facilitates the submission of reviews related to cross-channel contact routing in banking services. Businesses can utilize this endpoint to gather, analyze, and respond to customer feedback, enhancing service quality and customer satisfaction. Typical consumers include customer support teams, product managers, and analysts seeking to track customer experiences across different banking channels. By providing insights into user opinions, this API serves as a vital tool for continuous improvement and service optimization.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cross-channel/contact-routing/{param1}/reviews": {
      "post": {
        "tags": [
          "Contact Routing"
        ],
        "summary": "Create a review for the specified contact routing resource.",
        "description": "This endpoint allows the user to submit a new review for the contact routing resource identified by RES-100045. Providing detailed feedback helps improve services and supports continuous development.",
        "operationId": "createReviewForContactRoutingRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit a review for the specific contact routing endpoint identified by RES-100045. It expects a JSON payload containing the review details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateReviewForContactRoutingRes100045Request"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request accepted and is being processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateReviewForContactRoutingRes100045Response_202"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred on the server.",
            "headers": {
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateReviewForContactRoutingRes100045Response_500"
                }
              }
            }
          },
          "422": {
            "description": "The request was well-formed but unable to be processed due to semantic errors.",
            "headers": {
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateReviewForContactRoutingRes100045Response_422"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateReviewForContactRoutingRes100045Response_202": {
        "title": "Response Schema for Contact Routing Review Operations",
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "A reference identifier for the action taken.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "The type of action that was performed.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The status of the action.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "The date and time when the action was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Metadata information related to the processing of the action.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for contact routing operations related to reviews.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "7b3cbde0-f8d7-5abe-ac53-55c228ca86ae",
            "correlationId": "dbfc72ba-3c71-50f0-a1cf-754a6834a7e4",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to correlate related requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The date and time when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "This schema contains metadata related to the processing of the action."
      },
      "CreateReviewForContactRoutingRes100045Response_500": {
        "title": "Error Response for Contact Routing Reviews",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "A string representing the error code associated with the failure.",
            "example": "DOWNSTREAM_CORE_UNAVAILABLE"
          },
          "message": {
            "type": "string",
            "description": "A descriptive message detailing the reason for the failure.",
            "example": "A required core banking dependency is unavailable"
          },
          "workflow": {
            "type": "string",
            "description": "The workflow identifier related to the failed operation.",
            "example": "WF-075"
          },
          "failedAfterHop": {
            "type": "integer",
            "description": "An integer indicating the number of hops after which the failure occurred.",
            "format": "int32",
            "example": 3
          }
        },
        "description": "This schema defines the structure of the error response returned when a request to the contact routing reviews endpoint fails. It includes the error code, message, workflow information, and the number of hops after which the failure occurred.",
        "example": {
          "code": "DOWNSTREAM_CORE_UNAVAILABLE",
          "message": "A required core banking dependency is unavailable",
          "workflow": "WF-075",
          "failedAfterHop": 3
        }
      },
      "CreateReviewForContactRoutingRes100045Request": {
        "title": "Request Body for Review Operations",
        "type": "object",
        "properties": {
          "reviewReason": {
            "type": "string",
            "description": "The reason for the review.",
            "example": "STANDARD"
          },
          "reviewScope": {
            "type": "array",
            "description": "The scope of the review, indicating the areas covered.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "A specific aspect or area of the review.",
              "example": "Documentation"
            }
          },
          "assignedReviewerId": {
            "type": "string",
            "description": "The ID of the reviewer assigned to the review.",
            "example": "STANDARD"
          },
          "dueAt": {
            "type": "string",
            "description": "The due date and time for the review.",
            "example": "2026-08-11T12:00:00Z"
          },
          "requestContext": {
            "description": "Context information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for creating or updating a review operation.",
        "example": {
          "reviewReason": "STANDARD",
          "reviewScope": [
            "STANDARD"
          ],
          "assignedReviewerId": "STANDARD",
          "dueAt": "2026-08-11T12:00:00Z",
          "requestContext": {
            "requestId": "30bf38c2-250e-536b-a6aa-5e14a9ee03d1",
            "correlationId": "dbfc72ba-3c71-50f0-a1cf-754a6834a7e4",
            "idempotencyKey": "289035e7-7bc9-51ce-b7b1-914736d1c04d",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-339195"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req_456"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to correlate related requests.",
            "example": "corr_789"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is processed only once.",
            "example": "idemp_012"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-09-30T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from where the request originated.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from where the request was initiated.",
            "example": "Mobile App"
          },
          "channel": {
            "description": "Information about the communication channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request including tracing information."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel_001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the communication channel (e.g., SMS, email, etc.).",
            "example": "Email"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used to make the request.",
            "example": "device_789"
          }
        },
        "description": "Schema representing the details of the communication channel."
      },
      "CreateReviewForContactRoutingRes100045Response_422": {
        "title": "Error Response for Contact Routing Review Operation",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "A string representing the error code associated with the issue.",
            "example": "RISK_REVIEW_REJECTED"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier for tracking the request across systems.",
            "example": "82f1d50f-a252-4aa3-95d1-2e780f2ec1ee"
          },
          "message": {
            "type": "string",
            "description": "A human-readable message providing details about the error.",
            "example": "Enhanced fraud/compliance review rejected the request"
          },
          "workflow": {
            "type": "string",
            "description": "A string indicating the specific workflow context in which the error occurred.",
            "example": "WF-075"
          }
        },
        "description": "Schema representing the error response when creating a contact routing review. This response includes meaningful information about the error encountered.",
        "example": {
          "code": "RISK_REVIEW_REJECTED",
          "correlationId": "82f1d50f-a252-4aa3-95d1-2e780f2ec1ee",
          "message": "Enhanced fraud/compliance review rejected the request",
          "workflow": "WF-075"
        }
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-075"
        },
        "example": "WF-075"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "03ff6d8c-29b5-46dd-b2e2-0af58fd7f19c"
        },
        "example": "03ff6d8c-29b5-46dd-b2e2-0af58fd7f19c"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "RISK_REJECT"
        },
        "example": "RISK_REJECT"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "e0b5be6f-e4f0-4382-adb5-105cbc6e2246"
        },
        "example": "e0b5be6f-e4f0-4382-adb5-105cbc6e2246"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202",
            "MICROSERVICE_PROD_500",
            "MICROSERVICE_PROD_422"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "contact-routing-review-contact-routing-processing"
        },
        "example": "contact-routing-review-contact-routing-processing"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      },
      "X-Workflow-Id": {
        "description": "Unique identifier for the workflow associated with the error. This header helps in identifying the workflow context of the request that resulted in a 422 Unprocessable Entity response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-075"
        },
        "example": "WF-075"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow associated with the current operation, providing context about the process being executed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Omnichannel Service Routing and Handoff"
        },
        "example": "Omnichannel Service Routing and Handoff"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow, which indicates at which stage the operation is within the overall process.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the execution of the workflow, useful for tracking and correlating different operations during the workflow lifecycle.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "be99256d-84f5-4751-9cb1-25a243a8ee6a"
        },
        "example": "be99256d-84f5-4751-9cb1-25a243a8ee6a"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JSON Web Tokens (JWT) for authentication. Clients must include a valid bearer token in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}