{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Loan Application Applicants API",
    "description": "The Loan Application Applicants API enables the retrieval of applicant details for specific loan applications within the system. This endpoint is particularly useful for financial institutions and service providers involved in the loan application process. By accessing detailed applicant information, users can make informed decisions regarding loan approvals and applicant support. Typical consumers include loan officers, underwriters, and customer service representatives who require quick access to applicant data for efficient handling of applications.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{param1}/applicants": {
      "get": {
        "tags": [
          "Loan Applications"
        ],
        "summary": "Retrieve Applicants for a Specific Loan Application",
        "description": "This endpoint allows you to retrieve the list of applicants associated with a specific loan application identified by the resource ID 'RES-100045'. Use this to view details about each applicant's information and status for the loan application.",
        "operationId": "getLoanApplicationsForApplicantRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving applicant information for a specific loan application by its ID. This body must be constructed according to the specified schema to ensure compatibility and functionality.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetLoanApplicationsForApplicantRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the applicant details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLoanApplicationsForApplicantRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetLoanApplicationsForApplicantRes100045Request": {
        "title": "Loan Application Request Body",
        "type": "string",
        "description": "This schema represents the request body for retrieving applicants related to loan applications.",
        "example": "{}"
      },
      "GetLoanApplicationsForApplicantRes100045Response_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of applicants associated with the loan application.",
            "example": [
              {
                "role": "PRIMARY_HOLDER",
                "customerId": "CUST-825050",
                "relationshipToPrimary": "STANDARD",
                "income": {
                  "employmentType": "STANDARD",
                  "employerName": "Northstar Banking Service",
                  "occupation": "STANDARD",
                  "employmentStartDate": "2026-09-15",
                  "businessRegistrationNumber": "STANDARD",
                  "grossMonthlyIncome": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "netMonthlyIncome": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "otherMonthlyIncome": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "verificationStatus": "VERIFIED"
                },
                "monthlyObligations": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "declaredAssets": [
                  {
                    "assetType": "STANDARD",
                    "description": "Customer banking request processed successfully",
                    "estimatedValue": {
                      "currency": "USD",
                      "amount": "1250.75"
                    }
                  }
                ],
                "declaredLiabilities": [
                  {
                    "liabilityType": "STANDARD",
                    "lenderName": "Northstar Banking Service",
                    "outstandingBalance": {
                      "currency": "USD",
                      "amount": "1250.75"
                    },
                    "monthlyPayment": {
                      "currency": "USD",
                      "amount": "1250.75"
                    }
                  }
                ],
                "id": "d4df9d2c-14aa-69e4-2142-cff2a02b050d",
                "creditBureauStatus": "ACTIVE",
                "audit": {
                  "createdAt": "2026-09-15T14:30:00Z",
                  "createdBy": "STANDARD",
                  "updatedAt": "2026-09-15T14:30:00Z",
                  "updatedBy": "2026-09-15",
                  "version": 1
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Applicant"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for loan applications containing applicant information and metadata.",
        "example": {
          "items": [
            {
              "role": "PRIMARY_HOLDER",
              "customerId": "CUST-825050",
              "relationshipToPrimary": "STANDARD",
              "income": {
                "employmentType": "STANDARD",
                "employerName": "Northstar Banking Service",
                "occupation": "STANDARD",
                "employmentStartDate": "2026-09-15",
                "businessRegistrationNumber": "STANDARD",
                "grossMonthlyIncome": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "netMonthlyIncome": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "otherMonthlyIncome": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "verificationStatus": "VERIFIED"
              },
              "monthlyObligations": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "declaredAssets": [
                {
                  "assetType": "STANDARD",
                  "description": "Customer banking request processed successfully",
                  "estimatedValue": {
                    "currency": "USD",
                    "amount": "1250.75"
                  }
                }
              ],
              "declaredLiabilities": [
                {
                  "liabilityType": "STANDARD",
                  "lenderName": "Northstar Banking Service",
                  "outstandingBalance": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "monthlyPayment": {
                    "currency": "USD",
                    "amount": "1250.75"
                  }
                }
              ],
              "id": "d4df9d2c-14aa-69e4-2142-cff2a02b050d",
              "creditBureauStatus": "ACTIVE",
              "audit": {
                "createdAt": "2026-09-15T14:30:00Z",
                "createdBy": "STANDARD",
                "updatedAt": "2026-09-15T14:30:00Z",
                "updatedBy": "2026-09-15",
                "version": 1
              }
            }
          ],
          "metadata": {
            "responseId": "ea10c6d8-742b-5b92-a50b-11ec89212f26",
            "correlationId": "a6422d64-9a6e-57b3-9a77-7e7cee1c742a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Applicant": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "description": "Role of the applicant in the loan application process.",
            "example": "primary"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier of the customer.",
            "example": "12345"
          },
          "relationshipToPrimary": {
            "type": "string",
            "description": "Describes the applicant's relationship to the primary borrower.",
            "example": "spouse"
          },
          "income": {
            "$ref": "#/components/schemas/Income"
          },
          "monthlyObligations": {
            "$ref": "#/components/schemas/FinancialDetail"
          },
          "declaredAssets": {
            "type": "array",
            "description": "List of assets declared by the applicant.",
            "items": {
              "$ref": "#/components/schemas/Asset"
            }
          },
          "declaredLiabilities": {
            "type": "array",
            "description": "List of liabilities declared by the applicant.",
            "items": {
              "$ref": "#/components/schemas/Liability"
            }
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the applicant.",
            "example": "applicant-001"
          },
          "creditBureauStatus": {
            "type": "string",
            "description": "Current credit bureau status of the applicant.",
            "example": "good"
          },
          "audit": {
            "$ref": "#/components/schemas/Audit"
          }
        },
        "description": "Schema representing an applicant's information for a loan application."
      },
      "Income": {
        "type": "object",
        "properties": {
          "employmentType": {
            "type": "string",
            "description": "Type of employment for the applicant.",
            "example": "full-time"
          },
          "employerName": {
            "type": "string",
            "description": "Name of the employer.",
            "example": "ABC Corp"
          },
          "occupation": {
            "type": "string",
            "description": "Job title or occupation of the applicant.",
            "example": "Software Engineer"
          },
          "employmentStartDate": {
            "type": "string",
            "description": "Date when employment started in ISO 8601 format.",
            "example": "2020-01-15"
          },
          "businessRegistrationNumber": {
            "type": "string",
            "description": "Business registration number, if self-employed.",
            "example": "BRN-123456"
          },
          "grossMonthlyIncome": {
            "$ref": "#/components/schemas/Money"
          },
          "netMonthlyIncome": {
            "$ref": "#/components/schemas/Money"
          },
          "otherMonthlyIncome": {
            "$ref": "#/components/schemas/Money"
          },
          "verificationStatus": {
            "type": "string",
            "description": "Status of income verification.",
            "example": "verified"
          }
        },
        "description": "Schema representing the income details of an applicant."
      },
      "FinancialDetail": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency of the financial obligation.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "Amount of the financial obligation.",
            "example": "2500"
          }
        },
        "description": "Schema representing various financial obligations."
      },
      "Asset": {
        "type": "object",
        "properties": {
          "assetType": {
            "type": "string",
            "description": "Type of asset (e.g., property, vehicle).",
            "example": "property"
          },
          "description": {
            "type": "string",
            "description": "Detailed description of the asset.",
            "example": "House in downtown"
          },
          "estimatedValue": {
            "$ref": "#/components/schemas/Money"
          }
        },
        "description": "Schema representing an asset declared by an applicant."
      },
      "Liability": {
        "type": "object",
        "properties": {
          "liabilityType": {
            "type": "string",
            "description": "Type of liability (e.g., credit card, loan).",
            "example": "credit card"
          },
          "lenderName": {
            "type": "string",
            "description": "Name of the lender.",
            "example": "Bank ABC"
          },
          "outstandingBalance": {
            "$ref": "#/components/schemas/Money"
          },
          "monthlyPayment": {
            "$ref": "#/components/schemas/Money"
          }
        },
        "description": "Schema representing a liability declared by an applicant."
      },
      "Money": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency of the monetary amount.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "Amount of money.",
            "example": "1000"
          }
        },
        "description": "Schema representing a monetary value."
      },
      "Audit": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Date when the applicant record was created.",
            "example": "2023-01-01T10:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "User who created the record.",
            "example": "admin"
          },
          "updatedAt": {
            "type": "string",
            "description": "Date when the applicant record was last updated.",
            "example": "2023-06-01T10:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "User who last updated the record.",
            "example": "editor"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the applicant record.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Schema representing audit information for an applicant."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking related requests.",
            "example": "correlation-12345"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "2023-09-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata related to the loan application response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the API endpoint that processed the loan application request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-list-applicants"
        },
        "example": "banking-loans-openapi-list-applicants"
      },
      "X-Runtime-App": {
        "description": "Indicates the version of the runtime application that handled the request for the loan applications.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses bearer tokens, specifically in JWT format, to grant access to secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}