{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Account Recovery Management API",
    "description": "The Account Recovery Management API allows users to initiate the process of recovering their accounts by providing necessary identification information. This endpoint is primarily aimed at customers who have lost access to their accounts and need to verify their identity for secure account reinstatement. It supports various account recovery scenarios, enhancing customer experience and reducing downtime. Developers can utilize this API to integrate account recovery functionalities into their applications, ensuring seamless and secure user access restoration.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customer-management/account-recovery": {
      "get": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Retrieve account recovery information for a customer.",
        "description": "This endpoint allows you to access the account recovery details for a specific customer. Use this to assist customers in recovering their accounts when they encounter issues accessing their accounts.",
        "operationId": "getAccountRecoveryForCustomer",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for initiating the account recovery process, which includes necessary customer information for verification.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAccountRecoveryForCustomerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, and the account recovery details are returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAccountRecoveryForCustomerResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetAccountRecoveryForCustomerRequest": {
        "type": "string",
        "description": "This schema represents the request body for the account recovery operation in the customer management system.",
        "example": "{}"
      },
      "GetAccountRecoveryForCustomerResponse_200": {
        "title": "Account Recovery Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of customer account recovery items.",
            "example": [
              {
                "customerId": "CUST-487562",
                "partyId": "PARTY-821792",
                "productCode": "CHK-PREMIUM-US",
                "effectiveDate": "2026-09-15",
                "relationshipTier": "GOLD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/AccountRecoveryItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the items returned.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for account recovery operation providing customer data and pagination information.",
        "example": {
          "items": [
            {
              "customerId": "CUST-487562",
              "partyId": "PARTY-821792",
              "productCode": "CHK-PREMIUM-US",
              "effectiveDate": "2026-09-15",
              "relationshipTier": "GOLD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "c19c7bb9-003c-5ddb-8c7f-fb6a9971550c",
            "correlationId": "3b2c2a90-b5af-556b-9508-2691f4746eb5",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AccountRecoveryItem": {
        "title": "Account Recovery Item",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST12345"
          },
          "partyId": {
            "type": "string",
            "description": "Unique identifier for the party associated with the customer.",
            "example": "PARTY12345"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product associated with the customer account.",
            "example": "PROD67890"
          },
          "effectiveDate": {
            "type": "string",
            "description": "Date when the customer account became effective.",
            "example": "2023-01-01"
          },
          "relationshipTier": {
            "type": "string",
            "description": "Tier level of the customer relationship.",
            "example": "Gold"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the customer record.",
            "example": "Active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the record.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "Details of a customer account recovery item."
      },
      "Pagination": {
        "title": "Pagination Info",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Information about pagination of the response."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking related requests.",
            "example": "CORR67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "account-recovery-search-account-recovery"
        },
        "example": "account-recovery-search-account-recovery"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme utilizing bearer tokens, specifically in JWT (JSON Web Token) format. This method allows secure access to resources by including the token in the authorization header of HTTP requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}