{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Update Correspondent Bank Directory API",
    "description": "This API enables clients to update details in the Correspondent Bank Directory, which serves as a vital resource for financial institutions seeking to manage and maintain their international banking relationships. By utilizing this endpoint, users can modify existing bank entries, ensuring that their directory reflects accurate and up-to-date information. Typical consumers of this API include banking institutions, financial service providers, and compliance teams that rely on precise banking data for efficient operations. This facility streamlines banking operations and enhances collaboration in global finance.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/external-agency/correspondent-bank-directory/{param1}": {
      "put": {
        "tags": [
          "Correspondent Bank Management"
        ],
        "summary": "Update Correspondent Bank Directory Entry",
        "description": "This endpoint allows you to update the details of a specific correspondent bank entry identified by RES-100045 in the external agency's bank directory. Ensure that you provide all necessary details in the request body to successfully complete the update.",
        "operationId": "updateCorrespondentBankDirectoryRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body allows you to update the correspondent bank information in the bank directory with the specified resource ID. Please ensure that you include all required fields as defined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCorrespondentBankDirectoryRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateCorrespondentBankDirectoryRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateCorrespondentBankDirectoryRes100045Request": {
        "title": "Correspondent Bank Directory Update Request",
        "type": "object",
        "properties": {
          "institutionId": {
            "type": "string",
            "description": "Unique identifier for the financial institution.",
            "example": "STANDARD"
          },
          "agreementId": {
            "type": "string",
            "description": "Identifier for the agreement associated with the correspondent bank.",
            "example": "AGR-668882"
          },
          "bic": {
            "type": "string",
            "description": "Business Identifier Code for the correspondent bank.",
            "example": "STANDARD"
          },
          "countryCode": {
            "type": "string",
            "description": "Country code where the correspondent bank is located.",
            "example": "US"
          },
          "effectiveDate": {
            "type": "string",
            "description": "Date from which the update becomes effective.",
            "example": "2026-09-15"
          },
          "nostroAccountId": {
            "type": "string",
            "description": "Identifier for the nostro account.",
            "example": "ACC-864925"
          },
          "settlementCurrency": {
            "type": "string",
            "description": "Currency used for settlement.",
            "example": "USD"
          },
          "relationshipStatus": {
            "type": "string",
            "description": "Current relationship status with the correspondent bank.",
            "example": "ACTIVE"
          },
          "requestContext": {
            "description": "Contextual information pertaining to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for requesting an update to the correspondent bank directory.",
        "example": {
          "institutionId": "STANDARD",
          "agreementId": "AGR-668882",
          "bic": "STANDARD",
          "countryCode": "US",
          "effectiveDate": "2026-09-15",
          "nostroAccountId": "ACC-864925",
          "settlementCurrency": "USD",
          "relationshipStatus": "ACTIVE",
          "requestContext": {
            "requestId": "a4665455-b62a-53fb-812f-55ce374b6acb",
            "correlationId": "c57b9b95-1def-560c-9c73-1f48ff072473",
            "idempotencyKey": "1cc39a67-5064-50a7-8e69-bfd5251a6595",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-555544"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the correlation of requests.",
            "example": "CORREL-456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the operation is idempotent.",
            "example": "IDEMP123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "CoreBankingSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "BankingApp"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema providing contextual information for the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "CHAN123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used (e.g., API, Mobile, Web).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "DEVICE-456"
          }
        },
        "description": "Schema representing the channel used for the request."
      },
      "UpdateCorrespondentBankDirectoryRes100045Response_200": {
        "type": "object",
        "properties": {
          "institutionId": {
            "type": "string",
            "description": "Unique identifier for the financial institution.",
            "example": "STANDARD"
          },
          "agreementId": {
            "type": "string",
            "description": "Identifier for the agreement associated with the institution.",
            "example": "AGR-516541"
          },
          "countryCode": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2 country code where the institution is located.",
            "example": "US"
          },
          "nostroAccountId": {
            "type": "string",
            "description": "Identifier for the nostro account held by the institution.",
            "example": "ACC-643993"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the record.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the record.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the operation related to the correspondent bank directory.",
        "example": {
          "institutionId": "STANDARD",
          "agreementId": "AGR-516541",
          "countryCode": "US",
          "nostroAccountId": "ACC-643993",
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "30ae6b66-0ba4-5e2c-940b-9695914dee83",
            "correlationId": "c57b9b95-1def-560c-9c73-1f48ff072473",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to track the correlation between requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request took place.",
            "example": "string"
          }
        },
        "description": "Metadata associated with the response, providing contextual information."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being called. This identifier aids in tracing the request and managing endpoint-specific logic.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "correspondent-bank-directory-upsert-correspondent-bank-directory-record"
        },
        "example": "correspondent-bank-directory-upsert-correspondent-bank-directory-record"
      },
      "X-Runtime-App": {
        "description": "The name of the runtime application that processed the request. Useful for monitoring and logging the application that handled the API interaction.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer authentication method. Clients must include a token in the Authorization header in the format 'Bearer {token}', where {token} is a JSON Web Token (JWT) that grants access to the API.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}