{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Payment Reversal API",
    "description": "The Payment Reversal API facilitates the process of reversing a payment transaction identified by its unique payment ID. This endpoint allows businesses to manage payment disputes or errors by initiating a reversal request, ensuring proper transaction handling and financial accuracy. Typically utilized by financial institutions and payment processing systems, it helps streamline operations in cases of refunds, canceled transactions, or other adjustments. Users can expect timely feedback on the reversal status to inform further actions in their payment workflows.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/payments/{paymentId}/reverse": {
      "post": {
        "tags": [
          "Payment Operations"
        ],
        "summary": "Reverse a payment transaction.",
        "description": "This endpoint allows you to reverse a specific payment transaction identified by its unique ID. It is important to ensure that the payment is eligible for reversal based on your business rules before invoking this action.",
        "operationId": "reversePaymentPay300045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to reverse a payment with the ID PAY-300045. It must contain the required information to process the reversal securely and accurately.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReversePaymentPay300045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The reversal request was processed successfully, and the payment has been reversed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReversePaymentPay300045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ReversePaymentPay300045Request": {
        "title": "Payment Reverse Request",
        "type": "object",
        "properties": {
          "amount": {
            "description": "Details of the amount involved in the payment reversal.",
            "$ref": "#/components/schemas/AmountDetails"
          },
          "reasonCode": {
            "type": "string",
            "description": "Code representing the reason for the payment reversal.",
            "example": "CODE-770"
          },
          "reason": {
            "type": "string",
            "description": "Description of the reason for the payment reversal.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing a request body for reversing a payment operation.",
        "example": {
          "amount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "reasonCode": "CODE-770",
          "reason": "STANDARD",
          "requestContext": {
            "requestId": "1be8f1ea-a802-5519-b463-c07a34a31f68",
            "correlationId": "23710e79-455c-5d59-9444-a78fcb50f0b0",
            "idempotencyKey": "c5651487-3203-5d98-b53c-a7ee69493197",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-828989"
            }
          }
        }
      },
      "AmountDetails": {
        "title": "Amount Details",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Three-letter currency code.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "String representation of the amount value.",
            "example": "100.00"
          }
        },
        "description": "Schema representing the details of the amount including currency and value."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-123456789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating between requests.",
            "example": "corr-123456789"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of the request.",
            "example": "idempotency-123456"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier of the source system originating the request.",
            "example": "SystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier of the source application making the request.",
            "example": "AppA"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/ChannelDetails"
          }
        },
        "description": "Schema containing contextual information for the request."
      },
      "ChannelDetails": {
        "title": "Channel Details",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device used for the request.",
            "example": "device-123"
          }
        },
        "description": "Schema representing the details of the channel through which the request is made."
      },
      "ReversePaymentPay300045Response_200": {
        "title": "Payment Reverse Operation Response",
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "The unique identifier for the payment.",
            "example": "PAY-123632"
          },
          "paymentIntentId": {
            "type": "string",
            "description": "The unique identifier for the payment intent.",
            "example": "STANDARD"
          },
          "qrPaymentRequestId": {
            "type": "string",
            "description": "The unique identifier for the QR payment request.",
            "example": "15f7d7ec-8a0e-53ad-a2cf-1ac99cf413e2"
          },
          "merchantId": {
            "type": "string",
            "description": "The unique identifier for the merchant.",
            "example": "MER-731406"
          },
          "outletId": {
            "type": "string",
            "description": "The unique identifier for the outlet.",
            "example": "STANDARD"
          },
          "terminalId": {
            "type": "string",
            "description": "The unique identifier for the terminal.",
            "example": "STANDARD"
          },
          "merchantOrderId": {
            "type": "string",
            "description": "The unique identifier for the merchant's order.",
            "example": "ORD-419701"
          },
          "channel": {
            "type": "string",
            "description": "The channel through which the payment was processed.",
            "example": "STANDARD"
          },
          "paymentMethod": {
            "description": "Details about the payment method used for the transaction.",
            "$ref": "#/components/schemas/PaymentMethod"
          },
          "customer": {
            "description": "Information about the customer who made the payment.",
            "$ref": "#/components/schemas/Customer"
          },
          "amounts": {
            "description": "Details concerning the amounts involved in the payment operation.",
            "$ref": "#/components/schemas/Amounts"
          },
          "metadata": {
            "description": "Additional information related to the payment operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response received from reversing a payment operation.",
        "example": {
          "paymentId": "PAY-123632",
          "paymentIntentId": "STANDARD",
          "qrPaymentRequestId": "15f7d7ec-8a0e-53ad-a2cf-1ac99cf413e2",
          "merchantId": "MER-731406",
          "outletId": "STANDARD",
          "terminalId": "STANDARD",
          "merchantOrderId": "ORD-419701",
          "channel": "STANDARD",
          "paymentMethod": {
            "type": "STANDARD",
            "token": "STANDARD",
            "issuerBankCode": "CODE-634",
            "maskedIdentifier": "STANDARD",
            "walletProvider": "STANDARD"
          },
          "customer": {
            "id": "STANDARD",
            "name": "Northstar Banking Service",
            "email": "olivia.bennett@northstar.example",
            "phone": "+1-212-555-0147",
            "riskSegment": "STANDARD"
          },
          "amounts": {
            "requested": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "authorized": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "captured": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "refunded": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "reversed": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "tip": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "fees": [
              {
                "feeType": "STANDARD",
                "amount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "bearer": "CUSTOMER"
              }
            ],
            "netToMerchant": {
              "currency": "USD"
            }
          },
          "metadata": {
            "responseId": "31787655-cba1-5cfb-bf94-0ae38e8643aa",
            "correlationId": "23710e79-455c-5d59-9444-a78fcb50f0b0",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentMethod": {
        "title": "Payment Method Details",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "The type of payment method used.",
            "example": "string"
          },
          "token": {
            "type": "string",
            "description": "The token associated with the payment method.",
            "example": "string"
          },
          "issuerBankCode": {
            "type": "string",
            "description": "The code of the bank that issued the payment method.",
            "example": "string"
          },
          "maskedIdentifier": {
            "type": "string",
            "description": "A masked identifier for the payment method.",
            "example": "string"
          },
          "walletProvider": {
            "type": "string",
            "description": "The wallet provider used for the payment.",
            "example": "string"
          }
        },
        "description": "This schema represents the details related to the payment method used in a transaction."
      },
      "Customer": {
        "title": "Customer Information",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "string"
          },
          "name": {
            "type": "string",
            "description": "The name of the customer.",
            "example": "string"
          },
          "email": {
            "type": "string",
            "description": "The email address of the customer.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "The phone number of the customer.",
            "example": "string"
          },
          "riskSegment": {
            "type": "string",
            "description": "The risk segment associated with the customer.",
            "example": "string"
          }
        },
        "description": "This schema represents the details of the customer who made the payment."
      },
      "Amounts": {
        "title": "Amounts Involved in Payment",
        "type": "object",
        "properties": {
          "requested": {
            "description": "The amount requested for the payment.",
            "$ref": "#/components/schemas/AmountDetail"
          },
          "authorized": {
            "description": "The amount that was authorized for the payment.",
            "$ref": "#/components/schemas/AmountDetail"
          },
          "captured": {
            "description": "The amount that was captured from the payment.",
            "$ref": "#/components/schemas/AmountDetail"
          },
          "refunded": {
            "description": "The amount that was refunded to the customer.",
            "$ref": "#/components/schemas/AmountDetail"
          },
          "reversed": {
            "description": "The amount that was reversed from the payment.",
            "$ref": "#/components/schemas/AmountDetail"
          },
          "tip": {
            "description": "The tip amount included in the payment.",
            "$ref": "#/components/schemas/AmountDetail"
          },
          "fees": {
            "type": "array",
            "description": "A list of fees associated with the payment.",
            "items": {
              "$ref": "#/components/schemas/FeeDetail"
            }
          },
          "netToMerchant": {
            "description": "The net amount that the merchant received after deductions.",
            "$ref": "#/components/schemas/AmountDetail"
          }
        },
        "description": "This schema represents different monetary values associated with the payment, such as requested, authorized, captured, etc."
      },
      "AmountDetail": {
        "title": "Amount Detail",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency code of the amount.",
            "example": "string"
          },
          "value": {
            "type": "string",
            "description": "The monetary value.",
            "example": "string"
          }
        },
        "description": "This schema represents the detailed structure of an amount, including currency and value."
      },
      "FeeDetail": {
        "title": "Fee Detail",
        "type": "object",
        "properties": {
          "feeType": {
            "type": "string",
            "description": "The type of fee applied.",
            "example": "string"
          },
          "amount": {
            "description": "The amount of the fee.",
            "$ref": "#/components/schemas/AmountDetail"
          },
          "bearer": {
            "type": "string",
            "description": "The party responsible for the fee.",
            "example": "string"
          }
        },
        "description": "This schema contains details about a fee associated with a payment."
      },
      "Metadata": {
        "title": "Metadata Details",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracing requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the payment was processed.",
            "example": "string"
          }
        },
        "description": "This schema includes various metadata related to the payment operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint that was hit during the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-reverse-payment"
        },
        "example": "banking-p2m-openapi-reverse-payment"
      },
      "X-Runtime-App": {
        "description": "Name of the application handling the payment processing request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer Authentication scheme, allowing users to authenticate by providing a JSON Web Token (JWT) in the request. The JWT should be sent in the Authorization header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}