{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Competitor Reviews Submission API",
    "description": "The Competitor Reviews Submission API allows businesses to submit reviews related to competitor activities. This endpoint is designed for companies to gather insights and feedback on competitor products or services by sending detailed review data. Typical consumers include market analysts and business development teams seeking to understand competitive positioning. Users can leverage this information to inform strategic decisions and enhance market strategies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/business-analysis/competitor-analysis/{param1}/reviews": {
      "post": {
        "tags": [
          "Competitor Analysis"
        ],
        "summary": "Submit a review for a competitor analysis.",
        "description": "This endpoint allows users to submit reviews related to a specific competitor analysis. Ensure that all required fields are filled out correctly to enhance the quality of the feedback.",
        "operationId": "postCompetitorAnalysisReviewsRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit reviews for the competitor analysis with the ID RES-100045. It requires a JSON object containing the review details, as defined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostCompetitorAnalysisReviewsRes100045Request"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request accepted for processing successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostCompetitorAnalysisReviewsRes100045Response_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PostCompetitorAnalysisReviewsRes100045Request": {
        "title": "Competitor Analysis Review Request",
        "type": "object",
        "properties": {
          "reviewReason": {
            "type": "string",
            "description": "The reason for submitting the review.",
            "example": "STANDARD"
          },
          "reviewScope": {
            "type": "array",
            "description": "An array defining the scope of the review.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "A specific aspect of the review scope.",
              "example": "Customer service"
            }
          },
          "assignedReviewerId": {
            "type": "string",
            "description": "Identifier of the reviewer assigned to this review.",
            "example": "STANDARD"
          },
          "dueAt": {
            "type": "string",
            "description": "The due date by which the review must be completed, in ISO 8601 format.",
            "example": "2026-08-11T12:00:00Z"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for submitting a review in the Competitor Analysis operation.",
        "example": {
          "reviewReason": "STANDARD",
          "reviewScope": [
            "STANDARD"
          ],
          "assignedReviewerId": "STANDARD",
          "dueAt": "2026-08-11T12:00:00Z",
          "requestContext": {
            "requestId": "dd95d5c7-b9b7-5e7d-ba84-70bca1d9a66d",
            "correlationId": "18eaff51-711c-5dfa-89c4-1cc2ec97dcf9",
            "idempotencyKey": "c10568a9-b4cc-5a3b-81c2-310fd4cafe5c",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-358662"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple requests.",
            "example": "corr-456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotent requests.",
            "example": "idemp-111"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made, in ISO 8601 format.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name of the source system originating the request.",
            "example": "CRM System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application originating the request.",
            "example": "ReviewApp"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing contextual information for the review request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., Web, Mobile, API).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used, if applicable.",
            "example": "device-456"
          }
        },
        "description": "Schema representing information about the channel involved in the request."
      },
      "PostCompetitorAnalysisReviewsRes100045Response_202": {
        "title": "Competitor Analysis Review Response",
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "Reference identifier for the action taken.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "Type of action that was performed.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the review operation.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "Timestamp indicating when the processing was completed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Metadata related to the review operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the competitor analysis review operation, detailing the action performed, its status, and related metadata.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "f570663e-7525-5b40-82e4-0404d239d659",
            "correlationId": "18eaff51-711c-5dfa-89c4-1cc2ec97dcf9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate this response with other related operations.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when this metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing for this request took place.",
            "example": "string"
          }
        },
        "description": "Metadata information associated with the review response, including identifiers and processing details."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed. This header helps to track which specific API endpoint is being used.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "competitor-analysis-review-competitor-analysis"
        },
        "example": "competitor-analysis-review-competitor-analysis"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is generating the request. This header aids in identifying the source of the API call.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that utilizes JSON Web Tokens (JWT) for secure access management. Clients should include the JWT in the Authorization header using the 'Bearer' prefix.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}