{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Investment Portfolio Analysis API",
    "description": "The Investment Portfolio Analysis API provides tools for users to analyze and evaluate their investment portfolios. This API enables businesses to retrieve detailed insights into portfolio performance, risk assessment, and asset allocation. Financial analysts and investment managers can leverage this API to make data-driven decisions and optimize investment strategies. By integrating this API, organizations can enhance their investment management processes and provide valuable insights to their clients.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/investment-management/investment-portfolio-analysis": {
      "get": {
        "tags": [
          "Investment Management"
        ],
        "summary": "Retrieve an investment portfolio analysis.",
        "description": "This endpoint allows users to obtain a detailed analysis of their investment portfolio, providing insights into performance metrics, risk levels, and asset allocation.",
        "operationId": "getInvestmentPortfolioAnalysis",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is designed to provide inputs necessary for performing an investment portfolio analysis. The required parameters for the analysis, such as portfolio details and user preferences, must be included in the payload as structured data in JSON format.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetInvestmentPortfolioAnalysisRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of investment portfolio analysis.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetInvestmentPortfolioAnalysisResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetInvestmentPortfolioAnalysisRequest": {
        "title": "Investment Portfolio Analysis Request Body",
        "type": "string",
        "description": "This schema represents the request body for the Investment Portfolio Analysis operation, specifically for the GET request.",
        "example": "{}"
      },
      "GetInvestmentPortfolioAnalysisResponse_200": {
        "title": "Investment Portfolio Analysis Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of investment portfolio details.",
            "example": [
              {
                "portfolioId": "PORT-752968",
                "investmentAccountId": "ACC-409026",
                "investmentObjective": "STANDARD",
                "riskProfile": "STANDARD",
                "baseCurrency": "USD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/InvestmentPortfolio"
            }
          },
          "pagination": {
            "description": "Pagination information for the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sort criteria applied to the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata regarding the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the Investment Portfolio Analysis operation, containing a list of investment portfolios, pagination information, sorting details, and metadata.",
        "example": {
          "items": [
            {
              "portfolioId": "PORT-752968",
              "investmentAccountId": "ACC-409026",
              "investmentObjective": "STANDARD",
              "riskProfile": "STANDARD",
              "baseCurrency": "USD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "b0647cc9-fc0f-534a-8460-2ef3f7425239",
            "correlationId": "ae7dd17f-92c5-5b18-91eb-64319a5e6f05",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "InvestmentPortfolio": {
        "title": "Investment Portfolio",
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "Unique identifier for the portfolio.",
            "example": "string"
          },
          "investmentAccountId": {
            "type": "string",
            "description": "Identifier for the investment account associated with the portfolio.",
            "example": "string"
          },
          "investmentObjective": {
            "type": "string",
            "description": "The objective of the investment, e.g., growth, income.",
            "example": "string"
          },
          "riskProfile": {
            "type": "string",
            "description": "The risk profile of the investment portfolio.",
            "example": "string"
          },
          "baseCurrency": {
            "type": "string",
            "description": "The base currency in which investments are denominated.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record (e.g., active, inactive).",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the portfolio was last updated.",
            "example": "string"
          }
        },
        "description": "Detailed information about an investment portfolio."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Information related to the pagination of the response items."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the API response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request correlation.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata information regarding the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that was called. This helps in tracking and logging of API requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "investment-portfolio-analysis-search-investment-portfolio-analysis"
        },
        "example": "investment-portfolio-analysis-search-investment-portfolio-analysis"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request. This is useful for identifying the source of the request in a microservices architecture.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that utilizes JSON Web Tokens (JWT). The client must include the JWT in the 'Authorization' header of requests to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}