{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Economic Capital Model Retrieval API",
    "description": "The Economic Capital Model Retrieval API provides access to detailed economic capital models used in banking. This API allows stakeholders to retrieve specific economic capital calculations based on unique parameters, facilitating risk assessment and regulatory compliance. Typical consumers include financial analysts, risk managers, and compliance officers who need precise data to inform decision-making and financial strategies. By leveraging this API, users can ensure they are utilizing the most accurate and relevant models available.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/models/economic-capital/{param1}": {
      "get": {
        "tags": [
          "Economic Capital"
        ],
        "summary": "Retrieve Economic Capital Model by ID",
        "description": "This endpoint allows you to retrieve the details of a specific Economic Capital Model using its unique identifier. You will receive all relevant information regarding the model, providing insights into its structure and data.",
        "operationId": "getEconomicCapitalModelById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve specific economic capital model data for the identifier RES-100045. The data requested can include various operational metrics related to the economic capital model, tailored to the needs of the user making the API call.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetEconomicCapitalModelByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the requested economic capital model data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetEconomicCapitalModelByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetEconomicCapitalModelByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to economic capital.",
        "example": "{}"
      },
      "GetEconomicCapitalModelByIdResponse_200": {
        "title": "Economic Capital Response Object",
        "type": "object",
        "properties": {
          "modelId": {
            "type": "string",
            "description": "The unique identifier of the economic capital model.",
            "example": "STANDARD"
          },
          "modelVersion": {
            "type": "string",
            "description": "The version of the economic capital model.",
            "example": "STANDARD"
          },
          "portfolioId": {
            "type": "string",
            "description": "The unique identifier for the portfolio associated with the model results.",
            "example": "PORT-854469"
          },
          "asOfDate": {
            "type": "string",
            "description": "The date as of which the model results are relevant, formatted as a string (e.g., 'YYYY-MM-DD').",
            "example": "2026-09-15"
          },
          "scenario": {
            "type": "string",
            "description": "The scenario under which the economic capital is calculated.",
            "example": "STANDARD"
          },
          "confidenceLevel": {
            "type": "number",
            "description": "The confidence level associated with the economic capital results, expressed as a percentage.",
            "example": 100.0
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the record (e.g., active, inactive).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the response record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the record was last updated, formatted as a string.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response, including identifiers and timestamps.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Schema representing the response for the economic capital model retrieval.",
        "example": {
          "modelId": "STANDARD",
          "modelVersion": "STANDARD",
          "portfolioId": "PORT-854469",
          "asOfDate": "2026-09-15",
          "scenario": "STANDARD",
          "confidenceLevel": 100.0,
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "97073fde-0208-5a5c-b023-9b4cd4e6a1ff",
            "correlationId": "a8d9e11a-27da-5736-9e4a-0a3c4cd72683",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "A correlation identifier for tracking requests across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp at which the response was generated, formatted as a string.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request took place.",
            "example": "string"
          }
        },
        "description": "Schema containing metadata information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "economic-capital-get-economic-capital"
        },
        "example": "economic-capital-get-economic-capital"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication using a Bearer token. The token should be in JSON Web Token (JWT) format, allowing secure transmission of information between parties as a JSON object.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}