{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Party Authentication API",
    "description": "The Party Authentication API facilitates the secure authentication of users within the banking ecosystem. This API allows for the verification and updating of authentication details for a specified party, ensuring robust identity management. Typical consumers include banking applications that require real-time updates to user authentication statuses and external services that need to integrate securely into the banking framework. This enhances both user experience and security by allowing seamless updates and maintenance of authentication state.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cross-channel/party-authentication/{param1}": {
      "patch": {
        "tags": [
          "Party Authentication"
        ],
        "summary": "Update party authentication details.",
        "description": "This endpoint allows you to update the authentication details for a specific party identified by PARTY-600045. Use this operation to modify attributes related to party authentication securely and efficiently.",
        "operationId": "patchPartyAuthenticationParty600045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the authentication details for the specified party in the cross-channel system. Provide the necessary fields to modify the party's authentication information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchPartyAuthenticationParty600045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully updated the resource.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchPartyAuthenticationParty600045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchPartyAuthenticationParty600045Request": {
        "type": "object",
        "properties": {
          "changes": {
            "description": "Contains the details regarding the changes to be made in the party authentication.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change request.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time at which the changes become effective.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user or system who requested the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for updating party authentication details.",
        "example": {
          "changes": {
            "partyId": "PARTY-611552",
            "interactionId": "INT-624690",
            "channel": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "282c15da-5602-5a52-ab95-d8340f9e7d8a",
            "correlationId": "d746681c-b5fc-5544-8ed1-53bd8fdf50a8",
            "idempotencyKey": "4115c743-10e0-5e44-9792-6d4887f4444d",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-666319"
            }
          }
        }
      },
      "Changes": {
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "Unique identifier for the party.",
            "example": "party_001"
          },
          "interactionId": {
            "type": "string",
            "description": "Unique identifier for the interaction.",
            "example": "interaction_001"
          },
          "channel": {
            "type": "string",
            "description": "Identifier for the channel through which the interaction took place.",
            "example": "web"
          }
        },
        "description": "Details of the changes to party authentication."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req_001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate related requests and responses.",
            "example": "corr_001"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is idempotent.",
            "example": "idemp_001"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T09:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system from which the request originated.",
            "example": "internalSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "app_001"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Context information for the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel_001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the interaction.",
            "example": "device_001"
          }
        },
        "description": "Information regarding the communication channel."
      },
      "PatchPartyAuthenticationParty600045Response_200": {
        "title": "Party Authentication Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response format.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the authentication request.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the authentication record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Contains additional information about the authentication response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for a party authentication operation.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "f2625e3f-8291-550b-9a1b-0e24a3b96f60",
            "correlationId": "d746681c-b5fc-5544-8ed1-53bd8fdf50a8",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "correlation-54321"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-03T09:59:59Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "us-west-2"
          }
        },
        "description": "This schema captures metadata for the authentication response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "This header uniquely identifies the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "party-authentication-update-party-authentication"
        },
        "example": "party-authentication-update-party-authentication"
      },
      "X-Runtime-App": {
        "description": "This header indicates the runtime application where the request was executed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication format utilizing JSON Web Tokens (JWT). It is commonly used to authorize access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}