{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Payment Details Retrieval API",
    "description": "The Payment Details Retrieval API enables clients to access detailed information about specific payment transactions using their unique identifiers. This endpoint allows users to retrieve essential data such as payment status, amount, and associated timestamps. Typical consumers include finance teams, reconciliation systems, and platforms requiring payment verification. By providing real-time insights into payment transactions, this API supports efficient financial operations and enhances transparency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/payments/{paymentId}": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Retrieve payment details",
        "description": "Fetches detailed information about a specific payment identified by its unique ID. This endpoint allows you to access relevant data such as amount, status, and associated customer information.",
        "operationId": "getPaymentById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the payment details for the specified payment ID. Make sure to provide all necessary parameters to receive accurate information regarding the payment status and related transactions.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPaymentByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the payment details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPaymentByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPaymentByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation in the payments API. It is a placeholder for the actual JSON structure that should be used in the request.",
        "example": "{}"
      },
      "GetPaymentByIdResponse_200": {
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "The unique identifier for the payment.",
            "example": "PAY-400101"
          },
          "paymentIntentId": {
            "type": "string",
            "description": "The identifier for the payment intent associated with this payment.",
            "example": "STANDARD"
          },
          "qrPaymentRequestId": {
            "type": "string",
            "description": "The request ID for the QR payment, if applicable.",
            "example": "5f0c6472-88de-5cd4-9262-7aa471e447e1"
          },
          "merchantId": {
            "type": "string",
            "description": "The unique identifier of the merchant processing this payment.",
            "example": "MER-610408"
          },
          "outletId": {
            "type": "string",
            "description": "The identifier for the outlet where the payment was made.",
            "example": "STANDARD"
          },
          "terminalId": {
            "type": "string",
            "description": "The terminal identifier used to process the payment.",
            "example": "STANDARD"
          },
          "merchantOrderId": {
            "type": "string",
            "description": "The order identifier for the merchant.",
            "example": "ORD-547794"
          },
          "channel": {
            "type": "string",
            "description": "The channel through which the payment is made.",
            "example": "STANDARD"
          },
          "paymentMethod": {
            "description": "Information about the payment method used.",
            "$ref": "#/components/schemas/PaymentMethod"
          },
          "customer": {
            "description": "Information about the customer making the payment.",
            "$ref": "#/components/schemas/Customer"
          },
          "amounts": {
            "description": "Details of the monetary amounts related to the payment transaction.",
            "$ref": "#/components/schemas/Amounts"
          },
          "metadata": {
            "description": "Metadata related to the payment response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the successful response for payment operations.",
        "example": {
          "paymentId": "PAY-400101",
          "paymentIntentId": "STANDARD",
          "qrPaymentRequestId": "5f0c6472-88de-5cd4-9262-7aa471e447e1",
          "merchantId": "MER-610408",
          "outletId": "STANDARD",
          "terminalId": "STANDARD",
          "merchantOrderId": "ORD-547794",
          "channel": "STANDARD",
          "paymentMethod": {
            "type": "STANDARD",
            "token": "STANDARD",
            "issuerBankCode": "CODE-850",
            "maskedIdentifier": "STANDARD",
            "walletProvider": "STANDARD"
          },
          "customer": {
            "id": "STANDARD",
            "name": "Northstar Banking Service",
            "email": "olivia.bennett@northstar.example",
            "phone": "+1-212-555-0147",
            "riskSegment": "STANDARD"
          },
          "amounts": {
            "requested": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "authorized": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "captured": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "refunded": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "reversed": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "tip": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "fees": [
              {
                "feeType": "STANDARD",
                "amount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "bearer": "CUSTOMER"
              }
            ],
            "netToMerchant": {
              "currency": "USD"
            }
          },
          "metadata": {
            "responseId": "39113e93-4c34-51ec-ad6c-20fc196c66fc",
            "correlationId": "5454bf85-46aa-54cd-8cf0-711ec971f4ce",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentMethod": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "The type of payment method (e.g., card, wallet).",
            "example": "string"
          },
          "token": {
            "type": "string",
            "description": "Token associated with the payment method for secure transactions.",
            "example": "string"
          },
          "issuerBankCode": {
            "type": "string",
            "description": "The bank code of the issuer bank.",
            "example": "string"
          },
          "maskedIdentifier": {
            "type": "string",
            "description": "The masked identifier for the payment method (e.g., card number).",
            "example": "string"
          },
          "walletProvider": {
            "type": "string",
            "description": "The provider of the wallet if the payment method is a wallet.",
            "example": "string"
          }
        },
        "description": "Schema representing details about the payment method used."
      },
      "Customer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "string"
          },
          "name": {
            "type": "string",
            "description": "The name of the customer.",
            "example": "string"
          },
          "email": {
            "type": "string",
            "description": "The email address of the customer.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "The phone number of the customer.",
            "example": "string"
          },
          "riskSegment": {
            "type": "string",
            "description": "The risk segment assigned to the customer.",
            "example": "string"
          }
        },
        "description": "Schema representing customer information."
      },
      "Amounts": {
        "type": "object",
        "properties": {
          "requested": {
            "description": "Amount requested for the payment.",
            "$ref": "#/components/schemas/MonetaryAmount"
          },
          "authorized": {
            "description": "Amount authorized for the payment.",
            "$ref": "#/components/schemas/MonetaryAmount"
          },
          "captured": {
            "description": "Amount captured from the payment.",
            "$ref": "#/components/schemas/MonetaryAmount"
          },
          "refunded": {
            "description": "Amount refunded from the payment.",
            "$ref": "#/components/schemas/MonetaryAmount"
          },
          "reversed": {
            "description": "Amount reversed from the payment.",
            "$ref": "#/components/schemas/MonetaryAmount"
          },
          "tip": {
            "description": "Tip amount associated with the payment.",
            "$ref": "#/components/schemas/MonetaryAmount"
          },
          "fees": {
            "type": "array",
            "description": "List of fees associated with the payment.",
            "items": {
              "$ref": "#/components/schemas/Fee"
            }
          },
          "netToMerchant": {
            "description": "Net amount that goes to the merchant after fees.",
            "$ref": "#/components/schemas/MonetaryAmount"
          }
        },
        "description": "Schema representing various amounts involved in the payment."
      },
      "MonetaryAmount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency code (e.g., USD, EUR).",
            "example": "string"
          },
          "value": {
            "type": "string",
            "description": "The numerical value of the amount.",
            "example": "string"
          }
        },
        "description": "Schema representing a monetary amount with currency."
      },
      "Fee": {
        "type": "object",
        "properties": {
          "feeType": {
            "type": "string",
            "description": "The type of fee (e.g., transaction fee).",
            "example": "string"
          },
          "amount": {
            "description": "The amount of the fee.",
            "$ref": "#/components/schemas/MonetaryAmount"
          },
          "bearer": {
            "type": "string",
            "description": "Indicates who bears the fee (e.g., merchant, customer).",
            "example": "string"
          }
        },
        "description": "Schema representing a fee associated with a payment."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation ID for tracking the request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the payment was processed.",
            "example": "string"
          }
        },
        "description": "Schema representing metadata related to the payment response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint being accessed, useful for tracking and auditing purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-get-payment"
        },
        "example": "banking-p2m-openapi-get-payment"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is processing the payment request, aiding in understanding application context.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JSON Web Tokens (JWT) to authenticate users. Clients must include a valid JWT in the Authorization header of their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}