{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Point of Service Banking API",
    "description": "The Point of Service Banking API provides essential functionalities for accessing banking services across various channels. This API enables users to retrieve detailed information related to point of service interactions, including transaction history and service availability. It is primarily designed for financial institutions and developers working on banking applications that require seamless integration of multi-channel service access. Typical consumers include app developers, bank service managers, and fintech solutions that aim to enhance customer engagement and transaction efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cross-channel/point-of-service/{param1}": {
      "get": {
        "tags": [
          "Point of Service Management"
        ],
        "summary": "Retrieve information for point of service RES-100045.",
        "description": "This endpoint retrieves detailed information about the point of service identified by RES-100045. It provides insights into the attributes and status of this particular point of service, enabling effective management and operation.",
        "operationId": "getCrossChannelPointOfServiceRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information relevant to the specified point-of-service operation identified by RES-100045. The data structure should conform to the defined JSON schema to ensure successful processing of the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCrossChannelPointOfServiceRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully; returns the requested resource.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCrossChannelPointOfServiceRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCrossChannelPointOfServiceRes100045Request": {
        "type": "string",
        "description": "This schema represents the body of the request for the GET operation on the cross-channel point of service.",
        "example": "{}"
      },
      "GetCrossChannelPointOfServiceRes100045Response_200": {
        "title": "Operations Response",
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "The identifier of the party involved in the interaction.",
            "example": "PARTY-230885"
          },
          "interactionId": {
            "type": "string",
            "description": "The unique identifier for the interaction that occurred.",
            "example": "INT-465912"
          },
          "channel": {
            "type": "string",
            "description": "The communication channel used for the interaction.",
            "example": "STANDARD"
          },
          "authenticationLevel": {
            "type": "string",
            "description": "The level of authentication required for this transaction.",
            "example": "STANDARD"
          },
          "terminalId": {
            "type": "string",
            "description": "The identifier for the terminal used in the transaction.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "The identifier for the merchant conducting the transaction.",
            "example": "MER-195230"
          },
          "terminalStatus": {
            "type": "string",
            "description": "The current status of the terminal involved in the interaction.",
            "example": "ACTIVE"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record in the database.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the response schema.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response which includes identifiers and timestamps.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "This schema represents the response structure for the operations GET request. It contains details about the point of service interactions and associated metadata.",
        "example": {
          "partyId": "PARTY-230885",
          "interactionId": "INT-465912",
          "channel": "STANDARD",
          "authenticationLevel": "STANDARD",
          "terminalId": "STANDARD",
          "merchantId": "MER-195230",
          "terminalStatus": "ACTIVE",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "94d77df6-c17a-52a3-a8fa-a2e3988945ac",
            "correlationId": "8b260d6a-fa48-59eb-a569-877b4684e12d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "R123456"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier that links this response to the corresponding request.",
            "example": "C123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-10T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request took place.",
            "example": "us-west-1"
          }
        },
        "description": "This schema contains metadata related to the response, including unique identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "point-of-service-get-point-of-service"
        },
        "example": "point-of-service-get-point-of-service"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses JSON Web Tokens (JWTs) for secure API access. Clients must include a valid token in the Authorization header to authenticate.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}