{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Cross-Channel Servicing Activity Analysis API",
    "description": "The Cross-Channel Servicing Activity Analysis API enables businesses to analyze servicing activities across various channels. This API facilitates the aggregation and assessment of service interactions, empowering organizations to enhance customer experience and streamline operations. Typical consumers include data analysts and customer service teams who require insights into customer engagements. By utilizing this endpoint, organizations can derive actionable analytics that inform strategic decisions and optimize service delivery.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cross-channel/servicing-activity-analysis/analyses": {
      "post": {
        "tags": [
          "Servicing Analysis"
        ],
        "summary": "Create a new cross-channel analysis.",
        "description": "This endpoint allows users to create a new analysis for servicing activities across different channels. Use it to gather insights and improve service efficiency.",
        "operationId": "createCrossChannelAnalysis",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create a new servicing activity analysis. It requires the necessary parameters to execute the analysis successfully and return relevant results.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCrossChannelAnalysisRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully with analysis results.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCrossChannelAnalysisResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCrossChannelAnalysisRequest": {
        "title": "Request Body for Servicing Activity Analysis",
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "ID of the party involved in the interaction.",
            "example": "PARTY-324016"
          },
          "interactionId": {
            "type": "string",
            "description": "ID of the interaction for tracking purposes.",
            "example": "INT-827943"
          },
          "channel": {
            "type": "string",
            "description": "The communication channel used for the interaction.",
            "example": "STANDARD"
          },
          "authenticationLevel": {
            "type": "string",
            "description": "The level of authentication for the interaction.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for the servicing activity analysis operation.",
        "example": {
          "partyId": "PARTY-324016",
          "interactionId": "INT-827943",
          "channel": "STANDARD",
          "authenticationLevel": "STANDARD",
          "requestContext": {
            "requestId": "a476e0b4-21b9-52c6-aa30-d8c84b9e31e5",
            "correlationId": "61c214e7-eb32-5fac-a972-46b6f5c5f891",
            "idempotencyKey": "6ed6b45f-a025-577f-8ab6-c0c6dba76d33",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-843053"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used to correlate multiple requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure request idempotency.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "string"
          },
          "channel": {
            "description": "Details about the channel used for the interaction.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema defines the context information for a request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier of the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., email, SMS).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier of the device used for the interaction.",
            "example": "string"
          }
        },
        "description": "This schema provides details about a communication channel."
      },
      "CreateCrossChannelAnalysisResponse_200": {
        "title": "Servicing Activity Analysis Response",
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "The unique identifier for the party involved in the analysis.",
            "example": "PARTY-718841"
          },
          "interactionId": {
            "type": "string",
            "description": "The unique identifier for the interaction associated with the analysis.",
            "example": "INT-456638"
          },
          "analysisId": {
            "type": "string",
            "description": "The unique identifier for the analysis itself.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the analysis.",
            "example": "ACTIVE"
          },
          "completedAt": {
            "type": "string",
            "description": "The timestamp indicating when the analysis was completed.",
            "example": "2026-09-15T14:30:00Z"
          },
          "findings": {
            "type": "array",
            "description": "A list of findings from the analysis.",
            "example": [
              {
                "metric": "STANDARD",
                "value": 100.0,
                "unit": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/AnalysisFinding"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "The unique identifier for the response.",
                "example": "response-321"
              },
              "correlationId": {
                "type": "string",
                "description": "The correlation identifier for tracking requests and responses.",
                "example": "correlation-654"
              },
              "generatedAt": {
                "type": "string",
                "description": "The timestamp indicating when the response was generated.",
                "example": "2023-01-01T12:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region where the processing occurred.",
                "example": "us-west-1"
              }
            },
            "description": "Metadata associated with the response.",
            "example": {
              "responseId": "6cc762c0-0009-5300-b81e-199be62f42a1",
              "correlationId": "61c214e7-eb32-5fac-a972-46b6f5c5f891",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for analyzing servicing activities across channels.",
        "example": {
          "partyId": "PARTY-718841",
          "interactionId": "INT-456638",
          "analysisId": "STANDARD",
          "status": "ACTIVE",
          "completedAt": "2026-09-15T14:30:00Z",
          "findings": [
            {
              "metric": "STANDARD",
              "value": 100.0,
              "unit": "STANDARD"
            }
          ],
          "metadata": {
            "responseId": "6cc762c0-0009-5300-b81e-199be62f42a1",
            "correlationId": "61c214e7-eb32-5fac-a972-46b6f5c5f891",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AnalysisFinding": {
        "type": "object",
        "properties": {
          "metric": {
            "type": "string",
            "description": "The metric that was analyzed.",
            "example": "responseTime"
          },
          "value": {
            "type": "number",
            "description": "The value of the analyzed metric.",
            "example": 200.5
          },
          "unit": {
            "type": "string",
            "description": "The unit of measurement for the analyzed metric.",
            "example": "ms"
          }
        },
        "description": "Represents a finding from the servicing activity analysis."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifier for the specific endpoint that was called during the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "servicing-activity-analysis-analyze-servicing-activity-analysis"
        },
        "example": "servicing-activity-analysis-analyze-servicing-activity-analysis"
      },
      "X-Runtime-App": {
        "description": "The name of the application that was used to execute the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication method based on JSON Web Tokens (JWT). The token must be included in the Authorization header of HTTP requests to authenticate the user.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}