{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Consumer Details Retrieval API",
    "description": "The Consumer Details Retrieval API allows users to obtain comprehensive information about a specific consumer based on their unique identifier. This API is essential for businesses looking to access and manage consumer data for purposes such as personalization, analytics, and support. Typical consumers of this API include customer service representatives, data analysts, and application developers. Utilize this endpoint to enhance user experience by integrating consumer insights into various applications and workflows.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/decisioning/consumers/{consumerId}": {
      "get": {
        "tags": [
          "Consumer Management"
        ],
        "summary": "Retrieve a consumer by their unique identifier.",
        "description": "This endpoint allows you to fetch detailed information about a specific consumer using their unique identifier. It is useful for getting consumer data needed for various business operations.",
        "operationId": "getConsumerById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body must contain the necessary parameters for retrieving consumer information based on the specified consumer ID. Make sure to adhere to the schema definitions provided.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetConsumerByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning consumer details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetConsumerByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetConsumerByIdRequest": {
        "type": "string",
        "description": "This schema represents the JSON request body for the GET operation regarding consumers.",
        "example": "{}"
      },
      "GetConsumerByIdResponse_200": {
        "title": "Consumer Response Schema",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the consumer.",
            "example": "STANDARD"
          },
          "firstName": {
            "type": "string",
            "description": "First name of the consumer.",
            "example": "Northstar Banking Service"
          },
          "lastName": {
            "type": "string",
            "description": "Last name of the consumer.",
            "example": "Northstar Banking Service"
          },
          "customerId": {
            "type": "integer",
            "description": "Unique customer identifier.",
            "format": "int32",
            "example": 1
          },
          "address": {
            "type": "string",
            "description": "Street address of the consumer.",
            "example": "STANDARD"
          },
          "city": {
            "type": "string",
            "description": "City of the consumer's address.",
            "example": "New York"
          },
          "state": {
            "type": "string",
            "description": "State of the consumer's address.",
            "example": "STANDARD"
          },
          "zip": {
            "type": "string",
            "description": "ZIP code of the consumer's address.",
            "example": "STANDARD"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the consumer.",
            "example": "+1-212-555-0147"
          },
          "ssn": {
            "type": "string",
            "description": "Social Security Number of the consumer.",
            "example": "STANDARD"
          },
          "birthday": {
            "description": "Consumer's date of birth.",
            "$ref": "#/components/schemas/Birthday"
          },
          "email": {
            "type": "string",
            "description": "Email address of the consumer.",
            "example": "olivia.bennett@northstar.example"
          },
          "createdDate": {
            "type": "integer",
            "description": "Creation date of the consumer record in UNIX timestamp format.",
            "format": "int32",
            "example": 1
          },
          "suffix": {
            "type": "string",
            "description": "Suffix of the consumer's name (e.g., Jr., Sr.).",
            "example": "STANDARD"
          },
          "endUser": {
            "description": "Details regarding the end user associated with the consumer.",
            "$ref": "#/components/schemas/EndUser"
          },
          "metadata": {
            "description": "Metadata information regarding the consumer.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for the GET operations related to consumers.",
        "example": {
          "id": "STANDARD",
          "firstName": "Northstar Banking Service",
          "lastName": "Northstar Banking Service",
          "customerId": 1,
          "address": "STANDARD",
          "city": "New York",
          "state": "STANDARD",
          "zip": "STANDARD",
          "phone": "+1-212-555-0147",
          "ssn": "STANDARD",
          "birthday": {
            "year": 1,
            "month": 1,
            "dayOfMonth": 1
          },
          "email": "olivia.bennett@northstar.example",
          "createdDate": 1,
          "suffix": "STANDARD",
          "endUser": {
            "name": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "email": "olivia.bennett@northstar.example",
            "url": "https://banking.northstar.example/callbacks/status"
          },
          "metadata": {
            "responseId": "1ab059eb-36a7-5490-a09c-d9ae08350673",
            "correlationId": "aa4c7ada-5d01-5d8e-9242-d2c4351914dd",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Birthday": {
        "title": "Birthday Schema",
        "type": "object",
        "properties": {
          "year": {
            "type": "integer",
            "description": "Year of birth.",
            "format": "int32",
            "example": 1980
          },
          "month": {
            "type": "integer",
            "description": "Month of birth.",
            "format": "int32",
            "example": 5
          },
          "dayOfMonth": {
            "type": "integer",
            "description": "Day of the month of birth.",
            "format": "int32",
            "example": 15
          }
        },
        "description": "Schema representing the birthday information of a consumer."
      },
      "EndUser": {
        "title": "End User Schema",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the end user.",
            "example": "Jane Doe"
          },
          "address": {
            "type": "string",
            "description": "Street address of the end user.",
            "example": "456 Elm St"
          },
          "city": {
            "type": "string",
            "description": "City of the end user's address.",
            "example": "Springfield"
          },
          "state": {
            "type": "string",
            "description": "State of the end user's address.",
            "example": "IL"
          },
          "zip": {
            "type": "string",
            "description": "ZIP code of the end user's address.",
            "example": "62701"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the end user.",
            "example": "555-5678"
          },
          "email": {
            "type": "string",
            "description": "Email address of the end user.",
            "example": "jane.doe@example.com"
          },
          "url": {
            "type": "string",
            "description": "URL associated with the end user.",
            "example": "http://example.com/janedoe"
          }
        },
        "description": "Schema representing the details of the end user associated with a consumer."
      },
      "Metadata": {
        "title": "Metadata Schema",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "abc123"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking related requests.",
            "example": "xyz456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "us-central1"
          }
        },
        "description": "Schema representing metadata information regarding the consumer."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-consumer"
        },
        "example": "open-finance-api-get-consumer"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication, allowing clients to authenticate by including a JWT (JSON Web Token) in the Authorization header of their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}