{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Mutual Fund Administration API",
    "description": "The Mutual Fund Administration API facilitates the management of mutual fund operations within a banking ecosystem. This API allows users to efficiently process transactions related to mutual fund investments, including subscription and redemption requests. Targeted primarily at financial institutions and investment managers, it streamlines the administration of mutual fund accounts, ensuring compliance and enhancing customer service. Key use cases include portfolio management, customer account handling, and transaction processing for mutual funds.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-operations/mutual-fund-administration": {
      "post": {
        "tags": [
          "Mutual Fund Operations"
        ],
        "summary": "Create a new mutual fund administration record.",
        "description": "This endpoint allows users to create a new record for the mutual fund administration, facilitating management and tracking of mutual funds within the platform.",
        "operationId": "createMutualFundAdministration",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit a mutual fund administration operation. It should contain all necessary details for processing the operation, following the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMutualFundAdministrationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The mutual fund operation was successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateMutualFundAdministrationResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateMutualFundAdministrationRequest": {
        "title": "Mutual Fund Administration - Operations Request Body",
        "type": "object",
        "properties": {
          "fundId": {
            "type": "string",
            "description": "The unique identifier for the mutual fund.",
            "example": "STANDARD"
          },
          "shareClassId": {
            "type": "string",
            "description": "The identifier for the specific share class of the mutual fund.",
            "example": "STANDARD"
          },
          "valuationDate": {
            "type": "string",
            "description": "The date for which the valuation is being requested.",
            "example": "2026-09-15"
          },
          "netAssetValue": {
            "$ref": "#/components/schemas/NetAssetValue"
          },
          "unitsOutstanding": {
            "type": "integer",
            "description": "The total number of units outstanding for the mutual fund.",
            "format": "int32",
            "example": 1
          },
          "administratorId": {
            "type": "string",
            "description": "The identifier for the administration entity managing the mutual fund.",
            "example": "STANDARD"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for mutual fund administration operations.",
        "example": {
          "fundId": "STANDARD",
          "shareClassId": "STANDARD",
          "valuationDate": "2026-09-15",
          "netAssetValue": {
            "amount": 100.0,
            "currency": "USD"
          },
          "unitsOutstanding": 1,
          "administratorId": "STANDARD",
          "requestContext": {
            "requestId": "ca072459-c7c4-5101-8ca9-e937a0a23c9d",
            "correlationId": "ac47983e-aad6-59f8-b6bb-f8f48edd513a",
            "idempotencyKey": "722bb513-0404-5fcf-8c82-7e23d8d2e881",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-176423"
            }
          }
        }
      },
      "NetAssetValue": {
        "title": "Net Asset Value",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The monetary amount representing the net asset value.",
            "example": 1000000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the net asset value is denominated.",
            "example": "USD"
          }
        },
        "description": "Schema representing the net asset value of a mutual fund."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to trace the request across systems.",
            "example": "CORR-123456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to identify the request to avoid repeat processing.",
            "example": "IDEMP-KEY-789"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system making the request.",
            "example": "SystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the application making the request.",
            "example": "ApplicationX"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context for the request made to the mutual fund administration."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the communication channel.",
            "example": "CHANNEL-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., API, Web, Mobile).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "DEVICE-123"
          }
        },
        "description": "Schema representing the channel through which the request was made."
      },
      "CreateMutualFundAdministrationResponse_201": {
        "title": "Mutual Fund Administration Response",
        "type": "object",
        "properties": {
          "fundId": {
            "type": "string",
            "description": "Identifier for the mutual fund.",
            "example": "STANDARD"
          },
          "shareClassId": {
            "type": "string",
            "description": "Identifier for the share class associated with the mutual fund.",
            "example": "STANDARD"
          },
          "administratorId": {
            "type": "string",
            "description": "Identifier for the administrator handling the mutual fund.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "Identifier for the specific resource associated with the operation.",
            "example": "RES-245425"
          },
          "status": {
            "type": "string",
            "description": "Current status of the mutual fund operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the mutual fund operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the mutual fund administration operations.",
        "example": {
          "fundId": "STANDARD",
          "shareClassId": "STANDARD",
          "administratorId": "STANDARD",
          "resourceId": "RES-245425",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "5b5f35b2-e34b-5746-ba23-1dece2abb22b",
            "correlationId": "ac47983e-aad6-59f8-b6bb-f8f48edd513a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata for Mutual Fund Operation",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESPONSE321"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "CORR456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-01-01T12:00:01Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the operation was processed.",
            "example": "US-East"
          }
        },
        "description": "Metadata schema providing additional information regarding the mutual fund operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "mutual-fund-administration-create-mutual-fund-administration"
        },
        "example": "mutual-fund-administration-create-mutual-fund-administration"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method with JWT (JSON Web Tokens) as the token format. Clients must include a valid JWT token in the Authorization header of their requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}