{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Payment Cancellation API",
    "description": "The Payment Cancellation API enables users to efficiently manage and cancel payment transactions. By providing the payment ID, stakeholders such as merchants and financial administrators can ensure funds are returned promptly and handle exceptions as they arise. This API facilitates seamless interactions within payment management systems, catering to scenarios that require payment reversals, adjustments, or refunds. Designed for use primarily by payment processing platforms and e-commerce solutions, it improves transaction integrity and customer satisfaction.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/payments/{paymentId}/cancel": {
      "post": {
        "tags": [
          "Payment Management"
        ],
        "summary": "Cancel a specific payment",
        "description": "This endpoint allows users to cancel a payment identified by a unique payment ID. Ensure that the payment is eligible for cancellation before proceeding.",
        "operationId": "cancelPaymentPay300045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body to cancel the payment identified by PAY-300045. This request allows clients to initiate the cancellation process, including any necessary data required for the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelPaymentPay300045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cancellation request completed successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelPaymentPay300045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CancelPaymentPay300045Request": {
        "title": "Cancel Payment Request",
        "type": "object",
        "properties": {
          "reasonCode": {
            "type": "string",
            "description": "Code representing the reason for cancellation.",
            "example": "CODE-674"
          },
          "reason": {
            "type": "string",
            "description": "Detailed explanation for the cancellation.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for canceling a payment operation.",
        "example": {
          "reasonCode": "CODE-674",
          "reason": "STANDARD",
          "requestContext": {
            "requestId": "0fdf03b1-c68d-5b70-affb-e9574dfcefb3",
            "correlationId": "e1b0ad04-e563-5a77-953b-fcf5702a0ee0",
            "idempotencyKey": "4caa320c-5381-5842-82de-e3a68798f7f7",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-550429"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests across systems.",
            "example": "corr-67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure that operations are idempotent.",
            "example": "idemp-abcde"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name of the system from which the request originated.",
            "example": "PaymentSystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application that initiated the request.",
            "example": "AppX"
          },
          "channel": {
            "description": "Channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema containing contextual information related to the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., API, mobile, web).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-12345"
          }
        },
        "description": "Schema containing information about the channel through which the request was made."
      },
      "CancelPaymentPay300045Response_200": {
        "title": "Payment Cancellation Response",
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment.",
            "example": "PAY-139366"
          },
          "paymentIntentId": {
            "type": "string",
            "description": "Identifier for the payment intent associated with this payment.",
            "example": "STANDARD"
          },
          "qrPaymentRequestId": {
            "type": "string",
            "description": "Identifier for the QR payment request.",
            "example": "4427b359-cf44-537d-92ef-a148a783db89"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant who initiated the payment.",
            "example": "MER-778819"
          },
          "outletId": {
            "type": "string",
            "description": "Identifier for the merchant outlet.",
            "example": "STANDARD"
          },
          "terminalId": {
            "type": "string",
            "description": "Identifier for the terminal used for the transaction.",
            "example": "STANDARD"
          },
          "merchantOrderId": {
            "type": "string",
            "description": "Identifier for the merchant order associated with the payment.",
            "example": "ORD-134694"
          },
          "channel": {
            "type": "string",
            "description": "The channel through which the payment was made (e.g., online, in-store).",
            "example": "STANDARD"
          },
          "paymentMethod": {
            "description": "Details about the payment method used for this transaction.",
            "$ref": "#/components/schemas/PaymentMethod"
          },
          "customer": {
            "description": "Information about the customer making the payment.",
            "$ref": "#/components/schemas/Customer"
          },
          "amounts": {
            "description": "Details about various amounts associated with the payment.",
            "$ref": "#/components/schemas/Amounts"
          },
          "metadata": {
            "description": "Additional information related to the payment transaction.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for a payment cancellation operation.",
        "example": {
          "paymentId": "PAY-139366",
          "paymentIntentId": "STANDARD",
          "qrPaymentRequestId": "4427b359-cf44-537d-92ef-a148a783db89",
          "merchantId": "MER-778819",
          "outletId": "STANDARD",
          "terminalId": "STANDARD",
          "merchantOrderId": "ORD-134694",
          "channel": "STANDARD",
          "paymentMethod": {
            "type": "STANDARD",
            "token": "STANDARD",
            "issuerBankCode": "CODE-465",
            "maskedIdentifier": "STANDARD",
            "walletProvider": "STANDARD"
          },
          "customer": {
            "id": "STANDARD",
            "name": "Northstar Banking Service",
            "email": "olivia.bennett@northstar.example",
            "phone": "+1-212-555-0147",
            "riskSegment": "STANDARD"
          },
          "amounts": {
            "requested": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "authorized": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "captured": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "refunded": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "reversed": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "tip": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "fees": [
              {
                "feeType": "STANDARD",
                "amount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "bearer": "CUSTOMER"
              }
            ],
            "netToMerchant": {
              "currency": "USD"
            }
          },
          "metadata": {
            "responseId": "e4234037-eb3a-55d9-914b-e7d865e01481",
            "correlationId": "e1b0ad04-e563-5a77-953b-fcf5702a0ee0",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentMethod": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of the payment method (e.g., credit card, debit card).",
            "example": "string"
          },
          "token": {
            "type": "string",
            "description": "Token representing the payment method.",
            "example": "string"
          },
          "issuerBankCode": {
            "type": "string",
            "description": "Code of the bank that issued the payment method.",
            "example": "string"
          },
          "maskedIdentifier": {
            "type": "string",
            "description": "Masked identifier of the payment method for security.",
            "example": "string"
          },
          "walletProvider": {
            "type": "string",
            "description": "Provider of the digital wallet if applicable.",
            "example": "string"
          }
        },
        "description": "Schema representing the payment method details."
      },
      "Customer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "string"
          },
          "name": {
            "type": "string",
            "description": "Name of the customer.",
            "example": "string"
          },
          "email": {
            "type": "string",
            "description": "Email address of the customer.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the customer.",
            "example": "string"
          },
          "riskSegment": {
            "type": "string",
            "description": "Risk segment classification for the customer.",
            "example": "string"
          }
        },
        "description": "Schema representing customer information."
      },
      "Amounts": {
        "type": "object",
        "properties": {
          "requested": {
            "description": "Amount requested for the payment.",
            "$ref": "#/components/schemas/AmountDetail"
          },
          "authorized": {
            "description": "Amount authorized for the payment.",
            "$ref": "#/components/schemas/AmountDetail"
          },
          "captured": {
            "description": "Amount captured for the payment.",
            "$ref": "#/components/schemas/AmountDetail"
          },
          "refunded": {
            "description": "Amount refunded to the customer.",
            "$ref": "#/components/schemas/AmountDetail"
          },
          "reversed": {
            "description": "Amount reversed from the original transaction.",
            "$ref": "#/components/schemas/AmountDetail"
          },
          "tip": {
            "description": "Tip amount associated with the payment.",
            "$ref": "#/components/schemas/AmountDetail"
          },
          "fees": {
            "type": "array",
            "description": "List of fees applied to the transaction.",
            "items": {
              "$ref": "#/components/schemas/FeeDetail"
            }
          },
          "netToMerchant": {
            "description": "Net amount that goes to the merchant after deductions.",
            "$ref": "#/components/schemas/AmountDetail"
          }
        },
        "description": "Schema representing different amounts associated with the payment."
      },
      "AmountDetail": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency code for the amount.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "Numeric value of the amount.",
            "example": "100.00"
          }
        },
        "description": "Schema representing the details of an amount."
      },
      "FeeDetail": {
        "type": "object",
        "properties": {
          "feeType": {
            "type": "string",
            "description": "Type of the fee applied.",
            "example": "transaction fee"
          },
          "amount": {
            "description": "Details of the fee amount.",
            "$ref": "#/components/schemas/AmountDetail"
          },
          "bearer": {
            "type": "string",
            "description": "The party responsible for paying the fee (e.g., customer, merchant).",
            "example": "merchant"
          }
        },
        "description": "Schema representing details of a fee associated with the transaction."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking purposes.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the payment processing took place.",
            "example": "US"
          }
        },
        "description": "Schema representing additional metadata for the payment transaction."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-cancel-payment"
        },
        "example": "banking-p2m-openapi-cancel-payment"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme utilizing JSON Web Tokens (JWT) as a bearer token. This method allows clients to securely authenticate by passing the token in the 'Authorization' header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}