{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Advanced Voice Services Status API",
    "description": "The Advanced Voice Services Status API enables users to monitor the operational status of key banking services utilizing advanced voice technologies. By leveraging this API, developers can fetch real-time status updates on various operational aspects of voice service channels. This functionality is crucial for businesses that rely on voice services for customer interactions and need to ensure optimal performance and availability. Typical consumers of this API include system integrators, banking application developers, and operations teams seeking to enhance user experiences through reliable service monitoring.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/advanced-voice-services-operations/status": {
      "get": {
        "tags": [
          "Voice Services"
        ],
        "summary": "Retrieve the status of advanced voice services operations for a specific channel.",
        "description": "This API endpoint allows developers to retrieve the current status of advanced voice services operations related to a particular channel. It provides insights into the operational state and can assist in monitoring and troubleshooting issues.",
        "operationId": "getChannelSpecificAdvancedVoiceServicesOperationStatus",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving the status of advanced voice services operations specific to a channel. This body should conform to the defined schema to ensure proper handling of the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetChannelSpecificAdvancedVoiceServicesOperationStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and the current status is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetChannelSpecificAdvancedVoiceServicesOperationStatusResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetChannelSpecificAdvancedVoiceServicesOperationStatusRequest": {
        "title": "Advanced Voice Services Operations Status Request Body",
        "type": "string",
        "description": "This schema represents the request body format for the operations status in advanced voice services.",
        "example": "{}"
      },
      "GetChannelSpecificAdvancedVoiceServicesOperationStatusResponse_200": {
        "title": "Advanced Voice Services Status Response",
        "type": "object",
        "properties": {
          "voicePlatformId": {
            "type": "string",
            "description": "The unique identifier for the voice platform.",
            "example": "STANDARD"
          },
          "ivrFlowId": {
            "type": "string",
            "description": "The identifier for the IVR flow associated with the voice services.",
            "example": "STANDARD"
          },
          "supportedLanguages": {
            "type": "array",
            "description": "A list of languages supported by the voice platform.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "A supported language code.",
              "example": "en-US"
            }
          },
          "concurrentCallCapacity": {
            "type": "integer",
            "description": "The maximum number of concurrent calls the voice platform can handle.",
            "format": "int32",
            "example": 1
          },
          "regionCode": {
            "type": "string",
            "description": "The region code where the voice platform is deployed.",
            "example": "US-EAST-1"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current recording status of the voice services.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version of the voice services.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of the last update to the voice services.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Represents the response schema for the advanced voice services status operation.",
        "example": {
          "voicePlatformId": "STANDARD",
          "ivrFlowId": "STANDARD",
          "supportedLanguages": [
            "STANDARD"
          ],
          "concurrentCallCapacity": 1,
          "regionCode": "US-EAST-1",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "62ea8ac4-5d76-5c6a-998c-0c5d09706914",
            "correlationId": "f1f959d4-600d-5a65-a7cf-25b0b2290972",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "RID123456"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to correlate requests and responses.",
            "example": "CORR123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Contains additional metadata related to the voice services response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint associated with the request. This header allows the client to identify the specific endpoint used in the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "advanced-voice-services-operations-get-advanced-voice-services-operations"
        },
        "example": "advanced-voice-services-operations-get-advanced-voice-services-operations"
      },
      "X-Runtime-App": {
        "description": "The name or identifier of the application that is handling the request. This header can be used for tracking and diagnostics purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a bearer token for access. Typically, a JSON Web Token (JWT) is utilized, which must be included in the `Authorization` header in requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}