{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Webhook Endpoint Management API",
    "description": "The Webhook Endpoint Management API enables users to modify existing webhook endpoints. This API allows businesses to update configurations and settings associated with webhook integrations, ensuring real-time data synchronization with external systems. Typical consumers include developers and system integrators who are implementing webhook functionalities to facilitate event-driven architectures. With this endpoint, users can adapt their webhook settings as their business requirements evolve, streamlining integration processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/webhook-endpoints/{param1}": {
      "patch": {
        "tags": [
          "Webhook Management"
        ],
        "summary": "Update a specific webhook endpoint.",
        "description": "This endpoint allows you to modify the settings or details of a specific webhook identified by its unique resource ID. Ensure that you provide the necessary parameters for a successful update.",
        "operationId": "updateWebhookEndpointRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the webhook endpoint with the specified ID. It includes information that defines the new configuration settings for the webhook, such as its URL and event types. Ensure that the necessary fields are included and correctly formatted to successfully process the update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWebhookEndpointRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateWebhookEndpointRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateWebhookEndpointRes100045Request": {
        "title": "Webhook Patch Request Body",
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "description": "The URL where the webhook will send data.",
            "example": "https://example.com/resource"
          },
          "description": {
            "type": "string",
            "description": "A brief description of the webhook.",
            "example": "Customer banking request processed successfully"
          },
          "events": {
            "type": "array",
            "description": "A list of events that will trigger the webhook.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "The name of the event."
            }
          },
          "status": {
            "type": "string",
            "description": "The current status of the webhook.",
            "example": "ACTIVE"
          },
          "requestContext": {
            "description": "The context of the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the request body of a PATCH operation to update a webhook endpoint.",
        "example": {
          "url": "https://example.com/resource",
          "description": "Customer banking request processed successfully",
          "events": [
            "STANDARD"
          ],
          "status": "ACTIVE",
          "requestContext": {
            "requestId": "ad6ba9aa-f3eb-5ebf-b178-21f1470c6ec0",
            "correlationId": "156b086a-97b2-5fa9-b239-8dbdd76cf5d3",
            "idempotencyKey": "531f72eb-4082-5634-86aa-86424d181690",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-380498"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used for tracing through multiple systems.",
            "example": "corr-654321"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure the operation is idempotent.",
            "example": "idemp-abc123"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system making the request.",
            "example": "System A"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "App B"
          },
          "channel": {
            "description": "Details about the communication channel.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context for the request, including identifiers and timing."
      },
      "Channel": {
        "title": "Communication Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-78910"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the communication channel (e.g., SMS, Email).",
            "example": "Email"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device through which the communication occurs.",
            "example": "device-111213"
          }
        },
        "description": "Schema representing details about the communication channel used."
      },
      "UpdateWebhookEndpointRes100045Response_200": {
        "title": "Webhook Endpoint Response",
        "type": "object",
        "properties": {
          "webhookEndpointId": {
            "type": "string",
            "description": "A unique identifier for the webhook endpoint.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "The unique identifier for the merchant associated with the webhook.",
            "example": "MER-601318"
          },
          "url": {
            "type": "string",
            "description": "The URL to which the webhook events will be sent.",
            "example": "https://example.com/resource"
          },
          "description": {
            "type": "string",
            "description": "A brief description of the webhook endpoint.",
            "example": "Customer banking request processed successfully"
          },
          "events": {
            "type": "array",
            "description": "An array of events that trigger the webhook.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "An event type that can trigger the webhook.",
              "example": "ORDER_CREATED"
            }
          },
          "status": {
            "type": "string",
            "description": "The current status of the webhook endpoint (e.g., active, inactive).",
            "example": "ACTIVE"
          },
          "secretLastRotatedAt": {
            "type": "string",
            "description": "The timestamp when the webhook secret was last rotated.",
            "example": "2026-08-11T12:00:00Z"
          },
          "lastDeliveryAt": {
            "type": "string",
            "description": "The timestamp of the last successful delivery of an event to the webhook endpoint.",
            "example": "2026-08-11T12:00:00Z"
          },
          "lastDeliveryStatus": {
            "type": "string",
            "description": "The status of the last delivery attempt (e.g., success, failed).",
            "example": "ACTIVE"
          },
          "audit": {
            "description": "Information regarding the creation and updating of the webhook endpoint.",
            "$ref": "#/components/schemas/AuditInfo"
          },
          "metadata": {
            "description": "Additional metadata related to the webhook response.",
            "$ref": "#/components/schemas/WebhookMetadata"
          }
        },
        "description": "Response schema for webhook endpoint operations, providing details about the webhook configuration.",
        "example": {
          "webhookEndpointId": "STANDARD",
          "merchantId": "MER-601318",
          "url": "https://example.com/resource",
          "description": "Customer banking request processed successfully",
          "events": [
            "STANDARD"
          ],
          "status": "ACTIVE",
          "secretLastRotatedAt": "2026-08-11T12:00:00Z",
          "lastDeliveryAt": "2026-08-11T12:00:00Z",
          "lastDeliveryStatus": "ACTIVE",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "f1221310-6d1b-5e22-929c-37bcf53d7393",
            "correlationId": "156b086a-97b2-5fa9-b239-8dbdd76cf5d3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AuditInfo": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the webhook endpoint was created.",
            "example": "2023-01-01T10:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "The identifier of the user who created the webhook endpoint.",
            "example": "admin"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the webhook endpoint was last updated.",
            "example": "2023-03-01T10:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "The identifier of the user who last updated the webhook endpoint.",
            "example": "admin"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the webhook configuration.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Schema containing information about the creation and update actions performed on the webhook endpoint."
      },
      "WebhookMetadata": {
        "title": "Webhook Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "response_789"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier to correlate responses with requests.",
            "example": "correlation_101"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-03-20T14:30:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the webhook processing took place.",
            "example": "us-west-1"
          }
        },
        "description": "Schema containing additional metadata related to the webhook response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the webhook endpoint that was processed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-update-webhook-endpoint"
        },
        "example": "banking-p2m-openapi-update-webhook-endpoint"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed this operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses HTTP Bearer Authentication, which requires a JWT (JSON Web Token) as a means of authorization. The JWT should be provided in the 'Authorization' header of the request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}