{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Review Submission API",
    "description": "The Customer Review Submission API allows users to submit reviews related to specific card transactions, enhancing customer engagement and feedback collection. Businesses can utilize this API to gather insights directly from customers about their banking experiences, facilitating improved service delivery. This API is particularly useful for financial institutions looking to enhance customer satisfaction and obtain valuable feedback on their operational services. Developers can integrate this API into customer relationship management systems or mobile banking applications for seamless review submissions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/card-transaction-switch/{param1}/reviews": {
      "post": {
        "tags": [
          "Card Transaction"
        ],
        "summary": "Create a review for a card transaction.",
        "description": "This endpoint allows users to submit a review for a specific card transaction identified by its unique ID. Providing feedback helps improve service quality and enhances the overall user experience.",
        "operationId": "createCardTransactionReview",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Submit a review for the specified card transaction. This request body expects a JSON object containing the necessary review data. Ensure all required fields are filled in to process your review successfully.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCardTransactionReviewRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request accepted and is being processed.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCardTransactionReviewResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCardTransactionReviewRequest": {
        "title": "Card Transaction Review Request",
        "type": "object",
        "properties": {
          "reviewReason": {
            "type": "string",
            "description": "The reason for the review.",
            "example": "STANDARD"
          },
          "reviewScope": {
            "type": "array",
            "description": "A list of scopes or aspects that are included in the review.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "A specific scope of the review.",
              "example": "Transaction amount"
            }
          },
          "assignedReviewerId": {
            "type": "string",
            "description": "The identifier of the reviewer assigned to this review.",
            "example": "STANDARD"
          },
          "dueAt": {
            "type": "string",
            "description": "The date and time by which the review should be completed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "requestContext": {
            "description": "Contextual information for the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the request body to create a review for a card transaction operation.",
        "example": {
          "reviewReason": "STANDARD",
          "reviewScope": [
            "STANDARD"
          ],
          "assignedReviewerId": "STANDARD",
          "dueAt": "2026-08-11T12:00:00Z",
          "requestContext": {
            "requestId": "6267c7a7-2b62-5475-b61a-4825b83e3669",
            "correlationId": "22bc713b-ce43-5797-a06b-50be0dd5590e",
            "idempotencyKey": "35735a36-e7e6-5f65-97d4-3208ec04e5ef",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-774509"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req_67890"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating related requests.",
            "example": "corr_abcde"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is idempotent.",
            "example": "idempotency_123456"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-20T09:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name of the system that sent the request.",
            "example": "TransactionService"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application that originated the request.",
            "example": "MobileApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema that contains contextual information regarding the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "channel_111"
          },
          "channelType": {
            "type": "string",
            "description": "Type or category of the channel.",
            "example": "Mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device_222"
          }
        },
        "description": "Schema that contains information about the channel used for the request."
      },
      "CreateCardTransactionReviewResponse_202": {
        "title": "Card Transaction Review Response",
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "Reference identifier for the action taken.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "Type of action that has been processed.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the action.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "Timestamp of when the action was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/CardTransactionMetadata"
          }
        },
        "description": "Response object for the card transaction review operation.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "b82cfaff-5b2d-5fd0-8286-3183966dac4f",
            "correlationId": "22bc713b-ce43-5797-a06b-50be0dd5590e",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CardTransactionMetadata": {
        "title": "Card Transaction Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating the request and response.",
            "example": "corr-123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "EU"
          }
        },
        "description": "Metadata associated with the card transaction processing."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint being called. This helps in tracking the specific service request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-transaction-switch-review-card-transaction-switch-processing"
        },
        "example": "card-transaction-switch-review-card-transaction-switch-processing"
      },
      "x-runtime-app": {
        "description": "The name of the application that made the request. This provides context for the source of the transaction.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes a bearer token for authentication. Tokens should conform to the JSON Web Token (JWT) standards.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}