{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Commission Agreement Retrieval API",
    "description": "The Commission Agreement Retrieval API allows users to access specific commission agreement details based on a unique identifier. This endpoint is vital for stakeholders needing to review or verify agreement terms associated with sales transactions. Typical consumers include sales managers, finance teams, and compliance officers who require accurate documentation of commission arrangements. By providing essential information, this API supports effective management and oversight of commission agreements.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/sales/commission-agreement/{param1}": {
      "get": {
        "tags": [
          "Sales"
        ],
        "summary": "Retrieve Commission Agreement Details",
        "description": "This endpoint retrieves the details of a specific commission agreement identified by the given resource ID. It provides necessary data such as the agreement terms and conditions which are crucial for sales processing.",
        "operationId": "getSalesCommissionAgreementRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the commission agreement details for the specified resource. Ensure that the request contains all necessary information required for processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSalesCommissionAgreementRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful, and the commission agreement details are returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSalesCommissionAgreementRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetSalesCommissionAgreementRes100045Request": {
        "type": "string",
        "description": "This schema represents the request body format for fetching commission agreement details in the system.",
        "example": "{}"
      },
      "GetSalesCommissionAgreementRes100045Response_200": {
        "type": "object",
        "properties": {
          "prospectId": {
            "type": "string",
            "description": "Unique identifier for the prospect.",
            "example": "STANDARD"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product being sold.",
            "example": "CHK-PREMIUM-US"
          },
          "salesChannel": {
            "type": "string",
            "description": "Channel through which the sales transaction occurred.",
            "example": "STANDARD"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "Identifier for the relationship manager managing the prospect.",
            "example": "STANDARD"
          },
          "expectedValue": {
            "description": "The expected financial value associated with the transaction.",
            "$ref": "#/components/schemas/ExpectedValue"
          },
          "salesPersonId": {
            "type": "string",
            "description": "Identifier for the salesperson who facilitated the transaction.",
            "example": "STANDARD"
          },
          "commissionPlanId": {
            "type": "string",
            "description": "Identifier for the commission plan associated with the sale.",
            "example": "STANDARD"
          },
          "eligibleRevenue": {
            "type": "number",
            "description": "The revenue amount that is eligible for commission.",
            "example": 100.0
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version of the record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for the commission agreement operation.",
        "example": {
          "prospectId": "STANDARD",
          "productCode": "CHK-PREMIUM-US",
          "salesChannel": "STANDARD",
          "relationshipManagerId": "STANDARD",
          "expectedValue": {
            "amount": 100.0,
            "currency": "USD"
          },
          "salesPersonId": "STANDARD",
          "commissionPlanId": "STANDARD",
          "eligibleRevenue": 100.0,
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "97c3d1db-df88-5c6a-991c-8e9878b90267",
            "correlationId": "e3fe067f-643b-5866-ac96-b144165b7aae",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ExpectedValue": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The monetary amount of the expected value.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is specified.",
            "example": "string"
          }
        },
        "description": "Represents the expected financial value."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for traceability.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request took place.",
            "example": "string"
          }
        },
        "description": "Contains metadata information for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifier for the specific endpoint being accessed in the sales commission agreement operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "commission-agreement-get-commission-agreement"
        },
        "example": "commission-agreement-get-commission-agreement"
      },
      "X-Runtime-App": {
        "description": "Name of the application responsible for executing the sales commission agreement operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that utilizes a bearer token, typically in the form of a JSON Web Token (JWT), to authenticate API requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}