{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Corporate Relations Regulatory Authorities API",
    "description": "The Corporate Relations Regulatory Authorities API provides access to information related to various regulatory authorities governing corporate banking activities. This API enables users to retrieve details about specific regulatory agencies based on provided parameters. Typical consumers include banking institutions, compliance teams, and corporate legal departments seeking to ensure adherence to regulatory requirements. By utilizing this API, organizations can streamline their regulatory research and maintain up-to-date records of the authorities that oversee their corporate relations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/corporate-relations/regulatory-authorities/{param1}": {
      "get": {
        "tags": [
          "Corporate Relations"
        ],
        "summary": "Retrieve a specific regulatory authority.",
        "description": "This endpoint allows you to fetch detailed information about a specific regulatory authority identified by its unique ID (RES-100045). Use this endpoint to gather insights into the regulatory framework associated with corporate relations.",
        "operationId": "getRegulatoryAuthorityById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving information about regulatory authorities for the specified corporate relations. This object must contain valid JSON structure as defined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetRegulatoryAuthorityByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the requested regulatory authority details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRegulatoryAuthorityByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetRegulatoryAuthorityByIdRequest": {
        "type": "string",
        "description": "A request body for the regulatory authorities operations in the corporate relations context.",
        "example": "{}"
      },
      "GetRegulatoryAuthorityByIdResponse_200": {
        "title": "Regulatory Authority Response",
        "type": "object",
        "properties": {
          "stakeholderId": {
            "type": "string",
            "description": "Unique identifier for the stakeholder.",
            "example": "STANDARD"
          },
          "engagementId": {
            "type": "string",
            "description": "Identifier for the engagement.",
            "example": "STANDARD"
          },
          "subject": {
            "type": "string",
            "description": "Subject of the regulatory engagement.",
            "example": "STANDARD"
          },
          "scheduledAt": {
            "type": "string",
            "description": "Date and time when the engagement is scheduled.",
            "example": "2026-08-11T12:00:00Z"
          },
          "relationshipOwnerId": {
            "type": "string",
            "description": "Unique identifier for the owner of the relationship.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Date and time when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for regulatory authority operations.",
        "example": {
          "stakeholderId": "STANDARD",
          "engagementId": "STANDARD",
          "subject": "STANDARD",
          "scheduledAt": "2026-08-11T12:00:00Z",
          "relationshipOwnerId": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "8a281bc3-f9c8-50f2-9ed0-a5f7cfea6111",
            "correlationId": "bef58efc-03ed-576a-83e9-040b25c93803",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-abcde"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking related requests.",
            "example": "correlation-12345"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T09:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographic region where the processing occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Schema containing associated metadata for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint which is being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "regulatory-and-legal-authority-get-regulatory-and-legal-authority"
        },
        "example": "regulatory-and-legal-authority-get-regulatory-and-legal-authority"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is currently running and handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which requires a valid JSON Web Token (JWT) to be provided in the Authorization header for secure access to the API. Ensure that the token is properly formatted as 'Bearer {token}'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}