{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Foresight Analytics User Type Management API",
    "description": "The Customer Foresight Analytics User Type Management API enables businesses to create and manage user types associated with specific customer reports in the foresight analytics system. This endpoint allows for the submission of user type data for a given customer, supporting personalized analytics and insights. Companies primarily utilize this API to enhance customer reporting capabilities by tailoring user type configurations according to their analytical needs. Typical consumers include data analysts and marketing teams looking to optimize user experiences through aggregated insights.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/decisioning/customers/{customerId}/reports/foresight-analytics/usertypes/{usertypeId}": {
      "post": {
        "tags": [
          "Customer Analytics"
        ],
        "summary": "Create a new foresight analytics user type for a specific customer.",
        "description": "This endpoint allows you to create a new user type related to foresight analytics for the specified customer. Ensure that all necessary data is provided in the request body to successfully create the user type.",
        "operationId": "createForesightAnalyticsUserTypeForCustomer",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to provide the necessary data for creating or updating user type information in the foresight analytics reports. It expects a JSON payload containing the relevant user type details for the specified customer.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateForesightAnalyticsUserTypeForCustomerRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted and is currently being processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateForesightAnalyticsUserTypeForCustomerResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateForesightAnalyticsUserTypeForCustomerRequest": {
        "title": "Foresight Analytics User Types Request Body",
        "type": "object",
        "properties": {
          "analyticsReportData": {
            "$ref": "#/components/schemas/AnalyticsReportData"
          },
          "accountIds": {
            "type": "string",
            "description": "Comma-separated list of account identifiers.",
            "example": "ACC-835372"
          },
          "fromDate": {
            "type": "integer",
            "description": "Start date for the analytics report in epoch format.",
            "format": "int32",
            "example": 1
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the request body to generate foresight analytics user types report.",
        "example": {
          "analyticsReportData": {
            "forCraPurpose": true,
            "segments": {
              "geolocation": [
                {
                  "label": "STANDARD",
                  "value": "STANDARD"
                }
              ]
            },
            "analytics": [
              "STANDARD"
            ],
            "timeIntervalTypes": [
              "STANDARD"
            ],
            "income": 1,
            "age": 1
          },
          "accountIds": "ACC-835372",
          "fromDate": 1,
          "requestContext": {
            "requestId": "823ff931-73cb-5531-90ac-54b01c3ca966",
            "correlationId": "48ad50bf-8588-55bc-a737-4fdf0a9930d2",
            "idempotencyKey": "f92c7f34-9708-5752-9f45-fe5c05450a7a",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-799229"
            }
          }
        }
      },
      "AnalyticsReportData": {
        "type": "object",
        "properties": {
          "forCraPurpose": {
            "type": "boolean",
            "description": "Indicates if the report is for CRA purposes.",
            "example": false
          },
          "segments": {
            "type": "object",
            "properties": {
              "geolocation": {
                "type": "array",
                "description": "Array of geolocation segments.",
                "items": {
                  "type": "object",
                  "properties": {
                    "label": {
                      "type": "string",
                      "description": "Label of the geolocation segment.",
                      "example": "string"
                    },
                    "value": {
                      "type": "string",
                      "description": "Value of the geolocation segment.",
                      "example": "string"
                    }
                  },
                  "example": "string"
                }
              }
            }
          },
          "analytics": {
            "type": "array",
            "description": "Array of analytics data.",
            "items": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "description": "Schema representing analytics report data."
      },
      "AnalyticsSegments": {
        "title": "Analytics Segments",
        "type": "object",
        "properties": {
          "geolocation": {
            "type": "array",
            "description": "List of geographical location details.",
            "example": [
              {
                "label": "string",
                "value": "string"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Geolocation"
            }
          }
        },
        "description": "Segmentation details for the analytics report."
      },
      "Geolocation": {
        "title": "Geolocation",
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "description": "Label for the geographical location.",
            "example": "string"
          },
          "value": {
            "type": "string",
            "description": "Value representing the geographical location.",
            "example": "string"
          }
        },
        "description": "Geographical location detail used in analytics segments."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier to track the request across systems.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotent requests.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request originated.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information for the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Details about the channel through which the request is made."
      },
      "CreateForesightAnalyticsUserTypeForCustomerResponse_202": {
        "title": "Operations Report Response",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the report.",
            "example": "STANDARD"
          },
          "customerType": {
            "type": "string",
            "description": "Type of customer.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "integer",
            "description": "Identifier for the customer.",
            "format": "int32",
            "example": 1
          },
          "requestId": {
            "type": "string",
            "description": "Identifier for the request.",
            "example": "6eda9273-6065-5477-b336-448945e530cc"
          },
          "requesterName": {
            "type": "string",
            "description": "Name of the requester.",
            "example": "Northstar Banking Service"
          },
          "endUser": {
            "description": "Details about the end user associated with the report.",
            "$ref": "#/components/schemas/EndUser"
          },
          "createdDate": {
            "type": "integer",
            "description": "Timestamp when the report was created.",
            "format": "int32",
            "example": 1
          },
          "title": {
            "type": "string",
            "description": "Title of the report.",
            "example": "Banking operation completed"
          },
          "consumerId": {
            "type": "string",
            "description": "Identifier for the consumer.",
            "example": "STANDARD"
          },
          "consumerSsn": {
            "type": "string",
            "description": "Social Security Number of the consumer.",
            "example": "STANDARD"
          },
          "consumerDetails": {
            "description": "Details about the consumer.",
            "$ref": "#/components/schemas/ConsumerDetails"
          },
          "disputeStatement": {
            "type": "string",
            "description": "Statement regarding any disputes.",
            "example": "STANDARD"
          },
          "type": {
            "type": "string",
            "description": "Type of the report.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the report.",
            "example": "ACTIVE"
          },
          "constraints": {
            "description": "Constraints applied to the report.",
            "$ref": "#/components/schemas/Constraints"
          },
          "metadata": {
            "description": "Metadata related to the report response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the structure of a response for an operations report request in the Foresight Analytics service.",
        "example": {
          "id": "STANDARD",
          "customerType": "STANDARD",
          "customerId": 1,
          "requestId": "6eda9273-6065-5477-b336-448945e530cc",
          "requesterName": "Northstar Banking Service",
          "endUser": {
            "name": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "email": "olivia.bennett@northstar.example",
            "url": "https://banking.northstar.example/callbacks/status"
          },
          "createdDate": 1,
          "title": "Banking operation completed",
          "consumerId": "STANDARD",
          "consumerSsn": "STANDARD",
          "consumerDetails": {
            "id": "STANDARD",
            "firstName": "Northstar Banking Service",
            "middleName": "Northstar Banking Service",
            "lastName": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "ssn": "STANDARD",
            "email": "olivia.bennett@northstar.example"
          },
          "disputeStatement": "STANDARD",
          "type": "STANDARD",
          "status": "ACTIVE",
          "constraints": {
            "analyticsReportData": {
              "forCraPurpose": true,
              "segments": {
                "geolocation": [
                  {
                    "label": "STANDARD",
                    "value": "STANDARD"
                  }
                ]
              },
              "analytics": [
                "STANDARD"
              ]
            }
          },
          "metadata": {
            "responseId": "d4612c43-50e3-5017-9aa3-575b7cf21063",
            "correlationId": "48ad50bf-8588-55bc-a737-4fdf0a9930d2",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EndUser": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Full name of the end user.",
            "example": "string"
          },
          "address": {
            "type": "string",
            "description": "Street address of the end user.",
            "example": "string"
          },
          "city": {
            "type": "string",
            "description": "City where the end user resides.",
            "example": "string"
          },
          "state": {
            "type": "string",
            "description": "State where the end user resides.",
            "example": "string"
          },
          "zip": {
            "type": "string",
            "description": "Postal code of the end user's location.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the end user.",
            "example": "string"
          },
          "email": {
            "type": "string",
            "description": "Email address of the end user.",
            "example": "string"
          },
          "url": {
            "type": "string",
            "description": "Website or profile URL of the end user.",
            "example": "string"
          }
        },
        "description": "Schema representing details about the end user."
      },
      "ConsumerDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the consumer.",
            "example": "string"
          },
          "firstName": {
            "type": "string",
            "description": "First name of the consumer.",
            "example": "string"
          },
          "middleName": {
            "type": "string",
            "description": "Middle name of the consumer.",
            "example": "string"
          },
          "lastName": {
            "type": "string",
            "description": "Last name of the consumer.",
            "example": "string"
          },
          "address": {
            "type": "string",
            "description": "Street address of the consumer.",
            "example": "string"
          },
          "city": {
            "type": "string",
            "description": "City where the consumer resides.",
            "example": "string"
          },
          "state": {
            "type": "string",
            "description": "State where the consumer resides.",
            "example": "string"
          },
          "zip": {
            "type": "string",
            "description": "Postal code of the consumer's location.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the consumer.",
            "example": "string"
          },
          "ssn": {
            "type": "string",
            "description": "Social Security Number of the consumer.",
            "example": "string"
          },
          "email": {
            "type": "string",
            "description": "Email address of the consumer.",
            "example": "string"
          }
        },
        "description": "Schema representing details about the consumer."
      },
      "Constraints": {
        "type": "object",
        "properties": {
          "analyticsReportData": {
            "description": "Data related to the analysis report.",
            "$ref": "#/components/schemas/AnalyticsReportData"
          }
        },
        "description": "Schema representing constraints applied to the report."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking request-response pairs.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp marking when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Schema representing metadata related to the report response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-generate-foresight-analytics-non-cra-report"
        },
        "example": "open-finance-api-generate-foresight-analytics-non-cra-report"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token to authenticate requests. The token must be a valid JSON Web Token (JWT) format that is sent in the Authorization header of the HTTP request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}