{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Banking Platform Operations Status API",
    "description": "The Banking Platform Operations Status API provides real-time insights into the operational status of banking IT management systems. This endpoint allows users to query the current status of various platform operations, helping organizations maintain optimal performance and quickly identify issues. Typical consumers include IT teams and system administrators who require up-to-date operational data for monitoring and reporting purposes. This API is essential for ensuring uninterrupted banking services and enhancing overall system reliability.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/platform-operations/status": {
      "get": {
        "tags": [
          "Platform Operations"
        ],
        "summary": "Retrieve the status of platform operations.",
        "description": "This endpoint allows users to fetch the current operational status of the IT management platform, providing insights into its performance and availability.",
        "operationId": "getPlatformOperationsStatus",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving the status of platform operations in IT management. This body must be constructed in accordance with the specified JSON schema to ensure proper formatting and data consistency.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPlatformOperationsStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the current status of platform operations.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPlatformOperationsStatusResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPlatformOperationsStatusRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to platform operations status. It is expected to be a string value that signifies a specific status or message.",
        "example": "{}"
      },
      "GetPlatformOperationsStatusResponse_200": {
        "title": "Operations Status Response",
        "type": "object",
        "properties": {
          "systemId": {
            "type": "string",
            "description": "The unique identifier for the system.",
            "example": "STANDARD"
          },
          "environment": {
            "type": "string",
            "description": "The environment in which the system is running (e.g., production, development).",
            "example": "STANDARD"
          },
          "changeId": {
            "type": "string",
            "description": "The identifier for the change associated with this operation.",
            "example": "STANDARD"
          },
          "ownerTeam": {
            "type": "string",
            "description": "The team responsible for the operation.",
            "example": "STANDARD"
          },
          "plannedAt": {
            "type": "string",
            "description": "The planned start time for the operation.",
            "example": "2026-08-11T12:00:00Z"
          },
          "serviceTier": {
            "type": "string",
            "description": "The service tier of the operation (e.g., basic, premium).",
            "example": "STANDARD"
          },
          "availabilityTargetPercent": {
            "type": "number",
            "description": "The target availability percentage for the service.",
            "example": 100.0
          },
          "maintenanceWindow": {
            "type": "string",
            "description": "The scheduled maintenance window for the service.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the record (e.g., active, inactive).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the operation.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The last updated timestamp for the operation.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the operation response.",
            "$ref": "#/components/schemas/OperationMetadata"
          }
        },
        "description": "This schema represents the response for the GET operation on platform operations status.",
        "example": {
          "systemId": "STANDARD",
          "environment": "STANDARD",
          "changeId": "STANDARD",
          "ownerTeam": "STANDARD",
          "plannedAt": "2026-08-11T12:00:00Z",
          "serviceTier": "STANDARD",
          "availabilityTargetPercent": 100.0,
          "maintenanceWindow": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "30faa7fe-c552-524e-9f3e-6da112770aa2",
            "correlationId": "ac998c30-cbec-5222-8044-d58548cec8b6",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "OperationMetadata": {
        "title": "Operation Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for this response.",
            "example": "response-11111"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracing the request.",
            "example": "correlation-22222"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when this metadata was generated.",
            "example": "2023-10-03T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "us-east"
          }
        },
        "description": "Metadata related to the operation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "platform-operations-get-platform-operations"
        },
        "example": "platform-operations-get-platform-operations"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme utilizing JSON Web Tokens (JWT) for bearer authentication. Clients must include an Authorization header with the schema 'Bearer' followed by the JWT token.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}