{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Loan Application Decision Retrieval API",
    "description": "The Loan Application Decision Retrieval API enables authorized users to access the decision outcomes related to specific loan applications. By retrieving critical information, stakeholders such as loan officers, banks, and financial institutions can understand the status and rationale behind decisions made on loan applications. This API serves as a vital resource for integrating decision data into internal systems and enhancing operational transparency. Enhanced access to decision details facilitates better customer interactions and informed decision-making in lending processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{param1}/decisions": {
      "get": {
        "tags": [
          "Loan Applications"
        ],
        "summary": "Retrieve Loan Application Decisions",
        "description": "This endpoint allows users to fetch the decisions related to a specific loan application identified by its unique resource ID. It provides insights into the approval or denial status, along with any relevant notes or comments.",
        "operationId": "getLoanApplicationDecisions_res100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving decisions related to loan application RES-100045. This body may include specific filtering or selection criteria to tailor the response output.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetLoanApplicationDecisions_res100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the loan application decision.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLoanApplicationDecisions_res100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetLoanApplicationDecisions_res100045Request": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation regarding loan application decisions. The content is expected to be a string format.",
        "example": "{}"
      },
      "GetLoanApplicationDecisions_res100045Response_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of loan application decision entries.",
            "example": [
              {
                "decision": "STANDARD",
                "decisionSource": "STANDARD",
                "provisional": true,
                "scorecardName": "Northstar Banking Service",
                "creditScore": 1,
                "riskGrade": "STANDARD",
                "probabilityOfDefaultPercent": "STANDARD",
                "debtToIncomePercent": "STANDARD",
                "approvedPrincipal": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "approvedTermMonths": 1,
                "approvedAnnualInterestRatePercent": "STANDARD",
                "reasonCodes": [
                  "STANDARD"
                ],
                "conditions": [
                  {
                    "code": "SUCCESS",
                    "description": "Customer banking request processed successfully",
                    "dueBefore": "STANDARD",
                    "status": "ACTIVE"
                  }
                ],
                "comments": "STANDARD",
                "supersedesDecisionId": "515e6dc4-e50e-adda-7b11-3d8f503881b4",
                "id": "f671c9be-3038-4f7b-04a3-70d871e36c74",
                "decidedAt": "2026-08-11T12:00:00Z",
                "decidedBy": "STANDARD",
                "audit": {
                  "createdAt": "2026-09-15T14:30:00Z",
                  "createdBy": "STANDARD",
                  "updatedAt": "2026-09-15T14:30:00Z",
                  "updatedBy": "2026-09-15",
                  "version": 1
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/LoanApplicationDecision"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Schema representing the response for loan application decisions.",
        "example": {
          "items": [
            {
              "decision": "STANDARD",
              "decisionSource": "STANDARD",
              "provisional": true,
              "scorecardName": "Northstar Banking Service",
              "creditScore": 1,
              "riskGrade": "STANDARD",
              "probabilityOfDefaultPercent": "STANDARD",
              "debtToIncomePercent": "STANDARD",
              "approvedPrincipal": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "approvedTermMonths": 1,
              "approvedAnnualInterestRatePercent": "STANDARD",
              "reasonCodes": [
                "STANDARD"
              ],
              "conditions": [
                {
                  "code": "SUCCESS",
                  "description": "Customer banking request processed successfully",
                  "dueBefore": "STANDARD",
                  "status": "ACTIVE"
                }
              ],
              "comments": "STANDARD",
              "supersedesDecisionId": "515e6dc4-e50e-adda-7b11-3d8f503881b4",
              "id": "f671c9be-3038-4f7b-04a3-70d871e36c74",
              "decidedAt": "2026-08-11T12:00:00Z",
              "decidedBy": "STANDARD",
              "audit": {
                "createdAt": "2026-09-15T14:30:00Z",
                "createdBy": "STANDARD",
                "updatedAt": "2026-09-15T14:30:00Z",
                "updatedBy": "2026-09-15",
                "version": 1
              }
            }
          ],
          "metadata": {
            "responseId": "fdf27ead-04b5-5aff-ad92-014ccd5def25",
            "correlationId": "f8191965-5fab-5c4b-a3f0-356f83b35305",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "LoanApplicationDecision": {
        "type": "object",
        "properties": {
          "decision": {
            "type": "string",
            "description": "The decision made for the loan application."
          },
          "decisionSource": {
            "type": "string",
            "description": "The source of the decision."
          },
          "provisional": {
            "type": "boolean",
            "description": "Indicates if the decision is provisional."
          },
          "scorecardName": {
            "type": "string",
            "description": "Name of the scorecard used for decision making."
          },
          "creditScore": {
            "type": "integer",
            "description": "Credit score of the applicant.",
            "format": "int32"
          },
          "riskGrade": {
            "type": "string",
            "description": "The risk grade assigned to the loan application."
          },
          "probabilityOfDefaultPercent": {
            "type": "string",
            "description": "Percentage probability of default."
          },
          "debtToIncomePercent": {
            "type": "string",
            "description": "Debt-to-income ratio percentage."
          },
          "approvedPrincipal": {
            "$ref": "#/components/schemas/ApprovedPrincipal"
          },
          "approvedTermMonths": {
            "type": "integer",
            "description": "Number of months for the approved loan term.",
            "format": "int32"
          },
          "approvedAnnualInterestRatePercent": {
            "type": "string",
            "description": "Approved annual interest rate in percentage."
          },
          "reasonCodes": {
            "type": "array",
            "description": "List of reason codes for the decision.",
            "items": {
              "type": "string",
              "description": "Reason code."
            }
          },
          "conditions": {
            "type": "array",
            "description": "Conditions that must be met for the decision.",
            "items": {
              "$ref": "#/components/schemas/Condition"
            }
          },
          "comments": {
            "type": "string",
            "description": "Comments related to the loan application decision."
          },
          "supersedesDecisionId": {
            "type": "string",
            "description": "ID of the decision that this decision supersedes."
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the loan application decision."
          },
          "decidedAt": {
            "type": "string",
            "description": "Timestamp when the decision was made."
          },
          "decidedBy": {
            "type": "string",
            "description": "Identifier of the user who made the decision."
          },
          "audit": {
            "$ref": "#/components/schemas/AuditDetails"
          }
        },
        "description": "Details of a loan application decision."
      },
      "ApprovedPrincipal": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency of the approved principal amount."
          },
          "amount": {
            "type": "string",
            "description": "Amount of the approved principal."
          }
        },
        "description": "Details of the approved loan principal amount."
      },
      "Condition": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Code representing the condition."
          },
          "description": {
            "type": "string",
            "description": "Description of the condition."
          },
          "dueBefore": {
            "type": "string",
            "description": "Date before which the condition must be met."
          },
          "status": {
            "type": "string",
            "description": "Current status of the condition."
          }
        },
        "description": "Details of a condition attached to a loan application decision."
      },
      "AuditDetails": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the record was created."
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the record was last updated."
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the record."
          },
          "version": {
            "type": "integer",
            "description": "Version number of the record.",
            "format": "int32"
          }
        },
        "description": "Audit details for the loan application decision."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking purposes."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place."
          }
        },
        "description": "Metadata information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "description": "The unique identifier for the endpoint involved in the operation.",
          "example": "banking-loans-openapi-list-credit-decisions"
        },
        "example": "banking-loans-openapi-list-credit-decisions"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "description": "The name of the application that processed the request.",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Bearer authentication using JSON Web Tokens (JWT). This security scheme requires clients to send a bearer token in the `Authorization` header of requests to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}