{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Loan Application Document Retrieval API",
    "description": "This API facilitates the retrieval of documents associated with specific loan applications, streamlining the process for users to access critical documentation. It allows financial institutions and loan officers to easily manage and review loan application documents by accessing them through unique identifiers. Typical consumers include loan processing teams and compliance officers who require quick access to documentation for verification and assessment. This ensures a more efficient workflow and enhances customer service in loan management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{param1}/documents": {
      "get": {
        "tags": [
          "Loan Applications"
        ],
        "summary": "Retrieve documents for a specific loan application.",
        "description": "This endpoint allows you to fetch all documents associated with a specific loan application, identified by its ID. Ensure you have the appropriate permissions to access these documents.",
        "operationId": "getLoanApplicationsByIdDocuments",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request retrieves the documents associated with the loan application identified by RES-100045. Ensure the appropriate permissions are set to access this information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetLoanApplicationsByIdDocumentsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved loan application documents.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLoanApplicationsByIdDocumentsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetLoanApplicationsByIdDocumentsRequest": {
        "type": "string",
        "description": "This schema represents a request body for retrieving loan application documents. It is expected to be a string format.",
        "example": "{}"
      },
      "GetLoanApplicationsByIdDocumentsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "Array of document details associated with the loan application.",
            "example": [
              {
                "documentType": "STANDARD",
                "applicantId": "fbab1f78-6cb5-ba8c-83ff-e2bd6ef6abbf",
                "collateralId": "6a14c3b5-91f6-fc1c-c1db-58b477058ffa",
                "fileName": "Northstar Banking Service",
                "mimeType": "STANDARD",
                "storageReference": "STANDARD",
                "sha256Checksum": "STANDARD",
                "issuedDate": "2026-09-15",
                "expiryDate": "2026-09-15",
                "id": "a58507b6-ba40-3d41-f1cf-188ae47710cd",
                "verificationStatus": "VERIFIED",
                "verificationComments": "STANDARD",
                "verifiedAt": "2026-09-15T14:30:00Z",
                "verifiedBy": "STANDARD",
                "audit": {
                  "createdAt": "2026-09-15T14:30:00Z",
                  "createdBy": "STANDARD",
                  "updatedAt": "2026-09-15T14:30:00Z",
                  "updatedBy": "2026-09-15",
                  "version": 1
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/DocumentDetails"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for retrieving loan application documents.",
        "example": {
          "items": [
            {
              "documentType": "STANDARD",
              "applicantId": "fbab1f78-6cb5-ba8c-83ff-e2bd6ef6abbf",
              "collateralId": "6a14c3b5-91f6-fc1c-c1db-58b477058ffa",
              "fileName": "Northstar Banking Service",
              "mimeType": "STANDARD",
              "storageReference": "STANDARD",
              "sha256Checksum": "STANDARD",
              "issuedDate": "2026-09-15",
              "expiryDate": "2026-09-15",
              "id": "a58507b6-ba40-3d41-f1cf-188ae47710cd",
              "verificationStatus": "VERIFIED",
              "verificationComments": "STANDARD",
              "verifiedAt": "2026-09-15T14:30:00Z",
              "verifiedBy": "STANDARD",
              "audit": {
                "createdAt": "2026-09-15T14:30:00Z",
                "createdBy": "STANDARD",
                "updatedAt": "2026-09-15T14:30:00Z",
                "updatedBy": "2026-09-15",
                "version": 1
              }
            }
          ],
          "metadata": {
            "responseId": "119b0ae2-11d3-521e-9622-05caeb71eae8",
            "correlationId": "88b2791c-3ee4-5261-ae22-783d1eb2a2c0",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "DocumentDetails": {
        "type": "object",
        "properties": {
          "documentType": {
            "type": "string",
            "description": "Type of the document (e.g., ID, Paystub)."
          },
          "applicantId": {
            "type": "string",
            "description": "ID of the applicant associated with this document."
          },
          "collateralId": {
            "type": "string",
            "description": "ID of the collateral associated with this document."
          },
          "fileName": {
            "type": "string",
            "description": "Name of the file for the document."
          },
          "mimeType": {
            "type": "string",
            "description": "MIME type of the document."
          },
          "storageReference": {
            "type": "string",
            "description": "Reference to the storage location of the document."
          },
          "sha256Checksum": {
            "type": "string",
            "description": "SHA256 Checksum of the document for verification."
          },
          "issuedDate": {
            "type": "string",
            "description": "Date the document was issued."
          },
          "expiryDate": {
            "type": "string",
            "description": "Expiry date of the document."
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for this document."
          },
          "verificationStatus": {
            "type": "string",
            "description": "Status of the document verification (e.g., Verified, Pending)."
          },
          "verificationComments": {
            "type": "string",
            "description": "Comments related to the verification process."
          },
          "verifiedAt": {
            "type": "string",
            "description": "Timestamp of when the document was verified."
          },
          "verifiedBy": {
            "type": "string",
            "description": "ID or name of the user who verified the document."
          },
          "audit": {
            "$ref": "#/components/schemas/AuditInfo"
          }
        },
        "description": "Details of an individual document associated with a loan application."
      },
      "AuditInfo": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp of when the document was created."
          },
          "createdBy": {
            "type": "string",
            "description": "ID or name of the user who created the document."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update on the document."
          },
          "updatedBy": {
            "type": "string",
            "description": "ID or name of the user who last updated the document."
          },
          "version": {
            "type": "integer",
            "description": "Version number of the document.",
            "format": "int32"
          }
        },
        "description": "Audit information related to document processing."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking related requests."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred."
          }
        },
        "description": "Metadata information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-list-application-documents"
        },
        "example": "banking-loans-openapi-list-application-documents"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a bearer token, typically implemented using JSON Web Tokens (JWT). This method should be used to securely transmit user authentication information.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}