{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Corporate Payroll Services API",
    "description": "The Corporate Payroll Services API enables organizations to efficiently manage payroll processing and related banking functions. This API streamlines employee payment processes by allowing businesses to access and retrieve payroll information securely. Typical consumers include HR departments and financial systems that require integration with payroll data. Use cases include verifying payroll transactions, retrieving payroll schedules, and managing employee payment details. Enhance your corporate finance operations by leveraging this API for seamless payroll management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/corporate-payroll-services/{param1}": {
      "get": {
        "tags": [
          "Corporate Payroll Services"
        ],
        "summary": "Retrieve Corporate Payroll Service Details",
        "description": "This endpoint allows the user to retrieve detailed information about a specific corporate payroll service identified by its unique ID. Use this operation to access all relevant data associated with the service, including configurations and operational status.",
        "operationId": "getCorporatePayrollServiceById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information related to corporate payroll services. Ensure that all required parameters are included in the JSON payload to successfully retrieve the relevant data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCorporatePayrollServiceByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the payroll services information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCorporatePayrollServiceByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCorporatePayrollServiceByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to corporate payroll services in trade banking.",
        "example": "{}"
      },
      "GetCorporatePayrollServiceByIdResponse_200": {
        "title": "Corporate Payroll Service Response",
        "type": "object",
        "properties": {
          "corporateCustomerId": {
            "type": "string",
            "description": "Unique identifier for the corporate customer.",
            "example": "CUST-422367"
          },
          "payrollBatchId": {
            "type": "string",
            "description": "Identifier for the payroll batch.",
            "example": "STANDARD"
          },
          "payPeriod": {
            "type": "string",
            "description": "The pay period for which the payroll is processed.",
            "example": "STANDARD"
          },
          "employeeCount": {
            "type": "integer",
            "description": "Number of employees included in this payroll batch.",
            "format": "int32",
            "example": 1
          },
          "fundingAccountId": {
            "type": "string",
            "description": "Identifier for the funding account associated with the payroll.",
            "example": "ACC-904378"
          },
          "totalNetPay": {
            "description": "Total net pay amount to be distributed for the payroll.",
            "$ref": "#/components/schemas/TotalNetPay"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the payroll record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the payroll record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the payroll record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata information related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the corporate payroll service operation request.",
        "example": {
          "corporateCustomerId": "CUST-422367",
          "payrollBatchId": "STANDARD",
          "payPeriod": "STANDARD",
          "employeeCount": 1,
          "fundingAccountId": "ACC-904378",
          "totalNetPay": {
            "amount": 100.0,
            "currency": "USD"
          },
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "6d09735b-4bc3-5646-9328-f60c264c7258",
            "correlationId": "5ba91f6b-6fe4-5ddd-8475-d0d09c3345de",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "TotalNetPay": {
        "title": "Total Net Pay Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Total net pay amount to be disbursed.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "Currency code of the total net pay (e.g., USD, EUR).",
            "example": "string"
          }
        },
        "description": "Schema representing the total net pay amount and its currency."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID to track the request across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the payroll was processed.",
            "example": "string"
          }
        },
        "description": "Schema containing metadata information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint being accessed, useful for debugging and tracking requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "corporate-payroll-services-get-corporate-payroll-services"
        },
        "example": "corporate-payroll-services-get-corporate-payroll-services"
      },
      "X-Runtime-App": {
        "description": "The name of the application processing the request, which helps in identifying the service layer involved in the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses HTTP Bearer authentication. It requires a JSON Web Token (JWT) to be sent in the Authorization header of the request. The token should be a valid JWT format.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}