{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer VOE Transactions Management API",
    "description": "This API facilitates the submission of Verification of Employment (VOE) transactions for customers identified by a unique customer ID. By using this endpoint, businesses can efficiently manage and initiate requests for verifying employment details, which is crucial during loan processing or credit evaluations. The typical consumers of this API include financial institutions, lending companies, and HR departments seeking to access and verify employment information securely. Enhance your customer service efficiency by integrating this API into your decisioning framework.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/decisioning/customers/{customerId}/voetransactions": {
      "post": {
        "tags": [
          "Customer Transactions"
        ],
        "summary": "Create a new vote transaction for a customer.",
        "description": "This endpoint allows you to create a new vote transaction for a specific customer identified by their unique ID. The request body should contain all necessary details for the transaction, and a successful response will confirm the transaction's creation.",
        "operationId": "createVoetransactionForCustomerCUST100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for creating a new VOE transaction for the specified customer. This includes all necessary details required to process the transaction successfully.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateVoetransactionForCustomerCUST100045Request"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request accepted and will be processed asynchronously.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateVoetransactionForCustomerCUST100045Response_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateVoetransactionForCustomerCUST100045Request": {
        "title": "VoE Transactions Request Body",
        "type": "object",
        "properties": {
          "reportId": {
            "type": "string",
            "description": "Unique identifier for the report.",
            "example": "STANDARD"
          },
          "accountIds": {
            "type": "string",
            "description": "Comma-separated list of account identifiers.",
            "example": "ACC-369086"
          },
          "reportCustomFields": {
            "type": "array",
            "description": "List of custom fields specific to the report.",
            "example": [
              {
                "label": "STANDARD",
                "value": "STANDARD",
                "shown": true
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ReportCustomField"
            }
          },
          "fromDate": {
            "type": "integer",
            "description": "Start date for the report, represented as a Unix timestamp.",
            "format": "int32",
            "example": 1
          },
          "incomeStreamConfidenceMinimum": {
            "type": "integer",
            "description": "Minimum confidence level for the income stream.",
            "format": "int32",
            "example": 1
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for VoE transactions operations.",
        "example": {
          "reportId": "STANDARD",
          "accountIds": "ACC-369086",
          "reportCustomFields": [
            {
              "label": "STANDARD",
              "value": "STANDARD",
              "shown": true
            }
          ],
          "fromDate": 1,
          "incomeStreamConfidenceMinimum": 1,
          "requestContext": {
            "requestId": "d8ad825e-bba1-5355-9008-fe53a0902a9b",
            "correlationId": "2c6985cc-97ef-58d2-909e-b0c30201cb9a",
            "idempotencyKey": "c0ea2b36-ea4b-5fe7-9d54-b19e977fbd1e",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-607423"
            }
          }
        }
      },
      "ReportCustomField": {
        "title": "Report Custom Field",
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "description": "Label for the custom field.",
            "example": "Sample Label"
          },
          "value": {
            "type": "string",
            "description": "Value associated with the custom field.",
            "example": "Sample Value"
          },
          "shown": {
            "type": "boolean",
            "description": "Indicates whether the custom field should be displayed.",
            "example": true
          }
        },
        "description": "Schema representing a custom field in a report."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracing requests through the system.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that operations can be repeated without additional effects.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the system that generated the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the application that generated the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the contextual information related to the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the request.",
            "example": "string"
          }
        },
        "description": "Schema representing the channel details for the request."
      },
      "CreateVoetransactionForCustomerCUST100045Response_202": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier of the transaction.",
            "example": "STANDARD"
          },
          "customerType": {
            "type": "string",
            "description": "The type of customer associated with the transaction.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "integer",
            "description": "The unique identifier of the customer.",
            "format": "int32",
            "example": 1
          },
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "33121147-51e4-51b5-af66-8e2857c52590"
          },
          "requesterName": {
            "type": "string",
            "description": "The name of the person making the request.",
            "example": "Northstar Banking Service"
          },
          "endUser": {
            "description": "Details of the end user associated with the transaction.",
            "$ref": "#/components/schemas/EndUser"
          },
          "createdDate": {
            "type": "integer",
            "description": "The date the transaction was created, represented as a timestamp.",
            "format": "int32",
            "example": 1
          },
          "title": {
            "type": "string",
            "description": "The title of the transaction.",
            "example": "Banking operation completed"
          },
          "consumerId": {
            "type": "string",
            "description": "The unique identifier of the consumer related to the transaction.",
            "example": "STANDARD"
          },
          "consumerSsn": {
            "type": "string",
            "description": "The Social Security Number of the consumer.",
            "example": "STANDARD"
          },
          "consumerDetails": {
            "description": "Details of the consumer associated with the transaction.",
            "$ref": "#/components/schemas/ConsumerDetails"
          },
          "disputeStatement": {
            "type": "string",
            "description": "A statement regarding any dispute related to the transaction.",
            "example": "STANDARD"
          },
          "type": {
            "type": "string",
            "description": "The type of transaction.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the transaction.",
            "example": "ACTIVE"
          },
          "constraints": {
            "description": "Constraints related to the transaction.",
            "$ref": "#/components/schemas/Constraints"
          },
          "metadata": {
            "description": "Meta information related to the transaction.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for a transaction operation including details about the customer, request, and associated metadata.",
        "example": {
          "id": "STANDARD",
          "customerType": "STANDARD",
          "customerId": 1,
          "requestId": "33121147-51e4-51b5-af66-8e2857c52590",
          "requesterName": "Northstar Banking Service",
          "endUser": {
            "name": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "email": "olivia.bennett@northstar.example",
            "url": "https://banking.northstar.example/callbacks/status"
          },
          "createdDate": 1,
          "title": "Banking operation completed",
          "consumerId": "STANDARD",
          "consumerSsn": "STANDARD",
          "consumerDetails": {
            "id": "STANDARD",
            "firstName": "Northstar Banking Service",
            "middleName": "Northstar Banking Service",
            "lastName": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "ssn": "STANDARD",
            "email": "olivia.bennett@northstar.example"
          },
          "disputeStatement": "STANDARD",
          "type": "STANDARD",
          "status": "ACTIVE",
          "constraints": {
            "reportId": "STANDARD",
            "accountIds": [
              "ACC-167702"
            ],
            "reportCustomFields": [
              {
                "label": "STANDARD",
                "value": "STANDARD"
              }
            ]
          },
          "metadata": {
            "responseId": "503135d3-f836-55bd-a875-2164b602daef",
            "correlationId": "2c6985cc-97ef-58d2-909e-b0c30201cb9a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EndUser": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the end user.",
            "example": "string"
          },
          "address": {
            "type": "string",
            "description": "The address of the end user.",
            "example": "string"
          },
          "city": {
            "type": "string",
            "description": "The city where the end user resides.",
            "example": "string"
          },
          "state": {
            "type": "string",
            "description": "The state where the end user resides.",
            "example": "string"
          },
          "zip": {
            "type": "string",
            "description": "The ZIP code of the end user.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "The phone number of the end user.",
            "example": "string"
          },
          "email": {
            "type": "string",
            "description": "The email address of the end user.",
            "example": "string"
          },
          "url": {
            "type": "string",
            "description": "A URL related to the end user.",
            "example": "string"
          }
        },
        "description": "Details about the end user associated with a transaction."
      },
      "ConsumerDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier of the consumer.",
            "example": "string"
          },
          "firstName": {
            "type": "string",
            "description": "The first name of the consumer.",
            "example": "string"
          },
          "middleName": {
            "type": "string",
            "description": "The middle name of the consumer.",
            "example": "string"
          },
          "lastName": {
            "type": "string",
            "description": "The last name of the consumer.",
            "example": "string"
          },
          "address": {
            "type": "string",
            "description": "The address of the consumer.",
            "example": "string"
          },
          "city": {
            "type": "string",
            "description": "The city where the consumer resides.",
            "example": "string"
          },
          "state": {
            "type": "string",
            "description": "The state where the consumer resides.",
            "example": "string"
          },
          "zip": {
            "type": "string",
            "description": "The ZIP code of the consumer.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "The phone number of the consumer.",
            "example": "string"
          },
          "ssn": {
            "type": "string",
            "description": "The Social Security Number of the consumer.",
            "example": "string"
          },
          "email": {
            "type": "string",
            "description": "The email address of the consumer.",
            "example": "string"
          }
        },
        "description": "Details about the consumer associated with the transaction."
      },
      "Constraints": {
        "type": "object",
        "properties": {
          "reportId": {
            "type": "string",
            "description": "The identifier for the report associated with the transaction.",
            "example": "string"
          },
          "accountIds": {
            "type": "array",
            "description": "List of account identifiers relevant to the transaction.",
            "items": {
              "type": "string",
              "description": "The unique identifiers of the accounts related to the transaction.",
              "example": "string"
            }
          },
          "reportCustomFields": {
            "type": "array",
            "description": "List of custom fields related to the report.",
            "items": {
              "type": "object",
              "properties": {
                "label": {
                  "type": "string",
                  "description": "The label of the custom field.",
                  "example": "string"
                },
                "value": {
                  "type": "string",
                  "description": "The value of the custom field.",
                  "example": "string"
                }
              },
              "description": "Custom fields associated with the report."
            }
          }
        },
        "description": "Constraints related to a transaction."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier of the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation ID for tracking requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the transaction was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the transaction was processed.",
            "example": "string"
          }
        },
        "description": "Metadata information regarding the transaction."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-generate-voe-transactions-report"
        },
        "example": "open-finance-api-generate-voe-transactions-report"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is currently executing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication based on the Bearer token scheme using JSON Web Tokens (JWT). Clients must include a valid JWT in the Authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}