{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Submit Refund Request API",
    "description": "This API allows businesses to submit refund requests for transactions identified by a unique refund ID. Utilizing this endpoint is essential for managing customer service interactions, ensuring a seamless experience for users wanting to reverse transactions. Common consumers of this API include e-commerce platforms, payment processing systems, and customer support applications looking to streamline refund processes. By automating refund submissions, businesses can improve operational efficiency and customer satisfaction.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/refunds/{refundId}/submit": {
      "post": {
        "tags": [
          "Refund Management"
        ],
        "summary": "Submit a refund request for a specific reservation.",
        "description": "This operation allows you to submit a refund request for the specified reservation identified by its unique ID. Ensure that all the necessary information is provided in the request to process the refund successfully.",
        "operationId": "submitRefundForReservation",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Submits a refund request for the specified transaction. The request must include all necessary details related to the refund being processed, following the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubmitRefundForReservationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed and the refund has been submitted.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitRefundForReservationResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "SubmitRefundForReservationRequest": {
        "title": "Refund Submission Request",
        "type": "object",
        "properties": {
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request structure for submitting a refund operation.",
        "example": {
          "requestContext": {
            "requestId": "c1535f7a-f2be-5207-8b06-26ab8a788eff",
            "correlationId": "a6a8f47e-5aa0-51fb-b93e-e499f0a1e0f7",
            "idempotencyKey": "992362ba-696c-577f-bad2-4ba4cdafc683",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-712134"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate related requests and responses.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure that multiple identical requests do not affect the state more than once.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that originated the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that originated the request.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information regarding the request made, including identifiers and metadata."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "A unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used for the request (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "A unique identifier for the device used in the channel.",
            "example": "string"
          }
        },
        "description": "Information about the channel through which the request was made."
      },
      "SubmitRefundForReservationResponse_200": {
        "title": "Refund Submission Response",
        "type": "object",
        "properties": {
          "refundId": {
            "type": "string",
            "description": "Unique identifier for the refund.",
            "example": "STANDARD"
          },
          "paymentId": {
            "type": "string",
            "description": "Identifier of the original payment associated with the refund.",
            "example": "PAY-577084"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant processing the refund.",
            "example": "MER-134885"
          },
          "amount": {
            "description": "Details of the amount being refunded.",
            "$ref": "#/components/schemas/Amount"
          },
          "reasonCode": {
            "type": "string",
            "description": "Code representing the reason for the refund.",
            "example": "CODE-744"
          },
          "reason": {
            "type": "string",
            "description": "Description of the reason for the refund.",
            "example": "STANDARD"
          },
          "merchantRefundReference": {
            "type": "string",
            "description": "Reference provided by the merchant for the refund.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the refund request.",
            "example": "ACTIVE"
          },
          "failure": {
            "description": "Details on any failure that occurred during the refund process.",
            "$ref": "#/components/schemas/FailureDetails"
          },
          "processorReference": {
            "description": "Reference details provided by the payment processor.",
            "$ref": "#/components/schemas/ProcessorReference"
          },
          "audit": {
            "description": "Audit information related to the refund operation.",
            "$ref": "#/components/schemas/AuditDetails"
          },
          "metadata": {
            "description": "Additional metadata associated with the refund response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for a refund submission operation.",
        "example": {
          "refundId": "STANDARD",
          "paymentId": "PAY-577084",
          "merchantId": "MER-134885",
          "amount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "reasonCode": "CODE-744",
          "reason": "STANDARD",
          "merchantRefundReference": "STANDARD",
          "status": "ACTIVE",
          "failure": {
            "category": "STANDARD",
            "code": "SUCCESS",
            "message": "STANDARD",
            "declineCode": "CODE-231",
            "retryable": true
          },
          "processorReference": {
            "network": "STANDARD",
            "schemeTransactionId": "TXN-334523",
            "acquirerReferenceNumber": "STANDARD",
            "issuerReference": "STANDARD",
            "retrievalReferenceNumber": "STANDARD",
            "approvalCode": "CODE-234"
          },
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "3463a11d-76cc-5345-a718-9f0196bc4345",
            "correlationId": "a6a8f47e-5aa0-51fb-b93e-e499f0a1e0f7",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Amount": {
        "title": "Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency of the amount being refunded.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "Numeric value of the refund amount.",
            "example": "100.00"
          }
        },
        "description": "Schema representing the amount details for a refund."
      },
      "FailureDetails": {
        "title": "Failure Details",
        "type": "object",
        "properties": {
          "category": {
            "type": "string",
            "description": "Category of the failure.",
            "example": "SYSTEM"
          },
          "code": {
            "type": "string",
            "description": "Failure code indicating the type of failure.",
            "example": "500"
          },
          "message": {
            "type": "string",
            "description": "Detailed message about the failure.",
            "example": "Internal server error."
          },
          "declineCode": {
            "type": "string",
            "description": "Specific code provided for a declined transaction, if applicable.",
            "example": "DECLINE"
          },
          "retryable": {
            "type": "boolean",
            "description": "Indicates whether the failure can be retried.",
            "example": false
          }
        },
        "description": "Schema containing information about any failure during the refund process."
      },
      "ProcessorReference": {
        "title": "Processor Reference",
        "type": "object",
        "properties": {
          "network": {
            "type": "string",
            "description": "Network used for the transaction.",
            "example": "Visa"
          },
          "schemeTransactionId": {
            "type": "string",
            "description": "Transaction ID from the payment scheme.",
            "example": "T123456789"
          },
          "acquirerReferenceNumber": {
            "type": "string",
            "description": "Reference number from the acquiring institution.",
            "example": "AR123456"
          },
          "issuerReference": {
            "type": "string",
            "description": "Reference number from the issuing bank.",
            "example": "IR123456"
          },
          "retrievalReferenceNumber": {
            "type": "string",
            "description": "Reference number used to retrieve transaction information.",
            "example": "RR123456"
          },
          "approvalCode": {
            "type": "string",
            "description": "Approval code for the transaction.",
            "example": "AP123456"
          }
        },
        "description": "Schema representing the reference details from the payment processor."
      },
      "AuditDetails": {
        "title": "Audit Details",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the record was created.",
            "example": "2023-01-01T00:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the record.",
            "example": "admin"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the record was last updated.",
            "example": "2023-01-01T01:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the record.",
            "example": "admin"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the record.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Schema containing audit information related to the refund operation."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "ID for correlating related requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the processing occurred.",
            "example": "US"
          }
        },
        "description": "Schema containing additional metadata associated with the refund response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that was called. This allows tracking and logging of requests made to this specific endpoint.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-submit-refund"
        },
        "example": "banking-p2m-openapi-submit-refund"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is processing the request. This helps identify the source application in logs and monitoring tools.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication with JSON Web Tokens (JWT). Clients must include a valid JWT in the Authorization header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}