{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Legal Entity Directory API",
    "description": "The Legal Entity Directory API provides access to a comprehensive directory of legal entities within the banking sector. This API enables users to retrieve detailed information about various legal entities, helping organizations to verify, analyze, and maintain compliance with regulatory requirements. Typical consumers of this API include financial institutions, compliance teams, and risk management departments who need to reference accurate legal entity data for their operations. By seamlessly integrating this API, businesses can enhance their operational efficiency and risk assessment processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/party/legal-entity-directory": {
      "get": {
        "tags": [
          "Legal Entity"
        ],
        "summary": "Retrieve the legal entity directory.",
        "description": "This endpoint allows you to fetch the comprehensive directory of legal entities, providing insights into their details and statuses for better decision-making and compliance.",
        "operationId": "getLegalEntityDirectory",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve a directory of legal entities in the system. It allows the client to specify parameters for filtering or searching legal entities based on certain criteria.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetLegalEntityDirectoryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of legal entities.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLegalEntityDirectoryResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetLegalEntityDirectoryRequest": {
        "type": "string",
        "description": "A request body used for the GET operation on the legal entity directory endpoint. This request body is represented as a string.",
        "example": "{}"
      },
      "GetLegalEntityDirectoryResponse_200": {
        "title": "Legal Entity Directory Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of legal entities.",
            "example": [
              {
                "partyId": "PARTY-929401",
                "legalName": "Olivia Bennett",
                "legalEntityIdentifier": "STANDARD",
                "countryCode": "US",
                "registrationNumber": "NY-4587219",
                "incorporationDate": "2026-09-15",
                "entityStatus": "ACTIVE",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/LegalEntity"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting order of the legal entities.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for the GET operation on the legal entity directory.",
        "example": {
          "items": [
            {
              "partyId": "PARTY-929401",
              "legalName": "Olivia Bennett",
              "legalEntityIdentifier": "STANDARD",
              "countryCode": "US",
              "registrationNumber": "NY-4587219",
              "incorporationDate": "2026-09-15",
              "entityStatus": "ACTIVE",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "b33d30f2-4fd3-52e1-96c0-4ab4c342aef9",
            "correlationId": "1036d90b-ea1a-58c3-ac7f-bd5309206a98",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "LegalEntity": {
        "title": "Legal Entity",
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "Unique identifier for the party.",
            "example": "example-party-id"
          },
          "legalName": {
            "type": "string",
            "description": "The legal name of the entity.",
            "example": "Example Legal Entity"
          },
          "legalEntityIdentifier": {
            "type": "string",
            "description": "The legal entity identifier (LEI) of the entity.",
            "example": "LEI123456789"
          },
          "countryCode": {
            "type": "string",
            "description": "The country code where the entity is registered.",
            "example": "US"
          },
          "registrationNumber": {
            "type": "string",
            "description": "The registration number of the entity.",
            "example": "REG123456"
          },
          "incorporationDate": {
            "type": "string",
            "description": "The date when the entity was incorporated.",
            "example": "2023-01-01"
          },
          "entityStatus": {
            "type": "string",
            "description": "The current status of the entity.",
            "example": "ACTIVE"
          },
          "recordStatus": {
            "type": "string",
            "description": "The record status of the entity.",
            "example": "VALID"
          },
          "updatedAt": {
            "type": "string",
            "description": "The last updated timestamp of the entity record.",
            "example": "2023-01-15T10:00:00Z"
          }
        },
        "description": "Schema representing a legal entity in the directory."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Schema representing pagination information for the response."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "correlation-67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-01-15T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "US-East"
          }
        },
        "description": "Schema representing metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that was called.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "legal-entity-directory-search-legal-entity-directory"
        },
        "example": "legal-entity-directory-search-legal-entity-directory"
      },
      "X-Runtime-App": {
        "description": "The name of the runtime application processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses bearer tokens for authentication. Clients must include the bearer token in the 'Authorization' header as 'Bearer {token}' to access secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}