{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Loan Collateral Management API",
    "description": "The Loan Collateral Management API provides essential functionality for retrieving collateral details associated with loan applications. This endpoint allows clients to access specific collateral information by specifying the loan application identifier. Typical consumers of this API include financial institutions, loan officers, and systems responsible for loan processing and assessment. By integrating this API, users can enhance their loan evaluation workflows and ensure accurate collateral data management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{param1}/collaterals": {
      "get": {
        "tags": [],
        "summary": "Retrieve Collaterals for a Loan Application",
        "description": "This endpoint allows developers to retrieve information regarding the collaterals associated with a specific loan application. It provides essential details that may be relevant for assessing the loan application status and evaluating the collateral's impact on the lending decision.",
        "operationId": "getCollateralsForLoanApplication",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "A request to retrieve collaterals associated with a specific loan application. The request body can include optional parameters that may affect the response.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCollateralsForLoanApplicationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of collaterals associated with the loan application.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCollateralsForLoanApplicationResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCollateralsForLoanApplicationRequest": {
        "title": "Loan Application Collateral Request Body",
        "type": "string",
        "description": "A schema representing a string input for loan application collateral information.",
        "example": "{}"
      },
      "GetCollateralsForLoanApplicationResponse_200": {
        "title": "Collateral Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of collaterals associated with the loan application.",
            "example": [
              {
                "collateralType": "STANDARD",
                "ownershipType": "STANDARD",
                "ownerCustomerIds": [
                  "CUST-665772"
                ],
                "description": "Customer banking request processed successfully",
                "marketValue": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "forcedSaleValue": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "valuationDate": "2026-09-15",
                "valuationProvider": "STANDARD",
                "lienPriority": "STANDARD",
                "id": "8d768c74-7c4f-19c9-c24d-e10368f7d183",
                "status": "ACTIVE",
                "loanToValuePercent": "STANDARD",
                "perfectedAt": "2026-08-11T12:00:00Z",
                "audit": {
                  "createdAt": "2026-09-15T14:30:00Z",
                  "createdBy": "STANDARD",
                  "updatedAt": "2026-09-15T14:30:00Z",
                  "updatedBy": "2026-09-15",
                  "version": 1
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Collateral"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "This schema represents the response for loan application collaterals.",
        "example": {
          "items": [
            {
              "collateralType": "STANDARD",
              "ownershipType": "STANDARD",
              "ownerCustomerIds": [
                "CUST-665772"
              ],
              "description": "Customer banking request processed successfully",
              "marketValue": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "forcedSaleValue": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "valuationDate": "2026-09-15",
              "valuationProvider": "STANDARD",
              "lienPriority": "STANDARD",
              "id": "8d768c74-7c4f-19c9-c24d-e10368f7d183",
              "status": "ACTIVE",
              "loanToValuePercent": "STANDARD",
              "perfectedAt": "2026-08-11T12:00:00Z",
              "audit": {
                "createdAt": "2026-09-15T14:30:00Z",
                "createdBy": "STANDARD",
                "updatedAt": "2026-09-15T14:30:00Z",
                "updatedBy": "2026-09-15",
                "version": 1
              }
            }
          ],
          "metadata": {
            "responseId": "c9fb132e-5ce3-5a66-9829-431cd2be68a2",
            "correlationId": "15497428-3787-535e-ba9d-9cadbac9f6a8",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Collateral": {
        "title": "Collateral",
        "type": "object",
        "properties": {
          "collateralType": {
            "type": "string",
            "description": "The type of the collateral (e.g., property, vehicle)."
          },
          "ownershipType": {
            "type": "string",
            "description": "The ownership status of the collateral (e.g., owned, leased)."
          },
          "ownerCustomerIds": {
            "type": "array",
            "description": "List of customer IDs that own the collateral.",
            "items": {
              "type": "string"
            }
          },
          "description": {
            "type": "string",
            "description": "A detailed description of the collateral."
          },
          "marketValue": {
            "$ref": "#/components/schemas/Money"
          },
          "forcedSaleValue": {
            "$ref": "#/components/schemas/Money"
          },
          "valuationDate": {
            "type": "string",
            "description": "The date when the collateral was valued."
          },
          "valuationProvider": {
            "type": "string",
            "description": "The entity that provided the valuation of the collateral."
          },
          "lienPriority": {
            "type": "string",
            "description": "The priority of the lien on the collateral."
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the collateral."
          },
          "status": {
            "type": "string",
            "description": "Current status of the collateral (e.g., active, closed)."
          },
          "loanToValuePercent": {
            "type": "string",
            "description": "The loan-to-value ratio for the collateral."
          },
          "perfectedAt": {
            "type": "string",
            "description": "The date when the collateral was perfected."
          },
          "audit": {
            "$ref": "#/components/schemas/Audit"
          }
        },
        "description": "Details of a collateral item associated with the loan application."
      },
      "Money": {
        "title": "Money",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency of the amount (e.g., USD, EUR)."
          },
          "amount": {
            "type": "string",
            "description": "The amount in the specified currency."
          }
        },
        "description": "Represents an amount of money along with its currency."
      },
      "Audit": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "The date and time when the collateral was created."
          },
          "createdBy": {
            "type": "string",
            "description": "The user who created the collateral record."
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the collateral was last updated."
          },
          "updatedBy": {
            "type": "string",
            "description": "The user who last updated the collateral record."
          },
          "version": {
            "type": "integer",
            "description": "The version of the collateral record.",
            "format": "int32"
          }
        },
        "description": "Details regarding the audit trail of the collateral."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request across systems."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed."
          }
        },
        "description": "Metadata related to the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifier for the endpoint that processed the loan application request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-list-collaterals"
        },
        "example": "banking-loans-openapi-list-collaterals"
      },
      "X-Runtime-App": {
        "description": "The name or identifier of the application runtime that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses HTTP Bearer authentication, where a JSON Web Token (JWT) is required in the Authorization header of the request. Clients must provide a valid JWT to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}