{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Update Webhook Subscription API",
    "description": "The Update Webhook Subscription API allows users to modify existing webhook subscriptions for real-time event notifications. This endpoint enables businesses to specify changes in webhook settings, such as updating the callback URL or altering event types to monitor. Typical consumers of this API include developers and system integrators who need to manage their webhook configurations dynamically. By using this API, users can ensure that their systems are notified accurately and promptly about relevant events.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/notification-subscriptions/webhooks/{webhookId}": {
      "put": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Update a specific webhook.",
        "description": "This endpoint allows you to update the details of a specific webhook identified by its resource ID 'RES-100045'. Ensure you provide the necessary data in the request body to perform the update successfully.",
        "operationId": "updateWebhookRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body contains the necessary data to update the specified webhook resource with ID RES-100045. The payload must adhere to the schema defined by the operation for successful processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWebhookRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, resource updated.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateWebhookRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateWebhookRes100045Request": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "description": "The URL to which the webhook will send notifications.",
            "example": "https://banking.northstar.example/callbacks/status"
          },
          "events": {
            "type": "array",
            "description": "A list of events the webhook will subscribe to.",
            "example": [
              {
                "name": "Northstar Banking Service",
                "url": "https://banking.northstar.example/callbacks/status",
                "condition": {
                  "subscribeFor": "STANDARD",
                  "includes": [
                    "STANDARD"
                  ],
                  "excludes": [
                    "STANDARD"
                  ]
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/WebhookEvent"
            }
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for updating webhook settings.",
        "example": {
          "url": "https://banking.northstar.example/callbacks/status",
          "events": [
            {
              "name": "Northstar Banking Service",
              "url": "https://banking.northstar.example/callbacks/status",
              "condition": {
                "subscribeFor": "STANDARD",
                "includes": [
                  "STANDARD"
                ],
                "excludes": [
                  "STANDARD"
                ]
              }
            }
          ],
          "requestContext": {
            "requestId": "7abdae6a-5cd0-5a79-9156-b453155fa51c",
            "correlationId": "f9b78b60-bcd9-5be7-b71a-4accd52b4153",
            "idempotencyKey": "4ae3fd03-403d-5553-9852-00525442e0b9",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-599433"
            }
          }
        }
      },
      "WebhookEvent": {
        "type": "object",
        "properties": {
          "webhookEventId": {
            "type": "string",
            "description": "Unique identifier for the webhook event.",
            "example": "event-123"
          },
          "name": {
            "type": "string",
            "description": "Name of the webhook event.",
            "example": "user.created"
          },
          "url": {
            "type": "string",
            "description": "The URL that is called for this event.",
            "example": "https://example.com/webhook/user.created"
          },
          "status": {
            "type": "string",
            "description": "Current status of the webhook event.",
            "example": "enabled"
          },
          "condition": {
            "$ref": "#/components/schemas/Condition"
          }
        },
        "description": "Schema representing details of a webhook event."
      },
      "EventCondition": {
        "type": "object",
        "properties": {
          "subscribeFor": {
            "type": "string",
            "description": "The condition under which to subscribe for this event.",
            "example": "active"
          },
          "includes": {
            "type": "array",
            "description": "List of items that are included in this event subscription.",
            "items": {
              "type": "string",
              "example": "item_id_123"
            }
          },
          "excludes": {
            "type": "array",
            "description": "List of items that are excluded from this event subscription.",
            "items": {
              "type": "string",
              "example": "item_id_456"
            }
          }
        },
        "description": "Schema representing conditions that determine when the event should be sent."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-001"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used to correlate related requests.",
            "example": "corr-001"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of the request.",
            "example": "idempotency-key-123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-10T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system initiating the request.",
            "example": "systemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application within the source system making the request.",
            "example": "appA"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context for the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., API, WEB, etc.).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "ID of the device from which the request is originating.",
            "example": "device-456"
          }
        },
        "description": "Schema representing the channel information related to the request."
      },
      "UpdateWebhookRes100045Response_200": {
        "type": "object",
        "properties": {
          "subscriptionId": {
            "type": "string",
            "description": "Unique identifier for the webhook subscription.",
            "example": "STANDARD"
          },
          "url": {
            "type": "string",
            "description": "The callback URL for the webhook subscription.",
            "example": "https://banking.northstar.example/callbacks/status"
          },
          "events": {
            "type": "array",
            "description": "List of webhook events associated with the subscription.",
            "example": [
              {
                "webhookEventId": "STANDARD",
                "name": "Northstar Banking Service",
                "url": "https://banking.northstar.example/callbacks/status",
                "status": "ACTIVE",
                "condition": {
                  "subscribeFor": "STANDARD",
                  "includes": [
                    "STANDARD"
                  ],
                  "excludes": [
                    "STANDARD"
                  ]
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/WebhookEvent"
            }
          },
          "status": {
            "type": "string",
            "description": "Current status of the webhook subscription.",
            "example": "ACTIVE"
          },
          "createdDate": {
            "type": "string",
            "description": "Timestamp when the webhook subscription was created.",
            "example": "2026-09-15"
          },
          "lastUpdatedDate": {
            "type": "string",
            "description": "Timestamp when the webhook subscription was last updated.",
            "example": "2026-09-15"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the webhook update operation, including details about the subscription, event configuration, status, and metadata.",
        "example": {
          "subscriptionId": "STANDARD",
          "url": "https://banking.northstar.example/callbacks/status",
          "events": [
            {
              "webhookEventId": "STANDARD",
              "name": "Northstar Banking Service",
              "url": "https://banking.northstar.example/callbacks/status",
              "status": "ACTIVE",
              "condition": {
                "subscribeFor": "STANDARD",
                "includes": [
                  "STANDARD"
                ],
                "excludes": [
                  "STANDARD"
                ]
              }
            }
          ],
          "status": "ACTIVE",
          "createdDate": "2026-09-15",
          "lastUpdatedDate": "2026-09-15",
          "metadata": {
            "responseId": "89aa579f-d796-5aba-abbc-f46cd2a84cb8",
            "correlationId": "f9b78b60-bcd9-5be7-b71a-4accd52b4153",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Condition": {
        "type": "object",
        "properties": {
          "subscribeFor": {
            "type": "string",
            "description": "Specifies the subscription type for which the event is triggered.",
            "example": "all"
          },
          "includes": {
            "type": "array",
            "description": "List of conditions that must be included for the event to trigger.",
            "items": {
              "type": "string",
              "description": "A specific inclusion condition.",
              "example": "account_id"
            }
          },
          "excludes": {
            "type": "array",
            "description": "List of conditions that will exclude the event from triggering.",
            "items": {
              "type": "string",
              "description": "A specific exclusion condition.",
              "example": "user_id"
            }
          }
        },
        "description": "Schema representing the conditions under which the webhook event is triggered."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for related requests or responses.",
            "example": "corr-456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "us-west-2"
          }
        },
        "description": "Metadata related to the webhook response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "Unique identifier for the endpoint associated with the webhook event.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-update-webhook-subscription"
        },
        "example": "open-finance-api-update-webhook-subscription"
      },
      "x-runtime-app": {
        "description": "The name of the application that triggered this webhook event.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication. It requires a valid JSON Web Token (JWT) to be included in the Authorization header of HTTP requests. The token must be formatted correctly to ensure successful authentication.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}