{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Payment Information Retrieval API",
    "description": "The Payment Information Retrieval API enables users to access detailed information about payments associated with specific loans. By providing a unique loan ID, consumers can obtain transaction histories, payment amounts, due dates, and related data. This API is particularly useful for financial institutions, customer service representatives, and end-users managing their loan payments. It enhances transparency and efficiency in financial operations, allowing for effective tracking and management of payment activities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loans/{loanId}/payments": {
      "get": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Retrieve Payments for a Specific Loan",
        "description": "Fetches a list of payment records associated with the specified loan (LOAN-500045), providing details about each transaction made towards the loan.",
        "operationId": "getPaymentsForLoan500045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the payment details for the specified loan identified as LOAN-500045. Ensure all necessary parameters are included to receive accurate payment information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPaymentsForLoan500045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved payment information for the specified loan.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPaymentsForLoan500045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPaymentsForLoan500045Request": {
        "type": "string",
        "description": "A request body representing the payment operations related to a specific loan.",
        "example": "{}"
      },
      "GetPaymentsForLoan500045Response_200": {
        "title": "Loan Payments Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of payment objects associated with the loan.",
            "example": [
              {
                "amount": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "paymentDate": "2026-09-15",
                "valueDate": "2026-09-15",
                "paymentMethod": "STANDARD",
                "sourceAccountNumber": "STANDARD",
                "externalReference": "STANDARD",
                "allocationStrategy": "STANDARD",
                "targetInstallmentNumbers": [
                  1
                ],
                "manualAllocation": {
                  "principal": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "interest": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "fees": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "penalties": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "excess": {
                    "currency": "USD",
                    "amount": "1250.75"
                  }
                },
                "narrative": "STANDARD",
                "id": "20f90b55-47e0-4817-1caf-7564a13f7e26",
                "paymentNumber": "STANDARD",
                "status": "ACTIVE",
                "allocation": {
                  "principal": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "interest": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "fees": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "penalties": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "excess": {
                    "currency": "USD",
                    "amount": "1250.75"
                  }
                },
                "transactionReference": "STANDARD",
                "postedAt": "2026-08-11T12:00:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Payment"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "This schema represents the response structure for loan payments retrieved from the API.",
        "example": {
          "items": [
            {
              "amount": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "paymentDate": "2026-09-15",
              "valueDate": "2026-09-15",
              "paymentMethod": "STANDARD",
              "sourceAccountNumber": "STANDARD",
              "externalReference": "STANDARD",
              "allocationStrategy": "STANDARD",
              "targetInstallmentNumbers": [
                1
              ],
              "manualAllocation": {
                "principal": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "interest": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "fees": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "penalties": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "excess": {
                  "currency": "USD",
                  "amount": "1250.75"
                }
              },
              "narrative": "STANDARD",
              "id": "20f90b55-47e0-4817-1caf-7564a13f7e26",
              "paymentNumber": "STANDARD",
              "status": "ACTIVE",
              "allocation": {
                "principal": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "interest": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "fees": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "penalties": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "excess": {
                  "currency": "USD",
                  "amount": "1250.75"
                }
              },
              "transactionReference": "STANDARD",
              "postedAt": "2026-08-11T12:00:00Z"
            }
          ],
          "metadata": {
            "responseId": "c5fa23ee-d98e-5e1a-88b2-1eed85715db7",
            "correlationId": "f7e4c1a0-a790-5855-9a6d-a1125091841e",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Payment": {
        "title": "Payment Details",
        "type": "object",
        "properties": {
          "amount": {
            "$ref": "#/components/schemas/Amount"
          },
          "paymentDate": {
            "type": "string",
            "description": "The date when the payment was made."
          },
          "valueDate": {
            "type": "string",
            "description": "The date when the payment is credited to the loan."
          },
          "paymentMethod": {
            "type": "string",
            "description": "The method used for making the payment."
          },
          "sourceAccountNumber": {
            "type": "string",
            "description": "The account number from which the payment was made."
          },
          "externalReference": {
            "type": "string",
            "description": "An external reference for tracking the payment."
          },
          "allocationStrategy": {
            "type": "string",
            "description": "The strategy used for allocating the payment."
          },
          "targetInstallmentNumbers": {
            "type": "array",
            "description": "A list of installment numbers targeted by this payment.",
            "items": {
              "type": "integer",
              "format": "int32"
            }
          },
          "manualAllocation": {
            "$ref": "#/components/schemas/ManualAllocation"
          },
          "narrative": {
            "type": "string",
            "description": "A narrative or description of the payment."
          },
          "id": {
            "type": "string",
            "description": "The unique identifier for the payment."
          },
          "paymentNumber": {
            "type": "string",
            "description": "The payment number assigned to this transaction."
          },
          "status": {
            "type": "string",
            "description": "The current status of the payment."
          },
          "allocation": {
            "$ref": "#/components/schemas/Allocation"
          },
          "transactionReference": {
            "type": "string",
            "description": "A reference number for the transaction."
          },
          "postedAt": {
            "type": "string",
            "description": "The date when the payment was posted."
          }
        },
        "description": "Details of a single payment made towards a loan."
      },
      "ResponseMetadata": {
        "title": "API Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "The ID used to correlate requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed."
          }
        },
        "description": "Metadata information about the API response."
      },
      "Amount": {
        "title": "Monetary Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency code (e.g., USD, EUR)."
          },
          "amount": {
            "type": "string",
            "description": "The amount of money."
          }
        },
        "description": "Represents an amount of money along with its currency."
      },
      "ManualAllocation": {
        "title": "Manual Allocation Details",
        "type": "object",
        "properties": {
          "principal": {
            "$ref": "#/components/schemas/Amount"
          },
          "interest": {
            "$ref": "#/components/schemas/Amount"
          },
          "fees": {
            "$ref": "#/components/schemas/Amount"
          },
          "penalties": {
            "$ref": "#/components/schemas/Amount"
          },
          "excess": {
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "Details of the manual allocation of payments."
      },
      "Allocation": {
        "title": "Payment Allocation Details",
        "type": "object",
        "properties": {
          "principal": {
            "$ref": "#/components/schemas/Amount"
          },
          "interest": {
            "$ref": "#/components/schemas/Amount"
          },
          "fees": {
            "$ref": "#/components/schemas/Amount"
          },
          "penalties": {
            "$ref": "#/components/schemas/Amount"
          },
          "excess": {
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "Details on how the payment is allocated."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-list-loan-payments"
        },
        "example": "banking-loans-openapi-list-loan-payments"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JSON Web Tokens (JWT) to authenticate users. Clients must include a valid JWT in the 'Authorization' header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}