{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Project Finance Insights API",
    "description": "The Project Finance Insights API provides users with detailed information and analytics related to project financing within the trade banking sector. By utilizing this API, developers can retrieve valuable data pertaining to specific projects identified by the parameter provided, enabling them to make informed decisions. Typical consumers of this API include financial analysts and project managers seeking to evaluate project viability or assess financial performance. This API empowers users to access crucial financial metrics and project details efficiently, streamlining the project finance management process.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/project-finance/{param1}": {
      "get": {
        "tags": [
          "Project Finance"
        ],
        "summary": "Retrieve details for a specific project finance resource.",
        "description": "This endpoint allows you to get comprehensive details about a specific project finance resource identified by its unique ID. By providing the resource ID in the request, you can access information such as project status, funding details, and associated teams.",
        "operationId": "getProjectFinanceResource",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve detailed information about the specified project finance operation. It allows the client to specify necessary parameters to filter and customize the response.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetProjectFinanceResourceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the resource details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetProjectFinanceResourceResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetProjectFinanceResourceRequest": {
        "title": "Project Finance Request Body",
        "type": "string",
        "description": "A request body for the Project Finance operations in the Trade Banking context. This schema represents a string containing relevant data for the request.",
        "example": "{}"
      },
      "GetProjectFinanceResourceResponse_200": {
        "type": "object",
        "properties": {
          "corporateCustomerId": {
            "type": "string",
            "description": "The unique identifier for the corporate customer.",
            "example": "CUST-903243"
          },
          "facilityId": {
            "type": "string",
            "description": "The unique identifier for the financial facility.",
            "example": "STANDARD"
          },
          "counterpartyId": {
            "type": "string",
            "description": "The unique identifier for the counterparty involved in the transaction.",
            "example": "PARTY-781556"
          },
          "amount": {
            "description": "The total amount involved in the transaction.",
            "$ref": "#/components/schemas/Amount"
          },
          "maturityDate": {
            "type": "string",
            "description": "The date when the financial obligation matures.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the record (e.g., active, inactive).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the GET operation on project finance in trade banking.",
        "example": {
          "corporateCustomerId": "CUST-903243",
          "facilityId": "STANDARD",
          "counterpartyId": "PARTY-781556",
          "amount": {
            "value": 100.0,
            "currency": "USD"
          },
          "maturityDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "0e67ca8a-279f-5cf4-af20-f1e735d05638",
            "correlationId": "1ee8b15e-78a0-5864-a4f2-8674ab67c482",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Amount": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The monetary value.",
            "example": 1000000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency code (e.g., USD, EUR).",
            "example": "USD"
          }
        },
        "description": "Represents an amount of money along with its currency."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "RES123"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier for tracing requests across systems.",
            "example": "CORR456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographical region where the processing occurred.",
            "example": "US-East"
          }
        },
        "description": "Contains metadata information for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "project-finance-get-project-finance"
        },
        "example": "project-finance-get-project-finance"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses bearer tokens for authentication. Clients must include a valid JSON Web Token (JWT) in the authorization header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}