{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_User Types Management API",
    "description": "The User Types Management API enables businesses to define and manage user types utilized in foresight analytics reports. By leveraging this endpoint, developers can create and customize user types that enhance decision-making insights. This API is ideal for analytics teams and product managers looking to refine user segmentation strategies and improve reporting accuracy. Integrated seamlessly with the foresight analytics framework, it supports dynamic user profiling to adapt to evolving business needs.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/decisioning/reports/foresight-analytics/usertypes/{usertypeId}": {
      "post": {
        "tags": [
          "ForesightAnalytics"
        ],
        "summary": "Create a new user type for foresight analytics reports.",
        "description": "This operation allows you to create a new user type for the foresight analytics reports. Ensure that all required fields are filled out in the request body to successfully create a user type.",
        "operationId": "createForesightAnalyticsUserType",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit usertype data for the Foresight Analytics reports. The data submitted must conform to the defined schema, which encapsulates the attributes necessary for processing usertype information effectively.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateForesightAnalyticsUserTypeRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted and is being processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateForesightAnalyticsUserTypeResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateForesightAnalyticsUserTypeRequest": {
        "type": "object",
        "properties": {
          "analyticsReportData": {
            "$ref": "#/components/schemas/AnalyticsReportData"
          },
          "accountIds": {
            "type": "string",
            "description": "A comma-separated list of account IDs to include in the report.",
            "example": "ACC-160191"
          },
          "fromDate": {
            "type": "integer",
            "description": "The start date for the report in epoch time.",
            "format": "int32",
            "example": 1
          },
          "customerId": {
            "type": "integer",
            "description": "The ID of the customer for whom the report is being generated.",
            "format": "int32",
            "example": 1
          },
          "externalCustomerId": {
            "type": "string",
            "description": "The external ID of the customer.",
            "example": "CUST-460832"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for creating an operational analytics report.",
        "example": {
          "analyticsReportData": {
            "forCraPurpose": true,
            "segments": {
              "geolocation": [
                {
                  "label": "STANDARD",
                  "value": "STANDARD"
                }
              ]
            },
            "analytics": [
              "STANDARD"
            ],
            "timeIntervalTypes": [
              "STANDARD"
            ],
            "income": 1,
            "age": 1
          },
          "accountIds": "ACC-160191",
          "fromDate": 1,
          "customerId": 1,
          "externalCustomerId": "CUST-460832",
          "requestContext": {
            "requestId": "970c9def-6087-5814-bf6c-9c2d4aa356b9",
            "correlationId": "07d88a07-50bb-53f4-8731-6d539b142549",
            "idempotencyKey": "009d14fd-cafa-5852-a362-46d4de6178c3",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-972748"
            }
          }
        }
      },
      "AnalyticsReportData": {
        "type": "object",
        "properties": {
          "forCraPurpose": {
            "type": "boolean",
            "description": "Indicates if the data is for CRA purposes.",
            "example": false
          },
          "segments": {
            "description": "Segments of the analytics report.",
            "$ref": "#/components/schemas/Segments"
          },
          "analytics": {
            "type": "array",
            "description": "List of analytics data.",
            "items": {
              "type": "string"
            }
          }
        },
        "description": "Analytics report data details."
      },
      "Segments": {
        "type": "object",
        "properties": {
          "geolocation": {
            "type": "array",
            "description": "Geolocation data segments.",
            "items": {
              "type": "object",
              "properties": {
                "label": {
                  "type": "string",
                  "description": "Label for the geolocation segment.",
                  "example": "Segment A"
                },
                "value": {
                  "type": "string",
                  "description": "Value of the geolocation segment.",
                  "example": "Value A"
                }
              }
            }
          }
        },
        "description": "Segments related to the analytics report."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking related requests.",
            "example": "cor-789012"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotent requests.",
            "example": "idempotency-key-abcdef"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system from where the request originated.",
            "example": "CRM_SYSTEM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from where the request originated.",
            "example": "WEB_APP"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Context of the request including IDs and source information."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device used.",
            "example": "device-abc123"
          }
        },
        "description": "Information related to the channel used for the request."
      },
      "CreateForesightAnalyticsUserTypeResponse_202": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the operation.",
            "example": "STANDARD"
          },
          "customerType": {
            "type": "string",
            "description": "Type of the customer (e.g., individual, organization).",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "integer",
            "description": "Identifier for the customer.",
            "format": "int32",
            "example": 1
          },
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "13e349bc-4227-50c3-95d9-902f854bdce9"
          },
          "requesterName": {
            "type": "string",
            "description": "Name of the person making the request.",
            "example": "Northstar Banking Service"
          },
          "endUser": {
            "description": "Details about the end user.",
            "$ref": "#/components/schemas/EndUser"
          },
          "createdDate": {
            "type": "integer",
            "description": "Date when the record was created, in Unix timestamp format.",
            "format": "int32",
            "example": 1
          },
          "title": {
            "type": "string",
            "description": "Title of the operation.",
            "example": "Banking operation completed"
          },
          "consumerId": {
            "type": "string",
            "description": "Identifier for the consumer.",
            "example": "STANDARD"
          },
          "consumerSsn": {
            "type": "string",
            "description": "Social Security Number of the consumer.",
            "example": "STANDARD"
          },
          "consumerDetails": {
            "description": "Details about the consumer.",
            "$ref": "#/components/schemas/ConsumerDetails"
          },
          "disputeStatement": {
            "type": "string",
            "description": "A statement regarding any disputes.",
            "example": "STANDARD"
          },
          "type": {
            "type": "string",
            "description": "Type of the operation.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the operation.",
            "example": "ACTIVE"
          },
          "constraints": {
            "description": "Constraints related to the operation.",
            "$ref": "#/components/schemas/Constraints"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for user types in foresight analytics operations.",
        "example": {
          "id": "STANDARD",
          "customerType": "STANDARD",
          "customerId": 1,
          "requestId": "13e349bc-4227-50c3-95d9-902f854bdce9",
          "requesterName": "Northstar Banking Service",
          "endUser": {
            "name": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "email": "olivia.bennett@northstar.example",
            "url": "https://banking.northstar.example/callbacks/status"
          },
          "createdDate": 1,
          "title": "Banking operation completed",
          "consumerId": "STANDARD",
          "consumerSsn": "STANDARD",
          "consumerDetails": {
            "id": "STANDARD",
            "firstName": "Northstar Banking Service",
            "middleName": "Northstar Banking Service",
            "lastName": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "ssn": "STANDARD",
            "email": "olivia.bennett@northstar.example"
          },
          "disputeStatement": "STANDARD",
          "type": "STANDARD",
          "status": "ACTIVE",
          "constraints": {
            "analyticsReportData": {
              "forCraPurpose": true,
              "segments": {
                "geolocation": [
                  {
                    "label": "STANDARD",
                    "value": "STANDARD"
                  }
                ]
              },
              "analytics": [
                "STANDARD"
              ]
            }
          },
          "metadata": {
            "responseId": "a92c58c1-3ac6-5c89-9857-1678ea4c2722",
            "correlationId": "07d88a07-50bb-53f4-8731-6d539b142549",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EndUser": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Full name of the end user.",
            "example": "John Doe"
          },
          "address": {
            "type": "string",
            "description": "Street address of the end user.",
            "example": "123 Main St."
          },
          "city": {
            "type": "string",
            "description": "City where the end user resides.",
            "example": "Anytown"
          },
          "state": {
            "type": "string",
            "description": "State where the end user resides.",
            "example": "CA"
          },
          "zip": {
            "type": "string",
            "description": "ZIP code for the end user's address.",
            "example": "90210"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the end user.",
            "example": "(123) 456-7890"
          },
          "email": {
            "type": "string",
            "description": "Email address of the end user.",
            "example": "john.doe@example.com"
          },
          "url": {
            "type": "string",
            "description": "Website URL associated with the end user.",
            "example": "http://example.com"
          }
        },
        "description": "Details of the end user."
      },
      "ConsumerDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the consumer.",
            "example": "string"
          },
          "firstName": {
            "type": "string",
            "description": "First name of the consumer.",
            "example": "John"
          },
          "middleName": {
            "type": "string",
            "description": "Middle name of the consumer, if applicable.",
            "example": "A."
          },
          "lastName": {
            "type": "string",
            "description": "Last name of the consumer.",
            "example": "Doe"
          },
          "address": {
            "type": "string",
            "description": "Address of the consumer.",
            "example": "123 Main St."
          },
          "city": {
            "type": "string",
            "description": "City where the consumer resides.",
            "example": "Anytown"
          },
          "state": {
            "type": "string",
            "description": "State where the consumer resides.",
            "example": "CA"
          },
          "zip": {
            "type": "string",
            "description": "ZIP code for the consumer's address.",
            "example": "90210"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the consumer.",
            "example": "(123) 456-7890"
          },
          "ssn": {
            "type": "string",
            "description": "Social Security Number of the consumer.",
            "example": "123-45-6789"
          },
          "email": {
            "type": "string",
            "description": "Email address of the consumer.",
            "example": "john.doe@example.com"
          }
        },
        "description": "Details of the consumer."
      },
      "Constraints": {
        "type": "object",
        "properties": {
          "analyticsReportData": {
            "description": "Details about the analytics report data.",
            "$ref": "#/components/schemas/AnalyticsReportData"
          }
        },
        "description": "Constraints related to the operation's analytics report data."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata information for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-generate-foresight-analytics-first-third-party-non-cra-report"
        },
        "example": "open-finance-api-generate-foresight-analytics-first-third-party-non-cra-report"
      },
      "X-Runtime-App": {
        "description": "The version of the runtime application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This authentication scheme uses a JSON Web Token (JWT) issued by the authorization server. The token is sent in the 'Authorization' header of the request, prefixed by the word 'Bearer'. This method is commonly used to secure APIs and enable stateless authentication.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}