{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Corporate Current Account Management API",
    "description": "The Corporate Current Account Management API enables businesses to efficiently manage their corporate banking needs. This API facilitates the creation and management of corporate current accounts, allowing financial institutions to streamline account setup and maintenance processes. Typical consumers include banks and financial services that require robust solutions for corporate clients. By integrating this API, organizations can offer enhanced banking services tailored to the unique requirements of corporate accounts.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/corporate-current-account": {
      "post": {
        "tags": [
          "Corporate Banking"
        ],
        "summary": "Create a corporate current account.",
        "description": "This endpoint allows the creation of a corporate current account for businesses. It facilitates financial activities for companies, ensuring they have the necessary resources to manage their operations effectively.",
        "operationId": "createCorporateCurrentAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a new corporate current account deposit lending operation. It includes all necessary details required for processing the account creation request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCorporateCurrentAccountRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully with details in the response.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCorporateCurrentAccountResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCorporateCurrentAccountRequest": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier of the customer.",
            "example": "CUST-995069"
          },
          "accountId": {
            "type": "string",
            "description": "The unique identifier of the account.",
            "example": "ACC-658151"
          },
          "productCode": {
            "type": "string",
            "description": "The product code associated with the account.",
            "example": "CHK-PREMIUM-US"
          },
          "principal": {
            "description": "The principal amount associated with the account.",
            "$ref": "#/components/schemas/Principal"
          },
          "termMonths": {
            "type": "integer",
            "description": "The term of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "The frequency of repayments (e.g., monthly, quarterly).",
            "example": "STANDARD"
          },
          "accountPurpose": {
            "type": "string",
            "description": "The purpose of the account.",
            "example": "STANDARD"
          },
          "statementFrequency": {
            "type": "string",
            "description": "The frequency at which statements will be issued.",
            "example": "STANDARD"
          },
          "overdraftAllowed": {
            "type": "boolean",
            "description": "Indicates whether overdraft is allowed on the account.",
            "example": true
          },
          "requestContext": {
            "description": "Contextual information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for creating a corporate current account in the deposit lending operations.",
        "example": {
          "customerId": "CUST-995069",
          "accountId": "ACC-658151",
          "productCode": "CHK-PREMIUM-US",
          "principal": {
            "amount": 100.0,
            "currency": "USD"
          },
          "termMonths": 1,
          "repaymentFrequency": "STANDARD",
          "accountPurpose": "STANDARD",
          "statementFrequency": "STANDARD",
          "overdraftAllowed": true,
          "requestContext": {
            "requestId": "96f90e97-28df-54be-b556-b91f4880de95",
            "correlationId": "e8a39bc5-6038-55a0-ae98-3333c7e36ee0",
            "idempotencyKey": "502c8876-0fbe-5563-8ecf-62235e16e194",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-770922"
            }
          }
        }
      },
      "Principal": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount of money being requested.",
            "example": 10000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency of the principal amount.",
            "example": "USD"
          }
        },
        "description": "Represents the principal amount details."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "REQ12345"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier that correlates multiple requests in a workflow.",
            "example": "CORR12345"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A unique key to ensure the request is idempotent.",
            "example": "IDEMP12345"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "CoreBankingSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "AccountManagementApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contains information about the context in which the request was made."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier of the channel.",
            "example": "CHANNEL123"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., web, mobile, API).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier of the device used for the request.",
            "example": "DEVICE123"
          }
        },
        "description": "Represents the details of the channel from which the request was made."
      },
      "CreateCorporateCurrentAccountResponse_201": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-119845"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the newly created account.",
            "example": "ACC-603254"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the type of product associated with the account.",
            "example": "CHK-PREMIUM-US"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource related to this transaction.",
            "example": "RES-591415"
          },
          "status": {
            "type": "string",
            "description": "Current status of the account creation process.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the account was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional information related to the account creation response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the creation of a corporate current account in the deposit lending service.",
        "example": {
          "customerId": "CUST-119845",
          "accountId": "ACC-603254",
          "productCode": "CHK-PREMIUM-US",
          "resourceId": "RES-591415",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "01d7950d-aa4c-5c8d-809f-da3bcb7aecad",
            "correlationId": "e8a39bc5-6038-55a0-ae98-3333c7e36ee0",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier that correlates this request with other related requests.",
            "example": "CORR123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the account creation took place.",
            "example": "US-East"
          }
        },
        "description": "Metadata providing additional contextual information about the account creation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint utilized in the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "corporate-current-account-create-corporate-current-account"
        },
        "example": "corporate-current-account-create-corporate-current-account"
      },
      "X-Runtime-App": {
        "description": "Indicates the version of the runtime application processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method that uses JSON Web Tokens (JWT). The client must include a valid JWT in the Authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}