{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Dispute Details Retrieval API",
    "description": "The Dispute Details Retrieval API allows users to access specific information related to disputes using a unique dispute identifier. This endpoint serves financial institutions, customer service representatives, and claim handlers who need to investigate or manage disputes within transactions. Users can retrieve comprehensive details about a dispute's status, associated parties, and timestamps, aiding in efficient resolution and customer communication. Ideal for applications focused on transactions and customer service, this API enhances the transparency and management of financial disputes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/disputes/{disputeId}": {
      "get": {
        "tags": [
          "Dispute Management"
        ],
        "summary": "Retrieve a specific dispute by its identifier.",
        "description": "This endpoint allows you to fetch detailed information about a specific dispute using its unique identifier. You can use this operation to review the status, involved parties, and related documents associated with the dispute.",
        "operationId": "getDisputeById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the details of a specific dispute identified by the reference code RES-100045. It expects the necessary parameters in JSON format.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetDisputeByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the dispute details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDisputeByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetDisputeByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation in the Disputes API. It is a string type, likely containing a JSON representation of the request information.",
        "example": "{}"
      },
      "GetDisputeByIdResponse_200": {
        "title": "Dispute Response",
        "type": "object",
        "properties": {
          "disputeId": {
            "type": "string",
            "description": "Unique identifier for the dispute.",
            "example": "STANDARD"
          },
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the associated payment.",
            "example": "PAY-430661"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant involved in the dispute.",
            "example": "MER-775790"
          },
          "reason": {
            "type": "string",
            "description": "Reason provided for the dispute.",
            "example": "STANDARD"
          },
          "disputedAmount": {
            "description": "Amount in dispute along with its currency.",
            "$ref": "#/components/schemas/Amount"
          },
          "customerStatement": {
            "type": "string",
            "description": "Statement from the customer regarding the dispute.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the dispute.",
            "example": "ACTIVE"
          },
          "responseDueAt": {
            "type": "string",
            "description": "Timestamp for when a response is due.",
            "example": "2026-08-11T12:00:00Z"
          },
          "evidence": {
            "type": "array",
            "description": "Collection of evidence related to the dispute.",
            "example": [
              {
                "id": "STANDARD",
                "fileName": "Northstar Banking Service",
                "contentType": "STANDARD",
                "fileSizeBytes": 1,
                "fileUrl": "https://example.com/resource",
                "sha256": "STANDARD",
                "uploadedAt": "2026-08-11T12:00:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Evidence"
            }
          },
          "financialImpact": {
            "description": "Details about the financial implications of the dispute.",
            "$ref": "#/components/schemas/FinancialImpact"
          },
          "resolution": {
            "description": "Resolution details for the dispute.",
            "$ref": "#/components/schemas/Resolution"
          },
          "audit": {
            "description": "Audit trail for the dispute, tracking creation and updates.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Additional information pertaining to the dispute.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for dispute retrieval, containing details about the dispute, including financial impacts and resolution.",
        "example": {
          "disputeId": "STANDARD",
          "paymentId": "PAY-430661",
          "merchantId": "MER-775790",
          "reason": "STANDARD",
          "disputedAmount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "customerStatement": "STANDARD",
          "status": "ACTIVE",
          "responseDueAt": "2026-08-11T12:00:00Z",
          "evidence": [
            {
              "id": "STANDARD",
              "fileName": "Northstar Banking Service",
              "contentType": "STANDARD",
              "fileSizeBytes": 1,
              "fileUrl": "https://example.com/resource",
              "sha256": "STANDARD",
              "uploadedAt": "2026-08-11T12:00:00Z"
            }
          ],
          "financialImpact": {
            "amountDebitedFromMerchant": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "fees": [
              {
                "feeType": "STANDARD",
                "amount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "bearer": "CUSTOMER"
              }
            ],
            "reserveHeld": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "resolution": {
            "outcome": "STANDARD",
            "resolvedAmount": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "reason": "STANDARD",
            "resolvedAt": "2026-08-11T12:00:00Z"
          },
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "27cabf33-7e9a-5201-9cb2-1410fa96b79c",
            "correlationId": "d240ac5b-09bf-55da-81e4-3efbf071ba0e",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Amount": {
        "title": "Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency in which the amount is represented.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "Monetary value of the amount.",
            "example": "100.00"
          }
        },
        "description": "Representation of an amount in a specific currency."
      },
      "Evidence": {
        "title": "Evidence",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the evidence.",
            "example": "E123456"
          },
          "fileName": {
            "type": "string",
            "description": "Name of the file submitted as evidence.",
            "example": "transaction_receipt.pdf"
          },
          "contentType": {
            "type": "string",
            "description": "MIME type of the evidence file.",
            "example": "application/pdf"
          },
          "fileSizeBytes": {
            "type": "integer",
            "description": "Size of the file in bytes.",
            "format": "int32",
            "example": 2048
          },
          "fileUrl": {
            "type": "string",
            "description": "URL to access the evidence file.",
            "example": "https://example.com/evidence/E123456"
          },
          "sha256": {
            "type": "string",
            "description": "SHA-256 hash of the evidence file.",
            "example": "a3f5b9b6c2d4f98482c8b6b6c27f1dc9e3bf0abc890"
          },
          "uploadedAt": {
            "type": "string",
            "description": "Timestamp indicating when the evidence was uploaded.",
            "example": "2023-10-01T10:00:00Z"
          }
        },
        "description": "Representation of evidence related to the dispute."
      },
      "FinancialImpact": {
        "title": "Financial Impact",
        "type": "object",
        "properties": {
          "amountDebitedFromMerchant": {
            "description": "Total amount debited from the merchant due to the dispute.",
            "$ref": "#/components/schemas/Amount"
          },
          "fees": {
            "type": "array",
            "description": "List of fees associated with the dispute.",
            "items": {
              "$ref": "#/components/schemas/Fee"
            }
          },
          "reserveHeld": {
            "description": "Total reserve amount held in connection with the dispute.",
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "Details regarding the financial impact related to the dispute."
      },
      "Fee": {
        "title": "Fee",
        "type": "object",
        "properties": {
          "feeType": {
            "type": "string",
            "description": "Type of the fee (e.g., transaction fee, chargeback fee).",
            "example": "Chargeback Fee"
          },
          "amount": {
            "description": "Amount of the fee with its currency.",
            "$ref": "#/components/schemas/Amount"
          },
          "bearer": {
            "type": "string",
            "description": "Party responsible for the fee (e.g., merchant, customer).",
            "example": "Merchant"
          }
        },
        "description": "Representation of a fee related to the dispute."
      },
      "Resolution": {
        "title": "Resolution",
        "type": "object",
        "properties": {
          "outcome": {
            "type": "string",
            "description": "Outcome of the dispute resolution.",
            "example": "Resolved"
          },
          "resolvedAmount": {
            "description": "Amount resolved in the dispute, indicating how much is to be paid or refunded.",
            "$ref": "#/components/schemas/Amount"
          },
          "reason": {
            "type": "string",
            "description": "Reason for the resolution outcome.",
            "example": "Transaction was indeed authorized."
          },
          "resolvedAt": {
            "type": "string",
            "description": "Timestamp indicating when the dispute was resolved.",
            "example": "2023-10-05T14:00:00Z"
          }
        },
        "description": "Details of the resolution of a dispute."
      },
      "Audit": {
        "title": "Audit",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the dispute was created.",
            "example": "2023-09-30T14:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier for the user who created the dispute.",
            "example": "AdminUser"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the dispute was last updated.",
            "example": "2023-10-02T14:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier for the user who last updated the dispute.",
            "example": "AdminUser"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the dispute record.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Audit information capturing modifications to the dispute."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response related to the dispute.",
            "example": "R123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request across services.",
            "example": "C456789"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T08:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the dispute was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata regarding the dispute, capturing processing details."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-get-dispute"
        },
        "example": "banking-p2m-openapi-get-dispute"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method via HTTP. Clients can authenticate by providing a JSON Web Token (JWT) generated during user login. Ensure the token is included in the Authorization header as 'Bearer {token}'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}