{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Funds Confirmation API",
    "description": "The Funds Confirmation API enables financial service providers to verify the availability of funds in a customer's account before initiating an international payment. This API plays a critical role in ensuring that transactions are processed smoothly and efficiently while reducing the risk of failed payments. Typical consumers include banks, payment processors, and fintech applications that facilitate international transfers. By leveraging this API, businesses can enhance customer trust and transaction reliability.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/international-payment-consents/{param1}/funds-confirmation": {
      "get": {
        "tags": [
          "International Payments"
        ],
        "summary": "Retrieve funds confirmation for an international payment consent.",
        "description": "This endpoint allows developers to check the availability of funds for a specified international payment consent identified by its unique reference. It provides essential validation to ensure that the transaction can proceed smoothly.",
        "operationId": "getFundsConfirmationForInternationalPaymentConsent",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a funds confirmation for an international payment consent identified by the specified resource ID. It is essential to ensure that the request is structured correctly to verify the availability of funds prior to processing the transaction.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetFundsConfirmationForInternationalPaymentConsentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Funds confirmed successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFundsConfirmationForInternationalPaymentConsentResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetFundsConfirmationForInternationalPaymentConsentRequest": {
        "type": "string",
        "description": "This schema represents the request body for the Funds Confirmation operation in the International Payment Consents API.",
        "example": "{}"
      },
      "GetFundsConfirmationForInternationalPaymentConsentResponse_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "FundsAvailableResult": {
                "$ref": "#/components/schemas/FundsAvailableResult"
              }
            },
            "description": "Container for the data relating to funds availability.",
            "example": {
              "FundsAvailableResult": {
                "FundsAvailableDateTime": "2026-09-15T14:30:00Z",
                "FundsAvailable": true
              }
            }
          },
          "Links": {
            "type": "object",
            "properties": {
              "Self": {
                "type": "string",
                "description": "Link to the current resource.",
                "example": "http://example.com/current"
              },
              "First": {
                "type": "string",
                "description": "Link to the first page of results.",
                "example": "http://example.com/first"
              },
              "Prev": {
                "type": "string",
                "description": "Link to the previous page of results.",
                "example": "http://example.com/prev"
              },
              "Next": {
                "type": "string",
                "description": "Link to the next page of results.",
                "example": "http://example.com/next"
              },
              "Last": {
                "type": "string",
                "description": "Link to the last page of results.",
                "example": "http://example.com/last"
              }
            },
            "description": "Hyperlinks related to the funds confirmation response.",
            "example": {
              "Self": "https://example.com/resource",
              "First": "https://example.com/resource",
              "Prev": "https://example.com/resource",
              "Next": "https://example.com/resource",
              "Last": "https://example.com/resource"
            }
          },
          "Meta": {
            "type": "object",
            "properties": {
              "TotalPages": {
                "type": "integer",
                "description": "Total number of pages available in the response.",
                "format": "int32",
                "example": 1
              },
              "FirstAvailableDateTime": {
                "type": "string",
                "description": "Date and time when the first fund availability was recorded.",
                "example": "2023-01-01T00:00:00Z"
              },
              "LastAvailableDateTime": {
                "type": "string",
                "description": "Date and time when the last fund availability was recorded.",
                "example": "2023-01-01T23:59:59Z"
              }
            },
            "description": "Meta information about the funds confirmation response.",
            "example": {
              "TotalPages": 1,
              "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
              "LastAvailableDateTime": "2026-09-15T14:30:00Z"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "response-12345"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier used to correlate response with requests.",
                "example": "correlation-abcde"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp for when the response was generated.",
                "example": "2023-01-01T00:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the request was processed.",
                "example": "us-east-1"
              }
            },
            "description": "Additional metadata regarding the response.",
            "example": {
              "responseId": "fc58b79c-9a7b-5490-97ff-a59c41859adf",
              "correlationId": "592cb2fb-5c3b-5765-bdea-51a8432ee93a",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for funds confirmation in international payment consents.",
        "example": {
          "Data": {
            "FundsAvailableResult": {
              "FundsAvailableDateTime": "2026-09-15T14:30:00Z",
              "FundsAvailable": true
            }
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource",
            "Next": "https://example.com/resource",
            "Last": "https://example.com/resource"
          },
          "Meta": {
            "TotalPages": 1,
            "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
            "LastAvailableDateTime": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "responseId": "fc58b79c-9a7b-5490-97ff-a59c41859adf",
            "correlationId": "592cb2fb-5c3b-5765-bdea-51a8432ee93a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "FundsAvailableResult": {
        "type": "object",
        "properties": {
          "FundsAvailableDateTime": {
            "type": "string",
            "description": "The date and time when the funds availability was confirmed.",
            "example": "2023-01-01T00:00:00Z"
          },
          "FundsAvailable": {
            "type": "boolean",
            "description": "Indicates whether funds are available.",
            "example": false
          }
        },
        "description": "Schema for the result of available funds."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-confirm-international-payment-funds"
        },
        "example": "payment-initiation-openapi-confirm-international-payment-funds"
      },
      "X-Runtime-App": {
        "description": "The name of the application runtime that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using a Bearer token. The token must be a valid JSON Web Token (JWT).",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}