{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Servicing Event History Management API",
    "description": "The Servicing Event History Management API enables users to update details regarding customer servicing events effectively. This API allows for modifications to the servicing event history associated with specific banking transactions, ensuring that data remains current and accurate. Ideal for financial institutions and customer service platforms, this API supports operations that enhance the customer's interaction history. Typical consumers include banking applications and back-office systems that require seamless updates to service records.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cross-channel/servicing-event-history/{param1}": {
      "patch": {
        "tags": [
          "Servicing Event History"
        ],
        "summary": "Update servicing event history for a specific resource identifier.",
        "description": "This endpoint allows you to update the servicing event history associated with the resource identifier RES-100045. Make sure to provide all necessary data in the request body to successfully apply the changes.",
        "operationId": "patchCrossChannelServicingEventHistory_RES100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the servicing event history for a specific resource identified by RES-100045. The payload should contain the necessary details to perform the update operation as defined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchCrossChannelServicingEventHistory_RES100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchCrossChannelServicingEventHistory_RES100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchCrossChannelServicingEventHistory_RES100045Request": {
        "title": "Patch Request Body for Servicing Event History",
        "type": "object",
        "properties": {
          "changes": {
            "description": "Contains the details about the changes being requested.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change being made.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The timestamp when the changes are effective.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the user making the request.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for a PATCH operation on servicing event history.",
        "example": {
          "changes": {
            "partyId": "PARTY-435267",
            "interactionId": "INT-932360",
            "channel": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "d5020ac0-1f0e-5fef-bf53-ee1e8298bc6e",
            "correlationId": "843890c6-48f8-574d-a0f3-2779b2c534eb",
            "idempotencyKey": "d53e7a64-ac19-5165-929e-7fe81feb483f",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-519419"
            }
          }
        }
      },
      "Changes": {
        "title": "Changes",
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "Identifier for the party involved in the change.",
            "example": "party-001"
          },
          "interactionId": {
            "type": "string",
            "description": "Identifier for the interaction related to the change.",
            "example": "interaction-123"
          },
          "channel": {
            "type": "string",
            "description": "The communication channel through which the change is being requested.",
            "example": "online"
          }
        },
        "description": "Details of the changes being applied to the servicing event."
      },
      "RequestContext": {
        "title": "RequestContext",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracking the request across systems.",
            "example": "correlation-789"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of the requests.",
            "example": "idempotent-key-001"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-10T09:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originates.",
            "example": "customer-portal"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "app-001"
          },
          "channel": {
            "description": "Information about the channel through which the request is made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Context data for the request including identifiers and timestamps."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel through which the request is made (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to access the channel.",
            "example": "device-xyz"
          }
        },
        "description": "Information about the communication channel used for the request."
      },
      "PatchCrossChannelServicingEventHistory_RES100045Response_200": {
        "title": "Service Event History Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation, typically indicating success or failure.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata regarding the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the servicing event history operation, indicating the status and metadata related to the operation.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "96f66c52-f15b-59f1-a1aa-f649e2b18b55",
            "correlationId": "843890c6-48f8-574d-a0f3-2779b2c534eb",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier for tracing the request across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographical region where the processing was carried out.",
            "example": "string"
          }
        },
        "description": "Metadata information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "servicing-event-history-update-servicing-event-history"
        },
        "example": "servicing-event-history-update-servicing-event-history"
      },
      "X-Runtime-App": {
        "description": "The name of the application responsible for handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes a Bearer authentication method, where a JSON Web Token (JWT) is provided for authorization. The token should be included in the 'Authorization' header as 'Bearer {token}'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}