{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Transaction Inquiry API",
    "description": "The Transaction Inquiry API allows users to access detailed information about specific transactions within the banking system. By utilizing this endpoint, developers can retrieve transaction records based on the provided parameters, enabling effective account management and oversight. Typical consumers include financial analysts, account managers, and integration systems that require transaction visibility. It supports essential banking operations by ensuring that relevant transaction data is readily accessible for reporting and auditing purposes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/account-management/transaction-engine/{param1}": {
      "get": {
        "tags": [
          "Account Management"
        ],
        "summary": "Retrieve transaction details for a specific resource.",
        "description": "This endpoint allows users to retrieve detailed information about a particular transaction identified by the resource ID. It provides essential data related to the transaction, which can be used for auditing, reporting, or analysis purposes.",
        "operationId": "getTransactionForAccountManagementRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a query for transaction details associated with a specific resource (RES-100045) in the transaction engine. It is expected to follow the schema defined for the operation, ensuring the necessary parameters are included for a successful transaction retrieval.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetTransactionForAccountManagementRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was completed successfully, and the response contains the requested data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTransactionForAccountManagementRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetTransactionForAccountManagementRes100045Request": {
        "type": "string",
        "description": "This schema represents the request body for operations related to transaction management in the account management service. It is expected to be a string format.",
        "example": "{}"
      },
      "GetTransactionForAccountManagementRes100045Response_200": {
        "title": "Transaction Response",
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account.",
            "example": "ACC-781127"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer associated with the account.",
            "example": "CUST-664699"
          },
          "ledgerDate": {
            "type": "string",
            "description": "The date of the ledger entry in ISO 8601 format.",
            "example": "2026-09-15"
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the ledger balance is denoted.",
            "example": "USD"
          },
          "ledgerBalance": {
            "type": "number",
            "description": "The current balance in the ledger account.",
            "example": 100.0
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the ledger record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version of the ledger record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the record was last updated in ISO 8601 format.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the transaction response.",
            "$ref": "#/components/schemas/TransactionMetadata"
          }
        },
        "description": "Represents the response structure for transaction operations.",
        "example": {
          "accountId": "ACC-781127",
          "customerId": "CUST-664699",
          "ledgerDate": "2026-09-15",
          "currency": "USD",
          "ledgerBalance": 100.0,
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "a87cb573-462f-53ca-9541-63df79838142",
            "correlationId": "939e6803-1836-5a3b-ab4e-b4f153cba99d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "TransactionMetadata": {
        "title": "Transaction Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier for correlating requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the response was generated in ISO 8601 format.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the transaction was processed.",
            "example": "string"
          }
        },
        "description": "Contains metadata information related to the transaction response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that processed the request, used for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "transaction-engine-get-transaction-engine"
        },
        "example": "transaction-engine-get-transaction-engine"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the request, useful for identifying the source of the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens. This method requires a valid JWT (JSON Web Token) to be included in the Authorization header of the request, formatted as 'Bearer {token}'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}