{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Market Information Management API",
    "description": "The Market Information Management API provides users with capabilities to modify existing market data, ensuring that financial records reflect the most accurate and up-to-date information. This API allows for efficient updates to market information resources, enabling financial institutions to respond to changes in market conditions promptly. Typical consumers of this API include banking and finance professionals who need to maintain compliance and data integrity. Use cases often involve adjusting market data in response to economic shifts, regulatory requirements, or internal policy changes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-data/market-information-management/{param1}": {
      "patch": {
        "tags": [
          "Market Information Management"
        ],
        "summary": "Update Market Information",
        "description": "This endpoint allows for the partial update of market information associated with the specified resource ID. Users can provide only the fields that need to be updated, making it efficient for modifications.",
        "operationId": "patchMarketInformationManagementRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body contains the data required to update market information for a specific resource identified by 'RES-100045'. It should include all necessary fields that need to be modified as part of the patch operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchMarketInformationManagementRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed, and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchMarketInformationManagementRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchMarketInformationManagementRes100045Request": {
        "title": "Patch Request Body for Market Information Management",
        "type": "object",
        "properties": {
          "changes": {
            "description": "An object representing the changes to be applied to the market data.",
            "$ref": "#/components/schemas/MarketDataChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The timestamp indicating when the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user or system that is making the request.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "An object providing additional context about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body structure for a PATCH operation in the Market Information Management system, including details regarding changes, effective dates, and the requester.",
        "example": {
          "changes": {
            "instrumentId": "STANDARD",
            "isin": "STANDARD",
            "marketIdentifierCode": "CODE-727"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "2718c47f-5795-56f5-8dcb-1f9fccb9ab27",
            "correlationId": "ba47e25c-4bf5-54d7-be2f-5709e6e0486b",
            "idempotencyKey": "cff63188-865f-5258-bba8-cd06a19f12d9",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-319330"
            }
          }
        }
      },
      "MarketDataChanges": {
        "title": "Market Data Changes",
        "type": "object",
        "properties": {
          "instrumentId": {
            "type": "string",
            "description": "The unique identifier for the instrument being modified.",
            "example": "AAPL"
          },
          "isin": {
            "type": "string",
            "description": "The International Securities Identification Number (ISIN) for the instrument.",
            "example": "US0378331005"
          },
          "marketIdentifierCode": {
            "type": "string",
            "description": "The market identifier code representing the trading venue.",
            "example": "XNAS"
          }
        },
        "description": "This schema defines the specific changes being requested within the market data management system."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-001"
          },
          "correlationId": {
            "type": "string",
            "description": "A correlation identifier for tracking related requests.",
            "example": "corr-001"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure that the operation is idempotent.",
            "example": "idemp-001"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that originated the request.",
            "example": "TRADING_SYSTEM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request was generated.",
            "example": "MarketClientApp"
          },
          "channel": {
            "description": "Details about the communication channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema provides context information for the request, including identifiers and source details."
      },
      "Channel": {
        "title": "Communication Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the communication channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of communication channel, e.g., web, mobile, etc.",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used to send the request.",
            "example": "device-001"
          }
        },
        "description": "This schema describes the details of the channel through which the request was made."
      },
      "PatchMarketInformationManagementRes100045Response_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version number of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation, represented as a string.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the operation was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Contains metadata information regarding the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for the PATCH operation on market information management.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "5da09e3b-8ad0-56e6-9284-5b525532f53a",
            "correlationId": "ba47e25c-4bf5-54d7-be2f-5709e6e0486b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "abcde-12345-fghij"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "us-west-1"
          }
        },
        "description": "Schema representing metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "market-information-management-update-market-information-management"
        },
        "example": "market-information-management-update-market-information-management"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method where a JSON Web Token (JWT) is provided in the authorization header to access secure resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}