{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Manage Loan Disbursements API",
    "description": "The Manage Loan Disbursements API enables financial institutions to update details associated with specific loan disbursements. This API facilitates adjustments to disbursement records, such as modifying recipient information or tracking status changes, ensuring accurate loan management. It is designed for use by loan officers and financial system administrators who require flexibility in managing disbursement allocations throughout the loan lifecycle. The endpoint allows for precise updates by referencing both the loan and disbursement identifiers.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loans/{loanId}/disbursements/{disbursementId}": {
      "put": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Update Disbursement for Loan",
        "description": "This endpoint allows you to update the disbursement details for a specific loan identified by its unique ID. Ensure that you provide the necessary information in the request body to successfully modify the disbursement.",
        "operationId": "updateLoanDisbursementById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Update the disbursement details for the specified loan. This operation will modify the existing disbursement entry identified by RES-100045 under the loan LOAN-500045. Ensure that the provided data adheres to the defined schema to avoid errors.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLoanDisbursementByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The disbursement update was successful.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateLoanDisbursementByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateLoanDisbursementByIdRequest": {
        "type": "object",
        "properties": {
          "amount": {
            "description": "The monetary amount being disbursed, including currency information.",
            "$ref": "#/components/schemas/Amount"
          },
          "disbursementMethod": {
            "type": "string",
            "description": "The method used to disburse the loan amount (e.g., bank transfer, cash).",
            "example": "STANDARD"
          },
          "valueDate": {
            "type": "string",
            "description": "The date on which the disbursement is scheduled to be executed.",
            "example": "2026-09-15"
          },
          "beneficiary": {
            "description": "Details of the beneficiary receiving the loan disbursement.",
            "$ref": "#/components/schemas/Beneficiary"
          },
          "deductions": {
            "type": "array",
            "description": "List of deductions to be applied to the disbursement. Each deduction includes type and amount.",
            "example": [
              {
                "type": "STANDARD",
                "amount": {
                  "currency": "USD",
                  "amount": "1250.75"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Deduction"
            }
          },
          "narrative": {
            "type": "string",
            "description": "A narrative description or notes regarding the disbursement.",
            "example": "STANDARD"
          },
          "externalReference": {
            "type": "string",
            "description": "An optional external reference ID related to the disbursement.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request, including identifiers and source details.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for processing loan disbursement operations. Contains detailed information about the disbursement, including amount, beneficiary details, deductions, and request context.",
        "example": {
          "amount": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "disbursementMethod": "STANDARD",
          "valueDate": "2026-09-15",
          "beneficiary": {
            "name": "Northstar Banking Service",
            "accountNumber": "STANDARD",
            "bankCode": "CODE-147",
            "bankName": "Northstar Banking Service",
            "address": {
              "line1": "350 Fifth Avenue",
              "line2": "Suite 4200",
              "city": "New York",
              "state": "STANDARD",
              "postalCode": "10001",
              "country": "STANDARD"
            }
          },
          "deductions": [
            {
              "type": "STANDARD",
              "amount": {
                "currency": "USD",
                "amount": "1250.75"
              }
            }
          ],
          "narrative": "STANDARD",
          "externalReference": "STANDARD",
          "requestContext": {
            "requestId": "a44ec4fe-22d5-5daa-bea5-9ecaca5dec8c",
            "correlationId": "a0d600a1-bbea-5d91-8364-aba06d976aa5",
            "idempotencyKey": "b4dbe896-3dca-52ea-b1bf-3143fca7851c",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-314244"
            }
          }
        }
      },
      "Amount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is denominated.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The amount of money.",
            "example": "1000.00"
          }
        },
        "description": "Represents an amount in a specific currency."
      },
      "Beneficiary": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the beneficiary.",
            "example": "John Doe"
          },
          "accountNumber": {
            "type": "string",
            "description": "Account number of the beneficiary.",
            "example": "1234567890"
          },
          "bankCode": {
            "type": "string",
            "description": "The bank code where the beneficiary holds an account.",
            "example": "XYZ123"
          },
          "bankName": {
            "type": "string",
            "description": "Name of the bank.",
            "example": "Bank of Example"
          },
          "address": {
            "description": "Physical address of the beneficiary.",
            "$ref": "#/components/schemas/Address"
          }
        },
        "description": "Information about the beneficiary for the disbursement."
      },
      "Address": {
        "type": "object",
        "properties": {
          "line1": {
            "type": "string",
            "description": "First line of the address.",
            "example": "123 Main St."
          },
          "line2": {
            "type": "string",
            "description": "Second line of the address (if applicable).",
            "example": "Apt 4B"
          },
          "city": {
            "type": "string",
            "description": "City of the beneficiary.",
            "example": "Springfield"
          },
          "state": {
            "type": "string",
            "description": "State of the beneficiary.",
            "example": "IL"
          },
          "postalCode": {
            "type": "string",
            "description": "Postal code for the beneficiary's address.",
            "example": "62701"
          },
          "country": {
            "type": "string",
            "description": "Country of the beneficiary.",
            "example": "USA"
          }
        },
        "description": "Represents the physical address of the beneficiary."
      },
      "Deduction": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of the deduction.",
            "example": "Processing Fee"
          },
          "amount": {
            "description": "The amount that is deducted.",
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "Represents a deduction applied to the disbursement."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ-001234"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating multiple requests together.",
            "example": "CORR-56789"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the operation is idempotent.",
            "example": "IDEMP-123456"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-10T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "Internal Banking System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request was made.",
            "example": "Loan Management App"
          },
          "channel": {
            "description": "Details about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual metadata regarding the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel through which the request is sent.",
            "example": "CHANNEL-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the transaction.",
            "example": "DEVICE-12345"
          }
        },
        "description": "Information about the channel through which the request is made."
      },
      "UpdateLoanDisbursementByIdResponse_200": {
        "type": "object",
        "properties": {
          "amount": {
            "description": "The total amount of money involved in the disbursement.",
            "$ref": "#/components/schemas/Amount"
          },
          "disbursementMethod": {
            "type": "string",
            "description": "The method used to disburse the funds.",
            "example": "STANDARD"
          },
          "valueDate": {
            "type": "string",
            "description": "The date on which the funds are made available.",
            "example": "2026-09-15"
          },
          "beneficiary": {
            "description": "Information about the individual or entity receiving the disbursement.",
            "$ref": "#/components/schemas/Beneficiary"
          },
          "deductions": {
            "type": "array",
            "description": "List of deductions applied to the disbursement.",
            "example": [
              {
                "type": "STANDARD",
                "amount": {
                  "currency": "USD",
                  "amount": "1250.75"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Deduction"
            }
          },
          "narrative": {
            "type": "string",
            "description": "Additional narrative or comments regarding the disbursement.",
            "example": "STANDARD"
          },
          "externalReference": {
            "type": "string",
            "description": "A reference ID used to link to an external system.",
            "example": "STANDARD"
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the disbursement.",
            "example": "1e8e5b27-579e-ce25-3d66-2074eec4862c"
          },
          "disbursementNumber": {
            "type": "string",
            "description": "Unique number assigned to the disbursement transaction.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the disbursement.",
            "example": "ACTIVE"
          },
          "grossAmount": {
            "description": "The entire amount before deductions.",
            "$ref": "#/components/schemas/Amount"
          },
          "netAmount": {
            "description": "The amount after all deductions.",
            "$ref": "#/components/schemas/Amount"
          },
          "transactionReference": {
            "type": "string",
            "description": "Reference ID for tracking the transaction.",
            "example": "STANDARD"
          },
          "processedAt": {
            "type": "string",
            "description": "Timestamp of when the disbursement was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "failureCode": {
            "type": "string",
            "description": "Error code if the disbursement failed.",
            "example": "CODE-184"
          },
          "failureMessage": {
            "type": "string",
            "description": "Message providing details about the failure.",
            "example": "STANDARD"
          },
          "audit": {
            "description": "Audit details related to the disbursement.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Additional metadata related to the disbursement.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for disbursement operations.",
        "example": {
          "amount": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "disbursementMethod": "STANDARD",
          "valueDate": "2026-09-15",
          "beneficiary": {
            "name": "Northstar Banking Service",
            "accountNumber": "STANDARD",
            "bankCode": "CODE-546",
            "bankName": "Northstar Banking Service",
            "address": {
              "line1": "350 Fifth Avenue",
              "line2": "Suite 4200",
              "city": "New York",
              "state": "STANDARD",
              "postalCode": "10001",
              "country": "STANDARD"
            }
          },
          "deductions": [
            {
              "type": "STANDARD",
              "amount": {
                "currency": "USD",
                "amount": "1250.75"
              }
            }
          ],
          "narrative": "STANDARD",
          "externalReference": "STANDARD",
          "id": "1e8e5b27-579e-ce25-3d66-2074eec4862c",
          "disbursementNumber": "STANDARD",
          "status": "ACTIVE",
          "grossAmount": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "netAmount": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "transactionReference": "STANDARD",
          "processedAt": "2026-08-11T12:00:00Z",
          "failureCode": "CODE-184",
          "failureMessage": "STANDARD",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "847bf98e-d7ff-56cf-87ba-9caeb05974d9",
            "correlationId": "a0d600a1-bbea-5d91-8364-aba06d976aa5",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Audit": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp of when the disbursement was created.",
            "example": "2023-09-30T12:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of who created the disbursement.",
            "example": "user123"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the disbursement.",
            "example": "2023-10-01T10:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of who last updated the disbursement.",
            "example": "user456"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the disbursement.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Audit information related to the disbursement."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for this response.",
            "example": "RESP-789012"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlation of related requests.",
            "example": "CORR-456789"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the metadata was generated.",
            "example": "2023-10-01T10:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "US-West"
          }
        },
        "description": "Metadata related to processing of the disbursement."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint being called, useful for tracing requests in logs.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-replace-disbursement"
        },
        "example": "banking-loans-openapi-replace-disbursement"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request, aiding in performance monitoring and issue resolution.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes Bearer authentication, where the client must include a JSON Web Token (JWT) in the Authorization header of requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}