{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Document Archiving Management API",
    "description": "The Document Archiving Management API enables users to manage the archiving process of banking documents efficiently. Through this API, consumers can update the archiving status, ensuring documents are properly organized and retrievable. Typical users include banking institutions and document management systems that require seamless integration for document lifecycle management. This endpoint specifically allows for modification of archiving details for specified documents, enhancing the overall operational workflow for document handling in financial services.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/documents/archive-services/{param1}": {
      "patch": {
        "tags": [
          "Document Management"
        ],
        "summary": "Update Archive Service Document",
        "description": "This endpoint allows you to update the details of the specified Archive Service Document. You can provide the necessary fields to be updated in the request body.",
        "operationId": "patchDocumentArchiveServiceRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the specified document in the archive services. It requires a JSON payload that aligns with the defined schema for the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchDocumentArchiveServiceRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully with the updated resource details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchDocumentArchiveServiceRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchDocumentArchiveServiceRes100045Request": {
        "title": "Operations PATCH Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "description": "Details of the changes to be made to the document.",
            "$ref": "#/components/schemas/DocumentChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change request.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "Timestamp indicating when the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the user requesting the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context information regarding the change request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema defines the structure of the request body for the PATCH operation on documents in the archive services.",
        "example": {
          "changes": {
            "documentId": "DOC-242503",
            "documentType": "STANDARD",
            "classification": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "615ff428-d82d-5ecb-9ac1-f1212f6cf789",
            "correlationId": "125e5a2b-44d8-5503-ab89-44d137ab7955",
            "idempotencyKey": "8a056a7f-8330-5003-a8de-55796c7e2112",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-472740"
            }
          }
        }
      },
      "DocumentChanges": {
        "title": "Document Changes",
        "type": "object",
        "properties": {
          "documentId": {
            "type": "string",
            "description": "Unique identifier of the document being changed.",
            "example": "doc-xyz-123"
          },
          "documentType": {
            "type": "string",
            "description": "Type of the document (e.g., invoice, report).",
            "example": "invoice"
          },
          "classification": {
            "type": "string",
            "description": "Classification of the document after the change.",
            "example": "confidential"
          }
        },
        "description": "Schema that defines the changes being applied to a document."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-abc-456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the correlation of requests across systems.",
            "example": "corr-789"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key ensuring the operation can be retried safely.",
            "example": "idempotency-key"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-10T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name of the system that is making the request.",
            "example": "document-management-system"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application making the request.",
            "example": "web-portal"
          },
          "channel": {
            "description": "Information about the channel through which the request is made.",
            "$ref": "#/components/schemas/RequestChannel"
          }
        },
        "description": "Schema that encapsulates context information about the request."
      },
      "RequestChannel": {
        "title": "Request Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier of the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the request.",
            "example": "device-12345"
          }
        },
        "description": "Schema representing details about the channel used for the request."
      },
      "PatchDocumentArchiveServiceRes100045Response_200": {
        "title": "Patch Response for Archive Services",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version number of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the PATCH operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for the PATCH operation in Archive Services.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "7beb4066-7f98-5375-b140-ad114ba0ce4d",
            "correlationId": "125e5a2b-44d8-5503-ab89-44d137ab7955",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Object",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request-response correlation.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "This schema represents metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "archive-services-update-archive-services"
        },
        "example": "archive-services-update-archive-services"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JSON Web Tokens (JWT) for authentication. The client must include a valid JWT in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}