{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Equipment Administration API",
    "description": "The Equipment Administration API facilitates the management of facilities and their related equipment within a banking context. This endpoint allows users to retrieve comprehensive details about available equipment, including specifications, status, and allocation. Typical consumers of this API include banking operations staff and facility managers who need to effectively oversee asset utilization and maintenance. By leveraging this API, organizations can enhance their equipment oversight, streamline operations, and ensure optimal performance of facilities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/facilities/equipment-administration": {
      "get": {
        "tags": [
          "Equipment Management"
        ],
        "summary": "Retrieve equipment administration details.",
        "description": "This endpoint allows you to fetch the details related to the administration of equipment within facilities. It provides important information necessary for managing and maintaining equipment effectively.",
        "operationId": "getEquipmentAdministration",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is utilized for the retrieval of equipment administration data within the facilities context. It contains the necessary parameters for executing a GET request, ensuring that the appropriate data is fetched based on the specified criteria.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetEquipmentAdministrationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the equipment administration data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetEquipmentAdministrationResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetEquipmentAdministrationRequest": {
        "type": "string",
        "description": "This schema represents the request body format for the GET operation related to equipment administration in facilities.",
        "example": "{}"
      },
      "GetEquipmentAdministrationResponse_200": {
        "title": "Facilities Equipment Administration Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of equipment items associated with facilities.",
            "example": [
              {
                "siteId": "STANDARD",
                "assetId": "STANDARD",
                "workOrderId": "ORD-630051",
                "scheduledDate": "2026-09-15",
                "vendorId": "STANDARD",
                "facilityZone": "STANDARD",
                "maintenanceType": "STANDARD",
                "estimatedDurationMinutes": 1,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/EquipmentItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sort order applied to the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the GET operation on facilities equipment administration, providing a list of equipment items along with pagination and sorting details.",
        "example": {
          "items": [
            {
              "siteId": "STANDARD",
              "assetId": "STANDARD",
              "workOrderId": "ORD-630051",
              "scheduledDate": "2026-09-15",
              "vendorId": "STANDARD",
              "facilityZone": "STANDARD",
              "maintenanceType": "STANDARD",
              "estimatedDurationMinutes": 1,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "d41c067a-7aed-57de-b245-137ca6ce3442",
            "correlationId": "404e097b-eaa4-5dd3-b8da-f4dc4d1b1da9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EquipmentItem": {
        "title": "Equipment Item",
        "type": "object",
        "properties": {
          "siteId": {
            "type": "string",
            "description": "Unique identifier for the site."
          },
          "assetId": {
            "type": "string",
            "description": "Unique identifier for the asset."
          },
          "workOrderId": {
            "type": "string",
            "description": "Unique identifier for the work order."
          },
          "scheduledDate": {
            "type": "string",
            "description": "The scheduled date for maintenance in ISO 8601 format."
          },
          "vendorId": {
            "type": "string",
            "description": "Unique identifier for the vendor responsible for maintenance."
          },
          "facilityZone": {
            "type": "string",
            "description": "The zone of the facility where the equipment is located."
          },
          "maintenanceType": {
            "type": "string",
            "description": "Type of maintenance planned for the equipment."
          },
          "estimatedDurationMinutes": {
            "type": "integer",
            "description": "Estimated duration of maintenance in minutes.",
            "format": "int32"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the equipment record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the equipment record in ISO 8601 format."
          }
        },
        "description": "Schema representing a single equipment item associated with a facility."
      },
      "Pagination": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the paginated response.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32"
          }
        },
        "description": "Schema representing pagination details for the response."
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Unique identifier used for tracking request correlation."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated in ISO 8601 format."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request took place."
          }
        },
        "description": "Schema representing additional metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed. This helps in tracking the specific resource or operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "equipment-administration-search-equipment-administration"
        },
        "example": "equipment-administration-search-equipment-administration"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is processing the request. This allows for better identification and logging of application-specific metrics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method using Bearer tokens. This schema specifies that the token is a JSON Web Token (JWT), which should be included in the request header to authenticate API calls.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}