{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Custody Administration Query API",
    "description": "The Custody Administration Query API allows users to access vital information related to custody operations within the banking sector. This endpoint facilitates the retrieval of detailed administrative data concerning asset custody, including status, account information, and transaction history. Typical consumers of this API include financial institutions, asset managers, and compliance teams seeking to optimize custody management processes and ensure regulatory adherence. By providing seamless access to custody information, the API plays a crucial role in supporting informed decision-making and operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-operations/custody-administration": {
      "get": {
        "tags": [
          "Custody Management"
        ],
        "summary": "Retrieve custody administration details.",
        "description": "This endpoint allows you to fetch the details related to custody administration in the market operations. It provides essential information required for managing and overseeing custody functions effectively.",
        "operationId": "getCustodyAdministration",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to fetch custody administration details within the market operations. Ensure that the required parameters are included in the JSON schema as defined.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCustodyAdministrationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved custody administration data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCustodyAdministrationResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCustodyAdministrationRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation in the custody administration market operations endpoint. It is predominantly used to convey data in string format.",
        "example": "{}"
      },
      "GetCustodyAdministrationResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of custody operation items.",
            "example": [
              {
                "tradeId": "STANDARD",
                "instrumentId": "STANDARD",
                "settlementDate": "2026-09-15",
                "quantity": 1,
                "settlementCurrency": "USD",
                "custodianId": "STANDARD",
                "safekeepingAccountId": "ACC-783404",
                "custodyLocation": "STANDARD",
                "positionQuantity": 1,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CustodyOperationItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting criteria applied to the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the GET operation in the custody administration market operations.",
        "example": {
          "items": [
            {
              "tradeId": "STANDARD",
              "instrumentId": "STANDARD",
              "settlementDate": "2026-09-15",
              "quantity": 1,
              "settlementCurrency": "USD",
              "custodianId": "STANDARD",
              "safekeepingAccountId": "ACC-783404",
              "custodyLocation": "STANDARD",
              "positionQuantity": 1,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "5f47ee6b-2a1a-58be-936c-7718788d59c7",
            "correlationId": "c07904fd-fda5-5175-b0cb-7d68a0dda109",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CustodyOperationItem": {
        "type": "object",
        "properties": {
          "tradeId": {
            "type": "string",
            "description": "Unique identifier for the trade.",
            "example": "string"
          },
          "instrumentId": {
            "type": "string",
            "description": "Identifier for the financial instrument.",
            "example": "string"
          },
          "settlementDate": {
            "type": "string",
            "description": "Date on which the settlement occurs.",
            "example": "2023-10-01"
          },
          "quantity": {
            "type": "integer",
            "description": "Quantity of the instrument being settled.",
            "format": "int32",
            "example": 100
          },
          "settlementCurrency": {
            "type": "string",
            "description": "Currency used for the settlement.",
            "example": "USD"
          },
          "custodianId": {
            "type": "string",
            "description": "Identifier for the custodian managing the assets.",
            "example": "CUST123"
          },
          "safekeepingAccountId": {
            "type": "string",
            "description": "Identifier for the safekeeping account.",
            "example": "SAFE123"
          },
          "custodyLocation": {
            "type": "string",
            "description": "The location where the assets are held in custody.",
            "example": "New York"
          },
          "positionQuantity": {
            "type": "integer",
            "description": "Quantity of the position held in custody.",
            "format": "int32",
            "example": 50
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the custody record.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the record was last updated.",
            "example": "2023-10-02T14:48:00Z"
          }
        },
        "description": "Represents a custody operation item related to a specific trade."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the response.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 50
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 200
          }
        },
        "description": "Pagination information for the list of custody operation items."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate this response to a request.",
            "example": "CORR456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T15:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the API endpoint being accessed, helpful for tracking and logging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "custody-administration-search-custody-administration"
        },
        "example": "custody-administration-search-custody-administration"
      },
      "X-Runtime-App": {
        "description": "Indicates the specific runtime application processing the request, useful for troubleshooting and monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which requires a valid JSON Web Token (JWT) to be included in the Authorization header of the request. It is commonly used for securing APIs and enabling user authentication.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}