{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Cancel QR Payment Request API",
    "description": "The Cancel QR Payment Request API enables users to effectively manage and cancel payment requests that are generated via QR codes. This API allows businesses to quickly revoke pending transactions, ensuring optimal control over financial operations. Typical consumers include payment processors, e-commerce platforms, and financial service providers looking to enhance their payment management capabilities. Using this endpoint, developers can programmatically cancel requests by specifying the unique payment request identifier.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/qr-payment-requests/{param1}/cancel": {
      "post": {
        "tags": [
          "QR Payment Requests"
        ],
        "summary": "Cancel a QR payment request.",
        "description": "This endpoint allows users to cancel an existing QR payment request identified by its unique ID. Ensure that the request is cancellable and that you have the necessary permissions to perform this action.",
        "operationId": "cancelQrPaymentRequestPAY300045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for canceling a specific QR payment request identified by PAY-300045. This operation allows the user to cancel a pending payment request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelQrPaymentRequestPAY300045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cancellation request completed successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelQrPaymentRequestPAY300045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CancelQrPaymentRequestPAY300045Request": {
        "title": "Cancel Payment Request",
        "type": "object",
        "properties": {
          "reasonCode": {
            "type": "string",
            "description": "A code representing the reason for the cancellation.",
            "example": "CODE-564"
          },
          "reason": {
            "type": "string",
            "description": "A human-readable explanation of why the payment is being canceled.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for canceling a QR payment.",
        "example": {
          "reasonCode": "CODE-564",
          "reason": "STANDARD",
          "requestContext": {
            "requestId": "2cc02fb4-d93e-5510-94ab-6e60a26c5644",
            "correlationId": "61ee7256-af7c-57b4-b4f8-a49d4dca3501",
            "idempotencyKey": "adb89a37-6665-5f35-87c7-91b8eed3fd34",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-619282"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracing requests across systems.",
            "example": "cor-67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure that a request can be repeated without side effects.",
            "example": "unique-idempotency-key-123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-03T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system making the request.",
            "example": "PaymentGateway"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the application making the request.",
            "example": "MobileApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing contextual information about the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., Mobile, Web).",
            "example": "Mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used for the request.",
            "example": "device-xyz-123"
          }
        },
        "description": "Schema representing detailed information about the request channel."
      },
      "CancelQrPaymentRequestPAY300045Response_200": {
        "title": "QR Payment Request Cancellation Response",
        "type": "object",
        "properties": {
          "qrPaymentRequestId": {
            "type": "string",
            "description": "Unique identifier of the QR payment request.",
            "example": "275b7793-c03f-5fb9-8092-517e859703d4"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant related to the payment request.",
            "example": "MER-269919"
          },
          "outletId": {
            "type": "string",
            "description": "Identifier for the outlet where the payment is processed.",
            "example": "STANDARD"
          },
          "terminalId": {
            "type": "string",
            "description": "Identifier for the terminal used for the payment.",
            "example": "STANDARD"
          },
          "mode": {
            "type": "string",
            "description": "Mode of the payment transaction.",
            "example": "STANDARD"
          },
          "standard": {
            "type": "string",
            "description": "Payment standard being followed.",
            "example": "STANDARD"
          },
          "amount": {
            "description": "Total amount involved in the payment request.",
            "$ref": "#/components/schemas/PaymentAmount"
          },
          "merchantOrderId": {
            "type": "string",
            "description": "Identifier for the order associated with the merchant.",
            "example": "ORD-972187"
          },
          "description": {
            "type": "string",
            "description": "Description of the payment request.",
            "example": "Customer banking request processed successfully"
          },
          "tipOptions": {
            "description": "Options available for adding tips to the payment.",
            "$ref": "#/components/schemas/TipOptions"
          },
          "qrPayload": {
            "type": "string",
            "description": "Encoded payload for the QR code.",
            "example": "STANDARD"
          },
          "qrImageUrl": {
            "type": "string",
            "description": "URL of the QR code image.",
            "example": "https://example.com/resource"
          },
          "status": {
            "type": "string",
            "description": "Current status of the payment request.",
            "example": "ACTIVE"
          },
          "singleUse": {
            "type": "boolean",
            "description": "Indicates whether the QR payment request is a single-use request.",
            "example": true
          },
          "paidAmount": {
            "description": "Amount that has been paid related to the payment request.",
            "$ref": "#/components/schemas/PaymentAmount"
          },
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment.",
            "example": "PAY-539959"
          },
          "expiresAt": {
            "type": "string",
            "description": "Timestamp indicating when the payment request expires.",
            "example": "2026-08-11T12:00:00Z"
          },
          "audit": {
            "description": "Audit information detailing the creation and update timestamps.",
            "$ref": "#/components/schemas/AuditInfo"
          },
          "metadata": {
            "description": "Additional metadata related to the transaction.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response from canceling a QR payment request.",
        "example": {
          "qrPaymentRequestId": "275b7793-c03f-5fb9-8092-517e859703d4",
          "merchantId": "MER-269919",
          "outletId": "STANDARD",
          "terminalId": "STANDARD",
          "mode": "STANDARD",
          "standard": "STANDARD",
          "amount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "merchantOrderId": "ORD-972187",
          "description": "Customer banking request processed successfully",
          "tipOptions": {
            "mode": "STANDARD",
            "fixedAmounts": [
              {
                "currency": "USD",
                "value": "STANDARD"
              }
            ],
            "percentages": [
              "STANDARD"
            ],
            "maximumTip": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "qrPayload": "STANDARD",
          "qrImageUrl": "https://example.com/resource",
          "status": "ACTIVE",
          "singleUse": true,
          "paidAmount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "paymentId": "PAY-539959",
          "expiresAt": "2026-08-11T12:00:00Z",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "ee34b2b9-9e5b-5297-8f06-b2208afa2dba",
            "correlationId": "61ee7256-af7c-57b4-b4f8-a49d4dca3501",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentAmount": {
        "title": "Payment Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency code of the payment amount.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "Amount value specified in the currency.",
            "example": "100.00"
          }
        },
        "description": "Schema representing the monetary value and currency for a payment."
      },
      "TipOptions": {
        "title": "Tip Options",
        "type": "object",
        "properties": {
          "mode": {
            "type": "string",
            "description": "Mode of tip calculation, such as fixed or percentage.",
            "example": "fixed"
          },
          "fixedAmounts": {
            "type": "array",
            "description": "List of fixed amounts that can be added as tips.",
            "items": {
              "$ref": "#/components/schemas/PaymentAmount"
            }
          },
          "percentages": {
            "type": "array",
            "description": "List of percentage values usable as tips.",
            "items": {
              "type": "string",
              "example": "10"
            }
          },
          "maximumTip": {
            "description": "Maximum allowable tip that can be added.",
            "$ref": "#/components/schemas/PaymentAmount"
          }
        },
        "description": "Schema representing options for specifying tips during payment."
      },
      "AuditInfo": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp of when the payment request was created.",
            "example": "2023-10-10T10:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier for the user who created the payment request.",
            "example": "user@example.com"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update made to the payment request.",
            "example": "2023-10-12T10:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier for the user who last updated the payment request.",
            "example": "user@example.com"
          },
          "version": {
            "type": "integer",
            "description": "Version number for the payment request.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Schema representing audit details for the payment request."
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "correlation123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2023-10-10T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the transaction is being processed.",
            "example": "US-East"
          }
        },
        "description": "Schema representing additional metadata for the payment request."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-cancel-qr-payment-request"
        },
        "example": "banking-p2m-openapi-cancel-qr-payment-request"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method that utilizes a JSON Web Token (JWT) to verify user identity and authorization.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}