{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Loan Details Retrieval API",
    "description": "The Loan Details Retrieval API allows users to access specific information about a loan using its unique identifier. This endpoint serves financial institutions and service providers needing to manage loan data effectively. Typical use cases include retrieving loan status, terms, and borrower information for customer inquiries or reporting purposes. By facilitating quick access to detailed loan records, it enhances user experience and operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loans/{loanId}": {
      "get": {
        "tags": [
          "Loans"
        ],
        "summary": "Retrieve a specific loan by its ID.",
        "description": "This endpoint allows you to fetch detailed information about a specific loan identified by its unique ID. Use this operation to access loan details, including terms, payments, and borrower information.",
        "operationId": "getLoanById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving details associated with loan LOAN-500045. The request body should include any necessary identifiers or parameters required by the API to process the request correctly.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetLoanByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved loan details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLoanByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetLoanByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on loan 500045. It is currently defined as a string.",
        "example": "{}"
      },
      "GetLoanByIdResponse_200": {
        "title": "Loan Operations Response",
        "type": "object",
        "properties": {
          "sourceApplicationId": {
            "type": "string",
            "description": "Identifier for the source application.",
            "example": "APP-576916"
          },
          "productId": {
            "type": "string",
            "description": "Identifier for the product associated with the loan.",
            "example": "PROD-806275"
          },
          "primaryCustomerId": {
            "type": "string",
            "description": "Identifier for the primary customer who has taken the loan.",
            "example": "CUST-263976"
          },
          "borrowerCustomerIds": {
            "type": "array",
            "description": "List of identifiers for all borrowers associated with the loan.",
            "example": [
              "CUST-585799"
            ],
            "items": {
              "type": "string",
              "example": "string"
            }
          },
          "principal": {
            "description": "The principal amount of the loan.",
            "$ref": "#/components/schemas/LoanAmount"
          },
          "termMonths": {
            "type": "integer",
            "description": "The term of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "annualInterestRatePercent": {
            "type": "string",
            "description": "The annual interest rate applicable to the loan.",
            "example": "STANDARD"
          },
          "interestRateType": {
            "type": "string",
            "description": "Type of interest rate (fixed, variable, etc.).",
            "example": "STANDARD"
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "Frequency of repayment (monthly, quarterly, etc.).",
            "example": "STANDARD"
          },
          "bookingDate": {
            "type": "string",
            "description": "The date when the loan was booked.",
            "example": "2026-09-15"
          },
          "firstPaymentDate": {
            "type": "string",
            "description": "The date when the first payment is due.",
            "example": "2026-09-15"
          },
          "maturityDate": {
            "type": "string",
            "description": "The maturity date of the loan.",
            "example": "2026-09-15"
          },
          "repaymentAccountNumber": {
            "type": "string",
            "description": "Account number used for repayment of the loan.",
            "example": "STANDARD"
          },
          "servicingBranchCode": {
            "type": "string",
            "description": "Branch code for servicing the loan.",
            "example": "CODE-889"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "Identifier for the relationship manager handling the loan.",
            "example": "STANDARD"
          },
          "purpose": {
            "type": "string",
            "description": "Purpose for which the loan was taken.",
            "example": "STANDARD"
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the loan.",
            "example": "b92b6954-65c6-06ff-8b83-6bca5b87411a"
          },
          "accountNumber": {
            "type": "string",
            "description": "Account number associated with the loan.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the loan (active, closed, etc.).",
            "example": "ACTIVE"
          },
          "balance": {
            "description": "Current balance details of the loan.",
            "$ref": "#/components/schemas/LoanBalance"
          },
          "totalDisbursed": {
            "description": "Total amount disbursed for the loan.",
            "$ref": "#/components/schemas/LoanAmount"
          },
          "totalRepaid": {
            "description": "Total amount repaid towards the loan.",
            "$ref": "#/components/schemas/LoanAmount"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Represents the schema for the response of the Loan Operations GET request.",
        "example": {
          "sourceApplicationId": "APP-576916",
          "productId": "PROD-806275",
          "primaryCustomerId": "CUST-263976",
          "borrowerCustomerIds": [
            "CUST-585799"
          ],
          "principal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "termMonths": 1,
          "annualInterestRatePercent": "STANDARD",
          "interestRateType": "STANDARD",
          "repaymentFrequency": "STANDARD",
          "bookingDate": "2026-09-15",
          "firstPaymentDate": "2026-09-15",
          "maturityDate": "2026-09-15",
          "repaymentAccountNumber": "STANDARD",
          "servicingBranchCode": "CODE-889",
          "relationshipManagerId": "STANDARD",
          "purpose": "STANDARD",
          "id": "b92b6954-65c6-06ff-8b83-6bca5b87411a",
          "accountNumber": "STANDARD",
          "status": "ACTIVE",
          "balance": {
            "principalOutstanding": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "accruedInterest": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "feesOutstanding": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "penaltiesOutstanding": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "totalOutstanding": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "availableToDraw": {
              "currency": "USD",
              "amount": "1250.75"
            }
          },
          "totalDisbursed": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "totalRepaid": {
            "currency": "USD"
          },
          "metadata": {
            "responseId": "ad155b85-9b1b-5437-b33a-71b30994de6c",
            "correlationId": "eafc7be2-eda5-5d4b-a3c8-9abbb26eee29",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "LoanAmount": {
        "title": "Loan Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency of the amount.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The amount of money.",
            "example": "1000.00"
          }
        },
        "description": "Represents the amount and currency of the loan."
      },
      "LoanBalance": {
        "title": "Loan Balance",
        "type": "object",
        "properties": {
          "principalOutstanding": {
            "description": "Outstanding principal amount.",
            "$ref": "#/components/schemas/LoanAmount"
          },
          "accruedInterest": {
            "description": "Total accrued interest amount.",
            "$ref": "#/components/schemas/LoanAmount"
          },
          "feesOutstanding": {
            "description": "Total outstanding fees.",
            "$ref": "#/components/schemas/LoanAmount"
          },
          "penaltiesOutstanding": {
            "description": "Total outstanding penalties.",
            "$ref": "#/components/schemas/LoanAmount"
          },
          "totalOutstanding": {
            "description": "Total outstanding amount, including principal and interest.",
            "$ref": "#/components/schemas/LoanAmount"
          },
          "availableToDraw": {
            "description": "Amount available to draw from the loan.",
            "$ref": "#/components/schemas/LoanAmount"
          }
        },
        "description": "Represents the balance details of the loan."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking request/response pairs.",
            "example": "correlation-67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-banking-loans-openapi-get-loan"
        },
        "example": "banking-loans-openapi-banking-loans-openapi-get-loan"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication, commonly implemented using JSON Web Tokens (JWT). Clients must include a valid JWT in the Authorization header when making requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}