{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Manage Loan Payments API",
    "description": "The Manage Loan Payments API enables authorized users to update payment details for specific loans. By providing the loan ID and payment ID, stakeholders such as loan servicers or financial institutions can modify payment information as needed. This API supports various use cases, including adjusting payment schedules or correcting payment amounts. Its capabilities enhance operational efficiency and ensure accurate loan administration.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loans/{loanId}/payments/{paymentId}": {
      "patch": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Update payment details for a specific loan.",
        "description": "This endpoint allows you to update the payment details associated with a particular loan. You can modify information such as payment amount, date, and other relevant details.",
        "operationId": "patchLoanPayment",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update payment details for a specific loan. Ensure to provide the necessary payment information to successfully apply the changes.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchLoanPaymentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The payment was successfully updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchLoanPaymentResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchLoanPaymentRequest": {
        "title": "Loan Payment Request Body",
        "type": "object",
        "properties": {
          "amount": {
            "description": "The payment amount details including the currency and the amount.",
            "$ref": "#/components/schemas/PaymentAmount"
          },
          "paymentDate": {
            "type": "string",
            "description": "The date when the payment is processed.",
            "example": "2026-09-15"
          },
          "valueDate": {
            "type": "string",
            "description": "The date when the payment value is recognized.",
            "example": "2026-09-15"
          },
          "paymentMethod": {
            "type": "string",
            "description": "The method used for the payment (e.g., bank transfer, credit card).",
            "example": "STANDARD"
          },
          "sourceAccountNumber": {
            "type": "string",
            "description": "The account number from which the payment is made.",
            "example": "STANDARD"
          },
          "externalReference": {
            "type": "string",
            "description": "An external reference for tracking the payment.",
            "example": "STANDARD"
          },
          "allocationStrategy": {
            "type": "string",
            "description": "The strategy used to allocate the payment to installments.",
            "example": "STANDARD"
          },
          "targetInstallmentNumbers": {
            "type": "array",
            "description": "List of specific installment numbers to which the payment should be applied.",
            "example": [
              1
            ],
            "items": {
              "type": "integer",
              "description": "An installment number to be targeted.",
              "format": "int32"
            }
          },
          "narrative": {
            "type": "string",
            "description": "A narrative or description of the payment.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for processing a loan payment operation.",
        "example": {
          "amount": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "paymentDate": "2026-09-15",
          "valueDate": "2026-09-15",
          "paymentMethod": "STANDARD",
          "sourceAccountNumber": "STANDARD",
          "externalReference": "STANDARD",
          "allocationStrategy": "STANDARD",
          "targetInstallmentNumbers": [
            1
          ],
          "narrative": "STANDARD",
          "requestContext": {
            "requestId": "ba86d290-d9b9-504a-866d-beed283f3e63",
            "correlationId": "d2206240-ee44-5b05-a770-9879fad385f7",
            "idempotencyKey": "484666da-09ce-5b15-a0e0-a0bf17aca1bc",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-872836"
            }
          }
        }
      },
      "PaymentAmount": {
        "title": "Payment Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency code of the payment (e.g., USD, EUR)."
          },
          "amount": {
            "type": "string",
            "description": "The actual amount of money to be paid."
          }
        },
        "description": "Schema representing the amount to be paid, including currency and amount."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request."
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate related requests."
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure the request is idempotent."
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made."
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system where the request originated."
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application making the request."
          },
          "channel": {
            "description": "The channel through which the request is made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema containing contextual information for the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel."
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., web, mobile)."
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier for the device used."
          }
        },
        "description": "Schema representing the channel details from which the request is made."
      },
      "PatchLoanPaymentResponse_200": {
        "title": "Payment Response",
        "type": "object",
        "properties": {
          "amount": {
            "description": "Details regarding the payment amount.",
            "$ref": "#/components/schemas/AmountDetails"
          },
          "paymentDate": {
            "type": "string",
            "description": "The date when the payment was made.",
            "example": "2026-09-15"
          },
          "valueDate": {
            "type": "string",
            "description": "The date when the value of the payment is recognized.",
            "example": "2026-09-15"
          },
          "paymentMethod": {
            "type": "string",
            "description": "The method used to make the payment.",
            "example": "STANDARD"
          },
          "sourceAccountNumber": {
            "type": "string",
            "description": "The account number from which the payment was sourced.",
            "example": "STANDARD"
          },
          "externalReference": {
            "type": "string",
            "description": "An external reference number related to the payment.",
            "example": "STANDARD"
          },
          "allocationStrategy": {
            "type": "string",
            "description": "The strategy used for allocating the payment.",
            "example": "STANDARD"
          },
          "targetInstallmentNumbers": {
            "type": "array",
            "description": "List of installment numbers to which the payment is allocated.",
            "example": [
              1
            ],
            "items": {
              "type": "integer",
              "format": "int32",
              "example": 1
            }
          },
          "manualAllocation": {
            "description": "Details for manual allocation of the payment.",
            "$ref": "#/components/schemas/ManualAllocationDetails"
          },
          "narrative": {
            "type": "string",
            "description": "Additional narrative or comments on the payment.",
            "example": "STANDARD"
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the payment.",
            "example": "9fbf2929-1ccd-7c08-7a7f-4fbbe2a9a52c"
          },
          "paymentNumber": {
            "type": "string",
            "description": "Unique payment number.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the payment.",
            "example": "ACTIVE"
          },
          "allocation": {
            "description": "Details regarding the allocation of the payment.",
            "$ref": "#/components/schemas/AllocationDetails"
          },
          "transactionReference": {
            "type": "string",
            "description": "Reference for the transaction associated with the payment.",
            "example": "STANDARD"
          },
          "postedAt": {
            "type": "string",
            "description": "Timestamp when the payment was posted.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Additional metadata information about the payment.",
            "$ref": "#/components/schemas/MetadataDetails"
          }
        },
        "description": "Schema representing the response structure for a payment operation.",
        "example": {
          "amount": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "paymentDate": "2026-09-15",
          "valueDate": "2026-09-15",
          "paymentMethod": "STANDARD",
          "sourceAccountNumber": "STANDARD",
          "externalReference": "STANDARD",
          "allocationStrategy": "STANDARD",
          "targetInstallmentNumbers": [
            1
          ],
          "manualAllocation": {
            "principal": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "interest": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "fees": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "penalties": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "excess": {
              "currency": "USD",
              "amount": "1250.75"
            }
          },
          "narrative": "STANDARD",
          "id": "9fbf2929-1ccd-7c08-7a7f-4fbbe2a9a52c",
          "paymentNumber": "STANDARD",
          "status": "ACTIVE",
          "allocation": {
            "principal": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "interest": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "fees": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "penalties": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "excess": {
              "currency": "USD",
              "amount": "1250.75"
            }
          },
          "transactionReference": "STANDARD",
          "postedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "67282050-edee-526e-a9a8-0a5157a23223",
            "correlationId": "d2206240-ee44-5b05-a770-9879fad385f7",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AmountDetails": {
        "title": "Amount Details",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency code for the amount.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The amount value.",
            "example": "100.00"
          }
        },
        "description": "Schema representing the details of an amount including currency and amount value."
      },
      "ManualAllocationDetails": {
        "title": "Manual Allocation Details",
        "type": "object",
        "properties": {
          "principal": {
            "description": "Amount allocated to the principal.",
            "$ref": "#/components/schemas/AmountDetails"
          },
          "interest": {
            "description": "Amount allocated to the interest.",
            "$ref": "#/components/schemas/AmountDetails"
          },
          "fees": {
            "description": "Amount allocated to fees.",
            "$ref": "#/components/schemas/AmountDetails"
          },
          "penalties": {
            "description": "Amount allocated to penalties.",
            "$ref": "#/components/schemas/AmountDetails"
          },
          "excess": {
            "description": "Amount allocated to any excess.",
            "$ref": "#/components/schemas/AmountDetails"
          }
        },
        "description": "Schema for manual allocation of the payment across various components."
      },
      "AllocationDetails": {
        "title": "Allocation Details",
        "type": "object",
        "properties": {
          "principal": {
            "description": "Allocated amount for the principal.",
            "$ref": "#/components/schemas/AmountDetails"
          },
          "interest": {
            "description": "Allocated amount for interest.",
            "$ref": "#/components/schemas/AmountDetails"
          },
          "fees": {
            "description": "Allocated amount for fees.",
            "$ref": "#/components/schemas/AmountDetails"
          },
          "penalties": {
            "description": "Allocated amount for penalties.",
            "$ref": "#/components/schemas/AmountDetails"
          },
          "excess": {
            "description": "Allocated amount for any excess.",
            "$ref": "#/components/schemas/AmountDetails"
          }
        },
        "description": "Schema for allocation of the payment across different financial obligations."
      },
      "MetadataDetails": {
        "title": "Metadata Details",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "ID of the response generated for this payment.",
            "example": "RES-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the payment across systems.",
            "example": "CORR-001"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2023-10-30T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the payment processing took place.",
            "example": "US-EAST"
          }
        },
        "description": "Schema representing additional metadata for the payment."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-update-loan-payment"
        },
        "example": "banking-loans-openapi-update-loan-payment"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the operation, providing context for the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method using a Bearer token. The token should be a JSON Web Token (JWT) which provides a stateless way to securely transmit information between parties.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}