{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Product Portfolio Management API",
    "description": "The Product Portfolio Management API allows businesses to efficiently update aspects of their product portfolio, facilitating real-time adjustments based on market analysis. This API provides endpoints to modify product details, aligning offerings with strategic business objectives. Typical consumers of this API include product managers and business analysts who require agile tools for maintaining competitive product lines. By integrating this API into their workflows, organizations can enhance their decision-making processes and optimize their product strategies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/business-analysis/product-portfolio/{param1}": {
      "patch": {
        "tags": [
          "Product Portfolio Management"
        ],
        "summary": "Update Product Portfolio",
        "description": "This endpoint allows you to update the details of a specific product portfolio identified by its unique ID (PROD-700045). Ensure that you provide the necessary fields for the update operation.",
        "operationId": "updateProductPortfolioProD700045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the product portfolio for the specified product ID (PROD-700045). It allows clients to modify certain attributes of the product portfolio, ensuring that the necessary data is provided in a structured format.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProductPortfolioProD700045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the updated resource.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateProductPortfolioProD700045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateProductPortfolioProD700045Request": {
        "type": "object",
        "properties": {
          "changes": {
            "description": "Contains the changes to be made in the product portfolio.",
            "$ref": "#/components/schemas/ProductPortfolioChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user requesting the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for updating the product portfolio operations.",
        "example": {
          "changes": {
            "analysisId": "STANDARD",
            "segmentId": "STANDARD",
            "periodStart": "2026-08-11"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "d29daabf-a2a9-55b2-8f07-bfe7131f8874",
            "correlationId": "0c5ca025-8101-589c-b48c-9b7e2abd3392",
            "idempotencyKey": "5c20110b-e466-5f9e-ab41-554387fc78b9",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-358753"
            }
          }
        }
      },
      "ProductPortfolioChanges": {
        "type": "object",
        "properties": {
          "analysisId": {
            "type": "string",
            "description": "The identifier for the analysis related to the changes.",
            "example": "analysis-456"
          },
          "segmentId": {
            "type": "string",
            "description": "The identifier for the segment impacted by the changes.",
            "example": "segment-789"
          },
          "periodStart": {
            "type": "string",
            "description": "The start period for which the changes apply.",
            "example": "2023-01-01"
          }
        },
        "description": "Represents the specific changes to the product portfolio."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "req-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "A correlation identifier used to trace requests across systems.",
            "example": "corr-987654"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to identify the uniqueness of the request.",
            "example": "idempotent-key"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-01T00:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "OrderProcessingSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request was issued.",
            "example": "MobileApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Information about the request context."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The identifier of the channel.",
            "example": "channel-234"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., web, mobile, etc.).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used for the request.",
            "example": "device-567"
          }
        },
        "description": "Details about the channel used for the request."
      },
      "UpdateProductPortfolioProD700045Response_200": {
        "title": "Product Portfolio Update Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version number of the product portfolio.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The current status of the update operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the product portfolio was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the response, including tracking information.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the PATCH operation on the Product Portfolio representing the updated state.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "fd60f00e-b5ba-5e77-af9c-c457ac9ffcae",
            "correlationId": "0c5ca025-8101-589c-b48c-9b7e2abd3392",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple requests/responses.",
            "example": "correlation-67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-10T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata containing information about the response, such as identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint being accessed, used for tracking and analytics purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "product-portfolio-update-product-portfolio"
        },
        "example": "product-portfolio-update-product-portfolio"
      },
      "X-Runtime-App": {
        "description": "Identifier for the application that is processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method using Bearer tokens. This scheme utilizes JSON Web Tokens (JWT) to authenticate users and secure API endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}