{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Consumer Advisory Services API",
    "description": "The Consumer Advisory Services API provides essential financial guidance and information tailored to consumers seeking to enhance their banking experience. This endpoint enables users to access specialized advisory resources based on specific parameters, offering insights into banking products and services. Typical consumers include individuals looking for personalized financial advice or assistance in managing their accounts. By leveraging this API, organizations can help their clients make informed decisions regarding their financial services.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/consumer-services/consumer-advisory-services/{param1}": {
      "get": {
        "tags": [
          "Consumer Advisory Services"
        ],
        "summary": "Retrieve Consumer Advisory Service by ID",
        "description": "Fetch detailed information about a specific Consumer Advisory Service using its unique identifier. This endpoint allows clients to access service details for further consultation and decision-making.",
        "operationId": "getConsumerAdvisoryServiceById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for obtaining consumer advisory services related to the specific resource identified by RES-100045. This request allows clients to fetch relevant information and guidance pertaining to consumer needs.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetConsumerAdvisoryServiceByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested consumer advisory service data.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetConsumerAdvisoryServiceByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetConsumerAdvisoryServiceByIdRequest": {
        "title": "Consumer Advisory Services Request Body",
        "type": "string",
        "description": "Schema representing the request body for the Consumer Advisory Services operation.",
        "example": "{}"
      },
      "GetConsumerAdvisoryServiceByIdResponse_200": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-780379"
          },
          "serviceRequestId": {
            "type": "string",
            "description": "Identifier for the service request.",
            "example": "31236ff9-4098-549a-a4ce-117885420cd3"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product related to the service request.",
            "example": "CHK-PREMIUM-US"
          },
          "amount": {
            "description": "Details of the monetary amount related to the service request.",
            "$ref": "#/components/schemas/Amount"
          },
          "requestedDate": {
            "type": "string",
            "description": "Date the service request was made.",
            "format": "date-time"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version of the service request record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the service request.",
            "format": "date-time",
            "example": 1789482600.0
          },
          "metadata": {
            "description": "Metadata containing additional information regarding the service request.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for consumer advisory services operations, detailing customer service requests and related metadata.",
        "example": {
          "customerId": "CUST-780379",
          "serviceRequestId": "31236ff9-4098-549a-a4ce-117885420cd3",
          "productCode": "CHK-PREMIUM-US",
          "amount": {
            "value": 100,
            "currency": "USD"
          },
          "requestedDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "1f36f9bd-f49f-5661-ac73-97f32bced370",
            "correlationId": "efda21cb-7d1d-5139-ac2c-009e4b3858a2",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Amount": {
        "type": "object",
        "properties": {
          "value": {
            "type": "integer",
            "description": "Monetary value of the service request.",
            "format": "int32",
            "example": 150
          },
          "currency": {
            "type": "string",
            "description": "Currency code for the monetary amount.",
            "example": "USD"
          }
        },
        "description": "Object representing the amount and currency involved in the service request."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracing the request through systems.",
            "example": "CORR-123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "format": "date-time",
            "example": 1696161601.0
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "US-East"
          }
        },
        "description": "Object containing metadata of the service request, providing additional context."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "Unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "consumer-advisory-services-get-consumer-advisory-services"
        },
        "example": "consumer-advisory-services-get-consumer-advisory-services"
      },
      "x-runtime-app": {
        "description": "The name of the application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses Bearer tokens as defined in RFC 6750. The Bearer token is typically a JSON Web Token (JWT) that provides a means of conveying claims about an entity (typically the user) and provides the necessary information to authenticate the entity.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}