{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Account Statement Detail Retrieval API",
    "description": "The Customer Account Statement Detail Retrieval API allows users to access detailed statements for specific customer accounts. This endpoint retrieves relevant financial transaction data for a specified customer and account, facilitating transparency and insight into account activities. Typical consumers of this API include financial institutions, customer service teams, and other entities that require precise statement information for auditing or customer support. By leveraging this API, organizations can enhance customer engagement and provide more informed financial services.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/{customerId}/accounts/{accountId}/statement/statement-details": {
      "get": {
        "tags": [
          "Customer Account Management"
        ],
        "summary": "Retrieve Statement Details for a Specific Account",
        "description": "This endpoint allows you to fetch detailed statement information for a specified customer account. By providing the customer and account identifiers, you can access all the relevant transaction details, balances, and other important information associated with the account's statement.",
        "operationId": "getStatementDetailsForCustomerAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body should include the necessary parameters to retrieve statement details for the specified customer and account. Ensure that the request follows the defined schema to receive the appropriate response.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetStatementDetailsForCustomerAccountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the statement details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetStatementDetailsForCustomerAccountResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetStatementDetailsForCustomerAccountRequest": {
        "type": "string",
        "description": "This schema represents the request body for retrieving account statement details.",
        "example": "{}"
      },
      "GetStatementDetailsForCustomerAccountResponse_200": {
        "title": "Account Statement Details Response",
        "type": "object",
        "properties": {
          "statements": {
            "type": "array",
            "description": "An array of statement objects containing details about each statement.",
            "example": [
              {
                "id": "STANDARD",
                "description": "Customer banking request processed successfully",
                "asOfDate": 1,
                "documentDate": "2026-09-15",
                "index": "STANDARD",
                "code": "SUCCESS",
                "message": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Statement"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier for tracking the request across systems.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp indicating when the response was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region where the request was processed.",
                "example": "string"
              }
            },
            "description": "Metadata related to the response.",
            "example": {
              "responseId": "bb0cbfe7-1c60-5ea7-93ec-92850a7067a5",
              "correlationId": "8bd3cf25-a963-571d-bfec-ac58e6cb00d0",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "This schema represents the response structure for a request to retrieve account statement details for a specific customer and account.",
        "example": {
          "statements": [
            {
              "id": "STANDARD",
              "description": "Customer banking request processed successfully",
              "asOfDate": 1,
              "documentDate": "2026-09-15",
              "index": "STANDARD",
              "code": "SUCCESS",
              "message": "STANDARD"
            }
          ],
          "metadata": {
            "responseId": "bb0cbfe7-1c60-5ea7-93ec-92850a7067a5",
            "correlationId": "8bd3cf25-a963-571d-bfec-ac58e6cb00d0",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Statement": {
        "title": "Statement Details",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the statement.",
            "example": "string"
          },
          "description": {
            "type": "string",
            "description": "Description of the statement.",
            "example": "string"
          },
          "asOfDate": {
            "type": "integer",
            "description": "The date as of which the statement is generated.",
            "format": "int32",
            "example": 0
          },
          "documentDate": {
            "type": "string",
            "description": "The date when the document was created.",
            "example": "string"
          },
          "index": {
            "type": "string",
            "description": "Index number of the statement.",
            "example": "string"
          },
          "code": {
            "type": "string",
            "description": "Code associated with the statement.",
            "example": "string"
          },
          "message": {
            "type": "string",
            "description": "Message associated with the statement.",
            "example": "string"
          }
        },
        "description": "This schema represents the details of an individual statement in the account statement response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that processed the request, useful for tracking and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-customer-account-multiple-statement"
        },
        "example": "open-finance-api-get-customer-account-multiple-statement"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request, providing context about the source of the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authorization scheme that uses JSON Web Tokens (JWT) to securely transmit information between parties. This method is widely used to authenticate API requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}