{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Underwriting Information Retrieval API",
    "description": "The Underwriting Information Retrieval API enables users to access detailed underwriting data related to banking sales operations. This API allows financial institutions and partners to retrieve underwriting assessments, risk evaluations, and parameters essential for making informed lending decisions. Typical consumers include loan officers, underwriters, and system integrators looking to enhance their application services with insights into underwriting processes. This API streamlines the information acquisition process, ensuring timely and accurate evaluations to improve customer engagement and decision-making.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/sales/underwriting": {
      "get": {
        "tags": [
          "Sales"
        ],
        "summary": "Retrieve underwriting information for sales.",
        "description": "This endpoint allows you to retrieve detailed underwriting data related to sales transactions. It can help in assessing risk and making informed decisions about sales agreements.",
        "operationId": "getSalesUnderwriting",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body to retrieve underwriting sales data. Ensure that the necessary parameters are structured correctly as per the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSalesUnderwritingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and data retrieved.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSalesUnderwritingResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetSalesUnderwritingRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to sales underwriting operations.",
        "example": "{}"
      },
      "GetSalesUnderwritingResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of underwriting items.",
            "example": [
              {
                "prospectId": "STANDARD",
                "productCode": "CHK-PREMIUM-US",
                "salesChannel": "STANDARD",
                "relationshipManagerId": "STANDARD",
                "expectedValue": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "applicationId": "APP-998008",
                "requestedLimit": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "debtServiceCoverageRatio": 100.0,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/UnderwritingItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the GET operation in the Sales Underwriting API, providing a list of items along with pagination, sorting, and metadata information.",
        "example": {
          "items": [
            {
              "prospectId": "STANDARD",
              "productCode": "CHK-PREMIUM-US",
              "salesChannel": "STANDARD",
              "relationshipManagerId": "STANDARD",
              "expectedValue": {
                "amount": 100.0,
                "currency": "USD"
              },
              "applicationId": "APP-998008",
              "requestedLimit": {
                "amount": 100.0,
                "currency": "USD"
              },
              "debtServiceCoverageRatio": 100.0,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "6c880d41-75cf-5a45-9599-db8e5fd266f0",
            "correlationId": "f5232157-b537-5bad-80d1-6cae2a4b8e75",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "UnderwritingItem": {
        "type": "object",
        "properties": {
          "prospectId": {
            "type": "string",
            "description": "Unique identifier for the prospect."
          },
          "productCode": {
            "type": "string",
            "description": "Code identifying the product."
          },
          "salesChannel": {
            "type": "string",
            "description": "Sales channel through which the product was sold."
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "Identifier for the relationship manager associated with this item."
          },
          "expectedValue": {
            "description": "Expected financial value associated with this underwriting item.",
            "$ref": "#/components/schemas/FinancialValue"
          },
          "applicationId": {
            "type": "string",
            "description": "Identifier for the application related to this underwriting item."
          },
          "requestedLimit": {
            "description": "Financial value representing the requested limit.",
            "$ref": "#/components/schemas/FinancialValue"
          },
          "debtServiceCoverageRatio": {
            "type": "number",
            "description": "The debt service coverage ratio for the underwriting item."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the underwriting record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the underwriting record."
          }
        },
        "description": "Details of a single underwriting item."
      },
      "FinancialValue": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount of money."
          },
          "currency": {
            "type": "string",
            "description": "The currency code (e.g., USD, EUR)."
          }
        },
        "description": "Represents a financial value with amount and currency."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Pagination information for the response data."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracking the request and response."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed."
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that was accessed, which can be used for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "underwriting-search-underwriting"
        },
        "example": "underwriting-search-underwriting"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request, useful for identifying which service handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token formatted as a JSON Web Token (JWT) for authentication. Users must include this token in the Authorization header of their requests to access secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}