{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Dispute Resolution Management API",
    "description": "The Dispute Resolution Management API facilitates the retrieval of dispute information related to transactions, enabling businesses to resolve issues efficiently. This endpoint allows users to access details about existing disputes, including their status and associated transactions. Typical consumers of this API include customer support teams, dispute resolution specialists, and financial analysts who need to monitor and manage transaction disputes. By offering transparent access to dispute data, businesses can improve customer experience and streamline their resolution processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/disputes": {
      "get": {
        "tags": [
          "Dispute Management"
        ],
        "summary": "Retrieve a list of disputes.",
        "description": "This endpoint allows you to fetch all disputes available in the system. Use this to monitor and manage disputes effectively.",
        "operationId": "getDisputes",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body retrieves the details of disputes based on the specified criteria. Ensure that all required fields in the schema are populated to obtain accurate results.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetDisputesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns a list of disputes successfully retrieved.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDisputesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetDisputesRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on disputes, specified as a string.",
        "example": "{}"
      },
      "GetDisputesResponse_200": {
        "title": "Dispute Retrieval Response",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the results.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 1
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32",
            "example": 1
          },
          "totalPages": {
            "type": "integer",
            "description": "Total number of pages available.",
            "format": "int32",
            "example": 1
          },
          "hasNext": {
            "type": "boolean",
            "description": "Indicates whether there is a next page of results.",
            "example": true
          },
          "links": {
            "type": "array",
            "description": "Collection of navigation links related to the resource.",
            "example": [
              {
                "rel": "STANDARD",
                "href": "https://example.com/resource",
                "method": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          },
          "items": {
            "type": "array",
            "description": "List of dispute items retrieved from the database.",
            "example": [
              {
                "disputeId": "STANDARD",
                "paymentId": "PAY-430055",
                "merchantId": "MER-423289",
                "reason": "STANDARD",
                "disputedAmount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "customerStatement": "STANDARD",
                "status": "ACTIVE",
                "responseDueAt": "2026-08-11T12:00:00Z",
                "evidence": [
                  {
                    "id": "STANDARD",
                    "fileName": "Northstar Banking Service",
                    "contentType": "STANDARD",
                    "fileSizeBytes": 1,
                    "fileUrl": "https://example.com/resource",
                    "sha256": "STANDARD",
                    "uploadedAt": "2026-08-11T12:00:00Z"
                  }
                ],
                "financialImpact": {
                  "amountDebitedFromMerchant": {
                    "currency": "USD",
                    "value": "STANDARD"
                  },
                  "fees": [
                    {
                      "feeType": "STANDARD",
                      "amount": {
                        "currency": "USD",
                        "value": "STANDARD"
                      },
                      "bearer": "CUSTOMER"
                    }
                  ],
                  "reserveHeld": {
                    "currency": "USD",
                    "value": "STANDARD"
                  }
                },
                "resolution": {
                  "outcome": "STANDARD",
                  "resolvedAmount": {
                    "currency": "USD",
                    "value": "STANDARD"
                  }
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/DisputeItem"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier used for tracing requests across services.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp indicating when the response was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region where the request was processed.",
                "example": "string"
              }
            },
            "description": "Additional metadata related to the response.",
            "example": {
              "responseId": "8224c579-c055-561d-b7e8-a1cbc057b5fa",
              "correlationId": "9b142409-0cbc-50da-986d-9599c683f847",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Schema representing the response structure for retrieving disputes through the GET operation.",
        "example": {
          "page": 1,
          "pageSize": 1,
          "totalItems": 1,
          "totalPages": 1,
          "hasNext": true,
          "links": [
            {
              "rel": "STANDARD",
              "href": "https://example.com/resource",
              "method": "STANDARD"
            }
          ],
          "items": [
            {
              "disputeId": "STANDARD",
              "paymentId": "PAY-430055",
              "merchantId": "MER-423289",
              "reason": "STANDARD",
              "disputedAmount": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "customerStatement": "STANDARD",
              "status": "ACTIVE",
              "responseDueAt": "2026-08-11T12:00:00Z",
              "evidence": [
                {
                  "id": "STANDARD",
                  "fileName": "Northstar Banking Service",
                  "contentType": "STANDARD",
                  "fileSizeBytes": 1,
                  "fileUrl": "https://example.com/resource",
                  "sha256": "STANDARD",
                  "uploadedAt": "2026-08-11T12:00:00Z"
                }
              ],
              "financialImpact": {
                "amountDebitedFromMerchant": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "fees": [
                  {
                    "feeType": "STANDARD",
                    "amount": {
                      "currency": "USD",
                      "value": "STANDARD"
                    },
                    "bearer": "CUSTOMER"
                  }
                ],
                "reserveHeld": {
                  "currency": "USD",
                  "value": "STANDARD"
                }
              },
              "resolution": {
                "outcome": "STANDARD",
                "resolvedAmount": {
                  "currency": "USD",
                  "value": "STANDARD"
                }
              }
            }
          ],
          "metadata": {
            "responseId": "8224c579-c055-561d-b7e8-a1cbc057b5fa",
            "correlationId": "9b142409-0cbc-50da-986d-9599c683f847",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Link": {
        "title": "Link",
        "type": "object",
        "properties": {
          "rel": {
            "type": "string",
            "description": "The relation type of the link.",
            "example": "string"
          },
          "href": {
            "type": "string",
            "description": "The URI of the linked resource.",
            "example": "string"
          },
          "method": {
            "type": "string",
            "description": "The HTTP method to use with the link.",
            "example": "string"
          }
        },
        "description": "Represents a hyperlink related to the dispute resource."
      },
      "DisputeItem": {
        "title": "Dispute Item",
        "type": "object",
        "properties": {
          "disputeId": {
            "type": "string",
            "description": "Unique identifier for the dispute.",
            "example": "string"
          },
          "paymentId": {
            "type": "string",
            "description": "Identifier for the associated payment.",
            "example": "string"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant involved in the dispute.",
            "example": "string"
          },
          "reason": {
            "type": "string",
            "description": "Reason for the dispute.",
            "example": "string"
          },
          "disputedAmount": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "description": "Currency code for the disputed amount.",
                "example": "USD"
              },
              "value": {
                "type": "string",
                "description": "The disputed amount value.",
                "example": "100.00"
              }
            },
            "description": "Amount that is being disputed."
          },
          "customerStatement": {
            "type": "string",
            "description": "The customer's statement regarding the dispute.",
            "example": "string"
          },
          "status": {
            "type": "string",
            "description": "Current status of the dispute.",
            "example": "string"
          },
          "responseDueAt": {
            "type": "string",
            "description": "Timestamp indicating when a response is due.",
            "example": "string"
          },
          "evidence": {
            "type": "array",
            "description": "Collection of evidence related to the dispute.",
            "example": [],
            "items": {
              "$ref": "#/components/schemas/EvidenceItem"
            }
          },
          "financialImpact": {
            "type": "object",
            "properties": {
              "amountDebitedFromMerchant": {
                "type": "object",
                "properties": {
                  "currency": {
                    "type": "string",
                    "description": "Currency code for the debited amount.",
                    "example": "USD"
                  },
                  "value": {
                    "type": "string",
                    "description": "The debited amount value.",
                    "example": "100.00"
                  }
                },
                "description": "Amount debited from the merchant due to the dispute."
              },
              "fees": {
                "type": "array",
                "description": "List of fees associated with the dispute.",
                "example": [],
                "items": {
                  "$ref": "#/components/schemas/DisputeFee"
                }
              },
              "reserveHeld": {
                "type": "object",
                "properties": {
                  "currency": {
                    "type": "string",
                    "description": "Currency code for the reserved amount.",
                    "example": "USD"
                  },
                  "value": {
                    "type": "string",
                    "description": "The value of the amount held in reserve.",
                    "example": "50.00"
                  }
                },
                "description": "Amount held in reserve related to the dispute."
              }
            },
            "description": "Financial implications of the dispute."
          },
          "resolution": {
            "type": "object",
            "properties": {
              "outcome": {
                "type": "string",
                "description": "Outcome of the dispute resolution process.",
                "example": "string"
              },
              "resolvedAmount": {
                "type": "object",
                "properties": {
                  "currency": {
                    "type": "string",
                    "description": "Currency code for the resolved amount.",
                    "example": "USD"
                  },
                  "value": {
                    "type": "string",
                    "description": "The value of the resolved amount.",
                    "example": "80.00"
                  }
                },
                "description": "Amount resolved in the dispute."
              }
            },
            "description": "Details regarding the resolution of the dispute."
          }
        },
        "description": "Represents an individual dispute within the response."
      },
      "EvidenceItem": {
        "title": "Evidence Item",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the evidence item.",
            "example": "string"
          },
          "fileName": {
            "type": "string",
            "description": "Name of the file representing the evidence.",
            "example": "document.pdf"
          },
          "contentType": {
            "type": "string",
            "description": "MIME type of the evidence file.",
            "example": "application/pdf"
          },
          "fileSizeBytes": {
            "type": "integer",
            "description": "Size of the evidence file in bytes.",
            "format": "int32",
            "example": 1024
          },
          "fileUrl": {
            "type": "string",
            "description": "URL to access the evidence file.",
            "example": "http://example.com/evidence/document.pdf"
          },
          "sha256": {
            "type": "string",
            "description": "SHA-256 hash of the evidence file for integrity checking.",
            "example": "string"
          },
          "uploadedAt": {
            "type": "string",
            "description": "Timestamp indicating when the evidence was uploaded.",
            "example": "string"
          }
        },
        "description": "Represents an individual piece of evidence related to a dispute."
      },
      "DisputeFee": {
        "title": "Dispute Fee",
        "type": "object",
        "properties": {
          "feeType": {
            "type": "string",
            "description": "Type of the fee.",
            "example": "service fee"
          },
          "amount": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "description": "Currency code for the fee.",
                "example": "USD"
              },
              "value": {
                "type": "string",
                "description": "The value of the fee.",
                "example": "10.00"
              }
            },
            "description": "Amount of the fee."
          },
          "bearer": {
            "type": "string",
            "description": "Indicates who is responsible for the fee.",
            "example": "merchant"
          }
        },
        "description": "Represents a fee associated with a dispute."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-list-disputes"
        },
        "example": "banking-p2m-openapi-list-disputes"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication scheme, where the user must provide a valid JSON Web Token (JWT) in the Authorization header of the request. Ensure that the token is obtained through a secure login process.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}