{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Trust Services Retrieval API",
    "description": "The Trust Services Retrieval API is designed to provide seamless access to information pertaining to various trust services offered to consumers. Through a simple GET request, users can retrieve detailed insights and data regarding specific trust services by providing the relevant identifier. This API is valuable for financial institutions and service providers looking to integrate trust service information into their applications or customer-facing portals. It empowers stakeholders to enhance their service offerings and improve customer engagement by efficiently accessing vital trust service details.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/consumer-services/trust-services/{param1}": {
      "get": {
        "tags": [
          "Trust Services"
        ],
        "summary": "Retrieve Trust Service details by ID",
        "description": "This endpoint allows you to fetch detailed information about a specific Trust Service using its unique identifier. It provides all relevant data associated with the service.",
        "operationId": "getTrustServiceById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving details about the trust services specifically defined by the operation RES-100045. This body contains necessary input parameters for the request to be processed correctly.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetTrustServiceByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed and the desired data is returned.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTrustServiceByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetTrustServiceByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to consumer services in trust services.",
        "example": "{}"
      },
      "GetTrustServiceByIdResponse_200": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier of the customer.",
            "example": "CUST-798501"
          },
          "serviceRequestId": {
            "type": "string",
            "description": "The identifier for the service request.",
            "example": "32374574-1a57-535a-995c-ab070aa83d23"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the specific product.",
            "example": "CHK-PREMIUM-US"
          },
          "amount": {
            "description": "The amount related to the service request.",
            "$ref": "#/components/schemas/Amount"
          },
          "requestedDate": {
            "type": "string",
            "description": "The date when the service request was made.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the service request.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The date when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the GET operations on consumer trust services.",
        "example": {
          "customerId": "CUST-798501",
          "serviceRequestId": "32374574-1a57-535a-995c-ab070aa83d23",
          "productCode": "CHK-PREMIUM-US",
          "amount": {
            "value": 100,
            "currency": "USD"
          },
          "requestedDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "f9391485-8ed9-5abc-adfa-c1b200e6d231",
            "correlationId": "bf783307-de15-5e70-b337-846bd1347677",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Amount": {
        "type": "object",
        "properties": {
          "value": {
            "type": "integer",
            "description": "The numerical value of the amount.",
            "format": "int32",
            "example": 0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is denominated.",
            "example": "string"
          }
        },
        "description": "Schema representing the amount and its currency."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to correlate the request with the response.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Schema representing additional metadata for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the API endpoint being accessed. This value can be used for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "trust-services-get-trust-services"
        },
        "example": "trust-services-get-trust-services"
      },
      "x-runtime-app": {
        "description": "The name of the application processing the request. This helps in identifying which application instance handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using a Bearer token formatted as a JSON Web Token (JWT). This scheme allows for secure access to resources by including the token in the Authorization header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}