{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Access Entitlement API",
    "description": "The Customer Access Entitlement API provides functionality for retrieving customer access entitlements within the banking management system. This API allows authorized users to query and view the access rights associated with specific customers. Typical consumers include bank managers and customer service representatives who need to assess customer permissions and entitlements. By leveraging this API, businesses can streamline customer management processes and ensure adherence to access protocols.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customer-management/customer-access-entitlement": {
      "get": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Retrieve customer access entitlement information.",
        "description": "This endpoint allows the user to fetch detailed information about customer access entitlements, enabling informed decisions and access rights management for the customer management system.",
        "operationId": "getCustomerAccessEntitlement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body is required to specify the access entitlement details for the customer. It must adhere to the defined schema and include all necessary fields for the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCustomerAccessEntitlementRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of customer access entitlement data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCustomerAccessEntitlementResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCustomerAccessEntitlementRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation in customer access entitlement management.",
        "example": "{}"
      },
      "GetCustomerAccessEntitlementResponse_200": {
        "title": "Customer Access Entitlement Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of customer access entitlement items.",
            "example": [
              {
                "customerId": "CUST-126609",
                "partyId": "PARTY-154756",
                "productCode": "CHK-PREMIUM-US",
                "effectiveDate": "2026-09-15",
                "relationshipTier": "GOLD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CustomerAccessEntitlementItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for the customer access entitlement operation.",
        "example": {
          "items": [
            {
              "customerId": "CUST-126609",
              "partyId": "PARTY-154756",
              "productCode": "CHK-PREMIUM-US",
              "effectiveDate": "2026-09-15",
              "relationshipTier": "GOLD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "5dc572d3-ce1a-54bc-8f26-7df33655a965",
            "correlationId": "abf4a078-8235-554b-aa30-d0a992996000",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CustomerAccessEntitlementItem": {
        "title": "Customer Access Entitlement Item",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "string"
          },
          "partyId": {
            "type": "string",
            "description": "Identifier for the associated party.",
            "example": "string"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product.",
            "example": "string"
          },
          "effectiveDate": {
            "type": "string",
            "description": "Date from which the entitlement is effective.",
            "example": "string"
          },
          "relationshipTier": {
            "type": "string",
            "description": "Tier of the relationship.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update.",
            "example": "string"
          }
        },
        "description": "Represents a single customer access entitlement item."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Represents pagination information for the response."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to trace requests across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Additional metadata regarding the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-access-entitlement-search-customer-access-entitlement"
        },
        "example": "customer-access-entitlement-search-customer-access-entitlement"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using bearer tokens, specifically formatted as JSON Web Tokens (JWT). This allows for secure transmission of claims between parties.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}