{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Channel Activity History Management API",
    "description": "The Channel Activity History Management API enables businesses to capture and store transactional data related to channel activities within banking services. By submitting details of specific transactions, consumers can effectively monitor channel performance and user engagement over time. This API primarily serves financial institutions and their partners, helping them analyze user interaction patterns and improve service offerings. Use cases include reporting, historical data retrieval, and operational insights to optimize channel strategies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/channel-activity-history": {
      "post": {
        "tags": [
          "Channel Management"
        ],
        "summary": "Create a record of channel activity history.",
        "description": "This operation allows users to create a new record that captures the activity history of channels within the operational services. It facilitates tracking and managing channel-specific events to enhance overall service performance and operational insights.",
        "operationId": "postChannelActivityHistory",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for creating or retrieving the channel activity history. This body should conform to the specified JSON schema to ensure proper processing of the requested data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostChannelActivityHistoryRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully, reflecting the new channel activity history entry.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostChannelActivityHistoryResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PostChannelActivityHistoryRequest": {
        "title": "Channel Activity History Request Body",
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "Unique identifier for the operation.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-707313"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "ACC-863623"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2026-08-11T12:00:00Z"
          },
          "priority": {
            "type": "string",
            "description": "Priority level of the request.",
            "example": "NORMAL"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for channel activity history operations.",
        "example": {
          "operationId": "STANDARD",
          "customerId": "CUST-707313",
          "accountId": "ACC-863623",
          "requestedAt": "2026-08-11T12:00:00Z",
          "priority": "NORMAL",
          "requestContext": {
            "requestId": "095de73e-680d-58ed-8ff2-9402d119fbce",
            "correlationId": "1fbbcf58-f95f-50f1-9e7b-7f62f1ea3a55",
            "idempotencyKey": "0cdf7a3a-5fd5-543a-a196-a69b45d3f5f8",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-946476"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotent requests.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the system that generated the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the application that generated the request.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., SMS, email).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device associated with the channel.",
            "example": "string"
          }
        },
        "description": "Schema representing the communication channel details."
      },
      "PostChannelActivityHistoryResponse_201": {
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "Unique identifier for the operation.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer associated with the operation.",
            "example": "CUST-402251"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account linked to the operation.",
            "example": "ACC-148885"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource involved in the operation.",
            "example": "RES-102550"
          },
          "status": {
            "type": "string",
            "description": "Current status of the operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp of when the operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata regarding the operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the POST operation related to channel activity history in operational services.",
        "example": {
          "operationId": "STANDARD",
          "customerId": "CUST-402251",
          "accountId": "ACC-148885",
          "resourceId": "RES-102550",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "a620337c-a2c8-582e-8f73-27ba060d59de",
            "correlationId": "1fbbcf58-f95f-50f1-9e7b-7f62f1ea3a55",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating this operation with other related operations.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the operation was processed.",
            "example": "string"
          }
        },
        "description": "Metadata information related to the operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "channel-activity-history-create-channel-activity-history"
        },
        "example": "channel-activity-history-create-channel-activity-history"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which allows the client to authenticate using a JSON Web Token (JWT). Include the token in the Authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}