{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Processing Order Details API",
    "description": "The Processing Order Details API enables users to access specific information about processing orders in the banking operational services. This endpoint allows you to retrieve details for a particular order identified by a unique parameter. Typical consumers include banking applications and operational dashboards that require real-time insights into order statuses and details. By leveraging this API, businesses can enhance their operational efficiency by monitoring and managing order information effectively.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/processing-order/{param1}": {
      "get": {
        "tags": [
          "Processing Order"
        ],
        "summary": "Retrieve processing order details",
        "description": "This endpoint allows you to retrieve the details of a specific processing order identified by the resource ID RES-100045. The response provides comprehensive information related to the order, including its current status and associated attributes.",
        "operationId": "getProcessingOrderRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the processing order details for a specific operational service. It should provide the necessary parameters to ensure the correct data is fetched based on the specified order reference.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetProcessingOrderRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was processed successfully and the response contains the desired data.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetProcessingOrderRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetProcessingOrderRes100045Request": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on processing orders. It is expected to be a string.",
        "example": "{}"
      },
      "GetProcessingOrderRes100045Response_200": {
        "title": "Processing Order Response",
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "Unique identifier for the operation.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer associated with the order.",
            "example": "CUST-192491"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account related to the order.",
            "example": "ACC-507914"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the order was requested.",
            "example": "2026-08-11T12:00:00Z"
          },
          "priority": {
            "type": "string",
            "description": "Priority level of the order.",
            "example": "NORMAL"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the order record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the order.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the order was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the processing order.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for a processing order operation.",
        "example": {
          "operationId": "STANDARD",
          "customerId": "CUST-192491",
          "accountId": "ACC-507914",
          "requestedAt": "2026-08-11T12:00:00Z",
          "priority": "NORMAL",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "efd9dd5b-2e49-5a17-a46d-354aa6414488",
            "correlationId": "07efa1c1-9357-547f-8473-677bd05a9a35",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the order took place.",
            "example": "string"
          }
        },
        "description": "Schema for holding metadata information related to the processing order."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "processing-order-get-processing-order"
        },
        "example": "processing-order-get-processing-order"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, allowing clients to authenticate by providing a JSON Web Token (JWT) as a bearer token in the Authorization header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}