{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Banking Product Deployment Management API",
    "description": "The Banking Product Deployment Management API enables users to efficiently manage the deployment of banking products. It provides the capability to initiate new deployments and track their status, supporting financial institutions in enhancing their product offerings. This API is essential for developers and product managers who need to automate and streamline product deployment processes. Typical use cases include launching new banking features or updates to existing products in a timely manner.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/product-management/product-deployment/deployments": {
      "post": {
        "tags": [
          "Product Deployment"
        ],
        "summary": "Initiate a new product deployment.",
        "description": "This endpoint allows you to initiate a new deployment for a product. Provide the necessary deployment details in the request body to launch the deployment process. Ensure all required parameters are included to facilitate a successful deployment.",
        "operationId": "deployProductDeployment",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for deploying products. This should include all necessary parameters required for the product deployment operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeployProductDeploymentRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request is accepted and is being processed asynchronously.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeployProductDeploymentResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "DeployProductDeploymentRequest": {
        "title": "Product Deployment Request",
        "type": "object",
        "properties": {
          "productCode": {
            "type": "string",
            "description": "A unique identifier for the product.",
            "example": "CHK-PREMIUM-US"
          },
          "productName": {
            "type": "string",
            "description": "The name of the product being deployed.",
            "example": "Northstar Banking Service"
          },
          "customerSegment": {
            "type": "string",
            "description": "The target customer segment for the product.",
            "example": "STANDARD"
          },
          "baseCurrency": {
            "type": "string",
            "description": "The currency in which the product is priced.",
            "example": "USD"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date from which the product deployment is effective.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for deploying a product.",
        "example": {
          "productCode": "CHK-PREMIUM-US",
          "productName": "Northstar Banking Service",
          "customerSegment": "STANDARD",
          "baseCurrency": "USD",
          "effectiveDate": "2026-09-15",
          "requestContext": {
            "requestId": "092a40bb-1b1c-510a-901a-4bd4fc0d7db9",
            "correlationId": "afbd44e4-0085-53e4-acb5-ae7f8d386d54",
            "idempotencyKey": "0b00d259-4acf-5a93-a42d-3a4def431a5b",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-472346"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests.",
            "example": "corr-67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the operation is idempotent.",
            "example": "idemp-abcde"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "System A"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "App A"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing contextual information for the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "A unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel through which the request was made.",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-123"
          }
        },
        "description": "Schema representing details of the channel used in the request."
      },
      "DeployProductDeploymentResponse_202": {
        "title": "Product Deployment Response",
        "type": "object",
        "properties": {
          "productCode": {
            "type": "string",
            "description": "The code of the product that is being deployed.",
            "example": "CHK-PREMIUM-US"
          },
          "processingReference": {
            "type": "string",
            "description": "A reference associated with the processing of the deployment request.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the deployment request.",
            "example": "ACTIVE"
          },
          "acceptedAt": {
            "type": "string",
            "description": "Timestamp indicating when the deployment request was accepted.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Metadata providing additional information about the deployment request.",
            "$ref": "#/components/schemas/DeploymentMetadata"
          }
        },
        "description": "Response schema for the product deployment operation indicating the status and metadata of the deployment request.",
        "example": {
          "productCode": "CHK-PREMIUM-US",
          "processingReference": "STANDARD",
          "status": "ACTIVE",
          "acceptedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "418b5fc2-b0a6-570b-8a7e-f123035e4796",
            "correlationId": "afbd44e4-0085-53e4-acb5-ae7f8d386d54",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "DeploymentMetadata": {
        "title": "Deployment Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response related to this deployment.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracing the request across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the deployment is taking place.",
            "example": "string"
          }
        },
        "description": "Metadata associated with the deployment request providing important identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint associated with the deployment.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "product-deployment-deploy-product-deployment"
        },
        "example": "product-deployment-deploy-product-deployment"
      },
      "X-Runtime-App": {
        "description": "Identifier for the runtime application that is being used to deploy the resources.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication, where the client must include a JWT (JSON Web Token) in the `Authorization` header of requests to access secured endpoints. Ensure the JWT is valid and has not expired.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}