{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Corporate Policies Retrieval API",
    "description": "The Corporate Policies Retrieval API enables businesses to access and review their corporate policies, which govern operational procedures and compliance standards. Through this endpoint, users can retrieve specific policy details using a unique identifier. This API is particularly useful for compliance officers and management teams needing to ensure adherence to established guidelines. It streamlines the process of policy management and ensures that all stakeholders have access to the latest information.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/business-direction/corporate-policies/{param1}": {
      "get": {
        "tags": [
          "Corporate Policies"
        ],
        "summary": "Retrieve Corporate Policy by ID",
        "description": "Fetches the details of the corporate policy specified by the provided ID. This operation allows users to access the information associated with a particular corporate policy within the business direction framework.",
        "operationId": "getCorporatePoliciesById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the corporate policies for a specific business direction identified by RES-100045. Make sure to provide any necessary parameters to receive the relevant policies.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCorporatePoliciesByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of corporate policy details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCorporatePoliciesByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCorporatePoliciesByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for retrieving operations related to corporate policies.",
        "example": "{}"
      },
      "GetCorporatePoliciesByIdResponse_200": {
        "title": "Operations Response",
        "type": "object",
        "properties": {
          "initiativeId": {
            "type": "string",
            "description": "Unique identifier for the initiative.",
            "example": "STANDARD"
          },
          "sponsorId": {
            "type": "string",
            "description": "Unique identifier for the sponsor of the initiative.",
            "example": "STANDARD"
          },
          "planningHorizon": {
            "type": "string",
            "description": "Time frame for planning related to the initiative.",
            "example": "STANDARD"
          },
          "targetDate": {
            "type": "string",
            "description": "The target date for achieving the initiative objectives.",
            "example": "2026-09-15"
          },
          "status": {
            "type": "string",
            "description": "Current status of the initiative.",
            "example": "ACTIVE"
          },
          "recordStatus": {
            "type": "string",
            "description": "Status indicating if the record is active, archived, etc.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the initiative.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the initiative was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for operations-related requests. Contains information about initiatives, their sponsors, and metadata related to the response.",
        "example": {
          "initiativeId": "STANDARD",
          "sponsorId": "STANDARD",
          "planningHorizon": "STANDARD",
          "targetDate": "2026-09-15",
          "status": "ACTIVE",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "4f12a9fb-3106-5b16-8a9f-86c228e76fef",
            "correlationId": "6fd60792-637c-558e-b9df-c47213566bbf",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the processing occurred.",
            "example": "string"
          }
        },
        "description": "Schema detailing the metadata associated with the operations response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the specific endpoint being called in the API, used for logging and troubleshooting purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "corporate-policies-get-corporate-policies"
        },
        "example": "corporate-policies-get-corporate-policies"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is processing the request, useful for monitoring and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication is performed using a Bearer token in the HTTP Authorization header. This token is typically a JSON Web Token (JWT) which can provide claims about the identity of the user and other metadata.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}