{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Product Strategy Management API",
    "description": "The Product Strategy Management API facilitates the dynamic updating of product strategies within a banking context. It allows users to modify existing strategies to adapt to changing market conditions or business objectives. Typical consumers include product managers and business analysts looking to optimize their product offerings and align them with corporate goals. This API is essential for maintaining competitiveness and ensuring that product development aligns with strategic business direction.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/business-direction/product-strategy/{param1}": {
      "patch": {
        "tags": [
          "Product Strategy"
        ],
        "summary": "Update Product Strategy",
        "description": "This endpoint allows users to update the details of the product strategy identified by PROD-700045. Ensure that all required fields are provided in the request.",
        "operationId": "updateProductStrategyPROD700045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the product strategy for the specified product ID (PROD-700045). It must adhere to the schema defined in the components section and should include relevant fields necessary for the update operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProductStrategyPROD700045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateProductStrategyPROD700045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateProductStrategyPROD700045Request": {
        "title": "Product Strategy Update Request",
        "type": "object",
        "properties": {
          "changes": {
            "description": "An object containing the changes to be applied for the product strategy.",
            "$ref": "#/components/schemas/ProductStrategyChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes will take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the user or system requesting the update.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing a request body for updating product strategy operations.",
        "example": {
          "changes": {
            "initiativeId": "STANDARD",
            "sponsorId": "STANDARD",
            "planningHorizon": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "91ce990c-cf8c-541b-adef-050d51709344",
            "correlationId": "0d17f937-b9cd-5061-ae49-c58d3a0f5fb1",
            "idempotencyKey": "98ee9e19-3de7-580a-a4c8-85a8140c4f49",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-809678"
            }
          }
        }
      },
      "ProductStrategyChanges": {
        "title": "Product Strategy Changes",
        "type": "object",
        "properties": {
          "initiativeId": {
            "type": "string",
            "description": "Identifier for the initiative related to the strategy changes.",
            "example": "initiative-001"
          },
          "sponsorId": {
            "type": "string",
            "description": "Identifier for the sponsor overseeing the initiative.",
            "example": "sponsor-123"
          },
          "planningHorizon": {
            "type": "string",
            "description": "The planning horizon for the changes, typically a duration.",
            "example": "Q4 2023"
          }
        },
        "description": "Schema defining the specific changes to be made to the product strategy."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-56789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate different requests to the same action or event.",
            "example": "corr-98765"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure the request is idempotent.",
            "example": "idempotency-key-abc123"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-30T08:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originates.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that is making the request.",
            "example": "WebApp"
          },
          "channel": {
            "description": "Details about the channel through which the request was made.",
            "$ref": "#/components/schemas/RequestChannel"
          }
        },
        "description": "Information that provides context for the request."
      },
      "RequestChannel": {
        "title": "Request Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-456"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., web, mobile, API).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device being used (if applicable).",
            "example": "device-789"
          }
        },
        "description": "Details about the communication channel used for the request."
      },
      "UpdateProductStrategyPROD700045Response_200": {
        "title": "Product Strategy Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version number of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the response was updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the PATCH operation on the Product Strategy endpoint.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "1ba8f659-a181-5d31-953d-0042117784b6",
            "correlationId": "0d17f937-b9cd-5061-ae49-c58d3a0f5fb1",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request across services.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Schema representing additional metadata related to the main response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed, which helps in tracking the request's origin.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "products-and-services-direction-update-products-and-services-direction"
        },
        "example": "products-and-services-direction-update-products-and-services-direction"
      },
      "X-Runtime-App": {
        "description": "The name of the runtime application that processed the request, providing context for the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme enables the use of JSON Web Tokens (JWT) for authentication. Clients can include a Bearer token in the `Authorization` header of their requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}