{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Reports Retrieval API",
    "description": "The Customer Reports Retrieval API allows users to access detailed reports related to specific customers. By providing a unique customer identifier, users can retrieve valuable insights and analytics generated from decisioning processes. This endpoint serves as a key resource for customer support teams, business analysts, and business intelligence systems that need to evaluate customer behavior and performance metrics. Typical use cases include generating reports for account reviews, performance assessments, and operational analysis.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/decisioning/customers/{customerId}/reports": {
      "get": {
        "tags": [
          "Customer Reports"
        ],
        "summary": "Retrieve reports for a specific customer.",
        "description": "Fetches a list of reports associated with the customer identified by CUST-100045. This endpoint provides details about the customer's reports, which can be useful for analysis and auditing purposes.",
        "operationId": "getCustomerReportsForCUST100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve reports associated with a specific customer identified by 'CUST-100045'. It may include optional filter parameters to specify the types of reports requested.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCustomerReportsForCUST100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and the report data is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCustomerReportsForCUST100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCustomerReportsForCUST100045Request": {
        "title": "Customer Report Request Body",
        "type": "string",
        "description": "This schema represents the request body for fetching the customer report.",
        "example": "{}"
      },
      "GetCustomerReportsForCUST100045Response_200": {
        "type": "object",
        "properties": {
          "reports": {
            "type": "array",
            "description": "A list of report items related to the customer.",
            "example": [
              {
                "id": "STANDARD",
                "requestId": "c5ae5558-9888-5cf7-85e9-c4608c4f0a3e",
                "requesterName": "Northstar Banking Service",
                "createdDate": 1,
                "consumerId": "STANDARD",
                "consumerSsn": "STANDARD",
                "type": "STANDARD",
                "status": "ACTIVE"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Report"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response format for retrieving reports related to customers in the system.",
        "example": {
          "reports": [
            {
              "id": "STANDARD",
              "requestId": "c5ae5558-9888-5cf7-85e9-c4608c4f0a3e",
              "requesterName": "Northstar Banking Service",
              "createdDate": 1,
              "consumerId": "STANDARD",
              "consumerSsn": "STANDARD",
              "type": "STANDARD",
              "status": "ACTIVE"
            }
          ],
          "metadata": {
            "responseId": "d33ef5f2-a303-5da0-8664-7cc22bb4cf00",
            "correlationId": "78990dc7-68c0-594b-8254-576adc246d44",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Report": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the report.",
            "example": "report-123"
          },
          "requestId": {
            "type": "string",
            "description": "Identifier for the request associated with the report.",
            "example": "request-456"
          },
          "requesterName": {
            "type": "string",
            "description": "Name of the requester who generated the report.",
            "example": "John Doe"
          },
          "createdDate": {
            "type": "integer",
            "description": "Timestamp indicating when the report was created.",
            "format": "int32",
            "example": 1633036800
          },
          "consumerId": {
            "type": "string",
            "description": "Identifier for the consumer associated with the report.",
            "example": "consumer-789"
          },
          "consumerSsn": {
            "type": "string",
            "description": "Social security number of the consumer, if applicable.",
            "example": "123-45-6789"
          },
          "type": {
            "type": "string",
            "description": "Type of the report generated.",
            "example": "transactional"
          },
          "status": {
            "type": "string",
            "description": "Current status of the report.",
            "example": "completed"
          }
        },
        "description": "Schema representing individual report details."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking the request throughout the system.",
            "example": "correlation-456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographic region where the processing was done.",
            "example": "us-west-1"
          }
        },
        "description": "Schema representing metadata information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-reports-by-customer-id"
        },
        "example": "open-finance-api-get-reports-by-customer-id"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme allows the use of Bearer tokens for authentication, specifically in the format of JSON Web Tokens (JWT). Clients must include the token in the Authorization header when making requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}