{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Account Offers Retrieval API",
    "description": "The Account Offers Retrieval API enables developers to access a curated list of offers associated with a specific bank account. By leveraging this API, financial institutions and third-party applications can integrate tailored offers directly related to consumer accounts, enhancing customer engagement and satisfaction. Typical use cases include personal finance management apps and financial service platforms that aim to provide users with personalized banking options. This API facilitates seamless retrieval of promotional insights, empowering users to make informed financial decisions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/aisp/accounts/{accountId}/offers": {
      "get": {
        "tags": [
          "Account Offers"
        ],
        "summary": "Retrieve offers for a specified account.",
        "description": "This endpoint allows developers to retrieve available offers for a specific account identified by the given account ID (ACC-200045). It provides valuable insights into promotional opportunities or benefits associated with the account.",
        "operationId": "getOffersForAccountACC200045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving offers related to the specific account. This operation fetches the available offers for the account identified by ACC-200045. Ensure to provide the required fields as defined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetOffersForAccountACC200045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved account offers.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetOffersForAccountACC200045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetOffersForAccountACC200045Request": {
        "type": "string",
        "description": "This schema represents the request body for the operation to fetch offers related to accounts.",
        "example": "{}"
      },
      "GetOffersForAccountACC200045Response_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "Offer": {
                "type": "array",
                "description": "List of offers available.",
                "items": {
                  "$ref": "#/components/schemas/Offer"
                }
              },
              "Links": {
                "$ref": "#/components/schemas/Links"
              },
              "Meta": {
                "$ref": "#/components/schemas/Meta"
              },
              "metadata": {
                "$ref": "#/components/schemas/Metadata"
              }
            },
            "description": "Contains the offer data.",
            "example": {
              "Offer": [
                {
                  "AccountId": "ACC-355178",
                  "id": "STANDARD",
                  "type": "STANDARD",
                  "Description": "Customer banking request processed successfully",
                  "StartDateTime": "2026-09-15T14:30:00Z",
                  "EndDateTime": "2026-09-15T14:30:00Z",
                  "Rate": "STANDARD",
                  "Value": 1,
                  "Term": "STANDARD",
                  "URL": "https://banking.northstar.example/callbacks/status",
                  "Amount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  },
                  "Fee": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  }
                }
              ]
            }
          }
        },
        "example": {
          "Data": {
            "Offer": [
              {
                "AccountId": "ACC-355178",
                "id": "STANDARD",
                "type": "STANDARD",
                "Description": "Customer banking request processed successfully",
                "StartDateTime": "2026-09-15T14:30:00Z",
                "EndDateTime": "2026-09-15T14:30:00Z",
                "Rate": "STANDARD",
                "Value": 1,
                "Term": "STANDARD",
                "URL": "https://banking.northstar.example/callbacks/status",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "Fee": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            ]
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource",
            "Next": "https://example.com/resource",
            "Last": "https://example.com/resource"
          },
          "Meta": {
            "TotalPages": 1,
            "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
            "LastAvailableDateTime": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "responseId": "14c93a68-dcd0-53f5-a20d-00648552da30",
            "correlationId": "0639ebdb-e651-55dd-ba12-1eb63f67873d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Offer": {
        "type": "object",
        "properties": {
          "AccountId": {
            "type": "string",
            "description": "Unique identifier for the account associated with the offer."
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the offer."
          },
          "type": {
            "type": "string",
            "description": "Type of the offer."
          },
          "Description": {
            "type": "string",
            "description": "Description of the offer."
          },
          "StartDateTime": {
            "type": "string",
            "description": "Start date and time of the offer."
          },
          "EndDateTime": {
            "type": "string",
            "description": "End date and time of the offer."
          },
          "Rate": {
            "type": "string",
            "description": "Rate applicable to the offer."
          },
          "Value": {
            "type": "integer",
            "description": "Value associated with the offer.",
            "format": "int32"
          },
          "Term": {
            "type": "string",
            "description": "Term duration of the offer."
          },
          "URL": {
            "type": "string",
            "description": "URL for more information about the offer."
          },
          "Amount": {
            "$ref": "#/components/schemas/Amount"
          },
          "Fee": {
            "$ref": "#/components/schemas/Fee"
          }
        },
        "description": "Represents a single offer."
      },
      "Links": {
        "type": "object",
        "properties": {
          "Self": {
            "type": "string",
            "description": "Link to the current resource."
          },
          "First": {
            "type": "string",
            "description": "Link to the first page of offers."
          },
          "Prev": {
            "type": "string",
            "description": "Link to the previous page of offers."
          },
          "Next": {
            "type": "string",
            "description": "Link to the next page of offers."
          },
          "Last": {
            "type": "string",
            "description": "Link to the last page of offers."
          }
        },
        "description": "Pagination links for navigating through offers."
      },
      "Meta": {
        "type": "object",
        "properties": {
          "TotalPages": {
            "type": "integer",
            "description": "Total number of pages available.",
            "format": "int32"
          },
          "FirstAvailableDateTime": {
            "type": "string",
            "description": "First available date and time for offers."
          },
          "LastAvailableDateTime": {
            "type": "string",
            "description": "Last available date and time for offers."
          }
        },
        "description": "Metadata related to the data response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed."
          }
        },
        "description": "Metadata associated with the API response."
      },
      "Amount": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The amount value."
          },
          "Currency": {
            "type": "string",
            "description": "Currency type for the amount."
          }
        },
        "description": "Amount details associated with offers."
      },
      "Fee": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The fee amount."
          },
          "Currency": {
            "type": "string",
            "description": "Currency type for the fee."
          }
        },
        "description": "Fee details associated with offers."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint being accessed, useful for tracing requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-api-get-accounts-account-id-offers"
        },
        "example": "accounts-api-get-accounts-account-id-offers"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is processing the request. This is important for performance monitoring and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens. This scheme applies the Bearer authentication method for HTTP requests using JSON Web Tokens (JWT) as the token format. Clients must include the JWT in the Authorization header of their requests in the form 'Authorization: Bearer <token>'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}