{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Payroll Benefits API",
    "description": "The Payroll Benefits API provides access to detailed information about employee payroll benefits within the human resource management system. Ideal for HR professionals and payroll administrators, this API allows users to retrieve data regarding various benefits, including health insurance, retirement plans, and paid leave options. It supports integration with financial applications, enabling seamless management and reporting of payroll benefits. By utilizing this API, businesses can ensure accurate benefit distribution and enhance employee satisfaction through proper payroll management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/payroll-benefits": {
      "get": {
        "tags": [
          "Payroll Management"
        ],
        "summary": "Retrieve Payroll Benefits Information",
        "description": "This endpoint allows users to fetch detailed information about payroll benefits available in the human resource management system. It provides insights necessary for understanding the benefits packages offered to employees.",
        "operationId": "getPayrollBenefits",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve payroll benefits information. It contains the necessary parameters to filter and fetch the desired payroll data for a specific human resource context.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPayrollBenefitsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved payroll benefits information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPayrollBenefitsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPayrollBenefitsRequest": {
        "type": "string",
        "description": "This schema represents the request body for GET operations related to payroll benefits in human resource management.",
        "example": "{}"
      },
      "GetPayrollBenefitsResponse_200": {
        "title": "Payroll Benefits Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of payroll benefit records.",
            "example": [
              {
                "payrollRunId": "STANDARD",
                "employeeId": "EMP-196351",
                "payPeriod": "STANDARD",
                "grossPay": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "deductions": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "paymentDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/PayrollBenefit"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the payroll benefits.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving payroll benefits, including a list of items and pagination details.",
        "example": {
          "items": [
            {
              "payrollRunId": "STANDARD",
              "employeeId": "EMP-196351",
              "payPeriod": "STANDARD",
              "grossPay": {
                "amount": 100.0,
                "currency": "USD"
              },
              "deductions": {
                "amount": 100.0,
                "currency": "USD"
              },
              "paymentDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "39f3d773-043f-5aa0-b692-830c7417b65c",
            "correlationId": "e3569708-308a-5ec5-b13a-4fd1f0072130",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PayrollBenefit": {
        "title": "Payroll Benefit",
        "type": "object",
        "properties": {
          "payrollRunId": {
            "type": "string",
            "description": "Unique identifier for the payroll run.",
            "example": "string"
          },
          "employeeId": {
            "type": "string",
            "description": "Unique identifier for the employee.",
            "example": "string"
          },
          "payPeriod": {
            "type": "string",
            "description": "The pay period for which the payroll benefit is applicable.",
            "example": "string"
          },
          "grossPay": {
            "$ref": "#/components/schemas/PayDetail"
          },
          "deductions": {
            "$ref": "#/components/schemas/PayDetail"
          },
          "paymentDate": {
            "type": "string",
            "description": "The date when the payment was made.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the payroll record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the record was last updated.",
            "example": "string"
          }
        },
        "description": "Represents a single payroll benefit record for an employee."
      },
      "PayDetail": {
        "title": "Pay Detail",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Amount of the payment or deduction.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "Currency of the payment or deduction amount.",
            "example": "string"
          }
        },
        "description": "Represents the payment details, including amount and currency."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the results.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items displayed per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Pagination details for the response."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to track the request across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Additional metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "employee-payroll-and-incentives-search-employee-payroll-and-incentives"
        },
        "example": "employee-payroll-and-incentives-search-employee-payroll-and-incentives"
      },
      "X-Runtime-App": {
        "description": "Indicates the name and version of the application processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication with JSON Web Tokens (JWT). Clients must provide a valid JWT token in the Authorization header when making requests to access secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}