{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Promotional Events API",
    "description": "The Promotional Events API allows users to access and retrieve information about marketing promotional events related to banking services. This API provides vital details about current and upcoming events, enabling marketing teams, customer service representatives, and business analysts to make informed decisions and enhance customer engagement strategies. The typical consumers include marketing departments seeking to understand promotional activities and customers looking to capitalize on special offers. Through this API, stakeholders can efficiently monitor promotional initiatives and assess their effectiveness in driving customer interaction.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/marketing/promotional-events": {
      "get": {
        "tags": [
          "Marketing"
        ],
        "summary": "Retrieve promotional events",
        "description": "Fetch a list of promotional events for marketing strategies and campaigns. This endpoint allows you to obtain all currently active promotional events, which can be used to optimize marketing efforts and enhance customer engagement.",
        "operationId": "getPromotionalEvents",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is required to fetch promotional events. It must conform to the specified JSON schema which outlines the necessary parameters and structure.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPromotionalEventsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of promotional events.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPromotionalEventsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPromotionalEventsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on promotional events in the marketing service.",
        "example": "{}"
      },
      "GetPromotionalEventsResponse_200": {
        "title": "Promotional Events Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of promotional events.",
            "example": [
              {
                "campaignId": "STANDARD",
                "targetSegmentId": "STANDARD",
                "channelMix": [
                  "STANDARD"
                ],
                "budget": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "startDate": "2026-09-15",
                "endDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/PromotionalEvent"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the list of promotional events.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for retrieving promotional events.",
        "example": {
          "items": [
            {
              "campaignId": "STANDARD",
              "targetSegmentId": "STANDARD",
              "channelMix": [
                "STANDARD"
              ],
              "budget": {
                "amount": 100.0,
                "currency": "USD"
              },
              "startDate": "2026-09-15",
              "endDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "89760524-2968-5e41-be1e-c6702edfa1c1",
            "correlationId": "1202d1fa-d3cb-50fb-9795-3f748f5cc4e9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PromotionalEvent": {
        "title": "Promotional Event",
        "type": "object",
        "properties": {
          "campaignId": {
            "type": "string",
            "description": "Unique identifier for the promotional campaign."
          },
          "targetSegmentId": {
            "type": "string",
            "description": "Identifier for the target segment of the campaign."
          },
          "channelMix": {
            "type": "array",
            "description": "Array of channels used in the campaign.",
            "items": {
              "type": "string",
              "description": "Single channel name."
            }
          },
          "budget": {
            "$ref": "#/components/schemas/Budget"
          },
          "startDate": {
            "type": "string",
            "description": "Start date of the promotional event in ISO format."
          },
          "endDate": {
            "type": "string",
            "description": "End date of the promotional event in ISO format."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the promotional event record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the promotional event was last updated."
          }
        },
        "description": "Schema representing a promotional event."
      },
      "Budget": {
        "title": "Budget",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Amount allocated for the promotional event budget."
          },
          "currency": {
            "type": "string",
            "description": "Currency in which the budget amount is specified."
          }
        },
        "description": "Schema representing the budget details of a promotional event."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32"
          }
        },
        "description": "Schema representing pagination details for the response."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the API response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to trace the request through the system."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed."
          }
        },
        "description": "Schema representing metadata information for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that was accessed. This helps in tracking the specific API endpoint involved in the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "promotional-events-search-promotional-events"
        },
        "example": "promotional-events-search-promotional-events"
      },
      "X-Runtime-App": {
        "description": "Indicates the version of the application that processed the request. This assists in version tracking and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This authentication scheme uses a bearer token. A valid JSON Web Token (JWT) must be included in the Authorization header for access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}