{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Merchant Acquiring Facility Retrieval API",
    "description": "This API allows users to retrieve detailed information regarding the Merchant Acquiring Facility, which enables merchants to accept card payments. It provides access to specific data points related to transactions, merchant accounts, and card services pertinent to the banking ecosystem. Typical consumers include financial institutions and payment processors seeking integration with card payment solutions. This endpoint enhances operational transparency and supports effective payment management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cards/merchant-acquiring-facility/{param1}": {
      "get": {
        "tags": [
          "Merchant Services"
        ],
        "summary": "Retrieve a merchant acquiring facility by its ID.",
        "description": "This operation allows you to fetch detailed information about a specific merchant acquiring facility identified by its unique ID. You can use this data to view its attributes and statuses related to card transactions.",
        "operationId": "getMerchantAcquiringFacilityById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body retrieves information related to the merchant acquiring facility identified by MER-800045. It is used to fetch operational details and other related data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMerchantAcquiringFacilityByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and the data is returned.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMerchantAcquiringFacilityByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetMerchantAcquiringFacilityByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for a GET operation regarding merchant acquiring facilities.",
        "example": "{}"
      },
      "GetMerchantAcquiringFacilityByIdResponse_200": {
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "The unique identifier for the merchant.",
            "example": "MER-323881"
          },
          "legalName": {
            "type": "string",
            "description": "The legal name of the merchant as registered.",
            "example": "Olivia Bennett"
          },
          "merchantCategoryCode": {
            "type": "string",
            "description": "The category code that classifies the merchant's business type.",
            "example": "5411"
          },
          "settlementAccountId": {
            "type": "string",
            "description": "The identifier for the merchant's settlement account.",
            "example": "ACC-144502"
          },
          "settlementCurrency": {
            "type": "string",
            "description": "The currency used for settlement transactions.",
            "example": "USD"
          },
          "pricingPlan": {
            "type": "string",
            "description": "The pricing plan associated with the merchant.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the merchant record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the merchant's details.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the merchant details were last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional information about the merchant response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Details about the merchant acquiring facility along with related metadata.",
        "example": {
          "merchantId": "MER-323881",
          "legalName": "Olivia Bennett",
          "merchantCategoryCode": "5411",
          "settlementAccountId": "ACC-144502",
          "settlementCurrency": "USD",
          "pricingPlan": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "76ae6393-b79f-5d26-adcc-bd3e9c298833",
            "correlationId": "629c1d39-90bc-5a25-9b74-4ec60e5a0d36",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to track the request across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing takes place.",
            "example": "string"
          }
        },
        "description": "Contains metadata related to the merchant acquiring facility response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the API endpoint that processed the request. This value helps in tracking and debugging the specific endpoint usage.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "merchant-acquiring-facility-get-merchant-acquiring-facility"
        },
        "example": "merchant-acquiring-facility-get-merchant-acquiring-facility"
      },
      "x-runtime-app": {
        "description": "The name of the application that processed the request. This provides context on where the request was handled and can aid in tracing application performance.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication using a Bearer token, specifically formatted as a JSON Web Token (JWT). This method allows secure transmission of information between parties, ensuring identity verification and data integrity.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}