{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Rewards Management API",
    "description": "The Rewards Management API provides a streamlined approach for users to access and manage their rewards earned through various banking services. With this API, developers can retrieve detailed information about reward points, including balances, redemption options, and transaction history. It is particularly useful for banking applications that aim to enhance customer engagement by offering insights into reward programs. Typical consumers include app developers looking to integrate reward functionalities into their applications, enhancing user experiences and encouraging customer loyalty.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/rewards": {
      "get": {
        "tags": [
          "Rewards Management"
        ],
        "summary": "Retrieve a list of rewards.",
        "description": "This endpoint allows users to access the list of available rewards within the operational services. It provides detailed information about each reward, such as name, description, and eligibility criteria.",
        "operationId": "getRewards",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information related to the operational services' rewards. It specifies the parameters necessary for the request, enabling the API to return the relevant rewards information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetRewardsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the rewards data.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRewardsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetRewardsRequest": {
        "type": "string",
        "description": "This schema represents a request body for getting operational service rewards in JSON format.",
        "example": "{}"
      },
      "GetRewardsResponse_200": {
        "title": "Operational Services Rewards Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of reward items associated with a loyalty account.",
            "example": [
              {
                "loyaltyAccountId": "ACC-555819",
                "customerId": "CUST-323340",
                "activityType": "STANDARD",
                "points": 1,
                "partnerCode": "CODE-168",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/RewardItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Indicates the sort order of the reward items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Schema representing the response from the operational services rewards GET operation.",
        "example": {
          "items": [
            {
              "loyaltyAccountId": "ACC-555819",
              "customerId": "CUST-323340",
              "activityType": "STANDARD",
              "points": 1,
              "partnerCode": "CODE-168",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "86e51ab8-8069-51f0-b5ed-d88247959456",
            "correlationId": "00e38edd-8462-5b9f-86c3-7df97434e7a7",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "RewardItem": {
        "title": "Reward Item",
        "type": "object",
        "properties": {
          "loyaltyAccountId": {
            "type": "string",
            "description": "Unique identifier for the loyalty account.",
            "example": "account123"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "customer456"
          },
          "activityType": {
            "type": "string",
            "description": "Type of activity that generated the reward.",
            "example": "purchase"
          },
          "points": {
            "type": "integer",
            "description": "Number of points earned for the activity.",
            "format": "int32",
            "example": 10
          },
          "partnerCode": {
            "type": "string",
            "description": "Code representing the partner associated with the reward.",
            "example": "partner789"
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the reward record, e.g., active or inactive.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the reward was last updated.",
            "example": "2023-10-01T00:00:00Z"
          }
        },
        "description": "Schema representing a single reward item associated with a loyalty account."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the result set.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Schema representing pagination information for the response."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate requests and responses.",
            "example": "correlation456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "us-west"
          }
        },
        "description": "Schema representing metadata information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint that was called. This helps in tracing and logging the specific request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reward-points-awards-and-redemption-search-reward-points-awards-and-redemption"
        },
        "example": "reward-points-awards-and-redemption-search-reward-points-awards-and-redemption"
      },
      "x-runtime-app": {
        "description": "The name of the application that processed the request. This provides context for the source of the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which requires a bearer token (JWT) to be included in the Authorization header of the request. It is commonly used for securing API endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}