{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Cheque Lock Box Management API",
    "description": "The Cheque Lock Box Management API enables users to efficiently modify and update the details of cheque lock box services. This API supports operations such as adjusting service parameters and enhancing customer settings, ensuring that clients can manage their banking services effectively. Typical consumers include banking institutions and financial services providers looking to streamline their trade banking functionalities. The API facilitates seamless integration and offers a reliable way to maintain up-to-date cheque lock box information.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/cheque-lock-box/{param1}": {
      "patch": {
        "tags": [
          "Cheque Lock Box Management"
        ],
        "summary": "Update Cheque Lock Box Details",
        "description": "This endpoint allows you to update the details of a specific cheque lock box identified by its resource ID. Ensure that you provide all necessary information in the request body to make the required changes.",
        "operationId": "patchTradeBankingChequeLockBoxRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the cheque lock box with the specified identifier. It allows for the modification of certain attributes or settings associated with the cheque lock box. Ensure that the required fields are included in the request according to the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchTradeBankingChequeLockBoxRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchTradeBankingChequeLockBoxRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchTradeBankingChequeLockBoxRes100045Request": {
        "title": "Cheque Lock Box Modification Request",
        "type": "object",
        "properties": {
          "changes": {
            "$ref": "#/components/schemas/ChequeLockBoxChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the requested changes.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "Timestamp indicating when the changes should take effect, in ISO 8601 format.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the person or system requesting the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema defines the request body for modifying a cheque lock box, detailing the changes and the context of the request.",
        "example": {
          "changes": {
            "chequeBatchId": "STANDARD",
            "depositAccountId": "ACC-111943",
            "chequeCount": 1
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "a05b4134-655f-5be4-8f62-13c54bafc35e",
            "correlationId": "8316fee9-bcb9-54bc-9765-91ee3cadf600",
            "idempotencyKey": "75411e1e-475e-565c-9876-acbfe3740224",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-771448"
            }
          }
        }
      },
      "ChequeLockBoxChanges": {
        "title": "Cheque Lock Box Changes",
        "type": "object",
        "properties": {
          "chequeBatchId": {
            "type": "string",
            "description": "Unique identifier for the cheque batch.",
            "example": "batch123"
          },
          "depositAccountId": {
            "type": "string",
            "description": "Account identifier where the cheque should be deposited.",
            "example": "account456"
          },
          "chequeCount": {
            "type": "integer",
            "description": "Number of cheques included in this batch.",
            "format": "int32",
            "example": 5
          }
        },
        "description": "This schema outlines the specific changes to be made to a cheque lock box."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate logs across multiple services.",
            "example": "corr123"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that requests are idempotent.",
            "example": "key456"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made, in ISO 8601 format.",
            "example": "2023-10-01T09:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system generating the request.",
            "example": "banking-system"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "cheque-app"
          },
          "channel": {
            "$ref": "#/components/schemas/RequestChannel"
          }
        },
        "description": "This schema provides context for the API request, including identifiers and timestamps."
      },
      "RequestChannel": {
        "title": "Request Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel789"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., mobile, web).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device123"
          }
        },
        "description": "Information about the channel through which the request was made."
      },
      "PatchTradeBankingChequeLockBoxRes100045Response_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "Version of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "Status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the operation was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the PATCH operation on the cheque lock box.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "25764855-9dd3-5d2f-902d-b30088543330",
            "correlationId": "8316fee9-bcb9-54bc-9765-91ee3cadf600",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the correlation of requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Additional metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the endpoint that processed the request, allowing tracking of the specific service used.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cheque-lock-box-update-cheque-lock-box"
        },
        "example": "cheque-lock-box-update-cheque-lock-box"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the request, useful for identifying the source of the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which requires a valid JSON Web Token (JWT) to be included in the `Authorization` header of HTTP requests. Ensure that the token is kept secure and is not shared publicly.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}