{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Leasing Information Retrieval API",
    "description": "The Leasing Information Retrieval API allows users to access detailed information about available leasing options offered by the banking system. This API is designed for financial institutions, leasing agents, and developers who need to integrate leasing data into their applications. By utilizing this endpoint, consumers can retrieve comprehensive data about leasing terms, applicable rates, and conditions. Whether you are looking to analyze leasing alternatives or enhance your financial services with leasing options, this API provides the necessary data to support informed decision-making.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/leasing": {
      "get": {
        "tags": [
          "Deposit Lending"
        ],
        "summary": "Retrieve leasing details for deposit lending.",
        "description": "This endpoint allows you to fetch detailed information about leasing options available under deposit lending. It provides essential data that can help customers understand the terms, conditions, and benefits of the leasing options offered.",
        "operationId": "getDepositLendingLeasing",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for initiating a GET operation related to deposit lending leasing. This body may include necessary parameters to define the leasing request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetDepositLendingLeasingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the leasing information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDepositLendingLeasingResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetDepositLendingLeasingRequest": {
        "type": "string",
        "description": "This schema represents the request body in JSON format for the GET operation related to deposit lending and leasing.",
        "example": "{}"
      },
      "GetDepositLendingLeasingResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of customer leasing operation details.",
            "example": [
              {
                "customerId": "CUST-786465",
                "accountId": "ACC-410426",
                "productCode": "CHK-PREMIUM-US",
                "principal": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "termMonths": 1,
                "repaymentFrequency": "STANDARD",
                "leasedAssetId": "STANDARD",
                "residualValue": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "leaseTermMonths": 1,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/LeasingOperation"
            }
          },
          "pagination": {
            "description": "Pagination information related to the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sort order applied to the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata information for the request.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the GET operation of deposit lending leasing, containing an array of items and pagination information.",
        "example": {
          "items": [
            {
              "customerId": "CUST-786465",
              "accountId": "ACC-410426",
              "productCode": "CHK-PREMIUM-US",
              "principal": {
                "amount": 100.0,
                "currency": "USD"
              },
              "termMonths": 1,
              "repaymentFrequency": "STANDARD",
              "leasedAssetId": "STANDARD",
              "residualValue": {
                "amount": 100.0,
                "currency": "USD"
              },
              "leaseTermMonths": 1,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "85b78d92-4f24-592b-b161-8f2297a86713",
            "correlationId": "f906bcf6-8f3a-52d0-afca-6284c0f0eb8e",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "LeasingOperation": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "string"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account associated with the leasing operation.",
            "example": "string"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product related to the lease.",
            "example": "string"
          },
          "principal": {
            "description": "Principal amount details of the lease.",
            "$ref": "#/components/schemas/AmountDetails"
          },
          "termMonths": {
            "type": "integer",
            "description": "Term of the lease in months.",
            "format": "int32",
            "example": 0
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "Frequency of the repayments for the lease.",
            "example": "string"
          },
          "leasedAssetId": {
            "type": "string",
            "description": "Unique identifier for the asset being leased.",
            "example": "string"
          },
          "residualValue": {
            "description": "Residual value details of the lease.",
            "$ref": "#/components/schemas/AmountDetails"
          },
          "leaseTermMonths": {
            "type": "integer",
            "description": "Lease term in months.",
            "format": "int32",
            "example": 0
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the leasing record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the record was last updated.",
            "example": "string"
          }
        },
        "description": "Details of a leasing operation related to a customer."
      },
      "AmountDetails": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The monetary amount.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency code of the amount.",
            "example": "string"
          }
        },
        "description": "Amount and currency details."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Size of each page (number of items per page).",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Pagination information for response data."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the API response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate the request with its response.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Metadata details related to the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that was called, useful for tracking and diagnostics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "leasing-search-leasing"
        },
        "example": "leasing-search-leasing"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request, aiding in identifying the service layer in a microservices architecture.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method. It requires a JSON Web Token (JWT) to be included in the authorization header of requests to authenticate the user.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}