{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Product Combination Management API",
    "description": "The Product Combination Management API enables financial institutions to manage and access various product combinations relevant to customer banking services. This API allows users to retrieve information on bundled product offerings designed to enhance customer engagement and provide tailored solutions. Typical consumers include banking applications and customer service representatives looking to offer optimized product selections. Use cases involve identifying suitable product combinations to meet specific customer needs, enhancing marketing strategies, and improving customer satisfaction.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/account-management/product-combination": {
      "get": {
        "tags": [
          "Product Management"
        ],
        "summary": "Retrieve product combination details.",
        "description": "This endpoint allows users to fetch detailed information regarding various product combinations available in the account management system. It provides insights into the products and their combinations to help users make informed decisions.",
        "operationId": "getProductCombination",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body containing the details necessary to retrieve the product combination information. Ensure that the request adheres to the specified schema for the correct format.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetProductCombinationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the product combination data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetProductCombinationResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetProductCombinationRequest": {
        "type": "string",
        "description": "The payload for a request to retrieve product combination operations in the account management system.",
        "example": "{}"
      },
      "GetProductCombinationResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "Array of product combination items.",
            "example": [
              {
                "accountId": "ACC-373634",
                "customerId": "CUST-475766",
                "ledgerDate": "2026-09-15",
                "currency": "USD",
                "ledgerBalance": 100.0,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ProductCombinationItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting information for the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving product combinations under account management.",
        "example": {
          "items": [
            {
              "accountId": "ACC-373634",
              "customerId": "CUST-475766",
              "ledgerDate": "2026-09-15",
              "currency": "USD",
              "ledgerBalance": 100.0,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "015d7ebe-e955-5f76-9756-f32975b32551",
            "correlationId": "5ebf3a4d-fb6e-56f1-8958-3d75117ca76a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ProductCombinationItem": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "12345"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "c7890"
          },
          "ledgerDate": {
            "type": "string",
            "description": "Date of the ledger entry.",
            "example": "2023-10-01"
          },
          "currency": {
            "type": "string",
            "description": "Currency of the ledger balance.",
            "example": "USD"
          },
          "ledgerBalance": {
            "type": "number",
            "description": "Balance in the ledger.",
            "example": 100.5
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the item was last updated.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "Schema representing a single product combination item."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the results.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Pagination information for the list of items."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for this response.",
            "example": "response-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking requests and responses.",
            "example": "corr-7890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:05:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Additional metadata about the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "product-combination-search-product-combination"
        },
        "example": "product-combination-search-product-combination"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JSON Web Tokens (JWT) for authentication. Clients must include a bearer token in the HTTP Authorization header for access to secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}