{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Cross-Channel Session Dialogue Management API",
    "description": "This API facilitates the management of cross-channel dialogue sessions within the banking ecosystem. By enabling the PATCH method, it allows clients to update the state and attributes of existing session dialogues, thus ensuring seamless customer interactions across various channels. Typical consumers include banking application developers and customer experience teams looking to enhance user engagement. With informative responses, this API aims to improve session continuity and responsiveness in customer service applications.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cross-channel/session-dialogue/{param1}": {
      "patch": {
        "tags": [
          "Session Dialogue Management"
        ],
        "summary": "Update a session dialogue",
        "description": "This endpoint allows you to update the properties of a specific session dialogue identified by its resource ID. Use this operation to modify session dialogue attributes or settings as required.",
        "operationId": "updateSessionDialogueRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the session dialogue identified by RES-100045. It must adhere to the specified schema and provide the necessary data for the update operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSessionDialogueRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The patch request was successfully processed, and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateSessionDialogueRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateSessionDialogueRes100045Request": {
        "type": "object",
        "properties": {
          "changes": {
            "description": "An object containing the specific changes to be made.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The time at which the changes will take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the user or system that requested the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the request body of the PATCH operation on session dialogue.",
        "example": {
          "changes": {
            "partyId": "PARTY-833474",
            "interactionId": "INT-743065",
            "channel": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "7fcff65e-98c6-53bd-bce3-ece31f9fcb82",
            "correlationId": "9307128d-f1f9-57fc-9ad3-71560607e745",
            "idempotencyKey": "469f442a-cd2b-5571-935b-9b24d1059a53",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-411019"
            }
          }
        }
      },
      "Changes": {
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "The unique identifier of the party associated with the change.",
            "example": "party-67890"
          },
          "interactionId": {
            "type": "string",
            "description": "The identifier for the specific interaction related to the change.",
            "example": "interaction-123456"
          },
          "channel": {
            "type": "string",
            "description": "The communication channel through which the interaction occurs.",
            "example": "email"
          }
        },
        "description": "An object representing the changes that need to be made."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "req-abcdefgh"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used for tracking the request across different systems.",
            "example": "corr-123456789"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to prevent duplicate processing of requests.",
            "example": "idempotency-key-xyz"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was initiated.",
            "example": "2023-10-01T15:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the system that initiated the request.",
            "example": "internal-system"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that made the request.",
            "example": "web-application"
          },
          "channel": {
            "description": "The communication channel information.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Information about the context of the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel-abc123"
          },
          "channelType": {
            "type": "string",
            "description": "The type of communication channel (e.g. email, SMS).",
            "example": "sms"
          },
          "deviceId": {
            "type": "string",
            "description": "The device identifier associated with the channel.",
            "example": "device-xyz789"
          }
        },
        "description": "Information about a specific communication channel."
      },
      "UpdateSessionDialogueRes100045Response_200": {
        "title": "Patch Response for Session Dialogue Operations",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version number of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the operation was updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema defines the structure of the response from the session dialogue operations PATCH request.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "3fd7723c-b176-5bda-a695-e098f51e2f3b",
            "correlationId": "9307128d-f1f9-57fc-9ad3-71560607e745",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "abc123"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier used to trace related requests.",
            "example": "xyz789"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the response was generated.",
            "example": "2023-10-01T11:59:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "us-west-1"
          }
        },
        "description": "This schema describes the metadata associated with a response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "session-dialogue-update-session-dialogue"
        },
        "example": "session-dialogue-update-session-dialogue"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication, which requires the client to send a token in the Authorization header of the request. The token should be in JWT (JSON Web Token) format.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}