{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Employee Evaluation Management API",
    "description": "The Employee Evaluation Management API provides a streamlined process for accessing and managing employee evaluations within a banking context. This API allows HR personnel and managers to retrieve evaluation data, ensuring that performance reviews are thorough and informed. It serves as a critical resource for decision-makers seeking insights into employee performance metrics, facilitating annual reviews and ongoing feedback mechanisms. Typical consumers include HR teams, management staff, and organizational leaders aiming to enhance workforce development strategies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/employee-evaluation": {
      "get": {
        "tags": [
          "Human Resources"
        ],
        "summary": "Retrieve Employee Evaluation Data",
        "description": "This endpoint allows you to retrieve evaluation data for employees in the human resources management system. You can use this information to assess employee performance and enhance productivity.",
        "operationId": "getEmployeeEvaluation",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve employee evaluation information. It should include any necessary parameters to filter or specify the data being requested.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetEmployeeEvaluationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of employee evaluation data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetEmployeeEvaluationResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetEmployeeEvaluationRequest": {
        "type": "string",
        "description": "A JSON string representation of the employee evaluation request body.",
        "example": "{}"
      },
      "GetEmployeeEvaluationResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of employee evaluation records.",
            "example": [
              {
                "employeeId": "EMP-204408",
                "assignmentId": "STANDARD",
                "departmentId": "STANDARD",
                "effectiveDate": "2026-09-15",
                "countryCode": "US",
                "employmentType": "STANDARD",
                "managerId": "STANDARD",
                "workLocation": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/EmployeeEvaluationRecord"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting criteria applied to the employee evaluation records.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema for the response of the employee evaluation operation, including items, pagination details, sorting, and metadata.",
        "example": {
          "items": [
            {
              "employeeId": "EMP-204408",
              "assignmentId": "STANDARD",
              "departmentId": "STANDARD",
              "effectiveDate": "2026-09-15",
              "countryCode": "US",
              "employmentType": "STANDARD",
              "managerId": "STANDARD",
              "workLocation": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "3b8da60c-f6bf-5840-931b-b83db78bc6c4",
            "correlationId": "7cebfba3-c86c-5d28-9f81-92795690b168",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EmployeeEvaluationRecord": {
        "type": "object",
        "properties": {
          "employeeId": {
            "type": "string",
            "description": "The unique identifier of the employee.",
            "example": "12345"
          },
          "assignmentId": {
            "type": "string",
            "description": "The assignment identifier associated with the employee.",
            "example": "assignment-001"
          },
          "departmentId": {
            "type": "string",
            "description": "The identifier of the department the employee belongs to.",
            "example": "department-001"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The effective date of the evaluation.",
            "example": "2023-10-01"
          },
          "countryCode": {
            "type": "string",
            "description": "The country code where the employee is based.",
            "example": "US"
          },
          "employmentType": {
            "type": "string",
            "description": "The type of employment (e.g. full-time, part-time).",
            "example": "full-time"
          },
          "managerId": {
            "type": "string",
            "description": "The unique identifier of the employee's manager.",
            "example": "manager-001"
          },
          "workLocation": {
            "type": "string",
            "description": "The location where the employee works.",
            "example": "Remote"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the evaluation record (e.g., active, archived).",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the record was last updated.",
            "example": "2023-10-05T12:00:00Z"
          }
        },
        "description": "Schema representing a single employee evaluation record."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of records per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items in the response.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Schema for pagination details in the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response-001"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used for tracing the request.",
            "example": "correlation-001"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-05T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request occurred.",
            "example": "US-East"
          }
        },
        "description": "Schema containing metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "employee-evaluation-search-employee-evaluation"
        },
        "example": "employee-evaluation-search-employee-evaluation"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Bearer authentication using JSON Web Tokens (JWT). Clients should include the JWT token in the Authorization header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}