{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Domestic Scheduled Payments API",
    "description": "The Domestic Scheduled Payments API facilitates the management of scheduled domestic payments for users. This service allows consumers to set up, modify, and manage recurring payment transactions seamlessly. Typical users include banks and financial institutions offering payment solutions to their clients. By providing a reliable interface for scheduling payments, it streamlines the process of managing financial commitments and enhances user experience with automated payment capabilities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/domestic-scheduled-payments": {
      "post": {
        "tags": [
          "Payment Initiation"
        ],
        "summary": "Create a domestic scheduled payment.",
        "description": "This endpoint allows the user to initiate a domestic scheduled payment, enabling recurring payments at predefined intervals. Make sure to provide all required payment details.",
        "operationId": "createDomesticScheduledPayment",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a domestic scheduled payment. It requires the payment details including the amount, currency, recipient information, and scheduling parameters. Ensure that all mandatory fields are provided for successful processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDomesticScheduledPaymentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully, transaction initiated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateDomesticScheduledPaymentResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateDomesticScheduledPaymentRequest": {
        "type": "object",
        "properties": {
          "Data": {
            "$ref": "#/components/schemas/PaymentData"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for domestic scheduled payments operations.",
        "example": {
          "Data": {
            "ConsentId": "STANDARD",
            "Initiation": {
              "InstructionIdentification": "STANDARD",
              "EndToEndIdentification": "STANDARD",
              "LocalInstrument": "STANDARD",
              "RequestedExecutionDateTime": "2026-09-15T14:30:00Z",
              "InstructedAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              },
              "DebtorAccount": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD",
                "Proxy": {
                  "Identification": "STANDARD",
                  "Code": "SUCCESS",
                  "Type": "STANDARD"
                }
              },
              "CreditorAccount": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD",
                "Proxy": {
                  "Identification": "STANDARD",
                  "Code": "SUCCESS"
                }
              }
            }
          },
          "requestContext": {
            "requestId": "ee9fe29a-56c1-58a7-b4a5-4b3f7c76746b",
            "correlationId": "10c45560-debc-54f7-b787-4fb53bedb98d",
            "idempotencyKey": "8e3b6704-e53b-5b1a-ac94-c29949e1f122",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-584705"
            }
          }
        }
      },
      "PaymentData": {
        "type": "object",
        "properties": {
          "ConsentId": {
            "type": "string",
            "description": "ID of the consent provided for the payment.",
            "example": "string"
          },
          "Initiation": {
            "$ref": "#/components/schemas/PaymentInitiation"
          }
        },
        "description": "Schema containing details about the payment operation."
      },
      "PaymentInitiation": {
        "type": "object",
        "properties": {
          "InstructionIdentification": {
            "type": "string",
            "description": "Unique identifier for the payment instruction.",
            "example": "string"
          },
          "EndToEndIdentification": {
            "type": "string",
            "description": "End-to-end identification for tracking the payment.",
            "example": "string"
          },
          "LocalInstrument": {
            "type": "string",
            "description": "Specifies the local instrument to be used for the payment.",
            "example": "string"
          },
          "RequestedExecutionDateTime": {
            "type": "string",
            "description": "Requested date and time for executing the payment.",
            "example": "string"
          },
          "InstructedAmount": {
            "$ref": "#/components/schemas/Amount"
          },
          "DebtorAccount": {
            "$ref": "#/components/schemas/Account"
          },
          "CreditorAccount": {
            "$ref": "#/components/schemas/Account"
          }
        },
        "description": "Schema representing the initiation details of the payment."
      },
      "Amount": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The monetary amount for the payment.",
            "example": "string"
          },
          "Currency": {
            "type": "string",
            "description": "Currency of the amount being instructed.",
            "example": "string"
          }
        },
        "description": "Schema representing the amount to be instructed for payment."
      },
      "Account": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "Name of the scheme under which the account is identified.",
            "example": "string"
          },
          "Identification": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "string"
          },
          "Name": {
            "type": "string",
            "description": "Name associated with the account.",
            "example": "string"
          },
          "SecondaryIdentification": {
            "type": "string",
            "description": "Secondary identification for the account, if applicable.",
            "example": "string"
          },
          "Proxy": {
            "$ref": "#/components/schemas/Proxy"
          }
        },
        "description": "Schema representing account details for either debtor or creditor."
      },
      "Proxy": {
        "type": "object",
        "properties": {
          "Identification": {
            "type": "string",
            "description": "Identification associated with the proxy.",
            "example": "string"
          },
          "Code": {
            "type": "string",
            "description": "Code representing the type of proxy.",
            "example": "string"
          },
          "Type": {
            "type": "string",
            "description": "Type of proxy used for identification.",
            "example": "string"
          }
        },
        "description": "Schema representing proxy details associated with the account."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used for tracking the correlation of related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system making the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the application from which the request originated.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema that contains the context of the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel being used.",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device from which the request originates.",
            "example": "string"
          }
        },
        "description": "Schema representing the channel through which the request is made."
      },
      "CreateDomesticScheduledPaymentResponse_201": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "DomesticScheduledPaymentId": {
                "type": "string",
                "description": "Unique identifier for the domestic scheduled payment.",
                "example": "DS12345"
              },
              "ConsentId": {
                "type": "string",
                "description": "Identifier for the associated consent.",
                "example": "C12345"
              },
              "CreationDateTime": {
                "type": "string",
                "description": "Timestamp when the payment was created.",
                "example": "2023-01-01T12:00:00Z"
              },
              "Status": {
                "type": "string",
                "description": "Current status of the payment.",
                "example": "Pending"
              },
              "StatusUpdateDateTime": {
                "type": "string",
                "description": "Timestamp for the last status update.",
                "example": "2023-01-02T12:00:00Z"
              },
              "StatusReason": {
                "type": "array",
                "description": "Reasons for the current payment status.",
                "example": [
                  {
                    "code": "001",
                    "description": "Payment initiated",
                    "Path": "StatusReason/001"
                  }
                ],
                "items": {
                  "$ref": "#/components/schemas/StatusReason"
                }
              },
              "ExpectedExecutionDateTime": {
                "type": "string",
                "description": "Expected date and time of execution.",
                "example": "2023-01-03T12:00:00Z"
              },
              "ExpectedSettlementDateTime": {
                "type": "string",
                "description": "Expected date and time of settlement.",
                "example": "2023-01-04T12:00:00Z"
              },
              "Refund": {
                "type": "object",
                "$ref": "#/components/schemas/Refund"
              },
              "Charges": {
                "type": "array",
                "description": "List of charges associated with the payment.",
                "example": [
                  {
                    "ChargeBearer": "SHARED",
                    "Type": "Transfer",
                    "Amount": {
                      "Amount": "10.00",
                      "Currency": "GBP"
                    }
                  }
                ],
                "items": {
                  "$ref": "#/components/schemas/Charge"
                }
              },
              "Initiation": {
                "type": "object",
                "$ref": "#/components/schemas/Initiation"
              }
            },
            "description": "Details of the domestic scheduled payment.",
            "example": {
              "DomesticScheduledPaymentId": "PAY-106724",
              "ConsentId": "STANDARD",
              "CreationDateTime": "2026-09-15T14:30:00Z",
              "Status": "ACTIVE",
              "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
              "StatusReason": [
                {
                  "code": "SUCCESS",
                  "description": "Customer banking request processed successfully",
                  "Path": "STANDARD"
                }
              ],
              "ExpectedExecutionDateTime": "2026-09-15T14:30:00Z",
              "ExpectedSettlementDateTime": "2026-09-15T14:30:00Z",
              "Refund": {
                "Account": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "SecondaryIdentification": "STANDARD"
                }
              },
              "Charges": [
                {
                  "ChargeBearer": "STANDARD",
                  "Type": "STANDARD",
                  "Amount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  }
                }
              ],
              "Initiation": {
                "InstructionIdentification": "STANDARD",
                "EndToEndIdentification": "STANDARD",
                "LocalInstrument": "STANDARD",
                "RequestedExecutionDateTime": "2026-09-15T14:30:00Z",
                "InstructedAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "DebtorAccount": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "SecondaryIdentification": "STANDARD",
                  "Proxy": {
                    "Identification": "STANDARD",
                    "Code": "SUCCESS",
                    "Type": "STANDARD"
                  }
                },
                "CreditorAccount": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "SecondaryIdentification": "STANDARD"
                }
              }
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "R12345"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier to correlate logs/users.",
                "example": "C45678"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the response was generated.",
                "example": "2023-01-01T12:05:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the processing occurred.",
                "example": "EU"
              }
            },
            "description": "Meta information about the response.",
            "example": {
              "responseId": "2727ae7c-0300-5525-add2-3871d59618d4",
              "correlationId": "10c45560-debc-54f7-b787-4fb53bedb98d",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for domestic scheduled payments operation.",
        "example": {
          "Data": {
            "DomesticScheduledPaymentId": "PAY-106724",
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "Status": "ACTIVE",
            "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
            "StatusReason": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "Path": "STANDARD"
              }
            ],
            "ExpectedExecutionDateTime": "2026-09-15T14:30:00Z",
            "ExpectedSettlementDateTime": "2026-09-15T14:30:00Z",
            "Refund": {
              "Account": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD"
              }
            },
            "Charges": [
              {
                "ChargeBearer": "STANDARD",
                "Type": "STANDARD",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            ],
            "Initiation": {
              "InstructionIdentification": "STANDARD",
              "EndToEndIdentification": "STANDARD",
              "LocalInstrument": "STANDARD",
              "RequestedExecutionDateTime": "2026-09-15T14:30:00Z",
              "InstructedAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              },
              "DebtorAccount": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD",
                "Proxy": {
                  "Identification": "STANDARD",
                  "Code": "SUCCESS",
                  "Type": "STANDARD"
                }
              },
              "CreditorAccount": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD"
              }
            }
          },
          "metadata": {
            "responseId": "2727ae7c-0300-5525-add2-3871d59618d4",
            "correlationId": "10c45560-debc-54f7-b787-4fb53bedb98d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "StatusReason": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "A code representing the status reason.",
            "example": "001"
          },
          "description": {
            "type": "string",
            "description": "A human-readable description of the status reason.",
            "example": "Payment initiated"
          },
          "Path": {
            "type": "string",
            "description": "The path where the status reason is defined.",
            "example": "StatusReason/001"
          }
        },
        "description": "Details about the reason for payment status."
      },
      "Refund": {
        "type": "object",
        "properties": {
          "Account": {
            "type": "object",
            "properties": {
              "SchemeName": {
                "type": "string",
                "description": "Name of the account scheme.",
                "example": "BankAccount"
              },
              "Identification": {
                "type": "string",
                "description": "Identifier for the account.",
                "example": "GB29NWBK60161331926819"
              },
              "Name": {
                "type": "string",
                "description": "Name associated with the account.",
                "example": "John Doe"
              },
              "SecondaryIdentification": {
                "type": "string",
                "description": "Additional identifier for the account.",
                "example": "ID123"
              }
            },
            "description": "Refund account details."
          }
        },
        "description": "Information related to the refund of the payment."
      },
      "Charge": {
        "type": "object",
        "properties": {
          "ChargeBearer": {
            "type": "string",
            "description": "Entity responsible for the charge.",
            "example": "SHARED"
          },
          "Type": {
            "type": "string",
            "description": "Type of charge.",
            "example": "Transfer"
          },
          "Amount": {
            "type": "object",
            "properties": {
              "Amount": {
                "type": "string",
                "description": "Amount in the specified currency.",
                "example": "10.00"
              },
              "Currency": {
                "type": "string",
                "description": "Currency code for the amount.",
                "example": "GBP"
              }
            },
            "description": "Amount details for the charge."
          }
        },
        "description": "Details of a charge associated with the payment."
      },
      "Initiation": {
        "type": "object",
        "properties": {
          "InstructionIdentification": {
            "type": "string",
            "description": "Unique identifier for the payment instruction.",
            "example": "Inst123"
          },
          "EndToEndIdentification": {
            "type": "string",
            "description": "Identifier for tracking the payment.",
            "example": "E2E123"
          },
          "LocalInstrument": {
            "type": "string",
            "description": "Local instrument code for the payment.",
            "example": "BACS"
          },
          "RequestedExecutionDateTime": {
            "type": "string",
            "description": "Requested date and time for execution.",
            "example": "2023-01-05T12:00:00Z"
          },
          "InstructedAmount": {
            "type": "object",
            "properties": {
              "Amount": {
                "type": "string",
                "description": "Instructed amount value.",
                "example": "100.00"
              },
              "Currency": {
                "type": "string",
                "description": "Currency for the instructed amount.",
                "example": "GBP"
              }
            },
            "description": "Amount instructed for the payment."
          },
          "DebtorAccount": {
            "type": "object",
            "properties": {
              "SchemeName": {
                "type": "string",
                "description": "Name of the debtor account scheme.",
                "example": "BankAccount"
              },
              "Identification": {
                "type": "string",
                "description": "Identifier for the debtor account.",
                "example": "GB29NWBK60161331926819"
              },
              "Name": {
                "type": "string",
                "description": "Name associated with the debtor account.",
                "example": "John Doe"
              },
              "SecondaryIdentification": {
                "type": "string",
                "description": "Additional identification for the debtor account.",
                "example": "ID456"
              },
              "Proxy": {
                "type": "object",
                "properties": {
                  "Identification": {
                    "type": "string",
                    "description": "Identification for the proxy.",
                    "example": "proxy123"
                  },
                  "Code": {
                    "type": "string",
                    "description": "Code associated with the proxy.",
                    "example": "CODE123"
                  },
                  "Type": {
                    "type": "string",
                    "description": "Type of proxy used.",
                    "example": "Email"
                  }
                },
                "description": "Proxy details for the debtor account."
              }
            },
            "description": "Details of the account from which funds are debited."
          },
          "CreditorAccount": {
            "type": "object",
            "properties": {
              "SchemeName": {
                "type": "string",
                "description": "Name of the creditor account scheme.",
                "example": "BankAccount"
              },
              "Identification": {
                "type": "string",
                "description": "Identifier for the creditor account.",
                "example": "GB29NWBK60161331926820"
              },
              "Name": {
                "type": "string",
                "description": "Name associated with the creditor account.",
                "example": "Jane Smith"
              },
              "SecondaryIdentification": {
                "type": "string",
                "description": "Additional identification for the creditor account.",
                "example": "ID789"
              }
            },
            "description": "Details of the account to which funds are credited."
          }
        },
        "description": "Initiation details of the scheduled payment."
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-018"
        },
        "example": "WF-018"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "17167cd6-41c3-4013-904a-07c7f2bbc0a6"
        },
        "example": "17167cd6-41c3-4013-904a-07c7f2bbc0a6"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "e49ec13d-a13b-4cea-a5e8-853372a2fb4b"
        },
        "example": "e49ec13d-a13b-4cea-a5e8-853372a2fb4b"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-initiate-domestic-scheduled-payment"
        },
        "example": "payment-initiation-openapi-initiate-domestic-scheduled-payment"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      },
      "X-Workflow-Id": {
        "description": "A unique identifier for the workflow associated with this payment.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-018"
        },
        "example": "WF-018"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow being executed for this request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Payroll Batch Payment Processing"
        },
        "example": "Payroll Batch Payment Processing"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow associated with this request, indicating its progress.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for this execution of the workflow, useful for tracking or debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "e49ec13d-a13b-4cea-a5e8-853372a2fb4b"
        },
        "example": "e49ec13d-a13b-4cea-a5e8-853372a2fb4b"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses JSON Web Tokens (JWT) for secure authorization. Clients must include a valid token in the Authorization header for access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}