{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Regulatory Compliance API",
    "description": "The Regulatory Compliance API provides financial institutions with access to essential compliance data and resources related to regulatory requirements. By enabling seamless integration of compliance checks into banking applications, this API empowers developers to ensure adherence to industry regulations. Typical consumers of this API include compliance officers, risk managers, and software developers working on banking and financial platforms. Use cases involve retrieving the latest compliance regulations, verifying adherence to standards, and streamlining reporting processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/compliance/regulatory-compliance": {
      "get": {
        "tags": [
          "Compliance"
        ],
        "summary": "Retrieve regulatory compliance information.",
        "description": "This endpoint allows users to retrieve information related to regulatory compliance, providing insights on applicable regulations and compliance standards.",
        "operationId": "getRegulatoryCompliance",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to fetch the regulatory compliance data. Please ensure that all required parameters are provided in the schema for a successful response.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetRegulatoryComplianceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved regulatory compliance data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRegulatoryComplianceResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetRegulatoryComplianceRequest": {
        "type": "string",
        "description": "This schema represents the request body for the regulatory compliance GET operation in JSON format.",
        "example": "{}"
      },
      "GetRegulatoryComplianceResponse_200": {
        "title": "Regulatory Compliance Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of compliance submissions.",
            "example": [
              {
                "submissionId": "STANDARD",
                "legalEntityId": "STANDARD",
                "jurisdiction": "STANDARD",
                "reportingPeriod": "STANDARD",
                "regulation": "STANDARD",
                "dueDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ComplianceSubmission"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sort order for the compliance submissions.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for a GET request on regulatory compliance operations.",
        "example": {
          "items": [
            {
              "submissionId": "STANDARD",
              "legalEntityId": "STANDARD",
              "jurisdiction": "STANDARD",
              "reportingPeriod": "STANDARD",
              "regulation": "STANDARD",
              "dueDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "26e8fc55-c185-583d-80f8-258ad8f1d422",
            "correlationId": "0ce3d239-cc1c-55c4-88a8-a916f772dcb9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ComplianceSubmission": {
        "title": "Compliance Submission",
        "type": "object",
        "properties": {
          "submissionId": {
            "type": "string",
            "description": "Unique identifier for the submission."
          },
          "legalEntityId": {
            "type": "string",
            "description": "Identifier of the legal entity associated with the submission."
          },
          "jurisdiction": {
            "type": "string",
            "description": "Jurisdiction under which the compliance is reported."
          },
          "reportingPeriod": {
            "type": "string",
            "description": "The period for which the compliance is reported."
          },
          "regulation": {
            "type": "string",
            "description": "The regulation under which the compliance falls."
          },
          "dueDate": {
            "type": "string",
            "description": "The due date for the compliance submission."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the compliance record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the submission was last updated."
          }
        },
        "description": "Schema representing a compliance submission entity.",
        "example": {
          "submissionId": "sub-123",
          "legalEntityId": "legal-entity-456",
          "jurisdiction": "US",
          "reportingPeriod": "2023-Q3",
          "regulation": "Regulation XYZ",
          "dueDate": "2023-10-31",
          "recordStatus": "submitted",
          "updatedAt": "2023-09-30T12:00:00Z"
        }
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items across all pages.",
            "format": "int32"
          }
        },
        "description": "Schema representing pagination details for the response.",
        "example": {
          "page": 1,
          "pageSize": 10,
          "totalItems": 100
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracing the request."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed."
          }
        },
        "description": "Schema representing metadata information about the response.",
        "example": {
          "responseId": "response-123",
          "correlationId": "correlation-456",
          "generatedAt": "2023-10-01T12:00:00Z",
          "processingRegion": "US"
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "regulatory-compliance-search-regulatory-compliance"
        },
        "example": "regulatory-compliance-search-regulatory-compliance"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses HTTP Bearer authentication, which allows access to resources via a token. The token must be a valid JSON Web Token (JWT). Ensure that the token is included in the Authorization header of the request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}