{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Settlement Details API",
    "description": "The Settlement Details API provides access to specific information regarding settlements identified by their unique settlement IDs. This endpoint allows users, such as financial analysts and accounting software developers, to retrieve detailed status and transaction data related to completed settlements. Consumers can utilize this API for reporting, reconciliation, or auditing purposes. By employing this resource, organizations can enhance their understanding of settlement transactions and improve financial transparency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/settlements/{settlementId}": {
      "get": {
        "tags": [
          "Settlement Management"
        ],
        "summary": "Retrieve a specific settlement by its ID.",
        "description": "This endpoint allows you to fetch details of a specific settlement using its unique identifier. It provides all relevant information associated with the settlement, facilitating further processing or display in applications.",
        "operationId": "getSettlementById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving settlements information for the specified resource. Ensure that the data adheres to the defined schema for proper processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSettlementByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the settlement record.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSettlementByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetSettlementByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operations related to settlements.",
        "example": "{}"
      },
      "GetSettlementByIdResponse_200": {
        "title": "Settlement Response",
        "type": "object",
        "properties": {
          "settlementId": {
            "type": "string",
            "description": "Unique identifier for the settlement.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant associated with the settlement.",
            "example": "MER-659057"
          },
          "settlementAccountId": {
            "type": "string",
            "description": "Identifier for the account used for the settlement.",
            "example": "ACC-970614"
          },
          "periodStart": {
            "type": "string",
            "description": "Start date of the settlement period.",
            "example": "2026-08-11T12:00:00Z"
          },
          "periodEnd": {
            "type": "string",
            "description": "End date of the settlement period.",
            "example": "2026-08-11T12:00:00Z"
          },
          "currency": {
            "type": "string",
            "description": "Currency code used for the settlement operation.",
            "example": "USD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the settlement.",
            "example": "ACTIVE"
          },
          "summary": {
            "description": "Summary of various financial aspects related to the settlement.",
            "$ref": "#/components/schemas/Summary"
          },
          "lineCount": {
            "type": "integer",
            "description": "Number of line items associated with the settlement.",
            "format": "int32",
            "example": 1
          },
          "bankPayoutReference": {
            "type": "string",
            "description": "Reference number for the bank payout related to the settlement.",
            "example": "STANDARD"
          },
          "expectedPayoutAt": {
            "type": "string",
            "description": "Expected date and time for the payout.",
            "example": "2026-08-11T12:00:00Z"
          },
          "paidAt": {
            "type": "string",
            "description": "Date and time when the payout is made.",
            "example": "2026-08-11T12:00:00Z"
          },
          "audit": {
            "description": "Audit information detailing the creation and updates of the settlement.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Additional metadata associated with the settlement response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for settlements containing various attributes related to the settlement operation.",
        "example": {
          "settlementId": "STANDARD",
          "merchantId": "MER-659057",
          "settlementAccountId": "ACC-970614",
          "periodStart": "2026-08-11T12:00:00Z",
          "periodEnd": "2026-08-11T12:00:00Z",
          "currency": "USD",
          "status": "ACTIVE",
          "summary": {
            "grossPayments": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "refunds": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "reversals": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "disputes": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "fees": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "taxes": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "reserveHeld": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "reserveReleased": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "adjustments": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "netSettlement": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "lineCount": 1,
          "bankPayoutReference": "STANDARD",
          "expectedPayoutAt": "2026-08-11T12:00:00Z",
          "paidAt": "2026-08-11T12:00:00Z",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15"
          },
          "metadata": {
            "responseId": "1a2afc83-c0e7-5a5f-abb6-bafbbe982278",
            "correlationId": "65a4be0a-fc2a-5594-89ed-349dde934d22",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Summary": {
        "type": "object",
        "properties": {
          "grossPayments": {
            "description": "Total gross payments associated with this settlement.",
            "$ref": "#/components/schemas/FinancialData"
          },
          "refunds": {
            "description": "Total refunds processed for this settlement.",
            "$ref": "#/components/schemas/FinancialData"
          },
          "reversals": {
            "description": "Total reversals processed for this settlement.",
            "$ref": "#/components/schemas/FinancialData"
          },
          "disputes": {
            "description": "Total disputes raised associated with this settlement.",
            "$ref": "#/components/schemas/FinancialData"
          },
          "fees": {
            "description": "Total fees charged in the settlement.",
            "$ref": "#/components/schemas/FinancialData"
          },
          "taxes": {
            "description": "Total taxes applied on the settlement amount.",
            "$ref": "#/components/schemas/FinancialData"
          },
          "reserveHeld": {
            "description": "Amount held in reserve for this settlement.",
            "$ref": "#/components/schemas/FinancialData"
          },
          "reserveReleased": {
            "description": "Amount released from reserve for this settlement.",
            "$ref": "#/components/schemas/FinancialData"
          },
          "adjustments": {
            "description": "Total adjustments made related to the settlement.",
            "$ref": "#/components/schemas/FinancialData"
          },
          "netSettlement": {
            "description": "Net settlement amount after accounting for all charges and adjustments.",
            "$ref": "#/components/schemas/FinancialData"
          }
        },
        "description": "Summary of financial transactions related to the settlement."
      },
      "FinancialData": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency code for the financial value.",
            "example": "string"
          },
          "value": {
            "type": "string",
            "description": "Monetary value represented as a string.",
            "example": "string"
          }
        },
        "description": "Financial data structure representing the currency value in settlements."
      },
      "Audit": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the settlement was created.",
            "example": "string"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the settlement.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update made to the settlement.",
            "example": "string"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the settlement.",
            "example": "string"
          }
        },
        "description": "Audit information regarding the settlement's lifecycle."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for linking related requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the transaction took place.",
            "example": "string"
          }
        },
        "description": "Metadata related to the settlement response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint corresponding to this response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-get-settlement"
        },
        "example": "banking-p2m-openapi-get-settlement"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a JWT (JSON Web Token) as a bearer token for authentication. Clients must include the token in the Authorization header when making requests to the API.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}