{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Certified Institutions Lookup API",
    "description": "The Certified Institutions Lookup API provides access to a curated list of institutions certified under regulatory standards. This endpoint enables users to retrieve comprehensive details about each certified institution, including their unique identifiers and relevant certifications. Typical consumers include financial services firms, regulatory bodies, and compliance teams seeking updated records for verification and auditing processes. Use this API to ensure compliance and facilitate informed decision-making based on certified institutional data.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/institution/certifiedinstitutions/rssd": {
      "get": {
        "tags": [
          "Certified Institutions"
        ],
        "summary": "Retrieve certified institutions by RSSD.",
        "description": "This endpoint allows users to retrieve a list of certified institutions based on the provided RSSD identifier. The data returned will include various details of the institutions that are certified.",
        "operationId": "fetchCertifiedInstitutionsByRssd",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve a list of certified institutions identified by their RSSD (Research Support Services Division) numbers. Ensure that the request is structured correctly to obtain the desired data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FetchCertifiedInstitutionsByRssdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the certified institutions data.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FetchCertifiedInstitutionsByRssdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "FetchCertifiedInstitutionsByRssdRequest": {
        "type": "string",
        "description": "A request body schema that indicates a string-type payload for the GET operations related to certified institutions.",
        "example": "{}"
      },
      "FetchCertifiedInstitutionsByRssdResponse_200": {
        "type": "object",
        "properties": {
          "found": {
            "type": "integer",
            "description": "Total number of institutions found.",
            "format": "int32",
            "example": 1
          },
          "displaying": {
            "type": "integer",
            "description": "Number of institutions being displayed in the current response.",
            "format": "int32",
            "example": 1
          },
          "moreAvailable": {
            "type": "boolean",
            "description": "Indicates if more institutions are available beyond the displayed ones.",
            "example": true
          },
          "requestedDate": {
            "type": "integer",
            "description": "The date when the request was made, represented as a UNIX timestamp.",
            "format": "int32",
            "example": 1
          },
          "institutions": {
            "type": "array",
            "description": "List of certified institutions.",
            "example": [
              {
                "id": 1,
                "name": "Northstar Banking Service",
                "transAgg": true,
                "ach": true,
                "stateAgg": true,
                "voi": true,
                "voa": true,
                "aha": true,
                "availBalance": true,
                "accountOwner": true,
                "studentLoanData": true,
                "loanPaymentDetails": true,
                "liabilityData": true,
                "billPayData": true,
                "oauthEnabled": true,
                "productionStatus": {
                  "overallStatus": "ACTIVE",
                  "transAgg": "STANDARD",
                  "stateAgg": "STANDARD",
                  "voa": "STANDARD",
                  "voi": "STANDARD",
                  "ach": "STANDARD",
                  "aha": "STANDARD"
                },
                "rssd": 1,
                "childInstitutions": [
                  {
                    "rssd": 1,
                    "parentRSSD": 1,
                    "name": "Northstar Banking Service",
                    "institutionId": 1
                  }
                ]
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Institution"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "example": {
          "found": 1,
          "displaying": 1,
          "moreAvailable": true,
          "requestedDate": 1,
          "institutions": [
            {
              "id": 1,
              "name": "Northstar Banking Service",
              "transAgg": true,
              "ach": true,
              "stateAgg": true,
              "voi": true,
              "voa": true,
              "aha": true,
              "availBalance": true,
              "accountOwner": true,
              "studentLoanData": true,
              "loanPaymentDetails": true,
              "liabilityData": true,
              "billPayData": true,
              "oauthEnabled": true,
              "productionStatus": {
                "overallStatus": "ACTIVE",
                "transAgg": "STANDARD",
                "stateAgg": "STANDARD",
                "voa": "STANDARD",
                "voi": "STANDARD",
                "ach": "STANDARD",
                "aha": "STANDARD"
              },
              "rssd": 1,
              "childInstitutions": [
                {
                  "rssd": 1,
                  "parentRSSD": 1,
                  "name": "Northstar Banking Service",
                  "institutionId": 1
                }
              ]
            }
          ],
          "metadata": {
            "responseId": "5bb877be-f20a-527d-a2c0-4f9546044e1b",
            "correlationId": "529a5973-3236-505f-a080-e95a3eb0c768",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Institution": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier for the institution.",
            "format": "int32",
            "example": 0
          },
          "name": {
            "type": "string",
            "description": "Name of the institution.",
            "example": "string"
          },
          "transAgg": {
            "type": "boolean",
            "description": "Indicates if transaction aggregation is enabled for the institution.",
            "example": false
          },
          "ach": {
            "type": "boolean",
            "description": "Indicates if ACH support is enabled for the institution.",
            "example": false
          },
          "stateAgg": {
            "type": "boolean",
            "description": "Indicates if state aggregation is enabled for the institution.",
            "example": false
          },
          "voi": {
            "type": "boolean",
            "description": "Indicates if voice assistance is enabled for the institution.",
            "example": false
          },
          "voa": {
            "type": "boolean",
            "description": "Indicates if voice-over applications are supported by the institution.",
            "example": false
          },
          "aha": {
            "type": "boolean",
            "description": "Indicates if automated help is available for the institution.",
            "example": false
          },
          "availBalance": {
            "type": "boolean",
            "description": "Indicates if available balance information is provided by the institution.",
            "example": false
          },
          "accountOwner": {
            "type": "boolean",
            "description": "Indicates if account owner information is provided by the institution.",
            "example": false
          },
          "studentLoanData": {
            "type": "boolean",
            "description": "Indicates if student loan data is accessible through the institution.",
            "example": false
          },
          "loanPaymentDetails": {
            "type": "boolean",
            "description": "Indicates if loan payment details are available for the institution.",
            "example": false
          },
          "liabilityData": {
            "type": "boolean",
            "description": "Indicates if liability data is available for the institution.",
            "example": false
          },
          "billPayData": {
            "type": "boolean",
            "description": "Indicates if bill payment data is accessible through the institution.",
            "example": false
          },
          "oauthEnabled": {
            "type": "boolean",
            "description": "Indicates if OAuth is enabled for the institution.",
            "example": false
          },
          "productionStatus": {
            "$ref": "#/components/schemas/ProductionStatus"
          },
          "rssd": {
            "type": "integer",
            "description": "The RSSD identifier for the institution.",
            "format": "int32",
            "example": 0
          },
          "childInstitutions": {
            "type": "array",
            "description": "List of child institutions associated with the primary institution.",
            "items": {
              "$ref": "#/components/schemas/ChildInstitution"
            }
          }
        },
        "description": "Details about a certified institution."
      },
      "ProductionStatus": {
        "type": "object",
        "properties": {
          "overallStatus": {
            "type": "string",
            "description": "Overall production status of the institution.",
            "example": "string"
          },
          "transAgg": {
            "type": "string",
            "description": "Transaction aggregation production status.",
            "example": "string"
          },
          "stateAgg": {
            "type": "string",
            "description": "State aggregation production status.",
            "example": "string"
          },
          "voa": {
            "type": "string",
            "description": "Voice-over application production status.",
            "example": "string"
          },
          "voi": {
            "type": "string",
            "description": "Voice assistance production status.",
            "example": "string"
          },
          "ach": {
            "type": "string",
            "description": "ACH production status.",
            "example": "string"
          },
          "aha": {
            "type": "string",
            "description": "Automated help production status.",
            "example": "string"
          }
        },
        "description": "Production status details of an institution."
      },
      "ChildInstitution": {
        "type": "object",
        "properties": {
          "rssd": {
            "type": "integer",
            "description": "The RSSD identifier for the child institution.",
            "format": "int32",
            "example": 0
          },
          "parentRSSD": {
            "type": "integer",
            "description": "The RSSD identifier of the parent institution.",
            "format": "int32",
            "example": 0
          },
          "name": {
            "type": "string",
            "description": "Name of the child institution.",
            "example": "string"
          },
          "institutionId": {
            "type": "integer",
            "description": "Unique identifier for the child institution.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Details of a child institution associated with a primary institution."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used for correlating requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-certified-institutions-with-rssd"
        },
        "example": "open-finance-api-get-certified-institutions-with-rssd"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token format that allows users to authenticate with JSON Web Tokens (JWT). Clients must include a valid JWT in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}