{
  "openapi": "3.0.1",
  "info": {
    "title": "WORKFLOW_Sandbox_Loan Approval Workflow API",
    "description": "The Loan Approval Workflow API facilitates the approval process for loan applications by allowing users to retrieve the approval status of specific loans. By querying the endpoint with a loan ID, consumers can access current approval details, ensuring that stakeholders are informed of the progress. This API is particularly beneficial for financial institutions and loan officers, streamlining communication and decision-making regarding loan approvals. It enhances operational efficiency and supports compliance with regulatory requirements.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v1/loans/{loanId}/approve": {
      "get": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Approve a loan request",
        "description": "This endpoint is used to approve the loan request associated with the specified loan ID. Ensure all necessary conditions are met before approving the loan.",
        "operationId": "approveLoan10004",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-tenant"
          },
          {
            "$ref": "#/components/parameters/x-application-type"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for approving a loan operation. This operation requires the appropriate loan approval details to be provided in JSON format.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApproveLoan10004Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed and returned the expected data.",
            "headers": {
              "vary": {
                "$ref": "#/components/headers/vary"
              },
              "pragma": {
                "$ref": "#/components/headers/pragma"
              },
              "expires": {
                "$ref": "#/components/headers/expires"
              },
              "x-log-id": {
                "$ref": "#/components/headers/x-log-id"
              },
              "x-frame-options": {
                "$ref": "#/components/headers/x-frame-options"
              },
              "x-xss-protection": {
                "$ref": "#/components/headers/x-xss-protection"
              },
              "x-content-type-options": {
                "$ref": "#/components/headers/x-content-type-options"
              },
              "strict-transport-security": {
                "$ref": "#/components/headers/strict-transport-security"
              },
              "x-envoy-upstream-service-time": {
                "$ref": "#/components/headers/x-envoy-upstream-service-time"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApproveLoan10004Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ApproveLoan10004Request": {
        "type": "string",
        "description": "This schema represents the JSON request body for approving a loan operation.",
        "example": "{}"
      },
      "ApproveLoan10004Response_200": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "description": "Details about the loan approval.",
            "$ref": "#/components/schemas/LoanApprovalData"
          }
        },
        "description": "Schema representing the response data for loan approval operation.",
        "example": {
          "data": {
            "id": "LOAN-10004",
            "approval": "APPROVED",
            "approvedBy": "EMP-10245",
            "approvedDate": "2026-07-28T14:35:20Z",
            "loanType": "PERSONAL",
            "customerId": "CUST-50021",
            "requestedAmount": 25000.0,
            "approvedAmount": 25000.0,
            "currency": "USD",
            "interestRate": 7.5,
            "termMonths": 36,
            "approvalRemarks": "Loan approved based on eligibility and credit assessment."
          }
        }
      },
      "LoanApprovalData": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the loan approval.",
            "example": "string"
          },
          "approval": {
            "type": "string",
            "description": "Status of the loan approval.",
            "example": "string"
          },
          "approvedBy": {
            "type": "string",
            "description": "Identifier of the user who approved the loan.",
            "example": "string"
          },
          "approvedDate": {
            "type": "string",
            "description": "Date when the loan was approved.",
            "example": "string"
          },
          "loanType": {
            "type": "string",
            "description": "Type of the loan.",
            "example": "string"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "string"
          },
          "requestedAmount": {
            "type": "number",
            "description": "Amount of money requested in the loan application.",
            "example": 0.0
          },
          "approvedAmount": {
            "type": "number",
            "description": "Amount of money approved for the loan.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "Currency in which the amounts are expressed.",
            "example": "string"
          },
          "interestRate": {
            "type": "number",
            "description": "Interest rate for the approved loan.",
            "example": 0.0
          },
          "termMonths": {
            "type": "integer",
            "description": "Term of the loan in months.",
            "format": "int32",
            "example": 0
          },
          "approvalRemarks": {
            "type": "string",
            "description": "Remarks related to the loan approval decision.",
            "example": "string"
          }
        },
        "description": "Detailed information about the loan approval."
      }
    },
    "parameters": {
      "x-tenant": {
        "name": "x-tenant",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "prod-workspace"
        },
        "example": "prod-workspace"
      },
      "x-application-type": {
        "name": "x-application-type",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ApiSandbox"
        },
        "example": "ApiSandbox"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "WORKFLOW_Sandbox_200"
          ]
        }
      }
    },
    "headers": {
      "vary": {
        "description": "Indicates how the response has been altered based on varying conditions, which could affect caching strategies.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Origin,Access-Control-Request-Method,Access-Control-Request-Headers"
        },
        "example": "Origin,Access-Control-Request-Method,Access-Control-Request-Headers"
      },
      "pragma": {
        "description": "Used to include implementation-specific directives that might affect the intended behavior of the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "no-cache"
        },
        "example": "no-cache"
      },
      "expires": {
        "description": "Specifies the date and time after which the response is considered stale and should not be used for caching.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "0"
        },
        "example": "0"
      },
      "x-log-id": {
        "description": "A unique identifier for logging purposes, useful for tracking requests and debugging issues.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "6a8f38768ce838604c6086b9"
        },
        "example": "6a8f38768ce838604c6086b9"
      },
      "x-frame-options": {
        "description": "This header indicates whether the browser should be allowed to render this page within a frame. The value 'DENY' prevents the page from being displayed in a frame, thereby protecting against clickjacking attacks.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "DENY"
        },
        "example": "DENY"
      },
      "x-xss-protection": {
        "description": "This header is used to enable the Cross-Site Scripting (XSS) filter in the browser. The value '1; mode=block' tells the browser to block the page if an XSS attack is detected.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "0"
        },
        "example": "0"
      },
      "x-content-type-options": {
        "description": "Specifies that the browser should not analyze the contentType of the response and apply MIME type validation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "nosniff"
        },
        "example": "nosniff"
      },
      "strict-transport-security": {
        "description": "Enforces secure (HTTPS) connections to the server for a specified time frame.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "max-age=31536000 ; includeSubDomains"
        },
        "example": "max-age=31536000 ; includeSubDomains"
      },
      "x-envoy-upstream-service-time": {
        "description": "Indicates the amount of time (in milliseconds) that the upstream service took to respond.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "3"
        },
        "example": "3"
      }
    }
  }
}