{
  "openapi": "3.0.1",
  "info": {
    "title": "WORKFLOW_Builder_Loan Status Retrieval API",
    "description": "The Loan Status Retrieval API allows users to obtain the current status of a specific loan identified by its unique loanId. This functionality is essential for financial institutions, lenders, and customers seeking real-time updates on loan processing stages, approvals, or any pending actions. By calling this endpoint, authorized users can efficiently track loan progress, ensuring transparency and informed decision-making. Typical consumers of this API include customer service representatives and loan processing teams who require accurate status information to assist clients.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v1/loans/{loanId}/status": {
      "get": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Retrieve the status of a specific loan.",
        "description": "This endpoint allows users to fetch the current status of a loan identified by its unique ID. It provides valuable information regarding the loan's state and any associated details.",
        "operationId": "getLoanStatusById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-tenant"
          },
          {
            "$ref": "#/components/parameters/x-request-id"
          },
          {
            "$ref": "#/components/parameters/x-application-type"
          },
          {
            "$ref": "#/components/parameters/x-envoy-attempt-count"
          },
          {
            "$ref": "#/components/parameters/x-envoy-peer-metadata"
          },
          {
            "$ref": "#/components/parameters/x-envoy-external-address"
          },
          {
            "$ref": "#/components/parameters/x-envoy-peer-metadata-id"
          },
          {
            "$ref": "#/components/parameters/x-envoy-decorator-operation"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the current status of the loan.",
            "headers": {
              "x-log-id": {
                "$ref": "#/components/headers/x-log-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLoanStatusByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetLoanStatusByIdResponse_200": {
        "title": "Loan Status Response",
        "type": "object",
        "properties": {
          "data": {
            "description": "Contains loan details including its current status and financial information.",
            "$ref": "#/components/schemas/LoanDetails"
          }
        },
        "description": "Response schema for loan status retrieval. It contains the details of the loan associated with a specific ID.",
        "example": {
          "data": {
            "id": "LOAN-10004",
            "status": "ACTIVE",
            "loanType": "PERSONAL",
            "customerId": "CUST-50021",
            "principalAmount": 25000.0,
            "currency": "USD",
            "interestRate": 7.5,
            "termMonths": 36,
            "startDate": "2026-08-01",
            "maturityDate": "2029-08-01",
            "outstandingAmount": 24580.5
          }
        }
      },
      "LoanDetails": {
        "title": "Loan Details",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for the loan.",
            "example": "123456"
          },
          "status": {
            "type": "string",
            "description": "Current status of the loan (e.g., active, paid, defaulted).",
            "example": "active"
          },
          "loanType": {
            "type": "string",
            "description": "Type of loan (e.g., personal, mortgage, auto).",
            "example": "personal"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer associated with the loan.",
            "example": "cust789"
          },
          "principalAmount": {
            "type": "number",
            "description": "The original amount of money borrowed before interest.",
            "example": 10000.0
          },
          "currency": {
            "type": "string",
            "description": "Currency in which the loan amount is denominated.",
            "example": "USD"
          },
          "interestRate": {
            "type": "number",
            "description": "The annual interest rate applied to the loan, expressed as a percentage.",
            "example": 5.0
          },
          "termMonths": {
            "type": "integer",
            "description": "The term of the loan in months.",
            "format": "int32",
            "example": 24
          },
          "startDate": {
            "type": "string",
            "description": "The date when the loan was initiated.",
            "example": "2021-01-01"
          },
          "maturityDate": {
            "type": "string",
            "description": "The date when the loan is scheduled to be fully paid off.",
            "example": "2023-01-01"
          },
          "outstandingAmount": {
            "type": "number",
            "description": "The total amount of money still owed on the loan.",
            "example": 5000.0
          }
        },
        "description": "Detailed information about a specific loan."
      }
    },
    "parameters": {
      "x-tenant": {
        "name": "x-tenant",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "prod-workspace"
        },
        "example": "prod-workspace"
      },
      "x-request-id": {
        "name": "x-request-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "91fac7d0-fe21-4ed6-aff5-df68ce199a0f"
        },
        "example": "91fac7d0-fe21-4ed6-aff5-df68ce199a0f"
      },
      "x-application-type": {
        "name": "x-application-type",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "apibuilder"
        },
        "example": "apibuilder"
      },
      "x-envoy-attempt-count": {
        "name": "x-envoy-attempt-count",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-envoy-peer-metadata": {
        "name": "x-envoy-peer-metadata",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ChoKCkNMVVNURVJfSUQSDBoKS3ViZXJuZXRlcwquAQoGTEFCRUxTEqMBKqABCh0KA2FwcBIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQo5Ch9zZXJ2aWNlLmlzdGlvLmlvL2Nhbm9uaWNhbC1uYW1lEhYaFGlzdGlvLWluZ3Jlc3NnYXRld2F5Ci8KI3NlcnZpY2UuaXN0aW8uaW8vY2Fub25pY2FsLXJldmlzaW9uEggaBjEtMzAtMAoTCgd2ZXJzaW9uEggaBjEuMzAuMAouCgROQU1FEiYaJGlzdGlvLWluZ3Jlc3NnYXRld2F5LTlkZDQ2YjU4Yi10Y3R6cwobCglOQU1FU1BBQ0USDhoMaXN0aW8tc3lzdGVtCl0KBU9XTkVSElQaUmt1YmVybmV0ZXM6Ly9hcGlzL2FwcHMvdjEvbmFtZXNwYWNlcy9pc3Rpby1zeXN0ZW0vZGVwbG95bWVudHMvaXN0aW8taW5ncmVzc2dhdGV3YXkKJwoNV09SS0xPQURfTkFNRRIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQ=="
        },
        "example": "ChoKCkNMVVNURVJfSUQSDBoKS3ViZXJuZXRlcwquAQoGTEFCRUxTEqMBKqABCh0KA2FwcBIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQo5Ch9zZXJ2aWNlLmlzdGlvLmlvL2Nhbm9uaWNhbC1uYW1lEhYaFGlzdGlvLWluZ3Jlc3NnYXRld2F5Ci8KI3NlcnZpY2UuaXN0aW8uaW8vY2Fub25pY2FsLXJldmlzaW9uEggaBjEtMzAtMAoTCgd2ZXJzaW9uEggaBjEuMzAuMAouCgROQU1FEiYaJGlzdGlvLWluZ3Jlc3NnYXRld2F5LTlkZDQ2YjU4Yi10Y3R6cwobCglOQU1FU1BBQ0USDhoMaXN0aW8tc3lzdGVtCl0KBU9XTkVSElQaUmt1YmVybmV0ZXM6Ly9hcGlzL2FwcHMvdjEvbmFtZXNwYWNlcy9pc3Rpby1zeXN0ZW0vZGVwbG95bWVudHMvaXN0aW8taW5ncmVzc2dhdGV3YXkKJwoNV09SS0xPQURfTkFNRRIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQ=="
      },
      "x-envoy-external-address": {
        "name": "x-envoy-external-address",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "34.217.218.221"
        },
        "example": "34.217.218.221"
      },
      "x-envoy-peer-metadata-id": {
        "name": "x-envoy-peer-metadata-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "router~10.10.185.143~istio-ingressgateway-9dd46b58b-tctzs.istio-system~istio-system.svc.cluster.local"
        },
        "example": "router~10.10.185.143~istio-ingressgateway-9dd46b58b-tctzs.istio-system~istio-system.svc.cluster.local"
      },
      "x-envoy-decorator-operation": {
        "name": "x-envoy-decorator-operation",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "apibuilder-agent.apiwiz-system.svc.cluster.local:8000/*"
        },
        "example": "apibuilder-agent.apiwiz-system.svc.cluster.local:8000/*"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "WORKFLOW_Builder_200"
          ]
        }
      }
    },
    "headers": {
      "x-log-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "description": "A unique identifier for tracking the request and its corresponding response.",
          "example": "6a8f38698ce838604c60867a"
        },
        "example": "6a8f38698ce838604c60867a"
      }
    }
  }
}