{
  "openapi": "3.0.1",
  "info": {
    "title": "WORKFLOW_Sandbox_Loan Status Retrieval API",
    "description": "The Loan Status Retrieval API provides users with real-time information regarding the status of specific loans. By querying the endpoint with a unique loan ID, consumers can access important updates related to loan processing, approval, and disbursement stages. This API is particularly useful for loan officers and customers seeking clarity on their loan applications or management systems that need to track loan statuses dynamically. Stay informed and optimize your workflow with timely status updates.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v1/loans/{loanId}/status": {
      "get": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Retrieve the status of a specific loan.",
        "description": "This endpoint allows developers to fetch the current status of a loan identified by its unique ID. It provides insights into whether the loan is active, closed, or in any other state.",
        "operationId": "getLoanStatus",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-tenant"
          },
          {
            "$ref": "#/components/parameters/x-application-type"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the status of loan ID LOAN-10004. The request payload contains necessary parameters for querying the current status of the loan within the system.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetLoanStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the loan status.",
            "headers": {
              "vary": {
                "$ref": "#/components/headers/vary"
              },
              "pragma": {
                "$ref": "#/components/headers/pragma"
              },
              "expires": {
                "$ref": "#/components/headers/expires"
              },
              "x-log-id": {
                "$ref": "#/components/headers/x-log-id"
              },
              "x-frame-options": {
                "$ref": "#/components/headers/x-frame-options"
              },
              "x-xss-protection": {
                "$ref": "#/components/headers/x-xss-protection"
              },
              "x-content-type-options": {
                "$ref": "#/components/headers/x-content-type-options"
              },
              "strict-transport-security": {
                "$ref": "#/components/headers/strict-transport-security"
              },
              "x-envoy-upstream-service-time": {
                "$ref": "#/components/headers/x-envoy-upstream-service-time"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLoanStatusResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetLoanStatusRequest": {
        "type": "string",
        "description": "Represents the status of the loan operation in a string format.",
        "example": "{}"
      },
      "GetLoanStatusResponse_200": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/LoanStatusData"
          }
        },
        "description": "Response schema for retrieving loan status information.",
        "example": {
          "data": {
            "id": "LOAN-10004",
            "status": "ACTIVE",
            "loanType": "PERSONAL",
            "customerId": "CUST-50021",
            "principalAmount": 25000.0,
            "currency": "USD",
            "interestRate": 7.5,
            "termMonths": 36,
            "startDate": "2026-08-01",
            "maturityDate": "2029-08-01",
            "outstandingAmount": 24580.5
          }
        }
      },
      "LoanStatusData": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the loan.",
            "example": "loan123"
          },
          "status": {
            "type": "string",
            "description": "Current status of the loan.",
            "example": "active"
          },
          "loanType": {
            "type": "string",
            "description": "Type of the loan (e.g., personal, mortgage, etc.).",
            "example": "personal"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer associated with the loan.",
            "example": "customer456"
          },
          "principalAmount": {
            "type": "number",
            "description": "The original principal amount of the loan.",
            "example": 10000.0
          },
          "currency": {
            "type": "string",
            "description": "Currency in which the loan amount is denominated.",
            "example": "USD"
          },
          "interestRate": {
            "type": "number",
            "description": "Interest rate applicable to the loan.",
            "example": 5.5
          },
          "termMonths": {
            "type": "integer",
            "description": "The term of the loan in months.",
            "format": "int32",
            "example": 24
          },
          "startDate": {
            "type": "string",
            "description": "Start date of the loan in ISO 8601 format.",
            "example": "2023-01-01"
          },
          "maturityDate": {
            "type": "string",
            "description": "Maturity date of the loan in ISO 8601 format.",
            "example": "2025-01-01"
          },
          "outstandingAmount": {
            "type": "number",
            "description": "Currently outstanding amount on the loan.",
            "example": 5000.0
          }
        },
        "description": "Detailed information about the loan status."
      }
    },
    "parameters": {
      "x-tenant": {
        "name": "x-tenant",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "prod-workspace"
        },
        "example": "prod-workspace"
      },
      "x-application-type": {
        "name": "x-application-type",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ApiSandbox"
        },
        "example": "ApiSandbox"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "WORKFLOW_Sandbox_200"
          ]
        }
      }
    },
    "headers": {
      "vary": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Origin,Access-Control-Request-Method,Access-Control-Request-Headers"
        },
        "example": "Origin,Access-Control-Request-Method,Access-Control-Request-Headers"
      },
      "pragma": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "no-cache"
        },
        "example": "no-cache"
      },
      "expires": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "0"
        },
        "example": "0"
      },
      "x-log-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "6a8f38698ce838604c60867c"
        },
        "example": "6a8f38698ce838604c60867c"
      },
      "x-frame-options": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "DENY"
        },
        "example": "DENY"
      },
      "x-xss-protection": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "0"
        },
        "example": "0"
      },
      "x-content-type-options": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "nosniff"
        },
        "example": "nosniff"
      },
      "strict-transport-security": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "max-age=31536000 ; includeSubDomains"
        },
        "example": "max-age=31536000 ; includeSubDomains"
      },
      "x-envoy-upstream-service-time": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "3"
        },
        "example": "3"
      }
    }
  }
}