{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-driftdoc-Create Hotel Rooms Hold-v1-spec",
    "description": "The Hotel Room Hold API enables businesses to reserve hotel rooms temporarily for potential guests. This endpoint allows users to place a hold on specific rooms, ensuring availability while the booking process is finalized. Commonly utilized by hotel management systems and travel agencies, this feature helps streamline the reservation process. Integration with this API aids in improving customer service by reducing the risk of overbooking and enhancing the guest experience.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://engineering-nktb.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6ab9989ebe83af04b1781334",
      "x-basePath": "/"
    },
    {
      "url": "https://qa-data-gujl.apiwiz.io",
      "description": "driftdoc",
      "variables": {},
      "x-schema": "https://",
      "x-name": "driftdoc",
      "x-environmentName": "driftdoc",
      "x-hide": false,
      "x-environmentId": "6ab998adbe83af04b1781335",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/hotel/v1/rooms/hold": {
      "post": {
        "tags": [
          "Room Management"
        ],
        "summary": "Hold a room for a specified period.",
        "description": "This endpoint allows users to hold a specific room for a designated time. It ensures that the room is temporarily reserved and not available for other bookings during that period. Please provide the necessary details such as room ID and hold duration in the request body.",
        "operationId": "createHotelRoomsHold",
        "parameters": [
          {
            "$ref": "#/components/parameters/locale"
          },
          {
            "$ref": "#/components/parameters/region"
          },
          {
            "$ref": "#/components/parameters/traceLevel"
          },
          {
            "$ref": "#/components/parameters/validateOnly"
          },
          {
            "$ref": "#/components/parameters/includeDeleted"
          },
          {
            "$ref": "#/components/parameters/x-tenant-id"
          },
          {
            "$ref": "#/components/parameters/x-debug-mode"
          },
          {
            "$ref": "#/components/parameters/x-feature-flag"
          },
          {
            "$ref": "#/components/parameters/x-client-version"
          },
          {
            "$ref": "#/components/parameters/x-correlation-id"
          },
          {
            "$ref": "#/components/parameters/x-idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-request-priority"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for holding a room. This should contain the necessary data for reserving a room, including identification and other relevant parameters.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateHotelRoomsHoldRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request processed successfully and resource is available.",
            "headers": {
              "etag": {
                "$ref": "#/components/headers/etag"
              },
              "x-served-by": {
                "$ref": "#/components/headers/x-served-by"
              },
              "x-cache-status": {
                "$ref": "#/components/headers/x-cache-status"
              },
              "x-processing-time": {
                "$ref": "#/components/headers/x-processing-time"
              },
              "x-ratelimit-remaining": {
                "$ref": "#/components/headers/x-ratelimit-remaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateHotelRoomsHoldResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateHotelRoomsHoldRequest": {
        "title": "Room Hold Request Body",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "b3933cef-e168-4d69-b9b2-e94d3f8a1aac"
          },
          "referenceNumber": {
            "type": "string",
            "description": "Reference number for tracking the request.",
            "example": "HOTEL-10004"
          },
          "customer": {
            "description": "Information about the customer making the request.",
            "$ref": "#/components/schemas/Customer"
          },
          "resource": {
            "type": "string",
            "description": "Description of the resource being held.",
            "example": "rooms/hold"
          },
          "priority": {
            "type": "integer",
            "description": "Priority level of the hold request.",
            "format": "int32",
            "example": 1
          },
          "amount": {
            "type": "number",
            "description": "Amount associated with the hold request.",
            "example": 344.45
          },
          "currency": {
            "type": "string",
            "description": "Currency in which the amount is specified.",
            "example": "EUR"
          },
          "notificationRequired": {
            "type": "boolean",
            "description": "Indicates whether notification is required.",
            "example": false
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2026-09-20T20:20:39+00:00"
          },
          "channel": {
            "type": "string",
            "description": "Channel through which the request is made.",
            "example": "MOBILE_APP"
          },
          "recordIndex": {
            "type": "integer",
            "description": "Index of the record associated with the request.",
            "format": "int32",
            "example": 4
          },
          "promoCode": {
            "type": "string",
            "description": "Promotional code applicable to the request.",
            "example": "AUTUMN26"
          },
          "guests": {
            "description": "Information about the guests associated with the request.",
            "$ref": "#/components/schemas/Guests"
          },
          "specialRequests": {
            "type": "array",
            "description": "Any special requests made by the customer.",
            "example": [
              "late-checkin",
              "high-floor"
            ],
            "items": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "description": "Schema for the request body used to hold a room.",
        "example": {
          "requestId": "b3933cef-e168-4d69-b9b2-e94d3f8a1aac",
          "referenceNumber": "HOTEL-10004",
          "customer": {
            "firstName": "Paul",
            "lastName": "Smith",
            "email": "paul.smith700@example.com",
            "vipCustomer": false,
            "customerAge": 65,
            "loyaltyTier": "GOLD",
            "phone": "+44 20 7946 0000"
          },
          "resource": "rooms/hold",
          "priority": 1,
          "amount": 344.45,
          "currency": "EUR",
          "notificationRequired": false,
          "requestedAt": "2026-09-20T20:20:39+00:00",
          "channel": "MOBILE_APP",
          "recordIndex": 4,
          "promoCode": "AUTUMN26",
          "guests": {
            "adults": 2,
            "children": 1
          },
          "specialRequests": [
            "late-checkin",
            "high-floor"
          ]
        }
      },
      "Customer": {
        "title": "Customer Information",
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string",
            "description": "First name of the customer.",
            "example": "John"
          },
          "lastName": {
            "type": "string",
            "description": "Last name of the customer.",
            "example": "Doe"
          },
          "email": {
            "type": "string",
            "description": "Email address of the customer.",
            "example": "john.doe@example.com"
          },
          "vipCustomer": {
            "type": "boolean",
            "description": "Indicates whether the customer is a VIP.",
            "example": false
          },
          "customerAge": {
            "type": "integer",
            "description": "Age of the customer.",
            "format": "int32",
            "example": 30
          },
          "loyaltyTier": {
            "type": "string",
            "description": "Loyalty tier of the customer, if applicable.",
            "example": "Gold"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the customer.",
            "example": "+1234567890"
          }
        },
        "description": "Details about the customer placing the room hold request."
      },
      "Guests": {
        "title": "Guests Information",
        "type": "object",
        "properties": {
          "adults": {
            "type": "integer",
            "description": "Number of adults in the party.",
            "format": "int32",
            "example": 2
          },
          "children": {
            "type": "integer",
            "description": "Number of children in the party.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Details about the guests included in the room hold request."
      },
      "CreateHotelRoomsHoldResponse_200": {
        "title": "Hold Operation Response",
        "type": "object",
        "properties": {
          "status": {
            "type": "boolean",
            "description": "Indicates the success or failure of the operation.",
            "example": true
          },
          "referenceNumber": {
            "type": "string",
            "description": "The unique reference number for the operation.",
            "example": "HOTEL-10004"
          },
          "resultId": {
            "type": "string",
            "description": "The identifier of the result related to the operation.",
            "example": "a5820e02-349d-4063-bf51-30b5f970574c"
          },
          "state": {
            "type": "string",
            "description": "The current state of the operation.",
            "example": "FAILED"
          },
          "processingTimeMs": {
            "type": "integer",
            "description": "The time taken to process the request in milliseconds.",
            "format": "int32",
            "example": 856
          },
          "message": {
            "type": "string",
            "description": "A message providing additional information about the operation.",
            "example": "Request processed successfully"
          },
          "audit": {
            "description": "Information related to the audit of the operation.",
            "$ref": "#/components/schemas/AuditInfo"
          },
          "warnings": {
            "type": "array",
            "description": "Any warnings generated during the operation.",
            "example": [
              "deprecated-field-used"
            ],
            "items": {
              "type": "string",
              "description": "Warning message."
            }
          },
          "meta": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/MetaInfo"
          }
        },
        "description": "Response schema for hold operation request.",
        "example": {
          "status": true,
          "referenceNumber": "HOTEL-10004",
          "resultId": "a5820e02-349d-4063-bf51-30b5f970574c",
          "state": "FAILED",
          "processingTimeMs": 856,
          "message": "Request processed successfully",
          "audit": {
            "createdBy": "SYSTEM",
            "createdAt": "2026-09-20T16:53:46+00:00",
            "automated": true,
            "source": "batch"
          },
          "warnings": [
            "deprecated-field-used"
          ],
          "meta": {
            "region": "EU",
            "cacheHit": false
          }
        }
      },
      "AuditInfo": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the operation.",
            "example": "string"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the operation was created.",
            "example": "string"
          },
          "automated": {
            "type": "boolean",
            "description": "Indicates whether the operation was automated.",
            "example": false
          },
          "source": {
            "type": "string",
            "description": "The source from which the operation was initiated.",
            "example": "string"
          }
        },
        "description": "Schema representing audit information for an operation."
      },
      "MetaInfo": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "region": {
            "type": "string",
            "description": "The region relevant to the operation.",
            "example": "string"
          },
          "cacheHit": {
            "type": "boolean",
            "description": "Indicates whether the response was served from cache.",
            "example": false
          }
        },
        "description": "Schema for metadata related to the response."
      }
    },
    "parameters": {
      "locale": {
        "name": "locale",
        "in": "query",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "string",
          "example": "en-GB"
        },
        "example": "en-GB"
      },
      "region": {
        "name": "region",
        "in": "query",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "string",
          "example": "EU"
        },
        "example": "EU"
      },
      "traceLevel": {
        "name": "traceLevel",
        "in": "query",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "string",
          "example": "debug"
        },
        "example": "debug"
      },
      "validateOnly": {
        "name": "validateOnly",
        "in": "query",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "boolean",
          "example": false
        },
        "example": false
      },
      "includeDeleted": {
        "name": "includeDeleted",
        "in": "query",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "boolean",
          "example": true
        },
        "example": true
      },
      "x-tenant-id": {
        "name": "x-tenant-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "qa-dev"
        },
        "example": "qa-dev"
      },
      "x-debug-mode": {
        "name": "x-debug-mode",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-feature-flag": {
        "name": "x-feature-flag",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "drift-test"
        },
        "example": "drift-test"
      },
      "x-client-version": {
        "name": "x-client-version",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "integer",
          "example": 2
        },
        "example": 2
      },
      "x-correlation-id": {
        "name": "x-correlation-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "70ed440e-ebe8-41a9-bbd5-bac0868e4402"
        },
        "example": "70ed440e-ebe8-41a9-bbd5-bac0868e4402"
      },
      "x-idempotency-key": {
        "name": "x-idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "2ae76ca5-4857-4e31-a669-18f7238f817f"
        },
        "example": "2ae76ca5-4857-4e31-a669-18f7238f817f"
      },
      "x-request-priority": {
        "name": "x-request-priority",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "integer",
          "example": 4
        },
        "example": 4
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_driftdoc_200"
          ]
        }
      }
    },
    "headers": {
      "etag": {
        "description": "An identifier for a specific version of the resource. It can be used for caching purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "W/\"abc123\""
        },
        "example": "W/\"abc123\""
      },
      "x-served-by": {
        "description": "Indicates which server handled the request. This is useful for identifying the source of the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "node-7"
        },
        "example": "node-7"
      },
      "x-cache-status": {
        "description": "Provides the cache status of the response. This indicates whether the response was served from cache or fetched anew.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "MISS"
        },
        "example": "MISS"
      },
      "x-processing-time": {
        "description": "The time, in milliseconds, that the server spent processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "integer",
          "example": 378
        },
        "example": 378
      },
      "x-ratelimit-remaining": {
        "description": "The number of requests remaining in the current rate limit window.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "integer",
          "example": 99
        },
        "example": 99
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a bearer token, which is a string that is passed along with the request in order to authenticate the user and authorize access to protected resources.",
        "scheme": "bearer"
      }
    }
  }
}