{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-driftdoc-List Hotel Rooms Pricings-v1-spec",
    "description": "The Hotel Room Pricing Retrieval API provides a straightforward way for users to access current pricing information for hotel rooms. This API allows businesses, travel agencies, and developers to fetch detailed pricing data for various hotel rooms, enabling them to offer accurate booking information to customers. It supports efficient integration with applications that require live pricing updates, enhancing users' ability to compare and choose accommodations. Typical consumers include travel planners and booking platforms looking to streamline their reservation processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://engineering-nktb.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6ab9989ebe83af04b1781334",
      "x-basePath": "/"
    },
    {
      "url": "https://qa-data-gujl.apiwiz.io",
      "description": "driftdoc",
      "variables": {},
      "x-schema": "https://",
      "x-name": "driftdoc",
      "x-environmentName": "driftdoc",
      "x-hide": false,
      "x-environmentId": "6ab998adbe83af04b1781335",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/hotel/v1/rooms/pricing": {
      "get": {
        "tags": [
          "Room Management"
        ],
        "summary": "Retrieve the pricing details for rooms.",
        "description": "This endpoint allows you to fetch the current pricing information for available rooms, including any applicable discounts or surcharges. Use this resource to make informed pricing decisions.",
        "operationId": "listHotelRoomsPricings",
        "parameters": [
          {
            "$ref": "#/components/parameters/locale"
          },
          {
            "$ref": "#/components/parameters/region"
          },
          {
            "$ref": "#/components/parameters/traceLevel"
          },
          {
            "$ref": "#/components/parameters/includeDeleted"
          },
          {
            "$ref": "#/components/parameters/x-tenant-id"
          },
          {
            "$ref": "#/components/parameters/x-debug-mode"
          },
          {
            "$ref": "#/components/parameters/x-feature-flag"
          },
          {
            "$ref": "#/components/parameters/x-client-version"
          },
          {
            "$ref": "#/components/parameters/x-correlation-id"
          },
          {
            "$ref": "#/components/parameters/x-request-priority"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the pricing information for rooms. Ensure that the JSON payload adheres to the defined schema to provide the necessary data for the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListHotelRoomsPricingsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved room pricing information.",
            "headers": {
              "etag": {
                "$ref": "#/components/headers/etag"
              },
              "x-served-by": {
                "$ref": "#/components/headers/x-served-by"
              },
              "x-cache-status": {
                "$ref": "#/components/headers/x-cache-status"
              },
              "x-processing-time": {
                "$ref": "#/components/headers/x-processing-time"
              },
              "x-ratelimit-remaining": {
                "$ref": "#/components/headers/x-ratelimit-remaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListHotelRoomsPricingsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListHotelRoomsPricingsRequest": {
        "type": "string",
        "description": "The request body for the GET operation on room pricing. This schema specifies the format of the input data.",
        "example": "{}"
      },
      "ListHotelRoomsPricingsResponse_200": {
        "title": "Room Pricing API Response",
        "type": "object",
        "properties": {
          "status": {
            "type": "boolean",
            "description": "Indicates the success status of the operation.",
            "example": true
          },
          "referenceNumber": {
            "type": "string",
            "description": "A unique reference number for the request.",
            "example": "HOTEL-10003"
          },
          "resultId": {
            "type": "string",
            "description": "An identifier for the result of the operation.",
            "example": "b660b5a2-de05-4188-9854-3374e8f14945"
          },
          "state": {
            "type": "string",
            "description": "The current state of the operation.",
            "example": "FAILED"
          },
          "processingTimeMs": {
            "type": "integer",
            "description": "The time taken to process the request, in milliseconds.",
            "format": "int32",
            "example": 856
          },
          "message": {
            "type": "string",
            "description": "A message providing further details about the operation's outcome.",
            "example": "Request processed successfully"
          },
          "audit": {
            "description": "Information regarding the audit of the operation.",
            "$ref": "#/components/schemas/AuditInfo"
          },
          "warnings": {
            "type": "array",
            "description": "A list of warnings encountered during the operation.",
            "example": [
              "deprecated-field-used"
            ],
            "items": {
              "type": "string",
              "description": "A single warning message."
            }
          },
          "meta": {
            "description": "Metadata associated with the operation.",
            "$ref": "#/components/schemas/MetaInfo"
          }
        },
        "description": "Schema representing the response structure for the Room Pricing API.",
        "example": {
          "status": true,
          "referenceNumber": "HOTEL-10003",
          "resultId": "b660b5a2-de05-4188-9854-3374e8f14945",
          "state": "FAILED",
          "processingTimeMs": 856,
          "message": "Request processed successfully",
          "audit": {
            "createdBy": "SYSTEM",
            "createdAt": "2026-09-20T16:53:46+00:00",
            "automated": true,
            "source": "batch"
          },
          "warnings": [
            "deprecated-field-used"
          ],
          "meta": {
            "region": "EU",
            "cacheHit": false
          }
        }
      },
      "AuditInfo": {
        "type": "object",
        "properties": {
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user or system that created the entry.",
            "example": "string"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the entry was created.",
            "example": "string"
          },
          "automated": {
            "type": "boolean",
            "description": "Indicates if the operation was automated.",
            "example": false
          },
          "source": {
            "type": "string",
            "description": "The source from which the operation was initiated.",
            "example": "string"
          }
        },
        "description": "Audit information related to the operation."
      },
      "MetaInfo": {
        "type": "object",
        "properties": {
          "region": {
            "type": "string",
            "description": "The region associated with the operation.",
            "example": "string"
          },
          "cacheHit": {
            "type": "boolean",
            "description": "Indicates whether the data was retrieved from cache.",
            "example": false
          }
        },
        "description": "Metadata information related to the operation."
      }
    },
    "parameters": {
      "locale": {
        "name": "locale",
        "in": "query",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "string",
          "example": "en-GB"
        },
        "example": "en-GB"
      },
      "region": {
        "name": "region",
        "in": "query",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "string",
          "example": "EU"
        },
        "example": "EU"
      },
      "traceLevel": {
        "name": "traceLevel",
        "in": "query",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "string",
          "example": "debug"
        },
        "example": "debug"
      },
      "includeDeleted": {
        "name": "includeDeleted",
        "in": "query",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "boolean",
          "example": true
        },
        "example": true
      },
      "x-tenant-id": {
        "name": "x-tenant-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "qa-dev"
        },
        "example": "qa-dev"
      },
      "x-debug-mode": {
        "name": "x-debug-mode",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-feature-flag": {
        "name": "x-feature-flag",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "drift-test"
        },
        "example": "drift-test"
      },
      "x-client-version": {
        "name": "x-client-version",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "integer",
          "example": 4
        },
        "example": 4
      },
      "x-correlation-id": {
        "name": "x-correlation-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "c522a890-cb90-4bfb-b053-803e6ccf82b0"
        },
        "example": "c522a890-cb90-4bfb-b053-803e6ccf82b0"
      },
      "x-request-priority": {
        "name": "x-request-priority",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "integer",
          "example": 2
        },
        "example": 2
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_driftdoc_200"
          ]
        }
      }
    },
    "headers": {
      "etag": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "W/\"abc123\""
        },
        "example": "W/\"abc123\""
      },
      "x-served-by": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "node-7"
        },
        "example": "node-7"
      },
      "x-cache-status": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "MISS"
        },
        "example": "MISS"
      },
      "x-processing-time": {
        "description": "The time, in milliseconds, that the processing of the request took.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "integer",
          "example": 76
        },
        "example": 76
      },
      "x-ratelimit-remaining": {
        "description": "The number of requests remaining in the current rate limit window.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "integer",
          "example": 99
        },
        "example": 99
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication mechanism, allowing users to access protected resources by including a valid bearer token in the Authorization header of their requests.",
        "scheme": "bearer"
      }
    }
  }
}