{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-driftdoc-List Hotel Rooms Availabilitys-v1-spec",
    "description": "This API enables users to check the availability of hotel rooms. By querying the endpoint, consumers can obtain real-time information about which rooms are available for specified dates and criteria. This functionality is essential for travel agencies, booking platforms, and consumers looking to make reservations. Typical use cases include search functionalities in travel applications and integration into hotel management systems. The API provides a streamlined way to access critical availability data for enhanced user experiences.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://engineering-nktb.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6ab9989ebe83af04b1781334",
      "x-basePath": "/"
    },
    {
      "url": "https://qa-data-gujl.apiwiz.io",
      "description": "driftdoc",
      "variables": {},
      "x-schema": "https://",
      "x-name": "driftdoc",
      "x-environmentName": "driftdoc",
      "x-hide": false,
      "x-environmentId": "6ab998adbe83af04b1781335",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/hotel/v1/rooms/availability": {
      "get": {
        "tags": [
          "Room Management"
        ],
        "summary": "Retrieve Room Availability",
        "description": "This endpoint allows you to check the availability of rooms based on specified criteria. It provides detailed information to assist in booking decisions.",
        "operationId": "listHotelRoomsAvailabilitys",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/dateTo"
          },
          {
            "$ref": "#/components/parameters/locale"
          },
          {
            "$ref": "#/components/parameters/region"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/sortBy"
          },
          {
            "$ref": "#/components/parameters/status"
          },
          {
            "$ref": "#/components/parameters/dateFrom"
          },
          {
            "$ref": "#/components/parameters/sortOrder"
          },
          {
            "$ref": "#/components/parameters/traceLevel"
          },
          {
            "$ref": "#/components/parameters/includeDeleted"
          },
          {
            "$ref": "#/components/parameters/x-tenant-id"
          },
          {
            "$ref": "#/components/parameters/x-debug-mode"
          },
          {
            "$ref": "#/components/parameters/x-feature-flag"
          },
          {
            "$ref": "#/components/parameters/x-client-version"
          },
          {
            "$ref": "#/components/parameters/x-correlation-id"
          },
          {
            "$ref": "#/components/parameters/x-request-priority"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the availability of rooms. Ensure to specify all necessary parameters to get accurate availability information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListHotelRoomsAvailabilitysRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Availability data retrieved successfully.",
            "headers": {
              "etag": {
                "$ref": "#/components/headers/etag"
              },
              "x-served-by": {
                "$ref": "#/components/headers/x-served-by"
              },
              "x-cache-status": {
                "$ref": "#/components/headers/x-cache-status"
              },
              "x-processing-time": {
                "$ref": "#/components/headers/x-processing-time"
              },
              "x-ratelimit-remaining": {
                "$ref": "#/components/headers/x-ratelimit-remaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListHotelRoomsAvailabilitysResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListHotelRoomsAvailabilitysRequest": {
        "type": "string",
        "description": "This schema represents the request body for retrieving the availability of rooms via the GET operation.",
        "example": "{}"
      },
      "ListHotelRoomsAvailabilitysResponse_200": {
        "title": "Room Availability Response",
        "type": "object",
        "properties": {
          "status": {
            "type": "boolean",
            "description": "Indicates whether the request was successful.",
            "example": true
          },
          "items": {
            "type": "array",
            "description": "An array of room availability items.",
            "example": [
              {
                "id": "HOTEL-20001-0",
                "state": "PENDING",
                "updatedAt": "2026-09-20T10:00:00+00:00",
                "priorityScore": 0.0,
                "flags": [
                  "new"
                ]
              },
              {
                "id": "HOTEL-20001-1",
                "state": "PENDING",
                "updatedAt": "2026-09-20T10:00:00+00:00",
                "priorityScore": 1.5,
                "flags": [
                  "new"
                ]
              },
              {
                "id": "HOTEL-20001-2",
                "state": "PENDING",
                "updatedAt": "2026-09-20T10:00:00+00:00",
                "priorityScore": 3.0,
                "flags": [
                  "new"
                ]
              },
              {
                "id": "HOTEL-20001-3",
                "state": "PENDING",
                "updatedAt": "2026-09-20T10:00:00+00:00",
                "priorityScore": 4.5,
                "flags": [
                  "new"
                ]
              },
              {
                "id": "HOTEL-20001-4",
                "state": "PENDING",
                "updatedAt": "2026-09-20T10:00:00+00:00",
                "priorityScore": 6.0,
                "flags": [
                  "new"
                ]
              },
              {
                "id": "HOTEL-20001-5",
                "state": "PENDING",
                "updatedAt": "2026-09-20T10:00:00+00:00",
                "priorityScore": 7.5,
                "flags": [
                  "new"
                ]
              }
            ],
            "items": {
              "$ref": "#/components/schemas/RoomAvailabilityItem"
            }
          },
          "totalCount": {
            "type": "integer",
            "description": "Total number of available rooms.",
            "format": "int32",
            "example": 6
          },
          "page": {
            "type": "integer",
            "description": "Current page number of results.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Size of the page, i.e., number of items per page.",
            "format": "int32",
            "example": 20
          },
          "nextCursor": {
            "type": "string",
            "description": "Cursor for fetching the next page of results.",
            "example": "abc"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2026-09-20T10:00:00+00:00"
          }
        },
        "description": "Schema representing the response for the GET operation to check room availability.",
        "example": {
          "status": true,
          "items": [
            {
              "id": "HOTEL-20001-0",
              "state": "PENDING",
              "updatedAt": "2026-09-20T10:00:00+00:00",
              "priorityScore": 0.0,
              "flags": [
                "new"
              ]
            },
            {
              "id": "HOTEL-20001-1",
              "state": "PENDING",
              "updatedAt": "2026-09-20T10:00:00+00:00",
              "priorityScore": 1.5,
              "flags": [
                "new"
              ]
            },
            {
              "id": "HOTEL-20001-2",
              "state": "PENDING",
              "updatedAt": "2026-09-20T10:00:00+00:00",
              "priorityScore": 3.0,
              "flags": [
                "new"
              ]
            },
            {
              "id": "HOTEL-20001-3",
              "state": "PENDING",
              "updatedAt": "2026-09-20T10:00:00+00:00",
              "priorityScore": 4.5,
              "flags": [
                "new"
              ]
            },
            {
              "id": "HOTEL-20001-4",
              "state": "PENDING",
              "updatedAt": "2026-09-20T10:00:00+00:00",
              "priorityScore": 6.0,
              "flags": [
                "new"
              ]
            },
            {
              "id": "HOTEL-20001-5",
              "state": "PENDING",
              "updatedAt": "2026-09-20T10:00:00+00:00",
              "priorityScore": 7.5,
              "flags": [
                "new"
              ]
            }
          ],
          "totalCount": 6,
          "page": 1,
          "pageSize": 20,
          "nextCursor": "abc",
          "generatedAt": "2026-09-20T10:00:00+00:00"
        }
      },
      "RoomAvailabilityItem": {
        "title": "Room Availability Item",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the room.",
            "example": "string"
          },
          "state": {
            "type": "string",
            "description": "Current state of the room (e.g., available, occupied).",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the room status was last updated.",
            "example": "string"
          },
          "priorityScore": {
            "type": "number",
            "description": "The priority score for the room's availability.",
            "example": 0.0
          },
          "flags": {
            "type": "array",
            "description": "List of flags associated with the room.",
            "items": {
              "type": "string",
              "description": "Flag indicating specific attributes or statuses of the room.",
              "example": "string"
            }
          }
        },
        "description": "Schema representing an individual room availability item."
      }
    },
    "parameters": {
      "page": {
        "name": "page",
        "in": "query",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "string",
          "example": "3"
        },
        "example": "3"
      },
      "limit": {
        "name": "limit",
        "in": "query",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "integer",
          "example": 10
        },
        "example": 10
      },
      "dateTo": {
        "name": "dateTo",
        "in": "query",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "string",
          "example": "2026-01-12"
        },
        "example": "2026-01-12"
      },
      "locale": {
        "name": "locale",
        "in": "query",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "string",
          "example": "en-GB"
        },
        "example": "en-GB"
      },
      "region": {
        "name": "region",
        "in": "query",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "string",
          "example": "EU"
        },
        "example": "EU"
      },
      "search": {
        "name": "search",
        "in": "query",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "string",
          "example": "Brown"
        },
        "example": "Brown"
      },
      "sortBy": {
        "name": "sortBy",
        "in": "query",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "string",
          "example": "createdAt"
        },
        "example": "createdAt"
      },
      "status": {
        "name": "status",
        "in": "query",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "string",
          "example": "ACTIVE"
        },
        "example": "ACTIVE"
      },
      "dateFrom": {
        "name": "dateFrom",
        "in": "query",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "string",
          "example": "2025-11-18"
        },
        "example": "2025-11-18"
      },
      "sortOrder": {
        "name": "sortOrder",
        "in": "query",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "string",
          "example": "desc"
        },
        "example": "desc"
      },
      "traceLevel": {
        "name": "traceLevel",
        "in": "query",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "string",
          "example": "debug"
        },
        "example": "debug"
      },
      "includeDeleted": {
        "name": "includeDeleted",
        "in": "query",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "boolean",
          "example": true
        },
        "example": true
      },
      "x-tenant-id": {
        "name": "x-tenant-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "qa-dev"
        },
        "example": "qa-dev"
      },
      "x-debug-mode": {
        "name": "x-debug-mode",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-feature-flag": {
        "name": "x-feature-flag",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "drift-test"
        },
        "example": "drift-test"
      },
      "x-client-version": {
        "name": "x-client-version",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "integer",
          "example": 2
        },
        "example": 2
      },
      "x-correlation-id": {
        "name": "x-correlation-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "2aced188-fef3-44b5-9063-861b6c22c4a0"
        },
        "example": "2aced188-fef3-44b5-9063-861b6c22c4a0"
      },
      "x-request-priority": {
        "name": "x-request-priority",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "integer",
          "example": 4
        },
        "example": 4
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_driftdoc_200"
          ]
        }
      }
    },
    "headers": {
      "etag": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "W/\"abc123\""
        },
        "example": "W/\"abc123\""
      },
      "x-served-by": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "node-7"
        },
        "example": "node-7"
      },
      "x-cache-status": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "MISS"
        },
        "example": "MISS"
      },
      "x-processing-time": {
        "description": "Indicates the time taken to process the request, measured in milliseconds.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "integer",
          "example": 368
        },
        "example": 368
      },
      "x-ratelimit-remaining": {
        "description": "The number of requests remaining in the current rate limit window.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "integer",
          "example": 99
        },
        "example": 99
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication protocol, which requires a token to be included in the Authorization header of requests. Tokens are typically issued by an authorization server and contain the necessary claims and permissions to access the protected resources.",
        "scheme": "bearer"
      }
    }
  }
}