{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-driftdoc-List Hotel Rooms Searchs-v1-spec",
    "description": "The Hotel Room Search API allows users to find available hotel rooms based on specific criteria such as location, dates, and preferences. This service enables travelers, travel agencies, and booking platforms to efficiently access room options and availability. By leveraging this API, developers can integrate seamless search functionalities into their applications, providing users with the ability to view and compare different hotel room offerings. This enhances the overall user experience by simplifying the process of planning accommodations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://engineering-nktb.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6ab9989ebe83af04b1781334",
      "x-basePath": "/"
    },
    {
      "url": "https://qa-data-gujl.apiwiz.io",
      "description": "driftdoc",
      "variables": {},
      "x-schema": "https://",
      "x-name": "driftdoc",
      "x-environmentName": "driftdoc",
      "x-hide": false,
      "x-environmentId": "6ab998adbe83af04b1781335",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/hotel/v1/rooms/search": {
      "get": {
        "tags": [
          "Room Management"
        ],
        "summary": "Search for available rooms.",
        "description": "This endpoint allows users to search for available rooms based on specified criteria, such as date, location, and room type. Get the most relevant results for your accommodation needs.",
        "operationId": "listHotelRoomsSearchs",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/dateTo"
          },
          {
            "$ref": "#/components/parameters/locale"
          },
          {
            "$ref": "#/components/parameters/region"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/sortBy"
          },
          {
            "$ref": "#/components/parameters/status"
          },
          {
            "$ref": "#/components/parameters/dateFrom"
          },
          {
            "$ref": "#/components/parameters/sortOrder"
          },
          {
            "$ref": "#/components/parameters/traceLevel"
          },
          {
            "$ref": "#/components/parameters/includeDeleted"
          },
          {
            "$ref": "#/components/parameters/x-tenant-id"
          },
          {
            "$ref": "#/components/parameters/x-debug-mode"
          },
          {
            "$ref": "#/components/parameters/x-feature-flag"
          },
          {
            "$ref": "#/components/parameters/x-client-version"
          },
          {
            "$ref": "#/components/parameters/x-correlation-id"
          },
          {
            "$ref": "#/components/parameters/x-request-priority"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to specify search parameters for querying rooms. The structure of the JSON object should conform to the defined schema which outlines the fields required for the search operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListHotelRoomsSearchsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful request; returns the list of rooms based on the search criteria.",
            "headers": {
              "etag": {
                "$ref": "#/components/headers/etag"
              },
              "x-served-by": {
                "$ref": "#/components/headers/x-served-by"
              },
              "x-cache-status": {
                "$ref": "#/components/headers/x-cache-status"
              },
              "x-processing-time": {
                "$ref": "#/components/headers/x-processing-time"
              },
              "x-ratelimit-remaining": {
                "$ref": "#/components/headers/x-ratelimit-remaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListHotelRoomsSearchsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListHotelRoomsSearchsRequest": {
        "type": "string",
        "description": "The request body for the GET operation to search for rooms in a specific application format.",
        "example": "{}"
      },
      "ListHotelRoomsSearchsResponse_200": {
        "type": "object",
        "properties": {
          "status": {
            "type": "boolean",
            "description": "Indicates the success status of the request.",
            "example": true
          },
          "items": {
            "type": "array",
            "description": "List of room items retrieved from the search.",
            "example": [
              {
                "id": "HOTEL-20002-0",
                "state": "PENDING",
                "updatedAt": "2026-09-20T10:00:00+00:00",
                "priorityScore": 0.0,
                "flags": [
                  "new"
                ]
              },
              {
                "id": "HOTEL-20002-1",
                "state": "PENDING",
                "updatedAt": "2026-09-20T10:00:00+00:00",
                "priorityScore": 1.5,
                "flags": [
                  "new"
                ]
              },
              {
                "id": "HOTEL-20002-2",
                "state": "PENDING",
                "updatedAt": "2026-09-20T10:00:00+00:00",
                "priorityScore": 3.0,
                "flags": [
                  "new"
                ]
              },
              {
                "id": "HOTEL-20002-3",
                "state": "PENDING",
                "updatedAt": "2026-09-20T10:00:00+00:00",
                "priorityScore": 4.5,
                "flags": [
                  "new"
                ]
              },
              {
                "id": "HOTEL-20002-4",
                "state": "PENDING",
                "updatedAt": "2026-09-20T10:00:00+00:00",
                "priorityScore": 6.0,
                "flags": [
                  "new"
                ]
              },
              {
                "id": "HOTEL-20002-5",
                "state": "PENDING",
                "updatedAt": "2026-09-20T10:00:00+00:00",
                "priorityScore": 7.5,
                "flags": [
                  "new"
                ]
              },
              {
                "id": "HOTEL-20002-6",
                "state": "PENDING",
                "updatedAt": "2026-09-20T10:00:00+00:00",
                "priorityScore": 9.0,
                "flags": [
                  "new"
                ]
              }
            ],
            "items": {
              "$ref": "#/components/schemas/RoomItem"
            }
          },
          "totalCount": {
            "type": "integer",
            "description": "Total number of room items available.",
            "format": "int32",
            "example": 7
          },
          "page": {
            "type": "integer",
            "description": "Current page number in the paginated results.",
            "format": "int32",
            "example": 5
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page in the paginated results.",
            "format": "int32",
            "example": 25
          },
          "nextCursor": {
            "type": "string",
            "description": "Cursor for fetching the next set of results, if available.",
            "example": "def"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "2026-09-20T10:00:00+00:00"
          }
        },
        "description": "Response object for the successful retrieval of room search results.",
        "example": {
          "status": true,
          "items": [
            {
              "id": "HOTEL-20002-0",
              "state": "PENDING",
              "updatedAt": "2026-09-20T10:00:00+00:00",
              "priorityScore": 0.0,
              "flags": [
                "new"
              ]
            },
            {
              "id": "HOTEL-20002-1",
              "state": "PENDING",
              "updatedAt": "2026-09-20T10:00:00+00:00",
              "priorityScore": 1.5,
              "flags": [
                "new"
              ]
            },
            {
              "id": "HOTEL-20002-2",
              "state": "PENDING",
              "updatedAt": "2026-09-20T10:00:00+00:00",
              "priorityScore": 3.0,
              "flags": [
                "new"
              ]
            },
            {
              "id": "HOTEL-20002-3",
              "state": "PENDING",
              "updatedAt": "2026-09-20T10:00:00+00:00",
              "priorityScore": 4.5,
              "flags": [
                "new"
              ]
            },
            {
              "id": "HOTEL-20002-4",
              "state": "PENDING",
              "updatedAt": "2026-09-20T10:00:00+00:00",
              "priorityScore": 6.0,
              "flags": [
                "new"
              ]
            },
            {
              "id": "HOTEL-20002-5",
              "state": "PENDING",
              "updatedAt": "2026-09-20T10:00:00+00:00",
              "priorityScore": 7.5,
              "flags": [
                "new"
              ]
            },
            {
              "id": "HOTEL-20002-6",
              "state": "PENDING",
              "updatedAt": "2026-09-20T10:00:00+00:00",
              "priorityScore": 9.0,
              "flags": [
                "new"
              ]
            }
          ],
          "totalCount": 7,
          "page": 5,
          "pageSize": 25,
          "nextCursor": "def",
          "generatedAt": "2026-09-20T10:00:00+00:00"
        }
      },
      "RoomItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the room.",
            "example": "string"
          },
          "state": {
            "type": "string",
            "description": "Current state or condition of the room.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update for this room item.",
            "example": "string"
          },
          "priorityScore": {
            "type": "number",
            "description": "Score representing the priority of the room, based on certain criteria.",
            "example": 0.0
          },
          "flags": {
            "type": "array",
            "description": "List of flags or tags associated with the room.",
            "example": [],
            "items": {
              "type": "string",
              "description": "Individual flag associated with the room.",
              "example": "string"
            }
          }
        },
        "description": "Detailed information for each room item in the search results."
      }
    },
    "parameters": {
      "page": {
        "name": "page",
        "in": "query",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "integer",
          "example": 1
        },
        "example": 1
      },
      "limit": {
        "name": "limit",
        "in": "query",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "integer",
          "example": 10
        },
        "example": 10
      },
      "dateTo": {
        "name": "dateTo",
        "in": "query",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "string",
          "example": "2026-01-11"
        },
        "example": "2026-01-11"
      },
      "locale": {
        "name": "locale",
        "in": "query",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "string",
          "example": "en-GB"
        },
        "example": "en-GB"
      },
      "region": {
        "name": "region",
        "in": "query",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "string",
          "example": "EU"
        },
        "example": "EU"
      },
      "search": {
        "name": "search",
        "in": "query",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "string",
          "example": "Johnson"
        },
        "example": "Johnson"
      },
      "sortBy": {
        "name": "sortBy",
        "in": "query",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "string",
          "example": "createdAt"
        },
        "example": "createdAt"
      },
      "status": {
        "name": "status",
        "in": "query",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "string",
          "example": "ACTIVE"
        },
        "example": "ACTIVE"
      },
      "dateFrom": {
        "name": "dateFrom",
        "in": "query",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "string",
          "example": "2025-12-15"
        },
        "example": "2025-12-15"
      },
      "sortOrder": {
        "name": "sortOrder",
        "in": "query",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "string",
          "example": "asc"
        },
        "example": "asc"
      },
      "traceLevel": {
        "name": "traceLevel",
        "in": "query",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "string",
          "example": "debug"
        },
        "example": "debug"
      },
      "includeDeleted": {
        "name": "includeDeleted",
        "in": "query",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "boolean",
          "example": true
        },
        "example": true
      },
      "x-tenant-id": {
        "name": "x-tenant-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "qa-dev"
        },
        "example": "qa-dev"
      },
      "x-debug-mode": {
        "name": "x-debug-mode",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-feature-flag": {
        "name": "x-feature-flag",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "drift-test"
        },
        "example": "drift-test"
      },
      "x-client-version": {
        "name": "x-client-version",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "integer",
          "example": 1
        },
        "example": 1
      },
      "x-correlation-id": {
        "name": "x-correlation-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "7e39760b-3648-435c-bf55-34588ec6d154"
        },
        "example": "7e39760b-3648-435c-bf55-34588ec6d154"
      },
      "x-request-priority": {
        "name": "x-request-priority",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "integer",
          "example": 5
        },
        "example": 5
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_driftdoc_200"
          ]
        }
      }
    },
    "headers": {
      "etag": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "W/\"abc123\""
        },
        "example": "W/\"abc123\""
      },
      "x-served-by": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "node-7"
        },
        "example": "node-7"
      },
      "x-cache-status": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "MISS"
        },
        "example": "MISS"
      },
      "x-processing-time": {
        "description": "The amount of time in milliseconds that the server took to process the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "integer",
          "example": 172
        },
        "example": 172
      },
      "x-ratelimit-remaining": {
        "description": "The number of requests remaining in the current rate limit window for the user.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "integer",
          "example": 99
        },
        "example": 99
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes bearer authentication, which requires the client to include a token in the Authorization header when making requests. The bearer token is typically obtained after successful authentication and should be kept confidential.",
        "scheme": "bearer"
      }
    }
  }
}