{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-driftdoc-Create Hotel Rooms Confirm-v1-spec",
    "description": "The Hotel Room Confirmation API facilitates the booking confirmation process for hotel rooms. It allows users to confirm reservations, ensuring that the booking details are accurately processed and secured. This API is designed for use by travel agencies, booking platforms, and any application that manages hotel room reservations. By providing a streamlined confirmation process, businesses can enhance customer satisfaction and operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://engineering-nktb.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6ab9989ebe83af04b1781334",
      "x-basePath": "/"
    },
    {
      "url": "https://qa-data-gujl.apiwiz.io",
      "description": "driftdoc",
      "variables": {},
      "x-schema": "https://",
      "x-name": "driftdoc",
      "x-environmentName": "driftdoc",
      "x-hide": false,
      "x-environmentId": "6ab998adbe83af04b1781335",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/hotel/v1/rooms/confirm": {
      "post": {
        "tags": [
          "Room Management"
        ],
        "summary": "Confirm a room reservation",
        "description": "This endpoint allows users to confirm their room reservation. Upon confirmation, the reservation status will be updated, and users will receive a confirmation notification.",
        "operationId": "createHotelRoomsConfirm",
        "parameters": [
          {
            "$ref": "#/components/parameters/locale"
          },
          {
            "$ref": "#/components/parameters/region"
          },
          {
            "$ref": "#/components/parameters/traceLevel"
          },
          {
            "$ref": "#/components/parameters/validateOnly"
          },
          {
            "$ref": "#/components/parameters/includeDeleted"
          },
          {
            "$ref": "#/components/parameters/x-tenant-id"
          },
          {
            "$ref": "#/components/parameters/x-debug-mode"
          },
          {
            "$ref": "#/components/parameters/x-feature-flag"
          },
          {
            "$ref": "#/components/parameters/x-client-version"
          },
          {
            "$ref": "#/components/parameters/x-correlation-id"
          },
          {
            "$ref": "#/components/parameters/x-idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-request-priority"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to confirm a room reservation. It includes necessary details such as room ID, customer information, and any additional preferences for the booking.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateHotelRoomsConfirmRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Request completed successfully, no content returned.",
            "headers": {
              "etag": {
                "$ref": "#/components/headers/etag"
              },
              "x-served-by": {
                "$ref": "#/components/headers/x-served-by"
              },
              "x-cache-status": {
                "$ref": "#/components/headers/x-cache-status"
              },
              "x-processing-time": {
                "$ref": "#/components/headers/x-processing-time"
              },
              "x-ratelimit-remaining": {
                "$ref": "#/components/headers/x-ratelimit-remaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateHotelRoomsConfirmResponse_204"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateHotelRoomsConfirmRequest": {
        "title": "Room Confirmation Request",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "7d48d9e1-7680-429d-a059-2749f256dfc2"
          },
          "referenceNumber": {
            "type": "string",
            "description": "Reference number associated with the request.",
            "example": "HOTEL-10005"
          },
          "customer": {
            "description": "Information about the customer making the request.",
            "$ref": "#/components/schemas/Customer"
          },
          "resource": {
            "type": "string",
            "description": "The resource identifier for the room being confirmed.",
            "example": "rooms/confirm"
          },
          "priority": {
            "type": "integer",
            "description": "Priority level of the request.",
            "format": "int32",
            "example": 1
          },
          "amount": {
            "type": "number",
            "description": "Monetary amount related to the request.",
            "example": 344.45
          },
          "currency": {
            "type": "string",
            "description": "Currency type for the amount.",
            "example": "EUR"
          },
          "notificationRequired": {
            "type": "boolean",
            "description": "Indicates if notification is required for the request.",
            "example": false
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2026-09-20T20:20:39+00:00"
          },
          "channel": {
            "type": "string",
            "description": "Channel through which the request is made.",
            "example": "MOBILE_APP"
          },
          "recordIndex": {
            "type": "integer",
            "description": "Index of the record associated with the request.",
            "format": "int32",
            "example": 4
          },
          "promoCode": {
            "type": "string",
            "description": "Promotional code applicable to the request.",
            "example": "AUTUMN26"
          },
          "guests": {
            "description": "Information about the guests associated with the room operation.",
            "$ref": "#/components/schemas/Guests"
          },
          "specialRequests": {
            "type": "array",
            "description": "List of special requests made by the customer.",
            "example": [
              "late-checkin",
              "high-floor"
            ],
            "items": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "description": "A request body for confirming a room operation.",
        "example": {
          "requestId": "7d48d9e1-7680-429d-a059-2749f256dfc2",
          "referenceNumber": "HOTEL-10005",
          "customer": {
            "firstName": "Paul",
            "lastName": "Smith",
            "email": "paul.smith700@example.com",
            "vipCustomer": false,
            "customerAge": 65,
            "loyaltyTier": "GOLD",
            "phone": "+44 20 7946 0000"
          },
          "resource": "rooms/confirm",
          "priority": 1,
          "amount": 344.45,
          "currency": "EUR",
          "notificationRequired": false,
          "requestedAt": "2026-09-20T20:20:39+00:00",
          "channel": "MOBILE_APP",
          "recordIndex": 4,
          "promoCode": "AUTUMN26",
          "guests": {
            "adults": 2,
            "children": 1
          },
          "specialRequests": [
            "late-checkin",
            "high-floor"
          ]
        }
      },
      "Customer": {
        "title": "Customer Information",
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string",
            "description": "First name of the customer.",
            "example": "John"
          },
          "lastName": {
            "type": "string",
            "description": "Last name of the customer.",
            "example": "Doe"
          },
          "email": {
            "type": "string",
            "description": "Email address of the customer.",
            "example": "john.doe@example.com"
          },
          "vipCustomer": {
            "type": "boolean",
            "description": "Indicates if the customer is a VIP.",
            "example": false
          },
          "customerAge": {
            "type": "integer",
            "description": "Age of the customer.",
            "format": "int32",
            "example": 30
          },
          "loyaltyTier": {
            "type": "string",
            "description": "Loyalty tier of the customer.",
            "example": "Gold"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the customer.",
            "example": "123-456-7890"
          }
        },
        "description": "Details about the customer making the request."
      },
      "Guests": {
        "title": "Guest Information",
        "type": "object",
        "properties": {
          "adults": {
            "type": "integer",
            "description": "Number of adult guests.",
            "format": "int32",
            "example": 2
          },
          "children": {
            "type": "integer",
            "description": "Number of child guests.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Details about the guests associated with the room operation."
      },
      "CreateHotelRoomsConfirmResponse_204": {
        "type": "object",
        "properties": {
          "status": {
            "type": "boolean",
            "description": "Indicates the success status of the operation.",
            "example": true
          },
          "referenceNumber": {
            "type": "string",
            "description": "Unique reference number generated for the operation.",
            "example": "HOTEL-10005"
          },
          "resultId": {
            "type": "string",
            "description": "Identifier for the result of the operation.",
            "example": "87a64fcd-9f2b-484d-9e79-a7379b8aa803"
          },
          "state": {
            "type": "string",
            "description": "Current state of the operation.",
            "example": "ACTIVE"
          },
          "processingTimeMs": {
            "type": "integer",
            "description": "Time taken to process the operation in milliseconds.",
            "format": "int32",
            "example": 856
          },
          "message": {
            "type": "string",
            "description": "Message providing additional details about the operation.",
            "example": "Request processed successfully"
          },
          "audit": {
            "description": "Audit details related to the operation.",
            "$ref": "#/components/schemas/Audit"
          },
          "warnings": {
            "type": "array",
            "description": "List of warnings encountered during the operation.",
            "example": [
              "deprecated-field-used"
            ],
            "items": {
              "type": "string",
              "description": "Warning message."
            }
          },
          "meta": {
            "description": "Metadata associated with the operation.",
            "$ref": "#/components/schemas/Meta"
          }
        },
        "description": "Response schema for the confirmation operation after posting room data.",
        "example": {
          "status": true,
          "referenceNumber": "HOTEL-10005",
          "resultId": "87a64fcd-9f2b-484d-9e79-a7379b8aa803",
          "state": "ACTIVE",
          "processingTimeMs": 856,
          "message": "Request processed successfully",
          "audit": {
            "createdBy": "SYSTEM",
            "createdAt": "2026-09-20T16:53:46+00:00",
            "automated": true,
            "source": "batch"
          },
          "warnings": [
            "deprecated-field-used"
          ],
          "meta": {
            "region": "EU",
            "cacheHit": false
          }
        }
      },
      "Audit": {
        "type": "object",
        "properties": {
          "createdBy": {
            "type": "string",
            "description": "User or system that created the entry.",
            "example": "string"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the entry was created.",
            "example": "string"
          },
          "automated": {
            "type": "boolean",
            "description": "Indicates if the operation was automated.",
            "example": false
          },
          "source": {
            "type": "string",
            "description": "Source from which the operation originated.",
            "example": "string"
          }
        },
        "description": "Contains audit information for the operation."
      },
      "Meta": {
        "type": "object",
        "properties": {
          "region": {
            "type": "string",
            "description": "Geographical region relevant to the operation.",
            "example": "string"
          },
          "cacheHit": {
            "type": "boolean",
            "description": "Indicates if the response was served from cache.",
            "example": false
          }
        },
        "description": "Contains metadata related to the response."
      }
    },
    "parameters": {
      "locale": {
        "name": "locale",
        "in": "query",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "string",
          "example": "en-GB"
        },
        "example": "en-GB"
      },
      "region": {
        "name": "region",
        "in": "query",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "string",
          "example": "EU"
        },
        "example": "EU"
      },
      "traceLevel": {
        "name": "traceLevel",
        "in": "query",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "string",
          "example": "debug"
        },
        "example": "debug"
      },
      "validateOnly": {
        "name": "validateOnly",
        "in": "query",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "boolean",
          "example": false
        },
        "example": false
      },
      "includeDeleted": {
        "name": "includeDeleted",
        "in": "query",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "boolean",
          "example": true
        },
        "example": true
      },
      "x-tenant-id": {
        "name": "x-tenant-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "qa-dev"
        },
        "example": "qa-dev"
      },
      "x-debug-mode": {
        "name": "x-debug-mode",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-feature-flag": {
        "name": "x-feature-flag",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "drift-test"
        },
        "example": "drift-test"
      },
      "x-client-version": {
        "name": "x-client-version",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "integer",
          "example": 1
        },
        "example": 1
      },
      "x-correlation-id": {
        "name": "x-correlation-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "33397c6c-97fa-4e1a-9e9d-fcf0fdab54c6"
        },
        "example": "33397c6c-97fa-4e1a-9e9d-fcf0fdab54c6"
      },
      "x-idempotency-key": {
        "name": "x-idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "3fbfdc01-0821-4165-834a-a3f2da3e7250"
        },
        "example": "3fbfdc01-0821-4165-834a-a3f2da3e7250"
      },
      "x-request-priority": {
        "name": "x-request-priority",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "integer",
          "example": 3
        },
        "example": 3
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_driftdoc_204"
          ]
        }
      }
    },
    "headers": {
      "etag": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "W/\"abc123\""
        },
        "example": "W/\"abc123\""
      },
      "x-served-by": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "node-7"
        },
        "example": "node-7"
      },
      "x-cache-status": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "MISS"
        },
        "example": "MISS"
      },
      "x-processing-time": {
        "description": "The time, in milliseconds, taken to process the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "integer",
          "example": 97
        },
        "example": 97
      },
      "x-ratelimit-remaining": {
        "description": "The number of remaining requests allowed in the current rate limit window.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "integer",
          "example": 99
        },
        "example": 99
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses HTTP Bearer Authentication, where the client must include a bearer token in the 'Authorization' header of requests to authenticate themselves. The bearer token is typically a JSON Web Token (JWT) or a similar token granted by the authorization server.",
        "scheme": "bearer"
      }
    }
  }
}