{
  "openapi": "3.0.1",
  "info": {
    "title": "WORKFLOW_Sandbox_Hotel Room Availability API",
    "description": "This API enables hotels to manage and update room availability in real-time. Hotels can submit availability information for different room types, thereby aiding in accurate booking processes. Typical consumers include hotel management systems and travel agencies that require up-to-date room status for customer bookings. By utilizing this API, businesses can enhance their operational efficiency and improve customer satisfaction through timely updates.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/hotel/v1/rooms/availability": {
      "post": {
        "tags": [
          "Room Management"
        ],
        "summary": "Check room availability",
        "description": "This endpoint allows you to check the availability of rooms based on specified criteria. It returns whether the requested rooms are available for the desired dates and any relevant details.",
        "operationId": "checkRoomAvailability",
        "parameters": [
          {
            "$ref": "#/components/parameters/origin"
          },
          {
            "$ref": "#/components/parameters/status"
          },
          {
            "$ref": "#/components/parameters/referer"
          },
          {
            "$ref": "#/components/parameters/priority"
          },
          {
            "$ref": "#/components/parameters/x-tenant"
          },
          {
            "$ref": "#/components/parameters/sec-ch-ua"
          },
          {
            "$ref": "#/components/parameters/x-request-id"
          },
          {
            "$ref": "#/components/parameters/sec-fetch-dest"
          },
          {
            "$ref": "#/components/parameters/sec-fetch-mode"
          },
          {
            "$ref": "#/components/parameters/sec-fetch-site"
          },
          {
            "$ref": "#/components/parameters/accept-language"
          },
          {
            "$ref": "#/components/parameters/sec-ch-ua-mobile"
          },
          {
            "$ref": "#/components/parameters/sec-ch-ua-platform"
          },
          {
            "$ref": "#/components/parameters/x-application-type"
          },
          {
            "$ref": "#/components/parameters/x-envoy-attempt-count"
          },
          {
            "$ref": "#/components/parameters/x-envoy-peer-metadata"
          },
          {
            "$ref": "#/components/parameters/x-apiwiz-enable-events"
          },
          {
            "$ref": "#/components/parameters/x-envoy-external-address"
          },
          {
            "$ref": "#/components/parameters/x-envoy-peer-metadata-id"
          },
          {
            "$ref": "#/components/parameters/x-envoy-decorator-operation"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "responses": {
          "500": {
            "description": "An unexpected server error occurred while processing the request.",
            "headers": {
              "x-log-id": {
                "$ref": "#/components/headers/x-log-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WORKFLOW_Sandbox_checkRoomAvailability-CheckRoomAvailabilityResponse_500"
                }
              }
            }
          },
          "400": {
            "description": "The request contains invalid parameters or data.",
            "headers": {
              "x-log-id": {
                "$ref": "#/components/headers/x-log-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WORKFLOW_Sandbox_checkRoomAvailability-CheckRoomAvailabilityResponse_400"
                }
              }
            }
          },
          "200": {
            "description": "The request was successful and the room availability data is returned.",
            "headers": {
              "x-log-id": {
                "$ref": "#/components/headers/x-log-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WORKFLOW_Sandbox_checkRoomAvailability-CheckRoomAvailabilityResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "WORKFLOW_Sandbox_checkRoomAvailability-CheckRoomAvailabilityResponse_500": {
        "title": "Room Availability Error Response",
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "The status of the response, indicating success or failure.",
            "example": "error"
          },
          "statusCode": {
            "type": "integer",
            "description": "The HTTP status code representing the result of the operation.",
            "format": "int32",
            "example": 500
          },
          "error": {
            "type": "string",
            "description": "A short description of the error that occurred.",
            "example": "InternalServerError"
          },
          "message": {
            "type": "string",
            "description": "A detailed message providing more context about the error.",
            "example": "An unexpected error occurred while checking room availability"
          },
          "errorCode": {
            "type": "string",
            "description": "A unique code associated with the specific error for troubleshooting.",
            "example": "ROOM_AVAILABILITY_SERVICE_ERROR"
          },
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the API request, useful for tracking and debugging.",
            "example": "req_7c91e4a2"
          },
          "timestamp": {
            "type": "string",
            "description": "The timestamp of when the error occurred, in ISO 8601 format.",
            "example": "2026-08-14T16:53:27Z"
          },
          "service": {
            "type": "string",
            "description": "The name of the service where the error originated.",
            "example": "hotel-availability-service"
          },
          "operation": {
            "type": "string",
            "description": "The name of the operation attempted that resulted in the error.",
            "example": "getRoomAvailability"
          },
          "hotelId": {
            "type": "string",
            "description": "The ID of the hotel for which room availability was queried.",
            "example": "HTL100245"
          },
          "roomType": {
            "type": "string",
            "description": "The type of room associated with the availability request.",
            "example": "Deluxe King"
          },
          "retryable": {
            "type": "boolean",
            "description": "Indicates whether the request can be retried after this error.",
            "example": true
          },
          "details": {
            "type": "string",
            "description": "Additional details or context regarding the error.",
            "example": "Unable to retrieve room availability from the inventory service"
          }
        },
        "description": "This schema represents the structure of the error response for a failed room availability operation.",
        "example": {
          "status": "error",
          "statusCode": 500,
          "error": "InternalServerError",
          "message": "An unexpected error occurred while checking room availability",
          "errorCode": "ROOM_AVAILABILITY_SERVICE_ERROR",
          "requestId": "req_7c91e4a2",
          "timestamp": "2026-08-14T16:53:27Z",
          "service": "hotel-availability-service",
          "operation": "getRoomAvailability",
          "hotelId": "HTL100245",
          "roomType": "Deluxe King",
          "retryable": true,
          "details": "Unable to retrieve room availability from the inventory service"
        }
      },
      "WORKFLOW_Sandbox_checkRoomAvailability-CheckRoomAvailabilityResponse_400": {
        "title": "Error Response for Room Availability Operation",
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Indicates the status of the response.",
            "example": "error"
          },
          "statusCode": {
            "type": "integer",
            "description": "The HTTP status code for the response.",
            "format": "int32",
            "example": 400
          },
          "error": {
            "type": "string",
            "description": "A brief description of the error that occurred.",
            "example": "BadRequest"
          },
          "message": {
            "type": "string",
            "description": "A detailed message about the error.",
            "example": "Invalid room availability request"
          },
          "errorCode": {
            "type": "string",
            "description": "A specific error code associated with the error.",
            "example": "INVALID_REQUEST"
          },
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req_8f3a7c21"
          },
          "timestamp": {
            "type": "string",
            "description": "The timestamp when the error occurred.",
            "example": "2026-08-14T16:53:10Z"
          },
          "field": {
            "type": "string",
            "description": "The field in the request that caused the validation error.",
            "example": "checkInDate"
          },
          "reason": {
            "type": "string",
            "description": "The reason for the validation error.",
            "example": "checkInDate must be earlier than checkOutDate"
          },
          "checkInDate": {
            "type": "string",
            "description": "The requested check-in date.",
            "example": "2026-08-22"
          },
          "checkOutDate": {
            "type": "string",
            "description": "The requested check-out date.",
            "example": "2026-08-20"
          },
          "hotelId": {
            "type": "string",
            "description": "The ID of the hotel for which the availability is being checked.",
            "example": "HTL100245"
          },
          "validationErrors": {
            "type": "array",
            "description": "A list of specific validation errors that were encountered.",
            "example": [
              {
                "field": "checkInDate",
                "message": "Check-in date must be before check-out date"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/WORKFLOW_Sandbox_checkRoomAvailability-ValidationError"
            }
          }
        },
        "description": "This schema represents the error response returned when there is a Bad Request (HTTP status code 400) for the room availability operation.",
        "example": {
          "status": "error",
          "statusCode": 400,
          "error": "BadRequest",
          "message": "Invalid room availability request",
          "errorCode": "INVALID_REQUEST",
          "requestId": "req_8f3a7c21",
          "timestamp": "2026-08-14T16:53:10Z",
          "field": "checkInDate",
          "reason": "checkInDate must be earlier than checkOutDate",
          "checkInDate": "2026-08-22",
          "checkOutDate": "2026-08-20",
          "hotelId": "HTL100245",
          "validationErrors": [
            {
              "field": "checkInDate",
              "message": "Check-in date must be before check-out date"
            }
          ]
        }
      },
      "WORKFLOW_Sandbox_checkRoomAvailability-ValidationError": {
        "title": "Validation Error",
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "description": "The field that has the validation error.",
            "example": "checkInDate"
          },
          "message": {
            "type": "string",
            "description": "The error message associated with the validation error.",
            "example": "Check-in date cannot be in the past."
          }
        },
        "description": "This schema represents a validation error that occurs when the request data is invalid."
      },
      "WORKFLOW_Sandbox_checkRoomAvailability-CheckRoomAvailabilityResponse_200": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "The status of the availability request.",
            "example": "success"
          },
          "hotelId": {
            "type": "string",
            "description": "The unique identifier for the hotel.",
            "example": "HTL100245"
          },
          "hotelName": {
            "type": "string",
            "description": "The name of the hotel.",
            "example": "Grand Palace Hotel"
          },
          "checkInDate": {
            "type": "string",
            "description": "The check-in date in ISO 8601 format.",
            "example": "2026-08-20"
          },
          "checkOutDate": {
            "type": "string",
            "description": "The check-out date in ISO 8601 format.",
            "example": "2026-08-22"
          },
          "currency": {
            "type": "string",
            "description": "The currency used for the pricing.",
            "example": "USD"
          },
          "roomsAvailable": {
            "type": "integer",
            "description": "The total number of rooms available.",
            "format": "int32",
            "example": 12
          },
          "roomType": {
            "type": "string",
            "description": "The type of the room available.",
            "example": "Deluxe King"
          },
          "roomTypeCode": {
            "type": "string",
            "description": "The code representing the room type.",
            "example": "DLX-KING"
          },
          "maxOccupancy": {
            "type": "integer",
            "description": "The maximum number of guests allowed in the room.",
            "format": "int32",
            "example": 2
          },
          "availableUnits": {
            "type": "integer",
            "description": "The number of available units for the room type.",
            "format": "int32",
            "example": 4
          },
          "nightlyRate": {
            "type": "number",
            "description": "The nightly rate for the room.",
            "example": 149.99
          },
          "totalAmount": {
            "type": "number",
            "description": "The total amount for the booking, before taxes.",
            "example": 299.98
          },
          "taxAmount": {
            "type": "number",
            "description": "The total tax amount applicable to the booking.",
            "example": 36.0
          },
          "totalAmountWithTax": {
            "type": "number",
            "description": "The total amount for the booking, including taxes.",
            "example": 335.98
          },
          "refundable": {
            "type": "boolean",
            "description": "Indicates if the booking is refundable.",
            "example": true
          },
          "breakfastIncluded": {
            "type": "boolean",
            "description": "Indicates if breakfast is included in the room rate.",
            "example": true
          },
          "cancellationPolicy": {
            "type": "string",
            "description": "The cancellation policy for the booking.",
            "example": "Free cancellation until 2026-08-18"
          },
          "amenities": {
            "type": "array",
            "description": "A list of amenities available with the room.",
            "example": [
              "WiFi",
              "Air Conditioning",
              "TV",
              "Mini Bar"
            ],
            "items": {
              "type": "string",
              "description": "An individual amenity.",
              "example": "Free WiFi"
            }
          }
        },
        "description": "Schema representing the availability response for hotel room operations.",
        "example": {
          "status": "success",
          "hotelId": "HTL100245",
          "hotelName": "Grand Palace Hotel",
          "checkInDate": "2026-08-20",
          "checkOutDate": "2026-08-22",
          "currency": "USD",
          "roomsAvailable": 12,
          "roomType": "Deluxe King",
          "roomTypeCode": "DLX-KING",
          "maxOccupancy": 2,
          "availableUnits": 4,
          "nightlyRate": 149.99,
          "totalAmount": 299.98,
          "taxAmount": 36.0,
          "totalAmountWithTax": 335.98,
          "refundable": true,
          "breakfastIncluded": true,
          "cancellationPolicy": "Free cancellation until 2026-08-18",
          "amenities": [
            "WiFi",
            "Air Conditioning",
            "TV",
            "Mini Bar"
          ]
        }
      }
    },
    "parameters": {
      "origin": {
        "name": "origin",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "https://prod-workspace.apiwiz.io"
        },
        "example": "https://prod-workspace.apiwiz.io"
      },
      "status": {
        "name": "status",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "200"
        },
        "example": "200"
      },
      "referer": {
        "name": "referer",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "https://prod-workspace.apiwiz.io/api-sandbox"
        },
        "example": "https://prod-workspace.apiwiz.io/api-sandbox"
      },
      "priority": {
        "name": "priority",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "u=1, i"
        },
        "example": "u=1, i"
      },
      "x-tenant": {
        "name": "x-tenant",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "prod-workspace"
        },
        "example": "prod-workspace"
      },
      "sec-ch-ua": {
        "name": "sec-ch-ua",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "\"Not=A?Brand\";v=\"99\", \"Google Chrome\";v=\"151\", \"Chromium\";v=\"151\""
        },
        "example": "\"Not=A?Brand\";v=\"99\", \"Google Chrome\";v=\"151\", \"Chromium\";v=\"151\""
      },
      "x-request-id": {
        "name": "x-request-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "50fab754-b1f3-4783-94b4-1bdf6973dbef"
        },
        "example": "50fab754-b1f3-4783-94b4-1bdf6973dbef"
      },
      "sec-fetch-dest": {
        "name": "sec-fetch-dest",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "empty"
        },
        "example": "empty"
      },
      "sec-fetch-mode": {
        "name": "sec-fetch-mode",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cors"
        },
        "example": "cors"
      },
      "sec-fetch-site": {
        "name": "sec-fetch-site",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "same-site"
        },
        "example": "same-site"
      },
      "accept-language": {
        "name": "accept-language",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "en-GB,en-US;q=0.9,en;q=0.8"
        },
        "example": "en-GB,en-US;q=0.9,en;q=0.8"
      },
      "sec-ch-ua-mobile": {
        "name": "sec-ch-ua-mobile",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "?0"
        },
        "example": "?0"
      },
      "sec-ch-ua-platform": {
        "name": "sec-ch-ua-platform",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "\"macOS\""
        },
        "example": "\"macOS\""
      },
      "x-application-type": {
        "name": "x-application-type",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ApiSandbox"
        },
        "example": "ApiSandbox"
      },
      "x-envoy-attempt-count": {
        "name": "x-envoy-attempt-count",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-envoy-peer-metadata": {
        "name": "x-envoy-peer-metadata",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ChoKCkNMVVNURVJfSUQSDBoKS3ViZXJuZXRlcwquAQoGTEFCRUxTEqMBKqABCh0KA2FwcBIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQo5Ch9zZXJ2aWNlLmlzdGlvLmlvL2Nhbm9uaWNhbC1uYW1lEhYaFGlzdGlvLWluZ3Jlc3NnYXRld2F5Ci8KI3NlcnZpY2UuaXN0aW8uaW8vY2Fub25pY2FsLXJldmlzaW9uEggaBjEtMzAtMAoTCgd2ZXJzaW9uEggaBjEuMzAuMAouCgROQU1FEiYaJGlzdGlvLWluZ3Jlc3NnYXRld2F5LTlkZDQ2YjU4Yi10Y3R6cwobCglOQU1FU1BBQ0USDhoMaXN0aW8tc3lzdGVtCl0KBU9XTkVSElQaUmt1YmVybmV0ZXM6Ly9hcGlzL2FwcHMvdjEvbmFtZXNwYWNlcy9pc3Rpby1zeXN0ZW0vZGVwbG95bWVudHMvaXN0aW8taW5ncmVzc2dhdGV3YXkKJwoNV09SS0xPQURfTkFNRRIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQ=="
        },
        "example": "ChoKCkNMVVNURVJfSUQSDBoKS3ViZXJuZXRlcwquAQoGTEFCRUxTEqMBKqABCh0KA2FwcBIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQo5Ch9zZXJ2aWNlLmlzdGlvLmlvL2Nhbm9uaWNhbC1uYW1lEhYaFGlzdGlvLWluZ3Jlc3NnYXRld2F5Ci8KI3NlcnZpY2UuaXN0aW8uaW8vY2Fub25pY2FsLXJldmlzaW9uEggaBjEtMzAtMAoTCgd2ZXJzaW9uEggaBjEuMzAuMAouCgROQU1FEiYaJGlzdGlvLWluZ3Jlc3NnYXRld2F5LTlkZDQ2YjU4Yi10Y3R6cwobCglOQU1FU1BBQ0USDhoMaXN0aW8tc3lzdGVtCl0KBU9XTkVSElQaUmt1YmVybmV0ZXM6Ly9hcGlzL2FwcHMvdjEvbmFtZXNwYWNlcy9pc3Rpby1zeXN0ZW0vZGVwbG95bWVudHMvaXN0aW8taW5ncmVzc2dhdGV3YXkKJwoNV09SS0xPQURfTkFNRRIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQ=="
      },
      "x-apiwiz-enable-events": {
        "name": "x-apiwiz-enable-events",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-envoy-external-address": {
        "name": "x-envoy-external-address",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "27.61.44.220"
        },
        "example": "27.61.44.220"
      },
      "x-envoy-peer-metadata-id": {
        "name": "x-envoy-peer-metadata-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "router~10.10.185.143~istio-ingressgateway-9dd46b58b-tctzs.istio-system~istio-system.svc.cluster.local"
        },
        "example": "router~10.10.185.143~istio-ingressgateway-9dd46b58b-tctzs.istio-system~istio-system.svc.cluster.local"
      },
      "x-envoy-decorator-operation": {
        "name": "x-envoy-decorator-operation",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "apibuilder-agent.apiwiz-system.svc.cluster.local:8000/*"
        },
        "example": "apibuilder-agent.apiwiz-system.svc.cluster.local:8000/*"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "_500",
            "_400",
            "_200"
          ]
        }
      }
    },
    "headers": {
      "x-log-id": {
        "description": "A unique identifier for the log entry related to the successful 200 response. This can assist in monitoring and tracking successful transactions.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "6a81c6e602c4796f336980e7"
        },
        "example": "6a81c6e602c4796f336980e7"
      }
    }
  }
}