{
  "openapi": "3.0.1",
  "info": {
    "title": "WORKFLOW_Sandbox_Room Availability Management API",
    "description": "The Room Availability Management API facilitates businesses in checking and managing the availability of hotel rooms. This API allows users to submit requests to determine room availability based on specific criteria such as dates and room types. Ideal for travel agencies and booking platforms, it integrates seamlessly into reservation systems, providing real-time data to improve user experiences. By leveraging this API, businesses can ensure accurate availability updates helping to optimize bookings and enhance customer satisfaction.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/hotel/v1/rooms/availability": {
      "post": {
        "tags": [
          "Room Management"
        ],
        "summary": "Check availability of rooms",
        "description": "This endpoint allows users to verify the availability of rooms based on specified criteria. It returns the current availability status, helping users make informed decisions when booking accommodations.",
        "operationId": "checkRoomAvailability",
        "parameters": [
          {
            "$ref": "#/components/parameters/origin"
          },
          {
            "$ref": "#/components/parameters/status"
          },
          {
            "$ref": "#/components/parameters/referer"
          },
          {
            "$ref": "#/components/parameters/priority"
          },
          {
            "$ref": "#/components/parameters/x-tenant"
          },
          {
            "$ref": "#/components/parameters/sec-ch-ua"
          },
          {
            "$ref": "#/components/parameters/x-request-id"
          },
          {
            "$ref": "#/components/parameters/sec-fetch-dest"
          },
          {
            "$ref": "#/components/parameters/sec-fetch-mode"
          },
          {
            "$ref": "#/components/parameters/sec-fetch-site"
          },
          {
            "$ref": "#/components/parameters/accept-language"
          },
          {
            "$ref": "#/components/parameters/sec-ch-ua-mobile"
          },
          {
            "$ref": "#/components/parameters/sec-ch-ua-platform"
          },
          {
            "$ref": "#/components/parameters/x-application-type"
          },
          {
            "$ref": "#/components/parameters/x-envoy-attempt-count"
          },
          {
            "$ref": "#/components/parameters/x-envoy-peer-metadata"
          },
          {
            "$ref": "#/components/parameters/x-apiwiz-enable-events"
          },
          {
            "$ref": "#/components/parameters/x-envoy-external-address"
          },
          {
            "$ref": "#/components/parameters/x-envoy-peer-metadata-id"
          },
          {
            "$ref": "#/components/parameters/x-envoy-decorator-operation"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "responses": {
          "400": {
            "description": "The request parameters are invalid.",
            "headers": {
              "x-log-id": {
                "$ref": "#/components/headers/x-log-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WORKFLOW_Sandbox_checkRoomAvailability-CheckRoomAvailabilityResponse_400"
                }
              }
            }
          },
          "200": {
            "description": "The availability request completed successfully.",
            "headers": {
              "x-log-id": {
                "$ref": "#/components/headers/x-log-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WORKFLOW_Sandbox_checkRoomAvailability-CheckRoomAvailabilityResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "WORKFLOW_Sandbox_checkRoomAvailability-CheckRoomAvailabilityResponse_400": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "The status of the response indicating success or failure.",
            "example": "error"
          },
          "statusCode": {
            "type": "integer",
            "description": "The HTTP status code of the response.",
            "format": "int32",
            "example": 400
          },
          "error": {
            "type": "string",
            "description": "Short description of the error occurred.",
            "example": "BadRequest"
          },
          "message": {
            "type": "string",
            "description": "Detailed message describing the nature of the error.",
            "example": "Invalid room availability request"
          },
          "errorCode": {
            "type": "string",
            "description": "A specific error code associated with the error type.",
            "example": "INVALID_REQUEST"
          },
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req_8f3a7c21"
          },
          "timestamp": {
            "type": "string",
            "description": "The time at which the error occurred in ISO 8601 format.",
            "example": "2026-08-14T16:53:10Z"
          },
          "field": {
            "type": "string",
            "description": "The specific field that caused the validation error, if applicable.",
            "example": "checkInDate"
          },
          "reason": {
            "type": "string",
            "description": "The reason for the failure, providing more context.",
            "example": "checkInDate must be earlier than checkOutDate"
          },
          "checkInDate": {
            "type": "string",
            "description": "The intended check-in date for the room.",
            "example": "2026-08-22"
          },
          "checkOutDate": {
            "type": "string",
            "description": "The intended check-out date for the room.",
            "example": "2026-08-20"
          },
          "hotelId": {
            "type": "string",
            "description": "The unique identifier of the hotel being queried.",
            "example": "HTL100245"
          },
          "validationErrors": {
            "type": "array",
            "description": "List of validation errors that occurred.",
            "example": [
              {
                "field": "checkInDate",
                "message": "Check-in date must be before check-out date"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/WORKFLOW_Sandbox_checkRoomAvailability-ValidationError"
            }
          }
        },
        "description": "Schema representing the response for a failed request to check room availability.",
        "example": {
          "status": "error",
          "statusCode": 400,
          "error": "BadRequest",
          "message": "Invalid room availability request",
          "errorCode": "INVALID_REQUEST",
          "requestId": "req_8f3a7c21",
          "timestamp": "2026-08-14T16:53:10Z",
          "field": "checkInDate",
          "reason": "checkInDate must be earlier than checkOutDate",
          "checkInDate": "2026-08-22",
          "checkOutDate": "2026-08-20",
          "hotelId": "HTL100245",
          "validationErrors": [
            {
              "field": "checkInDate",
              "message": "Check-in date must be before check-out date"
            }
          ]
        }
      },
      "WORKFLOW_Sandbox_checkRoomAvailability-ValidationError": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "description": "The name of the field associated with the validation error.",
            "example": "checkInDate"
          },
          "message": {
            "type": "string",
            "description": "The error message describing the validation issue.",
            "example": "Check-in date cannot be in the past."
          }
        },
        "description": "Schema representing a single validation error."
      },
      "WORKFLOW_Sandbox_checkRoomAvailability-CheckRoomAvailabilityResponse_200": {
        "title": "Room Availability Response",
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "The status of the availability check, e.g., 'Available' or 'Not Available'.",
            "example": "success"
          },
          "hotelId": {
            "type": "string",
            "description": "The unique identifier for the hotel.",
            "example": "HTL100245"
          },
          "hotelName": {
            "type": "string",
            "description": "The name of the hotel.",
            "example": "Grand Palace Hotel"
          },
          "checkInDate": {
            "type": "string",
            "description": "The date when the guest is expected to check-in.",
            "example": "2026-08-20"
          },
          "checkOutDate": {
            "type": "string",
            "description": "The date when the guest is expected to check-out.",
            "example": "2026-08-22"
          },
          "currency": {
            "type": "string",
            "description": "The currency code for the pricing, e.g., 'USD', 'EUR'.",
            "example": "USD"
          },
          "roomsAvailable": {
            "type": "integer",
            "description": "The number of rooms available for booking.",
            "format": "int32",
            "example": 12
          },
          "roomType": {
            "type": "string",
            "description": "The type of the room available, e.g., 'Deluxe', 'Standard'.",
            "example": "Deluxe King"
          },
          "roomTypeCode": {
            "type": "string",
            "description": "An internal code representing the room type.",
            "example": "DLX-KING"
          },
          "maxOccupancy": {
            "type": "integer",
            "description": "The maximum number of occupants allowed in the room.",
            "format": "int32",
            "example": 2
          },
          "availableUnits": {
            "type": "integer",
            "description": "The number of available units of the specific room type.",
            "format": "int32",
            "example": 4
          },
          "nightlyRate": {
            "type": "number",
            "description": "The nightly rate for the room before taxes.",
            "example": 149.99
          },
          "totalAmount": {
            "type": "number",
            "description": "The total amount for the stay before taxes.",
            "example": 299.98
          },
          "taxAmount": {
            "type": "number",
            "description": "The total amount of taxes applied to the booking.",
            "example": 36.0
          },
          "totalAmountWithTax": {
            "type": "number",
            "description": "The total amount including taxes.",
            "example": 335.98
          },
          "refundable": {
            "type": "boolean",
            "description": "Indicates whether the booking is refundable.",
            "example": true
          },
          "breakfastIncluded": {
            "type": "boolean",
            "description": "Indicates whether breakfast is included in the room rate.",
            "example": true
          },
          "cancellationPolicy": {
            "type": "string",
            "description": "The cancellation policy for the booking.",
            "example": "Free cancellation until 2026-08-18"
          },
          "amenities": {
            "type": "array",
            "description": "List of amenities available with the room.",
            "example": [
              "WiFi",
              "Air Conditioning",
              "TV",
              "Mini Bar"
            ],
            "items": {
              "type": "string",
              "description": "Each amenity provided with the room.",
              "example": "Free Wi-Fi"
            }
          }
        },
        "description": "Schema representing the availability response for room operations in a hotel including details such as status, hotel information, and room pricing.",
        "example": {
          "status": "success",
          "hotelId": "HTL100245",
          "hotelName": "Grand Palace Hotel",
          "checkInDate": "2026-08-20",
          "checkOutDate": "2026-08-22",
          "currency": "USD",
          "roomsAvailable": 12,
          "roomType": "Deluxe King",
          "roomTypeCode": "DLX-KING",
          "maxOccupancy": 2,
          "availableUnits": 4,
          "nightlyRate": 149.99,
          "totalAmount": 299.98,
          "taxAmount": 36.0,
          "totalAmountWithTax": 335.98,
          "refundable": true,
          "breakfastIncluded": true,
          "cancellationPolicy": "Free cancellation until 2026-08-18",
          "amenities": [
            "WiFi",
            "Air Conditioning",
            "TV",
            "Mini Bar"
          ]
        }
      }
    },
    "parameters": {
      "origin": {
        "name": "origin",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "https://prod-workspace.apiwiz.io"
        },
        "example": "https://prod-workspace.apiwiz.io"
      },
      "status": {
        "name": "status",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "200"
        },
        "example": "200"
      },
      "referer": {
        "name": "referer",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "https://prod-workspace.apiwiz.io/api-sandbox"
        },
        "example": "https://prod-workspace.apiwiz.io/api-sandbox"
      },
      "priority": {
        "name": "priority",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "u=1, i"
        },
        "example": "u=1, i"
      },
      "x-tenant": {
        "name": "x-tenant",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "prod-workspace"
        },
        "example": "prod-workspace"
      },
      "sec-ch-ua": {
        "name": "sec-ch-ua",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "\"Not=A?Brand\";v=\"99\", \"Google Chrome\";v=\"151\", \"Chromium\";v=\"151\""
        },
        "example": "\"Not=A?Brand\";v=\"99\", \"Google Chrome\";v=\"151\", \"Chromium\";v=\"151\""
      },
      "x-request-id": {
        "name": "x-request-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "6332a9a4-aea2-4f7a-8c4b-94ff4e07d63f"
        },
        "example": "6332a9a4-aea2-4f7a-8c4b-94ff4e07d63f"
      },
      "sec-fetch-dest": {
        "name": "sec-fetch-dest",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "empty"
        },
        "example": "empty"
      },
      "sec-fetch-mode": {
        "name": "sec-fetch-mode",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cors"
        },
        "example": "cors"
      },
      "sec-fetch-site": {
        "name": "sec-fetch-site",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "same-site"
        },
        "example": "same-site"
      },
      "accept-language": {
        "name": "accept-language",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "en-GB,en-US;q=0.9,en;q=0.8"
        },
        "example": "en-GB,en-US;q=0.9,en;q=0.8"
      },
      "sec-ch-ua-mobile": {
        "name": "sec-ch-ua-mobile",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "?0"
        },
        "example": "?0"
      },
      "sec-ch-ua-platform": {
        "name": "sec-ch-ua-platform",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "\"macOS\""
        },
        "example": "\"macOS\""
      },
      "x-application-type": {
        "name": "x-application-type",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ApiSandbox"
        },
        "example": "ApiSandbox"
      },
      "x-envoy-attempt-count": {
        "name": "x-envoy-attempt-count",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-envoy-peer-metadata": {
        "name": "x-envoy-peer-metadata",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ChoKCkNMVVNURVJfSUQSDBoKS3ViZXJuZXRlcwquAQoGTEFCRUxTEqMBKqABCh0KA2FwcBIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQo5Ch9zZXJ2aWNlLmlzdGlvLmlvL2Nhbm9uaWNhbC1uYW1lEhYaFGlzdGlvLWluZ3Jlc3NnYXRld2F5Ci8KI3NlcnZpY2UuaXN0aW8uaW8vY2Fub25pY2FsLXJldmlzaW9uEggaBjEtMzAtMAoTCgd2ZXJzaW9uEggaBjEuMzAuMAouCgROQU1FEiYaJGlzdGlvLWluZ3Jlc3NnYXRld2F5LTlkZDQ2YjU4Yi10Y3R6cwobCglOQU1FU1BBQ0USDhoMaXN0aW8tc3lzdGVtCl0KBU9XTkVSElQaUmt1YmVybmV0ZXM6Ly9hcGlzL2FwcHMvdjEvbmFtZXNwYWNlcy9pc3Rpby1zeXN0ZW0vZGVwbG95bWVudHMvaXN0aW8taW5ncmVzc2dhdGV3YXkKJwoNV09SS0xPQURfTkFNRRIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQ=="
        },
        "example": "ChoKCkNMVVNURVJfSUQSDBoKS3ViZXJuZXRlcwquAQoGTEFCRUxTEqMBKqABCh0KA2FwcBIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQo5Ch9zZXJ2aWNlLmlzdGlvLmlvL2Nhbm9uaWNhbC1uYW1lEhYaFGlzdGlvLWluZ3Jlc3NnYXRld2F5Ci8KI3NlcnZpY2UuaXN0aW8uaW8vY2Fub25pY2FsLXJldmlzaW9uEggaBjEtMzAtMAoTCgd2ZXJzaW9uEggaBjEuMzAuMAouCgROQU1FEiYaJGlzdGlvLWluZ3Jlc3NnYXRld2F5LTlkZDQ2YjU4Yi10Y3R6cwobCglOQU1FU1BBQ0USDhoMaXN0aW8tc3lzdGVtCl0KBU9XTkVSElQaUmt1YmVybmV0ZXM6Ly9hcGlzL2FwcHMvdjEvbmFtZXNwYWNlcy9pc3Rpby1zeXN0ZW0vZGVwbG95bWVudHMvaXN0aW8taW5ncmVzc2dhdGV3YXkKJwoNV09SS0xPQURfTkFNRRIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQ=="
      },
      "x-apiwiz-enable-events": {
        "name": "x-apiwiz-enable-events",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-envoy-external-address": {
        "name": "x-envoy-external-address",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "27.61.44.220"
        },
        "example": "27.61.44.220"
      },
      "x-envoy-peer-metadata-id": {
        "name": "x-envoy-peer-metadata-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "router~10.10.185.143~istio-ingressgateway-9dd46b58b-tctzs.istio-system~istio-system.svc.cluster.local"
        },
        "example": "router~10.10.185.143~istio-ingressgateway-9dd46b58b-tctzs.istio-system~istio-system.svc.cluster.local"
      },
      "x-envoy-decorator-operation": {
        "name": "x-envoy-decorator-operation",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "apibuilder-agent.apiwiz-system.svc.cluster.local:8000/*"
        },
        "example": "apibuilder-agent.apiwiz-system.svc.cluster.local:8000/*"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "WORKFLOW_Sandbox_400",
            "WORKFLOW_Sandbox_200"
          ]
        }
      }
    },
    "headers": {
      "x-log-id": {
        "description": "A unique identifier for the log entry associated with this successful request. This allows tracking of successful operations across the system.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "6a81c38c02c4796f33697f4d"
        },
        "example": "6a81c38c02c4796f33697f4d"
      }
    }
  }
}