{
  "openapi": "3.0.1",
  "info": {
    "title": "WORKFLOW_Sandbox_Hotel Room Availability API",
    "description": "The Check Hotel Room Availability API allows users to inquire about available rooms at a hotel for specific dates and preferences. This API serves travel agencies, booking platforms, and hotel management systems, enabling them to provide real-time information regarding room availability. By submitting requests with parameters such as check-in and check-out dates, users receive accurate availability data, enhancing the booking experience. It is essential for businesses looking to streamline operations and improve customer service in the hospitality industry.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/hotel/v1/rooms/availability": {
      "post": {
        "tags": [
          "Room Management"
        ],
        "summary": "Check Room Availability",
        "description": "This endpoint allows users to check the availability of rooms based on specific criteria. It provides information on which rooms are available for the given dates and requirements.",
        "operationId": "checkRoomAvailability",
        "parameters": [
          {
            "$ref": "#/components/parameters/origin"
          },
          {
            "$ref": "#/components/parameters/status"
          },
          {
            "$ref": "#/components/parameters/referer"
          },
          {
            "$ref": "#/components/parameters/priority"
          },
          {
            "$ref": "#/components/parameters/x-tenant"
          },
          {
            "$ref": "#/components/parameters/sec-ch-ua"
          },
          {
            "$ref": "#/components/parameters/x-request-id"
          },
          {
            "$ref": "#/components/parameters/sec-fetch-dest"
          },
          {
            "$ref": "#/components/parameters/sec-fetch-mode"
          },
          {
            "$ref": "#/components/parameters/sec-fetch-site"
          },
          {
            "$ref": "#/components/parameters/accept-language"
          },
          {
            "$ref": "#/components/parameters/sec-ch-ua-mobile"
          },
          {
            "$ref": "#/components/parameters/sec-ch-ua-platform"
          },
          {
            "$ref": "#/components/parameters/x-application-type"
          },
          {
            "$ref": "#/components/parameters/x-envoy-attempt-count"
          },
          {
            "$ref": "#/components/parameters/x-envoy-peer-metadata"
          },
          {
            "$ref": "#/components/parameters/x-apiwiz-enable-events"
          },
          {
            "$ref": "#/components/parameters/x-envoy-external-address"
          },
          {
            "$ref": "#/components/parameters/x-envoy-peer-metadata-id"
          },
          {
            "$ref": "#/components/parameters/x-envoy-decorator-operation"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to check the availability of rooms based on specified criteria. Please provide the required parameters to receive availability information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WORKFLOW_Sandbox_checkRoomAvailability-CheckRoomAvailabilityRequest"
              }
            }
          }
        },
        "responses": {
          "404": {
            "description": "The requested resource is not available.",
            "headers": {
              "x-log-id": {
                "$ref": "#/components/headers/x-log-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WORKFLOW_Sandbox_checkRoomAvailability-CheckRoomAvailabilityResponse_404"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred on the server.",
            "headers": {
              "x-log-id": {
                "$ref": "#/components/headers/x-log-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WORKFLOW_Sandbox_checkRoomAvailability-CheckRoomAvailabilityResponse_500"
                }
              }
            }
          },
          "400": {
            "description": "The request contains invalid parameters.",
            "headers": {
              "x-log-id": {
                "$ref": "#/components/headers/x-log-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WORKFLOW_Sandbox_checkRoomAvailability-CheckRoomAvailabilityResponse_400"
                }
              }
            }
          },
          "200": {
            "description": "Room availability successfully retrieved.",
            "headers": {
              "x-log-id": {
                "$ref": "#/components/headers/x-log-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WORKFLOW_Sandbox_checkRoomAvailability-CheckRoomAvailabilityResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "WORKFLOW_Sandbox_checkRoomAvailability-CheckRoomAvailabilityRequest": {
        "type": "string",
        "description": "This schema represents the request body for checking the availability of rooms. The expected input is a string in a predefined format that contains the required information to process the availability request.",
        "example": "{}"
      },
      "WORKFLOW_Sandbox_checkRoomAvailability-CheckRoomAvailabilityResponse_404": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "A descriptive error message indicating that the requested resource was not found.",
            "example": "Service category not found"
          }
        },
        "description": "Response schema for a 404 error when attempting to access room availability.",
        "example": {
          "message": "Service category not found"
        }
      },
      "WORKFLOW_Sandbox_checkRoomAvailability-CheckRoomAvailabilityResponse_500": {
        "title": "Room Availability Error Response",
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "A brief message indicating the status of the response.",
            "example": "error"
          },
          "statusCode": {
            "type": "integer",
            "description": "An integer representing the status code of the error.",
            "format": "int32",
            "example": 500
          },
          "error": {
            "type": "string",
            "description": "A short description of the error.",
            "example": "InternalServerError"
          },
          "message": {
            "type": "string",
            "description": "A detailed message explaining the error.",
            "example": "An unexpected error occurred while checking room availability"
          },
          "errorCode": {
            "type": "string",
            "description": "A specific code identifying the type of error.",
            "example": "ROOM_AVAILABILITY_SERVICE_ERROR"
          },
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request, useful for tracking and debugging.",
            "example": "req_7c91e4a2"
          },
          "timestamp": {
            "type": "string",
            "description": "The time at which the error occurred, in ISO 8601 format.",
            "example": "2026-08-14T16:53:27Z"
          },
          "service": {
            "type": "string",
            "description": "The name of the service that generated the error.",
            "example": "hotel-availability-service"
          },
          "operation": {
            "type": "string",
            "description": "The name of the operation that caused the error.",
            "example": "getRoomAvailability"
          },
          "hotelId": {
            "type": "string",
            "description": "The identifier of the hotel related to the operation.",
            "example": "HTL100245"
          },
          "roomType": {
            "type": "string",
            "description": "The type of room that was being requested.",
            "example": "Deluxe King"
          },
          "retryable": {
            "type": "boolean",
            "description": "Indicates whether the request can be retried.",
            "example": true
          },
          "details": {
            "type": "string",
            "description": "Additional details about the error, if available.",
            "example": "Unable to retrieve room availability from the inventory service"
          }
        },
        "description": "This schema represents the error response structure when a room availability operation fails.",
        "example": {
          "status": "error",
          "statusCode": 500,
          "error": "InternalServerError",
          "message": "An unexpected error occurred while checking room availability",
          "errorCode": "ROOM_AVAILABILITY_SERVICE_ERROR",
          "requestId": "req_7c91e4a2",
          "timestamp": "2026-08-14T16:53:27Z",
          "service": "hotel-availability-service",
          "operation": "getRoomAvailability",
          "hotelId": "HTL100245",
          "roomType": "Deluxe King",
          "retryable": true,
          "details": "Unable to retrieve room availability from the inventory service"
        }
      },
      "WORKFLOW_Sandbox_checkRoomAvailability-CheckRoomAvailabilityResponse_400": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "The status of the response.",
            "example": "error"
          },
          "statusCode": {
            "type": "integer",
            "description": "The HTTP status code.",
            "format": "int32",
            "example": 400
          },
          "error": {
            "type": "string",
            "description": "A concise error message indicating the issue.",
            "example": "BadRequest"
          },
          "message": {
            "type": "string",
            "description": "A detailed message containing more information about the error.",
            "example": "Invalid room availability request"
          },
          "errorCode": {
            "type": "string",
            "description": "An application-specific error code.",
            "example": "INVALID_REQUEST"
          },
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request, useful for tracing.",
            "example": "req_8f3a7c21"
          },
          "timestamp": {
            "type": "string",
            "description": "The timestamp when the error occurred.",
            "example": "2026-08-14T16:53:10Z"
          },
          "field": {
            "type": "string",
            "description": "The specific field in the request that caused the error.",
            "example": "checkInDate"
          },
          "reason": {
            "type": "string",
            "description": "The reason for the error, providing context.",
            "example": "checkInDate must be earlier than checkOutDate"
          },
          "checkInDate": {
            "type": "string",
            "description": "The intended check-in date provided by the user.",
            "example": "2026-08-22"
          },
          "checkOutDate": {
            "type": "string",
            "description": "The intended check-out date provided by the user.",
            "example": "2026-08-20"
          },
          "hotelId": {
            "type": "string",
            "description": "The identifier of the hotel for which availability is being checked.",
            "example": "HTL100245"
          },
          "validationErrors": {
            "type": "array",
            "description": "List of validation errors that provide more specific information.",
            "example": [
              {
                "field": "checkInDate",
                "message": "Check-in date must be before check-out date"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/WORKFLOW_Sandbox_checkRoomAvailability-ValidationError"
            }
          }
        },
        "description": "Schema representing the response for a failed availability check request.",
        "example": {
          "status": "error",
          "statusCode": 400,
          "error": "BadRequest",
          "message": "Invalid room availability request",
          "errorCode": "INVALID_REQUEST",
          "requestId": "req_8f3a7c21",
          "timestamp": "2026-08-14T16:53:10Z",
          "field": "checkInDate",
          "reason": "checkInDate must be earlier than checkOutDate",
          "checkInDate": "2026-08-22",
          "checkOutDate": "2026-08-20",
          "hotelId": "HTL100245",
          "validationErrors": [
            {
              "field": "checkInDate",
              "message": "Check-in date must be before check-out date"
            }
          ]
        }
      },
      "WORKFLOW_Sandbox_checkRoomAvailability-ValidationError": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "description": "The name of the field that triggered the validation error.",
            "example": "checkInDate"
          },
          "message": {
            "type": "string",
            "description": "A message explaining the validation error.",
            "example": "Check-in date cannot be in the past."
          }
        },
        "description": "Schema representing an individual validation error."
      },
      "WORKFLOW_Sandbox_checkRoomAvailability-CheckRoomAvailabilityResponse_200": {
        "title": "Room Availability Response",
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "The status of the availability request.",
            "example": "success"
          },
          "hotelId": {
            "type": "string",
            "description": "The unique identifier for the hotel.",
            "example": "HTL100245"
          },
          "hotelName": {
            "type": "string",
            "description": "The name of the hotel.",
            "example": "Grand Palace Hotel"
          },
          "checkInDate": {
            "type": "string",
            "description": "The check-in date for the booking in ISO 8601 format.",
            "example": "2026-08-20"
          },
          "checkOutDate": {
            "type": "string",
            "description": "The check-out date for the booking in ISO 8601 format.",
            "example": "2026-08-22"
          },
          "currency": {
            "type": "string",
            "description": "The currency code for pricing, following ISO 4217 standards.",
            "example": "USD"
          },
          "roomsAvailable": {
            "type": "integer",
            "description": "The number of rooms available for booking.",
            "format": "int32",
            "example": 12
          },
          "roomType": {
            "type": "string",
            "description": "The type of room available.",
            "example": "Deluxe King"
          },
          "roomTypeCode": {
            "type": "string",
            "description": "The code representing the type of room.",
            "example": "DLX-KING"
          },
          "maxOccupancy": {
            "type": "integer",
            "description": "The maximum occupancy allowed in the room.",
            "format": "int32",
            "example": 2
          },
          "availableUnits": {
            "type": "integer",
            "description": "The number of units available for the specified room type.",
            "format": "int32",
            "example": 4
          },
          "nightlyRate": {
            "type": "number",
            "description": "The rate per night for the room.",
            "example": 149.99
          },
          "totalAmount": {
            "type": "number",
            "description": "The total amount for the stay, excluding taxes.",
            "example": 299.98
          },
          "taxAmount": {
            "type": "number",
            "description": "The total tax amount applied to the booking.",
            "example": 36.0
          },
          "totalAmountWithTax": {
            "type": "number",
            "description": "The total amount that includes taxes.",
            "example": 335.98
          },
          "refundable": {
            "type": "boolean",
            "description": "Indicates whether the booking is refundable.",
            "example": true
          },
          "breakfastIncluded": {
            "type": "boolean",
            "description": "Indicates whether breakfast is included in the room rate.",
            "example": true
          },
          "cancellationPolicy": {
            "type": "string",
            "description": "Details of the cancellation policy for the room booking.",
            "example": "Free cancellation until 2026-08-18"
          },
          "amenities": {
            "type": "array",
            "description": "List of amenities available with the room.",
            "example": [
              "WiFi",
              "Air Conditioning",
              "TV",
              "Mini Bar"
            ],
            "items": {
              "type": "string",
              "description": "An individual amenity available with the room.",
              "example": "Free Wi-Fi"
            }
          }
        },
        "description": "This schema represents the response structure for room availability operations.",
        "example": {
          "status": "success",
          "hotelId": "HTL100245",
          "hotelName": "Grand Palace Hotel",
          "checkInDate": "2026-08-20",
          "checkOutDate": "2026-08-22",
          "currency": "USD",
          "roomsAvailable": 12,
          "roomType": "Deluxe King",
          "roomTypeCode": "DLX-KING",
          "maxOccupancy": 2,
          "availableUnits": 4,
          "nightlyRate": 149.99,
          "totalAmount": 299.98,
          "taxAmount": 36.0,
          "totalAmountWithTax": 335.98,
          "refundable": true,
          "breakfastIncluded": true,
          "cancellationPolicy": "Free cancellation until 2026-08-18",
          "amenities": [
            "WiFi",
            "Air Conditioning",
            "TV",
            "Mini Bar"
          ]
        }
      }
    },
    "parameters": {
      "origin": {
        "name": "origin",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "https://prod-workspace.apiwiz.io"
        },
        "example": "https://prod-workspace.apiwiz.io"
      },
      "status": {
        "name": "status",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "200"
        },
        "example": "200"
      },
      "referer": {
        "name": "referer",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "https://prod-workspace.apiwiz.io/api-sandbox"
        },
        "example": "https://prod-workspace.apiwiz.io/api-sandbox"
      },
      "priority": {
        "name": "priority",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "u=1, i"
        },
        "example": "u=1, i"
      },
      "x-tenant": {
        "name": "x-tenant",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "prod-workspace"
        },
        "example": "prod-workspace"
      },
      "sec-ch-ua": {
        "name": "sec-ch-ua",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "\"Not=A?Brand\";v=\"99\", \"Google Chrome\";v=\"151\", \"Chromium\";v=\"151\""
        },
        "example": "\"Not=A?Brand\";v=\"99\", \"Google Chrome\";v=\"151\", \"Chromium\";v=\"151\""
      },
      "x-request-id": {
        "name": "x-request-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "50fab754-b1f3-4783-94b4-1bdf6973dbef"
        },
        "example": "50fab754-b1f3-4783-94b4-1bdf6973dbef"
      },
      "sec-fetch-dest": {
        "name": "sec-fetch-dest",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "empty"
        },
        "example": "empty"
      },
      "sec-fetch-mode": {
        "name": "sec-fetch-mode",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cors"
        },
        "example": "cors"
      },
      "sec-fetch-site": {
        "name": "sec-fetch-site",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "same-site"
        },
        "example": "same-site"
      },
      "accept-language": {
        "name": "accept-language",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "en-GB,en-US;q=0.9,en;q=0.8"
        },
        "example": "en-GB,en-US;q=0.9,en;q=0.8"
      },
      "sec-ch-ua-mobile": {
        "name": "sec-ch-ua-mobile",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "?0"
        },
        "example": "?0"
      },
      "sec-ch-ua-platform": {
        "name": "sec-ch-ua-platform",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "\"macOS\""
        },
        "example": "\"macOS\""
      },
      "x-application-type": {
        "name": "x-application-type",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ApiSandbox"
        },
        "example": "ApiSandbox"
      },
      "x-envoy-attempt-count": {
        "name": "x-envoy-attempt-count",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-envoy-peer-metadata": {
        "name": "x-envoy-peer-metadata",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ChoKCkNMVVNURVJfSUQSDBoKS3ViZXJuZXRlcwquAQoGTEFCRUxTEqMBKqABCh0KA2FwcBIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQo5Ch9zZXJ2aWNlLmlzdGlvLmlvL2Nhbm9uaWNhbC1uYW1lEhYaFGlzdGlvLWluZ3Jlc3NnYXRld2F5Ci8KI3NlcnZpY2UuaXN0aW8uaW8vY2Fub25pY2FsLXJldmlzaW9uEggaBjEtMzAtMAoTCgd2ZXJzaW9uEggaBjEuMzAuMAouCgROQU1FEiYaJGlzdGlvLWluZ3Jlc3NnYXRld2F5LTlkZDQ2YjU4Yi10Y3R6cwobCglOQU1FU1BBQ0USDhoMaXN0aW8tc3lzdGVtCl0KBU9XTkVSElQaUmt1YmVybmV0ZXM6Ly9hcGlzL2FwcHMvdjEvbmFtZXNwYWNlcy9pc3Rpby1zeXN0ZW0vZGVwbG95bWVudHMvaXN0aW8taW5ncmVzc2dhdGV3YXkKJwoNV09SS0xPQURfTkFNRRIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQ=="
        },
        "example": "ChoKCkNMVVNURVJfSUQSDBoKS3ViZXJuZXRlcwquAQoGTEFCRUxTEqMBKqABCh0KA2FwcBIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQo5Ch9zZXJ2aWNlLmlzdGlvLmlvL2Nhbm9uaWNhbC1uYW1lEhYaFGlzdGlvLWluZ3Jlc3NnYXRld2F5Ci8KI3NlcnZpY2UuaXN0aW8uaW8vY2Fub25pY2FsLXJldmlzaW9uEggaBjEtMzAtMAoTCgd2ZXJzaW9uEggaBjEuMzAuMAouCgROQU1FEiYaJGlzdGlvLWluZ3Jlc3NnYXRld2F5LTlkZDQ2YjU4Yi10Y3R6cwobCglOQU1FU1BBQ0USDhoMaXN0aW8tc3lzdGVtCl0KBU9XTkVSElQaUmt1YmVybmV0ZXM6Ly9hcGlzL2FwcHMvdjEvbmFtZXNwYWNlcy9pc3Rpby1zeXN0ZW0vZGVwbG95bWVudHMvaXN0aW8taW5ncmVzc2dhdGV3YXkKJwoNV09SS0xPQURfTkFNRRIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQ=="
      },
      "x-apiwiz-enable-events": {
        "name": "x-apiwiz-enable-events",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-envoy-external-address": {
        "name": "x-envoy-external-address",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "27.61.44.220"
        },
        "example": "27.61.44.220"
      },
      "x-envoy-peer-metadata-id": {
        "name": "x-envoy-peer-metadata-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "router~10.10.185.143~istio-ingressgateway-9dd46b58b-tctzs.istio-system~istio-system.svc.cluster.local"
        },
        "example": "router~10.10.185.143~istio-ingressgateway-9dd46b58b-tctzs.istio-system~istio-system.svc.cluster.local"
      },
      "x-envoy-decorator-operation": {
        "name": "x-envoy-decorator-operation",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "apibuilder-agent.apiwiz-system.svc.cluster.local:8000/*"
        },
        "example": "apibuilder-agent.apiwiz-system.svc.cluster.local:8000/*"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "_400",
          "enum": [
            "WORKFLOW_Sandbox_404",
            "WORKFLOW_Sandbox_500",
            "WORKFLOW_Sandbox_400",
            "WORKFLOW_Sandbox_200"
          ]
        },
        "example": "_400"
      }
    },
    "headers": {
      "x-log-id": {
        "description": "A unique identifier for tracking the request and response logs, which can help in debugging and monitoring the operations related to room availability.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "6a81c6e602c4796f336980e7"
        },
        "example": "6a81c6e602c4796f336980e7"
      }
    }
  }
}