{
  "openapi": "3.0.1",
  "info": {
    "title": "WORKFLOW_Sandbox_Hotel Room Availability API",
    "description": "The Hotel Room Availability API enables businesses to check the availability of hotel rooms in real-time. By submitting a request, users can retrieve detailed information about room availability based on specific dates and criteria. This functionality is essential for travel agencies, booking platforms, and any service that manages hotel reservations. Typical use cases include checking availability during peak seasons, facilitating immediate booking decisions, and providing customers with accurate options tailored to their requirements.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/hotel/v1/rooms/availability": {
      "post": {
        "tags": [
          "Room Management"
        ],
        "summary": "Check room availability",
        "description": "This endpoint allows you to verify the availability of rooms based on specified criteria. Utilize this functionality to ensure that you can meet customer requests for room bookings.",
        "operationId": "checkRoomAvailability",
        "parameters": [
          {
            "$ref": "#/components/parameters/origin"
          },
          {
            "$ref": "#/components/parameters/status"
          },
          {
            "$ref": "#/components/parameters/referer"
          },
          {
            "$ref": "#/components/parameters/priority"
          },
          {
            "$ref": "#/components/parameters/x-tenant"
          },
          {
            "$ref": "#/components/parameters/sec-ch-ua"
          },
          {
            "$ref": "#/components/parameters/x-request-id"
          },
          {
            "$ref": "#/components/parameters/sec-fetch-dest"
          },
          {
            "$ref": "#/components/parameters/sec-fetch-mode"
          },
          {
            "$ref": "#/components/parameters/sec-fetch-site"
          },
          {
            "$ref": "#/components/parameters/accept-language"
          },
          {
            "$ref": "#/components/parameters/sec-ch-ua-mobile"
          },
          {
            "$ref": "#/components/parameters/sec-ch-ua-platform"
          },
          {
            "$ref": "#/components/parameters/x-application-type"
          },
          {
            "$ref": "#/components/parameters/x-envoy-attempt-count"
          },
          {
            "$ref": "#/components/parameters/x-envoy-peer-metadata"
          },
          {
            "$ref": "#/components/parameters/x-apiwiz-enable-events"
          },
          {
            "$ref": "#/components/parameters/x-envoy-external-address"
          },
          {
            "$ref": "#/components/parameters/x-envoy-peer-metadata-id"
          },
          {
            "$ref": "#/components/parameters/x-envoy-decorator-operation"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to check the availability of rooms based on specified criteria. It expects details regarding the dates and room preferences, allowing the system to return relevant availability information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WORKFLOW_Sandbox_checkRoomAvailability-CheckRoomAvailabilityRequest"
              }
            }
          }
        },
        "responses": {
          "404": {
            "description": "The requested availability information could not be found.",
            "headers": {
              "x-log-id": {
                "$ref": "#/components/headers/x-log-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WORKFLOW_Sandbox_checkRoomAvailability-CheckRoomAvailabilityResponse_404"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred on the server.",
            "headers": {
              "x-log-id": {
                "$ref": "#/components/headers/x-log-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WORKFLOW_Sandbox_checkRoomAvailability-CheckRoomAvailabilityResponse_500"
                }
              }
            }
          },
          "400": {
            "description": "The request parameters are invalid or malformed.",
            "headers": {
              "x-log-id": {
                "$ref": "#/components/headers/x-log-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WORKFLOW_Sandbox_checkRoomAvailability-CheckRoomAvailabilityResponse_400"
                }
              }
            }
          },
          "200": {
            "description": "The availability information was retrieved successfully.",
            "headers": {
              "x-log-id": {
                "$ref": "#/components/headers/x-log-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WORKFLOW_Sandbox_checkRoomAvailability-CheckRoomAvailabilityResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "WORKFLOW_Sandbox_checkRoomAvailability-CheckRoomAvailabilityRequest": {
        "type": "string",
        "description": "A request body schema for checking the availability of rooms in the system. This string should contain the necessary data to process the room availability request.",
        "example": "{}"
      },
      "WORKFLOW_Sandbox_checkRoomAvailability-CheckRoomAvailabilityResponse_404": {
        "title": "Room Availability Error Response",
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "A message providing details about the error.",
            "example": "Service category not found"
          }
        },
        "description": "This schema represents the error response structure for the Room Availability API when a requested resource is not found (HTTP 404 status).",
        "example": {
          "message": "Service category not found"
        }
      },
      "WORKFLOW_Sandbox_checkRoomAvailability-CheckRoomAvailabilityResponse_500": {
        "title": "Error Response for Room Availability Operations",
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "The status of the response indicating success or failure.",
            "example": "error"
          },
          "statusCode": {
            "type": "integer",
            "description": "The HTTP status code representing the error type.",
            "format": "int32",
            "example": 500
          },
          "error": {
            "type": "string",
            "description": "A brief description of the error encountered.",
            "example": "InternalServerError"
          },
          "message": {
            "type": "string",
            "description": "A detailed message explaining the error.",
            "example": "An unexpected error occurred while checking room availability"
          },
          "errorCode": {
            "type": "string",
            "description": "A specific code representing the type of error.",
            "example": "ROOM_AVAILABILITY_SERVICE_ERROR"
          },
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request that generated the error.",
            "example": "req_7c91e4a2"
          },
          "timestamp": {
            "type": "string",
            "description": "The timestamp indicating when the error occurred.",
            "example": "2026-08-14T16:53:27Z"
          },
          "service": {
            "type": "string",
            "description": "The name of the service that processed the request.",
            "example": "hotel-availability-service"
          },
          "operation": {
            "type": "string",
            "description": "The operation that was attempted and failed.",
            "example": "getRoomAvailability"
          },
          "hotelId": {
            "type": "string",
            "description": "The identifier for the hotel related to the operation.",
            "example": "HTL100245"
          },
          "roomType": {
            "type": "string",
            "description": "The type of room being queried or operated on.",
            "example": "Deluxe King"
          },
          "retryable": {
            "type": "boolean",
            "description": "Indicates whether the operation can be retried.",
            "example": true
          },
          "details": {
            "type": "string",
            "description": "Additional details about the error, if available.",
            "example": "Unable to retrieve room availability from the inventory service"
          }
        },
        "description": "This schema represents the structure of the error response returned when an operation related to room availability fails.",
        "example": {
          "status": "error",
          "statusCode": 500,
          "error": "InternalServerError",
          "message": "An unexpected error occurred while checking room availability",
          "errorCode": "ROOM_AVAILABILITY_SERVICE_ERROR",
          "requestId": "req_7c91e4a2",
          "timestamp": "2026-08-14T16:53:27Z",
          "service": "hotel-availability-service",
          "operation": "getRoomAvailability",
          "hotelId": "HTL100245",
          "roomType": "Deluxe King",
          "retryable": true,
          "details": "Unable to retrieve room availability from the inventory service"
        }
      },
      "WORKFLOW_Sandbox_checkRoomAvailability-CheckRoomAvailabilityResponse_400": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "The status of the response.",
            "example": "error"
          },
          "statusCode": {
            "type": "integer",
            "description": "The HTTP status code.",
            "format": "int32",
            "example": 400
          },
          "error": {
            "type": "string",
            "description": "A short description of the error.",
            "example": "BadRequest"
          },
          "message": {
            "type": "string",
            "description": "A detailed error message providing more context.",
            "example": "Invalid room availability request"
          },
          "errorCode": {
            "type": "string",
            "description": "Specific error code identifying the error.",
            "example": "INVALID_REQUEST"
          },
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request, useful for tracking.",
            "example": "req_8f3a7c21"
          },
          "timestamp": {
            "type": "string",
            "description": "The time when the error occurred, in ISO 8601 format.",
            "example": "2026-08-14T16:53:10Z"
          },
          "field": {
            "type": "string",
            "description": "The specific field that caused the validation error.",
            "example": "checkInDate"
          },
          "reason": {
            "type": "string",
            "description": "The reason for the failure.",
            "example": "checkInDate must be earlier than checkOutDate"
          },
          "checkInDate": {
            "type": "string",
            "description": "Proposed check-in date in ISO 8601 format.",
            "example": "2026-08-22"
          },
          "checkOutDate": {
            "type": "string",
            "description": "Proposed check-out date in ISO 8601 format.",
            "example": "2026-08-20"
          },
          "hotelId": {
            "type": "string",
            "description": "Unique identifier of the hotel.",
            "example": "HTL100245"
          },
          "validationErrors": {
            "type": "array",
            "description": "List of validation error details.",
            "example": [
              {
                "field": "checkInDate",
                "message": "Check-in date must be before check-out date"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/WORKFLOW_Sandbox_checkRoomAvailability-ValidationError"
            }
          }
        },
        "description": "Response schema for handling availability operation errors.",
        "example": {
          "status": "error",
          "statusCode": 400,
          "error": "BadRequest",
          "message": "Invalid room availability request",
          "errorCode": "INVALID_REQUEST",
          "requestId": "req_8f3a7c21",
          "timestamp": "2026-08-14T16:53:10Z",
          "field": "checkInDate",
          "reason": "checkInDate must be earlier than checkOutDate",
          "checkInDate": "2026-08-22",
          "checkOutDate": "2026-08-20",
          "hotelId": "HTL100245",
          "validationErrors": [
            {
              "field": "checkInDate",
              "message": "Check-in date must be before check-out date"
            }
          ]
        }
      },
      "WORKFLOW_Sandbox_checkRoomAvailability-ValidationError": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "description": "The specific field that has a validation error.",
            "example": "checkInDate"
          },
          "message": {
            "type": "string",
            "description": "The validation error message for the field.",
            "example": "Check-in date must be later than check-out date."
          }
        },
        "description": "Schema representing individual validation error details."
      },
      "WORKFLOW_Sandbox_checkRoomAvailability-CheckRoomAvailabilityResponse_200": {
        "title": "Room Availability Response",
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "The status of the availability request.",
            "example": "success"
          },
          "hotelId": {
            "type": "string",
            "description": "Unique identifier for the hotel.",
            "example": "HTL100245"
          },
          "hotelName": {
            "type": "string",
            "description": "Name of the hotel.",
            "example": "Grand Palace Hotel"
          },
          "checkInDate": {
            "type": "string",
            "description": "The check-in date for the reservation.",
            "example": "2026-08-20"
          },
          "checkOutDate": {
            "type": "string",
            "description": "The check-out date for the reservation.",
            "example": "2026-08-22"
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the rates are specified.",
            "example": "USD"
          },
          "roomsAvailable": {
            "type": "integer",
            "description": "Number of rooms available for the specified criteria.",
            "format": "int32",
            "example": 12
          },
          "roomType": {
            "type": "string",
            "description": "Type of the room available.",
            "example": "Deluxe King"
          },
          "roomTypeCode": {
            "type": "string",
            "description": "Code representing the type of the room.",
            "example": "DLX-KING"
          },
          "maxOccupancy": {
            "type": "integer",
            "description": "Maximum occupancy allowed in the room type.",
            "format": "int32",
            "example": 2
          },
          "availableUnits": {
            "type": "integer",
            "description": "Number of units available of the specified room type.",
            "format": "int32",
            "example": 4
          },
          "nightlyRate": {
            "type": "number",
            "description": "Nightly rate for the room type.",
            "example": 149.99
          },
          "totalAmount": {
            "type": "number",
            "description": "Total amount for the stay excluding taxes.",
            "example": 299.98
          },
          "taxAmount": {
            "type": "number",
            "description": "Total tax amount applicable to the stay.",
            "example": 36.0
          },
          "totalAmountWithTax": {
            "type": "number",
            "description": "Total amount including taxes.",
            "example": 335.98
          },
          "refundable": {
            "type": "boolean",
            "description": "Indicates whether the booking is refundable.",
            "example": true
          },
          "breakfastIncluded": {
            "type": "boolean",
            "description": "Indicates whether breakfast is included in the booking.",
            "example": true
          },
          "cancellationPolicy": {
            "type": "string",
            "description": "Cancellation policy information for the booking.",
            "example": "Free cancellation until 2026-08-18"
          },
          "amenities": {
            "type": "array",
            "description": "List of amenities included with the room.",
            "example": [
              "WiFi",
              "Air Conditioning",
              "TV",
              "Mini Bar"
            ],
            "items": {
              "type": "string",
              "description": "Amenities available in the room.",
              "example": "Free Wi-Fi"
            }
          }
        },
        "description": "Schema representing the response structure containing the availability details of hotel rooms.",
        "example": {
          "status": "success",
          "hotelId": "HTL100245",
          "hotelName": "Grand Palace Hotel",
          "checkInDate": "2026-08-20",
          "checkOutDate": "2026-08-22",
          "currency": "USD",
          "roomsAvailable": 12,
          "roomType": "Deluxe King",
          "roomTypeCode": "DLX-KING",
          "maxOccupancy": 2,
          "availableUnits": 4,
          "nightlyRate": 149.99,
          "totalAmount": 299.98,
          "taxAmount": 36.0,
          "totalAmountWithTax": 335.98,
          "refundable": true,
          "breakfastIncluded": true,
          "cancellationPolicy": "Free cancellation until 2026-08-18",
          "amenities": [
            "WiFi",
            "Air Conditioning",
            "TV",
            "Mini Bar"
          ]
        }
      }
    },
    "parameters": {
      "origin": {
        "name": "origin",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "https://prod-workspace.apiwiz.io"
        },
        "example": "https://prod-workspace.apiwiz.io"
      },
      "status": {
        "name": "status",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "200"
        },
        "example": "200"
      },
      "referer": {
        "name": "referer",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "https://prod-workspace.apiwiz.io/api-sandbox"
        },
        "example": "https://prod-workspace.apiwiz.io/api-sandbox"
      },
      "priority": {
        "name": "priority",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "u=1, i"
        },
        "example": "u=1, i"
      },
      "x-tenant": {
        "name": "x-tenant",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "prod-workspace"
        },
        "example": "prod-workspace"
      },
      "sec-ch-ua": {
        "name": "sec-ch-ua",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "\"Not=A?Brand\";v=\"99\", \"Google Chrome\";v=\"151\", \"Chromium\";v=\"151\""
        },
        "example": "\"Not=A?Brand\";v=\"99\", \"Google Chrome\";v=\"151\", \"Chromium\";v=\"151\""
      },
      "x-request-id": {
        "name": "x-request-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "6332a9a4-aea2-4f7a-8c4b-94ff4e07d63f"
        },
        "example": "6332a9a4-aea2-4f7a-8c4b-94ff4e07d63f"
      },
      "sec-fetch-dest": {
        "name": "sec-fetch-dest",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "empty"
        },
        "example": "empty"
      },
      "sec-fetch-mode": {
        "name": "sec-fetch-mode",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cors"
        },
        "example": "cors"
      },
      "sec-fetch-site": {
        "name": "sec-fetch-site",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "same-site"
        },
        "example": "same-site"
      },
      "accept-language": {
        "name": "accept-language",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "en-GB,en-US;q=0.9,en;q=0.8"
        },
        "example": "en-GB,en-US;q=0.9,en;q=0.8"
      },
      "sec-ch-ua-mobile": {
        "name": "sec-ch-ua-mobile",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "?0"
        },
        "example": "?0"
      },
      "sec-ch-ua-platform": {
        "name": "sec-ch-ua-platform",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "\"macOS\""
        },
        "example": "\"macOS\""
      },
      "x-application-type": {
        "name": "x-application-type",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ApiSandbox"
        },
        "example": "ApiSandbox"
      },
      "x-envoy-attempt-count": {
        "name": "x-envoy-attempt-count",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-envoy-peer-metadata": {
        "name": "x-envoy-peer-metadata",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ChoKCkNMVVNURVJfSUQSDBoKS3ViZXJuZXRlcwquAQoGTEFCRUxTEqMBKqABCh0KA2FwcBIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQo5Ch9zZXJ2aWNlLmlzdGlvLmlvL2Nhbm9uaWNhbC1uYW1lEhYaFGlzdGlvLWluZ3Jlc3NnYXRld2F5Ci8KI3NlcnZpY2UuaXN0aW8uaW8vY2Fub25pY2FsLXJldmlzaW9uEggaBjEtMzAtMAoTCgd2ZXJzaW9uEggaBjEuMzAuMAouCgROQU1FEiYaJGlzdGlvLWluZ3Jlc3NnYXRld2F5LTlkZDQ2YjU4Yi10Y3R6cwobCglOQU1FU1BBQ0USDhoMaXN0aW8tc3lzdGVtCl0KBU9XTkVSElQaUmt1YmVybmV0ZXM6Ly9hcGlzL2FwcHMvdjEvbmFtZXNwYWNlcy9pc3Rpby1zeXN0ZW0vZGVwbG95bWVudHMvaXN0aW8taW5ncmVzc2dhdGV3YXkKJwoNV09SS0xPQURfTkFNRRIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQ=="
        },
        "example": "ChoKCkNMVVNURVJfSUQSDBoKS3ViZXJuZXRlcwquAQoGTEFCRUxTEqMBKqABCh0KA2FwcBIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQo5Ch9zZXJ2aWNlLmlzdGlvLmlvL2Nhbm9uaWNhbC1uYW1lEhYaFGlzdGlvLWluZ3Jlc3NnYXRld2F5Ci8KI3NlcnZpY2UuaXN0aW8uaW8vY2Fub25pY2FsLXJldmlzaW9uEggaBjEtMzAtMAoTCgd2ZXJzaW9uEggaBjEuMzAuMAouCgROQU1FEiYaJGlzdGlvLWluZ3Jlc3NnYXRld2F5LTlkZDQ2YjU4Yi10Y3R6cwobCglOQU1FU1BBQ0USDhoMaXN0aW8tc3lzdGVtCl0KBU9XTkVSElQaUmt1YmVybmV0ZXM6Ly9hcGlzL2FwcHMvdjEvbmFtZXNwYWNlcy9pc3Rpby1zeXN0ZW0vZGVwbG95bWVudHMvaXN0aW8taW5ncmVzc2dhdGV3YXkKJwoNV09SS0xPQURfTkFNRRIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQ=="
      },
      "x-apiwiz-enable-events": {
        "name": "x-apiwiz-enable-events",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-envoy-external-address": {
        "name": "x-envoy-external-address",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "27.61.44.220"
        },
        "example": "27.61.44.220"
      },
      "x-envoy-peer-metadata-id": {
        "name": "x-envoy-peer-metadata-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "router~10.10.185.143~istio-ingressgateway-9dd46b58b-tctzs.istio-system~istio-system.svc.cluster.local"
        },
        "example": "router~10.10.185.143~istio-ingressgateway-9dd46b58b-tctzs.istio-system~istio-system.svc.cluster.local"
      },
      "x-envoy-decorator-operation": {
        "name": "x-envoy-decorator-operation",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "apibuilder-agent.apiwiz-system.svc.cluster.local:8000/*"
        },
        "example": "apibuilder-agent.apiwiz-system.svc.cluster.local:8000/*"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WORKFLOW_Sandbox_400",
          "enum": [
            "WORKFLOW_Sandbox_404",
            "WORKFLOW_Sandbox_500",
            "WORKFLOW_Sandbox_400",
            "WORKFLOW_Sandbox_200"
          ]
        },
        "example": "WORKFLOW_Sandbox_400"
      }
    },
    "headers": {
      "x-log-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "6a81c38c02c4796f33697f4d"
        },
        "example": "6a81c38c02c4796f33697f4d"
      }
    }
  }
}