{
  "openapi": "3.0.1",
  "info": {
    "title": "WORKFLOW_Sandbox_Hotel Room Availability API",
    "description": "The Hotel Room Availability API allows users to check the availability of rooms in various hotels for specified dates. This API is essential for travel agencies, booking platforms, and end-users planning their trips. By submitting date ranges and hotel identifiers, consumers can receive real-time availability information. This functionality enhances the user experience by facilitating informed decision-making when selecting lodging options.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/hotel/v1/rooms/availability": {
      "post": {
        "tags": [
          "Room Management"
        ],
        "summary": "Check the availability of rooms.",
        "description": "This endpoint allows users to check the availability of rooms based on specified criteria. It provides information about room occupancy and availability for a given time period, assisting users in planning their stay effectively.",
        "operationId": "checkRoomAvailability",
        "parameters": [
          {
            "$ref": "#/components/parameters/origin"
          },
          {
            "$ref": "#/components/parameters/status"
          },
          {
            "$ref": "#/components/parameters/referer"
          },
          {
            "$ref": "#/components/parameters/priority"
          },
          {
            "$ref": "#/components/parameters/x-tenant"
          },
          {
            "$ref": "#/components/parameters/sec-ch-ua"
          },
          {
            "$ref": "#/components/parameters/x-request-id"
          },
          {
            "$ref": "#/components/parameters/sec-fetch-dest"
          },
          {
            "$ref": "#/components/parameters/sec-fetch-mode"
          },
          {
            "$ref": "#/components/parameters/sec-fetch-site"
          },
          {
            "$ref": "#/components/parameters/accept-language"
          },
          {
            "$ref": "#/components/parameters/sec-ch-ua-mobile"
          },
          {
            "$ref": "#/components/parameters/sec-ch-ua-platform"
          },
          {
            "$ref": "#/components/parameters/x-application-type"
          },
          {
            "$ref": "#/components/parameters/x-envoy-attempt-count"
          },
          {
            "$ref": "#/components/parameters/x-envoy-peer-metadata"
          },
          {
            "$ref": "#/components/parameters/x-apiwiz-enable-events"
          },
          {
            "$ref": "#/components/parameters/x-envoy-external-address"
          },
          {
            "$ref": "#/components/parameters/x-envoy-peer-metadata-id"
          },
          {
            "$ref": "#/components/parameters/x-envoy-decorator-operation"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to check room availability based on the provided criteria. Ensure that the requested dates and room specifications are accurate. The server will validate the request and respond with the availability status.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AvailabilityRequest"
              },
              "examples": {
                "example1": {
                  "value": {
                    "checkIn": "2023-10-01",
                    "checkOut": "2023-10-05",
                    "roomType": "deluxe",
                    "adults": 2,
                    "children": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "The request contains invalid parameters.",
            "headers": {
              "x-log-id": {
                "$ref": "#/components/headers/x-log-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WORKFLOW_Sandbox_checkRoomAvailability-CheckRoomAvailabilityResponse_400"
                }
              }
            }
          },
          "200": {
            "description": "The request was successful, and availability data is returned.",
            "headers": {
              "x-log-id": {
                "$ref": "#/components/headers/x-log-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WORKFLOW_Sandbox_checkRoomAvailability-CheckRoomAvailabilityResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "WORKFLOW_Sandbox_checkRoomAvailability-CheckRoomAvailabilityResponse_400": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "The status of the response indicating success or failure.",
            "example": "error"
          },
          "statusCode": {
            "type": "integer",
            "description": "HTTP status code representing the outcome of the request.",
            "format": "int32",
            "example": 400
          },
          "error": {
            "type": "string",
            "description": "A brief description of the error that occurred.",
            "example": "BadRequest"
          },
          "message": {
            "type": "string",
            "description": "Detailed message regarding the error.",
            "example": "Invalid room availability request"
          },
          "errorCode": {
            "type": "string",
            "description": "A specific code representing the error type.",
            "example": "INVALID_REQUEST"
          },
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request, useful for tracing errors.",
            "example": "req_8f3a7c21"
          },
          "timestamp": {
            "type": "string",
            "description": "Timestamp of when the error occurred.",
            "example": "2026-08-14T16:53:10Z"
          },
          "field": {
            "type": "string",
            "description": "Specific field in the request that caused the error, if applicable.",
            "example": "checkInDate"
          },
          "reason": {
            "type": "string",
            "description": "Reason for the error, providing more context.",
            "example": "checkInDate must be earlier than checkOutDate"
          },
          "checkInDate": {
            "type": "string",
            "description": "The requested check-in date that caused the error.",
            "example": "2026-08-22"
          },
          "checkOutDate": {
            "type": "string",
            "description": "The requested check-out date that may be invalid.",
            "example": "2026-08-20"
          },
          "hotelId": {
            "type": "string",
            "description": "Identifier for the hotel associated with the availability request.",
            "example": "HTL100245"
          },
          "validationErrors": {
            "type": "array",
            "description": "List of validation errors that occurred during the request validation.",
            "example": [
              {
                "field": "checkInDate",
                "message": "Check-in date must be before check-out date"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/WORKFLOW_Sandbox_checkRoomAvailability-ValidationError"
            }
          }
        },
        "description": "Schema representing the error response structure for the room availability operation.",
        "example": {
          "status": "error",
          "statusCode": 400,
          "error": "BadRequest",
          "message": "Invalid room availability request",
          "errorCode": "INVALID_REQUEST",
          "requestId": "req_8f3a7c21",
          "timestamp": "2026-08-14T16:53:10Z",
          "field": "checkInDate",
          "reason": "checkInDate must be earlier than checkOutDate",
          "checkInDate": "2026-08-22",
          "checkOutDate": "2026-08-20",
          "hotelId": "HTL100245",
          "validationErrors": [
            {
              "field": "checkInDate",
              "message": "Check-in date must be before check-out date"
            }
          ]
        }
      },
      "WORKFLOW_Sandbox_checkRoomAvailability-ValidationError": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "description": "The field in the request that failed validation.",
            "example": "checkInDate"
          },
          "message": {
            "type": "string",
            "description": "Message providing details about the validation failure.",
            "example": "Check-in date cannot be in the past."
          }
        },
        "description": "Schema representing a validation error in the request."
      },
      "WORKFLOW_Sandbox_checkRoomAvailability-CheckRoomAvailabilityResponse_200": {
        "title": "Room Availability Response",
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Status of the availability request.",
            "example": "success"
          },
          "hotelId": {
            "type": "string",
            "description": "Identifier for the hotel.",
            "example": "HTL100245"
          },
          "hotelName": {
            "type": "string",
            "description": "Name of the hotel.",
            "example": "Grand Palace Hotel"
          },
          "checkInDate": {
            "type": "string",
            "description": "Check-in date in ISO format.",
            "example": "2026-08-20"
          },
          "checkOutDate": {
            "type": "string",
            "description": "Check-out date in ISO format.",
            "example": "2026-08-22"
          },
          "currency": {
            "type": "string",
            "description": "Currency code for the prices.",
            "example": "USD"
          },
          "roomsAvailable": {
            "type": "integer",
            "description": "Number of rooms available.",
            "format": "int32",
            "example": 12
          },
          "roomType": {
            "type": "string",
            "description": "Type of the room (e.g., Single, Double).",
            "example": "Deluxe King"
          },
          "roomTypeCode": {
            "type": "string",
            "description": "Code representing the room type.",
            "example": "DLX-KING"
          },
          "maxOccupancy": {
            "type": "integer",
            "description": "Maximum number of occupants allowed in the room.",
            "format": "int32",
            "example": 2
          },
          "availableUnits": {
            "type": "integer",
            "description": "Number of units available for the specified room type.",
            "format": "int32",
            "example": 4
          },
          "nightlyRate": {
            "type": "number",
            "description": "Rate for one night stay in the specified room type.",
            "example": 149.99
          },
          "totalAmount": {
            "type": "number",
            "description": "Total amount for the stay, excluding taxes and fees.",
            "example": 299.98
          },
          "taxAmount": {
            "type": "number",
            "description": "Total tax amount applied to the stay.",
            "example": 36.0
          },
          "totalAmountWithTax": {
            "type": "number",
            "description": "Total amount including taxes.",
            "example": 335.98
          },
          "refundable": {
            "type": "boolean",
            "description": "Indicates if the booking is refundable.",
            "example": true
          },
          "breakfastIncluded": {
            "type": "boolean",
            "description": "Indicates if breakfast is included in the rate.",
            "example": true
          },
          "cancellationPolicy": {
            "type": "string",
            "description": "Details of the cancellation policy.",
            "example": "Free cancellation until 2026-08-18"
          },
          "amenities": {
            "type": "array",
            "description": "List of amenities available with the room.",
            "example": [
              "WiFi",
              "Air Conditioning",
              "TV",
              "Mini Bar"
            ],
            "items": {
              "type": "string",
              "description": "An individual amenity description.",
              "example": "Free Wi-Fi"
            }
          }
        },
        "description": "Schema representing the response for room availability operations.",
        "example": {
          "status": "success",
          "hotelId": "HTL100245",
          "hotelName": "Grand Palace Hotel",
          "checkInDate": "2026-08-20",
          "checkOutDate": "2026-08-22",
          "currency": "USD",
          "roomsAvailable": 12,
          "roomType": "Deluxe King",
          "roomTypeCode": "DLX-KING",
          "maxOccupancy": 2,
          "availableUnits": 4,
          "nightlyRate": 149.99,
          "totalAmount": 299.98,
          "taxAmount": 36.0,
          "totalAmountWithTax": 335.98,
          "refundable": true,
          "breakfastIncluded": true,
          "cancellationPolicy": "Free cancellation until 2026-08-18",
          "amenities": [
            "WiFi",
            "Air Conditioning",
            "TV",
            "Mini Bar"
          ]
        }
      }
    },
    "parameters": {
      "origin": {
        "name": "origin",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "https://prod-workspace.apiwiz.io"
        },
        "example": "https://prod-workspace.apiwiz.io"
      },
      "status": {
        "name": "status",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "200"
        },
        "example": "200"
      },
      "referer": {
        "name": "referer",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "https://prod-workspace.apiwiz.io/api-sandbox"
        },
        "example": "https://prod-workspace.apiwiz.io/api-sandbox"
      },
      "priority": {
        "name": "priority",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "u=1, i"
        },
        "example": "u=1, i"
      },
      "x-tenant": {
        "name": "x-tenant",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "prod-workspace"
        },
        "example": "prod-workspace"
      },
      "sec-ch-ua": {
        "name": "sec-ch-ua",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "\"Not=A?Brand\";v=\"99\", \"Google Chrome\";v=\"151\", \"Chromium\";v=\"151\""
        },
        "example": "\"Not=A?Brand\";v=\"99\", \"Google Chrome\";v=\"151\", \"Chromium\";v=\"151\""
      },
      "x-request-id": {
        "name": "x-request-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "6332a9a4-aea2-4f7a-8c4b-94ff4e07d63f"
        },
        "example": "6332a9a4-aea2-4f7a-8c4b-94ff4e07d63f"
      },
      "sec-fetch-dest": {
        "name": "sec-fetch-dest",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "empty"
        },
        "example": "empty"
      },
      "sec-fetch-mode": {
        "name": "sec-fetch-mode",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cors"
        },
        "example": "cors"
      },
      "sec-fetch-site": {
        "name": "sec-fetch-site",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "same-site"
        },
        "example": "same-site"
      },
      "accept-language": {
        "name": "accept-language",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "en-GB,en-US;q=0.9,en;q=0.8"
        },
        "example": "en-GB,en-US;q=0.9,en;q=0.8"
      },
      "sec-ch-ua-mobile": {
        "name": "sec-ch-ua-mobile",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "?0"
        },
        "example": "?0"
      },
      "sec-ch-ua-platform": {
        "name": "sec-ch-ua-platform",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "\"macOS\""
        },
        "example": "\"macOS\""
      },
      "x-application-type": {
        "name": "x-application-type",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ApiSandbox"
        },
        "example": "ApiSandbox"
      },
      "x-envoy-attempt-count": {
        "name": "x-envoy-attempt-count",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-envoy-peer-metadata": {
        "name": "x-envoy-peer-metadata",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ChoKCkNMVVNURVJfSUQSDBoKS3ViZXJuZXRlcwquAQoGTEFCRUxTEqMBKqABCh0KA2FwcBIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQo5Ch9zZXJ2aWNlLmlzdGlvLmlvL2Nhbm9uaWNhbC1uYW1lEhYaFGlzdGlvLWluZ3Jlc3NnYXRld2F5Ci8KI3NlcnZpY2UuaXN0aW8uaW8vY2Fub25pY2FsLXJldmlzaW9uEggaBjEtMzAtMAoTCgd2ZXJzaW9uEggaBjEuMzAuMAouCgROQU1FEiYaJGlzdGlvLWluZ3Jlc3NnYXRld2F5LTlkZDQ2YjU4Yi10Y3R6cwobCglOQU1FU1BBQ0USDhoMaXN0aW8tc3lzdGVtCl0KBU9XTkVSElQaUmt1YmVybmV0ZXM6Ly9hcGlzL2FwcHMvdjEvbmFtZXNwYWNlcy9pc3Rpby1zeXN0ZW0vZGVwbG95bWVudHMvaXN0aW8taW5ncmVzc2dhdGV3YXkKJwoNV09SS0xPQURfTkFNRRIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQ=="
        },
        "example": "ChoKCkNMVVNURVJfSUQSDBoKS3ViZXJuZXRlcwquAQoGTEFCRUxTEqMBKqABCh0KA2FwcBIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQo5Ch9zZXJ2aWNlLmlzdGlvLmlvL2Nhbm9uaWNhbC1uYW1lEhYaFGlzdGlvLWluZ3Jlc3NnYXRld2F5Ci8KI3NlcnZpY2UuaXN0aW8uaW8vY2Fub25pY2FsLXJldmlzaW9uEggaBjEtMzAtMAoTCgd2ZXJzaW9uEggaBjEuMzAuMAouCgROQU1FEiYaJGlzdGlvLWluZ3Jlc3NnYXRld2F5LTlkZDQ2YjU4Yi10Y3R6cwobCglOQU1FU1BBQ0USDhoMaXN0aW8tc3lzdGVtCl0KBU9XTkVSElQaUmt1YmVybmV0ZXM6Ly9hcGlzL2FwcHMvdjEvbmFtZXNwYWNlcy9pc3Rpby1zeXN0ZW0vZGVwbG95bWVudHMvaXN0aW8taW5ncmVzc2dhdGV3YXkKJwoNV09SS0xPQURfTkFNRRIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQ=="
      },
      "x-apiwiz-enable-events": {
        "name": "x-apiwiz-enable-events",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-envoy-external-address": {
        "name": "x-envoy-external-address",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "27.61.44.220"
        },
        "example": "27.61.44.220"
      },
      "x-envoy-peer-metadata-id": {
        "name": "x-envoy-peer-metadata-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "router~10.10.185.143~istio-ingressgateway-9dd46b58b-tctzs.istio-system~istio-system.svc.cluster.local"
        },
        "example": "router~10.10.185.143~istio-ingressgateway-9dd46b58b-tctzs.istio-system~istio-system.svc.cluster.local"
      },
      "x-envoy-decorator-operation": {
        "name": "x-envoy-decorator-operation",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "apibuilder-agent.apiwiz-system.svc.cluster.local:8000/*"
        },
        "example": "apibuilder-agent.apiwiz-system.svc.cluster.local:8000/*"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "WORKFLOW_Sandbox_400",
            "WORKFLOW_Sandbox_200"
          ]
        }
      }
    },
    "headers": {
      "x-log-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "6a81c38c02c4796f33697f4d"
        },
        "example": "6a81c38c02c4796f33697f4d"
      }
    }
  }
}