{
  "openapi": "3.0.1",
  "info": {
    "title": "GATEWAY_PROD_OAuth Token Retrieval API",
    "description": "The OAuth Token Retrieval API provides a secure method for clients to obtain access tokens necessary for authentication and authorization in a system. This API is essential for applications that need to access protected resources by leveraging OAuth 2.0 protocols. Developers integrating with this API can expect to retrieve tokens efficiently, facilitating seamless user experiences. Typical consumers include mobile and web applications that require secure communication with backend services.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://test1-kong-apiproxy.apiwiz.io",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v1/security/oauth-token": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Retrieve OAuth token",
        "description": "This endpoint allows you to retrieve an OAuth token that can be used for authentication in subsequent API requests. Ensure you have the appropriate credentials and permissions before accessing this endpoint.",
        "operationId": "getOauthToken",
        "parameters": [
          {
            "$ref": "#/components/parameters/grant_type"
          },
          {
            "$ref": "#/components/parameters/x-request-id"
          },
          {
            "$ref": "#/components/parameters/x-envoy-attempt-count"
          },
          {
            "$ref": "#/components/parameters/x-envoy-peer-metadata"
          },
          {
            "$ref": "#/components/parameters/x-envoy-external-address"
          },
          {
            "$ref": "#/components/parameters/x-envoy-peer-metadata-id"
          },
          {
            "$ref": "#/components/parameters/x-envoy-decorator-operation"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to obtain an access token for authentication. It requires sending appropriate credentials and parameters as defined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetOauthTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token request was successful, returning the OAuth token and associated metadata.",
            "headers": {
              "pragma": {
                "$ref": "#/components/headers/pragma"
              },
              "expires": {
                "$ref": "#/components/headers/expires"
              },
              "access-control-max-age": {
                "$ref": "#/components/headers/access-control-max-age"
              },
              "x-kong-upstream-status": {
                "$ref": "#/components/headers/x-kong-upstream-status"
              },
              "access-control-allow-origin": {
                "$ref": "#/components/headers/access-control-allow-origin"
              },
              "access-control-allow-headers": {
                "$ref": "#/components/headers/access-control-allow-headers"
              },
              "access-control-allow-methods": {
                "$ref": "#/components/headers/access-control-allow-methods"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetOauthTokenResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetOauthTokenRequest": {
        "type": "string",
        "description": "A string representation of the OAuth token required for authorization.",
        "example": "{}"
      },
      "GetOauthTokenResponse_200": {
        "title": "OAuth Token Response",
        "type": "object",
        "properties": {
          "expires_in": {
            "type": "string",
            "description": "The lifetime in seconds of the access token.",
            "example": "3599"
          },
          "token_type": {
            "type": "string",
            "description": "The type of the token issued. Typically, this is 'Bearer'.",
            "example": "BearerToken"
          },
          "access_token": {
            "type": "string",
            "description": "The access token that can be used to authenticate requests.",
            "example": "QfbrReodehsPLIIBts1CIjFypUCe"
          },
          "issued_at": {
            "type": "string",
            "description": "The timestamp of when the token was issued.",
            "example": "1787839307827"
          },
          "status": {
            "type": "string",
            "description": "Status of the token request. A successful request typically returns 'active'.",
            "example": "approved"
          }
        },
        "description": "Response schema for the OAuth token retrieval process. It contains information about the access token and its validity.",
        "example": {
          "expires_in": "3599",
          "token_type": "BearerToken",
          "access_token": "QfbrReodehsPLIIBts1CIjFypUCe",
          "issued_at": "1787839307827",
          "status": "approved"
        }
      }
    },
    "parameters": {
      "grant_type": {
        "name": "grant_type",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "client_credentials"
        },
        "example": "client_credentials"
      },
      "x-request-id": {
        "name": "x-request-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "6ab3563e-e33d-48ef-8c9f-6a01c27000dc"
        },
        "example": "6ab3563e-e33d-48ef-8c9f-6a01c27000dc"
      },
      "x-envoy-attempt-count": {
        "name": "x-envoy-attempt-count",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-envoy-peer-metadata": {
        "name": "x-envoy-peer-metadata",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ChoKCkNMVVNURVJfSUQSDBoKS3ViZXJuZXRlcwquAQoGTEFCRUxTEqMBKqABCh0KA2FwcBIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQo5Ch9zZXJ2aWNlLmlzdGlvLmlvL2Nhbm9uaWNhbC1uYW1lEhYaFGlzdGlvLWluZ3Jlc3NnYXRld2F5Ci8KI3NlcnZpY2UuaXN0aW8uaW8vY2Fub25pY2FsLXJldmlzaW9uEggaBjEtMzAtMAoTCgd2ZXJzaW9uEggaBjEuMzAuMAouCgROQU1FEiYaJGlzdGlvLWluZ3Jlc3NnYXRld2F5LTlkZDQ2YjU4Yi10Y3R6cwobCglOQU1FU1BBQ0USDhoMaXN0aW8tc3lzdGVtCl0KBU9XTkVSElQaUmt1YmVybmV0ZXM6Ly9hcGlzL2FwcHMvdjEvbmFtZXNwYWNlcy9pc3Rpby1zeXN0ZW0vZGVwbG95bWVudHMvaXN0aW8taW5ncmVzc2dhdGV3YXkKJwoNV09SS0xPQURfTkFNRRIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQ=="
        },
        "example": "ChoKCkNMVVNURVJfSUQSDBoKS3ViZXJuZXRlcwquAQoGTEFCRUxTEqMBKqABCh0KA2FwcBIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQo5Ch9zZXJ2aWNlLmlzdGlvLmlvL2Nhbm9uaWNhbC1uYW1lEhYaFGlzdGlvLWluZ3Jlc3NnYXRld2F5Ci8KI3NlcnZpY2UuaXN0aW8uaW8vY2Fub25pY2FsLXJldmlzaW9uEggaBjEtMzAtMAoTCgd2ZXJzaW9uEggaBjEuMzAuMAouCgROQU1FEiYaJGlzdGlvLWluZ3Jlc3NnYXRld2F5LTlkZDQ2YjU4Yi10Y3R6cwobCglOQU1FU1BBQ0USDhoMaXN0aW8tc3lzdGVtCl0KBU9XTkVSElQaUmt1YmVybmV0ZXM6Ly9hcGlzL2FwcHMvdjEvbmFtZXNwYWNlcy9pc3Rpby1zeXN0ZW0vZGVwbG95bWVudHMvaXN0aW8taW5ncmVzc2dhdGV3YXkKJwoNV09SS0xPQURfTkFNRRIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQ=="
      },
      "x-envoy-external-address": {
        "name": "x-envoy-external-address",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "49.205.203.168"
        },
        "example": "49.205.203.168"
      },
      "x-envoy-peer-metadata-id": {
        "name": "x-envoy-peer-metadata-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "router~10.10.185.143~istio-ingressgateway-9dd46b58b-tctzs.istio-system~istio-system.svc.cluster.local"
        },
        "example": "router~10.10.185.143~istio-ingressgateway-9dd46b58b-tctzs.istio-system~istio-system.svc.cluster.local"
      },
      "x-envoy-decorator-operation": {
        "name": "x-envoy-decorator-operation",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "kong-test1-kong-proxy.kong-test.svc.cluster.local:80/*"
        },
        "example": "kong-test1-kong-proxy.kong-test.svc.cluster.local:80/*"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "GATEWAY_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "pragma": {
        "description": "The 'pragma' header indicates any particular directives the client should consider when caching the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "no-cache"
        },
        "example": "no-cache"
      },
      "expires": {
        "description": "The 'expires' header specifies the date and time after which the response is considered stale.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "0"
        },
        "example": "0"
      },
      "access-control-max-age": {
        "description": "The 'access-control-max-age' header indicates the maximum time, in seconds, that the results of a preflight request can be cached.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "3628800"
        },
        "example": "3628800"
      },
      "x-kong-upstream-status": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "200"
        },
        "example": "200"
      },
      "access-control-allow-origin": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "*"
        },
        "example": "*"
      },
      "access-control-allow-headers": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "origin, x-requested-with, accept"
        },
        "example": "origin, x-requested-with, accept"
      },
      "access-control-allow-methods": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "GET, PUT, POST, DELETE"
        },
        "example": "GET, PUT, POST, DELETE"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer Authentication method where a JSON Web Token (JWT) is included in the Authorization header to authenticate API requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}