{
  "openapi": "3.0.1",
  "info": {
    "title": "GATEWAY_PROD_OAuth Token Generation API",
    "description": "The OAuth Token Generation API facilitates the secure issuance of access tokens needed for authenticated access to protected resources. This API is essential for developers implementing OAuth 2.0 authentication, enabling them to obtain tokens that allow their applications to securely interact with various services. Typical consumers include mobile and web application developers who require access to APIs on behalf of users. By issuing tokens through this endpoint, applications can ensure secure and authorized operations without compromising user credentials.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://test1-kong-apiproxy.apiwiz.io",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v1/security/oauth-token": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Generate OAuth token",
        "description": "This endpoint allows clients to request a new OAuth token for authentication and authorization purposes. The token can be used to access protected resources on behalf of the user.",
        "operationId": "createOauthToken",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-request-id"
          },
          {
            "$ref": "#/components/parameters/x-envoy-attempt-count"
          },
          {
            "$ref": "#/components/parameters/x-envoy-peer-metadata"
          },
          {
            "$ref": "#/components/parameters/x-envoy-external-address"
          },
          {
            "$ref": "#/components/parameters/x-envoy-peer-metadata-id"
          },
          {
            "$ref": "#/components/parameters/x-envoy-decorator-operation"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for obtaining an OAuth token. This includes the necessary credentials and scopes required for authentication and authorization.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOauthTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully generated an access token.",
            "headers": {
              "pragma": {
                "$ref": "#/components/headers/pragma"
              },
              "expires": {
                "$ref": "#/components/headers/expires"
              },
              "access-control-max-age": {
                "$ref": "#/components/headers/access-control-max-age"
              },
              "x-kong-upstream-status": {
                "$ref": "#/components/headers/x-kong-upstream-status"
              },
              "access-control-allow-origin": {
                "$ref": "#/components/headers/access-control-allow-origin"
              },
              "access-control-allow-headers": {
                "$ref": "#/components/headers/access-control-allow-headers"
              },
              "access-control-allow-methods": {
                "$ref": "#/components/headers/access-control-allow-methods"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOauthTokenResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateOauthTokenRequest": {
        "title": "OAuth Token Request Body",
        "type": "object",
        "properties": {},
        "description": "This schema represents the request body for the OAuth token generation operation.",
        "example": {}
      },
      "CreateOauthTokenResponse_200": {
        "type": "object",
        "properties": {
          "expires_in": {
            "type": "string",
            "description": "The duration in seconds until the access token expires.",
            "example": "3599"
          },
          "token_type": {
            "type": "string",
            "description": "The type of the token issued (e.g., Bearer).",
            "example": "BearerToken"
          },
          "access_token": {
            "type": "string",
            "description": "The actual access token that can be used for authentication.",
            "example": "0uq9zJvbvYU0ISWxpR5h7XiJ9fcU"
          },
          "issued_at": {
            "type": "string",
            "description": "The timestamp when the token was issued.",
            "example": "1787839307824"
          },
          "status": {
            "type": "string",
            "description": "The status of the token request (e.g., granted, denied).",
            "example": "approved"
          }
        },
        "description": "Schema representing the response for successful OAuth token generation.",
        "example": {
          "expires_in": "3599",
          "token_type": "BearerToken",
          "access_token": "0uq9zJvbvYU0ISWxpR5h7XiJ9fcU",
          "issued_at": "1787839307824",
          "status": "approved"
        }
      }
    },
    "parameters": {
      "x-request-id": {
        "name": "x-request-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ec426617-51a2-4d8d-9103-e8395b9acae3"
        },
        "example": "ec426617-51a2-4d8d-9103-e8395b9acae3"
      },
      "x-envoy-attempt-count": {
        "name": "x-envoy-attempt-count",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-envoy-peer-metadata": {
        "name": "x-envoy-peer-metadata",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ChoKCkNMVVNURVJfSUQSDBoKS3ViZXJuZXRlcwquAQoGTEFCRUxTEqMBKqABCh0KA2FwcBIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQo5Ch9zZXJ2aWNlLmlzdGlvLmlvL2Nhbm9uaWNhbC1uYW1lEhYaFGlzdGlvLWluZ3Jlc3NnYXRld2F5Ci8KI3NlcnZpY2UuaXN0aW8uaW8vY2Fub25pY2FsLXJldmlzaW9uEggaBjEtMzAtMAoTCgd2ZXJzaW9uEggaBjEuMzAuMAouCgROQU1FEiYaJGlzdGlvLWluZ3Jlc3NnYXRld2F5LTlkZDQ2YjU4Yi10Y3R6cwobCglOQU1FU1BBQ0USDhoMaXN0aW8tc3lzdGVtCl0KBU9XTkVSElQaUmt1YmVybmV0ZXM6Ly9hcGlzL2FwcHMvdjEvbmFtZXNwYWNlcy9pc3Rpby1zeXN0ZW0vZGVwbG95bWVudHMvaXN0aW8taW5ncmVzc2dhdGV3YXkKJwoNV09SS0xPQURfTkFNRRIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQ=="
        },
        "example": "ChoKCkNMVVNURVJfSUQSDBoKS3ViZXJuZXRlcwquAQoGTEFCRUxTEqMBKqABCh0KA2FwcBIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQo5Ch9zZXJ2aWNlLmlzdGlvLmlvL2Nhbm9uaWNhbC1uYW1lEhYaFGlzdGlvLWluZ3Jlc3NnYXRld2F5Ci8KI3NlcnZpY2UuaXN0aW8uaW8vY2Fub25pY2FsLXJldmlzaW9uEggaBjEtMzAtMAoTCgd2ZXJzaW9uEggaBjEuMzAuMAouCgROQU1FEiYaJGlzdGlvLWluZ3Jlc3NnYXRld2F5LTlkZDQ2YjU4Yi10Y3R6cwobCglOQU1FU1BBQ0USDhoMaXN0aW8tc3lzdGVtCl0KBU9XTkVSElQaUmt1YmVybmV0ZXM6Ly9hcGlzL2FwcHMvdjEvbmFtZXNwYWNlcy9pc3Rpby1zeXN0ZW0vZGVwbG95bWVudHMvaXN0aW8taW5ncmVzc2dhdGV3YXkKJwoNV09SS0xPQURfTkFNRRIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQ=="
      },
      "x-envoy-external-address": {
        "name": "x-envoy-external-address",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "49.205.203.168"
        },
        "example": "49.205.203.168"
      },
      "x-envoy-peer-metadata-id": {
        "name": "x-envoy-peer-metadata-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "router~10.10.185.143~istio-ingressgateway-9dd46b58b-tctzs.istio-system~istio-system.svc.cluster.local"
        },
        "example": "router~10.10.185.143~istio-ingressgateway-9dd46b58b-tctzs.istio-system~istio-system.svc.cluster.local"
      },
      "x-envoy-decorator-operation": {
        "name": "x-envoy-decorator-operation",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "kong-test1-kong-proxy.kong-test.svc.cluster.local:80/*"
        },
        "example": "kong-test1-kong-proxy.kong-test.svc.cluster.local:80/*"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "GATEWAY_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "pragma": {
        "description": "Specifies caching directives for the response, indicating that the response should not be cached.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "no-cache"
        },
        "example": "no-cache"
      },
      "expires": {
        "description": "Indicates the date/time after which the response is considered stale.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "0"
        },
        "example": "0"
      },
      "access-control-max-age": {
        "description": "Specifies the maximum time that the results of a preflight request can be cached.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "3628800"
        },
        "example": "3628800"
      },
      "x-kong-upstream-status": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "200"
        },
        "example": "200"
      },
      "access-control-allow-origin": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "*"
        },
        "example": "*"
      },
      "access-control-allow-headers": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "origin, x-requested-with, accept"
        },
        "example": "origin, x-requested-with, accept"
      },
      "access-control-allow-methods": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "GET, PUT, POST, DELETE"
        },
        "example": "GET, PUT, POST, DELETE"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses bearer tokens secured via the JSON Web Token (JWT) format to authenticate requests. Clients must provide a valid bearer token in the `Authorization` header for access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}