{
  "openapi": "3.0.1",
  "info": {
    "title": "GATEWAY-PROD-Replace Banking Employee Expense Claim By Expense Claim Id-v5-spec",
    "description": "GATEWAY-PROD-Replace Banking Employee Expense Claim By Expense Claim Id-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://prod-apigateway.apiwiz.io",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/employees/{employeeId}/expense-claims/{expenseClaimId}": {
      "put": {
        "operationId": "replaceBankingEmployeeExpenseClaimByExpenseClaimId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-envoy-attempt-count"
          },
          {
            "$ref": "#/components/parameters/x-envoy-peer-metadata"
          },
          {
            "$ref": "#/components/parameters/x-envoy-external-address"
          },
          {
            "$ref": "#/components/parameters/x-envoy-peer-metadata-id"
          },
          {
            "$ref": "#/components/parameters/x-envoy-decorator-operation"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/employeeId"
          },
          {
            "$ref": "#/components/parameters/expenseClaimId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceBankingEmployeeExpenseClaimByExpenseClaimIdRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceBankingEmployeeExpenseClaimByExpenseClaimIdResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ReplaceBankingEmployeeExpenseClaimByExpenseClaimIdRequest": {
        "type": "object",
        "properties": {
          "expenseReportId": {
            "type": "string",
            "example": "STANDARD"
          },
          "employeeId": {
            "type": "string",
            "example": "EMP-397951"
          },
          "tripPurpose": {
            "type": "string",
            "example": "STANDARD"
          },
          "expensePeriod": {
            "type": "object",
            "properties": {
              "from": {
                "type": "string",
                "example": "string"
              },
              "to": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "from": "2026-08-11",
              "to": "2026-08-11"
            }
          },
          "claimedAmount": {
            "type": "object",
            "properties": {
              "amount": {
                "type": "integer",
                "format": "int32",
                "example": 0
              },
              "currency": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "amount": 100,
              "currency": "USD"
            }
          },
          "costCenter": {
            "type": "string",
            "example": "STANDARD"
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "ec194bca-efc4-4f63-94f6-6ad333a5507e",
              "correlationId": "e8652458-1f14-4f70-95d9-7f6536ef08ee",
              "idempotencyKey": "7ff58381-2015-49aa-a1e3-75c11a471ce5",
              "requestedAt": "2026-09-07T05:11:00.175Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-423278"
              }
            }
          }
        },
        "example": {
          "expenseReportId": "STANDARD",
          "employeeId": "EMP-397951",
          "tripPurpose": "STANDARD",
          "expensePeriod": {
            "from": "2026-08-11",
            "to": "2026-08-11"
          },
          "claimedAmount": {
            "amount": 100,
            "currency": "USD"
          },
          "costCenter": "STANDARD",
          "requestContext": {
            "requestId": "ec194bca-efc4-4f63-94f6-6ad333a5507e",
            "correlationId": "e8652458-1f14-4f70-95d9-7f6536ef08ee",
            "idempotencyKey": "7ff58381-2015-49aa-a1e3-75c11a471ce5",
            "requestedAt": "2026-09-07T05:11:00.175Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-423278"
            }
          }
        }
      },
      "ReplaceBankingEmployeeExpenseClaimByExpenseClaimIdResponse_201": {
        "type": "object",
        "properties": {
          "expenseReportId": {
            "type": "string",
            "example": "STANDARD"
          },
          "employeeId": {
            "type": "string",
            "example": "EMP-200976"
          },
          "resourceId": {
            "type": "string",
            "example": "RES-557358"
          },
          "status": {
            "type": "string",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "b18ccaed-6d3f-55b4-9d92-7492b39f0d32",
              "correlationId": "e6a1bdb0-a8a2-5428-9690-5289b8ae3956",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "expenseReportId": "STANDARD",
          "employeeId": "EMP-200976",
          "resourceId": "RES-557358",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "b18ccaed-6d3f-55b4-9d92-7492b39f0d32",
            "correlationId": "e6a1bdb0-a8a2-5428-9690-5289b8ae3956",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-envoy-attempt-count": {
        "name": "x-envoy-attempt-count",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-envoy-peer-metadata": {
        "name": "x-envoy-peer-metadata",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ChoKCkNMVVNURVJfSUQSDBoKS3ViZXJuZXRlcwquAQoGTEFCRUxTEqMBKqABCh0KA2FwcBIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQo5Ch9zZXJ2aWNlLmlzdGlvLmlvL2Nhbm9uaWNhbC1uYW1lEhYaFGlzdGlvLWluZ3Jlc3NnYXRld2F5Ci8KI3NlcnZpY2UuaXN0aW8uaW8vY2Fub25pY2FsLXJldmlzaW9uEggaBjEtMzAtMAoTCgd2ZXJzaW9uEggaBjEuMzAuMAovCgROQU1FEicaJWlzdGlvLWluZ3Jlc3NnYXRld2F5LTg1NTRkYmJiODktYzg4aGcKGwoJTkFNRVNQQUNFEg4aDGlzdGlvLXN5c3RlbQpdCgVPV05FUhJUGlJrdWJlcm5ldGVzOi8vYXBpcy9hcHBzL3YxL25hbWVzcGFjZXMvaXN0aW8tc3lzdGVtL2RlcGxveW1lbnRzL2lzdGlvLWluZ3Jlc3NnYXRld2F5CicKDVdPUktMT0FEX05BTUUSFhoUaXN0aW8taW5ncmVzc2dhdGV3YXk="
        },
        "example": "ChoKCkNMVVNURVJfSUQSDBoKS3ViZXJuZXRlcwquAQoGTEFCRUxTEqMBKqABCh0KA2FwcBIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQo5Ch9zZXJ2aWNlLmlzdGlvLmlvL2Nhbm9uaWNhbC1uYW1lEhYaFGlzdGlvLWluZ3Jlc3NnYXRld2F5Ci8KI3NlcnZpY2UuaXN0aW8uaW8vY2Fub25pY2FsLXJldmlzaW9uEggaBjEtMzAtMAoTCgd2ZXJzaW9uEggaBjEuMzAuMAovCgROQU1FEicaJWlzdGlvLWluZ3Jlc3NnYXRld2F5LTg1NTRkYmJiODktYzg4aGcKGwoJTkFNRVNQQUNFEg4aDGlzdGlvLXN5c3RlbQpdCgVPV05FUhJUGlJrdWJlcm5ldGVzOi8vYXBpcy9hcHBzL3YxL25hbWVzcGFjZXMvaXN0aW8tc3lzdGVtL2RlcGxveW1lbnRzL2lzdGlvLWluZ3Jlc3NnYXRld2F5CicKDVdPUktMT0FEX05BTUUSFhoUaXN0aW8taW5ncmVzc2dhdGV3YXk="
      },
      "x-envoy-external-address": {
        "name": "x-envoy-external-address",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "3.107.210.58"
        },
        "example": "3.107.210.58"
      },
      "x-envoy-peer-metadata-id": {
        "name": "x-envoy-peer-metadata-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "router~10.10.142.42~istio-ingressgateway-8554dbbb89-c88hg.istio-system~istio-system.svc.cluster.local"
        },
        "example": "router~10.10.142.42~istio-ingressgateway-8554dbbb89-c88hg.istio-system~istio-system.svc.cluster.local"
      },
      "x-envoy-decorator-operation": {
        "name": "x-envoy-decorator-operation",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "kong-test1-kong-proxy.kong-test.svc.cluster.local:80/*"
        },
        "example": "kong-test1-kong-proxy.kong-test.svc.cluster.local:80/*"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "GATEWAY_PROD_201"
          ]
        }
      },
      "employeeId": {
        "name": "employeeId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "expenseClaimId": {
        "name": "expenseClaimId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "travel-and-expenses-create-travel-and-expenses"
        },
        "example": "travel-and-expenses-create-travel-and-expenses"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      },
      "X-Workflow-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-083"
        },
        "example": "WF-083"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Employee Travel Expense Approval and Reimbursement"
        },
        "example": "Employee Travel Expense Approval and Reimbursement"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "50229b69-5024-4f23-9d60-d08499db0079"
        },
        "example": "50229b69-5024-4f23-9d60-d08499db0079"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}