{
  "openapi": "3.0.1",
  "info": {
    "title": "GATEWAY-PROD-Create Payments Transfer-v1-spec",
    "description": "GATEWAY-PROD-Create Payments Transfer-v1-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:7000",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v1/payments/transfer": {
      "post": {
        "operationId": "createPaymentsTransfer",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-not-required"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePaymentsTransferRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePaymentsTransferResponse_200"
                }
              }
            }
          },
          "500": {
            "description": "500Description",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePaymentsTransferResponse_500"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreatePaymentsTransferResponse_200": {
        "type": "object",
        "properties": {
          "transactionId": {
            "type": "string",
            "example": "INS-fe02e0d4-d5c7-429e-8b44-4885adaa2d30"
          },
          "status": {
            "type": "string",
            "example": "SUCCESS"
          },
          "endtoendId": {
            "type": "string",
            "example": "INS-1ac02431-11f5-442a-9624-3774b63505cf"
          },
          "InstructionId": {
            "type": "string",
            "example": "INS-1fa00390-e9c4-458b-b741-63ee5f022ff2"
          }
        },
        "example": {
          "transactionId": "INS-fe02e0d4-d5c7-429e-8b44-4885adaa2d30",
          "status": "SUCCESS",
          "endtoendId": "INS-1ac02431-11f5-442a-9624-3774b63505cf",
          "InstructionId": "INS-1fa00390-e9c4-458b-b741-63ee5f022ff2"
        }
      },
      "CreatePaymentsTransferRequest": {
        "type": "object",
        "properties": {
          "partnerCode": {
            "type": "string",
            "example": "RCPAY"
          },
          "supplementaryData": {
            "type": "string",
            "example": "all comp"
          },
          "currency": {
            "type": "string",
            "example": "PHP"
          },
          "partnerReferenceInformation": {
            "type": "object",
            "properties": {
              "transactionId": {
                "type": "string",
                "example": "string"
              },
              "endtoendId": {
                "type": "string",
                "example": "string"
              },
              "InstructionId": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "transactionId": "{{partnerTransactionId}}",
              "endtoendId": "{{partnerEndToEndId}}",
              "InstructionId": "{{partnerInstructionId}}"
            }
          },
          "debtorAccountInformation": {
            "type": "object",
            "properties": {
              "dbtrAccountName": {
                "type": "string",
                "example": "string"
              },
              "dbtrEmail": {
                "type": "string",
                "example": "string"
              },
              "dbtrAccountNo": {
                "type": "string",
                "example": "string"
              },
              "dbtrBirthDt": {
                "type": "string",
                "example": "string"
              },
              "dbtrAddress": {
                "type": "string",
                "example": "string"
              },
              "dbtrCountryCode": {
                "type": "string",
                "example": "string"
              },
              "dbtrBIC": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "dbtrAccountName": "XVXi/8HE28JNEMZBiS8cqxBlLPPsDrH8k8Szlc87IkAB74Yoj1U0YERBeHcUo3B0m3l1NWynC1TxTjWOD6acTH419xCve+g1ug/jD7vnhSNwTYKieW8BWa1FCSoci0esY0w0u20q2oKkW/+d1GGKhpCTaV+2+ufFisgrdWV/PVRrDdCLCuFcfBKhEjypSGMIZiHLBac9JBR8qgE1+pzpTW6YNv38ehvZ2G1DQu7PRW2Rk+fJ0dzCKd5r1ekc4TsAvJfuqdwDcFRPhpIfcnTpDbR5mPtYZ0DkCskYbtIvma4uKS04UNK2B1lESi1jrF1Td9EKHyzAvYhjXkguTuU6TA==",
              "dbtrEmail": "c5P8ODF89ibI4P6ljzo2D1H4BOlfS5xZnPk6dTFQCdcvwlf9xDAxlKgcIqRUmVzEjYdR7EVYOAphhCY+xcMuV/kBLg0CqwTIrsIjfERo0m45DJV6m+spTkB/HFoHi4MNBRqawNukaoISiHvA+Ho2YJjjLpPCQOaiUixzCW/Fj3ldv5Ed0DybRLvrkaFUHpYgGpXxyhaYbT34851wVZNWi47aJXQZlE23csVc78rxKbs/kMxV1cq1vOzBuYm5AwG/UojSfQTSTW0amii+DMzB1LZl11kE38V3bqQtrKiEgh99OV2fl6NCurCUgJMGh4C0DgRIl+cQk7v25gJOsNw2mQ==",
              "dbtrAccountNo": "ai9rj1ngzr2Erj5rjx3fFaYk7BAKo3OS40HThC7wLc8/Z6wUdGcP5aJVF4J0eJ5+18opu8KjQYCvEg1I51QUysf69Tgk19Os5zP6d9UOxzxXe/bxefdjACfIXSOwZHn8ZN7SMAOQkJtuDpseolNkjbc2f77VHXfp0SHL2LuhMR1d1HSaCod8mLhfEflNo+9Sz1ZItbmo5J38M0J++PX+ip/0x6k+p0GYZ96ivSGv/vsj89GH0ID6C0IxriYf5riIV7X6Qg5b9lxH1CIdYQCFRLioNPe568m5U5M+v4Xn76tjWt3/Xe8BLYPAmCrTWNSBPatsu4h80qmvzKHZsRiJnA==",
              "dbtrBirthDt": "N/A",
              "dbtrAddress": "464 Thad Village,012801,0128,PH",
              "dbtrCountryCode": "PH",
              "dbtrBIC": "RCBCPHMMXXX"
            }
          },
          "amount": {
            "type": "string",
            "example": "10"
          },
          "purpose": {
            "type": "string",
            "example": "Online Payment"
          },
          "remittanceInformation": {
            "type": "string",
            "example": "all compliant"
          },
          "creditorAccountInformation": {
            "type": "object",
            "properties": {
              "cdtrBirthDt": {
                "type": "string",
                "example": "string"
              },
              "cdtrCountryCode": {
                "type": "string",
                "example": "string"
              },
              "cdtrEmail": {
                "type": "string",
                "example": "string"
              },
              "cdtrAddress": {
                "type": "string",
                "example": "string"
              },
              "cdtrAccountName": {
                "type": "string",
                "example": "string"
              },
              "cdtrAccountNo": {
                "type": "string",
                "example": "string"
              },
              "cdtrBIC": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "cdtrBirthDt": "N/A",
              "cdtrCountryCode": "PH",
              "cdtrEmail": "Co8mhapM99rP2Wo8IVtWitBTcZ8IjAiYOLu7VYcbV52+dyM3XrOH97c5bukwhlhtu7Q4rEUsutJ1awlxO8pRck/BT8vr0RgqNdg2nP0aG6Hr8xN/DzL0nxvZIQzK9qdK64uuaNTpCTMK4PiL/RymPyfC4KQCqbQZOBE+1SCOgK73tW6cEZeQCuNJj7eQCCw0tKnl7t+S4H2zoEwNolsD7j96dk+mPYG+qBVZACqCZnfos9nqR7nvpdqQfy8nxKQg3n8yGAaDypBYHZadVG185mQ63NKEwl0hvfhCDXIE3ZyHs3XffDJ27UcjxbG9LOLs1y/oAg01/H+V2Nv/zORGHg==",
              "cdtrAddress": "Bonifacio Global City 24th Street",
              "cdtrAccountName": "IQkFY9KczfUvgCDc6I9AqXALGPkGxg/40A9DtQnCXa+AW47DIeLbp0WAuzbRqnUzdWGSitXIvdbcSew2xcILtVaZNR0tBZuqFcX8zCDFVtz2kJluI2xa1MQbqEjzI8n8uH85k6vXl2NZ/DkLpDxmVjFG+RPH4aiWaxPEd95l2hWIlJe5SKO8ywKN/5vsUcz1WdHgUmDOdjPhn1ZdcxdoZ1I5aKisDxEivSM5SGAmBvjTyUqIGOdx7bghWabkVY2ieJ7jXRp2rMXAPZEHv8v0+fcQFp825gAjpUVS2rys9d0QdBSo0RF+U+vu/Kw8yjGF8HAW5Nz7sxvyQ9XiJ9cttg==",
              "cdtrAccountNo": "owPq4fQXn1IC8N8OXqRq8JQyYGHHW5zuLYsiNkymnD4zjjixKhAl2owBEsj36xxNQ5nNgV8yA2OAiGr9rfGj064jxLAzkum3JIhPWigNJxR+KLoDlTOCLPqiFQ75tklZvZF/e1vXsAoTWrECjBPucQ5dNvOpMiIALU5qTZKr+9dXyCxvgSHu9dBU41K8G/ETd/R7cJnxrJJrlDp6MOM7PnlG66HpDiAkrvyhO9e9UhMxn2iOsqL7N/o+0ckOF/fd2tOl1LUUd/K2ftltZHghXtW1rR+5bez+e8F8RvutYO0OCIa46VzO1cS/Nk9qrLpj/1kE5dnHYigZtqCIw52fUA==",
              "cdtrBIC": "RCBCPHMMXXX"
            }
          },
          "settlementDate": {
            "type": "string",
            "example": "2026-04-28"
          },
          "paymentInformation": {
            "type": "object",
            "properties": {
              "prtryAccountType": {
                "type": "string",
                "example": "string"
              },
              "paymentType": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "prtryAccountType": "10",
              "paymentType": "CASA-WRONG"
            }
          },
          "partnerPassword": {
            "type": "string",
            "example": "ai9rj1ngzr2Erj5rjx3fFaYk7BAKo3OS40HThC7wLc8/Z6wUdGcP5aJVF4J0eJ5+18opu8KjQYCvEg1I51QUysf69Tgk19Os5zP6d9UOxzxXe/bxefdjACfIXSOwZHn8ZN7SMAOQkJtuDpseolNkjbc2f77VHXfp0SHL2LuhMR1d1HSaCod8mLhfEflNo+9Sz1ZItbmo5J38M0J++PX+ip/0x6k+p0GYZ96ivSGv/vsj89GH0ID6C0IxriYf5riIV7X6Qg5b9lxH1CIdYQCFRLioNPe568m5U5M+v4Xn76tjWt3/Xe8BLYPAmCrTWNSBPatsu4h80qmvzKHZsRiJnA=="
          }
        },
        "example": {
          "partnerCode": "RCPAY",
          "supplementaryData": "all comp",
          "currency": "PHP",
          "partnerReferenceInformation": {
            "transactionId": "{{partnerTransactionId}}",
            "endtoendId": "{{partnerEndToEndId}}",
            "InstructionId": "{{partnerInstructionId}}"
          },
          "debtorAccountInformation": {
            "dbtrAccountName": "XVXi/8HE28JNEMZBiS8cqxBlLPPsDrH8k8Szlc87IkAB74Yoj1U0YERBeHcUo3B0m3l1NWynC1TxTjWOD6acTH419xCve+g1ug/jD7vnhSNwTYKieW8BWa1FCSoci0esY0w0u20q2oKkW/+d1GGKhpCTaV+2+ufFisgrdWV/PVRrDdCLCuFcfBKhEjypSGMIZiHLBac9JBR8qgE1+pzpTW6YNv38ehvZ2G1DQu7PRW2Rk+fJ0dzCKd5r1ekc4TsAvJfuqdwDcFRPhpIfcnTpDbR5mPtYZ0DkCskYbtIvma4uKS04UNK2B1lESi1jrF1Td9EKHyzAvYhjXkguTuU6TA==",
            "dbtrEmail": "c5P8ODF89ibI4P6ljzo2D1H4BOlfS5xZnPk6dTFQCdcvwlf9xDAxlKgcIqRUmVzEjYdR7EVYOAphhCY+xcMuV/kBLg0CqwTIrsIjfERo0m45DJV6m+spTkB/HFoHi4MNBRqawNukaoISiHvA+Ho2YJjjLpPCQOaiUixzCW/Fj3ldv5Ed0DybRLvrkaFUHpYgGpXxyhaYbT34851wVZNWi47aJXQZlE23csVc78rxKbs/kMxV1cq1vOzBuYm5AwG/UojSfQTSTW0amii+DMzB1LZl11kE38V3bqQtrKiEgh99OV2fl6NCurCUgJMGh4C0DgRIl+cQk7v25gJOsNw2mQ==",
            "dbtrAccountNo": "ai9rj1ngzr2Erj5rjx3fFaYk7BAKo3OS40HThC7wLc8/Z6wUdGcP5aJVF4J0eJ5+18opu8KjQYCvEg1I51QUysf69Tgk19Os5zP6d9UOxzxXe/bxefdjACfIXSOwZHn8ZN7SMAOQkJtuDpseolNkjbc2f77VHXfp0SHL2LuhMR1d1HSaCod8mLhfEflNo+9Sz1ZItbmo5J38M0J++PX+ip/0x6k+p0GYZ96ivSGv/vsj89GH0ID6C0IxriYf5riIV7X6Qg5b9lxH1CIdYQCFRLioNPe568m5U5M+v4Xn76tjWt3/Xe8BLYPAmCrTWNSBPatsu4h80qmvzKHZsRiJnA==",
            "dbtrBirthDt": "N/A",
            "dbtrAddress": "464 Thad Village,012801,0128,PH",
            "dbtrCountryCode": "PH",
            "dbtrBIC": "RCBCPHMMXXX"
          },
          "amount": "10",
          "purpose": "Online Payment",
          "remittanceInformation": "all compliant",
          "creditorAccountInformation": {
            "cdtrBirthDt": "N/A",
            "cdtrCountryCode": "PH",
            "cdtrEmail": "Co8mhapM99rP2Wo8IVtWitBTcZ8IjAiYOLu7VYcbV52+dyM3XrOH97c5bukwhlhtu7Q4rEUsutJ1awlxO8pRck/BT8vr0RgqNdg2nP0aG6Hr8xN/DzL0nxvZIQzK9qdK64uuaNTpCTMK4PiL/RymPyfC4KQCqbQZOBE+1SCOgK73tW6cEZeQCuNJj7eQCCw0tKnl7t+S4H2zoEwNolsD7j96dk+mPYG+qBVZACqCZnfos9nqR7nvpdqQfy8nxKQg3n8yGAaDypBYHZadVG185mQ63NKEwl0hvfhCDXIE3ZyHs3XffDJ27UcjxbG9LOLs1y/oAg01/H+V2Nv/zORGHg==",
            "cdtrAddress": "Bonifacio Global City 24th Street",
            "cdtrAccountName": "IQkFY9KczfUvgCDc6I9AqXALGPkGxg/40A9DtQnCXa+AW47DIeLbp0WAuzbRqnUzdWGSitXIvdbcSew2xcILtVaZNR0tBZuqFcX8zCDFVtz2kJluI2xa1MQbqEjzI8n8uH85k6vXl2NZ/DkLpDxmVjFG+RPH4aiWaxPEd95l2hWIlJe5SKO8ywKN/5vsUcz1WdHgUmDOdjPhn1ZdcxdoZ1I5aKisDxEivSM5SGAmBvjTyUqIGOdx7bghWabkVY2ieJ7jXRp2rMXAPZEHv8v0+fcQFp825gAjpUVS2rys9d0QdBSo0RF+U+vu/Kw8yjGF8HAW5Nz7sxvyQ9XiJ9cttg==",
            "cdtrAccountNo": "owPq4fQXn1IC8N8OXqRq8JQyYGHHW5zuLYsiNkymnD4zjjixKhAl2owBEsj36xxNQ5nNgV8yA2OAiGr9rfGj064jxLAzkum3JIhPWigNJxR+KLoDlTOCLPqiFQ75tklZvZF/e1vXsAoTWrECjBPucQ5dNvOpMiIALU5qTZKr+9dXyCxvgSHu9dBU41K8G/ETd/R7cJnxrJJrlDp6MOM7PnlG66HpDiAkrvyhO9e9UhMxn2iOsqL7N/o+0ckOF/fd2tOl1LUUd/K2ftltZHghXtW1rR+5bez+e8F8RvutYO0OCIa46VzO1cS/Nk9qrLpj/1kE5dnHYigZtqCIw52fUA==",
            "cdtrBIC": "RCBCPHMMXXX"
          },
          "settlementDate": "2026-04-28",
          "paymentInformation": {
            "prtryAccountType": "10",
            "paymentType": "CASA-WRONG"
          },
          "partnerPassword": "ai9rj1ngzr2Erj5rjx3fFaYk7BAKo3OS40HThC7wLc8/Z6wUdGcP5aJVF4J0eJ5+18opu8KjQYCvEg1I51QUysf69Tgk19Os5zP6d9UOxzxXe/bxefdjACfIXSOwZHn8ZN7SMAOQkJtuDpseolNkjbc2f77VHXfp0SHL2LuhMR1d1HSaCod8mLhfEflNo+9Sz1ZItbmo5J38M0J++PX+ip/0x6k+p0GYZ96ivSGv/vsj89GH0ID6C0IxriYf5riIV7X6Qg5b9lxH1CIdYQCFRLioNPe568m5U5M+v4Xn76tjWt3/Xe8BLYPAmCrTWNSBPatsu4h80qmvzKHZsRiJnA=="
        }
      },
      "CreatePaymentsTransferResponse_500": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "Your payment could not be processed at this moment. Please try again later"
          },
          "endtoendId": {
            "type": "string",
            "example": "{{partnerEndToEndId}}"
          },
          "status": {
            "type": "string",
            "example": "FAILED"
          },
          "transactionId": {
            "type": "string",
            "example": "{{partnerTransactionId}}"
          },
          "code": {
            "type": "string",
            "example": "PAY-ERR-999"
          },
          "InstructionId": {
            "type": "string",
            "example": "{{partnerInstructionId}}"
          }
        },
        "example": {
          "message": "Your payment could not be processed at this moment. Please try again later",
          "endtoendId": "{{partnerEndToEndId}}",
          "status": "FAILED",
          "transactionId": "{{partnerTransactionId}}",
          "code": "PAY-ERR-999",
          "InstructionId": "{{partnerInstructionId}}"
        }
      }
    },
    "parameters": {
      "x-not-required": {
        "name": "x-not-required",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "CLIENT-CD-3478"
        },
        "example": "CLIENT-CD-3478"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "GATEWAY_PROD_200",
            "GATEWAY_PROD_500"
          ]
        }
      }
    }
  }
}