{
  "openapi": "3.0.1",
  "info": {
    "title": "GATEWAY_PROD_Regulatory Compliance Operational Actions API",
    "description": "The Regulatory Compliance Operational Actions API provides businesses with the capability to manage and execute various operational actions related to regulatory compliance in the banking sector. This API enables users to initiate compliance actions, ensuring adherence to regulatory requirements while streamlining processes. Typical consumers include compliance officers and risk management teams who utilize these operations to maintain compliance and mitigate risks. The API supports a seamless integration into existing compliance management workflows, enhancing operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/compliance/regulatory-compliance/operational-actions": {
      "post": {
        "tags": [
          "Regulatory Compliance"
        ],
        "summary": "Create a new operational action for regulatory compliance.",
        "description": "This endpoint allows users to create a new operational action related to regulatory compliance. It involves submitting necessary data that will be processed to ensure compliance with relevant regulations. Proper validation and error handling are key aspects of this operation.",
        "operationId": "createOperationalAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-envoy-attempt-count"
          },
          {
            "$ref": "#/components/parameters/x-envoy-peer-metadata"
          },
          {
            "$ref": "#/components/parameters/x-envoy-external-address"
          },
          {
            "$ref": "#/components/parameters/x-envoy-peer-metadata-id"
          },
          {
            "$ref": "#/components/parameters/x-envoy-decorator-operation"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit operational actions related to regulatory compliance. It must include all necessary parameters and adhere to the defined schema for successful processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOperationalActionRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted for processing, but the processing is not completed yet.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOperationalActionResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateOperationalActionRequest": {
        "title": "Operational Actions Request",
        "type": "object",
        "properties": {
          "actionType": {
            "type": "string",
            "description": "The type of action being requested.",
            "example": "STANDARD"
          },
          "priority": {
            "type": "string",
            "description": "Priority level of the requested action.",
            "example": "NORMAL"
          },
          "reason": {
            "type": "string",
            "description": "Reason for the action request.",
            "example": "STANDARD"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the user or system that is requesting the action.",
            "example": "STANDARD"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the action was requested.",
            "example": "2026-08-11T12:00:00Z"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing a request body for operational actions in the regulatory compliance context.",
        "example": {
          "actionType": "STANDARD",
          "priority": "NORMAL",
          "reason": "STANDARD",
          "requestedBy": "STANDARD",
          "requestedAt": "2026-08-11T12:00:00Z",
          "requestContext": {
            "requestId": "9d2629dc-8307-4eb8-ab08-4611c0cebc0a",
            "correlationId": "9f61054c-413b-4389-a332-6d66dc140f4a",
            "idempotencyKey": "dc61576e-74c4-4612-9d14-a6e8a1b0c510",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-220119"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate logs and events in distributed systems.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key that ensures the request is processed only once.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the context was recorded.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier of the system where the request originates.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier of the application that originated the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing additional context for the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier of the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile, API).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Schema representing information about the communication channel used for the request."
      },
      "CreateOperationalActionResponse_202": {
        "title": "Operational Action Response",
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "A reference identifier for the operational action.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "The type of operational action being recorded.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the operational action.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "Timestamp indicating when the action was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the operational action.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for an operational action in the regulatory compliance context.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "4b611f0d-ecd8-555c-8a08-a82130a9a66e",
            "correlationId": "f07b5a06-36f1-5973-b11d-ea8a964df6f9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Schema",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response generated by the operational action.",
            "example": "RESPONSE-67890"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate related operational actions.",
            "example": "CORRELATE-54321"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2023-10-01T12:05:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the operational action was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Schema to represent additional metadata associated with an operational action."
      }
    },
    "parameters": {
      "x-envoy-attempt-count": {
        "name": "x-envoy-attempt-count",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-envoy-peer-metadata": {
        "name": "x-envoy-peer-metadata",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ChoKCkNMVVNURVJfSUQSDBoKS3ViZXJuZXRlcwquAQoGTEFCRUxTEqMBKqABCh0KA2FwcBIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQo5Ch9zZXJ2aWNlLmlzdGlvLmlvL2Nhbm9uaWNhbC1uYW1lEhYaFGlzdGlvLWluZ3Jlc3NnYXRld2F5Ci8KI3NlcnZpY2UuaXN0aW8uaW8vY2Fub25pY2FsLXJldmlzaW9uEggaBjEtMzAtMAoTCgd2ZXJzaW9uEggaBjEuMzAuMAouCgROQU1FEiYaJGlzdGlvLWluZ3Jlc3NnYXRld2F5LTlkZDQ2YjU4Yi10Y3R6cwobCglOQU1FU1BBQ0USDhoMaXN0aW8tc3lzdGVtCl0KBU9XTkVSElQaUmt1YmVybmV0ZXM6Ly9hcGlzL2FwcHMvdjEvbmFtZXNwYWNlcy9pc3Rpby1zeXN0ZW0vZGVwbG95bWVudHMvaXN0aW8taW5ncmVzc2dhdGV3YXkKJwoNV09SS0xPQURfTkFNRRIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQ=="
        },
        "example": "ChoKCkNMVVNURVJfSUQSDBoKS3ViZXJuZXRlcwquAQoGTEFCRUxTEqMBKqABCh0KA2FwcBIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQo5Ch9zZXJ2aWNlLmlzdGlvLmlvL2Nhbm9uaWNhbC1uYW1lEhYaFGlzdGlvLWluZ3Jlc3NnYXRld2F5Ci8KI3NlcnZpY2UuaXN0aW8uaW8vY2Fub25pY2FsLXJldmlzaW9uEggaBjEtMzAtMAoTCgd2ZXJzaW9uEggaBjEuMzAuMAouCgROQU1FEiYaJGlzdGlvLWluZ3Jlc3NnYXRld2F5LTlkZDQ2YjU4Yi10Y3R6cwobCglOQU1FU1BBQ0USDhoMaXN0aW8tc3lzdGVtCl0KBU9XTkVSElQaUmt1YmVybmV0ZXM6Ly9hcGlzL2FwcHMvdjEvbmFtZXNwYWNlcy9pc3Rpby1zeXN0ZW0vZGVwbG95bWVudHMvaXN0aW8taW5ncmVzc2dhdGV3YXkKJwoNV09SS0xPQURfTkFNRRIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQ=="
      },
      "x-envoy-external-address": {
        "name": "x-envoy-external-address",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "49.205.203.168"
        },
        "example": "49.205.203.168"
      },
      "x-envoy-peer-metadata-id": {
        "name": "x-envoy-peer-metadata-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "router~10.10.185.143~istio-ingressgateway-9dd46b58b-tctzs.istio-system~istio-system.svc.cluster.local"
        },
        "example": "router~10.10.185.143~istio-ingressgateway-9dd46b58b-tctzs.istio-system~istio-system.svc.cluster.local"
      },
      "x-envoy-decorator-operation": {
        "name": "x-envoy-decorator-operation",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "kong-test1-kong-proxy.kong-test.svc.cluster.local:80/*"
        },
        "example": "kong-test1-kong-proxy.kong-test.svc.cluster.local:80/*"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "GATEWAY_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that is being accessed, facilitating tracking and auditing of requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "regulatory-compliance-create-regulatory-compliance-operational-action"
        },
        "example": "regulatory-compliance-create-regulatory-compliance-operational-action"
      },
      "X-Runtime-App": {
        "description": "The name of the application runtime environment where the operation is executed, useful for debugging and performance monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      },
      "X-Workflow-Id": {
        "description": "A unique identifier for the workflow instance associated with the current request, aiding in workflow management and tracking.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-044"
        },
        "example": "WF-044"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Sanctions Screening and Payment Release"
        },
        "example": "Sanctions Screening and Payment Release"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "e6ee99af-b487-4c10-91d8-e245934e40c7"
        },
        "example": "e6ee99af-b487-4c10-91d8-e245934e40c7"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses bearer tokens, which are typically in the form of JSON Web Tokens (JWT). Clients must include a 'Bearer' token in the Authorization header when making requests to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}