{
  "openapi": "3.0.1",
  "info": {
    "title": "GATEWAY-PROD-Create Banking Customer Beneficiary-v5-spec",
    "description": "GATEWAY-PROD-Create Banking Customer Beneficiary-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://prod-apigateway.apiwiz.io",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customers/{customerId}/beneficiaries": {
      "post": {
        "operationId": "createBankingCustomerBeneficiary",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-envoy-attempt-count"
          },
          {
            "$ref": "#/components/parameters/x-envoy-peer-metadata"
          },
          {
            "$ref": "#/components/parameters/x-envoy-external-address"
          },
          {
            "$ref": "#/components/parameters/x-envoy-peer-metadata-id"
          },
          {
            "$ref": "#/components/parameters/x-envoy-decorator-operation"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBankingCustomerBeneficiaryRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "202Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBankingCustomerBeneficiaryResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateBankingCustomerBeneficiaryRequest": {
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "example": "PAY-388716"
          },
          "debtorAccountId": {
            "type": "string",
            "example": "ACC-569458"
          },
          "creditorAccountId": {
            "type": "string",
            "example": "ACC-875258"
          },
          "instructedAmount": {
            "type": "object",
            "properties": {
              "amount": {
                "type": "integer",
                "format": "int32",
                "example": 0
              },
              "currency": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "amount": 100,
              "currency": "USD"
            }
          },
          "requestedExecutionDate": {
            "type": "string",
            "example": "2026-09-14"
          },
          "remittanceInformation": {
            "type": "string",
            "example": "STANDARD"
          },
          "paymentRail": {
            "type": "string",
            "example": "STANDARD"
          },
          "chargeBearer": {
            "type": "string",
            "example": "STANDARD"
          },
          "purposeCode": {
            "type": "string",
            "example": "CODE-328"
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "74453346-bdcb-47ef-b5d3-1e83e29c74b6",
              "correlationId": "238c9daf-f7fb-41a6-a1c7-00c4f4c587db",
              "idempotencyKey": "9561b9c9-5a0c-4579-ac77-54f3c2fdc3ef",
              "requestedAt": "2026-09-07T05:13:51.716Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-177353"
              }
            }
          }
        },
        "example": {
          "paymentId": "PAY-388716",
          "debtorAccountId": "ACC-569458",
          "creditorAccountId": "ACC-875258",
          "instructedAmount": {
            "amount": 100,
            "currency": "USD"
          },
          "requestedExecutionDate": "2026-09-14",
          "remittanceInformation": "STANDARD",
          "paymentRail": "STANDARD",
          "chargeBearer": "STANDARD",
          "purposeCode": "CODE-328",
          "requestContext": {
            "requestId": "74453346-bdcb-47ef-b5d3-1e83e29c74b6",
            "correlationId": "238c9daf-f7fb-41a6-a1c7-00c4f4c587db",
            "idempotencyKey": "9561b9c9-5a0c-4579-ac77-54f3c2fdc3ef",
            "requestedAt": "2026-09-07T05:13:51.716Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-177353"
            }
          }
        }
      },
      "CreateBankingCustomerBeneficiaryResponse_202": {
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "example": "PAY-412137"
          },
          "debtorAccountId": {
            "type": "string",
            "example": "ACC-821374"
          },
          "creditorAccountId": {
            "type": "string",
            "example": "ACC-129547"
          },
          "purposeCode": {
            "type": "string",
            "example": "CODE-168"
          },
          "processingReference": {
            "type": "string",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "example": "ACTIVE"
          },
          "acceptedAt": {
            "type": "string",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "10c62ad9-adc8-50ef-9ae0-92325609a4db",
              "correlationId": "283bc793-c662-53ce-9430-874a356c1af4",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "paymentId": "PAY-412137",
          "debtorAccountId": "ACC-821374",
          "creditorAccountId": "ACC-129547",
          "purposeCode": "CODE-168",
          "processingReference": "STANDARD",
          "status": "ACTIVE",
          "acceptedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "10c62ad9-adc8-50ef-9ae0-92325609a4db",
            "correlationId": "283bc793-c662-53ce-9430-874a356c1af4",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-envoy-attempt-count": {
        "name": "x-envoy-attempt-count",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-envoy-peer-metadata": {
        "name": "x-envoy-peer-metadata",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ChoKCkNMVVNURVJfSUQSDBoKS3ViZXJuZXRlcwquAQoGTEFCRUxTEqMBKqABCh0KA2FwcBIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQo5Ch9zZXJ2aWNlLmlzdGlvLmlvL2Nhbm9uaWNhbC1uYW1lEhYaFGlzdGlvLWluZ3Jlc3NnYXRld2F5Ci8KI3NlcnZpY2UuaXN0aW8uaW8vY2Fub25pY2FsLXJldmlzaW9uEggaBjEtMzAtMAoTCgd2ZXJzaW9uEggaBjEuMzAuMAovCgROQU1FEicaJWlzdGlvLWluZ3Jlc3NnYXRld2F5LTg1NTRkYmJiODktYzg4aGcKGwoJTkFNRVNQQUNFEg4aDGlzdGlvLXN5c3RlbQpdCgVPV05FUhJUGlJrdWJlcm5ldGVzOi8vYXBpcy9hcHBzL3YxL25hbWVzcGFjZXMvaXN0aW8tc3lzdGVtL2RlcGxveW1lbnRzL2lzdGlvLWluZ3Jlc3NnYXRld2F5CicKDVdPUktMT0FEX05BTUUSFhoUaXN0aW8taW5ncmVzc2dhdGV3YXk="
        },
        "example": "ChoKCkNMVVNURVJfSUQSDBoKS3ViZXJuZXRlcwquAQoGTEFCRUxTEqMBKqABCh0KA2FwcBIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQo5Ch9zZXJ2aWNlLmlzdGlvLmlvL2Nhbm9uaWNhbC1uYW1lEhYaFGlzdGlvLWluZ3Jlc3NnYXRld2F5Ci8KI3NlcnZpY2UuaXN0aW8uaW8vY2Fub25pY2FsLXJldmlzaW9uEggaBjEtMzAtMAoTCgd2ZXJzaW9uEggaBjEuMzAuMAovCgROQU1FEicaJWlzdGlvLWluZ3Jlc3NnYXRld2F5LTg1NTRkYmJiODktYzg4aGcKGwoJTkFNRVNQQUNFEg4aDGlzdGlvLXN5c3RlbQpdCgVPV05FUhJUGlJrdWJlcm5ldGVzOi8vYXBpcy9hcHBzL3YxL25hbWVzcGFjZXMvaXN0aW8tc3lzdGVtL2RlcGxveW1lbnRzL2lzdGlvLWluZ3Jlc3NnYXRld2F5CicKDVdPUktMT0FEX05BTUUSFhoUaXN0aW8taW5ncmVzc2dhdGV3YXk="
      },
      "x-envoy-external-address": {
        "name": "x-envoy-external-address",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "56.125.13.215"
        },
        "example": "56.125.13.215"
      },
      "x-envoy-peer-metadata-id": {
        "name": "x-envoy-peer-metadata-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "router~10.10.142.42~istio-ingressgateway-8554dbbb89-c88hg.istio-system~istio-system.svc.cluster.local"
        },
        "example": "router~10.10.142.42~istio-ingressgateway-8554dbbb89-c88hg.istio-system~istio-system.svc.cluster.local"
      },
      "x-envoy-decorator-operation": {
        "name": "x-envoy-decorator-operation",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "kong-test1-kong-proxy.kong-test.svc.cluster.local:80/*"
        },
        "example": "kong-test1-kong-proxy.kong-test.svc.cluster.local:80/*"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "GATEWAY_PROD_202"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-order-process-payment-order"
        },
        "example": "payment-order-process-payment-order"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      },
      "X-Workflow-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-011"
        },
        "example": "WF-011"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Beneficiary Registration and Verification"
        },
        "example": "Beneficiary Registration and Verification"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "84135ddf-6e85-4c78-bb99-7d4a300cfe78"
        },
        "example": "84135ddf-6e85-4c78-bb99-7d4a300cfe78"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}