{
  "openapi": "3.0.1",
  "info": {
    "title": "GATEWAY-PROD-Create Banking Corporate Finance Public Offering-v5-spec",
    "description": "GATEWAY-PROD-Create Banking Corporate Finance Public Offering-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://prod-apigateway.apiwiz.io",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/corporate-finance/public-offering": {
      "post": {
        "operationId": "createBankingCorporateFinancePublicOffering",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-envoy-attempt-count"
          },
          {
            "$ref": "#/components/parameters/x-envoy-peer-metadata"
          },
          {
            "$ref": "#/components/parameters/x-envoy-external-address"
          },
          {
            "$ref": "#/components/parameters/x-envoy-peer-metadata-id"
          },
          {
            "$ref": "#/components/parameters/x-envoy-decorator-operation"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBankingCorporateFinancePublicOfferingRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBankingCorporateFinancePublicOfferingResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateBankingCorporateFinancePublicOfferingRequest": {
        "type": "object",
        "properties": {
          "clientId": {
            "type": "string",
            "example": "STANDARD"
          },
          "engagementId": {
            "type": "string",
            "example": "STANDARD"
          },
          "transactionType": {
            "type": "string",
            "example": "STANDARD"
          },
          "enterpriseValue": {
            "type": "object",
            "properties": {
              "amount": {
                "type": "integer",
                "format": "int32",
                "example": 0
              },
              "currency": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "amount": 100,
              "currency": "USD"
            }
          },
          "targetCloseDate": {
            "type": "string",
            "example": "2026-09-14"
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "83b218f9-936a-4958-bc21-71cf23d1b47d",
              "correlationId": "1d395b14-d13a-482a-b280-baa7613fec2c",
              "idempotencyKey": "e9d1404d-66a0-435b-b59b-9b7a1a89f353",
              "requestedAt": "2026-09-07T05:11:12.280Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-689087"
              }
            }
          }
        },
        "example": {
          "clientId": "STANDARD",
          "engagementId": "STANDARD",
          "transactionType": "STANDARD",
          "enterpriseValue": {
            "amount": 100,
            "currency": "USD"
          },
          "targetCloseDate": "2026-09-14",
          "requestContext": {
            "requestId": "83b218f9-936a-4958-bc21-71cf23d1b47d",
            "correlationId": "1d395b14-d13a-482a-b280-baa7613fec2c",
            "idempotencyKey": "e9d1404d-66a0-435b-b59b-9b7a1a89f353",
            "requestedAt": "2026-09-07T05:11:12.280Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-689087"
            }
          }
        }
      },
      "CreateBankingCorporateFinancePublicOfferingResponse_201": {
        "type": "object",
        "properties": {
          "clientId": {
            "type": "string",
            "example": "STANDARD"
          },
          "engagementId": {
            "type": "string",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "example": "RES-476320"
          },
          "status": {
            "type": "string",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "46d4fac9-c54b-5845-b866-d9f55c556226",
              "correlationId": "f846a14b-1477-5754-85e5-baa3a448ba17",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "clientId": "STANDARD",
          "engagementId": "STANDARD",
          "resourceId": "RES-476320",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "46d4fac9-c54b-5845-b866-d9f55c556226",
            "correlationId": "f846a14b-1477-5754-85e5-baa3a448ba17",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-envoy-attempt-count": {
        "name": "x-envoy-attempt-count",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-envoy-peer-metadata": {
        "name": "x-envoy-peer-metadata",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ChoKCkNMVVNURVJfSUQSDBoKS3ViZXJuZXRlcwquAQoGTEFCRUxTEqMBKqABCh0KA2FwcBIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQo5Ch9zZXJ2aWNlLmlzdGlvLmlvL2Nhbm9uaWNhbC1uYW1lEhYaFGlzdGlvLWluZ3Jlc3NnYXRld2F5Ci8KI3NlcnZpY2UuaXN0aW8uaW8vY2Fub25pY2FsLXJldmlzaW9uEggaBjEtMzAtMAoTCgd2ZXJzaW9uEggaBjEuMzAuMAovCgROQU1FEicaJWlzdGlvLWluZ3Jlc3NnYXRld2F5LTg1NTRkYmJiODktYzg4aGcKGwoJTkFNRVNQQUNFEg4aDGlzdGlvLXN5c3RlbQpdCgVPV05FUhJUGlJrdWJlcm5ldGVzOi8vYXBpcy9hcHBzL3YxL25hbWVzcGFjZXMvaXN0aW8tc3lzdGVtL2RlcGxveW1lbnRzL2lzdGlvLWluZ3Jlc3NnYXRld2F5CicKDVdPUktMT0FEX05BTUUSFhoUaXN0aW8taW5ncmVzc2dhdGV3YXk="
        },
        "example": "ChoKCkNMVVNURVJfSUQSDBoKS3ViZXJuZXRlcwquAQoGTEFCRUxTEqMBKqABCh0KA2FwcBIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQo5Ch9zZXJ2aWNlLmlzdGlvLmlvL2Nhbm9uaWNhbC1uYW1lEhYaFGlzdGlvLWluZ3Jlc3NnYXRld2F5Ci8KI3NlcnZpY2UuaXN0aW8uaW8vY2Fub25pY2FsLXJldmlzaW9uEggaBjEtMzAtMAoTCgd2ZXJzaW9uEggaBjEuMzAuMAovCgROQU1FEicaJWlzdGlvLWluZ3Jlc3NnYXRld2F5LTg1NTRkYmJiODktYzg4aGcKGwoJTkFNRVNQQUNFEg4aDGlzdGlvLXN5c3RlbQpdCgVPV05FUhJUGlJrdWJlcm5ldGVzOi8vYXBpcy9hcHBzL3YxL25hbWVzcGFjZXMvaXN0aW8tc3lzdGVtL2RlcGxveW1lbnRzL2lzdGlvLWluZ3Jlc3NnYXRld2F5CicKDVdPUktMT0FEX05BTUUSFhoUaXN0aW8taW5ncmVzc2dhdGV3YXk="
      },
      "x-envoy-external-address": {
        "name": "x-envoy-external-address",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "3.107.210.58"
        },
        "example": "3.107.210.58"
      },
      "x-envoy-peer-metadata-id": {
        "name": "x-envoy-peer-metadata-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "router~10.10.142.42~istio-ingressgateway-8554dbbb89-c88hg.istio-system~istio-system.svc.cluster.local"
        },
        "example": "router~10.10.142.42~istio-ingressgateway-8554dbbb89-c88hg.istio-system~istio-system.svc.cluster.local"
      },
      "x-envoy-decorator-operation": {
        "name": "x-envoy-decorator-operation",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "kong-test1-kong-proxy.kong-test.svc.cluster.local:80/*"
        },
        "example": "kong-test1-kong-proxy.kong-test.svc.cluster.local:80/*"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "GATEWAY_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "public-offering-create-public-offering"
        },
        "example": "public-offering-create-public-offering"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      },
      "X-Workflow-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-098"
        },
        "example": "WF-098"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Public Offering and Securities Issuance"
        },
        "example": "Public Offering and Securities Issuance"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "f7fbd1a2-352a-4e4e-a314-eb76c61f6e3c"
        },
        "example": "f7fbd1a2-352a-4e4e-a314-eb76c61f6e3c"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}