{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Wholesale Trading Dealer Desk API",
    "description": "The Wholesale Trading Dealer Desk API allows financial institutions to update and manage dealer desk records. This API facilitates modifications to trading parameters and configurations, ensuring that dealer operations remain efficient and accurate. It targets brokers and financial analysts who need to adjust trading strategies based on market conditions or compliance requirements. By leveraging this API, users can enhance their trading workflows and maintain up-to-date information in their systems.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/wholesale-trading/dealer-desk/{param1}": {
      "patch": {
        "tags": [
          "Dealer Desk Management"
        ],
        "summary": "Update Dealer Desk Resource",
        "description": "This endpoint allows you to update the details of a specific dealer desk resource identified by its unique identifier. Ensure that the necessary fields are included in the request for a successful update.",
        "operationId": "updateDealerDeskResource",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Updates specific details of the dealer desk resource identified by RES-100045. Populate the request body with the required fields to modify existing data or to add new values where applicable.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDealerDeskResourceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning updated resource data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateDealerDeskResourceResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateDealerDeskResourceRequest": {
        "type": "object",
        "properties": {
          "changes": {
            "description": "Details of the changes being requested.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for requesting the change.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time at which the change will take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier for the user who requested the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for patching operations related to dealer desk.",
        "example": {
          "changes": {
            "tradingBookId": "STANDARD",
            "instrumentId": "STANDARD",
            "side": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "b666e055-8385-518d-b248-0eb8d97a36bf",
            "correlationId": "6f95108f-3d01-517e-8f6f-1fba27899f39",
            "idempotencyKey": "af0e3871-572c-5770-aa7f-424cc4862f0e",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-367059"
            }
          }
        }
      },
      "Changes": {
        "type": "object",
        "properties": {
          "tradingBookId": {
            "type": "string",
            "description": "Identifier for the trading book.",
            "example": "tradingBook_001"
          },
          "instrumentId": {
            "type": "string",
            "description": "Identifier for the financial instrument.",
            "example": "instrument_002"
          },
          "side": {
            "type": "string",
            "description": "The side of the trade (e.g., buy or sell).",
            "example": "buy"
          }
        },
        "description": "Schema defining the changes to be made in the trading operations."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "request_123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "correlation_456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is idempotent.",
            "example": "idempotency_key_789"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-20T14:45:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the system originating the request.",
            "example": "source_system_A"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the application originating the request.",
            "example": "source_app_B"
          },
          "channel": {
            "description": "Information about the request channel.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the request context."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "channel_001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used for the request.",
            "example": "device_002"
          }
        },
        "description": "Schema representing the details of the channel through which the request was made."
      },
      "UpdateDealerDeskResourceResponse_200": {
        "title": "Operations Response Schema",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the operation was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response, providing additional context.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for the PATCH operation on the dealer desk. It includes details about the operation's version, status, timestamp, and metadata.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "484293e2-8063-5624-a1d2-c709afd67c27",
            "correlationId": "6f95108f-3d01-517e-8f6f-1fba27899f39",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata Schema",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses across services."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request took place."
          }
        },
        "description": "Schema representing metadata associated with the response. It includes identifiers and timestamps related to the processing of the request."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint being accessed. This is used for tracking and analytics purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "dealer-desk-update-dealer-desk"
        },
        "example": "dealer-desk-update-dealer-desk"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request. This helps in identifying the source of the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication scheme, where a JSON Web Token (JWT) is used for authentication. Clients must include the token in the Authorization header of their requests, prefixed with 'Bearer '. This method provides a secure way to transmit authentication credentials between client and server.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}