{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Financial Market Analysis API",
    "description": "The Financial Market Analysis API provides users with access to comprehensive market data to assess trends and make informed investment decisions. By querying this API, financial analysts and institutions can retrieve detailed analytical insights related to various market segments, including stock, bond, and currency markets. Typical consumers of this API include investment firms, market researchers, and individual investors looking for up-to-date financial data. This API is essential for supporting data-driven strategies and enhancing market intelligence.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-data/financial-market-analysis": {
      "get": {
        "tags": [
          "Financial Analysis"
        ],
        "summary": "Retrieve analysis of financial market conditions.",
        "description": "This endpoint provides detailed insights and analyses regarding the current state of financial markets. It aggregates various data points to deliver a comprehensive overview that can aid in investment decisions and market understanding.",
        "operationId": "getFinancialMarketAnalysis",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for initiating a financial market analysis. This should include all necessary parameters in JSON format to execute the analysis and return the relevant market data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetFinancialMarketAnalysisRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved financial market analysis data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFinancialMarketAnalysisResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetFinancialMarketAnalysisRequest": {
        "type": "string",
        "description": "The request body for the financial market analysis operation, represented as a string.",
        "example": "{}"
      },
      "GetFinancialMarketAnalysisResponse_200": {
        "title": "Market Data Financial Market Analysis Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of financial market items evaluated in the analysis.",
            "example": [
              {
                "instrumentId": "STANDARD",
                "isin": "STANDARD",
                "marketIdentifierCode": "CODE-871",
                "asOf": "2026-08-11T12:00:00Z",
                "dataSource": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/FinancialMarketItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sort order applied to the market data items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "A response schema for financial market analysis containing a list of items, pagination information, sorting details, and metadata about the response.",
        "example": {
          "items": [
            {
              "instrumentId": "STANDARD",
              "isin": "STANDARD",
              "marketIdentifierCode": "CODE-871",
              "asOf": "2026-08-11T12:00:00Z",
              "dataSource": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "8b16e3ce-f719-5a92-8abd-806bfb6df95c",
            "correlationId": "dff6eef7-13fe-5124-87c0-cfd4c1f1adfd",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "FinancialMarketItem": {
        "title": "Financial Market Item",
        "type": "object",
        "properties": {
          "instrumentId": {
            "type": "string",
            "description": "The unique identifier for the financial instrument.",
            "example": "12345ABC"
          },
          "isin": {
            "type": "string",
            "description": "The International Securities Identification Number (ISIN) of the instrument.",
            "example": "US1234567890"
          },
          "marketIdentifierCode": {
            "type": "string",
            "description": "The identifier for the market where the instrument is traded.",
            "example": "NYSE"
          },
          "asOf": {
            "type": "string",
            "description": "The date and time for which the market data applies.",
            "example": "2023-10-10T10:00:00Z"
          },
          "dataSource": {
            "type": "string",
            "description": "The source from which the data was gathered.",
            "example": "Bloomberg"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record (e.g., updated, deleted).",
            "example": "updated"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the record was last updated.",
            "example": "2023-10-10T12:00:00Z"
          }
        },
        "description": "An object representing a financial market item with detailed attributes."
      },
      "Pagination": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number of the results.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 20
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available across all pages.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Details related to the pagination of the returned data."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "resp-7890"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to track the request through systems.",
            "example": "corr-1234"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-10T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the data processing took place.",
            "example": "US-East"
          }
        },
        "description": "Metadata about the response providing additional context."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint being accessed. This value aids in tracing and monitoring API usage.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "financial-market-analysis-search-financial-market-analysis"
        },
        "example": "financial-market-analysis-search-financial-market-analysis"
      },
      "X-Runtime-App": {
        "description": "The name of the application that invoked the API request. This helps in identifying the source of requests in logs.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses Bearer tokens as a means of providing access, typically based on JSON Web Tokens (JWT). This method is commonly used for securely transmitting information between parties as a JSON object.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}