{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Operational Service Issued Device Tracking-spec",
    "description": "The Operational Service Device Issuance Tracking API enables organizations to efficiently manage and track devices issued for operational purposes. This endpoint allows for the registration of new devices into the system, ensuring accurate records of inventory and deployments. Typical consumers include operational managers and IT administrators who require centralized tracking of equipment. By leveraging this API, businesses can enhance their asset management processes and improve accountability within their operational frameworks.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/issued-device-tracking": {
      "post": {
        "tags": [
          "Device Management"
        ],
        "summary": "Track issued devices.",
        "description": "This endpoint allows you to track devices that have been issued within the operational services system. It is designed for managing and monitoring the status of issued devices effectively.",
        "operationId": "createOperationalServiceIssuedDeviceTracking",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body containing the details necessary for tracking issued devices. This should include identifiers and relevant metadata about the devices being tracked.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOperationalServiceIssuedDeviceTrackingRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully with the tracking details.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOperationalServiceIssuedDeviceTrackingResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateOperationalServiceIssuedDeviceTrackingRequest": {
        "title": "Issued Device Tracking Request",
        "type": "object",
        "properties": {
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device.",
            "example": "DEV-973125"
          },
          "deviceType": {
            "type": "string",
            "description": "Type of the device.",
            "example": "STANDARD"
          },
          "assignedPartyId": {
            "type": "string",
            "description": "Identifier for the party to whom the device is assigned.",
            "example": "PARTY-239315"
          },
          "serialNumber": {
            "type": "string",
            "description": "The serial number of the device.",
            "example": "STANDARD"
          },
          "deviceStatus": {
            "type": "string",
            "description": "Current status of the device.",
            "example": "ACTIVE"
          },
          "requestContext": {
            "description": "Contextual information about the request being made.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for posting issued device tracking information.",
        "example": {
          "deviceId": "DEV-973125",
          "deviceType": "STANDARD",
          "assignedPartyId": "PARTY-239315",
          "serialNumber": "STANDARD",
          "deviceStatus": "ACTIVE",
          "requestContext": {
            "requestId": "5e72804b-643b-5eff-97ac-4c50e24711f4",
            "correlationId": "78906632-2cf8-5508-99a9-a35286ec58ec",
            "idempotencyKey": "210d9a9b-fc2c-557f-aa78-d81f580179ec",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-559288"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate logs.",
            "example": "corr-456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of the request.",
            "example": "idemp-789"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "inventory-system"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request originated.",
            "example": "device-tracker-app"
          },
          "channel": {
            "description": "Information about the channel through which the request is made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing additional context for the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier of the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel through which the request is made.",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device associated with the channel.",
            "example": "device-12345"
          }
        },
        "description": "Schema representing channel-related information."
      },
      "CreateOperationalServiceIssuedDeviceTrackingResponse_201": {
        "title": "Issued Device Tracking Response",
        "type": "object",
        "properties": {
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device.",
            "example": "DEV-563813"
          },
          "assignedPartyId": {
            "type": "string",
            "description": "Identifier for the party to whom the device is assigned.",
            "example": "PARTY-542424"
          },
          "resourceId": {
            "type": "string",
            "description": "Identifier for the resource associated with the device.",
            "example": "RES-635529"
          },
          "status": {
            "type": "string",
            "description": "Current status of the device.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the device was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "description": "Additional metadata related to the device tracking response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the issued device tracking operation.",
        "example": {
          "deviceId": "DEV-563813",
          "assignedPartyId": "PARTY-542424",
          "resourceId": "RES-635529",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "4e23f213-e42f-531c-a30f-86341fa0a3e8",
            "correlationId": "78906632-2cf8-5508-99a9-a35286ec58ec",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-abc123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "correlation-xyz456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2023-10-01T12:05:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata information for the issued device tracking response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "issued-device-tracking-create-issued-device-tracking"
        },
        "example": "issued-device-tracking-create-issued-device-tracking"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication with tokens in JWT (JSON Web Token) format. Clients must include the JWT in the Authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}