{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Fraud Diagnosis Management API",
    "description": "The Fraud Diagnosis Management API enables financial institutions to update and modify fraud diagnosis records efficiently. This API serves as a crucial tool for account management, allowing users to adjust details related to identified fraud cases. It is particularly useful for fraud analysts and compliance officers who need to maintain accurate and timely information. By leveraging this API, organizations can streamline their fraud response processes and enhance their overall risk management strategies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://accounts-deposits-app:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/account-management/fraud-diagnosis/diagnoses/{diagnosId}": {
      "put": {
        "tags": [
          "Fraud Management"
        ],
        "summary": "Update Fraud Diagnosis",
        "description": "This endpoint allows you to update a specific fraud diagnosis entry identified by its unique ID. You can modify various details of the diagnosis based on the input provided.",
        "operationId": "updateFraudDiagnosisById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/diagnosId"
          }
        ],
        "requestBody": {
          "description": "The request body contains the details necessary to update the fraud diagnosis for the specified account. Ensure that the provided data adheres to the schema requirements to successfully execute the update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFraudDiagnosisByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was processed successfully, and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateFraudDiagnosisByIdResponse_200"
                }
              }
            }
          },
          "422": {
            "description": "The request was well-formed but unable to be processed due to semantic errors.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateFraudDiagnosisByIdResponse_422"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateFraudDiagnosisByIdResponse_200": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "The unique identifier of the account related to the transaction.",
            "example": "ACC-705081"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier of the customer involved in the transaction.",
            "example": "CUST-565520"
          },
          "transactionId": {
            "type": "string",
            "description": "The unique identifier for the transaction being assessed.",
            "example": "TXN-514610"
          },
          "assessmentId": {
            "type": "string",
            "description": "The unique identifier for the fraud assessment conducted on the transaction.",
            "example": "STANDARD"
          },
          "outcome": {
            "type": "string",
            "description": "The outcome of the fraud assessment, indicating whether the transaction is safe or suspicious.",
            "example": "STANDARD"
          },
          "score": {
            "type": "integer",
            "description": "The score assigned to the transaction based on the fraud assessment criteria, usually within a certain range.",
            "format": "int32",
            "example": 1
          },
          "assessedAt": {
            "type": "string",
            "description": "The timestamp indicating when the assessment was conducted.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Metadata related to the assessment, including IDs and generation timestamps.",
            "$ref": "#/components/schemas/FraudDiagnosisMetadata"
          }
        },
        "description": "Response schema for the fraud diagnosis operation, providing detailed information regarding the assessment of the transaction.",
        "example": {
          "accountId": "ACC-705081",
          "customerId": "CUST-565520",
          "transactionId": "TXN-514610",
          "assessmentId": "STANDARD",
          "outcome": "STANDARD",
          "score": 1,
          "assessedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "ca8f85ee-9e95-5680-a25d-1b89bd05da67",
            "correlationId": "9e8c73dc-c04c-596d-afcd-e7791c4a0d38",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "FraudDiagnosisMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response generated for the fraud assessment.",
            "example": "RESP001"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to correlate related requests and responses.",
            "example": "CORREL123"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T10:05:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographical region where the processing of the transaction occurred.",
            "example": "US-East"
          }
        },
        "description": "Metadata schema containing additional information related to the fraud diagnosis assessment."
      },
      "UpdateFraudDiagnosisByIdRequest": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "ACC-243873"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer associated with the account.",
            "example": "CUST-163946"
          },
          "ledgerDate": {
            "type": "string",
            "description": "Date of the ledger entry.",
            "example": "2026-09-15"
          },
          "currency": {
            "type": "string",
            "description": "Currency of the ledger balance.",
            "example": "USD"
          },
          "ledgerBalance": {
            "type": "number",
            "description": "Current balance of the ledger.",
            "example": 100.0
          },
          "transactionId": {
            "type": "string",
            "description": "Unique identifier for the transaction.",
            "example": "TXN-732888"
          },
          "riskScore": {
            "type": "number",
            "description": "Risk score associated with the transaction.",
            "example": 100.0
          },
          "decisionThreshold": {
            "type": "number",
            "description": "Threshold value for decision-making in fraud analysis.",
            "example": 100.0
          },
          "deviceTrustLevel": {
            "type": "string",
            "description": "Trust level of the device used for the transaction.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for PUT operation in fraud diagnosis process, containing account and transaction details.",
        "example": {
          "accountId": "ACC-243873",
          "customerId": "CUST-163946",
          "ledgerDate": "2026-09-15",
          "currency": "USD",
          "ledgerBalance": 100.0,
          "transactionId": "TXN-732888",
          "riskScore": 100.0,
          "decisionThreshold": 100.0,
          "deviceTrustLevel": "STANDARD",
          "requestContext": {
            "requestId": "1595a3d7-7730-547d-aebd-3617c133d979",
            "correlationId": "9e8c73dc-c04c-596d-afcd-e7791c4a0d38",
            "idempotencyKey": "1c3679d3-0026-5550-93e1-35fc7a597a22",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-153722"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking across services.",
            "example": "corr-67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to prevent duplicate processing of the same request.",
            "example": "idemp-key"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-10T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system initiating the request.",
            "example": "SystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application name from which the request originated.",
            "example": "AppX"
          },
          "channel": {
            "description": "Details about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Context information for the request including identifiers and timestamps."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used for the request.",
            "example": "device-123"
          }
        },
        "description": "Information about the channel used for the transaction."
      },
      "UpdateFraudDiagnosisByIdResponse_422": {
        "title": "Fraud Diagnosis Error Response",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "A code representing the error type.",
            "example": "RISK_REVIEW_REJECTED"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier for the request, used for tracking and logging purposes.",
            "example": "7e11ad23-05ad-4417-994d-a206802834fc"
          },
          "message": {
            "type": "string",
            "description": "A message providing details about the error.",
            "example": "Enhanced fraud/compliance review rejected the request"
          },
          "workflow": {
            "type": "string",
            "description": "Indicates the current state of the workflow in relation to the error.",
            "example": "WF-043"
          }
        },
        "description": "Response schema for the Fraud Diagnosis operation's 422 error code. This response indicates that there was a validation error in the request.",
        "example": {
          "code": "RISK_REVIEW_REJECTED",
          "correlationId": "7e11ad23-05ad-4417-994d-a206802834fc",
          "message": "Enhanced fraud/compliance review rejected the request",
          "workflow": "WF-043"
        }
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-043"
        },
        "example": "WF-043"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "0a8291b8-802f-4cfa-b2ba-5bc874f33e2e"
        },
        "example": "0a8291b8-802f-4cfa-b2ba-5bc874f33e2e"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "2"
        },
        "example": "2"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "RISK_REJECT"
        },
        "example": "RISK_REJECT"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "707dfd62-69f6-4722-bbcd-959e5111c781"
        },
        "example": "707dfd62-69f6-4722-bbcd-959e5111c781"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200",
            "MICROSERVICE_PROD_422"
          ]
        }
      },
      "diagnosId": {
        "name": "diagnosId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "fraud-diagnosis-diagnose-fraud-diagnosis"
        },
        "example": "fraud-diagnosis-diagnose-fraud-diagnosis"
      },
      "X-Runtime-App": {
        "description": "Name of the application that executed the transaction.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      },
      "X-Workflow-Id": {
        "description": "Identifier for the specific workflow associated with the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-043"
        },
        "example": "WF-043"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow associated with the current operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "AML Transaction Monitoring and Case Escalation"
        },
        "example": "AML Transaction Monitoring and Case Escalation"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow, indicating its progress or status.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "REJECTED"
        },
        "example": "REJECTED"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the specific execution instance of the workflow.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "707dfd62-69f6-4722-bbcd-959e5111c781"
        },
        "example": "707dfd62-69f6-4722-bbcd-959e5111c781"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This scheme utilizes the Bearer authentication method, allowing clients to authenticate using a JSON Web Token (JWT). The token should be included in the Authorization header of HTTP requests, enabling secure access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}