{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Payment Cheque Processing-spec",
    "description": "The Cheque Processing API allows businesses to automate and manage the processing of cheque payments efficiently. By utilizing this API, financial institutions and payment service providers can streamline cheque payment submissions, validate payment details, and handle transaction statuses seamlessly. Typical consumers include banks, accounting software, and payment platforms looking to improve their cheque processing capabilities. This API enhances operational efficiency and provides a reliable solution for cheque transactions in the banking ecosystem.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/payments/cheque-processing": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Process a cheque payment.",
        "description": "This endpoint allows you to process payments made via cheque. Ensure that all cheque information is provided and valid before submission.",
        "operationId": "createPaymentChequeProcessing",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to process cheque payments. The client must provide the necessary cheque details in the specified JSON format.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePaymentChequeProcessingRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted and is being processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePaymentChequeProcessingResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreatePaymentChequeProcessingRequest": {
        "type": "object",
        "properties": {
          "chequeBatchId": {
            "type": "string",
            "description": "A unique identifier for the cheque batch.",
            "example": "STANDARD"
          },
          "depositAccountId": {
            "type": "string",
            "description": "The account identifier where the cheque will be deposited.",
            "example": "ACC-130903"
          },
          "chequeCount": {
            "type": "integer",
            "description": "The total number of cheques in the batch.",
            "format": "int32",
            "example": 1
          },
          "batchAmount": {
            "description": "The total amount for the batch of cheques.",
            "$ref": "#/components/schemas/BatchAmount"
          },
          "clearingDate": {
            "type": "string",
            "description": "The date when the cheque processing will take place.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "description": "Contextual information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for processing cheque payments.",
        "example": {
          "chequeBatchId": "STANDARD",
          "depositAccountId": "ACC-130903",
          "chequeCount": 1,
          "batchAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "clearingDate": "2026-09-15",
          "requestContext": {
            "requestId": "89152adf-5361-592f-a72b-73cc7d871499",
            "correlationId": "b70a9736-06dc-5af4-90e8-a04af094c675",
            "idempotencyKey": "35f39eaf-7aa9-5e13-b960-f36cdd18ac8d",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-732582"
            }
          }
        }
      },
      "BatchAmount": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The total monetary amount for the batch.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency code of the batch amount.",
            "example": "string"
          }
        },
        "description": "Schema representing the amount and currency for a batch."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to correlate related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure idempotent requests.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that is sending the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request including identifiers and source information."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "A unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Schema representing the channel information for the request."
      },
      "CreatePaymentChequeProcessingResponse_202": {
        "title": "Cheque Processing Response",
        "type": "object",
        "properties": {
          "chequeBatchId": {
            "type": "string",
            "description": "The unique identifier for the cheque batch processed.",
            "example": "STANDARD"
          },
          "depositAccountId": {
            "type": "string",
            "description": "The identifier for the deposit account associated with the cheque.",
            "example": "ACC-262319"
          },
          "processingReference": {
            "type": "string",
            "description": "The reference identifier for the processing workflow.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the cheque processing.",
            "example": "ACTIVE"
          },
          "acceptedAt": {
            "type": "string",
            "description": "The timestamp when the cheque was accepted for processing.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/ChequeProcessingMetadata"
          }
        },
        "description": "Response object for the cheque processing operation.",
        "example": {
          "chequeBatchId": "STANDARD",
          "depositAccountId": "ACC-262319",
          "processingReference": "STANDARD",
          "status": "ACTIVE",
          "acceptedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "d42f0295-fa58-5033-9abb-34408bb61d01",
            "correlationId": "b70a9736-06dc-5af4-90e8-a04af094c675",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ChequeProcessingMetadata": {
        "title": "Cheque Processing Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response_12345"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to correlate related operations.",
            "example": "correlation_12345"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-10-01T14:31:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographical region where the cheque processing occurred.",
            "example": "US-East"
          }
        },
        "description": "Additional metadata related to the cheque processing."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cheque-processing-process-cheque-processing"
        },
        "example": "cheque-processing-process-cheque-processing"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes a JSON Web Token (JWT) for authentication. Clients must include the token in the `Authorization` header using the format: `Bearer <token>`.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}