{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Customer By Account Id-spec",
    "description": "The Customer Account Details API enables the retrieval of customer information associated with a specific account using the customer and account identifiers. This API is essential for businesses looking to access comprehensive customer profiles and account statuses for service inquiries, support resolutions, or data analysis. Typical consumers of this API include customer service representatives and data analytics teams who need to access detailed customer account data efficiently. It facilitates seamless interactions between customers and service platforms, enhancing the overall user experience.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/paysuite/customers/{customerId}/accounts/{accountId}": {
      "get": {
        "tags": [
          "Customer Accounts"
        ],
        "summary": "Retrieve account details for a specified customer.",
        "description": "This endpoint allows you to fetch the account details associated with a specific customer ID. It provides essential information needed for managing customer accounts within the Paysuite system.",
        "operationId": "getCustomerByAccountId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          },
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving account operations associated with a specific customer and account. Ensure that the request adheres to the expected JSON structure defined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCustomerByAccountIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved account details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCustomerByAccountIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCustomerByAccountIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for retrieving account operations in JSON format.",
        "example": "{}"
      },
      "GetCustomerByAccountIdResponse_200": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-434581"
          },
          "errorCount": {
            "type": "integer",
            "description": "The count of errors encountered during operations.",
            "format": "int32",
            "example": 1
          },
          "accountCount": {
            "type": "integer",
            "description": "The total number of accounts associated with the customer.",
            "format": "int32",
            "example": 1
          },
          "accountIdentitySuccessCount": {
            "type": "integer",
            "description": "The count of successful account identity retrievals.",
            "format": "int32",
            "example": 1
          },
          "balanceDetailsSuccessCount": {
            "type": "integer",
            "description": "The count of successful balance detail retrievals.",
            "format": "int32",
            "example": 1
          },
          "paymentInstructionSuccessCount": {
            "type": "integer",
            "description": "The count of successfully processed payment instructions.",
            "format": "int32",
            "example": 1
          },
          "accounts": {
            "type": "array",
            "description": "A list of the customer's accounts.",
            "example": [
              {
                "id": "STANDARD",
                "realAccountNumberLast4": "STANDARD",
                "institutionId": "STANDARD",
                "institutionName": "Northstar Banking Service",
                "institutionLoginId": 1,
                "accountDetails": {
                  "id": "STANDARD",
                  "accountNumberDisplay": "STANDARD",
                  "name": "Northstar Banking Service",
                  "type": "STANDARD",
                  "aggregationStatusCode": 1,
                  "status": "ACTIVE",
                  "aggregationSuccessDate": "2026-09-15",
                  "aggregationAttemptDate": "2026-09-15",
                  "createdDate": "2026-09-15",
                  "currency": "USD",
                  "displayPosition": 1,
                  "parentAccount": "STANDARD"
                },
                "balanceDetails": {
                  "id": 1,
                  "realAccountNumberLast4": "STANDARD",
                  "availableBalance": 100.0,
                  "availableBalanceDate": "2026-09-15",
                  "clearedBalance": 100.0,
                  "clearedBalanceDate": "2026-09-15",
                  "aggregationStatusCode": 1,
                  "currency": "USD"
                },
                "accountIdentity": {
                  "holders": [
                    {
                      "relationship": "STANDARD",
                      "ownerName": "Northstar Banking Service",
                      "firstName": "Northstar Banking Service",
                      "middleName": "Northstar Banking Service"
                    }
                  ]
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Account"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "resp-001"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier for correlating logs or requests.",
                "example": "corr-001"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp indicating when the response was generated.",
                "example": "2023-10-01T12:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region where the request was processed.",
                "example": "us-east-1"
              }
            },
            "description": "Metadata regarding the request response.",
            "example": {
              "responseId": "8ddf980a-84f2-59ca-b089-9af3205eac2b",
              "correlationId": "eb3cb43b-d73e-53a7-a95e-c90398bbc3fd",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for retrieving account operations for a specific customer.",
        "example": {
          "customerId": "CUST-434581",
          "errorCount": 1,
          "accountCount": 1,
          "accountIdentitySuccessCount": 1,
          "balanceDetailsSuccessCount": 1,
          "paymentInstructionSuccessCount": 1,
          "accounts": [
            {
              "id": "STANDARD",
              "realAccountNumberLast4": "STANDARD",
              "institutionId": "STANDARD",
              "institutionName": "Northstar Banking Service",
              "institutionLoginId": 1,
              "accountDetails": {
                "id": "STANDARD",
                "accountNumberDisplay": "STANDARD",
                "name": "Northstar Banking Service",
                "type": "STANDARD",
                "aggregationStatusCode": 1,
                "status": "ACTIVE",
                "aggregationSuccessDate": "2026-09-15",
                "aggregationAttemptDate": "2026-09-15",
                "createdDate": "2026-09-15",
                "currency": "USD",
                "displayPosition": 1,
                "parentAccount": "STANDARD"
              },
              "balanceDetails": {
                "id": 1,
                "realAccountNumberLast4": "STANDARD",
                "availableBalance": 100.0,
                "availableBalanceDate": "2026-09-15",
                "clearedBalance": 100.0,
                "clearedBalanceDate": "2026-09-15",
                "aggregationStatusCode": 1,
                "currency": "USD"
              },
              "accountIdentity": {
                "holders": [
                  {
                    "relationship": "STANDARD",
                    "ownerName": "Northstar Banking Service",
                    "firstName": "Northstar Banking Service",
                    "middleName": "Northstar Banking Service"
                  }
                ]
              }
            }
          ],
          "metadata": {
            "responseId": "8ddf980a-84f2-59ca-b089-9af3205eac2b",
            "correlationId": "eb3cb43b-d73e-53a7-a95e-c90398bbc3fd",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Account": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for the account.",
            "example": "ACC-200045"
          },
          "realAccountNumberLast4": {
            "type": "string",
            "description": "The last 4 digits of the real account number.",
            "example": "1234"
          },
          "institutionId": {
            "type": "string",
            "description": "The identifier for the institution managing the account.",
            "example": "INST-001"
          },
          "institutionName": {
            "type": "string",
            "description": "The name of the financial institution.",
            "example": "Bank of Example"
          },
          "institutionLoginId": {
            "type": "integer",
            "description": "The login ID for the institution's portal.",
            "format": "int32",
            "example": 123456
          },
          "accountDetails": {
            "$ref": "#/components/schemas/AccountDetails"
          },
          "balanceDetails": {
            "$ref": "#/components/schemas/BalanceDetails"
          },
          "accountIdentity": {
            "$ref": "#/components/schemas/AccountIdentity"
          }
        },
        "description": "Details about a customer's account."
      },
      "AccountDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for the account details.",
            "example": "DETL-200045"
          },
          "accountNumberDisplay": {
            "type": "string",
            "description": "The display number for the account.",
            "example": "XXXX-XXXX-XXXX-1234"
          },
          "name": {
            "type": "string",
            "description": "The name associated with the account.",
            "example": "Personal Checking Account"
          },
          "type": {
            "type": "string",
            "description": "The type of account.",
            "example": "Checking"
          },
          "aggregationStatusCode": {
            "type": "integer",
            "description": "Code representing the aggregation status of the account.",
            "format": "int32",
            "example": 0
          },
          "status": {
            "type": "string",
            "description": "The current status of the account.",
            "example": "Active"
          },
          "aggregationSuccessDate": {
            "type": "string",
            "description": "Date when the account aggregation was successful.",
            "example": "2023-10-01"
          },
          "aggregationAttemptDate": {
            "type": "string",
            "description": "Date when the account aggregation was attempted.",
            "example": "2023-09-30"
          },
          "createdDate": {
            "type": "string",
            "description": "Date when the account was created.",
            "example": "2022-01-15"
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the account is held.",
            "example": "USD"
          },
          "displayPosition": {
            "type": "integer",
            "description": "Position of the account in a display order.",
            "format": "int32",
            "example": 1
          },
          "parentAccount": {
            "type": "string",
            "description": "Identifier for the parent account if applicable.",
            "example": "PARENT-123456"
          }
        },
        "description": "Detailed information regarding the account."
      },
      "BalanceDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "The unique identifier for the balance details.",
            "format": "int32",
            "example": 1
          },
          "realAccountNumberLast4": {
            "type": "string",
            "description": "The last 4 digits of the real account number related to the balance.",
            "example": "1234"
          },
          "availableBalance": {
            "type": "number",
            "description": "The available balance in the account.",
            "example": 1000.0
          },
          "availableBalanceDate": {
            "type": "string",
            "description": "Date when the available balance was last updated.",
            "example": "2023-10-01"
          },
          "clearedBalance": {
            "type": "number",
            "description": "The cleared balance in the account.",
            "example": 950.0
          },
          "clearedBalanceDate": {
            "type": "string",
            "description": "Date when the cleared balance was last updated.",
            "example": "2023-09-30"
          },
          "aggregationStatusCode": {
            "type": "integer",
            "description": "Code representing the aggregation status of the balance details.",
            "format": "int32",
            "example": 0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the balance is held.",
            "example": "USD"
          }
        },
        "description": "Details regarding the account's balance."
      },
      "AccountIdentity": {
        "type": "object",
        "properties": {
          "holders": {
            "type": "array",
            "description": "A list of holders for the account.",
            "items": {
              "$ref": "#/components/schemas/AccountHolder"
            }
          }
        },
        "description": "Identity details for the account holders."
      },
      "AccountHolder": {
        "type": "object",
        "properties": {
          "relationship": {
            "type": "string",
            "description": "The relationship of the holder to the account.",
            "example": "Primary"
          },
          "ownerName": {
            "type": "string",
            "description": "The full name of the account holder.",
            "example": "John Doe"
          },
          "firstName": {
            "type": "string",
            "description": "The first name of the account holder.",
            "example": "John"
          },
          "middleName": {
            "type": "string",
            "description": "The middle name of the account holder, if applicable.",
            "example": "A"
          }
        },
        "description": "Details about an account holder."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that is being accessed. This value can be used for logging and tracking purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-account-details-by-account-id"
        },
        "example": "open-finance-api-get-account-details-by-account-id"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is processing the request. This helps in identifying which application instance handled the API call.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication with a JSON Web Token (JWT). Clients are required to send a valid JWT in the Authorization header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}