{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Applicant Information Retrieval API",
    "description": "The Applicant Information Retrieval API allows users to access detailed information about specific applicants associated with loan applications. This endpoint is primarily utilized by loan processors and financial institutions to verify applicant details, review their qualifications, and assess their creditworthiness. By providing a unique identifier for the loan application and the applicant, this API ensures accurate data retrieval. It is an essential tool for enhancing the applicant evaluation process and improving decision-making in lending operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{param1}/applicants/{applicantId}": {
      "get": {
        "tags": [
          "Loan Applications"
        ],
        "summary": "Retrieve loan application details for a specific applicant.",
        "description": "This endpoint allows you to fetch comprehensive details of loan applications associated with a specific applicant identified by their unique ID. Use this information to evaluate application status, documentation, and other pertinent details related to the loan application process.",
        "operationId": "getLoanApplicationsByApplicantId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          },
          {
            "$ref": "#/components/parameters/applicantId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the applicant information for a specific loan application. The applicant ID and loan application ID are essential for fetching the correct data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetLoanApplicationsByApplicantIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the applicant data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLoanApplicationsByApplicantIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetLoanApplicationsByApplicantIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the loan applications applicants operation. It is expected to be a JSON string.",
        "example": "{}"
      },
      "GetLoanApplicationsByApplicantIdResponse_200": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "description": "The role of the applicant in relation to the loan.",
            "example": "PRIMARY_HOLDER"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the applicant.",
            "example": "CUST-333632"
          },
          "relationshipToPrimary": {
            "type": "string",
            "description": "The relationship of the applicant to the primary borrower (if applicable).",
            "example": "STANDARD"
          },
          "income": {
            "description": "Details about the applicant's income.",
            "$ref": "#/components/schemas/Income"
          },
          "monthlyObligations": {
            "description": "The monthly financial obligations of the applicant.",
            "$ref": "#/components/schemas/FinancialAmount"
          },
          "declaredAssets": {
            "type": "array",
            "description": "A list of declared assets by the applicant.",
            "example": [
              {
                "assetType": "STANDARD",
                "description": "Customer banking request processed successfully",
                "estimatedValue": {
                  "currency": "USD",
                  "amount": "1250.75"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Asset"
            }
          },
          "declaredLiabilities": {
            "type": "array",
            "description": "A list of declared liabilities by the applicant.",
            "example": [
              {
                "liabilityType": "STANDARD",
                "lenderName": "Northstar Banking Service",
                "outstandingBalance": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "monthlyPayment": {
                  "currency": "USD",
                  "amount": "1250.75"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Liability"
            }
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the loan application.",
            "example": "017ce84e-8284-6492-11f6-04ed53c39c49"
          },
          "creditBureauStatus": {
            "type": "string",
            "description": "The status of the applicant's credit report from the credit bureau.",
            "example": "ACTIVE"
          },
          "audit": {
            "description": "Audit information for tracking changes to the application.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Additional metadata related to the loan application.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Represents a loan application with details about the applicant.",
        "example": {
          "role": "PRIMARY_HOLDER",
          "customerId": "CUST-333632",
          "relationshipToPrimary": "STANDARD",
          "income": {
            "employmentType": "STANDARD",
            "employerName": "Northstar Banking Service",
            "occupation": "STANDARD",
            "employmentStartDate": "2026-09-15",
            "businessRegistrationNumber": "STANDARD",
            "grossMonthlyIncome": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "netMonthlyIncome": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "otherMonthlyIncome": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "verificationStatus": "VERIFIED"
          },
          "monthlyObligations": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "declaredAssets": [
            {
              "assetType": "STANDARD",
              "description": "Customer banking request processed successfully",
              "estimatedValue": {
                "currency": "USD",
                "amount": "1250.75"
              }
            }
          ],
          "declaredLiabilities": [
            {
              "liabilityType": "STANDARD",
              "lenderName": "Northstar Banking Service",
              "outstandingBalance": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "monthlyPayment": {
                "currency": "USD",
                "amount": "1250.75"
              }
            }
          ],
          "id": "017ce84e-8284-6492-11f6-04ed53c39c49",
          "creditBureauStatus": "ACTIVE",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "f3e39bbf-586f-58be-a609-54bb86f70f8b",
            "correlationId": "f3e4e570-a952-5b59-9828-6694038b82ef",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Income": {
        "type": "object",
        "properties": {
          "employmentType": {
            "type": "string",
            "description": "The type of employment (e.g., Full-time, Part-time, Self-employed).",
            "example": "Full-time"
          },
          "employerName": {
            "type": "string",
            "description": "Name of the employer.",
            "example": "ABC Corp"
          },
          "occupation": {
            "type": "string",
            "description": "The occupation of the applicant.",
            "example": "Software Developer"
          },
          "employmentStartDate": {
            "type": "string",
            "description": "The date when the applicant started employment.",
            "example": "2020-01-15"
          },
          "businessRegistrationNumber": {
            "type": "string",
            "description": "Business registration number if self-employed.",
            "example": "BR123456"
          },
          "grossMonthlyIncome": {
            "description": "The gross monthly income of the applicant.",
            "$ref": "#/components/schemas/FinancialAmount"
          },
          "netMonthlyIncome": {
            "description": "The net monthly income after deductions.",
            "$ref": "#/components/schemas/FinancialAmount"
          },
          "otherMonthlyIncome": {
            "description": "Any additional sources of monthly income.",
            "$ref": "#/components/schemas/FinancialAmount"
          },
          "verificationStatus": {
            "type": "string",
            "description": "The verification status of the income details.",
            "example": "Verified"
          }
        },
        "description": "Represents the income details of an applicant."
      },
      "FinancialAmount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency code (e.g., USD, EUR).",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The actual amount of money.",
            "example": "5000"
          }
        },
        "description": "Represents a financial amount with currency."
      },
      "Asset": {
        "type": "object",
        "properties": {
          "assetType": {
            "type": "string",
            "description": "The type of the asset (e.g., Property, Vehicle).",
            "example": "Property"
          },
          "description": {
            "type": "string",
            "description": "Description of the asset.",
            "example": "2-bedroom apartment in downtown."
          },
          "estimatedValue": {
            "description": "The estimated value of the asset.",
            "$ref": "#/components/schemas/FinancialAmount"
          }
        },
        "description": "Represents a declared asset by the applicant."
      },
      "Liability": {
        "type": "object",
        "properties": {
          "liabilityType": {
            "type": "string",
            "description": "The type of liability (e.g., Loan, Credit Card).",
            "example": "Personal Loan"
          },
          "lenderName": {
            "type": "string",
            "description": "The name of the lender.",
            "example": "XYZ Bank"
          },
          "outstandingBalance": {
            "description": "The outstanding balance on the liability.",
            "$ref": "#/components/schemas/FinancialAmount"
          },
          "monthlyPayment": {
            "description": "The monthly payment amount for the liability.",
            "$ref": "#/components/schemas/FinancialAmount"
          }
        },
        "description": "Represents a declared liability by the applicant."
      },
      "Audit": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the application was created.",
            "example": "2022-01-01T12:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "User who created the application.",
            "example": "admin"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the application was last updated.",
            "example": "2022-01-10T12:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "User who last updated the application.",
            "example": "editor"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the application.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Details about the audit of the application."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracing request and response.",
            "example": "CORR789456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2022-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "North America"
          }
        },
        "description": "Metadata for tracking purpose and correlation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "applicantId": {
        "name": "applicantId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-get-applicant"
        },
        "example": "banking-loans-openapi-get-applicant"
      },
      "X-Runtime-App": {
        "description": "Identifier for the runtime application processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authorization method using a Bearer token, specifically in the JSON Web Token (JWT) format. This allows secure access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}