{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Customer Consumer-spec",
    "description": "The Customer Consumer Registration API allows businesses to efficiently register and manage consumer profiles within their systems. This endpoint facilitates the creation of a consumer associated with a specified customer ID, ensuring that vital consumer information can be recorded and utilized for personalized services and communication. Typical users of this API include customer relationship management systems and consumer-facing applications that require seamless onboarding of new consumers. By leveraging this API, organizations can enhance their customer engagement strategies and maintain an accurate database of consumer information.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/decisioning/customers/{customerId}/consumer": {
      "post": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Create a new consumer for a specified customer.",
        "description": "This endpoint allows you to create a new consumer associated with the customer identified by CUST-100045. You will need to provide the necessary details in the request body to successfully create the consumer.",
        "operationId": "createCustomerConsumer",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create or update consumer information for a specific customer identified by 'CUST-100045'. It should contain the necessary data in JSON format as specified in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerConsumerRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully with the provided consumer data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCustomerConsumerResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCustomerConsumerRequest": {
        "title": "Consumer Request Body",
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string",
            "description": "The first name of the consumer.",
            "example": "Northstar Banking Service"
          },
          "lastName": {
            "type": "string",
            "description": "The last name of the consumer.",
            "example": "Northstar Banking Service"
          },
          "address": {
            "type": "string",
            "description": "The street address of the consumer.",
            "example": "STANDARD"
          },
          "city": {
            "type": "string",
            "description": "The city in which the consumer resides.",
            "example": "New York"
          },
          "state": {
            "type": "string",
            "description": "The state in which the consumer resides.",
            "example": "STANDARD"
          },
          "zip": {
            "type": "string",
            "description": "The postal code of the consumer's address.",
            "example": "STANDARD"
          },
          "phone": {
            "type": "string",
            "description": "The phone number of the consumer.",
            "example": "+1-212-555-0147"
          },
          "ssn": {
            "type": "string",
            "description": "The social security number of the consumer.",
            "example": "STANDARD"
          },
          "birthday": {
            "description": "The birthday of the consumer.",
            "$ref": "#/components/schemas/Birthday"
          },
          "email": {
            "type": "string",
            "description": "The email address of the consumer.",
            "example": "olivia.bennett@northstar.example"
          },
          "suffix": {
            "type": "string",
            "description": "The suffix of the consumer's name, if applicable.",
            "example": "STANDARD"
          },
          "endUser": {
            "description": "Details of the end user related to the request.",
            "$ref": "#/components/schemas/EndUser"
          },
          "requestContext": {
            "description": "Context information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for consumer operations.",
        "example": {
          "firstName": "Northstar Banking Service",
          "lastName": "Northstar Banking Service",
          "address": "STANDARD",
          "city": "New York",
          "state": "STANDARD",
          "zip": "STANDARD",
          "phone": "+1-212-555-0147",
          "ssn": "STANDARD",
          "birthday": {
            "year": 1,
            "month": 1,
            "dayOfMonth": 1
          },
          "email": "olivia.bennett@northstar.example",
          "suffix": "STANDARD",
          "endUser": {
            "name": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "email": "olivia.bennett@northstar.example"
          },
          "requestContext": {
            "requestId": "1c9d1256-0da8-5bc8-8625-5354b11a0ec5",
            "correlationId": "8401aaf2-8163-5ff5-809f-6922703fae8a",
            "idempotencyKey": "2f9920ea-e657-55c5-a435-44589b1e5556",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-701621"
            }
          }
        }
      },
      "Birthday": {
        "title": "Birthday",
        "type": "object",
        "properties": {
          "year": {
            "type": "integer",
            "description": "The year of birth.",
            "format": "int32",
            "example": 1990
          },
          "month": {
            "type": "integer",
            "description": "The month of birth (1-12).",
            "format": "int32",
            "example": 5
          },
          "dayOfMonth": {
            "type": "integer",
            "description": "The day of birth (1-31).",
            "format": "int32",
            "example": 15
          }
        },
        "description": "Schema representing the birthday details of a consumer."
      },
      "EndUser": {
        "title": "End User",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the end user.",
            "example": "Jane Smith"
          },
          "address": {
            "type": "string",
            "description": "The street address of the end user.",
            "example": "456 Elm St"
          },
          "city": {
            "type": "string",
            "description": "The city in which the end user resides.",
            "example": "Othertown"
          },
          "state": {
            "type": "string",
            "description": "The state in which the end user resides.",
            "example": "NY"
          },
          "zip": {
            "type": "string",
            "description": "The postal code of the end user's address.",
            "example": "10001"
          },
          "phone": {
            "type": "string",
            "description": "The phone number of the end user.",
            "example": "(555) 987-6543"
          },
          "email": {
            "type": "string",
            "description": "The email address of the end user.",
            "example": "jane.smith@example.com"
          }
        },
        "description": "Schema representing the end user details."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-123456789"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier used to track related requests.",
            "example": "corr-987654321"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to prevent duplicate processing of the request.",
            "example": "idemp-112233"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-05T14:30:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that made the request.",
            "example": "ExternalSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "MobileApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "ch-12345"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used for the request.",
            "example": "device-67890"
          }
        },
        "description": "Schema representing channel information for the request."
      },
      "CreateCustomerConsumerResponse_201": {
        "title": "Customer Response Schema",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "STANDARD"
          },
          "createdDate": {
            "type": "integer",
            "description": "Date when the response was created, represented as a timestamp.",
            "format": "int32",
            "example": 1
          },
          "customerId": {
            "type": "integer",
            "description": "Identifier for the customer associated with the response.",
            "format": "int32",
            "example": 1
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Schema representing the response for a customer operation.",
        "example": {
          "id": "STANDARD",
          "createdDate": 1,
          "customerId": 1,
          "metadata": {
            "responseId": "d5fd1a71-d9aa-5aa4-bf70-4f8840f8a76b",
            "correlationId": "8401aaf2-8163-5ff5-809f-6922703fae8a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata Schema",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for this specific response instance.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate this response with other related actions.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of this response occurred.",
            "example": "string"
          }
        },
        "description": "Schema representing metadata associated with a customer response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-create-consumer"
        },
        "example": "open-finance-api-create-consumer"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a bearer token. The token is usually represented as a JSON Web Token (JWT) which is passed in the HTTP Authorization header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}