{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Connect Generate-spec",
    "description": "The Connect Generation API enables users to automatically generate connections based on specified parameters. This service streamlines the process of establishing links between various components, enhancing operational efficiency. Typical consumers include developers seeking to integrate disparate systems or applications seamlessly. By leveraging this API, organizations can reduce manual effort and ensure consistent connection quality across platforms.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/connect/generate": {
      "post": {
        "tags": [
          "Identifier Management"
        ],
        "summary": "Generates new unique identifiers.",
        "description": "This operation allows clients to generate new unique identifiers. It is designed to provide a fast and efficient way to create identifiers that can be used across various applications and services.",
        "operationId": "createConnectGenerate",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request is used to generate a new resource based on the provided input data. The body must adhere to the specified schema to ensure proper processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateConnectGenerateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful, and the response contains the generated data.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateConnectGenerateResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateConnectGenerateRequest": {
        "title": "Operation Request Body",
        "type": "object",
        "properties": {
          "language": {
            "type": "string",
            "description": "The language in which the request is made.",
            "example": "en"
          },
          "partnerId": {
            "type": "string",
            "description": "Identifier for the partner associated with the operation.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "Identifier for the customer making the request.",
            "example": "CUST-306723"
          },
          "consumerId": {
            "type": "string",
            "description": "Identifier for the consumer relevant to the request.",
            "example": "STANDARD"
          },
          "redirectUri": {
            "type": "string",
            "description": "URI to which the user should be redirected after completing the action.",
            "example": "STANDARD"
          },
          "webhook": {
            "type": "string",
            "description": "Webhook URL for receiving asynchronous notifications.",
            "example": "STANDARD"
          },
          "webhookContentType": {
            "type": "string",
            "description": "Content type of the webhook payload, e.g., 'application/json'.",
            "example": "STANDARD"
          },
          "optionalConsumerInfo": {
            "description": "Optional information regarding the consumer.",
            "$ref": "#/components/schemas/OptionalConsumerInfo"
          },
          "singleUseUrl": {
            "type": "boolean",
            "description": "Flag indicating if the URL is single-use.",
            "example": true
          },
          "experience": {
            "type": "string",
            "description": "Description of the user experience associated with the operation.",
            "example": "STANDARD"
          },
          "fromDate": {
            "type": "integer",
            "description": "Start date for the operation in UNIX timestamp format.",
            "format": "int32",
            "example": 1
          },
          "reportCustomFields": {
            "type": "array",
            "description": "Custom fields to be included in the report.",
            "example": [
              {
                "label": "STANDARD",
                "value": "STANDARD",
                "shown": true
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CustomField"
            }
          },
          "isHostedInMobileApp": {
            "type": "boolean",
            "description": "Indicates if the operation is hosted in a mobile app.",
            "example": true
          },
          "isWebView": {
            "type": "boolean",
            "description": "Indicates if the request comes from a web view.",
            "example": true
          },
          "requestContext": {
            "description": "Context information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for the POST operation.",
        "example": {
          "language": "en",
          "partnerId": "STANDARD",
          "customerId": "CUST-306723",
          "consumerId": "STANDARD",
          "redirectUri": "STANDARD",
          "webhook": "STANDARD",
          "webhookContentType": "STANDARD",
          "optionalConsumerInfo": {
            "ssn": "STANDARD",
            "dob": 1
          },
          "singleUseUrl": true,
          "experience": "STANDARD",
          "fromDate": 1,
          "reportCustomFields": [
            {
              "label": "STANDARD",
              "value": "STANDARD",
              "shown": true
            }
          ],
          "isHostedInMobileApp": true,
          "isWebView": true,
          "requestContext": {
            "requestId": "4191ecc8-dd19-5d0d-80f6-a29933d36809",
            "correlationId": "7c702368-1854-5848-9e8b-106f56fb9abe",
            "idempotencyKey": "48bcbc3d-f80d-575a-a14e-ad3ac896c5dd",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-496522"
            }
          }
        }
      },
      "OptionalConsumerInfo": {
        "title": "Optional Consumer Information",
        "type": "object",
        "properties": {
          "ssn": {
            "type": "string",
            "description": "Social Security Number (SSN) of the consumer.",
            "example": "string"
          },
          "dob": {
            "type": "integer",
            "description": "Date of birth of the consumer in UNIX timestamp format.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Schema representing optional information about a consumer."
      },
      "CustomField": {
        "title": "Custom Field",
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "description": "Label of the custom field.",
            "example": "string"
          },
          "value": {
            "type": "string",
            "description": "Value of the custom field.",
            "example": "string"
          },
          "shown": {
            "type": "boolean",
            "description": "Flag indicating if the custom field should be shown.",
            "example": false
          }
        },
        "description": "Schema representing a custom field in the report."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to track the correlation of related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotent operations.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system of the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the application originating the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema containing context information about the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used for the request.",
            "example": "string"
          }
        },
        "description": "Schema representing information about the channel used for the request."
      },
      "CreateConnectGenerateResponse_200": {
        "title": "Generate Operations Response",
        "type": "object",
        "properties": {
          "link": {
            "type": "string",
            "description": "A URL link associated with the generated operation.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata about the response including identification and timestamps.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for successful generation operations, returning a link and accompanying metadata.",
        "example": {
          "link": "STANDARD",
          "metadata": {
            "responseId": "a7616300-0775-562f-b527-2282e69d4532",
            "correlationId": "7c702368-1854-5848-9e8b-106f56fb9abe",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "abc-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to track the request through systems.",
            "example": "xyz-456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata information associated with the generated operation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint that was invoked, useful for tracking requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-generate-connect-url"
        },
        "example": "open-finance-api-generate-connect-url"
      },
      "x-runtime-app": {
        "description": "The name of the application that processed the request, providing context for the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes a bearer token authentication mechanism. The token should be supplied in the Authorization header of the request as a 'Bearer {token}', where {token} represents the JSON Web Token (JWT) utilized for secure access.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}