{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Banking It Management Technology Standards-v5-spec",
    "description": "The Banking IT Management Technology Standards API provides a comprehensive listing of technology standards utilized in the banking sector. It serves as a resource for IT professionals and regulatory bodies seeking to understand and implement current technology guidelines. This endpoint enables consumers to retrieve detailed information regarding various standards, promoting compliance and best practices. Typical use cases include audits, technology assessments, and strategic planning within financial institutions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/technology-standards": {
      "get": {
        "tags": [
          "IT Management"
        ],
        "summary": "Retrieve technology standards in IT management.",
        "description": "This endpoint allows users to access the latest technology standards relevant to IT management. It provides a comprehensive list of standards that organizations can adopt to ensure compliance and best practices in their technology implementations.",
        "operationId": "listBankingItManagementTechnologyStandards",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving technology standards within the IT management context. Ensure that the body adheres to the specified schema, which outlines the necessary fields and their formats.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListBankingItManagementTechnologyStandardsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved technology standards.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBankingItManagementTechnologyStandardsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListBankingItManagementTechnologyStandardsRequest": {
        "type": "string",
        "description": "This schema represents the request body for retrieving IT management technology standards. It is expected to be a string format.",
        "example": "{}"
      },
      "ListBankingItManagementTechnologyStandardsResponse_200": {
        "title": "Technology Standards Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of technology standard policies",
            "example": [
              {
                "policyId": "STANDARD",
                "title": "Banking operation completed",
                "ownerTeam": "STANDARD",
                "effectiveDate": "2026-09-15",
                "reviewDate": "2026-09-15",
                "applicability": [
                  "STANDARD"
                ],
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/TechnologyStandardPolicy"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the results",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving technology standards",
        "example": {
          "items": [
            {
              "policyId": "STANDARD",
              "title": "Banking operation completed",
              "ownerTeam": "STANDARD",
              "effectiveDate": "2026-09-15",
              "reviewDate": "2026-09-15",
              "applicability": [
                "STANDARD"
              ],
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "427a296a-bcd5-5379-b1c0-567a748a83ba",
            "correlationId": "a07d8331-442d-53f4-bda4-8940570a7a09",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "TechnologyStandardPolicy": {
        "title": "Technology Standard Policy",
        "type": "object",
        "properties": {
          "policyId": {
            "type": "string",
            "description": "Unique identifier for the policy"
          },
          "title": {
            "type": "string",
            "description": "Title of the technology standard policy"
          },
          "ownerTeam": {
            "type": "string",
            "description": "The team responsible for the policy"
          },
          "effectiveDate": {
            "type": "string",
            "description": "Date when the policy becomes effective"
          },
          "reviewDate": {
            "type": "string",
            "description": "Date for the next review of the policy"
          },
          "applicability": {
            "type": "array",
            "description": "List of applicable areas for the policy",
            "items": {
              "type": "string",
              "description": "Specific area where the policy is applicable"
            }
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the policy record"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the policy"
          }
        },
        "description": "Schema representing a technology standard policy."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available",
            "format": "int32"
          }
        },
        "description": "Schema for pagination information in the response."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request across services"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed"
          }
        },
        "description": "Additional metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "it-standards-and-guidelines-search-it-standards-and-guidelines"
        },
        "example": "it-standards-and-guidelines-search-it-standards-and-guidelines"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method which requires a valid JSON Web Token (JWT) to be included in the Authorization header of requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}