{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Deposit Lending By Param1-spec",
    "description": "The Deposit Lending Adjustment API enables authorized users to modify specific deposit lending parameters for savings accounts identified by a unique parameter. This flexibility is critical for managing individual account features based on evolving customer needs. Financial institutions and lending partners typically consume this API to streamline account customizations, enhance lending practices, and improve customer satisfaction. Utilize this API to efficiently adjust deposit lending conditions tailored to specific savings accounts.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/savings-account/{param1}": {
      "patch": {
        "tags": [
          "Deposit Lending"
        ],
        "summary": "Update Savings Account Deposit",
        "description": "This operation allows you to update the deposit information for a specific savings account identified by its account number. You can modify various attributes of the savings account, ensuring your records are accurate and up-to-date.",
        "operationId": "updateDepositLendingByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the savings account details for the specified account. Ensure that all required fields are included and correctly formatted.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDepositLendingByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully. The savings account has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateDepositLendingByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateDepositLendingByParam1Request": {
        "title": "Patch Savings Account Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "description": "Details of the changes to be applied to the savings account.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for requesting the changes to the account.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the user or system that requested the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the request body of the PATCH operation for modifying savings account details.",
        "example": {
          "changes": {
            "customerId": "CUST-610962",
            "accountId": "ACC-524312",
            "productCode": "CHK-PREMIUM-US"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "f93993e0-30c5-57a3-8653-7d5062d440e9",
            "correlationId": "9000896f-e891-59de-85d5-773611b516d2",
            "idempotencyKey": "305a7d00-0c0c-5661-af21-2df4c31f95f1",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-817837"
            }
          }
        }
      },
      "Changes": {
        "title": "Changes",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer associated with the account.",
            "example": "cust-001"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the savings account.",
            "example": "acc-200045"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the type of product associated with the savings account.",
            "example": "SAVINGS-01"
          }
        },
        "description": "Schema representing the individual changes requested for the savings account."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-abc-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate different operations.",
            "example": "corr-456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the request is idempotent.",
            "example": "idemp-key-789"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-01T11:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system where the request originated.",
            "example": "BankingApp"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request was made.",
            "example": "MobileApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/ChannelContext"
          }
        },
        "description": "Schema encapsulating metadata related to the request."
      },
      "ChannelContext": {
        "title": "Channel Context",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., WEB, MOBILE).",
            "example": "MOBILE"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device through which the request was made.",
            "example": "device-xyz"
          }
        },
        "description": "Schema containing details about the communication channel used for the request."
      },
      "UpdateDepositLendingByParam1Response_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response structure.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation performed.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the account was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the PATCH operation on the Savings Account.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "c062e3d9-9621-5840-abf1-57d40217a2e6",
            "correlationId": "9000896f-e891-59de-85d5-773611b516d2",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate requests and responses.",
            "example": "correlation-67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "us-west-2"
          }
        },
        "description": "Metadata information regarding the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request. This helps in tracing the request path and is particularly useful for debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "savings-account-update-savings-account"
        },
        "example": "savings-account-update-savings-account"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request. This is important for identifying which service or application instance processed the transaction.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication. A Bearer token is a type of access token that is issued by an authorization server and is used to authenticate requests to your API. The token should be passed in the authorization header as 'Bearer {token}'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}