{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Payment Success Indicators API",
    "description": "The Payment Success Indicators API provides insights into the effectiveness of payment transactions for specific customer accounts. By querying this API, users can obtain various metrics that indicate the success rates of payments processed for a given customer and account combination. This resource is particularly useful for financial analysts, account managers, and developers looking to improve payment strategies and customer experience. Typical use cases include monitoring transaction trends and evaluating the performance of payment methods.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/payments/customers/{customerId}/accounts/{accountId}/payment-success-indicators/{param3}": {
      "get": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Retrieve Payment Success Indicators for a Specific Account",
        "description": "This endpoint fetches the payment success indicators for a specific account designated by the provided account ID. Use this information to assess the success rate of payments associated with the account and make informed decisions based on the retrieved data.",
        "operationId": "getPaymentSuccessIndicatorForAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          },
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "$ref": "#/components/parameters/param3"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the payment success indicators for a specific account (ACC-200045) under a customer (CUST-100045) and a particular resource (RES-100045). It requires a valid JSON format that adheres to the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPaymentSuccessIndicatorForAccountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of payment success indicators.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPaymentSuccessIndicatorForAccountResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPaymentSuccessIndicatorForAccountRequest": {
        "type": "string",
        "description": "A string representation of the payment success indicators for the specified customer account.",
        "example": "{}"
      },
      "GetPaymentSuccessIndicatorForAccountResponse_200": {
        "type": "object",
        "properties": {
          "payRequestId": {
            "type": "string",
            "description": "The unique identifier for the payment request.",
            "example": "48068230-053b-5cd0-861e-da74f4604932"
          },
          "status": {
            "type": "string",
            "description": "The status of the payment request.",
            "example": "ACTIVE"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-366475"
          },
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account.",
            "example": "ACC-661929"
          },
          "requestDate": {
            "type": "string",
            "description": "The date when the payment request was made.",
            "example": "2026-09-15"
          },
          "transaction": {
            "description": "Details of the transaction associated with the payment request.",
            "$ref": "#/components/schemas/Transaction"
          },
          "nsfReturnRisk": {
            "description": "Indicators related to non-sufficient funds (NSF) return risk.",
            "$ref": "#/components/schemas/NsfReturnRisk"
          },
          "unauthorizedReturnRisk": {
            "description": "Indicators related to unauthorized return risk.",
            "$ref": "#/components/schemas/UnauthorizedReturnRisk"
          },
          "metadata": {
            "description": "Metadata associated with the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for payment success indicators related to a specific account and customer.",
        "example": {
          "payRequestId": "48068230-053b-5cd0-861e-da74f4604932",
          "status": "ACTIVE",
          "customerId": "CUST-366475",
          "accountId": "ACC-661929",
          "requestDate": "2026-09-15",
          "transaction": {
            "settleByDate": "2026-09-15",
            "amount": 100.0
          },
          "nsfReturnRisk": {
            "result": {
              "availableBalance": 100.0,
              "dailyResults": [
                {
                  "potentialSettlementDate": "2026-09-15",
                  "score": 1,
                  "indicator": "STANDARD",
                  "reasons": {
                    "recentBalance": 1,
                    "balanceHistory": 1,
                    "nsfHistory": 1,
                    "recentNsfHistory": 1,
                    "recurringNsf": 1,
                    "spendHistory": 1,
                    "depositHistory": 1,
                    "transactionAmount": 1
                  }
                }
              ]
            },
            "error": {
              "status": "ACTIVE",
              "title": "Banking operation completed",
              "level": "STANDARD",
              "message": "STANDARD",
              "user_message": "STANDARD",
              "assetId": "STANDARD",
              "accountId": "ACC-856097",
              "externalTransactionId": "TXN-400022",
              "tags": "STANDARD"
            }
          },
          "unauthorizedReturnRisk": {
            "result": {
              "score": 1,
              "indicator": "STANDARD"
            },
            "error": {
              "status": "ACTIVE",
              "title": "Banking operation completed",
              "level": "STANDARD",
              "message": "STANDARD",
              "user_message": "STANDARD"
            }
          },
          "metadata": {
            "responseId": "f563e7af-3a6d-5821-a61f-00425117cd93",
            "correlationId": "605cce0f-2ed5-5d79-9bcd-5914c61487ff",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Transaction": {
        "type": "object",
        "properties": {
          "settleByDate": {
            "type": "string",
            "description": "The date by which the transaction is to be settled.",
            "example": "2023-10-02"
          },
          "amount": {
            "type": "number",
            "description": "The amount of the transaction.",
            "example": 100.0
          }
        },
        "description": "Details of the transaction."
      },
      "NsfReturnRisk": {
        "type": "object",
        "properties": {
          "result": {
            "type": "object",
            "properties": {
              "availableBalance": {
                "type": "number",
                "description": "The available balance for the account.",
                "example": 50.0
              },
              "dailyResults": {
                "type": "array",
                "description": "Daily results of the risk assessment.",
                "items": {
                  "$ref": "#/components/schemas/DailyResult"
                }
              }
            }
          },
          "error": {
            "description": "Error details related to the NSF return risk.",
            "$ref": "#/components/schemas/Error"
          }
        },
        "description": "Indicators and results related to non-sufficient funds return risk."
      },
      "DailyResult": {
        "type": "object",
        "properties": {
          "potentialSettlementDate": {
            "type": "string",
            "description": "The potential date when the settlement might occur.",
            "example": "2023-10-02"
          },
          "score": {
            "type": "integer",
            "description": "A risk score associated with the assessment.",
            "format": "int32",
            "example": 2
          },
          "indicator": {
            "type": "string",
            "description": "An indicator representing the risk level.",
            "example": "LOW"
          },
          "reasons": {
            "description": "Reasons contributing to the risk assessment.",
            "$ref": "#/components/schemas/RiskReasons"
          }
        },
        "description": "Individual daily risk assessment result."
      },
      "RiskReasons": {
        "type": "object",
        "properties": {
          "recentBalance": {
            "type": "integer",
            "description": "Recent balance in the account.",
            "format": "int32",
            "example": 1000
          },
          "balanceHistory": {
            "type": "integer",
            "description": "History of balance over a defined period.",
            "format": "int32",
            "example": 1200
          },
          "nsfHistory": {
            "type": "integer",
            "description": "History of non-sufficient fund occurrences.",
            "format": "int32",
            "example": 1
          },
          "recentNsfHistory": {
            "type": "integer",
            "description": "Recent occurrences of non-sufficient funds.",
            "format": "int32",
            "example": 0
          },
          "recurringNsf": {
            "type": "integer",
            "description": "Count of recurring NSF occurrences.",
            "format": "int32",
            "example": 0
          },
          "spendHistory": {
            "type": "integer",
            "description": "History of spending behavior.",
            "format": "int32",
            "example": 800
          },
          "depositHistory": {
            "type": "integer",
            "description": "History of deposits made.",
            "format": "int32",
            "example": 1500
          },
          "transactionAmount": {
            "type": "integer",
            "description": "Amount of the last transaction.",
            "format": "int32",
            "example": 200
          }
        },
        "description": "Reasons for the risk assessment."
      },
      "Error": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "The error status code.",
            "example": "error"
          },
          "title": {
            "type": "string",
            "description": "A short title for the error.",
            "example": "Invalid Request"
          },
          "level": {
            "type": "string",
            "description": "Severity level of the error.",
            "example": "high"
          },
          "message": {
            "type": "string",
            "description": "Detailed message about the error.",
            "example": "The request is not valid."
          },
          "user_message": {
            "type": "string",
            "description": "User-friendly message explaining the error.",
            "example": "Please check your input."
          },
          "assetId": {
            "type": "string",
            "description": "The identifier of the asset related to the error.",
            "example": "ASSET-123"
          },
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account related to the error.",
            "example": "ACC-200045"
          },
          "externalTransactionId": {
            "type": "string",
            "description": "Identifier for the external transaction if applicable.",
            "example": "EXT-456789"
          },
          "tags": {
            "type": "string",
            "description": "Tags associated with the error for categorization.",
            "example": "validation,error"
          }
        },
        "description": "Describes an error encountered in processing."
      },
      "UnauthorizedReturnRisk": {
        "type": "object",
        "properties": {
          "result": {
            "type": "object",
            "properties": {
              "score": {
                "type": "integer",
                "description": "A risk score related to unauthorized returns.",
                "format": "int32",
                "example": 1
              },
              "indicator": {
                "type": "string",
                "description": "An indicator representing unauthorized return risk.",
                "example": "NONE"
              }
            }
          },
          "error": {
            "description": "Error details related to unauthorized return risk.",
            "$ref": "#/components/schemas/Error"
          }
        },
        "description": "Indicators and results related to unauthorized return risk."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "RES-100045"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request.",
            "example": "CORR-123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "param3": {
        "name": "param3",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request. This helps in tracking and monitoring API calls.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-payment-success-indicators"
        },
        "example": "open-finance-api-get-payment-success-indicators"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request. This assists in identifying which application instance executed the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using a Bearer token. This scheme expects the token in the 'Authorization' header of the request in the format 'Bearer {token}'. The token should be a JSON Web Token (JWT).",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}