{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Routing Number Lookup API",
    "description": "The Routing Number Lookup API enables users to access detailed information about financial institutions based on a specific routing number. This endpoint allows consumers, such as banking applications and financial service providers, to retrieve institution details associated with the given routing number. It serves as a vital resource for validating and verifying banking information, ensuring accurate transactions and compliance. Developers can use this API to enhance their applications' banking functionalities and improve user experiences.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/institution/institutions/routingnumber/{routingnumberId}": {
      "get": {
        "tags": [
          "Banking"
        ],
        "summary": "Retrieve routing number information for a specific institution.",
        "description": "This endpoint allows users to obtain the routing number associated with a specific financial institution identified by the provided resource ID. It returns detailed routing information useful for various banking transactions.",
        "operationId": "getRoutingNumberByInstitution",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/routingnumberId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information related to the specific routing number provided in the URI. Ensure that the request is correctly formed to receive the relevant banking institution data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetRoutingNumberByInstitutionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the routing number information.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRoutingNumberByInstitutionResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetRoutingNumberByInstitutionRequest": {
        "title": "Routing Number Request Schema",
        "type": "string",
        "description": "Schema representing a single routing number request.",
        "example": "{}"
      },
      "GetRoutingNumberByInstitutionResponse_200": {
        "title": "Routing Number Response",
        "type": "object",
        "properties": {
          "found": {
            "type": "integer",
            "description": "Indicates the number of institutions found.",
            "format": "int32",
            "example": 1
          },
          "displaying": {
            "type": "integer",
            "description": "Indicates the number of institutions currently displayed.",
            "format": "int32",
            "example": 1
          },
          "moreAvailable": {
            "type": "boolean",
            "description": "Indicates if there are more institutions available beyond those displayed.",
            "example": true
          },
          "createdDate": {
            "type": "integer",
            "description": "The date the response was created, represented as a timestamp.",
            "format": "int32",
            "example": 1
          },
          "institutions": {
            "type": "array",
            "description": "A list of institutions relevant to the routing number query.",
            "example": [
              {
                "id": 1,
                "name": "Northstar Banking Service",
                "transAgg": true,
                "ach": true,
                "stateAgg": true,
                "voi": true,
                "voa": true,
                "aha": true,
                "availBalance": true,
                "accountOwner": true,
                "studentLoanData": true,
                "loanPaymentDetails": true,
                "paymentInitiation": true,
                "billPayData": true,
                "liabilityData": true,
                "accountTypeDescription": "STANDARD",
                "phone": "+1-212-555-0147",
                "urlHomeApp": "STANDARD",
                "urlLogonApp": "STANDARD",
                "oauthEnabled": true,
                "urlForgotPassword": "STANDARD",
                "urlOnlineRegistration": "STANDARD",
                "class": "STANDARD",
                "specialText": "STANDARD",
                "timeZone": "America/New_York",
                "specialInstructions": [
                  "STANDARD"
                ],
                "title": "Banking operation completed",
                "address": {
                  "city": "New York",
                  "state": "STANDARD",
                  "country": "STANDARD",
                  "postalCode": "10001"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Institution"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "ID used to correlate related requests and responses.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp indicating when the response was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the processing was done.",
                "example": "string"
              }
            },
            "description": "Metadata related to the response.",
            "example": {
              "responseId": "1ef269fe-bd3e-543e-80b7-4df5aaf6be7f",
              "correlationId": "dd909a6c-fc82-527e-8831-ba0383d3b34a",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for retrieving institution information based on routing numbers.",
        "example": {
          "found": 1,
          "displaying": 1,
          "moreAvailable": true,
          "createdDate": 1,
          "institutions": [
            {
              "id": 1,
              "name": "Northstar Banking Service",
              "transAgg": true,
              "ach": true,
              "stateAgg": true,
              "voi": true,
              "voa": true,
              "aha": true,
              "availBalance": true,
              "accountOwner": true,
              "studentLoanData": true,
              "loanPaymentDetails": true,
              "paymentInitiation": true,
              "billPayData": true,
              "liabilityData": true,
              "accountTypeDescription": "STANDARD",
              "phone": "+1-212-555-0147",
              "urlHomeApp": "STANDARD",
              "urlLogonApp": "STANDARD",
              "oauthEnabled": true,
              "urlForgotPassword": "STANDARD",
              "urlOnlineRegistration": "STANDARD",
              "class": "STANDARD",
              "specialText": "STANDARD",
              "timeZone": "America/New_York",
              "specialInstructions": [
                "STANDARD"
              ],
              "title": "Banking operation completed",
              "address": {
                "city": "New York",
                "state": "STANDARD",
                "country": "STANDARD",
                "postalCode": "10001"
              }
            }
          ],
          "metadata": {
            "responseId": "1ef269fe-bd3e-543e-80b7-4df5aaf6be7f",
            "correlationId": "dd909a6c-fc82-527e-8831-ba0383d3b34a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Institution": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier for the institution.",
            "format": "int32",
            "example": 0
          },
          "name": {
            "type": "string",
            "description": "Name of the institution.",
            "example": "string"
          },
          "transAgg": {
            "type": "boolean",
            "description": "Indicates if transaction aggregation is supported.",
            "example": false
          },
          "ach": {
            "type": "boolean",
            "description": "Indicates if ACH services are available.",
            "example": false
          },
          "stateAgg": {
            "type": "boolean",
            "description": "Indicates if state aggregation is supported.",
            "example": false
          },
          "voi": {
            "type": "boolean",
            "description": "Indicates if volatility of institution is important.",
            "example": false
          },
          "voa": {
            "type": "boolean",
            "description": "Indicates if volatility of accounts is important.",
            "example": false
          },
          "aha": {
            "type": "boolean",
            "description": "Indicates if account history aggregation is supported.",
            "example": false
          },
          "availBalance": {
            "type": "boolean",
            "description": "Indicates if available balance information is provided.",
            "example": false
          },
          "accountOwner": {
            "type": "boolean",
            "description": "Indicates if account ownership details are available.",
            "example": false
          },
          "studentLoanData": {
            "type": "boolean",
            "description": "Indicates if student loan data is available.",
            "example": false
          },
          "loanPaymentDetails": {
            "type": "boolean",
            "description": "Indicates if loan payment details are provided.",
            "example": false
          },
          "paymentInitiation": {
            "type": "boolean",
            "description": "Indicates if payment initiation services are available.",
            "example": false
          },
          "billPayData": {
            "type": "boolean",
            "description": "Indicates if bill payment data is provided.",
            "example": false
          },
          "liabilityData": {
            "type": "boolean",
            "description": "Indicates if liability data is available.",
            "example": false
          },
          "accountTypeDescription": {
            "type": "string",
            "description": "Description of the type of account.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "Contact phone number for the institution.",
            "example": "string"
          },
          "urlHomeApp": {
            "type": "string",
            "description": "URL for the institution's home application.",
            "example": "string"
          },
          "urlLogonApp": {
            "type": "string",
            "description": "URL for the institution's logon application.",
            "example": "string"
          },
          "oauthEnabled": {
            "type": "boolean",
            "description": "Indicates if OAuth is enabled for the institution.",
            "example": false
          },
          "urlForgotPassword": {
            "type": "string",
            "description": "URL where users can reset their password.",
            "example": "string"
          },
          "urlOnlineRegistration": {
            "type": "string",
            "description": "URL for online registration at the institution.",
            "example": "string"
          },
          "class": {
            "type": "string",
            "description": "Classification of the institution.",
            "example": "string"
          },
          "specialText": {
            "type": "string",
            "description": "Special text regarding the institution.",
            "example": "string"
          },
          "timeZone": {
            "type": "string",
            "description": "Time zone of the institution.",
            "example": "string"
          },
          "specialInstructions": {
            "type": "array",
            "description": "Instructions specific to the institution.",
            "items": {
              "type": "string",
              "example": "string"
            }
          },
          "title": {
            "type": "string",
            "description": "Title of the institution.",
            "example": "string"
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          }
        },
        "description": "Schema representing an institution with detailed information."
      },
      "Address": {
        "type": "object",
        "properties": {
          "city": {
            "type": "string",
            "description": "City where the institution is located.",
            "example": "string"
          },
          "state": {
            "type": "string",
            "description": "State where the institution is located.",
            "example": "string"
          },
          "country": {
            "type": "string",
            "description": "Country where the institution is located.",
            "example": "string"
          },
          "postalCode": {
            "type": "string",
            "description": "Postal code of the institution's location.",
            "example": "string"
          }
        },
        "description": "Schema representing an address of an institution."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "routingnumberId": {
        "name": "routingnumberId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-institutions-by-routing-number"
        },
        "example": "open-finance-api-get-institutions-by-routing-number"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes a Bearer authentication method with JSON Web Tokens (JWT) for secure API access. Clients must include the JWT in the authorization header when making API requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}