{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Corporate Actions Review Submission API",
    "description": "The Corporate Actions Review Submission API enables financial institutions to submit reviews related to corporate actions. This API is essential for ensuring compliance and enhancing transparency in corporate governance. Users, typically market analysts or compliance officers, can leverage it to submit, track, and manage reviews efficiently. By facilitating this process, the API enhances the review workflow and ensures timely responses to corporate events, thereby supporting informed decision-making in the financial landscape.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-operations/corporate-action/{param1}/reviews": {
      "post": {
        "tags": [
          "Corporate Actions"
        ],
        "summary": "Create a review for a specific corporate action.",
        "description": "This endpoint allows users to submit a review for the corporate action identified by RES-100045. Ensure to provide all necessary details in the request body for proper processing.",
        "operationId": "createCorporateActionReview",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit reviews for the corporate action with the identifier RES-100045. It is essential for the evaluation and processing of the respective corporate action operations. Ensure that all required fields in the schema are populated correctly to avoid processing errors.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCorporateActionReviewRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request has been accepted for processing but not yet completed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCorporateActionReviewResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCorporateActionReviewRequest": {
        "title": "Corporate Action Review Request",
        "type": "object",
        "properties": {
          "reviewReason": {
            "type": "string",
            "description": "The reason for the review.",
            "example": "STANDARD"
          },
          "reviewScope": {
            "type": "array",
            "description": "The scope of the review identified by specific identifiers.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "An identifier marking the scope of the review.",
              "example": "scopeIdentifier123"
            }
          },
          "assignedReviewerId": {
            "type": "string",
            "description": "ID of the reviewer assigned to this review.",
            "example": "STANDARD"
          },
          "dueAt": {
            "type": "string",
            "description": "Due date for the review.",
            "example": "2026-08-11T12:00:00Z"
          },
          "requestContext": {
            "description": "Context information for the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing a request body for reviewing corporate actions.",
        "example": {
          "reviewReason": "STANDARD",
          "reviewScope": [
            "STANDARD"
          ],
          "assignedReviewerId": "STANDARD",
          "dueAt": "2026-08-11T12:00:00Z",
          "requestContext": {
            "requestId": "e1d6e1a4-aa5d-5f02-89e3-da8fbb1c734f",
            "correlationId": "8aa6bd5b-e03a-56ab-b3b2-981b1dfdadc7",
            "idempotencyKey": "8fc6854f-f8e4-536b-91f5-c6e5457b8053",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-203864"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-5678"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking requests across systems.",
            "example": "correlation-1234"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotent requests.",
            "example": "idempotency-key-444"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-09-30T08:30:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "externalSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application responsible for making the request.",
            "example": "app-frontend"
          },
          "channel": {
            "description": "Information regarding the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context information associated with the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-abc"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel used for the request (e.g., API, Web UI).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used if applicable.",
            "example": "device-xyz"
          }
        },
        "description": "Schema representing details about the channel used for the request."
      },
      "CreateCorporateActionReviewResponse_202": {
        "title": "Corporate Action Review Response",
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "A reference identifier for the corporate action.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "The type of corporate action requested.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the corporate action.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "The timestamp when the corporate action was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for a corporate action review operation, including details about the action taken and metadata related to the response.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "c8bee773-ca61-5a2c-a301-68c5afbf080b",
            "correlationId": "8aa6bd5b-e03a-56ab-b3b2-981b1dfdadc7",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "RESP-67890"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to correlate multiple responses or requests.",
            "example": "CORR-111213"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-09T14:48:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographic region where the processing took place.",
            "example": "US"
          }
        },
        "description": "Schema representing the metadata associated with the response of a corporate action review."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "corporate-action-review-corporate-action-processing"
        },
        "example": "corporate-action-review-corporate-action-processing"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using bearer tokens, specifically following the JSON Web Token (JWT) format. This method allows users to securely transmit information between parties as a JSON object.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}