{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Customer Active-spec",
    "description": "The Customer Activation API enables businesses to efficiently manage the activation of customer accounts within the system. This endpoint allows for the submission of new active customer details, streamlining onboarding processes and enhancing customer engagement. It is primarily used by customer service teams and account managers to ensure swift activation and improved service delivery. By leveraging this API, organizations can automate and effectively track active customer registrations, fostering a more responsive customer interaction environment.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/active": {
      "post": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Create a new active customer.",
        "description": "This endpoint allows you to add a new customer to the active list. Ensure that all required fields are provided in the request body to successfully create the customer record.",
        "operationId": "createCustomerActive",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create or activate a customer account. It requires specific customer details to be provided in JSON format.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerActiveRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Customer account created successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCustomerActiveResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCustomerActiveRequest": {
        "title": "Customer Activation Request",
        "type": "object",
        "properties": {
          "username": {
            "type": "string",
            "description": "The unique username of the customer.",
            "example": "Northstar Banking Service"
          },
          "firstName": {
            "type": "string",
            "description": "The first name of the customer.",
            "example": "Northstar Banking Service"
          },
          "lastName": {
            "type": "string",
            "description": "The last name of the customer.",
            "example": "Northstar Banking Service"
          },
          "applicationId": {
            "type": "string",
            "description": "The ID of the application used for activation.",
            "example": "APP-756237"
          },
          "phone": {
            "type": "string",
            "description": "The phone number of the customer.",
            "example": "+1-212-555-0147"
          },
          "email": {
            "type": "string",
            "description": "The email address of the customer.",
            "example": "olivia.bennett@northstar.example"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for activating a customer.",
        "example": {
          "username": "Northstar Banking Service",
          "firstName": "Northstar Banking Service",
          "lastName": "Northstar Banking Service",
          "applicationId": "APP-756237",
          "phone": "+1-212-555-0147",
          "email": "olivia.bennett@northstar.example",
          "requestContext": {
            "requestId": "cf98536e-79ae-58e4-8e93-ad17761f6c5b",
            "correlationId": "26ebb697-cec5-5adb-af6b-dca60d0792bf",
            "idempotencyKey": "5aeb74c8-738c-55a1-ab3e-3bca8215ee5c",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-633285"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-7890"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request across services.",
            "example": "corr-5678"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Unique key to ensure the request is processed only once.",
            "example": "idempotency-key-123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-10T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system originating the request.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "WebApp"
          },
          "channel": {
            "description": "Information about the communication channel.",
            "$ref": "#/components/schemas/ChannelInfo"
          }
        },
        "description": "Contextual metadata regarding the request."
      },
      "ChannelInfo": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-456"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the communication channel, e.g., SMS, Email.",
            "example": "SMS"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the channel.",
            "example": "device-123"
          }
        },
        "description": "Details about the communication channel used for the request."
      },
      "CreateCustomerActiveResponse_201": {
        "title": "Customer Active Response",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "STANDARD"
          },
          "username": {
            "type": "string",
            "description": "The username associated with the customer.",
            "example": "Northstar Banking Service"
          },
          "createdDate": {
            "type": "integer",
            "description": "The timestamp indicating when the customer was created, represented as an integer.",
            "format": "int32",
            "example": 1
          },
          "metadata": {
            "description": "Metadata associated with the customer creation response.",
            "$ref": "#/components/schemas/CustomerMetadata"
          }
        },
        "description": "Response schema for the Customer Active operation when a new customer is created.",
        "example": {
          "id": "STANDARD",
          "username": "Northstar Banking Service",
          "createdDate": 1,
          "metadata": {
            "responseId": "a8930486-7ac0-5483-b736-4d10446f1a4f",
            "correlationId": "26ebb697-cec5-5adb-af6b-dca60d0792bf",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CustomerMetadata": {
        "title": "Customer Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The identifier for the response generated by the system.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographic region that processed the customer creation request.",
            "example": "string"
          }
        },
        "description": "Metadata information related to the customer creation operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-add-customer"
        },
        "example": "open-finance-api-add-customer"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which requires a JSON Web Token (JWT) to be sent in the Authorization header. The JWT should be issued by a trusted authentication provider.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}