{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Underwriting Data Retrieval API",
    "description": "The Underwriting Data Retrieval API enables users to access critical underwriting information related to banking sales operations. This API provides essential insights on risk assessments, client evaluations, and policy approvals, allowing financial institutions to streamline their underwriting processes. Typical consumers of this API include underwriters, financial analysts, and sales teams seeking to make informed decisions based on comprehensive data. By leveraging this API, organizations can enhance their risk management strategies and drive better customer outcomes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/sales/underwriting": {
      "get": {
        "tags": [
          "Sales Management"
        ],
        "summary": "Retrieve underwriting information for sales.",
        "description": "This endpoint allows clients to fetch detailed underwriting data related to sales. It provides essential information required for evaluating risks and making informed decisions during the underwriting process.",
        "operationId": "getSalesUnderwriting",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a GET request for underwriting information related to sales. It expects data in JSON format which adheres to the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSalesUnderwritingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the underwriting data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSalesUnderwritingResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetSalesUnderwritingRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation in the Sales Underwriting API.",
        "example": "{}"
      },
      "GetSalesUnderwritingResponse_200": {
        "title": "Sales Underwriting Operations Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of underwriting prospect items.",
            "example": [
              {
                "prospectId": "STANDARD",
                "productCode": "CHK-PREMIUM-US",
                "salesChannel": "STANDARD",
                "relationshipManagerId": "STANDARD",
                "expectedValue": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "applicationId": "APP-998008",
                "requestedLimit": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "debtServiceCoverageRatio": 100.0,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/UnderwritingProspect"
            }
          },
          "pagination": {
            "description": "Details for pagination of the items.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata associated with the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving sales underwriting operations, containing items related to underwriting prospects and pagination details.",
        "example": {
          "items": [
            {
              "prospectId": "STANDARD",
              "productCode": "CHK-PREMIUM-US",
              "salesChannel": "STANDARD",
              "relationshipManagerId": "STANDARD",
              "expectedValue": {
                "amount": 100.0,
                "currency": "USD"
              },
              "applicationId": "APP-998008",
              "requestedLimit": {
                "amount": 100.0,
                "currency": "USD"
              },
              "debtServiceCoverageRatio": 100.0,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "6c880d41-75cf-5a45-9599-db8e5fd266f0",
            "correlationId": "f5232157-b537-5bad-80d1-6cae2a4b8e75",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "UnderwritingProspect": {
        "title": "Underwriting Prospect",
        "type": "object",
        "properties": {
          "prospectId": {
            "type": "string",
            "description": "Unique identifier for the prospect."
          },
          "productCode": {
            "type": "string",
            "description": "Code for the product related to the prospect."
          },
          "salesChannel": {
            "type": "string",
            "description": "Sales channel through which the prospect was acquired."
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "Identifier of the relationship manager associated with the prospect."
          },
          "expectedValue": {
            "description": "Expected financial value related to the prospect.",
            "$ref": "#/components/schemas/AmountCurrency"
          },
          "applicationId": {
            "type": "string",
            "description": "Identifier for the application associated with the prospect."
          },
          "requestedLimit": {
            "description": "Limit amount requested by the prospect.",
            "$ref": "#/components/schemas/AmountCurrency"
          },
          "debtServiceCoverageRatio": {
            "type": "number",
            "description": "Debt service coverage ratio for the prospect."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp for when the record was last updated."
          }
        },
        "description": "Schema representing a single underwriting prospect item."
      },
      "AmountCurrency": {
        "title": "Amount and Currency",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Numeric value of the amount."
          },
          "currency": {
            "type": "string",
            "description": "Currency code of the amount."
          }
        },
        "description": "Schema representing an amount in a specified currency."
      },
      "Pagination": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Schema representing pagination details."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp for when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed."
          }
        },
        "description": "Schema representing metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "underwriting-search-underwriting"
        },
        "example": "underwriting-search-underwriting"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses HTTP Bearer authentication, allowing the use of a bearer token in requests. The token should be in JSON Web Token (JWT) format.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}