{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Central Cash Handling API",
    "description": "The Central Cash Handling API facilitates the management and retrieval of cash handling transactions for banking operations. It allows users to access real-time data regarding cash movements, balances, and transaction histories. Designed for financial institutions, this API supports various use cases, including cash reconciliations and auditing processes. Developers can integrate it into their banking applications to enhance cash management capabilities and improve operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/payments/central-cash-handling": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Retrieve central cash handling payment information.",
        "description": "This endpoint allows you to retrieve details about central cash handling payments, enabling efficient management and oversight of cash transactions within the payment system.",
        "operationId": "getCentralCashHandlingPayments",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information regarding central cash handling payments. It expects a JSON payload that follows the defined schema specifications.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCentralCashHandlingPaymentsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the cash handling details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCentralCashHandlingPaymentsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCentralCashHandlingPaymentsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the central cash handling operation in JSON format.",
        "example": "{}"
      },
      "GetCentralCashHandlingPaymentsResponse_200": {
        "title": "Central Cash Handling Payment Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "Array of payment items.",
            "example": [
              {
                "paymentId": "PAY-945732",
                "debtorAccountId": "ACC-721651",
                "creditorAccountId": "ACC-452452",
                "instructedAmount": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "requestedExecutionDate": "2026-09-15",
                "remittanceInformation": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/PaymentItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the payment items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the Central Cash Handling operations, detailing payment items, pagination, sorting, and metadata.",
        "example": {
          "items": [
            {
              "paymentId": "PAY-945732",
              "debtorAccountId": "ACC-721651",
              "creditorAccountId": "ACC-452452",
              "instructedAmount": {
                "amount": 100.0,
                "currency": "USD"
              },
              "requestedExecutionDate": "2026-09-15",
              "remittanceInformation": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "0a5871dd-ae48-50f2-aaf0-cda18b7d409d",
            "correlationId": "29cd4fb4-ddfe-59a4-9746-c306aa4b0a63",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentItem": {
        "title": "Payment Item",
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment.",
            "example": "12345"
          },
          "debtorAccountId": {
            "type": "string",
            "description": "Identifier of the debtor's account.",
            "example": "debtor_account_123"
          },
          "creditorAccountId": {
            "type": "string",
            "description": "Identifier of the creditor's account.",
            "example": "creditor_account_456"
          },
          "instructedAmount": {
            "$ref": "#/components/schemas/InstructedAmount"
          },
          "requestedExecutionDate": {
            "type": "string",
            "description": "Date when the payment is requested to be executed.",
            "example": "2023-10-01"
          },
          "remittanceInformation": {
            "type": "string",
            "description": "Information regarding the payment's remittance.",
            "example": "Payment for invoice #123"
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the payment record.",
            "example": "Completed"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the payment was last updated.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "Detailed representation of a payment item."
      },
      "InstructedAmount": {
        "title": "Instructed Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount to be paid.",
            "example": 100.0
          },
          "currency": {
            "type": "string",
            "description": "The currency code of the amount.",
            "example": "USD"
          }
        },
        "description": "Amount and currency for the payment instruction."
      },
      "Pagination": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Information regarding pagination of the response."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response_123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "correlation_456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "central-cash-handling-search-central-cash-handling"
        },
        "example": "central-cash-handling-search-central-cash-handling"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token for authorization, specifically a JSON Web Token (JWT). The token should be included in the authorization header of requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}