{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Transaction Details API",
    "description": "The Customer Transaction Details API provides access to specific transaction information associated with a given customer. By utilizing this endpoint, businesses can retrieve detailed insights about individual transactions, which can enhance customer support and facilitate transaction management. Typical consumers of this API include financial analysts and customer service representatives who need to review transaction histories. This API enables users to track and analyze transaction patterns, contributing to improved decision-making and customer engagement.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/{customerId}/transactions/{transactionId}": {
      "get": {
        "tags": [
          "Customer Transactions"
        ],
        "summary": "Retrieve transactions for a specific customer.",
        "description": "This endpoint allows you to fetch all transactions associated with the customer identified by the given customer ID (CUST-100045). It provides detailed information about each transaction, enabling you to analyze the customer's transaction history.",
        "operationId": "getCustomerTransactionsForCUST100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          },
          {
            "$ref": "#/components/parameters/transactionId"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving transaction details for a specific customer and resource. It should follow the structure defined by the accompanying schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCustomerTransactionsForCUST100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of the transaction data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCustomerTransactionsForCUST100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCustomerTransactionsForCUST100045Request": {
        "type": "string",
        "description": "The request body for retrieving transactions associated with a specific customer. This schema represents the input required for the transaction query.",
        "example": "{}"
      },
      "GetCustomerTransactionsForCUST100045Response_200": {
        "title": "Transaction Response",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "The unique identifier for the transaction.",
            "format": "int32",
            "example": 1
          },
          "amount": {
            "type": "number",
            "description": "The total amount of the transaction.",
            "example": 100.0
          },
          "uniqueTransactionId": {
            "type": "string",
            "description": "A unique identifier for tracking the transaction.",
            "example": "TXN-803890"
          },
          "accountId": {
            "type": "integer",
            "description": "The identifier of the account associated with the transaction.",
            "format": "int32",
            "example": 1
          },
          "customerId": {
            "type": "integer",
            "description": "The identifier of the customer associated with the transaction.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The current status of the transaction.",
            "example": "ACTIVE"
          },
          "description": {
            "type": "string",
            "description": "A brief description of the transaction.",
            "example": "Customer banking request processed successfully"
          },
          "memo": {
            "type": "string",
            "description": "Any additional notes or memos associated with the transaction.",
            "example": "STANDARD"
          },
          "type": {
            "type": "string",
            "description": "The type of the transaction.",
            "example": "STANDARD"
          },
          "transactionDate": {
            "type": "integer",
            "description": "The date the transaction took place.",
            "format": "int32",
            "example": 1
          },
          "postedDate": {
            "type": "integer",
            "description": "The date the transaction was posted.",
            "format": "int32",
            "example": 1
          },
          "createdDate": {
            "type": "integer",
            "description": "The date the transaction record was created.",
            "format": "int32",
            "example": 1
          },
          "firstEffectiveDate": {
            "type": "integer",
            "description": "The first effective date for the transaction.",
            "format": "int32",
            "example": 1
          },
          "effectiveDate": {
            "type": "integer",
            "description": "The effective date of the transaction.",
            "format": "int32",
            "example": 1
          },
          "optionExpireDate": {
            "type": "integer",
            "description": "The expiration date for any options related to the transaction.",
            "format": "int32",
            "example": 1
          },
          "checkNum": {
            "type": "string",
            "description": "The check number associated with the transaction, if applicable.",
            "example": "STANDARD"
          },
          "escrowAmount": {
            "type": "number",
            "description": "The amount held in escrow for the transaction.",
            "example": 100.0
          },
          "feeAmount": {
            "type": "number",
            "description": "Any fees associated with the transaction.",
            "example": 100.0
          },
          "suspenseAmount": {
            "type": "number",
            "description": "The amount set aside in suspense for the transaction.",
            "example": 100.0
          },
          "interestAmount": {
            "type": "number",
            "description": "The amount of interest accrued on the transaction.",
            "example": 100.0
          },
          "principalAmount": {
            "type": "number",
            "description": "The principal amount of the transaction.",
            "example": 100.0
          },
          "optionStrikePrice": {
            "type": "number",
            "description": "The strike price of any options associated with the transaction.",
            "example": 100.0
          },
          "unitQuantity": {
            "type": "number",
            "description": "The quantity of units involved in the transaction.",
            "example": 100.0
          },
          "unitPrice": {
            "type": "number",
            "description": "The price per unit for the transaction.",
            "example": 100.0
          },
          "categorization": {
            "description": "Details on how the transaction is categorized.",
            "$ref": "#/components/schemas/TransactionCategorization"
          },
          "runningBalanceAmount": {
            "type": "number",
            "description": "The running balance amount after the transaction.",
            "example": 100.0
          },
          "subaccountSecurityType": {
            "type": "string",
            "description": "The security type of the subaccount related to the transaction.",
            "example": "STANDARD"
          },
          "commissionAmount": {
            "type": "integer",
            "description": "The amount of commission associated with the transaction.",
            "format": "int32",
            "example": 1
          },
          "ticker": {
            "type": "string",
            "description": "The ticker symbol for the security associated with the transaction.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata related to the transaction.",
            "$ref": "#/components/schemas/TransactionMetadata"
          }
        },
        "description": "Schema representing the response for a transaction related to a customer.",
        "example": {
          "id": 1,
          "amount": 100.0,
          "uniqueTransactionId": "TXN-803890",
          "accountId": 1,
          "customerId": 1,
          "status": "ACTIVE",
          "description": "Customer banking request processed successfully",
          "memo": "STANDARD",
          "type": "STANDARD",
          "transactionDate": 1,
          "postedDate": 1,
          "createdDate": 1,
          "firstEffectiveDate": 1,
          "effectiveDate": 1,
          "optionExpireDate": 1,
          "checkNum": "STANDARD",
          "escrowAmount": 100.0,
          "feeAmount": 100.0,
          "suspenseAmount": 100.0,
          "interestAmount": 100.0,
          "principalAmount": 100.0,
          "optionStrikePrice": 100.0,
          "unitQuantity": 100.0,
          "unitPrice": 100.0,
          "categorization": {
            "normalizedPayeeName": "Northstar Banking Service",
            "category": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "postalCode": "10001",
            "country": "STANDARD",
            "bestRepresentation": "STANDARD"
          },
          "runningBalanceAmount": 100.0,
          "subaccountSecurityType": "STANDARD",
          "commissionAmount": 1,
          "ticker": "STANDARD",
          "metadata": {
            "responseId": "f8ec0b61-bb56-5d0b-9962-6e4d71a361f7",
            "correlationId": "cb040eae-06c8-5821-8e6c-b5beaa3e639b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "TransactionCategorization": {
        "title": "Transaction Categorization",
        "type": "object",
        "properties": {
          "normalizedPayeeName": {
            "type": "string",
            "description": "The normalized name of the payee in the transaction.",
            "example": "string"
          },
          "category": {
            "type": "string",
            "description": "The category under which the transaction falls.",
            "example": "string"
          },
          "city": {
            "type": "string",
            "description": "The city related to the transaction.",
            "example": "string"
          },
          "state": {
            "type": "string",
            "description": "The state related to the transaction.",
            "example": "string"
          },
          "postalCode": {
            "type": "string",
            "description": "The postal code related to the transaction.",
            "example": "string"
          },
          "country": {
            "type": "string",
            "description": "The country related to the transaction.",
            "example": "string"
          },
          "bestRepresentation": {
            "type": "string",
            "description": "The best representation or description of the transaction.",
            "example": "string"
          }
        },
        "description": "Schema for categorizing a transaction."
      },
      "TransactionMetadata": {
        "title": "Transaction Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the transaction was processed.",
            "example": "string"
          }
        },
        "description": "Metadata related to the transaction, providing additional context."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "transactionId": {
        "name": "transactionId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that is being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-transaction-by-unique-transaction-id"
        },
        "example": "open-finance-api-get-transaction-by-unique-transaction-id"
      },
      "X-Runtime-App": {
        "description": "The name of the application handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens, specifically formatted as JSON Web Tokens (JWT). This method is commonly used for securing API endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}