{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_E-Branch Operations Status API",
    "description": "The E-Branch Operations Status API provides real-time status updates related to various operations conducted through the e-branch banking channel. This API allows businesses to monitor active transactions, assess system performance, and ensure reliable customer service for users engaging with online banking functionalities. Typical consumers include customer service teams, operational managers, and financial analysts who need insights into transaction statuses for improved decision-making. Utilize this API to enhance user experience and maintain efficient banking operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/e-branch-operations/status": {
      "get": {
        "tags": [
          "E-Branch Operations"
        ],
        "summary": "Retrieve the status of e-branch operations.",
        "description": "This endpoint allows users to fetch the current status of e-branch operations, providing insights into operational availability and any potential issues that may be affecting service performance.",
        "operationId": "getEbranchOperationsStatus",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the status of specific e-branch operations. It is important to ensure that the request contains all necessary criteria to get an accurate status update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetEbranchOperationsStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the current status.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetEbranchOperationsStatusResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetEbranchOperationsStatusRequest": {
        "type": "string",
        "description": "Represents the request body for the specific branch operations status in the channel.",
        "example": "{}"
      },
      "GetEbranchOperationsStatusResponse_200": {
        "title": "Channel Specific Branch Operations Status Response",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "MOBILE-US"
          },
          "regionCode": {
            "type": "string",
            "description": "The code of the region where the branch is located.",
            "example": "US-EAST-1"
          },
          "serviceWindow": {
            "description": "Operating hours for the branch.",
            "$ref": "#/components/schemas/ServiceWindow"
          },
          "dailyCapacity": {
            "type": "integer",
            "description": "The total daily capacity of the branch.",
            "format": "int32",
            "example": 1
          },
          "branchId": {
            "type": "string",
            "description": "The unique identifier for the branch.",
            "example": "STANDARD"
          },
          "branchType": {
            "type": "string",
            "description": "The type of the branch (e.g., physical, online).",
            "example": "FULL_SERVICE"
          },
          "timeZone": {
            "type": "string",
            "description": "The time zone in which the branch operates.",
            "example": "America/New_York"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the record (e.g., active, inactive).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version of the record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the operation record.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response for the status of branch operations specific to a channel.",
        "example": {
          "channelId": "MOBILE-US",
          "regionCode": "US-EAST-1",
          "serviceWindow": {
            "opensAt": "STANDARD",
            "closesAt": "STANDARD"
          },
          "dailyCapacity": 1,
          "branchId": "STANDARD",
          "branchType": "FULL_SERVICE",
          "timeZone": "America/New_York",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "342371a5-07cf-5bac-a089-1813bb439a00",
            "correlationId": "15164e3a-1dcf-5032-b09c-899d5adab9a3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ServiceWindow": {
        "title": "Service Window",
        "type": "object",
        "properties": {
          "opensAt": {
            "type": "string",
            "description": "The time at which the branch opens.",
            "example": "08:00"
          },
          "closesAt": {
            "type": "string",
            "description": "The time at which the branch closes.",
            "example": "17:00"
          }
        },
        "description": "Defines the operating hours of a branch."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response-789"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate multiple events.",
            "example": "correlation-012"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the request was processed.",
            "example": "US-NY"
          }
        },
        "description": "Additional metadata associated with the branch operations status."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "e-branch-operations-get-e-branch-operations"
        },
        "example": "e-branch-operations-get-e-branch-operations"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method with JSON Web Tokens (JWT). Clients must include a valid JWT in the Authorization header of their requests to access the secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}