{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Cross Channel Contact Handlers-spec",
    "description": "The Cross Channel Contact Handlers API enables users to retrieve a comprehensive list of contact handlers across various banking channels. This API provides essential information about each contact handler's capabilities and associated details, making it easier for financial institutions to manage customer interactions. Typical consumers include developers and system integrators who are looking to enhance customer communication processes. With this API, organizations can streamline their multichannel support operations and ensure a unified experience for their customers.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cross-channel/contact-handler": {
      "get": {
        "tags": [
          "Contact Management"
        ],
        "summary": "Retrieve contact handler information.",
        "description": "Fetches the details of the contact handler, allowing developers to obtain necessary information related to cross-channel communication.",
        "operationId": "listCrossChannelContactHandlers",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is utilized to retrieve contact information across channels using the GET method. Ensure that the JSON structure follows the defined schema for successful processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListCrossChannelContactHandlersRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved contact data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCrossChannelContactHandlersResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListCrossChannelContactHandlersRequest": {
        "type": "string",
        "description": "This schema represents the request body expected by the contact handler for cross-channel operations.",
        "example": "{}"
      },
      "ListCrossChannelContactHandlersResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of contact interaction items.",
            "example": [
              {
                "partyId": "PARTY-632804",
                "interactionId": "INT-525949",
                "channel": "STANDARD",
                "authenticationLevel": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ContactInteractionItem"
            }
          },
          "pagination": {
            "description": "Pagination information related to the response.",
            "$ref": "#/components/schemas/PaginationInfo"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the cross-channel contact handler GET operation, returning a list of contact interactions along with pagination, sorting, and metadata information.",
        "example": {
          "items": [
            {
              "partyId": "PARTY-632804",
              "interactionId": "INT-525949",
              "channel": "STANDARD",
              "authenticationLevel": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "ce265560-e3b7-505c-8f80-2d31f71380eb",
            "correlationId": "37c9bd27-0302-53a4-9c49-b48fea39359b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ContactInteractionItem": {
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "Unique identifier for the party involved in the interaction."
          },
          "interactionId": {
            "type": "string",
            "description": "Unique identifier for the interaction."
          },
          "channel": {
            "type": "string",
            "description": "The communication channel used for the interaction (e.g., email, phone)."
          },
          "authenticationLevel": {
            "type": "string",
            "description": "The level of authentication used during the interaction."
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the interaction record (e.g., active, archived)."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the record was last updated."
          }
        },
        "description": "Schema representing a single contact interaction item."
      },
      "PaginationInfo": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32"
          }
        },
        "description": "Schema representing pagination information for the response."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place."
          }
        },
        "description": "Schema representing metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "contact-handler-search-contact-handler"
        },
        "example": "contact-handler-search-contact-handler"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method. It requires a valid JSON Web Token (JWT) to be included in the Authorization header of the request. Ensure that the JWT is well-formed and has not expired for successful authentication.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}