{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Payment Order Retrieval API",
    "description": "The Payment Order Retrieval API enables users to access and review detailed information about payment orders in the banking system. This endpoint allows financial institutions and developers to retrieve specific payment order data for analysis and reporting purposes. Typical use cases include auditing payment transactions, monitoring payment statuses, and integrating payment order details into financial applications. By leveraging this API, clients can enhance their financial operations and ensure better transaction management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/payments/payment-order": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Retrieve a payment order.",
        "description": "This endpoint allows you to fetch the details of a specific payment order, providing key information such as the status and monetary amounts involved.",
        "operationId": "getPaymentOrder",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve payment order information. It should include the necessary parameters for identifying the payment order.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPaymentOrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved payment order details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPaymentOrderResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPaymentOrderRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to payment orders.",
        "example": "{}"
      },
      "GetPaymentOrderResponse_200": {
        "title": "PaymentOrderResponse",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of payment order items.",
            "example": [
              {
                "paymentId": "PAY-546441",
                "debtorAccountId": "ACC-349808",
                "creditorAccountId": "ACC-704658",
                "instructedAmount": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "requestedExecutionDate": "2026-09-15",
                "remittanceInformation": "STANDARD",
                "paymentRail": "STANDARD",
                "chargeBearer": "STANDARD",
                "purposeCode": "CODE-340",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/PaymentOrderItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Field used for sorting the payment orders.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving payment orders.",
        "example": {
          "items": [
            {
              "paymentId": "PAY-546441",
              "debtorAccountId": "ACC-349808",
              "creditorAccountId": "ACC-704658",
              "instructedAmount": {
                "amount": 100.0,
                "currency": "USD"
              },
              "requestedExecutionDate": "2026-09-15",
              "remittanceInformation": "STANDARD",
              "paymentRail": "STANDARD",
              "chargeBearer": "STANDARD",
              "purposeCode": "CODE-340",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "e8c3a827-2ec0-5f83-9379-869a4a911ac5",
            "correlationId": "75f8e337-89a0-56c0-8692-80a238c3f6ca",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentOrderItem": {
        "title": "PaymentOrderItem",
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment order."
          },
          "debtorAccountId": {
            "type": "string",
            "description": "Identifier of the account that owes money."
          },
          "creditorAccountId": {
            "type": "string",
            "description": "Identifier of the account that will receive money."
          },
          "instructedAmount": {
            "$ref": "#/components/schemas/InstructedAmount"
          },
          "requestedExecutionDate": {
            "type": "string",
            "description": "The date when the payment is requested to be executed."
          },
          "remittanceInformation": {
            "type": "string",
            "description": "Information regarding the remittance for the payment."
          },
          "paymentRail": {
            "type": "string",
            "description": "Type of payment rail used for the transaction."
          },
          "chargeBearer": {
            "type": "string",
            "description": "Entity responsible for paying the charges."
          },
          "purposeCode": {
            "type": "string",
            "description": "Code representing the purpose of the payment."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the payment record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the payment order was last updated."
          }
        },
        "description": "Schema representing a single payment order item."
      },
      "InstructedAmount": {
        "title": "InstructedAmount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The numerical value of the instructed amount."
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the instructed amount is denominated."
          }
        },
        "description": "Schema representing the amount and currency for the payment instruction."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32"
          }
        },
        "description": "Schema representing pagination information for the list of payment orders."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed."
          }
        },
        "description": "Schema representing additional metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-order-search-payment-order"
        },
        "example": "payment-order-search-payment-order"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication, where a JSON Web Token (JWT) is provided as a bearer token in the HTTP Authorization header. It is a standard method for transmitting claims between parties and is commonly used in RESTful APIs.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}