{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Business Analysis Segment Direction API",
    "description": "The Business Analysis Segment Direction API facilitates the submission of segment analysis data for banking operations. This API enables businesses to define and characterize the direction of various segments in their banking sector, allowing for more informed decision-making. Typical consumers include analysts, financial institutions, and data scientists seeking to optimize segment performance and strategy. By leveraging this API, users can ensure accurate and timely insights into segment trends and directional shifts.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/business-analysis/segment-direction": {
      "post": {
        "tags": [
          "Business Analysis"
        ],
        "summary": "Create a new segment direction.",
        "description": "This endpoint allows you to create a new segment direction within the business analysis framework. It accepts input parameters that define the direction of the segment being analyzed. Successful creation will return the details of the newly created segment direction.",
        "operationId": "createSegmentDirection",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body contains the parameters required to initiate a business analysis for segment direction. It expects a JSON object that outlines the specific operational details necessary for the analysis process.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSegmentDirectionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully in the specified segment direction.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSegmentDirectionResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateSegmentDirectionRequest": {
        "type": "object",
        "properties": {
          "analysisId": {
            "type": "string",
            "description": "Unique identifier for the analysis.",
            "example": "STANDARD"
          },
          "segmentId": {
            "type": "string",
            "description": "Unique identifier for the segment.",
            "example": "STANDARD"
          },
          "periodStart": {
            "type": "string",
            "description": "Start date of the analysis period in ISO format.",
            "example": "2026-08-11"
          },
          "periodEnd": {
            "type": "string",
            "description": "End date of the analysis period in ISO format.",
            "example": "2026-08-11"
          },
          "baseCurrency": {
            "type": "string",
            "description": "The base currency for the analysis.",
            "example": "USD"
          },
          "scenario": {
            "type": "string",
            "description": "Scenario name or identifier for the analysis.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "example": {
          "analysisId": "STANDARD",
          "segmentId": "STANDARD",
          "periodStart": "2026-08-11",
          "periodEnd": "2026-08-11",
          "baseCurrency": "USD",
          "scenario": "STANDARD",
          "requestContext": {
            "requestId": "f224e21f-5a12-56bc-b31e-f66619845dd0",
            "correlationId": "58796b21-d213-5878-8ad3-120ddf0eb39e",
            "idempotencyKey": "375f7f93-7ad9-5150-99f3-ac106e5683de",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-994884"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-9012"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier to trace requests across systems.",
            "example": "corr-3456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to identify the idempotent request.",
            "example": "key-7890"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made in ISO format.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name of the source system initiating the request.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application that initiated the request.",
            "example": "MarketingApp"
          },
          "channel": {
            "description": "Details about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        }
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-1111"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., WEB, MOBILE, API).",
            "example": "WEB"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used for the request.",
            "example": "device-2222"
          }
        }
      },
      "CreateSegmentDirectionResponse_201": {
        "title": "Business Analysis Segment Direction Response",
        "type": "object",
        "properties": {
          "analysisId": {
            "type": "string",
            "description": "The unique identifier for the analysis.",
            "example": "STANDARD"
          },
          "segmentId": {
            "type": "string",
            "description": "The unique identifier for the segment.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource.",
            "example": "RES-146716"
          },
          "status": {
            "type": "string",
            "description": "The current status of the operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the analysis was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for the Business Analysis Segment Direction operation.",
        "example": {
          "analysisId": "STANDARD",
          "segmentId": "STANDARD",
          "resourceId": "RES-146716",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "8470d911-c69f-5203-8096-dc5539e937c8",
            "correlationId": "58796b21-d213-5878-8ad3-120ddf0eb39e",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "res-001"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used for correlating logs related to this request.",
            "example": "corr-xyz"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing was done.",
            "example": "us-east-1"
          }
        },
        "description": "Schema representing metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed, used for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "segment-direction-create-segment-direction"
        },
        "example": "segment-direction-create-segment-direction"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is making the request, useful for identifying the source of traffic.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Utilizes Bearer authentication scheme where a JSON Web Token (JWT) is provided in the Authorization header to access secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}