{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Standing Order Management API",
    "description": "The Standing Order Management API provides a streamlined approach to access and manage standing orders within a banking application. This API allows users to retrieve detailed information about existing standing orders, including payment details, scheduling, and associated accounts. Typical consumers include finance management applications and banking platforms that need to display or manipulate standing order data for users. By utilizing this API, developers can enhance user experiences in managing recurring payments seamlessly.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/standing-order": {
      "get": {
        "tags": [
          "Deposit Lending"
        ],
        "summary": "Retrieve Standing Orders for Deposit Lending",
        "description": "Fetches the details of all standing orders associated with deposit lending accounts. This endpoint allows users to manage their standing orders efficiently.",
        "operationId": "getStandingOrderDepositLending",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request to retrieve details about standing orders related to deposit lending. This request specifies the parameters and criteria for fetching the standing order information based on the user's input.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetStandingOrderDepositLendingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved standing order information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetStandingOrderDepositLendingResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetStandingOrderDepositLendingRequest": {
        "type": "string",
        "description": "This schema represents the request body for retrieving standing order operations in a deposit lending context.",
        "example": "{}"
      },
      "GetStandingOrderDepositLendingResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of standing order items.",
            "example": [
              {
                "customerId": "CUST-541305",
                "accountId": "ACC-811569",
                "productCode": "CHK-PREMIUM-US",
                "principal": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "termMonths": 1,
                "repaymentFrequency": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "type": "object",
              "properties": {
                "customerId": {
                  "type": "string",
                  "description": "Unique identifier for the customer.",
                  "example": "C12345"
                },
                "accountId": {
                  "type": "string",
                  "description": "Unique identifier for the account associated with the standing order.",
                  "example": "A67890"
                },
                "productCode": {
                  "type": "string",
                  "description": "Code representing the product tied to the standing order.",
                  "example": "P98765"
                },
                "principal": {
                  "$ref": "#/components/schemas/Principal"
                },
                "termMonths": {
                  "type": "integer",
                  "description": "Duration of the standing order in months.",
                  "format": "int32",
                  "example": 12
                },
                "repaymentFrequency": {
                  "type": "string",
                  "description": "Frequency of repayments for the standing order.",
                  "example": "Monthly"
                },
                "recordStatus": {
                  "type": "string",
                  "description": "Current status of the standing order record.",
                  "example": "Active"
                },
                "updatedAt": {
                  "type": "string",
                  "description": "Timestamp when the standing order was last updated.",
                  "example": "2023-01-01T12:00:00Z"
                }
              },
              "description": "Details of a standing order."
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Field used to sort the standing order list.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the GET operation on standing orders in the deposit lending API.",
        "example": {
          "items": [
            {
              "customerId": "CUST-541305",
              "accountId": "ACC-811569",
              "productCode": "CHK-PREMIUM-US",
              "principal": {
                "amount": 100.0,
                "currency": "USD"
              },
              "termMonths": 1,
              "repaymentFrequency": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "d4195d19-6b66-57db-bf0b-dcde9d82e68a",
            "correlationId": "f8167104-65df-58bd-b8c1-d8acaaf71596",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Principal": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Amount of money in the principal.",
            "example": 1000.0
          },
          "currency": {
            "type": "string",
            "description": "Currency code of the principal amount.",
            "example": "USD"
          }
        },
        "description": "Schema representing the principal amount and currency."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the result set.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Pagination information for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "R12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request-response correlation.",
            "example": "CORR67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request took place.",
            "example": "US"
          }
        },
        "description": "Metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "description": "Identifier for the specific endpoint that was called.",
          "example": "standing-order-search-standing-order"
        },
        "example": "standing-order-search-standing-order"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "description": "Name of the application that processed the request.",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication, where a token is generated (typically in the form of a JSON Web Token) and passed in the authorization header for client-server authentication.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}