{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Banking Card Purchase Authorization-v5-spec",
    "description": "MICROSERVICE-PROD-Create Banking Card Purchase Authorization-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cards/{cardId}/purchase-authorizations": {
      "post": {
        "operationId": "createBankingCardPurchaseAuthorization",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/cardId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBankingCardPurchaseAuthorizationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBankingCardPurchaseAuthorizationResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateBankingCardPurchaseAuthorizationRequest": {
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "example": "MER-394544"
          },
          "outletId": {
            "type": "string",
            "example": "STANDARD"
          },
          "terminalId": {
            "type": "string",
            "example": "STANDARD"
          },
          "customerToken": {
            "type": "string",
            "example": "STANDARD"
          },
          "amount": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "example": "string"
              },
              "value": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "tipAmount": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "example": "string"
              },
              "value": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "order": {
            "type": "object",
            "properties": {
              "merchantOrderId": {
                "type": "string",
                "example": "string"
              },
              "description": {
                "type": "string",
                "example": "string"
              },
              "items": {
                "type": "array",
                "example": "string",
                "items": {
                  "type": "object",
                  "properties": {
                    "itemId": {
                      "type": "string",
                      "example": "string"
                    },
                    "name": {
                      "type": "string",
                      "example": "string"
                    },
                    "description": {
                      "type": "string",
                      "example": "string"
                    },
                    "quantity": {
                      "type": "string",
                      "example": "string"
                    },
                    "unitPrice": {
                      "type": "object",
                      "properties": {
                        "currency": {
                          "type": "string",
                          "example": "string"
                        },
                        "value": {
                          "type": "string",
                          "example": "string"
                        }
                      },
                      "example": "string"
                    },
                    "totalAmount": {
                      "type": "object",
                      "properties": {
                        "currency": {
                          "type": "string",
                          "example": "string"
                        },
                        "value": {
                          "type": "string",
                          "example": "string"
                        }
                      },
                      "example": "string"
                    },
                    "taxAmount": {
                      "type": "object",
                      "properties": {
                        "currency": {
                          "type": "string",
                          "example": "string"
                        },
                        "value": {
                          "type": "string",
                          "example": "string"
                        }
                      },
                      "example": "string"
                    }
                  },
                  "example": "string"
                }
              }
            },
            "example": {
              "merchantOrderId": "ORD-450037",
              "description": "Customer banking request processed successfully",
              "items": [
                {
                  "itemId": "STANDARD",
                  "name": "Northstar Banking Service",
                  "description": "Customer banking request processed successfully",
                  "quantity": "STANDARD",
                  "unitPrice": {
                    "currency": "USD",
                    "value": "STANDARD"
                  },
                  "totalAmount": {
                    "currency": "USD",
                    "value": "STANDARD"
                  },
                  "taxAmount": {
                    "currency": "USD",
                    "value": "STANDARD"
                  }
                }
              ]
            }
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "43d9f3f5-a111-5770-ad63-78409620d541",
              "correlationId": "0df97048-5e54-58c8-8998-c86b179b31d2",
              "idempotencyKey": "2a66ecce-5077-5682-8461-5444c496df80",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-390927"
              }
            }
          }
        },
        "example": {
          "merchantId": "MER-394544",
          "outletId": "STANDARD",
          "terminalId": "STANDARD",
          "customerToken": "STANDARD",
          "amount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "tipAmount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "order": {
            "merchantOrderId": "ORD-450037",
            "description": "Customer banking request processed successfully",
            "items": [
              {
                "itemId": "STANDARD",
                "name": "Northstar Banking Service",
                "description": "Customer banking request processed successfully",
                "quantity": "STANDARD",
                "unitPrice": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "totalAmount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "taxAmount": {
                  "currency": "USD",
                  "value": "STANDARD"
                }
              }
            ]
          },
          "requestContext": {
            "requestId": "43d9f3f5-a111-5770-ad63-78409620d541",
            "correlationId": "0df97048-5e54-58c8-8998-c86b179b31d2",
            "idempotencyKey": "2a66ecce-5077-5682-8461-5444c496df80",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-390927"
            }
          }
        }
      },
      "CreateBankingCardPurchaseAuthorizationResponse_200": {
        "type": "object",
        "properties": {
          "payment": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "example": "string"
              },
              "intentId": {
                "type": "string",
                "example": "string"
              },
              "qrPaymentRequestId": {
                "type": "string",
                "example": "string"
              },
              "merchantId": {
                "type": "string",
                "example": "string"
              },
              "outletId": {
                "type": "string",
                "example": "string"
              },
              "terminalId": {
                "type": "string",
                "example": "string"
              },
              "merchantOrderId": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "string",
                "example": "string"
              },
              "method": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "example": "string"
                  },
                  "token": {
                    "type": "string",
                    "example": "string"
                  },
                  "issuerBankCode": {
                    "type": "string",
                    "example": "string"
                  },
                  "maskedIdentifier": {
                    "type": "string",
                    "example": "string"
                  },
                  "walletProvider": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              },
              "customer": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "example": "string"
                  },
                  "name": {
                    "type": "string",
                    "example": "string"
                  },
                  "email": {
                    "type": "string",
                    "example": "string"
                  },
                  "phone": {
                    "type": "string",
                    "example": "string"
                  },
                  "riskSegment": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              },
              "amounts": {
                "type": "object",
                "properties": {
                  "requested": {
                    "type": "object",
                    "properties": {
                      "currency": {
                        "type": "string",
                        "example": "string"
                      },
                      "value": {
                        "type": "string",
                        "example": "string"
                      }
                    },
                    "example": "string"
                  },
                  "authorized": {
                    "type": "object",
                    "properties": {
                      "currency": {
                        "type": "string",
                        "example": "string"
                      },
                      "value": {
                        "type": "string",
                        "example": "string"
                      }
                    },
                    "example": "string"
                  },
                  "captured": {
                    "type": "object",
                    "properties": {
                      "currency": {
                        "type": "string",
                        "example": "string"
                      },
                      "value": {
                        "type": "string",
                        "example": "string"
                      }
                    },
                    "example": "string"
                  },
                  "refunded": {
                    "type": "object",
                    "properties": {
                      "currency": {
                        "type": "string",
                        "example": "string"
                      },
                      "value": {
                        "type": "string",
                        "example": "string"
                      }
                    },
                    "example": "string"
                  },
                  "reversed": {
                    "type": "object",
                    "properties": {
                      "currency": {
                        "type": "string",
                        "example": "string"
                      },
                      "value": {
                        "type": "string",
                        "example": "string"
                      }
                    },
                    "example": "string"
                  },
                  "tip": {
                    "type": "object",
                    "properties": {
                      "currency": {
                        "type": "string",
                        "example": "string"
                      },
                      "value": {
                        "type": "string",
                        "example": "string"
                      }
                    },
                    "example": "string"
                  },
                  "fees": {
                    "type": "array",
                    "example": "string",
                    "items": {
                      "type": "object",
                      "properties": {
                        "feeType": {
                          "type": "string",
                          "example": "string"
                        },
                        "amount": {
                          "type": "object",
                          "properties": {
                            "currency": {
                              "type": "string",
                              "example": "string"
                            },
                            "value": {
                              "type": "string",
                              "example": "string"
                            }
                          },
                          "example": "string"
                        },
                        "bearer": {
                          "type": "string",
                          "example": "string"
                        }
                      },
                      "example": "string"
                    }
                  },
                  "netToMerchant": {
                    "type": "object",
                    "properties": {
                      "currency": {
                        "type": "string",
                        "example": "string"
                      }
                    },
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "id": "STANDARD",
              "intentId": "STANDARD",
              "qrPaymentRequestId": "e9fed0f7-461b-53b8-84b6-d4de6e3b9b09",
              "merchantId": "MER-654356",
              "outletId": "STANDARD",
              "terminalId": "STANDARD",
              "merchantOrderId": "ORD-318374",
              "channel": "STANDARD",
              "method": {
                "type": "STANDARD",
                "token": "STANDARD",
                "issuerBankCode": "CODE-281",
                "maskedIdentifier": "STANDARD",
                "walletProvider": "STANDARD"
              },
              "customer": {
                "id": "STANDARD",
                "name": "Northstar Banking Service",
                "email": "olivia.bennett@northstar.example",
                "phone": "+1-212-555-0147",
                "riskSegment": "STANDARD"
              },
              "amounts": {
                "requested": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "authorized": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "captured": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "refunded": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "reversed": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "tip": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "fees": [
                  {
                    "feeType": "STANDARD",
                    "amount": {
                      "currency": "USD",
                      "value": "STANDARD"
                    },
                    "bearer": "CUSTOMER"
                  }
                ],
                "netToMerchant": {
                  "currency": "USD"
                }
              }
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "3e8f3499-f836-54eb-9e16-b2ba84472e80",
              "correlationId": "0df97048-5e54-58c8-8998-c86b179b31d2",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "payment": {
            "id": "STANDARD",
            "intentId": "STANDARD",
            "qrPaymentRequestId": "e9fed0f7-461b-53b8-84b6-d4de6e3b9b09",
            "merchantId": "MER-654356",
            "outletId": "STANDARD",
            "terminalId": "STANDARD",
            "merchantOrderId": "ORD-318374",
            "channel": "STANDARD",
            "method": {
              "type": "STANDARD",
              "token": "STANDARD",
              "issuerBankCode": "CODE-281",
              "maskedIdentifier": "STANDARD",
              "walletProvider": "STANDARD"
            },
            "customer": {
              "id": "STANDARD",
              "name": "Northstar Banking Service",
              "email": "olivia.bennett@northstar.example",
              "phone": "+1-212-555-0147",
              "riskSegment": "STANDARD"
            },
            "amounts": {
              "requested": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "authorized": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "captured": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "refunded": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "reversed": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "tip": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "fees": [
                {
                  "feeType": "STANDARD",
                  "amount": {
                    "currency": "USD",
                    "value": "STANDARD"
                  },
                  "bearer": "CUSTOMER"
                }
              ],
              "netToMerchant": {
                "currency": "USD"
              }
            }
          },
          "metadata": {
            "responseId": "3e8f3499-f836-54eb-9e16-b2ba84472e80",
            "correlationId": "0df97048-5e54-58c8-8998-c86b179b31d2",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "cardId": {
        "name": "cardId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-process-customer-presented-payment"
        },
        "example": "banking-p2m-openapi-process-customer-presented-payment"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      },
      "X-Workflow-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-025"
        },
        "example": "WF-025"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Card Purchase Authorization and Clearing"
        },
        "example": "Card Purchase Authorization and Clearing"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "eee75bf5-9557-4715-915f-a1293eb14647"
        },
        "example": "eee75bf5-9557-4715-915f-a1293eb14647"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}