{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Human Resource Management By Param1-spec",
    "description": "The Workforce Training Management API provides access to human resource data regarding workforce training programs. This endpoint allows users to retrieve information based on specific parameters, enabling organizations to effectively manage training initiatives. Typical consumers include HR professionals, training coordinators, and workforce development managers who need to analyze training metrics and compliance. By leveraging this API, businesses can enhance their training strategies and improve employee performance through targeted development efforts.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/workforce-training/{param1}": {
      "get": {
        "tags": [
          "Workforce Management"
        ],
        "summary": "Retrieve workforce training details by ID.",
        "description": "This endpoint allows you to fetch detailed information about a specific workforce training program identified by its unique ID. It provides valuable insights into the training module, including content, duration, and relevant materials.",
        "operationId": "getHumanResourceManagementByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve detailed information about workforce training operations under the specified resource. It allows the client to request specific training data by providing the necessary parameters formatted in JSON.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetHumanResourceManagementByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and returned workforce training details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetHumanResourceManagementByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetHumanResourceManagementByParam1Request": {
        "type": "string",
        "description": "This schema represents the request body format for the GET operation related to workforce training in the human resource management system.",
        "example": "{}"
      },
      "GetHumanResourceManagementByParam1Response_200": {
        "type": "object",
        "properties": {
          "employeeId": {
            "type": "string",
            "description": "Unique identifier for the employee.",
            "example": "EMP-923372"
          },
          "assignmentId": {
            "type": "string",
            "description": "Unique identifier for the training assignment.",
            "example": "STANDARD"
          },
          "departmentId": {
            "type": "string",
            "description": "Identifier for the department associated with the employee.",
            "example": "STANDARD"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date the training assignment becomes effective.",
            "example": "2026-09-15"
          },
          "countryCode": {
            "type": "string",
            "description": "The country code of the employee's work location.",
            "example": "US"
          },
          "employmentType": {
            "type": "string",
            "description": "Type of employment (e.g., full-time, part-time, contractor).",
            "example": "STANDARD"
          },
          "managerId": {
            "type": "string",
            "description": "Unique identifier for the employee's manager.",
            "example": "STANDARD"
          },
          "workLocation": {
            "type": "string",
            "description": "The physical location where the employee works.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the training record (e.g., active, inactive).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the training record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the training record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "R12345"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier used to correlate this response with requests.",
                "example": "C12345"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp indicating when the response was generated.",
                "example": "2023-01-15T12:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the processing was done.",
                "example": "us-east-1"
              }
            },
            "description": "Metadata related to the response.",
            "example": {
              "responseId": "a18652ed-4f5d-5d2f-b033-5dd483b3ff45",
              "correlationId": "ed53542d-2176-5db3-8f54-22795067bd3a",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Represents the response schema for the workforce training operation.",
        "example": {
          "employeeId": "EMP-923372",
          "assignmentId": "STANDARD",
          "departmentId": "STANDARD",
          "effectiveDate": "2026-09-15",
          "countryCode": "US",
          "employmentType": "STANDARD",
          "managerId": "STANDARD",
          "workLocation": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "a18652ed-4f5d-5d2f-b033-5dd483b3ff45",
            "correlationId": "ed53542d-2176-5db3-8f54-22795067bd3a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "workforce-training-get-workforce-training"
        },
        "example": "workforce-training-get-workforce-training"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the HTTP Bearer authentication method, which allows for the secure transmission of a JSON Web Token (JWT) to authenticate requests. The JWT must be included in the `Authorization` header of requests made to the API.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}