{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Currency Exchange Rate Retrieval API",
    "description": "The Currency Exchange Rate Retrieval API provides users with up-to-date exchange rates for various currencies. This service allows businesses and consumers to access current and historical exchange rates, facilitating informed financial decisions in international transactions. Typical users include financial institutions, travel agencies, and e-commerce platforms looking to provide accurate currency conversion options to their customers. By leveraging this API, organizations can enhance their offerings and streamline currency management processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9003",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/consumer-services/currency-exchange": {
      "get": {
        "tags": [
          "Currency Exchange"
        ],
        "summary": "Retrieve currency exchange rates.",
        "description": "This endpoint allows you to fetch the latest currency exchange rates for various currencies. You can use this information for real-time conversions and financial calculations.",
        "operationId": "getCurrencyExchange",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the current currency exchange rates. It requires input in JSON format as defined by the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCurrencyExchangeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved currency exchange data.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCurrencyExchangeResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCurrencyExchangeRequest": {
        "type": "string",
        "description": "This schema represents the request body for the currency exchange GET operation in the consumer services module.",
        "example": "{}"
      },
      "GetCurrencyExchangeResponse_200": {
        "title": "Currency Exchange Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of currency exchange items.",
            "example": [
              {
                "customerId": "CUST-414610",
                "serviceRequestId": "2f9312b3-a9dc-5c43-a0aa-e8770c4fc3ed",
                "productCode": "CHK-PREMIUM-US",
                "amount": {
                  "value": 100,
                  "currency": "USD"
                },
                "requestedDate": "2026-09-15",
                "sourceCurrency": "USD",
                "targetCurrency": "USD",
                "quotedRate": 100,
                "cashDenominations": [
                  1
                ],
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CurrencyExchangeItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting information for the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the Currency Exchange service, including a list of items and metadata related to the response.",
        "example": {
          "items": [
            {
              "customerId": "CUST-414610",
              "serviceRequestId": "2f9312b3-a9dc-5c43-a0aa-e8770c4fc3ed",
              "productCode": "CHK-PREMIUM-US",
              "amount": {
                "value": 100,
                "currency": "USD"
              },
              "requestedDate": "2026-09-15",
              "sourceCurrency": "USD",
              "targetCurrency": "USD",
              "quotedRate": 100,
              "cashDenominations": [
                1
              ],
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "10017cc4-a533-593b-9aa0-6ec16efaed6b",
            "correlationId": "1bac1281-1d51-5d96-85a2-28a62313cad3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CurrencyExchangeItem": {
        "title": "Currency Exchange Item",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier of the customer.",
            "example": "string"
          },
          "serviceRequestId": {
            "type": "string",
            "description": "The unique identifier of the service request.",
            "example": "string"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the product used in the exchange.",
            "example": "string"
          },
          "amount": {
            "$ref": "#/components/schemas/Amount"
          },
          "requestedDate": {
            "type": "string",
            "description": "The date when the exchange was requested.",
            "example": "string"
          },
          "sourceCurrency": {
            "type": "string",
            "description": "The currency being exchanged from.",
            "example": "string"
          },
          "targetCurrency": {
            "type": "string",
            "description": "The currency being exchanged to.",
            "example": "string"
          },
          "quotedRate": {
            "type": "integer",
            "description": "The rate quoted for the currency exchange.",
            "format": "int32",
            "example": 0
          },
          "cashDenominations": {
            "type": "array",
            "description": "Array of cash denominations involved in the exchange.",
            "items": {
              "type": "integer",
              "description": "Value of the cash denomination.",
              "format": "int32",
              "example": 0
            }
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the currency exchange record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the record was last updated.",
            "example": "string"
          }
        },
        "description": "Details of an individual currency exchange operation.",
        "example": {
          "customerId": "string",
          "serviceRequestId": "string",
          "productCode": "string",
          "amount": {
            "value": 0,
            "currency": "string"
          },
          "requestedDate": "string",
          "sourceCurrency": "string",
          "targetCurrency": "string",
          "quotedRate": 0,
          "cashDenominations": [],
          "recordStatus": "string",
          "updatedAt": "string"
        }
      },
      "Amount": {
        "title": "Amount",
        "type": "object",
        "properties": {
          "value": {
            "type": "integer",
            "description": "The numeric value of the amount.",
            "format": "int32",
            "example": 100
          },
          "currency": {
            "type": "string",
            "description": "The currency code of the amount.",
            "example": "USD"
          }
        },
        "description": "Details of the monetary value and its currency."
      },
      "Pagination": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available across all pages.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Information related to pagination in the response."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "ID for correlating requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint corresponding to this response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "currency-exchange-search-currency-exchange"
        },
        "example": "currency-exchange-search-currency-exchange"
      },
      "x-runtime-app": {
        "description": "The name of the application that is responsible for processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, allowing access to the API by providing a JSON Web Token (JWT) as a means of authorization.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}