{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Statement Statement Details-spec",
    "description": "The Statement Details Retrieval API provides access to detailed statement information for a specific account belonging to a customer. This API enables users to retrieve comprehensive insights, including transaction histories and account summaries. Financial institutions and customer service applications can utilize this endpoint to assist clients in understanding their account activities. Typical consumers of this API include banking apps, internal support systems, and financial analysis tools.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/{customerId}/accounts/{accountId}/statement/statement-details": {
      "get": {
        "tags": [
          "CustomerAccounts"
        ],
        "summary": "Retrieve account statement details for a specific account.",
        "description": "This endpoint allows users to fetch detailed information about the statement for a specific account associated with a customer. It provides a comprehensive view of the transactions and balances, aiding users in managing their finances effectively.",
        "operationId": "listStatementStatementDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          },
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve detailed statement information for a specific account. It requires proper authentication and authorization to access the account's statement data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListStatementStatementDetailsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request successfully completed and statement details retrieved.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListStatementStatementDetailsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListStatementStatementDetailsRequest": {
        "title": "Account Statement Request Body",
        "type": "string",
        "description": "Represents the JSON body for a GET request to retrieve account statement details for a specific customer and account.",
        "example": "{}"
      },
      "ListStatementStatementDetailsResponse_200": {
        "type": "object",
        "properties": {
          "statements": {
            "type": "array",
            "description": "A list of statements associated with the account.",
            "example": [
              {
                "id": "STANDARD",
                "description": "Customer banking request processed successfully",
                "asOfDate": 1,
                "documentDate": "2026-09-15",
                "index": "STANDARD",
                "code": "SUCCESS",
                "message": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Statement"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving statement details for a specific account.",
        "example": {
          "statements": [
            {
              "id": "STANDARD",
              "description": "Customer banking request processed successfully",
              "asOfDate": 1,
              "documentDate": "2026-09-15",
              "index": "STANDARD",
              "code": "SUCCESS",
              "message": "STANDARD"
            }
          ],
          "metadata": {
            "responseId": "bb0cbfe7-1c60-5ea7-93ec-92850a7067a5",
            "correlationId": "8bd3cf25-a963-571d-bfec-ac58e6cb00d0",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Statement": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for the statement.",
            "example": "string"
          },
          "description": {
            "type": "string",
            "description": "The description of the statement.",
            "example": "string"
          },
          "asOfDate": {
            "type": "integer",
            "description": "The date when the statement is effective, represented as an integer.",
            "format": "int32",
            "example": 0
          },
          "documentDate": {
            "type": "string",
            "description": "The date when the statement document was created.",
            "example": "string"
          },
          "index": {
            "type": "string",
            "description": "The index associated with the statement.",
            "example": "string"
          },
          "code": {
            "type": "string",
            "description": "A code representing the type of statement.",
            "example": "string"
          },
          "message": {
            "type": "string",
            "description": "A message related to the statement.",
            "example": "string"
          }
        },
        "description": "Details of an individual statement."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The ID used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographic region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-customer-account-multiple-statement"
        },
        "example": "open-finance-api-get-customer-account-multiple-statement"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JSON Web Tokens (JWT) for authorization. Clients must include a valid JWT in the Authorization header of their requests to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}