{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Channel Specific Card Terminal Administrations-spec",
    "description": "The Channel-Specific Card Terminal Administrations API allows businesses to access detailed information about the administration of card terminals within specific channels. This endpoint provides vital insights into card terminal configurations, usage statistics, and management functionalities. Typical consumers include banking and financial institutions seeking to analyze and manage card terminal operations efficiently. This API supports data-driven decision-making and enhances the overall management of terminal resources.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/card-terminal-administration": {
      "get": {
        "tags": [
          "Card Terminal Administration"
        ],
        "summary": "Retrieve card terminal administration details for a specific channel.",
        "description": "This endpoint allows users to access the administration information related to card terminals for a specific channel. By using this endpoint, developers can retrieve relevant details necessary for managing and configuring card terminals effectively.",
        "operationId": "listChannelSpecificCardTerminalAdministrations",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the card terminal administration details for a specific channel. It should contain all necessary parameters to specify the required data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListChannelSpecificCardTerminalAdministrationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully; returns the current state of card terminal administration.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListChannelSpecificCardTerminalAdministrationsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListChannelSpecificCardTerminalAdministrationsRequest": {
        "type": "string",
        "description": "Represents a request body for the GET operation on card terminal administration specific to a specific channel.",
        "example": "{}"
      },
      "ListChannelSpecificCardTerminalAdministrationsResponse_200": {
        "title": "Card Terminal Administration Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of card terminal items.",
            "example": [
              {
                "channelId": "MOBILE-US",
                "regionCode": "US-EAST-1",
                "serviceWindow": {
                  "opensAt": "STANDARD",
                  "closesAt": "STANDARD"
                },
                "dailyCapacity": 1,
                "terminalId": "STANDARD",
                "merchantId": "MER-483708",
                "terminalStatus": "ACTIVE",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CardTerminalItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting criteria applied to the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "The response schema for retrieving card terminal administration details, including terminal items, pagination information, sorting, and metadata.",
        "example": {
          "items": [
            {
              "channelId": "MOBILE-US",
              "regionCode": "US-EAST-1",
              "serviceWindow": {
                "opensAt": "STANDARD",
                "closesAt": "STANDARD"
              },
              "dailyCapacity": 1,
              "terminalId": "STANDARD",
              "merchantId": "MER-483708",
              "terminalStatus": "ACTIVE",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "de1c47cf-9556-5b79-a21b-02ea344b2e6e",
            "correlationId": "770578d9-3ea8-5d02-824e-6d11ba05ec04",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CardTerminalItem": {
        "title": "Card Terminal Item",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "string"
          },
          "regionCode": {
            "type": "string",
            "description": "The code representing the region of the terminal.",
            "example": "string"
          },
          "serviceWindow": {
            "$ref": "#/components/schemas/ServiceWindow"
          },
          "dailyCapacity": {
            "type": "integer",
            "description": "The maximum number of transactions the terminal can handle daily.",
            "format": "int32",
            "example": 0
          },
          "terminalId": {
            "type": "string",
            "description": "The unique identifier for the terminal.",
            "example": "string"
          },
          "merchantId": {
            "type": "string",
            "description": "The unique identifier for the merchant associated with the terminal.",
            "example": "string"
          },
          "terminalStatus": {
            "type": "string",
            "description": "The current status of the terminal.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the terminal record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the terminal record was last updated.",
            "example": "string"
          }
        },
        "description": "Details about a specific card terminal."
      },
      "ServiceWindow": {
        "title": "Service Window",
        "type": "object",
        "properties": {
          "opensAt": {
            "type": "string",
            "description": "The time when the service window opens.",
            "example": "string"
          },
          "closesAt": {
            "type": "string",
            "description": "The time when the service window closes.",
            "example": "string"
          }
        },
        "description": "The operating times for the card terminal service."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number in the pagination.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available across all pages.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Information about pagination in the response."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier for correlating requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp of when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-terminal-administration-search-card-terminal-administration"
        },
        "example": "card-terminal-administration-search-card-terminal-administration"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication, utilizing a JSON Web Token (JWT) for authorization purposes. Clients must include the token in the `Authorization` header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}