{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Deposit Lending By Param1-spec",
    "description": "The Deposit Lending Retrieval API allows users to access specific deposit lending information based on fiduciary agreement parameters. This endpoint supports financial institutions and developers seeking to retrieve detailed data related to deposit lending agreements by providing a unique identifier. Typical consumers include banking software developers and financial analysts who require accurate and timely information for analysis or integration into other financial services. By utilizing this API, clients can enhance their decision-making process and improve service offerings tailored to their customers' financial needs.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/fiduciary-agreement/{param1}": {
      "get": {
        "tags": [
          "Deposit Lending"
        ],
        "summary": "Retrieve fiduciary agreement details by ID.",
        "description": "This endpoint allows users to retrieve the details of a fiduciary agreement using its unique identifier. It provides specific information about the agreement, including its terms, parties involved, and any associated transactions.",
        "operationId": "getDepositLendingByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body contains the required parameters to retrieve details regarding the fiduciary agreement with the specified identifier. Ensure that all necessary fields are populated to receive a successful response.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetDepositLendingByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the fiduciary agreement details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDepositLendingByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetDepositLendingByParam1Request": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to the fiduciary agreement in deposit lending.",
        "example": "{}"
      },
      "GetDepositLendingByParam1Response_200": {
        "title": "Fiduciary Agreement Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-880463"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account associated with the fiduciary agreement.",
            "example": "ACC-580505"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product associated with the fiduciary agreement.",
            "example": "CHK-PREMIUM-US"
          },
          "principal": {
            "description": "The principal amount details related to the fiduciary agreement.",
            "$ref": "#/components/schemas/Principal"
          },
          "termMonths": {
            "type": "integer",
            "description": "Term of the fiduciary agreement in months.",
            "format": "int32",
            "example": 1
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "Frequency of repayment for the fiduciary agreement (e.g., monthly, quarterly).",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record (e.g., active, inactive).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version of the fiduciary agreement record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the fiduciary agreement response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for a fiduciary agreement operation in the lending deposit service.",
        "example": {
          "customerId": "CUST-880463",
          "accountId": "ACC-580505",
          "productCode": "CHK-PREMIUM-US",
          "principal": {
            "amount": 100.0,
            "currency": "USD"
          },
          "termMonths": 1,
          "repaymentFrequency": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "cb3ab069-74ec-5ca6-bd2a-2f26df9b58e2",
            "correlationId": "7f5db1f1-d602-561e-8420-6c8a7fe57ec4",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Principal": {
        "title": "Principal Amount Details",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The principal amount in numeric format.",
            "example": 1000.0
          },
          "currency": {
            "type": "string",
            "description": "Currency code in which the principal amount is denominated.",
            "example": "USD"
          }
        },
        "description": "This schema represents the details of the principal amount related to a fiduciary agreement."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking the request across systems.",
            "example": "CORR-654321"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "us-east"
          }
        },
        "description": "This schema represents the metadata details for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request. This helps in tracking and debugging API calls.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "fiduciary-agreement-get-fiduciary-agreement"
        },
        "example": "fiduciary-agreement-get-fiduciary-agreement"
      },
      "X-Runtime-App": {
        "description": "The name of the application runtime environment where the request was processed. This information can be useful for performance monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication mechanism, which involves the use of a JSON Web Token (JWT) for authorizing requests. Clients must include the JWT in the 'Authorization' header when making requests to protected endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}