{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Trade Amendments Submission API",
    "description": "The Trade Amendments Submission API facilitates the adjustment of previously submitted trade reports within the banking environment. By enabling amendments, it allows institutions to ensure that their trade data remains accurate and compliant with regulatory standards. This API is particularly useful for financial institutions and traders who need to correct or modify details of their trade submissions after the initial entry. It supports the amendment of specific submissions identified by their unique submissionId, streamlining the process of maintaining accurate trading records.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-operations/trade-reporting/submissions/{submissionId}/amendments": {
      "post": {
        "tags": [
          "Trade Reporting"
        ],
        "summary": "Amend a trade reporting submission.",
        "description": "This endpoint allows you to amend an existing trade reporting submission identified by RES-100045. Ensure that you provide the necessary details for the amendment in the request body.",
        "operationId": "postTradeReportingSubmissionAmendmentRES100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/submissionId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit amendments to a specific trade reporting submission identified by RES-100045. Ensure that the data structure follows the defined schema to successfully process the amendments.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostTradeReportingSubmissionAmendmentRES100045Request"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request accepted and will be processed asynchronously.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostTradeReportingSubmissionAmendmentRES100045Response_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PostTradeReportingSubmissionAmendmentRES100045Request": {
        "type": "object",
        "properties": {
          "amendmentReason": {
            "type": "string",
            "description": "The reason for the amendment.",
            "example": "STANDARD"
          },
          "submissionReference": {
            "type": "string",
            "description": "Unique reference for the submission.",
            "example": "STANDARD"
          },
          "changes": {
            "description": "Object containing the details of the changes made.",
            "$ref": "#/components/schemas/Changes"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the user or system requesting the amendment.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information for the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for POST amendments in trade reporting submissions.",
        "example": {
          "amendmentReason": "STANDARD",
          "submissionReference": "STANDARD",
          "changes": {
            "tradeId": "STANDARD",
            "instrumentId": "STANDARD",
            "settlementDate": "2026-09-15"
          },
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "3ea6457b-cf88-5e9b-8288-96b1d2a51ace",
            "correlationId": "2f8a7f4c-6161-5ba7-9189-5447e317217c",
            "idempotencyKey": "909b04a1-50f8-5994-a189-46f9e6730ab3",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-351298"
            }
          }
        }
      },
      "Changes": {
        "type": "object",
        "properties": {
          "tradeId": {
            "type": "string",
            "description": "Unique identifier for the trade.",
            "example": "TRADE-456789"
          },
          "instrumentId": {
            "type": "string",
            "description": "Unique identifier for the financial instrument.",
            "example": "INSTR-987654"
          },
          "settlementDate": {
            "type": "string",
            "description": "The new settlement date for the trade.",
            "example": "2023-05-01"
          }
        },
        "description": "Schema representing the changes applied to a trade."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate related requests.",
            "example": "CORR-654321"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure that requests are idempotent.",
            "example": "IDEMP-111222"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "TradingPlatform"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application making the request.",
            "example": "WebApp"
          },
          "channel": {
            "description": "Details about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "CH-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the communication channel (e.g., Web, API).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used for the request.",
            "example": "DEVICE-123"
          }
        },
        "description": "Schema representing the channel used to make the request."
      },
      "PostTradeReportingSubmissionAmendmentRES100045Response_202": {
        "title": "Amendment Response",
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "A reference identifier for the action taken on the submission.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "The type of action performed (e.g., amendment, cancel).",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the amendment request (e.g., successful, failed).",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the amendment response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response to an amendment operation in trade reporting submissions.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "5f49c98b-cece-53b4-85a6-97cc3d78a3d1",
            "correlationId": "2f8a7f4c-6161-5ba7-9189-5447e317217c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate related requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata associated with the amendment response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "submissionId": {
        "name": "submissionId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint associated with the request. This ID helps in tracking the specific endpoint being utilized for the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "trade-and-price-reporting-amend-trade-and-price-reporting"
        },
        "example": "trade-and-price-reporting-amend-trade-and-price-reporting"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is responsible for processing the trade reporting submission. This can be used for logging and monitoring purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token for authentication. The token should be in JWT (JSON Web Token) format and included in the Authorization header of the request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}