{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Investment Portfolio Update API",
    "description": "The Investment Portfolio Update API allows financial professionals to make real-time amendments to existing investment portfolios. This API enables users to adjust key attributes such as asset allocation, risk tolerance, and investment goals. Typical consumers include portfolio managers and financial advisors who require a dynamic tool to optimize client investments efficiently. Integrating this API streamlines the investment management process, ensuring portfolios remain aligned with client objectives and market conditions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/investment-management/investment-portfolio-management/{param1}": {
      "patch": {
        "tags": [
          "Investment Management"
        ],
        "summary": "Update Investment Portfolio Details",
        "description": "This endpoint allows users to update the details of an existing investment portfolio identified by the resource ID RES-100045. Ensure that you provide the necessary fields to successfully patch the investment portfolio.",
        "operationId": "updateInvestmentPortfolioRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the investment portfolio details for the specified resource. It includes the necessary fields to modify the existing portfolio characteristics as determined by the provided schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateInvestmentPortfolioRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateInvestmentPortfolioRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateInvestmentPortfolioRes100045Request": {
        "type": "object",
        "properties": {
          "changes": {
            "description": "An object containing the changes to be applied to the portfolio.",
            "$ref": "#/components/schemas/PortfolioChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the requested changes.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the user or system that requested the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for updating investment portfolio management operations.",
        "example": {
          "changes": {
            "portfolioId": "PORT-242153",
            "investmentAccountId": "ACC-308400",
            "investmentObjective": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "ecf8a816-bcdb-5378-8450-c42c7efe57cd",
            "correlationId": "a2b28988-e056-53a2-8a43-462082e93388",
            "idempotencyKey": "00c8cbb6-45c7-58e0-b809-8f7ec90cec1f",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-781208"
            }
          }
        }
      },
      "PortfolioChanges": {
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "Unique identifier for the portfolio being modified.",
            "example": "portfolio-123"
          },
          "investmentAccountId": {
            "type": "string",
            "description": "Identifier for the investment account linked to the portfolio.",
            "example": "account-456"
          },
          "investmentObjective": {
            "type": "string",
            "description": "The investment objective that the portfolio aims to achieve.",
            "example": "Long-term growth"
          }
        },
        "description": "Schema that describes the changes made to the investment portfolio."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate log entries across services.",
            "example": "corr-101112"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is idempotent.",
            "example": "key-131415"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-15T08:45:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Originating system of the request.",
            "example": "Internal CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request originated.",
            "example": "Portfolio Management App"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/RequestChannel"
          }
        },
        "description": "Schema that encapsulates metadata about the request."
      },
      "RequestChannel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the communication channel.",
            "example": "channel-161718"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the communication channel (e.g., Web, Mobile).",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device being used for the request.",
            "example": "device-192021"
          }
        },
        "description": "Schema that describes the channel used for the request."
      },
      "UpdateInvestmentPortfolioRes100045Response_200": {
        "title": "Investment Portfolio Management Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response format.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the resource was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Schema representing the response from the Investment Portfolio Management operation.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "633aa225-5752-51c9-9fc4-d9fa79810eac",
            "correlationId": "a2b28988-e056-53a2-8a43-462082e93388",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Metadata information associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the specific endpoint being accessed. This value allows tracking and understanding which endpoint generated the current response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "investment-portfolio-management-update-investment-portfolio-management"
        },
        "example": "investment-portfolio-management-update-investment-portfolio-management"
      },
      "X-Runtime-App": {
        "description": "Indicates the name of the application runtime that processed the request. This information can be useful for debugging and performance monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JWT (JSON Web Tokens) for Bearer authentication. Clients are expected to send the JWT in the Authorization header to authenticate requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}