{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Business Control Business Unit Managements-spec",
    "description": "This API allows users to access detailed information about business units within the banking control system. By utilizing this endpoint, stakeholders can retrieve a list of business units and their respective management details, facilitating better oversight and governance. It is particularly useful for analysts and managers who require insights into business operations and unit performance. The data returned enables informed decision-making and resource allocation for optimal business control.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/business-control/business-unit-management": {
      "get": {
        "tags": [
          "Business Management"
        ],
        "summary": "Retrieve business unit information.",
        "description": "This endpoint allows you to fetch details about the various business units managed within the organization. It supports filtering, sorting, and pagination options to help developers efficiently retrieve and display the relevant data.",
        "operationId": "listBusinessControlBusinessUnitManagements",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving business unit management data. This JSON payload must adhere to the specified schema to ensure correct processing of the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListBusinessControlBusinessUnitManagementsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the business unit details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBusinessControlBusinessUnitManagementsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListBusinessControlBusinessUnitManagementsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to business unit management within the business control context.",
        "example": "{}"
      },
      "ListBusinessControlBusinessUnitManagementsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of business unit items.",
            "example": [
              {
                "businessUnitId": "STANDARD",
                "costCenter": "STANDARD",
                "planningPeriod": "STANDARD",
                "budget": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "forecastVersion": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/BusinessUnitItem"
            }
          },
          "pagination": {
            "description": "Pagination information for the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sort order of the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata associated with the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving business unit management operations.",
        "example": {
          "items": [
            {
              "businessUnitId": "STANDARD",
              "costCenter": "STANDARD",
              "planningPeriod": "STANDARD",
              "budget": {
                "amount": 100.0,
                "currency": "USD"
              },
              "forecastVersion": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "36afac0e-8df5-5eb7-a024-d19e54a74fff",
            "correlationId": "445863c3-13a4-53b4-bba2-484af48e967a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "BusinessUnitItem": {
        "type": "object",
        "properties": {
          "businessUnitId": {
            "type": "string",
            "description": "Unique identifier for the business unit.",
            "example": "string"
          },
          "costCenter": {
            "type": "string",
            "description": "Cost center associated with the business unit.",
            "example": "string"
          },
          "planningPeriod": {
            "type": "string",
            "description": "The planning period for the business unit.",
            "example": "string"
          },
          "budget": {
            "description": "Budget information for the business unit.",
            "$ref": "#/components/schemas/Budget"
          },
          "forecastVersion": {
            "type": "string",
            "description": "The version of the forecast tied to the business unit.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the record (e.g., active, inactive).",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the business unit record was last updated.",
            "example": "string"
          }
        },
        "description": "Details of a business unit item."
      },
      "Budget": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The total budget amount.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "Currency of the budget amount.",
            "example": "string"
          }
        },
        "description": "Budget information for a business unit."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number of the results.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Pagination details for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp for when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Metadata information attached to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "business-unit-management-search-business-unit-management"
        },
        "example": "business-unit-management-search-business-unit-management"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "A security scheme that utilizes HTTP Bearer authentication, typically used for securing API endpoints. It requires a JSON Web Token (JWT) to be included in the Authorization header of requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}