{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create P2m Settlement Process-v5-spec",
    "description": "MICROSERVICE-PROD-Create P2m Settlement Process-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/settlements/{settlementId}/process": {
      "post": {
        "operationId": "createP2mSettlementProcess",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/settlementId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateP2mSettlementProcessRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateP2mSettlementProcessResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateP2mSettlementProcessRequest": {
        "type": "object",
        "properties": {
          "payoutDate": {
            "type": "string",
            "example": "2026-09-15"
          },
          "priority": {
            "type": "string",
            "example": "NORMAL"
          },
          "reason": {
            "type": "string",
            "example": "STANDARD"
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "afca0e04-195c-5091-b86f-4f2adddb9b56",
              "correlationId": "8d27904b-a31a-5838-84ad-bb78afdee08a",
              "idempotencyKey": "1af264f9-ca22-5808-a8ce-dbcdaf13bf2d",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-292121"
              }
            }
          }
        },
        "example": {
          "payoutDate": "2026-09-15",
          "priority": "NORMAL",
          "reason": "STANDARD",
          "requestContext": {
            "requestId": "afca0e04-195c-5091-b86f-4f2adddb9b56",
            "correlationId": "8d27904b-a31a-5838-84ad-bb78afdee08a",
            "idempotencyKey": "1af264f9-ca22-5808-a8ce-dbcdaf13bf2d",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-292121"
            }
          }
        }
      },
      "CreateP2mSettlementProcessResponse_200": {
        "type": "object",
        "properties": {
          "settlementId": {
            "type": "string",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "example": "MER-151605"
          },
          "settlementAccountId": {
            "type": "string",
            "example": "ACC-518302"
          },
          "periodStart": {
            "type": "string",
            "example": "2026-08-11T12:00:00Z"
          },
          "periodEnd": {
            "type": "string",
            "example": "2026-08-11T12:00:00Z"
          },
          "currency": {
            "type": "string",
            "example": "USD"
          },
          "status": {
            "type": "string",
            "example": "ACTIVE"
          },
          "summary": {
            "type": "object",
            "properties": {
              "grossPayments": {
                "type": "object",
                "properties": {
                  "currency": {
                    "type": "string",
                    "example": "string"
                  },
                  "value": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              },
              "refunds": {
                "type": "object",
                "properties": {
                  "currency": {
                    "type": "string",
                    "example": "string"
                  },
                  "value": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              },
              "reversals": {
                "type": "object",
                "properties": {
                  "currency": {
                    "type": "string",
                    "example": "string"
                  },
                  "value": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              },
              "disputes": {
                "type": "object",
                "properties": {
                  "currency": {
                    "type": "string",
                    "example": "string"
                  },
                  "value": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              },
              "fees": {
                "type": "object",
                "properties": {
                  "currency": {
                    "type": "string",
                    "example": "string"
                  },
                  "value": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              },
              "taxes": {
                "type": "object",
                "properties": {
                  "currency": {
                    "type": "string",
                    "example": "string"
                  },
                  "value": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              },
              "reserveHeld": {
                "type": "object",
                "properties": {
                  "currency": {
                    "type": "string",
                    "example": "string"
                  },
                  "value": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              },
              "reserveReleased": {
                "type": "object",
                "properties": {
                  "currency": {
                    "type": "string",
                    "example": "string"
                  },
                  "value": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              },
              "adjustments": {
                "type": "object",
                "properties": {
                  "currency": {
                    "type": "string",
                    "example": "string"
                  },
                  "value": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              },
              "netSettlement": {
                "type": "object",
                "properties": {
                  "currency": {
                    "type": "string",
                    "example": "string"
                  },
                  "value": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "grossPayments": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "refunds": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "reversals": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "disputes": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "fees": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "taxes": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "reserveHeld": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "reserveReleased": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "adjustments": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "netSettlement": {
                "currency": "USD",
                "value": "STANDARD"
              }
            }
          },
          "lineCount": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "bankPayoutReference": {
            "type": "string",
            "example": "STANDARD"
          },
          "expectedPayoutAt": {
            "type": "string",
            "example": "2026-08-11T12:00:00Z"
          },
          "paidAt": {
            "type": "string",
            "example": "2026-08-11T12:00:00Z"
          },
          "audit": {
            "type": "object",
            "properties": {
              "createdAt": {
                "type": "string",
                "example": "string"
              },
              "createdBy": {
                "type": "string",
                "example": "string"
              },
              "updatedAt": {
                "type": "string",
                "example": "string"
              },
              "updatedBy": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "createdAt": "2026-09-15T14:30:00Z",
              "createdBy": "STANDARD",
              "updatedAt": "2026-09-15T14:30:00Z",
              "updatedBy": "2026-09-15"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "6a2e9aba-0f74-5762-8b2a-36e401db3f55",
              "correlationId": "8d27904b-a31a-5838-84ad-bb78afdee08a",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "settlementId": "STANDARD",
          "merchantId": "MER-151605",
          "settlementAccountId": "ACC-518302",
          "periodStart": "2026-08-11T12:00:00Z",
          "periodEnd": "2026-08-11T12:00:00Z",
          "currency": "USD",
          "status": "ACTIVE",
          "summary": {
            "grossPayments": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "refunds": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "reversals": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "disputes": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "fees": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "taxes": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "reserveHeld": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "reserveReleased": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "adjustments": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "netSettlement": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "lineCount": 1,
          "bankPayoutReference": "STANDARD",
          "expectedPayoutAt": "2026-08-11T12:00:00Z",
          "paidAt": "2026-08-11T12:00:00Z",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15"
          },
          "metadata": {
            "responseId": "6a2e9aba-0f74-5762-8b2a-36e401db3f55",
            "correlationId": "8d27904b-a31a-5838-84ad-bb78afdee08a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "settlementId": {
        "name": "settlementId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-process-settlement"
        },
        "example": "banking-p2m-openapi-process-settlement"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}