{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Customer Businesses-spec",
    "description": "The Customer Businesses Retrieval API enables businesses to fetch a comprehensive list of all services associated with a specific customer by their unique identifier. This API resource is crucial for applications that need to display customer-business relationships or analyze service offerings. Typical consumers include account managers and customer service representatives looking to enhance customer engagement. By leveraging this API, users can efficiently retrieve detailed insights into customer business portfolios to make informed decisions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/business-services/customers/{customerId}/businesses": {
      "get": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Retrieve list of businesses for a specific customer.",
        "description": "This endpoint retrieves all businesses associated with the customer identified by CUST-100045. It provides a comprehensive view of the customer's business relationships, enabling insights into their engagement and portfolio.",
        "operationId": "listCustomerBusinesses",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving the businesses associated with the customer identified by CUST-100045. This request may be used to specify additional parameters or filters relevant to the retrieval of business information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListCustomerBusinessesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of businesses for the specified customer.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCustomerBusinessesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListCustomerBusinessesRequest": {
        "type": "string",
        "description": "A string representation of the request body for retrieving operations related to businesses for a specific customer.",
        "example": "{}"
      },
      "ListCustomerBusinessesResponse_200": {
        "title": "Business Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of business objects associated with the customer.",
            "example": [
              {
                "name": "Northstar Banking Service",
                "personallyLiable": true,
                "address": {
                  "line1": "350 Fifth Avenue",
                  "line2": "Suite 4200",
                  "city": "New York",
                  "state": "STANDARD",
                  "country": "STANDARD",
                  "postalCode": "10001"
                },
                "phoneNumber": {
                  "countryCode": "US",
                  "phoneNo": "+1-212-555-0147"
                },
                "url": "https://example.com/resource",
                "email": "olivia.bennett@northstar.example",
                "type": "STANDARD",
                "taxId": "STANDARD",
                "businessId": "STANDARD",
                "createdDate": "2026-09-15",
                "modifiedDate": "2026-09-15"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Business"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Schema for the response containing a list of businesses related to a customer.",
        "example": {
          "items": [
            {
              "name": "Northstar Banking Service",
              "personallyLiable": true,
              "address": {
                "line1": "350 Fifth Avenue",
                "line2": "Suite 4200",
                "city": "New York",
                "state": "STANDARD",
                "country": "STANDARD",
                "postalCode": "10001"
              },
              "phoneNumber": {
                "countryCode": "US",
                "phoneNo": "+1-212-555-0147"
              },
              "url": "https://example.com/resource",
              "email": "olivia.bennett@northstar.example",
              "type": "STANDARD",
              "taxId": "STANDARD",
              "businessId": "STANDARD",
              "createdDate": "2026-09-15",
              "modifiedDate": "2026-09-15"
            }
          ],
          "metadata": {
            "responseId": "2062ab0c-79c3-57ee-91c9-09aa0db7ec98",
            "correlationId": "93336772-30ea-5ff2-a189-35f455cefc40",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Business": {
        "title": "Business",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the business."
          },
          "personallyLiable": {
            "type": "boolean",
            "description": "Indicates whether the person is personally liable."
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "phoneNumber": {
            "$ref": "#/components/schemas/PhoneNumber"
          },
          "url": {
            "type": "string",
            "description": "The website URL of the business."
          },
          "email": {
            "type": "string",
            "description": "Email address associated with the business."
          },
          "type": {
            "type": "string",
            "description": "The type of business."
          },
          "taxId": {
            "type": "string",
            "description": "Tax identification number of the business."
          },
          "businessId": {
            "type": "string",
            "description": "Unique identifier for the business."
          },
          "createdDate": {
            "type": "string",
            "description": "The date when the business was created."
          },
          "modifiedDate": {
            "type": "string",
            "description": "The date when the business was last modified."
          }
        },
        "description": "Schema representing a business entity."
      },
      "Address": {
        "title": "Address",
        "type": "object",
        "properties": {
          "line1": {
            "type": "string",
            "description": "First line of the address."
          },
          "line2": {
            "type": "string",
            "description": "Second line of the address (optional)."
          },
          "city": {
            "type": "string",
            "description": "City where the business is located."
          },
          "state": {
            "type": "string",
            "description": "State where the business is located."
          },
          "country": {
            "type": "string",
            "description": "Country where the business is located."
          },
          "postalCode": {
            "type": "string",
            "description": "Postal code for the business address."
          }
        },
        "description": "Schema representing the address of a business."
      },
      "PhoneNumber": {
        "title": "Phone Number",
        "type": "object",
        "properties": {
          "countryCode": {
            "type": "string",
            "description": "Country code for the phone number."
          },
          "phoneNo": {
            "type": "string",
            "description": "The actual phone number."
          }
        },
        "description": "Schema representing the phone number of a business."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking requests."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed."
          }
        },
        "description": "Schema for the metadata information associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-business-by-customer"
        },
        "example": "open-finance-api-get-business-by-customer"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme utilizing bearer tokens, specifically JSON Web Tokens (JWT), to securely transmit user credentials and claims.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}