{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Banking Cards Card Network Participant Facilitys-v5-spec",
    "description": "MICROSERVICE-PROD-List Banking Cards Card Network Participant Facilitys-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9003",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cards/card-network-participant-facility": {
      "get": {
        "operationId": "listBankingCardsCardNetworkParticipantFacilitys",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListBankingCardsCardNetworkParticipantFacilitysRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBankingCardsCardNetworkParticipantFacilitysResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListBankingCardsCardNetworkParticipantFacilitysRequest": {
        "type": "string",
        "example": "{}"
      },
      "ListBankingCardsCardNetworkParticipantFacilitysResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "example": [
              {
                "cardToken": "TOK-586303",
                "cardholderId": "STANDARD",
                "merchantId": "MER-781606",
                "transactionAmount": {
                  "amount": 100,
                  "currency": "USD"
                },
                "merchantCategoryCode": "5411",
                "serviceTier": "STANDARD",
                "availabilityTargetPercent": 100,
                "maintenanceWindow": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "type": "object",
              "properties": {
                "cardToken": {
                  "type": "string",
                  "example": "string"
                },
                "cardholderId": {
                  "type": "string",
                  "example": "string"
                },
                "merchantId": {
                  "type": "string",
                  "example": "string"
                },
                "transactionAmount": {
                  "type": "object",
                  "properties": {
                    "amount": {
                      "type": "integer",
                      "format": "int32",
                      "example": 0
                    },
                    "currency": {
                      "type": "string",
                      "example": "string"
                    }
                  },
                  "example": "string"
                },
                "merchantCategoryCode": {
                  "type": "string",
                  "example": "string"
                },
                "serviceTier": {
                  "type": "string",
                  "example": "string"
                },
                "availabilityTargetPercent": {
                  "type": "integer",
                  "format": "int32",
                  "example": 0
                },
                "maintenanceWindow": {
                  "type": "string",
                  "example": "string"
                },
                "recordStatus": {
                  "type": "string",
                  "example": "string"
                },
                "updatedAt": {
                  "type": "string",
                  "example": "string"
                }
              },
              "example": "string"
            }
          },
          "pagination": {
            "type": "object",
            "properties": {
              "page": {
                "type": "integer",
                "format": "int32",
                "example": 0
              },
              "pageSize": {
                "type": "integer",
                "format": "int32",
                "example": 0
              },
              "totalItems": {
                "type": "integer",
                "format": "int32",
                "example": 0
              }
            },
            "example": {
              "page": 1,
              "pageSize": 1,
              "totalItems": 1
            }
          },
          "sort": {
            "type": "string",
            "example": "STANDARD"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "a525f052-2a22-5f9f-8154-e2872109e759",
              "correlationId": "8e187c33-d253-5d14-8963-f3009b10bd2e",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "items": [
            {
              "cardToken": "TOK-586303",
              "cardholderId": "STANDARD",
              "merchantId": "MER-781606",
              "transactionAmount": {
                "amount": 100,
                "currency": "USD"
              },
              "merchantCategoryCode": "5411",
              "serviceTier": "STANDARD",
              "availabilityTargetPercent": 100,
              "maintenanceWindow": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "a525f052-2a22-5f9f-8154-e2872109e759",
            "correlationId": "8e187c33-d253-5d14-8963-f3009b10bd2e",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-network-participant-facility-search-card-network-participant-facility"
        },
        "example": "card-network-participant-facility-search-card-network-participant-facility"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}