{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Cheque Processing Review-spec",
    "description": "This API allows financial institutions and businesses to submit reviews of cheque processing operations. By leveraging this endpoint, users can ensure that cheque transactions undergo necessary evaluations, streamlining the review process. Typical consumers include bank employees and financial analysts who need to assess cheque transaction integrity and compliance. The API facilitates the integration of review mechanisms into banking systems, promoting transparency and efficiency in payment processing.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/payments/cheque-processing/{param1}/reviews": {
      "post": {
        "tags": [
          "Cheque Processing"
        ],
        "summary": "Submit a review for cheque processing.",
        "description": "This endpoint allows users to submit a review related to the cheque processing of a specific resource identified by its ID. The review can include feedback, ratings, and any other relevant information to improve the cheque processing service.",
        "operationId": "createChequeProcessingReview",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body allows the client to submit a review for the specified cheque processing operation. It includes all necessary information required for the evaluation and processing of the review related to the payment associated with the specified resource identifier.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateChequeProcessingReviewRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted for processing but is not yet complete.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateChequeProcessingReviewResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateChequeProcessingReviewRequest": {
        "title": "Cheque Processing Review Request",
        "type": "object",
        "properties": {
          "reviewReason": {
            "type": "string",
            "description": "The reason for the review.",
            "example": "STANDARD"
          },
          "reviewScope": {
            "type": "array",
            "description": "List of items or aspects under review.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "Single aspect of the review scope.",
              "example": "Account verification"
            }
          },
          "assignedReviewerId": {
            "type": "string",
            "description": "ID of the reviewer assigned to this review.",
            "example": "STANDARD"
          },
          "dueAt": {
            "type": "string",
            "description": "The date and time by which the review is due.",
            "example": "2026-08-11T12:00:00Z"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for posting a review operation regarding cheque processing.",
        "example": {
          "reviewReason": "STANDARD",
          "reviewScope": [
            "STANDARD"
          ],
          "assignedReviewerId": "STANDARD",
          "dueAt": "2026-08-11T12:00:00Z",
          "requestContext": {
            "requestId": "1184895a-f543-5f97-83a7-5cefc8e860c0",
            "correlationId": "14e7f236-d09a-507d-a800-c44a2190069c",
            "idempotencyKey": "3377efa6-a787-59ef-a6ac-f7ea1b2e7644",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-326047"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracing and linking related requests.",
            "example": "corr-67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the idempotency of the request.",
            "example": "idempotency-key-abc123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that generated the request.",
            "example": "PaymentGateway"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "ChequeProcessorApp"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing contextual data related to the processing request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel used (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the request.",
            "example": "device-123"
          }
        },
        "description": "Details about the communication channel used for the request."
      },
      "CreateChequeProcessingReviewResponse_202": {
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "A reference string identifying the action taken.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "The type of action that was performed.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the cheque processing operation.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "Timestamp indicating when the cheque was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Metadata related to the cheque processing operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for cheque processing operations, detailing the result of a review action.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "7137a27d-d9ef-5a4f-a9e9-c54aabcfb29f",
            "correlationId": "14e7f236-d09a-507d-a800-c44a2190069c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response generated.",
            "example": "RESPONSE123"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request through various systems.",
            "example": "CORR123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the cheque took place.",
            "example": "US-East"
          }
        },
        "description": "Metadata information for cheque processing responses."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the endpoint associated with the request. This value helps track the specific endpoint being called in the payment processing operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cheque-processing-review-cheque-processing-processing"
        },
        "example": "cheque-processing-review-cheque-processing-processing"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is processing the request. This header provides context regarding which application is handling the payment request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token for authorization. The token must be provided in the Authorization header as a 'Bearer <token>'. It utilizes JSON Web Tokens (JWT) for secure information exchange.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}