{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Consumer Detail Retrieval API",
    "description": "The Consumer Detail Retrieval API allows users to access detailed information about specific consumers within the decisioning microservices framework. By querying this endpoint with a unique consumer identifier, users can retrieve essential data including consumer profile, decision history, and associated performance metrics. This API is particularly valuable for businesses seeking to enhance customer insights, inform marketing strategies, or improve service delivery. Typical consumers of this API include data analysts, marketers, and customer service teams looking to leverage consumer data for better decision-making.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/decisioning/consumers/{consumerId}": {
      "get": {
        "tags": [
          "Consumer Management"
        ],
        "summary": "Retrieve details of a specific consumer.",
        "description": "This API endpoint allows you to fetch the details of a consumer identified by their unique resource ID. It provides essential information about the consumer's profile and associated data.",
        "operationId": "getConsumerById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/consumerId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information about a specific consumer identified by RES-100045. It encapsulates the parameters that dictate what information is returned in the response.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetConsumerByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the consumer data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetConsumerByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetConsumerByIdRequest": {
        "type": "string",
        "description": "This schema defines a request body for GET operations in the specified consumer context. It is intended to encapsulate operations that retrieve data in JSON format.",
        "example": "{}"
      },
      "GetConsumerByIdResponse_200": {
        "title": "Consumer Response",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the consumer.",
            "example": "STANDARD"
          },
          "firstName": {
            "type": "string",
            "description": "First name of the consumer.",
            "example": "Northstar Banking Service"
          },
          "lastName": {
            "type": "string",
            "description": "Last name of the consumer.",
            "example": "Northstar Banking Service"
          },
          "customerId": {
            "type": "integer",
            "description": "Unique identifier for the customer.",
            "format": "int32",
            "example": 1
          },
          "address": {
            "type": "string",
            "description": "Street address of the consumer.",
            "example": "STANDARD"
          },
          "city": {
            "type": "string",
            "description": "City where the consumer resides.",
            "example": "New York"
          },
          "state": {
            "type": "string",
            "description": "State where the consumer resides.",
            "example": "STANDARD"
          },
          "zip": {
            "type": "string",
            "description": "ZIP code of the consumer's address.",
            "example": "STANDARD"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the consumer.",
            "example": "+1-212-555-0147"
          },
          "ssn": {
            "type": "string",
            "description": "Social Security Number of the consumer.",
            "example": "STANDARD"
          },
          "birthday": {
            "description": "Object containing the birthday of the consumer.",
            "$ref": "#/components/schemas/Birthday"
          },
          "email": {
            "type": "string",
            "description": "Email address of the consumer.",
            "example": "olivia.bennett@northstar.example"
          },
          "createdDate": {
            "type": "integer",
            "description": "Timestamp when the consumer was created.",
            "format": "int32",
            "example": 1
          },
          "suffix": {
            "type": "string",
            "description": "Suffix for the consumer's name, if applicable.",
            "example": "STANDARD"
          },
          "endUser": {
            "description": "Object representing the end user information associated with the consumer.",
            "$ref": "#/components/schemas/EndUser"
          },
          "metadata": {
            "description": "Object containing metadata about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for the Consumer API.",
        "example": {
          "id": "STANDARD",
          "firstName": "Northstar Banking Service",
          "lastName": "Northstar Banking Service",
          "customerId": 1,
          "address": "STANDARD",
          "city": "New York",
          "state": "STANDARD",
          "zip": "STANDARD",
          "phone": "+1-212-555-0147",
          "ssn": "STANDARD",
          "birthday": {
            "year": 1,
            "month": 1,
            "dayOfMonth": 1
          },
          "email": "olivia.bennett@northstar.example",
          "createdDate": 1,
          "suffix": "STANDARD",
          "endUser": {
            "name": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "email": "olivia.bennett@northstar.example",
            "url": "https://banking.northstar.example/callbacks/status"
          },
          "metadata": {
            "responseId": "1ab059eb-36a7-5490-a09c-d9ae08350673",
            "correlationId": "aa4c7ada-5d01-5d8e-9242-d2c4351914dd",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Birthday": {
        "title": "Birthday",
        "type": "object",
        "properties": {
          "year": {
            "type": "integer",
            "description": "Year of the birthday.",
            "format": "int32",
            "example": 1990
          },
          "month": {
            "type": "integer",
            "description": "Month of the birthday.",
            "format": "int32",
            "example": 1
          },
          "dayOfMonth": {
            "type": "integer",
            "description": "Day of the birthday.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Schema representing the birthday details."
      },
      "EndUser": {
        "title": "End User",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the end user.",
            "example": "Jane Doe"
          },
          "address": {
            "type": "string",
            "description": "Street address of the end user.",
            "example": "456 Secondary St"
          },
          "city": {
            "type": "string",
            "description": "City where the end user resides.",
            "example": "Othertown"
          },
          "state": {
            "type": "string",
            "description": "State where the end user resides.",
            "example": "NY"
          },
          "zip": {
            "type": "string",
            "description": "ZIP code of the end user's address.",
            "example": "54321"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the end user.",
            "example": "(098) 765-4321"
          },
          "email": {
            "type": "string",
            "description": "Email address of the end user.",
            "example": "jane.doe@example.com"
          },
          "url": {
            "type": "string",
            "description": "URL for the end user, if available.",
            "example": "http://example.com"
          }
        },
        "description": "Schema representing the end user information."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "abc-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking purpose.",
            "example": "xyz-789"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2022-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Schema representing metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "consumerId": {
        "name": "consumerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-consumer"
        },
        "example": "open-finance-api-get-consumer"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JWT (JSON Web Tokens) for authentication. Bearer tokens should be sent in the `Authorization` header in the format: `Authorization: Bearer {token}`.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}