{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Card Dispute Management API",
    "description": "The Card Dispute Management API allows users to initiate disputes for transactions associated with a specific card. This endpoint is essential for consumers such as banks and financial institutions that need to manage and resolve transaction disputes efficiently. By submitting dispute requests, users can ensure that unauthorized or erroneous charges are formally recorded and addressed. This API supports streamlined communication between cardholders and dispute resolution teams, enhancing overall customer experience and satisfaction.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cards/{cardId}/disputes": {
      "post": {
        "tags": [
          "Card Disputes"
        ],
        "summary": "Create a dispute for a specified card.",
        "description": "This operation allows the user to initiate a dispute regarding a transaction associated with a specific card. Users need to provide relevant details for the dispute to be processed appropriately.",
        "operationId": "createCardDispute",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/cardId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a dispute for a specific card. It provides necessary details required to process the dispute efficiently.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCardDisputeRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Dispute created successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCardDisputeResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCardDisputeRequest": {
        "title": "Dispute Request Body Schema",
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "The unique identifier of the payment being disputed.",
            "example": "PAY-470606"
          },
          "reason": {
            "type": "string",
            "description": "The reason for disputing the payment.",
            "example": "STANDARD"
          },
          "disputedAmount": {
            "description": "The amount that is being disputed along with currency information.",
            "$ref": "#/components/schemas/DisputedAmount"
          },
          "customerStatement": {
            "type": "string",
            "description": "A statement provided by the customer regarding the dispute.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier of the customer.",
            "example": "CUST-584433"
          },
          "evidence": {
            "type": "array",
            "description": "An array of evidence documents provided for the dispute.",
            "example": [
              {
                "id": "STANDARD",
                "fileName": "Northstar Banking Service",
                "contentType": "STANDARD",
                "fileSizeBytes": 1,
                "fileUrl": "https://example.com/resource",
                "sha256": "STANDARD",
                "uploadedAt": "2026-08-11T12:00:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/EvidenceItem"
            }
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing a request body for dispute operations.",
        "example": {
          "paymentId": "PAY-470606",
          "reason": "STANDARD",
          "disputedAmount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "customerStatement": "STANDARD",
          "customerId": "CUST-584433",
          "evidence": [
            {
              "id": "STANDARD",
              "fileName": "Northstar Banking Service",
              "contentType": "STANDARD",
              "fileSizeBytes": 1,
              "fileUrl": "https://example.com/resource",
              "sha256": "STANDARD",
              "uploadedAt": "2026-08-11T12:00:00Z"
            }
          ],
          "requestContext": {
            "requestId": "d4bb26b7-547e-55b4-970e-08fca9f98201",
            "correlationId": "65d876a1-d014-5577-89bd-a0ed7d29e941",
            "idempotencyKey": "e628fb13-59a9-52c3-9f56-53f2efdfcd66",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-549107"
            }
          }
        }
      },
      "DisputedAmount": {
        "title": "Disputed Amount Schema",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency code for the disputed amount.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "The amount being disputed.",
            "example": "100.00"
          }
        },
        "description": "Schema representing the disputed amount details."
      },
      "EvidenceItem": {
        "title": "Evidence Item Schema",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier of the evidence item.",
            "example": "evidence-12345"
          },
          "fileName": {
            "type": "string",
            "description": "The name of the evidence file.",
            "example": "receipt.pdf"
          },
          "contentType": {
            "type": "string",
            "description": "The MIME type of the evidence file.",
            "example": "application/pdf"
          },
          "fileSizeBytes": {
            "type": "integer",
            "description": "The size of the evidence file in bytes.",
            "format": "int32",
            "example": 2048
          },
          "fileUrl": {
            "type": "string",
            "description": "The URL of the evidence file.",
            "example": "https://example.com/evidence/receipt.pdf"
          },
          "sha256": {
            "type": "string",
            "description": "The SHA-256 hash of the evidence file.",
            "example": "abcd1234efgh5678ijkl9101mnopqrstuvwx"
          },
          "uploadedAt": {
            "type": "string",
            "description": "The timestamp when the evidence was uploaded.",
            "example": "2023-01-01T12:00:00Z"
          }
        },
        "description": "Schema representing an evidence item provided for the dispute."
      },
      "RequestContext": {
        "title": "Request Context Schema",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "request-98765"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking the request through various systems.",
            "example": "correlation-54321"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key ensuring that the request is idempotent.",
            "example": "idempotency-123abc"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originates.",
            "example": "WebApp"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The specific application that made the request.",
            "example": "CardProcessingApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/ChannelInfo"
          }
        },
        "description": "Schema providing contextual information for the request."
      },
      "ChannelInfo": {
        "title": "Channel Information Schema",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier of the channel.",
            "example": "channel-XYZ"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used for the request.",
            "example": "MobileApp"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used for the request.",
            "example": "device-1234"
          }
        },
        "description": "Schema providing information about the channel used for the request."
      },
      "CreateCardDisputeResponse_201": {
        "type": "object",
        "properties": {
          "disputeId": {
            "type": "string",
            "description": "Unique identifier for the dispute.",
            "example": "STANDARD"
          },
          "paymentId": {
            "type": "string",
            "description": "Identifier for the payment associated with the dispute.",
            "example": "PAY-934293"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant involved in the dispute.",
            "example": "MER-820735"
          },
          "reason": {
            "type": "string",
            "description": "The reason for the dispute.",
            "example": "STANDARD"
          },
          "disputedAmount": {
            "description": "The amount in dispute, including currency details.",
            "$ref": "#/components/schemas/Amount"
          },
          "customerStatement": {
            "type": "string",
            "description": "The statement provided by the customer regarding the dispute.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the dispute.",
            "example": "ACTIVE"
          },
          "responseDueAt": {
            "type": "string",
            "description": "Deadline for responding to the dispute.",
            "example": "2026-08-11T12:00:00Z"
          },
          "evidence": {
            "type": "array",
            "description": "List of evidence provided for the dispute.",
            "example": [
              {
                "id": "STANDARD",
                "fileName": "Northstar Banking Service",
                "contentType": "STANDARD",
                "fileSizeBytes": 1,
                "fileUrl": "https://example.com/resource",
                "sha256": "STANDARD",
                "uploadedAt": "2026-08-11T12:00:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Evidence"
            }
          },
          "financialImpact": {
            "description": "Details surrounding the financial impact of the dispute.",
            "$ref": "#/components/schemas/FinancialImpact"
          },
          "resolution": {
            "description": "Details regarding the resolution of the dispute, if applicable.",
            "$ref": "#/components/schemas/Resolution"
          },
          "audit": {
            "description": "Audit information for tracking changes made to the dispute.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Additional metadata related to the dispute response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for a dispute creation operation. Contains details of the created dispute.",
        "example": {
          "disputeId": "STANDARD",
          "paymentId": "PAY-934293",
          "merchantId": "MER-820735",
          "reason": "STANDARD",
          "disputedAmount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "customerStatement": "STANDARD",
          "status": "ACTIVE",
          "responseDueAt": "2026-08-11T12:00:00Z",
          "evidence": [
            {
              "id": "STANDARD",
              "fileName": "Northstar Banking Service",
              "contentType": "STANDARD",
              "fileSizeBytes": 1,
              "fileUrl": "https://example.com/resource",
              "sha256": "STANDARD",
              "uploadedAt": "2026-08-11T12:00:00Z"
            }
          ],
          "financialImpact": {
            "amountDebitedFromMerchant": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "fees": [
              {
                "feeType": "STANDARD",
                "amount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "bearer": "CUSTOMER"
              }
            ],
            "reserveHeld": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "resolution": {
            "outcome": "STANDARD",
            "resolvedAmount": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "reason": "STANDARD",
            "resolvedAt": "2026-08-11T12:00:00Z"
          },
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "abe893f3-bd86-5970-97e8-81997a0fc7d8",
            "correlationId": "65d876a1-d014-5577-89bd-a0ed7d29e941",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Amount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency code of the amount (e.g., USD, EUR).",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "The numerical value of the amount.",
            "example": "100.00"
          }
        },
        "description": "Represents an amount of money, including currency details."
      },
      "Evidence": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the evidence.",
            "example": "evidence123"
          },
          "fileName": {
            "type": "string",
            "description": "Name of the evidence file.",
            "example": "receipt.pdf"
          },
          "contentType": {
            "type": "string",
            "description": "MIME type of the evidence file.",
            "example": "application/pdf"
          },
          "fileSizeBytes": {
            "type": "integer",
            "description": "Size of the evidence file in bytes.",
            "format": "int32",
            "example": 2048
          },
          "fileUrl": {
            "type": "string",
            "description": "URL to download the evidence file.",
            "example": "https://example.com/evidence/receipt.pdf"
          },
          "sha256": {
            "type": "string",
            "description": "SHA-256 hash of the evidence file.",
            "example": "abc123..."
          },
          "uploadedAt": {
            "type": "string",
            "description": "Timestamp when the evidence was uploaded.",
            "example": "2023-10-20T10:00:00Z"
          }
        },
        "description": "Details of the evidence submitted for the dispute."
      },
      "FinancialImpact": {
        "type": "object",
        "properties": {
          "amountDebitedFromMerchant": {
            "description": "The amount debited from the merchant as a result of the dispute.",
            "$ref": "#/components/schemas/Amount"
          },
          "fees": {
            "type": "array",
            "description": "List of fees associated with the dispute.",
            "items": {
              "$ref": "#/components/schemas/Fee"
            }
          },
          "reserveHeld": {
            "description": "The amount reserved as held due to the dispute.",
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "Details of the financial impact resulting from the dispute."
      },
      "Fee": {
        "type": "object",
        "properties": {
          "feeType": {
            "type": "string",
            "description": "Type of fee that was incurred.",
            "example": "Processing Fee"
          },
          "amount": {
            "description": "Amount of the fee, including currency details.",
            "$ref": "#/components/schemas/Amount"
          },
          "bearer": {
            "type": "string",
            "description": "Who is responsible for the fee (merchant or customer).",
            "example": "Merchant"
          }
        },
        "description": "Details of a fee incurred as part of the dispute process."
      },
      "Resolution": {
        "type": "object",
        "properties": {
          "outcome": {
            "type": "string",
            "description": "Outcome of the dispute resolution.",
            "example": "Resolved"
          },
          "resolvedAmount": {
            "description": "The amount that was resolved in the dispute.",
            "$ref": "#/components/schemas/Amount"
          },
          "reason": {
            "type": "string",
            "description": "Explanation for the resolution outcome.",
            "example": "Transaction was indeed unauthorized."
          },
          "resolvedAt": {
            "type": "string",
            "description": "Timestamp when the dispute was resolved.",
            "example": "2023-10-21T15:00:00Z"
          }
        },
        "description": "Details of the resolution status of the dispute."
      },
      "Audit": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp of when the dispute was created.",
            "example": "2023-10-20T12:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the dispute.",
            "example": "user1"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the dispute.",
            "example": "2023-10-21T12:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the dispute.",
            "example": "user2"
          },
          "version": {
            "type": "integer",
            "description": "Version number for the dispute, for tracking changes.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Information used for auditing purposes related to the dispute."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response related to the dispute.",
            "example": "response123"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking related processes.",
            "example": "corr456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-20T15:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "US-East"
          }
        },
        "description": "Metadata providing additional context for the dispute."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "cardId": {
        "name": "cardId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint where the request was made. This helps track the specific service being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-create-dispute"
        },
        "example": "banking-p2m-openapi-create-dispute"
      },
      "X-Runtime-App": {
        "description": "Indicates the application responsible for processing the request. Useful for logging and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      },
      "X-Workflow-Id": {
        "description": "A unique identifier for the workflow instance related to this request. It assists in tracking the progress of the workflow.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-028"
        },
        "example": "WF-028"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow executing the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Card Dispute and Chargeback"
        },
        "example": "Card Dispute and Chargeback"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow associated with this operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the execution of the workflow.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ce56da7b-2df6-4e7f-86a6-79dd70d96872"
        },
        "example": "ce56da7b-2df6-4e7f-86a6-79dd70d96872"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authorization scheme using Bearer tokens formatted as JSON Web Tokens (JWT). Clients must include this token in the `Authorization` header of their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}