{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Business Direction By Param1-spec",
    "description": "The Corporate Policies Direction API provides businesses with insights into corporate policies based on specific parameters. By utilizing this endpoint, consumers can retrieve detailed information relevant to their business direction, enabling informed decision-making. Typical users include financial analysts, corporate strategists, and compliance officers who need to align their strategies with the latest corporate guidelines. This API serves as a valuable resource for organizations seeking to navigate the complexities of corporate policy implementation.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/business-direction/corporate-policies/{param1}": {
      "get": {
        "tags": [
          "Corporate Policies"
        ],
        "summary": "Retrieve Corporate Policy by ID",
        "description": "This endpoint allows users to retrieve detailed information about a specific corporate policy by its unique identifier. Ensure that the correct policy ID is provided to get the desired information.",
        "operationId": "getBusinessDirectionByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is intended for retrieving specific corporate policies identified by RES-100045. Ensure that all required fields are accurately populated to successfully receive the desired information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBusinessDirectionByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of corporate policy details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBusinessDirectionByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBusinessDirectionByParam1Request": {
        "type": "string",
        "description": "This schema represents the request body in JSON format for the GET operation related to the corporate policies under business direction.",
        "example": "{}"
      },
      "GetBusinessDirectionByParam1Response_200": {
        "title": "Corporate Policies Response",
        "type": "object",
        "properties": {
          "initiativeId": {
            "type": "string",
            "description": "The unique identifier for the initiative.",
            "example": "STANDARD"
          },
          "sponsorId": {
            "type": "string",
            "description": "The unique identifier of the sponsor associated with the initiative.",
            "example": "STANDARD"
          },
          "planningHorizon": {
            "type": "string",
            "description": "The planning horizon for the initiative, detailing the timeline.",
            "example": "STANDARD"
          },
          "targetDate": {
            "type": "string",
            "description": "The target date set for achieving the goals of the initiative.",
            "example": "2026-09-15"
          },
          "status": {
            "type": "string",
            "description": "The current status of the initiative.",
            "example": "ACTIVE"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record indicating if it is active, archived, etc.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the initiative.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the initiative was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Represents the response structure for corporate policies including various details about an initiative.",
        "example": {
          "initiativeId": "STANDARD",
          "sponsorId": "STANDARD",
          "planningHorizon": "STANDARD",
          "targetDate": "2026-09-15",
          "status": "ACTIVE",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "4f12a9fb-3106-5b16-8a9f-86c228e76fef",
            "correlationId": "6fd60792-637c-558e-b9df-c47213566bbf",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response-01"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation ID for tracking requests across services.",
            "example": "corr-456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographical region where the processing occurred.",
            "example": "us-west"
          }
        },
        "description": "Contains metadata associated with the response, including identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint being accessed in this API call.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "corporate-policies-get-corporate-policies"
        },
        "example": "corporate-policies-get-corporate-policies"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is invoking this API request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method. The client must send a valid JSON Web Token (JWT) in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}