{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Customer Management Customer Behavior Insight-spec",
    "description": "The Customer Behavior Insights API enables businesses to gain valuable insights into customer behavior within banking services. By analyzing data on customer interactions and preferences, this API empowers organizations to enhance their customer management strategies. Typical users include marketing teams and customer service departments looking to optimize engagement and personalize offers. This endpoint facilitates the submission of new customer behavior data to improve analysis and insights generation.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customer-management/customer-behavior-insights": {
      "post": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Create Customer Behavior Insights",
        "description": "This endpoint allows the user to submit data pertaining to customer behavior insights. It processes the provided information to generate valuable insights that can assist in decision-making and enhancing customer experience.",
        "operationId": "createCustomerManagementCustomerBehaviorInsight",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to send customer behavior insights data to the customer management system. It should contain detailed information on customer interactions and behaviors, which can be used for analytics and improving customer relationships.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerManagementCustomerBehaviorInsightRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "New customer behavior insights successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCustomerManagementCustomerBehaviorInsightResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCustomerManagementCustomerBehaviorInsightRequest": {
        "title": "Customer Behavior Insights Request Body",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-412982"
          },
          "partyId": {
            "type": "string",
            "description": "The unique identifier for the party associated with the customer.",
            "example": "PARTY-232230"
          },
          "productCode": {
            "type": "string",
            "description": "The code of the product related to the customer behavior insights.",
            "example": "CHK-PREMIUM-US"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date from which the customer behavior insights are effective.",
            "example": "2026-09-15"
          },
          "relationshipTier": {
            "type": "string",
            "description": "The tier level of the customer's relationship.",
            "example": "GOLD"
          },
          "requestContext": {
            "description": "The context information for the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for customer behavior insights operations.",
        "example": {
          "customerId": "CUST-412982",
          "partyId": "PARTY-232230",
          "productCode": "CHK-PREMIUM-US",
          "effectiveDate": "2026-09-15",
          "relationshipTier": "GOLD",
          "requestContext": {
            "requestId": "3d0174cd-7d98-5193-bb5f-03cc8c5434e6",
            "correlationId": "95171b62-fc05-50b6-a87f-202f41d9a830",
            "idempotencyKey": "46002954-b9e9-5a0c-a308-2be6eb828105",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-613938"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used to correlate logs or requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request was made.",
            "example": "string"
          },
          "channel": {
            "description": "Details about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing additional context information for the request."
      },
      "Channel": {
        "title": "Channel Details",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used for the request.",
            "example": "string"
          }
        },
        "description": "Schema representing details about the channel of the request."
      },
      "CreateCustomerManagementCustomerBehaviorInsightResponse_201": {
        "title": "Customer Behavior Insights Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-975832"
          },
          "partyId": {
            "type": "string",
            "description": "The unique identifier for the party associated with the customer.",
            "example": "PARTY-244715"
          },
          "productCode": {
            "type": "string",
            "description": "The product code related to the customer behavior.",
            "example": "CHK-PREMIUM-US"
          },
          "resourceId": {
            "type": "string",
            "description": "The resource identifier used in the operation.",
            "example": "RES-571321"
          },
          "status": {
            "type": "string",
            "description": "The status of the operation, providing insight into success or failure.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp indicating when the response was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response, including processing information.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "This schema represents the response from the customer behavior insights operation, containing information regarding the customer's behavior and metadata related to the processing of the request.",
        "example": {
          "customerId": "CUST-975832",
          "partyId": "PARTY-244715",
          "productCode": "CHK-PREMIUM-US",
          "resourceId": "RES-571321",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "1dbd1183-6b0e-5f54-bb7b-12d07dc2c515",
            "correlationId": "95171b62-fc05-50b6-a87f-202f41d9a830",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response generated by the system.",
            "example": "resp-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier used to trace the request across systems.",
            "example": "corr-67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the request was processed.",
            "example": "us-east-1"
          }
        },
        "description": "This schema contains metadata information for the API response, providing additional context."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint being called, useful for debugging and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-behavior-insights-create-customer-behavior-insights"
        },
        "example": "customer-behavior-insights-create-customer-behavior-insights"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is currently processing the request. This helps in tracking and monitoring application performance.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token for authentication, typically in the form of a JSON Web Token (JWT). Clients must include this token in the Authorization header when making requests to secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}