{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Servicing Activity Analysis API",
    "description": "The Servicing Activity Analysis API provides insights into customer servicing activities across various channels in the banking domain. This API allows users to retrieve detailed analyses on customer interactions, helping enterprises optimize their servicing strategies. Typical consumers include banking analysts and customer service managers who utilize the data for decision-making and improving customer experience. The endpoint aggregates and presents trends, enabling stakeholders to identify areas of improvement and enhance service delivery.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cross-channel/servicing-activity-analysis": {
      "get": {
        "tags": [
          "Servicing Analysis"
        ],
        "summary": "Retrieve servicing activity analysis data.",
        "description": "This endpoint allows users to access detailed analysis of servicing activities across various channels. Users can gain insights into performance metrics, trends, and overall effectiveness, enabling informed decision-making for business strategies.",
        "operationId": "getServicingActivityAnalysis",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve servicing activity analysis data across channels. It includes parameters necessary for filtering and customizing the response according to the user's requirements.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetServicingActivityAnalysisRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested analysis data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetServicingActivityAnalysisResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetServicingActivityAnalysisRequest": {
        "type": "string",
        "description": "This schema represents the request body for the operations of GET servicing activity analysis across channels.",
        "example": "{}"
      },
      "GetServicingActivityAnalysisResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of servicing activity items.",
            "example": [
              {
                "partyId": "PARTY-488075",
                "interactionId": "INT-805002",
                "channel": "STANDARD",
                "authenticationLevel": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ServicingActivityItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Indicates the sort criteria used for the returned items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for the servicing activity analysis operation, which includes a list of activity items and associated metadata.",
        "example": {
          "items": [
            {
              "partyId": "PARTY-488075",
              "interactionId": "INT-805002",
              "channel": "STANDARD",
              "authenticationLevel": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "1d72dc78-3a69-5838-bf67-2542ec24a9c7",
            "correlationId": "8ffb1124-481f-5c61-9b25-257133d35b5b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ServicingActivityItem": {
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "Unique identifier for the party associated with the activity."
          },
          "interactionId": {
            "type": "string",
            "description": "Unique identifier for the interaction."
          },
          "channel": {
            "type": "string",
            "description": "Channel through which the interaction occurred."
          },
          "authenticationLevel": {
            "type": "string",
            "description": "Indicates the level of authentication used during the interaction."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the activity record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the activity was last updated."
          }
        },
        "description": "Schema representing an individual servicing activity item."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32"
          }
        },
        "description": "Schema representing pagination metadata for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking the request."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed."
          }
        },
        "description": "Schema containing metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "servicing-activity-analysis-search-servicing-activity-analysis"
        },
        "example": "servicing-activity-analysis-search-servicing-activity-analysis"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method. Clients must include a valid JSON Web Token (JWT) in the authorization header to authenticate requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}