{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Banking Enterprise Services Security Assurance By Security Assurance Id-v5-spec",
    "description": "This API facilitates the retrieval of security assurance details for banking enterprise services using a specific Security Assurance ID. It provides essential information related to the security measures implemented within banking services, allowing users to verify compliance and security standards. Typical consumers include security auditors, compliance officers, and financial institution administrators who require access to security assurance data for analysis and reporting purposes. This operation is crucial for ensuring robust security governance in banking environments.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/enterprise-services/security-assurance/{securityAssuranceId}": {
      "get": {
        "tags": [
          "Security Assurance"
        ],
        "summary": "Retrieve Security Assurance Resource",
        "description": "Fetches the details of the Security Assurance Resource identified by RES-100045. This endpoint is used to obtain information related to security measures and compliance status for the specified resource.",
        "operationId": "getBankingEnterpriseServicesSecurityAssuranceBySecurityAssuranceId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/securityAssuranceId"
          }
        ],
        "requestBody": {
          "description": "This request body contains the necessary parameters for retrieving security assurance details for the specified enterprise service. It must be formatted as JSON and adhere to the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBankingEnterpriseServicesSecurityAssuranceBySecurityAssuranceIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the requested resource.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBankingEnterpriseServicesSecurityAssuranceBySecurityAssuranceIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBankingEnterpriseServicesSecurityAssuranceBySecurityAssuranceIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation in the Security Assurance service. It is expected to be a string.",
        "example": "{}"
      },
      "GetBankingEnterpriseServicesSecurityAssuranceBySecurityAssuranceIdResponse_200": {
        "title": "Security Assurance Engagement Response",
        "type": "object",
        "properties": {
          "engagementId": {
            "type": "string",
            "description": "A unique identifier for the engagement.",
            "example": "STANDARD"
          },
          "scope": {
            "type": "string",
            "description": "The scope of the security assurance engagement.",
            "example": "STANDARD"
          },
          "framework": {
            "type": "string",
            "description": "The framework being used for the security assurance.",
            "example": "STANDARD"
          },
          "engagementOwnerId": {
            "type": "string",
            "description": "The identifier of the user who owns this engagement.",
            "example": "STANDARD"
          },
          "plannedStartDate": {
            "type": "string",
            "description": "The planned start date for the engagement.",
            "example": "2026-09-15"
          },
          "targetCompletionDate": {
            "type": "string",
            "description": "The target completion date for the engagement.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the engagement record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the response.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of the last update made to the engagement record.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the engagement response.",
            "$ref": "#/components/schemas/EngagementMetadata"
          }
        },
        "description": "This schema represents the response for a security assurance engagement, including details about the engagement, its owner, timelines, and metadata.",
        "example": {
          "engagementId": "STANDARD",
          "scope": "STANDARD",
          "framework": "STANDARD",
          "engagementOwnerId": "STANDARD",
          "plannedStartDate": "2026-09-15",
          "targetCompletionDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "6d7b44d7-3e6b-56fe-b35e-6ec077b767e4",
            "correlationId": "5002d306-ce4a-5510-8a1b-97d71bfda358",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EngagementMetadata": {
        "title": "Engagement Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "response-54321"
          },
          "correlationId": {
            "type": "string",
            "description": "A correlation identifier for tracking requests.",
            "example": "corr-123456789"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata associated with a security assurance engagement response, including identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "securityAssuranceId": {
        "name": "securityAssuranceId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "security-assurance-get-security-assurance"
        },
        "example": "security-assurance-get-security-assurance"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a bearer token, specifically in JWT (JSON Web Token) format, to authorize requests. Clients must include this token in the `Authorization` header when making API requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}