{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Business Direction Continuity Planning API",
    "description": "The Business Direction Continuity Planning API provides tools for organizations to assess and manage their continuity planning strategies. This API allows users to retrieve comprehensive information regarding continuity plans, ensuring that businesses can maintain operations during disruptions. Ideal for risk management teams and business continuity planners, this API supports informed decision-making and enhances operational resilience. With this resource, organizations can align their continuity strategies with business objectives and regulatory requirements.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/business-direction/continuity-planning": {
      "get": {
        "tags": [
          "Business Management"
        ],
        "summary": "Retrieve Continuity Planning Details",
        "description": "This endpoint allows you to retrieve detailed information about continuity planning within the business direction framework. It provides insights into strategies, processes, and guidelines essential for maintaining business operations during unforeseen events.",
        "operationId": "getBusinessDirectionContinuityPlanning",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information regarding the continuity planning aspect of business direction. It expects a valid JSON object that complies with the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBusinessDirectionContinuityPlanningRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the continuity planning information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBusinessDirectionContinuityPlanningResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBusinessDirectionContinuityPlanningRequest": {
        "type": "string",
        "description": "This schema represents the request body for the business direction continuity planning operations GET method. It is expected to be a string.",
        "example": "{}"
      },
      "GetBusinessDirectionContinuityPlanningResponse_200": {
        "title": "Business Direction Continuity Planning Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of initiatives associated with continuity planning.",
            "example": [
              {
                "initiativeId": "STANDARD",
                "sponsorId": "STANDARD",
                "planningHorizon": "STANDARD",
                "targetDate": "2026-09-15",
                "status": "ACTIVE",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Initiative"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sort order of the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for the GET request related to Business Direction Continuity Planning operations.",
        "example": {
          "items": [
            {
              "initiativeId": "STANDARD",
              "sponsorId": "STANDARD",
              "planningHorizon": "STANDARD",
              "targetDate": "2026-09-15",
              "status": "ACTIVE",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "37511e75-41db-54cc-881d-78432fe8c0b0",
            "correlationId": "b8ed7747-fbee-5fc4-95a1-e0376f96974d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Initiative": {
        "title": "Initiative",
        "type": "object",
        "properties": {
          "initiativeId": {
            "type": "string",
            "description": "Unique identifier for the initiative.",
            "example": "123"
          },
          "sponsorId": {
            "type": "string",
            "description": "Identifier for the sponsor of the initiative.",
            "example": "abc"
          },
          "planningHorizon": {
            "type": "string",
            "description": "The planning horizon for the initiative.",
            "example": "2023-12-31"
          },
          "targetDate": {
            "type": "string",
            "description": "Target completion date for the initiative.",
            "example": "2023-10-20"
          },
          "status": {
            "type": "string",
            "description": "Current status of the initiative.",
            "example": "ongoing"
          },
          "recordStatus": {
            "type": "string",
            "description": "Record status indicating if the initiative is active or inactive.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the initiative was last updated.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "Schema representing a single initiative in the continuity planning process."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items across all pages.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Schema representing the pagination details for the list of initiatives."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "xyz-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracing requests across services.",
            "example": "correlation-456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Schema containing metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "continuity-planning-search-continuity-planning"
        },
        "example": "continuity-planning-search-continuity-planning"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes HTTP Bearer authentication. It requires a valid JSON Web Token (JWT) to authenticate requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}