{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Billing Details API",
    "description": "The Customer Billing Details API provides access to billing information for individual customers within the banking operational services. By utilizing this endpoint, businesses can retrieve comprehensive billing statements, transaction histories, and account summaries tailored to specific customers. This functionality is essential for financial institutions and customer service representatives aiming to enhance customer support and ensure accurate billing inquiries. Use cases include generating reports, verifying transactions, and assisting customers with their billing questions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/customer-billing/{param1}": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "Retrieve billing information for a specific customer.",
        "description": "This endpoint allows you to fetch detailed billing information for the customer identified by the provided ID. It is essential for viewing the customer's payment history and outstanding balance.",
        "operationId": "getCustomerBillingCUST100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving customer billing information. This should contain necessary parameters to fetch data for the specified customer.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCustomerBillingCUST100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved customer billing details.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCustomerBillingCUST100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCustomerBillingCUST100045Request": {
        "type": "string",
        "description": "The JSON representation of the request body for the customer billing operation.",
        "example": "{}"
      },
      "GetCustomerBillingCUST100045Response_200": {
        "title": "Customer Billing Response",
        "type": "object",
        "properties": {
          "billingAccountId": {
            "type": "string",
            "description": "The unique identifier for the billing account.",
            "example": "ACC-354690"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-743392"
          },
          "billingPeriod": {
            "type": "string",
            "description": "The billing period for which the charges apply.",
            "example": "STANDARD"
          },
          "charges": {
            "type": "array",
            "description": "A list of charge details associated with the billing account.",
            "example": [
              {
                "chargeType": "SERVICE_FEE",
                "amount": 100,
                "currency": "USD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/BillingCharge"
            }
          },
          "dueDate": {
            "type": "string",
            "description": "The due date for the payment of the charges.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the billing record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version of the billing response.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "This schema represents the response structure for customer billing operations.",
        "example": {
          "billingAccountId": "ACC-354690",
          "customerId": "CUST-743392",
          "billingPeriod": "STANDARD",
          "charges": [
            {
              "chargeType": "SERVICE_FEE",
              "amount": 100,
              "currency": "USD"
            }
          ],
          "dueDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "00b02946-93fd-5146-a283-9f98887574e0",
            "correlationId": "f91ee682-2bda-5e1b-86af-800b2110964d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "BillingCharge": {
        "title": "Billing Charge",
        "type": "object",
        "properties": {
          "chargeType": {
            "type": "string",
            "description": "The type of charge (e.g., service, tax, fee).",
            "example": "service"
          },
          "amount": {
            "type": "integer",
            "description": "The amount of the charge.",
            "format": "int32",
            "example": 100
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the charge is denominated.",
            "example": "USD"
          }
        },
        "description": "Details of a charge associated with a billing account."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "RSP-987654"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier to correlate requests and responses.",
            "example": "CORR-112233"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "2023-10-10T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the response was processed.",
            "example": "US-East"
          }
        },
        "description": "Metadata information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "description": "An identifier for the specific endpoint being accessed.",
          "example": "customer-billing-get-customer-billing"
        },
        "example": "customer-billing-get-customer-billing"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "description": "The name of the application that processed the request.",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication method with JSON Web Tokens (JWT). Clients must include the token in the Authorization header of requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}