{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Connect Components Institution Oauth Url-v5-spec",
    "description": "The Institution OAuth URL Creation API enables clients to generate OAuth URLs for specific institutions, facilitating secure authentication and authorization. This endpoint is particularly useful for developers integrating third-party applications that require secure access to institutional resources. By sending a POST request with the necessary institution ID, users can initiate the creation of OAuth URLs tailored to their application needs. Typical consumers include software developers and system integrators working in financial services or educational sectors.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/connect-components/institutions/{institutionId}/oauth-urls": {
      "post": {
        "tags": [],
        "summary": "Create OAuth URL for an institution.",
        "description": "This operation allows the client to generate an OAuth URL specific to the institution identified by RES-100045, enabling secure authorization for user access to resources.",
        "operationId": "createConnectComponentsInstitutionOauthUrl",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/institutionId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create a new OAuth URL for the specified institution. It requires the relevant parameters to be supplied in JSON format, ensuring that all necessary data for the OAuth process is included.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateConnectComponentsInstitutionOauthUrlRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource successfully created and OAuth URLs generated.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateConnectComponentsInstitutionOauthUrlResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateConnectComponentsInstitutionOauthUrlRequest": {
        "type": "object",
        "properties": {
          "redirectURI": {
            "type": "string",
            "description": "The URI to which the response should be redirected after authorization.",
            "example": "https://example.com/resource"
          },
          "customerId": {
            "type": "string",
            "description": "Identifier for the customer making the request.",
            "example": "CUST-505200"
          },
          "configurationId": {
            "type": "string",
            "description": "Identifier for the configuration associated with the request.",
            "example": "f1808dea-ce8c-bc2f-15c7-5562ff2fd562"
          },
          "serviceAgreement": {
            "description": "Details regarding the service agreement associated with the request.",
            "$ref": "#/components/schemas/ServiceAgreement"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for the OAuth URL operation on institutions.",
        "example": {
          "redirectURI": "https://example.com/resource",
          "customerId": "CUST-505200",
          "configurationId": "f1808dea-ce8c-bc2f-15c7-5562ff2fd562",
          "serviceAgreement": {
            "language": "en",
            "acceptedDate": "2026-09-15"
          },
          "requestContext": {
            "requestId": "621b5cf0-9cd1-5418-b71d-5337b45600ec",
            "correlationId": "96a0eb67-b476-5856-8fd1-55a1f70d55e2",
            "idempotencyKey": "e08e190e-e4e1-5954-a97b-be7243c9ff33",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-903727"
            }
          }
        }
      },
      "ServiceAgreement": {
        "type": "object",
        "properties": {
          "language": {
            "type": "string",
            "description": "The language in which the service agreement is defined.",
            "example": "en-US"
          },
          "acceptedDate": {
            "type": "string",
            "description": "The date when the service agreement was accepted.",
            "example": "2023-01-01T00:00:00Z"
          }
        },
        "description": "Schema representing the service agreement details."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req_67890"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests.",
            "example": "corr_abcde"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is idempotent.",
            "example": "idemp_1234"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-01-01T00:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that initiated the request.",
            "example": "web"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "mobile_app"
          },
          "channel": {
            "description": "Information regarding the channel through which the request is made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel_001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel being used (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device being used.",
            "example": "device_12345"
          }
        },
        "description": "Schema representing the channel details."
      },
      "CreateConnectComponentsInstitutionOauthUrlResponse_201": {
        "title": "OAuth URL Response",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "A unique identifier for the OAuth URL.",
            "example": "17004f36-35b4-3016-fbe4-98b0f8c4b9a0"
          },
          "url": {
            "type": "string",
            "description": "The OAuth URL that can be used for authentication.",
            "example": "https://example.com/resource"
          },
          "eventStreamId": {
            "type": "string",
            "description": "An identifier for the event stream associated with this operation.",
            "example": "8b6e3889-3ba3-9fc0-25c1-9aa31daf69c3"
          },
          "metadata": {
            "description": "Metadata associated with the OAuth URL response.",
            "$ref": "#/components/schemas/OAuthMetadata"
          }
        },
        "description": "Represents the response object for OAuth URL operations, including relevant identifiers and metadata.",
        "example": {
          "id": "17004f36-35b4-3016-fbe4-98b0f8c4b9a0",
          "url": "https://example.com/resource",
          "eventStreamId": "8b6e3889-3ba3-9fc0-25c1-9aa31daf69c3",
          "metadata": {
            "responseId": "ef3b059c-e721-58b2-abd7-ddc68741a9fd",
            "correlationId": "96a0eb67-b476-5856-8fd1-55a1f70d55e2",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "OAuthMetadata": {
        "title": "OAuth Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "response-abc123"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate this response with other related operations.",
            "example": "correlation-xyz789"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the OAuth URL response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Contains additional information regarding the OAuth URL response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "institutionId": {
        "name": "institutionId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "The unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-post-institutions-institution-id-oauth-urls"
        },
        "example": "open-finance-api-post-institutions-institution-id-oauth-urls"
      },
      "x-runtime-app": {
        "description": "The name of the application where the request was handled.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication with JSON Web Tokens (JWT). Clients must provide a valid JWT token in the Authorization header of requests for access to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}