{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Account Management Position Keepings-spec",
    "description": "The Account Management Position Keeping API facilitates the retrieval of current position keeping data for various banking accounts. This endpoint is designed for financial institutions and service providers aiming to efficiently monitor and manage account positions. Users can leverage this API to obtain up-to-date information regarding asset allocations, transaction statuses, and account performance. Typical consumers include banking applications and trading platforms that require real-time insights into account management and position reporting.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/account-management/position-keeping": {
      "get": {
        "tags": [
          "Account Management"
        ],
        "summary": "Retrieve position keeping information.",
        "description": "Fetches the current position keeping details for accounts, allowing users to monitor their holdings and performance.",
        "operationId": "listAccountManagementPositionKeepings",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "A request to retrieve position-keeping information for account management. This request body defines the parameters needed to successfully fetch the required data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListAccountManagementPositionKeepingsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAccountManagementPositionKeepingsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListAccountManagementPositionKeepingsRequest": {
        "type": "string",
        "description": "This schema represents the JSON request body for the position keeping operations within account management.",
        "example": "{}"
      },
      "ListAccountManagementPositionKeepingsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A collection of account items.",
            "example": [
              {
                "accountId": "ACC-480947",
                "customerId": "CUST-746109",
                "ledgerDate": "2026-09-15",
                "currency": "USD",
                "ledgerBalance": 100.0,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/AccountItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the GET operation in the account management position keeping API, providing a list of account items, pagination information, sorting options, and metadata.",
        "example": {
          "items": [
            {
              "accountId": "ACC-480947",
              "customerId": "CUST-746109",
              "ledgerDate": "2026-09-15",
              "currency": "USD",
              "ledgerBalance": 100.0,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "0551bddb-ba1e-563b-b8d4-ae8b2db4cba3",
            "correlationId": "2085ad9d-1482-5983-988e-49779eefd879",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AccountItem": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account.",
            "example": "string"
          },
          "customerId": {
            "type": "string",
            "description": "The identifier for the customer associated with the account.",
            "example": "string"
          },
          "ledgerDate": {
            "type": "string",
            "description": "The date of the ledger entry.",
            "example": "string"
          },
          "currency": {
            "type": "string",
            "description": "The currency of the account balance.",
            "example": "string"
          },
          "ledgerBalance": {
            "type": "number",
            "description": "The balance of the ledger for the account.",
            "example": 0.0
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the account record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the account item was last updated.",
            "example": "string"
          }
        },
        "description": "Represents an individual account item with relevant details."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number of the results.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Describes pagination details for the result set."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier for correlating multiple requests or responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region from which the response was processed.",
            "example": "string"
          }
        },
        "description": "Metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "position-keeping-search-position-keeping"
        },
        "example": "position-keeping-search-position-keeping"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method via JSON Web Tokens (JWT). Clients must include a valid JWT token in the Authorization header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}