{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Commission Agreement Retrieval API",
    "description": "The Commission Agreement Retrieval API facilitates the access of commission agreement details within the banking sales domain. This endpoint allows users to retrieve specific commission agreements, providing essential insights for sales personnel, compliance teams, and business analysts. Key consumers include sales representatives looking to understand compensation structures and compliance officers ensuring adherence to regulations. By efficiently managing commission agreement data, this API supports informed decision-making and effective sales strategies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/sales/commission-agreement": {
      "get": {
        "tags": [
          "Sales"
        ],
        "summary": "Retrieve Commission Agreement Details",
        "description": "Fetches the details of the commission agreement associated with sales, providing essential information for review and analysis.",
        "operationId": "getSalesCommissionAgreement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body facilitates the retrieval of commission agreement details specific to sales operations. It should contain the necessary parameters and configurations required to process the request effectively.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSalesCommissionAgreementRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the commission agreement details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSalesCommissionAgreementResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetSalesCommissionAgreementRequest": {
        "type": "string",
        "description": "A JSON string representing the request body for fetching the commission agreement operations.",
        "example": "{}"
      },
      "GetSalesCommissionAgreementResponse_200": {
        "title": "Sales Commission Agreement Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of sales commission agreements.",
            "example": [
              {
                "prospectId": "STANDARD",
                "productCode": "CHK-PREMIUM-US",
                "salesChannel": "STANDARD",
                "relationshipManagerId": "STANDARD",
                "expectedValue": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "salesPersonId": "STANDARD",
                "commissionPlanId": "STANDARD",
                "eligibleRevenue": 100.0,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/SalesCommissionAgreement"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sort order applied to the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response for the sales commission agreement operations, including details on items, pagination, sort order, and metadata.",
        "example": {
          "items": [
            {
              "prospectId": "STANDARD",
              "productCode": "CHK-PREMIUM-US",
              "salesChannel": "STANDARD",
              "relationshipManagerId": "STANDARD",
              "expectedValue": {
                "amount": 100.0,
                "currency": "USD"
              },
              "salesPersonId": "STANDARD",
              "commissionPlanId": "STANDARD",
              "eligibleRevenue": 100.0,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "6beb54e1-003c-5240-8fa8-234d52e56f2f",
            "correlationId": "45f91e44-78ab-5ac7-b619-3f5de4402010",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "SalesCommissionAgreement": {
        "title": "Sales Commission Agreement",
        "type": "object",
        "properties": {
          "prospectId": {
            "type": "string",
            "description": "Unique identifier for the prospect."
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product associated with the agreement."
          },
          "salesChannel": {
            "type": "string",
            "description": "The sales channel through which the agreement was made."
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "Identifier for the relationship manager handling this agreement."
          },
          "expectedValue": {
            "$ref": "#/components/schemas/ExpectedValue"
          },
          "salesPersonId": {
            "type": "string",
            "description": "Identifier for the salesperson responsible for the sale."
          },
          "commissionPlanId": {
            "type": "string",
            "description": "Identifier for the commission plan associated with this agreement."
          },
          "eligibleRevenue": {
            "type": "number",
            "description": "Eligible revenue amount associated with the agreement."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the record was last updated."
          }
        },
        "description": "Details of a sales commission agreement including key identifiers, expected value, and record status."
      },
      "ExpectedValue": {
        "title": "Expected Value",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The expected amount."
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the expected value is denoted."
          }
        },
        "description": "The expected value associated with a sales commission agreement including amount and currency."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items across all pages.",
            "format": "int32"
          }
        },
        "description": "Information about pagination for the response data."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when this response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the processing took place."
          }
        },
        "description": "Metadata associated with the response including identifiers and generation time."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed. This enables tracking and monitoring of APIs.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "commission-agreement-search-commission-agreement"
        },
        "example": "commission-agreement-search-commission-agreement"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request. This is useful for identifying the source of the response and troubleshooting.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token formatted as a JSON Web Token (JWT) for authentication. Clients must include the bearer token in the Authorization header when making requests to protected endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}