{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Banking Operational Services Channel Activity Analysis-v5-spec",
    "description": "The Banking Channel Activity Analysis API provides insights into operational activities across various banking service channels. By retrieving detailed analyses of channel usage and performance metrics, stakeholders can make informed decisions to optimize service delivery. This API is primarily utilized by data analysts and business intelligence teams seeking to improve customer engagement and operational efficiency. It supports requests for historical data, enabling trends and patterns to be identified over time.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/channel-activity-analysis": {
      "get": {
        "tags": [
          "Channel Analysis"
        ],
        "summary": "Retrieve channel activity analysis data.",
        "description": "This endpoint allows users to fetch detailed analysis of channel activities, providing insights into engagement and performance metrics. Use it to monitor and evaluate channel effectiveness over time.",
        "operationId": "listBankingOperationalServicesChannelActivityAnalysis",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving analysis of channel activity within operational services. This body should conform to the specified JSON schema for successful processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListBankingOperationalServicesChannelActivityAnalysisRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested channel activity analysis data.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBankingOperationalServicesChannelActivityAnalysisResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListBankingOperationalServicesChannelActivityAnalysisRequest": {
        "type": "string",
        "description": "The request body for retrieving channel activity analysis operations.",
        "example": "{}"
      },
      "ListBankingOperationalServicesChannelActivityAnalysisResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of channel activity items.",
            "example": [
              {
                "operationId": "STANDARD",
                "customerId": "CUST-600323",
                "accountId": "ACC-809777",
                "requestedAt": "2026-08-11T12:00:00Z",
                "priority": "NORMAL",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ChannelActivityItem"
            }
          },
          "pagination": {
            "description": "Pagination information for the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria used in the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for operational services channel activity analysis.",
        "example": {
          "items": [
            {
              "operationId": "STANDARD",
              "customerId": "CUST-600323",
              "accountId": "ACC-809777",
              "requestedAt": "2026-08-11T12:00:00Z",
              "priority": "NORMAL",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "a88581f4-f5f5-546b-8060-cc3f9977adb8",
            "correlationId": "acfff69e-89be-5549-aae9-835d5b40ef72",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ChannelActivityItem": {
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "Unique identifier for the operation.",
            "example": "string"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "string"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "priority": {
            "type": "string",
            "description": "Priority level of the operation.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the record (e.g., active, inactive).",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the record was last updated.",
            "example": "string"
          }
        },
        "description": "Represents a single channel activity item."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Pagination details for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Additional metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "channel-activity-analysis-search-channel-activity-analysis"
        },
        "example": "channel-activity-analysis-search-channel-activity-analysis"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method using a Bearer token format. This method utilizes JSON Web Tokens (JWT) to securely transmit information between parties as a JSON object.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}