{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Reward Points Account Retrieval API",
    "description": "The Reward Points Account Retrieval API allows users to access detailed information regarding their reward points accounts. This API provides essential data such as points balance, transaction history, and account status, enabling users to effectively manage their loyalty points. Typical consumers include banking and finance applications that aim to enhance customer engagement through reward tracking and redemption. With this API, businesses can integrate reward points functionalities seamlessly into their services, improving the overall user experience and fostering customer loyalty.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/account-management/reward-points-account/{param1}": {
      "get": {
        "tags": [
          "accountManagement"
        ],
        "summary": "Retrieve Reward Points Account Details",
        "description": "This endpoint retrieves the details of a specific Reward Points Account using the provided account identifier. It allows users to access their account information, including points balance and transaction history.",
        "operationId": "getRewardPointsAccountById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the reward points account details for the specified account ID. Please ensure the request body is formatted correctly to receive the appropriate response.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetRewardPointsAccountByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of the reward points account data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRewardPointsAccountByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetRewardPointsAccountByIdRequest": {
        "type": "string",
        "description": "A string representing the request body for managing reward points accounts.",
        "example": "{}"
      },
      "GetRewardPointsAccountByIdResponse_200": {
        "title": "Reward Points Account Response",
        "type": "object",
        "properties": {
          "loyaltyAccountId": {
            "type": "string",
            "description": "The unique identifier for the loyalty account.",
            "example": "ACC-966270"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-495056"
          },
          "activityType": {
            "type": "string",
            "description": "The type of activity associated with the reward points account.",
            "example": "STANDARD"
          },
          "points": {
            "type": "integer",
            "description": "The number of reward points available in the account.",
            "format": "int32",
            "example": 1
          },
          "partnerCode": {
            "type": "string",
            "description": "The code for the partner associated with the loyalty account.",
            "example": "CODE-655"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the loyalty account record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the loyalty account record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the reward points account response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Represents the response containing the reward points account details for a customer.",
        "example": {
          "loyaltyAccountId": "ACC-966270",
          "customerId": "CUST-495056",
          "activityType": "STANDARD",
          "points": 1,
          "partnerCode": "CODE-655",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "5a2a9cee-0d1e-5b5c-bc0c-5578b4b03672",
            "correlationId": "ab329b1c-27c3-55ad-80ee-cccf24e19482",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request took place.",
            "example": "string"
          }
        },
        "description": "Contains metadata for the reward points account response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint associated with the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reward-points-account-get-reward-points-account"
        },
        "example": "reward-points-account-get-reward-points-account"
      },
      "X-Runtime-App": {
        "description": "The name or identifier of the application that executed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme utilizing bearer tokens. This method employs JSON Web Tokens (JWT) to securely transmit information between parties. Clients must include this token in the Authorization header of their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}