{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Customer Applications-spec",
    "description": "The Customer Applications Retrieval API allows users to access and explore the applications associated with a specific customer. By utilizing the customerId input, developers can retrieve detailed information about applications, facilitating better customer engagement and data analysis. This API is a valuable resource for businesses needing to monitor application usage and performance metrics for their clients. Typical consumers include support teams and data analysts who require insights into customer application interactions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/{customerId}/application": {
      "get": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Retrieve application for a specific customer.",
        "description": "This endpoint allows you to retrieve the application details associated with the customer ID 'CUST-100045'. It provides necessary information that can be used for further processing or reference.",
        "operationId": "listCustomerApplications",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "description": "This request body contains the necessary parameters to retrieve the application details for the specified customer ID (CUST-100045). Please ensure that any required fields are correctly formatted to avoid errors during processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListCustomerApplicationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the application details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCustomerApplicationsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListCustomerApplicationsRequest": {
        "title": "Customer Application Request Body",
        "type": "string",
        "description": "This schema represents the request body for the operations GET request for a specific customer application. It is expected to be a JSON string containing the necessary information for processing the customer application.",
        "example": "{}"
      },
      "ListCustomerApplicationsResponse_200": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "STANDARD"
          },
          "username": {
            "type": "string",
            "description": "The username associated with the customer.",
            "example": "Northstar Banking Service"
          },
          "firstName": {
            "type": "string",
            "description": "The first name of the customer.",
            "example": "Northstar Banking Service"
          },
          "lastName": {
            "type": "string",
            "description": "The last name of the customer.",
            "example": "Northstar Banking Service"
          },
          "phone": {
            "type": "string",
            "description": "The phone number of the customer.",
            "example": "+1-212-555-0147"
          },
          "email": {
            "type": "string",
            "description": "The email address of the customer.",
            "example": "olivia.bennett@northstar.example"
          },
          "type": {
            "type": "string",
            "description": "The type of customer.",
            "example": "STANDARD"
          },
          "createdDate": {
            "type": "string",
            "description": "The date when the customer was created.",
            "example": "2026-09-15"
          },
          "lastModifiedDate": {
            "type": "string",
            "description": "The date when the customer information was last modified.",
            "example": "2026-09-15"
          },
          "applicationId": {
            "type": "string",
            "description": "The unique identifier for the application associated with the customer.",
            "example": "APP-276972"
          },
          "applicationName": {
            "type": "string",
            "description": "The name of the application associated with the customer.",
            "example": "Northstar Banking Service"
          },
          "metadata": {
            "description": "Metadata related to the response, containing additional details.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for the application operations GET request.",
        "example": {
          "id": "STANDARD",
          "username": "Northstar Banking Service",
          "firstName": "Northstar Banking Service",
          "lastName": "Northstar Banking Service",
          "phone": "+1-212-555-0147",
          "email": "olivia.bennett@northstar.example",
          "type": "STANDARD",
          "createdDate": "2026-09-15",
          "lastModifiedDate": "2026-09-15",
          "applicationId": "APP-276972",
          "applicationName": "Northstar Banking Service",
          "metadata": {
            "responseId": "badaab62-6280-5189-826c-06ad8634c69a",
            "correlationId": "90f8e009-f085-5e9b-a1ab-16ea69bbfba9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP-300123"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracing requests.",
            "example": "CORR-456789"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-01-01T00:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Schema representing metadata regarding the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-customer-with-app-data"
        },
        "example": "open-finance-api-get-customer-with-app-data"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that utilizes bearer tokens for secure API access. The token should follow the JSON Web Token (JWT) format, allowing the API to verify the identity of the requester.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}