{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Payment Details Retrieval API",
    "description": "The Payment Details Retrieval API provides access to detailed information about domestic scheduled payments within the open banking framework. This service allows authorized users to retrieve specific payment details using a unique payment identifier. Retail banks and fintech applications typically consume this API to track payment statuses or resolve customer inquiries. It serves as a vital resource for enhancing user experience and ensuring transparency in transaction management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/domestic-scheduled-payments/{param1}/payment-details": {
      "get": {
        "tags": [
          "Domestic Payments"
        ],
        "summary": "Retrieve payment details for a scheduled domestic payment.",
        "description": "This endpoint allows you to fetch the details of a specific scheduled domestic payment identified by its unique payment ID. It provides comprehensive information about the payment, including its status, amount, and processing information.",
        "operationId": "getPaymentDetailsForDomesticScheduledPaymentPay300045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the details of a scheduled payment with the ID PAY-300045. The request expects specific parameters to be provided in JSON format in order to successfully fetch the relevant payment details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPaymentDetailsForDomesticScheduledPaymentPay300045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved payment details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPaymentDetailsForDomesticScheduledPaymentPay300045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPaymentDetailsForDomesticScheduledPaymentPay300045Request": {
        "type": "string",
        "description": "String representation of the payment details request body for domestic scheduled payments in the PISP API.",
        "example": "{}"
      },
      "GetPaymentDetailsForDomesticScheduledPaymentPay300045Response_200": {
        "title": "Payment Details Response",
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "PaymentStatus": {
                "type": "array",
                "description": "Array of payment transaction status details.",
                "items": {
                  "$ref": "#/components/schemas/PaymentTransactionStatus"
                }
              },
              "Links": {
                "$ref": "#/components/schemas/Links"
              },
              "Meta": {
                "$ref": "#/components/schemas/Meta"
              },
              "metadata": {
                "$ref": "#/components/schemas/Metadata"
              }
            },
            "description": "Data object containing payment details.",
            "example": {
              "PaymentStatus": [
                {
                  "PaymentTransactionId": "TXN-303947",
                  "Status": "ACTIVE",
                  "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
                  "StatusDetail": {
                    "LocalInstrument": "STANDARD",
                    "Status": "ACTIVE",
                    "StatusReason": "VALIDATION_PASSED",
                    "StatusReasonDescription": "STANDARD"
                  }
                }
              ]
            }
          }
        },
        "description": "Schema representing the response for payment details retrieval.",
        "example": {
          "Data": {
            "PaymentStatus": [
              {
                "PaymentTransactionId": "TXN-303947",
                "Status": "ACTIVE",
                "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
                "StatusDetail": {
                  "LocalInstrument": "STANDARD",
                  "Status": "ACTIVE",
                  "StatusReason": "VALIDATION_PASSED",
                  "StatusReasonDescription": "STANDARD"
                }
              }
            ]
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource",
            "Next": "https://example.com/resource",
            "Last": "https://example.com/resource"
          },
          "Meta": {
            "TotalPages": 1,
            "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
            "LastAvailableDateTime": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "responseId": "d07343a9-2e81-590d-9ce3-82e99aa1ed01",
            "correlationId": "59490a23-5683-5ea8-986c-a4da5937217a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentTransactionStatus": {
        "title": "Payment Transaction Status",
        "type": "object",
        "properties": {
          "PaymentTransactionId": {
            "type": "string",
            "description": "Unique identifier for the payment transaction."
          },
          "Status": {
            "type": "string",
            "description": "Current status of the payment transaction."
          },
          "StatusUpdateDateTime": {
            "type": "string",
            "description": "Date and time when the status was last updated."
          },
          "StatusDetail": {
            "description": "Detailed status information about the payment transaction.",
            "$ref": "#/components/schemas/StatusDetail"
          }
        },
        "description": "Schema representing the status details of an individual payment transaction."
      },
      "StatusDetail": {
        "title": "Payment Status Detail",
        "type": "object",
        "properties": {
          "LocalInstrument": {
            "type": "string",
            "description": "The local instrument used for the payment."
          },
          "Status": {
            "type": "string",
            "description": "Status of the payment transaction."
          },
          "StatusReason": {
            "type": "string",
            "description": "Reason for the current status of the payment transaction."
          },
          "StatusReasonDescription": {
            "type": "string",
            "description": "Description of the reason for the current status."
          }
        },
        "description": "Schema representing detailed information about the payment status."
      },
      "Links": {
        "title": "Response Links",
        "type": "object",
        "properties": {
          "Self": {
            "type": "string",
            "description": "Link to the current request."
          },
          "First": {
            "type": "string",
            "description": "Link to the first page of results."
          },
          "Prev": {
            "type": "string",
            "description": "Link to the previous page of results."
          },
          "Next": {
            "type": "string",
            "description": "Link to the next page of results."
          },
          "Last": {
            "type": "string",
            "description": "Link to the last page of results."
          }
        },
        "description": "Schema representing pagination and navigation links related to the response."
      },
      "Meta": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "TotalPages": {
            "type": "integer",
            "description": "Total number of pages in the response.",
            "format": "int32"
          },
          "FirstAvailableDateTime": {
            "type": "string",
            "description": "The first date and time available for payments."
          },
          "LastAvailableDateTime": {
            "type": "string",
            "description": "The last date and time available for payments."
          }
        },
        "description": "Schema representing additional metadata about the response."
      },
      "Metadata": {
        "title": "Response Metadata Object",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request occurred."
          }
        },
        "description": "Schema containing response metadata information."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the payment request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-get-domestic-scheduled-payment-details"
        },
        "example": "payment-initiation-openapi-get-domestic-scheduled-payment-details"
      },
      "X-Runtime-App": {
        "description": "The name or identifier of the application that executed the payment processing.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Uses a Bearer Token for authentication. This scheme supports JSON Web Tokens (JWT), which enables secure transmission of claims between two parties.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}