{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Account Standing Order-spec",
    "description": "The Account Standing Order Management API allows users to create and manage standing orders associated with their bank accounts. This service is designed for individuals and businesses looking to automate regular payments to specified beneficiaries. By providing account details and payment parameters, consumers can streamline their financial transactions and ensure timely payments. Typical use cases include setting up monthly bill payments, subscription services, and other recurring transactions. This API enhances user efficiency and financial management capabilities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/accounts/{accountId}/standing-orders": {
      "post": {
        "tags": [
          "Account Management"
        ],
        "summary": "Create a Standing Order for a specific account.",
        "description": "This endpoint allows you to create a standing order associated with the specified account (ACC-200045). Ensure that all required fields are provided in the request body for successful creation.",
        "operationId": "createAccountStandingOrder",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "description": "Creates a new standing order for the specified account. Ensure that all required fields are provided in the request body for successful creation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAccountStandingOrderRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Standing order created successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAccountStandingOrderResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateAccountStandingOrderRequest": {
        "title": "Standing Orders Request Body",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-683945"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account associated with the standing order.",
            "example": "ACC-794038"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the financial product associated with the standing order.",
            "example": "CHK-PREMIUM-US"
          },
          "principal": {
            "description": "Details regarding the principal amount of the standing order.",
            "$ref": "#/components/schemas/Principal"
          },
          "termMonths": {
            "type": "integer",
            "description": "Duration of the standing order in months.",
            "format": "int32",
            "example": 1
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "Frequency of repayments (e.g., monthly, quarterly, etc.).",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Metadata related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for creating standing orders in a specific account.",
        "example": {
          "customerId": "CUST-683945",
          "accountId": "ACC-794038",
          "productCode": "CHK-PREMIUM-US",
          "principal": {
            "amount": 100.0,
            "currency": "USD"
          },
          "termMonths": 1,
          "repaymentFrequency": "STANDARD",
          "requestContext": {
            "requestId": "11c6ce1e-fecb-5672-95f5-903212251f6d",
            "correlationId": "82aa6196-1750-5bd8-a0b2-a79ab7747eef",
            "idempotencyKey": "549239ad-4c3d-5ae1-86a2-c8e5cbb48cb8",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-798754"
            }
          }
        }
      },
      "Principal": {
        "title": "Principal Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount of the principal for the standing order.",
            "example": 1000.0
          },
          "currency": {
            "type": "string",
            "description": "Currency in which the principal amount is denominated.",
            "example": "USD"
          }
        },
        "description": "Schema representing the principal amount details of the standing order."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate related requests.",
            "example": "CORR789012"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotent processing of the request.",
            "example": "IDEMPOTENTKEY321"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T14:30:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "BankingApp"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Specific application from which the request was made.",
            "example": "MobileBanking"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema containing information and identifiers regarding the context in which the request was made."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "CH123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile, etc.).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device used to make the request.",
            "example": "DEVICE456"
          }
        },
        "description": "Schema representing the channel through which the request is made."
      },
      "CreateAccountStandingOrderResponse_201": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-921945"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "ACC-690573"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product associated with the account.",
            "example": "CHK-PREMIUM-US"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource related to the order.",
            "example": "RES-693979"
          },
          "status": {
            "type": "string",
            "description": "Current status of the standing order.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the standing order was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "RESP123456"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier to correlate the request and response.",
                "example": "CORR789"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the response was generated.",
                "example": "2023-10-05T12:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the order was processed.",
                "example": "US-East"
              }
            },
            "description": "Additional metadata regarding the response.",
            "example": {
              "responseId": "9767c441-a8d7-5396-827f-77e1675e3a90",
              "correlationId": "82aa6196-1750-5bd8-a0b2-a79ab7747eef",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for standing order operations related to account management.",
        "example": {
          "customerId": "CUST-921945",
          "accountId": "ACC-690573",
          "productCode": "CHK-PREMIUM-US",
          "resourceId": "RES-693979",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "9767c441-a8d7-5396-827f-77e1675e3a90",
            "correlationId": "82aa6196-1750-5bd8-a0b2-a79ab7747eef",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "standing-order-create-standing-order"
        },
        "example": "standing-order-create-standing-order"
      },
      "X-Runtime-App": {
        "description": "The application runtime environment where the request was processed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      },
      "X-Workflow-Id": {
        "description": "The identifier for the workflow associated with the operation performed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-015"
        },
        "example": "WF-015"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Scheduled Standing Order Creation and Execution"
        },
        "example": "Scheduled Standing Order Creation and Execution"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ad7ba54c-4782-4749-bf92-d8edd176165c"
        },
        "example": "ad7ba54c-4782-4749-bf92-d8edd176165c"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token that is format compliant with JSON Web Token (JWT). It is commonly used for authentication in APIs and requires that the client includes the token in the Authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}