{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Leasing Details Retrieval API",
    "description": "This API allows users to access detailed information about a specific leasing contract by providing the unique leasing ID. It is designed for financial institutions and service providers to retrieve essential details such as terms, amounts, and status of leasing agreements. Typical consumers include loan officers, customer service representatives, and financial analysts who need quick access to leasing data for client consultations or reporting. By leveraging this API, users can facilitate efficient customer support and enhance decision-making processes related to leasing products.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/leasing/{leasingId}": {
      "get": {
        "tags": [],
        "summary": "Retrieve details for leasing resource RES-100045.",
        "description": "This endpoint allows you to fetch detailed information about the leasing resource identified by RES-100045. It provides insights into the leasing terms, associated financial data, and other important attributes relevant to this specific resource.",
        "operationId": "getLeasingDetailsForResource100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/leasingId"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving leasing details for a specific deposit lending resource identified by RES-100045.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetLeasingDetailsForResource100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLeasingDetailsForResource100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetLeasingDetailsForResource100045Request": {
        "type": "string",
        "description": "A string representing the request body for the GET operation in the leasing deposit lending context.",
        "example": "{}"
      },
      "GetLeasingDetailsForResource100045Response_200": {
        "title": "Operation Response Schema",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-914593"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "ACC-926324"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product.",
            "example": "CHK-PREMIUM-US"
          },
          "principal": {
            "description": "Details regarding the principal amount of the operation.",
            "$ref": "#/components/schemas/Principal"
          },
          "termMonths": {
            "type": "integer",
            "description": "Term of the lease or loan in months.",
            "format": "int32",
            "example": 1
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "Frequency of repayments (e.g., monthly, quarterly).",
            "example": "STANDARD"
          },
          "leasedAssetId": {
            "type": "string",
            "description": "Unique identifier for the leased asset.",
            "example": "STANDARD"
          },
          "residualValue": {
            "description": "Details regarding the residual value of the asset at the end of the lease.",
            "$ref": "#/components/schemas/ResidualValue"
          },
          "leaseTermMonths": {
            "type": "integer",
            "description": "Term of the lease in months.",
            "format": "int32",
            "example": 1
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version of the record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for operations related to deposits and lending leases.",
        "example": {
          "customerId": "CUST-914593",
          "accountId": "ACC-926324",
          "productCode": "CHK-PREMIUM-US",
          "principal": {
            "amount": 100.0,
            "currency": "USD"
          },
          "termMonths": 1,
          "repaymentFrequency": "STANDARD",
          "leasedAssetId": "STANDARD",
          "residualValue": {
            "amount": 100.0,
            "currency": "USD"
          },
          "leaseTermMonths": 1,
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "b5cf6936-657f-57c7-a4b9-5490890189e0",
            "correlationId": "66dfbab9-d8b0-5e69-a0da-880906eeb3b7",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Principal": {
        "title": "Principal Amount Schema",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The monetary value of the principal.",
            "example": 10000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency of the principal amount.",
            "example": "USD"
          }
        },
        "description": "Schema representing the principal amount details."
      },
      "ResidualValue": {
        "title": "Residual Value Schema",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The monetary value of the residual amount.",
            "example": 2000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency of the residual value.",
            "example": "USD"
          }
        },
        "description": "Schema representing the residual value of a leased asset."
      },
      "Metadata": {
        "title": "Metadata Schema",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp_12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate requests and responses.",
            "example": "corr_67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the operation was processed.",
            "example": "US-East"
          }
        },
        "description": "Schema representing additional metadata related to an operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "leasingId": {
        "name": "leasingId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "leasing-get-leasing"
        },
        "example": "leasing-get-leasing"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which requires a valid JSON Web Token (JWT) to be included in the Authorization header of the HTTP request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}