{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Aggregation Customer Institutionlogin Accounts Simples-v5-spec",
    "description": "MICROSERVICE-PROD-List Aggregation Customer Institutionlogin Accounts Simples-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/{customerId}/institutionlogins/{institutionloginId}/accounts/simple": {
      "get": {
        "operationId": "listAggregationCustomerInstitutionloginAccountsSimples",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          },
          {
            "$ref": "#/components/parameters/institutionloginId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListAggregationCustomerInstitutionloginAccountsSimplesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAggregationCustomerInstitutionloginAccountsSimplesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListAggregationCustomerInstitutionloginAccountsSimplesRequest": {
        "type": "string",
        "example": "{}"
      },
      "ListAggregationCustomerInstitutionloginAccountsSimplesResponse_200": {
        "type": "object",
        "properties": {
          "accounts": {
            "type": "array",
            "example": [
              {
                "id": "STANDARD",
                "accountNumberDisplay": "STANDARD",
                "name": "Northstar Banking Service",
                "type": "STANDARD",
                "aggregationStatusCode": 1,
                "status": "ACTIVE",
                "customerId": "CUST-381985",
                "institutionId": "STANDARD",
                "aggregationSuccessDate": 1,
                "aggregationAttemptDate": 1,
                "createdDate": 1,
                "currency": "USD",
                "institutionLoginId": 1,
                "displayPosition": 1,
                "parentAccount": "STANDARD",
                "linkedAccountDate": 1
              }
            ],
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "example": "string"
                },
                "accountNumberDisplay": {
                  "type": "string",
                  "example": "string"
                },
                "name": {
                  "type": "string",
                  "example": "string"
                },
                "type": {
                  "type": "string",
                  "example": "string"
                },
                "aggregationStatusCode": {
                  "type": "integer",
                  "format": "int32",
                  "example": 0
                },
                "status": {
                  "type": "string",
                  "example": "string"
                },
                "customerId": {
                  "type": "string",
                  "example": "string"
                },
                "institutionId": {
                  "type": "string",
                  "example": "string"
                },
                "aggregationSuccessDate": {
                  "type": "integer",
                  "format": "int32",
                  "example": 0
                },
                "aggregationAttemptDate": {
                  "type": "integer",
                  "format": "int32",
                  "example": 0
                },
                "createdDate": {
                  "type": "integer",
                  "format": "int32",
                  "example": 0
                },
                "currency": {
                  "type": "string",
                  "example": "string"
                },
                "institutionLoginId": {
                  "type": "integer",
                  "format": "int32",
                  "example": 0
                },
                "displayPosition": {
                  "type": "integer",
                  "format": "int32",
                  "example": 0
                },
                "parentAccount": {
                  "type": "string",
                  "example": "string"
                },
                "linkedAccountDate": {
                  "type": "integer",
                  "format": "int32",
                  "example": 0
                }
              },
              "example": "string"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "eb2228d7-52b3-5999-9c16-c32f0fdf8ae1",
              "correlationId": "cad91858-cc2e-5923-81d5-5f08e5af6b72",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "accounts": [
            {
              "id": "STANDARD",
              "accountNumberDisplay": "STANDARD",
              "name": "Northstar Banking Service",
              "type": "STANDARD",
              "aggregationStatusCode": 1,
              "status": "ACTIVE",
              "customerId": "CUST-381985",
              "institutionId": "STANDARD",
              "aggregationSuccessDate": 1,
              "aggregationAttemptDate": 1,
              "createdDate": 1,
              "currency": "USD",
              "institutionLoginId": 1,
              "displayPosition": 1,
              "parentAccount": "STANDARD",
              "linkedAccountDate": 1
            }
          ],
          "metadata": {
            "responseId": "eb2228d7-52b3-5999-9c16-c32f0fdf8ae1",
            "correlationId": "cad91858-cc2e-5923-81d5-5f08e5af6b72",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "institutionloginId": {
        "name": "institutionloginId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-customer-accounts-by-institution-login-simple"
        },
        "example": "open-finance-api-get-customer-accounts-by-institution-login-simple"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}