{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Banking Operational Services Processing Order By Processing Order Id-v5-spec",
    "description": "This API allows consumers to access detailed information about a specific banking operational service processing order identified by its unique processing order ID. By leveraging this endpoint, developers can retrieve essential data related to order status, transaction history, and processing details. This can be particularly useful for financial institutions or businesses that need to monitor and manage their operational service transactions efficiently. Typical use cases include customer support inquiries and internal reporting on processing order performance.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/processing-order/{processingOrderId}": {
      "get": {
        "tags": [
          "Processing Orders"
        ],
        "summary": "Retrieve processing order details.",
        "description": "This endpoint allows you to retrieve the details of the specified processing order by its unique resource identifier. It provides essential information about the order status, associated services, and relevant timestamps.",
        "operationId": "getBankingOperationalServicesProcessingOrderByProcessingOrderId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/processingOrderId"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving the processing order details for the specified resource ID (RES-100045). This body must comply with the schema provided to ensure valid requests.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBankingOperationalServicesProcessingOrderByProcessingOrderIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and data retrieved.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBankingOperationalServicesProcessingOrderByProcessingOrderIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBankingOperationalServicesProcessingOrderByProcessingOrderIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the Get Operations processing order. It is expected to be a string that may contain details about the operational services being requested.",
        "example": "{}"
      },
      "GetBankingOperationalServicesProcessingOrderByProcessingOrderIdResponse_200": {
        "title": "Processing Order Response",
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "A unique identifier for the operation.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer associated with the processing order.",
            "example": "CUST-192491"
          },
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account related to the processing order.",
            "example": "ACC-507914"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the processing order was requested.",
            "example": "2026-08-11T12:00:00Z"
          },
          "priority": {
            "type": "string",
            "description": "The priority level of the processing order.",
            "example": "NORMAL"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status indicating the current state of the processing order.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the processing order.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the processing order was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the processing order.",
            "$ref": "#/components/schemas/ProcessingOrderMetadata"
          }
        },
        "description": "This schema represents the response for a processing order operation.",
        "example": {
          "operationId": "STANDARD",
          "customerId": "CUST-192491",
          "accountId": "ACC-507914",
          "requestedAt": "2026-08-11T12:00:00Z",
          "priority": "NORMAL",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "efd9dd5b-2e49-5a17-a46d-354aa6414488",
            "correlationId": "07efa1c1-9357-547f-8473-677bd05a9a35",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ProcessingOrderMetadata": {
        "title": "Processing Order Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "RES123"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier for correlating logs or requests.",
            "example": "COR456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-10-16T11:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographical region where the processing occurred.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata associated with a processing order."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "processingOrderId": {
        "name": "processingOrderId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "processing-order-get-processing-order"
        },
        "example": "processing-order-get-processing-order"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses the Bearer token mechanism. The client must include a valid JWT (JSON Web Token) in the Authorization header of their requests to access secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}