{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List P2m Payments-v5-spec",
    "description": "MICROSERVICE-PROD-List P2m Payments-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/payments": {
      "get": {
        "operationId": "listP2mPayments",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListP2mPaymentsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListP2mPaymentsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListP2mPaymentsRequest": {
        "type": "string",
        "example": "{}"
      },
      "ListP2mPaymentsResponse_200": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "totalItems": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "totalPages": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "hasNext": {
            "type": "boolean",
            "example": true
          },
          "links": {
            "type": "array",
            "example": [
              {
                "rel": "STANDARD",
                "href": "https://example.com/resource",
                "method": "STANDARD"
              }
            ],
            "items": {
              "type": "object",
              "properties": {
                "rel": {
                  "type": "string",
                  "example": "string"
                },
                "href": {
                  "type": "string",
                  "example": "string"
                },
                "method": {
                  "type": "string",
                  "example": "string"
                }
              },
              "example": "string"
            }
          },
          "items": {
            "type": "array",
            "example": [
              {
                "paymentId": "PAY-373314",
                "paymentIntentId": "STANDARD",
                "qrPaymentRequestId": "65e09737-38fe-5b28-b979-d54541b6f896",
                "merchantId": "MER-382914",
                "outletId": "STANDARD",
                "terminalId": "STANDARD",
                "merchantOrderId": "ORD-425816",
                "channel": "STANDARD",
                "paymentMethod": {
                  "type": "STANDARD",
                  "token": "STANDARD",
                  "issuerBankCode": "CODE-170",
                  "maskedIdentifier": "STANDARD",
                  "walletProvider": "STANDARD"
                },
                "customer": {
                  "id": "STANDARD",
                  "name": "Northstar Banking Service",
                  "email": "olivia.bennett@northstar.example",
                  "phone": "+1-212-555-0147",
                  "riskSegment": "STANDARD"
                },
                "amounts": {
                  "requested": {
                    "currency": "USD",
                    "value": "STANDARD"
                  },
                  "authorized": {
                    "currency": "USD",
                    "value": "STANDARD"
                  },
                  "captured": {
                    "currency": "USD",
                    "value": "STANDARD"
                  },
                  "refunded": {
                    "currency": "USD",
                    "value": "STANDARD"
                  },
                  "reversed": {
                    "currency": "USD"
                  }
                }
              }
            ],
            "items": {
              "type": "object",
              "properties": {
                "paymentId": {
                  "type": "string",
                  "example": "string"
                },
                "paymentIntentId": {
                  "type": "string",
                  "example": "string"
                },
                "qrPaymentRequestId": {
                  "type": "string",
                  "example": "string"
                },
                "merchantId": {
                  "type": "string",
                  "example": "string"
                },
                "outletId": {
                  "type": "string",
                  "example": "string"
                },
                "terminalId": {
                  "type": "string",
                  "example": "string"
                },
                "merchantOrderId": {
                  "type": "string",
                  "example": "string"
                },
                "channel": {
                  "type": "string",
                  "example": "string"
                },
                "paymentMethod": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "string"
                    },
                    "token": {
                      "type": "string",
                      "example": "string"
                    },
                    "issuerBankCode": {
                      "type": "string",
                      "example": "string"
                    },
                    "maskedIdentifier": {
                      "type": "string",
                      "example": "string"
                    },
                    "walletProvider": {
                      "type": "string",
                      "example": "string"
                    }
                  },
                  "example": "string"
                },
                "customer": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "string"
                    },
                    "name": {
                      "type": "string",
                      "example": "string"
                    },
                    "email": {
                      "type": "string",
                      "example": "string"
                    },
                    "phone": {
                      "type": "string",
                      "example": "string"
                    },
                    "riskSegment": {
                      "type": "string",
                      "example": "string"
                    }
                  },
                  "example": "string"
                },
                "amounts": {
                  "type": "object",
                  "properties": {
                    "requested": {
                      "type": "object",
                      "properties": {
                        "currency": {
                          "type": "string",
                          "example": "string"
                        },
                        "value": {
                          "type": "string",
                          "example": "string"
                        }
                      },
                      "example": "string"
                    },
                    "authorized": {
                      "type": "object",
                      "properties": {
                        "currency": {
                          "type": "string",
                          "example": "string"
                        },
                        "value": {
                          "type": "string",
                          "example": "string"
                        }
                      },
                      "example": "string"
                    },
                    "captured": {
                      "type": "object",
                      "properties": {
                        "currency": {
                          "type": "string",
                          "example": "string"
                        },
                        "value": {
                          "type": "string",
                          "example": "string"
                        }
                      },
                      "example": "string"
                    },
                    "refunded": {
                      "type": "object",
                      "properties": {
                        "currency": {
                          "type": "string",
                          "example": "string"
                        },
                        "value": {
                          "type": "string",
                          "example": "string"
                        }
                      },
                      "example": "string"
                    },
                    "reversed": {
                      "type": "object",
                      "properties": {
                        "currency": {
                          "type": "string",
                          "example": "string"
                        }
                      },
                      "example": "string"
                    }
                  },
                  "example": "string"
                }
              },
              "example": "string"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "bb1fa281-6d95-50c7-b7ec-f301c822a571",
              "correlationId": "db5ace05-e956-52d7-aa91-b619cfb3867d",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "page": 1,
          "pageSize": 1,
          "totalItems": 1,
          "totalPages": 1,
          "hasNext": true,
          "links": [
            {
              "rel": "STANDARD",
              "href": "https://example.com/resource",
              "method": "STANDARD"
            }
          ],
          "items": [
            {
              "paymentId": "PAY-373314",
              "paymentIntentId": "STANDARD",
              "qrPaymentRequestId": "65e09737-38fe-5b28-b979-d54541b6f896",
              "merchantId": "MER-382914",
              "outletId": "STANDARD",
              "terminalId": "STANDARD",
              "merchantOrderId": "ORD-425816",
              "channel": "STANDARD",
              "paymentMethod": {
                "type": "STANDARD",
                "token": "STANDARD",
                "issuerBankCode": "CODE-170",
                "maskedIdentifier": "STANDARD",
                "walletProvider": "STANDARD"
              },
              "customer": {
                "id": "STANDARD",
                "name": "Northstar Banking Service",
                "email": "olivia.bennett@northstar.example",
                "phone": "+1-212-555-0147",
                "riskSegment": "STANDARD"
              },
              "amounts": {
                "requested": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "authorized": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "captured": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "refunded": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "reversed": {
                  "currency": "USD"
                }
              }
            }
          ],
          "metadata": {
            "responseId": "bb1fa281-6d95-50c7-b7ec-f301c822a571",
            "correlationId": "db5ace05-e956-52d7-aa91-b619cfb3867d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-list-payments"
        },
        "example": "banking-p2m-openapi-list-payments"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}