{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Loan Offer Retrieval API",
    "description": "The Loan Offer Retrieval API enables consumers to fetch detailed information regarding specific loan offers linked to a particular loan application. By utilizing the unique identifiers for both the loan application and the offer, users can access key insights such as terms, rates, and conditions of the offer. This API serves financial institutions and third-party developers looking to integrate or display loan offerings for users. Typical use cases include enhancing user experiences in loan comparison tools and facilitating informed decision-making.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{param1}/offers/{offerId}": {
      "get": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Retrieve loan offers for a specific loan application.",
        "description": "This endpoint allows you to fetch the offers associated with a specific loan application using its resource ID. It provides detailed information about the available offers for that application, enabling users to make informed decisions.",
        "operationId": "getLoanApplicationsOffersByResourceId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          },
          {
            "$ref": "#/components/parameters/offerId"
          }
        ],
        "requestBody": {
          "description": "A request to retrieve loan offer details for a specific loan application. This body contains the necessary parameters to specify the loan application and the corresponding offer.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetLoanApplicationsOffersByResourceIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning loan offer details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLoanApplicationsOffersByResourceIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetLoanApplicationsOffersByResourceIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for obtaining loan application offers. The body should be a valid string format.",
        "example": "{}"
      },
      "GetLoanApplicationsOffersByResourceIdResponse_200": {
        "type": "object",
        "properties": {
          "offerType": {
            "type": "string",
            "description": "The type of loan offer.",
            "example": "STANDARD"
          },
          "approvedPrincipal": {
            "description": "The principal amount that has been approved for the loan.",
            "$ref": "#/components/schemas/Money"
          },
          "termMonths": {
            "type": "integer",
            "description": "The duration of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "annualInterestRatePercent": {
            "type": "string",
            "description": "The annual interest rate applied to the loan.",
            "example": "STANDARD"
          },
          "annualPercentageRatePercent": {
            "type": "string",
            "description": "The annual percentage rate which includes fees and costs associated with the loan.",
            "example": "STANDARD"
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "The frequency of repayment for the loan.",
            "example": "STANDARD"
          },
          "estimatedInstallment": {
            "description": "The estimated amount to be paid in each installment.",
            "$ref": "#/components/schemas/Money"
          },
          "originationFee": {
            "description": "The fee charged for processing the loan application.",
            "$ref": "#/components/schemas/Money"
          },
          "insurancePremium": {
            "description": "The premium for any insurance associated with the loan.",
            "$ref": "#/components/schemas/Money"
          },
          "validUntil": {
            "type": "string",
            "description": "The date until the offer is valid.",
            "example": "2026-08-11T12:00:00Z"
          },
          "conditions": {
            "type": "array",
            "description": "Conditions that must be fulfilled for the loan offer.",
            "example": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "dueBefore": "STANDARD",
                "status": "ACTIVE"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Condition"
            }
          },
          "disclosures": {
            "type": "array",
            "description": "Disclosures related to the loan offer.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "example": "Example disclosure text."
            }
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the loan offer.",
            "example": "dbe2aaf2-e333-cca2-dbd5-38efbf5b1624"
          },
          "offerNumber": {
            "type": "string",
            "description": "The specific number assigned to the loan offer.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the loan offer.",
            "example": "ACTIVE"
          },
          "issuedAt": {
            "type": "string",
            "description": "The date the offer was issued.",
            "example": "2026-08-11T12:00:00Z"
          },
          "acceptedAt": {
            "type": "string",
            "description": "The date the offer was accepted.",
            "example": "2026-08-11T12:00:00Z"
          },
          "acceptedByCustomerId": {
            "type": "string",
            "description": "ID of the customer who accepted the offer.",
            "example": "CUST-772118"
          },
          "audit": {
            "description": "Audit information regarding the creation and updates of the loan offer.",
            "$ref": "#/components/schemas/AuditMetadata"
          },
          "metadata": {
            "description": "Additional metadata related to the loan offer.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema for the loan offer response including details about the offer type, financial terms, and conditions.",
        "example": {
          "offerType": "STANDARD",
          "approvedPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "termMonths": 1,
          "annualInterestRatePercent": "STANDARD",
          "annualPercentageRatePercent": "STANDARD",
          "repaymentFrequency": "STANDARD",
          "estimatedInstallment": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "originationFee": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "insurancePremium": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "validUntil": "2026-08-11T12:00:00Z",
          "conditions": [
            {
              "code": "SUCCESS",
              "description": "Customer banking request processed successfully",
              "dueBefore": "STANDARD",
              "status": "ACTIVE"
            }
          ],
          "disclosures": [
            "STANDARD"
          ],
          "id": "dbe2aaf2-e333-cca2-dbd5-38efbf5b1624",
          "offerNumber": "STANDARD",
          "status": "ACTIVE",
          "issuedAt": "2026-08-11T12:00:00Z",
          "acceptedAt": "2026-08-11T12:00:00Z",
          "acceptedByCustomerId": "CUST-772118",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "857ba75d-ef87-5981-8746-a97f977ea94e",
            "correlationId": "1a8b2ba1-10d1-57c5-92ca-b35feeb41b86",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Money": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency code (e.g., USD, EUR).",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The monetary amount.",
            "example": "1000.00"
          }
        },
        "description": "Represents a monetary amount with associated currency."
      },
      "Condition": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "The code representing the condition.",
            "example": "COND-001"
          },
          "description": {
            "type": "string",
            "description": "A description of the condition.",
            "example": "Must provide proof of income."
          },
          "dueBefore": {
            "type": "string",
            "description": "The date by which the condition must be fulfilled.",
            "example": "2023-03-01"
          },
          "status": {
            "type": "string",
            "description": "The status of the condition (e.g., met, unmet).",
            "example": "met"
          }
        },
        "description": "Details about a condition that must be met for the loan offer."
      },
      "AuditMetadata": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "The date and time the offer was created.",
            "example": "2023-01-01T10:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "The identifier of the user who created the offer.",
            "example": "admin"
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time the offer was last updated.",
            "example": "2023-01-10T12:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "The identifier of the user who last updated the offer.",
            "example": "admin"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the offer.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Audit information for tracking changes made to the loan offer."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "correlation-456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-01-01T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the application took place.",
            "example": "US-East"
          }
        },
        "description": "Metadata information related to the loan offer response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "offerId": {
        "name": "offerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "This header contains the unique identifier for the API endpoint that was hit during the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-get-loan-offer"
        },
        "example": "banking-loans-openapi-get-loan-offer"
      },
      "X-Runtime-App": {
        "description": "This header indicates the runtime application environment in which the API request was processed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a bearer token. The token is a JSON Web Token (JWT) that can be sent in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}