{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Fraud Evaluation Reviews API",
    "description": "This API facilitates the submission of reviews related to fraud evaluations in banking account management. By allowing users to input their insights or feedback, the API enhances the assessment process and aids in the identification of potential fraud patterns. Typical consumers include banking institutions and fraud analysts, utilizing the reviews to make informed decisions. The API serves as a critical tool in improving fraud detection strategies and strengthening the overall integrity of account management systems.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/account-management/fraud-evaluation/{param1}/reviews": {
      "post": {
        "tags": [
          "Fraud Management"
        ],
        "summary": "Create a fraud review for a specific resource.",
        "description": "This endpoint allows you to submit a fraud review for the resource identified by the ID 'RES-100045'. You can provide details about the review to help assess potential fraudulent activity associated with this resource.",
        "operationId": "createFraudReviewForResource100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "The request body for submitting a review for fraud evaluation. This should include relevant data pertaining to the review being submitted, such as user information and evaluation criteria.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFraudReviewForResource100045Request"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request accepted and will be processed shortly.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateFraudReviewForResource100045Response_202"
                }
              }
            }
          },
          "422": {
            "description": "The request was well-formed but unable to be processed.",
            "headers": {
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateFraudReviewForResource100045Response_422"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateFraudReviewForResource100045Response_202": {
        "title": "Fraud Evaluation Response",
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "A reference identifier for the action taken.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "The type of action performed.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The status of the fraud evaluation process.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "The timestamp when the fraud evaluation was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/FraudEvaluationMetadata"
          }
        },
        "description": "This schema represents the response structure for fraud evaluation operations.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "f326aea1-1f53-5b98-b5a5-d8513896f236",
            "correlationId": "b9e892c8-cdf6-5877-9261-6e80a6b36353",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "FraudEvaluationMetadata": {
        "title": "Fraud Evaluation Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Contains additional metadata related to the fraud evaluation response."
      },
      "CreateFraudReviewForResource100045Request": {
        "title": "Fraud Evaluation Review Request",
        "type": "object",
        "properties": {
          "reviewReason": {
            "type": "string",
            "description": "The reason for the review.",
            "example": "STANDARD"
          },
          "reviewScope": {
            "type": "array",
            "description": "The scope of the review, usually a list of identifiers.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "An identifier within the review scope.",
              "example": "transactionId123"
            }
          },
          "assignedReviewerId": {
            "type": "string",
            "description": "The ID of the reviewer assigned to this review.",
            "example": "STANDARD"
          },
          "dueAt": {
            "type": "string",
            "description": "The due date for the review.",
            "example": "2026-08-11T12:00:00Z"
          },
          "requestContext": {
            "description": "Context information for the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for posting a fraud evaluation review.",
        "example": {
          "reviewReason": "STANDARD",
          "reviewScope": [
            "STANDARD"
          ],
          "assignedReviewerId": "STANDARD",
          "dueAt": "2026-08-11T12:00:00Z",
          "requestContext": {
            "requestId": "a0686e6f-7ef9-5d09-aa45-cb6df841b4a6",
            "correlationId": "b9e892c8-cdf6-5877-9261-6e80a6b36353",
            "idempotencyKey": "a2d200a0-51d2-52a6-91e5-1b45ad83bf52",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-961233"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request across services.",
            "example": "corr-67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is processed only once.",
            "example": "idempotent-key-abc"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "payment-gateway"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that made the request.",
            "example": "web-portal"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device making the request.",
            "example": "device-xyz"
          }
        },
        "description": "Schema representing the channel through which the request was made."
      },
      "CreateFraudReviewForResource100045Response_422": {
        "title": "ErrorResponse",
        "type": "object",
        "properties": {
          "correlationId": {
            "type": "string",
            "description": "A unique identifier for the request, used for tracking purposes.",
            "example": "c6544b31-3898-4fe5-8fa8-6a85d711dfb0"
          },
          "code": {
            "type": "string",
            "description": "The error code indicating the type of error that occurred.",
            "example": "RISK_REVIEW_REJECTED"
          },
          "workflow": {
            "type": "string",
            "description": "The workflow stage at which the error occurred.",
            "example": "WF-042"
          },
          "message": {
            "type": "string",
            "description": "A human-readable message providing details about the error.",
            "example": "Enhanced fraud/compliance review rejected the request"
          }
        },
        "description": "Schema representing the structure of an error response for fraud evaluation reviews.",
        "example": {
          "correlationId": "c6544b31-3898-4fe5-8fa8-6a85d711dfb0",
          "code": "RISK_REVIEW_REJECTED",
          "workflow": "WF-042",
          "message": "Enhanced fraud/compliance review rejected the request"
        }
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-042"
        },
        "example": "WF-042"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "70a52a23-b6c0-462e-83ed-60d64b035882"
        },
        "example": "70a52a23-b6c0-462e-83ed-60d64b035882"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "RISK_REJECT"
        },
        "example": "RISK_REJECT"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "02c63453-5d23-4822-8e03-409219d197a0"
        },
        "example": "02c63453-5d23-4822-8e03-409219d197a0"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202",
            "MICROSERVICE_PROD_422"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that processed the request, used for endpoint tracking and monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "fraud-evaluation-review-fraud-evaluation"
        },
        "example": "fraud-evaluation-review-fraud-evaluation"
      },
      "X-Runtime-App": {
        "description": "The name of the application in which the request was executed. This helps in identifying the context of the transaction.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      },
      "X-Workflow-Id": {
        "description": "The identifier for the workflow that was initiated during the request process. Useful for tracing the flow of operations.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-042"
        },
        "example": "WF-042"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method using a Bearer token. This scheme is designed to be used with JSON Web Tokens (JWT) for secure API access.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}