{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Marketing Advertisings-spec",
    "description": "The Marketing Advertising Retrieval API provides businesses with the ability to access and view a comprehensive list of their marketing advertising campaigns. This endpoint supports the retrieval of detailed information about various advertising initiatives currently in effect or archived, allowing for performance evaluation and strategic planning. Typical consumers include marketing teams, data analysts, and decision-makers seeking insights into advertising efforts. By utilizing this API, organizations can efficiently manage their advertising portfolios and optimize future campaigns.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/marketing/advertising": {
      "get": {
        "tags": [
          "Marketing"
        ],
        "summary": "Retrieve Advertising Data",
        "description": "This endpoint allows users to fetch advertising data related to marketing campaigns. It provides detailed insights into ad performance, impressions, clicks, and other relevant metrics to help optimize marketing strategies.",
        "operationId": "listMarketingAdvertisings",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve advertising information within the marketing context. Ensure that the necessary parameters are included for optimal results.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListMarketingAdvertisingsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved advertising data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListMarketingAdvertisingsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListMarketingAdvertisingsRequest": {
        "type": "string",
        "description": "A request body for the GET operation related to advertising in the marketing service. This string may contain JSON formatted data.",
        "example": "{}"
      },
      "ListMarketingAdvertisingsResponse_200": {
        "title": "Marketing Advertising Operations Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of advertising campaign items.",
            "example": [
              {
                "campaignId": "STANDARD",
                "targetSegmentId": "STANDARD",
                "channelMix": [
                  "STANDARD"
                ],
                "budget": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "startDate": "2026-09-15",
                "endDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/AdvertisingCampaign"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Schema representing the response structure for GET operations on marketing advertising.",
        "example": {
          "items": [
            {
              "campaignId": "STANDARD",
              "targetSegmentId": "STANDARD",
              "channelMix": [
                "STANDARD"
              ],
              "budget": {
                "amount": 100.0,
                "currency": "USD"
              },
              "startDate": "2026-09-15",
              "endDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "0f6cd51d-67e7-581a-8446-70df83155720",
            "correlationId": "fac44f9f-e52d-586d-947e-fc8dd8f0fc29",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AdvertisingCampaign": {
        "title": "Advertising Campaign",
        "type": "object",
        "properties": {
          "campaignId": {
            "type": "string",
            "description": "Unique identifier for the advertising campaign.",
            "example": "string"
          },
          "targetSegmentId": {
            "type": "string",
            "description": "Identifier for the target segment of the campaign.",
            "example": "string"
          },
          "channelMix": {
            "type": "array",
            "description": "List of channels used in the advertising campaign.",
            "items": {
              "type": "string",
              "example": "string"
            }
          },
          "budget": {
            "$ref": "#/components/schemas/Budget"
          },
          "startDate": {
            "type": "string",
            "description": "The start date of the campaign.",
            "example": "string"
          },
          "endDate": {
            "type": "string",
            "description": "The end date of the campaign.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the campaign record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the campaign was last updated.",
            "example": "string"
          }
        },
        "description": "Schema representing an advertising campaign."
      },
      "Budget": {
        "title": "Budget",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The monetary amount allocated for the campaign budget.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency of the budget amount.",
            "example": "string"
          }
        },
        "description": "Schema representing the budget details for an advertising campaign."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Schema representing pagination information for the response."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID to trace the request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Schema for metadata included in the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the API endpoint being accessed, useful for tracing and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "advertising-search-advertising"
        },
        "example": "advertising-search-advertising"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request, which helps in identifying the source of a response for debugging and monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token for authentication. The token must be a JSON Web Token (JWT) which is passed in the `Authorization` header of HTTP requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}