{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Loan Payment Processing API",
    "description": "The Loan Payment Processing API facilitates the submission of payments for specific loans identified by loan IDs. This API empowers financial institutions and loan servicers to efficiently manage incoming payments, enhancing cash flow and customer satisfaction. Typical consumers include banking applications, loan management software, and financial service platforms that require a seamless payment integration. By leveraging this API, organizations can automate payment processes and ensure timely updates to loan balance information.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/loans/{loanId}/payments": {
      "post": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Create a payment for a specified loan.",
        "description": "This operation allows users to initiate a payment for an existing loan identified by LOAN-500045. The payment will be processed and recorded against the loan's payment history.",
        "operationId": "createLoanPayment",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/loanId"
          }
        ],
        "requestBody": {
          "description": "Request body for processing a payment for the specified loan (LOAN-500045). This request expects a JSON payload containing payment details that will be processed accordingly.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLoanPaymentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payment processed successfully and the resource has been created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateLoanPaymentResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateLoanPaymentRequest": {
        "title": "Loan Payment Request",
        "type": "object",
        "properties": {
          "amount": {
            "description": "The amount of money for the loan payment, including currency and amount details.",
            "$ref": "#/components/schemas/PaymentAmount"
          },
          "paymentDate": {
            "type": "string",
            "description": "The date when the payment is made.",
            "example": "2026-09-15"
          },
          "valueDate": {
            "type": "string",
            "description": "The date when the payment value is effective.",
            "example": "2026-09-15"
          },
          "paymentMethod": {
            "type": "string",
            "description": "The method used to make the payment (e.g., bank transfer, credit card).",
            "example": "STANDARD"
          },
          "sourceAccountNumber": {
            "type": "string",
            "description": "The account number from which the payment is made.",
            "example": "STANDARD"
          },
          "externalReference": {
            "type": "string",
            "description": "An external reference for tracking the payment (e.g., transaction ID).",
            "example": "STANDARD"
          },
          "allocationStrategy": {
            "type": "string",
            "description": "The strategy used for allocating the payment among various components (e.g., principal, interest).",
            "example": "STANDARD"
          },
          "targetInstallmentNumbers": {
            "type": "array",
            "description": "The list of installment numbers that this payment applies to.",
            "example": [
              1
            ],
            "items": {
              "type": "integer",
              "format": "int32"
            }
          },
          "manualAllocation": {
            "description": "Manual allocations for principal, interest, fees, etc.",
            "$ref": "#/components/schemas/ManualAllocation"
          },
          "narrative": {
            "type": "string",
            "description": "A narrative or description accompanying the payment.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for making a loan payment request, detailing payment amount, dates, methods, and allocation strategies.",
        "example": {
          "amount": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "paymentDate": "2026-09-15",
          "valueDate": "2026-09-15",
          "paymentMethod": "STANDARD",
          "sourceAccountNumber": "STANDARD",
          "externalReference": "STANDARD",
          "allocationStrategy": "STANDARD",
          "targetInstallmentNumbers": [
            1
          ],
          "manualAllocation": {
            "principal": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "interest": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "fees": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "penalties": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "excess": {
              "currency": "USD",
              "amount": "1250.75"
            }
          },
          "narrative": "STANDARD",
          "requestContext": {
            "requestId": "dcb9d554-1b54-5fce-b7a9-7fa3ff7d60df",
            "correlationId": "35a3c46f-14e3-5e9e-8d11-d11cb9e09c15",
            "idempotencyKey": "8292c783-accc-52f6-b418-d1762142897b",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-477439"
            }
          }
        }
      },
      "PaymentAmount": {
        "title": "Payment Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency of the payment amount.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The actual amount to be paid.",
            "example": "1000.00"
          }
        },
        "description": "Schema describing the payment amount details including currency and value."
      },
      "ManualAllocation": {
        "title": "Manual Allocation Details",
        "type": "object",
        "properties": {
          "principal": {
            "description": "Allocation amount towards the principal.",
            "$ref": "#/components/schemas/Amount"
          },
          "interest": {
            "description": "Allocation amount towards the interest.",
            "$ref": "#/components/schemas/Amount"
          },
          "fees": {
            "description": "Allocation amount towards any fees incurred.",
            "$ref": "#/components/schemas/Amount"
          },
          "penalties": {
            "description": "Allocation amount towards any penalties.",
            "$ref": "#/components/schemas/Amount"
          },
          "excess": {
            "description": "Any excess amount after allocation.",
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "Details for manually allocating the payment to various components."
      },
      "AllocationDetail": {
        "title": "Allocation Detail",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency for this allocation detail.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The amount allocated.",
            "example": "100.00"
          }
        },
        "description": "Schema detailing the allocation amounts including the currency."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID to track requests across systems.",
            "example": "CORR-12345"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is idempotent.",
            "example": "IDEM-KEY-12345"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-24T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system initiating the request.",
            "example": "banking_system"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request is originated.",
            "example": "mobile_app"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema providing contextual information for the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "CH-12345"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel used.",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device used.",
            "example": "DEVICE-ID-12345"
          }
        },
        "description": "Schema detailing the channel information."
      },
      "CreateLoanPaymentResponse_201": {
        "title": "Loan Payment Response",
        "type": "object",
        "properties": {
          "amount": {
            "description": "The amount associated with the payment, including currency and the amount value.",
            "$ref": "#/components/schemas/Amount"
          },
          "paymentDate": {
            "type": "string",
            "description": "The date the payment was made.",
            "example": "2026-09-15"
          },
          "valueDate": {
            "type": "string",
            "description": "The date that this payment will be recognized in the borrower\u2019s account.",
            "example": "2026-09-15"
          },
          "paymentMethod": {
            "type": "string",
            "description": "The method used for the payment, e.g., bank transfer, credit card.",
            "example": "STANDARD"
          },
          "sourceAccountNumber": {
            "type": "string",
            "description": "The account number from which the payment was made.",
            "example": "STANDARD"
          },
          "externalReference": {
            "type": "string",
            "description": "An external reference for tracking the payment.",
            "example": "STANDARD"
          },
          "allocationStrategy": {
            "type": "string",
            "description": "The strategy used for allocating this payment among installments.",
            "example": "STANDARD"
          },
          "targetInstallmentNumbers": {
            "type": "array",
            "description": "The installment numbers that this payment is targeting.",
            "example": [
              1
            ],
            "items": {
              "type": "integer",
              "format": "int32",
              "example": 1
            }
          },
          "manualAllocation": {
            "description": "Details for manually allocating the payment among principal, interest, fees, penalties, and excess.",
            "$ref": "#/components/schemas/ManualAllocation"
          },
          "narrative": {
            "type": "string",
            "description": "A narrative or description related to the payment.",
            "example": "STANDARD"
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for this payment.",
            "example": "9f0a69c9-6290-05d2-955b-622a00ca4467"
          },
          "paymentNumber": {
            "type": "string",
            "description": "The unique number assigned to this payment.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the payment.",
            "example": "ACTIVE"
          },
          "allocation": {
            "description": "Details of how this payment was allocated among various components.",
            "$ref": "#/components/schemas/Allocation"
          },
          "transactionReference": {
            "type": "string",
            "description": "A reference identifier for the transaction.",
            "example": "STANDARD"
          },
          "postedAt": {
            "type": "string",
            "description": "The timestamp when the payment was recorded.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Additional metadata associated with the payment operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for a loan payment operation, providing details about the payment made.",
        "example": {
          "amount": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "paymentDate": "2026-09-15",
          "valueDate": "2026-09-15",
          "paymentMethod": "STANDARD",
          "sourceAccountNumber": "STANDARD",
          "externalReference": "STANDARD",
          "allocationStrategy": "STANDARD",
          "targetInstallmentNumbers": [
            1
          ],
          "manualAllocation": {
            "principal": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "interest": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "fees": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "penalties": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "excess": {
              "currency": "USD",
              "amount": "1250.75"
            }
          },
          "narrative": "STANDARD",
          "id": "9f0a69c9-6290-05d2-955b-622a00ca4467",
          "paymentNumber": "STANDARD",
          "status": "ACTIVE",
          "allocation": {
            "principal": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "interest": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "fees": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "penalties": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "excess": {
              "currency": "USD",
              "amount": "1250.75"
            }
          },
          "transactionReference": "STANDARD",
          "postedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "b86f6b7f-8607-59cb-b6ea-3265d076df23",
            "correlationId": "35a3c46f-14e3-5e9e-8d11-d11cb9e09c15",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Amount": {
        "title": "Payment Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is denominated.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The amount value.",
            "example": "100.00"
          }
        },
        "description": "Represents the amount details for a payment, including currency and value."
      },
      "Allocation": {
        "title": "Payment Allocation Details",
        "type": "object",
        "properties": {
          "principal": {
            "description": "Allocated amount to the principal amount.",
            "$ref": "#/components/schemas/Amount"
          },
          "interest": {
            "description": "Allocated amount to the interest.",
            "$ref": "#/components/schemas/Amount"
          },
          "fees": {
            "description": "Allocated amount to any applicable fees.",
            "$ref": "#/components/schemas/Amount"
          },
          "penalties": {
            "description": "Allocated amount to penalties incurred.",
            "$ref": "#/components/schemas/Amount"
          },
          "excess": {
            "description": "Any excess funds remaining after allocation.",
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "Details of how the payment has been allocated among its components."
      },
      "Metadata": {
        "title": "Payment Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses.",
            "example": "CORR-123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the payment processing occurred.",
            "example": "US-East"
          }
        },
        "description": "Additional metadata included with the payment information."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "loanId": {
        "name": "loanId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the API endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-create-loan-payment"
        },
        "example": "banking-loans-openapi-create-loan-payment"
      },
      "X-Runtime-App": {
        "description": "Indicates the application environment in which the request was handled.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      },
      "X-Workflow-Id": {
        "description": "Identifier for the specific workflow that is associated with the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-036"
        },
        "example": "WF-036"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Loan Repayment and Delinquency Handling"
        },
        "example": "Loan Repayment and Delinquency Handling"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "4e9a9dc7-e819-4927-bcf5-4fb5e0e5ca20"
        },
        "example": "4e9a9dc7-e819-4927-bcf5-4fb5e0e5ca20"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method, which requires a JSON Web Token (JWT) for accessing protected resources. The client must include the JWT in the Authorization header when making requests to secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}