{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create External Agency Sub Custodian Agreement-spec",
    "description": "This API facilitates the establishment of agreements with external agency sub custodians, allowing financial institutions to streamline their custodial operations. By leveraging this endpoint, businesses can create new agreements efficiently, ensuring compliance with regulatory standards. Typical consumers include banks and asset management firms that require a trusted framework to manage asset custody relationships. The API supports seamless integration into existing banking workflows, enhancing operational agility and collaboration with external partners.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://reference-product-app:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/external-agency/sub-custodian-agreement": {
      "post": {
        "tags": [
          "External Agency Management"
        ],
        "summary": "Create a new sub-custodian agreement.",
        "description": "This operation allows you to create a new sub-custodian agreement for the specified external agency. Ensure that all required fields are filled in the request body to successfully create the agreement.",
        "operationId": "createExternalAgencySubCustodianAgreement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for creating a sub-custodian agreement with an external agency. This includes the necessary details and parameters required to establish the agreement appropriately.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateExternalAgencySubCustodianAgreementRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The sub-custodian agreement has been created successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateExternalAgencySubCustodianAgreementResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateExternalAgencySubCustodianAgreementRequest": {
        "title": "Sub Custodian Agreement Request Body",
        "type": "object",
        "properties": {
          "institutionId": {
            "type": "string",
            "description": "The unique identifier of the institution.",
            "example": "STANDARD"
          },
          "agreementId": {
            "type": "string",
            "description": "The unique identifier for the agreement.",
            "example": "AGR-580838"
          },
          "bic": {
            "type": "string",
            "description": "The Bank Identifier Code associated with the institution.",
            "example": "STANDARD"
          },
          "countryCode": {
            "type": "string",
            "description": "The country code where the institution is located.",
            "example": "US"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date when the agreement becomes effective.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for creating a sub custodian agreement.",
        "example": {
          "institutionId": "STANDARD",
          "agreementId": "AGR-580838",
          "bic": "STANDARD",
          "countryCode": "US",
          "effectiveDate": "2026-09-15",
          "requestContext": {
            "requestId": "627b38b3-2092-5430-97b2-55a3508cbb1a",
            "correlationId": "6137d418-1670-5f80-810b-6646025e09b9",
            "idempotencyKey": "e218262e-3e55-55e9-bd99-5a0ff80f1546",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-575240"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "REQ-7890"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to trace requests across systems.",
            "example": "CORR-1234"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure that requests are idempotent.",
            "example": "IDEM-5678"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "System-X"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "App-Y"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contains contextual information about the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "CHANNEL-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used (e.g., API, Web, Mobile).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used for the request.",
            "example": "DEVICE-XYZ"
          }
        },
        "description": "Information about the channel used for the request."
      },
      "CreateExternalAgencySubCustodianAgreementResponse_201": {
        "title": "Sub Custodian Agreement Response",
        "type": "object",
        "properties": {
          "institutionId": {
            "type": "string",
            "description": "Unique identifier for the institution.",
            "example": "STANDARD"
          },
          "agreementId": {
            "type": "string",
            "description": "Unique identifier for the agreement.",
            "example": "AGR-418016"
          },
          "countryCode": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2 code of the country.",
            "example": "US"
          },
          "resourceId": {
            "type": "string",
            "description": "Identifier for the resource associated with the agreement.",
            "example": "RES-128794"
          },
          "status": {
            "type": "string",
            "description": "Current status of the agreement.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the agreement was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/AgreementMetadata"
          }
        },
        "description": "Response schema for the creation of a sub custodian agreement.",
        "example": {
          "institutionId": "STANDARD",
          "agreementId": "AGR-418016",
          "countryCode": "US",
          "resourceId": "RES-128794",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "386514e0-3b15-5b71-9138-f3d4a29b82ec",
            "correlationId": "6137d418-1670-5f80-810b-6646025e09b9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AgreementMetadata": {
        "title": "Agreement Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating multiple requests/responses.",
            "example": "correlation-001"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the agreement took place.",
            "example": "NA"
          }
        },
        "description": "Metadata associated with the sub custodian agreement."
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-095"
        },
        "example": "WF-095"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "893c9827-7d56-4c40-8634-69a305ed9ccf"
        },
        "example": "893c9827-7d56-4c40-8634-69a305ed9ccf"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "5521b473-2244-48c1-a735-34590c08b9a6"
        },
        "example": "5521b473-2244-48c1-a735-34590c08b9a6"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "sub-custodian-agreement-create-sub-custodian-agreement"
        },
        "example": "sub-custodian-agreement-create-sub-custodian-agreement"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      },
      "X-Workflow-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-095"
        },
        "example": "WF-095"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow that is associated with the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "External Information Provider and Market Data Onboarding"
        },
        "example": "External Information Provider and Market Data Onboarding"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow at the time of the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the execution of the workflow.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "5521b473-2244-48c1-a735-34590c08b9a6"
        },
        "example": "5521b473-2244-48c1-a735-34590c08b9a6"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses bearer tokens for authentication. The bearer token should be in JWT (JSON Web Token) format, which allows the API to verify the user's identity and permissions on each request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}