{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Contact Center Operations API",
    "description": "The Contact Center Operations API provides access to critical operational data within a banking contact center. This API allows users to retrieve information related to various customer interactions and operational metrics. It is particularly useful for contact center managers and customer service representatives who need to monitor performance and improve service delivery. By leveraging this API, businesses can enhance customer experiences and optimize resource allocation in their contact centers.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/contact-center-operations": {
      "get": {
        "tags": [
          "Contact Center Operations"
        ],
        "summary": "Retrieve contact center operations information.",
        "description": "This endpoint fetches details about the various operations available within a specific contact center. It provides insights into the functionalities, metrics, and performance indicators relevant to channel-specific contact center operations.",
        "operationId": "getContactCenterOperations",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body contains the necessary parameters to execute the operation for retrieving contact center specific operations. The details should conform to the specified JSON schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetContactCenterOperationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the contact center operations.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetContactCenterOperationsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetContactCenterOperationsRequest": {
        "type": "string",
        "description": "A JSON string representing the request body for the GET operation in the contact center operations.",
        "example": "{}"
      },
      "GetContactCenterOperationsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of contact center operation items.",
            "example": [
              {
                "channelId": "MOBILE-US",
                "regionCode": "US-EAST-1",
                "serviceWindow": {
                  "opensAt": "STANDARD",
                  "closesAt": "STANDARD"
                },
                "dailyCapacity": 1,
                "queueId": "STANDARD",
                "skillGroup": "STANDARD",
                "targetAnswerSeconds": 1,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ContactCenterOperation"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sort order of the response items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response object for the GET operation on channel-specific contact center operations.",
        "example": {
          "items": [
            {
              "channelId": "MOBILE-US",
              "regionCode": "US-EAST-1",
              "serviceWindow": {
                "opensAt": "STANDARD",
                "closesAt": "STANDARD"
              },
              "dailyCapacity": 1,
              "queueId": "STANDARD",
              "skillGroup": "STANDARD",
              "targetAnswerSeconds": 1,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "33532b94-bf07-52ce-8fa4-70a6f5952168",
            "correlationId": "31146ae4-e4a3-54e1-8236-50f92f1a7aba",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ContactCenterOperation": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "string"
          },
          "regionCode": {
            "type": "string",
            "description": "Code representing the geographic region.",
            "example": "string"
          },
          "serviceWindow": {
            "$ref": "#/components/schemas/ServiceWindow"
          },
          "dailyCapacity": {
            "type": "integer",
            "description": "Maximum number of interactions that can be handled daily.",
            "format": "int32",
            "example": 0
          },
          "queueId": {
            "type": "string",
            "description": "Identifier for the queue associated with the operation.",
            "example": "string"
          },
          "skillGroup": {
            "type": "string",
            "description": "Skill group associated with the operation.",
            "example": "string"
          },
          "targetAnswerSeconds": {
            "type": "integer",
            "description": "Target time in seconds to answer a call.",
            "format": "int32",
            "example": 0
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the operation record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the operation was last updated.",
            "example": "string"
          }
        },
        "description": "Details of a contact center operation."
      },
      "ServiceWindow": {
        "type": "object",
        "properties": {
          "opensAt": {
            "type": "string",
            "description": "Time when the service opens.",
            "example": "09:00"
          },
          "closesAt": {
            "type": "string",
            "description": "Time when the service closes.",
            "example": "17:00"
          }
        },
        "description": "Hours of operation for the service."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Pagination details for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request-response correlation.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata information regarding the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed. This value helps in tracking the specific endpoint in the context of the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "contact-center-operations-search-contact-center-operations"
        },
        "example": "contact-center-operations-search-contact-center-operations"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is processing the request. This identifier is useful for debugging and monitoring purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that utilizes a Bearer token format, specifically designed for JSON Web Tokens (JWT). This mechanism allows the authorization of API requests by including the JWT in the request header, ensuring secure access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}