{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_International Payment Consents API",
    "description": "The International Payment Consents API facilitates the management of payment consents essential for processing international transactions. This API allows clients, such as financial institutions and payment service providers, to initiate and manage the consent required for cross-border payments. Users can effectively handle authorization requests, ensuring compliance with regulatory requirements while enhancing customer trust. Typical use cases include obtaining user consent for executing international fund transfers, streamlining the payment process, and improving operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/international-payment-consents": {
      "post": {
        "tags": [
          "International Payment"
        ],
        "summary": "Create a new international payment consent.",
        "description": "This endpoint allows the creation of a consent for executing an international payment. It requires specific information regarding the payment details and the beneficiary. Make sure to provide all necessary data for successful creation.",
        "operationId": "createInternationalPaymentConsent",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is for initiating international payment consents in the Payment Initiation Service Provider (PISP) context. It contains the necessary details required to create a new payment consent, including information about the payer, recipient, and transaction specifics.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateInternationalPaymentConsentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully. The international payment consent has been established.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateInternationalPaymentConsentResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateInternationalPaymentConsentRequest": {
        "title": "International Payment Consent Request",
        "type": "object",
        "properties": {
          "Data": {
            "description": "Contains the details of the international payment consent request.",
            "$ref": "#/components/schemas/Data"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for initiating an international payment consent operation.",
        "example": {
          "Data": {
            "ReadRefundAccount": "STANDARD",
            "Initiation": {
              "InstructionIdentification": "STANDARD",
              "EndToEndIdentification": "STANDARD",
              "LocalInstrument": "STANDARD",
              "InstructionPriority": "STANDARD",
              "ExtendedPurpose": "STANDARD",
              "ChargeBearer": "STANDARD",
              "CurrencyOfTransfer": "STANDARD",
              "DestinationCountryCode": "US",
              "InstructedAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              },
              "ExchangeRateInformation": {
                "UnitCurrency": "USD",
                "ExchangeRate": 100.0,
                "RateType": "STANDARD",
                "ContractIdentification": "STANDARD"
              },
              "DebtorAccount": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD",
                "Proxy": {
                  "Identification": "STANDARD"
                }
              }
            }
          },
          "requestContext": {
            "requestId": "1fb05f31-3130-5c0d-9c46-4a9d3bc717ae",
            "correlationId": "4e2a0f45-f01c-5cc7-903f-262ac6b98d80",
            "idempotencyKey": "8e467f0f-b518-5630-8117-6947e894f974",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-302080"
            }
          }
        }
      },
      "Data": {
        "title": "International Payment Data",
        "type": "object",
        "properties": {
          "ReadRefundAccount": {
            "type": "string",
            "description": "Indicates whether the refund account should be read.",
            "example": "Yes"
          },
          "Initiation": {
            "description": "Details about the payment initiation.",
            "$ref": "#/components/schemas/Initiation"
          }
        },
        "description": "Schema representing the data involved in the international payment operation."
      },
      "Initiation": {
        "title": "Payment Initiation",
        "type": "object",
        "properties": {
          "InstructionIdentification": {
            "type": "string",
            "description": "Unique identification for the payment instruction.",
            "example": "123456"
          },
          "EndToEndIdentification": {
            "type": "string",
            "description": "Identification for tracking the payment end-to-end.",
            "example": "E2E123"
          },
          "LocalInstrument": {
            "type": "string",
            "description": "Specifies the local instrument used for the payment.",
            "example": "SEPA"
          },
          "InstructionPriority": {
            "type": "string",
            "description": "Priority level of the payment instruction.",
            "example": "Normal"
          },
          "ExtendedPurpose": {
            "type": "string",
            "description": "Extended purpose for the payment transaction.",
            "example": "Invoices"
          },
          "ChargeBearer": {
            "type": "string",
            "description": "Defines who bears the charges of the transaction.",
            "example": "SHAR"
          },
          "CurrencyOfTransfer": {
            "type": "string",
            "description": "Currency in which the transfer is to be made.",
            "example": "EUR"
          },
          "DestinationCountryCode": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2 code of the destination country.",
            "example": "DE"
          },
          "InstructedAmount": {
            "description": "The amount to be transferred in the specified currency.",
            "$ref": "#/components/schemas/InstructedAmount"
          },
          "ExchangeRateInformation": {
            "description": "Details about the exchange rate applied to the transaction.",
            "$ref": "#/components/schemas/ExchangeRateInformation"
          },
          "DebtorAccount": {
            "description": "Information regarding the debtor's account from which the payment will be debited.",
            "$ref": "#/components/schemas/DebtorAccount"
          }
        },
        "description": "Schema outlining the initiation details of the payment."
      },
      "InstructedAmount": {
        "title": "Instructed Amount",
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The amount of money to be transferred.",
            "example": "1000.00"
          },
          "Currency": {
            "type": "string",
            "description": "The currency of the instructed amount.",
            "example": "EUR"
          }
        },
        "description": "Schema representing the amount that is to be transferred."
      },
      "ExchangeRateInformation": {
        "title": "Exchange Rate Information",
        "type": "object",
        "properties": {
          "UnitCurrency": {
            "type": "string",
            "description": "The currency in which the unit rate is expressed.",
            "example": "USD"
          },
          "ExchangeRate": {
            "type": "number",
            "description": "The exchange rate applied.",
            "example": 1.2
          },
          "RateType": {
            "type": "string",
            "description": "Type of exchange rate applied (e.g., indicative, spot).",
            "example": "Spot"
          },
          "ContractIdentification": {
            "type": "string",
            "description": "Reference to the contract under which the exchange rate is defined.",
            "example": "CONTRACT123"
          }
        },
        "description": "Schema containing details regarding the exchange rate used for the payment."
      },
      "DebtorAccount": {
        "title": "Debtor Account",
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "The name of the scheme to which the debtor account belongs.",
            "example": "IBAN"
          },
          "Identification": {
            "type": "string",
            "description": "Unique identifier of the debtor account.",
            "example": "GB29NWBK60161331926819"
          },
          "Name": {
            "type": "string",
            "description": "Name associated with the debtor account.",
            "example": "John Doe"
          },
          "SecondaryIdentification": {
            "type": "string",
            "description": "An additional identifier for the debtor account.",
            "example": "Supplier123"
          },
          "Proxy": {
            "description": "Information for any proxy associated with the debtor account.",
            "$ref": "#/components/schemas/Proxy"
          }
        },
        "description": "Schema containing information about the debtor's account."
      },
      "Proxy": {
        "title": "Proxy Information",
        "type": "object",
        "properties": {
          "Identification": {
            "type": "string",
            "description": "Identifier for the proxy.",
            "example": "Proxy123"
          }
        },
        "description": "Schema containing proxy information for the debtor account."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req_123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier that correlates multiple requests or operations.",
            "example": "corr_123"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotent operation.",
            "example": "idempotency_key_123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the system from which the request originated.",
            "example": "SystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the application from which the request was made.",
            "example": "AppX"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema holding contextual information for the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel_456"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used.",
            "example": "device_789"
          }
        },
        "description": "Schema containing information about the communication channel for the request."
      },
      "CreateInternationalPaymentConsentResponse_201": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "ConsentId": {
                "type": "string",
                "description": "Unique identifier for the payment consent.",
                "example": "string"
              },
              "CreationDateTime": {
                "type": "string",
                "description": "The date and time when the consent was created.",
                "example": "string"
              },
              "Status": {
                "type": "string",
                "description": "Current status of the consent.",
                "example": "string"
              },
              "StatusReason": {
                "type": "array",
                "description": "Reasons for the current status of the consent.",
                "example": "string",
                "items": {
                  "$ref": "#/components/schemas/StatusReason"
                }
              },
              "StatusUpdateDateTime": {
                "type": "string",
                "description": "Date and time when the status was last updated.",
                "example": "string"
              },
              "ReadRefundAccount": {
                "type": "string",
                "description": "Account details for refund purposes.",
                "example": "string"
              },
              "CutOffDateTime": {
                "type": "string",
                "description": "Cut-off date and time for the payment transactions.",
                "example": "string"
              },
              "ExpectedExecutionDateTime": {
                "type": "string",
                "description": "Expected date and time when the payment will be executed.",
                "example": "string"
              },
              "ExpectedSettlementDateTime": {
                "type": "string",
                "description": "Expected date and time when the payment will be settled.",
                "example": "string"
              },
              "Charges": {
                "type": "array",
                "description": "List of charges applicable to the payment.",
                "example": "string",
                "items": {
                  "$ref": "#/components/schemas/Charge"
                }
              },
              "ExchangeRateInformation": {
                "type": "object",
                "properties": {
                  "UnitCurrency": {
                    "type": "string",
                    "description": "Currency unit for the exchange rate.",
                    "example": "string"
                  },
                  "ExchangeRate": {
                    "type": "number",
                    "description": "The exchange rate applied to the transaction.",
                    "example": 0.0
                  },
                  "RateType": {
                    "type": "string",
                    "description": "Type of the exchange rate.",
                    "example": "string"
                  },
                  "ContractIdentification": {
                    "type": "string",
                    "description": "Identifier for the contract related to the exchange rate.",
                    "example": "string"
                  },
                  "ExpirationDateTime": {
                    "type": "string",
                    "description": "Date and time when the exchange rate expires.",
                    "example": "string"
                  }
                },
                "description": "Information regarding the exchange rate for the payment.",
                "example": "string"
              },
              "Initiation": {
                "type": "object",
                "properties": {
                  "InstructionIdentification": {
                    "type": "string",
                    "description": "Unique identifier for the payment instruction.",
                    "example": "string"
                  },
                  "EndToEndIdentification": {
                    "type": "string",
                    "description": "End-to-end identification for the transaction.",
                    "example": "string"
                  },
                  "LocalInstrument": {
                    "type": "string",
                    "description": "Local instrument code used for the payment.",
                    "example": "string"
                  },
                  "InstructionPriority": {
                    "type": "string",
                    "description": "Priority of the payment instruction.",
                    "example": "string"
                  },
                  "ExtendedPurpose": {
                    "type": "string",
                    "description": "Extended purpose of the payment.",
                    "example": "string"
                  },
                  "ChargeBearer": {
                    "type": "string",
                    "description": "The party responsible for the payment charges.",
                    "example": "string"
                  },
                  "CurrencyOfTransfer": {
                    "type": "string",
                    "description": "Currency used for the transfer.",
                    "example": "string"
                  },
                  "DestinationCountryCode": {
                    "type": "string",
                    "description": "Country code of the transaction's destination.",
                    "example": "string"
                  },
                  "InstructedAmount": {
                    "type": "object",
                    "properties": {
                      "Amount": {
                        "type": "string",
                        "description": "Numeric value of the amount to be transferred.",
                        "example": "string"
                      },
                      "Currency": {
                        "type": "string",
                        "description": "Currency code of the instructed amount.",
                        "example": "string"
                      }
                    },
                    "description": "Amount to be transferred in the specified currency.",
                    "example": "string"
                  },
                  "ExchangeRateInformation": {
                    "type": "object",
                    "properties": {
                      "UnitCurrency": {
                        "type": "string",
                        "description": "Currency unit for the exchange rate.",
                        "example": "string"
                      },
                      "ExchangeRate": {
                        "type": "number",
                        "description": "Exchange rate applicable to the instructed amount.",
                        "example": 0.0
                      },
                      "RateType": {
                        "type": "string",
                        "description": "Type of the exchange rate.",
                        "example": "string"
                      },
                      "ContractIdentification": {
                        "type": "string",
                        "description": "Identifier for the exchange rate contract.",
                        "example": "string"
                      }
                    },
                    "description": "Exchange rate information for the initiated payment.",
                    "example": "string"
                  },
                  "DebtorAccount": {
                    "type": "object",
                    "properties": {
                      "SchemeName": {
                        "type": "string",
                        "description": "Name of the account scheme.",
                        "example": "string"
                      }
                    },
                    "description": "Account details of the debtor for the payment.",
                    "example": "string"
                  }
                },
                "description": "Details about the initiation of the payment.",
                "example": "string"
              }
            },
            "description": "Details of the payment consent.",
            "example": {
              "ConsentId": "STANDARD",
              "CreationDateTime": "2026-09-15T14:30:00Z",
              "Status": "ACTIVE",
              "StatusReason": [
                {
                  "code": "SUCCESS",
                  "description": "Customer banking request processed successfully",
                  "Path": "STANDARD"
                }
              ],
              "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
              "ReadRefundAccount": "STANDARD",
              "CutOffDateTime": "2026-09-15T14:30:00Z",
              "ExpectedExecutionDateTime": "2026-09-15T14:30:00Z",
              "ExpectedSettlementDateTime": "2026-09-15T14:30:00Z",
              "Charges": [
                {
                  "ChargeBearer": "STANDARD",
                  "Type": "STANDARD",
                  "Amount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  }
                }
              ],
              "ExchangeRateInformation": {
                "UnitCurrency": "USD",
                "ExchangeRate": 100.0,
                "RateType": "STANDARD",
                "ContractIdentification": "STANDARD",
                "ExpirationDateTime": "2026-09-15T14:30:00Z"
              },
              "Initiation": {
                "InstructionIdentification": "STANDARD",
                "EndToEndIdentification": "STANDARD",
                "LocalInstrument": "STANDARD",
                "InstructionPriority": "STANDARD",
                "ExtendedPurpose": "STANDARD",
                "ChargeBearer": "STANDARD",
                "CurrencyOfTransfer": "STANDARD",
                "DestinationCountryCode": "US",
                "InstructedAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "ExchangeRateInformation": {
                  "UnitCurrency": "USD",
                  "ExchangeRate": 100.0,
                  "RateType": "STANDARD",
                  "ContractIdentification": "STANDARD"
                },
                "DebtorAccount": {
                  "SchemeName": "Northstar Banking Service"
                }
              }
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "Correlation ID for tracking the request.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp of when the response was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region in which the processing took place.",
                "example": "string"
              }
            },
            "description": "Metadata information related to the response.",
            "example": {
              "responseId": "c98294d8-ae97-5673-8192-3b9b84987b0a",
              "correlationId": "4e2a0f45-f01c-5cc7-903f-262ac6b98d80",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for an international payment consent operation.",
        "example": {
          "Data": {
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "Status": "ACTIVE",
            "StatusReason": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "Path": "STANDARD"
              }
            ],
            "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
            "ReadRefundAccount": "STANDARD",
            "CutOffDateTime": "2026-09-15T14:30:00Z",
            "ExpectedExecutionDateTime": "2026-09-15T14:30:00Z",
            "ExpectedSettlementDateTime": "2026-09-15T14:30:00Z",
            "Charges": [
              {
                "ChargeBearer": "STANDARD",
                "Type": "STANDARD",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            ],
            "ExchangeRateInformation": {
              "UnitCurrency": "USD",
              "ExchangeRate": 100.0,
              "RateType": "STANDARD",
              "ContractIdentification": "STANDARD",
              "ExpirationDateTime": "2026-09-15T14:30:00Z"
            },
            "Initiation": {
              "InstructionIdentification": "STANDARD",
              "EndToEndIdentification": "STANDARD",
              "LocalInstrument": "STANDARD",
              "InstructionPriority": "STANDARD",
              "ExtendedPurpose": "STANDARD",
              "ChargeBearer": "STANDARD",
              "CurrencyOfTransfer": "STANDARD",
              "DestinationCountryCode": "US",
              "InstructedAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              },
              "ExchangeRateInformation": {
                "UnitCurrency": "USD",
                "ExchangeRate": 100.0,
                "RateType": "STANDARD",
                "ContractIdentification": "STANDARD"
              },
              "DebtorAccount": {
                "SchemeName": "Northstar Banking Service"
              }
            }
          },
          "metadata": {
            "responseId": "c98294d8-ae97-5673-8192-3b9b84987b0a",
            "correlationId": "4e2a0f45-f01c-5cc7-903f-262ac6b98d80",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "StatusReason": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Code representing the status reason.",
            "example": "string"
          },
          "description": {
            "type": "string",
            "description": "Detailed description of the status reason.",
            "example": "string"
          },
          "Path": {
            "type": "string",
            "description": "Path indicating where this reason applies.",
            "example": "string"
          }
        },
        "description": "Description of the status reason."
      },
      "Charge": {
        "type": "object",
        "properties": {
          "ChargeBearer": {
            "type": "string",
            "description": "Party responsible for the charge.",
            "example": "string"
          },
          "Type": {
            "type": "string",
            "description": "Type of charge.",
            "example": "string"
          },
          "Amount": {
            "type": "object",
            "properties": {
              "Amount": {
                "type": "string",
                "description": "Amount of the charge.",
                "example": "string"
              },
              "Currency": {
                "type": "string",
                "description": "Currency associated with the charge.",
                "example": "string"
              }
            },
            "description": "Amount details related to the charge.",
            "example": "string"
          }
        },
        "description": "Details of a charge applicable to the payment."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "This header uniquely identifies the endpoint that is handling the request. It is essential for tracing and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-create-international-payment-consent"
        },
        "example": "payment-initiation-openapi-create-international-payment-consent"
      },
      "X-Runtime-App": {
        "description": "This header indicates the name of the application or service that processed the request. It aids in identifying the source of the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication Scheme defined in RFC 6750, allowing clients to authenticate by providing a bearer token, typically a JSON Web Token (JWT).",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}