{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Investment Account Overview API",
    "description": "The Investment Account Overview API provides access to detailed information regarding specific investment accounts. It enables users to retrieve account balances, transaction history, and relevant investment details using a unique account identifier. This API is designed for financial analysts and investment managers who require insightful data for account management and reporting purposes. Typical use cases include account analysis for performance evaluation and compliance auditing.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/investment-management/investment-account/{param1}": {
      "get": {
        "tags": [
          "Investment Management"
        ],
        "summary": "Retrieve Investment Account Details",
        "description": "Fetches detailed information about a specific investment account identified by its account number. This endpoint allows users to view key details and current status of the investment account.",
        "operationId": "getInvestmentAccountDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body allows the retrieval of information related to the specific investment account identified by the provided account number. It is essential to ensure that the account number corresponds to an existing investment account.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetInvestmentAccountDetailsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the investment account details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetInvestmentAccountDetailsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetInvestmentAccountDetailsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on a specific investment account.",
        "example": "{}"
      },
      "GetInvestmentAccountDetailsResponse_200": {
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "The unique identifier for the portfolio.",
            "example": "PORT-600543"
          },
          "investmentAccountId": {
            "type": "string",
            "description": "The unique identifier for the investment account.",
            "example": "ACC-142739"
          },
          "investmentObjective": {
            "type": "string",
            "description": "The primary objective of the investment account.",
            "example": "STANDARD"
          },
          "riskProfile": {
            "type": "string",
            "description": "The risk profile associated with the investment account.",
            "example": "STANDARD"
          },
          "baseCurrency": {
            "type": "string",
            "description": "The base currency used for transactions within the investment account.",
            "example": "USD"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the investment account record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the investment account record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the investment account was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "The unique identifier for the response.",
                "example": "response-12345"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier for tracking the request through the system.",
                "example": "corr-98765"
              },
              "generatedAt": {
                "type": "string",
                "description": "The timestamp when the response was generated.",
                "example": "2023-10-12T14:48:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region in which the request was processed.",
                "example": "us-west-1"
              }
            },
            "description": "Metadata related to the response.",
            "example": {
              "responseId": "07ea2b3a-9d78-5e3d-b4db-a7e2c26ccb50",
              "correlationId": "203fb472-bfb2-58c1-bd51-7000cc4ca0db",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for retrieving an investment account's details.",
        "example": {
          "portfolioId": "PORT-600543",
          "investmentAccountId": "ACC-142739",
          "investmentObjective": "STANDARD",
          "riskProfile": "STANDARD",
          "baseCurrency": "USD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "07ea2b3a-9d78-5e3d-b4db-a7e2c26ccb50",
            "correlationId": "203fb472-bfb2-58c1-bd51-7000cc4ca0db",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "investment-account-get-investment-account"
        },
        "example": "investment-account-get-investment-account"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication, which requires the use of a JSON Web Token (JWT) as a bearer token to access protected resources. Clients must include the token in the `Authorization` header of requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}