{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Banking Wholesale Trading Quote Management-v5-spec",
    "description": "MICROSERVICE-PROD-Create Banking Wholesale Trading Quote Management-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/wholesale-trading/quote-management": {
      "post": {
        "operationId": "createBankingWholesaleTradingQuoteManagement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBankingWholesaleTradingQuoteManagementRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBankingWholesaleTradingQuoteManagementResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateBankingWholesaleTradingQuoteManagementRequest": {
        "type": "object",
        "properties": {
          "tradingBookId": {
            "type": "string",
            "example": "STANDARD"
          },
          "instrumentId": {
            "type": "string",
            "example": "STANDARD"
          },
          "side": {
            "type": "string",
            "example": "STANDARD"
          },
          "quantity": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "limitPrice": {
            "type": "object",
            "properties": {
              "value": {
                "type": "number",
                "example": 0.0
              },
              "currency": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "value": 100.0,
              "currency": "USD"
            }
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "dd54bfd9-0db4-56be-b608-343f6f935672",
              "correlationId": "f2c0e2c3-2a79-5a80-9ed7-44b0c2286e46",
              "idempotencyKey": "ca613c0a-e8a0-5754-acfd-03ad6711c781",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-128973"
              }
            }
          }
        },
        "example": {
          "tradingBookId": "STANDARD",
          "instrumentId": "STANDARD",
          "side": "STANDARD",
          "quantity": 1,
          "limitPrice": {
            "value": 100.0,
            "currency": "USD"
          },
          "requestContext": {
            "requestId": "dd54bfd9-0db4-56be-b608-343f6f935672",
            "correlationId": "f2c0e2c3-2a79-5a80-9ed7-44b0c2286e46",
            "idempotencyKey": "ca613c0a-e8a0-5754-acfd-03ad6711c781",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-128973"
            }
          }
        }
      },
      "CreateBankingWholesaleTradingQuoteManagementResponse_201": {
        "type": "object",
        "properties": {
          "tradingBookId": {
            "type": "string",
            "example": "STANDARD"
          },
          "instrumentId": {
            "type": "string",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "example": "RES-358285"
          },
          "status": {
            "type": "string",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "2bb65a2b-4cec-59b9-a67a-3f987e35ab98",
              "correlationId": "f2c0e2c3-2a79-5a80-9ed7-44b0c2286e46",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "tradingBookId": "STANDARD",
          "instrumentId": "STANDARD",
          "resourceId": "RES-358285",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "2bb65a2b-4cec-59b9-a67a-3f987e35ab98",
            "correlationId": "f2c0e2c3-2a79-5a80-9ed7-44b0c2286e46",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "quote-management-create-quote-management"
        },
        "example": "quote-management-create-quote-management"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}