{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Term Deposit Creation API",
    "description": "The Term Deposit Creation API facilitates the establishment of term deposit accounts for customers within the banking system. This endpoint allows financial institutions to efficiently manage and configure term deposits tailored to individual customer needs. Typical consumers include bank representatives and automated onboarding systems that assist customers in securing their savings with attractive interest rates over defined terms. By engaging with this API, institutions can streamline the deposit initiation process, enhancing customer experience and retention.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customers/{customerId}/term-deposits": {
      "post": {
        "tags": [
          "Term Deposits"
        ],
        "summary": "Create a new term deposit for a specified customer.",
        "description": "This endpoint allows users to create a new term deposit account for an existing customer identified by their unique customer ID. Ensure that all required fields are completed correctly to successfully create the term deposit.",
        "operationId": "createTermDepositForCustomerCUST100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "description": "This request body contains the necessary details to create a new term deposit for the specified customer (CUST-100045). Ensure that all required fields are included and correctly formatted.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTermDepositForCustomerCUST100045Request"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Term deposit created successfully, indicating successful resource creation.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateTermDepositForCustomerCUST100045Response_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateTermDepositForCustomerCUST100045Request": {
        "title": "Term Deposit Request Body",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-428470"
          },
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the customer's account.",
            "example": "ACC-872551"
          },
          "productCode": {
            "type": "string",
            "description": "The code of the product associated with the term deposit.",
            "example": "CHK-PREMIUM-US"
          },
          "principal": {
            "description": "The principal amount to be deposited, along with its currency.",
            "$ref": "#/components/schemas/AmountWithCurrency"
          },
          "termMonths": {
            "type": "integer",
            "description": "The duration of the term deposit in months.",
            "format": "int32",
            "example": 1
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "The frequency of repayment (e.g., monthly, quarterly).",
            "example": "STANDARD"
          },
          "depositAmount": {
            "description": "The amount to be deposited, along with its currency.",
            "$ref": "#/components/schemas/AmountWithCurrency"
          },
          "tenorDays": {
            "type": "integer",
            "description": "The duration of the deposit in days.",
            "format": "int32",
            "example": 1
          },
          "maturityInstruction": {
            "type": "string",
            "description": "Instructions regarding the maturity of the deposit.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for creating a term deposit operation for a specific customer.",
        "example": {
          "customerId": "CUST-428470",
          "accountId": "ACC-872551",
          "productCode": "CHK-PREMIUM-US",
          "principal": {
            "amount": 100.0,
            "currency": "USD"
          },
          "termMonths": 1,
          "repaymentFrequency": "STANDARD",
          "depositAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "tenorDays": 1,
          "maturityInstruction": "STANDARD",
          "requestContext": {
            "requestId": "5e2eede8-6dec-5eb9-8eb3-ea22f9a12f1a",
            "correlationId": "b2bc6d05-8d41-58fe-ab45-ddbfa4cd926f",
            "idempotencyKey": "d7bfd7c3-f615-51bc-921c-8663ba902cb6",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-535610"
            }
          }
        }
      },
      "AmountWithCurrency": {
        "title": "Amount with Currency",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The numeric value of the amount.",
            "example": 10000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is denominated.",
            "example": "USD"
          }
        },
        "description": "This schema represents an amount of money in a specific currency."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "REQ-300045"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate logs and transactions.",
            "example": "COR-400045"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key ensuring that requests are processed only once.",
            "example": "IDEMP-500045"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system from which the request originated.",
            "example": "BankingSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The specific application that initiated the request.",
            "example": "WebApp"
          },
          "channel": {
            "description": "Details about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema holds contextual information related to the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the communication channel.",
            "example": "CH-600045"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., mobile, web).",
            "example": "WEB"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used for the request.",
            "example": "DEVICE-700045"
          }
        },
        "description": "This schema contains information about the communication channel used for the request."
      },
      "CreateTermDepositForCustomerCUST100045Response_201": {
        "title": "Term Deposit Operation Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-899964"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account associated with the term deposit.",
            "example": "ACC-231288"
          },
          "productCode": {
            "type": "string",
            "description": "The product code of the term deposit.",
            "example": "CHK-PREMIUM-US"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the created resource.",
            "example": "RES-157396"
          },
          "status": {
            "type": "string",
            "description": "Current status of the term deposit operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the term deposit was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata about the term deposit operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the term deposit operation for a specific customer, providing details about the transaction and metadata.",
        "example": {
          "customerId": "CUST-899964",
          "accountId": "ACC-231288",
          "productCode": "CHK-PREMIUM-US",
          "resourceId": "RES-157396",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "853b4ac2-88c8-5c8e-b408-7989edab47da",
            "correlationId": "b2bc6d05-8d41-58fe-ab45-ddbfa4cd926f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate this response to the original request.",
            "example": "CORR-7890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T10:00:01Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the term deposit operation was processed.",
            "example": "US-East"
          }
        },
        "description": "Contains metadata related to the term deposit operation, including identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint associated with the transaction.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "term-deposit-framework-agreement-create-term-deposit-framework-agreement"
        },
        "example": "term-deposit-framework-agreement-create-term-deposit-framework-agreement"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      },
      "X-Workflow-Id": {
        "description": "An identifier for the workflow that this transaction is part of.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-004"
        },
        "example": "WF-004"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow associated with the operation, providing context for the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Term Deposit Opening and Maturity Instruction"
        },
        "example": "Term Deposit Opening and Maturity Instruction"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow, indicating progress and execution status.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the execution of the workflow, useful for tracking and auditing purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "a2a308af-a007-4e46-ae18-20ae15cfecf4"
        },
        "example": "a2a308af-a007-4e46-ae18-20ae15cfecf4"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens, specifically formatted as JSON Web Tokens (JWT), to securely access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}