{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Open Banking Offers API",
    "description": "The Open Banking Offers API provides clients with access to a comprehensive list of financial offers available through open banking channels. This API facilitates the retrieval of offers from various banking institutions, enabling developers to integrate value-added services into their applications. Typical consumers of this API include financial service providers, fintech companies, and developers looking to enhance user experiences by presenting tailored offers based on customer data. By utilizing this API, businesses can gain insights into competitive offerings and improve customer engagement through personalized suggestions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/aisp/offers": {
      "get": {
        "tags": [
          "AISP"
        ],
        "summary": "Retrieve AISP offers",
        "description": "This endpoint allows developers to retrieve a list of available offers from AISP, enabling effective comparisons and selections based on the user's needs.",
        "operationId": "getAispOffers",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is utilized to initiate a GET operation on the AISP offers endpoint. It must contain the necessary parameters to fetch available offers based on the specified criteria.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAispOffersRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the available offers.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAispOffersResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetAispOffersRequest": {
        "type": "string",
        "description": "Request body schema for the GET operation to retrieve offers.",
        "example": "{}"
      },
      "GetAispOffersResponse_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "Offer": {
                "type": "array",
                "description": "An array of offers.",
                "items": {
                  "$ref": "#/components/schemas/Offer"
                }
              },
              "Links": {
                "$ref": "#/components/schemas/Links"
              },
              "Meta": {
                "$ref": "#/components/schemas/Meta"
              },
              "metadata": {
                "$ref": "#/components/schemas/Metadata"
              }
            },
            "description": "Data containing offers and associated metadata.",
            "example": {
              "Offer": [
                {
                  "AccountId": "ACC-877802",
                  "id": "STANDARD",
                  "type": "STANDARD",
                  "Description": "Customer banking request processed successfully",
                  "StartDateTime": "2026-09-15T14:30:00Z",
                  "EndDateTime": "2026-09-15T14:30:00Z",
                  "Rate": "STANDARD",
                  "Value": 1,
                  "Term": "STANDARD",
                  "URL": "https://banking.northstar.example/callbacks/status",
                  "Amount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  },
                  "Fee": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  }
                }
              ]
            }
          }
        },
        "description": "Response schema for retrieving offers operations.",
        "example": {
          "Data": {
            "Offer": [
              {
                "AccountId": "ACC-877802",
                "id": "STANDARD",
                "type": "STANDARD",
                "Description": "Customer banking request processed successfully",
                "StartDateTime": "2026-09-15T14:30:00Z",
                "EndDateTime": "2026-09-15T14:30:00Z",
                "Rate": "STANDARD",
                "Value": 1,
                "Term": "STANDARD",
                "URL": "https://banking.northstar.example/callbacks/status",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "Fee": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            ]
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource",
            "Next": "https://example.com/resource",
            "Last": "https://example.com/resource"
          },
          "Meta": {
            "TotalPages": 1,
            "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
            "LastAvailableDateTime": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "responseId": "f8721a3a-e35c-5b91-b5dd-58f00796f464",
            "correlationId": "aa493222-85ee-5ec0-b45a-b8002faebb9e",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Offer": {
        "type": "object",
        "properties": {
          "AccountId": {
            "type": "string",
            "description": "The unique identifier for the account associated with the offer.",
            "example": "string"
          },
          "id": {
            "type": "string",
            "description": "The unique identifier for the offer.",
            "example": "string"
          },
          "type": {
            "type": "string",
            "description": "The type of the offer.",
            "example": "string"
          },
          "Description": {
            "type": "string",
            "description": "A description of the offer.",
            "example": "string"
          },
          "StartDateTime": {
            "type": "string",
            "description": "The start date and time of the offer.",
            "example": "string"
          },
          "EndDateTime": {
            "type": "string",
            "description": "The end date and time of the offer.",
            "example": "string"
          },
          "Rate": {
            "type": "string",
            "description": "The rate associated with the offer.",
            "example": "string"
          },
          "Value": {
            "type": "integer",
            "description": "The value of the offer.",
            "format": "int32",
            "example": 0
          },
          "Term": {
            "type": "string",
            "description": "The term duration of the offer.",
            "example": "string"
          },
          "URL": {
            "type": "string",
            "description": "A URL for more information about the offer.",
            "example": "string"
          },
          "Amount": {
            "$ref": "#/components/schemas/Amount"
          },
          "Fee": {
            "$ref": "#/components/schemas/Fee"
          }
        },
        "description": "Schema representing an individual offer."
      },
      "Links": {
        "type": "object",
        "properties": {
          "Self": {
            "type": "string",
            "description": "The URL for the current page.",
            "example": "string"
          },
          "First": {
            "type": "string",
            "description": "The URL for the first page of offers.",
            "example": "string"
          },
          "Prev": {
            "type": "string",
            "description": "The URL for the previous page of offers.",
            "example": "string"
          },
          "Next": {
            "type": "string",
            "description": "The URL for the next page of offers.",
            "example": "string"
          },
          "Last": {
            "type": "string",
            "description": "The URL for the last page of offers.",
            "example": "string"
          }
        },
        "description": "Navigation links for the offers response."
      },
      "Meta": {
        "type": "object",
        "properties": {
          "TotalPages": {
            "type": "integer",
            "description": "Total number of pages available.",
            "format": "int32",
            "example": 0
          },
          "FirstAvailableDateTime": {
            "type": "string",
            "description": "The date and time when the first offer became available.",
            "example": "string"
          },
          "LastAvailableDateTime": {
            "type": "string",
            "description": "The date and time when the last offer became available.",
            "example": "string"
          }
        },
        "description": "Metadata about the offers pagination."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking the request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region from which the response was processed.",
            "example": "string"
          }
        },
        "description": "Metadata related to the response context."
      },
      "Amount": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The amount of money.",
            "example": "string"
          },
          "Currency": {
            "type": "string",
            "description": "The currency in which the amount is denominated.",
            "example": "string"
          }
        },
        "description": "Amount details for offers including currency."
      },
      "Fee": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The amount of the fee.",
            "example": "string"
          },
          "Currency": {
            "type": "string",
            "description": "The currency in which the fee is denominated.",
            "example": "string"
          }
        },
        "description": "Fee details associated with the offer."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-api-get-offers"
        },
        "example": "accounts-api-get-offers"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Security scheme that uses the Bearer authentication method. Clients can authenticate using a Bearer token, which typically is a JSON Web Token (JWT). Ensure that the JWT is included in the Authorization header as a prefix with the word 'Bearer'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}