{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Banking Enterprise Services Procurement By Procurement Id-v5-spec",
    "description": "This API enables users to retrieve detailed information about specific banking enterprise services procurement based on the unique procurement ID. It serves as a crucial resource for financial institutions and service providers looking to access procurement data efficiently. Typical consumers of this API include internal audit teams, compliance officers, and financial analysts who require insights into procurement processes. By leveraging this API, organizations can enhance their procurement decision-making and maintain accurate transactional records.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/enterprise-services/procurement/{procurementId}": {
      "get": {
        "tags": [
          "Procurement Services"
        ],
        "summary": "Retrieve procurement details for RES-100045.",
        "description": "This endpoint allows users to fetch specific procurement details related to RES-100045, providing essential information for review and analysis within the enterprise services domain.",
        "operationId": "getBankingEnterpriseServicesProcurementByProcurementId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/procurementId"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving procurement details. It should be a well-formed JSON object that complies with the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBankingEnterpriseServicesProcurementByProcurementIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested resource.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBankingEnterpriseServicesProcurementByProcurementIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBankingEnterpriseServicesProcurementByProcurementIdRequest": {
        "type": "string",
        "description": "This schema represents the request body format for the GET operation related to procurement services.",
        "example": "{}"
      },
      "GetBankingEnterpriseServicesProcurementByProcurementIdResponse_200": {
        "title": "Procurement Response",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "8eb4a181-3efe-5351-80c4-df8699cf906f"
          },
          "supplierId": {
            "type": "string",
            "description": "Identifier for the supplier.",
            "example": "STANDARD"
          },
          "costCenter": {
            "type": "string",
            "description": "Cost center associated with the procurement.",
            "example": "STANDARD"
          },
          "amount": {
            "description": "Monetary amount for the procurement.",
            "$ref": "#/components/schemas/Amount"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the person who requested the procurement.",
            "example": "STANDARD"
          },
          "purchaseOrderId": {
            "type": "string",
            "description": "Unique identifier for the purchase order.",
            "example": "ORD-743285"
          },
          "categoryCode": {
            "type": "string",
            "description": "Code representing the category of the procurement.",
            "example": "CODE-330"
          },
          "approvalLevel": {
            "type": "string",
            "description": "Approval level required for the procurement.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the procurement record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the procurement record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the procurement record.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the procurement response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for the procurement operation.",
        "example": {
          "requestId": "8eb4a181-3efe-5351-80c4-df8699cf906f",
          "supplierId": "STANDARD",
          "costCenter": "STANDARD",
          "amount": {
            "value": 100.0,
            "currency": "USD"
          },
          "requestedBy": "STANDARD",
          "purchaseOrderId": "ORD-743285",
          "categoryCode": "CODE-330",
          "approvalLevel": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "f8985de2-65bb-5e0a-a78d-ec3272626586",
            "correlationId": "a6c84edc-9b81-5f25-bf38-3ba0b7469f55",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Amount": {
        "title": "Amount",
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The numerical value of the amount.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is denominated.",
            "example": "USD"
          }
        },
        "description": "Represents the amount in a specific currency."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "example-response-id"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the correlation across different services.",
            "example": "example-correlation-id"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request occurred.",
            "example": "example-region"
          }
        },
        "description": "Contains additional metadata for the procurement response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "procurementId": {
        "name": "procurementId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "description": "A unique identifier for the endpoint that processed the request.",
          "example": "procurement-get-procurement"
        },
        "example": "procurement-get-procurement"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "description": "The name of the application that executed the request.",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme enables Bearer Authentication using JSON Web Tokens (JWT). It allows clients to authenticate themselves by including a Bearer token in the 'Authorization' header of their requests. The JWT should be obtained through an authentication process.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}