{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Document Document Service-spec",
    "description": "The Document Management API facilitates the creation and management of banking-related documents within the document services system. This endpoint allows users to submit new document specifications for processing, ensuring compliance and efficient documentation handling. Financial institutions, regulatory bodies, and developers working with banking solutions can benefit from this functionality. Typical use cases include generating loan agreements, transaction records, or compliance documents that require strict adherence to regulatory standards.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://enterprise-support-app:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/documents/document-services": {
      "post": {
        "tags": [
          "Document Services"
        ],
        "summary": "Create a new document service.",
        "description": "This endpoint allows the creation of a new document service, enabling users to manage their documents effectively. Provide the necessary details in the request body to initiate the service.",
        "operationId": "createDocumentDocumentService",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for creating or updating document services. It should contain all necessary parameters as specified in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDocumentDocumentServiceRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully with the provided details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateDocumentDocumentServiceResponse_201"
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed due to unprocessable entity.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateDocumentDocumentServiceResponse_422"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateDocumentDocumentServiceResponse_201": {
        "title": "Document Service Response",
        "type": "object",
        "properties": {
          "documentId": {
            "type": "string",
            "description": "The unique identifier for the document.",
            "example": "DOC-898076"
          },
          "ownerId": {
            "type": "string",
            "description": "The unique identifier of the owner of the document.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the associated resource.",
            "example": "RES-916549"
          },
          "status": {
            "type": "string",
            "description": "The current status of the document.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the document was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/DocumentMetadata"
          }
        },
        "description": "Response schema for the document service POST operation.",
        "example": {
          "documentId": "DOC-898076",
          "ownerId": "STANDARD",
          "resourceId": "RES-916549",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "da0e5b4c-faa5-5ee1-bade-800b2fd8c9d9",
            "correlationId": "0c8c0963-61ec-5bcc-8c52-d03e25fb381d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "DocumentMetadata": {
        "title": "Document Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response-abcde"
          },
          "correlationId": {
            "type": "string",
            "description": "The unique identifier for correlating requests and responses.",
            "example": "correlation-abcde"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-10-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the document is processed.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata associated with the document."
      },
      "CreateDocumentDocumentServiceRequest": {
        "type": "object",
        "properties": {
          "documentId": {
            "type": "string",
            "description": "The unique identifier for the document.",
            "example": "DOC-803521"
          },
          "documentType": {
            "type": "string",
            "description": "The type of the document (e.g., report, invoice, etc.).",
            "example": "STANDARD"
          },
          "classification": {
            "type": "string",
            "description": "The classification level of the document (e.g., confidential, public).",
            "example": "STANDARD"
          },
          "retentionClass": {
            "type": "string",
            "description": "The retention class associated with the document.",
            "example": "STANDARD"
          },
          "ownerId": {
            "type": "string",
            "description": "The identifier of the owner of the document.",
            "example": "STANDARD"
          },
          "fileName": {
            "type": "string",
            "description": "The name of the file associated with the document.",
            "example": "Northstar Banking Service"
          },
          "mediaType": {
            "type": "string",
            "description": "The media type of the document file (e.g., application/pdf, image/jpeg).",
            "example": "STANDARD"
          },
          "checksumSha256": {
            "type": "string",
            "description": "The SHA-256 checksum of the document for integrity verification.",
            "example": "STANDARD"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for document operations.",
        "example": {
          "documentId": "DOC-803521",
          "documentType": "STANDARD",
          "classification": "STANDARD",
          "retentionClass": "STANDARD",
          "ownerId": "STANDARD",
          "fileName": "Northstar Banking Service",
          "mediaType": "STANDARD",
          "checksumSha256": "STANDARD",
          "requestContext": {
            "requestId": "fa0632fd-673f-5e29-a691-04024f10c4c3",
            "correlationId": "0c8c0963-61ec-5bcc-8c52-d03e25fb381d",
            "idempotencyKey": "ea3cfd1d-e543-529f-946d-e7a56a832c59",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-381199"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure that the operation is idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp at which the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the communication channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used for the request.",
            "example": "string"
          }
        },
        "description": "Schema representing the communication channel details."
      },
      "CreateDocumentDocumentServiceResponse_422": {
        "title": "Error Response Schema",
        "type": "object",
        "properties": {
          "correlationId": {
            "type": "string",
            "description": "A unique identifier for the request, useful for tracing and debugging.",
            "example": "829cdb33-8bee-4d06-863e-b68bc315c104"
          },
          "code": {
            "type": "string",
            "description": "An error code representing the type of error encountered.",
            "example": "RISK_REVIEW_REJECTED"
          },
          "workflow": {
            "type": "string",
            "description": "Indicates the workflow or process in which the error occurred.",
            "example": "WF-042"
          },
          "message": {
            "type": "string",
            "description": "A detailed message explaining the nature of the error.",
            "example": "Enhanced fraud/compliance review rejected the request"
          }
        },
        "description": "This schema represents the error response returned when a 422 Unprocessable Entity status occurs during the document service operation.",
        "example": {
          "correlationId": "829cdb33-8bee-4d06-863e-b68bc315c104",
          "code": "RISK_REVIEW_REJECTED",
          "workflow": "WF-042",
          "message": "Enhanced fraud/compliance review rejected the request"
        }
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-042"
        },
        "example": "WF-042"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "90755129-6d4a-47f0-b509-49a436c1d1b1"
        },
        "example": "90755129-6d4a-47f0-b509-49a436c1d1b1"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "2"
        },
        "example": "2"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "RISK_REJECT"
        },
        "example": "RISK_REJECT"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "f0fdd7e5-6a6c-4355-8bd1-740d275ca013"
        },
        "example": "f0fdd7e5-6a6c-4355-8bd1-740d275ca013"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201",
            "MICROSERVICE_PROD_422"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "document-services-create-document-services"
        },
        "example": "document-services-create-document-services"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is currently executing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      },
      "X-Workflow-Id": {
        "description": "A unique identifier representing the workflow to which the operation belongs.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-042"
        },
        "example": "WF-042"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Account Takeover Investigation and Freeze"
        },
        "example": "Account Takeover Investigation and Freeze"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "REJECTED"
        },
        "example": "REJECTED"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "f0fdd7e5-6a6c-4355-8bd1-740d275ca013"
        },
        "example": "f0fdd7e5-6a6c-4355-8bd1-740d275ca013"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer token format. The token must be a valid JSON Web Token (JWT) and is required for accessing secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}