{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Banking Channel-Specific Card Terminal Operation Status API",
    "description": "The Banking Channel-Specific Card Terminal Operation Status API allows users to retrieve the operational status of card terminals across various banking channels. It provides real-time insights into the availability and performance of these terminals, making it essential for financial institutions and service providers. Common use cases include monitoring terminal functionality, ensuring customer transactions are processed smoothly, and troubleshooting operational issues. This API is particularly useful for developers working on applications related to banking services and payment processing.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/card-terminal-operation/status": {
      "get": {
        "tags": [
          "Card Terminal Operations"
        ],
        "summary": "Retrieve the status of a specific card terminal operation.",
        "description": "This endpoint allows developers to get the current status of a card terminal operation within a specific channel. The response includes detailed information about the state of the operation, making it easier to track progress and handle any issues that may arise.",
        "operationId": "getCardTerminalOperationStatus",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving the status of the channel-specific card terminal operation. This body must conform to the specified schema to ensure proper processing of the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCardTerminalOperationStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the current status of the card terminal operation.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCardTerminalOperationStatusResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCardTerminalOperationStatusRequest": {
        "type": "string",
        "description": "A string representation of the channel-specific card terminal operation status, to be used in GET requests.",
        "example": "{}"
      },
      "GetCardTerminalOperationStatusResponse_200": {
        "title": "Card Terminal Operation Status Response",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "MOBILE-US"
          },
          "regionCode": {
            "type": "string",
            "description": "Code representing the operational region.",
            "example": "US-EAST-1"
          },
          "serviceWindow": {
            "description": "The operational hours of the terminal service.",
            "$ref": "#/components/schemas/ServiceWindow"
          },
          "dailyCapacity": {
            "type": "integer",
            "description": "The capacity limit for this terminal's operations per day.",
            "format": "int32",
            "example": 1
          },
          "terminalId": {
            "type": "string",
            "description": "Unique identifier for the terminal.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant associated with the terminal.",
            "example": "MER-486955"
          },
          "terminalStatus": {
            "type": "string",
            "description": "Current status of the terminal.",
            "example": "ACTIVE"
          },
          "recordStatus": {
            "type": "string",
            "description": "Status indicating if the record is active or inactive.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version of the terminal status record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the terminal status.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema representing the status of card terminal operations.",
        "example": {
          "channelId": "MOBILE-US",
          "regionCode": "US-EAST-1",
          "serviceWindow": {
            "opensAt": "STANDARD",
            "closesAt": "STANDARD"
          },
          "dailyCapacity": 1,
          "terminalId": "STANDARD",
          "merchantId": "MER-486955",
          "terminalStatus": "ACTIVE",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "e6ea5f16-272a-5245-bdf8-934e4b47d1d7",
            "correlationId": "61b27736-c841-5c66-816c-6b061875f463",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ServiceWindow": {
        "title": "Service Window",
        "type": "object",
        "properties": {
          "opensAt": {
            "type": "string",
            "description": "Time when the service opens.",
            "example": "08:00"
          },
          "closesAt": {
            "type": "string",
            "description": "Time when the service closes.",
            "example": "22:00"
          }
        },
        "description": "Schema representing the service operating hours for a terminal."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Schema containing metadata for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed in the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-terminal-operation-get-card-terminal-operation"
        },
        "example": "card-terminal-operation-get-card-terminal-operation"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request, useful for diagnostics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication with a JSON Web Token (JWT) to secure API access. Clients must include the token in the Authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}