{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Branch Location Status API",
    "description": "The Branch Location Status API provides real-time information about the operational status of bank branches, allowing businesses and customers to check branch availability and service conditions. This API is essential for banking applications and customer service platforms that require up-to-date insights into branch operations. Typical consumers include financial institutions and banking application developers who need to integrate branch status information for enhanced customer experience and operational efficiency. By leveraging this API, users can make informed decisions about branch visits and service availability.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/branch-location-operations/status": {
      "get": {
        "tags": [
          "Branch Location Operations"
        ],
        "summary": "Retrieve the status of branch location operations.",
        "description": "This endpoint allows you to fetch the current status of operations specific to a branch location. It provides relevant information that can help in tracking the performance and availability of branch-related services.",
        "operationId": "getBranchLocationStatus",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the status of branch location operations for a specific channel. Ensure that the request parameters conform to the defined schema for accurate responses.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBranchLocationStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of the operation status.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBranchLocationStatusResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBranchLocationStatusRequest": {
        "type": "string",
        "description": "Represents the status of operations for channel-specific branch location.",
        "example": "{}"
      },
      "GetBranchLocationStatusResponse_200": {
        "title": "Branch Location Operations Status Response",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "MOBILE-US"
          },
          "regionCode": {
            "type": "string",
            "description": "The code representing the region of the branch.",
            "example": "US-EAST-1"
          },
          "serviceWindow": {
            "description": "The operating hours of the branch.",
            "$ref": "#/components/schemas/ServiceWindow"
          },
          "dailyCapacity": {
            "type": "integer",
            "description": "The daily capacity of the branch operations.",
            "format": "int32",
            "example": 1
          },
          "branchId": {
            "type": "string",
            "description": "The unique identifier for the branch.",
            "example": "STANDARD"
          },
          "branchType": {
            "type": "string",
            "description": "The type of the branch (e.g., retail, warehouse).",
            "example": "FULL_SERVICE"
          },
          "timeZone": {
            "type": "string",
            "description": "The time zone in which the branch operates.",
            "example": "America/New_York"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record (e.g., active, inactive).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the branch status record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of the last update to the branch record.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the branch operation response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for the GET operation on branch location operations, indicating the status and relevant details of a specific branch.",
        "example": {
          "channelId": "MOBILE-US",
          "regionCode": "US-EAST-1",
          "serviceWindow": {
            "opensAt": "STANDARD",
            "closesAt": "STANDARD"
          },
          "dailyCapacity": 1,
          "branchId": "STANDARD",
          "branchType": "FULL_SERVICE",
          "timeZone": "America/New_York",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "fcf46355-4da1-5092-83bd-62ac3ccb7e3d",
            "correlationId": "b45bf5ad-aa7a-5c00-80e4-1e41ac01adc8",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ServiceWindow": {
        "title": "Service Window",
        "type": "object",
        "properties": {
          "opensAt": {
            "type": "string",
            "description": "The time at which the branch opens.",
            "example": "08:00"
          },
          "closesAt": {
            "type": "string",
            "description": "The time at which the branch closes.",
            "example": "17:00"
          }
        },
        "description": "This schema defines the service operating hours for a branch."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the API response.",
            "example": "response-1234"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation ID for tracing requests across services.",
            "example": "correlation-5678"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-01T12:30:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request took place.",
            "example": "us-east-1"
          }
        },
        "description": "This schema holds metadata related to the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "This header uniquely identifies the endpoint involved in the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "branch-location-operations-get-branch-location-operations"
        },
        "example": "branch-location-operations-get-branch-location-operations"
      },
      "X-Runtime-App": {
        "description": "This header provides the name of the application that executed the operation, allowing for better tracing and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication via a JSON Web Token (JWT). Clients must include the JWT in the authorization header to authenticate requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}