{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Financial Market Research Submission API",
    "description": "The Financial Market Research Submission API enables users to submit detailed financial market research data. This API is designed for financial analysts and institutions who need to contribute insights and findings regarding market trends. By facilitating the collection of valuable research, it supports businesses in making informed investment decisions. Typical consumers include banks, investment firms, and research organizations looking to enhance their market analysis capabilities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-data/financial-market-research": {
      "post": {
        "tags": [
          "Market Research"
        ],
        "summary": "Create Financial Market Research Data",
        "description": "This endpoint allows users to create new financial market research data entries. It accepts various parameters related to market analysis, enabling the user to input specific information required for research purposes.",
        "operationId": "createMarketDataResearch",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit market data for financial market research. It contains all necessary parameters for the operation, such as market identifiers, research criteria, and any other relevant data needed to process the request accurately.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMarketDataResearchRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The request was successful and a new resource has been created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateMarketDataResearchResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateMarketDataResearchRequest": {
        "title": "Market Data Financial Market Research Request Body",
        "type": "object",
        "properties": {
          "instrumentId": {
            "type": "string",
            "description": "Unique identifier for the financial instrument.",
            "example": "STANDARD"
          },
          "isin": {
            "type": "string",
            "description": "International Securities Identification Number for the instrument.",
            "example": "STANDARD"
          },
          "marketIdentifierCode": {
            "type": "string",
            "description": "Identifier for the market where the instrument is traded.",
            "example": "CODE-572"
          },
          "asOf": {
            "type": "string",
            "description": "Date and time for which the data is requested.",
            "example": "2026-08-11T12:00:00Z"
          },
          "dataSource": {
            "type": "string",
            "description": "Source from which the market data is retrieved.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for the financial market research operation.",
        "example": {
          "instrumentId": "STANDARD",
          "isin": "STANDARD",
          "marketIdentifierCode": "CODE-572",
          "asOf": "2026-08-11T12:00:00Z",
          "dataSource": "STANDARD",
          "requestContext": {
            "requestId": "f1f513a3-74ad-58ef-a3e6-166956e31829",
            "correlationId": "6deb94ba-5723-5e2c-bbed-ecfd2ba02cb3",
            "idempotencyKey": "517d6c5a-e21c-54cb-b063-d5a6fe1c77f8",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-896501"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name of the system that is making the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application that is making the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request is made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema containing contextual information related to the request."
      },
      "Channel": {
        "title": "Request Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., API, UI).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Schema defining the channel information for the request."
      },
      "CreateMarketDataResearchResponse_201": {
        "title": "Financial Market Research Response",
        "type": "object",
        "properties": {
          "instrumentId": {
            "type": "string",
            "description": "The unique identifier for the financial instrument.",
            "example": "STANDARD"
          },
          "marketIdentifierCode": {
            "type": "string",
            "description": "The identifier code for the market where the instrument is traded.",
            "example": "CODE-836"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource related to the operation.",
            "example": "RES-332759"
          },
          "status": {
            "type": "string",
            "description": "The current status of the operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the response was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response including identifiers and timestamps.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Schema representing the response for the financial market research operation.",
        "example": {
          "instrumentId": "STANDARD",
          "marketIdentifierCode": "CODE-836",
          "resourceId": "RES-332759",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "fa8cc16d-3fc7-5099-8568-ff6237d048a9",
            "correlationId": "6deb94ba-5723-5e2c-bbed-ecfd2ba02cb3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for this specific response.",
            "example": "RESP789"
          },
          "correlationId": {
            "type": "string",
            "description": "A correlation identifier for tracking the response's origin.",
            "example": "CORR456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request took place.",
            "example": "US-East"
          }
        },
        "description": "Schema representing the metadata information for a response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "financial-market-research-create-financial-market-research"
        },
        "example": "financial-market-research-create-financial-market-research"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication method, leveraging JSON Web Tokens (JWT) for access control. Clients must provide a valid JWT token in the `Authorization` header to authenticate their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}