{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Document By Correspondence Id-spec",
    "description": "This API endpoint allows users to update specific document details associated with a given correspondence ID. It is designed for banking applications where document management is crucial, enabling efficient updates to the information linked with correspondence records. Typical consumers include banking staff and application integrations that require real-time document updates. This helps streamline communication and maintain accurate records in the banking system.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/documents/correspondence/{correspondenceId}": {
      "patch": {
        "tags": [
          "Document Management"
        ],
        "summary": "Update correspondence document details.",
        "description": "This endpoint allows you to patch the details of a specific correspondence document identified by its resource ID. Use this operation to modify existing fields or update any relevant information associated with the document.",
        "operationId": "updateDocumentByCorrespondenceId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/correspondenceId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the correspondence document identified by RES-100045. Ensure that the JSON structure corresponds to the expected schema to guarantee proper processing of the update operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDocumentByCorrespondenceIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The update was successful and the resource is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateDocumentByCorrespondenceIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateDocumentByCorrespondenceIdRequest": {
        "title": "Operations Patch Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "description": "Details of the changes made to the document.",
            "$ref": "#/components/schemas/DocumentChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "Timestamp indicating when the change should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the user who requested the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context surrounding the request including identifiers and metadata.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for the PATCH operation on documents correspondence.",
        "example": {
          "changes": {
            "documentId": "DOC-669948",
            "documentType": "STANDARD",
            "classification": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "a68a34cc-4cf3-554e-afcb-cd85fda60b51",
            "correlationId": "7b3c6707-6dec-5f79-8eb5-184142e6cec2",
            "idempotencyKey": "8a416652-3703-5a25-a65e-c4c84fe6978a",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-616029"
            }
          }
        }
      },
      "DocumentChanges": {
        "title": "Document Changes",
        "type": "object",
        "properties": {
          "documentId": {
            "type": "string",
            "description": "Unique identifier for the document.",
            "example": "string"
          },
          "documentType": {
            "type": "string",
            "description": "Type of the document being modified.",
            "example": "string"
          },
          "classification": {
            "type": "string",
            "description": "Classification of the document.",
            "example": "string"
          }
        },
        "description": "Schema for the changes made to a document."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking the request across systems.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure an operation is idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp for when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that initiated the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel used to make the request.",
            "$ref": "#/components/schemas/RequestChannel"
          }
        },
        "description": "Schema representing the context of the request including metadata and identifiers."
      },
      "RequestChannel": {
        "title": "Request Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g. web, mobile, API).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Schema representing the channel used to make the request."
      },
      "UpdateDocumentByCorrespondenceIdResponse_200": {
        "title": "Patch Response for Operation 100045 on Correspondence",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation performed.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for the PATCH operation related to correspondence with ID 100045.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "fb89e2ab-a25e-5dc3-b3f7-00d3eaa89caf",
            "correlationId": "7b3c6707-6dec-5f79-8eb5-184142e6cec2",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "12345"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation ID used to track the request.",
            "example": "abcde-1234"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-23T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "us-east"
          }
        },
        "description": "This schema contains metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "correspondenceId": {
        "name": "correspondenceId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the API endpoint being accessed in this request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "correspondence-update-correspondence"
        },
        "example": "correspondence-update-correspondence"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is handling the request on the server side.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme allows access to the API endpoints using Bearer Tokens, specifically formatted as JSON Web Tokens (JWT). A valid JWT must be included in the Authorization header of each request that requires authentication.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}