{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Economic Capital Generation API",
    "description": "The Economic Capital Generation API facilitates the calculation and modeling of economic capital within banking operations. This endpoint allows users to submit data necessary for the computation of economic risk metrics, vital for financial decision-making and regulatory compliance. Financial analysts, risk managers, and compliance officers are typical consumers of this API, employing it to assess capital adequacy and liquidity under various scenarios. It plays a crucial role in understanding and managing a bank's financial stability and strategic planning.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/models/economic-capital": {
      "post": {
        "tags": [
          "Economic Capital"
        ],
        "summary": "Create a new economic capital model.",
        "description": "This endpoint allows users to create a new economic capital model in the system. Ensure that all required fields are included in the request body for successful model creation.",
        "operationId": "createEconomicCapitalModel",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "A request to create or update economic capital information. This request body must follow the specified schema to ensure all required data is provided in the correct format.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEconomicCapitalModelRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The economic capital resource was created successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateEconomicCapitalModelResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateEconomicCapitalModelRequest": {
        "title": "Economic Capital Operations POST Request Body",
        "type": "object",
        "properties": {
          "modelId": {
            "type": "string",
            "description": "The unique identifier for the model.",
            "example": "STANDARD"
          },
          "modelVersion": {
            "type": "string",
            "description": "The version of the model being used.",
            "example": "STANDARD"
          },
          "portfolioId": {
            "type": "string",
            "description": "The unique identifier for the portfolio.",
            "example": "PORT-395910"
          },
          "asOfDate": {
            "type": "string",
            "description": "The date as of which the operations are requested.",
            "example": "2026-09-15"
          },
          "scenario": {
            "type": "string",
            "description": "The scenario under which the operations are executed.",
            "example": "STANDARD"
          },
          "confidenceLevel": {
            "type": "number",
            "description": "The confidence level for the model output.",
            "example": 100.0
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the request body used in the Economic Capital Operations POST API operation.",
        "example": {
          "modelId": "STANDARD",
          "modelVersion": "STANDARD",
          "portfolioId": "PORT-395910",
          "asOfDate": "2026-09-15",
          "scenario": "STANDARD",
          "confidenceLevel": 100.0,
          "requestContext": {
            "requestId": "9a99672b-22d8-5e45-8281-cb57e545b18e",
            "correlationId": "73febf7d-7581-5b8f-ba67-7cf4e4d2d838",
            "idempotencyKey": "1cddb903-f60c-5aa4-b63f-e1147e5de103",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-143770"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure that requests are idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that initiated the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema that provides contextual information about the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Schema that contains information about the channel used for the request."
      },
      "CreateEconomicCapitalModelResponse_201": {
        "title": "Economic Capital Operation Response",
        "type": "object",
        "properties": {
          "modelId": {
            "type": "string",
            "description": "Unique identifier for the economic capital model.",
            "example": "STANDARD"
          },
          "portfolioId": {
            "type": "string",
            "description": "Unique identifier for the portfolio associated with the economic capital model.",
            "example": "PORT-889906"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource linked to the economic capital model.",
            "example": "RES-169102"
          },
          "status": {
            "type": "string",
            "description": "The status of the economic capital operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the economic capital model was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Contains additional metadata regarding the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for an Economic Capital operation request.",
        "example": {
          "modelId": "STANDARD",
          "portfolioId": "PORT-889906",
          "resourceId": "RES-169102",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "b0e38625-fdb4-5f3e-8c3f-f7b1e1a5c828",
            "correlationId": "73febf7d-7581-5b8f-ba67-7cf4e4d2d838",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-id-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate requests and responses.",
            "example": "correlation-id-456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-01-01T01:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the request was processed.",
            "example": "us-west-2"
          }
        },
        "description": "This schema represents additional metadata information for an operation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "economic-capital-create-economic-capital"
        },
        "example": "economic-capital-create-economic-capital"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authorization scheme that uses a bearer token, structured as a JSON Web Token (JWT), to authorize requests. Clients must include this token in the HTTP Authorization header as 'Bearer {token}' for secure access.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}