{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Enterprise Service By Param1-spec",
    "description": "The Approved Supplier Directory API enables users to retrieve detailed information about enterprise services based on a specific parameter. This endpoint supports queries for approved suppliers, facilitating access to essential business data for stakeholders in procurement, sourcing, and vendor management. Typical consumers include business analysts, procurement officers, and software developers who integrate supplier data into applications. Utilizing this API streamlines the decision-making process regarding supplier selection and management, enhancing operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/enterprise-services/approved-supplier-directory/{param1}": {
      "get": {
        "tags": [
          "Supplier Management"
        ],
        "summary": "Retrieve approved supplier information.",
        "description": "Fetch detailed information about a specific approved supplier, identified by RES-100045. This endpoint allows you to access the supplier's data for verification and operational needs.",
        "operationId": "getEnterpriseServiceByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body contains the parameters required to retrieve information from the approved supplier directory. Ensure that the necessary fields are provided in the correct format.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetEnterpriseServiceByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the approved supplier directory.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetEnterpriseServiceByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetEnterpriseServiceByParam1Request": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation of the approved supplier directory. It is expected to be a string representing any required information or criteria for fetching the approved suppliers.",
        "example": "{}"
      },
      "GetEnterpriseServiceByParam1Response_200": {
        "title": "Approved Supplier Directory Response",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "bac6927c-1239-5216-9696-8fe08d9b4edb"
          },
          "supplierId": {
            "type": "string",
            "description": "Identifier for the supplier.",
            "example": "STANDARD"
          },
          "costCenter": {
            "type": "string",
            "description": "Identifier for the cost center associated with the transaction.",
            "example": "STANDARD"
          },
          "amount": {
            "description": "The monetary amount associated with the transaction.",
            "$ref": "#/components/schemas/Amount"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier for the user who requested the transaction.",
            "example": "STANDARD"
          },
          "purchaseOrderId": {
            "type": "string",
            "description": "Identifier for the associated purchase order.",
            "example": "ORD-546977"
          },
          "categoryCode": {
            "type": "string",
            "description": "Code representing the category of the supplier or service.",
            "example": "CODE-695"
          },
          "approvalLevel": {
            "type": "string",
            "description": "Current approval level of the request.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record in the system.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata regarding the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the approved supplier directory query.",
        "example": {
          "requestId": "bac6927c-1239-5216-9696-8fe08d9b4edb",
          "supplierId": "STANDARD",
          "costCenter": "STANDARD",
          "amount": {
            "value": 100.0,
            "currency": "USD"
          },
          "requestedBy": "STANDARD",
          "purchaseOrderId": "ORD-546977",
          "categoryCode": "CODE-695",
          "approvalLevel": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "05cab51f-ad4e-5cdc-acfb-61fa67f4e469",
            "correlationId": "e61fdc2f-116e-5ca3-83e6-953f789f7f60",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Amount": {
        "title": "Transaction Amount",
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "Numerical value of the transaction amount.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "Currency code associated with the transaction amount.",
            "example": "USD"
          }
        },
        "description": "Schema representing the monetary value and currency of a transaction."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request occurred.",
            "example": "string"
          }
        },
        "description": "Schema containing metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "approved-supplier-directory-get-approved-supplier-directory"
        },
        "example": "approved-supplier-directory-get-approved-supplier-directory"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token authentication method, where the client must send a valid JSON Web Token (JWT) in the Authorization header. The JWT is typically issued by an authentication server and contains the user's identity and claims.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}