{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Operational Service By Param1-spec",
    "description": "The Update Operational Service Parameters API allows users to adjust specific operational services identified by unique parameters. This endpoint is essential for maintaining the accuracy and relevance of service offerings, enabling financial institutions to tailor their card collections effectively. Typical consumers include banking partners, system integrators, and operational teams looking to enhance service configurations. The API supports dynamic updates to operational parameters, ensuring that banking services are responsive to changing business needs.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/card-collections/{param1}": {
      "patch": {
        "tags": [
          "Card Collection Management"
        ],
        "summary": "Update card collection details.",
        "description": "This endpoint allows you to update the details of a specific card collection by its unique identifier. Ensure that you provide the necessary fields that need to be updated in the request body.",
        "operationId": "updateOperationalServiceByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body contains the necessary information to update the state of the card collection identified by CARD-400045. It allows for the modification of various attributes related to the card collection.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateOperationalServiceByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, and the resource has been updated.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateOperationalServiceByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateOperationalServiceByParam1Request": {
        "type": "object",
        "properties": {
          "changes": {
            "description": "An object containing the changes to be applied to the card account.",
            "$ref": "#/components/schemas/CardChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the change should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user or system requesting this change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for the PATCH operation on a card collection service.",
        "example": {
          "changes": {
            "cardAccountId": "ACC-649553",
            "customerId": "CUST-138918",
            "daysPastDue": 1
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "9db0d1fb-4d20-5bce-9a17-0946df933446",
            "correlationId": "fe88c396-ed12-5cea-aa96-3287c405c151",
            "idempotencyKey": "f65c7633-8542-582f-b061-2322e08c9602",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-903386"
            }
          }
        }
      },
      "CardChanges": {
        "type": "object",
        "properties": {
          "cardAccountId": {
            "type": "string",
            "description": "The unique identifier for the card account.",
            "example": "1234-5678-9876-5432"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer associated with the card account.",
            "example": "customer_456"
          },
          "daysPastDue": {
            "type": "integer",
            "description": "The number of days the account is overdue.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Details of the changes made to a card account."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req_789"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to correlate logs related to the request.",
            "example": "corr_456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure that the request can be safely retried without unintended effects.",
            "example": "idemp_123"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-01-01T00:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originates.",
            "example": "card_system"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originates.",
            "example": "card_app"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/RequestChannel"
          }
        },
        "description": "Information about the context of the request."
      },
      "RequestChannel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the communication channel.",
            "example": "chan_001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of communication channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used to make the request.",
            "example": "device_001"
          }
        },
        "description": "Information about the channel through which the request was made."
      },
      "UpdateOperationalServiceByParam1Response_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "Indicates the version of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status message of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the operation was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the operation response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the PATCH operation on card collections. Contains status and metadata regarding the update.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "bd22bd91-9da1-527f-adaa-6e2497f98ace",
            "correlationId": "fe88c396-ed12-5cea-aa96-3287c405c151",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata information regarding the operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the API endpoint being executed. This value allows tracking of requests and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-collections-update-card-collections"
        },
        "example": "card-collections-update-card-collections"
      },
      "x-runtime-app": {
        "description": "The name of the application that initiated the API call. This is helpful for identifying application-specific issues.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication. A valid JWT (JSON Web Token) must be provided in the 'Authorization' header of the request. The token grants access to the API, ensuring that only authenticated users can interact with the application.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}