{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Payments Customer Account Payment Success Indicator-v5-spec",
    "description": "MICROSERVICE-PROD-Create Payments Customer Account Payment Success Indicator-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/payments/customers/{customerId}/accounts/{accountId}/payment-success-indicators": {
      "post": {
        "operationId": "createPaymentsCustomerAccountPaymentSuccessIndicator",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          },
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePaymentsCustomerAccountPaymentSuccessIndicatorRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "202Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePaymentsCustomerAccountPaymentSuccessIndicatorResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreatePaymentsCustomerAccountPaymentSuccessIndicatorRequest": {
        "type": "object",
        "properties": {
          "transaction": {
            "type": "object",
            "properties": {
              "settleByDate": {
                "type": "string",
                "example": "string"
              },
              "amount": {
                "type": "number",
                "example": 0.0
              }
            },
            "example": {
              "settleByDate": "2026-09-15",
              "amount": 100.0
            }
          },
          "user": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "example": "string"
              },
              "email": {
                "type": "string",
                "example": "string"
              },
              "address": {
                "type": "object",
                "properties": {
                  "streetLine1": {
                    "type": "string",
                    "example": "string"
                  },
                  "streetLine2": {
                    "type": "string",
                    "example": "string"
                  },
                  "city": {
                    "type": "string",
                    "example": "string"
                  },
                  "state": {
                    "type": "string",
                    "example": "string"
                  },
                  "postalCode": {
                    "type": "string",
                    "example": "string"
                  },
                  "country": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              },
              "phone": {
                "type": "object",
                "properties": {
                  "countryHint": {
                    "type": "string",
                    "example": "string"
                  },
                  "number": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "name": "Northstar Banking Service",
              "email": "olivia.bennett@northstar.example",
              "address": {
                "streetLine1": "STANDARD",
                "streetLine2": "STANDARD",
                "city": "New York",
                "state": "STANDARD",
                "postalCode": "10001",
                "country": "STANDARD"
              },
              "phone": {
                "countryHint": "STANDARD",
                "number": "STANDARD"
              }
            }
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "20d7af14-c38c-5235-a75b-987ea32ad95e",
              "correlationId": "4602ce7c-39b3-5f56-981f-93b8ffaa809c",
              "idempotencyKey": "58a3b882-2e8a-563f-8c0d-bca0506c8e76",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-644172"
              }
            }
          }
        },
        "example": {
          "transaction": {
            "settleByDate": "2026-09-15",
            "amount": 100.0
          },
          "user": {
            "name": "Northstar Banking Service",
            "email": "olivia.bennett@northstar.example",
            "address": {
              "streetLine1": "STANDARD",
              "streetLine2": "STANDARD",
              "city": "New York",
              "state": "STANDARD",
              "postalCode": "10001",
              "country": "STANDARD"
            },
            "phone": {
              "countryHint": "STANDARD",
              "number": "STANDARD"
            }
          },
          "requestContext": {
            "requestId": "20d7af14-c38c-5235-a75b-987ea32ad95e",
            "correlationId": "4602ce7c-39b3-5f56-981f-93b8ffaa809c",
            "idempotencyKey": "58a3b882-2e8a-563f-8c0d-bca0506c8e76",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-644172"
            }
          }
        }
      },
      "CreatePaymentsCustomerAccountPaymentSuccessIndicatorResponse_202": {
        "type": "object",
        "properties": {
          "payRequestId": {
            "type": "string",
            "example": "80f934fe-8e9e-51a0-b428-7b2562a1f1ea"
          },
          "status": {
            "type": "string",
            "example": "ACTIVE"
          },
          "customerId": {
            "type": "string",
            "example": "CUST-862177"
          },
          "accountId": {
            "type": "string",
            "example": "ACC-113763"
          },
          "requestDate": {
            "type": "string",
            "example": "2026-09-15"
          },
          "transaction": {
            "type": "object",
            "properties": {
              "settleByDate": {
                "type": "string",
                "example": "string"
              },
              "amount": {
                "type": "number",
                "example": 0.0
              }
            },
            "example": {
              "settleByDate": "2026-09-15",
              "amount": 100.0
            }
          },
          "nsfReturnRisk": {
            "type": "object",
            "properties": {
              "result": {
                "type": "object",
                "properties": {
                  "availableBalance": {
                    "type": "number",
                    "example": 0.0
                  },
                  "dailyResults": {
                    "type": "array",
                    "example": "string",
                    "items": {
                      "type": "object",
                      "properties": {
                        "potentialSettlementDate": {
                          "type": "string",
                          "example": "string"
                        },
                        "score": {
                          "type": "integer",
                          "format": "int32",
                          "example": 0
                        },
                        "indicator": {
                          "type": "string",
                          "example": "string"
                        },
                        "reasons": {
                          "type": "object",
                          "properties": {
                            "recentBalance": {
                              "type": "integer",
                              "format": "int32",
                              "example": 0
                            },
                            "balanceHistory": {
                              "type": "integer",
                              "format": "int32",
                              "example": 0
                            },
                            "nsfHistory": {
                              "type": "integer",
                              "format": "int32",
                              "example": 0
                            },
                            "recentNsfHistory": {
                              "type": "integer",
                              "format": "int32",
                              "example": 0
                            },
                            "recurringNsf": {
                              "type": "integer",
                              "format": "int32",
                              "example": 0
                            },
                            "spendHistory": {
                              "type": "integer",
                              "format": "int32",
                              "example": 0
                            },
                            "depositHistory": {
                              "type": "integer",
                              "format": "int32",
                              "example": 0
                            },
                            "transactionAmount": {
                              "type": "integer",
                              "format": "int32",
                              "example": 0
                            }
                          },
                          "example": "string"
                        }
                      },
                      "example": "string"
                    }
                  }
                },
                "example": "string"
              },
              "error": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "example": "string"
                  },
                  "title": {
                    "type": "string",
                    "example": "string"
                  },
                  "level": {
                    "type": "string",
                    "example": "string"
                  },
                  "message": {
                    "type": "string",
                    "example": "string"
                  },
                  "user_message": {
                    "type": "string",
                    "example": "string"
                  },
                  "assetId": {
                    "type": "string",
                    "example": "string"
                  },
                  "accountId": {
                    "type": "string",
                    "example": "string"
                  },
                  "externalTransactionId": {
                    "type": "string",
                    "example": "string"
                  },
                  "tags": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "result": {
                "availableBalance": 100.0,
                "dailyResults": [
                  {
                    "potentialSettlementDate": "2026-09-15",
                    "score": 1,
                    "indicator": "STANDARD",
                    "reasons": {
                      "recentBalance": 1,
                      "balanceHistory": 1,
                      "nsfHistory": 1,
                      "recentNsfHistory": 1,
                      "recurringNsf": 1,
                      "spendHistory": 1,
                      "depositHistory": 1,
                      "transactionAmount": 1
                    }
                  }
                ]
              },
              "error": {
                "status": "ACTIVE",
                "title": "Banking operation completed",
                "level": "STANDARD",
                "message": "STANDARD",
                "user_message": "STANDARD",
                "assetId": "STANDARD",
                "accountId": "ACC-276497",
                "externalTransactionId": "TXN-178448",
                "tags": "STANDARD"
              }
            }
          },
          "unauthorizedReturnRisk": {
            "type": "object",
            "properties": {
              "result": {
                "type": "object",
                "properties": {
                  "score": {
                    "type": "integer",
                    "format": "int32",
                    "example": 0
                  },
                  "indicator": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              },
              "error": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "example": "string"
                  },
                  "title": {
                    "type": "string",
                    "example": "string"
                  },
                  "level": {
                    "type": "string",
                    "example": "string"
                  },
                  "message": {
                    "type": "string",
                    "example": "string"
                  },
                  "user_message": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "result": {
                "score": 1,
                "indicator": "STANDARD"
              },
              "error": {
                "status": "ACTIVE",
                "title": "Banking operation completed",
                "level": "STANDARD",
                "message": "STANDARD",
                "user_message": "STANDARD"
              }
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "35c5d88d-eb83-5876-9158-d0ae9c6762ca",
              "correlationId": "4602ce7c-39b3-5f56-981f-93b8ffaa809c",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "payRequestId": "80f934fe-8e9e-51a0-b428-7b2562a1f1ea",
          "status": "ACTIVE",
          "customerId": "CUST-862177",
          "accountId": "ACC-113763",
          "requestDate": "2026-09-15",
          "transaction": {
            "settleByDate": "2026-09-15",
            "amount": 100.0
          },
          "nsfReturnRisk": {
            "result": {
              "availableBalance": 100.0,
              "dailyResults": [
                {
                  "potentialSettlementDate": "2026-09-15",
                  "score": 1,
                  "indicator": "STANDARD",
                  "reasons": {
                    "recentBalance": 1,
                    "balanceHistory": 1,
                    "nsfHistory": 1,
                    "recentNsfHistory": 1,
                    "recurringNsf": 1,
                    "spendHistory": 1,
                    "depositHistory": 1,
                    "transactionAmount": 1
                  }
                }
              ]
            },
            "error": {
              "status": "ACTIVE",
              "title": "Banking operation completed",
              "level": "STANDARD",
              "message": "STANDARD",
              "user_message": "STANDARD",
              "assetId": "STANDARD",
              "accountId": "ACC-276497",
              "externalTransactionId": "TXN-178448",
              "tags": "STANDARD"
            }
          },
          "unauthorizedReturnRisk": {
            "result": {
              "score": 1,
              "indicator": "STANDARD"
            },
            "error": {
              "status": "ACTIVE",
              "title": "Banking operation completed",
              "level": "STANDARD",
              "message": "STANDARD",
              "user_message": "STANDARD"
            }
          },
          "metadata": {
            "responseId": "35c5d88d-eb83-5876-9158-d0ae9c6762ca",
            "correlationId": "4602ce7c-39b3-5f56-981f-93b8ffaa809c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-generate-payment-success-indicators"
        },
        "example": "open-finance-api-generate-payment-success-indicators"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}