{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Replace P2m By Outlet Id-spec",
    "description": "The Outlet Management API provides the capability to replace or update the P2m configuration associated with a specific outlet identified by its outlet ID. This operation allows businesses to modify P2m parameters efficiently within their outlet management systems. Typical consumers of this API include outlet managers and system integrators seeking to maintain updated configurations for optimal operations. It ensures that each outlet can seamlessly adapt to changing business conditions and requirements.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/outlets/{outletId}": {
      "put": {
        "tags": [
          "Outlet Management"
        ],
        "summary": "Update Outlet Information",
        "description": "This operation updates the details of the outlet identified by RES-100045. Ensure that all required fields are included in the request body for a successful update.",
        "operationId": "replaceP2mByOutletId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/outletId"
          }
        ],
        "requestBody": {
          "description": "Updates the outlet information for the specified outlet ID (RES-100045). This request body should contain all necessary details to modify the outlet information as required. Ensure that the format complies with the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceP2mByOutletIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The outlet was updated successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceP2mByOutletIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ReplaceP2mByOutletIdRequest": {
        "title": "Outlet Update Request",
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant.",
            "example": "MER-833842"
          },
          "name": {
            "type": "string",
            "description": "Name of the outlet.",
            "example": "Northstar Banking Service"
          },
          "outletType": {
            "type": "string",
            "description": "Type of the outlet (e.g., retail, dining).",
            "example": "STANDARD"
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "contact": {
            "$ref": "#/components/schemas/Contact"
          },
          "timezone": {
            "type": "string",
            "description": "Timezone in which the outlet is located.",
            "example": "America/New_York"
          },
          "currency": {
            "type": "string",
            "description": "Currency of the outlet's transactions.",
            "example": "USD"
          },
          "externalReference": {
            "type": "string",
            "description": "External reference identifier for the outlet.",
            "example": "STANDARD"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for updating an outlet.",
        "example": {
          "merchantId": "MER-833842",
          "name": "Northstar Banking Service",
          "outletType": "STANDARD",
          "address": {
            "line1": "350 Fifth Avenue",
            "line2": "Suite 4200",
            "city": "New York",
            "stateOrProvince": "STANDARD",
            "postalCode": "10001",
            "country": "STANDARD"
          },
          "contact": {
            "email": "olivia.bennett@northstar.example",
            "phone": "+1-212-555-0147",
            "website": "https://example.com/resource"
          },
          "timezone": "America/New_York",
          "currency": "USD",
          "externalReference": "STANDARD",
          "requestContext": {
            "requestId": "320873e3-1a2b-558c-8220-9b108d9a55a3",
            "correlationId": "a7c4c24c-8100-56ac-abea-28eed15a67c6",
            "idempotencyKey": "ec44624c-1fde-53a3-82de-6356fe6a21b4",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-186714"
            }
          }
        }
      },
      "Address": {
        "type": "object",
        "properties": {
          "line1": {
            "type": "string",
            "description": "The first line of the address.",
            "example": "123 Main St"
          },
          "line2": {
            "type": "string",
            "description": "The second line of the address (optional).",
            "example": "Suite 100"
          },
          "city": {
            "type": "string",
            "description": "The city where the outlet is located.",
            "example": "Springfield"
          },
          "stateOrProvince": {
            "type": "string",
            "description": "The state or province where the outlet is located.",
            "example": "IL"
          },
          "postalCode": {
            "type": "string",
            "description": "The postal or ZIP code of the outlet location.",
            "example": "62701"
          },
          "country": {
            "type": "string",
            "description": "The country where the outlet is located.",
            "example": "USA"
          }
        },
        "description": "The physical address details of the outlet."
      },
      "Contact": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "The email address for contacting the outlet.",
            "example": "contact@mainstreetcafe.com"
          },
          "phone": {
            "type": "string",
            "description": "The phone number for contacting the outlet.",
            "example": "+1-555-1234567"
          },
          "website": {
            "type": "string",
            "description": "The website URL of the outlet.",
            "example": "http://www.mainstreetcafe.com"
          }
        },
        "description": "Contact information for the outlet."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-987654"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests.",
            "example": "corr-123456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of the request.",
            "example": "idemp-54321"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "POS"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request originated.",
            "example": "MobileApp"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., online, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device used.",
            "example": "device-xyz"
          }
        },
        "description": "Schema representing the communication channel used for the request."
      },
      "ReplaceP2mByOutletIdResponse_200": {
        "type": "object",
        "properties": {
          "outletId": {
            "type": "string",
            "description": "The unique identifier for the outlet.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "The unique identifier for the merchant associated with the outlet.",
            "example": "MER-975835"
          },
          "name": {
            "type": "string",
            "description": "The name of the outlet.",
            "example": "Northstar Banking Service"
          },
          "outletType": {
            "type": "string",
            "description": "The type of outlet (e.g., restaurant, retail).",
            "example": "STANDARD"
          },
          "address": {
            "description": "The physical address of the outlet.",
            "$ref": "#/components/schemas/Address"
          },
          "contact": {
            "description": "Contact information for the outlet.",
            "$ref": "#/components/schemas/Contact"
          },
          "timezone": {
            "type": "string",
            "description": "The timezone of the outlet.",
            "example": "America/New_York"
          },
          "currency": {
            "type": "string",
            "description": "The currency used at the outlet.",
            "example": "USD"
          },
          "externalReference": {
            "type": "string",
            "description": "An external reference identifier associated with the outlet.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The operational status of the outlet.",
            "example": "ACTIVE"
          },
          "audit": {
            "description": "Audit information about the outlet's creation and updates.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Additional metadata related to the outlet response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the outlet operation.",
        "example": {
          "outletId": "STANDARD",
          "merchantId": "MER-975835",
          "name": "Northstar Banking Service",
          "outletType": "STANDARD",
          "address": {
            "line1": "350 Fifth Avenue",
            "line2": "Suite 4200",
            "city": "New York",
            "stateOrProvince": "STANDARD",
            "postalCode": "10001",
            "country": "STANDARD"
          },
          "contact": {
            "email": "olivia.bennett@northstar.example",
            "phone": "+1-212-555-0147",
            "website": "https://example.com/resource"
          },
          "timezone": "America/New_York",
          "currency": "USD",
          "externalReference": "STANDARD",
          "status": "ACTIVE",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "7b67e6a0-4f14-5154-8d52-c0f93ce87ea8",
            "correlationId": "a7c4c24c-8100-56ac-abea-28eed15a67c6",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Audit": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the outlet was created.",
            "example": "2023-01-01T00:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Who created the outlet entry.",
            "example": "admin"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the outlet was last updated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Who last updated the outlet entry.",
            "example": "admin"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the outlet entry.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Audit information regarding the outlet's lifecycle."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response_001"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking requests.",
            "example": "corr_001"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "US-West"
          }
        },
        "description": "Metadata related to the outlet response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "outletId": {
        "name": "outletId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-replace-outlet"
        },
        "example": "banking-p2m-openapi-replace-outlet"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token for authentication. The token must be formatted as a JSON Web Token (JWT) and included in the Authorization header of the request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}