{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Trade Clearing API",
    "description": "The Trade Clearing API provides functionality to access and manage trade clearing information within the banking ecosystem. This API enables users to retrieve details about cleared trades and their associated market operations, fostering transparency and efficiency in financial transactions. Typical consumers of this API include banks, financial institutions, and trade settlement platforms seeking to optimize their operational workflows. By leveraging this API, developers can integrate trade clearance features into applications, ensuring compliance with regulatory requirements and enhancing client service.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-operations/trade-clearing": {
      "get": {
        "tags": [
          "Trade Operations"
        ],
        "summary": "Retrieve Trade Clearing Information",
        "description": "Fetches the current trade clearing data relevant to market operations. This endpoint provides insights into trade settlements, ensuring timely processing and records management.",
        "operationId": "getTradeClearing",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body containing parameters necessary for executing a trade clearing operation. This body is expected to be in JSON format, and it will be used to define the specific trade-clearing operations to be performed. It should adhere to the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetTradeClearingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved trade clearing data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTradeClearingResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetTradeClearingRequest": {
        "type": "string",
        "description": "Represents the request body for trade clearing operations in market operations.",
        "example": "{}"
      },
      "GetTradeClearingResponse_200": {
        "title": "Trade Clearing Response Schema",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of trade items.",
            "example": [
              {
                "tradeId": "STANDARD",
                "instrumentId": "STANDARD",
                "settlementDate": "2026-09-15",
                "quantity": 1,
                "settlementCurrency": "USD",
                "custodianId": "STANDARD",
                "clearingHouseId": "STANDARD",
                "settlementMethod": "STANDARD",
                "matchingStatus": "ACTIVE",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/TradeItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for trade clearing operations.",
        "example": {
          "items": [
            {
              "tradeId": "STANDARD",
              "instrumentId": "STANDARD",
              "settlementDate": "2026-09-15",
              "quantity": 1,
              "settlementCurrency": "USD",
              "custodianId": "STANDARD",
              "clearingHouseId": "STANDARD",
              "settlementMethod": "STANDARD",
              "matchingStatus": "ACTIVE",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "e679033e-ea41-57c8-83c0-d91d90ff801e",
            "correlationId": "3bb9a8ee-a14c-59ef-a17f-0f55c2737582",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "TradeItem": {
        "title": "Trade Item Schema",
        "type": "object",
        "properties": {
          "tradeId": {
            "type": "string",
            "description": "Unique identifier for the trade.",
            "example": "trade123"
          },
          "instrumentId": {
            "type": "string",
            "description": "Unique identifier for the instrument involved in the trade.",
            "example": "instrument456"
          },
          "settlementDate": {
            "type": "string",
            "description": "Date when the trade is settled.",
            "example": "2023-10-01T00:00:00Z"
          },
          "quantity": {
            "type": "integer",
            "description": "Quantity of the instrument traded.",
            "format": "int32",
            "example": 100
          },
          "settlementCurrency": {
            "type": "string",
            "description": "Currency used for settlement.",
            "example": "USD"
          },
          "custodianId": {
            "type": "string",
            "description": "Identifier for the custodian managing the trade.",
            "example": "custodian789"
          },
          "clearingHouseId": {
            "type": "string",
            "description": "Identifier for the clearing house.",
            "example": "clearingHouse101"
          },
          "settlementMethod": {
            "type": "string",
            "description": "Method used for settling the trade.",
            "example": "Cash"
          },
          "matchingStatus": {
            "type": "string",
            "description": "Status indicating whether the trade is matched.",
            "example": "Matched"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the trade record.",
            "example": "Active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the trade.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "Schema representing a single trade item."
      },
      "Pagination": {
        "title": "Pagination Schema",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the results.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Schema representing pagination information."
      },
      "Metadata": {
        "title": "Metadata Schema",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request-response correlation.",
            "example": "correlation456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "us-east"
          }
        },
        "description": "Schema representing metadata information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "trade-clearing-search-trade-clearing"
        },
        "example": "trade-clearing-search-trade-clearing"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, allowing users to authenticate by providing a JSON Web Token (JWT) in the Authorization header of requests. It is typically used for securing APIs and allows for stateless authentication.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}