{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Quant Model Update API",
    "description": "The Quant Model Update API enables financial institutions to modify existing quantitative models used for market data analysis. Through this endpoint, users can update specific parameters of a quant model, ensuring that it reflects the latest analytics and market conditions. This API is particularly useful for data analysts and quantitative researchers who require rapid adjustments to model settings in response to fluctuating markets. The API facilitates efficient management of quantitative strategies, thus supporting informed decision-making in the banking sector.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-data/quant-model/{param1}": {
      "patch": {
        "tags": [
          "Quant Model Management"
        ],
        "summary": "Update Quant Model RES-100045",
        "description": "This endpoint allows you to update the details of the Quant Model with ID RES-100045. Provide the necessary data in the request body to modify the existing model settings or attributes.",
        "operationId": "patchQuantModelRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update specific attributes of the quantitative model identified by 'RES-100045'. The data should conform to the specified JSON schema, allowing for the modification of relevant fields.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchQuantModelRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchQuantModelRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchQuantModelRes100045Request": {
        "type": "object",
        "properties": {
          "changes": {
            "description": "An object representing the changes to be made in the request, including details of the instrument.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "A string describing the reason for the requested change.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "A timestamp indicating when the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "An identifier for the user making the request.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "An object containing additional context regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "example": {
          "changes": {
            "instrumentId": "STANDARD",
            "isin": "STANDARD",
            "marketIdentifierCode": "CODE-196"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "640dd42d-3e1f-54c2-b640-c8cd79506b5b",
            "correlationId": "ea05d604-f6af-5161-b4ec-81160bd6d82c",
            "idempotencyKey": "24e2eec0-2f1f-5e5c-90a6-e7e26772fb14",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-877015"
            }
          }
        }
      },
      "Changes": {
        "type": "object",
        "properties": {
          "instrumentId": {
            "type": "string",
            "description": "The unique identifier of the financial instrument being changed.",
            "example": "string"
          },
          "isin": {
            "type": "string",
            "description": "The International Securities Identification Number for the instrument.",
            "example": "string"
          },
          "marketIdentifierCode": {
            "type": "string",
            "description": "The code identifying the market for the instrument.",
            "example": "string"
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to correlate multiple related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A unique key to avoid duplicate processing of requests.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "string"
          },
          "channel": {
            "description": "An object representing the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        }
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the communication channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device from which the request was made.",
            "example": "string"
          }
        }
      },
      "PatchQuantModelRes100045Response_200": {
        "title": "Market Data Operation Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the data was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response of a market data operation.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "9734594a-9394-540f-8633-8ae479e74278",
            "correlationId": "ea05d604-f6af-5161-b4ec-81160bd6d82c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata information for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed, used for logging and traceability.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "quant-model-update-quant-model"
        },
        "example": "quant-model-update-quant-model"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is responsible for processing the request, helpful for monitoring and diagnostics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication with JSON Web Tokens (JWT). Clients must include a valid JWT token in the Authorization header of their requests to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}