{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Advertising Campaign Management API",
    "description": "The Advertising Campaign Management API enables businesses to create and manage targeted advertising campaigns effectively. Users can initiate campaigns, define budgets, and specify target audiences, allowing for more tailored marketing efforts. This API is typically used by marketing teams and ad agencies looking to enhance their outreach and engagement strategies. By leveraging this API, organizations can streamline their advertising processes and improve campaign performance, leading to better ROI and brand visibility.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/marketing/advertising": {
      "post": {
        "tags": [
          "Marketing"
        ],
        "summary": "Create a new advertising campaign.",
        "description": "This endpoint allows you to create a new advertising campaign in the marketing system. You can provide the necessary details for the campaign, including target audience, budget, and duration. Make sure to follow the required format for all fields.",
        "operationId": "createMarketingAdvertising",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create an advertising campaign within the marketing module. It requires structured data in JSON format that defines the parameters and configurations for the advertising operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMarketingAdvertisingRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource successfully created; the advertisement is now active.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateMarketingAdvertisingResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateMarketingAdvertisingRequest": {
        "type": "object",
        "properties": {
          "campaignId": {
            "type": "string",
            "description": "Unique identifier for the advertising campaign.",
            "example": "STANDARD"
          },
          "targetSegmentId": {
            "type": "string",
            "description": "Identifier for the target audience segment.",
            "example": "STANDARD"
          },
          "channelMix": {
            "type": "array",
            "description": "List of channels used for the campaign.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "Identifier for a specific channel.",
              "example": "channel-facebook"
            }
          },
          "budget": {
            "description": "The budget allocated for the campaign.",
            "$ref": "#/components/schemas/Budget"
          },
          "startDate": {
            "type": "string",
            "description": "The start date of the campaign in ISO 8601 format.",
            "example": "2026-09-15"
          },
          "endDate": {
            "type": "string",
            "description": "The end date of the campaign in ISO 8601 format.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for creating a new advertising campaign.",
        "example": {
          "campaignId": "STANDARD",
          "targetSegmentId": "STANDARD",
          "channelMix": [
            "STANDARD"
          ],
          "budget": {
            "amount": 100.0,
            "currency": "USD"
          },
          "startDate": "2026-09-15",
          "endDate": "2026-09-15",
          "requestContext": {
            "requestId": "cdaea170-b68c-557d-8076-3e04110f109a",
            "correlationId": "a8d48f63-d324-5a99-bf98-90d21861c375",
            "idempotencyKey": "ab4e6621-a97d-5014-bedc-f5989fd82126",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-559797"
            }
          }
        }
      },
      "Budget": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount of budget allocated.",
            "example": 1000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the budget is defined.",
            "example": "USD"
          }
        },
        "description": "Financial details of the campaign budget."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the specific request.",
            "example": "request-789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate logs and requests.",
            "example": "correlation-101112"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotent operations on the server.",
            "example": "idempotency-abc"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp for when the request was made in ISO 8601 format.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System that initiated the request.",
            "example": "web-portal"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request originated.",
            "example": "advertising-app"
          },
          "channel": {
            "description": "Details about the channel from which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Information about the request context."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-xyz"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., social media, email).",
            "example": "social_media"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-123"
          }
        },
        "description": "Information about the channel used in the request context."
      },
      "CreateMarketingAdvertisingResponse_201": {
        "title": "Campaign Response",
        "type": "object",
        "properties": {
          "campaignId": {
            "type": "string",
            "description": "Unique identifier for the campaign.",
            "example": "STANDARD"
          },
          "targetSegmentId": {
            "type": "string",
            "description": "Identifier for the target audience segment.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "Identifier for the resource related to the campaign.",
            "example": "RES-532182"
          },
          "status": {
            "type": "string",
            "description": "Current status of the campaign.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the campaign was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/CampaignMetadata"
          }
        },
        "description": "Response object for a campaign operation in marketing advertising.",
        "example": {
          "campaignId": "STANDARD",
          "targetSegmentId": "STANDARD",
          "resourceId": "RES-532182",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "3a2eafba-d176-5abc-86d9-3f5e2334cad9",
            "correlationId": "a8d48f63-d324-5a99-bf98-90d21861c375",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CampaignMetadata": {
        "title": "Campaign Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response_45678"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "correlation_abcdef"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-15T12:00:01Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the campaign was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata associated with the campaign response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint, used for tracking and analytics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "advertising-create-advertising"
        },
        "example": "advertising-create-advertising"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a Bearer token, typically a JSON Web Token (JWT), to authenticate requests. Clients must include the token in the Authorization header of their requests to gain access to secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}