{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Business Risk Models Management API",
    "description": "This API enables organizations to update and refine their business risk models to ensure they stay relevant and effective in mitigating risks. With the PATCH method, consumers can modify specific attributes of existing risk models, allowing for continuous improvement and adaptation to changing business environments. Typical users include risk managers, compliance officers, and data analysts who are involved in risk assessment and management. By utilizing this API, businesses can enhance their risk management strategies and align their operations with regulatory requirements.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/models/business-risk-models/{param1}": {
      "patch": {
        "tags": [
          "Business Risk Management"
        ],
        "summary": "Update a specific business risk model.",
        "description": "This endpoint allows users to update the properties of a particular business risk model identified by its unique ID. It is essential for managing and maintaining accurate risk assessments.",
        "operationId": "updateBusinessRiskModelRES100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the business risk model identified by RES-100045. The data should conform to the specified schema and include all required fields as outlined in the schema definition.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBusinessRiskModelRES100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, resource updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateBusinessRiskModelRES100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateBusinessRiskModelRES100045Request": {
        "type": "object",
        "properties": {
          "changes": {
            "description": "Contains the details of the changes being made to the model.",
            "$ref": "#/components/schemas/ModelChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change request.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the change becomes effective.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user who requested the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for updating business risk models operations.",
        "example": {
          "changes": {
            "modelId": "STANDARD",
            "modelVersion": "STANDARD",
            "portfolioId": "PORT-256607"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "98c11bfb-0c81-51d0-bd20-29dd9621e4e3",
            "correlationId": "b34d2307-d884-560a-90a3-d1c39e8c79d7",
            "idempotencyKey": "2c4f6951-3320-502c-81c9-250af3502c55",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-885745"
            }
          }
        }
      },
      "ModelChanges": {
        "type": "object",
        "properties": {
          "modelId": {
            "type": "string",
            "description": "Identifier of the model being changed.",
            "example": "model_id_456"
          },
          "modelVersion": {
            "type": "string",
            "description": "Version of the model being changed.",
            "example": "v1.0"
          },
          "portfolioId": {
            "type": "string",
            "description": "Identifier of the portfolio associated with the model.",
            "example": "portfolio_789"
          }
        },
        "description": "Schema representing the changes being made to the model."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "request_101"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracing the request.",
            "example": "correlation_202"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used for ensuring the idempotency of the request.",
            "example": "idempotency_303"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T09:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that originated the request.",
            "example": "source_system_404"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that originated the request.",
            "example": "source_app_505"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the communication channel.",
            "example": "channel_606"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the communication channel used.",
            "example": "WEB"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used for the request.",
            "example": "device_707"
          }
        },
        "description": "Schema representing the communication channel used for the request."
      },
      "UpdateBusinessRiskModelRES100045Response_200": {
        "title": "Business Risk Model Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the resource was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the Business Risk Model PATCH operation.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "17a86235-a930-5a1e-9e49-fb52490472c9",
            "correlationId": "b34d2307-d884-560a-90a3-d1c39e8c79d7",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata associated with the Business Risk Model response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "This header contains the unique identifier for the API endpoint that was called. It helps trace the request for logging and analytics purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "business-risk-models-update-business-risk-models"
        },
        "example": "business-risk-models-update-business-risk-models"
      },
      "X-Runtime-App": {
        "description": "This header indicates the runtime application context in which the API call was processed. It is useful for understanding the environment where the request was executed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using bearer tokens. This method requires the user to provide a JSON Web Token (JWT) as a means to securely authenticate and authorize API requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}