{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Production Resource Generation API",
    "description": "The Production Resource Generation API enables users to initiate the process of generating production resources effectively and efficiently. This API is designed for developers who need to integrate resource creation into their workflows, facilitating seamless automated production setups. Key operations involve generating various production assets based on defined parameters, enabling quick scalability in production environments. Typically consumed by DevOps teams and application developers, this API supports use cases such as automated production deployments and resource management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/connect/generate": {
      "post": {
        "tags": [
          "Token Management"
        ],
        "summary": "Generate a new token.",
        "description": "This endpoint allows clients to request a new token generation. It is designed to provide authentication tokens that can be used for secure sessions.",
        "operationId": "generateNewToken",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body contains the necessary parameters for generating an operation. Ensure that all required fields are included in the JSON payload to successfully complete the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateNewTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the generated result.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateNewTokenResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GenerateNewTokenRequest": {
        "title": "Generate Operations Request Body",
        "type": "object",
        "properties": {
          "language": {
            "type": "string",
            "description": "The language in which the request is made.",
            "example": "en"
          },
          "partnerId": {
            "type": "string",
            "description": "The identifier for the partner making the request.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer associated with the request.",
            "example": "CUST-306723"
          },
          "consumerId": {
            "type": "string",
            "description": "The identifier for the consumer making the request.",
            "example": "STANDARD"
          },
          "redirectUri": {
            "type": "string",
            "description": "The URI to which the user will be redirected after the operation.",
            "example": "STANDARD"
          },
          "webhook": {
            "type": "string",
            "description": "The endpoint to which notifications should be sent.",
            "example": "STANDARD"
          },
          "webhookContentType": {
            "type": "string",
            "description": "The content type of the webhook notifications.",
            "example": "STANDARD"
          },
          "optionalConsumerInfo": {
            "description": "Optional information about the consumer.",
            "$ref": "#/components/schemas/OptionalConsumerInfo"
          },
          "singleUseUrl": {
            "type": "boolean",
            "description": "Indicates if the URL is a single-use URL.",
            "example": true
          },
          "experience": {
            "type": "string",
            "description": "The type of experience desired for the operation.",
            "example": "STANDARD"
          },
          "fromDate": {
            "type": "integer",
            "description": "The start date for the operation in UNIX timestamp format.",
            "format": "int32",
            "example": 1
          },
          "reportCustomFields": {
            "type": "array",
            "description": "Custom fields to be included in the report.",
            "example": [
              {
                "label": "STANDARD",
                "value": "STANDARD",
                "shown": true
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CustomField"
            }
          },
          "isHostedInMobileApp": {
            "type": "boolean",
            "description": "Indicates if the operation is hosted in a mobile application.",
            "example": true
          },
          "isWebView": {
            "type": "boolean",
            "description": "Indicates if the operation is being executed in a web view.",
            "example": true
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for generating operations in the API.",
        "example": {
          "language": "en",
          "partnerId": "STANDARD",
          "customerId": "CUST-306723",
          "consumerId": "STANDARD",
          "redirectUri": "STANDARD",
          "webhook": "STANDARD",
          "webhookContentType": "STANDARD",
          "optionalConsumerInfo": {
            "ssn": "STANDARD",
            "dob": 1
          },
          "singleUseUrl": true,
          "experience": "STANDARD",
          "fromDate": 1,
          "reportCustomFields": [
            {
              "label": "STANDARD",
              "value": "STANDARD",
              "shown": true
            }
          ],
          "isHostedInMobileApp": true,
          "isWebView": true,
          "requestContext": {
            "requestId": "4191ecc8-dd19-5d0d-80f6-a29933d36809",
            "correlationId": "7c702368-1854-5848-9e8b-106f56fb9abe",
            "idempotencyKey": "48bcbc3d-f80d-575a-a14e-ad3ac896c5dd",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-496522"
            }
          }
        }
      },
      "OptionalConsumerInfo": {
        "title": "Optional Consumer Information",
        "type": "object",
        "properties": {
          "ssn": {
            "type": "string",
            "description": "The Social Security Number of the consumer.",
            "example": "123-45-6789"
          },
          "dob": {
            "type": "integer",
            "description": "The date of birth of the consumer in UNIX timestamp format.",
            "format": "int32",
            "example": 631152000
          }
        },
        "description": "Schema representing optional information about the consumer."
      },
      "CustomField": {
        "title": "Custom Field",
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "description": "The label of the custom field.",
            "example": "Field1"
          },
          "value": {
            "type": "string",
            "description": "The value of the custom field.",
            "example": "Value1"
          },
          "shown": {
            "type": "boolean",
            "description": "Indicates if the custom field should be displayed.",
            "example": true
          }
        },
        "description": "Schema representing a custom field in the report."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "req_001"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking related requests.",
            "example": "corr_001"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure idempotency of the request.",
            "example": "idempotent_key"
          },
          "requestedAt": {
            "type": "string",
            "description": "The date and time when the request was made in ISO 8601 format.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system from which the request originated.",
            "example": "SystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The source application from which the request originated.",
            "example": "AppA"
          },
          "channel": {
            "description": "The channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the communication channel.",
            "example": "channel_01"
          },
          "channelType": {
            "type": "string",
            "description": "The type of communication channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used in the communication.",
            "example": "device_001"
          }
        },
        "description": "Schema representing the communication channel used for the request."
      },
      "GenerateNewTokenResponse_200": {
        "title": "Post Operations Response",
        "type": "object",
        "properties": {
          "link": {
            "type": "string",
            "description": "A URL link related to the operation result.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata information regarding the operation.",
            "$ref": "#/components/schemas/PostOperationMetadata"
          }
        },
        "description": "Response schema for successful POST operations.",
        "example": {
          "link": "STANDARD",
          "metadata": {
            "responseId": "a7616300-0775-562f-b527-2282e69d4532",
            "correlationId": "7c702368-1854-5848-9e8b-106f56fb9abe",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PostOperationMetadata": {
        "title": "Post Operation Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "12345"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used to correlate requests and responses.",
            "example": "54321"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the result was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Specifies the region where the processing occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Contains metadata for the POST operation results."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint that processed the request, useful for tracking and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-generate-connect-url"
        },
        "example": "open-finance-api-generate-connect-url"
      },
      "x-runtime-app": {
        "description": "The name of the application that executed the request, helping to identify the origin of the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token for authentication. The token must be a JSON Web Token (JWT) that is included in the Authorization header of the request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}