{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Trade Banking Syndicated Loans-spec",
    "description": "The Syndicated Loans Listing API allows users to access and retrieve detailed information about trade banking syndicated loans. This endpoint provides valuable insights into the various syndicated loans available, including their terms, associated banks, and borrower details. It is designed for financial analysts, banking professionals, and developers looking to integrate loan information into their applications. By using this API, businesses can enhance their decision-making processes and streamline access to critical loan data.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/syndicated-loan": {
      "get": {
        "tags": [
          "Syndicated Loans"
        ],
        "summary": "Retrieve syndicated loan details.",
        "description": "This endpoint allows users to fetch the details of syndicated loans available in the trade banking system. It provides information crucial for understanding the terms, conditions, and status of the loans.",
        "operationId": "listTradeBankingSyndicatedLoans",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving information about syndicated loans within the trade banking sector. This body will include necessary parameters structured in JSON format to ensure successful retrieval of data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListTradeBankingSyndicatedLoansRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of syndicated loan details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListTradeBankingSyndicatedLoansResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListTradeBankingSyndicatedLoansRequest": {
        "type": "string",
        "description": "A string representing the request body for the operation related to syndicated loan in trade banking.",
        "example": "{}"
      },
      "ListTradeBankingSyndicatedLoansResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of syndicated loan items.",
            "example": [
              {
                "corporateCustomerId": "CUST-358844",
                "facilityId": "STANDARD",
                "counterpartyId": "PARTY-367128",
                "amount": {
                  "value": 100.0,
                  "currency": "USD"
                },
                "maturityDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/SyndicatedLoanItem"
            }
          },
          "pagination": {
            "description": "Pagination information for the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata associated with the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the GET operation of syndicated loan operations in trade banking.",
        "example": {
          "items": [
            {
              "corporateCustomerId": "CUST-358844",
              "facilityId": "STANDARD",
              "counterpartyId": "PARTY-367128",
              "amount": {
                "value": 100.0,
                "currency": "USD"
              },
              "maturityDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "6945bd12-7fb7-5d3e-af52-068a79b371d5",
            "correlationId": "4eb83cd4-c81a-5e97-9004-f314d89510d6",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "SyndicatedLoanItem": {
        "type": "object",
        "properties": {
          "corporateCustomerId": {
            "type": "string",
            "description": "Unique identifier for the corporate customer.",
            "example": "CUST123"
          },
          "facilityId": {
            "type": "string",
            "description": "Identifier for the loan facility.",
            "example": "FAC123"
          },
          "counterpartyId": {
            "type": "string",
            "description": "Identifier for the counterparty involved in the loan.",
            "example": "CP123"
          },
          "amount": {
            "description": "Amount details of the loan.",
            "$ref": "#/components/schemas/Amount"
          },
          "maturityDate": {
            "type": "string",
            "description": "Maturity date of the loan.",
            "example": "2025-12-31"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the loan record.",
            "example": "Active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the record was last updated.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "Represents a single syndicated loan item."
      },
      "Amount": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "Monetary value of the amount.",
            "example": 100000.0
          },
          "currency": {
            "type": "string",
            "description": "Currency in which the amount is denominated.",
            "example": "USD"
          }
        },
        "description": "Amount details of a financial transaction."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Pagination details for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the API response.",
            "example": "RESP12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Unique identifier used for tracking the request.",
            "example": "CORR-98765"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request took place.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata information related to the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint being called.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "syndicated-loan-search-syndicated-loan"
        },
        "example": "syndicated-loan-search-syndicated-loan"
      },
      "X-Runtime-App": {
        "description": "The name of the runtime application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This authentication scheme uses bearer tokens, specifically JWT (JSON Web Tokens), to securely authenticate users. Clients must include a valid token in the `Authorization` header using the format 'Bearer {token}'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}