{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Information Provider Operation By Param1-spec",
    "description": "The Information Provider Operations API allows users to access operational data for information providers based on specific parameters. This endpoint retrieves detailed information relevant to operational actions, facilitating informed decision-making for financial services. Typical consumers include data analysts, financial institutions, and application developers seeking to integrate operational insights into their systems. Enhanced understanding of market dynamics and provider capabilities can be achieved through this endpoint, contributing to more strategic planning and execution.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-data/information-provider-operation/operational-actions/{param1}": {
      "get": {
        "tags": [
          "Market Data"
        ],
        "summary": "Retrieve operational actions for the specified information provider.",
        "description": "This endpoint allows you to fetch the operational actions associated with the specified resource (RES-100045) in the market data information provider system. It provides detailed insights into the state and actions of the operational resources.",
        "operationId": "getInformationProviderOperationByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is utilized to retrieve operational actions for the specified information provider. It includes necessary parameters to fetch the relevant market data based on the operational action ID.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetInformationProviderOperationByParam1Request"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request has been accepted for processing, but not yet completed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetInformationProviderOperationByParam1Response_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetInformationProviderOperationByParam1Request": {
        "type": "string",
        "description": "This schema represents the request body format for the GET operations under the specified operational actions. It expects a string as input.",
        "example": "{}"
      },
      "GetInformationProviderOperationByParam1Response_202": {
        "title": "Operational Actions Response",
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "A unique reference identifier for the action performed.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "The type of action that was executed.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the action.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "The timestamp when the action was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Additional information related to the action processing.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for operational actions within the market data information provider operation.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "3ae42ba7-05a7-580d-a4e5-ba134c1aaa6a",
            "correlationId": "9289f58c-0d11-537e-b598-d7f2f6d0d7b6",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to correlate this action with other events.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the action took place.",
            "example": "string"
          }
        },
        "description": "This schema holds additional metadata regarding the operational action."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "This header represents the unique identifier for the endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "information-provider-operation-create-information-provider-operation-operational-action"
        },
        "example": "information-provider-operation-create-information-provider-operation-operational-action"
      },
      "X-Runtime-App": {
        "description": "This header indicates the name of the application responsible for running the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      },
      "X-Workflow-Id": {
        "description": "This header provides the unique identifier for the workflow associated with the current operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-095"
        },
        "example": "WF-095"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow associated with the operation requested.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "External Information Provider and Market Data Onboarding"
        },
        "example": "External Information Provider and Market Data Onboarding"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow, indicating its progress or completion status.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the execution of the workflow, useful for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "e8c44caa-940d-4413-afbb-11a18f1e6bc5"
        },
        "example": "e8c44caa-940d-4413-afbb-11a18f1e6bc5"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication mechanism via JSON Web Tokens (JWT). Clients must include a token in the 'Authorization' header of their requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}