{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Open Banking Pisp International Scheduled Payment Consent-v5-spec",
    "description": "MICROSERVICE-PROD-Create Open Banking Pisp International Scheduled Payment Consent-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/international-scheduled-payment-consents": {
      "post": {
        "operationId": "createOpenBankingPispInternationalScheduledPaymentConsent",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOpenBankingPispInternationalScheduledPaymentConsentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOpenBankingPispInternationalScheduledPaymentConsentResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateOpenBankingPispInternationalScheduledPaymentConsentRequest": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "Permission": {
                "type": "string",
                "example": "string"
              },
              "ReadRefundAccount": {
                "type": "string",
                "example": "string"
              },
              "Initiation": {
                "type": "object",
                "properties": {
                  "InstructionIdentification": {
                    "type": "string",
                    "example": "string"
                  },
                  "EndToEndIdentification": {
                    "type": "string",
                    "example": "string"
                  },
                  "LocalInstrument": {
                    "type": "string",
                    "example": "string"
                  },
                  "InstructionPriority": {
                    "type": "string",
                    "example": "string"
                  },
                  "ExtendedPurpose": {
                    "type": "string",
                    "example": "string"
                  },
                  "ChargeBearer": {
                    "type": "string",
                    "example": "string"
                  },
                  "RequestedExecutionDateTime": {
                    "type": "string",
                    "example": "string"
                  },
                  "CurrencyOfTransfer": {
                    "type": "string",
                    "example": "string"
                  },
                  "DestinationCountryCode": {
                    "type": "string",
                    "example": "string"
                  },
                  "InstructedAmount": {
                    "type": "object",
                    "properties": {
                      "Amount": {
                        "type": "string",
                        "example": "string"
                      },
                      "Currency": {
                        "type": "string",
                        "example": "string"
                      }
                    },
                    "example": "string"
                  },
                  "ExchangeRateInformation": {
                    "type": "object",
                    "properties": {
                      "UnitCurrency": {
                        "type": "string",
                        "example": "string"
                      },
                      "ExchangeRate": {
                        "type": "number",
                        "example": 0.0
                      },
                      "RateType": {
                        "type": "string",
                        "example": "string"
                      },
                      "ContractIdentification": {
                        "type": "string",
                        "example": "string"
                      }
                    },
                    "example": "string"
                  },
                  "DebtorAccount": {
                    "type": "object",
                    "properties": {
                      "SchemeName": {
                        "type": "string",
                        "example": "string"
                      },
                      "Identification": {
                        "type": "string",
                        "example": "string"
                      },
                      "Name": {
                        "type": "string",
                        "example": "string"
                      }
                    },
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "Permission": "STANDARD",
              "ReadRefundAccount": "STANDARD",
              "Initiation": {
                "InstructionIdentification": "STANDARD",
                "EndToEndIdentification": "STANDARD",
                "LocalInstrument": "STANDARD",
                "InstructionPriority": "STANDARD",
                "ExtendedPurpose": "STANDARD",
                "ChargeBearer": "STANDARD",
                "RequestedExecutionDateTime": "2026-09-15T14:30:00Z",
                "CurrencyOfTransfer": "STANDARD",
                "DestinationCountryCode": "US",
                "InstructedAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "ExchangeRateInformation": {
                  "UnitCurrency": "USD",
                  "ExchangeRate": 100.0,
                  "RateType": "STANDARD",
                  "ContractIdentification": "STANDARD"
                },
                "DebtorAccount": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service"
                }
              }
            }
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "612fd2f4-5937-532b-894b-68fb660a31a4",
              "correlationId": "3c59ea0b-8223-539b-a305-0c60ae6c6a74",
              "idempotencyKey": "6e8b4878-3289-528d-8718-77b1cb06e02b",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-925058"
              }
            }
          }
        },
        "example": {
          "Data": {
            "Permission": "STANDARD",
            "ReadRefundAccount": "STANDARD",
            "Initiation": {
              "InstructionIdentification": "STANDARD",
              "EndToEndIdentification": "STANDARD",
              "LocalInstrument": "STANDARD",
              "InstructionPriority": "STANDARD",
              "ExtendedPurpose": "STANDARD",
              "ChargeBearer": "STANDARD",
              "RequestedExecutionDateTime": "2026-09-15T14:30:00Z",
              "CurrencyOfTransfer": "STANDARD",
              "DestinationCountryCode": "US",
              "InstructedAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              },
              "ExchangeRateInformation": {
                "UnitCurrency": "USD",
                "ExchangeRate": 100.0,
                "RateType": "STANDARD",
                "ContractIdentification": "STANDARD"
              },
              "DebtorAccount": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service"
              }
            }
          },
          "requestContext": {
            "requestId": "612fd2f4-5937-532b-894b-68fb660a31a4",
            "correlationId": "3c59ea0b-8223-539b-a305-0c60ae6c6a74",
            "idempotencyKey": "6e8b4878-3289-528d-8718-77b1cb06e02b",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-925058"
            }
          }
        }
      },
      "CreateOpenBankingPispInternationalScheduledPaymentConsentResponse_201": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "ConsentId": {
                "type": "string",
                "example": "string"
              },
              "CreationDateTime": {
                "type": "string",
                "example": "string"
              },
              "Status": {
                "type": "string",
                "example": "string"
              },
              "StatusReason": {
                "type": "array",
                "example": "string",
                "items": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "string"
                    },
                    "description": {
                      "type": "string",
                      "example": "string"
                    },
                    "Path": {
                      "type": "string",
                      "example": "string"
                    }
                  },
                  "example": "string"
                }
              },
              "StatusUpdateDateTime": {
                "type": "string",
                "example": "string"
              },
              "Permission": {
                "type": "string",
                "example": "string"
              },
              "ReadRefundAccount": {
                "type": "string",
                "example": "string"
              },
              "CutOffDateTime": {
                "type": "string",
                "example": "string"
              },
              "ExpectedExecutionDateTime": {
                "type": "string",
                "example": "string"
              },
              "ExpectedSettlementDateTime": {
                "type": "string",
                "example": "string"
              },
              "Charges": {
                "type": "array",
                "example": "string",
                "items": {
                  "type": "object",
                  "properties": {
                    "ChargeBearer": {
                      "type": "string",
                      "example": "string"
                    },
                    "Type": {
                      "type": "string",
                      "example": "string"
                    },
                    "Amount": {
                      "type": "object",
                      "properties": {
                        "Amount": {
                          "type": "string",
                          "example": "string"
                        },
                        "Currency": {
                          "type": "string",
                          "example": "string"
                        }
                      },
                      "example": "string"
                    }
                  },
                  "example": "string"
                }
              },
              "ExchangeRateInformation": {
                "type": "object",
                "properties": {
                  "UnitCurrency": {
                    "type": "string",
                    "example": "string"
                  },
                  "ExchangeRate": {
                    "type": "number",
                    "example": 0.0
                  },
                  "RateType": {
                    "type": "string",
                    "example": "string"
                  },
                  "ContractIdentification": {
                    "type": "string",
                    "example": "string"
                  },
                  "ExpirationDateTime": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              },
              "Initiation": {
                "type": "object",
                "properties": {
                  "InstructionIdentification": {
                    "type": "string",
                    "example": "string"
                  },
                  "EndToEndIdentification": {
                    "type": "string",
                    "example": "string"
                  },
                  "LocalInstrument": {
                    "type": "string",
                    "example": "string"
                  },
                  "InstructionPriority": {
                    "type": "string",
                    "example": "string"
                  },
                  "ExtendedPurpose": {
                    "type": "string",
                    "example": "string"
                  },
                  "ChargeBearer": {
                    "type": "string",
                    "example": "string"
                  },
                  "RequestedExecutionDateTime": {
                    "type": "string",
                    "example": "string"
                  },
                  "CurrencyOfTransfer": {
                    "type": "string",
                    "example": "string"
                  },
                  "DestinationCountryCode": {
                    "type": "string",
                    "example": "string"
                  },
                  "InstructedAmount": {
                    "type": "object",
                    "properties": {
                      "Amount": {
                        "type": "string",
                        "example": "string"
                      },
                      "Currency": {
                        "type": "string",
                        "example": "string"
                      }
                    },
                    "example": "string"
                  },
                  "ExchangeRateInformation": {
                    "type": "object",
                    "properties": {
                      "UnitCurrency": {
                        "type": "string",
                        "example": "string"
                      },
                      "ExchangeRate": {
                        "type": "number",
                        "example": 0.0
                      },
                      "RateType": {
                        "type": "string",
                        "example": "string"
                      }
                    },
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "ConsentId": "STANDARD",
              "CreationDateTime": "2026-09-15T14:30:00Z",
              "Status": "ACTIVE",
              "StatusReason": [
                {
                  "code": "SUCCESS",
                  "description": "Customer banking request processed successfully",
                  "Path": "STANDARD"
                }
              ],
              "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
              "Permission": "STANDARD",
              "ReadRefundAccount": "STANDARD",
              "CutOffDateTime": "2026-09-15T14:30:00Z",
              "ExpectedExecutionDateTime": "2026-09-15T14:30:00Z",
              "ExpectedSettlementDateTime": "2026-09-15T14:30:00Z",
              "Charges": [
                {
                  "ChargeBearer": "STANDARD",
                  "Type": "STANDARD",
                  "Amount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  }
                }
              ],
              "ExchangeRateInformation": {
                "UnitCurrency": "USD",
                "ExchangeRate": 100.0,
                "RateType": "STANDARD",
                "ContractIdentification": "STANDARD",
                "ExpirationDateTime": "2026-09-15T14:30:00Z"
              },
              "Initiation": {
                "InstructionIdentification": "STANDARD",
                "EndToEndIdentification": "STANDARD",
                "LocalInstrument": "STANDARD",
                "InstructionPriority": "STANDARD",
                "ExtendedPurpose": "STANDARD",
                "ChargeBearer": "STANDARD",
                "RequestedExecutionDateTime": "2026-09-15T14:30:00Z",
                "CurrencyOfTransfer": "STANDARD",
                "DestinationCountryCode": "US",
                "InstructedAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "ExchangeRateInformation": {
                  "UnitCurrency": "USD",
                  "ExchangeRate": 100.0,
                  "RateType": "STANDARD"
                }
              }
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "5958b66f-59a5-59d0-9f03-dcff9dc7eeca",
              "correlationId": "3c59ea0b-8223-539b-a305-0c60ae6c6a74",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "Data": {
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "Status": "ACTIVE",
            "StatusReason": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "Path": "STANDARD"
              }
            ],
            "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
            "Permission": "STANDARD",
            "ReadRefundAccount": "STANDARD",
            "CutOffDateTime": "2026-09-15T14:30:00Z",
            "ExpectedExecutionDateTime": "2026-09-15T14:30:00Z",
            "ExpectedSettlementDateTime": "2026-09-15T14:30:00Z",
            "Charges": [
              {
                "ChargeBearer": "STANDARD",
                "Type": "STANDARD",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            ],
            "ExchangeRateInformation": {
              "UnitCurrency": "USD",
              "ExchangeRate": 100.0,
              "RateType": "STANDARD",
              "ContractIdentification": "STANDARD",
              "ExpirationDateTime": "2026-09-15T14:30:00Z"
            },
            "Initiation": {
              "InstructionIdentification": "STANDARD",
              "EndToEndIdentification": "STANDARD",
              "LocalInstrument": "STANDARD",
              "InstructionPriority": "STANDARD",
              "ExtendedPurpose": "STANDARD",
              "ChargeBearer": "STANDARD",
              "RequestedExecutionDateTime": "2026-09-15T14:30:00Z",
              "CurrencyOfTransfer": "STANDARD",
              "DestinationCountryCode": "US",
              "InstructedAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              },
              "ExchangeRateInformation": {
                "UnitCurrency": "USD",
                "ExchangeRate": 100.0,
                "RateType": "STANDARD"
              }
            }
          },
          "metadata": {
            "responseId": "5958b66f-59a5-59d0-9f03-dcff9dc7eeca",
            "correlationId": "3c59ea0b-8223-539b-a305-0c60ae6c6a74",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-create-international-scheduled-consent"
        },
        "example": "payment-initiation-openapi-create-international-scheduled-consent"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}