{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Event History Management API",
    "description": "The Customer Event History Management API allows businesses to effectively update historical event data related to customers. Utilizing this endpoint, users can modify existing customer event records to reflect recent changes or corrections. This API serves financial institutions and customer service representatives who need to maintain accurate customer histories for compliance and support purposes. It ensures that the customer event data remains current and reliable, facilitating better customer relationship management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customer-management/customer-event-history/{param1}": {
      "patch": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Update Customer Event History",
        "description": "This endpoint allows you to update the event history for a specific customer identified by their unique ID. Ensure to provide the necessary details in the request body that need to be modified for the customer's event history.",
        "operationId": "patchCustomerEventHistoryCUST100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body allows the client to update the event history for a specific customer identified by the provided customer ID (CUST-100045). The payload should contain the necessary information to apply partial updates to the customer's event records.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchCustomerEventHistoryCUST100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and the customer event history has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchCustomerEventHistoryCUST100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchCustomerEventHistoryCUST100045Request": {
        "title": "Customer Event History Update Request",
        "type": "object",
        "properties": {
          "changes": {
            "description": "An object containing the details of the changes made to the customer.",
            "$ref": "#/components/schemas/CustomerChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The timestamp when the change becomes effective.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user or system that requested the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for updating the customer event history.",
        "example": {
          "changes": {
            "customerId": "CUST-826611",
            "partyId": "PARTY-315932",
            "productCode": "CHK-PREMIUM-US"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "865caf39-fb7b-51b2-aff3-da130077ae7f",
            "correlationId": "2e1f622f-698d-594c-afb5-5d9d46257891",
            "idempotencyKey": "2c13d6ee-a306-53be-8136-12642a173c6a",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-818467"
            }
          }
        }
      },
      "CustomerChanges": {
        "title": "Customer Changes",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-100045"
          },
          "partyId": {
            "type": "string",
            "description": "The identifier for the party associated with the customer.",
            "example": "PARTY-123456"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the product related to the change.",
            "example": "PROD-XYZ"
          }
        },
        "description": "Schema representing the changes made to customer information."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "req-abcde-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request through multiple systems.",
            "example": "corr-xyz-67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key that ensures the operation is idempotent.",
            "example": "idempotent-key-001"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that initiated the request.",
            "example": "BillingSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "CustomerPortal"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/RequestChannel"
          }
        },
        "description": "Schema representing the contextual information of the request."
      },
      "RequestChannel": {
        "title": "Request Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used for the request.",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used for making the request.",
            "example": "device-12345"
          }
        },
        "description": "Schema representing the channel information for the request."
      },
      "PatchCustomerEventHistoryCUST100045Response_200": {
        "title": "Customer Event History Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response object representing the status and metadata after a patch operation on customer event history.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "1ad723d9-74bb-53db-bac1-8d384e336d31",
            "correlationId": "2e1f622f-698d-594c-afb5-5d9d46257891",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Metadata information related to the operation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that was called. This allows for tracking and monitoring of specific operations.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-event-history-update-customer-event-history"
        },
        "example": "customer-event-history-update-customer-event-history"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request. This helps in identifying which application instance handled the operations.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses JSON Web Tokens (JWT) for securing endpoints. Clients must send a bearer token in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}