{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Knowledge Asset Management Manuals-spec",
    "description": "The Knowledge Asset Management Manuals Retrieval API enables users to access detailed documentation of management manuals within the knowledge asset domain. This endpoint provides a comprehensive list of available manuals, facilitating effective knowledge sharing and compliance within organizations. Typical consumers include business analysts, compliance officers, and management teams seeking to ensure adherence to best practices. By utilizing this API, users can easily retrieve essential resources to support decision-making and operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/knowledge-assets/management-manual": {
      "get": {
        "tags": [
          "Knowledge Management"
        ],
        "summary": "Retrieve the management manual for knowledge assets.",
        "description": "This endpoint allows users to fetch the management manual related to knowledge assets, providing guidelines and standard operating procedures that govern the management of these assets.",
        "operationId": "listKnowledgeAssetManagementManuals",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving the management manual for knowledge assets. This body should contain information necessary for processing the request to ensure relevant data is returned.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListKnowledgeAssetManagementManualsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the management manual.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListKnowledgeAssetManagementManualsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListKnowledgeAssetManagementManualsRequest": {
        "title": "Knowledge Asset Management Manual Request Body",
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to knowledge asset management manuals.",
        "example": "{}"
      },
      "ListKnowledgeAssetManagementManualsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of management manual items.",
            "example": [
              {
                "manualId": "STANDARD",
                "title": "Banking operation completed",
                "version": "STANDARD",
                "ownerId": "STANDARD",
                "effectiveDate": "2026-09-15",
                "classification": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ManagementManual"
            }
          },
          "pagination": {
            "type": "object",
            "properties": {
              "page": {
                "type": "integer",
                "description": "The current page number.",
                "format": "int32",
                "example": 0
              },
              "pageSize": {
                "type": "integer",
                "description": "The number of items per page.",
                "format": "int32",
                "example": 0
              },
              "totalItems": {
                "type": "integer",
                "description": "The total number of items available.",
                "format": "int32",
                "example": 0
              }
            },
            "description": "Pagination information for the response.",
            "example": {
              "page": 1,
              "pageSize": 1,
              "totalItems": 1
            }
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier used to correlate requests.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the response was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the processing took place.",
                "example": "string"
              }
            },
            "description": "Metadata information related to the response.",
            "example": {
              "responseId": "fd07aaae-675b-5ba0-a1e0-645645122947",
              "correlationId": "a2d0b53d-4b30-5da9-a353-c7f3ae0ba236",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "items": [
            {
              "manualId": "STANDARD",
              "title": "Banking operation completed",
              "version": "STANDARD",
              "ownerId": "STANDARD",
              "effectiveDate": "2026-09-15",
              "classification": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "fd07aaae-675b-5ba0-a1e0-645645122947",
            "correlationId": "a2d0b53d-4b30-5da9-a353-c7f3ae0ba236",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ManagementManual": {
        "type": "object",
        "properties": {
          "manualId": {
            "type": "string",
            "description": "Unique identifier for the manual.",
            "example": "string"
          },
          "title": {
            "type": "string",
            "description": "The title of the management manual.",
            "example": "string"
          },
          "version": {
            "type": "string",
            "description": "Version of the management manual.",
            "example": "string"
          },
          "ownerId": {
            "type": "string",
            "description": "Identifier of the owner of the manual.",
            "example": "string"
          },
          "effectiveDate": {
            "type": "string",
            "description": "Date when the manual becomes effective.",
            "example": "string"
          },
          "classification": {
            "type": "string",
            "description": "Classification of the manual content.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the manual record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the manual was last updated.",
            "example": "string"
          }
        },
        "description": "A management manual item."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "management-manual-search-management-manual"
        },
        "example": "management-manual-search-management-manual"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication method, where a JSON Web Token (JWT) is passed in the Authorization header to authenticate requests. The bearer token must be included in every request to a secured endpoint.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}