{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Investment Management Investment Portfolio Managements-spec",
    "description": "The Investment Portfolio Management API provides users with comprehensive access to the details of investment portfolios within the banking ecosystem. Through this endpoint, clients can retrieve information related to their investment holdings, portfolio performance, and asset allocation strategies. This API is intended for financial analysts, portfolio managers, and banking applications seeking to display or analyze investment data. Users can leverage this endpoint to enhance their investment decision-making processes and improve client advisory services.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/investment-management/investment-portfolio-management": {
      "get": {
        "tags": [
          "Investment Management"
        ],
        "summary": "Retrieve investment portfolio details.",
        "description": "Fetches the details of the investment portfolio, including its assets, allocations, and performance metrics. This endpoint allows users to assess their investment strategy and make informed decisions based on current portfolio status.",
        "operationId": "listInvestmentManagementInvestmentPortfolioManagements",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving investment portfolio management details. It should contain any necessary filters or parameters to specify the data being requested.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListInvestmentManagementInvestmentPortfolioManagementsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the investment portfolio data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListInvestmentManagementInvestmentPortfolioManagementsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListInvestmentManagementInvestmentPortfolioManagementsRequest": {
        "title": "Investment Portfolio Management Request Body",
        "type": "string",
        "description": "This schema represents the request body for the Investment Portfolio Management operations using GET method, formatted as a JSON string.",
        "example": "{}"
      },
      "ListInvestmentManagementInvestmentPortfolioManagementsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of investment portfolio items.",
            "example": [
              {
                "portfolioId": "PORT-475693",
                "investmentAccountId": "ACC-875645",
                "investmentObjective": "STANDARD",
                "riskProfile": "STANDARD",
                "baseCurrency": "USD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/InvestmentPortfolioItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the investment portfolios.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the investment portfolio management operation.",
        "example": {
          "items": [
            {
              "portfolioId": "PORT-475693",
              "investmentAccountId": "ACC-875645",
              "investmentObjective": "STANDARD",
              "riskProfile": "STANDARD",
              "baseCurrency": "USD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "75ba7fa1-bac9-5eab-9ddb-0c1e9884a681",
            "correlationId": "046ae915-e3a7-55df-b934-9eb1d8301a83",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "InvestmentPortfolioItem": {
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "Unique identifier for the portfolio."
          },
          "investmentAccountId": {
            "type": "string",
            "description": "Unique identifier for the investment account associated with the portfolio."
          },
          "investmentObjective": {
            "type": "string",
            "description": "Objective of the investment portfolio."
          },
          "riskProfile": {
            "type": "string",
            "description": "Risk profile of the investment portfolio."
          },
          "baseCurrency": {
            "type": "string",
            "description": "Base currency of the investment portfolio."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the portfolio record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the portfolio item."
          }
        },
        "description": "Details of an investment portfolio item."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Pagination information for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request and response correlation."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place."
          }
        },
        "description": "Metadata information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that processed the request. This is useful for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "investment-portfolio-management-search-investment-portfolio-management"
        },
        "example": "investment-portfolio-management-search-investment-portfolio-management"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request. This helps to identify which component of the system was responsible.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JSON Web Tokens (JWT) to authenticate users. Clients must include a valid JWT in the Authorization header of requests to access secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}