{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Billing Management API",
    "description": "The Customer Billing Management API facilitates updates to customer billing information within the financial system. It allows users to modify billing details such as payment methods, billing addresses, and invoice preferences for individual customers. This API is geared towards financial service providers and organizations looking to streamline their billing processes and enhance customer experiences. Typical consumers include internal applications, customer support teams, and financial operators who manage billing accounts.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/customer-billing/{param1}": {
      "patch": {
        "tags": [
          "Customer Billing"
        ],
        "summary": "Update Customer Billing Information",
        "description": "This endpoint allows for the modification of billing information for the customer with ID CUST-100045, enabling updates to various billing details as required.",
        "operationId": "updateCustomerBillingCUST100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Update the billing details for a specific customer identified by CUST-100045. The request should contain the relevant fields to modify as specified in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCustomerBillingCUST100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and the resource has been updated.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateCustomerBillingCUST100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateCustomerBillingCUST100045Request": {
        "title": "Customer Billing Update Request",
        "type": "object",
        "properties": {
          "changes": {
            "description": "The changes to be made to the billing information.",
            "$ref": "#/components/schemas/BillingChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change in billing information.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time at which the changes will take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the user or system that is making the request.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for updating customer billing information.",
        "example": {
          "changes": {
            "billingAccountId": "ACC-135233",
            "customerId": "CUST-686220",
            "billingPeriod": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "ede401ff-c995-5083-93e8-f71b5483e7a4",
            "correlationId": "706a8be9-8973-5632-bed5-b89ba8dc943f",
            "idempotencyKey": "64f5553a-bd0a-5ee4-9f5e-6b706f19758a",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-598684"
            }
          }
        }
      },
      "BillingChanges": {
        "title": "Billing Changes",
        "type": "object",
        "properties": {
          "billingAccountId": {
            "type": "string",
            "description": "The unique identifier for the billing account.",
            "example": "BA-001234"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-100045"
          },
          "billingPeriod": {
            "type": "string",
            "description": "The billing period for which the changes apply.",
            "example": "2023-10"
          }
        },
        "description": "Schema representing the changes to the billing information."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "REQ-0015678"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier that correlates multiple requests.",
            "example": "CORR-ABC123"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure that the request is idempotent.",
            "example": "IDEMPOTENCY-KEY-123"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-01T12:30:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "BillingSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "CustomerPortal"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/ChannelInfo"
          }
        },
        "description": "Schema representing additional context information for the request."
      },
      "ChannelInfo": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used (e.g., web, mobile, API).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier for the device used in the request.",
            "example": "device-456"
          }
        },
        "description": "Schema representing information about the channel used for the request."
      },
      "UpdateCustomerBillingCUST100045Response_200": {
        "title": "Customer Billing Operations Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the billing operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the billing information was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata pertaining to the billing response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for operations related to customer billing.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "04068e08-76e0-5760-af5c-6b85058f7ce3",
            "correlationId": "706a8be9-8973-5632-bed5-b89ba8dc943f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID to track the request across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata related to the operation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the API endpoint being invoked, used for tracking and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-billing-update-customer-billing"
        },
        "example": "customer-billing-update-customer-billing"
      },
      "x-runtime-app": {
        "description": "The name of the runtime application handling the API request, useful for monitoring and logging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which provides an access token in the form of a JSON Web Token (JWT) to be included in requests. It is commonly used for APIs to ensure that requests are authenticated.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}