{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Finance Financial Controls-spec",
    "description": "The Financial Controls Retrieval API allows users to access essential financial control data within the banking domain. This API is designed for retrieving detailed information about financial controls that help manage fiscal responsibilities and compliance. Typical consumers include financial analysts, compliance officers, and banking applications that require insight into financial governance. By utilizing this API, stakeholders can ensure robust financial management and maintain adherence to regulatory standards.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/finance/financial-control": {
      "get": {
        "tags": [
          "Financial Management"
        ],
        "summary": "Retrieve financial control data.",
        "description": "This endpoint allows users to access the financial control data, providing insights into financial metrics and compliance. Use this endpoint to monitor and manage financial activities effectively.",
        "operationId": "listFinanceFinancialControls",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving financial control data. This payload should include all necessary parameters for the GET operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListFinanceFinancialControlsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and the requested financial control data is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListFinanceFinancialControlsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListFinanceFinancialControlsRequest": {
        "type": "string",
        "description": "The request body for the GET operation in the financial control operations. This string represents the JSON payload that may carry financial control specific parameters or filters.",
        "example": "{}"
      },
      "ListFinanceFinancialControlsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of financial records.",
            "example": [
              {
                "legalEntityId": "STANDARD",
                "ledgerId": "STANDARD",
                "accountingPeriod": "STANDARD",
                "amount": {
                  "value": 100.0,
                  "currency": "USD"
                },
                "postingDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/FinancialRecord"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting information for the records.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "example": {
          "items": [
            {
              "legalEntityId": "STANDARD",
              "ledgerId": "STANDARD",
              "accountingPeriod": "STANDARD",
              "amount": {
                "value": 100.0,
                "currency": "USD"
              },
              "postingDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "e3f56dda-e6b2-5131-9f2d-bf5df7b72723",
            "correlationId": "cfcf2eef-5293-538c-a713-ba89d90709b9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "FinancialRecord": {
        "type": "object",
        "properties": {
          "legalEntityId": {
            "type": "string",
            "description": "The unique identifier for the legal entity."
          },
          "ledgerId": {
            "type": "string",
            "description": "The unique identifier for the ledger."
          },
          "accountingPeriod": {
            "type": "string",
            "description": "The accounting period for the record."
          },
          "amount": {
            "type": "object",
            "properties": {
              "value": {
                "type": "number",
                "description": "The numerical value of the amount."
              },
              "currency": {
                "type": "string",
                "description": "The currency of the amount."
              }
            },
            "description": "The amount associated with the financial record."
          },
          "postingDate": {
            "type": "string",
            "description": "The date the record was posted."
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the financial record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the record was last updated."
          }
        },
        "description": "Represents a financial record with various properties."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Pagination details for the list of records."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred."
          }
        },
        "description": "Metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed, used for tracking and reference purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "financial-control-search-financial-control"
        },
        "example": "financial-control-search-financial-control"
      },
      "X-Runtime-App": {
        "description": "Indicates the name of the application that is handling the request, providing context for logging and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes HTTP Bearer Authentication. Clients must include a Bearer token in the Authorization header of their requests. The token should be in JWT (JSON Web Token) format, which is a compact and self-contained way for securely transmitting information between parties as a JSON object.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}