{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Location Data Management API",
    "description": "The Location Data Management API facilitates the management and updating of market location data essential for banking operations. This API allows users to modify existing location entries efficiently and accurately. Common consumers include financial institutions and market analysts who require seamless access to up-to-date location data. By utilizing this API, developers can ensure that their applications reflect the current state of market data, enhancing decision-making capabilities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-data/location-data-management/{param1}": {
      "patch": {
        "tags": [
          "Location Data Management"
        ],
        "summary": "Update location data for a specific resource.",
        "description": "This endpoint allows you to update the location data associated with resource RES-100045. You can modify details such as coordinates, region, and other attributes as necessary to ensure the location data is accurate and up to date.",
        "operationId": "patchLocationDataManagementRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "The request body for the PATCH operation on location data management, which updates specific attributes of a location resource identified by the unique ID. The body must adhere to the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchLocationDataManagementRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchLocationDataManagementRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchLocationDataManagementRes100045Request": {
        "title": "Patch Operation Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "description": "Object containing the specific changes to be applied.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "Timestamp indicating when the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the entity requesting the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for a PATCH operation related to market data location management.",
        "example": {
          "changes": {
            "instrumentId": "STANDARD",
            "isin": "STANDARD",
            "marketIdentifierCode": "CODE-266"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "4135bf18-17c9-5f6c-8a01-8a5cadd358ae",
            "correlationId": "41adce34-a1e9-50cf-bd4e-b720b4dc1875",
            "idempotencyKey": "5ff6af00-2353-5159-814f-2e5e04d648fb",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-908802"
            }
          }
        }
      },
      "Changes": {
        "title": "Changes",
        "type": "object",
        "properties": {
          "instrumentId": {
            "type": "string",
            "description": "Unique identifier for the instrument being changed.",
            "example": "string"
          },
          "isin": {
            "type": "string",
            "description": "International Securities Identification Number for the instrument.",
            "example": "string"
          },
          "marketIdentifierCode": {
            "type": "string",
            "description": "Code that uniquely identifies the market.",
            "example": "string"
          }
        },
        "description": "Schema defining the changes to be made in the request."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracking the request across systems.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotent requests.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was received.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system making the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the source application making the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing additional context for the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., web, mobile, etc.).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Schema defining the channel details through which the request was made."
      },
      "PatchLocationDataManagementRes100045Response_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the data was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the PATCH operation on location data management in market data.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "b007262e-c80f-5646-96bb-40c48049ef47",
            "correlationId": "41adce34-a1e9-50cf-bd4e-b720b4dc1875",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Metadata related to the response, containing additional information."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request, allowing for tracking and logging of specific API interactions.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "location-data-management-update-location-data-management"
        },
        "example": "location-data-management-update-location-data-management"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the request, which helps to identify the source of the request when analyzing performance or errors.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that utilizes bearer tokens. This format supports JSON Web Tokens (JWT) which are commonly used to secure API access through encoded claims.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}