{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Business Control By Param1-spec",
    "description": "The Business Control Data Retrieval API provides access to financial analysis data for specific business units based on given parameters. This API enables users to retrieve detailed insights into financial performance and control metrics, facilitating informed decision-making. Typically utilized by finance analysts and business managers, it supports the optimization of business strategies by delivering relevant financial data on demand. Users can query specific business units by passing parameters, allowing for targeted analysis and reporting.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/business-control/business-unit-financial-analysis/{param1}": {
      "get": {
        "tags": [
          "Business Unit Financial Analysis"
        ],
        "summary": "Retrieve financial analysis for a specific business unit.",
        "description": "This endpoint allows users to fetch detailed financial analysis data for the business unit identified by 'RES-100045'. It provides insights on financial performance, budget tracking, and other key metrics relevant to the business unit's operations.",
        "operationId": "getBusinessControlByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving detailed financial analysis data for a specified business unit. This body contains the necessary parameters and filters to customize the data extraction process.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBusinessControlByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response retrieving business unit financial analysis data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBusinessControlByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBusinessControlByParam1Request": {
        "type": "string",
        "description": "Request body schema for the `GET` operation related to financial analysis of business units.",
        "example": "{}"
      },
      "GetBusinessControlByParam1Response_200": {
        "title": "Business Unit Financial Analysis Response",
        "type": "object",
        "properties": {
          "businessUnitId": {
            "type": "string",
            "description": "Unique identifier for the business unit.",
            "example": "STANDARD"
          },
          "costCenter": {
            "type": "string",
            "description": "Cost center associated with the business unit.",
            "example": "STANDARD"
          },
          "planningPeriod": {
            "type": "string",
            "description": "Planning period for the financial analysis, typically in a YYYY-MM format.",
            "example": "STANDARD"
          },
          "budget": {
            "description": "Budget details associated with the business unit.",
            "$ref": "#/components/schemas/Budget"
          },
          "forecastVersion": {
            "type": "string",
            "description": "Version of the forecast associated with this business unit.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record, e.g., Active, Inactive.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the response.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata for the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for business unit financial analysis.",
        "example": {
          "businessUnitId": "STANDARD",
          "costCenter": "STANDARD",
          "planningPeriod": "STANDARD",
          "budget": {
            "amount": 100.0,
            "currency": "USD"
          },
          "forecastVersion": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "5f4028f9-f8eb-506c-963f-cde56cdb0ff9",
            "correlationId": "5ec85d62-549a-520a-afd2-3bedff27118f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Budget": {
        "title": "Budget",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Total amount allocated in the budget.",
            "example": 50000.0
          },
          "currency": {
            "type": "string",
            "description": "Currency of the budget amount.",
            "example": "USD"
          }
        },
        "description": "Schema representing budget details."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request.",
            "example": "corr-001"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "US-East"
          }
        },
        "description": "Schema for additional response metadata."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "description": "A unique identifier for the API endpoint being accessed.",
          "example": "business-unit-financial-analysis-get-business-unit-financial-analysis"
        },
        "example": "business-unit-financial-analysis-get-business-unit-financial-analysis"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "description": "The application that executed the request, providing context about the environment in which the request was processed.",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication method, allowing secure access by including a JSON Web Token (JWT) in the Authorization header. The token must be prefixed with the word 'Bearer' followed by a space.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}