{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Consumer Service By Param1-spec",
    "description": "The Customer Tax Handling Update API facilitates the modification of tax handling settings for consumers based on specific parameters. This API allows businesses to adjust consumer profiles by applying changes to customer tax preferences as identified by {param1}. Typical consumers of this API include financial institutions and tax service providers aiming to optimize their tax processing systems. This endpoint is especially useful for ensuring compliance with evolving tax regulations or consumer-specific requirements.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9003",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/consumer-services/customer-tax-handling/{param1}": {
      "patch": {
        "tags": [
          "Customer Tax Management"
        ],
        "summary": "Update customer tax handling information.",
        "description": "This operation allows you to update the tax handling details for a specific customer identified by CUST-100045. Ensure that all necessary details are provided in the request body to successfully process the update.",
        "operationId": "updateConsumerServiceByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Updates the tax handling information for the specified customer. Ensure that all required fields are included to process the request successfully.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateConsumerServiceByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful update of the customer tax handling information.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateConsumerServiceByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateConsumerServiceByParam1Request": {
        "title": "Customer Tax Handling Update Request",
        "type": "object",
        "properties": {
          "changes": {
            "description": "An object containing the changes to be applied to the customer tax handling.",
            "$ref": "#/components/schemas/CustomerTaxChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the user making the request.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for updating customer tax handling operations.",
        "example": {
          "changes": {
            "customerId": "CUST-338446",
            "serviceRequestId": "7b85032c-d2c0-55c0-9fe5-30c6f968e0b4",
            "productCode": "CHK-PREMIUM-US"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "e12613f0-e4aa-5a90-97aa-e3c6b3dda987",
            "correlationId": "10d01d7f-3d01-5aab-954a-bc6e723eb11f",
            "idempotencyKey": "9f190b34-b05c-5cba-9f34-fe1e94987f2f",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-994332"
            }
          }
        }
      },
      "CustomerTaxChanges": {
        "title": "Customer Tax Changes",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier of the customer.",
            "example": "CUST-100045"
          },
          "serviceRequestId": {
            "type": "string",
            "description": "The unique identifier for the service request.",
            "example": "SR-200056"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the product associated with the customer.",
            "example": "PROD-XYZ"
          }
        },
        "description": "An object that specifies the changes related to customer tax handling."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracing the request through systems.",
            "example": "CORR-789012"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure that a request is processed only once.",
            "example": "IDEMP-345678"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system where the request originated.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application through which the request was made.",
            "example": "Web Portal"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/RequestChannel"
          }
        },
        "description": "Detailed context information regarding the request."
      },
      "RequestChannel": {
        "title": "Request Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the communication channel.",
            "example": "CH-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the communication channel.",
            "example": "WEB"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "DEVICE-321"
          }
        },
        "description": "Details about the channel through which the request is made."
      },
      "UpdateConsumerServiceByParam1Response_200": {
        "title": "Customer Tax Handling Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "This schema represents the response structure for operations related to customer tax handling.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "ea9fa30c-647f-5208-bdc5-8d3d90ac15e0",
            "correlationId": "10d01d7f-3d01-5aab-954a-bc6e723eb11f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used for correlating requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the request was processed.",
            "example": "string"
          }
        },
        "description": "This schema defines the metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the specific endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-tax-handling-update-customer-tax-handling"
        },
        "example": "customer-tax-handling-update-customer-tax-handling"
      },
      "x-runtime-app": {
        "description": "The version of the runtime application processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication mechanism with JSON Web Tokens (JWT). Clients can access protected resources by including a Bearer token in the Authorization header of their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}