{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Pisp File Payment-spec",
    "description": "The PISP File Payment Submission API allows businesses to automate and streamline the submission of payment files through the Payment Initiation Service Provider (PISP). This endpoint enables users to initiate bulk payments efficiently by uploading file formats that contain multiple payment instructions. Typical consumers include financial institutions and payment service providers looking to facilitate mass transactions securely and effectively. The API supports robust error handling and validation to ensure smooth processing of payment requests.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/file-payments": {
      "post": {
        "tags": [
          "File Payments"
        ],
        "summary": "Initiate a file payment via PISP.",
        "description": "This operation allows users to initiate a file payment through the Payment Initiation Service Provider (PISP). It streamlines the process of sending bulk payments by allowing users to upload a file containing multiple payment instructions, ensuring efficiency and accuracy in payment processing.",
        "operationId": "createPispFilePayment",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate file payment operations through the PISP (Payment Initiation Service Provider) API. It should contain all necessary details for processing the payment as specified in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePispFilePaymentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "File payment successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePispFilePaymentResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreatePispFilePaymentRequest": {
        "title": "File Payments POST Request Body",
        "type": "object",
        "properties": {
          "Data": {
            "$ref": "#/components/schemas/FilePaymentsData"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for processing file payments.",
        "example": {
          "Data": {
            "ConsentId": "STANDARD",
            "Initiation": {
              "FileType": "STANDARD",
              "FileHash": "STANDARD",
              "FileReference": "STANDARD",
              "NumberOfTransactions": "STANDARD",
              "ControlSum": 100.0,
              "RequestedExecutionDateTime": "2026-09-15T14:30:00Z",
              "LocalInstrument": "STANDARD",
              "CreditorAgent": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "LEI": "STANDARD",
                "PostalAddress": {
                  "AddressType": "STANDARD",
                  "Department": "STANDARD",
                  "SubDepartment": "STANDARD",
                  "StreetName": "Northstar Banking Service",
                  "BuildingNumber": "STANDARD",
                  "BuildingName": "Northstar Banking Service",
                  "Floor": "STANDARD",
                  "UnitNumber": "STANDARD"
                }
              }
            }
          },
          "requestContext": {
            "requestId": "e3f157c5-173d-5e96-9a05-92e446b70017",
            "correlationId": "29031874-ffe5-5fbb-b067-fa2514e97fbb",
            "idempotencyKey": "b0b1b086-1fef-57de-9da4-6b486b8f00b2",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-930440"
            }
          }
        }
      },
      "FilePaymentsData": {
        "title": "File Payments Data",
        "type": "object",
        "properties": {
          "ConsentId": {
            "type": "string",
            "description": "Unique identifier for the consent related to the payment.",
            "example": "string"
          },
          "Initiation": {
            "$ref": "#/components/schemas/FilePaymentInitiation"
          }
        },
        "description": "Data structure containing the details for file payments."
      },
      "FilePaymentInitiation": {
        "title": "File Payment Initiation",
        "type": "object",
        "properties": {
          "FileType": {
            "type": "string",
            "description": "The type of file being processed.",
            "example": "string"
          },
          "FileHash": {
            "type": "string",
            "description": "The hash of the file for integrity verification.",
            "example": "string"
          },
          "FileReference": {
            "type": "string",
            "description": "A reference to the file used for processing.",
            "example": "string"
          },
          "NumberOfTransactions": {
            "type": "string",
            "description": "The number of transactions included in the file.",
            "example": "string"
          },
          "ControlSum": {
            "type": "number",
            "description": "The total sum of the transactions in the file.",
            "example": 0.0
          },
          "RequestedExecutionDateTime": {
            "type": "string",
            "description": "The requested date and time for executing the file payment.",
            "example": "string"
          },
          "LocalInstrument": {
            "type": "string",
            "description": "The local instrument used for the payment.",
            "example": "string"
          },
          "CreditorAgent": {
            "$ref": "#/components/schemas/CreditorAgent"
          }
        },
        "description": "Details required to initiate the file payment."
      },
      "CreditorAgent": {
        "title": "Creditor Agent",
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "The scheme name of the creditor agent.",
            "example": "string"
          },
          "Identification": {
            "type": "string",
            "description": "Identifier for the creditor agent.",
            "example": "string"
          },
          "Name": {
            "type": "string",
            "description": "Name of the creditor agent.",
            "example": "string"
          },
          "LEI": {
            "type": "string",
            "description": "Legal Entity Identifier for the creditor agent.",
            "example": "string"
          },
          "PostalAddress": {
            "$ref": "#/components/schemas/PostalAddress"
          }
        },
        "description": "Information related to the creditor's agent."
      },
      "PostalAddress": {
        "title": "Postal Address",
        "type": "object",
        "properties": {
          "AddressType": {
            "type": "string",
            "description": "Type of the address.",
            "example": "string"
          },
          "Department": {
            "type": "string",
            "description": "Department within the organization (if applicable).",
            "example": "string"
          },
          "SubDepartment": {
            "type": "string",
            "description": "Sub-department within the organization (if applicable).",
            "example": "string"
          },
          "StreetName": {
            "type": "string",
            "description": "Name of the street.",
            "example": "string"
          },
          "BuildingNumber": {
            "type": "string",
            "description": "Number of the building.",
            "example": "string"
          },
          "BuildingName": {
            "type": "string",
            "description": "Name of the building (if applicable).",
            "example": "string"
          },
          "Floor": {
            "type": "string",
            "description": "Floor number within the building (if applicable).",
            "example": "string"
          },
          "UnitNumber": {
            "type": "string",
            "description": "Unit number within the building (if applicable).",
            "example": "string"
          }
        },
        "description": "Postal address structure for the creditor agent."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Date and time when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request originated.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information about the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel used (e.g., mobile, web).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used for the request.",
            "example": "string"
          }
        },
        "description": "Details about the channel used for the request."
      },
      "CreatePispFilePaymentResponse_201": {
        "title": "File Payments Response",
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "FilePaymentId": {
                "type": "string",
                "description": "Unique identifier for the file payment.",
                "example": "string"
              },
              "ConsentId": {
                "type": "string",
                "description": "Identifier for the consent associated with the payment.",
                "example": "string"
              },
              "CreationDateTime": {
                "type": "string",
                "description": "Timestamp indicating when the payment file was created.",
                "example": "string"
              },
              "Status": {
                "type": "string",
                "description": "Current status of the payment file.",
                "example": "string"
              },
              "StatusUpdateDateTime": {
                "type": "string",
                "description": "Timestamp indicating when the status was last updated.",
                "example": "string"
              },
              "StatusReason": {
                "type": "array",
                "description": "List of reasons for the current status of the payment.",
                "example": [],
                "items": {
                  "$ref": "#/components/schemas/StatusReason"
                }
              },
              "Charges": {
                "type": "array",
                "description": "List of charges associated with the payment.",
                "example": [],
                "items": {
                  "$ref": "#/components/schemas/Charge"
                }
              },
              "Initiation": {
                "type": "object",
                "properties": {
                  "FileType": {
                    "type": "string",
                    "description": "Type of the file being processed.",
                    "example": "string"
                  },
                  "FileHash": {
                    "type": "string",
                    "description": "Hash of the file for integrity verification.",
                    "example": "string"
                  },
                  "FileReference": {
                    "type": "string",
                    "description": "Reference for the file being processed.",
                    "example": "string"
                  },
                  "NumberOfTransactions": {
                    "type": "string",
                    "description": "Total number of transactions contained in the file.",
                    "example": "string"
                  },
                  "ControlSum": {
                    "type": "number",
                    "description": "Total amount across all transactions in the file.",
                    "example": 0.0
                  },
                  "RequestedExecutionDateTime": {
                    "type": "string",
                    "description": "Requested datetime for when the transactions should be executed.",
                    "example": "string"
                  },
                  "LocalInstrument": {
                    "type": "string",
                    "description": "Local instrument used for the payment.",
                    "example": "string"
                  },
                  "DebtorAccount": {
                    "$ref": "#/components/schemas/Account"
                  },
                  "CreditorAgent": {
                    "$ref": "#/components/schemas/Agent"
                  }
                },
                "example": {}
              },
              "metadata": {
                "type": "object",
                "properties": {
                  "responseId": {
                    "type": "string",
                    "description": "Unique identifier for the response.",
                    "example": "string"
                  },
                  "correlationId": {
                    "type": "string",
                    "description": "Identifier for correlating requests and responses.",
                    "example": "string"
                  },
                  "generatedAt": {
                    "type": "string",
                    "description": "Timestamp indicating when the response was generated.",
                    "example": "string"
                  },
                  "processingRegion": {
                    "type": "string",
                    "description": "Region where the processing of the payment took place.",
                    "example": "string"
                  }
                },
                "example": {}
              }
            },
            "example": {
              "FilePaymentId": "PAY-569881",
              "ConsentId": "STANDARD",
              "CreationDateTime": "2026-09-15T14:30:00Z",
              "Status": "ACTIVE",
              "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
              "StatusReason": [
                {
                  "code": "SUCCESS",
                  "description": "Customer banking request processed successfully",
                  "Path": "STANDARD"
                }
              ],
              "Charges": [
                {
                  "ChargeBearer": "STANDARD",
                  "Type": "STANDARD",
                  "Amount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  }
                }
              ],
              "Initiation": {
                "FileType": "STANDARD",
                "FileHash": "STANDARD",
                "FileReference": "STANDARD",
                "NumberOfTransactions": "STANDARD",
                "ControlSum": 100.0,
                "RequestedExecutionDateTime": "2026-09-15T14:30:00Z",
                "LocalInstrument": "STANDARD",
                "DebtorAccount": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "SecondaryIdentification": "STANDARD",
                  "Proxy": {
                    "Identification": "STANDARD",
                    "Code": "SUCCESS",
                    "Type": "STANDARD"
                  }
                },
                "CreditorAgent": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "LEI": "STANDARD",
                  "PostalAddress": {
                    "AddressType": "STANDARD",
                    "Department": "STANDARD",
                    "SubDepartment": "STANDARD",
                    "StreetName": "Northstar Banking Service",
                    "BuildingNumber": "STANDARD"
                  }
                }
              }
            }
          }
        },
        "description": "Response schema for the payment file operation.",
        "example": {
          "Data": {
            "FilePaymentId": "PAY-569881",
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "Status": "ACTIVE",
            "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
            "StatusReason": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "Path": "STANDARD"
              }
            ],
            "Charges": [
              {
                "ChargeBearer": "STANDARD",
                "Type": "STANDARD",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            ],
            "Initiation": {
              "FileType": "STANDARD",
              "FileHash": "STANDARD",
              "FileReference": "STANDARD",
              "NumberOfTransactions": "STANDARD",
              "ControlSum": 100.0,
              "RequestedExecutionDateTime": "2026-09-15T14:30:00Z",
              "LocalInstrument": "STANDARD",
              "DebtorAccount": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD",
                "Proxy": {
                  "Identification": "STANDARD",
                  "Code": "SUCCESS",
                  "Type": "STANDARD"
                }
              },
              "CreditorAgent": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "LEI": "STANDARD",
                "PostalAddress": {
                  "AddressType": "STANDARD",
                  "Department": "STANDARD",
                  "SubDepartment": "STANDARD",
                  "StreetName": "Northstar Banking Service",
                  "BuildingNumber": "STANDARD"
                }
              }
            }
          },
          "metadata": {
            "responseId": "6aa31550-361f-53c6-affd-84f5519f3fe0",
            "correlationId": "29031874-ffe5-5fbb-b067-fa2514e97fbb",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "StatusReason": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Code representing the reason for the status.",
            "example": "string"
          },
          "description": {
            "type": "string",
            "description": "Description of the reason for the status.",
            "example": "string"
          },
          "Path": {
            "type": "string",
            "description": "Path associated with the reason code.",
            "example": "string"
          }
        },
        "description": "Represents a reason for the current status of the payment."
      },
      "Charge": {
        "type": "object",
        "properties": {
          "ChargeBearer": {
            "type": "string",
            "description": "Indicates who bears the charge.",
            "example": "string"
          },
          "Type": {
            "type": "string",
            "description": "Type of the charge incurred.",
            "example": "string"
          },
          "Amount": {
            "description": "Amount and currency of the charge.",
            "$ref": "#/components/schemas/Money"
          }
        },
        "description": "Represents a charge associated with the payment."
      },
      "Money": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The amount of money.",
            "example": "string"
          },
          "Currency": {
            "type": "string",
            "description": "The currency of the amount.",
            "example": "string"
          }
        },
        "description": "Represents an amount of money and its currency."
      },
      "Account": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "Name of the identification scheme used.",
            "example": "string"
          },
          "Identification": {
            "type": "string",
            "description": "Identification of the account.",
            "example": "string"
          },
          "Name": {
            "type": "string",
            "description": "Name of the account holder.",
            "example": "string"
          },
          "SecondaryIdentification": {
            "type": "string",
            "description": "Secondary identification details for the account.",
            "example": "string"
          },
          "Proxy": {
            "description": "Proxy information for the account.",
            "$ref": "#/components/schemas/Proxy"
          }
        },
        "description": "Represents an account with necessary details."
      },
      "Proxy": {
        "type": "object",
        "properties": {
          "Identification": {
            "type": "string",
            "description": "Identification of the proxy.",
            "example": "string"
          },
          "Code": {
            "type": "string",
            "description": "Code associated with the proxy.",
            "example": "string"
          },
          "Type": {
            "type": "string",
            "description": "Type of the proxy.",
            "example": "string"
          }
        },
        "description": "Represents proxy information for an account."
      },
      "Agent": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "Name of the identification scheme used.",
            "example": "string"
          },
          "Identification": {
            "type": "string",
            "description": "Identification of the agent.",
            "example": "string"
          },
          "Name": {
            "type": "string",
            "description": "Name of the agent.",
            "example": "string"
          },
          "LEI": {
            "type": "string",
            "description": "Legal Entity Identifier for the agent.",
            "example": "string"
          },
          "PostalAddress": {
            "description": "Postal address of the agent.",
            "$ref": "#/components/schemas/Address"
          }
        },
        "description": "Represents agent information for a creditor."
      },
      "Address": {
        "type": "object",
        "properties": {
          "AddressType": {
            "type": "string",
            "description": "Type of address (e.g., residential, business).",
            "example": "string"
          },
          "Department": {
            "type": "string",
            "description": "Department within an organization, if applicable.",
            "example": "string"
          },
          "SubDepartment": {
            "type": "string",
            "description": "Sub-department within an organization, if applicable.",
            "example": "string"
          },
          "StreetName": {
            "type": "string",
            "description": "Name of the street.",
            "example": "string"
          },
          "BuildingNumber": {
            "type": "string",
            "description": "Building number linked to the address.",
            "example": "string"
          }
        },
        "description": "Represents the postal address details."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-submit-file-payment"
        },
        "example": "payment-initiation-openapi-submit-file-payment"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, where a JSON Web Token (JWT) is provided to authorize access to the API. The bearer token should be included in the Authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}