{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Manage Collateral Attributes API",
    "description": "The Manage Collateral Attributes API enables financial institutions to modify existing collateral details associated with loan applications. By utilizing this endpoint, authorized users can update attributes such as value, type, and associated documentation for specific collaterals linked to loan applications. Typical consumers include loan officers and financial analysts who require up-to-date collateral information to assess loan risk and ensure compliance. This API helps streamline operations and maintain accurate loan records for improved decision-making.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{param1}/collaterals/{collateralId}": {
      "patch": {
        "tags": [
          "Loan Applications"
        ],
        "summary": "Update collateral details for a loan application.",
        "description": "This operation allows you to update the collateral details associated with a specific loan application identified by RES-100045. You can modify various attributes of the collateral to reflect the latest information or requirements.",
        "operationId": "patchLoanApplicationsCollateralRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          },
          {
            "$ref": "#/components/parameters/collateralId"
          }
        ],
        "requestBody": {
          "description": "This request body allows the client to update the collateral details for the loan application identified by RES-100045. It is structured in JSON format to ensure seamless data interchange, and it contains the fields required to specify modifications to the collateral information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchLoanApplicationsCollateralRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully updated the collateral details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchLoanApplicationsCollateralRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchLoanApplicationsCollateralRes100045Request": {
        "title": "Loan Application Collateral Update Request",
        "type": "object",
        "properties": {
          "description": {
            "type": "string",
            "description": "A brief description of the collateral.",
            "example": "Customer banking request processed successfully"
          },
          "marketValue": {
            "description": "The current market value of the collateral.",
            "$ref": "#/components/schemas/MarketValue"
          },
          "forcedSaleValue": {
            "description": "The value of the collateral if it were to be sold under forced circumstances.",
            "$ref": "#/components/schemas/ForcedSaleValue"
          },
          "valuationDate": {
            "type": "string",
            "description": "The date on which the collateral was valued.",
            "example": "2026-09-15"
          },
          "valuationProvider": {
            "type": "string",
            "description": "The entity or person who provided the valuation.",
            "example": "STANDARD"
          },
          "lienPriority": {
            "type": "string",
            "description": "The priority of the lien on the collateral.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the collateral.",
            "example": "ACTIVE"
          },
          "requestContext": {
            "description": "Context related to the request made for collateral update.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for updating collateral details in a loan application.",
        "example": {
          "description": "Customer banking request processed successfully",
          "marketValue": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "forcedSaleValue": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "valuationDate": "2026-09-15",
          "valuationProvider": "STANDARD",
          "lienPriority": "STANDARD",
          "status": "ACTIVE",
          "requestContext": {
            "requestId": "3e061ef6-6237-51e7-a11b-b731fca450b3",
            "correlationId": "589a1629-cbd3-5187-8a3b-3d94dbc1fec8",
            "idempotencyKey": "477fe120-0f98-501c-a3c0-cd1daf47f6cb",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-985128"
            }
          }
        }
      },
      "MarketValue": {
        "title": "Market Value",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency in which the market value is expressed.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The market value amount.",
            "example": "500000"
          }
        },
        "description": "Schema representing the market value of the collateral, including currency and amount."
      },
      "ForcedSaleValue": {
        "title": "Forced Sale Value",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency in which the forced sale value is expressed.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The forced sale value amount.",
            "example": "450000"
          }
        },
        "description": "Schema representing the forced sale value of the collateral, including currency and amount."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to track the request across different systems.",
            "example": "corr-654321"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is idempotent.",
            "example": "idempotent-123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-10T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "Loan Management System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The specific application that initiated the request.",
            "example": "Web Application"
          },
          "channel": {
            "description": "Information about the communication channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request for collateral updates."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "channel-789"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the request.",
            "example": "device-456"
          }
        },
        "description": "Schema representing the channel through which the request was made."
      },
      "PatchLoanApplicationsCollateralRes100045Response_200": {
        "title": "Loan Application Collateral",
        "type": "object",
        "properties": {
          "collateralType": {
            "type": "string",
            "description": "The type of collateral provided for the loan.",
            "example": "STANDARD"
          },
          "ownershipType": {
            "type": "string",
            "description": "The type of ownership of the collateral.",
            "example": "STANDARD"
          },
          "ownerCustomerIds": {
            "type": "array",
            "description": "List of customer IDs who own the collateral.",
            "example": [
              "CUST-767490"
            ],
            "items": {
              "type": "string",
              "description": "A unique identifier for the owner customer.",
              "example": "cust-12345"
            }
          },
          "description": {
            "type": "string",
            "description": "A description of the collateral.",
            "example": "Customer banking request processed successfully"
          },
          "marketValue": {
            "description": "The estimated market value of the collateral.",
            "$ref": "#/components/schemas/CurrencyAmount"
          },
          "forcedSaleValue": {
            "description": "The estimated forced sale value of the collateral.",
            "$ref": "#/components/schemas/CurrencyAmount"
          },
          "valuationDate": {
            "type": "string",
            "description": "The date when the collateral was valued.",
            "example": "2026-09-15"
          },
          "valuationProvider": {
            "type": "string",
            "description": "The entity that provided the valuation of the collateral.",
            "example": "STANDARD"
          },
          "lienPriority": {
            "type": "string",
            "description": "The priority of the lien against the collateral.",
            "example": "STANDARD"
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the collateral.",
            "example": "051059e0-a262-2d51-84b3-f311f87456b1"
          },
          "status": {
            "type": "string",
            "description": "Current status of the collateral in the loan process.",
            "example": "ACTIVE"
          },
          "loanToValuePercent": {
            "type": "string",
            "description": "The loan-to-value ratio expressed as a percentage.",
            "example": "STANDARD"
          },
          "perfectedAt": {
            "type": "string",
            "description": "The date when the lien was perfected.",
            "example": "2026-08-11T12:00:00Z"
          },
          "audit": {
            "description": "Details about the audit trail of collateral information.",
            "$ref": "#/components/schemas/AuditDetails"
          },
          "metadata": {
            "description": "Additional metadata related to the collateral.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the collateral details of a loan application.",
        "example": {
          "collateralType": "STANDARD",
          "ownershipType": "STANDARD",
          "ownerCustomerIds": [
            "CUST-767490"
          ],
          "description": "Customer banking request processed successfully",
          "marketValue": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "forcedSaleValue": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "valuationDate": "2026-09-15",
          "valuationProvider": "STANDARD",
          "lienPriority": "STANDARD",
          "id": "051059e0-a262-2d51-84b3-f311f87456b1",
          "status": "ACTIVE",
          "loanToValuePercent": "STANDARD",
          "perfectedAt": "2026-08-11T12:00:00Z",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "386c1992-2c22-538c-93dd-0fd7f3761739",
            "correlationId": "589a1629-cbd3-5187-8a3b-3d94dbc1fec8",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CurrencyAmount": {
        "title": "Currency and Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is denominated.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The amount of money, represented as a string.",
            "example": "100000"
          }
        },
        "description": "Schema representing an amount with an associated currency."
      },
      "AuditDetails": {
        "title": "Audit Details",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the collateral was created.",
            "example": "2023-10-01T12:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the collateral.",
            "example": "user-admin"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the collateral was last updated.",
            "example": "2023-10-05T12:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the collateral.",
            "example": "user-editor"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the collateral information.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Schema containing information related to the auditing of the collateral."
      },
      "Metadata": {
        "title": "Collateral Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response transaction.",
            "example": "response-67890"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID used for tracking across systems.",
            "example": "corr-abcde123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2023-10-05T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the collateral processing occurred.",
            "example": "US-East"
          }
        },
        "description": "Schema containing additional metadata related to the collateral."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "collateralId": {
        "name": "collateralId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that processed the loan application request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-update-collateral"
        },
        "example": "banking-loans-openapi-update-collateral"
      },
      "X-Runtime-App": {
        "description": "The name of the runtime application that handled the request, useful for tracing and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes bearer authentication where a JWT (JSON Web Token) must be included in the `Authorization` header of requests for secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}