{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Asset Securitization Management API",
    "description": "The Asset Securitization Management API empowers financial institutions to efficiently handle the process of asset securitization. This API facilitates the submission of new asset securitization proposals, enabling users to initiate and manage asset-backed security transactions seamlessly. Typical consumers of this endpoint include banking professionals and treasury analysts aiming to optimize their asset management strategies. By providing a structured approach to asset securitization, this API supports enhanced decision-making and faster transaction cycles.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/treasury/asset-securitization": {
      "post": {
        "tags": [
          "Asset Securitization"
        ],
        "summary": "Initiate an asset securitization process.",
        "description": "This endpoint allows users to start the process of asset securitization, enabling the conversion of illiquid assets into liquid securities. Using this functionality, businesses can leverage their assets for financial benefits.",
        "operationId": "createAssetSecuritization",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for initiating asset securitization operations. It should include all necessary parameters and data required for processing the request under the asset securitization domain.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAssetSecuritizationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The asset securitization resource has been created successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAssetSecuritizationResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateAssetSecuritizationRequest": {
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "Unique identifier for the portfolio.",
            "example": "PORT-101058"
          },
          "instrumentId": {
            "type": "string",
            "description": "Unique identifier for the financial instrument.",
            "example": "STANDARD"
          },
          "counterpartyId": {
            "type": "string",
            "description": "Unique identifier for the counterparty involved in the transaction.",
            "example": "PARTY-257750"
          },
          "notionalAmount": {
            "description": "The notional amount of the instrument including currency.",
            "$ref": "#/components/schemas/NotionalAmount"
          },
          "maturityDate": {
            "type": "string",
            "description": "The maturity date of the financial instrument in ISO 8601 format.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "example": {
          "portfolioId": "PORT-101058",
          "instrumentId": "STANDARD",
          "counterpartyId": "PARTY-257750",
          "notionalAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "maturityDate": "2026-09-15",
          "requestContext": {
            "requestId": "0f22b235-75fd-5940-b859-992973e76841",
            "correlationId": "544ed403-db8f-5952-8f73-32c8643a43e2",
            "idempotencyKey": "d7d53c6f-717c-5851-91c4-82ffc9b20433",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-872229"
            }
          }
        }
      },
      "NotionalAmount": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The numerical value of the notional amount.",
            "example": 1000000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the notional amount is denominated.",
            "example": "USD"
          }
        },
        "description": "Represents the notional amount of the financial instrument."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-abc-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate related requests.",
            "example": "corr-xyz-456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of the request.",
            "example": "idempotency-key-789"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made in ISO 8601 format.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system making the request.",
            "example": "SourceSystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the application within the source system.",
            "example": "AppA"
          },
          "channel": {
            "description": "Details about the communication channel used.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual details about the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel used (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device from which the request originated.",
            "example": "device-12345"
          }
        },
        "description": "Details about the communication channel through which the request was made."
      },
      "CreateAssetSecuritizationResponse_201": {
        "title": "Securities Asset Securitization Response",
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "Unique identifier for the portfolio.",
            "example": "PORT-430722"
          },
          "instrumentId": {
            "type": "string",
            "description": "Unique identifier for the financial instrument.",
            "example": "STANDARD"
          },
          "counterpartyId": {
            "type": "string",
            "description": "Unique identifier for the counterparty involved in the transaction.",
            "example": "PARTY-388550"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource related to this operation.",
            "example": "RES-962635"
          },
          "status": {
            "type": "string",
            "description": "Current status of the asset securitization operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata associated with the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the asset securitization operation in the Treasury service.",
        "example": {
          "portfolioId": "PORT-430722",
          "instrumentId": "STANDARD",
          "counterpartyId": "PARTY-388550",
          "resourceId": "RES-962635",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "0b565f28-f312-5388-a746-7dee81a29895",
            "correlationId": "544ed403-db8f-5952-8f73-32c8643a43e2",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response_54321"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracing the request through the system.",
            "example": "correlation_qwerty"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:00:01Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "US-East"
          }
        },
        "description": "Metadata associated with the response, containing tracking and generation details."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the API endpoint that was called.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "asset-securitization-create-asset-securitization"
        },
        "example": "asset-securitization-create-asset-securitization"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which requires a Bearer token to be included in the HTTP Authorization header. The token format is specified as JWT (JSON Web Token).",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}