{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Workforce Contracts Management API",
    "description": "The Workforce Contracts Management API facilitates the creation and management of workforce contracts within the banking sector. This API allows businesses to dynamically create new contracts that define employment terms and conditions for human resources. Typical consumers include HR managers and financial administrators who require streamlined processes for contract generation and modification. By utilizing this API, organizations can enhance efficiency in workforce management and ensure compliance with regulatory requirements.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/workforce-contracts": {
      "post": {
        "tags": [
          "Workforce Management"
        ],
        "summary": "Create a new workforce contract.",
        "description": "This endpoint allows you to create a new workforce contract within the human resource management system. You need to provide the necessary details in the request body to successfully create a contract for the workforce.",
        "operationId": "createWorkforceContract",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create a new workforce contract within the human resource management system. It should contain the necessary details for the contract, formatted in JSON.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWorkforceContractRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully, representing a new workforce contract.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateWorkforceContractResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateWorkforceContractRequest": {
        "title": "Workforce Contract Creation Request",
        "type": "object",
        "properties": {
          "employeeId": {
            "type": "string",
            "description": "The unique identifier for the employee.",
            "example": "EMP-524593"
          },
          "assignmentId": {
            "type": "string",
            "description": "The unique identifier for the assignment.",
            "example": "STANDARD"
          },
          "departmentId": {
            "type": "string",
            "description": "The unique identifier for the department.",
            "example": "STANDARD"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date when the contract becomes effective.",
            "example": "2026-09-15"
          },
          "countryCode": {
            "type": "string",
            "description": "The country code where the employment contract is effective.",
            "example": "US"
          },
          "employmentType": {
            "type": "string",
            "description": "The type of employment (e.g., full-time, part-time, contract).",
            "example": "STANDARD"
          },
          "managerId": {
            "type": "string",
            "description": "The unique identifier for the manager.",
            "example": "STANDARD"
          },
          "workLocation": {
            "type": "string",
            "description": "The location where the employee will work.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for creating a workforce contract in the human resource management system.",
        "example": {
          "employeeId": "EMP-524593",
          "assignmentId": "STANDARD",
          "departmentId": "STANDARD",
          "effectiveDate": "2026-09-15",
          "countryCode": "US",
          "employmentType": "STANDARD",
          "managerId": "STANDARD",
          "workLocation": "STANDARD",
          "requestContext": {
            "requestId": "f20fb174-6c29-5eac-b7cf-58bd1d4b4a4d",
            "correlationId": "d4f9412d-951c-5abd-8c29-e16746a93fd0",
            "idempotencyKey": "741acdac-8c6e-5322-88a0-4e38486ebde2",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-255917"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context Information",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "REQ-20230101-001"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier for correlating multiple logs related to the request.",
            "example": "CORR-456789"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure that the request is idempotent.",
            "example": "IDEMP-12345"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "HRMSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "EmployeePortal"
          },
          "channel": {
            "description": "Information regarding the communication channel used for the request.",
            "$ref": "#/components/schemas/ChannelInfo"
          }
        },
        "description": "This schema contains metadata about the request made to the API."
      },
      "ChannelInfo": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "CHNL-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier for the device used.",
            "example": "DEV-1234"
          }
        },
        "description": "This schema represents the details of the communication channel used in the request."
      },
      "CreateWorkforceContractResponse_201": {
        "type": "object",
        "properties": {
          "employeeId": {
            "type": "string",
            "description": "The unique identifier of the employee associated with the contract.",
            "example": "EMP-152360"
          },
          "assignmentId": {
            "type": "string",
            "description": "The unique identifier for the assignment under which the contract is created.",
            "example": "STANDARD"
          },
          "departmentId": {
            "type": "string",
            "description": "The unique identifier of the department where the employee is assigned.",
            "example": "STANDARD"
          },
          "countryCode": {
            "type": "string",
            "description": "The country code where the employee is located, represented in ISO format.",
            "example": "US"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource related to the workforce contract.",
            "example": "RES-610537"
          },
          "status": {
            "type": "string",
            "description": "The current status of the contract (e.g., active, inactive).",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp indicating when the contract was created, in ISO 8601 format.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "The unique identifier for the response.",
                "example": "response_001"
              },
              "correlationId": {
                "type": "string",
                "description": "An identifier used to correlate requests and responses.",
                "example": "correlation_001"
              },
              "generatedAt": {
                "type": "string",
                "description": "The timestamp indicating when the response was generated, in ISO 8601 format.",
                "example": "2023-10-01T12:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region in which the response was processed.",
                "example": "us-east-1"
              }
            },
            "description": "Metadata related to the response, containing identifiers and processing information.",
            "example": {
              "responseId": "11e42d3b-0cfb-55a0-8355-0b37c3100b71",
              "correlationId": "d4f9412d-951c-5abd-8c29-e16746a93fd0",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for the successful creation of a workforce contract in the human resource management system.",
        "example": {
          "employeeId": "EMP-152360",
          "assignmentId": "STANDARD",
          "departmentId": "STANDARD",
          "countryCode": "US",
          "resourceId": "RES-610537",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "11e42d3b-0cfb-55a0-8355-0b37c3100b71",
            "correlationId": "d4f9412d-951c-5abd-8c29-e16746a93fd0",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the specific endpoint being accessed, utilized for tracking and analytics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "employee-and-contractor-contract-create-employee-and-contractor-contract"
        },
        "example": "employee-and-contractor-contract-create-employee-and-contractor-contract"
      },
      "X-Runtime-App": {
        "description": "The name of the runtime application that is processing the request, useful for debugging and monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes HTTP Bearer authentication, allowing users to authenticate by providing a bearer token. The token is in JSON Web Token (JWT) format, which is a compact and self-contained way for securely transmitting information between parties.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}