{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Sale Commission Agreement-spec",
    "description": "This API facilitates the creation of Sale Commission Agreements, enabling businesses to formalize commission structures for sales performances. By utilizing this interface, users can efficiently define and manage agreements that outline the terms and conditions between sales teams and business entities. Typical consumers of this API include sales managers and finance teams looking to streamline commission processing and improve payment accuracy. This endpoint plays a vital role in ensuring that all commission-related transactions are governed by formal and clear agreements.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/sales/commission-agreement": {
      "post": {
        "tags": [
          "Sales"
        ],
        "summary": "Create a new sales commission agreement.",
        "description": "This endpoint allows you to establish a new sales commission agreement, detailing the terms and conditions governing the sales commissions for agents or representatives. Ensure to provide all necessary fields in the request body for successful creation.",
        "operationId": "createSaleCommissionAgreement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create a new commission agreement within the sales module. It should contain the relevant details regarding the commission structure and associated terms.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSaleCommissionAgreementRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The commission agreement was successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSaleCommissionAgreementResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateSaleCommissionAgreementRequest": {
        "title": "Commission Agreement Request",
        "type": "object",
        "properties": {
          "prospectId": {
            "type": "string",
            "description": "Unique identifier for the prospect.",
            "example": "STANDARD"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product involved in the agreement.",
            "example": "CHK-PREMIUM-US"
          },
          "salesChannel": {
            "type": "string",
            "description": "Sales channel through which the product is sold.",
            "example": "STANDARD"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "Identifier for the relationship manager responsible for this agreement.",
            "example": "STANDARD"
          },
          "expectedValue": {
            "description": "The expected monetary value associated with the agreement.",
            "$ref": "#/components/schemas/ExpectedValue"
          },
          "salesPersonId": {
            "type": "string",
            "description": "Identifier for the salesperson involved in this agreement.",
            "example": "STANDARD"
          },
          "commissionPlanId": {
            "type": "string",
            "description": "Identifier for the commission plan applicable to this agreement.",
            "example": "STANDARD"
          },
          "eligibleRevenue": {
            "type": "number",
            "description": "The eligible revenue amount associated with this commission agreement.",
            "example": 100.0
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema defines the structure of the request body for the Commission Agreement operation.",
        "example": {
          "prospectId": "STANDARD",
          "productCode": "CHK-PREMIUM-US",
          "salesChannel": "STANDARD",
          "relationshipManagerId": "STANDARD",
          "expectedValue": {
            "amount": 100.0,
            "currency": "USD"
          },
          "salesPersonId": "STANDARD",
          "commissionPlanId": "STANDARD",
          "eligibleRevenue": 100.0,
          "requestContext": {
            "requestId": "c95e7430-b98b-5006-97a3-40c2035d3603",
            "correlationId": "c000b661-f558-57b7-a690-79d7ce23d1b5",
            "idempotencyKey": "28fc0cbd-9566-53a7-b955-a695ffe7bd6d",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-780762"
            }
          }
        }
      },
      "ExpectedValue": {
        "title": "Expected Value",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount of the expected value.",
            "example": 500.0
          },
          "currency": {
            "type": "string",
            "description": "The currency of the expected value amount.",
            "example": "USD"
          }
        },
        "description": "Defines the expected monetary value associated with a commission agreement."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-1234"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating multiple related requests.",
            "example": "corr-5678"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key for ensuring idempotency of the request.",
            "example": "idempot-9090"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp for when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system generating the request.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "SalesApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contains contextual information about the request being made."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., online, in-store).",
            "example": "online"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device from which the request is made.",
            "example": "device-xyz"
          }
        },
        "description": "Describes the channel through which the request is made."
      },
      "CreateSaleCommissionAgreementResponse_201": {
        "title": "Commission Agreement Response",
        "type": "object",
        "properties": {
          "prospectId": {
            "type": "string",
            "description": "Unique identifier for the prospect.",
            "example": "STANDARD"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product involved in the agreement.",
            "example": "CHK-PREMIUM-US"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "Identifier for the relationship manager handling this agreement.",
            "example": "STANDARD"
          },
          "salesPersonId": {
            "type": "string",
            "description": "Identifier for the sales person associated with the agreement.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "Identifier for the resource linked to this agreement.",
            "example": "RES-141972"
          },
          "status": {
            "type": "string",
            "description": "Current status of the commission agreement.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the agreement was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the commission agreement.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Represents the response structure for the commission agreement operation.",
        "example": {
          "prospectId": "STANDARD",
          "productCode": "CHK-PREMIUM-US",
          "relationshipManagerId": "STANDARD",
          "salesPersonId": "STANDARD",
          "resourceId": "RES-141972",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "7f4aa904-7b11-5c77-a7e3-3ab2c73195f5",
            "correlationId": "c000b661-f558-57b7-a690-79d7ce23d1b5",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests and responses.",
            "example": "CORR456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-14T12:34:56Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the agreement took place.",
            "example": "us-west"
          }
        },
        "description": "Contains metadata related to the commission agreement response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "commission-agreement-create-commission-agreement"
        },
        "example": "commission-agreement-create-commission-agreement"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which provides a way to authenticate using a token. The token used here is a JSON Web Token (JWT), a compact URL-safe means of representing claims to be transferred between two parties.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}