{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Trading Book Oversight API",
    "description": "The Trading Book Oversight API provides vital insights and visibility into wholesale trading activities. This API enables financial institutions to monitor compliance, assess risk exposure, and maintain oversight of their trading books. Typically utilized by trading operations and compliance teams, this endpoint supports the retrieval of crucial trading data related to various financial instruments. By leveraging this API, users can ensure alignment with regulatory requirements and enhance decision-making processes within their organizations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/wholesale-trading/trading-book-oversight": {
      "get": {
        "tags": [
          "Trading Oversight"
        ],
        "summary": "Retrieve trading book oversight information.",
        "description": "This endpoint allows users to retrieve detailed information regarding trading book oversight, providing insights into the trading activities and compliance measures in place. Utilize this information for monitoring and analyzing trading performance.",
        "operationId": "getTradingBookOversight",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the oversight details of the trading book within wholesale trading. It encapsulates parameters necessary for the GET operation to effectively query the desired trading book data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetTradingBookOversightRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the trading book oversight data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTradingBookOversightResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetTradingBookOversightRequest": {
        "type": "string",
        "description": "This schema represents the expected request body as a string for the Trading Book Oversight operation in the Wholesale Trading API.",
        "example": "{}"
      },
      "GetTradingBookOversightResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of trading book items.",
            "example": [
              {
                "tradingBookId": "STANDARD",
                "instrumentId": "STANDARD",
                "side": "STANDARD",
                "quantity": 1,
                "limitPrice": {
                  "value": 100.0,
                  "currency": "USD"
                },
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/TradingBookItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting parameter for the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the Trading Book Oversight GET operation.",
        "example": {
          "items": [
            {
              "tradingBookId": "STANDARD",
              "instrumentId": "STANDARD",
              "side": "STANDARD",
              "quantity": 1,
              "limitPrice": {
                "value": 100.0,
                "currency": "USD"
              },
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "88ed2d2d-93da-5441-9895-c90101080687",
            "correlationId": "3c78e972-d135-5a4c-84ba-965df12023f0",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "TradingBookItem": {
        "type": "object",
        "properties": {
          "tradingBookId": {
            "type": "string",
            "description": "The unique identifier for the trading book.",
            "example": "string"
          },
          "instrumentId": {
            "type": "string",
            "description": "The unique identifier for the instrument.",
            "example": "string"
          },
          "side": {
            "type": "string",
            "description": "The side of the trade (e.g., buy or sell).",
            "example": "string"
          },
          "quantity": {
            "type": "integer",
            "description": "The quantity of the traded instruments.",
            "format": "int32",
            "example": 0
          },
          "limitPrice": {
            "$ref": "#/components/schemas/LimitPrice"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the record was last updated.",
            "example": "string"
          }
        },
        "description": "Schema representing a single trading book item."
      },
      "LimitPrice": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The monetary value of the limit price.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency code for the limit price.",
            "example": "string"
          }
        },
        "description": "Schema representing the limit price of the trade."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Information for paginating the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to correlate different logs and traces.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "trading-book-oversight-search-trading-book-oversight"
        },
        "example": "trading-book-oversight-search-trading-book-oversight"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer Authentication method, which allows clients to access protected resources by providing a JSON Web Token (JWT) in the Authorization header. Ensure the token is kept secure and is transmitted over HTTPS to prevent unauthorized access.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}