{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Deposit Lending Mortgage Loans-spec",
    "description": "The Deposit Lending Mortgage Loans API enables users to access comprehensive information about mortgage loans offered in the deposit lending category. This endpoint allows developers to retrieve a list of available mortgage loan products, facilitating better decision-making for potential borrowers. Typical consumers include financial institutions, mortgage brokers, and third-party financial service applications looking to present mortgage options to clients. By integrating this API, applications can dynamically showcase loan offerings, enhancing user experience and improving conversion rates.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/mortgage-loan": {
      "get": {
        "tags": [
          "Deposit Lending"
        ],
        "summary": "Retrieve mortgage loan details.",
        "description": "This endpoint allows developers to access detailed information about mortgage loans available under the deposit lending category. It includes essential data such as loan terms, interest rates, and eligibility criteria, making it easier for users to make informed decisions.",
        "operationId": "listDepositLendingMortgageLoans",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to fetch mortgage loan options available in the deposit lending service. It should contain the necessary parameters to specify the user's request details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListDepositLendingMortgageLoansRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved mortgage loan details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDepositLendingMortgageLoansResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListDepositLendingMortgageLoansRequest": {
        "title": "Mortgage Loan Operations Request Body",
        "type": "string",
        "description": "This schema represents the request body for fetching mortgage loan operations. The content should provide necessary input in string format.",
        "example": "{}"
      },
      "ListDepositLendingMortgageLoansResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "Array of mortgage loan items.",
            "example": [
              {
                "customerId": "CUST-101330",
                "accountId": "ACC-124860",
                "productCode": "CHK-PREMIUM-US",
                "principal": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "termMonths": 1,
                "repaymentFrequency": "STANDARD",
                "propertyId": "STANDARD",
                "propertyValue": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "loanToValuePercent": 100.0,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/MortgageLoanItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the mortgage loan items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the GET operation on mortgage loan items.",
        "example": {
          "items": [
            {
              "customerId": "CUST-101330",
              "accountId": "ACC-124860",
              "productCode": "CHK-PREMIUM-US",
              "principal": {
                "amount": 100.0,
                "currency": "USD"
              },
              "termMonths": 1,
              "repaymentFrequency": "STANDARD",
              "propertyId": "STANDARD",
              "propertyValue": {
                "amount": 100.0,
                "currency": "USD"
              },
              "loanToValuePercent": 100.0,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "b63e5541-a7f9-5e3d-8793-8c0a0468f598",
            "correlationId": "0a376720-f333-5ff4-963c-71d0b3c31a40",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "MortgageLoanItem": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer."
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the loan account."
          },
          "productCode": {
            "type": "string",
            "description": "Code for the specific mortgage product."
          },
          "principal": {
            "$ref": "#/components/schemas/AmountWithCurrency"
          },
          "termMonths": {
            "type": "integer",
            "description": "The duration of the loan in months.",
            "format": "int32"
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "Frequency of loan repayments."
          },
          "propertyId": {
            "type": "string",
            "description": "Identifier for the property associated with the loan."
          },
          "propertyValue": {
            "$ref": "#/components/schemas/AmountWithCurrency"
          },
          "loanToValuePercent": {
            "type": "number",
            "description": "The loan-to-value ratio as a percentage."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the loan record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the loan item."
          }
        },
        "description": "Represents a mortgage loan item."
      },
      "AmountWithCurrency": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The monetary amount.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency code (e.g., USD, EUR)."
          }
        },
        "description": "Represents an amount with its currency."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Metadata for pagination of results."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracing the request."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region in which the processing took place."
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that was called, which can be used for tracking and auditing purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "mortgage-loan-search-mortgage-loan"
        },
        "example": "mortgage-loan-search-mortgage-loan"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request, which helps in identifying the source of the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme allows the use of a bearer token issued through JSON Web Tokens (JWT) for authentication. Clients must include the token in the 'Authorization' header of their requests to gain access to secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}