{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Trade Banking Notional Pooling-spec",
    "description": "The Trade Banking Notional Pooling API enables financial institutions to streamline their liquidity management by facilitating the creation of notional pooling arrangements. This API allows users to define and manage their trade banking notional pooling specifications, ensuring optimal utilization of funds across multiple accounts. Common consumers include treasury departments and financial analysts looking to optimize cash flow and inter-company financing. By leveraging this endpoint, organizations can enhance their operational efficiency in managing capital resources and improve overall financial performance.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/notional-pooling": {
      "post": {
        "tags": [
          "Trade Banking"
        ],
        "summary": "Initiate a Notional Pooling request",
        "description": "This endpoint allows users to create a Notional Pooling request for their trade banking needs. It facilitates centralized cash management by pooling balances across multiple accounts, optimizing the cash position of a business.",
        "operationId": "createTradeBankingNotionalPooling",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for initiating a notional pooling operation in trade banking. This operation allows for the aggregation of balances across multiple accounts to optimize liquidity management and minimize borrowing costs.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTradeBankingNotionalPoolingRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully, reflecting the new notional pooling entry.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateTradeBankingNotionalPoolingResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateTradeBankingNotionalPoolingRequest": {
        "title": "Notional Pooling Request",
        "type": "object",
        "properties": {
          "poolId": {
            "type": "string",
            "description": "The unique identifier for the notional pool.",
            "example": "STANDARD"
          },
          "headerAccountId": {
            "type": "string",
            "description": "The identifier for the header account associated with the notional pool.",
            "example": "ACC-442854"
          },
          "participantAccountIds": {
            "type": "array",
            "description": "A list of account identifiers for participants in the notional pooling.",
            "example": [
              "ACC-278253"
            ],
            "items": {
              "type": "string",
              "description": "An identifier for a participant account.",
              "example": "PA123456"
            }
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the notional pooling operations will be conducted.",
            "example": "USD"
          },
          "sweepFrequency": {
            "type": "string",
            "description": "The frequency at which the sweeps are executed within the notional pool.",
            "example": "STANDARD"
          },
          "targetBalance": {
            "type": "number",
            "description": "The desired target balance for the notional pool.",
            "example": 100.0
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing a request body for notional pooling operations in trade banking.",
        "example": {
          "poolId": "STANDARD",
          "headerAccountId": "ACC-442854",
          "participantAccountIds": [
            "ACC-278253"
          ],
          "currency": "USD",
          "sweepFrequency": "STANDARD",
          "targetBalance": 100.0,
          "requestContext": {
            "requestId": "a4bb88cb-95f6-562b-8e51-fe45fcb016af",
            "correlationId": "35392bc7-be62-5d66-85f8-36e56609b72f",
            "idempotencyKey": "1c7696e4-fca4-52a2-b567-8becee843d8f",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-456326"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "REQ123456"
          },
          "correlationId": {
            "type": "string",
            "description": "A correlation identifier used to track related requests.",
            "example": "CORR987654"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure the operation is idempotent.",
            "example": "IDEMPOTENT123"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-10T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "TradeBankingSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "NotionalPoolApp"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request associated with the notional pooling operation."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the communication channel.",
            "example": "C123456"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used for the request.",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device from which the request is initiated.",
            "example": "DEVICE789"
          }
        },
        "description": "Schema representing the channel through which the request is made."
      },
      "CreateTradeBankingNotionalPoolingResponse_201": {
        "title": "Notional Pooling Operation Response",
        "type": "object",
        "properties": {
          "poolId": {
            "type": "string",
            "description": "The unique identifier for the notional pool.",
            "example": "STANDARD"
          },
          "headerAccountId": {
            "type": "string",
            "description": "The identifier for the header account associated with the notional pool.",
            "example": "ACC-530114"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource that was accessed or modified.",
            "example": "RES-219791"
          },
          "status": {
            "type": "string",
            "description": "The current status of the notional pooling operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the notional pooling operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional information related to the processing of the request.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for a Notional Pooling operation that details the result of the request.",
        "example": {
          "poolId": "STANDARD",
          "headerAccountId": "ACC-530114",
          "resourceId": "RES-219791",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "62561d2e-857f-5ea7-869e-2b4f622f8516",
            "correlationId": "35392bc7-be62-5d66-85f8-36e56609b72f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "RESP98765"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used for correlating related requests and responses.",
            "example": "CORREL123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-06-15T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request took place.",
            "example": "EU-West"
          }
        },
        "description": "Metadata associated with the notional pooling operation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint, used to trace the request through the system.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "notional-pooling-create-notional-pooling"
        },
        "example": "notional-pooling-create-notional-pooling"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is processing the request, allowing for better tracking and diagnostics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens formatted as JWT (JSON Web Tokens). This scheme requires the client to include a valid Bearer token in the 'Authorization' header of the request to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}