{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Financial Statements Submission API",
    "description": "The Financial Statements Submission API facilitates the seamless submission of financial statements for review and processing. This endpoint allows businesses to submit comprehensive financial data, such as income statements and balance sheets, which are essential for regulatory compliance and financial analysis. Typical consumers include accountants, financial analysts, and corporate finance teams looking to manage their financial reporting efficiently. By utilizing this API, organizations can enhance their financial operations and ensure accurate reporting to stakeholders.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://enterprise-support-app:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/finance/financial-statements": {
      "post": {
        "tags": [
          "Finance"
        ],
        "summary": "Create a new financial statement.",
        "description": "This endpoint allows you to create a new financial statement by submitting the required data. Ensure that all necessary financial information is included to successfully generate the statement.",
        "operationId": "createFinancialStatement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit financial statements for processing. It expects a structured JSON format as specified by the schema and includes all necessary fields for the financial data being submitted.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFinancialStatementRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource successfully created, financial statement generated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateFinancialStatementResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateFinancialStatementRequest": {
        "type": "object",
        "properties": {
          "legalEntityId": {
            "type": "string",
            "description": "The unique identifier for the legal entity.",
            "example": "STANDARD"
          },
          "ledgerId": {
            "type": "string",
            "description": "The unique identifier for the ledger.",
            "example": "STANDARD"
          },
          "accountingPeriod": {
            "type": "string",
            "description": "The accounting period for the financial statements.",
            "example": "STANDARD"
          },
          "amount": {
            "description": "The amount for the financial statement, including value and currency.",
            "$ref": "#/components/schemas/Amount"
          },
          "postingDate": {
            "type": "string",
            "description": "The date when the financial statement is posted.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "example": {
          "legalEntityId": "STANDARD",
          "ledgerId": "STANDARD",
          "accountingPeriod": "STANDARD",
          "amount": {
            "value": 100.0,
            "currency": "USD"
          },
          "postingDate": "2026-09-15",
          "requestContext": {
            "requestId": "1cd31f58-4995-5f5a-832c-5491f567c5bb",
            "correlationId": "ce1b758e-5915-5e2d-98f2-6f64a622dacf",
            "idempotencyKey": "0095e13a-3f78-5227-bf2b-ef28cccdb6c2",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-842353"
            }
          }
        }
      },
      "Amount": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The numerical value of the amount.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency code for the amount.",
            "example": "string"
          }
        },
        "description": "An object representing the financial amount, including the value and currency."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate multiple requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the operation is idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp for when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system where the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that made the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "An object containing contextual information for the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device used.",
            "example": "string"
          }
        },
        "description": "An object representing the channel used for the request including its ID, type, and device information."
      },
      "CreateFinancialStatementResponse_201": {
        "title": "Financial Statement Response",
        "type": "object",
        "properties": {
          "legalEntityId": {
            "type": "string",
            "description": "The identifier for the legal entity related to the financial statement.",
            "example": "STANDARD"
          },
          "ledgerId": {
            "type": "string",
            "description": "The identifier of the ledger associated with the financial statement.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource created in the system.",
            "example": "RES-703746"
          },
          "status": {
            "type": "string",
            "description": "The current status of the financial statement.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the financial statement was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Represents the response returned upon successful creation of a financial statement.",
        "example": {
          "legalEntityId": "STANDARD",
          "ledgerId": "STANDARD",
          "resourceId": "RES-703746",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "0866ba54-3a5c-5b91-a041-e174ca9b5251",
            "correlationId": "ce1b758e-5915-5e2d-98f2-6f64a622dacf",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking the request across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographical region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata information about the response, facilitating traceability and tracking."
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-083"
        },
        "example": "WF-083"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "00860a00-3252-4e5a-a904-e590e8c0dcaf"
        },
        "example": "00860a00-3252-4e5a-a904-e590e8c0dcaf"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ad2db2b0-6591-4788-9815-405ccac5f9b5"
        },
        "example": "ad2db2b0-6591-4788-9815-405ccac5f9b5"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the specific API endpoint that was called. This header helps in tracking the usage and analytics of the endpoint.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "financial-statements-create-financial-statements"
        },
        "example": "financial-statements-create-financial-statements"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request. This assists in monitoring the performance and behavior of diverse applications interacting with the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      },
      "X-Workflow-Id": {
        "description": "A unique identifier for the workflow associated with the request. This can be useful for tracking the execution flow and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-083"
        },
        "example": "WF-083"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow that is associated with the financial statement operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Employee Travel Expense Approval and Reimbursement"
        },
        "example": "Employee Travel Expense Approval and Reimbursement"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow, indicating its progress within the processing pipeline.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the execution of the workflow, used for tracking and referencing this specific run.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ad2db2b0-6591-4788-9815-405ccac5f9b5"
        },
        "example": "ad2db2b0-6591-4788-9815-405ccac5f9b5"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method with JSON Web Tokens (JWT) for securing API endpoints. Clients must include a valid JWT in the Authorization header as a bearer token to authenticate requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}