{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Wholesale Trading Suitability Checking-spec",
    "description": "The Wholesale Trading Suitability Checking API facilitates the assessment of clients' eligibility for wholesale trading services. This endpoint allows businesses to submit and evaluate suitability checks based on client information and trading profiles. Typical consumers include financial institutions and brokers looking to ensure compliance with regulatory standards before engaging clients in wholesale trading activities. By leveraging this API, firms can streamline their onboarding processes and mitigate risks associated with unsuitable transactions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/wholesale-trading/suitability-checking": {
      "post": {
        "tags": [
          "Wholesale Trading"
        ],
        "summary": "Submit a suitability check request.",
        "description": "This endpoint allows you to submit a suitability check request for wholesale trading. The request will evaluate whether a particular product or service is suitable for a specific client based on their needs and circumstances.",
        "operationId": "createWholesaleTradingSuitabilityChecking",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit a suitability checking operation in wholesale trading. It includes all necessary parameters and data required for processing the suitability check request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWholesaleTradingSuitabilityCheckingRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully and is ready for use.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateWholesaleTradingSuitabilityCheckingResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateWholesaleTradingSuitabilityCheckingRequest": {
        "title": "Suitability Checking Request Body",
        "type": "object",
        "properties": {
          "tradingBookId": {
            "type": "string",
            "description": "Unique identifier for the trading book.",
            "example": "STANDARD"
          },
          "instrumentId": {
            "type": "string",
            "description": "Unique identifier for the financial instrument.",
            "example": "STANDARD"
          },
          "side": {
            "type": "string",
            "description": "Indicates the side of the trade (e.g., buy or sell).",
            "example": "STANDARD"
          },
          "quantity": {
            "type": "integer",
            "description": "Number of units for the trade.",
            "format": "int32",
            "example": 1
          },
          "limitPrice": {
            "description": "The price limit at which the trade is to be executed.",
            "$ref": "#/components/schemas/LimitPrice"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for making a suitability checking request in wholesale trading operations.",
        "example": {
          "tradingBookId": "STANDARD",
          "instrumentId": "STANDARD",
          "side": "STANDARD",
          "quantity": 1,
          "limitPrice": {
            "value": 100.0,
            "currency": "USD"
          },
          "requestContext": {
            "requestId": "35b8e438-c4a0-50e5-bfca-ef6e6cbc18e3",
            "correlationId": "89973295-2e13-5af9-9bcd-4282ea9a6b19",
            "idempotencyKey": "94f00f30-1563-5b5e-a263-103258b93c1e",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-726753"
            }
          }
        }
      },
      "LimitPrice": {
        "title": "Limit Price",
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The value of the limit price.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the limit price is denominated.",
            "example": "string"
          }
        },
        "description": "Schema for defining a trading limit price."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotent requests.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the system making the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the application making the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request is made.",
            "$ref": "#/components/schemas/ChannelInfo"
          }
        },
        "description": "Schema for providing contextual information about the request."
      },
      "ChannelInfo": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel through which the request is made (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device used.",
            "example": "string"
          }
        },
        "description": "Schema for describing channel details for the request."
      },
      "CreateWholesaleTradingSuitabilityCheckingResponse_201": {
        "type": "object",
        "properties": {
          "tradingBookId": {
            "type": "string",
            "description": "Unique identifier for the trading book.",
            "example": "STANDARD"
          },
          "instrumentId": {
            "type": "string",
            "description": "Unique identifier for the financial instrument.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource related to the operation.",
            "example": "RES-252471"
          },
          "status": {
            "type": "string",
            "description": "Current status of the suitability checking operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the suitability check was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/SuitabilityCheckMetadata"
          }
        },
        "description": "Response schema for the suitability checking operation in wholesale trading.",
        "example": {
          "tradingBookId": "STANDARD",
          "instrumentId": "STANDARD",
          "resourceId": "RES-252471",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "47694efa-29e0-5988-9e74-4f4fe8e69c44",
            "correlationId": "89973295-2e13-5af9-9bcd-4282ea9a6b19",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "SuitabilityCheckMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request took place.",
            "example": "string"
          }
        },
        "description": "Metadata related to the suitability checking operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the specific endpoint being accessed in the wholesale trading suitability checking operations.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "suitability-checking-create-suitability-checking"
        },
        "example": "suitability-checking-create-suitability-checking"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the request, providing context for debugging and monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication where a JWT (JSON Web Token) is provided in the HTTP Authorization header. It is commonly used to secure APIs by verifying the identity and permissions of the client making the request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}