{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Counterparty Management API",
    "description": "The Counterparty Management API enables efficient updates to counterparty information within the banking market data framework. This API facilitates modifications to existing counterparty records, ensuring that vital data remains accurate and up-to-date. Typical consumers include financial institutions and market analysts who rely on precise counterparty details for compliance and risk assessment. The API streamlines data maintenance processes, thereby enhancing operational efficiency and supporting informed decision-making.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-data/counterparty-administration/{param1}": {
      "patch": {
        "tags": [
          "Counterparty Management"
        ],
        "summary": "Update Counterparty Details",
        "description": "This endpoint allows you to update the details of a specific counterparty identified by PARTY-600045 in the market data system. Make sure to provide the necessary changes in the request body to modify the counterparty information accurately.",
        "operationId": "patchCounterpartyAdministrationParty600045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the details of a specific counterparty identified by PARTY-600045. The payload must comply with the schema defined for this operation, which specifies the required and optional fields that can be included to modify the counterparty's information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchCounterpartyAdministrationParty600045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchCounterpartyAdministrationParty600045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchCounterpartyAdministrationParty600045Request": {
        "type": "object",
        "properties": {
          "changes": {
            "description": "Contains the changes to be made to the market data.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the requested change.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The timestamp at which the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the user who requested the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context information for the request including tracking identifiers.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for modifying market data operations pertaining to a counterparty.",
        "example": {
          "changes": {
            "instrumentId": "STANDARD",
            "isin": "STANDARD",
            "marketIdentifierCode": "CODE-163"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "82361023-81d3-55ee-927b-82a4883853ea",
            "correlationId": "5fde063e-488d-5dfe-a9dc-ce019e365ad8",
            "idempotencyKey": "c413fddb-caa0-5c8c-aead-fd1fefaee146",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-359794"
            }
          }
        }
      },
      "Changes": {
        "type": "object",
        "properties": {
          "instrumentId": {
            "type": "string",
            "description": "Unique identifier of the financial instrument.",
            "example": "ABC123"
          },
          "isin": {
            "type": "string",
            "description": "International Securities Identification Number of the financial instrument.",
            "example": "US1234567890"
          },
          "marketIdentifierCode": {
            "type": "string",
            "description": "Code representing the market for the instrument.",
            "example": "XNAS"
          }
        },
        "description": "Represents the specific changes to the market data elements."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request across systems.",
            "example": "corr-789"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the request is processed only once.",
            "example": "idemp-321"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-01T09:58:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name of the source system initiating the request.",
            "example": "MarketDataAPI"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application making the request.",
            "example": "TradingApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual details about the request, including identifiers and metadata."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier of the communication channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the communication channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used to submit the request.",
            "example": "device-abc123"
          }
        },
        "description": "Information about the communication channel used to submit the request."
      },
      "PatchCounterpartyAdministrationParty600045Response_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response structure.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the response, indicating success or failure.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the resource was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the PATCH operation on the specified counterparty.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "a3352536-72f4-5f22-8aa7-3786fe56bb16",
            "correlationId": "5fde063e-488d-5dfe-a9dc-ce019e365ad8",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Contains metadata information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "counterparty-administration-update-counterparty-administration"
        },
        "example": "counterparty-administration-update-counterparty-administration"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens. This security scheme expects a JSON Web Token (JWT) to be included in the Authorization header of HTTP requests for secure access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}