{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get P2m By Merchant Id-spec",
    "description": "The Retrieve Merchant P2M Details API enables users to access specific payment-to-merchant (P2M) information based on a merchant's unique identifier. This service is essential for merchants and financial institutions seeking to retrieve transaction details, monitor payment trends, and perform reconciliation activities. By utilizing this endpoint, developers can integrate seamless access to critical financial data, aiding in more informed decision-making. Typical use cases include financial reporting, analytics, and transaction audits.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/merchants/{merchantId}": {
      "get": {
        "tags": [
          "Merchant Management"
        ],
        "summary": "Retrieve details for a specific merchant.",
        "description": "This endpoint allows you to fetch detailed information about a specific merchant identified by the unique merchant ID. You can use this information to display merchant profiles or for administrative purposes.",
        "operationId": "getP2mByMerchantId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/merchantId"
          }
        ],
        "requestBody": {
          "description": "This request body allows you to retrieve information about the specific merchant identified by the ID `MER-800045`. You can use this endpoint to access detailed operational data related to the merchant.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetP2mByMerchantIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the merchant details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetP2mByMerchantIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetP2mByMerchantIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on merchants with identifier 'MER-800045'. It is expected to be a string containing relevant information for the operation.",
        "example": "{}"
      },
      "GetP2mByMerchantIdResponse_200": {
        "title": "Merchant Details Response",
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant.",
            "example": "MER-253731"
          },
          "business": {
            "$ref": "#/components/schemas/BusinessDetails"
          },
          "registeredAddress": {
            "$ref": "#/components/schemas/RegisteredAddress"
          },
          "contact": {
            "$ref": "#/components/schemas/ContactDetails"
          },
          "status": {
            "type": "string",
            "description": "Current status of the merchant.",
            "example": "ACTIVE"
          },
          "kybStatus": {
            "type": "string",
            "description": "Know Your Business verification status.",
            "example": "ACTIVE"
          },
          "amlStatus": {
            "type": "string",
            "description": "Anti-Money Laundering compliance status.",
            "example": "ACTIVE"
          },
          "capabilities": {
            "$ref": "#/components/schemas/MerchantCapabilities"
          },
          "commercialTerms": {
            "$ref": "#/components/schemas/CommercialTerms"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the details of a merchant including business information, registered address, contact details, and status.",
        "example": {
          "merchantId": "MER-253731",
          "business": {
            "legalName": "Olivia Bennett",
            "tradingName": "Northstar Banking Service",
            "registrationNumber": "NY-4587219",
            "taxIdentificationNumber": "STANDARD",
            "incorporationCountry": "STANDARD",
            "incorporationDate": "2026-09-15",
            "merchantType": "STANDARD",
            "merchantCategoryCode": "5411"
          },
          "registeredAddress": {
            "line1": "350 Fifth Avenue",
            "line2": "Suite 4200",
            "city": "New York",
            "stateOrProvince": "STANDARD",
            "postalCode": "10001",
            "country": "STANDARD"
          },
          "contact": {
            "email": "olivia.bennett@northstar.example",
            "phone": "+1-212-555-0147",
            "website": "https://example.com/resource"
          },
          "status": "ACTIVE",
          "kybStatus": "ACTIVE",
          "amlStatus": "ACTIVE",
          "capabilities": {
            "channels": [
              "STANDARD"
            ],
            "paymentMethods": [
              "STANDARD"
            ],
            "supportsPartialCapture": true,
            "supportsPartialRefund": true,
            "supportsTips": true,
            "supportsSplitPayments": true,
            "supportsRecurringPayments": true,
            "maximumTipPercentage": "STANDARD"
          },
          "commercialTerms": {
            "pricingPlanId": "STANDARD",
            "feeBearer": "STANDARD",
            "paymentFee": {
              "type": "STANDARD",
              "percentage": "STANDARD",
              "fixedAmount": {
                "currency": "USD",
                "value": "STANDARD"
              }
            }
          },
          "metadata": {
            "responseId": "4c2cd6e9-399e-5c14-86f9-2cb09ce2c8b8",
            "correlationId": "31c80aa0-b20b-5112-a1be-956f27521c85",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "BusinessDetails": {
        "title": "Business Details",
        "type": "object",
        "properties": {
          "legalName": {
            "type": "string",
            "description": "Legal name of the business.",
            "example": "string"
          },
          "tradingName": {
            "type": "string",
            "description": "Trading name of the business.",
            "example": "string"
          },
          "registrationNumber": {
            "type": "string",
            "description": "Business registration number.",
            "example": "string"
          },
          "taxIdentificationNumber": {
            "type": "string",
            "description": "Tax identification number of the business.",
            "example": "string"
          },
          "incorporationCountry": {
            "type": "string",
            "description": "Country where the business is incorporated.",
            "example": "string"
          },
          "incorporationDate": {
            "type": "string",
            "description": "Date when the business was incorporated.",
            "example": "string"
          },
          "merchantType": {
            "type": "string",
            "description": "Type/category of the merchant.",
            "example": "string"
          },
          "merchantCategoryCode": {
            "type": "string",
            "description": "Merchant category code.",
            "example": "string"
          }
        },
        "description": "Schema representing the business information of the merchant."
      },
      "RegisteredAddress": {
        "title": "Registered Address",
        "type": "object",
        "properties": {
          "line1": {
            "type": "string",
            "description": "First line of the address.",
            "example": "string"
          },
          "line2": {
            "type": "string",
            "description": "Second line of the address (optional).",
            "example": "string"
          },
          "city": {
            "type": "string",
            "description": "City where the address is located.",
            "example": "string"
          },
          "stateOrProvince": {
            "type": "string",
            "description": "State or province of the address.",
            "example": "string"
          },
          "postalCode": {
            "type": "string",
            "description": "Postal code of the address.",
            "example": "string"
          },
          "country": {
            "type": "string",
            "description": "Country of the merchant's registered address.",
            "example": "string"
          }
        },
        "description": "Schema representing the registered physical address of the merchant."
      },
      "ContactDetails": {
        "title": "Contact Details",
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "Email address for contacting the merchant.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "Phone number for contacting the merchant.",
            "example": "string"
          },
          "website": {
            "type": "string",
            "description": "Website URL of the merchant.",
            "example": "string"
          }
        },
        "description": "Schema representing the contact information of the merchant."
      },
      "MerchantCapabilities": {
        "title": "Merchant Capabilities",
        "type": "object",
        "properties": {
          "channels": {
            "type": "array",
            "description": "Channels through which the merchant can operate.",
            "example": [
              "string"
            ],
            "items": {
              "type": "string"
            }
          },
          "paymentMethods": {
            "type": "array",
            "description": "Payment methods accepted by the merchant.",
            "example": [
              "string"
            ],
            "items": {
              "type": "string"
            }
          },
          "supportsPartialCapture": {
            "type": "boolean",
            "description": "Indicates if the merchant supports partial capture.",
            "example": false
          },
          "supportsPartialRefund": {
            "type": "boolean",
            "description": "Indicates if the merchant supports partial refund.",
            "example": false
          },
          "supportsTips": {
            "type": "boolean",
            "description": "Indicates if the merchant supports tips.",
            "example": false
          },
          "supportsSplitPayments": {
            "type": "boolean",
            "description": "Indicates if the merchant supports split payments.",
            "example": false
          },
          "supportsRecurringPayments": {
            "type": "boolean",
            "description": "Indicates if the merchant supports recurring payments.",
            "example": false
          },
          "maximumTipPercentage": {
            "type": "string",
            "description": "Maximum percentage for tips accepted by the merchant.",
            "example": "string"
          }
        },
        "description": "Schema representing the capabilities supported by the merchant."
      },
      "CommercialTerms": {
        "title": "Commercial Terms",
        "type": "object",
        "properties": {
          "pricingPlanId": {
            "type": "string",
            "description": "Identifier for the pricing plan selected by the merchant.",
            "example": "string"
          },
          "feeBearer": {
            "type": "string",
            "description": "Indicates who bears the fees (merchant or other).",
            "example": "string"
          },
          "paymentFee": {
            "$ref": "#/components/schemas/PaymentFee"
          }
        },
        "description": "Schema representing the commercial terms under which the merchant operates."
      },
      "PaymentFee": {
        "title": "Payment Fee",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of payment fee.",
            "example": "string"
          },
          "percentage": {
            "type": "string",
            "description": "Percentage fee applied to transactions.",
            "example": "string"
          },
          "fixedAmount": {
            "$ref": "#/components/schemas/FixedAmount"
          }
        },
        "description": "Schema representing the payment fees applicable to the merchant."
      },
      "FixedAmount": {
        "title": "Fixed Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency in which the fee is denominated.",
            "example": "string"
          },
          "value": {
            "type": "string",
            "description": "Fixed value of the fee.",
            "example": "string"
          }
        },
        "description": "Schema representing a fixed amount fee structure for the merchant."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID used for tracking requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Schema containing additional metadata about the merchant response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "merchantId": {
        "name": "merchantId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the API endpoint, allowing tracking and management of requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-get-merchant"
        },
        "example": "banking-p2m-openapi-get-merchant"
      },
      "X-Runtime-App": {
        "description": "Indicates the application that processed the request, useful for debugging and monitoring the service.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes a Bearer Token for authentication, which is typically a JSON Web Token (JWT). This allows for secure access to protected resources, and the token should be included in the Authorization header of the request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}