{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Banking Operational Services Customer Billing By Customer Billing Id-v5-spec",
    "description": "The Customer Billing Retrieval API allows users to access specific customer billing information based on a unique billing identifier. This endpoint serves financial institutions and service providers looking to efficiently retrieve and integrate billing details for customer accounts. Developers can utilize this API to enhance their applications with accurate billing data or provide customer support teams with quick access to billing records. Use cases include generating customer billing reports, facilitating customer inquiries, and ensuring seamless financial operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/customer-billing/{customerBillingId}": {
      "get": {
        "tags": [
          "Customer Billing"
        ],
        "summary": "Retrieve billing information for a specific customer.",
        "description": "This endpoint allows you to fetch the billing details of a customer identified by their unique customer ID. It returns all relevant billing information required for review or processing.",
        "operationId": "getBankingOperationalServicesCustomerBillingByCustomerBillingId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerBillingId"
          }
        ],
        "requestBody": {
          "description": "This request body allows you to retrieve billing information for the specified customer. Ensure that the customer's unique identifier is accurately provided to receive the correct billing data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBankingOperationalServicesCustomerBillingByCustomerBillingIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning customer billing details.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBankingOperationalServicesCustomerBillingByCustomerBillingIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBankingOperationalServicesCustomerBillingByCustomerBillingIdRequest": {
        "title": "Customer Billing Operations Request Body",
        "type": "string",
        "description": "A request body schema representing an operational service request for customer billing, specifically for a unique operation identified by CUST-100045.",
        "example": "{}"
      },
      "GetBankingOperationalServicesCustomerBillingByCustomerBillingIdResponse_200": {
        "type": "object",
        "properties": {
          "billingAccountId": {
            "type": "string",
            "description": "Unique identifier for the billing account.",
            "example": "ACC-354690"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-743392"
          },
          "billingPeriod": {
            "type": "string",
            "description": "The time period for which billing information is provided.",
            "example": "STANDARD"
          },
          "charges": {
            "type": "array",
            "description": "List of charges associated with the billing account.",
            "example": [
              {
                "chargeType": "SERVICE_FEE",
                "amount": 100,
                "currency": "USD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Charge"
            }
          },
          "dueDate": {
            "type": "string",
            "description": "The date by which the payment is due.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the billing record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the billing record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the billing record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "RSP123456"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier to correlate related requests or responses.",
                "example": "CORR123456"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp indicating when the response was generated.",
                "example": "2023-01-01T12:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the processing took place.",
                "example": "us-west-2"
              }
            },
            "description": "Metadata associated with the billing response.",
            "example": {
              "responseId": "00b02946-93fd-5146-a283-9f98887574e0",
              "correlationId": "f91ee682-2bda-5e1b-86af-800b2110964d",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for customer billing operations.",
        "example": {
          "billingAccountId": "ACC-354690",
          "customerId": "CUST-743392",
          "billingPeriod": "STANDARD",
          "charges": [
            {
              "chargeType": "SERVICE_FEE",
              "amount": 100,
              "currency": "USD"
            }
          ],
          "dueDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "00b02946-93fd-5146-a283-9f98887574e0",
            "correlationId": "f91ee682-2bda-5e1b-86af-800b2110964d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Charge": {
        "type": "object",
        "properties": {
          "chargeType": {
            "type": "string",
            "description": "Type of the charge (e.g., usage, fee).",
            "example": "usage"
          },
          "amount": {
            "type": "integer",
            "description": "Amount of the charge.",
            "format": "int32",
            "example": 100
          },
          "currency": {
            "type": "string",
            "description": "Currency in which the charge is expressed.",
            "example": "USD"
          }
        },
        "description": "Details of a charge associated with the billing account."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerBillingId": {
        "name": "customerBillingId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint that was called. This value helps in tracking and logging the requests to specific endpoints.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-billing-get-customer-billing"
        },
        "example": "customer-billing-get-customer-billing"
      },
      "x-runtime-app": {
        "description": "The name of the application that processed the request. This information is helpful for identifying which service handled the request in a microservices architecture.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which requires a JSON Web Token (JWT) to be included in the Authorization header of the request. The JWT should be formatted as a string.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}