{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_P2M Settlements Retrieval API",
    "description": "The P2M Settlements Retrieval API provides a streamlined approach for accessing settlement data related to person-to-microtransactions. This API allows users to retrieve detailed information about settlements, facilitating transparency and effective management of transaction records. Typical consumers include financial analysts and developers who require insights into settlement processes for reporting and reconciliation purposes. By leveraging this API, businesses can enhance their operational efficiency and ensure accurate financial practices.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/settlements": {
      "get": {
        "tags": [
          "Settlement Management"
        ],
        "summary": "Retrieve a list of settlements.",
        "description": "This endpoint allows users to fetch a comprehensive list of settlements available in the system. It supports pagination and filtering options to help users find the specific settlements they are looking for.",
        "operationId": "getSettlements",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body contains the parameters necessary to retrieve settlements. Ensure that the parameters align with your specific requirements for the GET operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSettlementsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of settlements.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSettlementsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetSettlementsRequest": {
        "type": "string",
        "description": "Request body for the settlements operations in the GET method, represented as a JSON string.",
        "example": "{}"
      },
      "GetSettlementsResponse_200": {
        "title": "Settlements Response",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number in the paginated response.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 1
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available for the query.",
            "format": "int32",
            "example": 1
          },
          "totalPages": {
            "type": "integer",
            "description": "Total number of pages available for the query.",
            "format": "int32",
            "example": 1
          },
          "hasNext": {
            "type": "boolean",
            "description": "Indicates if there is a next page of results.",
            "example": true
          },
          "links": {
            "type": "array",
            "description": "Links related to the response for pagination or related actions.",
            "example": [
              {
                "rel": "STANDARD",
                "href": "https://example.com/resource",
                "method": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          },
          "items": {
            "type": "array",
            "description": "List of settlement items.",
            "example": [
              {
                "settlementId": "STANDARD",
                "merchantId": "MER-141282",
                "settlementAccountId": "ACC-323112",
                "periodStart": "2026-08-11T12:00:00Z",
                "periodEnd": "2026-08-11T12:00:00Z",
                "currency": "USD",
                "status": "ACTIVE",
                "summary": {
                  "grossPayments": {
                    "currency": "USD",
                    "value": "STANDARD"
                  },
                  "refunds": {
                    "currency": "USD",
                    "value": "STANDARD"
                  },
                  "reversals": {
                    "currency": "USD",
                    "value": "STANDARD"
                  },
                  "disputes": {
                    "currency": "USD",
                    "value": "STANDARD"
                  },
                  "fees": {
                    "currency": "USD",
                    "value": "STANDARD"
                  },
                  "taxes": {
                    "currency": "USD",
                    "value": "STANDARD"
                  },
                  "reserveHeld": {
                    "currency": "USD",
                    "value": "STANDARD"
                  },
                  "reserveReleased": {
                    "currency": "USD",
                    "value": "STANDARD"
                  },
                  "adjustments": {
                    "currency": "USD",
                    "value": "STANDARD"
                  },
                  "netSettlement": {
                    "currency": "USD",
                    "value": "STANDARD"
                  }
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/SettlementItem"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "response_123"
              },
              "correlationId": {
                "type": "string",
                "description": "Correlation ID for tracking the request.",
                "example": "correlation_456"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the response was generated.",
                "example": "2023-02-01T12:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the processing occurred.",
                "example": "US-East"
              }
            },
            "description": "Metadata about the response.",
            "example": {
              "responseId": "844cf442-0d7c-502b-b8f5-80e95bba987e",
              "correlationId": "4bec4d3c-897c-5d95-a456-c62912df735c",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Schema representing the response for the settlements operation.",
        "example": {
          "page": 1,
          "pageSize": 1,
          "totalItems": 1,
          "totalPages": 1,
          "hasNext": true,
          "links": [
            {
              "rel": "STANDARD",
              "href": "https://example.com/resource",
              "method": "STANDARD"
            }
          ],
          "items": [
            {
              "settlementId": "STANDARD",
              "merchantId": "MER-141282",
              "settlementAccountId": "ACC-323112",
              "periodStart": "2026-08-11T12:00:00Z",
              "periodEnd": "2026-08-11T12:00:00Z",
              "currency": "USD",
              "status": "ACTIVE",
              "summary": {
                "grossPayments": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "refunds": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "reversals": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "disputes": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "fees": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "taxes": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "reserveHeld": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "reserveReleased": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "adjustments": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "netSettlement": {
                  "currency": "USD",
                  "value": "STANDARD"
                }
              }
            }
          ],
          "metadata": {
            "responseId": "844cf442-0d7c-502b-b8f5-80e95bba987e",
            "correlationId": "4bec4d3c-897c-5d95-a456-c62912df735c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Link": {
        "type": "object",
        "properties": {
          "rel": {
            "type": "string",
            "description": "Relation type of the link.",
            "example": "next"
          },
          "href": {
            "type": "string",
            "description": "The URL for the link.",
            "example": "/settlements?page=1"
          },
          "method": {
            "type": "string",
            "description": "HTTP method to be used with the link.",
            "example": "GET"
          }
        },
        "description": "Represents a link in the pagination or related actions."
      },
      "SettlementItem": {
        "type": "object",
        "properties": {
          "settlementId": {
            "type": "string",
            "description": "Unique identifier for the settlement.",
            "example": "settle_123"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant related to the settlement.",
            "example": "merchant_456"
          },
          "settlementAccountId": {
            "type": "string",
            "description": "Identifier for the account the settlement is associated with.",
            "example": "account_789"
          },
          "periodStart": {
            "type": "string",
            "description": "Start date of the settlement period.",
            "example": "2023-01-01T00:00:00Z"
          },
          "periodEnd": {
            "type": "string",
            "description": "End date of the settlement period.",
            "example": "2023-01-31T23:59:59Z"
          },
          "currency": {
            "type": "string",
            "description": "Currency of the settlement amounts.",
            "example": "USD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the settlement.",
            "example": "completed"
          },
          "summary": {
            "type": "object",
            "properties": {
              "grossPayments": {
                "$ref": "#/components/schemas/FinancialDetail"
              },
              "refunds": {
                "$ref": "#/components/schemas/FinancialDetail"
              },
              "reversals": {
                "$ref": "#/components/schemas/FinancialDetail"
              },
              "disputes": {
                "$ref": "#/components/schemas/FinancialDetail"
              },
              "fees": {
                "$ref": "#/components/schemas/FinancialDetail"
              },
              "taxes": {
                "$ref": "#/components/schemas/FinancialDetail"
              },
              "reserveHeld": {
                "$ref": "#/components/schemas/FinancialDetail"
              },
              "reserveReleased": {
                "$ref": "#/components/schemas/FinancialDetail"
              },
              "adjustments": {
                "$ref": "#/components/schemas/FinancialDetail"
              },
              "netSettlement": {
                "$ref": "#/components/schemas/FinancialDetail"
              }
            },
            "description": "Summary of financial details related to the settlement.",
            "example": {
              "grossPayments": {
                "currency": "USD",
                "value": "1000.00"
              },
              "refunds": {
                "currency": "USD",
                "value": "50.00"
              },
              "reversals": {
                "currency": "USD",
                "value": "10.00"
              },
              "disputes": {
                "currency": "USD",
                "value": "5.00"
              },
              "fees": {
                "currency": "USD",
                "value": "20.00"
              },
              "taxes": {
                "currency": "USD",
                "value": "15.00"
              },
              "reserveHeld": {
                "currency": "USD",
                "value": "100.00"
              },
              "reserveReleased": {
                "currency": "USD",
                "value": "80.00"
              },
              "adjustments": {
                "currency": "USD",
                "value": "0.00"
              },
              "netSettlement": {
                "currency": "USD",
                "value": "930.00"
              }
            }
          }
        },
        "description": "Represents a single settlement item in the response."
      },
      "FinancialDetail": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency type of the financial value.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "Monetary value.",
            "example": "1000.00"
          }
        },
        "description": "Represents financial details with currency and value."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-list-settlements"
        },
        "example": "banking-p2m-openapi-list-settlements"
      },
      "X-Runtime-App": {
        "description": "The name of the application runtime processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication scheme which uses a JSON Web Token (JWT) for authenticating API requests. The client must include the token in the `Authorization` header as a `Bearer` token to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}