{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Document By Param1-spec",
    "description": "The Document Retrieval API allows users to fetch specific banking documents using a unique identifier (param1). This endpoint streamlines access to critical financial information, enabling efficient retrieval for auditing, compliance, or customer service initiatives. Typical consumers include banking personnel, regulatory bodies, and software developers integrating document management into their applications. By leveraging this API, organizations can enhance their operational efficiency through quick access to important document data.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/documents/document-services/{param1}": {
      "get": {
        "tags": [
          "Document Management"
        ],
        "summary": "Retrieve a specific document by its ID.",
        "description": "Fetches the details of the document associated with the provided ID. This endpoint allows you to see all relevant information about the document, including its attributes and status.",
        "operationId": "getDocumentByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve document service details for the specified document identifier. Ensure that the request format adheres to the expected application/json content type.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetDocumentByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the requested document details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDocumentByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetDocumentByParam1Request": {
        "type": "string",
        "description": "The request body for the GET operation in the document services, containing a string representation of the document.",
        "example": "{}"
      },
      "GetDocumentByParam1Response_200": {
        "type": "object",
        "properties": {
          "documentId": {
            "type": "string",
            "description": "The unique identifier of the document.",
            "example": "DOC-413420"
          },
          "documentType": {
            "type": "string",
            "description": "The type of the document.",
            "example": "STANDARD"
          },
          "classification": {
            "type": "string",
            "description": "The classification of the document.",
            "example": "STANDARD"
          },
          "retentionClass": {
            "type": "string",
            "description": "The retention class associated with the document.",
            "example": "STANDARD"
          },
          "ownerId": {
            "type": "string",
            "description": "The identifier of the owner of the document.",
            "example": "STANDARD"
          },
          "fileName": {
            "type": "string",
            "description": "The name of the file associated with the document.",
            "example": "Northstar Banking Service"
          },
          "mediaType": {
            "type": "string",
            "description": "The media type of the document.",
            "example": "STANDARD"
          },
          "checksumSha256": {
            "type": "string",
            "description": "The SHA-256 checksum of the document.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the document.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The last updated timestamp of the document.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/DocumentMetadata"
          }
        },
        "description": "Represents the response for a document query operation.",
        "example": {
          "documentId": "DOC-413420",
          "documentType": "STANDARD",
          "classification": "STANDARD",
          "retentionClass": "STANDARD",
          "ownerId": "STANDARD",
          "fileName": "Northstar Banking Service",
          "mediaType": "STANDARD",
          "checksumSha256": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "eeb408cd-4487-5fdd-b01a-82a728cd1303",
            "correlationId": "59017ddd-4f43-554e-9388-c7aa0d6dfbb4",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "DocumentMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The response identifier for tracking purposes.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for linking related requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the document was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographic region where the document was processed.",
            "example": "string"
          }
        },
        "description": "Contains metadata information of the document."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier assigned to the API endpoint, useful for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "document-services-get-document-services"
        },
        "example": "document-services-get-document-services"
      },
      "X-Runtime-App": {
        "description": "Indicates the name of the application that processed the request, assisting in debugging and performance monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method wherein a valid JWT (JSON Web Token) must be provided in the authorization header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}