{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Syndicated Loan Management API",
    "description": "The Syndicated Loan Management API facilitates the process of arranging, managing, and offering syndicated loans to multiple lenders. This service helps financial institutions streamline loan syndication, allowing for efficient syndicate formation, tracking, and reporting. Typical consumers include banks and financial institutions looking to optimize their lending operations and enhance collaboration among lenders. Through this API, users can initiate loan syndication requests and manage loan participant agreements with ease.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://lending-credit-app:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/syndicated-loan": {
      "post": {
        "tags": [
          "Syndicated Loan Management"
        ],
        "summary": "Create a new syndicated loan",
        "description": "This endpoint allows the user to create a syndicated loan under the trade banking services. The request should include all necessary details to process the loan, ensuring all financial regulations and requirements are met.",
        "operationId": "createSyndicatedLoan",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a syndicated loan operation. The client provides the necessary loan details in JSON format, which will be processed to create the loan request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSyndicatedLoanRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The syndicated loan has been successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSyndicatedLoanResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateSyndicatedLoanRequest": {
        "title": "Syndicated Loan Request Body",
        "type": "object",
        "properties": {
          "corporateCustomerId": {
            "type": "string",
            "description": "Unique identifier for the corporate customer.",
            "example": "CUST-117143"
          },
          "facilityId": {
            "type": "string",
            "description": "Unique identifier for the loan facility.",
            "example": "STANDARD"
          },
          "counterpartyId": {
            "type": "string",
            "description": "Unique identifier for the counterparty involved in the loan.",
            "example": "PARTY-633682"
          },
          "amount": {
            "$ref": "#/components/schemas/LoanAmount"
          },
          "maturityDate": {
            "type": "string",
            "description": "The maturity date of the loan in ISO 8601 format.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema defines the structure of the request body for creating a syndicated loan operation.",
        "example": {
          "corporateCustomerId": "CUST-117143",
          "facilityId": "STANDARD",
          "counterpartyId": "PARTY-633682",
          "amount": {
            "value": 100.0,
            "currency": "USD"
          },
          "maturityDate": "2026-09-15",
          "requestContext": {
            "requestId": "a49026bb-9d97-5b84-8238-e2e0e1006b03",
            "correlationId": "a3c1b62f-9af1-5b1f-8f71-e04f4bd5efb6",
            "idempotencyKey": "68b90045-8ac6-5f00-a25d-8e474005cbea",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-938042"
            }
          }
        }
      },
      "LoanAmount": {
        "title": "Loan Amount",
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The numerical value of the loan amount.",
            "example": 1000000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the loan amount is denominated.",
            "example": "USD"
          }
        },
        "description": "This schema represents the amount associated with the loan, including its value and currency."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple related requests.",
            "example": "CORR-654321"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that requests are idempotent.",
            "example": "IDEMP-987654"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made, in ISO 8601 format.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "SystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "AppB"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema provides contextual information about the request being made."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "CH-123456"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile, API, etc.).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device used to make the request.",
            "example": "DEV-789012"
          }
        },
        "description": "This schema represents information about the channel through which the request was made."
      },
      "CreateSyndicatedLoanResponse_201": {
        "type": "object",
        "properties": {
          "corporateCustomerId": {
            "type": "string",
            "description": "Unique identifier for the corporate customer.",
            "example": "CUST-825490"
          },
          "facilityId": {
            "type": "string",
            "description": "Unique identifier for the loan facility.",
            "example": "STANDARD"
          },
          "counterpartyId": {
            "type": "string",
            "description": "Unique identifier for the counterparty involved in the loan.",
            "example": "PARTY-475644"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource associated with this operation.",
            "example": "RES-288644"
          },
          "status": {
            "type": "string",
            "description": "Current status of the loan operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "RES45678"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier used for correlation between different components of the system.",
                "example": "CORR67890"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp indicating when the response was generated.",
                "example": "2023-10-12T12:34:57Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region where the processing of the loan operation took place.",
                "example": "US-West"
              }
            },
            "description": "Additional metadata regarding the loan operation.",
            "example": {
              "responseId": "ded353b3-3bd8-56d7-84e7-3a63fafdf571",
              "correlationId": "a3c1b62f-9af1-5b1f-8f71-e04f4bd5efb6",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for creating a syndicated loan operation in trade banking.",
        "example": {
          "corporateCustomerId": "CUST-825490",
          "facilityId": "STANDARD",
          "counterpartyId": "PARTY-475644",
          "resourceId": "RES-288644",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "ded353b3-3bd8-56d7-84e7-3a63fafdf571",
            "correlationId": "a3c1b62f-9af1-5b1f-8f71-e04f4bd5efb6",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-069"
        },
        "example": "WF-069"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "72fbd595-9381-440b-9286-07801e936ba3"
        },
        "example": "72fbd595-9381-440b-9286-07801e936ba3"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "2cceffda-09c1-4bec-b7b2-e21d0f2374bd"
        },
        "example": "2cceffda-09c1-4bec-b7b2-e21d0f2374bd"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "syndicated-loan-create-syndicated-loan"
        },
        "example": "syndicated-loan-create-syndicated-loan"
      },
      "X-Runtime-App": {
        "description": "The name of the application runtime that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      },
      "X-Workflow-Id": {
        "description": "An identifier for the specific workflow that handled the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-069"
        },
        "example": "WF-069"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Correspondent Banking Relationship Setup"
        },
        "example": "Correspondent Banking Relationship Setup"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "2cceffda-09c1-4bec-b7b2-e21d0f2374bd"
        },
        "example": "2cceffda-09c1-4bec-b7b2-e21d0f2374bd"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses bearer authentication using JSON Web Tokens (JWT). Clients must include the JWT in the Authorization header when making requests to protected endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}