{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Aisp Balances-spec",
    "description": "The AISP Balance Retrieval API allows consumers to access and retrieve account balance information from multiple financial institutions. This endpoint serves as a critical resource for applications focusing on financial management, enabling users to monitor their financial positions in real time. Typical consumers include personal finance apps and aggregators that provide insights into a user's account status. By utilizing this API, developers can facilitate enhanced financial visibility for their users.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/aisp/balances": {
      "get": {
        "tags": [
          "Account Information"
        ],
        "summary": "Retrieve account balances",
        "description": "Fetches the current balances of accounts associated with the user. This operation allows for a clear view of the financial standings across various accounts.",
        "operationId": "listAispBalances",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving the account balances. This body may contain parameters that dictate which account balances to fetch.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListAispBalancesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of account balances.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAispBalancesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListAispBalancesRequest": {
        "type": "string",
        "description": "A request body representation for the GET operation on balances, in application/json format.",
        "example": "{}"
      },
      "ListAispBalancesResponse_200": {
        "title": "Get Balances Response",
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "Balance": {
                "type": "array",
                "description": "List of account balance objects.",
                "items": {
                  "$ref": "#/components/schemas/Balance"
                }
              },
              "Links": {
                "type": "object",
                "properties": {
                  "Self": {
                    "type": "string",
                    "description": "Self link to the current balance data.",
                    "example": "https://api.example.com/balances"
                  },
                  "First": {
                    "type": "string",
                    "description": "Link to the first page of balance data.",
                    "example": "https://api.example.com/balances?page=1"
                  },
                  "Prev": {
                    "type": "string",
                    "description": "Link to the previous page of balance data.",
                    "example": "https://api.example.com/balances?page=1"
                  },
                  "Next": {
                    "type": "string",
                    "description": "Link to the next page of balance data.",
                    "example": "https://api.example.com/balances?page=3"
                  },
                  "Last": {
                    "type": "string",
                    "description": "Link to the last page of balance data.",
                    "example": "https://api.example.com/balances?page=10"
                  }
                },
                "description": "Pagination links for navigating balance data."
              },
              "Meta": {
                "type": "object",
                "properties": {
                  "TotalPages": {
                    "type": "integer",
                    "description": "Total number of pages available.",
                    "format": "int32",
                    "example": 5
                  },
                  "FirstAvailableDateTime": {
                    "type": "string",
                    "description": "The earliest available balance date.",
                    "example": "2023-01-01T00:00:00Z"
                  },
                  "LastAvailableDateTime": {
                    "type": "string",
                    "description": "The latest available balance date.",
                    "example": "2023-12-31T23:59:59Z"
                  }
                },
                "description": "Metadata about the balance response."
              },
              "metadata": {
                "type": "object",
                "properties": {
                  "responseId": {
                    "type": "string",
                    "description": "Unique identifier for the response.",
                    "example": "abc123"
                  },
                  "correlationId": {
                    "type": "string",
                    "description": "Correlation ID for tracking request across systems.",
                    "example": "xyz789"
                  },
                  "generatedAt": {
                    "type": "string",
                    "description": "Timestamp when the response was generated.",
                    "example": "2023-01-01T00:00:00Z"
                  },
                  "processingRegion": {
                    "type": "string",
                    "description": "Region where the processing took place.",
                    "example": "us-west-1"
                  }
                },
                "description": "Additional metadata for request tracing."
              }
            },
            "description": "Data containing balance information.",
            "example": {
              "Balance": [
                {
                  "AccountId": "ACC-294378",
                  "CreditDebitIndicator": "STANDARD",
                  "Type": "STANDARD",
                  "DateTime": "2026-09-15T14:30:00Z",
                  "Amount": {
                    "Amount": "1250.75",
                    "Currency": "USD",
                    "SubType": "STANDARD"
                  },
                  "CreditLine": [
                    {
                      "Included": true,
                      "Type": "STANDARD",
                      "Amount": {
                        "Amount": "1250.75",
                        "Currency": "USD"
                      }
                    }
                  ],
                  "LocalAmount": {
                    "Amount": "1250.75",
                    "Currency": "USD",
                    "SubType": "STANDARD"
                  }
                }
              ],
              "TotalValue": {
                "Amount": "1250.75",
                "Currency": "USD"
              }
            }
          }
        },
        "description": "Response schema for retrieving account balances from the banking API.",
        "example": {
          "Data": {
            "Balance": [
              {
                "AccountId": "ACC-294378",
                "CreditDebitIndicator": "STANDARD",
                "Type": "STANDARD",
                "DateTime": "2026-09-15T14:30:00Z",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD",
                  "SubType": "STANDARD"
                },
                "CreditLine": [
                  {
                    "Included": true,
                    "Type": "STANDARD",
                    "Amount": {
                      "Amount": "1250.75",
                      "Currency": "USD"
                    }
                  }
                ],
                "LocalAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD",
                  "SubType": "STANDARD"
                }
              }
            ],
            "TotalValue": {
              "Amount": "1250.75",
              "Currency": "USD"
            }
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource",
            "Next": "https://example.com/resource",
            "Last": "https://example.com/resource"
          },
          "Meta": {
            "TotalPages": 1,
            "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
            "LastAvailableDateTime": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "responseId": "9d13c7cd-ec13-5697-8786-97258084f1a2",
            "correlationId": "f5b69b71-4020-5ffc-9f19-e2021b86dbd4",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Balance": {
        "title": "Balance",
        "type": "object",
        "properties": {
          "AccountId": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "account-12345"
          },
          "CreditDebitIndicator": {
            "type": "string",
            "description": "Indicates whether the amount is a credit or debit.",
            "example": "credit"
          },
          "Type": {
            "type": "string",
            "description": "Type of balance (e.g., available, current).",
            "example": "available"
          },
          "DateTime": {
            "type": "string",
            "description": "Date and time of the balance.",
            "example": "2023-01-01T00:00:00Z"
          },
          "Amount": {
            "type": "object",
            "properties": {
              "Amount": {
                "type": "string",
                "description": "The amount of the balance.",
                "example": "1000.00"
              },
              "Currency": {
                "type": "string",
                "description": "Currency of the amount.",
                "example": "USD"
              },
              "SubType": {
                "type": "string",
                "description": "Sub-type of the balance, if applicable.",
                "example": "savings"
              }
            },
            "description": "Object containing balance amount and currency information."
          },
          "CreditLine": {
            "type": "array",
            "description": "List of credit line objects associated with the account.",
            "items": {
              "$ref": "#/components/schemas/CreditLine"
            }
          },
          "LocalAmount": {
            "type": "object",
            "properties": {
              "Amount": {
                "type": "string",
                "description": "Local currency amount.",
                "example": "1000.00"
              },
              "Currency": {
                "type": "string",
                "description": "Local currency type.",
                "example": "USD"
              },
              "SubType": {
                "type": "string",
                "description": "Sub-type of the local balance, if applicable.",
                "example": "savings"
              }
            },
            "description": "Object containing local currency amount and details."
          }
        },
        "description": "Schema representing an account balance."
      },
      "CreditLine": {
        "title": "Credit Line",
        "type": "object",
        "properties": {
          "Included": {
            "type": "boolean",
            "description": "Indicates if this credit line is included in the balance.",
            "example": false
          },
          "Type": {
            "type": "string",
            "description": "Type of the credit line.",
            "example": "personal"
          },
          "Amount": {
            "type": "object",
            "properties": {
              "Amount": {
                "type": "string",
                "description": "Amount of the credit line.",
                "example": "500.00"
              },
              "Currency": {
                "type": "string",
                "description": "Currency of the credit line amount.",
                "example": "USD"
              }
            },
            "description": "Object containing credit line amount and currency."
          }
        },
        "description": "Schema representing a credit line associated with an account."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the specific endpoint being called. This helps in tracking the request within the service.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-api-get-balances"
        },
        "example": "accounts-api-get-balances"
      },
      "X-Runtime-App": {
        "description": "The name of the application that initiated the request. Useful for logging and analytics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer Authentication scheme. Clients must include a valid JSON Web Token (JWT) in the Authorization header of their requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}