{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Customer Management Customer Propositions-spec",
    "description": "The Customer Propositions Retrieval API enables users to access a detailed list of customer management propositions. This endpoint is vital for businesses looking to enhance their customer engagement strategies by retrieving relevant offerings tailored to their clients. It is often utilized by customer relationship teams and marketing professionals who need insights into available propositions for targeted campaigns. By leveraging this API, organizations can ensure they are delivering personalized experiences aligned with customer needs.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customer-management/customer-proposition": {
      "get": {
        "tags": [],
        "summary": "Retrieve customer propositions",
        "description": "Fetches the available propositions for customers, providing insights into options that enhance customer engagement and satisfaction.",
        "operationId": "listCustomerManagementCustomerPropositions",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving customer propositions. This request body is expected to conform to the specified schema, which outlines the parameters and structure needed for the GET operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListCustomerManagementCustomerPropositionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of customer propositions.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCustomerManagementCustomerPropositionsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListCustomerManagementCustomerPropositionsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the customer proposition operations in the customer management system.",
        "example": "{}"
      },
      "ListCustomerManagementCustomerPropositionsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of customer propositions.",
            "example": [
              {
                "customerId": "CUST-660235",
                "partyId": "PARTY-862532",
                "productCode": "CHK-PREMIUM-US",
                "effectiveDate": "2026-09-15",
                "relationshipTier": "GOLD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CustomerProposition"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the list of customer propositions.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving customer propositions.",
        "example": {
          "items": [
            {
              "customerId": "CUST-660235",
              "partyId": "PARTY-862532",
              "productCode": "CHK-PREMIUM-US",
              "effectiveDate": "2026-09-15",
              "relationshipTier": "GOLD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "a0a10fa1-0c66-5d38-aef9-a4ffb4ae5ad9",
            "correlationId": "78309462-8a56-5b37-ad24-f1b4dc546f8e",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CustomerProposition": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer."
          },
          "partyId": {
            "type": "string",
            "description": "Unique identifier for the party associated with the customer."
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product associated with the customer proposition."
          },
          "effectiveDate": {
            "type": "string",
            "description": "Date when the proposition becomes effective."
          },
          "relationshipTier": {
            "type": "string",
            "description": "Tier level of the customer's relationship."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the record was last updated."
          }
        },
        "description": "Schema representing an individual customer proposition."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Schema representing pagination information for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking request-response correlation."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed."
          }
        },
        "description": "Schema containing metadata information for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-proposition-search-customer-proposition"
        },
        "example": "customer-proposition-search-customer-proposition"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method using a Bearer token, specifically JWT (JSON Web Token), which should be included in the `Authorization` header of requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}