{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Treasury Bank Portfolio Analysis-spec",
    "description": "The Treasury Bank Portfolio Analysis API provides insights into the treasury bank's financial portfolio, enabling users to analyze various aspects of their investments and treasury operations. This endpoint allows consumers, such as financial analysts and portfolio managers, to access detailed reports and analytics related to bank portfolios. Typical use cases include performance evaluation, risk assessment, and strategic decision-making based on the analysis of bank-held assets. By leveraging this API, organizations can enhance their financial strategies and improve reporting accuracy.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/treasury/bank-portfolio-analysis": {
      "get": {
        "tags": [
          "Treasury Management"
        ],
        "summary": "Retrieve Bank Portfolio Analysis",
        "description": "Fetches the comprehensive analysis of the bank's portfolio within the treasury context, providing key insights and metrics critical for financial decision-making.",
        "operationId": "listTreasuryBankPortfolioAnalysis",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "A request body that encapsulates the necessary parameters for retrieving bank portfolio analysis data. The analysis will provide insights into the bank's operational metrics, financial performance, and risk assessment based on the provided criteria.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListTreasuryBankPortfolioAnalysisRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved bank portfolio analysis data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListTreasuryBankPortfolioAnalysisResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListTreasuryBankPortfolioAnalysisRequest": {
        "type": "string",
        "description": "This schema represents the request body content expected for the GET operation of the bank portfolio analysis API endpoint.",
        "example": "{}"
      },
      "ListTreasuryBankPortfolioAnalysisResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of portfolio analysis items.",
            "example": [
              {
                "portfolioId": "PORT-855701",
                "instrumentId": "STANDARD",
                "counterpartyId": "PARTY-356590",
                "notionalAmount": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "maturityDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/PortfolioAnalysisItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting criteria used for the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the bank portfolio analysis GET operation.",
        "example": {
          "items": [
            {
              "portfolioId": "PORT-855701",
              "instrumentId": "STANDARD",
              "counterpartyId": "PARTY-356590",
              "notionalAmount": {
                "amount": 100.0,
                "currency": "USD"
              },
              "maturityDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "65573188-f9d8-5f24-b280-929d6ba540ab",
            "correlationId": "d16de23c-e228-5950-826b-1de1a99781ea",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PortfolioAnalysisItem": {
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "Unique identifier for the portfolio.",
            "example": "string"
          },
          "instrumentId": {
            "type": "string",
            "description": "Unique identifier for the financial instrument.",
            "example": "string"
          },
          "counterpartyId": {
            "type": "string",
            "description": "Unique identifier for the counterparty involved in the transaction.",
            "example": "string"
          },
          "notionalAmount": {
            "$ref": "#/components/schemas/NotionalAmount"
          },
          "maturityDate": {
            "type": "string",
            "description": "The date when the instrument matures.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "The last time the record was updated.",
            "example": "string"
          }
        },
        "description": "Details of a single portfolio analysis item."
      },
      "NotionalAmount": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The numerical value of the notional amount.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the notional amount is denominated.",
            "example": "string"
          }
        },
        "description": "The notional amount associated with the portfolio item."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available for pagination.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Pagination metadata for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating related requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Metadata information for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint being invoked, which helps in tracing requests and responses.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "bank-portfolio-analysis-search-bank-portfolio-analysis"
        },
        "example": "bank-portfolio-analysis-search-bank-portfolio-analysis"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request, indicating the source of the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes a Bearer token format for authentication. Users are required to include a valid JSON Web Token (JWT) in the Authorization header of their requests to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}