{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Replace Customer Management Party Reference Data Directory-spec",
    "description": "The Customer Management Party Reference Data Update API enables businesses to maintain and enhance their customer management systems by updating party reference data. This endpoint allows for comprehensive updates to existing records, ensuring data accuracy and relevance. Typical use cases include data synchronization from external sources or bulk updates following regulatory changes. Ideal for developers working within banking and financial services, this API streamlines data management processes and supports critical business operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customer-management/party-reference-data-directory": {
      "put": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Update Party Reference Data Directory",
        "description": "This endpoint allows clients to update the entries within the Party Reference Data Directory, ensuring that all information is current and reflects the necessary changes.",
        "operationId": "replaceCustomerManagementPartyReferenceDataDirectory",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body contains the necessary information to update the party reference data directory. Ensure that all required fields are provided and formatted correctly before submission.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceCustomerManagementPartyReferenceDataDirectoryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, the resource was updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceCustomerManagementPartyReferenceDataDirectoryResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ReplaceCustomerManagementPartyReferenceDataDirectoryRequest": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "A unique identifier for the customer.",
            "example": "CUST-254819"
          },
          "partyId": {
            "type": "string",
            "description": "A unique identifier for the party.",
            "example": "PARTY-512819"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the product associated with the customer.",
            "example": "CHK-PREMIUM-US"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date from which the information is effective.",
            "example": "2026-09-15"
          },
          "relationshipTier": {
            "type": "string",
            "description": "The tier of the relationship with the customer.",
            "example": "GOLD"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for updating customer management party reference data.",
        "example": {
          "customerId": "CUST-254819",
          "partyId": "PARTY-512819",
          "productCode": "CHK-PREMIUM-US",
          "effectiveDate": "2026-09-15",
          "relationshipTier": "GOLD",
          "requestContext": {
            "requestId": "27f10b8d-4dc5-57fc-b187-c9bb373d599c",
            "correlationId": "86446519-0ec9-5b1f-aaa9-abd566a42bb8",
            "idempotencyKey": "d240936a-e756-5994-9390-dc0675d26c5b",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-160200"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-123"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate requests with responses.",
            "example": "corr-456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure that the request is idempotent.",
            "example": "idemp-789"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp at which the request was made.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that initiated the request.",
            "example": "CustomerManagementSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "WebApp"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information regarding the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "A unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., Web, Mobile, etc.).",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "An identifier for the device used to make the request.",
            "example": "device-abc"
          }
        },
        "description": "Information about the channel through which the request was made."
      },
      "ReplaceCustomerManagementPartyReferenceDataDirectoryResponse_200": {
        "title": "Customer Management Party Reference Data Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-999452"
          },
          "partyId": {
            "type": "string",
            "description": "The unique identifier for the party.",
            "example": "PARTY-532676"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the product associated with the party.",
            "example": "CHK-PREMIUM-US"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the data.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The current status of the party reference data.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for the Customer Management Party Reference Data operations.",
        "example": {
          "customerId": "CUST-999452",
          "partyId": "PARTY-532676",
          "productCode": "CHK-PREMIUM-US",
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "7ac783c1-5a69-5a97-a728-741034a55fe8",
            "correlationId": "86446519-0ec9-5b1f-aaa9-abd566a42bb8",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "RESP123"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used for correlating requests and responses.",
            "example": "CORR123"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp of when the metadata was generated.",
            "example": "2023-10-15T09:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request took place.",
            "example": "us-west-1"
          }
        },
        "description": "This schema represents additional metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request. This helps in tracking and logging the specific endpoint used.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "party-reference-data-directory-upsert-party-reference-data-directory"
        },
        "example": "party-reference-data-directory-upsert-party-reference-data-directory"
      },
      "X-Runtime-App": {
        "description": "The name of the runtime application that handled the request. This is useful for monitoring and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication using a bearer token, specifically a JSON Web Token (JWT). This method involves sending the token in the Authorization header of each request, allowing for secure access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}