{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Manage Refunds API",
    "description": "The Manage Refunds API enables businesses to efficiently handle refund requests for transactions. Utilizing this endpoint, authorized users can update the status or details of specific refunds using a unique refund identifier. Typical consumers include customer support teams and finance departments aiming to ensure customer satisfaction and accurate financial reporting. This API streamlines the refund processing workflow, facilitating improved service quality and operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/refunds/{refundId}": {
      "put": {
        "tags": [
          "Refund Management"
        ],
        "summary": "Update a refund request by its ID.",
        "description": "This endpoint allows you to update the details of a specific refund request identified by its unique ID. You can modify fields such as the refund amount, reason for the refund, and status. Make sure to provide the necessary data in the request body to successfully process the update.",
        "operationId": "updateRefundById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/refundId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a refund operation for a specified refund ID. It must contain the relevant details needed to process the refund, including any necessary identifiers and financial information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRefundByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, refund processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateRefundByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateRefundByIdRequest": {
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment to be refunded.",
            "example": "PAY-717521"
          },
          "amount": {
            "description": "Details of the amount to be refunded.",
            "$ref": "#/components/schemas/Amount"
          },
          "reasonCode": {
            "type": "string",
            "description": "Code indicating the reason for the refund.",
            "example": "CODE-121"
          },
          "reason": {
            "type": "string",
            "description": "Narrative description of the reason for the refund.",
            "example": "STANDARD"
          },
          "merchantRefundReference": {
            "type": "string",
            "description": "Reference provided by the merchant for the refund.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for processing refund requests.",
        "example": {
          "paymentId": "PAY-717521",
          "amount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "reasonCode": "CODE-121",
          "reason": "STANDARD",
          "merchantRefundReference": "STANDARD",
          "requestContext": {
            "requestId": "50efa904-5d43-5efd-ad0a-1e5b12081fe0",
            "correlationId": "9594a574-6620-5013-a722-9d91471b4dff",
            "idempotencyKey": "d647f996-c8d0-5b87-a1a3-7baf906d5339",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-629161"
            }
          }
        }
      },
      "Amount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency code representing the currency of the amount.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "The actual value of the transaction amount.",
            "example": "100.00"
          }
        },
        "description": "Details of the monetary amount involved in the transaction."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests.",
            "example": "corr-001"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is idempotent.",
            "example": "idempotency-key-123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2021-09-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "PaymentGateway"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application that initiated the request.",
            "example": "MobileApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Holds contextual information about the refund request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel used for the request.",
            "example": "WEB"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device from which the request originated.",
            "example": "device-001"
          }
        },
        "description": "Represents the channel details for the request."
      },
      "UpdateRefundByIdResponse_200": {
        "type": "object",
        "properties": {
          "refundId": {
            "type": "string",
            "description": "Unique identifier for the refund.",
            "example": "STANDARD"
          },
          "paymentId": {
            "type": "string",
            "description": "Identifier for the original payment associated with the refund.",
            "example": "PAY-481731"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant processing the refund.",
            "example": "MER-545624"
          },
          "amount": {
            "description": "Details of the refund amount.",
            "$ref": "#/components/schemas/Amount"
          },
          "reasonCode": {
            "type": "string",
            "description": "Code indicating the reason for the refund.",
            "example": "CODE-479"
          },
          "reason": {
            "type": "string",
            "description": "Description of the reason for the refund.",
            "example": "STANDARD"
          },
          "merchantRefundReference": {
            "type": "string",
            "description": "Optional reference provided by the merchant for the refund.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the refund.",
            "example": "ACTIVE"
          },
          "failure": {
            "description": "Details regarding any failure that occurred during the refund process.",
            "$ref": "#/components/schemas/Failure"
          },
          "processorReference": {
            "description": "Information from the payment processor related to the refund.",
            "$ref": "#/components/schemas/ProcessorReference"
          },
          "audit": {
            "description": "Audit information related to the refund transaction.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Additional metadata related to the refund response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for refund operations providing details of the refund process.",
        "example": {
          "refundId": "STANDARD",
          "paymentId": "PAY-481731",
          "merchantId": "MER-545624",
          "amount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "reasonCode": "CODE-479",
          "reason": "STANDARD",
          "merchantRefundReference": "STANDARD",
          "status": "ACTIVE",
          "failure": {
            "category": "STANDARD",
            "code": "SUCCESS",
            "message": "STANDARD",
            "declineCode": "CODE-308",
            "retryable": true
          },
          "processorReference": {
            "network": "STANDARD",
            "schemeTransactionId": "TXN-101263",
            "acquirerReferenceNumber": "STANDARD",
            "issuerReference": "STANDARD",
            "retrievalReferenceNumber": "STANDARD",
            "approvalCode": "CODE-431"
          },
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "36527dc5-7e9a-5ba5-8ca1-2d8165499129",
            "correlationId": "9594a574-6620-5013-a722-9d91471b4dff",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Failure": {
        "type": "object",
        "properties": {
          "category": {
            "type": "string",
            "description": "Category of the failure.",
            "example": "TRANSACTION_ERROR"
          },
          "code": {
            "type": "string",
            "description": "Specific code representing the failure.",
            "example": "ERR001"
          },
          "message": {
            "type": "string",
            "description": "Message describing the failure.",
            "example": "Insufficient funds."
          },
          "declineCode": {
            "type": "string",
            "description": "Decline code provided by the payment processor, if applicable.",
            "example": "DECLINE002"
          },
          "retryable": {
            "type": "boolean",
            "description": "Indicates whether the operation can be retried.",
            "example": false
          }
        },
        "description": "Information about any failures that occurred during the refund operation."
      },
      "ProcessorReference": {
        "type": "object",
        "properties": {
          "network": {
            "type": "string",
            "description": "Payment network associated with the transaction.",
            "example": "Visa"
          },
          "schemeTransactionId": {
            "type": "string",
            "description": "Transaction ID provided by the payment scheme.",
            "example": "123456789"
          },
          "acquirerReferenceNumber": {
            "type": "string",
            "description": "Reference number provided by the acquirer.",
            "example": "987654321"
          },
          "issuerReference": {
            "type": "string",
            "description": "Reference information from the issuer bank.",
            "example": "ABC123"
          },
          "retrievalReferenceNumber": {
            "type": "string",
            "description": "Reference number for the retrieval of transaction details.",
            "example": "RETRIEVE001"
          },
          "approvalCode": {
            "type": "string",
            "description": "Approval code received from the payment processor for the transaction.",
            "example": "APPROVED"
          }
        },
        "description": "Information from the payment processor related to the refund operation."
      },
      "Audit": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the refund operation was created.",
            "example": "2023-10-10T12:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the refund.",
            "example": "user_123"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the refund operation was last updated.",
            "example": "2023-10-10T12:30:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the refund.",
            "example": "user_456"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the refund operation for tracking changes.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Audit information for tracking the refund operation."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response associated with the refund.",
            "example": "resp_123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests across different systems.",
            "example": "corr_456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-10T12:45:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geolocation of the processing region for the refund.",
            "example": "US-East"
          }
        },
        "description": "Additional metadata related to the refund response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "refundId": {
        "name": "refundId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed in the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-replace-refund"
        },
        "example": "banking-p2m-openapi-replace-refund"
      },
      "X-Runtime-App": {
        "description": "The identifier for the runtime application handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses JSON Web Tokens (JWT) for secure access to protected resources. Clients must include a valid bearer token in the Authorization header of requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}