{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Card Purchase Authorization-spec",
    "description": "The Card Purchase Authorization API enables businesses to initiate and manage purchase authorizations for specific card transactions. By interfacing with this API, developers can seamlessly request authorization for purchases linked to a card identified by its unique card ID. This capability is essential for financial institutions and payment processors looking to enhance transaction security and streamline payment operations. Typical consumers of this API include banking applications and e-commerce platforms that require real-time card transaction validations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cards/{cardId}/purchase-authorizations": {
      "post": {
        "tags": [
          "Card Operations"
        ],
        "summary": "Create a purchase authorization for a specified card.",
        "description": "This endpoint allows you to initiate a purchase authorization for a specific card identified by its unique ID. It prepares the card for a transaction by reserving an amount of funds. Ensure that all necessary parameters are provided to successfully complete the authorization process.",
        "operationId": "createCardPurchaseAuthorization",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/cardId"
          }
        ],
        "requestBody": {
          "description": "Request body for initiating purchase authorizations on a specific card. This body contains the necessary details for completing the purchase authorization process.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCardPurchaseAuthorizationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The purchase authorization was processed successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCardPurchaseAuthorizationResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCardPurchaseAuthorizationRequest": {
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "The unique identifier for the merchant.",
            "example": "MER-394544"
          },
          "outletId": {
            "type": "string",
            "description": "The unique identifier for the outlet.",
            "example": "STANDARD"
          },
          "terminalId": {
            "type": "string",
            "description": "The unique identifier for the terminal.",
            "example": "STANDARD"
          },
          "customerToken": {
            "type": "string",
            "description": "A token representing the customer for authentication purposes.",
            "example": "STANDARD"
          },
          "amount": {
            "description": "The total amount to be processed for the purchase.",
            "$ref": "#/components/schemas/Amount"
          },
          "tipAmount": {
            "description": "The amount of tip to be added to the purchase.",
            "$ref": "#/components/schemas/Amount"
          },
          "order": {
            "description": "Details about the order being processed.",
            "$ref": "#/components/schemas/Order"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "example": {
          "merchantId": "MER-394544",
          "outletId": "STANDARD",
          "terminalId": "STANDARD",
          "customerToken": "STANDARD",
          "amount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "tipAmount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "order": {
            "merchantOrderId": "ORD-450037",
            "description": "Customer banking request processed successfully",
            "items": [
              {
                "itemId": "STANDARD",
                "name": "Northstar Banking Service",
                "description": "Customer banking request processed successfully",
                "quantity": "STANDARD",
                "unitPrice": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "totalAmount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "taxAmount": {
                  "currency": "USD",
                  "value": "STANDARD"
                }
              }
            ]
          },
          "requestContext": {
            "requestId": "43d9f3f5-a111-5770-ad63-78409620d541",
            "correlationId": "0df97048-5e54-58c8-8998-c86b179b31d2",
            "idempotencyKey": "2a66ecce-5077-5682-8461-5444c496df80",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-390927"
            }
          }
        }
      },
      "Amount": {
        "title": "Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency code for the amount (e.g., USD, EUR).",
            "example": "string"
          },
          "value": {
            "type": "string",
            "description": "The monetary value.",
            "example": "string"
          }
        },
        "description": "This schema represents an amount in a specified currency."
      },
      "Order": {
        "type": "object",
        "properties": {
          "merchantOrderId": {
            "type": "string",
            "description": "The unique identifier for the merchant's order.",
            "example": "order_123"
          },
          "description": {
            "type": "string",
            "description": "A description of the order.",
            "example": "Order containing electronic items."
          },
          "items": {
            "type": "array",
            "description": "List of items included in the order.",
            "items": {
              "$ref": "#/components/schemas/OrderItem"
            }
          }
        },
        "description": "Contains information about the order."
      },
      "OrderItem": {
        "type": "object",
        "properties": {
          "itemId": {
            "type": "string",
            "description": "The unique identifier for the item.",
            "example": "item_456"
          },
          "name": {
            "type": "string",
            "description": "The name of the item.",
            "example": "Laptop"
          },
          "description": {
            "type": "string",
            "description": "A detailed description of the item.",
            "example": "A high-performance laptop."
          },
          "quantity": {
            "type": "string",
            "description": "The quantity of the item ordered.",
            "example": "2"
          },
          "unitPrice": {
            "description": "The price per unit of the item.",
            "$ref": "#/components/schemas/Amount"
          },
          "totalAmount": {
            "description": "The total amount for the item, calculated as unit price times quantity.",
            "$ref": "#/components/schemas/Amount"
          },
          "taxAmount": {
            "description": "The tax amount applicable to the item.",
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "Detailed information about a single item in an order."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req_789"
          },
          "correlationId": {
            "type": "string",
            "description": "A correlation identifier for tracking requests across systems.",
            "example": "corr_456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure that the request is idempotent.",
            "example": "idempotency_123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "MobileApp"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application through which the request was made.",
            "example": "PaymentGateway"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information about the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel_001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used to make the request.",
            "example": "Mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used.",
            "example": "device_123"
          }
        },
        "description": "Information related to the channel of the request."
      },
      "CreateCardPurchaseAuthorizationResponse_200": {
        "title": "Purchase Authorization Response",
        "type": "object",
        "properties": {
          "payment": {
            "$ref": "#/components/schemas/PaymentDetails"
          },
          "metadata": {
            "$ref": "#/components/schemas/MetadataDetails"
          }
        },
        "description": "This schema represents the response structure for purchase authorization operations.",
        "example": {
          "payment": {
            "id": "STANDARD",
            "intentId": "STANDARD",
            "qrPaymentRequestId": "e9fed0f7-461b-53b8-84b6-d4de6e3b9b09",
            "merchantId": "MER-654356",
            "outletId": "STANDARD",
            "terminalId": "STANDARD",
            "merchantOrderId": "ORD-318374",
            "channel": "STANDARD",
            "method": {
              "type": "STANDARD",
              "token": "STANDARD",
              "issuerBankCode": "CODE-281",
              "maskedIdentifier": "STANDARD",
              "walletProvider": "STANDARD"
            },
            "customer": {
              "id": "STANDARD",
              "name": "Northstar Banking Service",
              "email": "olivia.bennett@northstar.example",
              "phone": "+1-212-555-0147",
              "riskSegment": "STANDARD"
            },
            "amounts": {
              "requested": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "authorized": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "captured": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "refunded": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "reversed": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "tip": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "fees": [
                {
                  "feeType": "STANDARD",
                  "amount": {
                    "currency": "USD",
                    "value": "STANDARD"
                  },
                  "bearer": "CUSTOMER"
                }
              ],
              "netToMerchant": {
                "currency": "USD"
              }
            }
          },
          "metadata": {
            "responseId": "3e8f3499-f836-54eb-9e16-b2ba84472e80",
            "correlationId": "0df97048-5e54-58c8-8998-c86b179b31d2",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentDetails": {
        "title": "Payment Details",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for the payment.",
            "example": "string"
          },
          "intentId": {
            "type": "string",
            "description": "The identifier for the payment intent.",
            "example": "string"
          },
          "qrPaymentRequestId": {
            "type": "string",
            "description": "The identifier for the QR payment request.",
            "example": "string"
          },
          "merchantId": {
            "type": "string",
            "description": "The unique identifier for the merchant.",
            "example": "string"
          },
          "outletId": {
            "type": "string",
            "description": "The unique identifier for the outlet.",
            "example": "string"
          },
          "terminalId": {
            "type": "string",
            "description": "The unique identifier for the terminal.",
            "example": "string"
          },
          "merchantOrderId": {
            "type": "string",
            "description": "The unique identifier for the merchant's order.",
            "example": "string"
          },
          "channel": {
            "type": "string",
            "description": "The channel through which the payment was processed.",
            "example": "string"
          },
          "method": {
            "$ref": "#/components/schemas/PaymentMethod"
          },
          "customer": {
            "$ref": "#/components/schemas/CustomerDetails"
          },
          "amounts": {
            "$ref": "#/components/schemas/AmountDetails"
          }
        },
        "description": "This schema includes detailed information regarding the payment transaction."
      },
      "PaymentMethod": {
        "title": "Payment Method",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "The type of payment method (e.g., credit card, wallet, etc.).",
            "example": "string"
          },
          "token": {
            "type": "string",
            "description": "The token associated with the payment method.",
            "example": "string"
          },
          "issuerBankCode": {
            "type": "string",
            "description": "The bank code of the issuer for the payment method.",
            "example": "string"
          },
          "maskedIdentifier": {
            "type": "string",
            "description": "The masked identifier (e.g., card number) for security purposes.",
            "example": "string"
          },
          "walletProvider": {
            "type": "string",
            "description": "The wallet provider for the payment method, if applicable.",
            "example": "string"
          }
        },
        "description": "This schema provides details about the payment method used."
      },
      "CustomerDetails": {
        "title": "Customer Details",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "string"
          },
          "name": {
            "type": "string",
            "description": "The name of the customer.",
            "example": "string"
          },
          "email": {
            "type": "string",
            "description": "The email address of the customer.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "The contact phone number of the customer.",
            "example": "string"
          },
          "riskSegment": {
            "type": "string",
            "description": "The risk segment associated with the customer.",
            "example": "string"
          }
        },
        "description": "This schema holds the information about the customer involved in the payment."
      },
      "AmountDetails": {
        "title": "Amount Details",
        "type": "object",
        "properties": {
          "requested": {
            "$ref": "#/components/schemas/Amount"
          },
          "authorized": {
            "$ref": "#/components/schemas/Amount"
          },
          "captured": {
            "$ref": "#/components/schemas/Amount"
          },
          "refunded": {
            "$ref": "#/components/schemas/Amount"
          },
          "reversed": {
            "$ref": "#/components/schemas/Amount"
          },
          "tip": {
            "$ref": "#/components/schemas/Amount"
          },
          "fees": {
            "type": "array",
            "description": "A list of fees associated with the transaction.",
            "items": {
              "$ref": "#/components/schemas/FeeDetails"
            }
          },
          "netToMerchant": {
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "This schema includes various amounts associated with the payment transaction."
      },
      "FeeDetails": {
        "title": "Fee Details",
        "type": "object",
        "properties": {
          "feeType": {
            "type": "string",
            "description": "The type of fee (e.g., transaction fee, service fee).",
            "example": "string"
          },
          "amount": {
            "$ref": "#/components/schemas/Amount"
          },
          "bearer": {
            "type": "string",
            "description": "Specifies who bears the fee (e.g., customer, merchant).",
            "example": "string"
          }
        },
        "description": "This schema contains information about a fee related to the payment transaction."
      },
      "MetadataDetails": {
        "title": "Metadata Details",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking purposes.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "This schema captures metadata information related to the payment transaction."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "cardId": {
        "name": "cardId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-process-customer-presented-payment"
        },
        "example": "banking-p2m-openapi-process-customer-presented-payment"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      },
      "X-Workflow-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-025"
        },
        "example": "WF-025"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow associated with the current transaction.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Card Purchase Authorization and Clearing"
        },
        "example": "Card Purchase Authorization and Clearing"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow execution, indicating its progress or completion status.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for this workflow execution, which can be used for tracking and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "da8451e6-5d73-4708-846c-e3a1bde2ca49"
        },
        "example": "da8451e6-5d73-4708-846c-e3a1bde2ca49"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Token for authentication. Clients must provide a valid JSON Web Token (JWT) in the Authorization header to access secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}