{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Payment Intent Confirm-spec",
    "description": "The Payment Intent Confirmation API facilitates the confirmation of payment intents within a microservice architecture. This endpoint enables businesses to securely finalize payment transactions, ensuring that customers receive seamless service during the payment process. Typical consumers of this API include e-commerce platforms, financial service applications, and mobile payment solutions. By utilizing this operation, developers can integrate robust payment confirmation workflows into their applications, enhancing user experience and transaction reliability.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/payment-intents/{param1}/confirm": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Confirm a Payment Intent.",
        "description": "This endpoint allows you to confirm a specific payment intent by its identifier. Once confirmed, the payment intent will proceed to the next step in the payment process.",
        "operationId": "createPaymentIntentConfirm",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for confirming a payment intent with the ID PAY-300045. This body includes the necessary parameters to complete the confirmation process.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePaymentIntentConfirmRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Confirmation successful, payment intent processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePaymentIntentConfirmResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreatePaymentIntentConfirmRequest": {
        "title": "Payment Intent Confirmation Request",
        "type": "object",
        "properties": {
          "paymentMethod": {
            "description": "Details of the payment method used for the transaction.",
            "$ref": "#/components/schemas/PaymentMethod"
          },
          "customerConsentId": {
            "type": "string",
            "description": "Unique identifier for the customer consent associated with the payment.",
            "example": "STANDARD"
          },
          "deviceContext": {
            "description": "Information about the device used during the transaction.",
            "$ref": "#/components/schemas/DeviceContext"
          },
          "riskContext": {
            "description": "Contextual risk assessment details for the payment.",
            "$ref": "#/components/schemas/RiskContext"
          },
          "requestContext": {
            "description": "Contextual information related to the payment request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for confirming a payment intent with necessary transaction details.",
        "example": {
          "paymentMethod": {
            "type": "STANDARD",
            "token": "STANDARD",
            "issuerBankCode": "CODE-949",
            "maskedIdentifier": "STANDARD",
            "walletProvider": "STANDARD"
          },
          "customerConsentId": "STANDARD",
          "deviceContext": {
            "deviceId": "DEV-932712",
            "ipAddress": "STANDARD",
            "userAgent": "STANDARD",
            "geolocation": {
              "latitude": 100.0,
              "longitude": 100.0,
              "accuracyMeters": 100.0
            },
            "appVersion": "STANDARD",
            "os": "STANDARD"
          },
          "riskContext": {
            "sessionId": "SES-402090",
            "customerAccountAgeDays": 1,
            "isNewPayee": true,
            "priorSuccessfulPayments": 1
          },
          "requestContext": {
            "requestId": "d9b6d4f8-7b37-59ab-8220-d5e475226a40",
            "correlationId": "106ca546-dbaf-5a5a-8ae4-27b8c037cc45",
            "idempotencyKey": "36431e03-4aaf-571d-ad95-8a2feb87e370",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-461073"
            }
          }
        }
      },
      "PaymentMethod": {
        "title": "Payment Method",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "The type of payment method being used.",
            "example": "string"
          },
          "token": {
            "type": "string",
            "description": "Token representing the payment source.",
            "example": "string"
          },
          "issuerBankCode": {
            "type": "string",
            "description": "Identifier for the bank that issued the payment method.",
            "example": "string"
          },
          "maskedIdentifier": {
            "type": "string",
            "description": "Masked identifier of the payment method for security.",
            "example": "string"
          },
          "walletProvider": {
            "type": "string",
            "description": "The provider of the digital wallet, if applicable.",
            "example": "string"
          }
        },
        "description": "Schema representing the payment method details."
      },
      "DeviceContext": {
        "title": "Device Context",
        "type": "object",
        "properties": {
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device.",
            "example": "string"
          },
          "ipAddress": {
            "type": "string",
            "description": "IP address of the device.",
            "example": "string"
          },
          "userAgent": {
            "type": "string",
            "description": "User agent string of the browser or application.",
            "example": "string"
          },
          "geolocation": {
            "description": "Geolocation details of the device during the transaction.",
            "$ref": "#/components/schemas/Geolocation"
          },
          "appVersion": {
            "type": "string",
            "description": "Version of the application being used, if applicable.",
            "example": "string"
          },
          "os": {
            "type": "string",
            "description": "Operating system of the device.",
            "example": "string"
          }
        },
        "description": "Schema representing the context of the device used for the payment."
      },
      "Geolocation": {
        "title": "Geolocation",
        "type": "object",
        "properties": {
          "latitude": {
            "type": "number",
            "description": "The latitude coordinate.",
            "example": 0.0
          },
          "longitude": {
            "type": "number",
            "description": "The longitude coordinate.",
            "example": 0.0
          },
          "accuracyMeters": {
            "type": "number",
            "description": "Accuracy of the geolocation in meters.",
            "example": 0.0
          }
        },
        "description": "Schema representing the geolocation data of the device."
      },
      "RiskContext": {
        "title": "Risk Context",
        "type": "object",
        "properties": {
          "sessionId": {
            "type": "string",
            "description": "Unique identifier for the session during which the payment is processed.",
            "example": "string"
          },
          "customerAccountAgeDays": {
            "type": "integer",
            "description": "Age of the customer account in days.",
            "format": "int32",
            "example": 0
          },
          "isNewPayee": {
            "type": "boolean",
            "description": "Indicates if the payee is new to the customer.",
            "example": false
          },
          "priorSuccessfulPayments": {
            "type": "integer",
            "description": "Number of prior successful payments made by the customer.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Schema providing context around the risk assessment for the payment."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the payment request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the request is idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Source system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Source application from which the request originated.",
            "example": "string"
          },
          "channel": {
            "description": "Details about the channel through which the payment request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema containing contextual information regarding the payment request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel initiating the payment request.",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device connected to the channel.",
            "example": "string"
          }
        },
        "description": "Schema representing the channel details from which the request originated."
      },
      "CreatePaymentIntentConfirmResponse_200": {
        "type": "object",
        "properties": {
          "paymentIntent": {
            "$ref": "#/components/schemas/PaymentIntent"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for confirming payment intents.",
        "example": {
          "paymentIntent": {
            "id": "STANDARD",
            "merchantId": "MER-909000",
            "outletId": "STANDARD",
            "terminalId": "STANDARD",
            "amount": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "amountAuthorized": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "amountCaptured": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "amountRefunded": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "captureMethod": "STANDARD",
            "channel": "STANDARD",
            "allowedPaymentMethods": [
              "STANDARD"
            ],
            "selectedPaymentMethod": {
              "type": "STANDARD",
              "token": "STANDARD",
              "issuerBankCode": "CODE-844",
              "maskedIdentifier": "STANDARD",
              "walletProvider": "STANDARD"
            },
            "customer": {
              "id": "STANDARD",
              "name": "Northstar Banking Service",
              "email": "olivia.bennett@northstar.example",
              "phone": "+1-212-555-0147",
              "riskSegment": "STANDARD"
            },
            "order": {
              "merchantOrderId": "ORD-240784",
              "description": "Customer banking request processed successfully",
              "items": [
                {
                  "itemId": "STANDARD",
                  "name": "Northstar Banking Service",
                  "description": "Customer banking request processed successfully",
                  "quantity": "STANDARD",
                  "unitPrice": {
                    "currency": "USD",
                    "value": "STANDARD"
                  },
                  "totalAmount": {
                    "currency": "USD",
                    "value": "STANDARD"
                  }
                }
              ]
            }
          },
          "metadata": {
            "responseId": "6363b1a5-82c8-54f6-83a1-a995592543e1",
            "correlationId": "106ca546-dbaf-5a5a-8ae4-27b8c037cc45",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentIntent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the payment intent."
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant processing the payment."
          },
          "outletId": {
            "type": "string",
            "description": "Identifier for the outlet where the payment is processed."
          },
          "terminalId": {
            "type": "string",
            "description": "Identifier for the terminal used for processing the payment."
          },
          "amount": {
            "$ref": "#/components/schemas/Amount"
          },
          "amountAuthorized": {
            "$ref": "#/components/schemas/Amount"
          },
          "amountCaptured": {
            "$ref": "#/components/schemas/Amount"
          },
          "amountRefunded": {
            "$ref": "#/components/schemas/Amount"
          },
          "captureMethod": {
            "type": "string",
            "description": "Method used to capture the payment."
          },
          "channel": {
            "type": "string",
            "description": "Channel through which the payment was made."
          },
          "allowedPaymentMethods": {
            "type": "array",
            "description": "List of payment methods that are allowed for this transaction.",
            "items": {
              "type": "string"
            }
          },
          "selectedPaymentMethod": {
            "$ref": "#/components/schemas/SelectedPaymentMethod"
          },
          "customer": {
            "$ref": "#/components/schemas/Customer"
          },
          "order": {
            "$ref": "#/components/schemas/Order"
          }
        },
        "description": "Details of the payment intent, including financial and transaction data."
      },
      "Amount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency code (e.g., USD, EUR)."
          },
          "value": {
            "type": "string",
            "description": "The amount of money."
          }
        },
        "description": "Represents the amount of money with its currency."
      },
      "SelectedPaymentMethod": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of the payment method (e.g., credit card, bank transfer)."
          },
          "token": {
            "type": "string",
            "description": "Token associated with the payment method."
          },
          "issuerBankCode": {
            "type": "string",
            "description": "Bank code of the issuer bank."
          },
          "maskedIdentifier": {
            "type": "string",
            "description": "Masked identifier of the payment method to protect sensitive information."
          },
          "walletProvider": {
            "type": "string",
            "description": "Provider of the wallet, if applicable."
          }
        },
        "description": "Details of the selected payment method."
      },
      "Customer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the customer."
          },
          "name": {
            "type": "string",
            "description": "Name of the customer."
          },
          "email": {
            "type": "string",
            "description": "Email address of the customer."
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the customer."
          },
          "riskSegment": {
            "type": "string",
            "description": "Risk segment assigned to the customer."
          }
        },
        "description": "Contains customer details involved in the payment."
      },
      "Order": {
        "type": "object",
        "properties": {
          "merchantOrderId": {
            "type": "string",
            "description": "Unique identifier for the merchant's order."
          },
          "description": {
            "type": "string",
            "description": "Description of the order."
          },
          "items": {
            "type": "array",
            "description": "List of items included in the order.",
            "items": {
              "$ref": "#/components/schemas/OrderItem"
            }
          }
        },
        "description": "Details of the order associated with the payment intent."
      },
      "OrderItem": {
        "type": "object",
        "properties": {
          "itemId": {
            "type": "string",
            "description": "Unique identifier for the item."
          },
          "name": {
            "type": "string",
            "description": "Name of the item."
          },
          "description": {
            "type": "string",
            "description": "Description of the item."
          },
          "quantity": {
            "type": "string",
            "description": "Quantity of the item ordered."
          },
          "unitPrice": {
            "$ref": "#/components/schemas/Amount"
          },
          "totalAmount": {
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "Details of an item within an order."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking the request."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the payment processing took place."
          }
        },
        "description": "Metadata related to the payment processing request."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint processing this request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-confirm-payment-intent"
        },
        "example": "banking-p2m-openapi-confirm-payment-intent"
      },
      "X-Runtime-App": {
        "description": "The name of the runtime application which is processing the payment intent.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a bearer token, typically a JSON Web Token (JWT), for secure authorization. Clients must include this token in the HTTP Authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}