{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Card Clearing Transactions API",
    "description": "The Card Clearing Transactions API facilitates the processing of payment clearings involving card transactions. This endpoint allows businesses to submit clearing requests after transactions have been authorized, ensuring timely and accurate settlement. It is designed for financial institutions and payment processors looking to manage their card clearing operations efficiently. By leveraging this API, users can streamline their payment workflows and enhance their reconciliation processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/payments/card-clearing/clearings": {
      "post": {
        "tags": [
          "Card Clearing"
        ],
        "summary": "Initiate a card clearing transaction.",
        "description": "This endpoint allows users to initiate a clearing transaction for card payments. It processes the clearing based on the provided card information and transaction details, enabling the settlement of funds between banks.",
        "operationId": "createCardClearing",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a card clearing operation. It contains the necessary details for processing the card clearing transaction, including card information and transaction specifics.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCardClearingRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted and is being processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCardClearingResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCardClearingRequest": {
        "title": "Card Clearing Payment Request",
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment.",
            "example": "PAY-217882"
          },
          "debtorAccountId": {
            "type": "string",
            "description": "Identifier for the debtor's account.",
            "example": "ACC-757812"
          },
          "creditorAccountId": {
            "type": "string",
            "description": "Identifier for the creditor's account.",
            "example": "ACC-823261"
          },
          "instructedAmount": {
            "description": "The amount requested to be processed.",
            "$ref": "#/components/schemas/InstructedAmount"
          },
          "requestedExecutionDate": {
            "type": "string",
            "description": "The date on which the payment should be executed.",
            "example": "2026-09-15"
          },
          "remittanceInformation": {
            "type": "string",
            "description": "Information supplied by the debtor regarding the payment.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for submitting a card clearing payment operation.",
        "example": {
          "paymentId": "PAY-217882",
          "debtorAccountId": "ACC-757812",
          "creditorAccountId": "ACC-823261",
          "instructedAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "requestedExecutionDate": "2026-09-15",
          "remittanceInformation": "STANDARD",
          "requestContext": {
            "requestId": "0b5ec1d1-eb9a-5f54-9a21-dc5a45fb4975",
            "correlationId": "1b8a4f5c-0913-5dea-a5fd-5a9df103e58c",
            "idempotencyKey": "ae77bb52-fde5-503b-ab86-8e94fddf4fd2",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-781716"
            }
          }
        }
      },
      "InstructedAmount": {
        "title": "Instructed Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The monetary amount to be processed.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is specified.",
            "example": "string"
          }
        },
        "description": "Schema representing the instructed amount for the payment."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating related requests or transactions.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that repeated requests are processed only once.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "string"
          },
          "channel": {
            "description": "Channel information used for making the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context associated with the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used (e.g., mobile, web).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Schema representing the channel through which the request is made."
      },
      "CreateCardClearingResponse_202": {
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "A unique identifier for the payment.",
            "example": "PAY-998126"
          },
          "debtorAccountId": {
            "type": "string",
            "description": "The identifier for the debtor's account.",
            "example": "ACC-363683"
          },
          "creditorAccountId": {
            "type": "string",
            "description": "The identifier for the creditor's account.",
            "example": "ACC-130895"
          },
          "processingReference": {
            "type": "string",
            "description": "A reference used for processing the payment.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the payment.",
            "example": "ACTIVE"
          },
          "acceptedAt": {
            "type": "string",
            "description": "Timestamp when the payment was accepted.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/PaymentMetadata"
          }
        },
        "description": "Response schema for card clearing payment operations.",
        "example": {
          "paymentId": "PAY-998126",
          "debtorAccountId": "ACC-363683",
          "creditorAccountId": "ACC-130895",
          "processingReference": "STANDARD",
          "status": "ACTIVE",
          "acceptedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "7db513e9-f4be-5e2e-8f22-debba700f5b1",
            "correlationId": "1b8a4f5c-0913-5dea-a5fd-5a9df103e58c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The identifier for the payment response.",
            "example": "response_1234"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to correlate this payment with other related processes.",
            "example": "correlation_5678"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the payment processing took place.",
            "example": "EU"
          }
        },
        "description": "Metadata associated with the payment."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint where the request was processed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-clearing-clear-card-clearing"
        },
        "example": "card-clearing-clear-card-clearing"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the request, useful for performance tracking.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication mechanism that uses JSON Web Tokens (JWT) to verify the identity of the user. The token must be included in the authorization header of the requests to access secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}