{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Authorization Management API",
    "description": "The Authorization Management API facilitates the retrieval of authorization details within the microservices architecture. This endpoint allows users to access information regarding specific authorizations, which is crucial for managing user permissions and access rights effectively. Typical consumers of this API include security administrators and backend services that require real-time authorization data to ensure compliance and security protocols. This API enables integration with various applications, enhancing the overall security and operational efficiency of the ecosystem.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/authorizations": {
      "get": {
        "tags": [
          "Authorizations Management"
        ],
        "summary": "Retrieve all authorizations",
        "description": "This endpoint allows you to fetch a list of all authorizations available in the system, providing key details for each authorization record.",
        "operationId": "getAuthorizations",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to specify the parameters necessary for retrieving a list of authorizations. Please ensure that all required fields are included for a successful operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAuthorizationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the authorizations data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAuthorizationsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetAuthorizationsRequest": {
        "type": "string",
        "description": "Represents the request body for the GET operation on authorizations, expected to be a string representation of the required data.",
        "example": "{}"
      },
      "GetAuthorizationsResponse_200": {
        "title": "Authorization GET Response",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 1
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32",
            "example": 1
          },
          "totalPages": {
            "type": "integer",
            "description": "Total number of pages available.",
            "format": "int32",
            "example": 1
          },
          "hasNext": {
            "type": "boolean",
            "description": "Indicates if there is a next page of items.",
            "example": true
          },
          "links": {
            "type": "array",
            "description": "List of link objects for navigation.",
            "example": [
              {
                "rel": "STANDARD",
                "href": "https://example.com/resource",
                "method": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          },
          "items": {
            "type": "array",
            "description": "List of authorization items.",
            "example": [
              {
                "authorizationId": "STANDARD",
                "paymentId": "PAY-781955",
                "merchantId": "MER-143606",
                "authorizedAmount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "capturedAmount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "amount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "status": "ACTIVE",
                "approvalCode": "CODE-262",
                "expiresAt": "2026-08-11T12:00:00Z",
                "audit": {
                  "createdAt": "2026-09-15T14:30:00Z",
                  "createdBy": "STANDARD",
                  "updatedAt": "2026-09-15T14:30:00Z",
                  "updatedBy": "2026-09-15",
                  "version": 1
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/AuthorizationItem"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "Correlation ID for tracking requests.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the response was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region in which the processing was done.",
                "example": "string"
              }
            },
            "description": "Metadata about the response.",
            "example": {
              "responseId": "8edd6f9b-c5ea-55f5-a23f-5d2e056189b1",
              "correlationId": "97e67d46-1bb0-5d5c-948c-a814ee23903d",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for the GET operation on authorizations, providing pagination information and items list.",
        "example": {
          "page": 1,
          "pageSize": 1,
          "totalItems": 1,
          "totalPages": 1,
          "hasNext": true,
          "links": [
            {
              "rel": "STANDARD",
              "href": "https://example.com/resource",
              "method": "STANDARD"
            }
          ],
          "items": [
            {
              "authorizationId": "STANDARD",
              "paymentId": "PAY-781955",
              "merchantId": "MER-143606",
              "authorizedAmount": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "capturedAmount": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "amount": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "status": "ACTIVE",
              "approvalCode": "CODE-262",
              "expiresAt": "2026-08-11T12:00:00Z",
              "audit": {
                "createdAt": "2026-09-15T14:30:00Z",
                "createdBy": "STANDARD",
                "updatedAt": "2026-09-15T14:30:00Z",
                "updatedBy": "2026-09-15",
                "version": 1
              }
            }
          ],
          "metadata": {
            "responseId": "8edd6f9b-c5ea-55f5-a23f-5d2e056189b1",
            "correlationId": "97e67d46-1bb0-5d5c-948c-a814ee23903d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Link": {
        "title": "Link Object",
        "type": "object",
        "properties": {
          "rel": {
            "type": "string",
            "description": "The relationship of the link.",
            "example": "self"
          },
          "href": {
            "type": "string",
            "description": "URL of the link.",
            "example": "https://api.example.com/authorizations"
          },
          "method": {
            "type": "string",
            "description": "HTTP method to be used with the link.",
            "example": "GET"
          }
        },
        "description": "Object representing a hyperlink for navigation."
      },
      "AuthorizationItem": {
        "title": "Authorization Item",
        "type": "object",
        "properties": {
          "authorizationId": {
            "type": "string",
            "description": "Unique identifier for the authorization.",
            "example": "auth_12345"
          },
          "paymentId": {
            "type": "string",
            "description": "Identifier for the associated payment.",
            "example": "payment_12345"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant.",
            "example": "merchant_12345"
          },
          "authorizedAmount": {
            "description": "Amount that has been authorized.",
            "$ref": "#/components/schemas/Amount"
          },
          "capturedAmount": {
            "description": "Amount that has been captured.",
            "$ref": "#/components/schemas/Amount"
          },
          "amount": {
            "description": "Total amount of the authorization.",
            "$ref": "#/components/schemas/Amount"
          },
          "status": {
            "type": "string",
            "description": "Current status of the authorization.",
            "example": "approved"
          },
          "approvalCode": {
            "type": "string",
            "description": "Approval code for the transaction.",
            "example": "approved_12345"
          },
          "expiresAt": {
            "type": "string",
            "description": "Timestamp indicating when the authorization will expire.",
            "example": "2023-10-01T00:00:00Z"
          },
          "audit": {
            "description": "Audit information related to the authorization.",
            "$ref": "#/components/schemas/Audit"
          }
        },
        "description": "Object representing an individual authorization."
      },
      "Amount": {
        "title": "Amount Object",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency code (ISO 4217).",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "Amount value as a string.",
            "example": "100.00"
          }
        },
        "description": "Object representing an amount with currency."
      },
      "Audit": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the authorization was created.",
            "example": "2023-01-01T00:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier for the user who created the authorization.",
            "example": "user_123"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the authorization was last updated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier for the user who last updated the authorization.",
            "example": "user_456"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the authorization record.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Object containing audit trail information for the authorization."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-list-authorizations"
        },
        "example": "banking-p2m-openapi-list-authorizations"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes JSON Web Tokens (JWT) as a means of authentication. Clients must include a valid token in the Authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}