{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Building Maintenance Insights API",
    "description": "The Building Maintenance Insights API provides users with access to comprehensive information regarding the maintenance status and schedules of various banking facilities. This endpoint allows consumers to retrieve detailed records of maintenance activities, ensuring that all facilities are well-managed and operational. Typical users include facility managers and operational teams looking to optimize maintenance workflows and minimize downtime. By leveraging this API, stakeholders can make informed decisions based on the latest maintenance insights.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/facilities/building-maintenance": {
      "get": {
        "tags": [
          "Facilities Management"
        ],
        "summary": "Retrieve building maintenance information.",
        "description": "This endpoint allows clients to access detailed information regarding building maintenance activities within facilities. It provides the necessary data to manage and schedule maintenance work effectively.",
        "operationId": "getFacilitiesBuildingMaintenance",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving building maintenance operations. This body should contain the necessary parameters to filter and obtain the desired information related to building maintenance activities.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetFacilitiesBuildingMaintenanceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved building maintenance data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFacilitiesBuildingMaintenanceResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetFacilitiesBuildingMaintenanceRequest": {
        "type": "string",
        "description": "The request body for the building maintenance GET operation, represented as a string.",
        "example": "{}"
      },
      "GetFacilitiesBuildingMaintenanceResponse_200": {
        "title": "Building Maintenance Operations Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of building maintenance operation items.",
            "example": [
              {
                "siteId": "STANDARD",
                "assetId": "STANDARD",
                "workOrderId": "ORD-926158",
                "scheduledDate": "2026-09-15",
                "vendorId": "STANDARD",
                "facilityZone": "STANDARD",
                "maintenanceType": "STANDARD",
                "estimatedDurationMinutes": 1,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/MaintenanceOperationItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the response, e.g. by date or priority.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving building maintenance operations, including a list of items, pagination details, sorting order, and metadata.",
        "example": {
          "items": [
            {
              "siteId": "STANDARD",
              "assetId": "STANDARD",
              "workOrderId": "ORD-926158",
              "scheduledDate": "2026-09-15",
              "vendorId": "STANDARD",
              "facilityZone": "STANDARD",
              "maintenanceType": "STANDARD",
              "estimatedDurationMinutes": 1,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "e5b7c3d4-d7d6-5887-9457-bda9141c2c4b",
            "correlationId": "54f392d6-0701-52da-8008-22e65222c4da",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "MaintenanceOperationItem": {
        "title": "Maintenance Operation Item",
        "type": "object",
        "properties": {
          "siteId": {
            "type": "string",
            "description": "Unique identifier for the site where the operation is being performed."
          },
          "assetId": {
            "type": "string",
            "description": "Unique identifier for the asset related to the maintenance operation."
          },
          "workOrderId": {
            "type": "string",
            "description": "Unique identifier for the work order associated with the maintenance task."
          },
          "scheduledDate": {
            "type": "string",
            "description": "Scheduled date and time for the maintenance operation in ISO 8601 format."
          },
          "vendorId": {
            "type": "string",
            "description": "Unique identifier for the vendor responsible for the maintenance task."
          },
          "facilityZone": {
            "type": "string",
            "description": "Zone within the facility where the maintenance operation is taking place."
          },
          "maintenanceType": {
            "type": "string",
            "description": "Type of maintenance work to be performed, e.g. inspection, repair."
          },
          "estimatedDurationMinutes": {
            "type": "integer",
            "description": "Estimated duration of maintenance work in minutes.",
            "format": "int32"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the maintenance record, e.g. completed, pending."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the maintenance record in ISO 8601 format."
          }
        },
        "description": "Schema representing a single maintenance operation item."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the paginated response.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page in the paginated response.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32"
          }
        },
        "description": "Schema for pagination information in responses."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the API response."
          },
          "correlationId": {
            "type": "string",
            "description": "Unique identifier to correlate requests and responses across different services."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated, in ISO 8601 format."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request occurred."
          }
        },
        "description": "Schema for additional metadata information in responses."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that was called, enabling tracking and analysis of usage patterns.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "building-maintenance-search-building-maintenance"
        },
        "example": "building-maintenance-search-building-maintenance"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request, providing context about the backend infrastructure.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication, specifically leveraging JSON Web Tokens (JWT). Clients must include a valid JWT token in the Authorization header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}