{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Channel Specific By Param1-spec",
    "description": "The Channel Management API provides access to specific channel information within the banking domain, allowing users to retrieve details based on a unique parameter. This endpoint is designed to support contact center operators and banking personnel in managing customer interactions effectively. By leveraging this API, developers can integrate channel-specific data into customer support solutions, enhancing service delivery and operational efficiency. Typical use cases include fetching channel configurations, support resources, or operational metrics for targeted banking services.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/contact-center-management/{param1}": {
      "get": {
        "tags": [
          "Contact Center Management"
        ],
        "summary": "Retrieve contact center management details",
        "description": "This endpoint allows you to fetch the specific details of the contact center management associated with the resource ID 'RES-100045'. Use this operation to access comprehensive information that can assist in managing and assessing the performance of your contact center.",
        "operationId": "getChannelSpecificByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve data related to a specific Contact Center Management resource identified by the provided RES-100045 ID. Ensure that the necessary parameters are included in the request to obtain the required information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetChannelSpecificByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and data retrieved.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetChannelSpecificByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetChannelSpecificByParam1Request": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation of the contact center management API, specific to the operations relevant to the channel.",
        "example": "{}"
      },
      "GetChannelSpecificByParam1Response_200": {
        "title": "Contact Center Management Response",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the communication channel.",
            "example": "MOBILE-US"
          },
          "regionCode": {
            "type": "string",
            "description": "The code representing the region in which the service operates.",
            "example": "US-EAST-1"
          },
          "serviceWindow": {
            "description": "The operational hours of the service.",
            "$ref": "#/components/schemas/ServiceWindow"
          },
          "dailyCapacity": {
            "type": "integer",
            "description": "The total number of operations that can be handled daily.",
            "format": "int32",
            "example": 1
          },
          "queueId": {
            "type": "string",
            "description": "The unique identifier for the queue being referenced.",
            "example": "STANDARD"
          },
          "skillGroup": {
            "type": "string",
            "description": "The identifier for the skill group associated with the operations.",
            "example": "STANDARD"
          },
          "targetAnswerSeconds": {
            "type": "integer",
            "description": "The target time in seconds for answering incoming requests.",
            "format": "int32",
            "example": 1
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version of the record, used to track changes.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata associated with the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Represents the response for a specific operations request within the contact center management context.",
        "example": {
          "channelId": "MOBILE-US",
          "regionCode": "US-EAST-1",
          "serviceWindow": {
            "opensAt": "STANDARD",
            "closesAt": "STANDARD"
          },
          "dailyCapacity": 1,
          "queueId": "STANDARD",
          "skillGroup": "STANDARD",
          "targetAnswerSeconds": 1,
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "c4eca993-3e12-57fe-9049-5771b46abfcf",
            "correlationId": "aff8a042-3b02-5f3f-9d99-3f2600e1bb88",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ServiceWindow": {
        "title": "Service Window",
        "type": "object",
        "properties": {
          "opensAt": {
            "type": "string",
            "description": "The time when the service opens for operations.",
            "example": "09:00"
          },
          "closesAt": {
            "type": "string",
            "description": "The time when the service closes for operations.",
            "example": "17:00"
          }
        },
        "description": "Defines the operating hours for the service."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "response-123"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate related requests.",
            "example": "correlation-123"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "us-east"
          }
        },
        "description": "Contains additional metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "contact-center-management-get-contact-center-management"
        },
        "example": "contact-center-management-get-contact-center-management"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method using a Bearer token. The token must be a valid JSON Web Token (JWT) format for authorization.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}