{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Corporate Strategy Insights API",
    "description": "The Corporate Strategy Insights API provides access to detailed information regarding corporate strategies within a banking context. Users can retrieve specific strategic direction data by providing the required parameters. This API is designed for business analysts, strategy teams, and decision-makers who require up-to-date information to guide their corporate planning and investment decisions. Use cases include evaluating strategic initiatives and assessing market positioning based on current business directions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/business-direction/corporate-strategy/{param1}": {
      "get": {
        "tags": [
          "Corporate Strategy"
        ],
        "summary": "Retrieve a corporate strategy by its unique identifier.",
        "description": "This endpoint allows you to fetch detailed information about a specific corporate strategy identified by its unique ID. Use this to access the strategy's components, objectives, and associated metrics for a comprehensive view of the corporate direction.",
        "operationId": "getCorporateStrategyById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body required for retrieving the corporate strategy operations associated with the specified resource.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCorporateStrategyByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the requested corporate strategy resource.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCorporateStrategyByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCorporateStrategyByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on corporate strategy operations.",
        "example": "{}"
      },
      "GetCorporateStrategyByIdResponse_200": {
        "title": "Corporate Strategy Response",
        "type": "object",
        "properties": {
          "initiativeId": {
            "type": "string",
            "description": "The unique identifier for the initiative.",
            "example": "STANDARD"
          },
          "sponsorId": {
            "type": "string",
            "description": "The unique identifier for the sponsor of the initiative.",
            "example": "STANDARD"
          },
          "planningHorizon": {
            "type": "string",
            "description": "The planning horizon for the initiative, indicating the time frame considered.",
            "example": "STANDARD"
          },
          "targetDate": {
            "type": "string",
            "description": "The target completion date for the initiative.",
            "example": "2026-09-15"
          },
          "status": {
            "type": "string",
            "description": "The current status of the initiative.",
            "example": "ACTIVE"
          },
          "recordStatus": {
            "type": "string",
            "description": "Indicates the record status of the initiative.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the initiative record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the initiative was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for corporate strategy operations.",
        "example": {
          "initiativeId": "STANDARD",
          "sponsorId": "STANDARD",
          "planningHorizon": "STANDARD",
          "targetDate": "2026-09-15",
          "status": "ACTIVE",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "cad4f11e-c05a-56cd-8006-b1520acef4b5",
            "correlationId": "7f76b6a7-4126-59f3-bcce-0b02242052dd",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "RESPONSE_001"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracing requests.",
            "example": "CORRELATION_001"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographical region where the processing occurred.",
            "example": "US-East"
          }
        },
        "description": "Metadata information for tracking and processing."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "This header uniquely identifies the endpoint being accessed in the request. It aids in tracking and managing requests within systems.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "corporate-strategy-get-corporate-strategy"
        },
        "example": "corporate-strategy-get-corporate-strategy"
      },
      "X-Runtime-App": {
        "description": "This header indicates the application runtime environment that is processing the request. It helps in understanding which service is active for the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method, in which a valid JSON Web Token (JWT) must be included in the authorization header of the requests to authenticate users and grant access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}