{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Connect Components Institution Login Form-v5-spec",
    "description": "MICROSERVICE-PROD-Create Connect Components Institution Login Form-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/connect-components/institutions/{institutionId}/login-forms": {
      "post": {
        "operationId": "createConnectComponentsInstitutionLoginForm",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/institutionId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateConnectComponentsInstitutionLoginFormRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201Description",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateConnectComponentsInstitutionLoginFormResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateConnectComponentsInstitutionLoginFormRequest": {
        "type": "object",
        "properties": {
          "language": {
            "type": "string",
            "example": "en"
          },
          "customerId": {
            "type": "string",
            "example": "CUST-848116"
          },
          "configurationId": {
            "type": "string",
            "example": "c8b7cfd8-0d5e-7806-b2ff-2a822d633b80"
          },
          "serviceAgreement": {
            "type": "object",
            "properties": {
              "language": {
                "type": "string",
                "example": "string"
              },
              "acceptedDate": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "language": "en",
              "acceptedDate": "2026-09-15"
            }
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "a5dde256-5b3b-5ce3-b2ab-4aaf51754ee7",
              "correlationId": "1d877b2d-d2c8-5033-9c08-d7adc9fbc9b3",
              "idempotencyKey": "ddf7900d-468f-558b-abe9-2fa779ad1e4d",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-628826"
              }
            }
          }
        },
        "example": {
          "language": "en",
          "customerId": "CUST-848116",
          "configurationId": "c8b7cfd8-0d5e-7806-b2ff-2a822d633b80",
          "serviceAgreement": {
            "language": "en",
            "acceptedDate": "2026-09-15"
          },
          "requestContext": {
            "requestId": "a5dde256-5b3b-5ce3-b2ab-4aaf51754ee7",
            "correlationId": "1d877b2d-d2c8-5033-9c08-d7adc9fbc9b3",
            "idempotencyKey": "ddf7900d-468f-558b-abe9-2fa779ad1e4d",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-628826"
            }
          }
        }
      },
      "CreateConnectComponentsInstitutionLoginFormResponse_201": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "b7219723-da31-e581-f6cf-5c5c634fc54d"
          },
          "eventStreamId": {
            "type": "string",
            "example": "b0f87741-3c74-58c5-be51-97d06515c7a5"
          },
          "elements": {
            "type": "array",
            "example": [
              {
                "id": "003d97b7-5cf5-f1a2-ec28-c8584bfc3c3f",
                "label": "STANDARD",
                "sortOrder": 1
              }
            ],
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "example": "string"
                },
                "label": {
                  "type": "string",
                  "example": "string"
                },
                "sortOrder": {
                  "type": "integer",
                  "format": "int32",
                  "example": 0
                }
              },
              "example": "string"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "fb936efe-cf93-5f04-a32d-6a93564c0b28",
              "correlationId": "1d877b2d-d2c8-5033-9c08-d7adc9fbc9b3",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "id": "b7219723-da31-e581-f6cf-5c5c634fc54d",
          "eventStreamId": "b0f87741-3c74-58c5-be51-97d06515c7a5",
          "elements": [
            {
              "id": "003d97b7-5cf5-f1a2-ec28-c8584bfc3c3f",
              "label": "STANDARD",
              "sortOrder": 1
            }
          ],
          "metadata": {
            "responseId": "fb936efe-cf93-5f04-a32d-6a93564c0b28",
            "correlationId": "1d877b2d-d2c8-5033-9c08-d7adc9fbc9b3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "institutionId": {
        "name": "institutionId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-post-institutions-institution-id-login-forms"
        },
        "example": "open-finance-api-post-institutions-institution-id-login-forms"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}