{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Promotional Events Management API",
    "description": "The Promotional Events Management API allows businesses to create and manage promotional events effectively. This endpoint supports the initiation of new promotional campaigns, enabling marketers to attract customers through targeted offers. Typical consumers include marketing teams and business analysts who leverage this API to enhance customer engagement and boost sales. By integrating this API, businesses can streamline their promotional strategies and monitor event performance seamlessly.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/marketing/promotional-events": {
      "post": {
        "tags": [],
        "summary": "Create a new promotional event.",
        "description": "This endpoint allows you to create a new promotional event in the marketing system. You need to provide the necessary details for the event in the request body. Once the event is created, it can be managed and tracked through the marketing platform.",
        "operationId": "createPromotionalEvent",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for creating a new promotional event within the marketing system. Ensure that the provided data meets the required schema specifications.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePromotionalEventRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The promotional event was created successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePromotionalEventResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreatePromotionalEventRequest": {
        "type": "object",
        "properties": {
          "campaignId": {
            "type": "string",
            "description": "The unique identifier for the marketing campaign.",
            "example": "STANDARD"
          },
          "targetSegmentId": {
            "type": "string",
            "description": "The identifier for the target segment of the campaign.",
            "example": "STANDARD"
          },
          "channelMix": {
            "type": "array",
            "description": "A list of channels utilized in the marketing campaign.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "A single channel used in the campaign.",
              "example": "email"
            }
          },
          "budget": {
            "description": "The budget allocated for the campaign.",
            "$ref": "#/components/schemas/Budget"
          },
          "startDate": {
            "type": "string",
            "description": "The start date of the campaign in ISO 8601 format.",
            "example": "2026-09-15"
          },
          "endDate": {
            "type": "string",
            "description": "The end date of the campaign in ISO 8601 format.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for creating promotional events in marketing operations.",
        "example": {
          "campaignId": "STANDARD",
          "targetSegmentId": "STANDARD",
          "channelMix": [
            "STANDARD"
          ],
          "budget": {
            "amount": 100.0,
            "currency": "USD"
          },
          "startDate": "2026-09-15",
          "endDate": "2026-09-15",
          "requestContext": {
            "requestId": "d196bdbc-724d-5abf-b74b-962e7a7d7821",
            "correlationId": "8fd1a78c-a085-5319-a47f-aa2abb0b4690",
            "idempotencyKey": "de9099ac-b683-529d-8e4b-8bc619c404c9",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-948274"
            }
          }
        }
      },
      "Budget": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The monetary amount of the budget.",
            "example": 5000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the budget amount is specified.",
            "example": "USD"
          }
        },
        "description": "Schema representing the budget details for a marketing campaign."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to trace the request within the system.",
            "example": "corr-654321"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure that an operation is performed only once.",
            "example": "idemp-123456789"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made, in ISO 8601 format.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originates.",
            "example": "MarketingSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originates.",
            "example": "CampaignManager"
          },
          "channel": {
            "description": "Details about the channel related to the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema containing contextual information for the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel-123"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel.",
            "example": "Email"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used for the channel.",
            "example": "device-abc123"
          }
        },
        "description": "Schema representing the details of a communication channel."
      },
      "CreatePromotionalEventResponse_201": {
        "title": "Promotional Event Response",
        "type": "object",
        "properties": {
          "campaignId": {
            "type": "string",
            "description": "The unique identifier for the campaign.",
            "example": "STANDARD"
          },
          "targetSegmentId": {
            "type": "string",
            "description": "The identifier for the target segment of the campaign.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource associated with the event.",
            "example": "RES-604853"
          },
          "status": {
            "type": "string",
            "description": "The current status of the promotional event.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the promotional event was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the promotional event response.",
            "$ref": "#/components/schemas/PromotionMetadata"
          }
        },
        "description": "Response schema for creating a promotional event operation.",
        "example": {
          "campaignId": "STANDARD",
          "targetSegmentId": "STANDARD",
          "resourceId": "RES-604853",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "77b42f60-2f7a-54a9-a1ca-5d3666b1fc95",
            "correlationId": "8fd1a78c-a085-5319-a47f-aa2abb0b4690",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PromotionMetadata": {
        "title": "Promotion Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "001"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to correlate requests and responses.",
            "example": "corr-001"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-01T12:00:01Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the processing of the promotional event occurred.",
            "example": "us-east"
          }
        },
        "description": "Metadata object containing additional information about the promotional event response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "promotional-events-create-promotional-events"
        },
        "example": "promotional-events-create-promotional-events"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token, formatted as a JSON Web Token (JWT), to authenticate requests. Clients must include this token in the 'Authorization' header of their requests to gain access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}