{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Investment Account Management API",
    "description": "The Investment Account Management API enables businesses to create and manage investment accounts seamlessly. This endpoint supports the initiation of new investment accounts, allowing users to specify account types, investment strategies, and initial funding. Typical consumers include financial institutions, investment platforms, and portfolio management tools that require robust account management capabilities. This API empowers users to streamline investment account operations while ensuring compliance and security standards are met.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://treasury-markets-app:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/investment-management/investment-account": {
      "post": {
        "tags": [
          "Investment Management"
        ],
        "summary": "Create a new investment account.",
        "description": "This operation allows you to create a new investment account within the investment management system. Provide the necessary account details in the request body to successfully create the account.",
        "operationId": "createInvestmentAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Creates a new investment account by providing the necessary details. Ensure that all required fields are included and formatted correctly to avoid errors during account creation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateInvestmentAccountRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The investment account was successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateInvestmentAccountResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateInvestmentAccountRequest": {
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "The unique identifier for the portfolio.",
            "example": "PORT-779496"
          },
          "investmentAccountId": {
            "type": "string",
            "description": "The identifier for the investment account.",
            "example": "ACC-915054"
          },
          "investmentObjective": {
            "type": "string",
            "description": "The goal for the investment, e.g., growth, income, etc.",
            "example": "STANDARD"
          },
          "riskProfile": {
            "type": "string",
            "description": "The risk tolerance level associated with the investment.",
            "example": "STANDARD"
          },
          "baseCurrency": {
            "type": "string",
            "description": "The currency in which the account transactions are denominated.",
            "example": "USD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for creating or managing an investment account.",
        "example": {
          "portfolioId": "PORT-779496",
          "investmentAccountId": "ACC-915054",
          "investmentObjective": "STANDARD",
          "riskProfile": "STANDARD",
          "baseCurrency": "USD",
          "requestContext": {
            "requestId": "a8b450df-4fb7-599c-afd2-38c68d0c1471",
            "correlationId": "fb3ea855-e06e-5c39-a660-178144de4363",
            "idempotencyKey": "607acf2c-0395-591a-a997-13a81bea1a81",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-657325"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to trace related requests in a workflow.",
            "example": "corr321"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that repeated operations do not create duplicate results.",
            "example": "idempotentKey123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "InvestmentApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Detailed information regarding the request context."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the specific channel.",
            "example": "channel001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used for the request, e.g., web, mobile.",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device making the request.",
            "example": "device123"
          }
        },
        "description": "Information about the channel used in the request."
      },
      "CreateInvestmentAccountResponse_201": {
        "title": "Investment Account Operations Response",
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "The unique identifier for the portfolio associated with the investment account.",
            "example": "PORT-197805"
          },
          "investmentAccountId": {
            "type": "string",
            "description": "The unique identifier for the investment account.",
            "example": "ACC-221625"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource related to the investment operations.",
            "example": "RES-617618"
          },
          "status": {
            "type": "string",
            "description": "The current status of the investment account operations.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp indicating when the investment account was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata regarding the investment account operations.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response after performing operations on an investment account.",
        "example": {
          "portfolioId": "PORT-197805",
          "investmentAccountId": "ACC-221625",
          "resourceId": "RES-617618",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "76d9ce52-18f2-5381-a778-c376dca939d7",
            "correlationId": "fb3ea855-e06e-5c39-a660-178144de4363",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response-001"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking requests across systems.",
            "example": "corr-123"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T10:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the investment account operations were processed.",
            "example": "us-west-2"
          }
        },
        "description": "Schema representing metadata for investment account operations."
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-059"
        },
        "example": "WF-059"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "13886390-7857-4dc8-833c-5fff4c7237ea"
        },
        "example": "13886390-7857-4dc8-833c-5fff4c7237ea"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1936b189-f70f-4403-8e3f-7bfdf8c330a2"
        },
        "example": "1936b189-f70f-4403-8e3f-7bfdf8c330a2"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "investment-account-create-investment-account"
        },
        "example": "investment-account-create-investment-account"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      },
      "X-Workflow-Id": {
        "description": "A unique identifier for the workflow associated with the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-059"
        },
        "example": "WF-059"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Repo and Securities Lending Lifecycle"
        },
        "example": "Repo and Securities Lending Lifecycle"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1936b189-f70f-4403-8e3f-7bfdf8c330a2"
        },
        "example": "1936b189-f70f-4403-8e3f-7bfdf8c330a2"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using a Bearer token. This method allows access to secured resources by including a JSON Web Token (JWT) in the Authorization header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}