{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Loan By Loan Id-spec",
    "description": "The Loan Management API allows financial institutions to efficiently update loan details based on a specific loan ID. This endpoint is designed for modifying various attributes of existing loans, ensuring that customer data remains accurate and up-to-date. Typical consumers include bank administrators and financial analysts looking to streamline loan management processes. By utilizing this API, organizations can adapt to changing financial circumstances and maintain compliance with regulatory requirements.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loans/{loanId}": {
      "patch": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Update loan details",
        "description": "This endpoint allows you to update the details of a specific loan identified by its unique ID. Modify fields such as interest rate, payment schedule, or borrower information as needed.",
        "operationId": "updateLoanByLoanId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/loanId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the details of the specified loan resource identified by LOAN-500045. Ensure that all required fields are provided and adhere to the defined schema for accurate updates.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLoanByLoanIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, loan details updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateLoanByLoanIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateLoanByLoanIdRequest": {
        "type": "object",
        "properties": {
          "repaymentAccountNumber": {
            "type": "string",
            "description": "The account number to which repayments will be made.",
            "example": "STANDARD"
          },
          "servicingBranchCode": {
            "type": "string",
            "description": "The code of the branch servicing the loan.",
            "example": "CODE-591"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "The ID of the relationship manager handling the loan.",
            "example": "STANDARD"
          },
          "preferredRepaymentDay": {
            "type": "integer",
            "description": "The preferred day of the month for loan repayment (1-31).",
            "format": "int32",
            "example": 1
          },
          "collectionStrategy": {
            "type": "string",
            "description": "The strategy used for collection of loan repayments.",
            "example": "STANDARD"
          },
          "servicingNotes": {
            "type": "string",
            "description": "Additional notes or comments regarding the loan servicing.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context for the request, including identifiers and timestamps.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for updating loan operations in the PATCH operation.",
        "example": {
          "repaymentAccountNumber": "STANDARD",
          "servicingBranchCode": "CODE-591",
          "relationshipManagerId": "STANDARD",
          "preferredRepaymentDay": 1,
          "collectionStrategy": "STANDARD",
          "servicingNotes": "STANDARD",
          "requestContext": {
            "requestId": "5c3da44f-d797-503a-85f8-1fc1d84271d0",
            "correlationId": "c53b5cf0-99d1-5f9b-bb72-00b639453d85",
            "idempotencyKey": "18c666e8-c3d4-547f-a85e-42f4f3908a8d",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-946243"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the system sending the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the application sending the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Information related to the request context."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., web, mobile, etc.).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used for the request.",
            "example": "string"
          }
        },
        "description": "Details of the channel through which the transaction is processed."
      },
      "UpdateLoanByLoanIdResponse_200": {
        "title": "Loan Operations Response",
        "type": "object",
        "properties": {
          "sourceApplicationId": {
            "type": "string",
            "description": "Identifier for the source application initiating the loan operation.",
            "example": "APP-533851"
          },
          "productId": {
            "type": "string",
            "description": "Identifier of the loan product.",
            "example": "PROD-520709"
          },
          "primaryCustomerId": {
            "type": "string",
            "description": "Identifier of the primary customer associated with the loan.",
            "example": "CUST-196325"
          },
          "borrowerCustomerIds": {
            "type": "array",
            "description": "List of identifiers for borrowers associated with the loan.",
            "example": [
              "CUST-383985"
            ],
            "items": {
              "type": "string",
              "description": "Identifier of a borrower customer.",
              "example": "string"
            }
          },
          "principal": {
            "description": "Principal amount details of the loan.",
            "$ref": "#/components/schemas/LoanPrincipal"
          },
          "termMonths": {
            "type": "integer",
            "description": "Duration of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "annualInterestRatePercent": {
            "type": "string",
            "description": "Annual interest rate of the loan expressed as a percentage.",
            "example": "STANDARD"
          },
          "interestRateType": {
            "type": "string",
            "description": "Type of interest rate applicable to the loan (e.g., fixed, variable).",
            "example": "STANDARD"
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "Frequency with which loan repayments are made (e.g., monthly, quarterly).",
            "example": "STANDARD"
          },
          "bookingDate": {
            "type": "string",
            "description": "Date when the loan was booked.",
            "example": "2026-09-15"
          },
          "firstPaymentDate": {
            "type": "string",
            "description": "Date when the first payment is due.",
            "example": "2026-09-15"
          },
          "maturityDate": {
            "type": "string",
            "description": "Date when the loan matures.",
            "example": "2026-09-15"
          },
          "repaymentAccountNumber": {
            "type": "string",
            "description": "Account number from which repayments will be made.",
            "example": "STANDARD"
          },
          "servicingBranchCode": {
            "type": "string",
            "description": "Code of the branch servicing the loan.",
            "example": "CODE-346"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "Identifier of the relationship manager managing the loan.",
            "example": "STANDARD"
          },
          "purpose": {
            "type": "string",
            "description": "Purpose for taking the loan.",
            "example": "STANDARD"
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the loan.",
            "example": "cb10dbc2-ae36-3433-d702-51ae17080522"
          },
          "accountNumber": {
            "type": "string",
            "description": "Account number associated with the loan.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the loan (e.g., active, closed).",
            "example": "ACTIVE"
          },
          "balance": {
            "description": "Current balance details of the loan.",
            "$ref": "#/components/schemas/LoanBalance"
          },
          "totalDisbursed": {
            "description": "Total amount disbursed for the loan.",
            "$ref": "#/components/schemas/AmountDetails"
          },
          "totalRepaid": {
            "description": "Total amount repaid towards the loan.",
            "$ref": "#/components/schemas/AmountDetails"
          },
          "metadata": {
            "description": "Metadata associated with the loan operation response.",
            "$ref": "#/components/schemas/LoanMetadata"
          }
        },
        "description": "Schema representing the response for loan operations in PATCH requests.",
        "example": {
          "sourceApplicationId": "APP-533851",
          "productId": "PROD-520709",
          "primaryCustomerId": "CUST-196325",
          "borrowerCustomerIds": [
            "CUST-383985"
          ],
          "principal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "termMonths": 1,
          "annualInterestRatePercent": "STANDARD",
          "interestRateType": "STANDARD",
          "repaymentFrequency": "STANDARD",
          "bookingDate": "2026-09-15",
          "firstPaymentDate": "2026-09-15",
          "maturityDate": "2026-09-15",
          "repaymentAccountNumber": "STANDARD",
          "servicingBranchCode": "CODE-346",
          "relationshipManagerId": "STANDARD",
          "purpose": "STANDARD",
          "id": "cb10dbc2-ae36-3433-d702-51ae17080522",
          "accountNumber": "STANDARD",
          "status": "ACTIVE",
          "balance": {
            "principalOutstanding": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "accruedInterest": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "feesOutstanding": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "penaltiesOutstanding": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "totalOutstanding": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "availableToDraw": {
              "currency": "USD",
              "amount": "1250.75"
            }
          },
          "totalDisbursed": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "totalRepaid": {
            "currency": "USD"
          },
          "metadata": {
            "responseId": "07e2ba40-4e7f-5c4e-a79d-723c20d399b2",
            "correlationId": "c53b5cf0-99d1-5f9b-bb72-00b639453d85",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "LoanPrincipal": {
        "title": "Loan Principal",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency of the principal amount.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "Amount of the principal in the specified currency.",
            "example": "10000"
          }
        },
        "description": "Schema representing the principal amount details of a loan."
      },
      "LoanBalance": {
        "title": "Loan Balance",
        "type": "object",
        "properties": {
          "principalOutstanding": {
            "description": "Outstanding principal amount.",
            "$ref": "#/components/schemas/AmountDetails"
          },
          "accruedInterest": {
            "description": "Interest accrued but not yet paid.",
            "$ref": "#/components/schemas/AmountDetails"
          },
          "feesOutstanding": {
            "description": "Outstanding fees related to the loan.",
            "$ref": "#/components/schemas/AmountDetails"
          },
          "penaltiesOutstanding": {
            "description": "Outstanding penalties related to the loan.",
            "$ref": "#/components/schemas/AmountDetails"
          },
          "totalOutstanding": {
            "description": "Total amount outstanding for the loan.",
            "$ref": "#/components/schemas/AmountDetails"
          },
          "availableToDraw": {
            "description": "Amount available for drawing against the loan.",
            "$ref": "#/components/schemas/AmountDetails"
          }
        },
        "description": "Schema representing the balance details of a loan."
      },
      "AmountDetails": {
        "title": "Amount Details",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency of the amount.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "Amount in the specified currency.",
            "example": "1000"
          }
        },
        "description": "Schema representing an amount along with its currency."
      },
      "LoanMetadata": {
        "title": "Loan Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-1234"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking the request through the system.",
            "example": "correlation-5678"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the loan operation was processed.",
            "example": "US-East"
          }
        },
        "description": "Metadata related to the loan operation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "loanId": {
        "name": "loanId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-banking-loans-openapi-update-loan"
        },
        "example": "banking-loans-openapi-banking-loans-openapi-update-loan"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method with a JSON Web Token (JWT). When using this method, the client must include the token in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}