{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Financial Message Analysi Analyse-spec",
    "description": "The Financial Message Analysis API enables users to submit and process financial messages for comprehensive analysis. Designed for financial institutions and payment processors, this API facilitates the examination of transactions to ensure compliance and optimize processing efficiency. By leveraging this endpoint, developers can automate the analysis of various payment messages, contributing to enhanced decision-making and risk management. Ideal for systems that require reliable insights into financial data and trends.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/payments/financial-message-analysis/analyses": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Create a new financial message analysis.",
        "description": "This endpoint allows users to initiate a new financial message analysis, which processes and analyzes payment messages to extract valuable insights. Users can submit relevant data and configurations needed for the analysis.",
        "operationId": "createFinancialMessageAnalysiAnalyse",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This endpoint allows you to submit a financial message for analysis. The request body must contain the necessary data formatted in JSON according to the defined schema. Ensure that all required fields are included to receive a valid analysis response.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFinancialMessageAnalysiAnalyseRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed and the analysis results are returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateFinancialMessageAnalysiAnalyseResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateFinancialMessageAnalysiAnalyseRequest": {
        "title": "Financial Message Analysis Request",
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment.",
            "example": "PAY-491942"
          },
          "debtorAccountId": {
            "type": "string",
            "description": "Identifier for the debtor's account.",
            "example": "ACC-283698"
          },
          "creditorAccountId": {
            "type": "string",
            "description": "Identifier for the creditor's account.",
            "example": "ACC-387617"
          },
          "instructedAmount": {
            "description": "Details of the instructed amount for the transaction.",
            "$ref": "#/components/schemas/InstructedAmount"
          },
          "requestedExecutionDate": {
            "type": "string",
            "description": "Date when the payment execution is requested.",
            "example": "2026-09-15"
          },
          "remittanceInformation": {
            "type": "string",
            "description": "Information regarding the remittance.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for the Financial Message Analysis operation.",
        "example": {
          "paymentId": "PAY-491942",
          "debtorAccountId": "ACC-283698",
          "creditorAccountId": "ACC-387617",
          "instructedAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "requestedExecutionDate": "2026-09-15",
          "remittanceInformation": "STANDARD",
          "requestContext": {
            "requestId": "4603864c-2d77-54fa-a078-b21dc5f47df6",
            "correlationId": "67586c92-0f21-5339-9599-15e6e65d2cff",
            "idempotencyKey": "7c3050fb-6fd1-545f-8746-d40d21c3e407",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-300649"
            }
          }
        }
      },
      "InstructedAmount": {
        "title": "Instructed Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount of money being instructed.",
            "example": 100.0
          },
          "currency": {
            "type": "string",
            "description": "Currency in which the instructed amount is denominated.",
            "example": "USD"
          }
        },
        "description": "Schema for the instructed amount and currency details."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "request_001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate related requests.",
            "example": "correlation_001"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is idempotent.",
            "example": "idempotency_key_001"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-01T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system of the request.",
            "example": "system_001"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the source application of the request.",
            "example": "app_001"
          },
          "channel": {
            "description": "Details about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema for contextual information regarding the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel_001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel used (e.g., API, web, mobile).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device making the request.",
            "example": "device_001"
          }
        },
        "description": "Schema for information about the channel used in the request."
      },
      "CreateFinancialMessageAnalysiAnalyseResponse_200": {
        "title": "FinancialMessageAnalysisResponse",
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment.",
            "example": "PAY-394553"
          },
          "debtorAccountId": {
            "type": "string",
            "description": "Account ID of the debtor.",
            "example": "ACC-280278"
          },
          "creditorAccountId": {
            "type": "string",
            "description": "Account ID of the creditor.",
            "example": "ACC-360243"
          },
          "analysisId": {
            "type": "string",
            "description": "Unique identifier for the analysis performed on the payment.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the payment analysis.",
            "example": "ACTIVE"
          },
          "completedAt": {
            "type": "string",
            "description": "Timestamp indicating when the analysis was completed.",
            "example": "2026-09-15T14:30:00Z"
          },
          "findings": {
            "type": "array",
            "description": "List of individual findings from the payment analysis.",
            "example": [
              {
                "metric": "STANDARD",
                "value": 100.0,
                "unit": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Finding"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "response_11111"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier used to correlate requests and responses.",
                "example": "correlation_22222"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the response was generated.",
                "example": "2023-10-01T12:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the processing took place.",
                "example": "us-west-1"
              }
            },
            "description": "Metadata associated with the response.",
            "example": {
              "responseId": "d93edc61-c8d9-598f-b6bf-3fac4a05a882",
              "correlationId": "67586c92-0f21-5339-9599-15e6e65d2cff",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for the analysis of financial messages related to payments.",
        "example": {
          "paymentId": "PAY-394553",
          "debtorAccountId": "ACC-280278",
          "creditorAccountId": "ACC-360243",
          "analysisId": "STANDARD",
          "status": "ACTIVE",
          "completedAt": "2026-09-15T14:30:00Z",
          "findings": [
            {
              "metric": "STANDARD",
              "value": 100.0,
              "unit": "STANDARD"
            }
          ],
          "metadata": {
            "responseId": "d93edc61-c8d9-598f-b6bf-3fac4a05a882",
            "correlationId": "67586c92-0f21-5339-9599-15e6e65d2cff",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Finding": {
        "type": "object",
        "properties": {
          "metric": {
            "type": "string",
            "description": "The metric being analyzed.",
            "example": "transaction_volume"
          },
          "value": {
            "type": "number",
            "description": "The value of the metric.",
            "example": 1200.5
          },
          "unit": {
            "type": "string",
            "description": "Unit of measurement for the value.",
            "example": "USD"
          }
        },
        "description": "Individual finding from the payment analysis."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "financial-message-analysis-analyze-financial-message-analysis"
        },
        "example": "financial-message-analysis-analyze-financial-message-analysis"
      },
      "X-Runtime-App": {
        "description": "The name and version of the runtime application handling this request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens, formatted as JSON Web Tokens (JWT). This scheme allows secure information exchange after successful user authentication, and should be included in the Authorization header of requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}