{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Replace Account Management Securities Position Keeping-spec",
    "description": "This API allows for the updating of securities positions within account management services. It facilitates the modification of existing positions to reflect accurate information, such as changes in quantity or value. Financial institutions and asset management firms typically leverage this API to ensure their securities records are current and compliant with regulatory requirements. By using this API, developers can streamline the management of client portfolios, enhancing the accuracy and reliability of financial data.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/account-management/securities-position-keeping": {
      "put": {
        "tags": [
          "Securities Management"
        ],
        "summary": "Update Securities Position Keeping Information",
        "description": "This operation allows users to update the information related to the securities position keeping for accounts in the account management system. It ensures that all relevant data is accurately reflected and maintained.",
        "operationId": "replaceAccountManagementSecuritiesPositionKeeping",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the securities position keeping in the account management system. The request must include the necessary details in JSON format as defined by the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceAccountManagementSecuritiesPositionKeepingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and the securities position has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceAccountManagementSecuritiesPositionKeepingResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ReplaceAccountManagementSecuritiesPositionKeepingRequest": {
        "title": "Securities Position Keeping - Operations - PUT Request Body",
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account.",
            "example": "ACC-680016"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-140689"
          },
          "ledgerDate": {
            "type": "string",
            "description": "The date of the ledger entry in YYYY-MM-DD format.",
            "example": "2026-09-15"
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the balance is expressed.",
            "example": "USD"
          },
          "ledgerBalance": {
            "type": "number",
            "description": "The total balance of the ledger.",
            "example": 100.0
          },
          "safekeepingAccountId": {
            "type": "string",
            "description": "The identifier for the safekeeping account.",
            "example": "ACC-930049"
          },
          "custodyLocation": {
            "type": "string",
            "description": "The location where the securities are held.",
            "example": "STANDARD"
          },
          "positionQuantity": {
            "type": "integer",
            "description": "The quantity of the positions held.",
            "format": "int32",
            "example": 1
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "description": "A unique identifier for the request.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "An identifier to correlate related requests.",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "description": "A key provided to ensure idempotency of the request.",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "description": "Timestamp when the request was made.",
                "example": "2023-10-01T10:00:00Z"
              },
              "sourceSystem": {
                "type": "string",
                "description": "The source system that initiated the request.",
                "example": "Mainframe"
              },
              "sourceApplication": {
                "type": "string",
                "description": "The application from which the request originated.",
                "example": "TradingApp"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "description": "The unique identifier for the channel.",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "description": "The type of channel used (e.g., API, Web).",
                    "example": "API"
                  },
                  "deviceId": {
                    "type": "string",
                    "description": "An identifier for the device used to make the request.",
                    "example": "device-123"
                  }
                },
                "description": "Information about the channel used for the request."
              }
            },
            "description": "Contextual information regarding the request.",
            "example": {
              "requestId": "ff19c881-3b46-53d7-b5a6-32755f111f2f",
              "correlationId": "ed455b03-7cc8-57ef-a3a8-f3503721b88b",
              "idempotencyKey": "65490124-39be-586a-b6be-c823148c72f7",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-766855"
              }
            }
          }
        },
        "description": "Schema for updating the securities position of an account.",
        "example": {
          "accountId": "ACC-680016",
          "customerId": "CUST-140689",
          "ledgerDate": "2026-09-15",
          "currency": "USD",
          "ledgerBalance": 100.0,
          "safekeepingAccountId": "ACC-930049",
          "custodyLocation": "STANDARD",
          "positionQuantity": 1,
          "requestContext": {
            "requestId": "ff19c881-3b46-53d7-b5a6-32755f111f2f",
            "correlationId": "ed455b03-7cc8-57ef-a3a8-f3503721b88b",
            "idempotencyKey": "65490124-39be-586a-b6be-c823148c72f7",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-766855"
            }
          }
        }
      },
      "ReplaceAccountManagementSecuritiesPositionKeepingResponse_200": {
        "title": "Securities Position Keeping Response",
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account.",
            "example": "ACC-494933"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer associated with the account.",
            "example": "CUST-343633"
          },
          "safekeepingAccountId": {
            "type": "string",
            "description": "The unique identifier for the safekeeping account.",
            "example": "ACC-379685"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the account information.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The current status of the account.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the account was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional information related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the PUT operation in securities position keeping, providing updated information related to an account.",
        "example": {
          "accountId": "ACC-494933",
          "customerId": "CUST-343633",
          "safekeepingAccountId": "ACC-379685",
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "db547a44-558f-5797-81d6-c28e0fe8a143",
            "correlationId": "ed455b03-7cc8-57ef-a3a8-f3503721b88b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for this response.",
            "example": "response789"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to correlate multiple related requests/responses.",
            "example": "correlation123"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "us-west"
          }
        },
        "description": "Metadata related to the response, providing additional tracking and processing details."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "securities-position-keeping-upsert-securities-position-keeping"
        },
        "example": "securities-position-keeping-upsert-securities-position-keeping"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This authentication scheme uses a Bearer token for authorization. The token is typically a JSON Web Token (JWT) which must be included in the Authorization header for secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}