{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Collateral Administration By Collection Id-spec",
    "description": "The Collateral Administration Retrieval API enables users to access details about collateral administration associated with a specific collection identified by its unique ID. This API is critical for financial institutions and service providers who need to retrieve pertinent collateral information efficiently. Typical consumers include banking professionals, risk assessors, and analytics teams looking to analyze collateral assets. By providing insights into collateral holdings, this API supports decision-making processes and aids regulatory compliance.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/collateral-administration/collections/{collectionId}": {
      "get": {
        "tags": [
          "Collateral Management"
        ],
        "summary": "Retrieve specific collateral collection details.",
        "description": "This endpoint allows users to fetch detailed information about a specific collateral collection identified by its unique ID. Use this to access information related to collections, ensuring you provide the correct resource identifier.",
        "operationId": "getCollateralAdministrationByCollectionId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/collectionId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information regarding the collections of collateral administration for a specific resource identified by RES-100045. Ensure that the required structure is adhered to in the provided JSON to accurately fetch the desired data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCollateralAdministrationByCollectionIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the resource.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCollateralAdministrationByCollectionIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCollateralAdministrationByCollectionIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on collections in the collateral administration service. It specifies the format of the request body in JSON.",
        "example": "{}"
      },
      "GetCollateralAdministrationByCollectionIdResponse_200": {
        "title": "Collateral Administration Response",
        "type": "object",
        "properties": {
          "collateralId": {
            "type": "string",
            "description": "Unique identifier for the collateral.",
            "example": "STANDARD"
          },
          "partyId": {
            "type": "string",
            "description": "Unique identifier for the party associated with the collateral.",
            "example": "PARTY-277339"
          },
          "assetType": {
            "type": "string",
            "description": "Type of asset representing the collateral.",
            "example": "STANDARD"
          },
          "marketValue": {
            "description": "Market value of the collateral.",
            "$ref": "#/components/schemas/MarketValue"
          },
          "valuationDate": {
            "type": "string",
            "description": "Date when the collateral was valued in ISO 8601 format.",
            "example": "2026-09-15"
          },
          "securedExposureId": {
            "type": "string",
            "description": "Unique identifier for the secured exposure related to the collateral.",
            "example": "STANDARD"
          },
          "haircutPercent": {
            "type": "number",
            "description": "Percentage haircut applied to the collateral.",
            "example": 100.0
          },
          "lienStatus": {
            "type": "string",
            "description": "Current lien status of the collateral.",
            "example": "ACTIVE"
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the record in the system.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the collateral record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Date when the collateral record was last updated in ISO 8601 format.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the collateral response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for collateral administration operations.",
        "example": {
          "collateralId": "STANDARD",
          "partyId": "PARTY-277339",
          "assetType": "STANDARD",
          "marketValue": {
            "amount": 100.0,
            "currency": "USD"
          },
          "valuationDate": "2026-09-15",
          "securedExposureId": "STANDARD",
          "haircutPercent": 100.0,
          "lienStatus": "ACTIVE",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "8c1b9263-1326-5fbc-aff1-cc7a2e8303d5",
            "correlationId": "30e29588-90cd-5430-818b-14bf49d9868a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "MarketValue": {
        "title": "Market Value",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The monetary amount representing the market value.",
            "example": 1000000.0
          },
          "currency": {
            "type": "string",
            "description": "Currency code in which the market value is expressed.",
            "example": "USD"
          }
        },
        "description": "Schema representing the market value details of a collateral."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-abc123"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking request/response flows.",
            "example": "correlation-xyz789"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated in ISO 8601 format.",
            "example": "2023-10-02T15:04:05Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Schema representing metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "collectionId": {
        "name": "collectionId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the API endpoint that was accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "collections-get-collections"
        },
        "example": "collections-get-collections"
      },
      "X-Runtime-App": {
        "description": "The name of the runtime application processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a Bearer token. The token should be a JSON Web Token (JWT) which is used for securely transmitting information between parties as a JSON object. The token will be included in the Authorization header of the HTTP request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}