{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Correspondent Bank Relationship Management API",
    "description": "The Correspondent Bank Relationship Management API facilitates the establishment and management of relationships with correspondent banks. It enables financial institutions to create and maintain vital banking partnerships, streamline transaction processes, and enhance operational efficiency. This API is essential for banks looking to collaborate with external agencies to support international transactions and services. Typical consumers include banks, financial institutions, and third-party service providers involved in global banking operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/external-agency/correspondent-bank-relationship-management": {
      "post": {
        "tags": [
          "Correspondent Bank Management"
        ],
        "summary": "Create a new correspondent bank relationship.",
        "description": "This operation allows you to establish a new relationship with a correspondent bank. It involves specifying the necessary details and parameters required for the relationship setup.",
        "operationId": "createCorrespondentBankRelationship",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for managing the relationship with a correspondent bank in the external agency context. This includes necessary information such as bank details, relationship terms, and operational guidelines.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCorrespondentBankRelationshipRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully and is now available.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCorrespondentBankRelationshipResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCorrespondentBankRelationshipRequest": {
        "title": "Correspondent Bank Relationship Management Request Body",
        "type": "object",
        "properties": {
          "institutionId": {
            "type": "string",
            "description": "The unique identifier for the financial institution.",
            "example": "STANDARD"
          },
          "agreementId": {
            "type": "string",
            "description": "The unique identifier of the agreement related to the relationship.",
            "example": "AGR-329749"
          },
          "bic": {
            "type": "string",
            "description": "The Bank Identifier Code (BIC) of the financial institution.",
            "example": "STANDARD"
          },
          "countryCode": {
            "type": "string",
            "description": "The ISO 3166-1 alpha-2 country code of the institution.",
            "example": "US"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date when the relationship becomes effective.",
            "example": "2026-09-15"
          },
          "nostroAccountId": {
            "type": "string",
            "description": "The identifier for the nostro account associated with the bank.",
            "example": "ACC-694994"
          },
          "settlementCurrency": {
            "type": "string",
            "description": "The currency used for settlement in the relationship.",
            "example": "USD"
          },
          "relationshipStatus": {
            "type": "string",
            "description": "The current status of the relationship with the bank.",
            "example": "ACTIVE"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for managing correspondent bank relationships in the external agency operations.",
        "example": {
          "institutionId": "STANDARD",
          "agreementId": "AGR-329749",
          "bic": "STANDARD",
          "countryCode": "US",
          "effectiveDate": "2026-09-15",
          "nostroAccountId": "ACC-694994",
          "settlementCurrency": "USD",
          "relationshipStatus": "ACTIVE",
          "requestContext": {
            "requestId": "d45146cd-f34d-5832-b103-b1a405eb19ee",
            "correlationId": "9dd97ce2-30dc-5996-8a1b-97780f317959",
            "idempotencyKey": "c7e31a29-4a2a-5248-9ff0-37ac447fec32",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-245769"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate multiple requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure that requests can be retried safely.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The originating system from which the request is made.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the contextual information for a request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., API, mobile, web).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Schema representing information about the channel through which the request is made."
      },
      "CreateCorrespondentBankRelationshipResponse_201": {
        "title": "Corresponden Bank Relationship Management Response",
        "type": "object",
        "properties": {
          "institutionId": {
            "type": "string",
            "description": "The unique identifier for the financial institution.",
            "example": "STANDARD"
          },
          "agreementId": {
            "type": "string",
            "description": "The unique identifier for the agreement related to the bank relationship.",
            "example": "AGR-116226"
          },
          "countryCode": {
            "type": "string",
            "description": "The ISO 3166-1 alpha-2 country code of the financial institution.",
            "example": "US"
          },
          "nostroAccountId": {
            "type": "string",
            "description": "The identifier for the nostro account associated with the institution.",
            "example": "ACC-573079"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource related to this operation.",
            "example": "RES-489902"
          },
          "status": {
            "type": "string",
            "description": "The current status of the bank relationship.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp indicating when the relationship was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the correspondent bank relationship management operation.",
        "example": {
          "institutionId": "STANDARD",
          "agreementId": "AGR-116226",
          "countryCode": "US",
          "nostroAccountId": "ACC-573079",
          "resourceId": "RES-489902",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "aae648b0-d90f-5a32-8020-9ae69a391478",
            "correlationId": "9dd97ce2-30dc-5996-8a1b-97780f317959",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request took place.",
            "example": "string"
          }
        },
        "description": "Metadata information related to the response received."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being called.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "correspondent-bank-relationship-management-create-correspondent-bank-relationship-management"
        },
        "example": "correspondent-bank-relationship-management-create-correspondent-bank-relationship-management"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      },
      "X-Workflow-Id": {
        "description": "An identifier for the workflow associated with the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-069"
        },
        "example": "WF-069"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Correspondent Banking Relationship Setup"
        },
        "example": "Correspondent Banking Relationship Setup"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "2cceffda-09c1-4bec-b7b2-e21d0f2374bd"
        },
        "example": "2cceffda-09c1-4bec-b7b2-e21d0f2374bd"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using JSON Web Tokens (JWT) as bearer tokens. Clients must include the JWT in the Authorization header of their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}