{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Settlement Details Retrieval API",
    "description": "The Settlement Details Retrieval API provides access to detailed information regarding specific settlements identified by their unique settlement IDs. It allows users to retrieve essential data about financial transactions and settlement processes, ensuring transparency and aiding in reconciliation efforts. Typical consumers of this API include financial institutions, accounting software, and payment processors that depend on accurate settlement information for reporting and auditing purposes. This functionality is critical for maintaining up-to-date records in dynamic business environments.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/settlements/{settlementId}": {
      "get": {
        "tags": [
          "Settlement"
        ],
        "summary": "Retrieve details of a specific settlement.",
        "description": "Fetches the information associated with the settlement identified by the given ID. This operation provides detailed insights into the settlement's status, amounts, and related information.",
        "operationId": "getSettlementById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/settlementId"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving operational details pertaining to settlement RES-100045. Ensure that the required parameters, if any, are included as per the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSettlementByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was processed successfully and the settlement details are returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSettlementByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetSettlementByIdRequest": {
        "title": "Settle Operations Request Body",
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to settlements.",
        "example": "{}"
      },
      "GetSettlementByIdResponse_200": {
        "title": "Settlement Response",
        "type": "object",
        "properties": {
          "settlementId": {
            "type": "string",
            "description": "The unique identifier for the settlement.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "The unique identifier for the merchant associated with this settlement.",
            "example": "MER-659057"
          },
          "settlementAccountId": {
            "type": "string",
            "description": "The account identifier where the settlement is credited.",
            "example": "ACC-970614"
          },
          "periodStart": {
            "type": "string",
            "description": "The start date of the settlement period.",
            "example": "2026-08-11T12:00:00Z"
          },
          "periodEnd": {
            "type": "string",
            "description": "The end date of the settlement period.",
            "example": "2026-08-11T12:00:00Z"
          },
          "currency": {
            "type": "string",
            "description": "The currency used in the settlement.",
            "example": "USD"
          },
          "status": {
            "type": "string",
            "description": "The status of the settlement.",
            "example": "ACTIVE"
          },
          "summary": {
            "description": "A summary of the settlement including financial details.",
            "$ref": "#/components/schemas/Summary"
          },
          "lineCount": {
            "type": "integer",
            "description": "The number of line items in the settlement.",
            "format": "int32",
            "example": 1
          },
          "bankPayoutReference": {
            "type": "string",
            "description": "A reference identifier provided by the bank for the payout.",
            "example": "STANDARD"
          },
          "expectedPayoutAt": {
            "type": "string",
            "description": "The expected date when the payout will be processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "paidAt": {
            "type": "string",
            "description": "The date when the settlement was actually paid out.",
            "example": "2026-08-11T12:00:00Z"
          },
          "audit": {
            "description": "Auditing details for tracking the creation and updates of the settlement.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Additional metadata related to the settlement response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "A response schema for settlement operations providing detailed information about a settlement.",
        "example": {
          "settlementId": "STANDARD",
          "merchantId": "MER-659057",
          "settlementAccountId": "ACC-970614",
          "periodStart": "2026-08-11T12:00:00Z",
          "periodEnd": "2026-08-11T12:00:00Z",
          "currency": "USD",
          "status": "ACTIVE",
          "summary": {
            "grossPayments": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "refunds": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "reversals": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "disputes": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "fees": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "taxes": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "reserveHeld": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "reserveReleased": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "adjustments": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "netSettlement": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "lineCount": 1,
          "bankPayoutReference": "STANDARD",
          "expectedPayoutAt": "2026-08-11T12:00:00Z",
          "paidAt": "2026-08-11T12:00:00Z",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15"
          },
          "metadata": {
            "responseId": "1a2afc83-c0e7-5a5f-abb6-bafbbe982278",
            "correlationId": "65a4be0a-fc2a-5594-89ed-349dde934d22",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Summary": {
        "type": "object",
        "properties": {
          "grossPayments": {
            "description": "Total gross payments made during the settlement period.",
            "$ref": "#/components/schemas/Amount"
          },
          "refunds": {
            "description": "Total amount refunded during the settlement period.",
            "$ref": "#/components/schemas/Amount"
          },
          "reversals": {
            "description": "Total reversals made during the settlement period.",
            "$ref": "#/components/schemas/Amount"
          },
          "disputes": {
            "description": "Total amount associated with disputes during the settlement period.",
            "$ref": "#/components/schemas/Amount"
          },
          "fees": {
            "description": "Total fees incurred during the settlement period.",
            "$ref": "#/components/schemas/Amount"
          },
          "taxes": {
            "description": "Total taxes applied during the settlement period.",
            "$ref": "#/components/schemas/Amount"
          },
          "reserveHeld": {
            "description": "Total amount of reserves held during the settlement period.",
            "$ref": "#/components/schemas/Amount"
          },
          "reserveReleased": {
            "description": "Total amount of reserves released during the settlement period.",
            "$ref": "#/components/schemas/Amount"
          },
          "adjustments": {
            "description": "Total adjustments made during the settlement period.",
            "$ref": "#/components/schemas/Amount"
          },
          "netSettlement": {
            "description": "Total net settlement amount after adjustments.",
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "A financial summary of the settlement."
      },
      "Amount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency of the amount.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "The monetary value represented as a string.",
            "example": "1000.00"
          }
        },
        "description": "A monetary value with its currency."
      },
      "Audit": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the settlement was created.",
            "example": "2023-01-30T12:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "The user or system that created the settlement.",
            "example": "system"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the settlement was last updated.",
            "example": "2023-01-31T12:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "The user or system that last updated the settlement.",
            "example": "admin"
          }
        },
        "description": "Audit information for tracking changes to the settlement."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the API response.",
            "example": "response_12345"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier for tracking the request across systems.",
            "example": "correlation_12345"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-01-30T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata containing additional identifiers and timestamps related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "settlementId": {
        "name": "settlementId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-get-settlement"
        },
        "example": "banking-p2m-openapi-get-settlement"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method that uses JSON Web Tokens (JWT) for secure access control. Clients must include a bearer token in the Authorization header to authenticate requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}