{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Channel Specific By Param1-spec",
    "description": "The Channel Inventory Management API facilitates the modification of product inventory items associated with specific channels. By utilizing this endpoint, businesses can efficiently update inventory details based on unique parameters, optimizing stock levels and ensuring accurate product availability. This API is particularly useful for inventory management systems, enabling retailers and suppliers to respond swiftly to market demands. Typical consumers include e-commerce platforms and retail management software that require real-time inventory updates.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/product-inventory-item-management/{param1}": {
      "patch": {
        "tags": [
          "Inventory Management"
        ],
        "summary": "Update Product Inventory Item",
        "description": "This operation allows you to update details of a specific product inventory item identified by PROD-700045. You can modify attributes such as price, stock levels, and other relevant details to ensure accurate inventory management.",
        "operationId": "updateChannelSpecificByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the specific product inventory item identified by PROD-700045. The fields within the body allow for adjusting the inventory details such as quantity, price, and availability status. Ensure that the correct data types and required fields are adhered to as defined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateChannelSpecificByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and the resource was updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateChannelSpecificByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateChannelSpecificByParam1Request": {
        "title": "Product Inventory Item Management PATCH Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "description": "An object containing the fields that need to be changed for the inventory item.",
            "$ref": "#/components/schemas/ProductInventoryChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change in the inventory item.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The timestamp indicating when the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the person or system requesting the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "An object containing contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for updating product inventory item management.",
        "example": {
          "changes": {
            "inventoryItemId": "STANDARD",
            "sku": "STANDARD",
            "branchId": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "3ebb6e96-d3d0-52f6-90be-d698a5609e33",
            "correlationId": "e7e8fef3-26b7-5918-8da6-8ebb3bfa4755",
            "idempotencyKey": "2ac1d5e0-67af-5788-9c4f-24cb8f9528c2",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-286464"
            }
          }
        }
      },
      "ProductInventoryChanges": {
        "title": "Product Inventory Changes",
        "type": "object",
        "properties": {
          "inventoryItemId": {
            "type": "string",
            "description": "The unique identifier for the inventory item.",
            "example": "string"
          },
          "sku": {
            "type": "string",
            "description": "The stock keeping unit identifier for the product.",
            "example": "string"
          },
          "branchId": {
            "type": "string",
            "description": "The identifier for the branch where the inventory item is managed.",
            "example": "string"
          }
        },
        "description": "Schema representing changes to a product inventory item."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate requests across systems.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure that the request can be safely retried.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing contextual details about the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., online, in-store).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Schema representing details about the channel used in the request."
      },
      "UpdateChannelSpecificByParam1Response_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the resource was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for patch operations on product inventory items.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "927325b4-dba8-5f08-bef4-7c0a0e877767",
            "correlationId": "e7e8fef3-26b7-5918-8da6-8ebb3bfa4755",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Schema representing metadata about the operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that was invoked as part of the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "product-inventory-item-management-update-product-inventory-item-management"
        },
        "example": "product-inventory-item-management-update-product-inventory-item-management"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the operation, providing context about the request's execution environment.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, allowing clients to authenticate by providing a JSON Web Token (JWT) in the `Authorization` header of their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}