{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Connect Components Institution Login Form-v5-spec",
    "description": "The Institution Login Form Creation API allows institutions to efficiently create and customize login forms for their users. This endpoint takes specific institution identifiers and facilitates the submission of tailored login configurations, enabling a seamless authentication experience. Typical consumers of this API include educational institutions, corporate partners, or service providers looking to integrate login functionality into their systems. By utilizing this API, organizations can enhance user engagement while maintaining security and brand consistency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/connect-components/institutions/{institutionId}/login-forms": {
      "post": {
        "tags": [
          "Institution Management"
        ],
        "summary": "Submit a login form for the specified institution.",
        "description": "This endpoint allows users to submit their login credentials for the institution with ID RES-100045. It processes the login details and returns the appropriate response based on the authentication success or failure.",
        "operationId": "createConnectComponentsInstitutionLoginForm",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/institutionId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit login form data for the specified institution. It requires the necessary credentials and any additional parameters needed for the login process.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateConnectComponentsInstitutionLoginFormRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Login form created successfully.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateConnectComponentsInstitutionLoginFormResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateConnectComponentsInstitutionLoginFormRequest": {
        "title": "Login Form Request Body",
        "type": "object",
        "properties": {
          "language": {
            "type": "string",
            "description": "The language preference for the request.",
            "example": "en"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-848116"
          },
          "configurationId": {
            "type": "string",
            "description": "The identifier for the configuration being used.",
            "example": "c8b7cfd8-0d5e-7806-b2ff-2a822d633b80"
          },
          "serviceAgreement": {
            "description": "Details regarding the service agreement.",
            "$ref": "#/components/schemas/ServiceAgreement"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the request body of the login form operation.",
        "example": {
          "language": "en",
          "customerId": "CUST-848116",
          "configurationId": "c8b7cfd8-0d5e-7806-b2ff-2a822d633b80",
          "serviceAgreement": {
            "language": "en",
            "acceptedDate": "2026-09-15"
          },
          "requestContext": {
            "requestId": "a5dde256-5b3b-5ce3-b2ab-4aaf51754ee7",
            "correlationId": "1d877b2d-d2c8-5033-9c08-d7adc9fbc9b3",
            "idempotencyKey": "ddf7900d-468f-558b-abe9-2fa779ad1e4d",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-628826"
            }
          }
        }
      },
      "ServiceAgreement": {
        "title": "Service Agreement",
        "type": "object",
        "properties": {
          "language": {
            "type": "string",
            "description": "The language in which the service agreement is presented.",
            "example": "en"
          },
          "acceptedDate": {
            "type": "string",
            "description": "The date when the service agreement was accepted.",
            "example": "2023-10-01"
          }
        },
        "description": "Schema describing the service agreement details."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "req789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate related requests.",
            "example": "corr456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is idempotent.",
            "example": "idempotentKey123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-01T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that generated the request.",
            "example": "InternalSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that generated the request.",
            "example": "WebApp"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema containing contextual information for the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel123"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel used (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier for the device being used.",
            "example": "device456"
          }
        },
        "description": "Schema for channel information related to the request."
      },
      "CreateConnectComponentsInstitutionLoginFormResponse_201": {
        "title": "Login Form Response",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "b7219723-da31-e581-f6cf-5c5c634fc54d"
          },
          "eventStreamId": {
            "type": "string",
            "description": "Identifier for the event stream associated with this response.",
            "example": "b0f87741-3c74-58c5-be51-97d06515c7a5"
          },
          "elements": {
            "type": "array",
            "description": "Array of elements included in the login form response.",
            "example": [
              {
                "id": "003d97b7-5cf5-f1a2-ec28-c8584bfc3c3f",
                "label": "STANDARD",
                "sortOrder": 1
              }
            ],
            "items": {
              "$ref": "#/components/schemas/LoginFormElement"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Schema representing the response structure for a successful login form operation.",
        "example": {
          "id": "b7219723-da31-e581-f6cf-5c5c634fc54d",
          "eventStreamId": "b0f87741-3c74-58c5-be51-97d06515c7a5",
          "elements": [
            {
              "id": "003d97b7-5cf5-f1a2-ec28-c8584bfc3c3f",
              "label": "STANDARD",
              "sortOrder": 1
            }
          ],
          "metadata": {
            "responseId": "fb936efe-cf93-5f04-a32d-6a93564c0b28",
            "correlationId": "1d877b2d-d2c8-5033-9c08-d7adc9fbc9b3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "LoginFormElement": {
        "title": "Login Form Element",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the form element.",
            "example": "string"
          },
          "label": {
            "type": "string",
            "description": "Display label for the form element.",
            "example": "string"
          },
          "sortOrder": {
            "type": "integer",
            "description": "The order in which the element appears in the form.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Schema representing a single element in the login form response."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response metadata.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate logs for tracing the request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request took place.",
            "example": "string"
          }
        },
        "description": "Metadata related to the response, providing additional context."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "institutionId": {
        "name": "institutionId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-post-institutions-institution-id-login-forms"
        },
        "example": "open-finance-api-post-institutions-institution-id-login-forms"
      },
      "x-runtime-app": {
        "description": "The version of the application runtime that is handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method using a bearer token, formatted as a JSON Web Token (JWT). This scheme is used to securely transmit information between parties as a JSON object.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}