{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Payment Reversal API",
    "description": "The Payment Reversal API enables businesses to efficiently reverse payment transactions that were previously processed. This endpoint allows users to initiate a reversal for a specific payment identified by its unique paymentId. It's essential for scenarios where transactions need to be corrected or refunded due to various reasons, such as customer requests or processing errors. Typical consumers include finance and accounting applications, customer service platforms, and any system requiring transaction management capabilities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/payments/{paymentId}/reverse": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Reverse a payment transaction.",
        "description": "This endpoint allows you to reverse a specific payment transaction identified by its unique payment ID. Utilize this feature to correct any errors related to payments, ensuring proper financial management and accountability.",
        "operationId": "reversePaymentPay300045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/paymentId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a reversal of the payment identified by PAY-300045. It contains the necessary details for processing the reversal operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReversePaymentPay300045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The reversal request was processed successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReversePaymentPay300045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ReversePaymentPay300045Request": {
        "title": "Reverse Payment Request",
        "type": "object",
        "properties": {
          "amount": {
            "description": "The amount to be reversed, including currency and value.",
            "$ref": "#/components/schemas/Amount"
          },
          "reasonCode": {
            "type": "string",
            "description": "Code representing the reason for the reversal.",
            "example": "CODE-770"
          },
          "reason": {
            "type": "string",
            "description": "Detailed description of the reason for the reversal.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing a request to reverse a payment operation.",
        "example": {
          "amount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "reasonCode": "CODE-770",
          "reason": "STANDARD",
          "requestContext": {
            "requestId": "1be8f1ea-a802-5519-b463-c07a34a31f68",
            "correlationId": "23710e79-455c-5d59-9444-a78fcb50f0b0",
            "idempotencyKey": "c5651487-3203-5d98-b53c-a7ee69493197",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-828989"
            }
          }
        }
      },
      "Amount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency code (e.g., USD, EUR) for the amount.",
            "example": "string"
          },
          "value": {
            "type": "string",
            "description": "Value of the monetary amount.",
            "example": "string"
          }
        },
        "description": "Schema representing a monetary amount."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating multiple requests.",
            "example": "corr-123456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotent operations.",
            "example": "idemp-123456"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "SystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request originated.",
            "example": "AppA"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request including identifiers and timestamps."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-123"
          }
        },
        "description": "Schema representing the channel used for the request, including identifiers."
      },
      "ReversePaymentPay300045Response_200": {
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment.",
            "example": "PAY-123632"
          },
          "paymentIntentId": {
            "type": "string",
            "description": "The ID of the payment intent associated with this payment.",
            "example": "STANDARD"
          },
          "qrPaymentRequestId": {
            "type": "string",
            "description": "ID for the QR payment request, if applicable.",
            "example": "15f7d7ec-8a0e-53ad-a2cf-1ac99cf413e2"
          },
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant.",
            "example": "MER-731406"
          },
          "outletId": {
            "type": "string",
            "description": "ID of the outlet processing the payment.",
            "example": "STANDARD"
          },
          "terminalId": {
            "type": "string",
            "description": "ID of the terminal used for the payment.",
            "example": "STANDARD"
          },
          "merchantOrderId": {
            "type": "string",
            "description": "Order ID assigned by the merchant.",
            "example": "ORD-419701"
          },
          "channel": {
            "type": "string",
            "description": "Payment channel used for this transaction.",
            "example": "STANDARD"
          },
          "paymentMethod": {
            "description": "Details about the payment method used.",
            "$ref": "#/components/schemas/PaymentMethod"
          },
          "customer": {
            "description": "Information about the customer making the payment.",
            "$ref": "#/components/schemas/Customer"
          },
          "amounts": {
            "description": "Details about the amounts involved in the payment transaction.",
            "$ref": "#/components/schemas/PaymentAmounts"
          },
          "metadata": {
            "description": "Metadata related to the payment operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the reverse payment operation.",
        "example": {
          "paymentId": "PAY-123632",
          "paymentIntentId": "STANDARD",
          "qrPaymentRequestId": "15f7d7ec-8a0e-53ad-a2cf-1ac99cf413e2",
          "merchantId": "MER-731406",
          "outletId": "STANDARD",
          "terminalId": "STANDARD",
          "merchantOrderId": "ORD-419701",
          "channel": "STANDARD",
          "paymentMethod": {
            "type": "STANDARD",
            "token": "STANDARD",
            "issuerBankCode": "CODE-634",
            "maskedIdentifier": "STANDARD",
            "walletProvider": "STANDARD"
          },
          "customer": {
            "id": "STANDARD",
            "name": "Northstar Banking Service",
            "email": "olivia.bennett@northstar.example",
            "phone": "+1-212-555-0147",
            "riskSegment": "STANDARD"
          },
          "amounts": {
            "requested": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "authorized": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "captured": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "refunded": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "reversed": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "tip": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "fees": [
              {
                "feeType": "STANDARD",
                "amount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "bearer": "CUSTOMER"
              }
            ],
            "netToMerchant": {
              "currency": "USD"
            }
          },
          "metadata": {
            "responseId": "31787655-cba1-5cfb-bf94-0ae38e8643aa",
            "correlationId": "23710e79-455c-5d59-9444-a78fcb50f0b0",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentMethod": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of payment method (e.g., credit card, PayPal).",
            "example": "string"
          },
          "token": {
            "type": "string",
            "description": "Token used for the transaction.",
            "example": "string"
          },
          "issuerBankCode": {
            "type": "string",
            "description": "Code for the bank that issued the payment method.",
            "example": "string"
          },
          "maskedIdentifier": {
            "type": "string",
            "description": "Masked identifier for the payment method (e.g., last four digits of a card).",
            "example": "string"
          },
          "walletProvider": {
            "type": "string",
            "description": "Name of the wallet provider if applicable.",
            "example": "string"
          }
        },
        "description": "Schema representing details of the payment method."
      },
      "Customer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "string"
          },
          "name": {
            "type": "string",
            "description": "Name of the customer.",
            "example": "string"
          },
          "email": {
            "type": "string",
            "description": "Email address of the customer.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the customer.",
            "example": "string"
          },
          "riskSegment": {
            "type": "string",
            "description": "Risk segment classification for customer.",
            "example": "string"
          }
        },
        "description": "Schema representing customer information."
      },
      "PaymentAmounts": {
        "type": "object",
        "properties": {
          "requested": {
            "description": "The amount that was requested for the payment.",
            "$ref": "#/components/schemas/Amount"
          },
          "authorized": {
            "description": "The amount that was authorized for this payment.",
            "$ref": "#/components/schemas/Amount"
          },
          "captured": {
            "description": "The amount that has been captured from the payment.",
            "$ref": "#/components/schemas/Amount"
          },
          "refunded": {
            "description": "The amount that has been refunded from the transaction.",
            "$ref": "#/components/schemas/Amount"
          },
          "reversed": {
            "description": "The amount that has been reversed from the transaction.",
            "$ref": "#/components/schemas/Amount"
          },
          "tip": {
            "description": "The amount given as a tip.",
            "$ref": "#/components/schemas/Amount"
          },
          "fees": {
            "type": "array",
            "description": "List of fees associated with the payment.",
            "items": {
              "type": "object",
              "properties": {
                "feeType": {
                  "type": "string",
                  "description": "Type of fee charged.",
                  "example": "string"
                },
                "amount": {
                  "$ref": "#/components/schemas/Amount"
                },
                "bearer": {
                  "type": "string",
                  "description": "Indicates who bears the fee.",
                  "example": "string"
                }
              }
            }
          },
          "netToMerchant": {
            "description": "The net amount that goes to the merchant.",
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "Schema representing different amounts associated with the payment."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the payment was processed.",
            "example": "string"
          }
        },
        "description": "Schema representing metadata for the payment operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "paymentId": {
        "name": "paymentId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint being called in the payment system.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-reverse-payment"
        },
        "example": "banking-p2m-openapi-reverse-payment"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is processing the payment request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method using a Bearer Token. This token, formatted as a JSON Web Token (JWT), is used to securely transmit information between parties, ensuring that the client is authorized to access the requested resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}