{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update It Management By Param1-spec",
    "description": "The IT Management Update API facilitates the modification of development environment specifics based on the provided parameter. By utilizing this PATCH operation, businesses can dynamically adjust configurations and settings that impact their IT management processes. This API is designed for developers and IT administrators who need to make timely updates to their development environments. Typical use cases include enhancing system performance, implementing new features, or correcting configurations to meet operational requirements.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/development-environment/{param1}": {
      "patch": {
        "tags": [
          "IT Management"
        ],
        "summary": "Update the Development Environment resource.",
        "description": "This operation allows you to make modifications to the specified Development Environment resource (RES-100045) in the IT management system. You can make changes to various attributes of the resource as required.",
        "operationId": "updateItManagementByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body allows you to update the details of the development environment identified by RES-100045. You can modify various properties relevant to the configuration or status of the development environment.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateItManagementByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully updated the resource.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateItManagementByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateItManagementByParam1Request": {
        "type": "object",
        "properties": {
          "changes": {
            "description": "Details of the modifications requested for the development environment.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the requested changes.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The timestamp when the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user requesting the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for updating the development environment settings.",
        "example": {
          "changes": {
            "environmentId": "STANDARD",
            "applicationId": "APP-731819",
            "runtime": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "cb24c781-ba3c-5507-b2de-d2cb96146a5d",
            "correlationId": "55ef76c1-111f-5070-ab9d-7c085aad2e1f",
            "idempotencyKey": "8eedda07-e11e-5f4d-b899-5740ca348391",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-455095"
            }
          }
        }
      },
      "Changes": {
        "type": "object",
        "properties": {
          "environmentId": {
            "type": "string",
            "description": "The unique identifier for the environment being modified.",
            "example": "env123"
          },
          "applicationId": {
            "type": "string",
            "description": "The unique identifier for the application being affected by the change.",
            "example": "app456"
          },
          "runtime": {
            "type": "string",
            "description": "The runtime version to be set for the environment.",
            "example": "Node.js 14"
          }
        },
        "description": "Schema representing the individual changes made to the development environment."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req789"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to correlate related requests.",
            "example": "corr-abc"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure that repeated requests have no side effects.",
            "example": "idemp123"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-01T09:30:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "Internal API"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "Admin Portal"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema providing additional context for the request, useful for tracking and logging."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the communication channel.",
            "example": "channel789"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel used for the request.",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used to submit the request.",
            "example": "device123"
          }
        },
        "description": "Schema representing the channel used for the request."
      },
      "UpdateItManagementByParam1Response_200": {
        "title": "Response for Operations PATCH Request",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the operation response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for the Operations PATCH request, including status, version, update timestamp, and metadata.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "8abd44d9-beb8-5eb8-bec9-860a7b07a149",
            "correlationId": "55ef76c1-111f-5070-ab9d-7c085aad2e1f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "abcd1234"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple requests.",
            "example": "xyz9876"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the operation was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Schema representing metadata related to an operation response, including response and correlation identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that was invoked in the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "development-environment-update-development-environment"
        },
        "example": "development-environment-update-development-environment"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is currently processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication, which requires a JSON Web Token (JWT) to be included in the Authorization header of each request. The JWT should be issued by a trusted authority and must be valid for the duration of the session.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}