{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Cross Channel By Param1-spec",
    "description": "The Cross Channel Session Dialogue Retrieval API allows users to access session dialogue information by specifying a parameter. This endpoint is designed for applications that need to retrieve specific cross-channel interactions based on user-defined criteria. Typical consumers include banking applications looking to provide personalized customer experiences or analyze dialogue flows. This API streamlines the integration of conversation data across various banking channels, enhancing the ability to monitor and improve engagement strategies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cross-channel/session-dialogue/{param1}": {
      "get": {
        "tags": [
          "Cross-Channel Dialogues"
        ],
        "summary": "Retrieve specific session dialogue details.",
        "description": "This endpoint allows you to fetch detailed information about a specific session dialogue identified by its unique ID. Use this to obtain insights or perform further operations related to that particular dialogue instance.",
        "operationId": "getCrossChannelByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve session dialogue information specific to RES-100045. The payload should adhere to the defined JSON schema, ensuring all required fields are populated correctly to avoid errors during processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCrossChannelByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested session dialogue data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCrossChannelByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCrossChannelByParam1Request": {
        "type": "string",
        "description": "This schema represents the request body for the operations related to getting a session dialogue. The body is expected to be a string value.",
        "example": "{}"
      },
      "GetCrossChannelByParam1Response_200": {
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "Identifier for the party involved in the session.",
            "example": "PARTY-549515"
          },
          "interactionId": {
            "type": "string",
            "description": "Unique ID of the interaction.",
            "example": "INT-806763"
          },
          "channel": {
            "type": "string",
            "description": "The communication channel used for the interaction.",
            "example": "STANDARD"
          },
          "authenticationLevel": {
            "type": "string",
            "description": "Level of authentication required for the session.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the session record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the session dialogue.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the session dialogue.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Contains additional information relevant to the session dialogue.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for fetching session dialogue operations.",
        "example": {
          "partyId": "PARTY-549515",
          "interactionId": "INT-806763",
          "channel": "STANDARD",
          "authenticationLevel": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "c4e8b6fb-a955-5208-85cc-a5fde467d84b",
            "correlationId": "5d382bab-fb23-5867-8c0f-bad9cf3df631",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating related requests.",
            "example": "correlation012"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2023-10-01T09:45:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "US"
          }
        },
        "description": "Metadata associated with the session dialogue."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "session-dialogue-get-session-dialogue"
        },
        "example": "session-dialogue-get-session-dialogue"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes a Bearer Authentication method, where the client must provide a valid JSON Web Token (JWT) to access secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}