{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Banking Knowledge Assets Intellectual Property Portfolios-v5-spec",
    "description": "The Banking Knowledge Assets Portfolio API allows users to access a comprehensive list of intellectual property portfolios related to banking knowledge assets. This API serves financial institutions, inventors, and researchers looking to leverage valuable banking insights for innovation and strategic development. By retrieving detailed information about intellectual property holdings, users can identify opportunities for collaboration, investment, or knowledge acquisition in the banking sector. The API supports various use cases ranging from R&D evaluation to competitive analysis, enabling effective decision-making in the context of banking innovations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/knowledge-assets/intellectual-property-portfolio": {
      "get": {
        "tags": [
          "Intellectual Property"
        ],
        "summary": "Retrieve the intellectual property portfolio.",
        "description": "This endpoint allows users to retrieve comprehensive information about the intellectual property portfolio, including key assets, their statuses, and related documentation, facilitating a deeper understanding of the organization's intellectual properties.",
        "operationId": "listBankingKnowledgeAssetsIntellectualPropertyPortfolios",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body allows the client to retrieve information related to the intellectual property portfolio, including details about specific assets, their status, and associated metadata.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListBankingKnowledgeAssetsIntellectualPropertyPortfoliosRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed and the intellectual property portfolio details are returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBankingKnowledgeAssetsIntellectualPropertyPortfoliosResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListBankingKnowledgeAssetsIntellectualPropertyPortfoliosRequest": {
        "type": "string",
        "description": "This schema represents the request body for getting information about the intellectual property portfolio.",
        "example": "{}"
      },
      "ListBankingKnowledgeAssetsIntellectualPropertyPortfoliosResponse_200": {
        "title": "Intellectual Property Portfolio Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of intellectual property assets.",
            "example": [
              {
                "ipAssetId": "STANDARD",
                "assetType": "STANDARD",
                "registrationNumber": "NY-4587219",
                "jurisdiction": "STANDARD",
                "ownerLegalEntityId": "STANDARD",
                "renewalDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/IntellectualPropertyAsset"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Indicates the sorting method used for the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for fetching the intellectual property portfolio.",
        "example": {
          "items": [
            {
              "ipAssetId": "STANDARD",
              "assetType": "STANDARD",
              "registrationNumber": "NY-4587219",
              "jurisdiction": "STANDARD",
              "ownerLegalEntityId": "STANDARD",
              "renewalDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "cc95b981-46da-5726-97e5-bd2bd99f1df9",
            "correlationId": "ea49b3d9-e1d0-5a34-a2bd-10d01a279a04",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "IntellectualPropertyAsset": {
        "title": "Intellectual Property Asset",
        "type": "object",
        "properties": {
          "ipAssetId": {
            "type": "string",
            "description": "Unique identifier for the intellectual property asset.",
            "example": "IP123456"
          },
          "assetType": {
            "type": "string",
            "description": "Type of the intellectual property asset (e.g., patent, trademark).",
            "example": "patent"
          },
          "registrationNumber": {
            "type": "string",
            "description": "Registration number of the intellectual property asset.",
            "example": "REG12345"
          },
          "jurisdiction": {
            "type": "string",
            "description": "Jurisdiction where the asset is registered.",
            "example": "United States"
          },
          "ownerLegalEntityId": {
            "type": "string",
            "description": "Unique identifier for the legal entity that owns the asset.",
            "example": "LE123456"
          },
          "renewalDate": {
            "type": "string",
            "description": "Date by which the asset needs to be renewed.",
            "example": "2023-01-01"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the asset record.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the asset record.",
            "example": "2023-01-01T12:00:00Z"
          }
        },
        "description": "Schema representing an individual intellectual property asset."
      },
      "Pagination": {
        "title": "Pagination Metadata",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items across all pages.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Schema representing pagination information for the response."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating multiple requests and responses.",
            "example": "CORR123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "US-East"
          }
        },
        "description": "Schema representing additional metadata for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "intellectual-property-portfolio-search-intellectual-property-portfolio"
        },
        "example": "intellectual-property-portfolio-search-intellectual-property-portfolio"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method using Bearer tokens, specifically formatted as JSON Web Tokens (JWT). This allows secure transmission of information between parties as a JSON object.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}