{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Wholesale Trading Dealer Desk-spec",
    "description": "This API enables the creation of a Wholesale Trading Dealer Desk, allowing organizations to efficiently manage their trading operations. Typical consumers of this API include financial institutions and trading firms that aim to streamline their dealer desk functionality. The primary resource is the dealer desk, which serves as a centralized hub for executing trades and managing trading strategies. By utilizing this API, businesses can automate the setup process and enhance their trading capabilities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/wholesale-trading/dealer-desk": {
      "post": {
        "tags": [
          "Wholesale Trading"
        ],
        "summary": "Create a new dealer desk trade.",
        "description": "This operation allows you to create a new trade entry at the dealer desk within the wholesale trading platform. You can specify details such as trade type, quantity, and price. Ensure that all required information is included in the request body for successful trade creation.",
        "operationId": "createWholesaleTradingDealerDesk",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for initiating a dealer desk operation in wholesale trading. This body must conform to the defined schema and contain all necessary information for processing the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWholesaleTradingDealerDeskRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully with the provided details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateWholesaleTradingDealerDeskResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateWholesaleTradingDealerDeskRequest": {
        "title": "Dealer Desk Trading Request",
        "type": "object",
        "properties": {
          "tradingBookId": {
            "type": "string",
            "description": "Unique identifier for the trading book.",
            "example": "STANDARD"
          },
          "instrumentId": {
            "type": "string",
            "description": "Unique identifier for the financial instrument being traded.",
            "example": "STANDARD"
          },
          "side": {
            "type": "string",
            "description": "The side of the trade, such as 'buy' or 'sell'.",
            "example": "STANDARD"
          },
          "quantity": {
            "type": "integer",
            "description": "The number of units to be traded.",
            "format": "int32",
            "example": 1
          },
          "limitPrice": {
            "description": "The limit price for the trade, including value and currency.",
            "$ref": "#/components/schemas/LimitPrice"
          },
          "requestContext": {
            "description": "Context information related to the request, including identifiers and metadata.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for initiating a trading operation in the dealer desk. Contains details about the trade including trading book, instrument, side, quantity, limit price, and request context.",
        "example": {
          "tradingBookId": "STANDARD",
          "instrumentId": "STANDARD",
          "side": "STANDARD",
          "quantity": 1,
          "limitPrice": {
            "value": 100.0,
            "currency": "USD"
          },
          "requestContext": {
            "requestId": "51b8613d-2679-5b2b-8a66-7d70f282d50f",
            "correlationId": "fabaeb65-4fc7-5b25-b6a1-3f02c68263aa",
            "idempotencyKey": "363ef762-fd2c-5c20-9cd0-dfe4086dce17",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-519965"
            }
          }
        }
      },
      "LimitPrice": {
        "title": "Limit Price",
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The monetary value of the limit price.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency of the limit price, typically using ISO 4217 currency codes.",
            "example": "string"
          }
        },
        "description": "The limit price related to a trading operation, including value and currency details."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate request with other transactions.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that requests can be retried safely.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information for the trading request including various identifiers and timestamps."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel, such as 'API', 'UI', etc.",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device from which the request was made.",
            "example": "string"
          }
        },
        "description": "Details regarding the channel used for making the request, including ID, type, and device information."
      },
      "CreateWholesaleTradingDealerDeskResponse_201": {
        "title": "Dealer Desk Operations Response",
        "type": "object",
        "properties": {
          "tradingBookId": {
            "type": "string",
            "description": "Unique identifier for the trading book.",
            "example": "STANDARD"
          },
          "instrumentId": {
            "type": "string",
            "description": "Unique identifier for the financial instrument.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource.",
            "example": "RES-246879"
          },
          "status": {
            "type": "string",
            "description": "Status of the operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata regarding the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the Dealer Desk Operations POST request in the Wholesale Trading API.",
        "example": {
          "tradingBookId": "STANDARD",
          "instrumentId": "STANDARD",
          "resourceId": "RES-246879",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "d9fc8f3f-04e7-5e50-9063-c1d4af969108",
            "correlationId": "fabaeb65-4fc7-5b25-b6a1-3f02c68263aa",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Contains metadata related to the response of the Dealer Desk Operations."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "dealer-desk-create-dealer-desk"
        },
        "example": "dealer-desk-create-dealer-desk"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication, which involves the use of a token as part of requests to authenticate users. The token is typically a JSON Web Token (JWT) that contains information about the user and is signed to prevent tampering.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}