{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Loan Application By Collateral Id-spec",
    "description": "This API enables financial institutions to update specific loan applications associated with a given collateral ID. By utilizing PATCH requests, users can modify details of loan applications, enhancing the management of collateralized loans. Typical consumers include loan officers and application processors who need to ensure that the loan application reflects the most current information regarding associated collateral. This functionality supports effective loan management practices and improves the overall accuracy of financial records.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{param1}/collaterals/{collateralId}": {
      "patch": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Update collateral for loan application RES-100045",
        "description": "This operation allows you to update the collateral information associated with the loan application identified by RES-100045. Provide the necessary data to modify the existing collateral details.",
        "operationId": "updateLoanApplicationByCollateralId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          },
          {
            "$ref": "#/components/parameters/collateralId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to partially update the collateral information associated with the specified loan application. It allows clients to modify specific fields of the collateral without needing to resend the entire object.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLoanApplicationByCollateralIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully updated the collateral resource.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateLoanApplicationByCollateralIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateLoanApplicationByCollateralIdRequest": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string",
            "description": "A textual description of the collateral.",
            "example": "Customer banking request processed successfully"
          },
          "marketValue": {
            "description": "The current market value of the collateral.",
            "$ref": "#/components/schemas/MonetaryValue"
          },
          "forcedSaleValue": {
            "description": "The value of the collateral in forced sale conditions.",
            "$ref": "#/components/schemas/MonetaryValue"
          },
          "valuationDate": {
            "type": "string",
            "description": "The date when the collateral was valued.",
            "example": "2026-09-15"
          },
          "valuationProvider": {
            "type": "string",
            "description": "The provider or entity that conducted the valuation.",
            "example": "STANDARD"
          },
          "lienPriority": {
            "type": "string",
            "description": "The priority status of the lien on the collateral.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the collateral.",
            "example": "ACTIVE"
          },
          "requestContext": {
            "description": "Metadata related to the request for this collateral.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Represents a request body for patching loan application collaterals, containing all necessary details about the collateral.",
        "example": {
          "description": "Customer banking request processed successfully",
          "marketValue": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "forcedSaleValue": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "valuationDate": "2026-09-15",
          "valuationProvider": "STANDARD",
          "lienPriority": "STANDARD",
          "status": "ACTIVE",
          "requestContext": {
            "requestId": "3e061ef6-6237-51e7-a11b-b731fca450b3",
            "correlationId": "589a1629-cbd3-5187-8a3b-3d94dbc1fec8",
            "idempotencyKey": "477fe120-0f98-501c-a3c0-cd1daf47f6cb",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-985128"
            }
          }
        }
      },
      "MonetaryValue": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is denominated.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The amount of money represented.",
            "example": "100000"
          }
        },
        "description": "Represents a monetary value consisting of an amount and its currency."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier for correlating requests across systems.",
            "example": "corr-67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure idempotent operations.",
            "example": "idemp-abcde"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The originating system of the request.",
            "example": "Core Banking System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "Loan Management App"
          },
          "channel": {
            "description": "Information about the channel from which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contains metadata related to the request context, including identifiers and source details."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The identifier for the channel used.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., web, mobile, etc.).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used in the channel.",
            "example": "device-12345"
          }
        },
        "description": "Represents the channel through which the request was made, including its type and device details."
      },
      "UpdateLoanApplicationByCollateralIdResponse_200": {
        "type": "object",
        "properties": {
          "collateralType": {
            "type": "string",
            "description": "The type of collateral being submitted.",
            "example": "STANDARD"
          },
          "ownershipType": {
            "type": "string",
            "description": "The type of ownership for the collateral.",
            "example": "STANDARD"
          },
          "ownerCustomerIds": {
            "type": "array",
            "description": "List of customer IDs that own the collateral.",
            "example": [
              "CUST-767490"
            ],
            "items": {
              "type": "string",
              "description": "A unique identifier for a customer owning the collateral.",
              "example": "customer123"
            }
          },
          "description": {
            "type": "string",
            "description": "A description of the collateral.",
            "example": "Customer banking request processed successfully"
          },
          "marketValue": {
            "description": "The current market value of the collateral.",
            "$ref": "#/components/schemas/MarketValue"
          },
          "forcedSaleValue": {
            "description": "The value of the collateral if sold under forced circumstances.",
            "$ref": "#/components/schemas/MarketValue"
          },
          "valuationDate": {
            "type": "string",
            "description": "The date on which the collateral was valued.",
            "example": "2026-09-15"
          },
          "valuationProvider": {
            "type": "string",
            "description": "The entity that provided the valuation for the collateral.",
            "example": "STANDARD"
          },
          "lienPriority": {
            "type": "string",
            "description": "The priority of the lien on the collateral.",
            "example": "STANDARD"
          },
          "id": {
            "type": "string",
            "description": "A unique identifier for the collateral record.",
            "example": "051059e0-a262-2d51-84b3-f311f87456b1"
          },
          "status": {
            "type": "string",
            "description": "The current status of the collateral.",
            "example": "ACTIVE"
          },
          "loanToValuePercent": {
            "type": "string",
            "description": "The percentage ratio of the loan to the value of the collateral.",
            "example": "STANDARD"
          },
          "perfectedAt": {
            "type": "string",
            "description": "The date when the lien on the collateral was perfected.",
            "example": "2026-08-11T12:00:00Z"
          },
          "audit": {
            "description": "Audit information related to the collateral.",
            "$ref": "#/components/schemas/AuditInfo"
          },
          "metadata": {
            "description": "Metadata associated with the collateral response.",
            "$ref": "#/components/schemas/MetadataInfo"
          }
        },
        "description": "Represents the response schema for the loan application collateral details.",
        "example": {
          "collateralType": "STANDARD",
          "ownershipType": "STANDARD",
          "ownerCustomerIds": [
            "CUST-767490"
          ],
          "description": "Customer banking request processed successfully",
          "marketValue": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "forcedSaleValue": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "valuationDate": "2026-09-15",
          "valuationProvider": "STANDARD",
          "lienPriority": "STANDARD",
          "id": "051059e0-a262-2d51-84b3-f311f87456b1",
          "status": "ACTIVE",
          "loanToValuePercent": "STANDARD",
          "perfectedAt": "2026-08-11T12:00:00Z",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "386c1992-2c22-538c-93dd-0fd7f3761739",
            "correlationId": "589a1629-cbd3-5187-8a3b-3d94dbc1fec8",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "MarketValue": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency in which the market value is denominated.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The amount representing the market value.",
            "example": "250000"
          }
        },
        "description": "Represents the market value of the collateral in a specified currency."
      },
      "AuditInfo": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp of when the collateral record was created.",
            "example": "2023-01-01T12:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the collateral record.",
            "example": "admin"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the collateral record.",
            "example": "2023-01-10T12:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the collateral record.",
            "example": "admin"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the collateral record.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Represents the audit information for the collateral record."
      },
      "MetadataInfo": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response789"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used to correlate different service calls.",
            "example": "correlation123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the collateral was processed.",
            "example": "US-East"
          }
        },
        "description": "Contains metadata regarding the collateral response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "collateralId": {
        "name": "collateralId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the endpoint that processed the loan application collateral request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-update-collateral"
        },
        "example": "banking-loans-openapi-update-collateral"
      },
      "X-Runtime-App": {
        "description": "The name or identifier of the runtime application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which requires a bearer token to be included in the Authorization header of requests. The token should be in JSON Web Token (JWT) format.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}