{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_File Payments API",
    "description": "The File Payments API facilitates the secure submission and processing of bulk payment files within the open banking framework. This API is designed for financial institutions and payment service providers to automate and streamline the execution of multiple transactions. Users can upload payment files for processing, ensuring timely transfers and enhanced accuracy in financial operations. Common use cases include payroll processing, supplier payments, and other bulk payment activities that require efficient handling of transactions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/file-payments": {
      "post": {
        "tags": [
          "Payment Initiation"
        ],
        "summary": "Initiate a file payment via PISP.",
        "description": "This endpoint allows users to initiate a file payment using a Payment Initiation Service Provider (PISP). It facilitates bulk payment processing, enabling organizations to efficiently manage multiple transactions in a single submission.",
        "operationId": "createPispFilePayment",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body contains the details necessary to initiate a file payment operation. Please ensure that all required fields are populated accurately to facilitate processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePispFilePaymentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The payment file has been successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePispFilePaymentResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreatePispFilePaymentRequest": {
        "type": "object",
        "properties": {
          "Data": {
            "$ref": "#/components/schemas/FilePaymentsData"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for file payments operations.",
        "example": {
          "Data": {
            "ConsentId": "STANDARD",
            "Initiation": {
              "FileType": "STANDARD",
              "FileHash": "STANDARD",
              "FileReference": "STANDARD",
              "NumberOfTransactions": "STANDARD",
              "ControlSum": 100.0,
              "RequestedExecutionDateTime": "2026-09-15T14:30:00Z",
              "LocalInstrument": "STANDARD",
              "CreditorAgent": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "LEI": "STANDARD",
                "PostalAddress": {
                  "AddressType": "STANDARD",
                  "Department": "STANDARD",
                  "SubDepartment": "STANDARD",
                  "StreetName": "Northstar Banking Service",
                  "BuildingNumber": "STANDARD",
                  "BuildingName": "Northstar Banking Service",
                  "Floor": "STANDARD",
                  "UnitNumber": "STANDARD"
                }
              }
            }
          },
          "requestContext": {
            "requestId": "e3f157c5-173d-5e96-9a05-92e446b70017",
            "correlationId": "29031874-ffe5-5fbb-b067-fa2514e97fbb",
            "idempotencyKey": "b0b1b086-1fef-57de-9da4-6b486b8f00b2",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-930440"
            }
          }
        }
      },
      "FilePaymentsData": {
        "type": "object",
        "properties": {
          "ConsentId": {
            "type": "string",
            "description": "The unique identifier for the consent.",
            "example": "string"
          },
          "Initiation": {
            "$ref": "#/components/schemas/FilePaymentInitiation"
          }
        },
        "description": "Schema containing payment file data."
      },
      "FilePaymentInitiation": {
        "type": "object",
        "properties": {
          "FileType": {
            "type": "string",
            "description": "Type of the file being processed.",
            "example": "string"
          },
          "FileHash": {
            "type": "string",
            "description": "Hash of the file for integrity verification.",
            "example": "string"
          },
          "FileReference": {
            "type": "string",
            "description": "Reference identifier for the file.",
            "example": "string"
          },
          "NumberOfTransactions": {
            "type": "string",
            "description": "Total number of transactions in the file.",
            "example": "string"
          },
          "ControlSum": {
            "type": "number",
            "description": "Control sum of the transactions in the file.",
            "example": 0.0
          },
          "RequestedExecutionDateTime": {
            "type": "string",
            "description": "Requested date and time for executing the payment.",
            "example": "string"
          },
          "LocalInstrument": {
            "type": "string",
            "description": "Local instrument used for the transaction.",
            "example": "string"
          },
          "CreditorAgent": {
            "$ref": "#/components/schemas/CreditorAgent"
          }
        },
        "description": "Schema detailing the initiation of a file payment."
      },
      "CreditorAgent": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "Name of the scheme used for identification.",
            "example": "string"
          },
          "Identification": {
            "type": "string",
            "description": "Identifier for the creditor agent.",
            "example": "string"
          },
          "Name": {
            "type": "string",
            "description": "Name of the creditor agent.",
            "example": "string"
          },
          "LEI": {
            "type": "string",
            "description": "Legal Entity Identifier of the creditor agent.",
            "example": "string"
          },
          "PostalAddress": {
            "$ref": "#/components/schemas/PostAddress"
          }
        },
        "description": "Schema representing the creditor's agent information."
      },
      "PostalAddress": {
        "type": "object",
        "properties": {
          "AddressType": {
            "type": "string",
            "description": "Type of address (e.g., residential, business).",
            "example": "string"
          },
          "Department": {
            "type": "string",
            "description": "Department within the organization.",
            "example": "string"
          },
          "SubDepartment": {
            "type": "string",
            "description": "Sub-department within the organization.",
            "example": "string"
          },
          "StreetName": {
            "type": "string",
            "description": "Street name of the postal address.",
            "example": "string"
          },
          "BuildingNumber": {
            "type": "string",
            "description": "Building number of the postal address.",
            "example": "string"
          },
          "BuildingName": {
            "type": "string",
            "description": "Name of the building (if applicable).",
            "example": "string"
          },
          "Floor": {
            "type": "string",
            "description": "Floor number of the address.",
            "example": "string"
          },
          "UnitNumber": {
            "type": "string",
            "description": "Unit number of the address.",
            "example": "string"
          }
        },
        "description": "Schema representing the postal address of the creditor agent."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key for ensuring idempotent operations.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system originating the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application originating the request.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the request.",
            "example": "string"
          }
        },
        "description": "Schema representing the channel through which the request was made."
      },
      "CreatePispFilePaymentResponse_201": {
        "title": "File Payment Response",
        "type": "object",
        "properties": {
          "Data": {
            "$ref": "#/components/schemas/FilePaymentData"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response for file payment operations.",
        "example": {
          "Data": {
            "FilePaymentId": "PAY-569881",
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "Status": "ACTIVE",
            "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
            "StatusReason": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "Path": "STANDARD"
              }
            ],
            "Charges": [
              {
                "ChargeBearer": "STANDARD",
                "Type": "STANDARD",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            ],
            "Initiation": {
              "FileType": "STANDARD",
              "FileHash": "STANDARD",
              "FileReference": "STANDARD",
              "NumberOfTransactions": "STANDARD",
              "ControlSum": 100.0,
              "RequestedExecutionDateTime": "2026-09-15T14:30:00Z",
              "LocalInstrument": "STANDARD",
              "DebtorAccount": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD",
                "Proxy": {
                  "Identification": "STANDARD",
                  "Code": "SUCCESS",
                  "Type": "STANDARD"
                }
              },
              "CreditorAgent": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "LEI": "STANDARD",
                "PostalAddress": {
                  "AddressType": "STANDARD",
                  "Department": "STANDARD",
                  "SubDepartment": "STANDARD",
                  "StreetName": "Northstar Banking Service",
                  "BuildingNumber": "STANDARD"
                }
              }
            }
          },
          "metadata": {
            "responseId": "6aa31550-361f-53c6-affd-84f5519f3fe0",
            "correlationId": "29031874-ffe5-5fbb-b067-fa2514e97fbb",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "FilePaymentData": {
        "title": "File Payment Data",
        "type": "object",
        "properties": {
          "FilePaymentId": {
            "type": "string",
            "description": "The unique identifier for the file payment.",
            "example": "string"
          },
          "ConsentId": {
            "type": "string",
            "description": "The unique identifier for the consent associated with the file payment.",
            "example": "string"
          },
          "CreationDateTime": {
            "type": "string",
            "description": "The date and time when the file payment was created.",
            "example": "string"
          },
          "Status": {
            "type": "string",
            "description": "The current status of the file payment.",
            "example": "string"
          },
          "StatusUpdateDateTime": {
            "type": "string",
            "description": "The date and time when the status was last updated.",
            "example": "string"
          },
          "StatusReason": {
            "type": "array",
            "description": "Reasons for the current status of the file payment.",
            "example": [
              {
                "code": "string",
                "description": "string",
                "Path": "string"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/StatusReason"
            }
          },
          "Charges": {
            "type": "array",
            "description": "List of charges associated with the file payment.",
            "example": [
              {
                "ChargeBearer": "string",
                "Type": "string",
                "Amount": {
                  "Amount": "string",
                  "Currency": "string"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Charge"
            }
          },
          "Initiation": {
            "$ref": "#/components/schemas/Initiation"
          }
        },
        "description": "Details about the file payment operation."
      },
      "StatusReason": {
        "title": "Status Reason",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "The status code.",
            "example": "string"
          },
          "description": {
            "type": "string",
            "description": "A description of the status reason.",
            "example": "string"
          },
          "Path": {
            "type": "string",
            "description": "The path or source related to the status.",
            "example": "string"
          }
        },
        "description": "Detail information about the reason for a specific status of the file payment."
      },
      "Charge": {
        "title": "Charge",
        "type": "object",
        "properties": {
          "ChargeBearer": {
            "type": "string",
            "description": "The party that bears the charge.",
            "example": "string"
          },
          "Type": {
            "type": "string",
            "description": "The type of charge.",
            "example": "string"
          },
          "Amount": {
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "Details about the charges associated with a file payment."
      },
      "Amount": {
        "title": "Amount",
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The amount of money.",
            "example": "string"
          },
          "Currency": {
            "type": "string",
            "description": "The currency of the amount.",
            "example": "string"
          }
        },
        "description": "Represents the monetary value and currency."
      },
      "Initiation": {
        "title": "Initiation",
        "type": "object",
        "properties": {
          "FileType": {
            "type": "string",
            "description": "The type of file being processed.",
            "example": "string"
          },
          "FileHash": {
            "type": "string",
            "description": "The hash of the file for integrity verification.",
            "example": "string"
          },
          "FileReference": {
            "type": "string",
            "description": "A reference to the file for tracking.",
            "example": "string"
          },
          "NumberOfTransactions": {
            "type": "string",
            "description": "The total number of transactions contained within the file.",
            "example": "string"
          },
          "ControlSum": {
            "type": "number",
            "description": "The total amount of all transactions in the file.",
            "example": 0.0
          },
          "RequestedExecutionDateTime": {
            "type": "string",
            "description": "The requested date and time for execution.",
            "example": "string"
          },
          "LocalInstrument": {
            "type": "string",
            "description": "The local instrument associated with the payment.",
            "example": "string"
          },
          "DebtorAccount": {
            "$ref": "#/components/schemas/Account"
          },
          "CreditorAgent": {
            "$ref": "#/components/schemas/Account"
          }
        },
        "description": "Details regarding how the file payment was initiated."
      },
      "Account": {
        "title": "Account",
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "The scheme name of the account.",
            "example": "string"
          },
          "Identification": {
            "type": "string",
            "description": "The unique identifier for the account.",
            "example": "string"
          },
          "Name": {
            "type": "string",
            "description": "The name associated with the account.",
            "example": "string"
          },
          "SecondaryIdentification": {
            "type": "string",
            "description": "Any secondary identifier for the account.",
            "example": "string"
          },
          "Proxy": {
            "$ref": "#/components/schemas/Proxy"
          }
        },
        "description": "Detailed information about an account involved in transactions."
      },
      "Proxy": {
        "title": "Proxy",
        "type": "object",
        "properties": {
          "Identification": {
            "type": "string",
            "description": "The unique identification used for proxy purposes.",
            "example": "string"
          },
          "Code": {
            "type": "string",
            "description": "The code associated with the proxy.",
            "example": "string"
          },
          "Type": {
            "type": "string",
            "description": "The type of proxy.",
            "example": "string"
          }
        },
        "description": "Details regarding proxy identifiers for the account."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracking the request-response correlation.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Information about the response metadata."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-submit-file-payment"
        },
        "example": "payment-initiation-openapi-submit-file-payment"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is executing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a bearer token, typically in the form of a JSON Web Token (JWT), to authorize requests. This method is widely used for securing APIs.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}