{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Banking Human Resource Management Human Resources Direction By Human Resources Direction Id-v5-spec",
    "description": "The Human Resources Direction Retrieval API enables users to access detailed information about specific human resources directions within a banking context. By providing a unique identifier, consumers can retrieve data related to various HR directives and policies crucial for managing HR operations effectively. This API serves HR professionals and banking administrators seeking to streamline their management processes and ensure compliance with organizational guidelines. Use cases include auditing HR decisions, tracking policy implementation, and enhancing employee management strategies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/human-resources-direction/{humanResourcesDirectionId}": {
      "get": {
        "tags": [
          "Human Resources Management"
        ],
        "summary": "Retrieve a specific human resources direction by its ID.",
        "description": "This endpoint allows you to fetch detailed information about a particular human resources direction, identified by its unique ID. Use this operation to obtain the necessary details for analysis or reporting.",
        "operationId": "getBankingHumanResourceManagementHumanResourcesDirectionByHumanResourcesDirectionId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/humanResourcesDirectionId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to provide the necessary parameters for retrieving the human resources direction associated with the specified resource. It should conform to the defined schema to ensure that the request is processed correctly.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBankingHumanResourceManagementHumanResourcesDirectionByHumanResourcesDirectionIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested resource data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBankingHumanResourceManagementHumanResourcesDirectionByHumanResourcesDirectionIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBankingHumanResourceManagementHumanResourcesDirectionByHumanResourcesDirectionIdRequest": {
        "type": "string",
        "description": "A string representation of the request body for the Human Resources Operations GET request.",
        "example": "{}"
      },
      "GetBankingHumanResourceManagementHumanResourcesDirectionByHumanResourcesDirectionIdResponse_200": {
        "title": "Human Resource Management Response Schema",
        "type": "object",
        "properties": {
          "employeeId": {
            "type": "string",
            "description": "The unique identifier for the employee.",
            "example": "EMP-517414"
          },
          "assignmentId": {
            "type": "string",
            "description": "The unique identifier for the employee's assignment.",
            "example": "STANDARD"
          },
          "departmentId": {
            "type": "string",
            "description": "The unique identifier for the department associated with the employee.",
            "example": "STANDARD"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date when the record becomes effective.",
            "example": "2026-09-15"
          },
          "countryCode": {
            "type": "string",
            "description": "The country code for the employee's location.",
            "example": "US"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record (e.g., Active, Inactive).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for retrieving human resource management operations.",
        "example": {
          "employeeId": "EMP-517414",
          "assignmentId": "STANDARD",
          "departmentId": "STANDARD",
          "effectiveDate": "2026-09-15",
          "countryCode": "US",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "47ffb88f-8c83-57c9-840d-cc6a1d223b91",
            "correlationId": "eaec632e-da0c-5ade-88ab-ceaef88a7593",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Schema",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "abc-123"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to correlate requests and responses.",
            "example": "xyz-789"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "us-east-1"
          }
        },
        "description": "This schema defines the metadata structure for responses including correlation information."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "humanResourcesDirectionId": {
        "name": "humanResourcesDirectionId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the endpoint that was called. This could be used for tracking and analytics purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "human-resources-direction-get-human-resources-direction"
        },
        "example": "human-resources-direction-get-human-resources-direction"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request. This helps in identifying which application processed the request in a multi-service architecture.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token for authentication. The token should be a JSON Web Token (JWT) that grants access to secure resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}