{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Issued Device Tracking API",
    "description": "The Issued Device Tracking API enables organizations to monitor and manage the devices issued to employees or users across various banking operational services. This API provides access to detailed tracking information, ensuring that all devices are accounted for and managed effectively. Typical consumers include IT departments and asset management teams who require insights into device assignments, usage, and status. By utilizing this API, organizations can enhance their operational efficiency and compliance with asset management policies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/issued-device-tracking": {
      "get": {
        "tags": [
          "Issued Device Management"
        ],
        "summary": "Retrieve issued device tracking information.",
        "description": "Allows users to access details about the tracking of issued devices within the operational services framework. This endpoint provides information on the status and location of devices that have been issued, helping organizations manage their assets effectively.",
        "operationId": "getIssuedDeviceTracking",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body containing criteria for tracking issued devices. This must include specific parameters that define the scope and filters for the device tracking operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetIssuedDeviceTrackingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the issued device tracking data.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetIssuedDeviceTrackingResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetIssuedDeviceTrackingRequest": {
        "title": "Issued Device Tracking Request Body",
        "type": "string",
        "description": "This schema represents the request body for the Issued Device Tracking operation. It is used to specify the necessary parameters for tracking issued devices.",
        "example": "{}"
      },
      "GetIssuedDeviceTrackingResponse_200": {
        "title": "Issued Device Tracking Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of issued devices.",
            "example": [
              {
                "deviceId": "DEV-574646",
                "deviceType": "STANDARD",
                "assignedPartyId": "PARTY-790957",
                "serialNumber": "STANDARD",
                "deviceStatus": "ACTIVE",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/IssuedDevice"
            }
          },
          "pagination": {
            "description": "Information related to the pagination of the results.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting criteria applied to the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Meta-information regarding the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response format for the issued device tracking operation.",
        "example": {
          "items": [
            {
              "deviceId": "DEV-574646",
              "deviceType": "STANDARD",
              "assignedPartyId": "PARTY-790957",
              "serialNumber": "STANDARD",
              "deviceStatus": "ACTIVE",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "ad87ef61-073a-5645-a5a0-15950933d3c5",
            "correlationId": "c383572f-3bb2-5fc3-a8be-c60cf7133c2e",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "IssuedDevice": {
        "title": "Issued Device",
        "type": "object",
        "properties": {
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device.",
            "example": "abc123"
          },
          "deviceType": {
            "type": "string",
            "description": "The type of device issued.",
            "example": "smartphone"
          },
          "assignedPartyId": {
            "type": "string",
            "description": "The ID of the party to whom the device is assigned.",
            "example": "partyId-001"
          },
          "serialNumber": {
            "type": "string",
            "description": "The serial number of the device.",
            "example": "SN123456"
          },
          "deviceStatus": {
            "type": "string",
            "description": "Current status of the device.",
            "example": "active"
          },
          "recordStatus": {
            "type": "string",
            "description": "Status indicating the validity of the record.",
            "example": "valid"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the device details were last updated.",
            "example": "2023-10-01T10:00:00Z"
          }
        },
        "description": "This schema represents the details of an issued device."
      },
      "Pagination": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items across all pages.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Schema representing pagination information for the response."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request.",
            "example": "correlation-002"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "us-west-1"
          }
        },
        "description": "Schema representing metadata for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "issued-device-tracking-search-issued-device-tracking"
        },
        "example": "issued-device-tracking-search-issued-device-tracking"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, where a JSON Web Token (JWT) is provided as part of the authorization header for secure access to the API. The JWT should be obtained through a proper authentication process.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}