{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Consumer Service By Param1-spec",
    "description": "The Brokered Product Consumer Service API enables developers to access detailed information about consumer services associated with a specific brokered product parameter. This API operatively supports scenarios where businesses need to retrieve essential consumer service details, enhancing customer engagement and service offerings. Typical consumers of this API include financial institutions, service providers, and developers building integration solutions that require insights into consumer services linked to brokered products. It provides streamlined access to valuable service data, catering to the needs of dynamic banking environments.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9003",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/consumer-services/brokered-product/{param1}": {
      "get": {
        "tags": [
          "Brokered Product"
        ],
        "summary": "Retrieve details of a specific brokered product.",
        "description": "This endpoint allows clients to fetch the details of a brokered product identified by its unique ID. The product information includes various attributes that define the product's offerings and specifications, enabling users to understand the features and options available.",
        "operationId": "getConsumerServiceByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve details for the specified brokered product. Make sure to include the necessary fields as defined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetConsumerServiceByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the requested resource.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetConsumerServiceByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetConsumerServiceByParam1Request": {
        "type": "string",
        "description": "A string representing the request body for the GET operation of the Brokered Product service.",
        "example": "{}"
      },
      "GetConsumerServiceByParam1Response_200": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Identifier for the customer making the service request.",
            "example": "CUST-277588"
          },
          "serviceRequestId": {
            "type": "string",
            "description": "Unique identifier for the service request.",
            "example": "3d25d003-78d7-50c3-b191-ba7c45cec0ab"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product involved in the service request.",
            "example": "CHK-PREMIUM-US"
          },
          "amount": {
            "description": "The monetary amount related to the product request.",
            "$ref": "#/components/schemas/Amount"
          },
          "requestedDate": {
            "type": "string",
            "description": "The date when the service was requested.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the service request record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the service request.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional information related to the service request.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the product brokered service request. This object contains details about the customer and their service request related to a specific product.",
        "example": {
          "customerId": "CUST-277588",
          "serviceRequestId": "3d25d003-78d7-50c3-b191-ba7c45cec0ab",
          "productCode": "CHK-PREMIUM-US",
          "amount": {
            "value": 100,
            "currency": "USD"
          },
          "requestedDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "c32f4637-4c59-5296-ab4d-1bf41df5bf0d",
            "correlationId": "8d4bdb66-902f-58d3-9c42-f7290ec27371",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Amount": {
        "type": "object",
        "properties": {
          "value": {
            "type": "integer",
            "description": "The numerical value of the amount.",
            "format": "int32",
            "example": 1000
          },
          "currency": {
            "type": "string",
            "description": "The currency code for the amount, following ISO 4217 standards.",
            "example": "USD"
          }
        },
        "description": "Represents the amount associated with a transaction, including its value and currency."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response generated by the service.",
            "example": "RESP-54321"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate the request and response across services.",
            "example": "CORR-98765"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographic region where the processing of the request occurred.",
            "example": "US-EAST"
          }
        },
        "description": "Metadata associated with the service request, providing additional context."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "brokered-product-get-brokered-product"
        },
        "example": "brokered-product-get-brokered-product"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication with JSON Web Tokens (JWT). Use the 'Authorization' header to include the bearer token when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}