{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Routing Decisions API",
    "description": "The Routing Decisions API facilitates intelligent direction of customer interactions across banking channels. This API endpoints allow businesses to retrieve routing decisions based on specific parameters, enabling seamless customer experience management. Typical consumers include banking institutions seeking to optimize contact handling and enhance service delivery. By leveraging this API, organizations can ensure that client inquiries are directed to the most appropriate resources, improving efficiency and customer satisfaction.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cross-channel/contact-routing/routing-decisions/{param1}": {
      "get": {
        "tags": [
          "Contact Routing"
        ],
        "summary": "Retrieve a specific routing decision for a contact.",
        "description": "This endpoint allows you to fetch the details of a specific routing decision identified by the ID provided. It is essential for understanding how contacts are being routed based on defined criteria.",
        "operationId": "getRoutingDecisionForContactCrossChannel",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the routing decision for a specific contact based on the resource identifier 'RES-100045'. It is expected to be formatted in JSON and to align with the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetRoutingDecisionForContactCrossChannelRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request accepted and is being processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRoutingDecisionForContactCrossChannelResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetRoutingDecisionForContactCrossChannelRequest": {
        "type": "string",
        "description": "The request body for the GET operation related to routing decisions in a cross-channel contact routing system. This body is expected to be a JSON string representation.",
        "example": "{}"
      },
      "GetRoutingDecisionForContactCrossChannelResponse_202": {
        "title": "Routing Decision Response",
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "The unique identifier for the party involved in the interaction.",
            "example": "PARTY-244442"
          },
          "interactionId": {
            "type": "string",
            "description": "The unique identifier for the specific interaction.",
            "example": "INT-658346"
          },
          "processingReference": {
            "type": "string",
            "description": "A reference identifier used for tracking the processing of the request.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The status of the routing decision.",
            "example": "ACTIVE"
          },
          "acceptedAt": {
            "type": "string",
            "description": "A timestamp indicating when the routing decision was accepted.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the routing decision.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for routing decisions in a cross-channel context.",
        "example": {
          "partyId": "PARTY-244442",
          "interactionId": "INT-658346",
          "processingReference": "STANDARD",
          "status": "ACTIVE",
          "acceptedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "ea7513bb-c6a1-521e-a1e9-7b0916d3361e",
            "correlationId": "eb804cbb-eaf7-55ba-b744-a43746a58b96",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata for Routing Decision",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "abcde-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier used to link related requests and responses.",
            "example": "corr-67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "A timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:05:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "us-east-1"
          }
        },
        "description": "This schema defines the metadata associated with a routing decision response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the endpoint through which the request was processed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "contact-routing-route-contact-routing"
        },
        "example": "contact-routing-route-contact-routing"
      },
      "X-Runtime-App": {
        "description": "The name of the application where the request was executed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      },
      "X-Workflow-Id": {
        "description": "The unique identifier for the workflow that generated this routing decision.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-071"
        },
        "example": "WF-071"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Branch Appointment and Service Fulfillment"
        },
        "example": "Branch Appointment and Service Fulfillment"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "8a1b8c83-24e4-451d-869b-da92eea1f9f7"
        },
        "example": "8a1b8c83-24e4-451d-869b-da92eea1f9f7"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication, which is implemented by providing a JSON Web Token (JWT) in the `Authorization` header. The token must be acquired through a prior authentication process and is used to verify the identity and authorization of the user.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}