{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Pisp International Scheduled Payment-spec",
    "description": "This API facilitates the creation of international scheduled payments via the Payment Initiation Service Provider (PISP) framework. It streamlines cross-border payment processing, allowing businesses to automate and schedule payments efficiently. Typical consumers include financial institutions and businesses looking to manage periodic international transfers seamlessly. By utilizing this API, developers can integrate robust payment scheduling functionalities into their applications, enhancing user experience and operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/international-scheduled-payments": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Create an international scheduled payment.",
        "description": "This endpoint allows the user to initiate an international scheduled payment, providing necessary details such as the amount, recipient information, and payment schedule.",
        "operationId": "createPispInternationalScheduledPayment",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate an international scheduled payment through the PISP (Payment Initiation Service Provider) endpoint. It includes all necessary details regarding the transaction, such as the payment amount, currency, recipient information, and scheduled date for the transaction.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePispInternationalScheduledPaymentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The payment has been successfully scheduled.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePispInternationalScheduledPaymentResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreatePispInternationalScheduledPaymentRequest": {
        "type": "object",
        "properties": {
          "Data": {
            "$ref": "#/components/schemas/PaymentData"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for the POST operation of international scheduled payments.",
        "example": {
          "Data": {
            "ConsentId": "STANDARD",
            "Initiation": {
              "InstructionIdentification": "STANDARD",
              "EndToEndIdentification": "STANDARD",
              "LocalInstrument": "STANDARD",
              "InstructionPriority": "STANDARD",
              "ExtendedPurpose": "STANDARD",
              "ChargeBearer": "STANDARD",
              "RequestedExecutionDateTime": "2026-09-15T14:30:00Z",
              "CurrencyOfTransfer": "STANDARD",
              "DestinationCountryCode": "US",
              "InstructedAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              },
              "ExchangeRateInformation": {
                "UnitCurrency": "USD",
                "ExchangeRate": 100.0,
                "RateType": "STANDARD",
                "ContractIdentification": "STANDARD"
              },
              "DebtorAccount": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD"
              }
            }
          },
          "requestContext": {
            "requestId": "d3279cb2-44dc-5769-9f5c-1465daff8cf9",
            "correlationId": "d5b4a1cb-4e49-57a5-906a-a5ca6b76a53a",
            "idempotencyKey": "25ecc5ca-3cf7-576e-b34e-3c95b1390c23",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-215121"
            }
          }
        }
      },
      "PaymentData": {
        "type": "object",
        "properties": {
          "ConsentId": {
            "type": "string",
            "description": "Identifier for the consent given for the payment.",
            "example": "string"
          },
          "Initiation": {
            "$ref": "#/components/schemas/PaymentInitiation"
          }
        },
        "description": "Schema representing payment data for the transaction."
      },
      "PaymentInitiation": {
        "type": "object",
        "properties": {
          "InstructionIdentification": {
            "type": "string",
            "description": "Unique identifier for the payment instruction.",
            "example": "instruction-567"
          },
          "EndToEndIdentification": {
            "type": "string",
            "description": "Unique identifier for tracking the payment end to end.",
            "example": "endtoend-890"
          },
          "LocalInstrument": {
            "type": "string",
            "description": "Type of local instrument used for the transaction.",
            "example": "SEPA"
          },
          "InstructionPriority": {
            "type": "string",
            "description": "Priority of the payment instruction.",
            "example": "High"
          },
          "ExtendedPurpose": {
            "type": "string",
            "description": "Extended purpose of the payment.",
            "example": "Invoice Payment"
          },
          "ChargeBearer": {
            "type": "string",
            "description": "Entity that bears the charges for the transaction.",
            "example": "SHA"
          },
          "RequestedExecutionDateTime": {
            "type": "string",
            "description": "Requested date and time for payment execution.",
            "example": "2023-04-01T00:00:00Z"
          },
          "CurrencyOfTransfer": {
            "type": "string",
            "description": "Currency used for the transfer.",
            "example": "EUR"
          },
          "DestinationCountryCode": {
            "type": "string",
            "description": "Country code of the payment destination.",
            "example": "DE"
          },
          "InstructedAmount": {
            "type": "object",
            "description": "Amount to be transferred in the transaction.",
            "$ref": "#/components/schemas/Amount"
          },
          "ExchangeRateInformation": {
            "type": "object",
            "description": "Information regarding the exchange rate applied for the payment.",
            "$ref": "#/components/schemas/ExchangeRateInfo"
          }
        },
        "description": "Information regarding the initiation of the payment."
      },
      "Amount": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "Amount value.",
            "example": "100.00"
          },
          "Currency": {
            "type": "string",
            "description": "Currency of the amount.",
            "example": "EUR"
          }
        },
        "description": "Representation of an amount in a specific currency."
      },
      "ExchangeRateInformation": {
        "type": "object",
        "properties": {
          "UnitCurrency": {
            "type": "string",
            "description": "Currency in which the exchange rate is defined.",
            "example": "EUR"
          },
          "ExchangeRate": {
            "type": "number",
            "description": "The exchange rate for currency conversion.",
            "example": 0.85
          },
          "RateType": {
            "type": "string",
            "description": "Type of exchange rate applied.",
            "example": "FIXED"
          },
          "ContractIdentification": {
            "type": "string",
            "description": "Identifier for the exchange rate contract.",
            "example": "contract-123"
          }
        },
        "description": "Schema containing exchange rate information for the transaction."
      },
      "DebtorAccount": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "The scheme name used for account identification.",
            "example": "IBAN"
          },
          "Identification": {
            "type": "string",
            "description": "Identification of the debtor's account.",
            "example": "DE89370400440532013000"
          },
          "Name": {
            "type": "string",
            "description": "Name of the debtor.",
            "example": "John Doe"
          },
          "SecondaryIdentification": {
            "type": "string",
            "description": "Secondary identifier for the debtor account.",
            "example": "123456"
          }
        },
        "description": "Schema representing the debtor's account details."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "request-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracing.",
            "example": "correlation-456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key for ensuring idempotency of the operation.",
            "example": "key-789"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Source system generating the request.",
            "example": "core-system"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Source application from which the request originated.",
            "example": "payment-app"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel used.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device used to create the request.",
            "example": "device-abc"
          }
        },
        "description": "Schema representing the channel details from which the request was made."
      },
      "CreatePispInternationalScheduledPaymentResponse_201": {
        "title": "International Scheduled Payments Response",
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "paymentId": {
                "type": "string",
                "description": "Unique identifier for the payment.",
                "example": "12345"
              },
              "ConsentId": {
                "type": "string",
                "description": "Unique identifier for the consent linked to the payment.",
                "example": "consent-123"
              },
              "CreationDateTime": {
                "type": "string",
                "description": "Date and time when the payment was created.",
                "example": "2023-04-01T00:00:00Z"
              },
              "Status": {
                "type": "string",
                "description": "Current status of the payment.",
                "example": "Pending"
              },
              "StatusUpdateDateTime": {
                "type": "string",
                "description": "Date and time when the status was last updated.",
                "example": "2023-04-01T01:00:00Z"
              },
              "StatusReason": {
                "type": "array",
                "description": "List of reasons for the current payment status.",
                "example": [
                  {
                    "code": "001",
                    "description": "Payment pending authorization.",
                    "Path": "status.reason.path"
                  }
                ],
                "items": {
                  "$ref": "#/components/schemas/StatusReasonDetail"
                }
              },
              "ExpectedExecutionDateTime": {
                "type": "string",
                "description": "Expected date and time when the payment will be executed.",
                "example": "2023-04-02T00:00:00Z"
              },
              "ExpectedSettlementDateTime": {
                "type": "string",
                "description": "Expected date and time when the payment will be settled.",
                "example": "2023-04-03T00:00:00Z"
              },
              "Refund": {
                "type": "object",
                "$ref": "#/components/schemas/RefundDetails"
              },
              "Charges": {
                "type": "array",
                "description": "List of charges associated with the payment.",
                "example": [
                  {
                    "ChargeBearer": "BEN",
                    "Type": "Service Fee",
                    "Amount": {
                      "Amount": "5.00",
                      "Currency": "USD"
                    }
                  }
                ],
                "items": {
                  "$ref": "#/components/schemas/ChargeDetail"
                }
              },
              "ExchangeRateInformation": {
                "type": "object",
                "$ref": "#/components/schemas/ExchangeRateInfo"
              },
              "Initiation": {
                "type": "object",
                "$ref": "#/components/schemas/PaymentInitiation"
              }
            },
            "example": {
              "paymentId": "PAY-138605",
              "ConsentId": "STANDARD",
              "CreationDateTime": "2026-09-15T14:30:00Z",
              "Status": "ACTIVE",
              "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
              "StatusReason": [
                {
                  "code": "SUCCESS",
                  "description": "Customer banking request processed successfully",
                  "Path": "STANDARD"
                }
              ],
              "ExpectedExecutionDateTime": "2026-09-15T14:30:00Z",
              "ExpectedSettlementDateTime": "2026-09-15T14:30:00Z",
              "Refund": {
                "Account": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "SecondaryIdentification": "STANDARD"
                }
              },
              "Charges": [
                {
                  "ChargeBearer": "STANDARD",
                  "Type": "STANDARD",
                  "Amount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  }
                }
              ],
              "ExchangeRateInformation": {
                "UnitCurrency": "USD",
                "ExchangeRate": 100.0,
                "RateType": "STANDARD",
                "ContractIdentification": "STANDARD",
                "ExpirationDateTime": "2026-09-15T14:30:00Z"
              },
              "Initiation": {
                "InstructionIdentification": "STANDARD",
                "EndToEndIdentification": "STANDARD",
                "LocalInstrument": "STANDARD",
                "InstructionPriority": "STANDARD",
                "ExtendedPurpose": "STANDARD",
                "ChargeBearer": "STANDARD",
                "RequestedExecutionDateTime": "2026-09-15T14:30:00Z",
                "CurrencyOfTransfer": "STANDARD",
                "DestinationCountryCode": "US",
                "InstructedAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "ExchangeRateInformation": {
                  "UnitCurrency": "USD"
                }
              }
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "resp-67890"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier to correlate requests and responses.",
                "example": "corr-23456"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the response was generated.",
                "example": "2023-04-01T02:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the payment was processed.",
                "example": "EU"
              }
            },
            "description": "Metadata about the response.",
            "example": {
              "responseId": "f92bbe18-2e14-5098-9cab-a3a5a0db06a8",
              "correlationId": "d5b4a1cb-4e49-57a5-906a-a5ca6b76a53a",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Schema representing the response structure for international scheduled payment operations.",
        "example": {
          "Data": {
            "paymentId": "PAY-138605",
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "Status": "ACTIVE",
            "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
            "StatusReason": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "Path": "STANDARD"
              }
            ],
            "ExpectedExecutionDateTime": "2026-09-15T14:30:00Z",
            "ExpectedSettlementDateTime": "2026-09-15T14:30:00Z",
            "Refund": {
              "Account": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD"
              }
            },
            "Charges": [
              {
                "ChargeBearer": "STANDARD",
                "Type": "STANDARD",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            ],
            "ExchangeRateInformation": {
              "UnitCurrency": "USD",
              "ExchangeRate": 100.0,
              "RateType": "STANDARD",
              "ContractIdentification": "STANDARD",
              "ExpirationDateTime": "2026-09-15T14:30:00Z"
            },
            "Initiation": {
              "InstructionIdentification": "STANDARD",
              "EndToEndIdentification": "STANDARD",
              "LocalInstrument": "STANDARD",
              "InstructionPriority": "STANDARD",
              "ExtendedPurpose": "STANDARD",
              "ChargeBearer": "STANDARD",
              "RequestedExecutionDateTime": "2026-09-15T14:30:00Z",
              "CurrencyOfTransfer": "STANDARD",
              "DestinationCountryCode": "US",
              "InstructedAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              },
              "ExchangeRateInformation": {
                "UnitCurrency": "USD"
              }
            }
          },
          "metadata": {
            "responseId": "f92bbe18-2e14-5098-9cab-a3a5a0db06a8",
            "correlationId": "d5b4a1cb-4e49-57a5-906a-a5ca6b76a53a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "StatusReasonDetail": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Code representing the reason for the status.",
            "example": "001"
          },
          "description": {
            "type": "string",
            "description": "Text description of the status reason.",
            "example": "Payment pending authorization."
          },
          "Path": {
            "type": "string",
            "description": "Path indicating the context of the status reason.",
            "example": "status.reason.path"
          }
        },
        "description": "Detail information regarding a status reason."
      },
      "RefundDetails": {
        "type": "object",
        "properties": {
          "Account": {
            "type": "object",
            "description": "Information about the refund account.",
            "$ref": "#/components/schemas/AccountInformation"
          }
        },
        "description": "Details about the refund associated with the payment."
      },
      "ChargeDetail": {
        "type": "object",
        "properties": {
          "ChargeBearer": {
            "type": "string",
            "description": "Indicates who bears the charge for the transaction.",
            "example": "BEN"
          },
          "Type": {
            "type": "string",
            "description": "Type of charge applied.",
            "example": "Service Fee"
          },
          "Amount": {
            "type": "object",
            "properties": {
              "Amount": {
                "type": "string",
                "description": "Amount charged.",
                "example": "5.00"
              },
              "Currency": {
                "type": "string",
                "description": "Currency in which the charge is applied.",
                "example": "USD"
              }
            },
            "description": "Amount and currency of the charge."
          }
        },
        "description": "Details about a charge associated with the payment."
      },
      "ExchangeRateInfo": {
        "type": "object",
        "properties": {
          "UnitCurrency": {
            "type": "string",
            "description": "Currency used for the unit value of the exchange rate.",
            "example": "EUR"
          },
          "ExchangeRate": {
            "type": "number",
            "description": "The actual exchange rate applied.",
            "example": 1.18
          },
          "RateType": {
            "type": "string",
            "description": "Type of exchange rate (e.g., spot rate, fixed rate, etc.).",
            "example": "Spot"
          },
          "ContractIdentification": {
            "type": "string",
            "description": "Identification number of the contract underpinning the exchange rate.",
            "example": "contract-1234"
          },
          "ExpirationDateTime": {
            "type": "string",
            "description": "Date and time when the exchange rate expires.",
            "example": "2023-04-01T23:59:00Z"
          }
        },
        "description": "Information about the exchange rate details."
      },
      "AccountInformation": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "Name of the identification scheme.",
            "example": "IBAN"
          },
          "Identification": {
            "type": "string",
            "description": "Identification number of the account.",
            "example": "DE89 3704 0044 0532 0130 00"
          },
          "Name": {
            "type": "string",
            "description": "Name of the account holder.",
            "example": "John Doe"
          },
          "SecondaryIdentification": {
            "type": "string",
            "description": "Any additional identification information for the account.",
            "example": "Account number 1234"
          }
        },
        "description": "Information about an account."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-initiate-international-scheduled-payment"
        },
        "example": "payment-initiation-openapi-initiate-international-scheduled-payment"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication protocol. It requires a valid JWT (JSON Web Token) for authentication. The token should be included in the Authorization header of the request in the format: `Authorization: Bearer <token>`.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}