{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Corporate Finance By Param1-spec",
    "description": "The Corporate Finance Update API allows clients to modify existing corporate finance records based on specific parameters. This endpoint supports partial updates for private placement details, facilitating seamless changes to financial data. Typical consumers include financial analysts and corporate finance teams who require flexibility in managing confidential financial information. By utilizing this API, organizations can ensure their corporate finance records are accurate and up to date while maintaining efficient operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/corporate-finance/private-placement/{param1}": {
      "patch": {
        "tags": [
          "Corporate Finance"
        ],
        "summary": "Update Private Placement Resource",
        "description": "This operation enables users to modify the details of a specific private placement resource identified by RES-100045. It allows updates to relevant fields for better financial management.",
        "operationId": "updateCorporateFinanceByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the resource associated with the private placement identified by RES-100045. It contains the necessary fields to perform the partial update operation, allowing clients to specify only the attributes that need to be modified.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCorporateFinanceByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateCorporateFinanceByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateCorporateFinanceByParam1Request": {
        "title": "Private Placement Patch Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "description": "The changes to be applied to the private placement.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time at which the changes become effective.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the individual or system requesting the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for the PATCH operation related to a private placement in corporate finance.",
        "example": {
          "changes": {
            "clientId": "STANDARD",
            "engagementId": "STANDARD",
            "transactionType": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "fe568085-30ab-5513-a7de-e8672244e575",
            "correlationId": "921cd6d2-12a9-553c-821d-e41606390d69",
            "idempotencyKey": "f556a73a-5cfc-52cb-b9bf-d96947fe58b9",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-307594"
            }
          }
        }
      },
      "Changes": {
        "title": "Changes",
        "type": "object",
        "properties": {
          "clientId": {
            "type": "string",
            "description": "The unique identifier for the client.",
            "example": "string"
          },
          "engagementId": {
            "type": "string",
            "description": "The unique identifier for the engagement.",
            "example": "string"
          },
          "transactionType": {
            "type": "string",
            "description": "The type of transaction being requested.",
            "example": "string"
          }
        },
        "description": "Schema representing the changes to be made in the request.",
        "example": {
          "clientId": "string",
          "engagementId": "string",
          "transactionType": "string"
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation ID for tracking related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure the request is idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that made the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel used to make the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request including metadata and source information.",
        "example": {
          "requestId": "string",
          "correlationId": "string",
          "idempotencyKey": "string",
          "requestedAt": "string",
          "sourceSystem": "string",
          "sourceApplication": "string",
          "channel": {
            "channelId": "string",
            "channelType": "string",
            "deviceId": "string"
          }
        }
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., web, mobile, API).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used in the request.",
            "example": "string"
          }
        },
        "description": "Schema that describes the channel through which the request was made.",
        "example": {
          "channelId": "string",
          "channelType": "string",
          "deviceId": "string"
        }
      },
      "UpdateCorporateFinanceByParam1Response_200": {
        "title": "Patch Operation Response for Private Placement",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version number of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the operation was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response, providing additional context.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "This schema represents the response structure for a PATCH operation related to private placement in corporate finance.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "f17e9e32-0df6-5f53-9a94-763dc7565208",
            "correlationId": "921cd6d2-12a9-553c-821d-e41606390d69",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating related requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request occurred.",
            "example": "string"
          }
        },
        "description": "Contains metadata information for the operation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the API endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "private-placement-update-private-placement"
        },
        "example": "private-placement-update-private-placement"
      },
      "X-Runtime-App": {
        "description": "The name of the application where this operation was executed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses JSON Web Tokens (JWT) to secure API calls. The token should be included in the `Authorization` header of the request as a bearer token.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}