{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Competitor Analysi Review-spec",
    "description": "This API facilitates the submission of competitor analysis reviews for business evaluations. It enables businesses to input insights and assessments of competing firms, which are crucial for strategic decision-making. The primary resource is the competitor analysis review, which can include various parameters for a comprehensive evaluation. Ideal users of this API include market analysts, product managers, and business strategists looking to enhance their competitive edge through informed analysis.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/business-analysis/competitor-analysis/{param1}/reviews": {
      "post": {
        "tags": [
          "Competitor Analysis"
        ],
        "summary": "Submit a review for a competitor analysis.",
        "description": "This endpoint allows users to submit a review related to the competitor analysis for specific resources. Ensure that the review content meets the guidelines and provides useful insights.",
        "operationId": "createCompetitorAnalysiReview",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body contains the data required to submit a review for the competitor analysis identified by RES-100045. The payload should adhere to the specified schema, ensuring that all necessary fields are included to facilitate a proper analysis of competitor reviews.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCompetitorAnalysiReviewRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request accepted and will be processed shortly.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCompetitorAnalysiReviewResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCompetitorAnalysiReviewRequest": {
        "title": "Competitor Analysis Review Request",
        "type": "object",
        "properties": {
          "reviewReason": {
            "type": "string",
            "description": "The reason for submitting the review.",
            "example": "STANDARD"
          },
          "reviewScope": {
            "type": "array",
            "description": "Scope of the review, outlining the aspects being reviewed.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "An individual item or aspect within the scope of the review.",
              "example": "Marketing strategy"
            }
          },
          "assignedReviewerId": {
            "type": "string",
            "description": "The ID of the reviewer assigned to this review.",
            "example": "STANDARD"
          },
          "dueAt": {
            "type": "string",
            "description": "The due date for the review completion.",
            "example": "2026-08-11T12:00:00Z"
          },
          "requestContext": {
            "description": "Contextual information related to the review request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for creating a review request in the competitor analysis operations.",
        "example": {
          "reviewReason": "STANDARD",
          "reviewScope": [
            "STANDARD"
          ],
          "assignedReviewerId": "STANDARD",
          "dueAt": "2026-08-11T12:00:00Z",
          "requestContext": {
            "requestId": "dd95d5c7-b9b7-5e7d-ba84-70bca1d9a66d",
            "correlationId": "18eaff51-711c-5dfa-89c4-1cc2ec97dcf9",
            "idempotencyKey": "c10568a9-b4cc-5a3b-81c2-310fd4cafe5c",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-358662"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate requests across systems.",
            "example": "corr-12345"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of requests.",
            "example": "idempotent-keys-xyz"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-11-01T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "CRM System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "Web Application"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information for the review request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "chan-789"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., email, web).",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the request.",
            "example": "dev-456"
          }
        },
        "description": "Details about the channel used for the request."
      },
      "CreateCompetitorAnalysiReviewResponse_202": {
        "title": "Competitor Analysis Review Response",
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "A reference identifier for the action that was taken.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "The type of action performed in this context.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The status of the action, indicating whether it was successful or encountered errors.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "Timestamp indicating when the action was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the processed action.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema defines the structure of the response for the competitor analysis review operation, detailing the action performed and relevant metadata.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "f570663e-7525-5b40-82e4-0404d239d659",
            "correlationId": "18eaff51-711c-5dfa-89c4-1cc2ec97dcf9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to trace the request through the system.",
            "example": "correlation-67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request took place.",
            "example": "us-west-1"
          }
        },
        "description": "This schema defines the metadata for the response, providing additional context about the request and processing."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "This header uniquely identifies the endpoint being accessed for tracking and analytics purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "competitor-analysis-review-competitor-analysis"
        },
        "example": "competitor-analysis-review-competitor-analysis"
      },
      "X-Runtime-App": {
        "description": "This header indicates the runtime application that is processing the request, useful for debugging and monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authorization method using a Bearer token. This scheme expects a JSON Web Token (JWT) to be provided in the 'Authorization' header of the request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}