{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Scheduled Payments Management API",
    "description": "The Scheduled Payments Management API provides a seamless interface for retrieving information about scheduled payments in an open banking context. This API allows users to access detailed data regarding their upcoming payments, including amounts, due dates, and recipient information. It's designed for financial institutions and developers looking to enhance user experience by integrating scheduled payment functionalities into their applications. Use cases typically involve account management, budgeting tools, and automated payment tracking.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/aisp/scheduled-payments": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Retrieve scheduled payments.",
        "description": "This endpoint allows developers to fetch a list of scheduled payments, providing insight into upcoming transactions that have been scheduled by the user.",
        "operationId": "getScheduledPayments",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving scheduled payments. This request includes a JSON object that defines the criteria for fetching the scheduled payment details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetScheduledPaymentsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of scheduled payments.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetScheduledPaymentsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetScheduledPaymentsRequest": {
        "type": "string",
        "description": "Represents the request body for the GET operation on scheduled payments.",
        "example": "{}"
      },
      "GetScheduledPaymentsResponse_200": {
        "title": "Scheduled Payments Response",
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "ScheduledPayment": {
                "type": "array",
                "description": "A list of scheduled payment objects.",
                "items": {
                  "$ref": "#/components/schemas/ScheduledPayment"
                }
              }
            },
            "example": {
              "ScheduledPayment": [
                {
                  "AccountId": "ACC-788665",
                  "id": "STANDARD",
                  "dateTime": "2026-09-15T14:30:00Z",
                  "ScheduledType": "STANDARD",
                  "Reference": "STANDARD",
                  "DebtorReference": "STANDARD",
                  "InstructedAmount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  },
                  "CreditorAgent": {
                    "SchemeName": "Northstar Banking Service",
                    "Identification": "STANDARD",
                    "Name": "Northstar Banking Service",
                    "PostalAddress": {
                      "AddressType": "STANDARD",
                      "Department": "STANDARD",
                      "SubDepartment": "STANDARD",
                      "StreetName": "Northstar Banking Service",
                      "BuildingNumber": "STANDARD",
                      "BuildingName": "Northstar Banking Service",
                      "Floor": "STANDARD",
                      "UnitNumber": "STANDARD",
                      "Room": "STANDARD",
                      "PostBox": "STANDARD",
                      "TownLocationName": "Northstar Banking Service",
                      "DistrictName": "Northstar Banking Service",
                      "CareOf": "STANDARD",
                      "PostCode": "CODE-727",
                      "TownName": "Northstar Banking Service",
                      "CountrySubDivision": "STANDARD",
                      "Country": "STANDARD",
                      "AddressLine": [
                        "STANDARD"
                      ]
                    },
                    "LEI": "STANDARD"
                  },
                  "CreditorAccount": {
                    "SchemeName": "Northstar Banking Service",
                    "Identification": "STANDARD",
                    "Name": "Northstar Banking Service",
                    "SecondaryIdentification": "STANDARD",
                    "Proxy": {
                      "Identification": "STANDARD"
                    }
                  }
                }
              ]
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for the scheduled payments request.",
        "example": {
          "Data": {
            "ScheduledPayment": [
              {
                "AccountId": "ACC-788665",
                "id": "STANDARD",
                "dateTime": "2026-09-15T14:30:00Z",
                "ScheduledType": "STANDARD",
                "Reference": "STANDARD",
                "DebtorReference": "STANDARD",
                "InstructedAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "CreditorAgent": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "PostalAddress": {
                    "AddressType": "STANDARD",
                    "Department": "STANDARD",
                    "SubDepartment": "STANDARD",
                    "StreetName": "Northstar Banking Service",
                    "BuildingNumber": "STANDARD",
                    "BuildingName": "Northstar Banking Service",
                    "Floor": "STANDARD",
                    "UnitNumber": "STANDARD",
                    "Room": "STANDARD",
                    "PostBox": "STANDARD",
                    "TownLocationName": "Northstar Banking Service",
                    "DistrictName": "Northstar Banking Service",
                    "CareOf": "STANDARD",
                    "PostCode": "CODE-727",
                    "TownName": "Northstar Banking Service",
                    "CountrySubDivision": "STANDARD",
                    "Country": "STANDARD",
                    "AddressLine": [
                      "STANDARD"
                    ]
                  },
                  "LEI": "STANDARD"
                },
                "CreditorAccount": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "SecondaryIdentification": "STANDARD",
                  "Proxy": {
                    "Identification": "STANDARD"
                  }
                }
              }
            ]
          },
          "metadata": {
            "responseId": "25ca284c-b8e3-558e-af18-b7e6a7778a83",
            "correlationId": "ead0146e-69a9-5b79-89c0-d02e64eadcde",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ScheduledPayment": {
        "title": "Scheduled Payment",
        "type": "object",
        "properties": {
          "AccountId": {
            "type": "string",
            "description": "The account identifier associated with the scheduled payment.",
            "example": "string"
          },
          "id": {
            "type": "string",
            "description": "The unique identifier for the scheduled payment.",
            "example": "string"
          },
          "dateTime": {
            "type": "string",
            "description": "The date and time when the payment is scheduled.",
            "example": "2023-01-01T12:00:00Z"
          },
          "ScheduledType": {
            "type": "string",
            "description": "The type of scheduled payment.",
            "example": "Recurring"
          },
          "Reference": {
            "type": "string",
            "description": "Reference information for the scheduled payment.",
            "example": "Payment for service"
          },
          "DebtorReference": {
            "type": "string",
            "description": "Reference for the debtor associated with the payment.",
            "example": "Debtor123"
          },
          "InstructedAmount": {
            "$ref": "#/components/schemas/InstructedAmount"
          },
          "CreditorAgent": {
            "$ref": "#/components/schemas/CreditorAgent"
          },
          "CreditorAccount": {
            "$ref": "#/components/schemas/CreditorAccount"
          }
        },
        "description": "Schema representing an individual scheduled payment."
      },
      "InstructedAmount": {
        "title": "Instructed Amount",
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The monetary amount to be instructed.",
            "example": "100.00"
          },
          "Currency": {
            "type": "string",
            "description": "The currency code for the instructed amount.",
            "example": "USD"
          }
        },
        "description": "Schema representing the amount instructed for the scheduled payment."
      },
      "CreditorAgent": {
        "title": "Creditor Agent",
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "The scheme name of the creditor agent.",
            "example": "IBAN"
          },
          "Identification": {
            "type": "string",
            "description": "The identification number of the creditor agent.",
            "example": "GB29NWBK60161331926819"
          },
          "Name": {
            "type": "string",
            "description": "The name of the creditor agent.",
            "example": "National Westminster Bank"
          },
          "PostalAddress": {
            "$ref": "#/components/schemas/PostalAddress"
          },
          "LEI": {
            "type": "string",
            "description": "The Legal Entity Identifier of the creditor agent.",
            "example": "LEI123456789"
          }
        },
        "description": "Schema representing information about the creditor's agent."
      },
      "CreditorAccount": {
        "title": "Creditor Account",
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "The scheme name of the creditor account.",
            "example": "IBAN"
          },
          "Identification": {
            "type": "string",
            "description": "The identification number of the creditor account.",
            "example": "GB29NWBK60161331926819"
          },
          "Name": {
            "type": "string",
            "description": "The name of the creditor account holder.",
            "example": "John Doe"
          },
          "SecondaryIdentification": {
            "type": "string",
            "description": "Additional identification for the creditor account.",
            "example": "Acc123456"
          },
          "Proxy": {
            "$ref": "#/components/schemas/Proxy"
          }
        },
        "description": "Schema representing the details of the creditor's account."
      },
      "PostalAddress": {
        "title": "Postal Address",
        "type": "object",
        "properties": {
          "AddressType": {
            "type": "string",
            "description": "The type of address (e.g., residential, business).",
            "example": "Business"
          },
          "Department": {
            "type": "string",
            "description": "Department name, if applicable.",
            "example": "Accounts"
          },
          "SubDepartment": {
            "type": "string",
            "description": "Sub-department name, if applicable.",
            "example": "Payments"
          },
          "StreetName": {
            "type": "string",
            "description": "The name of the street.",
            "example": "High Street"
          },
          "BuildingNumber": {
            "type": "string",
            "description": "The building number.",
            "example": "101"
          },
          "BuildingName": {
            "type": "string",
            "description": "The name of the building.",
            "example": "The Landmark"
          },
          "Floor": {
            "type": "string",
            "description": "The floor on which the address is located.",
            "example": "5"
          },
          "UnitNumber": {
            "type": "string",
            "description": "Unit number if applicable.",
            "example": "B"
          },
          "Room": {
            "type": "string",
            "description": "Room number, if applicable.",
            "example": "501"
          },
          "PostBox": {
            "type": "string",
            "description": "Post box number, if applicable.",
            "example": "POB 123"
          },
          "TownLocationName": {
            "type": "string",
            "description": "The name of the town or location.",
            "example": "London"
          },
          "DistrictName": {
            "type": "string",
            "description": "The name of the district.",
            "example": "Central"
          },
          "CareOf": {
            "type": "string",
            "description": "Name of the person or company to care of.",
            "example": "C/O John Smith"
          },
          "PostCode": {
            "type": "string",
            "description": "The postal code.",
            "example": "SW1A 1AA"
          },
          "TownName": {
            "type": "string",
            "description": "The name of the town.",
            "example": "London"
          },
          "CountrySubDivision": {
            "type": "string",
            "description": "The sub-division of the country.",
            "example": "England"
          },
          "Country": {
            "type": "string",
            "description": "The name of the country.",
            "example": "United Kingdom"
          },
          "AddressLine": {
            "type": "array",
            "description": "The address lines.",
            "items": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "description": "Schema representing the postal address details."
      },
      "Proxy": {
        "title": "Proxy",
        "type": "object",
        "properties": {
          "Identification": {
            "type": "string",
            "description": "The proxy identification.",
            "example": "Proxy123"
          }
        },
        "description": "Schema representing a proxy identification for the creditor account."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response-123"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking related requests.",
            "example": "correlation-123"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "EU"
          }
        },
        "description": "Schema representing metadata for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-api-get-scheduled-payments"
        },
        "example": "accounts-api-get-scheduled-payments"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that requires a Bearer token in the HTTP Authorization header. This token is typically a JSON Web Token (JWT) that contains the user\u2019s authentication information and is used to verify the user's identity for secure access to resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}