{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Account Reconciliation Management API",
    "description": "The Account Reconciliation Management API facilitates accurate financial reporting and helps ensure the integrity of banking records through effective reconciliation processes. This API allows users to automate the reconciliation of accounts by submitting relevant transactional data. Financial institutions, accounting departments, and auditors commonly utilize this API to streamline their reconciliation workflows and improve audit readiness. By integrating with this API, businesses can enhance operational efficiency and reduce discrepancies in financial statements.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://accounts-deposits-app:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/account-management/account-reconciliation": {
      "post": {
        "tags": [
          "Account Management"
        ],
        "summary": "Reconcile Account Data",
        "description": "This endpoint allows you to submit reconciliation data for a specific account, ensuring alignment between records and identifying discrepancies.",
        "operationId": "reconcileAccountPost",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This endpoint is used to perform account reconciliation operations. It allows users to submit reconciliation requests, ensuring that account balances are accurate and transactions are accounted for. The request should contain all necessary data to validate and process the reconciliation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReconcileAccountPostRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully and reconciliation initiated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReconcileAccountPostResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ReconcileAccountPostRequest": {
        "title": "Account Reconciliation Request",
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "The unique identifier of the account being reconciled.",
            "example": "ACC-244892"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier of the customer associated with the account.",
            "example": "CUST-159756"
          },
          "ledgerDate": {
            "type": "string",
            "description": "The date of the ledger statement for reconciliation.",
            "example": "2026-09-15"
          },
          "currency": {
            "type": "string",
            "description": "The currency code for the account balance (e.g., USD, EUR).",
            "example": "USD"
          },
          "ledgerBalance": {
            "type": "number",
            "description": "The balance of the account as per the ledger on the specified date.",
            "example": 100.0
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema defines the request body for the account reconciliation operation, including account identifiers and relevant metadata.",
        "example": {
          "accountId": "ACC-244892",
          "customerId": "CUST-159756",
          "ledgerDate": "2026-09-15",
          "currency": "USD",
          "ledgerBalance": 100.0,
          "requestContext": {
            "requestId": "32568cd0-6f78-585b-9336-83854be37b3b",
            "correlationId": "6ad34070-4ad8-5b3c-932a-a1cdf0f72c00",
            "idempotencyKey": "20047056-68fc-574f-84b2-132ed8a4ba9c",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-414844"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req_001"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate related requests across systems.",
            "example": "corr_001"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure the request is idempotent and can be safely retried.",
            "example": "key_001"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originates.",
            "example": "AccountingSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "ReconciliationApp"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema encapsulates the context of the request, providing identifiers and metadata for tracking purposes."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier of the channel used for the request.",
            "example": "channel_001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., mobile, web, API).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier of the device used to make the request, if applicable.",
            "example": "device_001"
          }
        },
        "description": "This schema details the channel through which the request was made."
      },
      "ReconcileAccountPostResponse_201": {
        "title": "Account Reconciliation Response",
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account.",
            "example": "ACC-488874"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer associated with the account.",
            "example": "CUST-441928"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource involved in the reconciliation.",
            "example": "RES-641516"
          },
          "status": {
            "type": "string",
            "description": "The current status of the reconciliation process.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the reconciliation request was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the reconciliation operation.",
            "$ref": "#/components/schemas/ReconciliationMetadata"
          }
        },
        "description": "A response object containing details of the account reconciliation operation.",
        "example": {
          "accountId": "ACC-488874",
          "customerId": "CUST-441928",
          "resourceId": "RES-641516",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "dcc1e9c7-aa37-5d6d-bb79-0a09ba7c9092",
            "correlationId": "6ad34070-4ad8-5b3c-932a-a1cdf0f72c00",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ReconciliationMetadata": {
        "title": "Reconciliation Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response of the reconciliation request.",
            "example": "resp-001"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier for correlating related requests.",
            "example": "corr-001"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-10-10T14:48:00.000Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the reconciliation processing occurred.",
            "example": "us-west-2"
          }
        },
        "description": "Additional metadata related to the reconciliation process."
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-021"
        },
        "example": "WF-021"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "275b3733-40f4-437a-91da-0ecfd9ed400a"
        },
        "example": "275b3733-40f4-437a-91da-0ecfd9ed400a"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "async-finalization"
        },
        "example": "async-finalization"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "0ea36a13-417d-4863-a1ca-4af0ee95a823"
        },
        "example": "0ea36a13-417d-4863-a1ca-4af0ee95a823"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "account-reconciliation-create-account-reconciliation"
        },
        "example": "account-reconciliation-create-account-reconciliation"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      },
      "X-Workflow-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-021"
        },
        "example": "WF-021"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Debit Card Issuance and Activation"
        },
        "example": "Debit Card Issuance and Activation"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "0ea36a13-417d-4863-a1ca-4af0ee95a823"
        },
        "example": "0ea36a13-417d-4863-a1ca-4af0ee95a823"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method. It requires a JWT (JSON Web Token) to be included in the Authorization header of requests to authenticate the user.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}