{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Deposit Switches API",
    "description": "The Customer Deposit Switches API provides functionalities for retrieving deposit switch settings for specified customers. This endpoint allows authorized users to access information pertaining to the deposit switches associated with a particular customer account, facilitating oversight and management of deposit preferences. Typical consumers of this API include financial institutions, account managers, and customer service representatives who need to assess or modify a customer's deposit switch configurations. Utilize this API to enhance customer account management and ensure regulatory compliance.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/transfer/customers/{customerId}/deposit-switches": {
      "get": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Retrieve deposit switches for a specified customer.",
        "description": "This endpoint allows you to fetch all deposit switches associated with the customer identified by the given ID. Use this to view a customer's deposit switch options and configurations.",
        "operationId": "getDepositSwitchesForCustomerCUST100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving deposit switch information for a specific customer. This body contains the parameters necessary to filter or modify the results when fetching the deposit switches associated with the customer ID provided.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetDepositSwitchesForCustomerCUST100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved deposit switch information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDepositSwitchesForCustomerCUST100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetDepositSwitchesForCustomerCUST100045Request": {
        "type": "string",
        "description": "A request body for the GET operation regarding deposit switches for customer CUST-100045.",
        "example": "{}"
      },
      "GetDepositSwitchesForCustomerCUST100045Response_200": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-597910"
          },
          "customerType": {
            "type": "string",
            "description": "Type of the customer, e.g., individual or business.",
            "example": "STANDARD"
          },
          "switches": {
            "type": "array",
            "description": "List of deposit switches associated with the customer.",
            "example": [
              {
                "id": "STANDARD",
                "status": "ACTIVE",
                "failureReason": "STANDARD",
                "createdDate": "2026-09-15"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Switch"
            }
          },
          "metadata": {
            "type": "object",
            "description": "Metadata information related to the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for retrieving deposit switch details of a specific customer.",
        "example": {
          "customerId": "CUST-597910",
          "customerType": "STANDARD",
          "switches": [
            {
              "id": "STANDARD",
              "status": "ACTIVE",
              "failureReason": "STANDARD",
              "createdDate": "2026-09-15"
            }
          ],
          "metadata": {
            "responseId": "3c249180-de12-5ca9-8cf6-ab6a2f729c14",
            "correlationId": "7bf0dc98-72b7-5e84-b60e-5512143d6263",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Switch": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the switch.",
            "example": "SWITCH-001"
          },
          "status": {
            "type": "string",
            "description": "Current status of the switch, such as active or inactive.",
            "example": "active"
          },
          "failureReason": {
            "type": "string",
            "description": "Reason for failure, if applicable.",
            "example": "N/A"
          },
          "createdDate": {
            "type": "string",
            "description": "The date when the switch was created.",
            "example": "2023-01-01T00:00:00Z"
          }
        },
        "description": "Details of a deposit switch."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP-1001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracking the request and its response.",
            "example": "CORR-20230701"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request took place.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata information regarding the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier of the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-all-deposit-switches"
        },
        "example": "open-finance-api-get-all-deposit-switches"
      },
      "X-Runtime-App": {
        "description": "The name of the application responsible for handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method with JSON Web Tokens (JWT). The client must include a valid JWT in the Authorization header when making requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}