{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Aisp By Param1-spec",
    "description": "The Account Access Consents Retrieval API allows clients to fetch specific access consents based on provided criteria. This endpoint is particularly useful for financial institutions and service providers looking to manage user permissions related to account access. By utilizing the parameter 'param1', users can retrieve detailed consent information necessary for compliance and transparency in account data handling. Typical consumers include developers working on banking integration projects and compliance officers ensuring regulatory adherence.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/aisp/account-access-consents/{param1}": {
      "get": {
        "tags": [
          "Account Access Consents"
        ],
        "summary": "Retrieve Account Access Consent by ID",
        "description": "This endpoint allows you to retrieve the details of an Account Access Consent using its unique identifier. It provides information about the consent status and associated account.",
        "operationId": "getAispByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve account access consents for a specific resource. The client must provide the necessary credentials and parameters to access the required information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAispByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested resource.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAispByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetAispByParam1Request": {
        "type": "string",
        "description": "A string representation of the request body for the account access consents GET operation.",
        "example": "{}"
      },
      "GetAispByParam1Response_200": {
        "type": "object",
        "properties": {
          "Data": {
            "$ref": "#/components/schemas/ConsentData"
          },
          "Links": {
            "$ref": "#/components/schemas/PaginationLinks"
          },
          "Meta": {
            "$ref": "#/components/schemas/ResponseMeta"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for account access consent operations.",
        "example": {
          "Data": {
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "Status": "ACTIVE",
            "StatusReason": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "Path": "STANDARD"
              }
            ],
            "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
            "Permissions": [
              "STANDARD"
            ],
            "ExpirationDateTime": "2026-09-15T14:30:00Z",
            "TransactionFromDateTime": "2026-09-15T14:30:00Z",
            "TransactionToDateTime": "2026-09-15T14:30:00Z"
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource",
            "Next": "https://example.com/resource",
            "Last": "https://example.com/resource"
          },
          "Meta": {
            "TotalPages": 1,
            "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
            "LastAvailableDateTime": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "responseId": "6ceeaa33-cf6a-5d08-9385-61ae25820d9a",
            "correlationId": "a9a727ef-321d-5e32-a9f3-fa06b487188b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ConsentData": {
        "type": "object",
        "properties": {
          "ConsentId": {
            "type": "string",
            "description": "Unique identifier for the consent.",
            "example": "abcd-1234"
          },
          "CreationDateTime": {
            "type": "string",
            "description": "Date and time when the consent was created.",
            "example": "2023-01-01T12:00:00Z"
          },
          "Status": {
            "type": "string",
            "description": "Current status of the consent.",
            "example": "active"
          },
          "StatusReason": {
            "type": "array",
            "description": "Reasons for the current status of the consent.",
            "example": [
              {
                "code": "002",
                "description": "Consent active",
                "Path": "/consent/status/reason"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/StatusReasonItem"
            }
          },
          "StatusUpdateDateTime": {
            "type": "string",
            "description": "Date and time when the status was last updated.",
            "example": "2023-01-02T12:00:00Z"
          },
          "Permissions": {
            "type": "array",
            "description": "List of permissions granted under this consent.",
            "example": [
              "read",
              "write"
            ],
            "items": {
              "type": "string"
            }
          },
          "ExpirationDateTime": {
            "type": "string",
            "description": "Expiration date and time of the consent.",
            "example": "2023-12-31T12:00:00Z"
          },
          "TransactionFromDateTime": {
            "type": "string",
            "description": "Start date and time for transactions covered by this consent.",
            "example": "2023-01-01T00:00:00Z"
          },
          "TransactionToDateTime": {
            "type": "string",
            "description": "End date and time for transactions covered by this consent.",
            "example": "2023-12-31T23:59:59Z"
          }
        },
        "description": "Contains details about the consent."
      },
      "StatusReasonItem": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Code representing the reason for the status.",
            "example": "002"
          },
          "description": {
            "type": "string",
            "description": "Description of the reason for the status.",
            "example": "Consent active"
          },
          "Path": {
            "type": "string",
            "description": "Reference path for the reason code.",
            "example": "/consent/status/reason"
          }
        },
        "description": "Details regarding the status reason of the consent."
      },
      "PaginationLinks": {
        "type": "object",
        "properties": {
          "Self": {
            "type": "string",
            "description": "Link to the current resource.",
            "example": "/consent/current"
          },
          "First": {
            "type": "string",
            "description": "Link to the first page of results.",
            "example": "/consent?page=1"
          },
          "Prev": {
            "type": "string",
            "description": "Link to the previous page of results.",
            "example": "/consent?page=1"
          },
          "Next": {
            "type": "string",
            "description": "Link to the next page of results.",
            "example": "/consent?page=3"
          },
          "Last": {
            "type": "string",
            "description": "Link to the last page of results.",
            "example": "/consent?page=10"
          }
        },
        "description": "Contains pagination links related to the consent."
      },
      "ResponseMeta": {
        "type": "object",
        "properties": {
          "TotalPages": {
            "type": "integer",
            "description": "Total number of pages available.",
            "format": "int32",
            "example": 5
          },
          "FirstAvailableDateTime": {
            "type": "string",
            "description": "Earliest available date and time.",
            "example": "2023-01-01T12:00:00Z"
          },
          "LastAvailableDateTime": {
            "type": "string",
            "description": "Latest available date and time.",
            "example": "2023-12-31T12:00:00Z"
          }
        },
        "description": "Metadata about the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "abc-123-def"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracing the request.",
            "example": "corr-5678"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "us-west-2"
          }
        },
        "description": "Contains metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "This header contains the unique identifier for the endpoint being accessed. It is used for tracking requests and responses in the system.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-api-get-account-access-consents-consent-id"
        },
        "example": "accounts-api-get-account-access-consents-consent-id"
      },
      "X-Runtime-App": {
        "description": "This header indicates the name of the application that is processing the request. It helps in identifying the source of the request in the logs.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme specifies that the application uses Bearer authentication with a JSON Web Token (JWT). Clients must include the token in the Authorization header when making requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}