{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Loan Application Decisions-spec",
    "description": "The Loan Application Decisions Retrieval API enables users to access the decisions associated with specific loan applications. This endpoint provides critical insights into whether loan applications have been approved, denied, or require further review. It is particularly valuable for lending institutions, loan processors, and developers building applications that need to display loan application statuses. By querying decision data, stakeholders can enhance decision-making processes and improve customer engagement.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{param1}/decisions": {
      "get": {
        "tags": [
          "Loan Applications"
        ],
        "summary": "Retrieve decisions for a specific loan application.",
        "description": "This endpoint allows you to retrieve the decision information associated with a specific loan application identified by its unique ID. Use this to check the status and details of the decision made on the loan application.",
        "operationId": "listLoanApplicationDecisions",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the decisions associated with a specific loan application identified by RES-100045. It allows the client to request detailed information about the decision-making process regarding this loan application.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListLoanApplicationDecisionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The decision for the loan application was successfully retrieved.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListLoanApplicationDecisionsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListLoanApplicationDecisionsRequest": {
        "type": "string",
        "description": "This schema represents the JSON request body for the loan applications decision operation. It is expected to be a string formatted as required by the application.",
        "example": "{}"
      },
      "ListLoanApplicationDecisionsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of decision results for loan applications.",
            "example": [
              {
                "decision": "STANDARD",
                "decisionSource": "STANDARD",
                "provisional": true,
                "scorecardName": "Northstar Banking Service",
                "creditScore": 1,
                "riskGrade": "STANDARD",
                "probabilityOfDefaultPercent": "STANDARD",
                "debtToIncomePercent": "STANDARD",
                "approvedPrincipal": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "approvedTermMonths": 1,
                "approvedAnnualInterestRatePercent": "STANDARD",
                "reasonCodes": [
                  "STANDARD"
                ],
                "conditions": [
                  {
                    "code": "SUCCESS",
                    "description": "Customer banking request processed successfully",
                    "dueBefore": "STANDARD",
                    "status": "ACTIVE"
                  }
                ],
                "comments": "STANDARD",
                "supersedesDecisionId": "515e6dc4-e50e-adda-7b11-3d8f503881b4",
                "id": "f671c9be-3038-4f7b-04a3-70d871e36c74",
                "decidedAt": "2026-08-11T12:00:00Z",
                "decidedBy": "STANDARD",
                "audit": {
                  "createdAt": "2026-09-15T14:30:00Z",
                  "createdBy": "STANDARD",
                  "updatedAt": "2026-09-15T14:30:00Z",
                  "updatedBy": "2026-09-15",
                  "version": 1
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/LoanDecision"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "A response schema for obtaining loan application decisions.",
        "example": {
          "items": [
            {
              "decision": "STANDARD",
              "decisionSource": "STANDARD",
              "provisional": true,
              "scorecardName": "Northstar Banking Service",
              "creditScore": 1,
              "riskGrade": "STANDARD",
              "probabilityOfDefaultPercent": "STANDARD",
              "debtToIncomePercent": "STANDARD",
              "approvedPrincipal": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "approvedTermMonths": 1,
              "approvedAnnualInterestRatePercent": "STANDARD",
              "reasonCodes": [
                "STANDARD"
              ],
              "conditions": [
                {
                  "code": "SUCCESS",
                  "description": "Customer banking request processed successfully",
                  "dueBefore": "STANDARD",
                  "status": "ACTIVE"
                }
              ],
              "comments": "STANDARD",
              "supersedesDecisionId": "515e6dc4-e50e-adda-7b11-3d8f503881b4",
              "id": "f671c9be-3038-4f7b-04a3-70d871e36c74",
              "decidedAt": "2026-08-11T12:00:00Z",
              "decidedBy": "STANDARD",
              "audit": {
                "createdAt": "2026-09-15T14:30:00Z",
                "createdBy": "STANDARD",
                "updatedAt": "2026-09-15T14:30:00Z",
                "updatedBy": "2026-09-15",
                "version": 1
              }
            }
          ],
          "metadata": {
            "responseId": "fdf27ead-04b5-5aff-ad92-014ccd5def25",
            "correlationId": "f8191965-5fab-5c4b-a3f0-356f83b35305",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "LoanDecision": {
        "type": "object",
        "properties": {
          "decision": {
            "type": "string",
            "description": "The decision made on the loan application."
          },
          "decisionSource": {
            "type": "string",
            "description": "The source of the decision."
          },
          "provisional": {
            "type": "boolean",
            "description": "Indicates if the decision is provisional."
          },
          "scorecardName": {
            "type": "string",
            "description": "The name of the scorecard used for the decision."
          },
          "creditScore": {
            "type": "integer",
            "description": "The credit score of the applicant.",
            "format": "int32"
          },
          "riskGrade": {
            "type": "string",
            "description": "The risk grade assigned to the application."
          },
          "probabilityOfDefaultPercent": {
            "type": "string",
            "description": "The probability of default as a percentage."
          },
          "debtToIncomePercent": {
            "type": "string",
            "description": "The debt-to-income ratio as a percentage."
          },
          "approvedPrincipal": {
            "$ref": "#/components/schemas/ApprovedPrincipal"
          },
          "approvedTermMonths": {
            "type": "integer",
            "description": "The number of months for the approved loan term.",
            "format": "int32"
          },
          "approvedAnnualInterestRatePercent": {
            "type": "string",
            "description": "The approved annual interest rate as a percentage."
          },
          "reasonCodes": {
            "type": "array",
            "description": "A list of reason codes for the decision.",
            "items": {
              "type": "string"
            }
          },
          "conditions": {
            "type": "array",
            "description": "Conditions that must be met for the decision.",
            "items": {
              "$ref": "#/components/schemas/DecisionCondition"
            }
          },
          "comments": {
            "type": "string",
            "description": "Comments related to the decision."
          },
          "supersedesDecisionId": {
            "type": "string",
            "description": "Identifier of the decision that this decision supersedes."
          },
          "id": {
            "type": "string",
            "description": "The unique identifier for the loan decision."
          },
          "decidedAt": {
            "type": "string",
            "description": "The date and time when the decision was made."
          },
          "decidedBy": {
            "type": "string",
            "description": "The identifier of the user who made the decision."
          },
          "audit": {
            "$ref": "#/components/schemas/AuditInfo"
          }
        },
        "description": "Details of a loan decision."
      },
      "ApprovedPrincipal": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency of the approved principal amount."
          },
          "amount": {
            "type": "string",
            "description": "The amount of the approved principal."
          }
        },
        "description": "The details of the approved principal amount."
      },
      "DecisionCondition": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "The unique code for the condition."
          },
          "description": {
            "type": "string",
            "description": "A description of the condition."
          },
          "dueBefore": {
            "type": "string",
            "description": "The date before which the condition must be fulfilled."
          },
          "status": {
            "type": "string",
            "description": "The current status of the condition."
          }
        },
        "description": "Condition details that must be met for the loan decision."
      },
      "AuditInfo": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the audit record was created."
          },
          "createdBy": {
            "type": "string",
            "description": "The identifier of the user who created the audit record."
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the audit record was last updated."
          },
          "updatedBy": {
            "type": "string",
            "description": "The identifier of the user who last updated the audit record."
          },
          "version": {
            "type": "integer",
            "description": "The version number of the audit record.",
            "format": "int32"
          }
        },
        "description": "Audit information regarding the loan decision."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation ID for tracking the request."
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the request was processed."
          }
        },
        "description": "Metadata related to the response from the API."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that was called in the API request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-list-credit-decisions"
        },
        "example": "banking-loans-openapi-list-credit-decisions"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the API request, which can help in identifying the source of the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses bearer tokens. Clients must include a valid JWT (JSON Web Token) in the Authorization header when making requests to secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}