{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Connect Components Customer Institution Login Id Reconnection-v5-spec",
    "description": "This API allows businesses to reconnect a customer's institution login ID, facilitating account management and user accessibility. It serves as a crucial operation for customer service teams and developers who need to address login issues related to institution credentials. By providing the necessary customer ID and institution login ID, users can initiate the reconnection process seamlessly. This API is particularly useful for financial institutions and platforms that require users to authenticate via their institutional accounts.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/connect-components/customers/{customerId}/institution-login-ids/{institutionLoginIdId}/reconnections": {
      "post": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Reconnect an institution login ID for a customer.",
        "description": "This endpoint allows for the reconnection of a specific institution login ID associated with a customer. By providing the necessary identifiers, users can restore access to the login ID, ensuring a seamless experience for customers requiring this functionality.",
        "operationId": "createConnectComponentsCustomerInstitutionLoginIdReconnection",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          },
          {
            "$ref": "#/components/parameters/institutionLoginIdId"
          }
        ],
        "requestBody": {
          "description": "Request body containing the necessary details to reconnect an institution login ID for a specific customer.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateConnectComponentsCustomerInstitutionLoginIdReconnectionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully for reconnections.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateConnectComponentsCustomerInstitutionLoginIdReconnectionResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateConnectComponentsCustomerInstitutionLoginIdReconnectionRequest": {
        "title": "Reconnection Request Body",
        "type": "object",
        "properties": {
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the body of a reconnection request for a specific customer institution.",
        "example": {
          "requestContext": {
            "requestId": "b1e55df5-2f47-582a-b049-74f0f0e1dcf4",
            "correlationId": "4cc1e911-e1a5-5260-bcc4-91d124db1bb7",
            "idempotencyKey": "aa81a344-ce2e-51e3-a0a7-8f729af37b30",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-819807"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that a request is idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Indicates the system that initiated the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application that made the request.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information for the request being made."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel through which the request was made.",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Details about the communication channel used for the request."
      },
      "CreateConnectComponentsCustomerInstitutionLoginIdReconnectionResponse_201": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "a9f039bf-f7b6-06eb-c5a0-ab8eec521c2b"
          },
          "eventStreamId": {
            "type": "string",
            "description": "Identifier for the event stream related to the response.",
            "example": "d8831ae1-966a-4edb-29d1-5841cb11557e"
          },
          "elements": {
            "type": "array",
            "description": "Array of elements related to the response.",
            "example": [
              {
                "id": "37038f0d-94a9-e787-fcca-a59a36569ac9",
                "label": "STANDARD",
                "sortOrder": 1
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Element"
            }
          },
          "metadata": {
            "description": "Metadata associated with the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the reconnection operations for institution login IDs.",
        "example": {
          "id": "a9f039bf-f7b6-06eb-c5a0-ab8eec521c2b",
          "eventStreamId": "d8831ae1-966a-4edb-29d1-5841cb11557e",
          "elements": [
            {
              "id": "37038f0d-94a9-e787-fcca-a59a36569ac9",
              "label": "STANDARD",
              "sortOrder": 1
            }
          ],
          "metadata": {
            "responseId": "ce215a5f-d32c-5088-ba43-c7370bc9b118",
            "correlationId": "4cc1e911-e1a5-5260-bcc4-91d124db1bb7",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Element": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the element.",
            "example": "ELEMENT-001"
          },
          "label": {
            "type": "string",
            "description": "Label for the element.",
            "example": "Element Label"
          },
          "sortOrder": {
            "type": "integer",
            "description": "Sort order for the element.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Schema representing an element in the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESPONSE-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking the request.",
            "example": "CORR-001"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing was done.",
            "example": "us-west-1"
          }
        },
        "description": "Schema representing metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "institutionLoginIdId": {
        "name": "institutionLoginIdId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-post-reconnections"
        },
        "example": "open-finance-api-post-reconnections"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication where the client must send the JWT (JSON Web Token) in the Authorization header to access protected resources. Ensure that the token is valid and correctly formatted.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}