{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Banking Channel Specific Atm Network Managements-v5-spec",
    "description": "The Banking Channel ATM Network Management API allows users to retrieve detailed information regarding specific ATM networks managed under various banking channels. This endpoint facilitates access to key resources such as ATM locations, operational statuses, and channel-specific configurations. It is essential for financial institutions, developers, and third-party service providers who require insights into ATM network management to improve service delivery and enhance customer experiences. Utilize this API to monitor and manage ATM networks efficiently, ensuring optimal performance and availability for users.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/atm-network-management": {
      "get": {
        "tags": [
          "ATM Network Management"
        ],
        "summary": "Retrieve ATM network management details",
        "description": "This endpoint allows you to fetch details about the ATM network management specific to channels, providing insights into network performance, availability, and configuration.",
        "operationId": "listBankingChannelSpecificAtmNetworkManagements",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for obtaining ATM network management information specific to a particular channel. This request is critical for retrieving the operational status and configurations within the ATM network, allowing the client to tailor its interactions based on the channel's parameters.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListBankingChannelSpecificAtmNetworkManagementsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBankingChannelSpecificAtmNetworkManagementsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListBankingChannelSpecificAtmNetworkManagementsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation specific to ATM network management in a channel-specific context.",
        "example": "{}"
      },
      "ListBankingChannelSpecificAtmNetworkManagementsResponse_200": {
        "title": "ATM Network Management Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "Array of ATM channel information.",
            "example": [
              {
                "channelId": "MOBILE-US",
                "regionCode": "US-EAST-1",
                "serviceWindow": {
                  "opensAt": "STANDARD",
                  "closesAt": "STANDARD"
                },
                "dailyCapacity": 1,
                "atmId": "STANDARD",
                "cashStatus": "AVAILABLE",
                "terminalHealth": "ONLINE",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ATMChannel"
            }
          },
          "pagination": {
            "description": "Details about pagination for the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the ATM Network Management GET operation, containing a list of items, pagination details, sorting information, and metadata.",
        "example": {
          "items": [
            {
              "channelId": "MOBILE-US",
              "regionCode": "US-EAST-1",
              "serviceWindow": {
                "opensAt": "STANDARD",
                "closesAt": "STANDARD"
              },
              "dailyCapacity": 1,
              "atmId": "STANDARD",
              "cashStatus": "AVAILABLE",
              "terminalHealth": "ONLINE",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "5755c669-b7fb-598b-88ad-d290369f887c",
            "correlationId": "f3e453d2-8004-5271-b4e4-bfde685c8a60",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ATMChannel": {
        "title": "ATM Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the ATM channel."
          },
          "regionCode": {
            "type": "string",
            "description": "Code representing the geographical region of the ATM."
          },
          "serviceWindow": {
            "description": "The operating hours of the ATM service.",
            "$ref": "#/components/schemas/ServiceWindow"
          },
          "dailyCapacity": {
            "type": "integer",
            "description": "The maximum number of transactions the ATM can handle in a day.",
            "format": "int32"
          },
          "atmId": {
            "type": "string",
            "description": "Unique identifier for the ATM."
          },
          "cashStatus": {
            "type": "string",
            "description": "Current cash availability status of the ATM."
          },
          "terminalHealth": {
            "type": "string",
            "description": "Status indicating the health of the ATM terminal."
          },
          "recordStatus": {
            "type": "string",
            "description": "Record status of the ATM information."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating the last update time of the ATM information."
          }
        },
        "description": "Details about a specific ATM channel."
      },
      "ServiceWindow": {
        "title": "Service Window",
        "type": "object",
        "properties": {
          "opensAt": {
            "type": "string",
            "description": "Time at which the ATM service opens."
          },
          "closesAt": {
            "type": "string",
            "description": "Time at which the ATM service closes."
          }
        },
        "description": "Operating hours for the ATM service."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the response.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32"
          }
        },
        "description": "Pagination details for the response."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request across systems."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of this response occurred."
          }
        },
        "description": "Metadata related to the response of the operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "atm-network-management-search-atm-network-management"
        },
        "example": "atm-network-management-search-atm-network-management"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes a Bearer authentication method, specifically designed for use with JSON Web Tokens (JWT). Clients must include an access token in the 'Authorization' header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}