{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Enterprise Service By Procurement Id-spec",
    "description": "The Enterprise Service Retrieval API facilitates the access of enterprise service details associated with a specific procurement ID. This endpoint allows consumers, such as financial institutions and internal systems, to efficiently retrieve relevant service information, ensuring informed decision-making and compliance in procurement processes. By utilizing this API, users can streamline their service management and enhance operational oversight related to procurement activities. This resource is essential for integrating procurement data with enterprise service management workflows.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/enterprise-services/procurement/{procurementId}": {
      "get": {
        "tags": [
          "Procurement"
        ],
        "summary": "Retrieve procurement resource details",
        "description": "Fetches detailed information about a specific procurement resource identified by RES-100045. This endpoint provides all relevant data associated with the procurement, allowing developers to integrate or display the information effectively.",
        "operationId": "getEnterpriseServiceByProcurementId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/procurementId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to specify the parameters needed for the procurement operation when retrieving data for RES-100045.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetEnterpriseServiceByProcurementIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and resources retrieved.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetEnterpriseServiceByProcurementIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetEnterpriseServiceByProcurementIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation in the procurement service.",
        "example": "{}"
      },
      "GetEnterpriseServiceByProcurementIdResponse_200": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "8eb4a181-3efe-5351-80c4-df8699cf906f"
          },
          "supplierId": {
            "type": "string",
            "description": "The unique identifier for the supplier.",
            "example": "STANDARD"
          },
          "costCenter": {
            "type": "string",
            "description": "The identifier for the cost center related to the procurement.",
            "example": "STANDARD"
          },
          "amount": {
            "description": "The monetary amount involved in the procurement.",
            "$ref": "#/components/schemas/Amount"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user who requested the procurement.",
            "example": "STANDARD"
          },
          "purchaseOrderId": {
            "type": "string",
            "description": "The unique identifier for the purchase order.",
            "example": "ORD-743285"
          },
          "categoryCode": {
            "type": "string",
            "description": "The code representing the category of the procurement.",
            "example": "CODE-330"
          },
          "approvalLevel": {
            "type": "string",
            "description": "The current approval level for the procurement request.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the procurement record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the procurement record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata information related to the procurement request.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for the procurement operations.",
        "example": {
          "requestId": "8eb4a181-3efe-5351-80c4-df8699cf906f",
          "supplierId": "STANDARD",
          "costCenter": "STANDARD",
          "amount": {
            "value": 100.0,
            "currency": "USD"
          },
          "requestedBy": "STANDARD",
          "purchaseOrderId": "ORD-743285",
          "categoryCode": "CODE-330",
          "approvalLevel": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "f8985de2-65bb-5e0a-a78d-ec3272626586",
            "correlationId": "a6c84edc-9b81-5f25-bf38-3ba0b7469f55",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Amount": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The numerical value of the amount.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is expressed.",
            "example": "string"
          }
        },
        "description": "Schema representing the amount and currency for the procurement."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking the request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Schema representing the metadata information for the procurement response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "procurementId": {
        "name": "procurementId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "procurement-get-procurement"
        },
        "example": "procurement-get-procurement"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication mechanism, where the authentication information is transmitted as a bearer token. The token should be a JSON Web Token (JWT) which provides a compact and self-contained way for securely transmitting information between parties as a JSON object.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}