{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Syndicated Loan Management API",
    "description": "The Syndicated Loan Management API provides access to detailed information regarding syndicated loans within the banking sector. This API allows users to retrieve comprehensive data on loan arrangements shared by multiple lenders to support large-scale financial transactions. Typical consumers include financial analysts, loan managers, and risk assessors looking to evaluate and manage loan portfolios effectively. By leveraging this API, developers can integrate sophisticated loan management capabilities into their applications, enhancing decision-making and operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/syndicated-loan": {
      "get": {
        "tags": [
          "Syndicated Loan"
        ],
        "summary": "Retrieve Syndicated Loan Information",
        "description": "This endpoint allows users to retrieve detailed information about syndicated loans offered in the trade banking sector. It provides insights necessary for understanding the terms, conditions, and features of various syndicated loans.",
        "operationId": "getSyndicatedLoan",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving information about syndicated loans in the trade banking system. Ensure that the JSON structure adheres to the required schema for successful processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSyndicatedLoanRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request was successful, and the response contains the requested data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSyndicatedLoanResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetSyndicatedLoanRequest": {
        "title": "Syndicated Loan Operations Request Body",
        "type": "string",
        "description": "A request body schema for operations related to syndicated loans in a trade banking context.",
        "example": "{}"
      },
      "GetSyndicatedLoanResponse_200": {
        "title": "Syndicated Loan Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of syndicated loan items.",
            "example": [
              {
                "corporateCustomerId": "CUST-358844",
                "facilityId": "STANDARD",
                "counterpartyId": "PARTY-367128",
                "amount": {
                  "value": 100.0,
                  "currency": "USD"
                },
                "maturityDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/SyndicatedLoanItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for retrieving syndicated loan operations.",
        "example": {
          "items": [
            {
              "corporateCustomerId": "CUST-358844",
              "facilityId": "STANDARD",
              "counterpartyId": "PARTY-367128",
              "amount": {
                "value": 100.0,
                "currency": "USD"
              },
              "maturityDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "6945bd12-7fb7-5d3e-af52-068a79b371d5",
            "correlationId": "4eb83cd4-c81a-5e97-9004-f314d89510d6",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "SyndicatedLoanItem": {
        "title": "Syndicated Loan Item",
        "type": "object",
        "properties": {
          "corporateCustomerId": {
            "type": "string",
            "description": "Identifier for the corporate customer.",
            "example": "string"
          },
          "facilityId": {
            "type": "string",
            "description": "Identifier for the loan facility.",
            "example": "string"
          },
          "counterpartyId": {
            "type": "string",
            "description": "Identifier for the counterparty involved in the loan.",
            "example": "string"
          },
          "amount": {
            "type": "object",
            "properties": {
              "value": {
                "type": "number",
                "description": "The monetary value of the loan.",
                "example": 0.0
              },
              "currency": {
                "type": "string",
                "description": "Currency in which the loan amount is denoted.",
                "example": "string"
              }
            },
            "description": "Amount details of the loan.",
            "example": {
              "value": 0.0,
              "currency": "string"
            }
          },
          "maturityDate": {
            "type": "string",
            "description": "Date when the loan matures.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the loan record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update made to the loan record.",
            "example": "string"
          }
        },
        "description": "Schema representing an individual syndicated loan item."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the paginated response.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Schema representing pagination information for the response."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate multiple requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Schema representing metadata information of the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint being accessed, useful for logging or debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "syndicated-loan-search-syndicated-loan"
        },
        "example": "syndicated-loan-search-syndicated-loan"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request, typically used for tracing and application performance monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method with a JSON Web Token (JWT) for authorization. Clients should include the generated token in the Authorization header of their HTTP requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}