{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Replace P2m By Param1-spec",
    "description": "The Update Payment Intent API enables businesses to modify existing payment intents using specific parameters. This endpoint is primarily used for adjusting transaction details based on evolving customer needs or compliance requirements. Typical consumers include payment processors and e-commerce platforms that require flexibility in payment management. By leveraging this API, developers can ensure that payment intents are updated efficiently, reflecting real-time changes and enhancing user experience.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/payment-intents/{param1}": {
      "put": {
        "tags": [
          "Payment Management"
        ],
        "summary": "Update a specific payment intent.",
        "description": "This endpoint allows developers to update the details of a specific payment intent identified by its ID. You can modify various attributes of the payment intent to ensure that it meets your application\u2019s requirements.",
        "operationId": "replaceP2mByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Contains the necessary information to update the payment intent identified by PAY-300045. Ensure all required fields are provided according to the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceP2mByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, payment intent updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceP2mByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ReplaceP2mByParam1Request": {
        "title": "Payment Intent Request",
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "The unique identifier for the merchant.",
            "example": "MER-827483"
          },
          "outletId": {
            "type": "string",
            "description": "The identifier for the outlet where the transaction is taking place.",
            "example": "STANDARD"
          },
          "terminalId": {
            "type": "string",
            "description": "The identifier for the terminal used for the payment.",
            "example": "STANDARD"
          },
          "amount": {
            "description": "The amount of money involved in the payment transaction.",
            "$ref": "#/components/schemas/Amount"
          },
          "captureMethod": {
            "type": "string",
            "description": "The method used to capture the payment.",
            "example": "STANDARD"
          },
          "channel": {
            "type": "string",
            "description": "The channel through which the payment is processed.",
            "example": "STANDARD"
          },
          "allowedPaymentMethods": {
            "type": "array",
            "description": "List of payment methods that are allowed for this transaction.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "example": "string"
            }
          },
          "customer": {
            "description": "Information about the customer making the payment.",
            "$ref": "#/components/schemas/Customer"
          },
          "order": {
            "description": "Details about the order associated with the payment.",
            "$ref": "#/components/schemas/Order"
          },
          "requestContext": {
            "description": "Contextual information regarding the payment request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for creating or updating a payment intent in the system.",
        "example": {
          "merchantId": "MER-827483",
          "outletId": "STANDARD",
          "terminalId": "STANDARD",
          "amount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "captureMethod": "STANDARD",
          "channel": "STANDARD",
          "allowedPaymentMethods": [
            "STANDARD"
          ],
          "customer": {
            "id": "STANDARD",
            "name": "Northstar Banking Service",
            "email": "olivia.bennett@northstar.example",
            "phone": "+1-212-555-0147",
            "riskSegment": "STANDARD"
          },
          "order": {
            "merchantOrderId": "ORD-511863",
            "description": "Customer banking request processed successfully",
            "items": [
              {
                "itemId": "STANDARD",
                "name": "Northstar Banking Service",
                "description": "Customer banking request processed successfully",
                "quantity": "STANDARD",
                "unitPrice": {
                  "currency": "USD"
                }
              }
            ]
          },
          "requestContext": {
            "requestId": "f5a3b00b-e2c4-5ba3-90d7-554c473774f5",
            "correlationId": "16c24419-5501-5bec-9d86-e588701993bc",
            "idempotencyKey": "8d7ef886-9342-5d8d-89f0-ddd01f75a4f0",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-348275"
            }
          }
        }
      },
      "Amount": {
        "title": "Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is specified.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "The value or amount to be paid.",
            "example": "100.00"
          }
        },
        "description": "Schema to define the amount and currency for a payment."
      },
      "Customer": {
        "title": "Customer",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "C12345"
          },
          "name": {
            "type": "string",
            "description": "The name of the customer.",
            "example": "John Doe"
          },
          "email": {
            "type": "string",
            "description": "The email address of the customer.",
            "example": "john.doe@example.com"
          },
          "phone": {
            "type": "string",
            "description": "The phone number of the customer.",
            "example": "+123456789"
          },
          "riskSegment": {
            "type": "string",
            "description": "Risk segment associated with the customer for evaluation purposes.",
            "example": "low"
          }
        },
        "description": "Schema containing information about the customer."
      },
      "Order": {
        "title": "Order",
        "type": "object",
        "properties": {
          "merchantOrderId": {
            "type": "string",
            "description": "The identifier for the order issued by the merchant.",
            "example": "ORD123456"
          },
          "description": {
            "type": "string",
            "description": "A description of the order.",
            "example": "Purchase of electronic goods"
          },
          "items": {
            "type": "array",
            "description": "List of items included in the order.",
            "items": {
              "$ref": "#/components/schemas/OrderItem"
            }
          }
        },
        "description": "Schema containing details about the order tied to the payment."
      },
      "OrderItem": {
        "title": "Order Item",
        "type": "object",
        "properties": {
          "itemId": {
            "type": "string",
            "description": "The unique identifier for the item.",
            "example": "ITEM12345"
          },
          "name": {
            "type": "string",
            "description": "The name of the item.",
            "example": "Laptop"
          },
          "description": {
            "type": "string",
            "description": "A description of the item.",
            "example": "High-performance laptop with 16GB RAM."
          },
          "quantity": {
            "type": "string",
            "description": "The number of units of the item.",
            "example": "1"
          },
          "unitPrice": {
            "description": "The price per unit of the item.",
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "Schema representing an item within an order."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "REQ123456"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate related requests.",
            "example": "CORR123456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A unique key used to identify an idempotent request.",
            "example": "IDEMP123456"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-10T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that initiated the request.",
            "example": "System A"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "App A"
          },
          "channel": {
            "description": "Details about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema containing contextual information about the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "CH12345"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device through which the payment is made.",
            "example": "DEVICE123"
          }
        },
        "description": "Schema representing the channel details for a request."
      },
      "ReplaceP2mByParam1Response_200": {
        "type": "object",
        "properties": {
          "paymentIntentId": {
            "type": "string",
            "description": "Unique identifier for the payment intent.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant initiating the payment.",
            "example": "MER-918902"
          },
          "outletId": {
            "type": "string",
            "description": "Unique identifier for the outlet where the transaction is occurring.",
            "example": "STANDARD"
          },
          "terminalId": {
            "type": "string",
            "description": "Unique identifier for the terminal used for the transaction.",
            "example": "STANDARD"
          },
          "amount": {
            "description": "The total amount for the payment.",
            "$ref": "#/components/schemas/AmountDetails"
          },
          "amountAuthorized": {
            "description": "The amount that has been authorized for capture.",
            "$ref": "#/components/schemas/AmountDetails"
          },
          "amountCaptured": {
            "description": "The amount that has been captured from the authorized payment.",
            "$ref": "#/components/schemas/AmountDetails"
          },
          "amountRefunded": {
            "description": "The total amount that has been refunded to the customer.",
            "$ref": "#/components/schemas/AmountDetails"
          },
          "captureMethod": {
            "type": "string",
            "description": "Indicates how the funds will be captured (e.g., manual, automatic).",
            "example": "STANDARD"
          },
          "channel": {
            "type": "string",
            "description": "The channel through which the payment is processed (e.g., online, in-store).",
            "example": "STANDARD"
          },
          "allowedPaymentMethods": {
            "type": "array",
            "description": "List of payment methods allowed for this transaction.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "example": "credit_card"
            }
          },
          "selectedPaymentMethod": {
            "description": "Details of the payment method selected by the customer.",
            "$ref": "#/components/schemas/PaymentMethodDetails"
          },
          "customer": {
            "description": "Information about the customer making the payment.",
            "$ref": "#/components/schemas/CustomerDetails"
          },
          "order": {
            "description": "Details about the order associated with this payment intent.",
            "$ref": "#/components/schemas/OrderDetails"
          },
          "metadata": {
            "description": "Additional information related to the payment process.",
            "$ref": "#/components/schemas/MetadataDetails"
          }
        },
        "description": "Response schema for payment intent operations, containing details about the payment intent and associated entities.",
        "example": {
          "paymentIntentId": "STANDARD",
          "merchantId": "MER-918902",
          "outletId": "STANDARD",
          "terminalId": "STANDARD",
          "amount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "amountAuthorized": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "amountCaptured": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "amountRefunded": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "captureMethod": "STANDARD",
          "channel": "STANDARD",
          "allowedPaymentMethods": [
            "STANDARD"
          ],
          "selectedPaymentMethod": {
            "type": "STANDARD",
            "token": "STANDARD",
            "issuerBankCode": "CODE-817",
            "maskedIdentifier": "STANDARD",
            "walletProvider": "STANDARD"
          },
          "customer": {
            "id": "STANDARD",
            "name": "Northstar Banking Service",
            "email": "olivia.bennett@northstar.example",
            "phone": "+1-212-555-0147",
            "riskSegment": "STANDARD"
          },
          "order": {
            "merchantOrderId": "ORD-993142",
            "description": "Customer banking request processed successfully",
            "items": [
              {
                "itemId": "STANDARD",
                "name": "Northstar Banking Service",
                "description": "Customer banking request processed successfully",
                "quantity": "STANDARD",
                "unitPrice": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "totalAmount": {
                  "currency": "USD",
                  "value": "STANDARD"
                }
              }
            ]
          },
          "metadata": {
            "responseId": "128a9d9e-9f15-558d-9ae3-85774f8134c8",
            "correlationId": "16c24419-5501-5bec-9d86-e588701993bc",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AmountDetails": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency code (e.g., USD, EUR).",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "The value of the amount, typically in the smallest currency unit.",
            "example": "100.00"
          }
        },
        "description": "Details of an amount including currency and value."
      },
      "PaymentMethodDetails": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "The type of payment method (e.g., card, wallet).",
            "example": "credit_card"
          },
          "token": {
            "type": "string",
            "description": "Token representing the payment method.",
            "example": "tok_12345"
          },
          "issuerBankCode": {
            "type": "string",
            "description": "The bank code of the card issuer.",
            "example": "issuer_123"
          },
          "maskedIdentifier": {
            "type": "string",
            "description": "Masked identifier for the payment method (e.g., last four digits of a card).",
            "example": "**** **** **** 1234"
          },
          "walletProvider": {
            "type": "string",
            "description": "The provider of the wallet, if applicable.",
            "example": "PayPal"
          }
        },
        "description": "Details of the payment method selected for the transaction."
      },
      "CustomerDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "customer_123"
          },
          "name": {
            "type": "string",
            "description": "The name of the customer.",
            "example": "John Doe"
          },
          "email": {
            "type": "string",
            "description": "Email address of the customer.",
            "example": "john.doe@example.com"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the customer.",
            "example": "+123456789"
          },
          "riskSegment": {
            "type": "string",
            "description": "Risk segment assigned to the customer based on analysis.",
            "example": "low"
          }
        },
        "description": "Information about the customer involved in the payment."
      },
      "OrderDetails": {
        "type": "object",
        "properties": {
          "merchantOrderId": {
            "type": "string",
            "description": "Unique identifier for the order in the merchant's system.",
            "example": "order_123"
          },
          "description": {
            "type": "string",
            "description": "Description of the order.",
            "example": "Purchase of electronics"
          },
          "items": {
            "type": "array",
            "description": "List of items included in the order.",
            "items": {
              "type": "object",
              "properties": {
                "itemId": {
                  "type": "string",
                  "description": "Unique identifier for each item.",
                  "example": "item_123"
                },
                "name": {
                  "type": "string",
                  "description": "Name of the product.",
                  "example": "Smartphone"
                },
                "description": {
                  "type": "string",
                  "description": "Description of the product.",
                  "example": "Latest model smartphone with 128GB storage."
                },
                "quantity": {
                  "type": "string",
                  "description": "Quantity of the item ordered.",
                  "example": "2"
                },
                "unitPrice": {
                  "$ref": "#/components/schemas/AmountDetails"
                },
                "totalAmount": {
                  "$ref": "#/components/schemas/AmountDetails"
                }
              },
              "example": {
                "itemId": "item_123",
                "name": "Smartphone",
                "description": "Latest model smartphone with 128GB storage.",
                "quantity": "2",
                "unitPrice": {
                  "currency": "USD",
                  "value": "500.00"
                },
                "totalAmount": {
                  "currency": "USD",
                  "value": "1000.00"
                }
              }
            }
          }
        },
        "description": "Details of the order linked to the payment."
      },
      "MetadataDetails": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response_123"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking requests.",
            "example": "correlation_123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the payment was processed.",
            "example": "US"
          }
        },
        "description": "Metadata related to the payment process."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-replace-payment-intent"
        },
        "example": "banking-p2m-openapi-replace-payment-intent"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method. Clients must present a valid JWT (JSON Web Token) as part of the Authorization header in their requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}