{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Session Dialogue Management API",
    "description": "The Session Dialogue Management API enables businesses to efficiently manage interactions across various customer channels. This API allows for the update and enhancement of existing session dialogues, ensuring a seamless and cohesive experience for end-users. Common use cases include adjusting parameters within ongoing dialogues to better meet customer needs or resolve issues swiftly. It is primarily utilized by customer support teams and developers looking to improve user engagement and experience in banking applications.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cross-channel/session-dialogue/{param1}": {
      "patch": {
        "tags": [
          "Cross Channel Services"
        ],
        "summary": "Update session dialogue details",
        "description": "This endpoint allows you to update the details of a specific session dialogue identified by its resource ID. Send the required fields in the request body to modify the session dialogue information.",
        "operationId": "patchCrossChannelSessionDialogueRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body contains the necessary data for updating a specific session dialogue identified by RES-100045. The data should conform to the defined schema to ensure successful processing of the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchCrossChannelSessionDialogueRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed, and the session dialogue has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchCrossChannelSessionDialogueRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchCrossChannelSessionDialogueRes100045Request": {
        "title": "Patch Request Body for Cross-Channel Session Dialogue Operations",
        "type": "object",
        "properties": {
          "changes": {
            "description": "An object containing the specific changes to be applied to the session dialogue.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the requested change.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time at which the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user or system that requested the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for patch operations on cross-channel session dialogues. It includes details about changes requested, the reason for the change, and the context of the request.",
        "example": {
          "changes": {
            "partyId": "PARTY-833474",
            "interactionId": "INT-743065",
            "channel": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "7fcff65e-98c6-53bd-bce3-ece31f9fcb82",
            "correlationId": "9307128d-f1f9-57fc-9ad3-71560607e745",
            "idempotencyKey": "469f442a-cd2b-5571-935b-9b24d1059a53",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-411019"
            }
          }
        }
      },
      "Changes": {
        "title": "Changes in Session Dialogue",
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "Identifier of the party involved in the session.",
            "example": "party123"
          },
          "interactionId": {
            "type": "string",
            "description": "Identifier for the interaction associated with the session.",
            "example": "interaction456"
          },
          "channel": {
            "description": "Details about the channel used for the interaction.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Defines the changes to be made to the session dialogue including party, interaction details, and the channel used."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier of the channel.",
            "example": "channel789"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the communication channel.",
            "example": "email"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to access the channel.",
            "example": "device101112"
          }
        },
        "description": "Information regarding the communication channel used in the session."
      },
      "RequestContext": {
        "title": "Request Context Information",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate logs and events across systems.",
            "example": "corr456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is idempotent.",
            "example": "idempotencyKey101"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-01T09:59:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request was initiated.",
            "example": "MobileApp"
          },
          "channel": {
            "description": "The specific channel context for this request.",
            "$ref": "#/components/schemas/ChannelContext"
          }
        },
        "description": "Information providing context about the request such as IDs and timing."
      },
      "ChannelContext": {
        "title": "Channel Context Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier of the channel relevant to the context.",
            "example": "contextChannel123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel being referenced in the context.",
            "example": "chat"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the channel context.",
            "example": "contextDevice456"
          }
        },
        "description": "Information about the context of the channel used in the request."
      },
      "PatchCrossChannelSessionDialogueRes100045Response_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response, indicating the iteration of the data.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The current status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the response, providing additional context and identifiers.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the PATCH operation on session dialogue, containing version, status, update information and metadata.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "3fd7723c-b176-5bda-a695-e098f51e2f3b",
            "correlationId": "9307128d-f1f9-57fc-9ad3-71560607e745",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Metadata schema containing identifiers and timestamps related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifies the endpoint that processed the request. Useful for tracking and auditing purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "session-dialogue-update-session-dialogue"
        },
        "example": "session-dialogue-update-session-dialogue"
      },
      "X-Runtime-App": {
        "description": "Indicates the name of the application that handled the request. This helps in identifying the source of the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method with JWT (JSON Web Token) format. Clients must include a valid bearer token in the Authorization header when making requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}