{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Product Directory Validation API",
    "description": "The Product Directory Validation API facilitates the validation of product entries within the banking product management system. By enabling users to submit validation requests, it ensures that product data meets predefined criteria and is ready for integration into broader banking operations. This API primarily serves product managers and compliance teams, providing them with a streamlined process to verify product details efficiently. With each request, users can enhance the accuracy and reliability of their product offerings, ensuring alignment with regulatory standards.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/product-management/product-directory/{param1}/validations": {
      "post": {
        "tags": [
          "Product Management"
        ],
        "summary": "Create Validation for Product",
        "description": "This endpoint allows you to create a validation entry for the specified product within the product directory. Ensure that the necessary data is included in the request to successfully process the validation.",
        "operationId": "createProductValidation_productionDirectory",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to validate the product information for the specified product directory entry (PROD-700045). It should contain all necessary details required for the validation process, including any specific attributes or fields that pertain to the product's status, specifications, and compliance requirements.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProductValidation_productionDirectoryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully with validation results.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateProductValidation_productionDirectoryResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateProductValidation_productionDirectoryRequest": {
        "type": "object",
        "properties": {
          "validationScope": {
            "type": "array",
            "description": "A list of validation scope identifiers.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "A string representing a validation scope.",
              "example": "exampleValidationScope"
            }
          },
          "asOfDate": {
            "type": "string",
            "description": "The date as of which the validations are requested, formatted as ISO 8601.",
            "example": "2026-09-15"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier for the user requesting the validation.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the request body of the POST operation in product validation.",
        "example": {
          "validationScope": [
            "STANDARD"
          ],
          "asOfDate": "2026-09-15",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "e2990f70-6430-5693-890d-ab6ca47c370d",
            "correlationId": "005bce7c-c130-5246-b5d8-ef4393a06db6",
            "idempotencyKey": "d719b7dc-d59b-5b41-94cf-4fb64d3e5fec",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-506263"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "request-abc-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple requests.",
            "example": "correlation-xyz-789"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is idempotent.",
            "example": "idempotent-key-001"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made, formatted as ISO 8601.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the system that generated the request.",
            "example": "sourceSystemName"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the application that generated the request.",
            "example": "sourceAppName"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device used to make the request.",
            "example": "device-abc-123"
          }
        },
        "description": "Schema representing the channel information for the request."
      },
      "CreateProductValidation_productionDirectoryResponse_200": {
        "title": "Product Directory Validation Response",
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "Reference to the action that was performed.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "Type of action that was executed.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the action.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "Timestamp when the action was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the processing of the action.",
            "$ref": "#/components/schemas/ValidationMetadata"
          }
        },
        "description": "This schema represents the response of the product directory validation operation.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "b65e5263-76f7-5454-854b-4907f61a89f5",
            "correlationId": "005bce7c-c130-5246-b5d8-ef4393a06db6",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ValidationMetadata": {
        "title": "Validation Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response_ABCDE"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracking the correlation of events.",
            "example": "correlation_67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "us-west-1"
          }
        },
        "description": "This schema contains metadata information about the validation operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that was accessed during the transaction.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "product-directory-validate-product-directory"
        },
        "example": "product-directory-validate-product-directory"
      },
      "X-Runtime-App": {
        "description": "The name of the application in which the request was processed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication mechanism where the client must include a valid JSON Web Token (JWT) in the Authorization header when making requests. Ensure that the token is obtained from a secure and trusted source.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}