{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Account Txpush-spec",
    "description": "The Account Transaction Push Notification API enables the seamless integration of transaction alerts for customer accounts. This API allows authorized applications to push transaction notifications directly to specified accounts for a designated customer, ensuring that users stay informed about their financial activity. Typical consumers include financial institutions and third-party applications seeking to enhance user engagement through timely notifications. The API facilitates improved customer communication and enhances transactional transparency by providing real-time updates.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/{customerId}/accounts/{accountId}/txpush": {
      "post": {
        "tags": [
          "Account Transactions"
        ],
        "summary": "Push a transaction to the specified account.",
        "description": "This endpoint allows you to push a transaction to an account identified by its unique account ID. You can use this to update the account with new transaction details efficiently.",
        "operationId": "createAccountTxpush",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          },
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit transaction push operations for a specific customer account. It should contain the necessary transaction details that will be processed for the account identified by ACC-200045 under customer CUST-100045.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAccountTxpushRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully with the transaction push.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAccountTxpushResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateAccountTxpushRequest": {
        "type": "object",
        "properties": {
          "callbackUrl": {
            "type": "string",
            "description": "The URL to which the callback will be sent once processing is complete.",
            "example": "https://banking.northstar.example/callbacks/status"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for the operations of a transaction push.",
        "example": {
          "callbackUrl": "https://banking.northstar.example/callbacks/status",
          "requestContext": {
            "requestId": "aba19f97-9ef9-52ab-ae44-16ba5cbb372a",
            "correlationId": "d14e9091-001e-54be-87cb-4fc279c6fe9f",
            "idempotencyKey": "5328559c-451f-595e-b1f1-860712c6149c",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-676570"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate multiple requests.",
            "example": "corr-789012"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure that the request is processed only once.",
            "example": "idemp-345678"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that is making the request.",
            "example": "SystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that is making the request.",
            "example": "AppX"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information about the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device associated with the channel.",
            "example": "device-12345"
          }
        },
        "description": "Information about the channel through which the request was made."
      },
      "CreateAccountTxpushResponse_201": {
        "type": "object",
        "properties": {
          "subscriptions": {
            "type": "array",
            "description": "A list of subscription objects associated with the transaction.",
            "example": [
              {
                "id": 1,
                "accountId": 1,
                "type": "STANDARD",
                "callbackUrl": "https://banking.northstar.example/callbacks/status",
                "signingKey": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Subscription"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the operation of pushing a transaction for a specific customer and account.",
        "example": {
          "subscriptions": [
            {
              "id": 1,
              "accountId": 1,
              "type": "STANDARD",
              "callbackUrl": "https://banking.northstar.example/callbacks/status",
              "signingKey": "STANDARD"
            }
          ],
          "metadata": {
            "responseId": "a21ca7c6-a813-5696-b64b-b81200c20959",
            "correlationId": "d14e9091-001e-54be-87cb-4fc279c6fe9f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Subscription": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "The unique identifier for the subscription.",
            "format": "int32",
            "example": 0
          },
          "accountId": {
            "type": "integer",
            "description": "The unique identifier for the account associated with the subscription.",
            "format": "int32",
            "example": 0
          },
          "type": {
            "type": "string",
            "description": "The type of subscription.",
            "example": "string"
          },
          "callbackUrl": {
            "type": "string",
            "description": "The URL to which notifications for this subscription will be sent.",
            "example": "string"
          },
          "signingKey": {
            "type": "string",
            "description": "The signing key used for secure communication.",
            "example": "string"
          }
        },
        "description": "Represents a subscription for a transaction push."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking the request across services.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the API endpoint that was called during the transaction.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-subscribe-to-tx-push-notifications"
        },
        "example": "open-finance-api-subscribe-to-tx-push-notifications"
      },
      "X-Runtime-App": {
        "description": "Name of the application that executed the API call.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication method, which requires a JSON Web Token (JWT) for access control. The token should be included in the Authorization header when making API requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}