{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Update Partner Access Key API",
    "description": "The Update Partner Access Key API allows businesses to securely manage access keys associated with their partner integrations. This operation enables authorized users to modify existing access key details, ensuring that partners possess the appropriate credentials to access the system. Typical consumers of this API are developers and system administrators who manage partner access and authentication processes. By maintaining up-to-date access key information, organizations can enhance security and streamline their partner integrations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/partners/accesskey/{accesskeyId}": {
      "put": {
        "tags": [
          "Partner Management"
        ],
        "summary": "Update Access Key for a Partner",
        "description": "This endpoint allows you to update the access key associated with a specific partner identified by the resource ID. Ensure that all necessary permissions and validations are checked before making this request.",
        "operationId": "updateAccessKeyForPartner",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/accesskeyId"
          }
        ],
        "requestBody": {
          "description": "Request body for updating the access key associated with the partner identified by RES-100045. Ensure that the provided data adheres to the defined schema to successfully process the update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAccessKeyForPartnerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and resource updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateAccessKeyForPartnerResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateAccessKeyForPartnerRequest": {
        "title": "Access Key Request Body",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier of the customer.",
            "example": "CUST-192971"
          },
          "partnerId": {
            "type": "string",
            "description": "The unique identifier of the partner.",
            "example": "STANDARD"
          },
          "thirdPartyPartnerId": {
            "type": "string",
            "description": "The identifier of the partner from a third-party system.",
            "example": "STANDARD"
          },
          "provenance": {
            "description": "Information regarding the source of the request.",
            "$ref": "#/components/schemas/Provenance"
          },
          "products": {
            "type": "array",
            "description": "A list of products associated with the access key.",
            "example": [
              {
                "product": "STANDARD",
                "payorId": "STANDARD",
                "maxCalls": 1,
                "accountId": "ACC-357756",
                "accessPeriod": {
                  "type": "STANDARD",
                  "startTime": "2026-08-11T12:00:00Z",
                  "endTime": "2026-08-11T12:00:00Z"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Product"
            }
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for updating an access key related to partners. It includes customer and partner identifiers, provenance info, and product details.",
        "example": {
          "customerId": "CUST-192971",
          "partnerId": "STANDARD",
          "thirdPartyPartnerId": "STANDARD",
          "provenance": {
            "clientFingerprint": "STANDARD",
            "ipAddress": "STANDARD",
            "token": "STANDARD"
          },
          "products": [
            {
              "product": "STANDARD",
              "payorId": "STANDARD",
              "maxCalls": 1,
              "accountId": "ACC-357756",
              "accessPeriod": {
                "type": "STANDARD",
                "startTime": "2026-08-11T12:00:00Z",
                "endTime": "2026-08-11T12:00:00Z"
              }
            }
          ],
          "requestContext": {
            "requestId": "ba0fceb7-37ea-5171-90e6-32203195cfa9",
            "correlationId": "0b672fb2-622b-5ef3-8251-dbd349bdb83d",
            "idempotencyKey": "03807947-b136-5051-a790-fc2de85e6c74",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-148020"
            }
          }
        }
      },
      "Provenance": {
        "title": "Provenance Schema",
        "type": "object",
        "properties": {
          "clientFingerprint": {
            "type": "string",
            "description": "Fingerprint of the client."
          },
          "ipAddress": {
            "type": "string",
            "description": "IP address of the client."
          },
          "token": {
            "type": "string",
            "description": "Token associated with the request."
          }
        },
        "description": "Schema representing the provenance of a receipt."
      },
      "Product": {
        "title": "Product Schema",
        "type": "object",
        "properties": {
          "product": {
            "type": "string",
            "description": "Product name."
          },
          "payorId": {
            "type": "string",
            "description": "Identifier for the payor."
          },
          "maxCalls": {
            "type": "integer",
            "description": "Maximum allowed calls for this product.",
            "format": "int32"
          },
          "accountId": {
            "type": "string",
            "description": "Identifier for the account associated with the product."
          },
          "accessPeriod": {
            "description": "Access period information for the product.",
            "$ref": "#/components/schemas/AccessPeriod"
          }
        },
        "description": "Schema representing a product associated with a receipt."
      },
      "AccessPeriod": {
        "title": "Access Period Schema",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of access period."
          },
          "startTime": {
            "type": "string",
            "description": "Start time of the access period."
          },
          "endTime": {
            "type": "string",
            "description": "End time of the access period."
          }
        },
        "description": "Schema representing the access period for a product."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "request_67890"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to correlate this request with other related requests.",
            "example": "correlation_ABC"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure that the request is idempotent.",
            "example": "idempotencyKey_123"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp of when the request was made in ISO 8601 format.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "system_A"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "app_1"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Details about the context in which the request was made, including identification and timestamp."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel_123"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., 'web', 'mobile').",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "An identifier for the device from which the request was made.",
            "example": "device_ABC"
          }
        },
        "description": "Details about the channel through which the request was made, including identifiers and type."
      },
      "UpdateAccessKeyForPartnerResponse_200": {
        "title": "Access Key Operations Response Schema",
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "description": "An array of receipt objects.",
            "example": [
              {
                "receipt": {
                  "profile": 1,
                  "version": "STANDARD",
                  "id": "STANDARD",
                  "customerId": "CUST-637249",
                  "partnerId": "STANDARD",
                  "products": [
                    {
                      "product": "STANDARD",
                      "payorId": "STANDARD",
                      "maxCalls": 1,
                      "accountId": "ACC-867783",
                      "accessPeriod": {
                        "type": "STANDARD",
                        "startTime": "2026-08-11T12:00:00Z",
                        "endTime": "2026-08-11T12:00:00Z"
                      }
                    }
                  ],
                  "provenance": {
                    "clientFingerprint": "STANDARD",
                    "ipAddress": "STANDARD",
                    "token": "STANDARD"
                  },
                  "timestamp": "2026-09-15T14:30:00Z"
                },
                "proof": {
                  "signature": "STANDARD",
                  "keyId": "STANDARD",
                  "timestamp": "2026-09-15T14:30:00Z"
                }
              }
            ],
            "items": {
              "required": [
                "proof",
                "receipt"
              ],
              "type": "object",
              "properties": {
                "receipt": {
                  "$ref": "#/components/schemas/Receipt"
                },
                "proof": {
                  "$ref": "#/components/schemas/Proof"
                }
              },
              "example": {
                "receipt": {
                  "profile": 0,
                  "version": "string",
                  "id": "string",
                  "customerId": "string",
                  "partnerId": "string",
                  "products": [
                    {
                      "product": "string",
                      "payorId": "string",
                      "maxCalls": 0,
                      "accountId": "string",
                      "accessPeriod": {
                        "type": "string",
                        "startTime": "string",
                        "endTime": "string"
                      }
                    }
                  ],
                  "provenance": {
                    "clientFingerprint": "string",
                    "ipAddress": "string",
                    "token": "string"
                  },
                  "timestamp": "string"
                },
                "proof": {
                  "signature": "string",
                  "keyId": "string",
                  "timestamp": "string"
                }
              }
            }
          },
          "metadata": {
            "description": "Metadata associated with the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for Access Key operations.",
        "example": {
          "data": [
            {
              "receipt": {
                "profile": 1,
                "version": "STANDARD",
                "id": "STANDARD",
                "customerId": "CUST-637249",
                "partnerId": "STANDARD",
                "products": [
                  {
                    "product": "STANDARD",
                    "payorId": "STANDARD",
                    "maxCalls": 1,
                    "accountId": "ACC-867783",
                    "accessPeriod": {
                      "type": "STANDARD",
                      "startTime": "2026-08-11T12:00:00Z",
                      "endTime": "2026-08-11T12:00:00Z"
                    }
                  }
                ],
                "provenance": {
                  "clientFingerprint": "STANDARD",
                  "ipAddress": "STANDARD",
                  "token": "STANDARD"
                },
                "timestamp": "2026-09-15T14:30:00Z"
              },
              "proof": {
                "signature": "STANDARD",
                "keyId": "STANDARD",
                "timestamp": "2026-09-15T14:30:00Z"
              }
            }
          ],
          "metadata": {
            "responseId": "90f683fc-6945-5d51-a64b-47a7a27c4044",
            "correlationId": "0b672fb2-622b-5ef3-8251-dbd349bdb83d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Receipt": {
        "title": "Receipt Schema",
        "type": "object",
        "properties": {
          "profile": {
            "type": "integer",
            "description": "Profile identifier.",
            "format": "int32"
          },
          "version": {
            "type": "string",
            "description": "Receipt version information."
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the receipt."
          },
          "customerId": {
            "type": "string",
            "description": "Identifier for the customer associated with the receipt."
          },
          "partnerId": {
            "type": "string",
            "description": "Identifier for the partner associated with the receipt."
          },
          "products": {
            "type": "array",
            "description": "List of products associated with the receipt.",
            "items": {
              "$ref": "#/components/schemas/Product"
            }
          },
          "provenance": {
            "description": "Information regarding the provenance of the receipt.",
            "$ref": "#/components/schemas/Provenance"
          },
          "timestamp": {
            "type": "string",
            "description": "Timestamp of the receipt generation."
          }
        },
        "description": "Schema representing a receipt with detailed information."
      },
      "Proof": {
        "title": "Proof Schema",
        "type": "object",
        "properties": {
          "signature": {
            "type": "string",
            "description": "Signature for verification."
          },
          "keyId": {
            "type": "string",
            "description": "Identifier for the public key used for signing."
          },
          "timestamp": {
            "type": "string",
            "description": "Timestamp of when the proof was generated."
          }
        },
        "description": "Schema representing proof associated with a receipt."
      },
      "Metadata": {
        "title": "Metadata Schema",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating the request and response."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred."
          }
        },
        "description": "Schema representing metadata related to the Response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "accesskeyId": {
        "name": "accesskeyId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the endpoint being accessed. This value is used for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-update-third-party-access-key"
        },
        "example": "open-finance-api-update-third-party-access-key"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is currently processing the request. This helps in identifying the source of the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method using a Bearer token, typically implemented with JSON Web Tokens (JWT). Clients must include the token in the Authorization header when making requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}