{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Reverse Loan Payment API",
    "description": "The Reverse Loan Payment API allows users to initiate reversals on specific loan payments, effectively reverting the transaction. This operation is vital for managing payment errors or customer requests for refunds. The API targets financial institutions and payment processors who need to ensure accurate account management and customer satisfaction. By providing a straightforward endpoint for payment reversals, developers can easily integrate this functionality into their systems, enhancing their loan management services.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loans/{loanId}/payments/{paymentId}/reverse": {
      "post": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Reverse a payment for a specific loan.",
        "description": "This operation allows you to reverse a payment associated with a particular loan identified by its loan ID. By executing this request, you can revert the effects of the specified payment, ensuring accurate financial records and customer satisfaction.",
        "operationId": "reversePaymentForLoan",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/loanId"
          },
          {
            "$ref": "#/components/parameters/paymentId"
          }
        ],
        "requestBody": {
          "description": "Request body to reverse a payment for a specific loan. This operation requires providing necessary data to process the reversal of payment identified by PAY-300045 for loan LOAN-500045.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReversePaymentForLoanRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource successfully created for the payment reversal.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReversePaymentForLoanResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ReversePaymentForLoanRequest": {
        "title": "Loan Payment Reversal Request",
        "type": "object",
        "properties": {
          "reasonCode": {
            "type": "string",
            "description": "Code representing the reason for the reversal.",
            "example": "CODE-574"
          },
          "reasonDescription": {
            "type": "string",
            "description": "Detailed description of the reason for the reversal.",
            "example": "STANDARD"
          },
          "reversalDate": {
            "type": "string",
            "description": "Date when the reversal should take effect.",
            "example": "2026-09-15"
          },
          "restoreInstallmentStatus": {
            "type": "boolean",
            "description": "Indicates whether to restore the installment status after reversal.",
            "example": true
          },
          "requestContext": {
            "description": "Context information for the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for reversing a loan payment operation.",
        "example": {
          "reasonCode": "CODE-574",
          "reasonDescription": "STANDARD",
          "reversalDate": "2026-09-15",
          "restoreInstallmentStatus": true,
          "requestContext": {
            "requestId": "4605c092-73f9-582f-92fc-04659dad37e9",
            "correlationId": "99816f93-5099-5949-bf8b-f31135746621",
            "idempotencyKey": "569290c8-4124-548a-a314-1e51a9f15b62",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-225548"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request across systems.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-05T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier of the system making the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application making the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request is made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context for the request, including identifiers and meta information."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel used.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel through which the request was made.",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device from which the request originated.",
            "example": "string"
          }
        },
        "description": "Schema representing the channel details for the request."
      },
      "ReversePaymentForLoanResponse_201": {
        "title": "Payment Response Schema",
        "type": "object",
        "properties": {
          "amount": {
            "description": "The total amount involved in the payment.",
            "$ref": "#/components/schemas/Amount"
          },
          "paymentDate": {
            "type": "string",
            "description": "The date when the payment was made.",
            "example": "2026-09-15"
          },
          "valueDate": {
            "type": "string",
            "description": "The date when the payment value is applicable.",
            "example": "2026-09-15"
          },
          "paymentMethod": {
            "type": "string",
            "description": "The method used for the payment (e.g., credit card, bank transfer).",
            "example": "STANDARD"
          },
          "sourceAccountNumber": {
            "type": "string",
            "description": "The account number from which the payment was made.",
            "example": "STANDARD"
          },
          "externalReference": {
            "type": "string",
            "description": "An external reference identifier for tracking the payment.",
            "example": "STANDARD"
          },
          "allocationStrategy": {
            "type": "string",
            "description": "Strategy used for allocating the payment.",
            "example": "STANDARD"
          },
          "targetInstallmentNumbers": {
            "type": "array",
            "description": "List of target installment numbers that this payment applies to.",
            "example": [
              1
            ],
            "items": {
              "type": "integer",
              "format": "int32",
              "example": 1
            }
          },
          "manualAllocation": {
            "description": "Details of manual allocation if specified.",
            "$ref": "#/components/schemas/ManualAllocation"
          },
          "narrative": {
            "type": "string",
            "description": "Narrative or description of the payment.",
            "example": "STANDARD"
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the payment.",
            "example": "838c1239-f4a3-ce74-8c9c-d7445ebf3728"
          },
          "paymentNumber": {
            "type": "string",
            "description": "Number assigned to the payment transaction.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the payment (e.g., pending, completed, failed).",
            "example": "ACTIVE"
          },
          "allocation": {
            "description": "Details of the allocated amounts.",
            "$ref": "#/components/schemas/Allocation"
          },
          "transactionReference": {
            "type": "string",
            "description": "Reference for tracking the transaction.",
            "example": "STANDARD"
          },
          "postedAt": {
            "type": "string",
            "description": "Timestamp of when the payment was posted.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the payment.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for a payment operation.",
        "example": {
          "amount": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "paymentDate": "2026-09-15",
          "valueDate": "2026-09-15",
          "paymentMethod": "STANDARD",
          "sourceAccountNumber": "STANDARD",
          "externalReference": "STANDARD",
          "allocationStrategy": "STANDARD",
          "targetInstallmentNumbers": [
            1
          ],
          "manualAllocation": {
            "principal": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "interest": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "fees": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "penalties": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "excess": {
              "currency": "USD",
              "amount": "1250.75"
            }
          },
          "narrative": "STANDARD",
          "id": "838c1239-f4a3-ce74-8c9c-d7445ebf3728",
          "paymentNumber": "STANDARD",
          "status": "ACTIVE",
          "allocation": {
            "principal": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "interest": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "fees": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "penalties": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "excess": {
              "currency": "USD",
              "amount": "1250.75"
            }
          },
          "transactionReference": "STANDARD",
          "postedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "cd2ff1d5-b409-5588-a57c-6ff256db66cc",
            "correlationId": "99816f93-5099-5949-bf8b-f31135746621",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Amount": {
        "title": "Amount Schema",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency of the amount.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The numeric amount.",
            "example": "100.00"
          }
        },
        "description": "Schema representing an amount with currency."
      },
      "ManualAllocation": {
        "title": "Manual Allocation Schema",
        "type": "object",
        "properties": {
          "principal": {
            "description": "Manual allocation for the principal amount.",
            "$ref": "#/components/schemas/Amount"
          },
          "interest": {
            "description": "Manual allocation for the interest amount.",
            "$ref": "#/components/schemas/Amount"
          },
          "fees": {
            "description": "Manual allocation for fees.",
            "$ref": "#/components/schemas/Amount"
          },
          "penalties": {
            "description": "Manual allocation for penalties.",
            "$ref": "#/components/schemas/Amount"
          },
          "excess": {
            "description": "Manual allocation for any excess amount.",
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "Schema representing the manual allocation details."
      },
      "Allocation": {
        "title": "Allocation Schema",
        "type": "object",
        "properties": {
          "principal": {
            "description": "Allocated amount for the principal.",
            "$ref": "#/components/schemas/Amount"
          },
          "interest": {
            "description": "Allocated amount for interest.",
            "$ref": "#/components/schemas/Amount"
          },
          "fees": {
            "description": "Allocated amount for fees.",
            "$ref": "#/components/schemas/Amount"
          },
          "penalties": {
            "description": "Allocated amount for penalties.",
            "$ref": "#/components/schemas/Amount"
          },
          "excess": {
            "description": "Allocated amount for any excess.",
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "Schema representing the allocated amounts."
      },
      "Metadata": {
        "title": "Metadata Schema",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response.",
            "example": "RESP-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking related operations.",
            "example": "CORR-12345"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the payment occurs.",
            "example": "US-East"
          }
        },
        "description": "Schema representing additional metadata related to the payment."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "loanId": {
        "name": "loanId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "paymentId": {
        "name": "paymentId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the endpoint. This value is used to trace requests and responses through the system for monitoring and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-reverse-loan-payment"
        },
        "example": "banking-loans-openapi-reverse-loan-payment"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is handling the request. This helps identify which application the request originated from, facilitating better logging and analysis.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method with JSON Web Tokens (JWT) as the format for the token. Clients must include the token in the Authorization header when making requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}