{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Pisp By Param1-spec",
    "description": "The Domestic Payment Retrieval API allows users to access specific PISP-related information associated with domestic payments by utilizing a unique identifier. This endpoint is designed for financial institutions and third-party providers looking to query payment initiation service providers (PISPs) effectively. Typical consumers of this API include payment processors and financial application developers. With this API, users can streamline their payment solutions and enhance the customer experience by directly integrating domestic payment tracking functionality.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/domestic-payments/{param1}": {
      "get": {
        "tags": [],
        "summary": "Retrieve domestic payment details",
        "description": "This endpoint allows you to fetch the details of a specific domestic payment using its unique identifier. It provides comprehensive information about the payment status, amount, and recipient details.",
        "operationId": "getPispByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is utilized to retrieve information regarding the domestic payment transaction identified by PAY-300045. It is structured in JSON format and contains the necessary parameters to ensure a successful API call.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPispByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed and the expected response is provided.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPispByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPispByParam1Request": {
        "type": "string",
        "description": "A request body for the GET operation on domestic payments. This schema represents the payload that is expected to be sent along with the request.",
        "example": "{}"
      },
      "GetPispByParam1Response_200": {
        "title": "Domestic Payments Response",
        "type": "object",
        "properties": {
          "Data": {
            "$ref": "#/components/schemas/DomesticPaymentData"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Schema representing the response from a domestic payments API.",
        "example": {
          "Data": {
            "DomesticPaymentId": "PAY-994873",
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "Status": "ACTIVE",
            "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
            "StatusReason": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "Path": "STANDARD"
              }
            ],
            "ExpectedExecutionDateTime": "2026-09-15T14:30:00Z",
            "ExpectedSettlementDateTime": "2026-09-15T14:30:00Z",
            "Refund": {
              "Account": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD"
              }
            },
            "Charges": [
              {
                "ChargeBearer": "STANDARD",
                "Type": "STANDARD",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            ],
            "Initiation": {
              "InstructionIdentification": "STANDARD",
              "EndToEndIdentification": "STANDARD",
              "LocalInstrument": "STANDARD",
              "InstructedAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              },
              "DebtorAccount": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD",
                "Proxy": {
                  "Identification": "STANDARD",
                  "Code": "SUCCESS",
                  "Type": "STANDARD"
                }
              },
              "CreditorAgent": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "LEI": "STANDARD",
                "PostalAddress": {
                  "AddressType": "STANDARD"
                }
              }
            }
          },
          "metadata": {
            "responseId": "b2488c8b-f200-5af1-8acd-b05f1256e7a6",
            "correlationId": "a688c41a-0c07-5c58-b8d4-83a3adc0ce29",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "DomesticPaymentData": {
        "title": "Domestic Payment Data",
        "type": "object",
        "properties": {
          "DomesticPaymentId": {
            "type": "string",
            "description": "Unique identifier for the domestic payment.",
            "example": "string"
          },
          "ConsentId": {
            "type": "string",
            "description": "Identifier for the consent associated with the payment.",
            "example": "string"
          },
          "CreationDateTime": {
            "type": "string",
            "description": "Timestamp when the domestic payment was created.",
            "example": "string"
          },
          "Status": {
            "type": "string",
            "description": "Current status of the domestic payment.",
            "example": "string"
          },
          "StatusUpdateDateTime": {
            "type": "string",
            "description": "Timestamp when the status was last updated.",
            "example": "string"
          },
          "StatusReason": {
            "type": "array",
            "description": "Array of reasons explaining the current status.",
            "items": {
              "$ref": "#/components/schemas/StatusReason"
            }
          },
          "ExpectedExecutionDateTime": {
            "type": "string",
            "description": "The expected execution date and time of the payment.",
            "example": "string"
          },
          "ExpectedSettlementDateTime": {
            "type": "string",
            "description": "The expected settlement date and time of the payment.",
            "example": "string"
          },
          "Refund": {
            "$ref": "#/components/schemas/RefundDetails"
          },
          "Charges": {
            "type": "array",
            "description": "Array of charges associated with the domestic payment.",
            "items": {
              "$ref": "#/components/schemas/Charge"
            }
          },
          "Initiation": {
            "$ref": "#/components/schemas/PaymentInitiation"
          }
        },
        "description": "Details regarding the domestic payment."
      },
      "StatusReason": {
        "title": "Status Reason",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Error or status code relevant to the payment.",
            "example": "string"
          },
          "description": {
            "type": "string",
            "description": "Description providing details about the status.",
            "example": "string"
          },
          "Path": {
            "type": "string",
            "description": "Path providing contextual information related to the status.",
            "example": "string"
          }
        },
        "description": "Reason providing additional information on the payment status."
      },
      "RefundDetails": {
        "title": "Refund Details",
        "type": "object",
        "properties": {
          "Account": {
            "$ref": "#/components/schemas/AccountDetails"
          }
        },
        "description": "Information regarding the refund associated with the payment."
      },
      "AccountDetails": {
        "title": "Account Details",
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "Name of the scheme for the account.",
            "example": "string"
          },
          "Identification": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "string"
          },
          "Name": {
            "type": "string",
            "description": "Name associated with the account.",
            "example": "string"
          },
          "SecondaryIdentification": {
            "type": "string",
            "description": "Secondary identification related to the account.",
            "example": "string"
          }
        },
        "description": "Details of the account involved in the refund."
      },
      "Charge": {
        "title": "Charge",
        "type": "object",
        "properties": {
          "ChargeBearer": {
            "type": "string",
            "description": "Who bears the charge for this payment.",
            "example": "string"
          },
          "Type": {
            "type": "string",
            "description": "Type of charge applied to the payment.",
            "example": "string"
          },
          "Amount": {
            "$ref": "#/components/schemas/ChargeAmount"
          }
        },
        "description": "Details of a charge associated with the payment."
      },
      "ChargeAmount": {
        "title": "Charge Amount",
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "Amount of the charge.",
            "example": "string"
          },
          "Currency": {
            "type": "string",
            "description": "Currency in which the charge is denoted.",
            "example": "string"
          }
        },
        "description": "Amount and currency details of the charge."
      },
      "PaymentInitiation": {
        "title": "Payment Initiation Details",
        "type": "object",
        "properties": {
          "InstructionIdentification": {
            "type": "string",
            "description": "Identifier for the payment instruction.",
            "example": "string"
          },
          "EndToEndIdentification": {
            "type": "string",
            "description": "End-to-end identification for tracking the payment.",
            "example": "string"
          },
          "LocalInstrument": {
            "type": "string",
            "description": "Local instrument used for the payment.",
            "example": "string"
          },
          "InstructedAmount": {
            "$ref": "#/components/schemas/InstructedAmount"
          },
          "DebtorAccount": {
            "$ref": "#/components/schemas/DebtorAccountDetails"
          },
          "CreditorAgent": {
            "$ref": "#/components/schemas/CreditorAgentDetails"
          }
        },
        "description": "Details regarding the initiation of the payment."
      },
      "InstructedAmount": {
        "title": "Instructed Amount",
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "Instructed amount for the payment.",
            "example": "string"
          },
          "Currency": {
            "type": "string",
            "description": "Currency of the instructed amount.",
            "example": "string"
          }
        },
        "description": "Amount details that have been instructed for the payment."
      },
      "DebtorAccountDetails": {
        "title": "Debtor Account Details",
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "Account scheme name.",
            "example": "string"
          },
          "Identification": {
            "type": "string",
            "description": "Account identification number.",
            "example": "string"
          },
          "Name": {
            "type": "string",
            "description": "Name associated with the debtor account.",
            "example": "string"
          },
          "SecondaryIdentification": {
            "type": "string",
            "description": "Secondary identification for the debtor account.",
            "example": "string"
          },
          "Proxy": {
            "$ref": "#/components/schemas/ProxyDetails"
          }
        },
        "description": "Details of the account from which the payment is debited."
      },
      "ProxyDetails": {
        "title": "Proxy Details",
        "type": "object",
        "properties": {
          "Identification": {
            "type": "string",
            "description": "Proxy identification number.",
            "example": "string"
          },
          "Code": {
            "type": "string",
            "description": "Proxy code associated with the debtor account.",
            "example": "string"
          },
          "Type": {
            "type": "string",
            "description": "Type of proxy for the account.",
            "example": "string"
          }
        },
        "description": "Proxy identification details for the debtor account."
      },
      "CreditorAgentDetails": {
        "title": "Creditor Agent Details",
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "Name of the scheme for the creditor agent.",
            "example": "string"
          },
          "Identification": {
            "type": "string",
            "description": "Unique identifier for the creditor agent.",
            "example": "string"
          },
          "Name": {
            "type": "string",
            "description": "Name of the creditor agent.",
            "example": "string"
          },
          "LEI": {
            "type": "string",
            "description": "Legal Entity Identifier of the creditor agent.",
            "example": "string"
          },
          "PostalAddress": {
            "$ref": "#/components/schemas/PostAddressDetails"
          }
        },
        "description": "Details of the agent receiving the payment."
      },
      "PostAddressDetails": {
        "title": "Postal Address Details",
        "type": "object",
        "properties": {
          "AddressType": {
            "type": "string",
            "description": "Type of address provided.",
            "example": "string"
          }
        },
        "description": "Postal address details for the creditor agent."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata related to the response of the API call."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-get-domestic-payment"
        },
        "example": "payment-initiation-openapi-get-domestic-payment"
      },
      "X-Runtime-App": {
        "description": "The name of the runtime application responsible for handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication via JSON Web Tokens (JWT). The client must include a valid JWT token in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}