{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Site Operation Status-spec",
    "description": "The Site Operation Status API provides updated information regarding the current operational status of various banking facilities. Developers can utilize this API to retrieve the status of specific site operations, helping to inform users or systems about availability and performance. This resource is crucial for banking applications that require real-time insights into facility operations. Typical consumers include application developers, system integrators, and operational monitoring tools that rely on accurate status reporting.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/facilities/site-operations/status": {
      "get": {
        "tags": [
          "Site Operations"
        ],
        "summary": "Retrieve the status of site operations.",
        "description": "This endpoint allows you to obtain the current operational status of facilities across various sites. It provides insights into operational uptime, downtime, and other relevant metrics to ensure effective management of site operations.",
        "operationId": "listSiteOperationStatus",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving the status of site operations. This request is used to determine the current operational state of the facilities.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListSiteOperationStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the current status of site operations.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListSiteOperationStatusResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListSiteOperationStatusRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on site operations status. It is expected to be a string.",
        "example": "{}"
      },
      "ListSiteOperationStatusResponse_200": {
        "title": "Site Operations Status Response",
        "type": "object",
        "properties": {
          "siteId": {
            "type": "string",
            "description": "The unique identifier for the site.",
            "example": "STANDARD"
          },
          "assetId": {
            "type": "string",
            "description": "The unique identifier for the asset associated with the operations.",
            "example": "STANDARD"
          },
          "workOrderId": {
            "type": "string",
            "description": "The unique identifier for the work order pertaining to the operations.",
            "example": "ORD-749275"
          },
          "scheduledDate": {
            "type": "string",
            "description": "The date scheduled for the operation, in ISO 8601 format.",
            "example": "2026-09-15"
          },
          "vendorId": {
            "type": "string",
            "description": "The unique identifier for the vendor responsible for the operation.",
            "example": "STANDARD"
          },
          "facilityZone": {
            "type": "string",
            "description": "The specific zone within the facility where the operations will take place.",
            "example": "STANDARD"
          },
          "maintenanceType": {
            "type": "string",
            "description": "The type of maintenance being performed, such as preventive or corrective.",
            "example": "STANDARD"
          },
          "estimatedDurationMinutes": {
            "type": "integer",
            "description": "The estimated duration of the operation in minutes.",
            "format": "int32",
            "example": 1
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record indicating whether it is active or inactive.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the operations status record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the record was last updated, in ISO 8601 format.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata associated with the operations status response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema describes the response for the operations status of a site, providing details about various operational parameters.",
        "example": {
          "siteId": "STANDARD",
          "assetId": "STANDARD",
          "workOrderId": "ORD-749275",
          "scheduledDate": "2026-09-15",
          "vendorId": "STANDARD",
          "facilityZone": "STANDARD",
          "maintenanceType": "STANDARD",
          "estimatedDurationMinutes": 1,
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "98352698-7c44-51d2-9cea-ecd260185732",
            "correlationId": "82853e87-128f-5aab-b9e2-d55c35da2a81",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response, used for tracking purposes.",
            "example": "R987"
          },
          "correlationId": {
            "type": "string",
            "description": "The unique identifier for correlating requests and responses within the system.",
            "example": "C654"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the response was generated, in ISO 8601 format.",
            "example": "2023-10-10T14:05:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of this response took place.",
            "example": "US-East"
          }
        },
        "description": "This schema describes additional metadata associated with a response, providing context and tracking information."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed. This ID allows tracking and analytics of API usage.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "site-operations-get-site-operations"
        },
        "example": "site-operations-get-site-operations"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is currently being executed. This helps in identifying the source of the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme based on the Bearer Token, specifically using JSON Web Tokens (JWT). This method allows clients to authenticate by including a token in the Authorization header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}