{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Open Banking Aisp Account Products-v5-spec",
    "description": "MICROSERVICE-PROD-List Open Banking Aisp Account Products-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/aisp/accounts/{accountId}/product": {
      "get": {
        "operationId": "listOpenBankingAispAccountProducts",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListOpenBankingAispAccountProductsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOpenBankingAispAccountProductsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListOpenBankingAispAccountProductsRequest": {
        "type": "string",
        "example": "{}"
      },
      "ListOpenBankingAispAccountProductsResponse_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "Product": {
                "type": "array",
                "example": "string",
                "items": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "example": "string"
                    },
                    "id": {
                      "type": "string",
                      "example": "string"
                    },
                    "AccountId": {
                      "type": "string",
                      "example": "string"
                    },
                    "SecondaryProductId": {
                      "type": "string",
                      "example": "string"
                    },
                    "type": {
                      "type": "string",
                      "example": "string"
                    },
                    "MarketingStateId": {
                      "type": "string",
                      "example": "string"
                    },
                    "OtherProductType": {
                      "type": "object",
                      "properties": {
                        "Name": {
                          "type": "string",
                          "example": "string"
                        },
                        "Description": {
                          "type": "string",
                          "example": "string"
                        },
                        "ProductDetails": {
                          "type": "object",
                          "properties": {
                            "Segment": {
                              "type": "array",
                              "example": "string",
                              "items": {
                                "type": "string",
                                "example": "string"
                              }
                            },
                            "FeeFreeLength": {
                              "type": "integer",
                              "format": "int32",
                              "example": 0
                            },
                            "FeeFreeLengthPeriod": {
                              "type": "string",
                              "example": "string"
                            },
                            "MonthlyMaximumCharge": {
                              "type": "string",
                              "example": "string"
                            },
                            "Notes": {
                              "type": "array",
                              "example": "string",
                              "items": {
                                "type": "string",
                                "example": "string"
                              }
                            },
                            "OtherSegment": {
                              "type": "object",
                              "properties": {
                                "Code": {
                                  "type": "string",
                                  "example": "string"
                                },
                                "Name": {
                                  "type": "string",
                                  "example": "string"
                                },
                                "Description": {
                                  "type": "string",
                                  "example": "string"
                                }
                              },
                              "example": "string"
                            }
                          },
                          "example": "string"
                        },
                        "CreditInterest": {
                          "type": "object",
                          "properties": {
                            "TierBandSet": {
                              "type": "array",
                              "example": "string",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "TierBandMethod": {
                                    "type": "string",
                                    "example": "string"
                                  },
                                  "CalculationMethod": {
                                    "type": "string",
                                    "example": "string"
                                  },
                                  "Destination": {
                                    "type": "string",
                                    "example": "string"
                                  },
                                  "Notes": {
                                    "type": "array",
                                    "example": "string",
                                    "items": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  },
                                  "OtherCalculationMethod": {
                                    "type": "object",
                                    "properties": {
                                      "Code": {
                                        "type": "string",
                                        "example": "string"
                                      },
                                      "Name": {
                                        "type": "string",
                                        "example": "string"
                                      },
                                      "Description": {
                                        "type": "string",
                                        "example": "string"
                                      }
                                    },
                                    "example": "string"
                                  },
                                  "OtherDestination": {
                                    "type": "object",
                                    "properties": {
                                      "Code": {
                                        "type": "string",
                                        "example": "string"
                                      },
                                      "Name": {
                                        "type": "string",
                                        "example": "string"
                                      },
                                      "Description": {
                                        "type": "string",
                                        "example": "string"
                                      }
                                    },
                                    "example": "string"
                                  },
                                  "TierBand": {
                                    "type": "array",
                                    "example": "string",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "Identification": {
                                          "type": "string",
                                          "example": "string"
                                        },
                                        "TierValueMinimum": {
                                          "type": "string",
                                          "example": "string"
                                        },
                                        "TierValueMaximum": {
                                          "type": "string",
                                          "example": "string"
                                        },
                                        "CalculationFrequency": {
                                          "type": "string",
                                          "example": "string"
                                        },
                                        "ApplicationFrequency": {
                                          "type": "string",
                                          "example": "string"
                                        },
                                        "DepositInterestAppliedCoverage": {
                                          "type": "string",
                                          "example": "string"
                                        },
                                        "FixedVariableInterestRateType": {
                                          "type": "string",
                                          "example": "string"
                                        },
                                        "AER": {
                                          "type": "string",
                                          "example": "string"
                                        },
                                        "BankInterestRateType": {
                                          "type": "string",
                                          "example": "string"
                                        }
                                      },
                                      "example": "string"
                                    }
                                  }
                                },
                                "example": "string"
                              }
                            }
                          },
                          "example": "string"
                        }
                      },
                      "example": "string"
                    }
                  },
                  "example": "string"
                }
              }
            },
            "example": {
              "Product": [
                {
                  "name": "Northstar Banking Service",
                  "id": "STANDARD",
                  "AccountId": "ACC-762879",
                  "SecondaryProductId": "PROD-761452",
                  "type": "STANDARD",
                  "MarketingStateId": "STANDARD",
                  "OtherProductType": {
                    "Name": "Northstar Banking Service",
                    "Description": "Customer banking request processed successfully",
                    "ProductDetails": {
                      "Segment": [
                        "STANDARD"
                      ],
                      "FeeFreeLength": 1,
                      "FeeFreeLengthPeriod": "STANDARD",
                      "MonthlyMaximumCharge": "STANDARD",
                      "Notes": [
                        "STANDARD"
                      ],
                      "OtherSegment": {
                        "Code": "SUCCESS",
                        "Name": "Northstar Banking Service",
                        "Description": "Customer banking request processed successfully"
                      }
                    },
                    "CreditInterest": {
                      "TierBandSet": [
                        {
                          "TierBandMethod": "STANDARD",
                          "CalculationMethod": "STANDARD",
                          "Destination": "STANDARD",
                          "Notes": [
                            "STANDARD"
                          ],
                          "OtherCalculationMethod": {
                            "Code": "SUCCESS",
                            "Name": "Northstar Banking Service",
                            "Description": "Customer banking request processed successfully"
                          },
                          "OtherDestination": {
                            "Code": "SUCCESS",
                            "Name": "Northstar Banking Service",
                            "Description": "Customer banking request processed successfully"
                          },
                          "TierBand": [
                            {
                              "Identification": "STANDARD",
                              "TierValueMinimum": "STANDARD",
                              "TierValueMaximum": "STANDARD",
                              "CalculationFrequency": "STANDARD",
                              "ApplicationFrequency": "STANDARD",
                              "DepositInterestAppliedCoverage": "STANDARD",
                              "FixedVariableInterestRateType": "STANDARD",
                              "AER": "STANDARD",
                              "BankInterestRateType": "STANDARD"
                            }
                          ]
                        }
                      ]
                    }
                  }
                }
              ]
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "4b42ce10-d693-5187-908e-b6797069e55a",
              "correlationId": "f08d19f3-d3fc-52dd-b693-760678fb1618",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "Data": {
            "Product": [
              {
                "name": "Northstar Banking Service",
                "id": "STANDARD",
                "AccountId": "ACC-762879",
                "SecondaryProductId": "PROD-761452",
                "type": "STANDARD",
                "MarketingStateId": "STANDARD",
                "OtherProductType": {
                  "Name": "Northstar Banking Service",
                  "Description": "Customer banking request processed successfully",
                  "ProductDetails": {
                    "Segment": [
                      "STANDARD"
                    ],
                    "FeeFreeLength": 1,
                    "FeeFreeLengthPeriod": "STANDARD",
                    "MonthlyMaximumCharge": "STANDARD",
                    "Notes": [
                      "STANDARD"
                    ],
                    "OtherSegment": {
                      "Code": "SUCCESS",
                      "Name": "Northstar Banking Service",
                      "Description": "Customer banking request processed successfully"
                    }
                  },
                  "CreditInterest": {
                    "TierBandSet": [
                      {
                        "TierBandMethod": "STANDARD",
                        "CalculationMethod": "STANDARD",
                        "Destination": "STANDARD",
                        "Notes": [
                          "STANDARD"
                        ],
                        "OtherCalculationMethod": {
                          "Code": "SUCCESS",
                          "Name": "Northstar Banking Service",
                          "Description": "Customer banking request processed successfully"
                        },
                        "OtherDestination": {
                          "Code": "SUCCESS",
                          "Name": "Northstar Banking Service",
                          "Description": "Customer banking request processed successfully"
                        },
                        "TierBand": [
                          {
                            "Identification": "STANDARD",
                            "TierValueMinimum": "STANDARD",
                            "TierValueMaximum": "STANDARD",
                            "CalculationFrequency": "STANDARD",
                            "ApplicationFrequency": "STANDARD",
                            "DepositInterestAppliedCoverage": "STANDARD",
                            "FixedVariableInterestRateType": "STANDARD",
                            "AER": "STANDARD",
                            "BankInterestRateType": "STANDARD"
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            ]
          },
          "metadata": {
            "responseId": "4b42ce10-d693-5187-908e-b6797069e55a",
            "correlationId": "f08d19f3-d3fc-52dd-b693-760678fb1618",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-api-get-accounts-account-id-product"
        },
        "example": "accounts-api-get-accounts-account-id-product"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}