{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Trade Banking Cash Managements-spec",
    "description": "The Trade Banking Cash Managements API provides access to detailed information about cash management services within the trade banking domain. This API enables users to retrieve a list of available cash management solutions, facilitating better financial planning and operational efficiency. Typical consumers include banking professionals, financial analysts, and clients managing trade-related finances who seek to optimize their cash flow. By integrating this API, developers can enhance applications that require real-time insights into cash management options.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/cash-management": {
      "get": {
        "tags": [
          "Cash Management"
        ],
        "summary": "Retrieve cash management information.",
        "description": "This endpoint allows you to retrieve information related to cash management in trade banking. It provides insights into cash flow, account status, and other relevant data to effectively manage your funds.",
        "operationId": "listTradeBankingCashManagements",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to fetch cash management operations in the trade banking sector. It contains the necessary parameters for retrieving the relevant information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListTradeBankingCashManagementsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved cash management data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListTradeBankingCashManagementsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListTradeBankingCashManagementsRequest": {
        "type": "string",
        "description": "Represents the request body for a GET operation in the Trade Banking Cash Management API.",
        "example": "{}"
      },
      "ListTradeBankingCashManagementsResponse_200": {
        "title": "Cash Management Operations Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of cash management items",
            "example": [
              {
                "corporateCustomerId": "CUST-647224",
                "facilityId": "STANDARD",
                "counterpartyId": "PARTY-156467",
                "amount": {
                  "value": 100.0,
                  "currency": "USD"
                },
                "maturityDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CashManagementItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the items list",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the cash management operations GET request, including list of items, pagination details, sorting information, and metadata.",
        "example": {
          "items": [
            {
              "corporateCustomerId": "CUST-647224",
              "facilityId": "STANDARD",
              "counterpartyId": "PARTY-156467",
              "amount": {
                "value": 100.0,
                "currency": "USD"
              },
              "maturityDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "98f45c02-a222-584f-84ec-0032cbc2bc00",
            "correlationId": "ec6d1df7-14fd-5cb1-beb6-f1c0ed47e300",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CashManagementItem": {
        "title": "Cash Management Item",
        "type": "object",
        "properties": {
          "corporateCustomerId": {
            "type": "string",
            "description": "Unique identifier for the corporate customer"
          },
          "facilityId": {
            "type": "string",
            "description": "Identifier for the facility associated with the item"
          },
          "counterpartyId": {
            "type": "string",
            "description": "Identifier for the counterparty involved"
          },
          "amount": {
            "$ref": "#/components/schemas/Amount"
          },
          "maturityDate": {
            "type": "string",
            "description": "The maturity date of the cash management item in ISO 8601 format"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update of the item in ISO 8601 format"
          }
        },
        "description": "Represents a single cash management item with details about the corporate customer, facility, counterparty, amount, and other relevant information."
      },
      "Amount": {
        "title": "Amount",
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The numeric value of the amount"
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is specified"
          }
        },
        "description": "Represents the monetary amount and its currency."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the pagination",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available",
            "format": "int32"
          }
        },
        "description": "Pagination details for the response, including page number, page size, and total items."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating related requests"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated in ISO 8601 format"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed"
          }
        },
        "description": "Contains additional metadata about the response including identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cash-management-and-account-services-search-cash-management-and-account-services"
        },
        "example": "cash-management-and-account-services-search-cash-management-and-account-services"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication as defined in RFC 6750. Clients must include a valid JSON Web Token (JWT) in the Authorization header of requests to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}