{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Reward Points Account Management API",
    "description": "The Reward Points Account Management API enables businesses to manage customer reward points effectively. This API supports operations such as updating reward point balances and modifying account details, enhancing customer loyalty initiatives. Typical users include customer service representatives and loyalty program managers who require efficient access to account management functionalities. By utilizing this API, organizations can ensure that reward points are accurately tracked and updated, leading to improved customer satisfaction and engagement.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/account-management/reward-points-account/{param1}": {
      "patch": {
        "tags": [
          "Reward Points Management"
        ],
        "summary": "Update Reward Points Account",
        "description": "This endpoint allows you to update details of the specified Reward Points Account, identified by its unique account ID. Make sure to include the necessary fields to apply the desired updates.",
        "operationId": "patchRewardPointsAccountAcc200045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the reward points account associated with the specified Account ID (ACC-200045). The JSON payload must conform to the specified schema and contain the necessary fields for updating the account.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchRewardPointsAccountAcc200045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was completed successfully, and the reward points account has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchRewardPointsAccountAcc200045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchRewardPointsAccountAcc200045Request": {
        "title": "Reward Points Account Update Request",
        "required": [
          "changeReason",
          "changes",
          "effectiveAt",
          "requestContext",
          "requestedBy"
        ],
        "type": "object",
        "properties": {
          "changes": {
            "description": "An object containing the changes to be made to the reward points account.",
            "$ref": "#/components/schemas/RewardPointsChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the changes being made to the account.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time at which the changes will take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user requesting the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "An object providing context about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body to update a reward points account.",
        "example": {
          "changes": {
            "loyaltyAccountId": "ACC-719150",
            "customerId": "CUST-722507",
            "activityType": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "23f43ff4-96bb-552f-8656-97deabfcf657",
            "correlationId": "f740df2d-df69-5b17-91e7-edd1e87c4693",
            "idempotencyKey": "d7881149-ec9d-5981-a6d3-9423cd187330",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-345193"
            }
          }
        }
      },
      "RewardPointsChanges": {
        "title": "Reward Points Changes",
        "required": [
          "activityType",
          "customerId",
          "loyaltyAccountId"
        ],
        "type": "object",
        "properties": {
          "loyaltyAccountId": {
            "type": "string",
            "description": "The identifier for the loyalty account.",
            "example": "LoyaltyAccount123"
          },
          "customerId": {
            "type": "string",
            "description": "The identifier for the customer associated with the loyalty account.",
            "example": "Customer456"
          },
          "activityType": {
            "type": "string",
            "description": "The type of activity associated with this change.",
            "example": "Points Earned"
          }
        },
        "description": "Schema containing details of the changes made to the reward points account."
      },
      "RequestContext": {
        "title": "Request Context",
        "required": [
          "channel",
          "correlationId",
          "idempotencyKey",
          "requestId",
          "requestedAt",
          "sourceApplication",
          "sourceSystem"
        ],
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to track related requests and operations.",
            "example": "corr789"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the idempotency of the request.",
            "example": "idempotentKey123"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-09-15T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "RewardsService"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application through which the request was initiated.",
            "example": "WebApp"
          },
          "channel": {
            "description": "Information regarding the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema providing contextual information for the request."
      },
      "Channel": {
        "title": "Channel Information",
        "required": [
          "channelId",
          "channelType",
          "deviceId"
        ],
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "channel456"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device789"
          }
        },
        "description": "Schema containing information about the request channel."
      },
      "PatchRewardPointsAccountAcc200045Response_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the account was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the PATCH operation on reward points account.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "85f171f9-b27f-5c02-ac45-4fbe7e826da3",
            "correlationId": "f740df2d-df69-5b17-91e7-edd1e87c4693",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata containing various identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint that processed the request, useful for logging and tracking purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reward-points-account-update-reward-points-account"
        },
        "example": "reward-points-account-update-reward-points-account"
      },
      "X-Runtime-App": {
        "description": "Name of the application that executed the request, providing context for where the operation originated.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes a bearer token for authentication, following the JSON Web Token (JWT) standard. Clients must provide a valid JWT as part of the authorization header when making requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}