{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Account Party Information Retrieval API",
    "description": "The Account Party Information Retrieval API allows financial institutions to access detailed information regarding the parties associated with a specific account. By leveraging this API, developers can retrieve essential data about account holders and authorized parties, thereby enhancing customer relationship management and compliance. Typical consumers of this API include banking apps and financial service providers that require up-to-date party information for various operations. This API streamlines the process of obtaining pertinent account-related details in a secure and efficient manner.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/aisp/accounts/{accountId}/party": {
      "get": {
        "tags": [
          "Account Information"
        ],
        "summary": "Retrieve party information for a specific account.",
        "description": "This endpoint allows you to fetch detailed information about the party associated with the specified account ID (ACC-200045). Use this information to understand the party's role and details in relation to the account.",
        "operationId": "getPartyByAccountId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "description": "Retrieve information about the party associated with the specified account. This request body structure is essential for the proper parsing and handling of the request by the server.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPartyByAccountIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the account party details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPartyByAccountIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPartyByAccountIdRequest": {
        "type": "string",
        "description": "A JSON representation of the request body for the Operations GET request pertaining to the account.",
        "example": "{}"
      },
      "GetPartyByAccountIdResponse_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "Party": {
                "$ref": "#/components/schemas/Party"
              }
            },
            "description": "Contains the party data details.",
            "example": {
              "Party": {
                "id": "STANDARD",
                "number": "STANDARD",
                "type": "STANDARD",
                "Name": "Northstar Banking Service",
                "FullLegalName": "Northstar Banking Service",
                "LegalStructure": "STANDARD",
                "LEI": "STANDARD",
                "BeneficialOwnership": true,
                "AccountRole": "DEBIT",
                "EmailAddress": "olivia.bennett@northstar.example",
                "Phone": "+1-212-555-0147",
                "Mobile": "STANDARD",
                "Relationships": {
                  "Account": {
                    "Related": "https://example.com/resource",
                    "Id": "STANDARD"
                  }
                },
                "Address": [
                  {
                    "type": "STANDARD",
                    "Department": "STANDARD",
                    "SubDepartment": "STANDARD",
                    "StreetName": "Northstar Banking Service",
                    "BuildingNumber": "STANDARD",
                    "BuildingName": "Northstar Banking Service",
                    "Floor": "STANDARD",
                    "UnitNumber": "STANDARD",
                    "Room": "STANDARD",
                    "PostBox": "STANDARD",
                    "TownLocationName": "Northstar Banking Service",
                    "DistrictName": "Northstar Banking Service",
                    "CareOf": "STANDARD",
                    "PostCode": "CODE-411",
                    "TownName": "Northstar Banking Service",
                    "CountrySubDivision": "STANDARD",
                    "Country": "STANDARD",
                    "line": [
                      "STANDARD"
                    ]
                  }
                ]
              }
            }
          },
          "Links": {
            "type": "object",
            "properties": {
              "Self": {
                "type": "string",
                "description": "Link to the current resource.",
                "example": "string"
              },
              "First": {
                "type": "string",
                "description": "Link to the first page of results.",
                "example": "string"
              },
              "Prev": {
                "type": "string",
                "description": "Link to the previous page of results.",
                "example": "string"
              }
            },
            "description": "Pagination and navigation links related to the response.",
            "example": {
              "Self": "https://example.com/resource",
              "First": "https://example.com/resource",
              "Prev": "https://example.com/resource"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving party information associated with an account.",
        "example": {
          "Data": {
            "Party": {
              "id": "STANDARD",
              "number": "STANDARD",
              "type": "STANDARD",
              "Name": "Northstar Banking Service",
              "FullLegalName": "Northstar Banking Service",
              "LegalStructure": "STANDARD",
              "LEI": "STANDARD",
              "BeneficialOwnership": true,
              "AccountRole": "DEBIT",
              "EmailAddress": "olivia.bennett@northstar.example",
              "Phone": "+1-212-555-0147",
              "Mobile": "STANDARD",
              "Relationships": {
                "Account": {
                  "Related": "https://example.com/resource",
                  "Id": "STANDARD"
                }
              },
              "Address": [
                {
                  "type": "STANDARD",
                  "Department": "STANDARD",
                  "SubDepartment": "STANDARD",
                  "StreetName": "Northstar Banking Service",
                  "BuildingNumber": "STANDARD",
                  "BuildingName": "Northstar Banking Service",
                  "Floor": "STANDARD",
                  "UnitNumber": "STANDARD",
                  "Room": "STANDARD",
                  "PostBox": "STANDARD",
                  "TownLocationName": "Northstar Banking Service",
                  "DistrictName": "Northstar Banking Service",
                  "CareOf": "STANDARD",
                  "PostCode": "CODE-411",
                  "TownName": "Northstar Banking Service",
                  "CountrySubDivision": "STANDARD",
                  "Country": "STANDARD",
                  "line": [
                    "STANDARD"
                  ]
                }
              ]
            }
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource"
          },
          "metadata": {
            "responseId": "c88fe80b-08b6-5809-bf56-6fb773c3165b",
            "correlationId": "1a83bd8e-db24-5e8d-a10d-f3ba6e45e3b3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Party": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the party.",
            "example": "string"
          },
          "number": {
            "type": "string",
            "description": "Account number associated with the party.",
            "example": "string"
          },
          "type": {
            "type": "string",
            "description": "Type of the party (e.g., individual, organization).",
            "example": "string"
          },
          "Name": {
            "type": "string",
            "description": "Name of the party.",
            "example": "string"
          },
          "FullLegalName": {
            "type": "string",
            "description": "Full legal name of the party.",
            "example": "string"
          },
          "LegalStructure": {
            "type": "string",
            "description": "Legal structure of the party (e.g., LLC, Corporation).",
            "example": "string"
          },
          "LEI": {
            "type": "string",
            "description": "Legal Entity Identifier for the party.",
            "example": "string"
          },
          "BeneficialOwnership": {
            "type": "boolean",
            "description": "Indicates if the party holds beneficial ownership.",
            "example": false
          },
          "AccountRole": {
            "type": "string",
            "description": "Role of the party in relation to the account.",
            "example": "string"
          },
          "EmailAddress": {
            "type": "string",
            "description": "Email address of the party.",
            "example": "string"
          },
          "Phone": {
            "type": "string",
            "description": "Phone number of the party.",
            "example": "string"
          },
          "Mobile": {
            "type": "string",
            "description": "Mobile phone number of the party.",
            "example": "string"
          },
          "Relationships": {
            "description": "Relationships of the party with other accounts.",
            "$ref": "#/components/schemas/Relationships"
          },
          "Address": {
            "type": "array",
            "description": "Addresses associated with the party.",
            "items": {
              "$ref": "#/components/schemas/Address"
            }
          }
        },
        "description": "Schema representing a party's details."
      },
      "Relationships": {
        "type": "object",
        "properties": {
          "Account": {
            "type": "object",
            "properties": {
              "Related": {
                "type": "string",
                "description": "Relation type for the associated account.",
                "example": "string"
              },
              "Id": {
                "type": "string",
                "description": "Unique identifier for the related account.",
                "example": "string"
              }
            },
            "description": "Information about the associated account."
          }
        },
        "description": "Schema for the relationships associated with the party."
      },
      "Address": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of address (e.g., residential, business).",
            "example": "string"
          },
          "Department": {
            "type": "string",
            "description": "Department name if applicable.",
            "example": "string"
          },
          "SubDepartment": {
            "type": "string",
            "description": "SubDepartment name if applicable.",
            "example": "string"
          },
          "StreetName": {
            "type": "string",
            "description": "Name of the street.",
            "example": "string"
          },
          "BuildingNumber": {
            "type": "string",
            "description": "Building number.",
            "example": "string"
          },
          "BuildingName": {
            "type": "string",
            "description": "Name of the building.",
            "example": "string"
          },
          "Floor": {
            "type": "string",
            "description": "Floor number of the address.",
            "example": "string"
          },
          "UnitNumber": {
            "type": "string",
            "description": "Unit number of the address.",
            "example": "string"
          },
          "Room": {
            "type": "string",
            "description": "Room number if applicable.",
            "example": "string"
          },
          "PostBox": {
            "type": "string",
            "description": "Post box information if applicable.",
            "example": "string"
          },
          "TownLocationName": {
            "type": "string",
            "description": "Name of the town location.",
            "example": "string"
          },
          "DistrictName": {
            "type": "string",
            "description": "Name of the district.",
            "example": "string"
          },
          "CareOf": {
            "type": "string",
            "description": "Care of information if applicable.",
            "example": "string"
          },
          "PostCode": {
            "type": "string",
            "description": "Postal code.",
            "example": "string"
          },
          "TownName": {
            "type": "string",
            "description": "Name of the town.",
            "example": "string"
          },
          "CountrySubDivision": {
            "type": "string",
            "description": "Subdivision of the country.",
            "example": "string"
          },
          "Country": {
            "type": "string",
            "description": "Country name.",
            "example": "string"
          },
          "line": {
            "type": "array",
            "description": "Additional address lines.",
            "items": {
              "type": "string",
              "description": "An additional line of address information.",
              "example": "string"
            }
          }
        },
        "description": "Schema representing an address component of the party."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint where the request was made.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-api-get-accounts-account-id-party"
        },
        "example": "accounts-api-get-accounts-account-id-party"
      },
      "X-Runtime-App": {
        "description": "Name of the application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes a bearer token, following the OAuth 2.0 standard, which is typically formatted as a JSON Web Token (JWT). This token is sent in the `Authorization` header to authenticate users in the API.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}