{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Reference Implementation Open Banking Atms-v5-spec",
    "description": "MICROSERVICE-PROD-List Reference Implementation Open Banking Atms-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/reference-implementation/open-banking/atms": {
      "get": {
        "operationId": "listReferenceImplementationOpenBankingAtms",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListReferenceImplementationOpenBankingAtmsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListReferenceImplementationOpenBankingAtmsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListReferenceImplementationOpenBankingAtmsRequest": {
        "type": "string",
        "example": "{}"
      },
      "ListReferenceImplementationOpenBankingAtmsResponse_200": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "LastUpdated": {
                "type": "string",
                "example": "string"
              },
              "TotalResults": {
                "type": "integer",
                "format": "int32",
                "example": 0
              },
              "Agreement": {
                "type": "string",
                "example": "string"
              },
              "License": {
                "type": "string",
                "example": "string"
              },
              "TermsOfUse": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "LastUpdated": "2026-09-15",
              "TotalResults": 1,
              "Agreement": "STANDARD",
              "License": "https://example.com/resource",
              "TermsOfUse": "https://example.com/resource"
            }
          },
          "data": {
            "type": "array",
            "example": [
              {
                "Organisation": {
                  "ParentOrganisation": {
                    "LEI": "STANDARD",
                    "BIC": "STANDARD",
                    "OrganisationName": {
                      "LegalName": "Olivia Bennett"
                    }
                  },
                  "Brand": {
                    "TrademarkIPOCode": "CODE-930",
                    "TrademarkID": "STANDARD"
                  }
                },
                "BranchIdentification": "STANDARD",
                "ATMID": "STANDARD",
                "LocationCategory": "STANDARD",
                "SiteID": "STANDARD",
                "SiteName": "Northstar Banking Service",
                "Address": {
                  "StreetName": "Northstar Banking Service",
                  "BuildingNumberOrName": "Northstar Banking Service",
                  "PostCode": "CODE-400",
                  "OptionalAddressField": "STANDARD",
                  "TownName": "Northstar Banking Service",
                  "CountrySubDivision": "STANDARD",
                  "Country": "STANDARD"
                },
                "GeographicLocation": {
                  "Latitude": "STANDARD",
                  "Longitude": "STANDARD"
                },
                "AccessibilityTypes": [
                  "STANDARD"
                ],
                "SupportedLanguages": [
                  "STANDARD"
                ],
                "ATMServices": [
                  "STANDARD"
                ],
                "AdditionalATMServices": [
                  "STANDARD"
                ],
                "Currency": [
                  "USD"
                ],
                "MinimumValueDispensed": "STANDARD"
              }
            ],
            "items": {
              "type": "object",
              "properties": {
                "Organisation": {
                  "type": "object",
                  "properties": {
                    "ParentOrganisation": {
                      "type": "object",
                      "properties": {
                        "LEI": {
                          "type": "string",
                          "example": "string"
                        },
                        "BIC": {
                          "type": "string",
                          "example": "string"
                        },
                        "OrganisationName": {
                          "type": "object",
                          "properties": {
                            "LegalName": {
                              "type": "string",
                              "example": "string"
                            }
                          },
                          "example": "string"
                        }
                      },
                      "example": "string"
                    },
                    "Brand": {
                      "type": "object",
                      "properties": {
                        "TrademarkIPOCode": {
                          "type": "string",
                          "example": "string"
                        },
                        "TrademarkID": {
                          "type": "string",
                          "example": "string"
                        }
                      },
                      "example": "string"
                    }
                  },
                  "example": "string"
                },
                "BranchIdentification": {
                  "type": "string",
                  "example": "string"
                },
                "ATMID": {
                  "type": "string",
                  "example": "string"
                },
                "LocationCategory": {
                  "type": "string",
                  "example": "string"
                },
                "SiteID": {
                  "type": "string",
                  "example": "string"
                },
                "SiteName": {
                  "type": "string",
                  "example": "string"
                },
                "Address": {
                  "type": "object",
                  "properties": {
                    "StreetName": {
                      "type": "string",
                      "example": "string"
                    },
                    "BuildingNumberOrName": {
                      "type": "string",
                      "example": "string"
                    },
                    "PostCode": {
                      "type": "string",
                      "example": "string"
                    },
                    "OptionalAddressField": {
                      "type": "string",
                      "example": "string"
                    },
                    "TownName": {
                      "type": "string",
                      "example": "string"
                    },
                    "CountrySubDivision": {
                      "type": "string",
                      "example": "string"
                    },
                    "Country": {
                      "type": "string",
                      "example": "string"
                    }
                  },
                  "example": "string"
                },
                "GeographicLocation": {
                  "type": "object",
                  "properties": {
                    "Latitude": {
                      "type": "string",
                      "example": "string"
                    },
                    "Longitude": {
                      "type": "string",
                      "example": "string"
                    }
                  },
                  "example": "string"
                },
                "AccessibilityTypes": {
                  "type": "array",
                  "example": "string",
                  "items": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "SupportedLanguages": {
                  "type": "array",
                  "example": "string",
                  "items": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "ATMServices": {
                  "type": "array",
                  "example": "string",
                  "items": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "AdditionalATMServices": {
                  "type": "array",
                  "example": "string",
                  "items": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "Currency": {
                  "type": "array",
                  "example": "string",
                  "items": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "MinimumValueDispensed": {
                  "type": "string",
                  "example": "string"
                }
              },
              "example": "string"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "cbb0884c-b573-5b43-b549-495ce0ab8f5c",
              "correlationId": "622e3e27-b649-537f-8e2a-e4d030ddf003",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "meta": {
            "LastUpdated": "2026-09-15",
            "TotalResults": 1,
            "Agreement": "STANDARD",
            "License": "https://example.com/resource",
            "TermsOfUse": "https://example.com/resource"
          },
          "data": [
            {
              "Organisation": {
                "ParentOrganisation": {
                  "LEI": "STANDARD",
                  "BIC": "STANDARD",
                  "OrganisationName": {
                    "LegalName": "Olivia Bennett"
                  }
                },
                "Brand": {
                  "TrademarkIPOCode": "CODE-930",
                  "TrademarkID": "STANDARD"
                }
              },
              "BranchIdentification": "STANDARD",
              "ATMID": "STANDARD",
              "LocationCategory": "STANDARD",
              "SiteID": "STANDARD",
              "SiteName": "Northstar Banking Service",
              "Address": {
                "StreetName": "Northstar Banking Service",
                "BuildingNumberOrName": "Northstar Banking Service",
                "PostCode": "CODE-400",
                "OptionalAddressField": "STANDARD",
                "TownName": "Northstar Banking Service",
                "CountrySubDivision": "STANDARD",
                "Country": "STANDARD"
              },
              "GeographicLocation": {
                "Latitude": "STANDARD",
                "Longitude": "STANDARD"
              },
              "AccessibilityTypes": [
                "STANDARD"
              ],
              "SupportedLanguages": [
                "STANDARD"
              ],
              "ATMServices": [
                "STANDARD"
              ],
              "AdditionalATMServices": [
                "STANDARD"
              ],
              "Currency": [
                "USD"
              ],
              "MinimumValueDispensed": "STANDARD"
            }
          ],
          "metadata": {
            "responseId": "cbb0884c-b573-5b43-b549-495ce0ab8f5c",
            "correlationId": "622e3e27-b649-537f-8e2a-e4d030ddf003",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-data-api-get-reference-implementation-open-banking-v13-atms"
        },
        "example": "open-data-api-get-reference-implementation-open-banking-v13-atms"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}