{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Banking Operational Services Open Item Management-v5-spec",
    "description": "The Open Item Management API facilitates the management of open banking operational items, allowing for the creation and handling of unprocessed transactions or requests. This API streamlines the workflow for financial institutions by improving visibility and control over open operational items. Typical consumers include banking operation teams, compliance officers, and risk management departments who need efficient mechanisms to track and resolve outstanding financial items. By utilizing this API, organizations can enhance their operational efficiency and ensure swift processing of banking transactions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/open-item-management": {
      "post": {
        "tags": [
          "Open Item Management"
        ],
        "summary": "Create a new open item management entry.",
        "description": "This endpoint allows users to create a new entry for managing open items within the operational services. Provide the necessary details in the request body to successfully create an entry.",
        "operationId": "createBankingOperationalServicesOpenItemManagement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create or manage open items within the operational services. It must adhere to the specified schema and contain the necessary information to process the request effectively.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBankingOperationalServicesOpenItemManagementRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully with the provided data.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBankingOperationalServicesOpenItemManagementResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateBankingOperationalServicesOpenItemManagementRequest": {
        "title": "Open Item Management Request Body",
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "Unique identifier for the operation.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-507508"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "ACC-912884"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2026-08-11T12:00:00Z"
          },
          "priority": {
            "type": "string",
            "description": "Priority level of the operation request.",
            "example": "NORMAL"
          },
          "requestContext": {
            "description": "Context information for the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "The request body schema for managing open items in the operations service.",
        "example": {
          "operationId": "STANDARD",
          "customerId": "CUST-507508",
          "accountId": "ACC-912884",
          "requestedAt": "2026-08-11T12:00:00Z",
          "priority": "NORMAL",
          "requestContext": {
            "requestId": "08d193dd-c53f-53fa-9c9d-f29f036f5427",
            "correlationId": "55f5a914-00fc-528b-94cc-19f45d485618",
            "idempotencyKey": "aaf5b780-7a51-50b4-b414-9c9d2812f7fb",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-313308"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking a request across services.",
            "example": "corr-001"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure that the request is idempotent.",
            "example": "idempotent-key-001"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request context was created.",
            "example": "2023-10-01T12:34:56Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier of the system generating the request.",
            "example": "source-system-1"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier of the application generating the request.",
            "example": "source-app-1"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information for the operation request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device used to make the request.",
            "example": "device-001"
          }
        },
        "description": "Details of the channel through which the request was made."
      },
      "CreateBankingOperationalServicesOpenItemManagementResponse_201": {
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "The unique identifier for the operation.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer associated with the operation.",
            "example": "CUST-303573"
          },
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account tied to this operation.",
            "example": "ACC-342110"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource being managed in this operation.",
            "example": "RES-145913"
          },
          "status": {
            "type": "string",
            "description": "The current status of the operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/OperationMetadata"
          }
        },
        "description": "Response schema for the successful creation of an operational item in the management system.",
        "example": {
          "operationId": "STANDARD",
          "customerId": "CUST-303573",
          "accountId": "ACC-342110",
          "resourceId": "RES-145913",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "228e0e8f-2df4-5154-a41d-d579d93ffcbc",
            "correlationId": "55f5a914-00fc-528b-94cc-19f45d485618",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "OperationMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "resp-11111"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier used to correlate requests and responses.",
            "example": "corr-22222"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the operation occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata related to the operation, including identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-item-management-create-open-item-management"
        },
        "example": "open-item-management-create-open-item-management"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer authentication mechanism with JSON Web Tokens (JWT). Clients must include a valid JWT token in the Authorization header when making requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}