{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Trade Banking Syndicated Loan-spec",
    "description": "The Trade Banking Syndicated Loan Submission API facilitates the process of submitting requests for syndicated loans within the trade banking sector. This endpoint allows financial institutions to initiate the loan application process efficiently, enabling better collaboration among lenders. Typical users include bankers, financial analysts, and trade finance professionals who require a streamlined method for managing loan requests. By utilizing this API, institutions can enhance their lending operations and provide quicker services to clients.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/syndicated-loan": {
      "post": {
        "tags": [
          "Syndicated Loan Management"
        ],
        "summary": "Create a new syndicated loan.",
        "description": "This operation allows users to initiate the creation of a new syndicated loan within the trade banking domain. It handles all required input data and processes the request to create the loan, ensuring it adheres to financial regulations and internal guidelines.",
        "operationId": "createTradeBankingSyndicatedLoan",
        "parameters": [
          {
            "$ref": "#/components/parameters/parentspanid"
          },
          {
            "$ref": "#/components/parameters/x-request-id"
          },
          {
            "$ref": "#/components/parameters/x-envoy-attempt-count"
          },
          {
            "$ref": "#/components/parameters/x-envoy-peer-metadata"
          },
          {
            "$ref": "#/components/parameters/x-gateway-correlationid"
          },
          {
            "$ref": "#/components/parameters/x-envoy-external-address"
          },
          {
            "$ref": "#/components/parameters/x-envoy-peer-metadata-id"
          },
          {
            "$ref": "#/components/parameters/x-envoy-decorator-operation"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a syndicated loan in the trade banking system. The JSON payload must adhere to the schema defined in the component reference, which specifies all required fields for a successful loan request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTradeBankingSyndicatedLoanRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The syndicated loan has been successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateTradeBankingSyndicatedLoanResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateTradeBankingSyndicatedLoanRequest": {
        "title": "Syndicated Loan Operations Request Body",
        "type": "object",
        "properties": {
          "corporateCustomerId": {
            "type": "string",
            "description": "The unique identifier of the corporate customer.",
            "example": "CUST-117143"
          },
          "facilityId": {
            "type": "string",
            "description": "The unique identifier for the facility.",
            "example": "STANDARD"
          },
          "counterpartyId": {
            "type": "string",
            "description": "The unique identifier of the counterparty involved in the loan.",
            "example": "PARTY-633682"
          },
          "amount": {
            "description": "The amount of the loan being requested.",
            "$ref": "#/components/schemas/Amount"
          },
          "maturityDate": {
            "type": "string",
            "description": "The date on which the loan matures.",
            "example": "2026-09-03"
          },
          "requestContext": {
            "description": "Context information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for operations related to syndicated loans.",
        "example": {
          "corporateCustomerId": "CUST-117143",
          "facilityId": "STANDARD",
          "counterpartyId": "PARTY-633682",
          "amount": {
            "value": 100,
            "currency": "USD"
          },
          "maturityDate": "2026-09-03",
          "requestContext": {
            "requestId": "4ec5c405-9b1e-4768-971f-bd04cd5d93d3",
            "correlationId": "c08f6f9e-2dfe-4dd5-8cca-7e18ee23ebbc",
            "idempotencyKey": "5c7810cd-e19d-47d7-b43d-b08d3d3c6c58",
            "requestedAt": "2026-08-27T23:00:50.648Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-938042"
            }
          }
        }
      },
      "Amount": {
        "title": "Amount",
        "type": "object",
        "properties": {
          "value": {
            "type": "integer",
            "description": "The loan amount value.",
            "format": "int32",
            "example": 1000000
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is expressed.",
            "example": "USD"
          }
        },
        "description": "Schema representing the amount and currency information."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "REQ123456"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier that correlates multiple related requests.",
            "example": "CORR123456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure that the request is idempotent.",
            "example": "IDEMPOTENT_KEY_12345"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "SYSTEM_A"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that generated the request.",
            "example": "APP_B"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema for request contextual information."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "CHANNEL_123"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used for the request.",
            "example": "WEB"
          },
          "deviceId": {
            "type": "string",
            "description": "The device identifier from which the request was sent.",
            "example": "DEVICE_456"
          }
        },
        "description": "Schema representing the channel information for the request."
      },
      "CreateTradeBankingSyndicatedLoanResponse_201": {
        "title": "Syndicated Loan Response",
        "type": "object",
        "properties": {
          "corporateCustomerId": {
            "type": "string",
            "description": "The unique identifier for the corporate customer.",
            "example": "CUST-825490"
          },
          "facilityId": {
            "type": "string",
            "description": "The unique identifier for the loan facility.",
            "example": "STANDARD"
          },
          "counterpartyId": {
            "type": "string",
            "description": "The unique identifier for the counterparty in the loan agreement.",
            "example": "PARTY-475644"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource related to this loan.",
            "example": "RES-288644"
          },
          "status": {
            "type": "string",
            "description": "The current status of the loan operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the loan operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "A unique identifier for the response.",
                "example": "RES-161718"
              },
              "correlationId": {
                "type": "string",
                "description": "A correlation identifier for tracking the request.",
                "example": "CORR-192021"
              },
              "generatedAt": {
                "type": "string",
                "description": "The timestamp when the response was generated.",
                "example": "2023-10-01T12:00:01Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region where the processing of the request took place.",
                "example": "us-west-1"
              }
            },
            "description": "Additional metadata related to the loan operation.",
            "example": {
              "responseId": "ded353b3-3bd8-56d7-84e7-3a63fafdf571",
              "correlationId": "a3c1b62f-9af1-5b1f-8f71-e04f4bd5efb6",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for the creation of a syndicated loan operation.",
        "example": {
          "corporateCustomerId": "CUST-825490",
          "facilityId": "STANDARD",
          "counterpartyId": "PARTY-475644",
          "resourceId": "RES-288644",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "ded353b3-3bd8-56d7-84e7-3a63fafdf571",
            "correlationId": "a3c1b62f-9af1-5b1f-8f71-e04f4bd5efb6",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "parentspanid": {
        "name": "parentspanid",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "6d3a3a74fa2eaafc"
        },
        "example": "6d3a3a74fa2eaafc"
      },
      "x-request-id": {
        "name": "x-request-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "a533320b-eddb-43c8-89ce-8e5762612b5c"
        },
        "example": "a533320b-eddb-43c8-89ce-8e5762612b5c"
      },
      "x-envoy-attempt-count": {
        "name": "x-envoy-attempt-count",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-envoy-peer-metadata": {
        "name": "x-envoy-peer-metadata",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ChoKCkNMVVNURVJfSUQSDBoKS3ViZXJuZXRlcwquAQoGTEFCRUxTEqMBKqABCh0KA2FwcBIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQo5Ch9zZXJ2aWNlLmlzdGlvLmlvL2Nhbm9uaWNhbC1uYW1lEhYaFGlzdGlvLWluZ3Jlc3NnYXRld2F5Ci8KI3NlcnZpY2UuaXN0aW8uaW8vY2Fub25pY2FsLXJldmlzaW9uEggaBjEtMzAtMAoTCgd2ZXJzaW9uEggaBjEuMzAuMAouCgROQU1FEiYaJGlzdGlvLWluZ3Jlc3NnYXRld2F5LTlkZDQ2YjU4Yi10Y3R6cwobCglOQU1FU1BBQ0USDhoMaXN0aW8tc3lzdGVtCl0KBU9XTkVSElQaUmt1YmVybmV0ZXM6Ly9hcGlzL2FwcHMvdjEvbmFtZXNwYWNlcy9pc3Rpby1zeXN0ZW0vZGVwbG95bWVudHMvaXN0aW8taW5ncmVzc2dhdGV3YXkKJwoNV09SS0xPQURfTkFNRRIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQ=="
        },
        "example": "ChoKCkNMVVNURVJfSUQSDBoKS3ViZXJuZXRlcwquAQoGTEFCRUxTEqMBKqABCh0KA2FwcBIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQo5Ch9zZXJ2aWNlLmlzdGlvLmlvL2Nhbm9uaWNhbC1uYW1lEhYaFGlzdGlvLWluZ3Jlc3NnYXRld2F5Ci8KI3NlcnZpY2UuaXN0aW8uaW8vY2Fub25pY2FsLXJldmlzaW9uEggaBjEtMzAtMAoTCgd2ZXJzaW9uEggaBjEuMzAuMAouCgROQU1FEiYaJGlzdGlvLWluZ3Jlc3NnYXRld2F5LTlkZDQ2YjU4Yi10Y3R6cwobCglOQU1FU1BBQ0USDhoMaXN0aW8tc3lzdGVtCl0KBU9XTkVSElQaUmt1YmVybmV0ZXM6Ly9hcGlzL2FwcHMvdjEvbmFtZXNwYWNlcy9pc3Rpby1zeXN0ZW0vZGVwbG95bWVudHMvaXN0aW8taW5ncmVzc2dhdGV3YXkKJwoNV09SS0xPQURfTkFNRRIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQ=="
      },
      "x-gateway-correlationid": {
        "name": "x-gateway-correlationid",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "259ea07a-71bc-43e8-a0c0-e59468562db1"
        },
        "example": "259ea07a-71bc-43e8-a0c0-e59468562db1"
      },
      "x-envoy-external-address": {
        "name": "x-envoy-external-address",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "18.156.191.52"
        },
        "example": "18.156.191.52"
      },
      "x-envoy-peer-metadata-id": {
        "name": "x-envoy-peer-metadata-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "router~10.10.185.143~istio-ingressgateway-9dd46b58b-tctzs.istio-system~istio-system.svc.cluster.local"
        },
        "example": "router~10.10.185.143~istio-ingressgateway-9dd46b58b-tctzs.istio-system~istio-system.svc.cluster.local"
      },
      "x-envoy-decorator-operation": {
        "name": "x-envoy-decorator-operation",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "kong-test1-kong-proxy.kong-test.svc.cluster.local:80/*"
        },
        "example": "kong-test1-kong-proxy.kong-test.svc.cluster.local:80/*"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the API endpoint being called.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "syndicated-loan-create-syndicated-loan"
        },
        "example": "syndicated-loan-create-syndicated-loan"
      },
      "X-Runtime-App": {
        "description": "The identifier for the running application handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      },
      "X-Workflow-Id": {
        "description": "The unique identifier for the workflow associated with the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-038"
        },
        "example": "WF-038"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow associated with the loan operation. This identifies the specific process that is being executed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Syndicated Loan Participation and Settlement"
        },
        "example": "Syndicated Loan Participation and Settlement"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow. This indicates whether the workflow is still in progress, completed, or has encountered an error.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the execution of the workflow. This ID can be used to track the specific instance of the workflow.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "9a4ea7e9-aa6e-4927-9195-76497d34cbf9"
        },
        "example": "9a4ea7e9-aa6e-4927-9195-76497d34cbf9"
      }
    }
  }
}