{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Customer By Account Id-spec",
    "description": "The Customer Account Lookup API provides a seamless way to retrieve detailed customer information associated with a specific account. By using the customer ID and account ID, businesses can quickly access relevant customer data, which is essential for customer support, account management, and personalized services. This API is typically utilized by customer service representatives and account managers to enhance the customer experience and resolve inquiries efficiently. With this endpoint, organizations can ensure they have real-time access to crucial customer account details.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/microentry/customers/{customerId}/accounts/{accountId}": {
      "get": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Retrieve account details for a specific customer.",
        "description": "This endpoint allows you to fetch all relevant account information associated with the specified customer ID. It provides detailed data about the accounts linked to the customer, enabling effective account management and analysis.",
        "operationId": "getCustomerByAccountId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          },
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve account information for a specific customer account. The data specified in the request body details the parameters required to successfully access the account's details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCustomerByAccountIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved account details.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCustomerByAccountIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCustomerByAccountIdRequest": {
        "title": "Customer Account Operations Request Body",
        "type": "string",
        "description": "This schema represents the request body for retrieving operations related to a specific customer's account.",
        "example": "{}"
      },
      "GetCustomerByAccountIdResponse_200": {
        "title": "Account Operations Response",
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "The current status of the account operation.",
            "example": "ACTIVE"
          },
          "statusDescription": {
            "type": "string",
            "description": "A description providing additional details about the account status.",
            "example": "STANDARD"
          },
          "creationDate": {
            "type": "string",
            "description": "The date when the account was created in ISO 8601 format.",
            "example": "2026-09-15"
          },
          "routingNumber": {
            "type": "string",
            "description": "The routing number associated with the bank account.",
            "example": "021000021"
          },
          "accountNumberLast4": {
            "type": "string",
            "description": "The last four digits of the account number for identification purposes.",
            "example": "STANDARD"
          },
          "autoVerifiedAccount": {
            "type": "integer",
            "description": "Indicates if the account was auto-verified (1) or not (0).",
            "format": "int32",
            "example": 1
          },
          "railType": {
            "type": "string",
            "description": "The type of financial rail used for transactions associated with the account.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/AccountMetadata"
          }
        },
        "description": "Response schema for account operations, providing details about the account status and related metadata.",
        "example": {
          "status": "ACTIVE",
          "statusDescription": "STANDARD",
          "creationDate": "2026-09-15",
          "routingNumber": "021000021",
          "accountNumberLast4": "STANDARD",
          "autoVerifiedAccount": 1,
          "railType": "STANDARD",
          "metadata": {
            "responseId": "a4d3763d-f633-5a0c-8ef8-48ef2ed28555",
            "correlationId": "c61dd9a7-4a02-5a9e-8981-c3dbcd68e20d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AccountMetadata": {
        "title": "Account Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "resp-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate related requests and responses.",
            "example": "corr-7890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated, in ISO 8601 format.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the account operation took place.",
            "example": "US-East"
          }
        },
        "description": "Metadata related to the account operations, including identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint that generated this response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-micro-deposits-details"
        },
        "example": "open-finance-api-get-micro-deposits-details"
      },
      "x-runtime-app": {
        "description": "The application runtime environment in which the request was processed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using JSON Web Tokens (JWT) for secure access. Clients are required to include the JWT in the `Authorization` header as a bearer token.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}