{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Customer Credit Card Application-spec",
    "description": "This API enables the initiation of credit card applications for customers by submitting their relevant information. It streamlines the process of applying for a credit card, ensuring that necessary customer data is collected in a secure manner. Typical consumers of this API include banking applications and front-end platforms that assist customers in managing their finances. By integrating this API, developers can facilitate the application process efficiently and improve customer experience.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9003",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customers/{customerId}/credit-card-applications": {
      "post": {
        "tags": [
          "Customer Service"
        ],
        "summary": "Submit a credit card application",
        "description": "This endpoint allows the submission of a credit card application for a specific customer identified by their unique customer ID. Ensure that all required fields are filled out correctly to facilitate the processing of the application.",
        "operationId": "createCustomerCreditCardApplication",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit a new credit card application for the customer identified by CUST-100045. Ensure that all required fields are included and properly formatted.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerCreditCardApplicationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource successfully created, indicating the credit card application has been submitted.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              },
              "x-workflow-id": {
                "$ref": "#/components/headers/x-workflow-id"
              },
              "x-workflow-name": {
                "$ref": "#/components/headers/x-workflow-name"
              },
              "x-workflow-state": {
                "$ref": "#/components/headers/x-workflow-state"
              },
              "x-workflow-execution-id": {
                "$ref": "#/components/headers/x-workflow-execution-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCustomerCreditCardApplicationResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCustomerCreditCardApplicationRequest": {
        "type": "object",
        "properties": {
          "cardToken": {
            "type": "string",
            "description": "Token representing the card being used.",
            "example": "TOK-279079"
          },
          "cardholderId": {
            "type": "string",
            "description": "Identifier for the cardholder.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant processing the transaction.",
            "example": "MER-955979"
          },
          "transactionAmount": {
            "$ref": "#/components/schemas/TransactionAmount"
          },
          "merchantCategoryCode": {
            "type": "string",
            "description": "Category code of the merchant.",
            "example": "5411"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for credit card applications operation.",
        "example": {
          "cardToken": "TOK-279079",
          "cardholderId": "STANDARD",
          "merchantId": "MER-955979",
          "transactionAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "merchantCategoryCode": "5411",
          "requestContext": {
            "requestId": "30213679-8857-5a74-bfee-f22c0b33180d",
            "correlationId": "2753242e-8baa-5806-b983-38f743ef44f3",
            "idempotencyKey": "30aa9826-2699-5246-9999-01f256051b95",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-977659"
            }
          }
        }
      },
      "TransactionAmount": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The total transaction amount.",
            "example": 100.0
          },
          "currency": {
            "type": "string",
            "description": "Currency code for the transaction amount.",
            "example": "USD"
          }
        },
        "description": "Schema representing the amount and currency for a transaction."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate multiple requests.",
            "example": "corr-002"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key ensuring idempotent operations.",
            "example": "idemp-key-003"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the system originating the request.",
            "example": "systemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application initiating the request.",
            "example": "appB"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema providing context for the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel used for the request.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., online, mobile).",
            "example": "online"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device being used.",
            "example": "device-007"
          }
        },
        "description": "Schema representing channel information for the request."
      },
      "CreateCustomerCreditCardApplicationResponse_201": {
        "title": "Credit Card Application Response",
        "type": "object",
        "properties": {
          "cardholderId": {
            "type": "string",
            "description": "The unique identifier for the cardholder.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "The identifier for the merchant processing the transaction.",
            "example": "MER-166008"
          },
          "merchantCategoryCode": {
            "type": "string",
            "description": "The category code assigned to the merchant.",
            "example": "5411"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource related to this application.",
            "example": "RES-290463"
          },
          "status": {
            "type": "string",
            "description": "The current status of the credit card application.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The date and time when the application was created, in ISO 8601 format.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "The unique identifier for the response generated for this application.",
                "example": "RESP-123456"
              },
              "correlationId": {
                "type": "string",
                "description": "The correlation identifier for tracking the processing of this request.",
                "example": "CORR-789012"
              },
              "generatedAt": {
                "type": "string",
                "description": "The date and time when the response was generated, in ISO 8601 format.",
                "example": "2023-10-01T12:05:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region where the application processing took place.",
                "example": "US-East"
              }
            },
            "description": "Additional details related to the credit card application.",
            "example": {
              "responseId": "27922343-2a48-55fd-b569-b49ee84de557",
              "correlationId": "2753242e-8baa-5806-b983-38f743ef44f3",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Schema representing the response for a credit card application.",
        "example": {
          "cardholderId": "STANDARD",
          "merchantId": "MER-166008",
          "merchantCategoryCode": "5411",
          "resourceId": "RES-290463",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "27922343-2a48-55fd-b569-b49ee84de557",
            "correlationId": "2753242e-8baa-5806-b983-38f743ef44f3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the API endpoint that was called.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "credit-card-create-credit-card"
        },
        "example": "credit-card-create-credit-card"
      },
      "x-runtime-app": {
        "description": "The runtime application context from which the request was made.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      },
      "x-workflow-id": {
        "description": "An identifier representing the current workflow process.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-022"
        },
        "example": "WF-022"
      },
      "x-workflow-name": {
        "description": "The name of the workflow that triggered the credit card application processing.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Credit Card Application and Underwriting"
        },
        "example": "Credit Card Application and Underwriting"
      },
      "x-workflow-state": {
        "description": "The current state of the workflow associated with the credit card application.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "x-workflow-execution-id": {
        "description": "A unique identifier for the execution instance of the workflow related to the credit card application.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "fa8632ca-fa10-4b3d-8c8d-e30541b92d10"
        },
        "example": "fa8632ca-fa10-4b3d-8c8d-e30541b92d10"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication using a Bearer token in the form of a JSON Web Token (JWT). This token should be included in the Authorization header of the request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}