{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Leasing Item Administration API",
    "description": "The Leasing Item Administration API provides a streamlined interface for managing leasing items within the banking operational services. It facilitates access to relevant leasing item data, enabling users to retrieve detailed information regarding each item. This API is particularly beneficial for financial institutions and leasing companies that require efficient inventory oversight and management. Typical consumers include system integrators and developers seeking to enhance leasing management workflows. Utilize this API to gain insights into your leasing assets and improve decision-making processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/leasing-item-administration": {
      "get": {
        "tags": [
          "Leasing Operations"
        ],
        "summary": "Retrieve leasing item administration details.",
        "description": "This endpoint allows you to fetch detailed information regarding the administration of leasing items, including their current status and configurations. Utilize this operation to manage leasing processes effectively.",
        "operationId": "getLeasingItemAdministration",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving leasing item administration details, formatted as JSON. This body contains necessary parameters required for the retrieval operation and should adhere to the schema defined for the application.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetLeasingItemAdministrationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested leasing item data.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLeasingItemAdministrationResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetLeasingItemAdministrationRequest": {
        "type": "string",
        "description": "The request body for the GET operation related to leasing item administration. It should contain a string that represents the desired value or identifier.",
        "example": "{}"
      },
      "GetLeasingItemAdministrationResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of leasing operations.",
            "example": [
              {
                "operationId": "STANDARD",
                "customerId": "CUST-585182",
                "accountId": "ACC-628341",
                "requestedAt": "2026-08-11T12:00:00Z",
                "priority": "NORMAL",
                "leasedAssetId": "STANDARD",
                "residualValue": {
                  "amount": 100,
                  "currency": "USD"
                },
                "leaseTermMonths": 1,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/LeasingOperation"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the leasing operations.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for leasing item administration operation.",
        "example": {
          "items": [
            {
              "operationId": "STANDARD",
              "customerId": "CUST-585182",
              "accountId": "ACC-628341",
              "requestedAt": "2026-08-11T12:00:00Z",
              "priority": "NORMAL",
              "leasedAssetId": "STANDARD",
              "residualValue": {
                "amount": 100,
                "currency": "USD"
              },
              "leaseTermMonths": 1,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "a692c513-d876-57e2-be63-59c5edd02945",
            "correlationId": "0ded8ade-c54e-5855-b1cc-a334d9c90d87",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "LeasingOperation": {
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "Unique identifier for the operation."
          },
          "customerId": {
            "type": "string",
            "description": "Identifier for the customer associated with the operation."
          },
          "accountId": {
            "type": "string",
            "description": "Identifier for the account associated with the operation."
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the operation was requested."
          },
          "priority": {
            "type": "string",
            "description": "Priority level of the operation."
          },
          "leasedAssetId": {
            "type": "string",
            "description": "Identifier for the asset being leased."
          },
          "residualValue": {
            "$ref": "#/components/schemas/ResidualValue"
          },
          "leaseTermMonths": {
            "type": "integer",
            "description": "Duration of the lease in months.",
            "format": "int32"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the operation record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the operation was last updated."
          }
        },
        "description": "Schema representing a single leasing operation."
      },
      "ResidualValue": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "integer",
            "description": "The amount of the residual value.",
            "format": "int32"
          },
          "currency": {
            "type": "string",
            "description": "Currency in which the residual value is expressed."
          }
        },
        "description": "Schema representing the residual value of a leased asset."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number of the results.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Schema representing pagination information."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking related requests."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place."
          }
        },
        "description": "Schema representing the metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "leasing-item-administration-search-leasing-item-administration"
        },
        "example": "leasing-item-administration-search-leasing-item-administration"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method using bearer tokens. Tokens are typically provided in the HTTP `Authorization` header and follow the bearer schema as defined by RFC 6750. This implementation expects a JSON Web Token (JWT) format.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}