{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Business Control Business Unit Directions-spec",
    "description": "The Business Control Direction Retrieval API provides access to essential directions related to business units within the banking sector. This API allows users to list and retrieve detailed information about business unit directions, facilitating informed decision-making and strategic planning. Typical consumers include financial analysts, business strategists, and compliance officers who require up-to-date insights for operational effectiveness. By leveraging this API, organizations can ensure alignment with regulatory standards and enhance their business management practices.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/business-control/business-unit-direction": {
      "get": {
        "tags": [
          "Business Control"
        ],
        "summary": "Retrieve business unit direction information.",
        "description": "This endpoint allows you to fetch detailed information regarding the strategic direction of a specific business unit, helping stakeholders understand the current focus and future plans of the unit.",
        "operationId": "listBusinessControlBusinessUnitDirections",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving the business unit direction with specific parameters. This body contains the necessary details required to fulfill the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListBusinessControlBusinessUnitDirectionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and the data is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBusinessControlBusinessUnitDirectionsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListBusinessControlBusinessUnitDirectionsRequest": {
        "type": "string",
        "description": "A string that represents the request body for the business unit direction operations.",
        "example": "{}"
      },
      "ListBusinessControlBusinessUnitDirectionsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of business unit details.",
            "example": [
              {
                "businessUnitId": "STANDARD",
                "costCenter": "STANDARD",
                "planningPeriod": "STANDARD",
                "budget": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "forecastVersion": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/BusinessUnitItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving business unit direction data.",
        "example": {
          "items": [
            {
              "businessUnitId": "STANDARD",
              "costCenter": "STANDARD",
              "planningPeriod": "STANDARD",
              "budget": {
                "amount": 100.0,
                "currency": "USD"
              },
              "forecastVersion": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "6a98750d-6958-5764-b37b-c5fb5a28025b",
            "correlationId": "7ebbe158-b6f0-57a7-bd2f-4134e8f53478",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "BusinessUnitItem": {
        "type": "object",
        "properties": {
          "businessUnitId": {
            "type": "string",
            "description": "The unique identifier for the business unit.",
            "example": "BU123"
          },
          "costCenter": {
            "type": "string",
            "description": "The cost center associated with the business unit.",
            "example": "CC456"
          },
          "planningPeriod": {
            "type": "string",
            "description": "The planning period for which the data is relevant.",
            "example": "2021-Q1"
          },
          "budget": {
            "$ref": "#/components/schemas/Budget"
          },
          "forecastVersion": {
            "type": "string",
            "description": "The version of the forecast used.",
            "example": "v1.0"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the business unit was last updated.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "Details of a business unit."
      },
      "Budget": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The total budget amount allocated.",
            "example": 10000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency of the budget amount.",
            "example": "USD"
          }
        },
        "description": "Budget information related to the business unit."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the pagination.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Pagination information for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp-abc123"
          },
          "correlationId": {
            "type": "string",
            "description": "ID for tracking the request-correlation across services.",
            "example": "corr-xyz789"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Additional metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "business-unit-direction-search-business-unit-direction"
        },
        "example": "business-unit-direction-search-business-unit-direction"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication type that uses Bearer tokens, specifically implemented using JSON Web Tokens (JWT) for secure access. This method allows clients to authenticate themselves by sending a token as part of the authorization header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}