{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Transaction Insights API",
    "description": "The Customer Transaction Insights API provides detailed transaction data for specific customers by aggregating their purchase history. This API enables businesses to analyze spending patterns, transaction frequencies, and other key metrics that inform business strategies. Typical users include financial analysts, customer relationship managers, and e-commerce platforms seeking to enhance customer engagement and personalization. By leveraging this API, organizations can gain valuable insights into customer behavior, optimize service offerings, and drive targeted marketing initiatives.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/{customerId}/transactions": {
      "get": {
        "tags": [
          "Customer Transactions"
        ],
        "summary": "Retrieve transactions for a specific customer.",
        "description": "This endpoint allows you to fetch all transactions associated with a particular customer identified by their unique ID. Make sure to provide the correct customer ID in the request path to receive the relevant transaction history.",
        "operationId": "getCustomerTransactionsCUST100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving transactions for a specific customer (CUST-100045). This should contain all necessary filters and parameters to narrow down the transaction results according to the requirements.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCustomerTransactionsCUST100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of transactions for the specified customer.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCustomerTransactionsCUST100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCustomerTransactionsCUST100045Request": {
        "type": "string",
        "description": "The request body for the GET operation related to transactions of a specific customer.",
        "example": "{}"
      },
      "GetCustomerTransactionsCUST100045Response_200": {
        "type": "object",
        "properties": {
          "found": {
            "type": "integer",
            "description": "Total number of transactions found.",
            "format": "int32",
            "example": 1
          },
          "displaying": {
            "type": "integer",
            "description": "Number of transactions currently being displayed.",
            "format": "int32",
            "example": 1
          },
          "moreAvailable": {
            "type": "string",
            "description": "Indicates if more transactions are available beyond the current display.",
            "example": "STANDARD"
          },
          "fromDate": {
            "type": "string",
            "description": "Start date for the transaction query.",
            "example": "2026-09-15"
          },
          "toDate": {
            "type": "string",
            "description": "End date for the transaction query.",
            "example": "2026-09-15"
          },
          "sort": {
            "type": "string",
            "description": "Sort order of the transactions.",
            "example": "STANDARD"
          },
          "transactions": {
            "type": "array",
            "description": "List of transactions related to the customer.",
            "example": [
              {
                "id": 1,
                "amount": 100.0,
                "uniqueTransactionId": "TXN-887161",
                "accountId": 1,
                "customerId": 1,
                "status": "ACTIVE",
                "description": "Customer banking request processed successfully",
                "memo": "STANDARD",
                "type": "STANDARD",
                "transactionDate": 1,
                "postedDate": 1,
                "createdDate": 1,
                "firstEffectiveDate": 1,
                "effectiveDate": 1,
                "optionExpireDate": 1,
                "checkNum": "STANDARD",
                "escrowAmount": 100.0,
                "feeAmount": 100.0,
                "suspenseAmount": 100.0,
                "interestAmount": 100.0,
                "principalAmount": 100.0,
                "optionStrikePrice": 100.0,
                "unitQuantity": 100.0,
                "unitPrice": 100.0,
                "categorization": {
                  "normalizedPayeeName": "Northstar Banking Service",
                  "category": "STANDARD",
                  "city": "New York",
                  "state": "STANDARD",
                  "postalCode": "10001"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Transaction"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier for tracking the request and response.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp of when the response was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the transaction was processed.",
                "example": "string"
              }
            },
            "description": "Metadata related to the response.",
            "example": {
              "responseId": "71e88e6b-ead8-51bb-8d58-e5acf130f1db",
              "correlationId": "b39933b1-64e9-52c1-9946-ae2e861fd574",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for fetching transactions related to a specific customer.",
        "example": {
          "found": 1,
          "displaying": 1,
          "moreAvailable": "STANDARD",
          "fromDate": "2026-09-15",
          "toDate": "2026-09-15",
          "sort": "STANDARD",
          "transactions": [
            {
              "id": 1,
              "amount": 100.0,
              "uniqueTransactionId": "TXN-887161",
              "accountId": 1,
              "customerId": 1,
              "status": "ACTIVE",
              "description": "Customer banking request processed successfully",
              "memo": "STANDARD",
              "type": "STANDARD",
              "transactionDate": 1,
              "postedDate": 1,
              "createdDate": 1,
              "firstEffectiveDate": 1,
              "effectiveDate": 1,
              "optionExpireDate": 1,
              "checkNum": "STANDARD",
              "escrowAmount": 100.0,
              "feeAmount": 100.0,
              "suspenseAmount": 100.0,
              "interestAmount": 100.0,
              "principalAmount": 100.0,
              "optionStrikePrice": 100.0,
              "unitQuantity": 100.0,
              "unitPrice": 100.0,
              "categorization": {
                "normalizedPayeeName": "Northstar Banking Service",
                "category": "STANDARD",
                "city": "New York",
                "state": "STANDARD",
                "postalCode": "10001"
              }
            }
          ],
          "metadata": {
            "responseId": "71e88e6b-ead8-51bb-8d58-e5acf130f1db",
            "correlationId": "b39933b1-64e9-52c1-9946-ae2e861fd574",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Transaction": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier for the transaction.",
            "format": "int32",
            "example": 0
          },
          "amount": {
            "type": "number",
            "description": "Total amount of the transaction.",
            "example": 0.0
          },
          "uniqueTransactionId": {
            "type": "string",
            "description": "A unique reference for the transaction.",
            "example": "string"
          },
          "accountId": {
            "type": "integer",
            "description": "ID of the account associated with the transaction.",
            "format": "int32",
            "example": 0
          },
          "customerId": {
            "type": "integer",
            "description": "ID of the customer associated with the transaction.",
            "format": "int32",
            "example": 0
          },
          "status": {
            "type": "string",
            "description": "Current status of the transaction.",
            "example": "string"
          },
          "description": {
            "type": "string",
            "description": "Short description of the transaction.",
            "example": "string"
          },
          "memo": {
            "type": "string",
            "description": "Note or memo for the transaction.",
            "example": "string"
          },
          "type": {
            "type": "string",
            "description": "Type of transaction (e.g., debit, credit).",
            "example": "string"
          },
          "transactionDate": {
            "type": "integer",
            "description": "Date when the transaction occurred.",
            "format": "int32",
            "example": 0
          },
          "postedDate": {
            "type": "integer",
            "description": "Date when the transaction was posted.",
            "format": "int32",
            "example": 0
          },
          "createdDate": {
            "type": "integer",
            "description": "Date when the transaction record was created.",
            "format": "int32",
            "example": 0
          },
          "firstEffectiveDate": {
            "type": "integer",
            "description": "First date the transaction is effective.",
            "format": "int32",
            "example": 0
          },
          "effectiveDate": {
            "type": "integer",
            "description": "Date when the transaction is effective.",
            "format": "int32",
            "example": 0
          },
          "optionExpireDate": {
            "type": "integer",
            "description": "Expiration date for any options related to the transaction.",
            "format": "int32",
            "example": 0
          },
          "checkNum": {
            "type": "string",
            "description": "Check number if applicable.",
            "example": "string"
          },
          "escrowAmount": {
            "type": "number",
            "description": "Amount held in escrow, if applicable.",
            "example": 0.0
          },
          "feeAmount": {
            "type": "number",
            "description": "Any fees associated with the transaction.",
            "example": 0.0
          },
          "suspenseAmount": {
            "type": "number",
            "description": "Total amount in suspense related to the transaction.",
            "example": 0.0
          },
          "interestAmount": {
            "type": "number",
            "description": "Interest amount related to the transaction.",
            "example": 0.0
          },
          "principalAmount": {
            "type": "number",
            "description": "Principal amount involved in the transaction.",
            "example": 0.0
          },
          "optionStrikePrice": {
            "type": "number",
            "description": "Strike price for options if applicable.",
            "example": 0.0
          },
          "unitQuantity": {
            "type": "number",
            "description": "Quantity of units involved in the transaction.",
            "example": 0.0
          },
          "unitPrice": {
            "type": "number",
            "description": "Price per unit for the transaction.",
            "example": 0.0
          },
          "categorization": {
            "type": "object",
            "properties": {
              "normalizedPayeeName": {
                "type": "string",
                "description": "Standardized name of the payee.",
                "example": "string"
              },
              "category": {
                "type": "string",
                "description": "Category of the transaction.",
                "example": "string"
              },
              "city": {
                "type": "string",
                "description": "City associated with the transaction.",
                "example": "string"
              },
              "state": {
                "type": "string",
                "description": "State associated with the transaction.",
                "example": "string"
              },
              "postalCode": {
                "type": "string",
                "description": "Postal code associated with the transaction.",
                "example": "string"
              }
            },
            "description": "Categorization information for the transaction."
          }
        },
        "description": "Represents a financial transaction."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that was hit for this transaction.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-all-customer-transactions"
        },
        "example": "open-finance-api-get-all-customer-transactions"
      },
      "X-Runtime-App": {
        "description": "The name of the application runtime in which the transaction was processed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method using a Bearer token, specifically formatted as a JSON Web Token (JWT). This scheme is commonly used for securing APIs by providing access tokens that grant the bearer permission to access certain resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}