{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Banking It Management Systems Assurance Assessment-v5-spec",
    "description": "This API facilitates the initiation of assessments for banking IT management systems assurance. It allows financial institutions to create and submit evaluations that help ensure their IT systems meet compliance and quality standards. Typical consumers of this API include risk management teams and compliance officers within banks seeking to maintain robust technology governance. By utilizing this API, organizations can enhance decision-making and support auditing processes related to IT management systems.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/systems-assurance/assessments": {
      "post": {
        "tags": [
          "IT Management"
        ],
        "summary": "Create a new assessment for systems assurance.",
        "description": "This endpoint allows you to create a comprehensive assessment for systems assurance, ensuring compliance and effectiveness of IT management strategies. Utilize this operation to gather necessary evaluations to improve system performance and security.",
        "operationId": "createBankingItManagementSystemsAssuranceAssessment",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for creating a new systems assurance assessment. It should contain all necessary details for the assessment, including relevant parameters and contextual information as defined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBankingItManagementSystemsAssuranceAssessmentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBankingItManagementSystemsAssuranceAssessmentResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateBankingItManagementSystemsAssuranceAssessmentRequest": {
        "title": "System Assessment Request",
        "type": "object",
        "properties": {
          "systemId": {
            "type": "string",
            "description": "Unique identifier for the system being assessed.",
            "example": "STANDARD"
          },
          "environment": {
            "type": "string",
            "description": "The environment in which the system operates (e.g., production, staging).",
            "example": "STANDARD"
          },
          "changeId": {
            "type": "string",
            "description": "Identifier for the change related to this assessment.",
            "example": "STANDARD"
          },
          "ownerTeam": {
            "type": "string",
            "description": "The team responsible for managing the system.",
            "example": "STANDARD"
          },
          "plannedAt": {
            "type": "string",
            "description": "Scheduled date and time for the assessment.",
            "example": "2026-08-11T12:00:00Z"
          },
          "serviceTier": {
            "type": "string",
            "description": "Service tier of the system (e.g., standard, premium).",
            "example": "STANDARD"
          },
          "availabilityTargetPercent": {
            "type": "number",
            "description": "Target availability percentage for the system.",
            "example": 100.0
          },
          "maintenanceWindow": {
            "type": "string",
            "description": "Scheduled maintenance window for the system.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the request body to create a new system assessment.",
        "example": {
          "systemId": "STANDARD",
          "environment": "STANDARD",
          "changeId": "STANDARD",
          "ownerTeam": "STANDARD",
          "plannedAt": "2026-08-11T12:00:00Z",
          "serviceTier": "STANDARD",
          "availabilityTargetPercent": 100.0,
          "maintenanceWindow": "STANDARD",
          "requestContext": {
            "requestId": "5bf3bae2-1ef4-540f-a793-1f8c42f1a288",
            "correlationId": "d12474cb-c52f-5977-ab58-5bd4f2651025",
            "idempotencyKey": "9360c4fa-bec3-5433-8a34-fb80d49d45f2",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-750700"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "request-789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests across services.",
            "example": "correlation-abc"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is idempotent.",
            "example": "idempotent-xyz"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-09-30T09:35:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "System A"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that generated the request.",
            "example": "Monitoring App"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Detailed context information for the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-1"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., API, Web, Mobile).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device used (if applicable).",
            "example": "device-101"
          }
        },
        "description": "Details about the channel through which the request was made."
      },
      "CreateBankingItManagementSystemsAssuranceAssessmentResponse_200": {
        "title": "Assessment Response",
        "type": "object",
        "properties": {
          "systemId": {
            "type": "string",
            "description": "Unique identifier for the system being assessed.",
            "example": "STANDARD"
          },
          "changeId": {
            "type": "string",
            "description": "Identifier for the specific change related to the assessment.",
            "example": "STANDARD"
          },
          "assessmentId": {
            "type": "string",
            "description": "Unique identifier for the assessment conducted.",
            "example": "STANDARD"
          },
          "outcome": {
            "type": "string",
            "description": "The outcome of the assessment, indicating success or failure.",
            "example": "STANDARD"
          },
          "score": {
            "type": "integer",
            "description": "The score awarded based on the assessment criteria.",
            "format": "int32",
            "example": 1
          },
          "assessedAt": {
            "type": "string",
            "description": "Timestamp indicating when the assessment was conducted.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/AssessmentMetadata"
          }
        },
        "description": "Schema representing the response of an assessment operation in the system assurance management context.",
        "example": {
          "systemId": "STANDARD",
          "changeId": "STANDARD",
          "assessmentId": "STANDARD",
          "outcome": "STANDARD",
          "score": 1,
          "assessedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "4d6779dd-db2d-575f-88f3-ea6c24e84d4b",
            "correlationId": "d12474cb-c52f-5977-ab58-5bd4f2651025",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AssessmentMetadata": {
        "title": "Assessment Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate the response with other operations.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the processing of the assessment took place.",
            "example": "string"
          }
        },
        "description": "Metadata associated with the assessment response, providing additional contextual information."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint that processes the request, represented as a string.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "systems-assurance-assure-systems-assurance"
        },
        "example": "systems-assurance-assure-systems-assurance"
      },
      "X-Runtime-App": {
        "description": "Indicates the application runtime environment that executed the request, represented as a string.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses JSON Web Tokens (JWT) to securely transmit information between parties. Clients must include a bearer token in the 'Authorization' header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}