{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Knowledge Asset By Param1-spec",
    "description": "The Knowledge Asset Management API allows organizations to keep their knowledge assets up-to-date by enabling partial updates to specific resources. By utilizing this endpoint, users can make precise modifications to knowledge assets based on the unique identifier provided as a parameter. Typical consumers include knowledge management systems and financial institutions looking to maintain accurate and relevant information. This API streamlines the process of asset management, ensuring that teams can efficiently manage and update their knowledge base.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/knowledge-assets/knowledge-exchange/{param1}": {
      "patch": {
        "tags": [
          "Knowledge Exchange"
        ],
        "summary": "Update a specific knowledge asset.",
        "description": "This endpoint allows users to update details of a specific knowledge asset identified by its ID within the knowledge exchange system. This is crucial for maintaining the most current and relevant information related to the asset.",
        "operationId": "updateKnowledgeAssetByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the knowledge asset identified by RES-100045 in the knowledge exchange. It contains the necessary fields to specify the changes required to be made to the asset.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateKnowledgeAssetByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateKnowledgeAssetByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateKnowledgeAssetByParam1Request": {
        "title": "Knowledge Exchange PATCH Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "description": "Details of the changes to be made to the knowledge asset.",
            "$ref": "#/components/schemas/KnowledgeChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "Timestamp indicating when the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier for the user making the request.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for the PATCH operation in the knowledge exchange service.",
        "example": {
          "changes": {
            "knowledgeItemId": "STANDARD",
            "topic": "STANDARD",
            "authorId": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "5c7dedeb-82b9-50bf-9550-cc7d847469ea",
            "correlationId": "f33167ed-2c52-5cf2-abd1-db11bebf38c4",
            "idempotencyKey": "426a30d2-88fb-5e51-a74f-d866803a0e19",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-331795"
            }
          }
        }
      },
      "KnowledgeChanges": {
        "title": "Knowledge Changes",
        "type": "object",
        "properties": {
          "knowledgeItemId": {
            "type": "string",
            "description": "Unique identifier for the knowledge item being changed.",
            "example": "knowledge-item-123"
          },
          "topic": {
            "type": "string",
            "description": "The topic associated with the knowledge item.",
            "example": "Artificial Intelligence"
          },
          "authorId": {
            "type": "string",
            "description": "Identifier for the author of the knowledge item.",
            "example": "author456"
          }
        },
        "description": "Schema representing the individual changes to knowledge items."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate logs and requests.",
            "example": "corr-abc"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that the request is idempotent.",
            "example": "idempotent-key-xyz"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-01T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system making the request.",
            "example": "source-system-1"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the application that initiated the request.",
            "example": "web-app"
          },
          "channel": {
            "description": "Information regarding the channel from which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of a request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used for the request.",
            "example": "device-456"
          }
        },
        "description": "Schema detailing the channel through which the request was made."
      },
      "UpdateKnowledgeAssetByParam1Response_200": {
        "title": "Knowledge Exchange Operation Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version number of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status message of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the resource was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata information related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for a successful PATCH operation in the Knowledge Exchange service.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "bf59fac8-7c2e-5681-ad44-f8fbc5ce7ea8",
            "correlationId": "f33167ed-2c52-5cf2-abd1-db11bebf38c4",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "response-id-789"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to track the correlation between requests and responses.",
            "example": "correlation-id-456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-25T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request took place.",
            "example": "us-west-1"
          }
        },
        "description": "Schema containing metadata details for the response.",
        "example": {
          "responseId": "unique-response-id-123",
          "correlationId": "correlation-id-456",
          "generatedAt": "2023-10-25T09:59:50Z",
          "processingRegion": "us-west-1"
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint where the request was processed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "knowledge-exchange-update-knowledge-exchange"
        },
        "example": "knowledge-exchange-update-knowledge-exchange"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request, indicating where the operation took place.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a Bearer token, typically in the form of a JSON Web Token (JWT), to authorize access to secured API endpoints. Clients must include the token in the Authorization header of each request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}