{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Corporate Action Review-spec",
    "description": "The Corporate Action Review Submission API enables financial institutions to submit reviews for corporate actions, ensuring that all actions are thoroughly evaluated and deemed appropriate. This endpoint allows users to send review requests associated with specific corporate actions identified by the parameter {param1}. Typical consumers include compliance teams and investment analysts who need to manage and document reviews for regulatory purposes or internal audits. Use this API to streamline the corporate action review process and enhance operational efficiency in market operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-operations/corporate-action/{param1}/reviews": {
      "post": {
        "tags": [
          "Corporate Actions"
        ],
        "summary": "Create a review for a corporate action.",
        "description": "This endpoint allows users to submit a review for the specified corporate action. Provide the necessary review details in the request body. Ensure that the corporate action ID is valid before submitting the review.",
        "operationId": "createCorporateActionReview",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for submitting a review related to the corporate action identified by RES-100045. This body must contain all required fields as per the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCorporateActionReviewRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted and is being processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCorporateActionReviewResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCorporateActionReviewRequest": {
        "type": "object",
        "properties": {
          "reviewReason": {
            "type": "string",
            "description": "The reason for the review.",
            "example": "STANDARD"
          },
          "reviewScope": {
            "type": "array",
            "description": "The scope of the review, specifying the aspects to be reviewed.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "An individual aspect of the review scope.",
              "example": "string"
            }
          },
          "assignedReviewerId": {
            "type": "string",
            "description": "The ID of the reviewer assigned to this review.",
            "example": "STANDARD"
          },
          "dueAt": {
            "type": "string",
            "description": "The deadline for the review to be completed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "requestContext": {
            "description": "The context for the review request containing various identifiers and source information.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "example": {
          "reviewReason": "STANDARD",
          "reviewScope": [
            "STANDARD"
          ],
          "assignedReviewerId": "STANDARD",
          "dueAt": "2026-08-11T12:00:00Z",
          "requestContext": {
            "requestId": "e1d6e1a4-aa5d-5f02-89e3-da8fbb1c734f",
            "correlationId": "8aa6bd5b-e03a-56ab-b3b2-981b1dfdadc7",
            "idempotencyKey": "8fc6854f-f8e4-536b-91f5-c6e5457b8053",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-203864"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the review request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to trace the request across systems.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure the request is processed only once.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the review was requested.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that originated the review request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the review request.",
            "example": "string"
          },
          "channel": {
            "description": "The channel through which the review request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        }
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel used.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel through which the request was made.",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used in the review request.",
            "example": "string"
          }
        }
      },
      "CreateCorporateActionReviewResponse_202": {
        "title": "Corporate Action Response",
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "A unique reference identifier for the action being performed.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "The type of action being executed, such as 'Dividends' or 'Stock Split'.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the action, indicating whether it is pending, completed, or failed.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "The timestamp indicating when the action was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the corporate action response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema outlines the response structure for a corporate action operation request.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "c8bee773-ca61-5a2c-a301-68c5afbf080b",
            "correlationId": "8aa6bd5b-e03a-56ab-b3b2-981b1dfdadc7",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier that helps correlate requests and responses across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the action took place.",
            "example": "string"
          }
        },
        "description": "This schema contains supplementary metadata regarding the corporate action response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the endpoint being accessed, which helps in tracing and monitoring API requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "corporate-action-review-corporate-action-processing"
        },
        "example": "corporate-action-review-corporate-action-processing"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is processing the request, useful for diagnostics and logging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication mechanism, where a JSON Web Token (JWT) is provided in the Authorization header of requests to authorize access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}