{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Prospect Campaign Design API",
    "description": "The Prospect Campaign Design API provides essential capabilities for retrieving specific design elements of marketing campaigns targeted at potential customers. By using this API, marketing teams can access detailed information and configurations of prospect campaigns, facilitating informed decision-making and strategic planning. This endpoint is primarily used by marketing professionals seeking to enhance their campaign effectiveness through data-driven insights. It supports various use cases, including the optimization of marketing strategies and the analysis of prospect engagement patterns.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/marketing/prospect-campaign-design/{param1}": {
      "get": {
        "tags": [
          "Marketing Campaign"
        ],
        "summary": "Retrieve details of the marketing prospect campaign design.",
        "description": "This endpoint allows users to fetch the details of a specific marketing prospect campaign design identified by its unique resource ID. It provides essential information relevant to the campaign, enabling users to make informed decisions regarding their marketing strategies.",
        "operationId": "getMarketingProspectCampaignDesignRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the details of a specific marketing prospect campaign design identified by RES-100045. It may include parameters relevant for the GET operation, allowing for a tailored response based on the campaign's unique attributes or settings.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMarketingProspectCampaignDesignRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of the prospect campaign design.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMarketingProspectCampaignDesignRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetMarketingProspectCampaignDesignRes100045Request": {
        "type": "string",
        "description": "This schema represents the JSON request body for the GET operation related to the prospect campaign design.",
        "example": "{}"
      },
      "GetMarketingProspectCampaignDesignRes100045Response_200": {
        "title": "Campaign Design Response",
        "type": "object",
        "properties": {
          "campaignId": {
            "type": "string",
            "description": "Unique identifier for the campaign.",
            "example": "STANDARD"
          },
          "targetSegmentId": {
            "type": "string",
            "description": "Identifier for the target segment of the campaign.",
            "example": "STANDARD"
          },
          "channelMix": {
            "type": "array",
            "description": "List of channels utilized in the campaign.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "A channel type used in the campaign.",
              "example": "string"
            }
          },
          "budget": {
            "description": "Details regarding the budget allocated for the campaign.",
            "$ref": "#/components/schemas/Budget"
          },
          "startDate": {
            "type": "string",
            "description": "The start date of the campaign in ISO 8601 format.",
            "example": "2026-09-15"
          },
          "endDate": {
            "type": "string",
            "description": "The end date of the campaign in ISO 8601 format.",
            "example": "2026-09-15"
          },
          "campaignObjective": {
            "type": "string",
            "description": "The primary objective of the campaign.",
            "example": "STANDARD"
          },
          "controlGroupPercent": {
            "type": "integer",
            "description": "Percentage of the control group in the campaign.",
            "format": "int32",
            "example": 1
          },
          "contactFrequencyCap": {
            "type": "integer",
            "description": "Maximum number of times a participant can be contacted during the campaign.",
            "format": "int32",
            "example": 1
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the campaign record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the campaign.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the campaign record in ISO 8601 format.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Information related to the response metadata.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response for the campaign design operation, containing details about the marketing campaign.",
        "example": {
          "campaignId": "STANDARD",
          "targetSegmentId": "STANDARD",
          "channelMix": [
            "STANDARD"
          ],
          "budget": {
            "amount": 100.0,
            "currency": "USD"
          },
          "startDate": "2026-09-15",
          "endDate": "2026-09-15",
          "campaignObjective": "STANDARD",
          "controlGroupPercent": 1,
          "contactFrequencyCap": 1,
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "05272ce1-0ce6-5508-8e9e-5d7245d2a9d4",
            "correlationId": "ed7ff0ef-e92e-583d-9b1a-2a90cacafeff",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Budget": {
        "title": "Budget",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The monetary amount allocated for the campaign.",
            "example": 1000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the budget amount is specified.",
            "example": "USD"
          }
        },
        "description": "Represents the budget details of a campaign."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "res-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking related requests.",
            "example": "corr-123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated in ISO 8601 format.",
            "example": "2023-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the campaign occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Contains metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "prospect-campaign-design-get-prospect-campaign-design"
        },
        "example": "prospect-campaign-design-get-prospect-campaign-design"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication method, which allows users to authenticate by providing a JSON Web Token (JWT). The JWT must be included in the 'Authorization' header of requests to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}