{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Repayment Schedules API",
    "description": "The Repayment Schedules API provides access to detailed repayment schedules for specific loans. Users can retrieve the full schedule outlining the payment terms, including amounts, due dates, and any applicable interest rates. This API is particularly useful for financial institutions and loan servicing platforms seeking to provide clients with transparent repayment information. Developers can integrate this feature into customer-facing applications to enhance user experience and facilitate financial planning.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loans/{loanId}/repayment-schedules": {
      "get": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Retrieve Repayment Schedules for a Specific Loan",
        "description": "This endpoint allows you to fetch the repayment schedules associated with a specific loan identified by its loan ID. It provides essential details regarding payment timelines and amounts.",
        "operationId": "getRepaymentSchedulesForLoan",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/loanId"
          }
        ],
        "requestBody": {
          "description": "Provide the necessary details for retrieving the repayment schedules associated with the specified loan ID. The request must follow the structure defined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetRepaymentSchedulesForLoanRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the repayment schedules.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRepaymentSchedulesForLoanResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetRepaymentSchedulesForLoanRequest": {
        "title": "Loan Repayment Schedule Request Body",
        "type": "string",
        "description": "A string representation of the loan repayment schedule request body for loan operations.",
        "example": "{}"
      },
      "GetRepaymentSchedulesForLoanResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of repayment schedule details.",
            "example": [
              {
                "effectiveDate": "2026-09-15",
                "calculationMethod": "STANDARD",
                "reason": "STANDARD",
                "installments": [
                  {
                    "installmentNumber": 1,
                    "dueDate": "2026-09-15",
                    "openingPrincipal": {
                      "currency": "USD",
                      "amount": "1250.75"
                    },
                    "principalDue": {
                      "currency": "USD",
                      "amount": "1250.75"
                    },
                    "interestDue": {
                      "currency": "USD",
                      "amount": "1250.75"
                    },
                    "feesDue": {
                      "currency": "USD",
                      "amount": "1250.75"
                    },
                    "penaltiesDue": {
                      "currency": "USD",
                      "amount": "1250.75"
                    },
                    "totalDue": {
                      "currency": "USD",
                      "amount": "1250.75"
                    },
                    "amountPaid": {
                      "currency": "USD",
                      "amount": "1250.75"
                    },
                    "closingPrincipal": {
                      "currency": "USD",
                      "amount": "1250.75"
                    },
                    "status": "ACTIVE",
                    "paidAt": "2026-08-11T12:00:00Z"
                  }
                ],
                "id": "87e26794-e939-162d-a387-ea6612b9408b",
                "status": "ACTIVE",
                "generatedAt": "2026-09-15T14:30:00Z",
                "supersedesScheduleId": "427e0995-7cc6-560e-b67c-34bb5eaffbd6",
                "audit": {
                  "createdAt": "2026-09-15T14:30:00Z",
                  "createdBy": "STANDARD",
                  "updatedAt": "2026-09-15T14:30:00Z",
                  "updatedBy": "2026-09-15",
                  "version": 1
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/RepaymentSchedule"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Represents the response structure for loan repayment schedules.",
        "example": {
          "items": [
            {
              "effectiveDate": "2026-09-15",
              "calculationMethod": "STANDARD",
              "reason": "STANDARD",
              "installments": [
                {
                  "installmentNumber": 1,
                  "dueDate": "2026-09-15",
                  "openingPrincipal": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "principalDue": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "interestDue": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "feesDue": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "penaltiesDue": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "totalDue": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "amountPaid": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "closingPrincipal": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "status": "ACTIVE",
                  "paidAt": "2026-08-11T12:00:00Z"
                }
              ],
              "id": "87e26794-e939-162d-a387-ea6612b9408b",
              "status": "ACTIVE",
              "generatedAt": "2026-09-15T14:30:00Z",
              "supersedesScheduleId": "427e0995-7cc6-560e-b67c-34bb5eaffbd6",
              "audit": {
                "createdAt": "2026-09-15T14:30:00Z",
                "createdBy": "STANDARD",
                "updatedAt": "2026-09-15T14:30:00Z",
                "updatedBy": "2026-09-15",
                "version": 1
              }
            }
          ],
          "metadata": {
            "responseId": "b83e3432-e9fa-51f9-89d7-9d3f103b042d",
            "correlationId": "d688559a-c2d3-54ed-ae4c-f3c5990c7705",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "RepaymentSchedule": {
        "type": "object",
        "properties": {
          "effectiveDate": {
            "type": "string",
            "description": "The date the repayment schedule becomes effective.",
            "example": "2023-01-01"
          },
          "calculationMethod": {
            "type": "string",
            "description": "The method used to calculate the repayment amounts.",
            "example": "Straight Line"
          },
          "reason": {
            "type": "string",
            "description": "The reason for the repayment schedule.",
            "example": "Regular Payments"
          },
          "installments": {
            "type": "array",
            "description": "A list of installments associated with this repayment schedule.",
            "items": {
              "$ref": "#/components/schemas/Installment"
            }
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the repayment schedule.",
            "example": "schedule-1"
          },
          "status": {
            "type": "string",
            "description": "Current status of the repayment schedule.",
            "example": "Active"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the repayment schedule was generated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "supersedesScheduleId": {
            "type": "string",
            "description": "Id of the schedule that this schedule supersedes.",
            "example": "schedule-0"
          },
          "audit": {
            "$ref": "#/components/schemas/AuditInfo"
          }
        },
        "description": "Details for a single repayment schedule."
      },
      "Installment": {
        "type": "object",
        "properties": {
          "installmentNumber": {
            "type": "integer",
            "description": "The number of the installment in the repayment sequence.",
            "format": "int32",
            "example": 1
          },
          "dueDate": {
            "type": "string",
            "description": "The date when the installment is due.",
            "example": "2023-02-01"
          },
          "openingPrincipal": {
            "$ref": "#/components/schemas/AmountCurrency"
          },
          "principalDue": {
            "$ref": "#/components/schemas/AmountCurrency"
          },
          "interestDue": {
            "$ref": "#/components/schemas/AmountCurrency"
          },
          "feesDue": {
            "$ref": "#/components/schemas/AmountCurrency"
          },
          "penaltiesDue": {
            "$ref": "#/components/schemas/AmountCurrency"
          },
          "totalDue": {
            "$ref": "#/components/schemas/AmountCurrency"
          },
          "amountPaid": {
            "$ref": "#/components/schemas/AmountCurrency"
          },
          "closingPrincipal": {
            "$ref": "#/components/schemas/AmountCurrency"
          },
          "status": {
            "type": "string",
            "description": "Current status of the installment.",
            "example": "Paid"
          },
          "paidAt": {
            "type": "string",
            "description": "Timestamp when the installment was paid.",
            "example": "2023-02-01"
          }
        },
        "description": "Details for a single installment in a repayment schedule."
      },
      "AmountCurrency": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency code (e.g., USD).",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The monetary amount.",
            "example": "1000.00"
          }
        },
        "description": "Holds the amount and currency for financial values."
      },
      "AuditInfo": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the repayment schedule was created.",
            "example": "2022-12-01T00:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the schedule.",
            "example": "user123"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the repayment schedule was last updated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the schedule.",
            "example": "user123"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the schedule.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Auditing information for the repayment schedules."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp-1"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request across systems.",
            "example": "corr-1"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-01-01T01:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "US-East"
          }
        },
        "description": "Metadata information for the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "loanId": {
        "name": "loanId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-list-repayment-schedules"
        },
        "example": "banking-loans-openapi-list-repayment-schedules"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request, indicating the service responsible for the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the HTTP Bearer Authentication method. Clients should include a JSON Web Token (JWT) in the Authorization header when making requests to APIs that require authentication.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}