{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Account Statements-spec",
    "description": "The Account Statements Retrieval API allows users to access detailed transaction statements for specified bank accounts. Through this endpoint, financial institutions can provide customers with essential insights into their account activities, enhancing transparency and customer experience. Typical consumers of this API include banking applications and third-party financial services seeking to integrate statement data into their platforms. By retrieving account statements, users can easily manage their finances and monitor spending patterns.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/aisp/accounts/{accountId}/statements": {
      "get": {
        "tags": [
          "Account Management"
        ],
        "summary": "Retrieve account statements for a specific AISP account.",
        "description": "This endpoint allows you to fetch the statement details for the specified AISP account identified by ACC-200045. Use this to access transaction history and other relevant information about the account statements.",
        "operationId": "listAccountStatements",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the statements for the specified account. It requires the appropriate account identifier and should be formatted in JSON. Please ensure that all necessary parameters are included in the request to get a successful response.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListAccountStatementsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, statements retrieved.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAccountStatementsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListAccountStatementsRequest": {
        "type": "string",
        "description": "A request body for fetching statements related to a specific account.",
        "example": "{}"
      },
      "ListAccountStatementsResponse_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "Statement": {
                "type": "array",
                "description": "A list of account statements.",
                "items": {
                  "$ref": "#/components/schemas/AccountStatement"
                }
              }
            },
            "description": "Contains the main data of the response, including statement details.",
            "example": {
              "Statement": [
                {
                  "AccountId": "ACC-994897",
                  "id": "STANDARD",
                  "reference": "STANDARD",
                  "Type": "STANDARD",
                  "StartDateTime": "2026-09-15T14:30:00Z",
                  "EndDateTime": "2026-09-15T14:30:00Z",
                  "CreationDateTime": "2026-09-15T14:30:00Z",
                  "description": [
                    "Customer banking request processed successfully"
                  ],
                  "benefit": [
                    {
                      "Type": "STANDARD",
                      "Amount": {
                        "Amount": "1250.75",
                        "Currency": "USD"
                      }
                    }
                  ],
                  "fee": [
                    {
                      "Description": "Customer banking request processed successfully",
                      "CreditDebitIndicator": "STANDARD",
                      "Type": "STANDARD",
                      "Rate": 100.0,
                      "RateType": "STANDARD",
                      "Frequency": "STANDARD",
                      "Amount": {
                        "Amount": "1250.75",
                        "Currency": "USD"
                      }
                    }
                  ],
                  "interest": [
                    {
                      "Description": "Customer banking request processed successfully",
                      "CreditDebitIndicator": "STANDARD",
                      "Type": "STANDARD",
                      "Rate": 100.0,
                      "RateType": "STANDARD",
                      "Frequency": "STANDARD",
                      "Amount": {
                        "Amount": "1250.75",
                        "Currency": "USD"
                      }
                    }
                  ],
                  "amount": [
                    {
                      "CreditDebitIndicator": "STANDARD",
                      "Type": "STANDARD",
                      "Amount": {
                        "Amount": "1250.75",
                        "Currency": "USD",
                        "SubType": "STANDARD"
                      },
                      "LocalAmount": {
                        "Amount": "1250.75",
                        "Currency": "USD",
                        "SubType": "STANDARD"
                      }
                    }
                  ]
                }
              ]
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "Correlation ID for tracking the request.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the response was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the processing occurred.",
                "example": "string"
              }
            },
            "description": "Metadata associated with the response.",
            "example": {
              "responseId": "b2e0b451-8672-5784-8f10-5861ab6ba531",
              "correlationId": "51a9e4e4-6fd2-5485-8d6e-9ee0db922bb5",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for retrieving account statements.",
        "example": {
          "Data": {
            "Statement": [
              {
                "AccountId": "ACC-994897",
                "id": "STANDARD",
                "reference": "STANDARD",
                "Type": "STANDARD",
                "StartDateTime": "2026-09-15T14:30:00Z",
                "EndDateTime": "2026-09-15T14:30:00Z",
                "CreationDateTime": "2026-09-15T14:30:00Z",
                "description": [
                  "Customer banking request processed successfully"
                ],
                "benefit": [
                  {
                    "Type": "STANDARD",
                    "Amount": {
                      "Amount": "1250.75",
                      "Currency": "USD"
                    }
                  }
                ],
                "fee": [
                  {
                    "Description": "Customer banking request processed successfully",
                    "CreditDebitIndicator": "STANDARD",
                    "Type": "STANDARD",
                    "Rate": 100.0,
                    "RateType": "STANDARD",
                    "Frequency": "STANDARD",
                    "Amount": {
                      "Amount": "1250.75",
                      "Currency": "USD"
                    }
                  }
                ],
                "interest": [
                  {
                    "Description": "Customer banking request processed successfully",
                    "CreditDebitIndicator": "STANDARD",
                    "Type": "STANDARD",
                    "Rate": 100.0,
                    "RateType": "STANDARD",
                    "Frequency": "STANDARD",
                    "Amount": {
                      "Amount": "1250.75",
                      "Currency": "USD"
                    }
                  }
                ],
                "amount": [
                  {
                    "CreditDebitIndicator": "STANDARD",
                    "Type": "STANDARD",
                    "Amount": {
                      "Amount": "1250.75",
                      "Currency": "USD",
                      "SubType": "STANDARD"
                    },
                    "LocalAmount": {
                      "Amount": "1250.75",
                      "Currency": "USD",
                      "SubType": "STANDARD"
                    }
                  }
                ]
              }
            ]
          },
          "metadata": {
            "responseId": "b2e0b451-8672-5784-8f10-5861ab6ba531",
            "correlationId": "51a9e4e4-6fd2-5485-8d6e-9ee0db922bb5",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AccountStatement": {
        "type": "object",
        "properties": {
          "AccountId": {
            "type": "string",
            "description": "Unique identifier for the account."
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the statement."
          },
          "reference": {
            "type": "string",
            "description": "A reference number associated with the statement."
          },
          "Type": {
            "type": "string",
            "description": "Type of the statement."
          },
          "StartDateTime": {
            "type": "string",
            "description": "Start date and time for the statement period."
          },
          "EndDateTime": {
            "type": "string",
            "description": "End date and time for the statement period."
          },
          "CreationDateTime": {
            "type": "string",
            "description": "Date and time when the statement was created."
          },
          "description": {
            "type": "array",
            "description": "Descriptions of the statement.",
            "items": {
              "type": "string"
            }
          },
          "benefit": {
            "type": "array",
            "description": "List of benefits associated with the statement.",
            "items": {
              "$ref": "#/components/schemas/Benefit"
            }
          },
          "fee": {
            "type": "array",
            "description": "List of fees associated with the statement.",
            "items": {
              "$ref": "#/components/schemas/Fee"
            }
          },
          "interest": {
            "type": "array",
            "description": "List of interests associated with the statement.",
            "items": {
              "$ref": "#/components/schemas/Interest"
            }
          },
          "amount": {
            "type": "array",
            "description": "List of amounts associated with the statement.",
            "items": {
              "$ref": "#/components/schemas/Amount"
            }
          }
        },
        "description": "Schema representing an individual account statement."
      },
      "Benefit": {
        "type": "object",
        "properties": {
          "Type": {
            "type": "string",
            "description": "Type of the benefit."
          },
          "Amount": {
            "type": "object",
            "properties": {
              "Amount": {
                "type": "string",
                "description": "Amount value."
              },
              "Currency": {
                "type": "string",
                "description": "Currency for the benefit amount."
              }
            },
            "description": "Amount of the benefit."
          }
        },
        "description": "Schema representing a benefit associated with an account statement."
      },
      "Fee": {
        "type": "object",
        "properties": {
          "Description": {
            "type": "string",
            "description": "Description of the fee."
          },
          "CreditDebitIndicator": {
            "type": "string",
            "description": "Indicator specifying if the fee is a credit or debit."
          },
          "Type": {
            "type": "string",
            "description": "Type of the fee."
          },
          "Rate": {
            "type": "number",
            "description": "Rate applied for the fee."
          },
          "RateType": {
            "type": "string",
            "description": "Type of rate applied for the fee."
          },
          "Frequency": {
            "type": "string",
            "description": "Frequency of the fee."
          },
          "Amount": {
            "type": "object",
            "properties": {
              "Amount": {
                "type": "string",
                "description": "Amount value for the fee."
              },
              "Currency": {
                "type": "string",
                "description": "Currency for the fee amount."
              }
            },
            "description": "Amount of the fee."
          }
        },
        "description": "Schema representing a fee associated with an account statement."
      },
      "Interest": {
        "type": "object",
        "properties": {
          "Description": {
            "type": "string",
            "description": "Description of the interest charge."
          },
          "CreditDebitIndicator": {
            "type": "string",
            "description": "Indicator specifying if the interest is a credit or debit."
          },
          "Type": {
            "type": "string",
            "description": "Type of the interest charge."
          },
          "Rate": {
            "type": "number",
            "description": "Rate applied for the interest charge."
          },
          "RateType": {
            "type": "string",
            "description": "Type of rate applied for the interest charge."
          },
          "Frequency": {
            "type": "string",
            "description": "Frequency of the interest charge."
          },
          "Amount": {
            "type": "object",
            "properties": {
              "Amount": {
                "type": "string",
                "description": "Amount value for the interest charge."
              },
              "Currency": {
                "type": "string",
                "description": "Currency for the interest charge amount."
              }
            },
            "description": "Amount of the interest charge."
          }
        },
        "description": "Schema representing an interest charge associated with an account statement."
      },
      "Amount": {
        "type": "object",
        "properties": {
          "CreditDebitIndicator": {
            "type": "string",
            "description": "Indicator specifying if the amount is a credit or debit."
          },
          "Type": {
            "type": "string",
            "description": "Type of the amount."
          },
          "Amount": {
            "type": "object",
            "properties": {
              "Amount": {
                "type": "string",
                "description": "Amount value."
              },
              "Currency": {
                "type": "string",
                "description": "Currency for the amount."
              },
              "SubType": {
                "type": "string",
                "description": "SubType of the amount."
              }
            },
            "description": "Detailed amount information."
          },
          "LocalAmount": {
            "type": "object",
            "properties": {
              "Amount": {
                "type": "string",
                "description": "Amount value."
              },
              "Currency": {
                "type": "string",
                "description": "Currency for the local amount."
              },
              "SubType": {
                "type": "string",
                "description": "SubType of the local amount."
              }
            },
            "description": "Local amount information."
          }
        },
        "description": "Schema representing amounts related to an account statement."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the endpoint associated with this request. It helps in tracking the specific endpoint being called.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-api-get-accounts-account-id-statements"
        },
        "example": "accounts-api-get-accounts-account-id-statements"
      },
      "X-Runtime-App": {
        "description": "The application context in which the request is being processed. This header indicates which application is executing the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method to provide a secure means of accessing protected resources. It uses JSON Web Tokens (JWT) as the bearer format, which is a compact, URL-safe means of representing claims to be transferred between two parties. Ensure that the JWT is included in the authorization header of your requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}