{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Replace Banking Audit Finding By Audit Finding Id-v5-spec",
    "description": "The Update Banking Audit Finding API allows users to revise existing audit findings related to banking operations by specifying the unique audit finding identifier. This endpoint is essential for compliance and operational integrity, as it ensures that the audit records reflect the most current and accurate information. Typical consumers include compliance officers, audit teams, and financial analysts who require the ability to amend audit findings efficiently. Integrating this API facilitates regulatory compliance and enhances oversight in banking practices.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://enterprise-support-app:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/audit-findings/{auditFindingId}": {
      "put": {
        "tags": [
          "Audit Management"
        ],
        "summary": "Update an existing audit finding.",
        "description": "This endpoint allows you to update the details of a specific audit finding identified by RES-100045. Ensure that all required fields are provided in the request to successfully make the update.",
        "operationId": "replaceBankingAuditFindingByAuditFindingId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/auditFindingId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the audit findings for the specified resource. It requires a JSON payload that conforms to the defined schema structure.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceBankingAuditFindingByAuditFindingIdRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted for processing and will be completed asynchronously.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceBankingAuditFindingByAuditFindingIdResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ReplaceBankingAuditFindingByAuditFindingIdRequest": {
        "title": "Audit Findings Request Body",
        "type": "object",
        "properties": {
          "engagementId": {
            "type": "string",
            "description": "Unique identifier for the engagement associated with the audit findings.",
            "example": "STANDARD"
          },
          "scope": {
            "type": "string",
            "description": "Description of the scope of the audit engagement.",
            "example": "STANDARD"
          },
          "framework": {
            "type": "string",
            "description": "Framework applicable to the audit engagement.",
            "example": "STANDARD"
          },
          "engagementOwnerId": {
            "type": "string",
            "description": "Identifier for the owner of the engagement.",
            "example": "STANDARD"
          },
          "plannedStartDate": {
            "type": "string",
            "description": "The planned start date for the engagement.",
            "example": "2026-09-15"
          },
          "targetCompletionDate": {
            "type": "string",
            "description": "The target completion date for the engagement.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the structure of the request body for updating audit findings.",
        "example": {
          "engagementId": "STANDARD",
          "scope": "STANDARD",
          "framework": "STANDARD",
          "engagementOwnerId": "STANDARD",
          "plannedStartDate": "2026-09-15",
          "targetCompletionDate": "2026-09-15",
          "requestContext": {
            "requestId": "d6375450-3f3f-5b8e-98e3-7c0fbe1205b1",
            "correlationId": "3e1425e1-d5b4-5ae2-aa2a-b736232b8f96",
            "idempotencyKey": "a7e35228-3165-5687-be02-29e45eb4b09d",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-893198"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for linking related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotent requests.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the system the request originated from.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the application the request originated from.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the contextual information about the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used for the request.",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Schema representing information about the channel used for the request."
      },
      "ReplaceBankingAuditFindingByAuditFindingIdResponse_202": {
        "title": "Audit Findings Response",
        "type": "object",
        "properties": {
          "engagementId": {
            "type": "string",
            "description": "The unique identifier for the engagement.",
            "example": "STANDARD"
          },
          "engagementOwnerId": {
            "type": "string",
            "description": "The unique identifier of the owner of the engagement.",
            "example": "STANDARD"
          },
          "processingReference": {
            "type": "string",
            "description": "A reference for tracking the processing of the request.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the audit findings.",
            "example": "ACTIVE"
          },
          "acceptedAt": {
            "type": "string",
            "description": "The timestamp when the request was accepted.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/AuditMetadata"
          }
        },
        "description": "Response schema for the audit findings operation.",
        "example": {
          "engagementId": "STANDARD",
          "engagementOwnerId": "STANDARD",
          "processingReference": "STANDARD",
          "status": "ACTIVE",
          "acceptedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "c177e737-88d5-595b-a3f5-2873688cba64",
            "correlationId": "3e1425e1-d5b4-5ae2-aa2a-b736232b8f96",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AuditMetadata": {
        "title": "Audit Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response-xyz"
          },
          "correlationId": {
            "type": "string",
            "description": "A correlation identifier for tracing requests.",
            "example": "correlation-12345"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-10-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata associated with the audit findings response."
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-083"
        },
        "example": "WF-083"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "069fc82e-71b9-4464-90b5-0de92263ae0e"
        },
        "example": "069fc82e-71b9-4464-90b5-0de92263ae0e"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "2"
        },
        "example": "2"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "async-finalization"
        },
        "example": "async-finalization"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "98143aa5-8466-493b-b5d9-20e5af331b6d"
        },
        "example": "98143aa5-8466-493b-b5d9-20e5af331b6d"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "auditFindingId": {
        "name": "auditFindingId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed, used for auditing purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "internal-audit-perform-internal-audit"
        },
        "example": "internal-audit-perform-internal-audit"
      },
      "X-Runtime-App": {
        "description": "The name of the application in which the operation is being executed, helpful for tracking application-specific activities.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      },
      "X-Workflow-Id": {
        "description": "A unique identifier for the workflow associated with this operation, aiding in the tracing of workflow execution across various components.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-083"
        },
        "example": "WF-083"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow associated with the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Employee Travel Expense Approval and Reimbursement"
        },
        "example": "Employee Travel Expense Approval and Reimbursement"
      },
      "X-Workflow-State": {
        "description": "Current state of the workflow, indicating its progress in execution.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "COMPLETED"
        },
        "example": "COMPLETED"
      },
      "X-Workflow-Execution-Id": {
        "description": "Unique identifier for the workflow execution, useful for tracking and logging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "98143aa5-8466-493b-b5d9-20e5af331b6d"
        },
        "example": "98143aa5-8466-493b-b5d9-20e5af331b6d"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method using Bearer tokens, specifically JSON Web Tokens (JWT). Clients must include a valid JWT in the 'Authorization' header of their requests to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}