{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Pisp By Param1-spec",
    "description": "The Domestic Standing Orders Retrieval API allows users to access specific PISP details based on a given parameter. This API is designed for financial institutions and service providers needing to query domestic standing order information efficiently. By utilizing the unique identifier provided in the request path, consumers can retrieve pertinent data about standing orders, facilitating informed decision-making and enhanced customer service. Typical use cases include account management and financial reporting, making this API essential for developers in the open banking sector.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/domestic-standing-orders/{param1}": {
      "get": {
        "tags": [],
        "summary": "Retrieve a specific domestic standing order by its ID.",
        "description": "This endpoint allows developers to access the details of a specific domestic standing order identified by its unique ID. The response includes pertinent information about the standing order, helping users understand the specifics of the transaction setup.",
        "operationId": "getPispByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving details of a domestic standing order identified by RES-100045. This request requires specific identifiers and parameters to accurately process and return the user's standing order information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPispByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of the requested standing order details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPispByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPispByParam1Request": {
        "type": "string",
        "description": "This schema represents the request body structure for the GET operation in the context of domestic standing orders.",
        "example": "{}"
      },
      "GetPispByParam1Response_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "DomesticStandingOrderId": {
                "type": "string",
                "description": "Unique identifier for the domestic standing order.",
                "example": "string"
              },
              "ConsentId": {
                "type": "string",
                "description": "Identifier for the associated consent.",
                "example": "string"
              },
              "CreationDateTime": {
                "type": "string",
                "description": "Date and time when the standing order was created.",
                "example": "string"
              },
              "Status": {
                "type": "string",
                "description": "Current status of the standing order.",
                "example": "string"
              },
              "StatusUpdateDateTime": {
                "type": "string",
                "description": "Date and time when the status was last updated.",
                "example": "string"
              },
              "StatusReason": {
                "type": "array",
                "description": "Reasons for the current status of the standing order.",
                "example": [],
                "items": {
                  "$ref": "#/components/schemas/StatusReasonDetail"
                }
              },
              "Refund": {
                "type": "object",
                "properties": {
                  "Account": {
                    "$ref": "#/components/schemas/AccountDetails"
                  }
                },
                "description": "Details of any refund associated with the standing order.",
                "example": {}
              },
              "Charges": {
                "type": "array",
                "description": "List of charges associated with the standing order.",
                "example": [],
                "items": {
                  "$ref": "#/components/schemas/ChargeDetail"
                }
              },
              "Initiation": {
                "type": "object",
                "properties": {
                  "RemittanceInformation": {
                    "$ref": "#/components/schemas/RemittanceInformation"
                  },
                  "NumberOfPayments": {
                    "type": "string",
                    "description": "Total number of payments to be made.",
                    "example": "string"
                  },
                  "FirstPaymentAmount": {
                    "$ref": "#/components/schemas/AmountDetail"
                  },
                  "RecurringPaymentAmount": {
                    "$ref": "#/components/schemas/AmountDetail"
                  }
                },
                "description": "Details regarding the initiation of the standing order.",
                "example": {}
              }
            },
            "description": "Contains detailed information about the domestic standing order.",
            "example": {
              "DomesticStandingOrderId": "ORD-634889",
              "ConsentId": "STANDARD",
              "CreationDateTime": "2026-09-15T14:30:00Z",
              "Status": "ACTIVE",
              "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
              "StatusReason": [
                {
                  "code": "SUCCESS",
                  "description": "Customer banking request processed successfully",
                  "Path": "STANDARD"
                }
              ],
              "Refund": {
                "Account": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "SecondaryIdentification": "STANDARD"
                }
              },
              "Charges": [
                {
                  "ChargeBearer": "STANDARD",
                  "Type": "STANDARD",
                  "Amount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  }
                }
              ],
              "Initiation": {
                "RemittanceInformation": {
                  "Structured": [
                    {
                      "ReferredDocumentInformation": [
                        {
                          "Code": "SUCCESS",
                          "Issuer": "STANDARD",
                          "Number": "STANDARD",
                          "RelatedDate": "2026-09-15",
                          "LineDetails": [
                            "STANDARD"
                          ]
                        }
                      ],
                      "ReferredDocumentAmount": "1250.75",
                      "CreditorReferenceInformation": {
                        "Code": "SUCCESS",
                        "Issuer": "STANDARD",
                        "Reference": "STANDARD"
                      },
                      "Invoicer": "STANDARD",
                      "Invoicee": "STANDARD",
                      "TaxRemittance": "STANDARD",
                      "AdditionalRemittanceInformation": [
                        "STANDARD"
                      ]
                    }
                  ],
                  "Unstructured": [
                    "STANDARD"
                  ]
                },
                "NumberOfPayments": "STANDARD",
                "FirstPaymentAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "RecurringPaymentAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "Correlation identifier for tracking the request.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp indicating when the response was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the processing took place.",
                "example": "string"
              }
            },
            "description": "Metadata information for the response.",
            "example": {
              "responseId": "86f03b16-d6d9-5d03-b1cc-7e2a72083eb0",
              "correlationId": "ab40a5c6-57e3-53a1-9aa1-0939720ed8ab",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for the GET operation on domestic standing orders.",
        "example": {
          "Data": {
            "DomesticStandingOrderId": "ORD-634889",
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "Status": "ACTIVE",
            "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
            "StatusReason": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "Path": "STANDARD"
              }
            ],
            "Refund": {
              "Account": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD"
              }
            },
            "Charges": [
              {
                "ChargeBearer": "STANDARD",
                "Type": "STANDARD",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            ],
            "Initiation": {
              "RemittanceInformation": {
                "Structured": [
                  {
                    "ReferredDocumentInformation": [
                      {
                        "Code": "SUCCESS",
                        "Issuer": "STANDARD",
                        "Number": "STANDARD",
                        "RelatedDate": "2026-09-15",
                        "LineDetails": [
                          "STANDARD"
                        ]
                      }
                    ],
                    "ReferredDocumentAmount": "1250.75",
                    "CreditorReferenceInformation": {
                      "Code": "SUCCESS",
                      "Issuer": "STANDARD",
                      "Reference": "STANDARD"
                    },
                    "Invoicer": "STANDARD",
                    "Invoicee": "STANDARD",
                    "TaxRemittance": "STANDARD",
                    "AdditionalRemittanceInformation": [
                      "STANDARD"
                    ]
                  }
                ],
                "Unstructured": [
                  "STANDARD"
                ]
              },
              "NumberOfPayments": "STANDARD",
              "FirstPaymentAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              },
              "RecurringPaymentAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              }
            }
          },
          "metadata": {
            "responseId": "86f03b16-d6d9-5d03-b1cc-7e2a72083eb0",
            "correlationId": "ab40a5c6-57e3-53a1-9aa1-0939720ed8ab",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "StatusReasonDetail": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Code representing the status reason.",
            "example": "string"
          },
          "description": {
            "type": "string",
            "description": "Description of the status reason.",
            "example": "string"
          },
          "Path": {
            "type": "string",
            "description": "Path related to the status reason.",
            "example": "string"
          }
        },
        "description": "Detailed reason for the status of the standing order."
      },
      "AccountDetails": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "The name of the scheme for the account.",
            "example": "string"
          },
          "Identification": {
            "type": "string",
            "description": "Unique identification number for the account.",
            "example": "string"
          },
          "Name": {
            "type": "string",
            "description": "Name of the account holder.",
            "example": "string"
          },
          "SecondaryIdentification": {
            "type": "string",
            "description": "Additional identification information for the account.",
            "example": "string"
          }
        },
        "description": "Details of the account related to the refund."
      },
      "ChargeDetail": {
        "type": "object",
        "properties": {
          "ChargeBearer": {
            "type": "string",
            "description": "The party responsible for paying the charge.",
            "example": "string"
          },
          "Type": {
            "type": "string",
            "description": "Type of the charge.",
            "example": "string"
          },
          "Amount": {
            "$ref": "#/components/schemas/AmountDetail"
          }
        },
        "description": "Details of charges associated with the standing order."
      },
      "RemittanceInformation": {
        "type": "object",
        "properties": {
          "Structured": {
            "type": "array",
            "description": "Structured remittance information.",
            "items": {
              "$ref": "#/components/schemas/StructuredRemittanceDetail"
            }
          },
          "Unstructured": {
            "type": "array",
            "description": "Unstructured remittance information.",
            "items": {
              "type": "string"
            }
          }
        },
        "description": "Information related to remittance for the standing order."
      },
      "StructuredRemittanceDetail": {
        "type": "object",
        "properties": {
          "ReferredDocumentInformation": {
            "type": "array",
            "description": "Information about referred documents.",
            "items": {
              "$ref": "#/components/schemas/DocumentInformation"
            }
          },
          "ReferredDocumentAmount": {
            "type": "string",
            "description": "Amount related to referred documents.",
            "example": "string"
          },
          "CreditorReferenceInformation": {
            "$ref": "#/components/schemas/CreditorReferenceInformation"
          },
          "Invoicer": {
            "type": "string",
            "description": "Details of the invoicer.",
            "example": "string"
          },
          "Invoicee": {
            "type": "string",
            "description": "Details of the invoicee.",
            "example": "string"
          },
          "TaxRemittance": {
            "type": "string",
            "description": "Information regarding tax remittance.",
            "example": "string"
          },
          "AdditionalRemittanceInformation": {
            "type": "array",
            "description": "Additional information for remittance.",
            "items": {
              "type": "string"
            }
          }
        },
        "description": "Structured details related to remittance."
      },
      "DocumentInformation": {
        "type": "object",
        "properties": {
          "Code": {
            "type": "string",
            "description": "Code of the referred document.",
            "example": "string"
          },
          "Issuer": {
            "type": "string",
            "description": "Issuer of the referred document.",
            "example": "string"
          },
          "Number": {
            "type": "string",
            "description": "Number of the referred document.",
            "example": "string"
          },
          "RelatedDate": {
            "type": "string",
            "description": "Date related to the referred document.",
            "example": "string"
          },
          "LineDetails": {
            "type": "array",
            "description": "Details of lines in the referred document.",
            "items": {
              "type": "string"
            }
          }
        },
        "description": "Information about a referred document."
      },
      "CreditorReferenceInformation": {
        "type": "object",
        "properties": {
          "Code": {
            "type": "string",
            "description": "Code for the creditor reference.",
            "example": "string"
          },
          "Issuer": {
            "type": "string",
            "description": "Issuer of the creditor reference.",
            "example": "string"
          },
          "Reference": {
            "type": "string",
            "description": "The actual creditor reference.",
            "example": "string"
          }
        },
        "description": "Information related to the creditor reference."
      },
      "AmountDetail": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The monetary value.",
            "example": "string"
          },
          "Currency": {
            "type": "string",
            "description": "Currency of the amount.",
            "example": "string"
          }
        },
        "description": "Detail for the monetary amount."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-get-domestic-standing-order"
        },
        "example": "payment-initiation-openapi-get-domestic-standing-order"
      },
      "X-Runtime-App": {
        "description": "Name of the application that handled the request, useful for debugging and monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses JSON Web Tokens (JWT) for secure user authentication. The client must include the JWT in the Authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}