{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Manage Webhook Endpoint Configuration API",
    "description": "The Manage Webhook Endpoint Configuration API enables businesses to update the settings of existing webhook endpoints. This operation allows for the modification of the parameters that dictate how incoming notifications are handled. Typical users of this API include developers and system integrators who need to maintain effective communication between applications through dynamic webhook configurations. The API facilitates seamless integration by allowing real-time changes to webhook behaviors, enhancing adaptability in response to evolving business requirements.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/webhook-endpoints/{param1}": {
      "patch": {
        "tags": [
          "Webhook Management"
        ],
        "summary": "Update the specified webhook endpoint.",
        "description": "This endpoint allows you to modify the configurations of a specific webhook identified by its ID. Ensure that you provide the necessary data in the request body to update the relevant fields.",
        "operationId": "patchWebhookEndpointRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "The request body for updating the webhook endpoint configuration. It should include the necessary fields specified in the schema to modify the existing resource effectively.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchWebhookEndpointRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful, and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchWebhookEndpointRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchWebhookEndpointRes100045Request": {
        "title": "Webhook Endpoint Patch Request Body",
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "description": "The URL of the webhook endpoint.",
            "example": "https://example.com/resource"
          },
          "description": {
            "type": "string",
            "description": "A brief description of the webhook endpoint.",
            "example": "Customer banking request processed successfully"
          },
          "events": {
            "type": "array",
            "description": "A list of events that this webhook will subscribe to.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "The event type that the webhook will handle.",
              "example": "user.created"
            }
          },
          "status": {
            "type": "string",
            "description": "The current status of the webhook endpoint.",
            "example": "ACTIVE"
          },
          "requestContext": {
            "description": "Context information for the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the request body to patch a webhook endpoint.",
        "example": {
          "url": "https://example.com/resource",
          "description": "Customer banking request processed successfully",
          "events": [
            "STANDARD"
          ],
          "status": "ACTIVE",
          "requestContext": {
            "requestId": "ad6ba9aa-f3eb-5ebf-b178-21f1470c6ec0",
            "correlationId": "156b086a-97b2-5fa9-b239-8dbdd76cf5d3",
            "idempotencyKey": "531f72eb-4082-5634-86aa-86424d181690",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-380498"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-123456789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating logs across services.",
            "example": "corr-987654321"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to prevent duplicate processing of requests.",
            "example": "idempotency-key-001"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "User Management System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "Web Application"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema for the context of the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the communication channel (e.g., API, webhook).",
            "example": "webhook"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device associated with the channel.",
            "example": "device-456"
          }
        },
        "description": "Schema for details about the communication channel."
      },
      "PatchWebhookEndpointRes100045Response_200": {
        "title": "Webhook Endpoint Response",
        "type": "object",
        "properties": {
          "webhookEndpointId": {
            "type": "string",
            "description": "The unique identifier for the webhook endpoint.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "The unique identifier of the merchant associated with the webhook.",
            "example": "MER-601318"
          },
          "url": {
            "type": "string",
            "description": "The URL to which notifications will be sent.",
            "example": "https://example.com/resource"
          },
          "description": {
            "type": "string",
            "description": "A description of the webhook endpoint.",
            "example": "Customer banking request processed successfully"
          },
          "events": {
            "type": "array",
            "description": "A list of events that the webhook is subscribed to.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "The name of an event to be triggered for the webhook.",
              "example": "string"
            }
          },
          "status": {
            "type": "string",
            "description": "The current status of the webhook endpoint.",
            "example": "ACTIVE"
          },
          "secretLastRotatedAt": {
            "type": "string",
            "description": "The timestamp when the webhook's secret was last rotated.",
            "example": "2026-08-11T12:00:00Z"
          },
          "lastDeliveryAt": {
            "type": "string",
            "description": "The timestamp of the last successful delivery to the webhook.",
            "example": "2026-08-11T12:00:00Z"
          },
          "lastDeliveryStatus": {
            "type": "string",
            "description": "The status of the last delivery attempt.",
            "example": "ACTIVE"
          },
          "audit": {
            "description": "Audit information for tracking the changes made to the webhook endpoint.",
            "$ref": "#/components/schemas/WebhookAudit"
          },
          "metadata": {
            "description": "Metadata related to the webhook endpoint response.",
            "$ref": "#/components/schemas/WebhookMetadata"
          }
        },
        "description": "This schema represents the response returned when a webhook endpoint is successfully updated.",
        "example": {
          "webhookEndpointId": "STANDARD",
          "merchantId": "MER-601318",
          "url": "https://example.com/resource",
          "description": "Customer banking request processed successfully",
          "events": [
            "STANDARD"
          ],
          "status": "ACTIVE",
          "secretLastRotatedAt": "2026-08-11T12:00:00Z",
          "lastDeliveryAt": "2026-08-11T12:00:00Z",
          "lastDeliveryStatus": "ACTIVE",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "f1221310-6d1b-5e22-929c-37bcf53d7393",
            "correlationId": "156b086a-97b2-5fa9-b239-8dbdd76cf5d3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "WebhookAudit": {
        "title": "Webhook Audit",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp of when the webhook was created.",
            "example": "2023-09-01T10:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the webhook.",
            "example": "admin"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update made to the webhook.",
            "example": "2023-10-01T12:02:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the webhook.",
            "example": "admin"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the webhook configuration.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Contains audit information for tracking the creation and updates of the webhook endpoint."
      },
      "WebhookMetadata": {
        "title": "Webhook Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:03:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "US"
          }
        },
        "description": "Contains additional metadata for the webhook endpoint response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-update-webhook-endpoint"
        },
        "example": "banking-p2m-openapi-update-webhook-endpoint"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer authentication method where the client must include a JWT (JSON Web Token) in the Authorization header to access secured endpoints. The token should be formatted as 'Bearer {token}', enhancing security by verifying the sender's identity.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}