{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Intellectual Property Portfolio API",
    "description": "The Intellectual Property Portfolio API provides access to a comprehensive database of knowledge assets related to intellectual property. Users can retrieve detailed information on patents, trademarks, and copyrights, facilitating effective management and strategic planning for businesses and legal professionals. This API is designed for firms looking to enhance their asset portfolios or conduct thorough market analysis based on intellectual property trends. Typical consumers include corporate legal teams, R&D departments, and IP consultants.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/knowledge-assets/intellectual-property-portfolio": {
      "get": {
        "tags": [
          "Intellectual Property"
        ],
        "summary": "Retrieve the intellectual property portfolio.",
        "description": "This operation allows users to fetch detailed information about the intellectual property portfolio managed by the organization, including various assets and their statuses.",
        "operationId": "getIntellectualPropertyPortfolio",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information about the intellectual property portfolio related to knowledge assets. It may contain filtering parameters or specific query instructions to refine the search results.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetIntellectualPropertyPortfolioRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested intellectual property portfolio data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetIntellectualPropertyPortfolioResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetIntellectualPropertyPortfolioRequest": {
        "type": "string",
        "description": "A request body representing an intellectual property portfolio in the context of knowledge assets operations.",
        "example": "{}"
      },
      "GetIntellectualPropertyPortfolioResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A collection of intellectual property assets.",
            "example": [
              {
                "ipAssetId": "STANDARD",
                "assetType": "STANDARD",
                "registrationNumber": "NY-4587219",
                "jurisdiction": "STANDARD",
                "ownerLegalEntityId": "STANDARD",
                "renewalDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/IntellectualPropertyAsset"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sort order of the returned items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for retrieving an intellectual property portfolio.",
        "example": {
          "items": [
            {
              "ipAssetId": "STANDARD",
              "assetType": "STANDARD",
              "registrationNumber": "NY-4587219",
              "jurisdiction": "STANDARD",
              "ownerLegalEntityId": "STANDARD",
              "renewalDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "cc95b981-46da-5726-97e5-bd2bd99f1df9",
            "correlationId": "ea49b3d9-e1d0-5a34-a2bd-10d01a279a04",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "IntellectualPropertyAsset": {
        "type": "object",
        "properties": {
          "ipAssetId": {
            "type": "string",
            "description": "Unique identifier for the intellectual property asset."
          },
          "assetType": {
            "type": "string",
            "description": "The type of the intellectual property asset, e.g., patent, trademark."
          },
          "registrationNumber": {
            "type": "string",
            "description": "The registration number associated with the intellectual property asset."
          },
          "jurisdiction": {
            "type": "string",
            "description": "The legal jurisdiction where the asset is registered."
          },
          "ownerLegalEntityId": {
            "type": "string",
            "description": "Identifier for the legal entity that owns the asset."
          },
          "renewalDate": {
            "type": "string",
            "description": "The date when the asset's registration needs to be renewed."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the asset record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the asset details were last updated."
          }
        },
        "description": "Schema representing a single intellectual property asset."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number of the paginated response.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page in the paginated response.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32"
          }
        },
        "description": "Pagination information for managing the response data."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to trace requests across services."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed."
          }
        },
        "description": "Metadata information regarding the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "intellectual-property-portfolio-search-intellectual-property-portfolio"
        },
        "example": "intellectual-property-portfolio-search-intellectual-property-portfolio"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method that uses a bearer token. Typically, a JWT (JSON Web Token) is used to represent claims to be transferred between two parties.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}