{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Banking Human Resource Management Employee Certification By Employee Certification Id-v5-spec",
    "description": "The Employee Certification Management API facilitates the patching of employee certification information within the banking sector's human resource management system. This endpoint allows for the modification of existing employee certification details identified by their unique certification ID. Typical consumers include HR personnel and system administrators managing employee qualifications and compliance. By enabling timely updates to certification records, the API ensures that employees' credentials remain current and meet regulatory standards.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/employee-certification/{employeeCertificationId}": {
      "patch": {
        "tags": [
          "Employee Certification"
        ],
        "summary": "Update Employee Certification",
        "description": "This endpoint allows you to update the certification details of a specific employee identified by their unique ID. This includes modifying various attributes associated with the employee's certification.",
        "operationId": "updateBankingHumanResourceManagementEmployeeCertificationByEmployeeCertificationId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/employeeCertificationId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the employee certification details for the specific employee with ID EMP-900045. It should contain the necessary fields to modify the employee's certification status, dates, and relevant comments.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBankingHumanResourceManagementEmployeeCertificationByEmployeeCertificationIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed and the employee certification details have been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateBankingHumanResourceManagementEmployeeCertificationByEmployeeCertificationIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateBankingHumanResourceManagementEmployeeCertificationByEmployeeCertificationIdRequest": {
        "type": "object",
        "properties": {
          "changes": {
            "description": "An object containing details of the changes being requested for the employee.",
            "$ref": "#/components/schemas/EmployeeChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for requesting the change in employee certification.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes are requested to be effective.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The user who is requesting the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "The request body for updating employee certification details.",
        "example": {
          "changes": {
            "employeeId": "EMP-955831",
            "assignmentId": "STANDARD",
            "departmentId": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "92529f42-e4f4-543a-b1dc-709967b01be5",
            "correlationId": "0598ea3e-3b78-539f-b7b2-4b0bafa0692d",
            "idempotencyKey": "e0f11d74-b88f-5baa-afb2-3d1d8236414a",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-867674"
            }
          }
        }
      },
      "EmployeeChanges": {
        "type": "object",
        "properties": {
          "employeeId": {
            "type": "string",
            "description": "The unique identifier of the employee.",
            "example": "EMP-1001"
          },
          "assignmentId": {
            "type": "string",
            "description": "The unique identifier for the specific assignment.",
            "example": "ASSIGN-2002"
          },
          "departmentId": {
            "type": "string",
            "description": "The unique identifier for the department related to the changes.",
            "example": "DEPT-3003"
          }
        },
        "description": "Details about the changes made to the employee's certification."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ-4004"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the correlation of requests.",
            "example": "CORR-5005"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure that the request is idempotent.",
            "example": "IDEM-6006"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T09:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system from which the request originated.",
            "example": "HRMS"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request was initiated.",
            "example": "Employee Management App"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/RequestChannel"
          }
        },
        "description": "Context information related to the request."
      },
      "RequestChannel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "CHANNEL-7007"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the communication channel.",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used to make the request.",
            "example": "DEVICE-8008"
          }
        },
        "description": "Details about the communication channel used for the request."
      },
      "UpdateBankingHumanResourceManagementEmployeeCertificationByEmployeeCertificationIdResponse_200": {
        "title": "Employee Certification Update Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version number of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the update operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the update occurred.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for updating an employee certification.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "3e8c0110-78dc-5f95-a993-c849f548d72f",
            "correlationId": "0598ea3e-3b78-539f-b7b2-4b0bafa0692d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "employeeCertificationId": {
        "name": "employeeCertificationId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "employee-certification-update-employee-certification"
        },
        "example": "employee-certification-update-employee-certification"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication as defined in RFC 6750. It provides a means to authorize API requests using a JWT (JSON Web Token) format. The client must include a valid token in the Authorization header of the request to gain access to secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}