{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Settlement Accounts Management API",
    "description": "The Settlement Accounts Management API facilitates the updating of settlement account details for transaction processing. Businesses can manage their financial accounts by modifying account information as needed. This API is essential for financial institutions and businesses that rely on accurate settlement data to ensure seamless payment processing. Use cases include updating account statuses, changing account types, and adjusting account preferences to align with evolving business needs.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/settlement-accounts/{param1}": {
      "put": {
        "tags": [
          "Settlement Accounts"
        ],
        "summary": "Update a specific settlement account.",
        "description": "This endpoint allows you to update the details of a specific settlement account identified by its unique ID. Provide the necessary fields in the request body to modify the account information accordingly.",
        "operationId": "updateSettlementAccountAcc200045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the details of a specific settlement account identified by the account number 'ACC-200045'. The request should include the information necessary for making updates, as defined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSettlementAccountAcc200045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully; the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateSettlementAccountAcc200045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateSettlementAccountAcc200045Request": {
        "title": "Settlement Account Request Body",
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "The unique identifier for the merchant.",
            "example": "MER-272013"
          },
          "bankAccountToken": {
            "type": "string",
            "description": "Token representing the bank account.",
            "example": "STANDARD"
          },
          "account": {
            "$ref": "#/components/schemas/AccountDetails"
          },
          "schedule": {
            "$ref": "#/components/schemas/ScheduleDetails"
          },
          "isDefault": {
            "type": "boolean",
            "description": "Indicates if this is the default account.",
            "example": true
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for updating settlement account details.",
        "example": {
          "merchantId": "MER-272013",
          "bankAccountToken": "STANDARD",
          "account": {
            "bankCode": "CODE-539",
            "branchCode": "CODE-315",
            "numberMasked": "STANDARD",
            "name": "Northstar Banking Service",
            "type": "STANDARD",
            "currency": "USD"
          },
          "schedule": {
            "frequency": "STANDARD",
            "cutoffTime": "STANDARD",
            "timezone": "America/New_York",
            "settlementDelayBusinessDays": 1,
            "minimumPayoutAmount": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "isDefault": true,
          "requestContext": {
            "requestId": "87faae8b-9c55-5c6a-8ed4-2a8d9a24287c",
            "correlationId": "c803fa1f-0e5a-5fe6-a889-73c8342099aa",
            "idempotencyKey": "9fbfeb3e-d772-50b3-9d70-5e5258ccbcdc",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-862990"
            }
          }
        }
      },
      "AccountDetails": {
        "title": "Account Details",
        "type": "object",
        "properties": {
          "bankCode": {
            "type": "string",
            "description": "The code of the bank where the account is held.",
            "example": "string"
          },
          "branchCode": {
            "type": "string",
            "description": "The branch code of the bank.",
            "example": "string"
          },
          "numberMasked": {
            "type": "string",
            "description": "The masked account number for security purposes.",
            "example": "string"
          },
          "name": {
            "type": "string",
            "description": "The name associated with the bank account.",
            "example": "string"
          },
          "type": {
            "type": "string",
            "description": "The type of bank account.",
            "example": "string"
          },
          "currency": {
            "type": "string",
            "description": "The currency of the bank account.",
            "example": "string"
          }
        },
        "description": "Details about the bank account."
      },
      "ScheduleDetails": {
        "title": "Schedule Details",
        "type": "object",
        "properties": {
          "frequency": {
            "type": "string",
            "description": "The frequency of the settlement.",
            "example": "string"
          },
          "cutoffTime": {
            "type": "string",
            "description": "The cutoff time for transactions.",
            "example": "string"
          },
          "timezone": {
            "type": "string",
            "description": "The timezone for the scheduled settlement.",
            "example": "string"
          },
          "settlementDelayBusinessDays": {
            "type": "integer",
            "description": "The number of business days to delay settlement.",
            "format": "int32",
            "example": 0
          },
          "minimumPayoutAmount": {
            "$ref": "#/components/schemas/MinimumPayoutAmount"
          }
        },
        "description": "Schedule details for transactions."
      },
      "MinimumPayoutAmount": {
        "title": "Minimum Payout Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency of the minimum payout amount.",
            "example": "string"
          },
          "value": {
            "type": "string",
            "description": "The minimum payout amount value.",
            "example": "string"
          }
        },
        "description": "This schema represents the minimum payout amount and its currency."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate logs across services.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of requests.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request was sent.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/ChannelDetails"
          }
        },
        "description": "Details about the context in which the request was made."
      },
      "ChannelDetails": {
        "title": "Channel Details",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., mobile, web).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device used for the request.",
            "example": "string"
          }
        },
        "description": "Details about the channel through which the request was made."
      },
      "UpdateSettlementAccountAcc200045Response_200": {
        "title": "Settlement Account Response",
        "type": "object",
        "properties": {
          "settlementAccountId": {
            "type": "string",
            "description": "The unique identifier for the settlement account.",
            "example": "ACC-841950"
          },
          "merchantId": {
            "type": "string",
            "description": "The unique identifier of the merchant associated with the settlement account.",
            "example": "MER-310557"
          },
          "account": {
            "description": "Details about the bank account associated with the settlement.",
            "$ref": "#/components/schemas/Account"
          },
          "schedule": {
            "description": "The schedule detailing how and when settlements occur.",
            "$ref": "#/components/schemas/Schedule"
          },
          "isDefault": {
            "type": "boolean",
            "description": "Indicates if this settlement account is the default account.",
            "example": true
          },
          "verificationStatus": {
            "type": "string",
            "description": "The current verification status of the settlement account.",
            "example": "VERIFIED"
          },
          "status": {
            "type": "string",
            "description": "The current status of the settlement account.",
            "example": "ACTIVE"
          },
          "audit": {
            "description": "Audit information for tracking changes to the settlement account.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Additional information related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response for a PUT operation related to settlement accounts.",
        "example": {
          "settlementAccountId": "ACC-841950",
          "merchantId": "MER-310557",
          "account": {
            "bankCode": "CODE-201",
            "branchCode": "CODE-526",
            "numberMasked": "STANDARD",
            "name": "Northstar Banking Service",
            "type": "STANDARD",
            "currency": "USD"
          },
          "schedule": {
            "frequency": "STANDARD",
            "cutoffTime": "STANDARD",
            "timezone": "America/New_York",
            "settlementDelayBusinessDays": 1,
            "minimumPayoutAmount": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "isDefault": true,
          "verificationStatus": "VERIFIED",
          "status": "ACTIVE",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "c3d4404a-2646-5d44-a69f-80d5184bcaf0",
            "correlationId": "c803fa1f-0e5a-5fe6-a889-73c8342099aa",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Account": {
        "title": "Account Details",
        "type": "object",
        "properties": {
          "bankCode": {
            "type": "string",
            "description": "The code identifying the bank.",
            "example": "string"
          },
          "branchCode": {
            "type": "string",
            "description": "The code identifying the branch of the bank.",
            "example": "string"
          },
          "numberMasked": {
            "type": "string",
            "description": "The masked account number.",
            "example": "string"
          },
          "name": {
            "type": "string",
            "description": "The name associated with the bank account.",
            "example": "string"
          },
          "type": {
            "type": "string",
            "description": "The type of the bank account.",
            "example": "string"
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the bank account operates.",
            "example": "string"
          }
        },
        "description": "This schema represents the details of a bank account."
      },
      "Schedule": {
        "title": "Settlement Schedule",
        "type": "object",
        "properties": {
          "frequency": {
            "type": "string",
            "description": "The frequency with which settlements occur.",
            "example": "string"
          },
          "cutoffTime": {
            "type": "string",
            "description": "The cutoff time for processing the settlements.",
            "example": "string"
          },
          "timezone": {
            "type": "string",
            "description": "The timezone applicable for the cutoff time.",
            "example": "string"
          },
          "settlementDelayBusinessDays": {
            "type": "integer",
            "description": "The number of business days to delay the settlement.",
            "format": "int32",
            "example": 0
          },
          "minimumPayoutAmount": {
            "description": "The minimum payout amount configuration for settlements.",
            "$ref": "#/components/schemas/MinimumPayoutAmount"
          }
        },
        "description": "This schema represents the schedule for settlements."
      },
      "Audit": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the settlement account was created.",
            "example": "string"
          },
          "createdBy": {
            "type": "string",
            "description": "The user who created the settlement account.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the settlement account was last updated.",
            "example": "string"
          },
          "updatedBy": {
            "type": "string",
            "description": "The user who last updated the settlement account.",
            "example": "string"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the settlement account record.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "This schema contains audit information for the settlement account."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to correlate multiple requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "string"
          }
        },
        "description": "This schema contains additional metadata information for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-replace-settlement-account"
        },
        "example": "banking-p2m-openapi-replace-settlement-account"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method with JSON Web Tokens (JWT) for secure access. Clients must include a JWT token in the Authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}