{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Institution Brandings-spec",
    "description": "The Institution Branding Retrieval API enables users to access branding details specific to a given institution. By providing an institution ID, developers can retrieve comprehensive information about the brand elements associated with that institution. This API is particularly useful for educational organizations, marketing teams, and developers looking to ensure consistent branding across various platforms. Typical use cases include enhancing user interfaces, adjusting marketing materials, and maintaining brand integrity within applications.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/institution/institutions/{institutionId}/branding": {
      "get": {
        "tags": [],
        "summary": "Retrieve branding information for a specific institution.",
        "description": "This endpoint allows users to obtain branding details associated with a particular institution identified by its unique ID. This information can include logos, color schemes, and other branding assets necessary for display purposes.",
        "operationId": "listInstitutionBrandings",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/institutionId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve branding information for the institution with ID RES-100045. The request may include specific filters or parameters to narrow down the results.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListInstitutionBrandingsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved branding information for the institution.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListInstitutionBrandingsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListInstitutionBrandingsRequest": {
        "type": "string",
        "description": "A JSON string representing the request body for the GET operation on the branding of institutions.",
        "example": "{}"
      },
      "ListInstitutionBrandingsResponse_200": {
        "title": "Branding Response",
        "type": "object",
        "properties": {
          "branding": {
            "description": "Contains branding details including logos and color settings.",
            "$ref": "#/components/schemas/Branding"
          },
          "metadata": {
            "description": "Contains metadata information about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for branding information.",
        "example": {
          "branding": {
            "logo": "STANDARD",
            "alternateLogo": "STANDARD",
            "icon": "STANDARD",
            "primaryColor": "STANDARD",
            "tile": "STANDARD"
          },
          "metadata": {
            "responseId": "c866aec5-c041-521d-a095-f46660713755",
            "correlationId": "4da49586-1226-562b-ad6f-58673020cbb0",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Branding": {
        "title": "Branding",
        "type": "object",
        "properties": {
          "logo": {
            "type": "string",
            "description": "URL or path to the primary logo."
          },
          "alternateLogo": {
            "type": "string",
            "description": "URL or path to the alternate logo."
          },
          "icon": {
            "type": "string",
            "description": "URL or path to the branding icon."
          },
          "primaryColor": {
            "type": "string",
            "description": "Hex color code for the primary branding color."
          },
          "tile": {
            "type": "string",
            "description": "URL or path to the branding tile image."
          }
        },
        "description": "Schema representing the branding details."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request occurred."
          }
        },
        "description": "Schema representing metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "institutionId": {
        "name": "institutionId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint that was called. This ID can be used for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-institution-branding"
        },
        "example": "open-finance-api-get-institution-branding"
      },
      "x-runtime-app": {
        "description": "The name and version of the application that served the request. This helps in identifying which version of the application is being used to handle requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token for authentication, typically in JWT format. Clients should include the token in the `Authorization` header when making requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}