{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Operational Service Open Item Managements-spec",
    "description": "The Open Item Management Retrieval API provides access to a list of operational service open items within the banking sector. This endpoint enables stakeholders to effectively monitor and manage outstanding operational items, facilitating timely resolutions and improved service delivery. Typical consumers include operators and managers in financial institutions looking to enhance operational efficiencies. By leveraging this API, users can streamline the oversight of open item management processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/open-item-management": {
      "get": {
        "tags": [
          "Operational Services"
        ],
        "summary": "Retrieve Open Item Management Data",
        "description": "This endpoint allows you to fetch the details related to open item management in operational services. It provides insights into current items that are open, helping you manage and track them effectively.",
        "operationId": "listOperationalServiceOpenItemManagements",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve data related to the open item management operations. It must conform to the specified schema to ensure proper handling and response from the service.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListOperationalServiceOpenItemManagementsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of open item data.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOperationalServiceOpenItemManagementsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListOperationalServiceOpenItemManagementsRequest": {
        "type": "string",
        "description": "This schema represents the JSON request body for the Operations GET operation in the Open Item Management service.",
        "example": "{}"
      },
      "ListOperationalServiceOpenItemManagementsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of open items managed under the operation.",
            "example": [
              {
                "operationId": "STANDARD",
                "customerId": "CUST-404721",
                "accountId": "ACC-309847",
                "requestedAt": "2026-08-11T12:00:00Z",
                "priority": "NORMAL",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/OpenItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting criteria applied to the items in the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the operational services open item management GET request, containing details of the items managed and pagination information.",
        "example": {
          "items": [
            {
              "operationId": "STANDARD",
              "customerId": "CUST-404721",
              "accountId": "ACC-309847",
              "requestedAt": "2026-08-11T12:00:00Z",
              "priority": "NORMAL",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "ceabbee4-3d77-5444-8d8b-05b42c860d8c",
            "correlationId": "3a1a7eb5-2cc2-5f09-ab5e-b2ca2fca7bab",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "OpenItem": {
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "Unique identifier for the operation associated with this item."
          },
          "customerId": {
            "type": "string",
            "description": "Identifier for the customer related to this open item."
          },
          "accountId": {
            "type": "string",
            "description": "Identifier for the account associated with this item."
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the item was requested."
          },
          "priority": {
            "type": "string",
            "description": "Priority level assigned to this open item."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record (e.g., active, resolved)."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating the last update of this item."
          }
        },
        "description": "Details of an individual open item."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the paged response.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Pagination information for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the API response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to track the request across services."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed."
          }
        },
        "description": "Metadata providing additional context regarding the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-item-management-search-open-item-management"
        },
        "example": "open-item-management-search-open-item-management"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, utilizing JSON Web Tokens (JWT) for secure, stateless authentication. Clients must include the token in the Authorization header of requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}