{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Merchant Relationship Management API",
    "description": "The Merchant Relationship Management API enables businesses to efficiently update and manage their relationships with merchants. Through this API, users can adjust details related to merchant accounts, facilitating smoother interactions and enhanced partnership dynamics. Typical consumers of this API include financial institutions and corporate partners looking to maintain accurate merchant records and optimize collaboration. It supports critical operations that enhance the overall merchant engagement process.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9003",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cards/merchant-relations/{param1}": {
      "patch": {
        "tags": [
          "Merchant Relations"
        ],
        "summary": "Update Merchant Relation for a Card",
        "description": "This operation allows you to update the details of a merchant relation associated with a specific card. Utilize this endpoint to modify attributes such as contact information, terms, and conditions, enhancing the collaboration with your merchants.",
        "operationId": "updateMerchantRelationForCardMer800045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Updates details related to the merchant's relations for the specified card. Ensure that the provided JSON body conforms to the required schema to successfully update the merchant information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMerchantRelationForCardMer800045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The update was successful and the resource has been updated.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateMerchantRelationForCardMer800045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateMerchantRelationForCardMer800045Request": {
        "type": "object",
        "properties": {
          "changes": {
            "description": "An object containing the changes to the merchant details.",
            "$ref": "#/components/schemas/MerchantChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time at which the changes take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user or service requesting the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the request body of the PATCH operation to update merchant relations.",
        "example": {
          "changes": {
            "merchantId": "MER-937377",
            "legalName": "Olivia Bennett",
            "merchantCategoryCode": "5411"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "1628743f-ec1d-58e8-b066-8c8dfc7fe7b1",
            "correlationId": "d7087b96-1c21-5cc3-a030-3be061775e88",
            "idempotencyKey": "968bf4ff-c4fc-57df-b248-dac6cffa6ed3",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-374332"
            }
          }
        }
      },
      "MerchantChanges": {
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "The unique identifier of the merchant.",
            "example": "MER-800045"
          },
          "legalName": {
            "type": "string",
            "description": "The legal name of the merchant as recognized by official entities.",
            "example": "Merchant Legal Name Inc."
          },
          "merchantCategoryCode": {
            "type": "string",
            "description": "The category code associated with the merchant.",
            "example": "5812"
          }
        },
        "description": "Contains the details of the merchant changes."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "req-001"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier used to trace requests across systems.",
            "example": "corr-001"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure the request is idempotent.",
            "example": "idempotent-key-123"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "Merchant Management System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "Merchant Dashboard"
          },
          "channel": {
            "description": "Details about the channel used to make the request.",
            "$ref": "#/components/schemas/ChannelInformation"
          }
        },
        "description": "Contextual information about the request, including identifiers and timestamps."
      },
      "ChannelInformation": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used for the request (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used to make the request.",
            "example": "device-001"
          }
        },
        "description": "Information about the channel through which the request was made."
      },
      "UpdateMerchantRelationForCardMer800045Response_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the resource was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the PATCH operation on merchant relations.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "0a58973f-95ec-5724-a1b2-75ee2d0357b5",
            "correlationId": "d7087b96-1c21-5cc3-a030-3be061775e88",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating related requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata object containing various identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint that was called, useful for logging and tracking purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "merchant-relations-update-merchant-relations"
        },
        "example": "merchant-relations-update-merchant-relations"
      },
      "x-runtime-app": {
        "description": "The name of the application where the request originated, allowing for better monitoring and analytics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses bearer authentication with JSON Web Tokens (JWT). Clients must include a valid JWT in the authorization header for access.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}