{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Cross Channel Interactive Help-spec",
    "description": "The Cross Channel Interactive Help API facilitates the creation of dynamic help specifications across various banking channels. This service allows developers to define and submit interactive help content that enhances user experience by providing tailored guidance in real-time. Typical consumers of this API include financial institutions looking to improve customer support and user engagement through contextual assistance. Whether for applications, websites, or chatbots, this API serves as a vital tool for delivering comprehensive and accessible help content.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cross-channel/interactive-help": {
      "post": {
        "tags": [
          "Cross-Channel Support"
        ],
        "summary": "Initiates an interactive help session for cross-channel support.",
        "description": "This operation allows users to begin an interactive help session across multiple channels. It leverages real-time data to provide guided assistance tailored to user needs, improving engagement and effectiveness in problem-solving.",
        "operationId": "createCrossChannelInteractiveHelp",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate interactive help via the cross-channel communication system. It requires specific parameters to effectively communicate the user's request for assistance.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCrossChannelInteractiveHelpRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource successfully created in the system.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCrossChannelInteractiveHelpResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCrossChannelInteractiveHelpRequest": {
        "title": "Interactive Help Request",
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "Identifier for the party initiating the request.",
            "example": "PARTY-533132"
          },
          "interactionId": {
            "type": "string",
            "description": "Unique identifier for the interaction.",
            "example": "INT-337152"
          },
          "channel": {
            "type": "string",
            "description": "The communication channel used for the interaction.",
            "example": "STANDARD"
          },
          "authenticationLevel": {
            "type": "string",
            "description": "Level of authentication required for this interaction.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for the Interactive Help operation.",
        "example": {
          "partyId": "PARTY-533132",
          "interactionId": "INT-337152",
          "channel": "STANDARD",
          "authenticationLevel": "STANDARD",
          "requestContext": {
            "requestId": "37a57583-c56a-5879-8ea3-d3a9ee65dcf7",
            "correlationId": "5225c392-f321-5f44-af58-a713ccc651c9",
            "idempotencyKey": "2d2de139-a244-5f84-84da-900f6ded22d5",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-999157"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "example-request-id"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier to trace the request across services.",
            "example": "example-correlation-id"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Idempotency key to ensure the operation can be retried safely.",
            "example": "example-idempotency-key"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the system that made the request.",
            "example": "example-source-system"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the application that made the request.",
            "example": "example-source-application"
          },
          "channel": {
            "description": "Information about the channel used for the interaction.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "example-channel-id"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the communication channel (e.g., SMS, Email).",
            "example": "example-channel-type"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device being used for the interaction.",
            "example": "example-device-id"
          }
        },
        "description": "Schema representing the information about the communication channel."
      },
      "CreateCrossChannelInteractiveHelpResponse_201": {
        "title": "Interactive Help Response",
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "The unique identifier for the party involved in the interaction.",
            "example": "PARTY-853812"
          },
          "interactionId": {
            "type": "string",
            "description": "The unique identifier for the interaction.",
            "example": "INT-446277"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource associated with this interaction.",
            "example": "RES-483776"
          },
          "status": {
            "type": "string",
            "description": "The current status of the interaction.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the interaction was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the interaction.",
            "$ref": "#/components/schemas/InteractionMetadata"
          }
        },
        "description": "Response schema for the interactive help operation showing the state and metadata of the interaction.",
        "example": {
          "partyId": "PARTY-853812",
          "interactionId": "INT-446277",
          "resourceId": "RES-483776",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "de57af74-91ec-5fb1-9fe1-9c84f08f43a9",
            "correlationId": "5225c392-f321-5f44-af58-a713ccc651c9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "InteractionMetadata": {
        "title": "Interaction Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response associated with the interaction.",
            "example": "response001"
          },
          "correlationId": {
            "type": "string",
            "description": "The unique identifier for correlating related requests or responses.",
            "example": "correlation123"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-10-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the interaction was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata containing additional information about the interaction."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "interactive-help-create-interactive-help"
        },
        "example": "interactive-help-create-interactive-help"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer Authentication scheme via JWT (JSON Web Tokens). Clients should include the JWT in the Authorization header of their requests using the format: 'Authorization: Bearer <token>'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}