{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Order Allocation API",
    "description": "The Order Allocation API enables users to efficiently access and retrieve order allocation details within the banking market operations. This endpoint provides insights into how resources are allocated across various orders to optimize operational efficiency. Financial institutions and market analysts leverage this API to monitor and evaluate order distribution, ensuring compliance and improving decision-making processes. This functionality is essential for enhancing transparency and enabling strategic resource management in order fulfillment.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-operations/order-allocation": {
      "get": {
        "tags": [
          "Market Operations"
        ],
        "summary": "Retrieve all order allocations.",
        "description": "This endpoint allows users to retrieve the complete list of order allocations within the market operations. Use this to monitor and manage the allocation of orders in the system.",
        "operationId": "getOrderAllocation",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving all order allocation operations in the market. It should contain necessary filter parameters in JSON format.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetOrderAllocationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of all order allocations.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetOrderAllocationResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetOrderAllocationRequest": {
        "type": "string",
        "description": "Request body for the GET operation related to order allocation in market operations.",
        "example": "{}"
      },
      "GetOrderAllocationResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of order allocation items.",
            "example": [
              {
                "tradeId": "STANDARD",
                "instrumentId": "STANDARD",
                "settlementDate": "2026-09-15",
                "quantity": 1,
                "settlementCurrency": "USD",
                "custodianId": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/OrderAllocationItem"
            }
          },
          "pagination": {
            "description": "Pagination information for the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the order allocations.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata pertaining to the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for retrieving order allocation operations.",
        "example": {
          "items": [
            {
              "tradeId": "STANDARD",
              "instrumentId": "STANDARD",
              "settlementDate": "2026-09-15",
              "quantity": 1,
              "settlementCurrency": "USD",
              "custodianId": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "68eac8b8-9acb-5f34-99b5-14f9025a177a",
            "correlationId": "161d3c00-8883-5e29-8d82-63688a6269b9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "OrderAllocationItem": {
        "type": "object",
        "properties": {
          "tradeId": {
            "type": "string",
            "description": "Unique identifier for the trade.",
            "example": "exampleTradeId"
          },
          "instrumentId": {
            "type": "string",
            "description": "Identifier for the financial instrument.",
            "example": "exampleInstrumentId"
          },
          "settlementDate": {
            "type": "string",
            "description": "Date when the settlement is to occur.",
            "example": "2023-10-01"
          },
          "quantity": {
            "type": "integer",
            "description": "Quantity of the instrument to be settled.",
            "format": "int32",
            "example": 100
          },
          "settlementCurrency": {
            "type": "string",
            "description": "Currency used for the settlement.",
            "example": "USD"
          },
          "custodianId": {
            "type": "string",
            "description": "Identifier for the custodian managing the assets.",
            "example": "exampleCustodianId"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the order allocation record.",
            "example": "Completed"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the record was last updated.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "An individual order allocation item containing trade details."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the results.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Information about pagination in the response."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "exampleResponseId"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracing the request.",
            "example": "exampleCorrelationId"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "US"
          }
        },
        "description": "Additional metadata for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "order-allocation-search-order-allocation"
        },
        "example": "order-allocation-search-order-allocation"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes Bearer authentication, specifically with JSON Web Tokens (JWT). It is used to authorize requests by including a bearer token in the Authentication header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}