{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Payment Card Clearings-spec",
    "description": "The Card Clearing Records Retrieval API enables clients to access a comprehensive list of payment card clearing transactions. This operation provides essential data for financial institutions and businesses to track and manage card transactions efficiently. Typical consumers include payment processors and accounting systems that rely on seamless integration of clearing data. By utilizing this API, users can enhance financial reporting and transaction reconciliation efforts.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/payments/card-clearing": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Retrieve card clearing payment information.",
        "description": "This endpoint allows clients to access detailed information regarding card clearing payments, facilitating financial transactions and reporting.",
        "operationId": "listPaymentCardClearings",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Contains the necessary data for processing a card clearing operation. This operation allows clients to initiate a payment clearing request using card information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListPaymentCardClearingsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful, and the payment clearing information has been retrieved.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListPaymentCardClearingsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListPaymentCardClearingsRequest": {
        "type": "string",
        "description": "This schema represents the JSON request body required for the card clearing operations in the payments system.",
        "example": "{}"
      },
      "ListPaymentCardClearingsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of payment operations.",
            "example": [
              {
                "paymentId": "PAY-748245",
                "debtorAccountId": "ACC-878384",
                "creditorAccountId": "ACC-218292",
                "instructedAmount": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "requestedExecutionDate": "2026-09-15",
                "remittanceInformation": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/PaymentOperation"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for successful card clearing operation list.",
        "example": {
          "items": [
            {
              "paymentId": "PAY-748245",
              "debtorAccountId": "ACC-878384",
              "creditorAccountId": "ACC-218292",
              "instructedAmount": {
                "amount": 100.0,
                "currency": "USD"
              },
              "requestedExecutionDate": "2026-09-15",
              "remittanceInformation": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "249a1222-2297-54a6-8bc8-fef404a6113e",
            "correlationId": "70549e1a-9e25-53fb-8437-f9f005856ac9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentOperation": {
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment operation.",
            "example": "string"
          },
          "debtorAccountId": {
            "type": "string",
            "description": "Identifier for the debtor's account.",
            "example": "string"
          },
          "creditorAccountId": {
            "type": "string",
            "description": "Identifier for the creditor's account.",
            "example": "string"
          },
          "instructedAmount": {
            "type": "object",
            "properties": {
              "amount": {
                "type": "number",
                "description": "Monetary amount for the payment.",
                "example": 0.0
              },
              "currency": {
                "type": "string",
                "description": "Currency code for the amount.",
                "example": "string"
              }
            },
            "description": "Amount and currency for the instructed payment."
          },
          "requestedExecutionDate": {
            "type": "string",
            "description": "Date when the payment is requested to be executed.",
            "example": "string"
          },
          "remittanceInformation": {
            "type": "string",
            "description": "Information related to the remittance.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the payment operation.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the payment operation.",
            "example": "string"
          }
        },
        "description": "Represents a payment operation."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the pagination.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Pagination information for the payment operations response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracing the request across services.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-clearing-search-card-clearing"
        },
        "example": "card-clearing-search-card-clearing"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the HTTP Bearer authentication scheme. Clients are required to include a bearer token in the `Authorization` header to securely access protected resources. The token must be a valid JSON Web Token (JWT) that represents the user's identity and claims.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}