{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Business Analysi Market Analysis-spec",
    "description": "The Market Analysis API provides insights into business analysis for banking services, empowering financial institutions to understand market trends and customer preferences. This endpoint allows consumers to retrieve comprehensive market analysis data, including performance metrics and demographic insights. Typical users include market analysts, business strategists, and decision-makers seeking to enhance their offerings and align with consumer demands. By leveraging this information, organizations can make informed decisions and optimize their market strategies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/business-analysis/market-analysis": {
      "get": {
        "tags": [
          "Business Insights"
        ],
        "summary": "Retrieve market analysis data.",
        "description": "This endpoint allows users to access comprehensive market analysis data, including trends, forecasts, and competitive insights, enabling businesses to make informed decisions.",
        "operationId": "listBusinessAnalysiMarketAnalysis",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "A JSON object containing the necessary parameters and data required to perform the market analysis request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListBusinessAnalysiMarketAnalysisRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was completed successfully, returning the market analysis data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBusinessAnalysiMarketAnalysisResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListBusinessAnalysiMarketAnalysisRequest": {
        "type": "string",
        "description": "This schema represents the request body for the market analysis operation in a business analysis context.",
        "example": "{}"
      },
      "ListBusinessAnalysiMarketAnalysisResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of market analysis items.",
            "example": [
              {
                "analysisId": "STANDARD",
                "segmentId": "STANDARD",
                "periodStart": "2026-08-11",
                "periodEnd": "2026-08-11",
                "baseCurrency": "USD",
                "scenario": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/MarketAnalysisItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting key or criteria for the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for market analysis operations, containing a list of analysis items and pagination details.",
        "example": {
          "items": [
            {
              "analysisId": "STANDARD",
              "segmentId": "STANDARD",
              "periodStart": "2026-08-11",
              "periodEnd": "2026-08-11",
              "baseCurrency": "USD",
              "scenario": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "9d506a03-bfbd-50f8-b39d-72d611b10709",
            "correlationId": "58f66c76-fbaf-5db3-aa7f-7e893e58f673",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "MarketAnalysisItem": {
        "type": "object",
        "properties": {
          "analysisId": {
            "type": "string",
            "description": "Unique identifier for the market analysis.",
            "example": "analysis123"
          },
          "segmentId": {
            "type": "string",
            "description": "Identifier for the market segment related to the analysis.",
            "example": "segment456"
          },
          "periodStart": {
            "type": "string",
            "description": "Start date of the analysis period.",
            "example": "2023-01-01"
          },
          "periodEnd": {
            "type": "string",
            "description": "End date of the analysis period.",
            "example": "2023-12-31"
          },
          "baseCurrency": {
            "type": "string",
            "description": "Base currency used in the analysis.",
            "example": "USD"
          },
          "scenario": {
            "type": "string",
            "description": "Scenario identifier for the analysis.",
            "example": "baseline"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the analysis was last updated.",
            "example": "2023-10-02T12:00:00Z"
          }
        },
        "description": "Schema representing an individual market analysis item."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the paginated response.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Schema representing pagination information for the response."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response789"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request.",
            "example": "correlation101112"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-02T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request occurred.",
            "example": "us-west"
          }
        },
        "description": "Schema containing metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "market-analysis-search-market-analysis"
        },
        "example": "market-analysis-search-market-analysis"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which involves sending a JSON Web Token (JWT) as a credential in HTTP requests. It is commonly used for authorization in API requests and helps ensure that the request is made by an authenticated user.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}