{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Recruitment Management API",
    "description": "The Recruitment Management API streamlines the processes of posting job openings, managing applications, and onboarding new hires within an organization's human resource framework. This API allows businesses to efficiently interface with recruitment systems, enabling the creation and management of job listings and applicant profiles. Ideal for HR teams and recruitment agencies, it supports seamless integration with existing HR tools and workflows, enhancing the overall hiring experience. Utilize this API to attract top talent and automate your recruitment processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/recruitment": {
      "post": {
        "tags": [
          "Recruitment"
        ],
        "summary": "Initialize a new recruitment process.",
        "description": "This endpoint allows you to create a new recruitment process within the human resource management system. You will need to provide the necessary details to initiate the recruitment for a specific role.",
        "operationId": "createRecruitmentProcess",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body containing the necessary information to initiate a recruitment process in the human resource management system.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRecruitmentProcessRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully, indicating the recruitment entry has been successfully added.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateRecruitmentProcessResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateRecruitmentProcessRequest": {
        "type": "object",
        "properties": {
          "requisitionId": {
            "type": "string",
            "description": "The unique identifier for the job requisition.",
            "example": "STANDARD"
          },
          "positionTitle": {
            "type": "string",
            "description": "The title of the position being requested to fill.",
            "example": "STANDARD"
          },
          "departmentId": {
            "type": "string",
            "description": "The identifier for the department associated with the position.",
            "example": "STANDARD"
          },
          "employmentType": {
            "type": "string",
            "description": "The type of employment for the position (e.g., Full-time, Part-time, Contract).",
            "example": "STANDARD"
          },
          "location": {
            "type": "string",
            "description": "The physical location where the position is based.",
            "example": "STANDARD"
          },
          "targetStartDate": {
            "type": "string",
            "description": "The desired start date for the new hire.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "description": "A unique identifier for the request.",
                "example": "req-abc-123"
              },
              "correlationId": {
                "type": "string",
                "description": "An identifier for tracking a request through the system.",
                "example": "corr-xyz-789"
              },
              "idempotencyKey": {
                "type": "string",
                "description": "A key to ensure that repeated requests do not have side effects.",
                "example": "idempotent-key-001"
              },
              "requestedAt": {
                "type": "string",
                "description": "The timestamp when the request was made.",
                "example": "2023-09-01T12:00:00Z"
              },
              "sourceSystem": {
                "type": "string",
                "description": "The system that originated the request.",
                "example": "HR Management System"
              },
              "sourceApplication": {
                "type": "string",
                "description": "The application from which the request was initiated.",
                "example": "Recruitment App"
              },
              "channel": {
                "$ref": "#/components/schemas/ChannelInfo"
              }
            },
            "description": "Contextual information about the request.",
            "example": {
              "requestId": "efe71f6d-b634-5628-b1f5-0d8dec09ebad",
              "correlationId": "40621a6b-1530-5382-a365-c8c3ea5aa98d",
              "idempotencyKey": "9eab9f25-f0cb-5836-b1b1-a3a3a773e0ff",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-343893"
              }
            }
          }
        },
        "description": "Schema representing the request body for creating a recruitment operation.",
        "example": {
          "requisitionId": "STANDARD",
          "positionTitle": "STANDARD",
          "departmentId": "STANDARD",
          "employmentType": "STANDARD",
          "location": "STANDARD",
          "targetStartDate": "2026-09-15",
          "requestContext": {
            "requestId": "efe71f6d-b634-5628-b1f5-0d8dec09ebad",
            "correlationId": "40621a6b-1530-5382-a365-c8c3ea5aa98d",
            "idempotencyKey": "9eab9f25-f0cb-5836-b1b1-a3a3a773e0ff",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-343893"
            }
          }
        }
      },
      "ChannelInfo": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel through which the request was made.",
            "example": "Online"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used to make the request.",
            "example": "device-123"
          }
        },
        "description": "Information about the channel through which the request was made."
      },
      "CreateRecruitmentProcessResponse_201": {
        "title": "Recruitment Response",
        "type": "object",
        "properties": {
          "requisitionId": {
            "type": "string",
            "description": "The unique identifier for the requisition.",
            "example": "STANDARD"
          },
          "departmentId": {
            "type": "string",
            "description": "The unique identifier for the department associated with the requisition.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource (e.g., candidate) related to the requisition.",
            "example": "RES-767257"
          },
          "status": {
            "type": "string",
            "description": "The current status of the recruitment operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the recruitment request was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the recruitment response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for a recruitment operation.",
        "example": {
          "requisitionId": "STANDARD",
          "departmentId": "STANDARD",
          "resourceId": "RES-767257",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "68f02b3a-cd4e-5273-b802-562ceb63db4e",
            "correlationId": "40621a6b-1530-5382-a365-c8c3ea5aa98d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response generated.",
            "example": "resp-98765"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to correlate this response with requests.",
            "example": "corr-11111"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the recruitment processing took place.",
            "example": "us-west-1"
          }
        },
        "description": "This schema represents the metadata included in recruitment responses."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "recruitment-create-recruitment"
        },
        "example": "recruitment-create-recruitment"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token format (JWT) for authentication. Clients must include the token in the Authorization header as 'Bearer {token}' to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}