{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Banking It Management Production Release By Production Release Id-v5-spec",
    "description": "This API enables the modification of existing production releases within the Banking IT Management system by their unique identifiers. It allows authorized users to adjust critical release parameters, ensuring that production environments reflect the latest changes effectively. Common consumers include DevOps teams and system administrators who need to manage software deployments efficiently. This API supports seamless updates, contributing to the agility and reliability of banking applications.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/production-release/{productionReleaseId}": {
      "patch": {
        "tags": [
          "Production Release Management"
        ],
        "summary": "Update the production release for the specified item.",
        "description": "This endpoint allows you to update the details of a specific production release in the IT management system. Use this to modify attributes associated with the release, ensuring that the relevant information is current and accurate.",
        "operationId": "updateBankingItManagementProductionReleaseByProductionReleaseId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/productionReleaseId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the production release details for the specified ticket 'PROD-700045'. It contains the necessary fields to modify the existing production release information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBankingItManagementProductionReleaseByProductionReleaseIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was processed successfully and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateBankingItManagementProductionReleaseByProductionReleaseIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateBankingItManagementProductionReleaseByProductionReleaseIdRequest": {
        "title": "Production Release Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "description": "The changes being requested in the production release.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the change will take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user requesting the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for a production release operation.",
        "example": {
          "changes": {
            "systemId": "STANDARD",
            "environment": "STANDARD",
            "changeId": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "08c32e4c-fb39-5e76-b709-bd32436c899b",
            "correlationId": "62332f57-2afb-52e9-9a62-1f4f02a27756",
            "idempotencyKey": "1c8e05b0-3004-521e-a3de-b870e46133dd",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-532307"
            }
          }
        }
      },
      "Changes": {
        "title": "Changes",
        "type": "object",
        "properties": {
          "systemId": {
            "type": "string",
            "description": "Unique identifier for the system where the change is requested.",
            "example": "system-123"
          },
          "environment": {
            "type": "string",
            "description": "The environment in which the change will occur (e.g., production, staging).",
            "example": "production"
          },
          "changeId": {
            "type": "string",
            "description": "Unique identifier for the change request.",
            "example": "change-456"
          }
        },
        "description": "Schema representing the details of the changes requested in the production release."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "request-789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracing the request across systems.",
            "example": "correlation-123"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure idempotency of the request.",
            "example": "idempotency-abc"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-10T14:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier of the system from which the request originated.",
            "example": "source-system-x"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier of the application from which the request originated.",
            "example": "source-app-y"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing contextual information of the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device used in the request.",
            "example": "device-xyz"
          }
        },
        "description": "Schema representing information about the channel used for the request."
      },
      "UpdateBankingItManagementProductionReleaseByProductionReleaseIdResponse_200": {
        "title": "Production Release Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the production release.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "Current status of the production release.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the production release was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Object containing additional metadata regarding the request.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for the production release operation.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "d2f4f41a-32cc-5e99-af26-f29c5013dc19",
            "correlationId": "62332f57-2afb-52e9-9a62-1f4f02a27756",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "abc-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Unique identifier for correlating related requests.",
            "example": "corr-456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "us-east-1"
          }
        },
        "description": "Schema representing metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "productionReleaseId": {
        "name": "productionReleaseId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processes the request, allowing for traceability in system operations.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "production-release-update-production-release"
        },
        "example": "production-release-update-production-release"
      },
      "X-Runtime-App": {
        "description": "The name of the application or service that executed the request, providing context about the runtime environment.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which allows for the use of JSON Web Tokens (JWT). JWTs are commonly used as a means of securing APIs by including a signed token in the request header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}