{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Facility Property Portfolios-spec",
    "description": "The Facility Property Portfolio Retrieval API enables users to access comprehensive lists of facility property portfolios. This endpoint provides essential information about various facility properties for financial institutions, enabling informed decision-making and enhanced portfolio management. Users such as analysts and property managers can utilize this information for reporting and strategic planning. The API supports seamless integration with other banking services and applications to enhance operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/facilities/property-portfolio": {
      "get": {
        "tags": [
          "Facilities Management"
        ],
        "summary": "Retrieve a list of property portfolios.",
        "description": "This endpoint allows users to access and retrieve detailed information about various property portfolios within the facilities management system. Users can expect to receive comprehensive data relevant to their inquiries about property assets.",
        "operationId": "listFacilityPropertyPortfolios",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving the property portfolio information. This should include any necessary parameters or filters to specify which facilities' property data is being requested.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListFacilityPropertyPortfoliosRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the property portfolio.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListFacilityPropertyPortfoliosResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListFacilityPropertyPortfoliosRequest": {
        "type": "string",
        "description": "This schema represents the request body for retrieving property portfolio operations in the facilities management system.",
        "example": "{}"
      },
      "ListFacilityPropertyPortfoliosResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of operation items related to the property portfolio.",
            "example": [
              {
                "siteId": "STANDARD",
                "assetId": "STANDARD",
                "workOrderId": "ORD-473119",
                "scheduledDate": "2026-09-15",
                "vendorId": "STANDARD",
                "facilityZone": "STANDARD",
                "maintenanceType": "STANDARD",
                "estimatedDurationMinutes": 1,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/OperationItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting information for the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for fetching property portfolio operations.",
        "example": {
          "items": [
            {
              "siteId": "STANDARD",
              "assetId": "STANDARD",
              "workOrderId": "ORD-473119",
              "scheduledDate": "2026-09-15",
              "vendorId": "STANDARD",
              "facilityZone": "STANDARD",
              "maintenanceType": "STANDARD",
              "estimatedDurationMinutes": 1,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "41899292-157d-5547-90c0-bf0842bf070e",
            "correlationId": "49360c74-5e1c-5d3e-a7ba-a5c054f27854",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "OperationItem": {
        "type": "object",
        "properties": {
          "siteId": {
            "type": "string",
            "description": "Identifier for the site.",
            "example": "site-001"
          },
          "assetId": {
            "type": "string",
            "description": "Identifier for the asset.",
            "example": "asset-001"
          },
          "workOrderId": {
            "type": "string",
            "description": "Identifier for the work order.",
            "example": "workorder-001"
          },
          "scheduledDate": {
            "type": "string",
            "description": "The date the operation is scheduled to occur.",
            "example": "2023-01-01T00:00:00Z"
          },
          "vendorId": {
            "type": "string",
            "description": "Identifier for the vendor responsible for the operation.",
            "example": "vendor-001"
          },
          "facilityZone": {
            "type": "string",
            "description": "Zone within the facility where the operation takes place.",
            "example": "Zone A"
          },
          "maintenanceType": {
            "type": "string",
            "description": "Type of maintenance to be performed.",
            "example": "Preventive"
          },
          "estimatedDurationMinutes": {
            "type": "integer",
            "description": "Estimated duration of the operation in minutes.",
            "format": "int32",
            "example": 120
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the operation record.",
            "example": "Completed"
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the operation record was last updated.",
            "example": "2023-01-01T01:00:00Z"
          }
        },
        "description": "Schema representing a single operation item related to the property portfolio."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Schema representing pagination information for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating multiple requests.",
            "example": "correlation-001"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request took place.",
            "example": "us-east"
          }
        },
        "description": "Schema representing metadata information for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "property-portfolio-search-property-portfolio"
        },
        "example": "property-portfolio-search-property-portfolio"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a bearer token to authorize requests. The token is a JSON Web Token (JWT) that encodes information about the user and is signed for verification.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}