{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Banking Cross Channel Servicing Activity Analysis Analyse-v5-spec",
    "description": "MICROSERVICE-PROD-Create Banking Cross Channel Servicing Activity Analysis Analyse-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cross-channel/servicing-activity-analysis/analyses": {
      "post": {
        "operationId": "createBankingCrossChannelServicingActivityAnalysisAnalyse",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBankingCrossChannelServicingActivityAnalysisAnalyseRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBankingCrossChannelServicingActivityAnalysisAnalyseResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateBankingCrossChannelServicingActivityAnalysisAnalyseRequest": {
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "example": "PARTY-324016"
          },
          "interactionId": {
            "type": "string",
            "example": "INT-827943"
          },
          "channel": {
            "type": "string",
            "example": "STANDARD"
          },
          "authenticationLevel": {
            "type": "string",
            "example": "STANDARD"
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "a476e0b4-21b9-52c6-aa30-d8c84b9e31e5",
              "correlationId": "61c214e7-eb32-5fac-a972-46b6f5c5f891",
              "idempotencyKey": "6ed6b45f-a025-577f-8ab6-c0c6dba76d33",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-843053"
              }
            }
          }
        },
        "example": {
          "partyId": "PARTY-324016",
          "interactionId": "INT-827943",
          "channel": "STANDARD",
          "authenticationLevel": "STANDARD",
          "requestContext": {
            "requestId": "a476e0b4-21b9-52c6-aa30-d8c84b9e31e5",
            "correlationId": "61c214e7-eb32-5fac-a972-46b6f5c5f891",
            "idempotencyKey": "6ed6b45f-a025-577f-8ab6-c0c6dba76d33",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-843053"
            }
          }
        }
      },
      "CreateBankingCrossChannelServicingActivityAnalysisAnalyseResponse_200": {
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "example": "PARTY-718841"
          },
          "interactionId": {
            "type": "string",
            "example": "INT-456638"
          },
          "analysisId": {
            "type": "string",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "example": "ACTIVE"
          },
          "completedAt": {
            "type": "string",
            "example": "2026-09-15T14:30:00Z"
          },
          "findings": {
            "type": "array",
            "example": [
              {
                "metric": "STANDARD",
                "value": 100.0,
                "unit": "STANDARD"
              }
            ],
            "items": {
              "type": "object",
              "properties": {
                "metric": {
                  "type": "string",
                  "example": "string"
                },
                "value": {
                  "type": "number",
                  "example": 0.0
                },
                "unit": {
                  "type": "string",
                  "example": "string"
                }
              },
              "example": "string"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "6cc762c0-0009-5300-b81e-199be62f42a1",
              "correlationId": "61c214e7-eb32-5fac-a972-46b6f5c5f891",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "partyId": "PARTY-718841",
          "interactionId": "INT-456638",
          "analysisId": "STANDARD",
          "status": "ACTIVE",
          "completedAt": "2026-09-15T14:30:00Z",
          "findings": [
            {
              "metric": "STANDARD",
              "value": 100.0,
              "unit": "STANDARD"
            }
          ],
          "metadata": {
            "responseId": "6cc762c0-0009-5300-b81e-199be62f42a1",
            "correlationId": "61c214e7-eb32-5fac-a972-46b6f5c5f891",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "servicing-activity-analysis-analyze-servicing-activity-analysis"
        },
        "example": "servicing-activity-analysis-analyze-servicing-activity-analysis"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}