{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Product Directory Validation-spec",
    "description": "The Product Directory Validation API facilitates the validation of product entries within the banking product management system. This endpoint allows for the submission of product validation requests, ensuring that new entries meet the necessary business criteria before being added to the product directory. Financial institutions and product managers commonly utilize this API to maintain compliance and data integrity. It streamlines the onboarding process for financial products, reducing errors and enhancing overall operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/product-management/product-directory/{param1}/validations": {
      "post": {
        "tags": [
          "Product Management"
        ],
        "summary": "Validate product directory entry.",
        "description": "This endpoint validates the entry for a specific product in the product directory, ensuring all necessary data meets the requirements for further processing.",
        "operationId": "createProductDirectoryValidation",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to validate the product with ID PROD-700045. It contains relevant fields that define the criteria and parameters necessary for conducting the validation process effectively.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProductDirectoryValidationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was processed successfully, and validation results are returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateProductDirectoryValidationResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateProductDirectoryValidationRequest": {
        "type": "object",
        "properties": {
          "validationScope": {
            "type": "array",
            "description": "A list of validation scopes for the operation.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "Individual validation scope.",
              "example": "scope1"
            }
          },
          "asOfDate": {
            "type": "string",
            "description": "The date the request is associated with, formatted as a string.",
            "example": "2026-09-15"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier for the entity that made the request.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "The request body for the POST operation in the product management product directory validation process.",
        "example": {
          "validationScope": [
            "STANDARD"
          ],
          "asOfDate": "2026-09-15",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "e2990f70-6430-5693-890d-ab6ca47c370d",
            "correlationId": "005bce7c-c130-5246-b5d8-ef4393a06db6",
            "idempotencyKey": "d719b7dc-d59b-5b41-94cf-4fb64d3e5fec",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-506263"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to trace a request across systems.",
            "example": "corr-001"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the request is idempotent.",
            "example": "idempotent123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made, formatted as a string.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system that originated the request.",
            "example": "backend-system"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the application that originated the request.",
            "example": "product-app"
          },
          "channel": {
            "description": "Information regarding the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Context providing details about the request in the product management process."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the communication channel.",
            "example": "channel-1"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the communication channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-123"
          }
        },
        "description": "Information about the channel through which the request is made, including its ID, type, and device ID."
      },
      "CreateProductDirectoryValidationResponse_200": {
        "title": "Product Management Operation Response",
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "A reference identifier for the action taken.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "The type of action that was performed.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "The timestamp when the operation was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Metadata related to the processing of the operation.",
            "$ref": "#/components/schemas/OperationMetadata"
          }
        },
        "description": "Schema for the response returned from product management operations, containing details about the action performed.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "b65e5263-76f7-5454-854b-4907f61a89f5",
            "correlationId": "005bce7c-c130-5246-b5d8-ef4393a06db6",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "OperationMetadata": {
        "title": "Operation Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp representing when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata information for tracking and correlation of operations."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "product-directory-validate-product-directory"
        },
        "example": "product-directory-validate-product-directory"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens. This method employs JSON Web Tokens (JWT) for secure authentication and authorization in API requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}