{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Treasury By Param1-spec",
    "description": "The Treasury Management Update API facilitates the modification of treasury records based on specified parameters. This allows organizations to efficiently manage their banking portfolios and update relevant financial details as needed. Businesses can utilize this API to ensure accurate financial tracking and reporting. Typical consumers include financial analysts and treasury managers looking to maintain up-to-date financial data.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/treasury/bank-portfolio-administration/{param1}": {
      "patch": {
        "tags": [
          "Bank Portfolio Administration"
        ],
        "summary": "Update Bank Portfolio Administration Record",
        "description": "This operation allows for the modification of a specific bank portfolio administration record identified by RES-100045. It enables users to update relevant details as per their requirements.",
        "operationId": "updateTreasuryByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for updating the bank portfolio administration details for a specific resource. Ensure all necessary fields are included to successfully apply the desired changes.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTreasuryByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateTreasuryByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateTreasuryByParam1Request": {
        "type": "object",
        "properties": {
          "changes": {
            "description": "Details of the changes to be made to the portfolio.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for requesting the changes.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The effective date for the changes.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the requester.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Metadata regarding the request context.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for the PATCH operation on the bank portfolio administration operation.",
        "example": {
          "changes": {
            "portfolioId": "PORT-565211",
            "instrumentId": "STANDARD",
            "counterpartyId": "PARTY-848313"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "8029823b-cf1a-5528-adb0-fd7bfbdea50d",
            "correlationId": "ee724388-cba6-5722-bedb-4b28ab301599",
            "idempotencyKey": "e9e9b5d2-e6ab-55bf-99e8-1eec85221980",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-923122"
            }
          }
        }
      },
      "Changes": {
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "Unique identifier for the portfolio.",
            "example": "portfolio-001"
          },
          "instrumentId": {
            "type": "string",
            "description": "Unique identifier for the instrument being changed.",
            "example": "instrument-001"
          },
          "counterpartyId": {
            "type": "string",
            "description": "Unique identifier for the counterparty involved in the transaction.",
            "example": "counterparty-001"
          }
        },
        "description": "Object representing the changes to be made to the portfolio."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-1001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to track requests across systems.",
            "example": "corr-2002"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the request is idempotent.",
            "example": "idempotency-key-123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T12:34:56Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system from which the request originated.",
            "example": "banking-system"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application name from which the request was made.",
            "example": "portfolio-app"
          },
          "channel": {
            "description": "Details about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual metadata about the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device used.",
            "example": "device-001"
          }
        },
        "description": "Information about the channel used for the request."
      },
      "UpdateTreasuryByParam1Response_200": {
        "title": "Bank Portfolio Administration Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the operation was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response, containing additional identifiers and information.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the Bank Portfolio Administration operation, indicating the status and associated metadata of the operation.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "e19754ba-97d4-5397-b98d-cbe41872cc5e",
            "correlationId": "ee724388-cba6-5722-bedb-4b28ab301599",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating related requests and responses.",
            "example": "corr-789012"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-01-01T11:59:59Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request took place.",
            "example": "us-west-2"
          }
        },
        "description": "Contains metadata pertaining to the operation response, including identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that was called. This helps in tracking requests and responses in the logging system.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "bank-portfolio-administration-update-bank-portfolio-administration"
        },
        "example": "bank-portfolio-administration-update-bank-portfolio-administration"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request. This information can be used for monitoring and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Auth token in the HTTP Authorization header. The token should be a JSON Web Token (JWT), which is a compact and self-contained way for securely transmitting information between parties as a JSON object.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}