{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Technology Standards Retrieval API",
    "description": "The Technology Standards Retrieval API provides access to essential technology standards relevant to IT management within the banking sector. This endpoint allows users to retrieve detailed information about specific technology standards by utilizing a given parameter. Typical consumers include IT managers, systems architects, and compliance officers looking to ensure adherence to industry standards and best practices. By accessing these resources, users can support informed decision-making and streamline the implementation of relevant technologies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/technology-standards/{param1}": {
      "get": {
        "tags": [
          "Technology Standards"
        ],
        "summary": "Retrieve Technology Standard by ID",
        "description": "This endpoint allows users to retrieve detailed information about a specific technology standard identified by its unique ID. It provides insights into the standard\u2019s attributes and guidelines pertinent to IT management.",
        "operationId": "getTechnologyStandardById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the technology standards for the specified resource. Ensure that the JSON structure follows the defined schema to avoid errors.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetTechnologyStandardByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested resource.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTechnologyStandardByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetTechnologyStandardByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the Operations GET request related to technology standards in IT management.",
        "example": "{}"
      },
      "GetTechnologyStandardByIdResponse_200": {
        "type": "object",
        "properties": {
          "policyId": {
            "type": "string",
            "description": "The unique identifier for the policy.",
            "example": "STANDARD"
          },
          "title": {
            "type": "string",
            "description": "The title of the policy.",
            "example": "Banking operation completed"
          },
          "ownerTeam": {
            "type": "string",
            "description": "The team responsible for the policy.",
            "example": "STANDARD"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date when the policy becomes effective.",
            "example": "2026-09-15"
          },
          "reviewDate": {
            "type": "string",
            "description": "The date when the policy is scheduled for review.",
            "example": "2026-09-15"
          },
          "applicability": {
            "type": "array",
            "description": "List of entities to which the policy applies.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "A specific entity to which the policy applies.",
              "example": "All employees"
            }
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the policy record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the policy.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of the last update made to the policy.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "RESP-98765"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier used to correlate requests and responses.",
                "example": "CORR-11111"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the response was generated.",
                "example": "2023-03-01T12:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region where the response was processed.",
                "example": "us-east-1"
              }
            },
            "description": "Metadata related to the response.",
            "example": {
              "responseId": "23076058-71da-523a-85cd-a1ef5b7a1305",
              "correlationId": "45387f90-0a0a-5eab-92ba-649ebf6b43cd",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Schema representing the response for technology standards operations.",
        "example": {
          "policyId": "STANDARD",
          "title": "Banking operation completed",
          "ownerTeam": "STANDARD",
          "effectiveDate": "2026-09-15",
          "reviewDate": "2026-09-15",
          "applicability": [
            "STANDARD"
          ],
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "23076058-71da-523a-85cd-a1ef5b7a1305",
            "correlationId": "45387f90-0a0a-5eab-92ba-649ebf6b43cd",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "it-standards-and-guidelines-get-it-standards-and-guidelines"
        },
        "example": "it-standards-and-guidelines-get-it-standards-and-guidelines"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, where a JSON Web Token (JWT) is sent in the Authorization header of each request. Ensure the token is valid and properly scoped to access the relevant resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}