{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create P2m Outlet-spec",
    "description": "The P2M Outlet Creation API facilitates the onboarding of new outlets within the P2M ecosystem. Designed for businesses looking to expand their network, this API streamlines the submission of outlet specifications and associated details. Users can integrate this functionality to automate the process of adding outlets, ensuring quick access to necessary resources. Typical consumers include retail managers and developers tasked with enhancing operational capabilities within P2M platforms.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/outlets": {
      "post": {
        "tags": [
          "Outlet Management"
        ],
        "summary": "Create a new outlet.",
        "description": "This endpoint allows you to create a new outlet in the system, providing necessary details such as name, location, and other relevant information. Ensure to follow the format specified in the request body.",
        "operationId": "createP2mOutlet",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for creating a new outlet. This should contain all required fields for the outlet's information as defined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateP2mOutletRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created a new outlet resource.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateP2mOutletResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateP2mOutletRequest": {
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "The unique identifier for the merchant.",
            "example": "MER-690468"
          },
          "name": {
            "type": "string",
            "description": "The name of the outlet.",
            "example": "Northstar Banking Service"
          },
          "outletType": {
            "type": "string",
            "description": "The type of the outlet (e.g., retail, online).",
            "example": "STANDARD"
          },
          "address": {
            "description": "The physical address of the outlet.",
            "$ref": "#/components/schemas/Address"
          },
          "contact": {
            "description": "Contact information for the outlet.",
            "$ref": "#/components/schemas/Contact"
          },
          "timezone": {
            "type": "string",
            "description": "The timezone of the outlet.",
            "example": "America/New_York"
          },
          "currency": {
            "type": "string",
            "description": "The currency used by the outlet.",
            "example": "USD"
          },
          "externalReference": {
            "type": "string",
            "description": "An optional external reference identifier.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for creating a new outlet.",
        "example": {
          "merchantId": "MER-690468",
          "name": "Northstar Banking Service",
          "outletType": "STANDARD",
          "address": {
            "line1": "350 Fifth Avenue",
            "line2": "Suite 4200",
            "city": "New York",
            "stateOrProvince": "STANDARD",
            "postalCode": "10001",
            "country": "STANDARD"
          },
          "contact": {
            "email": "olivia.bennett@northstar.example",
            "phone": "+1-212-555-0147",
            "website": "https://example.com/resource"
          },
          "timezone": "America/New_York",
          "currency": "USD",
          "externalReference": "STANDARD",
          "requestContext": {
            "requestId": "d7076ae9-bb4a-5221-9070-6839591bd12e",
            "correlationId": "30288efc-a722-5059-a7d1-9c9e2b85dcc4",
            "idempotencyKey": "4d012c7f-d0a8-5175-ac86-ead81ee28edd",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-566377"
            }
          }
        }
      },
      "Address": {
        "title": "Address",
        "type": "object",
        "properties": {
          "line1": {
            "type": "string",
            "description": "First line of the address.",
            "example": "123 Main St"
          },
          "line2": {
            "type": "string",
            "description": "Second line of the address (optional).",
            "example": "Suite 4B"
          },
          "city": {
            "type": "string",
            "description": "City where the outlet is located.",
            "example": "Springfield"
          },
          "stateOrProvince": {
            "type": "string",
            "description": "State or province where the outlet is located.",
            "example": "IL"
          },
          "postalCode": {
            "type": "string",
            "description": "Postal code for the outlet's address.",
            "example": "62701"
          },
          "country": {
            "type": "string",
            "description": "Country where the outlet is located.",
            "example": "USA"
          }
        },
        "description": "Schema representing the address of an outlet."
      },
      "Contact": {
        "title": "Contact Information",
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "Email address for contacting the outlet.",
            "example": "contact@bestcoffeeshop.com"
          },
          "phone": {
            "type": "string",
            "description": "Phone number for contacting the outlet.",
            "example": "+1-555-555-5555"
          },
          "website": {
            "type": "string",
            "description": "Website URL for the outlet.",
            "example": "https://www.bestcoffeeshop.com"
          }
        },
        "description": "Schema representing the contact details of an outlet."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "req_456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to trace the request across systems.",
            "example": "corr_789"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of the request.",
            "example": "idempotent_abc"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-10T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that generated the request.",
            "example": "POS_System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "WebApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information for the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel_001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the channel.",
            "example": "device_123"
          }
        },
        "description": "Represents the channel information related to the request."
      },
      "CreateP2mOutletResponse_201": {
        "title": "Outlet Creation Response",
        "type": "object",
        "properties": {
          "outletId": {
            "type": "string",
            "description": "Unique identifier for the outlet.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant associated with the outlet.",
            "example": "MER-173069"
          },
          "name": {
            "type": "string",
            "description": "Name of the outlet.",
            "example": "Northstar Banking Service"
          },
          "outletType": {
            "type": "string",
            "description": "Type of the outlet (e.g., 'retail', 'food', etc.).",
            "example": "STANDARD"
          },
          "address": {
            "description": "The physical address of the outlet.",
            "$ref": "#/components/schemas/Address"
          },
          "contact": {
            "description": "Contact information for the outlet.",
            "$ref": "#/components/schemas/Contact"
          },
          "timezone": {
            "type": "string",
            "description": "Timezone of the outlet location.",
            "example": "America/New_York"
          },
          "currency": {
            "type": "string",
            "description": "Currency used for transactions at the outlet.",
            "example": "USD"
          },
          "externalReference": {
            "type": "string",
            "description": "An external reference identifier for the outlet.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the outlet.",
            "example": "ACTIVE"
          },
          "audit": {
            "description": "Audit information regarding the outlet's creation and updates.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Additional meta-information related to the outlet creation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for a successful outlet creation operation.",
        "example": {
          "outletId": "STANDARD",
          "merchantId": "MER-173069",
          "name": "Northstar Banking Service",
          "outletType": "STANDARD",
          "address": {
            "line1": "350 Fifth Avenue",
            "line2": "Suite 4200",
            "city": "New York",
            "stateOrProvince": "STANDARD",
            "postalCode": "10001",
            "country": "STANDARD"
          },
          "contact": {
            "email": "olivia.bennett@northstar.example",
            "phone": "+1-212-555-0147",
            "website": "https://example.com/resource"
          },
          "timezone": "America/New_York",
          "currency": "USD",
          "externalReference": "STANDARD",
          "status": "ACTIVE",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "f0d0ab9a-1eda-5a29-9492-f1b9edb54f05",
            "correlationId": "30288efc-a722-5059-a7d1-9c9e2b85dcc4",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Audit": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the outlet was created.",
            "example": "2023-10-01T12:34:56Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the outlet.",
            "example": "admin_user"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the outlet was last updated.",
            "example": "2023-10-02T12:34:56Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the outlet.",
            "example": "admin_user"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the outlet record.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Schema holding audit details about the outlet creation and updates."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier of the response.",
            "example": "response_123"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking requests.",
            "example": "corr_456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:34:56Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "us-west"
          }
        },
        "description": "Schema holding additional information about the outlet response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-create-outlet"
        },
        "example": "banking-p2m-openapi-create-outlet"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request, providing insights into routing and processing.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method. It expects a Bearer token, typically a JSON Web Token (JWT), to be included in the HTTP Authorization header for secure access to the API.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}