{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Employee Benefits Management API",
    "description": "The Employee Benefits Management API facilitates the seamless registration and management of employee benefits within an organization. This API allows HR professionals to create, update, and manage various employee benefit offerings efficiently. It is particularly useful for businesses looking to enhance their employee engagement and retention strategies through robust benefits programs. Typical consumers include HR departments and benefits administrators who aim to streamline their workflows and improve employee satisfaction.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://enterprise-support-app:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/employee-benefits": {
      "post": {
        "tags": [
          "Employee Benefits Management"
        ],
        "summary": "Create new employee benefits.",
        "description": "This API endpoint allows administrators to create new benefits for employees. Utilize this operation to enhance the employee benefits package and ensure compliance with company policies and standards.",
        "operationId": "createEmployeeBenefits",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit employee benefits information for processing within the human resource management system. Ensure that all required fields are accurately filled to avoid errors during processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEmployeeBenefitsRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Employee benefits resource created successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateEmployeeBenefitsResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateEmployeeBenefitsRequest": {
        "title": "Employee Benefits Request Body",
        "type": "object",
        "properties": {
          "employeeId": {
            "type": "string",
            "description": "A unique identifier for the employee.",
            "example": "EMP-199984"
          },
          "assignmentId": {
            "type": "string",
            "description": "An identifier for the employee's assignment.",
            "example": "STANDARD"
          },
          "departmentId": {
            "type": "string",
            "description": "The identifier for the department.",
            "example": "STANDARD"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date when the benefits become effective.",
            "example": "2026-09-15"
          },
          "countryCode": {
            "type": "string",
            "description": "The country code related to the employee's benefits.",
            "example": "US"
          },
          "employmentType": {
            "type": "string",
            "description": "The type of employment (e.g., full-time, part-time).",
            "example": "STANDARD"
          },
          "managerId": {
            "type": "string",
            "description": "The unique identifier for the employee's manager.",
            "example": "STANDARD"
          },
          "workLocation": {
            "type": "string",
            "description": "The location where the employee works.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for employee benefits operations.",
        "example": {
          "employeeId": "EMP-199984",
          "assignmentId": "STANDARD",
          "departmentId": "STANDARD",
          "effectiveDate": "2026-09-15",
          "countryCode": "US",
          "employmentType": "STANDARD",
          "managerId": "STANDARD",
          "workLocation": "STANDARD",
          "requestContext": {
            "requestId": "0e74f14b-9304-5ec2-ad88-2382d7d434d8",
            "correlationId": "b2543769-9a3d-5408-8c18-e6a8d10d302b",
            "idempotencyKey": "e79d8877-22fd-5057-a28d-7fd7f39b3c06",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-438973"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req789"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier for correlating logs and requests.",
            "example": "corr123"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key that guarantees the idempotency of the request.",
            "example": "idemp456"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-01T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "HR System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "Benefits Portal"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "A unique identifier for the channel.",
            "example": "channel001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used for the request.",
            "example": "device123"
          }
        },
        "description": "Schema representing the channel information for the request."
      },
      "CreateEmployeeBenefitsResponse_201": {
        "title": "Employee Benefits Response",
        "type": "object",
        "properties": {
          "employeeId": {
            "type": "string",
            "description": "The unique identifier of the employee.",
            "example": "EMP-707740"
          },
          "assignmentId": {
            "type": "string",
            "description": "The identifier for the employee's assignment.",
            "example": "STANDARD"
          },
          "departmentId": {
            "type": "string",
            "description": "The identifier for the department the employee belongs to.",
            "example": "STANDARD"
          },
          "countryCode": {
            "type": "string",
            "description": "The ISO country code where the employee is located.",
            "example": "US"
          },
          "resourceId": {
            "type": "string",
            "description": "The identifier for the resource related to this employee's benefits.",
            "example": "RES-207440"
          },
          "status": {
            "type": "string",
            "description": "The current status of the employee benefits operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the benefits record was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "The unique identifier for the response.",
                "example": "RSP-9876"
              },
              "correlationId": {
                "type": "string",
                "description": "The identifier to track the correlation of requests.",
                "example": "CORR-54321"
              },
              "generatedAt": {
                "type": "string",
                "description": "The timestamp when the response was generated.",
                "example": "2023-10-12T08:01:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region where the processing occurred.",
                "example": "NA"
              }
            },
            "description": "Additional metadata related to the response.",
            "example": {
              "responseId": "17f5b1ce-077c-502f-9059-da659b923caa",
              "correlationId": "b2543769-9a3d-5408-8c18-e6a8d10d302b",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "This schema represents the response structure for the employee benefits operations in the Human Resource Management system.",
        "example": {
          "employeeId": "EMP-707740",
          "assignmentId": "STANDARD",
          "departmentId": "STANDARD",
          "countryCode": "US",
          "resourceId": "RES-207440",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "17f5b1ce-077c-502f-9059-da659b923caa",
            "correlationId": "b2543769-9a3d-5408-8c18-e6a8d10d302b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-082"
        },
        "example": "WF-082"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "b6d44907-8304-41b3-b97a-9ea7916ff506"
        },
        "example": "b6d44907-8304-41b3-b97a-9ea7916ff506"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "e1b4fdc0-3c2d-41a5-b768-01e888522c66"
        },
        "example": "e1b4fdc0-3c2d-41a5-b768-01e888522c66"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "employee-benefits-create-employee-benefits"
        },
        "example": "employee-benefits-create-employee-benefits"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      },
      "X-Workflow-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-082"
        },
        "example": "WF-082"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Employee Payroll and Benefits Processing"
        },
        "example": "Employee Payroll and Benefits Processing"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "e1b4fdc0-3c2d-41a5-b768-01e888522c66"
        },
        "example": "e1b4fdc0-3c2d-41a5-b768-01e888522c66"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JSON Web Tokens (JWTs) for authentication and authorization. Clients must include a valid bearer token in the Authorization header when making requests to secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}