{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Counterparty Risk Assessment API",
    "description": "The Counterparty Risk Assessment API enables financial institutions to evaluate and manage the risk associated with their counterparties. This API allows users to submit data related to counterparty transactions and receive an analysis of risk levels, facilitating better decision-making in financial operations. Typical consumers of this API include risk managers, compliance officers, and financial analysts looking to mitigate exposure and ensure regulatory compliance. By effectively managing counterparty risk, organizations can enhance their financial stability and operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/account-management/counterparty-risk": {
      "post": {
        "tags": [
          "Counterparty Risk"
        ],
        "summary": "Create Counterparty Risk Assessment",
        "description": "This operation allows you to create a new counterparty risk assessment within the account management system, helping to evaluate the potential risks associated with counterparties.",
        "operationId": "createCounterpartyRisk",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit necessary data for counterparty risk assessment. It contains the relevant information required for the operation and must adhere to the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCounterpartyRiskRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully, indicating the counterparty risk record has been added.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCounterpartyRiskResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCounterpartyRiskRequest": {
        "title": "Counterparty Risk Request Body",
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account.",
            "example": "ACC-641075"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-808905"
          },
          "ledgerDate": {
            "type": "string",
            "description": "The date of the ledger.",
            "example": "2026-09-15"
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the balance is represented.",
            "example": "USD"
          },
          "ledgerBalance": {
            "type": "number",
            "description": "The balance amount recorded in the ledger.",
            "example": 100.0
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for counterparty risk operations.",
        "example": {
          "accountId": "ACC-641075",
          "customerId": "CUST-808905",
          "ledgerDate": "2026-09-15",
          "currency": "USD",
          "ledgerBalance": 100.0,
          "requestContext": {
            "requestId": "bea84a00-23f1-5929-92fd-04b41d90fce5",
            "correlationId": "b212d044-fec6-5d95-99e8-db22380e0228",
            "idempotencyKey": "18fc47b8-3a6a-5acb-b1ad-d6adff9b2f58",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-478388"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "req123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate requests across systems.",
            "example": "corr456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to guarantee the idempotency of the request.",
            "example": "idempotentKey789"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-15T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that initiated the request.",
            "example": "SourceSystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application within the source system that made the request.",
            "example": "SourceAppB"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema defines contextual information related to the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel123"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., web, mobile, etc.).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "deviceXYZ"
          }
        },
        "description": "This schema represents the channel information for the request."
      },
      "CreateCounterpartyRiskResponse_201": {
        "title": "Counterparty Risk Response",
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account.",
            "example": "ACC-473737"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer associated with the account.",
            "example": "CUST-944195"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource related to the operation.",
            "example": "RES-177475"
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the account was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the Counterparty Risk Operations POST request, providing details about the created account operation.",
        "example": {
          "accountId": "ACC-473737",
          "customerId": "CUST-944195",
          "resourceId": "RES-177475",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "c11ddbd3-365d-5189-ae3e-466a96933d7c",
            "correlationId": "b212d044-fec6-5d95-99e8-db22380e0228",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response_98765"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking the request across systems.",
            "example": "correlation_13579"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographic region where the processing occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Schema representing additional metadata for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "counterparty-risk-create-counterparty-risk"
        },
        "example": "counterparty-risk-create-counterparty-risk"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a JSON Web Token (JWT) for authentication. The client should include the token in the Authorization header using the Bearer scheme to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}