{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Guideline Compliance Status-spec",
    "description": "The Compliance Status Reporting API enables users to retrieve the current guideline compliance status for banking operations. This endpoint provides valuable insights into adherence to established guidelines, aiding compliance officers and financial institutions in monitoring regulatory frameworks. Typical consumers include compliance teams and risk management professionals who need to ensure operational integrity and adherence to banking standards. The API facilitates efficient decision-making by delivering up-to-date compliance status information.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/compliance/guideline-compliance/status": {
      "get": {
        "tags": [
          "Compliance"
        ],
        "summary": "Fetch Compliance Guideline Status",
        "description": "Retrieves the current compliance status of the guidelines, providing insights into adherence and any outstanding issues.",
        "operationId": "listGuidelineComplianceStatus",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is required to obtain the compliance status for the guidelines. It should contain necessary parameters as specified in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListGuidelineComplianceStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and returned the current guideline compliance status.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListGuidelineComplianceStatusResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListGuidelineComplianceStatusRequest": {
        "title": "Compliance Guideline Status",
        "type": "string",
        "description": "Represents the compliance status of a guideline in a JSON format.",
        "example": "{}"
      },
      "ListGuidelineComplianceStatusResponse_200": {
        "type": "object",
        "properties": {
          "submissionId": {
            "type": "string",
            "description": "Unique identifier for the submission.",
            "example": "STANDARD"
          },
          "legalEntityId": {
            "type": "string",
            "description": "Identifier for the legal entity associated with the submission.",
            "example": "STANDARD"
          },
          "jurisdiction": {
            "type": "string",
            "description": "The jurisdiction under which the submission falls.",
            "example": "STANDARD"
          },
          "reportingPeriod": {
            "type": "string",
            "description": "The reporting period for which the compliance status is relevant.",
            "example": "STANDARD"
          },
          "regulation": {
            "type": "string",
            "description": "The specific regulation that the compliance status pertains to.",
            "example": "STANDARD"
          },
          "dueDate": {
            "type": "string",
            "description": "The due date for the compliance submission.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the compliance record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the compliance record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier used to correlate with other requests or responses.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp indicating when the response was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region where the compliance data was processed.",
                "example": "string"
              }
            },
            "description": "Metadata related to the compliance status response.",
            "example": {
              "responseId": "57621392-e206-5c20-88a6-abfb0581589f",
              "correlationId": "d238a4af-abe8-5bfe-ac6f-7dfaafe9ec3a",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for the compliance status guideline operation.",
        "example": {
          "submissionId": "STANDARD",
          "legalEntityId": "STANDARD",
          "jurisdiction": "STANDARD",
          "reportingPeriod": "STANDARD",
          "regulation": "STANDARD",
          "dueDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "57621392-e206-5c20-88a6-abfb0581589f",
            "correlationId": "d238a4af-abe8-5bfe-ac6f-7dfaafe9ec3a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "guideline-compliance-get-guideline-compliance"
        },
        "example": "guideline-compliance-get-guideline-compliance"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method using a Bearer token. This scheme supports JSON Web Tokens (JWT) for secure transmission of information, ensuring that the data sent is verified and trusted.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}