{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Notional Pooling Insights API",
    "description": "The Notional Pooling Insights API facilitates the retrieval of detailed information about notional pooling arrangements within trade banking. Users can access essential data points, such as account balances, transaction histories, and interest calculations related to their pooling agreements. This API is particularly useful for financial institutions and corporate treasurers seeking to optimize liquidity management. Typical consumers include financial analysts, risk managers, and finance teams who require real-time insights to support their strategic decision-making.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/notional-pooling/{param1}": {
      "get": {
        "tags": [
          "Notional Pooling"
        ],
        "summary": "Retrieve Notional Pooling Details",
        "description": "This endpoint allows you to fetch detailed information about a specific Notional Pooling resource identified by its unique ID. Ensure that the ID you're querying corresponds to an existing Notional Pooling resource to receive valid data.",
        "operationId": "getNotionalPoolingById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve notional pooling information for a specific resource identified by RES-100045. It requires the necessary details enclosed in the JSON format to ensure a successful response.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetNotionalPoolingByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the notional pooling resource.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetNotionalPoolingByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetNotionalPoolingByIdRequest": {
        "type": "string",
        "description": "A request body for the Notional Pooling operations in trading banking context. This string is expected to contain specific information as defined by the operation.",
        "example": "{}"
      },
      "GetNotionalPoolingByIdResponse_200": {
        "title": "Notional Pooling Response",
        "type": "object",
        "properties": {
          "poolId": {
            "type": "string",
            "description": "Unique identifier for the notional pool.",
            "example": "STANDARD"
          },
          "headerAccountId": {
            "type": "string",
            "description": "Identifier for the header account of the notional pool.",
            "example": "ACC-534920"
          },
          "participantAccountIds": {
            "type": "array",
            "description": "List of identifiers for participant accounts involved in the notional pooling.",
            "example": [
              "ACC-761308"
            ],
            "items": {
              "type": "string",
              "description": "Identifier for a participant account.",
              "example": "PA-987654"
            }
          },
          "currency": {
            "type": "string",
            "description": "Currency used for the notional pool.",
            "example": "USD"
          },
          "sweepFrequency": {
            "type": "string",
            "description": "Frequency of the fund sweeping operations.",
            "example": "STANDARD"
          },
          "targetBalance": {
            "type": "number",
            "description": "Target balance for the notional pool to maintain.",
            "example": 100.0
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the notional pool record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the notional pool configuration.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the notional pool configuration.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the notional pooling response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response for a Notional Pooling operation. It contains details of the pooling configuration and metadata.",
        "example": {
          "poolId": "STANDARD",
          "headerAccountId": "ACC-534920",
          "participantAccountIds": [
            "ACC-761308"
          ],
          "currency": "USD",
          "sweepFrequency": "STANDARD",
          "targetBalance": 100.0,
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "130975a6-861d-5719-9ed7-04d703f7ab0a",
            "correlationId": "37e71034-5d47-57c6-82fe-d89a6a9e467d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "corr-001"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-05T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request took place.",
            "example": "US"
          }
        },
        "description": "This schema contains additional metadata related to a response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "notional-pooling-get-notional-pooling"
        },
        "example": "notional-pooling-get-notional-pooling"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token formatted as a JSON Web Token (JWT) for authorization. Clients must include the token in the Authorization header of their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}