{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Enterprise Service Legal Compliances-spec",
    "description": "The Enterprise Service Legal Compliance Retrieval API provides users with access to the legal compliance requirements specific to various enterprise services. This endpoint allows organizations to explore the comprehensive list of legal compliances necessary for their banking operations, ensuring they meet regulatory standards. Typical consumers include compliance officers, legal teams, and enterprise service managers who require up-to-date compliance information. By utilizing this API, businesses can streamline their compliance processes and enhance their operational effectiveness.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/enterprise-services/legal-compliance": {
      "get": {
        "tags": [
          "Legal Services"
        ],
        "summary": "Retrieve legal compliance information for enterprise services.",
        "description": "This endpoint allows you to fetch the legal compliance details associated with enterprise services, ensuring adherence to regulations and standards. Use this operation to stay informed about legal obligations and compliance requirements.",
        "operationId": "listEnterpriseServiceLegalCompliances",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information regarding legal compliance within enterprise services. It may include details such as regulatory requirements, compliance checks, and audit statuses.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListEnterpriseServiceLegalCompliancesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning legal compliance data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListEnterpriseServiceLegalCompliancesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListEnterpriseServiceLegalCompliancesRequest": {
        "title": "Legal Compliance Request Body",
        "type": "string",
        "description": "A string representing the request body for the legal compliance operations in the enterprise services.",
        "example": "{}"
      },
      "ListEnterpriseServiceLegalCompliancesResponse_200": {
        "title": "Legal Compliance Operations Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of engagement items relevant to legal compliance.",
            "example": [
              {
                "engagementId": "STANDARD",
                "scope": "STANDARD",
                "framework": "STANDARD",
                "engagementOwnerId": "STANDARD",
                "plannedStartDate": "2026-09-15",
                "targetCompletionDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/EngagementItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria used for the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for Legal Compliance operations, including information on engagement items, pagination, sorting, and metadata.",
        "example": {
          "items": [
            {
              "engagementId": "STANDARD",
              "scope": "STANDARD",
              "framework": "STANDARD",
              "engagementOwnerId": "STANDARD",
              "plannedStartDate": "2026-09-15",
              "targetCompletionDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "aef549ec-0bcf-5e95-8a60-f4932c15d18f",
            "correlationId": "b47c8e17-a05e-5f9a-93be-a6eb94645310",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EngagementItem": {
        "title": "Engagement Item",
        "type": "object",
        "properties": {
          "engagementId": {
            "type": "string",
            "description": "Unique identifier for the engagement.",
            "example": "engagement-123"
          },
          "scope": {
            "type": "string",
            "description": "The scope of the engagement.",
            "example": "Compliance Review"
          },
          "framework": {
            "type": "string",
            "description": "Framework applicable to the engagement.",
            "example": "ISO 27001"
          },
          "engagementOwnerId": {
            "type": "string",
            "description": "Identifier of the owner responsible for the engagement.",
            "example": "user-456"
          },
          "plannedStartDate": {
            "type": "string",
            "description": "The planned start date of the engagement.",
            "example": "2023-01-01"
          },
          "targetCompletionDate": {
            "type": "string",
            "description": "The target completion date of the engagement.",
            "example": "2023-12-31"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the engagement record.",
            "example": "In Progress"
          },
          "updatedAt": {
            "type": "string",
            "description": "The last updated timestamp for the engagement.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "Represents a single engagement item related to legal compliance."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the paginated response.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available for pagination.",
            "format": "int32",
            "example": 50
          }
        },
        "description": "Information regarding pagination of the response."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating multiple requests.",
            "example": "corr-abc"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "us-west"
          }
        },
        "description": "Metadata information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "legal-compliance-search-legal-compliance"
        },
        "example": "legal-compliance-search-legal-compliance"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication with JSON Web Tokens (JWT). The client needs to provide a valid JWT token in the Authorization header to authenticate requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}