{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List External Agency Supplier Agreements-spec",
    "description": "The Supplier Agreements Management API enables organizations to retrieve and manage external agency supplier agreements efficiently. It provides access to essential information regarding supplier contracts and terms, facilitating better oversight and decision-making. This API is designed for banking professionals and procurement teams who need to monitor and analyze supplier agreements for compliance and optimization. By leveraging this endpoint, users can ensure they have the most current data to support their supplier relationship management efforts.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/external-agency/supplier-agreements": {
      "get": {
        "tags": [
          "Supplier Agreements"
        ],
        "summary": "Retrieve a list of supplier agreements.",
        "description": "This endpoint allows users to fetch all existing supplier agreements associated with external agencies. It provides information on each agreement, enabling users to review partnership details and contractual terms.",
        "operationId": "listExternalAgencySupplierAgreements",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to obtain supplier agreements from an external agency. It provides the necessary parameters in JSON format to fetch the relevant data based on the specified criteria.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListExternalAgencySupplierAgreementsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the list of supplier agreements.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListExternalAgencySupplierAgreementsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListExternalAgencySupplierAgreementsRequest": {
        "type": "string",
        "description": "A string representation of the request body for supplier agreements in the external agency's operations GET request.",
        "example": "{}"
      },
      "ListExternalAgencySupplierAgreementsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of supplier agreements.",
            "example": [
              {
                "institutionId": "STANDARD",
                "agreementId": "AGR-101226",
                "bic": "STANDARD",
                "countryCode": "US",
                "effectiveDate": "2026-09-15",
                "purchaseOrderId": "ORD-193759",
                "categoryCode": "CODE-709",
                "approvalLevel": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/SupplierAgreement"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the agreements.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for fetching supplier agreements.",
        "example": {
          "items": [
            {
              "institutionId": "STANDARD",
              "agreementId": "AGR-101226",
              "bic": "STANDARD",
              "countryCode": "US",
              "effectiveDate": "2026-09-15",
              "purchaseOrderId": "ORD-193759",
              "categoryCode": "CODE-709",
              "approvalLevel": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "9897b299-024f-53d3-bbd5-8624343cc916",
            "correlationId": "d5d99433-1e76-521a-b5ac-54913e4e7fd4",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "SupplierAgreement": {
        "type": "object",
        "properties": {
          "institutionId": {
            "type": "string",
            "description": "The unique identifier for the institution.",
            "example": "string"
          },
          "agreementId": {
            "type": "string",
            "description": "The unique identifier for the agreement.",
            "example": "string"
          },
          "bic": {
            "type": "string",
            "description": "The Bank Identifier Code.",
            "example": "string"
          },
          "countryCode": {
            "type": "string",
            "description": "The ISO code representing the country.",
            "example": "string"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date when the agreement becomes effective.",
            "example": "string"
          },
          "purchaseOrderId": {
            "type": "string",
            "description": "The identifier for the purchase order associated with the agreement.",
            "example": "string"
          },
          "categoryCode": {
            "type": "string",
            "description": "The code categorizing the agreement.",
            "example": "string"
          },
          "approvalLevel": {
            "type": "string",
            "description": "The level of approval for the agreement.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the agreement record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the agreement was last updated.",
            "example": "string"
          }
        },
        "description": "Details of a supplier agreement."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Pagination information for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier for tracing the request through the system.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "contractor-and-supplier-agreement-search-contractor-and-supplier-agreement"
        },
        "example": "contractor-and-supplier-agreement-search-contractor-and-supplier-agreement"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication with JSON Web Tokens (JWT). Clients must include a valid JWT token in the Authorization header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}