{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Account Management By Param1-spec",
    "description": "The Account Management Retrieval API allows users to access detailed account information based on specific parameters. This endpoint is particularly useful for financial institutions and businesses that require insights into customer account positions. By providing a unique identifier as a parameter, users can retrieve the status and related data for any account. Typical consumers include banking applications, financial analysts, and customer support teams aiming to enhance their service quality.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/account-management/position-management/{param1}": {
      "get": {
        "tags": [
          "Position Management"
        ],
        "summary": "Retrieve position details",
        "description": "Fetch the detailed information about a specific position identified by its resource ID. This endpoint allows users to get relevant data including status, assignments, and history associated with the position.",
        "operationId": "getAccountManagementByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve details of a specific position management operation identified by RES-100045. Ensure that all required parameters are included for a successful response.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAccountManagementByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, and the resource details are returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAccountManagementByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetAccountManagementByParam1Request": {
        "type": "string",
        "description": "This schema represents the request body for the Operations GET request in the Position Management API.",
        "example": "{}"
      },
      "GetAccountManagementByParam1Response_200": {
        "title": "Account Position Management Response",
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "ACC-999560"
          },
          "customerId": {
            "type": "string",
            "description": "Identifier for the customer associated with the account.",
            "example": "CUST-245210"
          },
          "ledgerDate": {
            "type": "string",
            "description": "Date for which the ledger balance is retrieved.",
            "example": "2026-09-15"
          },
          "currency": {
            "type": "string",
            "description": "Currency code (ISO 4217) for the account balance.",
            "example": "USD"
          },
          "ledgerBalance": {
            "type": "number",
            "description": "Current balance of the account in the specified currency.",
            "example": 100.0
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the account record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the account record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the account record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the service response.",
                "example": "response789"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier for tracking the correlation of multiple requests.",
                "example": "correlation123"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the response was generated.",
                "example": "2023-10-01T12:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the processing of the request occurred.",
                "example": "us-east-1"
              }
            },
            "description": "Additional metadata related to the response.",
            "example": {
              "responseId": "c93e1a75-d610-534b-ba54-cf2ef0fa8055",
              "correlationId": "a758ba44-07f7-5d35-95bb-8ee8814c2eba",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "This schema represents the response structure for retrieving account position management details.",
        "example": {
          "accountId": "ACC-999560",
          "customerId": "CUST-245210",
          "ledgerDate": "2026-09-15",
          "currency": "USD",
          "ledgerBalance": 100.0,
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "c93e1a75-d610-534b-ba54-cf2ef0fa8055",
            "correlationId": "a758ba44-07f7-5d35-95bb-8ee8814c2eba",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request. This helps in tracking the origin of the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "position-management-get-position-management"
        },
        "example": "position-management-get-position-management"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request. This can be used for logging or debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a bearer token to grant access. This specific implementation expects the token to be a JSON Web Token (JWT), which contains encoded claims and is used to verify the identity of the user making the request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}