{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Order Allocation Management API",
    "description": "The Order Allocation Management API facilitates effective allocation of customer orders within the banking market operations framework. Through this endpoint, businesses can initiate the allocation process to ensure optimal resource distribution based on predefined criteria. This API is particularly useful for financial institutions and market operations teams that require efficient handling of order allocations in a timely manner. By automating this process, organizations can improve client satisfaction and operational efficiency while minimizing manual errors.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-operations/order-allocation": {
      "post": {
        "tags": [
          "Order Management"
        ],
        "summary": "Create a new order allocation.",
        "description": "This operation allows you to create a new order allocation in the market. Use this endpoint to process orders and allocate resources effectively.",
        "operationId": "postOrderAllocation",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for allocating orders within market operations. This body must follow the specified JSON schema and contains all necessary details to perform an order allocation operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostOrderAllocationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully and order allocated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostOrderAllocationResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PostOrderAllocationRequest": {
        "type": "object",
        "properties": {
          "tradeId": {
            "type": "string",
            "description": "The unique identifier for the trade.",
            "example": "STANDARD"
          },
          "instrumentId": {
            "type": "string",
            "description": "The unique identifier for the instrument involved in the trade.",
            "example": "STANDARD"
          },
          "settlementDate": {
            "type": "string",
            "description": "The date on which the settlement will occur in YYYY-MM-DD format.",
            "example": "2026-09-15"
          },
          "quantity": {
            "type": "integer",
            "description": "The quantity of the instrument to allocate.",
            "format": "int32",
            "example": 1
          },
          "settlementCurrency": {
            "type": "string",
            "description": "The currency in which the settlement will be made.",
            "example": "USD"
          },
          "custodianId": {
            "type": "string",
            "description": "The unique identifier for the custodian managing the assets.",
            "example": "STANDARD"
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "description": "A unique identifier for the request.",
                "example": "REQUEST123"
              },
              "correlationId": {
                "type": "string",
                "description": "An identifier used to correlate multiple related requests.",
                "example": "CORRELATION123"
              },
              "idempotencyKey": {
                "type": "string",
                "description": "A key used to ensure the request is processed only once.",
                "example": "IDEMPOTENCY123"
              },
              "requestedAt": {
                "type": "string",
                "description": "The timestamp when the request was made.",
                "example": "2023-10-01T10:00:00Z"
              },
              "sourceSystem": {
                "type": "string",
                "description": "The system from which the request originated.",
                "example": "TRADING_SYSTEM"
              },
              "sourceApplication": {
                "type": "string",
                "description": "The application from which the request originated.",
                "example": "TRADING_APP"
              },
              "channel": {
                "$ref": "#/components/schemas/Channel"
              }
            },
            "example": {
              "requestId": "6351f1cc-5fd3-5d02-ab07-4041c489ec0c",
              "correlationId": "696ab562-e08a-52d9-9757-09ade4554d04",
              "idempotencyKey": "6ccdd768-51d6-5876-b936-d8209fe87a12",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-248365"
              }
            }
          }
        },
        "example": {
          "tradeId": "STANDARD",
          "instrumentId": "STANDARD",
          "settlementDate": "2026-09-15",
          "quantity": 1,
          "settlementCurrency": "USD",
          "custodianId": "STANDARD",
          "requestContext": {
            "requestId": "6351f1cc-5fd3-5d02-ab07-4041c489ec0c",
            "correlationId": "696ab562-e08a-52d9-9757-09ade4554d04",
            "idempotencyKey": "6ccdd768-51d6-5876-b936-d8209fe87a12",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-248365"
            }
          }
        }
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "CHANNEL123"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel through which the request is made.",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier for the device used to make the request.",
            "example": "DEVICE123"
          }
        },
        "description": "Details about the channel used for the request."
      },
      "PostOrderAllocationResponse_201": {
        "title": "Order Allocation Response",
        "type": "object",
        "properties": {
          "tradeId": {
            "type": "string",
            "description": "Unique identifier for the trade.",
            "example": "STANDARD"
          },
          "instrumentId": {
            "type": "string",
            "description": "Identifier for the financial instrument involved in the trade.",
            "example": "STANDARD"
          },
          "custodianId": {
            "type": "string",
            "description": "Identifier of the custodian handling the assets.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "Identifier for the resource allocated to this order.",
            "example": "RES-381553"
          },
          "status": {
            "type": "string",
            "description": "Current status of the order allocation operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the order allocation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the order allocation process.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for order allocation operations.",
        "example": {
          "tradeId": "STANDARD",
          "instrumentId": "STANDARD",
          "custodianId": "STANDARD",
          "resourceId": "RES-381553",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "ead377f1-cbd8-516d-b57c-17c992fdcc2e",
            "correlationId": "696ab562-e08a-52d9-9757-09ade4554d04",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating requests and responses.",
            "example": "correlation-456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the order allocation was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Schema representing metadata associated with the order allocation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "order-allocation-create-order-allocation"
        },
        "example": "order-allocation-create-order-allocation"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security schema utilizes the Bearer Authentication method with JSON Web Tokens (JWT). Clients must include a bearer token in the Authorization header of their requests to authenticate and authorize access to secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}