{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Sales Planning API",
    "description": "The Sales Planning API enables businesses to effectively manage and optimize their sales strategies. It provides access to essential sales planning resources, allowing users to retrieve information on sales forecasts, budgets, and resource allocations. This API is particularly useful for sales analysts and managers seeking to enhance decision-making through data-driven insights. By integrating this API, organizations can streamline their sales planning processes, ensuring alignment with overall business objectives.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/sales/sales-planning": {
      "get": {
        "tags": [
          "Sales"
        ],
        "summary": "Retrieve sales planning data.",
        "description": "This endpoint allows you to fetch the current sales planning details, including forecasts, strategies, and resources. It's essential for aligning sales objectives with overall business goals.",
        "operationId": "getSalesPlanning",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve sales planning information based on the specified criteria. Ensure all required parameters are included in the request for accurate results.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSalesPlanningRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved sales planning data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSalesPlanningResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetSalesPlanningRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation in the sales planning API. The expected input is a string.",
        "example": "{}"
      },
      "GetSalesPlanningResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of sales items.",
            "example": [
              {
                "prospectId": "STANDARD",
                "productCode": "CHK-PREMIUM-US",
                "salesChannel": "STANDARD",
                "relationshipManagerId": "STANDARD",
                "expectedValue": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/SalesItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the sales items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for sales planning operations GET request.",
        "example": {
          "items": [
            {
              "prospectId": "STANDARD",
              "productCode": "CHK-PREMIUM-US",
              "salesChannel": "STANDARD",
              "relationshipManagerId": "STANDARD",
              "expectedValue": {
                "amount": 100.0,
                "currency": "USD"
              },
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "7fff4a64-45c7-5e75-a8f3-2537c77bf462",
            "correlationId": "1d86a995-be82-5caf-aed7-d55cdc6de566",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "SalesItem": {
        "type": "object",
        "properties": {
          "prospectId": {
            "type": "string",
            "description": "Unique identifier for the prospect."
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product."
          },
          "salesChannel": {
            "type": "string",
            "description": "Channel through which the sale is made."
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "Identifier for the relationship manager handling the sale."
          },
          "expectedValue": {
            "$ref": "#/components/schemas/ExpectedValue"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the sales record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the sales record."
          }
        },
        "description": "Represents an individual sales item."
      },
      "ExpectedValue": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The monetary amount expected."
          },
          "currency": {
            "type": "string",
            "description": "Currency of the expected amount."
          }
        },
        "description": "Represents the expected monetary value associated with a sales item."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the returned results.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Information about the pagination of the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "ID used for tracing the request lifecycle."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed."
          }
        },
        "description": "Additional metadata for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "sales-planning-search-sales-planning"
        },
        "example": "sales-planning-search-sales-planning"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "The Bearer Authentication scheme that utilizes JSON Web Tokens (JWT) for secure authentication. Clients must include the token in the Authorization header of their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}