{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Employee Evaluation API",
    "description": "The Employee Evaluation API provides access to performance assessment data within the human resource management system. This endpoint allows users to retrieve evaluation details for specific employees, enabling managers to make informed decisions regarding talent development and performance improvement. Typical consumers include HR personnel, team managers, and business analysts looking to assess employee performance trends. The API streamlines the process of accessing valuable insights needed for evaluating employee contributions effectively.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/employee-evaluation/{param1}": {
      "get": {
        "tags": [
          "Employee Evaluation"
        ],
        "summary": "Retrieve an employee evaluation by its unique identifier.",
        "description": "This endpoint allows you to fetch the details of an employee evaluation using the specific employee evaluation ID. It provides comprehensive information about the evaluation, aiding in performance reviews and assessments.",
        "operationId": "getEmployeeEvaluationById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving employee evaluation details for a specific employee identified by EMP-900045. This body may contain filtering or additional parameters related to the evaluation process.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetEmployeeEvaluationByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved employee evaluation data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetEmployeeEvaluationByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetEmployeeEvaluationByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body format for the Employee Evaluation operation in the Human Resource Management system.",
        "example": "{}"
      },
      "GetEmployeeEvaluationByIdResponse_200": {
        "title": "Employee Evaluation Response",
        "type": "object",
        "properties": {
          "employeeId": {
            "type": "string",
            "description": "Unique identifier for the employee.",
            "example": "EMP-459582"
          },
          "assignmentId": {
            "type": "string",
            "description": "Identifier for the assignment related to the employee.",
            "example": "STANDARD"
          },
          "departmentId": {
            "type": "string",
            "description": "Identifier for the department the employee belongs to.",
            "example": "STANDARD"
          },
          "effectiveDate": {
            "type": "string",
            "description": "Date when the employment details become effective.",
            "example": "2026-09-15"
          },
          "countryCode": {
            "type": "string",
            "description": "ISO code for the country where the employee is located.",
            "example": "US"
          },
          "employmentType": {
            "type": "string",
            "description": "Type of employment (e.g., full-time, part-time).",
            "example": "STANDARD"
          },
          "managerId": {
            "type": "string",
            "description": "Unique identifier of the employee's manager.",
            "example": "STANDARD"
          },
          "workLocation": {
            "type": "string",
            "description": "Location where the employee works.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the employee record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the employee record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the employee record.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the employee evaluation response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for an employee evaluation request.",
        "example": {
          "employeeId": "EMP-459582",
          "assignmentId": "STANDARD",
          "departmentId": "STANDARD",
          "effectiveDate": "2026-09-15",
          "countryCode": "US",
          "employmentType": "STANDARD",
          "managerId": "STANDARD",
          "workLocation": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "11fb271b-9eb3-5958-873c-ddf426ba90cf",
            "correlationId": "741f3e65-562d-5fd2-8aa0-ceae82fd72dc",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Evaluation Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Schema representing additional metadata for employee evaluation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "employee-evaluation-get-employee-evaluation"
        },
        "example": "employee-evaluation-get-employee-evaluation"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes a bearer token, which is a type of access token that is sent in the authorization header when making requests. The token is formatted using JSON Web Token (JWT) standards, ensuring secure and stateless authentication.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}