{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Enterprise Service Security Assurances-spec",
    "description": "The Enterprise Service Security Assurances API provides a comprehensive overview of security assurance measures for various enterprise services. This API allows users to access detailed information about security protocols, compliance metrics, and risk assessments associated with these services. It is primarily aimed at risk management professionals and compliance officers who need to ensure the security posture of enterprise operations. The data retrieved can assist organizations in making informed decisions regarding their security investments and regulatory requirements.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/enterprise-services/security-assurance": {
      "get": {
        "tags": [
          "Enterprise Security"
        ],
        "summary": "Retrieve security assurance information",
        "description": "This endpoint allows the retrieval of security assurance data related to enterprise services. Use this to understand compliance, risks, and security measures in place.",
        "operationId": "listEnterpriseServiceSecurityAssurances",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve security assurance information for enterprise services. It must be formatted as a JSON object and should comply with the specified schema to ensure successful processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListEnterpriseServiceSecurityAssurancesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully completed and security assurance information is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListEnterpriseServiceSecurityAssurancesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListEnterpriseServiceSecurityAssurancesRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation in the Security Assurance service.",
        "example": "{}"
      },
      "ListEnterpriseServiceSecurityAssurancesResponse_200": {
        "title": "Security Assurance Operations Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of engagement objects.",
            "example": [
              {
                "engagementId": "STANDARD",
                "scope": "STANDARD",
                "framework": "STANDARD",
                "engagementOwnerId": "STANDARD",
                "plannedStartDate": "2026-09-15",
                "targetCompletionDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Engagement"
            }
          },
          "pagination": {
            "description": "Pagination details for the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the list of engagements.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Operational metadata for the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the Security Assurance operations GET request, providing details about engagements, pagination, sorting, and metadata.",
        "example": {
          "items": [
            {
              "engagementId": "STANDARD",
              "scope": "STANDARD",
              "framework": "STANDARD",
              "engagementOwnerId": "STANDARD",
              "plannedStartDate": "2026-09-15",
              "targetCompletionDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "73c2fc08-bcce-5e8a-a785-938553858ee4",
            "correlationId": "01723f32-06be-5f2f-95cc-6cafa1b777c8",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Engagement": {
        "title": "Engagement",
        "type": "object",
        "properties": {
          "engagementId": {
            "type": "string",
            "description": "Unique identifier for the engagement."
          },
          "scope": {
            "type": "string",
            "description": "Scope of the engagement."
          },
          "framework": {
            "type": "string",
            "description": "Framework under which the engagement is conducted."
          },
          "engagementOwnerId": {
            "type": "string",
            "description": "ID of the owner responsible for the engagement."
          },
          "plannedStartDate": {
            "type": "string",
            "description": "Planned start date of the engagement.",
            "format": "date-time"
          },
          "targetCompletionDate": {
            "type": "string",
            "description": "Target completion date of the engagement.",
            "format": "date-time"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the engagement."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the engagement was last updated.",
            "format": "date-time"
          }
        },
        "description": "Details about an engagement related to the security assurance."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32"
          }
        },
        "description": "Pagination information for the list of items."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to track the request through various services."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "format": "date-time"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred."
          }
        },
        "description": "Metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "security-assurance-search-security-assurance"
        },
        "example": "security-assurance-search-security-assurance"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authenticates user via a bearer token, typically a JSON Web Token (JWT). This method is used for securely transmitting information between parties as a JSON object.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}