{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Trade Banking Direct Debit-spec",
    "description": "The Direct Debit Initiation API enables seamless set-up of direct debit transactions for trade banking services. This endpoint facilitates the initiation of direct debit requests, ensuring efficient processing of payments directly from customers' bank accounts. Typical consumers include financial institutions and businesses handling trade transactions. By leveraging this API, users can streamline their billing processes and enhance cash flow management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://lending-credit-app:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/direct-debit": {
      "post": {
        "tags": [
          "Trade Banking"
        ],
        "summary": "Initiate a Direct Debit transaction.",
        "description": "This endpoint allows users to create a Direct Debit transaction within the Trade Banking system. It processes the request and provides a confirmation of the transaction status.",
        "operationId": "createTradeBankingDirectDebit",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for creating a direct debit in the Trade Banking system. This body includes all necessary details that specify the direct debit operation, including the payer's and payee's information and the transaction details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTradeBankingDirectDebitRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted and is being processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateTradeBankingDirectDebitResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateTradeBankingDirectDebitRequest": {
        "title": "Direct Debit POST Request Body",
        "required": [
          "collectionAmount",
          "collectionDate",
          "creditorSchemeId",
          "debtorAccountId",
          "frequency",
          "mandateId",
          "requestContext"
        ],
        "type": "object",
        "properties": {
          "mandateId": {
            "type": "string",
            "description": "The unique identifier for the mandate associated with the direct debit.",
            "example": "2026-09-15"
          },
          "debtorAccountId": {
            "type": "string",
            "description": "The identifier of the debtor's account from which the amount will be collected.",
            "example": "ACC-890864"
          },
          "creditorSchemeId": {
            "type": "string",
            "description": "The identifier for the creditor scheme under which the direct debit is processed.",
            "example": "STANDARD"
          },
          "collectionAmount": {
            "description": "The amount to be collected through the direct debit.",
            "$ref": "#/components/schemas/CollectionAmount"
          },
          "collectionDate": {
            "type": "string",
            "description": "The date on which the collection is to take place, formatted as an ISO8601 string.",
            "example": "2026-09-15"
          },
          "frequency": {
            "type": "string",
            "description": "The frequency of the collection (e.g., weekly, monthly).",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the request body of the Direct Debit operation in the trade banking API.",
        "example": {
          "mandateId": "2026-09-15",
          "debtorAccountId": "ACC-890864",
          "creditorSchemeId": "STANDARD",
          "collectionAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "collectionDate": "2026-09-15",
          "frequency": "STANDARD",
          "requestContext": {
            "requestId": "d95c3989-0294-5842-aa8c-226a570e7201",
            "correlationId": "15929d2b-02f4-52e5-be58-cd12638282a4",
            "idempotencyKey": "aa2457fa-8d55-506e-a27e-d12a66f0197c",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-605882"
            }
          }
        }
      },
      "CollectionAmount": {
        "title": "Collection Amount",
        "required": [
          "amount",
          "currency"
        ],
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The numerical value of the amount to be collected.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is denominated (e.g., USD, EUR).",
            "example": "string"
          }
        },
        "description": "Schema representing the amount and currency for a collection."
      },
      "RequestContext": {
        "title": "Request Context",
        "required": [
          "channel",
          "correlationId",
          "idempotencyKey",
          "requestId",
          "requestedAt",
          "sourceApplication",
          "sourceSystem"
        ],
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate multiple related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure that repeated requests have no additional effect beyond the initial request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp of when the request was made, formatted as an ISO8601 string.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that initiated the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema containing contextual information regarding the request."
      },
      "Channel": {
        "title": "Channel",
        "required": [
          "channelId",
          "channelType",
          "deviceId"
        ],
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel used to submit the request.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., web, mobile, API).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device from which the request was made.",
            "example": "string"
          }
        },
        "description": "Schema representing the channel information for the request."
      },
      "CreateTradeBankingDirectDebitResponse_202": {
        "type": "object",
        "properties": {
          "mandateId": {
            "type": "string",
            "description": "Unique identifier for the direct debit mandate.",
            "example": "2026-09-15"
          },
          "debtorAccountId": {
            "type": "string",
            "description": "Identifier for the debtor's account from which funds will be debited.",
            "example": "ACC-502606"
          },
          "creditorSchemeId": {
            "type": "string",
            "description": "Identifier for the creditor's scheme associated with the mandate.",
            "example": "STANDARD"
          },
          "processingReference": {
            "type": "string",
            "description": "Reference for tracking the processing of the mandate.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the mandate processing, e.g., 'accepted', 'rejected'.",
            "example": "ACTIVE"
          },
          "acceptedAt": {
            "type": "string",
            "description": "Timestamp indicating when the mandate was accepted.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the mandate processing.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for Direct Debit operations, providing details about the processed mandate.",
        "example": {
          "mandateId": "2026-09-15",
          "debtorAccountId": "ACC-502606",
          "creditorSchemeId": "STANDARD",
          "processingReference": "STANDARD",
          "status": "ACTIVE",
          "acceptedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "a1d0fc83-2d34-55f8-87e0-5686aa188b45",
            "correlationId": "15929d2b-02f4-52e5-be58-cd12638282a4",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request-response correlation.",
            "example": "CORR67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the metadata was generated.",
            "example": "2023-10-01T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "EU"
          }
        },
        "description": "Metadata containing additional information related to the response."
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-063"
        },
        "example": "WF-063"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "5cdb461b-6a6c-4d8f-aa4f-ec8294accdf7"
        },
        "example": "5cdb461b-6a6c-4d8f-aa4f-ec8294accdf7"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "7c32bb22-5b80-4695-85eb-d287a076799b"
        },
        "example": "7c32bb22-5b80-4695-85eb-d287a076799b"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "direct-debit-process-direct-debit"
        },
        "example": "direct-debit-process-direct-debit"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      },
      "X-Workflow-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-063"
        },
        "example": "WF-063"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow that is currently being executed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Trade Finance Documentary Collection"
        },
        "example": "Trade Finance Documentary Collection"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow, indicating the execution phase.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the workflow execution instance.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "7c32bb22-5b80-4695-85eb-d287a076799b"
        },
        "example": "7c32bb22-5b80-4695-85eb-d287a076799b"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens, specifically JWT (JSON Web Tokens), that allows secure access to the API endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}