{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Personal Loan Applications Submission API",
    "description": "This API facilitates the submission of personal loan applications for customers. It enables financial institutions to securely collect and process application data associated with a specific customer. Typical consumers include loan officers, customer service representatives, and banking applications that require the creation of new loan applications on behalf of customers. By leveraging this API, organizations can enhance their loan processing workflows and improve customer experiences through streamlined application submissions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customers/{customerId}/personal-loan-applications": {
      "post": {
        "tags": [
          "Personal Loan Applications"
        ],
        "summary": "Create a Personal Loan Application for a Customer",
        "description": "This endpoint allows you to submit a new personal loan application for a specific customer identified by their unique identifier. The application will be processed according to the defined business rules.",
        "operationId": "createPersonalLoanApplicationForCustomerCUST100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "description": "The request body should contain the necessary details for submitting a personal loan application for customer CUST-100045. Ensure that all required fields are included to process the application successfully.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePersonalLoanApplicationForCustomerCUST100045Request"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The personal loan application was successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePersonalLoanApplicationForCustomerCUST100045Response_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreatePersonalLoanApplicationForCustomerCUST100045Request": {
        "title": "Personal Loan Application Request",
        "type": "object",
        "properties": {
          "productId": {
            "type": "string",
            "description": "The identifier for the loan product being applied for.",
            "example": "PROD-691487"
          },
          "externalReference": {
            "type": "string",
            "description": "An external reference for tracking the application.",
            "example": "STANDARD"
          },
          "channel": {
            "type": "string",
            "description": "The channel through which the application is submitted (e.g., online, in-branch).",
            "example": "STANDARD"
          },
          "purpose": {
            "type": "string",
            "description": "The purpose of the loan (e.g., home improvement, debt consolidation, etc.).",
            "example": "STANDARD"
          },
          "purposeDescription": {
            "type": "string",
            "description": "A detailed description of the purpose for which the loan is being requested.",
            "example": "STANDARD"
          },
          "requestedPrincipal": {
            "description": "The principal amount requested for the loan.",
            "$ref": "#/components/schemas/RequestedPrincipal"
          },
          "requestedTermMonths": {
            "type": "integer",
            "description": "The term of the loan requested in months.",
            "format": "int32",
            "example": 1
          },
          "preferredRepaymentDay": {
            "type": "integer",
            "description": "The preferred day of the month for loan repayment.",
            "format": "int32",
            "example": 1
          },
          "primaryCustomerId": {
            "type": "string",
            "description": "The identifier for the primary customer applying for the loan.",
            "example": "CUST-305207"
          },
          "branchCode": {
            "type": "string",
            "description": "The code of the branch where the application is processed.",
            "example": "CODE-165"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "The identifier for the relationship manager overseeing the application.",
            "example": "STANDARD"
          },
          "campaignCode": {
            "type": "string",
            "description": "The marketing campaign code associated with the application.",
            "example": "CODE-665"
          },
          "customerConsent": {
            "description": "The consent given by the customer regarding data processing and credit checks.",
            "$ref": "#/components/schemas/CustomerConsent"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema defines the structure of the request body for submitting a personal loan application.",
        "example": {
          "productId": "PROD-691487",
          "externalReference": "STANDARD",
          "channel": "STANDARD",
          "purpose": "STANDARD",
          "purposeDescription": "STANDARD",
          "requestedPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "requestedTermMonths": 1,
          "preferredRepaymentDay": 1,
          "primaryCustomerId": "CUST-305207",
          "branchCode": "CODE-165",
          "relationshipManagerId": "STANDARD",
          "campaignCode": "CODE-665",
          "customerConsent": {
            "creditBureauConsent": true,
            "dataProcessingConsent": true,
            "marketingConsent": true,
            "consentTimestamp": "2026-09-15T14:30:00Z",
            "consentReference": "STANDARD"
          },
          "requestContext": {
            "requestId": "58bc57ca-3c3f-5040-97fa-b84879da3664",
            "correlationId": "3a222ee1-265d-505c-9428-b43efc2d1f59",
            "idempotencyKey": "737a6ff2-6e83-5844-be5b-27c9025e7128",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-491808"
            }
          }
        }
      },
      "RequestedPrincipal": {
        "title": "RequestedPrincipal",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is requested.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The requested principal amount.",
            "example": "10000"
          }
        },
        "description": "Details of the principal amount requested for the loan application."
      },
      "CustomerConsent": {
        "title": "CustomerConsent",
        "type": "object",
        "properties": {
          "creditBureauConsent": {
            "type": "boolean",
            "description": "Consent to check the credit bureau.",
            "example": false
          },
          "dataProcessingConsent": {
            "type": "boolean",
            "description": "Consent to process customer data.",
            "example": false
          },
          "marketingConsent": {
            "type": "boolean",
            "description": "Consent to send marketing materials.",
            "example": false
          },
          "consentTimestamp": {
            "type": "string",
            "description": "Timestamp when the consent was given.",
            "example": "2023-01-01T00:00:00Z"
          },
          "consentReference": {
            "type": "string",
            "description": "Reference identifier for the consent.",
            "example": "string"
          }
        },
        "description": "Consent details provided by the customer regarding data usage."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "req123"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation ID used to track the request across systems.",
            "example": "corr123"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A unique key to ensure that requests are idempotent.",
            "example": "key123"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "Web"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "LoanPortal"
          },
          "channel": {
            "description": "Details about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Provides context information related to the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The identifier for the channel.",
            "example": "channel123"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., Web, Mobile, etc.).",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used to submit the application.",
            "example": "device123"
          }
        },
        "description": "Information about the channel used for the application."
      },
      "CreatePersonalLoanApplicationForCustomerCUST100045Response_201": {
        "title": "PersonalLoanApplicationResponse",
        "type": "object",
        "properties": {
          "productId": {
            "type": "string",
            "description": "The identifier of the loan product.",
            "example": "PROD-158112"
          },
          "externalReference": {
            "type": "string",
            "description": "External reference ID associated with the application.",
            "example": "STANDARD"
          },
          "channel": {
            "type": "string",
            "description": "The channel through which the application was submitted.",
            "example": "STANDARD"
          },
          "purpose": {
            "type": "string",
            "description": "The purpose for which the loan is requested.",
            "example": "STANDARD"
          },
          "purposeDescription": {
            "type": "string",
            "description": "A detailed description of the loan purpose.",
            "example": "STANDARD"
          },
          "requestedPrincipal": {
            "description": "The principal amount requested for the loan application.",
            "$ref": "#/components/schemas/RequestedPrincipal"
          },
          "requestedTermMonths": {
            "type": "integer",
            "description": "The requested loan term in months.",
            "format": "int32",
            "example": 1
          },
          "preferredRepaymentDay": {
            "type": "integer",
            "description": "The preferred day of the month for loan repayment.",
            "format": "int32",
            "example": 1
          },
          "primaryCustomerId": {
            "type": "string",
            "description": "The identifier of the primary customer applying for the loan.",
            "example": "CUST-321328"
          },
          "branchCode": {
            "type": "string",
            "description": "The branch code where the application was processed.",
            "example": "CODE-780"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "The identifier of the relationship manager handling the application.",
            "example": "STANDARD"
          },
          "campaignCode": {
            "type": "string",
            "description": "The code of the marketing campaign associated with the loan application.",
            "example": "CODE-475"
          },
          "customerConsent": {
            "description": "The consent details provided by the customer regarding the loan application.",
            "$ref": "#/components/schemas/CustomerConsent"
          },
          "id": {
            "type": "string",
            "description": "The unique identifier of the loan application.",
            "example": "607d89bd-3b47-35c0-9b5b-129bae4f9dda"
          },
          "applicationNumber": {
            "type": "string",
            "description": "The application number assigned to the loan request.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the loan application.",
            "example": "ACTIVE"
          },
          "submittedAt": {
            "type": "string",
            "description": "Timestamp when the application was submitted.",
            "example": "2026-09-15T14:30:00Z"
          },
          "decisionAt": {
            "type": "string",
            "description": "Timestamp when a decision was made on the application.",
            "example": "2026-08-11T12:00:00Z"
          },
          "bookedLoanId": {
            "type": "string",
            "description": "The identifier of the loan if booked.",
            "example": "LOAN-342019"
          },
          "completionPercent": {
            "type": "integer",
            "description": "The percentage of the application process that is completed.",
            "format": "int32",
            "example": 1
          },
          "outstandingRequirements": {
            "type": "array",
            "description": "List of outstanding requirements for the application.",
            "example": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "status": "ACTIVE",
                "dueDate": "2026-09-15"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/OutstandingRequirement"
            }
          },
          "audit": {
            "description": "Audit details related to the loan application.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Additional metadata related to the loan application.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for a personal loan application, containing details about the loan request and its current status.",
        "example": {
          "productId": "PROD-158112",
          "externalReference": "STANDARD",
          "channel": "STANDARD",
          "purpose": "STANDARD",
          "purposeDescription": "STANDARD",
          "requestedPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "requestedTermMonths": 1,
          "preferredRepaymentDay": 1,
          "primaryCustomerId": "CUST-321328",
          "branchCode": "CODE-780",
          "relationshipManagerId": "STANDARD",
          "campaignCode": "CODE-475",
          "customerConsent": {
            "creditBureauConsent": true,
            "dataProcessingConsent": true,
            "marketingConsent": true,
            "consentTimestamp": "2026-09-15T14:30:00Z",
            "consentReference": "STANDARD"
          },
          "id": "607d89bd-3b47-35c0-9b5b-129bae4f9dda",
          "applicationNumber": "STANDARD",
          "status": "ACTIVE",
          "submittedAt": "2026-09-15T14:30:00Z",
          "decisionAt": "2026-08-11T12:00:00Z",
          "bookedLoanId": "LOAN-342019",
          "completionPercent": 1,
          "outstandingRequirements": [
            {
              "code": "SUCCESS",
              "description": "Customer banking request processed successfully",
              "status": "ACTIVE",
              "dueDate": "2026-09-15"
            }
          ],
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "60a6d861-13c2-5db2-818b-e2e76e042092",
            "correlationId": "3a222ee1-265d-505c-9428-b43efc2d1f59",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "OutstandingRequirement": {
        "title": "OutstandingRequirement",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "The code associated with the outstanding requirement.",
            "example": "REQUIREMENT_CODE"
          },
          "description": {
            "type": "string",
            "description": "A description of the outstanding requirement.",
            "example": "Evidence of income"
          },
          "status": {
            "type": "string",
            "description": "The current status of the outstanding requirement.",
            "example": "Pending"
          },
          "dueDate": {
            "type": "string",
            "description": "The due date for the outstanding requirement.",
            "example": "2023-01-31T00:00:00Z"
          }
        },
        "description": "Details of an outstanding requirement for the loan application."
      },
      "Audit": {
        "title": "Audit",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the application was created.",
            "example": "2023-01-01T00:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the application.",
            "example": "user123"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the application was last updated.",
            "example": "2023-01-02T00:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the application.",
            "example": "user456"
          },
          "version": {
            "type": "integer",
            "description": "Version of the application record.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Audit information for tracking history of changes on the loan application."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response related to the application.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to trace the execution of the application process.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the application was processed.",
            "example": "string"
          }
        },
        "description": "Additional metadata related to the loan application."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-create-loan-application"
        },
        "example": "banking-loans-openapi-create-loan-application"
      },
      "X-Runtime-App": {
        "description": "Name or ID of the application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      },
      "X-Workflow-Id": {
        "description": "Unique identifier for the workflow associated with the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-031"
        },
        "example": "WF-031"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Personal Loan Application and Disbursement"
        },
        "example": "Personal Loan Application and Disbursement"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "a586d04e-6b71-4ccf-8aab-3a4adc6a993f"
        },
        "example": "a586d04e-6b71-4ccf-8aab-3a4adc6a993f"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token for authentication, utilizing JSON Web Tokens (JWT) to securely transmit information between parties. The token should be included in the Authorization header of the request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}