{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Outlet Details Retrieval API",
    "description": "The Outlet Details Retrieval API provides access to specific information about retail outlets through their unique identifiers. This endpoint allows users to obtain detailed data regarding outlet operations, locations, and services offered. It is particularly useful for retailers, analysts, and developers looking to integrate outlet information into their applications or insights. By leveraging this API, consumer applications can enhance user experiences with up-to-date outlet information, ensuring informed decision-making.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/outlets/{outletId}": {
      "get": {
        "tags": [
          "Outlet Management"
        ],
        "summary": "Retrieve outlet details by ID.",
        "description": "Fetches the detailed information of a specific outlet using its unique identifier (RES-100045). This endpoint returns comprehensive data about the outlet, enabling users to understand its attributes and status.",
        "operationId": "getOutletById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/outletId"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving outlet information for a specific outlet ID. It contains details required to process the GET request for outlet information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetOutletByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of outlet details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetOutletByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetOutletByIdRequest": {
        "type": "string",
        "description": "A string representing the request body for the operation.",
        "example": "{}"
      },
      "GetOutletByIdResponse_200": {
        "type": "object",
        "properties": {
          "outletId": {
            "type": "string",
            "description": "The unique identifier for the outlet.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "The unique identifier for the merchant associated with the outlet.",
            "example": "MER-988306"
          },
          "name": {
            "type": "string",
            "description": "The name of the outlet.",
            "example": "Northstar Banking Service"
          },
          "outletType": {
            "type": "string",
            "description": "The type of the outlet (e.g., restaurant, shop).",
            "example": "STANDARD"
          },
          "address": {
            "description": "The physical address of the outlet.",
            "$ref": "#/components/schemas/Address"
          },
          "contact": {
            "description": "The contact details for the outlet.",
            "$ref": "#/components/schemas/Contact"
          },
          "timezone": {
            "type": "string",
            "description": "The timezone in which the outlet operates.",
            "example": "America/New_York"
          },
          "currency": {
            "type": "string",
            "description": "The currency code used for transactions at the outlet.",
            "example": "USD"
          },
          "externalReference": {
            "type": "string",
            "description": "An external reference identifier, if applicable.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The operational status of the outlet (e.g., open, closed).",
            "example": "ACTIVE"
          },
          "audit": {
            "description": "Audit information related to the outlet's creation and updates.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Metadata associated with the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "A response schema that represents an outlet with various attributes, including identification, location, contact information, and operational details.",
        "example": {
          "outletId": "STANDARD",
          "merchantId": "MER-988306",
          "name": "Northstar Banking Service",
          "outletType": "STANDARD",
          "address": {
            "line1": "350 Fifth Avenue",
            "line2": "Suite 4200",
            "city": "New York",
            "stateOrProvince": "STANDARD",
            "postalCode": "10001",
            "country": "STANDARD"
          },
          "contact": {
            "email": "olivia.bennett@northstar.example",
            "phone": "+1-212-555-0147",
            "website": "https://example.com/resource"
          },
          "timezone": "America/New_York",
          "currency": "USD",
          "externalReference": "STANDARD",
          "status": "ACTIVE",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "da421545-a1f9-5307-90d1-5b9a68e20e10",
            "correlationId": "bc74c30b-3090-5e20-b896-cd533704ff85",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Address": {
        "type": "object",
        "properties": {
          "line1": {
            "type": "string",
            "description": "The first line of the address.",
            "example": "123 Main St"
          },
          "line2": {
            "type": "string",
            "description": "The second line of the address.",
            "example": "Suite 100"
          },
          "city": {
            "type": "string",
            "description": "The city where the outlet is located.",
            "example": "New York"
          },
          "stateOrProvince": {
            "type": "string",
            "description": "The state or province where the outlet is located.",
            "example": "NY"
          },
          "postalCode": {
            "type": "string",
            "description": "The postal code for the outlet's address.",
            "example": "10001"
          },
          "country": {
            "type": "string",
            "description": "The country where the outlet is located.",
            "example": "USA"
          }
        },
        "description": "Represents the physical address of the outlet."
      },
      "Contact": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "The email address for contacting the outlet.",
            "example": "info@mainstreetcafe.com"
          },
          "phone": {
            "type": "string",
            "description": "The phone number for contacting the outlet.",
            "example": "+1234567890"
          },
          "website": {
            "type": "string",
            "description": "The website URL of the outlet.",
            "example": "http://mainstreetcafe.com"
          }
        },
        "description": "Contains contact information for the outlet."
      },
      "Audit": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the outlet was created.",
            "example": "2021-01-01T12:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "The identifier of the user who created the outlet.",
            "example": "admin"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the outlet was last updated.",
            "example": "2021-06-01T12:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "The identifier of the user who last updated the outlet.",
            "example": "admin"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the outlet data.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Audit information regarding the outlet creation and updates."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "response123"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier used to correlate requests and responses.",
            "example": "correlation456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2021-06-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata about the response including tracking and time information."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "outletId": {
        "name": "outletId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-get-outlet"
        },
        "example": "banking-p2m-openapi-get-outlet"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication using a Bearer token format, specifically JWT (JSON Web Token). This scheme is used to securely transmit information between parties as a JSON object.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}