{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Banking Operational Services Issued Device Administration By Issued Device Administration Id-v5-spec",
    "description": "The Issued Device Administration Update API allows organizations to modify the details of specific issued devices within their banking operational services. By utilizing the unique identifier for each issued device, businesses can update device settings, configurations, or statuses efficiently. This API is particularly useful for financial institutions managing a fleet of devices for secure transactions. Typical consumers include system administrators and IT personnel responsible for device management and operational integrity.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/issued-device-administration/{issuedDeviceAdministrationId}": {
      "patch": {
        "tags": [
          "Issued Device Management"
        ],
        "summary": "Update issued device details.",
        "description": "This operation allows you to update the details of an issued device identified by RES-100045. Ensure you provide all required fields when making the update.",
        "operationId": "updateBankingOperationalServicesIssuedDeviceAdministrationByIssuedDeviceAdministrationId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/issuedDeviceAdministrationId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to modify the properties of the issued device administration specified by RES-100045. Ensure that the fields you want to update are included in the payload.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBankingOperationalServicesIssuedDeviceAdministrationByIssuedDeviceAdministrationIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed, and the device information has been updated.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateBankingOperationalServicesIssuedDeviceAdministrationByIssuedDeviceAdministrationIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateBankingOperationalServicesIssuedDeviceAdministrationByIssuedDeviceAdministrationIdRequest": {
        "title": "Device Administration Update Request",
        "type": "object",
        "properties": {
          "changes": {
            "$ref": "#/components/schemas/DeviceChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The time at which the changes become effective.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The user who requested the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for updating issued device administration.",
        "example": {
          "changes": {
            "deviceId": "DEV-979530",
            "deviceType": "STANDARD",
            "assignedPartyId": "PARTY-129350"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "8b9321b2-d775-5560-846a-02db1a068fad",
            "correlationId": "2751bb9b-ffd0-58f2-908e-129a26ba3cef",
            "idempotencyKey": "415f903d-a93b-5c54-98ce-886098bce507",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-554653"
            }
          }
        }
      },
      "DeviceChanges": {
        "title": "Device Changes",
        "type": "object",
        "properties": {
          "deviceId": {
            "type": "string",
            "description": "The unique identifier of the device.",
            "example": "device-12345"
          },
          "deviceType": {
            "type": "string",
            "description": "The type of device being issued.",
            "example": "laptop"
          },
          "assignedPartyId": {
            "type": "string",
            "description": "The ID of the party to whom the device is assigned.",
            "example": "party-67890"
          }
        },
        "description": "Schema representing the changes to the device being administered."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "request-112233"
          },
          "correlationId": {
            "type": "string",
            "description": "The ID used to correlate logs between systems.",
            "example": "correlation-445566"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "The key to ensure idempotency of the request.",
            "example": "idempotency-778899"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-01T11:59:59Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system of the request.",
            "example": "inventory-system"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "device-management-app"
          },
          "channel": {
            "$ref": "#/components/schemas/RequestChannel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "RequestChannel": {
        "title": "Request Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used to submit the request.",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "The ID of the device related to the channel.",
            "example": "device-12345"
          }
        },
        "description": "Schema representing the channel through which the request was made."
      },
      "UpdateBankingOperationalServicesIssuedDeviceAdministrationByIssuedDeviceAdministrationIdResponse_200": {
        "title": "Issued Device Administration Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation performed.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Schema representing the response for the PATCH operation on issued device administration.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "b6fb6bdf-3cf0-5365-b76c-09a78349204b",
            "correlationId": "2751bb9b-ffd0-58f2-908e-129a26ba3cef",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata information associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "issuedDeviceAdministrationId": {
        "name": "issuedDeviceAdministrationId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "issued-device-administration-update-issued-device-administration"
        },
        "example": "issued-device-administration-update-issued-device-administration"
      },
      "x-runtime-app": {
        "description": "The name of the application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JSON Web Tokens (JWT) as a bearer token. To authenticate, clients must include a valid JWT in the Authorization header formatted as 'Bearer <token>'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}