{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Credit Risk Model *s-spec",
    "description": "The Credit Risk Model Retrieval API provides access to detailed information about available credit risk models within the banking system. Users can retrieve specifications and key data associated with various models employed for assessing credit risk. This functionality is essential for financial analysts and developers looking to integrate risk assessment methodologies into their applications. Typical use cases include fetching model definitions for compliance, risk management software development, and data analysis.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/models/credit-risk-models/*": {
      "get": {
        "tags": [
          "Credit Risk"
        ],
        "summary": "Retrieve Credit Risk Models",
        "description": "This endpoint allows you to fetch credit risk models. It provides detailed insights into each model's parameters, performance metrics, and historical data, enabling informed decision-making.",
        "operationId": "listCreditRiskModel*s",
        "parameters": [
          {
            "$ref": "#/components/parameters/parentspanid"
          },
          {
            "$ref": "#/components/parameters/x-request-id"
          },
          {
            "$ref": "#/components/parameters/x-envoy-attempt-count"
          },
          {
            "$ref": "#/components/parameters/x-envoy-peer-metadata"
          },
          {
            "$ref": "#/components/parameters/x-gateway-correlationid"
          },
          {
            "$ref": "#/components/parameters/x-envoy-external-address"
          },
          {
            "$ref": "#/components/parameters/x-envoy-peer-metadata-id"
          },
          {
            "$ref": "#/components/parameters/x-envoy-decorator-operation"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to specify the details necessary for retrieving credit risk models. Please ensure that the JSON structure adheres to the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListCreditRiskModel*sRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the credit risk model.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCreditRiskModel*sResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListCreditRiskModel*sRequest": {
        "type": "string",
        "description": "This schema represents the body of the request for fetching credit risk models operations.",
        "example": "{}"
      },
      "ListCreditRiskModel*sResponse_200": {
        "type": "object",
        "properties": {
          "modelId": {
            "type": "string",
            "description": "Unique identifier for the credit risk model.",
            "example": "STANDARD"
          },
          "modelVersion": {
            "type": "string",
            "description": "Version of the credit risk model.",
            "example": "STANDARD"
          },
          "portfolioId": {
            "type": "string",
            "description": "Identifier for the portfolio associated with the model.",
            "example": "PORT-507492"
          },
          "asOfDate": {
            "type": "string",
            "description": "Date as of which the model's data is relevant.",
            "example": "2026-09-15"
          },
          "scenario": {
            "type": "string",
            "description": "Scenario under which the model has been evaluated.",
            "example": "STANDARD"
          },
          "confidenceLevel": {
            "type": "number",
            "description": "Confidence level associated with the model outputs.",
            "example": 100.0
          },
          "validationDatasetId": {
            "type": "string",
            "description": "Identifier for the validation dataset used for model evaluation.",
            "example": "STANDARD"
          },
          "backtestWindowMonths": {
            "type": "integer",
            "description": "Number of months used for backtesting the model.",
            "format": "int32",
            "example": 1
          },
          "approvalStatus": {
            "type": "string",
            "description": "Approval status of the credit risk model.",
            "example": "ACTIVE"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record (e.g., active, archived).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the response object.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "Correlation identifier for tracking requests.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the response was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the processing of the request took place.",
                "example": "string"
              }
            },
            "description": "Metadata information related to the response.",
            "example": {
              "responseId": "85fb2750-b572-5d49-8afe-593a91ad1761",
              "correlationId": "bda2e869-b386-5d0d-bd04-5e471ee5e698",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Represents the response structure for retrieving credit risk models.",
        "example": {
          "modelId": "STANDARD",
          "modelVersion": "STANDARD",
          "portfolioId": "PORT-507492",
          "asOfDate": "2026-09-15",
          "scenario": "STANDARD",
          "confidenceLevel": 100.0,
          "validationDatasetId": "STANDARD",
          "backtestWindowMonths": 1,
          "approvalStatus": "ACTIVE",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "85fb2750-b572-5d49-8afe-593a91ad1761",
            "correlationId": "bda2e869-b386-5d0d-bd04-5e471ee5e698",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "parentspanid": {
        "name": "parentspanid",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "dbc76eb986696597"
        },
        "example": "dbc76eb986696597"
      },
      "x-request-id": {
        "name": "x-request-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "9553ff38-afc8-9a44-9a88-1d7fb16c3e77"
        },
        "example": "9553ff38-afc8-9a44-9a88-1d7fb16c3e77"
      },
      "x-envoy-attempt-count": {
        "name": "x-envoy-attempt-count",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-envoy-peer-metadata": {
        "name": "x-envoy-peer-metadata",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ChoKCkNMVVNURVJfSUQSDBoKS3ViZXJuZXRlcwquAQoGTEFCRUxTEqMBKqABCh0KA2FwcBIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQo5Ch9zZXJ2aWNlLmlzdGlvLmlvL2Nhbm9uaWNhbC1uYW1lEhYaFGlzdGlvLWluZ3Jlc3NnYXRld2F5Ci8KI3NlcnZpY2UuaXN0aW8uaW8vY2Fub25pY2FsLXJldmlzaW9uEggaBjEtMzAtMAoTCgd2ZXJzaW9uEggaBjEuMzAuMAouCgROQU1FEiYaJGlzdGlvLWluZ3Jlc3NnYXRld2F5LTlkZDQ2YjU4Yi10Y3R6cwobCglOQU1FU1BBQ0USDhoMaXN0aW8tc3lzdGVtCl0KBU9XTkVSElQaUmt1YmVybmV0ZXM6Ly9hcGlzL2FwcHMvdjEvbmFtZXNwYWNlcy9pc3Rpby1zeXN0ZW0vZGVwbG95bWVudHMvaXN0aW8taW5ncmVzc2dhdGV3YXkKJwoNV09SS0xPQURfTkFNRRIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQ=="
        },
        "example": "ChoKCkNMVVNURVJfSUQSDBoKS3ViZXJuZXRlcwquAQoGTEFCRUxTEqMBKqABCh0KA2FwcBIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQo5Ch9zZXJ2aWNlLmlzdGlvLmlvL2Nhbm9uaWNhbC1uYW1lEhYaFGlzdGlvLWluZ3Jlc3NnYXRld2F5Ci8KI3NlcnZpY2UuaXN0aW8uaW8vY2Fub25pY2FsLXJldmlzaW9uEggaBjEtMzAtMAoTCgd2ZXJzaW9uEggaBjEuMzAuMAouCgROQU1FEiYaJGlzdGlvLWluZ3Jlc3NnYXRld2F5LTlkZDQ2YjU4Yi10Y3R6cwobCglOQU1FU1BBQ0USDhoMaXN0aW8tc3lzdGVtCl0KBU9XTkVSElQaUmt1YmVybmV0ZXM6Ly9hcGlzL2FwcHMvdjEvbmFtZXNwYWNlcy9pc3Rpby1zeXN0ZW0vZGVwbG95bWVudHMvaXN0aW8taW5ncmVzc2dhdGV3YXkKJwoNV09SS0xPQURfTkFNRRIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQ=="
      },
      "x-gateway-correlationid": {
        "name": "x-gateway-correlationid",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "220a15da-3ab6-40f4-b97b-e2e39e2eb549"
        },
        "example": "220a15da-3ab6-40f4-b97b-e2e39e2eb549"
      },
      "x-envoy-external-address": {
        "name": "x-envoy-external-address",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "18.156.191.52"
        },
        "example": "18.156.191.52"
      },
      "x-envoy-peer-metadata-id": {
        "name": "x-envoy-peer-metadata-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "router~10.10.185.143~istio-ingressgateway-9dd46b58b-tctzs.istio-system~istio-system.svc.cluster.local"
        },
        "example": "router~10.10.185.143~istio-ingressgateway-9dd46b58b-tctzs.istio-system~istio-system.svc.cluster.local"
      },
      "x-envoy-decorator-operation": {
        "name": "x-envoy-decorator-operation",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "kong-test1-kong-proxy.kong-test.svc.cluster.local:80/*"
        },
        "example": "kong-test1-kong-proxy.kong-test.svc.cluster.local:80/*"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "credit-risk-models-get-credit-risk-models"
        },
        "example": "credit-risk-models-get-credit-risk-models"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    }
  }
}