{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Banking It Management System Deployments-v5-spec",
    "description": "This API retrieves the current status of deployments within the Banking IT Management System. It allows consumers, such as system administrators and IT managers, to view deployment details, including active deployments and their configurations. The endpoint supports operational oversight, enabling users to ensure that the banking systems are up-to-date and running smoothly. Typical use cases include monitoring deployment health, compliance checks, and system audits, facilitating efficient IT operations in the banking sector.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/system-deployment": {
      "get": {
        "tags": [
          "IT Management"
        ],
        "summary": "Retrieve system deployment details.",
        "description": "This endpoint allows users to retrieve the details of the system deployment within the IT management framework. It provides essential information on the current deployment status, configurations, and potentially any associated resources.",
        "operationId": "listBankingItManagementSystemDeployments",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information about system deployments within the IT management framework. It includes filters and criteria to refine the results based on specific parameters.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListBankingItManagementSystemDeploymentsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the system deployment details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBankingItManagementSystemDeploymentsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListBankingItManagementSystemDeploymentsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to system deployment in IT management.",
        "example": "{}"
      },
      "ListBankingItManagementSystemDeploymentsResponse_200": {
        "title": "System Deployment Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of system deployment items.",
            "example": [
              {
                "systemId": "STANDARD",
                "environment": "STANDARD",
                "changeId": "STANDARD",
                "ownerTeam": "STANDARD",
                "plannedAt": "2026-08-11T12:00:00Z",
                "serviceTier": "STANDARD",
                "availabilityTargetPercent": 100.0,
                "maintenanceWindow": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/SystemDeploymentItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the system deployment request, containing a list of items, pagination information, sorting details, and metadata.",
        "example": {
          "items": [
            {
              "systemId": "STANDARD",
              "environment": "STANDARD",
              "changeId": "STANDARD",
              "ownerTeam": "STANDARD",
              "plannedAt": "2026-08-11T12:00:00Z",
              "serviceTier": "STANDARD",
              "availabilityTargetPercent": 100.0,
              "maintenanceWindow": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "d2cccdd7-3520-5e04-a567-894f1bf3504a",
            "correlationId": "cbddcb39-a87c-5f9d-9a45-768f4d4aef59",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "SystemDeploymentItem": {
        "title": "System Deployment Item",
        "type": "object",
        "properties": {
          "systemId": {
            "type": "string",
            "description": "Unique identifier for the system.",
            "example": "exampleSystemId"
          },
          "environment": {
            "type": "string",
            "description": "The environment where the system is deployed (e.g., production, staging).",
            "example": "production"
          },
          "changeId": {
            "type": "string",
            "description": "Identifier for the specific change associated with this deployment.",
            "example": "change123"
          },
          "ownerTeam": {
            "type": "string",
            "description": "Name of the team responsible for the system.",
            "example": "DevOps Team"
          },
          "plannedAt": {
            "type": "string",
            "description": "Date and time when the deployment is planned.",
            "example": "2023-10-01T00:00:00Z"
          },
          "serviceTier": {
            "type": "string",
            "description": "Service tier of the deployment (e.g., Basic, Premium).",
            "example": "Premium"
          },
          "availabilityTargetPercent": {
            "type": "number",
            "description": "Target availability percentage for the deployment.",
            "example": 99.99
          },
          "maintenanceWindow": {
            "type": "string",
            "description": "Scheduled maintenance window for the deployment.",
            "example": "2023-10-01T00:00:00Z/2023-10-01T02:00:00Z"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the deployment record (e.g., active, inactive).",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Date and time when the deployment item was last updated.",
            "example": "2023-10-01T00:00:00Z"
          }
        },
        "description": "Represents a single system deployment item including various attributes."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the paginated response.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 20
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Pagination information for the response, including current page, size, and total items."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response123"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking requests.",
            "example": "correlation456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Date and time when the response was generated.",
            "example": "2023-10-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response processing took place.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata information about the response, including identifiers and generation details."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "system-deployment-search-system-deployment"
        },
        "example": "system-deployment-search-system-deployment"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme provides a bearer authentication method using JSON Web Tokens (JWT). Users must include a valid JWT in the Authorization header to authenticate requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}