{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Product Eligibility Management API",
    "description": "The Product Eligibility Management API facilitates the qualification and eligibility assessment for various banking products. It allows financial institutions to evaluate customer profiles against defined product requirements, ensuring that the right customers are matched with suitable offerings. Common users include banking staff and application developers who need to integrate eligibility assessments into customer management workflows. This API supports a seamless experience by automating the decision-making process related to product eligibility.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customer-management/product-eligibilities": {
      "post": {
        "tags": [
          "Product Eligibility Management"
        ],
        "summary": "Create a new product eligibility record.",
        "description": "This endpoint allows the user to create a new product eligibility record in the customer management system. It is designed to streamline the eligibility process for various products, enabling efficient handling of customer requests.",
        "operationId": "createProductEligibility",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for creating or updating product eligibility information for customers. This operation allows you to specify multiple product eligibility criteria in a structured format.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProductEligibilityRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource successfully created. Returns the newly created product eligibility.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateProductEligibilityResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateProductEligibilityRequest": {
        "title": "Product Eligibility Request",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-478936"
          },
          "partyId": {
            "type": "string",
            "description": "Identifier for the party associated with the customer.",
            "example": "PARTY-972450"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product being requested.",
            "example": "CHK-PREMIUM-US"
          },
          "effectiveDate": {
            "type": "string",
            "description": "Date when the eligibility is effective.",
            "example": "2026-09-15"
          },
          "relationshipTier": {
            "type": "string",
            "description": "Tier of the relationship for eligibility context.",
            "example": "GOLD"
          },
          "requestContext": {
            "description": "Context information for the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for requesting product eligibility for a customer.",
        "example": {
          "customerId": "CUST-478936",
          "partyId": "PARTY-972450",
          "productCode": "CHK-PREMIUM-US",
          "effectiveDate": "2026-09-15",
          "relationshipTier": "GOLD",
          "requestContext": {
            "requestId": "b8bae3dd-8a86-5773-b188-66fab259b7fb",
            "correlationId": "76e26e16-1cae-5a84-8f1e-0d9956e4613d",
            "idempotencyKey": "9bdf8ac7-79d3-566d-bf22-372949d5f134",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-476822"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating multiple related requests.",
            "example": "CORR7890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key for idempotency to avoid duplicate processing.",
            "example": "IDEMPOTENT_KEY_001"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "CRM_SYSTEM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request was made.",
            "example": "CustomerPortal"
          },
          "channel": {
            "description": "Details about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information about the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "CHANNEL123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "DEVICE456"
          }
        },
        "description": "Details about the request channel."
      },
      "CreateProductEligibilityResponse_201": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-331970"
          },
          "partyId": {
            "type": "string",
            "description": "The unique identifier for the party associated with the eligibility.",
            "example": "PARTY-274422"
          },
          "productCode": {
            "type": "string",
            "description": "The code of the product for which eligibility is being assessed.",
            "example": "CHK-PREMIUM-US"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource associated with the eligibility.",
            "example": "RES-884097"
          },
          "status": {
            "type": "string",
            "description": "The status of the eligibility assessment.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the eligibility record was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/ProductEligibilityMetadata"
          }
        },
        "description": "Response schema for product eligibility operations.",
        "example": {
          "customerId": "CUST-331970",
          "partyId": "PARTY-274422",
          "productCode": "CHK-PREMIUM-US",
          "resourceId": "RES-884097",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "c222be4b-bc1f-54b0-8248-c03bd778eaed",
            "correlationId": "76e26e16-1cae-5a84-8f1e-0d9956e4613d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ProductEligibilityMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "RESP-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation ID for tracking the request.",
            "example": "CORR-789012"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2023-10-01T12:00:01Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata associated with the product eligibility response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that was called, used for tracking and analytics purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-product-and-service-eligibility-create-customer-product-and-service-eligibility"
        },
        "example": "customer-product-and-service-eligibility-create-customer-product-and-service-eligibility"
      },
      "X-Runtime-App": {
        "description": "Identifies the application that is currently handling the request, enabling easier debugging and support.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      },
      "X-Workflow-Id": {
        "description": "A unique identifier for the workflow process related to the request, useful for monitoring the flow of operations.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-001"
        },
        "example": "WF-001"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Digital Customer Onboarding and Current Account Opening"
        },
        "example": "Digital Customer Onboarding and Current Account Opening"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "dd12e8f5-7288-4b7e-a31d-8047a7a61756"
        },
        "example": "dd12e8f5-7288-4b7e-a31d-8047a7a61756"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which requires a valid JSON Web Token (JWT) to authenticate requests. Clients must include a JWT in the Authorization header when making requests to secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}