{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create P2m Authorization Extend-v5-spec",
    "description": "MICROSERVICE-PROD-Create P2m Authorization Extend-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/authorizations/{authorizationId}/extend": {
      "post": {
        "operationId": "createP2mAuthorizationExtend",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/authorizationId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateP2mAuthorizationExtendRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateP2mAuthorizationExtendResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateP2mAuthorizationExtendRequest": {
        "type": "object",
        "properties": {
          "newExpiresAt": {
            "type": "string",
            "example": "2026-08-11T12:00:00Z"
          },
          "reason": {
            "type": "string",
            "example": "STANDARD"
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "fd65faea-2be7-520b-a91d-e49e6be77ac8",
              "correlationId": "027e70d1-40a7-5dd8-82b8-fd310fbb2213",
              "idempotencyKey": "c1a7effe-949f-5466-a257-696a2556d572",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-616061"
              }
            }
          }
        },
        "example": {
          "newExpiresAt": "2026-08-11T12:00:00Z",
          "reason": "STANDARD",
          "requestContext": {
            "requestId": "fd65faea-2be7-520b-a91d-e49e6be77ac8",
            "correlationId": "027e70d1-40a7-5dd8-82b8-fd310fbb2213",
            "idempotencyKey": "c1a7effe-949f-5466-a257-696a2556d572",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-616061"
            }
          }
        }
      },
      "CreateP2mAuthorizationExtendResponse_200": {
        "type": "object",
        "properties": {
          "authorizationId": {
            "type": "string",
            "example": "STANDARD"
          },
          "paymentId": {
            "type": "string",
            "example": "PAY-799531"
          },
          "merchantId": {
            "type": "string",
            "example": "MER-809252"
          },
          "authorizedAmount": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "example": "string"
              },
              "value": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "capturedAmount": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "example": "string"
              },
              "value": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "amount": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "example": "string"
              },
              "value": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "status": {
            "type": "string",
            "example": "ACTIVE"
          },
          "approvalCode": {
            "type": "string",
            "example": "CODE-478"
          },
          "expiresAt": {
            "type": "string",
            "example": "2026-08-11T12:00:00Z"
          },
          "audit": {
            "type": "object",
            "properties": {
              "createdAt": {
                "type": "string",
                "example": "string"
              },
              "createdBy": {
                "type": "string",
                "example": "string"
              },
              "updatedAt": {
                "type": "string",
                "example": "string"
              },
              "updatedBy": {
                "type": "string",
                "example": "string"
              },
              "version": {
                "type": "integer",
                "format": "int32",
                "example": 0
              }
            },
            "example": {
              "createdAt": "2026-09-15T14:30:00Z",
              "createdBy": "STANDARD",
              "updatedAt": "2026-09-15T14:30:00Z",
              "updatedBy": "2026-09-15",
              "version": 1
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "c71b16dc-b4c9-5d8e-bcca-befba5d811be",
              "correlationId": "027e70d1-40a7-5dd8-82b8-fd310fbb2213",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "authorizationId": "STANDARD",
          "paymentId": "PAY-799531",
          "merchantId": "MER-809252",
          "authorizedAmount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "capturedAmount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "amount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "status": "ACTIVE",
          "approvalCode": "CODE-478",
          "expiresAt": "2026-08-11T12:00:00Z",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "c71b16dc-b4c9-5d8e-bcca-befba5d811be",
            "correlationId": "027e70d1-40a7-5dd8-82b8-fd310fbb2213",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "authorizationId": {
        "name": "authorizationId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-extend-authorization"
        },
        "example": "banking-p2m-openapi-extend-authorization"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}