{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Investment Portfolio Planning API",
    "description": "The Investment Portfolio Planning API provides financial institutions with the tools to manage and optimize their investment portfolios effectively. This API allows users to access comprehensive data on investment choices, portfolio performance, and strategic planning resources. Typical consumers include financial analysts and portfolio managers who aim to align their investment strategies with market trends and performance metrics. By leveraging this API, users can enhance their decision-making process and implement more data-driven investment approaches.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/investment-management/investment-portfolio-planning": {
      "get": {
        "tags": [
          "Investment Management"
        ],
        "summary": "Retrieve investment portfolio planning details.",
        "description": "This API endpoint allows users to retrieve comprehensive details about investment portfolio planning, including various investment options, risk assessments, and performance metrics tailored to individual financial goals.",
        "operationId": "getInvestmentPortfolioPlanning",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve investment portfolio planning details. It should contain the necessary parameters needed to filter or customize the portfolio data being requested.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetInvestmentPortfolioPlanningRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the investment portfolio planning data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetInvestmentPortfolioPlanningResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetInvestmentPortfolioPlanningRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation in the investment portfolio planning operations. It is expected to be a string type.",
        "example": "{}"
      },
      "GetInvestmentPortfolioPlanningResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of investment portfolio items.",
            "example": [
              {
                "portfolioId": "PORT-952882",
                "investmentAccountId": "ACC-972113",
                "investmentObjective": "STANDARD",
                "riskProfile": "STANDARD",
                "baseCurrency": "USD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/InvestmentPortfolioItem"
            }
          },
          "pagination": {
            "description": "Pagination information for the response items.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata information about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving investment portfolio planning data.",
        "example": {
          "items": [
            {
              "portfolioId": "PORT-952882",
              "investmentAccountId": "ACC-972113",
              "investmentObjective": "STANDARD",
              "riskProfile": "STANDARD",
              "baseCurrency": "USD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "9fef70a3-0495-51d7-8ed1-d651143cca46",
            "correlationId": "c7903708-45d8-53b7-a3e1-4e6ffcb2b984",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "InvestmentPortfolioItem": {
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "Unique identifier for the portfolio.",
            "example": "P12345"
          },
          "investmentAccountId": {
            "type": "string",
            "description": "Unique identifier for the investment account.",
            "example": "IA12345"
          },
          "investmentObjective": {
            "type": "string",
            "description": "The investment objective of the portfolio.",
            "example": "Growth"
          },
          "riskProfile": {
            "type": "string",
            "description": "The risk profile associated with the portfolio.",
            "example": "Aggressive"
          },
          "baseCurrency": {
            "type": "string",
            "description": "The base currency for the portfolio.",
            "example": "USD"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the portfolio record.",
            "example": "Active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update of the portfolio.",
            "example": "2023-10-18T00:00:00Z"
          }
        },
        "description": "Schema representing a single investment portfolio item."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items across all pages.",
            "format": "int32",
            "example": 50
          }
        },
        "description": "Schema representing pagination information."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "R123456789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request across systems.",
            "example": "C123456789"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-18T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "US-West"
          }
        },
        "description": "Schema representing metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that was invoked.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "investment-portfolio-planning-search-investment-portfolio-planning"
        },
        "example": "investment-portfolio-planning-search-investment-portfolio-planning"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method that uses JSON Web Tokens (JWT) for securing API endpoints. Clients must include a valid bearer token in the Authorization header when making requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}