{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Transaction Data Retrieval API",
    "description": "The Transaction Data Retrieval API provides access to transaction details within the open banking framework. Designed for financial institutions and developers, this API enables users to securely retrieve transaction data from various accounts. Typical use cases include displaying transaction history to users, reconciling accounts, and conducting financial analysis. This API ensures compliance with open banking regulations while offering a seamless experience for integrating transaction data into applications.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/aisp/transactions": {
      "get": {
        "tags": [
          "Transaction Management"
        ],
        "summary": "Retrieve Transactions",
        "description": "Fetch a list of transactions available for the given Account Information Service Provider (AISP). This endpoint allows clients to view detailed transactional data including amounts, dates, and descriptions associated with each transaction.",
        "operationId": "getAispTransactions",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body structure required to fetch transactions. This request contains the necessary parameters and identifiers to retrieve transaction data from the AISP service.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAispTransactionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the transaction data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAispTransactionsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetAispTransactionsRequest": {
        "type": "string",
        "description": "The request body for GET operations related to transactions in the AIS API.",
        "example": "{}"
      },
      "GetAispTransactionsResponse_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "Transaction": {
                "type": "array",
                "description": "List of transactions.",
                "items": {
                  "$ref": "#/components/schemas/Transaction"
                }
              }
            },
            "description": "Contains the transaction data.",
            "example": {
              "Transaction": [
                {
                  "AccountId": "ACC-129493",
                  "id": "STANDARD",
                  "reference": "STANDARD",
                  "StatementReference": [
                    "STANDARD"
                  ],
                  "CreditDebitIndicator": "STANDARD",
                  "Status": "ACTIVE",
                  "mutability": "STANDARD",
                  "BookingDateTime": "2026-09-15T14:30:00Z",
                  "ValueDateTime": "2026-09-15T14:30:00Z",
                  "information": "STANDARD",
                  "AddressLine": "STANDARD",
                  "Amount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  },
                  "ChargeAmount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  },
                  "CurrencyExchange": {
                    "SourceCurrency": "USD",
                    "TargetCurrency": "USD",
                    "UnitCurrency": "USD",
                    "ExchangeRate": 100.0,
                    "ContractIdentification": "STANDARD",
                    "QuotationDate": "2026-09-15",
                    "InstructedAmount": {
                      "Amount": "1250.75",
                      "Currency": "USD"
                    }
                  },
                  "BankTransactionCode": {
                    "Code": "SUCCESS",
                    "SubCode": "CODE-435"
                  },
                  "code": {
                    "Code": "SUCCESS",
                    "Issuer": "STANDARD"
                  },
                  "ExtendedProprietaryBankTransactionCodes": [
                    {
                      "Code": "SUCCESS",
                      "Issuer": "STANDARD",
                      "Description": "Customer banking request processed successfully"
                    }
                  ],
                  "Balance": {
                    "CreditDebitIndicator": "STANDARD",
                    "Type": "STANDARD",
                    "Amount": {
                      "Amount": "1250.75",
                      "Currency": "USD"
                    }
                  },
                  "MerchantDetails": {
                    "MerchantName": "Northstar Banking Service"
                  }
                }
              ]
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response."
              },
              "correlationId": {
                "type": "string",
                "description": "Correlation identifier for tracking request and response."
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the response was generated."
              },
              "processingRegion": {
                "type": "string",
                "description": "Region in which the processing occurred."
              }
            },
            "description": "Metadata about the response.",
            "example": {
              "responseId": "878dfdc9-9f08-5522-9b95-19f5f5b0207f",
              "correlationId": "2cb49327-94e2-59a6-bcaa-23fb2bd4a364",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for the transactions operation.",
        "example": {
          "Data": {
            "Transaction": [
              {
                "AccountId": "ACC-129493",
                "id": "STANDARD",
                "reference": "STANDARD",
                "StatementReference": [
                  "STANDARD"
                ],
                "CreditDebitIndicator": "STANDARD",
                "Status": "ACTIVE",
                "mutability": "STANDARD",
                "BookingDateTime": "2026-09-15T14:30:00Z",
                "ValueDateTime": "2026-09-15T14:30:00Z",
                "information": "STANDARD",
                "AddressLine": "STANDARD",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "ChargeAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "CurrencyExchange": {
                  "SourceCurrency": "USD",
                  "TargetCurrency": "USD",
                  "UnitCurrency": "USD",
                  "ExchangeRate": 100.0,
                  "ContractIdentification": "STANDARD",
                  "QuotationDate": "2026-09-15",
                  "InstructedAmount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  }
                },
                "BankTransactionCode": {
                  "Code": "SUCCESS",
                  "SubCode": "CODE-435"
                },
                "code": {
                  "Code": "SUCCESS",
                  "Issuer": "STANDARD"
                },
                "ExtendedProprietaryBankTransactionCodes": [
                  {
                    "Code": "SUCCESS",
                    "Issuer": "STANDARD",
                    "Description": "Customer banking request processed successfully"
                  }
                ],
                "Balance": {
                  "CreditDebitIndicator": "STANDARD",
                  "Type": "STANDARD",
                  "Amount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  }
                },
                "MerchantDetails": {
                  "MerchantName": "Northstar Banking Service"
                }
              }
            ]
          },
          "metadata": {
            "responseId": "878dfdc9-9f08-5522-9b95-19f5f5b0207f",
            "correlationId": "2cb49327-94e2-59a6-bcaa-23fb2bd4a364",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Transaction": {
        "type": "object",
        "properties": {
          "AccountId": {
            "type": "string",
            "description": "The unique identifier of the account associated with the transaction."
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the transaction."
          },
          "reference": {
            "type": "string",
            "description": "Reference number for the transaction."
          },
          "StatementReference": {
            "type": "array",
            "description": "Reference identifiers associated with the statement.",
            "items": {
              "type": "string"
            }
          },
          "CreditDebitIndicator": {
            "type": "string",
            "description": "Indicates whether the transaction is a credit or debit."
          },
          "Status": {
            "type": "string",
            "description": "Current status of the transaction."
          },
          "mutability": {
            "type": "string",
            "description": "Indicates the mutability status of the transaction."
          },
          "BookingDateTime": {
            "type": "string",
            "description": "The date and time when the transaction was booked."
          },
          "ValueDateTime": {
            "type": "string",
            "description": "The value date of the transaction."
          },
          "information": {
            "type": "string",
            "description": "Additional information about the transaction."
          },
          "AddressLine": {
            "type": "string",
            "description": "Address line associated with the transaction."
          },
          "Amount": {
            "description": "The amount of the transaction.",
            "$ref": "#/components/schemas/Amount"
          },
          "ChargeAmount": {
            "description": "Any charges associated with the transaction.",
            "$ref": "#/components/schemas/ChargeAmount"
          },
          "CurrencyExchange": {
            "description": "Information about currency exchange related to the transaction.",
            "$ref": "#/components/schemas/CurrencyExchange"
          },
          "BankTransactionCode": {
            "description": "The bank's transaction code associated with this transaction.",
            "$ref": "#/components/schemas/BankTransactionCode"
          },
          "code": {
            "description": "Proprietary transaction code for the transaction.",
            "$ref": "#/components/schemas/TransactionCode"
          },
          "ExtendedProprietaryBankTransactionCodes": {
            "type": "array",
            "description": "Array of extended proprietary bank transaction codes.",
            "items": {
              "$ref": "#/components/schemas/ExtendedBankTransactionCode"
            }
          },
          "Balance": {
            "description": "Balance information related to the transaction.",
            "$ref": "#/components/schemas/Balance"
          },
          "MerchantDetails": {
            "description": "Details about the merchant involved in the transaction.",
            "$ref": "#/components/schemas/MerchantDetails"
          }
        },
        "description": "Details of a single financial transaction."
      },
      "Amount": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The numerical amount."
          },
          "Currency": {
            "type": "string",
            "description": "The currency of the amount."
          }
        },
        "description": "Currency amount details."
      },
      "ChargeAmount": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The charge amount."
          },
          "Currency": {
            "type": "string",
            "description": "Currency of the charge amount."
          }
        },
        "description": "Details about charge amounts."
      },
      "CurrencyExchange": {
        "type": "object",
        "properties": {
          "SourceCurrency": {
            "type": "string",
            "description": "The currency from which the exchange is made."
          },
          "TargetCurrency": {
            "type": "string",
            "description": "The currency to which the exchange is made."
          },
          "UnitCurrency": {
            "type": "string",
            "description": "The unit currency for the exchange."
          },
          "ExchangeRate": {
            "type": "number",
            "description": "The rate of exchange for the currencies."
          },
          "ContractIdentification": {
            "type": "string",
            "description": "Identification for the exchange contract."
          },
          "QuotationDate": {
            "type": "string",
            "description": "The date the quotation was provided."
          },
          "InstructedAmount": {
            "description": "The instructed amount for the exchange.",
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "Details about currency exchange."
      },
      "BankTransactionCode": {
        "type": "object",
        "properties": {
          "Code": {
            "type": "string",
            "description": "The main code for the bank transaction."
          },
          "SubCode": {
            "type": "string",
            "description": "Sub-code providing additional details about the transaction."
          }
        },
        "description": "Code structure for bank transactions."
      },
      "TransactionCode": {
        "type": "object",
        "properties": {
          "Code": {
            "type": "string",
            "description": "The main proprietary code."
          },
          "Issuer": {
            "type": "string",
            "description": "Entity that issued the proprietary code."
          }
        },
        "description": "Proprietary code for transactions."
      },
      "ExtendedBankTransactionCode": {
        "type": "object",
        "properties": {
          "Code": {
            "type": "string",
            "description": "The extended transaction code."
          },
          "Issuer": {
            "type": "string",
            "description": "The issuer of the extended transaction code."
          },
          "Description": {
            "type": "string",
            "description": "Description of the extended transaction code."
          }
        },
        "description": "Extended codes for proprietary bank transactions."
      },
      "Balance": {
        "type": "object",
        "properties": {
          "CreditDebitIndicator": {
            "type": "string",
            "description": "Indicator whether the balance reflects credit or debit."
          },
          "Type": {
            "type": "string",
            "description": "Type of balance."
          },
          "Amount": {
            "description": "The amount of the balance.",
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "Balance information related to the account or transaction."
      },
      "MerchantDetails": {
        "type": "object",
        "properties": {
          "MerchantName": {
            "type": "string",
            "description": "The name of the merchant."
          }
        },
        "description": "Information about the merchant."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the API endpoint that processed the request, used for tracking and analytics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-api-get-transactions"
        },
        "example": "accounts-api-get-transactions"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request, allowing for identification of the source of the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication strategy that uses JSON Web Tokens (JWT) as bearer tokens for accessing secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}