{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Model Market Risk Models-spec",
    "description": "The Market Risk Models Listing API provides a comprehensive overview of market risk models utilized within the banking framework. This endpoint enables users to retrieve a list of existing models that help assess and manage market risk exposure. Financial analysts, risk managers, and compliance officers typically leverage this API to evaluate model effectiveness and regulatory compliance. By accessing this data, organizations can improve risk assessment strategies and make informed decisions to enhance financial stability.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/models/market-risk-models": {
      "get": {
        "tags": [
          "Market Risk Models"
        ],
        "summary": "Retrieve a list of market risk models.",
        "description": "This endpoint allows users to retrieve all available market risk models, providing necessary insights for analysis and decision-making in risk management.",
        "operationId": "listModelMarketRiskModels",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for fetching market risk models. This JSON object contains details that the server requires to process the request for market risk models.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListModelMarketRiskModelsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of market risk models.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListModelMarketRiskModelsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListModelMarketRiskModelsRequest": {
        "type": "string",
        "description": "This schema represents the request body expected for the Market Risk Models operations when using the GET method with application/json content type.",
        "example": "{}"
      },
      "ListModelMarketRiskModelsResponse_200": {
        "title": "Market Risk Models Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of market risk models.",
            "example": [
              {
                "modelId": "STANDARD",
                "modelVersion": "STANDARD",
                "portfolioId": "PORT-333575",
                "asOfDate": "2026-09-15",
                "scenario": "STANDARD",
                "confidenceLevel": 100.0,
                "validationDatasetId": "STANDARD",
                "backtestWindowMonths": 1,
                "approvalStatus": "ACTIVE",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/MarketRiskModel"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria used for the model list.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "A response object containing a list of market risk models along with pagination and metadata details.",
        "example": {
          "items": [
            {
              "modelId": "STANDARD",
              "modelVersion": "STANDARD",
              "portfolioId": "PORT-333575",
              "asOfDate": "2026-09-15",
              "scenario": "STANDARD",
              "confidenceLevel": 100.0,
              "validationDatasetId": "STANDARD",
              "backtestWindowMonths": 1,
              "approvalStatus": "ACTIVE",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "0313a94d-612f-5668-9b0e-5c4572477a77",
            "correlationId": "fd60d839-9198-5a90-a325-88ada8dafd4c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "MarketRiskModel": {
        "title": "Market Risk Model",
        "type": "object",
        "properties": {
          "modelId": {
            "type": "string",
            "description": "Unique identifier for the market risk model.",
            "example": "model_001"
          },
          "modelVersion": {
            "type": "string",
            "description": "Version of the market risk model.",
            "example": "1.0.0"
          },
          "portfolioId": {
            "type": "string",
            "description": "Identifier for the portfolio associated with the model.",
            "example": "portfolio_001"
          },
          "asOfDate": {
            "type": "string",
            "description": "The date as of which the model is applicable.",
            "example": "2023-10-01"
          },
          "scenario": {
            "type": "string",
            "description": "Scenario associated with the model.",
            "example": "base"
          },
          "confidenceLevel": {
            "type": "number",
            "description": "The confidence level associated with the model results.",
            "example": 95.0
          },
          "validationDatasetId": {
            "type": "string",
            "description": "Identifier for the validation dataset used for model validation.",
            "example": "validation_data_001"
          },
          "backtestWindowMonths": {
            "type": "integer",
            "description": "Number of months used in the backtest window.",
            "format": "int32",
            "example": 12
          },
          "approvalStatus": {
            "type": "string",
            "description": "Approval status of the market risk model.",
            "example": "approved"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record (e.g., active, inactive).",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the model was last updated.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "Details of a single market risk model."
      },
      "Pagination": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the paginated response.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Information about the pagination of the model response."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "abc-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request.",
            "example": "xyz-456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "us-west-2"
          }
        },
        "description": "Metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "market-risk-models-search-market-risk-models"
        },
        "example": "market-risk-models-search-market-risk-models"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method. Clients must provide a valid JSON Web Token (JWT) in the Authorization header when making requests, ensuring secure access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}