{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Operational Service Processing Order-spec",
    "description": "This API facilitates the creation of operational service processing orders within the banking sector. It enables businesses to efficiently manage and initiate service requests, ensuring that orders are processed seamlessly. Typical consumers of this API include banking operations teams and financial service providers looking to streamline their service workflows. By integrating this functionality, organizations can enhance their operational efficiency and improve service delivery to clients.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/processing-order": {
      "post": {
        "tags": [
          "Order Management"
        ],
        "summary": "Process an order within operational services.",
        "description": "This endpoint allows you to process a specific order through the operational services system. It handles all necessary validations and initiates the order processing workflow.",
        "operationId": "createOperationalServiceProcessingOrder",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate the processing of an operational order. The provided data must align with the required schema, including all necessary fields to ensure proper processing of the order.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOperationalServiceProcessingOrderRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully, reflecting the newly processed order.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOperationalServiceProcessingOrderResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateOperationalServiceProcessingOrderRequest": {
        "title": "Processing Order Request",
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "The unique identifier for the operation being processed.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "The identifier for the customer making the request.",
            "example": "CUST-205429"
          },
          "accountId": {
            "type": "string",
            "description": "The identifier for the account associated with the request.",
            "example": "ACC-135218"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2026-08-11T12:00:00Z"
          },
          "priority": {
            "type": "string",
            "description": "The priority level of the request.",
            "example": "NORMAL"
          },
          "requestContext": {
            "description": "Contextual information for the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for processing an order operation.",
        "example": {
          "operationId": "STANDARD",
          "customerId": "CUST-205429",
          "accountId": "ACC-135218",
          "requestedAt": "2026-08-11T12:00:00Z",
          "priority": "NORMAL",
          "requestContext": {
            "requestId": "218b42c0-f1be-5ab2-9ef3-113bfa20c61e",
            "correlationId": "3737628a-2e7b-5a51-b0b8-722b9523a8f0",
            "idempotencyKey": "7c075952-0906-5341-ac88-4082530371e9",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-550191"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "request-abc"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation ID for tracing the request across services.",
            "example": "correlation-xyz"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of the request.",
            "example": "idempotency-123"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request context was created.",
            "example": "2023-10-01T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that initiated the request.",
            "example": "external-system"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that is responsible for the request.",
            "example": "web-application"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the request context information."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the channel.",
            "example": "device-abc"
          }
        },
        "description": "Schema representing information about the communication channel."
      },
      "CreateOperationalServiceProcessingOrderResponse_201": {
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "Unique identifier for the operation.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "Identifier for the customer associated with the operation.",
            "example": "CUST-276707"
          },
          "accountId": {
            "type": "string",
            "description": "Identifier for the account related to the operation.",
            "example": "ACC-249035"
          },
          "resourceId": {
            "type": "string",
            "description": "Identifier for the resource being processed.",
            "example": "RES-850945"
          },
          "status": {
            "type": "string",
            "description": "Current status of the operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the operation.",
            "$ref": "#/components/schemas/OperationMetadata"
          }
        },
        "description": "Response schema for processing order operation.",
        "example": {
          "operationId": "STANDARD",
          "customerId": "CUST-276707",
          "accountId": "ACC-249035",
          "resourceId": "RES-850945",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "23d83a6f-0ad1-50d3-ac0c-6abc52bec03d",
            "correlationId": "3737628a-2e7b-5a51-b0b8-722b9523a8f0",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "OperationMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp98765"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests and responses.",
            "example": "corr54321"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:05:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the processing took place.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata information related to the operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "processing-order-create-processing-order"
        },
        "example": "processing-order-create-processing-order"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses bearer tokens for authentication. The token must be included in the authorization header of the HTTP request in the format 'Authorization: Bearer {token}'. The token is typically a JSON Web Token (JWT), which provides a compact and self-contained way for securely transmitting information between parties.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}