{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Merchant Suspend-spec",
    "description": "The Merchant Suspension Management API allows businesses to manage the suspension status of merchants. By utilizing this endpoint, authorized users can effectively suspend a merchant's operations based on specific criteria. This capability is essential for ensuring compliance with regulations or managing risk in partnership management. Typical consumers include financial institutions and merchant service providers who need to regulate merchant activities to protect their interests and uphold operational integrity.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://payments-app:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/merchants/{merchantId}/suspend": {
      "post": {
        "tags": [
          "Merchant Management"
        ],
        "summary": "Suspend a specific merchant.",
        "description": "This operation allows you to suspend an active merchant identified by the unique merchant ID. Suspending a merchant will prevent any further transactions while the account is under review.",
        "operationId": "createMerchantSuspend",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/merchantId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to suspend the specified merchant with ID MER-800045. It contains the necessary parameters required to process the suspension request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/_s_merchants_s_MER-800045_s_suspend_-_Operations_-POST_-_RequestBody_-_application_json"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The merchant has been successfully suspended.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateMerchantSuspendResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateMerchantSuspendRequest": {
        "title": "Suspend Merchant Operations Request",
        "type": "object",
        "properties": {
          "reasonCode": {
            "type": "string",
            "description": "The code representing the reason for suspending operations.",
            "example": "MER-101"
          },
          "reason": {
            "type": "string",
            "description": "A detailed explanation of the reason for the suspension.",
            "example": "Merchant requested temporary suspension."
          },
          "suspendPayments": {
            "type": "boolean",
            "description": "Flag to indicate if payments should be suspended.",
            "example": false
          },
          "holdSettlements": {
            "type": "boolean",
            "description": "Flag to indicate if settlements should be held.",
            "example": false
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema defines the request body for suspending merchant operations, including payment suspension and settlement holds."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests.",
            "example": "cor-123456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the idempotency of the request.",
            "example": "idemp-123456"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-11T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that originated the request.",
            "example": "Merchant Portal"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application used to make the request.",
            "example": "MerchantBackOffice"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/ChannelInfo"
          }
        },
        "description": "Contains contextual information associated with the request."
      },
      "ChannelInfo": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "channel-12345"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-54321"
          }
        },
        "description": "Details about the channel used in the request."
      },
      "CreateMerchantSuspendResponse_200": {
        "title": "Merchant Suspension Response",
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant.",
            "example": "MER-501526"
          },
          "business": {
            "description": "Details about the business associated with the merchant.",
            "$ref": "#/components/schemas/Business"
          },
          "registeredAddress": {
            "description": "Address details where the business is registered.",
            "$ref": "#/components/schemas/RegisteredAddress"
          },
          "contact": {
            "description": "Contact information for the merchant.",
            "$ref": "#/components/schemas/Contact"
          },
          "status": {
            "type": "string",
            "description": "Current status of the merchant.",
            "example": "ACTIVE"
          },
          "kybStatus": {
            "type": "string",
            "description": "Know Your Business (KYB) verification status.",
            "example": "ACTIVE"
          },
          "amlStatus": {
            "type": "string",
            "description": "Anti-Money Laundering (AML) status.",
            "example": "ACTIVE"
          },
          "capabilities": {
            "description": "Capabilities associated with the merchant.",
            "$ref": "#/components/schemas/Capabilities"
          },
          "commercialTerms": {
            "description": "Commercial agreement terms of the merchant.",
            "$ref": "#/components/schemas/CommercialTerms"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the suspension operation of a merchant.",
        "example": {
          "merchantId": "MER-501526",
          "business": {
            "legalName": "Olivia Bennett",
            "tradingName": "Northstar Banking Service",
            "registrationNumber": "NY-4587219",
            "taxIdentificationNumber": "STANDARD",
            "incorporationCountry": "STANDARD",
            "incorporationDate": "2026-09-15",
            "merchantType": "STANDARD",
            "merchantCategoryCode": "5411"
          },
          "registeredAddress": {
            "line1": "350 Fifth Avenue",
            "line2": "Suite 4200",
            "city": "New York",
            "stateOrProvince": "STANDARD",
            "postalCode": "10001",
            "country": "STANDARD"
          },
          "contact": {
            "email": "olivia.bennett@northstar.example",
            "phone": "+1-212-555-0147",
            "website": "https://example.com/resource"
          },
          "status": "ACTIVE",
          "kybStatus": "ACTIVE",
          "amlStatus": "ACTIVE",
          "capabilities": {
            "channels": [
              "STANDARD"
            ],
            "paymentMethods": [
              "STANDARD"
            ],
            "supportsPartialCapture": true,
            "supportsPartialRefund": true,
            "supportsTips": true,
            "supportsSplitPayments": true,
            "supportsRecurringPayments": true,
            "maximumTipPercentage": "STANDARD"
          },
          "commercialTerms": {
            "pricingPlanId": "STANDARD",
            "feeBearer": "STANDARD",
            "paymentFee": {
              "type": "STANDARD",
              "percentage": "STANDARD",
              "fixedAmount": {
                "currency": "USD",
                "value": "STANDARD"
              }
            }
          },
          "metadata": {
            "responseId": "5d9b2a97-23a8-5ea2-bdef-3b8024fe9025",
            "correlationId": "0fdcfe98-6b6c-525e-9d7d-ce0b4d5e1860",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Business": {
        "title": "Business Details",
        "type": "object",
        "properties": {
          "legalName": {
            "type": "string",
            "description": "The legal name of the business.",
            "example": "string"
          },
          "tradingName": {
            "type": "string",
            "description": "The trading name of the business.",
            "example": "string"
          },
          "registrationNumber": {
            "type": "string",
            "description": "Business registration number.",
            "example": "string"
          },
          "taxIdentificationNumber": {
            "type": "string",
            "description": "Tax identification number of the business.",
            "example": "string"
          },
          "incorporationCountry": {
            "type": "string",
            "description": "Country of incorporation for the business.",
            "example": "string"
          },
          "incorporationDate": {
            "type": "string",
            "description": "Date of incorporation for the business.",
            "example": "string"
          },
          "merchantType": {
            "type": "string",
            "description": "Type of merchant.",
            "example": "string"
          },
          "merchantCategoryCode": {
            "type": "string",
            "description": "Merchant category code.",
            "example": "string"
          }
        },
        "description": "Schema representing the details of the business associated with the merchant."
      },
      "RegisteredAddress": {
        "title": "Registered Address",
        "type": "object",
        "properties": {
          "line1": {
            "type": "string",
            "description": "First line of the address.",
            "example": "string"
          },
          "line2": {
            "type": "string",
            "description": "Second line of the address (optional).",
            "example": "string"
          },
          "city": {
            "type": "string",
            "description": "City of the registered address.",
            "example": "string"
          },
          "stateOrProvince": {
            "type": "string",
            "description": "State or province of the registered address.",
            "example": "string"
          },
          "postalCode": {
            "type": "string",
            "description": "Postal code of the registered address.",
            "example": "string"
          },
          "country": {
            "type": "string",
            "description": "Country of the registered address.",
            "example": "string"
          }
        },
        "description": "Schema representing the registered address of the business."
      },
      "Contact": {
        "title": "Contact Information",
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "Email address of the merchant.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the merchant.",
            "example": "string"
          },
          "website": {
            "type": "string",
            "description": "Website URL of the merchant.",
            "example": "string"
          }
        },
        "description": "Schema representing the contact information for the merchant."
      },
      "Capabilities": {
        "title": "Merchant Capabilities",
        "type": "object",
        "properties": {
          "channels": {
            "type": "array",
            "description": "List of channels supported by the merchant.",
            "items": {
              "type": "string",
              "example": "string"
            }
          },
          "paymentMethods": {
            "type": "array",
            "description": "List of payment methods supported by the merchant.",
            "items": {
              "type": "string",
              "example": "string"
            }
          },
          "supportsPartialCapture": {
            "type": "boolean",
            "description": "Indicates if partial capture is supported.",
            "example": false
          },
          "supportsPartialRefund": {
            "type": "boolean",
            "description": "Indicates if partial refund is supported.",
            "example": false
          },
          "supportsTips": {
            "type": "boolean",
            "description": "Indicates if tips are supported.",
            "example": false
          },
          "supportsSplitPayments": {
            "type": "boolean",
            "description": "Indicates if split payments are supported.",
            "example": false
          },
          "supportsRecurringPayments": {
            "type": "boolean",
            "description": "Indicates if recurring payments are supported.",
            "example": false
          },
          "maximumTipPercentage": {
            "type": "string",
            "description": "The maximum percentage of tips that can be accepted.",
            "example": "string"
          }
        },
        "description": "Schema representing the various capabilities offered by the merchant."
      },
      "CommercialTerms": {
        "title": "Commercial Terms",
        "type": "object",
        "properties": {
          "pricingPlanId": {
            "type": "string",
            "description": "Identifier for the pricing plan.",
            "example": "string"
          },
          "feeBearer": {
            "type": "string",
            "description": "Entity that bears the fee.",
            "example": "string"
          },
          "paymentFee": {
            "description": "Details regarding the payment fees.",
            "$ref": "#/components/schemas/PaymentFee"
          }
        },
        "description": "Schema representing the commercial terms for the merchant."
      },
      "PaymentFee": {
        "title": "Payment Fee",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of payment fee (e.g., fixed, percentage).",
            "example": "string"
          },
          "percentage": {
            "type": "string",
            "description": "Percentage fee value.",
            "example": "string"
          },
          "fixedAmount": {
            "description": "Fixed amount fee details.",
            "$ref": "#/components/schemas/FixedAmount"
          }
        },
        "description": "Schema representing the fee associated with payments."
      },
      "FixedAmount": {
        "title": "Fixed Amount Fee",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency of the fixed amount.",
            "example": "string"
          },
          "value": {
            "type": "string",
            "description": "Fixed fee value.",
            "example": "string"
          }
        },
        "description": "Schema representing a fixed amount for payment fees."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier of the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Schema representing additional metadata related to the merchant response."
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-025"
        },
        "example": "WF-025"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "bfc1d06d-cbf2-4485-b1f1-f3115c5d5e30"
        },
        "example": "bfc1d06d-cbf2-4485-b1f1-f3115c5d5e30"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ad03cbb3-e5d8-48dc-9707-e19e9dc3a452"
        },
        "example": "ad03cbb3-e5d8-48dc-9707-e19e9dc3a452"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "merchantId": {
        "name": "merchantId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-suspend-merchant"
        },
        "example": "banking-p2m-openapi-suspend-merchant"
      },
      "X-Runtime-App": {
        "description": "Indicates the application in which the request was executed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      },
      "X-Workflow-Id": {
        "description": "Identifier for the specific workflow instance that was triggered by this request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-025"
        },
        "example": "WF-025"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Card Purchase Authorization and Clearing"
        },
        "example": "Card Purchase Authorization and Clearing"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ad03cbb3-e5d8-48dc-9707-e19e9dc3a452"
        },
        "example": "ad03cbb3-e5d8-48dc-9707-e19e9dc3a452"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses HTTP Bearer authentication, allowing clients to access secured endpoints by passing a JSON Web Token (JWT) in the Authorization header. The JWT is typically issued to the client after a successful authentication process.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}