{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Investment Account Management API",
    "description": "The Investment Account Management API enables users to access and manage their investment accounts efficiently. This API allows financial institutions and investment managers to retrieve detailed information about accounts, including balances, transaction history, and account performance metrics. Typical users include financial advisors, wealth management platforms, and accounting software providers looking to integrate investment account insights into their systems. By leveraging this API, organizations can enhance their client services and streamline investment management processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/investment-management/investment-account": {
      "get": {
        "tags": [
          "Investment Management"
        ],
        "summary": "Retrieve Investment Account Details",
        "description": "This endpoint allows users to fetch detailed information about a specific investment account, including current holdings, transactions, and account performance metrics. Use this to monitor and manage investment assets effectively.",
        "operationId": "getInvestmentAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving the details of an investment account. Ensure that the required parameters are correctly specified in the request to get the desired account information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetInvestmentAccountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the investment account details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetInvestmentAccountResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetInvestmentAccountRequest": {
        "type": "string",
        "description": "Represents the request body for the GET operation on investment account operations in the investment management system.",
        "example": "{}"
      },
      "GetInvestmentAccountResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of investment account details.",
            "example": [
              {
                "portfolioId": "PORT-887785",
                "investmentAccountId": "ACC-360586",
                "investmentObjective": "STANDARD",
                "riskProfile": "STANDARD",
                "baseCurrency": "USD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/InvestmentAccount"
            }
          },
          "pagination": {
            "description": "An object containing pagination details for the result set.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting criteria applied to the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata related to the API response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for the GET operation on investment accounts.",
        "example": {
          "items": [
            {
              "portfolioId": "PORT-887785",
              "investmentAccountId": "ACC-360586",
              "investmentObjective": "STANDARD",
              "riskProfile": "STANDARD",
              "baseCurrency": "USD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "02f253ec-6c6a-5be6-bb78-fed5828d6d61",
            "correlationId": "87fd2a9e-57a7-5c47-889c-b62940e0a8fc",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "InvestmentAccount": {
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "The unique identifier for the portfolio associated with the investment account."
          },
          "investmentAccountId": {
            "type": "string",
            "description": "The unique identifier for the investment account."
          },
          "investmentObjective": {
            "type": "string",
            "description": "The investment objective assigned to the account."
          },
          "riskProfile": {
            "type": "string",
            "description": "The risk profile of the investment account."
          },
          "baseCurrency": {
            "type": "string",
            "description": "The base currency used for the investment account."
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the investment account record."
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the investment account was last updated."
          }
        },
        "description": "Schema representing the details of a single investment account."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number in the paginated results.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available across all pages.",
            "format": "int32"
          }
        },
        "description": "Schema representing pagination details for API responses."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used for tracking the request-response correlation."
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp of when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request occurred."
          }
        },
        "description": "Schema representing metadata related to the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "investment-account-search-investment-account"
        },
        "example": "investment-account-search-investment-account"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme allows the use of Bearer tokens for authentication. Clients need to provide a valid JSON Web Token (JWT) in the Authorization header for secure access to the API resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}