{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List P2m Refunds-spec",
    "description": "The P2m Refunds Retrieval API provides access to a list of refunds associated with P2m transactions. This API allows users to fetch detailed information about previously processed refunds, facilitating better financial tracking and reconciliation. Typical consumers include financial analysts, transaction monitoring systems, and customer support teams. By leveraging this API, businesses can efficiently manage refund inquiries and maintain accurate records for P2m transactions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/refunds": {
      "get": {
        "tags": [
          "Refund Management"
        ],
        "summary": "Retrieve a list of refunds.",
        "description": "This endpoint allows you to retrieve a comprehensive list of all available refunds. You can use this to check the status, details, and amount of refunds processed during a specified timeframe.",
        "operationId": "listP2mRefunds",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving refund information. This should contain any required parameters for filtering or specifying the details of the refund inquiry.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListP2mRefundsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of refunds.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListP2mRefundsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListP2mRefundsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation concerning refunds.",
        "example": "{}"
      },
      "ListP2mRefundsResponse_200": {
        "title": "Refund Operations Response",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number of the results.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 1
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available across all pages.",
            "format": "int32",
            "example": 1
          },
          "totalPages": {
            "type": "integer",
            "description": "The total number of pages available.",
            "format": "int32",
            "example": 1
          },
          "hasNext": {
            "type": "boolean",
            "description": "Indicates whether there is a next page of results.",
            "example": true
          },
          "links": {
            "type": "array",
            "description": "An array of pagination and navigation links.",
            "example": [
              {
                "rel": "STANDARD",
                "href": "https://example.com/resource",
                "method": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          },
          "items": {
            "type": "array",
            "description": "An array of refund items.",
            "example": [
              {
                "refundId": "STANDARD",
                "paymentId": "PAY-827728",
                "merchantId": "MER-416183",
                "amount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "reasonCode": "CODE-330",
                "reason": "STANDARD",
                "merchantRefundReference": "STANDARD",
                "status": "ACTIVE",
                "failure": {
                  "category": "STANDARD",
                  "code": "SUCCESS",
                  "message": "STANDARD",
                  "declineCode": "CODE-765",
                  "retryable": true
                },
                "processorReference": {
                  "network": "STANDARD",
                  "schemeTransactionId": "TXN-453774",
                  "acquirerReferenceNumber": "STANDARD",
                  "issuerReference": "STANDARD",
                  "retrievalReferenceNumber": "STANDARD",
                  "approvalCode": "CODE-614"
                },
                "audit": {
                  "createdAt": "2026-09-15T14:30:00Z",
                  "createdBy": "STANDARD",
                  "updatedAt": "2026-09-15T14:30:00Z",
                  "updatedBy": "2026-09-15",
                  "version": 1
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/RefundItem"
            }
          },
          "metadata": {
            "type": "object",
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Schema representing the response structure for retrieving refund operations.",
        "example": {
          "page": 1,
          "pageSize": 1,
          "totalItems": 1,
          "totalPages": 1,
          "hasNext": true,
          "links": [
            {
              "rel": "STANDARD",
              "href": "https://example.com/resource",
              "method": "STANDARD"
            }
          ],
          "items": [
            {
              "refundId": "STANDARD",
              "paymentId": "PAY-827728",
              "merchantId": "MER-416183",
              "amount": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "reasonCode": "CODE-330",
              "reason": "STANDARD",
              "merchantRefundReference": "STANDARD",
              "status": "ACTIVE",
              "failure": {
                "category": "STANDARD",
                "code": "SUCCESS",
                "message": "STANDARD",
                "declineCode": "CODE-765",
                "retryable": true
              },
              "processorReference": {
                "network": "STANDARD",
                "schemeTransactionId": "TXN-453774",
                "acquirerReferenceNumber": "STANDARD",
                "issuerReference": "STANDARD",
                "retrievalReferenceNumber": "STANDARD",
                "approvalCode": "CODE-614"
              },
              "audit": {
                "createdAt": "2026-09-15T14:30:00Z",
                "createdBy": "STANDARD",
                "updatedAt": "2026-09-15T14:30:00Z",
                "updatedBy": "2026-09-15",
                "version": 1
              }
            }
          ],
          "metadata": {
            "responseId": "2571729e-2ba8-53f8-b2c6-aca13c103194",
            "correlationId": "6cbf6577-3db5-508d-a99c-4ae5f8503543",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Link": {
        "title": "Link Object",
        "type": "object",
        "properties": {
          "rel": {
            "type": "string",
            "description": "The relation type of the link.",
            "example": "string"
          },
          "href": {
            "type": "string",
            "description": "The URL of the link.",
            "example": "string"
          },
          "method": {
            "type": "string",
            "description": "The HTTP method to use for the link.",
            "example": "string"
          }
        },
        "description": "Schema defining a link for pagination or navigation."
      },
      "RefundItem": {
        "title": "Refund Item",
        "type": "object",
        "properties": {
          "refundId": {
            "type": "string",
            "description": "The unique identifier for the refund.",
            "example": "string"
          },
          "paymentId": {
            "type": "string",
            "description": "The identifier for the payment associated with the refund.",
            "example": "string"
          },
          "merchantId": {
            "type": "string",
            "description": "The unique identifier for the merchant.",
            "example": "string"
          },
          "amount": {
            "description": "The amount of the refund including currency.",
            "$ref": "#/components/schemas/Amount"
          },
          "reasonCode": {
            "type": "string",
            "description": "The code representing the reason for the refund.",
            "example": "string"
          },
          "reason": {
            "type": "string",
            "description": "A description of the reason for the refund.",
            "example": "string"
          },
          "merchantRefundReference": {
            "type": "string",
            "description": "A reference provided by the merchant for tracking the refund.",
            "example": "string"
          },
          "status": {
            "type": "string",
            "description": "The current status of the refund.",
            "example": "string"
          },
          "failure": {
            "description": "Details regarding the failure of the refund, if applicable.",
            "$ref": "#/components/schemas/FailureDetails"
          },
          "processorReference": {
            "description": "Reference information from the processor.",
            "$ref": "#/components/schemas/ProcessorReference"
          },
          "audit": {
            "description": "Audit information regarding the refund record.",
            "$ref": "#/components/schemas/AuditInfo"
          }
        },
        "description": "Schema representing a single refund record."
      },
      "Amount": {
        "title": "Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is specified.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "The numeric value of the amount.",
            "example": "100.00"
          }
        },
        "description": "Schema representing the monetary value and currency."
      },
      "FailureDetails": {
        "title": "Failure Details",
        "type": "object",
        "properties": {
          "category": {
            "type": "string",
            "description": "Category of the failure.",
            "example": "Technical"
          },
          "code": {
            "type": "string",
            "description": "Specific error code associated with the failure.",
            "example": "E123"
          },
          "message": {
            "type": "string",
            "description": "Descriptive message regarding the failure.",
            "example": "Insufficient funds"
          },
          "declineCode": {
            "type": "string",
            "description": "Code indicating the reason for decline.",
            "example": "D456"
          },
          "retryable": {
            "type": "boolean",
            "description": "Indicates whether the failure can be retried.",
            "example": false
          }
        },
        "description": "Schema providing details of a refund failure."
      },
      "ProcessorReference": {
        "title": "Processor Reference",
        "type": "object",
        "properties": {
          "network": {
            "type": "string",
            "description": "The payment network used for the transaction.",
            "example": "Visa"
          },
          "schemeTransactionId": {
            "type": "string",
            "description": "Transaction ID from the payment scheme.",
            "example": "TX123456"
          },
          "acquirerReferenceNumber": {
            "type": "string",
            "description": "Reference number assigned by the acquirer.",
            "example": "ARN987654"
          },
          "issuerReference": {
            "type": "string",
            "description": "Reference number assigned by the issuer.",
            "example": "IRN654321"
          },
          "retrievalReferenceNumber": {
            "type": "string",
            "description": "Retrieval reference number provided by the processor.",
            "example": "RRN123456"
          },
          "approvalCode": {
            "type": "string",
            "description": "Approval code provided for the transaction.",
            "example": "APPROVED"
          }
        },
        "description": "Schema providing reference information from the payment processor."
      },
      "AuditInfo": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the record was created.",
            "example": "2023-01-01T00:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the record.",
            "example": "user123"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the record was last updated.",
            "example": "2023-01-01T01:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the record.",
            "example": "user456"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the record.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Schema representing audit trail information for the refund record."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the response.",
            "example": "corr-12345"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "us-east-1"
          }
        },
        "description": "Schema containing metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-list-refunds"
        },
        "example": "banking-p2m-openapi-list-refunds"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication, which requires a valid JSON Web Token (JWT) to be present in the Authorization header of requests. The token must be issued by a trusted authorization server and provide the necessary permissions for the resources being accessed.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}