{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Replace * Status Transition-spec",
    "description": "The Loan Status Transition Management API allows users to efficiently manage the status of loans by facilitating transitions between different statuses. This endpoint is primarily designed for financial institutions seeking to update loan statuses during various stages of the loan lifecycle. Typical consumers of this API include loan management systems and customer service applications that handle loan processing workflows. By enabling seamless status updates, this API enhances operational efficiency and improves customer experience.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loans/*/status-transitions": {
      "put": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Update the status of a loan.",
        "description": "This endpoint allows the user to change the status of a specific loan by providing the necessary status transition details. The status must be valid according to the current state of the loan.",
        "operationId": "replace*StatusTransition",
        "parameters": [
          {
            "$ref": "#/components/parameters/parentspanid"
          },
          {
            "$ref": "#/components/parameters/x-request-id"
          },
          {
            "$ref": "#/components/parameters/x-envoy-attempt-count"
          },
          {
            "$ref": "#/components/parameters/x-envoy-peer-metadata"
          },
          {
            "$ref": "#/components/parameters/x-gateway-correlationid"
          },
          {
            "$ref": "#/components/parameters/x-envoy-external-address"
          },
          {
            "$ref": "#/components/parameters/x-envoy-peer-metadata-id"
          },
          {
            "$ref": "#/components/parameters/x-envoy-decorator-operation"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Update the status of a specific loan by applying the desired status transition. The request body must include the necessary information to perform the transition, based on the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Replace*StatusTransitionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request processed successfully and status transitioned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Replace*StatusTransitionResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "Replace*StatusTransitionRequest": {
        "type": "object",
        "properties": {
          "targetStatus": {
            "type": "string",
            "description": "The target status to which the loan is being transitioned.",
            "example": "ACTIVE"
          },
          "reasonCode": {
            "type": "string",
            "description": "Code that indicates the reason for the status change.",
            "example": "CODE-810"
          },
          "reasonDescription": {
            "type": "string",
            "description": "Detailed description of the reason for the status change.",
            "example": "STANDARD"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date when the status change will take effect.",
            "example": "2026-09-03"
          },
          "accountingReference": {
            "type": "string",
            "description": "Reference to the accounting records associated with the loan.",
            "example": "STANDARD"
          },
          "approvalReference": {
            "type": "string",
            "description": "Reference to the approval process associated with the loan status change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for transitioning loan status operations.",
        "example": {
          "targetStatus": "ACTIVE",
          "reasonCode": "CODE-810",
          "reasonDescription": "STANDARD",
          "effectiveDate": "2026-09-03",
          "accountingReference": "STANDARD",
          "approvalReference": "STANDARD",
          "requestContext": {
            "requestId": "ea003007-8fba-4a35-b537-0b1c77969098",
            "correlationId": "8966d330-b015-4cd9-9a9d-5566b7d6d29c",
            "idempotencyKey": "9df6b1f4-6c7f-4c5d-b58a-75dc92eb813e",
            "requestedAt": "2026-08-27T23:00:52.731Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-804371"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "RQ123456"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used to correlate logs from different systems.",
            "example": "CORRELATION123"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that requests are idempotent.",
            "example": "IDEMPOTENCYKEY123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-04-25T15:30:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System that generated the request.",
            "example": "LoanManagementSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request originated.",
            "example": "CustomerPortal"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information about the request being made."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "CH123456"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "DEVICE123456"
          }
        },
        "description": "Information about the channel used for the request."
      },
      "Replace*StatusTransitionResponse_200": {
        "title": "Loan Status Transition Response",
        "type": "object",
        "properties": {
          "sourceApplicationId": {
            "type": "string",
            "description": "The identifier for the application that initiated the loan transaction.",
            "example": "APP-178428"
          },
          "productId": {
            "type": "string",
            "description": "The identifier for the loan product.",
            "example": "PROD-591369"
          },
          "primaryCustomerId": {
            "type": "string",
            "description": "The identifier for the primary customer associated with this loan.",
            "example": "CUST-996854"
          },
          "borrowerCustomerIds": {
            "type": "array",
            "description": "An array of identifiers for borrowers on this loan.",
            "example": [
              "CUST-789295"
            ],
            "items": {
              "type": "string",
              "example": "cust101"
            }
          },
          "principal": {
            "description": "The principal amount of the loan.",
            "$ref": "#/components/schemas/Money"
          },
          "termMonths": {
            "type": "integer",
            "description": "The term of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "annualInterestRatePercent": {
            "type": "string",
            "description": "The annual interest rate of the loan expressed as a percentage.",
            "example": "STANDARD"
          },
          "interestRateType": {
            "type": "string",
            "description": "The type of interest rate applied to the loan.",
            "example": "STANDARD"
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "The frequency of repayments for the loan.",
            "example": "STANDARD"
          },
          "bookingDate": {
            "type": "string",
            "description": "The date when the loan was booked.",
            "example": "2026-09-15"
          },
          "firstPaymentDate": {
            "type": "string",
            "description": "The date of the first payment due.",
            "example": "2026-09-15"
          },
          "maturityDate": {
            "type": "string",
            "description": "The date when the loan matures.",
            "example": "2026-09-15"
          },
          "repaymentAccountNumber": {
            "type": "string",
            "description": "The account number from which loan repayments will be made.",
            "example": "STANDARD"
          },
          "servicingBranchCode": {
            "type": "string",
            "description": "The code for the branch servicing the loan.",
            "example": "CODE-520"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "The identifier for the relationship manager handling the loan.",
            "example": "STANDARD"
          },
          "purpose": {
            "type": "string",
            "description": "The stated purpose of the loan.",
            "example": "STANDARD"
          },
          "id": {
            "type": "string",
            "description": "The unique identifier for this loan record.",
            "example": "90337afd-803f-56ba-8d56-74d57599078e"
          },
          "accountNumber": {
            "type": "string",
            "description": "The account number associated with the loan.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the loan.",
            "example": "ACTIVE"
          },
          "balance": {
            "description": "The current balance details of the loan.",
            "$ref": "#/components/schemas/LoanBalance"
          },
          "totalDisbursed": {
            "description": "The total amount that has been disbursed to the borrower.",
            "$ref": "#/components/schemas/Money"
          },
          "totalRepaid": {
            "description": "The total amount that has been repaid by the borrower.",
            "$ref": "#/components/schemas/Money"
          },
          "metadata": {
            "description": "Metadata associated with the loan response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response for the loan status transition operation. It contains detailed information about the loan and its current status.",
        "example": {
          "sourceApplicationId": "APP-178428",
          "productId": "PROD-591369",
          "primaryCustomerId": "CUST-996854",
          "borrowerCustomerIds": [
            "CUST-789295"
          ],
          "principal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "termMonths": 1,
          "annualInterestRatePercent": "STANDARD",
          "interestRateType": "STANDARD",
          "repaymentFrequency": "STANDARD",
          "bookingDate": "2026-09-15",
          "firstPaymentDate": "2026-09-15",
          "maturityDate": "2026-09-15",
          "repaymentAccountNumber": "STANDARD",
          "servicingBranchCode": "CODE-520",
          "relationshipManagerId": "STANDARD",
          "purpose": "STANDARD",
          "id": "90337afd-803f-56ba-8d56-74d57599078e",
          "accountNumber": "STANDARD",
          "status": "ACTIVE",
          "balance": {
            "principalOutstanding": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "accruedInterest": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "feesOutstanding": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "penaltiesOutstanding": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "totalOutstanding": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "availableToDraw": {
              "currency": "USD",
              "amount": "1250.75"
            }
          },
          "totalDisbursed": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "totalRepaid": {
            "currency": "USD"
          },
          "metadata": {
            "responseId": "09e51f19-b03b-5ba4-8ca5-cb4a44a1a545",
            "correlationId": "2e9e7986-14d1-5c66-89dd-d87f286de0bc",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Money": {
        "title": "Currency Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency code (e.g., USD, EUR).",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The amount of money in the specified currency.",
            "example": "10000"
          }
        },
        "description": "This schema represents a monetary amount with currency."
      },
      "LoanBalance": {
        "title": "Loan Balance Details",
        "type": "object",
        "properties": {
          "principalOutstanding": {
            "description": "The outstanding principal balance of the loan.",
            "$ref": "#/components/schemas/Money"
          },
          "accruedInterest": {
            "description": "The accrued interest amount on the loan.",
            "$ref": "#/components/schemas/Money"
          },
          "feesOutstanding": {
            "description": "The total outstanding fees associated with the loan.",
            "$ref": "#/components/schemas/Money"
          },
          "penaltiesOutstanding": {
            "description": "The total outstanding penalties associated with the loan.",
            "$ref": "#/components/schemas/Money"
          },
          "totalOutstanding": {
            "description": "The total outstanding amount, including principal, interest, fees, and penalties.",
            "$ref": "#/components/schemas/Money"
          },
          "availableToDraw": {
            "description": "The amount available to draw from the loan.",
            "$ref": "#/components/schemas/Money"
          }
        },
        "description": "This schema contains the details of the loan balance including principal, interest, fees, and penalties."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "resp001"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier for tracing requests and responses.",
            "example": "corr123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "us-east-1"
          }
        },
        "description": "This schema contains metadata information related to the response."
      }
    },
    "parameters": {
      "parentspanid": {
        "name": "parentspanid",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "81f487c09d8070f9"
        },
        "example": "81f487c09d8070f9"
      },
      "x-request-id": {
        "name": "x-request-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "98fe904f-f5dc-4cb0-90a1-e313d26c2c84"
        },
        "example": "98fe904f-f5dc-4cb0-90a1-e313d26c2c84"
      },
      "x-envoy-attempt-count": {
        "name": "x-envoy-attempt-count",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-envoy-peer-metadata": {
        "name": "x-envoy-peer-metadata",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ChoKCkNMVVNURVJfSUQSDBoKS3ViZXJuZXRlcwquAQoGTEFCRUxTEqMBKqABCh0KA2FwcBIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQo5Ch9zZXJ2aWNlLmlzdGlvLmlvL2Nhbm9uaWNhbC1uYW1lEhYaFGlzdGlvLWluZ3Jlc3NnYXRld2F5Ci8KI3NlcnZpY2UuaXN0aW8uaW8vY2Fub25pY2FsLXJldmlzaW9uEggaBjEtMzAtMAoTCgd2ZXJzaW9uEggaBjEuMzAuMAouCgROQU1FEiYaJGlzdGlvLWluZ3Jlc3NnYXRld2F5LTlkZDQ2YjU4Yi10Y3R6cwobCglOQU1FU1BBQ0USDhoMaXN0aW8tc3lzdGVtCl0KBU9XTkVSElQaUmt1YmVybmV0ZXM6Ly9hcGlzL2FwcHMvdjEvbmFtZXNwYWNlcy9pc3Rpby1zeXN0ZW0vZGVwbG95bWVudHMvaXN0aW8taW5ncmVzc2dhdGV3YXkKJwoNV09SS0xPQURfTkFNRRIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQ=="
        },
        "example": "ChoKCkNMVVNURVJfSUQSDBoKS3ViZXJuZXRlcwquAQoGTEFCRUxTEqMBKqABCh0KA2FwcBIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQo5Ch9zZXJ2aWNlLmlzdGlvLmlvL2Nhbm9uaWNhbC1uYW1lEhYaFGlzdGlvLWluZ3Jlc3NnYXRld2F5Ci8KI3NlcnZpY2UuaXN0aW8uaW8vY2Fub25pY2FsLXJldmlzaW9uEggaBjEtMzAtMAoTCgd2ZXJzaW9uEggaBjEuMzAuMAouCgROQU1FEiYaJGlzdGlvLWluZ3Jlc3NnYXRld2F5LTlkZDQ2YjU4Yi10Y3R6cwobCglOQU1FU1BBQ0USDhoMaXN0aW8tc3lzdGVtCl0KBU9XTkVSElQaUmt1YmVybmV0ZXM6Ly9hcGlzL2FwcHMvdjEvbmFtZXNwYWNlcy9pc3Rpby1zeXN0ZW0vZGVwbG95bWVudHMvaXN0aW8taW5ncmVzc2dhdGV3YXkKJwoNV09SS0xPQURfTkFNRRIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQ=="
      },
      "x-gateway-correlationid": {
        "name": "x-gateway-correlationid",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "17ce9cc1-cc7e-4da1-891f-35a652436aa8"
        },
        "example": "17ce9cc1-cc7e-4da1-891f-35a652436aa8"
      },
      "x-envoy-external-address": {
        "name": "x-envoy-external-address",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "18.156.191.52"
        },
        "example": "18.156.191.52"
      },
      "x-envoy-peer-metadata-id": {
        "name": "x-envoy-peer-metadata-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "router~10.10.185.143~istio-ingressgateway-9dd46b58b-tctzs.istio-system~istio-system.svc.cluster.local"
        },
        "example": "router~10.10.185.143~istio-ingressgateway-9dd46b58b-tctzs.istio-system~istio-system.svc.cluster.local"
      },
      "x-envoy-decorator-operation": {
        "name": "x-envoy-decorator-operation",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "kong-test1-kong-proxy.kong-test.svc.cluster.local:80/*"
        },
        "example": "kong-test1-kong-proxy.kong-test.svc.cluster.local:80/*"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-transition-loan-status"
        },
        "example": "banking-loans-openapi-transition-loan-status"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      },
      "X-Workflow-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-037"
        },
        "example": "WF-037"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow currently in progress for the loan operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Loan Restructuring and Forbearance"
        },
        "example": "Loan Restructuring and Forbearance"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow associated with the loan status transition.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the execution instance of the workflow.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "4aa6265e-15eb-418b-8a1a-4f1e2bc2c442"
        },
        "example": "4aa6265e-15eb-418b-8a1a-4f1e2bc2c442"
      }
    }
  }
}