{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Leasing Management API",
    "description": "The Leasing Management API enables businesses to initiate and manage leasing contracts seamlessly. It provides functionalities for creating new lease agreements, allowing financial institutions to efficiently offer leasing solutions to customers. This API is designed for banks and leasing companies seeking to enhance their service offerings and streamline the leasing process. Typical use cases include submitting lease applications and managing leasing terms, catering to both corporate and individual clients.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://accounts-deposits-app:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/leasing": {
      "post": {
        "tags": [
          "Deposit Lending"
        ],
        "summary": "Create a lease for deposit lending",
        "description": "This endpoint allows users to initiate the creation of a lease under the deposit lending category. It provides the necessary functionality for submitting leasing requests, ensuring smooth processing and management of deposit lending leases.",
        "operationId": "createLeaseDepositLending",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a leasing operation under the deposit lending service. It specifies the necessary attributes that define the leasing agreement, including terms, amounts, and other relevant details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLeaseDepositLendingRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateLeaseDepositLendingResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateLeaseDepositLendingRequest": {
        "title": "Deposit Lending Leasing Operations Request Body",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-203533"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account associated with the customer.",
            "example": "ACC-999201"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the product type for the leasing operation.",
            "example": "CHK-PREMIUM-US"
          },
          "principal": {
            "description": "The principal amount for the lease, including currency.",
            "$ref": "#/components/schemas/AmountWithCurrency"
          },
          "termMonths": {
            "type": "integer",
            "description": "Duration of the lease in months.",
            "format": "int32",
            "example": 1
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "Frequency of repayment for the lease.",
            "example": "STANDARD"
          },
          "leasedAssetId": {
            "type": "string",
            "description": "Unique identifier for the asset being leased.",
            "example": "STANDARD"
          },
          "residualValue": {
            "description": "The estimated residual value of the leased asset, including currency.",
            "$ref": "#/components/schemas/AmountWithCurrency"
          },
          "leaseTermMonths": {
            "type": "integer",
            "description": "Total lease term in months.",
            "format": "int32",
            "example": 1
          },
          "requestContext": {
            "description": "Context information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for creating a deposit lending leasing operation.",
        "example": {
          "customerId": "CUST-203533",
          "accountId": "ACC-999201",
          "productCode": "CHK-PREMIUM-US",
          "principal": {
            "amount": 100.0,
            "currency": "USD"
          },
          "termMonths": 1,
          "repaymentFrequency": "STANDARD",
          "leasedAssetId": "STANDARD",
          "residualValue": {
            "amount": 100.0,
            "currency": "USD"
          },
          "leaseTermMonths": 1,
          "requestContext": {
            "requestId": "eab88932-d34c-525f-98eb-3d0a04c844db",
            "correlationId": "db8f800b-cb0d-56b9-9940-e5a588129f5e",
            "idempotencyKey": "6246fe8e-b32a-5c18-a21e-bf40530c5380",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-783396"
            }
          }
        }
      },
      "AmountWithCurrency": {
        "title": "Amount With Currency",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The monetary amount.",
            "example": 1000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency code of the amount (e.g., 'USD', 'EUR').",
            "example": "USD"
          }
        },
        "description": "Schema representing an amount with its associated currency."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "request-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating related requests.",
            "example": "correlation-abc"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure that repeated requests are idempotent.",
            "example": "idempotency-xyz"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-10T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that initiated the request.",
            "example": "source-system-1"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "source-app-1"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/ChannelInfo"
          }
        },
        "description": "Schema representing the context of the request for operations."
      },
      "ChannelInfo": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used (e.g., 'web', 'mobile').",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device used to submit the request.",
            "example": "device-abc"
          }
        },
        "description": "Schema representing details of the channel through which the request was made."
      },
      "CreateLeaseDepositLendingResponse_201": {
        "title": "Deposit Lending Leasing Operation Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-582777"
          },
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account associated with the operation.",
            "example": "ACC-382227"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the product involved in the operation.",
            "example": "CHK-PREMIUM-US"
          },
          "leasedAssetId": {
            "type": "string",
            "description": "The unique identifier of the asset that is leased.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource created or affected by the operation.",
            "example": "RES-815771"
          },
          "status": {
            "type": "string",
            "description": "The status of the operation (e.g., SUCCESS, FAILED).",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "The unique identifier for the response.",
                "example": "RESPONSE98765"
              },
              "correlationId": {
                "type": "string",
                "description": "The identifier used to correlate this operation with others in the system.",
                "example": "CORR54321"
              },
              "generatedAt": {
                "type": "string",
                "description": "The timestamp when the response was generated.",
                "example": "2023-10-01T12:01:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region where the operation was processed.",
                "example": "us-east-1"
              }
            },
            "description": "Metadata related to the operation response.",
            "example": {
              "responseId": "ad1dfdfe-6008-5cb8-86b3-9cf5ed4a81d0",
              "correlationId": "db8f800b-cb0d-56b9-9940-e5a588129f5e",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "This schema represents the response structure for a successful deposit lending leasing operation.",
        "example": {
          "customerId": "CUST-582777",
          "accountId": "ACC-382227",
          "productCode": "CHK-PREMIUM-US",
          "leasedAssetId": "STANDARD",
          "resourceId": "RES-815771",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "ad1dfdfe-6008-5cb8-86b3-9cf5ed4a81d0",
            "correlationId": "db8f800b-cb0d-56b9-9940-e5a588129f5e",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-035"
        },
        "example": "WF-035"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "7e33c429-30f3-4f0e-8ae5-27985811db65"
        },
        "example": "7e33c429-30f3-4f0e-8ae5-27985811db65"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "d59a0757-9a3b-445c-9ed9-5e26d7e78447"
        },
        "example": "d59a0757-9a3b-445c-9ed9-5e26d7e78447"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "leasing-create-leasing"
        },
        "example": "leasing-create-leasing"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request, providing context about the processing environment.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      },
      "X-Workflow-Id": {
        "description": "An identifier for the workflow instance that was executed during the processing of this request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-035"
        },
        "example": "WF-035"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow that is currently being executed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Credit Facility Limit Increase"
        },
        "example": "Credit Facility Limit Increase"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow, indicating its progress or status.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the execution of the workflow.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "d59a0757-9a3b-445c-9ed9-5e26d7e78447"
        },
        "example": "d59a0757-9a3b-445c-9ed9-5e26d7e78447"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication scheme based on JSON Web Tokens (JWT). Clients are required to include a valid JWT token in the 'Authorization' header when making requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}