{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Servicing Case Root Cause Analysis-spec",
    "description": "The Servicing Case Root Cause Analysis API provides insights into the underlying factors affecting banking servicing cases. This API enables users to retrieve detailed analyses that identify root causes of service-related issues, optimizing resolution strategies and enhancing customer satisfaction. Typical consumers include customer service teams and operations analysts, who leverage this data to improve service quality. By utilizing this API, organizations can effectively track, assess, and resolve service incidents, driving operational excellence.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/servicing/case-root-cause-analysis": {
      "get": {
        "tags": [
          "Servicing"
        ],
        "summary": "Retrieve root cause analysis for servicing cases.",
        "description": "Get detailed insights into the root causes of servicing cases. This endpoint provides a comprehensive analysis to help identify issues and improve overall service performance.",
        "operationId": "listServicingCaseRootCauseAnalysis",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to specify the parameters required for the case root cause analysis operation. Ensure that all necessary fields are included to perform the analysis correctly.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListServicingCaseRootCauseAnalysisRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and returned the requested data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListServicingCaseRootCauseAnalysisResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListServicingCaseRootCauseAnalysisRequest": {
        "type": "string",
        "description": "This schema represents the request body for the root cause analysis in servicing case operations.",
        "example": "{}"
      },
      "ListServicingCaseRootCauseAnalysisResponse_200": {
        "title": "Root Cause Analysis Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of case items related to root cause analysis.",
            "example": [
              {
                "customerId": "CUST-267982",
                "caseId": "CASE-955124",
                "requestCategory": "STANDARD",
                "priority": "NORMAL",
                "originatingChannel": "STANDARD",
                "caseReason": "STANDARD",
                "serviceLevelDueAt": "2026-08-11T12:00:00Z",
                "customerContactPreference": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CaseItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sort order of the returned results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the Root Cause Analysis API, containing a list of case items, pagination information, sorting details, and meta information.",
        "example": {
          "items": [
            {
              "customerId": "CUST-267982",
              "caseId": "CASE-955124",
              "requestCategory": "STANDARD",
              "priority": "NORMAL",
              "originatingChannel": "STANDARD",
              "caseReason": "STANDARD",
              "serviceLevelDueAt": "2026-08-11T12:00:00Z",
              "customerContactPreference": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "b1ef774c-5e02-5165-b17d-b8cc910137b5",
            "correlationId": "bb64b0e9-3777-5e50-a703-e93c3ad2491c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CaseItem": {
        "title": "Case Item",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "string"
          },
          "caseId": {
            "type": "string",
            "description": "Unique identifier for the case.",
            "example": "string"
          },
          "requestCategory": {
            "type": "string",
            "description": "Category of the request.",
            "example": "string"
          },
          "priority": {
            "type": "string",
            "description": "Priority level of the case.",
            "example": "string"
          },
          "originatingChannel": {
            "type": "string",
            "description": "Channel through which the case originated.",
            "example": "string"
          },
          "caseReason": {
            "type": "string",
            "description": "Reason for the case.",
            "example": "string"
          },
          "serviceLevelDueAt": {
            "type": "string",
            "description": "Timestamp indicating when service level is due.",
            "example": "string"
          },
          "customerContactPreference": {
            "type": "string",
            "description": "Customer's preferred method of contact.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the case record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the case was last updated.",
            "example": "string"
          }
        },
        "description": "Details of a case item in the root cause analysis response."
      },
      "Pagination": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the results.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Information regarding pagination of the response data."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Meta information of the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "case-root-cause-analysis-search-case-root-cause-analysis"
        },
        "example": "case-root-cause-analysis-search-case-root-cause-analysis"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Token for authentication. The token must be provided in the Authorization header as a JWT (JSON Web Token).",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}