{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Knowledge Asset Management API",
    "description": "The Knowledge Asset Management API facilitates the submission and management of banking-related knowledge assets, specifically management manuals. This endpoint allows users to upload and register new management manuals, enhancing the organization's resource planning and regulatory compliance efforts. Typical consumers include banking compliance officers and knowledge managers who require a structured approach to document management. Streamlining access to management manuals supports effective governance and knowledge sharing within the financial institution.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/knowledge-assets/management-manual": {
      "post": {
        "tags": [
          "Knowledge Management"
        ],
        "summary": "Create a management manual for knowledge assets.",
        "description": "This endpoint allows users to create a management manual specifically for knowledge assets, facilitating better management and utilization of organizational knowledge. Users can submit relevant information to establish guidelines and methodologies for effective knowledge asset management.",
        "operationId": "createKnowledgeAssetManagementManual",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create or update the management manual within the knowledge assets. It should contain all necessary details required for the operations regarding the management manual.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateKnowledgeAssetManagementManualRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateKnowledgeAssetManagementManualResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateKnowledgeAssetManagementManualRequest": {
        "title": "Management Manual Request Body",
        "type": "object",
        "properties": {
          "manualId": {
            "type": "string",
            "description": "A unique identifier for the management manual.",
            "example": "STANDARD"
          },
          "title": {
            "type": "string",
            "description": "The title of the management manual.",
            "example": "Banking operation completed"
          },
          "version": {
            "type": "string",
            "description": "The version of the management manual.",
            "example": "STANDARD"
          },
          "ownerId": {
            "type": "string",
            "description": "The identifier for the owner of the management manual.",
            "example": "STANDARD"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date when the management manual becomes effective.",
            "example": "2026-09-15"
          },
          "classification": {
            "type": "string",
            "description": "The classification level of the management manual.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for creating or updating a management manual in the operations context.",
        "example": {
          "manualId": "STANDARD",
          "title": "Banking operation completed",
          "version": "STANDARD",
          "ownerId": "STANDARD",
          "effectiveDate": "2026-09-15",
          "classification": "STANDARD",
          "requestContext": {
            "requestId": "417daeeb-1368-5600-9a85-57f9e0a69d4b",
            "correlationId": "44a71649-9363-5c24-80c4-12f7c5d2bffa",
            "idempotencyKey": "4e4575fe-ae3c-5b12-b3a0-13519c8f1340",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-523381"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate multiple related requests.",
            "example": "corr-7890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure that repeated requests are idempotent.",
            "example": "idemp-abcde"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The name of the system that initiated the request.",
            "example": "HR System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The name of the application that is sending the request.",
            "example": "Web Portal"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema contains information about the request context, including identifiers and timestamps."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "A unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device being used for the request.",
            "example": "device-xyz"
          }
        },
        "description": "This schema describes the channel details used in the request context."
      },
      "CreateKnowledgeAssetManagementManualResponse_201": {
        "title": "Management Manual Response",
        "type": "object",
        "properties": {
          "manualId": {
            "type": "string",
            "description": "Unique identifier for the management manual.",
            "example": "STANDARD"
          },
          "ownerId": {
            "type": "string",
            "description": "Identifier of the owner of the management manual.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "Identifier of the associated resource.",
            "example": "RES-601868"
          },
          "status": {
            "type": "string",
            "description": "Current status of the management manual.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the management manual was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the Management Manual creation operation, which includes metadata and identifying information.",
        "example": {
          "manualId": "STANDARD",
          "ownerId": "STANDARD",
          "resourceId": "RES-601868",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "908bf753-f143-560b-ab74-edf322a2664f",
            "correlationId": "44a71649-9363-5c24-80c4-12f7c5d2bffa",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracing the request through the system.",
            "example": "corr456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-05T14:48:01Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the response was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata information related to the API response, providing additional context and details."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that was invoked. This is useful for tracking and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "management-manual-create-management-manual"
        },
        "example": "management-manual-create-management-manual"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request. This helps in identifying the specific application handling the API call.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens. This method is implemented using JSON Web Tokens (JWT) which can provide secure access to your API.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}