{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Cbpii By Param1-spec",
    "description": "The Funds Confirmation Consents API allows clients to access consent information related to funds confirmation under the open banking framework. Through this endpoint, users can retrieve specific consent records based on a unique parameter, enhancing transparency and compliance. Typical consumers include financial institutions and payment service providers needing to verify consent status for customer transactions. This API streamlines the process of managing consent relationships, facilitating secure and efficient interactions between banks and their customers.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/cbpii/funds-confirmation-consents/{param1}": {
      "get": {
        "tags": [
          "Funds Confirmation"
        ],
        "summary": "Retrieve funds confirmation consent details.",
        "description": "This endpoint allows you to retrieve the details of a specific funds confirmation consent by its unique identifier. It is essential for ensuring that financial institutions can confirm consent for fund transfers efficiently and securely.",
        "operationId": "getCbpiiByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the funds confirmation consents associated with the specified resource. The data provided should adhere to the defined schema to ensure proper processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCbpiiByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the consent information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCbpiiByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCbpiiByParam1Request": {
        "type": "string",
        "description": "The JSON request body for funds confirmation consent operation.",
        "example": "{}"
      },
      "GetCbpiiByParam1Response_200": {
        "type": "object",
        "properties": {
          "Data": {
            "$ref": "#/components/schemas/ConsentData"
          },
          "Links": {
            "$ref": "#/components/schemas/Links"
          },
          "Meta": {
            "$ref": "#/components/schemas/Meta"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the funds confirmation consents operations.",
        "example": {
          "Data": {
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "Status": "ACTIVE",
            "StatusReason": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "Path": "STANDARD"
              }
            ],
            "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
            "ExpirationDateTime": "2026-09-15T14:30:00Z",
            "DebtorAccount": {
              "SchemeName": "Northstar Banking Service",
              "Identification": "STANDARD",
              "Name": "Northstar Banking Service",
              "SecondaryIdentification": "STANDARD",
              "Proxy": {
                "Identification": "STANDARD",
                "Code": "SUCCESS",
                "Type": "STANDARD"
              }
            }
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource",
            "Next": "https://example.com/resource",
            "Last": "https://example.com/resource"
          },
          "Meta": {
            "TotalPages": 1,
            "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
            "LastAvailableDateTime": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "responseId": "de2f1de3-867f-52aa-8e56-011441407e77",
            "correlationId": "8cbf2038-766f-5b12-80ec-367abfcbf148",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ConsentData": {
        "type": "object",
        "properties": {
          "ConsentId": {
            "type": "string",
            "description": "The unique identifier for the consent.",
            "example": "string"
          },
          "CreationDateTime": {
            "type": "string",
            "description": "The date and time when the consent was created.",
            "example": "2023-10-01T12:00:00Z"
          },
          "Status": {
            "type": "string",
            "description": "The current status of the consent.",
            "example": "ACTIVE"
          },
          "StatusReason": {
            "type": "array",
            "description": "List of reasons for the current status.",
            "items": {
              "$ref": "#/components/schemas/StatusReason"
            }
          },
          "StatusUpdateDateTime": {
            "type": "string",
            "description": "The date and time when the consent status was last updated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "ExpirationDateTime": {
            "type": "string",
            "description": "The date and time when the consent will expire.",
            "example": "2024-10-01T12:00:00Z"
          },
          "DebtorAccount": {
            "$ref": "#/components/schemas/DebtorAccount"
          }
        },
        "description": "Information related to a specific consent."
      },
      "StatusReason": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "The status reason code.",
            "example": "REASON_CODE"
          },
          "description": {
            "type": "string",
            "description": "A description of the status reason.",
            "example": "Consent is active."
          },
          "Path": {
            "type": "string",
            "description": "A reference path associated with the status reason.",
            "example": "/path/to/resource"
          }
        },
        "description": "Details about the reason for the consent status."
      },
      "DebtorAccount": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "The scheme name of the debtor account.",
            "example": "UK.OBIE"
          },
          "Identification": {
            "type": "string",
            "description": "The identification for the debtor account.",
            "example": "GB29NWBK60161331926819"
          },
          "Name": {
            "type": "string",
            "description": "The name of the account holder.",
            "example": "John Doe"
          },
          "SecondaryIdentification": {
            "type": "string",
            "description": "Any secondary identification for the account.",
            "example": "123-456"
          },
          "Proxy": {
            "$ref": "#/components/schemas/Proxy"
          }
        },
        "description": "Details about the debtor account involved in the consent."
      },
      "Proxy": {
        "type": "object",
        "properties": {
          "Identification": {
            "type": "string",
            "description": "The identification used for proxying.",
            "example": "proxyId123"
          },
          "Code": {
            "type": "string",
            "description": "The proxy code used.",
            "example": "proxyCode"
          },
          "Type": {
            "type": "string",
            "description": "The type of proxy.",
            "example": "email"
          }
        },
        "description": "Proxy information related to the debtor account."
      },
      "Links": {
        "type": "object",
        "properties": {
          "Self": {
            "type": "string",
            "description": "URL to the current resource.",
            "example": "https://api.example.com/consents/1"
          },
          "First": {
            "type": "string",
            "description": "URL to the first page of results.",
            "example": "https://api.example.com/consents?page=1"
          },
          "Prev": {
            "type": "string",
            "description": "URL to the previous page of results.",
            "example": "https://api.example.com/consents?page=0"
          },
          "Next": {
            "type": "string",
            "description": "URL to the next page of results.",
            "example": "https://api.example.com/consents?page=2"
          },
          "Last": {
            "type": "string",
            "description": "URL to the last page of results.",
            "example": "https://api.example.com/consents?page=10"
          }
        },
        "description": "Links related to the pagination of consent data."
      },
      "Meta": {
        "type": "object",
        "properties": {
          "TotalPages": {
            "type": "integer",
            "description": "The total number of pages available.",
            "format": "int32",
            "example": 5
          },
          "FirstAvailableDateTime": {
            "type": "string",
            "description": "The date and time when the first consent became available.",
            "example": "2023-01-01T12:00:00Z"
          },
          "LastAvailableDateTime": {
            "type": "string",
            "description": "The date and time when the last consent became available.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "Metadata information about the available consent data."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-id-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request.",
            "example": "correlation-id-456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the processing took place.",
            "example": "EU"
          }
        },
        "description": "Additional metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "funds-api-get-funds-confirmation-consents-consent-id"
        },
        "example": "funds-api-get-funds-confirmation-consents-consent-id"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a bearer token, typically a JSON Web Token (JWT), to authenticate API requests. Clients must include the token in the Authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}