{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Replace Loan By Disbursement Id-spec",
    "description": "This API allows for the replacement of loan disbursement records by specifying the relevant loan and disbursement IDs. It facilitates seamless updates to loan disbursements, ensuring data accuracy and integrity within loan management systems. Typical consumers may include financial institutions and loan servicing platforms that need to manage disbursement adjustments regularly. By using this API, users can effectively maintain and modify disbursement details for loans in response to changing scenarios or requirements.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loans/{loanId}/disbursements/{disbursementId}": {
      "put": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Update Disbursement for Loan",
        "description": "This operation allows you to update the details of a specific disbursement associated with a particular loan. Provide the necessary data in the request body to modify the existing disbursement record.",
        "operationId": "replaceLoanByDisbursementId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/loanId"
          },
          {
            "$ref": "#/components/parameters/disbursementId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the disbursement details associated with a specific loan. Ensure that all required fields are provided and conform to the schema defined for this operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceLoanByDisbursementIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully updated the disbursement.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceLoanByDisbursementIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ReplaceLoanByDisbursementIdRequest": {
        "type": "object",
        "properties": {
          "amount": {
            "description": "The total amount being disbursed.",
            "$ref": "#/components/schemas/Amount"
          },
          "disbursementMethod": {
            "type": "string",
            "description": "The method used for disbursing the loan amount.",
            "example": "STANDARD"
          },
          "valueDate": {
            "type": "string",
            "description": "The date when the disbursement is effective.",
            "example": "2026-09-15"
          },
          "beneficiary": {
            "description": "Details of the beneficiary receiving the funds.",
            "$ref": "#/components/schemas/Beneficiary"
          },
          "deductions": {
            "type": "array",
            "description": "List of deductions applied to the disbursement amount.",
            "example": [
              {
                "type": "STANDARD",
                "amount": {
                  "currency": "USD",
                  "amount": "1250.75"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Deduction"
            }
          },
          "narrative": {
            "type": "string",
            "description": "A narrative providing additional information about the disbursement.",
            "example": "STANDARD"
          },
          "externalReference": {
            "type": "string",
            "description": "An external reference related to the disbursement.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for disbursement operations on a loan.",
        "example": {
          "amount": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "disbursementMethod": "STANDARD",
          "valueDate": "2026-09-15",
          "beneficiary": {
            "name": "Northstar Banking Service",
            "accountNumber": "STANDARD",
            "bankCode": "CODE-147",
            "bankName": "Northstar Banking Service",
            "address": {
              "line1": "350 Fifth Avenue",
              "line2": "Suite 4200",
              "city": "New York",
              "state": "STANDARD",
              "postalCode": "10001",
              "country": "STANDARD"
            }
          },
          "deductions": [
            {
              "type": "STANDARD",
              "amount": {
                "currency": "USD",
                "amount": "1250.75"
              }
            }
          ],
          "narrative": "STANDARD",
          "externalReference": "STANDARD",
          "requestContext": {
            "requestId": "a44ec4fe-22d5-5daa-bea5-9ecaca5dec8c",
            "correlationId": "a0d600a1-bbea-5d91-8364-aba06d976aa5",
            "idempotencyKey": "b4dbe896-3dca-52ea-b1bf-3143fca7851c",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-314244"
            }
          }
        }
      },
      "Amount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency of the amount (e.g., USD, EUR)."
          },
          "amount": {
            "type": "string",
            "description": "The numeric value of the amount."
          }
        },
        "description": "Schema representing a monetary amount including its currency."
      },
      "Beneficiary": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the beneficiary."
          },
          "accountNumber": {
            "type": "string",
            "description": "The bank account number of the beneficiary."
          },
          "bankCode": {
            "type": "string",
            "description": "The code of the bank where the beneficiary holds an account."
          },
          "bankName": {
            "type": "string",
            "description": "The name of the bank where the beneficiary holds an account."
          },
          "address": {
            "description": "The address of the beneficiary.",
            "$ref": "#/components/schemas/Address"
          }
        },
        "description": "Schema representing the beneficiary's details for the disbursement."
      },
      "Address": {
        "type": "object",
        "properties": {
          "line1": {
            "type": "string",
            "description": "The first line of the address."
          },
          "line2": {
            "type": "string",
            "description": "The second line of the address (optional)."
          },
          "city": {
            "type": "string",
            "description": "The city of the beneficiary."
          },
          "state": {
            "type": "string",
            "description": "The state of the beneficiary."
          },
          "postalCode": {
            "type": "string",
            "description": "The postal code of the beneficiary."
          },
          "country": {
            "type": "string",
            "description": "The country of the beneficiary."
          }
        },
        "description": "Schema representing the address details of a beneficiary."
      },
      "Deduction": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "The type of deduction (e.g., fee, tax)."
          },
          "amount": {
            "description": "The amount being deducted, including its currency.",
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "Schema representing a deduction applied to the disbursement."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Unique identifier for tracing requests across systems.",
            "example": "corr-654321"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of requests.",
            "example": "idemp-78910"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "BackendSystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "MobileApp"
          },
          "channel": {
            "description": "Details of the channel from which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema containing context information about the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the communication channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the request.",
            "example": "device-12345"
          }
        },
        "description": "Schema representing details of the communication channel used in the request."
      },
      "ReplaceLoanByDisbursementIdResponse_200": {
        "type": "object",
        "properties": {
          "amount": {
            "description": "The amount of money disbursed, including its currency.",
            "$ref": "#/components/schemas/Amount"
          },
          "disbursementMethod": {
            "type": "string",
            "description": "The method used for disbursement (e.g., bank transfer, cash).",
            "example": "STANDARD"
          },
          "valueDate": {
            "type": "string",
            "description": "The date on which the disbursement is effective.",
            "example": "2026-09-15"
          },
          "beneficiary": {
            "description": "Details about the beneficiary receiving the disbursement.",
            "$ref": "#/components/schemas/Beneficiary"
          },
          "deductions": {
            "type": "array",
            "description": "List of deductions applied to the disbursement.",
            "example": [
              {
                "type": "STANDARD",
                "amount": {
                  "currency": "USD",
                  "amount": "1250.75"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Deduction"
            }
          },
          "narrative": {
            "type": "string",
            "description": "A description or notes related to the disbursement.",
            "example": "STANDARD"
          },
          "externalReference": {
            "type": "string",
            "description": "An external reference or identifier related to the disbursement.",
            "example": "STANDARD"
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the disbursement record.",
            "example": "1e8e5b27-579e-ce25-3d66-2074eec4862c"
          },
          "disbursementNumber": {
            "type": "string",
            "description": "The number assigned to this disbursement.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the disbursement (e.g., completed, pending).",
            "example": "ACTIVE"
          },
          "grossAmount": {
            "description": "The total amount disbursed before deductions.",
            "$ref": "#/components/schemas/Amount"
          },
          "netAmount": {
            "description": "The amount disbursed after deductions.",
            "$ref": "#/components/schemas/Amount"
          },
          "transactionReference": {
            "type": "string",
            "description": "Unique reference for the transaction.",
            "example": "STANDARD"
          },
          "processedAt": {
            "type": "string",
            "description": "The timestamp when the disbursement was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "failureCode": {
            "type": "string",
            "description": "Code indicating the reason for a failure, if applicable.",
            "example": "CODE-184"
          },
          "failureMessage": {
            "type": "string",
            "description": "Message providing details on the failure, if applicable.",
            "example": "STANDARD"
          },
          "audit": {
            "description": "Audit information for tracking changes to the disbursement.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Additional metadata related to the disbursement.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for the disbursement operation of a loan.",
        "example": {
          "amount": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "disbursementMethod": "STANDARD",
          "valueDate": "2026-09-15",
          "beneficiary": {
            "name": "Northstar Banking Service",
            "accountNumber": "STANDARD",
            "bankCode": "CODE-546",
            "bankName": "Northstar Banking Service",
            "address": {
              "line1": "350 Fifth Avenue",
              "line2": "Suite 4200",
              "city": "New York",
              "state": "STANDARD",
              "postalCode": "10001",
              "country": "STANDARD"
            }
          },
          "deductions": [
            {
              "type": "STANDARD",
              "amount": {
                "currency": "USD",
                "amount": "1250.75"
              }
            }
          ],
          "narrative": "STANDARD",
          "externalReference": "STANDARD",
          "id": "1e8e5b27-579e-ce25-3d66-2074eec4862c",
          "disbursementNumber": "STANDARD",
          "status": "ACTIVE",
          "grossAmount": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "netAmount": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "transactionReference": "STANDARD",
          "processedAt": "2026-08-11T12:00:00Z",
          "failureCode": "CODE-184",
          "failureMessage": "STANDARD",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "847bf98e-d7ff-56cf-87ba-9caeb05974d9",
            "correlationId": "a0d600a1-bbea-5d91-8364-aba06d976aa5",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Audit": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the record was created."
          },
          "createdBy": {
            "type": "string",
            "description": "The identifier of the user or system that created the record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the record was last updated."
          },
          "updatedBy": {
            "type": "string",
            "description": "The identifier of the user or system that last updated the record."
          },
          "version": {
            "type": "integer",
            "description": "The version number of the record.",
            "format": "int32"
          }
        },
        "description": "Schema for tracking audit information."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place."
          }
        },
        "description": "Schema containing additional metadata for the disbursement response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "loanId": {
        "name": "loanId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "disbursementId": {
        "name": "disbursementId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-replace-disbursement"
        },
        "example": "banking-loans-openapi-replace-disbursement"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes bearer tokens for authentication. The tokens, typically in JSON Web Token (JWT) format, must be included in the Authorization header of the request to access secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}