{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Outlets Information API",
    "description": "The Outlets Information API provides access to comprehensive details about various outlets within the system. It allows users to retrieve information such as outlet locations, types, and operational statuses. This API is crucial for applications that require real-time outlet data for purposes such as inventory management, location services, and customer engagement. Typical consumers include mobile app developers, retail analysts, and logistics providers who rely on accurate outlet data to enhance service delivery and customer experience.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/outlets": {
      "get": {
        "tags": [
          "Outlet Management"
        ],
        "summary": "Retrieve a list of outlets.",
        "description": "This endpoint allows you to fetch a comprehensive list of outlets from the system. You can use various parameters to filter and paginate the results, making it easy to find the specific outlet data you need.",
        "operationId": "getOutlets",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve a list of outlets based on the provided filters and parameters.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetOutletsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of outlets.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetOutletsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetOutletsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on outlets. It is expected to be a string format.",
        "example": "{}"
      },
      "GetOutletsResponse_200": {
        "title": "Outlets Response",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number of the results.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 1
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items across all pages.",
            "format": "int32",
            "example": 1
          },
          "totalPages": {
            "type": "integer",
            "description": "The total number of pages available.",
            "format": "int32",
            "example": 1
          },
          "hasNext": {
            "type": "boolean",
            "description": "Indicates whether there are more pages after the current page.",
            "example": true
          },
          "links": {
            "type": "array",
            "description": "List of links related to the current response.",
            "example": [
              {
                "rel": "STANDARD",
                "href": "https://example.com/resource",
                "method": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          },
          "items": {
            "type": "array",
            "description": "List of outlet items returned in the response.",
            "example": [
              {
                "outletId": "STANDARD",
                "merchantId": "MER-970094",
                "name": "Northstar Banking Service",
                "outletType": "STANDARD",
                "address": {
                  "line1": "350 Fifth Avenue",
                  "line2": "Suite 4200",
                  "city": "New York",
                  "stateOrProvince": "STANDARD",
                  "postalCode": "10001",
                  "country": "STANDARD"
                },
                "contact": {
                  "email": "olivia.bennett@northstar.example",
                  "phone": "+1-212-555-0147",
                  "website": "https://example.com/resource"
                },
                "timezone": "America/New_York",
                "currency": "USD",
                "externalReference": "STANDARD",
                "status": "ACTIVE",
                "audit": {
                  "createdAt": "2026-09-15T14:30:00Z",
                  "createdBy": "STANDARD",
                  "updatedAt": "2026-09-15T14:30:00Z",
                  "updatedBy": "2026-09-15",
                  "version": 1
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Outlet"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for the GET outlets operation.",
        "example": {
          "page": 1,
          "pageSize": 1,
          "totalItems": 1,
          "totalPages": 1,
          "hasNext": true,
          "links": [
            {
              "rel": "STANDARD",
              "href": "https://example.com/resource",
              "method": "STANDARD"
            }
          ],
          "items": [
            {
              "outletId": "STANDARD",
              "merchantId": "MER-970094",
              "name": "Northstar Banking Service",
              "outletType": "STANDARD",
              "address": {
                "line1": "350 Fifth Avenue",
                "line2": "Suite 4200",
                "city": "New York",
                "stateOrProvince": "STANDARD",
                "postalCode": "10001",
                "country": "STANDARD"
              },
              "contact": {
                "email": "olivia.bennett@northstar.example",
                "phone": "+1-212-555-0147",
                "website": "https://example.com/resource"
              },
              "timezone": "America/New_York",
              "currency": "USD",
              "externalReference": "STANDARD",
              "status": "ACTIVE",
              "audit": {
                "createdAt": "2026-09-15T14:30:00Z",
                "createdBy": "STANDARD",
                "updatedAt": "2026-09-15T14:30:00Z",
                "updatedBy": "2026-09-15",
                "version": 1
              }
            }
          ],
          "metadata": {
            "responseId": "941bb26d-f8b7-5962-91f3-efad873a58bf",
            "correlationId": "c96a6b63-a132-5251-88ac-3d5d14d83ec1",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Link": {
        "title": "Link",
        "type": "object",
        "properties": {
          "rel": {
            "type": "string",
            "description": "The relationship type of the link.",
            "example": "string"
          },
          "href": {
            "type": "string",
            "description": "The URL of the related resource.",
            "example": "string"
          },
          "method": {
            "type": "string",
            "description": "The HTTP method that can be used with the link.",
            "example": "string"
          }
        },
        "description": "Schema representing a link object that provides related resource information."
      },
      "Outlet": {
        "title": "Outlet",
        "type": "object",
        "properties": {
          "outletId": {
            "type": "string",
            "description": "The unique identifier for the outlet.",
            "example": "string"
          },
          "merchantId": {
            "type": "string",
            "description": "The identifier for the merchant associated with the outlet.",
            "example": "string"
          },
          "name": {
            "type": "string",
            "description": "The name of the outlet.",
            "example": "string"
          },
          "outletType": {
            "type": "string",
            "description": "The type of the outlet.",
            "example": "string"
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "contact": {
            "$ref": "#/components/schemas/Contact"
          },
          "timezone": {
            "type": "string",
            "description": "The timezone of the outlet.",
            "example": "string"
          },
          "currency": {
            "type": "string",
            "description": "The currency used by the outlet.",
            "example": "string"
          },
          "externalReference": {
            "type": "string",
            "description": "External identifier related to the outlet.",
            "example": "string"
          },
          "status": {
            "type": "string",
            "description": "The current status of the outlet.",
            "example": "string"
          },
          "audit": {
            "$ref": "#/components/schemas/Audit"
          }
        },
        "description": "Schema representing an outlet object."
      },
      "Address": {
        "title": "Address",
        "type": "object",
        "properties": {
          "line1": {
            "type": "string",
            "description": "The first line of the address.",
            "example": "string"
          },
          "line2": {
            "type": "string",
            "description": "The second line of the address.",
            "example": "string"
          },
          "city": {
            "type": "string",
            "description": "The city of the outlet.",
            "example": "string"
          },
          "stateOrProvince": {
            "type": "string",
            "description": "The state or province of the outlet.",
            "example": "string"
          },
          "postalCode": {
            "type": "string",
            "description": "The postal code of the outlet.",
            "example": "string"
          },
          "country": {
            "type": "string",
            "description": "The country of the outlet.",
            "example": "string"
          }
        },
        "description": "Schema representing the address of an outlet."
      },
      "Contact": {
        "title": "Contact",
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "The email address for contacting the outlet.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "The phone number for contacting the outlet.",
            "example": "string"
          },
          "website": {
            "type": "string",
            "description": "The website URL of the outlet.",
            "example": "string"
          }
        },
        "description": "Schema representing the contact information of an outlet."
      },
      "Audit": {
        "title": "Audit",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the outlet was created.",
            "example": "string"
          },
          "createdBy": {
            "type": "string",
            "description": "The identifier of the user who created the outlet.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the outlet was last updated.",
            "example": "string"
          },
          "updatedBy": {
            "type": "string",
            "description": "The identifier of the user who last updated the outlet.",
            "example": "string"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the outlet.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Schema representing audit information related to an outlet."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to trace the request across the system.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Schema representing additional metadata for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint, used to trace requests and responses in the system.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-list-outlets"
        },
        "example": "banking-p2m-openapi-list-outlets"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is handling the request, providing context to the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token authentication method. The client application must provide a valid JWT (JSON Web Token) in the Authorization header for accessing secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}