{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Collateral Administration Collections-spec",
    "description": "The Collateral Administration Collections API provides a mechanism to access and retrieve details about collections related to collateral administration. This API allows users to efficiently query and display information regarding the various collections managed within the system. Typical consumers include financial institutions and risk management teams that need to monitor collateral assets and their status. Use cases involve tracking collection performance, identifying trends, and ensuring compliance with regulatory requirements.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/collateral-administration/collections": {
      "get": {
        "tags": [
          "Collateral Management"
        ],
        "summary": "Retrieve a list of collateral collections.",
        "description": "This endpoint allows you to obtain a comprehensive list of all collateral collections in the system. You can use this information to view, manage, or analyze the collections as needed.",
        "operationId": "listCollateralAdministrationCollections",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to specify the parameters required for retrieving a list of collections in the collateral administration system. It should include any necessary filters or criteria to narrow down the results based on the business needs.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListCollateralAdministrationCollectionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of collections.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCollateralAdministrationCollectionsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListCollateralAdministrationCollectionsRequest": {
        "title": "Collateral Administration Collections GET Request Body",
        "type": "string",
        "description": "A string representation of the request body for the GET operation in the Collateral Administration Collections path.",
        "example": "{}"
      },
      "ListCollateralAdministrationCollectionsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of collateral items associated with the administration.",
            "example": [
              {
                "collateralId": "STANDARD",
                "partyId": "PARTY-127886",
                "assetType": "STANDARD",
                "marketValue": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "valuationDate": "2026-09-15",
                "securedExposureId": "STANDARD",
                "haircutPercent": 100.0,
                "lienStatus": "ACTIVE",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CollateralItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting information for the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the GET operation on collateral administration collections.",
        "example": {
          "items": [
            {
              "collateralId": "STANDARD",
              "partyId": "PARTY-127886",
              "assetType": "STANDARD",
              "marketValue": {
                "amount": 100.0,
                "currency": "USD"
              },
              "valuationDate": "2026-09-15",
              "securedExposureId": "STANDARD",
              "haircutPercent": 100.0,
              "lienStatus": "ACTIVE",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "5b309602-aecf-546e-99af-4aa4d087d8e9",
            "correlationId": "a4dc05d9-b5b1-5e2b-a9a5-30723f16446a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CollateralItem": {
        "type": "object",
        "properties": {
          "collateralId": {
            "type": "string",
            "description": "Unique identifier for the collateral.",
            "example": "collateral-001"
          },
          "partyId": {
            "type": "string",
            "description": "Identifier for the party associated with the collateral.",
            "example": "party-001"
          },
          "assetType": {
            "type": "string",
            "description": "Type of the asset that is being used as collateral.",
            "example": "real estate"
          },
          "marketValue": {
            "$ref": "#/components/schemas/MarketValue"
          },
          "valuationDate": {
            "type": "string",
            "description": "Date when the asset was valued.",
            "example": "2023-10-01"
          },
          "securedExposureId": {
            "type": "string",
            "description": "Identifier for the secured exposure related to the collateral.",
            "example": "secured-exposure-001"
          },
          "haircutPercent": {
            "type": "number",
            "description": "Haircut percentage applied to the market value of the collateral.",
            "example": 20.0
          },
          "lienStatus": {
            "type": "string",
            "description": "Current lien status of the collateral.",
            "example": "first lien"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Last update timestamp of the collateral record.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "Details of a specific collateral item."
      },
      "MarketValue": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The monetary value of the collateral.",
            "example": 250000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the market value is expressed.",
            "example": "USD"
          }
        },
        "description": "The market value of the collateral, including the amount and currency."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number in the paginated response.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The size of each page (number of items per page).",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Pagination information for the response."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate related requests.",
            "example": "correlation-001"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where processing occurred.",
            "example": "us-west"
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "collections-search-collections"
        },
        "example": "collections-search-collections"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses HTTP Bearer Authentication, which involves the use of a bearer token that is a JSON Web Token (JWT). Clients must include this token in the Authorization header of their requests to authenticate and gain access to the secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}