{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Platform Operation Status-spec",
    "description": "The Platform Operation Status API enables users to retrieve the current operational status of various banking platform operations. This API provides insights into the health and performance of IT management processes, ensuring that stakeholders can monitor and optimize system functionality. Typical consumers include IT managers and operational teams who require real-time data to make informed decisions regarding platform performance. By leveraging this API, organizations can proactively address issues and enhance service delivery.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/platform-operations/status": {
      "get": {
        "tags": [
          "Platform Operations"
        ],
        "summary": "Retrieve the current status of platform operations.",
        "description": "This endpoint allows users to obtain the latest status of platform operations within the IT management system. It provides crucial insights into uptime, functionality, and any ongoing issues that may affect operations.",
        "operationId": "listPlatformOperationStatus",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the current status of platform operations within the IT management system. It should contain information necessary for the server to understand which specific status details are requested.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListPlatformOperationStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The operation completed successfully and the current status is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListPlatformOperationStatusResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListPlatformOperationStatusRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on IT management platform operations status.",
        "example": "{}"
      },
      "ListPlatformOperationStatusResponse_200": {
        "title": "Platform Operations Status Response",
        "type": "object",
        "properties": {
          "systemId": {
            "type": "string",
            "description": "Unique identifier for the system.",
            "example": "STANDARD"
          },
          "environment": {
            "type": "string",
            "description": "The environment in which the system is operating (e.g., production, staging).",
            "example": "STANDARD"
          },
          "changeId": {
            "type": "string",
            "description": "Identifier for the change associated with the current state.",
            "example": "STANDARD"
          },
          "ownerTeam": {
            "type": "string",
            "description": "The team responsible for the system.",
            "example": "STANDARD"
          },
          "plannedAt": {
            "type": "string",
            "description": "Timestamp for when the operation was planned.",
            "example": "2026-08-11T12:00:00Z"
          },
          "serviceTier": {
            "type": "string",
            "description": "The service tier associated with the system (e.g., basic, premium).",
            "example": "STANDARD"
          },
          "availabilityTargetPercent": {
            "type": "number",
            "description": "The target percentage of availability for the service.",
            "example": 100.0
          },
          "maintenanceWindow": {
            "type": "string",
            "description": "Scheduled time for maintenance operations.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the record (e.g., active, inactive).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the response schema.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp for when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for retrieving the status of platform operations.",
        "example": {
          "systemId": "STANDARD",
          "environment": "STANDARD",
          "changeId": "STANDARD",
          "ownerTeam": "STANDARD",
          "plannedAt": "2026-08-11T12:00:00Z",
          "serviceTier": "STANDARD",
          "availabilityTargetPercent": 100.0,
          "maintenanceWindow": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "30faa7fe-c552-524e-9f3e-6da112770aa2",
            "correlationId": "ac998c30-cbec-5222-8044-d58548cec8b6",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp-112233"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier to trace related requests.",
            "example": "corr-445566"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-10T15:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "us-west-1"
          }
        },
        "description": "This schema contains metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that has been called. This can be used for tracking and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "platform-operations-get-platform-operations"
        },
        "example": "platform-operations-get-platform-operations"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the operation. This is useful to identify which application initiated the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method for HTTP requests, where a JSON Web Token (JWT) is used to authenticate the user. The JWT should be included in the 'Authorization' header as follows: 'Authorization: Bearer <token>'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}