{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Customer Voahistory-spec",
    "description": "The Customer Voahistory Management API allows businesses to create and manage the Voahistory records for customers. This functionality is essential for maintaining comprehensive customer profiles and tracking historical engagement. Typical consumers of this API include customer service teams and integration developers who need to enhance customer interactions based on past behaviors. The endpoint enables effective data management and improves the overall customer experience.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/decisioning/customers/{customerId}/voahistory": {
      "post": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Create a VoA history entry for a customer.",
        "description": "This endpoint allows you to create a new VoA history entry for a specified customer, providing essential data to maintain accurate records of the customer's transaction history and associated activities.",
        "operationId": "createCustomerVoahistory",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "description": "This request body contains the detailed information required to submit a new VOAHistory entry for customer CUST-100045. Ensure that all required fields are populated correctly to successfully process the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerVoahistoryRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted and is being processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCustomerVoahistoryResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCustomerVoahistoryRequest": {
        "title": "VOA History Request Body",
        "type": "object",
        "properties": {
          "accountIds": {
            "type": "string",
            "description": "A string representing account identifiers.",
            "example": "ACC-169722"
          },
          "reportCustomFields": {
            "type": "array",
            "description": "An array of custom fields for the report.",
            "example": [
              {
                "label": "STANDARD",
                "value": "STANDARD",
                "shown": true
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ReportCustomField"
            }
          },
          "showNsf": {
            "type": "boolean",
            "description": "Indicator of whether NSF (Non-Sufficient Funds) should be displayed.",
            "example": true
          },
          "fromDate": {
            "type": "integer",
            "description": "The starting date for the report represented as an integer timestamp.",
            "format": "int32",
            "example": 1
          },
          "incomeFromDate": {
            "type": "integer",
            "description": "The starting date for the income stream represented as an integer timestamp.",
            "format": "int32",
            "example": 1
          },
          "incomeStreamConfidenceMinimum": {
            "type": "integer",
            "description": "Minimum confidence level for the income stream.",
            "format": "int32",
            "example": 1
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "description": "Unique identifier for the request.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier for tracking the request across systems.",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "description": "Key used to ensure idempotency of the request.",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "description": "Timestamp of when the request was made.",
                "example": "2023-10-01T12:00:00Z"
              },
              "sourceSystem": {
                "type": "string",
                "description": "Identifier for the source system making the request.",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "description": "Identifier for the source application within the system.",
                "example": "string"
              },
              "channel": {
                "$ref": "#/components/schemas/Channel"
              }
            },
            "description": "Contextual information for the request.",
            "example": {
              "requestId": "a318f918-b89f-51d9-a99d-de1d8d0b47aa",
              "correlationId": "af7d45cb-9984-5c89-9979-fb0b432e6611",
              "idempotencyKey": "c9214b1e-c3c9-51b6-972d-03cd245c8363",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-938986"
              }
            }
          }
        },
        "description": "Request body for the VOA history operation, containing account information and report parameters.",
        "example": {
          "accountIds": "ACC-169722",
          "reportCustomFields": [
            {
              "label": "STANDARD",
              "value": "STANDARD",
              "shown": true
            }
          ],
          "showNsf": true,
          "fromDate": 1,
          "incomeFromDate": 1,
          "incomeStreamConfidenceMinimum": 1,
          "requestContext": {
            "requestId": "a318f918-b89f-51d9-a99d-de1d8d0b47aa",
            "correlationId": "af7d45cb-9984-5c89-9979-fb0b432e6611",
            "idempotencyKey": "c9214b1e-c3c9-51b6-972d-03cd245c8363",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-938986"
            }
          }
        }
      },
      "ReportCustomField": {
        "title": "Report Custom Field",
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "description": "Display label for the custom field.",
            "example": "Custom Label"
          },
          "value": {
            "type": "string",
            "description": "Value associated with the custom field.",
            "example": "Custom Value"
          },
          "shown": {
            "type": "boolean",
            "description": "Indicates if the custom field should be shown in the report.",
            "example": true
          }
        },
        "description": "Represents a custom field included in a report."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "channel1"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used for the request.",
            "example": "device123"
          }
        },
        "description": "Information about the channel through which the request is made."
      },
      "CreateCustomerVoahistoryResponse_202": {
        "title": "Customer VOAHistory Response",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the operation.",
            "example": "STANDARD"
          },
          "customerType": {
            "type": "string",
            "description": "Type of the customer.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "integer",
            "description": "Unique identifier for the customer.",
            "format": "int32",
            "example": 1
          },
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "0f88e1a0-f6d5-53ea-ac48-77aaa376a17c"
          },
          "requesterName": {
            "type": "string",
            "description": "Name of the person making the request.",
            "example": "Northstar Banking Service"
          },
          "endUser": {
            "description": "Information about the end user associated with the request.",
            "$ref": "#/components/schemas/EndUser"
          },
          "createdDate": {
            "type": "integer",
            "description": "Timestamp when the operation was created.",
            "format": "int32",
            "example": 1
          },
          "title": {
            "type": "string",
            "description": "Title of the operation.",
            "example": "Banking operation completed"
          },
          "consumerId": {
            "type": "string",
            "description": "Unique identifier for the consumer.",
            "example": "STANDARD"
          },
          "consumerSsn": {
            "type": "string",
            "description": "Social Security Number of the consumer.",
            "example": "STANDARD"
          },
          "consumerDetails": {
            "description": "Details about the consumer associated with the operation.",
            "$ref": "#/components/schemas/ConsumerDetails"
          },
          "disputeStatement": {
            "type": "string",
            "description": "Statement related to any disputes.",
            "example": "STANDARD"
          },
          "type": {
            "type": "string",
            "description": "Type of the operation.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the operation.",
            "example": "ACTIVE"
          },
          "constraints": {
            "description": "Constraints associated with the operation.",
            "$ref": "#/components/schemas/Constraints"
          },
          "metadata": {
            "description": "Additional metadata related to the operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for a customer's VOAHistory operation.",
        "example": {
          "id": "STANDARD",
          "customerType": "STANDARD",
          "customerId": 1,
          "requestId": "0f88e1a0-f6d5-53ea-ac48-77aaa376a17c",
          "requesterName": "Northstar Banking Service",
          "endUser": {
            "name": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "email": "olivia.bennett@northstar.example",
            "url": "https://banking.northstar.example/callbacks/status"
          },
          "createdDate": 1,
          "title": "Banking operation completed",
          "consumerId": "STANDARD",
          "consumerSsn": "STANDARD",
          "consumerDetails": {
            "id": "STANDARD",
            "firstName": "Northstar Banking Service",
            "middleName": "Northstar Banking Service",
            "lastName": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "ssn": "STANDARD",
            "email": "olivia.bennett@northstar.example"
          },
          "disputeStatement": "STANDARD",
          "type": "STANDARD",
          "status": "ACTIVE",
          "constraints": {
            "accountIds": [
              "ACC-976151"
            ],
            "reportCustomFields": [
              {
                "label": "STANDARD",
                "value": "STANDARD",
                "shown": true
              }
            ]
          },
          "metadata": {
            "responseId": "b348f2c8-ded4-57c9-9e01-a6353d6ca9f0",
            "correlationId": "af7d45cb-9984-5c89-9979-fb0b432e6611",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EndUser": {
        "title": "End User Information",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the end user.",
            "example": "string"
          },
          "address": {
            "type": "string",
            "description": "Address of the end user.",
            "example": "string"
          },
          "city": {
            "type": "string",
            "description": "City where the end user resides.",
            "example": "string"
          },
          "state": {
            "type": "string",
            "description": "State where the end user resides.",
            "example": "string"
          },
          "zip": {
            "type": "string",
            "description": "ZIP code for the end user's address.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the end user.",
            "example": "string"
          },
          "email": {
            "type": "string",
            "description": "Email address of the end user.",
            "example": "string"
          },
          "url": {
            "type": "string",
            "description": "URL associated with the end user.",
            "example": "string"
          }
        },
        "description": "Schema representing the end user's details."
      },
      "ConsumerDetails": {
        "title": "Consumer Details",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the consumer.",
            "example": "string"
          },
          "firstName": {
            "type": "string",
            "description": "First name of the consumer.",
            "example": "string"
          },
          "middleName": {
            "type": "string",
            "description": "Middle name of the consumer.",
            "example": "string"
          },
          "lastName": {
            "type": "string",
            "description": "Last name of the consumer.",
            "example": "string"
          },
          "address": {
            "type": "string",
            "description": "Address of the consumer.",
            "example": "string"
          },
          "city": {
            "type": "string",
            "description": "City where the consumer resides.",
            "example": "string"
          },
          "state": {
            "type": "string",
            "description": "State where the consumer resides.",
            "example": "string"
          },
          "zip": {
            "type": "string",
            "description": "ZIP code for the consumer's address.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the consumer.",
            "example": "string"
          },
          "ssn": {
            "type": "string",
            "description": "Social Security Number of the consumer.",
            "example": "string"
          },
          "email": {
            "type": "string",
            "description": "Email address of the consumer.",
            "example": "string"
          }
        },
        "description": "Schema representing detailed information about the consumer."
      },
      "Constraints": {
        "title": "Operation Constraints",
        "type": "object",
        "properties": {
          "accountIds": {
            "type": "array",
            "description": "List of account IDs associated with the operation.",
            "example": [
              "string"
            ],
            "items": {
              "type": "string",
              "description": "An account identifier.",
              "example": "string"
            }
          },
          "reportCustomFields": {
            "type": "array",
            "description": "List of custom fields for the report.",
            "items": {
              "type": "object",
              "properties": {
                "label": {
                  "type": "string",
                  "description": "Label for the custom field.",
                  "example": "string"
                },
                "value": {
                  "type": "string",
                  "description": "Value for the custom field.",
                  "example": "string"
                },
                "shown": {
                  "type": "boolean",
                  "description": "Indicates if the custom field is shown.",
                  "example": false
                }
              },
              "example": {
                "label": "string",
                "value": "string",
                "shown": false
              }
            }
          }
        },
        "description": "Schema representing the constraints associated with the operation."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request across services.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Schema representing additional metadata related to the operation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being called.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-generate-voa-with-income-report"
        },
        "example": "open-finance-api-generate-voa-with-income-report"
      },
      "X-Runtime-App": {
        "description": "Name of the application that is processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes HTTP Bearer authentication, where a JWT (JSON Web Token) is provided as a means of authorization. The client must include the token in the Authorization header when making API requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}