{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create P2m Webhook Endpoint Test-v5-spec",
    "description": "MICROSERVICE-PROD-Create P2m Webhook Endpoint Test-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/webhook-endpoints/{webhookEndpointId}/test": {
      "post": {
        "operationId": "createP2mWebhookEndpointTest",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/webhookEndpointId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateP2mWebhookEndpointTestRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "202Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateP2mWebhookEndpointTestResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateP2mWebhookEndpointTestRequest": {
        "type": "object",
        "properties": {
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "3a19a681-abf9-5644-8761-874020c70d76",
              "correlationId": "e0fa0151-289a-54cd-b4a9-36d25f8e3d83",
              "idempotencyKey": "234c1291-12c1-56b9-a0e3-53720ddf99f7",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-274531"
              }
            }
          }
        },
        "example": {
          "requestContext": {
            "requestId": "3a19a681-abf9-5644-8761-874020c70d76",
            "correlationId": "e0fa0151-289a-54cd-b4a9-36d25f8e3d83",
            "idempotencyKey": "234c1291-12c1-56b9-a0e3-53720ddf99f7",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-274531"
            }
          }
        }
      },
      "CreateP2mWebhookEndpointTestResponse_202": {
        "type": "object",
        "properties": {
          "eventId": {
            "type": "string",
            "example": "STANDARD"
          },
          "type": {
            "type": "string",
            "example": "STANDARD"
          },
          "occurredAt": {
            "type": "string",
            "example": "2026-08-11T12:00:00Z"
          },
          "merchantId": {
            "type": "string",
            "example": "MER-480941"
          },
          "resourceId": {
            "type": "string",
            "example": "RES-564757"
          },
          "resourceType": {
            "type": "string",
            "example": "STANDARD"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "043b5854-abae-53ce-9d09-8bcfdb7109f0",
              "correlationId": "e0fa0151-289a-54cd-b4a9-36d25f8e3d83",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "eventId": "STANDARD",
          "type": "STANDARD",
          "occurredAt": "2026-08-11T12:00:00Z",
          "merchantId": "MER-480941",
          "resourceId": "RES-564757",
          "resourceType": "STANDARD",
          "metadata": {
            "responseId": "043b5854-abae-53ce-9d09-8bcfdb7109f0",
            "correlationId": "e0fa0151-289a-54cd-b4a9-36d25f8e3d83",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "webhookEndpointId": {
        "name": "webhookEndpointId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-test-webhook-endpoint"
        },
        "example": "banking-p2m-openapi-test-webhook-endpoint"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}