{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Cash Flow Personalization API",
    "description": "The Cash Flow Personalization API allows businesses to tailor financial recommendations based on individual customer cash flow data. By submitting customer-specific cash flow details through this API, companies can assess and optimize financial offerings for their clients. Typical consumers of this API include financial institutions and fintech companies seeking to improve customer engagement and satisfaction through personalized insights. This API plays a crucial role in enhancing the customer experience by providing targeted solutions that meet unique financial needs.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/decisioning/customers/{customerId}/cashflowpersonal": {
      "post": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Create Cash Flow Personal Record",
        "description": "This operation allows you to create a new personal cash flow record for a specific customer, identified by their unique ID. Ensure that the required data is provided in the request body to successfully create the cash flow entry.",
        "operationId": "createCashflowPersonalForCustomer",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "description": "This request body allows you to create or update personal cash flow information for a specific customer (CUST-100045). The request must include valid customer data adhering to the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCashflowPersonalForCustomerRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted and is being processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCashflowPersonalForCustomerResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCashflowPersonalForCustomerRequest": {
        "title": "Cashflow Personal Operations Request",
        "type": "object",
        "properties": {
          "accountIds": {
            "type": "string",
            "description": "A string representing one or more account IDs.",
            "example": "ACC-110221"
          },
          "reportCustomFields": {
            "type": "array",
            "description": "An array of custom fields for the report.",
            "example": [
              {
                "label": "STANDARD",
                "value": "STANDARD",
                "shown": true
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CustomField"
            }
          },
          "showNsf": {
            "type": "boolean",
            "description": "Indicates whether to show NSF (Non-Sufficient Funds) transactions.",
            "example": true
          },
          "fromDate": {
            "type": "integer",
            "description": "The start date for the report, represented as a Unix timestamp.",
            "format": "int32",
            "example": 1
          },
          "incomeStreamConfidenceMinimum": {
            "type": "integer",
            "description": "The minimum confidence level for income streams.",
            "format": "int32",
            "example": 1
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for cashflow personal operations.",
        "example": {
          "accountIds": "ACC-110221",
          "reportCustomFields": [
            {
              "label": "STANDARD",
              "value": "STANDARD",
              "shown": true
            }
          ],
          "showNsf": true,
          "fromDate": 1,
          "incomeStreamConfidenceMinimum": 1,
          "requestContext": {
            "requestId": "57446530-6726-508a-86af-98c74d9e566c",
            "correlationId": "286a28e7-120f-57e4-87ad-297f094dd1fe",
            "idempotencyKey": "bccb19d0-5585-5100-9763-0a88312a7043",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-527834"
            }
          }
        }
      },
      "CustomField": {
        "title": "Custom Field",
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "description": "The label of the custom field.",
            "example": "Example Label"
          },
          "value": {
            "type": "string",
            "description": "The value associated with the custom field.",
            "example": "Example Value"
          },
          "shown": {
            "type": "boolean",
            "description": "Indicates if the custom field should be displayed.",
            "example": true
          }
        },
        "description": "A custom field containing a label, value, and visibility status."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "request-123"
          },
          "correlationId": {
            "type": "string",
            "description": "A correlation ID for tracing requests across systems.",
            "example": "correlation-456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure idempotency of the request.",
            "example": "idempotency-789"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-01-01T00:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifies the source system making the request.",
            "example": "source-system-name"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifies the application making the request.",
            "example": "source-application-name"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Details about the request context including identifiers and timestamps."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-abc"
          }
        },
        "description": "Describes the channel used for the request, including device information."
      },
      "CreateCashflowPersonalForCustomerResponse_202": {
        "title": "Cash Flow Personal Response",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the cash flow personal request.",
            "example": "STANDARD"
          },
          "customerType": {
            "type": "string",
            "description": "Type of the customer (e.g., individual, business).",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "integer",
            "description": "Identifier for the customer associated with the cash flow.",
            "format": "int32",
            "example": 1
          },
          "requestId": {
            "type": "string",
            "description": "Identifier for the specific request made.",
            "example": "1a6d8ecb-dcd4-52bf-9937-fc7dd0011d3a"
          },
          "requesterName": {
            "type": "string",
            "description": "Name of the person making the request.",
            "example": "Northstar Banking Service"
          },
          "endUser": {
            "description": "Information about the end user of the cash flow.",
            "$ref": "#/components/schemas/EndUser"
          },
          "createdDate": {
            "type": "integer",
            "description": "Timestamp of when the record was created.",
            "format": "int32",
            "example": 1
          },
          "title": {
            "type": "string",
            "description": "Title of the cash flow personal operation.",
            "example": "Banking operation completed"
          },
          "consumerId": {
            "type": "string",
            "description": "Identifier for the consumer associated with the cash flow.",
            "example": "STANDARD"
          },
          "consumerSsn": {
            "type": "string",
            "description": "Social Security Number of the consumer.",
            "example": "STANDARD"
          },
          "consumerDetails": {
            "description": "Detailed information about the consumer.",
            "$ref": "#/components/schemas/ConsumerDetails"
          },
          "disputeStatement": {
            "type": "string",
            "description": "Statement of any disputes related to the cash flow.",
            "example": "STANDARD"
          },
          "type": {
            "type": "string",
            "description": "Type of operation for the cash flow (e.g., withdrawal, deposit).",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the cash flow request.",
            "example": "ACTIVE"
          },
          "constraints": {
            "description": "Constraints related to the cash flow request.",
            "$ref": "#/components/schemas/Constraints"
          },
          "metadata": {
            "description": "Additional metadata regarding the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for a cash flow personal operation.",
        "example": {
          "id": "STANDARD",
          "customerType": "STANDARD",
          "customerId": 1,
          "requestId": "1a6d8ecb-dcd4-52bf-9937-fc7dd0011d3a",
          "requesterName": "Northstar Banking Service",
          "endUser": {
            "name": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "email": "olivia.bennett@northstar.example",
            "url": "https://banking.northstar.example/callbacks/status"
          },
          "createdDate": 1,
          "title": "Banking operation completed",
          "consumerId": "STANDARD",
          "consumerSsn": "STANDARD",
          "consumerDetails": {
            "id": "STANDARD",
            "firstName": "Northstar Banking Service",
            "middleName": "Northstar Banking Service",
            "lastName": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "ssn": "STANDARD",
            "email": "olivia.bennett@northstar.example"
          },
          "disputeStatement": "STANDARD",
          "type": "STANDARD",
          "status": "ACTIVE",
          "constraints": {
            "accountIds": [
              "ACC-657090"
            ],
            "reportCustomFields": [
              {
                "label": "STANDARD",
                "value": "STANDARD",
                "shown": true
              }
            ]
          },
          "metadata": {
            "responseId": "850ef11c-6233-52b1-9269-aedb02b2832b",
            "correlationId": "286a28e7-120f-57e4-87ad-297f094dd1fe",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EndUser": {
        "title": "End User Information",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Full name of the end user.",
            "example": "string"
          },
          "address": {
            "type": "string",
            "description": "Street address of the end user.",
            "example": "string"
          },
          "city": {
            "type": "string",
            "description": "City where the end user resides.",
            "example": "string"
          },
          "state": {
            "type": "string",
            "description": "State where the end user resides.",
            "example": "string"
          },
          "zip": {
            "type": "string",
            "description": "ZIP code of the end user's address.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "Contact phone number of the end user.",
            "example": "string"
          },
          "email": {
            "type": "string",
            "description": "Email address of the end user.",
            "example": "string"
          },
          "url": {
            "type": "string",
            "description": "Website or URL associated with the end user.",
            "example": "string"
          }
        },
        "description": "Schema representing the details of the end user."
      },
      "ConsumerDetails": {
        "title": "Consumer Details",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the consumer.",
            "example": "string"
          },
          "firstName": {
            "type": "string",
            "description": "First name of the consumer.",
            "example": "string"
          },
          "middleName": {
            "type": "string",
            "description": "Middle name of the consumer, if applicable.",
            "example": "string"
          },
          "lastName": {
            "type": "string",
            "description": "Last name of the consumer.",
            "example": "string"
          },
          "address": {
            "type": "string",
            "description": "Street address of the consumer.",
            "example": "string"
          },
          "city": {
            "type": "string",
            "description": "City where the consumer resides.",
            "example": "string"
          },
          "state": {
            "type": "string",
            "description": "State where the consumer resides.",
            "example": "string"
          },
          "zip": {
            "type": "string",
            "description": "ZIP code of the consumer's address.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "Contact phone number of the consumer.",
            "example": "string"
          },
          "ssn": {
            "type": "string",
            "description": "Social Security Number of the consumer.",
            "example": "string"
          },
          "email": {
            "type": "string",
            "description": "Email address of the consumer.",
            "example": "string"
          }
        },
        "description": "Schema representing detailed information about the consumer."
      },
      "Constraints": {
        "title": "Constraints Information",
        "type": "object",
        "properties": {
          "accountIds": {
            "type": "array",
            "description": "List of account IDs involved in the cash flow.",
            "items": {
              "type": "string",
              "example": "accountId123"
            }
          },
          "reportCustomFields": {
            "type": "array",
            "description": "Custom fields for reporting.",
            "items": {
              "$ref": "#/components/schemas/ReportCustomField"
            }
          }
        },
        "description": "Schema representing constraints related to the cash flow operation."
      },
      "ReportCustomField": {
        "title": "Custom Field for Reporting",
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "description": "Label for the custom field.",
            "example": "Category"
          },
          "value": {
            "type": "string",
            "description": "Value associated with the custom field.",
            "example": "Utilities"
          },
          "shown": {
            "type": "boolean",
            "description": "Indicates if the custom field should be shown.",
            "example": false
          }
        },
        "description": "Schema representing a custom field used for reporting purposes."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "responseId123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request across services.",
            "example": "correlationId456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Schema representing metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "This header indicates the unique identifier for the API endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-generate-cash-flow-personal-report"
        },
        "example": "open-finance-api-generate-cash-flow-personal-report"
      },
      "X-Runtime-App": {
        "description": "This header provides information about the application runtime environment, facilitating traceability and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes bearer authentication, incorporating a JSON Web Token (JWT) format for secure access. Clients must include the token in the Authorization header of requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}