{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Payment Financial Message Analysis-spec",
    "description": "The Payment Financial Message Analysis API enables users to retrieve detailed analysis of payment financial messages, facilitating efficient transaction monitoring and reporting. This endpoint provides insights into payment trends, discrepancies, and performance metrics, making it an essential tool for financial institutions and compliance teams. Typical consumers include bank officials, financial analysts, and risk management teams who require real-time data for decision-making. By leveraging this API, organizations can enhance their operational efficiency and gain a clearer understanding of their payment processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/payments/financial-message-analysis": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Retrieve financial message analysis.",
        "description": "Fetches the analysis for financial messages, providing insights and details relevant to the financial data processed. This endpoint serves developers looking to understand the structure and content of financial messages for better decision-making.",
        "operationId": "listPaymentFinancialMessageAnalysis",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving the financial message analysis. It contains the necessary parameters to perform the analysis on financial transactions.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListPaymentFinancialMessageAnalysisRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and the financial message analysis results have been returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListPaymentFinancialMessageAnalysisResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListPaymentFinancialMessageAnalysisRequest": {
        "type": "string",
        "description": "A string that represents the request body for the financial message analysis operation in the payments API.",
        "example": "{}"
      },
      "ListPaymentFinancialMessageAnalysisResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of payment records.",
            "example": [
              {
                "paymentId": "PAY-759367",
                "debtorAccountId": "ACC-286303",
                "creditorAccountId": "ACC-653872",
                "instructedAmount": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "requestedExecutionDate": "2026-09-15",
                "remittanceInformation": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/PaymentRecord"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting parameter for the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for the financial message analysis operations.",
        "example": {
          "items": [
            {
              "paymentId": "PAY-759367",
              "debtorAccountId": "ACC-286303",
              "creditorAccountId": "ACC-653872",
              "instructedAmount": {
                "amount": 100.0,
                "currency": "USD"
              },
              "requestedExecutionDate": "2026-09-15",
              "remittanceInformation": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "fbefdef1-a223-594e-b64d-e12faf1889cc",
            "correlationId": "4a380603-feee-5cb4-bca6-e36f93ee737c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentRecord": {
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment."
          },
          "debtorAccountId": {
            "type": "string",
            "description": "Unique identifier for the debtor's account."
          },
          "creditorAccountId": {
            "type": "string",
            "description": "Unique identifier for the creditor's account."
          },
          "instructedAmount": {
            "$ref": "#/components/schemas/Money"
          },
          "requestedExecutionDate": {
            "type": "string",
            "description": "The requested execution date for the payment."
          },
          "remittanceInformation": {
            "type": "string",
            "description": "Information about the remittance."
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the payment record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp for when the payment record was last updated."
          }
        },
        "description": "Schema representing an individual payment record."
      },
      "Money": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The numerical value of the amount."
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is specified."
          }
        },
        "description": "Schema representing a monetary amount with currency."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32"
          }
        },
        "description": "Schema for pagination information of the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracking the correlation of requester and response."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place."
          }
        },
        "description": "Schema for metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "financial-message-analysis-search-financial-message-analysis"
        },
        "example": "financial-message-analysis-search-financial-message-analysis"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using a Bearer token, formatted as a JSON Web Token (JWT). This allows the client to securely authenticate itself with the server by including the token in the Authorization header of requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}