{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Banking Human Resource Management Travel Expenses-v5-spec",
    "description": "The Travel Expenses Management API provides a comprehensive solution for organizations to efficiently manage employee travel expenses within the banking sector. It allows for the retrieval of detailed records of travel expenditures, facilitating better financial reporting and analysis. Typical consumers include finance teams and travel coordinators who require insights into spending patterns and compliance with corporate policies. This API serves as a crucial tool in enhancing budget management and improving operational efficiency in travel expense oversight.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/travel-expenses": {
      "get": {
        "tags": [
          "Travel Management"
        ],
        "summary": "Retrieve travel expense records.",
        "description": "Fetch a list of travel expenses submitted by employees within the human resource management system. This endpoint allows you to view all relevant expense details, ensuring effective tracking and management of travel-related costs.",
        "operationId": "listBankingHumanResourceManagementTravelExpenses",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve travel expenses in the Human Resource Management system. It allows for querying and filtering of travel expenses based on provided criteria.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListBankingHumanResourceManagementTravelExpensesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved travel expenses data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBankingHumanResourceManagementTravelExpensesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListBankingHumanResourceManagementTravelExpensesRequest": {
        "type": "string",
        "description": "This schema represents the request body for the Travel Expenses operation in the Human Resource Management system.",
        "example": "{}"
      },
      "ListBankingHumanResourceManagementTravelExpensesResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "Array of travel expense items.",
            "example": [
              {
                "expenseReportId": "STANDARD",
                "employeeId": "EMP-445603",
                "tripPurpose": "STANDARD",
                "expensePeriod": {
                  "from": "2026-08-11",
                  "to": "2026-08-11"
                },
                "claimedAmount": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "costCenter": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/TravelExpenseItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for retrieving travel expenses in the Human Resource Management system.",
        "example": {
          "items": [
            {
              "expenseReportId": "STANDARD",
              "employeeId": "EMP-445603",
              "tripPurpose": "STANDARD",
              "expensePeriod": {
                "from": "2026-08-11",
                "to": "2026-08-11"
              },
              "claimedAmount": {
                "amount": 100.0,
                "currency": "USD"
              },
              "costCenter": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "4f1fae06-d10f-5170-a29a-d5dbdc0901ea",
            "correlationId": "60f173e3-8bb1-59a4-8bb8-693f4887e935",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "TravelExpenseItem": {
        "type": "object",
        "properties": {
          "expenseReportId": {
            "type": "string",
            "description": "Unique identifier for the expense report."
          },
          "employeeId": {
            "type": "string",
            "description": "Unique identifier for the employee who incurred the expenses."
          },
          "tripPurpose": {
            "type": "string",
            "description": "The purpose of the trip."
          },
          "expensePeriod": {
            "$ref": "#/components/schemas/ExpensePeriod"
          },
          "claimedAmount": {
            "$ref": "#/components/schemas/ClaimedAmount"
          },
          "costCenter": {
            "type": "string",
            "description": "Identifier for the cost center associated with the expense."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the expense record."
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time the expense was last updated."
          }
        },
        "description": "Detailed information about a travel expense item."
      },
      "ExpensePeriod": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "description": "Start date of the expense period in ISO 8601 format."
          },
          "to": {
            "type": "string",
            "description": "End date of the expense period in ISO 8601 format."
          }
        },
        "description": "Period during which the expenses were incurred."
      },
      "ClaimedAmount": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Total amount claimed.",
            "format": "float"
          },
          "currency": {
            "type": "string",
            "description": "Currency code of the claimed amount."
          }
        },
        "description": "Amount claimed for the travel expense."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Information about pagination in the response."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for the correlation of related requests."
          },
          "generatedAt": {
            "type": "string",
            "description": "The date and time when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request took place."
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "travel-and-expenses-search-travel-and-expenses"
        },
        "example": "travel-and-expenses-search-travel-and-expenses"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme allows the use of bearer tokens sent in the HTTP Authorization header using the Bearer authentication method. The tokens are in JWT (JSON Web Token) format, which is widely used for secure authentication and information exchange.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}