{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Account Transactions-spec",
    "description": "The Account Transaction Retrieval API allows users to access detailed transaction data associated with a specific bank account. By utilizing this API, financial institutions and third-party service providers can facilitate transaction overviews for account holders, enabling enhanced financial management and reporting. This endpoint supports the retrieval of a comprehensive list of transactions for a given account identified by its unique account ID. Typical consumers of this API include banking applications, personal finance management tools, and audit systems that require transaction history for analysis.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/aisp/accounts/{accountId}/transactions": {
      "get": {
        "tags": [
          "AISP Account Management"
        ],
        "summary": "Retrieve transactions for a specific AISP account.",
        "description": "Fetch a list of all transactions associated with the AISP account identified by ACC-200045. This endpoint allows users to track their financial activities and monitor their spending over time.",
        "operationId": "listAccountTransactions",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to fetch transaction details for a specific account identified by ACC-200045. It must conform to the schema defined for this operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListAccountTransactionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of transactions for the specified account.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAccountTransactionsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListAccountTransactionsRequest": {
        "type": "string",
        "description": "This schema represents the request body for a GET operation on transactions related to a specific account.",
        "example": "{}"
      },
      "ListAccountTransactionsResponse_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "Transaction": {
                "type": "array",
                "description": "List of transactions associated with the account.",
                "items": {
                  "$ref": "#/components/schemas/Transaction"
                }
              }
            },
            "description": "Holds the transaction data.",
            "example": {
              "Transaction": [
                {
                  "AccountId": "ACC-487474",
                  "id": "STANDARD",
                  "reference": "STANDARD",
                  "StatementReference": [
                    "STANDARD"
                  ],
                  "CreditDebitIndicator": "STANDARD",
                  "Status": "ACTIVE",
                  "mutability": "STANDARD",
                  "BookingDateTime": "2026-09-15T14:30:00Z",
                  "ValueDateTime": "2026-09-15T14:30:00Z",
                  "information": "STANDARD",
                  "AddressLine": "STANDARD",
                  "Amount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  },
                  "ChargeAmount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  },
                  "CurrencyExchange": {
                    "SourceCurrency": "USD",
                    "TargetCurrency": "USD",
                    "UnitCurrency": "USD",
                    "ExchangeRate": 100.0,
                    "ContractIdentification": "STANDARD",
                    "QuotationDate": "2026-09-15",
                    "InstructedAmount": {
                      "Amount": "1250.75",
                      "Currency": "USD"
                    }
                  },
                  "BankTransactionCode": {
                    "Code": "SUCCESS",
                    "SubCode": "CODE-911"
                  },
                  "code": {
                    "Code": "SUCCESS",
                    "Issuer": "STANDARD"
                  },
                  "ExtendedProprietaryBankTransactionCodes": [
                    {
                      "Code": "SUCCESS",
                      "Issuer": "STANDARD",
                      "Description": "Customer banking request processed successfully"
                    }
                  ],
                  "Balance": {
                    "CreditDebitIndicator": "STANDARD",
                    "Type": "STANDARD",
                    "Amount": {
                      "Amount": "1250.75",
                      "Currency": "USD"
                    }
                  },
                  "MerchantDetails": {
                    "MerchantName": "Northstar Banking Service"
                  }
                }
              ]
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "ID for correlating multiple related requests.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp indicating when the response was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the processing occurred.",
                "example": "string"
              }
            },
            "description": "Metadata about the response.",
            "example": {
              "responseId": "30580a67-e2dd-5391-b45d-146e86911043",
              "correlationId": "318d758c-3e8b-5963-9d0a-8a6d3eb8d186",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for the GET Transactions operation related to account ACC-200045.",
        "example": {
          "Data": {
            "Transaction": [
              {
                "AccountId": "ACC-487474",
                "id": "STANDARD",
                "reference": "STANDARD",
                "StatementReference": [
                  "STANDARD"
                ],
                "CreditDebitIndicator": "STANDARD",
                "Status": "ACTIVE",
                "mutability": "STANDARD",
                "BookingDateTime": "2026-09-15T14:30:00Z",
                "ValueDateTime": "2026-09-15T14:30:00Z",
                "information": "STANDARD",
                "AddressLine": "STANDARD",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "ChargeAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "CurrencyExchange": {
                  "SourceCurrency": "USD",
                  "TargetCurrency": "USD",
                  "UnitCurrency": "USD",
                  "ExchangeRate": 100.0,
                  "ContractIdentification": "STANDARD",
                  "QuotationDate": "2026-09-15",
                  "InstructedAmount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  }
                },
                "BankTransactionCode": {
                  "Code": "SUCCESS",
                  "SubCode": "CODE-911"
                },
                "code": {
                  "Code": "SUCCESS",
                  "Issuer": "STANDARD"
                },
                "ExtendedProprietaryBankTransactionCodes": [
                  {
                    "Code": "SUCCESS",
                    "Issuer": "STANDARD",
                    "Description": "Customer banking request processed successfully"
                  }
                ],
                "Balance": {
                  "CreditDebitIndicator": "STANDARD",
                  "Type": "STANDARD",
                  "Amount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  }
                },
                "MerchantDetails": {
                  "MerchantName": "Northstar Banking Service"
                }
              }
            ]
          },
          "metadata": {
            "responseId": "30580a67-e2dd-5391-b45d-146e86911043",
            "correlationId": "318d758c-3e8b-5963-9d0a-8a6d3eb8d186",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Transaction": {
        "type": "object",
        "properties": {
          "AccountId": {
            "type": "string",
            "description": "Identifier for the account this transaction belongs to.",
            "example": "string"
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the transaction.",
            "example": "string"
          },
          "reference": {
            "type": "string",
            "description": "Reference number for the transaction.",
            "example": "string"
          },
          "StatementReference": {
            "type": "array",
            "description": "List of statement references associated with the transaction.",
            "items": {
              "type": "string",
              "example": "string"
            }
          },
          "CreditDebitIndicator": {
            "type": "string",
            "description": "Indicates whether the transaction is a credit or debit.",
            "example": "string"
          },
          "Status": {
            "type": "string",
            "description": "Current status of the transaction.",
            "example": "string"
          },
          "mutability": {
            "type": "string",
            "description": "Indicates whether the transaction is mutable or not.",
            "example": "string"
          },
          "BookingDateTime": {
            "type": "string",
            "description": "Date and time when the transaction was booked.",
            "example": "string"
          },
          "ValueDateTime": {
            "type": "string",
            "description": "Value date and time of the transaction.",
            "example": "string"
          },
          "information": {
            "type": "string",
            "description": "Additional information about the transaction.",
            "example": "string"
          },
          "AddressLine": {
            "type": "string",
            "description": "Address line related to the transaction.",
            "example": "string"
          },
          "Amount": {
            "description": "Amount related to the transaction.",
            "$ref": "#/components/schemas/Amount"
          },
          "ChargeAmount": {
            "description": "Charges applicable to the transaction.",
            "$ref": "#/components/schemas/Amount"
          },
          "CurrencyExchange": {
            "description": "Currency exchange details if applicable.",
            "$ref": "#/components/schemas/CurrencyExchange"
          },
          "BankTransactionCode": {
            "description": "Code detailing the type of bank transaction.",
            "$ref": "#/components/schemas/BankTransactionCode"
          },
          "code": {
            "description": "Proprietary code associated with the transaction.",
            "$ref": "#/components/schemas/ProprietaryCode"
          },
          "ExtendedProprietaryBankTransactionCodes": {
            "type": "array",
            "description": "List of extended proprietary bank transaction codes.",
            "items": {
              "$ref": "#/components/schemas/ExtendedProprietaryBankTransactionCode"
            }
          },
          "Balance": {
            "description": "Balance details of the account after the transaction.",
            "$ref": "#/components/schemas/Balance"
          },
          "MerchantDetails": {
            "description": "Details about the merchant involved in the transaction.",
            "$ref": "#/components/schemas/MerchantDetails"
          }
        },
        "description": "Details of a financial transaction."
      },
      "Amount": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The amount value.",
            "example": "string"
          },
          "Currency": {
            "type": "string",
            "description": "The currency of the amount.",
            "example": "string"
          }
        },
        "description": "Represents an amount and its currency."
      },
      "CurrencyExchange": {
        "type": "object",
        "properties": {
          "SourceCurrency": {
            "type": "string",
            "description": "The currency from which the conversion is made.",
            "example": "string"
          },
          "TargetCurrency": {
            "type": "string",
            "description": "The currency to which the conversion is made.",
            "example": "string"
          },
          "UnitCurrency": {
            "type": "string",
            "description": "The unit currency used in the exchange.",
            "example": "string"
          },
          "ExchangeRate": {
            "type": "number",
            "description": "The exchange rate applied for the conversion.",
            "example": 0.0
          },
          "ContractIdentification": {
            "type": "string",
            "description": "Identifier for the currency exchange contract.",
            "example": "string"
          },
          "QuotationDate": {
            "type": "string",
            "description": "Date when the exchange rate was quoted.",
            "example": "string"
          },
          "InstructedAmount": {
            "description": "The amount instructed for the currency exchange.",
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "Details of currency exchange related to a transaction."
      },
      "BankTransactionCode": {
        "type": "object",
        "properties": {
          "Code": {
            "type": "string",
            "description": "The main code for the bank transaction.",
            "example": "string"
          },
          "SubCode": {
            "type": "string",
            "description": "Sub-code providing further detail on the bank transaction.",
            "example": "string"
          }
        },
        "description": "Bank transaction code detailing the type of transaction."
      },
      "ProprietaryCode": {
        "type": "object",
        "properties": {
          "Code": {
            "type": "string",
            "description": "The proprietary code.",
            "example": "string"
          },
          "Issuer": {
            "type": "string",
            "description": "The issuer of the proprietary code.",
            "example": "string"
          }
        },
        "description": "Proprietary code related to the transaction."
      },
      "ExtendedProprietaryBankTransactionCode": {
        "type": "object",
        "properties": {
          "Code": {
            "type": "string",
            "description": "The extended code for the bank transaction.",
            "example": "string"
          },
          "Issuer": {
            "type": "string",
            "description": "The issuer of the extended code.",
            "example": "string"
          },
          "Description": {
            "type": "string",
            "description": "Description of the extended bank transaction code.",
            "example": "string"
          }
        },
        "description": "Extended proprietary bank transaction code details."
      },
      "Balance": {
        "type": "object",
        "properties": {
          "CreditDebitIndicator": {
            "type": "string",
            "description": "Indicates if the balance is a credit or debit.",
            "example": "string"
          },
          "Type": {
            "type": "string",
            "description": "Type of balance (e.g., available balance, current balance).",
            "example": "string"
          },
          "Amount": {
            "description": "Current amount and currency of the balance.",
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "Details of the balance status of the account."
      },
      "MerchantDetails": {
        "type": "object",
        "properties": {
          "MerchantName": {
            "type": "string",
            "description": "Name of the merchant.",
            "example": "string"
          }
        },
        "description": "Information regarding the merchant involved in the transaction."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-api-get-accounts-account-id-transactions"
        },
        "example": "accounts-api-get-accounts-account-id-transactions"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method where a JWT (JSON Web Token) is required in the 'Authorization' header of the request. It is suitable for scenarios where you need to pass non-sensitive user credentials or information between the client and the server.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}