{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Legal Advisory Services API",
    "description": "The Legal Advisory Services API provides businesses with the ability to update and manage their legal advisory requests effectively. This API endpoint allows for the modification of existing legal advisory service details, ensuring that enterprises can maintain accurate and up-to-date legal documentation. Typical consumers include legal teams, compliance officers, and enterprise application developers looking to integrate legal advisory functionalities into their workflows. By utilizing this API, organizations can streamline their legal processes and enhance operational efficiencies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/enterprise-services/legal-advisory/{param1}": {
      "patch": {
        "tags": [
          "Legal Advisory"
        ],
        "summary": "Update Legal Advisory Resource",
        "description": "This endpoint allows you to update details of the specified legal advisory resource identified by RES-100045. Make sure to provide the necessary fields in the request body to ensure the update is successful.",
        "operationId": "patchLegalAdvisoryResource100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body allows you to update legal advisory details for the resource with ID RES-100045. Ensure that the fields provided in the request body adhere to the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchLegalAdvisoryResource100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful, and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchLegalAdvisoryResource100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchLegalAdvisoryResource100045Request": {
        "type": "object",
        "properties": {
          "changes": {
            "description": "The changes being requested in the legal advisory operation.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the requested changes.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user requesting the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for the PATCH operation in legal advisory services.",
        "example": {
          "changes": {
            "engagementId": "STANDARD",
            "scope": "STANDARD",
            "framework": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "1cf2bfda-b0fd-52b5-9352-cd4b05f17c01",
            "correlationId": "81bb326b-b072-5c94-b79b-7d263bf1c389",
            "idempotencyKey": "c01f9331-07a1-5625-8656-36b154d1458c",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-138389"
            }
          }
        }
      },
      "Changes": {
        "type": "object",
        "properties": {
          "engagementId": {
            "type": "string",
            "description": "The ID of the engagement related to the changes.",
            "example": "engagement_001"
          },
          "scope": {
            "type": "string",
            "description": "The scope of the changes being requested.",
            "example": "Review and modify contract"
          },
          "framework": {
            "type": "string",
            "description": "The framework under which the changes are being made.",
            "example": "Contractual Framework"
          }
        },
        "description": "Schema representing the specific changes requested in legal advisory services."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "request_001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to track the correlation of requests.",
            "example": "correlation_001"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotent operation requests.",
            "example": "key_001"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-09-30T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "Legal Management System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "Legal App"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema providing contextual information about the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "channel_001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel used for the request.",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device_001"
          }
        },
        "description": "Schema for information about the channel used to make the request."
      },
      "PatchLegalAdvisoryResource100045Response_200": {
        "title": "Legal Advisory Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response format.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the response.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the response was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "This schema represents the response structure for the legal advisory operation.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "456618b4-9339-5be8-bcba-33ce0075a79d",
            "correlationId": "81bb326b-b072-5c94-b79b-7d263bf1c389",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "abc123"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier that correlates this response with related processes.",
            "example": "xyz789"
          },
          "generatedAt": {
            "type": "string",
            "description": "The date and time when the response was generated.",
            "example": "2023-09-30T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "US-East"
          }
        },
        "description": "This schema contains metadata regarding the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Uniquely identifies the API endpoint that was called, allowing for easier tracking and logging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "legal-advisory-update-legal-advisory"
        },
        "example": "legal-advisory-update-legal-advisory"
      },
      "X-Runtime-App": {
        "description": "Indicates the runtime application version that processed the request, useful for identifying potential issues or behaviors tied to specific versions.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes a Bearer authentication method, where a valid JSON Web Token (JWT) must be included in the request header to authenticate the user. The token serves as proof of identity and provides access control to the API.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}