{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Direct Debits Information API",
    "description": "The Direct Debits Information API provides access to detailed information about direct debit arrangements for a specified account. This endpoint allows consumers to retrieve comprehensive data concerning recurring payment setups that are linked to their bank accounts. Financial institutions, payment service providers, and other fintech applications can utilize this API to enhance user experience by displaying direct debit details. Users typically leverage this API to manage their financial commitments effectively and gain insightful overviews of their account activities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/aisp/accounts/{accountId}/direct-debits": {
      "get": {
        "tags": [
          "Account Services"
        ],
        "summary": "Retrieve direct debits for a specific account.",
        "description": "This endpoint allows you to fetch all direct debits associated with the account identified by the given account number. It provides the details necessary for understanding the account's direct debit arrangements.",
        "operationId": "getDirectDebitsForAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving direct debit information associated with the specified account. This request allows the client to fetch pertinent details and status of the direct debits linked to the account identified by 'ACC-200045'.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetDirectDebitsForAccountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the list of direct debits.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDirectDebitsForAccountResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetDirectDebitsForAccountRequest": {
        "type": "string",
        "description": "A JSON string representing the request body for retrieving direct debit operations for the specified account.",
        "example": "{}"
      },
      "GetDirectDebitsForAccountResponse_200": {
        "title": "Direct Debits Response Schema",
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "DirectDebit": {
                "type": "array",
                "description": "A list of direct debit operations.",
                "items": {
                  "$ref": "#/components/schemas/DirectDebit"
                }
              }
            },
            "example": {
              "DirectDebit": [
                {
                  "AccountId": "ACC-113753",
                  "id": "STANDARD",
                  "statusCode": "CODE-966",
                  "MandateRelatedInformation": {
                    "MandateIdentification": "2026-09-15",
                    "Classification": "STANDARD",
                    "CategoryPurposeCode": "CODE-224",
                    "FirstPaymentDateTime": "2026-09-15T14:30:00Z",
                    "RecurringPaymentDateTime": "2026-09-15T14:30:00Z",
                    "FinalPaymentDateTime": "2026-09-15T14:30:00Z",
                    "Frequency": {
                      "Type": "STANDARD",
                      "CountPerPeriod": 1,
                      "PointInTime": "STANDARD"
                    },
                    "Reason": "STANDARD"
                  },
                  "Name": "Northstar Banking Service",
                  "PreviousPaymentDateTime": "2026-09-15T14:30:00Z",
                  "PreviousPaymentAmount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  }
                }
              ]
            }
          },
          "Links": {
            "type": "object",
            "properties": {
              "Self": {
                "type": "string",
                "description": "Link to the current page.",
                "example": "https://api.example.com/current"
              },
              "First": {
                "type": "string",
                "description": "Link to the first page.",
                "example": "https://api.example.com/first"
              },
              "Prev": {
                "type": "string",
                "description": "Link to the previous page.",
                "example": "https://api.example.com/prev"
              },
              "Next": {
                "type": "string",
                "description": "Link to the next page.",
                "example": "https://api.example.com/next"
              },
              "Last": {
                "type": "string",
                "description": "Link to the last page.",
                "example": "https://api.example.com/last"
              }
            },
            "description": "Links for navigation through pages of data.",
            "example": {
              "Self": "https://example.com/resource",
              "First": "https://example.com/resource",
              "Prev": "https://example.com/resource",
              "Next": "https://example.com/resource",
              "Last": "https://example.com/resource"
            }
          },
          "Meta": {
            "type": "object",
            "properties": {
              "TotalPages": {
                "type": "integer",
                "description": "Total number of pages available.",
                "format": "int32",
                "example": 5
              },
              "FirstAvailableDateTime": {
                "type": "string",
                "description": "Date and time for the first available direct debit.",
                "example": "2023-01-01T00:00:00Z"
              },
              "LastAvailableDateTime": {
                "type": "string",
                "description": "Date and time for the last available direct debit.",
                "example": "2023-12-31T23:59:59Z"
              }
            },
            "description": "Metadata about the response.",
            "example": {
              "TotalPages": 1,
              "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
              "LastAvailableDateTime": "2026-09-15T14:30:00Z"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "abc123"
              },
              "correlationId": {
                "type": "string",
                "description": "Correlation ID for tracking requests.",
                "example": "def456"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the response was generated.",
                "example": "2023-01-01T12:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the request was processed.",
                "example": "EU"
              }
            },
            "description": "Additional metadata details.",
            "example": {
              "responseId": "15ede050-1f10-57bd-a96d-9af0b7cca6ba",
              "correlationId": "52f0b2f9-87bf-50fe-bc99-8b8947995495",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Schema representing the response structure for the direct debits operation.",
        "example": {
          "Data": {
            "DirectDebit": [
              {
                "AccountId": "ACC-113753",
                "id": "STANDARD",
                "statusCode": "CODE-966",
                "MandateRelatedInformation": {
                  "MandateIdentification": "2026-09-15",
                  "Classification": "STANDARD",
                  "CategoryPurposeCode": "CODE-224",
                  "FirstPaymentDateTime": "2026-09-15T14:30:00Z",
                  "RecurringPaymentDateTime": "2026-09-15T14:30:00Z",
                  "FinalPaymentDateTime": "2026-09-15T14:30:00Z",
                  "Frequency": {
                    "Type": "STANDARD",
                    "CountPerPeriod": 1,
                    "PointInTime": "STANDARD"
                  },
                  "Reason": "STANDARD"
                },
                "Name": "Northstar Banking Service",
                "PreviousPaymentDateTime": "2026-09-15T14:30:00Z",
                "PreviousPaymentAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            ]
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource",
            "Next": "https://example.com/resource",
            "Last": "https://example.com/resource"
          },
          "Meta": {
            "TotalPages": 1,
            "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
            "LastAvailableDateTime": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "responseId": "15ede050-1f10-57bd-a96d-9af0b7cca6ba",
            "correlationId": "52f0b2f9-87bf-50fe-bc99-8b8947995495",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "DirectDebit": {
        "title": "DirectDebit",
        "type": "object",
        "properties": {
          "AccountId": {
            "type": "string",
            "description": "The ID of the account associated with the direct debit.",
            "example": "acc-123456"
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the direct debit.",
            "example": "dd-654321"
          },
          "statusCode": {
            "type": "string",
            "description": "The status of the direct debit.",
            "example": "active"
          },
          "MandateRelatedInformation": {
            "type": "object",
            "properties": {
              "MandateIdentification": {
                "type": "string",
                "description": "Identification number of the mandate.",
                "example": "mandate-001"
              },
              "Classification": {
                "type": "string",
                "description": "Classification of the mandate.",
                "example": "CREDIT_TRANSFER"
              },
              "CategoryPurposeCode": {
                "type": "string",
                "description": "Category purpose code for the mandate.",
                "example": "17"
              },
              "FirstPaymentDateTime": {
                "type": "string",
                "description": "Date and time for the first payment.",
                "example": "2023-01-01T10:00:00Z"
              },
              "RecurringPaymentDateTime": {
                "type": "string",
                "description": "Date and time for recurring payments.",
                "example": "2023-02-01T10:00:00Z"
              },
              "FinalPaymentDateTime": {
                "type": "string",
                "description": "Date and time for the final payment.",
                "example": "2023-12-01T10:00:00Z"
              },
              "Frequency": {
                "$ref": "#/components/schemas/Frequency"
              },
              "Reason": {
                "type": "string",
                "description": "Reason for the direct debit.",
                "example": "Monthly subscription"
              }
            },
            "description": "Information related to the payment mandate."
          },
          "Name": {
            "type": "string",
            "description": "The name associated with the direct debit.",
            "example": "John Doe"
          },
          "PreviousPaymentDateTime": {
            "type": "string",
            "description": "Date and time of the previous payment.",
            "example": "2022-12-01T10:00:00Z"
          },
          "PreviousPaymentAmount": {
            "type": "object",
            "properties": {
              "Amount": {
                "type": "string",
                "description": "Amount of the previous payment.",
                "example": "100.00"
              },
              "Currency": {
                "type": "string",
                "description": "Currency of the previous payment.",
                "example": "USD"
              }
            },
            "description": "Details of the previous payment amount."
          }
        },
        "description": "Schema representing a single direct debit operation."
      },
      "Frequency": {
        "title": "Frequency",
        "type": "object",
        "properties": {
          "Type": {
            "type": "string",
            "description": "Type of frequency.",
            "example": "monthly"
          },
          "CountPerPeriod": {
            "type": "integer",
            "description": "Number of payments per period.",
            "format": "int32",
            "example": 1
          },
          "PointInTime": {
            "type": "string",
            "description": "Specific point in time related to the frequency.",
            "example": "2023-01-01T10:00:00Z"
          }
        },
        "description": "Schema representing the payment frequency details."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request. This helps in tracking and logging the API calls.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-api-get-accounts-account-id-direct-debits"
        },
        "example": "accounts-api-get-accounts-account-id-direct-debits"
      },
      "X-Runtime-App": {
        "description": "The name of the application that made the request. This is useful for identifying the client application in logs.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication, where the client must include a valid JSON Web Token (JWT) in the authorization header of the request. The JWT is used to verify the identity of the client and authorize access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}