{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Marketing By Param1-spec",
    "description": "The Prospect Campaign Design Update API allows users to modify existing marketing campaign designs identified by a unique parameter. This endpoint is essential for marketing teams seeking to adjust campaigns based on performance data or strategic shifts. By utilizing this API, users can implement targeted changes to improve engagement and conversion rates. Typical consumers include marketing analysts and campaign managers who require programmable access to campaign configurations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/marketing/prospect-campaign-design/{param1}": {
      "patch": {
        "tags": [
          "Prospect Campaign Management"
        ],
        "summary": "Update the prospect campaign design.",
        "description": "This operation allows you to update the details of an existing prospect campaign design identified by the unique resource ID. Ensure that the data sent in the request body aligns with the required schema for the campaign design.",
        "operationId": "updateMarketingByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the details of the prospect campaign design identified by RES-100045. The provided JSON payload must adhere to the defined schema, which includes all necessary fields to successfully modify the campaign attributes.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMarketingByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request processed successfully, returning updated resource data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateMarketingByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateMarketingByParam1Request": {
        "type": "object",
        "properties": {
          "changes": {
            "description": "Contains the modifications made to the campaign design.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the changes being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user who requested the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contains contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing a request body for patching campaign design operations.",
        "example": {
          "changes": {
            "campaignId": "STANDARD",
            "targetSegmentId": "STANDARD",
            "channelMix": [
              "STANDARD"
            ]
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "a6974446-c444-566a-b68f-fac791b81bac",
            "correlationId": "5fdf31b4-fd88-5d73-bf65-f86226ca73a8",
            "idempotencyKey": "f087f555-216c-5c9b-ba55-c95454d472ce",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-500858"
            }
          }
        }
      },
      "Changes": {
        "type": "object",
        "properties": {
          "campaignId": {
            "type": "string",
            "description": "The unique identifier for the campaign.",
            "example": "campaign-12345"
          },
          "targetSegmentId": {
            "type": "string",
            "description": "The identifier of the target segment for the campaign.",
            "example": "segment-67890"
          },
          "channelMix": {
            "type": "array",
            "description": "A list of communication channels to be used in the campaign.",
            "items": {
              "type": "string",
              "description": "The identifier of a specific channel.",
              "example": "email"
            }
          }
        },
        "description": "Schema representing the details of the changes to be applied."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier of the request.",
            "example": "req-123456789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple requests.",
            "example": "corr-987654321"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to prevent duplicate processing of the request.",
            "example": "idempotency-unique-key"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-01-01T00:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that initiated the request.",
            "example": "CRM System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that originated the request.",
            "example": "Marketing App"
          },
          "channel": {
            "description": "Details about the channel used for the request.",
            "$ref": "#/components/schemas/ChannelContext"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "ChannelContext": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the communication channel.",
            "example": "channel-abc"
          },
          "channelType": {
            "type": "string",
            "description": "The type of communication channel.",
            "example": "email"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used to make the request.",
            "example": "device-xyz"
          }
        },
        "description": "Schema representing details about the communication channel used."
      },
      "UpdateMarketingByParam1Response_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The current status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the resource was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional information about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response object for the PATCH operation related to the campaign design.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "0a9767bb-9f9d-5570-87c7-6575832a7184",
            "correlationId": "5fdf31b4-fd88-5d73-bf65-f86226ca73a8",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to track the request across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata containing contextual information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the specific endpoint that was invoked during the request. This helps in tracking and logging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "prospect-campaign-design-update-prospect-campaign-design"
        },
        "example": "prospect-campaign-design-update-prospect-campaign-design"
      },
      "X-Runtime-App": {
        "description": "The name of the application runtime environment from which the request originated, providing context for the server response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using JSON Web Tokens (JWT) via Bearer tokens, which must be included in the Authorization header of requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}