{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Operational Service Leasing Item Administrations-spec",
    "description": "The Operational Service Leasing Item Administration API provides access to critical details about leasing items managed within operational services. This API allows users to retrieve comprehensive information on leasing items, including their specifications and current status. It is particularly useful for financial institutions, leasing companies, and service administrators who need to efficiently manage leasing operations and track item availability. Typical use cases include generating reports, conducting audits, and integrating leasing data with other financial applications.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/leasing-item-administration": {
      "get": {
        "tags": [
          "Leasing Management"
        ],
        "summary": "Retrieve leasing item administration details.",
        "description": "This endpoint allows users to fetch detailed information regarding the administration of leasing items, including their current status, associated contacts, and leasing terms. It is essential for managing leasing operations effectively.",
        "operationId": "listOperationalServiceLeasingItemAdministrations",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information for the leasing item administration operation. It requires a well-structured JSON object that adheres to the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListOperationalServiceLeasingItemAdministrationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully; returns the requested leasing item data.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOperationalServiceLeasingItemAdministrationsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListOperationalServiceLeasingItemAdministrationsRequest": {
        "type": "string",
        "description": "The request body for the operational services leasing item administration operation. This body should contain a string representation of the request payload.",
        "example": "{}"
      },
      "ListOperationalServiceLeasingItemAdministrationsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of leasing items",
            "example": [
              {
                "operationId": "STANDARD",
                "customerId": "CUST-585182",
                "accountId": "ACC-628341",
                "requestedAt": "2026-08-11T12:00:00Z",
                "priority": "NORMAL",
                "leasedAssetId": "STANDARD",
                "residualValue": {
                  "amount": 100,
                  "currency": "USD"
                },
                "leaseTermMonths": 1,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/LeasingItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sort order of the items",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for listing leasing items in an operational service",
        "example": {
          "items": [
            {
              "operationId": "STANDARD",
              "customerId": "CUST-585182",
              "accountId": "ACC-628341",
              "requestedAt": "2026-08-11T12:00:00Z",
              "priority": "NORMAL",
              "leasedAssetId": "STANDARD",
              "residualValue": {
                "amount": 100,
                "currency": "USD"
              },
              "leaseTermMonths": 1,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "a692c513-d876-57e2-be63-59c5edd02945",
            "correlationId": "0ded8ade-c54e-5855-b1cc-a334d9c90d87",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "LeasingItem": {
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "Unique identifier for the operation"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the operation was requested"
          },
          "priority": {
            "type": "string",
            "description": "Priority level of the request"
          },
          "leasedAssetId": {
            "type": "string",
            "description": "Unique identifier for the leased asset"
          },
          "residualValue": {
            "$ref": "#/components/schemas/ResidualValue"
          },
          "leaseTermMonths": {
            "type": "integer",
            "description": "Duration of the lease in months",
            "format": "int32"
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the leasing record"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the record was last updated"
          }
        },
        "description": "Detailed information about a leasing item"
      },
      "ResidualValue": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "integer",
            "description": "Amount representing the residual value",
            "format": "int32"
          },
          "currency": {
            "type": "string",
            "description": "Currency code for the residual value"
          }
        },
        "description": "The residual value of a leased asset"
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available",
            "format": "int32"
          }
        },
        "description": "Pagination information for the response"
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking related requests"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred"
          }
        },
        "description": "Metadata related to the API response"
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint that processed the request. This ID can be used for tracking and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "leasing-item-administration-search-leasing-item-administration"
        },
        "example": "leasing-item-administration-search-leasing-item-administration"
      },
      "x-runtime-app": {
        "description": "The name of the application or service that handled the request. This helps identify the source of the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication, which requires the client to provide a JSON Web Token (JWT) in the Authorization header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}