{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Product Inventory Item Creation API",
    "description": "The Product Inventory Item Creation API enables businesses to efficiently add new products to their inventory. This service is essential for retail and inventory management applications, where managing product availability is crucial. Users can input essential product details, ensuring their records are updated in real-time. Retailers and supply chain managers typically leverage this API to enhance stock levels, streamline operations, and improve product catalog accuracy.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/product-inventory-item-management": {
      "post": {
        "tags": [
          "Product Inventory Management"
        ],
        "summary": "Create a new product inventory item for a specific channel.",
        "description": "This operation allows you to create a new product inventory item that is specific to a particular channel. Make sure to provide the necessary details in the request body to successfully register the item in the inventory.",
        "operationId": "createChannelSpecificProductInventoryItem",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create or update product inventory items specific to a channel. Ensure that the payload adheres to the defined schema for product inventory management. The request must include the necessary fields consistent with the operations being performed.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateChannelSpecificProductInventoryItemRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully, indicating a new inventory item has been added.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateChannelSpecificProductInventoryItemResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateChannelSpecificProductInventoryItemRequest": {
        "type": "object",
        "properties": {
          "inventoryItemId": {
            "type": "string",
            "description": "Unique identifier for the inventory item.",
            "example": "STANDARD"
          },
          "sku": {
            "type": "string",
            "description": "Stock Keeping Unit associated with the inventory item.",
            "example": "STANDARD"
          },
          "branchId": {
            "type": "string",
            "description": "Identifier for the branch where the inventory item is located.",
            "example": "STANDARD"
          },
          "quantityOnHand": {
            "type": "integer",
            "description": "The current quantity of the inventory item available at the branch.",
            "format": "int32",
            "example": 1
          },
          "reorderPoint": {
            "type": "integer",
            "description": "The inventory level at which a new order should be placed.",
            "format": "int32",
            "example": 1
          },
          "distributionQuantity": {
            "type": "integer",
            "description": "The quantity of the inventory item to be distributed.",
            "format": "int32",
            "example": 1
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for managing product inventory items through a POST operation.",
        "example": {
          "inventoryItemId": "STANDARD",
          "sku": "STANDARD",
          "branchId": "STANDARD",
          "quantityOnHand": 1,
          "reorderPoint": 1,
          "distributionQuantity": 1,
          "requestContext": {
            "requestId": "fb10c423-7738-5d65-b46a-88798bf33db9",
            "correlationId": "7c56d044-02aa-576b-afd3-b2fa390a9f53",
            "idempotencyKey": "bf99ce66-1302-5b47-b3ee-690f09458530",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-863152"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to track related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that repeated operations are only processed once.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application initiating the request.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "The context for the request, including tracing and identification information."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., online, offline).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used for the request.",
            "example": "string"
          }
        },
        "description": "Details of the channel from which the request is made."
      },
      "CreateChannelSpecificProductInventoryItemResponse_201": {
        "title": "Product Inventory Item Management Response",
        "type": "object",
        "properties": {
          "inventoryItemId": {
            "type": "string",
            "description": "Unique identifier for the inventory item.",
            "example": "STANDARD"
          },
          "branchId": {
            "type": "string",
            "description": "Identifier for the branch associated with the inventory item.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "Identifier for the resource linked to the inventory item.",
            "example": "RES-744837"
          },
          "status": {
            "type": "string",
            "description": "Current status of the inventory item.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the inventory item was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for the product inventory item management operations.",
        "example": {
          "inventoryItemId": "STANDARD",
          "branchId": "STANDARD",
          "resourceId": "RES-744837",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "bfa3e164-a7a4-58c8-92c6-25fca879b239",
            "correlationId": "7c56d044-02aa-576b-afd3-b2fa390a9f53",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses.",
            "example": "correlation-001"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the processing was performed.",
            "example": "us-east-1"
          }
        },
        "description": "Schema representing additional metadata information related to the inventory item response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "product-inventory-item-management-create-product-inventory-item-management"
        },
        "example": "product-inventory-item-management-create-product-inventory-item-management"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which requires the client to provide a JSON Web Token (JWT) for authorization. The JWT is usually obtained after successful authentication and should be included in the Authorization header of the request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}