{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Knowledge Asset Knowledge Exchange-spec",
    "description": "The Knowledge Asset Creation API enables users to create and manage knowledge assets within the banking system. This API provides a streamlined way for organizations to develop, submit, and integrate knowledge resources into their knowledge exchange framework. Typical consumers include developers working on banking applications, knowledge management teams, and innovators seeking to enhance informational assets. With robust functionality, this endpoint supports organizations in leveraging knowledge to improve decision-making and operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/knowledge-assets/knowledge-exchange": {
      "post": {
        "tags": [
          "Knowledge Exchange"
        ],
        "summary": "Exchange knowledge assets.",
        "description": "This endpoint facilitates the exchange of knowledge assets between parties, allowing users to share, retrieve, or manage valuable information efficiently.",
        "operationId": "createKnowledgeAssetKnowledgeExchange",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used for exchanging knowledge assets. It should contain the necessary data structured as per the defined schema for successful exchange operations.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateKnowledgeAssetKnowledgeExchangeRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully, indicating the operation was completed without issues.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateKnowledgeAssetKnowledgeExchangeResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateKnowledgeAssetKnowledgeExchangeRequest": {
        "type": "object",
        "properties": {
          "knowledgeItemId": {
            "type": "string",
            "description": "The unique identifier for the knowledge item.",
            "example": "STANDARD"
          },
          "topic": {
            "type": "string",
            "description": "The topic or subject area of the knowledge item.",
            "example": "STANDARD"
          },
          "authorId": {
            "type": "string",
            "description": "The identifier for the author of the knowledge item.",
            "example": "STANDARD"
          },
          "audience": {
            "type": "string",
            "description": "The intended audience for the knowledge item.",
            "example": "STANDARD"
          },
          "publishedAt": {
            "type": "string",
            "description": "The date and time when the knowledge item was published.",
            "example": "2026-08-11T12:00:00Z"
          },
          "requestContext": {
            "description": "Contextual information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "example": {
          "knowledgeItemId": "STANDARD",
          "topic": "STANDARD",
          "authorId": "STANDARD",
          "audience": "STANDARD",
          "publishedAt": "2026-08-11T12:00:00Z",
          "requestContext": {
            "requestId": "0a3f1b2e-68e1-51f3-8c0b-c2f6f8d1f72e",
            "correlationId": "712e9bc6-c212-55da-aa66-bee7bf82e947",
            "idempotencyKey": "9a13219b-6b8c-54a7-a4c6-ebb49a2734f7",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-196542"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req_001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to trace the request across different services.",
            "example": "corr_456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the request is idempotent.",
            "example": "idemp_key_abc"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system initiating the request.",
            "example": "system_A"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the source application initiating the request.",
            "example": "app_123"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        }
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel_789"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., WEB, MOBILE).",
            "example": "WEB"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device_321"
          }
        }
      },
      "CreateKnowledgeAssetKnowledgeExchangeResponse_201": {
        "title": "Knowledge Exchange Response",
        "type": "object",
        "properties": {
          "knowledgeItemId": {
            "type": "string",
            "description": "Unique identifier for the knowledge item.",
            "example": "STANDARD"
          },
          "authorId": {
            "type": "string",
            "description": "Identifier for the author of the knowledge item.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "Identifier for the associated resource.",
            "example": "RES-578136"
          },
          "status": {
            "type": "string",
            "description": "Current status of the knowledge item.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the knowledge item was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the knowledge item, providing additional context.",
            "$ref": "#/components/schemas/KnowledgeMetadata"
          }
        },
        "description": "Response schema for the knowledge exchange API upon successful POST operation, containing information about the knowledge item created or updated.",
        "example": {
          "knowledgeItemId": "STANDARD",
          "authorId": "STANDARD",
          "resourceId": "RES-578136",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "e419951a-4afe-527c-bb21-7e53318d3b4e",
            "correlationId": "712e9bc6-c212-55da-aa66-bee7bf82e947",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "KnowledgeMetadata": {
        "title": "Knowledge Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response_001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to track related requests and responses.",
            "example": "correlation_001"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the processing of the request was carried out.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata schema contains additional information related to the knowledge item."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "knowledge-exchange-create-knowledge-exchange"
        },
        "example": "knowledge-exchange-create-knowledge-exchange"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses Bearer tokens. This method is commonly used to handle JSON Web Tokens (JWT) which can be sent in the Authorization header for accessing secure resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}