{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Customer Bill Pay Switches-spec",
    "description": "This endpoint provides access to the Bill Pay switch settings for a specific customer. By using a customer ID, users can retrieve details about the customer's Bill Pay preferences, allowing for effective management of payment services. Typical consumers include customer support teams and account managers who need to view and manage Bill Pay configurations for their clients. This information is essential for ensuring that customers have appropriate payment options tailored to their needs.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/transfer/customers/{customerId}/bill-pay-switches": {
      "get": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Retrieve bill pay switches for a specific customer.",
        "description": "This endpoint fetches the bill pay switches associated with the customer identified by the unique customer ID 'CUST-100045'. It provides details on the available bill pay options and their current status.",
        "operationId": "listCustomerBillPaySwitches",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to specify parameters for retrieving the bill pay switches associated with customer CUST-100045.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListCustomerBillPaySwitchesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the bill pay switches data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCustomerBillPaySwitchesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListCustomerBillPaySwitchesRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on bill pay switches for a specific customer.",
        "example": "{}"
      },
      "ListCustomerBillPaySwitchesResponse_200": {
        "title": "Bill Pay Switches Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-283337"
          },
          "customerType": {
            "type": "string",
            "description": "Type of the customer (e.g., individual, corporate).",
            "example": "STANDARD"
          },
          "switches": {
            "type": "array",
            "description": "List of switches associated with the customer.",
            "example": [
              {
                "id": "STANDARD",
                "status": "ACTIVE",
                "failureReason": "STANDARD",
                "createdDate": "2026-09-15"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Switch"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for the Bill Pay Switches operation.",
        "example": {
          "customerId": "CUST-283337",
          "customerType": "STANDARD",
          "switches": [
            {
              "id": "STANDARD",
              "status": "ACTIVE",
              "failureReason": "STANDARD",
              "createdDate": "2026-09-15"
            }
          ],
          "metadata": {
            "responseId": "35a81f3a-af56-5433-8d02-e2a5b7574119",
            "correlationId": "47df3abb-caf8-5ad9-8bb9-290630d16fdd",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Switch": {
        "title": "Switch Information",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the switch.",
            "example": "SWITCH-001"
          },
          "status": {
            "type": "string",
            "description": "Current status of the switch (e.g., active, inactive).",
            "example": "active"
          },
          "failureReason": {
            "type": "string",
            "description": "Reason for failure if the switch is inactive.",
            "example": "Insufficient funds"
          },
          "createdDate": {
            "type": "string",
            "description": "Date when the switch was created.",
            "example": "2023-01-01T00:00:00Z"
          }
        },
        "description": "Schema representing an individual switch's details."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID to trace the request across services.",
            "example": "CORR-7891011"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "us-west-2"
          }
        },
        "description": "Schema containing metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-all-pay-switches"
        },
        "example": "open-finance-api-get-all-pay-switches"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is executing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method and requires a valid JSON Web Token (JWT) to be included in the Authorization header for accessing secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}