{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Replace P2m By Param1-spec",
    "description": "The Webhook Endpoint Management API allows users to update specific webhook endpoints identified by a parameter. This operation is essential for businesses that need to adjust their integration settings dynamically, ensuring they can adapt to changing data flows or application requirements. Developers can utilize this API to modify configurations related to their webhook callbacks, catering to various use cases where real-time data interaction is critical. Common consumers include application developers and system integrators managing webhooks within their service architectures.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/webhook-endpoints/{param1}": {
      "put": {
        "tags": [
          "Webhook Management"
        ],
        "summary": "Update a specific webhook endpoint.",
        "description": "This operation allows you to update the details of the webhook endpoint identified by RES-100045. Make sure to provide the necessary data in the request body to reflect the desired changes.",
        "operationId": "replaceP2mByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the configuration of the webhook endpoint with the specified identifier. Ensure that you provide all necessary details as defined in the schema to successfully perform the update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceP2mByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceP2mByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ReplaceP2mByParam1Request": {
        "title": "Webhook Endpoint Update Request",
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant.",
            "example": "MER-618303"
          },
          "url": {
            "type": "string",
            "description": "The URL endpoint where webhook notifications will be sent.",
            "example": "https://example.com/resource"
          },
          "description": {
            "type": "string",
            "description": "A brief description of the webhook endpoint.",
            "example": "Customer banking request processed successfully"
          },
          "events": {
            "type": "array",
            "description": "List of events that this webhook will listen to.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "A specific event name.",
              "example": "ORDER_CREATED"
            }
          },
          "secretRotationPolicyDays": {
            "type": "integer",
            "description": "Number of days after which webhook secrets must be rotated.",
            "format": "int32",
            "example": 1
          },
          "requestContext": {
            "description": "Context information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for updating a webhook endpoint.",
        "example": {
          "merchantId": "MER-618303",
          "url": "https://example.com/resource",
          "description": "Customer banking request processed successfully",
          "events": [
            "STANDARD"
          ],
          "secretRotationPolicyDays": 1,
          "requestContext": {
            "requestId": "c229830c-e9b0-5156-ac02-688f4f7158ff",
            "correlationId": "b8d09ee3-421a-500d-98cc-da0aaaa935a7",
            "idempotencyKey": "9f7c145e-0e99-5d3c-9c49-730bd9161cf6",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-500135"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses.",
            "example": "correlation-67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency for the request.",
            "example": "idempotency-key-abc"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System that initiated the request.",
            "example": "WebApp"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Specific application that initiated the request.",
            "example": "PaymentService"
          },
          "channel": {
            "description": "Details about the channel from which the request originated.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Details about the request context for the webhook operation."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., Web, Mobile).",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-789"
          }
        },
        "description": "Details about the communication channel from which the request was made."
      },
      "ReplaceP2mByParam1Response_200": {
        "title": "Webhook Endpoint Response",
        "type": "object",
        "properties": {
          "webhookEndpointId": {
            "type": "string",
            "description": "Unique identifier for the webhook endpoint.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant associated with the webhook.",
            "example": "MER-672339"
          },
          "url": {
            "type": "string",
            "description": "The URL to which the webhook sends events.",
            "example": "https://example.com/resource"
          },
          "description": {
            "type": "string",
            "description": "A human-readable description of the webhook endpoint.",
            "example": "Customer banking request processed successfully"
          },
          "events": {
            "type": "array",
            "description": "List of events that the webhook is subscribed to.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "The name of the event.",
              "example": "order.created"
            }
          },
          "status": {
            "type": "string",
            "description": "Current status of the webhook endpoint.",
            "example": "ACTIVE"
          },
          "secretLastRotatedAt": {
            "type": "string",
            "description": "Timestamp of when the webhook secret was last rotated.",
            "example": "2026-08-11T12:00:00Z"
          },
          "lastDeliveryAt": {
            "type": "string",
            "description": "Timestamp of the last delivery to the webhook URL.",
            "example": "2026-08-11T12:00:00Z"
          },
          "lastDeliveryStatus": {
            "type": "string",
            "description": "Status of the last delivery attempt.",
            "example": "ACTIVE"
          },
          "audit": {
            "description": "Audit information for the webhook endpoint.",
            "$ref": "#/components/schemas/WebhookAudit"
          },
          "metadata": {
            "description": "Additional metadata related to the webhook response.",
            "$ref": "#/components/schemas/WebhookMetadata"
          }
        },
        "description": "Schema representing the response for updating a webhook endpoint.",
        "example": {
          "webhookEndpointId": "STANDARD",
          "merchantId": "MER-672339",
          "url": "https://example.com/resource",
          "description": "Customer banking request processed successfully",
          "events": [
            "STANDARD"
          ],
          "status": "ACTIVE",
          "secretLastRotatedAt": "2026-08-11T12:00:00Z",
          "lastDeliveryAt": "2026-08-11T12:00:00Z",
          "lastDeliveryStatus": "ACTIVE",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "be316011-9d3a-5425-b708-aab6dec5e290",
            "correlationId": "b8d09ee3-421a-500d-98cc-da0aaaa935a7",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "WebhookAudit": {
        "title": "Webhook Audit",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the webhook endpoint was created.",
            "example": "2023-10-01T11:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier for the user or system that created the webhook endpoint.",
            "example": "system"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the webhook endpoint.",
            "example": "2023-10-02T11:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier for the user or system that last updated the webhook endpoint.",
            "example": "admin"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the webhook configuration.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Details about the creation and modification of the webhook endpoint."
      },
      "WebhookMetadata": {
        "title": "Webhook Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "rsp_789"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking requests.",
            "example": "corr_012"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "2023-10-02T12:00:01Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "us-west"
          }
        },
        "description": "Additional metadata related to the webhook response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-replace-webhook-endpoint"
        },
        "example": "banking-p2m-openapi-replace-webhook-endpoint"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token for authentication. The token should be a valid JSON Web Token (JWT) which will be included in the `Authorization` header of the HTTP requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}