{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Banking Facilities Equipment Maintenance By Equipment Maintenance Id-v5-spec",
    "description": "This API allows users to update specific details related to the maintenance of banking facilities equipment identified by a unique maintenance ID. It supports the modification of attributes associated with maintenance records, enabling organizations to efficiently manage their equipment upkeep. Common users include facility managers and maintenance personnel who require real-time updates to track and enhance operational efficiency. This API streamlines the maintenance record management process, ensuring that data remains accurate and up to date.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/facilities/equipment-maintenance/{equipmentMaintenanceId}": {
      "patch": {
        "tags": [
          "Equipment Maintenance"
        ],
        "summary": "Update the maintenance details for specific equipment.",
        "description": "This operation allows the user to update maintenance records for the equipment identified by RES-100045. It provides flexibility in modifying various attributes related to the maintenance status, schedules, and notes associated with the equipment.",
        "operationId": "updateBankingFacilitiesEquipmentMaintenanceByEquipmentMaintenanceId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/equipmentMaintenanceId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the equipment maintenance details for a specific facility. It requires the specification of fields that indicate the changes to be made, ensuring that any required data is provided to successfully perform the update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBankingFacilitiesEquipmentMaintenanceByEquipmentMaintenanceIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The update was successful and the resource is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateBankingFacilitiesEquipmentMaintenanceByEquipmentMaintenanceIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateBankingFacilitiesEquipmentMaintenanceByEquipmentMaintenanceIdRequest": {
        "title": "PatchRequestBody",
        "type": "object",
        "properties": {
          "changes": {
            "$ref": "#/components/schemas/ChangeDetails"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The effective date and time for the change.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier for the user requesting the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for PATCH operations on equipment maintenance.",
        "example": {
          "changes": {
            "siteId": "STANDARD",
            "assetId": "STANDARD",
            "workOrderId": "ORD-929596"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "562928a8-efa8-5e0d-8cdc-3ba74b30abdf",
            "correlationId": "fe9d6279-f0c8-5387-8d51-7a97b74c9336",
            "idempotencyKey": "a1874c1d-b974-5389-b8cc-d5d5e5a019ac",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-903375"
            }
          }
        }
      },
      "ChangeDetails": {
        "title": "ChangeDetails",
        "type": "object",
        "properties": {
          "siteId": {
            "type": "string",
            "description": "The identifier for the site where the asset is located.",
            "example": "string"
          },
          "assetId": {
            "type": "string",
            "description": "The identifier for the asset being modified.",
            "example": "string"
          },
          "workOrderId": {
            "type": "string",
            "description": "The identifier for the work order associated with the change.",
            "example": "string"
          }
        },
        "description": "Details regarding the changes being requested for equipment maintenance."
      },
      "RequestContext": {
        "title": "RequestContext",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure the request is idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/ChannelDetails"
          }
        },
        "description": "Contextual information about the request."
      },
      "ChannelDetails": {
        "title": "ChannelDetails",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The identifier for the channel used in the request.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used (e.g., web, mobile, etc.).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device being used.",
            "example": "string"
          }
        },
        "description": "Information about the channel through which the request was made."
      },
      "UpdateBankingFacilitiesEquipmentMaintenanceByEquipmentMaintenanceIdResponse_200": {
        "title": "Operations Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response format.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the operation was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response object for operations handling equipment maintenance.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "208cc15e-297d-53de-829b-648e7a5ec18c",
            "correlationId": "fe9d6279-f0c8-5387-8d51-7a97b74c9336",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracking the correlation of requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp representing when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request took place.",
            "example": "string"
          }
        },
        "description": "Metadata containing additional details about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "equipmentMaintenanceId": {
        "name": "equipmentMaintenanceId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that has been called, allowing for easier tracking and logging of API requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "equipment-maintenance-update-equipment-maintenance"
        },
        "example": "equipment-maintenance-update-equipment-maintenance"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the request, useful for monitoring and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method using JSON Web Tokens (JWT) for secure access and authorization.",
        "name": "Authorization",
        "in": "header",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}