{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update P2m Qr Payment Request By Qr Payment Request Id-v5-spec",
    "description": "MICROSERVICE-PROD-Update P2m Qr Payment Request By Qr Payment Request Id-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/qr-payment-requests/{qrPaymentRequestId}": {
      "patch": {
        "operationId": "updateP2mQrPaymentRequestByQrPaymentRequestId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/qrPaymentRequestId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateP2mQrPaymentRequestByQrPaymentRequestIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateP2mQrPaymentRequestByQrPaymentRequestIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateP2mQrPaymentRequestByQrPaymentRequestIdRequest": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "example": "string"
              },
              "value": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "description": {
            "type": "string",
            "example": "Customer banking request processed successfully"
          },
          "tipOptions": {
            "type": "object",
            "properties": {
              "mode": {
                "type": "string",
                "example": "string"
              },
              "fixedAmounts": {
                "type": "array",
                "example": "string",
                "items": {
                  "type": "object",
                  "properties": {
                    "currency": {
                      "type": "string",
                      "example": "string"
                    },
                    "value": {
                      "type": "string",
                      "example": "string"
                    }
                  },
                  "example": "string"
                }
              },
              "percentages": {
                "type": "array",
                "example": "string",
                "items": {
                  "type": "string",
                  "example": "string"
                }
              },
              "maximumTip": {
                "type": "object",
                "properties": {
                  "currency": {
                    "type": "string",
                    "example": "string"
                  },
                  "value": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "mode": "STANDARD",
              "fixedAmounts": [
                {
                  "currency": "USD",
                  "value": "STANDARD"
                }
              ],
              "percentages": [
                "STANDARD"
              ],
              "maximumTip": {
                "currency": "USD",
                "value": "STANDARD"
              }
            }
          },
          "expiresAt": {
            "type": "string",
            "example": "2026-08-11T12:00:00Z"
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "febe0d64-688b-525c-8760-df4b6508d866",
              "correlationId": "b55bb90e-e0f5-5395-833e-98ede86cb16b",
              "idempotencyKey": "c2a9ec1b-70cf-57be-831e-49e5e9d513ea",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-223091"
              }
            }
          }
        },
        "example": {
          "amount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "description": "Customer banking request processed successfully",
          "tipOptions": {
            "mode": "STANDARD",
            "fixedAmounts": [
              {
                "currency": "USD",
                "value": "STANDARD"
              }
            ],
            "percentages": [
              "STANDARD"
            ],
            "maximumTip": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "expiresAt": "2026-08-11T12:00:00Z",
          "requestContext": {
            "requestId": "febe0d64-688b-525c-8760-df4b6508d866",
            "correlationId": "b55bb90e-e0f5-5395-833e-98ede86cb16b",
            "idempotencyKey": "c2a9ec1b-70cf-57be-831e-49e5e9d513ea",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-223091"
            }
          }
        }
      },
      "UpdateP2mQrPaymentRequestByQrPaymentRequestIdResponse_200": {
        "type": "object",
        "properties": {
          "qrPaymentRequestId": {
            "type": "string",
            "example": "649f7fa2-92ab-5c1d-9a5f-e25a0529dcba"
          },
          "merchantId": {
            "type": "string",
            "example": "MER-831543"
          },
          "outletId": {
            "type": "string",
            "example": "STANDARD"
          },
          "terminalId": {
            "type": "string",
            "example": "STANDARD"
          },
          "mode": {
            "type": "string",
            "example": "STANDARD"
          },
          "standard": {
            "type": "string",
            "example": "STANDARD"
          },
          "amount": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "example": "string"
              },
              "value": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "merchantOrderId": {
            "type": "string",
            "example": "ORD-474975"
          },
          "description": {
            "type": "string",
            "example": "Customer banking request processed successfully"
          },
          "tipOptions": {
            "type": "object",
            "properties": {
              "mode": {
                "type": "string",
                "example": "string"
              },
              "fixedAmounts": {
                "type": "array",
                "example": "string",
                "items": {
                  "type": "object",
                  "properties": {
                    "currency": {
                      "type": "string",
                      "example": "string"
                    },
                    "value": {
                      "type": "string",
                      "example": "string"
                    }
                  },
                  "example": "string"
                }
              },
              "percentages": {
                "type": "array",
                "example": "string",
                "items": {
                  "type": "string",
                  "example": "string"
                }
              },
              "maximumTip": {
                "type": "object",
                "properties": {
                  "currency": {
                    "type": "string",
                    "example": "string"
                  },
                  "value": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "mode": "STANDARD",
              "fixedAmounts": [
                {
                  "currency": "USD",
                  "value": "STANDARD"
                }
              ],
              "percentages": [
                "STANDARD"
              ],
              "maximumTip": {
                "currency": "USD",
                "value": "STANDARD"
              }
            }
          },
          "qrPayload": {
            "type": "string",
            "example": "STANDARD"
          },
          "qrImageUrl": {
            "type": "string",
            "example": "https://example.com/resource"
          },
          "status": {
            "type": "string",
            "example": "ACTIVE"
          },
          "singleUse": {
            "type": "boolean",
            "example": true
          },
          "paidAmount": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "example": "string"
              },
              "value": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "paymentId": {
            "type": "string",
            "example": "PAY-139427"
          },
          "expiresAt": {
            "type": "string",
            "example": "2026-08-11T12:00:00Z"
          },
          "audit": {
            "type": "object",
            "properties": {
              "createdAt": {
                "type": "string",
                "example": "string"
              },
              "createdBy": {
                "type": "string",
                "example": "string"
              },
              "updatedAt": {
                "type": "string",
                "example": "string"
              },
              "updatedBy": {
                "type": "string",
                "example": "string"
              },
              "version": {
                "type": "integer",
                "format": "int32",
                "example": 0
              }
            },
            "example": {
              "createdAt": "2026-09-15T14:30:00Z",
              "createdBy": "STANDARD",
              "updatedAt": "2026-09-15T14:30:00Z",
              "updatedBy": "2026-09-15",
              "version": 1
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "c264bc0e-bfb4-51ba-96f3-8b98d86440e4",
              "correlationId": "b55bb90e-e0f5-5395-833e-98ede86cb16b",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "qrPaymentRequestId": "649f7fa2-92ab-5c1d-9a5f-e25a0529dcba",
          "merchantId": "MER-831543",
          "outletId": "STANDARD",
          "terminalId": "STANDARD",
          "mode": "STANDARD",
          "standard": "STANDARD",
          "amount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "merchantOrderId": "ORD-474975",
          "description": "Customer banking request processed successfully",
          "tipOptions": {
            "mode": "STANDARD",
            "fixedAmounts": [
              {
                "currency": "USD",
                "value": "STANDARD"
              }
            ],
            "percentages": [
              "STANDARD"
            ],
            "maximumTip": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "qrPayload": "STANDARD",
          "qrImageUrl": "https://example.com/resource",
          "status": "ACTIVE",
          "singleUse": true,
          "paidAmount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "paymentId": "PAY-139427",
          "expiresAt": "2026-08-11T12:00:00Z",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "c264bc0e-bfb4-51ba-96f3-8b98d86440e4",
            "correlationId": "b55bb90e-e0f5-5395-833e-98ede86cb16b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "qrPaymentRequestId": {
        "name": "qrPaymentRequestId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-update-qr-payment-request"
        },
        "example": "banking-p2m-openapi-update-qr-payment-request"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}