{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Domestic Payment Consent Management API",
    "description": "The Domestic Payment Consent Management API facilitates the initiation and management of domestic payment consents within a secure and regulated environment. This API allows financial institutions to collect, track, and authorize consent from customers for processing domestic payments. Typical users include banks and payment service providers who require a streamlined process for managing customer permissions. By utilizing this API, institutions can ensure compliance with regulatory requirements while enhancing the payment experience for their users.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/domestic-payment-consents": {
      "post": {
        "tags": [
          "Payment Initiation"
        ],
        "summary": "Create a domestic payment consent.",
        "description": "This endpoint allows users to create a consent for a domestic payment through a Payment Initiation Service Provider (PISP). It is essential for initiating transactions on behalf of the user, ensuring compliance with relevant regulations and data standards.",
        "operationId": "createPispDomesticPaymentConsent",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create a new domestic payment consent. It includes all necessary details required to obtain consent from the payee for initiating a domestic payment transaction.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePispDomesticPaymentConsentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "A new payment consent has been successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePispDomesticPaymentConsentResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreatePispDomesticPaymentConsentRequest": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "ReadRefundAccount": {
                "type": "string",
                "description": "Indicates if the refund account should be read.",
                "example": "Yes"
              },
              "Initiation": {
                "$ref": "#/components/schemas/PaymentInitiation"
              }
            },
            "description": "Contains the details of the payment consent request.",
            "example": {
              "ReadRefundAccount": "STANDARD",
              "Initiation": {
                "InstructionIdentification": "STANDARD",
                "EndToEndIdentification": "STANDARD",
                "LocalInstrument": "STANDARD",
                "InstructedAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "DebtorAccount": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "SecondaryIdentification": "STANDARD",
                  "Proxy": {
                    "Identification": "STANDARD",
                    "Code": "SUCCESS",
                    "Type": "STANDARD"
                  }
                },
                "CreditorAgent": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "LEI": "STANDARD",
                  "PostalAddress": {
                    "AddressType": "STANDARD",
                    "Department": "STANDARD",
                    "SubDepartment": "STANDARD"
                  }
                }
              }
            }
          },
          "requestContext": {
            "description": "Contains metadata about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema describes the request body for the domestic payment consent operation.",
        "example": {
          "Data": {
            "ReadRefundAccount": "STANDARD",
            "Initiation": {
              "InstructionIdentification": "STANDARD",
              "EndToEndIdentification": "STANDARD",
              "LocalInstrument": "STANDARD",
              "InstructedAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              },
              "DebtorAccount": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD",
                "Proxy": {
                  "Identification": "STANDARD",
                  "Code": "SUCCESS",
                  "Type": "STANDARD"
                }
              },
              "CreditorAgent": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "LEI": "STANDARD",
                "PostalAddress": {
                  "AddressType": "STANDARD",
                  "Department": "STANDARD",
                  "SubDepartment": "STANDARD"
                }
              }
            }
          },
          "requestContext": {
            "requestId": "fa5a5225-1cfa-5caf-8a08-9061878f2e19",
            "correlationId": "51eef664-8394-56c8-b328-df413048d628",
            "idempotencyKey": "a843adc1-ed54-56b2-949a-e6041711b974",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-214992"
            }
          }
        }
      },
      "PaymentInitiation": {
        "type": "object",
        "properties": {
          "InstructionIdentification": {
            "type": "string",
            "description": "An identifier for the payment instruction.",
            "example": "123456789"
          },
          "EndToEndIdentification": {
            "type": "string",
            "description": "A unique identifier for the end-to-end transaction.",
            "example": "E2E-123456"
          },
          "LocalInstrument": {
            "type": "string",
            "description": "Specifies the local instrument to be used for the payment.",
            "example": "SEPA"
          },
          "InstructedAmount": {
            "description": "Defines the amount of money to be instructed for the payment.",
            "$ref": "#/components/schemas/Money"
          },
          "DebtorAccount": {
            "description": "Details of the debtor's account.",
            "$ref": "#/components/schemas/Account"
          },
          "CreditorAgent": {
            "description": "Information about the creditor's agent.",
            "$ref": "#/components/schemas/FinancialInstitution"
          }
        },
        "description": "Represents the initiation details for a payment."
      },
      "Money": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The monetary amount.",
            "example": "100.00"
          },
          "Currency": {
            "type": "string",
            "description": "The currency of the amount.",
            "example": "EUR"
          }
        },
        "description": "Represents an amount of money, including currency."
      },
      "Account": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "The name of the account scheme.",
            "example": "IBAN"
          },
          "Identification": {
            "type": "string",
            "description": "Identifier for the account.",
            "example": "GB29NWBK60161331926819"
          },
          "Name": {
            "type": "string",
            "description": "The name of the account holder.",
            "example": "John Doe"
          },
          "SecondaryIdentification": {
            "type": "string",
            "description": "An optional secondary identification for the account.",
            "example": "S123456"
          },
          "Proxy": {
            "description": "Information about the proxy for the account.",
            "$ref": "#/components/schemas/Proxy"
          }
        },
        "description": "Defines an account associated with a payment."
      },
      "FinancialInstitution": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "The name of the financial institution scheme.",
            "example": "BIC"
          },
          "Identification": {
            "type": "string",
            "description": "The identification code for the financial institution.",
            "example": "NWBKGB2L"
          },
          "Name": {
            "type": "string",
            "description": "The name of the financial institution.",
            "example": "Nationwide Building Society"
          },
          "LEI": {
            "type": "string",
            "description": "Legal Entity Identifier of the financial institution.",
            "example": "213800NQZ1UZEVIP5A89"
          },
          "PostalAddress": {
            "description": "Postal address of the financial institution.",
            "$ref": "#/components/schemas/PostalAddress"
          }
        },
        "description": "Details related to a financial institution."
      },
      "Proxy": {
        "type": "object",
        "properties": {
          "Identification": {
            "type": "string",
            "description": "Identifier for the proxy.",
            "example": "proxy-id-123"
          },
          "Code": {
            "type": "string",
            "description": "Code associated with the proxy.",
            "example": "XYZ"
          },
          "Type": {
            "type": "string",
            "description": "Type of the proxy.",
            "example": "Email"
          }
        },
        "description": "Proxy information for accounts."
      },
      "PostalAddress": {
        "type": "object",
        "properties": {
          "AddressType": {
            "type": "string",
            "description": "The type of address (e.g. Business, Residential).",
            "example": "Business"
          },
          "Department": {
            "type": "string",
            "description": "The department within the institution.",
            "example": "Finance"
          },
          "SubDepartment": {
            "type": "string",
            "description": "The sub-department within the institution.",
            "example": "Accounts Payable"
          }
        },
        "description": "Represents a postal address."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-123456789"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request.",
            "example": "corr-987654321"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of requests.",
            "example": "idempotent-key-123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifies the source system making the request.",
            "example": "PaymentGateway"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "WebApp"
          },
          "channel": {
            "description": "Details about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Metadata related to the request context."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used (e.g. Web, Mobile).",
            "example": "Mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the channel.",
            "example": "device-456"
          }
        },
        "description": "Describes the channel used for the request."
      },
      "CreatePispDomesticPaymentConsentResponse_201": {
        "title": "Domestic Payment Consent Response",
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "ConsentId": {
                "type": "string",
                "description": "Unique identifier for the payment consent.",
                "example": "string"
              },
              "CreationDateTime": {
                "type": "string",
                "description": "The date and time when the payment consent was created.",
                "example": "string"
              },
              "Status": {
                "type": "string",
                "description": "Current status of the payment consent.",
                "example": "string"
              },
              "StatusReason": {
                "type": "array",
                "description": "Reasons associated with the current status of the consent.",
                "items": {
                  "$ref": "#/components/schemas/StatusReasonItem"
                }
              },
              "StatusUpdateDateTime": {
                "type": "string",
                "description": "The date and time when the status was last updated.",
                "example": "string"
              },
              "ReadRefundAccount": {
                "type": "string",
                "description": "Refund account details, if applicable.",
                "example": "string"
              },
              "CutOffDateTime": {
                "type": "string",
                "description": "The cutoff date and time for executing the payment.",
                "example": "string"
              },
              "ExpectedExecutionDateTime": {
                "type": "string",
                "description": "The expected date and time for the execution of the payment.",
                "example": "string"
              },
              "ExpectedSettlementDateTime": {
                "type": "string",
                "description": "The expected date and time for settlement of the payment.",
                "example": "string"
              },
              "Charges": {
                "type": "array",
                "description": "Details of any charges associated with the payment consent.",
                "items": {
                  "$ref": "#/components/schemas/ChargeItem"
                }
              },
              "Initiation": {
                "type": "object",
                "properties": {
                  "InstructionIdentification": {
                    "type": "string",
                    "description": "Unique identifier for the payment instruction.",
                    "example": "string"
                  },
                  "EndToEndIdentification": {
                    "type": "string",
                    "description": "End-to-end identifier for tracking the payment.",
                    "example": "string"
                  },
                  "LocalInstrument": {
                    "type": "string",
                    "description": "Local instrument used for the payment.",
                    "example": "string"
                  },
                  "InstructedAmount": {
                    "$ref": "#/components/schemas/AmountDetails"
                  },
                  "DebtorAccount": {
                    "$ref": "#/components/schemas/DebtorAccountDetails"
                  },
                  "CreditorAgent": {
                    "$ref": "#/components/schemas/CreditorAgentDetails"
                  }
                },
                "description": "Details of the payment initiation."
              },
              "metadata": {
                "$ref": "#/components/schemas/Metadata"
              }
            },
            "description": "Details of the payment consent.",
            "example": {
              "ConsentId": "STANDARD",
              "CreationDateTime": "2026-09-15T14:30:00Z",
              "Status": "ACTIVE",
              "StatusReason": [
                {
                  "code": "SUCCESS",
                  "description": "Customer banking request processed successfully",
                  "Path": "STANDARD"
                }
              ],
              "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
              "ReadRefundAccount": "STANDARD",
              "CutOffDateTime": "2026-09-15T14:30:00Z",
              "ExpectedExecutionDateTime": "2026-09-15T14:30:00Z",
              "ExpectedSettlementDateTime": "2026-09-15T14:30:00Z",
              "Charges": [
                {
                  "ChargeBearer": "STANDARD",
                  "Type": "STANDARD",
                  "Amount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  }
                }
              ],
              "Initiation": {
                "InstructionIdentification": "STANDARD",
                "EndToEndIdentification": "STANDARD",
                "LocalInstrument": "STANDARD",
                "InstructedAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "DebtorAccount": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "SecondaryIdentification": "STANDARD",
                  "Proxy": {
                    "Identification": "STANDARD",
                    "Code": "SUCCESS",
                    "Type": "STANDARD"
                  }
                },
                "CreditorAgent": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "LEI": "STANDARD",
                  "PostalAddress": {
                    "AddressType": "STANDARD",
                    "Department": "STANDARD",
                    "SubDepartment": "STANDARD",
                    "StreetName": "Northstar Banking Service"
                  }
                }
              }
            }
          }
        },
        "description": "Schema representing the response for a domestic payment consent operation.",
        "example": {
          "Data": {
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "Status": "ACTIVE",
            "StatusReason": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "Path": "STANDARD"
              }
            ],
            "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
            "ReadRefundAccount": "STANDARD",
            "CutOffDateTime": "2026-09-15T14:30:00Z",
            "ExpectedExecutionDateTime": "2026-09-15T14:30:00Z",
            "ExpectedSettlementDateTime": "2026-09-15T14:30:00Z",
            "Charges": [
              {
                "ChargeBearer": "STANDARD",
                "Type": "STANDARD",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            ],
            "Initiation": {
              "InstructionIdentification": "STANDARD",
              "EndToEndIdentification": "STANDARD",
              "LocalInstrument": "STANDARD",
              "InstructedAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              },
              "DebtorAccount": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD",
                "Proxy": {
                  "Identification": "STANDARD",
                  "Code": "SUCCESS",
                  "Type": "STANDARD"
                }
              },
              "CreditorAgent": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "LEI": "STANDARD",
                "PostalAddress": {
                  "AddressType": "STANDARD",
                  "Department": "STANDARD",
                  "SubDepartment": "STANDARD",
                  "StreetName": "Northstar Banking Service"
                }
              }
            }
          },
          "metadata": {
            "responseId": "0de904af-e3ab-5f55-af03-a8c8feba27ef",
            "correlationId": "51eef664-8394-56c8-b328-df413048d628",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "StatusReasonItem": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Code associated with the status reason.",
            "example": "string"
          },
          "description": {
            "type": "string",
            "description": "Description of the status reason.",
            "example": "string"
          },
          "Path": {
            "type": "string",
            "description": "Path indicating where the status reason applies.",
            "example": "string"
          }
        },
        "description": "Details of a single status reason."
      },
      "ChargeItem": {
        "type": "object",
        "properties": {
          "ChargeBearer": {
            "type": "string",
            "description": "The party responsible for the charge.",
            "example": "string"
          },
          "Type": {
            "type": "string",
            "description": "Type of charge.",
            "example": "string"
          },
          "Amount": {
            "$ref": "#/components/schemas/AmountDetails"
          }
        },
        "description": "Details of a charge associated with a payment."
      },
      "AmountDetails": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The numeric amount.",
            "example": "100.00"
          },
          "Currency": {
            "type": "string",
            "description": "The currency of the amount.",
            "example": "USD"
          }
        },
        "description": "Details of the amount involved in a payment or charge."
      },
      "DebtorAccountDetails": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "Scheme name of the debtor's account.",
            "example": "IBAN"
          },
          "Identification": {
            "type": "string",
            "description": "Unique identification for the debtor's account.",
            "example": "DE89370400440532013000"
          },
          "Name": {
            "type": "string",
            "description": "Name associated with the debtor's account.",
            "example": "John Doe"
          },
          "SecondaryIdentification": {
            "type": "string",
            "description": "Secondary identification for the debtor's account.",
            "example": "string"
          },
          "Proxy": {
            "type": "object",
            "properties": {
              "Identification": {
                "type": "string",
                "description": "Proxy identification.",
                "example": "string"
              },
              "Code": {
                "type": "string",
                "description": "Proxy code.",
                "example": "string"
              },
              "Type": {
                "type": "string",
                "description": "Type of proxy.",
                "example": "string"
              }
            },
            "description": "Proxy details for the debtor's account."
          }
        },
        "description": "Details of the debtor's account."
      },
      "CreditorAgentDetails": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "Scheme name of the creditor's agent.",
            "example": "BIC"
          },
          "Identification": {
            "type": "string",
            "description": "Unique identification for the creditor's agent.",
            "example": "DEUTDEDBFRA"
          },
          "Name": {
            "type": "string",
            "description": "Name associated with the creditor's agent.",
            "example": "Deutsche Bank"
          },
          "LEI": {
            "type": "string",
            "description": "Legal Entity Identifier (LEI) of the creditor's agent.",
            "example": "XYZ123456789"
          },
          "PostalAddress": {
            "type": "object",
            "properties": {
              "AddressType": {
                "type": "string",
                "description": "Type of address.",
                "example": "Head Office"
              },
              "Department": {
                "type": "string",
                "description": "Department within the organization, if applicable.",
                "example": "Payments"
              },
              "SubDepartment": {
                "type": "string",
                "description": "Sub-department within the organization, if applicable.",
                "example": "Transfers"
              },
              "StreetName": {
                "type": "string",
                "description": "Street name of the postal address.",
                "example": "Main St"
              }
            },
            "description": "Postal address of the creditor's agent."
          }
        },
        "description": "Details of the creditor's agent."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-01"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking the request.",
            "example": "correlation-01"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "EU"
          }
        },
        "description": "Metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint handling the domestic payment consent request. This ID correlates with the specific endpoint deployed for processing payments.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-create-domestic-payment-consent"
        },
        "example": "payment-initiation-openapi-create-domestic-payment-consent"
      },
      "X-Runtime-App": {
        "description": "Identifies the application runtime environment in which the consent processing operation is executed. This information may be useful for tracing and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token format. Ensure that the JWT (JSON Web Token) is included in the Authorization header as 'Bearer {token}' to authenticate requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}