{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Market Data Financial Market Research-spec",
    "description": "The Financial Market Research Submission API enables users to submit comprehensive financial market research data for analysis and processing. This endpoint is designed for businesses seeking to contribute market intelligence to enhance forecasting and decision-making. It caters to financial analysts, market researchers, and investment professionals. Submissions facilitate data aggregation for improved insights into market trends and performance, reinforcing the financial institution's analytical capabilities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-data/financial-market-research": {
      "post": {
        "tags": [
          "Financial Market Research"
        ],
        "summary": "Create new financial market research data.",
        "description": "This operation allows you to create and submit financial market research data, enabling stakeholders to analyze trends, make informed decisions, and gain insights into various market dynamics.",
        "operationId": "createMarketDataFinancialMarketResearch",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for submitting a financial market research operation. This operation allows clients to send relevant market data for analysis and reporting.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMarketDataFinancialMarketResearchRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully with the submitted financial market research data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateMarketDataFinancialMarketResearchResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateMarketDataFinancialMarketResearchRequest": {
        "title": "Financial Market Research Request",
        "type": "object",
        "properties": {
          "instrumentId": {
            "type": "string",
            "description": "The identifier for the financial instrument being researched.",
            "example": "STANDARD"
          },
          "isin": {
            "type": "string",
            "description": "The International Securities Identification Number of the instrument.",
            "example": "STANDARD"
          },
          "marketIdentifierCode": {
            "type": "string",
            "description": "The code identifying the market of the instrument.",
            "example": "CODE-572"
          },
          "asOf": {
            "type": "string",
            "description": "The date and time for which the market data is requested.",
            "example": "2026-08-11T12:00:00Z"
          },
          "dataSource": {
            "type": "string",
            "description": "The source from which the market data is being retrieved.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Details about the request context including IDs and timestamps.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "The schema representing the request body for financial market research operations.",
        "example": {
          "instrumentId": "STANDARD",
          "isin": "STANDARD",
          "marketIdentifierCode": "CODE-572",
          "asOf": "2026-08-11T12:00:00Z",
          "dataSource": "STANDARD",
          "requestContext": {
            "requestId": "f1f513a3-74ad-58ef-a3e6-166956e31829",
            "correlationId": "6deb94ba-5723-5e2c-bbed-ecfd2ba02cb3",
            "idempotencyKey": "517d6c5a-e21c-54cb-b063-d5a6fe1c77f8",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-896501"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier that correlates related requests.",
            "example": "corr-12345"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key ensuring the request is idempotent.",
            "example": "idemp-12345"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "TradingSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "MarketDataApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contains contextual information about the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the communication channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of communication channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used in the request.",
            "example": "device-123"
          }
        },
        "description": "Information about the communication channel used for the request."
      },
      "CreateMarketDataFinancialMarketResearchResponse_201": {
        "title": "Financial Market Research Response",
        "type": "object",
        "properties": {
          "instrumentId": {
            "type": "string",
            "description": "The unique identifier for the financial instrument.",
            "example": "STANDARD"
          },
          "marketIdentifierCode": {
            "type": "string",
            "description": "The code that identifies the market.",
            "example": "CODE-836"
          },
          "resourceId": {
            "type": "string",
            "description": "The identifier for the resource associated with the operation.",
            "example": "RES-332759"
          },
          "status": {
            "type": "string",
            "description": "The status of the financial market research request.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the research request was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the financial market research response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "A response object containing the details of the financial market research operation.",
        "example": {
          "instrumentId": "STANDARD",
          "marketIdentifierCode": "CODE-836",
          "resourceId": "RES-332759",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "fa8cc16d-3fc7-5099-8568-ff6237d048a9",
            "correlationId": "6deb94ba-5723-5e2c-bbed-ecfd2ba02cb3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The ID used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request took place.",
            "example": "string"
          }
        },
        "description": "Metadata details associated with the financial market research response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "description": "A unique identifier for the endpoint being accessed.",
          "example": "financial-market-research-create-financial-market-research"
        },
        "example": "financial-market-research-create-financial-market-research"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "description": "The name of the application where the runtime request is processed.",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Token for authentication. The token must be a valid JSON Web Token (JWT) that provides the necessary credentials for access to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}