{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Aggregation Customer Recurring Transaction-v5-spec",
    "description": "MICROSERVICE-PROD-Create Aggregation Customer Recurring Transaction-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/{customerId}/recurring-transactions": {
      "post": {
        "operationId": "createAggregationCustomerRecurringTransaction",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAggregationCustomerRecurringTransactionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAggregationCustomerRecurringTransactionResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateAggregationCustomerRecurringTransactionRequest": {
        "type": "object",
        "properties": {
          "accountIds": {
            "type": "array",
            "example": [
              "ACC-921280"
            ],
            "items": {
              "type": "string",
              "example": "string"
            }
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "b58fff8c-de6d-5327-b4c0-3d525278a99d",
              "correlationId": "e8deb9ba-fcd3-59c7-98ce-6bb6bf36f6a8",
              "idempotencyKey": "8213b32f-4801-52b6-99e3-ccb6653c4f4f",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-951106"
              }
            }
          }
        },
        "example": {
          "accountIds": [
            "ACC-921280"
          ],
          "requestContext": {
            "requestId": "b58fff8c-de6d-5327-b4c0-3d525278a99d",
            "correlationId": "e8deb9ba-fcd3-59c7-98ce-6bb6bf36f6a8",
            "idempotencyKey": "8213b32f-4801-52b6-99e3-ccb6653c4f4f",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-951106"
            }
          }
        }
      },
      "CreateAggregationCustomerRecurringTransactionResponse_200": {
        "type": "object",
        "properties": {
          "customerRecurringTransactions": {
            "type": "object",
            "properties": {
              "recurringOutflows": {
                "type": "array",
                "example": "string",
                "items": {
                  "type": "object",
                  "properties": {
                    "normalizedPayeeName": {
                      "type": "string",
                      "example": "string"
                    },
                    "transactionCategories": {
                      "type": "array",
                      "example": "string",
                      "items": {
                        "type": "string",
                        "example": "string"
                      }
                    },
                    "transactionIds": {
                      "type": "array",
                      "example": "string",
                      "items": {
                        "type": "string",
                        "example": "string"
                      }
                    },
                    "cadence": {
                      "type": "integer",
                      "format": "int32",
                      "example": 0
                    },
                    "status": {
                      "type": "string",
                      "example": "string"
                    },
                    "expectedNextTransactionDate": {
                      "type": "string",
                      "example": "string"
                    },
                    "amount": {
                      "type": "number",
                      "example": 0.0
                    },
                    "minimumHistoricalAmount": {
                      "type": "number",
                      "example": 0.0
                    },
                    "maximumHistoricalAmount": {
                      "type": "number",
                      "example": 0.0
                    },
                    "meanHistoricalAmount": {
                      "type": "number",
                      "example": 0.0
                    },
                    "medianHistoricalAmount": {
                      "type": "number",
                      "example": 0.0
                    },
                    "countOfTransactions": {
                      "type": "integer",
                      "format": "int32",
                      "example": 0
                    }
                  },
                  "example": "string"
                }
              },
              "recurringInflows": {
                "type": "array",
                "example": "string",
                "items": {
                  "type": "object",
                  "properties": {
                    "normalizedPayeeName": {
                      "type": "string",
                      "example": "string"
                    },
                    "transactionCategories": {
                      "type": "array",
                      "example": "string",
                      "items": {
                        "type": "string",
                        "example": "string"
                      }
                    },
                    "transactionIds": {
                      "type": "array",
                      "example": "string",
                      "items": {
                        "type": "string",
                        "example": "string"
                      }
                    },
                    "cadence": {
                      "type": "integer",
                      "format": "int32",
                      "example": 0
                    },
                    "status": {
                      "type": "string",
                      "example": "string"
                    },
                    "expectedNextTransactionDate": {
                      "type": "string",
                      "example": "string"
                    },
                    "amount": {
                      "type": "number",
                      "example": 0.0
                    },
                    "minimumHistoricalAmount": {
                      "type": "number",
                      "example": 0.0
                    },
                    "maximumHistoricalAmount": {
                      "type": "number",
                      "example": 0.0
                    },
                    "meanHistoricalAmount": {
                      "type": "number",
                      "example": 0.0
                    },
                    "medianHistoricalAmount": {
                      "type": "number",
                      "example": 0.0
                    },
                    "countOfTransactions": {
                      "type": "integer",
                      "format": "int32",
                      "example": 0
                    }
                  },
                  "example": "string"
                }
              }
            },
            "example": {
              "recurringOutflows": [
                {
                  "normalizedPayeeName": "Northstar Banking Service",
                  "transactionCategories": [
                    "STANDARD"
                  ],
                  "transactionIds": [
                    "TXN-144436"
                  ],
                  "cadence": 1,
                  "status": "ACTIVE",
                  "expectedNextTransactionDate": "2026-09-15",
                  "amount": 100.0,
                  "minimumHistoricalAmount": 100.0,
                  "maximumHistoricalAmount": 100.0,
                  "meanHistoricalAmount": 100.0,
                  "medianHistoricalAmount": 100.0,
                  "countOfTransactions": 1
                }
              ],
              "recurringInflows": [
                {
                  "normalizedPayeeName": "Northstar Banking Service",
                  "transactionCategories": [
                    "STANDARD"
                  ],
                  "transactionIds": [
                    "TXN-441311"
                  ],
                  "cadence": 1,
                  "status": "ACTIVE",
                  "expectedNextTransactionDate": "2026-09-15",
                  "amount": 100.0,
                  "minimumHistoricalAmount": 100.0,
                  "maximumHistoricalAmount": 100.0,
                  "meanHistoricalAmount": 100.0,
                  "medianHistoricalAmount": 100.0,
                  "countOfTransactions": 1
                }
              ]
            }
          },
          "accountRecurringTransactions": {
            "type": "array",
            "example": [
              {
                "accountId": "ACC-609101",
                "recurringOutflows": [
                  {
                    "normalizedPayeeName": "Northstar Banking Service",
                    "transactionCategories": [
                      "STANDARD"
                    ],
                    "transactionIds": [
                      "TXN-718032"
                    ],
                    "cadence": 1,
                    "status": "ACTIVE",
                    "expectedNextTransactionDate": "2026-09-15",
                    "amount": 100.0,
                    "minimumHistoricalAmount": 100.0,
                    "maximumHistoricalAmount": 100.0,
                    "meanHistoricalAmount": 100.0
                  }
                ]
              }
            ],
            "items": {
              "type": "object",
              "properties": {
                "accountId": {
                  "type": "string",
                  "example": "string"
                },
                "recurringOutflows": {
                  "type": "array",
                  "example": "string",
                  "items": {
                    "type": "object",
                    "properties": {
                      "normalizedPayeeName": {
                        "type": "string",
                        "example": "string"
                      },
                      "transactionCategories": {
                        "type": "array",
                        "example": "string",
                        "items": {
                          "type": "string",
                          "example": "string"
                        }
                      },
                      "transactionIds": {
                        "type": "array",
                        "example": "string",
                        "items": {
                          "type": "string",
                          "example": "string"
                        }
                      },
                      "cadence": {
                        "type": "integer",
                        "format": "int32",
                        "example": 0
                      },
                      "status": {
                        "type": "string",
                        "example": "string"
                      },
                      "expectedNextTransactionDate": {
                        "type": "string",
                        "example": "string"
                      },
                      "amount": {
                        "type": "number",
                        "example": 0.0
                      },
                      "minimumHistoricalAmount": {
                        "type": "number",
                        "example": 0.0
                      },
                      "maximumHistoricalAmount": {
                        "type": "number",
                        "example": 0.0
                      },
                      "meanHistoricalAmount": {
                        "type": "number",
                        "example": 0.0
                      }
                    },
                    "example": "string"
                  }
                }
              },
              "example": "string"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "808e3fa6-cf09-5273-9d64-88c17ab24f8b",
              "correlationId": "e8deb9ba-fcd3-59c7-98ce-6bb6bf36f6a8",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "customerRecurringTransactions": {
            "recurringOutflows": [
              {
                "normalizedPayeeName": "Northstar Banking Service",
                "transactionCategories": [
                  "STANDARD"
                ],
                "transactionIds": [
                  "TXN-144436"
                ],
                "cadence": 1,
                "status": "ACTIVE",
                "expectedNextTransactionDate": "2026-09-15",
                "amount": 100.0,
                "minimumHistoricalAmount": 100.0,
                "maximumHistoricalAmount": 100.0,
                "meanHistoricalAmount": 100.0,
                "medianHistoricalAmount": 100.0,
                "countOfTransactions": 1
              }
            ],
            "recurringInflows": [
              {
                "normalizedPayeeName": "Northstar Banking Service",
                "transactionCategories": [
                  "STANDARD"
                ],
                "transactionIds": [
                  "TXN-441311"
                ],
                "cadence": 1,
                "status": "ACTIVE",
                "expectedNextTransactionDate": "2026-09-15",
                "amount": 100.0,
                "minimumHistoricalAmount": 100.0,
                "maximumHistoricalAmount": 100.0,
                "meanHistoricalAmount": 100.0,
                "medianHistoricalAmount": 100.0,
                "countOfTransactions": 1
              }
            ]
          },
          "accountRecurringTransactions": [
            {
              "accountId": "ACC-609101",
              "recurringOutflows": [
                {
                  "normalizedPayeeName": "Northstar Banking Service",
                  "transactionCategories": [
                    "STANDARD"
                  ],
                  "transactionIds": [
                    "TXN-718032"
                  ],
                  "cadence": 1,
                  "status": "ACTIVE",
                  "expectedNextTransactionDate": "2026-09-15",
                  "amount": 100.0,
                  "minimumHistoricalAmount": 100.0,
                  "maximumHistoricalAmount": 100.0,
                  "meanHistoricalAmount": 100.0
                }
              ]
            }
          ],
          "metadata": {
            "responseId": "808e3fa6-cf09-5273-9d64-88c17ab24f8b",
            "correlationId": "e8deb9ba-fcd3-59c7-98ce-6bb6bf36f6a8",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-recurring-transactions"
        },
        "example": "open-finance-api-get-recurring-transactions"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}