{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Account Partys-spec",
    "description": "The Account Party Retrieval API provides functionality to access detailed information about the parties associated with a specific account. Developers can utilize this endpoint to retrieve data such as the roles and permissions of parties tied to the given account ID. Typical consumers of this API include financial institutions and fintech applications that require insights into account ownership and responsibility. This endpoint is essential for ensuring compliance with banking regulations and enhancing customer transparency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/aisp/accounts/{accountId}/party": {
      "get": {
        "tags": [],
        "summary": "Retrieve Party Information for a Specific Account",
        "description": "This endpoint allows you to fetch detailed party information associated with the account identified by ACC-200045. Use this to access data about the account holder and any related parties.",
        "operationId": "listAccountPartys",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving party details associated with the specified account. This request should provide the necessary parameters to fetch the relevant party information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListAccountPartysRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved account party details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAccountPartysResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListAccountPartysRequest": {
        "type": "string",
        "description": "Request body containing JSON string for account operations.",
        "example": "{}"
      },
      "ListAccountPartysResponse_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "Party": {
                "$ref": "#/components/schemas/Party"
              }
            },
            "description": "Data containing the details of the party.",
            "example": {
              "Party": {
                "id": "STANDARD",
                "number": "STANDARD",
                "type": "STANDARD",
                "Name": "Northstar Banking Service",
                "FullLegalName": "Northstar Banking Service",
                "LegalStructure": "STANDARD",
                "LEI": "STANDARD",
                "BeneficialOwnership": true,
                "AccountRole": "DEBIT",
                "EmailAddress": "olivia.bennett@northstar.example",
                "Phone": "+1-212-555-0147",
                "Mobile": "STANDARD",
                "Relationships": {
                  "Account": {
                    "Related": "https://example.com/resource",
                    "Id": "STANDARD"
                  }
                },
                "Address": [
                  {
                    "type": "STANDARD",
                    "Department": "STANDARD",
                    "SubDepartment": "STANDARD",
                    "StreetName": "Northstar Banking Service",
                    "BuildingNumber": "STANDARD",
                    "BuildingName": "Northstar Banking Service",
                    "Floor": "STANDARD",
                    "UnitNumber": "STANDARD",
                    "Room": "STANDARD",
                    "PostBox": "STANDARD",
                    "TownLocationName": "Northstar Banking Service",
                    "DistrictName": "Northstar Banking Service",
                    "CareOf": "STANDARD",
                    "PostCode": "CODE-411",
                    "TownName": "Northstar Banking Service",
                    "CountrySubDivision": "STANDARD",
                    "Country": "STANDARD",
                    "line": [
                      "STANDARD"
                    ]
                  }
                ]
              }
            }
          },
          "Links": {
            "type": "object",
            "properties": {
              "Self": {
                "type": "string",
                "description": "Link to the current resource.",
                "example": "https://api.example.com/party/1"
              },
              "First": {
                "type": "string",
                "description": "Link to the first resource in the list.",
                "example": "https://api.example.com/party?page=1"
              },
              "Prev": {
                "type": "string",
                "description": "Link to the previous resource in the list.",
                "example": "https://api.example.com/party?page=0"
              }
            },
            "description": "Links related to pagination and navigation.",
            "example": {
              "Self": "https://example.com/resource",
              "First": "https://example.com/resource",
              "Prev": "https://example.com/resource"
            }
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving party details associated with an account.",
        "example": {
          "Data": {
            "Party": {
              "id": "STANDARD",
              "number": "STANDARD",
              "type": "STANDARD",
              "Name": "Northstar Banking Service",
              "FullLegalName": "Northstar Banking Service",
              "LegalStructure": "STANDARD",
              "LEI": "STANDARD",
              "BeneficialOwnership": true,
              "AccountRole": "DEBIT",
              "EmailAddress": "olivia.bennett@northstar.example",
              "Phone": "+1-212-555-0147",
              "Mobile": "STANDARD",
              "Relationships": {
                "Account": {
                  "Related": "https://example.com/resource",
                  "Id": "STANDARD"
                }
              },
              "Address": [
                {
                  "type": "STANDARD",
                  "Department": "STANDARD",
                  "SubDepartment": "STANDARD",
                  "StreetName": "Northstar Banking Service",
                  "BuildingNumber": "STANDARD",
                  "BuildingName": "Northstar Banking Service",
                  "Floor": "STANDARD",
                  "UnitNumber": "STANDARD",
                  "Room": "STANDARD",
                  "PostBox": "STANDARD",
                  "TownLocationName": "Northstar Banking Service",
                  "DistrictName": "Northstar Banking Service",
                  "CareOf": "STANDARD",
                  "PostCode": "CODE-411",
                  "TownName": "Northstar Banking Service",
                  "CountrySubDivision": "STANDARD",
                  "Country": "STANDARD",
                  "line": [
                    "STANDARD"
                  ]
                }
              ]
            }
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource"
          },
          "metadata": {
            "responseId": "c88fe80b-08b6-5809-bf56-6fb773c3165b",
            "correlationId": "1a83bd8e-db24-5e8d-a10d-f3ba6e45e3b3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Party": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the party.",
            "example": "12345"
          },
          "number": {
            "type": "string",
            "description": "Account number associated with the party.",
            "example": "ACC-200045"
          },
          "type": {
            "type": "string",
            "description": "Type of the party (e.g., Individual, Business).",
            "example": "Individual"
          },
          "Name": {
            "type": "string",
            "description": "Name of the party.",
            "example": "John Doe"
          },
          "FullLegalName": {
            "type": "string",
            "description": "Full legal name of the party.",
            "example": "Johnathan Doe"
          },
          "LegalStructure": {
            "type": "string",
            "description": "Legal structure of the party.",
            "example": "Sole Proprietorship"
          },
          "LEI": {
            "type": "string",
            "description": "Legal Entity Identifier for the party.",
            "example": "5493001KJTIIGC8F9B84"
          },
          "BeneficialOwnership": {
            "type": "boolean",
            "description": "Indicates if the party holds beneficial ownership.",
            "example": false
          },
          "AccountRole": {
            "type": "string",
            "description": "Role of the party concerning the account.",
            "example": "Account Holder"
          },
          "EmailAddress": {
            "type": "string",
            "description": "Email address of the party.",
            "example": "john.doe@example.com"
          },
          "Phone": {
            "type": "string",
            "description": "Phone number of the party.",
            "example": "+123456789"
          },
          "Mobile": {
            "type": "string",
            "description": "Mobile number of the party.",
            "example": "+987654321"
          },
          "Relationships": {
            "type": "object",
            "properties": {
              "Account": {
                "type": "object",
                "properties": {
                  "Related": {
                    "type": "string",
                    "description": "Related account identifier.",
                    "example": "ACC-200046"
                  },
                  "Id": {
                    "type": "string",
                    "description": "Identifier of the account.",
                    "example": "ACC-200045"
                  }
                },
                "description": "Details of related accounts."
              }
            },
            "description": "Relationships the party has with other accounts."
          },
          "Address": {
            "type": "array",
            "description": "Addresses associated with the party.",
            "items": {
              "$ref": "#/components/schemas/Address"
            }
          }
        },
        "description": "Schema representing a party's details."
      },
      "Address": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "The type of address.",
            "example": "Residential"
          },
          "Department": {
            "type": "string",
            "description": "Department associated with the address.",
            "example": "Sales"
          },
          "SubDepartment": {
            "type": "string",
            "description": "Sub-department associated with the address.",
            "example": "Marketing"
          },
          "StreetName": {
            "type": "string",
            "description": "Street name of the address.",
            "example": "Main St"
          },
          "BuildingNumber": {
            "type": "string",
            "description": "Building number of the address.",
            "example": "123"
          },
          "BuildingName": {
            "type": "string",
            "description": "Building name of the address.",
            "example": "Main Plaza"
          },
          "Floor": {
            "type": "string",
            "description": "Floor number of the address.",
            "example": "3"
          },
          "UnitNumber": {
            "type": "string",
            "description": "Unit number of the address.",
            "example": "3B"
          },
          "Room": {
            "type": "string",
            "description": "Room number of the address.",
            "example": "301"
          },
          "PostBox": {
            "type": "string",
            "description": "Post Box number for postal purposes.",
            "example": "PO Box 456"
          },
          "TownLocationName": {
            "type": "string",
            "description": "Town location name of the address.",
            "example": "Springfield"
          },
          "DistrictName": {
            "type": "string",
            "description": "District name of the address.",
            "example": "Downtown"
          },
          "CareOf": {
            "type": "string",
            "description": "Care of name if the address is c/o someone.",
            "example": "Care of John Doe"
          },
          "PostCode": {
            "type": "string",
            "description": "Postal code of the address.",
            "example": "12345"
          },
          "TownName": {
            "type": "string",
            "description": "Town name of the address.",
            "example": "Springfield"
          },
          "CountrySubDivision": {
            "type": "string",
            "description": "Subdivision of the country for the address.",
            "example": "Illinois"
          },
          "Country": {
            "type": "string",
            "description": "Country of the address.",
            "example": "United States"
          },
          "line": {
            "type": "array",
            "description": "Additional lines for detailed address.",
            "items": {
              "type": "string",
              "description": "Additional address line.",
              "example": "Apt 6B"
            }
          }
        },
        "description": "Schema representing an address."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp-201"
          },
          "correlationId": {
            "type": "string",
            "description": "ID for tracking the request across systems.",
            "example": "corr-12345"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "US-West"
          }
        },
        "description": "Metadata related to the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-api-get-accounts-account-id-party"
        },
        "example": "accounts-api-get-accounts-account-id-party"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the operation, used for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a Bearer token. The token should be a valid JSON Web Token (JWT) and is included in the Authorization header of requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}