{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Channel Specific E Branch Operations-spec",
    "description": "This API provides access to channel-specific electronic branch operations, enabling users to retrieve tailored banking services based on their selected channels. It includes details about various operations available in the e-branch environment, facilitating a seamless customer experience. Typical consumers of this API include financial institutions and developers looking to implement channel-specific functionalities within their applications. By leveraging this API, businesses can enhance their service offerings and improve customer engagement through targeted e-branch operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/e-branch-operations": {
      "get": {
        "tags": [
          "E-Branch Services"
        ],
        "summary": "Fetch E-Branch Operations",
        "description": "This endpoint allows you to retrieve the various operations associated with e-branch services. It provides a comprehensive list of the actions that can be performed within the e-branch context, facilitating better management and utilization of e-branch functionalities.",
        "operationId": "listChannelSpecificEBranchOperations",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve specific e-branch operations for a given channel. The request expects a JSON object that conforms to the defined schema, which includes various fields necessary for processing the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListChannelSpecificEBranchOperationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful, and the response contains the requested data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListChannelSpecificEBranchOperationsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListChannelSpecificEBranchOperationsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to branch-specific operations in the channel. It is expected to be a string value that could contain JSON data or parameters relevant to the request.",
        "example": "{}"
      },
      "ListChannelSpecificEBranchOperationsResponse_200": {
        "title": "Branch Operations Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of branch operation items.",
            "example": [
              {
                "channelId": "MOBILE-US",
                "regionCode": "US-EAST-1",
                "serviceWindow": {
                  "opensAt": "STANDARD",
                  "closesAt": "STANDARD"
                },
                "dailyCapacity": 1,
                "branchId": "STANDARD",
                "branchType": "FULL_SERVICE",
                "timeZone": "America/New_York",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/BranchOperationItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting criteria used for the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response for the GET request to retrieve branch operations specific to a channel.",
        "example": {
          "items": [
            {
              "channelId": "MOBILE-US",
              "regionCode": "US-EAST-1",
              "serviceWindow": {
                "opensAt": "STANDARD",
                "closesAt": "STANDARD"
              },
              "dailyCapacity": 1,
              "branchId": "STANDARD",
              "branchType": "FULL_SERVICE",
              "timeZone": "America/New_York",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "e857e0a2-cb5e-5ff8-a867-f8c7a54d4360",
            "correlationId": "83ad4539-6116-5912-b5b1-bdb173c01fc1",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "BranchOperationItem": {
        "title": "Branch Operation Item",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The identifier for the channel.",
            "example": "string"
          },
          "regionCode": {
            "type": "string",
            "description": "The region code where the branch is located.",
            "example": "string"
          },
          "serviceWindow": {
            "$ref": "#/components/schemas/ServiceWindow"
          },
          "dailyCapacity": {
            "type": "integer",
            "description": "The daily capacity of the branch.",
            "format": "int32",
            "example": 100
          },
          "branchId": {
            "type": "string",
            "description": "The unique identifier for the branch.",
            "example": "string"
          },
          "branchType": {
            "type": "string",
            "description": "The type of the branch (e.g., retail, online).",
            "example": "string"
          },
          "timeZone": {
            "type": "string",
            "description": "The time zone of the branch.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record (e.g., active, inactive).",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the record was last updated.",
            "example": "2023-10-01T00:00:00Z"
          }
        },
        "description": "This schema represents a single branch operation item.",
        "example": {
          "channelId": "channel123",
          "regionCode": "US-NY",
          "serviceWindow": {
            "opensAt": "09:00",
            "closesAt": "17:00"
          },
          "dailyCapacity": 100,
          "branchId": "branch123",
          "branchType": "retail",
          "timeZone": "America/New_York",
          "recordStatus": "active",
          "updatedAt": "2023-10-01T00:00:00Z"
        }
      },
      "ServiceWindow": {
        "title": "Service Window",
        "type": "object",
        "properties": {
          "opensAt": {
            "type": "string",
            "description": "The time the branch opens.",
            "example": "09:00"
          },
          "closesAt": {
            "type": "string",
            "description": "The time the branch closes.",
            "example": "17:00"
          }
        },
        "description": "This schema defines the service window for a branch operation."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "This schema represents pagination details for the response."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response123"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking the request.",
            "example": "correlation123"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "US-NY"
          }
        },
        "description": "This schema includes metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "e-branch-operations-search-e-branch-operations"
        },
        "example": "e-branch-operations-search-e-branch-operations"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes a Bearer Token format for authentication, specifically using JSON Web Tokens (JWTs), which enable secure transmission of claims between parties.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}