{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List P2m Reconciliation Runs-spec",
    "description": "The P2M Reconciliation Runs Retrieval API provides a streamlined way to access historical reconciliation runs for the P2M system. Users can retrieve detailed information about completed reconciliation processes, which is crucial for auditing and compliance purposes. This API serves financial analysts and operational teams needing insights into reconciliation activities. By utilizing this endpoint, organizations can enhance transparency and ensure accuracy in their financial reporting.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/reconciliation-runs": {
      "get": {
        "tags": [
          "Reconciliation"
        ],
        "summary": "Retrieve a list of reconciliation runs",
        "description": "This endpoint allows users to fetch all reconciliation runs, which are processes that verify the accuracy of data between two or more systems. Options may exist to filter or paginate the results.",
        "operationId": "listP2mReconciliationRuns",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve reconciliation runs. It must conform to the specified JSON schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListP2mReconciliationRunsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved list of reconciliation runs.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListP2mReconciliationRunsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListP2mReconciliationRunsRequest": {
        "title": "Reconciliation Runs Request Body",
        "type": "string",
        "description": "Represents the request body for retrieving reconciliation runs.",
        "example": "{}"
      },
      "ListP2mReconciliationRunsResponse_200": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the results.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of results per page.",
            "format": "int32",
            "example": 1
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 1
          },
          "totalPages": {
            "type": "integer",
            "description": "Total number of pages available.",
            "format": "int32",
            "example": 1
          },
          "hasNext": {
            "type": "boolean",
            "description": "Indicates if there is a next page of results.",
            "example": true
          },
          "links": {
            "type": "array",
            "description": "List of links related to the response.",
            "example": [
              {
                "rel": "STANDARD",
                "href": "https://example.com/resource",
                "method": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          },
          "items": {
            "type": "array",
            "description": "List of reconciliation run items.",
            "example": [
              {
                "reconciliationRunId": "STANDARD",
                "sourceA": "STANDARD",
                "sourceB": "STANDARD",
                "businessDate": "2026-09-15",
                "merchantId": "MER-525922",
                "currency": "USD",
                "matchingStrategy": "STANDARD",
                "status": "ACTIVE",
                "summary": {
                  "sourceACount": 1,
                  "sourceBCount": 1,
                  "matchedCount": 1,
                  "unmatchedSourceACount": 1,
                  "unmatchedSourceBCount": 1,
                  "amountMismatchCount": 1,
                  "duplicateCount": 1,
                  "totalSourceA": {
                    "currency": "USD",
                    "value": "STANDARD"
                  },
                  "totalSourceB": {
                    "currency": "USD",
                    "value": "STANDARD"
                  },
                  "netDifference": {
                    "currency": "USD",
                    "value": "STANDARD"
                  }
                },
                "startedAt": "2026-09-15T14:30:00Z",
                "completedAt": "2026-09-15T14:30:00Z",
                "audit": {
                  "createdAt": "2026-09-15T14:30:00Z",
                  "createdBy": "STANDARD",
                  "updatedAt": "2026-09-15T14:30:00Z",
                  "updatedBy": "2026-09-15"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ReconciliationRunItem"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "Correlation identifier for tracking requests.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the response was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the response was processed.",
                "example": "string"
              }
            },
            "description": "Metadata associated with the response.",
            "example": {
              "responseId": "c33f3a28-5230-5df5-8038-750759f8cf71",
              "correlationId": "e8c69ae9-201f-59ea-97fb-727a379137fd",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for reconciliation runs list retrieved via GET operation.",
        "example": {
          "page": 1,
          "pageSize": 1,
          "totalItems": 1,
          "totalPages": 1,
          "hasNext": true,
          "links": [
            {
              "rel": "STANDARD",
              "href": "https://example.com/resource",
              "method": "STANDARD"
            }
          ],
          "items": [
            {
              "reconciliationRunId": "STANDARD",
              "sourceA": "STANDARD",
              "sourceB": "STANDARD",
              "businessDate": "2026-09-15",
              "merchantId": "MER-525922",
              "currency": "USD",
              "matchingStrategy": "STANDARD",
              "status": "ACTIVE",
              "summary": {
                "sourceACount": 1,
                "sourceBCount": 1,
                "matchedCount": 1,
                "unmatchedSourceACount": 1,
                "unmatchedSourceBCount": 1,
                "amountMismatchCount": 1,
                "duplicateCount": 1,
                "totalSourceA": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "totalSourceB": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "netDifference": {
                  "currency": "USD",
                  "value": "STANDARD"
                }
              },
              "startedAt": "2026-09-15T14:30:00Z",
              "completedAt": "2026-09-15T14:30:00Z",
              "audit": {
                "createdAt": "2026-09-15T14:30:00Z",
                "createdBy": "STANDARD",
                "updatedAt": "2026-09-15T14:30:00Z",
                "updatedBy": "2026-09-15"
              }
            }
          ],
          "metadata": {
            "responseId": "c33f3a28-5230-5df5-8038-750759f8cf71",
            "correlationId": "e8c69ae9-201f-59ea-97fb-727a379137fd",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Link": {
        "type": "object",
        "properties": {
          "rel": {
            "type": "string",
            "description": "The relationship of the link.",
            "example": "self"
          },
          "href": {
            "type": "string",
            "description": "The URI of the link.",
            "example": "https://api.example.com/reconciliation"
          },
          "method": {
            "type": "string",
            "description": "HTTP method for the link.",
            "example": "GET"
          }
        },
        "description": "Represents a relational link in the response."
      },
      "ReconciliationRunItem": {
        "type": "object",
        "properties": {
          "reconciliationRunId": {
            "type": "string",
            "description": "Unique identifier for the reconciliation run.",
            "example": "abc123"
          },
          "sourceA": {
            "type": "string",
            "description": "First source of data for reconciliation.",
            "example": "Source A"
          },
          "sourceB": {
            "type": "string",
            "description": "Second source of data for reconciliation.",
            "example": "Source B"
          },
          "businessDate": {
            "type": "string",
            "description": "Date for which the reconciliation is processed.",
            "example": "2023-10-10"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant involved.",
            "example": "merchant_001"
          },
          "currency": {
            "type": "string",
            "description": "Currency used in the reconciliation.",
            "example": "USD"
          },
          "matchingStrategy": {
            "type": "string",
            "description": "Strategy used to match records.",
            "example": "exact"
          },
          "status": {
            "type": "string",
            "description": "Current status of the reconciliation run.",
            "example": "completed"
          },
          "summary": {
            "type": "object",
            "properties": {
              "sourceACount": {
                "type": "integer",
                "description": "Count of items from Source A.",
                "format": "int32",
                "example": 100
              },
              "sourceBCount": {
                "type": "integer",
                "description": "Count of items from Source B.",
                "format": "int32",
                "example": 90
              },
              "matchedCount": {
                "type": "integer",
                "description": "Count of matched items.",
                "format": "int32",
                "example": 80
              },
              "unmatchedSourceACount": {
                "type": "integer",
                "description": "Count of unmatched items from Source A.",
                "format": "int32",
                "example": 20
              },
              "unmatchedSourceBCount": {
                "type": "integer",
                "description": "Count of unmatched items from Source B.",
                "format": "int32",
                "example": 10
              },
              "amountMismatchCount": {
                "type": "integer",
                "description": "Count of items with amount mismatches.",
                "format": "int32",
                "example": 5
              },
              "duplicateCount": {
                "type": "integer",
                "description": "Count of duplicate items.",
                "format": "int32",
                "example": 3
              },
              "totalSourceA": {
                "$ref": "#/components/schemas/CurrencyValue"
              },
              "totalSourceB": {
                "$ref": "#/components/schemas/CurrencyValue"
              },
              "netDifference": {
                "$ref": "#/components/schemas/CurrencyValue"
              }
            },
            "description": "Summary statistics for the reconciliation run."
          },
          "startedAt": {
            "type": "string",
            "description": "Timestamp when the reconciliation run started.",
            "example": "2023-10-01T10:00:00Z"
          },
          "completedAt": {
            "type": "string",
            "description": "Timestamp when the reconciliation run completed.",
            "example": "2023-10-01T12:00:00Z"
          },
          "audit": {
            "type": "object",
            "properties": {
              "createdAt": {
                "type": "string",
                "description": "Timestamp when the reconciliation run was created.",
                "example": "2023-09-30T09:00:00Z"
              },
              "createdBy": {
                "type": "string",
                "description": "User who created the reconciliation run.",
                "example": "admin"
              },
              "updatedAt": {
                "type": "string",
                "description": "Timestamp when the reconciliation run was last updated.",
                "example": "2023-10-01T11:00:00Z"
              },
              "updatedBy": {
                "type": "string",
                "description": "User who last updated the reconciliation run.",
                "example": "admin"
              }
            },
            "description": "Audit information for the reconciliation run."
          }
        },
        "description": "Details of a reconciliation run."
      },
      "CurrencyValue": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency code (e.g., USD, EUR).",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "Amount in the specified currency.",
            "example": "100.00"
          }
        },
        "description": "Represents a currency value with its amount and currency type."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-list-reconciliation-runs"
        },
        "example": "banking-p2m-openapi-list-reconciliation-runs"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme utilizing JSON Web Tokens (JWT). Clients must include a bearer token in the Authorization header of requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}