{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Financial Statement Assessment API",
    "description": "The Financial Statement Assessment API provides critical tools for evaluating the financial statements of banking clients. By leveraging this API, financial analysts can access comprehensive assessment data to ensure compliance and make informed decisions. Typical consumers include financial institutions, regulatory bodies, and compliance officers who need to validate and review financial documentation. This API streamlines the assessment process, enhancing efficiency and accuracy in maintaining financial integrity.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/compliance/financial-statement-assessment": {
      "get": {
        "tags": [
          "Financial Compliance"
        ],
        "summary": "Retrieve financial statement assessment details.",
        "description": "This endpoint allows users to fetch detailed assessments of financial statements, including associated compliance metrics and relevant data. It's essential for ensuring that financial reporting meets regulatory standards.",
        "operationId": "getFinancialStatementAssessment",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a financial statement assessment operation. It should include all necessary parameters to retrieve the relevant financial data for compliance checking.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetFinancialStatementAssessmentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the financial statement assessment.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFinancialStatementAssessmentResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetFinancialStatementAssessmentRequest": {
        "type": "string",
        "description": "A request body containing compliance financial statement assessment data in JSON string format.",
        "example": "{}"
      },
      "GetFinancialStatementAssessmentResponse_200": {
        "title": "Financial Statement Assessment Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array containing financial statement assessments.",
            "example": [
              {
                "submissionId": "STANDARD",
                "legalEntityId": "STANDARD",
                "jurisdiction": "STANDARD",
                "reportingPeriod": "STANDARD",
                "regulation": "STANDARD",
                "dueDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/FinancialStatementAssessment"
            }
          },
          "pagination": {
            "description": "Information about the pagination of the results.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sort order applied to the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata associated with the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for the financial statement assessment operation.",
        "example": {
          "items": [
            {
              "submissionId": "STANDARD",
              "legalEntityId": "STANDARD",
              "jurisdiction": "STANDARD",
              "reportingPeriod": "STANDARD",
              "regulation": "STANDARD",
              "dueDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "1f79cad6-391b-5a01-86a6-4d042bd545da",
            "correlationId": "c3fbd38d-9e34-5047-b2b7-46b77b45d4b7",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "FinancialStatementAssessment": {
        "title": "Financial Statement Assessment",
        "type": "object",
        "properties": {
          "submissionId": {
            "type": "string",
            "description": "The unique identifier for the submission."
          },
          "legalEntityId": {
            "type": "string",
            "description": "The identifier for the legal entity related to the assessment."
          },
          "jurisdiction": {
            "type": "string",
            "description": "The jurisdiction in which the assessment is made."
          },
          "reportingPeriod": {
            "type": "string",
            "description": "The reporting period for the financial statement."
          },
          "regulation": {
            "type": "string",
            "description": "The regulation under which the assessment is conducted."
          },
          "dueDate": {
            "type": "string",
            "description": "The due date for the financial statement submission."
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the record."
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the record was last updated."
          }
        },
        "description": "A representation of a financial statement assessment.",
        "example": {
          "submissionId": "exampleSubmissionId",
          "legalEntityId": "exampleLegalEntityId",
          "jurisdiction": "exampleJurisdiction",
          "reportingPeriod": "exampleReportingPeriod",
          "regulation": "exampleRegulation",
          "dueDate": "2023-10-01",
          "recordStatus": "exampleRecordStatus",
          "updatedAt": "2023-10-01T12:00:00Z"
        }
      },
      "Pagination": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32"
          }
        },
        "description": "Information regarding the pagination of the items returned in the response.",
        "example": {
          "page": 0,
          "pageSize": 10,
          "totalItems": 100
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the API response."
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier for tracing the request through the system."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed."
          }
        },
        "description": "Metadata associated with the API response, providing additional context.",
        "example": {
          "responseId": "exampleResponseId",
          "correlationId": "exampleCorrelationId",
          "generatedAt": "2023-10-01T12:00:00Z",
          "processingRegion": "exampleRegion"
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "financial-statement-assessment-search-financial-statement-assessment"
        },
        "example": "financial-statement-assessment-search-financial-statement-assessment"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a bearer token, typically a JSON Web Token (JWT), to verify the identity of a user.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}