{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Institutionlogin Accounts-spec",
    "description": "The Institution Login Accounts Retrieval API allows authorized users to access detailed information about accounts linked to a specific institution login for a given customer. This API is primarily used by financial institutions and service providers to facilitate account management and integration services. By retrieving account data, users can effectively manage customer relationships and improve financial service offerings. Typical consumers include customer support teams and financial analysts who require up-to-date account information for their operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/{customerId}/institutionlogins/{institutionloginId}/accounts": {
      "get": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Retrieve accounts associated with a specific institution login for a customer.",
        "description": "This operation fetches all accounts linked to the specified institution login for the customer with ID CUST-100045. It allows developers to access account details conveniently and effectively manage customer account information.",
        "operationId": "listInstitutionloginAccounts",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          },
          {
            "$ref": "#/components/parameters/institutionloginId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve account information for a specific institution login associated with a customer. It expects a JSON formatted request which conforms to the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListInstitutionloginAccountsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the account details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListInstitutionloginAccountsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListInstitutionloginAccountsRequest": {
        "type": "string",
        "description": "A JSON string representing the request body for the GET operation on accounts for the specified customer and institution login.",
        "example": "{}"
      },
      "ListInstitutionloginAccountsResponse_200": {
        "type": "object",
        "properties": {
          "accounts": {
            "type": "array",
            "description": "List of accounts associated with the customer.",
            "example": [
              {
                "id": "STANDARD",
                "number": "STANDARD",
                "accountNumberDisplay": "STANDARD",
                "realAccountNumberLast4": "STANDARD",
                "name": "Northstar Banking Service",
                "balance": 100.0,
                "type": "STANDARD",
                "aggregationStatusCode": 1,
                "status": "ACTIVE",
                "customerId": "CUST-253410",
                "institutionId": "STANDARD",
                "balanceDate": 1,
                "aggregationSuccessDate": 1,
                "aggregationAttemptDate": 1,
                "createdDate": 1,
                "lastUpdatedDate": 1,
                "marketSegment": "STANDARD",
                "currency": "USD",
                "lastTransactionDate": 1,
                "oldestTransactionDate": 1,
                "institutionLoginId": 1,
                "detail": {
                  "dateAsOf": 1,
                  "availableBalanceAmount": 100.0,
                  "openDate": 1,
                  "periodStartDate": 1,
                  "periodEndDate": 1,
                  "periodInterestRate": 100.0,
                  "periodDepositAmount": 100.0,
                  "periodInterestAmount": 100.0,
                  "interestYtdAmount": 100.0,
                  "interestPriorYtdAmount": 100.0,
                  "maturityDate": 1,
                  "interestRate": "STANDARD",
                  "creditAvailableAmount": 100.0,
                  "creditMaxAmount": 100.0
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Account"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving account information associated with a customer.",
        "example": {
          "accounts": [
            {
              "id": "STANDARD",
              "number": "STANDARD",
              "accountNumberDisplay": "STANDARD",
              "realAccountNumberLast4": "STANDARD",
              "name": "Northstar Banking Service",
              "balance": 100.0,
              "type": "STANDARD",
              "aggregationStatusCode": 1,
              "status": "ACTIVE",
              "customerId": "CUST-253410",
              "institutionId": "STANDARD",
              "balanceDate": 1,
              "aggregationSuccessDate": 1,
              "aggregationAttemptDate": 1,
              "createdDate": 1,
              "lastUpdatedDate": 1,
              "marketSegment": "STANDARD",
              "currency": "USD",
              "lastTransactionDate": 1,
              "oldestTransactionDate": 1,
              "institutionLoginId": 1,
              "detail": {
                "dateAsOf": 1,
                "availableBalanceAmount": 100.0,
                "openDate": 1,
                "periodStartDate": 1,
                "periodEndDate": 1,
                "periodInterestRate": 100.0,
                "periodDepositAmount": 100.0,
                "periodInterestAmount": 100.0,
                "interestYtdAmount": 100.0,
                "interestPriorYtdAmount": 100.0,
                "maturityDate": 1,
                "interestRate": "STANDARD",
                "creditAvailableAmount": 100.0,
                "creditMaxAmount": 100.0
              }
            }
          ],
          "metadata": {
            "responseId": "8b32cdf6-6993-5d0f-bada-cb0a91bfd4f2",
            "correlationId": "f180384d-c7d1-5bb4-a0bb-3f5072dd802f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Account": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for the account.",
            "example": "string"
          },
          "number": {
            "type": "string",
            "description": "The account number.",
            "example": "string"
          },
          "accountNumberDisplay": {
            "type": "string",
            "description": "The display representation of the account number.",
            "example": "string"
          },
          "realAccountNumberLast4": {
            "type": "string",
            "description": "The last four digits of the real account number.",
            "example": "string"
          },
          "name": {
            "type": "string",
            "description": "The name associated with the account.",
            "example": "string"
          },
          "balance": {
            "type": "number",
            "description": "Current balance of the account.",
            "example": 0.0
          },
          "type": {
            "type": "string",
            "description": "Type of the account (e.g., checking, savings).",
            "example": "string"
          },
          "aggregationStatusCode": {
            "type": "integer",
            "description": "Status code for the aggregation of the account information.",
            "format": "int32",
            "example": 0
          },
          "status": {
            "type": "string",
            "description": "Current status of the account (e.g., active, inactive).",
            "example": "string"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer associated with the account.",
            "example": "string"
          },
          "institutionId": {
            "type": "string",
            "description": "The unique identifier for the institution holding the account.",
            "example": "string"
          },
          "balanceDate": {
            "type": "integer",
            "description": "The date of the recorded balance.",
            "format": "int32",
            "example": 0
          },
          "aggregationSuccessDate": {
            "type": "integer",
            "description": "The date when data aggregation was successful.",
            "format": "int32",
            "example": 0
          },
          "aggregationAttemptDate": {
            "type": "integer",
            "description": "The date of the last attempt to aggregate account data.",
            "format": "int32",
            "example": 0
          },
          "createdDate": {
            "type": "integer",
            "description": "The date when the account was created.",
            "format": "int32",
            "example": 0
          },
          "lastUpdatedDate": {
            "type": "integer",
            "description": "The date when the account details were last updated.",
            "format": "int32",
            "example": 0
          },
          "marketSegment": {
            "type": "string",
            "description": "Market segment to which the account belongs.",
            "example": "string"
          },
          "currency": {
            "type": "string",
            "description": "Currency type of the account balance.",
            "example": "string"
          },
          "lastTransactionDate": {
            "type": "integer",
            "description": "The date of the last transaction on the account.",
            "format": "int32",
            "example": 0
          },
          "oldestTransactionDate": {
            "type": "integer",
            "description": "The date of the oldest transaction on the account.",
            "format": "int32",
            "example": 0
          },
          "institutionLoginId": {
            "type": "integer",
            "description": "The identifier for the institution login associated with the account.",
            "format": "int32",
            "example": 0
          },
          "detail": {
            "$ref": "#/components/schemas/AccountDetail"
          }
        },
        "description": "Schema representing an individual account."
      },
      "AccountDetail": {
        "type": "object",
        "properties": {
          "dateAsOf": {
            "type": "integer",
            "description": "The date this detail is valid as of.",
            "format": "int32",
            "example": 0
          },
          "availableBalanceAmount": {
            "type": "number",
            "description": "The amount available for withdrawal or usage.",
            "example": 0.0
          },
          "openDate": {
            "type": "integer",
            "description": "The date when the account was opened.",
            "format": "int32",
            "example": 0
          },
          "periodStartDate": {
            "type": "integer",
            "description": "The start date of the current interest period.",
            "format": "int32",
            "example": 0
          },
          "periodEndDate": {
            "type": "integer",
            "description": "The end date of the current interest period.",
            "format": "int32",
            "example": 0
          },
          "periodInterestRate": {
            "type": "number",
            "description": "Interest rate applicable during the current period.",
            "example": 0.0
          },
          "periodDepositAmount": {
            "type": "number",
            "description": "Total deposit amount during the current interest period.",
            "example": 0.0
          },
          "periodInterestAmount": {
            "type": "number",
            "description": "Total interest amount earned during the current period.",
            "example": 0.0
          },
          "interestYtdAmount": {
            "type": "number",
            "description": "Total interest earned year-to-date.",
            "example": 0.0
          },
          "interestPriorYtdAmount": {
            "type": "number",
            "description": "Total interest earned for the prior year-to-date.",
            "example": 0.0
          },
          "maturityDate": {
            "type": "integer",
            "description": "The maturity date of the account (if applicable).",
            "format": "int32",
            "example": 0
          },
          "interestRate": {
            "type": "string",
            "description": "The interest rate associated with the account.",
            "example": "string"
          },
          "creditAvailableAmount": {
            "type": "number",
            "description": "Available credit amount for the account.",
            "example": 0.0
          },
          "creditMaxAmount": {
            "type": "number",
            "description": "Maximum credit limit for the account.",
            "example": 0.0
          }
        },
        "description": "Detailed information about the account."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Additional information about the response metadata."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "institutionloginId": {
        "name": "institutionloginId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint of the request that was processed. This value is intended to help in tracking and monitoring API usage.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-customer-accounts-by-institution-login"
        },
        "example": "open-finance-api-get-customer-accounts-by-institution-login"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the API request. This helps to identify the source of the request in multi-application environments.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a bearer token, typically a JSON Web Token (JWT), for API requests. This token should be included in the 'Authorization' header for secured access to the API resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}