{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Human Resource Management By Param1-spec",
    "description": "The Employee Benefits Retrieval API facilitates access to detailed information regarding employee benefits within an organization. By utilizing this endpoint, users can retrieve valuable insights based on specific parameters related to human resources. This API is essential for HR professionals, payroll departments, and benefits administrators seeking to streamline their operations and enhance decision-making. Common use cases include extracting benefit summaries, analyzing eligibility criteria, and improving employee engagement through data-driven insights.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/employee-benefits/{param1}": {
      "get": {
        "tags": [
          "Employee Benefits"
        ],
        "summary": "Retrieve employee benefits details.",
        "description": "This endpoint allows users to retrieve specific details about the employee benefits associated with a given employee ID. It provides comprehensive information, including eligibility, types of benefits, and any associated conditions.",
        "operationId": "getHumanResourceManagementByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving employee benefits information for a specified employee. This request requires details that are structured in JSON format.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetHumanResourceManagementByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the employee benefits details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetHumanResourceManagementByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetHumanResourceManagementByParam1Request": {
        "type": "string",
        "description": "The request body for the employee benefits operation, which should contain a JSON string representation of the employee benefits data.",
        "example": "{}"
      },
      "GetHumanResourceManagementByParam1Response_200": {
        "title": "Employee Benefits Response",
        "type": "object",
        "properties": {
          "employeeId": {
            "type": "string",
            "description": "The unique identifier for the employee.",
            "example": "EMP-112276"
          },
          "assignmentId": {
            "type": "string",
            "description": "The unique identifier for the employee's assignment.",
            "example": "STANDARD"
          },
          "departmentId": {
            "type": "string",
            "description": "The unique identifier for the department the employee is assigned to.",
            "example": "STANDARD"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date from which the current assignment or status is effective.",
            "example": "2026-09-15"
          },
          "countryCode": {
            "type": "string",
            "description": "The ISO country code where the employee is located.",
            "example": "US"
          },
          "employmentType": {
            "type": "string",
            "description": "The type of employment (e.g., full-time, part-time, contract).",
            "example": "STANDARD"
          },
          "managerId": {
            "type": "string",
            "description": "The unique identifier for the employee's manager.",
            "example": "STANDARD"
          },
          "workLocation": {
            "type": "string",
            "description": "The location where the employee works.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the employee's record (e.g., active, inactive).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version of the employee record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the employee record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "An object containing additional metadata about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response for employee benefits information retrieval, containing details about the employee's work assignments, status, and metadata.",
        "example": {
          "employeeId": "EMP-112276",
          "assignmentId": "STANDARD",
          "departmentId": "STANDARD",
          "effectiveDate": "2026-09-15",
          "countryCode": "US",
          "employmentType": "STANDARD",
          "managerId": "STANDARD",
          "workLocation": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "aad9ae9f-ad7f-59da-bc6d-16c7d28ca2d8",
            "correlationId": "28baa302-229a-54b9-b496-ee614399ccec",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the API response.",
            "example": "R123456"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier used for tracking requests and responses.",
            "example": "C123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-02T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the processing of the request took place.",
            "example": "us-east-1"
          }
        },
        "description": "This schema contains metadata related to the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "employee-benefits-get-employee-benefits"
        },
        "example": "employee-benefits-get-employee-benefits"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token for authentication, which can be a JSON Web Token (JWT). The client must include the token in the Authorization header of requests to gain access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}