{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Card By Param1-spec",
    "description": "The Merchant Acquiring Facility Card Update API allows businesses to modify specific details of a card associated with a merchant acquiring facility by utilizing a unique parameter. This operation primarily targets the flexibility needed in managing card information, catering to financial institutions, payment processors, and merchants. Users can update vital card attributes to reflect changes in business needs or compliance requirements. Typical use cases include adjusting card limits, updating merchant details, or modifying authorization settings, ensuring that organizations can effectively respond to dynamic business environments.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9003",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cards/merchant-acquiring-facility/{param1}": {
      "patch": {
        "tags": [
          "Merchant Acquiring"
        ],
        "summary": "Update Merchant Acquiring Facility",
        "description": "This operation allows you to update the details of a specific Merchant Acquiring Facility identified by the provided ID. The request body should contain the necessary fields to be updated.",
        "operationId": "updateCardByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the properties of a merchant acquiring facility with the identifier \"MER-800045.\" It allows the client to provide the required updates in JSON format.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCardByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateCardByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateCardByParam1Request": {
        "title": "Merchant Acquiring Facility Patch Request",
        "type": "object",
        "properties": {
          "changes": {
            "$ref": "#/components/schemas/MerchantChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change request.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the user or system that requested the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for updating merchant acquiring facility operations.",
        "example": {
          "changes": {
            "merchantId": "MER-472284",
            "legalName": "Olivia Bennett",
            "merchantCategoryCode": "5411"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "e2174635-a90b-59bf-a621-2ec15a6baed5",
            "correlationId": "c9548004-58c0-5f3f-93d7-fc32578e001f",
            "idempotencyKey": "484f663a-7ccb-55ac-8455-eb803a3470ed",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-664699"
            }
          }
        }
      },
      "MerchantChanges": {
        "title": "Merchant Changes",
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "Unique identifier of the merchant.",
            "example": "string"
          },
          "legalName": {
            "type": "string",
            "description": "The legal name of the merchant.",
            "example": "string"
          },
          "merchantCategoryCode": {
            "type": "string",
            "description": "The merchant category code assigned to the merchant.",
            "example": "string"
          }
        },
        "description": "Schema representing the changes to be made to the merchant."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "A correlation id to trace the request across systems.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to avoid duplicate processing of requests.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/RequestChannel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "RequestChannel": {
        "title": "Request Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile, etc.).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Schema representing details about the channel through which the request was made."
      },
      "UpdateCardByParam1Response_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the operation was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "5e0ea2cb-dbd6-526e-89b3-364a9b9871d4",
            "correlationId": "c9548004-58c0-5f3f-93d7-fc32578e001f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Information capturing the context of the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the API endpoint that processed the request. This helps in tracking the specific endpoint used for the transaction.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "merchant-acquiring-facility-update-merchant-acquiring-facility"
        },
        "example": "merchant-acquiring-facility-update-merchant-acquiring-facility"
      },
      "x-runtime-app": {
        "description": "The name of the application that executed this transaction. This allows for tracing and logging of the application responsible for this operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method where a JSON Web Token (JWT) is passed in the Authorization header to authenticate users.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}