{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Human Resource Management Employee Data Managements-spec",
    "description": "The Employee Data Retrieval API provides access to comprehensive employee information within the Human Resource Management system. This endpoint allows users to retrieve details about employees, enhancing visibility into workforce management. Typical consumers of this API include HR personnel, payroll systems, and workforce analytics applications. By facilitating seamless access to employee data, organizations can streamline their HR processes and improve decision-making based on accurate employee insights.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/employee-data-management": {
      "get": {
        "tags": [
          "Employee Management"
        ],
        "summary": "Retrieve employee data.",
        "description": "This endpoint allows you to fetch employee data from the human resource management system. You can obtain various details regarding employees, including their roles, contact information, and employment history.",
        "operationId": "listHumanResourceManagementEmployeeDataManagements",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve specific employee data from the human resource management system. It must include all necessary filters and parameters to ensure accurate data retrieval.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListHumanResourceManagementEmployeeDataManagementsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning employee data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListHumanResourceManagementEmployeeDataManagementsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListHumanResourceManagementEmployeeDataManagementsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation in the Employee Data Management API. It typically contains the query parameters formatted as a JSON string.",
        "example": "{}"
      },
      "ListHumanResourceManagementEmployeeDataManagementsResponse_200": {
        "title": "Employee Data Management Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of employee records returned by the API.",
            "example": [
              {
                "employeeId": "EMP-989182",
                "assignmentId": "STANDARD",
                "departmentId": "STANDARD",
                "effectiveDate": "2026-09-15",
                "countryCode": "US",
                "employmentType": "STANDARD",
                "managerId": "STANDARD",
                "workLocation": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/EmployeeRecord"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting criteria applied to the employee records.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the Employee Data Management API, providing a list of employee records along with pagination and metadata.",
        "example": {
          "items": [
            {
              "employeeId": "EMP-989182",
              "assignmentId": "STANDARD",
              "departmentId": "STANDARD",
              "effectiveDate": "2026-09-15",
              "countryCode": "US",
              "employmentType": "STANDARD",
              "managerId": "STANDARD",
              "workLocation": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "1fc89736-b7e8-5ce3-adea-40c8cc9c07e0",
            "correlationId": "5c359ccb-7138-56f7-9252-05bb11ff6e1f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EmployeeRecord": {
        "title": "Employee Record",
        "type": "object",
        "properties": {
          "employeeId": {
            "type": "string",
            "description": "Unique identifier for the employee."
          },
          "assignmentId": {
            "type": "string",
            "description": "Identifier for the employee's assignment."
          },
          "departmentId": {
            "type": "string",
            "description": "Identifier for the department the employee belongs to."
          },
          "effectiveDate": {
            "type": "string",
            "description": "Date from which the employee record is effective."
          },
          "countryCode": {
            "type": "string",
            "description": "Country code where the employee is located."
          },
          "employmentType": {
            "type": "string",
            "description": "Type of employment (e.g., full-time, part-time)."
          },
          "managerId": {
            "type": "string",
            "description": "Identifier for the employee's manager."
          },
          "workLocation": {
            "type": "string",
            "description": "Primary work location of the employee."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the employee record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the employee record was last updated."
          }
        },
        "description": "Detailed information about a specific employee."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the retrieved records.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of records per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available in the dataset.",
            "format": "int32"
          }
        },
        "description": "Pagination information for the employee records response."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the API response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request occurred."
          }
        },
        "description": "Metadata information associated with the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "employee-data-management-search-employee-data-management"
        },
        "example": "employee-data-management-search-employee-data-management"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication method via JSON Web Tokens (JWT) to secure API endpoints. Clients must provide a valid JWT in the Authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}