{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Wholesale Trading By Param1-spec",
    "description": "The Wholesale Trading Management API enables businesses to efficiently manage and update wholesale trading quotes based on specific parameters. By utilizing the PATCH operation, users can modify existing quotes to reflect the most current trading conditions or changes in client agreements. This API serves financial institutions and trading platforms that require quick adjustments to their trading information. With this endpoint, developers can ensure accurate and timely updates to their wholesale trading resources, improving overall transaction management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/wholesale-trading/quote-management/{param1}": {
      "patch": {
        "tags": [
          "Quote Management"
        ],
        "summary": "Update Quote Management Resource RES-100045",
        "description": "This endpoint allows you to update the details of the Quote Management resource identified by RES-100045. You can modify various attributes of the quote based on your business requirements.",
        "operationId": "updateWholesaleTradingByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the quote management details for the specified wholesale trading operation. Ensure that the fields included adhere to the schema defined for this operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWholesaleTradingByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateWholesaleTradingByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateWholesaleTradingByParam1Request": {
        "title": "Patch Quote Management Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "description": "The changes to be made for the quote.",
            "$ref": "#/components/schemas/QuoteChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes become effective.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user who requested the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for updating quote management operations.",
        "example": {
          "changes": {
            "tradingBookId": "STANDARD",
            "instrumentId": "STANDARD",
            "side": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "75e85a6c-3b6d-5321-8ae6-1a6b9ddb0c3a",
            "correlationId": "c0ba770e-f358-5e04-81b7-993aa5571189",
            "idempotencyKey": "f0f47c87-2c6d-544b-832e-ae84dd39501d",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-714022"
            }
          }
        }
      },
      "QuoteChanges": {
        "title": "Quote Changes",
        "type": "object",
        "properties": {
          "tradingBookId": {
            "type": "string",
            "description": "The identifier for the trading book.",
            "example": "string"
          },
          "instrumentId": {
            "type": "string",
            "description": "The identifier for the instrument.",
            "example": "string"
          },
          "side": {
            "type": "string",
            "description": "The side of the trading operation (buy/sell).",
            "example": "string"
          }
        },
        "description": "Details of changes being requested for a quote."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracing the request.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure the request is idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originates.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originates.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Information regarding the request context."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used.",
            "example": "string"
          }
        },
        "description": "Details regarding the channel used to make the request."
      },
      "UpdateWholesaleTradingByParam1Response_200": {
        "title": "Quote Management Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version number of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the operation was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the PATCH operation in quote management, providing information about the status and metadata of the operation.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "b7906c70-aaca-53a0-a110-803d6bc26a2b",
            "correlationId": "c0ba770e-f358-5e04-81b7-993aa5571189",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "resp-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier that correlates this response with a specific request or operation.",
            "example": "corr-123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the response was generated.",
            "example": "2023-10-05T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata information related to the response, including identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "quote-management-update-quote-management"
        },
        "example": "quote-management-update-quote-management"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication mechanism, which involves sending a JSON Web Token (JWT) in the authorization header with each request. The token is expected to be prefixed with 'Bearer '. Proper handling of token expiration and refresh is recommended.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}