{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Pisp File Payment Consent-spec",
    "description": "This API facilitates the management of Payment Initiation Service Provider (PISP) file payment consents, allowing financial institutions to securely capture and process consent from end-users. By utilizing this API, institutions can streamline the creation of payment consents necessary for initiating file payments on behalf of customers. Typical consumers of this API include banks, fintech companies, and payment service providers looking to enhance their payment processing capabilities. It ensures compliance with open banking regulations while providing an efficient means of managing payment authorization.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/file-payment-consents": {
      "post": {
        "tags": [
          "File Payment"
        ],
        "summary": "Initiate a file payment consent.",
        "description": "This endpoint allows the user to create a file payment consent, which is a necessary step for processing bulk payments securely and efficiently. Ensure all required information is provided to successfully initiate the consent.",
        "operationId": "createPispFilePaymentConsent",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create a file payment consent. It contains all necessary details to process the file payment and must adhere to the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePispFilePaymentConsentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created a new file payment consent.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePispFilePaymentConsentResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreatePispFilePaymentConsentRequest": {
        "type": "object",
        "properties": {
          "Data": {
            "$ref": "#/components/schemas/FilePaymentConsentData"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for file payment consents operation.",
        "example": {
          "Data": {
            "Initiation": {
              "FileType": "STANDARD",
              "FileHash": "STANDARD",
              "FileReference": "STANDARD",
              "NumberOfTransactions": "STANDARD",
              "ControlSum": 100.0,
              "RequestedExecutionDateTime": "2026-09-15T14:30:00Z",
              "LocalInstrument": "STANDARD",
              "CreditorAgent": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "LEI": "STANDARD",
                "PostalAddress": {
                  "AddressType": "STANDARD",
                  "Department": "STANDARD",
                  "SubDepartment": "STANDARD",
                  "StreetName": "Northstar Banking Service",
                  "BuildingNumber": "STANDARD",
                  "BuildingName": "Northstar Banking Service",
                  "Floor": "STANDARD",
                  "UnitNumber": "STANDARD",
                  "Room": "STANDARD"
                }
              }
            }
          },
          "requestContext": {
            "requestId": "1cf57982-190a-537c-ad24-54ecce0e20f8",
            "correlationId": "f47d263d-f62f-53ff-b22d-a57796976374",
            "idempotencyKey": "30832046-50d1-5210-8baf-fd5a417d089d",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-986466"
            }
          }
        }
      },
      "FilePaymentConsentData": {
        "type": "object",
        "properties": {
          "ConsentId": {
            "type": "string",
            "description": "Unique identifier for the consent.",
            "example": "string"
          },
          "CreationDateTime": {
            "type": "string",
            "description": "Timestamp of when the consent was created.",
            "example": "2023-01-01T12:00:00Z"
          },
          "Status": {
            "type": "string",
            "description": "Current status of the consent.",
            "example": "Pending"
          },
          "StatusReason": {
            "type": "array",
            "description": "Reasons for the current status.",
            "items": {
              "$ref": "#/components/schemas/StatusReason"
            }
          },
          "StatusUpdateDateTime": {
            "type": "string",
            "description": "Timestamp of the last status update.",
            "example": "2023-01-01T12:00:00Z"
          },
          "CutOffDateTime": {
            "type": "string",
            "description": "Deadline for processing the consent.",
            "example": "2023-01-01T15:00:00Z"
          },
          "Charges": {
            "type": "array",
            "description": "Charges applicable to the consent.",
            "items": {
              "$ref": "#/components/schemas/Charge"
            }
          },
          "Initiation": {
            "$ref": "#/components/schemas/InitiationDetails"
          }
        },
        "description": "Data related to the file payment consent."
      },
      "FileInitiation": {
        "type": "object",
        "properties": {
          "FileType": {
            "type": "string",
            "description": "The type of the file being processed.",
            "example": "string"
          },
          "FileHash": {
            "type": "string",
            "description": "Hash of the file for verification.",
            "example": "string"
          },
          "FileReference": {
            "type": "string",
            "description": "Reference identifier for the file.",
            "example": "string"
          },
          "NumberOfTransactions": {
            "type": "string",
            "description": "Total number of transactions in the file.",
            "example": "string"
          },
          "ControlSum": {
            "type": "number",
            "description": "Total control sum for the transactions.",
            "example": 0.0
          },
          "RequestedExecutionDateTime": {
            "type": "string",
            "description": "Requested date and time for execution.",
            "example": "string"
          },
          "LocalInstrument": {
            "type": "string",
            "description": "Local instrument used for the payment.",
            "example": "string"
          },
          "CreditorAgent": {
            "$ref": "#/components/schemas/CreditorAgent"
          }
        },
        "description": "Initiation details for the file payment."
      },
      "CreditorAgent": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "Scheme name of the creditor agent.",
            "example": "string"
          },
          "Identification": {
            "type": "string",
            "description": "Identification number of the creditor agent.",
            "example": "string"
          },
          "Name": {
            "type": "string",
            "description": "Name of the creditor agent.",
            "example": "string"
          },
          "LEI": {
            "type": "string",
            "description": "Legal Entity Identifier of the creditor agent.",
            "example": "string"
          },
          "PostalAddress": {
            "$ref": "#/components/schemas/PostalAddress"
          }
        },
        "description": "Information about the creditor's agent."
      },
      "PostalAddress": {
        "type": "object",
        "properties": {
          "AddressType": {
            "type": "string",
            "description": "Type of address (e.g., residential, business).",
            "example": "Business"
          },
          "Department": {
            "type": "string",
            "description": "Department within the organization.",
            "example": "Finance"
          },
          "SubDepartment": {
            "type": "string",
            "description": "Sub-department within the organization.",
            "example": "Accounts Payable"
          },
          "StreetName": {
            "type": "string",
            "description": "Street name of the address.",
            "example": "Main St"
          },
          "BuildingNumber": {
            "type": "string",
            "description": "Building number of the address.",
            "example": "123"
          },
          "BuildingName": {
            "type": "string",
            "description": "Name of the building, if applicable.",
            "example": "Empire State Building"
          },
          "Floor": {
            "type": "string",
            "description": "Floor number within the building.",
            "example": "10"
          },
          "UnitNumber": {
            "type": "string",
            "description": "Unit number within the building.",
            "example": "1001"
          },
          "Room": {
            "type": "string",
            "description": "Room number within the building.",
            "example": "A"
          },
          "PostBox": {
            "type": "string",
            "description": "Post box number, if applicable.",
            "example": "PO Box 123"
          },
          "TownLocationName": {
            "type": "string",
            "description": "Name of the town or location.",
            "example": "New York"
          },
          "DistrictName": {
            "type": "string",
            "description": "Name of the district.",
            "example": "New York County"
          }
        },
        "description": "Postal address of the creditor agent."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the idempotence of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System that initiated the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application responsible for the request.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information regarding the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the communication channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the communication channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the request.",
            "example": "string"
          }
        },
        "description": "Information about the channel through which the request was made."
      },
      "CreatePispFilePaymentConsentResponse_201": {
        "type": "object",
        "properties": {
          "Data": {
            "$ref": "#/components/schemas/FilePaymentConsentData"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for creating file payment consents.",
        "example": {
          "Data": {
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "Status": "ACTIVE",
            "StatusReason": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "Path": "STANDARD"
              }
            ],
            "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
            "CutOffDateTime": "2026-09-15T14:30:00Z",
            "Charges": [
              {
                "ChargeBearer": "STANDARD",
                "Type": "STANDARD",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            ],
            "Initiation": {
              "FileType": "STANDARD",
              "FileHash": "STANDARD",
              "FileReference": "STANDARD",
              "NumberOfTransactions": "STANDARD",
              "ControlSum": 100.0,
              "RequestedExecutionDateTime": "2026-09-15T14:30:00Z",
              "LocalInstrument": "STANDARD",
              "CreditorAgent": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "LEI": "STANDARD",
                "PostalAddress": {
                  "AddressType": "STANDARD",
                  "Department": "STANDARD",
                  "SubDepartment": "STANDARD",
                  "StreetName": "Northstar Banking Service",
                  "BuildingNumber": "STANDARD",
                  "BuildingName": "Northstar Banking Service",
                  "Floor": "STANDARD",
                  "UnitNumber": "STANDARD",
                  "Room": "STANDARD",
                  "PostBox": "STANDARD",
                  "TownLocationName": "Northstar Banking Service",
                  "DistrictName": "Northstar Banking Service"
                }
              }
            }
          },
          "metadata": {
            "responseId": "7d0920e2-254e-55b0-aa09-78c01733acae",
            "correlationId": "f47d263d-f62f-53ff-b22d-a57796976374",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "StatusReason": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Code representing the reason.",
            "example": "REASON_CODE"
          },
          "description": {
            "type": "string",
            "description": "Description of the reason.",
            "example": "The consent is pending due to missing information."
          },
          "Path": {
            "type": "string",
            "description": "Path related to the reason.",
            "example": "/path/to/reason"
          }
        },
        "description": "Reason for the status of the consent."
      },
      "Charge": {
        "type": "object",
        "properties": {
          "ChargeBearer": {
            "type": "string",
            "description": "Entity responsible for the charge.",
            "example": "SHARED"
          },
          "Type": {
            "type": "string",
            "description": "Type of charge.",
            "example": "Fee"
          },
          "Amount": {
            "$ref": "#/components/schemas/AmountDetails"
          }
        },
        "description": "Details of a charge applicable to the consent."
      },
      "AmountDetails": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The numeric amount.",
            "example": "100.00"
          },
          "Currency": {
            "type": "string",
            "description": "Currency code of the amount.",
            "example": "USD"
          }
        },
        "description": "Details of the amount charged."
      },
      "InitiationDetails": {
        "type": "object",
        "properties": {
          "FileType": {
            "type": "string",
            "description": "Type of the file being processed.",
            "example": "PaymentFile"
          },
          "FileHash": {
            "type": "string",
            "description": "Hash of the file for integrity verification.",
            "example": "abc123hashvalue"
          },
          "FileReference": {
            "type": "string",
            "description": "Reference identifier for the file.",
            "example": "file-ref-001"
          },
          "NumberOfTransactions": {
            "type": "string",
            "description": "Number of transactions included in the file.",
            "example": "10"
          },
          "ControlSum": {
            "type": "number",
            "description": "Control sum of the transactions in the file.",
            "example": 1000.0
          },
          "RequestedExecutionDateTime": {
            "type": "string",
            "description": "Requested date and time for execution.",
            "example": "2023-01-01T10:00:00Z"
          },
          "LocalInstrument": {
            "type": "string",
            "description": "Local instrument type applicable to the consent.",
            "example": "SEPA"
          },
          "CreditorAgent": {
            "$ref": "#/components/schemas/CreditorAgentDetails"
          }
        },
        "description": "Details related to the initiation of the payment consent."
      },
      "CreditorAgentDetails": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "Name of the scheme.",
            "example": "BIC"
          },
          "Identification": {
            "type": "string",
            "description": "Identifier for the creditor agent.",
            "example": "DEUTDEFF"
          },
          "Name": {
            "type": "string",
            "description": "Name of the creditor agent.",
            "example": "Deutsche Bank"
          },
          "LEI": {
            "type": "string",
            "description": "Legal entity identifier for the creditor agent.",
            "example": "5493001KJ8NTE1L8S828"
          },
          "PostalAddress": {
            "$ref": "#/components/schemas/PostalAddress"
          }
        },
        "description": "Details of the creditor's agent."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate related requests and responses.",
            "example": "correlation-001"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "EU"
          }
        },
        "description": "Metadata related to the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-create-file-payment-consent"
        },
        "example": "payment-initiation-openapi-create-file-payment-consent"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Token for authentication. The token should be in the format of a JSON Web Token (JWT) and must be included in the HTTP Authorization header as 'Authorization: Bearer {token}'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}