{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Banking Enterprise Services Fixed Asset Register By Fixed Asset Register Id-v5-spec",
    "description": "The Fixed Asset Register Retrieval API provides access to comprehensive details regarding fixed asset registers within the Banking Enterprise Services. By querying with a specific fixed asset register ID, users can retrieve essential information related to their asset management needs. This API is designed for financial analysts, asset managers, and accounting personnel seeking to maintain authoritative records of their organization's fixed assets. Typical use cases include auditing, reporting, and resource allocation, ensuring that stakeholders have the necessary data to make informed decisions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/enterprise-services/fixed-asset-register/{fixedAssetRegisterId}": {
      "get": {
        "tags": [
          "Fixed Asset Management"
        ],
        "summary": "Retrieve a fixed asset record by its ID.",
        "description": "This endpoint allows users to fetch a specific fixed asset record using its unique identifier. It provides detailed information about the asset, helping users to manage and track their fixed asset inventories effectively.",
        "operationId": "getBankingEnterpriseServicesFixedAssetRegisterByFixedAssetRegisterId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/fixedAssetRegisterId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information about a specific fixed asset identified by RES-100045 from the enterprise services fixed asset register. The expected payload conforms to the defined schema and it may include various parameters relevant to the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBankingEnterpriseServicesFixedAssetRegisterByFixedAssetRegisterIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful, and the resource data is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBankingEnterpriseServicesFixedAssetRegisterByFixedAssetRegisterIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBankingEnterpriseServicesFixedAssetRegisterByFixedAssetRegisterIdRequest": {
        "type": "string",
        "description": "This schema represents the request body format for the GET operation related to the fixed asset register.",
        "example": "{}"
      },
      "GetBankingEnterpriseServicesFixedAssetRegisterByFixedAssetRegisterIdResponse_200": {
        "type": "object",
        "properties": {
          "assetId": {
            "type": "string",
            "description": "Unique identifier for the asset.",
            "example": "STANDARD"
          },
          "assetClass": {
            "type": "string",
            "description": "Classification of the asset.",
            "example": "STANDARD"
          },
          "acquisitionDate": {
            "type": "string",
            "description": "Date when the asset was acquired.",
            "example": "2026-09-15"
          },
          "acquisitionCost": {
            "description": "Cost associated with the acquisition of the asset.",
            "$ref": "#/components/schemas/AcquisitionCost"
          },
          "usefulLifeMonths": {
            "type": "integer",
            "description": "Expected useful life of the asset in months.",
            "format": "int32",
            "example": 1
          },
          "costCenter": {
            "type": "string",
            "description": "Cost center associated with the asset.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the asset record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the asset record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the asset record.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata information related to the asset.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for fetching details of a fixed asset.",
        "example": {
          "assetId": "STANDARD",
          "assetClass": "STANDARD",
          "acquisitionDate": "2026-09-15",
          "acquisitionCost": {
            "amount": 100.0,
            "currency": "USD"
          },
          "usefulLifeMonths": 1,
          "costCenter": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "ad7a1947-29b0-52ca-99af-6774dc8d6141",
            "correlationId": "7c5c1490-2cfd-5c7b-aca4-da6bf1008fab",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AcquisitionCost": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Monetary amount for the acquisition cost.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "Currency in which the acquisition cost is denominated.",
            "example": "string"
          }
        },
        "description": "Object representing the acquisition cost details for an asset."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the asset processing took place.",
            "example": "string"
          }
        },
        "description": "Object containing metadata related to the asset."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "fixedAssetRegisterId": {
        "name": "fixedAssetRegisterId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "fixed-asset-register-get-fixed-asset-register"
        },
        "example": "fixed-asset-register-get-fixed-asset-register"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request, indicating which service was responsible for processing it.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JSON Web Tokens (JWT) to authenticate requests. Clients must include a valid JWT in the Authorization header as a Bearer token.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}