{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Project Finance Management API",
    "description": "The Project Finance Management API enables users to access and retrieve detailed financial information related to trade banking projects. It serves financial institutions, project managers, and stakeholders involved in large-scale projects by providing insights into funding status, investment returns, and associated risks. This API supports seamless data integration for performance monitoring and financial reporting, enhancing decision-making processes. Utilize this API to stay informed about the financial health of ongoing projects and to analyze historical data for future investments.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/project-finance": {
      "get": {
        "tags": [
          "Trade Banking"
        ],
        "summary": "Retrieve project finance information.",
        "description": "This endpoint allows you to access detailed information about project finance opportunities and related data in trade banking. Use this to get insights into ongoing projects and financial arrangements.",
        "operationId": "getProjectFinanceDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a project finance operation within the trade banking system. It contains all necessary parameters and configurations needed for retrieving project finance-related information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetProjectFinanceDetailsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning project finance details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetProjectFinanceDetailsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetProjectFinanceDetailsRequest": {
        "title": "Trade Banking Project Finance Operations Request Body",
        "type": "string",
        "description": "A string that represents the request body for the Trade Banking Project Finance Operations GET request.",
        "example": "{}"
      },
      "GetProjectFinanceDetailsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of financial items related to project finance.",
            "example": [
              {
                "corporateCustomerId": "CUST-369751",
                "facilityId": "STANDARD",
                "counterpartyId": "PARTY-916073",
                "amount": {
                  "value": 100.0,
                  "currency": "USD"
                },
                "maturityDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/FinancialItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting criteria applied to the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the GET operation on Project Finance in Trade Banking, which includes a collection of financial items, pagination details, sorting information, and metadata.",
        "example": {
          "items": [
            {
              "corporateCustomerId": "CUST-369751",
              "facilityId": "STANDARD",
              "counterpartyId": "PARTY-916073",
              "amount": {
                "value": 100.0,
                "currency": "USD"
              },
              "maturityDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "7cba56ad-dc38-5f9d-91f3-e52edd8137e7",
            "correlationId": "81539140-8afe-5e29-97ea-dd33098de7fe",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "FinancialItem": {
        "type": "object",
        "properties": {
          "corporateCustomerId": {
            "type": "string",
            "description": "Unique identifier for the corporate customer.",
            "example": "CUST123"
          },
          "facilityId": {
            "type": "string",
            "description": "Unique identifier for the financing facility.",
            "example": "FACILITY123"
          },
          "counterpartyId": {
            "type": "string",
            "description": "Unique identifier for the counterparty involved in the transaction.",
            "example": "COUNTERPARTY123"
          },
          "amount": {
            "$ref": "#/components/schemas/Amount"
          },
          "maturityDate": {
            "type": "string",
            "description": "The maturity date of the financial item.",
            "example": "2025-12-31"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record, such as active or inactive.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the financial item was last updated.",
            "example": "2023-10-01T00:00:00Z"
          }
        },
        "description": "Represents an individual financial item in project finance.",
        "example": {
          "corporateCustomerId": "CUST123",
          "facilityId": "FACILITY123",
          "counterpartyId": "COUNTERPARTY123",
          "amount": {
            "value": 1000000,
            "currency": "USD"
          },
          "maturityDate": "2025-12-31",
          "recordStatus": "active",
          "updatedAt": "2023-10-01T00:00:00Z"
        }
      },
      "Amount": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The numeric value of the amount.",
            "example": 1000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency of the amount, represented in ISO 4217 format.",
            "example": "USD"
          }
        },
        "description": "Represents an amount in a specified currency."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number of the result set.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available across all pages.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Details regarding the pagination of the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the specific response.",
            "example": "12345"
          },
          "correlationId": {
            "type": "string",
            "description": "A correlation identifier to track the request.",
            "example": "abcde"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "project-finance-search-project-finance"
        },
        "example": "project-finance-search-project-finance"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication, which involves sending a token with the HTTP Authorization header. The token should be in the JSON Web Token (JWT) format, allowing for stateless authentication.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}