{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Loan Disbursement Update API",
    "description": "The Loan Disbursement Update API enables users to modify existing disbursement records associated with loans. This endpoint allows for adjustments to disbursement details, such as amounts or distribution dates, providing flexibility in managing loan disbursements. Typical consumers include financial institutions and loan servicing companies who require accurate and timely updates to disbursement information. By using this API, developers can ensure that disbursement records reflect the latest financial arrangements and compliance standards.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loans/{loanId}/disbursements/{disbursementId}": {
      "put": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Update a specific loan disbursement.",
        "description": "This operation allows you to update the details of a specific disbursement associated with a loan. You can modify fields such as amount, date, and notes related to the disbursement. Ensure that you provide the necessary data in the request body for a successful update.",
        "operationId": "updateLoanDisbursement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/loanId"
          },
          {
            "$ref": "#/components/parameters/disbursementId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the disbursement information associated with the loan identified by LOAN-500045 and the specific disbursement identified by RES-100045. Ensure that all required fields are populated correctly to process the update successfully.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLoanDisbursementRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateLoanDisbursementResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateLoanDisbursementRequest": {
        "title": "Disbursement Request Body",
        "type": "object",
        "properties": {
          "amount": {
            "description": "The amount of money to be disbursed along with its currency.",
            "$ref": "#/components/schemas/AmountDetails"
          },
          "disbursementMethod": {
            "type": "string",
            "description": "The method by which the disbursement will be made.",
            "example": "STANDARD"
          },
          "valueDate": {
            "type": "string",
            "description": "The date when the disbursement will take effect.",
            "example": "2026-09-15"
          },
          "beneficiary": {
            "description": "The details of the beneficiary who will receive the funds.",
            "$ref": "#/components/schemas/BeneficiaryDetails"
          },
          "deductions": {
            "type": "array",
            "description": "A list of deductions applied to the disbursement.",
            "example": [
              {
                "type": "STANDARD",
                "amount": {
                  "currency": "USD",
                  "amount": "1250.75"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/DeductionDetails"
            }
          },
          "narrative": {
            "type": "string",
            "description": "A description or narrative regarding the disbursement.",
            "example": "STANDARD"
          },
          "externalReference": {
            "type": "string",
            "description": "An external reference identifier associated with the disbursement.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the payload for a loan disbursement request.",
        "example": {
          "amount": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "disbursementMethod": "STANDARD",
          "valueDate": "2026-09-15",
          "beneficiary": {
            "name": "Northstar Banking Service",
            "accountNumber": "STANDARD",
            "bankCode": "CODE-147",
            "bankName": "Northstar Banking Service",
            "address": {
              "line1": "350 Fifth Avenue",
              "line2": "Suite 4200",
              "city": "New York",
              "state": "STANDARD",
              "postalCode": "10001",
              "country": "STANDARD"
            }
          },
          "deductions": [
            {
              "type": "STANDARD",
              "amount": {
                "currency": "USD",
                "amount": "1250.75"
              }
            }
          ],
          "narrative": "STANDARD",
          "externalReference": "STANDARD",
          "requestContext": {
            "requestId": "a44ec4fe-22d5-5daa-bea5-9ecaca5dec8c",
            "correlationId": "a0d600a1-bbea-5d91-8364-aba06d976aa5",
            "idempotencyKey": "b4dbe896-3dca-52ea-b1bf-3143fca7851c",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-314244"
            }
          }
        }
      },
      "AmountDetails": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency type of the amount.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "Numeric amount value.",
            "example": "1000.00"
          }
        },
        "description": "Details of the amount including currency and value."
      },
      "BeneficiaryDetails": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Full name of the beneficiary.",
            "example": "John Doe"
          },
          "accountNumber": {
            "type": "string",
            "description": "Account number of the beneficiary.",
            "example": "123456789"
          },
          "bankCode": {
            "type": "string",
            "description": "Bank code of the beneficiary's bank.",
            "example": "ABC123"
          },
          "bankName": {
            "type": "string",
            "description": "Name of the beneficiary\u2019s bank.",
            "example": "Bank of Examples"
          },
          "address": {
            "$ref": "#/components/schemas/AddressDetails"
          }
        },
        "description": "Details of the beneficiary receiving the disbursement."
      },
      "AddressDetails": {
        "type": "object",
        "properties": {
          "line1": {
            "type": "string",
            "description": "First line of the address.",
            "example": "123 Example St."
          },
          "line2": {
            "type": "string",
            "description": "Second line of the address (optional).",
            "example": "Apt 4B"
          },
          "city": {
            "type": "string",
            "description": "City of the beneficiary.",
            "example": "Example City"
          },
          "state": {
            "type": "string",
            "description": "State of the beneficiary.",
            "example": "Example State"
          },
          "postalCode": {
            "type": "string",
            "description": "Postal code of the beneficiary's address.",
            "example": "12345"
          },
          "country": {
            "type": "string",
            "description": "Country of the beneficiary.",
            "example": "Example Country"
          }
        },
        "description": "Details of the beneficiary's address."
      },
      "DeductionDetails": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of deduction (e.g., fee, tax).",
            "example": "fee"
          },
          "amount": {
            "$ref": "#/components/schemas/AmountDetails"
          }
        },
        "description": "Details of deductions applied to the disbursement."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to trace the request across multiple systems.",
            "example": "corr-12345"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure that repeated requests produce the same effect.",
            "example": "idempotency-12345"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system from which the request originated.",
            "example": "System A"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "App A"
          },
          "channel": {
            "description": "Information about the channel used to send the request.",
            "$ref": "#/components/schemas/ChannelDetails"
          }
        },
        "description": "This schema contains contextual information about the request."
      },
      "ChannelDetails": {
        "title": "Channel Details",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel-12345"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., API, web, mobile).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "The device identifier (if applicable).",
            "example": "device-12345"
          }
        },
        "description": "This schema represents details of the channel through which the request was made."
      },
      "UpdateLoanDisbursementResponse_200": {
        "type": "object",
        "properties": {
          "amount": {
            "$ref": "#/components/schemas/AmountDetails"
          },
          "disbursementMethod": {
            "type": "string",
            "description": "Method used for the disbursement of the loan amount.",
            "example": "STANDARD"
          },
          "valueDate": {
            "type": "string",
            "description": "Date when the disbursement is processed.",
            "example": "2026-09-15"
          },
          "beneficiary": {
            "$ref": "#/components/schemas/BeneficiaryDetails"
          },
          "deductions": {
            "type": "array",
            "description": "List of deductions applied to the disbursement.",
            "example": [
              {
                "type": "STANDARD",
                "amount": {
                  "currency": "USD",
                  "amount": "1250.75"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/DeductionDetails"
            }
          },
          "narrative": {
            "type": "string",
            "description": "Narrative or description related to the disbursement.",
            "example": "STANDARD"
          },
          "externalReference": {
            "type": "string",
            "description": "External reference ID related to the disbursement.",
            "example": "STANDARD"
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the disbursement record.",
            "example": "1e8e5b27-579e-ce25-3d66-2074eec4862c"
          },
          "disbursementNumber": {
            "type": "string",
            "description": "Unique number assigned to the disbursement.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the disbursement.",
            "example": "ACTIVE"
          },
          "grossAmount": {
            "$ref": "#/components/schemas/AmountDetails"
          },
          "netAmount": {
            "$ref": "#/components/schemas/AmountDetails"
          },
          "transactionReference": {
            "type": "string",
            "description": "Reference ID for tracking the transaction.",
            "example": "STANDARD"
          },
          "processedAt": {
            "type": "string",
            "description": "Timestamp when the disbursement was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "failureCode": {
            "type": "string",
            "description": "Code representing the failure reason if applicable.",
            "example": "CODE-184"
          },
          "failureMessage": {
            "type": "string",
            "description": "Message explaining the failure if applicable.",
            "example": "STANDARD"
          },
          "audit": {
            "$ref": "#/components/schemas/AuditDetails"
          },
          "metadata": {
            "$ref": "#/components/schemas/MetadataDetails"
          }
        },
        "description": "Response schema for loan disbursement operations.",
        "example": {
          "amount": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "disbursementMethod": "STANDARD",
          "valueDate": "2026-09-15",
          "beneficiary": {
            "name": "Northstar Banking Service",
            "accountNumber": "STANDARD",
            "bankCode": "CODE-546",
            "bankName": "Northstar Banking Service",
            "address": {
              "line1": "350 Fifth Avenue",
              "line2": "Suite 4200",
              "city": "New York",
              "state": "STANDARD",
              "postalCode": "10001",
              "country": "STANDARD"
            }
          },
          "deductions": [
            {
              "type": "STANDARD",
              "amount": {
                "currency": "USD",
                "amount": "1250.75"
              }
            }
          ],
          "narrative": "STANDARD",
          "externalReference": "STANDARD",
          "id": "1e8e5b27-579e-ce25-3d66-2074eec4862c",
          "disbursementNumber": "STANDARD",
          "status": "ACTIVE",
          "grossAmount": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "netAmount": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "transactionReference": "STANDARD",
          "processedAt": "2026-08-11T12:00:00Z",
          "failureCode": "CODE-184",
          "failureMessage": "STANDARD",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "847bf98e-d7ff-56cf-87ba-9caeb05974d9",
            "correlationId": "a0d600a1-bbea-5d91-8364-aba06d976aa5",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AuditDetails": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the record was created.",
            "example": "2023-01-01T12:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "User who created the record.",
            "example": "admin"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the record was last updated.",
            "example": "2023-01-02T12:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "User who last updated the record.",
            "example": "admin"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the record.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Audit information related to the disbursement."
      },
      "MetadataDetails": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response123"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking related requests.",
            "example": "correlation456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "US-East"
          }
        },
        "description": "Metadata related to the disbursement process."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "loanId": {
        "name": "loanId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "disbursementId": {
        "name": "disbursementId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the endpoint that processed the request. This is useful for tracking the service that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-replace-disbursement"
        },
        "example": "banking-loans-openapi-replace-disbursement"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the operation. This can help in identifying the source of the request in a multi-application environment.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a bearer token (JSON Web Token) to verify the identity of the client. This scheme is typically used for securing API endpoints and allowing authorized access.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}