{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Domestic Payment Consent Funds Confirmations-spec",
    "description": "This API provides access to the status of funds confirmations for domestic payment consents in the Open Banking framework. It allows authorized consumers, such as financial institutions and payment service providers, to verify whether sufficient funds are available for a specific payment transaction. By utilizing this endpoint, users can enhance their transaction validation processes and improve the overall user experience. The API is essential for ensuring compliance with financial regulations and minimizing transaction failures.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/domestic-payment-consents/{param1}/funds-confirmation": {
      "get": {
        "tags": [
          "Domestic Payment"
        ],
        "summary": "Retrieve funds confirmation for a domestic payment consent.",
        "description": "This endpoint provides a mechanism to verify the availability of funds for a specific domestic payment consent identified by its unique reference. It's an essential step in ensuring sufficient balance before proceeding with the payment.",
        "operationId": "listDomesticPaymentConsentFundsConfirmations",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to confirm funds for a domestic payment consent. It must include the necessary parameters to identify the specific transaction and the corresponding payment consent.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListDomesticPaymentConsentFundsConfirmationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Funds confirmation retrieved successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDomesticPaymentConsentFundsConfirmationsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListDomesticPaymentConsentFundsConfirmationsRequest": {
        "title": "Funds Confirmation Request",
        "type": "string",
        "description": "Represents the structure of a request body for confirming funds in a domestic payment consent operation.",
        "example": "{}"
      },
      "ListDomesticPaymentConsentFundsConfirmationsResponse_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "FundsAvailableResult": {
                "$ref": "#/components/schemas/FundsAvailableResult"
              }
            },
            "description": "Contains data related to funds availability.",
            "example": {
              "FundsAvailableResult": {
                "FundsAvailableDateTime": "2026-09-15T14:30:00Z",
                "FundsAvailable": true
              }
            }
          },
          "Links": {
            "description": "The links provided for navigation within the response.",
            "$ref": "#/components/schemas/Links"
          },
          "Meta": {
            "description": "Meta information about the response.",
            "$ref": "#/components/schemas/Meta"
          },
          "metadata": {
            "description": "Additional metadata regarding the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response for a domestic payment consent funds confirmation operation.",
        "example": {
          "Data": {
            "FundsAvailableResult": {
              "FundsAvailableDateTime": "2026-09-15T14:30:00Z",
              "FundsAvailable": true
            }
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource",
            "Next": "https://example.com/resource",
            "Last": "https://example.com/resource"
          },
          "Meta": {
            "TotalPages": 1,
            "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
            "LastAvailableDateTime": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "responseId": "dd4ba341-3879-51ee-8b0e-175a1bd58e00",
            "correlationId": "40b2bbb3-38b7-542a-a604-4e3f55fca713",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "FundsAvailableResult": {
        "type": "object",
        "properties": {
          "FundsAvailableDateTime": {
            "type": "string",
            "description": "The date and time when the funds availability was confirmed.",
            "example": "2023-10-10T10:00:00Z"
          },
          "FundsAvailable": {
            "type": "boolean",
            "description": "Indicates whether funds are available.",
            "example": false
          }
        },
        "description": "Details of the availability of funds."
      },
      "Links": {
        "type": "object",
        "properties": {
          "Self": {
            "type": "string",
            "description": "Link to the current resource.",
            "example": "https://api.example.com/self"
          },
          "First": {
            "type": "string",
            "description": "Link to the first page of results.",
            "example": "https://api.example.com/first"
          },
          "Prev": {
            "type": "string",
            "description": "Link to the previous page of results.",
            "example": "https://api.example.com/prev"
          },
          "Next": {
            "type": "string",
            "description": "Link to the next page of results.",
            "example": "https://api.example.com/next"
          },
          "Last": {
            "type": "string",
            "description": "Link to the last page of results.",
            "example": "https://api.example.com/last"
          }
        },
        "description": "Pagination and navigation links."
      },
      "Meta": {
        "type": "object",
        "properties": {
          "TotalPages": {
            "type": "integer",
            "description": "Total number of pages available in the result set.",
            "format": "int32",
            "example": 5
          },
          "FirstAvailableDateTime": {
            "type": "string",
            "description": "The date and time when data first became available.",
            "example": "2023-10-01T00:00:00Z"
          },
          "LastAvailableDateTime": {
            "type": "string",
            "description": "The date and time when data was last updated.",
            "example": "2023-10-10T10:00:00Z"
          }
        },
        "description": "Metadata related to the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracing the request and response.",
            "example": "corr-67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-10T10:05:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the response was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Additional metadata concerning the transaction response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-confirm-domestic-payment-funds"
        },
        "example": "payment-initiation-openapi-confirm-domestic-payment-funds"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Token authentication mechanism, specifically a JSON Web Token (JWT). Clients must include the JWT in the Authorization header of their requests to authenticate.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}