{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Channel Activity Analysi Analyse-spec",
    "description": "The Channel Activity Analysis Submission API facilitates the creation of new analyses related to banking channel activities. This endpoint allows financial institutions to submit details about customer interactions within various channels, enabling data-driven insights and reporting. Typical consumers include data analysts and operational teams who rely on channel performance metrics for strategic decision-making. By leveraging this API, organizations can enhance their operational efficiencies and improve customer engagement through informed analysis.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/channel-activity-analysis/analyses": {
      "post": {
        "tags": [
          "Channel Activity Analysis"
        ],
        "summary": "Create a new channel activity analysis.",
        "description": "This endpoint allows you to create a new channel activity analysis based on the provided data. Ensure that all required fields in the request body are populated correctly to successfully generate the analysis.",
        "operationId": "createChannelActivityAnalysiAnalyse",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit a new analysis for channel activity. It requires specific details about the analysis to be performed, including various parameters defined in the schema, ensuring that all necessary information is provided for accurate processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateChannelActivityAnalysiAnalyseRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the analysis results.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateChannelActivityAnalysiAnalyseResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateChannelActivityAnalysiAnalyseRequest": {
        "title": "Channel Activity Analysis Request Body",
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "A unique identifier for the operation.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "Identifier for the customer involved in the operation.",
            "example": "CUST-308061"
          },
          "accountId": {
            "type": "string",
            "description": "Identifier for the account linked to the customer.",
            "example": "ACC-767841"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2026-08-11T12:00:00Z"
          },
          "priority": {
            "type": "string",
            "description": "Priority level for the request.",
            "example": "NORMAL"
          },
          "requestContext": {
            "description": "Contextual information for the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the request body when performing channel activity analysis operations.",
        "example": {
          "operationId": "STANDARD",
          "customerId": "CUST-308061",
          "accountId": "ACC-767841",
          "requestedAt": "2026-08-11T12:00:00Z",
          "priority": "NORMAL",
          "requestContext": {
            "requestId": "94e3f6b7-c38d-59cf-9301-95ac99140820",
            "correlationId": "69070c78-260e-5060-ac38-f8128b532770",
            "idempotencyKey": "35662520-69fc-5ea9-aeff-3b6c39e7912d",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-714020"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used for correlating requests across systems.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system of the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the application originating the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., email, SMS, etc.).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the channel.",
            "example": "string"
          }
        },
        "description": "Schema containing details about the communication channel."
      },
      "CreateChannelActivityAnalysiAnalyseResponse_200": {
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "Unique identifier for the operation.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-166402"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "ACC-324553"
          },
          "analysisId": {
            "type": "string",
            "description": "Unique identifier for the analysis.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the analysis.",
            "example": "ACTIVE"
          },
          "completedAt": {
            "type": "string",
            "description": "Timestamp when the analysis was completed.",
            "example": "2026-09-15T14:30:00Z"
          },
          "findings": {
            "type": "array",
            "description": "An array of findings from the analysis.",
            "example": [
              {
                "metric": "STANDARD",
                "value": 100,
                "unit": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/AnalysisFinding"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "response112"
              },
              "correlationId": {
                "type": "string",
                "description": "Correlation ID for tracking requests.",
                "example": "correlation789"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the response was generated.",
                "example": "2023-10-01T12:01:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the processing occurred.",
                "example": "us-west-1"
              }
            },
            "description": "Metadata related to the analysis response.",
            "example": {
              "responseId": "f8089174-a0b5-50e2-8d8a-42108e4d53c9",
              "correlationId": "69070c78-260e-5060-ac38-f8128b532770",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for the operations analysis.",
        "example": {
          "operationId": "STANDARD",
          "customerId": "CUST-166402",
          "accountId": "ACC-324553",
          "analysisId": "STANDARD",
          "status": "ACTIVE",
          "completedAt": "2026-09-15T14:30:00Z",
          "findings": [
            {
              "metric": "STANDARD",
              "value": 100,
              "unit": "STANDARD"
            }
          ],
          "metadata": {
            "responseId": "f8089174-a0b5-50e2-8d8a-42108e4d53c9",
            "correlationId": "69070c78-260e-5060-ac38-f8128b532770",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AnalysisFinding": {
        "type": "object",
        "properties": {
          "metric": {
            "type": "string",
            "description": "The metric being analyzed.",
            "example": "conversionRate"
          },
          "value": {
            "type": "integer",
            "description": "The value of the metric.",
            "format": "int32",
            "example": 75
          },
          "unit": {
            "type": "string",
            "description": "The unit of measurement for the value.",
            "example": "%"
          }
        },
        "description": "Contains details about a specific finding from the analysis."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "channel-activity-analysis-analyze-channel-activity-analysis"
        },
        "example": "channel-activity-analysis-analyze-channel-activity-analysis"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication mechanism utilizing a Bearer token, where the token is a JSON Web Token (JWT) that is included in the Authorization header of the HTTP request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}