{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Replace Loan Application By Applicant Id-spec",
    "description": "The Loan Application Update API allows authorized users to modify existing loan applications based on the provided applicant ID. This endpoint is essential for financial institutions looking to ensure that their loan records reflect the most current information from borrowers. Users such as loan officers or application reviewers can utilize this API to amend details, adjust terms, or correct errors in loan applications. By leveraging this API, organizations can maintain accuracy and improve service delivery throughout the loan approval process.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{param1}/applicants/{applicantId}": {
      "put": {
        "tags": [
          "Loan Applications"
        ],
        "summary": "Update Applicant Information for a Loan Application",
        "description": "This endpoint allows the user to update the applicant information for a specific loan application identified by its unique ID. Ensure that all required fields are provided in the request to successfully update the applicant's data.",
        "operationId": "replaceLoanApplicationByApplicantId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          },
          {
            "$ref": "#/components/parameters/applicantId"
          }
        ],
        "requestBody": {
          "description": "Updates the details of the specified applicant for the given loan application. The request body should provide the updated information in JSON format according to the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceLoanApplicationByApplicantIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update completed successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceLoanApplicationByApplicantIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ReplaceLoanApplicationByApplicantIdRequest": {
        "title": "Loan Application Applicant Request",
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "description": "The role of the applicant in the loan application.",
            "example": "PRIMARY_HOLDER"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-340306"
          },
          "relationshipToPrimary": {
            "type": "string",
            "description": "The relationship of the applicant to the primary applicant.",
            "example": "STANDARD"
          },
          "income": {
            "description": "Details about the applicant's income.",
            "$ref": "#/components/schemas/Income"
          },
          "monthlyObligations": {
            "description": "The monthly obligations of the applicant.",
            "$ref": "#/components/schemas/FinancialAmount"
          },
          "declaredAssets": {
            "type": "array",
            "description": "List of assets declared by the applicant.",
            "example": [
              {
                "assetType": "STANDARD",
                "description": "Customer banking request processed successfully",
                "estimatedValue": {
                  "currency": "USD",
                  "amount": "1250.75"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Asset"
            }
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for a loan application applicant.",
        "example": {
          "role": "PRIMARY_HOLDER",
          "customerId": "CUST-340306",
          "relationshipToPrimary": "STANDARD",
          "income": {
            "employmentType": "STANDARD",
            "employerName": "Northstar Banking Service",
            "occupation": "STANDARD",
            "employmentStartDate": "2026-09-15",
            "businessRegistrationNumber": "STANDARD",
            "grossMonthlyIncome": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "netMonthlyIncome": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "otherMonthlyIncome": {
              "currency": "USD",
              "amount": "1250.75"
            }
          },
          "monthlyObligations": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "declaredAssets": [
            {
              "assetType": "STANDARD",
              "description": "Customer banking request processed successfully",
              "estimatedValue": {
                "currency": "USD",
                "amount": "1250.75"
              }
            }
          ],
          "requestContext": {
            "requestId": "a8ddc24a-9dc0-58d5-9132-cfa5dfc9726d",
            "correlationId": "c9677ae7-b8cb-5182-b22e-cc3429a0aaef",
            "idempotencyKey": "2739c77a-92f4-5b33-b7d1-cef7a5bb45ad",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-133190"
            }
          }
        }
      },
      "Income": {
        "type": "object",
        "properties": {
          "employmentType": {
            "type": "string",
            "description": "Type of employment, e.g., Full-time, Part-time, Self-employed.",
            "example": "Full-time"
          },
          "employerName": {
            "type": "string",
            "description": "Name of the employer.",
            "example": "ABC Corp"
          },
          "occupation": {
            "type": "string",
            "description": "The occupation of the applicant.",
            "example": "Software Engineer"
          },
          "employmentStartDate": {
            "type": "string",
            "description": "The start date of the employment.",
            "example": "2020-01-15"
          },
          "businessRegistrationNumber": {
            "type": "string",
            "description": "The business registration number if self-employed.",
            "example": "BR123456"
          },
          "grossMonthlyIncome": {
            "description": "Gross monthly income of the applicant.",
            "$ref": "#/components/schemas/Money"
          },
          "netMonthlyIncome": {
            "description": "Net monthly income after deductions.",
            "$ref": "#/components/schemas/Money"
          },
          "otherMonthlyIncome": {
            "description": "Any other monthly income sources.",
            "$ref": "#/components/schemas/Money"
          },
          "verificationStatus": {
            "type": "string",
            "description": "The status of income verification.",
            "example": "Verified"
          }
        },
        "description": "Schema representing the income information of an applicant."
      },
      "FinancialAmount": {
        "title": "Financial Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency of the amount (e.g. USD, EUR).",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The numerical value of the amount.",
            "example": "3000"
          }
        },
        "description": "Schema representing a financial amount with currency."
      },
      "Asset": {
        "type": "object",
        "properties": {
          "assetType": {
            "type": "string",
            "description": "Type of the asset, e.g., Property, Vehicle.",
            "example": "Property"
          },
          "description": {
            "type": "string",
            "description": "Description of the asset.",
            "example": "House in the city"
          },
          "estimatedValue": {
            "description": "Estimated value of the asset.",
            "$ref": "#/components/schemas/Money"
          }
        },
        "description": "Schema representing an asset owned by the applicant."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking related requests.",
            "example": "cor-001"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key for ensuring idempotency.",
            "example": "key-12345"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name of the source system making the request.",
            "example": "LoanProcessingSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the source application making the request.",
            "example": "LoanAppMobile"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing contextual information about the request."
      },
      "Channel": {
        "title": "Request Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "ch-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g. Online, Mobile).",
            "example": "Mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used for the request.",
            "example": "device-123"
          }
        },
        "description": "Schema representing the channel through which the request is made."
      },
      "ReplaceLoanApplicationByApplicantIdResponse_200": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "description": "The role of the applicant in the loan application.",
            "example": "PRIMARY_HOLDER"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-807996"
          },
          "relationshipToPrimary": {
            "type": "string",
            "description": "The relationship of the applicant to the primary applicant.",
            "example": "STANDARD"
          },
          "income": {
            "description": "Income details of the applicant.",
            "$ref": "#/components/schemas/Income"
          },
          "monthlyObligations": {
            "description": "Monthly financial obligations of the applicant.",
            "$ref": "#/components/schemas/Money"
          },
          "declaredAssets": {
            "type": "array",
            "description": "List of declared assets owned by the applicant.",
            "example": [
              {
                "assetType": "STANDARD",
                "description": "Customer banking request processed successfully",
                "estimatedValue": {
                  "currency": "USD",
                  "amount": "1250.75"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Asset"
            }
          },
          "declaredLiabilities": {
            "type": "array",
            "description": "List of declared liabilities of the applicant.",
            "example": [
              {
                "liabilityType": "STANDARD",
                "lenderName": "Northstar Banking Service",
                "outstandingBalance": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "monthlyPayment": {
                  "currency": "USD",
                  "amount": "1250.75"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Liability"
            }
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the applicant.",
            "example": "08cd5bdd-cd8d-05f9-8fe2-03734c4b26d9"
          },
          "creditBureauStatus": {
            "type": "string",
            "description": "The credit bureau status of the applicant.",
            "example": "ACTIVE"
          },
          "audit": {
            "description": "Audit information related to the applicant's data.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Additional metadata related to the application data.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing an applicant's information in a loan application.",
        "example": {
          "role": "PRIMARY_HOLDER",
          "customerId": "CUST-807996",
          "relationshipToPrimary": "STANDARD",
          "income": {
            "employmentType": "STANDARD",
            "employerName": "Northstar Banking Service",
            "occupation": "STANDARD",
            "employmentStartDate": "2026-09-15",
            "businessRegistrationNumber": "STANDARD",
            "grossMonthlyIncome": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "netMonthlyIncome": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "otherMonthlyIncome": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "verificationStatus": "VERIFIED"
          },
          "monthlyObligations": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "declaredAssets": [
            {
              "assetType": "STANDARD",
              "description": "Customer banking request processed successfully",
              "estimatedValue": {
                "currency": "USD",
                "amount": "1250.75"
              }
            }
          ],
          "declaredLiabilities": [
            {
              "liabilityType": "STANDARD",
              "lenderName": "Northstar Banking Service",
              "outstandingBalance": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "monthlyPayment": {
                "currency": "USD",
                "amount": "1250.75"
              }
            }
          ],
          "id": "08cd5bdd-cd8d-05f9-8fe2-03734c4b26d9",
          "creditBureauStatus": "ACTIVE",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "9334bd1f-db6a-5d64-bd9f-adfb27680e09",
            "correlationId": "c9677ae7-b8cb-5182-b22e-cc3429a0aaef",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Money": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency of the amount.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The monetary amount.",
            "example": "1000"
          }
        },
        "description": "Schema representing a monetary value with currency."
      },
      "Liability": {
        "type": "object",
        "properties": {
          "liabilityType": {
            "type": "string",
            "description": "Type of liability, e.g., Loan, Mortgage.",
            "example": "Mortgage"
          },
          "lenderName": {
            "type": "string",
            "description": "Name of the lender.",
            "example": "Bank A"
          },
          "outstandingBalance": {
            "description": "Outstanding balance on the liability.",
            "$ref": "#/components/schemas/Money"
          },
          "monthlyPayment": {
            "description": "Monthly payment amount for the liability.",
            "$ref": "#/components/schemas/Money"
          }
        },
        "description": "Schema representing a liability of the applicant."
      },
      "Audit": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the record was created.",
            "example": "2023-01-01T12:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the record.",
            "example": "User1"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the record was last updated.",
            "example": "2023-02-01T12:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the record.",
            "example": "User2"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the record.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Schema for auditing information related to the applicant."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the application response.",
            "example": "RES123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request.",
            "example": "CORR1234"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the processing occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Schema containing metadata related to the application data."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "applicantId": {
        "name": "applicantId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-replace-applicant"
        },
        "example": "banking-loans-openapi-replace-applicant"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, relying on JSON Web Tokens (JWT) for secure access. Clients must include a valid token in the Authorization header to authenticate requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}