{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Channel Specific Product Inventory Item Management-spec",
    "description": "The Channel-Specific Product Inventory Management API enables businesses to efficiently create and manage inventory items tailored to specific sales channels. This operation allows users to input detailed product information, ensuring that inventory aligns with various channel requirements. Typical consumers include retail managers and inventory specialists who need to optimize stock levels and product availability across different platforms. By leveraging this API, organizations can streamline their inventory management processes and gain better control over their product offerings.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/product-inventory-item-management": {
      "post": {
        "tags": [
          "Product Inventory Management"
        ],
        "summary": "Create a Channel-Specific Product Inventory Item",
        "description": "This endpoint allows you to create a new product inventory item that is specific to a particular sales channel. Ensure you provide all required details for the inventory item to be successfully created.",
        "operationId": "createChannelSpecificProductInventoryItemManagement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for managing product inventory items specific to a channel. This request allows for adding, updating, or removing inventory items, depending on the provided data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateChannelSpecificProductInventoryItemManagementRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully, representing a new product inventory item.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateChannelSpecificProductInventoryItemManagementResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateChannelSpecificProductInventoryItemManagementRequest": {
        "title": "Product Inventory Item Management Request Body",
        "type": "object",
        "properties": {
          "inventoryItemId": {
            "type": "string",
            "description": "Unique identifier for the inventory item.",
            "example": "STANDARD"
          },
          "sku": {
            "type": "string",
            "description": "Stock Keeping Unit, a unique identifier for the product.",
            "example": "STANDARD"
          },
          "branchId": {
            "type": "string",
            "description": "Identifier for the branch where the inventory item is located.",
            "example": "STANDARD"
          },
          "quantityOnHand": {
            "type": "integer",
            "description": "The current quantity of the inventory item available on hand.",
            "format": "int32",
            "example": 1
          },
          "reorderPoint": {
            "type": "integer",
            "description": "The inventory level at which a new order should be placed.",
            "format": "int32",
            "example": 1
          },
          "distributionQuantity": {
            "type": "integer",
            "description": "The quantity to be distributed to the specific channels.",
            "format": "int32",
            "example": 1
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for managing product inventory items in a specific channel.",
        "example": {
          "inventoryItemId": "STANDARD",
          "sku": "STANDARD",
          "branchId": "STANDARD",
          "quantityOnHand": 1,
          "reorderPoint": 1,
          "distributionQuantity": 1,
          "requestContext": {
            "requestId": "fb10c423-7738-5d65-b46a-88798bf33db9",
            "correlationId": "7c56d044-02aa-576b-afd3-b2fa390a9f53",
            "idempotencyKey": "bf99ce66-1302-5b47-b3ee-690f09458530",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-863152"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the specific request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate logs for the request across different services.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that requests are idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the system that made the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the application that initiated the request.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request, providing metadata about the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., online, offline).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device associated with the channel.",
            "example": "string"
          }
        },
        "description": "Schema representing the channel through which the request is made."
      },
      "CreateChannelSpecificProductInventoryItemManagementResponse_201": {
        "title": "Product Inventory Item Management Response",
        "type": "object",
        "properties": {
          "inventoryItemId": {
            "type": "string",
            "description": "The unique identifier for the inventory item.",
            "example": "STANDARD"
          },
          "branchId": {
            "type": "string",
            "description": "The identifier for the branch where the inventory item is located.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "The identifier for the resource associated with this inventory item.",
            "example": "RES-744837"
          },
          "status": {
            "type": "string",
            "description": "The current status of the inventory item.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the inventory item was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional information related to the inventory item.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Represents the response structure for managing product inventory items in a specific channel.",
        "example": {
          "inventoryItemId": "STANDARD",
          "branchId": "STANDARD",
          "resourceId": "RES-744837",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "bfa3e164-a7a4-58c8-92c6-25fca879b239",
            "correlationId": "7c56d044-02aa-576b-afd3-b2fa390a9f53",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response-001"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier to track the request across systems.",
            "example": "correlation-123"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "us-west-1"
          }
        },
        "description": "Contains metadata information related to the inventory item response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint being accessed. This ID helps in tracking the specific endpoint used during the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "product-inventory-item-management-create-product-inventory-item-management"
        },
        "example": "product-inventory-item-management-create-product-inventory-item-management"
      },
      "X-Runtime-App": {
        "description": "The version of the runtime application that processed the request. This information is useful for debugging and maintaining compatibility.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which requires a valid JSON Web Token (JWT) to be included in the Authorization header in requests. This token should be obtained from the authentication process and must be included for every request that requires authentication.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}