{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Marketing Customer Surveys-spec",
    "description": "The Customer Surveys Retrieval API provides access to a comprehensive list of marketing customer surveys. This endpoint enables businesses to retrieve valuable feedback data, which can be pivotal in understanding customer preferences and enhancing marketing strategies. Typical consumers include marketing analysts and product managers who need insights into customer satisfaction and engagement. By leveraging this API, organizations can analyze and act on survey results to drive better customer experiences.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/marketing/customer-surveys": {
      "get": {
        "tags": [
          "Customer Feedback"
        ],
        "summary": "Retrieve a list of customer surveys",
        "description": "This endpoint allows you to fetch all available customer surveys. You can use this data to analyze feedback and improve marketing strategies.",
        "operationId": "listMarketingCustomerSurveys",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving customer surveys. This API call fetches the available customer surveys based on the parameters provided in the JSON schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListMarketingCustomerSurveysRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the customer surveys.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListMarketingCustomerSurveysResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListMarketingCustomerSurveysRequest": {
        "type": "string",
        "description": "The request body for the GET operation on customer surveys in the marketing API.",
        "example": "{}"
      },
      "ListMarketingCustomerSurveysResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of survey responses.",
            "example": [
              {
                "campaignId": "STANDARD",
                "targetSegmentId": "STANDARD",
                "channelMix": [
                  "STANDARD"
                ],
                "budget": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "startDate": "2026-09-15",
                "endDate": "2026-09-15",
                "surveyTemplateId": "STANDARD",
                "deliveryChannel": "STANDARD",
                "responseWindowDays": 1,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/SurveyResponse"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting order of the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the customer surveys API, containing items, pagination details, sorting information, and metadata.",
        "example": {
          "items": [
            {
              "campaignId": "STANDARD",
              "targetSegmentId": "STANDARD",
              "channelMix": [
                "STANDARD"
              ],
              "budget": {
                "amount": 100.0,
                "currency": "USD"
              },
              "startDate": "2026-09-15",
              "endDate": "2026-09-15",
              "surveyTemplateId": "STANDARD",
              "deliveryChannel": "STANDARD",
              "responseWindowDays": 1,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "fa081548-517f-5c35-84bb-bc1276ddf77c",
            "correlationId": "1c1ac29a-68cd-50b2-87ba-9eda8708d72b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "SurveyResponse": {
        "type": "object",
        "properties": {
          "campaignId": {
            "type": "string",
            "description": "The ID of the marketing campaign."
          },
          "targetSegmentId": {
            "type": "string",
            "description": "The ID of the target customer segment."
          },
          "channelMix": {
            "type": "array",
            "description": "Mix of channels used for the survey.",
            "items": {
              "type": "string",
              "description": "A specific channel in the channel mix."
            }
          },
          "budget": {
            "$ref": "#/components/schemas/Budget"
          },
          "startDate": {
            "type": "string",
            "description": "The start date of the survey."
          },
          "endDate": {
            "type": "string",
            "description": "The end date of the survey."
          },
          "surveyTemplateId": {
            "type": "string",
            "description": "The ID of the survey template used."
          },
          "deliveryChannel": {
            "type": "string",
            "description": "The channel through which the survey is delivered."
          },
          "responseWindowDays": {
            "type": "integer",
            "description": "The number of days allowed for responses.",
            "format": "int32"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the survey response record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the survey response was last updated."
          }
        },
        "description": "Schema representing details of a single survey response."
      },
      "Budget": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The budget amount allocated for the survey."
          },
          "currency": {
            "type": "string",
            "description": "The currency used for the budget amount."
          }
        },
        "description": "Schema representing the budget details for a survey."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32"
          }
        },
        "description": "Pagination details for the response data."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "ID used to correlate requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred."
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-surveys-search-customer-surveys"
        },
        "example": "customer-surveys-search-customer-surveys"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes Bearer authentication, which requires a valid JSON Web Token (JWT) to authorize access to secured resources. Clients must include the JWT in the Authorization header of their HTTP requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}