{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Case Root Cause Analysi Analyse-spec",
    "description": "This API facilitates the submission of root cause analyses for banking service cases. By utilizing this endpoint, businesses can effectively document and analyze the underlying reasons for service-related issues. Typical users include support teams and service managers who seek to improve operational efficiency and customer satisfaction. The API supports structured data submission to capture comprehensive analysis details, enabling better decision-making and process enhancements.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/servicing/case-root-cause-analysis/analyses": {
      "post": {
        "tags": [],
        "summary": "Create a new case root cause analysis.",
        "description": "This endpoint allows users to create a new case root cause analysis by providing the necessary input data. It processes the information and returns the result of the analysis.",
        "operationId": "createCaseRootCauseAnalysiAnalyse",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request is used to create a new analysis for case root cause investigation. The provided data must adhere to the specified schema in order to ensure the successful creation of the analysis.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCaseRootCauseAnalysiAnalyseRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was completed successfully and the analysis details are returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCaseRootCauseAnalysiAnalyseResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCaseRootCauseAnalysiAnalyseRequest": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier of the customer.",
            "example": "CUST-720545"
          },
          "caseId": {
            "type": "string",
            "description": "The unique identifier for the case.",
            "example": "CASE-741186"
          },
          "requestCategory": {
            "type": "string",
            "description": "The category of the request.",
            "example": "STANDARD"
          },
          "priority": {
            "type": "string",
            "description": "The priority level of the case.",
            "example": "NORMAL"
          },
          "originatingChannel": {
            "type": "string",
            "description": "The channel from which the case originated.",
            "example": "STANDARD"
          },
          "caseReason": {
            "type": "string",
            "description": "The reason for the case.",
            "example": "STANDARD"
          },
          "serviceLevelDueAt": {
            "type": "string",
            "description": "The timestamp indicating when the service level is due.",
            "example": "2026-08-11T12:00:00Z"
          },
          "customerContactPreference": {
            "type": "string",
            "description": "The preferred method to contact the customer.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for root cause analysis case operations.",
        "example": {
          "customerId": "CUST-720545",
          "caseId": "CASE-741186",
          "requestCategory": "STANDARD",
          "priority": "NORMAL",
          "originatingChannel": "STANDARD",
          "caseReason": "STANDARD",
          "serviceLevelDueAt": "2026-08-11T12:00:00Z",
          "customerContactPreference": "STANDARD",
          "requestContext": {
            "requestId": "017ed4cd-54f6-5afd-adae-b98257b92635",
            "correlationId": "7b8188eb-50ce-5db1-b857-2811efad6fdd",
            "idempotencyKey": "5cf91a6e-c066-5858-8b14-ae9a134f0eb4",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-434316"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "REQ-9876"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to correlate requests and responses.",
            "example": "CORR-1234"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "The key used to ensure idempotency of the request.",
            "example": "IDEMPOT-345"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-01T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that originated the request.",
            "example": "CRM System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that generated the request.",
            "example": "Support App"
          },
          "channel": {
            "description": "Details about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the contextual information of a request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "CH-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., Web, Mobile).",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier for the device used.",
            "example": "DEVICE-123"
          }
        },
        "description": "Schema representing the details of the channel used in the request."
      },
      "CreateCaseRootCauseAnalysiAnalyseResponse_200": {
        "required": [
          "analysisId",
          "caseId",
          "customerId",
          "findings",
          "metadata",
          "status"
        ],
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-664175"
          },
          "caseId": {
            "type": "string",
            "description": "The unique identifier for the case.",
            "example": "CASE-148552"
          },
          "analysisId": {
            "type": "string",
            "description": "The unique identifier for the analysis.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the case analysis.",
            "example": "ACTIVE"
          },
          "completedAt": {
            "type": "string",
            "description": "The date and time when the analysis was completed.",
            "example": "2026-09-15T14:30:00Z"
          },
          "findings": {
            "type": "array",
            "description": "A list of findings from the analysis.",
            "example": [
              {
                "metric": "STANDARD",
                "value": 100.0,
                "unit": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Finding"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "example": {
          "customerId": "CUST-664175",
          "caseId": "CASE-148552",
          "analysisId": "STANDARD",
          "status": "ACTIVE",
          "completedAt": "2026-09-15T14:30:00Z",
          "findings": [
            {
              "metric": "STANDARD",
              "value": 100.0,
              "unit": "STANDARD"
            }
          ],
          "metadata": {
            "responseId": "fa97ac91-f318-5520-993a-47c38469a340",
            "correlationId": "7b8188eb-50ce-5db1-b857-2811efad6fdd",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Finding": {
        "type": "object",
        "properties": {
          "metric": {
            "type": "string",
            "description": "The metric associated with the finding.",
            "example": "response_time"
          },
          "value": {
            "type": "number",
            "description": "The value of the metric.",
            "example": 150.0
          },
          "unit": {
            "type": "string",
            "description": "The unit of measurement for the metric value.",
            "example": "ms"
          }
        },
        "description": "A detailed finding from the analysis."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "RESP98765"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation ID used for tracking.",
            "example": "CORR54321"
          },
          "generatedAt": {
            "type": "string",
            "description": "The date and time when the analysis response was generated.",
            "example": "2023-10-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "us-west-2"
          }
        },
        "description": "Metadata related to the analysis response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint associated with the current request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "case-root-cause-analysis-analyze-case-root-cause-analysis"
        },
        "example": "case-root-cause-analysis-analyze-case-root-cause-analysis"
      },
      "X-Runtime-App": {
        "description": "The name or identifier of the runtime application processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme allows authorization using a Bearer token. It is commonly used with JSON Web Tokens (JWT) for secure API access.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}