{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Open Banking Event Notification-spec",
    "description": "The Open Banking Event Notification API facilitates the creation of event notifications related to banking transactions and activities. This endpoint allows consumers, such as financial institutions and third-party developers, to submit event notifications in a standardized format. By utilizing this API, clients can ensure timely updates and alerts for end-users, enhancing the overall banking experience. This API streamlines communication processes and fosters a more integrated financial ecosystem.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/event-notifications": {
      "post": {
        "tags": [
          "Event Notifications"
        ],
        "summary": "Create a new event notification",
        "description": "This endpoint allows users to create an event notification, which can be utilized to notify subscribers about important events or updates. It accepts the necessary details in the request body and will respond with the status of the creation process.",
        "operationId": "createOpenBankingEventNotification",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body contains the necessary information for processing event notifications. It must adhere to the specified schema to ensure proper operation and integration with the event notification system.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOpenBankingEventNotificationRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted and is being processed.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOpenBankingEventNotificationResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateOpenBankingEventNotificationRequest": {
        "title": "Event Notification Request Body",
        "type": "object",
        "properties": {
          "value": {
            "type": "string",
            "description": "The content of the event notification.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for creating a new event notification.",
        "example": {
          "value": "STANDARD",
          "requestContext": {
            "requestId": "5d24a0c2-6cc3-54ac-bb9f-265ba766cb75",
            "correlationId": "ac5cf6a9-29ee-585e-94fc-2a138f73ed92",
            "idempotencyKey": "bb612007-4f61-59e5-9ace-6df9c509cacb",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-627387"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to handle idempotency of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system making the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the application making the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the contextual information for the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., SMS, Email).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used if applicable.",
            "example": "string"
          }
        },
        "description": "Schema representing the details of the channel through which the request is made."
      },
      "CreateOpenBankingEventNotificationResponse_202": {
        "type": "object",
        "properties": {
          "metadata": {
            "description": "Metadata containing various identifiers and timestamps related to the event response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for successful POST operations on event notifications.",
        "example": {
          "metadata": {
            "responseId": "a4cdd510-9e38-55f0-bdcf-c6fd8dd45bb8",
            "correlationId": "ac5cf6a9-29ee-585e-94fc-2a138f73ed92",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "12345-abcde"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple related requests and responses.",
            "example": "67890-fghij"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated, usually in ISO 8601 format.",
            "example": "2023-10-10T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request occurred.",
            "example": "us-west-2"
          }
        },
        "description": "Detailed metadata information for the event response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "The unique identifier for the endpoint associated with the event notification.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "events-notifications-api-create-event-notification"
        },
        "example": "events-notifications-api-create-event-notification"
      },
      "x-runtime-app": {
        "description": "The name of the runtime application that generated the event notification.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method, which requires a JSON Web Token (JWT) for authentication. The token must be included in the Authorization header of requests to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}