{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Payment Capture API",
    "description": "The Payment Capture API enables businesses to capture payments for existing transactions using unique payment identifiers. This endpoint allows merchants to finalize payment processing on previously authorized payments, enhancing transaction management. Typically utilized by e-commerce platforms, payment service providers, and transaction processing systems, it ensures timely revenue collection and improves order fulfillment. Developers can integrate this functionality to streamline financial operations while maintaining compliance with payment processing standards.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/payments/{paymentId}/capture": {
      "post": {
        "tags": [
          "Payment Operations"
        ],
        "summary": "Capture a payment.",
        "description": "This endpoint allows you to capture a payment that has been previously authorized. By calling this endpoint, you can finalize the payment for transaction PAY-300045.",
        "operationId": "capturePaymentPay300045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/paymentId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to capture a payment associated with the specified payment ID (PAY-300045). It includes the necessary parameters to process the capture, ensuring the transaction is completed effectively.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CapturePaymentPay300045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The capture request was successful, and the payment has been processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CapturePaymentPay300045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CapturePaymentPay300045Request": {
        "title": "Capture Payment Request Body",
        "type": "object",
        "properties": {
          "amount": {
            "description": "The amount to be captured, including currency and value.",
            "$ref": "#/components/schemas/PaymentAmount"
          },
          "tipAmount": {
            "description": "The tip amount to be included in the payment capture, including currency and value.",
            "$ref": "#/components/schemas/PaymentAmount"
          },
          "finalCapture": {
            "type": "boolean",
            "description": "Indicates if this is a final capture of the payment.",
            "example": true
          },
          "merchantReference": {
            "type": "string",
            "description": "A reference identifier provided by the merchant for transaction tracking.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information regarding the payment request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for capturing a payment.",
        "example": {
          "amount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "tipAmount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "finalCapture": true,
          "merchantReference": "STANDARD",
          "requestContext": {
            "requestId": "1d0ae40b-2d5c-59a4-87a3-159eb7afe977",
            "correlationId": "ce4195b8-ac71-5d95-8b43-07c4c0a7a8e7",
            "idempotencyKey": "ae0cbb20-2b11-529f-be2d-5b30a63ffbb6",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-572067"
            }
          }
        }
      },
      "PaymentAmount": {
        "title": "Payment Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency code (e.g., USD, EUR) for the payment amount.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "The numerical value of the payment amount.",
            "example": "100.00"
          }
        },
        "description": "Schema representing the monetary amount, including currency and value."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate related requests.",
            "example": "corr-12345"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key that ensures the request is unique and avoids duplication.",
            "example": "idempotency-key-123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that originated the request.",
            "example": "payment-gateway"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "mobile-app"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema containing the request context information."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "channel-1"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used to make the request.",
            "example": "device-1234"
          }
        },
        "description": "Schema containing information about the channel through which the request was made."
      },
      "CapturePaymentPay300045Response_200": {
        "title": "Payment Capture Response",
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment.",
            "example": "PAY-778232"
          },
          "paymentIntentId": {
            "type": "string",
            "description": "Identifier for the payment intent.",
            "example": "STANDARD"
          },
          "qrPaymentRequestId": {
            "type": "string",
            "description": "Identifier for the QR payment request.",
            "example": "fe2b5d42-58bb-5b68-b182-97592bc8dd56"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant.",
            "example": "MER-605142"
          },
          "outletId": {
            "type": "string",
            "description": "Identifier for the outlet.",
            "example": "STANDARD"
          },
          "terminalId": {
            "type": "string",
            "description": "Identifier for the terminal.",
            "example": "STANDARD"
          },
          "merchantOrderId": {
            "type": "string",
            "description": "Order identifier as defined by the merchant.",
            "example": "ORD-812939"
          },
          "channel": {
            "type": "string",
            "description": "Payment channel used for the transaction.",
            "example": "STANDARD"
          },
          "paymentMethod": {
            "description": "Details of the payment method used.",
            "$ref": "#/components/schemas/PaymentMethod"
          },
          "customer": {
            "description": "Information about the customer making the payment.",
            "$ref": "#/components/schemas/Customer"
          },
          "amounts": {
            "description": "Details of the amounts involved in the transaction.",
            "$ref": "#/components/schemas/PaymentAmounts"
          },
          "metadata": {
            "description": "Metadata associated with the payment response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for capturing a payment.",
        "example": {
          "paymentId": "PAY-778232",
          "paymentIntentId": "STANDARD",
          "qrPaymentRequestId": "fe2b5d42-58bb-5b68-b182-97592bc8dd56",
          "merchantId": "MER-605142",
          "outletId": "STANDARD",
          "terminalId": "STANDARD",
          "merchantOrderId": "ORD-812939",
          "channel": "STANDARD",
          "paymentMethod": {
            "type": "STANDARD",
            "token": "STANDARD",
            "issuerBankCode": "CODE-567",
            "maskedIdentifier": "STANDARD",
            "walletProvider": "STANDARD"
          },
          "customer": {
            "id": "STANDARD",
            "name": "Northstar Banking Service",
            "email": "olivia.bennett@northstar.example",
            "phone": "+1-212-555-0147",
            "riskSegment": "STANDARD"
          },
          "amounts": {
            "requested": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "authorized": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "captured": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "refunded": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "reversed": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "tip": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "fees": [
              {
                "feeType": "STANDARD",
                "amount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "bearer": "CUSTOMER"
              }
            ],
            "netToMerchant": {
              "currency": "USD"
            }
          },
          "metadata": {
            "responseId": "5085707e-56dd-509a-a962-880403ed1744",
            "correlationId": "ce4195b8-ac71-5d95-8b43-07c4c0a7a8e7",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentMethod": {
        "title": "Payment Method Information",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of the payment method (e.g., card, wallet).",
            "example": "string"
          },
          "token": {
            "type": "string",
            "description": "Token representing the payment method.",
            "example": "string"
          },
          "issuerBankCode": {
            "type": "string",
            "description": "Bank code of the issuer.",
            "example": "string"
          },
          "maskedIdentifier": {
            "type": "string",
            "description": "Masked identifier for the payment method.",
            "example": "string"
          },
          "walletProvider": {
            "type": "string",
            "description": "Provider of the digital wallet (if applicable).",
            "example": "string"
          }
        },
        "description": "This schema defines the structure of payment method details."
      },
      "Customer": {
        "title": "Customer Information",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "string"
          },
          "name": {
            "type": "string",
            "description": "Full name of the customer.",
            "example": "string"
          },
          "email": {
            "type": "string",
            "description": "Email address of the customer.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the customer.",
            "example": "string"
          },
          "riskSegment": {
            "type": "string",
            "description": "Risk segment categorization of the customer.",
            "example": "string"
          }
        },
        "description": "This schema provides information about the customer."
      },
      "PaymentAmounts": {
        "title": "Transaction Amounts",
        "type": "object",
        "properties": {
          "requested": {
            "description": "Amount requested for the payment.",
            "$ref": "#/components/schemas/AmountDetail"
          },
          "authorized": {
            "description": "Amount authorized for the payment.",
            "$ref": "#/components/schemas/AmountDetail"
          },
          "captured": {
            "description": "Amount captured from the transaction.",
            "$ref": "#/components/schemas/AmountDetail"
          },
          "refunded": {
            "description": "Amount refunded from the transaction.",
            "$ref": "#/components/schemas/AmountDetail"
          },
          "reversed": {
            "description": "Amount reversed from the transaction.",
            "$ref": "#/components/schemas/AmountDetail"
          },
          "tip": {
            "description": "Tip amount included in the transaction.",
            "$ref": "#/components/schemas/AmountDetail"
          },
          "fees": {
            "type": "array",
            "description": "List of fees associated with the payment.",
            "items": {
              "$ref": "#/components/schemas/PaymentFee"
            }
          },
          "netToMerchant": {
            "description": "Net amount credited to the merchant after fees.",
            "$ref": "#/components/schemas/AmountDetail"
          }
        },
        "description": "This schema outlines the various amounts associated with the payment."
      },
      "AmountDetail": {
        "title": "Amount Detail",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency of the amount.",
            "example": "string"
          },
          "value": {
            "type": "string",
            "description": "Numeric value of the amount.",
            "example": "string"
          }
        },
        "description": "This schema describes the structure for amount details including currency."
      },
      "PaymentFee": {
        "title": "Payment Fee Information",
        "type": "object",
        "properties": {
          "feeType": {
            "type": "string",
            "description": "Type of the fee.",
            "example": "string"
          },
          "amount": {
            "description": "Amount being charged as a fee.",
            "$ref": "#/components/schemas/AmountDetail"
          },
          "bearer": {
            "type": "string",
            "description": "The entity responsible for the fee.",
            "example": "string"
          }
        },
        "description": "This schema represents the fee associated with a payment."
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking purposes.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the processing took place.",
            "example": "string"
          }
        },
        "description": "This schema defines the metadata included in the payment response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "paymentId": {
        "name": "paymentId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-capture-payment"
        },
        "example": "banking-p2m-openapi-capture-payment"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method that uses a Bearer token for authorization. The token should be a valid JSON Web Token (JWT) that is issued by a trusted authority. This scheme is commonly used to authenticate API requests securely.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}