{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Human Resource Management Payroll Benefits-spec",
    "description": "The Human Resource Management Payroll Benefits API provides access to critical payroll and benefits information within an organization. This API allows users to retrieve comprehensive data regarding employee payroll benefits, facilitating accurate financial tracking and reporting. Common use cases include integration with HR systems, financial analysis, and benefits management tools. It is designed for use by HR professionals, payroll administrators, and software developers looking to streamline HR processes and improve data accessibility.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/payroll-benefits": {
      "get": {
        "tags": [
          "Human Resources"
        ],
        "summary": "Retrieve payroll and benefits information.",
        "description": "This endpoint allows users to retrieve detailed information about payroll and benefits offered within the human resource management system. It provides essential data on various payroll components and benefits available to employees.",
        "operationId": "listHumanResourceManagementPayrollBenefits",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve payroll benefits within the Human Resource Management system. Ensure that any necessary parameters related to the payroll benefits are included in the request to obtain accurate information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListHumanResourceManagementPayrollBenefitsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of payroll benefits data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListHumanResourceManagementPayrollBenefitsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListHumanResourceManagementPayrollBenefitsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation in the Payroll Benefits section of the Human Resource Management system.",
        "example": "{}"
      },
      "ListHumanResourceManagementPayrollBenefitsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of payroll benefit records.",
            "example": [
              {
                "payrollRunId": "STANDARD",
                "employeeId": "EMP-196351",
                "payPeriod": "STANDARD",
                "grossPay": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "deductions": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "paymentDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/PayrollBenefit"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sort criteria for the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving payroll benefits information.",
        "example": {
          "items": [
            {
              "payrollRunId": "STANDARD",
              "employeeId": "EMP-196351",
              "payPeriod": "STANDARD",
              "grossPay": {
                "amount": 100.0,
                "currency": "USD"
              },
              "deductions": {
                "amount": 100.0,
                "currency": "USD"
              },
              "paymentDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "39f3d773-043f-5aa0-b692-830c7417b65c",
            "correlationId": "e3569708-308a-5ec5-b13a-4fd1f0072130",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PayrollBenefit": {
        "type": "object",
        "properties": {
          "payrollRunId": {
            "type": "string",
            "description": "Unique identifier for the payroll run."
          },
          "employeeId": {
            "type": "string",
            "description": "Unique identifier for the employee."
          },
          "payPeriod": {
            "type": "string",
            "description": "The pay period for which the payroll information is applicable."
          },
          "grossPay": {
            "$ref": "#/components/schemas/Money"
          },
          "deductions": {
            "$ref": "#/components/schemas/Money"
          },
          "paymentDate": {
            "type": "string",
            "description": "The date the payment is scheduled."
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the payroll record."
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the record was last updated."
          }
        },
        "description": "Detailed information about a payroll benefit record."
      },
      "Money": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The monetary amount.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency of the amount."
          }
        },
        "description": "Represents a monetary amount and its currency."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32"
          }
        },
        "description": "Information regarding pagination of the results."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to track the request and response correlation."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place."
          }
        },
        "description": "Metadata information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the API endpoint that was called.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "employee-payroll-and-incentives-search-employee-payroll-and-incentives"
        },
        "example": "employee-payroll-and-incentives-search-employee-payroll-and-incentives"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses JSON Web Tokens (JWT) for securing API endpoints. The client must include the token in the Authorization header as follows: `Authorization: Bearer <token>`.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}