{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Financial Accounting Submission API",
    "description": "The Financial Accounting Submission API enables organizations to submit financial data for compliance purposes. This API facilitates the seamless integration of accounting entries and financial reporting, ensuring that businesses maintain regulatory standards. Typical consumers include financial institutions, accounting departments, and compliance officers who require efficient data exchange. By leveraging this API, users can streamline their financial workflows and improve accuracy in reporting.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/compliance/financial-accounting": {
      "post": {
        "tags": [
          "Financial Compliance"
        ],
        "summary": "Create a new financial accounting compliance record.",
        "description": "This endpoint allows users to create a new record for financial accounting compliance, ensuring that all necessary details are included to meet regulatory standards.",
        "operationId": "createComplianceFinancialAccounting",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for creating a new financial accounting record. It should include all necessary details for compliance with financial regulations.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateComplianceFinancialAccountingRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateComplianceFinancialAccountingResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateComplianceFinancialAccountingRequest": {
        "title": "Financial Accounting Operations Request Body",
        "type": "object",
        "properties": {
          "submissionId": {
            "type": "string",
            "description": "A unique identifier for the submission.",
            "example": "STANDARD"
          },
          "legalEntityId": {
            "type": "string",
            "description": "The identifier of the legal entity associated with the submission.",
            "example": "STANDARD"
          },
          "jurisdiction": {
            "type": "string",
            "description": "The jurisdiction for the legal entity.",
            "example": "STANDARD"
          },
          "reportingPeriod": {
            "type": "string",
            "description": "The reporting period for the financial accounting operations.",
            "example": "STANDARD"
          },
          "regulation": {
            "type": "string",
            "description": "The relevant regulation governing the financial accounting submission.",
            "example": "STANDARD"
          },
          "dueDate": {
            "type": "string",
            "description": "The due date for the submission.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for financial accounting operations.",
        "example": {
          "submissionId": "STANDARD",
          "legalEntityId": "STANDARD",
          "jurisdiction": "STANDARD",
          "reportingPeriod": "STANDARD",
          "regulation": "STANDARD",
          "dueDate": "2026-09-15",
          "requestContext": {
            "requestId": "50e8de59-9105-5189-bb48-4b1bb3027342",
            "correlationId": "7d97d399-4a61-5091-8a98-15336f4cb00a",
            "idempotencyKey": "aaa5c2f3-af71-5f92-a620-fff710bd1e04",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-213401"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to trace the request across systems.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure idempotent requests.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request was made.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the request context information for financial accounting operations."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "A unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used for the request.",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The device identifier from which the request was made.",
            "example": "string"
          }
        },
        "description": "Schema representing the channel information related to the request."
      },
      "CreateComplianceFinancialAccountingResponse_201": {
        "type": "object",
        "properties": {
          "submissionId": {
            "type": "string",
            "description": "Unique identifier for the submission.",
            "example": "STANDARD"
          },
          "legalEntityId": {
            "type": "string",
            "description": "Identifier for the legal entity associated with the operation.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "Identifier for the resource being processed.",
            "example": "RES-579294"
          },
          "status": {
            "type": "string",
            "description": "Current status of the operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata regarding the operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the successful creation of a financial accounting operation.",
        "example": {
          "submissionId": "STANDARD",
          "legalEntityId": "STANDARD",
          "resourceId": "RES-579294",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "8ad91ae1-b5e6-51bc-9fec-781ea29fdb40",
            "correlationId": "7d97d399-4a61-5091-8a98-15336f4cb00a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate logs and operations.",
            "example": "correlation-abcde"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2023-10-17T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the operation is processed.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata information related to the operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that was invoked during the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "financial-accounting-create-financial-accounting"
        },
        "example": "financial-accounting-create-financial-accounting"
      },
      "X-Runtime-App": {
        "description": "The name of the runtime application processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication via JSON Web Tokens (JWT), which allows clients to securely transmit tokens to authenticate their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}