{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Banking Account Management Fraud Evaluation Evaluation By Evaluation Id-v5-spec",
    "description": "This API endpoint allows users to retrieve detailed information about a specific fraud evaluation associated with a banking account. By providing a unique evaluation ID, consumers can access insights and findings from the fraud assessment, which is crucial for compliance and fraud detection strategies. Typical users include fraud analysts and compliance officers who need to review evaluations for decision-making purposes. The endpoint supports efficient access to historical fraud evaluation data, facilitating enhanced risk management and operational support.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://accounts-deposits-app:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/account-management/fraud-evaluation/evaluations/{evaluationId}": {
      "get": {
        "tags": [
          "Fraud Management"
        ],
        "summary": "Retrieve fraud evaluation by ID.",
        "description": "This endpoint allows the user to fetch detailed information about a specific fraud evaluation using its unique identifier. It is essential for reviewing and managing fraud evaluations effectively.",
        "operationId": "getBankingAccountManagementFraudEvaluationEvaluationByEvaluationId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/evaluationId"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving fraud evaluation details for a specific evaluation ID (RES-100045). The body must contain the necessary identifiers and parameters to accurately fetch the evaluation data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBankingAccountManagementFraudEvaluationEvaluationByEvaluationIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the fraud evaluation details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBankingAccountManagementFraudEvaluationEvaluationByEvaluationIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBankingAccountManagementFraudEvaluationEvaluationByEvaluationIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to fraud evaluation. It is expected to contain a string that encapsulates a specific request format.",
        "example": "{}"
      },
      "GetBankingAccountManagementFraudEvaluationEvaluationByEvaluationIdResponse_200": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account.",
            "example": "ACC-172630"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-132361"
          },
          "transactionId": {
            "type": "string",
            "description": "The unique identifier for the transaction.",
            "example": "TXN-375859"
          },
          "assessmentId": {
            "type": "string",
            "description": "The unique identifier for the fraud assessment.",
            "example": "STANDARD"
          },
          "outcome": {
            "type": "string",
            "description": "The result of the fraud evaluation.",
            "example": "STANDARD"
          },
          "score": {
            "type": "integer",
            "description": "The score assigned to the fraud evaluation.",
            "format": "int32",
            "example": 1
          },
          "assessedAt": {
            "type": "string",
            "description": "The timestamp when the assessment was conducted.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "The unique identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "The identifier used to correlate requests and responses.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "The timestamp when the metadata was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region where the processing was conducted.",
                "example": "string"
              }
            },
            "description": "Additional metadata associated with the fraud evaluation.",
            "example": {
              "responseId": "cc094aa8-6f7a-5db2-8f64-f54070ec8800",
              "correlationId": "dd821eec-f944-584a-89c7-7f03c83765cb",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for the operations related to fraud evaluations.",
        "example": {
          "accountId": "ACC-172630",
          "customerId": "CUST-132361",
          "transactionId": "TXN-375859",
          "assessmentId": "STANDARD",
          "outcome": "STANDARD",
          "score": 1,
          "assessedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "cc094aa8-6f7a-5db2-8f64-f54070ec8800",
            "correlationId": "dd821eec-f944-584a-89c7-7f03c83765cb",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-021"
        },
        "example": "WF-021"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1406694c-9f0e-4929-a25c-96243ecf1a96"
        },
        "example": "1406694c-9f0e-4929-a25c-96243ecf1a96"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "3"
        },
        "example": "3"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "40731f81-d886-4620-912d-22a212372729"
        },
        "example": "40731f81-d886-4620-912d-22a212372729"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "evaluationId": {
        "name": "evaluationId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "fraud-evaluation-evaluate-fraud-evaluation"
        },
        "example": "fraud-evaluation-evaluate-fraud-evaluation"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request, providing context for performance metrics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      },
      "X-Workflow-Id": {
        "description": "An identifier for the workflow instance associated with the transaction, useful for tracking and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-021"
        },
        "example": "WF-021"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow associated with the evaluation operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Debit Card Issuance and Activation"
        },
        "example": "Debit Card Issuance and Activation"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow, indicating its progress or status.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ASYNC_PROCESSING"
        },
        "example": "ASYNC_PROCESSING"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the workflow execution, allowing tracking of the specific instance.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "40731f81-d886-4620-912d-22a212372729"
        },
        "example": "40731f81-d886-4620-912d-22a212372729"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method. It requires a valid JSON Web Token (JWT) to be included in the authorization header of the request, ensuring secure API access and proper user identification.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}