{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Payment Intent Cancellation API",
    "description": "The Payment Intent Cancellation API allows businesses to cancel pending payment intents efficiently. This API is primarily used to handle scenarios where a transaction needs to be aborted after initiation, ensuring proper order management and compliance with payment processing standards. Typical consumers include payment processors and e-commerce platforms that require the ability to reverse transactions. By integrating this API, developers can improve customer satisfaction by providing flexible transaction management options.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/payment-intents/{param1}/cancel": {
      "post": {
        "tags": [
          "Payment Processing"
        ],
        "summary": "Cancel a payment intent.",
        "description": "This endpoint allows you to cancel a payment intent, effectively reversing the transaction process for the specified payment identified by its unique ID. Ensure that the payment intent is in a state that allows cancellation.",
        "operationId": "cancelPaymentIntentPay300045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request is used to cancel a specific payment intent identified by the provided ID (PAY-300045). Ensure that the payment intent is in a state that allows cancellation. Refer to the included schema for the required structure of the request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelPaymentIntentPay300045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cancellation request completed successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelPaymentIntentPay300045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CancelPaymentIntentPay300045Request": {
        "title": "Payment Cancel Request",
        "type": "object",
        "properties": {
          "reasonCode": {
            "type": "string",
            "description": "A code representing the reason for cancelling the payment.",
            "example": "CODE-112"
          },
          "reason": {
            "type": "string",
            "description": "A detailed description of the reason for cancelling the payment.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for cancelling a payment.",
        "example": {
          "reasonCode": "CODE-112",
          "reason": "STANDARD",
          "requestContext": {
            "requestId": "fc809470-00ef-5ea5-95aa-eaed15a4e866",
            "correlationId": "2d73aaa1-e459-5098-bd93-d8378f09ab37",
            "idempotencyKey": "83a7aa85-2c6e-54fe-bc1e-a1146a80be31",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-841311"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to track the request across systems.",
            "example": "corr-54321"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is idempotent.",
            "example": "idempotency-67890"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-15T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "Payment Gateway"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "Web App"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the contextual information for the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile, etc.).",
            "example": "WEB"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the request.",
            "example": "device-123"
          }
        },
        "description": "Schema representing the channel through which the request was made."
      },
      "CancelPaymentIntentPay300045Response_200": {
        "title": "Payment Intent Response",
        "type": "object",
        "properties": {
          "paymentIntentId": {
            "type": "string",
            "description": "The unique identifier for the payment intent.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "The unique identifier for the merchant processing the payment.",
            "example": "MER-979160"
          },
          "outletId": {
            "type": "string",
            "description": "The unique identifier for the outlet where the payment was made.",
            "example": "STANDARD"
          },
          "terminalId": {
            "type": "string",
            "description": "The unique identifier for the terminal used to process the payment.",
            "example": "STANDARD"
          },
          "amount": {
            "description": "The total amount related to the payment intent.",
            "$ref": "#/components/schemas/Amount"
          },
          "amountAuthorized": {
            "description": "The amount authorized for the transaction.",
            "$ref": "#/components/schemas/Amount"
          },
          "amountCaptured": {
            "description": "The amount that has been captured from the authorized amount.",
            "$ref": "#/components/schemas/Amount"
          },
          "amountRefunded": {
            "description": "The amount that has been refunded from the transaction.",
            "$ref": "#/components/schemas/Amount"
          },
          "captureMethod": {
            "type": "string",
            "description": "The method used to capture the payment.",
            "example": "STANDARD"
          },
          "channel": {
            "type": "string",
            "description": "The channel through which the payment was made (e.g., online, in-store).",
            "example": "STANDARD"
          },
          "allowedPaymentMethods": {
            "type": "array",
            "description": "A list of payment methods that are allowed for this transaction.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string"
            }
          },
          "selectedPaymentMethod": {
            "description": "The payment method that was selected for the transaction.",
            "$ref": "#/components/schemas/PaymentMethod"
          },
          "customer": {
            "description": "Details about the customer involved in the transaction.",
            "$ref": "#/components/schemas/Customer"
          },
          "order": {
            "description": "Order details related to the payment intent.",
            "$ref": "#/components/schemas/Order"
          },
          "metadata": {
            "description": "Additional metadata related to the payment transaction.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response returned when cancelling a payment intent, containing details about the transaction and its state.",
        "example": {
          "paymentIntentId": "STANDARD",
          "merchantId": "MER-979160",
          "outletId": "STANDARD",
          "terminalId": "STANDARD",
          "amount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "amountAuthorized": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "amountCaptured": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "amountRefunded": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "captureMethod": "STANDARD",
          "channel": "STANDARD",
          "allowedPaymentMethods": [
            "STANDARD"
          ],
          "selectedPaymentMethod": {
            "type": "STANDARD",
            "token": "STANDARD",
            "issuerBankCode": "CODE-714",
            "maskedIdentifier": "STANDARD",
            "walletProvider": "STANDARD"
          },
          "customer": {
            "id": "STANDARD",
            "name": "Northstar Banking Service",
            "email": "olivia.bennett@northstar.example",
            "phone": "+1-212-555-0147",
            "riskSegment": "STANDARD"
          },
          "order": {
            "merchantOrderId": "ORD-268780",
            "description": "Customer banking request processed successfully",
            "items": [
              {
                "itemId": "STANDARD",
                "name": "Northstar Banking Service",
                "description": "Customer banking request processed successfully",
                "quantity": "STANDARD",
                "unitPrice": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "totalAmount": {
                  "currency": "USD",
                  "value": "STANDARD"
                }
              }
            ]
          },
          "metadata": {
            "responseId": "ef5c9817-d775-5dd7-8176-a904ffc501b6",
            "correlationId": "2d73aaa1-e459-5098-bd93-d8378f09ab37",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Amount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency code (e.g., USD, EUR).",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "The monetary value expressed as a string.",
            "example": "100.00"
          }
        },
        "description": "Represents an amount with a specific currency."
      },
      "PaymentMethod": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "The type of payment method (e.g., credit card, debit card, wallet).",
            "example": "credit_card"
          },
          "token": {
            "type": "string",
            "description": "A token representing the payment method.",
            "example": "token_string"
          },
          "issuerBankCode": {
            "type": "string",
            "description": "The bank code of the issuer.",
            "example": "BANK123"
          },
          "maskedIdentifier": {
            "type": "string",
            "description": "A masked identifier for the payment method (e.g., credit card number).",
            "example": "**** **** **** 1234"
          },
          "walletProvider": {
            "type": "string",
            "description": "The provider of the wallet service, if applicable.",
            "example": "PayPal"
          }
        },
        "description": "Details of the selected payment method."
      },
      "Customer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "customer_id_123"
          },
          "name": {
            "type": "string",
            "description": "The name of the customer.",
            "example": "John Doe"
          },
          "email": {
            "type": "string",
            "description": "The email address of the customer.",
            "example": "john.doe@example.com"
          },
          "phone": {
            "type": "string",
            "description": "The phone number of the customer.",
            "example": "+1234567890"
          },
          "riskSegment": {
            "type": "string",
            "description": "The risk segment the customer belongs to.",
            "example": "low"
          }
        },
        "description": "Information about the customer involved in the transaction."
      },
      "Order": {
        "type": "object",
        "properties": {
          "merchantOrderId": {
            "type": "string",
            "description": "The unique identifier for the merchant's order.",
            "example": "order_id_456"
          },
          "description": {
            "type": "string",
            "description": "Description of the order.",
            "example": "Purchase of electronics"
          },
          "items": {
            "type": "array",
            "description": "A list of items included in the order.",
            "example": [
              {
                "itemId": "item_id_789",
                "name": "Smartphone",
                "description": "Latest model smartphone.",
                "quantity": "2",
                "unitPrice": {
                  "currency": "USD",
                  "value": "500.00"
                },
                "totalAmount": {
                  "currency": "USD",
                  "value": "1000.00"
                }
              }
            ],
            "items": {
              "type": "object",
              "properties": {
                "itemId": {
                  "type": "string",
                  "description": "The unique identifier for the item.",
                  "example": "item_id_789"
                },
                "name": {
                  "type": "string",
                  "description": "The name of the item.",
                  "example": "Smartphone"
                },
                "description": {
                  "type": "string",
                  "description": "Description of the item.",
                  "example": "Latest model smartphone."
                },
                "quantity": {
                  "type": "string",
                  "description": "The quantity of this item in the order.",
                  "example": "2"
                },
                "unitPrice": {
                  "$ref": "#/components/schemas/Amount"
                },
                "totalAmount": {
                  "$ref": "#/components/schemas/Amount"
                }
              }
            }
          }
        },
        "description": "Details about the order related to the payment intent."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response_id_101112"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking related requests.",
            "example": "correlation_id_131415"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-05T15:34:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the transaction was processed.",
            "example": "US"
          }
        },
        "description": "Metadata information associated with the payment transaction."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint processing this request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-cancel-payment-intent"
        },
        "example": "banking-p2m-openapi-cancel-payment-intent"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the runtime for this request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses bearer tokens for authentication. The token must be a JSON Web Token (JWT), which is a compact and self-contained way for securely transmitting information between parties as a JSON object.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}