{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Case Retrieval API",
    "description": "The Customer Case Retrieval API provides access to customer case information within the banking servicing platform. This endpoint allows users to efficiently retrieve detailed insights on customer cases, including their current status, associated inquiries, and resolution history. It is designed for customer service representatives and banking personnel who need to address client issues promptly. Use this API to enhance customer satisfaction by providing timely updates and resolutions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/servicing/customer-case": {
      "get": {
        "tags": [
          "Customer Service"
        ],
        "summary": "Retrieve a customer case.",
        "description": "This endpoint allows you to fetch details of a specific customer case from the servicing department, providing essential information related to the case.",
        "operationId": "getCustomerCase",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is required to specify the parameters for retrieving customer case information. The structure defined in the schema should conform to the expectations of the API, containing necessary fields for the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCustomerCaseRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the customer case information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCustomerCaseResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCustomerCaseRequest": {
        "type": "string",
        "description": "The request body for the GET operation related to customer cases in the servicing system.",
        "example": "{}"
      },
      "GetCustomerCaseResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of customer case items.",
            "example": [
              {
                "customerId": "CUST-259172",
                "caseId": "CASE-670351",
                "requestCategory": "STANDARD",
                "priority": "NORMAL",
                "originatingChannel": "STANDARD",
                "caseReason": "STANDARD",
                "serviceLevelDueAt": "2026-08-11T12:00:00Z",
                "customerContactPreference": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CustomerCase"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving customer cases.",
        "example": {
          "items": [
            {
              "customerId": "CUST-259172",
              "caseId": "CASE-670351",
              "requestCategory": "STANDARD",
              "priority": "NORMAL",
              "originatingChannel": "STANDARD",
              "caseReason": "STANDARD",
              "serviceLevelDueAt": "2026-08-11T12:00:00Z",
              "customerContactPreference": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "a53d0005-b131-5a37-b9f9-50b75a2a18f0",
            "correlationId": "0b2c8dd6-1085-50d7-bb00-27fbfc41020d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CustomerCase": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer."
          },
          "caseId": {
            "type": "string",
            "description": "Unique identifier for the case."
          },
          "requestCategory": {
            "type": "string",
            "description": "Category of the request related to the case."
          },
          "priority": {
            "type": "string",
            "description": "Priority level of the case."
          },
          "originatingChannel": {
            "type": "string",
            "description": "Channel through which the case was created."
          },
          "caseReason": {
            "type": "string",
            "description": "Reason for the case submission."
          },
          "serviceLevelDueAt": {
            "type": "string",
            "description": "Due date for the service level agreement."
          },
          "customerContactPreference": {
            "type": "string",
            "description": "Preferred contact method for the customer."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the case record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update made to the case."
          }
        },
        "description": "Details of a customer case."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Pagination details for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request across systems."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred."
          }
        },
        "description": "Metadata for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-case-search-customer-case"
        },
        "example": "customer-case-search-customer-case"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication method where a JSON Web Token (JWT) is provided as a token in the Authorization header. The token is an encoded string that contains user and session information, ensuring secure communication between the client and server.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}