{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Notification Subscription Webhooks-spec",
    "description": "The Notification Subscription Webhooks API provides access to a comprehensive list of webhooks for notification subscriptions, enabling seamless integration for developers. Users can retrieve webhook details to better manage event notifications and updates in their applications. Typical consumers include developers building responsive systems or handling event-driven architectures. This endpoint supports efficient retrieval of webhook configurations linked to notifications, ensuring all relevant events are captured in real-time.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/notification-subscriptions/webhooks": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Retrieve all webhooks.",
        "description": "This endpoint allows you to fetch a list of all registered webhooks, including their details such as URL and event types they are configured to handle.",
        "operationId": "listNotificationSubscriptionWebhooks",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve webhook configurations and their current settings. Ensure that the JSON structure adheres to the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListNotificationSubscriptionWebhooksRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of webhooks.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListNotificationSubscriptionWebhooksResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListNotificationSubscriptionWebhooksRequest": {
        "type": "string",
        "description": "The request body to be sent for the Webhook Operations GET request. This string may represent various payloads depending on the specific webhook being invoked.",
        "example": "{}"
      },
      "ListNotificationSubscriptionWebhooksResponse_200": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "Number of subscription objects returned in this response.",
            "format": "int32",
            "example": 1
          },
          "offset": {
            "type": "integer",
            "description": "Offset used for pagination, representing the starting point of the data returned.",
            "format": "int32",
            "example": 1
          },
          "limit": {
            "type": "integer",
            "description": "The maximum number of subscription objects that can be returned.",
            "format": "int32",
            "example": 1
          },
          "total": {
            "type": "integer",
            "description": "Total number of subscriptions available for the given query.",
            "format": "int32",
            "example": 1
          },
          "subscriptions": {
            "type": "array",
            "description": "List of webhook subscription objects.",
            "example": [
              {
                "subscriptionId": "STANDARD",
                "url": "https://banking.northstar.example/callbacks/status",
                "events": [
                  {
                    "webhookEventId": "STANDARD",
                    "name": "Northstar Banking Service",
                    "url": "https://banking.northstar.example/callbacks/status",
                    "status": "ACTIVE",
                    "condition": {
                      "subscribeFor": "STANDARD",
                      "includes": [
                        "STANDARD"
                      ],
                      "excludes": [
                        "STANDARD"
                      ]
                    }
                  }
                ],
                "status": "ACTIVE",
                "createdDate": "2026-09-15",
                "lastUpdatedDate": "2026-09-15"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/WebhookSubscription"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for successful retrieval of webhook subscriptions.",
        "example": {
          "count": 1,
          "offset": 1,
          "limit": 1,
          "total": 1,
          "subscriptions": [
            {
              "subscriptionId": "STANDARD",
              "url": "https://banking.northstar.example/callbacks/status",
              "events": [
                {
                  "webhookEventId": "STANDARD",
                  "name": "Northstar Banking Service",
                  "url": "https://banking.northstar.example/callbacks/status",
                  "status": "ACTIVE",
                  "condition": {
                    "subscribeFor": "STANDARD",
                    "includes": [
                      "STANDARD"
                    ],
                    "excludes": [
                      "STANDARD"
                    ]
                  }
                }
              ],
              "status": "ACTIVE",
              "createdDate": "2026-09-15",
              "lastUpdatedDate": "2026-09-15"
            }
          ],
          "metadata": {
            "responseId": "9115e77b-7e91-51ae-b5d2-8d85c853d290",
            "correlationId": "bf6f380b-1559-5bcd-9b6e-2b7126164065",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "WebhookSubscription": {
        "type": "object",
        "properties": {
          "subscriptionId": {
            "type": "string",
            "description": "Unique identifier for the webhook subscription.",
            "example": "string"
          },
          "url": {
            "type": "string",
            "description": "The endpoint URI where the webhook will send events.",
            "example": "string"
          },
          "events": {
            "type": "array",
            "description": "List of events that the subscription is listening for.",
            "items": {
              "$ref": "#/components/schemas/WebhookEvent"
            }
          },
          "status": {
            "type": "string",
            "description": "Current status of the webhook subscription.",
            "example": "string"
          },
          "createdDate": {
            "type": "string",
            "description": "Date when the subscription was created.",
            "example": "string"
          },
          "lastUpdatedDate": {
            "type": "string",
            "description": "Date when the subscription was last updated.",
            "example": "string"
          }
        },
        "description": "Schema representing a webhook subscription."
      },
      "WebhookEvent": {
        "type": "object",
        "properties": {
          "webhookEventId": {
            "type": "string",
            "description": "Unique identifier for the webhook event.",
            "example": "string"
          },
          "name": {
            "type": "string",
            "description": "Name of the webhook event.",
            "example": "string"
          },
          "url": {
            "type": "string",
            "description": "The endpoint URI where the event information is sent.",
            "example": "string"
          },
          "status": {
            "type": "string",
            "description": "Current status of the webhook event.",
            "example": "string"
          },
          "condition": {
            "$ref": "#/components/schemas/EventCondition"
          }
        },
        "description": "Schema representing an event within a webhook subscription."
      },
      "EventCondition": {
        "type": "object",
        "properties": {
          "subscribeFor": {
            "type": "string",
            "description": "Type of event to subscribe for.",
            "example": "string"
          },
          "includes": {
            "type": "array",
            "description": "List of included events based on the condition.",
            "items": {
              "type": "string",
              "example": "string"
            }
          },
          "excludes": {
            "type": "array",
            "description": "List of excluded events based on the condition.",
            "items": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "description": "Condition object to specify filters for the webhook events."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the API response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking requests across services.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-list-webhook-subscriptions"
        },
        "example": "open-finance-api-list-webhook-subscriptions"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using JSON Web Tokens (JWT). Clients must include the JWT in the Authorization header with the 'Bearer' prefix to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}