{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Business Control By Param1-spec",
    "description": "The Business Control Retrieval API provides access to business control data based on specific parameters. By using the designated URL, consumers can retrieve insights related to business unit direction for a given parameter (param1). This endpoint is particularly useful for financial analysts and business managers who need to assess and analyze business control measures. It facilitates data-driven decision-making within banking operations by delivering relevant information tied to strategic directions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/business-control/business-unit-direction/{param1}": {
      "get": {
        "tags": [
          "Business Unit Management"
        ],
        "summary": "Retrieve business unit direction details",
        "description": "This endpoint allows you to fetch the details of a specific business unit direction identified by its unique resource ID. It provides essential information regarding the strategies and goals set for the business unit, enabling better decision-making and alignment with organizational objectives.",
        "operationId": "getBusinessControlByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body contains the parameters necessary to query the business unit direction for the specified resource. Ensure that the data provided aligns with the required schema for seamless processing of the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBusinessControlByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBusinessControlByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBusinessControlByParam1Request": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on business unit direction.",
        "example": "{}"
      },
      "GetBusinessControlByParam1Response_200": {
        "type": "object",
        "properties": {
          "businessUnitId": {
            "type": "string",
            "description": "The unique identifier for the business unit.",
            "example": "STANDARD"
          },
          "costCenter": {
            "type": "string",
            "description": "The cost center associated with the business unit.",
            "example": "STANDARD"
          },
          "planningPeriod": {
            "type": "string",
            "description": "The planning period for the operations.",
            "example": "STANDARD"
          },
          "budget": {
            "description": "The budget details for the business unit.",
            "$ref": "#/components/schemas/Budget"
          },
          "forecastVersion": {
            "type": "string",
            "description": "The version of the forecast.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record (e.g., active, inactive).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the operation data.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the operation was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving operation details of a business unit.",
        "example": {
          "businessUnitId": "STANDARD",
          "costCenter": "STANDARD",
          "planningPeriod": "STANDARD",
          "budget": {
            "amount": 100.0,
            "currency": "USD"
          },
          "forecastVersion": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "bdb7b9e0-6a14-599c-ba63-f38100b15676",
            "correlationId": "87a9c209-fef5-55c9-9ec2-3644ff947d97",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Budget": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The budget amount.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency of the budget amount.",
            "example": "string"
          }
        },
        "description": "Details about the budget, including amount and currency."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used to correlate logs or events.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata for tracking the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint being accessed. This is used for tracking and logging API requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "business-unit-direction-get-business-unit-direction"
        },
        "example": "business-unit-direction-get-business-unit-direction"
      },
      "X-Runtime-App": {
        "description": "Indicates the runtime application associated with the request. This helps in identifying the source of the API call.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, allowing for secure access using a JSON Web Token (JWT) as a bearer token. The token must be included in the Authorization header of the request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}