{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Branch Currency Distribution API",
    "description": "The Branch Currency Distribution API provides access to current currency distribution information across various branches of a banking channel. This API enables users to retrieve data about the availability of different currencies and their respective quantities at specific branch locations. It is essential for financial applications that require up-to-date currency stock levels to facilitate transactions or analyze currency demands. Typical consumers include banking software developers and financial analysts looking to optimize branch operations based on currency needs.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/branch-currency-distribution": {
      "get": {
        "tags": [],
        "summary": "Retrieve branch currency distribution for a specific channel.",
        "description": "This endpoint allows developers to fetch the currency distribution data for branches associated with a specific channel. It provides insights into which currencies are most prevalent in different branches, aiding in strategic planning and resource allocation.",
        "operationId": "getBranchCurrencyDistribution",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the currency distribution for a specific branch within a channel. The data structure must conform to the specified schema for proper processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBranchCurrencyDistributionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful, and the response contains the requested data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBranchCurrencyDistributionResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBranchCurrencyDistributionRequest": {
        "type": "string",
        "description": "A string representation of the request body for a specific operation regarding branch currency distribution.",
        "example": "{}"
      },
      "GetBranchCurrencyDistributionResponse_200": {
        "title": "Channel Specific Branch Currency Distribution Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of branch currency distribution items.",
            "example": [
              {
                "channelId": "MOBILE-US",
                "regionCode": "US-EAST-1",
                "serviceWindow": {
                  "opensAt": "STANDARD",
                  "closesAt": "STANDARD"
                },
                "dailyCapacity": 1,
                "branchId": "STANDARD",
                "branchType": "FULL_SERVICE",
                "timeZone": "America/New_York",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/BranchCurrencyDistributionItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting criteria applied to the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the GET operation that retrieves the currency distribution information for specific branches and channels.",
        "example": {
          "items": [
            {
              "channelId": "MOBILE-US",
              "regionCode": "US-EAST-1",
              "serviceWindow": {
                "opensAt": "STANDARD",
                "closesAt": "STANDARD"
              },
              "dailyCapacity": 1,
              "branchId": "STANDARD",
              "branchType": "FULL_SERVICE",
              "timeZone": "America/New_York",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "7b053968-e9be-5a56-b7d1-7cb6d8c79b01",
            "correlationId": "78f8a675-3250-511a-8f9b-4f9e5baa7ad0",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "BranchCurrencyDistributionItem": {
        "title": "Branch Currency Distribution Item",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "regionCode": {
            "type": "string",
            "description": "Code identifying the region.",
            "example": "string"
          },
          "serviceWindow": {
            "$ref": "#/components/schemas/ServiceWindow"
          },
          "dailyCapacity": {
            "type": "integer",
            "description": "The daily capacity of the branch.",
            "format": "int32",
            "example": 0
          },
          "branchId": {
            "type": "string",
            "description": "Unique identifier for the branch.",
            "example": "string"
          },
          "branchType": {
            "type": "string",
            "description": "Type of the branch.",
            "example": "string"
          },
          "timeZone": {
            "type": "string",
            "description": "Timezone of the branch.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update.",
            "example": "string"
          }
        },
        "description": "Schema representing a single item of branch currency distribution details.",
        "example": {
          "channelId": "string",
          "regionCode": "string",
          "serviceWindow": {
            "opensAt": "string",
            "closesAt": "string"
          },
          "dailyCapacity": 0,
          "branchId": "string",
          "branchType": "string",
          "timeZone": "string",
          "recordStatus": "string",
          "updatedAt": "string"
        }
      },
      "ServiceWindow": {
        "title": "Service Window",
        "type": "object",
        "properties": {
          "opensAt": {
            "type": "string",
            "description": "The opening time of the branch.",
            "example": "08:00"
          },
          "closesAt": {
            "type": "string",
            "description": "The closing time of the branch.",
            "example": "17:00"
          }
        },
        "description": "Schema representing the service window timings of a branch."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Schema representing pagination details in the response."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier to trace the request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Schema representing metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "branch-currency-distribution-search-branch-currency-distribution"
        },
        "example": "branch-currency-distribution-search-branch-currency-distribution"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication mechanism. Clients must include a valid JSON Web Token (JWT) in the Authorization header when making requests. The token is used to authenticate the user and verify their access rights.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}