{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Market Operation Trade Confirmation Matching-spec",
    "description": "This API facilitates the matching of trade confirmations within market operations, ensuring accuracy and compliance in trading activities. Users can submit trade confirmations which the system validates against existing transactions. This service is essential for financial institutions and trading platforms that require reliable tracking and reconciliation of trade data. Typical consumers of this API include trading firms, brokers, and financial analysts looking to streamline their trade verification processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-operations/trade-confirmation-matching": {
      "post": {
        "tags": [
          "Trade Operations"
        ],
        "summary": "Match trade confirmations.",
        "description": "This endpoint allows users to match trade confirmations between parties to ensure accuracy and agreement on transactions. It facilitates the reconciliation process in trading operations.",
        "operationId": "createMarketOperationTradeConfirmationMatching",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit trade confirmation matching operations. It contains the necessary information and parameters for the system to process and match trade confirmations effectively.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMarketOperationTradeConfirmationMatchingRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Trade confirmation successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateMarketOperationTradeConfirmationMatchingResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateMarketOperationTradeConfirmationMatchingRequest": {
        "title": "Trade Confirmation Matching Request",
        "type": "object",
        "properties": {
          "tradeId": {
            "type": "string",
            "description": "Unique identifier for the trade.",
            "example": "STANDARD"
          },
          "instrumentId": {
            "type": "string",
            "description": "Identifier for the financial instrument involved in the trade.",
            "example": "STANDARD"
          },
          "settlementDate": {
            "type": "string",
            "description": "The date on which the trade is settled.",
            "example": "2026-09-15"
          },
          "quantity": {
            "type": "integer",
            "description": "Number of units involved in the trade.",
            "format": "int32",
            "example": 1
          },
          "settlementCurrency": {
            "type": "string",
            "description": "Currency used for settlement.",
            "example": "USD"
          },
          "custodianId": {
            "type": "string",
            "description": "Identifier for the custodian responsible for the trade.",
            "example": "STANDARD"
          },
          "clearingHouseId": {
            "type": "string",
            "description": "Identifier for the clearing house managing the trade.",
            "example": "STANDARD"
          },
          "settlementMethod": {
            "type": "string",
            "description": "Method used for settling the trade (e.g., cash, delivery).",
            "example": "STANDARD"
          },
          "matchingStatus": {
            "type": "string",
            "description": "Current status of the trade matching process.",
            "example": "ACTIVE"
          },
          "requestContext": {
            "type": "object",
            "description": "Contextual information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for trade confirmation matching operations.",
        "example": {
          "tradeId": "STANDARD",
          "instrumentId": "STANDARD",
          "settlementDate": "2026-09-15",
          "quantity": 1,
          "settlementCurrency": "USD",
          "custodianId": "STANDARD",
          "clearingHouseId": "STANDARD",
          "settlementMethod": "STANDARD",
          "matchingStatus": "ACTIVE",
          "requestContext": {
            "requestId": "83d7e962-9a54-5f76-aeea-3da794dd40c0",
            "correlationId": "b0e3b636-b51b-5b35-9411-084036dc7a14",
            "idempotencyKey": "5087043c-2194-577f-bae7-58450d94bcae",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-809023"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQUEST12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating logs across systems.",
            "example": "CORRELATION54321"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of requests.",
            "example": "IDEM123456"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-01T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "SYSTEM_A"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request originated.",
            "example": "APP_A"
          },
          "channel": {
            "type": "object",
            "description": "Channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information for the trade confirmation request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "CHANNEL123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., API, UI).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the request.",
            "example": "DEVICE12345"
          }
        },
        "description": "Information about the channel used for the request."
      },
      "CreateMarketOperationTradeConfirmationMatchingResponse_201": {
        "title": "Trade Confirmation Matching Response",
        "type": "object",
        "properties": {
          "tradeId": {
            "type": "string",
            "description": "The unique identifier for the trade.",
            "example": "STANDARD"
          },
          "instrumentId": {
            "type": "string",
            "description": "The unique identifier for the financial instrument associated with the trade.",
            "example": "STANDARD"
          },
          "custodianId": {
            "type": "string",
            "description": "The unique identifier for the custodian managing the trade.",
            "example": "STANDARD"
          },
          "clearingHouseId": {
            "type": "string",
            "description": "The unique identifier for the clearing house handling the trade.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "The identifier for the resource that has been processed.",
            "example": "RES-256776"
          },
          "status": {
            "type": "string",
            "description": "The current status of the trade confirmation matching process.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the trade confirmation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata associated with the trade confirmation response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response returned upon a successful trade confirmation matching operation.",
        "example": {
          "tradeId": "STANDARD",
          "instrumentId": "STANDARD",
          "custodianId": "STANDARD",
          "clearingHouseId": "STANDARD",
          "resourceId": "RES-256776",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "220caab9-8722-593e-b079-5792f6e93fea",
            "correlationId": "b0e3b636-b51b-5b35-9411-084036dc7a14",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "Response123"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to correlate requests and responses.",
            "example": "Corr456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-10-01T12:34:56Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographic region where the processing took place.",
            "example": "EU"
          }
        },
        "description": "This schema contains metadata information related to the trade confirmation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "trade-confirmation-matching-create-trade-confirmation-matching"
        },
        "example": "trade-confirmation-matching-create-trade-confirmation-matching"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token in the Authorization header, formatted as a JSON Web Token (JWT). It is used to authenticate requests by providing access tokens that represent the user's session.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}