{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Banking Knowledge Assets Knowledge Exchange-v5-spec",
    "description": "The Banking Knowledge Exchange API facilitates the creation of knowledge assets within the banking sector, enabling institutions to share and leverage expertise. By using this API, businesses can submit new knowledge assets that contribute to a collaborative knowledge base, fostering innovation and continuous learning. This resource is particularly valuable for banking professionals, institutions, and financial services developers looking to enhance their knowledge management capabilities. The API streamlines the process of asset creation, ensuring that relevant information is easily accessible for future reference and collaboration.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/knowledge-assets/knowledge-exchange": {
      "post": {
        "tags": [
          "Knowledge Management"
        ],
        "summary": "Create a new knowledge exchange asset.",
        "description": "This endpoint allows users to create a new knowledge exchange asset. It facilitates the sharing and collaboration of knowledge by enabling the exchange of resources among users in the system. Ensure that the necessary data is provided in the request body to successfully create the asset.",
        "operationId": "createBankingKnowledgeAssetsKnowledgeExchange",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for exchanging knowledge assets. This body should include all necessary details required for the knowledge exchange operation, as defined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBankingKnowledgeAssetsKnowledgeExchangeRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The resource was successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBankingKnowledgeAssetsKnowledgeExchangeResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateBankingKnowledgeAssetsKnowledgeExchangeRequest": {
        "title": "Knowledge Exchange Request Body",
        "type": "object",
        "properties": {
          "knowledgeItemId": {
            "type": "string",
            "description": "Unique identifier for the knowledge item.",
            "example": "STANDARD"
          },
          "topic": {
            "type": "string",
            "description": "The topic related to the knowledge item.",
            "example": "STANDARD"
          },
          "authorId": {
            "type": "string",
            "description": "Identifier of the author of the knowledge item.",
            "example": "STANDARD"
          },
          "audience": {
            "type": "string",
            "description": "Target audience for the knowledge item.",
            "example": "STANDARD"
          },
          "publishedAt": {
            "type": "string",
            "description": "Timestamp of when the knowledge item was published.",
            "example": "2026-08-11T12:00:00Z"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for creating a knowledge exchange item in the system.",
        "example": {
          "knowledgeItemId": "STANDARD",
          "topic": "STANDARD",
          "authorId": "STANDARD",
          "audience": "STANDARD",
          "publishedAt": "2026-08-11T12:00:00Z",
          "requestContext": {
            "requestId": "0a3f1b2e-68e1-51f3-8c0b-c2f6f8d1f72e",
            "correlationId": "712e9bc6-c212-55da-aa66-bee7bf82e947",
            "idempotencyKey": "9a13219b-6b8c-54a7-a4c6-ebb49a2734f7",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-196542"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req_123abcd"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple requests.",
            "example": "corr_456efgh"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is idempotent.",
            "example": "idempKey_789ijkl"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-01T12:01:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "KnowledgeManagementSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request was triggered.",
            "example": "KMSWebApp"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing contextual details for the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel_abc123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., Web, Mobile).",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device_789xyz"
          }
        },
        "description": "Schema representing details about the communication channel."
      },
      "CreateBankingKnowledgeAssetsKnowledgeExchangeResponse_201": {
        "title": "Knowledge Asset Exchange Response",
        "type": "object",
        "properties": {
          "knowledgeItemId": {
            "type": "string",
            "description": "The unique identifier for the knowledge item.",
            "example": "STANDARD"
          },
          "authorId": {
            "type": "string",
            "description": "The unique identifier for the author of the knowledge item.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource associated with the knowledge item.",
            "example": "RES-578136"
          },
          "status": {
            "type": "string",
            "description": "The current status of the knowledge item (e.g., published, draft).",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the knowledge item was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the knowledge item.",
            "$ref": "#/components/schemas/KnowledgeMetadata"
          }
        },
        "description": "This schema represents the response from the knowledge asset exchange operation, containing details about the knowledge item exchanged.",
        "example": {
          "knowledgeItemId": "STANDARD",
          "authorId": "STANDARD",
          "resourceId": "RES-578136",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "e419951a-4afe-527c-bb21-7e53318d3b4e",
            "correlationId": "712e9bc6-c212-55da-aa66-bee7bf82e947",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "KnowledgeMetadata": {
        "title": "Knowledge Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response related to the knowledge exchange.",
            "example": "response_456"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking the request and response throughout the system.",
            "example": "correlation_123"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-10-01T12:05:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the knowledge item was processed.",
            "example": "us-east-1"
          }
        },
        "description": "This schema contains metadata details for a knowledge item, providing tracking and correlation information."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "knowledge-exchange-create-knowledge-exchange"
        },
        "example": "knowledge-exchange-create-knowledge-exchange"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method for secure API access. Tokens must be in JWT (JSON Web Token) format, providing a compact and self-contained way for securely transmitting information between parties.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}