{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Credit Risk Model Retrieval API",
    "description": "The Credit Risk Model Retrieval API enables financial institutions to access and retrieve credit risk models efficiently. This endpoint serves as a gateway for users to obtain specific models by providing a unique identifier. It is typically used by risk analysts and financial developers to assess risk metrics and ensure compliance with regulatory standards. By leveraging this API, organizations can enhance their decision-making processes around credit evaluations and improve their risk management strategies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/models/credit-risk-models/{param1}": {
      "get": {
        "tags": [
          "Credit Risk Management"
        ],
        "summary": "Retrieve Credit Risk Model",
        "description": "Fetches the details of the Credit Risk Model identified by RES-100045. Use this endpoint to obtain comprehensive information about the specified model, including its parameters and performance metrics.",
        "operationId": "getCreditRiskModel_RES100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the operations related to the credit risk model identified by RES-100045. Please ensure that the required parameters are included for a successful request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCreditRiskModel_RES100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and the credit risk model details are returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCreditRiskModel_RES100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCreditRiskModel_RES100045Request": {
        "type": "string",
        "description": "This schema represents a request body for the GET operation related to credit risk models, specifically for resource ID RES-100045.",
        "example": "{}"
      },
      "GetCreditRiskModel_RES100045Response_200": {
        "title": "Credit Risk Model Response",
        "type": "object",
        "properties": {
          "modelId": {
            "type": "string",
            "description": "Unique identifier for the credit risk model.",
            "example": "STANDARD"
          },
          "modelVersion": {
            "type": "string",
            "description": "Version of the credit risk model.",
            "example": "STANDARD"
          },
          "portfolioId": {
            "type": "string",
            "description": "Unique identifier for the portfolio associated with the model.",
            "example": "PORT-507492"
          },
          "asOfDate": {
            "type": "string",
            "description": "Date as of which the model is valid.",
            "example": "2026-09-15"
          },
          "scenario": {
            "type": "string",
            "description": "Scenario type for which the model is applicable.",
            "example": "STANDARD"
          },
          "confidenceLevel": {
            "type": "number",
            "description": "Confidence level of the model's prediction.",
            "example": 100.0
          },
          "validationDatasetId": {
            "type": "string",
            "description": "Identifier for the dataset used to validate the model.",
            "example": "STANDARD"
          },
          "backtestWindowMonths": {
            "type": "integer",
            "description": "Number of months the model has been backtested.",
            "format": "int32",
            "example": 1
          },
          "approvalStatus": {
            "type": "string",
            "description": "Approval status of the credit risk model.",
            "example": "ACTIVE"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current record status of the model.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the model record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update made to the model.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Contains additional metadata regarding the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Represents the response for a credit risk model retrieval operation, containing details about the model along with metadata.",
        "example": {
          "modelId": "STANDARD",
          "modelVersion": "STANDARD",
          "portfolioId": "PORT-507492",
          "asOfDate": "2026-09-15",
          "scenario": "STANDARD",
          "confidenceLevel": 100.0,
          "validationDatasetId": "STANDARD",
          "backtestWindowMonths": 1,
          "approvalStatus": "ACTIVE",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "85fb2750-b572-5d49-8afe-593a91ad1761",
            "correlationId": "bda2e869-b386-5d0d-bd04-5e471ee5e698",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracking the request-response correlation.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request took place.",
            "example": "string"
          }
        },
        "description": "Contains metadata information related to the response of the credit risk model."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "This header contains the unique identifier for the endpoint that was called.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "credit-risk-models-get-credit-risk-models"
        },
        "example": "credit-risk-models-get-credit-risk-models"
      },
      "X-Runtime-App": {
        "description": "This header specifies the name of the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Use the Bearer Authentication scheme to provide a JWT (JSON Web Token) for secure, token-based authentication in requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}