{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Aggregation Customers Testing-v5-spec",
    "description": "MICROSERVICE-PROD-Create Aggregation Customers Testing-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/testing": {
      "post": {
        "operationId": "createAggregationCustomersTesting",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAggregationCustomersTestingRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAggregationCustomersTestingResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateAggregationCustomersTestingRequest": {
        "type": "object",
        "properties": {
          "username": {
            "type": "string",
            "example": "Northstar Banking Service"
          },
          "firstName": {
            "type": "string",
            "example": "Northstar Banking Service"
          },
          "lastName": {
            "type": "string",
            "example": "Northstar Banking Service"
          },
          "applicationId": {
            "type": "string",
            "example": "APP-771063"
          },
          "phone": {
            "type": "string",
            "example": "+1-212-555-0147"
          },
          "email": {
            "type": "string",
            "example": "olivia.bennett@northstar.example"
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "f11434e0-36d4-5a28-ad30-21d123011b0c",
              "correlationId": "737e8a35-ee50-5024-8311-37604f5f02c8",
              "idempotencyKey": "3b9664cc-8c4e-5a59-b39d-268d3e59ddf6",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-324477"
              }
            }
          }
        },
        "example": {
          "username": "Northstar Banking Service",
          "firstName": "Northstar Banking Service",
          "lastName": "Northstar Banking Service",
          "applicationId": "APP-771063",
          "phone": "+1-212-555-0147",
          "email": "olivia.bennett@northstar.example",
          "requestContext": {
            "requestId": "f11434e0-36d4-5a28-ad30-21d123011b0c",
            "correlationId": "737e8a35-ee50-5024-8311-37604f5f02c8",
            "idempotencyKey": "3b9664cc-8c4e-5a59-b39d-268d3e59ddf6",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-324477"
            }
          }
        }
      },
      "CreateAggregationCustomersTestingResponse_201": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "STANDARD"
          },
          "username": {
            "type": "string",
            "example": "Northstar Banking Service"
          },
          "createdDate": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "9c93f204-e786-5f53-9bfc-a46aaf73689e",
              "correlationId": "737e8a35-ee50-5024-8311-37604f5f02c8",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "id": "STANDARD",
          "username": "Northstar Banking Service",
          "createdDate": 1,
          "metadata": {
            "responseId": "9c93f204-e786-5f53-9bfc-a46aaf73689e",
            "correlationId": "737e8a35-ee50-5024-8311-37604f5f02c8",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-add-testing-customer"
        },
        "example": "open-finance-api-add-testing-customer"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}