{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_File Payments Management API",
    "description": "The File Payments Management API provides a streamlined interface for retrieving information related to file payment transactions within the open banking framework. It allows users to access detailed records and statuses of file payments efficiently. This API is particularly useful for financial institutions and developers seeking to integrate file payment functionalities into their applications. By leveraging this API, consumers can effectively monitor and manage payment processes, ensuring seamless operations in compliance with regulatory standards.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/file-payments/{param1}": {
      "get": {
        "tags": [
          "File Payments"
        ],
        "summary": "Retrieve file payment details by ID.",
        "description": "This endpoint allows you to fetch the details of a specific file payment identified by its unique ID, providing all relevant information associated with that payment.",
        "operationId": "getFilePaymentDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body contains the necessary information to perform the GET operation for file payment with identifier PAY-300045. The request must conform to the specified schema to ensure proper processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetFilePaymentDetailsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the payment details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFilePaymentDetailsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetFilePaymentDetailsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to file payments. It is expected to be a JSON string.",
        "example": "{}"
      },
      "GetFilePaymentDetailsResponse_200": {
        "type": "object",
        "properties": {
          "Data": {
            "$ref": "#/components/schemas/FilePaymentData"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for fetching file payment operations.",
        "example": {
          "Data": {
            "FilePaymentId": "PAY-990220",
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "Status": "ACTIVE",
            "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
            "StatusReason": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "Path": "STANDARD"
              }
            ],
            "Charges": [
              {
                "ChargeBearer": "STANDARD",
                "Type": "STANDARD",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            ],
            "Initiation": {
              "FileType": "STANDARD",
              "FileHash": "STANDARD",
              "FileReference": "STANDARD",
              "NumberOfTransactions": "STANDARD",
              "ControlSum": 100.0,
              "RequestedExecutionDateTime": "2026-09-15T14:30:00Z",
              "LocalInstrument": "STANDARD",
              "DebtorAccount": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD",
                "Proxy": {
                  "Identification": "STANDARD",
                  "Code": "SUCCESS",
                  "Type": "STANDARD"
                }
              },
              "CreditorAgent": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "LEI": "STANDARD",
                "PostalAddress": {
                  "AddressType": "STANDARD",
                  "Department": "STANDARD",
                  "SubDepartment": "STANDARD",
                  "StreetName": "Northstar Banking Service",
                  "BuildingNumber": "STANDARD"
                }
              }
            }
          },
          "metadata": {
            "responseId": "66f36e4b-9f46-5104-b911-9004455f861a",
            "correlationId": "b3186a13-c6e3-5899-acae-8fc80c3257e8",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "FilePaymentData": {
        "type": "object",
        "properties": {
          "FilePaymentId": {
            "type": "string",
            "description": "Unique identifier for the file payment.",
            "example": "string"
          },
          "ConsentId": {
            "type": "string",
            "description": "Identifier for the consent associated with the payment.",
            "example": "string"
          },
          "CreationDateTime": {
            "type": "string",
            "description": "Timestamp when the file payment was created.",
            "example": "string"
          },
          "Status": {
            "type": "string",
            "description": "Current status of the file payment.",
            "example": "string"
          },
          "StatusUpdateDateTime": {
            "type": "string",
            "description": "Timestamp when the status was last updated.",
            "example": "string"
          },
          "StatusReason": {
            "type": "array",
            "description": "Reasons for the current status of the payment.",
            "example": [
              {
                "code": "string",
                "description": "string",
                "Path": "string"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/StatusReason"
            }
          },
          "Charges": {
            "type": "array",
            "description": "List of charges associated with the file payment.",
            "example": [
              {
                "ChargeBearer": "string",
                "Type": "string",
                "Amount": {
                  "Amount": "string",
                  "Currency": "string"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Charge"
            }
          },
          "Initiation": {
            "$ref": "#/components/schemas/Initiation"
          }
        },
        "description": "Contains the details of the file payment."
      },
      "StatusReason": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Code representing the reason.",
            "example": "string"
          },
          "description": {
            "type": "string",
            "description": "Description of the status reason.",
            "example": "string"
          },
          "Path": {
            "type": "string",
            "description": "Path referring to additional information if applicable.",
            "example": "string"
          }
        },
        "description": "Details regarding the reason for the status."
      },
      "Charge": {
        "type": "object",
        "properties": {
          "ChargeBearer": {
            "type": "string",
            "description": "Indicates who bears the cost of the charge.",
            "example": "string"
          },
          "Type": {
            "type": "string",
            "description": "Type of charge being applied.",
            "example": "string"
          },
          "Amount": {
            "$ref": "#/components/schemas/ChargeAmount"
          }
        },
        "description": "Details of a charge associated with the file payment."
      },
      "ChargeAmount": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "Amount of the charge.",
            "example": "string"
          },
          "Currency": {
            "type": "string",
            "description": "Currency in which the amount is specified.",
            "example": "string"
          }
        },
        "description": "Amount details of a charge."
      },
      "Initiation": {
        "type": "object",
        "properties": {
          "FileType": {
            "type": "string",
            "description": "Type of the file.",
            "example": "string"
          },
          "FileHash": {
            "type": "string",
            "description": "Hash of the file for verification.",
            "example": "string"
          },
          "FileReference": {
            "type": "string",
            "description": "Reference ID for the file.",
            "example": "string"
          },
          "NumberOfTransactions": {
            "type": "string",
            "description": "Total number of transactions in the file.",
            "example": "string"
          },
          "ControlSum": {
            "type": "number",
            "description": "Summation of all transaction amounts in the file.",
            "example": 0.0
          },
          "RequestedExecutionDateTime": {
            "type": "string",
            "description": "Requested date and time for execution of the payment.",
            "example": "string"
          },
          "LocalInstrument": {
            "type": "string",
            "description": "Local instrument used for the payment.",
            "example": "string"
          },
          "DebtorAccount": {
            "$ref": "#/components/schemas/Account"
          },
          "CreditorAgent": {
            "$ref": "#/components/schemas/CreditorAgent"
          }
        },
        "description": "Details about the initiation of the file payment."
      },
      "Account": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "Name of the scheme used for the account identification.",
            "example": "string"
          },
          "Identification": {
            "type": "string",
            "description": "Unique identifier for the debtor account.",
            "example": "string"
          },
          "Name": {
            "type": "string",
            "description": "Name of the debtor account holder.",
            "example": "string"
          },
          "SecondaryIdentification": {
            "type": "string",
            "description": "Secondary identifier for the debtor account.",
            "example": "string"
          },
          "Proxy": {
            "$ref": "#/components/schemas/Proxy"
          }
        },
        "description": "Details about the debtor account."
      },
      "Proxy": {
        "type": "object",
        "properties": {
          "Identification": {
            "type": "string",
            "description": "Identification of the proxy.",
            "example": "string"
          },
          "Code": {
            "type": "string",
            "description": "Code associated with the proxy.",
            "example": "string"
          },
          "Type": {
            "type": "string",
            "description": "Type of the proxy.",
            "example": "string"
          }
        },
        "description": "Proxy information for the debtor account."
      },
      "CreditorAgent": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "Name of the scheme used for the creditor identification.",
            "example": "string"
          },
          "Identification": {
            "type": "string",
            "description": "Unique identifier for the creditor agent.",
            "example": "string"
          },
          "Name": {
            "type": "string",
            "description": "Name of the creditor agent.",
            "example": "string"
          },
          "LEI": {
            "type": "string",
            "description": "Legal Entity Identifier for the creditor agent.",
            "example": "string"
          },
          "PostalAddress": {
            "$ref": "#/components/schemas/PostalAddress"
          }
        },
        "description": "Details about the creditor agent."
      },
      "PostalAddress": {
        "type": "object",
        "properties": {
          "AddressType": {
            "type": "string",
            "description": "Type of address (e.g., residential, business).",
            "example": "string"
          },
          "Department": {
            "type": "string",
            "description": "Department within the organization, if applicable.",
            "example": "string"
          },
          "SubDepartment": {
            "type": "string",
            "description": "Sub-department within the organization, if applicable.",
            "example": "string"
          },
          "StreetName": {
            "type": "string",
            "description": "The name of the street in the postal address.",
            "example": "string"
          },
          "BuildingNumber": {
            "type": "string",
            "description": "Building number in the postal address.",
            "example": "string"
          }
        },
        "description": "Postal address details of the creditor agent."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for this response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracing the request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata information associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "This header uniquely identifies the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-get-file-payment"
        },
        "example": "payment-initiation-openapi-get-file-payment"
      },
      "X-Runtime-App": {
        "description": "This header indicates the name of the application that executed the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication with JSON Web Tokens (JWT). Clients must provide a valid token as part of the Authorization header to access secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}