{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Brokered Product Management API",
    "description": "The Brokered Product Management API facilitates the creation and management of brokered products in the banking sector. This API allows financial institutions to streamline the offering of investment and insurance products to their consumers. Typical use cases include onboarding new brokered products, updating product details, and managing product availability. Developers can utilize this endpoint to enhance service offerings and improve customer engagement through a comprehensive suite of brokered financial solutions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9003",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/consumer-services/brokered-product": {
      "post": {
        "tags": [
          "Brokered Product Management"
        ],
        "summary": "Create a new brokered product.",
        "description": "This endpoint allows the user to create a new brokered product in the consumer services platform. Provide the necessary details in the request body to register the product successfully.",
        "operationId": "createBrokeredProduct",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create a new brokered product. It must adhere to the specified schema and include all required fields for successful processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBrokeredProductRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully with the provided data.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBrokeredProductResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateBrokeredProductRequest": {
        "title": "Brokered Product Request",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer making the request.",
            "example": "CUST-196403"
          },
          "serviceRequestId": {
            "type": "string",
            "description": "The unique identifier for the service request associated with this product.",
            "example": "62f9a00c-6e7c-5fe9-b675-9873ae1c5a5a"
          },
          "productCode": {
            "type": "string",
            "description": "The code identifying the product to be brokered.",
            "example": "CHK-PREMIUM-US"
          },
          "amount": {
            "description": "The monetary amount associated with the product.",
            "$ref": "#/components/schemas/Amount"
          },
          "requestedDate": {
            "type": "string",
            "description": "The date when the product is requested.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for creating a request to broker a product.",
        "example": {
          "customerId": "CUST-196403",
          "serviceRequestId": "62f9a00c-6e7c-5fe9-b675-9873ae1c5a5a",
          "productCode": "CHK-PREMIUM-US",
          "amount": {
            "value": 100.0,
            "currency": "USD"
          },
          "requestedDate": "2026-09-15",
          "requestContext": {
            "requestId": "64f32c9d-e6e3-5ac2-91d1-5cc4e031f181",
            "correlationId": "fe76966c-b98d-55cf-b0b3-f835a4fe1c54",
            "idempotencyKey": "ffb3c46c-4740-5450-89f0-708a6797bd07",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-471596"
            }
          }
        }
      },
      "Amount": {
        "title": "Amount",
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The numerical value of the amount.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency of the amount, represented as an ISO 4217 currency code.",
            "example": "USD"
          }
        },
        "description": "Schema representing a monetary amount with a currency."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that operations are idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-01-01T00:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application that initiated the request.",
            "example": "string"
          },
          "channel": {
            "description": "Details about the channel from which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema containing contextual details of the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Schema representing the channel through which the request is made."
      },
      "CreateBrokeredProductResponse_201": {
        "title": "Brokered Product Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-681595"
          },
          "serviceRequestId": {
            "type": "string",
            "description": "The unique identifier for the service request.",
            "example": "7d67c96c-279d-50e8-beab-46827f3b1034"
          },
          "productCode": {
            "type": "string",
            "description": "The code associated with the requested product.",
            "example": "CHK-PREMIUM-US"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource associated with the product.",
            "example": "RES-109068"
          },
          "status": {
            "type": "string",
            "description": "The current status of the product request.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the product request was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata information related to the brokered product request.",
            "$ref": "#/components/schemas/BrokeredProductMetadata"
          }
        },
        "description": "This schema represents the response structure for the brokered product operation upon a successful request.",
        "example": {
          "customerId": "CUST-681595",
          "serviceRequestId": "7d67c96c-279d-50e8-beab-46827f3b1034",
          "productCode": "CHK-PREMIUM-US",
          "resourceId": "RES-109068",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "207cc53d-e479-5da9-a4fe-ed4fd839811b",
            "correlationId": "fe76966c-b98d-55cf-b0b3-f835a4fe1c54",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "BrokeredProductMetadata": {
        "title": "Brokered Product Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "RESP123456"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to correlate logs and requests.",
            "example": "CORR789012"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-10-01T12:00:01Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "us-west-1"
          }
        },
        "description": "This schema encapsulates the metadata related to the brokered product request."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "brokered-product-create-brokered-product"
        },
        "example": "brokered-product-create-brokered-product"
      },
      "x-runtime-app": {
        "description": "The name of the runtime application that is handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This authentication method uses a bearer token as part of the HTTP Authorization header. The token should be a JSON Web Token (JWT) that provides access to the protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}