{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Settlement Accounts API",
    "description": "The Settlement Accounts API provides access to detailed information regarding various settlement accounts within the financial ecosystem. This API allows users to retrieve account data, facilitating monitoring and management of financial transactions. Typical consumers of this API include financial institutions, accounting software, and payment processing systems that require seamless access to account balances and transaction histories. By leveraging this API, businesses can enhance their financial operations and improve reporting accuracy.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/settlement-accounts": {
      "get": {
        "tags": [
          "Settlement Accounts"
        ],
        "summary": "Retrieve a list of settlement accounts.",
        "description": "This endpoint allows clients to fetch all available settlement accounts. It provides details such as account numbers, balances, and associated data to aid in managing financial transactions effectively.",
        "operationId": "getSettlementAccounts",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving settlement accounts. It should contain the necessary parameters to specify which accounts to fetch.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSettlementAccountsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of settlement accounts.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSettlementAccountsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetSettlementAccountsRequest": {
        "title": "Settlement Accounts Request Body",
        "type": "string",
        "description": "A string representing the request payload for fetching settlement accounts.",
        "example": "{}"
      },
      "GetSettlementAccountsResponse_200": {
        "title": "Settlement Accounts Response",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number in the paginated response.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The size of each page (number of items per page).",
            "format": "int32",
            "example": 1
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available in the complete dataset.",
            "format": "int32",
            "example": 1
          },
          "totalPages": {
            "type": "integer",
            "description": "The total number of pages available in the paginated response.",
            "format": "int32",
            "example": 1
          },
          "hasNext": {
            "type": "boolean",
            "description": "Indicates whether there are more pages of results after the current page.",
            "example": true
          },
          "links": {
            "type": "array",
            "description": "An array of links related to the pagination of the response.",
            "example": [
              {
                "rel": "STANDARD",
                "href": "https://example.com/resource",
                "method": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          },
          "items": {
            "type": "array",
            "description": "A list of settlement accounts that are part of the response.",
            "example": [
              {
                "settlementAccountId": "ACC-395841",
                "merchantId": "MER-295001",
                "account": {
                  "bankCode": "CODE-131",
                  "branchCode": "CODE-643",
                  "numberMasked": "STANDARD",
                  "name": "Northstar Banking Service",
                  "type": "STANDARD",
                  "currency": "USD"
                },
                "schedule": {
                  "frequency": "STANDARD",
                  "cutoffTime": "STANDARD",
                  "timezone": "America/New_York",
                  "settlementDelayBusinessDays": 1,
                  "minimumPayoutAmount": {
                    "currency": "USD",
                    "value": "STANDARD"
                  }
                },
                "isDefault": true,
                "verificationStatus": "VERIFIED",
                "status": "ACTIVE",
                "audit": {
                  "createdAt": "2026-09-15T14:30:00Z",
                  "createdBy": "STANDARD",
                  "updatedAt": "2026-09-15T14:30:00Z",
                  "updatedBy": "2026-09-15",
                  "version": 1
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/SettlementAccount"
            }
          },
          "metadata": {
            "type": "object",
            "description": "Metadata associated with the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "A response object containing settlement account information along with pagination metadata.",
        "example": {
          "page": 1,
          "pageSize": 1,
          "totalItems": 1,
          "totalPages": 1,
          "hasNext": true,
          "links": [
            {
              "rel": "STANDARD",
              "href": "https://example.com/resource",
              "method": "STANDARD"
            }
          ],
          "items": [
            {
              "settlementAccountId": "ACC-395841",
              "merchantId": "MER-295001",
              "account": {
                "bankCode": "CODE-131",
                "branchCode": "CODE-643",
                "numberMasked": "STANDARD",
                "name": "Northstar Banking Service",
                "type": "STANDARD",
                "currency": "USD"
              },
              "schedule": {
                "frequency": "STANDARD",
                "cutoffTime": "STANDARD",
                "timezone": "America/New_York",
                "settlementDelayBusinessDays": 1,
                "minimumPayoutAmount": {
                  "currency": "USD",
                  "value": "STANDARD"
                }
              },
              "isDefault": true,
              "verificationStatus": "VERIFIED",
              "status": "ACTIVE",
              "audit": {
                "createdAt": "2026-09-15T14:30:00Z",
                "createdBy": "STANDARD",
                "updatedAt": "2026-09-15T14:30:00Z",
                "updatedBy": "2026-09-15",
                "version": 1
              }
            }
          ],
          "metadata": {
            "responseId": "3e053e57-f7ff-532e-8ab5-43c43f794c16",
            "correlationId": "d133bbd7-bc47-5911-bc25-38de14578e3a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Link": {
        "title": "Link",
        "type": "object",
        "properties": {
          "rel": {
            "type": "string",
            "description": "The relation type of the link, e.g., 'next', 'prev'.",
            "example": "string"
          },
          "href": {
            "type": "string",
            "description": "The URL to navigate to for the relation.",
            "example": "string"
          },
          "method": {
            "type": "string",
            "description": "The HTTP method to use when following the link.",
            "example": "string"
          }
        },
        "description": "A hyperlink object representing a relation and method for pagination."
      },
      "SettlementAccount": {
        "title": "Settlement Account",
        "type": "object",
        "properties": {
          "settlementAccountId": {
            "type": "string",
            "description": "A unique identifier for the settlement account.",
            "example": "string"
          },
          "merchantId": {
            "type": "string",
            "description": "The identifier of the merchant associated with the settlement account.",
            "example": "string"
          },
          "account": {
            "type": "object",
            "description": "The account details associated with the settlement account.",
            "$ref": "#/components/schemas/AccountDetails"
          },
          "schedule": {
            "type": "object",
            "description": "The scheduling details for the settlement account.",
            "$ref": "#/components/schemas/Schedule"
          },
          "isDefault": {
            "type": "boolean",
            "description": "Indicates if this is the default settlement account.",
            "example": false
          },
          "verificationStatus": {
            "type": "string",
            "description": "The verification status of the settlement account.",
            "example": "string"
          },
          "status": {
            "type": "string",
            "description": "The current status of the settlement account.",
            "example": "string"
          },
          "audit": {
            "type": "object",
            "description": "Audit information related to the settlement account.",
            "$ref": "#/components/schemas/AuditInfo"
          }
        },
        "description": "An object representing a settlement account with its associated details."
      },
      "AccountDetails": {
        "title": "Account Details",
        "type": "object",
        "properties": {
          "bankCode": {
            "type": "string",
            "description": "The code of the bank where the account is held.",
            "example": "string"
          },
          "branchCode": {
            "type": "string",
            "description": "The branch code of the bank.",
            "example": "string"
          },
          "numberMasked": {
            "type": "string",
            "description": "The masked number of the settlement account.",
            "example": "string"
          },
          "name": {
            "type": "string",
            "description": "The name of the account holder.",
            "example": "string"
          },
          "type": {
            "type": "string",
            "description": "The type of the account (e.g., checking, savings).",
            "example": "string"
          },
          "currency": {
            "type": "string",
            "description": "The currency of the account.",
            "example": "string"
          }
        },
        "description": "Details of the bank account associated with the settlement account."
      },
      "Schedule": {
        "title": "Schedule",
        "type": "object",
        "properties": {
          "frequency": {
            "type": "string",
            "description": "The frequency at which settlements occur.",
            "example": "string"
          },
          "cutoffTime": {
            "type": "string",
            "description": "The cutoff time for the settlements to occur.",
            "example": "string"
          },
          "timezone": {
            "type": "string",
            "description": "The timezone relevant to the settlement schedule.",
            "example": "string"
          },
          "settlementDelayBusinessDays": {
            "type": "integer",
            "description": "The number of business days to delay the settlement.",
            "format": "int32",
            "example": 0
          },
          "minimumPayoutAmount": {
            "type": "object",
            "description": "The minimum amount required for payouts.",
            "$ref": "#/components/schemas/MinimumPayoutAmount"
          }
        },
        "description": "The scheduling information for settlements."
      },
      "MinimumPayoutAmount": {
        "title": "Minimum Payout Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency in which the minimum payout amount is specified.",
            "example": "string"
          },
          "value": {
            "type": "string",
            "description": "The minimum payout value.",
            "example": "string"
          }
        },
        "description": "The minimum payout amount with its currency."
      },
      "AuditInfo": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the account was created.",
            "example": "string"
          },
          "createdBy": {
            "type": "string",
            "description": "The identifier of the user who created the account.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the account was last updated.",
            "example": "string"
          },
          "updatedBy": {
            "type": "string",
            "description": "The identifier of the user who last updated the account.",
            "example": "string"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the settlement account.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Detailed information related to the audit of the settlement account."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Metadata containing IDs and timing information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that was called.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-list-settlement-accounts"
        },
        "example": "banking-p2m-openapi-list-settlement-accounts"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "JWT (JSON Web Token) based authentication scheme for secure access to resources. This format allows clients to authenticate using a token that encodes claims about the user and can be easily verified for integrity.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}