{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Behavior Insights API",
    "description": "The Customer Behavior Insights API provides a detailed analysis of customer interactions and behaviors within banking services. By leveraging this API, businesses can gain valuable insights into customer preferences and transaction patterns, helping to tailor offerings and improve engagement strategies. This API is particularly useful for financial analysts, marketing teams, and customer relationship management professionals looking to enhance customer experiences through data-driven decisions. Get actionable insights into customer behavior to drive better financial products and services.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customer-management/customer-behavior-insights": {
      "get": {
        "tags": [
          "Customer Insights"
        ],
        "summary": "Retrieve customer behavior insights.",
        "description": "This endpoint allows users to access insights into customer behavior, providing valuable information for improving customer engagement and optimizing marketing strategies.",
        "operationId": "getCustomerBehaviorInsights",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving customer behavior insights. This operation allows the client to query specific insights related to customer behavior with relevant parameters defined in the request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCustomerBehaviorInsightsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved customer behavior insights.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCustomerBehaviorInsightsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCustomerBehaviorInsightsRequest": {
        "type": "string",
        "description": "This schema represents the expected JSON request body for the Customer Behavior Insights API operation.",
        "example": "{}"
      },
      "GetCustomerBehaviorInsightsResponse_200": {
        "title": "Customer Behavior Insights Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of customer behavior items.",
            "example": [
              {
                "customerId": "CUST-127940",
                "partyId": "PARTY-506872",
                "productCode": "CHK-PREMIUM-US",
                "effectiveDate": "2026-09-15",
                "relationshipTier": "GOLD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CustomerBehaviorItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response for the Customer Behavior Insights API, including a list of customer behavior items, pagination information, sorting criteria, and metadata about the response.",
        "example": {
          "items": [
            {
              "customerId": "CUST-127940",
              "partyId": "PARTY-506872",
              "productCode": "CHK-PREMIUM-US",
              "effectiveDate": "2026-09-15",
              "relationshipTier": "GOLD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "7be84dd4-43e8-56c9-b1a0-472646fa2cac",
            "correlationId": "c018f8ff-3f61-59b8-9af0-966f7c2b4f1b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CustomerBehaviorItem": {
        "title": "Customer Behavior Item",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "C123"
          },
          "partyId": {
            "type": "string",
            "description": "Unique identifier for the party associated with the customer.",
            "example": "P456"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product related to the customer behavior.",
            "example": "PC789"
          },
          "effectiveDate": {
            "type": "string",
            "description": "Date when the customer behavior becomes effective.",
            "example": "2023-01-01"
          },
          "relationshipTier": {
            "type": "string",
            "description": "Tier of the customer's relationship.",
            "example": "Gold"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the customer behavior record.",
            "example": "Active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the customer behavior record was last updated.",
            "example": "2023-01-15T12:00:00Z"
          }
        },
        "description": "Represents a single item of customer behavior data."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the paginated response.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Contains information about the pagination of the response."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the API response.",
            "example": "R12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "CORR123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-01-15T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request occurred.",
            "example": "us-west-1"
          }
        },
        "description": "Contains metadata information about the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that was accessed. This helps in tracking and logging requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-behavior-insights-search-customer-behavior-insights"
        },
        "example": "customer-behavior-insights-search-customer-behavior-insights"
      },
      "X-Runtime-App": {
        "description": "The version of the application running the request, which can help in debugging and support.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method utilizing a bearer token, typically in JWT (JSON Web Token) format, for securing API access.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}