{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Banking Operational Services Card Transaction Switch By Card Transaction Switch Id-v5-spec",
    "description": "This API endpoint allows users to retrieve detailed information about a specific banking operational services card transaction switch using its unique identifier. It is designed for financial institutions and service providers that require access to transaction switch data for auditing, reporting, or customer service purposes. Developers can integrate this operation into applications that manage card transactions, helping businesses ensure compliance and enhance operational efficiency. By obtaining necessary transaction details, organizations can analyze performance and address customer inquiries effectively.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/card-transaction-switch/{cardTransactionSwitchId}": {
      "get": {
        "tags": [
          "Card Transactions"
        ],
        "summary": "Retrieve details of a specific card transaction switch",
        "description": "This endpoint allows you to fetch the information related to a specific card transaction switch identified by its unique ID. Use this to get insights into the transaction status, amount, and associated details.",
        "operationId": "getBankingOperationalServicesCardTransactionSwitchByCardTransactionSwitchId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/cardTransactionSwitchId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information regarding a specific card transaction operation. It is designed to pass details necessary for processing the request related to card transaction switching.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBankingOperationalServicesCardTransactionSwitchByCardTransactionSwitchIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful, and data is returned.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBankingOperationalServicesCardTransactionSwitchByCardTransactionSwitchIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBankingOperationalServicesCardTransactionSwitchByCardTransactionSwitchIdRequest": {
        "type": "string",
        "description": "The request body for the Operations GET request related to card transactions.",
        "example": "{}"
      },
      "GetBankingOperationalServicesCardTransactionSwitchByCardTransactionSwitchIdResponse_200": {
        "title": "Card Transaction Operation Response",
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "A unique identifier for the operation.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "The identifier for the customer associated with the operation.",
            "example": "CUST-785945"
          },
          "accountId": {
            "type": "string",
            "description": "The identifier for the account associated with the operation.",
            "example": "ACC-315091"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the operation was requested.",
            "example": "2026-08-11T12:00:00Z"
          },
          "priority": {
            "type": "string",
            "description": "The priority level of the operation.",
            "example": "NORMAL"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version of the operation response.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the operation was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "A unique identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "An identifier used to correlate logs and requests.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "The timestamp when the metadata was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region where the processing took place.",
                "example": "string"
              }
            },
            "description": "Additional metadata related to the operation.",
            "example": {
              "responseId": "248ea54d-e2d3-51e8-9c65-32568456dfb7",
              "correlationId": "a5fdf0b5-86e1-508c-a979-dc932fb43588",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Represents the response from the card transaction operation.",
        "example": {
          "operationId": "STANDARD",
          "customerId": "CUST-785945",
          "accountId": "ACC-315091",
          "requestedAt": "2026-08-11T12:00:00Z",
          "priority": "NORMAL",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "248ea54d-e2d3-51e8-9c65-32568456dfb7",
            "correlationId": "a5fdf0b5-86e1-508c-a979-dc932fb43588",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "cardTransactionSwitchId": {
        "name": "cardTransactionSwitchId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-transaction-switch-get-card-transaction-switch"
        },
        "example": "card-transaction-switch-get-card-transaction-switch"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication schema utilizing bearer tokens. The client must provide a valid JSON Web Token (JWT) to access secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}