{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Loan Application Offers API",
    "description": "The Loan Application Offers API enables financial institutions to generate personalized loan offers based on specific loan applications. By utilizing this endpoint, lenders can submit parameters related to a loan application and receive tailored offers that align with the applicant's profile. This functionality is crucial for loan officers and automated systems looking to enhance customer experience and improve the efficiency of the loan approval process. Typical consumers of this API include banks, credit unions, and other lending platforms aiming to streamline their loan offerings.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{param1}/offers": {
      "post": {
        "tags": [
          "Loan Applications"
        ],
        "summary": "Create an offer for a specific loan application.",
        "description": "This endpoint allows you to generate a new offer for the specified loan application identified by RES-100045. Ensure that all necessary application data is provided in the request to facilitate a successful offer creation.",
        "operationId": "createOfferForLoanApplication",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit a new offer for the specified loan application. It must include all necessary details to process the offer correctly.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOfferForLoanApplicationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The offer was created successfully and is ready for review.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOfferForLoanApplicationResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateOfferForLoanApplicationRequest": {
        "title": "Loan Application Offer Request",
        "type": "object",
        "properties": {
          "offerType": {
            "type": "string",
            "description": "The type of loan offer being requested.",
            "example": "STANDARD"
          },
          "approvedPrincipal": {
            "description": "The approved principal amount of the loan.",
            "$ref": "#/components/schemas/Money"
          },
          "termMonths": {
            "type": "integer",
            "description": "The term of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "annualInterestRatePercent": {
            "type": "string",
            "description": "The annual interest rate in percentage.",
            "example": "STANDARD"
          },
          "annualPercentageRatePercent": {
            "type": "string",
            "description": "The annual percentage rate in percentage.",
            "example": "STANDARD"
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "The frequency of repayment (e.g., monthly, bi-weekly).",
            "example": "STANDARD"
          },
          "estimatedInstallment": {
            "description": "The estimated installment amount to be paid.",
            "$ref": "#/components/schemas/Money"
          },
          "originationFee": {
            "description": "The origination fee for the loan.",
            "$ref": "#/components/schemas/Money"
          },
          "insurancePremium": {
            "description": "The insurance premium for the loan.",
            "$ref": "#/components/schemas/Money"
          },
          "validUntil": {
            "type": "string",
            "description": "The date until the offer is valid.",
            "example": "2026-08-11T12:00:00Z"
          },
          "conditions": {
            "type": "array",
            "description": "Conditions associated with the loan offer.",
            "example": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "dueBefore": "STANDARD",
                "status": "ACTIVE"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Condition"
            }
          },
          "disclosures": {
            "type": "array",
            "description": "Disclosures related to the loan offer.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string"
            }
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing a request body for loan application offers.",
        "example": {
          "offerType": "STANDARD",
          "approvedPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "termMonths": 1,
          "annualInterestRatePercent": "STANDARD",
          "annualPercentageRatePercent": "STANDARD",
          "repaymentFrequency": "STANDARD",
          "estimatedInstallment": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "originationFee": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "insurancePremium": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "validUntil": "2026-08-11T12:00:00Z",
          "conditions": [
            {
              "code": "SUCCESS",
              "description": "Customer banking request processed successfully",
              "dueBefore": "STANDARD",
              "status": "ACTIVE"
            }
          ],
          "disclosures": [
            "STANDARD"
          ],
          "requestContext": {
            "requestId": "e443c207-637c-52dc-8fa9-6f56c59392a5",
            "correlationId": "7e791002-0b52-5157-9162-a541dc8f7ed1",
            "idempotencyKey": "f36eb89d-9dc0-5ae4-a2b9-c30652aa57ef",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-904227"
            }
          }
        }
      },
      "Money": {
        "title": "Money",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency of the amount.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The amount of money.",
            "example": "1000.00"
          }
        },
        "description": "Represents a monetary value with currency and amount."
      },
      "Condition": {
        "title": "Loan Offer Condition",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Unique code identifying the condition.",
            "example": "CONDITION-001"
          },
          "description": {
            "type": "string",
            "description": "Description of the condition.",
            "example": "Must provide proof of income."
          },
          "dueBefore": {
            "type": "string",
            "description": "Date by which the condition must be fulfilled.",
            "example": "2023-11-30"
          },
          "status": {
            "type": "string",
            "description": "Current status of the condition.",
            "example": "Pending"
          }
        },
        "description": "Represents a condition associated with the loan offer."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-abc123"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used to correlate requests.",
            "example": "correlation-xyz789"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency in request processing.",
            "example": "idempotent-key-12345"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "LoanSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application that initiated the request.",
            "example": "LoanApp"
          },
          "channel": {
            "description": "Information about the communication channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information about the request being made."
      },
      "Channel": {
        "title": "Communication Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the communication channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the communication channel.",
            "example": "Mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the communication.",
            "example": "device-12345"
          }
        },
        "description": "Represents the communication channel used for the request."
      },
      "CreateOfferForLoanApplicationResponse_201": {
        "title": "Loan Application Offer Response",
        "type": "object",
        "properties": {
          "offerType": {
            "type": "string",
            "description": "The type of the loan offer.",
            "example": "STANDARD"
          },
          "approvedPrincipal": {
            "description": "The principal amount approved for the loan.",
            "$ref": "#/components/schemas/FinancialAmount"
          },
          "termMonths": {
            "type": "integer",
            "description": "The duration of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "annualInterestRatePercent": {
            "type": "string",
            "description": "The annual interest rate expressed as a percentage.",
            "example": "STANDARD"
          },
          "annualPercentageRatePercent": {
            "type": "string",
            "description": "The annual percentage rate including fees.",
            "example": "STANDARD"
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "The frequency of payments (e.g., monthly, bi-weekly).",
            "example": "STANDARD"
          },
          "estimatedInstallment": {
            "description": "The estimated installment amount for the loan.",
            "$ref": "#/components/schemas/FinancialAmount"
          },
          "originationFee": {
            "description": "The origination fee associated with the loan offer.",
            "$ref": "#/components/schemas/FinancialAmount"
          },
          "insurancePremium": {
            "description": "The insurance premium required for the loan.",
            "$ref": "#/components/schemas/FinancialAmount"
          },
          "validUntil": {
            "type": "string",
            "description": "The date until which the loan offer is valid.",
            "example": "2026-08-11T12:00:00Z"
          },
          "conditions": {
            "type": "array",
            "description": "Conditions associated with the loan offer.",
            "example": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "dueBefore": "STANDARD",
                "status": "ACTIVE"
              }
            ],
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "A unique code representing the condition.",
                  "example": "string"
                },
                "description": {
                  "type": "string",
                  "description": "Description of the condition.",
                  "example": "string"
                },
                "dueBefore": {
                  "type": "string",
                  "description": "Date by which the condition must be fulfilled.",
                  "example": "string"
                },
                "status": {
                  "type": "string",
                  "description": "Current status of the condition.",
                  "example": "string"
                }
              }
            }
          },
          "disclosures": {
            "type": "array",
            "description": "List of disclosures relevant to the loan offer.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "example": "string"
            }
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the loan offer.",
            "example": "b8341408-ee2c-9c2f-875c-4f6abc430c73"
          },
          "offerNumber": {
            "type": "string",
            "description": "The offer number assigned to the loan offer.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the loan offer.",
            "example": "ACTIVE"
          },
          "issuedAt": {
            "type": "string",
            "description": "The timestamp when the loan offer was issued.",
            "example": "2026-08-11T12:00:00Z"
          },
          "acceptedAt": {
            "type": "string",
            "description": "The timestamp when the loan offer was accepted.",
            "example": "2026-08-11T12:00:00Z"
          },
          "acceptedByCustomerId": {
            "type": "string",
            "description": "The unique identifier of the customer who accepted the offer.",
            "example": "CUST-857191"
          },
          "audit": {
            "description": "Audit information for tracking changes made to the offer.",
            "$ref": "#/components/schemas/AuditInfo"
          },
          "metadata": {
            "description": "Metadata information related to the loan offer.",
            "$ref": "#/components/schemas/MetadataInfo"
          }
        },
        "description": "Schema representing the response for loan application offers.",
        "example": {
          "offerType": "STANDARD",
          "approvedPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "termMonths": 1,
          "annualInterestRatePercent": "STANDARD",
          "annualPercentageRatePercent": "STANDARD",
          "repaymentFrequency": "STANDARD",
          "estimatedInstallment": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "originationFee": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "insurancePremium": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "validUntil": "2026-08-11T12:00:00Z",
          "conditions": [
            {
              "code": "SUCCESS",
              "description": "Customer banking request processed successfully",
              "dueBefore": "STANDARD",
              "status": "ACTIVE"
            }
          ],
          "disclosures": [
            "STANDARD"
          ],
          "id": "b8341408-ee2c-9c2f-875c-4f6abc430c73",
          "offerNumber": "STANDARD",
          "status": "ACTIVE",
          "issuedAt": "2026-08-11T12:00:00Z",
          "acceptedAt": "2026-08-11T12:00:00Z",
          "acceptedByCustomerId": "CUST-857191",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "a6d2a712-1be1-5708-a3b0-7e0d16f307c7",
            "correlationId": "7e791002-0b52-5157-9162-a541dc8f7ed1",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "FinancialAmount": {
        "title": "Financial Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency of the amount.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The amount of money.",
            "example": "1000"
          }
        },
        "description": "Schema representing a monetary amount and its currency."
      },
      "AuditInfo": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the offer was created.",
            "example": "2022-01-01T00:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the offer.",
            "example": "user123"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the offer was last updated.",
            "example": "2022-01-02T00:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the offer.",
            "example": "user456"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the offer.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Schema for audit trail of the offer."
      },
      "MetadataInfo": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response_123"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation ID for tracking the request.",
            "example": "correlation_abc"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2022-01-01T01:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Schema for metadata related to the offer response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint which processes the loan application offer.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-create-loan-offer"
        },
        "example": "banking-loans-openapi-create-loan-offer"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is processing the loan application offer request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication mechanism that utilizes a JSON Web Token (JWT) as a bearer token. This method allows clients to authenticate themselves by sending a token in the HTTP Authorization header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}