{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Trade Banking Credit Management-spec",
    "description": "The Trade Banking Credit Management API facilitates the management of credit schemes for trade banking services. It enables businesses to initiate and manage credit offerings designed to support trade activities. Typical consumers of this API include financial institutions and trade businesses looking to streamline their credit operations. Users can create and manage credit applications, ensuring efficient processing and credit allocation tailored to the needs of their clientele.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://lending-credit-app:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/credit-management": {
      "post": {
        "tags": [
          "Credit Management"
        ],
        "summary": "Create a new credit management entry.",
        "description": "This operation allows the user to create a new entry in the credit management system, facilitating effective trade banking operations. Ensure all required fields are filled out correctly to process the credit request efficiently.",
        "operationId": "createTradeBankingCreditManagement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to perform operations related to credit management in trade banking. It contains the necessary data for processing credit-related requests.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTradeBankingCreditManagementRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully in the credit management system.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateTradeBankingCreditManagementResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateTradeBankingCreditManagementRequest": {
        "title": "Credit Management Request Body",
        "type": "object",
        "properties": {
          "corporateCustomerId": {
            "type": "string",
            "description": "Unique identifier for the corporate customer.",
            "example": "CUST-505792"
          },
          "facilityId": {
            "type": "string",
            "description": "Unique identifier for the facility.",
            "example": "STANDARD"
          },
          "counterpartyId": {
            "type": "string",
            "description": "Unique identifier for the counterparty involved in the transaction.",
            "example": "PARTY-466072"
          },
          "amount": {
            "description": "An object representing the amount requested for the transaction.",
            "$ref": "#/components/schemas/Amount"
          },
          "maturityDate": {
            "type": "string",
            "description": "The maturity date of the facility in ISO 8601 format.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "description": "An object representing the context for the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for the Credit Management operation in Trade Banking.",
        "example": {
          "corporateCustomerId": "CUST-505792",
          "facilityId": "STANDARD",
          "counterpartyId": "PARTY-466072",
          "amount": {
            "value": 100.0,
            "currency": "USD"
          },
          "maturityDate": "2026-09-15",
          "requestContext": {
            "requestId": "04410a4b-30a6-5059-a74f-3b337114643a",
            "correlationId": "933fc9ed-a215-5a2d-98b0-576da367f0af",
            "idempotencyKey": "46d5d3f8-2ea3-56bb-800d-10b7fb672793",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-313204"
            }
          }
        }
      },
      "Amount": {
        "title": "Amount",
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The numeric value of the amount.",
            "example": 1000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency code in ISO 4217 format.",
            "example": "USD"
          }
        },
        "description": "Schema representing an amount with a value and currency."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracing the request across systems.",
            "example": "CORR98765"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the request is idempotent.",
            "example": "IDEMPOTENCYKEY112"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp at which the request was made in ISO 8601 format.",
            "example": "2023-10-10T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system initiating the request.",
            "example": "SYSTEM_A"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the source application initiating the request.",
            "example": "APPLICATION_X"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request including metadata information."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "CHANNEL123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g. mobile, web).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device used to make the request.",
            "example": "DEVICE456"
          }
        },
        "description": "Schema representing the channel information for a request."
      },
      "CreateTradeBankingCreditManagementResponse_201": {
        "title": "Credit Management Response",
        "type": "object",
        "properties": {
          "corporateCustomerId": {
            "type": "string",
            "description": "Unique identifier for the corporate customer.",
            "example": "CUST-150749"
          },
          "facilityId": {
            "type": "string",
            "description": "Unique identifier for the credit facility.",
            "example": "STANDARD"
          },
          "counterpartyId": {
            "type": "string",
            "description": "Unique identifier for the counterparty associated with the credit management.",
            "example": "PARTY-287261"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource related to the credit management process.",
            "example": "RES-871359"
          },
          "status": {
            "type": "string",
            "description": "Current status of the credit management operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the credit management entry was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the credit management operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for creating credit management entries in the Trade Banking system.",
        "example": {
          "corporateCustomerId": "CUST-150749",
          "facilityId": "STANDARD",
          "counterpartyId": "PARTY-287261",
          "resourceId": "RES-871359",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "ddaa4bb6-5ae3-558c-9140-a09e20607c33",
            "correlationId": "933fc9ed-a215-5a2d-98b0-576da367f0af",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP1234"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests and responses.",
            "example": "CORR1234"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-10T10:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the credit management operation took place.",
            "example": "US-West"
          }
        },
        "description": "Metadata object containing additional information about the credit management operation."
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-061"
        },
        "example": "WF-061"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "e00f8d41-10fe-4ab9-893f-6b961d0e62eb"
        },
        "example": "e00f8d41-10fe-4ab9-893f-6b961d0e62eb"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "5edf4e3f-c092-47f4-bf8c-c5ff8112772d"
        },
        "example": "5edf4e3f-c092-47f4-bf8c-c5ff8112772d"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint where the request was processed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "credit-management-create-credit-management"
        },
        "example": "credit-management-create-credit-management"
      },
      "X-Runtime-App": {
        "description": "The name of the application where the runtime processing occurred.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      },
      "X-Workflow-Id": {
        "description": "A unique identifier for the specific workflow execution related to the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-061"
        },
        "example": "WF-061"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Letter of Credit Issuance and Amendment"
        },
        "example": "Letter of Credit Issuance and Amendment"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "5edf4e3f-c092-47f4-bf8c-c5ff8112772d"
        },
        "example": "5edf4e3f-c092-47f4-bf8c-c5ff8112772d"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication via JSON Web Tokens (JWT). Clients must include a valid JWT in the Authorization header when making requests to access secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}