{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_QR Payment Request Retrieval API",
    "description": "The QR Payment Request Retrieval API enables users to access detailed information about specific QR payment requests. By providing a unique identifier, consumers can retrieve the current status and associated details of a payment request, facilitating transparency and monitoring of financial transactions. This API is commonly used by merchants and payment processors who need to track and verify payment entries instantly. It plays a crucial role in payment reconciliation and operational efficiency in digital transactions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/qr-payment-requests/{param1}": {
      "get": {
        "tags": [
          "QR Payments"
        ],
        "summary": "Retrieve QR payment request details",
        "description": "Fetches the details of a specific QR payment request using its unique identifier. This endpoint allows users to obtain all relevant information regarding the payment request, including status and metadata.",
        "operationId": "getQrPaymentRequestById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving the QR payment request details. Ensure that the necessary identifiers and parameters are accurately specified to get the relevant data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetQrPaymentRequestByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning payment request details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetQrPaymentRequestByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetQrPaymentRequestByIdRequest": {
        "type": "string",
        "description": "A JSON string representing the request body for the QR payment request operations.",
        "example": "{}"
      },
      "GetQrPaymentRequestByIdResponse_200": {
        "type": "object",
        "properties": {
          "qrPaymentRequestId": {
            "type": "string",
            "description": "The unique identifier for the QR payment request.",
            "example": "5f448361-4256-5922-a48f-4e3c577b738a"
          },
          "merchantId": {
            "type": "string",
            "description": "The unique identifier for the merchant who created the payment request.",
            "example": "MER-740141"
          },
          "outletId": {
            "type": "string",
            "description": "The unique identifier for the outlet where the payment request is generated.",
            "example": "STANDARD"
          },
          "terminalId": {
            "type": "string",
            "description": "The unique identifier for the terminal processing the transaction.",
            "example": "STANDARD"
          },
          "mode": {
            "type": "string",
            "description": "The mode of the payment (e.g., test, production).",
            "example": "STANDARD"
          },
          "standard": {
            "type": "string",
            "description": "The standard that the payment follows.",
            "example": "STANDARD"
          },
          "amount": {
            "description": "The amount to be paid in the QR payment request.",
            "$ref": "#/components/schemas/Amount"
          },
          "merchantOrderId": {
            "type": "string",
            "description": "The unique identifier for the merchant\u2019s order associated with the payment.",
            "example": "ORD-101371"
          },
          "description": {
            "type": "string",
            "description": "A description of the payment request.",
            "example": "Customer banking request processed successfully"
          },
          "tipOptions": {
            "description": "Options for tipping associated with the payment request.",
            "$ref": "#/components/schemas/TipOptions"
          },
          "qrPayload": {
            "type": "string",
            "description": "The payload data encoded in the QR code.",
            "example": "STANDARD"
          },
          "qrImageUrl": {
            "type": "string",
            "description": "The URL for the generated QR code image.",
            "example": "https://example.com/resource"
          },
          "status": {
            "type": "string",
            "description": "Current status of the payment request (e.g., pending, completed, failed).",
            "example": "ACTIVE"
          },
          "singleUse": {
            "type": "boolean",
            "description": "Indicates whether the QR payment request can be used only once.",
            "example": true
          },
          "paidAmount": {
            "description": "The amount that has been paid in the QR payment request.",
            "$ref": "#/components/schemas/Amount"
          },
          "paymentId": {
            "type": "string",
            "description": "The unique identifier for the payment transaction.",
            "example": "PAY-477128"
          },
          "expiresAt": {
            "type": "string",
            "description": "The expiration date and time of the payment request.",
            "example": "2026-08-11T12:00:00Z"
          },
          "audit": {
            "description": "Audit information related to the creation and updates of the payment request.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Additional metadata information related to the payment request.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for a successful retrieval of QR payment requests, containing details such as the payment request ID, amounts, and merchant details.",
        "example": {
          "qrPaymentRequestId": "5f448361-4256-5922-a48f-4e3c577b738a",
          "merchantId": "MER-740141",
          "outletId": "STANDARD",
          "terminalId": "STANDARD",
          "mode": "STANDARD",
          "standard": "STANDARD",
          "amount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "merchantOrderId": "ORD-101371",
          "description": "Customer banking request processed successfully",
          "tipOptions": {
            "mode": "STANDARD",
            "fixedAmounts": [
              {
                "currency": "USD",
                "value": "STANDARD"
              }
            ],
            "percentages": [
              "STANDARD"
            ],
            "maximumTip": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "qrPayload": "STANDARD",
          "qrImageUrl": "https://example.com/resource",
          "status": "ACTIVE",
          "singleUse": true,
          "paidAmount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "paymentId": "PAY-477128",
          "expiresAt": "2026-08-11T12:00:00Z",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "358e6305-1ca1-55c2-869e-cf7df8d826cd",
            "correlationId": "214fcef3-aa6d-5fff-b556-35b964779ad0",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Amount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency code (e.g., USD, EUR).",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "The numerical value of the amount.",
            "example": "100.00"
          }
        },
        "description": "Represents a currency amount with its value."
      },
      "TipOptions": {
        "type": "object",
        "properties": {
          "mode": {
            "type": "string",
            "description": "The mode of tipping (e.g., optional, mandatory).",
            "example": "optional"
          },
          "fixedAmounts": {
            "type": "array",
            "description": "A list of fixed amount tip options.",
            "example": [
              {
                "currency": "USD",
                "value": "5.00"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Amount"
            }
          },
          "percentages": {
            "type": "array",
            "description": "A list of percentage tip options.",
            "example": [
              "10",
              "15"
            ],
            "items": {
              "type": "string",
              "description": "A percentage value as a string.",
              "example": "10"
            }
          },
          "maximumTip": {
            "description": "The maximum allowable tip amount.",
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "Options related to tipping for the payment request."
      },
      "Audit": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the payment request was created.",
            "example": "2023-01-01T12:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "The identifier of the user who created the payment request.",
            "example": "admin"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the payment request was last updated.",
            "example": "2023-01-02T12:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "The identifier of the user who last updated the payment request.",
            "example": "admin"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the payment request.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Audit information for tracking changes made to the payment request."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response-123"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation ID for tracking the request across systems.",
            "example": "correlation-456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the transaction is processed.",
            "example": "US-West"
          }
        },
        "description": "Metadata information associated with the payment request."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-get-qr-payment-request"
        },
        "example": "banking-p2m-openapi-get-qr-payment-request"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that utilizes a Bearer token, specifically JSON Web Tokens (JWT), for authorization of API requests. This method provides a secure means to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}