{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Consumer Service Customer Tax Handling-spec",
    "description": "The Customer Tax Management API facilitates the handling of tax-related information for consumer services within the banking sector. This endpoint enables the creation and configuration of customer tax handling profiles, streamlining the process of tax compliance. Typical consumers include banking institutions and financial services providers looking to manage customer tax data efficiently. Additionally, it supports dynamic tax rate adjustments based on customer transaction data. This API is essential for maintaining accurate financial records and ensuring regulatory adherence.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9003",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/consumer-services/customer-tax-handling": {
      "post": {
        "tags": [
          "Customer Tax Management"
        ],
        "summary": "Create customer tax handling configuration.",
        "description": "This endpoint allows you to create a new configuration for handling customer tax. It is essential for ensuring accurate tax calculations and compliance for customer transactions.",
        "operationId": "createConsumerServiceCustomerTaxHandling",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to handle customer tax information; it includes relevant details required for processing tax-related operations for consumers. The request must conform to the specified JSON schema and include all necessary attributes as defined.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateConsumerServiceCustomerTaxHandlingRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created a new customer tax handling entry.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateConsumerServiceCustomerTaxHandlingResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateConsumerServiceCustomerTaxHandlingRequest": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-673168"
          },
          "serviceRequestId": {
            "type": "string",
            "description": "The identifier for the service request.",
            "example": "f3c2b8c8-5021-5e80-91b8-b6007cce3e11"
          },
          "productCode": {
            "type": "string",
            "description": "The code of the product involved in the transaction.",
            "example": "CHK-PREMIUM-US"
          },
          "amount": {
            "description": "The monetary amount related to the request.",
            "$ref": "#/components/schemas/Amount"
          },
          "requestedDate": {
            "type": "string",
            "description": "The date when the service was requested.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "example": {
          "customerId": "CUST-673168",
          "serviceRequestId": "f3c2b8c8-5021-5e80-91b8-b6007cce3e11",
          "productCode": "CHK-PREMIUM-US",
          "amount": {
            "value": 100.0,
            "currency": "USD"
          },
          "requestedDate": "2026-09-15",
          "requestContext": {
            "requestId": "acda6b54-37b6-5ded-b8f4-59268f0a88d7",
            "correlationId": "bef008ba-8669-5272-bb43-cddb7f562455",
            "idempotencyKey": "72db87fa-d1c0-59b3-82c2-83ac12fd16c0",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-713494"
            }
          }
        }
      },
      "Amount": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The numerical value of the amount.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is expressed.",
            "example": "string"
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate multiple requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotent requests.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application through which the request was made.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        }
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the request.",
            "example": "string"
          }
        }
      },
      "CreateConsumerServiceCustomerTaxHandlingResponse_201": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-173377"
          },
          "serviceRequestId": {
            "type": "string",
            "description": "Unique identifier for the service request.",
            "example": "028ba62d-7bc1-5c45-b7f5-c82f1e4ee76b"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product.",
            "example": "CHK-PREMIUM-US"
          },
          "resourceId": {
            "type": "string",
            "description": "Identifier for the resource associated with the operation.",
            "example": "RES-855859"
          },
          "status": {
            "type": "string",
            "description": "Current status of the operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the customer tax handling operation after a successful POST request.",
        "example": {
          "customerId": "CUST-173377",
          "serviceRequestId": "028ba62d-7bc1-5c45-b7f5-c82f1e4ee76b",
          "productCode": "CHK-PREMIUM-US",
          "resourceId": "RES-855859",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "5b61a4a1-77b4-50b2-a7d3-1164141a819e",
            "correlationId": "bef008ba-8669-5272-bb43-cddb7f562455",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESID123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the operation's correlation.",
            "example": "CORR78910"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:35:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the operation was processed.",
            "example": "US-East"
          }
        },
        "description": "Contains additional information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-tax-handling-create-customer-tax-handling"
        },
        "example": "customer-tax-handling-create-customer-tax-handling"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme employs JSON Web Tokens (JWT) as the means of authentication. Clients must include a valid JWT in the Authorization header in the format 'Bearer {token}' when making requests to secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}