{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Banking Market Operations Trade Confirmation Matchings-v5-spec",
    "description": "MICROSERVICE-PROD-List Banking Market Operations Trade Confirmation Matchings-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-operations/trade-confirmation-matching": {
      "get": {
        "operationId": "listBankingMarketOperationsTradeConfirmationMatchings",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListBankingMarketOperationsTradeConfirmationMatchingsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBankingMarketOperationsTradeConfirmationMatchingsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListBankingMarketOperationsTradeConfirmationMatchingsRequest": {
        "type": "string",
        "example": "{}"
      },
      "ListBankingMarketOperationsTradeConfirmationMatchingsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "example": [
              {
                "tradeId": "STANDARD",
                "instrumentId": "STANDARD",
                "settlementDate": "2026-09-15",
                "quantity": 1,
                "settlementCurrency": "USD",
                "custodianId": "STANDARD",
                "clearingHouseId": "STANDARD",
                "settlementMethod": "STANDARD",
                "matchingStatus": "ACTIVE",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "type": "object",
              "properties": {
                "tradeId": {
                  "type": "string",
                  "example": "string"
                },
                "instrumentId": {
                  "type": "string",
                  "example": "string"
                },
                "settlementDate": {
                  "type": "string",
                  "example": "string"
                },
                "quantity": {
                  "type": "integer",
                  "format": "int32",
                  "example": 0
                },
                "settlementCurrency": {
                  "type": "string",
                  "example": "string"
                },
                "custodianId": {
                  "type": "string",
                  "example": "string"
                },
                "clearingHouseId": {
                  "type": "string",
                  "example": "string"
                },
                "settlementMethod": {
                  "type": "string",
                  "example": "string"
                },
                "matchingStatus": {
                  "type": "string",
                  "example": "string"
                },
                "recordStatus": {
                  "type": "string",
                  "example": "string"
                },
                "updatedAt": {
                  "type": "string",
                  "example": "string"
                }
              },
              "example": "string"
            }
          },
          "pagination": {
            "type": "object",
            "properties": {
              "page": {
                "type": "integer",
                "format": "int32",
                "example": 0
              },
              "pageSize": {
                "type": "integer",
                "format": "int32",
                "example": 0
              },
              "totalItems": {
                "type": "integer",
                "format": "int32",
                "example": 0
              }
            },
            "example": {
              "page": 1,
              "pageSize": 1,
              "totalItems": 1
            }
          },
          "sort": {
            "type": "string",
            "example": "STANDARD"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "b9b2cb18-9832-57de-9a4a-82b633e06c67",
              "correlationId": "9b6ddcac-9e02-5daa-8a57-17cd40145870",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "items": [
            {
              "tradeId": "STANDARD",
              "instrumentId": "STANDARD",
              "settlementDate": "2026-09-15",
              "quantity": 1,
              "settlementCurrency": "USD",
              "custodianId": "STANDARD",
              "clearingHouseId": "STANDARD",
              "settlementMethod": "STANDARD",
              "matchingStatus": "ACTIVE",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "b9b2cb18-9832-57de-9a4a-82b633e06c67",
            "correlationId": "9b6ddcac-9e02-5daa-8a57-17cd40145870",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "trade-confirmation-matching-search-trade-confirmation-matching"
        },
        "example": "trade-confirmation-matching-search-trade-confirmation-matching"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}