{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Operational Gateway Integration API",
    "description": "The Operational Gateway Integration API enables seamless management and interaction with IT operational functions within banking services. It facilitates the integration of various operational workflows, allowing users to efficiently manage and automate IT processes. This API is designed for developers working in the financial technology space, providing them with the necessary tools to optimize operational systems. Use cases include enhancing productivity by integrating IT capabilities and streamlining communication between banking applications.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/operational-gateway": {
      "post": {
        "tags": [
          "IT Management"
        ],
        "summary": "Create a new operational gateway.",
        "description": "This endpoint allows you to create a new operational gateway within the IT management system. You can specify various parameters to configure the gateway according to your organizational needs.",
        "operationId": "createOperationalGateway",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit a new operation through the operational gateway. It contains the necessary data required for the operation to be processed effectively.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOperationalGatewayRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource has been successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOperationalGatewayResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateOperationalGatewayRequest": {
        "type": "object",
        "properties": {
          "systemId": {
            "type": "string",
            "description": "The unique identifier for the system.",
            "example": "STANDARD"
          },
          "environment": {
            "type": "string",
            "description": "The environment in which the operation is to be performed (e.g., production, staging).",
            "example": "STANDARD"
          },
          "changeId": {
            "type": "string",
            "description": "The identifier for the change request that this operation is related to.",
            "example": "STANDARD"
          },
          "ownerTeam": {
            "type": "string",
            "description": "The name of the team responsible for the operation.",
            "example": "STANDARD"
          },
          "plannedAt": {
            "type": "string",
            "description": "The planned date and time for the operation.",
            "example": "2026-08-11T12:00:00Z"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "The request body for creating an operational operation.",
        "example": {
          "systemId": "STANDARD",
          "environment": "STANDARD",
          "changeId": "STANDARD",
          "ownerTeam": "STANDARD",
          "plannedAt": "2026-08-11T12:00:00Z",
          "requestContext": {
            "requestId": "61ab2c75-8565-598c-9c00-5940e528b5a4",
            "correlationId": "f39180b3-fea1-5d4d-b642-19ee590e38bb",
            "idempotencyKey": "021cb13d-dd58-5d9a-9faf-920da0dd0e05",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-885292"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "req-987"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate related requests.",
            "example": "correlation-654"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure the operation can be safely retried without side effects.",
            "example": "idempotent-123"
          },
          "requestedAt": {
            "type": "string",
            "description": "The date and time when the request was received.",
            "example": "2023-09-30T09:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "CRM-System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "WebApp"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual data surrounding the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel-321"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel through which the request was made (e.g., API, UI).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used for the channel.",
            "example": "device-654"
          }
        },
        "description": "Details about the channel through which the request was made."
      },
      "CreateOperationalGatewayResponse_201": {
        "title": "Operational Gateway Response",
        "type": "object",
        "properties": {
          "systemId": {
            "type": "string",
            "description": "Unique identifier for the system.",
            "example": "STANDARD"
          },
          "changeId": {
            "type": "string",
            "description": "Identifier for the change request.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource affected by the operation.",
            "example": "RES-932197"
          },
          "status": {
            "type": "string",
            "description": "Current status of the operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Represents the response returned from the operational gateway upon a successful operation.",
        "example": {
          "systemId": "STANDARD",
          "changeId": "STANDARD",
          "resourceId": "RES-932197",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "b96f6a3f-aefd-5e22-831d-9438032e6551",
            "correlationId": "f39180b3-fea1-5d4d-b642-19ee590e38bb",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier to track the operation across systems.",
            "example": "corr-987654"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T10:00:01Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the operation was processed.",
            "example": "us-west-2"
          }
        },
        "description": "Contains additional information about the operation's processing."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operational-gateway-create-operational-gateway"
        },
        "example": "operational-gateway-create-operational-gateway"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method via JSON Web Tokens (JWT). Clients must provide a valid JWT in the Authorization header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}