{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Card By Param1-spec",
    "description": "This API allows for the modification of credit card details based on a specified parameter. Users can update various attributes of a credit card, such as expiration date, billing address, or spending limit. This capability is essential for financial institutions and businesses managing customer payments or subscriptions. Typical consumers include banking applications and payment processing systems that require dynamic updates of credit card information to ensure accurate and current data management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://cards-merchant-app:9003",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cards/credit-card/{param1}": {
      "patch": {
        "tags": [
          "Credit Card Management"
        ],
        "summary": "Update Credit Card Information",
        "description": "This operation allows users to update the details of a specific credit card identified by its unique ID. Ensure all required fields are provided to successfully update the card information.",
        "operationId": "updateCardByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the details of a specific credit card identified by the unique CARD-400045 identifier. The body must adhere to the specified schema to ensure that all required fields are correctly populated.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCardByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The update was successful and the resource has been modified.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              },
              "x-workflow-id": {
                "$ref": "#/components/headers/x-workflow-id"
              },
              "x-workflow-name": {
                "$ref": "#/components/headers/x-workflow-name"
              },
              "x-workflow-state": {
                "$ref": "#/components/headers/x-workflow-state"
              },
              "x-workflow-execution-id": {
                "$ref": "#/components/headers/x-workflow-execution-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateCardByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateCardByParam1Request": {
        "title": "Credit Card Patch Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "description": "Object that contains the specific changes to be made to the credit card.",
            "$ref": "#/components/schemas/CardChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "Reason for requesting the change.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "Date and time when the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the user who requested the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the request body used to update credit card details.",
        "example": {
          "changes": {
            "cardToken": "TOK-181290",
            "cardholderId": "STANDARD",
            "merchantId": "MER-214054"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "dcfd9d49-64ed-5f86-ad44-661627e3ebc0",
            "correlationId": "1d862c26-5e58-539a-bfa6-38e8446ff277",
            "idempotencyKey": "5546eaff-76b7-5cd0-9b22-afa529bd95fb",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-658493"
            }
          }
        }
      },
      "CardChanges": {
        "title": "Card Changes",
        "type": "object",
        "properties": {
          "cardToken": {
            "type": "string",
            "description": "Token associated with the credit card.",
            "example": "abcd-1234-efgh-5678"
          },
          "cardholderId": {
            "type": "string",
            "description": "Identifier for the cardholder.",
            "example": "cardholder456"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant involved in the transaction.",
            "example": "merchant789"
          }
        },
        "description": "Details regarding changes to credit card information."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-1001"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used to correlate related requests.",
            "example": "correlation-xyz"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used for idempotency control.",
            "example": "idempotency-123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T09:50:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System that generated the request.",
            "example": "Online Banking"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request was made.",
            "example": "Mobile App"
          },
          "channel": {
            "description": "Details about the channel through which the request was made.",
            "$ref": "#/components/schemas/ChannelDetails"
          }
        },
        "description": "Contextual details about the request."
      },
      "ChannelDetails": {
        "title": "Channel Details",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used for the request (e.g., Web, Mobile).",
            "example": "Mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to submit the request.",
            "example": "device-xyz"
          }
        },
        "description": "Information about the channel used during the request."
      },
      "UpdateCardByParam1Response_200": {
        "title": "Credit Card Operation Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the card was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for a PATCH operation on a credit card.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "07456e03-4df7-57da-ab60-47f58ad392b7",
            "correlationId": "1d862c26-5e58-539a-bfa6-38e8446ff277",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Schema representing the metadata associated with the credit card operation."
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-028"
        },
        "example": "WF-028"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "0113109f-e8bb-421f-9454-72bbd6f34a0e"
        },
        "example": "0113109f-e8bb-421f-9454-72bbd6f34a0e"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "4847ff47-b382-468c-a993-9d27abb6c37b"
        },
        "example": "4847ff47-b382-468c-a993-9d27abb6c37b"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "Unique identifier for the API endpoint that was accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "credit-card-update-credit-card"
        },
        "example": "credit-card-update-credit-card"
      },
      "x-runtime-app": {
        "description": "The version of the runtime application processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      },
      "x-workflow-id": {
        "description": "Identifier for the specific workflow that is being executed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-028"
        },
        "example": "WF-028"
      },
      "x-workflow-name": {
        "description": "The name of the workflow that was executed for this operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Card Dispute and Chargeback"
        },
        "example": "Card Dispute and Chargeback"
      },
      "x-workflow-state": {
        "description": "The current state of the workflow, indicating its progress or completion status.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "x-workflow-execution-id": {
        "description": "A unique identifier for the execution of the workflow, used for tracking and tracing.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "4847ff47-b382-468c-a993-9d27abb6c37b"
        },
        "example": "4847ff47-b382-468c-a993-9d27abb6c37b"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method. Clients must include a JSON Web Token (JWT) in the 'Authorization' header for authentication with the API. The token should be obtained through a secure authentication process.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}