{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Cross-Channel Review Submission API",
    "description": "The Cross-Channel Review Submission API enables businesses to gather customer feedback across various banking channels seamlessly. Utilizing this API, developers can submit reviews related to banking services or interactions, enhancing customer engagement and satisfaction. Ideal for financial institutions looking to improve service offerings, the API supports diverse use cases including post-interaction feedback, product reviews, and service quality assessments. With an emphasis on integrating customer insights, this API serves as a vital tool for enhancing service responsiveness and overall customer experience.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://customer-channel-app:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cross-channel/contact-routing/{param1}/reviews": {
      "post": {
        "tags": [
          "Contact Routing"
        ],
        "summary": "Create a review for a specific contact routing resource.",
        "description": "This endpoint allows you to submit a review for the contact routing resource identified by RES-100045. The review can include various feedback and ratings which will help improve the overall service quality.",
        "operationId": "createReviewForContactRoutingRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body allows clients to submit reviews for a specific resource identified by 'RES-100045' in the cross-channel contact routing system. The review should contain necessary details like rating, comments, and user information to facilitate effective processing and analysis.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateReviewForContactRoutingRes100045Request"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted and is currently being processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateReviewForContactRoutingRes100045Response_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateReviewForContactRoutingRes100045Request": {
        "type": "object",
        "properties": {
          "reviewReason": {
            "type": "string",
            "description": "The reason for the review.",
            "example": "STANDARD"
          },
          "reviewScope": {
            "type": "array",
            "description": "The scope of the review, which may include multiple aspects to be reviewed.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "example": "Feature A"
            }
          },
          "assignedReviewerId": {
            "type": "string",
            "description": "The ID of the reviewer assigned to the review.",
            "example": "STANDARD"
          },
          "dueAt": {
            "type": "string",
            "description": "The due date for the review in ISO 8601 format.",
            "example": "2026-08-11T12:00:00Z"
          },
          "requestContext": {
            "description": "Context information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for creating a review operation.",
        "example": {
          "reviewReason": "STANDARD",
          "reviewScope": [
            "STANDARD"
          ],
          "assignedReviewerId": "STANDARD",
          "dueAt": "2026-08-11T12:00:00Z",
          "requestContext": {
            "requestId": "30bf38c2-250e-536b-a6aa-5e14a9ee03d1",
            "correlationId": "dbfc72ba-3c71-50f0-a1cf-754a6834a7e4",
            "idempotencyKey": "289035e7-7bc9-51ce-b7b1-914736d1c04d",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-339195"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req_67890"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to track a specific request across multiple systems.",
            "example": "corr_abcde"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure that the request can be retried safely.",
            "example": "idempotency_key_value"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made in ISO 8601 format.",
            "example": "2023-10-25T00:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "InternalSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that sent the request.",
            "example": "ReviewApp"
          },
          "channel": {
            "description": "Information about the communication channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information about the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel_123"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used (e.g., web, mobile, etc.).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the channel communication.",
            "example": "device_456"
          }
        },
        "description": "Details about the channel through which the request was made."
      },
      "CreateReviewForContactRoutingRes100045Response_202": {
        "title": "Contact Routing Response",
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "A reference identifier for the action performed in the routing.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "The type of action that was taken during the routing process.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The status of the routing operation.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "The timestamp indicating when the routing was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/RoutingMetadata"
          }
        },
        "description": "This schema represents the response structure for the contact routing operation.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "7b3cbde0-f8d7-5abe-ac53-55c228ca86ae",
            "correlationId": "dbfc72ba-3c71-50f0-a1cf-754a6834a7e4",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "RoutingMetadata": {
        "title": "Routing Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response generated during routing.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate this response with requests across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when this metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographical region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Additional metadata related to the contact routing process."
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-075"
        },
        "example": "WF-075"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "4f5d48cb-b73f-440e-9fcd-00adf8502b28"
        },
        "example": "4f5d48cb-b73f-440e-9fcd-00adf8502b28"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "55217e43-26f4-42d9-8c71-aebe323e3421"
        },
        "example": "55217e43-26f4-42d9-8c71-aebe323e3421"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the API endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "contact-routing-review-contact-routing-processing"
        },
        "example": "contact-routing-review-contact-routing-processing"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the request, providing context about the execution environment.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      },
      "X-Workflow-Id": {
        "description": "The identifier for the workflow instance that is linked to the processed request, aiding in tracking and audit capabilities.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-075"
        },
        "example": "WF-075"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow that has been executed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Omnichannel Service Routing and Handoff"
        },
        "example": "Omnichannel Service Routing and Handoff"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow, indicating its progress.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the execution instance of the workflow.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "55217e43-26f4-42d9-8c71-aebe323e3421"
        },
        "example": "55217e43-26f4-42d9-8c71-aebe323e3421"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using a Bearer token, typically implemented with JSON Web Tokens (JWT). This method allows clients to authenticate by providing a token in the 'Authorization' header of the requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}