{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Approved Supplier Directory API",
    "description": "The Approved Supplier Directory API offers access to a comprehensive list of certified suppliers in the enterprise banking sector. This endpoint enables users to retrieve detailed information about approved suppliers, including their contact details and service offerings. Ideal for procurement teams and partners, this API supports efficient supplier management and selection processes. Organizations can utilize this resource to ensure compliance and enhance their procurement strategies by connecting with verified suppliers.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/enterprise-services/approved-supplier-directory": {
      "get": {
        "tags": [
          "Supplier Management"
        ],
        "summary": "Retrieve the approved supplier directory.",
        "description": "This endpoint allows users to fetch a list of suppliers that have been approved within the enterprise services. The list includes detailed information about each supplier, which can be useful for various business processes, including procurement and contract management.",
        "operationId": "getApprovedSupplierDirectory",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving the approved supplier directory, which includes various filtering options and parameters to apply to the query.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetApprovedSupplierDirectoryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the approved supplier directory.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetApprovedSupplierDirectoryResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetApprovedSupplierDirectoryRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation in the approved supplier directory service. It is expected to be a string that may contain JSON formatted data.",
        "example": "{}"
      },
      "GetApprovedSupplierDirectoryResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of approved suppliers.",
            "example": [
              {
                "requestId": "7c94f15f-09f5-55ee-8ec6-985e5c24a137",
                "supplierId": "STANDARD",
                "costCenter": "STANDARD",
                "amount": {
                  "value": 100.0,
                  "currency": "USD"
                },
                "requestedBy": "STANDARD",
                "purchaseOrderId": "ORD-404798",
                "categoryCode": "CODE-625",
                "approvalLevel": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Supplier"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the approved supplier directory operation.",
        "example": {
          "items": [
            {
              "requestId": "7c94f15f-09f5-55ee-8ec6-985e5c24a137",
              "supplierId": "STANDARD",
              "costCenter": "STANDARD",
              "amount": {
                "value": 100.0,
                "currency": "USD"
              },
              "requestedBy": "STANDARD",
              "purchaseOrderId": "ORD-404798",
              "categoryCode": "CODE-625",
              "approvalLevel": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "fcce9fbe-fbeb-594d-9058-fa247b74550d",
            "correlationId": "4ccd787c-d670-547f-bbf4-917f4cb4c0d1",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Supplier": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-12345"
          },
          "supplierId": {
            "type": "string",
            "description": "Unique identifier for the supplier.",
            "example": "sup-67890"
          },
          "costCenter": {
            "type": "string",
            "description": "Cost center associated with the supplier.",
            "example": "CC-001"
          },
          "amount": {
            "$ref": "#/components/schemas/Amount"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier for the person who requested the supplier.",
            "example": "john.doe@example.com"
          },
          "purchaseOrderId": {
            "type": "string",
            "description": "Identifier for the purchase order linked to the supplier.",
            "example": "PO-98765"
          },
          "categoryCode": {
            "type": "string",
            "description": "Code representing the category of the supplier.",
            "example": "CAT-001"
          },
          "approvalLevel": {
            "type": "string",
            "description": "Approval level associated with the supplier.",
            "example": "Level 2"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the supplier record.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the supplier record was last updated.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "Schema representing an approved supplier's details."
      },
      "Amount": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "Numeric value of the amount.",
            "example": 1500.0
          },
          "currency": {
            "type": "string",
            "description": "Currency code of the amount (e.g., USD, EUR).",
            "example": "USD"
          }
        },
        "description": "Schema for representing monetary amounts."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the paginated response.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Schema for pagination details of the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp-22222"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request across systems.",
            "example": "corr-11111"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Schema for additional information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the endpoint that is currently being accessed. This allows for tracking and analytics related to the specific service endpoint.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "approved-supplier-directory-search-approved-supplier-directory"
        },
        "example": "approved-supplier-directory-search-approved-supplier-directory"
      },
      "X-Runtime-App": {
        "description": "A header representing the version of the runtime application processing the request. This can be useful for debugging and compatibility checks.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication, specifically designed to work with JSON Web Tokens (JWT). Clients must include a valid JWT in the Authorization header when making requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}