{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Human Resource Management By Param1-spec",
    "description": "The Human Resource Management Payroll Benefits API enables users to access payroll and benefits information for employees within the organization. This API provides detailed insights based on specified parameters, allowing for tailored queries related to payroll records and benefit plans. Typical users of this API include HR professionals, payroll administrators, and data analysts who require efficient access to employee compensation-related data. Utilize this endpoint to enable accurate reporting and informed decision-making regarding human resource management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/payroll-benefits/{param1}": {
      "get": {
        "tags": [
          "Payroll Management"
        ],
        "summary": "Retrieve payroll benefits information for a specific employee.",
        "description": "This endpoint allows you to fetch detailed payroll benefits for an employee identified by their unique employee ID (EMP-900045). The information includes various benefits associated with the employee's payroll, enabling better management of payroll details.",
        "operationId": "getHumanResourceManagementByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve payroll and benefits information for the specified employee ID (EMP-900045). It is essential to provide the necessary details in the request to ensure accurate and relevant data retrieval.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetHumanResourceManagementByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the payroll benefits details for the specified employee.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetHumanResourceManagementByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetHumanResourceManagementByParam1Request": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on the payroll benefits management system. It is currently defined as a simple string.",
        "example": "{}"
      },
      "GetHumanResourceManagementByParam1Response_200": {
        "title": "Payroll Benefits Response",
        "type": "object",
        "properties": {
          "payrollRunId": {
            "type": "string",
            "description": "A unique identifier for the payroll run.",
            "example": "STANDARD"
          },
          "employeeId": {
            "type": "string",
            "description": "The unique identifier of the employee associated with the payroll.",
            "example": "EMP-659650"
          },
          "payPeriod": {
            "type": "string",
            "description": "The pay period for which the payroll details are provided.",
            "example": "STANDARD"
          },
          "grossPay": {
            "description": "The total gross pay amount for the employee during the pay period.",
            "$ref": "#/components/schemas/GrossPay"
          },
          "deductions": {
            "description": "The total deductions applied to the gross pay for the employee.",
            "$ref": "#/components/schemas/Deductions"
          },
          "paymentDate": {
            "type": "string",
            "description": "The date on which the payment was made.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the payroll record (e.g., processed, pending).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the payroll record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the payroll response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response for the payroll benefits API operation, detailing payroll-related information for an employee.",
        "example": {
          "payrollRunId": "STANDARD",
          "employeeId": "EMP-659650",
          "payPeriod": "STANDARD",
          "grossPay": {
            "amount": 100.0,
            "currency": "USD"
          },
          "deductions": {
            "amount": 100.0,
            "currency": "USD"
          },
          "paymentDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "ae8398df-cf0e-5d57-8a1d-7429d397df33",
            "correlationId": "04c48727-e08a-5dc7-8725-a08c772aebc3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "GrossPay": {
        "title": "Gross Pay",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The total amount of gross pay.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the gross pay amount is represented.",
            "example": "USD"
          }
        },
        "description": "This schema describes the gross pay structure including the amount and currency."
      },
      "Deductions": {
        "title": "Deductions",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The total amount of deductions.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the deduction amount is represented.",
            "example": "USD"
          }
        },
        "description": "This schema describes the deductions applied to gross pay, including the amount and currency."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the payroll processing took place.",
            "example": "string"
          }
        },
        "description": "This schema captures additional information relevant to the payroll response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that was called, useful for tracking and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "employee-payroll-and-incentives-get-employee-payroll-and-incentives"
        },
        "example": "employee-payroll-and-incentives-get-employee-payroll-and-incentives"
      },
      "X-Runtime-App": {
        "description": "The name of the application where the request was processed, helping to distinguish between different services.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method using a bearer token, typically a JSON Web Token (JWT). This mechanism allows secure access by including an authorization token in the HTTP request headers.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}