{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create P2m Reconciliation Run-spec",
    "description": "This endpoint allows users to initiate a new P2M reconciliation run, which consolidates and verifies payment transactions. By submitting a request, consumers, such as finance teams and accounting software, can streamline their reconciliation processes and ensure accurate financial reporting. The API expects relevant transaction details and criteria to facilitate the run creation. This functionality is essential for organizations aiming to maintain financial integrity and efficiency in managing payment reconciliations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/reconciliation-runs": {
      "post": {
        "tags": [
          "Reconciliation"
        ],
        "summary": "Create a new reconciliation run.",
        "description": "This endpoint allows users to initiate a new reconciliation run, which involves aggregating and comparing financial data from various sources to ensure accuracy and consistency. It is essential for maintaining financial integrity and compliance.",
        "operationId": "createP2mReconciliationRun",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body to initiate a reconciliation run, containing necessary data to process the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateP2mReconciliationRunRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted and is being processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateP2mReconciliationRunResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateP2mReconciliationRunRequest": {
        "type": "object",
        "properties": {
          "sourceA": {
            "type": "string",
            "description": "The identifier for the first source.",
            "example": "STANDARD"
          },
          "sourceB": {
            "type": "string",
            "description": "The identifier for the second source.",
            "example": "STANDARD"
          },
          "businessDate": {
            "type": "string",
            "description": "The business date for the reconciliation.",
            "example": "2026-09-15"
          },
          "merchantId": {
            "type": "string",
            "description": "The identifier of the merchant involved in the reconciliation.",
            "example": "MER-466578"
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the reconciliation is to be made.",
            "example": "USD"
          },
          "matchingStrategy": {
            "type": "string",
            "description": "The strategy to use for matching records during reconciliation.",
            "example": "STANDARD"
          },
          "amountTolerance": {
            "description": "The allowable tolerance for amounts during reconciliation.",
            "$ref": "#/components/schemas/AmountTolerance"
          },
          "requestContext": {
            "description": "The context of the request including identifiers and metadata.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for initiating reconciliation runs between two sources.",
        "example": {
          "sourceA": "STANDARD",
          "sourceB": "STANDARD",
          "businessDate": "2026-09-15",
          "merchantId": "MER-466578",
          "currency": "USD",
          "matchingStrategy": "STANDARD",
          "amountTolerance": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "requestContext": {
            "requestId": "ed4e6b78-7ab7-5cef-ad1f-2d397d9cbc35",
            "correlationId": "5941dfdf-88a3-50f8-a53a-b9b06c371cc2",
            "idempotencyKey": "3c07c1c3-dcf9-5a1b-a90c-ab53830638ac",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-612162"
            }
          }
        }
      },
      "AmountTolerance": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency for which the tolerance is defined.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "The amount of tolerance accepted.",
            "example": "0.05"
          }
        },
        "description": "Represents the amount tolerance settings for the reconciliation."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "request123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate multiple requests.",
            "example": "correlation456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotent operations.",
            "example": "idempotencyKey789"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originates.",
            "example": "sourceSystemExample"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originates.",
            "example": "sourceAppExample"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contains metadata about the request such as identifiers and timestamps."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to send the request.",
            "example": "device456"
          }
        },
        "description": "Information about the communication channel used for the request."
      },
      "CreateP2mReconciliationRunResponse_202": {
        "title": "Reconciliation Run Response",
        "type": "object",
        "properties": {
          "reconciliationRunId": {
            "type": "string",
            "description": "The unique identifier for the reconciliation run.",
            "example": "STANDARD"
          },
          "sourceA": {
            "type": "string",
            "description": "Identifier for source A in the reconciliation.",
            "example": "STANDARD"
          },
          "sourceB": {
            "type": "string",
            "description": "Identifier for source B in the reconciliation.",
            "example": "STANDARD"
          },
          "businessDate": {
            "type": "string",
            "description": "The business date for the reconciliation run.",
            "example": "2026-09-15"
          },
          "merchantId": {
            "type": "string",
            "description": "The merchant identifier for the reconciliation.",
            "example": "MER-861222"
          },
          "currency": {
            "type": "string",
            "description": "The currency used for the reconciliation.",
            "example": "USD"
          },
          "matchingStrategy": {
            "type": "string",
            "description": "The strategy used for matching during the reconciliation process.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the reconciliation run.",
            "example": "ACTIVE"
          },
          "summary": {
            "description": "Summary statistics related to the reconciliation run.",
            "$ref": "#/components/schemas/ReconciliationSummary"
          },
          "startedAt": {
            "type": "string",
            "description": "Timestamp indicating when the reconciliation run started.",
            "example": "2026-09-15T14:30:00Z"
          },
          "completedAt": {
            "type": "string",
            "description": "Timestamp indicating when the reconciliation run completed.",
            "example": "2026-09-15T14:30:00Z"
          },
          "audit": {
            "description": "Information related to the audit trail of the reconciliation run.",
            "$ref": "#/components/schemas/AuditInfo"
          },
          "metadata": {
            "description": "Additional metadata associated with the reconciliation run.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Represents the response for a reconciliation run operation, containing details of the reconciliation process, including identifiers, counts, and metadata.",
        "example": {
          "reconciliationRunId": "STANDARD",
          "sourceA": "STANDARD",
          "sourceB": "STANDARD",
          "businessDate": "2026-09-15",
          "merchantId": "MER-861222",
          "currency": "USD",
          "matchingStrategy": "STANDARD",
          "status": "ACTIVE",
          "summary": {
            "sourceACount": 1,
            "sourceBCount": 1,
            "matchedCount": 1,
            "unmatchedSourceACount": 1,
            "unmatchedSourceBCount": 1,
            "amountMismatchCount": 1,
            "duplicateCount": 1,
            "totalSourceA": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "totalSourceB": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "netDifference": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "startedAt": "2026-09-15T14:30:00Z",
          "completedAt": "2026-09-15T14:30:00Z",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "6e4236b2-7d48-5506-9717-4fe015ecbd80",
            "correlationId": "5941dfdf-88a3-50f8-a53a-b9b06c371cc2",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ReconciliationSummary": {
        "type": "object",
        "properties": {
          "sourceACount": {
            "type": "integer",
            "description": "Count of items from source A.",
            "format": "int32",
            "example": 0
          },
          "sourceBCount": {
            "type": "integer",
            "description": "Count of items from source B.",
            "format": "int32",
            "example": 0
          },
          "matchedCount": {
            "type": "integer",
            "description": "Count of items that matched between source A and source B.",
            "format": "int32",
            "example": 0
          },
          "unmatchedSourceACount": {
            "type": "integer",
            "description": "Count of items in source A that did not match any in source B.",
            "format": "int32",
            "example": 0
          },
          "unmatchedSourceBCount": {
            "type": "integer",
            "description": "Count of items in source B that did not match any in source A.",
            "format": "int32",
            "example": 0
          },
          "amountMismatchCount": {
            "type": "integer",
            "description": "Count of items with amount mismatches between source A and source B.",
            "format": "int32",
            "example": 0
          },
          "duplicateCount": {
            "type": "integer",
            "description": "Count of duplicate items found during reconciliation.",
            "format": "int32",
            "example": 0
          },
          "totalSourceA": {
            "description": "Total amount from source A.",
            "$ref": "#/components/schemas/TotalAmount"
          },
          "totalSourceB": {
            "description": "Total amount from source B.",
            "$ref": "#/components/schemas/TotalAmount"
          },
          "netDifference": {
            "description": "Net difference calculated from the reconciliation.",
            "$ref": "#/components/schemas/TotalAmount"
          }
        },
        "description": "Summary statistics of counts and totals resulting from the reconciliation process."
      },
      "TotalAmount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency of the total amount.",
            "example": "string"
          },
          "value": {
            "type": "string",
            "description": "The total value of the amount as a string.",
            "example": "string"
          }
        },
        "description": "Represents a total monetary amount with its currency."
      },
      "AuditInfo": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the reconciliation run was created.",
            "example": "string"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the reconciliation run.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the reconciliation run was last updated.",
            "example": "string"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the reconciliation run.",
            "example": "string"
          },
          "version": {
            "type": "integer",
            "description": "Version of the reconciliation run.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Information related to the audit of the reconciliation run."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking purposes.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Additional metadata related to the reconciliation run."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-create-reconciliation-run"
        },
        "example": "banking-p2m-openapi-create-reconciliation-run"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication method, where a JSON Web Token (JWT) is included in the Authorization header to authenticate requests. The token should be provided as a bearer token for accessing secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}