{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Banking Operational Services Processing Orders-v5-spec",
    "description": "The Banking Operational Services Orders API provides access to information regarding processing orders within the banking operational services. By utilizing this API, clients can retrieve a comprehensive list of current processing orders, enabling them to monitor transactional activities effectively. This API is particularly useful for banking institutions and financial service providers aiming to streamline their order processing workflows and enhance operational efficiency. Developers can integrate this resource into their applications to ensure real-time visibility into banking operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/processing-order": {
      "get": {
        "tags": [
          "Operational Services"
        ],
        "summary": "Retrieve processing order details",
        "description": "Fetch the current details of a specific processing order within the operational services. This endpoint provides all relevant information related to the order, including its status, items involved, and any associated timestamps.",
        "operationId": "listBankingOperationalServicesProcessingOrders",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving the operational processing order. This body should include all necessary parameters that define the order processing criteria.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListBankingOperationalServicesProcessingOrdersRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the processing order data.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBankingOperationalServicesProcessingOrdersResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListBankingOperationalServicesProcessingOrdersRequest": {
        "type": "string",
        "description": "This schema represents the JSON request body for the GET operation related to processing orders in operational services.",
        "example": "{}"
      },
      "ListBankingOperationalServicesProcessingOrdersResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of processing order items.",
            "example": [
              {
                "operationId": "STANDARD",
                "customerId": "CUST-518379",
                "accountId": "ACC-799737",
                "requestedAt": "2026-08-11T12:00:00Z",
                "priority": "NORMAL",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ProcessingOrderItem"
            }
          },
          "pagination": {
            "description": "Information regarding the pagination of the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Indicates the sorting criteria used for the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Additional information about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "A response schema representing the operational processing orders including details about items, pagination, and metadata.",
        "example": {
          "items": [
            {
              "operationId": "STANDARD",
              "customerId": "CUST-518379",
              "accountId": "ACC-799737",
              "requestedAt": "2026-08-11T12:00:00Z",
              "priority": "NORMAL",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "7d32b3a1-f90f-5706-aa27-a23f07fdeae3",
            "correlationId": "ff326266-e094-52c6-a611-1cc7129e169c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ProcessingOrderItem": {
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "Unique identifier for the operation.",
            "example": "12345"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "cust_1"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "acc_1"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the processing order was requested.",
            "example": "2023-10-01T10:00:00Z"
          },
          "priority": {
            "type": "string",
            "description": "Priority level of the processing order.",
            "example": "high"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the processing order.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the processing order was last updated.",
            "example": "2023-10-02T10:00:00Z"
          }
        },
        "description": "Represents an individual processing order item."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Pagination details for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "res_123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate requests and responses.",
            "example": "corr_123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T11:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Indicates the region where the processing occurred.",
            "example": "us-west"
          }
        },
        "description": "Additional information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "processing-order-search-processing-order"
        },
        "example": "processing-order-search-processing-order"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes JSON Web Tokens (JWT) for authentication via bearer tokens. When using this scheme, users must include a valid JWT in the 'Authorization' header of their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}