{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Data Enrichment Transaction-v5-spec",
    "description": "The Data Enrichment Transactions API facilitates the processes involved in creating transactions that enrich existing datasets. This endpoint allows users to submit new enrichment requests, which can enhance the quality and detail of their data. Typically utilized by data analysts and developers, this API supports businesses seeking to improve their data-driven decisions through enriched information. By managing transactions effectively, organizations can ensure accuracy and maximize the value derived from their data assets.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/data-enrichment/transactions": {
      "post": {
        "tags": [
          "Transaction Management"
        ],
        "summary": "Create a new transaction.",
        "description": "This endpoint allows you to create a new transaction in the system. Provide the necessary details in the request body to initiate a transaction. Upon successful creation, the transaction ID will be returned.",
        "operationId": "createDataEnrichmentTransaction",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create a new transaction. It should contain all necessary details required to process the transaction, ensuring that the payload adheres to the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDataEnrichmentTransactionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction processed successfully.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateDataEnrichmentTransactionResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateDataEnrichmentTransactionRequest": {
        "title": "Transaction Request Body",
        "type": "object",
        "properties": {
          "transactions": {
            "type": "array",
            "description": "A list of transaction objects.",
            "example": [
              {
                "externalCustomerId": "CUST-166933",
                "externalAccountId": "ACC-669678",
                "accountType": "CHECKING",
                "externalTransactionId": "TXN-452018",
                "postedTimestamp": "2026-09-15T14:30:00Z",
                "transactionTimestamp": "2026-09-15T14:30:00Z",
                "description": "Customer banking request processed successfully",
                "memo": "STANDARD",
                "amount": 100.0,
                "transactionFee": 100.0,
                "type": "STANDARD",
                "directionIndicator": "STANDARD",
                "cardAcceptorId": "STANDARD",
                "inputIsRecurringTransaction": true,
                "inputMerchantInformation": {
                  "merchantDescriptor": "STANDARD",
                  "name": "Northstar Banking Service",
                  "line1": "350 Fifth Avenue",
                  "city": "New York",
                  "state": "STANDARD",
                  "postalCode": "10001"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Transaction"
            }
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for posting transactions.",
        "example": {
          "transactions": [
            {
              "externalCustomerId": "CUST-166933",
              "externalAccountId": "ACC-669678",
              "accountType": "CHECKING",
              "externalTransactionId": "TXN-452018",
              "postedTimestamp": "2026-09-15T14:30:00Z",
              "transactionTimestamp": "2026-09-15T14:30:00Z",
              "description": "Customer banking request processed successfully",
              "memo": "STANDARD",
              "amount": 100.0,
              "transactionFee": 100.0,
              "type": "STANDARD",
              "directionIndicator": "STANDARD",
              "cardAcceptorId": "STANDARD",
              "inputIsRecurringTransaction": true,
              "inputMerchantInformation": {
                "merchantDescriptor": "STANDARD",
                "name": "Northstar Banking Service",
                "line1": "350 Fifth Avenue",
                "city": "New York",
                "state": "STANDARD",
                "postalCode": "10001"
              }
            }
          ],
          "requestContext": {
            "requestId": "9bd38ff1-fa08-5882-bfaa-d3e1464fdb56",
            "correlationId": "4a2baaf6-38bf-5f59-a7a4-23c013c1d05c",
            "idempotencyKey": "1ab9f562-3a0f-508d-ab3a-f8350b55a8e8",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-758843"
            }
          }
        }
      },
      "Transaction": {
        "type": "object",
        "properties": {
          "externalCustomerId": {
            "type": "string",
            "description": "The external identifier for the customer associated with the transaction."
          },
          "externalAccountId": {
            "type": "string",
            "description": "The external identifier for the account associated with the transaction."
          },
          "accountType": {
            "type": "string",
            "description": "The type of account associated with the transaction."
          },
          "externalTransactionId": {
            "type": "string",
            "description": "The external identifier for the transaction."
          },
          "postedTimestamp": {
            "type": "string",
            "description": "The timestamp when the transaction was posted."
          },
          "transactionTimestamp": {
            "type": "string",
            "description": "The timestamp when the transaction occurred."
          },
          "description": {
            "type": "string",
            "description": "A description of the transaction."
          },
          "memo": {
            "type": "string",
            "description": "An optional memo related to the transaction."
          },
          "amount": {
            "type": "integer",
            "description": "The amount of money involved in the transaction.",
            "format": "int32"
          },
          "transactionFee": {
            "type": "integer",
            "description": "The fee associated with processing the transaction.",
            "format": "int32"
          },
          "transactionCategory": {
            "type": "string",
            "description": "The category of the transaction."
          },
          "transactionCategoryScore": {
            "type": "integer",
            "description": "Score representing the confidence of the transaction's category.",
            "format": "int32"
          },
          "transactionCategoryGroup": {
            "type": "string",
            "description": "The group to which the transaction category belongs."
          },
          "type": {
            "type": "string",
            "description": "The type of the transaction (e.g., credit, debit)."
          },
          "directionIndicator": {
            "type": "string",
            "description": "Indicates the direction of the transaction (e.g., incoming, outgoing)."
          },
          "entities": {
            "type": "array",
            "description": "List of entities involved in the transaction.",
            "items": {
              "$ref": "#/components/schemas/Entity"
            }
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "cardAcceptorId": {
            "type": "string",
            "description": "Identifier for the card acceptor involved in the transaction."
          },
          "inputIsRecurringTransaction": {
            "type": "boolean",
            "description": "Indicates whether the transaction is a recurring transaction."
          },
          "inputMerchantInformation": {
            "$ref": "#/components/schemas/MerchantInformation"
          }
        },
        "description": "Schema representing individual transaction details."
      },
      "MerchantInformation": {
        "type": "object",
        "properties": {
          "merchantDescriptor": {
            "type": "string",
            "description": "Descriptor for the merchant."
          },
          "name": {
            "type": "string",
            "description": "Name of the merchant."
          }
        },
        "description": "Schema containing merchant specific information for the transaction."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating requests in different systems.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request was made.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel used.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Schema representing the channel through which the request was made."
      },
      "CreateDataEnrichmentTransactionResponse_200": {
        "type": "object",
        "properties": {
          "transactions": {
            "type": "array",
            "description": "A list of transaction objects.",
            "example": [
              {
                "externalCustomerId": "CUST-434103",
                "externalAccountId": "ACC-314144",
                "accountType": "CHECKING",
                "externalTransactionId": "TXN-346225",
                "postedTimestamp": "2026-09-15T14:30:00Z",
                "transactionTimestamp": "2026-09-15T14:30:00Z",
                "description": "Customer banking request processed successfully",
                "memo": "STANDARD",
                "amount": 100,
                "transactionFee": 100,
                "transactionCategory": "STANDARD",
                "transactionCategoryScore": 100,
                "transactionCategoryGroup": "STANDARD",
                "type": "STANDARD",
                "directionIndicator": "STANDARD",
                "entities": [
                  {
                    "id": "STANDARD",
                    "name": "Northstar Banking Service",
                    "group": "STANDARD",
                    "category": "STANDARD",
                    "website": "STANDARD",
                    "logoUrl": "https://banking.northstar.example/callbacks/status",
                    "entityStandardizationConfidenceScore": 100
                  }
                ],
                "address": {
                  "line1": "350 Fifth Avenue",
                  "line2": "Suite 4200",
                  "city": "New York",
                  "state": "STANDARD",
                  "postalCode": "10001",
                  "country": "STANDARD",
                  "latitude": 100,
                  "longitude": 100,
                  "phoneNumber": "+1-212-555-0147"
                },
                "cardAcceptorId": "STANDARD",
                "inputIsRecurringTransaction": true,
                "inputMerchantInformation": {
                  "merchantDescriptor": "STANDARD",
                  "name": "Northstar Banking Service"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Transaction"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the successful response for the transaction operations.",
        "example": {
          "transactions": [
            {
              "externalCustomerId": "CUST-434103",
              "externalAccountId": "ACC-314144",
              "accountType": "CHECKING",
              "externalTransactionId": "TXN-346225",
              "postedTimestamp": "2026-09-15T14:30:00Z",
              "transactionTimestamp": "2026-09-15T14:30:00Z",
              "description": "Customer banking request processed successfully",
              "memo": "STANDARD",
              "amount": 100,
              "transactionFee": 100,
              "transactionCategory": "STANDARD",
              "transactionCategoryScore": 100,
              "transactionCategoryGroup": "STANDARD",
              "type": "STANDARD",
              "directionIndicator": "STANDARD",
              "entities": [
                {
                  "id": "STANDARD",
                  "name": "Northstar Banking Service",
                  "group": "STANDARD",
                  "category": "STANDARD",
                  "website": "STANDARD",
                  "logoUrl": "https://banking.northstar.example/callbacks/status",
                  "entityStandardizationConfidenceScore": 100
                }
              ],
              "address": {
                "line1": "350 Fifth Avenue",
                "line2": "Suite 4200",
                "city": "New York",
                "state": "STANDARD",
                "postalCode": "10001",
                "country": "STANDARD",
                "latitude": 100,
                "longitude": 100,
                "phoneNumber": "+1-212-555-0147"
              },
              "cardAcceptorId": "STANDARD",
              "inputIsRecurringTransaction": true,
              "inputMerchantInformation": {
                "merchantDescriptor": "STANDARD",
                "name": "Northstar Banking Service"
              }
            }
          ],
          "metadata": {
            "responseId": "e4c0a7be-1e91-5f0b-b61e-9435e42e4bcf",
            "correlationId": "4a2baaf6-38bf-5f59-a7a4-23c013c1d05c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the transaction was processed."
          }
        },
        "description": "Metadata information associated with the transaction response."
      },
      "Entity": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the entity."
          },
          "name": {
            "type": "string",
            "description": "Name of the entity."
          },
          "group": {
            "type": "string",
            "description": "Group to which the entity belongs."
          },
          "category": {
            "type": "string",
            "description": "Category of the entity."
          },
          "website": {
            "type": "string",
            "description": "Website URL for the entity."
          },
          "logoUrl": {
            "type": "string",
            "description": "URL of the entity's logo."
          },
          "entityStandardizationConfidenceScore": {
            "type": "integer",
            "description": "Confidence score for the standardization of the entity.",
            "format": "int32"
          }
        },
        "description": "Schema representing an entity involved in a transaction."
      },
      "Address": {
        "type": "object",
        "properties": {
          "line1": {
            "type": "string",
            "description": "First line of the address."
          },
          "line2": {
            "type": "string",
            "description": "Second line of the address."
          },
          "city": {
            "type": "string",
            "description": "City of the address."
          },
          "state": {
            "type": "string",
            "description": "State of the address."
          },
          "postalCode": {
            "type": "string",
            "description": "Postal code of the address."
          },
          "country": {
            "type": "string",
            "description": "Country of the address."
          },
          "latitude": {
            "type": "integer",
            "description": "Latitude coordinate of the address.",
            "format": "int32"
          },
          "longitude": {
            "type": "integer",
            "description": "Longitude coordinate of the address.",
            "format": "int32"
          },
          "phoneNumber": {
            "type": "string",
            "description": "Phone number associated with the address."
          }
        },
        "description": "Schema representing the address related to a transaction."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint that processed the request, useful for tracing and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-enrich-transactions"
        },
        "example": "open-finance-api-enrich-transactions"
      },
      "x-runtime-app": {
        "description": "Indicates the name of the application runtime that handled the request, providing context for server-side operations.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JWT (JSON Web Tokens) for bearer authentication. Clients must include the token in the Authorization header of their requests to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}