{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Card Financial Settlement API",
    "description": "The Card Financial Settlement API facilitates the retrieval of financial settlement details related to card payments. It enables businesses to access vital information on transaction settlements, ensuring accuracy and transparency in financial reporting. Typical consumers include financial institutions, payment processors, and accounting software solutions that require up-to-date settlement data for reconciliation purposes. This API supports operations such as viewing settlement summaries and transaction details, optimizing the financial management of card payment processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/payments/card-financial-settlement": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Retrieve card financial settlement information",
        "description": "Fetches details regarding financial settlements associated with card payments, allowing users to view and analyze the relevant transaction data effectively.",
        "operationId": "getCardFinancialSettlement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body containing the necessary details to initiate a card financial settlement operation. This includes any relevant parameters that guide the request in processing the financial settlement effectively.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCardFinancialSettlementRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the financial settlement data for card payments.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCardFinancialSettlementResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCardFinancialSettlementRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to card financial settlements.",
        "example": "{}"
      },
      "GetCardFinancialSettlementResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of payment items.",
            "example": [
              {
                "paymentId": "PAY-125759",
                "debtorAccountId": "ACC-332290",
                "creditorAccountId": "ACC-578362",
                "instructedAmount": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "requestedExecutionDate": "2026-09-15",
                "remittanceInformation": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/PaymentItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting criteria for the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema containing details of financial settlements.",
        "example": {
          "items": [
            {
              "paymentId": "PAY-125759",
              "debtorAccountId": "ACC-332290",
              "creditorAccountId": "ACC-578362",
              "instructedAmount": {
                "amount": 100.0,
                "currency": "USD"
              },
              "requestedExecutionDate": "2026-09-15",
              "remittanceInformation": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "368b9a10-76f7-582d-995e-688ad412d5ab",
            "correlationId": "27693fd2-1354-56df-9be3-f1c313eff47f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentItem": {
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "The unique identifier for the payment.",
            "example": "payment_123"
          },
          "debtorAccountId": {
            "type": "string",
            "description": "The account ID of the debtor.",
            "example": "debtor_account_456"
          },
          "creditorAccountId": {
            "type": "string",
            "description": "The account ID of the creditor.",
            "example": "creditor_account_789"
          },
          "instructedAmount": {
            "$ref": "#/components/schemas/Amount"
          },
          "requestedExecutionDate": {
            "type": "string",
            "description": "The date when the payment is requested to be executed.",
            "example": "2023-01-01"
          },
          "remittanceInformation": {
            "type": "string",
            "description": "Additional information about the remittance.",
            "example": "Payment for invoice #123"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the payment record.",
            "example": "Completed"
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the payment record was last updated.",
            "example": "2023-01-01T12:00:00Z"
          }
        },
        "description": "Schema representing a payment item in the response."
      },
      "Amount": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount of money to be paid.",
            "example": 100.0
          },
          "currency": {
            "type": "string",
            "description": "The currency of the instructed amount.",
            "example": "USD"
          }
        },
        "description": "Schema representing the amount and currency details."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Schema for pagination information in the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "response_123"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation ID used for tracking this transaction.",
            "example": "corr_456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "US-East"
          }
        },
        "description": "Schema for metadata information in the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-financial-settlement-search-card-financial-settlement"
        },
        "example": "card-financial-settlement-search-card-financial-settlement"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JSON Web Tokens (JWT) for bearer authentication. Clients must include a valid JWT in the Authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}