{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create P2m Refund Cancel-v5-spec",
    "description": "MICROSERVICE-PROD-Create P2m Refund Cancel-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/refunds/{refundId}/cancel": {
      "post": {
        "operationId": "createP2mRefundCancel",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/refundId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateP2mRefundCancelRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateP2mRefundCancelResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateP2mRefundCancelRequest": {
        "type": "object",
        "properties": {
          "reason": {
            "type": "string",
            "example": "STANDARD"
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "57a7f60d-d841-5887-b6a7-7a282d5cfb19",
              "correlationId": "d181e97f-997f-51be-8691-1184036dcdec",
              "idempotencyKey": "f9feb8fc-7833-5578-826b-ece83c32c2fc",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-914424"
              }
            }
          }
        },
        "example": {
          "reason": "STANDARD",
          "requestContext": {
            "requestId": "57a7f60d-d841-5887-b6a7-7a282d5cfb19",
            "correlationId": "d181e97f-997f-51be-8691-1184036dcdec",
            "idempotencyKey": "f9feb8fc-7833-5578-826b-ece83c32c2fc",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-914424"
            }
          }
        }
      },
      "CreateP2mRefundCancelResponse_200": {
        "type": "object",
        "properties": {
          "refundId": {
            "type": "string",
            "example": "STANDARD"
          },
          "paymentId": {
            "type": "string",
            "example": "PAY-848273"
          },
          "merchantId": {
            "type": "string",
            "example": "MER-686201"
          },
          "amount": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "example": "string"
              },
              "value": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "reasonCode": {
            "type": "string",
            "example": "CODE-223"
          },
          "reason": {
            "type": "string",
            "example": "STANDARD"
          },
          "merchantRefundReference": {
            "type": "string",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "example": "ACTIVE"
          },
          "failure": {
            "type": "object",
            "properties": {
              "category": {
                "type": "string",
                "example": "string"
              },
              "code": {
                "type": "string",
                "example": "string"
              },
              "message": {
                "type": "string",
                "example": "string"
              },
              "declineCode": {
                "type": "string",
                "example": "string"
              },
              "retryable": {
                "type": "boolean",
                "example": false
              }
            },
            "example": {
              "category": "STANDARD",
              "code": "SUCCESS",
              "message": "STANDARD",
              "declineCode": "CODE-342",
              "retryable": true
            }
          },
          "processorReference": {
            "type": "object",
            "properties": {
              "network": {
                "type": "string",
                "example": "string"
              },
              "schemeTransactionId": {
                "type": "string",
                "example": "string"
              },
              "acquirerReferenceNumber": {
                "type": "string",
                "example": "string"
              },
              "issuerReference": {
                "type": "string",
                "example": "string"
              },
              "retrievalReferenceNumber": {
                "type": "string",
                "example": "string"
              },
              "approvalCode": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "network": "STANDARD",
              "schemeTransactionId": "TXN-593271",
              "acquirerReferenceNumber": "STANDARD",
              "issuerReference": "STANDARD",
              "retrievalReferenceNumber": "STANDARD",
              "approvalCode": "CODE-862"
            }
          },
          "audit": {
            "type": "object",
            "properties": {
              "createdAt": {
                "type": "string",
                "example": "string"
              },
              "createdBy": {
                "type": "string",
                "example": "string"
              },
              "updatedAt": {
                "type": "string",
                "example": "string"
              },
              "updatedBy": {
                "type": "string",
                "example": "string"
              },
              "version": {
                "type": "integer",
                "format": "int32",
                "example": 0
              }
            },
            "example": {
              "createdAt": "2026-09-15T14:30:00Z",
              "createdBy": "STANDARD",
              "updatedAt": "2026-09-15T14:30:00Z",
              "updatedBy": "2026-09-15",
              "version": 1
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "e703f34b-e107-50e9-8430-ba900ac14b87",
              "correlationId": "d181e97f-997f-51be-8691-1184036dcdec",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "refundId": "STANDARD",
          "paymentId": "PAY-848273",
          "merchantId": "MER-686201",
          "amount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "reasonCode": "CODE-223",
          "reason": "STANDARD",
          "merchantRefundReference": "STANDARD",
          "status": "ACTIVE",
          "failure": {
            "category": "STANDARD",
            "code": "SUCCESS",
            "message": "STANDARD",
            "declineCode": "CODE-342",
            "retryable": true
          },
          "processorReference": {
            "network": "STANDARD",
            "schemeTransactionId": "TXN-593271",
            "acquirerReferenceNumber": "STANDARD",
            "issuerReference": "STANDARD",
            "retrievalReferenceNumber": "STANDARD",
            "approvalCode": "CODE-862"
          },
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "e703f34b-e107-50e9-8430-ba900ac14b87",
            "correlationId": "d181e97f-997f-51be-8691-1184036dcdec",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "refundId": {
        "name": "refundId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-cancel-refund"
        },
        "example": "banking-p2m-openapi-cancel-refund"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}