{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Direct Debit Mandate Retrieval API",
    "description": "The Direct Debit Mandate Retrieval API provides businesses with the capability to access and retrieve information regarding direct debit mandates associated with their accounts. This endpoint allows clients to efficiently check the status and details of active mandates, enabling better management of financial transactions. Typical consumers include financial institutions and businesses relying on payment automation. The API supports seamless integration into existing systems, ensuring that organizations stay informed about their direct debit agreements.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/direct-debit-mandate": {
      "get": {
        "tags": [
          "Trade Banking"
        ],
        "summary": "Retrieve Direct Debit Mandate Details",
        "description": "This endpoint allows you to fetch the details of a direct debit mandate for trade banking. Utilize this operation to obtain the necessary information related to a specific mandate as needed for client or transactional processes.",
        "operationId": "getDirectDebitMandate",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "A request to retrieve the direct debit mandate details for trade banking. This body must conform to the specified schema, which outlines the required properties and types for a successful request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetDirectDebitMandateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the direct debit mandate information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDirectDebitMandateResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "_s_trade-banking_s_direct-debit-mandate_-_operations_-_get_-_requestbody_-_application_json": {
        "title": "Direct Debit Mandate Operations Request Body",
        "type": "string",
        "description": "This schema represents the request body format for operations related to direct debit mandates in the Trade Banking context.",
        "example": "string"
      },
      "GetDirectDebitMandateResponse_200": {
        "title": "Direct Debit Mandate Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of direct debit mandates.",
            "example": [
              {
                "mandateId": "2026-09-15",
                "debtorAccountId": "ACC-714229",
                "creditorSchemeId": "STANDARD",
                "collectionAmount": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "collectionDate": "2026-09-15",
                "frequency": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/DirectDebitMandate"
            }
          },
          "pagination": {
            "description": "Pagination details for the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting order for the list of mandates.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the direct debit mandate operations. This schema contains an array of mandates, pagination information, sorting order, and additional metadata.",
        "example": {
          "items": [
            {
              "mandateId": "2026-09-15",
              "debtorAccountId": "ACC-714229",
              "creditorSchemeId": "STANDARD",
              "collectionAmount": {
                "amount": 100.0,
                "currency": "USD"
              },
              "collectionDate": "2026-09-15",
              "frequency": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "0352fa3a-486a-5e2b-a56c-fcd2db83bdd5",
            "correlationId": "f0e4e574-bd4c-53fd-a914-c3f4d0c67f8a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "DirectDebitMandate": {
        "title": "Direct Debit Mandate",
        "type": "object",
        "properties": {
          "mandateId": {
            "type": "string",
            "description": "Unique identifier for the mandate.",
            "example": "string"
          },
          "debtorAccountId": {
            "type": "string",
            "description": "Identifier for the debtor's account.",
            "example": "string"
          },
          "creditorSchemeId": {
            "type": "string",
            "description": "Identifier for the creditor's scheme.",
            "example": "string"
          },
          "collectionAmount": {
            "description": "The amount to be collected as part of the mandate.",
            "$ref": "#/components/schemas/CollectionAmount"
          },
          "collectionDate": {
            "type": "string",
            "description": "Date when the amount will be collected.",
            "example": "string"
          },
          "frequency": {
            "type": "string",
            "description": "Frequency with which the amount will be collected.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the mandate record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating the last update to the mandate.",
            "example": "string"
          }
        },
        "description": "Schema representing an individual direct debit mandate."
      },
      "CollectionAmount": {
        "title": "Collection Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount to collect.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "Currency of the amount.",
            "example": "string"
          }
        },
        "description": "Schema representing the amount and currency for collection."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Schema representing pagination details for a list response."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate the request with the response.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Schema representing additional metadata for the response."
      },
      "GetDirectDebitMandateRequest": {
        "type": "string",
        "example": "{}"
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint that was accessed, used for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "direct-debit-mandate-search-direct-debit-mandate"
        },
        "example": "direct-debit-mandate-search-direct-debit-mandate"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request, useful for identifying the application in multi-service architectures.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme allows for the use of a Bearer Token in HTTP headers for authentication purposes. The token must conform to the JSON Web Token (JWT) format.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}