{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Open Banking Event Subscriptions-v5-spec",
    "description": "The Open Banking Event Subscriptions API enables businesses to efficiently manage their subscriptions to various open banking events. This service allows clients to retrieve detailed information about current event subscriptions, ensuring they stay informed on critical updates and notifications. Financial institutions and third-party developers typically utilize this API as part of their systems to facilitate seamless transactions and compliance with open banking regulations. It plays a vital role in fostering communication between banks and their customers, enhancing transparency and trust.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/event-subscriptions": {
      "get": {
        "tags": [
          "Event Management"
        ],
        "summary": "Retrieve event subscriptions.",
        "description": "This endpoint allows you to retrieve a list of all current event subscriptions. It provides details about each subscription, including their statuses and associated events, enabling you to manage your event handling more effectively.",
        "operationId": "listOpenBankingEventSubscriptions",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving event subscriptions. This should contain the necessary parameters to filter or specify the subscriptions being requested.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListOpenBankingEventSubscriptionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved event subscriptions.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOpenBankingEventSubscriptionsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListOpenBankingEventSubscriptionsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to event subscriptions in JSON format.",
        "example": "{}"
      },
      "ListOpenBankingEventSubscriptionsResponse_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "EventSubscription": {
                "type": "array",
                "description": "List of event subscriptions.",
                "items": {
                  "$ref": "#/components/schemas/EventSubscription"
                }
              }
            },
            "description": "Contains the event subscription data.",
            "example": {
              "EventSubscription": [
                {
                  "id": "STANDARD",
                  "CallbackUrl": "https://banking.northstar.example/callbacks/status",
                  "Version": "STANDARD",
                  "EventTypes": [
                    "STANDARD"
                  ]
                }
              ]
            }
          },
          "Links": {
            "type": "object",
            "properties": {
              "Self": {
                "type": "string",
                "description": "Link to the current page.",
                "example": "http://api.example.com/events/subscriptions?page=1"
              },
              "First": {
                "type": "string",
                "description": "Link to the first page.",
                "example": "http://api.example.com/events/subscriptions?page=1"
              },
              "Prev": {
                "type": "string",
                "description": "Link to the previous page.",
                "example": "http://api.example.com/events/subscriptions?page=1"
              },
              "Next": {
                "type": "string",
                "description": "Link to the next page.",
                "example": "http://api.example.com/events/subscriptions?page=3"
              },
              "Last": {
                "type": "string",
                "description": "Link to the last page.",
                "example": "http://api.example.com/events/subscriptions?page=5"
              }
            },
            "description": "Pagination links related to the response.",
            "example": {
              "Self": "https://example.com/resource",
              "First": "https://example.com/resource",
              "Prev": "https://example.com/resource",
              "Next": "https://example.com/resource",
              "Last": "https://example.com/resource"
            }
          },
          "Meta": {
            "type": "object",
            "properties": {
              "TotalPages": {
                "type": "integer",
                "description": "Total number of pages available in the response.",
                "format": "int32",
                "example": 5
              },
              "FirstAvailableDateTime": {
                "type": "string",
                "description": "First available date and time for event subscriptions.",
                "example": "2023-01-01T00:00:00Z"
              },
              "LastAvailableDateTime": {
                "type": "string",
                "description": "Last available date and time for event subscriptions.",
                "example": "2023-01-31T23:59:59Z"
              }
            },
            "description": "Metadata about the response.",
            "example": {
              "TotalPages": 1,
              "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
              "LastAvailableDateTime": "2026-09-15T14:30:00Z"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "abc123"
              },
              "correlationId": {
                "type": "string",
                "description": "Correlation identifier for tracing requests.",
                "example": "def456"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp for when the response was generated.",
                "example": "2023-01-01T12:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the response was processed.",
                "example": "us-west-1"
              }
            },
            "description": "Additional metadata about the response.",
            "example": {
              "responseId": "b854d0f2-cb27-5e4c-84c8-3a8ec51bd174",
              "correlationId": "a794f144-f9c6-5ec7-8ae3-feed382c089d",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for retrieving event subscriptions.",
        "example": {
          "Data": {
            "EventSubscription": [
              {
                "id": "STANDARD",
                "CallbackUrl": "https://banking.northstar.example/callbacks/status",
                "Version": "STANDARD",
                "EventTypes": [
                  "STANDARD"
                ]
              }
            ]
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource",
            "Next": "https://example.com/resource",
            "Last": "https://example.com/resource"
          },
          "Meta": {
            "TotalPages": 1,
            "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
            "LastAvailableDateTime": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "responseId": "b854d0f2-cb27-5e4c-84c8-3a8ec51bd174",
            "correlationId": "a794f144-f9c6-5ec7-8ae3-feed382c089d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EventSubscription": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the event subscription.",
            "example": "12345"
          },
          "CallbackUrl": {
            "type": "string",
            "description": "URL to which event notifications are sent.",
            "example": "http://my-service.com/callback"
          },
          "Version": {
            "type": "string",
            "description": "Version of the event subscription.",
            "example": "1.0"
          },
          "EventTypes": {
            "type": "array",
            "description": "List of event types that are subscribed to.",
            "items": {
              "type": "string",
              "description": "Type of event.",
              "example": "ACCOUNT_CREATED"
            }
          }
        },
        "description": "Represents an event subscription."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "events-api-get-event-subscriptions"
        },
        "example": "events-api-get-event-subscriptions"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method. Clients must send a token (in the form of a JWT - JSON Web Token) in the Authorization header of their requests. This token must be issued by a trusted authority.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}