{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Reference Implementation Open Banking Personal Current Accounts-v5-spec",
    "description": "MICROSERVICE-PROD-List Reference Implementation Open Banking Personal Current Accounts-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/reference-implementation/open-banking/personal-current-accounts": {
      "get": {
        "operationId": "listReferenceImplementationOpenBankingPersonalCurrentAccounts",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListReferenceImplementationOpenBankingPersonalCurrentAccountsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListReferenceImplementationOpenBankingPersonalCurrentAccountsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListReferenceImplementationOpenBankingPersonalCurrentAccountsRequest": {
        "type": "string",
        "example": "{}"
      },
      "ListReferenceImplementationOpenBankingPersonalCurrentAccountsResponse_200": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "LastUpdated": {
                "type": "string",
                "example": "string"
              },
              "TotalResults": {
                "type": "integer",
                "format": "int32",
                "example": 0
              },
              "Agreement": {
                "type": "string",
                "example": "string"
              },
              "License": {
                "type": "string",
                "example": "string"
              },
              "TermsOfUse": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "LastUpdated": "2026-09-15",
              "TotalResults": 1,
              "Agreement": "STANDARD",
              "License": "https://example.com/resource",
              "TermsOfUse": "https://example.com/resource"
            }
          },
          "data": {
            "type": "array",
            "example": [
              {
                "Organisation": {
                  "ParentOrganisation": {
                    "LEI": "STANDARD",
                    "BIC": "STANDARD",
                    "OrganisationName": {
                      "LegalName": "Olivia Bennett"
                    }
                  },
                  "Brand": {
                    "TrademarkIPOCode": "CODE-591",
                    "TrademarkID": "STANDARD"
                  }
                },
                "ProductType": "STANDARD",
                "ProductName": "Northstar Banking Service",
                "ProductSegment": [
                  "STANDARD"
                ],
                "InternationalPaymentsSupported": true,
                "ProductIdentifier": "PROD-570475",
                "CardWithdrawalLimit": "STANDARD",
                "ProductDescription": "STANDARD",
                "TsandCs": [
                  "STANDARD"
                ],
                "AccessChannels": [
                  "STANDARD"
                ],
                "CardType": [
                  "STANDARD"
                ],
                "Contactless": true,
                "MobileWallet": [
                  "STANDARD"
                ],
                "CardNotes": "STANDARD",
                "ChequeBookAvailable": true,
                "CreditScoringPartOfAccountOpening": true,
                "CreditScoringPartOfAccountOpeningIsAHardOrSoftCreditScore": [
                  "STANDARD"
                ],
                "CreditScoringPartOfAccountOpeningText": "STANDARD",
                "CreditScoringPartOfAccountOpeningIDVerificationIsAHardOrSoftCreditScore": [
                  "STANDARD"
                ],
                "CreditScoringPartOfAccountOpeningIDVerificationText": [
                  "STANDARD"
                ],
                "MaximumMonthlyCharge": "STANDARD",
                "ProductURL": [
                  "https://example.com/resource"
                ],
                "Currency": [
                  "USD"
                ],
                "OverdraftOffered": true,
                "Feature": [
                  {
                    "ExistingFeature": true
                  }
                ]
              }
            ],
            "items": {
              "type": "object",
              "properties": {
                "Organisation": {
                  "type": "object",
                  "properties": {
                    "ParentOrganisation": {
                      "type": "object",
                      "properties": {
                        "LEI": {
                          "type": "string",
                          "example": "string"
                        },
                        "BIC": {
                          "type": "string",
                          "example": "string"
                        },
                        "OrganisationName": {
                          "type": "object",
                          "properties": {
                            "LegalName": {
                              "type": "string",
                              "example": "string"
                            }
                          },
                          "example": "string"
                        }
                      },
                      "example": "string"
                    },
                    "Brand": {
                      "type": "object",
                      "properties": {
                        "TrademarkIPOCode": {
                          "type": "string",
                          "example": "string"
                        },
                        "TrademarkID": {
                          "type": "string",
                          "example": "string"
                        }
                      },
                      "example": "string"
                    }
                  },
                  "example": "string"
                },
                "ProductType": {
                  "type": "string",
                  "example": "string"
                },
                "ProductName": {
                  "type": "string",
                  "example": "string"
                },
                "ProductSegment": {
                  "type": "array",
                  "example": "string",
                  "items": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "InternationalPaymentsSupported": {
                  "type": "boolean",
                  "example": false
                },
                "ProductIdentifier": {
                  "type": "string",
                  "example": "string"
                },
                "CardWithdrawalLimit": {
                  "type": "string",
                  "example": "string"
                },
                "ProductDescription": {
                  "type": "string",
                  "example": "string"
                },
                "TsandCs": {
                  "type": "array",
                  "example": "string",
                  "items": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "AccessChannels": {
                  "type": "array",
                  "example": "string",
                  "items": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "CardType": {
                  "type": "array",
                  "example": "string",
                  "items": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "Contactless": {
                  "type": "boolean",
                  "example": false
                },
                "MobileWallet": {
                  "type": "array",
                  "example": "string",
                  "items": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "CardNotes": {
                  "type": "string",
                  "example": "string"
                },
                "ChequeBookAvailable": {
                  "type": "boolean",
                  "example": false
                },
                "CreditScoringPartOfAccountOpening": {
                  "type": "boolean",
                  "example": false
                },
                "CreditScoringPartOfAccountOpeningIsAHardOrSoftCreditScore": {
                  "type": "array",
                  "example": "string",
                  "items": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "CreditScoringPartOfAccountOpeningText": {
                  "type": "string",
                  "example": "string"
                },
                "CreditScoringPartOfAccountOpeningIDVerificationIsAHardOrSoftCreditScore": {
                  "type": "array",
                  "example": "string",
                  "items": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "CreditScoringPartOfAccountOpeningIDVerificationText": {
                  "type": "array",
                  "example": "string",
                  "items": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "MaximumMonthlyCharge": {
                  "type": "string",
                  "example": "string"
                },
                "ProductURL": {
                  "type": "array",
                  "example": "string",
                  "items": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "Currency": {
                  "type": "array",
                  "example": "string",
                  "items": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "OverdraftOffered": {
                  "type": "boolean",
                  "example": false
                },
                "Feature": {
                  "type": "array",
                  "example": "string",
                  "items": {
                    "type": "object",
                    "properties": {
                      "ExistingFeature": {
                        "type": "boolean",
                        "example": false
                      }
                    },
                    "example": "string"
                  }
                }
              },
              "example": "string"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "e7e39b54-a165-537d-960c-960373b7f611",
              "correlationId": "acb87a7b-064d-50be-a472-ff7c6c918920",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "meta": {
            "LastUpdated": "2026-09-15",
            "TotalResults": 1,
            "Agreement": "STANDARD",
            "License": "https://example.com/resource",
            "TermsOfUse": "https://example.com/resource"
          },
          "data": [
            {
              "Organisation": {
                "ParentOrganisation": {
                  "LEI": "STANDARD",
                  "BIC": "STANDARD",
                  "OrganisationName": {
                    "LegalName": "Olivia Bennett"
                  }
                },
                "Brand": {
                  "TrademarkIPOCode": "CODE-591",
                  "TrademarkID": "STANDARD"
                }
              },
              "ProductType": "STANDARD",
              "ProductName": "Northstar Banking Service",
              "ProductSegment": [
                "STANDARD"
              ],
              "InternationalPaymentsSupported": true,
              "ProductIdentifier": "PROD-570475",
              "CardWithdrawalLimit": "STANDARD",
              "ProductDescription": "STANDARD",
              "TsandCs": [
                "STANDARD"
              ],
              "AccessChannels": [
                "STANDARD"
              ],
              "CardType": [
                "STANDARD"
              ],
              "Contactless": true,
              "MobileWallet": [
                "STANDARD"
              ],
              "CardNotes": "STANDARD",
              "ChequeBookAvailable": true,
              "CreditScoringPartOfAccountOpening": true,
              "CreditScoringPartOfAccountOpeningIsAHardOrSoftCreditScore": [
                "STANDARD"
              ],
              "CreditScoringPartOfAccountOpeningText": "STANDARD",
              "CreditScoringPartOfAccountOpeningIDVerificationIsAHardOrSoftCreditScore": [
                "STANDARD"
              ],
              "CreditScoringPartOfAccountOpeningIDVerificationText": [
                "STANDARD"
              ],
              "MaximumMonthlyCharge": "STANDARD",
              "ProductURL": [
                "https://example.com/resource"
              ],
              "Currency": [
                "USD"
              ],
              "OverdraftOffered": true,
              "Feature": [
                {
                  "ExistingFeature": true
                }
              ]
            }
          ],
          "metadata": {
            "responseId": "e7e39b54-a165-537d-960c-960373b7f611",
            "correlationId": "acb87a7b-064d-50be-a472-ff7c6c918920",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-data-api-get-reference-implementation-open-banking-v13-personal-current-accounts"
        },
        "example": "open-data-api-get-reference-implementation-open-banking-v13-personal-current-accounts"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}