{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Branch Location Management API",
    "description": "The Branch Location Management API facilitates the update of branch location details within the banking channel. This endpoint allows users to modify existing branch information, ensuring accurate and current data management. It is primarily utilized by bank administrators and system integrators to keep branch records aligned with operational changes or compliance requirements. Typical use cases include updating branch addresses, operating hours, and contact information.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/branch-location-management/{param1}": {
      "patch": {
        "tags": [
          "Branch Location Management"
        ],
        "summary": "Update a specific branch location management resource.",
        "description": "This endpoint allows you to update information related to a specific branch location management resource identified by RES-100045. Utilize this operation to modify the attributes of the branch location as necessary to ensure the most accurate and up-to-date data.",
        "operationId": "updateBranchLocationManagementRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Updates the information related to a specific branch location within the channel. This includes modifications to location details, operational hours, and any relevant attributes governing the branch's functionality.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBranchLocationManagementRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully updated the resource.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateBranchLocationManagementRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateBranchLocationManagementRes100045Request": {
        "title": "PatchRequestBody",
        "type": "object",
        "properties": {
          "changes": {
            "description": "Changes to be applied in the patch operation.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user or system that requested the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for patch operations on branch location management.",
        "example": {
          "changes": {
            "channelId": "MOBILE-US",
            "regionCode": "US-EAST-1",
            "serviceWindow": {
              "opensAt": "STANDARD",
              "closesAt": "STANDARD"
            }
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "fcc17f89-938f-546c-a14c-b59f73285f64",
            "correlationId": "e6af5087-e09c-54f9-8f0a-432878c6f7f1",
            "idempotencyKey": "e6f02ca4-7a57-510a-aec9-670269940107",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-156767"
            }
          }
        }
      },
      "Changes": {
        "title": "Changes",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier of the channel.",
            "example": "string"
          },
          "regionCode": {
            "type": "string",
            "description": "The code representing the region associated with the branch.",
            "example": "string"
          },
          "serviceWindow": {
            "description": "The operational service window for the branch.",
            "$ref": "#/components/schemas/ServiceWindow"
          }
        },
        "description": "This schema details the specific changes related to the patch request."
      },
      "ServiceWindow": {
        "title": "ServiceWindow",
        "type": "object",
        "properties": {
          "opensAt": {
            "type": "string",
            "description": "The time at which the service window opens.",
            "example": "string"
          },
          "closesAt": {
            "type": "string",
            "description": "The time at which the service window closes.",
            "example": "string"
          }
        },
        "description": "Defines the opening and closing times of a service window."
      },
      "RequestContext": {
        "title": "RequestContext",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to track correlated requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure that identical requests have the same effect.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that initiated the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "string"
          },
          "channel": {
            "description": "Details related to the specific channel.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema contains details about the request context."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., online, offline).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used for the request.",
            "example": "string"
          }
        },
        "description": "Defines the channel details that are relevant to the request."
      },
      "UpdateBranchLocationManagementRes100045Response_200": {
        "title": "Branch Location Management Operation Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the API response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the branch location was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Represents the response received from the PATCH operation for branch location management.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "e84246e8-fe15-5640-aef8-5891c584e90e",
            "correlationId": "e6af5087-e09c-54f9-8f0a-432878c6f7f1",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier used to trace the request through various services.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Contains metadata information associated with the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that is being invoked. This ID helps track requests and responses across the service.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "branch-location-management-update-branch-location-management"
        },
        "example": "branch-location-management-update-branch-location-management"
      },
      "X-Runtime-App": {
        "description": "The name of the runtime application that is processing the request. This header can be useful for debugging and monitoring purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens. Clients must include a valid JSON Web Token (JWT) in the Authorization header when making requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}