{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List International Payment Payment Details-spec",
    "description": "The International Payment Details Retrieval API allows users to access detailed information about specific international payments. By utilizing this endpoint, financial institutions and developers can efficiently retrieve payment details, such as transaction amounts, recipients, and timestamps, connected to a given international payment. This functionality is essential for banking applications, compliance checks, and customer service inquiries. Typical consumers include banking software developers and financial analysts looking to integrate or analyze cross-border payment data.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/international-payments/{param1}/payment-details": {
      "get": {
        "tags": [
          "International Payment Processing"
        ],
        "summary": "Retrieve payment details for a specific international payment.",
        "description": "This endpoint allows developers to fetch detailed information about a particular international payment identified by its unique payment ID. It provides comprehensive data necessary for monitoring or processing the payment further.",
        "operationId": "listInternationalPaymentPaymentDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving payment details for the specified international payment. Ensure that all required fields are provided according to the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListInternationalPaymentPaymentDetailsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The payment details were successfully retrieved.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListInternationalPaymentPaymentDetailsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListInternationalPaymentPaymentDetailsRequest": {
        "type": "string",
        "description": "A string representation of the request body for fetching payment details in an international payments context.",
        "example": "{}"
      },
      "ListInternationalPaymentPaymentDetailsResponse_200": {
        "title": "Payment Details Response",
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "PaymentStatus": {
                "type": "array",
                "description": "List of payment statuses.",
                "items": {
                  "$ref": "#/components/schemas/PaymentStatus"
                }
              },
              "Links": {
                "type": "object",
                "properties": {
                  "Self": {
                    "type": "string",
                    "description": "Link to the current resource."
                  },
                  "First": {
                    "type": "string",
                    "description": "Link to the first page of results."
                  },
                  "Prev": {
                    "type": "string",
                    "description": "Link to the previous page of results."
                  },
                  "Next": {
                    "type": "string",
                    "description": "Link to the next page of results."
                  },
                  "Last": {
                    "type": "string",
                    "description": "Link to the last page of results."
                  }
                },
                "description": "Pagination and navigational links."
              },
              "Meta": {
                "type": "object",
                "properties": {
                  "TotalPages": {
                    "type": "integer",
                    "description": "Total number of available pages.",
                    "format": "int32"
                  },
                  "FirstAvailableDateTime": {
                    "type": "string",
                    "description": "Date and time of the first available payment."
                  },
                  "LastAvailableDateTime": {
                    "type": "string",
                    "description": "Date and time of the last available payment."
                  }
                },
                "description": "Metadata related to the query response."
              },
              "metadata": {
                "type": "object",
                "properties": {
                  "responseId": {
                    "type": "string",
                    "description": "Unique identifier for the response."
                  },
                  "correlationId": {
                    "type": "string",
                    "description": "Identifier to correlate requests and responses."
                  },
                  "generatedAt": {
                    "type": "string",
                    "description": "Timestamp when the response was generated."
                  },
                  "processingRegion": {
                    "type": "string",
                    "description": "Region where the processing occurred."
                  }
                },
                "description": "Additional metadata about the response."
              }
            },
            "description": "Container for payment information data.",
            "example": {
              "PaymentStatus": [
                {
                  "PaymentTransactionId": "TXN-269589",
                  "Status": "ACTIVE",
                  "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
                  "StatusDetail": {
                    "LocalInstrument": "STANDARD",
                    "Status": "ACTIVE",
                    "StatusReason": "VALIDATION_PASSED",
                    "StatusReasonDescription": "STANDARD"
                  }
                }
              ]
            }
          }
        },
        "description": "Schema representing the response for payment details query.",
        "example": {
          "Data": {
            "PaymentStatus": [
              {
                "PaymentTransactionId": "TXN-269589",
                "Status": "ACTIVE",
                "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
                "StatusDetail": {
                  "LocalInstrument": "STANDARD",
                  "Status": "ACTIVE",
                  "StatusReason": "VALIDATION_PASSED",
                  "StatusReasonDescription": "STANDARD"
                }
              }
            ]
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource",
            "Next": "https://example.com/resource",
            "Last": "https://example.com/resource"
          },
          "Meta": {
            "TotalPages": 1,
            "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
            "LastAvailableDateTime": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "responseId": "046cfdd2-bc92-56d2-bc37-8a1144f63aaa",
            "correlationId": "415fe15b-d33f-5d95-aa85-272fce44e4c5",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentStatus": {
        "title": "Payment Status Information",
        "type": "object",
        "properties": {
          "PaymentTransactionId": {
            "type": "string",
            "description": "Unique identifier for the payment transaction."
          },
          "Status": {
            "type": "string",
            "description": "Current status of the payment."
          },
          "StatusUpdateDateTime": {
            "type": "string",
            "description": "Date and time when the status was last updated."
          },
          "StatusDetail": {
            "type": "object",
            "properties": {
              "LocalInstrument": {
                "type": "string",
                "description": "The local payment instrument used."
              },
              "Status": {
                "type": "string",
                "description": "The detailed status of the payment."
              },
              "StatusReason": {
                "type": "string",
                "description": "Code indicating the reason for the current status."
              },
              "StatusReasonDescription": {
                "type": "string",
                "description": "Detailed explanation of the status reason."
              }
            },
            "description": "Detailed information regarding the status."
          }
        },
        "description": "Details about individual payment status."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-get-international-payment-details"
        },
        "example": "payment-initiation-openapi-get-international-payment-details"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme implements a bearer authentication mechanism using JSON Web Tokens (JWT). Clients should include a valid JWT in the Authorization header when making requests to secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}