{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Business Unit Financial Operations Management API",
    "description": "The Business Unit Financial Operations Management API facilitates the execution of operational actions within business units. This API allows organizations to perform essential financial tasks such as initiating financial processes, managing budget approvals, and overseeing resource allocations. It is designed for finance teams and operational managers who need to streamline their workflows and enhance financial governance. By leveraging this API, users can ensure their business units operate efficiently and aligned with their financial strategies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/business-control/business-unit-financial-operations/operational-actions": {
      "post": {
        "tags": [
          "Business Operations"
        ],
        "summary": "Create a new operational action for a business unit.",
        "description": "This endpoint allows you to create a new operational action associated with a specific business unit's financial operations, helping streamline operational management and improve efficiency.",
        "operationId": "createBusinessUnitOperationalActions",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate operational actions related to financial operations within a business unit. It contains the necessary data to define the operational actions to be performed.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBusinessUnitOperationalActionsRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted for processing and will be completed asynchronously.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBusinessUnitOperationalActionsResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateBusinessUnitOperationalActionsRequest": {
        "title": "Operations POST Request Body",
        "type": "object",
        "properties": {
          "actionType": {
            "type": "string",
            "description": "The type of action being requested.",
            "example": "STANDARD"
          },
          "priority": {
            "type": "string",
            "description": "The priority level of the action.",
            "example": "NORMAL"
          },
          "reason": {
            "type": "string",
            "description": "The reason for the action.",
            "example": "STANDARD"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user requesting the action.",
            "example": "STANDARD"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the action was requested.",
            "example": "2026-08-11T12:00:00Z"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for creating an operational action.",
        "example": {
          "actionType": "STANDARD",
          "priority": "NORMAL",
          "reason": "STANDARD",
          "requestedBy": "STANDARD",
          "requestedAt": "2026-08-11T12:00:00Z",
          "requestContext": {
            "requestId": "7327b4f7-6e1a-531e-989b-76374d86a7eb",
            "correlationId": "a95051f1-8759-581b-96b0-c34104ed7033",
            "idempotencyKey": "3ba88116-dd0f-5996-a371-9617aeeaa543",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-761208"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req_001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to trace the request across services.",
            "example": "corr_001"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotent requests.",
            "example": "idemp_001"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp for when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that generated the request.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "Application A"
          },
          "channel": {
            "description": "Details about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema provides contextual details for the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel_001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used for the request.",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device_001"
          }
        },
        "description": "This schema represents the channel details for a request."
      },
      "CreateBusinessUnitOperationalActionsResponse_202": {
        "title": "Operational Action Response",
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "A unique reference identifier for the action performed.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "The type of action that was processed.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the action.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "The timestamp when the action was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Details about the response metadata.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for an operational action POST request.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "73b52878-2805-59e0-bc7d-242dcef93f6a",
            "correlationId": "a95051f1-8759-581b-96b0-c34104ed7033",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "response-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate requests and responses.",
            "example": "correlation-67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Schema representing additional metadata information for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being called. This value helps in tracking the specific operation within the financial operations context.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "business-unit-financial-operations-create-business-unit-financial-operations-operational-action"
        },
        "example": "business-unit-financial-operations-create-business-unit-financial-operations-operational-action"
      },
      "X-Runtime-App": {
        "description": "The identifier for the application runtime context. This header provides insight into the application environment handling the request, which aids in debugging and tracing.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method, specifically designed to work with JSON Web Tokens (JWT). Clients must include a valid JWT in the Authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}