{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Open Banking Aisp Account Parties-v5-spec",
    "description": "MICROSERVICE-PROD-List Open Banking Aisp Account Parties-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/aisp/accounts/{accountId}/parties": {
      "get": {
        "operationId": "listOpenBankingAispAccountParties",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListOpenBankingAispAccountPartiesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOpenBankingAispAccountPartiesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListOpenBankingAispAccountPartiesRequest": {
        "type": "string",
        "example": "{}"
      },
      "ListOpenBankingAispAccountPartiesResponse_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "Party": {
                "type": "array",
                "example": "string",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "string"
                    },
                    "number": {
                      "type": "string",
                      "example": "string"
                    },
                    "type": {
                      "type": "string",
                      "example": "string"
                    },
                    "Name": {
                      "type": "string",
                      "example": "string"
                    },
                    "FullLegalName": {
                      "type": "string",
                      "example": "string"
                    },
                    "LegalStructure": {
                      "type": "string",
                      "example": "string"
                    },
                    "LEI": {
                      "type": "string",
                      "example": "string"
                    },
                    "BeneficialOwnership": {
                      "type": "boolean",
                      "example": false
                    },
                    "AccountRole": {
                      "type": "string",
                      "example": "string"
                    },
                    "EmailAddress": {
                      "type": "string",
                      "example": "string"
                    },
                    "Phone": {
                      "type": "string",
                      "example": "string"
                    },
                    "Mobile": {
                      "type": "string",
                      "example": "string"
                    },
                    "Relationships": {
                      "type": "object",
                      "properties": {
                        "Account": {
                          "type": "object",
                          "properties": {
                            "Related": {
                              "type": "string",
                              "example": "string"
                            },
                            "Id": {
                              "type": "string",
                              "example": "string"
                            }
                          },
                          "example": "string"
                        }
                      },
                      "example": "string"
                    },
                    "Address": {
                      "type": "array",
                      "example": "string",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "example": "string"
                          },
                          "Department": {
                            "type": "string",
                            "example": "string"
                          },
                          "SubDepartment": {
                            "type": "string",
                            "example": "string"
                          },
                          "StreetName": {
                            "type": "string",
                            "example": "string"
                          },
                          "BuildingNumber": {
                            "type": "string",
                            "example": "string"
                          },
                          "BuildingName": {
                            "type": "string",
                            "example": "string"
                          },
                          "Floor": {
                            "type": "string",
                            "example": "string"
                          },
                          "UnitNumber": {
                            "type": "string",
                            "example": "string"
                          },
                          "Room": {
                            "type": "string",
                            "example": "string"
                          },
                          "PostBox": {
                            "type": "string",
                            "example": "string"
                          },
                          "TownLocationName": {
                            "type": "string",
                            "example": "string"
                          },
                          "DistrictName": {
                            "type": "string",
                            "example": "string"
                          },
                          "CareOf": {
                            "type": "string",
                            "example": "string"
                          },
                          "PostCode": {
                            "type": "string",
                            "example": "string"
                          },
                          "TownName": {
                            "type": "string",
                            "example": "string"
                          },
                          "CountrySubDivision": {
                            "type": "string",
                            "example": "string"
                          },
                          "Country": {
                            "type": "string",
                            "example": "string"
                          },
                          "line": {
                            "type": "array",
                            "example": "string",
                            "items": {
                              "type": "string",
                              "example": "string"
                            }
                          }
                        },
                        "example": "string"
                      }
                    }
                  },
                  "example": "string"
                }
              }
            },
            "example": {
              "Party": [
                {
                  "id": "STANDARD",
                  "number": "STANDARD",
                  "type": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "FullLegalName": "Northstar Banking Service",
                  "LegalStructure": "STANDARD",
                  "LEI": "STANDARD",
                  "BeneficialOwnership": true,
                  "AccountRole": "DEBIT",
                  "EmailAddress": "olivia.bennett@northstar.example",
                  "Phone": "+1-212-555-0147",
                  "Mobile": "STANDARD",
                  "Relationships": {
                    "Account": {
                      "Related": "https://example.com/resource",
                      "Id": "STANDARD"
                    }
                  },
                  "Address": [
                    {
                      "type": "STANDARD",
                      "Department": "STANDARD",
                      "SubDepartment": "STANDARD",
                      "StreetName": "Northstar Banking Service",
                      "BuildingNumber": "STANDARD",
                      "BuildingName": "Northstar Banking Service",
                      "Floor": "STANDARD",
                      "UnitNumber": "STANDARD",
                      "Room": "STANDARD",
                      "PostBox": "STANDARD",
                      "TownLocationName": "Northstar Banking Service",
                      "DistrictName": "Northstar Banking Service",
                      "CareOf": "STANDARD",
                      "PostCode": "CODE-981",
                      "TownName": "Northstar Banking Service",
                      "CountrySubDivision": "STANDARD",
                      "Country": "STANDARD",
                      "line": [
                        "STANDARD"
                      ]
                    }
                  ]
                }
              ]
            }
          },
          "Links": {
            "type": "object",
            "properties": {
              "Self": {
                "type": "string",
                "example": "string"
              },
              "First": {
                "type": "string",
                "example": "string"
              },
              "Prev": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "Self": "https://example.com/resource",
              "First": "https://example.com/resource",
              "Prev": "https://example.com/resource"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "85a20e28-4c3d-5b95-869e-98c94084bbcd",
              "correlationId": "0ac331a3-90ad-5711-a5d4-718e9ff9c894",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "Data": {
            "Party": [
              {
                "id": "STANDARD",
                "number": "STANDARD",
                "type": "STANDARD",
                "Name": "Northstar Banking Service",
                "FullLegalName": "Northstar Banking Service",
                "LegalStructure": "STANDARD",
                "LEI": "STANDARD",
                "BeneficialOwnership": true,
                "AccountRole": "DEBIT",
                "EmailAddress": "olivia.bennett@northstar.example",
                "Phone": "+1-212-555-0147",
                "Mobile": "STANDARD",
                "Relationships": {
                  "Account": {
                    "Related": "https://example.com/resource",
                    "Id": "STANDARD"
                  }
                },
                "Address": [
                  {
                    "type": "STANDARD",
                    "Department": "STANDARD",
                    "SubDepartment": "STANDARD",
                    "StreetName": "Northstar Banking Service",
                    "BuildingNumber": "STANDARD",
                    "BuildingName": "Northstar Banking Service",
                    "Floor": "STANDARD",
                    "UnitNumber": "STANDARD",
                    "Room": "STANDARD",
                    "PostBox": "STANDARD",
                    "TownLocationName": "Northstar Banking Service",
                    "DistrictName": "Northstar Banking Service",
                    "CareOf": "STANDARD",
                    "PostCode": "CODE-981",
                    "TownName": "Northstar Banking Service",
                    "CountrySubDivision": "STANDARD",
                    "Country": "STANDARD",
                    "line": [
                      "STANDARD"
                    ]
                  }
                ]
              }
            ]
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource"
          },
          "metadata": {
            "responseId": "85a20e28-4c3d-5b95-869e-98c94084bbcd",
            "correlationId": "0ac331a3-90ad-5711-a5d4-718e9ff9c894",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-api-get-accounts-account-id-parties"
        },
        "example": "accounts-api-get-accounts-account-id-parties"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}