{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Position Inquiry API",
    "description": "The Customer Position Inquiry API allows users to access detailed information regarding a specific customer's financial position within the banking system. It provides insights into account balances, transaction history, and other relevant data needed for effective account management. This API is primarily targeted at financial analysts and customer service representatives who require real-time access to customer account details. By leveraging this endpoint, organizations can enhance customer engagement and support informed decision-making.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/account-management/customer-position/{param1}": {
      "get": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Retrieve customer position details.",
        "description": "Fetches the details of the specified customer position using the unique customer identifier. This allows clients to view relevant information regarding the position held by the customer in the system.",
        "operationId": "getCustomerPositionCUST100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Provides the necessary parameters to retrieve the customer position details for the specified customer ID (CUST-100045). This request should include relevant fields to ensure accurate retrieval of the customer's position data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCustomerPositionCUST100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning customer position data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCustomerPositionCUST100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCustomerPositionCUST100045Request": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on customer position CUST-100045 in the account management system.",
        "example": "{}"
      },
      "GetCustomerPositionCUST100045Response_200": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "ACC-564880"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-558342"
          },
          "ledgerDate": {
            "type": "string",
            "description": "Date of the ledger record.",
            "example": "2026-09-15"
          },
          "currency": {
            "type": "string",
            "description": "Currency code of the ledger balance.",
            "example": "USD"
          },
          "ledgerBalance": {
            "type": "number",
            "description": "The balance amount in the ledger.",
            "example": 100.0
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Date and time when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving customer position details.",
        "example": {
          "accountId": "ACC-564880",
          "customerId": "CUST-558342",
          "ledgerDate": "2026-09-15",
          "currency": "USD",
          "ledgerBalance": 100.0,
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "15739719-4242-5f2a-8262-dc3439326e7a",
            "correlationId": "3a798c09-9b56-5b5c-bf26-21656199d3be",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate related requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata information providing additional context for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the specific endpoint being accessed. This helps in tracking and managing requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-position-get-customer-position"
        },
        "example": "customer-position-get-customer-position"
      },
      "X-Runtime-App": {
        "description": "Indicates the name of the runtime application where the request was processed. Useful for debugging and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method. A valid JSON Web Token (JWT) must be included in the Authorization header as a means of authenticating requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}