{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Update Loan Details API",
    "description": "The Update Loan Details API allows financial institutions to modify existing loan information for customers, ensuring that all data is up-to-date and accurate. This endpoint supports operations such as adjusting loan terms, interest rates, or payment schedules based on customer requests or policy updates. Typical consumers include loan officers, customer service representatives, or any financial applications needing to maintain current loan records. By utilizing this API, businesses can enhance customer experience through timely updates and adjustments to loan agreements.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/loan/{loanId}": {
      "patch": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Update loan details for a specific loan.",
        "description": "This endpoint allows you to update the relevant details of a specific loan identified by its ID. Use this operation to adjust parameters like repayments, interest rates, or other attributes associated with the loan.",
        "operationId": "updateLoanDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/loanId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the details of loan LOAN-500045 through a PATCH request. It allows for partial updates to the loan's data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLoanDetailsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The loan details were updated successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateLoanDetailsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateLoanDetailsRequest": {
        "title": "Loan Operations Patch Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "description": "Contains the details of the changes to be made to the loan.",
            "$ref": "#/components/schemas/LoanChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "Reason for the change.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "Date and time when the change becomes effective.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the user who requested the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for patching loan operations.",
        "example": {
          "changes": {
            "customerId": "CUST-774994",
            "accountId": "ACC-948757",
            "productCode": "CHK-PREMIUM-US"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "4699e28d-1fa8-5dce-aa1b-de03e61f1d16",
            "correlationId": "b1d4dae8-da71-5e55-91ff-99e0bf7d9db3",
            "idempotencyKey": "7857949f-5e36-5eed-82be-d9e911d592db",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-369240"
            }
          }
        }
      },
      "LoanChanges": {
        "title": "Loan Changes",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Identifier for the customer.",
            "example": "customer123"
          },
          "accountId": {
            "type": "string",
            "description": "Identifier for the account associated with the loan.",
            "example": "account456"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product related to the loan.",
            "example": "LOAN_PROD"
          }
        },
        "description": "Schema representing the changes to a loan."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests.",
            "example": "corr123"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the request is processed only once.",
            "example": "idempotent-key-xyz"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T00:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name of the system from which the request originates.",
            "example": "LoanManagementSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application from which the request originates.",
            "example": "LoanApp"
          },
          "channel": {
            "description": "Information related to the channel from which the request was initiated.",
            "$ref": "#/components/schemas/RequestChannel"
          }
        },
        "description": "Schema containing contextual information for the request."
      },
      "RequestChannel": {
        "title": "Request Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel789"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel through which the request is made (e.g., online, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device123"
          }
        },
        "description": "Schema representing channel information for the request."
      },
      "UpdateLoanDetailsResponse_200": {
        "title": "Loan Update Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the loan update.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the loan update operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the loan was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the loan update operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the loan update operation. Contains details about the version, status, update timestamp, and metadata related to the operation.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "9a94f4c1-325e-5d14-8af4-6952d27ed849",
            "correlationId": "b1d4dae8-da71-5e55-91ff-99e0bf7d9db3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata schema containing identifiers and timestamps related to the processing of the loan update."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "loanId": {
        "name": "loanId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request, allowing tracking and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "loan-update-loan"
        },
        "example": "loan-update-loan"
      },
      "X-Runtime-App": {
        "description": "Identifies the application instance responsible for handling the request, useful for performance monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that utilizes a JSON Web Token (JWT) as the bearer token. Clients should include the token in the Authorization header when making requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}