{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Term Deposit Information API",
    "description": "The Term Deposit Information API provides users with the ability to access detailed information about term deposit offerings available through the banking service. This endpoint supports the retrieval of various term deposit products, including interest rates, terms, and conditions. It is primarily designed for financial institutions, banking analysts, and developers creating financial applications that need to present term deposit data to their users. By leveraging this API, consumers can make informed decisions regarding their savings and investment options.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/term-deposit": {
      "get": {
        "tags": [
          "Deposit Lending"
        ],
        "summary": "Retrieve term deposit information",
        "description": "This endpoint allows users to retrieve detailed information about term deposits available in the lending system. It provides access to the applicable terms, interest rates, and other relevant details.",
        "operationId": "getTermDeposit",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information about term deposits. It must contain the necessary parameters in the JSON format adhering to the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetTermDepositRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the term deposit information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTermDepositResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetTermDepositRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to term deposits in the deposit lending module.",
        "example": "{}"
      },
      "GetTermDepositResponse_200": {
        "title": "Term Deposit Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of term deposit items.",
            "example": [
              {
                "customerId": "CUST-260323",
                "accountId": "ACC-932004",
                "productCode": "CHK-PREMIUM-US",
                "principal": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "termMonths": 1,
                "repaymentFrequency": "STANDARD",
                "depositAmount": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "tenorDays": 1,
                "maturityInstruction": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/TermDepositItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting criteria applied to the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "A schema representing the response structure for the Term Deposit operation.",
        "example": {
          "items": [
            {
              "customerId": "CUST-260323",
              "accountId": "ACC-932004",
              "productCode": "CHK-PREMIUM-US",
              "principal": {
                "amount": 100.0,
                "currency": "USD"
              },
              "termMonths": 1,
              "repaymentFrequency": "STANDARD",
              "depositAmount": {
                "amount": 100.0,
                "currency": "USD"
              },
              "tenorDays": 1,
              "maturityInstruction": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "080a2d4b-ccd7-59d2-991a-77533fe5b1e2",
            "correlationId": "6b506935-ed04-568b-86fe-bd13e21f96dc",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "TermDepositItem": {
        "title": "Term Deposit Item",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "cust-001"
          },
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account.",
            "example": "acc-001"
          },
          "productCode": {
            "type": "string",
            "description": "The code of the product associated with the term deposit.",
            "example": "TD2023"
          },
          "principal": {
            "$ref": "#/components/schemas/Amount"
          },
          "termMonths": {
            "type": "integer",
            "description": "The term of the deposit in months.",
            "format": "int32",
            "example": 12
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "The frequency at which repayments are made.",
            "example": "monthly"
          },
          "depositAmount": {
            "$ref": "#/components/schemas/Amount"
          },
          "tenorDays": {
            "type": "integer",
            "description": "The tenor of the deposit in days.",
            "format": "int32",
            "example": 30
          },
          "maturityInstruction": {
            "type": "string",
            "description": "The instructions for maturity of the deposit.",
            "example": "auto-renew"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the record was last updated.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "Represents an individual term deposit item."
      },
      "Amount": {
        "title": "Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The monetary amount.",
            "example": 1000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency code (ISO 4217 format).",
            "example": "USD"
          }
        },
        "description": "Represents an amount in a specific currency."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Contains pagination information for the response."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "resp-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier for tracking the request and response correlation.",
            "example": "corr-56789"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Contains additional metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "term-deposit-search-term-deposit"
        },
        "example": "term-deposit-search-term-deposit"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses HTTP Bearer authentication using JWT (JSON Web Tokens). Clients can authenticate by including a valid token in the Authorization header. Ensure that the token is securely handled and not exposed in client-side code.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}