{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Channel Specific Advanced Voice Services Managements-spec",
    "description": "The Channel-Specific Advanced Voice Services Management API allows businesses to access and manage advanced voice services tailored for specific channels. This functionality provides users with the ability to list and scrutinize various voice service configurations and their effectiveness across different communication channels. Typical consumers of this API include product managers, system integrators, and application developers looking to optimize voice service delivery. By leveraging this API, businesses can enhance user experience and operational efficiency in their voice-based communication strategies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/advanced-voice-services-management": {
      "get": {
        "tags": [],
        "summary": "Retrieve advanced voice services for a specific channel.",
        "description": "This endpoint allows you to access detailed information about advanced voice services available for a specified channel. It provides insights into the features, configurations, and operational status of the voice services.",
        "operationId": "listChannelSpecificAdvancedVoiceServicesManagements",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body containing parameters necessary for retrieving advanced voice services management data specific to a channel. The body should conform to the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListChannelSpecificAdvancedVoiceServicesManagementsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved advanced voice services management data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListChannelSpecificAdvancedVoiceServicesManagementsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListChannelSpecificAdvancedVoiceServicesManagementsRequest": {
        "type": "string",
        "description": "This schema represents the request body format for advanced voice services management operations in the channel-specific context.",
        "example": "{}"
      },
      "ListChannelSpecificAdvancedVoiceServicesManagementsResponse_200": {
        "title": "Advanced Voice Services Management Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of voice service items.",
            "example": [
              {
                "voicePlatformId": "STANDARD",
                "ivrFlowId": "STANDARD",
                "supportedLanguages": [
                  "STANDARD"
                ],
                "concurrentCallCapacity": 1,
                "regionCode": "US-EAST-1",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/VoiceServiceItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting information for the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for advanced voice services management operations.",
        "example": {
          "items": [
            {
              "voicePlatformId": "STANDARD",
              "ivrFlowId": "STANDARD",
              "supportedLanguages": [
                "STANDARD"
              ],
              "concurrentCallCapacity": 1,
              "regionCode": "US-EAST-1",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "6e696f61-bcba-5f6c-8906-ed5357452b1a",
            "correlationId": "2bae8322-e989-5b67-89ec-8bf3d1c24864",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "VoiceServiceItem": {
        "title": "Voice Service Item",
        "type": "object",
        "properties": {
          "voicePlatformId": {
            "type": "string",
            "description": "Unique identifier for the voice platform.",
            "example": "string"
          },
          "ivrFlowId": {
            "type": "string",
            "description": "Unique identifier for the IVR flow associated with the voice service.",
            "example": "string"
          },
          "supportedLanguages": {
            "type": "array",
            "description": "List of languages supported by the voice service.",
            "items": {
              "type": "string",
              "example": "English"
            }
          },
          "concurrentCallCapacity": {
            "type": "integer",
            "description": "Maximum number of concurrent calls that can be handled.",
            "format": "int32",
            "example": 0
          },
          "regionCode": {
            "type": "string",
            "description": "Code representing the region for the voice service.",
            "example": "US"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current recording status of the voice service.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the voice service item.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "Schema representing an individual voice service item."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the pagination.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Schema representing pagination information for the response."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for the request that this response correlates with.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "US-West"
          }
        },
        "description": "Schema representing additional metadata for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "advanced-voice-services-management-search-advanced-voice-services-management"
        },
        "example": "advanced-voice-services-management-search-advanced-voice-services-management"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer Authentication method. Clients must include a valid JSON Web Token (JWT) in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}