{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Compliance Reporting Amendments API",
    "description": "The Compliance Reporting Amendments API enables users to submit amendments to existing compliance reports by referencing a specific submission ID. This API is designed for financial institutions and compliance teams responsible for maintaining accurate compliance records. By using this endpoint, users can ensure that any necessary adjustments to prior submissions are recorded efficiently. Typical consumers of this API include compliance officers and regulatory reporting specialists within banks or financial service providers.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/compliance/compliance-reporting/submissions/{submissionId}/amendments": {
      "post": {
        "tags": [
          "Compliance Reporting"
        ],
        "summary": "Create an amendment for the compliance submission.",
        "description": "This endpoint allows users to create an amendment for a specific compliance submission identified by its unique resource ID. It ensures that any modifications made are tracked and recorded properly in the compliance reporting system.",
        "operationId": "createComplianceAmendmentForSubmissionRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/submissionId"
          }
        ],
        "requestBody": {
          "description": "A request to amend the compliance report submission identified by RES-100045. This operation allows the user to update specific fields of the submission as needed.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateComplianceAmendmentForSubmissionRes100045Request"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted and is being processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateComplianceAmendmentForSubmissionRes100045Response_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateComplianceAmendmentForSubmissionRes100045Request": {
        "title": "Compliance Reporting Amendment Request Body",
        "type": "object",
        "properties": {
          "amendmentReason": {
            "type": "string",
            "description": "The reason for the amendment being requested.",
            "example": "STANDARD"
          },
          "submissionReference": {
            "type": "string",
            "description": "A unique reference identifier for the submission that is being amended.",
            "example": "STANDARD"
          },
          "changes": {
            "description": "Details of the changes being requested in the amendment.",
            "$ref": "#/components/schemas/AmendmentChanges"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identity of the person or system requesting the amendment.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body structure for submitting an amendment request in the compliance reporting system.",
        "example": {
          "amendmentReason": "STANDARD",
          "submissionReference": "STANDARD",
          "changes": {
            "submissionId": "STANDARD",
            "legalEntityId": "STANDARD",
            "jurisdiction": "STANDARD"
          },
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "ba9862b0-37be-5d4e-9869-8c5a0dd2ecb5",
            "correlationId": "040f3b50-144e-5d8b-b96a-296f25a58f67",
            "idempotencyKey": "66934684-5cd8-5137-8a5c-0947976022cd",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-801924"
            }
          }
        }
      },
      "AmendmentChanges": {
        "title": "Amendment Changes",
        "type": "object",
        "properties": {
          "submissionId": {
            "type": "string",
            "description": "The unique identifier of the submission that is being modified.",
            "example": "SUB-100045"
          },
          "legalEntityId": {
            "type": "string",
            "description": "The identifier for the legal entity involved in the submission.",
            "example": "ENTITY-54321"
          },
          "jurisdiction": {
            "type": "string",
            "description": "The jurisdiction under which the submission falls.",
            "example": "California"
          }
        },
        "description": "This schema represents the details of the changes included in an amendment request."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "REQUEST-67890"
          },
          "correlationId": {
            "type": "string",
            "description": "A correlation identifier to track the request across systems.",
            "example": "CORRELATE-111213"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure idempotence of the request.",
            "example": "IDEMPOTENCY-KEY-ABC123"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp indicating when the request was made.",
            "example": "2023-10-01T12:34:56Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that initiated the request.",
            "example": "Compliance System A"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "Compliance App"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/RequestChannel"
          }
        },
        "description": "This schema represents the contextual information related to a request."
      },
      "RequestChannel": {
        "title": "Request Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel used for the request.",
            "example": "CHANNEL-XYZ"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel through which the request was sent.",
            "example": "WEB"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used to make the request.",
            "example": "DEVICE-001122"
          }
        },
        "description": "This schema represents the channel information related to a request."
      },
      "CreateComplianceAmendmentForSubmissionRes100045Response_202": {
        "title": "Compliance Reporting Submission Amendment Response",
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "Reference identifier for the action taken.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "Type of action performed.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the processing action.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "Timestamp when the action was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the processing response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response object for the compliance reporting submission amendment operation. This schema outlines the structure of the response received after processing a compliance reporting submission amendment request.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "6dcc492d-5d49-543d-81d7-4729fd848215",
            "correlationId": "040f3b50-144e-5d8b-b96a-296f25a58f67",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata for Compliance Reporting Submission",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response generated.",
            "example": "response-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple actions or submissions.",
            "example": "correlation-456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2023-10-01T12:00:01Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata object containing additional information related to the compliance reporting submission operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "submissionId": {
        "name": "submissionId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request, useful for tracing and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "compliance-reporting-amend-compliance-reporting"
        },
        "example": "compliance-reporting-amend-compliance-reporting"
      },
      "X-Runtime-App": {
        "description": "The name of the application runtime environment that handled the request, aiding in identifying where the processing occurred.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method utilizing a bearer token in the format of JSON Web Token (JWT). Clients must include this token in the Authorization header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}