{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Investment Management By Param1-spec",
    "description": "The Investment Management Retrieval API enables users to access detailed information about investment accounts based on specific parameters. This API supports financial institutions, advisors, and investors seeking to view account details and performance metrics. By utilizing the provided unique identifier, users can retrieve relevant investment management data quickly and efficiently. The endpoint is designed to facilitate informed decision-making and enhance user engagement with investment products.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/investment-management/investment-account/{param1}": {
      "get": {
        "tags": [
          "Investment Management"
        ],
        "summary": "Retrieve details of a specific investment account.",
        "description": "Fetches comprehensive information about a specified investment account, including its balance, transactions, and other relevant attributes. This information is essential for users to understand their investments better.",
        "operationId": "getInvestmentManagementByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve details about a specific investment account identified by ACC-200045. It enables the client to specify the parameters necessary to fetch the relevant account information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetInvestmentManagementByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the investment account details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetInvestmentManagementByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetInvestmentManagementByParam1Request": {
        "title": "Investment Account Operations Request",
        "type": "string",
        "description": "This schema represents the request body for operations related to a specific investment account.",
        "example": "{}"
      },
      "GetInvestmentManagementByParam1Response_200": {
        "title": "Investment Account Response",
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "The unique identifier for the portfolio associated with the investment account.",
            "example": "PORT-600543"
          },
          "investmentAccountId": {
            "type": "string",
            "description": "The unique identifier for the investment account.",
            "example": "ACC-142739"
          },
          "investmentObjective": {
            "type": "string",
            "description": "The intended investment objective for the account, such as 'growth' or 'income'.",
            "example": "STANDARD"
          },
          "riskProfile": {
            "type": "string",
            "description": "The risk profile of the investment account, indicating the level of risk tolerance.",
            "example": "STANDARD"
          },
          "baseCurrency": {
            "type": "string",
            "description": "The currency in which the investment account is denominated.",
            "example": "USD"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the investment account record, representing its state.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the investment account information.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the investment account information was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "A unique identifier for the response, allowing tracking of the request.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "An identifier used to correlate requests and responses across systems.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "The timestamp when the response was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region where the request was processed.",
                "example": "string"
              }
            },
            "description": "Additional metadata related to the investment account retrieval response.",
            "example": {
              "responseId": "07ea2b3a-9d78-5e3d-b4db-a7e2c26ccb50",
              "correlationId": "203fb472-bfb2-58c1-bd51-7000cc4ca0db",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Represents the response for an investment account retrieval operation, containing details about the account's portfolio, objectives, and metadata.",
        "example": {
          "portfolioId": "PORT-600543",
          "investmentAccountId": "ACC-142739",
          "investmentObjective": "STANDARD",
          "riskProfile": "STANDARD",
          "baseCurrency": "USD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "07ea2b3a-9d78-5e3d-b4db-a7e2c26ccb50",
            "correlationId": "203fb472-bfb2-58c1-bd51-7000cc4ca0db",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "investment-account-get-investment-account"
        },
        "example": "investment-account-get-investment-account"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication mechanism. Clients must include a valid JSON Web Token (JWT) in the Authorization header when making requests to authenticate themselves.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}