{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Cross Channel Customer Workbenchs-spec",
    "description": "The Cross Channel Customer Workbench Retrieval API enables businesses to access and view comprehensive customer workbench data across multiple channels. This endpoint supports retrieval of information that helps organizations analyze customer interactions and preferences holistically. Typical consumers include customer service teams and analytics platforms that require insights for enhancing customer engagement strategies. By leveraging this API, organizations can improve customer experience by making informed decisions based on aggregated data from various touchpoints.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cross-channel/customer-workbench": {
      "get": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Retrieve customer workbench data",
        "description": "This operation allows you to fetch detailed information related to the customer workbench, which includes insights and analytics across various channels. Use this endpoint to gain a comprehensive view of customer interactions and status within the workbench.",
        "operationId": "listCrossChannelCustomerWorkbenchs",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for the GET operation on the customer workbench in the cross-channel context. This body is expected to contain the necessary parameters required for the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListCrossChannelCustomerWorkbenchsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved customer workbench data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCrossChannelCustomerWorkbenchsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListCrossChannelCustomerWorkbenchsRequest": {
        "type": "string",
        "description": "The request body for the GET operation on the customer workbench, formatted as a JSON string.",
        "example": "{}"
      },
      "ListCrossChannelCustomerWorkbenchsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of customer interaction records.",
            "example": [
              {
                "partyId": "PARTY-712211",
                "interactionId": "INT-697663",
                "channel": "STANDARD",
                "authenticationLevel": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CustomerInteraction"
            }
          },
          "pagination": {
            "description": "Pagination details for the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting criteria applied to the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Additional metadata regarding the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the GET operation in the cross-channel customer workbench API. This schema contains a collection of customer interaction items, pagination details, sorting information, and metadata.",
        "example": {
          "items": [
            {
              "partyId": "PARTY-712211",
              "interactionId": "INT-697663",
              "channel": "STANDARD",
              "authenticationLevel": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "7a50c26f-b03f-54da-85a6-92e570b7be1f",
            "correlationId": "93b39d8a-7d91-54e1-96f6-0561467f7cda",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CustomerInteraction": {
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "The identifier for the party involved in the interaction.",
            "example": "string"
          },
          "interactionId": {
            "type": "string",
            "description": "The unique identifier for the interaction.",
            "example": "string"
          },
          "channel": {
            "type": "string",
            "description": "The channel through which the interaction occurred.",
            "example": "string"
          },
          "authenticationLevel": {
            "type": "string",
            "description": "The level of authentication used during the interaction.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the interaction record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the interaction record was last updated.",
            "example": "string"
          }
        },
        "description": "Represents a single customer interaction record."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items on each page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Object providing pagination information for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographic region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata information related to the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-workbench-search-customer-workbench"
        },
        "example": "customer-workbench-search-customer-workbench"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This authentication method uses a Bearer token, typically a JSON Web Token (JWT), which is included in the HTTP Authorization header to authenticate requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}