{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Party By Param1-spec",
    "description": "The Party Lookup API enables users to retrieve detailed information about specific parties using unique identifiers. This endpoint allows clients to access essential party data, including contact details and routing profiles, by providing a designated parameter. Typical consumers include banking applications and customer relationship management systems that require quick access to party data for account management or transaction processing. With efficient querying capabilities, this API enhances user experience by streamlining data access.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/party/party-routing-profile/{param1}": {
      "get": {
        "tags": [
          "Party Management"
        ],
        "summary": "Retrieve a specific party routing profile.",
        "description": "Fetches the details of a party routing profile identified by the given ID. This endpoint returns the necessary information related to the party's routing profile for further processing or display.",
        "operationId": "getPartyByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving the routing profile of a specific party. This body structure is essential for the operation to fetch relevant information about the party's routing profile based on the provided identifier. Ensure that the request conforms to the defined schema for successful processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPartyByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the party routing profile.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPartyByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPartyByParam1Request": {
        "title": "Party Routing Profile Request Body",
        "type": "string",
        "description": "This schema represents the request body for the Party Routing Profile operation.",
        "example": "{}"
      },
      "GetPartyByParam1Response_200": {
        "title": "Party Response",
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "Unique identifier for the party.",
            "example": "PARTY-115850"
          },
          "legalName": {
            "type": "string",
            "description": "Legal name of the party.",
            "example": "Olivia Bennett"
          },
          "legalEntityIdentifier": {
            "type": "string",
            "description": "Identifier assigned to the legal entity.",
            "example": "STANDARD"
          },
          "countryCode": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2 country code of the party.",
            "example": "US"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the party record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating the last update of the record.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional information regarding the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Representation of a party's details including identification and status information.",
        "example": {
          "partyId": "PARTY-115850",
          "legalName": "Olivia Bennett",
          "legalEntityIdentifier": "STANDARD",
          "countryCode": "US",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "8478ae90-5a4d-527c-b9e4-0f8a0382e3b2",
            "correlationId": "b5928387-0804-5c9f-b8b8-0c035a74417f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to track the request across components.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Metadata information associated with the party response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "party-routing-profile-get-party-routing-profile"
        },
        "example": "party-routing-profile-get-party-routing-profile"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes a 'Bearer' token for authentication. The token should be a JSON Web Token (JWT) that provides access control for the API. Clients must include this token in the 'Authorization' header when making requests to protected endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}