{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Channel Specific Card Terminal Operations-spec",
    "description": "The Channel-Specific Card Terminal Operations API provides access to a curated list of operations associated with card terminals specific to various banking channels. It facilitates clients in retrieving detailed information on operational capabilities that can enhance their payment processing strategies. This API is typically used by financial institutions and payment service providers looking to optimize terminal operations for different sales channels. By using this API, developers can efficiently integrate card terminal functionalities within their applications.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/card-terminal-operation": {
      "get": {
        "tags": [
          "Card Terminal Operations"
        ],
        "summary": "Retrieve specific card terminal operations.",
        "description": "This endpoint allows you to fetch details about operations specific to card terminals within a certain channel. It provides comprehensive data that can be utilized for monitoring, reporting, or further analysis.",
        "operationId": "listChannelSpecificCardTerminalOperations",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information specific to card terminal operations for a designated channel. Ensure that you include all required parameters in the request body to get the appropriate response.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListChannelSpecificCardTerminalOperationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListChannelSpecificCardTerminalOperationsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListChannelSpecificCardTerminalOperationsRequest": {
        "type": "string",
        "description": "Represents the JSON request body for the GET operations related to card terminal services.",
        "example": "{}"
      },
      "ListChannelSpecificCardTerminalOperationsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of card terminal operations.",
            "example": [
              {
                "channelId": "MOBILE-US",
                "regionCode": "US-EAST-1",
                "serviceWindow": {
                  "opensAt": "STANDARD",
                  "closesAt": "STANDARD"
                },
                "dailyCapacity": 1,
                "terminalId": "STANDARD",
                "merchantId": "MER-646441",
                "terminalStatus": "ACTIVE",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CardTerminalOperation"
            }
          },
          "pagination": {
            "description": "Pagination information for the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata associated with the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the card terminal operations GET request.",
        "example": {
          "items": [
            {
              "channelId": "MOBILE-US",
              "regionCode": "US-EAST-1",
              "serviceWindow": {
                "opensAt": "STANDARD",
                "closesAt": "STANDARD"
              },
              "dailyCapacity": 1,
              "terminalId": "STANDARD",
              "merchantId": "MER-646441",
              "terminalStatus": "ACTIVE",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "e026e85e-e143-56da-870c-9c9ff19c21a9",
            "correlationId": "9d72e24d-8129-57cb-b562-5beac806ed41",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CardTerminalOperation": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "regionCode": {
            "type": "string",
            "description": "Code representing the region.",
            "example": "string"
          },
          "serviceWindow": {
            "description": "Operational hours for the terminal service.",
            "$ref": "#/components/schemas/ServiceWindow"
          },
          "dailyCapacity": {
            "type": "integer",
            "description": "The maximum number of transactions that can be processed in a day.",
            "format": "int32",
            "example": 0
          },
          "terminalId": {
            "type": "string",
            "description": "Unique identifier for the terminal.",
            "example": "string"
          },
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant.",
            "example": "string"
          },
          "terminalStatus": {
            "type": "string",
            "description": "Current status of the terminal.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the record regarding the terminal operation.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the terminal operation record was last updated.",
            "example": "string"
          }
        },
        "description": "Represents a card terminal operation."
      },
      "ServiceWindow": {
        "type": "object",
        "properties": {
          "opensAt": {
            "type": "string",
            "description": "Time when the service window opens.",
            "example": "08:00"
          },
          "closesAt": {
            "type": "string",
            "description": "Time when the service window closes.",
            "example": "18:00"
          }
        },
        "description": "Defines the operational hours for a service."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Information related to pagination in the response."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracking the request across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request occurred.",
            "example": "string"
          }
        },
        "description": "Metadata associated with the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-terminal-operation-search-card-terminal-operation"
        },
        "example": "card-terminal-operation-search-card-terminal-operation"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method as specified in the OAuth 2.0 Authorization Framework. Clients must provide a valid JSON Web Token (JWT) in the Authorization header to authenticate requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}