{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Manage Loan Application Collaterals API",
    "description": "This API facilitates the management of collaterals associated with loan applications. By utilizing this endpoint, users can update the details of specific collaterals within a loan application. Typical consumers of this API include loan officers and financial institutions looking to efficiently maintain accurate collateral records. This operation is crucial for ensuring that loan applications reflect the most current information about collateral values and types, thus supporting informed lending decisions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{param1}/collaterals/{collateralId}": {
      "put": {
        "tags": [
          "Loan Applications"
        ],
        "summary": "Update collateral for a specific loan application.",
        "description": "This operation allows you to update the collateral details associated with loan application RES-100045. Ensure that you provide the necessary information in the request body to successfully update the collateral.",
        "operationId": "updateCollateralForLoanApplicationRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          },
          {
            "$ref": "#/components/parameters/collateralId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the collateral information for the specified loan application. The data provided will modify the existing collateral records associated with the loan application ID RES-100045.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCollateralForLoanApplicationRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, collateral information updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateCollateralForLoanApplicationRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateCollateralForLoanApplicationRes100045Request": {
        "title": "Collateral Information",
        "type": "object",
        "properties": {
          "collateralType": {
            "type": "string",
            "description": "The type of collateral being provided.",
            "example": "STANDARD"
          },
          "ownershipType": {
            "type": "string",
            "description": "The type of ownership of the collateral.",
            "example": "STANDARD"
          },
          "ownerCustomerIds": {
            "type": "array",
            "description": "List of customer IDs who own the collateral.",
            "example": [
              "CUST-507851"
            ],
            "items": {
              "type": "string",
              "description": "Customer ID of the owner."
            }
          },
          "description": {
            "type": "string",
            "description": "Description of the collateral.",
            "example": "Customer banking request processed successfully"
          },
          "marketValue": {
            "description": "The market value of the collateral.",
            "$ref": "#/components/schemas/MoneyValue"
          },
          "forcedSaleValue": {
            "description": "The forced sale value of the collateral.",
            "$ref": "#/components/schemas/MoneyValue"
          },
          "valuationDate": {
            "type": "string",
            "description": "The date when the collateral was last valued.",
            "example": "2026-09-15"
          },
          "valuationProvider": {
            "type": "string",
            "description": "The provider who conducted the valuation.",
            "example": "STANDARD"
          },
          "lienPriority": {
            "type": "string",
            "description": "The priority of the lien on the collateral.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the collateral details for a loan application.",
        "example": {
          "collateralType": "STANDARD",
          "ownershipType": "STANDARD",
          "ownerCustomerIds": [
            "CUST-507851"
          ],
          "description": "Customer banking request processed successfully",
          "marketValue": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "forcedSaleValue": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "valuationDate": "2026-09-15",
          "valuationProvider": "STANDARD",
          "lienPriority": "STANDARD",
          "requestContext": {
            "requestId": "b64709ac-6826-5914-bbd6-1db93b248f85",
            "correlationId": "cbbb28ce-b0cf-587a-a6ee-bb53b11a5444",
            "idempotencyKey": "242cb03c-99f0-5847-ace5-2f0d06fdd0be",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-525474"
            }
          }
        }
      },
      "MoneyValue": {
        "title": "Monetary Value",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency of the monetary value.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The amount of money in the specified currency.",
            "example": "250000"
          }
        },
        "description": "Schema representing a monetary value with currency."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking related requests.",
            "example": "corr-123456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is idempotent.",
            "example": "idemp-123456"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-05T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that is making the request.",
            "example": "Loan Management System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "Web Portal"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema containing information about the request context."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier of the channel.",
            "example": "channel-789"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., Web, Mobile, API).",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-1234"
          }
        },
        "description": "Schema representing the channel through which the request was made."
      },
      "UpdateCollateralForLoanApplicationRes100045Response_200": {
        "title": "Loan Application Collateral",
        "type": "object",
        "properties": {
          "collateralType": {
            "type": "string",
            "description": "The type of collateral being provided.",
            "example": "STANDARD"
          },
          "ownershipType": {
            "type": "string",
            "description": "The type of ownership for the collateral (e.g., Sole, Joint).",
            "example": "STANDARD"
          },
          "ownerCustomerIds": {
            "type": "array",
            "description": "A list of customer IDs that own the collateral.",
            "example": [
              "CUST-531301"
            ],
            "items": {
              "type": "string",
              "description": "A unique identifier for the customer owning the collateral.",
              "example": "cust123"
            }
          },
          "description": {
            "type": "string",
            "description": "A brief description of the collateral.",
            "example": "Customer banking request processed successfully"
          },
          "marketValue": {
            "description": "The current market value of the collateral.",
            "$ref": "#/components/schemas/Value"
          },
          "forcedSaleValue": {
            "description": "The estimated value if the collateral were to be sold under distress conditions.",
            "$ref": "#/components/schemas/Value"
          },
          "valuationDate": {
            "type": "string",
            "description": "The date when the collateral was valued.",
            "example": "2026-09-15"
          },
          "valuationProvider": {
            "type": "string",
            "description": "The entity that provided the valuation of the collateral.",
            "example": "STANDARD"
          },
          "lienPriority": {
            "type": "string",
            "description": "The priority of the lien associated with the collateral.",
            "example": "STANDARD"
          },
          "id": {
            "type": "string",
            "description": "The unique identifier for the collateral.",
            "example": "8c337dc0-591a-46b6-ae02-75a242e46a6a"
          },
          "status": {
            "type": "string",
            "description": "The current status of the collateral (e.g., Active, Inactive).",
            "example": "ACTIVE"
          },
          "loanToValuePercent": {
            "type": "string",
            "description": "The percentage of the loan amount relative to the appraised value of the collateral.",
            "example": "STANDARD"
          },
          "perfectedAt": {
            "type": "string",
            "description": "The date when the lien was perfected.",
            "example": "2026-08-11T12:00:00Z"
          },
          "audit": {
            "description": "Audit information for the collateral.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Additional metadata information related to the collateral.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the collateral details associated with a loan application.",
        "example": {
          "collateralType": "STANDARD",
          "ownershipType": "STANDARD",
          "ownerCustomerIds": [
            "CUST-531301"
          ],
          "description": "Customer banking request processed successfully",
          "marketValue": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "forcedSaleValue": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "valuationDate": "2026-09-15",
          "valuationProvider": "STANDARD",
          "lienPriority": "STANDARD",
          "id": "8c337dc0-591a-46b6-ae02-75a242e46a6a",
          "status": "ACTIVE",
          "loanToValuePercent": "STANDARD",
          "perfectedAt": "2026-08-11T12:00:00Z",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "5d27aa3e-b862-5233-b5a9-10bc854399a8",
            "correlationId": "cbbb28ce-b0cf-587a-a6ee-bb53b11a5444",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Value": {
        "title": "Value",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency code (e.g., USD, EUR).",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The amount of money represented.",
            "example": "300000"
          }
        },
        "description": "Represents a monetary value with associated currency."
      },
      "Audit": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the collateral was created.",
            "example": "2023-01-01T10:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the collateral.",
            "example": "user789"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating the last update time of the collateral.",
            "example": "2023-01-10T15:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the collateral.",
            "example": "user123"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the collateral details.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Provides audit details including creation and update information."
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "res456"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier for tracking the request/response correlation.",
            "example": "cor789"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-01-01T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographic region in which the request was processed.",
            "example": "US-West"
          }
        },
        "description": "Contains additional information related to the collateral."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "collateralId": {
        "name": "collateralId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint being accessed. This allows tracking and auditing of requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-replace-collateral"
        },
        "example": "banking-loans-openapi-replace-collateral"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request. This is useful for identifying the source of the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication mechanism, allowing clients to authenticate using a JSON Web Token (JWT) for securing API requests. The token should be included in the Authorization header of the request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}