{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Fixed Asset Management API",
    "description": "The Fixed Asset Management API allows users to access and retrieve detailed information regarding an organization's fixed assets. This API serves as a resource for accounting and finance teams to monitor asset values, track depreciation, and ensure compliance with financial regulations. Typical consumers include financial analysts, auditors, and asset managers who need to analyze fixed asset data for reporting and decision-making purposes. By leveraging this endpoint, users can seamlessly integrate fixed asset information into their financial systems.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/enterprise-services/fixed-asset-register": {
      "get": {
        "tags": [
          "Asset Management"
        ],
        "summary": "Retrieve the Fixed Asset Register.",
        "description": "This endpoint allows users to fetch the complete Fixed Asset Register for the enterprise. It provides detailed information about all assets, including their classification, value, and status, facilitating effective asset management.",
        "operationId": "getFixedAssetRegister",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving fixed asset register details. This body should contain the necessary parameters as specified in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetFixedAssetRegisterRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of the fixed asset register.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFixedAssetRegisterResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetFixedAssetRegisterRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on the fixed asset register service in the enterprise services. It is a simple string that may contain a specific query or filter for retrieving fixed asset information.",
        "example": "{}"
      },
      "GetFixedAssetRegisterResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of fixed assets.",
            "example": [
              {
                "assetId": "STANDARD",
                "assetClass": "STANDARD",
                "acquisitionDate": "2026-09-15",
                "acquisitionCost": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "usefulLifeMonths": 1,
                "costCenter": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/FixedAsset"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the assets.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving the fixed asset register.",
        "example": {
          "items": [
            {
              "assetId": "STANDARD",
              "assetClass": "STANDARD",
              "acquisitionDate": "2026-09-15",
              "acquisitionCost": {
                "amount": 100.0,
                "currency": "USD"
              },
              "usefulLifeMonths": 1,
              "costCenter": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "a65cbf33-78d1-5362-9692-329bcd2f19f5",
            "correlationId": "46d23d5c-e9ac-5c6d-8872-e454d0de59ae",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "FixedAsset": {
        "type": "object",
        "properties": {
          "assetId": {
            "type": "string",
            "description": "Unique identifier for the asset.",
            "example": "FA-12345"
          },
          "assetClass": {
            "type": "string",
            "description": "Classification of the asset.",
            "example": "Machinery"
          },
          "acquisitionDate": {
            "type": "string",
            "description": "Date when the asset was acquired.",
            "example": "2023-01-15"
          },
          "acquisitionCost": {
            "$ref": "#/components/schemas/AcquisitionCost"
          },
          "usefulLifeMonths": {
            "type": "integer",
            "description": "Estimated useful life of the asset in months.",
            "format": "int32",
            "example": 60
          },
          "costCenter": {
            "type": "string",
            "description": "The cost center associated with the asset.",
            "example": "Production"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the asset record.",
            "example": "Active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the asset record.",
            "example": "2023-09-15T12:00:00Z"
          }
        },
        "description": "Schema representing a fixed asset."
      },
      "AcquisitionCost": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Monetary value representing the acquisition cost.",
            "example": 25000.0
          },
          "currency": {
            "type": "string",
            "description": "Currency code for the acquisition cost.",
            "example": "USD"
          }
        },
        "description": "Schema representing the acquisition cost of an asset."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Pagination details for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp-xyz-987"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request.",
            "example": "corr-abc-123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-09-15T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "us-west-2"
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that was called. This helps in tracing requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "fixed-asset-register-search-fixed-asset-register"
        },
        "example": "fixed-asset-register-search-fixed-asset-register"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request, useful for diagnostics and monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security schema uses the Bearer authentication method, where a valid JSON Web Token (JWT) must be included in the Authorization header of the request. Ensure that the token is properly formatted and represents the appropriate claims for access.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}