{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Update Loan Offer API",
    "description": "The Update Loan Offer API allows financial institutions to modify existing loan offers associated with specific loan applications. This endpoint provides the capability to adjust terms, rates, and conditions of offers based on changing business needs or customer requirements. Typical consumers of this API include loan officers and customer service representatives who manage and optimize offers for clients. By utilizing this API, organizations can ensure that their offers remain competitive and tailored to individual client circumstances.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{param1}/offers/{offerId}": {
      "put": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Update Loan Application Offer",
        "description": "This operation allows you to update the specific offer associated with a loan application identified by RES-100045. Ensure that you provide the necessary details in the request body to successfully modify the offer.",
        "operationId": "updateLoanApplicationOfferRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          },
          {
            "$ref": "#/components/parameters/offerId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update an existing loan offer for the specified loan application. Ensure that the necessary details are provided in the defined schema to successfully process the update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLoanApplicationOfferRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully updated the loan offer details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateLoanApplicationOfferRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateLoanApplicationOfferRes100045Request": {
        "type": "object",
        "properties": {
          "offerType": {
            "type": "string",
            "description": "The type of the loan offer.",
            "example": "STANDARD"
          },
          "approvedPrincipal": {
            "description": "The principal amount approved for the loan.",
            "$ref": "#/components/schemas/CurrencyAmount"
          },
          "termMonths": {
            "type": "integer",
            "description": "The duration of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "annualInterestRatePercent": {
            "type": "string",
            "description": "The annual interest rate for the loan expressed as a percentage.",
            "example": "STANDARD"
          },
          "annualPercentageRatePercent": {
            "type": "string",
            "description": "The annual percentage rate (APR) for the loan expressed as a percentage.",
            "example": "STANDARD"
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "Frequency of loan repayment (e.g., monthly, bi-weekly).",
            "example": "STANDARD"
          },
          "estimatedInstallment": {
            "description": "Estimated installment amount to be paid periodically.",
            "$ref": "#/components/schemas/CurrencyAmount"
          },
          "originationFee": {
            "description": "Fee charged for processing the loan application.",
            "$ref": "#/components/schemas/CurrencyAmount"
          },
          "insurancePremium": {
            "description": "Insurance premium associated with the loan.",
            "$ref": "#/components/schemas/CurrencyAmount"
          },
          "validUntil": {
            "type": "string",
            "description": "Date until the offer is valid.",
            "example": "2026-08-11T12:00:00Z"
          },
          "conditions": {
            "type": "array",
            "description": "Conditions associated with the offer.",
            "example": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "dueBefore": "STANDARD",
                "status": "ACTIVE"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Condition"
            }
          },
          "disclosures": {
            "type": "array",
            "description": "Legal disclosures and notices related to the loan offer.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "example": "Disclosure example text."
            }
          },
          "requestContext": {
            "description": "Context information of the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the loan offer for a loan application.",
        "example": {
          "offerType": "STANDARD",
          "approvedPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "termMonths": 1,
          "annualInterestRatePercent": "STANDARD",
          "annualPercentageRatePercent": "STANDARD",
          "repaymentFrequency": "STANDARD",
          "estimatedInstallment": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "originationFee": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "insurancePremium": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "validUntil": "2026-08-11T12:00:00Z",
          "conditions": [
            {
              "code": "SUCCESS",
              "description": "Customer banking request processed successfully",
              "dueBefore": "STANDARD",
              "status": "ACTIVE"
            }
          ],
          "disclosures": [
            "STANDARD"
          ],
          "requestContext": {
            "requestId": "2fe1de8b-5950-5b49-8e2b-1abf9499c9b7",
            "correlationId": "374cbdab-d4d8-512c-85e5-37a014e77ef4",
            "idempotencyKey": "7abe1c96-0d8f-5b69-818e-3c78fb163724",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-266166"
            }
          }
        }
      },
      "CurrencyAmount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency code for the amount.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The amount of money, expressed as a decimal number.",
            "example": "100000.00"
          }
        },
        "description": "Schema representing a currency amount with its associated currency."
      },
      "Condition": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "The unique code identifying the condition.",
            "example": "COND001"
          },
          "description": {
            "type": "string",
            "description": "A detailed description of the condition.",
            "example": "Must provide proof of income."
          },
          "dueBefore": {
            "type": "string",
            "description": "The date by which the condition must be satisfied.",
            "example": "2023-11-30T23:59:59Z"
          },
          "status": {
            "type": "string",
            "description": "The current status of the condition (e.g., Pending, Completed).",
            "example": "Pending"
          }
        },
        "description": "Represents a condition that must be met for the loan offer."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to trace the request across systems.",
            "example": "corr-67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to uniquely identify the request to ensure it is processed only once.",
            "example": "key-112233"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "WebApp"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application through which the request was made.",
            "example": "LoanPortal"
          },
          "channel": {
            "description": "Information regarding the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing contextual information for the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-98765"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., mobile, web).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device used to make the request.",
            "example": "device-54321"
          }
        },
        "description": "Schema representing details about the channel used for the request."
      },
      "UpdateLoanApplicationOfferRes100045Response_200": {
        "type": "object",
        "properties": {
          "offerType": {
            "type": "string",
            "description": "The type of loan offer.",
            "example": "STANDARD"
          },
          "approvedPrincipal": {
            "description": "The principal amount that has been approved for the loan.",
            "$ref": "#/components/schemas/AmountWithCurrency"
          },
          "termMonths": {
            "type": "integer",
            "description": "The duration of the loan term in months.",
            "format": "int32",
            "example": 1
          },
          "annualInterestRatePercent": {
            "type": "string",
            "description": "The annual interest rate for the loan expressed as a percentage.",
            "example": "STANDARD"
          },
          "annualPercentageRatePercent": {
            "type": "string",
            "description": "The annual percentage rate for the loan expressed as a percentage.",
            "example": "STANDARD"
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "The frequency of the repayment schedule (e.g., monthly, bi-weekly).",
            "example": "STANDARD"
          },
          "estimatedInstallment": {
            "description": "The estimated installment payment amount for the loan.",
            "$ref": "#/components/schemas/AmountWithCurrency"
          },
          "originationFee": {
            "description": "The origination fee associated with the loan.",
            "$ref": "#/components/schemas/AmountWithCurrency"
          },
          "insurancePremium": {
            "description": "The insurance premium associated with the loan.",
            "$ref": "#/components/schemas/AmountWithCurrency"
          },
          "validUntil": {
            "type": "string",
            "description": "The date until the loan offer is valid.",
            "example": "2026-08-11T12:00:00Z"
          },
          "conditions": {
            "type": "array",
            "description": "An array of conditions that must be met for the loan offer.",
            "example": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "dueBefore": "STANDARD",
                "status": "ACTIVE"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Condition"
            }
          },
          "disclosures": {
            "type": "array",
            "description": "An array of disclosures related to the loan offer.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string"
            }
          },
          "id": {
            "type": "string",
            "description": "The unique identifier for the loan offer.",
            "example": "839cdc01-1a21-1a33-80df-de932fe3d389"
          },
          "offerNumber": {
            "type": "string",
            "description": "The unique offer number for the loan.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The status of the loan offer.",
            "example": "ACTIVE"
          },
          "issuedAt": {
            "type": "string",
            "description": "The date and time the loan offer was issued.",
            "example": "2026-08-11T12:00:00Z"
          },
          "acceptedAt": {
            "type": "string",
            "description": "The date and time the loan offer was accepted.",
            "example": "2026-08-11T12:00:00Z"
          },
          "acceptedByCustomerId": {
            "type": "string",
            "description": "The unique identifier for the customer who accepted the loan offer.",
            "example": "CUST-851825"
          },
          "audit": {
            "description": "Metadata related to the auditing of the loan offer.",
            "$ref": "#/components/schemas/AuditInfo"
          },
          "metadata": {
            "description": "Additional metadata related to the loan offer.",
            "$ref": "#/components/schemas/MetadataInfo"
          }
        },
        "description": "Schema representing a loan offer response during loan application processing.",
        "example": {
          "offerType": "STANDARD",
          "approvedPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "termMonths": 1,
          "annualInterestRatePercent": "STANDARD",
          "annualPercentageRatePercent": "STANDARD",
          "repaymentFrequency": "STANDARD",
          "estimatedInstallment": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "originationFee": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "insurancePremium": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "validUntil": "2026-08-11T12:00:00Z",
          "conditions": [
            {
              "code": "SUCCESS",
              "description": "Customer banking request processed successfully",
              "dueBefore": "STANDARD",
              "status": "ACTIVE"
            }
          ],
          "disclosures": [
            "STANDARD"
          ],
          "id": "839cdc01-1a21-1a33-80df-de932fe3d389",
          "offerNumber": "STANDARD",
          "status": "ACTIVE",
          "issuedAt": "2026-08-11T12:00:00Z",
          "acceptedAt": "2026-08-11T12:00:00Z",
          "acceptedByCustomerId": "CUST-851825",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "de6f2d50-de1a-5130-9c45-e2bfcfd67a9f",
            "correlationId": "374cbdab-d4d8-512c-85e5-37a014e77ef4",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AmountWithCurrency": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency type for the amount.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The monetary amount in the specified currency.",
            "example": "10000"
          }
        },
        "description": "Represents an amount associated with a specific currency."
      },
      "AuditInfo": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "The date and time when the loan offer was created.",
            "example": "2023-10-30T10:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "The identifier of the user who created the loan offer.",
            "example": "admin"
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the loan offer was last updated.",
            "example": "2023-11-01T12:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "The identifier of the user who last updated the loan offer.",
            "example": "admin"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the loan offer.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Information regarding the audit of the loan offer."
      },
      "MetadataInfo": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response related to the loan offer.",
            "example": "response123"
          },
          "correlationId": {
            "type": "string",
            "description": "A correlation identifier for tracking requests.",
            "example": "corr123"
          },
          "generatedAt": {
            "type": "string",
            "description": "The date and time when the metadata was generated.",
            "example": "2023-11-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata related to the loan offer."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "offerId": {
        "name": "offerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the endpoint associated with the loan application operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-replace-loan-offer"
        },
        "example": "banking-loans-openapi-replace-loan-offer"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is processing the loan application operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method where a JSON Web Token (JWT) is passed as a bearer token in the Authorization header of requests. Clients must obtain a valid JWT to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}