{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Cross Channel Point Of Services-spec",
    "description": "The Cross Channel Point Of Services Retrieval API provides a comprehensive overview of various banking services accessible across multiple channels. This API allows users to query and retrieve detailed information about available point of services, enhancing customer insights and operational efficiency. Typical consumers of this API include banking institutions and developers looking to integrate channel services into their applications. This resource is essential for streamlining customer interactions and improving the overall banking experience.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cross-channel/point-of-service": {
      "get": {
        "tags": [
          "Cross-Channel"
        ],
        "summary": "Retrieve point-of-service information across channels.",
        "description": "This endpoint allows developers to fetch information related to point-of-service operations across different channels, facilitating integrations and data analysis for enhanced customer experiences.",
        "operationId": "listCrossChannelPointOfServices",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information related to point-of-service operations across channels. It requires a specific structure defined in the schema below.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListCrossChannelPointOfServicesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and the response contains the requested data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCrossChannelPointOfServicesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListCrossChannelPointOfServicesRequest": {
        "type": "string",
        "description": "This schema represents the JSON string expected in the request body for the Point of Service operations GET request.",
        "example": "{}"
      },
      "ListCrossChannelPointOfServicesResponse_200": {
        "title": "Point of Service Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of point of service interactions.",
            "example": [
              {
                "partyId": "PARTY-394459",
                "interactionId": "INT-543756",
                "channel": "STANDARD",
                "authenticationLevel": "STANDARD",
                "terminalId": "STANDARD",
                "merchantId": "MER-187127",
                "terminalStatus": "ACTIVE",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/PointOfServiceInteraction"
            }
          },
          "pagination": {
            "description": "Contains pagination information concerning the returned items.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the list of items.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema for the response of a point of service operation that includes a list of items, pagination information, sorting details, and metadata.",
        "example": {
          "items": [
            {
              "partyId": "PARTY-394459",
              "interactionId": "INT-543756",
              "channel": "STANDARD",
              "authenticationLevel": "STANDARD",
              "terminalId": "STANDARD",
              "merchantId": "MER-187127",
              "terminalStatus": "ACTIVE",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "60cddf8d-3367-58a3-9856-38667ce73197",
            "correlationId": "505ec127-222f-5ef8-a89f-21e697845dda",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PointOfServiceInteraction": {
        "title": "Point of Service Interaction",
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "Unique identifier for the party involved in the interaction."
          },
          "interactionId": {
            "type": "string",
            "description": "Unique identifier for the interaction."
          },
          "channel": {
            "type": "string",
            "description": "The channel through which the interaction occurred."
          },
          "authenticationLevel": {
            "type": "string",
            "description": "The level of authentication used during the interaction."
          },
          "terminalId": {
            "type": "string",
            "description": "Unique identifier for the terminal used."
          },
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant."
          },
          "terminalStatus": {
            "type": "string",
            "description": "Current status of the terminal."
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the interaction record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the interaction was last updated."
          }
        },
        "description": "Schema representing an individual interaction at a point of service."
      },
      "Pagination": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Schema containing pagination details for the response."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Unique identifier used to correlate requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed."
          }
        },
        "description": "Schema containing metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "point-of-service-search-point-of-service"
        },
        "example": "point-of-service-search-point-of-service"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses HTTP Bearer authentication, which requires clients to include a valid JSON Web Token (JWT) in the Authorization header of their requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}