{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Rewards Management API",
    "description": "The Rewards Management API provides access to the rewards program associated with banking services, allowing users to retrieve detailed information about available rewards, their status, and eligibility criteria. This endpoint is designed for financial service providers and customer relationship management systems that aim to enhance user engagement through rewards offerings. Typical consumers include banks, credit unions, and fintech platforms that wish to integrate reward tracking and management into their applications. By leveraging this API, businesses can easily offer personalized reward experiences to their customers, driving loyalty and satisfaction.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/rewards": {
      "get": {
        "tags": [
          "Operational Services"
        ],
        "summary": "Retrieve operational rewards",
        "description": "This endpoint allows clients to fetch the current rewards available in the operational services. It provides essential details that can be used for user benefits and promotions.",
        "operationId": "getRewardsOperationalServices",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve operational service rewards. It should include the necessary parameters within the JSON structure to specify what rewards information is being requested.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetRewardsOperationalServicesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returns the rewards data.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRewardsOperationalServicesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetRewardsOperationalServicesRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on rewards operational services in JSON format.",
        "example": "{}"
      },
      "GetRewardsOperationalServicesResponse_200": {
        "title": "Rewards Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "Array of reward items.",
            "example": [
              {
                "loyaltyAccountId": "ACC-555819",
                "customerId": "CUST-323340",
                "activityType": "STANDARD",
                "points": 1,
                "partnerCode": "CODE-168",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/RewardItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationInfo"
          },
          "sort": {
            "type": "string",
            "description": "Indicates the sorting order of the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the operational services rewards operations GET request.",
        "example": {
          "items": [
            {
              "loyaltyAccountId": "ACC-555819",
              "customerId": "CUST-323340",
              "activityType": "STANDARD",
              "points": 1,
              "partnerCode": "CODE-168",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "86e51ab8-8069-51f0-b5ed-d88247959456",
            "correlationId": "00e38edd-8462-5b9f-86c3-7df97434e7a7",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "RewardItem": {
        "title": "Reward Item",
        "type": "object",
        "properties": {
          "loyaltyAccountId": {
            "type": "string",
            "description": "Unique identifier for the loyalty account.",
            "example": "string"
          },
          "customerId": {
            "type": "string",
            "description": "Identifier for the customer associated with the reward.",
            "example": "string"
          },
          "activityType": {
            "type": "string",
            "description": "Type of activity that generated the reward.",
            "example": "string"
          },
          "points": {
            "type": "integer",
            "description": "Number of points awarded for the activity.",
            "format": "int32",
            "example": 0
          },
          "partnerCode": {
            "type": "string",
            "description": "Code identifying the partner associated with the reward.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the reward record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the reward record was last updated.",
            "example": "string"
          }
        },
        "description": "Details about a reward item associated with a loyalty account."
      },
      "PaginationInfo": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Information about pagination for reward items."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata related to the response from the API."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint that processed the request, useful for tracing and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reward-points-awards-and-redemption-search-reward-points-awards-and-redemption"
        },
        "example": "reward-points-awards-and-redemption-search-reward-points-awards-and-redemption"
      },
      "x-runtime-app": {
        "description": "The version of the application that handled the request, which helps in identifying the specific changes related to this request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method with JSON Web Tokens (JWT). Clients must provide a valid JWT in the Authorization header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}