{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Replace P2m Merchant By Merchant Id-v5-spec",
    "description": "MICROSERVICE-PROD-Replace P2m Merchant By Merchant Id-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/merchants/{merchantId}": {
      "put": {
        "operationId": "replaceP2mMerchantByMerchantId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/merchantId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceP2mMerchantByMerchantIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceP2mMerchantByMerchantIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ReplaceP2mMerchantByMerchantIdRequest": {
        "type": "object",
        "properties": {
          "business": {
            "type": "object",
            "properties": {
              "legalName": {
                "type": "string",
                "example": "string"
              },
              "tradingName": {
                "type": "string",
                "example": "string"
              },
              "registrationNumber": {
                "type": "string",
                "example": "string"
              },
              "taxIdentificationNumber": {
                "type": "string",
                "example": "string"
              },
              "incorporationCountry": {
                "type": "string",
                "example": "string"
              },
              "incorporationDate": {
                "type": "string",
                "example": "string"
              },
              "merchantType": {
                "type": "string",
                "example": "string"
              },
              "merchantCategoryCode": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "legalName": "Olivia Bennett",
              "tradingName": "Northstar Banking Service",
              "registrationNumber": "NY-4587219",
              "taxIdentificationNumber": "STANDARD",
              "incorporationCountry": "STANDARD",
              "incorporationDate": "2026-09-15",
              "merchantType": "STANDARD",
              "merchantCategoryCode": "5411"
            }
          },
          "registeredAddress": {
            "type": "object",
            "properties": {
              "line1": {
                "type": "string",
                "example": "string"
              },
              "line2": {
                "type": "string",
                "example": "string"
              },
              "city": {
                "type": "string",
                "example": "string"
              },
              "stateOrProvince": {
                "type": "string",
                "example": "string"
              },
              "postalCode": {
                "type": "string",
                "example": "string"
              },
              "country": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "line1": "350 Fifth Avenue",
              "line2": "Suite 4200",
              "city": "New York",
              "stateOrProvince": "STANDARD",
              "postalCode": "10001",
              "country": "STANDARD"
            }
          },
          "contact": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string",
                "example": "string"
              },
              "phone": {
                "type": "string",
                "example": "string"
              },
              "website": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "email": "olivia.bennett@northstar.example",
              "phone": "+1-212-555-0147",
              "website": "https://example.com/resource"
            }
          },
          "capabilities": {
            "type": "object",
            "properties": {
              "channels": {
                "type": "array",
                "example": "string",
                "items": {
                  "type": "string",
                  "example": "string"
                }
              },
              "paymentMethods": {
                "type": "array",
                "example": "string",
                "items": {
                  "type": "string",
                  "example": "string"
                }
              },
              "supportsPartialCapture": {
                "type": "boolean",
                "example": false
              }
            },
            "example": {
              "channels": [
                "STANDARD"
              ],
              "paymentMethods": [
                "STANDARD"
              ],
              "supportsPartialCapture": true
            }
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "7bb51711-816c-5f84-bd4d-d1ec5a6249a9",
              "correlationId": "bab769ac-98c2-5480-a088-8c922b98fae9",
              "idempotencyKey": "fd7aaf6f-53de-5fda-b64d-680a70e372b4",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-494258"
              }
            }
          }
        },
        "example": {
          "business": {
            "legalName": "Olivia Bennett",
            "tradingName": "Northstar Banking Service",
            "registrationNumber": "NY-4587219",
            "taxIdentificationNumber": "STANDARD",
            "incorporationCountry": "STANDARD",
            "incorporationDate": "2026-09-15",
            "merchantType": "STANDARD",
            "merchantCategoryCode": "5411"
          },
          "registeredAddress": {
            "line1": "350 Fifth Avenue",
            "line2": "Suite 4200",
            "city": "New York",
            "stateOrProvince": "STANDARD",
            "postalCode": "10001",
            "country": "STANDARD"
          },
          "contact": {
            "email": "olivia.bennett@northstar.example",
            "phone": "+1-212-555-0147",
            "website": "https://example.com/resource"
          },
          "capabilities": {
            "channels": [
              "STANDARD"
            ],
            "paymentMethods": [
              "STANDARD"
            ],
            "supportsPartialCapture": true
          },
          "requestContext": {
            "requestId": "7bb51711-816c-5f84-bd4d-d1ec5a6249a9",
            "correlationId": "bab769ac-98c2-5480-a088-8c922b98fae9",
            "idempotencyKey": "fd7aaf6f-53de-5fda-b64d-680a70e372b4",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-494258"
            }
          }
        }
      },
      "ReplaceP2mMerchantByMerchantIdResponse_200": {
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "example": "MER-182747"
          },
          "business": {
            "type": "object",
            "properties": {
              "legalName": {
                "type": "string",
                "example": "string"
              },
              "tradingName": {
                "type": "string",
                "example": "string"
              },
              "registrationNumber": {
                "type": "string",
                "example": "string"
              },
              "taxIdentificationNumber": {
                "type": "string",
                "example": "string"
              },
              "incorporationCountry": {
                "type": "string",
                "example": "string"
              },
              "incorporationDate": {
                "type": "string",
                "example": "string"
              },
              "merchantType": {
                "type": "string",
                "example": "string"
              },
              "merchantCategoryCode": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "legalName": "Olivia Bennett",
              "tradingName": "Northstar Banking Service",
              "registrationNumber": "NY-4587219",
              "taxIdentificationNumber": "STANDARD",
              "incorporationCountry": "STANDARD",
              "incorporationDate": "2026-09-15",
              "merchantType": "STANDARD",
              "merchantCategoryCode": "5411"
            }
          },
          "registeredAddress": {
            "type": "object",
            "properties": {
              "line1": {
                "type": "string",
                "example": "string"
              },
              "line2": {
                "type": "string",
                "example": "string"
              },
              "city": {
                "type": "string",
                "example": "string"
              },
              "stateOrProvince": {
                "type": "string",
                "example": "string"
              },
              "postalCode": {
                "type": "string",
                "example": "string"
              },
              "country": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "line1": "350 Fifth Avenue",
              "line2": "Suite 4200",
              "city": "New York",
              "stateOrProvince": "STANDARD",
              "postalCode": "10001",
              "country": "STANDARD"
            }
          },
          "contact": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string",
                "example": "string"
              },
              "phone": {
                "type": "string",
                "example": "string"
              },
              "website": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "email": "olivia.bennett@northstar.example",
              "phone": "+1-212-555-0147",
              "website": "https://example.com/resource"
            }
          },
          "status": {
            "type": "string",
            "example": "ACTIVE"
          },
          "kybStatus": {
            "type": "string",
            "example": "ACTIVE"
          },
          "amlStatus": {
            "type": "string",
            "example": "ACTIVE"
          },
          "capabilities": {
            "type": "object",
            "properties": {
              "channels": {
                "type": "array",
                "example": "string",
                "items": {
                  "type": "string",
                  "example": "string"
                }
              },
              "paymentMethods": {
                "type": "array",
                "example": "string",
                "items": {
                  "type": "string",
                  "example": "string"
                }
              },
              "supportsPartialCapture": {
                "type": "boolean",
                "example": false
              },
              "supportsPartialRefund": {
                "type": "boolean",
                "example": false
              },
              "supportsTips": {
                "type": "boolean",
                "example": false
              },
              "supportsSplitPayments": {
                "type": "boolean",
                "example": false
              },
              "supportsRecurringPayments": {
                "type": "boolean",
                "example": false
              },
              "maximumTipPercentage": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "channels": [
                "STANDARD"
              ],
              "paymentMethods": [
                "STANDARD"
              ],
              "supportsPartialCapture": true,
              "supportsPartialRefund": true,
              "supportsTips": true,
              "supportsSplitPayments": true,
              "supportsRecurringPayments": true,
              "maximumTipPercentage": "STANDARD"
            }
          },
          "commercialTerms": {
            "type": "object",
            "properties": {
              "pricingPlanId": {
                "type": "string",
                "example": "string"
              },
              "feeBearer": {
                "type": "string",
                "example": "string"
              },
              "paymentFee": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "example": "string"
                  },
                  "percentage": {
                    "type": "string",
                    "example": "string"
                  },
                  "fixedAmount": {
                    "type": "object",
                    "properties": {
                      "currency": {
                        "type": "string",
                        "example": "string"
                      },
                      "value": {
                        "type": "string",
                        "example": "string"
                      }
                    },
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "pricingPlanId": "STANDARD",
              "feeBearer": "STANDARD",
              "paymentFee": {
                "type": "STANDARD",
                "percentage": "STANDARD",
                "fixedAmount": {
                  "currency": "USD",
                  "value": "STANDARD"
                }
              }
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "cfc04029-f8b2-5c73-b0f3-6d70b1488cb5",
              "correlationId": "bab769ac-98c2-5480-a088-8c922b98fae9",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "merchantId": "MER-182747",
          "business": {
            "legalName": "Olivia Bennett",
            "tradingName": "Northstar Banking Service",
            "registrationNumber": "NY-4587219",
            "taxIdentificationNumber": "STANDARD",
            "incorporationCountry": "STANDARD",
            "incorporationDate": "2026-09-15",
            "merchantType": "STANDARD",
            "merchantCategoryCode": "5411"
          },
          "registeredAddress": {
            "line1": "350 Fifth Avenue",
            "line2": "Suite 4200",
            "city": "New York",
            "stateOrProvince": "STANDARD",
            "postalCode": "10001",
            "country": "STANDARD"
          },
          "contact": {
            "email": "olivia.bennett@northstar.example",
            "phone": "+1-212-555-0147",
            "website": "https://example.com/resource"
          },
          "status": "ACTIVE",
          "kybStatus": "ACTIVE",
          "amlStatus": "ACTIVE",
          "capabilities": {
            "channels": [
              "STANDARD"
            ],
            "paymentMethods": [
              "STANDARD"
            ],
            "supportsPartialCapture": true,
            "supportsPartialRefund": true,
            "supportsTips": true,
            "supportsSplitPayments": true,
            "supportsRecurringPayments": true,
            "maximumTipPercentage": "STANDARD"
          },
          "commercialTerms": {
            "pricingPlanId": "STANDARD",
            "feeBearer": "STANDARD",
            "paymentFee": {
              "type": "STANDARD",
              "percentage": "STANDARD",
              "fixedAmount": {
                "currency": "USD",
                "value": "STANDARD"
              }
            }
          },
          "metadata": {
            "responseId": "cfc04029-f8b2-5c73-b0f3-6d70b1488cb5",
            "correlationId": "bab769ac-98c2-5480-a088-8c922b98fae9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "merchantId": {
        "name": "merchantId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-replace-merchant"
        },
        "example": "banking-p2m-openapi-replace-merchant"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}