{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Trade Banking Direct Debits-spec",
    "description": "This API allows users to access and view details of Trade Banking Direct Debits. It serves financial institutions and businesses that engage in trade banking services, providing essential information on direct debit transactions. Users can retrieve a comprehensive list of direct debits to facilitate financial planning and ensure accurate transaction management. Typical consumers include financial analysts, account managers, and business operators who require insights into their direct debit activities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/direct-debit": {
      "get": {
        "tags": [
          "Trade Banking"
        ],
        "summary": "Retrieve direct debit details.",
        "description": "Fetches detailed information about direct debits within the trade banking system, including transaction history, status, and related accounts. This endpoint helps users understand their direct debit activity and manage their finances effectively.",
        "operationId": "listTradeBankingDirectDebits",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body to retrieve direct debit operations in trade banking. This request should include specific parameters in JSON format to filter and customize the response as per the user's requirements.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListTradeBankingDirectDebitsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the direct debit information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListTradeBankingDirectDebitsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListTradeBankingDirectDebitsRequest": {
        "type": "string",
        "description": "This schema represents the request body expected in the Direct Debit Operations GET request for the Trade Banking service.",
        "example": "{}"
      },
      "ListTradeBankingDirectDebitsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of direct debit mandates.",
            "example": [
              {
                "mandateId": "2026-09-15",
                "debtorAccountId": "ACC-242999",
                "creditorSchemeId": "STANDARD",
                "collectionAmount": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "collectionDate": "2026-09-15",
                "frequency": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/DirectDebitMandate"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the items returned.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the GET operations related to direct debit transactions in trade banking.",
        "example": {
          "items": [
            {
              "mandateId": "2026-09-15",
              "debtorAccountId": "ACC-242999",
              "creditorSchemeId": "STANDARD",
              "collectionAmount": {
                "amount": 100.0,
                "currency": "USD"
              },
              "collectionDate": "2026-09-15",
              "frequency": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "2fda71fe-8514-51aa-afab-c9783e25b2cc",
            "correlationId": "2b11f9e0-6541-5e64-bd8e-a261fcded409",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "DirectDebitMandate": {
        "type": "object",
        "properties": {
          "mandateId": {
            "type": "string",
            "description": "Unique identifier for the mandate.",
            "example": "MD123456"
          },
          "debtorAccountId": {
            "type": "string",
            "description": "Identifier for the debtor's account.",
            "example": "ACC123456"
          },
          "creditorSchemeId": {
            "type": "string",
            "description": "Identifier for the creditor scheme.",
            "example": "SCHEME123"
          },
          "collectionAmount": {
            "$ref": "#/components/schemas/CollectionAmount"
          },
          "collectionDate": {
            "type": "string",
            "description": "Date on which the debit will be collected.",
            "example": "2023-10-01"
          },
          "frequency": {
            "type": "string",
            "description": "Frequency of the debit collection, e.g., monthly.",
            "example": "monthly"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the mandate record.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the mandate was last updated.",
            "example": "2023-09-28T12:34:56Z"
          }
        },
        "description": "Schema representing a direct debit mandate."
      },
      "CollectionAmount": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Amount to be collected.",
            "example": 100.5
          },
          "currency": {
            "type": "string",
            "description": "Currency in which the amount is specified.",
            "example": "EUR"
          }
        },
        "description": "Schema representing the amount and currency of the collection."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Schema representing pagination information for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracing the request.",
            "example": "CORR123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-09-30T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "EU"
          }
        },
        "description": "Schema representing metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "direct-debit-search-direct-debit"
        },
        "example": "direct-debit-search-direct-debit"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication, where a JSON Web Token (JWT) is included in the Authorization header. Users must provide a valid JWT to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}