{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Model By Param1-spec",
    "description": "The Operational Risk Model Management API enables businesses to modify specific operational risk models identified by unique parameters. This API allows users to patch various attributes of operational risk models, ensuring data stays current and relevant. Typical consumers include risk managers and compliance officers who need real-time updates to reflect changes in organizational risk strategy. This capability enhances the maintenance and accuracy of financial risk assessments in dynamic environments.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/models/operational-risk-models/{param1}": {
      "patch": {
        "tags": [
          "Operational Risk Management"
        ],
        "summary": "Update an Operational Risk Model",
        "description": "This endpoint allows you to update the details of a specific operational risk model identified by its unique ID, enabling you to modify various properties of the model as needed.",
        "operationId": "updateModelByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for updating the operational risk model identified by RES-100045. This payload contains the necessary fields to modify existing attributes or add new information relevant to the operational risk model.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateModelByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful, and the resource was updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateModelByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateModelByParam1Request": {
        "title": "Operational Risk Model Update Request",
        "type": "object",
        "properties": {
          "changes": {
            "description": "Contains the changes to be made in the operational risk model.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change in the operational risk model.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time at which the changes become effective.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The individual or system requesting the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for updating operational risk models, including changes, reasons for change, and context of the request.",
        "example": {
          "changes": {
            "modelId": "STANDARD",
            "modelVersion": "STANDARD",
            "portfolioId": "PORT-776303"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "54556817-e057-557d-b568-7ab9f44ea214",
            "correlationId": "f1f7c79f-968b-5d49-af3a-e333f4dd83d2",
            "idempotencyKey": "926598dd-804e-523c-85f8-7694ec5354d7",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-905114"
            }
          }
        }
      },
      "Changes": {
        "title": "Model Changes",
        "type": "object",
        "properties": {
          "modelId": {
            "type": "string",
            "description": "The unique identifier of the operational risk model.",
            "example": "string"
          },
          "modelVersion": {
            "type": "string",
            "description": "The version of the operational risk model being updated.",
            "example": "string"
          },
          "portfolioId": {
            "type": "string",
            "description": "The identifier of the portfolio associated with the operational risk model.",
            "example": "string"
          }
        },
        "description": "Details of the changes to be made to the operational risk model."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency for the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request was made.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Details related to the context of the request made."
      },
      "Channel": {
        "title": "Request Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel used for the request.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel through which the request was made.",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Details regarding the channel through which the request is made."
      },
      "UpdateModelByParam1Response_200": {
        "title": "Operational Risk Model Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version number of the operational risk model.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The current status of the operational risk model.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the operational risk model was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the operational risk model response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for the PATCH operation on the operational risk models.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "73aff223-95c8-5da4-844e-57135f92806d",
            "correlationId": "f1f7c79f-968b-5d49-af3a-e333f4dd83d2",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Contains additional information about the operational risk model response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the specific endpoint being accessed, useful for tracking and debugging API requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operational-risk-models-update-operational-risk-models"
        },
        "example": "operational-risk-models-update-operational-risk-models"
      },
      "X-Runtime-App": {
        "description": "The name of the application runtime environment that processed the request, aiding in infrastructure diagnostics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication method via JSON Web Tokens (JWT). Clients must include a valid JWT token in the Authorization header of their requests to authenticate.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}