{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Banking Trade Banking Cheque Lock Box-v5-spec",
    "description": "MICROSERVICE-PROD-Create Banking Trade Banking Cheque Lock Box-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/cheque-lock-box": {
      "post": {
        "operationId": "createBankingTradeBankingChequeLockBox",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBankingTradeBankingChequeLockBoxRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBankingTradeBankingChequeLockBoxResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateBankingTradeBankingChequeLockBoxRequest": {
        "type": "object",
        "properties": {
          "chequeBatchId": {
            "type": "string",
            "example": "STANDARD"
          },
          "depositAccountId": {
            "type": "string",
            "example": "ACC-491072"
          },
          "chequeCount": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "batchAmount": {
            "type": "object",
            "properties": {
              "amount": {
                "type": "number",
                "example": 0.0
              },
              "currency": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "amount": 100.0,
              "currency": "USD"
            }
          },
          "clearingDate": {
            "type": "string",
            "example": "2026-09-15"
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "a2b1de56-2b78-55cc-bf4e-fe4699fa748f",
              "correlationId": "c9f03361-34e4-5122-ba68-9324f0673096",
              "idempotencyKey": "5c58c05e-eee3-539b-90ba-474ff1f6fe58",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-205206"
              }
            }
          }
        },
        "example": {
          "chequeBatchId": "STANDARD",
          "depositAccountId": "ACC-491072",
          "chequeCount": 1,
          "batchAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "clearingDate": "2026-09-15",
          "requestContext": {
            "requestId": "a2b1de56-2b78-55cc-bf4e-fe4699fa748f",
            "correlationId": "c9f03361-34e4-5122-ba68-9324f0673096",
            "idempotencyKey": "5c58c05e-eee3-539b-90ba-474ff1f6fe58",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-205206"
            }
          }
        }
      },
      "CreateBankingTradeBankingChequeLockBoxResponse_201": {
        "type": "object",
        "properties": {
          "chequeBatchId": {
            "type": "string",
            "example": "STANDARD"
          },
          "depositAccountId": {
            "type": "string",
            "example": "ACC-715524"
          },
          "resourceId": {
            "type": "string",
            "example": "RES-210888"
          },
          "status": {
            "type": "string",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "67c93a38-12c1-51b3-bef3-3af585067592",
              "correlationId": "c9f03361-34e4-5122-ba68-9324f0673096",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "chequeBatchId": "STANDARD",
          "depositAccountId": "ACC-715524",
          "resourceId": "RES-210888",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "67c93a38-12c1-51b3-bef3-3af585067592",
            "correlationId": "c9f03361-34e4-5122-ba68-9324f0673096",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cheque-lock-box-create-cheque-lock-box"
        },
        "example": "cheque-lock-box-create-cheque-lock-box"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}