{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Deposit Lending Corporate Lease-spec",
    "description": "The Corporate Lease Deposit Management API facilitates the creation of deposit lending arrangements specifically tailored for corporate leases. This service allows businesses to streamline their financial operations by efficiently managing lease deposits. Typical consumers include corporate finance teams and leasing administrators who require a reliable method to handle deposit transactions. It supports operations that enhance financial planning and resource allocation, ensuring effective management of corporate leasing agreements.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/corporate-lease": {
      "post": {
        "tags": [
          "Corporate Lending"
        ],
        "summary": "Create a corporate lease deposit.",
        "description": "This endpoint allows for the creation of a lease deposit for corporate clients, facilitating the management of corporate loans and leases efficiently.",
        "operationId": "createDepositLendingCorporateLease",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a corporate lease deposit lending operation. Ensure that all required fields are populated according to the schema, which defines the structure and constraints of the payload. The operation will process the request and return the relevant response based on the provided input.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDepositLendingCorporateLeaseRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully for corporate lease.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateDepositLendingCorporateLeaseResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateDepositLendingCorporateLeaseRequest": {
        "title": "Corporate Lease Request Body",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-513303"
          },
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account.",
            "example": "ACC-808408"
          },
          "productCode": {
            "type": "string",
            "description": "The product code associated with the lease.",
            "example": "CHK-PREMIUM-US"
          },
          "principal": {
            "description": "The principal amount and currency for the lease.",
            "$ref": "#/components/schemas/AmountDetails"
          },
          "termMonths": {
            "type": "integer",
            "description": "The duration of the lease in months.",
            "format": "int32",
            "example": 1
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "The frequency of repayment for the lease.",
            "example": "STANDARD"
          },
          "leasedAssetId": {
            "type": "string",
            "description": "The unique identifier for the leased asset.",
            "example": "STANDARD"
          },
          "residualValue": {
            "description": "The residual value at the end of the lease.",
            "$ref": "#/components/schemas/AmountDetails"
          },
          "leaseTermMonths": {
            "type": "integer",
            "description": "The total lease term in months.",
            "format": "int32",
            "example": 1
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for a corporate lease operation.",
        "example": {
          "customerId": "CUST-513303",
          "accountId": "ACC-808408",
          "productCode": "CHK-PREMIUM-US",
          "principal": {
            "amount": 100.0,
            "currency": "USD"
          },
          "termMonths": 1,
          "repaymentFrequency": "STANDARD",
          "leasedAssetId": "STANDARD",
          "residualValue": {
            "amount": 100.0,
            "currency": "USD"
          },
          "leaseTermMonths": 1,
          "requestContext": {
            "requestId": "a7461b6f-fbb1-5d25-8a58-f91677afe3ab",
            "correlationId": "20b82970-7a2d-5f07-9ce6-bf03cee14ac9",
            "idempotencyKey": "c65db711-f3ff-5a3e-b4e1-a7c48153f1ed",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-848909"
            }
          }
        }
      },
      "AmountDetails": {
        "title": "Amount Details",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The monetary amount.",
            "example": 1000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency code for the amount.",
            "example": "USD"
          }
        },
        "description": "Schema containing details about an amount and its currency."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "req-abc123"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracing the request.",
            "example": "corr-xyz789"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotent requests.",
            "example": "idempotency-key-001"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp for when the request was made.",
            "example": "2021-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system from which the request originated.",
            "example": "source-system-1"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that made the request.",
            "example": "app-frontend"
          },
          "channel": {
            "description": "Details about the channel through which the request was made.",
            "$ref": "#/components/schemas/ChannelDetails"
          }
        },
        "description": "Schema containing contextual information about the request."
      },
      "ChannelDetails": {
        "title": "Channel Details",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel123"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier for the device used.",
            "example": "device-xyz"
          }
        },
        "description": "Schema containing details about the channel used for the request."
      },
      "CreateDepositLendingCorporateLeaseResponse_201": {
        "title": "Corporate Lease Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier of the customer.",
            "example": "CUST-536145"
          },
          "accountId": {
            "type": "string",
            "description": "The unique identifier of the account associated with the lease.",
            "example": "ACC-574595"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the product associated with the lease.",
            "example": "CHK-PREMIUM-US"
          },
          "leasedAssetId": {
            "type": "string",
            "description": "The unique identifier of the asset that is leased.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier of the resource related to the transaction.",
            "example": "RES-894989"
          },
          "status": {
            "type": "string",
            "description": "The current status of the corporate lease operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the lease was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "The unique identifier for the response.",
                "example": "RESP123456"
              },
              "correlationId": {
                "type": "string",
                "description": "The identifier used to correlate related requests.",
                "example": "CORR123456"
              },
              "generatedAt": {
                "type": "string",
                "description": "The timestamp when the metadata was generated.",
                "example": "2023-10-01T12:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region where the processing of the lease took place.",
                "example": "us-west-1"
              }
            },
            "description": "Additional metadata related to the lease operation.",
            "example": {
              "responseId": "754d4517-aa65-57ad-a242-6f0e02001a64",
              "correlationId": "20b82970-7a2d-5f07-9ce6-bf03cee14ac9",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "This schema represents the response for the corporate lease operation.",
        "example": {
          "customerId": "CUST-536145",
          "accountId": "ACC-574595",
          "productCode": "CHK-PREMIUM-US",
          "leasedAssetId": "STANDARD",
          "resourceId": "RES-894989",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "754d4517-aa65-57ad-a242-6f0e02001a64",
            "correlationId": "20b82970-7a2d-5f07-9ce6-bf03cee14ac9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint that was invoked. This helps in tracing the request back to the specific operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "corporate-lease-create-corporate-lease"
        },
        "example": "corporate-lease-create-corporate-lease"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request. Useful for identifying the service handling the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the HTTP Bearer authentication scheme, where a bearer token is provided as a means of authentication. The token must be a valid JSON Web Token (JWT) that is included in the Authorization header of the request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}