{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Banking Card Cash Withdrawal-v5-spec",
    "description": "MICROSERVICE-PROD-Create Banking Card Cash Withdrawal-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9003",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cards/{cardId}/cash-withdrawals": {
      "post": {
        "operationId": "createBankingCardCashWithdrawal",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/cardId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBankingCardCashWithdrawalRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              },
              "x-workflow-id": {
                "$ref": "#/components/headers/x-workflow-id"
              },
              "x-workflow-name": {
                "$ref": "#/components/headers/x-workflow-name"
              },
              "x-workflow-state": {
                "$ref": "#/components/headers/x-workflow-state"
              },
              "x-workflow-execution-id": {
                "$ref": "#/components/headers/x-workflow-execution-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBankingCardCashWithdrawalResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateBankingCardCashWithdrawalRequest": {
        "type": "object",
        "properties": {
          "cardToken": {
            "type": "string",
            "example": "TOK-554275"
          },
          "cardholderId": {
            "type": "string",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "example": "MER-936673"
          },
          "transactionAmount": {
            "type": "object",
            "properties": {
              "amount": {
                "type": "number",
                "example": 0.0
              },
              "currency": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "amount": 100.0,
              "currency": "USD"
            }
          },
          "merchantCategoryCode": {
            "type": "string",
            "example": "5411"
          },
          "authorizationType": {
            "type": "string",
            "example": "STANDARD"
          },
          "terminalEntryMode": {
            "type": "string",
            "example": "STANDARD"
          },
          "threeDSecureResult": {
            "type": "string",
            "example": "STANDARD"
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "9cef8580-b520-50e3-b7ce-3a22c536756e",
              "correlationId": "06303ea7-4f0a-5cab-978f-bbd0182f0eae",
              "idempotencyKey": "23140499-026d-546e-90a6-743ea9a6ff93",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-187293"
              }
            }
          }
        },
        "example": {
          "cardToken": "TOK-554275",
          "cardholderId": "STANDARD",
          "merchantId": "MER-936673",
          "transactionAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "merchantCategoryCode": "5411",
          "authorizationType": "STANDARD",
          "terminalEntryMode": "STANDARD",
          "threeDSecureResult": "STANDARD",
          "requestContext": {
            "requestId": "9cef8580-b520-50e3-b7ce-3a22c536756e",
            "correlationId": "06303ea7-4f0a-5cab-978f-bbd0182f0eae",
            "idempotencyKey": "23140499-026d-546e-90a6-743ea9a6ff93",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-187293"
            }
          }
        }
      },
      "CreateBankingCardCashWithdrawalResponse_200": {
        "type": "object",
        "properties": {
          "cardholderId": {
            "type": "string",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "example": "MER-947174"
          },
          "merchantCategoryCode": {
            "type": "string",
            "example": "5411"
          },
          "authorizationId": {
            "type": "string",
            "example": "STANDARD"
          },
          "decision": {
            "type": "string",
            "example": "STANDARD"
          },
          "reasonCode": {
            "type": "string",
            "example": "CODE-269"
          },
          "authorizedAt": {
            "type": "string",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "28e946b3-2f77-55af-ab33-f82fd2a44c32",
              "correlationId": "06303ea7-4f0a-5cab-978f-bbd0182f0eae",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "cardholderId": "STANDARD",
          "merchantId": "MER-947174",
          "merchantCategoryCode": "5411",
          "authorizationId": "STANDARD",
          "decision": "STANDARD",
          "reasonCode": "CODE-269",
          "authorizedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "28e946b3-2f77-55af-ab33-f82fd2a44c32",
            "correlationId": "06303ea7-4f0a-5cab-978f-bbd0182f0eae",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "cardId": {
        "name": "cardId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-authorization-authorize-card-authorization"
        },
        "example": "card-authorization-authorize-card-authorization"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      },
      "x-workflow-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-024"
        },
        "example": "WF-024"
      },
      "x-workflow-name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ATM Cash Withdrawal Authorization and Posting"
        },
        "example": "ATM Cash Withdrawal Authorization and Posting"
      },
      "x-workflow-state": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "x-workflow-execution-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "d8a3c3dd-06f9-4652-b8e5-fc33d8636878"
        },
        "example": "d8a3c3dd-06f9-4652-b8e5-fc33d8636878"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}