{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Facility Equipment Administrations-spec",
    "description": "The Facility Equipment Administration Retrieval API provides access to detailed information about equipment administration for various facilities. This endpoint allows users to query equipment details, administration records, and status updates through a simple GET request. Typical consumers include facility managers, maintenance teams, and financial analysts who require insights into operational efficiency and resource allocation. By facilitating easy access to equipment administration data, this API supports informed decision-making and enhances operational management within the banking sector.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/facilities/equipment-administration": {
      "get": {
        "tags": [
          "Equipment Management"
        ],
        "summary": "Retrieve Equipment Administration Information",
        "description": "This endpoint retrieves information related to the administration of equipment within facilities. It provides details necessary for managing equipment effectively.",
        "operationId": "listFacilityEquipmentAdministrations",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body contains the necessary information to retrieve equipment administration details. Ensure that the data adheres to the schema defined for the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListFacilityEquipmentAdministrationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of equipment administration data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListFacilityEquipmentAdministrationsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListFacilityEquipmentAdministrationsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on equipment administration in facilities.",
        "example": "{}"
      },
      "ListFacilityEquipmentAdministrationsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of equipment items.",
            "example": [
              {
                "siteId": "STANDARD",
                "assetId": "STANDARD",
                "workOrderId": "ORD-630051",
                "scheduledDate": "2026-09-15",
                "vendorId": "STANDARD",
                "facilityZone": "STANDARD",
                "maintenanceType": "STANDARD",
                "estimatedDurationMinutes": 1,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/EquipmentItem"
            }
          },
          "pagination": {
            "description": "Pagination information.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Additional metadata about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "example": {
          "items": [
            {
              "siteId": "STANDARD",
              "assetId": "STANDARD",
              "workOrderId": "ORD-630051",
              "scheduledDate": "2026-09-15",
              "vendorId": "STANDARD",
              "facilityZone": "STANDARD",
              "maintenanceType": "STANDARD",
              "estimatedDurationMinutes": 1,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "d41c067a-7aed-57de-b245-137ca6ce3442",
            "correlationId": "404e097b-eaa4-5dd3-b8da-f4dc4d1b1da9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EquipmentItem": {
        "type": "object",
        "properties": {
          "siteId": {
            "type": "string",
            "description": "The unique identifier for the site where the equipment is located."
          },
          "assetId": {
            "type": "string",
            "description": "The unique identifier for the asset (equipment) itself."
          },
          "workOrderId": {
            "type": "string",
            "description": "The unique identifier for the associated work order."
          },
          "scheduledDate": {
            "type": "string",
            "description": "The date on which the maintenance is scheduled."
          },
          "vendorId": {
            "type": "string",
            "description": "The unique identifier for the vendor responsible for the maintenance."
          },
          "facilityZone": {
            "type": "string",
            "description": "The specific zone within the facility where the equipment is located."
          },
          "maintenanceType": {
            "type": "string",
            "description": "The type of maintenance being performed (e.g., routine, emergency)."
          },
          "estimatedDurationMinutes": {
            "type": "integer",
            "description": "Estimated duration for the maintenance in minutes.",
            "format": "int32"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the maintenance record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the record was last updated."
          }
        },
        "example": {
          "siteId": "site123",
          "assetId": "asset456",
          "workOrderId": "workOrder789",
          "scheduledDate": "2023-10-12T00:00:00Z",
          "vendorId": "vendor101",
          "facilityZone": "zoneA",
          "maintenanceType": "routine",
          "estimatedDurationMinutes": 30,
          "recordStatus": "completed",
          "updatedAt": "2023-10-10T12:00:00Z"
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number of the paginated results.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items across all pages.",
            "format": "int32"
          }
        },
        "example": {
          "page": 1,
          "pageSize": 10,
          "totalItems": 100
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier that helps to trace requests in the system."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed."
          }
        },
        "example": {
          "responseId": "response123",
          "correlationId": "correlation456",
          "generatedAt": "2023-10-10T12:00:00Z",
          "processingRegion": "us-west-1"
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "equipment-administration-search-equipment-administration"
        },
        "example": "equipment-administration-search-equipment-administration"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, specifically with JSON Web Tokens (JWT). Clients must include the token in the Authorization header using the format 'Bearer {token}' to access secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}