{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Card Merchant Relation-spec",
    "description": "The Card Merchant Relationship Management API enables businesses to establish and manage relationships between payment cards and merchants. This API facilitates the integration of card data with merchant profiles, allowing for streamlined transaction processing and improved customer experiences. Typical consumers include financial institutions, payment processors, and developers working on e-commerce solutions. With this API, users can effectively create and manage associations, ensuring that transactions are accurately attributed to the correct merchants.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9003",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cards/merchant-relations": {
      "post": {
        "tags": [
          "Card Services"
        ],
        "summary": "Create a new merchant relation for a card",
        "description": "This operation allows clients to establish a new relationship between a card and a merchant, facilitating various payment and transaction features.",
        "operationId": "createCardMerchantRelation",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create or update merchant relations associated with cards. It requires JSON formatted data that complies with the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCardMerchantRelationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully and returned.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCardMerchantRelationResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCardMerchantRelationRequest": {
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "The unique identifier for the merchant.",
            "example": "MER-465848"
          },
          "legalName": {
            "type": "string",
            "description": "The legal name of the merchant.",
            "example": "Olivia Bennett"
          },
          "merchantCategoryCode": {
            "type": "string",
            "description": "The category code that represents the merchant's business type.",
            "example": "5411"
          },
          "settlementAccountId": {
            "type": "string",
            "description": "The identifier for the settlement account associated with the merchant.",
            "example": "ACC-603776"
          },
          "settlementCurrency": {
            "type": "string",
            "description": "The currency used for settling with the merchant.",
            "example": "USD"
          },
          "pricingPlan": {
            "type": "string",
            "description": "The pricing plan associated with the merchant.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "example": {
          "merchantId": "MER-465848",
          "legalName": "Olivia Bennett",
          "merchantCategoryCode": "5411",
          "settlementAccountId": "ACC-603776",
          "settlementCurrency": "USD",
          "pricingPlan": "STANDARD",
          "requestContext": {
            "requestId": "973d1822-7c04-5a94-9fd5-8df8e5692ec6",
            "correlationId": "16e2a1ab-a006-5dad-8876-f92c3d3e0ed2",
            "idempotencyKey": "3968fe5a-a3db-5b6c-a56d-bba4bba3dc5e",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-805070"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req_12345"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to track requests across systems.",
            "example": "corr_67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure that the request can be safely retried.",
            "example": "idempotent_abc"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp at which the request was made.",
            "example": "2023-10-01T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "systemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that made the request.",
            "example": "appX"
          },
          "channel": {
            "description": "Details about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Context information related to the request being made."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "A unique identifier for the channel.",
            "example": "channel_123"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used for the channel.",
            "example": "device_456"
          }
        },
        "description": "Information about the channel used for the request."
      },
      "CreateCardMerchantRelationResponse_201": {
        "title": "Merchant Relations Response",
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant.",
            "example": "MER-797488"
          },
          "merchantCategoryCode": {
            "type": "string",
            "description": "Category code associated with the merchant.",
            "example": "5411"
          },
          "settlementAccountId": {
            "type": "string",
            "description": "Identifier for the merchant's settlement account.",
            "example": "ACC-444697"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource.",
            "example": "RES-332979"
          },
          "status": {
            "type": "string",
            "description": "Current status of the merchant relation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the merchant relation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional information related to the merchant relation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response after creating or updating a merchant relation.",
        "example": {
          "merchantId": "MER-797488",
          "merchantCategoryCode": "5411",
          "settlementAccountId": "ACC-444697",
          "resourceId": "RES-332979",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "ff8ef6b4-b0ca-5284-825a-d7e8345226dc",
            "correlationId": "16e2a1ab-a006-5dad-8876-f92c3d3e0ed2",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate the request with the response.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "This schema contains metadata associated with the merchant relation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the specific endpoint that was called during the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "merchant-relations-create-merchant-relations"
        },
        "example": "merchant-relations-create-merchant-relations"
      },
      "x-runtime-app": {
        "description": "The name of the application that processed the request and generated the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JSON Web Tokens (JWT) to authenticate users. To access protected resources, clients must include a valid JWT in the Authorization header as a Bearer token.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}