{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Mortgage Loan Management API",
    "description": "The Mortgage Loan Management API enables financial institutions to update existing mortgage loan details efficiently. Utilizing this API, users can modify critical loan parameters, ensuring that the loan records remain accurate and up-to-date. This functionality is typically used by loan officers and administrative staff in banks to manage customer mortgage agreements effectively. By streamlining the loan adjustment processes, this API supports enhanced customer service and operational efficiency within lending operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://accounts-deposits-app:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/mortgage-loan/{param1}": {
      "patch": {
        "tags": [
          "Mortgage Loan Management"
        ],
        "summary": "Update Mortgage Loan Details",
        "description": "This endpoint allows users to update details of a specific mortgage loan identified by its loan ID. Utilize this operation to modify any relevant information related to the mortgage loan such as interest rates, term, or payment schedules.",
        "operationId": "patchDepositLendingMortgageLoan500045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the details of the specified mortgage loan with ID LOAN-500045. It should contain the relevant fields that need to be modified in the existing loan record.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchDepositLendingMortgageLoan500045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success: The mortgage loan details were successfully updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchDepositLendingMortgageLoan500045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchDepositLendingMortgageLoan500045Request": {
        "title": "Mortgage Loan Operations Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "description": "An object containing changes to be made to the mortgage loan.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the changes being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date at which the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the party requesting the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for operations on a mortgage loan in the PATCH method.",
        "example": {
          "changes": {
            "customerId": "CUST-228337",
            "accountId": "ACC-926586",
            "productCode": "CHK-PREMIUM-US"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "50fd1177-4e07-5454-8404-82f75a55d80a",
            "correlationId": "2652a6dc-c630-51e6-8ed3-4b559e67e58c",
            "idempotencyKey": "8056f1dc-23af-5bc9-be71-daf068bdcd87",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-419819"
            }
          }
        }
      },
      "Changes": {
        "title": "Changes",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier of the customer associated with the mortgage loan.",
            "example": "cust123"
          },
          "accountId": {
            "type": "string",
            "description": "The unique identifier of the mortgage loan account.",
            "example": "acc456"
          },
          "productCode": {
            "type": "string",
            "description": "The product code associated with the mortgage loan.",
            "example": "MORTGAGE-2023"
          }
        },
        "description": "Schema representing the changes to be applied to the mortgage loan."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate logs and events across systems.",
            "example": "corr-456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to maintain idempotency of the request.",
            "example": "ido123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the system originating the request.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the application that sent the request.",
            "example": "LoanManagementApp"
          },
          "channel": {
            "description": "Details about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing contextual information regarding the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel789"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used to initiate the request.",
            "example": "Online"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used by the user.",
            "example": "device123"
          }
        },
        "description": "Schema representing details of the channel used for the request."
      },
      "PatchDepositLendingMortgageLoan500045Response_200": {
        "title": "Mortgage Loan Operations Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the PATCH operation on a mortgage loan.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "4c090d7a-c601-5806-87e6-81fcde46f03f",
            "correlationId": "2652a6dc-c630-51e6-8ed3-4b559e67e58c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate requests and responses.",
            "example": "abcde-67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "US-East"
          }
        },
        "description": "Metadata information about the response."
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-037"
        },
        "example": "WF-037"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "2a01bb32-f2bd-4d65-92f9-9f5da61978cc"
        },
        "example": "2a01bb32-f2bd-4d65-92f9-9f5da61978cc"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "dcd40031-fc18-4e2f-828d-32366d7c6959"
        },
        "example": "dcd40031-fc18-4e2f-828d-32366d7c6959"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "mortgage-loan-update-mortgage-loan"
        },
        "example": "mortgage-loan-update-mortgage-loan"
      },
      "X-Runtime-App": {
        "description": "The name or identifier of the application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      },
      "X-Workflow-Id": {
        "description": "An identifier for the workflow associated with the processing of this request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-037"
        },
        "example": "WF-037"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Loan Restructuring and Forbearance"
        },
        "example": "Loan Restructuring and Forbearance"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "dcd40031-fc18-4e2f-828d-32366d7c6959"
        },
        "example": "dcd40031-fc18-4e2f-828d-32366d7c6959"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication via JSON Web Tokens (JWT). Clients must include the bearer token in the Authorization header when making requests to authenticate themselves.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}