{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Banking Human Resource Management Recruitment-v5-spec",
    "description": "The Recruitment Management API facilitates the creation and management of recruitment processes within the banking sector. This endpoint allows organizations to initiate hiring procedures, input candidate data, and establish job postings efficiently. Typical consumers include HR professionals and recruitment teams aiming to streamline their hiring workflows. By employing this API, businesses can enhance their talent acquisition strategies and improve overall hiring outcomes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/recruitment": {
      "post": {
        "tags": [
          "Recruitment"
        ],
        "summary": "Create a new recruitment entry",
        "description": "This endpoint allows you to create a new recruitment entry in the human resource management system. It will process the provided data to add a candidate or job opening to the records.",
        "operationId": "createBankingHumanResourceManagementRecruitment",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit a recruitment operation in the human resource management system. It should contain all the necessary details required for processing the recruitment request, following the specified schema format.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBankingHumanResourceManagementRecruitmentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The recruitment resource has been successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBankingHumanResourceManagementRecruitmentResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateBankingHumanResourceManagementRecruitmentRequest": {
        "title": "Recruitment Request Body",
        "type": "object",
        "properties": {
          "requisitionId": {
            "type": "string",
            "description": "Unique identifier for the recruitment requisition.",
            "example": "STANDARD"
          },
          "positionTitle": {
            "type": "string",
            "description": "Title of the position being requested.",
            "example": "STANDARD"
          },
          "departmentId": {
            "type": "string",
            "description": "Identifier for the department associated with the position.",
            "example": "STANDARD"
          },
          "employmentType": {
            "type": "string",
            "description": "Type of employment (e.g., full-time, part-time, contract).",
            "example": "STANDARD"
          },
          "location": {
            "type": "string",
            "description": "Geographical location of the job position.",
            "example": "STANDARD"
          },
          "targetStartDate": {
            "type": "string",
            "description": "Target date for the desired start of the new hire.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "description": "Contextual information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the recruitment request body when creating a new recruitment operation.",
        "example": {
          "requisitionId": "STANDARD",
          "positionTitle": "STANDARD",
          "departmentId": "STANDARD",
          "employmentType": "STANDARD",
          "location": "STANDARD",
          "targetStartDate": "2026-09-15",
          "requestContext": {
            "requestId": "efe71f6d-b634-5628-b1f5-0d8dec09ebad",
            "correlationId": "40621a6b-1530-5382-a365-c8c3ea5aa98d",
            "idempotencyKey": "9eab9f25-f0cb-5836-b1b1-a3a3a773e0ff",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-343893"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ-UUID-1234"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracking the request across systems.",
            "example": "CORR-UUID-5678"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotent requests.",
            "example": "IDEM-KEY-9012"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-09-30T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Source system from which the request originated.",
            "example": "HRM System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application used to make the request.",
            "example": "Recruitment Portal"
          },
          "channel": {
            "description": "Channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information about the request, including identifiers and timestamps."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "CH-12345"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., web, mobile, API).",
            "example": "WEB"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the channel.",
            "example": "DEV-67890"
          }
        },
        "description": "Details about the channel used for the request."
      },
      "CreateBankingHumanResourceManagementRecruitmentResponse_201": {
        "type": "object",
        "properties": {
          "requisitionId": {
            "type": "string",
            "description": "The unique identifier for the requisition.",
            "example": "STANDARD"
          },
          "departmentId": {
            "type": "string",
            "description": "The unique identifier for the department related to the requisition.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource allocated to the requisition.",
            "example": "RES-767257"
          },
          "status": {
            "type": "string",
            "description": "The current status of the requisition.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the requisition was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the requisition response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for the recruitment operation.",
        "example": {
          "requisitionId": "STANDARD",
          "departmentId": "STANDARD",
          "resourceId": "RES-767257",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "68f02b3a-cd4e-5273-b802-562ceb63db4e",
            "correlationId": "40621a6b-1530-5382-a365-c8c3ea5aa98d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to correlate this request with other related requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographical region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Schema representing additional metadata for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "recruitment-create-recruitment"
        },
        "example": "recruitment-create-recruitment"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication, where the client sends a token in the Authorization header. The token format follows the JSON Web Token (JWT) specification.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}