{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Enterprise Service Approved Supplier Directorys-spec",
    "description": "The Approved Supplier Directory API provides access to a comprehensive list of suppliers that have been approved for enterprise services within the banking sector. This API enables businesses to easily retrieve information on compliant suppliers, enhancing procurement processes and ensuring regulatory adherence. Typical consumers include procurement teams and compliance officers looking to verify or source suppliers quickly. Utilize this API to streamline supplier selection and ensure your enterprise services are aligned with approved standards.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/enterprise-services/approved-supplier-directory": {
      "get": {
        "tags": [
          "Supplier Management"
        ],
        "summary": "Retrieve the approved supplier directory.",
        "description": "This endpoint allows users to fetch the list of approved suppliers within the enterprise services. It provides a comprehensive overview of all suppliers that have met the necessary approval criteria, enabling users to make informed decisions based on this information.",
        "operationId": "listEnterpriseServiceApprovedSupplierDirectorys",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve data from the Approved Supplier Directory. It should contain the necessary parameters that dictate the filtering or details needed about approved suppliers.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListEnterpriseServiceApprovedSupplierDirectorysRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of the approved supplier directory.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListEnterpriseServiceApprovedSupplierDirectorysResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListEnterpriseServiceApprovedSupplierDirectorysRequest": {
        "type": "string",
        "description": "Request body for the approved supplier directory operations fetched via GET request.",
        "example": "{}"
      },
      "ListEnterpriseServiceApprovedSupplierDirectorysResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of supplier approval requests.",
            "example": [
              {
                "requestId": "7c94f15f-09f5-55ee-8ec6-985e5c24a137",
                "supplierId": "STANDARD",
                "costCenter": "STANDARD",
                "amount": {
                  "value": 100.0,
                  "currency": "USD"
                },
                "requestedBy": "STANDARD",
                "purchaseOrderId": "ORD-404798",
                "categoryCode": "CODE-625",
                "approvalLevel": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/SupplierApprovalRequest"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the approved supplier directory GET operation.",
        "example": {
          "items": [
            {
              "requestId": "7c94f15f-09f5-55ee-8ec6-985e5c24a137",
              "supplierId": "STANDARD",
              "costCenter": "STANDARD",
              "amount": {
                "value": 100.0,
                "currency": "USD"
              },
              "requestedBy": "STANDARD",
              "purchaseOrderId": "ORD-404798",
              "categoryCode": "CODE-625",
              "approvalLevel": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "fcce9fbe-fbeb-594d-9058-fa247b74550d",
            "correlationId": "4ccd787c-d670-547f-bbf4-917f4cb4c0d1",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "SupplierApprovalRequest": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the supplier request."
          },
          "supplierId": {
            "type": "string",
            "description": "Identifier for the supplier."
          },
          "costCenter": {
            "type": "string",
            "description": "Cost center associated with the approval request."
          },
          "amount": {
            "$ref": "#/components/schemas/Amount"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the user who requested the approval."
          },
          "purchaseOrderId": {
            "type": "string",
            "description": "Identifier for the associated purchase order."
          },
          "categoryCode": {
            "type": "string",
            "description": "Category code for the supplier request."
          },
          "approvalLevel": {
            "type": "string",
            "description": "Current approval level of the request."
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the supplier request."
          }
        },
        "description": "Details of an individual supplier approval request."
      },
      "Amount": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The numeric value of the amount."
          },
          "currency": {
            "type": "string",
            "description": "Currency of the amount."
          }
        },
        "description": "Monetary amount associated with the approval request."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Pagination information for the results."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the API response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred."
          }
        },
        "description": "Metadata associated with the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint being accessed. This ID helps track and manage the API endpoint in the system.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "approved-supplier-directory-search-approved-supplier-directory"
        },
        "example": "approved-supplier-directory-search-approved-supplier-directory"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is making the request. This information can be useful for monitoring and analytics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication, which involves the use of a token that is passed in the `Authorization` header. The token must be a valid JSON Web Token (JWT).",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}