{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Replace Product Management By Param1-spec",
    "description": "This API allows authorized users to update the product design details for a specific banking product identified by a unique parameter. By providing the necessary data and the product's identifier, businesses can effectively manage and refine their product offerings. It is designed for use by banks and financial institutions aiming to synchronize product information across their platforms. Typical consumers include product managers and developers involved in maintaining the product catalog and optimizing user experience.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/product-management/product-design/{param1}": {
      "put": {
        "tags": [
          "Product Management"
        ],
        "summary": "Update Product Design Information",
        "description": "This endpoint allows you to update the design details of a specific product identified by PROD-700045. Ensure that all required fields are included in the request body for a successful update.",
        "operationId": "replaceProductManagementByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "The request body for updating the product design with the identifier PROD-700045. This payload should include all necessary attributes required to modify the existing product's design specifications.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceProductManagementByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful update of the product design.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceProductManagementByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ReplaceProductManagementByParam1Request": {
        "title": "Product Design Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "$ref": "#/components/schemas/ProductChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change in product design.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The effective date for the changes.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The individual or system making the request.",
            "example": "STANDARD"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the request body to update product design information.",
        "example": {
          "changes": {
            "productCode": "CHK-PREMIUM-US",
            "productName": "Northstar Banking Service",
            "customerSegment": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "696df437-303f-5a7a-b14b-7484488da9ac",
            "correlationId": "ae734a46-7fae-5343-96ae-ce7b2738f4b8",
            "idempotencyKey": "e6ba70e2-aa8b-58f5-a70d-764ccb6015e8",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-524830"
            }
          }
        }
      },
      "ProductChanges": {
        "title": "Product Changes",
        "type": "object",
        "properties": {
          "productCode": {
            "type": "string",
            "description": "The code associated with the product.",
            "example": "string"
          },
          "productName": {
            "type": "string",
            "description": "The name of the product.",
            "example": "string"
          },
          "customerSegment": {
            "type": "string",
            "description": "The target customer segment for the product.",
            "example": "string"
          }
        },
        "description": "Schema representing the changes to be made to the product."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking related requests across systems.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name of the system that initiated the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application that initiated the request.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema capturing context information about the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel through which the request is made.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel, e.g., web, mobile.",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Schema representing information about the request channel."
      },
      "ReplaceProductManagementByParam1Response_200": {
        "title": "Product Management Response Schema",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for the product management operation.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "f70f9486-1398-5e78-a2a8-74054eaed1e7",
            "correlationId": "ae734a46-7fae-5343-96ae-ce7b2738f4b8",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Schema",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Schema representing metadata information for the product management response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifier for the specific endpoint being called. This header is used to track and log the API endpoint used in this request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "product-design-update-product-design"
        },
        "example": "product-design-update-product-design"
      },
      "X-Runtime-App": {
        "description": "Indicates the runtime application associated with the request. This header allows backend services to identify which application initiated the API call.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      },
      "X-Workflow-Id": {
        "description": "Unique identifier for the workflow associated with the request. This header is used for tracking and logging purposes to associate API calls with specific workflows.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-094"
        },
        "example": "WF-094"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow associated with this operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Product Design Approval and Catalog Publication"
        },
        "example": "Product Design Approval and Catalog Publication"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow, indicating its progress (e.g., 'pending', 'in_progress', 'completed').",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the execution of the workflow, useful for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "9aeb2006-9385-4727-92bd-763a380cb439"
        },
        "example": "9aeb2006-9385-4727-92bd-763a380cb439"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses Bearer tokens, specifically in the JWT (JSON Web Token) format. This is used to secure API endpoints by providing a token in the authorization header which grants access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}