{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Operation Nce Create Equipment Maintenances-spec",
    "description": "The Equipment Maintenance Operations API provides access to critical actions related to the management of equipment maintenance within banking facilities. This API allows users to retrieve detailed information about specific equipment maintenance operations, enhancing visibility and operational efficiency. Typical consumers include facility managers and maintenance teams looking to track and manage maintenance activities effectively. By using this API, businesses can streamline their equipment upkeep processes, ensuring their operations run smoothly and efficiently.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/facilities/equipment-maintenance/{param1}/operations/nce-create-equipment-maintenance": {
      "get": {
        "tags": [
          "Equipment Maintenance"
        ],
        "summary": "Retrieve NCE for Equipment Maintenance",
        "description": "This endpoint allows the user to retrieve the NCE (New Construction Equipment) details for the Equipment Maintenance of the specified facility. It provides detailed information regarding the maintenance operations for equipment used in facility management.",
        "operationId": "listOperationNceCreateEquipmentMaintenances",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for creating an equipment maintenance operation for the specified facility. It should contain all necessary details required to initiate the maintenance process.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListOperationNceCreateEquipmentMaintenancesRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The equipment maintenance request was created successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOperationNceCreateEquipmentMaintenancesResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListOperationNceCreateEquipmentMaintenancesRequest": {
        "type": "string",
        "description": "This schema represents a JSON string format for requesting the creation of equipment maintenance operations.",
        "example": "{}"
      },
      "ListOperationNceCreateEquipmentMaintenancesResponse_201": {
        "title": "Equipment Maintenance Response",
        "type": "object",
        "properties": {
          "siteId": {
            "type": "string",
            "description": "The identifier for the site where the equipment is located.",
            "example": "STANDARD"
          },
          "assetId": {
            "type": "string",
            "description": "The identifier for the asset being maintained.",
            "example": "STANDARD"
          },
          "workOrderId": {
            "type": "string",
            "description": "The identifier for the work order associated with the maintenance.",
            "example": "ORD-445695"
          },
          "vendorId": {
            "type": "string",
            "description": "The identifier for the vendor responsible for the maintenance service.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "The identifier for the resource related to the maintenance operation.",
            "example": "RES-129421"
          },
          "status": {
            "type": "string",
            "description": "The current status of the maintenance operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the maintenance record was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional information related to the maintenance operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for creating equipment maintenance operations in the system.",
        "example": {
          "siteId": "STANDARD",
          "assetId": "STANDARD",
          "workOrderId": "ORD-445695",
          "vendorId": "STANDARD",
          "resourceId": "RES-129421",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "449ea4a9-2549-5d7f-9f05-d7aa5da1b6c3",
            "correlationId": "7b560f50-54e7-57e0-9f1e-67320bb8d211",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The identifier for the response related to the operation.",
            "example": "response-303"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier to correlate related requests and responses.",
            "example": "correlation-404"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-01-01T12:30:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "us-west-1"
          }
        },
        "description": "Schema representing the metadata associated with an operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "equipment-maintenance-create-equipment-maintenance"
        },
        "example": "equipment-maintenance-create-equipment-maintenance"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      },
      "X-Workflow-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-099"
        },
        "example": "WF-099"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Property Facility and Equipment Maintenance"
        },
        "example": "Property Facility and Equipment Maintenance"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "750d1757-8792-4195-a9c4-5d75f9e52d70"
        },
        "example": "750d1757-8792-4195-a9c4-5d75f9e52d70"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer Authentication method, allowing clients to authenticate themselves using a Bearer token, typically a JSON Web Token (JWT). The token is sent in the 'Authorization' header of the HTTP request, following the format 'Bearer <token>'. This mechanism is commonly used for secure API access.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}