{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Partner Authentication API",
    "description": "The Partner Authentication API facilitates secure access for business partners by enabling them to authenticate their identities within the system. This API allows for the submission of authentication requests, ensuring that only authorized users gain access to protected resources. Typical consumers include B2B partners integrating their systems for seamless interaction. By leveraging this API, organizations can enhance security while streamlining the authentication process for their partners.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/partners/authentication": {
      "post": {
        "tags": [
          "Partner Operations"
        ],
        "summary": "Authenticate a partner user.",
        "description": "This endpoint is used to authenticate partner users by verifying their credentials. Upon successful authentication, a token will be provided for further API requests.",
        "operationId": "authenticatePartner",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used for partner authentication. It requires a valid JSON object that contains the necessary credentials and parameters needed for authenticating the partner's identity.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthenticatePartnerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authentication successful and user is logged in.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticatePartnerResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "AuthenticatePartnerRequest": {
        "title": "Partner Authentication Request Body",
        "required": [
          "partnerId",
          "partnerSecret",
          "requestContext"
        ],
        "type": "object",
        "properties": {
          "partnerId": {
            "type": "string",
            "description": "The unique identifier for the partner.",
            "example": "STANDARD"
          },
          "partnerSecret": {
            "type": "string",
            "description": "The secret key associated with the partner for authentication.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "The context of the request including identifiers and metadata.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "The request body schema for partner authentication operations.",
        "example": {
          "partnerId": "STANDARD",
          "partnerSecret": "STANDARD",
          "requestContext": {
            "requestId": "710c7bd4-d37d-5c53-a219-d949e45699d7",
            "correlationId": "384ad47a-3cf7-5d7a-9f0b-a2f5531a328f",
            "idempotencyKey": "2c43429a-6122-570f-b368-68ef48095649",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-132890"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "required": [
          "channel",
          "correlationId",
          "idempotencyKey",
          "requestId",
          "requestedAt",
          "sourceApplication",
          "sourceSystem"
        ],
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the specific request.",
            "example": "request123"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used to track the request across multiple systems.",
            "example": "correlation456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of the request.",
            "example": "idempotentKey789"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was initiated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "SourceSystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "SourceApplicationX"
          },
          "channel": {
            "description": "Details about the channel through which the request is made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request, which includes various identifiers and timestamps."
      },
      "Channel": {
        "title": "Channel Details",
        "required": [
          "channelId",
          "channelType"
        ],
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel789"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., API, Web, Mobile).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used to make the request.",
            "example": "device123"
          }
        },
        "description": "Schema representing the details of the channel used for the request."
      },
      "AuthenticatePartnerResponse_200": {
        "title": "Authentication Response",
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "description": "The authentication token issued upon successful login.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/AuthenticationMetadata"
          }
        },
        "description": "Response schema for successful authentication operations, containing a token and metadata.",
        "example": {
          "token": "STANDARD",
          "metadata": {
            "responseId": "a443a872-9517-5487-bb14-4bf651c48447",
            "correlationId": "384ad47a-3cf7-5d7a-9f0b-a2f5531a328f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AuthenticationMetadata": {
        "title": "Authentication Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request took place.",
            "example": "string"
          }
        },
        "description": "Metadata associated with the authentication response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint which can be used for tracking API usage and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-create-token"
        },
        "example": "open-finance-api-create-token"
      },
      "X-Runtime-App": {
        "description": "The name of the application or service that processed the request, useful for logging and monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication, which involves the use of a token. A JSON Web Token (JWT) is used as the bearer token that must be included in the Authorization header for API requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}