{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List P2m Settlements-spec",
    "description": "The P2M Settlements Retrieval API enables users to access and retrieve a list of P2M settlements efficiently. This endpoint serves as a resource for businesses to view detailed information about payment settlements between parties. Typical consumers of this API include financial analysts, accountants, and application developers who require insights into settlement data for reporting and reconciliation purposes. By leveraging this API, organizations can integrate and automate their financial operations with ease.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/settlements": {
      "get": {
        "tags": [
          "Settlement Management"
        ],
        "summary": "Retrieve a list of settlements.",
        "description": "This endpoint allows users to fetch all settlements available in the system. It provides detailed information about each settlement, enabling effective tracking and management.",
        "operationId": "listP2mSettlements",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving settlement information. It should contain the necessary parameters to fetch the required settlements data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListP2mSettlementsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of settlements.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListP2mSettlementsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListP2mSettlementsRequest": {
        "type": "string",
        "description": "This schema represents the request body expected for the GET operation related to settlements. It is a plain string that should contain the necessary information for the operation.",
        "example": "{}"
      },
      "ListP2mSettlementsResponse_200": {
        "title": "Settlement Operations Response",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number in the paginated response.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page in the paginated response.",
            "format": "int32",
            "example": 1
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32",
            "example": 1
          },
          "totalPages": {
            "type": "integer",
            "description": "The total number of pages available.",
            "format": "int32",
            "example": 1
          },
          "hasNext": {
            "type": "boolean",
            "description": "Indicates whether there is a next page of items.",
            "example": true
          },
          "links": {
            "type": "array",
            "description": "Array of links related to the paginated response.",
            "example": [
              {
                "rel": "STANDARD",
                "href": "https://example.com/resource",
                "method": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          },
          "items": {
            "type": "array",
            "description": "Array of settlement items in the response.",
            "example": [
              {
                "settlementId": "STANDARD",
                "merchantId": "MER-141282",
                "settlementAccountId": "ACC-323112",
                "periodStart": "2026-08-11T12:00:00Z",
                "periodEnd": "2026-08-11T12:00:00Z",
                "currency": "USD",
                "status": "ACTIVE",
                "summary": {
                  "grossPayments": {
                    "currency": "USD",
                    "value": "STANDARD"
                  },
                  "refunds": {
                    "currency": "USD",
                    "value": "STANDARD"
                  },
                  "reversals": {
                    "currency": "USD",
                    "value": "STANDARD"
                  },
                  "disputes": {
                    "currency": "USD",
                    "value": "STANDARD"
                  },
                  "fees": {
                    "currency": "USD",
                    "value": "STANDARD"
                  },
                  "taxes": {
                    "currency": "USD",
                    "value": "STANDARD"
                  },
                  "reserveHeld": {
                    "currency": "USD",
                    "value": "STANDARD"
                  },
                  "reserveReleased": {
                    "currency": "USD",
                    "value": "STANDARD"
                  },
                  "adjustments": {
                    "currency": "USD",
                    "value": "STANDARD"
                  },
                  "netSettlement": {
                    "currency": "USD",
                    "value": "STANDARD"
                  }
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/SettlementItem"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "Correlation ID for tracking the request.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the response was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region where the processing took place.",
                "example": "string"
              }
            },
            "description": "Metadata associated with the response.",
            "example": {
              "responseId": "844cf442-0d7c-502b-b8f5-80e95bba987e",
              "correlationId": "4bec4d3c-897c-5d95-a456-c62912df735c",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Schema representing the response for settlement operations.",
        "example": {
          "page": 1,
          "pageSize": 1,
          "totalItems": 1,
          "totalPages": 1,
          "hasNext": true,
          "links": [
            {
              "rel": "STANDARD",
              "href": "https://example.com/resource",
              "method": "STANDARD"
            }
          ],
          "items": [
            {
              "settlementId": "STANDARD",
              "merchantId": "MER-141282",
              "settlementAccountId": "ACC-323112",
              "periodStart": "2026-08-11T12:00:00Z",
              "periodEnd": "2026-08-11T12:00:00Z",
              "currency": "USD",
              "status": "ACTIVE",
              "summary": {
                "grossPayments": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "refunds": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "reversals": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "disputes": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "fees": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "taxes": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "reserveHeld": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "reserveReleased": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "adjustments": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "netSettlement": {
                  "currency": "USD",
                  "value": "STANDARD"
                }
              }
            }
          ],
          "metadata": {
            "responseId": "844cf442-0d7c-502b-b8f5-80e95bba987e",
            "correlationId": "4bec4d3c-897c-5d95-a456-c62912df735c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Link": {
        "type": "object",
        "properties": {
          "rel": {
            "type": "string",
            "description": "Relation type of the link.",
            "example": "string"
          },
          "href": {
            "type": "string",
            "description": "The URL to the linked resource.",
            "example": "string"
          },
          "method": {
            "type": "string",
            "description": "HTTP method to use for the linked resource.",
            "example": "string"
          }
        },
        "description": "Schema representing a link in the response."
      },
      "SettlementItem": {
        "type": "object",
        "properties": {
          "settlementId": {
            "type": "string",
            "description": "Unique identifier for the settlement.",
            "example": "string"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant associated with the settlement.",
            "example": "string"
          },
          "settlementAccountId": {
            "type": "string",
            "description": "Identifier for the account associated with the settlement.",
            "example": "string"
          },
          "periodStart": {
            "type": "string",
            "description": "Start date of the settlement period.",
            "example": "string"
          },
          "periodEnd": {
            "type": "string",
            "description": "End date of the settlement period.",
            "example": "string"
          },
          "currency": {
            "type": "string",
            "description": "Currency used in the settlement.",
            "example": "string"
          },
          "status": {
            "type": "string",
            "description": "Current status of the settlement.",
            "example": "string"
          },
          "summary": {
            "type": "object",
            "properties": {
              "grossPayments": {
                "$ref": "#/components/schemas/FinancialSummary"
              },
              "refunds": {
                "$ref": "#/components/schemas/FinancialSummary"
              },
              "reversals": {
                "$ref": "#/components/schemas/FinancialSummary"
              },
              "disputes": {
                "$ref": "#/components/schemas/FinancialSummary"
              },
              "fees": {
                "$ref": "#/components/schemas/FinancialSummary"
              },
              "taxes": {
                "$ref": "#/components/schemas/FinancialSummary"
              },
              "reserveHeld": {
                "$ref": "#/components/schemas/FinancialSummary"
              },
              "reserveReleased": {
                "$ref": "#/components/schemas/FinancialSummary"
              },
              "adjustments": {
                "$ref": "#/components/schemas/FinancialSummary"
              },
              "netSettlement": {
                "$ref": "#/components/schemas/FinancialSummary"
              }
            },
            "description": "Summary of financial details related to the settlement."
          }
        },
        "description": "Schema representing an individual settlement item."
      },
      "FinancialSummary": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency type for the financial summary.",
            "example": "string"
          },
          "value": {
            "type": "string",
            "description": "The value associated with the financial summary.",
            "example": "string"
          }
        },
        "description": "Schema representing financial summary details, including currency and value."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-list-settlements"
        },
        "example": "banking-p2m-openapi-list-settlements"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes a Bearer authentication scheme, where a JSON Web Token (JWT) is provided in the HTTP Authorization header. Clients must include the token to access secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}