{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Customer Transactions-spec",
    "description": "The Customer Transactions Aggregation API provides a comprehensive view of all transactions associated with a specific customer. By using the customer's unique identifier, developers can retrieve a detailed list of transaction records, which include essential information such as transaction dates, amounts, and descriptions. This API is particularly useful for financial services, e-commerce platforms, and customer relationship management systems. Typical consumers include developers seeking to analyze customer behavior, generate reports, or integrate transaction data into applications to enhance customer insights.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/{customerId}/transactions": {
      "get": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Retrieve Transactions for a Specific Customer",
        "description": "This endpoint allows you to fetch all transactions associated with a particular customer identified by their unique ID. Useful for viewing transaction history and details related to customer activities.",
        "operationId": "listCustomerTransactions",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "description": "This request body is utilized to retrieve the transactions associated with a specific customer. The request must conform to the defined schema which includes the necessary parameters for fetching the transaction data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListCustomerTransactionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of transactions.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCustomerTransactionsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListCustomerTransactionsRequest": {
        "type": "string",
        "description": "The request body for the GET operation on transactions for the specified customer. This string typically contains the necessary JSON formatted parameters or filters for the request.",
        "example": "{}"
      },
      "ListCustomerTransactionsResponse_200": {
        "title": "Customer Transactions Response",
        "type": "object",
        "properties": {
          "found": {
            "type": "integer",
            "description": "The number of transactions found.",
            "format": "int32",
            "example": 1
          },
          "displaying": {
            "type": "integer",
            "description": "The number of transactions currently being displayed.",
            "format": "int32",
            "example": 1
          },
          "moreAvailable": {
            "type": "string",
            "description": "Indicates if more transactions are available.",
            "example": "STANDARD"
          },
          "fromDate": {
            "type": "string",
            "description": "The starting date for transaction filtering.",
            "example": "2026-09-15"
          },
          "toDate": {
            "type": "string",
            "description": "The ending date for transaction filtering.",
            "example": "2026-09-15"
          },
          "sort": {
            "type": "string",
            "description": "The sort order for the transactions.",
            "example": "STANDARD"
          },
          "transactions": {
            "type": "array",
            "description": "A list of transactions associated with the customer.",
            "example": [
              {
                "id": 1,
                "amount": 100.0,
                "uniqueTransactionId": "TXN-887161",
                "accountId": 1,
                "customerId": 1,
                "status": "ACTIVE",
                "description": "Customer banking request processed successfully",
                "memo": "STANDARD",
                "type": "STANDARD",
                "transactionDate": 1,
                "postedDate": 1,
                "createdDate": 1,
                "firstEffectiveDate": 1,
                "effectiveDate": 1,
                "optionExpireDate": 1,
                "checkNum": "STANDARD",
                "escrowAmount": 100.0,
                "feeAmount": 100.0,
                "suspenseAmount": 100.0,
                "interestAmount": 100.0,
                "principalAmount": 100.0,
                "optionStrikePrice": 100.0,
                "unitQuantity": 100.0,
                "unitPrice": 100.0,
                "categorization": {
                  "normalizedPayeeName": "Northstar Banking Service",
                  "category": "STANDARD",
                  "city": "New York",
                  "state": "STANDARD",
                  "postalCode": "10001"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Transaction"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier for tracking the request.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp of when the response was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the request was processed.",
                "example": "string"
              }
            },
            "description": "Metadata related to the response.",
            "example": {
              "responseId": "71e88e6b-ead8-51bb-8d58-e5acf130f1db",
              "correlationId": "b39933b1-64e9-52c1-9946-ae2e861fd574",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Schema representing the response of a request to get customer transactions.",
        "example": {
          "found": 1,
          "displaying": 1,
          "moreAvailable": "STANDARD",
          "fromDate": "2026-09-15",
          "toDate": "2026-09-15",
          "sort": "STANDARD",
          "transactions": [
            {
              "id": 1,
              "amount": 100.0,
              "uniqueTransactionId": "TXN-887161",
              "accountId": 1,
              "customerId": 1,
              "status": "ACTIVE",
              "description": "Customer banking request processed successfully",
              "memo": "STANDARD",
              "type": "STANDARD",
              "transactionDate": 1,
              "postedDate": 1,
              "createdDate": 1,
              "firstEffectiveDate": 1,
              "effectiveDate": 1,
              "optionExpireDate": 1,
              "checkNum": "STANDARD",
              "escrowAmount": 100.0,
              "feeAmount": 100.0,
              "suspenseAmount": 100.0,
              "interestAmount": 100.0,
              "principalAmount": 100.0,
              "optionStrikePrice": 100.0,
              "unitQuantity": 100.0,
              "unitPrice": 100.0,
              "categorization": {
                "normalizedPayeeName": "Northstar Banking Service",
                "category": "STANDARD",
                "city": "New York",
                "state": "STANDARD",
                "postalCode": "10001"
              }
            }
          ],
          "metadata": {
            "responseId": "71e88e6b-ead8-51bb-8d58-e5acf130f1db",
            "correlationId": "b39933b1-64e9-52c1-9946-ae2e861fd574",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Transaction": {
        "title": "Transaction Details",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier for the transaction.",
            "format": "int32",
            "example": 0
          },
          "amount": {
            "type": "number",
            "description": "Total amount of the transaction.",
            "example": 0.0
          },
          "uniqueTransactionId": {
            "type": "string",
            "description": "Unique transaction identifier across the system.",
            "example": "string"
          },
          "accountId": {
            "type": "integer",
            "description": "The identifier of the account associated with the transaction.",
            "format": "int32",
            "example": 0
          },
          "customerId": {
            "type": "integer",
            "description": "The identifier of the customer associated with the transaction.",
            "format": "int32",
            "example": 0
          },
          "status": {
            "type": "string",
            "description": "The current status of the transaction.",
            "example": "string"
          },
          "description": {
            "type": "string",
            "description": "Description of the transaction.",
            "example": "string"
          },
          "memo": {
            "type": "string",
            "description": "Optional memo for the transaction.",
            "example": "string"
          },
          "type": {
            "type": "string",
            "description": "Type of the transaction.",
            "example": "string"
          },
          "transactionDate": {
            "type": "integer",
            "description": "Date when the transaction occurred.",
            "format": "int32",
            "example": 0
          },
          "postedDate": {
            "type": "integer",
            "description": "Date when the transaction was posted.",
            "format": "int32",
            "example": 0
          },
          "createdDate": {
            "type": "integer",
            "description": "The date when the transaction record was created.",
            "format": "int32",
            "example": 0
          },
          "firstEffectiveDate": {
            "type": "integer",
            "description": "The first effective date for the transaction.",
            "format": "int32",
            "example": 0
          },
          "effectiveDate": {
            "type": "integer",
            "description": "The effective date for the transaction.",
            "format": "int32",
            "example": 0
          },
          "optionExpireDate": {
            "type": "integer",
            "description": "Expiration date for options related to the transaction.",
            "format": "int32",
            "example": 0
          },
          "checkNum": {
            "type": "string",
            "description": "Check number associated with the transaction, if applicable.",
            "example": "string"
          },
          "escrowAmount": {
            "type": "number",
            "description": "The escrow amount for the transaction.",
            "example": 0.0
          },
          "feeAmount": {
            "type": "number",
            "description": "The fee amount associated with the transaction.",
            "example": 0.0
          },
          "suspenseAmount": {
            "type": "number",
            "description": "Suspense amount for the transaction, if any.",
            "example": 0.0
          },
          "interestAmount": {
            "type": "number",
            "description": "The interest amount charged or applied to the transaction.",
            "example": 0.0
          },
          "principalAmount": {
            "type": "number",
            "description": "The principal amount for the transaction.",
            "example": 0.0
          },
          "optionStrikePrice": {
            "type": "number",
            "description": "Strike price for options related to the transaction.",
            "example": 0.0
          },
          "unitQuantity": {
            "type": "number",
            "description": "Quantity of units involved in the transaction.",
            "example": 0.0
          },
          "unitPrice": {
            "type": "number",
            "description": "Price per unit for the transaction.",
            "example": 0.0
          },
          "categorization": {
            "$ref": "#/components/schemas/TransactionCategorization"
          }
        },
        "description": "Schema representing the details of a transaction."
      },
      "TransactionCategorization": {
        "title": "Transaction Categorization",
        "type": "object",
        "properties": {
          "normalizedPayeeName": {
            "type": "string",
            "description": "Normalized name of the payee for the transaction.",
            "example": "string"
          },
          "category": {
            "type": "string",
            "description": "Category assigned to the transaction.",
            "example": "string"
          },
          "city": {
            "type": "string",
            "description": "City associated with the transaction.",
            "example": "string"
          },
          "state": {
            "type": "string",
            "description": "State associated with the transaction.",
            "example": "string"
          },
          "postalCode": {
            "type": "string",
            "description": "Postal code associated with the transaction.",
            "example": "string"
          }
        },
        "description": "Schema representing the categorization of a transaction."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the API endpoint being called.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-all-customer-transactions"
        },
        "example": "open-finance-api-get-all-customer-transactions"
      },
      "X-Runtime-App": {
        "description": "The name of the application responsible for processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which requires a JSON Web Token (JWT) for authorization. The JWT should be included in the Authorization header as 'Bearer <token>'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}