{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Card Capture Service API",
    "description": "The Card Capture Service API enables financial institutions and service providers to efficiently retrieve detailed information related to card capture events. By accessing specific card capture data through unique identifiers, users can monitor transaction statuses and enhance their fraud detection capabilities. This API is particularly useful for application developers integrating transaction management features or analytics into their solutions. Typical consumers of this API include banking software providers and fraud management systems looking to streamline card processing workflows.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9003",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cards/card-capture/{param1}": {
      "get": {
        "tags": [
          "Card Capture"
        ],
        "summary": "Retrieve card capture details.",
        "description": "Fetch the details of a specific card capture using its unique identifier. This endpoint provides all relevant information regarding the card capture transaction.",
        "operationId": "getCardCaptureById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to capture the specified card operations for CARD-400045. The payload must conform to the expected schema, providing all required fields to successfully process the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCardCaptureByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was completed successfully, and the card details are returned.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCardCaptureByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCardCaptureByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body format for the GET operation on the card capture service. It is expected to contain a string value.",
        "example": "{}"
      },
      "GetCardCaptureByIdResponse_200": {
        "title": "Card Capture Response",
        "type": "object",
        "properties": {
          "cardToken": {
            "type": "string",
            "description": "A unique identifier for the card.",
            "example": "TOK-472177"
          },
          "cardholderId": {
            "type": "string",
            "description": "Identifier for the cardholder associated with the card.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant processing the transaction.",
            "example": "MER-617062"
          },
          "transactionAmount": {
            "description": "The amount of money involved in the transaction.",
            "$ref": "#/components/schemas/TransactionAmount"
          },
          "merchantCategoryCode": {
            "type": "string",
            "description": "Code representing the category of the merchant.",
            "example": "5411"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the transaction record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the transaction record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp for when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional information related to the transaction.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for a card capture operation.",
        "example": {
          "cardToken": "TOK-472177",
          "cardholderId": "STANDARD",
          "merchantId": "MER-617062",
          "transactionAmount": {
            "amount": 100,
            "currency": "USD"
          },
          "merchantCategoryCode": "5411",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "475ca7c5-c8a1-51c8-9700-5c9eb4588d82",
            "correlationId": "e90e0136-57c4-5384-a404-0ed02b7b58d2",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "TransactionAmount": {
        "title": "Transaction Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "integer",
            "description": "The numeric value of the transaction amount.",
            "format": "int32",
            "example": 0
          },
          "currency": {
            "type": "string",
            "description": "Currency code (e.g., USD, EUR) for the transaction amount.",
            "example": "string"
          }
        },
        "description": "Schema representing the amount and currency for a transaction."
      },
      "Metadata": {
        "title": "Transaction Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the API response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating related requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the transaction is processed.",
            "example": "string"
          }
        },
        "description": "Schema representing additional metadata for the transaction."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-capture-get-card-capture"
        },
        "example": "card-capture-get-card-capture"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses Bearer tokens with the JSON Web Token (JWT) format. This scheme allows clients to authenticate by including a Bearer token in the Authorization header of their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}