{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Institution Institutions Routingnumber By Routingnumber Id-v5-spec",
    "description": "The Retrieve Institution Routing Number Details API allows users to obtain detailed information about a specific institution's routing number using its unique identifier. This endpoint is useful for financial institutions and banking software developers who need to validate routing information or display routing number details in their applications. By leveraging this API, users can efficiently access data relevant to financial transactions, such as payments and transfers. Typical consumers of this API include banking applications, payment processors, and regulatory compliance systems.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/institution/institutions/routingnumber/{routingnumberId}": {
      "get": {
        "tags": [
          "Banking"
        ],
        "summary": "Retrieve Routing Number for Institution RES-100045",
        "description": "This endpoint allows you to retrieve the routing number associated with the institution identified by RES-100045. It provides essential banking information necessary for processing transactions.",
        "operationId": "getInstitutionInstitutionsRoutingnumberByRoutingnumberId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/routingnumberId"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving routing number information for the specified institution. This request requires the routing number to be provided in the payload, formatted as per the schema referenced.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetInstitutionInstitutionsRoutingnumberByRoutingnumberIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the routing number details.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetInstitutionInstitutionsRoutingnumberByRoutingnumberIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetInstitutionInstitutionsRoutingnumberByRoutingnumberIdRequest": {
        "type": "string",
        "description": "A string representing the routing number for an institution's operation request.",
        "example": "{}"
      },
      "GetInstitutionInstitutionsRoutingnumberByRoutingnumberIdResponse_200": {
        "type": "object",
        "properties": {
          "found": {
            "type": "integer",
            "description": "Indicates whether any institutions were found.",
            "format": "int32",
            "example": 1
          },
          "displaying": {
            "type": "integer",
            "description": "The number of institutions being displayed.",
            "format": "int32",
            "example": 1
          },
          "moreAvailable": {
            "type": "boolean",
            "description": "Indicates if more institutions are available beyond the displayed ones.",
            "example": true
          },
          "createdDate": {
            "type": "integer",
            "description": "The date the institutions were created, represented as a timestamp.",
            "format": "int32",
            "example": 1
          },
          "institutions": {
            "type": "array",
            "description": "A list of institutions matching the query.",
            "example": [
              {
                "id": 1,
                "name": "Northstar Banking Service",
                "transAgg": true,
                "ach": true,
                "stateAgg": true,
                "voi": true,
                "voa": true,
                "aha": true,
                "availBalance": true,
                "accountOwner": true,
                "studentLoanData": true,
                "loanPaymentDetails": true,
                "paymentInitiation": true,
                "billPayData": true,
                "liabilityData": true,
                "accountTypeDescription": "STANDARD",
                "phone": "+1-212-555-0147",
                "urlHomeApp": "STANDARD",
                "urlLogonApp": "STANDARD",
                "oauthEnabled": true,
                "urlForgotPassword": "STANDARD",
                "urlOnlineRegistration": "STANDARD",
                "class": "STANDARD",
                "specialText": "STANDARD",
                "timeZone": "America/New_York",
                "specialInstructions": [
                  "STANDARD"
                ],
                "title": "Banking operation completed",
                "address": {
                  "city": "New York",
                  "state": "STANDARD",
                  "country": "STANDARD",
                  "postalCode": "10001"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Institution"
            }
          },
          "metadata": {
            "description": "Metadata containing additional information about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for fetching institution routing numbers.",
        "example": {
          "found": 1,
          "displaying": 1,
          "moreAvailable": true,
          "createdDate": 1,
          "institutions": [
            {
              "id": 1,
              "name": "Northstar Banking Service",
              "transAgg": true,
              "ach": true,
              "stateAgg": true,
              "voi": true,
              "voa": true,
              "aha": true,
              "availBalance": true,
              "accountOwner": true,
              "studentLoanData": true,
              "loanPaymentDetails": true,
              "paymentInitiation": true,
              "billPayData": true,
              "liabilityData": true,
              "accountTypeDescription": "STANDARD",
              "phone": "+1-212-555-0147",
              "urlHomeApp": "STANDARD",
              "urlLogonApp": "STANDARD",
              "oauthEnabled": true,
              "urlForgotPassword": "STANDARD",
              "urlOnlineRegistration": "STANDARD",
              "class": "STANDARD",
              "specialText": "STANDARD",
              "timeZone": "America/New_York",
              "specialInstructions": [
                "STANDARD"
              ],
              "title": "Banking operation completed",
              "address": {
                "city": "New York",
                "state": "STANDARD",
                "country": "STANDARD",
                "postalCode": "10001"
              }
            }
          ],
          "metadata": {
            "responseId": "1ef269fe-bd3e-543e-80b7-4df5aaf6be7f",
            "correlationId": "dd909a6c-fc82-527e-8831-ba0383d3b34a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Institution": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier for the institution.",
            "format": "int32",
            "example": 1
          },
          "name": {
            "type": "string",
            "description": "The name of the institution.",
            "example": "Example Bank"
          },
          "transAgg": {
            "type": "boolean",
            "description": "Indicates if transaction aggregation is supported.",
            "example": false
          },
          "ach": {
            "type": "boolean",
            "description": "Indicates if ACH transactions are supported.",
            "example": true
          },
          "stateAgg": {
            "type": "boolean",
            "description": "Indicates if state transaction aggregation is supported.",
            "example": false
          },
          "voi": {
            "type": "boolean",
            "description": "Indicates if VOI (Verification of Identity) is supported.",
            "example": true
          },
          "voa": {
            "type": "boolean",
            "description": "Indicates if VOA (Verification of Account) is supported.",
            "example": false
          },
          "aha": {
            "type": "boolean",
            "description": "Indicates if AHA (Account Holder Authentication) is supported.",
            "example": false
          },
          "availBalance": {
            "type": "boolean",
            "description": "Indicates if available balance information can be accessed.",
            "example": true
          },
          "accountOwner": {
            "type": "boolean",
            "description": "Indicates if account owner details can be accessed.",
            "example": true
          },
          "studentLoanData": {
            "type": "boolean",
            "description": "Indicates if student loan data is available.",
            "example": false
          },
          "loanPaymentDetails": {
            "type": "boolean",
            "description": "Indicates if loan payment details can be accessed.",
            "example": true
          },
          "paymentInitiation": {
            "type": "boolean",
            "description": "Indicates if payment initiation services are available.",
            "example": false
          },
          "billPayData": {
            "type": "boolean",
            "description": "Indicates if bill payment data can be accessed.",
            "example": true
          },
          "liabilityData": {
            "type": "boolean",
            "description": "Indicates if liability data is available.",
            "example": false
          },
          "accountTypeDescription": {
            "type": "string",
            "description": "Description of the type of account.",
            "example": "Checking Account"
          },
          "phone": {
            "type": "string",
            "description": "Contact phone number for the institution.",
            "example": "123-456-7890"
          },
          "urlHomeApp": {
            "type": "string",
            "description": "URL to the institution's home application.",
            "example": "https://examplebank.com/home"
          },
          "urlLogonApp": {
            "type": "string",
            "description": "URL to the institution's login application.",
            "example": "https://examplebank.com/login"
          },
          "oauthEnabled": {
            "type": "boolean",
            "description": "Indicates if OAuth is enabled for the institution.",
            "example": true
          },
          "urlForgotPassword": {
            "type": "string",
            "description": "URL for the institution's forgot password page.",
            "example": "https://examplebank.com/forgot-password"
          },
          "urlOnlineRegistration": {
            "type": "string",
            "description": "URL for the institution's online registration.",
            "example": "https://examplebank.com/register"
          },
          "class": {
            "type": "string",
            "description": "Class designation of the institution.",
            "example": "Premium"
          },
          "specialText": {
            "type": "string",
            "description": "Special notes or highlights about the institution.",
            "example": "Best bank for student loans"
          },
          "timeZone": {
            "type": "string",
            "description": "Time zone of the institution.",
            "example": "GMT"
          },
          "specialInstructions": {
            "type": "array",
            "description": "Special instructions related to the institution.",
            "items": {
              "type": "string",
              "example": "Contact support for details"
            }
          },
          "title": {
            "type": "string",
            "description": "Title of the institution.",
            "example": "Example Bank"
          },
          "address": {
            "description": "Address details of the institution.",
            "$ref": "#/components/schemas/Address"
          }
        },
        "description": "Schema representing an individual financial institution."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the API response.",
            "example": "response-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "ID to trace requests through the system.",
            "example": "correlation-54321"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata for the API response."
      },
      "Address": {
        "type": "object",
        "properties": {
          "city": {
            "type": "string",
            "description": "City of the institution's address.",
            "example": "New York"
          },
          "state": {
            "type": "string",
            "description": "State of the institution's address.",
            "example": "NY"
          },
          "country": {
            "type": "string",
            "description": "Country of the institution's address.",
            "example": "USA"
          },
          "postalCode": {
            "type": "string",
            "description": "Postal code of the institution's address.",
            "example": "10001"
          }
        },
        "description": "Address schema representing the location details of an institution."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "routingnumberId": {
        "name": "routingnumberId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint that processed the request, helpful for tracking and logging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-institutions-by-routing-number"
        },
        "example": "open-finance-api-get-institutions-by-routing-number"
      },
      "x-runtime-app": {
        "description": "Indicates the runtime application responsible for handling the request, useful for identifying application-specific behaviors.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, where a valid JSON Web Token (JWT) must be included in the Authorization header of the HTTP request for authentication purposes. Ensure that the token is properly formatted and contains the necessary claims for authorization.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}