{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Account Ownership Details API",
    "description": "The Customer Account Ownership Details API provides vital information regarding the ownership of customer accounts. Through this API, developers can access detailed insights about account ownership by specifying the customer ID and account ID. This functionality is critical for applications involved in customer service, account management, or financial reporting. Typical consumers include customer support teams and financial analysts who require ownership details for account-related inquiries.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/{customerId}/accounts/{accountId}/owner/details": {
      "get": {
        "tags": [
          "Customer Accounts"
        ],
        "summary": "Retrieve owner details for a specific account.",
        "description": "This endpoint allows you to fetch the details of the owner for a specific account associated with a given customer. The customer and account identifiers must be provided in the URL path to access the owner information.",
        "operationId": "getCustomerAccountOwnerDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          },
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "description": "This request retrieves the owner details for a specific account associated with a customer. Ensure you have the necessary permissions to access the account information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCustomerAccountOwnerDetailsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved owner details for the specified account.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCustomerAccountOwnerDetailsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCustomerAccountOwnerDetailsRequest": {
        "title": "Owner Account Details Request Body",
        "type": "string",
        "description": "This schema represents the request body structure for retrieving owner account details for a specific account.",
        "example": "{}"
      },
      "GetCustomerAccountOwnerDetailsResponse_200": {
        "type": "object",
        "properties": {
          "holders": {
            "type": "array",
            "description": "A list of account holders associated with the account.",
            "example": [
              {
                "relationship": "STANDARD",
                "ownerName": "Northstar Banking Service",
                "firstName": "Northstar Banking Service",
                "middleName": "Northstar Banking Service",
                "lastName": "Northstar Banking Service",
                "suffix": "STANDARD",
                "nameClassification": "STANDARD",
                "nameClassificationconfidencescore": 100.0,
                "addresses": [
                  {
                    "ownerAddress": "STANDARD",
                    "type": "STANDARD",
                    "line1": "350 Fifth Avenue",
                    "line2": "Suite 4200",
                    "line3": "STANDARD",
                    "city": "New York",
                    "state": "STANDARD",
                    "postalCode": "10001",
                    "country": "STANDARD"
                  }
                ],
                "emails": [
                  {
                    "isPrimary": true,
                    "email": "olivia.bennett@northstar.example",
                    "emailType": "olivia.bennett@northstar.example"
                  }
                ],
                "phones": [
                  {
                    "type": "STANDARD",
                    "country": "STANDARD",
                    "phone": "+1-212-555-0147"
                  }
                ],
                "documentations": [
                  {
                    "taxId": "STANDARD",
                    "taxIdCountry": "STANDARD",
                    "governmentId": "STANDARD"
                  }
                ],
                "identityInsights": {
                  "requestRefId": "STANDARD",
                  "isEmailValid": true,
                  "emailFirstSeenDays": 100.0,
                  "emailDomainCreationDate": "olivia.bennett@northstar.example",
                  "emailToName": "olivia.bennett@northstar.example",
                  "ipRisk": true,
                  "ipRiskScore": 100.0,
                  "ipLastSeenDays": 100.0,
                  "code": "SUCCESS"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/AccountHolder"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "example": {
          "holders": [
            {
              "relationship": "STANDARD",
              "ownerName": "Northstar Banking Service",
              "firstName": "Northstar Banking Service",
              "middleName": "Northstar Banking Service",
              "lastName": "Northstar Banking Service",
              "suffix": "STANDARD",
              "nameClassification": "STANDARD",
              "nameClassificationconfidencescore": 100.0,
              "addresses": [
                {
                  "ownerAddress": "STANDARD",
                  "type": "STANDARD",
                  "line1": "350 Fifth Avenue",
                  "line2": "Suite 4200",
                  "line3": "STANDARD",
                  "city": "New York",
                  "state": "STANDARD",
                  "postalCode": "10001",
                  "country": "STANDARD"
                }
              ],
              "emails": [
                {
                  "isPrimary": true,
                  "email": "olivia.bennett@northstar.example",
                  "emailType": "olivia.bennett@northstar.example"
                }
              ],
              "phones": [
                {
                  "type": "STANDARD",
                  "country": "STANDARD",
                  "phone": "+1-212-555-0147"
                }
              ],
              "documentations": [
                {
                  "taxId": "STANDARD",
                  "taxIdCountry": "STANDARD",
                  "governmentId": "STANDARD"
                }
              ],
              "identityInsights": {
                "requestRefId": "STANDARD",
                "isEmailValid": true,
                "emailFirstSeenDays": 100.0,
                "emailDomainCreationDate": "olivia.bennett@northstar.example",
                "emailToName": "olivia.bennett@northstar.example",
                "ipRisk": true,
                "ipRiskScore": 100.0,
                "ipLastSeenDays": 100.0,
                "code": "SUCCESS"
              }
            }
          ],
          "metadata": {
            "responseId": "bf513432-dc6d-5a15-b126-d4fcb0a1549a",
            "correlationId": "b78fb59f-db64-5968-b9a8-77b390b2dc41",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AccountHolder": {
        "type": "object",
        "properties": {
          "relationship": {
            "type": "string",
            "description": "The relationship of the holder to the account."
          },
          "ownerName": {
            "type": "string",
            "description": "Full name of the account owner."
          },
          "firstName": {
            "type": "string",
            "description": "First name of the holder."
          },
          "middleName": {
            "type": "string",
            "description": "Middle name of the holder."
          },
          "lastName": {
            "type": "string",
            "description": "Last name of the holder."
          },
          "suffix": {
            "type": "string",
            "description": "Suffix associated with the holder's name (e.g. Jr., Sr.)."
          },
          "nameClassification": {
            "type": "string",
            "description": "Classification of the name (e.g., Individual, Business)."
          },
          "nameClassificationconfidencescore": {
            "type": "number",
            "description": "Confidence score for the name classification."
          },
          "addresses": {
            "type": "array",
            "description": "List of addresses associated with the account holder.",
            "items": {
              "$ref": "#/components/schemas/Address"
            }
          },
          "emails": {
            "type": "array",
            "description": "List of email addresses associated with the account holder.",
            "items": {
              "$ref": "#/components/schemas/Email"
            }
          },
          "phones": {
            "type": "array",
            "description": "List of phone numbers associated with the account holder.",
            "items": {
              "$ref": "#/components/schemas/Phone"
            }
          },
          "documentations": {
            "type": "array",
            "description": "List of documents related to the account holder.",
            "items": {
              "$ref": "#/components/schemas/Documentation"
            }
          },
          "identityInsights": {
            "type": "object",
            "properties": {
              "requestRefId": {
                "type": "string",
                "description": "Reference ID for the request."
              },
              "isEmailValid": {
                "type": "boolean",
                "description": "Indicates whether the email address is valid."
              },
              "emailFirstSeenDays": {
                "type": "number",
                "description": "Days since the email address was first seen."
              },
              "emailDomainCreationDate": {
                "type": "string",
                "description": "Creation date of the email domain."
              },
              "emailToName": {
                "type": "string",
                "description": "Name associated with the email address."
              },
              "ipRisk": {
                "type": "boolean",
                "description": "Indicates whether there is a risk associated with the IP address."
              },
              "ipRiskScore": {
                "type": "number",
                "description": "Risk score associated with the IP address."
              },
              "ipLastSeenDays": {
                "type": "number",
                "description": "Days since the IP address was last seen."
              },
              "code": {
                "type": "string",
                "description": "Result code for the identity insights."
              }
            },
            "description": "Insights related to the identity of the account holder."
          }
        },
        "description": "Detailed information about an account holder."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "ID used to correlate requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed."
          }
        },
        "description": "Metadata information relevant to the response."
      },
      "Address": {
        "type": "object",
        "properties": {
          "ownerAddress": {
            "type": "string",
            "description": "Complete address of the owner."
          },
          "type": {
            "type": "string",
            "description": "Type of address (e.g., Home, Work)."
          },
          "line1": {
            "type": "string",
            "description": "First line of the address."
          },
          "line2": {
            "type": "string",
            "description": "Second line of the address (if applicable)."
          },
          "line3": {
            "type": "string",
            "description": "Third line of the address (if applicable)."
          },
          "city": {
            "type": "string",
            "description": "City of the address."
          },
          "state": {
            "type": "string",
            "description": "State of the address."
          },
          "postalCode": {
            "type": "string",
            "description": "Postal code of the address."
          },
          "country": {
            "type": "string",
            "description": "Country of the address."
          }
        },
        "description": "Address details for an account holder."
      },
      "Email": {
        "type": "object",
        "properties": {
          "isPrimary": {
            "type": "boolean",
            "description": "Indicates whether the email is the primary email."
          },
          "email": {
            "type": "string",
            "description": "Email address."
          },
          "emailType": {
            "type": "string",
            "description": "Type of email (e.g., Personal, Business)."
          }
        },
        "description": "Email details for an account holder."
      },
      "Phone": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of phone number (e.g., Mobile, Home)."
          },
          "country": {
            "type": "string",
            "description": "Country code for the phone number."
          },
          "phone": {
            "type": "string",
            "description": "Complete phone number."
          }
        },
        "description": "Phone number details for an account holder."
      },
      "Documentation": {
        "type": "object",
        "properties": {
          "taxId": {
            "type": "string",
            "description": "Tax identification number of the account holder."
          },
          "taxIdCountry": {
            "type": "string",
            "description": "Country of the tax ID."
          },
          "governmentId": {
            "type": "string",
            "description": "Government-issued identification of the account holder."
          }
        },
        "description": "Documentation details for an account holder."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-account-owner-details"
        },
        "example": "open-finance-api-get-account-owner-details"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that utilizes bearer tokens to grant access to secured endpoints. Tokens are expected to be in JWT (JSON Web Token) format.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}