{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get It Management By Param1-spec",
    "description": "The IT Management Retrieval API provides access to specific deployment information within the banking system by leveraging a unique parameter (param1). This API allows consumers, such as software developers and system administrators, to fetch detailed management metrics and status updates related to IT deployments. Use cases may include system audits, performance monitoring, and compliance checks. This endpoint ensures that stakeholders can efficiently retrieve pertinent IT management data tailored to their operational needs.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/system-deployment/{param1}": {
      "get": {
        "tags": [
          "System Deployment"
        ],
        "summary": "Retrieve system deployment details by ID",
        "description": "Fetches the details of a specific system deployment using its unique identifier. This endpoint is useful for obtaining information about the deployment status, configuration, and other relevant metrics associated with the deployment.",
        "operationId": "getItManagementByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the deployment details for a specific IT management system, identified by RES-100045. It should include any necessary parameters to filter or specify the data being requested.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetItManagementByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the requested resource.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetItManagementByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetItManagementByParam1Request": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to the IT management system deployment. It is expected to be a string value.",
        "example": "{}"
      },
      "GetItManagementByParam1Response_200": {
        "title": "System Deployment Response",
        "type": "object",
        "properties": {
          "systemId": {
            "type": "string",
            "description": "Unique identifier for the system.",
            "example": "STANDARD"
          },
          "environment": {
            "type": "string",
            "description": "The environment where the system is deployed (e.g., production, staging).",
            "example": "STANDARD"
          },
          "changeId": {
            "type": "string",
            "description": "Identifier for the specific change request associated with the deployment.",
            "example": "STANDARD"
          },
          "ownerTeam": {
            "type": "string",
            "description": "The team responsible for managing the system.",
            "example": "STANDARD"
          },
          "plannedAt": {
            "type": "string",
            "description": "Scheduled date and time for the deployment.",
            "example": "2026-08-11T12:00:00Z"
          },
          "serviceTier": {
            "type": "string",
            "description": "Service tier level of the deployment (e.g., standard, premium).",
            "example": "STANDARD"
          },
          "availabilityTargetPercent": {
            "type": "number",
            "description": "The target percentage of system availability.",
            "example": 100.0
          },
          "maintenanceWindow": {
            "type": "string",
            "description": "Scheduled maintenance window for the system.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the system record (e.g., active, inactive).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the deployed system.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update made to the system deployment record.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/DeploymentMetadata"
          }
        },
        "description": "Represents the response for system deployment operations, including details about the system, its status, and associated metadata.",
        "example": {
          "systemId": "STANDARD",
          "environment": "STANDARD",
          "changeId": "STANDARD",
          "ownerTeam": "STANDARD",
          "plannedAt": "2026-08-11T12:00:00Z",
          "serviceTier": "STANDARD",
          "availabilityTargetPercent": 100.0,
          "maintenanceWindow": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "740ed7be-2289-55a0-bfdd-b8944961326d",
            "correlationId": "b13f482d-91dc-58aa-8314-b3d2cc372c46",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "DeploymentMetadata": {
        "title": "Deployment Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP-112233"
          },
          "correlationId": {
            "type": "string",
            "description": "ID to correlate related requests and responses.",
            "example": "CORR-334455"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the record was generated.",
            "example": "2023-10-01T11:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "us-west-1"
          }
        },
        "description": "Contains metadata information related to the system deployment."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "system-deployment-get-system-deployment"
        },
        "example": "system-deployment-get-system-deployment"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token format, specifically a JSON Web Token (JWT). Clients must include the token in the Authorization header when making requests to access secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}