{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Replace Collateral Allocation Management *-spec",
    "description": "The Collateral Allocation Management API facilitates the administration and adjustment of collateral allocations within the banking sector. This endpoint enables financial institutions to manage existing collateral allocations effectively, ensuring optimal asset utilization and compliance with regulatory requirements. Users such as risk managers and finance officers can leverage this API to update collateral arrangements in real-time to reflect changing market conditions or internal policies. Through this service, organizations can enhance their collateral management strategies and maintain robust financial health.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/collateral-administration/collateral-allocation-management/*": {
      "put": {
        "tags": [
          "Collateral Management"
        ],
        "summary": "Update collateral allocation details.",
        "description": "This operation allows you to update the details of collateral allocations in the collateral administration system. Ensure you provide all necessary information to successfully modify the allocation.",
        "operationId": "replaceCollateralAllocationManagement*",
        "parameters": [
          {
            "$ref": "#/components/parameters/parentspanid"
          },
          {
            "$ref": "#/components/parameters/x-request-id"
          },
          {
            "$ref": "#/components/parameters/x-envoy-attempt-count"
          },
          {
            "$ref": "#/components/parameters/x-envoy-peer-metadata"
          },
          {
            "$ref": "#/components/parameters/x-gateway-correlationid"
          },
          {
            "$ref": "#/components/parameters/x-envoy-external-address"
          },
          {
            "$ref": "#/components/parameters/x-envoy-peer-metadata-id"
          },
          {
            "$ref": "#/components/parameters/x-envoy-decorator-operation"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update or modify the existing collateral allocation management details. Ensure that the payload conforms to the specified schema to successfully process the update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceCollateralAllocationManagement*Request"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created the resource.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceCollateralAllocationManagement*Response_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ReplaceCollateralAllocationManagement*Request": {
        "title": "Collateral Allocation Management Request Body",
        "type": "object",
        "properties": {
          "collateralId": {
            "type": "string",
            "description": "The unique identifier for the collateral.",
            "example": "STANDARD"
          },
          "partyId": {
            "type": "string",
            "description": "The unique identifier for the party associated with the collateral.",
            "example": "PARTY-793640"
          },
          "assetType": {
            "type": "string",
            "description": "The type of asset being used as collateral.",
            "example": "STANDARD"
          },
          "marketValue": {
            "description": "The market value of the collateral.",
            "$ref": "#/components/schemas/MarketValue"
          },
          "valuationDate": {
            "type": "string",
            "description": "The date on which the collateral's value was assessed.",
            "example": "2026-09-03"
          },
          "securedExposureId": {
            "type": "string",
            "description": "The unique identifier for the secured exposure related to the collateral.",
            "example": "STANDARD"
          },
          "haircutPercent": {
            "type": "integer",
            "description": "The percentage haircut applied to the collateral's market value.",
            "format": "int32",
            "example": 100
          },
          "lienStatus": {
            "type": "string",
            "description": "The lien status of the collateral.",
            "example": "ACTIVE"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for managing collateral allocations, including various properties related to the collateral, its value, and the context of the request.",
        "example": {
          "collateralId": "STANDARD",
          "partyId": "PARTY-793640",
          "assetType": "STANDARD",
          "marketValue": {
            "amount": 100,
            "currency": "USD"
          },
          "valuationDate": "2026-09-03",
          "securedExposureId": "STANDARD",
          "haircutPercent": 100,
          "lienStatus": "ACTIVE",
          "requestContext": {
            "requestId": "7010944a-10d0-4127-89fe-bac12e023895",
            "correlationId": "bbea2236-9f94-4f54-9234-1b8acaa71e72",
            "idempotencyKey": "900d8335-4c70-4a04-998a-c20aa596f673",
            "requestedAt": "2026-08-27T23:00:53.738Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-723724"
            }
          }
        }
      },
      "MarketValue": {
        "title": "Market Value",
        "type": "object",
        "properties": {
          "amount": {
            "type": "integer",
            "description": "The numerical value representing the market amount of the collateral.",
            "format": "int32",
            "example": 100000
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the market value is denominated.",
            "example": "USD"
          }
        },
        "description": "This schema represents the market value of the collateral, including amount and currency."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the specific request.",
            "example": "request-abc"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate related requests or transactions.",
            "example": "correlation-xyz"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure the operation can be retried safely without side effects.",
            "example": "idempotency-123"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp indicating when the request was made.",
            "example": "2023-10-01T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that originated the request.",
            "example": "CollateralManagementSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application used to make the request.",
            "example": "WebApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema encapsulates the context in which the request is made, including identifiers and metadata."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., Web, Mobile).",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier for the device used to make the request.",
            "example": "device-789"
          }
        },
        "description": "This schema represents information about the communication channel used for the request."
      },
      "ReplaceCollateralAllocationManagement*Response_201": {
        "type": "object",
        "properties": {
          "collateralId": {
            "type": "string",
            "description": "Unique identifier for the collateral.",
            "example": "STANDARD"
          },
          "partyId": {
            "type": "string",
            "description": "Unique identifier for the party associated with the collateral.",
            "example": "PARTY-735125"
          },
          "securedExposureId": {
            "type": "string",
            "description": "Unique identifier for the secured exposure related to the collateral.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource linked to the collateral.",
            "example": "RES-748772"
          },
          "status": {
            "type": "string",
            "description": "Current status of the collateral allocation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the collateral was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "responseId123"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier used to correlate requests and responses.",
                "example": "correlationId456"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp indicating when the response was generated.",
                "example": "2023-10-01T12:01:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region in which the collateral allocation processing occurred.",
                "example": "us-east-1"
              }
            },
            "description": "Additional metadata related to the collateral allocation response.",
            "example": {
              "responseId": "307142e9-411d-5f63-ba6b-910f02d78756",
              "correlationId": "6c88170b-5e85-5a54-8db0-74daf3db3c6d",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for collateral allocation management operation.",
        "example": {
          "collateralId": "STANDARD",
          "partyId": "PARTY-735125",
          "securedExposureId": "STANDARD",
          "resourceId": "RES-748772",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "307142e9-411d-5f63-ba6b-910f02d78756",
            "correlationId": "6c88170b-5e85-5a54-8db0-74daf3db3c6d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "parentspanid": {
        "name": "parentspanid",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "02a6290e1199f009"
        },
        "example": "02a6290e1199f009"
      },
      "x-request-id": {
        "name": "x-request-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "8d90eb2c-f9a4-45b5-b498-60615fafbde8"
        },
        "example": "8d90eb2c-f9a4-45b5-b498-60615fafbde8"
      },
      "x-envoy-attempt-count": {
        "name": "x-envoy-attempt-count",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-envoy-peer-metadata": {
        "name": "x-envoy-peer-metadata",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ChoKCkNMVVNURVJfSUQSDBoKS3ViZXJuZXRlcwquAQoGTEFCRUxTEqMBKqABCh0KA2FwcBIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQo5Ch9zZXJ2aWNlLmlzdGlvLmlvL2Nhbm9uaWNhbC1uYW1lEhYaFGlzdGlvLWluZ3Jlc3NnYXRld2F5Ci8KI3NlcnZpY2UuaXN0aW8uaW8vY2Fub25pY2FsLXJldmlzaW9uEggaBjEtMzAtMAoTCgd2ZXJzaW9uEggaBjEuMzAuMAouCgROQU1FEiYaJGlzdGlvLWluZ3Jlc3NnYXRld2F5LTlkZDQ2YjU4Yi10Y3R6cwobCglOQU1FU1BBQ0USDhoMaXN0aW8tc3lzdGVtCl0KBU9XTkVSElQaUmt1YmVybmV0ZXM6Ly9hcGlzL2FwcHMvdjEvbmFtZXNwYWNlcy9pc3Rpby1zeXN0ZW0vZGVwbG95bWVudHMvaXN0aW8taW5ncmVzc2dhdGV3YXkKJwoNV09SS0xPQURfTkFNRRIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQ=="
        },
        "example": "ChoKCkNMVVNURVJfSUQSDBoKS3ViZXJuZXRlcwquAQoGTEFCRUxTEqMBKqABCh0KA2FwcBIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQo5Ch9zZXJ2aWNlLmlzdGlvLmlvL2Nhbm9uaWNhbC1uYW1lEhYaFGlzdGlvLWluZ3Jlc3NnYXRld2F5Ci8KI3NlcnZpY2UuaXN0aW8uaW8vY2Fub25pY2FsLXJldmlzaW9uEggaBjEtMzAtMAoTCgd2ZXJzaW9uEggaBjEuMzAuMAouCgROQU1FEiYaJGlzdGlvLWluZ3Jlc3NnYXRld2F5LTlkZDQ2YjU4Yi10Y3R6cwobCglOQU1FU1BBQ0USDhoMaXN0aW8tc3lzdGVtCl0KBU9XTkVSElQaUmt1YmVybmV0ZXM6Ly9hcGlzL2FwcHMvdjEvbmFtZXNwYWNlcy9pc3Rpby1zeXN0ZW0vZGVwbG95bWVudHMvaXN0aW8taW5ncmVzc2dhdGV3YXkKJwoNV09SS0xPQURfTkFNRRIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQ=="
      },
      "x-gateway-correlationid": {
        "name": "x-gateway-correlationid",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "24ca0f6a-d863-4921-aefb-08098ef656bb"
        },
        "example": "24ca0f6a-d863-4921-aefb-08098ef656bb"
      },
      "x-envoy-external-address": {
        "name": "x-envoy-external-address",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "18.156.191.52"
        },
        "example": "18.156.191.52"
      },
      "x-envoy-peer-metadata-id": {
        "name": "x-envoy-peer-metadata-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "router~10.10.185.143~istio-ingressgateway-9dd46b58b-tctzs.istio-system~istio-system.svc.cluster.local"
        },
        "example": "router~10.10.185.143~istio-ingressgateway-9dd46b58b-tctzs.istio-system~istio-system.svc.cluster.local"
      },
      "x-envoy-decorator-operation": {
        "name": "x-envoy-decorator-operation",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "kong-test1-kong-proxy.kong-test.svc.cluster.local:80/*"
        },
        "example": "kong-test1-kong-proxy.kong-test.svc.cluster.local:80/*"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "collateral-allocation-management-create-collateral-allocation-management"
        },
        "example": "collateral-allocation-management-create-collateral-allocation-management"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the operation, providing context about runtime execution.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      },
      "X-Workflow-Id": {
        "description": "An identifier for the workflow associated with the operation, assisting in tracking the processing path.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-040"
        },
        "example": "WF-040"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow that was executed. This header provides context about the process that triggered the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Collateral Valuation and Allocation"
        },
        "example": "Collateral Valuation and Allocation"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow. This header indicates the status of the execution, which can be useful for tracking the progress.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the workflow execution instance. This header can be used to trace and reference specific executions in logs or elsewhere.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "15ccb4c7-c868-4d22-9ced-b1f6e20d3587"
        },
        "example": "15ccb4c7-c868-4d22-9ced-b1f6e20d3587"
      }
    }
  }
}