{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Custody Administration API",
    "description": "The Custody Administration API facilitates the management and oversight of custody services within banking operations. This endpoint provides access to essential information regarding client assets, transaction histories, and compliance reports. It serves financial institutions, investment managers, and compliance officers, enabling them to maintain accurate custody records and perform efficient asset management. Users can efficiently retrieve data related to custody operations to inform decision-making processes and ensure regulatory compliance.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-operations/custody-administration": {
      "get": {
        "tags": [
          "Custody Operations"
        ],
        "summary": "Retrieve custody administration details.",
        "description": "This endpoint allows clients to fetch custody administration information, which is vital for managing assets held in custody. It provides details necessary for effective asset management and compliance.",
        "operationId": "getCustodyAdministration",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve custody administration data from the market operations endpoint. Ensure that all required parameters are properly set in the request to obtain the desired information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCustodyAdministrationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved custody administration data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCustodyAdministrationResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCustodyAdministrationRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation in the custody administration market operations API.",
        "example": "{}"
      },
      "GetCustodyAdministrationResponse_200": {
        "title": "Custody Administration Operations Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of trade operation items.",
            "example": [
              {
                "tradeId": "STANDARD",
                "instrumentId": "STANDARD",
                "settlementDate": "2026-09-15",
                "quantity": 1,
                "settlementCurrency": "USD",
                "custodianId": "STANDARD",
                "safekeepingAccountId": "ACC-783404",
                "custodyLocation": "STANDARD",
                "positionQuantity": 1,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/TradeOperationItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting information for the returned items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for operations related to custody administration including items, pagination, sorting, and metadata.",
        "example": {
          "items": [
            {
              "tradeId": "STANDARD",
              "instrumentId": "STANDARD",
              "settlementDate": "2026-09-15",
              "quantity": 1,
              "settlementCurrency": "USD",
              "custodianId": "STANDARD",
              "safekeepingAccountId": "ACC-783404",
              "custodyLocation": "STANDARD",
              "positionQuantity": 1,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "5f47ee6b-2a1a-58be-936c-7718788d59c7",
            "correlationId": "c07904fd-fda5-5175-b0cb-7d68a0dda109",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "TradeOperationItem": {
        "title": "Trade Operation Item",
        "type": "object",
        "properties": {
          "tradeId": {
            "type": "string",
            "description": "Unique identifier for the trade."
          },
          "instrumentId": {
            "type": "string",
            "description": "Identifier for the financial instrument."
          },
          "settlementDate": {
            "type": "string",
            "description": "Date of settlement for the trade."
          },
          "quantity": {
            "type": "integer",
            "description": "Quantity of the instrument being traded.",
            "format": "int32"
          },
          "settlementCurrency": {
            "type": "string",
            "description": "Currency used for the settlement."
          },
          "custodianId": {
            "type": "string",
            "description": "Identifier for the custodian managing the trade."
          },
          "safekeepingAccountId": {
            "type": "string",
            "description": "Account identifier for safekeeping."
          },
          "custodyLocation": {
            "type": "string",
            "description": "Location where the custody is held."
          },
          "positionQuantity": {
            "type": "integer",
            "description": "Current quantity of the position for the instrument.",
            "format": "int32"
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp for when the record was last updated."
          }
        },
        "description": "Schema representing a single trade operation item.",
        "example": {
          "tradeId": "trade123",
          "instrumentId": "instr456",
          "settlementDate": "2023-02-01",
          "quantity": 100,
          "settlementCurrency": "USD",
          "custodianId": "custodian789",
          "safekeepingAccountId": "account321",
          "custodyLocation": "New York",
          "positionQuantity": 150,
          "recordStatus": "active",
          "updatedAt": "2023-01-01T00:00:00Z"
        }
      },
      "Pagination": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Schema providing pagination details for a list of items.",
        "example": {
          "page": 1,
          "pageSize": 10,
          "totalItems": 50
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating related requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed."
          }
        },
        "description": "Schema containing additional metadata information about the response.",
        "example": {
          "responseId": "12345",
          "correlationId": "54321",
          "generatedAt": "2023-01-01T00:00:00Z",
          "processingRegion": "us-east-1"
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "custody-administration-search-custody-administration"
        },
        "example": "custody-administration-search-custody-administration"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication method. A JSON Web Token (JWT) must be provided in the Authorization header as a bearer token to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}