{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Application Aggregation API",
    "description": "The Customer Application Aggregation API provides a comprehensive overview of applications associated with a specific customer. Utilizing this endpoint, developers can retrieve detailed application data pertaining to an individual customer by their unique identifier. This API is particularly useful for customer support teams and business analysts who need to analyze customer application usage and performance. With this resource, organizations can enhance their customer insights and tailor services to better meet customer needs.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/{customerId}/application": {
      "get": {
        "tags": [],
        "summary": "Retrieve application details for a specific customer.",
        "description": "Fetches the application information associated with the customer identified by the given customer ID (CUST-100045). This endpoint is crucial for accessing customer-specific application data.",
        "operationId": "getCustomerApplicationCUST100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to specify the parameters required to retrieve application details for customer CUST-100045. It must contain the relevant request parameters in JSON format.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCustomerApplicationCUST100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the application data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCustomerApplicationCUST100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCustomerApplicationCUST100045Request": {
        "title": "Customer Application Request Body",
        "type": "string",
        "description": "A JSON string payload for the application request to retrieve customer data.",
        "example": "{}"
      },
      "GetCustomerApplicationCUST100045Response_200": {
        "title": "Customer Application Response",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "STANDARD"
          },
          "username": {
            "type": "string",
            "description": "Username of the customer.",
            "example": "Northstar Banking Service"
          },
          "firstName": {
            "type": "string",
            "description": "First name of the customer.",
            "example": "Northstar Banking Service"
          },
          "lastName": {
            "type": "string",
            "description": "Last name of the customer.",
            "example": "Northstar Banking Service"
          },
          "phone": {
            "type": "string",
            "description": "Contact phone number of the customer.",
            "example": "+1-212-555-0147"
          },
          "email": {
            "type": "string",
            "description": "Email address of the customer.",
            "example": "olivia.bennett@northstar.example"
          },
          "type": {
            "type": "string",
            "description": "Type of the customer.",
            "example": "STANDARD"
          },
          "createdDate": {
            "type": "string",
            "description": "Date when the customer was created.",
            "example": "2026-09-15"
          },
          "lastModifiedDate": {
            "type": "string",
            "description": "Date when the customer was last modified.",
            "example": "2026-09-15"
          },
          "applicationId": {
            "type": "string",
            "description": "Unique identifier for the application.",
            "example": "APP-276972"
          },
          "applicationName": {
            "type": "string",
            "description": "Name of the application.",
            "example": "Northstar Banking Service"
          },
          "metadata": {
            "description": "Metadata information related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for a customer application.",
        "example": {
          "id": "STANDARD",
          "username": "Northstar Banking Service",
          "firstName": "Northstar Banking Service",
          "lastName": "Northstar Banking Service",
          "phone": "+1-212-555-0147",
          "email": "olivia.bennett@northstar.example",
          "type": "STANDARD",
          "createdDate": "2026-09-15",
          "lastModifiedDate": "2026-09-15",
          "applicationId": "APP-276972",
          "applicationName": "Northstar Banking Service",
          "metadata": {
            "responseId": "badaab62-6280-5189-826c-06ad8634c69a",
            "correlationId": "90f8e009-f085-5e9b-a1ab-16ea69bbfba9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP-67890"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "CORR-123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "2023-01-01T10:00:10Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Schema representing metadata associated with the customer application response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed, typically used for tracking and analytics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-customer-with-app-data"
        },
        "example": "open-finance-api-get-customer-with-app-data"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request, useful for debugging and monitoring application performance.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, allowing clients to authenticate using a JSON Web Token (JWT). Clients should include the token in the Authorization header as 'Bearer {token}' when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}