{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Institution Login Reconnections API",
    "description": "The Customer Institution Login Reconnections API enables businesses to facilitate seamless reconnection processes for customers' institution login IDs. This operation allows the updating or re-establishing of login credentials associated with a customer's account. Typical consumers of this API include customer support teams and financial institutions that require rapid access to resolve login issues for their clients. Through this API, organizations can enhance customer experience by streamlining account recovery and maintaining secure access to services.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/connect-components/customers/{customerId}/institution-login-ids/{param2}/reconnections": {
      "post": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Reconnect Institution Login ID for a Customer",
        "description": "This operation allows you to reconnect an institution login ID for a specific customer. By providing the necessary details, you can re-establish the connection efficiently, ensuring that the customer can access their account seamlessly.",
        "operationId": "reconnectInstitutionLoginIdForCustomerCUST-100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          },
          {
            "$ref": "#/components/parameters/param2"
          }
        ],
        "requestBody": {
          "description": "The request body for initiating reconnections for a specific institution login ID associated with a customer. This body should contain the necessary data required to process the reconnection request effectively.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReconnectInstitutionLoginIdForCustomerCUST-100045Request"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource successfully created, reconnecting the specified institution login ID.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReconnectInstitutionLoginIdForCustomerCUST-100045Response_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ReconnectInstitutionLoginIdForCustomerCUST-100045Request": {
        "type": "object",
        "properties": {
          "requestContext": {
            "description": "Context information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for reconnection operations related to institution login IDs.",
        "example": {
          "requestContext": {
            "requestId": "b1e55df5-2f47-582a-b049-74f0f0e1dcf4",
            "correlationId": "4cc1e911-e1a5-5260-bcc4-91d124db1bb7",
            "idempotencyKey": "aa81a344-ce2e-51e3-a0a7-8f729af37b30",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-819807"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the current request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency for operations.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was initiated.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the system where the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the application making the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information for tracking and managing requests."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel used.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., mobile, web).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Details related to the channel used for the request."
      },
      "ReconnectInstitutionLoginIdForCustomerCUST-100045Response_201": {
        "title": "Reconnection Response",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "a9f039bf-f7b6-06eb-c5a0-ab8eec521c2b"
          },
          "eventStreamId": {
            "type": "string",
            "description": "Identifier for the event stream associated with this response.",
            "example": "d8831ae1-966a-4edb-29d1-5841cb11557e"
          },
          "elements": {
            "type": "array",
            "description": "Array of elements detailing specific attributes related to the response.",
            "example": [
              {
                "id": "37038f0d-94a9-e787-fcca-a59a36569ac9",
                "label": "STANDARD",
                "sortOrder": 1
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ReconnectionElement"
            }
          },
          "metadata": {
            "description": "Metadata information related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for reconnections in the institution login process.",
        "example": {
          "id": "a9f039bf-f7b6-06eb-c5a0-ab8eec521c2b",
          "eventStreamId": "d8831ae1-966a-4edb-29d1-5841cb11557e",
          "elements": [
            {
              "id": "37038f0d-94a9-e787-fcca-a59a36569ac9",
              "label": "STANDARD",
              "sortOrder": 1
            }
          ],
          "metadata": {
            "responseId": "ce215a5f-d32c-5088-ba43-c7370bc9b118",
            "correlationId": "4cc1e911-e1a5-5260-bcc4-91d124db1bb7",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ReconnectionElement": {
        "title": "Reconnection Element",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the element.",
            "example": "string"
          },
          "label": {
            "type": "string",
            "description": "Label describing the element.",
            "example": "string"
          },
          "sortOrder": {
            "type": "integer",
            "description": "Sorting order for the element used in listings or displays.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Schema for representing individual elements within the reconnection response."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response instance.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Schema representing metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "param2": {
        "name": "param2",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "The unique identifier for the API endpoint being accessed, allowing for tracking and logging of requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-post-reconnections"
        },
        "example": "open-finance-api-post-reconnections"
      },
      "x-runtime-app": {
        "description": "Indicates the runtime application processing the request, useful for debugging and monitoring performance.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses bearer authentication with JSON Web Tokens (JWT). Clients must provide a valid JWT token in the authorization header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}