{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Pisp By Param1-spec",
    "description": "This API allows users to retrieve file payment consents associated with a specific PISP parameter. It serves a critical function for financial institutions and payment service providers needing to access and manage consent information. By leveraging this endpoint, developers can seamlessly integrate consent retrieval into their applications, ensuring compliance with open banking regulations. Typical consumers include fintech developers and banking applications that require user consent verification for payment submissions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/file-payment-consents/{param1}": {
      "get": {
        "tags": [],
        "summary": "Retrieve a specific file payment consent by its ID.",
        "description": "This endpoint allows you to fetch details of a specific file payment consent using its unique identifier. Ensure you have the correct ID to retrieve the desired payment consent information.",
        "operationId": "getPispByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the payment consent related to the specified resource. It contains the necessary parameters to identify and process the GET request appropriately.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPispByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and the resource is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPispByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPispByParam1Request": {
        "type": "string",
        "description": "This schema represents the request body for a GET operation related to file payment consents.",
        "example": "{}"
      },
      "GetPispByParam1Response_200": {
        "type": "object",
        "properties": {
          "Data": {
            "$ref": "#/components/schemas/PaymentConsentData"
          }
        },
        "description": "Schema representing the response for file payment consent operations.",
        "example": {
          "Data": {
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "Status": "ACTIVE",
            "StatusReason": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "Path": "STANDARD"
              }
            ],
            "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
            "CutOffDateTime": "2026-09-15T14:30:00Z",
            "Charges": [
              {
                "ChargeBearer": "STANDARD",
                "Type": "STANDARD",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            ],
            "Initiation": {
              "FileType": "STANDARD",
              "FileHash": "STANDARD",
              "FileReference": "STANDARD",
              "NumberOfTransactions": "STANDARD",
              "ControlSum": 100.0,
              "RequestedExecutionDateTime": "2026-09-15T14:30:00Z",
              "LocalInstrument": "STANDARD",
              "CreditorAgent": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "LEI": "STANDARD",
                "PostalAddress": {
                  "AddressType": "STANDARD",
                  "Department": "STANDARD",
                  "SubDepartment": "STANDARD",
                  "StreetName": "Northstar Banking Service",
                  "BuildingNumber": "STANDARD",
                  "BuildingName": "Northstar Banking Service",
                  "Floor": "STANDARD",
                  "UnitNumber": "STANDARD",
                  "Room": "STANDARD",
                  "PostBox": "STANDARD",
                  "TownLocationName": "Northstar Banking Service",
                  "DistrictName": "Northstar Banking Service"
                }
              }
            }
          },
          "metadata": {
            "responseId": "4f7542dc-0e7b-5a61-a0ad-3c36aef6a594",
            "correlationId": "4f0e7636-5dc2-59d4-a4a1-3930eed96f77",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentConsentData": {
        "type": "object",
        "properties": {
          "ConsentId": {
            "type": "string",
            "description": "Unique identifier for the consent.",
            "example": "string"
          },
          "CreationDateTime": {
            "type": "string",
            "description": "Date and time when the consent was created.",
            "example": "string"
          },
          "Status": {
            "type": "string",
            "description": "Current status of the consent.",
            "example": "string"
          },
          "StatusReason": {
            "type": "array",
            "description": "Array of reasons explaining the status of the consent.",
            "items": {
              "$ref": "#/components/schemas/StatusReason"
            }
          },
          "StatusUpdateDateTime": {
            "type": "string",
            "description": "Date and time when the consent status was last updated.",
            "example": "string"
          },
          "CutOffDateTime": {
            "type": "string",
            "description": "Cut-off date and time for processing transactions related to the consent.",
            "example": "string"
          },
          "Charges": {
            "type": "array",
            "description": "Array of charges associated with the consent.",
            "items": {
              "$ref": "#/components/schemas/Charge"
            }
          },
          "Initiation": {
            "$ref": "#/components/schemas/Initiation"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Detailed data regarding the payment consent."
      },
      "StatusReason": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Code indicating the reason for the status.",
            "example": "string"
          },
          "description": {
            "type": "string",
            "description": "Text description of the status reason.",
            "example": "string"
          },
          "Path": {
            "type": "string",
            "description": "Path related to the status reason.",
            "example": "string"
          }
        },
        "description": "Schema representing the reason for a consent's status."
      },
      "Charge": {
        "type": "object",
        "properties": {
          "ChargeBearer": {
            "type": "string",
            "description": "Party responsible for paying the charge.",
            "example": "string"
          },
          "Type": {
            "type": "string",
            "description": "Type of the charge.",
            "example": "string"
          },
          "Amount": {
            "$ref": "#/components/schemas/ChargeAmount"
          }
        },
        "description": "Details about the financial charge associated with the consent."
      },
      "ChargeAmount": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "Amount of the charge.",
            "example": "string"
          },
          "Currency": {
            "type": "string",
            "description": "Currency of the charge amount.",
            "example": "string"
          }
        },
        "description": "The monetary amount and currency of a charge."
      },
      "Initiation": {
        "type": "object",
        "properties": {
          "FileType": {
            "type": "string",
            "description": "Type of the file for the transaction.",
            "example": "string"
          },
          "FileHash": {
            "type": "string",
            "description": "Hash of the file for integrity verification.",
            "example": "string"
          },
          "FileReference": {
            "type": "string",
            "description": "Reference identifier for the file.",
            "example": "string"
          },
          "NumberOfTransactions": {
            "type": "string",
            "description": "Number of transactions included in the file.",
            "example": "string"
          },
          "ControlSum": {
            "type": "number",
            "description": "Total control sum of the transactions in the file.",
            "example": 0.0
          },
          "RequestedExecutionDateTime": {
            "type": "string",
            "description": "Requested date and time for execution.",
            "example": "string"
          },
          "LocalInstrument": {
            "type": "string",
            "description": "Local instrument used for the transactions.",
            "example": "string"
          },
          "CreditorAgent": {
            "$ref": "#/components/schemas/CreditorAgent"
          }
        },
        "description": "Details regarding the initiation of the payment consent."
      },
      "CreditorAgent": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "Name of the scheme used for the creditor's agent.",
            "example": "string"
          },
          "Identification": {
            "type": "string",
            "description": "Identification code of the creditor's agent.",
            "example": "string"
          },
          "Name": {
            "type": "string",
            "description": "Name of the creditor's agent.",
            "example": "string"
          },
          "LEI": {
            "type": "string",
            "description": "Legal Entity Identifier of the creditor's agent.",
            "example": "string"
          },
          "PostalAddress": {
            "$ref": "#/components/schemas/PostalAddress"
          }
        },
        "description": "Details about the creditor's agent involved in the transaction."
      },
      "PostalAddress": {
        "type": "object",
        "properties": {
          "AddressType": {
            "type": "string",
            "description": "Type of the address (e.g., residential, business).",
            "example": "string"
          },
          "Department": {
            "type": "string",
            "description": "Department related to the postal address.",
            "example": "string"
          },
          "SubDepartment": {
            "type": "string",
            "description": "Sub-department related to the postal address.",
            "example": "string"
          },
          "StreetName": {
            "type": "string",
            "description": "Name of the street in the postal address.",
            "example": "string"
          },
          "BuildingNumber": {
            "type": "string",
            "description": "Building number in the postal address.",
            "example": "string"
          },
          "BuildingName": {
            "type": "string",
            "description": "Name of the building in the postal address.",
            "example": "string"
          },
          "Floor": {
            "type": "string",
            "description": "Floor number in the building.",
            "example": "string"
          },
          "UnitNumber": {
            "type": "string",
            "description": "Unit number within the building.",
            "example": "string"
          },
          "Room": {
            "type": "string",
            "description": "Room number within the unit.",
            "example": "string"
          },
          "PostBox": {
            "type": "string",
            "description": "Post box number for the address.",
            "example": "string"
          },
          "TownLocationName": {
            "type": "string",
            "description": "Name of the town or location of the address.",
            "example": "string"
          },
          "DistrictName": {
            "type": "string",
            "description": "Name of the district for the postal address.",
            "example": "string"
          }
        },
        "description": "Schema representing the postal address information."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracing the request across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request occurred.",
            "example": "string"
          }
        },
        "description": "Metadata regarding the response for the consent operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the API endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-get-file-payment-consent"
        },
        "example": "payment-initiation-openapi-get-file-payment-consent"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens. This method relies on JSON Web Tokens (JWT) to securely transmit authentication information. Ensure the token is included in the HTTP Authorization header as 'Bearer <token>' when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}