{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Market Data By Param1-spec",
    "description": "The Market Data Retrieval API provides access to critical market data based on specific parameters. Developers can utilize this API to fetch detailed information related to market data switch administration, which is essential for financial analyses and decision-making. Typical consumers of this API include financial analysts and software systems requiring up-to-date market information. By querying with the provided 'param1', users can retrieve tailored market data insights, facilitating enhanced operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-data/market-data-switch-administration/{param1}": {
      "get": {
        "tags": [
          "Market Data Management"
        ],
        "summary": "Retrieve Market Data Switch Administration Details",
        "description": "Fetches the details of the specified market data switch administration identified by RES-100045. This endpoint allows users to access critical information regarding market data configurations and settings.",
        "operationId": "getMarketDataByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving market data switch administration for a specific resource. This request is intended to fetch details about the specified market data switch operation identified by RES-100045.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMarketDataByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested market data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMarketDataByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetMarketDataByParam1Request": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation in the market data switch administration. The request body is expected to be a string.",
        "example": "{}"
      },
      "GetMarketDataByParam1Response_200": {
        "title": "Market Data Switch Administration Response",
        "type": "object",
        "properties": {
          "instrumentId": {
            "type": "string",
            "description": "A unique identifier for the instrument.",
            "example": "STANDARD"
          },
          "isin": {
            "type": "string",
            "description": "The International Securities Identification Number for the instrument.",
            "example": "STANDARD"
          },
          "marketIdentifierCode": {
            "type": "string",
            "description": "The code that identifies the market in which the instrument is traded.",
            "example": "CODE-270"
          },
          "asOf": {
            "type": "string",
            "description": "The date and time for which the market data is applicable.",
            "example": "2026-08-11T12:00:00Z"
          },
          "dataSource": {
            "type": "string",
            "description": "The source from which the market data is obtained.",
            "example": "STANDARD"
          },
          "feedId": {
            "type": "string",
            "description": "A unique identifier for the data feed.",
            "example": "STANDARD"
          },
          "protocol": {
            "type": "string",
            "description": "The protocol used for data transmission.",
            "example": "STANDARD"
          },
          "messagesPerSecond": {
            "type": "integer",
            "description": "The number of messages transmitted per second.",
            "format": "int32",
            "example": 1
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record (e.g., active, inactive).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version of the market data record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "A unique identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "An identifier used to correlate related requests and responses.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "The timestamp when the response was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region where the processing of the request took place.",
                "example": "string"
              }
            },
            "description": "Metadata associated with the market data response.",
            "example": {
              "responseId": "5e3b458d-dadb-538f-b9aa-fecabcb98045",
              "correlationId": "ed5ad0d0-7f9b-5260-89b1-f34b732eefda",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "This schema represents the response structure for the Market Data Switch Administration API, which includes information about the instrument, its market data, and associated metadata.",
        "example": {
          "instrumentId": "STANDARD",
          "isin": "STANDARD",
          "marketIdentifierCode": "CODE-270",
          "asOf": "2026-08-11T12:00:00Z",
          "dataSource": "STANDARD",
          "feedId": "STANDARD",
          "protocol": "STANDARD",
          "messagesPerSecond": 1,
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "5e3b458d-dadb-538f-b9aa-fecabcb98045",
            "correlationId": "ed5ad0d0-7f9b-5260-89b1-f34b732eefda",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "market-data-switch-administration-get-market-data-switch-administration"
        },
        "example": "market-data-switch-administration-get-market-data-switch-administration"
      },
      "X-Runtime-App": {
        "description": "The name of the application responsible for executing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JSON Web Tokens (JWT) for authorization. Clients must include a valid JWT in the Authorization header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}