{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Banking Operational Services Internal Bank Account-v5-spec",
    "description": "The Internal Bank Account Management API enables organizations to efficiently create and manage internal bank accounts as part of their operational banking services. This API allows for streamlined account setup, ensuring compliance and accuracy in financial operations. Typical consumers include banking operators and financial administrators who require integration with internal systems for real-time account management. By utilizing this API, institutions can improve their operational efficiency and maintain better control over their internal banking processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/internal-bank-account": {
      "post": {
        "tags": [
          "Banking"
        ],
        "summary": "Create a new internal bank account.",
        "description": "This operation allows the user to create a new internal bank account within the operational services. It requires the necessary details for the account and will return the newly created account information upon success.",
        "operationId": "createBankingOperationalServicesInternalBankAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create or update an internal bank account within the operational services. It should provide the necessary data in JSON format, following the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBankingOperationalServicesInternalBankAccountRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully, representing the new internal bank account.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBankingOperationalServicesInternalBankAccountResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateBankingOperationalServicesInternalBankAccountRequest": {
        "title": "Internal Bank Account Operation Request",
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "The ID of the operation being requested.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "The ID of the customer associated with the operation.",
            "example": "CUST-603581"
          },
          "accountId": {
            "type": "string",
            "description": "The ID of the bank account on which the operation is to be performed.",
            "example": "ACC-533049"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the operation was requested.",
            "example": "2026-08-11T12:00:00Z"
          },
          "priority": {
            "type": "string",
            "description": "The priority level of the operation.",
            "example": "NORMAL"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing a request to perform an operation on an internal bank account.",
        "example": {
          "operationId": "STANDARD",
          "customerId": "CUST-603581",
          "accountId": "ACC-533049",
          "requestedAt": "2026-08-11T12:00:00Z",
          "priority": "NORMAL",
          "requestContext": {
            "requestId": "d690f81e-72f1-55ee-9008-a37fcad2f215",
            "correlationId": "4a4de8cf-c66c-5c1d-9e41-d6820079d021",
            "idempotencyKey": "9e82ec84-65e7-53a9-b518-27843bfb79a6",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-989657"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used to correlate requests across systems.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request context was created.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system making the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the application making the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema containing contextual information about the API request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Schema representing information about the channel used for the request."
      },
      "CreateBankingOperationalServicesInternalBankAccountResponse_201": {
        "title": "Bank Account Operation Response",
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "Unique identifier for the operation.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "Identifier for the customer associated with the operation.",
            "example": "CUST-325133"
          },
          "accountId": {
            "type": "string",
            "description": "Identifier for the account on which the operation was performed.",
            "example": "ACC-365690"
          },
          "resourceId": {
            "type": "string",
            "description": "Identifier for the resource related to the operation.",
            "example": "RES-940434"
          },
          "status": {
            "type": "string",
            "description": "Current status of the operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the operation.",
            "$ref": "#/components/schemas/OperationMetadata"
          }
        },
        "description": "Response schema for a bank account operation request, including operation details and metadata.",
        "example": {
          "operationId": "STANDARD",
          "customerId": "CUST-325133",
          "accountId": "ACC-365690",
          "resourceId": "RES-940434",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "74534366-2e5b-5eb8-b021-995525b948ef",
            "correlationId": "4a4de8cf-c66c-5c1d-9e41-d6820079d021",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "OperationMetadata": {
        "title": "Operation Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response corresponding to the operation.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the operation was processed.",
            "example": "string"
          }
        },
        "description": "Contains metadata information related to a specific bank account operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "internal-bank-account-create-internal-bank-account"
        },
        "example": "internal-bank-account-create-internal-bank-account"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method with JSON Web Tokens (JWT). Clients must include a valid JWT in the Authorization header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}