{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Replace Portfolio Allocation-spec",
    "description": "The Portfolio Allocation Management API enables users to effectively manage and update allocation settings within specific investment portfolios. Through this endpoint, stakeholders can adjust the allocation parameters for a given portfolio identified by its unique portfolioId. This API is essential for portfolio managers and financial institutions looking to maintain optimal investment strategies and respond to market changes efficiently. Use cases may include reallocating funds to different asset classes or adjusting risk profiles as needed.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/portfolios/{portfolioId}/allocations": {
      "put": {
        "tags": [
          "Portfolios"
        ],
        "summary": "Update the allocations of a specific portfolio.",
        "description": "This endpoint allows you to modify the allocation settings for a specific portfolio identified by its unique resource ID. Make sure to provide the necessary details in the request body to update the allocations accordingly.",
        "operationId": "replacePortfolioAllocation",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/portfolioId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the allocations for a specific portfolio identified by RES-100045. It should contain the necessary information required to modify the allocation details, adhering to the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplacePortfolioAllocationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource successfully created or updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplacePortfolioAllocationResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ReplacePortfolioAllocationRequest": {
        "title": "Portfolio Allocation Request",
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "The unique identifier for the portfolio.",
            "example": "PORT-905453"
          },
          "investmentAccountId": {
            "type": "string",
            "description": "The unique identifier for the investment account associated with the portfolio.",
            "example": "ACC-338486"
          },
          "investmentObjective": {
            "type": "string",
            "description": "The investment objective set for the portfolio.",
            "example": "STANDARD"
          },
          "riskProfile": {
            "type": "string",
            "description": "The risk profile assigned to the portfolio.",
            "example": "STANDARD"
          },
          "baseCurrency": {
            "type": "string",
            "description": "The base currency used for the portfolio.",
            "example": "USD"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents a request body for allocating resources to a specific portfolio.",
        "example": {
          "portfolioId": "PORT-905453",
          "investmentAccountId": "ACC-338486",
          "investmentObjective": "STANDARD",
          "riskProfile": "STANDARD",
          "baseCurrency": "USD",
          "requestContext": {
            "requestId": "9ef07ace-09b0-53bf-b9eb-bd005cbdbe2b",
            "correlationId": "a51c61e4-5da7-5d7a-9869-075598909a7f",
            "idempotencyKey": "d8f1214b-8e05-5cde-9dce-508698bb1dd3",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-748760"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-001"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier for tracking related requests.",
            "example": "corr-001"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure the request is idempotent.",
            "example": "idemp-abc"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp indicating when the request was made.",
            "example": "2023-10-01T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "WebApp"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema provides contextual information about the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., Web, Mobile).",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier for the device used.",
            "example": "device-xyz"
          }
        },
        "description": "This schema contains information about the channel through which the request was made."
      },
      "ReplacePortfolioAllocationResponse_201": {
        "title": "Portfolio Allocation Response",
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "The unique identifier for the portfolio.",
            "example": "PORT-608157"
          },
          "investmentAccountId": {
            "type": "string",
            "description": "The unique identifier for the investment account associated with this portfolio.",
            "example": "ACC-713558"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource related to this portfolio allocation.",
            "example": "RES-112243"
          },
          "status": {
            "type": "string",
            "description": "The current status of the portfolio allocation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the portfolio allocation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata associated with the portfolio allocation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for portfolio allocation updates.",
        "example": {
          "portfolioId": "PORT-608157",
          "investmentAccountId": "ACC-713558",
          "resourceId": "RES-112243",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "e348c892-a931-5916-9bcd-294f6ccda5a5",
            "correlationId": "a51c61e4-5da7-5d7a-9869-075598909a7f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation ID for tracing the request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing for this request took place.",
            "example": "string"
          }
        },
        "description": "Metadata schema containing additional information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "portfolioId": {
        "name": "portfolioId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "investment-portfolio-planning-create-investment-portfolio-planning"
        },
        "example": "investment-portfolio-planning-create-investment-portfolio-planning"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      },
      "X-Workflow-Id": {
        "description": "A unique identifier for the workflow associated with this request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-052"
        },
        "example": "WF-052"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow associated with the current operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Portfolio Rebalancing and Order Execution"
        },
        "example": "Portfolio Rebalancing and Order Execution"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow, indicating its progress or status.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the workflow execution, used for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "058c7232-056a-4b2d-aab7-f77ae51cdb4f"
        },
        "example": "058c7232-056a-4b2d-aab7-f77ae51cdb4f"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses HTTP Bearer authentication using JSON Web Tokens (JWT). Clients must include a valid token in the 'Authorization' header of requests to access secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}