{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Compliance By Param1-spec",
    "description": "The Regulatory Reporting Compliance API enables users to retrieve compliance information based on specific parameters. This endpoint supports the retrieval of regulatory compliance data, facilitating accurate reporting and decision-making. Typical consumers of this API include compliance officers, risk management teams, and financial institutions seeking to ensure adherence to regulatory requirements. By leveraging this API, organizations can efficiently access vital data necessary for maintaining compliance and mitigating risks.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/compliance/regulatory-reporting/{param1}": {
      "get": {
        "tags": [
          "Compliance"
        ],
        "summary": "Retrieve regulatory report details.",
        "description": "Fetches the complete information related to the specified regulatory report identified by RES-100045. This endpoint provides users with all necessary details to ensure compliance and reporting accuracy.",
        "operationId": "getComplianceByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve regulatory reporting information specific to the resource RES-100045. Ensure to provide the required parameters in the body as defined by the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetComplianceByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the compliance regulatory report.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetComplianceByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetComplianceByParam1Request": {
        "type": "string",
        "description": "This schema represents the request body for a regulatory reporting operation in the application, specifically for the resource RES-100045. It is expected to be formatted as a JSON string.",
        "example": "{}"
      },
      "GetComplianceByParam1Response_200": {
        "title": "Regulatory Reporting Response",
        "type": "object",
        "properties": {
          "submissionId": {
            "type": "string",
            "description": "Unique identifier for the submission.",
            "example": "STANDARD"
          },
          "legalEntityId": {
            "type": "string",
            "description": "Identifier for the legal entity associated with the report.",
            "example": "STANDARD"
          },
          "jurisdiction": {
            "type": "string",
            "description": "Jurisdiction under which the regulatory report falls.",
            "example": "STANDARD"
          },
          "reportingPeriod": {
            "type": "string",
            "description": "Reporting period for the report.",
            "example": "STANDARD"
          },
          "regulation": {
            "type": "string",
            "description": "Regulation that the report is compliant with.",
            "example": "STANDARD"
          },
          "dueDate": {
            "type": "string",
            "description": "The due date for the regulatory submission.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version of the report.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the report.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the report.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for a regulatory reporting operation.",
        "example": {
          "submissionId": "STANDARD",
          "legalEntityId": "STANDARD",
          "jurisdiction": "STANDARD",
          "reportingPeriod": "STANDARD",
          "regulation": "STANDARD",
          "dueDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "4df618f2-e077-55ef-b11e-19a03f80205c",
            "correlationId": "53378666-5162-56c2-bd60-ad4a975eafe3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response generated by the operation.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate the request and response.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the report was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the report processing took place.",
            "example": "string"
          }
        },
        "description": "Schema representing additional metadata for the report."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "regulatory-reporting-get-regulatory-reporting"
        },
        "example": "regulatory-reporting-get-regulatory-reporting"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication. A valid token must be provided in the 'Authorization' header of the request, formatted as 'Bearer {token}'. The token should be a JSON Web Token (JWT) that has been generated and signed by the authentication server.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}