{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Corporate Tax Advisory Engagement-spec",
    "description": "The Corporate Tax Advisory Engagements API enables businesses to engage with corporate tax consultancy services. This API facilitates the creation of tax advisory engagements, empowering organizations to collaborate with experts and manage their tax strategy effectively. It primarily serves finance and accounting departments looking to optimize tax compliance and advisory processes. By leveraging this API, users can easily initiate and manage engagements, enhancing their financial operations and strategic planning.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://lending-credit-app:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/corporate-finance/corporate-tax-advisory/engagements": {
      "post": {
        "tags": [
          "Corporate Tax Advisory"
        ],
        "summary": "Create a new corporate tax advisory engagement.",
        "description": "This endpoint allows users to initiate a new engagement for corporate tax advisory services. It requires details relevant to the engagement and will return confirmation of the created engagement along with a unique identifier.",
        "operationId": "createCorporateTaxAdvisoryEngagement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create a new engagement in the corporate tax advisory service. It contains all the necessary information required for initiating and managing the engagement effectively.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCorporateTaxAdvisoryEngagementRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "New engagement successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCorporateTaxAdvisoryEngagementResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCorporateTaxAdvisoryEngagementRequest": {
        "type": "object",
        "properties": {
          "clientId": {
            "type": "string",
            "description": "The unique identifier for the client.",
            "example": "STANDARD"
          },
          "engagementId": {
            "type": "string",
            "description": "The unique identifier for the engagement.",
            "example": "STANDARD"
          },
          "transactionType": {
            "type": "string",
            "description": "The type of transaction being engaged.",
            "example": "STANDARD"
          },
          "enterpriseValue": {
            "description": "Details about the enterprise value including amount and currency.",
            "$ref": "#/components/schemas/EnterpriseValue"
          },
          "targetCloseDate": {
            "type": "string",
            "description": "The target date for closing the engagement.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "description": "Contextual information for the request including identifiers and source information.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "example": {
          "clientId": "STANDARD",
          "engagementId": "STANDARD",
          "transactionType": "STANDARD",
          "enterpriseValue": {
            "amount": 100.0,
            "currency": "USD"
          },
          "targetCloseDate": "2026-09-15",
          "requestContext": {
            "requestId": "a1e83450-f081-5a69-848c-aacaff30b4d9",
            "correlationId": "b35e0dce-f01e-5e6e-9aa1-1ba7c9ddf21b",
            "idempotencyKey": "c69bf4f6-9007-54dd-9dcd-a1e36fe6b0b2",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-940558"
            }
          }
        }
      },
      "EnterpriseValue": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The monetary amount representing the enterprise value.",
            "example": 1000000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is denominated.",
            "example": "USD"
          }
        },
        "description": "Represents the enterprise value with amount and currency."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-7890"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to correlate multiple requests across systems.",
            "example": "corr-5432"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure idempotency of requests.",
            "example": "idempotency-key-abc"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application through which the request was initiated.",
            "example": "WebApp"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual details surrounding the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used (e.g., mobile, web).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used in the transaction.",
            "example": "device-123"
          }
        },
        "description": "Represents the channel details including ID, type, and device information."
      },
      "CreateCorporateTaxAdvisoryEngagementResponse_201": {
        "type": "object",
        "properties": {
          "clientId": {
            "type": "string",
            "description": "The unique identifier for the client.",
            "example": "STANDARD"
          },
          "engagementId": {
            "type": "string",
            "description": "The unique identifier for the engagement.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "The identifier for the resource associated with the engagement.",
            "example": "RES-970518"
          },
          "status": {
            "type": "string",
            "description": "The current status of the engagement.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the engagement was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the engagement response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "example": {
          "clientId": "STANDARD",
          "engagementId": "STANDARD",
          "resourceId": "RES-970518",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "c1d82d7c-2fb7-5048-acce-3dc9a30ae68a",
            "correlationId": "b35e0dce-f01e-5e6e-9aa1-1ba7c9ddf21b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate requests and responses in the system.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata containing additional information about the response."
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-066"
        },
        "example": "WF-066"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ebd0639b-69c5-4c79-a297-e7e1039ad21f"
        },
        "example": "ebd0639b-69c5-4c79-a297-e7e1039ad21f"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "5afa39f5-eea6-4c3e-881f-b817683597a6"
        },
        "example": "5afa39f5-eea6-4c3e-881f-b817683597a6"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the specific endpoint that was called during the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "corporate-tax-advisory-create-corporate-tax-advisory-engagement"
        },
        "example": "corporate-tax-advisory-create-corporate-tax-advisory-engagement"
      },
      "X-Runtime-App": {
        "description": "The name of the application runtime that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      },
      "X-Workflow-Id": {
        "description": "A unique identifier for the workflow associated with this request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-066"
        },
        "example": "WF-066"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Factoring and Receivables Financing"
        },
        "example": "Factoring and Receivables Financing"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "5afa39f5-eea6-4c3e-881f-b817683597a6"
        },
        "example": "5afa39f5-eea6-4c3e-881f-b817683597a6"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using a Bearer token, specifically formatted as a JSON Web Token (JWT). This format allows secure transmission of information between parties as a JSON object, which can be verified and trusted because it is digitally signed.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}