{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Market Operation Order Allocation-spec",
    "description": "The Market Operation Order Allocation API enables businesses to allocate orders within market operations efficiently. This endpoint allows users to submit new order allocation requests that optimize resource distribution based on market conditions and operational requirements. Typical consumers include financial institutions and trading platforms looking to manage their order flows effectively. By leveraging this API, developers can automate order processing, ensuring timely execution and improved operational agility.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-operations/order-allocation": {
      "post": {
        "tags": [
          "Order Management"
        ],
        "summary": "Allocate an order to a specific market operation.",
        "description": "This endpoint allows you to allocate an order to the designated market operation. It ensures that the order is processed appropriately and associated with the correct market context, optimizing operations and resource management.",
        "operationId": "createMarketOperationOrderAllocation",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This endpoint enables clients to submit an order allocation request. The request body must conform to the specified schema, which outlines the necessary fields and their types for the operation to be processed successfully.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMarketOperationOrderAllocationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Order allocated successfully. Indicates that the resource has been created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateMarketOperationOrderAllocationResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateMarketOperationOrderAllocationRequest": {
        "title": "Order Allocation Request",
        "type": "object",
        "properties": {
          "tradeId": {
            "type": "string",
            "description": "Unique identifier for the trade.",
            "example": "STANDARD"
          },
          "instrumentId": {
            "type": "string",
            "description": "Identifier for the financial instrument.",
            "example": "STANDARD"
          },
          "settlementDate": {
            "type": "string",
            "description": "Date when the settlement should occur.",
            "example": "2026-09-15"
          },
          "quantity": {
            "type": "integer",
            "description": "Quantity of the instrument to be allocated.",
            "format": "int32",
            "example": 1
          },
          "settlementCurrency": {
            "type": "string",
            "description": "Currency in which the settlement will occur.",
            "example": "USD"
          },
          "custodianId": {
            "type": "string",
            "description": "Identifier for the custodian managing the assets.",
            "example": "STANDARD"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for order allocation operations in the market.",
        "example": {
          "tradeId": "STANDARD",
          "instrumentId": "STANDARD",
          "settlementDate": "2026-09-15",
          "quantity": 1,
          "settlementCurrency": "USD",
          "custodianId": "STANDARD",
          "requestContext": {
            "requestId": "6351f1cc-5fd3-5d02-ab07-4041c489ec0c",
            "correlationId": "696ab562-e08a-52d9-9757-09ade4554d04",
            "idempotencyKey": "6ccdd768-51d6-5876-b936-d8209fe87a12",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-248365"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to trace the request across systems.",
            "example": "corr456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotent requests are processed once.",
            "example": "idempotent789"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Source system from where the request originated.",
            "example": "SystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application within the source system making the request.",
            "example": "AppB"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema providing contextual information about the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel used.",
            "example": "channel123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., API, Web, Mobile).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device from which the request was made.",
            "example": "device456"
          }
        },
        "description": "Details about the channel used for the request."
      },
      "CreateMarketOperationOrderAllocationResponse_201": {
        "title": "Order Allocation Response",
        "type": "object",
        "properties": {
          "tradeId": {
            "type": "string",
            "description": "Unique identifier for the trade.",
            "example": "STANDARD"
          },
          "instrumentId": {
            "type": "string",
            "description": "Identifier for the financial instrument.",
            "example": "STANDARD"
          },
          "custodianId": {
            "type": "string",
            "description": "Identifier for the custodian managing the assets.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "Identifier for the associated resource.",
            "example": "RES-381553"
          },
          "status": {
            "type": "string",
            "description": "Current status of the order allocation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the order allocation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "RESPONSE45678"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier used to correlate requests and responses.",
                "example": "CORRELATION12345"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp indicating when the response was generated.",
                "example": "2023-10-01T12:01:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Geographical region where the processing took place.",
                "example": "US-East"
              }
            },
            "description": "Additional metadata related to the order allocation response.",
            "example": {
              "responseId": "ead377f1-cbd8-516d-b57c-17c992fdcc2e",
              "correlationId": "696ab562-e08a-52d9-9757-09ade4554d04",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Represents the response schema for successful order allocation operations.",
        "example": {
          "tradeId": "STANDARD",
          "instrumentId": "STANDARD",
          "custodianId": "STANDARD",
          "resourceId": "RES-381553",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "ead377f1-cbd8-516d-b57c-17c992fdcc2e",
            "correlationId": "696ab562-e08a-52d9-9757-09ade4554d04",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "order-allocation-create-order-allocation"
        },
        "example": "order-allocation-create-order-allocation"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the request, providing context about where the request originated.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token, specifically in the JWT (JSON Web Token) format, for authentication. Clients must include this token in the Authorization header when making requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}