{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Delete Payment Order Cancellation-spec",
    "description": "The Payment Order Cancellation Management API allows users to effectively manage the cancellation of payment orders. This endpoint enables the deletion of specific cancellation records associated with payment orders, facilitating accurate bookkeeping and transaction integrity. Typically utilized by financial institutions and payment processors, this API supports compliance with operational protocols by ensuring that only valid cancellations are maintained. Leveraging this functionality, users can streamline their payment order lifecycle management and enhance overall efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/payments/payment-order/{param1}/cancellations": {
      "delete": {
        "tags": [
          "Payment Order Management"
        ],
        "summary": "Cancel a payment order.",
        "description": "This endpoint allows you to cancel an existing payment order identified by its ID. Ensure that you have the necessary permissions to perform this action. Successful cancellation will remove the payment order from further processing.",
        "operationId": "deletePaymentOrderCancellation",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to cancel a specific payment order identified by PAY-300045. It requires a properly formatted JSON body as defined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeletePaymentOrderCancellationRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted for processing; the cancellation is being processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeletePaymentOrderCancellationResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "DeletePaymentOrderCancellationRequest": {
        "type": "string",
        "description": "This schema represents the body of a request to delete a cancellation operation for a specific payment order.",
        "example": "{}"
      },
      "DeletePaymentOrderCancellationResponse_202": {
        "title": "Payment Cancellation Response",
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "A reference identifier for the action taken.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "The type of action performed for the cancellation.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the payment cancellation.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "Timestamp indicating when the cancellation was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the cancellation response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema that represents the response structure for a payment cancellation operation.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "35de2c40-5381-53cf-b32e-37cd98fee8cf",
            "correlationId": "be0a541c-0c74-5da7-93a8-19cd98099bda",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Schema representing additional details and tracking information for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-order-cancel-payment-order"
        },
        "example": "payment-order-cancel-payment-order"
      },
      "X-Runtime-App": {
        "description": "Name of the application that executed the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      },
      "X-Workflow-Id": {
        "description": "Unique identifier for the workflow associated with this operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-020"
        },
        "example": "WF-020"
      },
      "X-Workflow-Name": {
        "description": "This header indicates the name of the workflow that is being executed related to the payment cancellation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Payment Recall Reversal and Investigation"
        },
        "example": "Payment Recall Reversal and Investigation"
      },
      "X-Workflow-State": {
        "description": "This header reflects the current state of the workflow, providing insight into its progress or completion status.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "This header contains a unique identifier for the execution instance of the workflow, allowing for tracking specific operations.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "86b144d8-44b3-419c-be4b-5ee58699b8f7"
        },
        "example": "86b144d8-44b3-419c-be4b-5ee58699b8f7"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that utilizes a JSON Web Token (JWT) for secure and stateless authentication. The client must send the token in the Authorization header formatted as 'Bearer <token>'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}