{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Corporate Relation By Param1-spec",
    "description": "The Corporate Partnerships Retrieval API enables users to access specific corporate partnership information using a unique identifier (param1). This API serves banking institutions and corporate clients seeking detailed data on their relationships and collaborations. By leveraging this endpoint, users can enhance their understanding of corporate partnerships, improve decision-making processes, and facilitate better business management. Ideal for developers integrating corporate relationship data into applications, this API supports efficient retrieval of essential business intelligence.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/corporate-relations/corporate-partnerships/{param1}": {
      "get": {
        "tags": [
          "Corporate Partnerships"
        ],
        "summary": "Retrieve details of a specific corporate partnership.",
        "description": "This endpoint allows you to retrieve detailed information about a specific corporate partnership using its unique identifier. It provides essential data that can be used for analysis or management purposes.",
        "operationId": "getCorporateRelationByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve details for a specific corporate partnership identified by RES-100045. Ensure that the necessary parameters are provided according to the schema defined.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCorporateRelationByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of corporate partnership details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCorporateRelationByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCorporateRelationByParam1Request": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to corporate partnerships.",
        "example": "{}"
      },
      "GetCorporateRelationByParam1Response_200": {
        "type": "object",
        "properties": {
          "stakeholderId": {
            "type": "string",
            "description": "Unique identifier for the stakeholder.",
            "example": "STANDARD"
          },
          "engagementId": {
            "type": "string",
            "description": "Unique identifier for the engagement.",
            "example": "STANDARD"
          },
          "subject": {
            "type": "string",
            "description": "Subject of the engagement.",
            "example": "STANDARD"
          },
          "scheduledAt": {
            "type": "string",
            "description": "Date and time when the engagement is scheduled.",
            "example": "2026-08-11T12:00:00Z"
          },
          "relationshipOwnerId": {
            "type": "string",
            "description": "Unique identifier for the owner of the relationship.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version of the record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Schema representing the response for the corporate partnerships operations.",
        "example": {
          "stakeholderId": "STANDARD",
          "engagementId": "STANDARD",
          "subject": "STANDARD",
          "scheduledAt": "2026-08-11T12:00:00Z",
          "relationshipOwnerId": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "6fac6221-4803-5b70-b739-b8ce18e68267",
            "correlationId": "0d66904c-41a5-5b08-ba34-f947c8627a10",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to track the correlation of requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "corporate-alliance-and-stake-holder-get-corporate-alliance-and-stake-holder"
        },
        "example": "corporate-alliance-and-stake-holder-get-corporate-alliance-and-stake-holder"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method, which requires a JSON Web Token (JWT) to be included in the 'Authorization' header of API requests. The JWT serves as a means of representing claims to be transferred between two parties, allowing for securely identifying users and their permissions.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}