{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Foresight Analytic By Usertype Id-spec",
    "description": "The Foresight Analytics Generation API enables businesses to create tailored analytics reports based on specific user type identifiers. This API allows users to generate insights that cater to different customer segments, enhancing decision-making and personalization strategies. Typical consumers include data analysts and product managers who utilize these insights for strategic planning and customer engagement. By integrating this API, organizations can leverage advanced analytics to drive business intelligence and improve service offerings.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/decisioning/customers/{customerId}/reports/foresight-analytics/usertypes/{usertypeId}": {
      "post": {
        "tags": [
          "Customer Analytics"
        ],
        "summary": "Create a new user type report for a specific customer.",
        "description": "This endpoint allows you to generate a foresight analytics report for a specific user type associated with the given customer. It returns structured insights related to this user type, helping in better decision-making.",
        "operationId": "createForesightAnalyticByUsertypeId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          },
          {
            "$ref": "#/components/parameters/usertypeId"
          }
        ],
        "requestBody": {
          "description": "This request body contains the necessary details to create or update user types for the foresight analytics report for the specified customer. Ensure that all required fields are provided as per the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateForesightAnalyticByUsertypeIdRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request accepted and is being processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateForesightAnalyticByUsertypeIdResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateForesightAnalyticByUsertypeIdRequest": {
        "type": "object",
        "properties": {
          "analyticsReportData": {
            "$ref": "#/components/schemas/AnalyticsReportData"
          },
          "accountIds": {
            "type": "string",
            "description": "A unique identifier or identifiers for the accounts to be included in the analytics report.",
            "example": "ACC-835372"
          },
          "fromDate": {
            "type": "integer",
            "description": "The starting date for the report in UNIX timestamp format.",
            "format": "int32",
            "example": 1
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for generating an analytics report for a specific operation type.",
        "example": {
          "analyticsReportData": {
            "forCraPurpose": true,
            "segments": {
              "geolocation": [
                {
                  "label": "STANDARD",
                  "value": "STANDARD"
                }
              ]
            },
            "analytics": [
              "STANDARD"
            ],
            "timeIntervalTypes": [
              "STANDARD"
            ],
            "income": 1,
            "age": 1
          },
          "accountIds": "ACC-835372",
          "fromDate": 1,
          "requestContext": {
            "requestId": "823ff931-73cb-5531-90ac-54b01c3ca966",
            "correlationId": "48ad50bf-8588-55bc-a737-4fdf0a9930d2",
            "idempotencyKey": "f92c7f34-9708-5752-9f45-fe5c05450a7a",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-799229"
            }
          }
        }
      },
      "AnalyticsReportData": {
        "title": "Analytics Report Data",
        "type": "object",
        "properties": {
          "forCraPurpose": {
            "type": "boolean",
            "description": "Indicates if the report is for CRA (Community Reinvestment Act) purposes",
            "example": false
          },
          "segments": {
            "description": "Segments of information that the report is divided into",
            "$ref": "#/components/schemas/Segments"
          }
        },
        "description": "Contains specific data utilized in analytics for the report, including segments and geolocation."
      },
      "Segments": {
        "title": "Report Segments",
        "type": "object",
        "properties": {
          "geolocation": {
            "type": "array",
            "description": "Array of geolocation objects representing different locations",
            "items": {
              "type": "object",
              "properties": {
                "label": {
                  "type": "string",
                  "description": "Label for the geolocation",
                  "example": "string"
                },
                "value": {
                  "type": "string",
                  "description": "Value associated with the geolocation",
                  "example": "string"
                }
              }
            }
          }
        },
        "description": "Information about segments that provide geolocation insights."
      },
      "Geolocation": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "description": "The label for the geolocation segment.",
            "example": "North America"
          },
          "value": {
            "type": "string",
            "description": "The value representing the geolocation segment.",
            "example": "NA"
          }
        },
        "description": "Represents a geolocation segment with a label and value."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request being made.",
            "example": "req-456"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier for tracking the request across systems.",
            "example": "corr-789"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure the request is idempotent.",
            "example": "idempotentKey123"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made in ISO 8601 format.",
            "example": "2021-06-01T00:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request was originated.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request was originated.",
            "example": "WebApp"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information about the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel through which the request was made.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., web, mobile, etc.) through which the request was made.",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier for the device used to make the request.",
            "example": "device-002"
          }
        },
        "description": "Information about the channel used for the request."
      },
      "CreateForesightAnalyticByUsertypeIdResponse_202": {
        "title": "Response for User Type Operations",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the report",
            "example": "STANDARD"
          },
          "customerType": {
            "type": "string",
            "description": "Type of customer (e.g., individual, business)",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "integer",
            "description": "Unique identifier for the customer",
            "format": "int32",
            "example": 1
          },
          "requestId": {
            "type": "string",
            "description": "Identifier for the request made by the user",
            "example": "6eda9273-6065-5477-b336-448945e530cc"
          },
          "requesterName": {
            "type": "string",
            "description": "Name of the person making the request",
            "example": "Northstar Banking Service"
          },
          "endUser": {
            "description": "Details of the end user associated with the report",
            "$ref": "#/components/schemas/EndUser"
          },
          "createdDate": {
            "type": "integer",
            "description": "Timestamp indicating when the report was created",
            "format": "int32",
            "example": 1
          },
          "title": {
            "type": "string",
            "description": "Title of the report",
            "example": "Banking operation completed"
          },
          "consumerId": {
            "type": "string",
            "description": "Unique identifier for the consumer",
            "example": "STANDARD"
          },
          "consumerSsn": {
            "type": "string",
            "description": "Social Security Number of the consumer",
            "example": "STANDARD"
          },
          "consumerDetails": {
            "description": "Details regarding the consumer",
            "$ref": "#/components/schemas/ConsumerDetails"
          },
          "disputeStatement": {
            "type": "string",
            "description": "Statement regarding any dispute",
            "example": "STANDARD"
          },
          "type": {
            "type": "string",
            "description": "Type of the report",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the report",
            "example": "ACTIVE"
          },
          "constraints": {
            "description": "Constraints related to the report",
            "$ref": "#/components/schemas/Constraints"
          },
          "metadata": {
            "description": "Metadata providing additional insights into the report",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for user type operations in the foresight analytics system, detailing customer and consumer information, along with constraints and metadata.",
        "example": {
          "id": "STANDARD",
          "customerType": "STANDARD",
          "customerId": 1,
          "requestId": "6eda9273-6065-5477-b336-448945e530cc",
          "requesterName": "Northstar Banking Service",
          "endUser": {
            "name": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "email": "olivia.bennett@northstar.example",
            "url": "https://banking.northstar.example/callbacks/status"
          },
          "createdDate": 1,
          "title": "Banking operation completed",
          "consumerId": "STANDARD",
          "consumerSsn": "STANDARD",
          "consumerDetails": {
            "id": "STANDARD",
            "firstName": "Northstar Banking Service",
            "middleName": "Northstar Banking Service",
            "lastName": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "ssn": "STANDARD",
            "email": "olivia.bennett@northstar.example"
          },
          "disputeStatement": "STANDARD",
          "type": "STANDARD",
          "status": "ACTIVE",
          "constraints": {
            "analyticsReportData": {
              "forCraPurpose": true,
              "segments": {
                "geolocation": [
                  {
                    "label": "STANDARD",
                    "value": "STANDARD"
                  }
                ]
              },
              "analytics": [
                "STANDARD"
              ]
            }
          },
          "metadata": {
            "responseId": "d4612c43-50e3-5017-9aa3-575b7cf21063",
            "correlationId": "48ad50bf-8588-55bc-a737-4fdf0a9930d2",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EndUser": {
        "title": "End User Information",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Full name of the end user",
            "example": "string"
          },
          "address": {
            "type": "string",
            "description": "Street address of the end user",
            "example": "string"
          },
          "city": {
            "type": "string",
            "description": "City where the end user resides",
            "example": "string"
          },
          "state": {
            "type": "string",
            "description": "State where the end user resides",
            "example": "string"
          },
          "zip": {
            "type": "string",
            "description": "Postal code for the end user's address",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "Contact phone number of the end user",
            "example": "string"
          },
          "email": {
            "type": "string",
            "description": "Email address of the end user",
            "example": "string"
          },
          "url": {
            "type": "string",
            "description": "Website or online profile URL of the end user",
            "example": "string"
          }
        },
        "description": "Details about the end user including contact information."
      },
      "ConsumerDetails": {
        "title": "Consumer Information",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the consumer",
            "example": "string"
          },
          "firstName": {
            "type": "string",
            "description": "First name of the consumer",
            "example": "string"
          },
          "middleName": {
            "type": "string",
            "description": "Middle name of the consumer (if applicable)",
            "example": "string"
          },
          "lastName": {
            "type": "string",
            "description": "Last name of the consumer",
            "example": "string"
          },
          "address": {
            "type": "string",
            "description": "Street address of the consumer",
            "example": "string"
          },
          "city": {
            "type": "string",
            "description": "City where the consumer resides",
            "example": "string"
          },
          "state": {
            "type": "string",
            "description": "State where the consumer resides",
            "example": "string"
          },
          "zip": {
            "type": "string",
            "description": "Postal code for the consumer's address",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "Contact phone number of the consumer",
            "example": "string"
          },
          "ssn": {
            "type": "string",
            "description": "Social Security Number of the consumer",
            "example": "string"
          },
          "email": {
            "type": "string",
            "description": "Email address of the consumer",
            "example": "string"
          }
        },
        "description": "Details about the consumer with personal information."
      },
      "Constraints": {
        "title": "Report Constraints",
        "type": "object",
        "properties": {
          "analyticsReportData": {
            "description": "Data related to analytics within the report",
            "$ref": "#/components/schemas/AnalyticsReportData"
          }
        },
        "description": "Constraints that apply to the report, including analytics and segments."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating requests and responses",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request occurred",
            "example": "string"
          }
        },
        "description": "Metadata associated with the report response, providing additional context."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "usertypeId": {
        "name": "usertypeId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "This header uniquely identifies the endpoint that is being called in the API context, allowing for better tracking and analysis of API usage.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-generate-foresight-analytics-non-cra-report"
        },
        "example": "open-finance-api-generate-foresight-analytics-non-cra-report"
      },
      "X-Runtime-App": {
        "description": "This header specifies the application runtime environment in which the API request is processed, helping to provide context for performance and behavior.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which requires a JSON Web Token (JWT) for authorization. The JWT should be included in the 'Authorization' header of the request in the format 'Bearer <token>'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}