{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create * Settlement-spec",
    "description": "The Merchant Settlement Processing API facilitates the creation of settlement specifications for merchants within the banking ecosystem. This endpoint enables users to define and initiate settlements, ensuring accurate financial transactions and reporting. Typical consumers include payment processors, financial institutions, and accounting systems that require integration with merchant data. By standardizing settlement specifications, businesses can streamline their financial operations and enhance transaction accuracy.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/merchants/*/settlements": {
      "post": {
        "tags": [
          "Merchant Management"
        ],
        "summary": "Create a new settlement for a merchant.",
        "description": "This endpoint allows you to create a new settlement for a specified merchant. Provide the necessary details in the request body to successfully create the settlement.",
        "operationId": "create*Settlement",
        "parameters": [
          {
            "$ref": "#/components/parameters/parentspanid"
          },
          {
            "$ref": "#/components/parameters/x-request-id"
          },
          {
            "$ref": "#/components/parameters/x-envoy-attempt-count"
          },
          {
            "$ref": "#/components/parameters/x-envoy-peer-metadata"
          },
          {
            "$ref": "#/components/parameters/x-gateway-correlationid"
          },
          {
            "$ref": "#/components/parameters/x-envoy-external-address"
          },
          {
            "$ref": "#/components/parameters/x-envoy-peer-metadata-id"
          },
          {
            "$ref": "#/components/parameters/x-envoy-decorator-operation"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit a settlement operation for a specific merchant. It contains the necessary data required for processing the settlement, which can include amounts, transaction IDs, and other relevant details specific to the merchant's transactions.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Create*SettlementRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted and is being processed asynchronously.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Create*SettlementResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "Create*SettlementRequest": {
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment.",
            "example": "PAY-513407"
          },
          "debtorAccountId": {
            "type": "string",
            "description": "Identifier for the debtor's account.",
            "example": "ACC-341923"
          },
          "creditorAccountId": {
            "type": "string",
            "description": "Identifier for the creditor's account.",
            "example": "ACC-484304"
          },
          "instructedAmount": {
            "description": "Details of the amount being instructed for the settlement.",
            "$ref": "#/components/schemas/InstructedAmount"
          },
          "requestedExecutionDate": {
            "type": "string",
            "description": "Date when the settlement is requested to be executed.",
            "example": "2026-09-03"
          },
          "remittanceInformation": {
            "type": "string",
            "description": "Information regarding the remittance.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the request body to initiate a settlement operation.",
        "example": {
          "paymentId": "PAY-513407",
          "debtorAccountId": "ACC-341923",
          "creditorAccountId": "ACC-484304",
          "instructedAmount": {
            "amount": 100,
            "currency": "USD"
          },
          "requestedExecutionDate": "2026-09-03",
          "remittanceInformation": "STANDARD",
          "requestContext": {
            "requestId": "64e137ca-ce95-4af3-aa3d-5d9cf6a0a646",
            "correlationId": "6db62f8d-9a29-4d6f-9700-e3b8e7d4533d",
            "idempotencyKey": "bbe7a8c8-8334-454c-9160-cf8a16cab854",
            "requestedAt": "2026-08-27T23:00:44.611Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-697798"
            }
          }
        }
      },
      "InstructedAmount": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "integer",
            "description": "The amount of money being instructed.",
            "format": "int32",
            "example": 0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is specified.",
            "example": "string"
          }
        },
        "description": "Schema representing the instructed amount for the settlement."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system of the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the source application making the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request is made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the contextual information of the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Schema representing the channel information related to the request."
      },
      "Create*SettlementResponse_202": {
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment.",
            "example": "PAY-800684"
          },
          "debtorAccountId": {
            "type": "string",
            "description": "Identifier of the debtor's account.",
            "example": "ACC-359269"
          },
          "creditorAccountId": {
            "type": "string",
            "description": "Identifier of the creditor's account.",
            "example": "ACC-762112"
          },
          "processingReference": {
            "type": "string",
            "description": "Reference used for processing the payment.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Status of the payment processing.",
            "example": "ACTIVE"
          },
          "acceptedAt": {
            "type": "string",
            "description": "Timestamp when the payment was accepted.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "resp_98765"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier to correlate with other related operations.",
                "example": "correlation_01"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the metadata was generated.",
                "example": "2023-10-01T12:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the processing took place.",
                "example": "EU"
              }
            },
            "description": "Additional metadata related to the payment.",
            "example": {
              "responseId": "d6fbd588-4f27-57f3-99ce-7a865f819754",
              "correlationId": "2f816a83-5643-5cb8-a773-f0fdcd0a4d5b",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for the settlements operations POST request indicating the outcome of the transaction.",
        "example": {
          "paymentId": "PAY-800684",
          "debtorAccountId": "ACC-359269",
          "creditorAccountId": "ACC-762112",
          "processingReference": "STANDARD",
          "status": "ACTIVE",
          "acceptedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "d6fbd588-4f27-57f3-99ce-7a865f819754",
            "correlationId": "2f816a83-5643-5cb8-a773-f0fdcd0a4d5b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "parentspanid": {
        "name": "parentspanid",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "049ea831893674bd"
        },
        "example": "049ea831893674bd"
      },
      "x-request-id": {
        "name": "x-request-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "2e4b657c-2dbb-40f2-8c1f-686b33ef46dd"
        },
        "example": "2e4b657c-2dbb-40f2-8c1f-686b33ef46dd"
      },
      "x-envoy-attempt-count": {
        "name": "x-envoy-attempt-count",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-envoy-peer-metadata": {
        "name": "x-envoy-peer-metadata",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ChoKCkNMVVNURVJfSUQSDBoKS3ViZXJuZXRlcwquAQoGTEFCRUxTEqMBKqABCh0KA2FwcBIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQo5Ch9zZXJ2aWNlLmlzdGlvLmlvL2Nhbm9uaWNhbC1uYW1lEhYaFGlzdGlvLWluZ3Jlc3NnYXRld2F5Ci8KI3NlcnZpY2UuaXN0aW8uaW8vY2Fub25pY2FsLXJldmlzaW9uEggaBjEtMzAtMAoTCgd2ZXJzaW9uEggaBjEuMzAuMAouCgROQU1FEiYaJGlzdGlvLWluZ3Jlc3NnYXRld2F5LTlkZDQ2YjU4Yi10Y3R6cwobCglOQU1FU1BBQ0USDhoMaXN0aW8tc3lzdGVtCl0KBU9XTkVSElQaUmt1YmVybmV0ZXM6Ly9hcGlzL2FwcHMvdjEvbmFtZXNwYWNlcy9pc3Rpby1zeXN0ZW0vZGVwbG95bWVudHMvaXN0aW8taW5ncmVzc2dhdGV3YXkKJwoNV09SS0xPQURfTkFNRRIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQ=="
        },
        "example": "ChoKCkNMVVNURVJfSUQSDBoKS3ViZXJuZXRlcwquAQoGTEFCRUxTEqMBKqABCh0KA2FwcBIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQo5Ch9zZXJ2aWNlLmlzdGlvLmlvL2Nhbm9uaWNhbC1uYW1lEhYaFGlzdGlvLWluZ3Jlc3NnYXRld2F5Ci8KI3NlcnZpY2UuaXN0aW8uaW8vY2Fub25pY2FsLXJldmlzaW9uEggaBjEtMzAtMAoTCgd2ZXJzaW9uEggaBjEuMzAuMAouCgROQU1FEiYaJGlzdGlvLWluZ3Jlc3NnYXRld2F5LTlkZDQ2YjU4Yi10Y3R6cwobCglOQU1FU1BBQ0USDhoMaXN0aW8tc3lzdGVtCl0KBU9XTkVSElQaUmt1YmVybmV0ZXM6Ly9hcGlzL2FwcHMvdjEvbmFtZXNwYWNlcy9pc3Rpby1zeXN0ZW0vZGVwbG95bWVudHMvaXN0aW8taW5ncmVzc2dhdGV3YXkKJwoNV09SS0xPQURfTkFNRRIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQ=="
      },
      "x-gateway-correlationid": {
        "name": "x-gateway-correlationid",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "fe15647e-0047-49c7-8d7d-a41ea251a977"
        },
        "example": "fe15647e-0047-49c7-8d7d-a41ea251a977"
      },
      "x-envoy-external-address": {
        "name": "x-envoy-external-address",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "18.156.191.52"
        },
        "example": "18.156.191.52"
      },
      "x-envoy-peer-metadata-id": {
        "name": "x-envoy-peer-metadata-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "router~10.10.185.143~istio-ingressgateway-9dd46b58b-tctzs.istio-system~istio-system.svc.cluster.local"
        },
        "example": "router~10.10.185.143~istio-ingressgateway-9dd46b58b-tctzs.istio-system~istio-system.svc.cluster.local"
      },
      "x-envoy-decorator-operation": {
        "name": "x-envoy-decorator-operation",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "kong-test1-kong-proxy.kong-test.svc.cluster.local:80/*"
        },
        "example": "kong-test1-kong-proxy.kong-test.svc.cluster.local:80/*"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-financial-settlement-process-card-financial-settlement"
        },
        "example": "card-financial-settlement-process-card-financial-settlement"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      },
      "X-Workflow-Id": {
        "description": "A unique identifier representing the specific workflow executed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-030"
        },
        "example": "WF-030"
      },
      "X-Workflow-Name": {
        "description": "The name associated with the workflow that is being executed. This identifier can help in tracking the specific process or operation being performed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Merchant Settlement and Reconciliation"
        },
        "example": "Merchant Settlement and Reconciliation"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow execution. This can indicate whether the workflow is pending, in progress, completed, or failed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the execution of the workflow. This ID can be used for logging and tracking the specific instance of the workflow.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "0d3aa870-4e31-4cd5-a248-41e2122fd165"
        },
        "example": "0d3aa870-4e31-4cd5-a248-41e2122fd165"
      }
    }
  }
}