{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Cross Channel Service Directorys-spec",
    "description": "The Cross Channel Service Directory API provides access to a comprehensive list of banking services available across different channels. This API allows clients to retrieve detailed information about each service, including functionality and access requirements. Typical consumers include developers building fintech applications or integration layers, enabling seamless service discovery and utilization. Users can leverage this endpoint to enhance customer experiences by easily identifying the services they can access across various banking platforms.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cross-channel/service-directory": {
      "get": {
        "tags": [
          "Service Directory"
        ],
        "summary": "Retrieve Service Directory Information",
        "description": "This endpoint allows users to retrieve detailed information from the cross-channel service directory. It provides access to various services and their availability across different channels.",
        "operationId": "listCrossChannelServiceDirectorys",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is utilized to retrieve a service directory via the cross-channel service endpoint. It contains parameters that allow the client to specify the details required for the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListCrossChannelServiceDirectorysRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of the service directory.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCrossChannelServiceDirectorysResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListCrossChannelServiceDirectorysRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on the service directory. It is expected to be a string representation of the request payload.",
        "example": "{}"
      },
      "ListCrossChannelServiceDirectorysResponse_200": {
        "title": "Cross-Channel Service Directory Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of service directory items.",
            "example": [
              {
                "partyId": "PARTY-381842",
                "interactionId": "INT-411797",
                "channel": "STANDARD",
                "authenticationLevel": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ServiceDirectoryItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria used for the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the GET operation on the service directory, containing a list of items, pagination information, sorting criteria, and metadata.",
        "example": {
          "items": [
            {
              "partyId": "PARTY-381842",
              "interactionId": "INT-411797",
              "channel": "STANDARD",
              "authenticationLevel": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "208e79d5-75fa-5c55-801f-5c0b428f0a3f",
            "correlationId": "e1c0894b-f2d6-5eb8-ad61-f6e9188740ce",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ServiceDirectoryItem": {
        "title": "Service Directory Item",
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "Unique identifier for the party associated with the service directory item."
          },
          "interactionId": {
            "type": "string",
            "description": "Unique identifier for the interaction related to the service directory item."
          },
          "channel": {
            "type": "string",
            "description": "The communication channel used for the interaction."
          },
          "authenticationLevel": {
            "type": "string",
            "description": "The level of authentication required for access."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record in the service directory."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update made to the service directory item."
          }
        },
        "description": "Details of a single service directory item."
      },
      "Pagination": {
        "title": "Pagination Details",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32"
          }
        },
        "description": "Information related to pagination of service directory results."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking requests across systems."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed."
          }
        },
        "description": "Additional metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "service-directory-search-service-directory"
        },
        "example": "service-directory-search-service-directory"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication, which involves generating a JSON Web Token (JWT) that must be included in the Authorization header of HTTP requests to access secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}