{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Deposit Switches Management API",
    "description": "The Deposit Switches Management API enables businesses to efficiently manage and retrieve deposit switch configurations for specific customers. By utilizing this endpoint, users can access detailed information regarding deposit switch settings associated with a given customer ID. This API is particularly useful for financial institutions and service providers who need to maintain optimal deposit management practices. Typical consumers include customer support teams and backend systems involved in transaction processing and account management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/transfer/customers/{customerId}/deposit-switches/{param2}": {
      "get": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Retrieve Deposit Switch Details",
        "description": "Fetches detailed information about the deposit switch associated with a specified customer. This endpoint allows you to access the configurations and settings of the deposit switch, providing valuable insights for customer account management.",
        "operationId": "getDepositSwitchForCustomerCUST100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          },
          {
            "$ref": "#/components/parameters/param2"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the deposit switch configuration for a specific customer. It requires the customer ID and deposit switch ID to return the relevant data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetDepositSwitchForCustomerCUST100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the deposit switch details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDepositSwitchForCustomerCUST100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetDepositSwitchForCustomerCUST100045Request": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to deposit switches for customer CUST-100045.",
        "example": "{}"
      },
      "GetDepositSwitchForCustomerCUST100045Response_200": {
        "title": "Deposit Switch Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-513014"
          },
          "customerType": {
            "type": "string",
            "description": "Type of the customer (e.g., individual, business).",
            "example": "STANDARD"
          },
          "switchId": {
            "type": "string",
            "description": "Unique identifier for the switch.",
            "example": "STANDARD"
          },
          "switchStatus": {
            "type": "string",
            "description": "Current status of the switch (e.g., active, inactive).",
            "example": "ACTIVE"
          },
          "failureReason": {
            "type": "string",
            "description": "Reason for the switch failure, if applicable.",
            "example": "STANDARD"
          },
          "createdDate": {
            "type": "string",
            "description": "Timestamp of when the switch was created.",
            "example": "2026-09-15"
          },
          "updatedDate": {
            "type": "string",
            "description": "Timestamp of when the switch was last updated.",
            "example": "2026-09-15"
          },
          "authenticated": {
            "type": "boolean",
            "description": "Indicates if the customer is authenticated.",
            "example": true
          },
          "provider": {
            "description": "Information about the provider related to the switch.",
            "$ref": "#/components/schemas/Provider"
          },
          "distributions": {
            "type": "array",
            "description": "List of distributions associated with the switch.",
            "example": [
              {
                "type": "STANDARD",
                "allocatedValue": 100.0,
                "bankIdentifier": "STANDARD",
                "accountNumberEndsWith": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Distribution"
            }
          },
          "metadata": {
            "description": "Metadata related to the request and response processing.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for deposit switch operations. It contains customer and switch details along with metadata for processing.",
        "example": {
          "customerId": "CUST-513014",
          "customerType": "STANDARD",
          "switchId": "STANDARD",
          "switchStatus": "ACTIVE",
          "failureReason": "STANDARD",
          "createdDate": "2026-09-15",
          "updatedDate": "2026-09-15",
          "authenticated": true,
          "provider": {
            "id": "STANDARD",
            "name": "Northstar Banking Service"
          },
          "distributions": [
            {
              "type": "STANDARD",
              "allocatedValue": 100.0,
              "bankIdentifier": "STANDARD",
              "accountNumberEndsWith": "STANDARD"
            }
          ],
          "metadata": {
            "responseId": "19282c7d-e148-5483-9a74-1ee1e0de6c3e",
            "correlationId": "afcb6429-bf52-5e58-8504-30bb73676d15",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Provider": {
        "title": "Provider",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the provider.",
            "example": "PROVIDER-1001"
          },
          "name": {
            "type": "string",
            "description": "Name of the provider.",
            "example": "Bank of Example"
          }
        },
        "description": "Schema representing the provider's information."
      },
      "Distribution": {
        "title": "Distribution",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of distribution (e.g., immediate, scheduled).",
            "example": "immediate"
          },
          "allocatedValue": {
            "type": "number",
            "description": "The value allocated for the distribution.",
            "example": 100.0
          },
          "bankIdentifier": {
            "type": "string",
            "description": "Identifier for the bank associated with the distribution.",
            "example": "BANK-123"
          },
          "accountNumberEndsWith": {
            "type": "string",
            "description": "Ending digits of the associated account number.",
            "example": "4567"
          }
        },
        "description": "Schema representing details of a distribution associated with a switch."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP-200-1001"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used to correlate requests and responses.",
            "example": "CORR-1001"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-01-01T01:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographic region where processing occurred.",
            "example": "US-East"
          }
        },
        "description": "Schema representing the metadata associated with the request and response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "param2": {
        "name": "param2",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint being accessed. This header enables tracking and logging of requests made to specific endpoints.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-deposit-switch-details"
        },
        "example": "open-finance-api-get-deposit-switch-details"
      },
      "X-Runtime-App": {
        "description": "Identifier for the application runtime environment that processed the request. This header helps in identifying the environment (e.g., production, staging) which handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes JSON Web Tokens (JWT) to authenticate and authorize users, providing a secure method to transmit claims between parties. The bearer token must be included in the request headers for authentication.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}