{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Enterprise Service By Param1-spec",
    "description": "The Enterprise Service Retrieval API enables users to access detailed information about specific enterprise services using a unique identifier. This API is designed for applications requiring data related to fixed asset registration and management. Typical consumers include financial analysts and enterprise resource planning systems, which leverage the endpoint to gather real-time service data. By employing a flexible parameter system, the API enhances usability and allows for targeted queries to streamline asset management processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/enterprise-services/fixed-asset-register/{param1}": {
      "get": {
        "tags": [
          "Fixed Asset Management"
        ],
        "summary": "Retrieve the fixed asset register entry by ID.",
        "description": "This endpoint allows users to fetch the details of a specific fixed asset register entry using its unique identifier. The API returns comprehensive information related to the asset, including its status, value, and associated transactions.",
        "operationId": "getEnterpriseServiceByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving details related to a specific fixed asset register entry identified by RES-100045. This payload should include necessary parameters as defined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetEnterpriseServiceByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the fixed asset register.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetEnterpriseServiceByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetEnterpriseServiceByParam1Request": {
        "type": "string",
        "description": "This schema represents the request body expected for the GET operation on the Fixed Asset Register API.",
        "example": "{}"
      },
      "GetEnterpriseServiceByParam1Response_200": {
        "type": "object",
        "properties": {
          "assetId": {
            "type": "string",
            "description": "Unique identifier for the asset.",
            "example": "STANDARD"
          },
          "assetClass": {
            "type": "string",
            "description": "Classification of the asset.",
            "example": "STANDARD"
          },
          "acquisitionDate": {
            "type": "string",
            "description": "Date when the asset was acquired.",
            "example": "2026-09-15"
          },
          "acquisitionCost": {
            "description": "Cost associated with the acquisition of the asset.",
            "$ref": "#/components/schemas/AcquisitionCost"
          },
          "usefulLifeMonths": {
            "type": "integer",
            "description": "Estimated useful life of the asset in months.",
            "format": "int32",
            "example": 1
          },
          "costCenter": {
            "type": "string",
            "description": "Cost center to which the asset is allocated.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the asset record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the asset record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the asset record.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the GET operation on the fixed asset register.",
        "example": {
          "assetId": "STANDARD",
          "assetClass": "STANDARD",
          "acquisitionDate": "2026-09-15",
          "acquisitionCost": {
            "amount": 100.0,
            "currency": "USD"
          },
          "usefulLifeMonths": 1,
          "costCenter": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "ad7a1947-29b0-52ca-99af-6774dc8d6141",
            "correlationId": "7c5c1490-2cfd-5c7b-aca4-da6bf1008fab",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AcquisitionCost": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Monetary amount representing the acquisition cost.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "Currency in which the acquisition cost is denominated.",
            "example": "string"
          }
        },
        "description": "Schema representing the acquisition cost of an asset."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the processing occurred.",
            "example": "string"
          }
        },
        "description": "Schema containing metadata information."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "fixed-asset-register-get-fixed-asset-register"
        },
        "example": "fixed-asset-register-get-fixed-asset-register"
      },
      "X-Runtime-App": {
        "description": "The name and version of the application runtime that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This authentication scheme uses a bearer token, typically a JSON Web Token (JWT), to authenticate API requests. Clients must include this token in the Authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}