{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Knowledge Asset Update API",
    "description": "The Knowledge Asset Update API allows for the modification of existing knowledge assets within the banking domain. This endpoint facilitates the update of specific attributes of knowledge assets, enabling organizations to ensure that their information remains current and relevant. Typical consumers include financial institutions and developers looking to enhance knowledge sharing and resource management. By using this endpoint, clients can effectively maintain the accuracy of their knowledge resources, support regulatory compliance, and foster collaboration across their teams.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/knowledge-assets/knowledge-exchange/{param1}": {
      "patch": {
        "tags": [
          "Knowledge Exchange"
        ],
        "summary": "Update a knowledge exchange resource.",
        "description": "This endpoint allows you to update the details of a specific knowledge exchange resource identified by its unique ID (RES-100045). You can modify various attributes of the resource to keep the information up-to-date.",
        "operationId": "patchKnowledgeAssetKnowledgeExchangeRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Update the specified knowledge asset in the knowledge exchange system by providing the necessary data in the request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchKnowledgeAssetKnowledgeExchangeRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchKnowledgeAssetKnowledgeExchangeRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchKnowledgeAssetKnowledgeExchangeRes100045Request": {
        "type": "object",
        "properties": {
          "changes": {
            "description": "Details of the changes being requested to the knowledge item.",
            "$ref": "#/components/schemas/KnowledgeChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the requested change.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the user making the request.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Representation of the request body for patching knowledge asset operations.",
        "example": {
          "changes": {
            "knowledgeItemId": "STANDARD",
            "topic": "STANDARD",
            "authorId": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "5c7dedeb-82b9-50bf-9550-cc7d847469ea",
            "correlationId": "f33167ed-2c52-5cf2-abd1-db11bebf38c4",
            "idempotencyKey": "426a30d2-88fb-5e51-a74f-d866803a0e19",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-331795"
            }
          }
        }
      },
      "KnowledgeChanges": {
        "type": "object",
        "properties": {
          "knowledgeItemId": {
            "type": "string",
            "description": "Unique identifier for the knowledge item being changed.",
            "example": "knowledgeItem456"
          },
          "topic": {
            "type": "string",
            "description": "The topic related to the knowledge item.",
            "example": "Artificial Intelligence"
          },
          "authorId": {
            "type": "string",
            "description": "Identifier for the author of the knowledge item.",
            "example": "author789"
          }
        },
        "description": "Details about the specific changes being made to a knowledge item."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests across multiple systems.",
            "example": "corr-67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure request idempotency.",
            "example": "idemp-abc123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-21T14:25:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "Knowledge Management System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "Knowledge Exchange App"
          },
          "channel": {
            "description": "Information regarding the channel used for the request.",
            "$ref": "#/components/schemas/RequestChannel"
          }
        },
        "description": "Information about the request context."
      },
      "RequestChannel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-xyz123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile, API).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-789xyz"
          }
        },
        "description": "Details about the channel through which the request was made."
      },
      "PatchKnowledgeAssetKnowledgeExchangeRes100045Response_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version number of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation, represented as a string.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response, providing additional context.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the PATCH operation on knowledge assets exchange, indicating the status of the operation along with relevant metadata.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "bf59fac8-7c2e-5681-ad44-f8fbc5ce7ea8",
            "correlationId": "f33167ed-2c52-5cf2-abd1-db11bebf38c4",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "abc123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate this request with others.",
            "example": "def456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp marking when the response was generated.",
            "example": "2023-10-10T09:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata schema containing details about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint being accessed. This ID helps in tracking requests and their corresponding responses.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "knowledge-exchange-update-knowledge-exchange"
        },
        "example": "knowledge-exchange-update-knowledge-exchange"
      },
      "X-Runtime-App": {
        "description": "The name of the application processing the request, which allows identification of the service responsible for handling the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication via JSON Web Tokens (JWT). Clients must include the JWT in the 'Authorization' header of their HTTP requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}