{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Customer Paystatement-spec",
    "description": "The Customer Paystatement Management API allows businesses to create and manage pay statements for individual customers securely. With this API, users can initiate the generation of detailed pay statements that reflect customer transactions, payment histories, and account balances. Typical consumers of this API include financial service providers and customer support teams who need to provide users with accurate and up-to-date financial documentation. This capability enhances transparency and streamlines the customer experience in financial interactions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/decisioning/customers/{customerId}/paystatement": {
      "post": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Submit a pay statement for the customer.",
        "description": "This endpoint allows you to submit a pay statement for a specific customer identified by their unique ID. Make sure to provide all necessary information in the request body to ensure successful processing.",
        "operationId": "createCustomerPaystatement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit a pay statement for the customer with ID CUST-100045. It should include all the necessary details required for processing the pay statement.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerPaystatementRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request has been accepted and is being processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCustomerPaystatementResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCustomerPaystatementRequest": {
        "title": "Pay Statement Request Body",
        "type": "object",
        "properties": {
          "paystatementReport": {
            "$ref": "#/components/schemas/PayStatementReport"
          },
          "reportCustomFields": {
            "type": "array",
            "description": "A list of custom fields to be included in the report.",
            "example": [
              {
                "label": "STANDARD",
                "value": "STANDARD",
                "shown": true
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ReportCustomField"
            }
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for the Pay Statement operation, which includes details for generating a pay statement report.",
        "example": {
          "paystatementReport": {
            "assetIds": [
              "STANDARD"
            ],
            "extractEarnings": true,
            "extractDeductions": true,
            "extractDirectDeposit": true
          },
          "reportCustomFields": [
            {
              "label": "STANDARD",
              "value": "STANDARD",
              "shown": true
            }
          ],
          "requestContext": {
            "requestId": "c947a7b5-785d-5d3b-b768-93b2919fad10",
            "correlationId": "98584660-cde6-5dbe-874f-d2b5b0b4c790",
            "idempotencyKey": "03a2a6a6-b9ad-528a-a93c-2cd1ca7ad3b2",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-392918"
            }
          }
        }
      },
      "PayStatementReport": {
        "title": "Pay Statement Report",
        "type": "object",
        "properties": {
          "assetIds": {
            "type": "array",
            "description": "Array of asset identifiers related to the pay statement.",
            "items": {
              "type": "string",
              "description": "Identifier for each asset in the report.",
              "example": "string"
            }
          },
          "extractEarnings": {
            "type": "boolean",
            "description": "Indicates whether earnings should be extracted.",
            "example": false
          },
          "extractDeductions": {
            "type": "boolean",
            "description": "Indicates whether deductions should be extracted.",
            "example": false
          },
          "extractDirectDeposit": {
            "type": "boolean",
            "description": "Indicates whether direct deposit information should be extracted.",
            "example": false
          }
        },
        "description": "Contains information about the pay statement report."
      },
      "ReportCustomField": {
        "title": "Report Custom Field",
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "description": "The label of the custom field.",
            "example": "Custom Field Label"
          },
          "value": {
            "type": "string",
            "description": "The value associated with the custom field.",
            "example": "Custom Field Value"
          },
          "shown": {
            "type": "boolean",
            "description": "Indicates whether the custom field should be shown in the report.",
            "example": false
          }
        },
        "description": "Schema representing a custom field for the report with a label and value."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "request-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate logs from different systems.",
            "example": "correlation-12345"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure idempotent requests.",
            "example": "idempotent-12345"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that originated the request.",
            "example": "source-system-name"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that originated the request.",
            "example": "source-application-name"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request, including identifiers and timing."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier of the channel used for the request.",
            "example": "channel-12345"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., API, Web, Mobile).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used for the request, if applicable.",
            "example": "device-12345"
          }
        },
        "description": "Schema representing details about the channel through which the request was made."
      },
      "CreateCustomerPaystatementResponse_202": {
        "title": "Pay Statement Response",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the pay statement.",
            "example": "STANDARD"
          },
          "customerType": {
            "type": "string",
            "description": "Type of the customer associated with the pay statement.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "integer",
            "description": "Unique identifier for the customer.",
            "format": "int32",
            "example": 1
          },
          "requestId": {
            "type": "string",
            "description": "Identifier for the request associated with this pay statement.",
            "example": "08e1e146-34c3-527a-ad86-217803b86842"
          },
          "requesterName": {
            "type": "string",
            "description": "Name of the person who requested the pay statement.",
            "example": "Northstar Banking Service"
          },
          "endUser": {
            "description": "Contains information about the end user related to the pay statement.",
            "$ref": "#/components/schemas/EndUser"
          },
          "createdDate": {
            "type": "integer",
            "description": "Date when the pay statement was created, represented as a timestamp.",
            "format": "int32",
            "example": 1
          },
          "title": {
            "type": "string",
            "description": "Title of the pay statement.",
            "example": "Banking operation completed"
          },
          "consumerId": {
            "type": "string",
            "description": "Identifier for the consumer associated with the pay statement.",
            "example": "STANDARD"
          },
          "consumerSsn": {
            "type": "string",
            "description": "Social Security Number of the consumer associated with the pay statement.",
            "example": "STANDARD"
          },
          "consumerDetails": {
            "description": "Detailed information about the consumer.",
            "$ref": "#/components/schemas/ConsumerDetails"
          },
          "disputeStatement": {
            "type": "string",
            "description": "Statement related to any dispute on the pay statement.",
            "example": "STANDARD"
          },
          "type": {
            "type": "string",
            "description": "Type of the pay statement.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the pay statement.",
            "example": "ACTIVE"
          },
          "constraints": {
            "description": "Additional constraints related to the pay statement.",
            "$ref": "#/components/schemas/Constraints"
          },
          "metadata": {
            "description": "Metadata information related to the pay statement response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Represents the response data for retrieving a pay statement.",
        "example": {
          "id": "STANDARD",
          "customerType": "STANDARD",
          "customerId": 1,
          "requestId": "08e1e146-34c3-527a-ad86-217803b86842",
          "requesterName": "Northstar Banking Service",
          "endUser": {
            "name": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "email": "olivia.bennett@northstar.example",
            "url": "https://banking.northstar.example/callbacks/status"
          },
          "createdDate": 1,
          "title": "Banking operation completed",
          "consumerId": "STANDARD",
          "consumerSsn": "STANDARD",
          "consumerDetails": {
            "id": "STANDARD",
            "firstName": "Northstar Banking Service",
            "middleName": "Northstar Banking Service",
            "lastName": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "ssn": "STANDARD",
            "email": "olivia.bennett@northstar.example"
          },
          "disputeStatement": "STANDARD",
          "type": "STANDARD",
          "status": "ACTIVE",
          "constraints": {
            "paystatementReport": {
              "assetIds": [
                "STANDARD"
              ],
              "extractEarnings": true,
              "extractDeductions": true,
              "extractDirectDeposit": true
            }
          },
          "metadata": {
            "responseId": "450095eb-7814-5e15-a18e-fd5e16bb8387",
            "correlationId": "98584660-cde6-5dbe-874f-d2b5b0b4c790",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EndUser": {
        "title": "End User Information",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the end user.",
            "example": "string"
          },
          "address": {
            "type": "string",
            "description": "Address of the end user.",
            "example": "string"
          },
          "city": {
            "type": "string",
            "description": "City where the end user resides.",
            "example": "string"
          },
          "state": {
            "type": "string",
            "description": "State where the end user resides.",
            "example": "string"
          },
          "zip": {
            "type": "string",
            "description": "Postal code for the end user's address.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the end user.",
            "example": "string"
          },
          "email": {
            "type": "string",
            "description": "Email address of the end user.",
            "example": "string"
          },
          "url": {
            "type": "string",
            "description": "Website URL associated with the end user.",
            "example": "string"
          }
        },
        "description": "Represents the information regarding the end user."
      },
      "ConsumerDetails": {
        "title": "Consumer Details",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the consumer.",
            "example": "string"
          },
          "firstName": {
            "type": "string",
            "description": "First name of the consumer.",
            "example": "string"
          },
          "middleName": {
            "type": "string",
            "description": "Middle name of the consumer, if applicable.",
            "example": "string"
          },
          "lastName": {
            "type": "string",
            "description": "Last name of the consumer.",
            "example": "string"
          },
          "address": {
            "type": "string",
            "description": "Address of the consumer.",
            "example": "string"
          },
          "city": {
            "type": "string",
            "description": "City where the consumer resides.",
            "example": "string"
          },
          "state": {
            "type": "string",
            "description": "State where the consumer resides.",
            "example": "string"
          },
          "zip": {
            "type": "string",
            "description": "Postal code for the consumer's address.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the consumer.",
            "example": "string"
          },
          "ssn": {
            "type": "string",
            "description": "Social Security Number of the consumer.",
            "example": "string"
          },
          "email": {
            "type": "string",
            "description": "Email address of the consumer.",
            "example": "string"
          }
        },
        "description": "Contains detailed information about the consumer."
      },
      "Constraints": {
        "title": "Pay Statement Constraints",
        "type": "object",
        "properties": {
          "paystatementReport": {
            "description": "Detailed report constraints for the pay statement.",
            "$ref": "#/components/schemas/PayStatementReport"
          }
        },
        "description": "Defines constraints associated with the pay statement."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request through the system.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Holds additional metadata information of the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the API endpoint that processes the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-generate-pay-statement-report"
        },
        "example": "open-finance-api-generate-pay-statement-report"
      },
      "X-Runtime-App": {
        "description": "The name of the application providing the service that handles the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authorization using a Bearer token, where the token is a JSON Web Token (JWT) that must be included in the HTTP headers for authentication.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}