{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Wholesale Trading Trading Book Oversights-spec",
    "description": "The Wholesale Trading Oversight API provides access to comprehensive oversight data for wholesale trading activities. This endpoint allows users to retrieve essential information on trading book oversights, which is crucial for compliance and risk management. Typical consumers include compliance officers and risk managers who need to monitor trading activities and ensure adherence to regulatory standards. The ability to access these insights aids organizations in making informed decisions and maintaining operational integrity.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/wholesale-trading/trading-book-oversight": {
      "get": {
        "tags": [
          "Wholesale Trading"
        ],
        "summary": "Retrieve trading book oversight details",
        "description": "This endpoint allows users to fetch details related to trading book oversight within the wholesale trading system. It provides essential insights into trading activities and compliance.",
        "operationId": "listWholesaleTradingTradingBookOversights",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for the GET operation to retrieve oversight information related to wholesale trading's trading book. This body may contain specific filters or parameters to refine the response data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListWholesaleTradingTradingBookOversightsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the trading book oversight data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListWholesaleTradingTradingBookOversightsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListWholesaleTradingTradingBookOversightsRequest": {
        "type": "string",
        "description": "A request body for the wholesale trading operations oversight endpoint using the GET method. This string can contain specific parameters or data required for the operation.",
        "example": "{}"
      },
      "ListWholesaleTradingTradingBookOversightsResponse_200": {
        "title": "Trading Book Oversight Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of trading book items.",
            "example": [
              {
                "tradingBookId": "STANDARD",
                "instrumentId": "STANDARD",
                "side": "STANDARD",
                "quantity": 1,
                "limitPrice": {
                  "value": 100.0,
                  "currency": "USD"
                },
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/TradingBookItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting order of the trading book items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the Trading Book Oversight operation, containing trading book items, pagination info, sorting order, and metadata related to the response.",
        "example": {
          "items": [
            {
              "tradingBookId": "STANDARD",
              "instrumentId": "STANDARD",
              "side": "STANDARD",
              "quantity": 1,
              "limitPrice": {
                "value": 100.0,
                "currency": "USD"
              },
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "88ed2d2d-93da-5441-9895-c90101080687",
            "correlationId": "3c78e972-d135-5a4c-84ba-965df12023f0",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "TradingBookItem": {
        "title": "Trading Book Item",
        "type": "object",
        "properties": {
          "tradingBookId": {
            "type": "string",
            "description": "The unique identifier for the trading book.",
            "example": "string"
          },
          "instrumentId": {
            "type": "string",
            "description": "The unique identifier for the financial instrument.",
            "example": "string"
          },
          "side": {
            "type": "string",
            "description": "Indicates the side of the trading operation (e.g., buy or sell).",
            "example": "string"
          },
          "quantity": {
            "type": "integer",
            "description": "The quantity of the instrument being traded.",
            "format": "int32",
            "example": 0
          },
          "limitPrice": {
            "$ref": "#/components/schemas/LimitPrice"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the trading record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the item was last updated.",
            "example": "string"
          }
        },
        "description": "Represents an individual item in the trading book with relevant details."
      },
      "LimitPrice": {
        "title": "Limit Price",
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The limit price value of the instrument.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the limit price is expressed.",
            "example": "string"
          }
        },
        "description": "Represents the limit price details for a trading book item, including price values and currency."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number in the pagination.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "The size of each page in the pagination.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items in the collection.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Pagination details for the response, indicating current page information."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation ID for tracking the request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata about the response, including identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being called. This helps in tracking which endpoint the response relates to.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "trading-book-oversight-search-trading-book-oversight"
        },
        "example": "trading-book-oversight-search-trading-book-oversight"
      },
      "X-Runtime-App": {
        "description": "The name and version of the application serving the request. This information is useful for identifying the source of the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token for authentication. The token should be a JSON Web Token (JWT) that is included in the Authorization header of the request. Users should ensure their tokens are secure and not exposed to unauthorized entities.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}