{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Banking It Management Technology Standard By Technology Standard Id-v5-spec",
    "description": "This API allows users to access detailed information about a specific Banking IT Management Technology Standard using its unique identifier. It serves as a valuable resource for developers and IT personnel looking to understand compliance and standards within the banking sector. Typical consumers of this API include banking institutions and technology consultants who require standardized information for regulatory compliance or operational purposes. The endpoint streamlines the retrieval process, facilitating better integration of technology standards into various banking applications.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/technology-standards/{technologyStandardId}": {
      "get": {
        "tags": [
          "IT Management"
        ],
        "summary": "Retrieve technology standard details by ID.",
        "description": "This endpoint allows you to fetch detailed information about a specific technology standard identified by its unique ID. It provides insights into compliance, specifications, and best practices related to the technology standard.",
        "operationId": "getBankingItManagementTechnologyStandardByTechnologyStandardId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/technologyStandardId"
          }
        ],
        "requestBody": {
          "description": "Payload for retrieving the technology standards associated with the specified resource RES-100045.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBankingItManagementTechnologyStandardByTechnologyStandardIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and data returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBankingItManagementTechnologyStandardByTechnologyStandardIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBankingItManagementTechnologyStandardByTechnologyStandardIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to technology standards in IT management. It is expected to conform to a specific string format.",
        "example": "{}"
      },
      "GetBankingItManagementTechnologyStandardByTechnologyStandardIdResponse_200": {
        "type": "object",
        "properties": {
          "policyId": {
            "type": "string",
            "description": "The unique identifier for the policy.",
            "example": "STANDARD"
          },
          "title": {
            "type": "string",
            "description": "The title of the policy.",
            "example": "Banking operation completed"
          },
          "ownerTeam": {
            "type": "string",
            "description": "The team responsible for the policy.",
            "example": "STANDARD"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date the policy becomes effective.",
            "example": "2026-09-15"
          },
          "reviewDate": {
            "type": "string",
            "description": "The date the policy is due for review.",
            "example": "2026-09-15"
          },
          "applicability": {
            "type": "array",
            "description": "A list of applicable items to the policy.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "An applicability item related to the policy.",
              "example": "string"
            }
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version of the policy.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of the last update to the policy.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the policy response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Represents the response structure of the technology standards operation.",
        "example": {
          "policyId": "STANDARD",
          "title": "Banking operation completed",
          "ownerTeam": "STANDARD",
          "effectiveDate": "2026-09-15",
          "reviewDate": "2026-09-15",
          "applicability": [
            "STANDARD"
          ],
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "23076058-71da-523a-85cd-a1ef5b7a1305",
            "correlationId": "45387f90-0a0a-5eab-92ba-649ebf6b43cd",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Contains metadata for the policy response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "technologyStandardId": {
        "name": "technologyStandardId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the endpoint being accessed. This value helps trace calls across multiple services.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "it-standards-and-guidelines-get-it-standards-and-guidelines"
        },
        "example": "it-standards-and-guidelines-get-it-standards-and-guidelines"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is processing the request. It allows for app-level monitoring and analysis.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a bearer token, specifically in the JSON Web Token (JWT) format, allowing users to access secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}