{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Compliance By Param1-spec",
    "description": "The Financial Statement Assessment Compliance API facilitates the retrieval of compliance information related to financial statements based on specific parameters. This endpoint allows users to access compliance data by providing a unique identifier, making it valuable for financial institutions, analysts, and regulatory bodies. Typical use cases include verifying compliance requirements, conducting audits, and ensuring alignment with financial regulations. This API supports effective decision-making by delivering key insights into financial compliance assessments.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/compliance/financial-statement-assessment/{param1}": {
      "get": {
        "tags": [
          "Compliance"
        ],
        "summary": "Retrieve financial statement assessment details.",
        "description": "This endpoint allows users to fetch detailed information regarding the financial statement assessment for a specific resource. It provides insights into compliance and financial evaluations essential for decision-making processes.",
        "operationId": "getComplianceByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving a financial statement assessment. This request body should contain all necessary parameters to perform the assessment, ensuring appropriate details are provided for effective processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetComplianceByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed and the financial statement assessment data is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetComplianceByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetComplianceByParam1Request": {
        "title": "Financial Statement Assessment Request Body",
        "type": "string",
        "description": "This schema represents the request body for the financial statement assessment operation. It contains the necessary information required to assess the financial statements.",
        "example": "{}"
      },
      "GetComplianceByParam1Response_200": {
        "title": "Financial Statement Assessment Response",
        "type": "object",
        "properties": {
          "submissionId": {
            "type": "string",
            "description": "The unique identifier for the submission.",
            "example": "STANDARD"
          },
          "legalEntityId": {
            "type": "string",
            "description": "The identifier for the legal entity associated with the assessment.",
            "example": "STANDARD"
          },
          "jurisdiction": {
            "type": "string",
            "description": "The jurisdiction under which the assessment is filed.",
            "example": "STANDARD"
          },
          "reportingPeriod": {
            "type": "string",
            "description": "The reporting period for the financial statement.",
            "example": "STANDARD"
          },
          "regulation": {
            "type": "string",
            "description": "The regulation that governs the financial statement assessment.",
            "example": "STANDARD"
          },
          "dueDate": {
            "type": "string",
            "description": "The due date for the financial statement submission.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the assessment data.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of the last update to the assessment record.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the assessment response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response data for a financial statement assessment request.",
        "example": {
          "submissionId": "STANDARD",
          "legalEntityId": "STANDARD",
          "jurisdiction": "STANDARD",
          "reportingPeriod": "STANDARD",
          "regulation": "STANDARD",
          "dueDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "b042600e-a51e-553e-8c7b-b5a60856afd7",
            "correlationId": "c4786a87-005b-5245-b16f-73ed1a354602",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing is carried out.",
            "example": "string"
          }
        },
        "description": "This schema contains metadata associated with the financial statement assessment.",
        "example": {
          "responseId": "string",
          "correlationId": "string",
          "generatedAt": "string",
          "processingRegion": "string"
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint being accessed, which can be used for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "financial-statement-assessment-get-financial-statement-assessment"
        },
        "example": "financial-statement-assessment-get-financial-statement-assessment"
      },
      "X-Runtime-App": {
        "description": "The name of the application or service that is sending the request, helping to identify the source of the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication format, which requires a JSON Web Token (JWT) to be included in the Authorization header of the request. The token should be prefixed with 'Bearer ' followed by the actual token.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}