{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Fraud Resolution API",
    "description": "The Fraud Resolution API facilitates the identification and management of potential fraud cases within banking transactions. It enables compliance teams to access comprehensive reports and insights regarding flagged transactions, aiding in the efficient resolution of suspicious activities. This API is essential for financial institutions aiming to mitigate risks and enhance compliance with regulatory requirements. Typical consumers include compliance officers, risk management teams, and fraud analysts who utilize this API for proactive fraud detection and investigation.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/compliance/fraud-resolution": {
      "get": {
        "tags": [
          "Fraud Management"
        ],
        "summary": "Retrieve fraud resolution details.",
        "description": "This endpoint allows users to retrieve detailed information about fraud resolution processes within compliance. It supports querying specific aspects related to fraud management and resolution strategies.",
        "operationId": "getFraudResolutionCompliance",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving fraud resolution compliance information. This request allows the client to specify parameters to filter the results, ensuring efficient and targeted responses.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetFraudResolutionComplianceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and returned the expected data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFraudResolutionComplianceResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetFraudResolutionComplianceRequest": {
        "type": "string",
        "description": "A JSON string representing the request body for the Fraud Resolution operation in compliance operations. This string should contain the necessary details for the operation.",
        "example": "{}"
      },
      "GetFraudResolutionComplianceResponse_200": {
        "title": "Fraud Resolution API Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of fraud resolution items.",
            "example": [
              {
                "submissionId": "STANDARD",
                "legalEntityId": "STANDARD",
                "jurisdiction": "STANDARD",
                "reportingPeriod": "STANDARD",
                "regulation": "STANDARD",
                "dueDate": "2026-09-15",
                "transactionId": "TXN-492119",
                "riskScore": 100.0,
                "decisionThreshold": 100.0,
                "deviceTrustLevel": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/FraudResolutionItem"
            }
          },
          "pagination": {
            "description": "Pagination information for the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sort order of the items in the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the Fraud Resolution API, containing the results of a GET request including items, pagination, sort order, and metadata.",
        "example": {
          "items": [
            {
              "submissionId": "STANDARD",
              "legalEntityId": "STANDARD",
              "jurisdiction": "STANDARD",
              "reportingPeriod": "STANDARD",
              "regulation": "STANDARD",
              "dueDate": "2026-09-15",
              "transactionId": "TXN-492119",
              "riskScore": 100.0,
              "decisionThreshold": 100.0,
              "deviceTrustLevel": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "fe27382d-b2b8-5944-b6c5-a3e121497f60",
            "correlationId": "789cb4fc-4127-56bd-a82b-6dbef28224e9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "FraudResolutionItem": {
        "title": "Fraud Resolution Item",
        "type": "object",
        "properties": {
          "submissionId": {
            "type": "string",
            "description": "Unique identifier for the submission."
          },
          "legalEntityId": {
            "type": "string",
            "description": "Identifier for the legal entity associated with the submission."
          },
          "jurisdiction": {
            "type": "string",
            "description": "Jurisdiction under which the transaction falls."
          },
          "reportingPeriod": {
            "type": "string",
            "description": "The reporting period for the submission."
          },
          "regulation": {
            "type": "string",
            "description": "Regulation that is applicable to the submission."
          },
          "dueDate": {
            "type": "string",
            "description": "The due date for responding to the submission."
          },
          "transactionId": {
            "type": "string",
            "description": "Identifier for the transaction related to the submission."
          },
          "riskScore": {
            "type": "number",
            "description": "Calculated risk score for the submission."
          },
          "decisionThreshold": {
            "type": "number",
            "description": "Threshold value for determining the action to take on the submission."
          },
          "deviceTrustLevel": {
            "type": "string",
            "description": "Trust level of the device used for the transaction."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the submission record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the record was last updated."
          }
        },
        "description": "Details of a fraud resolution submission including identifiers, risk metrics, and status.",
        "example": {
          "submissionId": "string",
          "legalEntityId": "string",
          "jurisdiction": "string",
          "reportingPeriod": "string",
          "regulation": "string",
          "dueDate": "string",
          "transactionId": "string",
          "riskScore": 0.0,
          "decisionThreshold": 0.0,
          "deviceTrustLevel": "string",
          "recordStatus": "string",
          "updatedAt": "string"
        }
      },
      "Pagination": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the results.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Information regarding pagination of the results in the response.",
        "example": {
          "page": 1,
          "pageSize": 10,
          "totalItems": 100
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the API response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the submission took place."
          }
        },
        "description": "Metadata related to the response of the API request.",
        "example": {
          "responseId": "string",
          "correlationId": "string",
          "generatedAt": "2023-01-01T00:00:00Z",
          "processingRegion": "string"
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "fraud-resolution-search-fraud-resolution"
        },
        "example": "fraud-resolution-search-fraud-resolution"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a 'bearer' token, typically a JSON Web Token (JWT), to authorize access to resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}