{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Consumer Service By Param1-spec",
    "description": "The Currency Exchange Consumer Service Update API enables businesses to modify existing consumer service parameters related to currency exchange. This endpoint allows consumers to update specific service settings using a unique identifier. Typical users include financial institutions and service providers who need to adapt their offerings based on changing business requirements. The API provides a streamlined approach to managing consumer service configurations efficiently and effectively.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9003",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/consumer-services/currency-exchange/{param1}": {
      "patch": {
        "tags": [
          "Currency Exchange"
        ],
        "summary": "Update Currency Exchange Details",
        "description": "This endpoint allows you to update the details of a specific currency exchange resource identified by its ID. Use this operation to modify fields such as rates, currencies, or any relevant attributes of the currency exchange.",
        "operationId": "updateConsumerServiceByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update specific fields of the currency exchange resource identified by RES-100045. The provided JSON object should contain the fields and their corresponding new values that need to be updated.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateConsumerServiceByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The currency exchange details were updated successfully.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateConsumerServiceByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateConsumerServiceByParam1Request": {
        "type": "object",
        "properties": {
          "changes": {
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the changes requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user who requested the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for modifying currency exchange operations.",
        "example": {
          "changes": {
            "customerId": "CUST-566421",
            "serviceRequestId": "a1bf2bb6-be27-506b-bc78-28f30f8d8023",
            "productCode": "CHK-PREMIUM-US"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "19ae9e85-01aa-5833-8d00-01f2cec3b36a",
            "correlationId": "8167abeb-fc4b-5acd-9115-5dfc51d34f15",
            "idempotencyKey": "e8573772-16bb-5b6f-bb7b-281529bde82c",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-485973"
            }
          }
        }
      },
      "Changes": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier of the customer.",
            "example": "C123456"
          },
          "serviceRequestId": {
            "type": "string",
            "description": "The identifier of the service request associated with these changes.",
            "example": "SR987654"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the product involved in the changes.",
            "example": "PC-XYZ123"
          }
        },
        "description": "Contains the details of changes requested."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ-001"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier to correlate logs related to this request.",
            "example": "CORR-009"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure that the same operation is not repeated.",
            "example": "IDEMPOTENT-KEY123"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-01T09:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "WebApp"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information about the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The identifier of the channel through which the request was made.",
            "example": "CH-456"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used for the request.",
            "example": "Mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used to make the request.",
            "example": "DEV-789"
          }
        },
        "description": "Information about the channel through which the request was made."
      },
      "UpdateConsumerServiceByParam1Response_200": {
        "title": "Currency Exchange Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response format.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation, indicating success or failure.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "This schema represents the response structure for a currency exchange operation.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "f202361e-876a-5f0c-9909-6601272cf605",
            "correlationId": "8167abeb-fc4b-5acd-9115-5dfc51d34f15",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request took place.",
            "example": "string"
          }
        },
        "description": "This schema represents additional metadata associated with a response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the API endpoint that was called, typically used for logging and tracing purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "currency-exchange-update-currency-exchange"
        },
        "example": "currency-exchange-update-currency-exchange"
      },
      "x-runtime-app": {
        "description": "The name of the application that processed the request, useful for monitoring and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens in the HTTP header. Tokens are in JWT (JSON Web Token) format which allows secure transmission of information between parties.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}