{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Cross Channel By Param1-spec",
    "description": "The Cross Channel Management API facilitates the updating of interactive help configurations across various banking channels. Designed for financial institutions, this API allows users to modify settings associated with specific cross-channel interactions using a unique identifier (param1). Typical consumers include banking application developers and IT teams managing customer support interfaces. Through this API, organizations can ensure a consistent and helpful customer experience across all channels.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cross-channel/interactive-help/{param1}": {
      "patch": {
        "tags": [
          "Interactive Help"
        ],
        "summary": "Update interactive help resource.",
        "description": "This endpoint allows you to update the details of the specified interactive help resource. You can modify attributes such as title, content, and status to ensure the information is current and accurate for users.",
        "operationId": "updateCrossChannelByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the interactive help resource identified by RES-100045. The JSON payload should conform to the specified schema and include all necessary fields to correctly apply the changes. Ensure that all data is valid and complete to avoid errors during processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCrossChannelByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateCrossChannelByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateCrossChannelByParam1Request": {
        "title": "PATCH Request Body for Cross-Channel Interactive Help Operations",
        "type": "object",
        "properties": {
          "changes": {
            "description": "An object containing the details of the changes being requested.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time at which the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user making the request.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "The request body for updating operations in the interactive help system. It includes changes, reasons for the change, effective date, requester details, and request context.",
        "example": {
          "changes": {
            "partyId": "PARTY-568425",
            "interactionId": "INT-241869",
            "channel": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "f94702a6-7b7d-5d43-8b59-72f73f929b6d",
            "correlationId": "fdf0139b-3cb7-5dfd-afaf-6d5261ceeccb",
            "idempotencyKey": "ced8f496-3af9-5378-9f91-7f7d59044d0e",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-411085"
            }
          }
        }
      },
      "Changes": {
        "title": "Changes",
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "The identifier of the party involved in the interaction.",
            "example": "partyABC"
          },
          "interactionId": {
            "type": "string",
            "description": "The identifier of the interaction that is being modified.",
            "example": "interactionXYZ"
          },
          "channel": {
            "type": "string",
            "description": "The name or identifier of the communication channel.",
            "example": "chat"
          }
        },
        "description": "Details of the changes being requested to the operations."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-001"
          },
          "correlationId": {
            "type": "string",
            "description": "A correlation identifier to trace related requests.",
            "example": "corr-001"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure the request can be retried safely without duplication.",
            "example": "idempKey-001"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-25T14:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "SalesSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that made the request.",
            "example": "MobileApp"
          },
          "channel": {
            "description": "Details about the channel used for the interaction.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Information about the context of the request being made."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel123"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., SMS, email, chat).",
            "example": "SMS"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used for the channel.",
            "example": "device456"
          }
        },
        "description": "Details about the communication channel."
      },
      "UpdateCrossChannelByParam1Response_200": {
        "title": "Operations Patch Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response structure.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the resource was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response, containing various identifiers.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for a successful PATCH operation of the interactive help service.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "4b11d02d-e41c-5153-8d9a-3243d70af469",
            "correlationId": "fdf0139b-3cb7-5dfd-afaf-6d5261ceeccb",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "abc123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate requests across services.",
            "example": "xyz456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the processing occurred.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata structure containing identifiers related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "interactive-help-update-interactive-help"
        },
        "example": "interactive-help-update-interactive-help"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication where the client must send a JSON Web Token (JWT) in the Authorization header of the request. This method is commonly used to secure APIs by verifying the user's identity through the JWT.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}