{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Banking It Management Systems Operations Operational Action-v5-spec",
    "description": "This API facilitates the management of banking IT operational actions, enabling users to efficiently create and initiate various operational processes within IT management systems. Consumers such as IT administrators and banking operations teams can leverage this endpoint for tasks like setting up system configurations, deploying operational workflows, and maintaining system stability. The operations supported by this API enhance the overall efficiency of banking IT operations and help ensure compliance with industry standards. This API is vital for organizations aiming to streamline their IT management in the banking sector.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/systems-operations/operational-actions": {
      "post": {
        "tags": [],
        "summary": "Create a new operational action in IT management.",
        "description": "This endpoint allows users to create a new operational action within the IT management systems operations. It facilitates the handling and tracking of various tasks and allows for improved management of IT operations.",
        "operationId": "createBankingItManagementSystemsOperationsOperationalAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used for creating or performing operational actions within the systems management module. The client should provide the necessary data in JSON format to indicate the specifics of the operational action being requested.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBankingItManagementSystemsOperationsOperationalActionRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request has been accepted and is being processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBankingItManagementSystemsOperationsOperationalActionResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateBankingItManagementSystemsOperationsOperationalActionRequest": {
        "type": "object",
        "properties": {
          "actionType": {
            "type": "string",
            "description": "The type of action being requested.",
            "example": "STANDARD"
          },
          "priority": {
            "type": "string",
            "description": "The priority level of the action.",
            "example": "NORMAL"
          },
          "reason": {
            "type": "string",
            "description": "The reason for the action request.",
            "example": "STANDARD"
          },
          "requestedBy": {
            "type": "string",
            "description": "The person or system requesting the action.",
            "example": "STANDARD"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the action was requested.",
            "example": "2026-08-11T12:00:00Z"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for an operational action in the IT management system.",
        "example": {
          "actionType": "STANDARD",
          "priority": "NORMAL",
          "reason": "STANDARD",
          "requestedBy": "STANDARD",
          "requestedAt": "2026-08-11T12:00:00Z",
          "requestContext": {
            "requestId": "b44aa75b-8dfc-540d-8cca-d70c09221948",
            "correlationId": "f93e2b9c-bb83-57d0-b589-6cd664b39abc",
            "idempotencyKey": "2ac750c4-1080-5e30-8e17-2c22d2277e2e",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-669286"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used to correlate related requests.",
            "example": "corr-987654"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotent requests.",
            "example": "idempotency-abc-123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the context was created.",
            "example": "2021-12-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "mainframe"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that generated the request.",
            "example": "inventory-management"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing context information for a request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., email, web, etc.).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-xyz-123"
          }
        },
        "description": "Schema representing the channel information of a request."
      },
      "CreateBankingItManagementSystemsOperationsOperationalActionResponse_202": {
        "title": "Operational Actions Response",
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "A unique reference for the action performed.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "The type of action that was executed.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the action.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "The timestamp indicating when the action was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "This schema represents the response for operational actions in the system, detailing the action taken and its outcome.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "3183d1d4-7b96-500e-83bb-1755e8d436d5",
            "correlationId": "f93e2b9c-bb83-57d0-b589-6cd664b39abc",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "resp-456"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate multiple actions together.",
            "example": "corr-789"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the metadata was generated.",
            "example": "2023-10-23T12:34:57Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the action was processed.",
            "example": "us-east-1"
          }
        },
        "description": "This schema contains metadata information related to the operation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "systems-operations-create-systems-operations-operational-action"
        },
        "example": "systems-operations-create-systems-operations-operational-action"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication mechanism where a JSON Web Token (JWT) is provided in the HTTP Authorization header. The token must be included as a prefixed 'Bearer ' string for authentication purposes.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}