{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Personal Current Accounts Reference API",
    "description": "The Personal Current Accounts Reference API provides access to detailed information about personal current accounts available through our banking services. This endpoint allows developers to retrieve a comprehensive list of account types, features, and conditions. It serves as a valuable resource for financial institutions, app developers, and clients seeking to compare and choose suitable banking products. Utilize this API to enrich applications with up-to-date insights on personal current accounts, enhancing user experience and decision-making.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/reference-implementation/open-banking/personal-current-accounts": {
      "get": {
        "tags": [
          "Personal Banking"
        ],
        "summary": "Retrieve personal current accounts.",
        "description": "This endpoint allows you to fetch details of personal current accounts associated with a user. It provides a comprehensive list of accounts and their statuses, ensuring users can easily access and manage their banking information.",
        "operationId": "getPersonalCurrentAccounts",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body to retrieve personal current account information. Ensure that the required parameters are included for a successful operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPersonalCurrentAccountsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the current accounts.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPersonalCurrentAccountsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPersonalCurrentAccountsRequest": {
        "title": "Personal Current Accounts GET Request Body",
        "type": "string",
        "description": "This schema represents the request body for retrieving personal current account information in the Open Banking API.",
        "example": "{}"
      },
      "GetPersonalCurrentAccountsResponse_200": {
        "title": "Response for Personal Current Accounts",
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/MetaData"
          },
          "data": {
            "type": "array",
            "example": [
              {
                "Organisation": {
                  "ParentOrganisation": {
                    "LEI": "STANDARD",
                    "BIC": "STANDARD",
                    "OrganisationName": {
                      "LegalName": "Olivia Bennett"
                    }
                  },
                  "Brand": {
                    "TrademarkIPOCode": "CODE-591",
                    "TrademarkID": "STANDARD"
                  }
                },
                "ProductType": "STANDARD",
                "ProductName": "Northstar Banking Service",
                "ProductSegment": [
                  "STANDARD"
                ],
                "InternationalPaymentsSupported": true,
                "ProductIdentifier": "PROD-570475",
                "CardWithdrawalLimit": "STANDARD",
                "ProductDescription": "STANDARD",
                "TsandCs": [
                  "STANDARD"
                ],
                "AccessChannels": [
                  "STANDARD"
                ],
                "CardType": [
                  "STANDARD"
                ],
                "Contactless": true,
                "MobileWallet": [
                  "STANDARD"
                ],
                "CardNotes": "STANDARD",
                "ChequeBookAvailable": true,
                "CreditScoringPartOfAccountOpening": true,
                "CreditScoringPartOfAccountOpeningIsAHardOrSoftCreditScore": [
                  "STANDARD"
                ],
                "CreditScoringPartOfAccountOpeningText": "STANDARD",
                "CreditScoringPartOfAccountOpeningIDVerificationIsAHardOrSoftCreditScore": [
                  "STANDARD"
                ],
                "CreditScoringPartOfAccountOpeningIDVerificationText": [
                  "STANDARD"
                ],
                "MaximumMonthlyCharge": "STANDARD",
                "ProductURL": [
                  "https://example.com/resource"
                ],
                "Currency": [
                  "USD"
                ],
                "OverdraftOffered": true,
                "Feature": [
                  {
                    "ExistingFeature": true
                  }
                ]
              }
            ],
            "items": {
              "$ref": "#/components/schemas/AccountData"
            }
          }
        },
        "description": "Response schema for retrieving personal current account information including metadata and account data.",
        "example": {
          "meta": {
            "LastUpdated": "2026-09-15",
            "TotalResults": 1,
            "Agreement": "STANDARD",
            "License": "https://example.com/resource",
            "TermsOfUse": "https://example.com/resource"
          },
          "data": [
            {
              "Organisation": {
                "ParentOrganisation": {
                  "LEI": "STANDARD",
                  "BIC": "STANDARD",
                  "OrganisationName": {
                    "LegalName": "Olivia Bennett"
                  }
                },
                "Brand": {
                  "TrademarkIPOCode": "CODE-591",
                  "TrademarkID": "STANDARD"
                }
              },
              "ProductType": "STANDARD",
              "ProductName": "Northstar Banking Service",
              "ProductSegment": [
                "STANDARD"
              ],
              "InternationalPaymentsSupported": true,
              "ProductIdentifier": "PROD-570475",
              "CardWithdrawalLimit": "STANDARD",
              "ProductDescription": "STANDARD",
              "TsandCs": [
                "STANDARD"
              ],
              "AccessChannels": [
                "STANDARD"
              ],
              "CardType": [
                "STANDARD"
              ],
              "Contactless": true,
              "MobileWallet": [
                "STANDARD"
              ],
              "CardNotes": "STANDARD",
              "ChequeBookAvailable": true,
              "CreditScoringPartOfAccountOpening": true,
              "CreditScoringPartOfAccountOpeningIsAHardOrSoftCreditScore": [
                "STANDARD"
              ],
              "CreditScoringPartOfAccountOpeningText": "STANDARD",
              "CreditScoringPartOfAccountOpeningIDVerificationIsAHardOrSoftCreditScore": [
                "STANDARD"
              ],
              "CreditScoringPartOfAccountOpeningIDVerificationText": [
                "STANDARD"
              ],
              "MaximumMonthlyCharge": "STANDARD",
              "ProductURL": [
                "https://example.com/resource"
              ],
              "Currency": [
                "USD"
              ],
              "OverdraftOffered": true,
              "Feature": [
                {
                  "ExistingFeature": true
                }
              ]
            }
          ],
          "metadata": {
            "responseId": "e7e39b54-a165-537d-960c-960373b7f611",
            "correlationId": "acb87a7b-064d-50be-a472-ff7c6c918920",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "MetaData": {
        "title": "Meta Data",
        "type": "object",
        "properties": {
          "LastUpdated": {
            "type": "string",
            "description": "The date and time when the data was last updated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "TotalResults": {
            "type": "integer",
            "description": "Total number of results found.",
            "format": "int32",
            "example": 10
          },
          "Agreement": {
            "type": "string",
            "description": "Reference to the terms and agreement applicable.",
            "example": "Agreement123"
          },
          "License": {
            "type": "string",
            "description": "License information associated with the data provider.",
            "example": "LicenseABC"
          },
          "TermsOfUse": {
            "type": "string",
            "description": "Terms of use for accessing the account information.",
            "example": "https://example.com/terms"
          }
        },
        "description": "Metadata associated with the response, including summary information about the retrieved accounts."
      },
      "AccountData": {
        "title": "Account Data",
        "type": "object",
        "properties": {
          "Organisation": {
            "$ref": "#/components/schemas/Organisation"
          },
          "ProductType": {
            "type": "string",
            "description": "Type of the product, e.g., Checking, Savings.",
            "example": "Current Account"
          },
          "ProductName": {
            "type": "string",
            "description": "Name of the bank product.",
            "example": "Super Saver Account"
          },
          "ProductSegment": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "Segments applicable to the product.",
              "example": "Retail"
            }
          },
          "InternationalPaymentsSupported": {
            "type": "boolean",
            "description": "Indicates if international payments are supported.",
            "example": true
          },
          "ProductIdentifier": {
            "type": "string",
            "description": "Unique identifier for the product.",
            "example": "ProductID123"
          },
          "CardWithdrawalLimit": {
            "type": "string",
            "description": "Withdrawal limit for associated card.",
            "example": "500"
          },
          "ProductDescription": {
            "type": "string",
            "description": "Detailed description of the product.",
            "example": "A high-yield savings account with no monthly fees."
          },
          "TsandCs": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "Terms and conditions associated with the product.",
              "example": "No monthly fees, 2% interest."
            }
          },
          "AccessChannels": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "Available channels to access the account.",
              "example": "Online Banking"
            }
          },
          "CardType": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "Types of cards associated with the account.",
              "example": "Visa"
            }
          },
          "Contactless": {
            "type": "boolean",
            "description": "Indicates if contactless payments are supported.",
            "example": true
          },
          "MobileWallet": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "Mobile wallet options available.",
              "example": "Apple Pay"
            }
          },
          "CardNotes": {
            "type": "string",
            "description": "Any additional notes related to the card.",
            "example": "Card available for international use."
          },
          "ChequeBookAvailable": {
            "type": "boolean",
            "description": "Indicates if a cheque book is available.",
            "example": false
          },
          "CreditScoringPartOfAccountOpening": {
            "type": "boolean",
            "description": "Indicates if credit scoring is part of account opening.",
            "example": true
          },
          "CreditScoringPartOfAccountOpeningIsAHardOrSoftCreditScore": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "Types of credit scores used for account opening.",
              "example": "Soft"
            }
          },
          "CreditScoringPartOfAccountOpeningText": {
            "type": "string",
            "description": "Text describing credit scoring process during account opening.",
            "example": "A soft credit check will be performed."
          },
          "CreditScoringPartOfAccountOpeningIDVerificationIsAHardOrSoftCreditScore": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "Types of credit scores used for ID verification.",
              "example": "Hard"
            }
          },
          "CreditScoringPartOfAccountOpeningIDVerificationText": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "Text describing ID verification process during account opening.",
              "example": "A hard credit check will be performed."
            }
          },
          "MaximumMonthlyCharge": {
            "type": "string",
            "description": "Maximum monthly charges for the product.",
            "example": "10.99"
          },
          "ProductURL": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "URLs providing more information about the product.",
              "example": "https://example.com/product"
            }
          },
          "Currency": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "Currencies supported by the product.",
              "example": "USD"
            }
          },
          "OverdraftOffered": {
            "type": "boolean",
            "description": "Indicates if overdraft facility is offered.",
            "example": true
          },
          "Feature": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FeatureDetails"
            }
          }
        },
        "description": "Information about a specific personal current account."
      },
      "Organisation": {
        "title": "Organisation Information",
        "type": "object",
        "properties": {
          "ParentOrganisation": {
            "$ref": "#/components/schemas/ParentOrganisation"
          },
          "Brand": {
            "$ref": "#/components/schemas/BrandInformation"
          }
        },
        "description": "Details about the organization providing the bank account."
      },
      "ParentOrganisation": {
        "title": "Parent Organisation",
        "type": "object",
        "properties": {
          "LEI": {
            "type": "string",
            "description": "Legal Entity Identifier of the parent organization.",
            "example": "1234567890"
          },
          "BIC": {
            "type": "string",
            "description": "Bank Identifier Code for the parent organization.",
            "example": "EXAMPLEBIC"
          },
          "OrganisationName": {
            "type": "object",
            "properties": {
              "LegalName": {
                "type": "string",
                "description": "Legal name of the organization.",
                "example": "Example Bank Limited"
              }
            }
          }
        },
        "description": "Information about the parent organization."
      },
      "BrandInformation": {
        "title": "Brand Information",
        "type": "object",
        "properties": {
          "TrademarkIPOCode": {
            "type": "string",
            "description": "Trademark registration code.",
            "example": "TM123456"
          },
          "TrademarkID": {
            "type": "string",
            "description": "Identifier for the trademark.",
            "example": "TrademarkID001"
          }
        },
        "description": "Information about the brand under which the bank operates."
      },
      "FeatureDetails": {
        "title": "Feature Details",
        "type": "object",
        "properties": {
          "ExistingFeature": {
            "type": "boolean",
            "description": "Indicates if the feature already exists.",
            "example": true
          }
        },
        "description": "Details about specific features associated with the products."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed. This ID can be used for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-data-api-get-reference-implementation-open-banking-v13-personal-current-accounts"
        },
        "example": "open-data-api-get-reference-implementation-open-banking-v13-personal-current-accounts"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request. It helps in identifying which application handled the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "An authentication scheme utilizing bearer tokens. This format enables secure access using JSON Web Tokens (JWT) as the bearer token, which is passed in the Authorization header of requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}