{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Accounts Information API",
    "description": "The Accounts Information API enables users to access detailed information about financial accounts linked to their profile. This API serves as a conduit for retrieving account balances, types, and transaction history, facilitating enhanced financial management for consumers. Typical users include financial service providers looking to offer personalized insights and users seeking to compare their accounts. By leveraging this API, businesses can elevate customer experiences through transparent and comprehensive account information.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/aisp/accounts": {
      "get": {
        "tags": [
          "AISP"
        ],
        "summary": "Retrieve a list of AISP accounts",
        "description": "This endpoint fetches a list of accounts managed under the AISP (Account Information Service Provider) category. It allows developers to access account details necessary for building financial applications.",
        "operationId": "getAispAccounts",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving account information via the AISP (Account Information Service Provider) API. This allows clients to request details of accounts held by a user with a specific bank or financial institution.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAispAccountsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of accounts.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAispAccountsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetAispAccountsRequest": {
        "type": "string",
        "description": "This schema represents the request body format for the GET operations on accounts. It is expected to be a string.",
        "example": "{}"
      },
      "GetAispAccountsResponse_200": {
        "title": "Accounts Operations Response",
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "Account": {
                "type": "array",
                "description": "List of accounts associated with the request.",
                "items": {
                  "$ref": "#/components/schemas/AccountDetails"
                }
              }
            },
            "description": "Data containing account details.",
            "example": {
              "Account": [
                {
                  "id": "STANDARD",
                  "Status": "ACTIVE",
                  "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
                  "Currency": "USD",
                  "category": "STANDARD",
                  "typeCode": "CODE-246",
                  "Description": "Customer banking request processed successfully",
                  "Nickname": "Northstar Banking Service",
                  "OpeningDate": "2026-09-15",
                  "MaturityDate": "2026-09-15",
                  "SwitchStatus": "ACTIVE",
                  "Account": [
                    {
                      "SchemeName": "Northstar Banking Service",
                      "Identification": "STANDARD",
                      "Name": "Northstar Banking Service",
                      "LEI": "STANDARD",
                      "SecondaryIdentification": "STANDARD"
                    }
                  ],
                  "StatementFrequencyAndFormat": [
                    {
                      "Frequency": "STANDARD",
                      "CommunicationMethod": "STANDARD",
                      "Format": "STANDARD",
                      "DeliveryAddress": {
                        "AddressType": "STANDARD",
                        "Department": "STANDARD",
                        "SubDepartment": "STANDARD",
                        "StreetName": "Northstar Banking Service",
                        "BuildingNumber": "STANDARD",
                        "BuildingName": "Northstar Banking Service",
                        "Floor": "STANDARD",
                        "UnitNumber": "STANDARD",
                        "Room": "STANDARD",
                        "PostBox": "STANDARD",
                        "TownLocationName": "Northstar Banking Service",
                        "DistrictName": "Northstar Banking Service",
                        "CareOf": "STANDARD",
                        "PostCode": "CODE-575",
                        "TownName": "Northstar Banking Service",
                        "CountrySubDivision": "STANDARD"
                      }
                    }
                  ]
                }
              ]
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response."
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier for tracking the request."
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the response was generated."
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the request was processed."
              }
            },
            "description": "Metadata information for the response.",
            "example": {
              "responseId": "5fba91ed-5b6c-519f-bf0c-912c0e64a474",
              "correlationId": "49c73627-f730-5a08-b7a4-21e97e545481",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Schema representing the response of the Accounts Operations API for successful requests.",
        "example": {
          "Data": {
            "Account": [
              {
                "id": "STANDARD",
                "Status": "ACTIVE",
                "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
                "Currency": "USD",
                "category": "STANDARD",
                "typeCode": "CODE-246",
                "Description": "Customer banking request processed successfully",
                "Nickname": "Northstar Banking Service",
                "OpeningDate": "2026-09-15",
                "MaturityDate": "2026-09-15",
                "SwitchStatus": "ACTIVE",
                "Account": [
                  {
                    "SchemeName": "Northstar Banking Service",
                    "Identification": "STANDARD",
                    "Name": "Northstar Banking Service",
                    "LEI": "STANDARD",
                    "SecondaryIdentification": "STANDARD"
                  }
                ],
                "StatementFrequencyAndFormat": [
                  {
                    "Frequency": "STANDARD",
                    "CommunicationMethod": "STANDARD",
                    "Format": "STANDARD",
                    "DeliveryAddress": {
                      "AddressType": "STANDARD",
                      "Department": "STANDARD",
                      "SubDepartment": "STANDARD",
                      "StreetName": "Northstar Banking Service",
                      "BuildingNumber": "STANDARD",
                      "BuildingName": "Northstar Banking Service",
                      "Floor": "STANDARD",
                      "UnitNumber": "STANDARD",
                      "Room": "STANDARD",
                      "PostBox": "STANDARD",
                      "TownLocationName": "Northstar Banking Service",
                      "DistrictName": "Northstar Banking Service",
                      "CareOf": "STANDARD",
                      "PostCode": "CODE-575",
                      "TownName": "Northstar Banking Service",
                      "CountrySubDivision": "STANDARD"
                    }
                  }
                ]
              }
            ]
          },
          "metadata": {
            "responseId": "5fba91ed-5b6c-519f-bf0c-912c0e64a474",
            "correlationId": "49c73627-f730-5a08-b7a4-21e97e545481",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AccountDetails": {
        "title": "Account Details",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the account."
          },
          "Status": {
            "type": "string",
            "description": "Current status of the account."
          },
          "StatusUpdateDateTime": {
            "type": "string",
            "description": "Timestamp of the last status update."
          },
          "Currency": {
            "type": "string",
            "description": "Currency type of the account."
          },
          "category": {
            "type": "string",
            "description": "Category of the account."
          },
          "typeCode": {
            "type": "string",
            "description": "Type code representing the account type."
          },
          "Description": {
            "type": "string",
            "description": "Description of the account."
          },
          "Nickname": {
            "type": "string",
            "description": "Nickname given to the account."
          },
          "OpeningDate": {
            "type": "string",
            "description": "Date when the account was opened."
          },
          "MaturityDate": {
            "type": "string",
            "description": "Maturity date for the account, applicable for certain types."
          },
          "SwitchStatus": {
            "type": "string",
            "description": "Switch status indicating whether the account is in the process of being switched."
          },
          "Account": {
            "type": "array",
            "description": "List of related account identifiers.",
            "items": {
              "$ref": "#/components/schemas/AccountIdentifier"
            }
          },
          "StatementFrequencyAndFormat": {
            "type": "array",
            "description": "Preferences for statement frequency and format.",
            "items": {
              "$ref": "#/components/schemas/StatementPreference"
            }
          }
        },
        "description": "Schema representing the details of an individual account."
      },
      "AccountIdentifier": {
        "title": "Account Identifier",
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "The scheme name for the identifier."
          },
          "Identification": {
            "type": "string",
            "description": "The actual identifier for the account."
          },
          "Name": {
            "type": "string",
            "description": "Name associated with the account identifier."
          },
          "LEI": {
            "type": "string",
            "description": "Legal Entity Identifier for the account."
          },
          "SecondaryIdentification": {
            "type": "string",
            "description": "Any additional or secondary identifier for the account."
          }
        },
        "description": "Schema representing the identifiers of related accounts."
      },
      "StatementPreference": {
        "title": "Statement Preference",
        "type": "object",
        "properties": {
          "Frequency": {
            "type": "string",
            "description": "Frequency at which statements are provided."
          },
          "CommunicationMethod": {
            "type": "string",
            "description": "Method by which statements are communicated."
          },
          "Format": {
            "type": "string",
            "description": "Format in which statements are provided."
          },
          "DeliveryAddress": {
            "type": "object",
            "properties": {
              "AddressType": {
                "type": "string",
                "description": "Type of address for statement delivery."
              },
              "Department": {
                "type": "string",
                "description": "Department associated with the delivery address."
              },
              "SubDepartment": {
                "type": "string",
                "description": "Sub-department within the delivery department."
              },
              "StreetName": {
                "type": "string",
                "description": "Name of the street for the delivery address."
              },
              "BuildingNumber": {
                "type": "string",
                "description": "Building number for the delivery address."
              },
              "BuildingName": {
                "type": "string",
                "description": "Name of the building for the delivery address."
              },
              "Floor": {
                "type": "string",
                "description": "Floor number for the delivery address."
              },
              "UnitNumber": {
                "type": "string",
                "description": "Unit number for the delivery address."
              },
              "Room": {
                "type": "string",
                "description": "Room number for the delivery address."
              },
              "PostBox": {
                "type": "string",
                "description": "Post box number for the delivery address."
              },
              "TownLocationName": {
                "type": "string",
                "description": "Location name of the town for the delivery address."
              },
              "DistrictName": {
                "type": "string",
                "description": "Name of the district for the delivery address."
              },
              "CareOf": {
                "type": "string",
                "description": "Care of name for the delivery address."
              },
              "PostCode": {
                "type": "string",
                "description": "Postal code for the delivery address."
              },
              "TownName": {
                "type": "string",
                "description": "Name of the town for the delivery address."
              },
              "CountrySubDivision": {
                "type": "string",
                "description": "Subdivision of the country for the delivery address."
              }
            },
            "description": "Address where statements should be delivered."
          }
        },
        "description": "Schema representing the preferences for statement delivery."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-api-get-accounts"
        },
        "example": "accounts-api-get-accounts"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that employs Bearer tokens, specifically JSON Web Tokens (JWT). This format is commonly used for secure authentication and authorization in web applications.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}