{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Sale By Commission Id-spec",
    "description": "The Sales Retrieval by Commission ID API allows users to access detailed information regarding sales transactions based on a specific commission ID. This endpoint is particularly useful for finance teams and sales analysts who need to reconcile sales records with commission payments. By retrieving sales data tied to a commission, users can ensure accurate reporting and analysis. Typical use cases include generating commission reports and auditing sales performance.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/sales/commissions/{commissionId}": {
      "get": {
        "tags": [
          "Sales"
        ],
        "summary": "Retrieve commission details for a specific resource.",
        "description": "This endpoint allows users to fetch detailed commission information for a specific resource identified by its ID. Use this to get insights into commission structures and related data for sales personnel.",
        "operationId": "getSaleByCommissionId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/commissionId"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving commission details for a specific RES-100045 commission. This request body should contain the necessary parameters for the operation to process successfully.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSaleByCommissionIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was completed successfully, returning the requested commission data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSaleByCommissionIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetSaleByCommissionIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the Sales Commissions Operations GET request. It is expected to be a string value.",
        "example": "{}"
      },
      "GetSaleByCommissionIdResponse_200": {
        "title": "Sales Commissions Response",
        "type": "object",
        "properties": {
          "prospectId": {
            "type": "string",
            "description": "Unique identifier for the prospect.",
            "example": "STANDARD"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product.",
            "example": "CHK-PREMIUM-US"
          },
          "salesChannel": {
            "type": "string",
            "description": "Channel through which the sale was made.",
            "example": "STANDARD"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "Identifier for the relationship manager handling the prospect.",
            "example": "STANDARD"
          },
          "expectedValue": {
            "description": "Represents the expected financial value from the transaction.",
            "$ref": "#/components/schemas/ExpectedValue"
          },
          "salesPersonId": {
            "type": "string",
            "description": "Identifier for the salesperson involved in the transaction.",
            "example": "STANDARD"
          },
          "commissionPlanId": {
            "type": "string",
            "description": "Identifier for the commission plan applicable to the sale.",
            "example": "STANDARD"
          },
          "eligibleRevenue": {
            "type": "number",
            "description": "Total revenue that is eligible for commission.",
            "example": 100.0
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record (e.g., Active, Inactive).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version of the response object.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the record.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Meta-information about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response object for the Sales Commissions API endpoint, containing details about the prospect, sales channel, expected values, and metadata.",
        "example": {
          "prospectId": "STANDARD",
          "productCode": "CHK-PREMIUM-US",
          "salesChannel": "STANDARD",
          "relationshipManagerId": "STANDARD",
          "expectedValue": {
            "amount": 100.0,
            "currency": "USD"
          },
          "salesPersonId": "STANDARD",
          "commissionPlanId": "STANDARD",
          "eligibleRevenue": 100.0,
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "b8c7c264-c577-503f-8423-0bf274f2c053",
            "correlationId": "5152c6d9-951c-5036-9fc4-eeb6ba84aafe",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ExpectedValue": {
        "title": "Expected Value",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The expected amount of money in the transaction.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is denominated.",
            "example": "string"
          }
        },
        "description": "Represents the financial expectations for a transaction which includes amount and currency."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request through systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Contains metadata related to the API response, including identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "commissionId": {
        "name": "commissionId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the specific endpoint that was called. This value is useful for tracing API requests in logs.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "commissions-get-commissions"
        },
        "example": "commissions-get-commissions"
      },
      "X-Runtime-App": {
        "description": "The name of the application where the API call was originated. This helps in monitoring and debugging by providing context about the source of requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme allows the use of JSON Web Tokens (JWT) to provide authentication. Clients should include the token in the 'Authorization' header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}