{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Customer Voiepayroll-spec",
    "description": "The Customer Voiepayroll Management API enables businesses to streamline the onboarding and management of customers in the Voiepayroll system. Through this API, users can efficiently create and maintain customer records, facilitating seamless payroll processing. Typical consumers of this API include payroll administrators and finance departments looking to integrate customer data into their financial systems. This enhances the overall customer experience and ensures compliance with payroll regulations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/decisioning/customers/{customerId}/voiepayroll": {
      "post": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Create Voie Payroll for Customer",
        "description": "This endpoint allows you to create a Voie Payroll entry for a specific customer identified by their unique customer ID. Ensure that the required details are provided in the request body to successfully create the payroll.",
        "operationId": "createCustomerVoiepayroll",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit payroll information for a specific customer identified by CUST-100045. The data provided will be processed to update or create relevant payroll records in the system.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerVoiepayrollRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request has been accepted and is being processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCustomerVoiepayrollResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCustomerVoiepayrollRequest": {
        "title": "Payroll Operations Request",
        "type": "object",
        "properties": {
          "payrollData": {
            "description": "Contains the payroll-related information such as social security number, date of birth, report ID, and associated payroll account IDs.",
            "$ref": "#/components/schemas/PayrollData"
          },
          "reportCustomFields": {
            "type": "array",
            "description": "A list of custom fields that can be included in the payroll report.",
            "example": [
              {
                "label": "STANDARD",
                "value": "STANDARD",
                "shown": true
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ReportCustomField"
            }
          },
          "payStatementsFromDate": {
            "type": "integer",
            "description": "The date from which the pay statements should be retrieved.",
            "format": "int32",
            "example": 1
          },
          "marketSegment": {
            "type": "string",
            "description": "The market segment to which the payroll operation pertains.",
            "example": "STANDARD"
          },
          "purpose": {
            "type": "string",
            "description": "The purpose of the payroll operation.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context information about the request, including identifiers and source information.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for payroll operations, containing payroll data, custom fields for reports, and request context.",
        "example": {
          "payrollData": {
            "ssn": "STANDARD",
            "dob": 1,
            "reportId": "STANDARD",
            "payrollAccountIds": [
              "ACC-290769"
            ]
          },
          "reportCustomFields": [
            {
              "label": "STANDARD",
              "value": "STANDARD",
              "shown": true
            }
          ],
          "payStatementsFromDate": 1,
          "marketSegment": "STANDARD",
          "purpose": "STANDARD",
          "requestContext": {
            "requestId": "e88f9109-7b23-5dea-b039-b5078a4a79f2",
            "correlationId": "3d43e33d-7c74-5dc1-9b19-2c59b2aa0f30",
            "idempotencyKey": "d6f66774-32c4-5503-b1e5-c986b9dc05ad",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-855525"
            }
          }
        }
      },
      "PayrollData": {
        "title": "Payroll Data",
        "type": "object",
        "properties": {
          "retrievalId": {
            "type": "string",
            "description": "Unique identifier for the payroll data retrieval request.",
            "example": "string"
          },
          "payrollAggregatorResponseId": {
            "type": "string",
            "description": "Response identifier from the payroll aggregator.",
            "example": "string"
          },
          "consentMethod": {
            "type": "string",
            "description": "Method used for obtaining consent.",
            "example": "string"
          },
          "employmentIds": {
            "type": "array",
            "description": "List of employment IDs relevant to the payroll data.",
            "items": {
              "type": "string",
              "description": "Unique identifiers for the employment records.",
              "example": "string"
            }
          }
        },
        "description": "Schema detailing the payroll data constraints."
      },
      "ReportCustomField": {
        "title": "Report Custom Field",
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "description": "The label for the custom field.",
            "example": "string"
          },
          "value": {
            "type": "string",
            "description": "The value associated with the custom field.",
            "example": "string"
          },
          "shown": {
            "type": "boolean",
            "description": "Indicates whether the custom field should be displayed.",
            "example": false
          }
        },
        "description": "Schema for individual custom fields that accompany payroll reports."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier of the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "ID for correlating requests across the system.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the idempotency of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name of the system originating the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application originating the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema providing contextual information about the request including IDs and source details."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device through which the request was made.",
            "example": "string"
          }
        },
        "description": "Schema representing the channel information from which the request originated."
      },
      "CreateCustomerVoiepayrollResponse_202": {
        "title": "Payroll Operation Response",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "STANDARD"
          },
          "customerType": {
            "type": "string",
            "description": "Type of the customer.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "integer",
            "description": "Unique identifier for the customer.",
            "format": "int32",
            "example": 1
          },
          "requestId": {
            "type": "string",
            "description": "Identifier for the request associated with this response.",
            "example": "d5a17579-a1cf-5bc9-8831-674db703fdad"
          },
          "requesterName": {
            "type": "string",
            "description": "Name of the person who made the request.",
            "example": "Northstar Banking Service"
          },
          "endUser": {
            "description": "Information about the end user of the service.",
            "$ref": "#/components/schemas/EndUser"
          },
          "createdDate": {
            "type": "integer",
            "description": "Timestamp of when the request was created.",
            "format": "int32",
            "example": 1
          },
          "title": {
            "type": "string",
            "description": "Title of the request.",
            "example": "Banking operation completed"
          },
          "consumerId": {
            "type": "string",
            "description": "Unique identifier for the consumer.",
            "example": "STANDARD"
          },
          "consumerSsn": {
            "type": "string",
            "description": "Social Security Number of the consumer.",
            "example": "STANDARD"
          },
          "consumerDetails": {
            "description": "Detailed information about the consumer.",
            "$ref": "#/components/schemas/ConsumerDetails"
          },
          "disputeStatement": {
            "type": "string",
            "description": "Statement regarding any disputes raised.",
            "example": "STANDARD"
          },
          "type": {
            "type": "string",
            "description": "Type of operation performed.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the operation.",
            "example": "ACTIVE"
          },
          "constraints": {
            "description": "Constraints related to the payroll data.",
            "$ref": "#/components/schemas/Constraints"
          },
          "metadata": {
            "description": "Metadata information related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the Payroll Operation API, which includes customer information and request metadata.",
        "example": {
          "id": "STANDARD",
          "customerType": "STANDARD",
          "customerId": 1,
          "requestId": "d5a17579-a1cf-5bc9-8831-674db703fdad",
          "requesterName": "Northstar Banking Service",
          "endUser": {
            "name": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "email": "olivia.bennett@northstar.example",
            "url": "https://banking.northstar.example/callbacks/status"
          },
          "createdDate": 1,
          "title": "Banking operation completed",
          "consumerId": "STANDARD",
          "consumerSsn": "STANDARD",
          "consumerDetails": {
            "id": "STANDARD",
            "firstName": "Northstar Banking Service",
            "middleName": "Northstar Banking Service",
            "lastName": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "ssn": "STANDARD",
            "email": "olivia.bennett@northstar.example"
          },
          "disputeStatement": "STANDARD",
          "type": "STANDARD",
          "status": "ACTIVE",
          "constraints": {
            "payrollData": {
              "retrievalId": "STANDARD",
              "payrollAggregatorResponseId": "509912de-a238-5415-85de-4fa2a2ae8644",
              "consentMethod": "STANDARD",
              "employmentIds": [
                "STANDARD"
              ]
            }
          },
          "metadata": {
            "responseId": "855fa8ee-19eb-5710-acdc-a1ee08fa4daf",
            "correlationId": "3d43e33d-7c74-5dc1-9b19-2c59b2aa0f30",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EndUser": {
        "title": "End User",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the end user.",
            "example": "string"
          },
          "address": {
            "type": "string",
            "description": "Street address of the end user.",
            "example": "string"
          },
          "city": {
            "type": "string",
            "description": "City where the end user resides.",
            "example": "string"
          },
          "state": {
            "type": "string",
            "description": "State where the end user resides.",
            "example": "string"
          },
          "zip": {
            "type": "string",
            "description": "ZIP code for the end user's address.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "Contact phone number of the end user.",
            "example": "string"
          },
          "email": {
            "type": "string",
            "description": "Email address of the end user.",
            "example": "string"
          },
          "url": {
            "type": "string",
            "description": "URL related to the end user, if applicable.",
            "example": "string"
          }
        },
        "description": "Schema representing the end user's details."
      },
      "ConsumerDetails": {
        "title": "Consumer Details",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the consumer.",
            "example": "string"
          },
          "firstName": {
            "type": "string",
            "description": "First name of the consumer.",
            "example": "string"
          },
          "middleName": {
            "type": "string",
            "description": "Middle name of the consumer, if any.",
            "example": "string"
          },
          "lastName": {
            "type": "string",
            "description": "Last name of the consumer.",
            "example": "string"
          },
          "address": {
            "type": "string",
            "description": "Street address of the consumer.",
            "example": "string"
          },
          "city": {
            "type": "string",
            "description": "City where the consumer resides.",
            "example": "string"
          },
          "state": {
            "type": "string",
            "description": "State where the consumer resides.",
            "example": "string"
          },
          "zip": {
            "type": "string",
            "description": "ZIP code for the consumer's address.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "Contact phone number of the consumer.",
            "example": "string"
          },
          "ssn": {
            "type": "string",
            "description": "Social Security Number of the consumer.",
            "example": "string"
          },
          "email": {
            "type": "string",
            "description": "Email address of the consumer.",
            "example": "string"
          }
        },
        "description": "Schema containing detailed information about the consumer."
      },
      "Constraints": {
        "title": "Constraints",
        "type": "object",
        "properties": {
          "payrollData": {
            "description": "Details regarding payroll data constraints.",
            "$ref": "#/components/schemas/PayrollData"
          }
        },
        "description": "Schema representing any constraints related to payroll data."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Schema containing metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint that was called.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-refresh-voie-payroll-report"
        },
        "example": "open-finance-api-refresh-voie-payroll-report"
      },
      "X-Runtime-App": {
        "description": "Identifier for the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a JSON Web Token (JWT) to authenticate users. Clients must include the token in the Authorization header as a Bearer token.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}