{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Deposit Lending Corporate Loans-spec",
    "description": "The Corporate Loan Listing API enables users to retrieve a comprehensive list of corporate loans available under deposit lending products. This endpoint facilitates access to key details regarding each loan, such as terms, interest rates, and eligibility criteria. Typically utilized by financial institutions and lending professionals, this API streamlines the loan discovery process for corporate clients seeking financing solutions. By integrating this API, developers can enhance their applications with insights into corporate lending options tailored for business needs.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/corporate-loan": {
      "get": {
        "tags": [
          "Corporate Loans"
        ],
        "summary": "Retrieve details of corporate loans available for deposit lending.",
        "description": "This endpoint allows you to fetch detailed information about corporate loans offered through our deposit lending services. You can use this to understand the loan offerings, terms, and eligibility criteria.",
        "operationId": "listDepositLendingCorporateLoans",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve corporate loan information under the deposit lending operations. The data should specify the necessary parameters for filtering or querying information related to corporate loans.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListDepositLendingCorporateLoansRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully; returns corporate loan details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDepositLendingCorporateLoansResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListDepositLendingCorporateLoansRequest": {
        "type": "string",
        "description": "This schema defines the request body format for the corporate loan operations in the deposit lending service.",
        "example": "{}"
      },
      "ListDepositLendingCorporateLoansResponse_200": {
        "title": "Corporate Loan Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of corporate loans.",
            "example": [
              {
                "customerId": "CUST-164726",
                "accountId": "ACC-921703",
                "productCode": "CHK-PREMIUM-US",
                "principal": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "termMonths": 1,
                "repaymentFrequency": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CorporateLoan"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the result set.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Schema representing the response for the corporate loan operation.",
        "example": {
          "items": [
            {
              "customerId": "CUST-164726",
              "accountId": "ACC-921703",
              "productCode": "CHK-PREMIUM-US",
              "principal": {
                "amount": 100.0,
                "currency": "USD"
              },
              "termMonths": 1,
              "repaymentFrequency": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "a8d766b3-2fb7-5ea8-9c9e-e194f759acd2",
            "correlationId": "c60d00e0-3dca-5a45-9b84-dfd2185ec117",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CorporateLoan": {
        "title": "Corporate Loan",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer."
          },
          "accountId": {
            "type": "string",
            "description": "Account identifier associated with the loan."
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the loan product."
          },
          "principal": {
            "$ref": "#/components/schemas/Principal"
          },
          "termMonths": {
            "type": "integer",
            "description": "Duration of the loan in months.",
            "format": "int32"
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "Frequency of loan repayment."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the loan record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the loan record."
          }
        },
        "description": "Details of a corporate loan."
      },
      "Principal": {
        "title": "Loan Principal",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Amount of the principal loan.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "Currency of the principal amount."
          }
        },
        "description": "Details of the principal amount for the loan."
      },
      "Pagination": {
        "title": "Pagination Details",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Details for paginating through the loan records."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the processed response."
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking requests."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing was done."
          }
        },
        "description": "Metadata information for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint which was called, useful for tracing and logging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "corporate-loan-search-corporate-loan"
        },
        "example": "corporate-loan-search-corporate-loan"
      },
      "X-Runtime-App": {
        "description": "Identifier for the application runtime environment, providing context about the deployment version.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method with JSON Web Tokens (JWT). Clients must include a token in the Authorization header in the format 'Bearer {token}' in order to access secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}