{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Sale Party Lifecycle Managements-spec",
    "description": "The Sales Party Lifecycle Management API enables businesses to efficiently manage the lifecycle of parties involved in sales processes. This API provides functionalities to retrieve detailed information about various sale parties and their statuses throughout the lifecycle. Typical consumers include sales teams, customer relations departments, and analytics teams aimed at optimizing sales strategies. By leveraging this API, organizations can improve their understanding of party dynamics, leading to enhanced decision-making and streamlined operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/sales/party-lifecycle-management": {
      "get": {
        "tags": [
          "Sales Management"
        ],
        "summary": "Retrieve party lifecycle management information.",
        "description": "This endpoint allows you to fetch details related to the lifecycle management of parties in the sales system. Use this to obtain relevant information needed for effective management and analysis.",
        "operationId": "listSalePartyLifecycleManagements",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to fetch lifecycle management information for sales parties. It should provide the necessary criteria and parameters for retrieving the relevant data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListSalePartyLifecycleManagementsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the party lifecycle data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListSalePartyLifecycleManagementsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListSalePartyLifecycleManagementsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation in the party lifecycle management API. It is expected to be a string.",
        "example": "{}"
      },
      "ListSalePartyLifecycleManagementsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "Array of sales items related to party lifecycle management.",
            "example": [
              {
                "prospectId": "STANDARD",
                "productCode": "CHK-PREMIUM-US",
                "salesChannel": "STANDARD",
                "relationshipManagerId": "STANDARD",
                "expectedValue": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/SalesItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the returned items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for getting party lifecycle management operations.",
        "example": {
          "items": [
            {
              "prospectId": "STANDARD",
              "productCode": "CHK-PREMIUM-US",
              "salesChannel": "STANDARD",
              "relationshipManagerId": "STANDARD",
              "expectedValue": {
                "amount": 100.0,
                "currency": "USD"
              },
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "c2b9b21e-9ca7-522a-b3e4-771cfa4c9b39",
            "correlationId": "3685aee6-8e76-5c3d-9a3e-a764e030bddd",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "SalesItem": {
        "type": "object",
        "properties": {
          "prospectId": {
            "type": "string",
            "description": "Unique identifier for the prospect."
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product associated with the sale."
          },
          "salesChannel": {
            "type": "string",
            "description": "Channel through which the sale was made."
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "Identifier for the relationship manager handling the account."
          },
          "expectedValue": {
            "$ref": "#/components/schemas/ExpectedValue"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the sales record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the sales record."
          }
        },
        "description": "Schema representing a sales item."
      },
      "ExpectedValue": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Monetary amount expected from the sale."
          },
          "currency": {
            "type": "string",
            "description": "Currency type for the expected amount."
          }
        },
        "description": "Schema representing the expected monetary value associated with a sale."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Schema representing pagination information for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed."
          }
        },
        "description": "Schema containing metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "party-lifecycle-management-search-party-lifecycle-management"
        },
        "example": "party-lifecycle-management-search-party-lifecycle-management"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses HTTP Bearer authentication to provide access tokens. The token format is JSON Web Token (JWT), which is a compact, URL-safe means of representing claims to be transferred between two parties.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}