{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Webhook Endpoint Test-spec",
    "description": "The Webhook Test API allows users to validate the functionality of their webhook endpoints within the microservice environment. This endpoint is specifically designed for testing purposes, enabling developers to send test notifications to their configured webhook URL and verify the correct handling of incoming requests. It is particularly useful for consumers setting up integrations or automating workflows, ensuring that notifications are correctly processed before going live. By utilizing this API, teams can effectively troubleshoot any issues with webhook integrations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/webhook-endpoints/{param1}/test": {
      "post": {
        "tags": [
          "Webhook Management"
        ],
        "summary": "Test a specific webhook endpoint.",
        "description": "This endpoint allows you to test the functionality of the webhook associated with the resource ID RES-100045. Use this to ensure that the webhook is set up correctly and is responding as expected.",
        "operationId": "createWebhookEndpointTest",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body should contain the necessary parameters for testing the webhook endpoint identified as RES-100045. Ensure to provide the correct payload format and required fields as specified in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWebhookEndpointTestRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted for processing and will be handled asynchronously.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateWebhookEndpointTestResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateWebhookEndpointTestRequest": {
        "type": "object",
        "properties": {
          "requestContext": {
            "description": "Contains context information for the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for the POST operation on webhook endpoints.",
        "example": {
          "requestContext": {
            "requestId": "3a19a681-abf9-5644-8761-874020c70d76",
            "correlationId": "e0fa0151-289a-54cd-b4a9-36d25f8e3d83",
            "idempotencyKey": "234c1291-12c1-56b9-a0e3-53720ddf99f7",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-274531"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate this request with others.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that the request can be repeated without unintended effects.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp representing when the request was initiated.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name of the source system making the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application making the request.",
            "example": "string"
          },
          "channel": {
            "description": "Details about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request, including identifiers and meta information."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., API, Web, Mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device associated with the channel.",
            "example": "string"
          }
        },
        "description": "Schema representing information about the communication channel."
      },
      "CreateWebhookEndpointTestResponse_202": {
        "title": "Webhook Response",
        "type": "object",
        "properties": {
          "eventId": {
            "type": "string",
            "description": "The unique identifier for the event.",
            "example": "STANDARD"
          },
          "type": {
            "type": "string",
            "description": "The type of the event.",
            "example": "STANDARD"
          },
          "occurredAt": {
            "type": "string",
            "description": "The timestamp of when the event occurred.",
            "example": "2026-08-11T12:00:00Z"
          },
          "merchantId": {
            "type": "string",
            "description": "The unique identifier for the merchant associated with the event.",
            "example": "MER-480941"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource involved in the event.",
            "example": "RES-564757"
          },
          "resourceType": {
            "type": "string",
            "description": "The type of resource associated with the event.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/WebhookMetadata"
          }
        },
        "description": "A response object representing the details of the webhook event.",
        "example": {
          "eventId": "STANDARD",
          "type": "STANDARD",
          "occurredAt": "2026-08-11T12:00:00Z",
          "merchantId": "MER-480941",
          "resourceId": "RES-564757",
          "resourceType": "STANDARD",
          "metadata": {
            "responseId": "043b5854-abae-53ce-9d09-8bcfdb7109f0",
            "correlationId": "e0fa0151-289a-54cd-b4a9-36d25f8e3d83",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "WebhookMetadata": {
        "title": "Webhook Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "resp_456"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier to trace the operation across services.",
            "example": "corr_789"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp of when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the event was processed.",
            "example": "us-west-2"
          }
        },
        "description": "Metadata associated with the webhook event."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint associated with the webhook.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-test-webhook-endpoint"
        },
        "example": "banking-p2m-openapi-test-webhook-endpoint"
      },
      "X-Runtime-App": {
        "description": "The name of the runtime application that processed the webhook.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication using Bearer Token. The token should be a valid JSON Web Token (JWT) that grants access to the secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}