{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Customer Management Sales Product Agreement-spec",
    "description": "The Customer Management Sales Product Agreement API enables businesses to establish and manage agreements for sales products within their customer management systems. This endpoint allows users to create tailored sales product agreements that meet customer needs, ensuring clear terms and conditions are set. Typical consumers include sales teams or account managers seeking to formalize product offerings to clients. By leveraging this API, organizations can streamline their sales processes and enhance customer relationships through effective agreement management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customer-management/sales-product-agreement": {
      "post": {
        "tags": [
          "Sales Management"
        ],
        "summary": "Create a sales product agreement.",
        "description": "This endpoint allows you to create a new sales product agreement for a customer, ensuring all the relevant details are properly documented and processed.",
        "operationId": "createCustomerManagementSalesProductAgreement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create a new sales product agreement. It should include all necessary details related to the agreement, including customer information and sales product specifics.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerManagementSalesProductAgreementRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The sales product agreement was successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCustomerManagementSalesProductAgreementResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCustomerManagementSalesProductAgreementRequest": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier of the customer.",
            "example": "CUST-206893"
          },
          "partyId": {
            "type": "string",
            "description": "The unique identifier of the party associated with the agreement.",
            "example": "PARTY-281274"
          },
          "productCode": {
            "type": "string",
            "description": "The code of the product associated with the agreement.",
            "example": "CHK-PREMIUM-US"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The effective date of the agreement in ISO 8601 format.",
            "example": "2026-09-15"
          },
          "relationshipTier": {
            "type": "string",
            "description": "The tier of the relationship associated with the product agreement.",
            "example": "GOLD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for creating a sales product agreement.",
        "example": {
          "customerId": "CUST-206893",
          "partyId": "PARTY-281274",
          "productCode": "CHK-PREMIUM-US",
          "effectiveDate": "2026-09-15",
          "relationshipTier": "GOLD",
          "requestContext": {
            "requestId": "38c326cd-6def-52f8-a0bb-ccbfe05b1f02",
            "correlationId": "2dd95e5e-46e2-597a-9e80-35e616f55d72",
            "idempotencyKey": "74e1130a-2669-56f6-a68b-7006b34b32ee",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-733186"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "REQ123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate multiple requests and responses.",
            "example": "CORR456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure that a request is idempotent.",
            "example": "IDEMP123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made in ISO 8601 format.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "SalesApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing contextual information about a request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier of the channel.",
            "example": "CHANNEL123"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used for the request.",
            "example": "DEVICE789"
          }
        },
        "description": "Schema representing information about the request channel."
      },
      "CreateCustomerManagementSalesProductAgreementResponse_201": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer associated with the sales product agreement.",
            "example": "CUST-110582"
          },
          "partyId": {
            "type": "string",
            "description": "The identifier for the party related to the sales product agreement.",
            "example": "PARTY-571037"
          },
          "productCode": {
            "type": "string",
            "description": "The code that uniquely identifies the product.",
            "example": "CHK-PREMIUM-US"
          },
          "resourceId": {
            "type": "string",
            "description": "The identifier for the resource associated with the sales product agreement.",
            "example": "RES-643069"
          },
          "status": {
            "type": "string",
            "description": "The current status of the sales product agreement.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the sales product agreement was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the sales product agreement.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for creating a sales product agreement.",
        "example": {
          "customerId": "CUST-110582",
          "partyId": "PARTY-571037",
          "productCode": "CHK-PREMIUM-US",
          "resourceId": "RES-643069",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "71f56e68-09f4-51a5-bab5-b4895e916300",
            "correlationId": "2dd95e5e-46e2-597a-9e80-35e616f55d72",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests and responses.",
            "example": "correlation-456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request occurred.",
            "example": "US-EAST"
          }
        },
        "description": "Metadata related to the sales product agreement response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "sales-product-agreement-create-sales-product-agreement"
        },
        "example": "sales-product-agreement-create-sales-product-agreement"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication, a standard that allows the client to send a JSON Web Token (JWT) as a means for authentication and authorization. The JWT should be included in the 'Authorization' header as a bearer token.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}