{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create P2m Webhook Endpoint-spec",
    "description": "The P2M Webhook Registration API enables users to create webhook endpoints that facilitate real-time notifications for various events in the P2M ecosystem. This API allows digital service providers to register their endpoints, empowering them to receive timely updates and data changes. Typical consumers include developers integrating with payment systems, transaction tracking, or event-driven architectures. By registering webhook endpoints, businesses can streamline their operations and enhance their response capabilities to user actions or system events.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/webhook-endpoints": {
      "post": {
        "tags": [
          "Webhook Management"
        ],
        "summary": "Create a new webhook endpoint.",
        "description": "This API endpoint allows you to create a new webhook endpoint that can receive events from the server. You will need to specify the necessary configurations to set up the webhook correctly.",
        "operationId": "createP2mWebhookEndpoint",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Contains the details and parameters required to create a new webhook endpoint. This includes necessary configuration settings and any relevant identifiers.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateP2mWebhookEndpointRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook endpoint successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateP2mWebhookEndpointResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateP2mWebhookEndpointRequest": {
        "title": "Webhook Endpoint Creation Request",
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "The unique identifier for the merchant.",
            "example": "MER-768450"
          },
          "url": {
            "type": "string",
            "description": "The URL to which webhook events will be sent.",
            "example": "https://example.com/resource"
          },
          "description": {
            "type": "string",
            "description": "A description of the webhook purpose or functionality.",
            "example": "Customer banking request processed successfully"
          },
          "events": {
            "type": "array",
            "description": "An array of event types to subscribe to, each represented as a string.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "The type of event to subscribe for.",
              "example": "string"
            }
          },
          "secretRotationPolicyDays": {
            "type": "integer",
            "description": "The number of days after which the webhook secret should be rotated.",
            "format": "int32",
            "example": 1
          },
          "requestContext": {
            "description": "The context information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for creating a webhook endpoint.",
        "example": {
          "merchantId": "MER-768450",
          "url": "https://example.com/resource",
          "description": "Customer banking request processed successfully",
          "events": [
            "STANDARD"
          ],
          "secretRotationPolicyDays": 1,
          "requestContext": {
            "requestId": "ac1aa62a-7c39-58c2-b958-9b0d99131898",
            "correlationId": "29e068af-7169-5987-9e2d-d1431d5d2431",
            "idempotencyKey": "1f01cf3b-fc80-55e1-bdef-f0590197c495",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-687936"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate multiple requests or events.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure that the request is idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system from where the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The source application from which the request was made.",
            "example": "string"
          },
          "channel": {
            "description": "The channel information associated with the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier for the device that initiated the request.",
            "example": "string"
          }
        },
        "description": "Schema representing information about the channel."
      },
      "CreateP2mWebhookEndpointResponse_201": {
        "title": "Webhook Endpoint Response",
        "type": "object",
        "properties": {
          "webhookEndpointId": {
            "type": "string",
            "description": "Unique identifier for the webhook endpoint.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant associated with the webhook.",
            "example": "MER-698491"
          },
          "url": {
            "type": "string",
            "description": "The URL to which webhook events will be delivered.",
            "example": "https://example.com/resource"
          },
          "description": {
            "type": "string",
            "description": "A description of the webhook endpoint.",
            "example": "Customer banking request processed successfully"
          },
          "events": {
            "type": "array",
            "description": "A list of events that will trigger the webhook.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "An event name.",
              "example": "string"
            }
          },
          "status": {
            "type": "string",
            "description": "Current status of the webhook endpoint.",
            "example": "ACTIVE"
          },
          "secretLastRotatedAt": {
            "type": "string",
            "description": "Timestamp of the last secret rotation.",
            "example": "2026-08-11T12:00:00Z"
          },
          "lastDeliveryAt": {
            "type": "string",
            "description": "Timestamp of the last delivery attempt.",
            "example": "2026-08-11T12:00:00Z"
          },
          "lastDeliveryStatus": {
            "type": "string",
            "description": "Status of the last delivery attempt.",
            "example": "ACTIVE"
          },
          "audit": {
            "description": "Audit information associated with the webhook endpoint.",
            "$ref": "#/components/schemas/AuditInfo"
          },
          "metadata": {
            "description": "Metadata relevant to the response.",
            "$ref": "#/components/schemas/MetadataInfo"
          }
        },
        "description": "This schema represents the response structure for creating a webhook endpoint. It includes details such as the identifier, status, and metadata associated with the webhook.",
        "example": {
          "webhookEndpointId": "STANDARD",
          "merchantId": "MER-698491",
          "url": "https://example.com/resource",
          "description": "Customer banking request processed successfully",
          "events": [
            "STANDARD"
          ],
          "status": "ACTIVE",
          "secretLastRotatedAt": "2026-08-11T12:00:00Z",
          "lastDeliveryAt": "2026-08-11T12:00:00Z",
          "lastDeliveryStatus": "ACTIVE",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "261ea9bc-f9d3-5c0a-b617-05cd55300746",
            "correlationId": "29e068af-7169-5987-9e2d-d1431d5d2431",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AuditInfo": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the webhook endpoint was created.",
            "example": "2023-10-01T00:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the webhook endpoint.",
            "example": "user@example.com"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the webhook endpoint.",
            "example": "2023-10-01T00:10:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the webhook endpoint.",
            "example": "user@example.com"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the webhook endpoint.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Contains information related to the creation and updates of the webhook endpoint."
      },
      "MetadataInfo": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "res123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "cor456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the webhook processing took place.",
            "example": "us-west-1"
          }
        },
        "description": "Contains additional context and metadata information about the webhook response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint that has been called.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-create-webhook-endpoint"
        },
        "example": "banking-p2m-openapi-create-webhook-endpoint"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a Bearer token format, specifically designed for JSON Web Tokens (JWT). This method allows clients to securely authenticate with the server by including the token in the Authorization header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}