{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Banking Channel Specific Branch Network Management-v5-spec",
    "description": "MICROSERVICE-PROD-Create Banking Channel Specific Branch Network Management-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/branch-network-management": {
      "post": {
        "operationId": "createBankingChannelSpecificBranchNetworkManagement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBankingChannelSpecificBranchNetworkManagementRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBankingChannelSpecificBranchNetworkManagementResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateBankingChannelSpecificBranchNetworkManagementRequest": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "example": "MOBILE-US"
          },
          "regionCode": {
            "type": "string",
            "example": "US-EAST-1"
          },
          "serviceWindow": {
            "type": "object",
            "properties": {
              "opensAt": {
                "type": "string",
                "example": "string"
              },
              "closesAt": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "opensAt": "STANDARD",
              "closesAt": "STANDARD"
            }
          },
          "dailyCapacity": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "branchId": {
            "type": "string",
            "example": "STANDARD"
          },
          "branchType": {
            "type": "string",
            "example": "FULL_SERVICE"
          },
          "timeZone": {
            "type": "string",
            "example": "America/New_York"
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "f81b5536-e1a9-5449-955a-554abe02f5f4",
              "correlationId": "c759f10c-f202-57d2-bf8d-34e931a11b29",
              "idempotencyKey": "8344e009-f148-5bce-bbbf-3a10764b92c5",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-749528"
              }
            }
          }
        },
        "example": {
          "channelId": "MOBILE-US",
          "regionCode": "US-EAST-1",
          "serviceWindow": {
            "opensAt": "STANDARD",
            "closesAt": "STANDARD"
          },
          "dailyCapacity": 1,
          "branchId": "STANDARD",
          "branchType": "FULL_SERVICE",
          "timeZone": "America/New_York",
          "requestContext": {
            "requestId": "f81b5536-e1a9-5449-955a-554abe02f5f4",
            "correlationId": "c759f10c-f202-57d2-bf8d-34e931a11b29",
            "idempotencyKey": "8344e009-f148-5bce-bbbf-3a10764b92c5",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-749528"
            }
          }
        }
      },
      "CreateBankingChannelSpecificBranchNetworkManagementResponse_201": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "example": "MOBILE-US"
          },
          "regionCode": {
            "type": "string",
            "example": "US-EAST-1"
          },
          "branchId": {
            "type": "string",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "example": "RES-666798"
          },
          "status": {
            "type": "string",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "b9086c5c-04ce-5b53-8d52-f982d5af6315",
              "correlationId": "c759f10c-f202-57d2-bf8d-34e931a11b29",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "channelId": "MOBILE-US",
          "regionCode": "US-EAST-1",
          "branchId": "STANDARD",
          "resourceId": "RES-666798",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "b9086c5c-04ce-5b53-8d52-f982d5af6315",
            "correlationId": "c759f10c-f202-57d2-bf8d-34e931a11b29",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "branch-network-management-create-branch-network-management"
        },
        "example": "branch-network-management-create-branch-network-management"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}