{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Submission Amendment-spec",
    "description": "The Submission Amendment Management API enables users to create amendments for existing submission reports in the compliance banking domain. With this API, compliance officers and analysts can efficiently update submission details to reflect new information or changes in context. Users can leverage this capability to enhance compliance reporting accuracy and maintain regulatory requirements. This API streamlines the process of managing submission amendments, ensuring timely and accurate reporting for audits and reviews.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/compliance/compliance-reporting/submissions/{submissionId}/amendments": {
      "post": {
        "tags": [
          "Compliance Management"
        ],
        "summary": "Create an amendment for a specific compliance submission.",
        "description": "This endpoint allows users to create an amendment for a specific compliance submission identified by its unique RES-100045 identifier. The amendment will be processed and associated with the compliance report, enabling users to update or correct submission details as necessary.",
        "operationId": "createSubmissionAmendment",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/submissionId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit amendments for the compliance report associated with the specific submission ID 'RES-100045'. It contains the necessary details required for processing the amendments.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSubmissionAmendmentRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request has been accepted and is being processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSubmissionAmendmentResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateSubmissionAmendmentRequest": {
        "type": "object",
        "properties": {
          "amendmentReason": {
            "type": "string",
            "description": "The reason for the amendment being requested.",
            "example": "STANDARD"
          },
          "submissionReference": {
            "type": "string",
            "description": "Reference identifier for the submission.",
            "example": "STANDARD"
          },
          "changes": {
            "description": "Details of the changes being requested.",
            "$ref": "#/components/schemas/Changes"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier for the individual or entity requesting the amendment.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for submitting amendment operations.",
        "example": {
          "amendmentReason": "STANDARD",
          "submissionReference": "STANDARD",
          "changes": {
            "submissionId": "STANDARD",
            "legalEntityId": "STANDARD",
            "jurisdiction": "STANDARD"
          },
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "ba9862b0-37be-5d4e-9869-8c5a0dd2ecb5",
            "correlationId": "040f3b50-144e-5d8b-b96a-296f25a58f67",
            "idempotencyKey": "66934684-5cd8-5137-8a5c-0947976022cd",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-801924"
            }
          }
        }
      },
      "Changes": {
        "type": "object",
        "properties": {
          "submissionId": {
            "type": "string",
            "description": "The ID of the submission that is being amended.",
            "example": "SUB-123"
          },
          "legalEntityId": {
            "type": "string",
            "description": "The ID of the legal entity associated with the amendment.",
            "example": "LE-456"
          },
          "jurisdiction": {
            "type": "string",
            "description": "The jurisdiction relevant to the submission.",
            "example": "CA"
          }
        },
        "description": "Schema for detailing the specific changes related to an amendment."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ-7890"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to track the flow across multiple services.",
            "example": "CORR-5678"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is idempotent.",
            "example": "IDEM-13579"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp for when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the system from which the request originated.",
            "example": "SystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application making the request.",
            "example": "AppX"
          },
          "channel": {
            "description": "Information regarding the communication channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema for the context surrounding the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "CHANNEL-1"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g. web, mobile, etc.).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the communication.",
            "example": "DEVICE-XYZ"
          }
        },
        "description": "Schema representing information about the channel through which a request is made."
      },
      "CreateSubmissionAmendmentResponse_202": {
        "title": "Compliance Reporting Submission Response",
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "A unique reference for the action taken.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "The type of action that was performed.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The status of the action performed.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "Timestamp indicating when the action was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Metadata related to the processing of the action.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response object for a compliance reporting submission that includes action details and metadata.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "6dcc492d-5d49-543d-81d7-4729fd848215",
            "correlationId": "040f3b50-144e-5d8b-b96a-296f25a58f67",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Processing Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier for tracking the correlation of requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographic region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata details associated with the processing of the compliance reporting submission."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "submissionId": {
        "name": "submissionId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "compliance-reporting-amend-compliance-reporting"
        },
        "example": "compliance-reporting-amend-compliance-reporting"
      },
      "X-Runtime-App": {
        "description": "The name of the application responsible for processing this request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Security scheme that utilizes JSON Web Tokens (JWT) for user authentication. Clients must include a valid JWT token in the Authorization header when making requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}