{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Trade Banking By Param1-spec",
    "description": "The Trade Banking Details API provides access to specific cash concentration information for trade banking activities based on a unique identifier. This endpoint allows users to retrieve comprehensive details related to trade banking transactions associated with a particular parameter. Typical consumers include financial institutions, corporate treasury departments, and developers building financial applications that require insights into trade banking operations. By leveraging this API, users can enhance their financial data analysis and reporting capabilities, driving more informed decision-making.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/cash-concentration/{param1}": {
      "get": {
        "tags": [
          "Cash Management"
        ],
        "summary": "Retrieve Cash Concentration details",
        "description": "Fetches details for a specific Cash Concentration resource identified by the provided ID. This operation allows users to view comprehensive information about the cash concentration setup and its parameters.",
        "operationId": "getTradeBankingByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to fetch the details related to cash concentration operations for the specified resource. Ensure that the request conforms to the required schema to retrieve accurate data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetTradeBankingByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested cash concentration details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTradeBankingByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetTradeBankingByParam1Request": {
        "type": "string",
        "description": "Represents the JSON request body for the cash concentration operations in the trade banking service.",
        "example": "{}"
      },
      "GetTradeBankingByParam1Response_200": {
        "title": "Cash Concentration Response",
        "type": "object",
        "properties": {
          "poolId": {
            "type": "string",
            "description": "The unique identifier for the cash concentration pool.",
            "example": "STANDARD"
          },
          "headerAccountId": {
            "type": "string",
            "description": "The identifier of the header account in the cash concentration arrangement.",
            "example": "ACC-406836"
          },
          "participantAccountIds": {
            "type": "array",
            "description": "A list of identifiers for the participant accounts involved in the cash concentration.",
            "example": [
              "ACC-547510"
            ],
            "items": {
              "type": "string",
              "description": "The unique identifier for a participant account.",
              "example": "participant_account_11111"
            }
          },
          "currency": {
            "type": "string",
            "description": "The currency used for transactions within the cash concentration pool.",
            "example": "USD"
          },
          "sweepFrequency": {
            "type": "string",
            "description": "The frequency at which sweeps are performed between accounts.",
            "example": "STANDARD"
          },
          "targetBalance": {
            "type": "number",
            "description": "The target balance that is intended to be maintained in the header account.",
            "example": 100.0
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the cash concentration record (e.g., active, inactive).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the cash concentration record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the cash concentration record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "A unique identifier for the response.",
                "example": "response_33333"
              },
              "correlationId": {
                "type": "string",
                "description": "An identifier for tracing the transaction correlation across systems.",
                "example": "correlation_44444"
              },
              "generatedAt": {
                "type": "string",
                "description": "The timestamp indicating when the response was generated.",
                "example": "2023-10-01T12:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region where the processing of this cash concentration occurred.",
                "example": "US-East"
              }
            },
            "description": "Contains metadata information related to the response.",
            "example": {
              "responseId": "ab8c52b1-7731-5db1-95da-153ba4ce1756",
              "correlationId": "ae735b63-1ec3-58e5-b76d-70ac86da305f",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "This schema represents the response structure for the cash concentration operation.",
        "example": {
          "poolId": "STANDARD",
          "headerAccountId": "ACC-406836",
          "participantAccountIds": [
            "ACC-547510"
          ],
          "currency": "USD",
          "sweepFrequency": "STANDARD",
          "targetBalance": 100.0,
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "ab8c52b1-7731-5db1-95da-153ba4ce1756",
            "correlationId": "ae735b63-1ec3-58e5-b76d-70ac86da305f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint that was called.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cash-concentration-get-cash-concentration"
        },
        "example": "cash-concentration-get-cash-concentration"
      },
      "X-Runtime-App": {
        "description": "Name of the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method using a Bearer Token in the format of JSON Web Token (JWT). This scheme is often used to secure APIs, allowing clients to authenticate using a token provided after the initial login.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}