{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Enterprise Service Legal Advisorys-spec",
    "description": "The Enterprise Service Legal Advisory Retrieval API enables users to access comprehensive information related to legal advisory services for enterprises. This API allows businesses to retrieve details about available legal advisory resources, helping them to make informed decisions when seeking legal guidance. Typical consumers include corporate legal teams, compliance officers, and small business owners. By leveraging this API, users can efficiently integrate legal advisory data into their workflows and enhance their decision-making processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/enterprise-services/legal-advisory": {
      "get": {
        "tags": [
          "Legal Services"
        ],
        "summary": "Retrieve Legal Advisory Services",
        "description": "This endpoint allows users to fetch available legal advisory services offered by the enterprise. It provides detailed information regarding each service and assists in understanding the legal support options available.",
        "operationId": "listEnterpriseServiceLegalAdvisorys",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body defines the parameters required to fetch legal advisory services within the enterprise services framework. Make sure to include all necessary fields to ensure a successful request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListEnterpriseServiceLegalAdvisorysRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed, returning the legal advisory data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListEnterpriseServiceLegalAdvisorysResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListEnterpriseServiceLegalAdvisorysRequest": {
        "type": "string",
        "description": "A request body for the legal advisory operation, formatted as a JSON string.",
        "example": "{}"
      },
      "ListEnterpriseServiceLegalAdvisorysResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "Array of engagement details.",
            "example": [
              {
                "engagementId": "STANDARD",
                "scope": "STANDARD",
                "framework": "STANDARD",
                "engagementOwnerId": "STANDARD",
                "plannedStartDate": "2026-09-15",
                "targetCompletionDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/EngagementDetail"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for the legal advisory operations GET request.",
        "example": {
          "items": [
            {
              "engagementId": "STANDARD",
              "scope": "STANDARD",
              "framework": "STANDARD",
              "engagementOwnerId": "STANDARD",
              "plannedStartDate": "2026-09-15",
              "targetCompletionDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "3a044de2-9650-5ff5-ab77-810f2656d759",
            "correlationId": "4c6bee81-52f6-5076-bc7f-ed990120c048",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EngagementDetail": {
        "type": "object",
        "properties": {
          "engagementId": {
            "type": "string",
            "description": "Unique identifier for the engagement.",
            "example": "engagement123"
          },
          "scope": {
            "type": "string",
            "description": "The scope of the engagement.",
            "example": "business analysis"
          },
          "framework": {
            "type": "string",
            "description": "The framework associated with the engagement.",
            "example": "framework1"
          },
          "engagementOwnerId": {
            "type": "string",
            "description": "Identifier for the owner of the engagement.",
            "example": "owner123"
          },
          "plannedStartDate": {
            "type": "string",
            "description": "Planned start date of the engagement in ISO 8601 format.",
            "example": "2023-10-01"
          },
          "targetCompletionDate": {
            "type": "string",
            "description": "Target completion date of the engagement in ISO 8601 format.",
            "example": "2023-11-01"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the engagement record.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the engagement record in ISO 8601 format.",
            "example": "2023-10-15"
          }
        },
        "description": "Detailed information about an engagement."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the paginated results.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Pagination information for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests and responses.",
            "example": "correlation789"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated, in ISO 8601 format.",
            "example": "2023-10-15T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata information associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "legal-advisory-search-legal-advisory"
        },
        "example": "legal-advisory-search-legal-advisory"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes a Bearer token for authentication. The token should be a JSON Web Token (JWT), which is a compact, URL-safe means of representing claims to be transferred between two parties. The JWT contains claims that can be verified and trusted because it is digitally signed.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}