{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Market Data Market Data Switch Administrations-spec",
    "description": "The Market Data Switch Administration API provides access to retrieve configurations and statuses of market data switch administrators. This API serves financial institutions and data providers who need to manage and monitor their market data feeds effectively. Users can query specific settings and utilize historical data to enhance their operational efficiency. Typical consumers include banking analysts and system administrators who optimize data flow management in trading environments.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-data/market-data-switch-administration": {
      "get": {
        "tags": [
          "Market Data Management"
        ],
        "summary": "Retrieve market data switch administration details.",
        "description": "Fetches the current configuration and status of the market data switch administration, providing an overview of its settings and operational state for management and monitoring purposes.",
        "operationId": "listMarketDataMarketDataSwitchAdministrations",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving market data switch administration details. This operation allows the client to specify the parameters needed for fetching the relevant market data switch configurations and their current state.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListMarketDataMarketDataSwitchAdministrationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the market data switch administration details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListMarketDataMarketDataSwitchAdministrationsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListMarketDataMarketDataSwitchAdministrationsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the market data switch administration operation, specifically for the GET method in application/json format.",
        "example": "{}"
      },
      "ListMarketDataMarketDataSwitchAdministrationsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of market data items.",
            "example": [
              {
                "instrumentId": "STANDARD",
                "isin": "STANDARD",
                "marketIdentifierCode": "CODE-562",
                "asOf": "2026-08-11T12:00:00Z",
                "dataSource": "STANDARD",
                "feedId": "STANDARD",
                "protocol": "STANDARD",
                "messagesPerSecond": 1,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/MarketDataItem"
            }
          },
          "pagination": {
            "description": "Pagination information for the result set.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the result set.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Additional metadata about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for market data switch administration GET operation, containing a list of market data items and pagination information.",
        "example": {
          "items": [
            {
              "instrumentId": "STANDARD",
              "isin": "STANDARD",
              "marketIdentifierCode": "CODE-562",
              "asOf": "2026-08-11T12:00:00Z",
              "dataSource": "STANDARD",
              "feedId": "STANDARD",
              "protocol": "STANDARD",
              "messagesPerSecond": 1,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "7ccbef25-a572-5fd8-9354-ba2e5bc47f00",
            "correlationId": "86ea60e0-4c14-51d7-b56d-9913b2c9f6c1",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "MarketDataItem": {
        "type": "object",
        "properties": {
          "instrumentId": {
            "type": "string",
            "description": "Unique identifier for the instrument."
          },
          "isin": {
            "type": "string",
            "description": "International Securities Identification Number of the instrument."
          },
          "marketIdentifierCode": {
            "type": "string",
            "description": "Identifier for the market where the instrument trades."
          },
          "asOf": {
            "type": "string",
            "description": "Timestamp of the data as of which the information is retrieved."
          },
          "dataSource": {
            "type": "string",
            "description": "Source from which the market data is obtained."
          },
          "feedId": {
            "type": "string",
            "description": "Identifier for the specific data feed."
          },
          "protocol": {
            "type": "string",
            "description": "Protocol used for data communication."
          },
          "messagesPerSecond": {
            "type": "integer",
            "description": "Rate of messages received per second.",
            "format": "int32"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record (e.g., active, inactive)."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the record."
          }
        },
        "description": "Represents an individual market data item."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the pagination.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items displayed per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32"
          }
        },
        "description": "Information about pagination in the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracing requests."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the processing occurred."
          }
        },
        "description": "Additional metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "market-data-switch-administration-search-market-data-switch-administration"
        },
        "example": "market-data-switch-administration-search-market-data-switch-administration"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token for authentication, specifically formatted as a JSON Web Token (JWT). To access protected resources, clients must include this token in the 'Authorization' header of their HTTP requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}