{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Banking Operational Services Leasing Item Administrations-v5-spec",
    "description": "MICROSERVICE-PROD-List Banking Operational Services Leasing Item Administrations-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/leasing-item-administration": {
      "get": {
        "operationId": "listBankingOperationalServicesLeasingItemAdministrations",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListBankingOperationalServicesLeasingItemAdministrationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBankingOperationalServicesLeasingItemAdministrationsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListBankingOperationalServicesLeasingItemAdministrationsRequest": {
        "type": "string",
        "example": "{}"
      },
      "ListBankingOperationalServicesLeasingItemAdministrationsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "example": [
              {
                "operationId": "STANDARD",
                "customerId": "CUST-585182",
                "accountId": "ACC-628341",
                "requestedAt": "2026-08-11T12:00:00Z",
                "priority": "NORMAL",
                "leasedAssetId": "STANDARD",
                "residualValue": {
                  "amount": 100,
                  "currency": "USD"
                },
                "leaseTermMonths": 1,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "type": "object",
              "properties": {
                "operationId": {
                  "type": "string",
                  "example": "string"
                },
                "customerId": {
                  "type": "string",
                  "example": "string"
                },
                "accountId": {
                  "type": "string",
                  "example": "string"
                },
                "requestedAt": {
                  "type": "string",
                  "example": "string"
                },
                "priority": {
                  "type": "string",
                  "example": "string"
                },
                "leasedAssetId": {
                  "type": "string",
                  "example": "string"
                },
                "residualValue": {
                  "type": "object",
                  "properties": {
                    "amount": {
                      "type": "integer",
                      "format": "int32",
                      "example": 0
                    },
                    "currency": {
                      "type": "string",
                      "example": "string"
                    }
                  },
                  "example": "string"
                },
                "leaseTermMonths": {
                  "type": "integer",
                  "format": "int32",
                  "example": 0
                },
                "recordStatus": {
                  "type": "string",
                  "example": "string"
                },
                "updatedAt": {
                  "type": "string",
                  "example": "string"
                }
              },
              "example": "string"
            }
          },
          "pagination": {
            "type": "object",
            "properties": {
              "page": {
                "type": "integer",
                "format": "int32",
                "example": 0
              },
              "pageSize": {
                "type": "integer",
                "format": "int32",
                "example": 0
              },
              "totalItems": {
                "type": "integer",
                "format": "int32",
                "example": 0
              }
            },
            "example": {
              "page": 1,
              "pageSize": 1,
              "totalItems": 1
            }
          },
          "sort": {
            "type": "string",
            "example": "STANDARD"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "a692c513-d876-57e2-be63-59c5edd02945",
              "correlationId": "0ded8ade-c54e-5855-b1cc-a334d9c90d87",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "items": [
            {
              "operationId": "STANDARD",
              "customerId": "CUST-585182",
              "accountId": "ACC-628341",
              "requestedAt": "2026-08-11T12:00:00Z",
              "priority": "NORMAL",
              "leasedAssetId": "STANDARD",
              "residualValue": {
                "amount": 100,
                "currency": "USD"
              },
              "leaseTermMonths": 1,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "a692c513-d876-57e2-be63-59c5edd02945",
            "correlationId": "0ded8ade-c54e-5855-b1cc-a334d9c90d87",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "leasing-item-administration-search-leasing-item-administration"
        },
        "example": "leasing-item-administration-search-leasing-item-administration"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}