{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Replace Banking External Agency Correspondent Bank Directory By Correspondent Bank Directory Id-v5-spec",
    "description": "MICROSERVICE-PROD-Replace Banking External Agency Correspondent Bank Directory By Correspondent Bank Directory Id-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/external-agency/correspondent-bank-directory/{correspondentBankDirectoryId}": {
      "put": {
        "operationId": "replaceBankingExternalAgencyCorrespondentBankDirectoryByCorrespondentBankDirectoryId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/correspondentBankDirectoryId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceBankingExternalAgencyCorrespondentBankDirectoryByCorrespondentBankDirectoryIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceBankingExternalAgencyCorrespondentBankDirectoryByCorrespondentBankDirectoryIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ReplaceBankingExternalAgencyCorrespondentBankDirectoryByCorrespondentBankDirectoryIdRequest": {
        "type": "object",
        "properties": {
          "institutionId": {
            "type": "string",
            "example": "STANDARD"
          },
          "agreementId": {
            "type": "string",
            "example": "AGR-668882"
          },
          "bic": {
            "type": "string",
            "example": "STANDARD"
          },
          "countryCode": {
            "type": "string",
            "example": "US"
          },
          "effectiveDate": {
            "type": "string",
            "example": "2026-09-15"
          },
          "nostroAccountId": {
            "type": "string",
            "example": "ACC-864925"
          },
          "settlementCurrency": {
            "type": "string",
            "example": "USD"
          },
          "relationshipStatus": {
            "type": "string",
            "example": "ACTIVE"
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "a4665455-b62a-53fb-812f-55ce374b6acb",
              "correlationId": "c57b9b95-1def-560c-9c73-1f48ff072473",
              "idempotencyKey": "1cc39a67-5064-50a7-8e69-bfd5251a6595",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-555544"
              }
            }
          }
        },
        "example": {
          "institutionId": "STANDARD",
          "agreementId": "AGR-668882",
          "bic": "STANDARD",
          "countryCode": "US",
          "effectiveDate": "2026-09-15",
          "nostroAccountId": "ACC-864925",
          "settlementCurrency": "USD",
          "relationshipStatus": "ACTIVE",
          "requestContext": {
            "requestId": "a4665455-b62a-53fb-812f-55ce374b6acb",
            "correlationId": "c57b9b95-1def-560c-9c73-1f48ff072473",
            "idempotencyKey": "1cc39a67-5064-50a7-8e69-bfd5251a6595",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-555544"
            }
          }
        }
      },
      "ReplaceBankingExternalAgencyCorrespondentBankDirectoryByCorrespondentBankDirectoryIdResponse_200": {
        "type": "object",
        "properties": {
          "institutionId": {
            "type": "string",
            "example": "STANDARD"
          },
          "agreementId": {
            "type": "string",
            "example": "AGR-516541"
          },
          "countryCode": {
            "type": "string",
            "example": "US"
          },
          "nostroAccountId": {
            "type": "string",
            "example": "ACC-643993"
          },
          "version": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "30ae6b66-0ba4-5e2c-940b-9695914dee83",
              "correlationId": "c57b9b95-1def-560c-9c73-1f48ff072473",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "institutionId": "STANDARD",
          "agreementId": "AGR-516541",
          "countryCode": "US",
          "nostroAccountId": "ACC-643993",
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "30ae6b66-0ba4-5e2c-940b-9695914dee83",
            "correlationId": "c57b9b95-1def-560c-9c73-1f48ff072473",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "correspondentBankDirectoryId": {
        "name": "correspondentBankDirectoryId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "correspondent-bank-directory-upsert-correspondent-bank-directory-record"
        },
        "example": "correspondent-bank-directory-upsert-correspondent-bank-directory-record"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}