{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Market Data Market Data Switch Operations-spec",
    "description": "The Market Data Switch Operations API provides access to market data switch operations for banking applications. This API enables consumers to retrieve detailed information regarding various market data switches, facilitating efficient management of market data workflows. Typical users include financial analysts, trading systems, and API developers looking to integrate market data functionalities into their platforms. By providing real-time access to market data switch operations, this API supports improved decision-making and operational efficiency in the banking sector.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-data/market-data-switch-operation": {
      "get": {
        "tags": [
          "Market Data"
        ],
        "summary": "Retrieve market data switch operation status.",
        "description": "This endpoint allows clients to fetch the current status of the market data switch operation. It provides insights into the operational state and any relevant details about market data toggling activities.",
        "operationId": "listMarketDataMarketDataSwitchOperations",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a market data switch operation. Ensure that all the required fields are correctly populated to successfully execute the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListMarketDataMarketDataSwitchOperationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested market data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListMarketDataMarketDataSwitchOperationsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListMarketDataMarketDataSwitchOperationsRequest": {
        "type": "string",
        "description": "A string representation of the market data switch operation requested.",
        "example": "{}"
      },
      "ListMarketDataMarketDataSwitchOperationsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of market data items.",
            "example": [
              {
                "instrumentId": "STANDARD",
                "isin": "STANDARD",
                "marketIdentifierCode": "CODE-815",
                "asOf": "2026-08-11T12:00:00Z",
                "dataSource": "STANDARD",
                "feedId": "STANDARD",
                "protocol": "STANDARD",
                "messagesPerSecond": 1,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/MarketDataItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the market data items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for market data switch operations.",
        "example": {
          "items": [
            {
              "instrumentId": "STANDARD",
              "isin": "STANDARD",
              "marketIdentifierCode": "CODE-815",
              "asOf": "2026-08-11T12:00:00Z",
              "dataSource": "STANDARD",
              "feedId": "STANDARD",
              "protocol": "STANDARD",
              "messagesPerSecond": 1,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "4d7a0663-0fc7-530d-9615-f1ad746d2e9e",
            "correlationId": "7663aed8-79e2-58a0-8637-1b4f649118a1",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "MarketDataItem": {
        "type": "object",
        "properties": {
          "instrumentId": {
            "type": "string",
            "description": "Unique identifier for the instrument.",
            "example": "instrument123"
          },
          "isin": {
            "type": "string",
            "description": "International Securities Identification Number.",
            "example": "US1234567890"
          },
          "marketIdentifierCode": {
            "type": "string",
            "description": "Code representing the market.",
            "example": "XNAS"
          },
          "asOf": {
            "type": "string",
            "description": "Date and time the data is relevant for.",
            "example": "2023-10-01T12:00:00Z"
          },
          "dataSource": {
            "type": "string",
            "description": "Source from which the data was obtained.",
            "example": "MarketFeed"
          },
          "feedId": {
            "type": "string",
            "description": "Identifier for the data feed.",
            "example": "feed123"
          },
          "protocol": {
            "type": "string",
            "description": "Protocol used for data transmission.",
            "example": "HTTP"
          },
          "messagesPerSecond": {
            "type": "integer",
            "description": "Number of messages transmitted per second.",
            "format": "int32",
            "example": 50
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the record.",
            "example": "2023-10-01T12:30:00Z"
          }
        },
        "description": "Schema representing a single market data item."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the pagination.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items across all pages.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Schema representing pagination information."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response123"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used to identify the request-response correlation.",
            "example": "correlation123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "US-East"
          }
        },
        "description": "Schema containing metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "market-data-switch-operation-search-market-data-switch-operation"
        },
        "example": "market-data-switch-operation-search-market-data-switch-operation"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens, typically in JSON Web Token (JWT) format. This method allows clients to securely access protected resources by providing a token in the Authorization header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}