{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Account Scheduled Payments-spec",
    "description": "The Scheduled Payments Retrieval API enables users to access a detailed list of scheduled payments associated with a specific bank account. By using the account ID, consumers can retrieve comprehensive information about upcoming payments, including amounts, due dates, and payment frequency. This functionality is particularly valuable for financial institutions and third-party providers focusing on personal finance management. Developers can leverage this API to enhance their applications with budgeting tools, automated reminders, or transaction monitoring features.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/aisp/accounts/{accountId}/scheduled-payments": {
      "get": {
        "tags": [
          "Payment Management"
        ],
        "summary": "Retrieve scheduled payments for a specific account.",
        "description": "This endpoint allows you to fetch the scheduled payments associated with a specified bank account. You'll receive details about each payment, including amounts, dates, and statuses. It is useful for users who want to monitor their future payments and manage their finances effectively.",
        "operationId": "listAccountScheduledPayments",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving scheduled payments associated with the specified account. This operation allows the client to request a list of scheduled payments linked to the account identified by ACC-200045.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListAccountScheduledPaymentsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved scheduled payments for the specified account.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAccountScheduledPaymentsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListAccountScheduledPaymentsRequest": {
        "title": "Scheduled Payments Request Body",
        "type": "string",
        "description": "This schema represents the request body for retrieving scheduled payments associated with a specific account.",
        "example": "{}"
      },
      "ListAccountScheduledPaymentsResponse_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "ScheduledPayment": {
                "type": "array",
                "description": "A list of scheduled payment objects.",
                "items": {
                  "$ref": "#/components/schemas/ScheduledPayment"
                }
              }
            },
            "description": "The main data containing scheduled payment information.",
            "example": {
              "ScheduledPayment": [
                {
                  "AccountId": "ACC-254529",
                  "id": "STANDARD",
                  "dateTime": "2026-09-15T14:30:00Z",
                  "ScheduledType": "STANDARD",
                  "Reference": "STANDARD",
                  "DebtorReference": "STANDARD",
                  "InstructedAmount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  },
                  "CreditorAgent": {
                    "SchemeName": "Northstar Banking Service",
                    "Identification": "STANDARD",
                    "Name": "Northstar Banking Service",
                    "PostalAddress": {
                      "AddressType": "STANDARD",
                      "Department": "STANDARD",
                      "SubDepartment": "STANDARD",
                      "StreetName": "Northstar Banking Service",
                      "BuildingNumber": "STANDARD",
                      "BuildingName": "Northstar Banking Service",
                      "Floor": "STANDARD",
                      "UnitNumber": "STANDARD",
                      "Room": "STANDARD",
                      "PostBox": "STANDARD",
                      "TownLocationName": "Northstar Banking Service",
                      "DistrictName": "Northstar Banking Service",
                      "CareOf": "STANDARD",
                      "PostCode": "CODE-427",
                      "TownName": "Northstar Banking Service",
                      "CountrySubDivision": "STANDARD",
                      "Country": "STANDARD",
                      "AddressLine": [
                        "STANDARD"
                      ]
                    },
                    "LEI": "STANDARD"
                  },
                  "CreditorAccount": {
                    "SchemeName": "Northstar Banking Service",
                    "Identification": "STANDARD",
                    "Name": "Northstar Banking Service",
                    "SecondaryIdentification": "STANDARD",
                    "Proxy": {
                      "Identification": "STANDARD"
                    }
                  }
                }
              ]
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the Scheduled Payments API, which returns a list of scheduled payments associated with a specific account.",
        "example": {
          "Data": {
            "ScheduledPayment": [
              {
                "AccountId": "ACC-254529",
                "id": "STANDARD",
                "dateTime": "2026-09-15T14:30:00Z",
                "ScheduledType": "STANDARD",
                "Reference": "STANDARD",
                "DebtorReference": "STANDARD",
                "InstructedAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "CreditorAgent": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "PostalAddress": {
                    "AddressType": "STANDARD",
                    "Department": "STANDARD",
                    "SubDepartment": "STANDARD",
                    "StreetName": "Northstar Banking Service",
                    "BuildingNumber": "STANDARD",
                    "BuildingName": "Northstar Banking Service",
                    "Floor": "STANDARD",
                    "UnitNumber": "STANDARD",
                    "Room": "STANDARD",
                    "PostBox": "STANDARD",
                    "TownLocationName": "Northstar Banking Service",
                    "DistrictName": "Northstar Banking Service",
                    "CareOf": "STANDARD",
                    "PostCode": "CODE-427",
                    "TownName": "Northstar Banking Service",
                    "CountrySubDivision": "STANDARD",
                    "Country": "STANDARD",
                    "AddressLine": [
                      "STANDARD"
                    ]
                  },
                  "LEI": "STANDARD"
                },
                "CreditorAccount": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "SecondaryIdentification": "STANDARD",
                  "Proxy": {
                    "Identification": "STANDARD"
                  }
                }
              }
            ]
          },
          "metadata": {
            "responseId": "8cc0157e-86cf-537c-81a7-ad4eb841fe2c",
            "correlationId": "8686313b-8f72-57a4-8844-9aaa980274a1",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ScheduledPayment": {
        "type": "object",
        "properties": {
          "AccountId": {
            "type": "string",
            "description": "The ID of the account associated with the payment."
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the scheduled payment."
          },
          "dateTime": {
            "type": "string",
            "description": "The date and time when the payment is scheduled."
          },
          "ScheduledType": {
            "type": "string",
            "description": "The type of the scheduled payment."
          },
          "Reference": {
            "type": "string",
            "description": "Reference information related to the payment."
          },
          "DebtorReference": {
            "type": "string",
            "description": "Reference information related to the debtor."
          },
          "InstructedAmount": {
            "description": "The amount to be instructed for payment.",
            "$ref": "#/components/schemas/Amount"
          },
          "CreditorAgent": {
            "description": "Information about the creditor's agent.",
            "$ref": "#/components/schemas/CreditorAgent"
          },
          "CreditorAccount": {
            "description": "Information about the creditor's account.",
            "$ref": "#/components/schemas/CreditorAccount"
          }
        },
        "description": "Schema representing a scheduled payment."
      },
      "Amount": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The numerical value of the instructed amount."
          },
          "Currency": {
            "type": "string",
            "description": "The currency of the instructed amount."
          }
        },
        "description": "Schema representing an instructed amount with currency."
      },
      "CreditorAgent": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "The scheme name used for the creditor agent."
          },
          "Identification": {
            "type": "string",
            "description": "The identification of the creditor agent."
          },
          "Name": {
            "type": "string",
            "description": "The name of the creditor agent."
          },
          "PostalAddress": {
            "description": "The postal address of the creditor agent.",
            "$ref": "#/components/schemas/PostalAddress"
          },
          "LEI": {
            "type": "string",
            "description": "Legal Entity Identifier for the creditor."
          }
        },
        "description": "Schema containing information about the creditor's agent."
      },
      "CreditorAccount": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "The scheme name used for the creditor account."
          },
          "Identification": {
            "type": "string",
            "description": "The identification of the creditor account."
          },
          "Name": {
            "type": "string",
            "description": "The name of the creditor account holder."
          },
          "SecondaryIdentification": {
            "type": "string",
            "description": "Any secondary identification for the creditor account."
          },
          "Proxy": {
            "description": "Proxy information associated with the creditor account.",
            "$ref": "#/components/schemas/Proxy"
          }
        },
        "description": "Schema containing information about the creditor's account."
      },
      "PostalAddress": {
        "type": "object",
        "properties": {
          "AddressType": {
            "type": "string",
            "description": "The type of address (e.g., residential, business)."
          },
          "Department": {
            "type": "string",
            "description": "The department within the organization."
          },
          "SubDepartment": {
            "type": "string",
            "description": "Sub-department information."
          },
          "StreetName": {
            "type": "string",
            "description": "The street name of the address."
          },
          "BuildingNumber": {
            "type": "string",
            "description": "The building number of the address."
          },
          "BuildingName": {
            "type": "string",
            "description": "The name of the building."
          },
          "Floor": {
            "type": "string",
            "description": "The floor number of the address."
          },
          "UnitNumber": {
            "type": "string",
            "description": "The unit number within a building."
          },
          "Room": {
            "type": "string",
            "description": "The room number within a unit."
          },
          "PostBox": {
            "type": "string",
            "description": "Post box number."
          },
          "TownLocationName": {
            "type": "string",
            "description": "Name of the town or location."
          },
          "DistrictName": {
            "type": "string",
            "description": "Name of the district."
          },
          "CareOf": {
            "type": "string",
            "description": "Care of address details."
          },
          "PostCode": {
            "type": "string",
            "description": "The postal code of the address."
          },
          "TownName": {
            "type": "string",
            "description": "The name of the town."
          },
          "CountrySubDivision": {
            "type": "string",
            "description": "Subdivision of the country (e.g., state or province)."
          },
          "Country": {
            "type": "string",
            "description": "The country of the address."
          },
          "AddressLine": {
            "type": "array",
            "description": "Additional lines of the address.",
            "items": {
              "type": "string"
            }
          }
        },
        "description": "Schema representing a postal address."
      },
      "Proxy": {
        "type": "object",
        "properties": {
          "Identification": {
            "type": "string",
            "description": "Identification for the proxy."
          }
        },
        "description": "Schema representing proxy information."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place."
          }
        },
        "description": "Metadata information for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-api-get-accounts-account-id-scheduled-payments"
        },
        "example": "accounts-api-get-accounts-account-id-scheduled-payments"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication with JSON Web Tokens (JWT). Clients must include a valid JWT token in the Authorization header when making requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}