{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Wholesale Trading By Param1-spec",
    "description": "This API allows users to access detailed information regarding wholesale trading positions based on specific parameters. By utilizing a unique identifier, typical consumers such as financial analysts and trading firms can retrieve essential trading data to support decision-making and strategic planning. The operation facilitates the extraction of trader position data, thereby enhancing the analysis and insights into trading operations. Suitable for integration into trading platforms and analytical tools, this API streamlines access to critical market data.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/wholesale-trading/trader-position-operations/{param1}": {
      "get": {
        "tags": [
          "Trader Operations"
        ],
        "summary": "Retrieve Trader Position Details",
        "description": "Fetches detailed information for a specific trader position based on the provided resource ID (RES-100045). This operation allows users to access important data related to a trader's performance and activities within the wholesale trading context.",
        "operationId": "getWholesaleTradingByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving trader position operations in wholesale trading. This operation requires specific parameters that should adhere to the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetWholesaleTradingByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed, and the trader position details are returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetWholesaleTradingByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetWholesaleTradingByParam1Request": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to trader position operations.",
        "example": "{}"
      },
      "GetWholesaleTradingByParam1Response_200": {
        "type": "object",
        "properties": {
          "tradingBookId": {
            "type": "string",
            "description": "Identifier for the trading book.",
            "example": "STANDARD"
          },
          "instrumentId": {
            "type": "string",
            "description": "Identifier for the financial instrument.",
            "example": "STANDARD"
          },
          "side": {
            "type": "string",
            "description": "Side of the trade; e.g., 'buy' or 'sell'.",
            "example": "STANDARD"
          },
          "quantity": {
            "type": "integer",
            "description": "Quantity of the instrument being traded.",
            "format": "int32",
            "example": 1
          },
          "limitPrice": {
            "description": "Limit price details for the trade.",
            "$ref": "#/components/schemas/LimitPrice"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version of the record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the record.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for the trader position operations request.",
        "example": {
          "tradingBookId": "STANDARD",
          "instrumentId": "STANDARD",
          "side": "STANDARD",
          "quantity": 1,
          "limitPrice": {
            "value": 100.0,
            "currency": "USD"
          },
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "55260a02-3960-5bef-8302-09963550c712",
            "correlationId": "f7e56af0-842a-57b0-beca-d791f4f2895c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "LimitPrice": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "Value of the limit price.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "Currency in which the limit price is denominated.",
            "example": "string"
          }
        },
        "description": "Schema representing the limit price for a trading operation."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking the request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata information for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the endpoint that was called, providing context for the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "trader-position-operations-get-trader-position-operations"
        },
        "example": "trader-position-operations-get-trader-position-operations"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request, useful for tracking and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes a Bearer Token for authentication. The token should be provided in the HTTP Authorization header as a 'Bearer' token. This implementation expects a JSON Web Token (JWT) format for the bearer token.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}