{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create P2m Settlement Account-spec",
    "description": "The P2M Settlement Account Creation API enables businesses to establish payment settlement accounts for P2M transactions. This endpoint allows users to set up new accounts by submitting relevant details, streamlining the onboarding process for payment infrastructure. Typical consumers include financial institutions and payment service providers looking to enhance their transaction handling capabilities. By automating account creation, businesses can improve efficiency and ensure a seamless user experience in managing payment settlements.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/settlement-accounts": {
      "post": {
        "tags": [
          "Settlement Accounts"
        ],
        "summary": "Create a new settlement account",
        "description": "This operation allows you to create a new settlement account within the system, enabling the management and tracking of financial transactions seamlessly.",
        "operationId": "createP2mSettlementAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create a new settlement account. It should contain the necessary details for the account, such as account type, currency, and other relevant information as defined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateP2mSettlementAccountRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully with the new settlement account details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateP2mSettlementAccountResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateP2mSettlementAccountRequest": {
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant.",
            "example": "MER-720692"
          },
          "bankAccountToken": {
            "type": "string",
            "description": "Token representing the bank account.",
            "example": "STANDARD"
          },
          "account": {
            "description": "Details of the bank account associated with the merchant.",
            "$ref": "#/components/schemas/BankAccount"
          },
          "schedule": {
            "description": "Schedule for account settlements.",
            "$ref": "#/components/schemas/Schedule"
          },
          "isDefault": {
            "type": "boolean",
            "description": "Indicates if this is the default settlement account.",
            "example": true
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for setting up settlement accounts.",
        "example": {
          "merchantId": "MER-720692",
          "bankAccountToken": "STANDARD",
          "account": {
            "bankCode": "CODE-820",
            "branchCode": "CODE-268",
            "numberMasked": "STANDARD",
            "name": "Northstar Banking Service",
            "type": "STANDARD",
            "currency": "USD"
          },
          "schedule": {
            "frequency": "STANDARD",
            "cutoffTime": "STANDARD",
            "timezone": "America/New_York",
            "settlementDelayBusinessDays": 1,
            "minimumPayoutAmount": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "isDefault": true,
          "requestContext": {
            "requestId": "805bc0c8-076b-5ce1-b56a-513e4853c223",
            "correlationId": "3e8ee308-e82b-543f-8cc4-97bf61eed135",
            "idempotencyKey": "83a2c8a8-83f0-5bc6-8ddb-b89caf19152f",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-812603"
            }
          }
        }
      },
      "BankAccount": {
        "type": "object",
        "properties": {
          "bankCode": {
            "type": "string",
            "description": "The bank's code.",
            "example": "ABC123"
          },
          "branchCode": {
            "type": "string",
            "description": "The branch code of the bank.",
            "example": "BR001"
          },
          "numberMasked": {
            "type": "string",
            "description": "Masked bank account number for security.",
            "example": "****-****-1234"
          },
          "name": {
            "type": "string",
            "description": "Name of the account holder.",
            "example": "John Doe"
          },
          "type": {
            "type": "string",
            "description": "Type of the bank account.",
            "example": "checking"
          },
          "currency": {
            "type": "string",
            "description": "Currency of the bank account.",
            "example": "USD"
          }
        },
        "description": "Schema representing the details of a bank account."
      },
      "Schedule": {
        "title": "Settlement Schedule",
        "type": "object",
        "properties": {
          "frequency": {
            "type": "string",
            "description": "The frequency of the settlements.",
            "example": "string"
          },
          "cutoffTime": {
            "type": "string",
            "description": "Cutoff time for processing settlements.",
            "example": "string"
          },
          "timezone": {
            "type": "string",
            "description": "Timezone in which the settlement operates.",
            "example": "string"
          },
          "settlementDelayBusinessDays": {
            "type": "integer",
            "description": "Number of business days before settlement is processed.",
            "format": "int32",
            "example": 0
          },
          "minimumPayoutAmount": {
            "description": "Minimum payout amount required for the settlement.",
            "$ref": "#/components/schemas/MinimumPayoutAmount"
          }
        },
        "description": "Details regarding the settlement schedule."
      },
      "MinimumPayoutAmount": {
        "title": "Minimum Payout Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency of the payout amount.",
            "example": "string"
          },
          "value": {
            "type": "string",
            "description": "The minimum payout value.",
            "example": "string"
          }
        },
        "description": "Details of the minimum payout amount."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-54321"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating multiple requests.",
            "example": "corr-98765"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the operation is idempotent.",
            "example": "idempotency-key-abc123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T12:34:56Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "paymentGateway"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "merchantApp"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-1"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device used.",
            "example": "device-987"
          }
        },
        "description": "Schema representing the channel used for the request."
      },
      "CreateP2mSettlementAccountResponse_201": {
        "title": "Settlement Account Response",
        "type": "object",
        "properties": {
          "settlementAccountId": {
            "type": "string",
            "description": "Unique identifier for the settlement account.",
            "example": "ACC-344239"
          },
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant associated with the account.",
            "example": "MER-278936"
          },
          "account": {
            "description": "Details of the bank account.",
            "$ref": "#/components/schemas/Account"
          },
          "schedule": {
            "description": "Schedule information for settlement.",
            "$ref": "#/components/schemas/Schedule"
          },
          "isDefault": {
            "type": "boolean",
            "description": "Indicates whether this is the default settlement account.",
            "example": true
          },
          "verificationStatus": {
            "type": "string",
            "description": "Current verification status of the settlement account.",
            "example": "VERIFIED"
          },
          "status": {
            "type": "string",
            "description": "Current status of the settlement account.",
            "example": "ACTIVE"
          },
          "audit": {
            "description": "Audit information for the settlement account.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for creating a settlement account.",
        "example": {
          "settlementAccountId": "ACC-344239",
          "merchantId": "MER-278936",
          "account": {
            "bankCode": "CODE-618",
            "branchCode": "CODE-506",
            "numberMasked": "STANDARD",
            "name": "Northstar Banking Service",
            "type": "STANDARD",
            "currency": "USD"
          },
          "schedule": {
            "frequency": "STANDARD",
            "cutoffTime": "STANDARD",
            "timezone": "America/New_York",
            "settlementDelayBusinessDays": 1,
            "minimumPayoutAmount": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "isDefault": true,
          "verificationStatus": "VERIFIED",
          "status": "ACTIVE",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "2d4f3211-87a0-5d1e-8951-0e4dbf5d166a",
            "correlationId": "3e8ee308-e82b-543f-8cc4-97bf61eed135",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Account": {
        "title": "Bank Account",
        "type": "object",
        "properties": {
          "bankCode": {
            "type": "string",
            "description": "The bank code for the account.",
            "example": "string"
          },
          "branchCode": {
            "type": "string",
            "description": "The branch code for the account.",
            "example": "string"
          },
          "numberMasked": {
            "type": "string",
            "description": "A masked version of the account number.",
            "example": "string"
          },
          "name": {
            "type": "string",
            "description": "The name of the account holder.",
            "example": "string"
          },
          "type": {
            "type": "string",
            "description": "The type of the bank account.",
            "example": "string"
          },
          "currency": {
            "type": "string",
            "description": "Currency of the bank account.",
            "example": "string"
          }
        },
        "description": "Details of a bank account."
      },
      "Audit": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the account was created.",
            "example": "string"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier for the user who created the account.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the account was last updated.",
            "example": "string"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier for the user who last updated the account.",
            "example": "string"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the account record.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Audit information for account change tracking."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating the request and response.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Additional metadata in the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-create-settlement-account"
        },
        "example": "banking-p2m-openapi-create-settlement-account"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication via JSON Web Tokens (JWT). Clients must include a valid JWT in the 'Authorization' header when making requests to access secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}