{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Special Pricing Conditions API",
    "description": "The Special Pricing Conditions API facilitates access to specialized pricing rules and conditions for banking products. This API allows users to retrieve current pricing conditions that may apply due to specific business scenarios or customer agreements. Typical consumers include financial analysts, product managers, and developers looking to enhance pricing strategies. By leveraging this API, organizations can ensure competitive pricing and tailored offerings based on market demands.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/product-management/special-pricing-conditions": {
      "get": {
        "tags": [
          "Product Management"
        ],
        "summary": "Retrieve special pricing conditions for products",
        "description": "This endpoint allows users to fetch the special pricing conditions that are applicable to various products. It returns the relevant details to help users understand the pricing rules and any exceptions that may apply.",
        "operationId": "getSpecialPricingConditions",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to specify special pricing conditions for products. It allows the client to define various parameters that will influence the retrieval of special pricing information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSpecialPricingConditionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved special pricing conditions.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSpecialPricingConditionsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetSpecialPricingConditionsRequest": {
        "type": "string",
        "description": "A representation of the request body for the special pricing conditions operation in the product management context.",
        "example": "{}"
      },
      "GetSpecialPricingConditionsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of product items with special pricing conditions.",
            "example": [
              {
                "productCode": "CHK-PREMIUM-US",
                "productName": "Northstar Banking Service",
                "customerSegment": "STANDARD",
                "baseCurrency": "USD",
                "effectiveDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ProductItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting parameter used in the API request.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the special pricing conditions in the product management API.",
        "example": {
          "items": [
            {
              "productCode": "CHK-PREMIUM-US",
              "productName": "Northstar Banking Service",
              "customerSegment": "STANDARD",
              "baseCurrency": "USD",
              "effectiveDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "bbf70c08-380e-53b7-879c-a16e368b5af4",
            "correlationId": "04125896-92b8-57b8-b83d-d3d8e922ecf9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ProductItem": {
        "type": "object",
        "properties": {
          "productCode": {
            "type": "string",
            "description": "Unique code identifying the product."
          },
          "productName": {
            "type": "string",
            "description": "Name of the product."
          },
          "customerSegment": {
            "type": "string",
            "description": "Segment of customers that the pricing condition applies to."
          },
          "baseCurrency": {
            "type": "string",
            "description": "Currency in which the pricing is set."
          },
          "effectiveDate": {
            "type": "string",
            "description": "Date when the pricing condition becomes effective."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the product record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the product item."
          }
        },
        "description": "Details of a product with special pricing."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the paginated response.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32"
          }
        },
        "description": "Pagination information for the response data."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the API response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request took place."
          }
        },
        "description": "Metadata information for the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint associated with the request, useful for tracing and tracking specific API calls.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "special-pricing-conditions-search-special-pricing-conditions"
        },
        "example": "special-pricing-conditions-search-special-pricing-conditions"
      },
      "X-Runtime-App": {
        "description": "Identifies the application running the request, which can help in monitoring and diagnosing application-level issues.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "A security scheme that uses a JSON Web Token (JWT) as the bearer token for authentication. Clients must include this token in the 'Authorization' header of their requests to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}