{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Loan Application By Offer Id-spec",
    "description": "This API allows the modification of a loan application associated with a specific offer ID. It supports updating various details of the loan application, enhancing the flexibility for users to manage their applications. Typically used by financial services professionals, this endpoint facilitates adjustments in application status, terms, or other pertinent details necessary for processing. The API ensures that customers can effectively respond to changing circumstances or requirements throughout the loan application lifecycle.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{param1}/offers/{offerId}": {
      "patch": {
        "tags": [
          "Loan Applications"
        ],
        "summary": "Update an Offer for a Loan Application",
        "description": "This operation allows you to update an existing offer associated with a specified loan application. By making a patch request to this endpoint, you can modify specific fields within the offer, enabling you to manage and adjust loan terms based on your business requirements.",
        "operationId": "updateLoanApplicationByOfferId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          },
          {
            "$ref": "#/components/parameters/offerId"
          }
        ],
        "requestBody": {
          "description": "The request body for updating the loan application offer. This should contain the necessary fields to modify existing loan offers associated with the given application. Ensure that the data adheres to the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLoanApplicationByOfferIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful, and the offer has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateLoanApplicationByOfferIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateLoanApplicationByOfferIdRequest": {
        "title": "Loan Offer Request Body",
        "type": "object",
        "properties": {
          "approvedPrincipal": {
            "description": "Details of the approved principal amount of the loan offer.",
            "$ref": "#/components/schemas/ApprovedPrincipal"
          },
          "termMonths": {
            "type": "integer",
            "description": "The term of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "annualInterestRatePercent": {
            "type": "string",
            "description": "The annual interest rate as a percentage.",
            "example": "STANDARD"
          },
          "annualPercentageRatePercent": {
            "type": "string",
            "description": "The annual percentage rate expressed as a percentage.",
            "example": "STANDARD"
          },
          "estimatedInstallment": {
            "description": "Estimated installment details of the loan offer.",
            "$ref": "#/components/schemas/EstimatedInstallment"
          },
          "originationFee": {
            "description": "Details of the origination fee associated with the loan.",
            "$ref": "#/components/schemas/OriginationFee"
          },
          "validUntil": {
            "type": "string",
            "description": "The date until which the offer remains valid.",
            "example": "2026-08-11T12:00:00Z"
          },
          "conditions": {
            "type": "array",
            "description": "List of conditions that apply to the loan offer.",
            "example": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "dueBefore": "STANDARD",
                "status": "ACTIVE"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Condition"
            }
          },
          "status": {
            "type": "string",
            "description": "Current status of the loan offer.",
            "example": "ACTIVE"
          },
          "requestContext": {
            "description": "Contextual information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for a loan offer operation, containing all relevant details about the loan offer.",
        "example": {
          "approvedPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "termMonths": 1,
          "annualInterestRatePercent": "STANDARD",
          "annualPercentageRatePercent": "STANDARD",
          "estimatedInstallment": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "originationFee": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "validUntil": "2026-08-11T12:00:00Z",
          "conditions": [
            {
              "code": "SUCCESS",
              "description": "Customer banking request processed successfully",
              "dueBefore": "STANDARD",
              "status": "ACTIVE"
            }
          ],
          "status": "ACTIVE",
          "requestContext": {
            "requestId": "f53ee634-562d-56a5-a99f-7ca56c5e611c",
            "correlationId": "bb78962d-e4d8-5d7e-a6d7-a5a3846e5a39",
            "idempotencyKey": "f2e9abd9-e15f-54d2-bac6-828299289eff",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-877384"
            }
          }
        }
      },
      "ApprovedPrincipal": {
        "title": "Approved Principal",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency of the approved principal.",
            "example": "string"
          },
          "amount": {
            "type": "string",
            "description": "The amount of the approved principal.",
            "example": "string"
          }
        },
        "description": "Schema representing the approved principal amount of the loan, including currency and amount."
      },
      "EstimatedInstallment": {
        "title": "Estimated Installment",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency of the estimated installment.",
            "example": "string"
          },
          "amount": {
            "type": "string",
            "description": "The amount of the estimated installment.",
            "example": "string"
          }
        },
        "description": "Schema representing the estimated installment of the loan, including currency and amount."
      },
      "OriginationFee": {
        "title": "Origination Fee",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency of the origination fee.",
            "example": "string"
          },
          "amount": {
            "type": "string",
            "description": "The amount of the origination fee.",
            "example": "string"
          }
        },
        "description": "Schema representing the origination fee for the loan, including currency and amount."
      },
      "Condition": {
        "title": "Loan Offer Condition",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Code representing the condition.",
            "example": "string"
          },
          "description": {
            "type": "string",
            "description": "A detailed description of the condition.",
            "example": "string"
          },
          "dueBefore": {
            "type": "string",
            "description": "The date by which the condition should be fulfilled.",
            "example": "string"
          },
          "status": {
            "type": "string",
            "description": "Current status of the condition.",
            "example": "string"
          }
        },
        "description": "Schema representing a condition attached to the loan offer."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotent requests.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that initiated the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that made the request.",
            "example": "string"
          },
          "channel": {
            "description": "Details about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema providing context about the request including identifiers and timestamps."
      },
      "Channel": {
        "title": "Request Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel used for the request.",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device making the request.",
            "example": "string"
          }
        },
        "description": "Schema representing the channel details of the request including channel ID, type, and device ID."
      },
      "UpdateLoanApplicationByOfferIdResponse_200": {
        "title": "Loan Application Offer Response",
        "type": "object",
        "properties": {
          "offerType": {
            "type": "string",
            "description": "The type of the loan offer.",
            "example": "STANDARD"
          },
          "approvedPrincipal": {
            "description": "The approved principal amount for the loan, including currency and amount.",
            "$ref": "#/components/schemas/FinancialAmount"
          },
          "termMonths": {
            "type": "integer",
            "description": "The duration of the loan term in months.",
            "format": "int32",
            "example": 1
          },
          "annualInterestRatePercent": {
            "type": "string",
            "description": "The annual interest rate of the loan expressed as a percentage.",
            "example": "STANDARD"
          },
          "annualPercentageRatePercent": {
            "type": "string",
            "description": "The annual percentage rate (APR) of the loan expressed as a percentage.",
            "example": "STANDARD"
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "The frequency of loan repayments (e.g., monthly, bi-weekly).",
            "example": "STANDARD"
          },
          "estimatedInstallment": {
            "description": "The estimated installment amount to be paid regularly, including currency and amount.",
            "$ref": "#/components/schemas/FinancialAmount"
          },
          "originationFee": {
            "description": "The origination fee associated with the loan, including currency and amount.",
            "$ref": "#/components/schemas/FinancialAmount"
          },
          "insurancePremium": {
            "description": "The insurance premium required for the loan, including currency and amount.",
            "$ref": "#/components/schemas/FinancialAmount"
          },
          "validUntil": {
            "type": "string",
            "description": "The date until the offer is valid.",
            "example": "2026-08-11T12:00:00Z"
          },
          "conditions": {
            "type": "array",
            "description": "A list of specific conditions associated with the loan offer.",
            "example": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "dueBefore": "STANDARD",
                "status": "ACTIVE"
              }
            ],
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "A unique code representing the condition.",
                  "example": "COND001"
                },
                "description": {
                  "type": "string",
                  "description": "A description of the condition.",
                  "example": "Must provide proof of income."
                },
                "dueBefore": {
                  "type": "string",
                  "description": "The deadline for fulfilling the condition.",
                  "example": "2023-11-15"
                },
                "status": {
                  "type": "string",
                  "description": "The current status of the condition (e.g., fulfilled, pending).",
                  "example": "Pending"
                }
              }
            }
          },
          "disclosures": {
            "type": "array",
            "description": "A list of disclosures associated with the loan offer.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "Text of a disclosure."
            }
          },
          "id": {
            "type": "string",
            "description": "The unique identifier for the loan offer.",
            "example": "9c36c05e-de85-0bdb-7014-19d2f22d602d"
          },
          "offerNumber": {
            "type": "string",
            "description": "The offer number associated with the loan.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the loan offer (e.g., active, accepted).",
            "example": "ACTIVE"
          },
          "issuedAt": {
            "type": "string",
            "description": "The date the loan offer was issued.",
            "example": "2026-08-11T12:00:00Z"
          },
          "acceptedAt": {
            "type": "string",
            "description": "The date the loan offer was accepted by the customer.",
            "example": "2026-08-11T12:00:00Z"
          },
          "acceptedByCustomerId": {
            "type": "string",
            "description": "The unique identifier of the customer who accepted the loan offer.",
            "example": "CUST-486089"
          },
          "audit": {
            "description": "Audit information related to the creation and updates of the loan offer.",
            "$ref": "#/components/schemas/AuditInfo"
          },
          "metadata": {
            "description": "Additional metadata related to the loan offer.",
            "$ref": "#/components/schemas/MetadataInfo"
          }
        },
        "description": "This schema represents the response structure for a loan application offer, detailing the offer type, financial details, conditions, disclosures, and audit information.",
        "example": {
          "offerType": "STANDARD",
          "approvedPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "termMonths": 1,
          "annualInterestRatePercent": "STANDARD",
          "annualPercentageRatePercent": "STANDARD",
          "repaymentFrequency": "STANDARD",
          "estimatedInstallment": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "originationFee": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "insurancePremium": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "validUntil": "2026-08-11T12:00:00Z",
          "conditions": [
            {
              "code": "SUCCESS",
              "description": "Customer banking request processed successfully",
              "dueBefore": "STANDARD",
              "status": "ACTIVE"
            }
          ],
          "disclosures": [
            "STANDARD"
          ],
          "id": "9c36c05e-de85-0bdb-7014-19d2f22d602d",
          "offerNumber": "STANDARD",
          "status": "ACTIVE",
          "issuedAt": "2026-08-11T12:00:00Z",
          "acceptedAt": "2026-08-11T12:00:00Z",
          "acceptedByCustomerId": "CUST-486089",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "55a100f8-90f4-5daf-9271-e8c305826ac3",
            "correlationId": "bb78962d-e4d8-5d7e-a6d7-a5a3846e5a39",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "FinancialAmount": {
        "title": "Financial Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is denominated.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The amount of money, usually represented as a string to include decimal places.",
            "example": "15000.00"
          }
        },
        "description": "Represents a monetary amount in a specific currency."
      },
      "AuditInfo": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "The date and time when the offer was created.",
            "example": "2023-09-30T10:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "The identifier of the user who created the offer.",
            "example": "user-123"
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the offer was last updated.",
            "example": "2023-10-01T10:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "The identifier of the user who last updated the offer.",
            "example": "user-234"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the offer.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Contains information related to the creation and updates of the loan offer."
      },
      "MetadataInfo": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "response-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate requests across multiple systems.",
            "example": "correlation-7890"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-10-01T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the processing of the loan offer took place.",
            "example": "US-East"
          }
        },
        "description": "Contains additional metadata related to the loan offer."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "offerId": {
        "name": "offerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-update-loan-offer"
        },
        "example": "banking-loans-openapi-update-loan-offer"
      },
      "X-Runtime-App": {
        "description": "The name of the application handling the runtime for the operation, providing context for the request's processing environment.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that utilizes bearer tokens (JSON Web Tokens) for secure access. Clients must include this token in the Authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}