{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Treasury Securities Financings-spec",
    "description": "This API provides access to a comprehensive list of treasury securities financings available within the system. Users can retrieve detailed information about various financing options, including terms and conditions, rates, and available amounts. It serves financial institutions, traders, and analysts who need up-to-date data to inform their treasury operations and investment decisions. By utilizing this API, developers can integrate treasury financing data into their applications, enabling enhanced financial analysis and reporting.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/treasury/securities-financing": {
      "get": {
        "tags": [
          "Treasury Operations"
        ],
        "summary": "Retrieve securities financing data.",
        "description": "This endpoint allows users to fetch detailed information about securities financing activities. It provides insights into available instruments and financing options, helping stakeholders make informed decisions in treasury management.",
        "operationId": "listTreasurySecuritiesFinancings",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve securities financing data for treasury operations. It includes necessary parameters that dictate what data is being requested.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListTreasurySecuritiesFinancingsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested securities financing data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListTreasurySecuritiesFinancingsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListTreasurySecuritiesFinancingsRequest": {
        "title": "Securities Financing Operations Request Body",
        "type": "string",
        "description": "This schema defines the request body for GET operations related to securities financing. It is expected to be a JSON string containing the relevant data.",
        "example": "{}"
      },
      "ListTreasurySecuritiesFinancingsResponse_200": {
        "title": "Securities Financing Operations Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of securities financing operations.",
            "example": [
              {
                "portfolioId": "PORT-305002",
                "instrumentId": "STANDARD",
                "counterpartyId": "PARTY-749433",
                "notionalAmount": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "maturityDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/SecuritiesFinancingOperation"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria used in the request.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving securities financing operations, including items, pagination, sorting, and metadata.",
        "example": {
          "items": [
            {
              "portfolioId": "PORT-305002",
              "instrumentId": "STANDARD",
              "counterpartyId": "PARTY-749433",
              "notionalAmount": {
                "amount": 100.0,
                "currency": "USD"
              },
              "maturityDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "5ab8464d-0db1-5843-beee-833f886a4538",
            "correlationId": "1a94c4e5-a955-5168-ab74-d302e0fed574",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "SecuritiesFinancingOperation": {
        "title": "Securities Financing Operation",
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "Identifier for the portfolio associated with the operation."
          },
          "instrumentId": {
            "type": "string",
            "description": "Identifier for the financial instrument involved in the operation."
          },
          "counterpartyId": {
            "type": "string",
            "description": "Identifier for the counterparty of the operation."
          },
          "notionalAmount": {
            "$ref": "#/components/schemas/NotionalAmount"
          },
          "maturityDate": {
            "type": "string",
            "description": "The maturity date of the instrument in ISO 8601 format."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record (e.g., active, inactive)."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update of the operation in ISO 8601 format."
          }
        },
        "description": "Details of an individual securities financing operation."
      },
      "NotionalAmount": {
        "title": "Notional Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount of the notional value.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency of the notional amount."
          }
        },
        "description": "The total notional amount and its currency for the securities financing operation."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Pagination information for the response."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated in ISO 8601 format."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place."
          }
        },
        "description": "Additional metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "stock-lending-and-repos-search-stock-lending-and-repos"
        },
        "example": "stock-lending-and-repos-search-stock-lending-and-repos"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method, allowing users to authenticate using a JSON Web Token (JWT). Ensure that the JWT is included in the Authorization header of your requests for secure access to the API.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}