{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Replace Loan By Payment Id-spec",
    "description": "This API facilitates the replacement of a loan using a specified payment ID, ensuring that financial transactions are accurately managed within the system. It allows for the seamless updating of loan details by referencing a unique loan ID along with the associated payment ID. Typical consumers of this API include loan management systems, financial institutions, and payment processing providers that require integration for loan adjustments. This ensures that payment records are consistently aligned with the current loan status, enhancing data integrity and operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loans/{loanId}/payments/{paymentId}": {
      "put": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Update a payment for a specific loan.",
        "description": "This operation allows you to update the details of a payment associated with a specified loan. You need to provide the required payment information in the request body to successfully update the payment record.",
        "operationId": "replaceLoanByPaymentId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/loanId"
          },
          {
            "$ref": "#/components/parameters/paymentId"
          }
        ],
        "requestBody": {
          "description": "Updates the payment details for the specified loan payment. This operation allows the user to modify existing payment information, ensuring that any changes are accurately reflected in the system.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceLoanByPaymentIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The payment has been successfully updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceLoanByPaymentIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ReplaceLoanByPaymentIdRequest": {
        "title": "Payment Request Body",
        "type": "object",
        "properties": {
          "amount": {
            "description": "The amount to be paid, including currency and amount details.",
            "$ref": "#/components/schemas/Amount"
          },
          "paymentDate": {
            "type": "string",
            "description": "The date when the payment is made.",
            "example": "2026-09-15"
          },
          "valueDate": {
            "type": "string",
            "description": "The date when the payment will be posted to the account.",
            "example": "2026-09-15"
          },
          "paymentMethod": {
            "type": "string",
            "description": "The method used for the payment (e.g., bank transfer, credit card).",
            "example": "STANDARD"
          },
          "sourceAccountNumber": {
            "type": "string",
            "description": "The account number from which the payment is made.",
            "example": "STANDARD"
          },
          "externalReference": {
            "type": "string",
            "description": "An external reference identifier for the payment.",
            "example": "STANDARD"
          },
          "allocationStrategy": {
            "type": "string",
            "description": "Strategy for allocating the payment to installments.",
            "example": "STANDARD"
          },
          "targetInstallmentNumbers": {
            "type": "array",
            "description": "The specific installment numbers that the payment will be allocated to.",
            "example": [
              1
            ],
            "items": {
              "type": "integer",
              "format": "int32",
              "example": 1
            }
          },
          "manualAllocation": {
            "description": "Details about manual allocation of the payment to principal, interest, fees, penalties, and excess.",
            "$ref": "#/components/schemas/ManualAllocation"
          },
          "narrative": {
            "type": "string",
            "description": "A narrative or description for the payment.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context information for the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for processing a payment related to a specific loan.",
        "example": {
          "amount": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "paymentDate": "2026-09-15",
          "valueDate": "2026-09-15",
          "paymentMethod": "STANDARD",
          "sourceAccountNumber": "STANDARD",
          "externalReference": "STANDARD",
          "allocationStrategy": "STANDARD",
          "targetInstallmentNumbers": [
            1
          ],
          "manualAllocation": {
            "principal": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "interest": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "fees": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "penalties": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "excess": {
              "currency": "USD",
              "amount": "1250.75"
            }
          },
          "narrative": "STANDARD",
          "requestContext": {
            "requestId": "0986fe7e-4467-56b2-b872-d1d503827016",
            "correlationId": "1e69156c-66d1-5718-a112-fd4a9eaa1bb6",
            "idempotencyKey": "e456c66b-3efd-55fe-8a02-8e50422e392a",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-818605"
            }
          }
        }
      },
      "Amount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency of the amount (e.g., USD, EUR).",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The amount value.",
            "example": "100.00"
          }
        },
        "description": "The currency amount for the payment."
      },
      "ManualAllocation": {
        "type": "object",
        "properties": {
          "principal": {
            "description": "The principal amount allocated in the payment.",
            "$ref": "#/components/schemas/Amount"
          },
          "interest": {
            "description": "The interest amount allocated in the payment.",
            "$ref": "#/components/schemas/Amount"
          },
          "fees": {
            "description": "The fees amount allocated in the payment.",
            "$ref": "#/components/schemas/Amount"
          },
          "penalties": {
            "description": "The penalties amount allocated in the payment.",
            "$ref": "#/components/schemas/Amount"
          },
          "excess": {
            "description": "Any excess amount allocated in the payment.",
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "The allocation details for manual payment handling."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier of the request.",
            "example": "REQ-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate this request with others.",
            "example": "CORR-12345"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotent operations.",
            "example": "IDEMP-12345"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the system making the request.",
            "example": "SystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the application making the request.",
            "example": "AppA"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema containing contextual information about the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "CHANNEL-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "Mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used for the request.",
            "example": "DEVICE-12345"
          }
        },
        "description": "Schema representing the channel through which the request was made."
      },
      "ReplaceLoanByPaymentIdResponse_200": {
        "type": "object",
        "properties": {
          "amount": {
            "description": "The amount related to the payment.",
            "$ref": "#/components/schemas/Amount"
          },
          "paymentDate": {
            "type": "string",
            "description": "The date when the payment was made.",
            "example": "2026-09-15"
          },
          "valueDate": {
            "type": "string",
            "description": "The date when the value of the payment is recognized.",
            "example": "2026-09-15"
          },
          "paymentMethod": {
            "type": "string",
            "description": "The method used for the payment (e.g., credit card, bank transfer).",
            "example": "STANDARD"
          },
          "sourceAccountNumber": {
            "type": "string",
            "description": "The account number from which the payment was made.",
            "example": "STANDARD"
          },
          "externalReference": {
            "type": "string",
            "description": "An external reference associated with the payment.",
            "example": "STANDARD"
          },
          "allocationStrategy": {
            "type": "string",
            "description": "The strategy used to allocate the payment (e.g., pro-rata).",
            "example": "STANDARD"
          },
          "targetInstallmentNumbers": {
            "type": "array",
            "description": "The list of installment numbers that this payment targets.",
            "example": [
              1
            ],
            "items": {
              "type": "integer",
              "format": "int32",
              "example": 1
            }
          },
          "manualAllocation": {
            "description": "Details for manual allocation of the payment.",
            "$ref": "#/components/schemas/ManualAllocation"
          },
          "narrative": {
            "type": "string",
            "description": "A narrative or comment regarding the payment.",
            "example": "STANDARD"
          },
          "id": {
            "type": "string",
            "description": "The unique identifier for the payment.",
            "example": "492e2e6f-1d9c-6012-a608-83a8029ecd7f"
          },
          "paymentNumber": {
            "type": "string",
            "description": "The number assigned to the payment.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the payment (e.g., completed, pending).",
            "example": "ACTIVE"
          },
          "allocation": {
            "description": "Details of how the payment has been allocated.",
            "$ref": "#/components/schemas/Allocation"
          },
          "transactionReference": {
            "type": "string",
            "description": "A reference ID for the transaction.",
            "example": "STANDARD"
          },
          "postedAt": {
            "type": "string",
            "description": "The timestamp when the payment was posted.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Additional metadata about the payment.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "example": {
          "amount": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "paymentDate": "2026-09-15",
          "valueDate": "2026-09-15",
          "paymentMethod": "STANDARD",
          "sourceAccountNumber": "STANDARD",
          "externalReference": "STANDARD",
          "allocationStrategy": "STANDARD",
          "targetInstallmentNumbers": [
            1
          ],
          "manualAllocation": {
            "principal": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "interest": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "fees": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "penalties": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "excess": {
              "currency": "USD",
              "amount": "1250.75"
            }
          },
          "narrative": "STANDARD",
          "id": "492e2e6f-1d9c-6012-a608-83a8029ecd7f",
          "paymentNumber": "STANDARD",
          "status": "ACTIVE",
          "allocation": {
            "principal": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "interest": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "fees": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "penalties": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "excess": {
              "currency": "USD",
              "amount": "1250.75"
            }
          },
          "transactionReference": "STANDARD",
          "postedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "cb02fa78-1f9c-50db-8559-984942482367",
            "correlationId": "1e69156c-66d1-5718-a112-fd4a9eaa1bb6",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Allocation": {
        "type": "object",
        "properties": {
          "principal": {
            "description": "The principal amount allocated.",
            "$ref": "#/components/schemas/Amount"
          },
          "interest": {
            "description": "The interest amount allocated.",
            "$ref": "#/components/schemas/Amount"
          },
          "fees": {
            "description": "The fees amount allocated.",
            "$ref": "#/components/schemas/Amount"
          },
          "penalties": {
            "description": "The penalties amount allocated.",
            "$ref": "#/components/schemas/Amount"
          },
          "excess": {
            "description": "Any excess amount allocated.",
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "The allocation of the payment across different components."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The ID of the response related to the payment.",
            "example": "RESP-789012"
          },
          "correlationId": {
            "type": "string",
            "description": "A correlation ID for tracking related requests.",
            "example": "CORR-123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the payment was processed.",
            "example": "US-East"
          }
        },
        "description": "Metadata information related to the payment."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "loanId": {
        "name": "loanId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "paymentId": {
        "name": "paymentId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "This header represents a unique identifier for the endpoint being called, which can help in tracking and auditing API requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-replace-loan-payment"
        },
        "example": "banking-loans-openapi-replace-loan-payment"
      },
      "X-Runtime-App": {
        "description": "This header denotes the runtime application identifier, which can be used to identify the application environment processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses Bearer tokens. The token should be in JWT (JSON Web Token) format, which allows secure transmission of information between parties as a JSON object.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}