{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Session Handoffs Management API",
    "description": "The Session Handoffs Management API facilitates the efficient transfer of session-related tasks in banking applications. This endpoint enables the creation of handoff records, allowing for the seamless transition of ongoing sessions between agents or systems. Typical consumers include customer support and banking operations teams who manage client interactions. By using this API, organizations can streamline handoff processes, reduce operational friction, and improve customer experiences. Integrating this API ensures that session ownership is effectively communicated and documented, enhancing overall service continuity.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/sessions/{sessionId}/handoffs": {
      "post": {
        "tags": [
          "Session Management"
        ],
        "summary": "Create a new handoff for a specific session.",
        "description": "This operation allows the user to create a handoff associated with the session identified by RES-100045. A handoff includes transferring necessary information and responsibility for a particular task to ensure a seamless transition and continuity of service.",
        "operationId": "createHandoffForSession_res100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/sessionId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a handoff for the specified session. It includes all necessary details to successfully process the handoff operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateHandoffForSession_res100045Request"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource has been successfully created and the handoff process has initiated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateHandoffForSession_res100045Response_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateHandoffForSession_res100045Request": {
        "title": "Handoff Request Body",
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "The unique identifier for the party involved in the interaction.",
            "example": "PARTY-927482"
          },
          "interactionId": {
            "type": "string",
            "description": "The unique identifier for the interaction associated with this request.",
            "example": "INT-243550"
          },
          "channel": {
            "type": "string",
            "description": "The channel through which the interaction is taking place.",
            "example": "STANDARD"
          },
          "authenticationLevel": {
            "type": "string",
            "description": "The level of authentication for this request.",
            "example": "STANDARD"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for the handoff operation.",
        "example": {
          "partyId": "PARTY-927482",
          "interactionId": "INT-243550",
          "channel": "STANDARD",
          "authenticationLevel": "STANDARD",
          "requestContext": {
            "requestId": "7c74c4c0-463c-5f78-820b-4bf553a83580",
            "correlationId": "44d96762-2848-5b34-b0a4-6eeb8c3c7bda",
            "idempotencyKey": "6fb76d83-fa13-5665-9623-7030393c1c2e",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-290309"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp for when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name of the system that generated the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application that generated the request.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing context information for the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., SMS, Email).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the channel.",
            "example": "string"
          }
        },
        "description": "Schema representing details about the communication channel."
      },
      "CreateHandoffForSession_res100045Response_201": {
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "Unique identifier for the party involved in the interaction.",
            "example": "PARTY-353277"
          },
          "interactionId": {
            "type": "string",
            "description": "Unique identifier for the interaction.",
            "example": "INT-144012"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource associated with the handoff.",
            "example": "RES-692226"
          },
          "status": {
            "type": "string",
            "description": "Current status of the interaction.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the handoff was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier used to correlate multiple requests.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the response was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the processing of the request took place.",
                "example": "string"
              }
            },
            "description": "Additional metadata about the handoff operation.",
            "example": {
              "responseId": "052a4331-2549-5872-a1b3-932e0ed0f1f0",
              "correlationId": "44d96762-2848-5b34-b0a4-6eeb8c3c7bda",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for the handoff operation in sessions.",
        "example": {
          "partyId": "PARTY-353277",
          "interactionId": "INT-144012",
          "resourceId": "RES-692226",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "052a4331-2549-5872-a1b3-932e0ed0f1f0",
            "correlationId": "44d96762-2848-5b34-b0a4-6eeb8c3c7bda",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "sessionId": {
        "name": "sessionId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifier for the endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "session-dialogue-create-session-dialogue"
        },
        "example": "session-dialogue-create-session-dialogue"
      },
      "X-Runtime-App": {
        "description": "Name of the application which is executing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      },
      "X-Workflow-Id": {
        "description": "Unique identifier for the workflow associated with this operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-075"
        },
        "example": "WF-075"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow associated with the current operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Omnichannel Service Routing and Handoff"
        },
        "example": "Omnichannel Service Routing and Handoff"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow, indicating its progress or status.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the specific execution of the workflow.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "55217e43-26f4-42d9-8c71-aebe323e3421"
        },
        "example": "55217e43-26f4-42d9-8c71-aebe323e3421"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses JSON Web Tokens (JWTs) for securing API access. Clients must include a bearer token in the Authorization header of their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}