{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Open Banking Event Subscription-spec",
    "description": "The Open Banking Event Subscription Management API enables businesses to create and manage subscriptions to various open banking events. This allows organizations to stay updated with relevant financial transactions and activities. Typical users include financial institutions and fintech companies that require real-time data integration. This API facilitates the setup of event notifications, ensuring that clients can act promptly on critical changes in data related to their banking interactions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/event-subscriptions": {
      "post": {
        "tags": [
          "Event Management"
        ],
        "summary": "Create a new event subscription.",
        "description": "This endpoint allows you to create a new event subscription, enabling your application to receive notifications for specified events. You can configure the details of the subscription in the request body.",
        "operationId": "createOpenBankingEventSubscription",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create a new event subscription. The provided data must conform to the specified schema, including all required fields, to successfully process the subscription.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOpenBankingEventSubscriptionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Event subscription created successfully.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOpenBankingEventSubscriptionResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateOpenBankingEventSubscriptionRequest": {
        "type": "object",
        "properties": {
          "Data": {
            "$ref": "#/components/schemas/EventSubscriptionData"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the request body of event subscription operations.",
        "example": {
          "Data": {
            "CallbackUrl": "https://banking.northstar.example/callbacks/status",
            "Version": "STANDARD",
            "EventTypes": [
              "STANDARD"
            ]
          },
          "requestContext": {
            "requestId": "2ef9c440-8394-573b-b146-b52f8223e41a",
            "correlationId": "ca1de441-e2b6-520e-b255-592516910686",
            "idempotencyKey": "0f6e9542-af28-5ded-8bf6-4b802c519c7e",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-792048"
            }
          }
        }
      },
      "EventSubscriptionData": {
        "type": "object",
        "properties": {
          "EventSubscriptionId": {
            "type": "string",
            "description": "Unique identifier for the event subscription.",
            "example": "string"
          },
          "CallbackUrl": {
            "type": "string",
            "description": "The URL to which events will be sent.",
            "example": "string"
          },
          "Version": {
            "type": "string",
            "description": "Version of the event subscription.",
            "example": "string"
          },
          "EventTypes": {
            "type": "array",
            "description": "List of event types that this subscription is interested in.",
            "example": [
              "eventType1",
              "eventType2"
            ],
            "items": {
              "type": "string"
            }
          }
        },
        "description": "Details about an event subscription."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses."
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure that an operation is idempotent."
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp for when the request was made."
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that originated the request."
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that originated the request."
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing context information for the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel."
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., web, mobile)."
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device associated with the channel."
          }
        },
        "description": "Schema representing channel details."
      },
      "CreateOpenBankingEventSubscriptionResponse_201": {
        "type": "object",
        "properties": {
          "Data": {
            "description": "The details of the created event subscription.",
            "$ref": "#/components/schemas/EventSubscriptionData"
          },
          "Links": {
            "description": "Links for navigating through multiple pages of responses.",
            "$ref": "#/components/schemas/PaginationLinks"
          },
          "Meta": {
            "description": "Meta-information about the response, including pagination details.",
            "$ref": "#/components/schemas/ResponseMeta"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the event subscriptions creation operation, which includes metadata, data about the created subscription, links for pagination, and meta-information.",
        "example": {
          "Data": {
            "EventSubscriptionId": "STANDARD",
            "CallbackUrl": "https://banking.northstar.example/callbacks/status",
            "Version": "STANDARD",
            "EventTypes": [
              "STANDARD"
            ]
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource",
            "Next": "https://example.com/resource",
            "Last": "https://example.com/resource"
          },
          "Meta": {
            "TotalPages": 1,
            "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
            "LastAvailableDateTime": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "responseId": "23299ba5-f29e-511b-8beb-03d4215f1374",
            "correlationId": "ca1de441-e2b6-520e-b255-592516910686",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaginationLinks": {
        "type": "object",
        "properties": {
          "Self": {
            "type": "string",
            "description": "Link to the current page.",
            "example": "string"
          },
          "First": {
            "type": "string",
            "description": "Link to the first page of results.",
            "example": "string"
          },
          "Prev": {
            "type": "string",
            "description": "Link to the previous page of results.",
            "example": "string"
          },
          "Next": {
            "type": "string",
            "description": "Link to the next page of results.",
            "example": "string"
          },
          "Last": {
            "type": "string",
            "description": "Link to the last page of results.",
            "example": "string"
          }
        },
        "description": "Pagination links for navigating through a set of responses."
      },
      "ResponseMeta": {
        "type": "object",
        "properties": {
          "TotalPages": {
            "type": "integer",
            "description": "Total number of pages available in the response.",
            "format": "int32",
            "example": 0
          },
          "FirstAvailableDateTime": {
            "type": "string",
            "description": "The first available date and time for events.",
            "example": "string"
          },
          "LastAvailableDateTime": {
            "type": "string",
            "description": "The last available date and time for events.",
            "example": "string"
          }
        },
        "description": "Meta-information regarding the response, typically used for pagination."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-05T14:48:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata related to the response for tracking and logging purposes."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "Unique identifier for the endpoint associated with this event subscription.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "events-api-create-event-subscriptions"
        },
        "example": "events-api-create-event-subscriptions"
      },
      "x-runtime-app": {
        "description": "The name of the runtime application processing this request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a Bearer token, typically a JSON Web Token (JWT). This token is used to authenticate and authorize requests to the API. Ensure that the token is included in the `Authorization` header as follows: `Authorization: Bearer {token}`.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}