{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Corporate Billing Review-spec",
    "description": "This API facilitates the submission of corporate billing reviews for enterprises, ensuring streamlined billing management. Users can submit reviews related to billing operations through a defined endpoint, allowing for efficient tracking and processing. This service is essential for finance teams and billing administrators looking to maintain accurate and up-to-date billing records. Typical consumers of this API include account managers and financial analysts who require robust review capabilities within their billing processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/enterprise-services/corporate-billing/{param1}/reviews": {
      "post": {
        "tags": [
          "Corporate Billing"
        ],
        "summary": "Submit a review for corporate billing.",
        "description": "This endpoint allows you to submit a review related to corporate billing for the specified payment reference. Ensure that you provide all required details to complete the review successfully.",
        "operationId": "createCorporateBillingReview",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit a review for the corporate billing service identified by PAY-300045. The review includes various properties that capture the feedback and rating of the service.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCorporateBillingReviewRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted for processing but is not yet complete.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCorporateBillingReviewResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCorporateBillingReviewRequest": {
        "type": "object",
        "properties": {
          "reviewReason": {
            "type": "string",
            "description": "The reason for the review.",
            "example": "STANDARD"
          },
          "reviewScope": {
            "type": "array",
            "description": "The scope of the review, including specific items or aspects to be reviewed.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "An individual item or aspect included in the review scope.",
              "example": "Payment processing accuracy"
            }
          },
          "assignedReviewerId": {
            "type": "string",
            "description": "The identifier of the reviewer assigned to this review.",
            "example": "STANDARD"
          },
          "dueAt": {
            "type": "string",
            "description": "The due date for the review to be completed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "The request body schema for submitting a review in the corporate billing operations.",
        "example": {
          "reviewReason": "STANDARD",
          "reviewScope": [
            "STANDARD"
          ],
          "assignedReviewerId": "STANDARD",
          "dueAt": "2026-08-11T12:00:00Z",
          "requestContext": {
            "requestId": "6a1d77a9-ee3b-562a-806c-844a19d1c388",
            "correlationId": "27cb2731-3a24-57ac-9783-6062a93232e6",
            "idempotencyKey": "f6c2a1de-26bb-50c6-bfb4-fb83568b45d8",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-192409"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "req-67890"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate related requests.",
            "example": "corr-54321"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure that requests are idempotent.",
            "example": "idemp-98765"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "BillingSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request was made.",
            "example": "CorporateBillingApp"
          },
          "channel": {
            "description": "Information about the communication channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Detailed context information for the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The identifier for the communication channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the communication channel (e.g., API, Web, etc.).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device from which the request was made.",
            "example": "device-123"
          }
        },
        "description": "Information about the channel through which the request was made."
      },
      "CreateCorporateBillingReviewResponse_202": {
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "A reference identifier for the action performed.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "The type of action that was taken.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the operation.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "The timestamp indicating when the operation was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Metadata related to the request and its processing.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema that contains information about the operation executed on the corporate billing service.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "1afe2d6c-9c6a-555b-b167-f4669d00aa2b",
            "correlationId": "27cb2731-3a24-57ac-9783-6062a93232e6",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "A correlation identifier to trace transactions across services.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata information regarding the operation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint being called, used for tracking and monitoring API requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "company-billing-and-payments-review-company-billing-and-payments-processing"
        },
        "example": "company-billing-and-payments-review-company-billing-and-payments-processing"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is responsible for making the request, used for service accountability.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes a Bearer Authentication mechanism, specifically designed for JSON Web Tokens (JWT). This method is implemented to secure endpoints by requiring a valid token in the Authorization header of each request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}