{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Update Product Broker Agreement API",
    "description": "This API facilitates the modification of existing product broker agreements, ensuring that terms and details remain relevant and up-to-date. By leveraging this endpoint, organizations can efficiently manage their agreements with external agencies, maintaining compliance with changing regulations and business needs. Typical consumers include financial institutions and partners looking to adjust the specifics of their broker relationships. The API supports seamless updates to agreement parameters, fostering better collaboration and alignment in service delivery.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/external-agency/product-broker-agreement/{param1}": {
      "patch": {
        "tags": [
          "Product Broker Agreement"
        ],
        "summary": "Update Product Broker Agreement",
        "description": "This endpoint allows you to update the details of the specified Product Broker Agreement in the external agency system, ensuring that all relevant information is accurately reflected and maintained.",
        "operationId": "patchExternalAgencyProductBrokerAgreementProd700045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body allows clients to update the product broker agreement for a specific external agency identified by PROD-700045. The provided JSON data must conform to the specified schema and include the necessary fields for the update operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchExternalAgencyProductBrokerAgreementProd700045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchExternalAgencyProductBrokerAgreementProd700045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchExternalAgencyProductBrokerAgreementProd700045Request": {
        "title": "Product Broker Agreement Patch Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "description": "Object containing the changes to be made to the product broker agreement.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "Reason for the change request.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time at which the changes become effective.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier for the user requesting the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for patching a product broker agreement.",
        "example": {
          "changes": {
            "institutionId": "STANDARD",
            "agreementId": "AGR-902529",
            "bic": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "3de0cd53-d4cb-57cd-9278-7be0a145453f",
            "correlationId": "69b32c00-aad6-552e-8364-cce5512bd081",
            "idempotencyKey": "9b297926-fd4f-5694-84d4-20cd2d3eed9f",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-421213"
            }
          }
        }
      },
      "Changes": {
        "title": "Changes",
        "type": "object",
        "properties": {
          "institutionId": {
            "type": "string",
            "description": "Identifier for the institution associated with the agreement.",
            "example": "institution-123"
          },
          "agreementId": {
            "type": "string",
            "description": "Identifier for the agreement being modified.",
            "example": "agreement-456"
          },
          "bic": {
            "type": "string",
            "description": "Bank Identifier Code for the financial institution.",
            "example": "BIC123456"
          }
        },
        "description": "Schema representing the individual changes to be applied to a product broker agreement."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "request-789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracking related requests.",
            "example": "correlation-101"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that requests can be made safely.",
            "example": "idempotency-key-202"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp for when the request was made.",
            "example": "2023-10-01T00:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "finance-system"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application responsible for initiating the request.",
            "example": "app-name"
          },
          "channel": {
            "description": "Information about the channel from which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema providing contextual information about the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-303"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used for the request (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device from which the request was made.",
            "example": "device-404"
          }
        },
        "description": "Schema representing the channel information for the request."
      },
      "PatchExternalAgencyProductBrokerAgreementProd700045Response_200": {
        "title": "Product Broker Agreement Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Contains metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for the PATCH operation of the Product Broker Agreement operation.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "1c1d682c-2ba7-542d-bcb0-f4ad2a468906",
            "correlationId": "69b32c00-aad6-552e-8364-cce5512bd081",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Schema representing the metadata information associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processes the request. This helps to trace which service instance handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "product-broker-agreement-update-product-broker-agreement"
        },
        "example": "product-broker-agreement-update-product-broker-agreement"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the request. This is useful for monitoring and diagnostics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "An HTTP authentication scheme that uses bearer tokens to allow secure access to protected resources. The token should be a valid JSON Web Token (JWT).",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}