{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Banking Facilities Site Operation By Site Operation Id-v5-spec",
    "description": "The Banking Facilities Site Operation Retrieval API enables users to access detailed information about specific banking facilities site operations using a unique site operation identifier. This API serves primarily financial institutions and software developers who require insights into operational data related to banking facilities. By retrieving site operation details, users can effectively manage and assess site performance and service delivery standards. Typical consumers include banking application developers, data analysts, and compliance officers seeking operational transparency and efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/facilities/site-operations/{siteOperationId}": {
      "get": {
        "tags": [
          "Site Operations"
        ],
        "summary": "Retrieve site operation details",
        "description": "This endpoint allows you to fetch detailed information about a specific site operation identified by its unique ID. It provides valuable insights and operational data associated with the site, ensuring you have the necessary information at your fingertips.",
        "operationId": "getBankingFacilitiesSiteOperationBySiteOperationId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/siteOperationId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to query the site operations for the specified facility. It allows the client to retrieve detailed information about the operations associated with the facility identified by RES-100045.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBankingFacilitiesSiteOperationBySiteOperationIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of the requested site operations data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBankingFacilitiesSiteOperationBySiteOperationIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBankingFacilitiesSiteOperationBySiteOperationIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation for the site operations, which is expected to be a string.",
        "example": "{}"
      },
      "GetBankingFacilitiesSiteOperationBySiteOperationIdResponse_200": {
        "type": "object",
        "properties": {
          "siteId": {
            "type": "string",
            "description": "Unique identifier for the site.",
            "example": "STANDARD"
          },
          "assetId": {
            "type": "string",
            "description": "Unique identifier for the asset associated with the operation.",
            "example": "STANDARD"
          },
          "workOrderId": {
            "type": "string",
            "description": "Identifier for the work order related to the site operations.",
            "example": "ORD-749275"
          },
          "scheduledDate": {
            "type": "string",
            "description": "The date and time when the operation is scheduled.",
            "example": "2026-09-15"
          },
          "vendorId": {
            "type": "string",
            "description": "Identifier for the vendor responsible for the operations.",
            "example": "STANDARD"
          },
          "facilityZone": {
            "type": "string",
            "description": "The zone of the facility where the operation is being performed.",
            "example": "STANDARD"
          },
          "maintenanceType": {
            "type": "string",
            "description": "Type of maintenance being performed (e.g., preventive, corrective).",
            "example": "STANDARD"
          },
          "estimatedDurationMinutes": {
            "type": "integer",
            "description": "Estimated duration of the operation in minutes.",
            "format": "int32",
            "example": 1
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record (e.g., active, completed).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version of the operation record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the site operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for site operations details, including various operational attributes and metadata.",
        "example": {
          "siteId": "STANDARD",
          "assetId": "STANDARD",
          "workOrderId": "ORD-749275",
          "scheduledDate": "2026-09-15",
          "vendorId": "STANDARD",
          "facilityZone": "STANDARD",
          "maintenanceType": "STANDARD",
          "estimatedDurationMinutes": 1,
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "98352698-7c44-51d2-9cea-ecd260185732",
            "correlationId": "82853e87-128f-5aab-b9e2-d55c35da2a81",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracking the request and response correlation.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the operation was processed.",
            "example": "string"
          }
        },
        "description": "Metadata information for site operations including identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "siteOperationId": {
        "name": "siteOperationId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint, used to track specific operations within the application.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "site-operations-get-site-operations"
        },
        "example": "site-operations-get-site-operations"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request. This helps in identifying the source of the request in multi-application environments.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses bearer authentication via JSON Web Tokens (JWT). Clients must include a valid JWT in the `Authorization` header using the 'Bearer' keyword to authenticate requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}