{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Wholesale Trading Market Order Executions-spec",
    "description": "The Wholesale Trading Market Order Executions API provides insights into the execution details of market orders within wholesale trading. It allows users to fetch specific execution data, including timestamps, quantities, and prices associated with executed market orders. This API is tailored for trading desks, financial analysts, and portfolio managers who need to monitor and analyze order executions. By streamlining access to this crucial information, users can enhance their trading strategies and make informed decisions in real-time.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/wholesale-trading/market-order-execution": {
      "get": {
        "tags": [
          "WholesaleTrading"
        ],
        "summary": "Retrieve market order execution details.",
        "description": "Fetch the details of market order executions in the wholesale trading environment, including relevant timestamps, order identifiers, and execution statuses.",
        "operationId": "listWholesaleTradingMarketOrderExecutions",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body contains the necessary parameters to execute a market order in the wholesale trading system. Please ensure that all required fields are provided to successfully process the order.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListWholesaleTradingMarketOrderExecutionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved market order execution data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListWholesaleTradingMarketOrderExecutionsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListWholesaleTradingMarketOrderExecutionsRequest": {
        "title": "Market Order Execution Request Body",
        "type": "string",
        "description": "A schema representing the structure of the request body for executing market orders in the wholesale trading system. This schema is defined as a string and is expected to be in JSON format.",
        "example": "{}"
      },
      "ListWholesaleTradingMarketOrderExecutionsResponse_200": {
        "title": "Market Order Execution Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of market order execution items.",
            "example": [
              {
                "tradingBookId": "STANDARD",
                "instrumentId": "STANDARD",
                "side": "STANDARD",
                "quantity": 1,
                "limitPrice": {
                  "value": 100.0,
                  "currency": "USD"
                },
                "orderType": "STANDARD",
                "timeInForce": "STANDARD",
                "venue": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/OrderExecutionItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sort order of the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for market order execution in wholesale trading operations.",
        "example": {
          "items": [
            {
              "tradingBookId": "STANDARD",
              "instrumentId": "STANDARD",
              "side": "STANDARD",
              "quantity": 1,
              "limitPrice": {
                "value": 100.0,
                "currency": "USD"
              },
              "orderType": "STANDARD",
              "timeInForce": "STANDARD",
              "venue": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "4e510d2d-71f3-52b4-996e-ef4baf641187",
            "correlationId": "b7c7b9b7-1bf8-5138-afa1-38aa8fb8d05d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "OrderExecutionItem": {
        "title": "Order Execution Item",
        "type": "object",
        "properties": {
          "tradingBookId": {
            "type": "string",
            "description": "Unique identifier for the trading book.",
            "example": "trading-book-123"
          },
          "instrumentId": {
            "type": "string",
            "description": "Unique identifier for the financial instrument.",
            "example": "instrument-456"
          },
          "side": {
            "type": "string",
            "description": "Indicates whether the order is a buy or sell.",
            "example": "buy"
          },
          "quantity": {
            "type": "integer",
            "description": "Quantity of the financial instrument to be executed.",
            "format": "int32",
            "example": 100
          },
          "limitPrice": {
            "$ref": "#/components/schemas/LimitPrice"
          },
          "orderType": {
            "type": "string",
            "description": "Type of the order (e.g., market, limit).",
            "example": "limit"
          },
          "timeInForce": {
            "type": "string",
            "description": "Order validity condition (e.g., GTC, IOC).",
            "example": "GTC"
          },
          "venue": {
            "type": "string",
            "description": "The trading venue where the order is executed.",
            "example": "NYSE"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the order record.",
            "example": "completed"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the order record.",
            "example": "2023-10-01T00:00:00Z"
          }
        },
        "description": "Schema representing an individual market order execution detail.",
        "example": {
          "tradingBookId": "trading-book-123",
          "instrumentId": "instrument-456",
          "side": "buy",
          "quantity": 100,
          "limitPrice": {
            "value": 50.0,
            "currency": "USD"
          },
          "orderType": "limit",
          "timeInForce": "GTC",
          "venue": "NYSE",
          "recordStatus": "completed",
          "updatedAt": "2023-10-01T00:00:00Z"
        }
      },
      "LimitPrice": {
        "title": "Limit Price",
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The price of the order.",
            "example": 50.0
          },
          "currency": {
            "type": "string",
            "description": "Currency of the limit price.",
            "example": "USD"
          }
        },
        "description": "Schema representing the limit price of an order."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Schema representing pagination details in the response."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-id"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate requests and responses.",
            "example": "correlation-id"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was generated.",
            "example": "EU"
          }
        },
        "description": "Schema representing additional metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "market-order-execution-search-market-order-execution"
        },
        "example": "market-order-execution-search-market-order-execution"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes bearer authentication via JSON Web Tokens (JWT). Clients must provide a valid JWT in the 'Authorization' header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}