{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Customer Personal Loan Application-spec",
    "description": "This API facilitates the submission of personal loan applications for customers, enabling financial institutions to efficiently collect and process loan requests. Users can create a new application by providing essential customer information and loan details. This service is primarily utilized by banking applications and financial service providers looking to enhance customer engagement and streamline loan application workflows. Developers integrating this API will enable intuitive personal loan application experiences for end-users.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customers/{customerId}/personal-loan-applications": {
      "post": {
        "tags": [
          "Customer Loans"
        ],
        "summary": "Submit a personal loan application for a specific customer.",
        "description": "This endpoint allows you to submit a new personal loan application on behalf of a customer identified by their unique ID. Ensure that all necessary application details are provided in the request body to successfully create the loan application.",
        "operationId": "createCustomerPersonalLoanApplication",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create a new personal loan application for the specified customer. It should contain all the necessary information required for processing the loan application.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerPersonalLoanApplicationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The personal loan application was successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCustomerPersonalLoanApplicationResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCustomerPersonalLoanApplicationRequest": {
        "type": "object",
        "properties": {
          "productId": {
            "type": "string",
            "description": "The unique identifier for the loan product.",
            "example": "PROD-691487"
          },
          "externalReference": {
            "type": "string",
            "description": "An external reference for tracking the application.",
            "example": "STANDARD"
          },
          "channel": {
            "type": "string",
            "description": "The channel through which the application is submitted.",
            "example": "STANDARD"
          },
          "purpose": {
            "type": "string",
            "description": "The purpose of the loan.",
            "example": "STANDARD"
          },
          "purposeDescription": {
            "type": "string",
            "description": "A detailed description of the loan purpose.",
            "example": "STANDARD"
          },
          "requestedPrincipal": {
            "$ref": "#/components/schemas/RequestedPrincipal"
          },
          "requestedTermMonths": {
            "type": "integer",
            "description": "The total number of months for loan repayment.",
            "format": "int32",
            "example": 1
          },
          "preferredRepaymentDay": {
            "type": "integer",
            "description": "The preferred day of the month for repayment.",
            "format": "int32",
            "example": 1
          },
          "primaryCustomerId": {
            "type": "string",
            "description": "The unique identifier of the primary customer.",
            "example": "CUST-305207"
          },
          "branchCode": {
            "type": "string",
            "description": "The code of the branch processing the application.",
            "example": "CODE-165"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "The identifier of the relationship manager assigned.",
            "example": "STANDARD"
          },
          "campaignCode": {
            "type": "string",
            "description": "Code representing a marketing campaign related to the loan.",
            "example": "CODE-665"
          },
          "customerConsent": {
            "$ref": "#/components/schemas/CustomerConsent"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for submitting a personal loan application.",
        "example": {
          "productId": "PROD-691487",
          "externalReference": "STANDARD",
          "channel": "STANDARD",
          "purpose": "STANDARD",
          "purposeDescription": "STANDARD",
          "requestedPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "requestedTermMonths": 1,
          "preferredRepaymentDay": 1,
          "primaryCustomerId": "CUST-305207",
          "branchCode": "CODE-165",
          "relationshipManagerId": "STANDARD",
          "campaignCode": "CODE-665",
          "customerConsent": {
            "creditBureauConsent": true,
            "dataProcessingConsent": true,
            "marketingConsent": true,
            "consentTimestamp": "2026-09-15T14:30:00Z",
            "consentReference": "STANDARD"
          },
          "requestContext": {
            "requestId": "58bc57ca-3c3f-5040-97fa-b84879da3664",
            "correlationId": "3a222ee1-265d-505c-9428-b43efc2d1f59",
            "idempotencyKey": "737a6ff2-6e83-5844-be5b-27c9025e7128",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-491808"
            }
          }
        }
      },
      "RequestedPrincipal": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency of the principal amount requested.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The amount of principal requested for the loan.",
            "example": "10000"
          }
        },
        "description": "Details about the requested principal for the loan."
      },
      "CustomerConsent": {
        "type": "object",
        "properties": {
          "creditBureauConsent": {
            "type": "boolean",
            "description": "Indicates whether the customer consents to credit bureau checks.",
            "example": false
          },
          "dataProcessingConsent": {
            "type": "boolean",
            "description": "Indicates whether the customer consents to data processing.",
            "example": false
          },
          "marketingConsent": {
            "type": "boolean",
            "description": "Indicates whether the customer consents to marketing communications.",
            "example": false
          },
          "consentTimestamp": {
            "type": "string",
            "description": "The timestamp when the consent was provided.",
            "example": "2023-01-01T00:00:00Z"
          },
          "consentReference": {
            "type": "string",
            "description": "A reference identifier for the consent provided.",
            "example": "string"
          }
        },
        "description": "Customer consent details for various data processing activities."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for this request.",
            "example": "REQ-001"
          },
          "correlationId": {
            "type": "string",
            "description": "A correlation ID to track related requests.",
            "example": "CORR-ABC123"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure idempotent requests.",
            "example": "IDEMPOTENT-KEY123"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which this request originated.",
            "example": "CRM_SYSTEM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request was initiated.",
            "example": "WEB_APP"
          },
          "channel": {
            "$ref": "#/components/schemas/RequestChannel"
          }
        },
        "description": "Contextual information about the request."
      },
      "RequestChannel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "CHAN-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., WEB, MOBILE).",
            "example": "WEB"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used to submit the application.",
            "example": "DEV-12345"
          }
        },
        "description": "Information about the channel through which the request is made."
      },
      "CreateCustomerPersonalLoanApplicationResponse_201": {
        "type": "object",
        "properties": {
          "productId": {
            "type": "string",
            "description": "The identifier for the loan product.",
            "example": "PROD-158112"
          },
          "externalReference": {
            "type": "string",
            "description": "An external reference associated with the application.",
            "example": "STANDARD"
          },
          "channel": {
            "type": "string",
            "description": "The channel through which the application was submitted.",
            "example": "STANDARD"
          },
          "purpose": {
            "type": "string",
            "description": "The purpose of the loan.",
            "example": "STANDARD"
          },
          "purposeDescription": {
            "type": "string",
            "description": "Detailed description of the loan purpose.",
            "example": "STANDARD"
          },
          "requestedPrincipal": {
            "description": "The principal amount requested for the loan.",
            "$ref": "#/components/schemas/RequestedPrincipal"
          },
          "requestedTermMonths": {
            "type": "integer",
            "description": "The requested term of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "preferredRepaymentDay": {
            "type": "integer",
            "description": "The preferred day of the month for loan repayment.",
            "format": "int32",
            "example": 1
          },
          "primaryCustomerId": {
            "type": "string",
            "description": "The identifier of the primary customer applying for the loan.",
            "example": "CUST-321328"
          },
          "branchCode": {
            "type": "string",
            "description": "The branch code where the application was processed.",
            "example": "CODE-780"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "The identifier of the relationship manager handling the application.",
            "example": "STANDARD"
          },
          "campaignCode": {
            "type": "string",
            "description": "The marketing campaign code associated with the application.",
            "example": "CODE-475"
          },
          "customerConsent": {
            "description": "The consent provided by the customer for various processes.",
            "$ref": "#/components/schemas/CustomerConsent"
          },
          "id": {
            "type": "string",
            "description": "The unique identifier for the loan application.",
            "example": "607d89bd-3b47-35c0-9b5b-129bae4f9dda"
          },
          "applicationNumber": {
            "type": "string",
            "description": "The application number assigned to the loan application.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the loan application.",
            "example": "ACTIVE"
          },
          "submittedAt": {
            "type": "string",
            "description": "Timestamp when the application was submitted.",
            "example": "2026-09-15T14:30:00Z"
          },
          "decisionAt": {
            "type": "string",
            "description": "Timestamp when the decision was made on the application.",
            "example": "2026-08-11T12:00:00Z"
          },
          "bookedLoanId": {
            "type": "string",
            "description": "The identifier of the booked loan, if applicable.",
            "example": "LOAN-342019"
          },
          "completionPercent": {
            "type": "integer",
            "description": "Percentage of the loan application that has been completed.",
            "format": "int32",
            "example": 1
          },
          "outstandingRequirements": {
            "type": "array",
            "description": "List of outstanding requirements for the loan application.",
            "example": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "status": "ACTIVE",
                "dueDate": "2026-09-15"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/OutstandingRequirement"
            }
          },
          "audit": {
            "description": "Audit information related to the loan application.",
            "$ref": "#/components/schemas/AuditInfo"
          },
          "metadata": {
            "description": "Metadata about the loan application response.",
            "$ref": "#/components/schemas/LoanMetadata"
          }
        },
        "description": "Response schema for personal loan applications.",
        "example": {
          "productId": "PROD-158112",
          "externalReference": "STANDARD",
          "channel": "STANDARD",
          "purpose": "STANDARD",
          "purposeDescription": "STANDARD",
          "requestedPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "requestedTermMonths": 1,
          "preferredRepaymentDay": 1,
          "primaryCustomerId": "CUST-321328",
          "branchCode": "CODE-780",
          "relationshipManagerId": "STANDARD",
          "campaignCode": "CODE-475",
          "customerConsent": {
            "creditBureauConsent": true,
            "dataProcessingConsent": true,
            "marketingConsent": true,
            "consentTimestamp": "2026-09-15T14:30:00Z",
            "consentReference": "STANDARD"
          },
          "id": "607d89bd-3b47-35c0-9b5b-129bae4f9dda",
          "applicationNumber": "STANDARD",
          "status": "ACTIVE",
          "submittedAt": "2026-09-15T14:30:00Z",
          "decisionAt": "2026-08-11T12:00:00Z",
          "bookedLoanId": "LOAN-342019",
          "completionPercent": 1,
          "outstandingRequirements": [
            {
              "code": "SUCCESS",
              "description": "Customer banking request processed successfully",
              "status": "ACTIVE",
              "dueDate": "2026-09-15"
            }
          ],
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "60a6d861-13c2-5db2-818b-e2e76e042092",
            "correlationId": "3a222ee1-265d-505c-9428-b43efc2d1f59",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "OutstandingRequirement": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Code identifying the requirement.",
            "example": "REQ-001"
          },
          "description": {
            "type": "string",
            "description": "Description of the outstanding requirement.",
            "example": "Proof of income"
          },
          "status": {
            "type": "string",
            "description": "Current status of the requirement.",
            "example": "Pending"
          },
          "dueDate": {
            "type": "string",
            "description": "Date by which the requirement must be fulfilled.",
            "example": "2023-01-15"
          }
        },
        "description": "Details regarding outstanding requirements for the loan application."
      },
      "AuditInfo": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the application was created.",
            "example": "2023-01-01T00:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "The identifier of the user who created the application.",
            "example": "user123"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the application was last updated.",
            "example": "2023-01-02T00:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "The identifier of the user who last updated the application.",
            "example": "user456"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the application.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Audit information about the loan application process."
      },
      "LoanMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "resp-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request and response.",
            "example": "corr-123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the loan application was processed.",
            "example": "US-East"
          }
        },
        "description": "Metadata related to the loan application response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processes the personal loan application. It is used for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-create-loan-application"
        },
        "example": "banking-loans-openapi-create-loan-application"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is executing the request to create a personal loan application. This helps identify the source of the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      },
      "X-Workflow-Id": {
        "description": "An identifier for the workflow associated with the personal loan application process. This ID is crucial for workflow management and tracing.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-031"
        },
        "example": "WF-031"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Personal Loan Application and Disbursement"
        },
        "example": "Personal Loan Application and Disbursement"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "f6f4f4c7-9f8e-48b3-a619-2bfba8863c78"
        },
        "example": "f6f4f4c7-9f8e-48b3-a619-2bfba8863c78"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using JSON Web Token (JWT) as a bearer token. Clients must include the token in the Authorization header when making requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}