{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Supplier Agreements Retrieval API",
    "description": "The Supplier Agreements Retrieval API provides access to the supplier agreements maintained within the banking system. This endpoint allows authorized users to retrieve detailed information about existing agreements, which is critical for compliance, auditing, and operational purposes. Typical consumers include financial analysts and compliance officers who need to review the terms and conditions associated with supplier relationships. With this API, businesses can ensure they have accurate and up-to-date information regarding their supplier agreements.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/external-agency/supplier-agreements": {
      "get": {
        "tags": [
          "External Agency Management"
        ],
        "summary": "Retrieve supplier agreements for external agencies",
        "description": "This endpoint allows you to fetch the list of supplier agreements associated with external agencies. It provides a comprehensive overview of all agreements, facilitating effective management and oversight.",
        "operationId": "getExternalAgencySupplierAgreements",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving supplier agreements from an external agency. This body must adhere to the specified JSON schema, which details the required parameters and structure needed for successful execution of the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetExternalAgencySupplierAgreementsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the supplier agreements.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetExternalAgencySupplierAgreementsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetExternalAgencySupplierAgreementsRequest": {
        "type": "string",
        "description": "A JSON string representing the request body for retrieving supplier agreements in the external agency operations.",
        "example": "{}"
      },
      "GetExternalAgencySupplierAgreementsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of supplier agreements.",
            "example": [
              {
                "institutionId": "STANDARD",
                "agreementId": "AGR-101226",
                "bic": "STANDARD",
                "countryCode": "US",
                "effectiveDate": "2026-09-15",
                "purchaseOrderId": "ORD-193759",
                "categoryCode": "CODE-709",
                "approvalLevel": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/SupplierAgreement"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the returned items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for supplier agreements retrieval from external agency operations.",
        "example": {
          "items": [
            {
              "institutionId": "STANDARD",
              "agreementId": "AGR-101226",
              "bic": "STANDARD",
              "countryCode": "US",
              "effectiveDate": "2026-09-15",
              "purchaseOrderId": "ORD-193759",
              "categoryCode": "CODE-709",
              "approvalLevel": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "9897b299-024f-53d3-bbd5-8624343cc916",
            "correlationId": "d5d99433-1e76-521a-b5ac-54913e4e7fd4",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "SupplierAgreement": {
        "type": "object",
        "properties": {
          "institutionId": {
            "type": "string",
            "description": "Unique identifier for the institution.",
            "example": "string"
          },
          "agreementId": {
            "type": "string",
            "description": "Unique identifier for the agreement.",
            "example": "string"
          },
          "bic": {
            "type": "string",
            "description": "Bank Identifier Code (BIC) related to the institution.",
            "example": "string"
          },
          "countryCode": {
            "type": "string",
            "description": "ISO country code of the institution.",
            "example": "string"
          },
          "effectiveDate": {
            "type": "string",
            "description": "Date when the agreement becomes effective.",
            "example": "string"
          },
          "purchaseOrderId": {
            "type": "string",
            "description": "Identifier for the purchase order associated with the agreement.",
            "example": "string"
          },
          "categoryCode": {
            "type": "string",
            "description": "Code representing the category of the agreement.",
            "example": "string"
          },
          "approvalLevel": {
            "type": "string",
            "description": "Level of approval required for the agreement.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record (e.g., active, inactive).",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the record was last updated.",
            "example": "string"
          }
        },
        "description": "Represents a supplier agreement with specific details."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Pagination information for list responses."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate this response with a request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processes the supplier agreements request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "contractor-and-supplier-agreement-search-contractor-and-supplier-agreement"
        },
        "example": "contractor-and-supplier-agreement-search-contractor-and-supplier-agreement"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is responsible for handling the supplier agreements operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method using a Bearer token in the form of a JSON Web Token (JWT). This scheme is used to secure API endpoints by requiring clients to send a valid token in the Authorization header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}