{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Institution Oauth Url-spec",
    "description": "The Institution OAuth URL Generation API enables businesses to create OAuth URLs specific to a given institution. This functionality is essential for securely authenticating users within external applications that require institutional access. By providing the institution ID, developers can generate unique OAuth URLs, streamlining the integration process for third-party applications. This API serves financial institutions, application developers, and service providers looking to enhance user authentication and access management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/connect-components/institutions/{institutionId}/oauth-urls": {
      "post": {
        "tags": [
          "Institution Management"
        ],
        "summary": "Create a new OAuth URL for the specified institution.",
        "description": "This endpoint allows you to generate a new OAuth URL for the institution identified by RES-100045. By providing the necessary data in the request body, you can create an OAuth URL that clients can use to authenticate with the institution's services.",
        "operationId": "createInstitutionOauthUrl",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/institutionId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create or update the OAuth URLs for a specific institution identified by RES-100045. It accepts a JSON object that contains the necessary details for the OAuth configuration.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateInstitutionOauthUrlRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource successfully created and OAuth URLs generated.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateInstitutionOauthUrlResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateInstitutionOauthUrlRequest": {
        "title": "OAuth URL Request Body",
        "type": "object",
        "properties": {
          "redirectURI": {
            "type": "string",
            "description": "The URI to which the user agent will be redirected after the OAuth flow.",
            "example": "https://example.com/resource"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer making the request.",
            "example": "CUST-505200"
          },
          "configurationId": {
            "type": "string",
            "description": "The unique identifier for the configuration related to the requested operation.",
            "example": "f1808dea-ce8c-bc2f-15c7-5562ff2fd562"
          },
          "serviceAgreement": {
            "description": "The service agreement details related to the OAuth process.",
            "$ref": "#/components/schemas/ServiceAgreement"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "The request body schema for initiating OAuth URL operations.",
        "example": {
          "redirectURI": "https://example.com/resource",
          "customerId": "CUST-505200",
          "configurationId": "f1808dea-ce8c-bc2f-15c7-5562ff2fd562",
          "serviceAgreement": {
            "language": "en",
            "acceptedDate": "2026-09-15"
          },
          "requestContext": {
            "requestId": "621b5cf0-9cd1-5418-b71d-5337b45600ec",
            "correlationId": "96a0eb67-b476-5856-8fd1-55a1f70d55e2",
            "idempotencyKey": "e08e190e-e4e1-5954-a97b-be7243c9ff33",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-903727"
            }
          }
        }
      },
      "ServiceAgreement": {
        "title": "Service Agreement",
        "type": "object",
        "properties": {
          "language": {
            "type": "string",
            "description": "The language in which the service agreement is presented.",
            "example": "en"
          },
          "acceptedDate": {
            "type": "string",
            "description": "The date when the customer accepted the service agreement.",
            "example": "2023-01-01"
          }
        },
        "description": "Details of the service agreement accepted by the customer."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for this specific request.",
            "example": "req_123456"
          },
          "correlationId": {
            "type": "string",
            "description": "An ID used to trace the request across different systems.",
            "example": "cor_654321"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key that ensures the request is processed once.",
            "example": "key_123456"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-01-01T00:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "web"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "myApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information pertaining to the incoming request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "ch_123456"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel used (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier for the device making the request.",
            "example": "dev_123456"
          }
        },
        "description": "Information about the channel used for the request."
      },
      "CreateInstitutionOauthUrlResponse_201": {
        "title": "OAuth URL Response",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for the resource.",
            "example": "17004f36-35b4-3016-fbe4-98b0f8c4b9a0"
          },
          "url": {
            "type": "string",
            "description": "The OAuth URL to be used for authentication.",
            "example": "https://example.com/resource"
          },
          "eventStreamId": {
            "type": "string",
            "description": "The identifier for the event stream associated with this response.",
            "example": "8b6e3889-3ba3-9fc0-25c1-9aa31daf69c3"
          },
          "metadata": {
            "description": "An object containing additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "The response object containing the OAuth URL details and associated metadata.",
        "example": {
          "id": "17004f36-35b4-3016-fbe4-98b0f8c4b9a0",
          "url": "https://example.com/resource",
          "eventStreamId": "8b6e3889-3ba3-9fc0-25c1-9aa31daf69c3",
          "metadata": {
            "responseId": "ef3b059c-e721-58b2-abd7-ddc68741a9fd",
            "correlationId": "96a0eb67-b476-5856-8fd1-55a1f70d55e2",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "example-response-id"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier used to track the request across various services.",
            "example": "example-correlation-id"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the response was generated.",
            "example": "2023-10-10T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographical region where the processing took place.",
            "example": "us-west-1"
          }
        },
        "description": "Additional information related to the main response, such as IDs and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "institutionId": {
        "name": "institutionId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "An identifier for the specific endpoint that was accessed during the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-post-institutions-institution-id-oauth-urls"
        },
        "example": "open-finance-api-post-institutions-institution-id-oauth-urls"
      },
      "x-runtime-app": {
        "description": "The name of the application running the request that can be used for monitoring or debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication format in the HTTP header, utilizing JSON Web Tokens (JWT) for authorization purposes. Clients must include a valid JWT in the 'Authorization' header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}