{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Transfer Bill Pay Switch-spec",
    "description": "The Transfer Bill Pay Switch API facilitates the seamless integration of bill payment services within your financial applications. This endpoint allows users to initiate the generation of transfer bill pay switches, which enable efficient and secure transaction processing. Typical consumers include financial institutions, payment processors, and mobile banking service providers looking to enhance the payment experience for their customers. By leveraging this API, businesses can streamline their payment workflows and improve user satisfaction.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/connect/generate/transfer/bill-pay-switch": {
      "post": {
        "tags": [
          "Bill Pay Services"
        ],
        "summary": "Initiates a bill pay switch transfer.",
        "description": "This endpoint allows users to initiate a bill pay switch transfer, facilitating the seamless transfer of billing information from one service provider to another, thereby enhancing user convenience and service continuity.",
        "operationId": "createTransferBillPaySwitch",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a bill payment transfer operation. It requires the necessary parameters to specify the details of the transaction.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTransferBillPaySwitchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and response payload is included.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateTransferBillPaySwitchResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateTransferBillPaySwitchRequest": {
        "type": "object",
        "properties": {
          "serviceAgreement": {
            "description": "The service agreement details.",
            "$ref": "#/components/schemas/ServiceAgreement"
          },
          "accounts": {
            "type": "array",
            "description": "A list of accounts associated with the transaction.",
            "example": [
              {
                "accountNumber": "STANDARD",
                "bankIdentifier": "STANDARD",
                "title": "Banking operation completed",
                "type": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Account"
            }
          },
          "partnerId": {
            "type": "string",
            "description": "Unique identifier for the partner.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-786921"
          },
          "experience": {
            "type": "string",
            "description": "Customer experience level.",
            "example": "STANDARD"
          },
          "language": {
            "type": "string",
            "description": "Preferred language of the customer.",
            "example": "en"
          },
          "singleUseUrl": {
            "type": "boolean",
            "description": "Indicates if the URL is for single use.",
            "example": true
          },
          "redirectUri": {
            "type": "string",
            "description": "URI to redirect after the operation.",
            "example": "STANDARD"
          },
          "cards": {
            "type": "array",
            "description": "A list of payment cards.",
            "example": [
              {
                "title": "Banking operation completed",
                "number": "STANDARD",
                "expiry": "STANDARD",
                "cvv": "STANDARD",
                "brand": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Card"
            }
          },
          "identity": {
            "description": "The identity details of the user.",
            "$ref": "#/components/schemas/Identity"
          },
          "requestContext": {
            "description": "Context information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for Bill Pay Switch operation.",
        "example": {
          "serviceAgreement": {
            "language": "en",
            "acceptedDate": "2026-09-15"
          },
          "accounts": [
            {
              "accountNumber": "STANDARD",
              "bankIdentifier": "STANDARD",
              "title": "Banking operation completed",
              "type": "STANDARD"
            }
          ],
          "partnerId": "STANDARD",
          "customerId": "CUST-786921",
          "experience": "STANDARD",
          "language": "en",
          "singleUseUrl": true,
          "redirectUri": "STANDARD",
          "cards": [
            {
              "title": "Banking operation completed",
              "number": "STANDARD",
              "expiry": "STANDARD",
              "cvv": "STANDARD",
              "brand": "STANDARD"
            }
          ],
          "identity": {
            "firstName": "Northstar Banking Service",
            "lastName": "Northstar Banking Service",
            "zipCode": "CODE-868"
          },
          "requestContext": {
            "requestId": "ddb91bab-517f-52fd-b18f-0471e9abecf5",
            "correlationId": "b0861fce-b05a-516e-8632-f1de64f9e388",
            "idempotencyKey": "a9575ded-64ad-569e-9823-10a68ac813cb",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-523301"
            }
          }
        }
      },
      "ServiceAgreement": {
        "type": "object",
        "properties": {
          "language": {
            "type": "string",
            "description": "Preferred language of the agreement.",
            "example": "string"
          },
          "acceptedDate": {
            "type": "string",
            "description": "Date when the agreement was accepted.",
            "example": "string"
          }
        },
        "description": "Details of the service agreement."
      },
      "Account": {
        "type": "object",
        "properties": {
          "accountNumber": {
            "type": "string",
            "description": "The account number.",
            "example": "string"
          },
          "bankIdentifier": {
            "type": "string",
            "description": "Identifier for the bank.",
            "example": "string"
          },
          "title": {
            "type": "string",
            "description": "Title of the account.",
            "example": "string"
          },
          "type": {
            "type": "string",
            "description": "Type of the account.",
            "example": "string"
          }
        },
        "description": "An account associated with the transaction."
      },
      "Card": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "description": "The title of the card.",
            "example": "string"
          },
          "number": {
            "type": "string",
            "description": "Card number.",
            "example": "string"
          },
          "expiry": {
            "type": "string",
            "description": "Expiry date of the card.",
            "example": "string"
          },
          "cvv": {
            "type": "string",
            "description": "CVV code of the card.",
            "example": "string"
          },
          "brand": {
            "type": "string",
            "description": "Brand of the card (e.g., Visa, Mastercard).",
            "example": "string"
          }
        },
        "description": "Details of a payment card."
      },
      "Identity": {
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string",
            "description": "First name of the user.",
            "example": "string"
          },
          "lastName": {
            "type": "string",
            "description": "Last name of the user.",
            "example": "string"
          },
          "zipCode": {
            "type": "string",
            "description": "ZIP code of the user's address.",
            "example": "string"
          }
        },
        "description": "Identity information of the user."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for the request.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used for idempotent requests.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System where the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request was made.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Context of the request being made."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., mobile, web).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used.",
            "example": "string"
          }
        },
        "description": "Details of the channel used to make the request."
      },
      "CreateTransferBillPaySwitchResponse_200": {
        "title": "Bill Pay Switch Operation Response",
        "type": "object",
        "properties": {
          "link": {
            "type": "string",
            "description": "A link providing access to the related resource.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "A metadata object containing additional information about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response from the Bill Pay Switch operation.",
        "example": {
          "link": "STANDARD",
          "metadata": {
            "responseId": "8b18d155-1c5a-5b57-8696-fc20001fb353",
            "correlationId": "b0861fce-b05a-516e-8632-f1de64f9e388",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to track the request across systems.",
            "example": "abcde"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-10T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "us-west-1"
          }
        },
        "description": "This schema holds metadata regarding the response from the operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-generate-transfer-bill-pay-switch-url"
        },
        "example": "open-finance-api-generate-transfer-bill-pay-switch-url"
      },
      "x-runtime-app": {
        "description": "The version of the application runtime that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method that uses a bearer token in the HTTP authorization header. This token must be a valid JSON Web Token (JWT) that grants access to the requested resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}