{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Servicing Customer Case Management-spec",
    "description": "The Customer Case Management API enables businesses to efficiently create and manage customer cases within the banking sector. This endpoint allows users to submit new servicing cases, ensuring that customer inquiries and issues are tracked and resolved effectively. Typical consumers include customer service representatives and support teams who require streamlined processes for case handling. By providing a structured approach to case management, this API enhances customer satisfaction and operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://customer-channel-app:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/servicing/customer-case-management": {
      "post": {
        "tags": [
          "Customer Case Management"
        ],
        "summary": "Create a new customer case.",
        "description": "This endpoint allows users to create a new customer case in the system. It ensures that all necessary details are captured to facilitate effective case management and resolution.",
        "operationId": "createServicingCustomerCaseManagement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create or update customer case management records. It contains necessary information to identify customer cases and the details for processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateServicingCustomerCaseManagementRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The resource was successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateServicingCustomerCaseManagementResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateServicingCustomerCaseManagementRequest": {
        "title": "Customer Case Management Request Body",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-492902"
          },
          "caseId": {
            "type": "string",
            "description": "The unique identifier for the case.",
            "example": "CASE-564335"
          },
          "requestCategory": {
            "type": "string",
            "description": "The category of the request.",
            "example": "STANDARD"
          },
          "priority": {
            "type": "string",
            "description": "The priority level of the case.",
            "example": "NORMAL"
          },
          "originatingChannel": {
            "type": "string",
            "description": "The channel through which the case originated.",
            "example": "STANDARD"
          },
          "caseReason": {
            "type": "string",
            "description": "The reason for opening the case.",
            "example": "STANDARD"
          },
          "serviceLevelDueAt": {
            "type": "string",
            "description": "The due date for service level agreements.",
            "example": "2026-08-11T12:00:00Z"
          },
          "customerContactPreference": {
            "type": "string",
            "description": "The customer's preferred method of contact.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for customer case management operations.",
        "example": {
          "customerId": "CUST-492902",
          "caseId": "CASE-564335",
          "requestCategory": "STANDARD",
          "priority": "NORMAL",
          "originatingChannel": "STANDARD",
          "caseReason": "STANDARD",
          "serviceLevelDueAt": "2026-08-11T12:00:00Z",
          "customerContactPreference": "STANDARD",
          "requestContext": {
            "requestId": "0775e1f4-e9d4-585f-a5eb-cf0c777a4642",
            "correlationId": "24d76ec2-3ad0-54f8-a2dd-80eb0f2d367a",
            "idempotencyKey": "740857f6-ddfb-5a05-a1ae-b4d5e9dbbef5",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-288835"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "req789"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier for tracking the correlation of multiple requests.",
            "example": "corr012"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "The key used to ensure the request is idempotent.",
            "example": "idempKey345"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-01T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originates.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request is initiated.",
            "example": "CustomerPortal"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context information for the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used for the request.",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used to make the request.",
            "example": "device123"
          }
        },
        "description": "Schema representing the channel information used in the request context."
      },
      "CreateServicingCustomerCaseManagementResponse_201": {
        "title": "Customer Case Management Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-769253"
          },
          "caseId": {
            "type": "string",
            "description": "Unique identifier for the case.",
            "example": "CASE-591109"
          },
          "resourceId": {
            "type": "string",
            "description": "Identifier for the resource associated with the case.",
            "example": "RES-888286"
          },
          "status": {
            "type": "string",
            "description": "Current status of the case.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the case was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/CaseMetadata"
          }
        },
        "description": "Response schema for the customer case management operation when a case is successfully created.",
        "example": {
          "customerId": "CUST-769253",
          "caseId": "CASE-591109",
          "resourceId": "RES-888286",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "1b6bdd40-d077-514f-ab07-1648f691fad8",
            "correlationId": "24d76ec2-3ad0-54f8-a2dd-80eb0f2d367a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CaseMetadata": {
        "title": "Case Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp-98765"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses across systems.",
            "example": "corr-54321"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:00:01Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the case took place.",
            "example": "us-west-2"
          }
        },
        "description": "Additional metadata about the case response."
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-080"
        },
        "example": "WF-080"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "d4fd1f14-2308-4fd1-90fd-ab822935bc39"
        },
        "example": "d4fd1f14-2308-4fd1-90fd-ab822935bc39"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "5"
        },
        "example": "5"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "fa53562f-a6d8-4b92-a4e0-6543942ca581"
        },
        "example": "fa53562f-a6d8-4b92-a4e0-6543942ca581"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-case-management-create-customer-case-management"
        },
        "example": "customer-case-management-create-customer-case-management"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      },
      "X-Workflow-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-080"
        },
        "example": "WF-080"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow associated with the customer case management operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Product Launch Pricing and Channel Deployment"
        },
        "example": "Product Launch Pricing and Channel Deployment"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow, indicating its progress in the customer case management process.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the execution instance of the workflow, useful for tracking the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "fa53562f-a6d8-4b92-a4e0-6543942ca581"
        },
        "example": "fa53562f-a6d8-4b92-a4e0-6543942ca581"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method, where a JSON Web Token (JWT) is provided in the authorization header for secured access to the API. Clients must include the JWT as a token to authenticate requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}