{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Account Amounts Management API",
    "description": "This API facilitates the management of monetary amounts associated with specific customer accounts. It allows authorized users to submit new amounts or adjust existing amounts for accounts identified by customer ID and account ID. Typical consumers include financial analysts, customer service representatives, and application developers who require robust transaction handling capabilities. Use cases often involve updating balances, processing payments, or handling adjustments to account amounts, ensuring seamless financial operations for businesses.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/microentry/customers/{customerId}/accounts/{accountId}/amounts": {
      "post": {
        "tags": [
          "CustomerAccounts"
        ],
        "summary": "Create an amount for a specific account under a customer.",
        "description": "This operation allows you to create a new amount associated with a specified account for a customer. Ensure you provide the required data in the request body to successfully create the amount.",
        "operationId": "createAccountAmountForCustomerCUST100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          },
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit an operation to modify or retrieve amounts associated with the account identified by ACC-200045 for the customer CUST-100045. It should contain the necessary data conforming to the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAccountAmountForCustomerCUST100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and the amounts have been processed.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAccountAmountForCustomerCUST100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateAccountAmountForCustomerCUST100045Request": {
        "title": "Operations Request Body",
        "type": "object",
        "properties": {
          "amounts": {
            "type": "array",
            "description": "A list of amounts involved in the operation.",
            "example": [
              100.0
            ],
            "items": {
              "type": "number",
              "example": 0.0
            }
          },
          "requestContext": {
            "description": "Metadata regarding the request context.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for an operations POST request to handle account amounts.",
        "example": {
          "amounts": [
            100.0
          ],
          "requestContext": {
            "requestId": "716e12de-b981-50aa-96bf-abdeffeb87ba",
            "correlationId": "7ae784fd-bb51-5dd0-8608-8d76e6ebc9a2",
            "idempotencyKey": "ca703b0d-1b10-514c-b927-c4b53f2aa18c",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-580806"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that repeated requests have the same effect.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that initiated the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema that encapsulates the context of the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the request.",
            "example": "string"
          }
        },
        "description": "Schema representing details about the channel used for the request."
      },
      "CreateAccountAmountForCustomerCUST100045Response_200": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "statusDescription": {
            "type": "string",
            "description": "A detailed description of the status.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata information regarding the operation response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for a successful operation on the account's amounts.",
        "example": {
          "status": "ACTIVE",
          "statusDescription": "STANDARD",
          "metadata": {
            "responseId": "2372a78e-13fe-5c81-b6ad-ffe357faf109",
            "correlationId": "7ae784fd-bb51-5dd0-8608-8d76e6ebc9a2",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "abc123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to trace the request through to its response.",
            "example": "xyz789"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-15T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata information for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "Unique identifier for the endpoint being called, used for tracking and monitoring purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-verify-micro-amount-deposits"
        },
        "example": "open-finance-api-verify-micro-amount-deposits"
      },
      "x-runtime-app": {
        "description": "The name of the application that is executing the request, useful for logging and diagnostics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication with JSON Web Tokens (JWT). Clients must include a valid JWT in the Authorization header of their requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}