{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Fraud Evaluation By Evaluation Id-spec",
    "description": "The Fraud Evaluation Retrieval API allows users to obtain specific fraud evaluation details using an evaluation ID. This endpoint provides crucial insights into the fraud assessment process associated with banking accounts. Typical consumers include financial analysts, fraud prevention teams, and banking system administrators seeking to review evaluations for compliance and risk management. By leveraging this API, organizations can facilitate informed decision-making and enhance their fraud detection strategies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://accounts-deposits-app:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/account-management/fraud-evaluation/evaluations/{evaluationId}": {
      "get": {
        "tags": [
          "Fraud Evaluation"
        ],
        "summary": "Retrieve a specific fraud evaluation.",
        "description": "Fetch detailed information about a specific fraud evaluation identified by its unique resource identifier. This endpoint allows you to access evaluation results, analysis, and recommendations associated with the specified evaluation.",
        "operationId": "getFraudEvaluationByEvaluationId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/evaluationId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve specific fraud evaluation details for a given account. It allows users to provide necessary parameters to obtain relevant evaluation information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetFraudEvaluationByEvaluationIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request successfully processed; the requested evaluation data is provided.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFraudEvaluationByEvaluationIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetFraudEvaluationByEvaluationIdRequest": {
        "type": "string",
        "description": "This schema represents the structure of the request body for the GET operation related to fraud evaluations in the account management service.",
        "example": "{}"
      },
      "GetFraudEvaluationByEvaluationIdResponse_200": {
        "title": "Fraud Evaluation Response",
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "ACC-172630"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-132361"
          },
          "transactionId": {
            "type": "string",
            "description": "Unique identifier for the transaction.",
            "example": "TXN-375859"
          },
          "assessmentId": {
            "type": "string",
            "description": "Unique identifier for the assessment.",
            "example": "STANDARD"
          },
          "outcome": {
            "type": "string",
            "description": "Result of the fraud evaluation.",
            "example": "STANDARD"
          },
          "score": {
            "type": "integer",
            "description": "Score assigned based on the evaluation.",
            "format": "int32",
            "example": 1
          },
          "assessedAt": {
            "type": "string",
            "description": "Timestamp when the evaluation was assessed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/FraudEvaluationMetadata"
          }
        },
        "description": "Schema representing the response of a fraud evaluation operation.",
        "example": {
          "accountId": "ACC-172630",
          "customerId": "CUST-132361",
          "transactionId": "TXN-375859",
          "assessmentId": "STANDARD",
          "outcome": "STANDARD",
          "score": 1,
          "assessedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "cc094aa8-6f7a-5db2-8f64-f54070ec8800",
            "correlationId": "dd821eec-f944-584a-89c7-7f03c83765cb",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "FraudEvaluationMetadata": {
        "title": "Fraud Evaluation Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the evaluation was processed.",
            "example": "string"
          }
        },
        "description": "Metadata related to the fraud evaluation process."
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-022"
        },
        "example": "WF-022"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ad6164a5-3b60-47b8-952e-e1209f71b20a"
        },
        "example": "ad6164a5-3b60-47b8-952e-e1209f71b20a"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "3"
        },
        "example": "3"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "b31e4b1e-03bf-4c31-81e9-3203d2169f18"
        },
        "example": "b31e4b1e-03bf-4c31-81e9-3203d2169f18"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "evaluationId": {
        "name": "evaluationId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the API endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "fraud-evaluation-evaluate-fraud-evaluation"
        },
        "example": "fraud-evaluation-evaluate-fraud-evaluation"
      },
      "X-Runtime-App": {
        "description": "Name of the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      },
      "X-Workflow-Id": {
        "description": "Identifier for the workflow that initiated the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-022"
        },
        "example": "WF-022"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow associated with this operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Credit Card Application and Underwriting"
        },
        "example": "Credit Card Application and Underwriting"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow, indicating its progress.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ASYNC_PROCESSING"
        },
        "example": "ASYNC_PROCESSING"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the execution of the workflow.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "b31e4b1e-03bf-4c31-81e9-3203d2169f18"
        },
        "example": "b31e4b1e-03bf-4c31-81e9-3203d2169f18"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method where a JSON Web Token (JWT) is provided in the authorization header of the requests for secure access. This format allows the verification of the token for user authentication and authorization.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}