{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Consumer Loan Application Submission API",
    "description": "The Consumer Loan Application Submission API enables financial institutions to process loan applications submitted by customers. Utilizing this endpoint, authorized users can initiate and submit applications on behalf of customers, facilitating quick approval workflows. The API streamlines the collection of relevant customer data and loan details, ensuring efficient handling of request submissions. Typical consumers of this API include bank representatives and mortgage brokers who assist clients in securing consumer loans.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customers/{customerId}/consumer-loan-applications": {
      "post": {
        "tags": [
          "Consumer Loans"
        ],
        "summary": "Create a new consumer loan application for a specific customer.",
        "description": "This endpoint allows you to submit a new consumer loan application for the customer identified by CUST-100045. Ensure that all necessary data is included in the request body to successfully create the application.",
        "operationId": "createConsumerLoanApplicationForCustomerCUST100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit a new consumer loan application for a specific customer identified by CUST-100045. It contains all necessary details regarding the loan application, including personal information, loan amount, and any additional required data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateConsumerLoanApplicationForCustomerCUST100045Request"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource successfully created, indicating a new consumer loan application has been registered.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateConsumerLoanApplicationForCustomerCUST100045Response_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateConsumerLoanApplicationForCustomerCUST100045Request": {
        "title": "Consumer Loan Application Request",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-617753"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the customer's account.",
            "example": "ACC-721590"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the loan product type.",
            "example": "CHK-PREMIUM-US"
          },
          "principal": {
            "description": "Details of the loan principal amount and currency.",
            "$ref": "#/components/schemas/LoanPrincipal"
          },
          "termMonths": {
            "type": "integer",
            "description": "Duration of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "Frequency of loan repayment (e.g., monthly, bi-weekly).",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context related to the loan application request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for a consumer loan application request containing customer details, loan information, and request context.",
        "example": {
          "customerId": "CUST-617753",
          "accountId": "ACC-721590",
          "productCode": "CHK-PREMIUM-US",
          "principal": {
            "amount": 100.0,
            "currency": "USD"
          },
          "termMonths": 1,
          "repaymentFrequency": "STANDARD",
          "requestContext": {
            "requestId": "401ee5f4-19dd-5851-97c8-f49da2aa6c6b",
            "correlationId": "5bf7f048-7b11-55c6-8f7f-5b9ed50f0ea4",
            "idempotencyKey": "f460713f-dd9c-50d1-975e-cd6c526158fd",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-634305"
            }
          }
        }
      },
      "LoanPrincipal": {
        "title": "Loan Principal",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Principal loan amount.",
            "example": 5000.0
          },
          "currency": {
            "type": "string",
            "description": "Currency in which the loan amount is specified.",
            "example": "USD"
          }
        },
        "description": "Schema representing the principal amount and currency of the loan."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating related requests.",
            "example": "CORR-789012"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is idempotent.",
            "example": "IDEMPOTENCY-KEY-001"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier of the source system that generated the request.",
            "example": "SYSTEM-ABC"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier of the application originating the request.",
            "example": "APP-XYZ"
          },
          "channel": {
            "description": "Channel information through which the request was made.",
            "$ref": "#/components/schemas/ChannelInformation"
          }
        },
        "description": "Schema containing context information about the request made."
      },
      "ChannelInformation": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "CHANNEL-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used for the request.",
            "example": "DEVICE-123"
          }
        },
        "description": "Schema representing details about the communication channel used for the request."
      },
      "CreateConsumerLoanApplicationForCustomerCUST100045Response_201": {
        "title": "Consumer Loan Application Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-584900"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account associated with the customer.",
            "example": "ACC-431436"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the loan product.",
            "example": "CHK-PREMIUM-US"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource created by the loan application.",
            "example": "RES-440356"
          },
          "status": {
            "type": "string",
            "description": "Current status of the loan application.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the loan application was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/ApplicationMetadata"
          }
        },
        "description": "Schema representing the response for a consumer loan application operation.",
        "example": {
          "customerId": "CUST-584900",
          "accountId": "ACC-431436",
          "productCode": "CHK-PREMIUM-US",
          "resourceId": "RES-440356",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "4cee9841-0ced-5073-88cf-39a392bb9e57",
            "correlationId": "5bf7f048-7b11-55c6-8f7f-5b9ed50f0ea4",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ApplicationMetadata": {
        "title": "Application Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response to the loan application.",
            "example": "RESP-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "CORR-XYZ-123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2023-10-01T12:05:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the loan application is being processed.",
            "example": "US-West"
          }
        },
        "description": "Schema representing additional metadata related to the loan application."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "consumer-loan-create-consumer-loan"
        },
        "example": "consumer-loan-create-consumer-loan"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      },
      "X-Workflow-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-033"
        },
        "example": "WF-033"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Auto and Consumer Loan Origination"
        },
        "example": "Auto and Consumer Loan Origination"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "e57f2162-0533-4c55-b776-5399005ef6ea"
        },
        "example": "e57f2162-0533-4c55-b776-5399005ef6ea"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which requires a valid JSON Web Token (JWT) to be included in the Authorization header for accessing secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}