{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Market Data By Param1-spec",
    "description": "The Market Data Management API enables businesses to efficiently update market information based on specific parameters. This API allows users to modify existing market data entries, ensuring that stakeholders have access to the most current and relevant information. Typical consumers include financial analysts, traders, and application developers who require dynamic updates to market datasets. By leveraging this API, organizations can maintain accurate market insights that are essential for informed decision-making.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-data/market-information-management/{param1}": {
      "patch": {
        "tags": [
          "Market Information Management"
        ],
        "summary": "Update Market Information Management Resource",
        "description": "This endpoint allows you to update specific information related to the market data resource identified by RES-100045. Use this operation to modify existing attributes or add new details pertinent to market information management.",
        "operationId": "updateMarketDataByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the market information management resource identified by RES-100045. It allows clients to send the necessary data for modifying the details of the market information. Ensure that all required fields adhere to the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMarketDataByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed and the resource was updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateMarketDataByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateMarketDataByParam1Request": {
        "type": "object",
        "properties": {
          "changes": {
            "description": "Contains the details of the market data changes being requested.",
            "$ref": "#/components/schemas/MarketDataChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change in market data.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The timestamp indicating when the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier for the user or system requesting the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for updating market information.",
        "example": {
          "changes": {
            "instrumentId": "STANDARD",
            "isin": "STANDARD",
            "marketIdentifierCode": "CODE-727"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "2718c47f-5795-56f5-8dcb-1f9fccb9ab27",
            "correlationId": "ba47e25c-4bf5-54d7-be2f-5709e6e0486b",
            "idempotencyKey": "cff63188-865f-5258-bba8-cd06a19f12d9",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-319330"
            }
          }
        }
      },
      "MarketDataChanges": {
        "type": "object",
        "properties": {
          "instrumentId": {
            "type": "string",
            "description": "Unique identifier for the instrument being modified.",
            "example": "string"
          },
          "isin": {
            "type": "string",
            "description": "The International Securities Identification Number (ISIN) of the instrument.",
            "example": "string"
          },
          "marketIdentifierCode": {
            "type": "string",
            "description": "Code identifying the market to which the instrument belongs.",
            "example": "string"
          }
        },
        "description": "Schema representing the changes to the market data."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure that a request is processed only once.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that is making the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information regarding the channel used for the request.",
            "$ref": "#/components/schemas/ChannelContext"
          }
        },
        "description": "Schema representing the contextual information for the request."
      },
      "ChannelContext": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel used.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel through which the request is made.",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Schema representing the channel information for the request."
      },
      "UpdateMarketDataByParam1Response_200": {
        "title": "Market Information Management Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp representing when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "This schema represents the response structure for the operations related to market data management.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "5da09e3b-8ad0-56e6-9284-5b525532f53a",
            "correlationId": "ba47e25c-4bf5-54d7-be2f-5709e6e0486b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the operation was processed.",
            "example": "string"
          }
        },
        "description": "Metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifier for the endpoint that processed the request, useful for tracing and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "market-information-management-update-market-information-management"
        },
        "example": "market-information-management-update-market-information-management"
      },
      "X-Runtime-App": {
        "description": "Name of the application that handled the request, providing context for request origin.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "A security scheme that employs the Bearer Authentication mechanism using JSON Web Tokens (JWT). This method is used to authorize API requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}