{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Banking Operational Services Delinquent Account Handlings-v5-spec",
    "description": "The Delinquent Account Handling API provides a streamlined approach for businesses to access and manage information regarding delinquent accounts within banking operational services. This API allows users to retrieve comprehensive details about accounts that are considered delinquent, enabling financial institutions to take appropriate actions. Key consumers include financial institutions, collection agencies, and compliance teams seeking to improve their strategies for managing delinquent accounts. By utilizing this API, users can efficiently assess risk, enhance customer interactions, and ensure regulatory compliance.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/delinquent-account-handling": {
      "get": {
        "tags": [
          "Delinquent Accounts"
        ],
        "summary": "Retrieve delinquent account handling information.",
        "description": "This endpoint allows users to retrieve detailed information about delinquent account handling processes. It provides insights necessary for managing accounts that are overdue or have payment issues, ensuring proper protocols are followed to resolve these accounts efficiently.",
        "operationId": "listBankingOperationalServicesDelinquentAccountHandlings",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving delinquent account handling information.<br>Ensure that the request body is properly formatted according to the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListBankingOperationalServicesDelinquentAccountHandlingsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and returned the expected data.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBankingOperationalServicesDelinquentAccountHandlingsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListBankingOperationalServicesDelinquentAccountHandlingsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to delinquent account handling in the operational services. It is a placeholder for a string value that may be used for specific operational purposes.",
        "example": "{}"
      },
      "ListBankingOperationalServicesDelinquentAccountHandlingsResponse_200": {
        "title": "Delinquent Account Handling Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of delinquent account handling items.",
            "example": [
              {
                "operationId": "STANDARD",
                "customerId": "CUST-684225",
                "accountId": "ACC-334489",
                "requestedAt": "2026-08-11T12:00:00Z",
                "priority": "NORMAL",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/DelinquentAccountItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting information for the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the GET operation on delinquent account handling, containing results and metadata about the operation.",
        "example": {
          "items": [
            {
              "operationId": "STANDARD",
              "customerId": "CUST-684225",
              "accountId": "ACC-334489",
              "requestedAt": "2026-08-11T12:00:00Z",
              "priority": "NORMAL",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "dc2ebc7b-eb89-54a5-853b-e0a26d650eaa",
            "correlationId": "b6d09cfe-686a-5667-b68a-9171d6fceb4f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "DelinquentAccountItem": {
        "title": "Delinquent Account Item",
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "Unique identifier for the operation.",
            "example": "string"
          },
          "customerId": {
            "type": "string",
            "description": "Identifier for the customer associated with the account.",
            "example": "string"
          },
          "accountId": {
            "type": "string",
            "description": "Identifier for the account in question.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "priority": {
            "type": "string",
            "description": "Priority level of the delinquent account item.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the account item.",
            "example": "string"
          }
        },
        "description": "Schema representing a single item of delinquent account handling."
      },
      "Pagination": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Information for pagination of the response."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint that processed the request, useful for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "delinquent-account-handling-search-delinquent-account-handling"
        },
        "example": "delinquent-account-handling-search-delinquent-account-handling"
      },
      "x-runtime-app": {
        "description": "Indicates the name of the application where the request was processed, aiding in monitoring and management.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using JSON Web Tokens (JWT) as bearer tokens in HTTP Authorization headers.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}