{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Aggregation Customer Accounts Simples-v5-spec",
    "description": "MICROSERVICE-PROD-List Aggregation Customer Accounts Simples-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/{customerId}/accounts/simple": {
      "get": {
        "operationId": "listAggregationCustomerAccountsSimples",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListAggregationCustomerAccountsSimplesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAggregationCustomerAccountsSimplesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListAggregationCustomerAccountsSimplesRequest": {
        "type": "string",
        "example": "{}"
      },
      "ListAggregationCustomerAccountsSimplesResponse_200": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "STANDARD"
          },
          "number": {
            "type": "string",
            "example": "STANDARD"
          },
          "accountNumberDisplay": {
            "type": "string",
            "example": "STANDARD"
          },
          "realAccountNumberLast4": {
            "type": "string",
            "example": "STANDARD"
          },
          "name": {
            "type": "string",
            "example": "Northstar Banking Service"
          },
          "balance": {
            "type": "number",
            "example": 100.0
          },
          "type": {
            "type": "string",
            "example": "STANDARD"
          },
          "aggregationStatusCode": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "example": "ACTIVE"
          },
          "customerId": {
            "type": "string",
            "example": "CUST-799284"
          },
          "institutionId": {
            "type": "string",
            "example": "STANDARD"
          },
          "balanceDate": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "aggregationSuccessDate": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "aggregationAttemptDate": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "createdDate": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "lastUpdatedDate": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "marketSegment": {
            "type": "string",
            "example": "STANDARD"
          },
          "currency": {
            "type": "string",
            "example": "USD"
          },
          "lastTransactionDate": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "oldestTransactionDate": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "institutionLoginId": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "detail": {
            "type": "object",
            "properties": {
              "dateAsOf": {
                "type": "integer",
                "format": "int32",
                "example": 0
              },
              "availableBalanceAmount": {
                "type": "number",
                "example": 0.0
              },
              "openDate": {
                "type": "integer",
                "format": "int32",
                "example": 0
              },
              "periodStartDate": {
                "type": "integer",
                "format": "int32",
                "example": 0
              },
              "periodEndDate": {
                "type": "integer",
                "format": "int32",
                "example": 0
              },
              "periodInterestRate": {
                "type": "number",
                "example": 0.0
              },
              "periodDepositAmount": {
                "type": "number",
                "example": 0.0
              },
              "periodInterestAmount": {
                "type": "number",
                "example": 0.0
              },
              "interestYtdAmount": {
                "type": "number",
                "example": 0.0
              },
              "interestPriorYtdAmount": {
                "type": "number",
                "example": 0.0
              },
              "maturityDate": {
                "type": "integer",
                "format": "int32",
                "example": 0
              },
              "interestRate": {
                "type": "string",
                "example": "string"
              },
              "creditAvailableAmount": {
                "type": "number",
                "example": 0.0
              },
              "creditMaxAmount": {
                "type": "number",
                "example": 0.0
              }
            },
            "example": {
              "dateAsOf": 1,
              "availableBalanceAmount": 100.0,
              "openDate": 1,
              "periodStartDate": 1,
              "periodEndDate": 1,
              "periodInterestRate": 100.0,
              "periodDepositAmount": 100.0,
              "periodInterestAmount": 100.0,
              "interestYtdAmount": 100.0,
              "interestPriorYtdAmount": 100.0,
              "maturityDate": 1,
              "interestRate": "STANDARD",
              "creditAvailableAmount": 100.0,
              "creditMaxAmount": 100.0
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "d619f4db-4115-5189-9a59-76e2bda9696d",
              "correlationId": "4236390d-f2b8-54ab-9d70-f6e1bdd0a0b9",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "id": "STANDARD",
          "number": "STANDARD",
          "accountNumberDisplay": "STANDARD",
          "realAccountNumberLast4": "STANDARD",
          "name": "Northstar Banking Service",
          "balance": 100.0,
          "type": "STANDARD",
          "aggregationStatusCode": 1,
          "status": "ACTIVE",
          "customerId": "CUST-799284",
          "institutionId": "STANDARD",
          "balanceDate": 1,
          "aggregationSuccessDate": 1,
          "aggregationAttemptDate": 1,
          "createdDate": 1,
          "lastUpdatedDate": 1,
          "marketSegment": "STANDARD",
          "currency": "USD",
          "lastTransactionDate": 1,
          "oldestTransactionDate": 1,
          "institutionLoginId": 1,
          "detail": {
            "dateAsOf": 1,
            "availableBalanceAmount": 100.0,
            "openDate": 1,
            "periodStartDate": 1,
            "periodEndDate": 1,
            "periodInterestRate": 100.0,
            "periodDepositAmount": 100.0,
            "periodInterestAmount": 100.0,
            "interestYtdAmount": 100.0,
            "interestPriorYtdAmount": 100.0,
            "maturityDate": 1,
            "interestRate": "STANDARD",
            "creditAvailableAmount": 100.0,
            "creditMaxAmount": 100.0
          },
          "metadata": {
            "responseId": "d619f4db-4115-5189-9a59-76e2bda9696d",
            "correlationId": "4236390d-f2b8-54ab-9d70-f6e1bdd0a0b9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-customer-account"
        },
        "example": "open-finance-api-get-customer-account"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}