{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Deposit Lending Loans-spec",
    "description": "The Deposit Lending Loans Retrieval API provides access to detailed information about available deposit lending loans. This endpoint allows users to retrieve a comprehensive list of loans, making it easier for financial institutions and customers to evaluate lending options. Typical consumers include bank representatives, loan officers, and customers seeking financing solutions. The API serves as a critical resource for understanding loan offerings, terms, and eligibility criteria, thereby supporting informed decision-making in the lending process.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/loan": {
      "get": {
        "tags": [
          "Deposit Lending"
        ],
        "summary": "Retrieve loan details for deposit lending.",
        "description": "This endpoint allows users to fetch detailed information about the loans available for deposit lending, including terms, rates, and eligibility criteria.",
        "operationId": "listDepositLendingLoans",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for fetching loan details in the deposit lending context. This request should follow the defined schema to ensure proper data retrieval.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListDepositLendingLoansRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved loan details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDepositLendingLoansResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListDepositLendingLoansRequest": {
        "type": "string",
        "description": "A string representation of the request body for the GET operation on loan operations related to deposit lending.",
        "example": "{}"
      },
      "ListDepositLendingLoansResponse_200": {
        "title": "Loan Operations Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of loan items included in the response.",
            "example": [
              {
                "customerId": "CUST-912179",
                "accountId": "ACC-217862",
                "productCode": "CHK-PREMIUM-US",
                "principal": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "termMonths": 1,
                "repaymentFrequency": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/LoanItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting field used for the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for loan operations GET request, containing loan details and pagination information.",
        "example": {
          "items": [
            {
              "customerId": "CUST-912179",
              "accountId": "ACC-217862",
              "productCode": "CHK-PREMIUM-US",
              "principal": {
                "amount": 100.0,
                "currency": "USD"
              },
              "termMonths": 1,
              "repaymentFrequency": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "4252b84c-98a4-5958-aa42-ea3d5f51e327",
            "correlationId": "17489c65-8187-5ae1-a23a-b06d6007388e",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "LoanItem": {
        "title": "Loan Item",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "12345"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "abcde"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the loan product.",
            "example": "PL123"
          },
          "principal": {
            "$ref": "#/components/schemas/Principal"
          },
          "termMonths": {
            "type": "integer",
            "description": "Term duration of the loan in months.",
            "format": "int32",
            "example": 12
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "Frequency of loan repayment.",
            "example": "monthly"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the loan record.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the loan record was last updated.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "Details of an individual loan."
      },
      "Principal": {
        "title": "Loan Principal",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The principal amount of the loan.",
            "example": 10000.0
          },
          "currency": {
            "type": "string",
            "description": "Currency of the principal amount.",
            "example": "USD"
          }
        },
        "description": "Details of the principal amount of the loan."
      },
      "Pagination": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the paginated response.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available in the dataset.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Details regarding pagination of the response data."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracing related requests.",
            "example": "corr-001"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the specific API endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "loan-search-loan"
        },
        "example": "loan-search-loan"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes a Bearer token for authorization, which must be included in the HTTP Authorization header as a 'Bearer <token>' format. The token is expected to be a JSON Web Token (JWT), which encodes user identity and is used to authenticate API requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}