{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Open Banking Aisp Account Access Consent-v5-spec",
    "description": "MICROSERVICE-PROD-Create Open Banking Aisp Account Access Consent-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/aisp/account-access-consents": {
      "post": {
        "operationId": "createOpenBankingAispAccountAccessConsent",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOpenBankingAispAccountAccessConsentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOpenBankingAispAccountAccessConsentResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateOpenBankingAispAccountAccessConsentRequest": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "Permissions": {
                "type": "array",
                "example": "string",
                "items": {
                  "type": "string",
                  "example": "string"
                }
              },
              "ExpirationDateTime": {
                "type": "string",
                "example": "string"
              },
              "TransactionFromDateTime": {
                "type": "string",
                "example": "string"
              },
              "TransactionToDateTime": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "Permissions": [
                "STANDARD"
              ],
              "ExpirationDateTime": "2026-09-15T14:30:00Z",
              "TransactionFromDateTime": "2026-09-15T14:30:00Z",
              "TransactionToDateTime": "2026-09-15T14:30:00Z"
            }
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "e7dd2e7d-e079-5a83-b054-dbd81ef98a12",
              "correlationId": "819f7ffa-8554-5dd5-bc65-268981cba409",
              "idempotencyKey": "13909b8c-d655-5afa-a942-c0c13004f861",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-638482"
              }
            }
          }
        },
        "example": {
          "Data": {
            "Permissions": [
              "STANDARD"
            ],
            "ExpirationDateTime": "2026-09-15T14:30:00Z",
            "TransactionFromDateTime": "2026-09-15T14:30:00Z",
            "TransactionToDateTime": "2026-09-15T14:30:00Z"
          },
          "requestContext": {
            "requestId": "e7dd2e7d-e079-5a83-b054-dbd81ef98a12",
            "correlationId": "819f7ffa-8554-5dd5-bc65-268981cba409",
            "idempotencyKey": "13909b8c-d655-5afa-a942-c0c13004f861",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-638482"
            }
          }
        }
      },
      "CreateOpenBankingAispAccountAccessConsentResponse_201": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "ConsentId": {
                "type": "string",
                "example": "string"
              },
              "CreationDateTime": {
                "type": "string",
                "example": "string"
              },
              "Status": {
                "type": "string",
                "example": "string"
              },
              "StatusReason": {
                "type": "array",
                "example": "string",
                "items": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "string"
                    },
                    "description": {
                      "type": "string",
                      "example": "string"
                    },
                    "Path": {
                      "type": "string",
                      "example": "string"
                    }
                  },
                  "example": "string"
                }
              },
              "StatusUpdateDateTime": {
                "type": "string",
                "example": "string"
              },
              "Permissions": {
                "type": "array",
                "example": "string",
                "items": {
                  "type": "string",
                  "example": "string"
                }
              },
              "ExpirationDateTime": {
                "type": "string",
                "example": "string"
              },
              "TransactionFromDateTime": {
                "type": "string",
                "example": "string"
              },
              "TransactionToDateTime": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "ConsentId": "STANDARD",
              "CreationDateTime": "2026-09-15T14:30:00Z",
              "Status": "ACTIVE",
              "StatusReason": [
                {
                  "code": "SUCCESS",
                  "description": "Customer banking request processed successfully",
                  "Path": "STANDARD"
                }
              ],
              "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
              "Permissions": [
                "STANDARD"
              ],
              "ExpirationDateTime": "2026-09-15T14:30:00Z",
              "TransactionFromDateTime": "2026-09-15T14:30:00Z",
              "TransactionToDateTime": "2026-09-15T14:30:00Z"
            }
          },
          "Links": {
            "type": "object",
            "properties": {
              "Self": {
                "type": "string",
                "example": "string"
              },
              "First": {
                "type": "string",
                "example": "string"
              },
              "Prev": {
                "type": "string",
                "example": "string"
              },
              "Next": {
                "type": "string",
                "example": "string"
              },
              "Last": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "Self": "https://example.com/resource",
              "First": "https://example.com/resource",
              "Prev": "https://example.com/resource",
              "Next": "https://example.com/resource",
              "Last": "https://example.com/resource"
            }
          },
          "Meta": {
            "type": "object",
            "properties": {
              "TotalPages": {
                "type": "integer",
                "format": "int32",
                "example": 0
              },
              "FirstAvailableDateTime": {
                "type": "string",
                "example": "string"
              },
              "LastAvailableDateTime": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "TotalPages": 1,
              "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
              "LastAvailableDateTime": "2026-09-15T14:30:00Z"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "7b2e0f14-10a5-520a-87c8-cf415d6bca9a",
              "correlationId": "819f7ffa-8554-5dd5-bc65-268981cba409",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "Data": {
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "Status": "ACTIVE",
            "StatusReason": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "Path": "STANDARD"
              }
            ],
            "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
            "Permissions": [
              "STANDARD"
            ],
            "ExpirationDateTime": "2026-09-15T14:30:00Z",
            "TransactionFromDateTime": "2026-09-15T14:30:00Z",
            "TransactionToDateTime": "2026-09-15T14:30:00Z"
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource",
            "Next": "https://example.com/resource",
            "Last": "https://example.com/resource"
          },
          "Meta": {
            "TotalPages": 1,
            "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
            "LastAvailableDateTime": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "responseId": "7b2e0f14-10a5-520a-87c8-cf415d6bca9a",
            "correlationId": "819f7ffa-8554-5dd5-bc65-268981cba409",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-api-create-account-access-consents"
        },
        "example": "accounts-api-create-account-access-consents"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}