{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Access Key Generation API",
    "description": "The Access Key Generation API enables partners to securely generate access keys necessary for authenticating and interacting with various services within the platform. This API streamlines the process of managing access credentials, ensuring that partners can efficiently connect their applications to the service. Typical consumers include developers and system integrators who require automated access key management in their applications. By utilizing this endpoint, they can enhance security practices while ensuring seamless access to the resources they need.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/partners/accesskey": {
      "post": {
        "tags": [
          "Partner Management"
        ],
        "summary": "Create a new access key for a partner.",
        "description": "This endpoint allows you to generate a new access key for a specific partner. Ensure that you have the required permissions to perform this action. The access key can be used for authentication and authorization purposes.",
        "operationId": "createPartnerAccessKey",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for creating or retrieving an access key for a partner. This request should include the necessary parameters to authenticate and generate the access key.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePartnerAccessKeyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning access key details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePartnerAccessKeyResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreatePartnerAccessKeyRequest": {
        "title": "Access Key Request Body",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-611286"
          },
          "partnerId": {
            "type": "string",
            "description": "Unique identifier for the partner.",
            "example": "STANDARD"
          },
          "thirdPartyPartnerId": {
            "type": "string",
            "description": "Identifier for a third-party partner.",
            "example": "STANDARD"
          },
          "provenance": {
            "description": "Information related to the request's provenance.",
            "$ref": "#/components/schemas/Provenance"
          },
          "products": {
            "type": "array",
            "description": "List of products associated with the request.",
            "example": [
              {
                "product": "STANDARD",
                "payorId": "STANDARD",
                "maxCalls": 1,
                "accountId": "ACC-558587",
                "accessPeriod": {
                  "type": "STANDARD",
                  "startTime": "2026-08-11T12:00:00Z",
                  "endTime": "2026-08-11T12:00:00Z"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Product"
            }
          },
          "requestContext": {
            "description": "Contextual information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body to access key operations.",
        "example": {
          "customerId": "CUST-611286",
          "partnerId": "STANDARD",
          "thirdPartyPartnerId": "STANDARD",
          "provenance": {
            "clientFingerprint": "STANDARD",
            "ipAddress": "STANDARD",
            "token": "STANDARD"
          },
          "products": [
            {
              "product": "STANDARD",
              "payorId": "STANDARD",
              "maxCalls": 1,
              "accountId": "ACC-558587",
              "accessPeriod": {
                "type": "STANDARD",
                "startTime": "2026-08-11T12:00:00Z",
                "endTime": "2026-08-11T12:00:00Z"
              }
            }
          ],
          "requestContext": {
            "requestId": "8ffa9d30-71e2-5e73-95bc-c6508c45bd8b",
            "correlationId": "88bd8582-742d-5319-9571-33052deff3f3",
            "idempotencyKey": "8073fff2-2c9e-5bd1-8d94-62a2ef4e3868",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-228533"
            }
          }
        }
      },
      "Provenance": {
        "title": "Provenance",
        "type": "object",
        "properties": {
          "clientFingerprint": {
            "type": "string",
            "description": "Fingerprint of the client.",
            "example": "string"
          },
          "ipAddress": {
            "type": "string",
            "description": "IP address of the client.",
            "example": "string"
          },
          "token": {
            "type": "string",
            "description": "Authentication token associated with the transaction.",
            "example": "string"
          }
        },
        "description": "Schema representing the provenance details of the receipt."
      },
      "Product": {
        "title": "Product",
        "type": "object",
        "properties": {
          "product": {
            "type": "string",
            "description": "Name of the product.",
            "example": "string"
          },
          "payorId": {
            "type": "string",
            "description": "Identifier for the payor associated with this product.",
            "example": "string"
          },
          "maxCalls": {
            "type": "integer",
            "description": "Maximum number of calls allowed for this product.",
            "format": "int32",
            "example": 0
          },
          "accountId": {
            "type": "string",
            "description": "Identifier for the account associated with this product.",
            "example": "string"
          },
          "accessPeriod": {
            "$ref": "#/components/schemas/AccessPeriod"
          }
        },
        "description": "Schema representing a product within a receipt."
      },
      "AccessPeriod": {
        "title": "Access Period",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of the access period.",
            "example": "string"
          },
          "startTime": {
            "type": "string",
            "description": "Start time of the access period.",
            "example": "string"
          },
          "endTime": {
            "type": "string",
            "description": "End time of the access period.",
            "example": "string"
          }
        },
        "description": "Schema representing the access period details of a product."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate logs and requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request's idempotency.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System where the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application that initiated the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing context information for the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used for the communication.",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the request.",
            "example": "string"
          }
        },
        "description": "Schema representing information about the communication channel."
      },
      "CreatePartnerAccessKeyResponse_200": {
        "title": "Access Key Operations Response",
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "description": "Array of receipt objects.",
            "example": [
              {
                "receipt": {
                  "profile": 1,
                  "version": "STANDARD",
                  "id": "STANDARD",
                  "customerId": "CUST-469489",
                  "partnerId": "STANDARD",
                  "products": [
                    {
                      "product": "STANDARD",
                      "payorId": "STANDARD",
                      "maxCalls": 1,
                      "accountId": "ACC-633031",
                      "accessPeriod": {
                        "type": "STANDARD",
                        "startTime": "2026-08-11T12:00:00Z",
                        "endTime": "2026-08-11T12:00:00Z"
                      }
                    }
                  ],
                  "provenance": {
                    "clientFingerprint": "STANDARD",
                    "ipAddress": "STANDARD",
                    "token": "STANDARD"
                  },
                  "timestamp": "2026-09-15T14:30:00Z"
                },
                "proof": {
                  "signature": "STANDARD",
                  "keyId": "STANDARD",
                  "timestamp": "2026-09-15T14:30:00Z"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Receipt"
            }
          }
        },
        "description": "Schema representing the response for the Access Key Operations POST request.",
        "example": {
          "data": [
            {
              "receipt": {
                "profile": 1,
                "version": "STANDARD",
                "id": "STANDARD",
                "customerId": "CUST-469489",
                "partnerId": "STANDARD",
                "products": [
                  {
                    "product": "STANDARD",
                    "payorId": "STANDARD",
                    "maxCalls": 1,
                    "accountId": "ACC-633031",
                    "accessPeriod": {
                      "type": "STANDARD",
                      "startTime": "2026-08-11T12:00:00Z",
                      "endTime": "2026-08-11T12:00:00Z"
                    }
                  }
                ],
                "provenance": {
                  "clientFingerprint": "STANDARD",
                  "ipAddress": "STANDARD",
                  "token": "STANDARD"
                },
                "timestamp": "2026-09-15T14:30:00Z"
              },
              "proof": {
                "signature": "STANDARD",
                "keyId": "STANDARD",
                "timestamp": "2026-09-15T14:30:00Z"
              }
            }
          ],
          "metadata": {
            "responseId": "21277188-b8cb-5c24-85cc-e67d768605d5",
            "correlationId": "88bd8582-742d-5319-9571-33052deff3f3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Receipt": {
        "title": "Receipt",
        "type": "object",
        "properties": {
          "receipt": {
            "type": "object",
            "properties": {
              "profile": {
                "type": "integer",
                "description": "Profile identifier.",
                "format": "int32",
                "example": 0
              },
              "version": {
                "type": "string",
                "description": "Version of the receipt.",
                "example": "string"
              },
              "id": {
                "type": "string",
                "description": "Unique identifier for the receipt.",
                "example": "string"
              },
              "customerId": {
                "type": "string",
                "description": "Identifier for the customer associated with the receipt.",
                "example": "string"
              },
              "partnerId": {
                "type": "string",
                "description": "Identifier for the partner associated with the receipt.",
                "example": "string"
              },
              "products": {
                "type": "array",
                "description": "List of products included in the receipt.",
                "items": {
                  "$ref": "#/components/schemas/Product"
                }
              },
              "provenance": {
                "$ref": "#/components/schemas/Provenance"
              },
              "timestamp": {
                "type": "string",
                "description": "Timestamp when the receipt was generated.",
                "example": "string"
              }
            },
            "description": "Details of the receipt."
          },
          "proof": {
            "$ref": "#/components/schemas/Proof"
          }
        },
        "description": "Schema representing a receipt that contains various details about the transaction."
      },
      "Proof": {
        "title": "Proof",
        "type": "object",
        "properties": {
          "signature": {
            "type": "string",
            "description": "Digital signature for the receipt.",
            "example": "string"
          },
          "keyId": {
            "type": "string",
            "description": "Identifier for the key used for signing.",
            "example": "string"
          },
          "timestamp": {
            "type": "string",
            "description": "Timestamp of when the proof was generated.",
            "example": "string"
          }
        },
        "description": "Schema representing the proof details of the receipt."
      },
      "metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking related requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-generate-third-party-access-key"
        },
        "example": "open-finance-api-generate-third-party-access-key"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token to provide access to the API. The token must be in JSON Web Token (JWT) format.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}