{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Investment Management Investment Portfolio Plannings-spec",
    "description": "The Investment Portfolio Planning Retrieval API allows users to access and retrieve detailed information on various investment portfolio planning strategies. This resource is essential for financial institutions, investment managers, and advisors looking to analyze and manage their investment portfolios effectively. With a focus on enabling informed decision-making, this API supports the querying of planning specifications to optimize investment outcomes. Typical consumers include portfolio managers and financial analysts seeking to enhance their strategic planning processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/investment-management/investment-portfolio-planning": {
      "get": {
        "tags": [
          "Investment Management"
        ],
        "summary": "Retrieve investment portfolio planning details.",
        "description": "This endpoint allows users to fetch detailed information about their investment portfolio planning strategies. It provides insights into various investment options, risk assessments, and expected returns, enabling informed decision-making for financial planning.",
        "operationId": "listInvestmentManagementInvestmentPortfolioPlannings",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving investment portfolio planning data. This payload contains the necessary parameters to customize the investment management process and forecast planning outcomes effectively.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListInvestmentManagementInvestmentPortfolioPlanningsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the investment portfolio planning data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListInvestmentManagementInvestmentPortfolioPlanningsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListInvestmentManagementInvestmentPortfolioPlanningsRequest": {
        "type": "string",
        "description": "Request body for the GET operation related to investment portfolio planning.",
        "example": "{}"
      },
      "ListInvestmentManagementInvestmentPortfolioPlanningsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of investment portfolios.",
            "example": [
              {
                "portfolioId": "PORT-952882",
                "investmentAccountId": "ACC-972113",
                "investmentObjective": "STANDARD",
                "riskProfile": "STANDARD",
                "baseCurrency": "USD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/InvestmentPortfolio"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sort order of the returned items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the investment portfolio planning operation.",
        "example": {
          "items": [
            {
              "portfolioId": "PORT-952882",
              "investmentAccountId": "ACC-972113",
              "investmentObjective": "STANDARD",
              "riskProfile": "STANDARD",
              "baseCurrency": "USD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "9fef70a3-0495-51d7-8ed1-d651143cca46",
            "correlationId": "c7903708-45d8-53b7-a3e1-4e6ffcb2b984",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "InvestmentPortfolio": {
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "Unique identifier for the portfolio."
          },
          "investmentAccountId": {
            "type": "string",
            "description": "Unique identifier for the investment account associated with the portfolio."
          },
          "investmentObjective": {
            "type": "string",
            "description": "The investment objective of the portfolio."
          },
          "riskProfile": {
            "type": "string",
            "description": "The risk profile associated with the portfolio."
          },
          "baseCurrency": {
            "type": "string",
            "description": "The base currency for the investments in the portfolio."
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the portfolio record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the portfolio was last updated."
          }
        },
        "description": "Represents an investment portfolio."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32"
          }
        },
        "description": "Pagination information for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking the request."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed."
          }
        },
        "description": "Metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the API endpoint being accessed, which helps in tracking and analytics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "investment-portfolio-planning-search-investment-portfolio-planning"
        },
        "example": "investment-portfolio-planning-search-investment-portfolio-planning"
      },
      "X-Runtime-App": {
        "description": "The version of the runtime application that processed the request, useful for debugging and compatibility checks.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme employs the Bearer authentication method using JWT (JSON Web Tokens). Clients must include a valid JWT token in the Authorization header to authenticate requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}