{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Account By Param3-spec",
    "description": "The Payment Success Indicators API enables businesses to retrieve specific success indicators related to customer payment accounts. This endpoint allows users to access detailed information about payment success metrics for a particular customer and account by specifying the unique identifiers. Typical consumers of this API include financial analysts, customer service representatives, and developers integrating payment solutions. By leveraging this API, organizations can effectively track and analyze payment performance, which is essential for enhancing customer satisfaction and optimizing payment processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/payments/customers/{customerId}/accounts/{accountId}/payment-success-indicators/{param3}": {
      "get": {
        "tags": [
          "Account Management"
        ],
        "summary": "Retrieve payment success indicators for a specific account.",
        "description": "This endpoint allows you to fetch payment success indicators associated with a specific account and customer. Use this information to assess transaction success rates and improve financial operations.",
        "operationId": "getAccountByParam3",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          },
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "$ref": "#/components/parameters/param3"
          }
        ],
        "requestBody": {
          "description": "This request body retrieves payment success indicators for a specific customer account. Ensure that the request includes any required information as defined by the schema to successfully process the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAccountByParam3Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved payment success indicators.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAccountByParam3Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetAccountByParam3Request": {
        "type": "string",
        "description": "A string representation of the payment success indicators for a specific account.",
        "example": "{}"
      },
      "GetAccountByParam3Response_200": {
        "title": "Payment Success Indicators Response",
        "type": "object",
        "properties": {
          "payRequestId": {
            "type": "string",
            "description": "The identifier for the payment request.",
            "example": "48068230-053b-5cd0-861e-da74f4604932"
          },
          "status": {
            "type": "string",
            "description": "The current status of the payment request.",
            "example": "ACTIVE"
          },
          "customerId": {
            "type": "string",
            "description": "The identifier for the customer.",
            "example": "CUST-366475"
          },
          "accountId": {
            "type": "string",
            "description": "The identifier for the account associated with the payment.",
            "example": "ACC-661929"
          },
          "requestDate": {
            "type": "string",
            "description": "The date when the payment request was made.",
            "example": "2026-09-15"
          },
          "transaction": {
            "description": "Details about the transaction that was processed.",
            "$ref": "#/components/schemas/Transaction"
          },
          "nsfReturnRisk": {
            "description": "Indicators related to non-sufficient funds return risk.",
            "$ref": "#/components/schemas/NsfReturnRisk"
          },
          "unauthorizedReturnRisk": {
            "description": "Indicators related to unauthorized return risk.",
            "$ref": "#/components/schemas/UnauthorizedReturnRisk"
          },
          "metadata": {
            "description": "Metadata associated with the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response for payment success indicators related to a specific customer account.",
        "example": {
          "payRequestId": "48068230-053b-5cd0-861e-da74f4604932",
          "status": "ACTIVE",
          "customerId": "CUST-366475",
          "accountId": "ACC-661929",
          "requestDate": "2026-09-15",
          "transaction": {
            "settleByDate": "2026-09-15",
            "amount": 100.0
          },
          "nsfReturnRisk": {
            "result": {
              "availableBalance": 100.0,
              "dailyResults": [
                {
                  "potentialSettlementDate": "2026-09-15",
                  "score": 1,
                  "indicator": "STANDARD",
                  "reasons": {
                    "recentBalance": 1,
                    "balanceHistory": 1,
                    "nsfHistory": 1,
                    "recentNsfHistory": 1,
                    "recurringNsf": 1,
                    "spendHistory": 1,
                    "depositHistory": 1,
                    "transactionAmount": 1
                  }
                }
              ]
            },
            "error": {
              "status": "ACTIVE",
              "title": "Banking operation completed",
              "level": "STANDARD",
              "message": "STANDARD",
              "user_message": "STANDARD",
              "assetId": "STANDARD",
              "accountId": "ACC-856097",
              "externalTransactionId": "TXN-400022",
              "tags": "STANDARD"
            }
          },
          "unauthorizedReturnRisk": {
            "result": {
              "score": 1,
              "indicator": "STANDARD"
            },
            "error": {
              "status": "ACTIVE",
              "title": "Banking operation completed",
              "level": "STANDARD",
              "message": "STANDARD",
              "user_message": "STANDARD"
            }
          },
          "metadata": {
            "responseId": "f563e7af-3a6d-5821-a61f-00425117cd93",
            "correlationId": "605cce0f-2ed5-5d79-9bcd-5914c61487ff",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Transaction": {
        "title": "Transaction Details",
        "type": "object",
        "properties": {
          "settleByDate": {
            "type": "string",
            "description": "The date by which the transaction is expected to settle.",
            "example": "string"
          },
          "amount": {
            "type": "number",
            "description": "The amount involved in the transaction.",
            "example": 0.0
          }
        },
        "description": "This schema provides the details for a transaction processed."
      },
      "NsfReturnRisk": {
        "title": "Non-Sufficient Funds Return Risk Indicators",
        "type": "object",
        "properties": {
          "result": {
            "type": "object",
            "properties": {
              "availableBalance": {
                "type": "number",
                "description": "The current available balance in the account.",
                "example": 0.0
              },
              "dailyResults": {
                "type": "array",
                "description": "Daily results indicating potential settlement and risk factors.",
                "items": {
                  "$ref": "#/components/schemas/DailyResult"
                }
              }
            }
          },
          "error": {
            "description": "Error information related to the non-sufficient funds assessment.",
            "$ref": "#/components/schemas/ErrorDetails"
          }
        },
        "description": "This schema describes the indicators and results related to non-sufficient funds return risk."
      },
      "UnauthorizedReturnRisk": {
        "title": "Unauthorized Return Risk Indicators",
        "type": "object",
        "properties": {
          "result": {
            "type": "object",
            "properties": {
              "score": {
                "type": "integer",
                "description": "The risk score related to unauthorized returns.",
                "format": "int32",
                "example": 0
              },
              "indicator": {
                "type": "string",
                "description": "The indicator for the risk of unauthorized returns.",
                "example": "string"
              }
            }
          },
          "error": {
            "description": "Error information related to the unauthorized return assessment.",
            "$ref": "#/components/schemas/ErrorDetails"
          }
        },
        "description": "This schema describes the indicators and results related to unauthorized return risk."
      },
      "DailyResult": {
        "title": "Daily Result",
        "type": "object",
        "properties": {
          "potentialSettlementDate": {
            "type": "string",
            "description": "The potential date for settlement.",
            "example": "string"
          },
          "score": {
            "type": "integer",
            "description": "The risk score for the day.",
            "format": "int32",
            "example": 0
          },
          "indicator": {
            "type": "string",
            "description": "The risk indicator for the day.",
            "example": "string"
          },
          "reasons": {
            "description": "The reasons that contribute to the risk score.",
            "$ref": "#/components/schemas/RiskReasons"
          }
        },
        "description": "This schema provides daily results for potential settlements and risk indicators."
      },
      "ErrorDetails": {
        "title": "Error Details",
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "The status of the error response.",
            "example": "string"
          },
          "title": {
            "type": "string",
            "description": "A short title summarizing the error.",
            "example": "string"
          },
          "level": {
            "type": "string",
            "description": "The error level severity.",
            "example": "string"
          },
          "message": {
            "type": "string",
            "description": "A detailed error message.",
            "example": "string"
          },
          "user_message": {
            "type": "string",
            "description": "A user-friendly error message.",
            "example": "string"
          },
          "assetId": {
            "type": "string",
            "description": "Identifier for the asset related to the error.",
            "example": "string"
          },
          "accountId": {
            "type": "string",
            "description": "Identifier for the account related to the error.",
            "example": "string"
          },
          "externalTransactionId": {
            "type": "string",
            "description": "Identifier for the external transaction related to the error.",
            "example": "string"
          },
          "tags": {
            "type": "string",
            "description": "Additional tags associated with the error.",
            "example": "string"
          }
        },
        "description": "This schema contains details about an error that occurred during processing."
      },
      "RiskReasons": {
        "title": "Risk Reasons",
        "type": "object",
        "properties": {
          "recentBalance": {
            "type": "integer",
            "description": "The recent balance amount.",
            "format": "int32",
            "example": 0
          },
          "balanceHistory": {
            "type": "integer",
            "description": "Historical performance of balance.",
            "format": "int32",
            "example": 0
          },
          "nsfHistory": {
            "type": "integer",
            "description": "History of non-sufficient funds occurrences.",
            "format": "int32",
            "example": 0
          },
          "recentNsfHistory": {
            "type": "integer",
            "description": "Most recent history of non-sufficient funds occurrences.",
            "format": "int32",
            "example": 0
          },
          "recurringNsf": {
            "type": "integer",
            "description": "Signs of recurring non-sufficient funds issues.",
            "format": "int32",
            "example": 0
          },
          "spendHistory": {
            "type": "integer",
            "description": "Historical performance of spending behavior.",
            "format": "int32",
            "example": 0
          },
          "depositHistory": {
            "type": "integer",
            "description": "Historical record of deposits.",
            "format": "int32",
            "example": 0
          },
          "transactionAmount": {
            "type": "integer",
            "description": "The amount of recent transactions made.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "This schema describes various reasons affecting risk scores."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The unique identifier for tracking the request across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Contains metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "param3": {
        "name": "param3",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request. This can help in tracing which particular endpoint was responsible for generating the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-payment-success-indicators"
        },
        "example": "open-finance-api-get-payment-success-indicators"
      },
      "X-Runtime-App": {
        "description": "The name of the runtime application that handled the request. This information assists in identifying the application context for the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes Bearer authentication with JSON Web Tokens (JWT). Clients must provide a valid JWT in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}