{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Replace Cash Management *-spec",
    "description": "The Cash Management Update API facilitates the modification of cash management records within the banking system. This endpoint allows authorized users to update existing cash management details, ensuring efficient resource allocation and financial monitoring. Typical consumers of this API include financial institutions and corporate finance teams managing their cash flows. Utilize this API to optimize cash management strategies and maintain accurate financial data.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/cash-management/*": {
      "put": {
        "tags": [
          "Cash Management"
        ],
        "summary": "Update cash management records.",
        "description": "This operation allows you to update existing cash management records within the trade banking system. Ensure that the required fields are provided in the request to successfully modify the records.",
        "operationId": "replaceCashManagement*",
        "parameters": [
          {
            "$ref": "#/components/parameters/parentspanid"
          },
          {
            "$ref": "#/components/parameters/x-request-id"
          },
          {
            "$ref": "#/components/parameters/x-envoy-attempt-count"
          },
          {
            "$ref": "#/components/parameters/x-envoy-peer-metadata"
          },
          {
            "$ref": "#/components/parameters/x-gateway-correlationid"
          },
          {
            "$ref": "#/components/parameters/x-envoy-external-address"
          },
          {
            "$ref": "#/components/parameters/x-envoy-peer-metadata-id"
          },
          {
            "$ref": "#/components/parameters/x-envoy-decorator-operation"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used for performing various operations related to cash management within trade banking. It accepts a JSON payload that conforms to the defined schema for the cash management operations.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceCashManagement*Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed, and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceCashManagement*Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ReplaceCashManagement*Request": {
        "title": "Cash Management Operations Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "description": "Changes to be applied to the cash management operations.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "Reason for the requested change.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The effective date and time for the change.",
            "example": "2026-08-27T23:01:19.387Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the requestor.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for updating cash management operations.",
        "example": {
          "changes": {
            "corporateCustomerId": "CUST-675004",
            "facilityId": "STANDARD",
            "counterpartyId": "PARTY-256449"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-08-27T23:01:19.387Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "9f22bfdb-2643-48aa-8c62-28c223aceb6c",
            "correlationId": "a3cd8799-a71b-421e-9a5c-4181f40c3317",
            "idempotencyKey": "d234d668-dfc3-4fbe-b776-599ea74821ec",
            "requestedAt": "2026-08-27T23:01:19.387Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-816261"
            }
          }
        }
      },
      "Changes": {
        "title": "Changes",
        "type": "object",
        "properties": {
          "corporateCustomerId": {
            "type": "string",
            "description": "Identifier for the corporate customer.",
            "example": "corp123"
          },
          "facilityId": {
            "type": "string",
            "description": "Identifier for the facility.",
            "example": "facility456"
          },
          "counterpartyId": {
            "type": "string",
            "description": "Identifier for the counterparty.",
            "example": "counterparty789"
          }
        },
        "description": "Details of the changes requested for the cash management operations."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests across systems.",
            "example": "corr-001"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the operation is idempotent.",
            "example": "idempotent-key-001"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp for when the request was made.",
            "example": "2023-10-21T14:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Source system from which the request originated.",
            "example": "payment-system"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application that initiated the request.",
            "example": "cash-management-app"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Context information for the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used.",
            "example": "device-001"
          }
        },
        "description": "Information about the channel through which the request was made."
      },
      "ReplaceCashManagement*Response_200": {
        "title": "Cash Management Operations Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response format.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the response was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the request and response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for operations in cash management under trade banking.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "d2204f60-ed75-516b-9f02-13fcd807146e",
            "correlationId": "2d150619-13d6-5d0e-aed9-a096d0fa65e6",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "abc123"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracing the request across systems.",
            "example": "def456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T14:48:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "US-East"
          }
        },
        "description": "Metadata information related to the response."
      }
    },
    "parameters": {
      "parentspanid": {
        "name": "parentspanid",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "42cd4756339385ce"
        },
        "example": "42cd4756339385ce"
      },
      "x-request-id": {
        "name": "x-request-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1d127ea4-d3da-459a-bd46-85bc580624de"
        },
        "example": "1d127ea4-d3da-459a-bd46-85bc580624de"
      },
      "x-envoy-attempt-count": {
        "name": "x-envoy-attempt-count",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-envoy-peer-metadata": {
        "name": "x-envoy-peer-metadata",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ChoKCkNMVVNURVJfSUQSDBoKS3ViZXJuZXRlcwquAQoGTEFCRUxTEqMBKqABCh0KA2FwcBIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQo5Ch9zZXJ2aWNlLmlzdGlvLmlvL2Nhbm9uaWNhbC1uYW1lEhYaFGlzdGlvLWluZ3Jlc3NnYXRld2F5Ci8KI3NlcnZpY2UuaXN0aW8uaW8vY2Fub25pY2FsLXJldmlzaW9uEggaBjEtMzAtMAoTCgd2ZXJzaW9uEggaBjEuMzAuMAouCgROQU1FEiYaJGlzdGlvLWluZ3Jlc3NnYXRld2F5LTlkZDQ2YjU4Yi10Y3R6cwobCglOQU1FU1BBQ0USDhoMaXN0aW8tc3lzdGVtCl0KBU9XTkVSElQaUmt1YmVybmV0ZXM6Ly9hcGlzL2FwcHMvdjEvbmFtZXNwYWNlcy9pc3Rpby1zeXN0ZW0vZGVwbG95bWVudHMvaXN0aW8taW5ncmVzc2dhdGV3YXkKJwoNV09SS0xPQURfTkFNRRIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQ=="
        },
        "example": "ChoKCkNMVVNURVJfSUQSDBoKS3ViZXJuZXRlcwquAQoGTEFCRUxTEqMBKqABCh0KA2FwcBIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQo5Ch9zZXJ2aWNlLmlzdGlvLmlvL2Nhbm9uaWNhbC1uYW1lEhYaFGlzdGlvLWluZ3Jlc3NnYXRld2F5Ci8KI3NlcnZpY2UuaXN0aW8uaW8vY2Fub25pY2FsLXJldmlzaW9uEggaBjEtMzAtMAoTCgd2ZXJzaW9uEggaBjEuMzAuMAouCgROQU1FEiYaJGlzdGlvLWluZ3Jlc3NnYXRld2F5LTlkZDQ2YjU4Yi10Y3R6cwobCglOQU1FU1BBQ0USDhoMaXN0aW8tc3lzdGVtCl0KBU9XTkVSElQaUmt1YmVybmV0ZXM6Ly9hcGlzL2FwcHMvdjEvbmFtZXNwYWNlcy9pc3Rpby1zeXN0ZW0vZGVwbG95bWVudHMvaXN0aW8taW5ncmVzc2dhdGV3YXkKJwoNV09SS0xPQURfTkFNRRIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQ=="
      },
      "x-gateway-correlationid": {
        "name": "x-gateway-correlationid",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "9cde92d3-c169-46b5-bbe1-8b8af3c75cd2"
        },
        "example": "9cde92d3-c169-46b5-bbe1-8b8af3c75cd2"
      },
      "x-envoy-external-address": {
        "name": "x-envoy-external-address",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "18.156.191.52"
        },
        "example": "18.156.191.52"
      },
      "x-envoy-peer-metadata-id": {
        "name": "x-envoy-peer-metadata-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "router~10.10.185.143~istio-ingressgateway-9dd46b58b-tctzs.istio-system~istio-system.svc.cluster.local"
        },
        "example": "router~10.10.185.143~istio-ingressgateway-9dd46b58b-tctzs.istio-system~istio-system.svc.cluster.local"
      },
      "x-envoy-decorator-operation": {
        "name": "x-envoy-decorator-operation",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "kong-test1-kong-proxy.kong-test.svc.cluster.local:80/*"
        },
        "example": "kong-test1-kong-proxy.kong-test.svc.cluster.local:80/*"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifier for the API endpoint being accessed, useful for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cash-management-and-account-services-update-cash-management-and-account-services"
        },
        "example": "cash-management-and-account-services-update-cash-management-and-account-services"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is executing the request. This helps in identifying the source of the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      },
      "X-Workflow-Id": {
        "description": "Unique identifier for the workflow associated with the request. It aids in tracking the steps in the overall process.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-065"
        },
        "example": "WF-065"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow associated with the operation, which can help in identifying the specific process.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Corporate Cash Management Onboarding"
        },
        "example": "Corporate Cash Management Onboarding"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow. This provides an indication of whether the workflow is still in progress, completed, or failed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the execution of the workflow. This ID can be used for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "afca39b6-509e-4491-9d99-c037de666522"
        },
        "example": "afca39b6-509e-4491-9d99-c037de666522"
      }
    }
  }
}