{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Virtual Account Update API",
    "description": "The Virtual Account Update API allows for the modification of existing virtual account details within the deposit lending service. This endpoint is critical for managing account attributes, ensuring that customer information remains current and accurate. Typical consumers of this API include financial institutions and lending platforms that require real-time updates to account status or configurations. Users can leverage this capability to enhance customer service and streamline financial operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/virtual-account/{param1}": {
      "patch": {
        "tags": [
          "Deposit Lending"
        ],
        "summary": "Update Virtual Account Details",
        "description": "This operation allows you to update the details of a specific virtual account associated with the deposit lending service. You can modify various attributes of the virtual account as required.",
        "operationId": "updateDepositLendingVirtualAccountACC200045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to modify the details of a specific virtual account identified by ACC-200045 in the deposit lending system. Ensure that you include all required fields as specified in the schema, as any missing or incorrect information may result in a failed update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDepositLendingVirtualAccountACC200045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, the virtual account has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateDepositLendingVirtualAccountACC200045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateDepositLendingVirtualAccountACC200045Request": {
        "title": "Update Virtual Account Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "$ref": "#/components/schemas/AccountChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the changes being made to the account.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier for the user or service that is requesting the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for updating a virtual account.",
        "example": {
          "changes": {
            "customerId": "CUST-770957",
            "accountId": "ACC-363973",
            "productCode": "CHK-PREMIUM-US"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "3c6588b9-e94f-5a47-8b2a-270ea74ab9a9",
            "correlationId": "6c2f8d37-6238-5933-9a19-c19008b0d71d",
            "idempotencyKey": "0125374c-482c-5422-bb44-ba81fd89bb8b",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-378783"
            }
          }
        }
      },
      "AccountChanges": {
        "title": "Account Changes",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "cust-12345"
          },
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account.",
            "example": "acc-200045"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the product associated with the account.",
            "example": "prod-ABC"
          }
        },
        "description": "Schema representing the changes to be applied to the account."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-67890"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier for tracking related requests.",
            "example": "corr-123456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure the request is idempotent.",
            "example": "idemp-7890"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-01T11:59:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request was made.",
            "example": "Web Portal"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema capturing the context of the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel through which the request was made.",
            "example": "WEB"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used to make the request.",
            "example": "device-abcdef"
          }
        },
        "description": "Schema representing the channel used to make the request."
      },
      "UpdateDepositLendingVirtualAccountACC200045Response_200": {
        "title": "Update Virtual Account Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation, indicating success or failure.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the virtual account was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional information about the operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for updating a virtual account operation.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "0579eef0-6a7c-5026-96fd-630f5213e9b1",
            "correlationId": "6c2f8d37-6238-5933-9a19-c19008b0d71d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "resp_123456789"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier to correlate requests and responses.",
            "example": "corr_987654321"
          },
          "generatedAt": {
            "type": "string",
            "description": "The date and time when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata related to the response for additional context."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the API endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "virtual-account-update-virtual-account"
        },
        "example": "virtual-account-update-virtual-account"
      },
      "X-Runtime-App": {
        "description": "Indicates the runtime application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method. A Bearer token, which is a JSON Web Token (JWT), is expected to be included in the Authorization header of requests to authenticate and authorize access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}