{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Guideline Compliance API",
    "description": "The Guideline Compliance API enables organizations to assess their adherence to established compliance regulations within the banking sector. Through this API, users can access critical compliance guidelines, audit their operational practices, and ensure they meet necessary standards. Typical consumers include compliance officers, risk management teams, and banking institutions looking to enhance their regulatory alignment. This resource supports continuous improvement in compliance frameworks by providing up-to-date information and assessment tools.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/compliance/guideline-compliance": {
      "get": {
        "tags": [
          "Compliance"
        ],
        "summary": "Retrieve compliance guidelines.",
        "description": "This endpoint allows users to fetch the latest compliance guidelines to ensure adherence to relevant regulations and standards.",
        "operationId": "getGuidelineCompliance",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for fetching guideline compliance information. It should contain the necessary data to retrieve compliance guidelines relevant to the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetGuidelineComplianceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved compliance guidelines.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetGuidelineComplianceResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetGuidelineComplianceRequest": {
        "type": "string",
        "description": "This schema represents the compliance guideline in string format for the GET request body related to operations.",
        "example": "{}"
      },
      "GetGuidelineComplianceResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of compliance items returned in the response.",
            "example": [
              {
                "submissionId": "STANDARD",
                "legalEntityId": "STANDARD",
                "jurisdiction": "STANDARD",
                "reportingPeriod": "STANDARD",
                "regulation": "STANDARD",
                "dueDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ComplianceItem"
            }
          },
          "pagination": {
            "description": "Information about the pagination of the response.",
            "$ref": "#/components/schemas/PaginationInfo"
          },
          "sort": {
            "type": "string",
            "description": "The sorting criteria applied to the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the guideline compliance operations GET request, containing a list of compliance items, pagination details, sort options, and metadata.",
        "example": {
          "items": [
            {
              "submissionId": "STANDARD",
              "legalEntityId": "STANDARD",
              "jurisdiction": "STANDARD",
              "reportingPeriod": "STANDARD",
              "regulation": "STANDARD",
              "dueDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "271d9a1c-85e2-571d-bb9f-7de0ff91d4fa",
            "correlationId": "5a788bdc-16d2-592b-ad20-b03e03e47784",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ComplianceItem": {
        "type": "object",
        "properties": {
          "submissionId": {
            "type": "string",
            "description": "Unique identifier for the submission.",
            "example": "submission-123"
          },
          "legalEntityId": {
            "type": "string",
            "description": "Identifier for the legal entity.",
            "example": "entity-456"
          },
          "jurisdiction": {
            "type": "string",
            "description": "Jurisdiction under which the compliance exists.",
            "example": "US"
          },
          "reportingPeriod": {
            "type": "string",
            "description": "The reporting period for compliance.",
            "example": "2023-Q1"
          },
          "regulation": {
            "type": "string",
            "description": "Regulation associated with the compliance item.",
            "example": "Regulation A"
          },
          "dueDate": {
            "type": "string",
            "description": "The due date for compliance submission.",
            "example": "2023-05-01"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the compliance record.",
            "example": "Pending"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the compliance item was last updated.",
            "example": "2023-04-15T10:00:00Z"
          }
        },
        "description": "Represents a single compliance item."
      },
      "PaginationInfo": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the response.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Contains pagination information for the response data."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses.",
            "example": "correlation-012"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-04-15T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata about the response, useful for tracking and debugging."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "guideline-compliance-search-guideline-compliance"
        },
        "example": "guideline-compliance-search-guideline-compliance"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token to authenticate requests. The token must be provided in the Authorization header as 'Bearer {token}'. The token format used is JSON Web Token (JWT), which ensures secure transmission of information.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}