{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Product Sales Support API",
    "description": "The Product Sales Support API provides essential resources for managing and facilitating sales support for banking products. This endpoint allows users to retrieve information related to product sales inquiries, ensuring timely assistance and issue resolution for sales teams and clients. Typical consumers include sales representatives, customer support agents, and integrations with CRM systems. By leveraging this API, organizations can enhance their sales processes and improve customer satisfaction by providing comprehensive support.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/sales/product-sales-support": {
      "get": {
        "tags": [
          "Sales"
        ],
        "summary": "Retrieve product sales support details.",
        "description": "This endpoint allows you to fetch detailed information regarding sales support for specific products. Use this to get insights into product performance and support mechanisms.",
        "operationId": "getProductSalesSupport",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve sales support information for products. It facilitates the querying of specific sales data and support resources, necessary for enhancing product sales strategies.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetProductSalesSupportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved product sales support data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetProductSalesSupportResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetProductSalesSupportRequest": {
        "type": "string",
        "description": "This schema represents the request body for the product sales support operations in the GET method.",
        "example": "{}"
      },
      "GetProductSalesSupportResponse_200": {
        "title": "Sales Support Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of sales records.",
            "example": [
              {
                "prospectId": "STANDARD",
                "productCode": "CHK-PREMIUM-US",
                "salesChannel": "STANDARD",
                "relationshipManagerId": "STANDARD",
                "expectedValue": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/SalesRecord"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Details about sort order applied to the records.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response from the sales support operations.",
        "example": {
          "items": [
            {
              "prospectId": "STANDARD",
              "productCode": "CHK-PREMIUM-US",
              "salesChannel": "STANDARD",
              "relationshipManagerId": "STANDARD",
              "expectedValue": {
                "amount": 100.0,
                "currency": "USD"
              },
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "6ceef270-b124-5ce8-acfb-a2e79412e8a9",
            "correlationId": "3084e42a-9833-5482-9fd0-c90dccc83f82",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "SalesRecord": {
        "title": "Sales Record",
        "type": "object",
        "properties": {
          "prospectId": {
            "type": "string",
            "description": "The unique identifier for the prospect.",
            "example": "string"
          },
          "productCode": {
            "type": "string",
            "description": "The code associated with the product.",
            "example": "string"
          },
          "salesChannel": {
            "type": "string",
            "description": "The channel through which the sale was made.",
            "example": "string"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "The identifier for the relationship manager handling the prospect.",
            "example": "string"
          },
          "expectedValue": {
            "$ref": "#/components/schemas/ExpectedValue"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the sales record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the sales record was last updated.",
            "example": "string"
          }
        },
        "description": "Schema representing a single sales record."
      },
      "ExpectedValue": {
        "title": "Expected Value",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The expected sale amount.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the expected amount is expressed.",
            "example": "string"
          }
        },
        "description": "Schema representing the expected value of the sale."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number of the response.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available across all pages.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Schema representing pagination details for the response."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate the request with the response.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographical region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Schema containing meta information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "product-sales-support-search-product-sales-support"
        },
        "example": "product-sales-support-search-product-sales-support"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "JSON Web Token (JWT) based authentication scheme for bearer tokens. Clients must include the token in the `Authorization` header when making requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}