{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Applicant Update API",
    "description": "The Applicant Update API allows for the modification of applicant details associated with loan applications. This endpoint empowers lenders and loan administrators to manage and update applicant information seamlessly, ensuring accurate and up-to-date records. Common use cases include correcting applicant data or updating financial information after initial submission. By integrating this API, financial institutions can optimize their loan processing workflow and enhance customer service.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{param1}/applicants/{applicantId}": {
      "patch": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Update Applicant Information",
        "description": "This endpoint allows you to update the details of a specific applicant associated with a loan application. You can modify various attributes of the applicant, ensuring that the information remains up-to-date in the system.",
        "operationId": "patchLoanApplicationApplicantRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          },
          {
            "$ref": "#/components/parameters/applicantId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the details of a specific applicant in a loan application. You must provide the applicant's updated information in the structured format defined by the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchLoanApplicationApplicantRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, updated applicant details returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchLoanApplicationApplicantRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchLoanApplicationApplicantRes100045Request": {
        "title": "Loan Application Applicant Update Request",
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "description": "The role of the applicant in relation to the primary applicant.",
            "example": "PRIMARY_HOLDER"
          },
          "relationshipToPrimary": {
            "type": "string",
            "description": "The relationship of the applicant to the primary applicant.",
            "example": "STANDARD"
          },
          "income": {
            "description": "The income details of the applicant.",
            "$ref": "#/components/schemas/IncomeDetails"
          },
          "monthlyObligations": {
            "description": "The monthly obligations of the applicant.",
            "$ref": "#/components/schemas/MonthlyObligations"
          },
          "declaredAssets": {
            "type": "array",
            "description": "A list of assets declared by the applicant.",
            "example": [
              {
                "assetType": "STANDARD",
                "description": "Customer banking request processed successfully",
                "estimatedValue": {
                  "currency": "USD",
                  "amount": "1250.75"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/AssetDetails"
            }
          },
          "declaredLiabilities": {
            "type": "array",
            "description": "A list of liabilities declared by the applicant.",
            "example": [
              {
                "liabilityType": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/LiabilityDetails"
            }
          },
          "requestContext": {
            "description": "Context of the request including tracking information.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing a request to update loan application applicant details.",
        "example": {
          "role": "PRIMARY_HOLDER",
          "relationshipToPrimary": "STANDARD",
          "income": {
            "employmentType": "STANDARD",
            "employerName": "Northstar Banking Service",
            "occupation": "STANDARD",
            "employmentStartDate": "2026-09-15",
            "businessRegistrationNumber": "STANDARD",
            "grossMonthlyIncome": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "netMonthlyIncome": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "otherMonthlyIncome": {
              "currency": "USD",
              "amount": "1250.75"
            }
          },
          "monthlyObligations": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "declaredAssets": [
            {
              "assetType": "STANDARD",
              "description": "Customer banking request processed successfully",
              "estimatedValue": {
                "currency": "USD",
                "amount": "1250.75"
              }
            }
          ],
          "declaredLiabilities": [
            {
              "liabilityType": "STANDARD"
            }
          ],
          "requestContext": {
            "requestId": "48485be2-f3bf-5b1a-82ec-4aa0284066a6",
            "correlationId": "eee406da-b9e4-5ffc-b444-e0d635b03f2f",
            "idempotencyKey": "0ca9c66e-0f06-55f0-9d4f-15e73cd4a3df",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-436464"
            }
          }
        }
      },
      "IncomeDetails": {
        "title": "Income Details",
        "type": "object",
        "properties": {
          "employmentType": {
            "type": "string",
            "description": "Type of employment (e.g., full-time, part-time, self-employed).",
            "example": "Full-time"
          },
          "employerName": {
            "type": "string",
            "description": "Name of the employer.",
            "example": "ABC Corp"
          },
          "occupation": {
            "type": "string",
            "description": "Occupation of the applicant.",
            "example": "Software Engineer"
          },
          "employmentStartDate": {
            "type": "string",
            "description": "Start date of employment.",
            "example": "2020-01-15"
          },
          "businessRegistrationNumber": {
            "type": "string",
            "description": "Business registration number if self-employed.",
            "example": "BR123456"
          },
          "grossMonthlyIncome": {
            "description": "Gross monthly income of the applicant.",
            "$ref": "#/components/schemas/Money"
          },
          "netMonthlyIncome": {
            "description": "Net monthly income of the applicant.",
            "$ref": "#/components/schemas/Money"
          },
          "otherMonthlyIncome": {
            "description": "Any other sources of monthly income.",
            "$ref": "#/components/schemas/Money"
          }
        },
        "description": "Schema representing applicant's income details."
      },
      "Money": {
        "title": "Currency and Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency code (e.g., USD, EUR).",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "Amount in the specified currency.",
            "example": "1000"
          }
        },
        "description": "Schema representing an amount of money with currency."
      },
      "MonthlyObligations": {
        "title": "Monthly Obligations",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency code for the obligation amount.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "Total monthly obligations amount.",
            "example": "1500"
          }
        },
        "description": "Schema representing the monthly financial obligations of the applicant."
      },
      "AssetDetails": {
        "title": "Asset Details",
        "type": "object",
        "properties": {
          "assetType": {
            "type": "string",
            "description": "Type of the asset (e.g., property, vehicle).",
            "example": "Car"
          },
          "description": {
            "type": "string",
            "description": "Description of the asset.",
            "example": "2020 Toyota Camry"
          },
          "estimatedValue": {
            "description": "Estimated market value of the asset.",
            "$ref": "#/components/schemas/Money"
          }
        },
        "description": "Schema representing individual details of a declared asset."
      },
      "LiabilityDetails": {
        "title": "Liability Details",
        "type": "object",
        "properties": {
          "liabilityType": {
            "type": "string",
            "description": "Type of the liability (e.g., credit card debt, loan).",
            "example": "Credit Card"
          }
        },
        "description": "Schema representing individual details of a declared liability."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID to track related requests.",
            "example": "corr-654321"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure request idempotency.",
            "example": "idemp-78910"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-01T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "Web Application"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application from which the request originated.",
            "example": "Loan Application Portal"
          },
          "channel": {
            "description": "Channel details from which the request was made.",
            "$ref": "#/components/schemas/ChannelDetails"
          }
        },
        "description": "Schema representing the context of the request including identifiers and timestamps."
      },
      "ChannelDetails": {
        "title": "Channel Details",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., mobile, web).",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device from which the request was made.",
            "example": "device-456"
          }
        },
        "description": "Schema representing details of the channel from which the request originated."
      },
      "PatchLoanApplicationApplicantRes100045Response_200": {
        "title": "Loan Application Applicant",
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "description": "The role of the applicant in relation to the loan.",
            "example": "PRIMARY_HOLDER"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-346527"
          },
          "relationshipToPrimary": {
            "type": "string",
            "description": "Relationship of the applicant to the primary applicant.",
            "example": "STANDARD"
          },
          "income": {
            "description": "Details of the applicant's income.",
            "$ref": "#/components/schemas/Income"
          },
          "monthlyObligations": {
            "description": "Monthly financial obligations of the applicant.",
            "$ref": "#/components/schemas/MonthlyObligation"
          },
          "declaredAssets": {
            "type": "array",
            "description": "List of assets declared by the applicant.",
            "example": [
              {
                "assetType": "STANDARD",
                "description": "Customer banking request processed successfully",
                "estimatedValue": {
                  "currency": "USD",
                  "amount": "1250.75"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/DeclaredAsset"
            }
          },
          "declaredLiabilities": {
            "type": "array",
            "description": "List of liabilities declared by the applicant.",
            "example": [
              {
                "liabilityType": "STANDARD",
                "lenderName": "Northstar Banking Service",
                "outstandingBalance": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "monthlyPayment": {
                  "currency": "USD",
                  "amount": "1250.75"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/DeclaredLiability"
            }
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the applicant.",
            "example": "e208f392-ad91-5b9b-54d8-83e12594d8af"
          },
          "creditBureauStatus": {
            "type": "string",
            "description": "Indicates the credit bureau status of the applicant.",
            "example": "ACTIVE"
          },
          "audit": {
            "description": "Audit details for the applicant's record.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Additional metadata associated with the applicant.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing an applicant in a loan application.",
        "example": {
          "role": "PRIMARY_HOLDER",
          "customerId": "CUST-346527",
          "relationshipToPrimary": "STANDARD",
          "income": {
            "employmentType": "STANDARD",
            "employerName": "Northstar Banking Service",
            "occupation": "STANDARD",
            "employmentStartDate": "2026-09-15",
            "businessRegistrationNumber": "STANDARD",
            "grossMonthlyIncome": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "netMonthlyIncome": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "otherMonthlyIncome": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "verificationStatus": "VERIFIED"
          },
          "monthlyObligations": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "declaredAssets": [
            {
              "assetType": "STANDARD",
              "description": "Customer banking request processed successfully",
              "estimatedValue": {
                "currency": "USD",
                "amount": "1250.75"
              }
            }
          ],
          "declaredLiabilities": [
            {
              "liabilityType": "STANDARD",
              "lenderName": "Northstar Banking Service",
              "outstandingBalance": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "monthlyPayment": {
                "currency": "USD",
                "amount": "1250.75"
              }
            }
          ],
          "id": "e208f392-ad91-5b9b-54d8-83e12594d8af",
          "creditBureauStatus": "ACTIVE",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "1e8a97dd-9c6a-5c45-876c-7ba1cc4d1d0e",
            "correlationId": "eee406da-b9e4-5ffc-b444-e0d635b03f2f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Income": {
        "title": "Income Details",
        "type": "object",
        "properties": {
          "employmentType": {
            "type": "string",
            "description": "Type of employment (e.g., full-time, part-time).",
            "example": "Full-Time"
          },
          "employerName": {
            "type": "string",
            "description": "Name of the employer.",
            "example": "ABC Corp"
          },
          "occupation": {
            "type": "string",
            "description": "Occupation of the applicant.",
            "example": "Software Engineer"
          },
          "employmentStartDate": {
            "type": "string",
            "description": "Start date of employment.",
            "example": "2020-01-01"
          },
          "businessRegistrationNumber": {
            "type": "string",
            "description": "Business registration number if self-employed.",
            "example": "BR123456"
          },
          "grossMonthlyIncome": {
            "description": "Gross monthly income of the applicant.",
            "$ref": "#/components/schemas/Money"
          },
          "netMonthlyIncome": {
            "description": "Net monthly income of the applicant after deductions.",
            "$ref": "#/components/schemas/Money"
          },
          "otherMonthlyIncome": {
            "description": "Other sources of monthly income.",
            "$ref": "#/components/schemas/Money"
          },
          "verificationStatus": {
            "type": "string",
            "description": "Verification status of the income details.",
            "example": "Verified"
          }
        },
        "description": "Schema representing the income details of an applicant."
      },
      "MonthlyObligation": {
        "title": "Monthly Obligation",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency of the monthly obligation.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "Amount of the monthly obligation.",
            "example": "500"
          }
        },
        "description": "Schema representing a monthly financial obligation."
      },
      "DeclaredAsset": {
        "title": "Declared Asset",
        "type": "object",
        "properties": {
          "assetType": {
            "type": "string",
            "description": "Type of asset (e.g. house, car).",
            "example": "House"
          },
          "description": {
            "type": "string",
            "description": "Description of the asset.",
            "example": "Family home"
          },
          "estimatedValue": {
            "description": "Estimated value of the asset.",
            "$ref": "#/components/schemas/Money"
          }
        },
        "description": "Schema representing an asset declared by the applicant."
      },
      "DeclaredLiability": {
        "title": "Declared Liability",
        "type": "object",
        "properties": {
          "liabilityType": {
            "type": "string",
            "description": "Type of liability (e.g. loan, credit card).",
            "example": "Car Loan"
          },
          "lenderName": {
            "type": "string",
            "description": "Name of the lender.",
            "example": "XYZ Bank"
          },
          "outstandingBalance": {
            "description": "Outstanding balance of the liability.",
            "$ref": "#/components/schemas/Money"
          },
          "monthlyPayment": {
            "description": "Monthly payment amount for the liability.",
            "$ref": "#/components/schemas/Money"
          }
        },
        "description": "Schema representing a liability declared by the applicant."
      },
      "Audit": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp of when the record was created.",
            "example": "2023-01-01T12:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the record.",
            "example": "admin"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the record was last updated.",
            "example": "2023-01-10T12:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the record.",
            "example": "admin"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the record.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Schema containing audit details of the applicant's record."
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking the request.",
            "example": "CORR123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "US-East"
          }
        },
        "description": "Schema containing additional metadata for the applicant's record."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "applicantId": {
        "name": "applicantId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that handled the request, useful for tracking and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-update-applicant"
        },
        "example": "banking-loans-openapi-update-applicant"
      },
      "X-Runtime-App": {
        "description": "Indicates the specific application runtime environment in which the request was processed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens. This method utilizes JSON Web Tokens (JWT) for securely transmitting information between parties, which can be verified and trusted.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}