{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Systems Operations Management API",
    "description": "The Systems Operations Management API provides essential insights and management capabilities for IT systems within the banking environment. This API allows users to retrieve detailed operational information about various systems in the organization, facilitating effective management and decision-making. Typical consumers include IT administrators and operations teams who require visibility into system performance and status. By leveraging this API, organizations can enhance their IT management efficiency, ensuring system reliability and optimal performance.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/systems-operations/{param1}": {
      "get": {
        "tags": [],
        "summary": "Retrieve system operation details by ID",
        "description": "Fetch the details of a specific system operation using its unique identifier. This endpoint returns comprehensive information related to the operation, allowing developers to understand its configuration and status.",
        "operationId": "getSystemOperationById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the details of a specific operation under the IT management systems. It requires a structured payload in JSON format, adhering to the schema defined, which includes necessary parameters to specify the operation context.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSystemOperationByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSystemOperationByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetSystemOperationByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for fetching operations related to IT management systems.",
        "example": "{}"
      },
      "GetSystemOperationByIdResponse_200": {
        "type": "object",
        "properties": {
          "systemId": {
            "type": "string",
            "description": "The unique identifier of the system.",
            "example": "STANDARD"
          },
          "environment": {
            "type": "string",
            "description": "The environment in which the system operates (e.g., production, staging).",
            "example": "STANDARD"
          },
          "changeId": {
            "type": "string",
            "description": "The identifier for the associated change request.",
            "example": "STANDARD"
          },
          "ownerTeam": {
            "type": "string",
            "description": "The name of the team that owns the system.",
            "example": "STANDARD"
          },
          "plannedAt": {
            "type": "string",
            "description": "The planned date and time for maintenance or operations.",
            "example": "2026-08-11T12:00:00Z"
          },
          "serviceTier": {
            "type": "string",
            "description": "The service tier of the system indicating the level of service provided.",
            "example": "STANDARD"
          },
          "availabilityTargetPercent": {
            "type": "number",
            "description": "The target availability percentage for the system.",
            "example": 100.0
          },
          "maintenanceWindow": {
            "type": "string",
            "description": "The time window during which maintenance is planned.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record in the system.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the system.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "The unique identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "A correlation identifier for tracking requests through the system.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "The date and time when the response was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "The geographic region where the processing occurred.",
                "example": "string"
              }
            },
            "description": "Additional metadata related to the response.",
            "example": {
              "responseId": "71950a38-55b8-5260-950f-bf3ecb63f498",
              "correlationId": "b8099ed3-2805-5cc4-9e11-b8f164e31947",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Represents the response structure for the system operations in the IT management system.",
        "example": {
          "systemId": "STANDARD",
          "environment": "STANDARD",
          "changeId": "STANDARD",
          "ownerTeam": "STANDARD",
          "plannedAt": "2026-08-11T12:00:00Z",
          "serviceTier": "STANDARD",
          "availabilityTargetPercent": 100.0,
          "maintenanceWindow": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "71950a38-55b8-5260-950f-bf3ecb63f498",
            "correlationId": "b8099ed3-2805-5cc4-9e11-b8f164e31947",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint associated with the operation. This value helps in identifying the specific resource being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "systems-operations-get-systems-operations"
        },
        "example": "systems-operations-get-systems-operations"
      },
      "X-Runtime-App": {
        "description": "Indicates the name of the application runtime environment that is processing the request. This can assist in debugging and monitoring application performance.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authorization scheme that employs a bearer token, specifically a JSON Web Token (JWT), for authentication. Clients must include this token in the Authorization header when making requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}