{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Production Risk Models API",
    "description": "The Production Risk Models API provides access to a range of analytical models designed to assess and manage financial risks in banking operations. Users can retrieve various production risk models which are essential for evaluating potential risks associated with lending and investment activities. This API serves financial analysts, risk managers, and developers who need to integrate risk assessment functionalities into their applications. By leveraging this data, organizations can enhance their decision-making processes and improve overall risk management strategies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/models/production-risk-models": {
      "get": {
        "tags": [
          "Risk Management"
        ],
        "summary": "Retrieve a list of production risk models.",
        "description": "This endpoint allows you to fetch the details of all production risk models available in the system. The response will include model identifiers and their associated data.",
        "operationId": "getProductionRiskModels",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve production risk models. It contains the necessary parameters for the request in JSON format.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetProductionRiskModelsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the production risk models.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetProductionRiskModelsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetProductionRiskModelsRequest": {
        "type": "string",
        "description": "Request body for the GET operation on production risk models. This schema represents the input data as a string.",
        "example": "{}"
      },
      "GetProductionRiskModelsResponse_200": {
        "title": "Production Risk Models Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of production risk models.",
            "example": [
              {
                "modelId": "STANDARD",
                "modelVersion": "STANDARD",
                "portfolioId": "PORT-507958",
                "asOfDate": "2026-09-15",
                "scenario": "STANDARD",
                "confidenceLevel": 100.0,
                "validationDatasetId": "STANDARD",
                "backtestWindowMonths": 1,
                "approvalStatus": "ACTIVE",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ProductionRiskModel"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Field to sort the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for retrieving production risk models in the operations context.",
        "example": {
          "items": [
            {
              "modelId": "STANDARD",
              "modelVersion": "STANDARD",
              "portfolioId": "PORT-507958",
              "asOfDate": "2026-09-15",
              "scenario": "STANDARD",
              "confidenceLevel": 100.0,
              "validationDatasetId": "STANDARD",
              "backtestWindowMonths": 1,
              "approvalStatus": "ACTIVE",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "a04935f0-80f8-5db1-bd48-fa7a1f1e4622",
            "correlationId": "c2a609da-c01d-5a76-a4bb-01478115e223",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ProductionRiskModel": {
        "title": "Production Risk Model",
        "type": "object",
        "properties": {
          "modelId": {
            "type": "string",
            "description": "Unique identifier for the model.",
            "example": "model123"
          },
          "modelVersion": {
            "type": "string",
            "description": "Version of the model.",
            "example": "v1.0"
          },
          "portfolioId": {
            "type": "string",
            "description": "Unique identifier for the portfolio associated with this model.",
            "example": "portfolio456"
          },
          "asOfDate": {
            "type": "string",
            "description": "Date as of which the model is applicable.",
            "example": "2023-10-01"
          },
          "scenario": {
            "type": "string",
            "description": "Scenario under which the model was generated.",
            "example": "base"
          },
          "confidenceLevel": {
            "type": "number",
            "description": "Confidence level associated with the model's predictions.",
            "example": 0.95
          },
          "validationDatasetId": {
            "type": "string",
            "description": "Unique identifier for the validation dataset used.",
            "example": "dataset789"
          },
          "backtestWindowMonths": {
            "type": "integer",
            "description": "The backtest window in months for the model.",
            "format": "int32",
            "example": 12
          },
          "approvalStatus": {
            "type": "string",
            "description": "Current approval status of the model.",
            "example": "approved"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current record status of the model.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the model.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "Schema representing a production risk model."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Schema representing pagination information in the response."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for this response.",
            "example": "response123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating requests and responses.",
            "example": "corr456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the response was processed.",
            "example": "us-west"
          }
        },
        "description": "Schema containing metadata information of the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "production-risk-models-search-production-risk-models"
        },
        "example": "production-risk-models-search-production-risk-models"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses bearer authentication, where a JSON Web Token (JWT) is included in the authorization header of the request. The token serves as proof of authentication and authorization for accessing protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}