{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Central Cash Handling Management API",
    "description": "The Central Cash Handling Management API provides functionality for maintaining optimal cash levels within banking operations. This API allows users to update cash handling parameters, ensuring efficient management of central cash resources. Common use cases include enhancing cash distribution strategies and adjusting handling procedures. Typical consumers of this API include financial institutions and treasury management teams looking to streamline their cash operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/payments/central-cash-handling/{param1}": {
      "patch": {
        "tags": [
          "Payments"
        ],
        "summary": "Update Central Cash Handling Payment",
        "description": "This endpoint allows for the modification of the Central Cash Handling payment details identified by the unique resource identifier RES-100045. It ensures that all updates conform to the business rules applicable to cash handling processes.",
        "operationId": "updateCentralCashHandlingPayment",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "A JSON object representing the necessary information to update the central cash handling operations. This request body should be structured according to the schema defined in the components section, and must include all required fields to ensure successful processing of the patch request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCentralCashHandlingPaymentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was processed successfully and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateCentralCashHandlingPaymentResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateCentralCashHandlingPaymentRequest": {
        "title": "Patch Request Body for Payment Operations",
        "type": "object",
        "properties": {
          "changes": {
            "type": "object",
            "description": "Contains the specific changes to be made to the payment.",
            "$ref": "#/components/schemas/PaymentChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "Reason for the changes being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "Timestamp indicating when the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier for the user or system requesting the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "type": "object",
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for patch operations on payments including changes and request context.",
        "example": {
          "changes": {
            "paymentId": "PAY-787064",
            "debtorAccountId": "ACC-625741",
            "creditorAccountId": "ACC-339510"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "151385c5-9c2e-577c-bb1f-a13b4c051577",
            "correlationId": "f8686743-4ef0-5b43-9be5-aa11fba8d6df",
            "idempotencyKey": "7fd5b2e0-8124-5361-9b3f-068d11a280fd",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-990053"
            }
          }
        }
      },
      "PaymentChanges": {
        "title": "Payment Changes",
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "The unique identifier for the payment.",
            "example": "PAY-12345"
          },
          "debtorAccountId": {
            "type": "string",
            "description": "Identifier for the debtor's account.",
            "example": "ACCT-67890"
          },
          "creditorAccountId": {
            "type": "string",
            "description": "Identifier for the creditor's account.",
            "example": "ACCT-54321"
          }
        },
        "description": "Details of the changes to be applied to the payment."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests.",
            "example": "CORR-099"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to prevent duplicate processing of requests.",
            "example": "IDEMP-KEY-123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-01T11:59:59Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that originated the request.",
            "example": "Payment Service"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that originated the request.",
            "example": "Billing App"
          },
          "channel": {
            "type": "object",
            "description": "Information about the communication channel used.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information associated with the request."
      },
      "Channel": {
        "title": "Communication Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the communication channel.",
            "example": "CHANNEL-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the communication channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "DEVICE-ABC"
          }
        },
        "description": "Details about the channel through which the request was made."
      },
      "UpdateCentralCashHandlingPaymentResponse_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the resource was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the PATCH operation of central cash handling.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "2f7fdc3a-0eb9-571b-bbbf-14959e7e82b0",
            "correlationId": "f8686743-4ef0-5b43-9be5-aa11fba8d6df",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata information for the operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that was called during the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "central-cash-handling-update-central-cash-handling"
        },
        "example": "central-cash-handling-update-central-cash-handling"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request, indicating where the execution took place.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme employs a Bearer Token authentication mechanism, specifically designed for JSON Web Tokens (JWT). Clients must include this token in the `Authorization` header to access secure endpoints. The token must be a valid JWT that has been issued by a trusted authority.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}