{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Marketing Prospect Campaign Designs-spec",
    "description": "This API endpoint allows users to retrieve a list of marketing prospect campaign designs. Marketers and product managers can leverage this data to analyze design options and choose effective promotional strategies. By accessing this resource, users can enhance their understanding of available campaigns, streamline their planning processes, and make informed decisions for effective market outreach. Ideal for businesses aiming to optimize campaign initiatives and connect with potential customers, this API provides vital insights into campaign design availability.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/marketing/prospect-campaign-design": {
      "get": {
        "tags": [
          "Marketing"
        ],
        "summary": "Retrieve prospect campaign design details",
        "description": "This endpoint allows you to retrieve detailed information about the designs of prospect campaigns. Use this to assess the design elements used in your marketing strategies.",
        "operationId": "listMarketingProspectCampaignDesigns",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to define the details and parameters necessary for the prospect campaign design operation. It expects a structured JSON containing all relevant data to successfully process the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListMarketingProspectCampaignDesignsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the prospect campaign design.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListMarketingProspectCampaignDesignsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListMarketingProspectCampaignDesignsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation in the campaign design for prospect marketing. It is expected to contain a single string value.",
        "example": "{}"
      },
      "ListMarketingProspectCampaignDesignsResponse_200": {
        "title": "Campaign Design Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of campaign design items.",
            "example": [
              {
                "campaignId": "STANDARD",
                "targetSegmentId": "STANDARD",
                "channelMix": [
                  "STANDARD"
                ],
                "budget": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "startDate": "2026-09-15",
                "endDate": "2026-09-15",
                "campaignObjective": "STANDARD",
                "controlGroupPercent": 1,
                "contactFrequencyCap": 1,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CampaignDesignItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for retrieving campaign design details.",
        "example": {
          "items": [
            {
              "campaignId": "STANDARD",
              "targetSegmentId": "STANDARD",
              "channelMix": [
                "STANDARD"
              ],
              "budget": {
                "amount": 100.0,
                "currency": "USD"
              },
              "startDate": "2026-09-15",
              "endDate": "2026-09-15",
              "campaignObjective": "STANDARD",
              "controlGroupPercent": 1,
              "contactFrequencyCap": 1,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "8c7b1e8f-b5fd-5f47-bca8-d05c11206a08",
            "correlationId": "ee7e841d-69f2-51f5-8ee5-78c7de3244ea",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CampaignDesignItem": {
        "title": "Campaign Design Item",
        "type": "object",
        "properties": {
          "campaignId": {
            "type": "string",
            "description": "Unique identifier for the campaign."
          },
          "targetSegmentId": {
            "type": "string",
            "description": "Identifier for the target segment of the campaign."
          },
          "channelMix": {
            "type": "array",
            "description": "List of channels used in the campaign.",
            "items": {
              "type": "string",
              "description": "A channel used in the campaign."
            }
          },
          "budget": {
            "$ref": "#/components/schemas/Budget"
          },
          "startDate": {
            "type": "string",
            "description": "Start date of the campaign.",
            "format": "date-time"
          },
          "endDate": {
            "type": "string",
            "description": "End date of the campaign.",
            "format": "date-time"
          },
          "campaignObjective": {
            "type": "string",
            "description": "Objective of the campaign."
          },
          "controlGroupPercent": {
            "type": "integer",
            "description": "Percentage of the control group in the campaign.",
            "format": "int32"
          },
          "contactFrequencyCap": {
            "type": "integer",
            "description": "Maximum contact frequency for the campaign.",
            "format": "int32"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the campaign record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the campaign was last updated.",
            "format": "date-time"
          }
        },
        "description": "Detailed information about a campaign design."
      },
      "Budget": {
        "title": "Budget",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Amount of the budget allocated to the campaign."
          },
          "currency": {
            "type": "string",
            "description": "Currency of the budget amount."
          }
        },
        "description": "Budget details for a campaign."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Pagination information for the response."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request across systems."
          },
          "generatedAt": {
            "type": "string",
            "description": "Time at which the response was generated.",
            "format": "date-time"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed."
          }
        },
        "description": "Metadata for the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the API endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "prospect-campaign-design-search-prospect-campaign-design"
        },
        "example": "prospect-campaign-design-search-prospect-campaign-design"
      },
      "X-Runtime-App": {
        "description": "The version of the runtime application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication with JSON Web Tokens (JWT). Clients must send the JWT in the Authorization header as a 'Bearer' token to access protected resources in the API. Ensure that the JWT is valid and not expired.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}