{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Banking It Management Production Release-v5-spec",
    "description": "This API facilitates the management and release of banking IT projects, enabling efficient production deployment. It provides capabilities for initiating new IT management releases, ensuring that updates are systematically integrated into the production environment. Typical consumers include IT project managers and development teams who need to streamline their release cycles and improve software deployment practices. By utilizing this API, organizations can enhance their operational efficiency and reduce time-to-market for essential banking services.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/production-release": {
      "post": {
        "tags": [
          "IT Management"
        ],
        "summary": "Initiate a new production release.",
        "description": "This endpoint allows you to start the process of a new production release in the IT management system. Ensure all prerequisites are met before invoking this operation.",
        "operationId": "createBankingItManagementProductionRelease",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body encapsulates the necessary data for initiating a production release in the IT management system. The provided JSON structure must adhere to the defined schema to ensure successful processing of the release operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBankingItManagementProductionReleaseRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully in the production release.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBankingItManagementProductionReleaseResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateBankingItManagementProductionReleaseRequest": {
        "title": "Production Release Request",
        "type": "object",
        "properties": {
          "systemId": {
            "type": "string",
            "description": "The unique identifier for the system where the release is to be applied.",
            "example": "STANDARD"
          },
          "environment": {
            "type": "string",
            "description": "The environment in which the release will take place (e.g., production, staging).",
            "example": "STANDARD"
          },
          "changeId": {
            "type": "string",
            "description": "The unique identifier for the change associated with the release.",
            "example": "STANDARD"
          },
          "ownerTeam": {
            "type": "string",
            "description": "The team responsible for the release.",
            "example": "STANDARD"
          },
          "plannedAt": {
            "type": "string",
            "description": "The planned date and time for the release in ISO 8601 format.",
            "example": "2026-08-11T12:00:00Z"
          },
          "leasedAssetId": {
            "type": "string",
            "description": "The identifier for any leased assets related to the release.",
            "example": "STANDARD"
          },
          "residualValue": {
            "description": "The residual value of the asset post-release.",
            "$ref": "#/components/schemas/ResidualValue"
          },
          "leaseTermMonths": {
            "type": "integer",
            "description": "The duration of the lease term in months.",
            "format": "int32",
            "example": 1
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for creating a production release request in IT management.",
        "example": {
          "systemId": "STANDARD",
          "environment": "STANDARD",
          "changeId": "STANDARD",
          "ownerTeam": "STANDARD",
          "plannedAt": "2026-08-11T12:00:00Z",
          "leasedAssetId": "STANDARD",
          "residualValue": {
            "amount": 100.0,
            "currency": "USD"
          },
          "leaseTermMonths": 1,
          "requestContext": {
            "requestId": "f010853e-ed09-5584-a84f-9c824e9746cd",
            "correlationId": "73ff425b-b286-5f03-85f5-f473086166c6",
            "idempotencyKey": "472fab03-7782-5299-a23c-42938f725ef2",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-483947"
            }
          }
        }
      },
      "ResidualValue": {
        "title": "Residual Value",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The monetary amount representing the residual value.",
            "example": 1000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency code for the residual value (e.g., USD, EUR).",
            "example": "USD"
          }
        },
        "description": "Schema representing the residual value of an asset."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the specific request.",
            "example": "request123"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate multiple requests.",
            "example": "correlation456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used for ensuring that the request is idempotent.",
            "example": "key789"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was initiated in ISO 8601 format.",
            "example": "2023-10-01T09:30:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The identifier for the source system generating the request.",
            "example": "sourceSystemX"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application generating the request.",
            "example": "applicationY"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing contextual details of the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the communication channel.",
            "example": "channelX"
          },
          "channelType": {
            "type": "string",
            "description": "The type of communication channel (e.g., API, UI).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device making the request, if applicable.",
            "example": "device789"
          }
        },
        "description": "Schema representing the communication channel details."
      },
      "CreateBankingItManagementProductionReleaseResponse_201": {
        "type": "object",
        "properties": {
          "systemId": {
            "type": "string",
            "description": "Unique identifier for the system.",
            "example": "STANDARD"
          },
          "changeId": {
            "type": "string",
            "description": "Unique identifier for the change applied.",
            "example": "STANDARD"
          },
          "leasedAssetId": {
            "type": "string",
            "description": "Identifier for the leased asset involved in the operation.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "Identifier for the resource related to the operation.",
            "example": "RES-652966"
          },
          "status": {
            "type": "string",
            "description": "Current status of the production release operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "response-112233"
              },
              "correlationId": {
                "type": "string",
                "description": "ID used for correlating requests and responses.",
                "example": "correlation-445566"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the metadata was generated.",
                "example": "2023-10-01T12:01:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the processing took place.",
                "example": "us-west-1"
              }
            },
            "description": "Additional metadata about the operation.",
            "example": {
              "responseId": "169e85d1-c4d3-56d9-9e18-20eb88a079bf",
              "correlationId": "73ff425b-b286-5f03-85f5-f473086166c6",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for the production release operation in IT management.",
        "example": {
          "systemId": "STANDARD",
          "changeId": "STANDARD",
          "leasedAssetId": "STANDARD",
          "resourceId": "RES-652966",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "169e85d1-c4d3-56d9-9e18-20eb88a079bf",
            "correlationId": "73ff425b-b286-5f03-85f5-f473086166c6",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "production-release-create-production-release"
        },
        "example": "production-release-create-production-release"
      },
      "X-Runtime-App": {
        "description": "Identifier for the application that executed the runtime operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      },
      "X-Workflow-Id": {
        "description": "Unique identifier for the workflow associated with this operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-085"
        },
        "example": "WF-085"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IT Production Release and Deployment"
        },
        "example": "IT Production Release and Deployment"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "9ca21662-90b5-4ae7-83f8-d5fe18343977"
        },
        "example": "9ca21662-90b5-4ae7-83f8-d5fe18343977"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses JSON Web Tokens (JWT) as bearer tokens for authorizing requests. Clients must include the token in the 'Authorization' header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}