{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Merchant Acquiring Facility API",
    "description": "The Merchant Acquiring Facility API provides businesses with a streamlined way to access and manage their card processing capabilities. This API enables users to retrieve essential information regarding their merchant acquiring facilities, including transaction details and account status. It serves financial institutions, merchants, and service providers who require real-time insights for operational decision-making. By leveraging this API, users can enhance their payment processing efficiencies and contribute to a better customer experience.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9003",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cards/merchant-acquiring-facility": {
      "get": {
        "tags": [
          "Merchant Management"
        ],
        "summary": "Retrieve Merchant Acquiring Facility details.",
        "description": "This endpoint allows developers to fetch the details of merchant acquiring facilities associated with cards. It provides essential information that can be utilized for managing acquiring facilities effectively within the application.",
        "operationId": "getMerchantAcquiringFacility",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information regarding the merchant acquiring facility. Please ensure the request adheres to the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMerchantAcquiringFacilityRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of the merchant acquiring facility data.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMerchantAcquiringFacilityResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetMerchantAcquiringFacilityRequest": {
        "title": "Merchant Acquiring Facility Operations GET Request Body",
        "type": "string",
        "description": "A string representing the request body for the GET operation on the Merchant Acquiring Facility.",
        "example": "{}"
      },
      "GetMerchantAcquiringFacilityResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of merchant acquiring facilities.",
            "example": [
              {
                "merchantId": "MER-291817",
                "legalName": "Olivia Bennett",
                "merchantCategoryCode": "5411",
                "settlementAccountId": "ACC-518605",
                "settlementCurrency": "USD",
                "pricingPlan": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/MerchantAcquiringFacility"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sort order for the returned items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving merchant acquiring facility operations.",
        "example": {
          "items": [
            {
              "merchantId": "MER-291817",
              "legalName": "Olivia Bennett",
              "merchantCategoryCode": "5411",
              "settlementAccountId": "ACC-518605",
              "settlementCurrency": "USD",
              "pricingPlan": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "8ced20af-2ae1-5b7a-af3c-884c40645eed",
            "correlationId": "658b0110-3515-5ad4-b0fc-98a683b674f4",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "MerchantAcquiringFacility": {
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant.",
            "example": "123456"
          },
          "legalName": {
            "type": "string",
            "description": "Legal name of the merchant.",
            "example": "Acme Corp"
          },
          "merchantCategoryCode": {
            "type": "string",
            "description": "Category code that classifies the type of business.",
            "example": "5734"
          },
          "settlementAccountId": {
            "type": "string",
            "description": "Identifier for the merchant's settlement account.",
            "example": "acc_789012"
          },
          "settlementCurrency": {
            "type": "string",
            "description": "Currency used for settlement.",
            "example": "USD"
          },
          "pricingPlan": {
            "type": "string",
            "description": "Pricing plan applied to the merchant.",
            "example": "standard"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the record was last updated.",
            "example": "2023-10-01T10:00:00Z"
          }
        },
        "description": "Schema representing a merchant acquiring facility."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Schema representing pagination details of the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp_123abc"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses.",
            "example": "corr_456def"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T10:05:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "US-East"
          }
        },
        "description": "Schema for metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint being accessed, useful for logging and tracking purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "merchant-acquiring-facility-search-merchant-acquiring-facility"
        },
        "example": "merchant-acquiring-facility-search-merchant-acquiring-facility"
      },
      "x-runtime-app": {
        "description": "The version of the runtime application that is processing the request, aiding in debugging and compatibility assessments.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer authentication method. Clients must include a valid JSON Web Token (JWT) for accessing protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}