{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Loan Application Collaterals Retrieval API",
    "description": "The Loan Application Collaterals Retrieval API provides a means to access information regarding the collaterals associated with specific loan applications. By utilizing this endpoint, users can retrieve collateral details for a given loan application identified by a unique parameter. This functionality is essential for financial institutions and service providers managing loan documentation and risk assessments. Typical consumers include loan officers and compliance teams who need to verify and evaluate collateral assets throughout the loan approval process.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{param1}/collaterals": {
      "get": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Retrieve Collaterals for a Loan Application",
        "description": "This endpoint allows you to retrieve all collateral details associated with a specific loan application identified by its RES ID. You can use this information to assess the secured assets linked to the requested loan application.",
        "operationId": "getLoanApplicationsCollateralsByResId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving collateral information associated with the loan application identified by RES-100045. This payload may contain parameters that specify the details of the collateral to be fetched.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetLoanApplicationsCollateralsByResIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of collaterals for the loan application.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLoanApplicationsCollateralsByResIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetLoanApplicationsCollateralsByResIdRequest": {
        "type": "string",
        "description": "This schema represents the request body format for retrieving loan application collaterals.",
        "example": "{}"
      },
      "GetLoanApplicationsCollateralsByResIdResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of collateral items associated with the loan application.",
            "example": [
              {
                "collateralType": "STANDARD",
                "ownershipType": "STANDARD",
                "ownerCustomerIds": [
                  "CUST-665772"
                ],
                "description": "Customer banking request processed successfully",
                "marketValue": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "forcedSaleValue": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "valuationDate": "2026-09-15",
                "valuationProvider": "STANDARD",
                "lienPriority": "STANDARD",
                "id": "8d768c74-7c4f-19c9-c24d-e10368f7d183",
                "status": "ACTIVE",
                "loanToValuePercent": "STANDARD",
                "perfectedAt": "2026-08-11T12:00:00Z",
                "audit": {
                  "createdAt": "2026-09-15T14:30:00Z",
                  "createdBy": "STANDARD",
                  "updatedAt": "2026-09-15T14:30:00Z",
                  "updatedBy": "2026-09-15",
                  "version": 1
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CollateralItem"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for loan applications with collateral details.",
        "example": {
          "items": [
            {
              "collateralType": "STANDARD",
              "ownershipType": "STANDARD",
              "ownerCustomerIds": [
                "CUST-665772"
              ],
              "description": "Customer banking request processed successfully",
              "marketValue": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "forcedSaleValue": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "valuationDate": "2026-09-15",
              "valuationProvider": "STANDARD",
              "lienPriority": "STANDARD",
              "id": "8d768c74-7c4f-19c9-c24d-e10368f7d183",
              "status": "ACTIVE",
              "loanToValuePercent": "STANDARD",
              "perfectedAt": "2026-08-11T12:00:00Z",
              "audit": {
                "createdAt": "2026-09-15T14:30:00Z",
                "createdBy": "STANDARD",
                "updatedAt": "2026-09-15T14:30:00Z",
                "updatedBy": "2026-09-15",
                "version": 1
              }
            }
          ],
          "metadata": {
            "responseId": "c9fb132e-5ce3-5a66-9829-431cd2be68a2",
            "correlationId": "15497428-3787-535e-ba9d-9cadbac9f6a8",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CollateralItem": {
        "type": "object",
        "properties": {
          "collateralType": {
            "type": "string",
            "description": "Type of the collateral (e.g., real estate, vehicle)."
          },
          "ownershipType": {
            "type": "string",
            "description": "Ownership type of the collateral."
          },
          "ownerCustomerIds": {
            "type": "array",
            "description": "List of customer IDs for collateral owners.",
            "items": {
              "type": "string"
            }
          },
          "description": {
            "type": "string",
            "description": "Description of the collateral item."
          },
          "marketValue": {
            "$ref": "#/components/schemas/MoneyValue"
          },
          "forcedSaleValue": {
            "$ref": "#/components/schemas/MoneyValue"
          },
          "valuationDate": {
            "type": "string",
            "description": "Date when the collateral was valued."
          },
          "valuationProvider": {
            "type": "string",
            "description": "Provider of the valuation."
          },
          "lienPriority": {
            "type": "string",
            "description": "Priority of the lien on the collateral."
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the collateral item."
          },
          "status": {
            "type": "string",
            "description": "Current status of the collateral."
          },
          "loanToValuePercent": {
            "type": "string",
            "description": "Percentage of the loan amount to the value of the collateral."
          },
          "perfectedAt": {
            "type": "string",
            "description": "Date when the collateral's lien was perfected."
          },
          "audit": {
            "$ref": "#/components/schemas/AuditInfo"
          }
        },
        "description": "Details of an individual collateral item."
      },
      "MoneyValue": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency of the amount (e.g., USD, EUR)."
          },
          "amount": {
            "type": "string",
            "description": "Amount of money in the specified currency."
          }
        },
        "description": "Representation of a monetary value with currency."
      },
      "AuditInfo": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp of when the collateral item was created."
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the collateral item."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the collateral item."
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the collateral item."
          },
          "version": {
            "type": "integer",
            "description": "Version of the collateral item.",
            "format": "int32"
          }
        },
        "description": "Audit information for tracking changes to the collateral item."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request across systems."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed."
          }
        },
        "description": "Metadata related to the response of the loan application request."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-list-collaterals"
        },
        "example": "banking-loans-openapi-list-collaterals"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses JSON Web Tokens (JWT) for securing APIs. Clients must include the JWT in the `Authorization` header when making requests, following the pattern 'Bearer {token}'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}