{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Advanced Voice Services Operation Status-spec",
    "description": "The Advanced Voice Services Operation Status API provides real-time insights into the status of various advanced voice services operations. By utilizing this endpoint, developers can retrieve detailed information on the operational state of the voice services, enabling them to enhance user experience and service reliability. Common use cases include monitoring service performance, troubleshooting issues, and ensuring optimal operation of voice services within banking applications. This API is essential for system integrators and IT administrators managing voice services in a banking context.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/advanced-voice-services-operations/status": {
      "get": {
        "tags": [
          "Voice Services"
        ],
        "summary": "Retrieve the current status of advanced voice services operations.",
        "description": "This endpoint allows users to obtain the latest status of advanced voice services operations, providing insights into operational health and any issues that may be affecting functionality.",
        "operationId": "listAdvancedVoiceServicesOperationStatus",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is utilized to retrieve the current status of advanced voice services operations for a specified channel. It requires that the necessary parameters are included to ensure the correct channel data is returned.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListAdvancedVoiceServicesOperationStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed, returning the current status of the service.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAdvancedVoiceServicesOperationStatusResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListAdvancedVoiceServicesOperationStatusRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation regarding the status of advanced voice services operations within a specific channel.",
        "example": "{}"
      },
      "ListAdvancedVoiceServicesOperationStatusResponse_200": {
        "title": "Advanced Voice Services Operations Status Response",
        "type": "object",
        "properties": {
          "voicePlatformId": {
            "type": "string",
            "description": "The unique identifier for the voice platform.",
            "example": "STANDARD"
          },
          "ivrFlowId": {
            "type": "string",
            "description": "The unique identifier for the IVR flow associated with the voice service.",
            "example": "STANDARD"
          },
          "supportedLanguages": {
            "type": "array",
            "description": "A list of languages supported by the voice platform.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "A language code representing a supported language.",
              "example": "en"
            }
          },
          "concurrentCallCapacity": {
            "type": "integer",
            "description": "The maximum number of concurrent calls the voice platform can handle.",
            "format": "int32",
            "example": 1
          },
          "regionCode": {
            "type": "string",
            "description": "The code representing the geographical region of the voice platform.",
            "example": "US-EAST-1"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the recording feature for the voice service.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the voice service.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of the last update to the service status.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "A unique identifier for the response.",
                "example": "resp12345"
              },
              "correlationId": {
                "type": "string",
                "description": "A unique identifier for tracing the request across systems.",
                "example": "corr12345"
              },
              "generatedAt": {
                "type": "string",
                "description": "The timestamp when the response was generated.",
                "example": "2023-10-10T12:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region in which the response was processed.",
                "example": "us-east-1"
              }
            },
            "description": "Metadata related to the response for tracking and debugging purposes.",
            "example": {
              "responseId": "62ea8ac4-5d76-5c6a-998c-0c5d09706914",
              "correlationId": "f1f959d4-600d-5a65-a7cf-25b0b2290972",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Represents the status response for advanced voice services operations.",
        "example": {
          "voicePlatformId": "STANDARD",
          "ivrFlowId": "STANDARD",
          "supportedLanguages": [
            "STANDARD"
          ],
          "concurrentCallCapacity": 1,
          "regionCode": "US-EAST-1",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "62ea8ac4-5d76-5c6a-998c-0c5d09706914",
            "correlationId": "f1f959d4-600d-5a65-a7cf-25b0b2290972",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "advanced-voice-services-operations-get-advanced-voice-services-operations"
        },
        "example": "advanced-voice-services-operations-get-advanced-voice-services-operations"
      },
      "X-Runtime-App": {
        "description": "The runtime application name associated with the processing of the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes a Bearer authentication method using JSON Web Tokens (JWT) for authorization. Clients must include the JWT in the 'Authorization' header when making requests to access secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}