{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Adjust Settlement API",
    "description": "The Adjust Settlement API allows authorized users to modify existing settlement records within the system. This functionality is essential for businesses to keep their records accurate and up-to-date, enabling the correction of errors or updates to relevant details. Utilized primarily by finance and operations teams, this API supports maintaining the integrity of financial data for periods of reconciliation. Typical use cases include changing settlement amounts, updating dates, or adjusting related information to ensure compliance and accuracy.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/settlements/{settlementId}": {
      "patch": {
        "tags": [
          "Settlement Management"
        ],
        "summary": "Update a specific settlement.",
        "description": "This operation allows you to patch and update the details of a specific settlement identified by its unique ID. You can modify any relevant attributes of the settlement as needed.",
        "operationId": "updateSettlementById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/settlementId"
          }
        ],
        "requestBody": {
          "description": "This request body allows for the patching of settlement information for a given identifier. The data provided will update the existing records as specified in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSettlementByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was processed successfully and the settlement details were updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateSettlementByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateSettlementByIdRequest": {
        "title": "PATCH Request Body for Operations",
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for the PATCH operation on settlements.",
        "example": {
          "status": "ACTIVE",
          "requestContext": {
            "requestId": "95e859c9-c487-56e7-b0df-1ae848a4ab06",
            "correlationId": "85c1909a-84ac-55b1-9098-1fe2267c978a",
            "idempotencyKey": "18aa9190-ee95-5b24-bc3d-1c4f0b0d11c2",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-569920"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to track requests across systems.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure the request is idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system initiating the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application initiating the request.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contains contextual information about the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier for the device used.",
            "example": "string"
          }
        },
        "description": "Information about the channel through which the request was made."
      },
      "UpdateSettlementByIdResponse_200": {
        "type": "object",
        "properties": {
          "settlementId": {
            "type": "string",
            "description": "Unique identifier for the settlement.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant associated with the settlement.",
            "example": "MER-738263"
          },
          "settlementAccountId": {
            "type": "string",
            "description": "Unique identifier for the settlement account.",
            "example": "ACC-952028"
          },
          "periodStart": {
            "type": "string",
            "description": "Start date of the settlement period.",
            "example": "2026-08-11T12:00:00Z"
          },
          "periodEnd": {
            "type": "string",
            "description": "End date of the settlement period.",
            "example": "2026-08-11T12:00:00Z"
          },
          "currency": {
            "type": "string",
            "description": "Currency used for the settlement.",
            "example": "USD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the settlement.",
            "example": "ACTIVE"
          },
          "summary": {
            "description": "Summary details of the settlement operation.",
            "$ref": "#/components/schemas/Summary"
          },
          "lineCount": {
            "type": "integer",
            "description": "Number of transaction lines included in the settlement.",
            "format": "int32",
            "example": 1
          },
          "bankPayoutReference": {
            "type": "string",
            "description": "Reference number provided by the bank for the payout.",
            "example": "STANDARD"
          },
          "expectedPayoutAt": {
            "type": "string",
            "description": "Expected date and time for the payout.",
            "example": "2026-08-11T12:00:00Z"
          },
          "paidAt": {
            "type": "string",
            "description": "Date and time when the settlement was paid.",
            "example": "2026-08-11T12:00:00Z"
          },
          "audit": {
            "description": "Audit information for the settlement.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Additional metadata related to the settlement response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for successful settlement operation.",
        "example": {
          "settlementId": "STANDARD",
          "merchantId": "MER-738263",
          "settlementAccountId": "ACC-952028",
          "periodStart": "2026-08-11T12:00:00Z",
          "periodEnd": "2026-08-11T12:00:00Z",
          "currency": "USD",
          "status": "ACTIVE",
          "summary": {
            "grossPayments": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "refunds": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "reversals": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "disputes": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "fees": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "taxes": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "reserveHeld": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "reserveReleased": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "adjustments": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "netSettlement": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "lineCount": 1,
          "bankPayoutReference": "STANDARD",
          "expectedPayoutAt": "2026-08-11T12:00:00Z",
          "paidAt": "2026-08-11T12:00:00Z",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15"
          },
          "metadata": {
            "responseId": "e712e9f2-b8c9-5d66-bf4a-2e512805f125",
            "correlationId": "85c1909a-84ac-55b1-9098-1fe2267c978a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Summary": {
        "type": "object",
        "properties": {
          "grossPayments": {
            "description": "Total gross payments processed in the settlement.",
            "$ref": "#/components/schemas/FinancialAmount"
          },
          "refunds": {
            "description": "Total refunds processed in the settlement.",
            "$ref": "#/components/schemas/FinancialAmount"
          },
          "reversals": {
            "description": "Total reversals processed in the settlement.",
            "$ref": "#/components/schemas/FinancialAmount"
          },
          "disputes": {
            "description": "Total disputes processed in the settlement.",
            "$ref": "#/components/schemas/FinancialAmount"
          },
          "fees": {
            "description": "Total fees incurred during the settlement.",
            "$ref": "#/components/schemas/FinancialAmount"
          },
          "taxes": {
            "description": "Total taxes incurred during the settlement.",
            "$ref": "#/components/schemas/FinancialAmount"
          },
          "reserveHeld": {
            "description": "Total amount held in reserve during the settlement.",
            "$ref": "#/components/schemas/FinancialAmount"
          },
          "reserveReleased": {
            "description": "Total amount released from reserve during the settlement.",
            "$ref": "#/components/schemas/FinancialAmount"
          },
          "adjustments": {
            "description": "Total adjustments made during the settlement.",
            "$ref": "#/components/schemas/FinancialAmount"
          },
          "netSettlement": {
            "description": "Net settlement amount after all adjustments and holdings.",
            "$ref": "#/components/schemas/FinancialAmount"
          }
        },
        "description": "Summary details of the settlement, including various financial metrics."
      },
      "FinancialAmount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency code of the financial amount.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "Value of the financial amount in string format.",
            "example": "100.00"
          }
        },
        "description": "Object representing a financial amount, including its currency and value."
      },
      "Audit": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the record was created.",
            "example": "2023-01-01T00:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the record.",
            "example": "user123"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the record was last updated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the record.",
            "example": "user456"
          }
        },
        "description": "Audit information capturing the creation and modification details."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response_123"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID used for tracking the request across systems.",
            "example": "correlation_456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "US-West"
          }
        },
        "description": "Additional metadata related to the response, providing context and tracking information."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "settlementId": {
        "name": "settlementId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-update-settlement"
        },
        "example": "banking-p2m-openapi-update-settlement"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request, which can be useful for debugging and logging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, where clients are required to provide a JSON Web Token (JWT) for authorization. The JWT should be included in the `Authorization` header of the HTTP request, formatted as 'Bearer <token>'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}