{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Banking Human Resource Management Recruitments-v5-spec",
    "description": "The Recruitment Management API provides tools to access and manage recruitment data within the Banking Human Resource Management framework. Users can retrieve information about available job positions, candidates, and application statuses. This API is ideal for HR professionals and recruitment teams who need to monitor and analyze the hiring process efficiently. By leveraging this API, organizations can streamline their recruitment efforts, improve candidate engagement, and ensure a robust hiring strategy.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/recruitment": {
      "get": {
        "tags": [
          "Recruitment"
        ],
        "summary": "Retrieve recruitment records.",
        "description": "This endpoint allows users to retrieve a comprehensive list of recruitment records from the human resource management system, enabling better hiring decisions and workforce planning.",
        "operationId": "listBankingHumanResourceManagementRecruitments",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve recruitment data within the Human Resource Management system. It should include necessary parameters to filter or specify the recruitment details being requested.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListBankingHumanResourceManagementRecruitmentsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of recruitment entries.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBankingHumanResourceManagementRecruitmentsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListBankingHumanResourceManagementRecruitmentsRequest": {
        "type": "string",
        "description": "A request body schema for human resource management recruitment operations in JSON format.",
        "example": "{}"
      },
      "ListBankingHumanResourceManagementRecruitmentsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of recruitment requisitions.",
            "example": [
              {
                "requisitionId": "STANDARD",
                "positionTitle": "STANDARD",
                "departmentId": "STANDARD",
                "employmentType": "STANDARD",
                "location": "STANDARD",
                "targetStartDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Requisition"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting criteria used for the requisitions.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving recruitment operations.",
        "example": {
          "items": [
            {
              "requisitionId": "STANDARD",
              "positionTitle": "STANDARD",
              "departmentId": "STANDARD",
              "employmentType": "STANDARD",
              "location": "STANDARD",
              "targetStartDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "72e6713a-ebeb-58d3-ad06-2a02c4a1c9a3",
            "correlationId": "ae29f071-0a20-5b8b-8996-815022ac0b9e",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Requisition": {
        "type": "object",
        "properties": {
          "requisitionId": {
            "type": "string",
            "description": "Unique identifier for the requisition.",
            "example": "REQ123456"
          },
          "positionTitle": {
            "type": "string",
            "description": "Title of the position being recruited for.",
            "example": "Software Engineer"
          },
          "departmentId": {
            "type": "string",
            "description": "Identifier for the department associated with the requisition.",
            "example": "DEP001"
          },
          "employmentType": {
            "type": "string",
            "description": "Type of employment (e.g., full-time, part-time).",
            "example": "Full-Time"
          },
          "location": {
            "type": "string",
            "description": "Location where the position is based.",
            "example": "New York, NY"
          },
          "targetStartDate": {
            "type": "string",
            "description": "Target date for the position to be filled.",
            "example": "2023-11-01"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the requisition record.",
            "example": "Open"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the requisition was last updated.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "Details of a recruitment requisition."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Information about pagination for the results."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP123456"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used to correlate requests and responses.",
            "example": "CORR123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "US-East"
          }
        },
        "description": "Metadata information for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "recruitment-search-recruitment"
        },
        "example": "recruitment-search-recruitment"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes a bearer token for authentication, specifically in the form of a JSON Web Token (JWT). The token should be included in the Authorization header of each request to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}