{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Banking Human Resource Management Travel Expense By Travel Expense Id-v5-spec",
    "description": "The Travel Expense Retrieval API provides access to detailed information regarding travel expenses within a banking human resource management system. Through this endpoint, users can retrieve specific travel expense records using a unique identifier. This functionality is essential for finance teams and HR personnel who need to audit, analyze, or process travel-related expenditures. It streamlines the management of travel budgets and ensures compliance with corporate policies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/travel-expenses/{travelExpenseId}": {
      "get": {
        "tags": [
          "Travel Expense Management"
        ],
        "summary": "Retrieve travel expense details by ID.",
        "description": "This endpoint allows users to retrieve detailed information about a specific travel expense using its unique identifier. It is designed for efficient access to travel expense records and provides relevant data for resource management.",
        "operationId": "getBankingHumanResourceManagementTravelExpenseByTravelExpenseId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/travelExpenseId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information related to travel expenses for a specific resource identified by RES-100045. Ensure to provide the required parameters to get the desired travel expense details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBankingHumanResourceManagementTravelExpenseByTravelExpenseIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the travel expense details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBankingHumanResourceManagementTravelExpenseByTravelExpenseIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBankingHumanResourceManagementTravelExpenseByTravelExpenseIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the travel expenses operations in the Human Resource Management system.",
        "example": "{}"
      },
      "GetBankingHumanResourceManagementTravelExpenseByTravelExpenseIdResponse_200": {
        "type": "object",
        "properties": {
          "expenseReportId": {
            "type": "string",
            "description": "The unique identifier for the expense report.",
            "example": "STANDARD"
          },
          "employeeId": {
            "type": "string",
            "description": "The identifier for the employee associated with the expense report.",
            "example": "EMP-979659"
          },
          "tripPurpose": {
            "type": "string",
            "description": "The purpose of the trip for which expenses are submitted.",
            "example": "STANDARD"
          },
          "expensePeriod": {
            "description": "The timeframe during which the expenses were incurred.",
            "$ref": "#/components/schemas/ExpensePeriod"
          },
          "claimedAmount": {
            "description": "The total amount claimed for reimbursement.",
            "$ref": "#/components/schemas/ClaimedAmount"
          },
          "costCenter": {
            "type": "string",
            "description": "The cost center associated with the reported expenses.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the expense report.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the expense report.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the expense report was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional information related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "example": {
          "expenseReportId": "STANDARD",
          "employeeId": "EMP-979659",
          "tripPurpose": "STANDARD",
          "expensePeriod": {
            "from": "2026-08-11",
            "to": "2026-08-11"
          },
          "claimedAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "costCenter": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "adc2703b-8f8a-587a-9c31-e3447cfaba33",
            "correlationId": "7715b599-329b-5d2b-bbcf-fff221b7d521",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ExpensePeriod": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "description": "The start date of the expense period.",
            "example": "2023-09-01"
          },
          "to": {
            "type": "string",
            "description": "The end date of the expense period.",
            "example": "2023-09-30"
          }
        },
        "description": "The period during which the expenses were incurred."
      },
      "ClaimedAmount": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The monetary amount claimed.",
            "example": 2500.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is claimed.",
            "example": "USD"
          }
        },
        "description": "The amount claimed for reimbursement along with its currency."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "RES-100045"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking requests.",
            "example": "CORR-98765"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "US-EAST"
          }
        },
        "description": "Additional metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "travelExpenseId": {
        "name": "travelExpenseId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being called, useful for tracing requests and responses in logging systems.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "travel-and-expenses-get-travel-and-expenses"
        },
        "example": "travel-and-expenses-get-travel-and-expenses"
      },
      "X-Runtime-App": {
        "description": "The name of the runtime application that processed the request. This helps in identifying which application instance handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using a Bearer token, typically in the form of a JSON Web Token (JWT). This allows users to access protected resources by presenting a valid token.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}