{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Securities Financing API",
    "description": "The Securities Financing API allows users to access detailed information regarding securities financing transactions. This endpoint provides critical insights into various financing operations, enabling stakeholders like treasury departments and financial analysts to monitor and analyze their securities inventory efficiently. Typical use cases include retrieving current financing rates, terms, and associated collateral details. By enabling seamless access to these data points, the API supports informed decision-making and enhances risk management capabilities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/treasury/securities-financing/{param1}": {
      "get": {
        "tags": [
          "Securities Financing"
        ],
        "summary": "Retrieve details for a specific securities financing resource.",
        "description": "This endpoint allows users to fetch detailed information regarding a specific securities financing resource identified by its unique ID. Utilize this operation to gain insights or perform further operations related to the resource in question.",
        "operationId": "getSecuritiesFinancingById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body contains the necessary information required to retrieve data related to the securities financing operation identified by RES-100045. Please ensure the body adheres to the schema structure to avoid errors in the processing of the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSecuritiesFinancingByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the requested securities financing information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSecuritiesFinancingByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetSecuritiesFinancingByIdRequest": {
        "type": "string",
        "description": "A JSON representation of the request body for the GET operation on the securities financing resource.",
        "example": "{}"
      },
      "GetSecuritiesFinancingByIdResponse_200": {
        "title": "Securities Financing Operation Response",
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "The unique identifier of the portfolio.",
            "example": "PORT-413164"
          },
          "instrumentId": {
            "type": "string",
            "description": "The unique identifier of the financial instrument.",
            "example": "STANDARD"
          },
          "counterpartyId": {
            "type": "string",
            "description": "The unique identifier of the counterparty involved in the transaction.",
            "example": "PARTY-223166"
          },
          "notionalAmount": {
            "description": "The notional amount related to the transaction.",
            "$ref": "#/components/schemas/NotionalAmount"
          },
          "maturityDate": {
            "type": "string",
            "description": "The maturity date of the financial instrument, formatted as a date string.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record (e.g., active, inactive).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the record was last updated, formatted as a date-time string.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response from the Securities Financing Operations GET endpoint, containing details about specific financial instruments and their associated metadata.",
        "example": {
          "portfolioId": "PORT-413164",
          "instrumentId": "STANDARD",
          "counterpartyId": "PARTY-223166",
          "notionalAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "maturityDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "24520df6-10d8-5e53-87f7-d48b698c3c75",
            "correlationId": "fc49317b-35d5-52f4-9f69-55a8e4a77b31",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "NotionalAmount": {
        "title": "Notional Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The numerical value of the notional amount.",
            "example": 1000000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the notional amount is expressed.",
            "example": "USD"
          }
        },
        "description": "Represents the notional amount in a specified currency."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for this specific response.",
            "example": "response123"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to track the request across multiple services.",
            "example": "correlation456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp of when the response was generated, formatted as a date-time string.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "us-west-1"
          }
        },
        "description": "Contains additional information for tracking and processing."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that was accessed, allowing for tracking of the request flow.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "stock-lending-and-repos-get-stock-lending-and-repos"
        },
        "example": "stock-lending-and-repos-get-stock-lending-and-repos"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request, providing insight into the backend service involved.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a bearer token for securing API access. The bearer token is a JSON Web Token (JWT) that grants access to the API and must be included in the authorization header of the request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}