{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Location Matches API",
    "description": "The Location Matches API provides businesses with the capability to retrieve matching location data based on specific criteria. This endpoint allows users to query and receive detailed information about various locations that align with their decisioning processes. Typical consumers include data analysts, location strategists, and software developers working on geospatial applications. By leveraging this API, organizations can make informed decisions on optimization and resource allocation in their operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/decisioning/sbca/location-matches": {
      "get": {
        "tags": [
          "Location Management"
        ],
        "summary": "Retrieve location matches based on given criteria.",
        "description": "This endpoint allows clients to fetch matching locations according to specified parameters. It is optimal for scenarios where location data needs to be cross-referenced or validated against provided criteria.",
        "operationId": "getLocationMatches",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve location matches based on specified criteria. It is important to provide valid parameters as defined in the schema for accurate results.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetLocationMatchesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of location matches.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLocationMatchesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetLocationMatchesRequest": {
        "type": "string",
        "description": "The request body for the GET operation related to location matches. This schema represents a string type, which may include location data or identifiers.",
        "example": "{}"
      },
      "GetLocationMatchesResponse_200": {
        "type": "object",
        "properties": {
          "locationMatches": {
            "type": "array",
            "description": "An array of location match objects.",
            "example": [
              {
                "locationId": "e19ddfa2-42a4-3b91-0ce5-b80dad35b48f",
                "matchRank": 1,
                "merchantName": "Northstar Banking Service",
                "streetAddress": "STANDARD",
                "city": "New York",
                "state": "STANDARD",
                "postalCode": "10001",
                "countryCode": "US"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/LocationMatch"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for location matches in the GET operations.",
        "example": {
          "locationMatches": [
            {
              "locationId": "e19ddfa2-42a4-3b91-0ce5-b80dad35b48f",
              "matchRank": 1,
              "merchantName": "Northstar Banking Service",
              "streetAddress": "STANDARD",
              "city": "New York",
              "state": "STANDARD",
              "postalCode": "10001",
              "countryCode": "US"
            }
          ],
          "metadata": {
            "responseId": "2f15676d-ca21-590d-9b5c-8285a131ba32",
            "correlationId": "6893ef68-edb9-54d7-9471-29c7fc829332",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "LocationMatch": {
        "type": "object",
        "properties": {
          "locationId": {
            "type": "string",
            "description": "Unique identifier for the location.",
            "example": "loc123"
          },
          "matchRank": {
            "type": "integer",
            "description": "Rank of the match based on relevance.",
            "format": "int32",
            "example": 1
          },
          "merchantName": {
            "type": "string",
            "description": "Name of the merchant at the location.",
            "example": "Joe's Coffee Shop"
          },
          "streetAddress": {
            "type": "string",
            "description": "Street address of the location.",
            "example": "123 Coffee St"
          },
          "city": {
            "type": "string",
            "description": "City where the location is situated.",
            "example": "Seattle"
          },
          "state": {
            "type": "string",
            "description": "State where the location is situated.",
            "example": "WA"
          },
          "postalCode": {
            "type": "string",
            "description": "Postal code for the location.",
            "example": "98101"
          },
          "countryCode": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2 country code for the location.",
            "example": "US"
          }
        },
        "description": "Schema representing a match for a location."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp456"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request.",
            "example": "corr789"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-09T12:34:56Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "US-West"
          }
        },
        "description": "Schema containing metadata regarding the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-location-matches"
        },
        "example": "open-finance-api-get-location-matches"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication mechanism using a Bearer token, typically a JSON Web Token (JWT). This allows secure access to the API by including the token in the Authorization header of requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}