{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Funds Confirmation API",
    "description": "The Funds Confirmation API enables financial institutions to verify the availability of funds for international payments. By accessing this endpoint, users can check whether sufficient funds are present in a specified account prior to processing a transaction. This functionality is crucial for ensuring smooth operations in payment processing, particularly for third-party providers facilitating open banking solutions. Typical consumers of this API include banks, payment service providers, and developers building financial applications that require real-time fund verification.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/international-payment-consents/{param1}/funds-confirmation": {
      "get": {
        "tags": [
          "International Payments"
        ],
        "summary": "Retrieve funds confirmation for a specific international payment consent.",
        "description": "This endpoint allows you to verify whether the required funds are available for a specific international payment consent identified by its unique reference. Utilizing this API, developers can ensure that the transaction can proceed without any funding issues.",
        "operationId": "getFundsConfirmationForInternationalPaymentConsent",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for initiating a funds confirmation process for the specified international payment consent. Ensure that the required schema attributes are accurately provided to facilitate the confirmation of available funds.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetFundsConfirmationForInternationalPaymentConsentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of funds confirmation.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFundsConfirmationForInternationalPaymentConsentResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetFundsConfirmationForInternationalPaymentConsentRequest": {
        "type": "string",
        "description": "This schema represents the request body for confirming funds in an international payment consent operation.",
        "example": "{}"
      },
      "GetFundsConfirmationForInternationalPaymentConsentResponse_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "description": "Contains the main data regarding funds availability.",
            "$ref": "#/components/schemas/FundsAvailabilityData"
          },
          "Links": {
            "type": "object",
            "description": "Links for navigation in the response.",
            "$ref": "#/components/schemas/PaginationLinks"
          },
          "Meta": {
            "type": "object",
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/ResponseMeta"
          },
          "metadata": {
            "type": "object",
            "description": "Additional metadata regarding the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for funds confirmation in international payment consents.",
        "example": {
          "Data": {
            "FundsAvailableResult": {
              "FundsAvailableDateTime": "2026-09-15T14:30:00Z",
              "FundsAvailable": true
            }
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource",
            "Next": "https://example.com/resource",
            "Last": "https://example.com/resource"
          },
          "Meta": {
            "TotalPages": 1,
            "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
            "LastAvailableDateTime": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "responseId": "fc58b79c-9a7b-5490-97ff-a59c41859adf",
            "correlationId": "592cb2fb-5c3b-5765-bdea-51a8432ee93a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "FundsAvailabilityData": {
        "type": "object",
        "properties": {
          "FundsAvailableResult": {
            "type": "object",
            "properties": {
              "FundsAvailableDateTime": {
                "type": "string",
                "description": "Timestamp indicating when funds availability was determined.",
                "example": "2023-10-01T12:00:00Z"
              },
              "FundsAvailable": {
                "type": "boolean",
                "description": "Indicates whether funds are available.",
                "example": false
              }
            },
            "description": "Result of the funds availability check."
          }
        },
        "description": "Data structure containing funds availability result."
      },
      "PaginationLinks": {
        "type": "object",
        "properties": {
          "Self": {
            "type": "string",
            "description": "Link to the current resource.",
            "example": "https://api.example.com/self"
          },
          "First": {
            "type": "string",
            "description": "Link to the first page of results.",
            "example": "https://api.example.com/first"
          },
          "Prev": {
            "type": "string",
            "description": "Link to the previous page of results.",
            "example": "https://api.example.com/prev"
          },
          "Next": {
            "type": "string",
            "description": "Link to the next page of results.",
            "example": "https://api.example.com/next"
          },
          "Last": {
            "type": "string",
            "description": "Link to the last page of results.",
            "example": "https://api.example.com/last"
          }
        },
        "description": "Contains pagination links for navigating through responses."
      },
      "ResponseMeta": {
        "type": "object",
        "properties": {
          "TotalPages": {
            "type": "integer",
            "description": "Total number of pages available.",
            "format": "int32",
            "example": 10
          },
          "FirstAvailableDateTime": {
            "type": "string",
            "description": "Timestamp for the first available date.",
            "example": "2023-10-01T00:00:00Z"
          },
          "LastAvailableDateTime": {
            "type": "string",
            "description": "Timestamp for the last available date.",
            "example": "2023-10-31T23:59:59Z"
          }
        },
        "description": "Metadata about the response such as pagination details."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-id-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "ID that correlates multiple requests.",
            "example": "correlation-id-67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "US-East"
          }
        },
        "description": "Detailed metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint handling the request. This ID can be used for tracing the request through the system.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-confirm-international-payment-funds"
        },
        "example": "payment-initiation-openapi-confirm-international-payment-funds"
      },
      "X-Runtime-App": {
        "description": "Indicates the name of the application in which the request is being processed. This helps identify the origin of the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a bearer token. The token, typically a JSON Web Token (JWT), must be included in the Authorization header of the request to grant access.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}