{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Unit Trust Administration Management API",
    "description": "The Unit Trust Administration Management API facilitates the updating and maintenance of unit trust account details within the banking operations framework. This endpoint allows users to make modifications to existing unit trust records, ensuring that financial information remains accurate and up-to-date. Typical consumers include financial institutions, asset managers, and compliance officers who require reliable and efficient management of unit trust accounts. By streamlining administrative tasks, this API enhances operational efficiency and supports regulatory compliance.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-operations/unit-trust-administration/{param1}": {
      "patch": {
        "tags": [
          "Unit Trust Administration"
        ],
        "summary": "Update unit trust administration details",
        "description": "This operation allows you to update the details of a specific unit trust administration resource identified by its unique ID. Ensure that you provide the necessary data for the update in the request.",
        "operationId": "patchUnitTrustAdministrationById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the operations related to unit trust administration for the specified resource. The provided data should conform to the defined schema to ensure that the update is successful.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchUnitTrustAdministrationByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The operation was successful and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchUnitTrustAdministrationByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchUnitTrustAdministrationByIdRequest": {
        "title": "Unit Trust Administration Patch Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "description": "Details of the changes requested for the unit trust.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "Reason for the change request.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The timestamp at which the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the requester of the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for patching unit trust administration operations.",
        "example": {
          "changes": {
            "fundId": "STANDARD",
            "shareClassId": "STANDARD",
            "valuationDate": "2026-09-15"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "3f26340e-0c17-5f59-98af-dd8cc35df43a",
            "correlationId": "1c3ab619-39d2-5466-8b51-7079d2b08dfd",
            "idempotencyKey": "aa2303c9-9d49-595b-a83d-bf46c34ee28d",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-498125"
            }
          }
        }
      },
      "Changes": {
        "title": "Changes in Unit Trust Administration",
        "type": "object",
        "properties": {
          "fundId": {
            "type": "string",
            "description": "Identifier of the fund being changed.",
            "example": "fund-123"
          },
          "shareClassId": {
            "type": "string",
            "description": "Identifier of the share class being changed.",
            "example": "share-class-A"
          },
          "valuationDate": {
            "type": "string",
            "description": "Date for which the valuation is requested.",
            "example": "2023-10-01"
          }
        },
        "description": "Details of changes specific to unit trust attributes."
      },
      "RequestContext": {
        "title": "Request Context for Unit Trust Administration",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate between related requests.",
            "example": "corr-789"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of the request.",
            "example": "idempotency-key-001"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was initiated.",
            "example": "2023-10-01T00:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name of the system from which the request originated.",
            "example": "CRM System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request was made.",
            "example": "Web Portal"
          },
          "channel": {
            "description": "Channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Information related to the context of the request."
      },
      "Channel": {
        "title": "Channel Information for Requests",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier of the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used for the request.",
            "example": "device-001"
          }
        },
        "description": "Details about the channel used for the request."
      },
      "PatchUnitTrustAdministrationByIdResponse_200": {
        "title": "Unit Trust Administration Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the operation was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the Unit Trust Administration PATCH operation.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "22484d3a-ebb3-5086-b33f-34e6e7a0bb16",
            "correlationId": "1c3ab619-39d2-5466-8b51-7079d2b08dfd",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Unique identifier for tracking the request.",
            "example": "abcde-12345"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the operation was processed.",
            "example": "US"
          }
        },
        "description": "Detailed information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier of the endpoint being accessed. This ID can be used for tracing requests and responses associated with this specific endpoint.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "unit-trust-administration-update-unit-trust-administration"
        },
        "example": "unit-trust-administration-update-unit-trust-administration"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is responsible for processing the request. This helps in identifying which application handled the operation in the system.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses HTTP Bearer authentication via JSON Web Tokens (JWT). Clients must include the token in the 'Authorization' header when making requests to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}