{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Deposit Lending By Param1-spec",
    "description": "The Update Deposit Lending Parameters API enables users to modify specific attributes of deposit lending agreements associated with fiduciary accounts. This operation is crucial for financial institutions and service providers looking to tailor lending options based on unique parameters. Typical consumers may include banking software developers and financial analysts who need to adjust loan terms dynamically. By utilizing this API, businesses can ensure that their deposit lending offerings remain competitive and aligned with client needs.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/fiduciary-agreement/{param1}": {
      "patch": {
        "tags": [
          "fiduciaryAgreement"
        ],
        "summary": "Update a fiduciary agreement.",
        "description": "This operation allows you to update the details of a specific fiduciary agreement identified by its ID. Ensure that all required fields are populated to make a successful update.",
        "operationId": "updateDepositLendingByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Updates the fiduciary agreement identified by RES-100045. This operation allows modification of the agreement terms and details to ensure it reflects the current understanding and requirements between the involved parties.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDepositLendingByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed, and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateDepositLendingByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateDepositLendingByParam1Request": {
        "type": "object",
        "properties": {
          "changes": {
            "description": "An object containing the changes to be applied to the agreement.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time at which the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the user or system making the request.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context information for the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "example": {
          "changes": {
            "customerId": "CUST-950663",
            "accountId": "ACC-297561",
            "productCode": "CHK-PREMIUM-US"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "f36c349c-4b72-5d75-a955-5ed667a837da",
            "correlationId": "5f5f0ed5-83ca-5010-aa29-689b37815e46",
            "idempotencyKey": "e1689e8e-c69e-5d1d-adb2-14425b739ec1",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-488015"
            }
          }
        }
      },
      "Changes": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "cust-001"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "acc-001"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product being changed.",
            "example": "prod-001"
          }
        },
        "description": "Details of the changes to the agreement."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests.",
            "example": "cor-001"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key for ensuring idempotency of requests.",
            "example": "key-001"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp for when the request was made.",
            "example": "2023-10-01T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "system-A"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request was initiated.",
            "example": "application-X"
          },
          "channel": {
            "description": "Information regarding the communication channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Information regarding the request's context."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile, API).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-001"
          }
        },
        "description": "Details about the communication channel used for the request."
      },
      "UpdateDepositLendingByParam1Response_200": {
        "title": "Fiduciary Agreement Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for a successful PATCH operation on a fiduciary agreement.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "d71bab86-9888-5010-a927-98cf67e9741b",
            "correlationId": "5f5f0ed5-83ca-5010-aa29-689b37815e46",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request occurred.",
            "example": "string"
          }
        },
        "description": "Schema representing additional metadata details associated with a response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that processed the request. This value is essential for tracing and auditing operations.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "fiduciary-agreement-update-fiduciary-agreement"
        },
        "example": "fiduciary-agreement-update-fiduciary-agreement"
      },
      "X-Runtime-App": {
        "description": "The name and version of the application that executed the operation. This information can be useful for identifying which version of the service performed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, where JSON Web Tokens (JWT) are used to securely transmit claims, ensuring the integrity and authenticity of the data exchanged between the client and server.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}