{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Card Card Captures-spec",
    "description": "The Card Capture Listing API provides a streamlined method for retrieving records of card capture transactions within the banking service. This endpoint allows developers to access and manage card capture data efficiently, facilitating auditing or reporting tasks. Typical consumers include financial institutions and developers integrating with banking platforms to track captured transactions. Utilize this API to ensure comprehensive oversight of card transaction activities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9003",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cards/card-capture": {
      "get": {
        "tags": [
          "Card Management"
        ],
        "summary": "Retrieve card capture information.",
        "description": "This endpoint allows you to fetch details regarding a specific card capture. Use this to obtain real-time data on captured cards and their statuses.",
        "operationId": "listCardCardCaptures",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body contains the necessary information for capturing a card transaction. Please ensure that all required fields are included and correctly formatted.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListCardCardCapturesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested card capture information.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCardCardCapturesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListCardCardCapturesRequest": {
        "type": "string",
        "description": "This schema represents the request body for the card capture operation in the GET method.",
        "example": "{}"
      },
      "ListCardCardCapturesResponse_200": {
        "title": "Card Capture Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A collection of card capture items.",
            "example": [
              {
                "cardToken": "TOK-214323",
                "cardholderId": "STANDARD",
                "merchantId": "MER-961288",
                "transactionAmount": {
                  "amount": 100,
                  "currency": "USD"
                },
                "merchantCategoryCode": "5411",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CardCaptureItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the returned items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for retrieving card capture details.",
        "example": {
          "items": [
            {
              "cardToken": "TOK-214323",
              "cardholderId": "STANDARD",
              "merchantId": "MER-961288",
              "transactionAmount": {
                "amount": 100,
                "currency": "USD"
              },
              "merchantCategoryCode": "5411",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "18f7757d-195c-5193-adb7-753831110149",
            "correlationId": "bb1f5706-9786-5f4b-bf07-6413d971db8a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CardCaptureItem": {
        "title": "Card Capture Item",
        "type": "object",
        "properties": {
          "cardToken": {
            "type": "string",
            "description": "Unique identifier for the card token associated with the capture."
          },
          "cardholderId": {
            "type": "string",
            "description": "Identifier for the cardholder."
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant involved in the transaction."
          },
          "transactionAmount": {
            "$ref": "#/components/schemas/TransactionAmount"
          },
          "merchantCategoryCode": {
            "type": "string",
            "description": "Category code representing the type of merchant."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the card capture record."
          }
        },
        "description": "Detailed information about a single card capture transaction."
      },
      "TransactionAmount": {
        "title": "Transaction Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "integer",
            "description": "The amount of the transaction.",
            "format": "int32",
            "example": 1000
          },
          "currency": {
            "type": "string",
            "description": "Currency in which the transaction amount is expressed.",
            "example": "USD"
          }
        },
        "description": "Amount details for the transaction."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the results.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Details for pagination of the response."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the API response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating related requests."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place."
          }
        },
        "description": "Metadata information related to the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "Unique identifier for the endpoint associated with the response for tracking or logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-capture-search-card-capture"
        },
        "example": "card-capture-search-card-capture"
      },
      "x-runtime-app": {
        "description": "Name of the application that processed the request, useful for tracing and diagnostics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication with JSON Web Tokens (JWT) as the format for the access tokens. Clients must include a valid JWT in the Authorization header when making requests to protected endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}