{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Loan Application Book-spec",
    "description": "The Loan Application Booking API facilitates the booking of loan applications within the lending process. This API allows authorized users to submit and reserve loan application data dynamically, streamlining the application handling workflow. Typical users include loan officers, financial service apps, and backend systems that manage application processing. By integrating this API, financial institutions can enhance customer service and processing efficiency, leading to faster decision-making and improved service delivery.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{param1}/book": {
      "post": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Book a loan application.",
        "description": "This endpoint allows users to book a specific loan application identified by its resource ID. By using this operation, users can initiate the booking process for the loan application, ensuring that it is recorded and processed appropriately.",
        "operationId": "createLoanApplicationBook",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate the booking process for a loan application identified by the application ID 'RES-100045'. It requires specific information to successfully process the booking request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLoanApplicationBookRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully, indicating that the loan application has been processed and a new entry has been established.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateLoanApplicationBookResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateLoanApplicationBookRequest": {
        "type": "object",
        "properties": {
          "offerId": {
            "type": "string",
            "description": "The unique identifier for the loan offer.",
            "example": "b36bde08-caf4-9bc2-7260-c3b447e09b59"
          },
          "servicingBranchCode": {
            "type": "string",
            "description": "The code of the branch responsible for servicing the loan.",
            "example": "CODE-742"
          },
          "repaymentAccountNumber": {
            "type": "string",
            "description": "The account number to which loan repayments will be made.",
            "example": "STANDARD"
          },
          "firstPaymentDate": {
            "type": "string",
            "description": "The date of the first repayment for the loan.",
            "example": "2026-09-15"
          },
          "maturityDate": {
            "type": "string",
            "description": "The date on which the loan matures.",
            "example": "2026-09-15"
          },
          "accountingProductCode": {
            "type": "string",
            "description": "The code that identifies the accounting product associated with the loan.",
            "example": "CODE-773"
          },
          "generateSchedule": {
            "type": "boolean",
            "description": "Indicates whether to generate a repayment schedule for the loan.",
            "example": true
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "description": "Unique identifier for the request.",
                "example": "REQ-001"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier to correlate related requests and responses.",
                "example": "CORR-002"
              },
              "idempotencyKey": {
                "type": "string",
                "description": "Key to ensure the request is idempotent.",
                "example": "KEY-003"
              },
              "requestedAt": {
                "type": "string",
                "description": "Timestamp when the request was made.",
                "example": "2023-10-01T12:00:00Z"
              },
              "sourceSystem": {
                "type": "string",
                "description": "The system that originated the request.",
                "example": "credit-system"
              },
              "sourceApplication": {
                "type": "string",
                "description": "The application from which the request came.",
                "example": "mobile-app"
              },
              "channel": {
                "$ref": "#/components/schemas/Channel"
              }
            },
            "description": "Contextual information related to the request.",
            "example": {
              "requestId": "3e27a256-cd03-5717-915c-2ed0df9905f0",
              "correlationId": "1f75052e-5135-5740-96c3-6508765a6830",
              "idempotencyKey": "5367355c-867e-56cf-b39e-293cabb36c8e",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-815344"
              }
            }
          }
        },
        "description": "Schema representing the request body for booking loan applications.",
        "example": {
          "offerId": "b36bde08-caf4-9bc2-7260-c3b447e09b59",
          "servicingBranchCode": "CODE-742",
          "repaymentAccountNumber": "STANDARD",
          "firstPaymentDate": "2026-09-15",
          "maturityDate": "2026-09-15",
          "accountingProductCode": "CODE-773",
          "generateSchedule": true,
          "requestContext": {
            "requestId": "3e27a256-cd03-5717-915c-2ed0df9905f0",
            "correlationId": "1f75052e-5135-5740-96c3-6508765a6830",
            "idempotencyKey": "5367355c-867e-56cf-b39e-293cabb36c8e",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-815344"
            }
          }
        }
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "CHANNEL-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., mobile, web).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the request.",
            "example": "DEVICE-123"
          }
        },
        "description": "Schema representing the communication channel details."
      },
      "CreateLoanApplicationBookResponse_201": {
        "type": "object",
        "properties": {
          "sourceApplicationId": {
            "type": "string",
            "description": "The identifier for the source application.",
            "example": "APP-112303"
          },
          "productId": {
            "type": "string",
            "description": "The identifier for the product associated with the loan.",
            "example": "PROD-677587"
          },
          "primaryCustomerId": {
            "type": "string",
            "description": "The identifier for the primary customer who applies for the loan.",
            "example": "CUST-326329"
          },
          "borrowerCustomerIds": {
            "type": "array",
            "description": "List of customer IDs for additional borrowers.",
            "example": [
              "CUST-837509"
            ],
            "items": {
              "type": "string",
              "description": "An identifier for an additional borrower.",
              "example": "string"
            }
          },
          "principal": {
            "description": "The principal amount for the loan.",
            "$ref": "#/components/schemas/LoanPrincipal"
          },
          "termMonths": {
            "type": "integer",
            "description": "The term of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "annualInterestRatePercent": {
            "type": "string",
            "description": "The annual interest rate of the loan expressed as a percentage.",
            "example": "STANDARD"
          },
          "interestRateType": {
            "type": "string",
            "description": "Type of the interest rate (e.g., fixed, variable).",
            "example": "STANDARD"
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "Frequency of loan repayment (e.g., monthly, bi-weekly).",
            "example": "STANDARD"
          },
          "bookingDate": {
            "type": "string",
            "description": "Date when the loan was booked.",
            "example": "2026-09-15"
          },
          "firstPaymentDate": {
            "type": "string",
            "description": "The date of the first payment for the loan.",
            "example": "2026-09-15"
          },
          "maturityDate": {
            "type": "string",
            "description": "The date when the loan matures.",
            "example": "2026-09-15"
          },
          "repaymentAccountNumber": {
            "type": "string",
            "description": "Account number designated for loan repayment.",
            "example": "STANDARD"
          },
          "servicingBranchCode": {
            "type": "string",
            "description": "Branch code for the servicing bank.",
            "example": "CODE-410"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "Identifier for the relationship manager handling the loan.",
            "example": "STANDARD"
          },
          "purpose": {
            "type": "string",
            "description": "Purpose of the loan (e.g., home purchase, debt consolidation).",
            "example": "STANDARD"
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the loan application.",
            "example": "d78fbc2d-73d9-29cb-e0f5-4d14a913055e"
          },
          "accountNumber": {
            "type": "string",
            "description": "Account number associated with the loan.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the loan application.",
            "example": "ACTIVE"
          },
          "balance": {
            "description": "Current balance details for the loan.",
            "$ref": "#/components/schemas/LoanBalance"
          },
          "totalDisbursed": {
            "description": "Total amount disbursed for the loan.",
            "$ref": "#/components/schemas/LoanAmount"
          },
          "totalRepaid": {
            "description": "Total amount repaid for the loan.",
            "$ref": "#/components/schemas/LoanAmount"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Schema representing the response for a loan application.",
        "example": {
          "sourceApplicationId": "APP-112303",
          "productId": "PROD-677587",
          "primaryCustomerId": "CUST-326329",
          "borrowerCustomerIds": [
            "CUST-837509"
          ],
          "principal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "termMonths": 1,
          "annualInterestRatePercent": "STANDARD",
          "interestRateType": "STANDARD",
          "repaymentFrequency": "STANDARD",
          "bookingDate": "2026-09-15",
          "firstPaymentDate": "2026-09-15",
          "maturityDate": "2026-09-15",
          "repaymentAccountNumber": "STANDARD",
          "servicingBranchCode": "CODE-410",
          "relationshipManagerId": "STANDARD",
          "purpose": "STANDARD",
          "id": "d78fbc2d-73d9-29cb-e0f5-4d14a913055e",
          "accountNumber": "STANDARD",
          "status": "ACTIVE",
          "balance": {
            "principalOutstanding": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "accruedInterest": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "feesOutstanding": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "penaltiesOutstanding": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "totalOutstanding": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "availableToDraw": {
              "currency": "USD",
              "amount": "1250.75"
            }
          },
          "totalDisbursed": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "totalRepaid": {
            "currency": "USD"
          },
          "metadata": {
            "responseId": "b33c5138-2469-53d5-94bd-c009cb2acbcf",
            "correlationId": "1f75052e-5135-5740-96c3-6508765a6830",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "LoanPrincipal": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency of the principal amount.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The actual principal amount of the loan.",
            "example": "10000"
          }
        },
        "description": "Schema representing the principal amount of the loan."
      },
      "LoanBalance": {
        "type": "object",
        "properties": {
          "principalOutstanding": {
            "description": "Outstanding principal amount on the loan.",
            "$ref": "#/components/schemas/LoanAmount"
          },
          "accruedInterest": {
            "description": "Accrued interest on the loan.",
            "$ref": "#/components/schemas/LoanAmount"
          },
          "feesOutstanding": {
            "description": "Outstanding fees related to the loan.",
            "$ref": "#/components/schemas/LoanAmount"
          },
          "penaltiesOutstanding": {
            "description": "Outstanding penalties associated with the loan.",
            "$ref": "#/components/schemas/LoanAmount"
          },
          "totalOutstanding": {
            "description": "Total outstanding amount for the loan.",
            "$ref": "#/components/schemas/LoanAmount"
          },
          "availableToDraw": {
            "description": "Amount available to draw against the loan.",
            "$ref": "#/components/schemas/LoanAmount"
          }
        },
        "description": "Schema representing the balance details for the loan."
      },
      "LoanAmount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency type of the amount.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The monetary value.",
            "example": "5000"
          }
        },
        "description": "Schema representing an amount with currency."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response1234"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking the request.",
            "example": "correlation5678"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "US-East"
          }
        },
        "description": "Metadata related to the response of the application."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the API endpoint handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-book-loan-application"
        },
        "example": "banking-loans-openapi-book-loan-application"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme utilizing bearer tokens, specifically designed for JWT (JSON Web Tokens). Clients must include a bearer token in their requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}