{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Replace Collateral Administration By Param1-spec",
    "description": "The Collateral Allocation Management API enables users to efficiently manage and update collateral allocations within a banking framework. This endpoint allows for modifications based on the specified parameter, facilitating streamlined collateral administration. Typical consumers include financial institutions and collateral management teams aiming to optimize asset management processes. Through this API, users can enhance operational efficiency and ensure compliance with regulatory requirements for collateral handling.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/collateral-administration/collateral-allocation-management/{param1}": {
      "put": {
        "tags": [
          "Collateral Management"
        ],
        "summary": "Update Collateral Allocation Management",
        "description": "This API endpoint allows you to update the details of a specific collateral allocation management record, identified by RES-100045. Make sure to provide all necessary fields in the request body to successfully perform the update.",
        "operationId": "replaceCollateralAdministrationByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the collateral allocation management for a specific resource identified by RES-100045. It must contain all the necessary fields required for processing the update, ensuring that data integrity and compliance with business rules are maintained.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceCollateralAdministrationByParam1Request"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The resource was successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceCollateralAdministrationByParam1Response_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ReplaceCollateralAdministrationByParam1Request": {
        "title": "Collateral Allocation Management Request Body",
        "required": [
          "assetType",
          "collateralId",
          "haircutPercent",
          "lienStatus",
          "marketValue",
          "partyId",
          "requestContext",
          "securedExposureId",
          "valuationDate"
        ],
        "type": "object",
        "properties": {
          "collateralId": {
            "type": "string",
            "description": "Unique identifier for the collateral.",
            "example": "STANDARD"
          },
          "partyId": {
            "type": "string",
            "description": "Identifier for the party associated with the collateral.",
            "example": "PARTY-793640"
          },
          "assetType": {
            "type": "string",
            "description": "Type of asset used as collateral.",
            "example": "STANDARD"
          },
          "marketValue": {
            "description": "Current market value of the collateral.",
            "$ref": "#/components/schemas/MarketValue"
          },
          "valuationDate": {
            "type": "string",
            "description": "Date when the collateral was valued.",
            "example": "2026-09-15"
          },
          "securedExposureId": {
            "type": "string",
            "description": "Identifier for the secured exposure related to the collateral.",
            "example": "STANDARD"
          },
          "haircutPercent": {
            "type": "number",
            "description": "Percentage haircut applied to the collateral value.",
            "example": 100.0
          },
          "lienStatus": {
            "type": "string",
            "description": "Current lien status of the collateral.",
            "example": "ACTIVE"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for collateral allocation management operations.",
        "example": {
          "collateralId": "STANDARD",
          "partyId": "PARTY-793640",
          "assetType": "STANDARD",
          "marketValue": {
            "amount": 100.0,
            "currency": "USD"
          },
          "valuationDate": "2026-09-15",
          "securedExposureId": "STANDARD",
          "haircutPercent": 100.0,
          "lienStatus": "ACTIVE",
          "requestContext": {
            "requestId": "3ae1ef74-c002-581b-b1f5-47ead0b62766",
            "correlationId": "6c88170b-5e85-5a54-8db0-74daf3db3c6d",
            "idempotencyKey": "24b30d1c-a447-5b28-840a-943d0ba1a3ba",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-723724"
            }
          }
        }
      },
      "MarketValue": {
        "title": "Market Value",
        "required": [
          "amount",
          "currency"
        ],
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Monetary amount representing the market value.",
            "example": 1500000.0
          },
          "currency": {
            "type": "string",
            "description": "Currency code of the market value amount.",
            "example": "USD"
          }
        },
        "description": "Schema representing the market value of an asset."
      },
      "RequestContext": {
        "title": "Request Context",
        "required": [
          "channel",
          "correlationId",
          "idempotencyKey",
          "requestId",
          "requestedAt",
          "sourceApplication",
          "sourceSystem"
        ],
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple requests.",
            "example": "CORR-001"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the request is idempotent.",
            "example": "IDEMPOTENT-001"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-09-30T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "SystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request originated.",
            "example": "AppA"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema containing contextual information for the request."
      },
      "Channel": {
        "title": "Channel",
        "required": [
          "channelId",
          "channelType",
          "deviceId"
        ],
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "CHANNEL-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used to make the request.",
            "example": "DEVICE-001"
          }
        },
        "description": "Schema representing the channel used for the request."
      },
      "ReplaceCollateralAdministrationByParam1Response_201": {
        "title": "Collateral Allocation Management Response",
        "type": "object",
        "properties": {
          "collateralId": {
            "type": "string",
            "description": "Unique identifier for the collateral.",
            "example": "STANDARD"
          },
          "partyId": {
            "type": "string",
            "description": "Identifier for the party associated with the collateral.",
            "example": "PARTY-735125"
          },
          "securedExposureId": {
            "type": "string",
            "description": "Identifier for the secured exposure linked to the collateral.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "Identifier for the resource involved in the collateral allocation.",
            "example": "RES-748772"
          },
          "status": {
            "type": "string",
            "description": "Current status of the collateral allocation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the collateral allocation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "RSP123456"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier used to correlate requests and responses.",
                "example": "COR789012"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp indicating when the response was generated.",
                "example": "2023-10-01T12:01:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region in which the processing occurred.",
                "example": "us-west-1"
              }
            },
            "description": "Additional metadata related to the collateral allocation.",
            "example": {
              "responseId": "307142e9-411d-5f63-ba6b-910f02d78756",
              "correlationId": "6c88170b-5e85-5a54-8db0-74daf3db3c6d",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for the collateral allocation management operation, detailing the allocation specifics.",
        "example": {
          "collateralId": "STANDARD",
          "partyId": "PARTY-735125",
          "securedExposureId": "STANDARD",
          "resourceId": "RES-748772",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "307142e9-411d-5f63-ba6b-910f02d78756",
            "correlationId": "6c88170b-5e85-5a54-8db0-74daf3db3c6d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "collateral-allocation-management-create-collateral-allocation-management"
        },
        "example": "collateral-allocation-management-create-collateral-allocation-management"
      },
      "X-Runtime-App": {
        "description": "The name of the runtime application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      },
      "X-Workflow-Id": {
        "description": "The identifier for the workflow associated with the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-040"
        },
        "example": "WF-040"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow associated with the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Collateral Valuation and Allocation"
        },
        "example": "Collateral Valuation and Allocation"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow, indicating its progress or status.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the execution of the workflow.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "dc3cc6ef-bf1a-4c21-892e-b3d141b6b5bd"
        },
        "example": "dc3cc6ef-bf1a-4c21-892e-b3d141b6b5bd"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication, which allows for the use of JSON Web Tokens (JWT) to verify the identity of users. Clients should include the JWT in the Authorization header when making requests to secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}