{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update P2m By Outlet Id-spec",
    "description": "The Outlet Management API enables updates to the P2M configuration associated with a specific outlet. Through the PATCH method, users can modify attributes and settings relevant to a particular outlet identified by its unique outlet ID. This API is designed for developers managing outlet details, such as adjusting payment configurations or updating operational parameters. Typically, businesses use this endpoint to enhance outlet performance and operational flexibility.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/outlets/{outletId}": {
      "patch": {
        "tags": [
          "Outlet Management"
        ],
        "summary": "Update specific outlet details",
        "description": "This endpoint allows you to update the details of a specific outlet identified by its unique identifier. You can modify various attributes of the outlet using this operation.",
        "operationId": "updateP2mByOutletId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/outletId"
          }
        ],
        "requestBody": {
          "description": "Patch request to update the details of a specific outlet identified by RES-100045. This request allows partial modifications of the outlet's attributes.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateP2mByOutletIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The outlet details were updated successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateP2mByOutletIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateP2mByOutletIdRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the outlet.",
            "example": "Northstar Banking Service"
          },
          "address": {
            "description": "The address of the outlet.",
            "$ref": "#/components/schemas/Address"
          },
          "contact": {
            "description": "The contact information for the outlet.",
            "$ref": "#/components/schemas/Contact"
          },
          "status": {
            "type": "string",
            "description": "The operational status of the outlet.",
            "example": "ACTIVE"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for updating outlet information.",
        "example": {
          "name": "Northstar Banking Service",
          "address": {
            "line1": "350 Fifth Avenue",
            "line2": "Suite 4200",
            "city": "New York",
            "stateOrProvince": "STANDARD",
            "postalCode": "10001",
            "country": "STANDARD"
          },
          "contact": {
            "email": "olivia.bennett@northstar.example",
            "phone": "+1-212-555-0147",
            "website": "https://example.com/resource"
          },
          "status": "ACTIVE",
          "requestContext": {
            "requestId": "4a03eef7-813e-5bf8-a8f4-90c43f119971",
            "correlationId": "2332933a-c88d-57ab-9a11-b3464ed90f7d",
            "idempotencyKey": "f55bdc72-d6a2-5eda-9829-8497e559b8c1",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-380105"
            }
          }
        }
      },
      "Address": {
        "title": "Address",
        "type": "object",
        "properties": {
          "line1": {
            "type": "string",
            "description": "First line of the address.",
            "example": "123 Coffee Lane"
          },
          "line2": {
            "type": "string",
            "description": "Second line of the address (optional).",
            "example": "Suite 100"
          },
          "city": {
            "type": "string",
            "description": "City where the outlet is located.",
            "example": "Seattle"
          },
          "stateOrProvince": {
            "type": "string",
            "description": "State or province where the outlet is located.",
            "example": "WA"
          },
          "postalCode": {
            "type": "string",
            "description": "Postal code for the outlet address.",
            "example": "98101"
          },
          "country": {
            "type": "string",
            "description": "Country where the outlet is located.",
            "example": "USA"
          }
        },
        "description": "Schema representing the physical address of an outlet."
      },
      "Contact": {
        "title": "Contact",
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "Email address for contacting the outlet.",
            "example": "contact@thecoffeeshop.com"
          },
          "phone": {
            "type": "string",
            "description": "Phone number for contacting the outlet.",
            "example": "+1234567890"
          },
          "website": {
            "type": "string",
            "description": "Website URL for the outlet.",
            "example": "http://thecoffeeshop.com"
          }
        },
        "description": "Schema representing the contact details of an outlet."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier to correlate related requests.",
            "example": "corr-123456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to prevent duplicate operations.",
            "example": "idemp-key-123456"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2021-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "InventorySystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "OutletAdmin"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contains contextual information regarding the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "A unique identifier for the channel.",
            "example": "channel-123456"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel through which the request was made.",
            "example": "WEB"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used to make the request.",
            "example": "device-123456"
          }
        },
        "description": "Contains information about the communication channel used for the request."
      },
      "UpdateP2mByOutletIdResponse_200": {
        "title": "Outlet Response",
        "type": "object",
        "properties": {
          "outletId": {
            "type": "string",
            "description": "Unique identifier for the outlet.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant associated with the outlet.",
            "example": "MER-523448"
          },
          "name": {
            "type": "string",
            "description": "The name of the outlet.",
            "example": "Northstar Banking Service"
          },
          "outletType": {
            "type": "string",
            "description": "The type of the outlet (e.g., restaurant, coffee shop).",
            "example": "STANDARD"
          },
          "address": {
            "description": "The physical address of the outlet.",
            "$ref": "#/components/schemas/Address"
          },
          "contact": {
            "description": "Contact details for the outlet.",
            "$ref": "#/components/schemas/Contact"
          },
          "timezone": {
            "type": "string",
            "description": "The timezone in which the outlet operates.",
            "example": "America/New_York"
          },
          "currency": {
            "type": "string",
            "description": "The currency used at the outlet.",
            "example": "USD"
          },
          "externalReference": {
            "type": "string",
            "description": "External reference identifier for the outlet.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the outlet (e.g., active, inactive).",
            "example": "ACTIVE"
          },
          "audit": {
            "description": "Audit information for the outlet's modifications.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Additional metadata about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the PATCH operation on outlets, providing the details of the outlet that was modified.",
        "example": {
          "outletId": "STANDARD",
          "merchantId": "MER-523448",
          "name": "Northstar Banking Service",
          "outletType": "STANDARD",
          "address": {
            "line1": "350 Fifth Avenue",
            "line2": "Suite 4200",
            "city": "New York",
            "stateOrProvince": "STANDARD",
            "postalCode": "10001",
            "country": "STANDARD"
          },
          "contact": {
            "email": "olivia.bennett@northstar.example",
            "phone": "+1-212-555-0147",
            "website": "https://example.com/resource"
          },
          "timezone": "America/New_York",
          "currency": "USD",
          "externalReference": "STANDARD",
          "status": "ACTIVE",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "7b72d381-0f48-5694-9644-05448bd56bc2",
            "correlationId": "2332933a-c88d-57ab-9a11-b3464ed90f7d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Audit": {
        "title": "Audit",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the outlet was created.",
            "example": "2023-01-01T00:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the outlet.",
            "example": "admin"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the outlet was last updated.",
            "example": "2023-01-02T00:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the outlet.",
            "example": "admin"
          },
          "version": {
            "type": "integer",
            "description": "Current version of the outlet.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Schema representing audit information for the outlet."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response.",
            "example": "resp_123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request throughout the system.",
            "example": "corr_456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-01-02T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "us-west"
          }
        },
        "description": "Schema representing additional metadata for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "outletId": {
        "name": "outletId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "description": "The unique identifier for the endpoint that processed the request.",
          "example": "banking-p2m-openapi-update-outlet"
        },
        "example": "banking-p2m-openapi-update-outlet"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "description": "The name of the application that executed the request, helping to identify the source of the response.",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that utilizes a bearer token for authorization. The token must be provided in the HTTP Authorization header as a 'Bearer {token}' format. This scheme is typically used for securing APIs with JSON Web Tokens (JWT), allowing clients to authenticate securely.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}