{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Banking Operational Services Disbursements-v5-spec",
    "description": "The Banking Disbursement Services API provides a comprehensive interface for retrieving detailed information about various disbursement operations within banking services. It allows financial institutions and developers to access operational data related to disbursements efficiently. Common use cases include generating reports, auditing transaction history, and integrating with financial applications to enhance user experiences. This API supports the needs of banking professionals, regulators, and software developers seeking insights into banking disbursement activities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/disbursement": {
      "get": {
        "tags": [
          "Operational Services"
        ],
        "summary": "Retrieve disbursement details.",
        "description": "This endpoint allows users to fetch detailed information regarding disbursements within operational services, providing vital data for financial tracking and management.",
        "operationId": "listBankingOperationalServicesDisbursements",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information regarding disbursement operations. Ensure that the payload adheres to the specified schema to receive accurate results.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListBankingOperationalServicesDisbursementsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning disbursement data.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBankingOperationalServicesDisbursementsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListBankingOperationalServicesDisbursementsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation associated with disbursement operations in the operational services.",
        "example": "{}"
      },
      "ListBankingOperationalServicesDisbursementsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of operational items related to disbursement operations.",
            "example": [
              {
                "operationId": "STANDARD",
                "customerId": "CUST-581845",
                "accountId": "ACC-439978",
                "requestedAt": "2026-08-11T12:00:00Z",
                "priority": "NORMAL",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/OperationItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sort order applied to the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the operational services disbursement GET operation, containing a list of items and pagination information.",
        "example": {
          "items": [
            {
              "operationId": "STANDARD",
              "customerId": "CUST-581845",
              "accountId": "ACC-439978",
              "requestedAt": "2026-08-11T12:00:00Z",
              "priority": "NORMAL",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "0c83632f-d6a3-5f06-aef6-ee6d5bba37c3",
            "correlationId": "6ae96ce5-b6ad-53de-b328-f8e07743b374",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "OperationItem": {
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "Unique identifier for the operation."
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer associated with the operation."
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account related to the operation."
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the operation was requested."
          },
          "priority": {
            "type": "string",
            "description": "Priority level of the operation."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the operation record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the operation was last updated."
          }
        },
        "description": "Represents an individual operational item in the disbursement operations."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32"
          }
        },
        "description": "Contains pagination information for the list of operational items."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate this response with the originating request."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred."
          }
        },
        "description": "Metadata associated with the response, providing additional context."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint that handled the request, useful for tracking and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "disbursement-search-disbursement"
        },
        "example": "disbursement-search-disbursement"
      },
      "x-runtime-app": {
        "description": "The version of the application runtime that processed the request, which can help in identifying possible issues related to specific versions.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method to handle authorization via JSON Web Tokens (JWT). Clients must include the JWT in the Authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}