{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Settlement Lines Retrieval API",
    "description": "The Settlement Lines Retrieval API enables users to access detailed line items associated with a specific settlement identified by settlementId. This API is crucial for financial analysts and accounting professionals who need to review transaction details for reconciliation or reporting purposes. By fetching line-level data, users can gain insights into the components of each settlement, such as amounts and descriptions. This API enhances visibility into financial operations and assists in maintaining accurate records.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/settlements/{settlementId}/lines": {
      "get": {
        "tags": [],
        "summary": "Retrieve Lines for a Specific Settlement",
        "description": "This endpoint allows you to retrieve all the lines associated with a specific settlement identified by its unique ID. It provides detailed information about each line pertaining to the specified settlement.",
        "operationId": "getSettlementLinesById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/settlementId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve settlement lines for the specified settlement identifier (RES-100045). It expects a JSON payload that adheres to the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSettlementLinesByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of settlement line items.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSettlementLinesByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetSettlementLinesByIdRequest": {
        "type": "string",
        "description": "A request body schema for the GET operation related to settlements. This is a placeholder for the actual request content.",
        "example": "{}"
      },
      "GetSettlementLinesByIdResponse_200": {
        "title": "Settlements Response",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number of the results.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 1
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available across all pages.",
            "format": "int32",
            "example": 1
          },
          "totalPages": {
            "type": "integer",
            "description": "The total number of pages available.",
            "format": "int32",
            "example": 1
          },
          "hasNext": {
            "type": "boolean",
            "description": "Indicates if there is a next page of results.",
            "example": true
          },
          "links": {
            "type": "array",
            "description": "Array of links related to the settlements operation.",
            "example": [
              {
                "rel": "STANDARD",
                "href": "https://example.com/resource",
                "method": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          },
          "items": {
            "type": "array",
            "description": "Array of settlement items.",
            "example": [
              {
                "lineId": "STANDARD",
                "type": "STANDARD",
                "referenceId": "STANDARD",
                "grossAmount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "feeAmount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "taxAmount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "netAmount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "occurredAt": "2026-08-11T12:00:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/SettlementItem"
            }
          },
          "metadata": {
            "type": "object",
            "description": "Metadata information for the settlements response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for settlements operation, containing pagination information, links, items, and metadata.",
        "example": {
          "page": 1,
          "pageSize": 1,
          "totalItems": 1,
          "totalPages": 1,
          "hasNext": true,
          "links": [
            {
              "rel": "STANDARD",
              "href": "https://example.com/resource",
              "method": "STANDARD"
            }
          ],
          "items": [
            {
              "lineId": "STANDARD",
              "type": "STANDARD",
              "referenceId": "STANDARD",
              "grossAmount": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "feeAmount": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "taxAmount": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "netAmount": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "occurredAt": "2026-08-11T12:00:00Z"
            }
          ],
          "metadata": {
            "responseId": "af357c42-d49d-5d3e-9f85-9f5e19ae0650",
            "correlationId": "b6184dee-5d45-534a-a2bc-12479e825945",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Link": {
        "type": "object",
        "properties": {
          "rel": {
            "type": "string",
            "description": "The relation type of the link.",
            "example": "self"
          },
          "href": {
            "type": "string",
            "description": "The URL to which the link points.",
            "example": "https://api.example.com/settlements"
          },
          "method": {
            "type": "string",
            "description": "The HTTP method to be used with the link.",
            "example": "GET"
          }
        },
        "description": "Contains metadata for a link."
      },
      "SettlementItem": {
        "type": "object",
        "properties": {
          "lineId": {
            "type": "string",
            "description": "Unique identifier for the line item.",
            "example": "line-123"
          },
          "type": {
            "type": "string",
            "description": "The type of the settlement item.",
            "example": "transaction"
          },
          "referenceId": {
            "type": "string",
            "description": "Reference identifier associated with the settlement.",
            "example": "ref-456"
          },
          "grossAmount": {
            "description": "The total amount before any deductions.",
            "$ref": "#/components/schemas/Amount"
          },
          "feeAmount": {
            "description": "The fee amount associated with the settlement.",
            "$ref": "#/components/schemas/Amount"
          },
          "taxAmount": {
            "description": "The tax amount applied to the settlement.",
            "$ref": "#/components/schemas/Amount"
          },
          "netAmount": {
            "description": "The net amount after deductions.",
            "$ref": "#/components/schemas/Amount"
          },
          "occurredAt": {
            "type": "string",
            "description": "The timestamp when the settlement occurred.",
            "example": "2023-01-01T12:00:00Z"
          }
        },
        "description": "Represents a single settlement item."
      },
      "Amount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency code for the amount.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "The numeric value of the amount.",
            "example": "100.00"
          }
        },
        "description": "Represents an amount with currency."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp-789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate different requests.",
            "example": "corr-012"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata information for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "settlementId": {
        "name": "settlementId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-list-settlement-lines"
        },
        "example": "banking-p2m-openapi-list-settlement-lines"
      },
      "X-Runtime-App": {
        "description": "Name of the application runtime handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method, allowing users to authenticate by including a JSON Web Token (JWT) in the authorization header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}