{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List P2m Reconciliation Runs-v5-spec",
    "description": "MICROSERVICE-PROD-List P2m Reconciliation Runs-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/reconciliation-runs": {
      "get": {
        "operationId": "listP2mReconciliationRuns",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListP2mReconciliationRunsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListP2mReconciliationRunsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListP2mReconciliationRunsRequest": {
        "type": "string",
        "example": "{}"
      },
      "ListP2mReconciliationRunsResponse_200": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "totalItems": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "totalPages": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "hasNext": {
            "type": "boolean",
            "example": true
          },
          "links": {
            "type": "array",
            "example": [
              {
                "rel": "STANDARD",
                "href": "https://example.com/resource",
                "method": "STANDARD"
              }
            ],
            "items": {
              "type": "object",
              "properties": {
                "rel": {
                  "type": "string",
                  "example": "string"
                },
                "href": {
                  "type": "string",
                  "example": "string"
                },
                "method": {
                  "type": "string",
                  "example": "string"
                }
              },
              "example": "string"
            }
          },
          "items": {
            "type": "array",
            "example": [
              {
                "reconciliationRunId": "STANDARD",
                "sourceA": "STANDARD",
                "sourceB": "STANDARD",
                "businessDate": "2026-09-15",
                "merchantId": "MER-525922",
                "currency": "USD",
                "matchingStrategy": "STANDARD",
                "status": "ACTIVE",
                "summary": {
                  "sourceACount": 1,
                  "sourceBCount": 1,
                  "matchedCount": 1,
                  "unmatchedSourceACount": 1,
                  "unmatchedSourceBCount": 1,
                  "amountMismatchCount": 1,
                  "duplicateCount": 1,
                  "totalSourceA": {
                    "currency": "USD",
                    "value": "STANDARD"
                  },
                  "totalSourceB": {
                    "currency": "USD",
                    "value": "STANDARD"
                  },
                  "netDifference": {
                    "currency": "USD",
                    "value": "STANDARD"
                  }
                },
                "startedAt": "2026-09-15T14:30:00Z",
                "completedAt": "2026-09-15T14:30:00Z",
                "audit": {
                  "createdAt": "2026-09-15T14:30:00Z",
                  "createdBy": "STANDARD",
                  "updatedAt": "2026-09-15T14:30:00Z",
                  "updatedBy": "2026-09-15"
                }
              }
            ],
            "items": {
              "type": "object",
              "properties": {
                "reconciliationRunId": {
                  "type": "string",
                  "example": "string"
                },
                "sourceA": {
                  "type": "string",
                  "example": "string"
                },
                "sourceB": {
                  "type": "string",
                  "example": "string"
                },
                "businessDate": {
                  "type": "string",
                  "example": "string"
                },
                "merchantId": {
                  "type": "string",
                  "example": "string"
                },
                "currency": {
                  "type": "string",
                  "example": "string"
                },
                "matchingStrategy": {
                  "type": "string",
                  "example": "string"
                },
                "status": {
                  "type": "string",
                  "example": "string"
                },
                "summary": {
                  "type": "object",
                  "properties": {
                    "sourceACount": {
                      "type": "integer",
                      "format": "int32",
                      "example": 0
                    },
                    "sourceBCount": {
                      "type": "integer",
                      "format": "int32",
                      "example": 0
                    },
                    "matchedCount": {
                      "type": "integer",
                      "format": "int32",
                      "example": 0
                    },
                    "unmatchedSourceACount": {
                      "type": "integer",
                      "format": "int32",
                      "example": 0
                    },
                    "unmatchedSourceBCount": {
                      "type": "integer",
                      "format": "int32",
                      "example": 0
                    },
                    "amountMismatchCount": {
                      "type": "integer",
                      "format": "int32",
                      "example": 0
                    },
                    "duplicateCount": {
                      "type": "integer",
                      "format": "int32",
                      "example": 0
                    },
                    "totalSourceA": {
                      "type": "object",
                      "properties": {
                        "currency": {
                          "type": "string",
                          "example": "string"
                        },
                        "value": {
                          "type": "string",
                          "example": "string"
                        }
                      },
                      "example": "string"
                    },
                    "totalSourceB": {
                      "type": "object",
                      "properties": {
                        "currency": {
                          "type": "string",
                          "example": "string"
                        },
                        "value": {
                          "type": "string",
                          "example": "string"
                        }
                      },
                      "example": "string"
                    },
                    "netDifference": {
                      "type": "object",
                      "properties": {
                        "currency": {
                          "type": "string",
                          "example": "string"
                        },
                        "value": {
                          "type": "string",
                          "example": "string"
                        }
                      },
                      "example": "string"
                    }
                  },
                  "example": "string"
                },
                "startedAt": {
                  "type": "string",
                  "example": "string"
                },
                "completedAt": {
                  "type": "string",
                  "example": "string"
                },
                "audit": {
                  "type": "object",
                  "properties": {
                    "createdAt": {
                      "type": "string",
                      "example": "string"
                    },
                    "createdBy": {
                      "type": "string",
                      "example": "string"
                    },
                    "updatedAt": {
                      "type": "string",
                      "example": "string"
                    },
                    "updatedBy": {
                      "type": "string",
                      "example": "string"
                    }
                  },
                  "example": "string"
                }
              },
              "example": "string"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "c33f3a28-5230-5df5-8038-750759f8cf71",
              "correlationId": "e8c69ae9-201f-59ea-97fb-727a379137fd",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "page": 1,
          "pageSize": 1,
          "totalItems": 1,
          "totalPages": 1,
          "hasNext": true,
          "links": [
            {
              "rel": "STANDARD",
              "href": "https://example.com/resource",
              "method": "STANDARD"
            }
          ],
          "items": [
            {
              "reconciliationRunId": "STANDARD",
              "sourceA": "STANDARD",
              "sourceB": "STANDARD",
              "businessDate": "2026-09-15",
              "merchantId": "MER-525922",
              "currency": "USD",
              "matchingStrategy": "STANDARD",
              "status": "ACTIVE",
              "summary": {
                "sourceACount": 1,
                "sourceBCount": 1,
                "matchedCount": 1,
                "unmatchedSourceACount": 1,
                "unmatchedSourceBCount": 1,
                "amountMismatchCount": 1,
                "duplicateCount": 1,
                "totalSourceA": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "totalSourceB": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "netDifference": {
                  "currency": "USD",
                  "value": "STANDARD"
                }
              },
              "startedAt": "2026-09-15T14:30:00Z",
              "completedAt": "2026-09-15T14:30:00Z",
              "audit": {
                "createdAt": "2026-09-15T14:30:00Z",
                "createdBy": "STANDARD",
                "updatedAt": "2026-09-15T14:30:00Z",
                "updatedBy": "2026-09-15"
              }
            }
          ],
          "metadata": {
            "responseId": "c33f3a28-5230-5df5-8038-750759f8cf71",
            "correlationId": "e8c69ae9-201f-59ea-97fb-727a379137fd",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-list-reconciliation-runs"
        },
        "example": "banking-p2m-openapi-list-reconciliation-runs"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}