{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create System Deployment Deployment-spec",
    "description": "The System Deployment Management API enables users to create and manage system deployments within the IT management framework. It primarily focuses on deploying configurations or updates to microservices in the banking sector. This API is designed for system administrators and DevOps engineers who need to streamline deployment processes and ensure consistent environments across applications. By utilizing this endpoint, users can efficiently initiate deployment actions, facilitating seamless updates and enhancing service reliability.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://enterprise-support-app:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/system-deployment/deployments": {
      "post": {
        "tags": [
          "IT Management"
        ],
        "summary": "Create a new deployment in the IT management system.",
        "description": "This operation allows users to create a new deployment within the IT management system. It enables the management of system deployments efficiently and helps in tracking progress.",
        "operationId": "createSystemDeploymentDeployment",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a new deployment within the IT management system. It requires specific information regarding the deployment such as the environment, application details, and any other necessary configuration settings.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSystemDeploymentDeploymentRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request has been accepted and is currently being processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSystemDeploymentDeploymentResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateSystemDeploymentDeploymentRequest": {
        "title": "System Deployment Request",
        "type": "object",
        "properties": {
          "systemId": {
            "type": "string",
            "description": "The unique identifier for the system being deployed.",
            "example": "STANDARD"
          },
          "environment": {
            "type": "string",
            "description": "The environment where the system will be deployed (e.g., production, staging).",
            "example": "STANDARD"
          },
          "changeId": {
            "type": "string",
            "description": "The identifier for the change request associated with the deployment.",
            "example": "STANDARD"
          },
          "ownerTeam": {
            "type": "string",
            "description": "The name of the team responsible for the system.",
            "example": "STANDARD"
          },
          "plannedAt": {
            "type": "string",
            "description": "The timestamp for when the deployment is planned to occur.",
            "example": "2026-08-11T12:00:00Z"
          },
          "serviceTier": {
            "type": "string",
            "description": "The service tier for the deployment, which may affect resources allocated.",
            "example": "STANDARD"
          },
          "availabilityTargetPercent": {
            "type": "number",
            "description": "The target availability percentage for the system post-deployment.",
            "example": 100.0
          },
          "maintenanceWindow": {
            "type": "string",
            "description": "The scheduled maintenance window during which the deployment will occur.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for deploying a system.",
        "example": {
          "systemId": "STANDARD",
          "environment": "STANDARD",
          "changeId": "STANDARD",
          "ownerTeam": "STANDARD",
          "plannedAt": "2026-08-11T12:00:00Z",
          "serviceTier": "STANDARD",
          "availabilityTargetPercent": 100.0,
          "maintenanceWindow": "STANDARD",
          "requestContext": {
            "requestId": "c09dca55-99ca-56ef-9d2b-45dced7a395a",
            "correlationId": "c040c654-8235-5f0b-a059-000cce8c4170",
            "idempotencyKey": "6141cf36-3714-59f7-aecd-dcfd9f4cf0ab",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-800203"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate logs and events across systems.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key that helps ensure the operation is idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The name of the source system issuing the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The name of the application that initiated the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel used to make the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema providing context about the request being made."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Schema representing the channel used for the request."
      },
      "CreateSystemDeploymentDeploymentResponse_202": {
        "title": "System Deployment Response",
        "type": "object",
        "properties": {
          "systemId": {
            "type": "string",
            "description": "The unique identifier for the system being deployed.",
            "example": "STANDARD"
          },
          "changeId": {
            "type": "string",
            "description": "The identifier associated with the change request for this deployment.",
            "example": "STANDARD"
          },
          "processingReference": {
            "type": "string",
            "description": "A reference ID for tracking the processing of the deployment.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the deployment operation.",
            "example": "ACTIVE"
          },
          "acceptedAt": {
            "type": "string",
            "description": "The timestamp when the deployment request was accepted.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Additional metadata associated with the deployment response.",
            "$ref": "#/components/schemas/DeploymentMetadata"
          }
        },
        "description": "This schema represents the response from the system deployment operations, including metadata about the deployment.",
        "example": {
          "systemId": "STANDARD",
          "changeId": "STANDARD",
          "processingReference": "STANDARD",
          "status": "ACTIVE",
          "acceptedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "ca24beb0-0a3a-54d0-80b1-5e46f47774eb",
            "correlationId": "c040c654-8235-5f0b-a059-000cce8c4170",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "DeploymentMetadata": {
        "title": "Deployment Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier for correlating related requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing for this deployment took place.",
            "example": "string"
          }
        },
        "description": "Metadata providing additional context and tracking for the deployment."
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-085"
        },
        "example": "WF-085"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "7b628327-23ef-484f-94fb-2547b3ba2d6b"
        },
        "example": "7b628327-23ef-484f-94fb-2547b3ba2d6b"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "378b0bc7-3b6e-43d2-913c-ce5736527735"
        },
        "example": "378b0bc7-3b6e-43d2-913c-ce5736527735"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "system-deployment-deploy-system-deployment"
        },
        "example": "system-deployment-deploy-system-deployment"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      },
      "X-Workflow-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-085"
        },
        "example": "WF-085"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow associated with the current deployment request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IT Production Release and Deployment"
        },
        "example": "IT Production Release and Deployment"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow, indicating its progress (e.g., IN_PROGRESS, COMPLETED, FAILED).",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the execution instance of the workflow, useful for tracking and logging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "378b0bc7-3b6e-43d2-913c-ce5736527735"
        },
        "example": "378b0bc7-3b6e-43d2-913c-ce5736527735"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the HTTP Bearer authentication method. The client must include a valid JSON Web Token (JWT) in the Authorization header of the request to access secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}