{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Corporate Relation Investor Relation-spec",
    "description": "The Corporate Relation Management API facilitates the establishment of corporate relations specifically tailored for investor interactions. This endpoint allows businesses to create and manage investor relation specifications, ensuring effective communication and engagement with their investors. Typical consumers of this API include finance and investor relations teams looking to streamline their processes and enhance relationship management. By leveraging this functionality, organizations can enhance their investor outreach and maintain transparent connections with stakeholders.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/corporate-relations/investor-relations": {
      "post": {
        "tags": [
          "Corporate Relations"
        ],
        "summary": "Create a new Investor Relations entry.",
        "description": "This API endpoint allows you to create a new entry in the Investor Relations section for corporate relations. It requires the relevant data to properly record the investor's information, which will help in maintaining and improving communication with investors.",
        "operationId": "createCorporateRelationInvestorRelation",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit investor relations data related to corporate activities. It contains the necessary information that the investor relations endpoint requires for processing the submitted information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCorporateRelationInvestorRelationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created a new resource.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCorporateRelationInvestorRelationResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCorporateRelationInvestorRelationRequest": {
        "title": "Investor Relations Operations Request Body",
        "type": "object",
        "properties": {
          "stakeholderId": {
            "type": "string",
            "description": "Identifier for the stakeholder involved in the investor relations operation.",
            "example": "STANDARD"
          },
          "engagementId": {
            "type": "string",
            "description": "Identifier for the specific engagement associated with this operation.",
            "example": "STANDARD"
          },
          "subject": {
            "type": "string",
            "description": "Subject of the investor relations operation.",
            "example": "STANDARD"
          },
          "scheduledAt": {
            "type": "string",
            "description": "Timestamp indicating when the operation is scheduled.",
            "example": "2026-08-11T12:00:00Z"
          },
          "relationshipOwnerId": {
            "type": "string",
            "description": "Identifier for the owner of the relationship related to this operation.",
            "example": "STANDARD"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for operations related to investor relations.",
        "example": {
          "stakeholderId": "STANDARD",
          "engagementId": "STANDARD",
          "subject": "STANDARD",
          "scheduledAt": "2026-08-11T12:00:00Z",
          "relationshipOwnerId": "STANDARD",
          "requestContext": {
            "requestId": "7eae3f94-376a-578c-91d8-b58a7c5dbe69",
            "correlationId": "5370f91d-8882-587d-879d-b7068c6916bd",
            "idempotencyKey": "ce5e52c0-bf98-5106-ab02-aee119432a36",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-553658"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate events across multiple systems.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that repeated requests do not result in duplicated operations.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier of the source system making the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier of the application used to make the request.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request including tracking and application details."
      },
      "Channel": {
        "title": "Channel Info",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel being used.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel used (e.g., email, mobile app, etc.).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device involved in the interaction.",
            "example": "string"
          }
        },
        "description": "Schema representing the communication channel used for the request."
      },
      "CreateCorporateRelationInvestorRelationResponse_201": {
        "title": "Investor Relations Response",
        "type": "object",
        "properties": {
          "stakeholderId": {
            "type": "string",
            "description": "Unique identifier of the stakeholder.",
            "example": "STANDARD"
          },
          "engagementId": {
            "type": "string",
            "description": "Unique identifier for the engagement.",
            "example": "STANDARD"
          },
          "relationshipOwnerId": {
            "type": "string",
            "description": "Unique identifier for the owner of the relationship.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource associated with the engagement.",
            "example": "RES-539271"
          },
          "status": {
            "type": "string",
            "description": "Current status of the engagement.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the engagement was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the Investor Relations operation, providing details regarding the engagement and stakeholder information.",
        "example": {
          "stakeholderId": "STANDARD",
          "engagementId": "STANDARD",
          "relationshipOwnerId": "STANDARD",
          "resourceId": "RES-539271",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "0f933bc2-b58d-575e-b7dc-669c45c36598",
            "correlationId": "5370f91d-8882-587d-879d-b7068c6916bd",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request-response correlation.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata schema providing additional contextual information for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "investor-relations-create-investor-relations"
        },
        "example": "investor-relations-create-investor-relations"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a JSON Web Token (JWT) as a bearer token. This token should be included in the Authorization header of the request and is used to secure access to resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}