{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Aggregation Customer Account-v5-spec",
    "description": "MICROSERVICE-PROD-Create Aggregation Customer Account-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/{customerId}/accounts": {
      "post": {
        "operationId": "createAggregationCustomerAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAggregationCustomerAccountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAggregationCustomerAccountResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateAggregationCustomerAccountRequest": {
        "type": "object",
        "properties": {
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "0712733b-e31f-5879-93dd-bf98c281170b",
              "correlationId": "fcbca5ab-f773-5aa7-b7e9-7ade1cd1a0e1",
              "idempotencyKey": "c508c984-2728-5c76-924f-8bbe0fca9610",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-481590"
              }
            }
          }
        },
        "example": {
          "requestContext": {
            "requestId": "0712733b-e31f-5879-93dd-bf98c281170b",
            "correlationId": "fcbca5ab-f773-5aa7-b7e9-7ade1cd1a0e1",
            "idempotencyKey": "c508c984-2728-5c76-924f-8bbe0fca9610",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-481590"
            }
          }
        }
      },
      "CreateAggregationCustomerAccountResponse_200": {
        "type": "object",
        "properties": {
          "accounts": {
            "type": "array",
            "example": [
              {
                "id": "STANDARD",
                "number": "STANDARD",
                "accountNumberDisplay": "STANDARD",
                "realAccountNumberLast4": "STANDARD",
                "name": "Northstar Banking Service",
                "balance": 100.0,
                "type": "STANDARD",
                "aggregationStatusCode": 1,
                "status": "ACTIVE",
                "customerId": "CUST-527345",
                "institutionId": "STANDARD",
                "balanceDate": 1,
                "aggregationSuccessDate": 1,
                "aggregationAttemptDate": 1,
                "createdDate": 1,
                "lastUpdatedDate": 1,
                "marketSegment": "STANDARD",
                "currency": "USD",
                "lastTransactionDate": 1,
                "oldestTransactionDate": 1,
                "institutionLoginId": 1,
                "detail": {
                  "dateAsOf": 1,
                  "availableBalanceAmount": 100.0,
                  "openDate": 1,
                  "periodStartDate": 1,
                  "periodEndDate": 1,
                  "periodInterestRate": 100.0,
                  "periodDepositAmount": 100.0,
                  "periodInterestAmount": 100.0,
                  "interestYtdAmount": 100.0,
                  "interestPriorYtdAmount": 100.0,
                  "maturityDate": 1,
                  "interestRate": "STANDARD",
                  "creditAvailableAmount": 100.0,
                  "creditMaxAmount": 100.0
                }
              }
            ],
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "example": "string"
                },
                "number": {
                  "type": "string",
                  "example": "string"
                },
                "accountNumberDisplay": {
                  "type": "string",
                  "example": "string"
                },
                "realAccountNumberLast4": {
                  "type": "string",
                  "example": "string"
                },
                "name": {
                  "type": "string",
                  "example": "string"
                },
                "balance": {
                  "type": "number",
                  "example": 0.0
                },
                "type": {
                  "type": "string",
                  "example": "string"
                },
                "aggregationStatusCode": {
                  "type": "integer",
                  "format": "int32",
                  "example": 0
                },
                "status": {
                  "type": "string",
                  "example": "string"
                },
                "customerId": {
                  "type": "string",
                  "example": "string"
                },
                "institutionId": {
                  "type": "string",
                  "example": "string"
                },
                "balanceDate": {
                  "type": "integer",
                  "format": "int32",
                  "example": 0
                },
                "aggregationSuccessDate": {
                  "type": "integer",
                  "format": "int32",
                  "example": 0
                },
                "aggregationAttemptDate": {
                  "type": "integer",
                  "format": "int32",
                  "example": 0
                },
                "createdDate": {
                  "type": "integer",
                  "format": "int32",
                  "example": 0
                },
                "lastUpdatedDate": {
                  "type": "integer",
                  "format": "int32",
                  "example": 0
                },
                "marketSegment": {
                  "type": "string",
                  "example": "string"
                },
                "currency": {
                  "type": "string",
                  "example": "string"
                },
                "lastTransactionDate": {
                  "type": "integer",
                  "format": "int32",
                  "example": 0
                },
                "oldestTransactionDate": {
                  "type": "integer",
                  "format": "int32",
                  "example": 0
                },
                "institutionLoginId": {
                  "type": "integer",
                  "format": "int32",
                  "example": 0
                },
                "detail": {
                  "type": "object",
                  "properties": {
                    "dateAsOf": {
                      "type": "integer",
                      "format": "int32",
                      "example": 0
                    },
                    "availableBalanceAmount": {
                      "type": "number",
                      "example": 0.0
                    },
                    "openDate": {
                      "type": "integer",
                      "format": "int32",
                      "example": 0
                    },
                    "periodStartDate": {
                      "type": "integer",
                      "format": "int32",
                      "example": 0
                    },
                    "periodEndDate": {
                      "type": "integer",
                      "format": "int32",
                      "example": 0
                    },
                    "periodInterestRate": {
                      "type": "number",
                      "example": 0.0
                    },
                    "periodDepositAmount": {
                      "type": "number",
                      "example": 0.0
                    },
                    "periodInterestAmount": {
                      "type": "number",
                      "example": 0.0
                    },
                    "interestYtdAmount": {
                      "type": "number",
                      "example": 0.0
                    },
                    "interestPriorYtdAmount": {
                      "type": "number",
                      "example": 0.0
                    },
                    "maturityDate": {
                      "type": "integer",
                      "format": "int32",
                      "example": 0
                    },
                    "interestRate": {
                      "type": "string",
                      "example": "string"
                    },
                    "creditAvailableAmount": {
                      "type": "number",
                      "example": 0.0
                    },
                    "creditMaxAmount": {
                      "type": "number",
                      "example": 0.0
                    }
                  },
                  "example": "string"
                }
              },
              "example": "string"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "acd4d92b-f421-528e-b4db-b09b7e874bab",
              "correlationId": "fcbca5ab-f773-5aa7-b7e9-7ade1cd1a0e1",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "accounts": [
            {
              "id": "STANDARD",
              "number": "STANDARD",
              "accountNumberDisplay": "STANDARD",
              "realAccountNumberLast4": "STANDARD",
              "name": "Northstar Banking Service",
              "balance": 100.0,
              "type": "STANDARD",
              "aggregationStatusCode": 1,
              "status": "ACTIVE",
              "customerId": "CUST-527345",
              "institutionId": "STANDARD",
              "balanceDate": 1,
              "aggregationSuccessDate": 1,
              "aggregationAttemptDate": 1,
              "createdDate": 1,
              "lastUpdatedDate": 1,
              "marketSegment": "STANDARD",
              "currency": "USD",
              "lastTransactionDate": 1,
              "oldestTransactionDate": 1,
              "institutionLoginId": 1,
              "detail": {
                "dateAsOf": 1,
                "availableBalanceAmount": 100.0,
                "openDate": 1,
                "periodStartDate": 1,
                "periodEndDate": 1,
                "periodInterestRate": 100.0,
                "periodDepositAmount": 100.0,
                "periodInterestAmount": 100.0,
                "interestYtdAmount": 100.0,
                "interestPriorYtdAmount": 100.0,
                "maturityDate": 1,
                "interestRate": "STANDARD",
                "creditAvailableAmount": 100.0,
                "creditMaxAmount": 100.0
              }
            }
          ],
          "metadata": {
            "responseId": "acd4d92b-f421-528e-b4db-b09b7e874bab",
            "correlationId": "fcbca5ab-f773-5aa7-b7e9-7ade1cd1a0e1",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-refresh-customer-accounts"
        },
        "example": "open-finance-api-refresh-customer-accounts"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}