{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Bank Account Details Retrieval API",
    "description": "The Bank Account Details Retrieval API allows authorized users to access comprehensive information about specific bank accounts. By leveraging the Open Banking framework, this API facilitates the retrieval of account details using a unique account identifier. Businesses and financial institutions can use this API to provide clients with insights into their account activities, balances, and associated services. Typical consumers include banking applications and financial service providers seeking to enhance user experience with current account information.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/aisp/accounts/{accountId}": {
      "get": {
        "tags": [
          "Account Management"
        ],
        "summary": "Retrieve AISP Account Details",
        "description": "This endpoint allows you to fetch detailed information about a specific AISP account using its unique identifier. Ensure you have the necessary permissions to access this resource.",
        "operationId": "getAispAccountById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "description": "Request payload to retrieve account information for the specified account ID. The payload should conform to the schema defined, ensuring to include all necessary fields as prescribed.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAispAccountByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the account details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAispAccountByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetAispAccountByIdRequest": {
        "title": "Account Operations Request Body",
        "type": "string",
        "description": "This schema represents the request body for performing operations on accounts. It is a simple string type without any nested properties.",
        "example": "{}"
      },
      "GetAispAccountByIdResponse_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "Account": {
                "type": "array",
                "description": "List of account details.",
                "items": {
                  "$ref": "#/components/schemas/AccountDetails"
                }
              }
            },
            "description": "Contains the details of the accounts.",
            "example": {
              "Account": [
                {
                  "id": "STANDARD",
                  "Status": "ACTIVE",
                  "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
                  "Currency": "USD",
                  "category": "STANDARD",
                  "typeCode": "CODE-839",
                  "Description": "Customer banking request processed successfully",
                  "Nickname": "Northstar Banking Service",
                  "OpeningDate": "2026-09-15",
                  "MaturityDate": "2026-09-15",
                  "SwitchStatus": "ACTIVE",
                  "Account": [
                    {
                      "SchemeName": "Northstar Banking Service",
                      "Identification": "STANDARD",
                      "Name": "Northstar Banking Service",
                      "LEI": "STANDARD",
                      "SecondaryIdentification": "STANDARD"
                    }
                  ],
                  "StatementFrequencyAndFormat": [
                    {
                      "Frequency": "STANDARD",
                      "CommunicationMethod": "STANDARD",
                      "Format": "STANDARD",
                      "DeliveryAddress": {
                        "AddressType": "STANDARD",
                        "Department": "STANDARD",
                        "SubDepartment": "STANDARD",
                        "StreetName": "Northstar Banking Service",
                        "BuildingNumber": "STANDARD",
                        "BuildingName": "Northstar Banking Service",
                        "Floor": "STANDARD",
                        "UnitNumber": "STANDARD",
                        "Room": "STANDARD",
                        "PostBox": "STANDARD",
                        "TownLocationName": "Northstar Banking Service",
                        "DistrictName": "Northstar Banking Service",
                        "CareOf": "STANDARD",
                        "PostCode": "CODE-406",
                        "TownName": "Northstar Banking Service",
                        "CountrySubDivision": "STANDARD"
                      }
                    }
                  ]
                }
              ]
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "resp-12345678"
              },
              "correlationId": {
                "type": "string",
                "description": "Correlation id for tracking the request.",
                "example": "corr-87654321"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp of when the response was generated.",
                "example": "2023-01-01T12:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the request was processed.",
                "example": "EU"
              }
            },
            "description": "Metadata related to the response.",
            "example": {
              "responseId": "1a85185b-49ce-57b7-97fa-652198314be1",
              "correlationId": "c81f0fc5-4be5-5fbf-964f-f467755cf484",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for account operations.",
        "example": {
          "Data": {
            "Account": [
              {
                "id": "STANDARD",
                "Status": "ACTIVE",
                "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
                "Currency": "USD",
                "category": "STANDARD",
                "typeCode": "CODE-839",
                "Description": "Customer banking request processed successfully",
                "Nickname": "Northstar Banking Service",
                "OpeningDate": "2026-09-15",
                "MaturityDate": "2026-09-15",
                "SwitchStatus": "ACTIVE",
                "Account": [
                  {
                    "SchemeName": "Northstar Banking Service",
                    "Identification": "STANDARD",
                    "Name": "Northstar Banking Service",
                    "LEI": "STANDARD",
                    "SecondaryIdentification": "STANDARD"
                  }
                ],
                "StatementFrequencyAndFormat": [
                  {
                    "Frequency": "STANDARD",
                    "CommunicationMethod": "STANDARD",
                    "Format": "STANDARD",
                    "DeliveryAddress": {
                      "AddressType": "STANDARD",
                      "Department": "STANDARD",
                      "SubDepartment": "STANDARD",
                      "StreetName": "Northstar Banking Service",
                      "BuildingNumber": "STANDARD",
                      "BuildingName": "Northstar Banking Service",
                      "Floor": "STANDARD",
                      "UnitNumber": "STANDARD",
                      "Room": "STANDARD",
                      "PostBox": "STANDARD",
                      "TownLocationName": "Northstar Banking Service",
                      "DistrictName": "Northstar Banking Service",
                      "CareOf": "STANDARD",
                      "PostCode": "CODE-406",
                      "TownName": "Northstar Banking Service",
                      "CountrySubDivision": "STANDARD"
                    }
                  }
                ]
              }
            ]
          },
          "metadata": {
            "responseId": "1a85185b-49ce-57b7-97fa-652198314be1",
            "correlationId": "c81f0fc5-4be5-5fbf-964f-f467755cf484",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AccountDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "ACC12345"
          },
          "Status": {
            "type": "string",
            "description": "Current status of the account.",
            "example": "Active"
          },
          "StatusUpdateDateTime": {
            "type": "string",
            "description": "Timestamp of the last status update.",
            "example": "2023-01-01T12:00:00Z"
          },
          "Currency": {
            "type": "string",
            "description": "Currency type of the account.",
            "example": "GBP"
          },
          "category": {
            "type": "string",
            "description": "Category type of the account.",
            "example": "Savings"
          },
          "typeCode": {
            "type": "string",
            "description": "Type code of the account.",
            "example": "SAV"
          },
          "Description": {
            "type": "string",
            "description": "Description of the account.",
            "example": "Personal Savings Account"
          },
          "Nickname": {
            "type": "string",
            "description": "User-defined nickname for the account.",
            "example": "My Savings"
          },
          "OpeningDate": {
            "type": "string",
            "description": "Date when the account was opened.",
            "example": "2020-01-01T12:00:00Z"
          },
          "MaturityDate": {
            "type": "string",
            "description": "Date when the account matures.",
            "example": "2025-01-01T12:00:00Z"
          },
          "SwitchStatus": {
            "type": "string",
            "description": "Status of any switch operations for the account.",
            "example": "Not Applicable"
          },
          "Account": {
            "type": "array",
            "description": "List of account scheme details.",
            "items": {
              "$ref": "#/components/schemas/AccountSchemeDetails"
            }
          },
          "StatementFrequencyAndFormat": {
            "type": "array",
            "description": "Statement frequency and format options.",
            "items": {
              "$ref": "#/components/schemas/StatementFrequencyAndFormat"
            }
          }
        },
        "description": "Details pertaining to a specific account."
      },
      "AccountSchemeDetails": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "Name of the account scheme.",
            "example": "UK Deposit Scheme"
          },
          "Identification": {
            "type": "string",
            "description": "Identifying number for the scheme.",
            "example": "UK123456789"
          },
          "Name": {
            "type": "string",
            "description": "Name of the financial institution.",
            "example": "Main Bank"
          },
          "LEI": {
            "type": "string",
            "description": "Legal Entity Identifier of the institution.",
            "example": "1234567890ABCDEFGHIJ"
          },
          "SecondaryIdentification": {
            "type": "string",
            "description": "Any secondary identification for the account.",
            "example": "SID12345"
          }
        },
        "description": "Details of the account scheme."
      },
      "StatementFrequencyAndFormat": {
        "type": "object",
        "properties": {
          "Frequency": {
            "type": "string",
            "description": "Frequency at which statements are issued.",
            "example": "Monthly"
          },
          "CommunicationMethod": {
            "type": "string",
            "description": "Method of communication for sending statements.",
            "example": "Email"
          },
          "Format": {
            "type": "string",
            "description": "Format of the statements provided.",
            "example": "PDF"
          },
          "DeliveryAddress": {
            "type": "object",
            "properties": {
              "AddressType": {
                "type": "string",
                "description": "Type of the address (e.g. Home, Work).",
                "example": "Home"
              },
              "Department": {
                "type": "string",
                "description": "Department at the delivery address, if applicable.",
                "example": "Finance"
              },
              "SubDepartment": {
                "type": "string",
                "description": "Sub-department at the delivery address, if applicable.",
                "example": "Personal Finance"
              },
              "StreetName": {
                "type": "string",
                "description": "Name of the street.",
                "example": "Main St"
              },
              "BuildingNumber": {
                "type": "string",
                "description": "Number of the building.",
                "example": "1"
              },
              "BuildingName": {
                "type": "string",
                "description": "Name of the building.",
                "example": "Main Tower"
              },
              "Floor": {
                "type": "string",
                "description": "Floor number in the building, if applicable.",
                "example": "1"
              },
              "UnitNumber": {
                "type": "string",
                "description": "Unit number in the building, if applicable.",
                "example": "101"
              },
              "Room": {
                "type": "string",
                "description": "Room number in the unit, if applicable.",
                "example": "10"
              },
              "PostBox": {
                "type": "string",
                "description": "Post box number, if applicable.",
                "example": "123"
              },
              "TownLocationName": {
                "type": "string",
                "description": "Name of the town or location.",
                "example": "London"
              },
              "DistrictName": {
                "type": "string",
                "description": "Name of the district.",
                "example": "Central"
              },
              "CareOf": {
                "type": "string",
                "description": "Care of name, if applicable.",
                "example": "John Doe"
              },
              "PostCode": {
                "type": "string",
                "description": "Postal code.",
                "example": "N1 1AA"
              },
              "TownName": {
                "type": "string",
                "description": "Name of the town.",
                "example": "London"
              },
              "CountrySubDivision": {
                "type": "string",
                "description": "Subdivision of the country.",
                "example": "ENG"
              }
            },
            "description": "Delivery address for receiving statements."
          }
        },
        "description": "Options for statement frequency and format."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-api-get-accounts-account-id"
        },
        "example": "accounts-api-get-accounts-account-id"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method utilizing a bearer token. This scheme expects a JSON Web Token (JWT) to be included in the `Authorization` header of requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}