{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Management Manual Retrieval API",
    "description": "The Management Manual Retrieval API enables users to access comprehensive knowledge assets related to banking management practices. This endpoint allows consumers to retrieve specific management manuals based on a given parameter, facilitating informed decision-making and operational efficiency. It serves as a valuable resource for banking professionals seeking to enhance their understanding of management protocols and guidelines. Typical use cases include onboarding staff, training sessions, and reference for compliance procedures.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/knowledge-assets/management-manual/{param1}": {
      "get": {
        "tags": [
          "Knowledge Management"
        ],
        "summary": "Retrieve Management Manual Details",
        "description": "Fetches the details of the management manual identified by the resource ID RES-100045. This endpoint provides comprehensive information including sections, guidelines, and related documents to assist users in understanding the management directives.",
        "operationId": "getKnowledgeAssetManagementManualRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving the management manual with ID RES-100045, containing relevant data in JSON format. Ensure to provide the necessary attributes as defined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetKnowledgeAssetManagementManualRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and the resource has been retrieved.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetKnowledgeAssetManagementManualRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetKnowledgeAssetManagementManualRes100045Request": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to the management manual, specifically the knowledge assets for a certain resource.",
        "example": "{}"
      },
      "GetKnowledgeAssetManagementManualRes100045Response_200": {
        "title": "Management Manual",
        "type": "object",
        "properties": {
          "manualId": {
            "type": "string",
            "description": "Unique identifier for the management manual.",
            "example": "STANDARD"
          },
          "title": {
            "type": "string",
            "description": "Title of the management manual.",
            "example": "Banking operation completed"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the management manual.",
            "format": "int32",
            "example": 1
          },
          "ownerId": {
            "type": "string",
            "description": "Identifier of the owner of the manual.",
            "example": "STANDARD"
          },
          "effectiveDate": {
            "type": "string",
            "description": "Date when the manual becomes effective.",
            "example": "2026-09-15"
          },
          "classification": {
            "type": "string",
            "description": "Classification of the management manual.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the manual was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the management manual.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the details of a management manual.",
        "example": {
          "manualId": "STANDARD",
          "title": "Banking operation completed",
          "version": 1,
          "ownerId": "STANDARD",
          "effectiveDate": "2026-09-15",
          "classification": "STANDARD",
          "recordStatus": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "ee6e6735-141f-5ac6-a6b1-582ad8e72b54",
            "correlationId": "10c47dc9-abb4-5899-9024-cd1f9c6ad6b3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracing requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata information associated with the management manual.",
        "example": {
          "responseId": "response-001",
          "correlationId": "correlation-001",
          "generatedAt": "2023-10-15T12:00:00Z",
          "processingRegion": "us-east"
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "management-manual-get-management-manual"
        },
        "example": "management-manual-get-management-manual"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request and returned the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "The bearer authentication scheme uses a token-based authentication mechanism where the client must include a JSON Web Token (JWT) with each request. This token must be passed in the HTTP Authorization header as 'Bearer <token>'. To access protected resources, ensure that a valid JWT is provided.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}