{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Deposit Lending By Param1-spec",
    "description": "This API enables users to retrieve detailed information about mortgage loans based on a specified parameter. Ideal for financial institutions, lenders, and developers, this service facilitates quick access to loan data, aiding in decision-making and customer service. By providing endpoint access to mortgage loan information, it supports functionality such as loan assessments and customer inquiries. Utilize this API to enhance user experiences and streamline lending operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/mortgage-loan/{param1}": {
      "get": {
        "tags": [
          "Mortgage Loans"
        ],
        "summary": "Retrieve Mortgage Loan Details",
        "description": "Fetches the detailed information of the specified mortgage loan identified by its unique loan ID. This endpoint provides essential data including loan terms, interest rates, and borrower information.",
        "operationId": "getDepositLendingByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving details of mortgage loan with ID LOAN-500045. Ensure that the request contains the necessary fields as per the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetDepositLendingByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and the mortgage loan details are returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDepositLendingByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetDepositLendingByParam1Request": {
        "type": "string",
        "description": "This schema represents the request body for the mortgage loan operation with the specific loan identifier (LOAN-500045).",
        "example": "{}"
      },
      "GetDepositLendingByParam1Response_200": {
        "title": "Mortgage Loan Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier of the customer.",
            "example": "CUST-304810"
          },
          "accountId": {
            "type": "string",
            "description": "The unique identifier of the account associated with the mortgage loan.",
            "example": "ACC-653862"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the mortgage product.",
            "example": "CHK-PREMIUM-US"
          },
          "principal": {
            "description": "The principal amount of the loan along with its currency.",
            "$ref": "#/components/schemas/LoanPrincipal"
          },
          "termMonths": {
            "type": "integer",
            "description": "The term length of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "The frequency at which repayments are made (e.g., monthly, quarterly).",
            "example": "STANDARD"
          },
          "propertyId": {
            "type": "string",
            "description": "The unique identifier for the property associated with the loan.",
            "example": "STANDARD"
          },
          "propertyValue": {
            "description": "The value of the property being financed with the mortgage.",
            "$ref": "#/components/schemas/PropertyValue"
          },
          "loanToValuePercent": {
            "type": "number",
            "description": "The loan-to-value ratio expressed as a percentage.",
            "example": 100.0
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the loan record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the loan record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the loan record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "This schema represents the response structure for a mortgage loan query.",
        "example": {
          "customerId": "CUST-304810",
          "accountId": "ACC-653862",
          "productCode": "CHK-PREMIUM-US",
          "principal": {
            "amount": 100.0,
            "currency": "USD"
          },
          "termMonths": 1,
          "repaymentFrequency": "STANDARD",
          "propertyId": "STANDARD",
          "propertyValue": {
            "amount": 100.0,
            "currency": "USD"
          },
          "loanToValuePercent": 100.0,
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "67a32652-6d82-581c-9215-d11713d05306",
            "correlationId": "041f25b3-fece-5c25-a519-38faa68968b9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "LoanPrincipal": {
        "title": "Loan Principal",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The principal amount of the loan.",
            "example": 250000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the loan principal is denominated.",
            "example": "USD"
          }
        },
        "description": "This schema represents the principal amount and currency of the loan."
      },
      "PropertyValue": {
        "title": "Property Value",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The market value of the property.",
            "example": 300000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the property value is expressed.",
            "example": "USD"
          }
        },
        "description": "This schema represents the value of the property associated with the loan."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "RESP-7890"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking related requests.",
            "example": "CORR-1234"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "US-East"
          }
        },
        "description": "This schema represents metadata information in the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "mortgage-loan-get-mortgage-loan"
        },
        "example": "mortgage-loan-get-mortgage-loan"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes Bearer authentication via JSON Web Tokens (JWT). Clients must include a valid JWT in the Authorization header when making requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}