{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Banking Cross Channel Point Of Service-v5-spec",
    "description": "MICROSERVICE-PROD-Create Banking Cross Channel Point Of Service-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cross-channel/point-of-service": {
      "post": {
        "operationId": "createBankingCrossChannelPointOfService",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBankingCrossChannelPointOfServiceRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBankingCrossChannelPointOfServiceResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateBankingCrossChannelPointOfServiceRequest": {
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "example": "PARTY-894126"
          },
          "interactionId": {
            "type": "string",
            "example": "INT-337123"
          },
          "channel": {
            "type": "string",
            "example": "STANDARD"
          },
          "authenticationLevel": {
            "type": "string",
            "example": "STANDARD"
          },
          "terminalId": {
            "type": "string",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "example": "MER-412243"
          },
          "terminalStatus": {
            "type": "string",
            "example": "ACTIVE"
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "a18f763c-e88c-5e91-8ba0-b69523e48cdd",
              "correlationId": "9589b1ff-092d-5925-800c-6c83267c3fce",
              "idempotencyKey": "7a172783-a218-526d-bee5-7a756eb681d2",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-826093"
              }
            }
          }
        },
        "example": {
          "partyId": "PARTY-894126",
          "interactionId": "INT-337123",
          "channel": "STANDARD",
          "authenticationLevel": "STANDARD",
          "terminalId": "STANDARD",
          "merchantId": "MER-412243",
          "terminalStatus": "ACTIVE",
          "requestContext": {
            "requestId": "a18f763c-e88c-5e91-8ba0-b69523e48cdd",
            "correlationId": "9589b1ff-092d-5925-800c-6c83267c3fce",
            "idempotencyKey": "7a172783-a218-526d-bee5-7a756eb681d2",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-826093"
            }
          }
        }
      },
      "CreateBankingCrossChannelPointOfServiceResponse_201": {
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "example": "PARTY-974881"
          },
          "interactionId": {
            "type": "string",
            "example": "INT-223432"
          },
          "terminalId": {
            "type": "string",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "example": "MER-372277"
          },
          "resourceId": {
            "type": "string",
            "example": "RES-169302"
          },
          "status": {
            "type": "string",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "db0542ac-b2d4-5f13-a4d6-69192aea1a18",
              "correlationId": "9589b1ff-092d-5925-800c-6c83267c3fce",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "partyId": "PARTY-974881",
          "interactionId": "INT-223432",
          "terminalId": "STANDARD",
          "merchantId": "MER-372277",
          "resourceId": "RES-169302",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "db0542ac-b2d4-5f13-a4d6-69192aea1a18",
            "correlationId": "9589b1ff-092d-5925-800c-6c83267c3fce",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "point-of-service-create-point-of-service"
        },
        "example": "point-of-service-create-point-of-service"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}