{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Human Resource Management By Param1-spec",
    "description": "The Travel Expense Management API provides functionality for retrieving detailed information about travel expenses linked to a specific parameter. This API allows businesses to access and manage travel expenditure data effectively, facilitating better financial oversight and reporting. Typical consumers include finance teams, HR departments, and travel coordinators who require insight into travel-related costs. By utilizing this API, organizations can streamline their expense management processes and enhance their budgeting efforts.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/travel-expenses/{param1}": {
      "get": {
        "tags": [
          "Travel Expenses"
        ],
        "summary": "Retrieve a specific travel expense record.",
        "description": "This endpoint allows users to fetch the details of a specific travel expense using its unique identifier. It provides essential information regarding the expense such as date, amount, and associated staff.",
        "operationId": "getHumanResourceManagementByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve travel expense information for a specific resource, identified by RES-100045. Ensure that the required parameters are included in the JSON format for successful retrieval of data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetHumanResourceManagementByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved travel expense details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetHumanResourceManagementByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetHumanResourceManagementByParam1Request": {
        "type": "string",
        "description": "This schema represents the request body for the travel expenses API in the Human Resource Management system. It contains string data that is expected as input.",
        "example": "{}"
      },
      "GetHumanResourceManagementByParam1Response_200": {
        "title": "Travel Expense Report Response",
        "type": "object",
        "properties": {
          "expenseReportId": {
            "type": "string",
            "description": "Unique identifier for the expense report.",
            "example": "STANDARD"
          },
          "employeeId": {
            "type": "string",
            "description": "Identifier for the employee who submitted the expense report.",
            "example": "EMP-979659"
          },
          "tripPurpose": {
            "type": "string",
            "description": "Description of the purpose of the trip.",
            "example": "STANDARD"
          },
          "expensePeriod": {
            "description": "The period during which the expenses were incurred.",
            "$ref": "#/components/schemas/ExpensePeriod"
          },
          "claimedAmount": {
            "description": "Details of the amount claimed in the expense report.",
            "$ref": "#/components/schemas/ClaimedAmount"
          },
          "costCenter": {
            "type": "string",
            "description": "Cost center associated with the expense report.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the expense report.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the expense report.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the expense report was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the expense report response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for a travel expense report.",
        "example": {
          "expenseReportId": "STANDARD",
          "employeeId": "EMP-979659",
          "tripPurpose": "STANDARD",
          "expensePeriod": {
            "from": "2026-08-11",
            "to": "2026-08-11"
          },
          "claimedAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "costCenter": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "adc2703b-8f8a-587a-9c31-e3447cfaba33",
            "correlationId": "7715b599-329b-5d2b-bbcf-fff221b7d521",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ExpensePeriod": {
        "title": "Expense Period",
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "description": "Start date of the expense period in ISO format.",
            "example": "2023-09-01"
          },
          "to": {
            "type": "string",
            "description": "End date of the expense period in ISO format.",
            "example": "2023-09-05"
          }
        },
        "description": "The duration during which the expenses were incurred."
      },
      "ClaimedAmount": {
        "title": "Claimed Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The total amount being claimed.",
            "example": 1000.0
          },
          "currency": {
            "type": "string",
            "description": "Currency of the claimed amount.",
            "example": "USD"
          }
        },
        "description": "Details of the amount claimed in the expense report."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RES123"
          },
          "correlationId": {
            "type": "string",
            "description": "ID to correlate requests and responses.",
            "example": "CORR456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the response was processed.",
            "example": "US-East"
          }
        },
        "description": "Additional metadata related to the expense report response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the specific API endpoint, used for tracking and analytics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "travel-and-expenses-get-travel-and-expenses"
        },
        "example": "travel-and-expenses-get-travel-and-expenses"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request, useful for understanding where the response originated from.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication, specifically employing JSON Web Tokens (JWT). Clients must provide a valid JWT in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}