{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Product Deployment Management API",
    "description": "The Product Deployment Management API provides a streamlined interface for retrieving the status and details of products currently deployed within the banking ecosystem. This API enables users, such as product managers and deployment teams, to access essential information about product deployments efficiently. Through this operation, consumers can ensure they are informed about the deployment progress, identify issues, and manage deployments effectively. It plays a key role in maintaining operational oversight and supporting timely decision-making related to product management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/product-management/product-deployment": {
      "get": {
        "tags": [
          "Product Management"
        ],
        "summary": "Retrieve product deployment details.",
        "description": "This endpoint allows you to fetch detailed information about the product deployment, including its status, configuration, and any active processes related to the deployment. Use this to monitor and manage your product deployments effectively.",
        "operationId": "getProductDeployment",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving product deployment information. This should include the necessary parameters to specify which product deployment details are being requested.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetProductDeploymentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and the resources are returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetProductDeploymentResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetProductDeploymentRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to product deployment management. It is expected to be a string representation of the request data.",
        "example": "{}"
      },
      "GetProductDeploymentResponse_200": {
        "title": "Product Deployment Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of product items.",
            "example": [
              {
                "productCode": "CHK-PREMIUM-US",
                "productName": "Northstar Banking Service",
                "customerSegment": "STANDARD",
                "baseCurrency": "USD",
                "effectiveDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ProductItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting criteria applied to the product items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for product deployment retrieval, including pagination and sorting information.",
        "example": {
          "items": [
            {
              "productCode": "CHK-PREMIUM-US",
              "productName": "Northstar Banking Service",
              "customerSegment": "STANDARD",
              "baseCurrency": "USD",
              "effectiveDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "1c52152f-ff93-591c-a777-89bba6f0116f",
            "correlationId": "b56cee7a-c0e9-5a60-b0f7-056b3c1fdbe4",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ProductItem": {
        "title": "Product Item",
        "type": "object",
        "properties": {
          "productCode": {
            "type": "string",
            "description": "The unique code identifying the product."
          },
          "productName": {
            "type": "string",
            "description": "The name of the product."
          },
          "customerSegment": {
            "type": "string",
            "description": "The segment of customers the product is targeted to."
          },
          "baseCurrency": {
            "type": "string",
            "description": "The base currency of the product pricing."
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date the product information is effective."
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the product record (e.g. active, inactive)."
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the product was last updated."
          }
        },
        "description": "Represents a single product's information in the deployment response."
      },
      "Pagination": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32"
          }
        },
        "description": "Contains pagination details for the list of products."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the API response."
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier for tracing requests across systems."
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp of when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred."
          }
        },
        "description": "Contains metadata information about the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that was called. This value is used for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "product-deployment-search-product-deployment"
        },
        "example": "product-deployment-search-product-deployment"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request. This helps identify which application instance processed the API call.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication with JSON Web Tokens (JWT). Clients must include a valid JWT in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}