{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update P2m By Terminal Id-spec",
    "description": "The Terminal Management API enables clients to update payment-related settings for specific terminals using their unique identifiers. This API facilitates seamless modifications to terminal configurations, ensuring that payment processes remain efficient and adaptable to changing business needs. Typical consumers include payment facilitators, merchants, and system integrators who manage device settings. By utilizing the PATCH method, developers can make targeted adjustments to improve operational performance and enhance user experience.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/terminals/{terminalId}": {
      "patch": {
        "tags": [
          "Terminal Management"
        ],
        "summary": "Update terminal details",
        "description": "This endpoint allows you to update the information for a specific terminal identified by its unique resource identifier. Use this to modify attributes such as status, location, or configuration settings.",
        "operationId": "updateP2mByTerminalId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/terminalId"
          }
        ],
        "requestBody": {
          "description": "Request body for updating terminal information for 'RES-100045'. This payload should include the fields that need to be modified in the terminal's configuration.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateP2mByTerminalIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateP2mByTerminalIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateP2mByTerminalIdRequest": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "description": "A label for the terminal.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the terminal.",
            "example": "ACTIVE"
          },
          "capabilities": {
            "type": "array",
            "description": "List of capabilities supported by the terminal.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "A single capability of the terminal.",
              "example": "string"
            }
          },
          "requestContext": {
            "description": "Contextual information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for the PATCH operation on terminal resources.",
        "example": {
          "label": "STANDARD",
          "status": "ACTIVE",
          "capabilities": [
            "STANDARD"
          ],
          "requestContext": {
            "requestId": "c13c9354-257a-5312-972e-ada109f230a3",
            "correlationId": "339dede8-077d-5462-a5d8-1aec318ee948",
            "idempotencyKey": "47161846-c50b-51f4-8338-b978fe824c22",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-546849"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to prevent repeated processing of the same request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the system that originated the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the application that made the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel from which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context in which the request is made."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the channel.",
            "example": "string"
          }
        },
        "description": "Schema representing the channel through which the request was made."
      },
      "UpdateP2mByTerminalIdResponse_200": {
        "type": "object",
        "properties": {
          "terminalId": {
            "type": "string",
            "description": "Unique identifier for the terminal.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant that owns the terminal.",
            "example": "MER-444282"
          },
          "outletId": {
            "type": "string",
            "description": "Identifier for the outlet associated with the terminal.",
            "example": "STANDARD"
          },
          "terminalType": {
            "type": "string",
            "description": "Type of the terminal (e.g. POS, ATM).",
            "example": "STANDARD"
          },
          "label": {
            "type": "string",
            "description": "Human-readable label for the terminal.",
            "example": "STANDARD"
          },
          "serialNumber": {
            "type": "string",
            "description": "Serial number of the hardware device.",
            "example": "STANDARD"
          },
          "deviceFingerprint": {
            "type": "string",
            "description": "Unique fingerprint for the device to identify it.",
            "example": "STANDARD"
          },
          "capabilities": {
            "type": "array",
            "description": "List of capabilities that the terminal supports.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "A specific capability supported by the terminal.",
              "example": "contactless_payment"
            }
          },
          "status": {
            "type": "string",
            "description": "Current operational status of the terminal.",
            "example": "ACTIVE"
          },
          "lastSeenAt": {
            "type": "string",
            "description": "Timestamp of when the terminal was last seen.",
            "example": "2026-08-11T12:00:00Z"
          },
          "audit": {
            "description": "Audit information related to the terminal.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Additional metadata related to the terminal.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for the PATCH operation on terminals.",
        "example": {
          "terminalId": "STANDARD",
          "merchantId": "MER-444282",
          "outletId": "STANDARD",
          "terminalType": "STANDARD",
          "label": "STANDARD",
          "serialNumber": "STANDARD",
          "deviceFingerprint": "STANDARD",
          "capabilities": [
            "STANDARD"
          ],
          "status": "ACTIVE",
          "lastSeenAt": "2026-08-11T12:00:00Z",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "4f0ed470-3fc6-5e67-96a0-628388247456",
            "correlationId": "339dede8-077d-5462-a5d8-1aec318ee948",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Audit": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the terminal was created.",
            "example": "2023-09-01T12:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the terminal.",
            "example": "user_admin"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the terminal was last updated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the terminal.",
            "example": "user_editor"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the terminal record.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Audit details capturing the history of the terminal's updates."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response_1234"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracing the request through the system.",
            "example": "correlation_5678"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2023-10-01T12:34:56Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the terminal information took place.",
            "example": "US-East"
          }
        },
        "description": "Metadata providing additional context about the terminal response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "terminalId": {
        "name": "terminalId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the API endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-update-terminal"
        },
        "example": "banking-p2m-openapi-update-terminal"
      },
      "X-Runtime-App": {
        "description": "Identifier for the application runtime responsible for processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication using Bearer tokens, specifically in JSON Web Token (JWT) format. Clients must include a valid JWT in the 'Authorization' header when making requests to secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}