{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Document Processing API",
    "description": "The Document Processing API facilitates the creation and management of banking documents within the microservices architecture. Designed for financial institutions, this API allows users to submit, manage, and track various document types efficiently. Typical consumers include banking applications and document management systems that require seamless integration for handling sensitive documentation. Through this API, organizations can enhance their operational workflows and ensure compliance with regulatory standards.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://enterprise-support-app:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/documents/document-services": {
      "post": {
        "tags": [
          "Document Services"
        ],
        "summary": "Create a new document service.",
        "description": "This endpoint allows you to create a new document service by providing the necessary details. Ensure that all required fields are included in the request to successfully create the service.",
        "operationId": "createDocumentService",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request payload for creating or modifying document services. This JSON object must conform to the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDocumentServiceRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateDocumentServiceResponse_201"
                }
              }
            }
          },
          "422": {
            "description": "The request was well-formed but unable to be processed due to semantic errors.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateDocumentServiceResponse_422"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateDocumentServiceResponse_201": {
        "title": "Document Service Response",
        "type": "object",
        "properties": {
          "documentId": {
            "type": "string",
            "description": "The unique identifier for the document.",
            "example": "DOC-898076"
          },
          "ownerId": {
            "type": "string",
            "description": "The unique identifier of the owner of the document.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier of the resource associated with the document.",
            "example": "RES-916549"
          },
          "status": {
            "type": "string",
            "description": "The current status of the document.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the document was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the document response.",
            "$ref": "#/components/schemas/DocumentMetadata"
          }
        },
        "description": "Represents the response structure when a document service operation is successfully executed.",
        "example": {
          "documentId": "DOC-898076",
          "ownerId": "STANDARD",
          "resourceId": "RES-916549",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "da0e5b4c-faa5-5ee1-bade-800b2fd8c9d9",
            "correlationId": "0c8c0963-61ec-5bcc-8c52-d03e25fb381d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "DocumentMetadata": {
        "title": "Document Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "resp-54321"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to trace requests across systems.",
            "example": "corr-98765"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the document processing took place.",
            "example": "us-east-1"
          }
        },
        "description": "Contains additional information about the document response."
      },
      "CreateDocumentServiceRequest": {
        "title": "Document Service Request Body",
        "type": "object",
        "properties": {
          "documentId": {
            "type": "string",
            "description": "Unique identifier for the document.",
            "example": "DOC-803521"
          },
          "documentType": {
            "type": "string",
            "description": "Type of the document.",
            "example": "STANDARD"
          },
          "classification": {
            "type": "string",
            "description": "Classification level of the document.",
            "example": "STANDARD"
          },
          "retentionClass": {
            "type": "string",
            "description": "Retention class for the document.",
            "example": "STANDARD"
          },
          "ownerId": {
            "type": "string",
            "description": "Identifier of the owner of the document.",
            "example": "STANDARD"
          },
          "fileName": {
            "type": "string",
            "description": "Name of the file associated with the document.",
            "example": "Northstar Banking Service"
          },
          "mediaType": {
            "type": "string",
            "description": "Media type of the document.",
            "example": "STANDARD"
          },
          "checksumSha256": {
            "type": "string",
            "description": "SHA-256 checksum for verifying the document's integrity.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context information for the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for the Document Service operations.",
        "example": {
          "documentId": "DOC-803521",
          "documentType": "STANDARD",
          "classification": "STANDARD",
          "retentionClass": "STANDARD",
          "ownerId": "STANDARD",
          "fileName": "Northstar Banking Service",
          "mediaType": "STANDARD",
          "checksumSha256": "STANDARD",
          "requestContext": {
            "requestId": "fa0632fd-673f-5e29-a691-04024f10c4c3",
            "correlationId": "0c8c0963-61ec-5bcc-8c52-d03e25fb381d",
            "idempotencyKey": "ea3cfd1d-e543-529f-946d-e7a56a832c59",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-381199"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-7890"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating related requests.",
            "example": "corr-5432"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the idempotency of the request.",
            "example": "idempotency-unique-key"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "SystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "App123"
          },
          "channel": {
            "description": "Information about the request channel.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel through which the request was made.",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-XYZ-789"
          }
        },
        "description": "Schema representing information about the request channel."
      },
      "CreateDocumentServiceResponse_422": {
        "type": "object",
        "properties": {
          "correlationId": {
            "type": "string",
            "description": "A unique identifier for the request, used for tracking purposes.",
            "example": "c6544b31-3898-4fe5-8fa8-6a85d711dfb0"
          },
          "code": {
            "type": "string",
            "description": "An error code representing the specific type of failure that occurred.",
            "example": "RISK_REVIEW_REJECTED"
          },
          "workflow": {
            "type": "string",
            "description": "The name of the workflow that encountered an error.",
            "example": "WF-042"
          },
          "message": {
            "type": "string",
            "description": "A human-readable message providing additional information about the error.",
            "example": "Enhanced fraud/compliance review rejected the request"
          }
        },
        "description": "Schema representing the response for a 422 Unprocessable Entity error in the document service operation.",
        "example": {
          "correlationId": "c6544b31-3898-4fe5-8fa8-6a85d711dfb0",
          "code": "RISK_REVIEW_REJECTED",
          "workflow": "WF-042",
          "message": "Enhanced fraud/compliance review rejected the request"
        }
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-042"
        },
        "example": "WF-042"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "d3929f6d-da7f-4bb0-8ecd-ecad67411606"
        },
        "example": "d3929f6d-da7f-4bb0-8ecd-ecad67411606"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "2"
        },
        "example": "2"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "RISK_REJECT"
        },
        "example": "RISK_REJECT"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "02c63453-5d23-4822-8e03-409219d197a0"
        },
        "example": "02c63453-5d23-4822-8e03-409219d197a0"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201",
            "MICROSERVICE_PROD_422"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "document-services-create-document-services"
        },
        "example": "document-services-create-document-services"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      },
      "X-Workflow-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-042"
        },
        "example": "WF-042"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow that initiated the request. This can be used to identify the specific workflow in context.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Account Takeover Investigation and Freeze"
        },
        "example": "Account Takeover Investigation and Freeze"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow, indicating its progress or status during execution.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "REJECTED"
        },
        "example": "REJECTED"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the workflow execution. This ID can be used to track or reference the specific execution instance.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "02c63453-5d23-4822-8e03-409219d197a0"
        },
        "example": "02c63453-5d23-4822-8e03-409219d197a0"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer Authentication method with JSON Web Tokens (JWT). Clients must include a valid JWT token in the Authorization header of their requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}