{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Account Owner Verification Matchings Customer Account By Account Id-v5-spec",
    "description": "MICROSERVICE-PROD-Create Account Owner Verification Matchings Customer Account By Account Id-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/account-owner-verification-matchings/customers/{customerId}/accounts/{accountId}": {
      "post": {
        "operationId": "createAccountOwnerVerificationMatchingsCustomerAccountByAccountId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          },
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAccountOwnerVerificationMatchingsCustomerAccountByAccountIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAccountOwnerVerificationMatchingsCustomerAccountByAccountIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateAccountOwnerVerificationMatchingsCustomerAccountByAccountIdRequest": {
        "type": "object",
        "properties": {
          "ownerName": {
            "type": "string",
            "example": "Northstar Banking Service"
          },
          "name": {
            "type": "object",
            "properties": {
              "firstName": {
                "type": "string",
                "example": "string"
              },
              "middleName": {
                "type": "string",
                "example": "string"
              },
              "lastName": {
                "type": "string",
                "example": "string"
              },
              "suffix": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "firstName": "Northstar Banking Service",
              "middleName": "Northstar Banking Service",
              "lastName": "Northstar Banking Service",
              "suffix": "STANDARD"
            }
          },
          "address": {
            "type": "object",
            "properties": {
              "line1": {
                "type": "string",
                "example": "string"
              },
              "line2": {
                "type": "string",
                "example": "string"
              },
              "line3": {
                "type": "string",
                "example": "string"
              },
              "city": {
                "type": "string",
                "example": "string"
              },
              "state": {
                "type": "string",
                "example": "string"
              },
              "country": {
                "type": "string",
                "example": "string"
              },
              "postalCode": {
                "type": "string",
                "example": "string"
              },
              "type": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "line1": "350 Fifth Avenue",
              "line2": "Suite 4200",
              "line3": "STANDARD",
              "city": "New York",
              "state": "STANDARD",
              "country": "STANDARD",
              "postalCode": "10001",
              "type": "STANDARD"
            }
          },
          "phone": {
            "type": "string",
            "example": "+1-212-555-0147"
          },
          "email": {
            "type": "string",
            "example": "olivia.bennett@northstar.example"
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "757ab06a-e79d-504c-8b5c-86559548a810",
              "correlationId": "bd94e65e-ef9f-5d5a-94a3-d41cd50cdade",
              "idempotencyKey": "7506908b-a065-5b90-b0d9-048d56db3197",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-802972"
              }
            }
          }
        },
        "example": {
          "ownerName": "Northstar Banking Service",
          "name": {
            "firstName": "Northstar Banking Service",
            "middleName": "Northstar Banking Service",
            "lastName": "Northstar Banking Service",
            "suffix": "STANDARD"
          },
          "address": {
            "line1": "350 Fifth Avenue",
            "line2": "Suite 4200",
            "line3": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "country": "STANDARD",
            "postalCode": "10001",
            "type": "STANDARD"
          },
          "phone": "+1-212-555-0147",
          "email": "olivia.bennett@northstar.example",
          "requestContext": {
            "requestId": "757ab06a-e79d-504c-8b5c-86559548a810",
            "correlationId": "bd94e65e-ef9f-5d5a-94a3-d41cd50cdade",
            "idempotencyKey": "7506908b-a065-5b90-b0d9-048d56db3197",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-802972"
            }
          }
        }
      },
      "CreateAccountOwnerVerificationMatchingsCustomerAccountByAccountIdResponse_200": {
        "type": "object",
        "properties": {
          "holders": {
            "type": "array",
            "example": [
              {
                "relationship": "STANDARD",
                "ownerName": "Northstar Banking Service",
                "firstName": "Northstar Banking Service",
                "middleName": "Northstar Banking Service",
                "lastName": "Northstar Banking Service",
                "suffix": "STANDARD",
                "nameScores": {
                  "ownerName": 1,
                  "firstName": 1,
                  "middleName": 1,
                  "lastName": 1,
                  "suffix": 1
                },
                "nameClassification": "STANDARD",
                "nameClassificationconfidencescore": 100,
                "addresses": [
                  {
                    "ownerAddress": "STANDARD",
                    "line1": "350 Fifth Avenue",
                    "line2": "Suite 4200",
                    "line3": "STANDARD",
                    "city": "New York",
                    "state": "STANDARD",
                    "country": "STANDARD",
                    "postalCode": "10001",
                    "type": "STANDARD",
                    "addressScores": {
                      "ownerAddress": 1,
                      "type": 1,
                      "line1": 1,
                      "line2": 1,
                      "line3": 1,
                      "city": 1,
                      "country": 1,
                      "postalCode": 1,
                      "state": 1
                    }
                  }
                ],
                "emails": [
                  {
                    "isPrimary": true,
                    "email": "olivia.bennett@northstar.example",
                    "emailType": "olivia.bennett@northstar.example",
                    "cores": {
                      "email": 1
                    }
                  }
                ]
              }
            ],
            "items": {
              "type": "object",
              "properties": {
                "relationship": {
                  "type": "string",
                  "example": "string"
                },
                "ownerName": {
                  "type": "string",
                  "example": "string"
                },
                "firstName": {
                  "type": "string",
                  "example": "string"
                },
                "middleName": {
                  "type": "string",
                  "example": "string"
                },
                "lastName": {
                  "type": "string",
                  "example": "string"
                },
                "suffix": {
                  "type": "string",
                  "example": "string"
                },
                "nameScores": {
                  "type": "object",
                  "properties": {
                    "ownerName": {
                      "type": "integer",
                      "format": "int32",
                      "example": 0
                    },
                    "firstName": {
                      "type": "integer",
                      "format": "int32",
                      "example": 0
                    },
                    "middleName": {
                      "type": "integer",
                      "format": "int32",
                      "example": 0
                    },
                    "lastName": {
                      "type": "integer",
                      "format": "int32",
                      "example": 0
                    },
                    "suffix": {
                      "type": "integer",
                      "format": "int32",
                      "example": 0
                    }
                  },
                  "example": "string"
                },
                "nameClassification": {
                  "type": "string",
                  "example": "string"
                },
                "nameClassificationconfidencescore": {
                  "type": "integer",
                  "format": "int32",
                  "example": 0
                },
                "addresses": {
                  "type": "array",
                  "example": "string",
                  "items": {
                    "type": "object",
                    "properties": {
                      "ownerAddress": {
                        "type": "string",
                        "example": "string"
                      },
                      "line1": {
                        "type": "string",
                        "example": "string"
                      },
                      "line2": {
                        "type": "string",
                        "example": "string"
                      },
                      "line3": {
                        "type": "string",
                        "example": "string"
                      },
                      "city": {
                        "type": "string",
                        "example": "string"
                      },
                      "state": {
                        "type": "string",
                        "example": "string"
                      },
                      "country": {
                        "type": "string",
                        "example": "string"
                      },
                      "postalCode": {
                        "type": "string",
                        "example": "string"
                      },
                      "type": {
                        "type": "string",
                        "example": "string"
                      },
                      "addressScores": {
                        "type": "object",
                        "properties": {
                          "ownerAddress": {
                            "type": "integer",
                            "format": "int32",
                            "example": 0
                          },
                          "type": {
                            "type": "integer",
                            "format": "int32",
                            "example": 0
                          },
                          "line1": {
                            "type": "integer",
                            "format": "int32",
                            "example": 0
                          },
                          "line2": {
                            "type": "integer",
                            "format": "int32",
                            "example": 0
                          },
                          "line3": {
                            "type": "integer",
                            "format": "int32",
                            "example": 0
                          },
                          "city": {
                            "type": "integer",
                            "format": "int32",
                            "example": 0
                          },
                          "country": {
                            "type": "integer",
                            "format": "int32",
                            "example": 0
                          },
                          "postalCode": {
                            "type": "integer",
                            "format": "int32",
                            "example": 0
                          },
                          "state": {
                            "type": "integer",
                            "format": "int32",
                            "example": 0
                          }
                        },
                        "example": "string"
                      }
                    },
                    "example": "string"
                  }
                },
                "emails": {
                  "type": "array",
                  "example": "string",
                  "items": {
                    "type": "object",
                    "properties": {
                      "isPrimary": {
                        "type": "boolean",
                        "example": false
                      },
                      "email": {
                        "type": "string",
                        "example": "string"
                      },
                      "emailType": {
                        "type": "string",
                        "example": "string"
                      },
                      "cores": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "integer",
                            "format": "int32",
                            "example": 0
                          }
                        },
                        "example": "string"
                      }
                    },
                    "example": "string"
                  }
                }
              },
              "example": "string"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "d5cbf397-f8e1-5f08-9209-ee4f9df3f8ea",
              "correlationId": "bd94e65e-ef9f-5d5a-94a3-d41cd50cdade",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "holders": [
            {
              "relationship": "STANDARD",
              "ownerName": "Northstar Banking Service",
              "firstName": "Northstar Banking Service",
              "middleName": "Northstar Banking Service",
              "lastName": "Northstar Banking Service",
              "suffix": "STANDARD",
              "nameScores": {
                "ownerName": 1,
                "firstName": 1,
                "middleName": 1,
                "lastName": 1,
                "suffix": 1
              },
              "nameClassification": "STANDARD",
              "nameClassificationconfidencescore": 100,
              "addresses": [
                {
                  "ownerAddress": "STANDARD",
                  "line1": "350 Fifth Avenue",
                  "line2": "Suite 4200",
                  "line3": "STANDARD",
                  "city": "New York",
                  "state": "STANDARD",
                  "country": "STANDARD",
                  "postalCode": "10001",
                  "type": "STANDARD",
                  "addressScores": {
                    "ownerAddress": 1,
                    "type": 1,
                    "line1": 1,
                    "line2": 1,
                    "line3": 1,
                    "city": 1,
                    "country": 1,
                    "postalCode": 1,
                    "state": 1
                  }
                }
              ],
              "emails": [
                {
                  "isPrimary": true,
                  "email": "olivia.bennett@northstar.example",
                  "emailType": "olivia.bennett@northstar.example",
                  "cores": {
                    "email": 1
                  }
                }
              ]
            }
          ],
          "metadata": {
            "responseId": "d5cbf397-f8e1-5f08-9209-ee4f9df3f8ea",
            "correlationId": "bd94e65e-ef9f-5d5a-94a3-d41cd50cdade",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-account-matching-score-details"
        },
        "example": "open-finance-api-account-matching-score-details"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}