{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create * Debit Card-spec",
    "description": "The Debit Card Creation API enables financial institutions and service providers to seamlessly issue debit cards for their customers. This endpoint allows the submission of customer details and card specifications to generate new debit cards. Typical consumers of this API include banking applications and fintech platforms that require card issuance as part of their offerings. By utilizing this API, businesses can automate card issuance processes and enhance customer experience in real-time.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customers/*/debit-cards": {
      "post": {
        "tags": [
          "Customer Debit Cards"
        ],
        "summary": "Create a new debit card for a customer.",
        "description": "This endpoint allows you to create a new debit card associated with a specific customer. Ensure you provide the necessary customer details and card information in the request body.",
        "operationId": "create*DebitCard",
        "parameters": [
          {
            "$ref": "#/components/parameters/parentspanid"
          },
          {
            "$ref": "#/components/parameters/x-request-id"
          },
          {
            "$ref": "#/components/parameters/x-envoy-attempt-count"
          },
          {
            "$ref": "#/components/parameters/x-envoy-peer-metadata"
          },
          {
            "$ref": "#/components/parameters/x-gateway-correlationid"
          },
          {
            "$ref": "#/components/parameters/x-envoy-external-address"
          },
          {
            "$ref": "#/components/parameters/x-envoy-peer-metadata-id"
          },
          {
            "$ref": "#/components/parameters/x-envoy-decorator-operation"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for creating a new debit card for a specific customer. The payload should include details about the debit card being requested.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Create*DebitCardRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource for the debit card created successfully.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              },
              "x-workflow-id": {
                "$ref": "#/components/headers/x-workflow-id"
              },
              "x-workflow-name": {
                "$ref": "#/components/headers/x-workflow-name"
              },
              "x-workflow-state": {
                "$ref": "#/components/headers/x-workflow-state"
              },
              "x-workflow-execution-id": {
                "$ref": "#/components/headers/x-workflow-execution-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Create*DebitCardResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "Create*DebitCardRequest": {
        "title": "Debit Card Operation Request Body",
        "type": "object",
        "properties": {
          "deviceId": {
            "type": "string",
            "description": "Unique identifier of the device.",
            "example": "DEV-201511"
          },
          "deviceType": {
            "type": "string",
            "description": "Type of the device being used.",
            "example": "STANDARD"
          },
          "assignedPartyId": {
            "type": "string",
            "description": "Identifier for the party to whom the device is assigned.",
            "example": "PARTY-863123"
          },
          "serialNumber": {
            "type": "string",
            "description": "Serial number of the device.",
            "example": "STANDARD"
          },
          "deviceStatus": {
            "type": "string",
            "description": "Current status of the device.",
            "example": "ACTIVE"
          },
          "requestContext": {
            "description": "Context of the request being made.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for debit card operations.",
        "example": {
          "deviceId": "DEV-201511",
          "deviceType": "STANDARD",
          "assignedPartyId": "PARTY-863123",
          "serialNumber": "STANDARD",
          "deviceStatus": "ACTIVE",
          "requestContext": {
            "requestId": "b7822a48-b71f-4521-9d52-af81d3d9f933",
            "correlationId": "c0aa7ecd-10c9-46cb-8bf0-670b73e54818",
            "idempotencyKey": "00de84df-c315-4481-af38-a220e6badbc9",
            "requestedAt": "2026-08-27T23:00:37.956Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-729638"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "request-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate logs across services.",
            "example": "correlation-abc"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the request is idempotent.",
            "example": "key-xyz-123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-01T00:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "system-a"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application initiating the request.",
            "example": "app-b"
          },
          "channel": {
            "description": "Details of the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema containing information relevant to the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier of the channel.",
            "example": "channel-1"
          },
          "channelType": {
            "type": "string",
            "description": "Type/category of the channel.",
            "example": "online"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device associated with the channel.",
            "example": "device-12345"
          }
        },
        "description": "Schema representing information about the channel used for the request."
      },
      "Create*DebitCardResponse_201": {
        "type": "object",
        "properties": {
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device associated with the debit card.",
            "example": "DEV-952491"
          },
          "assignedPartyId": {
            "type": "string",
            "description": "Identifier for the party to whom the debit card is assigned.",
            "example": "PARTY-919819"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique resource identifier for the debit card.",
            "example": "RES-340108"
          },
          "status": {
            "type": "string",
            "description": "Current status of the debit card (e.g., active, suspended).",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the debit card was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the creation of the debit card.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for creating debit cards in the system.",
        "example": {
          "deviceId": "DEV-952491",
          "assignedPartyId": "PARTY-919819",
          "resourceId": "RES-340108",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "1f3055aa-fd93-5b1a-8411-e95f5e1e3da7",
            "correlationId": "5e5a46ca-cfd4-544f-961b-b77519b7f489",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response from the operation.",
            "example": "response_789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating multiple requests or events.",
            "example": "correlation_987"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T10:05:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the debit card request took place.",
            "example": "US-East"
          }
        },
        "description": "Contains metadata details related to the transaction."
      }
    },
    "parameters": {
      "parentspanid": {
        "name": "parentspanid",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "91ee477fe2658ea1"
        },
        "example": "91ee477fe2658ea1"
      },
      "x-request-id": {
        "name": "x-request-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "6c182915-d81e-48b7-a8a9-f0dbe649ef31"
        },
        "example": "6c182915-d81e-48b7-a8a9-f0dbe649ef31"
      },
      "x-envoy-attempt-count": {
        "name": "x-envoy-attempt-count",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-envoy-peer-metadata": {
        "name": "x-envoy-peer-metadata",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ChoKCkNMVVNURVJfSUQSDBoKS3ViZXJuZXRlcwquAQoGTEFCRUxTEqMBKqABCh0KA2FwcBIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQo5Ch9zZXJ2aWNlLmlzdGlvLmlvL2Nhbm9uaWNhbC1uYW1lEhYaFGlzdGlvLWluZ3Jlc3NnYXRld2F5Ci8KI3NlcnZpY2UuaXN0aW8uaW8vY2Fub25pY2FsLXJldmlzaW9uEggaBjEtMzAtMAoTCgd2ZXJzaW9uEggaBjEuMzAuMAouCgROQU1FEiYaJGlzdGlvLWluZ3Jlc3NnYXRld2F5LTlkZDQ2YjU4Yi10Y3R6cwobCglOQU1FU1BBQ0USDhoMaXN0aW8tc3lzdGVtCl0KBU9XTkVSElQaUmt1YmVybmV0ZXM6Ly9hcGlzL2FwcHMvdjEvbmFtZXNwYWNlcy9pc3Rpby1zeXN0ZW0vZGVwbG95bWVudHMvaXN0aW8taW5ncmVzc2dhdGV3YXkKJwoNV09SS0xPQURfTkFNRRIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQ=="
        },
        "example": "ChoKCkNMVVNURVJfSUQSDBoKS3ViZXJuZXRlcwquAQoGTEFCRUxTEqMBKqABCh0KA2FwcBIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQo5Ch9zZXJ2aWNlLmlzdGlvLmlvL2Nhbm9uaWNhbC1uYW1lEhYaFGlzdGlvLWluZ3Jlc3NnYXRld2F5Ci8KI3NlcnZpY2UuaXN0aW8uaW8vY2Fub25pY2FsLXJldmlzaW9uEggaBjEtMzAtMAoTCgd2ZXJzaW9uEggaBjEuMzAuMAouCgROQU1FEiYaJGlzdGlvLWluZ3Jlc3NnYXRld2F5LTlkZDQ2YjU4Yi10Y3R6cwobCglOQU1FU1BBQ0USDhoMaXN0aW8tc3lzdGVtCl0KBU9XTkVSElQaUmt1YmVybmV0ZXM6Ly9hcGlzL2FwcHMvdjEvbmFtZXNwYWNlcy9pc3Rpby1zeXN0ZW0vZGVwbG95bWVudHMvaXN0aW8taW5ncmVzc2dhdGV3YXkKJwoNV09SS0xPQURfTkFNRRIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQ=="
      },
      "x-gateway-correlationid": {
        "name": "x-gateway-correlationid",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "3874971a-31ec-46d2-bf39-95b4d9e76fa7"
        },
        "example": "3874971a-31ec-46d2-bf39-95b4d9e76fa7"
      },
      "x-envoy-external-address": {
        "name": "x-envoy-external-address",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "18.156.191.52"
        },
        "example": "18.156.191.52"
      },
      "x-envoy-peer-metadata-id": {
        "name": "x-envoy-peer-metadata-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "router~10.10.185.143~istio-ingressgateway-9dd46b58b-tctzs.istio-system~istio-system.svc.cluster.local"
        },
        "example": "router~10.10.185.143~istio-ingressgateway-9dd46b58b-tctzs.istio-system~istio-system.svc.cluster.local"
      },
      "x-envoy-decorator-operation": {
        "name": "x-envoy-decorator-operation",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "kong-test1-kong-proxy.kong-test.svc.cluster.local:80/*"
        },
        "example": "kong-test1-kong-proxy.kong-test.svc.cluster.local:80/*"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "An identifier for the specific endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "issued-device-administration-create-issued-device-administration"
        },
        "example": "issued-device-administration-create-issued-device-administration"
      },
      "x-runtime-app": {
        "description": "The name of the runtime application that handled this operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      },
      "x-workflow-id": {
        "description": "A unique identifier for the workflow that was executed during this operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-021"
        },
        "example": "WF-021"
      },
      "x-workflow-name": {
        "description": "The name of the workflow being executed in response to the POST request for debit card operations.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Debit Card Issuance and Activation"
        },
        "example": "Debit Card Issuance and Activation"
      },
      "x-workflow-state": {
        "description": "The current state of the workflow execution, indicating its progress.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "x-workflow-execution-id": {
        "description": "A unique identifier for the specific instance of the workflow execution.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "f2b05209-1749-4bc5-9ce9-b04d8e8428fd"
        },
        "example": "f2b05209-1749-4bc5-9ce9-b04d8e8428fd"
      }
    }
  }
}