{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Notification Subscriptions Webhooks-v5-spec",
    "description": "The Webhook Subscription Management API allows users to retrieve a comprehensive list of active notification subscriptions for webhooks. This endpoint is designed for developers seeking to manage integration points with their applications efficiently. Typical consumers include system integrators and application developers who need to monitor and respond to event-driven data streams. By accessing this API, users can ensure they maintain a synchronized and responsive ecosystem for their services.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/notification-subscriptions/webhooks": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Retrieve all webhooks.",
        "description": "This endpoint allows you to retrieve a list of all webhooks that have been configured in the system. It returns details such as the webhook URL, events it is subscribed to, and its current status.",
        "operationId": "listNotificationSubscriptionsWebhooks",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve webhook configuration and settings. It should include any necessary parameters to specify the desired data or filters for the webhook retrieval.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListNotificationSubscriptionsWebhooksRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of webhook data.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListNotificationSubscriptionsWebhooksResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListNotificationSubscriptionsWebhooksRequest": {
        "type": "string",
        "description": "The request body for the webhook operations using the GET method when the content type is application/json.",
        "example": "{}"
      },
      "ListNotificationSubscriptionsWebhooksResponse_200": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of subscriptions returned in the response.",
            "format": "int32",
            "example": 1
          },
          "offset": {
            "type": "integer",
            "description": "The offset for pagination, indicating the starting point of the returned subscriptions.",
            "format": "int32",
            "example": 1
          },
          "limit": {
            "type": "integer",
            "description": "The maximum number of subscriptions that can be returned in the response.",
            "format": "int32",
            "example": 1
          },
          "total": {
            "type": "integer",
            "description": "The total number of subscriptions available, regardless of pagination.",
            "format": "int32",
            "example": 1
          },
          "subscriptions": {
            "type": "array",
            "description": "A list of subscription objects.",
            "example": [
              {
                "subscriptionId": "STANDARD",
                "url": "https://banking.northstar.example/callbacks/status",
                "events": [
                  {
                    "webhookEventId": "STANDARD",
                    "name": "Northstar Banking Service",
                    "url": "https://banking.northstar.example/callbacks/status",
                    "status": "ACTIVE",
                    "condition": {
                      "subscribeFor": "STANDARD",
                      "includes": [
                        "STANDARD"
                      ],
                      "excludes": [
                        "STANDARD"
                      ]
                    }
                  }
                ],
                "status": "ACTIVE",
                "createdDate": "2026-09-15",
                "lastUpdatedDate": "2026-09-15"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Subscription"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "example": {
          "count": 1,
          "offset": 1,
          "limit": 1,
          "total": 1,
          "subscriptions": [
            {
              "subscriptionId": "STANDARD",
              "url": "https://banking.northstar.example/callbacks/status",
              "events": [
                {
                  "webhookEventId": "STANDARD",
                  "name": "Northstar Banking Service",
                  "url": "https://banking.northstar.example/callbacks/status",
                  "status": "ACTIVE",
                  "condition": {
                    "subscribeFor": "STANDARD",
                    "includes": [
                      "STANDARD"
                    ],
                    "excludes": [
                      "STANDARD"
                    ]
                  }
                }
              ],
              "status": "ACTIVE",
              "createdDate": "2026-09-15",
              "lastUpdatedDate": "2026-09-15"
            }
          ],
          "metadata": {
            "responseId": "9115e77b-7e91-51ae-b5d2-8d85c853d290",
            "correlationId": "bf6f380b-1559-5bcd-9b6e-2b7126164065",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Subscription": {
        "type": "object",
        "properties": {
          "subscriptionId": {
            "type": "string",
            "description": "The unique identifier for the subscription.",
            "example": "string"
          },
          "url": {
            "type": "string",
            "description": "The URL associated with the subscription.",
            "example": "string"
          },
          "events": {
            "type": "array",
            "description": "A list of events associated with the subscription.",
            "items": {
              "$ref": "#/components/schemas/Event"
            }
          },
          "status": {
            "type": "string",
            "description": "The current status of the subscription.",
            "example": "string"
          },
          "createdDate": {
            "type": "string",
            "description": "The date when the subscription was created.",
            "example": "string"
          },
          "lastUpdatedDate": {
            "type": "string",
            "description": "The date when the subscription was last updated.",
            "example": "string"
          }
        },
        "description": "Represents an individual subscription within the response."
      },
      "Event": {
        "type": "object",
        "properties": {
          "webhookEventId": {
            "type": "string",
            "description": "The unique identifier for the webhook event.",
            "example": "string"
          },
          "name": {
            "type": "string",
            "description": "The name of the webhook event.",
            "example": "string"
          },
          "url": {
            "type": "string",
            "description": "The URL to which the event notifications will be sent.",
            "example": "string"
          },
          "status": {
            "type": "string",
            "description": "The current status of the event.",
            "example": "string"
          },
          "condition": {
            "$ref": "#/components/schemas/Condition"
          }
        },
        "description": "Represents an individual event associated with a subscription."
      },
      "Condition": {
        "type": "object",
        "properties": {
          "subscribeFor": {
            "type": "string",
            "description": "The event type to subscribe for.",
            "example": "string"
          },
          "includes": {
            "type": "array",
            "description": "A list of conditions that must be included.",
            "items": {
              "type": "string",
              "description": "An inclusion condition."
            }
          },
          "excludes": {
            "type": "array",
            "description": "A list of conditions that must be excluded.",
            "items": {
              "type": "string",
              "description": "An exclusion condition."
            }
          }
        },
        "description": "Conditions that define the triggering criteria for the event."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracing requests across services.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the response was processed.",
            "example": "string"
          }
        },
        "description": "Metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-list-webhook-subscriptions"
        },
        "example": "open-finance-api-list-webhook-subscriptions"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method with JSON Web Tokens (JWT). Clients must include a valid JWT in the `Authorization` header of requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}