{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Advanced Voice Services Operations API",
    "description": "The Advanced Voice Services Operations API facilitates the retrieval of specific voice service details related to banking operations. This endpoint allows consumers, such as financial institutions and service developers, to access information about various voice service channels and their operational parameters. By leveraging this API, users can enhance their customer interaction strategies through advanced voice functionalities. It is particularly useful for integration with voice-driven banking applications and for optimizing service offerings based on operational insights.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/advanced-voice-services-operations/{param1}": {
      "get": {
        "tags": [
          "Advanced Voice Services"
        ],
        "summary": "Retrieve advanced voice service operation details.",
        "description": "This endpoint allows you to fetch detailed information about the advanced voice service operations associated with a specific resource ID. It provides insights necessary for managing and optimizing voice services effectively.",
        "operationId": "getChannelSpecificAdvancedVoiceServiceOperationsRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve advanced voice services operations for a specific channel. The client must provide the necessary parameters as specified in the schema to ensure a successful operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetChannelSpecificAdvancedVoiceServiceOperationsRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of advanced voice services operations data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetChannelSpecificAdvancedVoiceServiceOperationsRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetChannelSpecificAdvancedVoiceServiceOperationsRes100045Request": {
        "type": "string",
        "description": "A request body for channel-specific advanced voice services operations.",
        "example": "{}"
      },
      "GetChannelSpecificAdvancedVoiceServiceOperationsRes100045Response_200": {
        "type": "object",
        "properties": {
          "voicePlatformId": {
            "type": "string",
            "description": "The unique identifier for the voice platform.",
            "example": "STANDARD"
          },
          "ivrFlowId": {
            "type": "string",
            "description": "The unique identifier for the IVR flow associated with the voice platform.",
            "example": "STANDARD"
          },
          "supportedLanguages": {
            "type": "array",
            "description": "List of languages supported by the voice platform.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "A language code (e.g., 'en', 'fr') representing a supported language.",
              "example": "en"
            }
          },
          "concurrentCallCapacity": {
            "type": "integer",
            "description": "The maximum number of concurrent calls the platform can handle.",
            "format": "int32",
            "example": 1
          },
          "regionCode": {
            "type": "string",
            "description": "The region code where the voice platform is deployed.",
            "example": "US-EAST-1"
          },
          "recordStatus": {
            "type": "string",
            "description": "The recording status of the voice platform (e.g., 'enabled' or 'disabled').",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the voice platform configuration.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of the last update to the voice platform configuration.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "A unique identifier for the response.",
                "example": "resp789"
              },
              "correlationId": {
                "type": "string",
                "description": "An identifier used to trace the request and its response.",
                "example": "corr012"
              },
              "generatedAt": {
                "type": "string",
                "description": "The timestamp when the response was generated.",
                "example": "2023-10-01T12:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region where the request was processed.",
                "example": "US-West"
              }
            },
            "description": "Metadata related to the response for tracking and correlation purposes.",
            "example": {
              "responseId": "62ea8ac4-5d76-5c6a-998c-0c5d09706914",
              "correlationId": "f1f959d4-600d-5a65-a7cf-25b0b2290972",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for advanced voice services operations, providing details about the voice platform configuration.",
        "example": {
          "voicePlatformId": "STANDARD",
          "ivrFlowId": "STANDARD",
          "supportedLanguages": [
            "STANDARD"
          ],
          "concurrentCallCapacity": 1,
          "regionCode": "US-EAST-1",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "62ea8ac4-5d76-5c6a-998c-0c5d09706914",
            "correlationId": "f1f959d4-600d-5a65-a7cf-25b0b2290972",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint associated with the request, which helps in tracking the request's source.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "advanced-voice-services-operations-get-advanced-voice-services-operations"
        },
        "example": "advanced-voice-services-operations-get-advanced-voice-services-operations"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is currently handling the request, allowing for better logging and performance monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication with JWT (JSON Web Tokens) to authorize access to the API. Clients must include a valid JWT in the Authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}