{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Tax Management API",
    "description": "The Customer Tax Management API facilitates the efficient handling of customer tax information within banking operations. This API allows businesses to submit, update, and manage tax-related data for individual consumers effectively. Typical consumers include financial institutions and tax compliance software developers, who need to integrate robust tax solutions into their services. By leveraging this API, organizations can streamline compliance processes and enhance customer service through accurate tax information management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9003",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/consumer-services/customer-tax-handling": {
      "post": {
        "tags": [
          "Customer Services"
        ],
        "summary": "Create Customer Tax Handling",
        "description": "This endpoint allows you to create and manage tax handling configurations for consumers. It enables businesses to ensure compliance with tax regulations and streamline financial processes.",
        "operationId": "createCustomerTaxHandling",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to handle customer tax operations by submitting the necessary data in JSON format. The data provided should include all relevant customer tax details as specified in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerTaxHandlingRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully with the provided tax handling configurations.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCustomerTaxHandlingResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCustomerTaxHandlingRequest": {
        "title": "Customer Tax Handling Request",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-673168"
          },
          "serviceRequestId": {
            "type": "string",
            "description": "The unique identifier for the service request.",
            "example": "f3c2b8c8-5021-5e80-91b8-b6007cce3e11"
          },
          "productCode": {
            "type": "string",
            "description": "The code of the product related to the tax handling.",
            "example": "CHK-PREMIUM-US"
          },
          "amount": {
            "description": "The amount related to the tax handling operation.",
            "$ref": "#/components/schemas/Amount"
          },
          "requestedDate": {
            "type": "string",
            "description": "The date when the request is made, in ISO 8601 format.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "description": "Context information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for handling customer tax operations.",
        "example": {
          "customerId": "CUST-673168",
          "serviceRequestId": "f3c2b8c8-5021-5e80-91b8-b6007cce3e11",
          "productCode": "CHK-PREMIUM-US",
          "amount": {
            "value": 100.0,
            "currency": "USD"
          },
          "requestedDate": "2026-09-15",
          "requestContext": {
            "requestId": "acda6b54-37b6-5ded-b8f4-59268f0a88d7",
            "correlationId": "bef008ba-8669-5272-bb43-cddb7f562455",
            "idempotencyKey": "72db87fa-d1c0-59b3-82c2-83ac12fd16c0",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-713494"
            }
          }
        }
      },
      "Amount": {
        "title": "Amount",
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The numerical value of the amount.",
            "example": 100.0
          },
          "currency": {
            "type": "string",
            "description": "The currency code of the amount (e.g., 'USD', 'EUR').",
            "example": "USD"
          }
        },
        "description": "Represents an amount of money along with its currency."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "req-789"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to correlate related requests.",
            "example": "corr-123"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure the idempotency of the request.",
            "example": "key-456"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp of when the request was made, in ISO 8601 format.",
            "example": "2023-01-01T00:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "BillingSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "CustomerPortal"
          },
          "channel": {
            "description": "The channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Provides context for the request, including identifiers and system information."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier of the channel.",
            "example": "channel-123"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., 'web', 'mobile').",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used to make the request.",
            "example": "device-456"
          }
        },
        "description": "Information about the channel through which the request was received."
      },
      "CreateCustomerTaxHandlingResponse_201": {
        "title": "Customer Tax Handling Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-173377"
          },
          "serviceRequestId": {
            "type": "string",
            "description": "The identifier of the service request associated with the operation.",
            "example": "028ba62d-7bc1-5c45-b7f5-c82f1e4ee76b"
          },
          "productCode": {
            "type": "string",
            "description": "The code of the product related to the tax handling.",
            "example": "CHK-PREMIUM-US"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource involved in the operation.",
            "example": "RES-855859"
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/TaxHandlingMetadata"
          }
        },
        "description": "Response object for the customer tax handling operation.",
        "example": {
          "customerId": "CUST-173377",
          "serviceRequestId": "028ba62d-7bc1-5c45-b7f5-c82f1e4ee76b",
          "productCode": "CHK-PREMIUM-US",
          "resourceId": "RES-855859",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "5b61a4a1-77b4-50b2-a7d3-1164141a819e",
            "correlationId": "bef008ba-8669-5272-bb43-cddb7f562455",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "TaxHandlingMetadata": {
        "title": "Tax Handling Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The identifier for the response generated by the operation.",
            "example": "RESP456"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracing and debugging purposes.",
            "example": "CORR678"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-10-01T10:05:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographic region where the processing occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata related to the customer tax handling operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-tax-handling-create-customer-tax-handling"
        },
        "example": "customer-tax-handling-create-customer-tax-handling"
      },
      "x-runtime-app": {
        "description": "The version of the runtime application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method with JSON Web Tokens (JWT). Clients can use bearer tokens to authenticate themselves when making requests to the API.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}