{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Compliance Reporting API",
    "description": "The Compliance Reporting API facilitates the generation of compliance reports within the banking sector. By leveraging this endpoint, users can submit requests to create detailed reports that align with regulatory standards and internal compliance protocols. Typical consumers of this API include compliance officers, auditors, and risk management teams looking to enhance their reporting processes. The API supports the creation and management of various compliance-related documents, ensuring that organizations maintain accountability and meet legislative requirements.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://risk-compliance-app:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/compliance/compliance-reporting/reports": {
      "post": {
        "tags": [
          "Compliance"
        ],
        "summary": "Create a new compliance report.",
        "description": "This endpoint allows users to create a new compliance report by submitting the necessary details in the request body. A successful operation will generate a new report that can be used for compliance tracking and auditing purposes.",
        "operationId": "createComplianceReport",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit a compliance report. It must contain all necessary information as defined in the schema. Ensure that the data is properly formatted and all required fields are included.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateComplianceReportRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted and is being processed asynchronously.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateComplianceReportResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateComplianceReportRequest": {
        "title": "Compliance Reporting Request Body",
        "type": "object",
        "properties": {
          "submissionId": {
            "type": "string",
            "description": "Unique identifier for the submission.",
            "example": "STANDARD"
          },
          "legalEntityId": {
            "type": "string",
            "description": "Identifier for the legal entity involved in the reporting.",
            "example": "STANDARD"
          },
          "jurisdiction": {
            "type": "string",
            "description": "Jurisdiction related to the compliance reporting.",
            "example": "STANDARD"
          },
          "reportingPeriod": {
            "type": "string",
            "description": "The period for which the report is being submitted.",
            "example": "STANDARD"
          },
          "regulation": {
            "type": "string",
            "description": "The regulation under which the report is filed.",
            "example": "STANDARD"
          },
          "dueDate": {
            "type": "string",
            "description": "The date by which the report must be submitted.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "description": "Context information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the request body of the compliance reporting operation.",
        "example": {
          "submissionId": "STANDARD",
          "legalEntityId": "STANDARD",
          "jurisdiction": "STANDARD",
          "reportingPeriod": "STANDARD",
          "regulation": "STANDARD",
          "dueDate": "2026-09-15",
          "requestContext": {
            "requestId": "5d186567-154b-5389-a330-80d6a2d8188b",
            "correlationId": "3b89df6a-5860-5c82-a5ad-8112228e08ab",
            "idempotencyKey": "d5010027-68d9-5903-ba7f-33fc09925d17",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-703627"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate logs for the request.",
            "example": "corr-67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of the request.",
            "example": "idempotency-unique-1"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "BillingSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request was initiated.",
            "example": "BillingApp"
          },
          "channel": {
            "description": "The channel through which the request was received.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema for the context information accompanying a request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel, e.g., web, mobile.",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the request.",
            "example": "device-54321"
          }
        },
        "description": "Schema representing the channel details of the request."
      },
      "CreateComplianceReportResponse_202": {
        "type": "object",
        "properties": {
          "submissionId": {
            "type": "string",
            "description": "The unique identifier for the submission.",
            "example": "STANDARD"
          },
          "legalEntityId": {
            "type": "string",
            "description": "The identifier for the legal entity associated with the submission.",
            "example": "STANDARD"
          },
          "submissionReference": {
            "type": "string",
            "description": "A reference for tracking the submission.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the submission.",
            "example": "ACTIVE"
          },
          "receivedAt": {
            "type": "string",
            "description": "The timestamp when the submission was received.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/SubmissionMetadata"
          }
        },
        "description": "A schema representing the response structure for operation reporting submissions.",
        "example": {
          "submissionId": "STANDARD",
          "legalEntityId": "STANDARD",
          "submissionReference": "STANDARD",
          "status": "ACTIVE",
          "receivedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "9bb61569-6680-5130-8e8f-68d3d6077b54",
            "correlationId": "3b89df6a-5860-5c82-a5ad-8112228e08ab",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "SubmissionMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier used to trace the response to its request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the submission was processed.",
            "example": "string"
          }
        },
        "description": "A schema representing metadata associated with a submission."
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-045"
        },
        "example": "WF-045"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "2cfb635f-dbb6-4d40-a148-c0aa258fb8cb"
        },
        "example": "2cfb635f-dbb6-4d40-a148-c0aa258fb8cb"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "f26ec079-9e10-464e-a3f9-75300fc7898b"
        },
        "example": "f26ec079-9e10-464e-a3f9-75300fc7898b"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "compliance-reporting-report-compliance-reporting"
        },
        "example": "compliance-reporting-report-compliance-reporting"
      },
      "X-Runtime-App": {
        "description": "The name of the application in which the request was processed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      },
      "X-Workflow-Id": {
        "description": "The identifier for the workflow associated with the processing of the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-045"
        },
        "example": "WF-045"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow associated with this request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Suspicious Activity Case and Regulatory Filing"
        },
        "example": "Suspicious Activity Case and Regulatory Filing"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow, indicating its progress or status.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the execution of the workflow, useful for tracking and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "f26ec079-9e10-464e-a3f9-75300fc7898b"
        },
        "example": "f26ec079-9e10-464e-a3f9-75300fc7898b"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JSON Web Tokens (JWT) to authenticate user requests. The token should be provided in the Authorization header using the 'Bearer' prefix. Ensure that the token is valid and has not expired to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}