{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Open Banking Atms-spec",
    "description": "The Open Banking ATMs Lookup API provides access to a comprehensive list of ATMs that support Open Banking services. This API allows developers to retrieve detailed information about available ATMs, facilitating integrations for banking applications and services. Typical consumers of this API include financial institutions, fintech apps, and developers looking to enhance user experiences by integrating ATM location features. By utilizing this API, businesses can offer customers convenient access to nearby Open Banking ATMs, ultimately improving service efficiency and customer satisfaction.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/reference-implementation/open-banking/atms": {
      "get": {
        "tags": [
          "Open Banking Services"
        ],
        "summary": "Retrieve ATM information.",
        "description": "This endpoint allows you to retrieve information about available ATMs in the open banking network. You can use this data to locate ATMs and obtain details such as location and accessibility features.",
        "operationId": "listOpenBankingAtms",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for fetching ATM information in the Open Banking environment. This body should contain any parameters necessary for the query to retrieve relevant ATM data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListOpenBankingAtmsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of ATMs.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOpenBankingAtmsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListOpenBankingAtmsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on ATMs in the Open Banking service. It accepts a string payload.",
        "example": "{}"
      },
      "ListOpenBankingAtmsResponse_200": {
        "title": "Open Banking ATM Operations Response",
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/Meta"
          },
          "data": {
            "type": "array",
            "description": "A collection of ATM information.",
            "example": [
              {
                "Organisation": {
                  "ParentOrganisation": {
                    "LEI": "STANDARD",
                    "BIC": "STANDARD",
                    "OrganisationName": {
                      "LegalName": "Olivia Bennett"
                    }
                  },
                  "Brand": {
                    "TrademarkIPOCode": "CODE-930",
                    "TrademarkID": "STANDARD"
                  }
                },
                "BranchIdentification": "STANDARD",
                "ATMID": "STANDARD",
                "LocationCategory": "STANDARD",
                "SiteID": "STANDARD",
                "SiteName": "Northstar Banking Service",
                "Address": {
                  "StreetName": "Northstar Banking Service",
                  "BuildingNumberOrName": "Northstar Banking Service",
                  "PostCode": "CODE-400",
                  "OptionalAddressField": "STANDARD",
                  "TownName": "Northstar Banking Service",
                  "CountrySubDivision": "STANDARD",
                  "Country": "STANDARD"
                },
                "GeographicLocation": {
                  "Latitude": "STANDARD",
                  "Longitude": "STANDARD"
                },
                "AccessibilityTypes": [
                  "STANDARD"
                ],
                "SupportedLanguages": [
                  "STANDARD"
                ],
                "ATMServices": [
                  "STANDARD"
                ],
                "AdditionalATMServices": [
                  "STANDARD"
                ],
                "Currency": [
                  "USD"
                ],
                "MinimumValueDispensed": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ATMData"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for retrieving ATM details in an Open Banking context.",
        "example": {
          "meta": {
            "LastUpdated": "2026-09-15",
            "TotalResults": 1,
            "Agreement": "STANDARD",
            "License": "https://example.com/resource",
            "TermsOfUse": "https://example.com/resource"
          },
          "data": [
            {
              "Organisation": {
                "ParentOrganisation": {
                  "LEI": "STANDARD",
                  "BIC": "STANDARD",
                  "OrganisationName": {
                    "LegalName": "Olivia Bennett"
                  }
                },
                "Brand": {
                  "TrademarkIPOCode": "CODE-930",
                  "TrademarkID": "STANDARD"
                }
              },
              "BranchIdentification": "STANDARD",
              "ATMID": "STANDARD",
              "LocationCategory": "STANDARD",
              "SiteID": "STANDARD",
              "SiteName": "Northstar Banking Service",
              "Address": {
                "StreetName": "Northstar Banking Service",
                "BuildingNumberOrName": "Northstar Banking Service",
                "PostCode": "CODE-400",
                "OptionalAddressField": "STANDARD",
                "TownName": "Northstar Banking Service",
                "CountrySubDivision": "STANDARD",
                "Country": "STANDARD"
              },
              "GeographicLocation": {
                "Latitude": "STANDARD",
                "Longitude": "STANDARD"
              },
              "AccessibilityTypes": [
                "STANDARD"
              ],
              "SupportedLanguages": [
                "STANDARD"
              ],
              "ATMServices": [
                "STANDARD"
              ],
              "AdditionalATMServices": [
                "STANDARD"
              ],
              "Currency": [
                "USD"
              ],
              "MinimumValueDispensed": "STANDARD"
            }
          ],
          "metadata": {
            "responseId": "cbb0884c-b573-5b43-b549-495ce0ab8f5c",
            "correlationId": "622e3e27-b649-537f-8e2a-e4d030ddf003",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Meta": {
        "title": "Meta Information",
        "type": "object",
        "properties": {
          "LastUpdated": {
            "type": "string",
            "description": "The date and time when the data was last updated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "TotalResults": {
            "type": "integer",
            "description": "The total number of ATMs available in the data set.",
            "format": "int32",
            "example": 100
          },
          "Agreement": {
            "type": "string",
            "description": "The agreement under which the data is provided.",
            "example": "Open Banking Agreement"
          },
          "License": {
            "type": "string",
            "description": "The license under which the data is shared.",
            "example": "Open Data License"
          },
          "TermsOfUse": {
            "type": "string",
            "description": "Terms under which the data must be used.",
            "example": "Data must be used in accordance with local laws."
          }
        },
        "description": "Meta information about the response, including updates and licensing details."
      },
      "ATMData": {
        "title": "ATM Information",
        "type": "object",
        "properties": {
          "Organisation": {
            "$ref": "#/components/schemas/Organisation"
          },
          "BranchIdentification": {
            "type": "string",
            "description": "Identification code for the branch where the ATM is located.",
            "example": "BR12345"
          },
          "ATMID": {
            "type": "string",
            "description": "Unique identifier for the ATM.",
            "example": "ATM56789"
          },
          "LocationCategory": {
            "type": "string",
            "description": "Category of the ATM location (e.g., urban, rural).",
            "example": "Urban"
          },
          "SiteID": {
            "type": "string",
            "description": "Unique identifier for the site of the ATM.",
            "example": "SITE001"
          },
          "SiteName": {
            "type": "string",
            "description": "Name of the site where the ATM is located.",
            "example": "Main Street Mall ATM"
          },
          "Address": {
            "$ref": "#/components/schemas/Address"
          },
          "GeographicLocation": {
            "$ref": "#/components/schemas/GeographicLocation"
          },
          "AccessibilityTypes": {
            "type": "array",
            "description": "List of accessibility features available at the ATM.",
            "items": {
              "type": "string",
              "example": "Wheelchair Accessible"
            }
          },
          "SupportedLanguages": {
            "type": "array",
            "description": "Languages supported by the ATM.",
            "items": {
              "type": "string",
              "example": "English"
            }
          },
          "ATMServices": {
            "type": "array",
            "description": "List of services provided by the ATM.",
            "items": {
              "type": "string",
              "example": "Cash Withdrawal"
            }
          },
          "AdditionalATMServices": {
            "type": "array",
            "description": "List of additional services offered by the ATM.",
            "items": {
              "type": "string",
              "example": "Check Balance"
            }
          },
          "Currency": {
            "type": "array",
            "description": "Currencies accepted by the ATM.",
            "items": {
              "type": "string",
              "example": "USD"
            }
          },
          "MinimumValueDispensed": {
            "type": "string",
            "description": "The minimum amount of money that can be dispensed from the ATM.",
            "example": "20.00"
          }
        },
        "description": "Detailed information about an ATM."
      },
      "Organisation": {
        "title": "Organisation Information",
        "type": "object",
        "properties": {
          "ParentOrganisation": {
            "$ref": "#/components/schemas/ParentOrganisation"
          },
          "Brand": {
            "$ref": "#/components/schemas/Brand"
          }
        },
        "description": "Information about the organisation that owns the ATM."
      },
      "ParentOrganisation": {
        "title": "Parent Organisation Details",
        "type": "object",
        "properties": {
          "LEI": {
            "type": "string",
            "description": "The Legal Entity Identifier for the parent organisation.",
            "example": "1234567890"
          },
          "BIC": {
            "type": "string",
            "description": "The Bank Identifier Code for the parent organisation.",
            "example": "BANKDEFF"
          },
          "OrganisationName": {
            "$ref": "#/components/schemas/OrganisationName"
          }
        },
        "description": "Details regarding the parent organisation of the ATM."
      },
      "Brand": {
        "title": "Brand Information",
        "type": "object",
        "properties": {
          "TrademarkIPOCode": {
            "type": "string",
            "description": "The registered trademark IPO code for the brand.",
            "example": "TM123456"
          },
          "TrademarkID": {
            "type": "string",
            "description": "The unique identifier for the trademark.",
            "example": "TRADEMARK001"
          }
        },
        "description": "Details about the brand associated with the ATM."
      },
      "OrganisationName": {
        "title": "Organisation Name",
        "type": "object",
        "properties": {
          "LegalName": {
            "type": "string",
            "description": "The legal name of the organisation.",
            "example": "Bank of Examples Ltd."
          }
        },
        "description": "The legal name of the organisation."
      },
      "Address": {
        "title": "Address Information",
        "type": "object",
        "properties": {
          "StreetName": {
            "type": "string",
            "description": "The name of the street where the ATM is located.",
            "example": "Main St"
          },
          "BuildingNumberOrName": {
            "type": "string",
            "description": "The building number or name associated with the ATM's address.",
            "example": "42"
          },
          "PostCode": {
            "type": "string",
            "description": "The postal code for the ATM's location.",
            "example": "12345"
          },
          "OptionalAddressField": {
            "type": "string",
            "description": "Any additional address information.",
            "example": "Near the central park"
          },
          "TownName": {
            "type": "string",
            "description": "The name of the town where the ATM is located.",
            "example": "Exampletown"
          },
          "CountrySubDivision": {
            "type": "string",
            "description": "The state or province where the ATM is located.",
            "example": "Example State"
          },
          "Country": {
            "type": "string",
            "description": "The country where the ATM is located.",
            "example": "Countryland"
          }
        },
        "description": "Physical address details of the ATM."
      },
      "GeographicLocation": {
        "title": "Geographic Location",
        "type": "object",
        "properties": {
          "Latitude": {
            "type": "string",
            "description": "The latitude coordinate of the ATM's location.",
            "example": "34.0522"
          },
          "Longitude": {
            "type": "string",
            "description": "The longitude coordinate of the ATM's location.",
            "example": "-118.2437"
          }
        },
        "description": "Geographic coordinates for the ATM's location."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the API response.",
            "example": "resp_001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to track the request through the system.",
            "example": "corr_001"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "US-West"
          }
        },
        "description": "Metadata related to the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-data-api-get-reference-implementation-open-banking-v13-atms"
        },
        "example": "open-data-api-get-reference-implementation-open-banking-v13-atms"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method. Clients must include the JWT (JSON Web Token) in the Authorization header when making requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}