{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Update Loan Application Document API",
    "description": "The Update Loan Application Document API allows users to modify existing documents associated with loan applications. This endpoint is essential for institutions managing loan-related documentation, enabling them to keep records current and accurate. Typical consumers include loan officers and administrative staff who need to update document information due to changes or corrections. By facilitating document updates, this API helps maintain compliance and enhance the overall accuracy of loan application processing.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{param1}/documents/{documentId}": {
      "patch": {
        "tags": [
          "Loan Applications"
        ],
        "summary": "Update Document for Loan Application RES-100045",
        "description": "This endpoint allows you to update the documents associated with loan application RES-100045. You can modify specific fields of the document as needed to ensure up-to-date information.",
        "operationId": "patchLoanApplicationsDocumentRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          },
          {
            "$ref": "#/components/parameters/documentId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the document details associated with the loan application identified by RES-100045. It should contain the necessary fields to modify the existing document information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchLoanApplicationsDocumentRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request was successful and the document has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchLoanApplicationsDocumentRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchLoanApplicationsDocumentRes100045Request": {
        "type": "object",
        "properties": {
          "documentType": {
            "type": "string",
            "description": "Type of the document being submitted.",
            "example": "STANDARD"
          },
          "fileName": {
            "type": "string",
            "description": "Name of the uploaded document file.",
            "example": "Northstar Banking Service"
          },
          "storageReference": {
            "type": "string",
            "description": "Reference link to the storage location of the document.",
            "example": "STANDARD"
          },
          "issuedDate": {
            "type": "string",
            "description": "Date when the document was issued.",
            "example": "2026-09-15"
          },
          "expiryDate": {
            "type": "string",
            "description": "Date when the document will expire.",
            "example": "2026-09-15"
          },
          "verificationStatus": {
            "type": "string",
            "description": "Current verification status of the document.",
            "example": "VERIFIED"
          },
          "verificationComments": {
            "type": "string",
            "description": "Comments regarding the verification process.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "example": {
          "documentType": "STANDARD",
          "fileName": "Northstar Banking Service",
          "storageReference": "STANDARD",
          "issuedDate": "2026-09-15",
          "expiryDate": "2026-09-15",
          "verificationStatus": "VERIFIED",
          "verificationComments": "STANDARD",
          "requestContext": {
            "requestId": "42fa9206-de59-5127-9ba4-eb9ace9b964b",
            "correlationId": "3e8c9281-c70c-53b9-92e4-c326b40b79ee",
            "idempotencyKey": "afc5476d-717b-5fe9-a0b4-5b1e09829ecc",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-385083"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the specific request.",
            "example": "req-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate related requests.",
            "example": "corr-789012"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to prevent duplicate processing of the request.",
            "example": "idempotency-key-123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-03-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "Loan Management System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request was sent.",
            "example": "Web Portal"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        }
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the communication channel.",
            "example": "channel-456"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used for the request.",
            "example": "Mobile App"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used for the request.",
            "example": "device-789"
          }
        }
      },
      "PatchLoanApplicationsDocumentRes100045Response_200": {
        "title": "Document Response",
        "type": "object",
        "properties": {
          "documentType": {
            "type": "string",
            "description": "The type of the document being submitted.",
            "example": "STANDARD"
          },
          "applicantId": {
            "type": "string",
            "description": "Unique identifier of the applicant associated with the loan.",
            "example": "a838a0ca-8c72-a4eb-692a-407b65260d9c"
          },
          "collateralId": {
            "type": "string",
            "description": "Unique identifier of the collateral associated with the loan.",
            "example": "44fa08b6-e608-0c00-7db9-f15aaf2361f6"
          },
          "fileName": {
            "type": "string",
            "description": "The name of the file that contains the document.",
            "example": "Northstar Banking Service"
          },
          "mimeType": {
            "type": "string",
            "description": "MIME type of the document file.",
            "example": "STANDARD"
          },
          "storageReference": {
            "type": "string",
            "description": "Reference identifier for locating the stored document.",
            "example": "STANDARD"
          },
          "sha256Checksum": {
            "type": "string",
            "description": "SHA256 checksum of the document for integrity verification.",
            "example": "STANDARD"
          },
          "issuedDate": {
            "type": "string",
            "description": "The date the document was issued.",
            "example": "2026-09-15"
          },
          "expiryDate": {
            "type": "string",
            "description": "The date the document expires.",
            "example": "2026-09-15"
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the document.",
            "example": "905a0511-65b8-e91e-4267-12e6ae8d3a64"
          },
          "verificationStatus": {
            "type": "string",
            "description": "Current status of the document verification.",
            "example": "VERIFIED"
          },
          "verificationComments": {
            "type": "string",
            "description": "Comments regarding the document verification.",
            "example": "STANDARD"
          },
          "verifiedAt": {
            "type": "string",
            "description": "Timestamp when the document was verified.",
            "example": "2026-09-15T14:30:00Z"
          },
          "verifiedBy": {
            "type": "string",
            "description": "Identifier of the user who verified the document.",
            "example": "STANDARD"
          },
          "audit": {
            "description": "Audit information related to document processing.",
            "$ref": "#/components/schemas/AuditDetails"
          },
          "metadata": {
            "description": "Additional metadata related to the document.",
            "$ref": "#/components/schemas/DocumentMetadata"
          }
        },
        "description": "Response schema for document details related to loan applications.",
        "example": {
          "documentType": "STANDARD",
          "applicantId": "a838a0ca-8c72-a4eb-692a-407b65260d9c",
          "collateralId": "44fa08b6-e608-0c00-7db9-f15aaf2361f6",
          "fileName": "Northstar Banking Service",
          "mimeType": "STANDARD",
          "storageReference": "STANDARD",
          "sha256Checksum": "STANDARD",
          "issuedDate": "2026-09-15",
          "expiryDate": "2026-09-15",
          "id": "905a0511-65b8-e91e-4267-12e6ae8d3a64",
          "verificationStatus": "VERIFIED",
          "verificationComments": "STANDARD",
          "verifiedAt": "2026-09-15T14:30:00Z",
          "verifiedBy": "STANDARD",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "1c257e32-7d7b-5208-a189-1712483b34a9",
            "correlationId": "3e8c9281-c70c-53b9-92e4-c326b40b79ee",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AuditDetails": {
        "title": "Audit Details",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the document was created.",
            "example": "2023-01-01T09:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the document.",
            "example": "user-12345"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the document.",
            "example": "2023-01-02T11:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the document.",
            "example": "user-56789"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the document.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Audit information regarding the creation and updates of the document."
      },
      "DocumentMetadata": {
        "title": "Document Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response associated with the document.",
            "example": "response-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracing the processing of this document.",
            "example": "correlation-67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2023-01-01T09:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the document processing occurred.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata information related to the document processing."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "documentId": {
        "name": "documentId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that was called during the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-update-application-document"
        },
        "example": "banking-loans-openapi-update-application-document"
      },
      "X-Runtime-App": {
        "description": "The name and version of the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication mechanism, where a token is sent in the HTTP Authorization header. The token should be a JSON Web Token (JWT) that encodes the user's authentication and authorization details.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}