{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Decisioning Customer Voiepayroll-v5-spec",
    "description": "MICROSERVICE-PROD-Create Decisioning Customer Voiepayroll-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/decisioning/customers/{customerId}/voiepayroll": {
      "post": {
        "operationId": "createDecisioningCustomerVoiepayroll",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDecisioningCustomerVoiepayrollRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "202Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateDecisioningCustomerVoiepayrollResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateDecisioningCustomerVoiepayrollRequest": {
        "type": "object",
        "properties": {
          "payrollData": {
            "type": "object",
            "properties": {
              "ssn": {
                "type": "string",
                "example": "string"
              },
              "dob": {
                "type": "integer",
                "format": "int32",
                "example": 0
              },
              "reportId": {
                "type": "string",
                "example": "string"
              },
              "payrollAccountIds": {
                "type": "array",
                "example": "string",
                "items": {
                  "type": "string",
                  "example": "string"
                }
              }
            },
            "example": {
              "ssn": "STANDARD",
              "dob": 1,
              "reportId": "STANDARD",
              "payrollAccountIds": [
                "ACC-290769"
              ]
            }
          },
          "reportCustomFields": {
            "type": "array",
            "example": [
              {
                "label": "STANDARD",
                "value": "STANDARD",
                "shown": true
              }
            ],
            "items": {
              "type": "object",
              "properties": {
                "label": {
                  "type": "string",
                  "example": "string"
                },
                "value": {
                  "type": "string",
                  "example": "string"
                },
                "shown": {
                  "type": "boolean",
                  "example": false
                }
              },
              "example": "string"
            }
          },
          "payStatementsFromDate": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "marketSegment": {
            "type": "string",
            "example": "STANDARD"
          },
          "purpose": {
            "type": "string",
            "example": "STANDARD"
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "e88f9109-7b23-5dea-b039-b5078a4a79f2",
              "correlationId": "3d43e33d-7c74-5dc1-9b19-2c59b2aa0f30",
              "idempotencyKey": "d6f66774-32c4-5503-b1e5-c986b9dc05ad",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-855525"
              }
            }
          }
        },
        "example": {
          "payrollData": {
            "ssn": "STANDARD",
            "dob": 1,
            "reportId": "STANDARD",
            "payrollAccountIds": [
              "ACC-290769"
            ]
          },
          "reportCustomFields": [
            {
              "label": "STANDARD",
              "value": "STANDARD",
              "shown": true
            }
          ],
          "payStatementsFromDate": 1,
          "marketSegment": "STANDARD",
          "purpose": "STANDARD",
          "requestContext": {
            "requestId": "e88f9109-7b23-5dea-b039-b5078a4a79f2",
            "correlationId": "3d43e33d-7c74-5dc1-9b19-2c59b2aa0f30",
            "idempotencyKey": "d6f66774-32c4-5503-b1e5-c986b9dc05ad",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-855525"
            }
          }
        }
      },
      "CreateDecisioningCustomerVoiepayrollResponse_202": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "STANDARD"
          },
          "customerType": {
            "type": "string",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "requestId": {
            "type": "string",
            "example": "d5a17579-a1cf-5bc9-8831-674db703fdad"
          },
          "requesterName": {
            "type": "string",
            "example": "Northstar Banking Service"
          },
          "endUser": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "example": "string"
              },
              "address": {
                "type": "string",
                "example": "string"
              },
              "city": {
                "type": "string",
                "example": "string"
              },
              "state": {
                "type": "string",
                "example": "string"
              },
              "zip": {
                "type": "string",
                "example": "string"
              },
              "phone": {
                "type": "string",
                "example": "string"
              },
              "email": {
                "type": "string",
                "example": "string"
              },
              "url": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "name": "Northstar Banking Service",
              "address": "STANDARD",
              "city": "New York",
              "state": "STANDARD",
              "zip": "STANDARD",
              "phone": "+1-212-555-0147",
              "email": "olivia.bennett@northstar.example",
              "url": "https://banking.northstar.example/callbacks/status"
            }
          },
          "createdDate": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "title": {
            "type": "string",
            "example": "Banking operation completed"
          },
          "consumerId": {
            "type": "string",
            "example": "STANDARD"
          },
          "consumerSsn": {
            "type": "string",
            "example": "STANDARD"
          },
          "consumerDetails": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "example": "string"
              },
              "firstName": {
                "type": "string",
                "example": "string"
              },
              "middleName": {
                "type": "string",
                "example": "string"
              },
              "lastName": {
                "type": "string",
                "example": "string"
              },
              "address": {
                "type": "string",
                "example": "string"
              },
              "city": {
                "type": "string",
                "example": "string"
              },
              "state": {
                "type": "string",
                "example": "string"
              },
              "zip": {
                "type": "string",
                "example": "string"
              },
              "phone": {
                "type": "string",
                "example": "string"
              },
              "ssn": {
                "type": "string",
                "example": "string"
              },
              "email": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "id": "STANDARD",
              "firstName": "Northstar Banking Service",
              "middleName": "Northstar Banking Service",
              "lastName": "Northstar Banking Service",
              "address": "STANDARD",
              "city": "New York",
              "state": "STANDARD",
              "zip": "STANDARD",
              "phone": "+1-212-555-0147",
              "ssn": "STANDARD",
              "email": "olivia.bennett@northstar.example"
            }
          },
          "disputeStatement": {
            "type": "string",
            "example": "STANDARD"
          },
          "type": {
            "type": "string",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "example": "ACTIVE"
          },
          "constraints": {
            "type": "object",
            "properties": {
              "payrollData": {
                "type": "object",
                "properties": {
                  "retrievalId": {
                    "type": "string",
                    "example": "string"
                  },
                  "payrollAggregatorResponseId": {
                    "type": "string",
                    "example": "string"
                  },
                  "consentMethod": {
                    "type": "string",
                    "example": "string"
                  },
                  "employmentIds": {
                    "type": "array",
                    "example": "string",
                    "items": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "payrollData": {
                "retrievalId": "STANDARD",
                "payrollAggregatorResponseId": "509912de-a238-5415-85de-4fa2a2ae8644",
                "consentMethod": "STANDARD",
                "employmentIds": [
                  "STANDARD"
                ]
              }
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "855fa8ee-19eb-5710-acdc-a1ee08fa4daf",
              "correlationId": "3d43e33d-7c74-5dc1-9b19-2c59b2aa0f30",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "id": "STANDARD",
          "customerType": "STANDARD",
          "customerId": 1,
          "requestId": "d5a17579-a1cf-5bc9-8831-674db703fdad",
          "requesterName": "Northstar Banking Service",
          "endUser": {
            "name": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "email": "olivia.bennett@northstar.example",
            "url": "https://banking.northstar.example/callbacks/status"
          },
          "createdDate": 1,
          "title": "Banking operation completed",
          "consumerId": "STANDARD",
          "consumerSsn": "STANDARD",
          "consumerDetails": {
            "id": "STANDARD",
            "firstName": "Northstar Banking Service",
            "middleName": "Northstar Banking Service",
            "lastName": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "ssn": "STANDARD",
            "email": "olivia.bennett@northstar.example"
          },
          "disputeStatement": "STANDARD",
          "type": "STANDARD",
          "status": "ACTIVE",
          "constraints": {
            "payrollData": {
              "retrievalId": "STANDARD",
              "payrollAggregatorResponseId": "509912de-a238-5415-85de-4fa2a2ae8644",
              "consentMethod": "STANDARD",
              "employmentIds": [
                "STANDARD"
              ]
            }
          },
          "metadata": {
            "responseId": "855fa8ee-19eb-5710-acdc-a1ee08fa4daf",
            "correlationId": "3d43e33d-7c74-5dc1-9b19-2c59b2aa0f30",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-refresh-voie-payroll-report"
        },
        "example": "open-finance-api-refresh-voie-payroll-report"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}