{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Knowledge Asset By Param1-spec",
    "description": "The Get Knowledge Asset Details API allows users to access specific information about intellectual property portfolios by utilizing a unique parameter. This endpoint is designed for developers and business analysts seeking to retrieve detailed data regarding knowledge assets within the banking industry. Typical consumers include financial institutions and asset managers who need to assess intellectual property portfolios for investment or compliance purposes. By providing insights into knowledge assets, this API supports informed decision-making and strategic planning.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/knowledge-assets/intellectual-property-portfolio/{param1}": {
      "get": {
        "tags": [],
        "summary": "Retrieve Intellectual Property Portfolio Details",
        "description": "This endpoint allows you to retrieve detailed information about a specific intellectual property portfolio identified by the unique resource ID. It provides insights into the assets included in the portfolio and their relevant attributes.",
        "operationId": "getKnowledgeAssetByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving details about the intellectual property portfolio identified by the specific resource ID. This body must contain the required structure that allows the server to process the request correctly.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetKnowledgeAssetByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested resource.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetKnowledgeAssetByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetKnowledgeAssetByParam1Request": {
        "type": "string",
        "description": "This schema represents the request body format for the GET operation related to the intellectual property portfolio. It is expected to be a string encoded in JSON format.",
        "example": "{}"
      },
      "GetKnowledgeAssetByParam1Response_200": {
        "title": "Intellectual Property Portfolio",
        "type": "object",
        "properties": {
          "ipAssetId": {
            "type": "string",
            "description": "The unique identifier for the intellectual property asset.",
            "example": "STANDARD"
          },
          "assetType": {
            "type": "string",
            "description": "The type of intellectual property asset (e.g., patent, trademark).",
            "example": "STANDARD"
          },
          "registrationNumber": {
            "type": "string",
            "description": "The registration number assigned to the intellectual property asset.",
            "example": "NY-4587219"
          },
          "jurisdiction": {
            "type": "string",
            "description": "The jurisdiction under which the asset is registered.",
            "example": "STANDARD"
          },
          "ownerLegalEntityId": {
            "type": "string",
            "description": "The legal entity identifier of the asset owner.",
            "example": "STANDARD"
          },
          "renewalDate": {
            "type": "string",
            "description": "The date when the asset registration needs to be renewed.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the asset record (e.g., active, expired).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the asset record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the asset was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "The identifier for the response pertaining to the asset.",
                "example": "resp-123"
              },
              "correlationId": {
                "type": "string",
                "description": "The identifier for correlating requests and responses.",
                "example": "corr-456"
              },
              "generatedAt": {
                "type": "string",
                "description": "The timestamp when the asset information was generated.",
                "example": "2023-10-01T12:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region where the asset processing took place.",
                "example": "North America"
              }
            },
            "description": "Additional metadata related to the intellectual property asset.",
            "example": {
              "responseId": "45d07e91-2841-5ed5-94f1-bcd1c23a2c34",
              "correlationId": "b8fe42b3-5bc7-58cb-af2d-bab6a6e879c1",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Schema representing an intellectual property portfolio asset.",
        "example": {
          "ipAssetId": "STANDARD",
          "assetType": "STANDARD",
          "registrationNumber": "NY-4587219",
          "jurisdiction": "STANDARD",
          "ownerLegalEntityId": "STANDARD",
          "renewalDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "45d07e91-2841-5ed5-94f1-bcd1c23a2c34",
            "correlationId": "b8fe42b3-5bc7-58cb-af2d-bab6a6e879c1",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "intellectual-property-portfolio-get-intellectual-property-portfolio"
        },
        "example": "intellectual-property-portfolio-get-intellectual-property-portfolio"
      },
      "X-Runtime-App": {
        "description": "Name of the application where the request was executed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes a Bearer authentication mechanism, which requires a JSON Web Token (JWT) to be included in the HTTP Authorization header. The JWT must be obtained through a secure authentication process prior to making requests to the API.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}