{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Internal Audit Reporting API",
    "description": "The Internal Audit Reporting API allows authorized users to access and retrieve detailed auditing information related to enterprise banking services. This API serves as a critical tool for compliance officers and internal auditors who need to evaluate transaction integrity and operational efficiencies. Users can query specific audit records by providing the appropriate parameters, enhancing transparency within the audit processes. Ideal for regulatory assessments and internal reviews, this API streamlines oversight and accountability in banking operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/enterprise-services/internal-audit/{param1}": {
      "get": {
        "tags": [
          "Internal Audit Management"
        ],
        "summary": "Retrieve Internal Audit details by ID.",
        "description": "This endpoint allows users to fetch detailed information about a specific internal audit identified by its unique resource ID (RES-100045).",
        "operationId": "getInternalAuditById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve internal audit records for the specified resource. It specifies the criteria for filtering the audit information relevant to the 'RES-100045' resource.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetInternalAuditByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetInternalAuditByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetInternalAuditByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the internal audit operation, specifically for the GET request operation. It is expected to be a string representation of the data.",
        "example": "{}"
      },
      "GetInternalAuditByIdResponse_200": {
        "title": "Audit Operation Response",
        "type": "object",
        "properties": {
          "engagementId": {
            "type": "string",
            "description": "The unique identifier for the engagement.",
            "example": "STANDARD"
          },
          "scope": {
            "type": "string",
            "description": "The scope of the audit engagement.",
            "example": "STANDARD"
          },
          "framework": {
            "type": "string",
            "description": "The framework under which the audit is being conducted.",
            "example": "STANDARD"
          },
          "engagementOwnerId": {
            "type": "string",
            "description": "The identifier of the owner of the engagement.",
            "example": "STANDARD"
          },
          "plannedStartDate": {
            "type": "string",
            "description": "The planned start date of the audit engagement.",
            "example": "2026-09-15"
          },
          "targetCompletionDate": {
            "type": "string",
            "description": "The target completion date for the audit engagement.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the audit record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version of the audit engagement record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "The unique identifier for the response.",
                "example": "RESP12345"
              },
              "correlationId": {
                "type": "string",
                "description": "Correlation ID for tracking the request.",
                "example": "CORR67890"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp of when the response was generated.",
                "example": "2023-01-15T12:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Geographical region where the request was processed.",
                "example": "us-east-1"
              }
            },
            "description": "Metadata related to the audit response.",
            "example": {
              "responseId": "df091f9e-bc46-5e03-9d4f-aa37e7243384",
              "correlationId": "3eb8a94d-2a18-5dde-acab-f80c922bc5ae",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "The response schema for the audit operation including engagement details.",
        "example": {
          "engagementId": "STANDARD",
          "scope": "STANDARD",
          "framework": "STANDARD",
          "engagementOwnerId": "STANDARD",
          "plannedStartDate": "2026-09-15",
          "targetCompletionDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "df091f9e-bc46-5e03-9d4f-aa37e7243384",
            "correlationId": "3eb8a94d-2a18-5dde-acab-f80c922bc5ae",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "internal-audit-get-internal-audit"
        },
        "example": "internal-audit-get-internal-audit"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication mechanism that requires a JSON Web Token (JWT) in the Authorization header. Ensure that the provided token is valid and has not expired for successful authentication.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}