{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Servicing Activity Analysi Analyse-spec",
    "description": "This API facilitates the submission of servicing activity analysis data, enabling businesses to evaluate customer engagement across multiple channels. Through this endpoint, users can create comprehensive analyses that incorporate various metrics and analytics, providing valuable insights for decision-making. Typical consumers include data analysts and customer experience teams who seek to enhance service efficiency and improve customer interactions. This functionality supports organizations in understanding patterns and trends in servicing activities, leading to optimized operational strategies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cross-channel/servicing-activity-analysis/analyses": {
      "post": {
        "tags": [
          "Servicing Analysis"
        ],
        "summary": "Create a new servicing activity analysis.",
        "description": "This endpoint allows you to create a new servicing activity analysis in the cross-channel system. Provide the necessary details in the request body to successfully create the analysis. This operation is essential for evaluating servicing activities across different channels.",
        "operationId": "createServicingActivityAnalysiAnalyse",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit a new analysis for servicing activity. It requires specific details in JSON format that conform to the defined schema. Ensure that all mandatory fields are included for successful analysis creation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateServicingActivityAnalysiAnalyseRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully processed the request and returned the analysis results.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateServicingActivityAnalysiAnalyseResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateServicingActivityAnalysiAnalyseRequest": {
        "title": "Request Body for Cross-Channel Servicing Activity Analysis",
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "The unique identifier for the party involved in the interaction.",
            "example": "PARTY-324016"
          },
          "interactionId": {
            "type": "string",
            "description": "The unique identifier for the interaction being analyzed.",
            "example": "INT-827943"
          },
          "channel": {
            "type": "string",
            "description": "The channel through which the interaction occurred.",
            "example": "STANDARD"
          },
          "authenticationLevel": {
            "type": "string",
            "description": "The level of authentication used for the interaction.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for the POST operation on cross-channel servicing activity analysis.",
        "example": {
          "partyId": "PARTY-324016",
          "interactionId": "INT-827943",
          "channel": "STANDARD",
          "authenticationLevel": "STANDARD",
          "requestContext": {
            "requestId": "a476e0b4-21b9-52c6-aa30-d8c84b9e31e5",
            "correlationId": "61c214e7-eb32-5fac-a972-46b6f5c5f891",
            "idempotencyKey": "6ed6b45f-a025-577f-8ab6-c0c6dba76d33",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-843053"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context Information",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate multiple requests or events.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure the request is processed only once.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "string"
          },
          "channel": {
            "description": "Details about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema provides contextual details regarding the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., web, mobile, email).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used in the interaction.",
            "example": "string"
          }
        },
        "description": "This schema defines the details about the channel through which the interaction occurred."
      },
      "CreateServicingActivityAnalysiAnalyseResponse_200": {
        "title": "Operation Analysis Response",
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "Unique identifier for the party involved in the analysis.",
            "example": "PARTY-718841"
          },
          "interactionId": {
            "type": "string",
            "description": "Unique identifier for the interaction associated with the analysis.",
            "example": "INT-456638"
          },
          "analysisId": {
            "type": "string",
            "description": "Unique identifier for the analysis.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the analysis.",
            "example": "ACTIVE"
          },
          "completedAt": {
            "type": "string",
            "description": "Timestamp indicating when the analysis was completed.",
            "example": "2026-09-15T14:30:00Z"
          },
          "findings": {
            "type": "array",
            "description": "List of findings generated from the analysis.",
            "example": [
              {
                "metric": "STANDARD",
                "value": 100.0,
                "unit": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Finding"
            }
          },
          "metadata": {
            "description": "Metadata associated with the analysis response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the operation analysis after a POST request.",
        "example": {
          "partyId": "PARTY-718841",
          "interactionId": "INT-456638",
          "analysisId": "STANDARD",
          "status": "ACTIVE",
          "completedAt": "2026-09-15T14:30:00Z",
          "findings": [
            {
              "metric": "STANDARD",
              "value": 100.0,
              "unit": "STANDARD"
            }
          ],
          "metadata": {
            "responseId": "6cc762c0-0009-5300-b81e-199be62f42a1",
            "correlationId": "61c214e7-eb32-5fac-a972-46b6f5c5f891",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Finding": {
        "type": "object",
        "properties": {
          "metric": {
            "type": "string",
            "description": "The name of the metric being reported.",
            "example": "Performance"
          },
          "value": {
            "type": "number",
            "description": "The value of the metric.",
            "example": 85.5
          },
          "unit": {
            "type": "string",
            "description": "The unit of measurement for the value.",
            "example": "percentage"
          }
        },
        "description": "Object representing a single finding from the analysis."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp-456"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracing requests.",
            "example": "correlation-789"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:32:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata details related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "This header identifies the endpoint associated with the API call. It assists in tracking the specific operation being performed by the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "servicing-activity-analysis-analyze-servicing-activity-analysis"
        },
        "example": "servicing-activity-analysis-analyze-servicing-activity-analysis"
      },
      "X-Runtime-App": {
        "description": "This header denotes the application that is executing the request. It provides context about the environment and version of the service handling the transaction.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes Bearer authentication with JSON Web Tokens (JWT). Clients must include a valid JWT in the 'Authorization' header when making requests to endpoints that require authentication.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}