{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Market Data By Param1-spec",
    "description": "The Market Data Management API allows businesses to efficiently modify market data elements associated with counterparties. Through the PATCH operation, users can update specific attributes based on unique identifiers (param1) relevant to market data systems. Typical consumers include financial institutions and data analysts who require accurate and timely data updates to maintain compliance and operational efficiency. This API supports a streamlined approach to data administration, enhancing the quality of market insights.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-data/counterparty-administration/{param1}": {
      "patch": {
        "tags": [
          "Counterparty Management"
        ],
        "summary": "Update Counterparty Details",
        "description": "This endpoint allows you to update the details of a specific counterparty identified by PARTY-600045. Provide the necessary fields you wish to update in the request body.",
        "operationId": "updateMarketDataByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Updates specific attributes of the counterparty identified by PARTY-600045 in the market data administration system. Ensure that the payload adheres to the schema defined for the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMarketDataByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateMarketDataByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateMarketDataByParam1Request": {
        "title": "Patch Request Body for Party Administration",
        "type": "object",
        "properties": {
          "changes": {
            "type": "object",
            "properties": {
              "instrumentId": {
                "type": "string",
                "description": "The unique identifier for the instrument related to the party.",
                "example": "string"
              },
              "isin": {
                "type": "string",
                "description": "The International Securities Identification Number for the related instrument.",
                "example": "string"
              },
              "marketIdentifierCode": {
                "type": "string",
                "description": "The code that identifies the market where the instrument is traded.",
                "example": "string"
              }
            },
            "description": "Contains the changes to be made to the party's information.",
            "example": {
              "instrumentId": "STANDARD",
              "isin": "STANDARD",
              "marketIdentifierCode": "CODE-163"
            }
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time at which the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identity of the person or system requesting the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "description": "A unique identifier for the request.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "An identifier used to correlate related requests and responses.",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "description": "A key to ensure that the request is idempotent.",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "description": "The date and time when the request was made.",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "description": "The system from which the request originated.",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "description": "The application from which the request originated.",
                "example": "string"
              },
              "channel": {
                "$ref": "#/components/schemas/RequestChannel"
              }
            },
            "description": "Context information regarding the request.",
            "example": {
              "requestId": "82361023-81d3-55ee-927b-82a4883853ea",
              "correlationId": "5fde063e-488d-5dfe-a9dc-ce019e365ad8",
              "idempotencyKey": "c413fddb-caa0-5c8c-aead-fd1fefaee146",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-359794"
              }
            }
          }
        },
        "description": "Represents the request body to patch party data in the counterparty administration service.",
        "example": {
          "changes": {
            "instrumentId": "STANDARD",
            "isin": "STANDARD",
            "marketIdentifierCode": "CODE-163"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "82361023-81d3-55ee-927b-82a4883853ea",
            "correlationId": "5fde063e-488d-5dfe-a9dc-ce019e365ad8",
            "idempotencyKey": "c413fddb-caa0-5c8c-aead-fd1fefaee146",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-359794"
            }
          }
        }
      },
      "RequestChannel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., API, Web, Mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Represents the channel through which the request was made."
      },
      "UpdateMarketDataByParam1Response_200": {
        "title": "Counterparty Administration Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the data was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for the counterparty administration operation.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "a3352536-72f4-5f22-8aa7-3786fe56bb16",
            "correlationId": "5fde063e-488d-5dfe-a9dc-ce019e365ad8",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "abc123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate multiple requests.",
            "example": "def456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-10T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Schema representing metadata information for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifies the specific endpoint being accessed, enabling tracking and traceability of requests through the system.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "counterparty-administration-update-counterparty-administration"
        },
        "example": "counterparty-administration-update-counterparty-administration"
      },
      "X-Runtime-App": {
        "description": "Specifies the name of the application that processed the request, for better context and monitoring of application behavior.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme defines a Bearer Authentication mechanism using JSON Web Tokens (JWT). Clients should include the JWT in the authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}