{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Human Resource Management Employee Benefit-spec",
    "description": "The Employee Benefits Management API allows organizations to streamline the creation and management of employee benefits within their human resource management systems. This endpoint supports the establishment of various employee benefit specifications including health insurance, retirement plans, and wellness programs. Typically used by HR professionals and payroll systems, this API facilitates efficient handling of employee benefits data, ensuring compliance and enhancing employee satisfaction. By leveraging this API, businesses can effectively align their benefit offerings with employee needs and industry standards.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://enterprise-support-app:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/employee-benefits": {
      "post": {
        "tags": [
          "Employee Benefits Management"
        ],
        "summary": "Create a new employee benefits record.",
        "description": "This endpoint allows you to create a new record for employee benefits within the human resource management system. Ensure that all required fields are provided in the request body to successfully add the benefits information for the employee.",
        "operationId": "createHumanResourceManagementEmployeeBenefit",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create or update employee benefits within the human resource management system. The data provided must comply with the specified schema to ensure successful processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateHumanResourceManagementEmployeeBenefitRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "New employee benefits resource created successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateHumanResourceManagementEmployeeBenefitResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateHumanResourceManagementEmployeeBenefitRequest": {
        "title": "Employee Benefits Request Body",
        "type": "object",
        "properties": {
          "employeeId": {
            "type": "string",
            "description": "The unique identifier for the employee.",
            "example": "EMP-199984"
          },
          "assignmentId": {
            "type": "string",
            "description": "The unique identifier for the assignment.",
            "example": "STANDARD"
          },
          "departmentId": {
            "type": "string",
            "description": "The unique identifier for the department.",
            "example": "STANDARD"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date when the benefits become effective.",
            "example": "2026-09-15"
          },
          "countryCode": {
            "type": "string",
            "description": "The country code where the employee is located.",
            "example": "US"
          },
          "employmentType": {
            "type": "string",
            "description": "The type of employment (e.g., full-time, part-time).",
            "example": "STANDARD"
          },
          "managerId": {
            "type": "string",
            "description": "The unique identifier for the employee's manager.",
            "example": "STANDARD"
          },
          "workLocation": {
            "type": "string",
            "description": "The location where the employee is primarily working.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for employee benefits operations.",
        "example": {
          "employeeId": "EMP-199984",
          "assignmentId": "STANDARD",
          "departmentId": "STANDARD",
          "effectiveDate": "2026-09-15",
          "countryCode": "US",
          "employmentType": "STANDARD",
          "managerId": "STANDARD",
          "workLocation": "STANDARD",
          "requestContext": {
            "requestId": "0e74f14b-9304-5ec2-ad88-2382d7d434d8",
            "correlationId": "b2543769-9a3d-5408-8c18-e6a8d10d302b",
            "idempotencyKey": "e79d8877-22fd-5057-a28d-7fd7f39b3c06",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-438973"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "REQ123456"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to correlate related requests.",
            "example": "CORR78910"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure the request is idempotent.",
            "example": "IDEMKEY56789"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "HRMS"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that generated the request.",
            "example": "EmployeeBenefitsApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing contextual data related to the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "CHNL001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier for the device used to make the request.",
            "example": "DEVICE123"
          }
        },
        "description": "Schema representing details about the request channel."
      },
      "CreateHumanResourceManagementEmployeeBenefitResponse_201": {
        "title": "Employee Benefits Response",
        "type": "object",
        "properties": {
          "employeeId": {
            "type": "string",
            "description": "The unique identifier of the employee.",
            "example": "EMP-707740"
          },
          "assignmentId": {
            "type": "string",
            "description": "The unique identifier for the assignment associated with the employee.",
            "example": "STANDARD"
          },
          "departmentId": {
            "type": "string",
            "description": "The unique identifier for the department to which the employee belongs.",
            "example": "STANDARD"
          },
          "countryCode": {
            "type": "string",
            "description": "The ISO country code where the employee is located.",
            "example": "US"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource related to the employee benefits.",
            "example": "RES-207440"
          },
          "status": {
            "type": "string",
            "description": "The current status of the employee benefits operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp indicating when the benefits were created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "A unique identifier for the response.",
                "example": "RSP-001"
              },
              "correlationId": {
                "type": "string",
                "description": "An identifier for correlating requests and responses.",
                "example": "CORR-12345"
              },
              "generatedAt": {
                "type": "string",
                "description": "The timestamp when the response was generated.",
                "example": "2023-10-01T14:48:00.000Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region where the processing occurred.",
                "example": "US-East"
              }
            },
            "description": "Additional metadata related to the benefits operation.",
            "example": {
              "responseId": "17f5b1ce-077c-502f-9059-da659b923caa",
              "correlationId": "b2543769-9a3d-5408-8c18-e6a8d10d302b",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "This schema represents the response for the employee benefits operation.",
        "example": {
          "employeeId": "EMP-707740",
          "assignmentId": "STANDARD",
          "departmentId": "STANDARD",
          "countryCode": "US",
          "resourceId": "RES-207440",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "17f5b1ce-077c-502f-9059-da659b923caa",
            "correlationId": "b2543769-9a3d-5408-8c18-e6a8d10d302b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-082"
        },
        "example": "WF-082"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "3f899716-71b1-4835-aae6-7c5c5bf7d0aa"
        },
        "example": "3f899716-71b1-4835-aae6-7c5c5bf7d0aa"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1221b9f5-3b2f-4ad1-a2ee-c1ea613ae7d5"
        },
        "example": "1221b9f5-3b2f-4ad1-a2ee-c1ea613ae7d5"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "employee-benefits-create-employee-benefits"
        },
        "example": "employee-benefits-create-employee-benefits"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      },
      "X-Workflow-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-082"
        },
        "example": "WF-082"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Employee Payroll and Benefits Processing"
        },
        "example": "Employee Payroll and Benefits Processing"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1221b9f5-3b2f-4ad1-a2ee-c1ea613ae7d5"
        },
        "example": "1221b9f5-3b2f-4ad1-a2ee-c1ea613ae7d5"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the HTTP Bearer Authentication scheme. It requires a valid JSON Web Token (JWT) to access secured endpoints. Users must include this token in the `Authorization` header with `Bearer ` preceding the token.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}