{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Travel Expenses Retrieval API",
    "description": "The Travel Expenses Retrieval API allows users to access detailed information about travel expenses associated with human resource management. Leveraging this API, HR personnel can efficiently retrieve and review expenses submitted by employees, ensuring accurate financial tracking and reporting. Typical consumers include HR departments and finance teams who require transparency in employee travel expenditures. This API streamlines the process of verifying and managing travel-related costs, promoting better budget oversight and expense management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/travel-expenses/{param1}": {
      "get": {
        "tags": [
          "Travel Expense Management"
        ],
        "summary": "Retrieve travel expense details by ID.",
        "description": "This endpoint allows you to retrieve the details of a specific travel expense using its unique identifier. It provides essential information related to the expense for effective management and analysis.",
        "operationId": "getTravelExpenseById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving travel expenses associated with a specific resource (RES-100045) in the Human Resource Management system. This request allows the caller to obtain detailed information about the travel expenses for the specified resource.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetTravelExpenseByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the travel expense details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTravelExpenseByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetTravelExpenseByIdRequest": {
        "type": "string",
        "description": "The request body for the Get Request concerning travel expenses operations.",
        "example": "{}"
      },
      "GetTravelExpenseByIdResponse_200": {
        "title": "Travel Expense Report Response",
        "type": "object",
        "properties": {
          "expenseReportId": {
            "type": "string",
            "description": "Unique identifier for the expense report.",
            "example": "STANDARD"
          },
          "employeeId": {
            "type": "string",
            "description": "Identifier for the employee associated with the expense report.",
            "example": "EMP-979659"
          },
          "tripPurpose": {
            "type": "string",
            "description": "The purpose of the trip for which the expenses are claimed.",
            "example": "STANDARD"
          },
          "expensePeriod": {
            "description": "The period during which the expenses were incurred.",
            "$ref": "#/components/schemas/ExpensePeriod"
          },
          "claimedAmount": {
            "description": "The total amount claimed for the expenses.",
            "$ref": "#/components/schemas/ClaimedAmount"
          },
          "costCenter": {
            "type": "string",
            "description": "The cost center to which the expenses are charged.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the expense report (e.g., submitted, approved, rejected).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version of the expense report.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the expense report was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response for a travel expense report retrieved from the HR management system.",
        "example": {
          "expenseReportId": "STANDARD",
          "employeeId": "EMP-979659",
          "tripPurpose": "STANDARD",
          "expensePeriod": {
            "from": "2026-08-11",
            "to": "2026-08-11"
          },
          "claimedAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "costCenter": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "adc2703b-8f8a-587a-9c31-e3447cfaba33",
            "correlationId": "7715b599-329b-5d2b-bbcf-fff221b7d521",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ExpensePeriod": {
        "title": "Expense Period",
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "description": "Start date of the expense period in ISO format.",
            "example": "2023-09-15"
          },
          "to": {
            "type": "string",
            "description": "End date of the expense period in ISO format.",
            "example": "2023-09-20"
          }
        },
        "description": "Represents the period during which the expenses are incurred."
      },
      "ClaimedAmount": {
        "title": "Claimed Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The total amount claimed.",
            "example": 1200.5
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is claimed.",
            "example": "USD"
          }
        },
        "description": "Represents the total amount claimed for the expenses."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP-5678"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to trace the request through the system.",
            "example": "CORR-9012"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "US-West"
          }
        },
        "description": "Additional metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that was called. This helps in tracing the specific request within logs.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "travel-and-expenses-get-travel-and-expenses"
        },
        "example": "travel-and-expenses-get-travel-and-expenses"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request. Useful for identifying which service handled the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "JWT Bearer Authentication is used to authenticate requests. The client must include a valid JWT token in the Authorization header of the request, formatted as 'Bearer <token>'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}