{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Open Banking Business Current Accounts-spec",
    "description": "The Business Current Accounts Retrieval API provides access to comprehensive information about Open Banking business current accounts. This endpoint enables developers to list details such as account types, features, and eligibility criteria, enhancing the decision-making process for businesses seeking banking services. Typical consumers include financial institutions and application developers looking to integrate banking functionalities into their systems. By utilizing this API, businesses can streamline their offerings and better serve their clientele.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/reference-implementation/open-banking/business-current-accounts": {
      "get": {
        "tags": [
          "Business Banking"
        ],
        "summary": "Retrieve business current accounts.",
        "description": "This endpoint allows users to retrieve a list of business current accounts associated with their organization. It provides detailed information about each account, including account balances and transaction history.",
        "operationId": "listOpenBankingBusinessCurrentAccounts",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for fetching business current accounts in the Open Banking service. This will initiate a request to retrieve a list of business current accounts associated with the authenticated user.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListOpenBankingBusinessCurrentAccountsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of business current accounts.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOpenBankingBusinessCurrentAccountsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListOpenBankingBusinessCurrentAccountsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the business current accounts GET operation in the Open Banking API.",
        "example": "{}"
      },
      "ListOpenBankingBusinessCurrentAccountsResponse_200": {
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/MetaData"
          },
          "data": {
            "type": "array",
            "description": "List of business current account data.",
            "example": [
              {
                "Organisation": {
                  "ParentOrganisation": {
                    "LEI": "STANDARD",
                    "BIC": "STANDARD",
                    "OrganisationName": {
                      "LegalName": "Olivia Bennett"
                    }
                  },
                  "Brand": {
                    "TrademarkIPOCode": "CODE-983",
                    "TrademarkID": "STANDARD"
                  }
                },
                "ProductType": "STANDARD",
                "ProductName": "Northstar Banking Service",
                "ProductSegment": [
                  "STANDARD"
                ],
                "InternationalPaymentsSupported": true,
                "ProductIdentifier": "PROD-240748",
                "CardWithdrawalLimit": "STANDARD",
                "ProductDescription": "STANDARD",
                "TsandCs": [
                  "STANDARD"
                ],
                "AccessChannels": [
                  "STANDARD"
                ],
                "CardType": [
                  "STANDARD"
                ],
                "Contactless": true,
                "MobileWallet": [
                  "STANDARD"
                ],
                "CardNotes": "STANDARD",
                "ChequeBookAvailable": true,
                "CreditScoringPartOfAccountOpening": true,
                "CreditScoringPartOfAccountOpeningIsAHardOrSoftCreditScore": [
                  "STANDARD"
                ],
                "CreditScoringPartOfAccountOpeningText": "STANDARD",
                "CreditScoringPartOfAccountOpeningIDVerificationIsAHardOrSoftCreditScore": [
                  "STANDARD"
                ],
                "CreditScoringPartOfAccountOpeningIDVerificationText": [
                  "STANDARD"
                ],
                "MaximumMonthlyCharge": "STANDARD",
                "ProductURL": [
                  "https://example.com/resource"
                ],
                "Currency": [
                  "USD"
                ],
                "OverdraftOffered": true,
                "Feature": [
                  {
                    "ExistingFeature": true
                  }
                ]
              }
            ],
            "items": {
              "$ref": "#/components/schemas/BusinessCurrentAccountData"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for business current account operations.",
        "example": {
          "meta": {
            "LastUpdated": "2026-09-15",
            "TotalResults": 1,
            "Agreement": "STANDARD",
            "License": "https://example.com/resource",
            "TermsOfUse": "https://example.com/resource"
          },
          "data": [
            {
              "Organisation": {
                "ParentOrganisation": {
                  "LEI": "STANDARD",
                  "BIC": "STANDARD",
                  "OrganisationName": {
                    "LegalName": "Olivia Bennett"
                  }
                },
                "Brand": {
                  "TrademarkIPOCode": "CODE-983",
                  "TrademarkID": "STANDARD"
                }
              },
              "ProductType": "STANDARD",
              "ProductName": "Northstar Banking Service",
              "ProductSegment": [
                "STANDARD"
              ],
              "InternationalPaymentsSupported": true,
              "ProductIdentifier": "PROD-240748",
              "CardWithdrawalLimit": "STANDARD",
              "ProductDescription": "STANDARD",
              "TsandCs": [
                "STANDARD"
              ],
              "AccessChannels": [
                "STANDARD"
              ],
              "CardType": [
                "STANDARD"
              ],
              "Contactless": true,
              "MobileWallet": [
                "STANDARD"
              ],
              "CardNotes": "STANDARD",
              "ChequeBookAvailable": true,
              "CreditScoringPartOfAccountOpening": true,
              "CreditScoringPartOfAccountOpeningIsAHardOrSoftCreditScore": [
                "STANDARD"
              ],
              "CreditScoringPartOfAccountOpeningText": "STANDARD",
              "CreditScoringPartOfAccountOpeningIDVerificationIsAHardOrSoftCreditScore": [
                "STANDARD"
              ],
              "CreditScoringPartOfAccountOpeningIDVerificationText": [
                "STANDARD"
              ],
              "MaximumMonthlyCharge": "STANDARD",
              "ProductURL": [
                "https://example.com/resource"
              ],
              "Currency": [
                "USD"
              ],
              "OverdraftOffered": true,
              "Feature": [
                {
                  "ExistingFeature": true
                }
              ]
            }
          ],
          "metadata": {
            "responseId": "7c3df032-3a32-556d-b2f1-205120433687",
            "correlationId": "cc51f312-d23f-529a-82fb-0550a1ae7d89",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "MetaData": {
        "type": "object",
        "properties": {
          "LastUpdated": {
            "type": "string",
            "description": "Timestamp of the last update.",
            "example": "2023-10-03T12:00:00Z"
          },
          "TotalResults": {
            "type": "integer",
            "description": "Total number of results available.",
            "format": "int32",
            "example": 10
          },
          "Agreement": {
            "type": "string",
            "description": "Agreement terms related to the account.",
            "example": "Standard Agreement"
          },
          "License": {
            "type": "string",
            "description": "License information of the provider.",
            "example": "License Number XYZ"
          },
          "TermsOfUse": {
            "type": "string",
            "description": "Terms of use for the services provided.",
            "example": "Terms of Use for Account Services"
          }
        },
        "description": "Contains metadata information regarding the response."
      },
      "BusinessCurrentAccountData": {
        "type": "object",
        "properties": {
          "Organisation": {
            "$ref": "#/components/schemas/OrganisationDetails"
          },
          "ProductType": {
            "type": "string",
            "description": "Type of the product offered.",
            "example": "Business Current Account"
          },
          "ProductName": {
            "type": "string",
            "description": "Name of the product.",
            "example": "Business Flex Account"
          },
          "ProductSegment": {
            "type": "array",
            "description": "Segments to which the product belongs.",
            "items": {
              "type": "string",
              "example": "Small Business"
            }
          },
          "InternationalPaymentsSupported": {
            "type": "boolean",
            "description": "Indicates if international payments are supported.",
            "example": true
          },
          "ProductIdentifier": {
            "type": "string",
            "description": "Unique identifier for the product.",
            "example": "P123456"
          },
          "CardWithdrawalLimit": {
            "type": "string",
            "description": "Limits on card withdrawals.",
            "example": "\u00a3500 daily"
          },
          "ProductDescription": {
            "type": "string",
            "description": "Description of the product.",
            "example": "A comprehensive business account."
          },
          "TsandCs": {
            "type": "array",
            "description": "Terms and conditions related to the product.",
            "items": {
              "type": "string",
              "example": "No monthly fee if balance above \u00a31000"
            }
          },
          "AccessChannels": {
            "type": "array",
            "description": "Channels through which the product can be accessed.",
            "items": {
              "type": "string",
              "example": "Mobile App"
            }
          },
          "CardType": {
            "type": "array",
            "description": "Types of cards available for this account.",
            "items": {
              "type": "string",
              "example": "Debit Card"
            }
          },
          "Contactless": {
            "type": "boolean",
            "description": "Indicates if contactless payment is supported.",
            "example": true
          },
          "MobileWallet": {
            "type": "array",
            "description": "Mobile wallets supported for transactions.",
            "items": {
              "type": "string",
              "example": "Apple Pay"
            }
          },
          "CardNotes": {
            "type": "string",
            "description": "Additional notes regarding the card.",
            "example": "Card issued within 3-5 business days."
          },
          "ChequeBookAvailable": {
            "type": "boolean",
            "description": "Indicates if a cheque book is available.",
            "example": false
          },
          "CreditScoringPartOfAccountOpening": {
            "type": "boolean",
            "description": "Indicates if credit scoring is part of the account opening process.",
            "example": true
          },
          "CreditScoringPartOfAccountOpeningIsAHardOrSoftCreditScore": {
            "type": "array",
            "description": "Type of credit score used during account opening.",
            "items": {
              "type": "string",
              "example": "Soft"
            }
          },
          "CreditScoringPartOfAccountOpeningText": {
            "type": "string",
            "description": "Text that explains the credit scoring process.",
            "example": "We perform a soft credit check."
          },
          "CreditScoringPartOfAccountOpeningIDVerificationIsAHardOrSoftCreditScore": {
            "type": "array",
            "description": "Credit score type for ID verification.",
            "items": {
              "type": "string",
              "example": "Hard"
            }
          },
          "CreditScoringPartOfAccountOpeningIDVerificationText": {
            "type": "array",
            "description": "Text explaining ID verification credit scoring.",
            "items": {
              "type": "string",
              "example": "ID verification includes a hard credit check."
            }
          },
          "MaximumMonthlyCharge": {
            "type": "string",
            "description": "Maximum monthly charge for this account.",
            "example": "\u00a312"
          },
          "ProductURL": {
            "type": "array",
            "description": "URLs for more information about the product.",
            "items": {
              "type": "string",
              "example": "http://example.com/product"
            }
          },
          "Currency": {
            "type": "array",
            "description": "Currencies supported by the product.",
            "items": {
              "type": "string",
              "example": "GBP"
            }
          },
          "OverdraftOffered": {
            "type": "boolean",
            "description": "Indicates if an overdraft facility is offered.",
            "example": true
          },
          "Feature": {
            "type": "array",
            "description": "Array of features associated with the account.",
            "items": {
              "type": "object",
              "properties": {
                "ExistingFeature": {
                  "type": "boolean",
                  "description": "Indicates if the feature currently exists.",
                  "example": true
                }
              }
            }
          }
        },
        "description": "Detailed information about a specific business current account."
      },
      "OrganisationDetails": {
        "type": "object",
        "properties": {
          "ParentOrganisation": {
            "$ref": "#/components/schemas/ParentOrganisationDetails"
          },
          "Brand": {
            "$ref": "#/components/schemas/BrandDetails"
          }
        },
        "description": "Details of the organisation associated with the account."
      },
      "ParentOrganisationDetails": {
        "type": "object",
        "properties": {
          "LEI": {
            "type": "string",
            "description": "Legal Entity Identifier.",
            "example": "1234567890"
          },
          "BIC": {
            "type": "string",
            "description": "Bank Identifier Code.",
            "example": "ABCXYZ12"
          },
          "OrganisationName": {
            "type": "object",
            "properties": {
              "LegalName": {
                "type": "string",
                "description": "Legal name of the organisation.",
                "example": "Example Ltd."
              }
            },
            "description": "Name of the organisation."
          }
        },
        "description": "Details of the parent organisation."
      },
      "BrandDetails": {
        "type": "object",
        "properties": {
          "TrademarkIPOCode": {
            "type": "string",
            "description": "Trademark registration code.",
            "example": "TM123456"
          },
          "TrademarkID": {
            "type": "string",
            "description": "Unique identifier for the trademark.",
            "example": "Trademark123"
          }
        },
        "description": "Brand details associated with the organisation."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp_123"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking the request.",
            "example": "corr_123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-03T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "EU"
          }
        },
        "description": "Metadata information for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-data-api-get-reference-implementation-open-banking-v13-business-current-accounts"
        },
        "example": "open-data-api-get-reference-implementation-open-banking-v13-business-current-accounts"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token format, specifically JSON Web Tokens (JWT), for authorization. Clients must include the token in the Authorization header of requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}