{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Marketing Promotional Events-spec",
    "description": "The Marketing Promotional Events API serves as a resource for retrieving detailed information on marketing promotional events within the banking sector. This endpoint allows users to access a comprehensive list of scheduled events, providing insights into marketing strategies and promotional activities. Typical consumers of this API include marketing teams and business analysts who need to evaluate event effectiveness and plan future campaigns. By leveraging this API, organizations can enhance their promotional efforts and improve engagement with customers.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/marketing/promotional-events": {
      "get": {
        "tags": [
          "Marketing"
        ],
        "summary": "Retrieve a list of promotional events.",
        "description": "This endpoint allows you to fetch all promotional events that are currently active in the marketing system. Use this to stay updated on the latest promotions and events available to customers.",
        "operationId": "listMarketingPromotionalEvents",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body containing parameters and filters to retrieve promotional events efficiently.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListMarketingPromotionalEventsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and promotional events data has been retrieved.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListMarketingPromotionalEventsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListMarketingPromotionalEventsRequest": {
        "type": "string",
        "description": "Represents the request body for the GET operation on promotional events in marketing.",
        "example": "{}"
      },
      "ListMarketingPromotionalEventsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of promotional event items.",
            "example": [
              {
                "campaignId": "STANDARD",
                "targetSegmentId": "STANDARD",
                "channelMix": [
                  "STANDARD"
                ],
                "budget": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "startDate": "2026-09-15",
                "endDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/PromotionalEvent"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the promotional events.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the GET operation related to promotional events in marketing.",
        "example": {
          "items": [
            {
              "campaignId": "STANDARD",
              "targetSegmentId": "STANDARD",
              "channelMix": [
                "STANDARD"
              ],
              "budget": {
                "amount": 100.0,
                "currency": "USD"
              },
              "startDate": "2026-09-15",
              "endDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "89760524-2968-5e41-be1e-c6702edfa1c1",
            "correlationId": "1202d1fa-d3cb-50fb-9795-3f748f5cc4e9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PromotionalEvent": {
        "type": "object",
        "properties": {
          "campaignId": {
            "type": "string",
            "description": "Unique identifier for the promotional campaign."
          },
          "targetSegmentId": {
            "type": "string",
            "description": "Identifier for the target market segment."
          },
          "channelMix": {
            "type": "array",
            "description": "Channels used for this promotional event.",
            "items": {
              "type": "string",
              "description": "Name of a promotional channel."
            }
          },
          "budget": {
            "$ref": "#/components/schemas/Budget"
          },
          "startDate": {
            "type": "string",
            "description": "Start date of the promotional event."
          },
          "endDate": {
            "type": "string",
            "description": "End date of the promotional event."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the event record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update made to the event."
          }
        },
        "description": "Details of a promotional event."
      },
      "Budget": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount of budget allocated.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "Currency of the budget allocated."
          }
        },
        "description": "Represents the budget allocated to the promotional event."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Pagination information for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracking the request."
          }
        },
        "description": "Additional metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "promotional-events-search-promotional-events"
        },
        "example": "promotional-events-search-promotional-events"
      },
      "X-Runtime-App": {
        "description": "The name of the application or service that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using JSON Web Tokens (JWT). Clients can authenticate by including a token in the Authorization header of their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}