{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Account Detail Retrieval API",
    "description": "The Customer Account Detail Retrieval API facilitates access to specific account information for a given customer. By targeting the unique identifiers of both the customer and their account, this API allows users to obtain detailed insights into account status, transaction history, and associated services. It is particularly relevant for financial institutions and service providers aiming to support customer inquiries, ensure account management efficiency, or enhance user experience. Typical consumers include customer support teams and mobile applications that require account verification or information display.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/paysuite/customers/{customerId}/accounts/{accountId}": {
      "get": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Retrieve details for a specific account of a customer.",
        "description": "This endpoint allows developers to access detailed information related to a specified account belonging to a customer, identified by their unique customer and account IDs. It provides insights into account status, balances, and any transactions associated with it.",
        "operationId": "getCustomerAccountDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          },
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "description": "The request body is not required for this operation, but can be used to provide additional information if necessary. However, note that no specific data is required for this request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCustomerAccountDetailsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The requested account details were retrieved successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCustomerAccountDetailsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCustomerAccountDetailsRequest": {
        "type": "string",
        "description": "The JSON request body for retrieving account operations.",
        "example": "{}"
      },
      "GetCustomerAccountDetailsResponse_200": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-434581"
          },
          "errorCount": {
            "type": "integer",
            "description": "Number of errors encountered during processing.",
            "format": "int32",
            "example": 1
          },
          "accountCount": {
            "type": "integer",
            "description": "Total number of accounts associated with the customer.",
            "format": "int32",
            "example": 1
          },
          "accountIdentitySuccessCount": {
            "type": "integer",
            "description": "Count of accounts that had successful identity verification.",
            "format": "int32",
            "example": 1
          },
          "balanceDetailsSuccessCount": {
            "type": "integer",
            "description": "Count of accounts that had successful balance details retrieval.",
            "format": "int32",
            "example": 1
          },
          "paymentInstructionSuccessCount": {
            "type": "integer",
            "description": "Count of accounts that had successfully processed payment instructions.",
            "format": "int32",
            "example": 1
          },
          "accounts": {
            "type": "array",
            "description": "List of accounts associated with the customer.",
            "example": [
              {
                "id": "STANDARD",
                "realAccountNumberLast4": "STANDARD",
                "institutionId": "STANDARD",
                "institutionName": "Northstar Banking Service",
                "institutionLoginId": 1,
                "accountDetails": {
                  "id": "STANDARD",
                  "accountNumberDisplay": "STANDARD",
                  "name": "Northstar Banking Service",
                  "type": "STANDARD",
                  "aggregationStatusCode": 1,
                  "status": "ACTIVE",
                  "aggregationSuccessDate": "2026-09-15",
                  "aggregationAttemptDate": "2026-09-15",
                  "createdDate": "2026-09-15",
                  "currency": "USD",
                  "displayPosition": 1,
                  "parentAccount": "STANDARD"
                },
                "balanceDetails": {
                  "id": 1,
                  "realAccountNumberLast4": "STANDARD",
                  "availableBalance": 100.0,
                  "availableBalanceDate": "2026-09-15",
                  "clearedBalance": 100.0,
                  "clearedBalanceDate": "2026-09-15",
                  "aggregationStatusCode": 1,
                  "currency": "USD"
                },
                "accountIdentity": {
                  "holders": [
                    {
                      "relationship": "STANDARD",
                      "ownerName": "Northstar Banking Service",
                      "firstName": "Northstar Banking Service",
                      "middleName": "Northstar Banking Service"
                    }
                  ]
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Account"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for retrieving account information of a customer.",
        "example": {
          "customerId": "CUST-434581",
          "errorCount": 1,
          "accountCount": 1,
          "accountIdentitySuccessCount": 1,
          "balanceDetailsSuccessCount": 1,
          "paymentInstructionSuccessCount": 1,
          "accounts": [
            {
              "id": "STANDARD",
              "realAccountNumberLast4": "STANDARD",
              "institutionId": "STANDARD",
              "institutionName": "Northstar Banking Service",
              "institutionLoginId": 1,
              "accountDetails": {
                "id": "STANDARD",
                "accountNumberDisplay": "STANDARD",
                "name": "Northstar Banking Service",
                "type": "STANDARD",
                "aggregationStatusCode": 1,
                "status": "ACTIVE",
                "aggregationSuccessDate": "2026-09-15",
                "aggregationAttemptDate": "2026-09-15",
                "createdDate": "2026-09-15",
                "currency": "USD",
                "displayPosition": 1,
                "parentAccount": "STANDARD"
              },
              "balanceDetails": {
                "id": 1,
                "realAccountNumberLast4": "STANDARD",
                "availableBalance": 100.0,
                "availableBalanceDate": "2026-09-15",
                "clearedBalance": 100.0,
                "clearedBalanceDate": "2026-09-15",
                "aggregationStatusCode": 1,
                "currency": "USD"
              },
              "accountIdentity": {
                "holders": [
                  {
                    "relationship": "STANDARD",
                    "ownerName": "Northstar Banking Service",
                    "firstName": "Northstar Banking Service",
                    "middleName": "Northstar Banking Service"
                  }
                ]
              }
            }
          ],
          "metadata": {
            "responseId": "8ddf980a-84f2-59ca-b089-9af3205eac2b",
            "correlationId": "eb3cb43b-d73e-53a7-a95e-c90398bbc3fd",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Account": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "ACC-200045"
          },
          "realAccountNumberLast4": {
            "type": "string",
            "description": "Last four digits of the real account number.",
            "example": "1234"
          },
          "institutionId": {
            "type": "string",
            "description": "Unique identifier for the financial institution.",
            "example": "INST-001"
          },
          "institutionName": {
            "type": "string",
            "description": "Name of the financial institution.",
            "example": "Bank of Test"
          },
          "institutionLoginId": {
            "type": "integer",
            "description": "Login identifier for the institution.",
            "format": "int32",
            "example": 1001
          },
          "accountDetails": {
            "$ref": "#/components/schemas/AccountDetails"
          },
          "balanceDetails": {
            "$ref": "#/components/schemas/BalanceDetails"
          },
          "accountIdentity": {
            "$ref": "#/components/schemas/AccountIdentity"
          }
        },
        "description": "Represents an account associated with a customer."
      },
      "AccountDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the account details.",
            "example": "AD-10001"
          },
          "accountNumberDisplay": {
            "type": "string",
            "description": "Display format for the account number.",
            "example": "XXXX-1234"
          },
          "name": {
            "type": "string",
            "description": "Name associated with the account.",
            "example": "Savings Account"
          },
          "type": {
            "type": "string",
            "description": "Type of the account.",
            "example": "savings"
          },
          "aggregationStatusCode": {
            "type": "integer",
            "description": "Status code representing the aggregation status of the account.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "Current status of the account.",
            "example": "active"
          },
          "aggregationSuccessDate": {
            "type": "string",
            "description": "Date when aggregation was successful.",
            "example": "2023-01-01"
          },
          "aggregationAttemptDate": {
            "type": "string",
            "description": "Date when aggregation was attempted.",
            "example": "2023-01-01"
          },
          "createdDate": {
            "type": "string",
            "description": "Date when the account was created.",
            "example": "2022-01-01"
          },
          "currency": {
            "type": "string",
            "description": "Currency type for the account.",
            "example": "USD"
          },
          "displayPosition": {
            "type": "integer",
            "description": "Position of the account in the display order.",
            "format": "int32",
            "example": 1
          },
          "parentAccount": {
            "type": "string",
            "description": "Identifier of the parent account, if applicable.",
            "example": "PARENT-100"
          }
        },
        "description": "Detailed information about an account."
      },
      "BalanceDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier for the balance details.",
            "format": "int32",
            "example": 1
          },
          "realAccountNumberLast4": {
            "type": "string",
            "description": "Last four digits of the real account number.",
            "example": "1234"
          },
          "availableBalance": {
            "type": "number",
            "description": "Available balance in the account.",
            "example": 1000.0
          },
          "availableBalanceDate": {
            "type": "string",
            "description": "Date when the available balance was last updated.",
            "example": "2023-01-01"
          },
          "clearedBalance": {
            "type": "number",
            "description": "Cleared balance in the account.",
            "example": 950.0
          },
          "clearedBalanceDate": {
            "type": "string",
            "description": "Date when the cleared balance was last updated.",
            "example": "2023-01-01"
          },
          "aggregationStatusCode": {
            "type": "integer",
            "description": "Status code representing the aggregation status of the balance.",
            "format": "int32",
            "example": 1
          },
          "currency": {
            "type": "string",
            "description": "Currency type of the balance.",
            "example": "USD"
          }
        },
        "description": "Details about the account's balance."
      },
      "AccountIdentity": {
        "type": "object",
        "properties": {
          "holders": {
            "type": "array",
            "description": "List of account holders.",
            "items": {
              "$ref": "#/components/schemas/AccountHolder"
            }
          }
        },
        "description": "Identity information related to the account."
      },
      "AccountHolder": {
        "type": "object",
        "properties": {
          "relationship": {
            "type": "string",
            "description": "Relationship of the holder to the account.",
            "example": "owner"
          },
          "ownerName": {
            "type": "string",
            "description": "Full name of the account holder.",
            "example": "John Doe"
          },
          "firstName": {
            "type": "string",
            "description": "First name of the account holder.",
            "example": "John"
          },
          "middleName": {
            "type": "string",
            "description": "Middle name of the account holder, if applicable.",
            "example": "A."
          }
        },
        "description": "Information about an account holder."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking the request across services.",
            "example": "correlation-001"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the processing occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "This header specifies the unique identifier for the endpoint that is being accessed, allowing for better tracking and logging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-account-details-by-account-id"
        },
        "example": "open-finance-api-get-account-details-by-account-id"
      },
      "X-Runtime-App": {
        "description": "This header indicates the name of the application that is executing the request, useful for identifying the source of the request in logs.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication mechanism. The client must provide a valid JSON Web Token (JWT) in the Authorization header of HTTP requests to authenticate.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}