{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Facility Building Maintenance-spec",
    "description": "The Facility Building Maintenance Management API enables organizations to efficiently manage maintenance operations for their facilities. This API allows users to create maintenance specifications, ensuring that all necessary details are captured for each building. Typical consumers include facility managers and maintenance teams who require a streamlined process for handling maintenance requests and tracking their status. By using this API, businesses can enhance their operational efficiency and maintain high standards of facility upkeep.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/facilities/building-maintenance": {
      "post": {
        "tags": [
          "Facilities Management"
        ],
        "summary": "Create a new building maintenance request.",
        "description": "This endpoint allows users to submit a new request for building maintenance services. The request will be processed to ensure timely addressing of the submitted issues.",
        "operationId": "createFacilityBuildingMaintenance",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body containing details for building maintenance operations. This includes relevant information such as maintenance tasks, associated facilities, and operational parameters necessary to process the request effectively.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFacilityBuildingMaintenanceRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource successfully created, reflecting the new building maintenance entry.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateFacilityBuildingMaintenanceResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateFacilityBuildingMaintenanceRequest": {
        "title": "Building Maintenance Request",
        "type": "object",
        "properties": {
          "siteId": {
            "type": "string",
            "description": "Identifier for the site where maintenance is to occur.",
            "example": "STANDARD"
          },
          "assetId": {
            "type": "string",
            "description": "Identifier for the asset that requires maintenance.",
            "example": "STANDARD"
          },
          "workOrderId": {
            "type": "string",
            "description": "Identifier for the work order related to the maintenance request.",
            "example": "ORD-767235"
          },
          "scheduledDate": {
            "type": "string",
            "description": "Date on which the maintenance is scheduled to take place.",
            "example": "2026-09-15"
          },
          "vendorId": {
            "type": "string",
            "description": "Identifier for the vendor assigned to perform the maintenance.",
            "example": "STANDARD"
          },
          "facilityZone": {
            "type": "string",
            "description": "Zone within the facility where the maintenance is needed.",
            "example": "STANDARD"
          },
          "maintenanceType": {
            "type": "string",
            "description": "Type of maintenance required, e.g., preventive, corrective.",
            "example": "STANDARD"
          },
          "estimatedDurationMinutes": {
            "type": "integer",
            "description": "Estimated duration for the maintenance work in minutes.",
            "format": "int32",
            "example": 1
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for building maintenance operations including site and work order details.",
        "example": {
          "siteId": "STANDARD",
          "assetId": "STANDARD",
          "workOrderId": "ORD-767235",
          "scheduledDate": "2026-09-15",
          "vendorId": "STANDARD",
          "facilityZone": "STANDARD",
          "maintenanceType": "STANDARD",
          "estimatedDurationMinutes": 1,
          "requestContext": {
            "requestId": "25575c5e-3b71-56eb-bc88-5a78adeee593",
            "correlationId": "4327ba64-75ae-5dc7-a639-c5b98eddd61f",
            "idempotencyKey": "f7ddf60f-23fc-5400-80ca-2576db82655c",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-727733"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate multiple requests across systems.",
            "example": "corr456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that the request is processed only once.",
            "example": "idempotentKey789"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T14:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that originated the request.",
            "example": "SystemX"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "AppY"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information about the request including identifiers and timestamps."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the communication channel used.",
            "example": "channel001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used for the request, e.g., web, mobile.",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used to make the request.",
            "example": "device123"
          }
        },
        "description": "Information about the channel through which the request was made."
      },
      "CreateFacilityBuildingMaintenanceResponse_201": {
        "title": "Building Maintenance Operation Response",
        "type": "object",
        "properties": {
          "siteId": {
            "type": "string",
            "description": "Unique identifier for the site.",
            "example": "STANDARD"
          },
          "assetId": {
            "type": "string",
            "description": "Unique identifier for the asset involved in maintenance.",
            "example": "STANDARD"
          },
          "workOrderId": {
            "type": "string",
            "description": "Unique identifier for the work order.",
            "example": "ORD-376943"
          },
          "vendorId": {
            "type": "string",
            "description": "Unique identifier for the vendor responsible for the maintenance.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource associated with the maintenance operation.",
            "example": "RES-466623"
          },
          "status": {
            "type": "string",
            "description": "Status of the building maintenance operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "response-202"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier used to correlate related requests and responses.",
                "example": "correlation-303"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp indicating when the metadata was generated.",
                "example": "2023-01-01T12:00:01Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the operation was processed.",
                "example": "us-west-1"
              }
            },
            "description": "Metadata related to the building maintenance operation.",
            "example": {
              "responseId": "ce03f09a-a8c8-5896-990b-7c4d349aa632",
              "correlationId": "4327ba64-75ae-5dc7-a639-c5b98eddd61f",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for the building maintenance operation POST request.",
        "example": {
          "siteId": "STANDARD",
          "assetId": "STANDARD",
          "workOrderId": "ORD-376943",
          "vendorId": "STANDARD",
          "resourceId": "RES-466623",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "ce03f09a-a8c8-5896-990b-7c4d349aa632",
            "correlationId": "4327ba64-75ae-5dc7-a639-c5b98eddd61f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "building-maintenance-create-building-maintenance"
        },
        "example": "building-maintenance-create-building-maintenance"
      },
      "X-Runtime-App": {
        "description": "The name and version of the application handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authorization scheme that utilizes a JSON Web Token (JWT) for securely transmitting information between parties. This format allows for verification of identity and information through the use of digital signatures.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}