{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Letter of Credit Retrieval API",
    "description": "The Letter of Credit Retrieval API allows users to access detailed information regarding specific letters of credit. This endpoint is designed for financial institutions and businesses engaged in trade financing. Users can retrieve data such as credit terms, beneficiaries, and transaction statuses. Ideal for compliance and transactional oversight, this API supports operations for banking applications managing trade-related financial instruments.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/letter-of-credit": {
      "get": {
        "tags": [
          "Trade Banking"
        ],
        "summary": "Retrieve Letter of Credit details",
        "description": "This endpoint allows users to retrieve detailed information about Letters of Credit issued in trade banking. It provides access to all relevant information associated with a specific Letter of Credit, including its status and terms.",
        "operationId": "getLetterOfCredit",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request to retrieve letter of credit details through the trade banking service. This request requires a JSON payload that adheres to the defined schema for letter of credit operations.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetLetterOfCreditRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was completed successfully, returning the requested data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLetterOfCreditResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetLetterOfCreditRequest": {
        "type": "string",
        "description": "A request body used for operations related to letters of credit in the trade banking context.",
        "example": "{}"
      },
      "GetLetterOfCreditResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of letter of credit items.",
            "example": [
              {
                "corporateCustomerId": "CUST-249885",
                "facilityId": "STANDARD",
                "counterpartyId": "PARTY-658316",
                "amount": {
                  "value": 100.0,
                  "currency": "USD"
                },
                "maturityDate": "2026-09-15",
                "applicantId": "STANDARD",
                "beneficiaryId": "STANDARD",
                "expiryDate": "2026-09-15",
                "incoterm": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/LetterOfCreditItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the Letter of Credit operations GET request for trade banking.",
        "example": {
          "items": [
            {
              "corporateCustomerId": "CUST-249885",
              "facilityId": "STANDARD",
              "counterpartyId": "PARTY-658316",
              "amount": {
                "value": 100.0,
                "currency": "USD"
              },
              "maturityDate": "2026-09-15",
              "applicantId": "STANDARD",
              "beneficiaryId": "STANDARD",
              "expiryDate": "2026-09-15",
              "incoterm": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "542fd725-f351-5540-b8fe-7973a66dc131",
            "correlationId": "58d664cb-d71e-5bf6-833c-bd103c0d7779",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "LetterOfCreditItem": {
        "type": "object",
        "properties": {
          "corporateCustomerId": {
            "type": "string",
            "description": "The ID of the corporate customer associated with the letter of credit.",
            "example": "string"
          },
          "facilityId": {
            "type": "string",
            "description": "The ID of the facility linked to the letter of credit.",
            "example": "string"
          },
          "counterpartyId": {
            "type": "string",
            "description": "The ID of the counterparty involved in the transaction.",
            "example": "string"
          },
          "amount": {
            "$ref": "#/components/schemas/Amount"
          },
          "maturityDate": {
            "type": "string",
            "description": "The maturity date of the letter of credit.",
            "example": "string"
          },
          "applicantId": {
            "type": "string",
            "description": "The ID of the applicant for the letter of credit.",
            "example": "string"
          },
          "beneficiaryId": {
            "type": "string",
            "description": "The ID of the beneficiary of the letter of credit.",
            "example": "string"
          },
          "expiryDate": {
            "type": "string",
            "description": "The expiration date of the letter of credit.",
            "example": "string"
          },
          "incoterm": {
            "type": "string",
            "description": "The Incoterms applicable to the transaction.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the record.",
            "example": "string"
          }
        },
        "description": "Detailed information about each letter of credit item.",
        "example": {}
      },
      "Amount": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The numeric value of the amount.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency code for the amount.",
            "example": "USD"
          }
        },
        "description": "Represents the monetary amount with its currency."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "The size of the page (number of items per page).",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Pagination information for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "letter-of-credit-search-letter-of-credit"
        },
        "example": "letter-of-credit-search-letter-of-credit"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication mechanism utilizing a bearer token. The 'Bearer' scheme requires a valid JSON Web Token (JWT) to be included in the Authorization header for secure access to the API.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}