{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_International Scheduled Payments Management API",
    "description": "The International Scheduled Payments Management API enables users to access and manage scheduled international payments efficiently. Businesses can utilize this API to retrieve details regarding previously set up payments, including schedules, amounts, and recipient information. Ideal for financial institutions and payment service providers, this API streamlines payment operations and enhances user experience by providing real-time access to payment statuses. By leveraging this API, developers can easily integrate international payment functionalities into their applications and services.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/international-scheduled-payments/{param1}": {
      "get": {
        "tags": [
          "International Payments"
        ],
        "summary": "Retrieve International Scheduled Payment Details",
        "description": "This endpoint allows users to retrieve the details of a specific international scheduled payment by its unique identifier. It provides comprehensive information about the payment's status, amount, recipient, and more, facilitating easy tracking and management of cross-border transactions.",
        "operationId": "getInternationalScheduledPaymentById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving details about the scheduled payment identified by PAY-300045. This request provides necessary data that conforms to the schema defined for retrieving international scheduled payment operations.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetInternationalScheduledPaymentByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully with the payment details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetInternationalScheduledPaymentByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetInternationalScheduledPaymentByIdRequest": {
        "type": "string",
        "description": "This schema represents the JSON request body for the GET operation related to international scheduled payments.",
        "example": "{}"
      },
      "GetInternationalScheduledPaymentByIdResponse_200": {
        "title": "International Scheduled Payments Response",
        "type": "object",
        "properties": {
          "Data": {
            "$ref": "#/components/schemas/PaymentData"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Schema representing the response for international scheduled payments.",
        "example": {
          "Data": {
            "paymentId": "PAY-446463",
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "Status": "ACTIVE",
            "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
            "StatusReason": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "Path": "STANDARD"
              }
            ],
            "ExpectedExecutionDateTime": "2026-09-15T14:30:00Z",
            "ExpectedSettlementDateTime": "2026-09-15T14:30:00Z",
            "Refund": {
              "Account": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD"
              }
            },
            "Charges": [
              {
                "ChargeBearer": "STANDARD",
                "Type": "STANDARD",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            ],
            "ExchangeRateInformation": {
              "UnitCurrency": "USD",
              "ExchangeRate": 100.0,
              "RateType": "STANDARD",
              "ContractIdentification": "STANDARD",
              "ExpirationDateTime": "2026-09-15T14:30:00Z"
            },
            "Initiation": {
              "InstructionIdentification": "STANDARD",
              "EndToEndIdentification": "STANDARD",
              "LocalInstrument": "STANDARD",
              "InstructionPriority": "STANDARD",
              "ExtendedPurpose": "STANDARD",
              "ChargeBearer": "STANDARD",
              "RequestedExecutionDateTime": "2026-09-15T14:30:00Z",
              "CurrencyOfTransfer": "STANDARD",
              "DestinationCountryCode": "US",
              "InstructedAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              },
              "ExchangeRateInformation": {
                "UnitCurrency": "USD"
              }
            }
          },
          "metadata": {
            "responseId": "ebf567e1-43f1-5d6c-8650-dd5f34da928e",
            "correlationId": "826e0159-4558-580e-ade3-e2ccb208d279",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentData": {
        "title": "Payment Data",
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment.",
            "example": "123456789"
          },
          "ConsentId": {
            "type": "string",
            "description": "Identifier for the consent associated with the payment.",
            "example": "abc-def-ghi"
          },
          "CreationDateTime": {
            "type": "string",
            "description": "The date and time when the payment was created.",
            "example": "2023-01-01T12:00:00Z"
          },
          "Status": {
            "type": "string",
            "description": "Current status of the payment.",
            "example": "Pending"
          },
          "StatusUpdateDateTime": {
            "type": "string",
            "description": "The date and time when the status was last updated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "StatusReason": {
            "type": "array",
            "description": "List of reasons associated with the current status of the payment.",
            "items": {
              "$ref": "#/components/schemas/StatusReason"
            }
          },
          "ExpectedExecutionDateTime": {
            "type": "string",
            "description": "The expected date and time for the payment execution.",
            "example": "2023-01-02T12:00:00Z"
          },
          "ExpectedSettlementDateTime": {
            "type": "string",
            "description": "The expected date and time for the payment settlement.",
            "example": "2023-01-03T12:00:00Z"
          },
          "Refund": {
            "$ref": "#/components/schemas/RefundDetails"
          },
          "Charges": {
            "type": "array",
            "description": "List of charges associated with the payment.",
            "items": {
              "$ref": "#/components/schemas/ChargeDetail"
            }
          },
          "ExchangeRateInformation": {
            "$ref": "#/components/schemas/ExchangeRateInformation"
          },
          "Initiation": {
            "$ref": "#/components/schemas/PaymentInitiation"
          }
        },
        "description": "Schema containing the details of the payment."
      },
      "StatusReason": {
        "title": "Status Reason",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Code representing the reason.",
            "example": "REASON_CODE"
          },
          "description": {
            "type": "string",
            "description": "Description of the reason.",
            "example": "Payment is under review."
          },
          "Path": {
            "type": "string",
            "description": "Path associated with the status reason.",
            "example": "path/to/resource"
          }
        },
        "description": "Schema representing a reason for the payment's status."
      },
      "RefundDetails": {
        "title": "Refund Details",
        "type": "object",
        "properties": {
          "Account": {
            "$ref": "#/components/schemas/AccountDetails"
          }
        },
        "description": "Schema containing details of the refund."
      },
      "AccountDetails": {
        "title": "Account Details",
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "Name of the scheme the account belongs to.",
            "example": "Banking Scheme"
          },
          "Identification": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "ID123456"
          },
          "Name": {
            "type": "string",
            "description": "Name of the account holder.",
            "example": "John Doe"
          },
          "SecondaryIdentification": {
            "type": "string",
            "description": "Secondary identifier for the account.",
            "example": "Secondary ID"
          }
        },
        "description": "Schema representing the details of an account."
      },
      "ChargeDetail": {
        "title": "Charge Detail",
        "type": "object",
        "properties": {
          "ChargeBearer": {
            "type": "string",
            "description": "Identifies who bears the charges.",
            "example": "SHA"
          },
          "Type": {
            "type": "string",
            "description": "Type of charge.",
            "example": "Fee"
          },
          "Amount": {
            "$ref": "#/components/schemas/MoneyAmount"
          }
        },
        "description": "Schema representing individual charge details."
      },
      "MoneyAmount": {
        "title": "Money Amount",
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "Amount of money.",
            "example": "100.00"
          },
          "Currency": {
            "type": "string",
            "description": "Currency of the amount.",
            "example": "USD"
          }
        },
        "description": "Schema for representing an amount of money."
      },
      "ExchangeRateInformation": {
        "title": "Exchange Rate Information",
        "type": "object",
        "properties": {
          "UnitCurrency": {
            "type": "string",
            "description": "Currency in which the unit amount is expressed.",
            "example": "USD"
          },
          "ExchangeRate": {
            "type": "number",
            "description": "The exchange rate applied to the transaction.",
            "example": 1.2
          },
          "RateType": {
            "type": "string",
            "description": "Type of the exchange rate.",
            "example": "Fixed"
          },
          "ContractIdentification": {
            "type": "string",
            "description": "Identification for the exchange rate contract.",
            "example": "contract123"
          },
          "ExpirationDateTime": {
            "type": "string",
            "description": "Expiration date and time of the exchange rate.",
            "example": "2023-01-10T12:00:00Z"
          }
        },
        "description": "Schema containing exchange rate information for the transaction."
      },
      "PaymentInitiation": {
        "title": "Payment Initiation",
        "type": "object",
        "properties": {
          "InstructionIdentification": {
            "type": "string",
            "description": "Identifier for the payment instruction.",
            "example": "instr123456"
          },
          "EndToEndIdentification": {
            "type": "string",
            "description": "End-to-end identifier for tracking the payment.",
            "example": "end-to-end123"
          },
          "LocalInstrument": {
            "type": "string",
            "description": "Local instrument used for the transaction.",
            "example": "ACH"
          },
          "InstructionPriority": {
            "type": "string",
            "description": "Priority of the payment instruction.",
            "example": "High"
          },
          "ExtendedPurpose": {
            "type": "string",
            "description": "Extended purpose of the payment.",
            "example": "Payment for services"
          },
          "ChargeBearer": {
            "type": "string",
            "description": "Identifies who bears the charges for the transaction.",
            "example": "OUR"
          },
          "RequestedExecutionDateTime": {
            "type": "string",
            "description": "Requested execution date and time for the payment.",
            "example": "2023-01-01T12:00:00Z"
          },
          "CurrencyOfTransfer": {
            "type": "string",
            "description": "Currency used for the transfer.",
            "example": "USD"
          },
          "DestinationCountryCode": {
            "type": "string",
            "description": "Country code of the payment's destination.",
            "example": "US"
          },
          "InstructedAmount": {
            "$ref": "#/components/schemas/MoneyAmount"
          },
          "ExchangeRateInformation": {
            "$ref": "#/components/schemas/ExchangeRateInformation"
          }
        },
        "description": "Schema for the payment initiation details."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response_id_123"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking related requests.",
            "example": "correlation_id_456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "EU"
          }
        },
        "description": "Schema containing metadata information for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-get-international-scheduled-payment"
        },
        "example": "payment-initiation-openapi-get-international-scheduled-payment"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication method, allowing access through a JSON Web Token (JWT) that must be included in the authorization header of requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}