{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Replace Human Resource Management By Param1-spec",
    "description": "The Update Employee Access API enables organizations to manage employee access rights efficiently within the Human Resource Management system. This endpoint allows authorized users to modify access parameters for individual employees identified by a unique identifier. It is typically utilized by HR administrators and system integrators looking to maintain up-to-date access controls aligned with organizational policies. This operation ensures that employee access is managed seamlessly and stays in sync with changing roles or responsibilities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/employee-access/{param1}": {
      "put": {
        "tags": [
          "Human Resource Management"
        ],
        "summary": "Update Employee Access Details",
        "description": "This endpoint allows you to update the access details for a specific employee identified by their employee ID. Make sure to provide the correct permissions and data format to successfully modify the employee's access settings.",
        "operationId": "replaceHumanResourceManagementByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the information for a specific employee identified by the employee ID 'EMP-900045'. It contains the necessary fields required to successfully modify the employee's access details within the human resource management system.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceHumanResourceManagementByParam1Request"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully following the update.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceHumanResourceManagementByParam1Response_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ReplaceHumanResourceManagementByParam1Request": {
        "title": "Employee Access Request",
        "type": "object",
        "properties": {
          "employeeId": {
            "type": "string",
            "description": "The unique identifier for the employee.",
            "example": "EMP-710951"
          },
          "assignmentId": {
            "type": "string",
            "description": "The identifier for the employee's assignment.",
            "example": "STANDARD"
          },
          "departmentId": {
            "type": "string",
            "description": "The identifier for the department the employee belongs to.",
            "example": "STANDARD"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date when the changes to the employee's access become effective.",
            "example": "2026-09-15"
          },
          "countryCode": {
            "type": "string",
            "description": "The country code representing the employee's location.",
            "example": "US"
          },
          "employmentType": {
            "type": "string",
            "description": "The type of employment for the employee (e.g., full-time, part-time).",
            "example": "STANDARD"
          },
          "managerId": {
            "type": "string",
            "description": "The unique identifier of the employee's manager.",
            "example": "STANDARD"
          },
          "workLocation": {
            "type": "string",
            "description": "The location where the employee works.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the request body when updating employee access information.",
        "example": {
          "employeeId": "EMP-710951",
          "assignmentId": "STANDARD",
          "departmentId": "STANDARD",
          "effectiveDate": "2026-09-15",
          "countryCode": "US",
          "employmentType": "STANDARD",
          "managerId": "STANDARD",
          "workLocation": "STANDARD",
          "requestContext": {
            "requestId": "e92368e1-addd-5996-a880-0bc9bf7f4deb",
            "correlationId": "17727c4c-f2f7-54fd-ac12-c24ece7905bb",
            "idempotencyKey": "b99c5061-0294-545d-9a11-d9a3471e6082",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-828570"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "REQ123456"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate related requests.",
            "example": "CORR123456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure that requests are idempotent.",
            "example": "IDEMP123456"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-01-01T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "HRMS"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application within the source system that initiated the request.",
            "example": "Employee Portal"
          },
          "channel": {
            "description": "The channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context information for the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "A unique identifier for the channel.",
            "example": "CHNL123456"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used for the request.",
            "example": "DEVICE123456"
          }
        },
        "description": "Schema representing the channel information through which requests are made."
      },
      "ReplaceHumanResourceManagementByParam1Response_201": {
        "title": "Employee Access Response",
        "type": "object",
        "properties": {
          "employeeId": {
            "type": "string",
            "description": "The unique identifier of the employee.",
            "example": "EMP-308707"
          },
          "assignmentId": {
            "type": "string",
            "description": "The unique identifier for the assignment of the employee.",
            "example": "STANDARD"
          },
          "departmentId": {
            "type": "string",
            "description": "The unique identifier for the department the employee belongs to.",
            "example": "STANDARD"
          },
          "countryCode": {
            "type": "string",
            "description": "The country code representing the employee's country.",
            "example": "US"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource associated with the employee.",
            "example": "RES-379930"
          },
          "status": {
            "type": "string",
            "description": "The current status of the employee.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the employee access was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the employee access response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response for an employee access API call, detailing the employee's information and associated metadata.",
        "example": {
          "employeeId": "EMP-308707",
          "assignmentId": "STANDARD",
          "departmentId": "STANDARD",
          "countryCode": "US",
          "resourceId": "RES-379930",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "5c4478a7-4074-59fb-9ff2-1d513633b448",
            "correlationId": "17727c4c-f2f7-54fd-ac12-c24ece7905bb",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the API response.",
            "example": "RESP123456"
          },
          "correlationId": {
            "type": "string",
            "description": "A correlation identifier to trace the request through various systems.",
            "example": "CORR-987654"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-01-01T01:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "us-west-2"
          }
        },
        "description": "This schema provides additional metadata for the API response related to employee access."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifier for the endpoint associated with the request, useful for tracking and managing the API endpoints used.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "employee-access-create-employee-access"
        },
        "example": "employee-access-create-employee-access"
      },
      "X-Runtime-App": {
        "description": "The name or identifier of the application running the request, which helps in identifying the source of the API call.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      },
      "X-Workflow-Id": {
        "description": "Unique identifier for the workflow process associated with the request, allowing for tracking workflow execution across systems.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-081"
        },
        "example": "WF-081"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow associated with the operation being performed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Employee Onboarding and Access Provisioning"
        },
        "example": "Employee Onboarding and Access Provisioning"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow that indicates its progress.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the workflow execution instance.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "b615c8b3-3249-43a6-bb64-413e475798b8"
        },
        "example": "b615c8b3-3249-43a6-bb64-413e475798b8"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses HTTP Bearer authentication. Clients must include a valid JSON Web Token (JWT) in the Authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}