{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Open Banking Product Retrieval API",
    "description": "The Open Banking Product Retrieval API allows consumers to access a comprehensive list of financial products available in the open banking ecosystem. This endpoint serves as a gateway for aggregating product information from various financial institutions, enabling users to compare and select products based on their needs. Typical consumers include developers looking to enhance financial applications, as well as businesses aiming to provide customers with tailored product options. This API streamlines the process of discovering and evaluating available financial products in a single, efficient query.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/aisp/products": {
      "get": {
        "tags": [
          "AISP Products"
        ],
        "summary": "Retrieve AISP Products",
        "description": "Fetch a list of available products from the Account Information Service Provider (AISP). This endpoint allows developers to retrieve product information that can be used for further processing or display to users.",
        "operationId": "getAispProducts",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body containing the necessary information to retrieve AISP products. This may include filters and other parameters to specify which products should be fetched.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAispProductsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of products.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAispProductsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetAispProductsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to AISP products in JSON format.",
        "example": "{}"
      },
      "GetAispProductsResponse_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "Product": {
                "type": "array",
                "description": "List of products.",
                "items": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            },
            "description": "Contains the product data.",
            "example": {
              "Product": [
                {
                  "name": "Northstar Banking Service",
                  "id": "STANDARD",
                  "AccountId": "ACC-724758",
                  "SecondaryProductId": "PROD-657713",
                  "type": "STANDARD",
                  "MarketingStateId": "STANDARD",
                  "OtherProductType": {
                    "Name": "Northstar Banking Service",
                    "Description": "Customer banking request processed successfully",
                    "ProductDetails": {
                      "Segment": [
                        "STANDARD"
                      ],
                      "FeeFreeLength": 1,
                      "FeeFreeLengthPeriod": "STANDARD",
                      "MonthlyMaximumCharge": "STANDARD",
                      "Notes": [
                        "STANDARD"
                      ],
                      "OtherSegment": {
                        "Code": "SUCCESS",
                        "Name": "Northstar Banking Service",
                        "Description": "Customer banking request processed successfully"
                      }
                    },
                    "CreditInterest": {
                      "TierBandSet": [
                        {
                          "TierBandMethod": "STANDARD",
                          "CalculationMethod": "STANDARD",
                          "Destination": "STANDARD",
                          "Notes": [
                            "STANDARD"
                          ],
                          "OtherCalculationMethod": {
                            "Code": "SUCCESS",
                            "Name": "Northstar Banking Service",
                            "Description": "Customer banking request processed successfully"
                          },
                          "OtherDestination": {
                            "Code": "SUCCESS",
                            "Name": "Northstar Banking Service",
                            "Description": "Customer banking request processed successfully"
                          },
                          "TierBand": [
                            {
                              "Identification": "STANDARD",
                              "TierValueMinimum": "STANDARD",
                              "TierValueMaximum": "STANDARD",
                              "CalculationFrequency": "STANDARD",
                              "ApplicationFrequency": "STANDARD",
                              "DepositInterestAppliedCoverage": "STANDARD",
                              "FixedVariableInterestRateType": "STANDARD",
                              "AER": "STANDARD",
                              "BankInterestRateType": "STANDARD"
                            }
                          ]
                        }
                      ]
                    }
                  }
                }
              ]
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "response123"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier for correlating requests and responses.",
                "example": "correlation456"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the response was generated.",
                "example": "2023-10-01T12:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the response was processed.",
                "example": "us-west-1"
              }
            },
            "description": "Metadata related to the response.",
            "example": {
              "responseId": "e689efd2-36e2-5d06-8b02-8ea0148c70b0",
              "correlationId": "108be79b-6728-5a4f-956a-da03dbe79d3a",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for the GET Products operation.",
        "example": {
          "Data": {
            "Product": [
              {
                "name": "Northstar Banking Service",
                "id": "STANDARD",
                "AccountId": "ACC-724758",
                "SecondaryProductId": "PROD-657713",
                "type": "STANDARD",
                "MarketingStateId": "STANDARD",
                "OtherProductType": {
                  "Name": "Northstar Banking Service",
                  "Description": "Customer banking request processed successfully",
                  "ProductDetails": {
                    "Segment": [
                      "STANDARD"
                    ],
                    "FeeFreeLength": 1,
                    "FeeFreeLengthPeriod": "STANDARD",
                    "MonthlyMaximumCharge": "STANDARD",
                    "Notes": [
                      "STANDARD"
                    ],
                    "OtherSegment": {
                      "Code": "SUCCESS",
                      "Name": "Northstar Banking Service",
                      "Description": "Customer banking request processed successfully"
                    }
                  },
                  "CreditInterest": {
                    "TierBandSet": [
                      {
                        "TierBandMethod": "STANDARD",
                        "CalculationMethod": "STANDARD",
                        "Destination": "STANDARD",
                        "Notes": [
                          "STANDARD"
                        ],
                        "OtherCalculationMethod": {
                          "Code": "SUCCESS",
                          "Name": "Northstar Banking Service",
                          "Description": "Customer banking request processed successfully"
                        },
                        "OtherDestination": {
                          "Code": "SUCCESS",
                          "Name": "Northstar Banking Service",
                          "Description": "Customer banking request processed successfully"
                        },
                        "TierBand": [
                          {
                            "Identification": "STANDARD",
                            "TierValueMinimum": "STANDARD",
                            "TierValueMaximum": "STANDARD",
                            "CalculationFrequency": "STANDARD",
                            "ApplicationFrequency": "STANDARD",
                            "DepositInterestAppliedCoverage": "STANDARD",
                            "FixedVariableInterestRateType": "STANDARD",
                            "AER": "STANDARD",
                            "BankInterestRateType": "STANDARD"
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            ]
          },
          "metadata": {
            "responseId": "e689efd2-36e2-5d06-8b02-8ea0148c70b0",
            "correlationId": "108be79b-6728-5a4f-956a-da03dbe79d3a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Product": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the product."
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the product."
          },
          "AccountId": {
            "type": "string",
            "description": "Identifier for the associated account."
          },
          "SecondaryProductId": {
            "type": "string",
            "description": "Identifier for a secondary related product."
          },
          "type": {
            "type": "string",
            "description": "Type of the product (e.g., loan, mortgage)."
          },
          "MarketingStateId": {
            "type": "string",
            "description": "Identifier for the product's marketing state."
          },
          "OtherProductType": {
            "$ref": "#/components/schemas/OtherProductType"
          },
          "CreditInterest": {
            "$ref": "#/components/schemas/CreditInterest"
          }
        },
        "description": "Schema representing an individual product."
      },
      "OtherProductType": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string",
            "description": "Name of the alternative product."
          },
          "Description": {
            "type": "string",
            "description": "Description of the alternative product."
          },
          "ProductDetails": {
            "$ref": "#/components/schemas/ProductDetails"
          }
        },
        "description": "Details about an alternative product type."
      },
      "ProductDetails": {
        "type": "object",
        "properties": {
          "Segment": {
            "type": "array",
            "description": "Segments associated with the product.",
            "items": {
              "type": "string"
            }
          },
          "FeeFreeLength": {
            "type": "integer",
            "description": "The duration of fee-free period.",
            "format": "int32"
          },
          "FeeFreeLengthPeriod": {
            "type": "string",
            "description": "The period unit for the fee-free length (e.g., months, years)."
          },
          "MonthlyMaximumCharge": {
            "type": "string",
            "description": "Maximum charge that can be incurred monthly."
          },
          "Notes": {
            "type": "array",
            "description": "Additional notes related to the product.",
            "items": {
              "type": "string"
            }
          },
          "OtherSegment": {
            "$ref": "#/components/schemas/OtherSegment"
          }
        },
        "description": "Detailed attributes of a product."
      },
      "OtherSegment": {
        "type": "object",
        "properties": {
          "Code": {
            "type": "string",
            "description": "Code for the other segment."
          },
          "Name": {
            "type": "string",
            "description": "Name of the other segment."
          },
          "Description": {
            "type": "string",
            "description": "Description of the other segment."
          }
        },
        "description": "Details of an alternative segment."
      },
      "CreditInterest": {
        "type": "object",
        "properties": {
          "TierBandSet": {
            "type": "array",
            "description": "Set of tier bands associated with credit interest.",
            "items": {
              "$ref": "#/components/schemas/TierBand"
            }
          }
        },
        "description": "Details regarding credit interest for the product."
      },
      "TierBand": {
        "type": "object",
        "properties": {
          "TierBandMethod": {
            "type": "string",
            "description": "Method associated with the tier band."
          },
          "CalculationMethod": {
            "type": "string",
            "description": "Method used for calculation of interest."
          },
          "Destination": {
            "type": "string",
            "description": "Destination related to this tier band."
          },
          "Notes": {
            "type": "array",
            "description": "Miscellaneous notes on the tier band.",
            "items": {
              "type": "string"
            }
          },
          "OtherCalculationMethod": {
            "$ref": "#/components/schemas/OtherCalculationMethod"
          },
          "OtherDestination": {
            "$ref": "#/components/schemas/OtherDestination"
          },
          "TierBand": {
            "type": "array",
            "description": "Details of each tier within the band.",
            "items": {
              "$ref": "#/components/schemas/TierDetails"
            }
          }
        },
        "description": "Details for each tier band in the credit interest."
      },
      "OtherCalculationMethod": {
        "type": "object",
        "properties": {
          "Code": {
            "type": "string",
            "description": "Code for the other calculation method."
          },
          "Name": {
            "type": "string",
            "description": "Name of the other calculation method."
          },
          "Description": {
            "type": "string",
            "description": "Description of the other calculation method."
          }
        },
        "description": "Alternative calculation method details."
      },
      "OtherDestination": {
        "type": "object",
        "properties": {
          "Code": {
            "type": "string",
            "description": "Code for the other destination."
          },
          "Name": {
            "type": "string",
            "description": "Name of the other destination."
          },
          "Description": {
            "type": "string",
            "description": "Description of the other destination."
          }
        },
        "description": "Alternative destination details."
      },
      "TierDetails": {
        "type": "object",
        "properties": {
          "Identification": {
            "type": "string",
            "description": "Unique identifier for the tier."
          },
          "TierValueMinimum": {
            "type": "string",
            "description": "Minimum value of the tier."
          },
          "TierValueMaximum": {
            "type": "string",
            "description": "Maximum value of the tier."
          },
          "CalculationFrequency": {
            "type": "string",
            "description": "Frequency at which interest is calculated."
          },
          "ApplicationFrequency": {
            "type": "string",
            "description": "Frequency at which the tier applies."
          },
          "DepositInterestAppliedCoverage": {
            "type": "string",
            "description": "Coverage type for deposit interest."
          },
          "FixedVariableInterestRateType": {
            "type": "string",
            "description": "Type of interest rate (fixed or variable)."
          },
          "AER": {
            "type": "string",
            "description": "Annual equivalent rate."
          },
          "BankInterestRateType": {
            "type": "string",
            "description": "Type of bank interest rate applicable."
          }
        },
        "description": "Details for each tier in a tier band."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-api-get-products"
        },
        "example": "accounts-api-get-products"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses JSON Web Tokens (JWT) for securing APIs. Clients are required to provide a bearer token in the authorization header of requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}