{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update P2m By Param1-spec",
    "description": "The Update P2M Webhook Endpoint API allows businesses to modify the configuration of a specific webhook endpoint identified by a parameter. This operation is essential for ensuring that webhook settings are aligned with current business needs and can adapt to changes in data handling or service integration. Developers typically use this API to update settings related to notification delivery, error handling, or payload structures. By enabling dynamic updates, this API supports efficient management of webhook interactions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/webhook-endpoints/{param1}": {
      "patch": {
        "tags": [
          "Webhook Management"
        ],
        "summary": "Update a specific webhook endpoint.",
        "description": "This operation allows you to update the details of a specific webhook endpoint identified by its unique resource ID. Provide the necessary updates in the request body to modify the existing webhook endpoint settings.",
        "operationId": "updateP2mByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the properties of the specified webhook endpoint identified by RES-100045. The payload should conform to the schema defined for the operations related to this endpoint.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateP2mByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateP2mByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateP2mByParam1Request": {
        "title": "Webhook Endpoint Update Request",
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "description": "The URL of the webhook endpoint.",
            "example": "https://example.com/resource"
          },
          "description": {
            "type": "string",
            "description": "A brief description of the webhook endpoint.",
            "example": "Customer banking request processed successfully"
          },
          "events": {
            "type": "array",
            "description": "A list of events that this webhook subscribes to.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "The name of the event.",
              "example": "user.created"
            }
          },
          "status": {
            "type": "string",
            "description": "The current status of the webhook endpoint.",
            "example": "ACTIVE"
          },
          "requestContext": {
            "description": "Context information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for updating a webhook endpoint.",
        "example": {
          "url": "https://example.com/resource",
          "description": "Customer banking request processed successfully",
          "events": [
            "STANDARD"
          ],
          "status": "ACTIVE",
          "requestContext": {
            "requestId": "ad6ba9aa-f3eb-5ebf-b178-21f1470c6ec0",
            "correlationId": "156b086a-97b2-5fa9-b239-8dbdd76cf5d3",
            "idempotencyKey": "531f72eb-4082-5634-86aa-86424d181690",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-380498"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "A correlation ID for tracking related requests.",
            "example": "corr-67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure idempotent operations.",
            "example": "idempotency-abc123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system initiating the request.",
            "example": "payment_gateway"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that originated the request.",
            "example": "web_app"
          },
          "channel": {
            "description": "The communication channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing context information about a request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "A unique identifier for the channel.",
            "example": "channel-101"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., 'SMS', 'Email').",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used for the request.",
            "example": "device-202"
          }
        },
        "description": "Schema representing details about the channel used for the request."
      },
      "UpdateP2mByParam1Response_200": {
        "title": "Webhook Endpoint Response",
        "type": "object",
        "properties": {
          "webhookEndpointId": {
            "type": "string",
            "description": "The unique identifier for the webhook endpoint.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "The unique identifier for the merchant.",
            "example": "MER-601318"
          },
          "url": {
            "type": "string",
            "description": "The URL to which the webhook notifications are sent.",
            "example": "https://example.com/resource"
          },
          "description": {
            "type": "string",
            "description": "A brief description of the webhook endpoint.",
            "example": "Customer banking request processed successfully"
          },
          "events": {
            "type": "array",
            "description": "A list of events that trigger webhook notifications.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "An event type for which the webhook is configured.",
              "example": "string"
            }
          },
          "status": {
            "type": "string",
            "description": "The current status of the webhook endpoint (e.g., active, inactive).",
            "example": "ACTIVE"
          },
          "secretLastRotatedAt": {
            "type": "string",
            "description": "The timestamp when the webhook secret was last rotated.",
            "example": "2026-08-11T12:00:00Z"
          },
          "lastDeliveryAt": {
            "type": "string",
            "description": "The timestamp of the last delivery attempt to the webhook endpoint.",
            "example": "2026-08-11T12:00:00Z"
          },
          "lastDeliveryStatus": {
            "type": "string",
            "description": "The status of the last delivery attempt (e.g., success, failure).",
            "example": "ACTIVE"
          },
          "audit": {
            "$ref": "#/components/schemas/AuditInfo"
          },
          "metadata": {
            "$ref": "#/components/schemas/WebhookMetadata"
          }
        },
        "description": "This schema represents the response structure for the webhook endpoint operations.",
        "example": {
          "webhookEndpointId": "STANDARD",
          "merchantId": "MER-601318",
          "url": "https://example.com/resource",
          "description": "Customer banking request processed successfully",
          "events": [
            "STANDARD"
          ],
          "status": "ACTIVE",
          "secretLastRotatedAt": "2026-08-11T12:00:00Z",
          "lastDeliveryAt": "2026-08-11T12:00:00Z",
          "lastDeliveryStatus": "ACTIVE",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "f1221310-6d1b-5e22-929c-37bcf53d7393",
            "correlationId": "156b086a-97b2-5fa9-b239-8dbdd76cf5d3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AuditInfo": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the webhook endpoint was created.",
            "example": "2023-09-30T12:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "The user who created the webhook endpoint.",
            "example": "admin"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the webhook endpoint was last updated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "The user who last updated the webhook endpoint.",
            "example": "admin"
          },
          "version": {
            "type": "integer",
            "description": "The current version of the webhook endpoint.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Information about the audit trail for the webhook endpoint."
      },
      "WebhookMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "response-5678"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier that correlates this response with other operations.",
            "example": "correlation-1234"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-02T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the webhook processing took place.",
            "example": "US"
          }
        },
        "description": "Additional metadata related to the webhook response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that processed the request. This is useful for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-update-webhook-endpoint"
        },
        "example": "banking-p2m-openapi-update-webhook-endpoint"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is handling the request. This helps in identifying the originating application in a system with multiple applications.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, where a JSON Web Token (JWT) is passed in the Authorization header to authenticate requests. The token grants access to secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}