{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Deposit Lending Virtual Account-spec",
    "description": "This API facilitates the creation of virtual accounts for deposit lending services. It enables financial institutions and lenders to efficiently manage accounts for borrowers, enhancing support for loan processing and disbursement. Users can automate the setup of virtual accounts, allowing for quicker loan approvals and improved customer experiences. Typical consumers include banks, credit unions, and fintech companies seeking to streamline their lending operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/virtual-account": {
      "post": {
        "tags": [
          "Deposit Lending"
        ],
        "summary": "Create a virtual account for deposit lending.",
        "description": "This operation allows users to create a virtual account specifically for managing deposit lending transactions efficiently. It streamlines the process of tracking and handling deposit-related activities within the lending service.",
        "operationId": "createDepositLendingVirtualAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request to create a new virtual account for deposit lending. This request payload should include all the necessary parameters required to generate a virtual account in the system.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDepositLendingVirtualAccountRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully and ready for use.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateDepositLendingVirtualAccountResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateDepositLendingVirtualAccountRequest": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier of the customer.",
            "example": "CUST-682819"
          },
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the virtual account.",
            "example": "ACC-649839"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the product associated with this account.",
            "example": "CHK-PREMIUM-US"
          },
          "principal": {
            "description": "The principal amount and currency associated with the account.",
            "$ref": "#/components/schemas/Principal"
          },
          "termMonths": {
            "type": "integer",
            "description": "The term of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "The frequency of repayments (e.g., monthly, quarterly).",
            "example": "STANDARD"
          },
          "accountPurpose": {
            "type": "string",
            "description": "The purpose of the account (e.g., savings, investment).",
            "example": "STANDARD"
          },
          "statementFrequency": {
            "type": "string",
            "description": "The frequency at which statements are issued.",
            "example": "STANDARD"
          },
          "overdraftAllowed": {
            "type": "boolean",
            "description": "Indicates whether overdraft is allowed.",
            "example": true
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "example": {
          "customerId": "CUST-682819",
          "accountId": "ACC-649839",
          "productCode": "CHK-PREMIUM-US",
          "principal": {
            "amount": 100.0,
            "currency": "USD"
          },
          "termMonths": 1,
          "repaymentFrequency": "STANDARD",
          "accountPurpose": "STANDARD",
          "statementFrequency": "STANDARD",
          "overdraftAllowed": true,
          "requestContext": {
            "requestId": "fa23241e-64c4-5c54-ba42-740caf7d5006",
            "correlationId": "48556a6d-2f85-5942-8b03-3e71a2dfc490",
            "idempotencyKey": "4b69c99d-1bc1-5d1a-881d-53f550aace3e",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-249506"
            }
          }
        }
      },
      "Principal": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount of the principal.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency of the principal amount.",
            "example": "string"
          }
        },
        "description": "Represents the principal amount and its currency."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure the request is idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp of when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "string"
          },
          "channel": {
            "description": "Details about the request channel.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information regarding the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., mobile app, web).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the request.",
            "example": "string"
          }
        },
        "description": "Information about the channel through which the request was initiated."
      },
      "CreateDepositLendingVirtualAccountResponse_201": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-798881"
          },
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the virtual account.",
            "example": "ACC-768333"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the product associated with the account.",
            "example": "CHK-PREMIUM-US"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource associated with this operation.",
            "example": "RES-508813"
          },
          "status": {
            "type": "string",
            "description": "The current status of the account creation process.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the account was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the account creation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for creating a virtual account in the deposit lending service.",
        "example": {
          "customerId": "CUST-798881",
          "accountId": "ACC-768333",
          "productCode": "CHK-PREMIUM-US",
          "resourceId": "RES-508813",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "4a8650ad-3592-50ad-9f6b-95f73d425eed",
            "correlationId": "48556a6d-2f85-5942-8b03-3e71a2dfc490",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "resp_456xyz"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to correlate multiple requests and responses.",
            "example": "corr_789mno"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-10-01T12:00:01Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request took place.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata related to the response of account creation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "virtual-account-create-virtual-account"
        },
        "example": "virtual-account-create-virtual-account"
      },
      "X-Runtime-App": {
        "description": "The name of the application processing this request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using JSON Web Tokens (JWT) where the client sends the token in the Authorization header of the request. This allows secure access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}