{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Employee Data Retrieval API",
    "description": "The Employee Data Retrieval API facilitates access to comprehensive employee data for banking and financial services. It allows users to retrieve vital information such as employment status, personal details, and job roles, essential for HR decision-making and reporting. This API is particularly useful for HR professionals and system integrators who require seamless access to employee records. By utilizing this API, organizations can enhance their HR processes and ensure accurate data usage across various applications.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/employee-data-management": {
      "get": {
        "tags": [
          "Employee Management"
        ],
        "summary": "Retrieve employee data management details.",
        "description": "This endpoint allows the user to fetch comprehensive details regarding employee data management within the human resource management system. It serves as a key resource for understanding employee-related information and functions.",
        "operationId": "getEmployeeData",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request is used to retrieve employee data from the human resource management system. It allows clients to specify criteria for querying employee records.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetEmployeeDataRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful, and employee data is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetEmployeeDataResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetEmployeeDataRequest": {
        "type": "string",
        "description": "A request body expected for the Employee Data Management GET operation in the Human Resource Management system. This is typically a placeholder or a simple string, indicating minimal data requirements.",
        "example": "{}"
      },
      "GetEmployeeDataResponse_200": {
        "title": "Employee Data Management Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of employee records.",
            "example": [
              {
                "employeeId": "EMP-989182",
                "assignmentId": "STANDARD",
                "departmentId": "STANDARD",
                "effectiveDate": "2026-09-15",
                "countryCode": "US",
                "employmentType": "STANDARD",
                "managerId": "STANDARD",
                "workLocation": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Employee"
            }
          },
          "pagination": {
            "description": "Contains pagination details for the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the employee records.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Contains metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response format for employee data management operations, specifically for the GET request. It includes a list of employee items, pagination details, sorting information, and metadata about the response.",
        "example": {
          "items": [
            {
              "employeeId": "EMP-989182",
              "assignmentId": "STANDARD",
              "departmentId": "STANDARD",
              "effectiveDate": "2026-09-15",
              "countryCode": "US",
              "employmentType": "STANDARD",
              "managerId": "STANDARD",
              "workLocation": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "1fc89736-b7e8-5ce3-adea-40c8cc9c07e0",
            "correlationId": "5c359ccb-7138-56f7-9252-05bb11ff6e1f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Employee": {
        "title": "Employee",
        "type": "object",
        "properties": {
          "employeeId": {
            "type": "string",
            "description": "Unique identifier for the employee.",
            "example": "E123"
          },
          "assignmentId": {
            "type": "string",
            "description": "Identifier for the employee's assignment.",
            "example": "A456"
          },
          "departmentId": {
            "type": "string",
            "description": "Identifier for the department to which the employee belongs.",
            "example": "D789"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date when the employee record becomes effective.",
            "example": "2023-01-01"
          },
          "countryCode": {
            "type": "string",
            "description": "The country code where the employee is located.",
            "example": "US"
          },
          "employmentType": {
            "type": "string",
            "description": "Type of employment such as Full-time or Part-time.",
            "example": "Full-time"
          },
          "managerId": {
            "type": "string",
            "description": "Identifier for the employee's manager.",
            "example": "M101"
          },
          "workLocation": {
            "type": "string",
            "description": "The location where the employee works.",
            "example": "Remote"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the employee record.",
            "example": "Active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the employee record was last updated.",
            "example": "2023-10-01"
          }
        },
        "description": "Represents an employee record with relevant details."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32"
          }
        },
        "description": "This schema represents pagination information for a list response."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "R123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracing requests across services.",
            "example": "C789123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "NA"
          }
        },
        "description": "Contains metadata pertaining to the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that was called. This identifier can be used for tracking and logging purpose.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "employee-data-management-search-employee-data-management"
        },
        "example": "employee-data-management-search-employee-data-management"
      },
      "X-Runtime-App": {
        "description": "This header indicates the name of the application that is processing the request. It helps in identifying the source of the API call.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses HTTP Bearer authentication, specifically tailored for JSON Web Tokens (JWT). It is commonly used to authorize users accessing the API by verifying the validity of the provided JWT.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}