{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Advertising Insights API",
    "description": "The Advertising Insights API provides detailed analytics and reporting tools for marketing campaigns. Users can access data on advertising performance, audience engagement, and campaign effectiveness. This API is designed for marketing professionals seeking to optimize their advertising strategies through data-driven insights. Typical consumers include digital marketers and business analysts looking to enhance their marketing efforts. Utilize this API to track and analyze the success of various advertising initiatives in the banking sector.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/marketing/advertising": {
      "get": {
        "tags": [
          "Marketing"
        ],
        "summary": "Retrieve marketing advertising data.",
        "description": "This endpoint allows you to fetch detailed information regarding marketing advertising activities, including metrics and performance analytics. Use this to analyze and enhance your advertising strategies.",
        "operationId": "getMarketingAdvertising",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve advertising data related to marketing. The request must be properly formatted in JSON according to the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMarketingAdvertisingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of marketing advertising data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMarketingAdvertisingResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetMarketingAdvertisingRequest": {
        "type": "string",
        "description": "This schema represents the body of the request for the GET operation in the advertising marketing operations API.",
        "example": "{}"
      },
      "GetMarketingAdvertisingResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of advertising campaign items.",
            "example": [
              {
                "campaignId": "STANDARD",
                "targetSegmentId": "STANDARD",
                "channelMix": [
                  "STANDARD"
                ],
                "budget": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "startDate": "2026-09-15",
                "endDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/AdvertisingCampaignItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting order of the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the advertising operations GET request.",
        "example": {
          "items": [
            {
              "campaignId": "STANDARD",
              "targetSegmentId": "STANDARD",
              "channelMix": [
                "STANDARD"
              ],
              "budget": {
                "amount": 100.0,
                "currency": "USD"
              },
              "startDate": "2026-09-15",
              "endDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "0f6cd51d-67e7-581a-8446-70df83155720",
            "correlationId": "fac44f9f-e52d-586d-947e-fc8dd8f0fc29",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AdvertisingCampaignItem": {
        "type": "object",
        "properties": {
          "campaignId": {
            "type": "string",
            "description": "Unique identifier for the advertising campaign."
          },
          "targetSegmentId": {
            "type": "string",
            "description": "Identifier for the target audience segment."
          },
          "channelMix": {
            "type": "array",
            "description": "List of channels used in the advertising campaign.",
            "items": {
              "type": "string",
              "description": "Individual advertising channel."
            }
          },
          "budget": {
            "$ref": "#/components/schemas/Budget"
          },
          "startDate": {
            "type": "string",
            "description": "Start date of the advertising campaign in ISO format."
          },
          "endDate": {
            "type": "string",
            "description": "End date of the advertising campaign in ISO format."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the advertising campaign record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the campaign."
          }
        },
        "description": "Detailed information regarding a single advertising campaign item."
      },
      "Budget": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Amount of money allocated to the advertising campaign."
          },
          "currency": {
            "type": "string",
            "description": "Currency used for the budget amount."
          }
        },
        "description": "Budget details for an advertising campaign."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the paginated response.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32"
          }
        },
        "description": "Pagination information for list responses."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracking the correlation of requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the processing occurred."
          }
        },
        "description": "Metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "advertising-search-advertising"
        },
        "example": "advertising-search-advertising"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication scheme. Users must provide a valid JSON Web Token (JWT) as a bearer token to authenticate their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}