{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Replace Enterprise Service Fixed Asset Register-spec",
    "description": "The Fixed Asset Register Update API enables organizations to modify existing entries in their fixed asset register efficiently. This endpoint supports the updating of asset details including valuation, location, and associated financial data. It's intended for financial teams and asset managers who require accurate and up-to-date asset management records. By integrating this API, businesses can streamline asset maintenance processes and ensure compliance with accounting standards.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/enterprise-services/fixed-asset-register": {
      "put": {
        "tags": [
          "Fixed Asset Management"
        ],
        "summary": "Updates an existing fixed asset record.",
        "description": "This endpoint allows users to update the details of a fixed asset within the register. All necessary fields must be included in the request to successfully modify an asset's information.",
        "operationId": "replaceEnterpriseServiceFixedAssetRegister",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the fixed asset register within the enterprise services. It requires a JSON payload that conforms to the defined schema, which includes various properties relevant to the fixed asset information. Please ensure that all required fields are populated appropriately.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceEnterpriseServiceFixedAssetRegisterRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceEnterpriseServiceFixedAssetRegisterResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ReplaceEnterpriseServiceFixedAssetRegisterRequest": {
        "title": "Fixed Asset Register Update Request",
        "type": "object",
        "properties": {
          "assetId": {
            "type": "string",
            "description": "The unique identifier for the asset.",
            "example": "STANDARD"
          },
          "assetClass": {
            "type": "string",
            "description": "The classification of the asset.",
            "example": "STANDARD"
          },
          "acquisitionDate": {
            "type": "string",
            "description": "The date when the asset was acquired.",
            "example": "2026-09-15"
          },
          "acquisitionCost": {
            "$ref": "#/components/schemas/AcquisitionCost"
          },
          "usefulLifeMonths": {
            "type": "integer",
            "description": "The useful life of the asset in months.",
            "format": "int32",
            "example": 1
          },
          "costCenter": {
            "type": "string",
            "description": "The cost center associated with the asset.",
            "example": "STANDARD"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for updating a fixed asset in the asset register.",
        "example": {
          "assetId": "STANDARD",
          "assetClass": "STANDARD",
          "acquisitionDate": "2026-09-15",
          "acquisitionCost": {
            "amount": 100.0,
            "currency": "USD"
          },
          "usefulLifeMonths": 1,
          "costCenter": "STANDARD",
          "requestContext": {
            "requestId": "646125b8-01fc-552b-9ef1-01bc04737c6d",
            "correlationId": "bb5d610f-ac2f-5596-a63b-21045e7d91aa",
            "idempotencyKey": "18c1c79d-5714-5f92-a847-0c976ae29201",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-482579"
            }
          }
        }
      },
      "AcquisitionCost": {
        "title": "Acquisition Cost",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The monetary amount for the acquisition cost.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the acquisition cost is denominated.",
            "example": "string"
          }
        },
        "description": "Schema representing the acquisition cost details of the asset."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema containing contextual information about the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device used in the request.",
            "example": "string"
          }
        },
        "description": "Schema representing the communication channel information of the request."
      },
      "ReplaceEnterpriseServiceFixedAssetRegisterResponse_200": {
        "type": "object",
        "properties": {
          "assetId": {
            "type": "string",
            "description": "A unique identifier for the asset.",
            "example": "STANDARD"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the asset.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The current status of the asset.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the asset was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/AssetMetadata"
          }
        },
        "description": "Response schema for updating a fixed asset in the asset register.",
        "example": {
          "assetId": "STANDARD",
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "329d78c8-8d07-5946-a156-584a03fd8cae",
            "correlationId": "bb5d610f-ac2f-5596-a63b-21045e7d91aa",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AssetMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier used to track the request across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographical region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata information related to the asset update operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint corresponding to the fixed asset register operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "fixed-asset-register-upsert-fixed-asset-register"
        },
        "example": "fixed-asset-register-upsert-fixed-asset-register"
      },
      "X-Runtime-App": {
        "description": "Indicates the runtime application responsible for handling the request within the enterprise services architecture.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Token for authorization. The token should be a JSON Web Token (JWT) format, which allows access to secured endpoints. Ensure the token is included in the 'Authorization' header of the request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}