{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Archive Services API",
    "description": "The Archive Services API provides access to archived banking documents, enabling users to retrieve important records efficiently. This endpoint allows consumers, such as financial institutions and third-party developers, to search and access specific archived documents identified by parameters. Typical use cases include regulatory compliance, customer inquiries, and historical reviews. By leveraging this API, organizations can streamline document management processes and improve accessibility to vital information.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/documents/archive-services/{param1}": {
      "get": {
        "tags": [
          "Document Management"
        ],
        "summary": "Retrieve archived document service details",
        "description": "This endpoint allows you to fetch the details of a specific archived document service by its ID. Use this to retrieve comprehensive information pertaining to the service, including metadata and attributes.",
        "operationId": "getDocumentArchiveServiceById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the archive service details for the document identified by RES-100045. It accepts JSON formatted data, which includes any necessary filters or additional information that might be required to process the archive request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetDocumentArchiveServiceByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and the document data has been retrieved.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDocumentArchiveServiceByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetDocumentArchiveServiceByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation in the archive services API, specifically for the RES-100045 endpoint.",
        "example": "{}"
      },
      "GetDocumentArchiveServiceByIdResponse_200": {
        "title": "Document Response Schema",
        "type": "object",
        "properties": {
          "documentId": {
            "type": "string",
            "description": "Unique identifier for the document.",
            "example": "DOC-620427"
          },
          "documentType": {
            "type": "string",
            "description": "Type of the document (e.g., report, invoice).",
            "example": "STANDARD"
          },
          "classification": {
            "type": "string",
            "description": "Classification category for the document.",
            "example": "STANDARD"
          },
          "retentionClass": {
            "type": "string",
            "description": "Retention class assigned to the document.",
            "example": "STANDARD"
          },
          "ownerId": {
            "type": "string",
            "description": "Identifier of the owner associated with the document.",
            "example": "STANDARD"
          },
          "fileName": {
            "type": "string",
            "description": "Name of the file associated with the document.",
            "example": "Northstar Banking Service"
          },
          "mediaType": {
            "type": "string",
            "description": "MIME type of the document.",
            "example": "STANDARD"
          },
          "checksumSha256": {
            "type": "string",
            "description": "SHA256 checksum for file integrity validation.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the document record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the document.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update made to the document.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata associated with the document.",
            "$ref": "#/components/schemas/DocumentMetadata"
          }
        },
        "description": "Schema representing the response for a document retrieval operation.",
        "example": {
          "documentId": "DOC-620427",
          "documentType": "STANDARD",
          "classification": "STANDARD",
          "retentionClass": "STANDARD",
          "ownerId": "STANDARD",
          "fileName": "Northstar Banking Service",
          "mediaType": "STANDARD",
          "checksumSha256": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "c751b66e-77ce-5196-a623-d6b2ad7337eb",
            "correlationId": "7f2c7e7c-1202-5f0f-9689-42737ce13b7d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "DocumentMetadata": {
        "title": "Document Metadata Schema",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracing related requests.",
            "example": "corr-456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the document was generated.",
            "example": "2023-10-15T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the document was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Schema representing the metadata associated with a document."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "archive-services-get-archive-services"
        },
        "example": "archive-services-get-archive-services"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Token for authentication, typically in the form of a JSON Web Token (JWT). Clients must include the Bearer token in the Authorization header when making requests to the API.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}