{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Enterprise Service Fixed Asset Registers-spec",
    "description": "The Enterprise Service Fixed Asset Registers API enables users to access and retrieve vital information about fixed asset registers within an enterprise banking system. This API provides detailed listings of fixed assets, facilitating effective management and oversight. It is particularly useful for financial analysts, asset managers, and accounting professionals who need to track and report on fixed asset performance. With this service, organizations can ensure accurate record-keeping and enhance their financial reporting capabilities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/enterprise-services/fixed-asset-register": {
      "get": {
        "tags": [],
        "summary": "Retrieve the fixed asset register.",
        "description": "This endpoint allows users to retrieve the complete fixed asset register, providing details about all recorded fixed assets, their values, and relevant metadata. It is useful for auditing and managing asset inventory.",
        "operationId": "listEnterpriseServiceFixedAssetRegisters",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving entries from the fixed asset register. This should contain necessary parameters to filter or specify the data required.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListEnterpriseServiceFixedAssetRegistersRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the fixed asset register.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListEnterpriseServiceFixedAssetRegistersResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListEnterpriseServiceFixedAssetRegistersRequest": {
        "title": "Fixed Asset Register GET Request Body",
        "type": "string",
        "description": "This schema defines the request body for the GET operation on the Fixed Asset Register service.",
        "example": "{}"
      },
      "ListEnterpriseServiceFixedAssetRegistersResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of fixed asset items.",
            "example": [
              {
                "assetId": "STANDARD",
                "assetClass": "STANDARD",
                "acquisitionDate": "2026-09-15",
                "acquisitionCost": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "usefulLifeMonths": 1,
                "costCenter": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/AssetItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting criteria for the assets.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the Fixed Asset Register GET operation, containing a collection of asset items and pagination metadata.",
        "example": {
          "items": [
            {
              "assetId": "STANDARD",
              "assetClass": "STANDARD",
              "acquisitionDate": "2026-09-15",
              "acquisitionCost": {
                "amount": 100.0,
                "currency": "USD"
              },
              "usefulLifeMonths": 1,
              "costCenter": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "a65cbf33-78d1-5362-9692-329bcd2f19f5",
            "correlationId": "46d23d5c-e9ac-5c6d-8872-e454d0de59ae",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AssetItem": {
        "type": "object",
        "properties": {
          "assetId": {
            "type": "string",
            "description": "Unique identifier of the asset."
          },
          "assetClass": {
            "type": "string",
            "description": "Classification of the asset."
          },
          "acquisitionDate": {
            "type": "string",
            "description": "Date when the asset was acquired."
          },
          "acquisitionCost": {
            "$ref": "#/components/schemas/AcquisitionCost"
          },
          "usefulLifeMonths": {
            "type": "integer",
            "description": "The estimated useful life of the asset in months.",
            "format": "int32"
          },
          "costCenter": {
            "type": "string",
            "description": "Cost center associated with the asset."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the asset record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the asset record."
          }
        },
        "description": "Represents a single fixed asset item in the register."
      },
      "AcquisitionCost": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The total amount spent to acquire the asset."
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the acquisition cost is denominated."
          }
        },
        "description": "Details of the acquisition cost of an asset."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Metadata for pagination of asset items."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place."
          }
        },
        "description": "Additional information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed, which helps in tracking requests and responses.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "fixed-asset-register-search-fixed-asset-register"
        },
        "example": "fixed-asset-register-search-fixed-asset-register"
      },
      "X-Runtime-App": {
        "description": "Indicates the application runtime environment that processed the request, providing context for the handling of the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method, which involves the use of JSON Web Tokens (JWT) for securely transmitting information. This allows users to authenticate and authorize access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}