{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_User Type Management API",
    "description": "The User Type Management API facilitates the creation of user types within the foresight analytics framework. This endpoint allows businesses to define and manage distinct user profiles, enabling tailored analytics and insights. It serves primarily businesses looking to optimize user experience and engagement through customized data segmentation. Typical users include data analysts, product managers, and marketing teams aiming to maximize the effectiveness of their analytics strategies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/decisioning/reports/foresight-analytics/usertypes/{usertypeId}": {
      "post": {
        "tags": [
          "Foresight Analytics"
        ],
        "summary": "Create a new user type for Foresight Analytics report.",
        "description": "This endpoint allows you to create a new user type specifically for the Foresight Analytics reporting system. Providing the necessary data in the request body will register the user type under the given identifier.",
        "operationId": "postForesightAnalyticsUserTypeRES100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/usertypeId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create or update user types within the foresight analytics report for the specified resource. The data provided should adhere to the defined schema for effective processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostForesightAnalyticsUserTypeRES100045Request"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted and is being processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostForesightAnalyticsUserTypeRES100045Response_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PostForesightAnalyticsUserTypeRES100045Request": {
        "type": "object",
        "properties": {
          "analyticsReportData": {
            "description": "Detailed data related to the analytics report.",
            "$ref": "#/components/schemas/AnalyticsReportData"
          },
          "accountIds": {
            "type": "string",
            "description": "Comma-separated list of account IDs associated with the request.",
            "example": "ACC-160191"
          },
          "fromDate": {
            "type": "integer",
            "description": "Start date for the analytics report in UNIX timestamp format.",
            "format": "int32",
            "example": 1
          },
          "customerId": {
            "type": "integer",
            "description": "ID of the customer for whom the report is generated.",
            "format": "int32",
            "example": 1
          },
          "externalCustomerId": {
            "type": "string",
            "description": "External identifier for the customer.",
            "example": "CUST-460832"
          },
          "requestContext": {
            "description": "Context about the request including identifiers and source details.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for creating an analytics report, containing user data and parameters.",
        "example": {
          "analyticsReportData": {
            "forCraPurpose": true,
            "segments": {
              "geolocation": [
                {
                  "label": "STANDARD",
                  "value": "STANDARD"
                }
              ]
            },
            "analytics": [
              "STANDARD"
            ],
            "timeIntervalTypes": [
              "STANDARD"
            ],
            "income": 1,
            "age": 1
          },
          "accountIds": "ACC-160191",
          "fromDate": 1,
          "customerId": 1,
          "externalCustomerId": "CUST-460832",
          "requestContext": {
            "requestId": "970c9def-6087-5814-bf6c-9c2d4aa356b9",
            "correlationId": "07d88a07-50bb-53f4-8731-6d539b142549",
            "idempotencyKey": "009d14fd-cafa-5852-a362-46d4de6178c3",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-972748"
            }
          }
        }
      },
      "AnalyticsReportData": {
        "type": "object",
        "properties": {
          "forCraPurpose": {
            "type": "boolean",
            "description": "Indicates if the data is for CRA purposes.",
            "example": false
          },
          "segments": {
            "description": "Segments related to the analytics report.",
            "$ref": "#/components/schemas/Segments"
          },
          "analytics": {
            "type": "array",
            "description": "List of analytics applied.",
            "items": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "description": "Schema for analytics report data constraints."
      },
      "Segments": {
        "type": "object",
        "properties": {
          "geolocation": {
            "type": "array",
            "description": "Array of geolocation objects.",
            "items": {
              "$ref": "#/components/schemas/Geolocation"
            }
          }
        },
        "description": "Schema for describing segments within analytics."
      },
      "GeolocationSegment": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "description": "The label for the geolocation segment.",
            "example": "Region"
          },
          "value": {
            "type": "string",
            "description": "The value corresponding to the geolocation segment.",
            "example": "North America"
          }
        },
        "description": "Represents a geolocation segment with its label and value."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests across systems.",
            "example": "corr-001"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the request is idempotent.",
            "example": "key-001"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2021-10-18T08:30:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system from which the request originated.",
            "example": "system-A"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that made the request.",
            "example": "app-A"
          },
          "channel": {
            "description": "Describes the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information regarding the request such as identifiers and source system."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the communication channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the communication channel (e.g., API, Website).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the request.",
            "example": "device-001"
          }
        },
        "description": "Details about the channel used for the request."
      },
      "PostForesightAnalyticsUserTypeRES100045Response_202": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the report.",
            "example": "STANDARD"
          },
          "customerType": {
            "type": "string",
            "description": "Type of the customer involved in the report.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "integer",
            "description": "Identifier for the customer.",
            "format": "int32",
            "example": 1
          },
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "13e349bc-4227-50c3-95d9-902f854bdce9"
          },
          "requesterName": {
            "type": "string",
            "description": "Full name of the requester.",
            "example": "Northstar Banking Service"
          },
          "endUser": {
            "description": "Details about the end user.",
            "$ref": "#/components/schemas/EndUser"
          },
          "createdDate": {
            "type": "integer",
            "description": "Date when the report was created, represented as an integer.",
            "format": "int32",
            "example": 1
          },
          "title": {
            "type": "string",
            "description": "Title of the report.",
            "example": "Banking operation completed"
          },
          "consumerId": {
            "type": "string",
            "description": "Unique identifier for the consumer.",
            "example": "STANDARD"
          },
          "consumerSsn": {
            "type": "string",
            "description": "Social Security Number of the consumer.",
            "example": "STANDARD"
          },
          "consumerDetails": {
            "description": "Details about the consumer.",
            "$ref": "#/components/schemas/ConsumerDetails"
          },
          "disputeStatement": {
            "type": "string",
            "description": "Statement regarding any disputes associated with the report.",
            "example": "STANDARD"
          },
          "type": {
            "type": "string",
            "description": "The type of report.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the report.",
            "example": "ACTIVE"
          },
          "constraints": {
            "description": "Constraints defined for the analytics report.",
            "$ref": "#/components/schemas/Constraints"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema for the response of the foresight analytics user types operation.",
        "example": {
          "id": "STANDARD",
          "customerType": "STANDARD",
          "customerId": 1,
          "requestId": "13e349bc-4227-50c3-95d9-902f854bdce9",
          "requesterName": "Northstar Banking Service",
          "endUser": {
            "name": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "email": "olivia.bennett@northstar.example",
            "url": "https://banking.northstar.example/callbacks/status"
          },
          "createdDate": 1,
          "title": "Banking operation completed",
          "consumerId": "STANDARD",
          "consumerSsn": "STANDARD",
          "consumerDetails": {
            "id": "STANDARD",
            "firstName": "Northstar Banking Service",
            "middleName": "Northstar Banking Service",
            "lastName": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "ssn": "STANDARD",
            "email": "olivia.bennett@northstar.example"
          },
          "disputeStatement": "STANDARD",
          "type": "STANDARD",
          "status": "ACTIVE",
          "constraints": {
            "analyticsReportData": {
              "forCraPurpose": true,
              "segments": {
                "geolocation": [
                  {
                    "label": "STANDARD",
                    "value": "STANDARD"
                  }
                ]
              },
              "analytics": [
                "STANDARD"
              ]
            }
          },
          "metadata": {
            "responseId": "a92c58c1-3ac6-5c89-9857-1678ea4c2722",
            "correlationId": "07d88a07-50bb-53f4-8731-6d539b142549",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EndUser": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Full name of the end user.",
            "example": "string"
          },
          "address": {
            "type": "string",
            "description": "Street address of the end user.",
            "example": "string"
          },
          "city": {
            "type": "string",
            "description": "City where the end user resides.",
            "example": "string"
          },
          "state": {
            "type": "string",
            "description": "State where the end user resides.",
            "example": "string"
          },
          "zip": {
            "type": "string",
            "description": "ZIP code for the end user's address.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the end user.",
            "example": "string"
          },
          "email": {
            "type": "string",
            "description": "Email address of the end user.",
            "example": "string"
          },
          "url": {
            "type": "string",
            "description": "Website URL associated with the end user.",
            "example": "string"
          }
        },
        "description": "Schema for end user details."
      },
      "ConsumerDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the consumer.",
            "example": "string"
          },
          "firstName": {
            "type": "string",
            "description": "First name of the consumer.",
            "example": "string"
          },
          "middleName": {
            "type": "string",
            "description": "Middle name of the consumer.",
            "example": "string"
          },
          "lastName": {
            "type": "string",
            "description": "Last name of the consumer.",
            "example": "string"
          },
          "address": {
            "type": "string",
            "description": "Street address of the consumer.",
            "example": "string"
          },
          "city": {
            "type": "string",
            "description": "City where the consumer resides.",
            "example": "string"
          },
          "state": {
            "type": "string",
            "description": "State where the consumer resides.",
            "example": "string"
          },
          "zip": {
            "type": "string",
            "description": "ZIP code for the consumer's address.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the consumer.",
            "example": "string"
          },
          "ssn": {
            "type": "string",
            "description": "Social Security Number of the consumer.",
            "example": "string"
          },
          "email": {
            "type": "string",
            "description": "Email address of the consumer.",
            "example": "string"
          }
        },
        "description": "Schema for consumer details."
      },
      "Constraints": {
        "type": "object",
        "properties": {
          "analyticsReportData": {
            "description": "Analytics report data constraints.",
            "$ref": "#/components/schemas/AnalyticsReportData"
          }
        },
        "description": "Schema for defining constraints related to analytics."
      },
      "Geolocation": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "description": "Label associated with the geolocation.",
            "example": "string"
          },
          "value": {
            "type": "string",
            "description": "Value representing the geolocation.",
            "example": "string"
          }
        },
        "description": "Schema for a geolocation entry."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Schema for response metadata."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "usertypeId": {
        "name": "usertypeId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-generate-foresight-analytics-first-third-party-non-cra-report"
        },
        "example": "open-finance-api-generate-foresight-analytics-first-third-party-non-cra-report"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that utilizes a Bearer token to grant access to secured resources. The token is typically a JSON Web Token (JWT) which includes encoded information used to authenticate and verify user identity.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}