{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_International Standing Orders Inquiry API",
    "description": "The International Standing Orders Inquiry API enables users to retrieve details about international standing orders efficiently. This endpoint allows financial institutions and developers to access specific information regarding standing orders set by their customers. By utilizing this API, banks can streamline operations related to payment instructions for cross-border transactions. Typical consumers include banking software providers and financial service applications that require detailed inquiry capabilities for managing international payments.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/international-standing-orders/{param1}": {
      "get": {
        "tags": [
          "International Standing Orders"
        ],
        "summary": "Retrieve specific international standing order details.",
        "description": "Fetches detailed information about a specific international standing order based on the given payment ID. This endpoint allows users to easily access the relevant data they need to manage their transactions effectively.",
        "operationId": "getInternationalStandingOrderById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the details of an international standing order identified by the specified payment reference. Ensure that the request contains all necessary information to successfully obtain the standing order details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetInternationalStandingOrderByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was completed successfully, returning the requested data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetInternationalStandingOrderByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetInternationalStandingOrderByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on international standing orders. It is expected to be a string format.",
        "example": "{}"
      },
      "GetInternationalStandingOrderByIdResponse_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "orderId": {
                "type": "string",
                "description": "Unique identifier for the order.",
                "example": "string"
              },
              "ConsentId": {
                "type": "string",
                "description": "Unique identifier for the consent related to the order.",
                "example": "string"
              },
              "CreationDateTime": {
                "type": "string",
                "description": "Date and time when the order was created.",
                "example": "string"
              },
              "Status": {
                "type": "string",
                "description": "Current status of the standing order.",
                "example": "string"
              },
              "StatusUpdateDateTime": {
                "type": "string",
                "description": "Date and time when the status was last updated.",
                "example": "string"
              },
              "StatusReason": {
                "type": "array",
                "description": "List of reasons for the current status of the standing order.",
                "example": [
                  {
                    "code": "string",
                    "description": "string",
                    "Path": "string"
                  }
                ],
                "items": {
                  "$ref": "#/components/schemas/StatusReasonType"
                }
              },
              "Refund": {
                "type": "object",
                "$ref": "#/components/schemas/RefundDetails"
              },
              "Charges": {
                "type": "array",
                "description": "List of charges applicable to the standing order.",
                "example": [
                  {
                    "ChargeBearer": "string",
                    "Type": "string",
                    "Amount": {
                      "Amount": "string",
                      "Currency": "string"
                    }
                  }
                ],
                "items": {
                  "$ref": "#/components/schemas/ChargeDetails"
                }
              },
              "Initiation": {
                "type": "object",
                "$ref": "#/components/schemas/InitiationDetails"
              }
            },
            "description": "Data related to the standing order.",
            "example": {
              "orderId": "ORD-517370",
              "ConsentId": "STANDARD",
              "CreationDateTime": "2026-09-15T14:30:00Z",
              "Status": "ACTIVE",
              "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
              "StatusReason": [
                {
                  "code": "SUCCESS",
                  "description": "Customer banking request processed successfully",
                  "Path": "STANDARD"
                }
              ],
              "Refund": {
                "Account": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "SecondaryIdentification": "STANDARD"
                }
              },
              "Charges": [
                {
                  "ChargeBearer": "STANDARD",
                  "Type": "STANDARD",
                  "Amount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  }
                }
              ],
              "Initiation": {
                "RemittanceInformation": {
                  "Structured": [
                    {
                      "ReferredDocumentInformation": [
                        {
                          "Code": "SUCCESS",
                          "Issuer": "STANDARD",
                          "Number": "STANDARD",
                          "RelatedDate": "2026-09-15",
                          "LineDetails": [
                            "STANDARD"
                          ]
                        }
                      ],
                      "ReferredDocumentAmount": "1250.75",
                      "CreditorReferenceInformation": {
                        "Code": "SUCCESS",
                        "Issuer": "STANDARD",
                        "Reference": "STANDARD"
                      },
                      "Invoicer": "STANDARD",
                      "Invoicee": "STANDARD",
                      "TaxRemittance": "STANDARD",
                      "AdditionalRemittanceInformation": [
                        "STANDARD"
                      ]
                    }
                  ],
                  "Unstructured": [
                    "STANDARD"
                  ]
                },
                "NumberOfPayments": "STANDARD",
                "ExtendedPurpose": "STANDARD",
                "ChargeBearer": "STANDARD",
                "CurrencyOfTransfer": "STANDARD",
                "DestinationCountryCode": "US"
              }
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "Correlation identifier for tracing requests.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the response was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the processing took place.",
                "example": "string"
              }
            },
            "description": "Metadata information related to the response.",
            "example": {
              "responseId": "215620af-7e0e-5ced-b445-8def8e365c25",
              "correlationId": "66ccfa18-fa40-53bc-9f45-391254536cba",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Schema representing the response for retrieving international standing orders.",
        "example": {
          "Data": {
            "orderId": "ORD-517370",
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "Status": "ACTIVE",
            "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
            "StatusReason": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "Path": "STANDARD"
              }
            ],
            "Refund": {
              "Account": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD"
              }
            },
            "Charges": [
              {
                "ChargeBearer": "STANDARD",
                "Type": "STANDARD",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            ],
            "Initiation": {
              "RemittanceInformation": {
                "Structured": [
                  {
                    "ReferredDocumentInformation": [
                      {
                        "Code": "SUCCESS",
                        "Issuer": "STANDARD",
                        "Number": "STANDARD",
                        "RelatedDate": "2026-09-15",
                        "LineDetails": [
                          "STANDARD"
                        ]
                      }
                    ],
                    "ReferredDocumentAmount": "1250.75",
                    "CreditorReferenceInformation": {
                      "Code": "SUCCESS",
                      "Issuer": "STANDARD",
                      "Reference": "STANDARD"
                    },
                    "Invoicer": "STANDARD",
                    "Invoicee": "STANDARD",
                    "TaxRemittance": "STANDARD",
                    "AdditionalRemittanceInformation": [
                      "STANDARD"
                    ]
                  }
                ],
                "Unstructured": [
                  "STANDARD"
                ]
              },
              "NumberOfPayments": "STANDARD",
              "ExtendedPurpose": "STANDARD",
              "ChargeBearer": "STANDARD",
              "CurrencyOfTransfer": "STANDARD",
              "DestinationCountryCode": "US"
            }
          },
          "metadata": {
            "responseId": "215620af-7e0e-5ced-b445-8def8e365c25",
            "correlationId": "66ccfa18-fa40-53bc-9f45-391254536cba",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "StatusReasonType": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "The code representing the status reason.",
            "example": "string"
          },
          "description": {
            "type": "string",
            "description": "Description of the status reason.",
            "example": "string"
          },
          "Path": {
            "type": "string",
            "description": "Additional path information related to the status reason.",
            "example": "string"
          }
        },
        "description": "Represents a status reason with a code and description."
      },
      "RefundDetails": {
        "type": "object",
        "properties": {
          "Account": {
            "type": "object",
            "properties": {
              "SchemeName": {
                "type": "string",
                "description": "Name of the scheme to which the account belongs.",
                "example": "string"
              },
              "Identification": {
                "type": "string",
                "description": "Unique identification for the account.",
                "example": "string"
              },
              "Name": {
                "type": "string",
                "description": "Name of the account holder.",
                "example": "string"
              },
              "SecondaryIdentification": {
                "type": "string",
                "description": "Secondary identification for the account.",
                "example": "string"
              }
            },
            "description": "Information about the account for refund."
          }
        },
        "description": "Details of the account associated with the refund."
      },
      "ChargeDetails": {
        "type": "object",
        "properties": {
          "ChargeBearer": {
            "type": "string",
            "description": "Indicates who bears the charge.",
            "example": "string"
          },
          "Type": {
            "type": "string",
            "description": "Type of charge.",
            "example": "string"
          },
          "Amount": {
            "type": "object",
            "properties": {
              "Amount": {
                "type": "string",
                "description": "The amount of the charge.",
                "example": "string"
              },
              "Currency": {
                "type": "string",
                "description": "The currency for the charge amount.",
                "example": "string"
              }
            },
            "description": "Amount details including the amount and currency."
          }
        },
        "description": "Details regarding a specific charge applicable to the standing order."
      },
      "InitiationDetails": {
        "type": "object",
        "properties": {
          "RemittanceInformation": {
            "type": "object",
            "properties": {
              "Structured": {
                "type": "array",
                "description": "Structured remittance information.",
                "items": {
                  "$ref": "#/components/schemas/StructuredRemittance"
                }
              },
              "Unstructured": {
                "type": "array",
                "description": "Unstructured remittance information.",
                "example": [
                  "string"
                ],
                "items": {
                  "type": "string"
                }
              }
            },
            "description": "Information related to remittances."
          },
          "NumberOfPayments": {
            "type": "string",
            "description": "Number of payments to be made.",
            "example": "string"
          },
          "ExtendedPurpose": {
            "type": "string",
            "description": "Extended purpose for which the initiation is made.",
            "example": "string"
          },
          "ChargeBearer": {
            "type": "string",
            "description": "Charge bearer for the initiation.",
            "example": "string"
          },
          "CurrencyOfTransfer": {
            "type": "string",
            "description": "Currency used for the transfer.",
            "example": "string"
          },
          "DestinationCountryCode": {
            "type": "string",
            "description": "Country code of the destination.",
            "example": "string"
          }
        },
        "description": "Details related to the initiation of the standing order."
      },
      "StructuredRemittance": {
        "type": "object",
        "properties": {
          "ReferredDocumentInformation": {
            "type": "array",
            "description": "Information regarding referred documents.",
            "items": {
              "type": "object",
              "properties": {
                "Code": {
                  "type": "string",
                  "description": "Code of the referred document.",
                  "example": "string"
                },
                "Issuer": {
                  "type": "string",
                  "description": "Issuer of the referred document.",
                  "example": "string"
                },
                "Number": {
                  "type": "string",
                  "description": "Document number.",
                  "example": "string"
                },
                "RelatedDate": {
                  "type": "string",
                  "description": "Related date of the document.",
                  "example": "string"
                },
                "LineDetails": {
                  "type": "array",
                  "description": "Details of the lines in the document.",
                  "example": [
                    "string"
                  ],
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "description": "Structured remittance document information."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-get-international-standing-order"
        },
        "example": "payment-initiation-openapi-get-international-standing-order"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses HTTP Bearer authentication. A valid JWT (JSON Web Token) must be included in the Authorization header of the request to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}