{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Banking Enterprise Services Security Advisory By Security Advisory Id-v5-spec",
    "description": "This API provides access to the details of a specific security advisory within the Banking Enterprise Services. By using the security advisory ID, consumers can retrieve critical information regarding security assessments and recommendations that are essential for risk management. Typical users include security analysts and compliance officers who need to stay informed about vulnerabilities and recommended mitigations. This enables organizations to enhance their security posture and ensure compliance with industry standards.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/enterprise-services/security-advisory/{securityAdvisoryId}": {
      "get": {
        "tags": [
          "Security Advisory"
        ],
        "summary": "Retrieve security advisory details.",
        "description": "This endpoint allows developers to fetch detailed information about a specific security advisory using its unique identifier. It provides insights into security vulnerabilities, recommendations, and related security measures.",
        "operationId": "getBankingEnterpriseServicesSecurityAdvisoryBySecurityAdvisoryId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/securityAdvisoryId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to send parameters for retrieving security advisory information specific to the resource identified by RES-100045. The JSON payload should adhere to the structure defined in the associated schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBankingEnterpriseServicesSecurityAdvisoryBySecurityAdvisoryIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of the security advisory details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBankingEnterpriseServicesSecurityAdvisoryBySecurityAdvisoryIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBankingEnterpriseServicesSecurityAdvisoryBySecurityAdvisoryIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation of the security advisory service.",
        "example": "{}"
      },
      "GetBankingEnterpriseServicesSecurityAdvisoryBySecurityAdvisoryIdResponse_200": {
        "title": "Security Advisory Response",
        "type": "object",
        "properties": {
          "engagementId": {
            "type": "string",
            "description": "A unique identifier for the engagement.",
            "example": "STANDARD"
          },
          "scope": {
            "type": "string",
            "description": "The scope of the security advisory engagement.",
            "example": "STANDARD"
          },
          "framework": {
            "type": "string",
            "description": "The framework that the engagement is based on.",
            "example": "STANDARD"
          },
          "engagementOwnerId": {
            "type": "string",
            "description": "The identifier for the owner of the engagement.",
            "example": "STANDARD"
          },
          "plannedStartDate": {
            "type": "string",
            "description": "The planned start date of the engagement.",
            "example": "2026-09-15"
          },
          "targetCompletionDate": {
            "type": "string",
            "description": "The target completion date of the engagement.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version of the security advisory record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "The response schema for a successful operation in the security advisory service.",
        "example": {
          "engagementId": "STANDARD",
          "scope": "STANDARD",
          "framework": "STANDARD",
          "engagementOwnerId": "STANDARD",
          "plannedStartDate": "2026-09-15",
          "targetCompletionDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "2e99672c-1cd5-56c4-afb3-e84a52d10fec",
            "correlationId": "568ed843-bfc8-59b5-99bd-ece308fc3ad8",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "resp-67890"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate requests and responses.",
            "example": "corr-123"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-06T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata related to the response for the security advisory engagement."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "securityAdvisoryId": {
        "name": "securityAdvisoryId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifier for the specific endpoint that was accessed. This value helps in tracking the request within the service.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "security-advisory-get-security-advisory"
        },
        "example": "security-advisory-get-security-advisory"
      },
      "X-Runtime-App": {
        "description": "Indicates the application responsible for processing the request. This is useful for monitoring and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "An authentication scheme that uses a Bearer token, specifically formatted as a JSON Web Token (JWT), for securing APIs. This method allows users to authenticate by including the token in their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}