{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Dispute Accept-spec",
    "description": "The Dispute Acceptance API enables businesses to officially accept disputes within the payment processing flow. This endpoint allows authorized users to confirm the acceptance of a specific dispute by its unique identifier. Typical consumers of this API include payment processors and financial institutions that need to manage dispute statuses efficiently. By utilizing this API, entities can streamline their dispute resolution processes, ensuring timely responses to relevant claims and improving overall customer satisfaction.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/disputes/{disputeId}/accept": {
      "post": {
        "tags": [
          "Dispute Management"
        ],
        "summary": "Accept a dispute.",
        "description": "This endpoint allows the user to accept a specific dispute identified by its unique ID. By accepting the dispute, the system will update the status of the dispute accordingly, reflecting the user's decision.",
        "operationId": "createDisputeAccept",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/disputeId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to accept a dispute identified by RES-100045. It requires the necessary details in JSON format, which will be processed to confirm the acceptance of the dispute.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDisputeAcceptRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The dispute has been accepted successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateDisputeAcceptResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateDisputeAcceptRequest": {
        "title": "Accept Dispute Request",
        "type": "object",
        "properties": {
          "reason": {
            "type": "string",
            "description": "The reason for accepting the dispute.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the request body used to accept a dispute operation.",
        "example": {
          "reason": "STANDARD",
          "requestContext": {
            "requestId": "b21ae907-de21-5c7e-b7fc-0090ccf76273",
            "correlationId": "728ae7b6-0bc0-54fc-9510-3508920c8cd9",
            "idempotencyKey": "f4eb4993-8a95-507b-bd33-4de3791573fa",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-840328"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating multiple requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the request is processed only once.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp representing when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System that generated the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application that generated the request.",
            "example": "string"
          },
          "channel": {
            "description": "Details about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema that contains contextual details for the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier of the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., mobile, web).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used for the request.",
            "example": "string"
          }
        },
        "description": "Schema that describes the channel through which the request was made."
      },
      "CreateDisputeAcceptResponse_200": {
        "title": "Dispute Acceptance Response",
        "type": "object",
        "properties": {
          "disputeId": {
            "type": "string",
            "description": "Unique identifier for the dispute.",
            "example": "STANDARD"
          },
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment associated with the dispute.",
            "example": "PAY-280249"
          },
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant involved in the dispute.",
            "example": "MER-335950"
          },
          "reason": {
            "type": "string",
            "description": "Reason for the dispute.",
            "example": "STANDARD"
          },
          "disputedAmount": {
            "description": "The amount that is disputed.",
            "$ref": "#/components/schemas/Money"
          },
          "customerStatement": {
            "type": "string",
            "description": "Statement provided by the customer related to the dispute.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the dispute.",
            "example": "ACTIVE"
          },
          "responseDueAt": {
            "type": "string",
            "description": "The date and time by which a response is due.",
            "example": "2026-08-11T12:00:00Z"
          },
          "evidence": {
            "type": "array",
            "description": "Collection of evidence documents related to the dispute.",
            "example": [
              {
                "id": "STANDARD",
                "fileName": "Northstar Banking Service",
                "contentType": "STANDARD",
                "fileSizeBytes": 1,
                "fileUrl": "https://example.com/resource",
                "sha256": "STANDARD",
                "uploadedAt": "2026-08-11T12:00:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Evidence"
            }
          },
          "financialImpact": {
            "description": "Details regarding the financial implications of the dispute.",
            "$ref": "#/components/schemas/FinancialImpact"
          },
          "resolution": {
            "description": "Details regarding the resolution of the dispute.",
            "$ref": "#/components/schemas/Resolution"
          },
          "audit": {
            "description": "Audit information tracking the changes made to the dispute.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Additional metadata related to the dispute response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "A response object containing details about the accepted dispute operation.",
        "example": {
          "disputeId": "STANDARD",
          "paymentId": "PAY-280249",
          "merchantId": "MER-335950",
          "reason": "STANDARD",
          "disputedAmount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "customerStatement": "STANDARD",
          "status": "ACTIVE",
          "responseDueAt": "2026-08-11T12:00:00Z",
          "evidence": [
            {
              "id": "STANDARD",
              "fileName": "Northstar Banking Service",
              "contentType": "STANDARD",
              "fileSizeBytes": 1,
              "fileUrl": "https://example.com/resource",
              "sha256": "STANDARD",
              "uploadedAt": "2026-08-11T12:00:00Z"
            }
          ],
          "financialImpact": {
            "amountDebitedFromMerchant": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "fees": [
              {
                "feeType": "STANDARD",
                "amount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "bearer": "CUSTOMER"
              }
            ],
            "reserveHeld": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "resolution": {
            "outcome": "STANDARD",
            "resolvedAmount": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "reason": "STANDARD",
            "resolvedAt": "2026-08-11T12:00:00Z"
          },
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "1b24e10b-f89a-5941-8b66-ea1bf5785a98",
            "correlationId": "728ae7b6-0bc0-54fc-9510-3508920c8cd9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Money": {
        "title": "Money",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency code (e.g., USD, EUR).",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "Monetary value as a string (to accommodate precision).",
            "example": "100.00"
          }
        },
        "description": "Represents an amount of money with currency and value."
      },
      "Evidence": {
        "title": "Evidence Document",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the evidence document.",
            "example": "EVID123456"
          },
          "fileName": {
            "type": "string",
            "description": "Name of the file containing the evidence.",
            "example": "receipt.pdf"
          },
          "contentType": {
            "type": "string",
            "description": "MIME type of the evidence document.",
            "example": "application/pdf"
          },
          "fileSizeBytes": {
            "type": "integer",
            "description": "Size of the file in bytes.",
            "format": "int32",
            "example": 2048
          },
          "fileUrl": {
            "type": "string",
            "description": "URL to access the evidence document.",
            "example": "https://example.com/evidence/receipt.pdf"
          },
          "sha256": {
            "type": "string",
            "description": "SHA256 hash of the evidence document for integrity verification.",
            "example": "abc123hash"
          },
          "uploadedAt": {
            "type": "string",
            "description": "Timestamp when the evidence was uploaded.",
            "example": "2023-10-20T14:00:00Z"
          }
        },
        "description": "Details about an evidence document submitted for the dispute."
      },
      "FinancialImpact": {
        "title": "Financial Impact",
        "type": "object",
        "properties": {
          "amountDebitedFromMerchant": {
            "description": "Amount debited from the merchant due to the dispute.",
            "$ref": "#/components/schemas/Money"
          },
          "fees": {
            "type": "array",
            "description": "List of fees associated with the dispute.",
            "items": {
              "$ref": "#/components/schemas/Fee"
            }
          },
          "reserveHeld": {
            "description": "Reserve amount held due to the dispute.",
            "$ref": "#/components/schemas/Money"
          }
        },
        "description": "Details regarding the financial impact of the dispute on the merchant."
      },
      "Fee": {
        "title": "Fee",
        "type": "object",
        "properties": {
          "feeType": {
            "type": "string",
            "description": "Type of fee being charged.",
            "example": "Service Fee"
          },
          "amount": {
            "description": "Amount of the fee.",
            "$ref": "#/components/schemas/Money"
          },
          "bearer": {
            "type": "string",
            "description": "Party responsible for the fee.",
            "example": "Merchant"
          }
        },
        "description": "Details about a fee associated with the dispute."
      },
      "Resolution": {
        "title": "Resolution",
        "type": "object",
        "properties": {
          "outcome": {
            "type": "string",
            "description": "Outcome of the dispute resolution.",
            "example": "Refund issued"
          },
          "resolvedAmount": {
            "description": "Amount that was resolved in the dispute.",
            "$ref": "#/components/schemas/Money"
          },
          "reason": {
            "type": "string",
            "description": "Reason for the resolution outcome.",
            "example": "Customer agreement"
          },
          "resolvedAt": {
            "type": "string",
            "description": "Timestamp when the dispute was resolved.",
            "example": "2023-10-22T14:00:00Z"
          }
        },
        "description": "Details regarding the resolution of the dispute."
      },
      "Audit": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the dispute was created.",
            "example": "2023-10-20T12:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user or system that created the dispute.",
            "example": "user123"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the dispute was last updated.",
            "example": "2023-10-23T10:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user or system that last updated the dispute.",
            "example": "admin456"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the dispute document.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Tracks the changes made to the dispute and its properties over time."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESPONSE123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking purposes.",
            "example": "CORR123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2023-10-20T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the dispute was processed.",
            "example": "us-west-2"
          }
        },
        "description": "Additional information related to the dispute response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "disputeId": {
        "name": "disputeId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-accept-dispute"
        },
        "example": "banking-p2m-openapi-accept-dispute"
      },
      "X-Runtime-App": {
        "description": "The name of the application where the request was executed, indicating its runtime environment.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication to provide access tokens in the form of JSON Web Tokens (JWT). Clients must include the JWT in the Authorization header for secure communication.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}