{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Wholesale Trading Trading Book Oversight-spec",
    "description": "The Wholesale Trading Book Oversight API enables financial institutions to manage and oversee their wholesale trading activities effectively. This API allows users to create and maintain trading books, ensuring compliance and risk management in trading operations. Typical consumers include trading desks and compliance teams seeking real-time oversight and reporting capabilities. By leveraging this API, businesses can enhance their trading strategies while maintaining regulatory standards and transparency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/wholesale-trading/trading-book-oversight": {
      "post": {
        "tags": [
          "Wholesale Trading"
        ],
        "summary": "Create Trading Book Oversight",
        "description": "This operation allows users to create a new trading book oversight, facilitating better management and regulatory compliance of trading activities.",
        "operationId": "createWholesaleTradingTradingBookOversight",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to provide the necessary data for managing oversight of the trading book in wholesale trading operations. It includes specific parameters that detail the operations to be performed and the context of the trading activity.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWholesaleTradingTradingBookOversightRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully in the trading book oversight.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateWholesaleTradingTradingBookOversightResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateWholesaleTradingTradingBookOversightRequest": {
        "title": "Trading Book Oversight Request",
        "type": "object",
        "properties": {
          "tradingBookId": {
            "type": "string",
            "description": "The unique identifier for the trading book.",
            "example": "STANDARD"
          },
          "instrumentId": {
            "type": "string",
            "description": "The unique identifier for the financial instrument.",
            "example": "STANDARD"
          },
          "side": {
            "type": "string",
            "description": "The side of the trade, e.g., 'buy' or 'sell'.",
            "example": "STANDARD"
          },
          "quantity": {
            "type": "integer",
            "description": "The quantity of the instrument to trade.",
            "format": "int32",
            "example": 1
          },
          "limitPrice": {
            "description": "The limit price details for the trade.",
            "$ref": "#/components/schemas/LimitPrice"
          },
          "requestContext": {
            "description": "The context of the request including identifiers and timestamps.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for the Trading Book Oversight operation in wholesale trading.",
        "example": {
          "tradingBookId": "STANDARD",
          "instrumentId": "STANDARD",
          "side": "STANDARD",
          "quantity": 1,
          "limitPrice": {
            "value": 100.0,
            "currency": "USD"
          },
          "requestContext": {
            "requestId": "aacdf3ff-c52d-5a3b-8584-edfab2753396",
            "correlationId": "12930fb6-904d-5110-b5ba-4213720b9c7b",
            "idempotencyKey": "a3e7252e-65df-5fdc-b110-37ab5873bd37",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-295745"
            }
          }
        }
      },
      "LimitPrice": {
        "title": "Limit Price",
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The value of the limit price.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency of the limit price.",
            "example": "string"
          }
        },
        "description": "This schema represents the limit price details for a trade."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to correlate requests across systems.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure the request is processed only once.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The name of the source system sending the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application sending the request.",
            "example": "string"
          },
          "channel": {
            "description": "The channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema contains metadata about the request sent to the service."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The ID of the channel used for the request.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used, e.g., 'API', 'UI'.",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The ID of the device used to send the request.",
            "example": "string"
          }
        },
        "description": "This schema represents the channel details from which the request is initiated."
      },
      "CreateWholesaleTradingTradingBookOversightResponse_201": {
        "title": "Trading Book Oversight Response",
        "type": "object",
        "properties": {
          "tradingBookId": {
            "type": "string",
            "description": "Unique identifier for the trading book.",
            "example": "STANDARD"
          },
          "instrumentId": {
            "type": "string",
            "description": "Identifier for the financial instrument involved in the trading book.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "Identifier for the resource associated with the trading book.",
            "example": "RES-306845"
          },
          "status": {
            "type": "string",
            "description": "Current status of the trading book operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the trading book was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the trading book operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the Trading Book Oversight operation, providing details about the trading book transaction.",
        "example": {
          "tradingBookId": "STANDARD",
          "instrumentId": "STANDARD",
          "resourceId": "RES-306845",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "0bb3ca99-86af-518b-b8a2-3a8a5590555f",
            "correlationId": "12930fb6-904d-5110-b5ba-4213720b9c7b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate the request and response.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the trading book operation took place.",
            "example": "string"
          }
        },
        "description": "Contains metadata information related to the trading book operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifies the specific endpoint that was invoked. This value helps track usage and performance metrics for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "trading-book-oversight-create-trading-book-oversight"
        },
        "example": "trading-book-oversight-create-trading-book-oversight"
      },
      "X-Runtime-App": {
        "description": "Denotes the name and version of the application that processed the request. This metadata is useful for debugging and monitoring applications.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses Bearer tokens, specifically designed to transmit JSON Web Tokens (JWT) for secure access control. Clients must include this token in the Authorization header for requests that require authentication.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}