{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Branch Portfolio Analysis API",
    "description": "The Branch Portfolio Analysis API provides insights into the performance and status of various banking branches. It enables users to retrieve detailed reports about branch operations, customer engagement, and financial metrics. Typically utilized by banking analysts and branch managers, this API supports decision-making processes related to resource allocation and strategic planning. Users can leverage this data to optimize branch performance and enhance customer satisfaction.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/business-analysis/branch-portfolio": {
      "get": {
        "tags": [
          "Business Analysis"
        ],
        "summary": "Retrieve branch portfolio data.",
        "description": "This endpoint allows users to fetch data related to branch portfolios within the business analysis framework. It provides insights into performance, trends, and other relevant metrics for branches.",
        "operationId": "getBranchPortfolio",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Represents the request body for retrieving branch portfolio information. This body should contain the necessary parameters and filters to obtain the desired analysis results.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBranchPortfolioRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the branch portfolio data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBranchPortfolioResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBranchPortfolioRequest": {
        "type": "string",
        "description": "This schema represents the request body for a GET operation related to branch portfolio analysis in a business context.",
        "example": "{}"
      },
      "GetBranchPortfolioResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of analysis items.",
            "example": [
              {
                "analysisId": "STANDARD",
                "segmentId": "STANDARD",
                "periodStart": "2026-08-11",
                "periodEnd": "2026-08-11",
                "baseCurrency": "USD",
                "scenario": "STANDARD",
                "branchId": "STANDARD",
                "branchType": "FULL_SERVICE",
                "timeZone": "America/New_York",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/AnalysisItem"
            }
          },
          "pagination": {
            "description": "Pagination information for the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting order applied to the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Additional metadata about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the branch portfolio operation, containing a list of analysis items along with pagination, sorting, and metadata information.",
        "example": {
          "items": [
            {
              "analysisId": "STANDARD",
              "segmentId": "STANDARD",
              "periodStart": "2026-08-11",
              "periodEnd": "2026-08-11",
              "baseCurrency": "USD",
              "scenario": "STANDARD",
              "branchId": "STANDARD",
              "branchType": "FULL_SERVICE",
              "timeZone": "America/New_York",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "e9c1f205-f957-5c5f-9aef-1b776cb24795",
            "correlationId": "af48a0e5-2ef7-5195-9ba2-22072450c8fd",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AnalysisItem": {
        "type": "object",
        "properties": {
          "analysisId": {
            "type": "string",
            "description": "Unique identifier for the analysis.",
            "example": "string"
          },
          "segmentId": {
            "type": "string",
            "description": "Identifier for the market segment.",
            "example": "string"
          },
          "periodStart": {
            "type": "string",
            "description": "Start date of the analysis period.",
            "example": "string"
          },
          "periodEnd": {
            "type": "string",
            "description": "End date of the analysis period.",
            "example": "string"
          },
          "baseCurrency": {
            "type": "string",
            "description": "Currency used for the analysis.",
            "example": "string"
          },
          "scenario": {
            "type": "string",
            "description": "Scenario description for the analysis.",
            "example": "string"
          },
          "branchId": {
            "type": "string",
            "description": "Identifier for the branch related to the analysis.",
            "example": "string"
          },
          "branchType": {
            "type": "string",
            "description": "Type of branch.",
            "example": "string"
          },
          "timeZone": {
            "type": "string",
            "description": "Time zone applicable for the analysis.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the analysis record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update made to the analysis record.",
            "example": "string"
          }
        },
        "description": "Schema representing an individual analysis item."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Schema representing pagination details for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request was done.",
            "example": "string"
          }
        },
        "description": "Schema containing metadata regarding the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "branch-portfolio-search-branch-portfolio"
        },
        "example": "branch-portfolio-search-branch-portfolio"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This authentication method uses a Bearer token format, specifically JSON Web Tokens (JWT). It is commonly used to securely transmit information between parties and allows for stateless authentication in API calls.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}