{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create * Bank Guarantee-spec",
    "description": "The Bank Guarantee Creation API enables businesses to initiate the process of generating bank guarantees for their customers. This endpoint allows users to submit the necessary specifications and details required for creating a bank guarantee, enhancing financial transaction security and fostering customer trust. Typical consumers include financial institutions, banking professionals, and developers integrating banking solutions. By streamlining the guarantee creation process, this API supports improved operational efficiency and faster service delivery.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customers/*/bank-guarantees": {
      "post": {
        "tags": [
          "Bank Guarantees"
        ],
        "summary": "Create a new bank guarantee for a customer.",
        "description": "This endpoint allows you to create a new bank guarantee associated with a specific customer. You need to provide the required details in the request body to successfully create the guarantee.",
        "operationId": "create*BankGuarantee",
        "parameters": [
          {
            "$ref": "#/components/parameters/parentspanid"
          },
          {
            "$ref": "#/components/parameters/x-request-id"
          },
          {
            "$ref": "#/components/parameters/x-envoy-attempt-count"
          },
          {
            "$ref": "#/components/parameters/x-envoy-peer-metadata"
          },
          {
            "$ref": "#/components/parameters/x-gateway-correlationid"
          },
          {
            "$ref": "#/components/parameters/x-envoy-external-address"
          },
          {
            "$ref": "#/components/parameters/x-envoy-peer-metadata-id"
          },
          {
            "$ref": "#/components/parameters/x-envoy-decorator-operation"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit a new bank guarantee for a specific customer. It should include all relevant information about the bank guarantee being created, such as the amount, expiry date, and any associated details required for processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Create*BankGuaranteeRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created a new bank guarantee for the specified customer.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Create*BankGuaranteeResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "Create*BankGuaranteeRequest": {
        "type": "object",
        "properties": {
          "corporateCustomerId": {
            "type": "string",
            "description": "The unique identifier for the corporate customer.",
            "example": "CUST-851505"
          },
          "facilityId": {
            "type": "string",
            "description": "The identifier for the facility associated with the bank guarantee.",
            "example": "STANDARD"
          },
          "counterpartyId": {
            "type": "string",
            "description": "The unique identifier for the counterparty involved in the transaction.",
            "example": "PARTY-814300"
          },
          "amount": {
            "description": "The monetary amount related to the bank guarantee.",
            "$ref": "#/components/schemas/Amount"
          },
          "maturityDate": {
            "type": "string",
            "description": "The date when the bank guarantee matures.",
            "format": "date",
            "example": 1788393600000
          },
          "guaranteeType": {
            "type": "string",
            "description": "The type of guarantee being issued.",
            "example": "STANDARD"
          },
          "beneficiaryId": {
            "type": "string",
            "description": "The unique identifier for the beneficiary of the bank guarantee.",
            "example": "STANDARD"
          },
          "claimExpiryDate": {
            "type": "string",
            "description": "The expiry date for claims against the bank guarantee.",
            "format": "date",
            "example": 1788393600000
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "example": {
          "corporateCustomerId": "CUST-851505",
          "facilityId": "STANDARD",
          "counterpartyId": "PARTY-814300",
          "amount": {
            "value": 100,
            "currency": "USD"
          },
          "maturityDate": "2026-09-03",
          "guaranteeType": "STANDARD",
          "beneficiaryId": "STANDARD",
          "claimExpiryDate": "2026-09-03",
          "requestContext": {
            "requestId": "c224063c-60bc-4293-afa8-4ffac837f498",
            "correlationId": "c2ff549c-6824-47cd-a55f-75fe9fc65421",
            "idempotencyKey": "c2736e60-8228-4d5b-83db-04eb1cd8c24e",
            "requestedAt": "2026-08-27T23:01:14.783Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-614259"
            }
          }
        }
      },
      "Amount": {
        "type": "object",
        "properties": {
          "value": {
            "type": "integer",
            "description": "The numerical value of the amount.",
            "format": "int32",
            "example": 100000
          },
          "currency": {
            "type": "string",
            "description": "The currency code for the amount (e.g., USD, EUR).",
            "example": "USD"
          }
        },
        "description": "The amount of money involved in a transaction, including its value and currency."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req_171819"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier for tracking the correlation of related requests.",
            "example": "corr_202122"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure idempotency of the request.",
            "example": "idempotent_key_232425"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "format": "date-time",
            "example": 1672574400.0
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "PaymentSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "BankApp"
          },
          "channel": {
            "description": "Information regarding the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Information regarding the request including identifiers and source details."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel_262728"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., Mobile, Web).",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier for the device used to make the request.",
            "example": "device_293031"
          }
        },
        "description": "Information regarding the communication channel."
      },
      "Create*BankGuaranteeResponse_201": {
        "title": "Bank Guarantee Response",
        "type": "object",
        "properties": {
          "corporateCustomerId": {
            "type": "string",
            "description": "The unique identifier for the corporate customer.",
            "example": "CUST-304899"
          },
          "facilityId": {
            "type": "string",
            "description": "The unique identifier for the facility associated with the bank guarantee.",
            "example": "STANDARD"
          },
          "counterpartyId": {
            "type": "string",
            "description": "The unique identifier for the counterparty involved in the transaction.",
            "example": "PARTY-967628"
          },
          "beneficiaryId": {
            "type": "string",
            "description": "The unique identifier for the beneficiary of the bank guarantee.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource linked to the bank guarantee.",
            "example": "RES-315210"
          },
          "status": {
            "type": "string",
            "description": "The current status of the bank guarantee.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the bank guarantee was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "The unique identifier for the response.",
                "example": "RESP12345"
              },
              "correlationId": {
                "type": "string",
                "description": "A unique identifier to track the request and response correlation.",
                "example": "CORR12345"
              },
              "generatedAt": {
                "type": "string",
                "description": "The timestamp when the response was generated.",
                "example": "2023-10-01T12:01:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region where the request was processed.",
                "example": "US-East"
              }
            },
            "description": "Additional metadata related to the bank guarantee response.",
            "example": {
              "responseId": "32886850-dee9-50d1-9cee-ced87c2a2d7a",
              "correlationId": "2b8ebde3-8ca3-59ac-88b7-dc7d94d9739d",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "This schema represents the response object for bank guarantee operations.",
        "example": {
          "corporateCustomerId": "CUST-304899",
          "facilityId": "STANDARD",
          "counterpartyId": "PARTY-967628",
          "beneficiaryId": "STANDARD",
          "resourceId": "RES-315210",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "32886850-dee9-50d1-9cee-ced87c2a2d7a",
            "correlationId": "2b8ebde3-8ca3-59ac-88b7-dc7d94d9739d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "parentspanid": {
        "name": "parentspanid",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "9ebbacd96391fae5"
        },
        "example": "9ebbacd96391fae5"
      },
      "x-request-id": {
        "name": "x-request-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "5e9b041b-1bbd-4310-be06-95f3b097ffba"
        },
        "example": "5e9b041b-1bbd-4310-be06-95f3b097ffba"
      },
      "x-envoy-attempt-count": {
        "name": "x-envoy-attempt-count",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-envoy-peer-metadata": {
        "name": "x-envoy-peer-metadata",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ChoKCkNMVVNURVJfSUQSDBoKS3ViZXJuZXRlcwquAQoGTEFCRUxTEqMBKqABCh0KA2FwcBIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQo5Ch9zZXJ2aWNlLmlzdGlvLmlvL2Nhbm9uaWNhbC1uYW1lEhYaFGlzdGlvLWluZ3Jlc3NnYXRld2F5Ci8KI3NlcnZpY2UuaXN0aW8uaW8vY2Fub25pY2FsLXJldmlzaW9uEggaBjEtMzAtMAoTCgd2ZXJzaW9uEggaBjEuMzAuMAouCgROQU1FEiYaJGlzdGlvLWluZ3Jlc3NnYXRld2F5LTlkZDQ2YjU4Yi10Y3R6cwobCglOQU1FU1BBQ0USDhoMaXN0aW8tc3lzdGVtCl0KBU9XTkVSElQaUmt1YmVybmV0ZXM6Ly9hcGlzL2FwcHMvdjEvbmFtZXNwYWNlcy9pc3Rpby1zeXN0ZW0vZGVwbG95bWVudHMvaXN0aW8taW5ncmVzc2dhdGV3YXkKJwoNV09SS0xPQURfTkFNRRIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQ=="
        },
        "example": "ChoKCkNMVVNURVJfSUQSDBoKS3ViZXJuZXRlcwquAQoGTEFCRUxTEqMBKqABCh0KA2FwcBIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQo5Ch9zZXJ2aWNlLmlzdGlvLmlvL2Nhbm9uaWNhbC1uYW1lEhYaFGlzdGlvLWluZ3Jlc3NnYXRld2F5Ci8KI3NlcnZpY2UuaXN0aW8uaW8vY2Fub25pY2FsLXJldmlzaW9uEggaBjEtMzAtMAoTCgd2ZXJzaW9uEggaBjEuMzAuMAouCgROQU1FEiYaJGlzdGlvLWluZ3Jlc3NnYXRld2F5LTlkZDQ2YjU4Yi10Y3R6cwobCglOQU1FU1BBQ0USDhoMaXN0aW8tc3lzdGVtCl0KBU9XTkVSElQaUmt1YmVybmV0ZXM6Ly9hcGlzL2FwcHMvdjEvbmFtZXNwYWNlcy9pc3Rpby1zeXN0ZW0vZGVwbG95bWVudHMvaXN0aW8taW5ncmVzc2dhdGV3YXkKJwoNV09SS0xPQURfTkFNRRIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQ=="
      },
      "x-gateway-correlationid": {
        "name": "x-gateway-correlationid",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ad6b9283-4be9-46c5-9b61-3e5325f50e30"
        },
        "example": "ad6b9283-4be9-46c5-9b61-3e5325f50e30"
      },
      "x-envoy-external-address": {
        "name": "x-envoy-external-address",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "18.156.191.52"
        },
        "example": "18.156.191.52"
      },
      "x-envoy-peer-metadata-id": {
        "name": "x-envoy-peer-metadata-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "router~10.10.185.143~istio-ingressgateway-9dd46b58b-tctzs.istio-system~istio-system.svc.cluster.local"
        },
        "example": "router~10.10.185.143~istio-ingressgateway-9dd46b58b-tctzs.istio-system~istio-system.svc.cluster.local"
      },
      "x-envoy-decorator-operation": {
        "name": "x-envoy-decorator-operation",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "kong-test1-kong-proxy.kong-test.svc.cluster.local:80/*"
        },
        "example": "kong-test1-kong-proxy.kong-test.svc.cluster.local:80/*"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request, useful for tracking and diagnostics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "bank-guarantee-create-bank-guarantee"
        },
        "example": "bank-guarantee-create-bank-guarantee"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is executing the operation, aiding in monitoring and performance analysis.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      },
      "X-Workflow-Id": {
        "description": "A unique identifier for the workflow related to the request, helping to trace the progress and history of operations.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-062"
        },
        "example": "WF-062"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow associated with the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Bank Guarantee Issuance and Claim"
        },
        "example": "Bank Guarantee Issuance and Claim"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow execution.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "The unique identifier for the workflow execution.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1d8b9593-5a88-4671-9ecd-3bdf14dcb054"
        },
        "example": "1d8b9593-5a88-4671-9ecd-3bdf14dcb054"
      }
    }
  }
}