{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Event Subscriptions Management API",
    "description": "The Event Subscriptions Management API provides clients with the ability to establish subscriptions for receiving event notifications within the Open Banking framework. By utilizing this API, businesses can effectively monitor and respond to specific financial events, enhancing their responsiveness to customer needs and market changes. Typical consumers include financial institutions and third-party service providers looking to integrate real-time event-driven capabilities into their applications. Through this API, entities can streamline operations and improve customer engagement by automating responses to relevant financial events.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/event-subscriptions": {
      "post": {
        "tags": [
          "Event Management"
        ],
        "summary": "Create a new event subscription",
        "description": "This endpoint allows you to create a new event subscription in the system. Specify the necessary details in the request body to set up the subscription for receiving events.",
        "operationId": "createEventSubscription",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create a new event subscription. It requires the necessary parameters to specify the event type and the target endpoint for notification.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEventSubscriptionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Event subscription created successfully.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateEventSubscriptionResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateEventSubscriptionRequest": {
        "type": "object",
        "properties": {
          "Data": {
            "$ref": "#/components/schemas/EventSubscriptionData"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for the event subscriptions API POST operation.",
        "example": {
          "Data": {
            "CallbackUrl": "https://banking.northstar.example/callbacks/status",
            "Version": "STANDARD",
            "EventTypes": [
              "STANDARD"
            ]
          },
          "requestContext": {
            "requestId": "2ef9c440-8394-573b-b146-b52f8223e41a",
            "correlationId": "ca1de441-e2b6-520e-b255-592516910686",
            "idempotencyKey": "0f6e9542-af28-5ded-8bf6-4b802c519c7e",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-792048"
            }
          }
        }
      },
      "EventSubscriptionData": {
        "type": "object",
        "properties": {
          "EventSubscriptionId": {
            "type": "string",
            "description": "Unique identifier for the event subscription."
          },
          "CallbackUrl": {
            "type": "string",
            "description": "URL to which notifications are sent."
          },
          "Version": {
            "type": "string",
            "description": "Version of the event subscription."
          },
          "EventTypes": {
            "type": "array",
            "description": "List of event types for which the subscription is created.",
            "items": {
              "type": "string",
              "description": "A specific event type."
            }
          }
        },
        "description": "Data related to an event subscription.",
        "example": {
          "EventSubscriptionId": "sub_12345",
          "CallbackUrl": "https://example.com/callback",
          "Version": "1.0",
          "EventTypes": [
            "event.type1",
            "event.type2"
          ]
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "12345"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate multiple requests and responses.",
            "example": "abcd-efgh-ijkl"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to identify the idempotency of the request.",
            "example": "unique-idempotency-key"
          },
          "requestedAt": {
            "type": "string",
            "description": "A timestamp indicating when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that is making the request.",
            "example": "source_system_identifier"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that is making the request.",
            "example": "source_application_identifier"
          },
          "channel": {
            "$ref": "#/components/schemas/RequestChannel"
          }
        },
        "description": "Contains contextual information about the request."
      },
      "RequestChannel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "A unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used for the request (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "An identifier for the device making the request.",
            "example": "device-123"
          }
        },
        "description": "Details about the channel through which the request was sent."
      },
      "CreateEventSubscriptionResponse_201": {
        "type": "object",
        "properties": {
          "Data": {
            "description": "Contains details about the created event subscription.",
            "$ref": "#/components/schemas/EventSubscriptionData"
          },
          "Links": {
            "description": "Provides metadata links for pagination.",
            "$ref": "#/components/schemas/PaginationLinks"
          },
          "Meta": {
            "description": "Contains metadata about the response.",
            "$ref": "#/components/schemas/PaginationMeta"
          },
          "metadata": {
            "description": "Contains additional metadata about the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the event subscription creation operation.",
        "example": {
          "Data": {
            "EventSubscriptionId": "STANDARD",
            "CallbackUrl": "https://banking.northstar.example/callbacks/status",
            "Version": "STANDARD",
            "EventTypes": [
              "STANDARD"
            ]
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource",
            "Next": "https://example.com/resource",
            "Last": "https://example.com/resource"
          },
          "Meta": {
            "TotalPages": 1,
            "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
            "LastAvailableDateTime": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "responseId": "23299ba5-f29e-511b-8beb-03d4215f1374",
            "correlationId": "ca1de441-e2b6-520e-b255-592516910686",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaginationLinks": {
        "type": "object",
        "properties": {
          "Self": {
            "type": "string",
            "description": "Link to the current page."
          },
          "First": {
            "type": "string",
            "description": "Link to the first page."
          },
          "Prev": {
            "type": "string",
            "description": "Link to the previous page."
          },
          "Next": {
            "type": "string",
            "description": "Link to the next page."
          },
          "Last": {
            "type": "string",
            "description": "Link to the last page."
          }
        },
        "description": "Links for navigating through paginated results.",
        "example": {
          "Self": "https://api.example.com/events?page=1",
          "First": "https://api.example.com/events?page=1",
          "Next": "https://api.example.com/events?page=2",
          "Last": "https://api.example.com/events?page=10"
        }
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "TotalPages": {
            "type": "integer",
            "description": "Total number of pages available.",
            "format": "int32"
          },
          "FirstAvailableDateTime": {
            "type": "string",
            "description": "The first available date and time for events."
          },
          "LastAvailableDateTime": {
            "type": "string",
            "description": "The last available date and time for events."
          }
        },
        "description": "Metadata about pagination.",
        "example": {
          "TotalPages": 10,
          "FirstAvailableDateTime": "2023-01-01T00:00:00Z",
          "LastAvailableDateTime": "2023-12-31T23:59:59Z"
        }
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed."
          }
        },
        "description": "Metadata for the response.",
        "example": {
          "responseId": "res_67890",
          "correlationId": "corr_98765",
          "generatedAt": "2023-01-01T00:00:00Z",
          "processingRegion": "us-east-1"
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "events-api-create-event-subscriptions"
        },
        "example": "events-api-create-event-subscriptions"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication method that requires a token in the HTTP Authorization header. The token format expected is JSON Web Token (JWT). This allows for secure communication and identity verification.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}