{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Banking Human Resource Management Human Resources Directions-v5-spec",
    "description": "The Human Resources Directions API enables users to access detailed information regarding the direction and management of human resources within the banking sector. This endpoint provides a comprehensive list of human resources directions, which can aid HR professionals and banking administrators in strategic decision-making and improving operational efficiency. Typical consumers include HR teams, compliance officers, and bank management looking to align resources with organizational goals. With this API, users can efficiently retrieve pertinent HR direction data necessary for informed policy and procedural development.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/human-resources-direction": {
      "get": {
        "tags": [
          "Human Resources"
        ],
        "summary": "Retrieve Human Resources Direction Data",
        "description": "This endpoint allows users to fetch the current Human Resources direction data, providing insights into the strategic goals and operational objectives for the department.",
        "operationId": "listBankingHumanResourceManagementHumanResourcesDirections",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information related to human resources direction within the human resource management system. The request is designed to facilitate operations that query specific HR-related details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListBankingHumanResourceManagementHumanResourcesDirectionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of human resources direction data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBankingHumanResourceManagementHumanResourcesDirectionsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListBankingHumanResourceManagementHumanResourcesDirectionsRequest": {
        "type": "string",
        "description": "This schema represents a request body for the GET operation in the Human Resource Management system. It is expected to be a string formatted in a specific manner.",
        "example": "{}"
      },
      "ListBankingHumanResourceManagementHumanResourcesDirectionsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of employee assignment records.",
            "example": [
              {
                "employeeId": "EMP-580284",
                "assignmentId": "STANDARD",
                "departmentId": "STANDARD",
                "effectiveDate": "2026-09-15",
                "countryCode": "US",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/EmployeeAssignment"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Field used for sorting of the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving information from the Human Resources Management Operations.",
        "example": {
          "items": [
            {
              "employeeId": "EMP-580284",
              "assignmentId": "STANDARD",
              "departmentId": "STANDARD",
              "effectiveDate": "2026-09-15",
              "countryCode": "US",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "27e0e7fd-5822-5d7c-a14a-7e0f52d001c5",
            "correlationId": "50ed68ff-9c94-502c-a27e-70455377b562",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EmployeeAssignment": {
        "type": "object",
        "properties": {
          "employeeId": {
            "type": "string",
            "description": "The unique identifier for the employee.",
            "example": "emp123"
          },
          "assignmentId": {
            "type": "string",
            "description": "The unique identifier for the assignment.",
            "example": "assign456"
          },
          "departmentId": {
            "type": "string",
            "description": "The identifier for the department associated with the assignment.",
            "example": "dept789"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date when the assignment becomes effective.",
            "example": "2023-01-01"
          },
          "countryCode": {
            "type": "string",
            "description": "The country code where the employee is located.",
            "example": "US"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record (e.g., active, inactive).",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the record.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "Represents an employee assignment record."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Information regarding pagination of the results."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating requests and responses.",
            "example": "corr456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "US-East"
          }
        },
        "description": "Metadata information regarding the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint being accessed. This value helps in tracking and debugging requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "human-resources-direction-search-human-resources-direction"
        },
        "example": "human-resources-direction-search-human-resources-direction"
      },
      "X-Runtime-App": {
        "description": "The name of the application processing the request. This header is used for monitoring and analytics purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "An authentication method using bearer tokens. This scheme expects a bearer token (JWT) to be included in the HTTP Authorization header for authentication and authorization. The token should comply with the JSON Web Token (JWT) standard.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}