{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Corporate Current Account Management API",
    "description": "The Corporate Current Account Management API is designed to facilitate the management of corporate banking transactions, specifically for corporate current accounts. This API allows users to perform essential operations related to account deposits and lending, streamlining processes for businesses. Typical consumers include financial institutions, corporate clients, and accounting software providers looking to enhance their services. By leveraging this API, businesses can effectively manage their financial operations and improve transaction efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/corporate-current-account": {
      "post": {
        "tags": [
          "Corporate Banking"
        ],
        "summary": "Create a new corporate current account.",
        "description": "This endpoint allows users to create a new corporate current account in the deposit lending system. It requires necessary account information and validates the input parameters to ensure compliance with our banking standards.",
        "operationId": "createCorporateCurrentAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for creating a corporate current account under the deposit lending operation. This body must include all necessary details for establishing the account, such as the account holder's information and relevant financial data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCorporateCurrentAccountRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully and ready for use.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCorporateCurrentAccountResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCorporateCurrentAccountRequest": {
        "title": "Corporate Current Account Operation Request",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-995069"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "ACC-658151"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product type associated with the account.",
            "example": "CHK-PREMIUM-US"
          },
          "principal": {
            "description": "Principal amount details for the transaction.",
            "$ref": "#/components/schemas/PrincipalDetails"
          },
          "termMonths": {
            "type": "integer",
            "description": "Duration of the account or loan term in months.",
            "format": "int32",
            "example": 1
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "Frequency of repayment (e.g. monthly, quarterly).",
            "example": "STANDARD"
          },
          "accountPurpose": {
            "type": "string",
            "description": "Purpose of the account (e.g. business, operational).",
            "example": "STANDARD"
          },
          "statementFrequency": {
            "type": "string",
            "description": "How often statements are issued for the account.",
            "example": "STANDARD"
          },
          "overdraftAllowed": {
            "type": "boolean",
            "description": "Indicates if the account allows overdraft.",
            "example": true
          },
          "requestContext": {
            "description": "Context related to the request including identification and source details.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for requesting operations on a corporate current account in the deposit lending service.",
        "example": {
          "customerId": "CUST-995069",
          "accountId": "ACC-658151",
          "productCode": "CHK-PREMIUM-US",
          "principal": {
            "amount": 100.0,
            "currency": "USD"
          },
          "termMonths": 1,
          "repaymentFrequency": "STANDARD",
          "accountPurpose": "STANDARD",
          "statementFrequency": "STANDARD",
          "overdraftAllowed": true,
          "requestContext": {
            "requestId": "96f90e97-28df-54be-b556-b91f4880de95",
            "correlationId": "e8a39bc5-6038-55a0-ae98-3333c7e36ee0",
            "idempotencyKey": "502c8876-0fbe-5563-8ecf-62235e16e194",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-770922"
            }
          }
        }
      },
      "PrincipalDetails": {
        "title": "Principal Details",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The principal amount in numerical format.",
            "example": 1000.0
          },
          "currency": {
            "type": "string",
            "description": "Currency in which the principal amount is denoted.",
            "example": "USD"
          }
        },
        "description": "Details regarding the principal amount for the transaction."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ78910"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used to correlate requests and responses.",
            "example": "CORR111213"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is idempotent.",
            "example": "IDEMOKEY123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "Core Banking System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request was initiated.",
            "example": "Mobile App"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/ChannelDetails"
          }
        },
        "description": "Details for the context of the request, including ID and source information."
      },
      "ChannelDetails": {
        "title": "Channel Details",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "CHNL1234"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used (e.g. web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used by the customer.",
            "example": "DEV5678"
          }
        },
        "description": "Details about the channel through which the request was made."
      },
      "CreateCorporateCurrentAccountResponse_201": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-119845"
          },
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account associated with the customer.",
            "example": "ACC-603254"
          },
          "productCode": {
            "type": "string",
            "description": "The code that identifies the specific financial product.",
            "example": "CHK-PREMIUM-US"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource involved in the transaction.",
            "example": "RES-591415"
          },
          "status": {
            "type": "string",
            "description": "The current status of the operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/OperationMetadata"
          }
        },
        "description": "Response object for the corporate current account operation request.",
        "example": {
          "customerId": "CUST-119845",
          "accountId": "ACC-603254",
          "productCode": "CHK-PREMIUM-US",
          "resourceId": "RES-591415",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "01d7950d-aa4c-5c8d-809f-da3bcb7aecad",
            "correlationId": "e8a39bc5-6038-55a0-ae98-3333c7e36ee0",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "OperationMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "RES987654321"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to trace the operation across different services.",
            "example": "CORR123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the operation was processed.",
            "example": "US-East"
          }
        },
        "description": "Metadata related to the operation, providing additional context."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request, useful for tracing and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "corporate-current-account-create-corporate-current-account"
        },
        "example": "corporate-current-account-create-corporate-current-account"
      },
      "X-Runtime-App": {
        "description": "The name of the runtime environment or application that handled the request, provides context for system behavior.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses bearer authentication via a JSON Web Token (JWT). Clients are required to send the JWT in the Authorization header of the request to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}