{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Aggregation Partners Application-v5-spec",
    "description": "MICROSERVICE-PROD-Create Aggregation Partners Application-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/partners/applications": {
      "post": {
        "operationId": "createAggregationPartnersApplication",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAggregationPartnersApplicationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAggregationPartnersApplicationResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateAggregationPartnersApplicationRequest": {
        "type": "object",
        "properties": {
          "appDescription": {
            "type": "string",
            "example": "STANDARD"
          },
          "appName": {
            "type": "string",
            "example": "Northstar Banking Service"
          },
          "appUrl": {
            "type": "string",
            "example": "https://banking.northstar.example/callbacks/status"
          },
          "ownerAddressLine1": {
            "type": "string",
            "example": "STANDARD"
          },
          "ownerAddressLine2": {
            "type": "string",
            "example": "STANDARD"
          },
          "ownerCity": {
            "type": "string",
            "example": "STANDARD"
          },
          "ownerCountry": {
            "type": "string",
            "example": "STANDARD"
          },
          "ownerName": {
            "type": "string",
            "example": "Northstar Banking Service"
          },
          "ownerPostalCode": {
            "type": "string",
            "example": "CODE-126"
          },
          "ownerState": {
            "type": "string",
            "example": "STANDARD"
          },
          "image": {
            "type": "string",
            "example": "STANDARD"
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "b24ef130-5a90-5793-915d-3518b89f652f",
              "correlationId": "65602838-6c0d-5704-ad20-c7c8ae73b98b",
              "idempotencyKey": "fa86c645-e902-513b-92cf-90c15f44db74",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-451820"
              }
            }
          }
        },
        "example": {
          "appDescription": "STANDARD",
          "appName": "Northstar Banking Service",
          "appUrl": "https://banking.northstar.example/callbacks/status",
          "ownerAddressLine1": "STANDARD",
          "ownerAddressLine2": "STANDARD",
          "ownerCity": "STANDARD",
          "ownerCountry": "STANDARD",
          "ownerName": "Northstar Banking Service",
          "ownerPostalCode": "CODE-126",
          "ownerState": "STANDARD",
          "image": "STANDARD",
          "requestContext": {
            "requestId": "b24ef130-5a90-5793-915d-3518b89f652f",
            "correlationId": "65602838-6c0d-5704-ad20-c7c8ae73b98b",
            "idempotencyKey": "fa86c645-e902-513b-92cf-90c15f44db74",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-451820"
            }
          }
        }
      },
      "CreateAggregationPartnersApplicationResponse_201": {
        "type": "object",
        "properties": {
          "preAppId": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "example": "ACTIVE"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "e0dfe30d-c701-5d26-aa27-7be292355c7b",
              "correlationId": "65602838-6c0d-5704-ad20-c7c8ae73b98b",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "preAppId": 1,
          "status": "ACTIVE",
          "metadata": {
            "responseId": "e0dfe30d-c701-5d26-aa27-7be292355c7b",
            "correlationId": "65602838-6c0d-5704-ad20-c7c8ae73b98b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-register-app"
        },
        "example": "open-finance-api-register-app"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}