{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Regulatory Reporting API",
    "description": "The Regulatory Reporting API facilitates the retrieval of compliance-related reporting data for banking operations. This endpoint allows users to access detailed regulatory reports that are essential for ensuring adherence to financial regulations and standards. Typical consumers include compliance officers, risk management teams, and financial auditors who require timely access to accurate reporting information. Efficiently gathering and analyzing regulatory data helps institutions maintain transparency and fulfill legal requirements.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/compliance/regulatory-reporting": {
      "get": {
        "tags": [
          "Compliance"
        ],
        "summary": "Retrieve regulatory reporting information.",
        "description": "This endpoint allows users to access important regulatory reporting data related to compliance. It serves as a central hub for acquiring insights on reporting requirements and the relevant compliance standards that organizations must adhere to. Ensure you have the necessary permissions to access this information.",
        "operationId": "getComplianceRegulatoryReporting",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve regulatory reporting compliance data. Ensure that the payload conforms to the specified schema for proper processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetComplianceRegulatoryReportingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the regulatory reporting data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetComplianceRegulatoryReportingResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetComplianceRegulatoryReportingRequest": {
        "type": "string",
        "description": "A string representation of the JSON request body for regulatory reporting operations.",
        "example": "{}"
      },
      "GetComplianceRegulatoryReportingResponse_200": {
        "title": "Regulatory Reporting Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of regulatory reports.",
            "example": [
              {
                "submissionId": "STANDARD",
                "legalEntityId": "STANDARD",
                "jurisdiction": "STANDARD",
                "reportingPeriod": "STANDARD",
                "regulation": "STANDARD",
                "dueDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/RegulatoryReport"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for regulatory reporting operations, containing items of reports and related metadata.",
        "example": {
          "items": [
            {
              "submissionId": "STANDARD",
              "legalEntityId": "STANDARD",
              "jurisdiction": "STANDARD",
              "reportingPeriod": "STANDARD",
              "regulation": "STANDARD",
              "dueDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "12a3f379-1389-5dd7-8b0a-f5f660f2ea4e",
            "correlationId": "5201f481-5dd5-59dd-859f-a638d49b97f9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "RegulatoryReport": {
        "title": "Regulatory Report",
        "type": "object",
        "properties": {
          "submissionId": {
            "type": "string",
            "description": "Unique identifier for the submission.",
            "example": "abc123"
          },
          "legalEntityId": {
            "type": "string",
            "description": "Identifier of the legal entity associated with the report.",
            "example": "entity456"
          },
          "jurisdiction": {
            "type": "string",
            "description": "Jurisdiction where the report is filed.",
            "example": "US"
          },
          "reportingPeriod": {
            "type": "string",
            "description": "Period for which the report is filed.",
            "example": "2021-01"
          },
          "regulation": {
            "type": "string",
            "description": "Regulation under which the report is filed.",
            "example": "Regulation A"
          },
          "dueDate": {
            "type": "string",
            "description": "Due date for the report submission.",
            "example": "2021-03-31"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the report record.",
            "example": "Pending"
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the report was last updated.",
            "example": "2021-01-15T12:00:00Z"
          }
        },
        "description": "Schema representing an individual regulatory report."
      },
      "Pagination": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Schema containing pagination details for the response data."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating requests.",
            "example": "correlation123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "2021-01-15T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "NA"
          }
        },
        "description": "Schema representing additional metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "regulatory-reporting-search-regulatory-reporting"
        },
        "example": "regulatory-reporting-search-regulatory-reporting"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses HTTP bearer authentication, allowing clients to authenticate by including a bearer token in the Authorization header of requests. The token format expected is JSON Web Token (JWT).",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}