{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Corporate Lease Management API",
    "description": "The Corporate Lease Management API facilitates businesses in managing corporate lease agreements efficiently. This API allows users to initiate and submit new corporate lease requests, streamlining the lease acquisition process for various corporate needs. Typical consumers include financial institutions, corporate lease managers, and businesses looking to lease equipment or property. By leveraging this API, developers can enhance their applications to support dynamic corporate leasing operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/corporate-lease": {
      "post": {
        "tags": [
          "Corporate Lease"
        ],
        "summary": "Create a new corporate lease entry.",
        "description": "This endpoint allows users to create a new corporate lease within the deposit lending module. You will need to provide the necessary details for the lease to be successfully recorded in the system.",
        "operationId": "createCorporateLease",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a new corporate lease under the deposit lending service. Ensure that all required fields are populated correctly to facilitate the transaction.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCorporateLeaseRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created a new corporate lease.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCorporateLeaseResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCorporateLeaseRequest": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-513303"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account related to the lease.",
            "example": "ACC-808408"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product associated with the lease.",
            "example": "CHK-PREMIUM-US"
          },
          "principal": {
            "description": "The principal amount and currency specified for the lease.",
            "$ref": "#/components/schemas/AmountAndCurrency"
          },
          "termMonths": {
            "type": "integer",
            "description": "Duration of the lease in months.",
            "format": "int32",
            "example": 1
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "Frequency of repayments for the lease.",
            "example": "STANDARD"
          },
          "leasedAssetId": {
            "type": "string",
            "description": "Unique identifier for the asset being leased.",
            "example": "STANDARD"
          },
          "residualValue": {
            "description": "The residual value amount and currency at the end of the lease.",
            "$ref": "#/components/schemas/AmountAndCurrency"
          },
          "leaseTermMonths": {
            "type": "integer",
            "description": "Total number of months for the lease term.",
            "format": "int32",
            "example": 1
          },
          "requestContext": {
            "description": "Contextual information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the Corporate Lease Operation POST request body.",
        "example": {
          "customerId": "CUST-513303",
          "accountId": "ACC-808408",
          "productCode": "CHK-PREMIUM-US",
          "principal": {
            "amount": 100.0,
            "currency": "USD"
          },
          "termMonths": 1,
          "repaymentFrequency": "STANDARD",
          "leasedAssetId": "STANDARD",
          "residualValue": {
            "amount": 100.0,
            "currency": "USD"
          },
          "leaseTermMonths": 1,
          "requestContext": {
            "requestId": "a7461b6f-fbb1-5d25-8a58-f91677afe3ab",
            "correlationId": "20b82970-7a2d-5f07-9ce6-bf03cee14ac9",
            "idempotencyKey": "c65db711-f3ff-5a3e-b4e1-a7c48153f1ed",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-848909"
            }
          }
        }
      },
      "AmountAndCurrency": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The numerical value of the amount.",
            "example": 1000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency code (e.g., USD, EUR) for the amount.",
            "example": "USD"
          }
        },
        "description": "Schema for representing an amount and its currency."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req12345"
          },
          "correlationId": {
            "type": "string",
            "description": "ID for correlating requests and responses.",
            "example": "corr67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is idempotent.",
            "example": "idempotency-abc"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-09-28T12:34:56Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "core-banking"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request was initiated.",
            "example": "lease-management-app"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema for contextual information of the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel used.",
            "example": "channel100"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device200"
          }
        },
        "description": "Schema for representing channel information related to the request."
      },
      "CreateCorporateLeaseResponse_201": {
        "title": "Corporate Lease Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-536145"
          },
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account associated with the lease.",
            "example": "ACC-574595"
          },
          "productCode": {
            "type": "string",
            "description": "The product code associated with the lease.",
            "example": "CHK-PREMIUM-US"
          },
          "leasedAssetId": {
            "type": "string",
            "description": "The unique identifier for the leased asset.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "The resource identifier for tracking purposes.",
            "example": "RES-894989"
          },
          "status": {
            "type": "string",
            "description": "The current status of the lease operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp of when the lease was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Identifier for the response associated with this lease operation.",
                "example": "RESP123456"
              },
              "correlationId": {
                "type": "string",
                "description": "Correlation identifier for tracking across systems.",
                "example": "CORR789012"
              },
              "generatedAt": {
                "type": "string",
                "description": "The timestamp when the metadata was generated.",
                "example": "2023-10-01T12:31:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region where the lease was processed.",
                "example": "us-west-2"
              }
            },
            "description": "Additional metadata related to the lease operation.",
            "example": {
              "responseId": "754d4517-aa65-57ad-a242-6f0e02001a64",
              "correlationId": "20b82970-7a2d-5f07-9ce6-bf03cee14ac9",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "This schema represents the response for the corporate lease operation.",
        "example": {
          "customerId": "CUST-536145",
          "accountId": "ACC-574595",
          "productCode": "CHK-PREMIUM-US",
          "leasedAssetId": "STANDARD",
          "resourceId": "RES-894989",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "754d4517-aa65-57ad-a242-6f0e02001a64",
            "correlationId": "20b82970-7a2d-5f07-9ce6-bf03cee14ac9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "corporate-lease-create-corporate-lease"
        },
        "example": "corporate-lease-create-corporate-lease"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a JWT (JSON Web Token) as a bearer token to secure API requests. This scheme allows clients to authenticate by including a token in the 'Authorization' header of their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}