{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Servicing Payment Initiations-spec",
    "description": "The Servicing Payment Initiations API provides a comprehensive overview of payment initiation requests within the banking ecosystem. It allows developers to retrieve detailed information regarding various payment initiation transactions that have been processed. This API is particularly beneficial for financial institutions and service providers looking to monitor, manage, or analyze payment activities. Typical use cases include auditing payment activities, integrating with financial dashboards, and ensuring compliance with regulatory requirements.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/servicing/payment-initiation": {
      "get": {
        "tags": [
          "Payment Processing"
        ],
        "summary": "Initiates a payment processing request.",
        "description": "This endpoint allows clients to initiate a payment transaction within the servicing system. It manages the creation and submission of payment instructions, ensuring compliance with business rules and transaction integrity.",
        "operationId": "listServicingPaymentInitiations",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for initiating a payment. This should contain the necessary parameters and data structure as defined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListServicingPaymentInitiationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed and the payment initiation data is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListServicingPaymentInitiationsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListServicingPaymentInitiationsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the payment initiation operation using the GET method in application/json format.",
        "example": "{}"
      },
      "ListServicingPaymentInitiationsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of payment request items.",
            "example": [
              {
                "customerId": "CUST-342906",
                "caseId": "CASE-718548",
                "requestCategory": "STANDARD",
                "priority": "NORMAL",
                "originatingChannel": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/PaymentRequestItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting criteria applied to the list of items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the payment initiation operation which includes a list of payment requests, pagination information, sorting, and metadata.",
        "example": {
          "items": [
            {
              "customerId": "CUST-342906",
              "caseId": "CASE-718548",
              "requestCategory": "STANDARD",
              "priority": "NORMAL",
              "originatingChannel": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "b93142e8-7b3d-5d9b-83db-f4ad69c4702d",
            "correlationId": "12463d09-3f46-5973-bede-77f3df729c42",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentRequestItem": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "C123456"
          },
          "caseId": {
            "type": "string",
            "description": "Unique identifier for the case associated with the request.",
            "example": "CASE7890"
          },
          "requestCategory": {
            "type": "string",
            "description": "Category of the payment request.",
            "example": "Regular Payment"
          },
          "priority": {
            "type": "string",
            "description": "Priority level of the payment request.",
            "example": "High"
          },
          "originatingChannel": {
            "type": "string",
            "description": "Channel through which the payment request was initiated.",
            "example": "Mobile App"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the payment record.",
            "example": "Pending"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the payment request was last updated.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "Represents a payment request item with relevant details."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 20
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Information regarding pagination of the results."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating multiple requests and responses.",
            "example": "CORR654321"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request took place.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-search-payment-initiation"
        },
        "example": "payment-initiation-search-payment-initiation"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication scheme. It expects a JSON Web Token (JWT) to be provided in the authorization header of requests that require authentication. The token must be valid and properly signed.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}