{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Aggregation Customer Account Owner Details-v5-spec",
    "description": "MICROSERVICE-PROD-List Aggregation Customer Account Owner Details-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/{customerId}/accounts/{accountId}/owner/details": {
      "get": {
        "operationId": "listAggregationCustomerAccountOwnerDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          },
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListAggregationCustomerAccountOwnerDetailsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAggregationCustomerAccountOwnerDetailsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListAggregationCustomerAccountOwnerDetailsRequest": {
        "type": "string",
        "example": "{}"
      },
      "ListAggregationCustomerAccountOwnerDetailsResponse_200": {
        "type": "object",
        "properties": {
          "holders": {
            "type": "array",
            "example": [
              {
                "relationship": "STANDARD",
                "ownerName": "Northstar Banking Service",
                "firstName": "Northstar Banking Service",
                "middleName": "Northstar Banking Service",
                "lastName": "Northstar Banking Service",
                "suffix": "STANDARD",
                "nameClassification": "STANDARD",
                "nameClassificationconfidencescore": 100.0,
                "addresses": [
                  {
                    "ownerAddress": "STANDARD",
                    "type": "STANDARD",
                    "line1": "350 Fifth Avenue",
                    "line2": "Suite 4200",
                    "line3": "STANDARD",
                    "city": "New York",
                    "state": "STANDARD",
                    "postalCode": "10001",
                    "country": "STANDARD"
                  }
                ],
                "emails": [
                  {
                    "isPrimary": true,
                    "email": "olivia.bennett@northstar.example",
                    "emailType": "olivia.bennett@northstar.example"
                  }
                ],
                "phones": [
                  {
                    "type": "STANDARD",
                    "country": "STANDARD",
                    "phone": "+1-212-555-0147"
                  }
                ],
                "documentations": [
                  {
                    "taxId": "STANDARD",
                    "taxIdCountry": "STANDARD",
                    "governmentId": "STANDARD"
                  }
                ],
                "identityInsights": {
                  "requestRefId": "STANDARD",
                  "isEmailValid": true,
                  "emailFirstSeenDays": 100.0,
                  "emailDomainCreationDate": "olivia.bennett@northstar.example",
                  "emailToName": "olivia.bennett@northstar.example",
                  "ipRisk": true,
                  "ipRiskScore": 100.0,
                  "ipLastSeenDays": 100.0,
                  "code": "SUCCESS"
                }
              }
            ],
            "items": {
              "type": "object",
              "properties": {
                "relationship": {
                  "type": "string",
                  "example": "string"
                },
                "ownerName": {
                  "type": "string",
                  "example": "string"
                },
                "firstName": {
                  "type": "string",
                  "example": "string"
                },
                "middleName": {
                  "type": "string",
                  "example": "string"
                },
                "lastName": {
                  "type": "string",
                  "example": "string"
                },
                "suffix": {
                  "type": "string",
                  "example": "string"
                },
                "nameClassification": {
                  "type": "string",
                  "example": "string"
                },
                "nameClassificationconfidencescore": {
                  "type": "number",
                  "example": 0.0
                },
                "addresses": {
                  "type": "array",
                  "example": "string",
                  "items": {
                    "type": "object",
                    "properties": {
                      "ownerAddress": {
                        "type": "string",
                        "example": "string"
                      },
                      "type": {
                        "type": "string",
                        "example": "string"
                      },
                      "line1": {
                        "type": "string",
                        "example": "string"
                      },
                      "line2": {
                        "type": "string",
                        "example": "string"
                      },
                      "line3": {
                        "type": "string",
                        "example": "string"
                      },
                      "city": {
                        "type": "string",
                        "example": "string"
                      },
                      "state": {
                        "type": "string",
                        "example": "string"
                      },
                      "postalCode": {
                        "type": "string",
                        "example": "string"
                      },
                      "country": {
                        "type": "string",
                        "example": "string"
                      }
                    },
                    "example": "string"
                  }
                },
                "emails": {
                  "type": "array",
                  "example": "string",
                  "items": {
                    "type": "object",
                    "properties": {
                      "isPrimary": {
                        "type": "boolean",
                        "example": false
                      },
                      "email": {
                        "type": "string",
                        "example": "string"
                      },
                      "emailType": {
                        "type": "string",
                        "example": "string"
                      }
                    },
                    "example": "string"
                  }
                },
                "phones": {
                  "type": "array",
                  "example": "string",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "example": "string"
                      },
                      "country": {
                        "type": "string",
                        "example": "string"
                      },
                      "phone": {
                        "type": "string",
                        "example": "string"
                      }
                    },
                    "example": "string"
                  }
                },
                "documentations": {
                  "type": "array",
                  "example": "string",
                  "items": {
                    "type": "object",
                    "properties": {
                      "taxId": {
                        "type": "string",
                        "example": "string"
                      },
                      "taxIdCountry": {
                        "type": "string",
                        "example": "string"
                      },
                      "governmentId": {
                        "type": "string",
                        "example": "string"
                      }
                    },
                    "example": "string"
                  }
                },
                "identityInsights": {
                  "type": "object",
                  "properties": {
                    "requestRefId": {
                      "type": "string",
                      "example": "string"
                    },
                    "isEmailValid": {
                      "type": "boolean",
                      "example": false
                    },
                    "emailFirstSeenDays": {
                      "type": "number",
                      "example": 0.0
                    },
                    "emailDomainCreationDate": {
                      "type": "string",
                      "example": "string"
                    },
                    "emailToName": {
                      "type": "string",
                      "example": "string"
                    },
                    "ipRisk": {
                      "type": "boolean",
                      "example": false
                    },
                    "ipRiskScore": {
                      "type": "number",
                      "example": 0.0
                    },
                    "ipLastSeenDays": {
                      "type": "number",
                      "example": 0.0
                    },
                    "code": {
                      "type": "string",
                      "example": "string"
                    }
                  },
                  "example": "string"
                }
              },
              "example": "string"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "bf513432-dc6d-5a15-b126-d4fcb0a1549a",
              "correlationId": "b78fb59f-db64-5968-b9a8-77b390b2dc41",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "holders": [
            {
              "relationship": "STANDARD",
              "ownerName": "Northstar Banking Service",
              "firstName": "Northstar Banking Service",
              "middleName": "Northstar Banking Service",
              "lastName": "Northstar Banking Service",
              "suffix": "STANDARD",
              "nameClassification": "STANDARD",
              "nameClassificationconfidencescore": 100.0,
              "addresses": [
                {
                  "ownerAddress": "STANDARD",
                  "type": "STANDARD",
                  "line1": "350 Fifth Avenue",
                  "line2": "Suite 4200",
                  "line3": "STANDARD",
                  "city": "New York",
                  "state": "STANDARD",
                  "postalCode": "10001",
                  "country": "STANDARD"
                }
              ],
              "emails": [
                {
                  "isPrimary": true,
                  "email": "olivia.bennett@northstar.example",
                  "emailType": "olivia.bennett@northstar.example"
                }
              ],
              "phones": [
                {
                  "type": "STANDARD",
                  "country": "STANDARD",
                  "phone": "+1-212-555-0147"
                }
              ],
              "documentations": [
                {
                  "taxId": "STANDARD",
                  "taxIdCountry": "STANDARD",
                  "governmentId": "STANDARD"
                }
              ],
              "identityInsights": {
                "requestRefId": "STANDARD",
                "isEmailValid": true,
                "emailFirstSeenDays": 100.0,
                "emailDomainCreationDate": "olivia.bennett@northstar.example",
                "emailToName": "olivia.bennett@northstar.example",
                "ipRisk": true,
                "ipRiskScore": 100.0,
                "ipLastSeenDays": 100.0,
                "code": "SUCCESS"
              }
            }
          ],
          "metadata": {
            "responseId": "bf513432-dc6d-5a15-b126-d4fcb0a1549a",
            "correlationId": "b78fb59f-db64-5968-b9a8-77b390b2dc41",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-account-owner-details"
        },
        "example": "open-finance-api-get-account-owner-details"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}