{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Investor Relations Information API",
    "description": "The Investor Relations Information API facilitates access to essential data regarding corporate investor relations. This endpoint allows users to retrieve detailed information about investor activities, communications, and opportunities within the organization. Ideal for finance professionals, analysts, and stakeholders, this API is designed to support decision-making processes and enhance engagement with investors. By utilizing this API, users can efficiently source relevant data to analyze corporate performance and investor sentiment.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/corporate-relations/investor-relations": {
      "get": {
        "tags": [
          "Investor Relations"
        ],
        "summary": "Retrieve investor relations information.",
        "description": "Fetches detailed investor relations data including financial reports, key metrics, and corporate governance information, aimed at providing investors with the insights they need to make informed decisions.",
        "operationId": "getInvestorRelations",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for the Investor Relations GET operation contains parameters that are necessary for retrieving investor-related information. Ensure that the request body follows the specified schema to avoid any errors during processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetInvestorRelationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful, and the investor relations data is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetInvestorRelationsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetInvestorRelationsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the Investor Relations operations under corporate relations. It serves as a placeholder for JSON string data.",
        "example": "{}"
      },
      "GetInvestorRelationsResponse_200": {
        "title": "Investor Relations Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of stakeholder engagement items.",
            "example": [
              {
                "stakeholderId": "STANDARD",
                "engagementId": "STANDARD",
                "subject": "STANDARD",
                "scheduledAt": "2026-08-11T12:00:00Z",
                "relationshipOwnerId": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/EngagementItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting criteria applied to the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Schema representing the response from the Investor Relations GET operation, including a list of items, pagination details, sorting information, and metadata.",
        "example": {
          "items": [
            {
              "stakeholderId": "STANDARD",
              "engagementId": "STANDARD",
              "subject": "STANDARD",
              "scheduledAt": "2026-08-11T12:00:00Z",
              "relationshipOwnerId": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "9004de34-e5cd-5d1f-aac4-b0992aea42cb",
            "correlationId": "e85de834-e19e-511a-8fb6-0110b4ca43bb",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EngagementItem": {
        "title": "Engagement Item",
        "type": "object",
        "properties": {
          "stakeholderId": {
            "type": "string",
            "description": "The unique identifier of the stakeholder.",
            "example": "stakeholder_123"
          },
          "engagementId": {
            "type": "string",
            "description": "The unique identifier of the engagement.",
            "example": "engagement_456"
          },
          "subject": {
            "type": "string",
            "description": "The subject of the engagement.",
            "example": "Quarterly Review"
          },
          "scheduledAt": {
            "type": "string",
            "description": "The date and time when the engagement is scheduled.",
            "example": "2023-10-10T10:00:00Z"
          },
          "relationshipOwnerId": {
            "type": "string",
            "description": "The ID of the person managing the relationship with the stakeholder.",
            "example": "owner_789"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the engagement record.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of the last update to the engagement record.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "An object representing a single engagement with a stakeholder."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 20
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Information regarding the pagination of results."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response_abc"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request.",
            "example": "correlation_def"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata information regarding the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "investor-relations-search-investor-relations"
        },
        "example": "investor-relations-search-investor-relations"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method. A valid JSON Web Token (JWT) must be included in the Authorization header for requests, providing secure access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}