{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Business Contribution Analysis API",
    "description": "The Business Contribution Analysis API provides tools for generating comprehensive insights into the contributions of various business channels and factors. By submitting data through this API, users can gain a nuanced understanding of how different elements drive profitability and performance. This API serves finance teams, business analysts, and strategic planners looking to make data-informed decisions that enhance overall business efficacy. Key operations include submitting analysis requests and retrieving insights based on business performance metrics.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/business-analysis/contribution-analysis/analyses": {
      "post": {
        "tags": [
          "Business Analysis"
        ],
        "summary": "Create a new contribution analysis.",
        "description": "This endpoint allows users to create a new contribution analysis by providing the necessary data. The analysis will be conducted based on the input parameters and will help in understanding the contributions effectively.",
        "operationId": "createContributionAnalysis",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body requires the input data for performing a contribution analysis. The data provided should adhere to the specified schema to ensure accurate processing of the analysis.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateContributionAnalysisRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the analysis result.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateContributionAnalysisResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateContributionAnalysisRequest": {
        "title": "Contribution Analysis Request",
        "type": "object",
        "properties": {
          "analysisId": {
            "type": "string",
            "description": "Unique identifier for the analysis.",
            "example": "STANDARD"
          },
          "segmentId": {
            "type": "string",
            "description": "Identifier for the segment being analyzed.",
            "example": "STANDARD"
          },
          "periodStart": {
            "type": "string",
            "description": "Start date of the analysis period in ISO 8601 format.",
            "example": "2026-08-11"
          },
          "periodEnd": {
            "type": "string",
            "description": "End date of the analysis period in ISO 8601 format.",
            "example": "2026-08-11"
          },
          "baseCurrency": {
            "type": "string",
            "description": "Currency code for the base currency used in the analysis.",
            "example": "USD"
          },
          "scenario": {
            "type": "string",
            "description": "Scenario name that characterizes the analysis.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for contribution analysis in business operations.",
        "example": {
          "analysisId": "STANDARD",
          "segmentId": "STANDARD",
          "periodStart": "2026-08-11",
          "periodEnd": "2026-08-11",
          "baseCurrency": "USD",
          "scenario": "STANDARD",
          "requestContext": {
            "requestId": "de12c0da-5878-5b83-a716-f1b018a1b98c",
            "correlationId": "bc62be30-a1ca-57ec-acd0-80dfa70edd9a",
            "idempotencyKey": "f4ed337e-c425-5cd5-8693-7c807ca8c52c",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-155804"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "request-789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate multiple requests.",
            "example": "correlation-101"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of the request.",
            "example": "idempotency-202"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made in ISO 8601 format.",
            "example": "2023-01-01T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name of the source system making the request.",
            "example": "InternalSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the source application making the request.",
            "example": "BusinessApp"
          },
          "channel": {
            "description": "Details about the channel through which the request is made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Details about the request context for the analysis."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-303"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., 'Web', 'Mobile').",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device used to make the request.",
            "example": "device-404"
          }
        },
        "description": "Information regarding the channel used for the request."
      },
      "CreateContributionAnalysisResponse_200": {
        "type": "object",
        "properties": {
          "analysisId": {
            "type": "string",
            "description": "A unique identifier for the analysis.",
            "example": "STANDARD"
          },
          "segmentId": {
            "type": "string",
            "description": "The identifier for the segment being analyzed.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the analysis.",
            "example": "ACTIVE"
          },
          "completedAt": {
            "type": "string",
            "description": "The timestamp when the analysis was completed.",
            "example": "2026-09-15T14:30:00Z"
          },
          "findings": {
            "type": "array",
            "description": "An array of findings resulting from the analysis.",
            "example": [
              {
                "metric": "STANDARD",
                "value": 100.0,
                "unit": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/AnalysisFinding"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/AnalysisMetadata"
          }
        },
        "description": "Represents the response structure for the operations contribution analysis.",
        "example": {
          "analysisId": "STANDARD",
          "segmentId": "STANDARD",
          "status": "ACTIVE",
          "completedAt": "2026-09-15T14:30:00Z",
          "findings": [
            {
              "metric": "STANDARD",
              "value": 100.0,
              "unit": "STANDARD"
            }
          ],
          "metadata": {
            "responseId": "1d881ef0-2ab1-5fa6-96e2-469af96bb9e6",
            "correlationId": "bc62be30-a1ca-57ec-acd0-80dfa70edd9a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AnalysisFinding": {
        "type": "object",
        "properties": {
          "metric": {
            "type": "string",
            "description": "The metric associated with the finding.",
            "example": "revenue"
          },
          "value": {
            "type": "number",
            "description": "The value of the metric.",
            "example": 1000.0
          },
          "unit": {
            "type": "string",
            "description": "The unit of measurement for the metric.",
            "example": "USD"
          }
        },
        "description": "Represents an individual finding from the analysis."
      },
      "AnalysisMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "response-789"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request.",
            "example": "correlation-456"
          },
          "generatedAt": {
            "type": "string",
            "description": "When the response was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the analysis was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata associated with the analysis response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "contribution-analysis-analyze-contribution-analysis"
        },
        "example": "contribution-analysis-analyze-contribution-analysis"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the HTTP Bearer authentication scheme. A valid JSON Web Token (JWT) is required for authorization. Clients must include the token in the 'Authorization' header when making requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}