{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Cross-Channel Session Dialogue API",
    "description": "The Cross-Channel Session Dialogue API facilitates seamless interactions across various banking channels by managing ongoing session dialogues. This API allows clients to access and retrieve detailed information about user sessions, enhancing the customer experience by providing contextual insights. Typical consumers include banking applications and customer service platforms that require real-time session data. Use cases include assisting agents with customer inquiries and personalizing user interactions based on session history.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cross-channel/session-dialogue": {
      "get": {
        "tags": [
          "Cross-Channel Communication"
        ],
        "summary": "Retrieve session dialogue across channels.",
        "description": "This endpoint allows you to fetch the session dialogue associated with cross-channel interactions. It helps in understanding user behavior and improving communication strategies across various platforms.",
        "operationId": "getCrossChannelSessionDialogue",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body contains the necessary parameters to initiate a GET request for session dialogue information in a cross-channel context. The expected format is JSON, and it must comply with the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCrossChannelSessionDialogueRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved session dialogue data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCrossChannelSessionDialogueResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCrossChannelSessionDialogueRequest": {
        "type": "string",
        "description": "A string representing the request body for the GET operation in a cross-channel session dialogue.",
        "example": "{}"
      },
      "GetCrossChannelSessionDialogueResponse_200": {
        "title": "Cross-Channel Session Dialogue Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of session dialogue entries.",
            "example": [
              {
                "partyId": "PARTY-539791",
                "interactionId": "INT-980752",
                "channel": "STANDARD",
                "authenticationLevel": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/SessionDialogueItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationInfo"
          },
          "sort": {
            "type": "string",
            "description": "The sort order applied to the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "This schema represents the response structure for a successful GET request to retrieve cross-channel session dialogue data.",
        "example": {
          "items": [
            {
              "partyId": "PARTY-539791",
              "interactionId": "INT-980752",
              "channel": "STANDARD",
              "authenticationLevel": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "92011db9-6f44-52a5-a1ff-fe3004be9e80",
            "correlationId": "b1f17bcf-1b64-5476-810b-414c107541cb",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "SessionDialogueItem": {
        "title": "Session Dialogue Item",
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "Unique identifier for the party involved in the dialogue.",
            "example": "string"
          },
          "interactionId": {
            "type": "string",
            "description": "Unique identifier for the specific interaction.",
            "example": "string"
          },
          "channel": {
            "type": "string",
            "description": "The communication channel used for the interaction.",
            "example": "string"
          },
          "authenticationLevel": {
            "type": "string",
            "description": "The level of authentication for the interaction.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record (e.g., active, archived).",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the session dialogue item was last updated.",
            "example": "string"
          }
        },
        "description": "Represents a single entry in the session dialogue."
      },
      "PaginationInfo": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number of the results.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available across all pages.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Provides information regarding the pagination of the results."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to track the request across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Contains metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "session-dialogue-search-session-dialogue"
        },
        "example": "session-dialogue-search-session-dialogue"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication using a Bearer token (JWT - JSON Web Token). Clients can access protected resources by including a valid Bearer token in the Authorization header of their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}