{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Competitor Reviews Submission API",
    "description": "The Competitor Reviews Submission API enables businesses to contribute insights about competitor products through reviews. This endpoint is particularly valuable for market analysts and product managers who seek to gather competitive intelligence. Users can submit detailed reviews associated with specific competitors as part of comprehensive business analysis efforts. Integrating this data can enhance decision-making and strategic planning within an organization.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/business-analysis/competitor-analysis/{param1}/reviews": {
      "post": {
        "tags": [
          "Competitor Analysis"
        ],
        "summary": "Submit a review for a competitor analysis.",
        "description": "This endpoint allows users to submit a review related to a specific competitor analysis resource. It facilitates feedback collection to improve the analysis process and offerings.",
        "operationId": "createCompetitorAnalysisReviewForRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit reviews for a specific competitor analysis identified by RES-100045. The provided JSON payload should include all necessary information related to the review, such as rating, comments, and any additional metadata as defined in the associated schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCompetitorAnalysisReviewForRes100045Request"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted and is being processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCompetitorAnalysisReviewForRes100045Response_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCompetitorAnalysisReviewForRes100045Request": {
        "title": "Competitor Analysis Review Request Body",
        "type": "object",
        "properties": {
          "reviewReason": {
            "type": "string",
            "description": "The reason for the review being submitted.",
            "example": "STANDARD"
          },
          "reviewScope": {
            "type": "array",
            "description": "The scope of the review. Can include multiple areas of focus.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "Individual scope item for the review.",
              "example": "Customer feedback"
            }
          },
          "assignedReviewerId": {
            "type": "string",
            "description": "Identifier for the reviewer assigned to the review.",
            "example": "STANDARD"
          },
          "dueAt": {
            "type": "string",
            "description": "The due date for the review submission in ISO 8601 format.",
            "example": "2026-08-11T12:00:00Z"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for posting a competitor analysis review.",
        "example": {
          "reviewReason": "STANDARD",
          "reviewScope": [
            "STANDARD"
          ],
          "assignedReviewerId": "STANDARD",
          "dueAt": "2026-08-11T12:00:00Z",
          "requestContext": {
            "requestId": "dd95d5c7-b9b7-5e7d-ba84-70bca1d9a66d",
            "correlationId": "18eaff51-711c-5dfa-89c4-1cc2ec97dcf9",
            "idempotencyKey": "c10568a9-b4cc-5a3b-81c2-310fd4cafe5c",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-358662"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-98765"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple related requests.",
            "example": "corr-45678"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure that repeated requests are handled idempotently.",
            "example": "idempotency-unique-key"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp marking when the request was made in ISO 8601 format.",
            "example": "2023-10-25T14:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system where the request originated.",
            "example": "Internal CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "Feedback App"
          },
          "channel": {
            "description": "Details about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing contextual information for the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-789"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used (e.g., Web, Mobile, API).",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device making the request, if applicable.",
            "example": "device-123"
          }
        },
        "description": "Schema representing information about the channel used for the request."
      },
      "CreateCompetitorAnalysisReviewForRes100045Response_202": {
        "title": "Competitor Analysis Response",
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "A reference to the action taken in the competitor analysis.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "The type of action performed during the competitor analysis.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the competitor analysis action.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "The timestamp indicating when the analysis was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Contains metadata related to the competitor analysis process.",
            "$ref": "#/components/schemas/CompetitorAnalysisMetadata"
          }
        },
        "description": "This schema represents the response structure for the competitor analysis operation in the business analysis context.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "f570663e-7525-5b40-82e4-0404d239d659",
            "correlationId": "18eaff51-711c-5dfa-89c4-1cc2ec97dcf9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CompetitorAnalysisMetadata": {
        "title": "Competitor Analysis Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "respId456"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier to correlate with other related actions.",
            "example": "corrId789"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-05T14:49:00.000Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the analysis took place.",
            "example": "US-East"
          }
        },
        "description": "Metadata information for the competitor analysis."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint being called, used for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "competitor-analysis-review-competitor-analysis"
        },
        "example": "competitor-analysis-review-competitor-analysis"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is executing the request, useful for debugging and analytics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication mechanism, where the client sends a JSON Web Token (JWT) in the Authorization header. The server validates the token to provide access to secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}