{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Replace P2m Payment Intent By Payment Intent Id-v5-spec",
    "description": "MICROSERVICE-PROD-Replace P2m Payment Intent By Payment Intent Id-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/payment-intents/{paymentIntentId}": {
      "put": {
        "operationId": "replaceP2mPaymentIntentByPaymentIntentId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/paymentIntentId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceP2mPaymentIntentByPaymentIntentIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceP2mPaymentIntentByPaymentIntentIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ReplaceP2mPaymentIntentByPaymentIntentIdRequest": {
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "example": "MER-827483"
          },
          "outletId": {
            "type": "string",
            "example": "STANDARD"
          },
          "terminalId": {
            "type": "string",
            "example": "STANDARD"
          },
          "amount": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "example": "string"
              },
              "value": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "captureMethod": {
            "type": "string",
            "example": "STANDARD"
          },
          "channel": {
            "type": "string",
            "example": "STANDARD"
          },
          "allowedPaymentMethods": {
            "type": "array",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "example": "string"
            }
          },
          "customer": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "example": "string"
              },
              "name": {
                "type": "string",
                "example": "string"
              },
              "email": {
                "type": "string",
                "example": "string"
              },
              "phone": {
                "type": "string",
                "example": "string"
              },
              "riskSegment": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "id": "STANDARD",
              "name": "Northstar Banking Service",
              "email": "olivia.bennett@northstar.example",
              "phone": "+1-212-555-0147",
              "riskSegment": "STANDARD"
            }
          },
          "order": {
            "type": "object",
            "properties": {
              "merchantOrderId": {
                "type": "string",
                "example": "string"
              },
              "description": {
                "type": "string",
                "example": "string"
              },
              "items": {
                "type": "array",
                "example": "string",
                "items": {
                  "type": "object",
                  "properties": {
                    "itemId": {
                      "type": "string",
                      "example": "string"
                    },
                    "name": {
                      "type": "string",
                      "example": "string"
                    },
                    "description": {
                      "type": "string",
                      "example": "string"
                    },
                    "quantity": {
                      "type": "string",
                      "example": "string"
                    },
                    "unitPrice": {
                      "type": "object",
                      "properties": {
                        "currency": {
                          "type": "string",
                          "example": "string"
                        }
                      },
                      "example": "string"
                    }
                  },
                  "example": "string"
                }
              }
            },
            "example": {
              "merchantOrderId": "ORD-511863",
              "description": "Customer banking request processed successfully",
              "items": [
                {
                  "itemId": "STANDARD",
                  "name": "Northstar Banking Service",
                  "description": "Customer banking request processed successfully",
                  "quantity": "STANDARD",
                  "unitPrice": {
                    "currency": "USD"
                  }
                }
              ]
            }
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "f5a3b00b-e2c4-5ba3-90d7-554c473774f5",
              "correlationId": "16c24419-5501-5bec-9d86-e588701993bc",
              "idempotencyKey": "8d7ef886-9342-5d8d-89f0-ddd01f75a4f0",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-348275"
              }
            }
          }
        },
        "example": {
          "merchantId": "MER-827483",
          "outletId": "STANDARD",
          "terminalId": "STANDARD",
          "amount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "captureMethod": "STANDARD",
          "channel": "STANDARD",
          "allowedPaymentMethods": [
            "STANDARD"
          ],
          "customer": {
            "id": "STANDARD",
            "name": "Northstar Banking Service",
            "email": "olivia.bennett@northstar.example",
            "phone": "+1-212-555-0147",
            "riskSegment": "STANDARD"
          },
          "order": {
            "merchantOrderId": "ORD-511863",
            "description": "Customer banking request processed successfully",
            "items": [
              {
                "itemId": "STANDARD",
                "name": "Northstar Banking Service",
                "description": "Customer banking request processed successfully",
                "quantity": "STANDARD",
                "unitPrice": {
                  "currency": "USD"
                }
              }
            ]
          },
          "requestContext": {
            "requestId": "f5a3b00b-e2c4-5ba3-90d7-554c473774f5",
            "correlationId": "16c24419-5501-5bec-9d86-e588701993bc",
            "idempotencyKey": "8d7ef886-9342-5d8d-89f0-ddd01f75a4f0",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-348275"
            }
          }
        }
      },
      "ReplaceP2mPaymentIntentByPaymentIntentIdResponse_200": {
        "type": "object",
        "properties": {
          "paymentIntentId": {
            "type": "string",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "example": "MER-918902"
          },
          "outletId": {
            "type": "string",
            "example": "STANDARD"
          },
          "terminalId": {
            "type": "string",
            "example": "STANDARD"
          },
          "amount": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "example": "string"
              },
              "value": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "amountAuthorized": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "example": "string"
              },
              "value": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "amountCaptured": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "example": "string"
              },
              "value": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "amountRefunded": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "example": "string"
              },
              "value": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "captureMethod": {
            "type": "string",
            "example": "STANDARD"
          },
          "channel": {
            "type": "string",
            "example": "STANDARD"
          },
          "allowedPaymentMethods": {
            "type": "array",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "example": "string"
            }
          },
          "selectedPaymentMethod": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "example": "string"
              },
              "token": {
                "type": "string",
                "example": "string"
              },
              "issuerBankCode": {
                "type": "string",
                "example": "string"
              },
              "maskedIdentifier": {
                "type": "string",
                "example": "string"
              },
              "walletProvider": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "type": "STANDARD",
              "token": "STANDARD",
              "issuerBankCode": "CODE-817",
              "maskedIdentifier": "STANDARD",
              "walletProvider": "STANDARD"
            }
          },
          "customer": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "example": "string"
              },
              "name": {
                "type": "string",
                "example": "string"
              },
              "email": {
                "type": "string",
                "example": "string"
              },
              "phone": {
                "type": "string",
                "example": "string"
              },
              "riskSegment": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "id": "STANDARD",
              "name": "Northstar Banking Service",
              "email": "olivia.bennett@northstar.example",
              "phone": "+1-212-555-0147",
              "riskSegment": "STANDARD"
            }
          },
          "order": {
            "type": "object",
            "properties": {
              "merchantOrderId": {
                "type": "string",
                "example": "string"
              },
              "description": {
                "type": "string",
                "example": "string"
              },
              "items": {
                "type": "array",
                "example": "string",
                "items": {
                  "type": "object",
                  "properties": {
                    "itemId": {
                      "type": "string",
                      "example": "string"
                    },
                    "name": {
                      "type": "string",
                      "example": "string"
                    },
                    "description": {
                      "type": "string",
                      "example": "string"
                    },
                    "quantity": {
                      "type": "string",
                      "example": "string"
                    },
                    "unitPrice": {
                      "type": "object",
                      "properties": {
                        "currency": {
                          "type": "string",
                          "example": "string"
                        },
                        "value": {
                          "type": "string",
                          "example": "string"
                        }
                      },
                      "example": "string"
                    },
                    "totalAmount": {
                      "type": "object",
                      "properties": {
                        "currency": {
                          "type": "string",
                          "example": "string"
                        },
                        "value": {
                          "type": "string",
                          "example": "string"
                        }
                      },
                      "example": "string"
                    }
                  },
                  "example": "string"
                }
              }
            },
            "example": {
              "merchantOrderId": "ORD-993142",
              "description": "Customer banking request processed successfully",
              "items": [
                {
                  "itemId": "STANDARD",
                  "name": "Northstar Banking Service",
                  "description": "Customer banking request processed successfully",
                  "quantity": "STANDARD",
                  "unitPrice": {
                    "currency": "USD",
                    "value": "STANDARD"
                  },
                  "totalAmount": {
                    "currency": "USD",
                    "value": "STANDARD"
                  }
                }
              ]
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "128a9d9e-9f15-558d-9ae3-85774f8134c8",
              "correlationId": "16c24419-5501-5bec-9d86-e588701993bc",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "paymentIntentId": "STANDARD",
          "merchantId": "MER-918902",
          "outletId": "STANDARD",
          "terminalId": "STANDARD",
          "amount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "amountAuthorized": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "amountCaptured": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "amountRefunded": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "captureMethod": "STANDARD",
          "channel": "STANDARD",
          "allowedPaymentMethods": [
            "STANDARD"
          ],
          "selectedPaymentMethod": {
            "type": "STANDARD",
            "token": "STANDARD",
            "issuerBankCode": "CODE-817",
            "maskedIdentifier": "STANDARD",
            "walletProvider": "STANDARD"
          },
          "customer": {
            "id": "STANDARD",
            "name": "Northstar Banking Service",
            "email": "olivia.bennett@northstar.example",
            "phone": "+1-212-555-0147",
            "riskSegment": "STANDARD"
          },
          "order": {
            "merchantOrderId": "ORD-993142",
            "description": "Customer banking request processed successfully",
            "items": [
              {
                "itemId": "STANDARD",
                "name": "Northstar Banking Service",
                "description": "Customer banking request processed successfully",
                "quantity": "STANDARD",
                "unitPrice": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "totalAmount": {
                  "currency": "USD",
                  "value": "STANDARD"
                }
              }
            ]
          },
          "metadata": {
            "responseId": "128a9d9e-9f15-558d-9ae3-85774f8134c8",
            "correlationId": "16c24419-5501-5bec-9d86-e588701993bc",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "paymentIntentId": {
        "name": "paymentIntentId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-replace-payment-intent"
        },
        "example": "banking-p2m-openapi-replace-payment-intent"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}