{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Aisp Beneficiaries-spec",
    "description": "The Aisp Beneficiaries API allows clients to access a list of beneficiaries associated with an account. This functionality is crucial for applications that facilitate banking services, enabling users to view and select beneficiaries for transactions. It primarily serves financial institutions and third-party service providers that utilize open banking capabilities. By using this API, developers can enhance their applications with seamless access to beneficiary information, improving the user experience in payment and transfer processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/aisp/beneficiaries": {
      "get": {
        "tags": [
          "Beneficiaries Management"
        ],
        "summary": "Retrieve a list of beneficiaries.",
        "description": "This endpoint allows you to retrieve a comprehensive list of beneficiaries associated with the account. It can be used to view details about each beneficiary, facilitating better financial management and oversight.",
        "operationId": "listAispBeneficiaries",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body allows the client to retrieve a list of beneficiaries associated with the AISP. It is structured to ensure proper querying of the beneficiaries' data based on specified criteria.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListAispBeneficiariesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of beneficiaries.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAispBeneficiariesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListAispBeneficiariesRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation regarding beneficiaries.",
        "example": "{}"
      },
      "ListAispBeneficiariesResponse_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "Beneficiary": {
                "type": "array",
                "description": "A list of beneficiaries.",
                "items": {
                  "$ref": "#/components/schemas/Beneficiary"
                }
              }
            },
            "description": "Contains the data related to the beneficiaries.",
            "example": {
              "Beneficiary": [
                {
                  "AccountId": "ACC-744637",
                  "id": "STANDARD",
                  "type": "STANDARD",
                  "Reference": "STANDARD",
                  "CreditorAgent": {
                    "SchemeName": "Northstar Banking Service",
                    "Identification": "STANDARD",
                    "Name": "Northstar Banking Service",
                    "PostalAddress": {
                      "AddressType": "STANDARD",
                      "Department": "STANDARD",
                      "SubDepartment": "STANDARD",
                      "StreetName": "Northstar Banking Service",
                      "BuildingNumber": "STANDARD",
                      "BuildingName": "Northstar Banking Service",
                      "Floor": "STANDARD",
                      "UnitNumber": "STANDARD",
                      "Room": "STANDARD",
                      "PostBox": "STANDARD",
                      "TownLocationName": "Northstar Banking Service",
                      "DistrictName": "Northstar Banking Service",
                      "CareOf": "STANDARD",
                      "PostCode": "CODE-641",
                      "TownName": "Northstar Banking Service",
                      "CountrySubDivision": "STANDARD",
                      "Country": "STANDARD",
                      "AddressLine": [
                        "STANDARD"
                      ]
                    },
                    "LEI": "STANDARD"
                  },
                  "CreditorAccount": {
                    "SchemeName": "Northstar Banking Service",
                    "Identification": "STANDARD",
                    "Name": "Northstar Banking Service",
                    "SecondaryIdentification": "STANDARD",
                    "Proxy": {
                      "Identification": "STANDARD",
                      "Code": "SUCCESS",
                      "Type": "STANDARD"
                    }
                  }
                }
              ]
            }
          },
          "Links": {
            "type": "object",
            "properties": {
              "Self": {
                "type": "string",
                "description": "Link to the current resource."
              },
              "First": {
                "type": "string",
                "description": "Link to the first resource in the collection."
              }
            },
            "description": "Navigation links related to the response.",
            "example": {
              "Self": "https://example.com/resource",
              "First": "https://example.com/resource"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response."
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier to correlate with other operations."
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the response was generated."
              },
              "processingRegion": {
                "type": "string",
                "description": "The region where the processing was done."
              }
            },
            "description": "Additional metadata about the response.",
            "example": {
              "responseId": "6840b1b5-7ee2-5ce0-b74c-82056b805026",
              "correlationId": "508e66bb-908d-54b1-af7b-9b1504111296",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for retrieving beneficiaries in the system.",
        "example": {
          "Data": {
            "Beneficiary": [
              {
                "AccountId": "ACC-744637",
                "id": "STANDARD",
                "type": "STANDARD",
                "Reference": "STANDARD",
                "CreditorAgent": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "PostalAddress": {
                    "AddressType": "STANDARD",
                    "Department": "STANDARD",
                    "SubDepartment": "STANDARD",
                    "StreetName": "Northstar Banking Service",
                    "BuildingNumber": "STANDARD",
                    "BuildingName": "Northstar Banking Service",
                    "Floor": "STANDARD",
                    "UnitNumber": "STANDARD",
                    "Room": "STANDARD",
                    "PostBox": "STANDARD",
                    "TownLocationName": "Northstar Banking Service",
                    "DistrictName": "Northstar Banking Service",
                    "CareOf": "STANDARD",
                    "PostCode": "CODE-641",
                    "TownName": "Northstar Banking Service",
                    "CountrySubDivision": "STANDARD",
                    "Country": "STANDARD",
                    "AddressLine": [
                      "STANDARD"
                    ]
                  },
                  "LEI": "STANDARD"
                },
                "CreditorAccount": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "SecondaryIdentification": "STANDARD",
                  "Proxy": {
                    "Identification": "STANDARD",
                    "Code": "SUCCESS",
                    "Type": "STANDARD"
                  }
                }
              }
            ]
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource"
          },
          "metadata": {
            "responseId": "6840b1b5-7ee2-5ce0-b74c-82056b805026",
            "correlationId": "508e66bb-908d-54b1-af7b-9b1504111296",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Beneficiary": {
        "type": "object",
        "properties": {
          "AccountId": {
            "type": "string",
            "description": "Account identifier for the beneficiary."
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the beneficiary."
          },
          "type": {
            "type": "string",
            "description": "Type of the beneficiary."
          },
          "Reference": {
            "type": "string",
            "description": "Reference for the beneficiary."
          },
          "CreditorAgent": {
            "description": "Details about the creditor agent associated with the beneficiary.",
            "$ref": "#/components/schemas/CreditorAgent"
          },
          "CreditorAccount": {
            "description": "Details about the creditor account associated with the beneficiary.",
            "$ref": "#/components/schemas/CreditorAccount"
          }
        },
        "description": "Represents a beneficiary in the system."
      },
      "CreditorAgent": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "The scheme name of the creditor agent."
          },
          "Identification": {
            "type": "string",
            "description": "Identification number for the creditor agent."
          },
          "Name": {
            "type": "string",
            "description": "Name of the creditor agent."
          },
          "PostalAddress": {
            "description": "Postal address of the creditor agent.",
            "$ref": "#/components/schemas/PostalAddress"
          },
          "LEI": {
            "type": "string",
            "description": "Legal Entity Identifier (LEI) for the creditor agent."
          }
        },
        "description": "Represents a creditor agent's information."
      },
      "CreditorAccount": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "The scheme name of the creditor account."
          },
          "Identification": {
            "type": "string",
            "description": "Identification number for the creditor account."
          },
          "Name": {
            "type": "string",
            "description": "Name associated with the creditor account."
          },
          "SecondaryIdentification": {
            "type": "string",
            "description": "Secondary identification for the creditor account."
          },
          "Proxy": {
            "description": "Proxy information for the creditor account.",
            "$ref": "#/components/schemas/Proxy"
          }
        },
        "description": "Details about a creditor account."
      },
      "PostalAddress": {
        "type": "object",
        "properties": {
          "AddressType": {
            "type": "string",
            "description": "Type of address (e.g., residential, business)."
          },
          "Department": {
            "type": "string",
            "description": "Department name in the address."
          },
          "SubDepartment": {
            "type": "string",
            "description": "Subdepartment name in the address."
          },
          "StreetName": {
            "type": "string",
            "description": "Name of the street."
          },
          "BuildingNumber": {
            "type": "string",
            "description": "Building number."
          },
          "BuildingName": {
            "type": "string",
            "description": "Name of the building."
          },
          "Floor": {
            "type": "string",
            "description": "Floor number."
          },
          "UnitNumber": {
            "type": "string",
            "description": "Unit number within the building."
          },
          "Room": {
            "type": "string",
            "description": "Room number."
          },
          "PostBox": {
            "type": "string",
            "description": "Post box number."
          },
          "TownLocationName": {
            "type": "string",
            "description": "Name of the town location."
          },
          "DistrictName": {
            "type": "string",
            "description": "Name of the district."
          },
          "CareOf": {
            "type": "string",
            "description": "Care of address information."
          },
          "PostCode": {
            "type": "string",
            "description": "Postal code."
          },
          "TownName": {
            "type": "string",
            "description": "Name of the town."
          },
          "CountrySubDivision": {
            "type": "string",
            "description": "Subdivision of the country."
          },
          "Country": {
            "type": "string",
            "description": "Country of the address."
          },
          "AddressLine": {
            "type": "array",
            "description": "Additional lines of address.",
            "items": {
              "type": "string"
            }
          }
        },
        "description": "Represents a postal address."
      },
      "Proxy": {
        "type": "object",
        "properties": {
          "Identification": {
            "type": "string",
            "description": "Identification associated with the proxy."
          },
          "Code": {
            "type": "string",
            "description": "Code associated with the proxy."
          },
          "Type": {
            "type": "string",
            "description": "Type of the proxy."
          }
        },
        "description": "Represents proxy information for an account."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-api-get-beneficiaries"
        },
        "example": "accounts-api-get-beneficiaries"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, enabling secure access through JSON Web Tokens (JWT). Clients must include an authorization header with the format 'Bearer <token>' to authenticate to the API.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}