{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Pay Statement Submission API",
    "description": "The Customer Pay Statement Submission API enables businesses to facilitate the submission of pay statements on behalf of customers. This endpoint allows authorized users to create and submit pay statement documents for individual customers identified by their unique customer ID. Typical consumers include financial institutions, payroll service providers, and HR departments looking to streamline pay statement processing. By leveraging this API, organizations can enhance their payroll and financial reporting systems significantly.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/decisioning/customers/{customerId}/paystatement": {
      "post": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Generate a pay statement for a specific customer.",
        "description": "This endpoint allows you to generate a detailed pay statement for the specified customer. It retrieves the necessary financial data related to the customer's transactions and presents it in a structured format, suitable for review or record-keeping.",
        "operationId": "generateCustomerPayStatementCUST100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit a pay statement for the customer identified by CUST-100045. It requires specific details in JSON format to process the customer's payment statement accurately.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateCustomerPayStatementCUST100045Request"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted for processing and will be completed asynchronously.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateCustomerPayStatementCUST100045Response_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GenerateCustomerPayStatementCUST100045Request": {
        "type": "object",
        "properties": {
          "paystatementReport": {
            "$ref": "#/components/schemas/PaystatementReport"
          },
          "reportCustomFields": {
            "type": "array",
            "example": [
              {
                "label": "STANDARD",
                "value": "STANDARD",
                "shown": true
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CustomField"
            }
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for generating pay statement reports.",
        "example": {
          "paystatementReport": {
            "assetIds": [
              "STANDARD"
            ],
            "extractEarnings": true,
            "extractDeductions": true,
            "extractDirectDeposit": true
          },
          "reportCustomFields": [
            {
              "label": "STANDARD",
              "value": "STANDARD",
              "shown": true
            }
          ],
          "requestContext": {
            "requestId": "c947a7b5-785d-5d3b-b768-93b2919fad10",
            "correlationId": "98584660-cde6-5dbe-874f-d2b5b0b4c790",
            "idempotencyKey": "03a2a6a6-b9ad-528a-a93c-2cd1ca7ad3b2",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-392918"
            }
          }
        }
      },
      "PaystatementReport": {
        "title": "Pay Statement Report",
        "type": "object",
        "properties": {
          "assetIds": {
            "type": "array",
            "description": "List of asset IDs included in the pay statement report.",
            "items": {
              "type": "string",
              "example": "string"
            }
          },
          "extractEarnings": {
            "type": "boolean",
            "description": "Indicates whether earnings should be included in the report.",
            "example": false
          },
          "extractDeductions": {
            "type": "boolean",
            "description": "Indicates whether deductions should be included in the report.",
            "example": false
          },
          "extractDirectDeposit": {
            "type": "boolean",
            "description": "Indicates whether direct deposits should be included in the report.",
            "example": false
          }
        },
        "description": "Schema defining the structure of the pay statement report."
      },
      "CustomField": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "description": "The label for the custom field.",
            "example": "Custom Label"
          },
          "value": {
            "type": "string",
            "description": "The value for the custom field.",
            "example": "Custom Value"
          },
          "shown": {
            "type": "boolean",
            "description": "Flag indicating whether the custom field should be displayed.",
            "example": true
          }
        },
        "description": "Schema representing a custom field in the report."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking related requests.",
            "example": "corr-67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the request is processed only once.",
            "example": "idemp-abcde"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier of the system that made the request.",
            "example": "SystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier of the application that made the request.",
            "example": "AppB"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request being made."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel used for the request.",
            "example": "channel1"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel used for the request (e.g., mobile, web).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device123"
          }
        },
        "description": "Schema representing the channel information related to the request."
      },
      "GenerateCustomerPayStatementCUST100045Response_202": {
        "title": "Pay Statement Response",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for the pay statement.",
            "example": "STANDARD"
          },
          "customerType": {
            "type": "string",
            "description": "The type of customer (e.g., individual, business).",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "integer",
            "description": "The unique identifier for the customer.",
            "format": "int32",
            "example": 1
          },
          "requestId": {
            "type": "string",
            "description": "The identifier for the request associated with this pay statement.",
            "example": "08e1e146-34c3-527a-ad86-217803b86842"
          },
          "requesterName": {
            "type": "string",
            "description": "The name of the person who requested the pay statement.",
            "example": "Northstar Banking Service"
          },
          "endUser": {
            "description": "Details of the end user associated with the pay statement.",
            "$ref": "#/components/schemas/EndUser"
          },
          "createdDate": {
            "type": "integer",
            "description": "The timestamp when the pay statement was created.",
            "format": "int32",
            "example": 1
          },
          "title": {
            "type": "string",
            "description": "The title or description of the pay statement.",
            "example": "Banking operation completed"
          },
          "consumerId": {
            "type": "string",
            "description": "The unique identifier for the consumer.",
            "example": "STANDARD"
          },
          "consumerSsn": {
            "type": "string",
            "description": "The Social Security Number (SSN) of the consumer.",
            "example": "STANDARD"
          },
          "consumerDetails": {
            "description": "Additional details about the consumer associated with the pay statement.",
            "$ref": "#/components/schemas/ConsumerDetails"
          },
          "disputeStatement": {
            "type": "string",
            "description": "A statement concerning any disputes regarding the pay statement.",
            "example": "STANDARD"
          },
          "type": {
            "type": "string",
            "description": "The type of the pay statement (e.g., regular, corrected).",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the pay statement (e.g., pending, completed).",
            "example": "ACTIVE"
          },
          "constraints": {
            "description": "Constraints related to the pay statement operations.",
            "$ref": "#/components/schemas/Constraints"
          },
          "metadata": {
            "description": "Metadata associated with the pay statement response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response of a pay statement request, containing detailed information about the customer, requested operations, and associated metadata.",
        "example": {
          "id": "STANDARD",
          "customerType": "STANDARD",
          "customerId": 1,
          "requestId": "08e1e146-34c3-527a-ad86-217803b86842",
          "requesterName": "Northstar Banking Service",
          "endUser": {
            "name": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "email": "olivia.bennett@northstar.example",
            "url": "https://banking.northstar.example/callbacks/status"
          },
          "createdDate": 1,
          "title": "Banking operation completed",
          "consumerId": "STANDARD",
          "consumerSsn": "STANDARD",
          "consumerDetails": {
            "id": "STANDARD",
            "firstName": "Northstar Banking Service",
            "middleName": "Northstar Banking Service",
            "lastName": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "ssn": "STANDARD",
            "email": "olivia.bennett@northstar.example"
          },
          "disputeStatement": "STANDARD",
          "type": "STANDARD",
          "status": "ACTIVE",
          "constraints": {
            "paystatementReport": {
              "assetIds": [
                "STANDARD"
              ],
              "extractEarnings": true,
              "extractDeductions": true,
              "extractDirectDeposit": true
            }
          },
          "metadata": {
            "responseId": "450095eb-7814-5e15-a18e-fd5e16bb8387",
            "correlationId": "98584660-cde6-5dbe-874f-d2b5b0b4c790",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EndUser": {
        "title": "End User",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the end user.",
            "example": "string"
          },
          "address": {
            "type": "string",
            "description": "The street address of the end user.",
            "example": "string"
          },
          "city": {
            "type": "string",
            "description": "The city where the end user resides.",
            "example": "string"
          },
          "state": {
            "type": "string",
            "description": "The state where the end user resides.",
            "example": "string"
          },
          "zip": {
            "type": "string",
            "description": "The ZIP code for the end user's address.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "The phone number of the end user.",
            "example": "string"
          },
          "email": {
            "type": "string",
            "description": "The email address of the end user.",
            "example": "string"
          },
          "url": {
            "type": "string",
            "description": "A URL associated with the end user.",
            "example": "string"
          }
        },
        "description": "Schema containing details of the end user associated with the pay statement."
      },
      "ConsumerDetails": {
        "title": "Consumer Details",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for the consumer.",
            "example": "string"
          },
          "firstName": {
            "type": "string",
            "description": "The first name of the consumer.",
            "example": "string"
          },
          "middleName": {
            "type": "string",
            "description": "The middle name of the consumer.",
            "example": "string"
          },
          "lastName": {
            "type": "string",
            "description": "The last name of the consumer.",
            "example": "string"
          },
          "address": {
            "type": "string",
            "description": "The street address of the consumer.",
            "example": "string"
          },
          "city": {
            "type": "string",
            "description": "The city where the consumer resides.",
            "example": "string"
          },
          "state": {
            "type": "string",
            "description": "The state where the consumer resides.",
            "example": "string"
          },
          "zip": {
            "type": "string",
            "description": "The ZIP code for the consumer's address.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "The phone number of the consumer.",
            "example": "string"
          },
          "ssn": {
            "type": "string",
            "description": "The Social Security Number (SSN) of the consumer.",
            "example": "string"
          },
          "email": {
            "type": "string",
            "description": "The email address of the consumer.",
            "example": "string"
          }
        },
        "description": "Schema containing detailed information about the consumer associated with the pay statement."
      },
      "Constraints": {
        "title": "Constraints",
        "type": "object",
        "properties": {
          "paystatementReport": {
            "description": "Specifications for generating the pay statement report.",
            "$ref": "#/components/schemas/PaystatementReport"
          }
        },
        "description": "Schema defining constraints related to the pay statement operations."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The ID used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Schema representing metadata associated with the pay statement response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-generate-pay-statement-report"
        },
        "example": "open-finance-api-generate-pay-statement-report"
      },
      "X-Runtime-App": {
        "description": "The name of the application that generated the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Token for authentication. The token should be provided in the 'Authorization' header as 'Bearer {token}', and it is expected to be a JSON Web Token (JWT).",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}