{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Partner Application-spec",
    "description": "The Partner Application Management API enables businesses to initiate and submit applications for partnership programs. This API facilitates the creation of partner applications, allowing organizations to engage with potential partners efficiently. Users can utilize this endpoint to streamline the onboarding process, ensuring that all necessary application details are captured accurately. Typical consumers include business developers and partnership managers looking to enhance their partner ecosystems.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/partners/applications": {
      "post": {
        "tags": [
          "Partnership Management"
        ],
        "summary": "Create a new partner application.",
        "description": "This endpoint allows users to submit a new application for partnership. The request should include all necessary details to evaluate the application.",
        "operationId": "createPartnerApplication",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit new partner application data. It should contain all required fields necessary for creating a partner application. Please ensure that the data format adheres to the defined schema to avoid validation errors.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePartnerApplicationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully and available for use.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePartnerApplicationResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreatePartnerApplicationRequest": {
        "title": "Application Submission Request",
        "type": "object",
        "properties": {
          "appDescription": {
            "type": "string",
            "description": "Description of the application.",
            "example": "STANDARD"
          },
          "appName": {
            "type": "string",
            "description": "Name of the application.",
            "example": "Northstar Banking Service"
          },
          "appUrl": {
            "type": "string",
            "description": "URL where the application can be accessed.",
            "example": "https://banking.northstar.example/callbacks/status"
          },
          "ownerAddressLine1": {
            "type": "string",
            "description": "First line of the owner's address.",
            "example": "STANDARD"
          },
          "ownerAddressLine2": {
            "type": "string",
            "description": "Second line of the owner's address (optional).",
            "example": "STANDARD"
          },
          "ownerCity": {
            "type": "string",
            "description": "City where the owner is located.",
            "example": "STANDARD"
          },
          "ownerCountry": {
            "type": "string",
            "description": "Country where the owner is located.",
            "example": "STANDARD"
          },
          "ownerName": {
            "type": "string",
            "description": "Name of the application owner.",
            "example": "Northstar Banking Service"
          },
          "ownerPostalCode": {
            "type": "string",
            "description": "Postal code of the owner's address.",
            "example": "CODE-126"
          },
          "ownerState": {
            "type": "string",
            "description": "State where the owner is located.",
            "example": "STANDARD"
          },
          "image": {
            "type": "string",
            "description": "URL of an image representing the application.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for submitting a new application.",
        "example": {
          "appDescription": "STANDARD",
          "appName": "Northstar Banking Service",
          "appUrl": "https://banking.northstar.example/callbacks/status",
          "ownerAddressLine1": "STANDARD",
          "ownerAddressLine2": "STANDARD",
          "ownerCity": "STANDARD",
          "ownerCountry": "STANDARD",
          "ownerName": "Northstar Banking Service",
          "ownerPostalCode": "CODE-126",
          "ownerState": "STANDARD",
          "image": "STANDARD",
          "requestContext": {
            "requestId": "b24ef130-5a90-5793-915d-3518b89f652f",
            "correlationId": "65602838-6c0d-5704-ad20-c7c8ae73b98b",
            "idempotencyKey": "fa86c645-e902-513b-92cf-90c15f44db74",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-451820"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating related requests.",
            "example": "corr-67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to maintain idempotency of the request.",
            "example": "idempotency-abc123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name of the system from which the request originated.",
            "example": "External CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application that sent the request.",
            "example": "Client App"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the contextual information related to a request."
      },
      "Channel": {
        "title": "Request Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-xyz"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device making the request.",
            "example": "device-12345"
          }
        },
        "description": "Schema representing the information about the channel used for the request."
      },
      "CreatePartnerApplicationResponse_201": {
        "title": "Application Response",
        "type": "object",
        "properties": {
          "preAppId": {
            "type": "integer",
            "description": "The unique identifier for the pre-application.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The current status of the application.",
            "example": "ACTIVE"
          },
          "metadata": {
            "description": "Additional metadata related to the application response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "The response schema for successfully creating an application.",
        "example": {
          "preAppId": 1,
          "status": "ACTIVE",
          "metadata": {
            "responseId": "e0dfe30d-c701-5d26-aa27-7be292355c7b",
            "correlationId": "65602838-6c0d-5704-ad20-c7c8ae73b98b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate the request with its response.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the application was processed.",
            "example": "string"
          }
        },
        "description": "Metadata information associated with the application response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint associated with this response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-register-app"
        },
        "example": "open-finance-api-register-app"
      },
      "X-Runtime-App": {
        "description": "Name of the application that processed this request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that utilizes JSON Web Tokens (JWT) as a means of securely transmitting information between parties. Ensure that valid tokens are included in the Authorization header for accessing secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}