{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Market Operation Mutual Fund Administration-spec",
    "description": "The Market Operation Management API facilitates the administration of mutual fund operations, enabling users to efficiently manage market transactions. Through this endpoint, users can execute actions related to mutual fund administration, such as initiating fund setups and updating market operation details. This API is particularly useful for financial institutions, investment firms, and fund managers looking to streamline their mutual fund operations. Developers can integrate this functionality into their applications to enhance financial service offerings.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-operations/mutual-fund-administration": {
      "post": {
        "tags": [
          "Mutual Fund Operations"
        ],
        "summary": "Create a new mutual fund administration record.",
        "description": "This endpoint allows users to create a new record for mutual fund administration. It requires specific details and parameters that define the attributes of the mutual fund. Upon successful creation, the record will be stored and can be managed subsequently through other endpoints.",
        "operationId": "createMarketOperationMutualFundAdministration",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for initiating mutual fund administration operations. This request includes all necessary parameters required for processing mutual fund transactions within the market operations framework.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMarketOperationMutualFundAdministrationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource successfully created in the mutual fund administration.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateMarketOperationMutualFundAdministrationResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateMarketOperationMutualFundAdministrationRequest": {
        "title": "Mutual Fund Administration Request Body",
        "type": "object",
        "properties": {
          "fundId": {
            "type": "string",
            "description": "Unique identifier for the mutual fund.",
            "example": "STANDARD"
          },
          "shareClassId": {
            "type": "string",
            "description": "Identifier for the specific share class of the mutual fund.",
            "example": "STANDARD"
          },
          "valuationDate": {
            "type": "string",
            "description": "Date for which the valuation is being requested.",
            "example": "2026-09-15"
          },
          "netAssetValue": {
            "$ref": "#/components/schemas/NetAssetValue"
          },
          "unitsOutstanding": {
            "type": "integer",
            "description": "Total number of units outstanding for the mutual fund.",
            "format": "int32",
            "example": 1
          },
          "administratorId": {
            "type": "string",
            "description": "Identifier for the administrator managing the mutual fund.",
            "example": "STANDARD"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Payload for the Mutual Fund Administration operation that includes details about the fund, valuation, NAV, units outstanding, and request context.",
        "example": {
          "fundId": "STANDARD",
          "shareClassId": "STANDARD",
          "valuationDate": "2026-09-15",
          "netAssetValue": {
            "amount": 100.0,
            "currency": "USD"
          },
          "unitsOutstanding": 1,
          "administratorId": "STANDARD",
          "requestContext": {
            "requestId": "ca072459-c7c4-5101-8ca9-e937a0a23c9d",
            "correlationId": "ac47983e-aad6-59f8-b6bb-f8f48edd513a",
            "idempotencyKey": "722bb513-0404-5fcf-8c82-7e23d8d2e881",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-176423"
            }
          }
        }
      },
      "NetAssetValue": {
        "title": "Net Asset Value",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The total value of the net assets.",
            "example": 1500.75
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the net asset value is denominated.",
            "example": "USD"
          }
        },
        "description": "Contains the amount and currency for the net asset value of the mutual fund."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ_12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests.",
            "example": "CORR_67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the operation is idempotent.",
            "example": "IDEMPOTENT_001"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "AccountingSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application that initiated the request.",
            "example": "InvestmentManagementApp"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Provides details about the request, including identifiers and source information."
      },
      "Channel": {
        "title": "Request Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "CH_001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device from which the request was made.",
            "example": "DEVICE_12345"
          }
        },
        "description": "Information about the channel used for the request."
      },
      "CreateMarketOperationMutualFundAdministrationResponse_201": {
        "type": "object",
        "properties": {
          "fundId": {
            "type": "string",
            "description": "Unique identifier for the mutual fund.",
            "example": "STANDARD"
          },
          "shareClassId": {
            "type": "string",
            "description": "Identifier for the share class of the mutual fund.",
            "example": "STANDARD"
          },
          "administratorId": {
            "type": "string",
            "description": "Identifier for the administrator managing the mutual fund.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "Identifier for the resource associated with the operation.",
            "example": "RES-245425"
          },
          "status": {
            "type": "string",
            "description": "Current status of the operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the operation response.",
            "$ref": "#/components/schemas/OperationMetadata"
          }
        },
        "description": "Response schema for successful mutual fund administration operations.",
        "example": {
          "fundId": "STANDARD",
          "shareClassId": "STANDARD",
          "administratorId": "STANDARD",
          "resourceId": "RES-245425",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "5b5f35b2-e34b-5746-ba23-1dece2abb22b",
            "correlationId": "ac47983e-aad6-59f8-b6bb-f8f48edd513a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "OperationMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating related operations.",
            "example": "CORR789012"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the operation was processed.",
            "example": "US-West"
          }
        },
        "description": "Metadata information for tracking and processing the operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "mutual-fund-administration-create-mutual-fund-administration"
        },
        "example": "mutual-fund-administration-create-mutual-fund-administration"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication mechanism. A token generated by an authorization server, often in the form of a JSON Web Token (JWT), should be included in the Authorization header of requests to access secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}