{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Deposit Lending By Loan Id-spec",
    "description": "This API allows users to update the deposit lending details associated with a specific loan identified by its loan ID. With this operation, financial institutions can modify relevant information such as loan terms, interest rates, or payment schedules in real-time. This service is particularly useful for loan administrators and customer service representatives who need to maintain accurate lending data. By ensuring that deposit lending information is up-to-date, businesses can enhance their decision-making processes and support customer needs more effectively.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/loan/{loanId}": {
      "patch": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Update Loan Details",
        "description": "This endpoint allows users to update the details of a specific loan identified by its unique ID. The operation can modify various attributes of the loan, ensuring it reflects the latest information as required by the users.",
        "operationId": "updateDepositLendingByLoanId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/loanId"
          }
        ],
        "requestBody": {
          "description": "This request body allows you to update the details of a specific loan identified by LOAN-500045. Ensure you provide the necessary fields to successfully modify the loan's attributes.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDepositLendingByLoanIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful, and the loan details have been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateDepositLendingByLoanIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateDepositLendingByLoanIdRequest": {
        "type": "object",
        "properties": {
          "changes": {
            "description": "Details of the changes to be made to the loan.",
            "$ref": "#/components/schemas/LoanChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for requesting the change.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time at which the changes take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the user or system that requested the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the request body of the PATCH operation to update loan details.",
        "example": {
          "changes": {
            "customerId": "CUST-774994",
            "accountId": "ACC-948757",
            "productCode": "CHK-PREMIUM-US"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "4699e28d-1fa8-5dce-aa1b-de03e61f1d16",
            "correlationId": "b1d4dae8-da71-5e55-91ff-99e0bf7d9db3",
            "idempotencyKey": "7857949f-5e36-5eed-82be-d9e911d592db",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-369240"
            }
          }
        }
      },
      "LoanChanges": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Identifier of the customer to which the loan belongs.",
            "example": "customer456"
          },
          "accountId": {
            "type": "string",
            "description": "Identifier of the loan account.",
            "example": "account789"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the type of loan product.",
            "example": "HOME_LOAN"
          }
        },
        "description": "Schema representing the changes to be applied to a loan."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate logs related to this request.",
            "example": "corr67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the idempotency of the request.",
            "example": "idempotency-key-abc"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-01T09:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier of the source system initiating the request.",
            "example": "XYZ_System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application that made the request.",
            "example": "LoanManagementApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema containing context information regarding the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier of the channel used.",
            "example": "channel001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel, e.g., Web, Mobile, API.",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used, if applicable.",
            "example": "device1234"
          }
        },
        "description": "Schema containing details about the channel used for the request."
      },
      "UpdateDepositLendingByLoanIdResponse_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for a PATCH operation on a loan.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "9a94f4c1-325e-5d14-8af4-6952d27ed849",
            "correlationId": "b1d4dae8-da71-5e55-91ff-99e0bf7d9db3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Schema that contains metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "loanId": {
        "name": "loanId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "loan-update-loan"
        },
        "example": "loan-update-loan"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token for authentication, specifically in the JSON Web Token (JWT) format. Clients must include this token in the Authorization header of their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}