{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Update Document Directory API",
    "description": "The Update Document Directory API allows for the management and modification of document directories within the banking system. This API endpoint enables users to update existing directory records by providing the necessary parameters. It is primarily designed for banking applications that require dynamic document directory management to keep records up to date. Typical consumers of this API include banking software developers and financial institutions looking to enhance their document management capabilities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/documents/document-directory/{param1}": {
      "put": {
        "tags": [
          "Document Management"
        ],
        "summary": "Update Document Directory Entry",
        "description": "This operation allows you to update the details of a specific document directory entry identified by its unique resource ID. Ensure that the data provided in the request body conforms to the expected schema to successfully modify the entry.",
        "operationId": "updateDocumentDirectoryRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the document directory for the specified resource. It contains the necessary details for the update operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDocumentDirectoryRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and the document is updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateDocumentDirectoryRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateDocumentDirectoryRes100045Request": {
        "title": "Document Update Request",
        "type": "object",
        "properties": {
          "documentId": {
            "type": "string",
            "description": "Unique identifier for the document.",
            "example": "DOC-241549"
          },
          "documentType": {
            "type": "string",
            "description": "Type of the document.",
            "example": "STANDARD"
          },
          "classification": {
            "type": "string",
            "description": "Classification level of the document.",
            "example": "STANDARD"
          },
          "retentionClass": {
            "type": "string",
            "description": "Retention class assigned to the document.",
            "example": "STANDARD"
          },
          "ownerId": {
            "type": "string",
            "description": "Identifier of the owner of the document.",
            "example": "STANDARD"
          },
          "fileName": {
            "type": "string",
            "description": "File name of the document.",
            "example": "Northstar Banking Service"
          },
          "mediaType": {
            "type": "string",
            "description": "Media type of the document.",
            "example": "STANDARD"
          },
          "checksumSha256": {
            "type": "string",
            "description": "SHA256 checksum of the document file.",
            "example": "STANDARD"
          },
          "requestContext": {
            "type": "object",
            "description": "Context of the request containing metadata.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for updating a document in the document directory.",
        "example": {
          "documentId": "DOC-241549",
          "documentType": "STANDARD",
          "classification": "STANDARD",
          "retentionClass": "STANDARD",
          "ownerId": "STANDARD",
          "fileName": "Northstar Banking Service",
          "mediaType": "STANDARD",
          "checksumSha256": "STANDARD",
          "requestContext": {
            "requestId": "9657faae-5322-51f8-a32e-4ac9a985a189",
            "correlationId": "53d7d2db-7c42-5f69-9b34-f25c491a4e44",
            "idempotencyKey": "b41e67ce-3ca0-5edb-9028-abcb92e9dc63",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-332087"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-98765"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate logs related to the request.",
            "example": "corr-54321"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key that ensures the request is idempotent.",
            "example": "idempotent-key-abc"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-11T10:30:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that initiated the request.",
            "example": "systemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "appX"
          },
          "channel": {
            "type": "object",
            "description": "Channel information through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Metadata context for the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-111"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used for the request.",
            "example": "device-222"
          }
        },
        "description": "Details of the channel used for the request."
      },
      "UpdateDocumentDirectoryRes100045Response_200": {
        "type": "object",
        "properties": {
          "documentId": {
            "type": "string",
            "description": "Unique identifier of the document.",
            "example": "DOC-214688"
          },
          "ownerId": {
            "type": "string",
            "description": "Identifier of the owner of the document.",
            "example": "STANDARD"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the document.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "Current status of the document.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the document was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/DocumentMetadata"
          }
        },
        "description": "Schema representing the response for successfully updating a document.",
        "example": {
          "documentId": "DOC-214688",
          "ownerId": "STANDARD",
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "c24252c5-c5fa-55ee-b1db-a1f7a3167b0c",
            "correlationId": "53d7d2db-7c42-5f69-9b34-f25c491a4e44",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "DocumentMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the document was processed.",
            "example": "string"
          }
        },
        "description": "Schema representing metadata associated with the document."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed, which can be used for tracking and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "document-directory-upsert-document-directory-record"
        },
        "example": "document-directory-upsert-document-directory-record"
      },
      "X-Runtime-App": {
        "description": "The name of the runtime application making the request, helpful for identifying the source of the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using JSON Web Tokens (JWT) for securing API endpoints. Clients should include a valid JWT token in the Authorization header to gain access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}