{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Replace Notification Subscriptions Webhook Event Statu-v5-spec",
    "description": "The Notification Subscription Status Update API allows clients to modify the status of a specific webhook event within a notification subscription. By utilizing this endpoint, consumers can efficiently manage and control the delivery of event notifications based on their status. Typical use cases involve adjusting the event status for integrations and applications that require real-time updates. This API is essential for developers maintaining alert mechanisms in response to significant events, ensuring they stay informed and responsive to changes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/notification-subscriptions/webhooks/{webhookId}/events/{eventId}/status": {
      "put": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Update the status of a webhook event.",
        "description": "This operation allows you to update the status of a specific webhook event identified by RES-100045. It is useful for indicating the current processing state or outcomes, ensuring proper tracking and handling of webhook events.",
        "operationId": "replaceNotificationSubscriptionsWebhookEventStatu",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/webhookId"
          },
          {
            "$ref": "#/components/parameters/eventId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the status of a specific event identified by RES-100045. It must contain the necessary data to communicate the new status and potentially other related information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceNotificationSubscriptionsWebhookEventStatuRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and the status updated.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceNotificationSubscriptionsWebhookEventStatuResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ReplaceNotificationSubscriptionsWebhookEventStatuRequest": {
        "title": "Update Status Request Body",
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "The status to be updated.",
            "example": "ACTIVE"
          },
          "requestContext": {
            "description": "The context of the request including identifiers and metadata.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "The request body for updating the status of an operation in the webhook.",
        "example": {
          "status": "ACTIVE",
          "requestContext": {
            "requestId": "804dfced-a245-510a-9428-3f2b33bec155",
            "correlationId": "ac2686b4-153a-5886-9a54-fb35856eee7c",
            "idempotencyKey": "d7e78fa8-7f21-5349-82c1-39d8be485a42",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-956734"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "12345-abcde"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request across services.",
            "example": "67890-fghij"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Unique key to ensure the idempotency of the operation.",
            "example": "xyz-12345-abc"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-05T12:34:56Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Originating system of the request.",
            "example": "SystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request was generated.",
            "example": "AppA"
          },
          "channel": {
            "description": "Information about the communication channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information about the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the communication channel (e.g., Email, SMS).",
            "example": "SMS"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the channel.",
            "example": "device-456"
          }
        },
        "description": "Details about the communication channel."
      },
      "ReplaceNotificationSubscriptionsWebhookEventStatuResponse_200": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "The status of the webhook event.",
            "example": "ACTIVE"
          },
          "metadata": {
            "description": "Metadata associated with the webhook response.",
            "$ref": "#/components/schemas/WebhookMetadata"
          }
        },
        "description": "Response schema for the status operation of webhooks events.",
        "example": {
          "status": "ACTIVE",
          "metadata": {
            "responseId": "acea435f-fb75-5b6c-bd52-439d265a36f9",
            "correlationId": "ac2686b4-153a-5886-9a54-fb35856eee7c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "WebhookMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate requests and responses.",
            "example": "abcde-12345"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "us-west-1"
          }
        },
        "description": "Contains metadata information for a webhook response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "webhookId": {
        "name": "webhookId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "eventId": {
        "name": "eventId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-change-webhook-subscription-event-status"
        },
        "example": "open-finance-api-change-webhook-subscription-event-status"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a Bearer token in HTTP headers. This JWT (JSON Web Token) format allows for secure transmission of information between parties as a JSON object. Ensure the token is included in the Authorization header as 'Bearer {token}'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}