{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_ATM Network Operations Management API",
    "description": "The ATM Network Operations Management API facilitates operational actions related to ATM networks. This API provides capabilities such as configuring, monitoring, and managing various aspects of ATM operations to ensure optimal functionality and service delivery. Typical consumers include banking institutions and financial service providers seeking to enhance ATM network efficiency and performance. By utilizing this API, organizations can streamline operational workflows and improve customer service through effective ATM management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/atm-network-operations/operational-actions": {
      "post": {
        "tags": [
          "ATM Operations"
        ],
        "summary": "Create operational actions for ATM network operations.",
        "description": "This endpoint allows users to create specific operational actions related to ATM network operations within a designated channel. It facilitates the management and optimization of ATM functionalities, ensuring seamless network performance.",
        "operationId": "createChannelSpecificAtmNetworkOperations",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is designed to carry the necessary data for performing operational actions specific to ATM network operations. It should include all relevant details that define the operational action intended to be executed.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateChannelSpecificAtmNetworkOperationsRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted and is being processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateChannelSpecificAtmNetworkOperationsResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateChannelSpecificAtmNetworkOperationsRequest": {
        "title": "Operational Actions Request",
        "type": "object",
        "properties": {
          "actionType": {
            "type": "string",
            "description": "The type of action to be performed.",
            "example": "STANDARD"
          },
          "priority": {
            "type": "string",
            "description": "The priority level of the action request.",
            "example": "NORMAL"
          },
          "reason": {
            "type": "string",
            "description": "The reason for the action request.",
            "example": "STANDARD"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user or system requesting the action.",
            "example": "STANDARD"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2026-08-11T12:00:00Z"
          },
          "requestContext": {
            "description": "Contextual information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for operational actions in the ATM network operations.",
        "example": {
          "actionType": "STANDARD",
          "priority": "NORMAL",
          "reason": "STANDARD",
          "requestedBy": "STANDARD",
          "requestedAt": "2026-08-11T12:00:00Z",
          "requestContext": {
            "requestId": "3d9d5c71-2a62-56d0-bfa9-bccb755f9a8e",
            "correlationId": "2313e0ef-fd07-56cb-ab2c-15dab3639d77",
            "idempotencyKey": "13c65c28-d45d-5da0-b17e-f5d9f3b8f328",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-764073"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to prevent duplicate processing of a request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request context was created.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that initiated the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information related to the channel through which the request was made.",
            "$ref": "#/components/schemas/ChannelInfo"
          }
        },
        "description": "Schema containing contextual information about the request."
      },
      "ChannelInfo": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier of the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used for the request (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Schema representing information about the channel used in the request."
      },
      "CreateChannelSpecificAtmNetworkOperationsResponse_202": {
        "title": "Operations Response",
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "A reference identifier for the action being processed.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "The type of action that was performed.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the operation.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "Timestamp when the action was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the operation response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for operational actions in ATM network operations.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "f333c3f7-49ec-5d4d-8aac-168a4cc7a184",
            "correlationId": "2313e0ef-fd07-56cb-ab2c-15dab3639d77",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate logs across services.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographic region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "A schema representing additional metadata information related to the operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "atm-network-operations-create-atm-network-operations-operational-action"
        },
        "example": "atm-network-operations-create-atm-network-operations-operational-action"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      },
      "X-Workflow-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-072"
        },
        "example": "WF-072"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow associated with the operational action.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ATM Network Incident and Cash Replenishment"
        },
        "example": "ATM Network Incident and Cash Replenishment"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow indicating its progress or status.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the execution instance of the workflow.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "0897c799-3d82-42da-bc08-0c8e289d72c1"
        },
        "example": "0897c799-3d82-42da-bc08-0c8e289d72c1"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This authentication scheme uses JSON Web Tokens (JWTs) as a bearer token to authorize access to secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}