{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Loan Details Retrieval API",
    "description": "The Loan Details Retrieval API provides access to detailed information about loans associated with specific customer accounts. With this endpoint, users can retrieve comprehensive loan data based on a unique customer ID and account ID. This API is particularly useful for financial institutions, customer service representatives, and analysts who need to obtain detailed loan metrics for assessment and reporting purposes. By utilizing this endpoint, typical consumers can streamline loan information retrieval, enhancing the efficiency of financial management operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/{customerId}/accounts/{accountId}/loandetails": {
      "get": {
        "tags": [
          "CustomerAccounts"
        ],
        "summary": "Retrieve loan details for a specific account.",
        "description": "This endpoint allows you to fetch detailed information about loans associated with a given customer account. You can use this data to analyze loan statuses, repayment schedules, and other financial metrics.",
        "operationId": "getLoanDetailsForAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          },
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve loan details for a specific account under a specific customer. Clients should ensure that all necessary parameters are properly included to get accurate loan information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetLoanDetailsForAccountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved loan details for the specified account.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLoanDetailsForAccountResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetLoanDetailsForAccountRequest": {
        "type": "string",
        "description": "Represents the request body for retrieving loan details associated with a specific customer and account.",
        "example": "{}"
      },
      "GetLoanDetailsForAccountResponse_200": {
        "type": "object",
        "properties": {
          "loanNumber": {
            "type": "string",
            "description": "The unique identifier for the loan.",
            "example": "STANDARD"
          },
          "loanPaymentNumber": {
            "type": "string",
            "description": "The unique identifier for the loan payment.",
            "example": "STANDARD"
          },
          "loanPaymentAddress": {
            "type": "string",
            "description": "The address associated with the loan payment.",
            "example": "STANDARD"
          },
          "accountDetail": {
            "description": "Details of the account associated with the loan.",
            "$ref": "#/components/schemas/AccountDetail"
          },
          "metadata": {
            "description": "Metadata information regarding the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "A response schema representing loan details for a specific account.",
        "example": {
          "loanNumber": "STANDARD",
          "loanPaymentNumber": "STANDARD",
          "loanPaymentAddress": "STANDARD",
          "accountDetail": {
            "accountId": "ACC-103246",
            "accountNumber": "STANDARD",
            "accountPaymentNumber": "STANDARD",
            "accountPaymentAddress": "STANDARD",
            "amount": 100.0,
            "accountFuturePayoffDate": "2026-09-15",
            "groupDetail": [
              {
                "accountId": "ACC-611579",
                "groupNumber": "STANDARD",
                "groupPaymentNumber": "STANDARD",
                "groupPaymentAddress": "STANDARD",
                "groupFuturePayoffAmount": 100.0,
                "groupFuturePayoffDate": "2026-09-15",
                "groupLoanDetail": [
                  {
                    "accountId": "ACC-579816",
                    "loanNumber": "STANDARD",
                    "loanPaymentNumber": "STANDARD",
                    "loanPaymentAddress": "STANDARD",
                    "loanFuturePayoffAmount": 100.0,
                    "loanFuturePayoffDate": "2026-09-15"
                  }
                ]
              }
            ],
            "loanDetail": [
              {
                "accountId": "ACC-157612",
                "loanNumber": "STANDARD",
                "loanPaymentNumber": "STANDARD",
                "loanPaymentAddress": "STANDARD",
                "loanFuturePayoffAmount": 100.0,
                "loanFuturePayoffDate": "2026-09-15"
              }
            ]
          },
          "metadata": {
            "responseId": "a4ca79c6-361f-54d3-be6c-62cb22e32e92",
            "correlationId": "55eb9240-0ff9-5fa7-9f30-da4bb5801ca3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AccountDetail": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "A unique identifier for the account.",
            "example": "ACC-200045"
          },
          "accountNumber": {
            "type": "string",
            "description": "The account number associated with the account.",
            "example": "ACC123456"
          },
          "accountPaymentNumber": {
            "type": "string",
            "description": "A unique identifier for the account payment.",
            "example": "APN-200045"
          },
          "accountPaymentAddress": {
            "type": "string",
            "description": "The address associated with the account payment.",
            "example": "456 Payment Ave, Moneytown, USA"
          },
          "amount": {
            "type": "number",
            "description": "The outstanding amount for the account.",
            "example": 5000.0
          },
          "accountFuturePayoffDate": {
            "type": "string",
            "description": "The date by which the account will be paid off.",
            "example": "2023-12-31"
          },
          "groupDetail": {
            "type": "array",
            "description": "A list of grouped details associated with the account.",
            "items": {
              "$ref": "#/components/schemas/GroupDetail"
            }
          },
          "loanDetail": {
            "type": "array",
            "description": "A list of loan details associated with the account.",
            "items": {
              "$ref": "#/components/schemas/LoanDetail"
            }
          }
        },
        "description": "Details of a specific account related to a loan."
      },
      "GroupDetail": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "The account ID associated with the group.",
            "example": "ACC-200045"
          },
          "groupNumber": {
            "type": "string",
            "description": "A unique identifier for the group.",
            "example": "GROUP-1"
          },
          "groupPaymentNumber": {
            "type": "string",
            "description": "A unique identifier for group payments.",
            "example": "GPN-200045"
          },
          "groupPaymentAddress": {
            "type": "string",
            "description": "The address associated with group payments.",
            "example": "789 Group St, Moneytown, USA"
          },
          "groupFuturePayoffAmount": {
            "type": "number",
            "description": "The amount due for the group.",
            "example": 10000.0
          },
          "groupFuturePayoffDate": {
            "type": "string",
            "description": "The payoff date for the group.",
            "example": "2023-06-30"
          },
          "groupLoanDetail": {
            "type": "array",
            "description": "A list of loan details associated with the group.",
            "items": {
              "$ref": "#/components/schemas/LoanDetail"
            }
          }
        },
        "description": "Details of a group associated with an account."
      },
      "LoanDetail": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "The ID of the account associated with this loan.",
            "example": "ACC-200045"
          },
          "loanNumber": {
            "type": "string",
            "description": "A unique identifier for the loan.",
            "example": "LN-123456"
          },
          "loanPaymentNumber": {
            "type": "string",
            "description": "A unique identifier for the loan payment.",
            "example": "LPN-123456"
          },
          "loanPaymentAddress": {
            "type": "string",
            "description": "The address associated with the loan payment.",
            "example": "123 Loan St, Moneytown, USA"
          },
          "loanFuturePayoffAmount": {
            "type": "number",
            "description": "The amount due for the loan.",
            "example": 1000.0
          },
          "loanFuturePayoffDate": {
            "type": "string",
            "description": "The date by which the loan will be paid off.",
            "example": "2025-01-15"
          }
        },
        "description": "Details specific to a loan."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "RESP-789123"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation ID for tracking requests.",
            "example": "CORR-456789"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-25T13:45:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "us-west-2"
          }
        },
        "description": "Additional metadata information regarding the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint being accessed, used for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-loan-payment-details"
        },
        "example": "open-finance-api-get-loan-payment-details"
      },
      "X-Runtime-App": {
        "description": "Indicates the name of the application that is making the request, which helps in identifying the source of the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication scheme, where a valid JSON Web Token (JWT) is required to access secure endpoints. The token should be included in the Authorization header as 'Bearer {token}'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}