{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Manage Intellectual Property Portfolio API",
    "description": "This API facilitates the maintenance and enhancement of an organization's intellectual property portfolio. Users can update information related to various knowledge assets, ensuring accurate and up-to-date records. Typical consumers of this API include legal teams, intellectual property managers, and innovation departments who need to track and manage their intellectual property efficiently. By leveraging this functionality, businesses can streamline their asset management processes and protect their innovations more effectively.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/knowledge-assets/intellectual-property-portfolio/{param1}": {
      "patch": {
        "tags": [],
        "summary": "Update the intellectual property portfolio.",
        "description": "This endpoint allows you to update the details of a specific intellectual property portfolio identified by its resource ID. Ensure that you provide the correct fields to be updated in the request body.",
        "operationId": "updateIntellectualPropertyPortfolio",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the details of a specific intellectual property portfolio identified by its resource ID RES-100045. The JSON payload must conform to the specified schema, which outlines the required structure and fields that must be included in the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateIntellectualPropertyPortfolioRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateIntellectualPropertyPortfolioResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateIntellectualPropertyPortfolioRequest": {
        "title": "Intellectual Property Portfolio Update Request",
        "type": "object",
        "properties": {
          "changes": {
            "description": "Contains the details of the changes to be made to the intellectual property asset.",
            "$ref": "#/components/schemas/IPAssetChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the changes being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The effective date of the changes.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user requesting the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for updating an intellectual property portfolio.",
        "example": {
          "changes": {
            "ipAssetId": "STANDARD",
            "assetType": "STANDARD",
            "registrationNumber": "NY-4587219"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "b5ed7a94-8a17-5949-8a91-2f66c06d8526",
            "correlationId": "5ab354f5-186a-5269-9c28-7b60b0ded3bb",
            "idempotencyKey": "a3ad1fb3-58f9-5cd4-83a4-3dc4bf45b6a8",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-946763"
            }
          }
        }
      },
      "IPAssetChanges": {
        "title": "IP Asset Changes",
        "type": "object",
        "properties": {
          "ipAssetId": {
            "type": "string",
            "description": "The unique identifier for the intellectual property asset.",
            "example": "IP-123456"
          },
          "assetType": {
            "type": "string",
            "description": "The type of the intellectual property asset.",
            "example": "Patent"
          },
          "registrationNumber": {
            "type": "string",
            "description": "The registration number of the intellectual property asset.",
            "example": "REG-78910"
          }
        },
        "description": "Details of the intellectual property asset changes."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "req-001"
          },
          "correlationId": {
            "type": "string",
            "description": "A correlation ID to track the request across services.",
            "example": "corr-001"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to identify unique requests and ensure idempotency.",
            "example": "idempotency-key-001"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T00:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that originated the request.",
            "example": "User Management System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that made the request.",
            "example": "Web App"
          },
          "channel": {
            "description": "Details of the communication channel used for the request.",
            "$ref": "#/components/schemas/RequestChannel"
          }
        },
        "description": "Information providing context about the request made."
      },
      "RequestChannel": {
        "title": "Request Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the communication channel.",
            "example": "channel-12345"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the communication channel (e.g., web, mobile).",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device used to make the request.",
            "example": "device-67890"
          }
        },
        "description": "Information about the channel used for the request."
      },
      "UpdateIntellectualPropertyPortfolioResponse_200": {
        "title": "Intellectual Property Portfolio Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the entity was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Contains additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the Intellectual Property Portfolio update operation.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "af99b879-489d-5e96-a5de-f7171bf24d96",
            "correlationId": "5ab354f5-186a-5269-9c28-7b60b0ded3bb",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate the request with the response.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request occurred.",
            "example": "string"
          }
        },
        "description": "Metadata associated with the response, providing additional context."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the API endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "intellectual-property-portfolio-update-intellectual-property-portfolio"
        },
        "example": "intellectual-property-portfolio-update-intellectual-property-portfolio"
      },
      "X-Runtime-App": {
        "description": "Name of the application that executed this operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens. The tokens are expected to be in JSON Web Token (JWT) format, allowing secure data exchange and verification of user identity.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}