{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create P2m Outlet-v5-spec",
    "description": "MICROSERVICE-PROD-Create P2m Outlet-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/outlets": {
      "post": {
        "operationId": "createP2mOutlet",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateP2mOutletRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateP2mOutletResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateP2mOutletRequest": {
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "example": "MER-690468"
          },
          "name": {
            "type": "string",
            "example": "Northstar Banking Service"
          },
          "outletType": {
            "type": "string",
            "example": "STANDARD"
          },
          "address": {
            "type": "object",
            "properties": {
              "line1": {
                "type": "string",
                "example": "string"
              },
              "line2": {
                "type": "string",
                "example": "string"
              },
              "city": {
                "type": "string",
                "example": "string"
              },
              "stateOrProvince": {
                "type": "string",
                "example": "string"
              },
              "postalCode": {
                "type": "string",
                "example": "string"
              },
              "country": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "line1": "350 Fifth Avenue",
              "line2": "Suite 4200",
              "city": "New York",
              "stateOrProvince": "STANDARD",
              "postalCode": "10001",
              "country": "STANDARD"
            }
          },
          "contact": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string",
                "example": "string"
              },
              "phone": {
                "type": "string",
                "example": "string"
              },
              "website": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "email": "olivia.bennett@northstar.example",
              "phone": "+1-212-555-0147",
              "website": "https://example.com/resource"
            }
          },
          "timezone": {
            "type": "string",
            "example": "America/New_York"
          },
          "currency": {
            "type": "string",
            "example": "USD"
          },
          "externalReference": {
            "type": "string",
            "example": "STANDARD"
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "d7076ae9-bb4a-5221-9070-6839591bd12e",
              "correlationId": "30288efc-a722-5059-a7d1-9c9e2b85dcc4",
              "idempotencyKey": "4d012c7f-d0a8-5175-ac86-ead81ee28edd",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-566377"
              }
            }
          }
        },
        "example": {
          "merchantId": "MER-690468",
          "name": "Northstar Banking Service",
          "outletType": "STANDARD",
          "address": {
            "line1": "350 Fifth Avenue",
            "line2": "Suite 4200",
            "city": "New York",
            "stateOrProvince": "STANDARD",
            "postalCode": "10001",
            "country": "STANDARD"
          },
          "contact": {
            "email": "olivia.bennett@northstar.example",
            "phone": "+1-212-555-0147",
            "website": "https://example.com/resource"
          },
          "timezone": "America/New_York",
          "currency": "USD",
          "externalReference": "STANDARD",
          "requestContext": {
            "requestId": "d7076ae9-bb4a-5221-9070-6839591bd12e",
            "correlationId": "30288efc-a722-5059-a7d1-9c9e2b85dcc4",
            "idempotencyKey": "4d012c7f-d0a8-5175-ac86-ead81ee28edd",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-566377"
            }
          }
        }
      },
      "CreateP2mOutletResponse_201": {
        "type": "object",
        "properties": {
          "outletId": {
            "type": "string",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "example": "MER-173069"
          },
          "name": {
            "type": "string",
            "example": "Northstar Banking Service"
          },
          "outletType": {
            "type": "string",
            "example": "STANDARD"
          },
          "address": {
            "type": "object",
            "properties": {
              "line1": {
                "type": "string",
                "example": "string"
              },
              "line2": {
                "type": "string",
                "example": "string"
              },
              "city": {
                "type": "string",
                "example": "string"
              },
              "stateOrProvince": {
                "type": "string",
                "example": "string"
              },
              "postalCode": {
                "type": "string",
                "example": "string"
              },
              "country": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "line1": "350 Fifth Avenue",
              "line2": "Suite 4200",
              "city": "New York",
              "stateOrProvince": "STANDARD",
              "postalCode": "10001",
              "country": "STANDARD"
            }
          },
          "contact": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string",
                "example": "string"
              },
              "phone": {
                "type": "string",
                "example": "string"
              },
              "website": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "email": "olivia.bennett@northstar.example",
              "phone": "+1-212-555-0147",
              "website": "https://example.com/resource"
            }
          },
          "timezone": {
            "type": "string",
            "example": "America/New_York"
          },
          "currency": {
            "type": "string",
            "example": "USD"
          },
          "externalReference": {
            "type": "string",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "example": "ACTIVE"
          },
          "audit": {
            "type": "object",
            "properties": {
              "createdAt": {
                "type": "string",
                "example": "string"
              },
              "createdBy": {
                "type": "string",
                "example": "string"
              },
              "updatedAt": {
                "type": "string",
                "example": "string"
              },
              "updatedBy": {
                "type": "string",
                "example": "string"
              },
              "version": {
                "type": "integer",
                "format": "int32",
                "example": 0
              }
            },
            "example": {
              "createdAt": "2026-09-15T14:30:00Z",
              "createdBy": "STANDARD",
              "updatedAt": "2026-09-15T14:30:00Z",
              "updatedBy": "2026-09-15",
              "version": 1
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "f0d0ab9a-1eda-5a29-9492-f1b9edb54f05",
              "correlationId": "30288efc-a722-5059-a7d1-9c9e2b85dcc4",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "outletId": "STANDARD",
          "merchantId": "MER-173069",
          "name": "Northstar Banking Service",
          "outletType": "STANDARD",
          "address": {
            "line1": "350 Fifth Avenue",
            "line2": "Suite 4200",
            "city": "New York",
            "stateOrProvince": "STANDARD",
            "postalCode": "10001",
            "country": "STANDARD"
          },
          "contact": {
            "email": "olivia.bennett@northstar.example",
            "phone": "+1-212-555-0147",
            "website": "https://example.com/resource"
          },
          "timezone": "America/New_York",
          "currency": "USD",
          "externalReference": "STANDARD",
          "status": "ACTIVE",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "f0d0ab9a-1eda-5a29-9492-f1b9edb54f05",
            "correlationId": "30288efc-a722-5059-a7d1-9c9e2b85dcc4",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-create-outlet"
        },
        "example": "banking-p2m-openapi-create-outlet"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}