{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Compliance Fraud Resolutions-spec",
    "description": "The Fraud Resolution Compliance API provides a comprehensive view of compliance-related fraud resolution cases within the banking sector. This endpoint allows users to retrieve a list of fraud resolutions, enabling businesses to monitor and assess their compliance efforts effectively. Typical consumers include compliance officers and fraud analysts who utilize this data to ensure regulatory adherence and improve fraud management strategies. The API facilitates informed decision-making and supports audits by offering quick access to relevant resolution documentation.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/compliance/fraud-resolution": {
      "get": {
        "tags": [
          "Compliance"
        ],
        "summary": "Retrieve fraud resolution details.",
        "description": "This endpoint allows the user to fetch details related to fraud resolution efforts within compliance. It provides insights into the actions taken, statuses, and outcomes of fraud investigations.",
        "operationId": "listComplianceFraudResolutions",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving the fraud resolution data. Ensure that the necessary parameters are included in the payload to get accurate results.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListComplianceFraudResolutionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of fraud resolution data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListComplianceFraudResolutionsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListComplianceFraudResolutionsRequest": {
        "type": "string",
        "description": "This schema represents the request body expected for the fraud resolution operations in the compliance service. It is a JSON string that contains relevant information needed to process the request.",
        "example": "{}"
      },
      "ListComplianceFraudResolutionsResponse_200": {
        "title": "Fraud Resolution Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of fraud resolution items.",
            "example": [
              {
                "submissionId": "STANDARD",
                "legalEntityId": "STANDARD",
                "jurisdiction": "STANDARD",
                "reportingPeriod": "STANDARD",
                "regulation": "STANDARD",
                "dueDate": "2026-09-15",
                "transactionId": "TXN-492119",
                "riskScore": 100.0,
                "decisionThreshold": 100.0,
                "deviceTrustLevel": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/FraudResolutionItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting order of the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for fraud resolution operations, including items, pagination, sorting, and metadata.",
        "example": {
          "items": [
            {
              "submissionId": "STANDARD",
              "legalEntityId": "STANDARD",
              "jurisdiction": "STANDARD",
              "reportingPeriod": "STANDARD",
              "regulation": "STANDARD",
              "dueDate": "2026-09-15",
              "transactionId": "TXN-492119",
              "riskScore": 100.0,
              "decisionThreshold": 100.0,
              "deviceTrustLevel": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "fe27382d-b2b8-5944-b6c5-a3e121497f60",
            "correlationId": "789cb4fc-4127-56bd-a82b-6dbef28224e9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "FraudResolutionItem": {
        "title": "Fraud Resolution Item",
        "type": "object",
        "properties": {
          "submissionId": {
            "type": "string",
            "description": "Unique identifier for the submission."
          },
          "legalEntityId": {
            "type": "string",
            "description": "Identifier for the legal entity involved."
          },
          "jurisdiction": {
            "type": "string",
            "description": "Jurisdiction applicable to the transaction."
          },
          "reportingPeriod": {
            "type": "string",
            "description": "Reporting period for the fraud resolution."
          },
          "regulation": {
            "type": "string",
            "description": "Applicable regulation for the transaction."
          },
          "dueDate": {
            "type": "string",
            "description": "Due date for any actions or compliance."
          },
          "transactionId": {
            "type": "string",
            "description": "Unique identifier for the transaction."
          },
          "riskScore": {
            "type": "number",
            "description": "Risk score associated with the transaction."
          },
          "decisionThreshold": {
            "type": "number",
            "description": "Threshold score for taking further action."
          },
          "deviceTrustLevel": {
            "type": "string",
            "description": "Trust level associated with the device used."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the fraud resolution record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the record."
          }
        },
        "description": "A single item representing fraud resolution details."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the results.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32"
          }
        },
        "description": "Pagination details for the API response."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed."
          }
        },
        "description": "Metadata information related to the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "fraud-resolution-search-fraud-resolution"
        },
        "example": "fraud-resolution-search-fraud-resolution"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method with JSON Web Tokens (JWT). To access secure endpoints, include a valid JWT in the Authorization header of the request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}