{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Pisp By Param1-spec",
    "description": "The File Payments Retrieval API facilitates the retrieval of payment initiation service provider (PISP) details based on a unique parameter. Designed for developers in the open banking space, this API allows integration with payment services and enhances financial service offerings. Typical use cases include accessing transaction data and processing payment requests securely. Consumers of this API may include banks, fintech companies, and other payment service providers looking to optimize their payment workflows.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/file-payments/{param1}": {
      "get": {
        "tags": [
          "File Payment"
        ],
        "summary": "Retrieve a specific file payment by its unique ID.",
        "description": "This endpoint allows you to fetch detailed information about a specific file payment identified by its unique ID (PAY-300045). It includes all relevant details concerning the payment status, date, and associated information, ensuring you have the data needed for transaction tracking or reporting.",
        "operationId": "getPispByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving the details of a specific file payment identified by the payment ID PAY-300045. This request is intended to provide the necessary context and authorization to retrieve the payment data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPispByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and the payment details are returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPispByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPispByParam1Request": {
        "type": "string",
        "description": "A request body schema representing the details for file payments operations.",
        "example": "{}"
      },
      "GetPispByParam1Response_200": {
        "title": "File Payments Response",
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "FilePaymentId": {
                "type": "string",
                "description": "Unique identifier for the file payment.",
                "example": "string"
              },
              "ConsentId": {
                "type": "string",
                "description": "Identifier for the consent associated with this payment.",
                "example": "string"
              },
              "CreationDateTime": {
                "type": "string",
                "description": "The date and time when the file payment was created.",
                "example": "string"
              },
              "Status": {
                "type": "string",
                "description": "Current status of the file payment.",
                "example": "string"
              },
              "StatusUpdateDateTime": {
                "type": "string",
                "description": "The date and time when the status was last updated.",
                "example": "string"
              },
              "StatusReason": {
                "type": "array",
                "description": "Reasons for the current status of the file payment.",
                "example": [
                  {
                    "code": "string",
                    "description": "string",
                    "Path": "string"
                  }
                ],
                "items": {
                  "$ref": "#/components/schemas/StatusReason"
                }
              },
              "Charges": {
                "type": "array",
                "description": "Charges associated with the file payment.",
                "example": [
                  {
                    "ChargeBearer": "string",
                    "Type": "string",
                    "Amount": {
                      "Amount": "string",
                      "Currency": "string"
                    }
                  }
                ],
                "items": {
                  "$ref": "#/components/schemas/Charge"
                }
              },
              "Initiation": {
                "$ref": "#/components/schemas/Initiation"
              },
              "metadata": {
                "$ref": "#/components/schemas/Metadata"
              }
            },
            "description": "Details of the file payment.",
            "example": {
              "FilePaymentId": "PAY-990220",
              "ConsentId": "STANDARD",
              "CreationDateTime": "2026-09-15T14:30:00Z",
              "Status": "ACTIVE",
              "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
              "StatusReason": [
                {
                  "code": "SUCCESS",
                  "description": "Customer banking request processed successfully",
                  "Path": "STANDARD"
                }
              ],
              "Charges": [
                {
                  "ChargeBearer": "STANDARD",
                  "Type": "STANDARD",
                  "Amount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  }
                }
              ],
              "Initiation": {
                "FileType": "STANDARD",
                "FileHash": "STANDARD",
                "FileReference": "STANDARD",
                "NumberOfTransactions": "STANDARD",
                "ControlSum": 100.0,
                "RequestedExecutionDateTime": "2026-09-15T14:30:00Z",
                "LocalInstrument": "STANDARD",
                "DebtorAccount": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "SecondaryIdentification": "STANDARD",
                  "Proxy": {
                    "Identification": "STANDARD",
                    "Code": "SUCCESS",
                    "Type": "STANDARD"
                  }
                },
                "CreditorAgent": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "LEI": "STANDARD",
                  "PostalAddress": {
                    "AddressType": "STANDARD",
                    "Department": "STANDARD",
                    "SubDepartment": "STANDARD",
                    "StreetName": "Northstar Banking Service",
                    "BuildingNumber": "STANDARD"
                  }
                }
              }
            }
          }
        },
        "description": "Schema representing the response for the get file payments operation.",
        "example": {
          "Data": {
            "FilePaymentId": "PAY-990220",
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "Status": "ACTIVE",
            "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
            "StatusReason": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "Path": "STANDARD"
              }
            ],
            "Charges": [
              {
                "ChargeBearer": "STANDARD",
                "Type": "STANDARD",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            ],
            "Initiation": {
              "FileType": "STANDARD",
              "FileHash": "STANDARD",
              "FileReference": "STANDARD",
              "NumberOfTransactions": "STANDARD",
              "ControlSum": 100.0,
              "RequestedExecutionDateTime": "2026-09-15T14:30:00Z",
              "LocalInstrument": "STANDARD",
              "DebtorAccount": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD",
                "Proxy": {
                  "Identification": "STANDARD",
                  "Code": "SUCCESS",
                  "Type": "STANDARD"
                }
              },
              "CreditorAgent": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "LEI": "STANDARD",
                "PostalAddress": {
                  "AddressType": "STANDARD",
                  "Department": "STANDARD",
                  "SubDepartment": "STANDARD",
                  "StreetName": "Northstar Banking Service",
                  "BuildingNumber": "STANDARD"
                }
              }
            }
          },
          "metadata": {
            "responseId": "66f36e4b-9f46-5104-b911-9004455f861a",
            "correlationId": "b3186a13-c6e3-5899-acae-8fc80c3257e8",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "StatusReason": {
        "title": "Status Reason",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "The code representing the reason.",
            "example": "string"
          },
          "description": {
            "type": "string",
            "description": "A textual description of the reason.",
            "example": "string"
          },
          "Path": {
            "type": "string",
            "description": "Path related to the reason, possibly indicating where the issue lies.",
            "example": "string"
          }
        },
        "description": "Detailed reason for the status of the file payment."
      },
      "Charge": {
        "title": "Charge",
        "type": "object",
        "properties": {
          "ChargeBearer": {
            "type": "string",
            "description": "The entity responsible for the charge.",
            "example": "string"
          },
          "Type": {
            "type": "string",
            "description": "Type of the charge.",
            "example": "string"
          },
          "Amount": {
            "type": "object",
            "properties": {
              "Amount": {
                "type": "string",
                "description": "The amount of the charge.",
                "example": "string"
              },
              "Currency": {
                "type": "string",
                "description": "Currency of the charge amount.",
                "example": "string"
              }
            },
            "description": "Amount details of the charge."
          }
        },
        "description": "Details about a charge associated with the file payment."
      },
      "Initiation": {
        "title": "Initiation",
        "type": "object",
        "properties": {
          "FileType": {
            "type": "string",
            "description": "Type of the file being processed.",
            "example": "string"
          },
          "FileHash": {
            "type": "string",
            "description": "Hash of the file for integrity verification.",
            "example": "string"
          },
          "FileReference": {
            "type": "string",
            "description": "Reference to the file.",
            "example": "string"
          },
          "NumberOfTransactions": {
            "type": "string",
            "description": "Total number of transactions included in the file.",
            "example": "string"
          },
          "ControlSum": {
            "type": "number",
            "description": "Control sum of all transactions in the file.",
            "example": 0.0
          },
          "RequestedExecutionDateTime": {
            "type": "string",
            "description": "Requested execution date and time for the transactions.",
            "example": "string"
          },
          "LocalInstrument": {
            "type": "string",
            "description": "Local instrument code for the transaction.",
            "example": "string"
          },
          "DebtorAccount": {
            "description": "Details of the debtor's account.",
            "$ref": "#/components/schemas/DebtorAccount"
          },
          "CreditorAgent": {
            "description": "Details of the creditor's agent.",
            "$ref": "#/components/schemas/CreditorAgent"
          }
        },
        "description": "Details regarding the initiation of the file payment."
      },
      "DebtorAccount": {
        "title": "Debtor Account",
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "Scheme name of the debtor account.",
            "example": "string"
          },
          "Identification": {
            "type": "string",
            "description": "Identification number of the debtor account.",
            "example": "string"
          },
          "Name": {
            "type": "string",
            "description": "Name associated with the debtor account.",
            "example": "string"
          },
          "SecondaryIdentification": {
            "type": "string",
            "description": "Secondary identification for the debtor account.",
            "example": "string"
          },
          "Proxy": {
            "description": "Proxy details for the debtor account.",
            "$ref": "#/components/schemas/Proxy"
          }
        },
        "description": "Details of the debtor's account."
      },
      "CreditorAgent": {
        "title": "Creditor Agent",
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "Scheme name of the creditor agent.",
            "example": "string"
          },
          "Identification": {
            "type": "string",
            "description": "Identifier for the creditor agent.",
            "example": "string"
          },
          "Name": {
            "type": "string",
            "description": "Name associated with the creditor agent.",
            "example": "string"
          },
          "LEI": {
            "type": "string",
            "description": "Legal Entity Identifier for regulatory purposes.",
            "example": "string"
          },
          "PostalAddress": {
            "description": "Postal address of the creditor agent.",
            "$ref": "#/components/schemas/PostalAddress"
          }
        },
        "description": "Details of the creditor's agent account."
      },
      "Proxy": {
        "title": "Proxy",
        "type": "object",
        "properties": {
          "Identification": {
            "type": "string",
            "description": "Unique identification for the proxy.",
            "example": "string"
          },
          "Code": {
            "type": "string",
            "description": "Code representing the proxy type.",
            "example": "string"
          },
          "Type": {
            "type": "string",
            "description": "Type of proxy relationship.",
            "example": "string"
          }
        },
        "description": "Proxy details for an account."
      },
      "PostalAddress": {
        "title": "Postal Address",
        "type": "object",
        "properties": {
          "AddressType": {
            "type": "string",
            "description": "Type of address (e.g., residential, business).",
            "example": "string"
          },
          "Department": {
            "type": "string",
            "description": "Department within the organization.",
            "example": "string"
          },
          "SubDepartment": {
            "type": "string",
            "description": "Sub-department within the organization.",
            "example": "string"
          },
          "StreetName": {
            "type": "string",
            "description": "Street name part of the postal address.",
            "example": "string"
          },
          "BuildingNumber": {
            "type": "string",
            "description": "Building number within the street.",
            "example": "string"
          }
        },
        "description": "Postal address associated with an agent."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier across multiple requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata related to the file payment response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that was called.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-get-file-payment"
        },
        "example": "payment-initiation-openapi-get-file-payment"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication, with a JSON Web Token (JWT) as the format for the bearer token. The JWT must be included in the 'Authorization' header of requests that require authentication.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}