{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Cbpii Funds Confirmation Consent-spec",
    "description": "The Funds Confirmation Consent Management API facilitates the creation and management of consent for funds confirmation in open banking scenarios. This endpoint allows users to initiate consents, ensuring that customers authorize fund confirmations securely. Typical consumers include financial institutions and fintech applications that require confirmation of funds availability prior to transactions. The API streamlines the consent process, enhancing the user experience and compliance with open banking regulations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/cbpii/funds-confirmation-consents": {
      "post": {
        "tags": [
          "Funds Management"
        ],
        "summary": "Request Funds Confirmation Consent",
        "description": "This endpoint allows the user to request consent for funds confirmation. It facilitates the verification of available funds in a customer's account, which is essential for seamless transaction processing.",
        "operationId": "createCbpiiFundsConfirmationConsent",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a funds confirmation consent process. It includes the necessary details required to verify the user's consent for fund confirmation requests. Ensure that all fields are filled correctly to process the request successfully.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCbpiiFundsConfirmationConsentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created a funds confirmation consent.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCbpiiFundsConfirmationConsentResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCbpiiFundsConfirmationConsentRequest": {
        "type": "object",
        "properties": {
          "Data": {
            "$ref": "#/components/schemas/FundsConfirmationData"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for the Funds Confirmation Consents operation in the POST method.",
        "example": {
          "Data": {
            "ExpirationDateTime": "2026-09-15T14:30:00Z",
            "DebtorAccount": {
              "SchemeName": "Northstar Banking Service",
              "Identification": "STANDARD",
              "Name": "Northstar Banking Service",
              "SecondaryIdentification": "STANDARD",
              "Proxy": {
                "Identification": "STANDARD",
                "Code": "SUCCESS",
                "Type": "STANDARD"
              }
            }
          },
          "requestContext": {
            "requestId": "2649e590-39e5-5abc-b24e-47b78b929f32",
            "correlationId": "a459b6b6-a655-5216-91a4-f58456f42867",
            "idempotencyKey": "cf7d1eb3-6eb3-516e-8c43-6313b05c672c",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-496017"
            }
          }
        }
      },
      "FundsConfirmationData": {
        "type": "object",
        "properties": {
          "ExpirationDateTime": {
            "type": "string",
            "description": "The expiration date and time of the funds confirmation.",
            "example": "2023-10-02T15:30:00Z"
          },
          "DebtorAccount": {
            "$ref": "#/components/schemas/DebtorAccount"
          }
        },
        "description": "Data related to the funds confirmation request."
      },
      "DebtorAccount": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "Name of the scheme to which the debtor account belongs.",
            "example": "string"
          },
          "Identification": {
            "type": "string",
            "description": "Unique identifier for the debtor account.",
            "example": "string"
          },
          "Name": {
            "type": "string",
            "description": "Name of the debtor.",
            "example": "string"
          },
          "SecondaryIdentification": {
            "type": "string",
            "description": "Secondary identifier for the debtor account, if applicable.",
            "example": "string"
          },
          "Proxy": {
            "$ref": "#/components/schemas/Proxy"
          }
        },
        "description": "Details regarding the debtor account."
      },
      "ProxyDetails": {
        "type": "object",
        "properties": {
          "Identification": {
            "type": "string",
            "description": "The identification number of the proxy.",
            "example": "123456"
          },
          "Code": {
            "type": "string",
            "description": "The code representing the type of proxy.",
            "example": "XYZ"
          },
          "Type": {
            "type": "string",
            "description": "The type of proxy (e.g., phone number, email).",
            "example": "Email"
          }
        },
        "description": "Details regarding any proxy associated with the debtor's account."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID to trace the request across services.",
            "example": "corr-abcdef"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of the request.",
            "example": "idempotency-123456"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-02T15:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system that made the request.",
            "example": "ExternalSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "MobileApp"
          },
          "channel": {
            "$ref": "#/components/schemas/ChannelDetails"
          }
        },
        "description": "Contextual information about the request."
      },
      "ChannelDetails": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the communication channel.",
            "example": "channel-123"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device from which the request originated.",
            "example": "device-xyz"
          }
        },
        "description": "Information about the channel through which the request was made."
      },
      "CreateCbpiiFundsConfirmationConsentResponse_201": {
        "type": "object",
        "properties": {
          "Data": {
            "$ref": "#/components/schemas/FundsConfirmationConsentData"
          },
          "Links": {
            "$ref": "#/components/schemas/Links"
          },
          "Meta": {
            "$ref": "#/components/schemas/Meta"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the Funds Confirmation Consents POST operation.",
        "example": {
          "Data": {
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "Status": "ACTIVE",
            "StatusReason": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "Path": "STANDARD"
              }
            ],
            "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
            "ExpirationDateTime": "2026-09-15T14:30:00Z",
            "DebtorAccount": {
              "SchemeName": "Northstar Banking Service",
              "Identification": "STANDARD",
              "Name": "Northstar Banking Service",
              "SecondaryIdentification": "STANDARD",
              "Proxy": {
                "Identification": "STANDARD",
                "Code": "SUCCESS",
                "Type": "STANDARD"
              }
            }
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource",
            "Next": "https://example.com/resource",
            "Last": "https://example.com/resource"
          },
          "Meta": {
            "TotalPages": 1,
            "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
            "LastAvailableDateTime": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "responseId": "889b3d46-17c3-5eb9-881a-1388864d99d5",
            "correlationId": "a459b6b6-a655-5216-91a4-f58456f42867",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "FundsConfirmationConsentData": {
        "type": "object",
        "properties": {
          "ConsentId": {
            "type": "string",
            "description": "Unique identifier for the consent.",
            "example": "string"
          },
          "CreationDateTime": {
            "type": "string",
            "description": "Date and time when the consent was created.",
            "example": "string"
          },
          "Status": {
            "type": "string",
            "description": "Current status of the consent.",
            "example": "string"
          },
          "StatusReason": {
            "type": "array",
            "description": "Reasons for the current status of the consent.",
            "items": {
              "$ref": "#/components/schemas/StatusReason"
            }
          },
          "StatusUpdateDateTime": {
            "type": "string",
            "description": "Date and time when the consent status was last updated.",
            "example": "string"
          },
          "ExpirationDateTime": {
            "type": "string",
            "description": "Date and time when the consent expires.",
            "example": "string"
          },
          "DebtorAccount": {
            "$ref": "#/components/schemas/DebtorAccount"
          }
        },
        "description": "Data containing details about the funds confirmation consent."
      },
      "StatusReason": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Code representing the status reason.",
            "example": "string"
          },
          "description": {
            "type": "string",
            "description": "Description of the status reason.",
            "example": "string"
          },
          "Path": {
            "type": "string",
            "description": "Path for further details regarding the status reason.",
            "example": "string"
          }
        },
        "description": "Detailed information about the reason for the consent status."
      },
      "Proxy": {
        "type": "object",
        "properties": {
          "Identification": {
            "type": "string",
            "description": "Proxy identification information.",
            "example": "string"
          },
          "Code": {
            "type": "string",
            "description": "Proxy code associated with the debtor account.",
            "example": "string"
          },
          "Type": {
            "type": "string",
            "description": "Type of the proxy.",
            "example": "string"
          }
        },
        "description": "Information about the proxy for the debtor account."
      },
      "Links": {
        "type": "object",
        "properties": {
          "Self": {
            "type": "string",
            "description": "Link to the current resource.",
            "example": "string"
          },
          "First": {
            "type": "string",
            "description": "Link to the first page of results.",
            "example": "string"
          },
          "Prev": {
            "type": "string",
            "description": "Link to the previous page of results.",
            "example": "string"
          },
          "Next": {
            "type": "string",
            "description": "Link to the next page of results.",
            "example": "string"
          },
          "Last": {
            "type": "string",
            "description": "Link to the last page of results.",
            "example": "string"
          }
        },
        "description": "Links for accessing paginated results."
      },
      "Meta": {
        "type": "object",
        "properties": {
          "TotalPages": {
            "type": "integer",
            "description": "Total number of pages available.",
            "format": "int32",
            "example": 0
          },
          "FirstAvailableDateTime": {
            "type": "string",
            "description": "Date and time when the first available consent was created.",
            "example": "string"
          },
          "LastAvailableDateTime": {
            "type": "string",
            "description": "Date and time when the last available consent was created.",
            "example": "string"
          }
        },
        "description": "Metadata information regarding the consent responses."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking the request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the consent request was processed.",
            "example": "string"
          }
        },
        "description": "Metadata associated with the funds confirmation consent response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the API endpoint that processed the request. This value helps in tracing the specific endpoint activity.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "funds-api-create-funds-confirmation-consents"
        },
        "example": "funds-api-create-funds-confirmation-consents"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the request. This information is useful for logging and monitoring purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This authentication scheme uses a Bearer token. The token must be provided in the Authorization header and is expected to be in JSON Web Token (JWT) format, which is a compact and self-contained way for securely transmitting information between parties.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}