{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Sales Product Agreement Retrieval API",
    "description": "The Sales Product Agreement Retrieval API enables users to access detailed information regarding sales product agreements associated with customers. This API streamlines the process of retrieving agreements, which are essential for managing customer relationships and ensuring compliance. Typical consumers include financial institution staff and customer service representatives who need to quickly confirm terms and conditions tied to sales products. This endpoint significantly enhances operational efficiency by providing quick access to agreement details.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customer-management/sales-product-agreement": {
      "get": {
        "tags": [
          "Sales Operations"
        ],
        "summary": "Retrieve Sales Product Agreement",
        "description": "Fetches the details of the sales product agreement for the specified customer management context. This endpoint provides essential information regarding the agreement, enabling users to understand current terms and conditions.",
        "operationId": "getSalesProductAgreement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve sales product agreements for customers. It requires a JSON object that specifies the criteria for the query, which is defined by the schema referenced below.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSalesProductAgreementRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the sales product agreement.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSalesProductAgreementResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetSalesProductAgreementRequest": {
        "type": "string",
        "description": "String representation of the request body for retrieving sales product agreements.",
        "example": "{}"
      },
      "GetSalesProductAgreementResponse_200": {
        "title": "Sales Product Agreement Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of sales product agreements.",
            "example": [
              {
                "customerId": "CUST-428556",
                "partyId": "PARTY-824524",
                "productCode": "CHK-PREMIUM-US",
                "effectiveDate": "2026-09-15",
                "relationshipTier": "GOLD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/SalesProductAgreement"
            }
          },
          "pagination": {
            "description": "Pagination information for the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria used for the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving sales product agreements, including details of agreements and pagination information.",
        "example": {
          "items": [
            {
              "customerId": "CUST-428556",
              "partyId": "PARTY-824524",
              "productCode": "CHK-PREMIUM-US",
              "effectiveDate": "2026-09-15",
              "relationshipTier": "GOLD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "7e201141-e90f-5ecd-afb9-87592b558f5f",
            "correlationId": "7f64c078-636b-5164-98ab-27408970bf2b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "SalesProductAgreement": {
        "title": "Sales Product Agreement",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "12345"
          },
          "partyId": {
            "type": "string",
            "description": "Unique identifier for the party involved in the agreement.",
            "example": "67890"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product in the agreement.",
            "example": "PROD001"
          },
          "effectiveDate": {
            "type": "string",
            "description": "Date when the agreement becomes effective.",
            "example": "2023-10-01T00:00:00Z"
          },
          "relationshipTier": {
            "type": "string",
            "description": "Tier level of the relationship.",
            "example": "Gold"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "Active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Date and time when the record was last updated.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "Represents a sales product agreement with details."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the pagination.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Pagination details for the request or response."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier of the response.",
            "example": "abc123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request across systems.",
            "example": "def456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Date and time when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the request was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint this request pertains to.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "sales-product-agreement-search-sales-product-agreement"
        },
        "example": "sales-product-agreement-search-sales-product-agreement"
      },
      "X-Runtime-App": {
        "description": "The name of the application where the request was initiated.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method with JSON Web Tokens (JWT). Clients must include a valid JWT token in the authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}