{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Credit Card Position Management API",
    "description": "The Credit Card Position Management API enables businesses to efficiently update the status and positioning of credit cards within their banking system. This endpoint facilitates modifications to existing credit card data, allowing for dynamic management based on customer needs or system changes. Typical consumers of this API include banking institutions and financial service providers that require real-time updates to card information. Use cases often involve adjusting the allocation of credit limits or changing card statuses to enhance customer experiences.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://cards-merchant-app:9003",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cards/credit-card-position-keeping/{param1}": {
      "patch": {
        "tags": [
          "Credit Card Management"
        ],
        "summary": "Update Credit Card Position Keeping",
        "description": "This endpoint allows you to update the position keeping details of a specific credit card identified by CARD-400045. Ensure the required fields in the request body are set appropriately to execute the update successfully.",
        "operationId": "updateCreditCardPositionKeeping_CARD_400045",
        "parameters": [
          {
            "$ref": "#/components/parameters/parentspanid"
          },
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the position of a specific credit card identified by CARD-400045. It should contain the necessary information to modify the credit card's properties as required.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCreditCardPositionKeeping_CARD_400045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and the resource was updated.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              },
              "x-workflow-id": {
                "$ref": "#/components/headers/x-workflow-id"
              },
              "x-workflow-name": {
                "$ref": "#/components/headers/x-workflow-name"
              },
              "x-workflow-state": {
                "$ref": "#/components/headers/x-workflow-state"
              },
              "x-workflow-execution-id": {
                "$ref": "#/components/headers/x-workflow-execution-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateCreditCardPositionKeeping_CARD_400045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateCreditCardPositionKeeping_CARD_400045Request": {
        "title": "Credit Card Position Keeping Patch Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "description": "The changes to be made to the credit card information.",
            "$ref": "#/components/schemas/CardChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the changes being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes will take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the requester making the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context information for the request, including identifiers and metadata.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the patch request body to update the credit card position keeping.",
        "example": {
          "changes": {
            "cardToken": "TOK-926715",
            "cardholderId": "STANDARD",
            "merchantId": "MER-124826"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "13e55505-4df4-5f20-ba8d-26cfebee75fe",
            "correlationId": "48fcc151-6459-5180-af49-f33c3867aa68",
            "idempotencyKey": "71a9eaa0-3cb0-5d11-98d7-5c5a30f991d7",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-934093"
            }
          }
        }
      },
      "CardChanges": {
        "title": "Card Changes",
        "type": "object",
        "properties": {
          "cardToken": {
            "type": "string",
            "description": "The unique token identifying the credit card.",
            "example": "card_token_123"
          },
          "cardholderId": {
            "type": "string",
            "description": "The identifier of the cardholder.",
            "example": "cardholder_id_456"
          },
          "merchantId": {
            "type": "string",
            "description": "The identifier of the merchant related to the credit card.",
            "example": "merchant_id_789"
          }
        },
        "description": "Schema representing the changes requested for the credit card."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for this request.",
            "example": "req_id_123"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate with other requests.",
            "example": "corr_id_456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used for idempotency to ensure the same request is not processed multiple times.",
            "example": "idempotent_key_789"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-01T13:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request has originated.",
            "example": "web_application"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The name of the application sending the request.",
            "example": "credit_card_app"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema containing the contextual information related to the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier of the channel.",
            "example": "channel_101"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel, e.g., web, mobile.",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used to make the request.",
            "example": "device_202"
          }
        },
        "description": "Schema representing details about the channel used for the request."
      },
      "UpdateCreditCardPositionKeeping_CARD_400045Response_200": {
        "title": "Credit Card Position Keeping Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation performed.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the operation was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response, containing various identifiers.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "This schema defines the structure of the response returned after a PATCH operation on the credit card position keeping endpoint.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "e4410494-0f9c-5290-9ee7-5d6b27979dc2",
            "correlationId": "48fcc151-6459-5180-af49-f33c3867aa68",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "abc123"
          },
          "correlationId": {
            "type": "string",
            "description": "The unique identifier used for tracking the request across services.",
            "example": "def456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "us-west"
          }
        },
        "description": "Contains various metadata information related to the API response."
      }
    },
    "parameters": {
      "parentspanid": {
        "name": "parentspanid",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": ""
        },
        "example": ""
      },
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-021"
        },
        "example": "WF-021"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "29107f0d-0689-4443-a5e0-94047e7bdf0a"
        },
        "example": "29107f0d-0689-4443-a5e0-94047e7bdf0a"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "0ea36a13-417d-4863-a1ca-4af0ee95a823"
        },
        "example": "0ea36a13-417d-4863-a1ca-4af0ee95a823"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "An identifier for the API endpoint that processed the request. This helps in tracing the request within the system.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "credit-card-position-keeping-update-credit-card-position-keeping"
        },
        "example": "credit-card-position-keeping-update-credit-card-position-keeping"
      },
      "x-runtime-app": {
        "description": "The name of the application or service that executed the request. This aids in identifying the source of the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      },
      "x-workflow-id": {
        "description": "A unique identifier for the workflow in which this request was processed. This is useful for tracking the progress of actions across different services.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-021"
        },
        "example": "WF-021"
      },
      "x-workflow-name": {
        "description": "The name of the workflow associated with this operation response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Debit Card Issuance and Activation"
        },
        "example": "Debit Card Issuance and Activation"
      },
      "x-workflow-state": {
        "description": "The current state of the workflow, indicating its progress or status.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "x-workflow-execution-id": {
        "description": "A unique identifier for the execution instance of this workflow, useful for tracking and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "0ea36a13-417d-4863-a1ca-4af0ee95a823"
        },
        "example": "0ea36a13-417d-4863-a1ca-4af0ee95a823"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses bearer tokens to authenticate users. The token must be a valid JSON Web Token (JWT) and is typically passed in the `Authorization` header of HTTP requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}