{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Beneficiaries Retrieval API",
    "description": "The Beneficiaries Retrieval API enables users to access a list of beneficiaries associated with a specific account. This endpoint allows financial institutions and third-party applications to retrieve detailed information about beneficiaries, which can support various use cases, such as facilitating transfers or managing payments. Typical consumers include banking apps, financial analysts, and customer service representatives looking to assist clients. By providing this data, the API plays a vital role in enhancing user experiences and streamlining financial operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/aisp/accounts/{accountId}/beneficiaries": {
      "get": {
        "tags": [
          "AISP Account Management"
        ],
        "summary": "Retrieve Beneficiaries for a Specific AISP Account",
        "description": "This endpoint allows clients to retrieve a list of beneficiaries associated with a specific AISP account, identified by the account ID provided in the URL.",
        "operationId": "getBeneficiariesForAispAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving the list of beneficiaries associated with the specified account. This operation requires the account ID to be provided in the path segment.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBeneficiariesForAispAccountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of beneficiaries for the specified account.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBeneficiariesForAispAccountResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBeneficiariesForAispAccountRequest": {
        "type": "string",
        "description": "This schema represents the raw JSON payload expected in the request body for the GET operation related to beneficiaries of the specified account. It should contain details in a structured string format.",
        "example": "{}"
      },
      "GetBeneficiariesForAispAccountResponse_200": {
        "title": "Beneficiaries Response",
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "Beneficiary": {
                "type": "array",
                "description": "List of beneficiary objects associated with the account.",
                "items": {
                  "$ref": "#/components/schemas/Beneficiary"
                }
              }
            },
            "description": "Container for the data returned in the response, including the list of beneficiaries.",
            "example": {
              "Beneficiary": [
                {
                  "AccountId": "ACC-413831",
                  "id": "STANDARD",
                  "type": "STANDARD",
                  "Reference": "STANDARD",
                  "CreditorAgent": {
                    "SchemeName": "Northstar Banking Service",
                    "Identification": "STANDARD",
                    "Name": "Northstar Banking Service",
                    "PostalAddress": {
                      "AddressType": "STANDARD",
                      "Department": "STANDARD",
                      "SubDepartment": "STANDARD",
                      "StreetName": "Northstar Banking Service",
                      "BuildingNumber": "STANDARD",
                      "BuildingName": "Northstar Banking Service",
                      "Floor": "STANDARD",
                      "UnitNumber": "STANDARD",
                      "Room": "STANDARD",
                      "PostBox": "STANDARD",
                      "TownLocationName": "Northstar Banking Service",
                      "DistrictName": "Northstar Banking Service",
                      "CareOf": "STANDARD",
                      "PostCode": "CODE-266",
                      "TownName": "Northstar Banking Service",
                      "CountrySubDivision": "STANDARD",
                      "Country": "STANDARD",
                      "AddressLine": [
                        "STANDARD"
                      ]
                    },
                    "LEI": "STANDARD"
                  },
                  "CreditorAccount": {
                    "SchemeName": "Northstar Banking Service",
                    "Identification": "STANDARD",
                    "Name": "Northstar Banking Service",
                    "SecondaryIdentification": "STANDARD",
                    "Proxy": {
                      "Identification": "STANDARD",
                      "Code": "SUCCESS",
                      "Type": "STANDARD"
                    }
                  }
                }
              ]
            }
          },
          "Links": {
            "type": "object",
            "properties": {
              "Self": {
                "type": "string",
                "description": "Link to the current resource.",
                "example": "https://api.example.com/beneficiaries/self"
              },
              "First": {
                "type": "string",
                "description": "Link to the first resource in the collection.",
                "example": "https://api.example.com/beneficiaries/first"
              }
            },
            "description": "Navigation links related to the beneficiaries response.",
            "example": {
              "Self": "https://example.com/resource",
              "First": "https://example.com/resource"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "12345"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier for tracking the request across systems.",
                "example": "abcde-12345"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp indicating when the response was generated.",
                "example": "2023-10-01T12:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the request was processed.",
                "example": "EU"
              }
            },
            "description": "Metadata associated with the response.",
            "example": {
              "responseId": "04f8c591-7e71-532e-b2e6-3d09c4968079",
              "correlationId": "b12a7118-82f2-5b38-a247-2d764fbb6a7a",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for the GET operation on account beneficiaries, containing beneficiary details, links, and metadata.",
        "example": {
          "Data": {
            "Beneficiary": [
              {
                "AccountId": "ACC-413831",
                "id": "STANDARD",
                "type": "STANDARD",
                "Reference": "STANDARD",
                "CreditorAgent": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "PostalAddress": {
                    "AddressType": "STANDARD",
                    "Department": "STANDARD",
                    "SubDepartment": "STANDARD",
                    "StreetName": "Northstar Banking Service",
                    "BuildingNumber": "STANDARD",
                    "BuildingName": "Northstar Banking Service",
                    "Floor": "STANDARD",
                    "UnitNumber": "STANDARD",
                    "Room": "STANDARD",
                    "PostBox": "STANDARD",
                    "TownLocationName": "Northstar Banking Service",
                    "DistrictName": "Northstar Banking Service",
                    "CareOf": "STANDARD",
                    "PostCode": "CODE-266",
                    "TownName": "Northstar Banking Service",
                    "CountrySubDivision": "STANDARD",
                    "Country": "STANDARD",
                    "AddressLine": [
                      "STANDARD"
                    ]
                  },
                  "LEI": "STANDARD"
                },
                "CreditorAccount": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "SecondaryIdentification": "STANDARD",
                  "Proxy": {
                    "Identification": "STANDARD",
                    "Code": "SUCCESS",
                    "Type": "STANDARD"
                  }
                }
              }
            ]
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource"
          },
          "metadata": {
            "responseId": "04f8c591-7e71-532e-b2e6-3d09c4968079",
            "correlationId": "b12a7118-82f2-5b38-a247-2d764fbb6a7a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Beneficiary": {
        "title": "Beneficiary",
        "type": "object",
        "properties": {
          "AccountId": {
            "type": "string",
            "description": "Unique identifier for the account associated with the beneficiary.",
            "example": "ACC-200045"
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the beneficiary.",
            "example": "BEN-1000"
          },
          "type": {
            "type": "string",
            "description": "Type of the beneficiary (e.g., individual, organization).",
            "example": "individual"
          },
          "Reference": {
            "type": "string",
            "description": "Reference code for the beneficiary.",
            "example": "REF-1234"
          },
          "CreditorAgent": {
            "description": "Details about the creditor agent associated with the beneficiary.",
            "$ref": "#/components/schemas/CreditorAgent"
          },
          "CreditorAccount": {
            "description": "Details about the creditor's account.",
            "$ref": "#/components/schemas/CreditorAccount"
          }
        },
        "description": "Schema representing a beneficiary associated with an account."
      },
      "CreditorAgent": {
        "title": "CreditorAgent",
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "The scheme name of the creditor agent.",
            "example": "BIC"
          },
          "Identification": {
            "type": "string",
            "description": "The identification of the creditor agent.",
            "example": "DEUTDEFF"
          },
          "Name": {
            "type": "string",
            "description": "The name of the creditor agent.",
            "example": "Deutsche Bank"
          },
          "PostalAddress": {
            "description": "Postal address of the creditor agent.",
            "$ref": "#/components/schemas/PostalAddress"
          },
          "LEI": {
            "type": "string",
            "description": "Legal Entity Identifier of the creditor agent.",
            "example": "LEI-001"
          }
        },
        "description": "Schema representing the creditor agent's information."
      },
      "CreditorAccount": {
        "title": "CreditorAccount",
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "The scheme name of the creditor's account.",
            "example": "IBAN"
          },
          "Identification": {
            "type": "string",
            "description": "Unique identification for the creditor's account.",
            "example": "DE89370400440532013000"
          },
          "Name": {
            "type": "string",
            "description": "The name of the account holder.",
            "example": "John Doe"
          },
          "SecondaryIdentification": {
            "type": "string",
            "description": "Additional identification for the creditor's account.",
            "example": "SC-987654"
          },
          "Proxy": {
            "description": "Proxy information for the creditor account.",
            "$ref": "#/components/schemas/Proxy"
          }
        },
        "description": "Schema representing the creditor account's information."
      },
      "PostalAddress": {
        "title": "PostalAddress",
        "type": "object",
        "properties": {
          "AddressType": {
            "type": "string",
            "description": "Type of the address (e.g., residential, business).",
            "example": "Residential"
          },
          "Department": {
            "type": "string",
            "description": "Department within the address, if applicable.",
            "example": "Billing"
          },
          "SubDepartment": {
            "type": "string",
            "description": "Sub-department within the department, if applicable.",
            "example": "Accounts Receivable"
          },
          "StreetName": {
            "type": "string",
            "description": "Name of the street.",
            "example": "Main St."
          },
          "BuildingNumber": {
            "type": "string",
            "description": "Building number.",
            "example": "123"
          },
          "BuildingName": {
            "type": "string",
            "description": "Name of the building.",
            "example": "Office Tower"
          },
          "Floor": {
            "type": "string",
            "description": "Floor number.",
            "example": "5"
          },
          "UnitNumber": {
            "type": "string",
            "description": "Unit number within the building.",
            "example": "501"
          },
          "Room": {
            "type": "string",
            "description": "Room number within the unit.",
            "example": "A"
          },
          "PostBox": {
            "type": "string",
            "description": "Post box number, if applicable.",
            "example": "PO Box 12345"
          },
          "TownLocationName": {
            "type": "string",
            "description": "The name of the town location.",
            "example": "Berlin"
          },
          "DistrictName": {
            "type": "string",
            "description": "The name of the district.",
            "example": "Mitte"
          },
          "CareOf": {
            "type": "string",
            "description": "Care of name, if applicable.",
            "example": "c/o John Smith"
          },
          "PostCode": {
            "type": "string",
            "description": "Postal code for the address.",
            "example": "10115"
          },
          "TownName": {
            "type": "string",
            "description": "The name of the town.",
            "example": "Berlin"
          },
          "CountrySubDivision": {
            "type": "string",
            "description": "Subdivision of the country (e.g., state or region).",
            "example": "Berlin"
          },
          "Country": {
            "type": "string",
            "description": "Country where the address is located.",
            "example": "Germany"
          },
          "AddressLine": {
            "type": "array",
            "description": "Additional lines for the address.",
            "items": {
              "type": "string",
              "example": "Suite 501"
            }
          }
        },
        "description": "Schema representing the postal address details."
      },
      "Proxy": {
        "title": "Proxy",
        "type": "object",
        "properties": {
          "Identification": {
            "type": "string",
            "description": "Identification of the proxy.",
            "example": "PROXY-123"
          },
          "Code": {
            "type": "string",
            "description": "Code associated with the proxy.",
            "example": "12345"
          },
          "Type": {
            "type": "string",
            "description": "Type of the proxy.",
            "example": "email"
          }
        },
        "description": "Schema representing proxy details for a creditor account."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processes the request. This value is used for tracing and monitoring the API usage.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-api-get-accounts-account-id-beneficiaries"
        },
        "example": "accounts-api-get-accounts-account-id-beneficiaries"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is currently handling the request. It helps in identifying the source of the request within the system.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes a Bearer authentication method with JSON Web Tokens (JWT) for securing API endpoints. Clients must include a valid JWT in the Authorization header using the 'Bearer' scheme to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}