{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List It Management Systems Assurances-spec",
    "description": "The IT Management Systems Assurance API provides access to a comprehensive list of assurance specifications related to IT management systems in the banking sector. This API serves as a valuable resource for developers and analysts looking to assess compliance, track performance standards, and ensure best practices in IT management. Typical consumers include IT managers, compliance officers, and system analysts who need to retrieve relevant assurance data for reporting and decision-making purposes. The endpoint supports efficient data retrieval, enabling a streamlined integration with various banking applications.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/systems-assurance": {
      "get": {
        "tags": [
          "IT Management"
        ],
        "summary": "Retrieve systems assurance information.",
        "description": "This endpoint allows you to fetch detailed information regarding systems assurance within IT management, helping you to ensure compliance and operational integrity.",
        "operationId": "listItManagementSystemsAssurances",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving systems assurance information in IT management. The body should conform to the expected structure defined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListItManagementSystemsAssurancesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully; the response contains the requested data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListItManagementSystemsAssurancesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListItManagementSystemsAssurancesRequest": {
        "type": "string",
        "description": "A request body schema representing the content type for the GET operation in the IT Management Systems Assurance operations.",
        "example": "{}"
      },
      "ListItManagementSystemsAssurancesResponse_200": {
        "title": "Systems Assurance Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of system assurance items.",
            "example": [
              {
                "systemId": "STANDARD",
                "environment": "STANDARD",
                "changeId": "STANDARD",
                "ownerTeam": "STANDARD",
                "plannedAt": "2026-08-11T12:00:00Z",
                "serviceTier": "STANDARD",
                "availabilityTargetPercent": 100.0,
                "maintenanceWindow": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/SystemAssuranceItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting order of the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "The response schema for fetching systems assurance details.",
        "example": {
          "items": [
            {
              "systemId": "STANDARD",
              "environment": "STANDARD",
              "changeId": "STANDARD",
              "ownerTeam": "STANDARD",
              "plannedAt": "2026-08-11T12:00:00Z",
              "serviceTier": "STANDARD",
              "availabilityTargetPercent": 100.0,
              "maintenanceWindow": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "8e27f291-68a5-50eb-8327-b193c091bb05",
            "correlationId": "e02642f3-ff5d-5707-9907-40dbec8cc868",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "SystemAssuranceItem": {
        "title": "System Assurance Item",
        "type": "object",
        "properties": {
          "systemId": {
            "type": "string",
            "description": "Unique identifier for the system.",
            "example": "sys-123"
          },
          "environment": {
            "type": "string",
            "description": "The environment where the system operates.",
            "example": "production"
          },
          "changeId": {
            "type": "string",
            "description": "Identifier for the change associated with the system.",
            "example": "change-456"
          },
          "ownerTeam": {
            "type": "string",
            "description": "Team responsible for the system.",
            "example": "DevOps Team"
          },
          "plannedAt": {
            "type": "string",
            "description": "Date and time when the system is planned to be available.",
            "example": "2023-10-01T12:00:00Z"
          },
          "serviceTier": {
            "type": "string",
            "description": "The service tier of the system.",
            "example": "Gold"
          },
          "availabilityTargetPercent": {
            "type": "number",
            "description": "The target availability percentage for the system.",
            "example": 99.9
          },
          "maintenanceWindow": {
            "type": "string",
            "description": "Scheduled maintenance window for the system.",
            "example": "Sunday 2 AM - 4 AM"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "Active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Date and time when the record was last updated.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "Details of a system assurance item."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Pagination information for the list response."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp-789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request correlation.",
            "example": "corr-012"
          },
          "generatedAt": {
            "type": "string",
            "description": "Date and time when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "US-West"
          }
        },
        "description": "Information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "systems-assurance-search-systems-assurance"
        },
        "example": "systems-assurance-search-systems-assurance"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme allows for the use of a Bearer token for authentication. It specifically supports JSON Web Tokens (JWT), which can be passed in the Authorization header of requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}