{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Aisp Transactions-spec",
    "description": "The AISP Transaction Retrieval API allows users to access account transaction details from participating financial institutions. This API can be utilized by financial service providers and developers to fetch detailed records of transactions linked to an account, enhancing financial management and tracking processes. Typical use cases include providing consumers with insights into their spending patterns and supporting budgeting applications. The API leverages the capabilities of open banking to ensure secure and efficient transaction data retrieval.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/aisp/transactions": {
      "get": {
        "tags": [
          "AISP Transactions"
        ],
        "summary": "Retrieve a list of transactions.",
        "description": "This endpoint allows you to fetch a list of transactions associated with the AISP (Account Information Service Provider). You can use this to monitor account activity, review previous transactions, or fetch transaction details within a specified range.",
        "operationId": "listAispTransactions",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve transaction information from the AISP (Account Information Service Provider). It should include necessary parameters for transaction retrieval as defined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListAispTransactionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of transaction data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAispTransactionsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListAispTransactionsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on transactions in the AISP service. It is expected to be a string payload.",
        "example": "{}"
      },
      "ListAispTransactionsResponse_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "Transaction": {
                "type": "array",
                "description": "List of transaction records.",
                "items": {
                  "$ref": "#/components/schemas/Transaction"
                }
              }
            },
            "description": "Contains the details of the transactions.",
            "example": {
              "Transaction": [
                {
                  "AccountId": "ACC-129493",
                  "id": "STANDARD",
                  "reference": "STANDARD",
                  "StatementReference": [
                    "STANDARD"
                  ],
                  "CreditDebitIndicator": "STANDARD",
                  "Status": "ACTIVE",
                  "mutability": "STANDARD",
                  "BookingDateTime": "2026-09-15T14:30:00Z",
                  "ValueDateTime": "2026-09-15T14:30:00Z",
                  "information": "STANDARD",
                  "AddressLine": "STANDARD",
                  "Amount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  },
                  "ChargeAmount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  },
                  "CurrencyExchange": {
                    "SourceCurrency": "USD",
                    "TargetCurrency": "USD",
                    "UnitCurrency": "USD",
                    "ExchangeRate": 100.0,
                    "ContractIdentification": "STANDARD",
                    "QuotationDate": "2026-09-15",
                    "InstructedAmount": {
                      "Amount": "1250.75",
                      "Currency": "USD"
                    }
                  },
                  "BankTransactionCode": {
                    "Code": "SUCCESS",
                    "SubCode": "CODE-435"
                  },
                  "code": {
                    "Code": "SUCCESS",
                    "Issuer": "STANDARD"
                  },
                  "ExtendedProprietaryBankTransactionCodes": [
                    {
                      "Code": "SUCCESS",
                      "Issuer": "STANDARD",
                      "Description": "Customer banking request processed successfully"
                    }
                  ],
                  "Balance": {
                    "CreditDebitIndicator": "STANDARD",
                    "Type": "STANDARD",
                    "Amount": {
                      "Amount": "1250.75",
                      "Currency": "USD"
                    }
                  },
                  "MerchantDetails": {
                    "MerchantName": "Northstar Banking Service"
                  }
                }
              ]
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Identifier for the response.",
                "example": "response-12345"
              },
              "correlationId": {
                "type": "string",
                "description": "Correlation identifier for tracking requests.",
                "example": "correlation-12345"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp of when the response was generated.",
                "example": "2023-10-01T12:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the request was processed.",
                "example": "Europe"
              }
            },
            "description": "Metadata associated with the response.",
            "example": {
              "responseId": "878dfdc9-9f08-5522-9b95-19f5f5b0207f",
              "correlationId": "2cb49327-94e2-59a6-bcaa-23fb2bd4a364",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for retrieving transactions.",
        "example": {
          "Data": {
            "Transaction": [
              {
                "AccountId": "ACC-129493",
                "id": "STANDARD",
                "reference": "STANDARD",
                "StatementReference": [
                  "STANDARD"
                ],
                "CreditDebitIndicator": "STANDARD",
                "Status": "ACTIVE",
                "mutability": "STANDARD",
                "BookingDateTime": "2026-09-15T14:30:00Z",
                "ValueDateTime": "2026-09-15T14:30:00Z",
                "information": "STANDARD",
                "AddressLine": "STANDARD",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "ChargeAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "CurrencyExchange": {
                  "SourceCurrency": "USD",
                  "TargetCurrency": "USD",
                  "UnitCurrency": "USD",
                  "ExchangeRate": 100.0,
                  "ContractIdentification": "STANDARD",
                  "QuotationDate": "2026-09-15",
                  "InstructedAmount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  }
                },
                "BankTransactionCode": {
                  "Code": "SUCCESS",
                  "SubCode": "CODE-435"
                },
                "code": {
                  "Code": "SUCCESS",
                  "Issuer": "STANDARD"
                },
                "ExtendedProprietaryBankTransactionCodes": [
                  {
                    "Code": "SUCCESS",
                    "Issuer": "STANDARD",
                    "Description": "Customer banking request processed successfully"
                  }
                ],
                "Balance": {
                  "CreditDebitIndicator": "STANDARD",
                  "Type": "STANDARD",
                  "Amount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  }
                },
                "MerchantDetails": {
                  "MerchantName": "Northstar Banking Service"
                }
              }
            ]
          },
          "metadata": {
            "responseId": "878dfdc9-9f08-5522-9b95-19f5f5b0207f",
            "correlationId": "2cb49327-94e2-59a6-bcaa-23fb2bd4a364",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Transaction": {
        "type": "object",
        "properties": {
          "AccountId": {
            "type": "string",
            "description": "Unique identifier for the account associated with the transaction.",
            "example": "account-123"
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the transaction.",
            "example": "transaction-123"
          },
          "reference": {
            "type": "string",
            "description": "Reference number associated with the transaction.",
            "example": "reference-123"
          },
          "StatementReference": {
            "type": "array",
            "description": "References related to the statement of the transaction.",
            "example": [
              "statement-1",
              "statement-2"
            ],
            "items": {
              "type": "string"
            }
          },
          "CreditDebitIndicator": {
            "type": "string",
            "description": "Indicates whether the transaction is a credit or a debit.",
            "example": "CREDIT"
          },
          "Status": {
            "type": "string",
            "description": "Current status of the transaction.",
            "example": "COMPLETED"
          },
          "mutability": {
            "type": "string",
            "description": "Indicates whether the transaction can be mutated.",
            "example": "IMMUTABLE"
          },
          "BookingDateTime": {
            "type": "string",
            "description": "Date and time when the transaction was booked.",
            "example": "2023-10-01T10:00:00Z"
          },
          "ValueDateTime": {
            "type": "string",
            "description": "Date and time when the transaction value is recognized.",
            "example": "2023-10-01T10:00:00Z"
          },
          "information": {
            "type": "string",
            "description": "Additional information about the transaction.",
            "example": "Transaction information here."
          },
          "AddressLine": {
            "type": "string",
            "description": "Address related to the transaction.",
            "example": "123 Transaction St."
          },
          "Amount": {
            "description": "The amount involved in the transaction.",
            "$ref": "#/components/schemas/Amount"
          },
          "ChargeAmount": {
            "description": "The charge amount for the transaction.",
            "$ref": "#/components/schemas/Amount"
          },
          "CurrencyExchange": {
            "description": "Details regarding currency conversion, if applicable.",
            "$ref": "#/components/schemas/CurrencyExchange"
          },
          "BankTransactionCode": {
            "description": "Bank-specific transaction codes.",
            "$ref": "#/components/schemas/BankTransactionCode"
          },
          "code": {
            "description": "Proprietary code related to the transaction.",
            "$ref": "#/components/schemas/ProprietaryCode"
          },
          "ExtendedProprietaryBankTransactionCodes": {
            "type": "array",
            "description": "Array of extended proprietary bank transaction codes.",
            "items": {
              "$ref": "#/components/schemas/ExtendedProprietaryBankTransactionCode"
            }
          },
          "Balance": {
            "description": "Balance information related to this transaction.",
            "$ref": "#/components/schemas/Balance"
          },
          "MerchantDetails": {
            "description": "Details of the merchant involved in the transaction.",
            "$ref": "#/components/schemas/MerchantDetails"
          }
        },
        "description": "Represents a single financial transaction."
      },
      "Amount": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The numerical amount.",
            "example": "100.00"
          },
          "Currency": {
            "type": "string",
            "description": "The currency of the amount.",
            "example": "USD"
          }
        },
        "description": "Representation of a monetary amount."
      },
      "CurrencyExchange": {
        "type": "object",
        "properties": {
          "SourceCurrency": {
            "type": "string",
            "description": "The original currency before the exchange.",
            "example": "EUR"
          },
          "TargetCurrency": {
            "type": "string",
            "description": "The currency after the exchange.",
            "example": "USD"
          },
          "UnitCurrency": {
            "type": "string",
            "description": "The currency used for the unit exchange.",
            "example": "USD"
          },
          "ExchangeRate": {
            "type": "number",
            "description": "The rate at which the currency has been exchanged.",
            "example": 1.1
          },
          "ContractIdentification": {
            "type": "string",
            "description": "Identification for the exchange contract.",
            "example": "contract-123"
          },
          "QuotationDate": {
            "type": "string",
            "description": "Date of the exchange quote.",
            "example": "2023-10-01"
          },
          "InstructedAmount": {
            "description": "Amount that was instructed for the exchange.",
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "Information about the currency exchange details."
      },
      "BankTransactionCode": {
        "type": "object",
        "properties": {
          "Code": {
            "type": "string",
            "description": "Main code for the bank transaction.",
            "example": "ABCD"
          },
          "SubCode": {
            "type": "string",
            "description": "Sub-category code for additional classification.",
            "example": "XYZ"
          }
        },
        "description": "Codes used to classify bank transactions."
      },
      "ProprietaryCode": {
        "type": "object",
        "properties": {
          "Code": {
            "type": "string",
            "description": "Proprietary code.",
            "example": "CODE123"
          },
          "Issuer": {
            "type": "string",
            "description": "Issuer of the proprietary code.",
            "example": "BankName"
          }
        },
        "description": "Proprietary transactions codes from banks."
      },
      "ExtendedProprietaryBankTransactionCode": {
        "type": "object",
        "properties": {
          "Code": {
            "type": "string",
            "description": "The extended proprietary code.",
            "example": "EXT_CODE"
          },
          "Issuer": {
            "type": "string",
            "description": "The bank that issued the extended code.",
            "example": "IssuerName"
          },
          "Description": {
            "type": "string",
            "description": "Description of the proprietary transaction code.",
            "example": "Detailed description here."
          }
        },
        "description": "Extended proprietary transaction codes from banks."
      },
      "Balance": {
        "type": "object",
        "properties": {
          "CreditDebitIndicator": {
            "type": "string",
            "description": "Indicates whether the balance is a credit or debit.",
            "example": "DEBIT"
          },
          "Type": {
            "type": "string",
            "description": "Type of balance (e.g., current, available).",
            "example": "CURRENT"
          },
          "Amount": {
            "description": "The monetary balance amount.",
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "Information related to the balance associated with a transaction."
      },
      "MerchantDetails": {
        "type": "object",
        "properties": {
          "MerchantName": {
            "type": "string",
            "description": "Name of the merchant.",
            "example": "Online Store"
          }
        },
        "description": "Details about the merchant involved in the transaction."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that processed the request, used for tracking and auditing purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-api-get-transactions"
        },
        "example": "accounts-api-get-transactions"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the request, useful for identifying the source of the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication scheme that involves a JSON Web Token (JWT). Clients must include the JWT in the Authorization header when making requests to authenticate themselves.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}