{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Replace Loan Application By Document Id-spec",
    "description": "This API allows you to update specific documents associated with a loan application using its unique identifiers. By providing the loan application ID and the document ID, users can replace the existing document with a new one, ensuring that all loan-related documentation is current and accurate. Financial institutions and loan management platforms are typical consumers of this API, enabling them to maintain efficient and organized loan application processes. This operation supports compliance and customer service by ensuring that documentation reflects the latest information.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{param1}/documents/{documentId}": {
      "put": {
        "tags": [
          "Loan Applications"
        ],
        "summary": "Update a document for a specific loan application.",
        "description": "This operation allows users to update documents associated with a specific loan application identified by RES-100045. Ensure that the document details are correct before updating.",
        "operationId": "replaceLoanApplicationByDocumentId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          },
          {
            "$ref": "#/components/parameters/documentId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the documents associated with a specific loan application. It expects a JSON payload that adheres to the defined schema for loan application documents.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceLoanApplicationByDocumentIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The document was successfully updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceLoanApplicationByDocumentIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ReplaceLoanApplicationByDocumentIdRequest": {
        "type": "object",
        "properties": {
          "documentType": {
            "type": "string",
            "description": "Type of the document being submitted.",
            "example": "STANDARD"
          },
          "applicantId": {
            "type": "string",
            "description": "Unique identifier for the applicant.",
            "example": "62d3813a-2e67-c38a-585a-a95af4a3a20f"
          },
          "collateralId": {
            "type": "string",
            "description": "Identifier for the collateral associated with the loan.",
            "example": "1041d230-c945-6723-061e-0800f31bf6bf"
          },
          "fileName": {
            "type": "string",
            "description": "Name of the file being uploaded.",
            "example": "Northstar Banking Service"
          },
          "mimeType": {
            "type": "string",
            "description": "MIME type of the uploaded file.",
            "example": "STANDARD"
          },
          "storageReference": {
            "type": "string",
            "description": "Reference to the storage location of the document.",
            "example": "STANDARD"
          },
          "sha256Checksum": {
            "type": "string",
            "description": "SHA256 checksum of the document for integrity verification.",
            "example": "STANDARD"
          },
          "issuedDate": {
            "type": "string",
            "description": "Date when the document was issued.",
            "example": "2026-09-15"
          },
          "expiryDate": {
            "type": "string",
            "description": "Expiration date of the document.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the request body when submitting loan application documents.",
        "example": {
          "documentType": "STANDARD",
          "applicantId": "62d3813a-2e67-c38a-585a-a95af4a3a20f",
          "collateralId": "1041d230-c945-6723-061e-0800f31bf6bf",
          "fileName": "Northstar Banking Service",
          "mimeType": "STANDARD",
          "storageReference": "STANDARD",
          "sha256Checksum": "STANDARD",
          "issuedDate": "2026-09-15",
          "expiryDate": "2026-09-15",
          "requestContext": {
            "requestId": "0c7fd573-6fc1-5c54-8fd8-144eea66e1b0",
            "correlationId": "cdaf3302-731a-5091-9a23-cbb26781bea2",
            "idempotencyKey": "f4cdcefc-d845-52ab-ab43-b08635c8c687",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-349379"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-789"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used to correlate related requests.",
            "example": "corr-456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotent operations.",
            "example": "idempotency-key-123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System that initiated the request.",
            "example": "LoanSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application that made the request.",
            "example": "WebApp"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information about the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-789"
          }
        },
        "description": "Information about the channel through which the request was made."
      },
      "ReplaceLoanApplicationByDocumentIdResponse_200": {
        "type": "object",
        "properties": {
          "documentType": {
            "type": "string",
            "description": "The type of the document (e.g., ID, Payslip, etc.).",
            "example": "STANDARD"
          },
          "applicantId": {
            "type": "string",
            "description": "Unique identifier for the applicant associated with the document.",
            "example": "2bf7d4bd-c146-42ce-926d-7f497620cb70"
          },
          "collateralId": {
            "type": "string",
            "description": "Unique identifier for the collateral associated with the document.",
            "example": "92944354-4ac5-996b-6664-2fa4c45e80de"
          },
          "fileName": {
            "type": "string",
            "description": "The name of the file as it is stored.",
            "example": "Northstar Banking Service"
          },
          "mimeType": {
            "type": "string",
            "description": "The MIME type of the document (e.g., application/pdf).",
            "example": "STANDARD"
          },
          "storageReference": {
            "type": "string",
            "description": "Reference to the storage location of the document.",
            "example": "STANDARD"
          },
          "sha256Checksum": {
            "type": "string",
            "description": "The SHA-256 checksum of the file for integrity verification.",
            "example": "STANDARD"
          },
          "issuedDate": {
            "type": "string",
            "description": "The date when the document was issued.",
            "example": "2026-09-15"
          },
          "expiryDate": {
            "type": "string",
            "description": "The expiration date of the document.",
            "example": "2026-09-15"
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the document.",
            "example": "817055c2-ff26-ed58-fe9d-265e8d2c8855"
          },
          "verificationStatus": {
            "type": "string",
            "description": "The current verification status of the document (e.g., verified, pending).",
            "example": "VERIFIED"
          },
          "verificationComments": {
            "type": "string",
            "description": "Comments provided during the verification process.",
            "example": "STANDARD"
          },
          "verifiedAt": {
            "type": "string",
            "description": "Timestamp of when the document was verified.",
            "example": "2026-09-15T14:30:00Z"
          },
          "verifiedBy": {
            "type": "string",
            "description": "Identifier of the user who verified the document.",
            "example": "STANDARD"
          },
          "audit": {
            "description": "Audit details for tracking changes made to the document.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Additional metadata associated with the document.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for loan application documents.",
        "example": {
          "documentType": "STANDARD",
          "applicantId": "2bf7d4bd-c146-42ce-926d-7f497620cb70",
          "collateralId": "92944354-4ac5-996b-6664-2fa4c45e80de",
          "fileName": "Northstar Banking Service",
          "mimeType": "STANDARD",
          "storageReference": "STANDARD",
          "sha256Checksum": "STANDARD",
          "issuedDate": "2026-09-15",
          "expiryDate": "2026-09-15",
          "id": "817055c2-ff26-ed58-fe9d-265e8d2c8855",
          "verificationStatus": "VERIFIED",
          "verificationComments": "STANDARD",
          "verifiedAt": "2026-09-15T14:30:00Z",
          "verifiedBy": "STANDARD",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "c29705df-97a7-5a67-aad9-f8891e4237d9",
            "correlationId": "cdaf3302-731a-5091-9a23-cbb26781bea2",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Audit": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp of when the document was created.",
            "example": "2023-01-01T12:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the document.",
            "example": "user-123456"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the document was last updated.",
            "example": "2023-06-01T12:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the document.",
            "example": "user-654321"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the document.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Schema representing audit information for document modifications."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracking the request correlation.",
            "example": "correlation-123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the metadata was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the document was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Schema for storing metadata related to the document."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "documentId": {
        "name": "documentId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint associated with this request, which helps in tracking and associating the response with the original transaction.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-replace-application-document"
        },
        "example": "banking-loans-openapi-replace-application-document"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed this request, providing context about the source of the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token for authentication based on the JSON Web Token (JWT) standard. To access protected resources, clients must include the token in the `Authorization` header using the format `Bearer <token>`.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}