{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Event Notification Management API",
    "description": "The Event Notification Management API enables organizations to facilitate real-time event notifications related to open banking operations. This API allows clients to publish and manage notifications for significant events, ensuring timely communication of updates and changes. Typical consumers include financial institutions and developers integrating open banking functionalities into their applications. By leveraging this API, clients can enhance user engagement and streamline transaction processes through automated notifications.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/event-notifications": {
      "post": {
        "tags": [
          "Event Management"
        ],
        "summary": "Create a new event notification",
        "description": "This endpoint allows you to create a new event notification, which can be used to alert users or systems about specific events.",
        "operationId": "createEventNotification",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to send event notifications to the server. The payload should contain relevant event details formatted in JSON, which will trigger the appropriate actions on the server.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEventNotificationRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted for processing, but the processing is not yet complete.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateEventNotificationResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateEventNotificationRequest": {
        "title": "Event Notification Request",
        "type": "object",
        "properties": {
          "value": {
            "type": "string",
            "description": "The payload of the event notification.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the request body of the POST operation for event notifications.",
        "example": {
          "value": "STANDARD",
          "requestContext": {
            "requestId": "5d24a0c2-6cc3-54ac-bb9f-265ba766cb75",
            "correlationId": "ac5cf6a9-29ee-585e-94fc-2a138f73ed92",
            "idempotencyKey": "bb612007-4f61-59e5-9ace-6df9c509cacb",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-627387"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is processed only once.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name of the source system generating the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application generating the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier of the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., SMS, Email, etc.).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device associated with the channel.",
            "example": "string"
          }
        },
        "description": "Schema representing channel information."
      },
      "CreateEventNotificationResponse_202": {
        "title": "Event Notification Response",
        "type": "object",
        "properties": {
          "metadata": {
            "description": "Metadata information regarding the event notification response.",
            "$ref": "#/components/schemas/EventNotificationMetadata"
          }
        },
        "description": "This schema represents the response structure for the event notifications POST request, providing metadata related to the processing of the notification.",
        "example": {
          "metadata": {
            "responseId": "a4cdd510-9e38-55f0-bdcf-c6fd8dd45bb8",
            "correlationId": "ac5cf6a9-29ee-585e-94fc-2a138f73ed92",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EventNotificationMetadata": {
        "title": "Event Notification Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response to the event notification.",
            "example": "1a2b3c4d"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier that correlates this response with the original request or other related requests.",
            "example": "5e6f7g8h"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the response was generated.",
            "example": "2023-10-12T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the processing of the notification took place.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata associated with the event notification response, including identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint processing this request, useful for tracing logs and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "events-notifications-api-create-event-notification"
        },
        "example": "events-notifications-api-create-event-notification"
      },
      "x-runtime-app": {
        "description": "Indicates the version of the application that is processing the request, which helps in identifying API changes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes a Bearer token for authentication. The token typically follows JWT (JSON Web Token) format, which allows the API to verify user identity and permissions without needing to store session state on the server.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}