{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Operational Service By Param1-spec",
    "description": "The Operational Device Tracking API provides real-time insights into the status of issued banking devices based on specific parameters. This endpoint facilitates the retrieval of operational service details, enabling businesses to track and manage their issued devices efficiently. Typical consumers of this API include banking institutions and operational teams needing to monitor device performance and status. By leveraging this API, organizations can ensure improved service delivery and proactive device management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/issued-device-tracking/{param1}": {
      "get": {
        "tags": [
          "Issued Device Management"
        ],
        "summary": "Retrieve tracking information for an issued device.",
        "description": "This endpoint allows you to retrieve detailed tracking information for a specific issued device using its unique identifier. It provides essential data to help manage and monitor the device's status and location.",
        "operationId": "getOperationalServiceByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is utilized to retrieve tracking information for the issued device with the specified ID. The data provided in the body should conform to the defined schema to ensure successful request handling.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetOperationalServiceByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was completed successfully, and the device tracking information is returned.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetOperationalServiceByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetOperationalServiceByParam1Request": {
        "type": "string",
        "description": "The JSON request body schema for retrieving issued device tracking information.",
        "example": "{}"
      },
      "GetOperationalServiceByParam1Response_200": {
        "title": "Device Tracking Response",
        "type": "object",
        "properties": {
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device.",
            "example": "DEV-628731"
          },
          "deviceType": {
            "type": "string",
            "description": "Type of the device (e.g., smartphone, laptop).",
            "example": "STANDARD"
          },
          "assignedPartyId": {
            "type": "string",
            "description": "Identifier for the party to whom the device is assigned.",
            "example": "PARTY-706372"
          },
          "serialNumber": {
            "type": "string",
            "description": "Serial number of the device.",
            "example": "STANDARD"
          },
          "deviceStatus": {
            "type": "string",
            "description": "Current status of the device (e.g., active, inactive).",
            "example": "ACTIVE"
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the record (e.g., valid, invalid).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version of the device record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the device record.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/DeviceMetadata"
          }
        },
        "description": "Response schema for issued device tracking operations.",
        "example": {
          "deviceId": "DEV-628731",
          "deviceType": "STANDARD",
          "assignedPartyId": "PARTY-706372",
          "serialNumber": "STANDARD",
          "deviceStatus": "ACTIVE",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "c93f1717-7916-58dd-b513-2cf553f3c73e",
            "correlationId": "b72c3f2c-149b-5b7e-9885-75bc57fbc450",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "DeviceMetadata": {
        "title": "Device Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response.",
            "example": "response-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses.",
            "example": "correlation-67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Additional metadata associated with the device tracking response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "issued-device-tracking-get-issued-device-tracking"
        },
        "example": "issued-device-tracking-get-issued-device-tracking"
      },
      "x-runtime-app": {
        "description": "The name of the application runtime context in which the request was handled.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JWT (JSON Web Tokens) as a bearer token for authentication. Clients must provide the token in the Authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}