{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Banking Human Resource Management Employee Evaluation Evaluation-v5-spec",
    "description": "MICROSERVICE-PROD-Create Banking Human Resource Management Employee Evaluation Evaluation-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/employee-evaluation/evaluations": {
      "post": {
        "operationId": "createBankingHumanResourceManagementEmployeeEvaluationEvaluation",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBankingHumanResourceManagementEmployeeEvaluationEvaluationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBankingHumanResourceManagementEmployeeEvaluationEvaluationResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateBankingHumanResourceManagementEmployeeEvaluationEvaluationRequest": {
        "type": "object",
        "properties": {
          "employeeId": {
            "type": "string",
            "example": "EMP-917101"
          },
          "assignmentId": {
            "type": "string",
            "example": "STANDARD"
          },
          "departmentId": {
            "type": "string",
            "example": "STANDARD"
          },
          "effectiveDate": {
            "type": "string",
            "example": "2026-09-15"
          },
          "countryCode": {
            "type": "string",
            "example": "US"
          },
          "employmentType": {
            "type": "string",
            "example": "STANDARD"
          },
          "managerId": {
            "type": "string",
            "example": "STANDARD"
          },
          "workLocation": {
            "type": "string",
            "example": "STANDARD"
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "408bd52f-5534-5933-bb6e-6c4b4d9c0f91",
              "correlationId": "538345ca-8e81-571f-a7be-bbe02e5d86aa",
              "idempotencyKey": "ed33f016-f756-56cd-b6f9-48afc8221a3b",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-408530"
              }
            }
          }
        },
        "example": {
          "employeeId": "EMP-917101",
          "assignmentId": "STANDARD",
          "departmentId": "STANDARD",
          "effectiveDate": "2026-09-15",
          "countryCode": "US",
          "employmentType": "STANDARD",
          "managerId": "STANDARD",
          "workLocation": "STANDARD",
          "requestContext": {
            "requestId": "408bd52f-5534-5933-bb6e-6c4b4d9c0f91",
            "correlationId": "538345ca-8e81-571f-a7be-bbe02e5d86aa",
            "idempotencyKey": "ed33f016-f756-56cd-b6f9-48afc8221a3b",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-408530"
            }
          }
        }
      },
      "CreateBankingHumanResourceManagementEmployeeEvaluationEvaluationResponse_200": {
        "type": "object",
        "properties": {
          "employeeId": {
            "type": "string",
            "example": "EMP-763134"
          },
          "assignmentId": {
            "type": "string",
            "example": "STANDARD"
          },
          "departmentId": {
            "type": "string",
            "example": "STANDARD"
          },
          "countryCode": {
            "type": "string",
            "example": "US"
          },
          "assessmentId": {
            "type": "string",
            "example": "STANDARD"
          },
          "outcome": {
            "type": "string",
            "example": "STANDARD"
          },
          "score": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "assessedAt": {
            "type": "string",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "858ec3e4-bd47-520e-989e-20bfbcd692ca",
              "correlationId": "538345ca-8e81-571f-a7be-bbe02e5d86aa",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "employeeId": "EMP-763134",
          "assignmentId": "STANDARD",
          "departmentId": "STANDARD",
          "countryCode": "US",
          "assessmentId": "STANDARD",
          "outcome": "STANDARD",
          "score": 1,
          "assessedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "858ec3e4-bd47-520e-989e-20bfbcd692ca",
            "correlationId": "538345ca-8e81-571f-a7be-bbe02e5d86aa",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "employee-evaluation-evaluate-employee-evaluation"
        },
        "example": "employee-evaluation-evaluate-employee-evaluation"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}