{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Market Data Financial Instrument Reference Data Managements-spec",
    "description": "The Market Data Financial Instrument Reference Management API provides access to essential reference data for financial instruments used in banking transactions. This API allows users to retrieve comprehensive information about various financial instruments, supporting applications such as risk assessment, compliance checks, and market analysis. Typical consumers of this API include financial analysts, traders, and developers integrating financial data into their platforms. By providing up-to-date and accurate reference data, this API helps enhance decision-making processes in financial operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-data/financial-instrument-reference-data-management": {
      "get": {
        "tags": [
          "Financial Instruments"
        ],
        "summary": "Retrieve financial instrument reference data.",
        "description": "This endpoint allows users to fetch detailed reference data for various financial instruments, providing essential information for market analysis and decision-making.",
        "operationId": "listMarketDataFinancialInstrumentReferenceDataManagements",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve financial instrument reference data. The request should include the necessary parameters to specify the details of the financial instruments being queried.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListMarketDataFinancialInstrumentReferenceDataManagementsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved financial instrument reference data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListMarketDataFinancialInstrumentReferenceDataManagementsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListMarketDataFinancialInstrumentReferenceDataManagementsRequest": {
        "type": "string",
        "description": "A string representation of the request body for the GET operation related to market data financial instrument reference data management.",
        "example": "{}"
      },
      "ListMarketDataFinancialInstrumentReferenceDataManagementsResponse_200": {
        "title": "Financial Instrument Reference Data Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of financial instruments.",
            "example": [
              {
                "instrumentId": "STANDARD",
                "isin": "STANDARD",
                "marketIdentifierCode": "CODE-663",
                "asOf": "2026-08-11T12:00:00Z",
                "dataSource": "STANDARD",
                "instrumentType": "STANDARD",
                "ticker": "STANDARD",
                "issueCurrency": "USD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/FinancialInstrument"
            }
          },
          "pagination": {
            "description": "Pagination information for the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Additional metadata about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving financial instrument reference data.",
        "example": {
          "items": [
            {
              "instrumentId": "STANDARD",
              "isin": "STANDARD",
              "marketIdentifierCode": "CODE-663",
              "asOf": "2026-08-11T12:00:00Z",
              "dataSource": "STANDARD",
              "instrumentType": "STANDARD",
              "ticker": "STANDARD",
              "issueCurrency": "USD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "8a45216d-1365-5940-85f3-51bc4373e2c0",
            "correlationId": "5be3a161-9eaa-52e0-8935-59c39a9cb710",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "FinancialInstrument": {
        "title": "Financial Instrument",
        "type": "object",
        "properties": {
          "instrumentId": {
            "type": "string",
            "description": "The unique identifier for the financial instrument."
          },
          "isin": {
            "type": "string",
            "description": "International Securities Identification Number for the instrument."
          },
          "marketIdentifierCode": {
            "type": "string",
            "description": "Code representing the market where the instrument is traded."
          },
          "asOf": {
            "type": "string",
            "description": "The date the data is valid as of."
          },
          "dataSource": {
            "type": "string",
            "description": "Source of the data related to the instrument."
          },
          "instrumentType": {
            "type": "string",
            "description": "Type of the financial instrument (e.g., equity, bond)."
          },
          "ticker": {
            "type": "string",
            "description": "Ticker symbol of the financial instrument."
          },
          "issueCurrency": {
            "type": "string",
            "description": "Currency in which the instrument is issued."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record (e.g., ACTIVE, INACTIVE)."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the instrument data was last updated."
          }
        },
        "description": "Details of a financial instrument."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number in the pagination.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available for pagination.",
            "format": "int32"
          }
        },
        "description": "Information regarding pagination for the result set."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to trace the request and response correlation."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the processing occurred."
          }
        },
        "description": "Metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "financial-instrument-reference-data-management-search-financial-instrument-reference-data-management"
        },
        "example": "financial-instrument-reference-data-management-search-financial-instrument-reference-data-management"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Token for authentication. The token should be formatted as JSON Web Token (JWT), allowing secure information exchange between parties and enhancing API security.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}