{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get P2m By Param1-spec",
    "description": "The Webhook Endpoint Retrieval API enables users to fetch specific webhook configurations by providing a parameterized identifier. This operation allows developers to access details about webhook endpoints, facilitating integration with other services or systems. Typical consumers include application developers and system integrators who need to manage webhook subscriptions dynamically. The API streamlines data retrieval processes necessary for seamless operational workflows.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/webhook-endpoints/{param1}": {
      "get": {
        "tags": [
          "Webhook Management"
        ],
        "summary": "Retrieve a specific webhook endpoint.",
        "description": "This endpoint allows developers to retrieve detailed information about a specific webhook endpoint identified by its unique resource ID (RES-100045). Use this to understand the configuration and status of the webhook.",
        "operationId": "getP2mByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body expects a JSON payload containing the necessary parameters for the webhook endpoint with ID RES-100045. Ensure that the payload adheres to the defined schema to ensure successful processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetP2mByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the webhook endpoint details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetP2mByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetP2mByParam1Request": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on the webhook endpoints.",
        "example": "{}"
      },
      "GetP2mByParam1Response_200": {
        "title": "Webhook Endpoint Response",
        "type": "object",
        "properties": {
          "webhookEndpointId": {
            "type": "string",
            "description": "The unique identifier for the webhook endpoint.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "The unique identifier for the merchant associated with the webhook endpoint.",
            "example": "MER-139702"
          },
          "url": {
            "type": "string",
            "description": "The URL to which the webhook will send events.",
            "example": "https://example.com/resource"
          },
          "description": {
            "type": "string",
            "description": "A brief description of the webhook endpoint.",
            "example": "Customer banking request processed successfully"
          },
          "events": {
            "type": "array",
            "description": "A list of events that the webhook is subscribed to.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "An event type that triggers the webhook.",
              "example": "string"
            }
          },
          "status": {
            "type": "string",
            "description": "The current status of the webhook endpoint.",
            "example": "ACTIVE"
          },
          "secretLastRotatedAt": {
            "type": "string",
            "description": "The timestamp of when the secret was last rotated.",
            "example": "2026-08-11T12:00:00Z"
          },
          "lastDeliveryAt": {
            "type": "string",
            "description": "The timestamp of the last delivery to the webhook URL.",
            "example": "2026-08-11T12:00:00Z"
          },
          "lastDeliveryStatus": {
            "type": "string",
            "description": "The status of the last delivery attempt.",
            "example": "ACTIVE"
          },
          "audit": {
            "description": "Information regarding the creation and updates of the webhook endpoint.",
            "$ref": "#/components/schemas/AuditInfo"
          },
          "metadata": {
            "description": "Metadata associated with the webhook endpoint response.",
            "$ref": "#/components/schemas/MetadataInfo"
          }
        },
        "description": "This schema represents the response structure for a webhook endpoint operation.",
        "example": {
          "webhookEndpointId": "STANDARD",
          "merchantId": "MER-139702",
          "url": "https://example.com/resource",
          "description": "Customer banking request processed successfully",
          "events": [
            "STANDARD"
          ],
          "status": "ACTIVE",
          "secretLastRotatedAt": "2026-08-11T12:00:00Z",
          "lastDeliveryAt": "2026-08-11T12:00:00Z",
          "lastDeliveryStatus": "ACTIVE",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "f29681d5-85d4-5dce-be89-304387cb68a2",
            "correlationId": "831fcbf5-f12d-502d-b20b-f24df8d9394c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AuditInfo": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the webhook endpoint was created.",
            "example": "string"
          },
          "createdBy": {
            "type": "string",
            "description": "The identifier of the user who created the webhook endpoint.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the webhook endpoint was last updated.",
            "example": "string"
          },
          "updatedBy": {
            "type": "string",
            "description": "The identifier of the user who last updated the webhook endpoint.",
            "example": "string"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the webhook endpoint.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "This schema contains audit information about the webhook endpoint."
      },
      "MetadataInfo": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the webhook processing occurred.",
            "example": "string"
          }
        },
        "description": "This schema contains metadata information about the webhook endpoint response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-get-webhook-endpoint"
        },
        "example": "banking-p2m-openapi-get-webhook-endpoint"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication format, typically a JSON Web Token (JWT), to provide authorization in API requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}