{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_OAuth URL Generation API",
    "description": "The OAuth URL Generation API facilitates the creation of OAuth URLs for specified financial institutions. This endpoint enables applications to generate secure authentication links, enhancing user experience during login or data sharing. Typically, developers integrating financial services leverage this API to streamline the authorization process, ensuring seamless access to institutional resources. The API requires the institutionId to personalize the OAuth URL for specific institutional settings.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/connect-components/institutions/{institutionId}/oauth-urls": {
      "post": {
        "tags": [
          "Institution Management"
        ],
        "summary": "Create OAuth URL for Institution",
        "description": "This endpoint allows the creation of an OAuth URL for the specified institution, enabling secure authentication and authorization for users. This facilitates the integration of third-party services with the institution's platform.",
        "operationId": "createOauthUrlForInstitution",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/institutionId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create or generate OAuth URLs for the specified institution. The data provided will define the parameters necessary for OAuth authentication, allowing for secure access and user authorization.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOauthUrlForInstitutionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "OAuth URL created successfully.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOauthUrlForInstitutionResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateOauthUrlForInstitutionRequest": {
        "title": "OAuth URLs Request Body",
        "type": "object",
        "properties": {
          "redirectURI": {
            "type": "string",
            "description": "The URI to redirect to after the OAuth flow.",
            "example": "https://example.com/resource"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier of the customer.",
            "example": "CUST-505200"
          },
          "configurationId": {
            "type": "string",
            "description": "The unique identifier of the configuration.",
            "example": "f1808dea-ce8c-bc2f-15c7-5562ff2fd562"
          },
          "serviceAgreement": {
            "description": "Details regarding the service agreement for the operation.",
            "$ref": "#/components/schemas/ServiceAgreement"
          },
          "requestContext": {
            "description": "Provides context for the request, including identifiers and timestamps.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for OAuth URLs operations.",
        "example": {
          "redirectURI": "https://example.com/resource",
          "customerId": "CUST-505200",
          "configurationId": "f1808dea-ce8c-bc2f-15c7-5562ff2fd562",
          "serviceAgreement": {
            "language": "en",
            "acceptedDate": "2026-09-15"
          },
          "requestContext": {
            "requestId": "621b5cf0-9cd1-5418-b71d-5337b45600ec",
            "correlationId": "96a0eb67-b476-5856-8fd1-55a1f70d55e2",
            "idempotencyKey": "e08e190e-e4e1-5954-a97b-be7243c9ff33",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-903727"
            }
          }
        }
      },
      "ServiceAgreement": {
        "title": "Service Agreement",
        "type": "object",
        "properties": {
          "language": {
            "type": "string",
            "description": "The language in which the service agreement is communicated.",
            "example": "en"
          },
          "acceptedDate": {
            "type": "string",
            "description": "The date when the service agreement was accepted.",
            "example": "2023-01-01T00:00:00Z"
          }
        },
        "description": "Schema representing the details of a service agreement."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-abc123"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to trace the request across services.",
            "example": "corr-xyz789"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure the request is processed only once.",
            "example": "idempotent-1a2b3c"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "System A"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "App B"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema containing contextual information about the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "A unique identifier for the channel.",
            "example": "channel-1"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used for communication.",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used to make the request.",
            "example": "device-2"
          }
        },
        "description": "Schema representing the communication channel details."
      },
      "CreateOauthUrlForInstitutionResponse_201": {
        "title": "OAuth URL Response",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the OAuth URL.",
            "example": "17004f36-35b4-3016-fbe4-98b0f8c4b9a0"
          },
          "url": {
            "type": "string",
            "description": "The URL associated with the OAuth operation.",
            "example": "https://example.com/resource"
          },
          "eventStreamId": {
            "type": "string",
            "description": "Identifier for the event stream linked to this OAuth operation.",
            "example": "8b6e3889-3ba3-9fc0-25c1-9aa31daf69c3"
          },
          "metadata": {
            "description": "Metadata pertaining to the OAuth operation.",
            "$ref": "#/components/schemas/OAuthMetadata"
          }
        },
        "description": "Response object for the successful creation of OAuth URLs.",
        "example": {
          "id": "17004f36-35b4-3016-fbe4-98b0f8c4b9a0",
          "url": "https://example.com/resource",
          "eventStreamId": "8b6e3889-3ba3-9fc0-25c1-9aa31daf69c3",
          "metadata": {
            "responseId": "ef3b059c-e721-58b2-abd7-ddc68741a9fd",
            "correlationId": "96a0eb67-b476-5856-8fd1-55a1f70d55e2",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "OAuthMetadata": {
        "title": "OAuth Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the OAuth metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata information related to the OAuth process."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "institutionId": {
        "name": "institutionId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-post-institutions-institution-id-oauth-urls"
        },
        "example": "open-finance-api-post-institutions-institution-id-oauth-urls"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method using Bearer tokens, specifically formatted as JSON Web Tokens (JWT). Clients must include the Bearer token in the Authorization header to access secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}