{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Replace Market Data Financial Instrument Reference Data Management-spec",
    "description": "This API facilitates the management and updating of financial instrument reference data within the banking sector. It allows businesses to ensure that their market data remains accurate and up-to-date, which is crucial for effective financial analytics and decision-making. Typical consumers of this API include financial institutions, investment firms, and fintech companies looking to maintain up-to-date reference data for trading and risk management purposes. By utilizing this endpoint, users can update existing financial instrument records seamlessly, supporting operational efficiency and compliance.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-data/financial-instrument-reference-data-management": {
      "put": {
        "tags": [
          "Financial Data Management"
        ],
        "summary": "Update financial instrument reference data.",
        "description": "Allows users to update existing financial instrument reference data in the market data system. This operation is essential for maintaining accurate and up-to-date information about financial instruments, ensuring that all operations reliant on this data function correctly.",
        "operationId": "replaceMarketDataFinancialInstrumentReferenceDataManagement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the financial instrument reference data in the market data system. Ensure that the provided data adheres to the schema specifications.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceMarketDataFinancialInstrumentReferenceDataManagementRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully; the financial instrument reference data has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceMarketDataFinancialInstrumentReferenceDataManagementResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ReplaceMarketDataFinancialInstrumentReferenceDataManagementRequest": {
        "title": "FinancialInstrumentUpdateRequest",
        "type": "object",
        "properties": {
          "instrumentId": {
            "type": "string",
            "description": "Unique identifier for the financial instrument.",
            "example": "STANDARD"
          },
          "isin": {
            "type": "string",
            "description": "International Securities Identification Number (ISIN) for the instrument.",
            "example": "STANDARD"
          },
          "marketIdentifierCode": {
            "type": "string",
            "description": "Market Identifier Code (MIC) for the market where the instrument is traded.",
            "example": "CODE-574"
          },
          "asOf": {
            "type": "string",
            "description": "Timestamp indicating the effective date of the data.",
            "example": "2026-08-11T12:00:00Z"
          },
          "dataSource": {
            "type": "string",
            "description": "The source from which the instrument data is obtained.",
            "example": "STANDARD"
          },
          "instrumentType": {
            "type": "string",
            "description": "Type of the financial instrument (e.g., equity, bond, derivative).",
            "example": "STANDARD"
          },
          "ticker": {
            "type": "string",
            "description": "Ticker symbol assigned to the instrument.",
            "example": "STANDARD"
          },
          "issueCurrency": {
            "type": "string",
            "description": "Currency in which the instrument is issued.",
            "example": "USD"
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "description": "Unique identifier for the request.",
                "example": "REQ-12345"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier to correlate this request with other requests.",
                "example": "CORR-67890"
              },
              "idempotencyKey": {
                "type": "string",
                "description": "Key to ensure idempotency of the request.",
                "example": "IDEMP-09876"
              },
              "requestedAt": {
                "type": "string",
                "description": "Timestamp indicating when the request was made.",
                "example": "2023-10-01T00:00:00Z"
              },
              "sourceSystem": {
                "type": "string",
                "description": "The system from which the request originated.",
                "example": "TradingApp"
              },
              "sourceApplication": {
                "type": "string",
                "description": "The application initiating the request.",
                "example": "MarketDataUpdater"
              },
              "channel": {
                "$ref": "#/components/schemas/ChannelInformation"
              }
            },
            "description": "Contextual information for the request.",
            "example": {
              "requestId": "7e77b663-d18c-5243-baf1-d1a595a061c9",
              "correlationId": "a104d9ef-cf8b-5ff2-948b-c72f9800a005",
              "idempotencyKey": "96af832c-3547-5490-aa06-b8caaa80ba1c",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-531060"
              }
            }
          }
        },
        "description": "Request body for updating financial instrument reference data.",
        "example": {
          "instrumentId": "STANDARD",
          "isin": "STANDARD",
          "marketIdentifierCode": "CODE-574",
          "asOf": "2026-08-11T12:00:00Z",
          "dataSource": "STANDARD",
          "instrumentType": "STANDARD",
          "ticker": "STANDARD",
          "issueCurrency": "USD",
          "requestContext": {
            "requestId": "7e77b663-d18c-5243-baf1-d1a595a061c9",
            "correlationId": "a104d9ef-cf8b-5ff2-948b-c72f9800a005",
            "idempotencyKey": "96af832c-3547-5490-aa06-b8caaa80ba1c",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-531060"
            }
          }
        }
      },
      "ChannelInformation": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the communication channel.",
            "example": "CHANNEL-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the communication channel (e.g., API, UI, Mobile).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device making the request.",
            "example": "DEVICE-987"
          }
        },
        "description": "Information about the communication channel used for the request."
      },
      "ReplaceMarketDataFinancialInstrumentReferenceDataManagementResponse_200": {
        "title": "FinancialInstrumentReferenceDataResponse",
        "type": "object",
        "properties": {
          "instrumentId": {
            "type": "string",
            "description": "Unique identifier for the financial instrument.",
            "example": "STANDARD"
          },
          "marketIdentifierCode": {
            "type": "string",
            "description": "Code that identifies the market for the financial instrument.",
            "example": "CODE-748"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the financial instrument data.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "Current status of the financial instrument.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating the last time the instrument data was updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the financial instrument reference data management operations.",
        "example": {
          "instrumentId": "STANDARD",
          "marketIdentifierCode": "CODE-748",
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "2fd87479-5a51-54aa-9514-9f57048ee009",
            "correlationId": "a104d9ef-cf8b-5ff2-948b-c72f9800a005",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate this response with the request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request took place.",
            "example": "string"
          }
        },
        "description": "Metadata associated with the financial instrument response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "financial-instrument-reference-data-management-upsert-financial-instrument-reference-data-management"
        },
        "example": "financial-instrument-reference-data-management-upsert-financial-instrument-reference-data-management"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication with JWT (JSON Web Token). It is typically used for authentication and authorization purposes, enabling secure access to protected resources. Clients must include a valid JWT in the Authorization header to authenticate successfully.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}