{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Settlement Accounts Retrieval API",
    "description": "The Settlement Accounts Retrieval API provides access to detailed information about settlement accounts associated with a specific entity. This endpoint allows clients to retrieve data based on the provided identifier, facilitating account management and reconciliation processes. Typical consumers include financial institutions, payment processors, and accounting systems that require up-to-date account information for processing transactions and ensuring accurate records. With this API, users can efficiently access and integrate settlement account details into their systems.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/settlement-accounts/{param1}": {
      "get": {
        "tags": [
          "Settlement Accounts"
        ],
        "summary": "Retrieve a specific settlement account.",
        "description": "This operation retrieves the details of a settlement account identified by its unique account identifier. You can use this endpoint to obtain the account information necessary for financial operations or reporting.",
        "operationId": "getSettlementAccountsById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve operations related to a specific settlement account identified by the account number 'ACC-200045'. The response will include detailed information about the transactions associated with this account.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSettlementAccountsByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of the settlement account details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSettlementAccountsByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetSettlementAccountsByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for retrieving operations related to a specific settlement account.",
        "example": "{}"
      },
      "GetSettlementAccountsByIdResponse_200": {
        "title": "Settlement Account Response",
        "type": "object",
        "properties": {
          "settlementAccountId": {
            "type": "string",
            "description": "The unique identifier for the settlement account.",
            "example": "ACC-960408"
          },
          "merchantId": {
            "type": "string",
            "description": "The unique identifier for the merchant associated with this account.",
            "example": "MER-134911"
          },
          "account": {
            "$ref": "#/components/schemas/AccountDetails"
          },
          "schedule": {
            "$ref": "#/components/schemas/ScheduleDetails"
          },
          "isDefault": {
            "type": "boolean",
            "description": "Indicates if this is the default settlement account.",
            "example": true
          },
          "verificationStatus": {
            "type": "string",
            "description": "The verification status of the settlement account.",
            "example": "VERIFIED"
          },
          "status": {
            "type": "string",
            "description": "The current status of the settlement account.",
            "example": "ACTIVE"
          },
          "audit": {
            "$ref": "#/components/schemas/AuditDetails"
          },
          "metadata": {
            "$ref": "#/components/schemas/MetadataDetails"
          }
        },
        "description": "Represents the response structure containing details about a settlement account.",
        "example": {
          "settlementAccountId": "ACC-960408",
          "merchantId": "MER-134911",
          "account": {
            "bankCode": "CODE-460",
            "branchCode": "CODE-504",
            "numberMasked": "STANDARD",
            "name": "Northstar Banking Service",
            "type": "STANDARD",
            "currency": "USD"
          },
          "schedule": {
            "frequency": "STANDARD",
            "cutoffTime": "STANDARD",
            "timezone": "America/New_York",
            "settlementDelayBusinessDays": 1,
            "minimumPayoutAmount": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "isDefault": true,
          "verificationStatus": "VERIFIED",
          "status": "ACTIVE",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "a8b11566-783c-5b55-9820-4c05af678231",
            "correlationId": "fceb8a89-6b69-5fb7-9162-a8f62a3dc04f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AccountDetails": {
        "title": "Account Details",
        "type": "object",
        "properties": {
          "bankCode": {
            "type": "string",
            "description": "The bank code of the account.",
            "example": "string"
          },
          "branchCode": {
            "type": "string",
            "description": "The branch code of the account.",
            "example": "string"
          },
          "numberMasked": {
            "type": "string",
            "description": "The masked account number for security reasons.",
            "example": "string"
          },
          "name": {
            "type": "string",
            "description": "The name associated with the account.",
            "example": "string"
          },
          "type": {
            "type": "string",
            "description": "The type of the account (e.g., checking, savings).",
            "example": "string"
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the account operates.",
            "example": "string"
          }
        },
        "description": "Contains detailed information about the bank account."
      },
      "ScheduleDetails": {
        "title": "Schedule Details",
        "type": "object",
        "properties": {
          "frequency": {
            "type": "string",
            "description": "The frequency of settlements (e.g., daily, weekly).",
            "example": "string"
          },
          "cutoffTime": {
            "type": "string",
            "description": "The cutoff time for submitting transactions for settlement.",
            "example": "string"
          },
          "timezone": {
            "type": "string",
            "description": "The timezone applicable for the settlement schedule.",
            "example": "string"
          },
          "settlementDelayBusinessDays": {
            "type": "integer",
            "description": "The number of business days to delay the settlement.",
            "format": "int32",
            "example": 0
          },
          "minimumPayoutAmount": {
            "$ref": "#/components/schemas/MinimumPayoutAmount"
          }
        },
        "description": "Contains information about the settlement schedule."
      },
      "MinimumPayoutAmount": {
        "title": "Minimum Payout Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency of the minimum payout amount.",
            "example": "string"
          },
          "value": {
            "type": "string",
            "description": "The value of the minimum payout amount.",
            "example": "string"
          }
        },
        "description": "Represents the minimum payout amount required for the settlement."
      },
      "AuditDetails": {
        "title": "Audit Details",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the account was created.",
            "example": "string"
          },
          "createdBy": {
            "type": "string",
            "description": "The identifier of the user or system that created the account.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of the last update to the account.",
            "example": "string"
          },
          "updatedBy": {
            "type": "string",
            "description": "The identifier of the user or system that last updated the account.",
            "example": "string"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the account's data.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Contains information related to the audit trail of the settlement account."
      },
      "MetadataDetails": {
        "title": "Metadata Details",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation ID for tracking requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Contains metadata related to the response for the settlement account."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-get-settlement-account"
        },
        "example": "banking-p2m-openapi-get-settlement-account"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme utilizing JSON Web Tokens (JWT) for secure access. Clients must include the bearer token in the Authorization header of their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}