{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Pisp International Standing Order-spec",
    "description": "This API facilitates the initiation of international standing orders, allowing users to automate recurring international payments seamlessly. It streamlines cross-border transactions by enabling businesses and consumers to set up and manage their payment schedules conveniently. Typical consumers of this API include financial institutions and payment service providers looking to enhance their service offerings to clients. The API provides the necessary endpoints to create and manage these transactions efficiently.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/international-standing-orders": {
      "post": {
        "tags": [
          "International Payments"
        ],
        "summary": "Create an International Standing Order",
        "description": "This operation allows users to set up an international standing order, facilitating automated payments from one bank account to another across borders on a scheduled basis.",
        "operationId": "createPispInternationalStandingOrder",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create a new international standing order. It includes the necessary details required for processing the standing order transaction, such as the amount, currency, and recipient information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePispInternationalStandingOrderRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource successfully created for the international standing order.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePispInternationalStandingOrderResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreatePispInternationalStandingOrderRequest": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "ConsentId": {
                "type": "string",
                "description": "Identifier for the consent associated with this operation.",
                "example": "string"
              },
              "Initiation": {
                "type": "object",
                "properties": {
                  "RemittanceInformation": {
                    "type": "object",
                    "properties": {
                      "Structured": {
                        "type": "array",
                        "description": "Array of structured remittance information.",
                        "example": [
                          "Example structured information"
                        ],
                        "items": {
                          "$ref": "#/components/schemas/RemittanceStructuredInformation"
                        }
                      },
                      "Unstructured": {
                        "type": "array",
                        "description": "Array of unstructured remittance information.",
                        "example": [
                          "Example unstructured information"
                        ],
                        "items": {
                          "type": "string"
                        }
                      }
                    },
                    "description": "Information related to the remittance intended for the payment.",
                    "example": "string"
                  },
                  "NumberOfPayments": {
                    "type": "string",
                    "description": "The number of payments to process.",
                    "example": "5"
                  },
                  "ExtendedPurpose": {
                    "type": "string",
                    "description": "Extended purpose for the payment.",
                    "example": "Payment for services"
                  },
                  "ChargeBearer": {
                    "type": "string",
                    "description": "Specifies who bears the charges for the transaction.",
                    "example": "SHAR"
                  },
                  "CurrencyOfTransfer": {
                    "type": "string",
                    "description": "The currency to be used for the transfer.",
                    "example": "USD"
                  },
                  "DestinationCountryCode": {
                    "type": "string",
                    "description": "Country code indicating the destination of the transfer.",
                    "example": "US"
                  }
                },
                "description": "Details of the initiation for the standing order.",
                "example": "string"
              }
            },
            "description": "Contains the primary data for the international standing order request.",
            "example": {
              "ConsentId": "STANDARD",
              "Initiation": {
                "RemittanceInformation": {
                  "Structured": [
                    {
                      "ReferredDocumentInformation": [
                        {
                          "Code": "SUCCESS",
                          "Issuer": "STANDARD",
                          "Number": "STANDARD",
                          "RelatedDate": "2026-09-15",
                          "LineDetails": [
                            "STANDARD"
                          ]
                        }
                      ],
                      "ReferredDocumentAmount": "1250.75",
                      "CreditorReferenceInformation": {
                        "Code": "SUCCESS",
                        "Issuer": "STANDARD",
                        "Reference": "STANDARD"
                      },
                      "Invoicer": "STANDARD",
                      "Invoicee": "STANDARD",
                      "TaxRemittance": "STANDARD",
                      "AdditionalRemittanceInformation": [
                        "STANDARD"
                      ]
                    }
                  ],
                  "Unstructured": [
                    "STANDARD"
                  ]
                },
                "NumberOfPayments": "STANDARD",
                "ExtendedPurpose": "STANDARD",
                "ChargeBearer": "STANDARD",
                "CurrencyOfTransfer": "STANDARD",
                "DestinationCountryCode": "US"
              }
            }
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "description": "Unique identifier for the request.",
                "example": "request-12345"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier for correlating logs and requests.",
                "example": "correlation-12345"
              },
              "idempotencyKey": {
                "type": "string",
                "description": "Key used to ensure idempotency of the request.",
                "example": "idempotency-12345"
              },
              "requestedAt": {
                "type": "string",
                "description": "Timestamp indicating when the request was made.",
                "example": "2023-10-01T12:00:00Z"
              },
              "sourceSystem": {
                "type": "string",
                "description": "Source system from which the request originated.",
                "example": "InternalSystem"
              },
              "sourceApplication": {
                "type": "string",
                "description": "Application from which the request was originated.",
                "example": "PaymentApp"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "description": "Identifier for the communication channel.",
                    "example": "channel-12345"
                  },
                  "channelType": {
                    "type": "string",
                    "description": "Type of the channel used (e.g., WEB, MOBILE).",
                    "example": "WEB"
                  },
                  "deviceId": {
                    "type": "string",
                    "description": "Identifier of the device used to make the request.",
                    "example": "device-12345"
                  }
                },
                "description": "Information about the channel used for the request.",
                "example": "string"
              }
            },
            "description": "Contextual information related to the request.",
            "example": {
              "requestId": "ada94368-2549-58f2-8044-c1ede3b2fc00",
              "correlationId": "f8af28c6-eccb-5d9a-8eed-dda167df7f36",
              "idempotencyKey": "a53a5da4-88b9-59ee-af2b-e0eea1d3c71b",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-531562"
              }
            }
          }
        },
        "description": "Request body schema for International Standing Orders operations using POST method.",
        "example": {
          "Data": {
            "ConsentId": "STANDARD",
            "Initiation": {
              "RemittanceInformation": {
                "Structured": [
                  {
                    "ReferredDocumentInformation": [
                      {
                        "Code": "SUCCESS",
                        "Issuer": "STANDARD",
                        "Number": "STANDARD",
                        "RelatedDate": "2026-09-15",
                        "LineDetails": [
                          "STANDARD"
                        ]
                      }
                    ],
                    "ReferredDocumentAmount": "1250.75",
                    "CreditorReferenceInformation": {
                      "Code": "SUCCESS",
                      "Issuer": "STANDARD",
                      "Reference": "STANDARD"
                    },
                    "Invoicer": "STANDARD",
                    "Invoicee": "STANDARD",
                    "TaxRemittance": "STANDARD",
                    "AdditionalRemittanceInformation": [
                      "STANDARD"
                    ]
                  }
                ],
                "Unstructured": [
                  "STANDARD"
                ]
              },
              "NumberOfPayments": "STANDARD",
              "ExtendedPurpose": "STANDARD",
              "ChargeBearer": "STANDARD",
              "CurrencyOfTransfer": "STANDARD",
              "DestinationCountryCode": "US"
            }
          },
          "requestContext": {
            "requestId": "ada94368-2549-58f2-8044-c1ede3b2fc00",
            "correlationId": "f8af28c6-eccb-5d9a-8eed-dda167df7f36",
            "idempotencyKey": "a53a5da4-88b9-59ee-af2b-e0eea1d3c71b",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-531562"
            }
          }
        }
      },
      "RemittanceStructuredInformation": {
        "type": "object",
        "properties": {
          "ReferredDocumentInformation": {
            "type": "array",
            "description": "Array of documents referred by the remittance information.",
            "items": {
              "type": "object",
              "properties": {
                "Code": {
                  "type": "string",
                  "description": "Code associated with the document.",
                  "example": "DOC001"
                },
                "Issuer": {
                  "type": "string",
                  "description": "Issuer of the document.",
                  "example": "IssuerName"
                },
                "Number": {
                  "type": "string",
                  "description": "Document number.",
                  "example": "123456"
                },
                "RelatedDate": {
                  "type": "string",
                  "description": "Date related to the document.",
                  "example": "2023-10-01"
                },
                "LineDetails": {
                  "type": "array",
                  "description": "Details about lines within the document.",
                  "items": {
                    "type": "string",
                    "example": "Detail information about the document line."
                  }
                }
              },
              "example": "string"
            }
          },
          "ReferredDocumentAmount": {
            "type": "string",
            "description": "Total amount referred to in the documents.",
            "example": "100.00"
          },
          "CreditorReferenceInformation": {
            "type": "object",
            "properties": {
              "Code": {
                "type": "string",
                "description": "Creditor reference code.",
                "example": "CR001"
              },
              "Issuer": {
                "type": "string",
                "description": "Issuer of the creditor reference.",
                "example": "CreditorIssuer"
              },
              "Reference": {
                "type": "string",
                "description": "Reference number for the creditor.",
                "example": "REF123"
              }
            },
            "description": "Information regarding the creditor reference."
          },
          "Invoicer": {
            "type": "string",
            "description": "Name of the invoicer.",
            "example": "Invoicer Company"
          },
          "Invoicee": {
            "type": "string",
            "description": "Name of the invoicee.",
            "example": "Invoicee Company"
          },
          "TaxRemittance": {
            "type": "string",
            "description": "Tax related to the remittance.",
            "example": "10.00"
          },
          "AdditionalRemittanceInformation": {
            "type": "array",
            "description": "Any additional remittance information.",
            "items": {
              "type": "string",
              "example": "Additional information for remittance."
            }
          }
        },
        "description": "Structured remittance information related to a payment."
      },
      "CreatePispInternationalStandingOrderResponse_201": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "orderId": {
                "type": "string",
                "description": "Unique identifier for the order.",
                "example": "string"
              },
              "ConsentId": {
                "type": "string",
                "description": "Identifier for the consent associated with the order.",
                "example": "string"
              },
              "CreationDateTime": {
                "type": "string",
                "description": "The date and time when the order was created.",
                "example": "string"
              },
              "Status": {
                "type": "string",
                "description": "Current status of the order.",
                "example": "string"
              },
              "StatusUpdateDateTime": {
                "type": "string",
                "description": "The date and time when the status was last updated.",
                "example": "string"
              },
              "StatusReason": {
                "type": "array",
                "description": "Reasons for the current status of the order.",
                "example": [
                  {
                    "code": "string",
                    "description": "string",
                    "Path": "string"
                  }
                ],
                "items": {
                  "$ref": "#/components/schemas/StatusReason"
                }
              },
              "Refund": {
                "type": "object",
                "properties": {
                  "Account": {
                    "$ref": "#/components/schemas/Account"
                  }
                },
                "description": "Refund information for the order.",
                "example": {
                  "Account": {
                    "SchemeName": "string",
                    "Identification": "string",
                    "Name": "string",
                    "SecondaryIdentification": "string"
                  }
                }
              },
              "Charges": {
                "type": "array",
                "description": "List of charges related to the order.",
                "example": [
                  {
                    "ChargeBearer": "string",
                    "Type": "string",
                    "Amount": {
                      "Amount": "string",
                      "Currency": "string"
                    }
                  }
                ],
                "items": {
                  "$ref": "#/components/schemas/Charge"
                }
              },
              "Initiation": {
                "$ref": "#/components/schemas/Initiation"
              },
              "NumberOfPayments": {
                "type": "string",
                "description": "The number of payments associated with the order.",
                "example": "string"
              },
              "ExtendedPurpose": {
                "type": "string",
                "description": "Extended purpose of the standing order.",
                "example": "string"
              },
              "ChargeBearer": {
                "type": "string",
                "description": "Indicates who will bear the charges.",
                "example": "string"
              },
              "CurrencyOfTransfer": {
                "type": "string",
                "description": "Currency in which the transfer is made.",
                "example": "string"
              },
              "DestinationCountryCode": {
                "type": "string",
                "description": "Country code for the destination of the order.",
                "example": "string"
              }
            },
            "description": "Contains the details of the standing order.",
            "example": {
              "orderId": "ORD-489270",
              "ConsentId": "STANDARD",
              "CreationDateTime": "2026-09-15T14:30:00Z",
              "Status": "ACTIVE",
              "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
              "StatusReason": [
                {
                  "code": "SUCCESS",
                  "description": "Customer banking request processed successfully",
                  "Path": "STANDARD"
                }
              ],
              "Refund": {
                "Account": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "SecondaryIdentification": "STANDARD"
                }
              },
              "Charges": [
                {
                  "ChargeBearer": "STANDARD",
                  "Type": "STANDARD",
                  "Amount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  }
                }
              ],
              "Initiation": {
                "RemittanceInformation": {
                  "Structured": [
                    {
                      "ReferredDocumentInformation": [
                        {
                          "Code": "SUCCESS",
                          "Issuer": "STANDARD",
                          "Number": "STANDARD",
                          "RelatedDate": "2026-09-15",
                          "LineDetails": [
                            "STANDARD"
                          ]
                        }
                      ],
                      "ReferredDocumentAmount": "1250.75",
                      "CreditorReferenceInformation": {
                        "Code": "SUCCESS",
                        "Issuer": "STANDARD",
                        "Reference": "STANDARD"
                      },
                      "Invoicer": "STANDARD",
                      "Invoicee": "STANDARD",
                      "TaxRemittance": "STANDARD",
                      "AdditionalRemittanceInformation": [
                        "STANDARD"
                      ]
                    }
                  ],
                  "Unstructured": [
                    "STANDARD"
                  ]
                },
                "NumberOfPayments": "STANDARD",
                "ExtendedPurpose": "STANDARD",
                "ChargeBearer": "STANDARD",
                "CurrencyOfTransfer": "STANDARD",
                "DestinationCountryCode": "US"
              }
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier used to correlate the response with the request.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp indicating when the response was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region in which the order is processed.",
                "example": "string"
              }
            },
            "description": "Metadata information related to the response.",
            "example": {
              "responseId": "e9e467c3-88f3-5c8d-995c-b8f4b2379db9",
              "correlationId": "f8af28c6-eccb-5d9a-8eed-dda167df7f36",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for the POST operation related to international standing orders.",
        "example": {
          "Data": {
            "orderId": "ORD-489270",
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "Status": "ACTIVE",
            "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
            "StatusReason": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "Path": "STANDARD"
              }
            ],
            "Refund": {
              "Account": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD"
              }
            },
            "Charges": [
              {
                "ChargeBearer": "STANDARD",
                "Type": "STANDARD",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            ],
            "Initiation": {
              "RemittanceInformation": {
                "Structured": [
                  {
                    "ReferredDocumentInformation": [
                      {
                        "Code": "SUCCESS",
                        "Issuer": "STANDARD",
                        "Number": "STANDARD",
                        "RelatedDate": "2026-09-15",
                        "LineDetails": [
                          "STANDARD"
                        ]
                      }
                    ],
                    "ReferredDocumentAmount": "1250.75",
                    "CreditorReferenceInformation": {
                      "Code": "SUCCESS",
                      "Issuer": "STANDARD",
                      "Reference": "STANDARD"
                    },
                    "Invoicer": "STANDARD",
                    "Invoicee": "STANDARD",
                    "TaxRemittance": "STANDARD",
                    "AdditionalRemittanceInformation": [
                      "STANDARD"
                    ]
                  }
                ],
                "Unstructured": [
                  "STANDARD"
                ]
              },
              "NumberOfPayments": "STANDARD",
              "ExtendedPurpose": "STANDARD",
              "ChargeBearer": "STANDARD",
              "CurrencyOfTransfer": "STANDARD",
              "DestinationCountryCode": "US"
            }
          },
          "metadata": {
            "responseId": "e9e467c3-88f3-5c8d-995c-b8f4b2379db9",
            "correlationId": "f8af28c6-eccb-5d9a-8eed-dda167df7f36",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "StatusReason": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Code representing the reason for the status.",
            "example": "string"
          },
          "description": {
            "type": "string",
            "description": "Description of the status reason.",
            "example": "string"
          },
          "Path": {
            "type": "string",
            "description": "Path related to the status reason.",
            "example": "string"
          }
        },
        "description": "Details for the status reason of the order."
      },
      "Account": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "Name of the scheme that the account belongs to.",
            "example": "string"
          },
          "Identification": {
            "type": "string",
            "description": "Unique identification for the account.",
            "example": "string"
          },
          "Name": {
            "type": "string",
            "description": "Name associated with the account.",
            "example": "string"
          },
          "SecondaryIdentification": {
            "type": "string",
            "description": "Additional identification information for the account.",
            "example": "string"
          }
        },
        "description": "Information about the account associated with a refund."
      },
      "Charge": {
        "type": "object",
        "properties": {
          "ChargeBearer": {
            "type": "string",
            "description": "Indicates who is responsible for the charge.",
            "example": "string"
          },
          "Type": {
            "type": "string",
            "description": "Type of charge applied.",
            "example": "string"
          },
          "Amount": {
            "type": "object",
            "properties": {
              "Amount": {
                "type": "string",
                "description": "Charge amount.",
                "example": "string"
              },
              "Currency": {
                "type": "string",
                "description": "Currency of the charge.",
                "example": "string"
              }
            },
            "description": "Details of the charge amount."
          }
        },
        "description": "Charge details related to the order."
      },
      "Initiation": {
        "type": "object",
        "properties": {
          "RemittanceInformation": {
            "type": "object",
            "properties": {
              "Structured": {
                "type": "array",
                "description": "Structured remittance information.",
                "items": {
                  "type": "object",
                  "properties": {
                    "ReferredDocumentInformation": {
                      "type": "array",
                      "description": "Information regarding referred documents.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Code": {
                            "type": "string",
                            "description": "Code related to the referred document.",
                            "example": "string"
                          },
                          "Issuer": {
                            "type": "string",
                            "description": "Issuer of the referred document.",
                            "example": "string"
                          },
                          "Number": {
                            "type": "string",
                            "description": "Number associated with the referred document.",
                            "example": "string"
                          },
                          "RelatedDate": {
                            "type": "string",
                            "description": "Date related to the referred document.",
                            "example": "string"
                          },
                          "LineDetails": {
                            "type": "array",
                            "description": "Details related to the line items on the referred document.",
                            "items": {
                              "type": "string",
                              "example": "string"
                            }
                          }
                        }
                      }
                    },
                    "ReferredDocumentAmount": {
                      "type": "string",
                      "description": "Amount associated with the referred document.",
                      "example": "string"
                    },
                    "CreditorReferenceInformation": {
                      "type": "object",
                      "properties": {
                        "Code": {
                          "type": "string",
                          "description": "Creditor reference code.",
                          "example": "string"
                        },
                        "Issuer": {
                          "type": "string",
                          "description": "Issuer of the creditor reference.",
                          "example": "string"
                        },
                        "Reference": {
                          "type": "string",
                          "description": "Reference number for the creditor.",
                          "example": "string"
                        }
                      },
                      "description": "Reference information for the creditor."
                    },
                    "Invoicer": {
                      "type": "string",
                      "description": "Identifier for the invoicer.",
                      "example": "string"
                    },
                    "Invoicee": {
                      "type": "string",
                      "description": "Identifier for the invoicee.",
                      "example": "string"
                    },
                    "TaxRemittance": {
                      "type": "string",
                      "description": "Tax remittance information.",
                      "example": "string"
                    },
                    "AdditionalRemittanceInformation": {
                      "type": "array",
                      "description": "Additional remittance details.",
                      "items": {
                        "type": "string",
                        "example": "string"
                      }
                    }
                  }
                }
              },
              "Unstructured": {
                "type": "array",
                "description": "Unstructured remittance information.",
                "items": {
                  "type": "string",
                  "example": "string"
                }
              }
            },
            "description": "Information regarding the remittance."
          }
        },
        "description": "Initiation details for the standing order."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Uniquely identifies the endpoint that processed the request, providing a reference for tracing the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-submit-international-standing-order"
        },
        "example": "payment-initiation-openapi-submit-international-standing-order"
      },
      "X-Runtime-App": {
        "description": "Indicates the name of the application that handled the request, which can be useful for performance and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a bearer token as a means of access control, typically formatted as a JSON Web Token (JWT). This allows clients to securely communicate with the server by presenting the token in the authorization header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}