{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Merchant Activate-spec",
    "description": "The Merchant Activation API enables businesses to seamlessly activate merchants within the system. Utilizing this endpoint, developers can initiate the activation process for a specific merchant identified by the merchantId. This service is particularly useful for financial institutions and e-commerce platforms looking to onboard new merchants efficiently. By leveraging this API, companies can enhance their merchant management workflows, ensuring that transactions can commence smoothly after activation.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/merchants/{merchantId}/activate": {
      "post": {
        "tags": [
          "Merchant Operations"
        ],
        "summary": "Activate a merchant account.",
        "description": "This endpoint allows you to activate a specific merchant account identified by its unique ID. Activation is necessary for the merchant to begin processing transactions and accessing platform features.",
        "operationId": "createMerchantActivate",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/merchantId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to activate a merchant account identified by the provided merchant ID. Ensure that the necessary parameters are included in the body to successfully activate the merchant.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMerchantActivateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The merchant has been successfully activated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateMerchantActivateResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateMerchantActivateRequest": {
        "title": "Merchant Activation Request Body",
        "type": "object",
        "properties": {
          "effectiveAt": {
            "type": "string",
            "description": "The date and time at which the activation becomes effective.",
            "example": "2026-09-15T14:30:00Z"
          },
          "reason": {
            "type": "string",
            "description": "The reason for activating the merchant.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for activating a merchant.",
        "example": {
          "effectiveAt": "2026-09-15T14:30:00Z",
          "reason": "STANDARD",
          "requestContext": {
            "requestId": "0620a300-2463-5fbb-8d2a-bfb49016a453",
            "correlationId": "f26be6fb-3046-5000-8829-fc7033bc54a7",
            "idempotencyKey": "4e73a352-a2d8-559c-a22f-a706fe7ad92d",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-947432"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "request-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking related requests.",
            "example": "correlation-456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is processed only once.",
            "example": "unique-id-789"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "internal-system"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "merchant-portal"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing contextual information for the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-abc"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel used (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the request.",
            "example": "device-xyz"
          }
        },
        "description": "Schema representing details of the channel used in the request."
      },
      "CreateMerchantActivateResponse_200": {
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant.",
            "example": "MER-385417"
          },
          "business": {
            "description": "Information about the merchant's business.",
            "$ref": "#/components/schemas/Business"
          },
          "registeredAddress": {
            "description": "The registered address of the merchant.",
            "$ref": "#/components/schemas/RegisteredAddress"
          },
          "contact": {
            "description": "Contact details for the merchant.",
            "$ref": "#/components/schemas/Contact"
          },
          "status": {
            "type": "string",
            "description": "Current status of the merchant.",
            "example": "ACTIVE"
          },
          "kybStatus": {
            "type": "string",
            "description": "Know Your Business status of the merchant.",
            "example": "ACTIVE"
          },
          "amlStatus": {
            "type": "string",
            "description": "Anti-Money Laundering status of the merchant.",
            "example": "ACTIVE"
          },
          "capabilities": {
            "description": "Capabilities available for the merchant.",
            "$ref": "#/components/schemas/Capabilities"
          },
          "commercialTerms": {
            "description": "Commercial terms applicable to the merchant.",
            "$ref": "#/components/schemas/CommercialTerms"
          },
          "metadata": {
            "description": "Metadata for tracking and processing.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "example": {
          "merchantId": "MER-385417",
          "business": {
            "legalName": "Olivia Bennett",
            "tradingName": "Northstar Banking Service",
            "registrationNumber": "NY-4587219",
            "taxIdentificationNumber": "STANDARD",
            "incorporationCountry": "STANDARD",
            "incorporationDate": "2026-09-15",
            "merchantType": "STANDARD",
            "merchantCategoryCode": "5411"
          },
          "registeredAddress": {
            "line1": "350 Fifth Avenue",
            "line2": "Suite 4200",
            "city": "New York",
            "stateOrProvince": "STANDARD",
            "postalCode": "10001",
            "country": "STANDARD"
          },
          "contact": {
            "email": "olivia.bennett@northstar.example",
            "phone": "+1-212-555-0147",
            "website": "https://example.com/resource"
          },
          "status": "ACTIVE",
          "kybStatus": "ACTIVE",
          "amlStatus": "ACTIVE",
          "capabilities": {
            "channels": [
              "STANDARD"
            ],
            "paymentMethods": [
              "STANDARD"
            ],
            "supportsPartialCapture": true,
            "supportsPartialRefund": true,
            "supportsTips": true,
            "supportsSplitPayments": true,
            "supportsRecurringPayments": true,
            "maximumTipPercentage": "STANDARD"
          },
          "commercialTerms": {
            "pricingPlanId": "STANDARD",
            "feeBearer": "STANDARD",
            "paymentFee": {
              "type": "STANDARD",
              "percentage": "STANDARD",
              "fixedAmount": {
                "currency": "USD",
                "value": "STANDARD"
              }
            }
          },
          "metadata": {
            "responseId": "7604bf32-fde1-5207-9bfc-8dac3a55574e",
            "correlationId": "f26be6fb-3046-5000-8829-fc7033bc54a7",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Business": {
        "type": "object",
        "properties": {
          "legalName": {
            "type": "string",
            "description": "The legal name of the business.",
            "example": "Example Corp"
          },
          "tradingName": {
            "type": "string",
            "description": "The name under which the business operates.",
            "example": "Example Trading"
          },
          "registrationNumber": {
            "type": "string",
            "description": "Business registration number.",
            "example": "REG123456"
          },
          "taxIdentificationNumber": {
            "type": "string",
            "description": "Tax identification number for the business.",
            "example": "TAX987654"
          },
          "incorporationCountry": {
            "type": "string",
            "description": "Country where the business is incorporated.",
            "example": "USA"
          },
          "incorporationDate": {
            "type": "string",
            "description": "Date when the business was incorporated.",
            "example": "2020-01-01"
          },
          "merchantType": {
            "type": "string",
            "description": "Type of the merchant.",
            "example": "retail"
          },
          "merchantCategoryCode": {
            "type": "string",
            "description": "Merchant category code defining the type of business.",
            "example": "RETAIL"
          }
        }
      },
      "RegisteredAddress": {
        "type": "object",
        "properties": {
          "line1": {
            "type": "string",
            "description": "First line of the address.",
            "example": "123 Example St"
          },
          "line2": {
            "type": "string",
            "description": "Second line of the address.",
            "example": "Suite 100"
          },
          "city": {
            "type": "string",
            "description": "City of the registered address.",
            "example": "New York"
          },
          "stateOrProvince": {
            "type": "string",
            "description": "State or province of the registered address.",
            "example": "NY"
          },
          "postalCode": {
            "type": "string",
            "description": "Postal code of the registered address.",
            "example": "10001"
          },
          "country": {
            "type": "string",
            "description": "Country of the registered address.",
            "example": "USA"
          }
        }
      },
      "Contact": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "Email address for the merchant.",
            "example": "contact@example.com"
          },
          "phone": {
            "type": "string",
            "description": "Phone number for the merchant.",
            "example": "+11234567890"
          },
          "website": {
            "type": "string",
            "description": "Website URL of the merchant.",
            "example": "https://www.example.com"
          }
        }
      },
      "Capabilities": {
        "type": "object",
        "properties": {
          "channels": {
            "type": "array",
            "description": "Supported sales channels for the merchant.",
            "example": [
              "online",
              "in-store"
            ],
            "items": {
              "type": "string"
            }
          },
          "paymentMethods": {
            "type": "array",
            "description": "Supported payment methods.",
            "example": [
              "credit_card",
              "paypal"
            ],
            "items": {
              "type": "string"
            }
          },
          "supportsPartialCapture": {
            "type": "boolean",
            "description": "Indicates if partial capture is supported.",
            "example": false
          },
          "supportsPartialRefund": {
            "type": "boolean",
            "description": "Indicates if partial refunds are supported.",
            "example": false
          },
          "supportsTips": {
            "type": "boolean",
            "description": "Indicates if tips are supported.",
            "example": false
          },
          "supportsSplitPayments": {
            "type": "boolean",
            "description": "Indicates if split payments are supported.",
            "example": false
          },
          "supportsRecurringPayments": {
            "type": "boolean",
            "description": "Indicates if recurring payments are supported.",
            "example": false
          },
          "maximumTipPercentage": {
            "type": "string",
            "description": "Maximum allowed tip percentage.",
            "example": "15%"
          }
        }
      },
      "CommercialTerms": {
        "type": "object",
        "properties": {
          "pricingPlanId": {
            "type": "string",
            "description": "Identifier for the pricing plan.",
            "example": "PLAN-123"
          },
          "feeBearer": {
            "type": "string",
            "description": "Indicates who bears the fees.",
            "example": "merchant"
          },
          "paymentFee": {
            "description": "Details regarding the payment fee structure.",
            "$ref": "#/components/schemas/PaymentFee"
          }
        }
      },
      "PaymentFee": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of payment fee.",
            "example": "percentage"
          },
          "percentage": {
            "type": "string",
            "description": "Percentage fee if applicable.",
            "example": "2.5%"
          },
          "fixedAmount": {
            "description": "Fixed amount fee details if applicable.",
            "$ref": "#/components/schemas/FixedAmount"
          }
        }
      },
      "FixedAmount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency for the fixed amount fee.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "Value of the fixed amount fee.",
            "example": "1.00"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response.",
            "example": "RESP-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking.",
            "example": "CORR-123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where processing occurred.",
            "example": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "merchantId": {
        "name": "merchantId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-activate-merchant"
        },
        "example": "banking-p2m-openapi-activate-merchant"
      },
      "X-Runtime-App": {
        "description": "Indicates the runtime application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JSON Web Tokens (JWT) to authenticate users. Clients must include a valid JWT in the Authorization header as a Bearer token with each request, ensuring secure access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}