{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_International Standing Order Consents API",
    "description": "The International Standing Order Consents API enables financial institutions to manage and retrieve consent information for international standing orders. This API allows users to access specific consent details, facilitating compliance and transparency in cross-border transactions. Typical consumers include banking applications and financial service providers that need to interact with consent data for payments. By leveraging this API, developers can ensure the secure handling of customer consents necessary for executing standing orders internationally.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/international-standing-order-consents/{param1}": {
      "get": {
        "tags": [
          "International Standing Orders"
        ],
        "summary": "Retrieve International Standing Order Consent by ID",
        "description": "This endpoint allows you to retrieve the details of a specific International Standing Order Consent using its unique identifier. It provides comprehensive information regarding the consent including associated metadata, allowing developers to integrate this functionality seamlessly.",
        "operationId": "getInternationalStandingOrderConsentById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "The request body must contain a JSON object that specifies the parameters for retrieving the international standing order consent with the specified ID. Ensure that all required parameters are included for successful processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetInternationalStandingOrderConsentByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the international standing order consent details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetInternationalStandingOrderConsentByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetInternationalStandingOrderConsentByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation regarding international standing order consents. It is expected to be a string value.",
        "example": "{}"
      },
      "GetInternationalStandingOrderConsentByIdResponse_200": {
        "title": "International Standing Order Consent Response",
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "ConsentId": {
                "type": "string",
                "description": "Unique identifier of the consent.",
                "example": "CONSENT-12345"
              },
              "CreationDateTime": {
                "type": "string",
                "description": "Timestamp of when the consent was created.",
                "example": "2023-01-01T12:00:00Z"
              },
              "Status": {
                "type": "string",
                "description": "Current status of the consent.",
                "example": "ACTIVE"
              },
              "StatusReason": {
                "type": "array",
                "description": "Reasons related to the current status of the consent.",
                "example": [
                  {
                    "code": "REASON_CODE",
                    "description": "Reason description.",
                    "Path": "path/to/reason"
                  }
                ],
                "items": {
                  "$ref": "#/components/schemas/StatusReasonDetails"
                }
              },
              "StatusUpdateDateTime": {
                "type": "string",
                "description": "Timestamp of the last status update.",
                "example": "2023-01-02T12:00:00Z"
              },
              "Permission": {
                "type": "string",
                "description": "Permission granted for the standing order.",
                "example": "GRANTED"
              },
              "ReadRefundAccount": {
                "type": "string",
                "description": "Indicates whether the refund account can be read.",
                "example": "YES"
              },
              "CutOffDateTime": {
                "type": "string",
                "description": "Cut-off date and time for the standing order.",
                "example": "2023-01-03T12:00:00Z"
              },
              "Charges": {
                "type": "array",
                "description": "List of charges associated with the consent.",
                "example": [
                  {
                    "ChargeBearer": "RECEIVER",
                    "Type": "SERVICE_FEE",
                    "Amount": {
                      "Amount": "10.00",
                      "Currency": "USD"
                    }
                  }
                ],
                "items": {
                  "$ref": "#/components/schemas/ChargeDetails"
                }
              },
              "Initiation": {
                "type": "object",
                "properties": {
                  "RemittanceInformation": {
                    "type": "object",
                    "properties": {
                      "Structured": {
                        "type": "array",
                        "description": "Structured remittance information.",
                        "example": [
                          {
                            "ReferredDocumentInformation": [
                              {
                                "Code": "DOC123",
                                "Issuer": "Issuer Name",
                                "Number": "123456",
                                "RelatedDate": "2023-01-01",
                                "LineDetails": [
                                  "Line 1",
                                  "Line 2"
                                ]
                              }
                            ],
                            "ReferredDocumentAmount": "100.00",
                            "CreditorReferenceInformation": {
                              "Code": "CR123",
                              "Issuer": "Issuer Name",
                              "Reference": "REF-123456"
                            },
                            "Invoicer": "Invoicer Name",
                            "Invoicee": "Invoicee Name",
                            "TaxRemittance": "Tax Info",
                            "AdditionalRemittanceInformation": [
                              "Add Info 1",
                              "Add Info 2"
                            ]
                          }
                        ],
                        "items": {
                          "$ref": "#/components/schemas/StructuredInformation"
                        }
                      },
                      "Unstructured": {
                        "type": "array",
                        "description": "Unstructured remittance information.",
                        "example": [
                          "Unstructured Information 1",
                          "Unstructured Information 2"
                        ],
                        "items": {
                          "type": "string"
                        }
                      }
                    },
                    "description": "Remittance information for the transaction."
                  },
                  "NumberOfPayments": {
                    "type": "string",
                    "description": "Total number of payments in the standing order.",
                    "example": "5"
                  },
                  "ExtendedPurpose": {
                    "type": "string",
                    "description": "Extended purpose of the standing order.",
                    "example": "Monthly Subscription"
                  },
                  "ChargeBearer": {
                    "type": "string",
                    "description": "Indicates who bears the charge.",
                    "example": "PAYER"
                  },
                  "CurrencyOfTransfer": {
                    "type": "string",
                    "description": "Currency used for the transfer.",
                    "example": "EUR"
                  },
                  "DestinationCountryCode": {
                    "type": "string",
                    "description": "Country code of the destination.",
                    "example": "DE"
                  },
                  "InstructedAmount": {
                    "type": "object",
                    "properties": {
                      "Amount": {
                        "type": "string",
                        "description": "The amount of money for the order.",
                        "example": "1000.00"
                      },
                      "Currency": {
                        "type": "string",
                        "description": "Currency of the instructed amount.",
                        "example": "USD"
                      }
                    },
                    "description": "Amount instructed for the standing order."
                  }
                },
                "description": "Details of the initiation of the standing order."
              }
            },
            "description": "Details of the consent.",
            "example": {
              "ConsentId": "STANDARD",
              "CreationDateTime": "2026-09-15T14:30:00Z",
              "Status": "ACTIVE",
              "StatusReason": [
                {
                  "code": "SUCCESS",
                  "description": "Customer banking request processed successfully",
                  "Path": "STANDARD"
                }
              ],
              "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
              "Permission": "STANDARD",
              "ReadRefundAccount": "STANDARD",
              "CutOffDateTime": "2026-09-15T14:30:00Z",
              "Charges": [
                {
                  "ChargeBearer": "STANDARD",
                  "Type": "STANDARD",
                  "Amount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  }
                }
              ],
              "Initiation": {
                "RemittanceInformation": {
                  "Structured": [
                    {
                      "ReferredDocumentInformation": [
                        {
                          "Code": "SUCCESS",
                          "Issuer": "STANDARD",
                          "Number": "STANDARD",
                          "RelatedDate": "2026-09-15",
                          "LineDetails": [
                            "STANDARD"
                          ]
                        }
                      ],
                      "ReferredDocumentAmount": "1250.75",
                      "CreditorReferenceInformation": {
                        "Code": "SUCCESS",
                        "Issuer": "STANDARD",
                        "Reference": "STANDARD"
                      },
                      "Invoicer": "STANDARD",
                      "Invoicee": "STANDARD",
                      "TaxRemittance": "STANDARD",
                      "AdditionalRemittanceInformation": [
                        "STANDARD"
                      ]
                    }
                  ],
                  "Unstructured": [
                    "STANDARD"
                  ]
                },
                "NumberOfPayments": "STANDARD",
                "ExtendedPurpose": "STANDARD",
                "ChargeBearer": "STANDARD",
                "CurrencyOfTransfer": "STANDARD",
                "DestinationCountryCode": "US",
                "InstructedAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "RESPONSE-12345"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier for correlating requests and responses.",
                "example": "CORRELATION-12345"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the response was generated.",
                "example": "2023-01-01T12:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the request was processed.",
                "example": "EU"
              }
            },
            "description": "Metadata regarding the response.",
            "example": {
              "responseId": "3de043ca-a6ae-5b79-855a-fb9770b891f9",
              "correlationId": "d600e7c9-16d7-5fc7-afae-89fbb76de353",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Schema for the response of the International Standing Order Consent operation.",
        "example": {
          "Data": {
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "Status": "ACTIVE",
            "StatusReason": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "Path": "STANDARD"
              }
            ],
            "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
            "Permission": "STANDARD",
            "ReadRefundAccount": "STANDARD",
            "CutOffDateTime": "2026-09-15T14:30:00Z",
            "Charges": [
              {
                "ChargeBearer": "STANDARD",
                "Type": "STANDARD",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            ],
            "Initiation": {
              "RemittanceInformation": {
                "Structured": [
                  {
                    "ReferredDocumentInformation": [
                      {
                        "Code": "SUCCESS",
                        "Issuer": "STANDARD",
                        "Number": "STANDARD",
                        "RelatedDate": "2026-09-15",
                        "LineDetails": [
                          "STANDARD"
                        ]
                      }
                    ],
                    "ReferredDocumentAmount": "1250.75",
                    "CreditorReferenceInformation": {
                      "Code": "SUCCESS",
                      "Issuer": "STANDARD",
                      "Reference": "STANDARD"
                    },
                    "Invoicer": "STANDARD",
                    "Invoicee": "STANDARD",
                    "TaxRemittance": "STANDARD",
                    "AdditionalRemittanceInformation": [
                      "STANDARD"
                    ]
                  }
                ],
                "Unstructured": [
                  "STANDARD"
                ]
              },
              "NumberOfPayments": "STANDARD",
              "ExtendedPurpose": "STANDARD",
              "ChargeBearer": "STANDARD",
              "CurrencyOfTransfer": "STANDARD",
              "DestinationCountryCode": "US",
              "InstructedAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              }
            }
          },
          "metadata": {
            "responseId": "3de043ca-a6ae-5b79-855a-fb9770b891f9",
            "correlationId": "d600e7c9-16d7-5fc7-afae-89fbb76de353",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "StatusReasonDetails": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Code representing the reason.",
            "example": "STATUS_CODE"
          },
          "description": {
            "type": "string",
            "description": "Description of the reason.",
            "example": "Reason description."
          },
          "Path": {
            "type": "string",
            "description": "Path for additional details about the reason.",
            "example": "path/to/reason"
          }
        },
        "description": "Details about the status reason."
      },
      "ChargeDetails": {
        "type": "object",
        "properties": {
          "ChargeBearer": {
            "type": "string",
            "description": "Indicates who bears the charge.",
            "example": "PAYER"
          },
          "Type": {
            "type": "string",
            "description": "Type of the charge.",
            "example": "SERVICE_FEE"
          },
          "Amount": {
            "type": "object",
            "properties": {
              "Amount": {
                "type": "string",
                "description": "Amount of the charge.",
                "example": "10.00"
              },
              "Currency": {
                "type": "string",
                "description": "Currency of the charge.",
                "example": "USD"
              }
            },
            "description": "Amount and currency of the charge."
          }
        },
        "description": "Details about the charge."
      },
      "StructuredInformation": {
        "type": "object",
        "properties": {
          "ReferredDocumentInformation": {
            "type": "array",
            "description": "Information about referred documents.",
            "items": {
              "type": "object",
              "properties": {
                "Code": {
                  "type": "string",
                  "description": "Document code.",
                  "example": "DOC123"
                },
                "Issuer": {
                  "type": "string",
                  "description": "Issuer of the document.",
                  "example": "Issuer Name"
                },
                "Number": {
                  "type": "string",
                  "description": "Document number.",
                  "example": "123456"
                },
                "RelatedDate": {
                  "type": "string",
                  "description": "Date related to the document.",
                  "example": "2023-01-01"
                },
                "LineDetails": {
                  "type": "array",
                  "description": "Line detail information.",
                  "items": {
                    "type": "string",
                    "example": "Line information."
                  }
                }
              }
            }
          },
          "ReferredDocumentAmount": {
            "type": "string",
            "description": "Amount related to the referred document.",
            "example": "100.00"
          },
          "CreditorReferenceInformation": {
            "type": "object",
            "properties": {
              "Code": {
                "type": "string",
                "description": "Creditor reference code.",
                "example": "CR123"
              },
              "Issuer": {
                "type": "string",
                "description": "Issuer of the creditor reference.",
                "example": "Issuer Name"
              },
              "Reference": {
                "type": "string",
                "description": "Actual creditor reference.",
                "example": "REF-123456"
              }
            },
            "description": "Information about the creditor reference."
          },
          "Invoicer": {
            "type": "string",
            "description": "Name of the invoicer.",
            "example": "Invoicer Name"
          },
          "Invoicee": {
            "type": "string",
            "description": "Name of the invoicee.",
            "example": "Invoicee Name"
          },
          "TaxRemittance": {
            "type": "string",
            "description": "Tax remittance information.",
            "example": "Tax Info"
          },
          "AdditionalRemittanceInformation": {
            "type": "array",
            "description": "Additional remittance information.",
            "items": {
              "type": "string",
              "example": "Additional info."
            }
          }
        },
        "description": "Structured remittance information."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-get-international-standing-order-consent"
        },
        "example": "payment-initiation-openapi-get-international-standing-order-consent"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens. The token must be a valid JSON Web Token (JWT) that grants access to the secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}