{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Connect Components Configuration Management API",
    "description": "The Connect Components Configuration Management API enables users to manage configurations for various microservices within the application ecosystem. This API facilitates the creation and management of component configurations, allowing developers to streamline application setup and deployment. Typical consumers include DevOps engineers and system administrators who need to ensure the proper integration and functionality of interconnected services. By leveraging this API, users can enhance operational efficiency and reduce configuration errors via consistent deployment practices.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/connect-components/configurations": {
      "post": {
        "tags": [
          "Configuration Management"
        ],
        "summary": "Create a new configuration.",
        "description": "This endpoint allows users to create a new configuration by submitting the necessary parameters. Ensure that all required fields are filled in the request body to successfully create a configuration.",
        "operationId": "createConfiguration",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create or update configuration settings. Ensure that all required fields are included and correct data types are used.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateConfigurationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully with the provided configuration data.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateConfigurationResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateConfigurationRequest": {
        "type": "object",
        "properties": {
          "filterAccounts": {
            "type": "array",
            "description": "A list of account identifiers to filter the operations.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "example": "account123"
            }
          },
          "accountClassificationType": {
            "type": "array",
            "description": "A list of account classification types.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "example": "premium"
            }
          },
          "aoRequired": {
            "type": "boolean",
            "description": "Indicates whether an account officer is required.",
            "example": true
          },
          "requestContext": {
            "description": "Contextual information for the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "example": {
          "filterAccounts": [
            "STANDARD"
          ],
          "accountClassificationType": [
            "STANDARD"
          ],
          "aoRequired": true,
          "requestContext": {
            "requestId": "0ec924f2-1d15-5cf6-bca4-91ff0aeac959",
            "correlationId": "a8e14e7b-44d3-5ece-b677-7a4a94ce7ee0",
            "idempotencyKey": "449dbfb8-2d55-5c1f-b878-2e74c456ccc7",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-378918"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the correlation of requests.",
            "example": "corr-123"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the request is idempotent.",
            "example": "idemp-456"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that initiated the request.",
            "example": "internal"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "web"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        }
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the channel.",
            "example": "device-123"
          }
        }
      },
      "CreateConfigurationResponse_201": {
        "title": "Configuration Response",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the configuration.",
            "example": "fe640ebb-cfbb-997b-3ba7-754d9e7d4f78"
          },
          "filterAccounts": {
            "type": "array",
            "description": "List of accounts to filter from the configuration.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "A single account identifier.",
              "example": "account321"
            }
          },
          "accountClassificationType": {
            "type": "array",
            "description": "List of classification types for accounts in the configuration.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "A single classification type.",
              "example": "premium"
            }
          },
          "aoRequired": {
            "type": "boolean",
            "description": "Indicates whether account owner approval is required.",
            "example": true
          },
          "metadata": {
            "description": "Contains metadata related to the configuration response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "The response object returned upon a successful POST operation for configurations.",
        "example": {
          "id": "fe640ebb-cfbb-997b-3ba7-754d9e7d4f78",
          "filterAccounts": [
            "STANDARD"
          ],
          "accountClassificationType": [
            "STANDARD"
          ],
          "aoRequired": true,
          "metadata": {
            "responseId": "2552c6af-ab9f-5632-bc7d-005b48c268c9",
            "correlationId": "a8e14e7b-44d3-5ece-b677-7a4a94ce7ee0",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier of the response.",
            "example": "response789"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking the request.",
            "example": "corr456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the response was processed.",
            "example": "us-west"
          }
        },
        "description": "Metadata associated with the configuration response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-post-configurations"
        },
        "example": "open-finance-api-post-configurations"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens, specifically formatted as JSON Web Tokens (JWT). This method provides a secure way to transmit information between parties as a JSON object.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}