{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Card Merchant Relations-spec",
    "description": "The Card Merchant Relationships API provides access to detailed information about the relationships between card providers and merchants. This endpoint allows users to retrieve a comprehensive list of merchant relations associated with various banking cards. Typical consumers include financial institutions, merchant service providers, and developers integrating card services into applications. By leveraging this API, stakeholders can gain insights into partnerships, transactions, and operational interactions between card issuers and merchants.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9003",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cards/merchant-relations": {
      "get": {
        "tags": [
          "Card Management"
        ],
        "summary": "Retrieve Merchant Relations",
        "description": "This endpoint allows you to fetch details about merchant relations tied to cards. It provides essential information regarding partnerships and collaborations with merchants.",
        "operationId": "listCardMerchantRelations",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the merchant relations data for cards. It should contain the necessary parameters to specify the desired merchant relations information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListCardMerchantRelationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved merchant relations data.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCardMerchantRelationsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListCardMerchantRelationsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to merchant relations.",
        "example": "{}"
      },
      "ListCardMerchantRelationsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of merchant relation items.",
            "example": [
              {
                "merchantId": "MER-161576",
                "legalName": "Olivia Bennett",
                "merchantCategoryCode": "5411",
                "settlementAccountId": "ACC-259829",
                "settlementCurrency": "USD",
                "pricingPlan": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/MerchantRelationItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting method applied to the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the successful retrieval of merchant relations.",
        "example": {
          "items": [
            {
              "merchantId": "MER-161576",
              "legalName": "Olivia Bennett",
              "merchantCategoryCode": "5411",
              "settlementAccountId": "ACC-259829",
              "settlementCurrency": "USD",
              "pricingPlan": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "826b9b0b-5c9c-5ecd-93ec-15a4cdd436f5",
            "correlationId": "43719ae2-870f-5815-93b6-3541f00284da",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "MerchantRelationItem": {
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant.",
            "example": "12345"
          },
          "legalName": {
            "type": "string",
            "description": "The legal name of the merchant.",
            "example": "Example Merchant"
          },
          "merchantCategoryCode": {
            "type": "string",
            "description": "Merchant category code representing the business type.",
            "example": "5812"
          },
          "settlementAccountId": {
            "type": "string",
            "description": "The account ID used for settlement.",
            "example": "acc_67890"
          },
          "settlementCurrency": {
            "type": "string",
            "description": "Currency used for settlements.",
            "example": "USD"
          },
          "pricingPlan": {
            "type": "string",
            "description": "The pricing plan assigned to the merchant.",
            "example": "Standard"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the merchant record.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the merchant details were last updated.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "Details of a merchant relation item."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available in the dataset.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Pagination information for the retrieved results."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "res_abcdef"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request across systems.",
            "example": "cor_123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the processing occurred.",
            "example": "US"
          }
        },
        "description": "Metadata related to the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint, which helps in tracing and logging the API request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "merchant-relations-search-merchant-relations"
        },
        "example": "merchant-relations-search-merchant-relations"
      },
      "x-runtime-app": {
        "description": "The name of the application runtime where the request was processed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication with JSON Web Tokens (JWT). To access protected resources, include a valid token in the Authorization header of your requests in the format: 'Authorization: Bearer <token>'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}