{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Facility Utilities Administration-spec",
    "description": "The Facility Utilities Administration API enables users to manage and oversee utility services associated with various facilities. Through this API, stakeholders such as facility managers and administrators can effectively create new utility records, ensuring accurate tracking and management of resources. This includes operations related to utility providers, service types, and billing details essential for operational efficiency. Ideal for integration within banking applications, this API facilitates seamless interactions with utility service management systems.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/facilities/utilities-administration": {
      "post": {
        "tags": [
          "Utilities Management"
        ],
        "summary": "Create a new utilities administration entry.",
        "description": "This endpoint allows you to create a new entry for utilities administration, which involves managing and coordinating various utility services in a facility. Ensure you provide all necessary details in the request body to successfully register the entry.",
        "operationId": "createFacilityUtilitiesAdministration",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit data for utilities administration operations. It should contain all required fields according to the schema defined for the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFacilityUtilitiesAdministrationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateFacilityUtilitiesAdministrationResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateFacilityUtilitiesAdministrationRequest": {
        "title": "Facilities Utilities Administration Operations POST Request Body",
        "type": "object",
        "properties": {
          "siteId": {
            "type": "string",
            "description": "The unique identifier for the site.",
            "example": "STANDARD"
          },
          "assetId": {
            "type": "string",
            "description": "The unique identifier for the asset associated with the work order.",
            "example": "STANDARD"
          },
          "workOrderId": {
            "type": "string",
            "description": "The unique identifier for the work order.",
            "example": "ORD-150484"
          },
          "scheduledDate": {
            "type": "string",
            "description": "The date and time when the maintenance is scheduled.",
            "example": "2026-09-15"
          },
          "vendorId": {
            "type": "string",
            "description": "The unique identifier for the vendor responsible for the maintenance.",
            "example": "STANDARD"
          },
          "facilityZone": {
            "type": "string",
            "description": "The zone within the facility where the maintenance will take place.",
            "example": "STANDARD"
          },
          "maintenanceType": {
            "type": "string",
            "description": "The type of maintenance being performed (e.g., preventive, corrective).",
            "example": "STANDARD"
          },
          "estimatedDurationMinutes": {
            "type": "integer",
            "description": "The estimated duration of the maintenance activity in minutes.",
            "format": "int32",
            "example": 1
          },
          "requestContext": {
            "description": "The context of the request, providing metadata for tracking and identification.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for creating a work order in the Facilities Utilities Administration Operations API.",
        "example": {
          "siteId": "STANDARD",
          "assetId": "STANDARD",
          "workOrderId": "ORD-150484",
          "scheduledDate": "2026-09-15",
          "vendorId": "STANDARD",
          "facilityZone": "STANDARD",
          "maintenanceType": "STANDARD",
          "estimatedDurationMinutes": 1,
          "requestContext": {
            "requestId": "b0b690d5-7f75-5734-8ee4-d60af846eae5",
            "correlationId": "2e93bc68-838a-534b-ad24-e873f0f8be1d",
            "idempotencyKey": "cdc5cd2b-0f9f-5612-bbe4-c85f24dd8a70",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-200304"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "req123"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used for correlating multiple requests.",
            "example": "corr456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure that repeated requests do not create duplicate records.",
            "example": "key789"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-01T09:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "SystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "ApplicationB"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context for the maintenance request, including tracking identifiers and timestamps."
      },
      "Channel": {
        "title": "Request Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel123"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier for the device used to make the request.",
            "example": "deviceABC"
          }
        },
        "description": "Schema representing the channel through which the request was made, including device and type information."
      },
      "CreateFacilityUtilitiesAdministrationResponse_201": {
        "title": "Facilities Utilities Administration Operation Response",
        "type": "object",
        "properties": {
          "siteId": {
            "type": "string",
            "description": "The unique identifier for the site.",
            "example": "STANDARD"
          },
          "assetId": {
            "type": "string",
            "description": "The unique identifier for the asset.",
            "example": "STANDARD"
          },
          "workOrderId": {
            "type": "string",
            "description": "The unique identifier for the work order.",
            "example": "ORD-931491"
          },
          "vendorId": {
            "type": "string",
            "description": "The unique identifier for the vendor.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource.",
            "example": "RES-704774"
          },
          "status": {
            "type": "string",
            "description": "The current status of the operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the resource was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata associated with the operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the facilities utilities administration operation POST request.",
        "example": {
          "siteId": "STANDARD",
          "assetId": "STANDARD",
          "workOrderId": "ORD-931491",
          "vendorId": "STANDARD",
          "resourceId": "RES-704774",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "e3227591-1a01-5c20-8126-3ba9a284d265",
            "correlationId": "2e93bc68-838a-534b-ad24-e873f0f8be1d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "response-001"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate multiple requests and responses.",
            "example": "correlation-abc"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographical region where the processing took place.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata containing operational details."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "utilities-administration-create-utilities-administration"
        },
        "example": "utilities-administration-create-utilities-administration"
      },
      "X-Runtime-App": {
        "description": "The name of the application where the request is being processed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using JSON Web Tokens (JWT) as bearer tokens. Clients must include a valid JWT in the Authorization header to authenticate requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}