{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Payment Indicator API",
    "description": "The Customer Payment Indicator API allows businesses to access crucial payment status information for specific customer accounts. By retrieving payment indicators, users can gain insights into payment behaviors and status, enhancing decision-making and customer relationship management. This API is typically utilized by financial analysts, customer service teams, and account managers to monitor account activities and improve customer support. It provides valuable data for risk assessment and program development tailored to individual customer needs.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/{customerId}/accounts/{accountId}/payments/paymentindicator": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Retrieve payment indicator for a specific account",
        "description": "This endpoint allows you to fetch the payment indicator for the specified account. The payment indicator indicates the status or readiness of the account for processing payments.",
        "operationId": "getPaymentIndicatorForAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          },
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving the payment indicator associated with a specific account for a customer. This body must adhere to the defined schema and should typically include the parameters necessary for identifying the payment indicator of the specified account.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPaymentIndicatorForAccountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment indicator retrieval successful.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPaymentIndicatorForAccountResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPaymentIndicatorForAccountRequest": {
        "type": "string",
        "description": "Represents the payment indicator for a specific operation. This is used in the context of the accounts payment request.",
        "example": "{}"
      },
      "GetPaymentIndicatorForAccountResponse_200": {
        "title": "Payment Indicator Response",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "The status code of the response.",
            "example": "SUCCESS"
          },
          "message": {
            "type": "string",
            "description": "A message providing additional information about the response.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-425687"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "ACC-172873"
          },
          "payReqId": {
            "type": "string",
            "description": "Payment request identifier.",
            "example": "STANDARD"
          },
          "settleByDate": {
            "type": "string",
            "description": "The date by which the payment should be settled.",
            "example": "2026-09-15"
          },
          "settlementAmount": {
            "type": "number",
            "description": "The total amount to be settled.",
            "example": 100.0
          },
          "availableBalance": {
            "type": "number",
            "description": "The available balance in the account.",
            "example": 100.0
          },
          "indicatorsByDay": {
            "type": "array",
            "description": "List of indicators grouped by day.",
            "example": [
              {
                "potentialSettlementDate": "2026-09-15",
                "compositeScore": 1,
                "scoreIndicator": "STANDARD",
                "reasons": {
                  "recentBalance": 1,
                  "balanceHistory": 1,
                  "nsfHistory": 1,
                  "recentNsfHistory": 1,
                  "recurringNsf": 1,
                  "spendHistory": 1,
                  "depositHistory": 1,
                  "transactionAmount": 1
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/PaymentIndicator"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for payment indicators which includes account and customer details along with settlement information.",
        "example": {
          "code": "SUCCESS",
          "message": "STANDARD",
          "customerId": "CUST-425687",
          "accountId": "ACC-172873",
          "payReqId": "STANDARD",
          "settleByDate": "2026-09-15",
          "settlementAmount": 100.0,
          "availableBalance": 100.0,
          "indicatorsByDay": [
            {
              "potentialSettlementDate": "2026-09-15",
              "compositeScore": 1,
              "scoreIndicator": "STANDARD",
              "reasons": {
                "recentBalance": 1,
                "balanceHistory": 1,
                "nsfHistory": 1,
                "recentNsfHistory": 1,
                "recurringNsf": 1,
                "spendHistory": 1,
                "depositHistory": 1,
                "transactionAmount": 1
              }
            }
          ],
          "metadata": {
            "responseId": "011d6fa6-9e3e-5e3a-b7e7-bcfa9f244964",
            "correlationId": "60024ba5-6259-5d0b-8dcb-50c4f1bda65a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentIndicator": {
        "type": "object",
        "properties": {
          "potentialSettlementDate": {
            "type": "string",
            "description": "The date on which the settlement is potentially going to occur.",
            "example": "string"
          },
          "compositeScore": {
            "type": "integer",
            "description": "Composite score calculated for the payment indicator.",
            "format": "int32",
            "example": 0
          },
          "scoreIndicator": {
            "type": "string",
            "description": "Descriptor of the score indicator for the day.",
            "example": "string"
          },
          "reasons": {
            "$ref": "#/components/schemas/Reasons"
          }
        },
        "description": "Represents payment indicators for a specific day."
      },
      "Reasons": {
        "type": "object",
        "properties": {
          "recentBalance": {
            "type": "integer",
            "description": "Recent balance information affecting the score.",
            "format": "int32",
            "example": 0
          },
          "balanceHistory": {
            "type": "integer",
            "description": "Historical balance data influencing the current score.",
            "format": "int32",
            "example": 0
          },
          "nsfHistory": {
            "type": "integer",
            "description": "Count of non-sufficient funds occurrences in the past.",
            "format": "int32",
            "example": 0
          },
          "recentNsfHistory": {
            "type": "integer",
            "description": "Recent occurrences of non-sufficient funds.",
            "format": "int32",
            "example": 0
          },
          "recurringNsf": {
            "type": "integer",
            "description": "Count of recurring non-sufficient funds.",
            "format": "int32",
            "example": 0
          },
          "spendHistory": {
            "type": "integer",
            "description": "Historical spending information.",
            "format": "int32",
            "example": 0
          },
          "depositHistory": {
            "type": "integer",
            "description": "Historical data on deposits made.",
            "format": "int32",
            "example": 0
          },
          "transactionAmount": {
            "type": "integer",
            "description": "The amount of the last transaction.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Reasons related to the payment indicator scores."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracing requests across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request. This value is used for tracking and monitoring purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-payment-success-indicator"
        },
        "example": "open-finance-api-get-payment-success-indicator"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request. This can be useful for debugging and runtime analysis.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token for authentication, typically implemented using JSON Web Tokens (JWT). Clients must include the token in the Authorization header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}