{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Market Operation Financial Instrument Valuation-spec",
    "description": "The Financial Instrument Valuation API enables users to initiate valuations for financial instruments within market operations. This endpoint allows institutions to assess the current market value of various financial products, facilitating accurate financial reporting and decision-making. Typical consumers include financial analysts, portfolio managers, and trading desks who require timely assessments of instrument valuations for strategic planning. By leveraging this API, organizations can enhance their financial analysis capabilities and ensure compliance with regulatory standards.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-operations/financial-instrument-valuation": {
      "post": {
        "tags": [
          "Financial Operations"
        ],
        "summary": "Valuate a financial instrument.",
        "description": "This endpoint allows clients to submit queries for the valuation of financial instruments. The system processes the request and returns the computed valuation based on the provided data and market parameters.",
        "operationId": "createMarketOperationFinancialInstrumentValuation",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used for submitting a financial instrument valuation operation. It requires specific input data related to the financial instrument that needs to be valued.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMarketOperationFinancialInstrumentValuationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Financial instrument valuation created successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateMarketOperationFinancialInstrumentValuationResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateMarketOperationFinancialInstrumentValuationRequest": {
        "title": "Financial Instrument Valuation Request Body",
        "type": "object",
        "properties": {
          "tradeId": {
            "type": "string",
            "description": "Unique identifier for the trade.",
            "example": "STANDARD"
          },
          "instrumentId": {
            "type": "string",
            "description": "Unique identifier for the financial instrument.",
            "example": "STANDARD"
          },
          "settlementDate": {
            "type": "string",
            "description": "The date when the settlement occurs, formatted as a date string.",
            "example": "2026-09-15"
          },
          "quantity": {
            "type": "integer",
            "description": "The quantity of the financial instrument involved in the trade.",
            "format": "int32",
            "example": 1
          },
          "settlementCurrency": {
            "type": "string",
            "description": "The currency in which the settlement will take place.",
            "example": "USD"
          },
          "custodianId": {
            "type": "string",
            "description": "Unique identifier for the custodian of the financial instrument.",
            "example": "STANDARD"
          },
          "instrumentType": {
            "type": "string",
            "description": "The type of the financial instrument (e.g., equity, bond).",
            "example": "STANDARD"
          },
          "ticker": {
            "type": "string",
            "description": "Ticker symbol of the financial instrument.",
            "example": "STANDARD"
          },
          "issueCurrency": {
            "type": "string",
            "description": "The currency in which the financial instrument was issued.",
            "example": "USD"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for financial instrument valuation operations. It includes details about the trade, instrument, and request context.",
        "example": {
          "tradeId": "STANDARD",
          "instrumentId": "STANDARD",
          "settlementDate": "2026-09-15",
          "quantity": 1,
          "settlementCurrency": "USD",
          "custodianId": "STANDARD",
          "instrumentType": "STANDARD",
          "ticker": "STANDARD",
          "issueCurrency": "USD",
          "requestContext": {
            "requestId": "e9ba51f9-8262-593f-9320-9f7eed16e783",
            "correlationId": "0f8ca447-1045-5c67-8a0a-b58425394a3d",
            "idempotencyKey": "93750166-d516-5de9-96ed-37564c6d9aa0",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-714922"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracing requests across systems.",
            "example": "corr456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotent operations.",
            "example": "idemp789"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "TradeSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "TradeApplication"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Details regarding the request context for the operation."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the transaction.",
            "example": "device456"
          }
        },
        "description": "Information about the channel through which the request was made."
      },
      "CreateMarketOperationFinancialInstrumentValuationResponse_201": {
        "title": "Financial Instrument Valuation Response",
        "type": "object",
        "properties": {
          "tradeId": {
            "type": "string",
            "description": "Unique identifier for the trade.",
            "example": "STANDARD"
          },
          "instrumentId": {
            "type": "string",
            "description": "Unique identifier for the financial instrument.",
            "example": "STANDARD"
          },
          "custodianId": {
            "type": "string",
            "description": "Identifier for the custodian managing the financial instrument.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the associated resource.",
            "example": "RES-207549"
          },
          "status": {
            "type": "string",
            "description": "Current status of the operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp for when the valuation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the valuation operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response format for the financial instrument valuation operation.",
        "example": {
          "tradeId": "STANDARD",
          "instrumentId": "STANDARD",
          "custodianId": "STANDARD",
          "resourceId": "RES-207549",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "b947b888-12dc-54b6-90cf-7c7ecef8bb79",
            "correlationId": "0f8ca447-1045-5c67-8a0a-b58425394a3d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate requests and responses.",
            "example": "CORR123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the processing occurred.",
            "example": "US-East"
          }
        },
        "description": "This schema contains additional metadata related to the valuation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that was called, allowing for tracing and logging of the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "financial-instrument-valuation-create-financial-instrument-valuation"
        },
        "example": "financial-instrument-valuation-create-financial-instrument-valuation"
      },
      "X-Runtime-App": {
        "description": "The name of the application processing the request, which can help with identifying the source of the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a bearer token, specifically formatted as a JSON Web Token (JWT). This token must be included in the `Authorization` header of requests to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}