{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Pisp Domestic Standing Order Consent-spec",
    "description": "The Domestic Standing Order Consent API facilitates the creation of consent agreements for initiating domestic standing orders through Payment Initiation Service Providers (PISPs). This API enables consumers to authorize their bank to execute periodic payments on their behalf seamlessly. It is commonly utilized by financial institutions and payment service providers to streamline payment processes, ensuring compliance with open banking regulations. The API plays a crucial role in enhancing user experience by allowing users to manage their standing orders effectively.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/domestic-standing-order-consents": {
      "post": {
        "tags": [
          "Standing Order Management"
        ],
        "summary": "Create a domestic standing order consent.",
        "description": "This endpoint allows you to create a consent for a domestic standing order. It ensures that the transaction is processed with all necessary permissions and information. Please ensure that all required data is included in the request body to successfully create the consent.",
        "operationId": "createPispDomesticStandingOrderConsent",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body contains the necessary information to create a domestic standing order consent. It requires specific details regarding the standing order parameters, including amounts, frequency, and related account information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePispDomesticStandingOrderConsentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully, consent for the domestic standing order has been established.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePispDomesticStandingOrderConsentResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreatePispDomesticStandingOrderConsentRequest": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "Permission": {
                "type": "string",
                "description": "The permission granted for the transaction.",
                "example": "string"
              },
              "ReadRefundAccount": {
                "type": "string",
                "description": "Indicates if the refund account can be read.",
                "example": "string"
              },
              "Initiation": {
                "type": "object",
                "properties": {
                  "RemittanceInformation": {
                    "type": "object",
                    "properties": {
                      "Structured": {
                        "type": "array",
                        "description": "Structured remittance information.",
                        "items": {
                          "type": "object",
                          "properties": {
                            "ReferredDocumentInformation": {
                              "type": "array",
                              "description": "Details of referred documents.",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "Code": {
                                    "type": "string",
                                    "description": "Identifier code for the referred document.",
                                    "example": "string"
                                  },
                                  "Issuer": {
                                    "type": "string",
                                    "description": "Issuer of the referred document.",
                                    "example": "string"
                                  },
                                  "Number": {
                                    "type": "string",
                                    "description": "Number of the referred document.",
                                    "example": "string"
                                  },
                                  "RelatedDate": {
                                    "type": "string",
                                    "description": "Date related to the referred document.",
                                    "example": "string"
                                  },
                                  "LineDetails": {
                                    "type": "array",
                                    "description": "Details of each line item.",
                                    "items": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                }
                              }
                            },
                            "ReferredDocumentAmount": {
                              "type": "string",
                              "description": "Amount related to the referred document.",
                              "example": "string"
                            },
                            "CreditorReferenceInformation": {
                              "type": "object",
                              "properties": {
                                "Code": {
                                  "type": "string",
                                  "description": "The code associated with the creditor reference.",
                                  "example": "string"
                                },
                                "Issuer": {
                                  "type": "string",
                                  "description": "The issuer of the creditor reference.",
                                  "example": "string"
                                },
                                "Reference": {
                                  "type": "string",
                                  "description": "Reference number for the creditor.",
                                  "example": "string"
                                }
                              },
                              "description": "Credit reference information related to the payment."
                            },
                            "Invoicer": {
                              "type": "string",
                              "description": "Invoicer's identity.",
                              "example": "string"
                            },
                            "Invoicee": {
                              "type": "string",
                              "description": "Invoicee's identity.",
                              "example": "string"
                            },
                            "TaxRemittance": {
                              "type": "string",
                              "description": "Tax remittance details.",
                              "example": "string"
                            },
                            "AdditionalRemittanceInformation": {
                              "type": "array",
                              "description": "Additional information for remittance.",
                              "items": {
                                "type": "string",
                                "example": "string"
                              }
                            }
                          }
                        }
                      },
                      "Unstructured": {
                        "type": "array",
                        "description": "Unstructured remittance information.",
                        "items": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    },
                    "description": "Details about remittance information."
                  },
                  "NumberOfPayments": {
                    "type": "string",
                    "description": "Total number of payments scheduled.",
                    "example": "string"
                  },
                  "FirstPaymentAmount": {
                    "type": "object",
                    "properties": {
                      "Amount": {
                        "type": "string",
                        "description": "Amount of the first payment.",
                        "example": "string"
                      },
                      "Currency": {
                        "type": "string",
                        "description": "Currency of the first payment.",
                        "example": "string"
                      }
                    },
                    "description": "Details of the first payment amount."
                  },
                  "RecurringPaymentAmount": {
                    "type": "object",
                    "properties": {
                      "Amount": {
                        "type": "string",
                        "description": "Amount of the recurring payment.",
                        "example": "string"
                      }
                    },
                    "description": "Details of the recurring payment amount."
                  }
                },
                "description": "Contains initiation details of the payment."
              }
            },
            "description": "Contains the details for the standing order request.",
            "example": {
              "Permission": "STANDARD",
              "ReadRefundAccount": "STANDARD",
              "Initiation": {
                "RemittanceInformation": {
                  "Structured": [
                    {
                      "ReferredDocumentInformation": [
                        {
                          "Code": "SUCCESS",
                          "Issuer": "STANDARD",
                          "Number": "STANDARD",
                          "RelatedDate": "2026-09-15",
                          "LineDetails": [
                            "STANDARD"
                          ]
                        }
                      ],
                      "ReferredDocumentAmount": "1250.75",
                      "CreditorReferenceInformation": {
                        "Code": "SUCCESS",
                        "Issuer": "STANDARD",
                        "Reference": "STANDARD"
                      },
                      "Invoicer": "STANDARD",
                      "Invoicee": "STANDARD",
                      "TaxRemittance": "STANDARD",
                      "AdditionalRemittanceInformation": [
                        "STANDARD"
                      ]
                    }
                  ],
                  "Unstructured": [
                    "STANDARD"
                  ]
                },
                "NumberOfPayments": "STANDARD",
                "FirstPaymentAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "RecurringPaymentAmount": {
                  "Amount": "1250.75"
                }
              }
            }
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "description": "Unique identifier for the request.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "Correlation ID for tracking requests across systems.",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "description": "Key to ensure idempotency of the request.",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "description": "Timestamp when the request was made.",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "description": "System from which the request originated.",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "description": "Application that generated the request.",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "description": "Identifier for the channel.",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "description": "Type of the channel (e.g., web, mobile).",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "description": "Identifier of the device used.",
                    "example": "string"
                  }
                },
                "description": "Details about the channel used for the request."
              }
            },
            "description": "Holds contextual information about the request.",
            "example": {
              "requestId": "b513a198-3379-572b-943c-aa7cded6e36f",
              "correlationId": "2d079454-fd99-58e9-bc18-f130ea599c06",
              "idempotencyKey": "f4ae31dc-556a-585d-9bb8-848d46857092",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-508653"
              }
            }
          }
        },
        "example": {
          "Data": {
            "Permission": "STANDARD",
            "ReadRefundAccount": "STANDARD",
            "Initiation": {
              "RemittanceInformation": {
                "Structured": [
                  {
                    "ReferredDocumentInformation": [
                      {
                        "Code": "SUCCESS",
                        "Issuer": "STANDARD",
                        "Number": "STANDARD",
                        "RelatedDate": "2026-09-15",
                        "LineDetails": [
                          "STANDARD"
                        ]
                      }
                    ],
                    "ReferredDocumentAmount": "1250.75",
                    "CreditorReferenceInformation": {
                      "Code": "SUCCESS",
                      "Issuer": "STANDARD",
                      "Reference": "STANDARD"
                    },
                    "Invoicer": "STANDARD",
                    "Invoicee": "STANDARD",
                    "TaxRemittance": "STANDARD",
                    "AdditionalRemittanceInformation": [
                      "STANDARD"
                    ]
                  }
                ],
                "Unstructured": [
                  "STANDARD"
                ]
              },
              "NumberOfPayments": "STANDARD",
              "FirstPaymentAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              },
              "RecurringPaymentAmount": {
                "Amount": "1250.75"
              }
            }
          },
          "requestContext": {
            "requestId": "b513a198-3379-572b-943c-aa7cded6e36f",
            "correlationId": "2d079454-fd99-58e9-bc18-f130ea599c06",
            "idempotencyKey": "f4ae31dc-556a-585d-9bb8-848d46857092",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-508653"
            }
          }
        }
      },
      "CreatePispDomesticStandingOrderConsentResponse_201": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "ConsentId": {
                "type": "string",
                "description": "Unique identifier for the consent.",
                "example": "12345-abcde"
              },
              "CreationDateTime": {
                "type": "string",
                "description": "The date and time when the consent was created, in ISO 8601 format.",
                "example": "2023-01-01T12:00:00Z"
              },
              "Status": {
                "type": "string",
                "description": "Current status of the consent.",
                "example": "ACTIVE"
              },
              "StatusUpdateDateTime": {
                "type": "string",
                "description": "The date and time when the consent status was last updated, in ISO 8601 format.",
                "example": "2023-01-10T12:00:00Z"
              },
              "StatusReason": {
                "type": "array",
                "description": "List of reasons for the current status of the consent.",
                "example": [
                  {
                    "code": "001",
                    "description": "Initial consent created.",
                    "Path": "/data/ConsentId"
                  }
                ],
                "items": {
                  "$ref": "#/components/schemas/StatusReasonItem"
                }
              },
              "Permission": {
                "type": "string",
                "description": "The permission associated with the consent.",
                "example": "GRANTED"
              },
              "ReadRefundAccount": {
                "type": "string",
                "description": "Indicates whether the refund account can be read.",
                "example": "YES"
              },
              "CutOffDateTime": {
                "type": "string",
                "description": "Cut-off date and time for the consent transactions, in ISO 8601 format.",
                "example": "2023-01-15T12:00:00Z"
              },
              "Charges": {
                "type": "array",
                "description": "List of charges associated with the consent.",
                "example": [
                  {
                    "ChargeBearer": "CUSTOMER",
                    "Type": "FEE",
                    "Amount": {
                      "Amount": "10.00",
                      "Currency": "USD"
                    }
                  }
                ],
                "items": {
                  "$ref": "#/components/schemas/ChargeItem"
                }
              },
              "Initiation": {
                "type": "object",
                "properties": {
                  "RemittanceInformation": {
                    "type": "object",
                    "properties": {
                      "Structured": {
                        "type": "array",
                        "description": "Structured remittance information.",
                        "example": [
                          {
                            "ReferredDocumentInformation": [
                              {
                                "Code": "INV",
                                "Issuer": "Company A",
                                "Number": "12345",
                                "RelatedDate": "2023-01-01",
                                "LineDetails": [
                                  "Line 1",
                                  "Line 2"
                                ]
                              }
                            ],
                            "ReferredDocumentAmount": "100.00",
                            "CreditorReferenceInformation": {
                              "Code": "CR123",
                              "Issuer": "Service Provider",
                              "Reference": "Ref123"
                            },
                            "Invoicer": "Company A",
                            "Invoicee": "Customer B",
                            "TaxRemittance": "5.00",
                            "AdditionalRemittanceInformation": [
                              "Thank you for your business."
                            ]
                          }
                        ],
                        "items": {
                          "$ref": "#/components/schemas/StructuredRemittance"
                        }
                      },
                      "Unstructured": {
                        "type": "array",
                        "description": "Unstructured remittance information.",
                        "items": {
                          "type": "string",
                          "example": "Please find the attached invoice."
                        }
                      }
                    },
                    "description": "Information about the remittance."
                  },
                  "NumberOfPayments": {
                    "type": "string",
                    "description": "Total number of payments for the standing order.",
                    "example": "12"
                  },
                  "FirstPaymentAmount": {
                    "type": "object",
                    "properties": {
                      "Amount": {
                        "type": "string",
                        "description": "Amount for the first payment.",
                        "example": "100.00"
                      },
                      "Currency": {
                        "type": "string",
                        "description": "Currency for the first payment.",
                        "example": "USD"
                      }
                    },
                    "description": "Amount of the first payment."
                  },
                  "RecurringPaymentAmount": {
                    "type": "object",
                    "properties": {
                      "Amount": {
                        "type": "string",
                        "description": "Amount for the recurring payment.",
                        "example": "100.00"
                      },
                      "Currency": {
                        "type": "string",
                        "description": "Currency for the recurring payment.",
                        "example": "USD"
                      }
                    },
                    "description": "Amount of the recurring payments."
                  },
                  "FinalPaymentAmount": {
                    "type": "object",
                    "properties": {
                      "Amount": {
                        "type": "string",
                        "description": "Amount for the final payment.",
                        "example": "100.00"
                      },
                      "Currency": {
                        "type": "string",
                        "description": "Currency for the final payment.",
                        "example": "USD"
                      }
                    },
                    "description": "Amount of the final payment."
                  }
                },
                "description": "Details about the initiation of the standing order."
              }
            },
            "description": "Detailed information about the consent data.",
            "example": {
              "ConsentId": "STANDARD",
              "CreationDateTime": "2026-09-15T14:30:00Z",
              "Status": "ACTIVE",
              "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
              "StatusReason": [
                {
                  "code": "SUCCESS",
                  "description": "Customer banking request processed successfully",
                  "Path": "STANDARD"
                }
              ],
              "Permission": "STANDARD",
              "ReadRefundAccount": "STANDARD",
              "CutOffDateTime": "2026-09-15T14:30:00Z",
              "Charges": [
                {
                  "ChargeBearer": "STANDARD",
                  "Type": "STANDARD",
                  "Amount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  }
                }
              ],
              "Initiation": {
                "RemittanceInformation": {
                  "Structured": [
                    {
                      "ReferredDocumentInformation": [
                        {
                          "Code": "SUCCESS",
                          "Issuer": "STANDARD",
                          "Number": "STANDARD",
                          "RelatedDate": "2026-09-15",
                          "LineDetails": [
                            "STANDARD"
                          ]
                        }
                      ],
                      "ReferredDocumentAmount": "1250.75",
                      "CreditorReferenceInformation": {
                        "Code": "SUCCESS",
                        "Issuer": "STANDARD",
                        "Reference": "STANDARD"
                      },
                      "Invoicer": "STANDARD",
                      "Invoicee": "STANDARD",
                      "TaxRemittance": "STANDARD",
                      "AdditionalRemittanceInformation": [
                        "STANDARD"
                      ]
                    }
                  ],
                  "Unstructured": [
                    "STANDARD"
                  ]
                },
                "NumberOfPayments": "STANDARD",
                "FirstPaymentAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "RecurringPaymentAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "FinalPaymentAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "response-123456"
              },
              "correlationId": {
                "type": "string",
                "description": "ID used to correlate requests and responses.",
                "example": "corr-987654"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp indicating when the response was generated, in ISO 8601 format.",
                "example": "2023-01-11T12:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the processing occurred.",
                "example": "US-West"
              }
            },
            "description": "Metadata information related to the response.",
            "example": {
              "responseId": "1ce75aae-ec52-55f4-bd57-9f19636efb63",
              "correlationId": "2d079454-fd99-58e9-bc18-f130ea599c06",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Schema representing the response for creating a domestic standing order consent.",
        "example": {
          "Data": {
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "Status": "ACTIVE",
            "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
            "StatusReason": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "Path": "STANDARD"
              }
            ],
            "Permission": "STANDARD",
            "ReadRefundAccount": "STANDARD",
            "CutOffDateTime": "2026-09-15T14:30:00Z",
            "Charges": [
              {
                "ChargeBearer": "STANDARD",
                "Type": "STANDARD",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            ],
            "Initiation": {
              "RemittanceInformation": {
                "Structured": [
                  {
                    "ReferredDocumentInformation": [
                      {
                        "Code": "SUCCESS",
                        "Issuer": "STANDARD",
                        "Number": "STANDARD",
                        "RelatedDate": "2026-09-15",
                        "LineDetails": [
                          "STANDARD"
                        ]
                      }
                    ],
                    "ReferredDocumentAmount": "1250.75",
                    "CreditorReferenceInformation": {
                      "Code": "SUCCESS",
                      "Issuer": "STANDARD",
                      "Reference": "STANDARD"
                    },
                    "Invoicer": "STANDARD",
                    "Invoicee": "STANDARD",
                    "TaxRemittance": "STANDARD",
                    "AdditionalRemittanceInformation": [
                      "STANDARD"
                    ]
                  }
                ],
                "Unstructured": [
                  "STANDARD"
                ]
              },
              "NumberOfPayments": "STANDARD",
              "FirstPaymentAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              },
              "RecurringPaymentAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              },
              "FinalPaymentAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              }
            }
          },
          "metadata": {
            "responseId": "1ce75aae-ec52-55f4-bd57-9f19636efb63",
            "correlationId": "2d079454-fd99-58e9-bc18-f130ea599c06",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "StatusReasonItem": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Code representing the reason status.",
            "example": "001"
          },
          "description": {
            "type": "string",
            "description": "Description of the reason for the status.",
            "example": "Initial consent created."
          },
          "Path": {
            "type": "string",
            "description": "Path to the specific field or property related to the reason.",
            "example": "/data/ConsentId"
          }
        },
        "description": "Represents an item in the status reason list."
      },
      "ChargeItem": {
        "type": "object",
        "properties": {
          "ChargeBearer": {
            "type": "string",
            "description": "Indicates who bears the charge.",
            "example": "CUSTOMER"
          },
          "Type": {
            "type": "string",
            "description": "Type of the charge.",
            "example": "FEE"
          },
          "Amount": {
            "type": "object",
            "properties": {
              "Amount": {
                "type": "string",
                "description": "The charge amount.",
                "example": "10.00"
              },
              "Currency": {
                "type": "string",
                "description": "Currency of the charge amount.",
                "example": "USD"
              }
            },
            "description": "Amount related to the charge."
          }
        },
        "description": "Details about a charge associated with the consent."
      },
      "StructuredRemittance": {
        "type": "object",
        "properties": {
          "ReferredDocumentInformation": {
            "type": "array",
            "description": "Array of referred document information objects.",
            "items": {
              "type": "object",
              "properties": {
                "Code": {
                  "type": "string",
                  "description": "Code of the referred document.",
                  "example": "INV"
                },
                "Issuer": {
                  "type": "string",
                  "description": "Issuer of the referred document.",
                  "example": "Company A"
                },
                "Number": {
                  "type": "string",
                  "description": "Document number.",
                  "example": "12345"
                },
                "RelatedDate": {
                  "type": "string",
                  "description": "Related date of the document, in YYYY-MM-DD format.",
                  "example": "2023-01-01"
                },
                "LineDetails": {
                  "type": "array",
                  "description": "Detailed line items of the document.",
                  "items": {
                    "type": "string",
                    "example": "Line 1"
                  }
                }
              },
              "description": "Information related to a referred document."
            }
          },
          "ReferredDocumentAmount": {
            "type": "string",
            "description": "Total amount referencing the referred documents.",
            "example": "100.00"
          },
          "CreditorReferenceInformation": {
            "type": "object",
            "properties": {
              "Code": {
                "type": "string",
                "description": "Code for the creditor reference.",
                "example": "CR123"
              },
              "Issuer": {
                "type": "string",
                "description": "Issuer of the creditor reference.",
                "example": "Service Provider"
              },
              "Reference": {
                "type": "string",
                "description": "Actual reference to the creditor.",
                "example": "Ref123"
              }
            },
            "description": "Information related to the creditor reference."
          },
          "Invoicer": {
            "type": "string",
            "description": "Indicates who is invoicing.",
            "example": "Company A"
          },
          "Invoicee": {
            "type": "string",
            "description": "Indicates who is the invoice recipient.",
            "example": "Customer B"
          },
          "TaxRemittance": {
            "type": "string",
            "description": "Tax amount related to the remittance.",
            "example": "5.00"
          },
          "AdditionalRemittanceInformation": {
            "type": "array",
            "description": "Additional information regarding the remittance.",
            "items": {
              "type": "string",
              "example": "Thank you for your business."
            }
          }
        },
        "description": "Structured information related to a remittance."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-create-domestic-standing-order-consent"
        },
        "example": "payment-initiation-openapi-create-domestic-standing-order-consent"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication format, commonly employed for APIs using JSON Web Tokens (JWT). Clients must include a valid JWT in the Authorization header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}