{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Corporate Lease Details API",
    "description": "The Corporate Lease Details API provides access to specific information regarding corporate leasing arrangements. This endpoint allows users to retrieve detailed data for a lease based on the unique identifier provided in the request. Typical consumers include financial institutions and corporate clients requiring visibility into their lease agreements for management and analysis purposes. This API enhances operational transparency and facilitates informed decision-making by delivering essential leasing data.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/corporate-lease/{param1}": {
      "get": {
        "tags": [
          "Corporate Lease Management"
        ],
        "summary": "Retrieve Corporate Lease Details",
        "description": "This endpoint allows developers to fetch the details of a specific corporate lease using its unique identifier. It provides comprehensive information related to the lease, catering to the needs of corporate clients.",
        "operationId": "getCorporateLeaseById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a GET operation for the corporate lease with the specified resource identifier (RES-100045). The content must be in JSON format and match the expected schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCorporateLeaseByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the corporate lease details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCorporateLeaseByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCorporateLeaseByIdRequest": {
        "type": "string",
        "description": "The request body in JSON format for the GET operations related to the corporate lease deposit lending.",
        "example": "{}"
      },
      "GetCorporateLeaseByIdResponse_200": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-158414"
          },
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account associated with the lease.",
            "example": "ACC-645463"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the type of product.",
            "example": "CHK-PREMIUM-US"
          },
          "principal": {
            "description": "The principal amount of the lease.",
            "$ref": "#/components/schemas/AmountWithCurrency"
          },
          "termMonths": {
            "type": "integer",
            "description": "The duration of the lease in months.",
            "format": "int32",
            "example": 1
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "The frequency of repayment for the lease.",
            "example": "STANDARD"
          },
          "leasedAssetId": {
            "type": "string",
            "description": "The unique identifier for the leased asset.",
            "example": "STANDARD"
          },
          "residualValue": {
            "description": "The residual value of the asset at the end of the lease term.",
            "$ref": "#/components/schemas/AmountWithCurrency"
          },
          "leaseTermMonths": {
            "type": "integer",
            "description": "The total term of the lease in months.",
            "format": "int32",
            "example": 1
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the lease record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the lease record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the lease record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the lease operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for a corporate lease operation.",
        "example": {
          "customerId": "CUST-158414",
          "accountId": "ACC-645463",
          "productCode": "CHK-PREMIUM-US",
          "principal": {
            "amount": 100.0,
            "currency": "USD"
          },
          "termMonths": 1,
          "repaymentFrequency": "STANDARD",
          "leasedAssetId": "STANDARD",
          "residualValue": {
            "amount": 100.0,
            "currency": "USD"
          },
          "leaseTermMonths": 1,
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "bf98156a-eff2-51bf-9285-d0f49813bcbd",
            "correlationId": "ddd4e405-d345-5048-8a12-4482c796d4c8",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AmountWithCurrency": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The numerical value of the amount.",
            "example": 1000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is denominated.",
            "example": "USD"
          }
        },
        "description": "Represents an amount of money along with its currency."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "RESP56789"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to correlate requests and responses.",
            "example": "CORR54321"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-01T12:05:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "US-EAST"
          }
        },
        "description": "Contains metadata information for lease operations."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "corporate-lease-get-corporate-lease"
        },
        "example": "corporate-lease-get-corporate-lease"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Token for authentication. The token should be formatted as a JSON Web Token (JWT) which contains encoded user information and ensures secure data transmission.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}