{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update P2m By Merchant Id-spec",
    "description": "The Update Merchant Payment Methods API allows merchants to modify their payment method details associated with their accounts. This endpoint provides the ability to adjust various attributes linked to payment processing within the platform. Typical consumers of this API include merchant account managers and integration developers seeking to enhance payment capabilities. By utilizing this API, merchants can ensure their payment processing options are up-to-date and aligned with their operational needs.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/merchants/{merchantId}": {
      "patch": {
        "tags": [
          "Merchant Management"
        ],
        "summary": "Update Merchant Information",
        "description": "This operation allows you to update the details of a specific merchant identified by its unique ID. You can modify various attributes, ensuring that the merchant's information is current and accurate.",
        "operationId": "updateP2mByMerchantId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/merchantId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the details of the merchant identified by MER-800045. It contains the attributes that can be modified for the merchant.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateP2mByMerchantIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning updated merchant information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateP2mByMerchantIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateP2mByMerchantIdRequest": {
        "type": "object",
        "properties": {
          "tradingName": {
            "type": "string",
            "description": "The trading name of the merchant.",
            "example": "Northstar Banking Service"
          },
          "contact": {
            "description": "Contact information for the merchant.",
            "$ref": "#/components/schemas/Contact"
          },
          "capabilities": {
            "description": "Various capabilities of the merchant.",
            "$ref": "#/components/schemas/Capabilities"
          },
          "commercialTerms": {
            "description": "Commercial terms applicable to the merchant.",
            "$ref": "#/components/schemas/CommercialTerms"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for updating merchant operations.",
        "example": {
          "tradingName": "Northstar Banking Service",
          "contact": {
            "email": "olivia.bennett@northstar.example",
            "phone": "+1-212-555-0147",
            "website": "https://example.com/resource"
          },
          "capabilities": {
            "channels": [
              "STANDARD"
            ],
            "paymentMethods": [
              "STANDARD"
            ],
            "supportsPartialCapture": true,
            "supportsPartialRefund": true,
            "supportsTips": true,
            "supportsSplitPayments": true,
            "supportsRecurringPayments": true,
            "maximumTipPercentage": "STANDARD"
          },
          "commercialTerms": {
            "pricingPlanId": "STANDARD",
            "feeBearer": "STANDARD",
            "paymentFee": {
              "type": "STANDARD",
              "percentage": "STANDARD",
              "fixedAmount": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "minimumFee": {
                "currency": "USD",
                "value": "STANDARD"
              }
            }
          },
          "requestContext": {
            "requestId": "57f6bde0-7453-54f2-bb64-abdaaf8dd301",
            "correlationId": "e903631c-2e68-5916-ae8b-a3562d79d160",
            "idempotencyKey": "1f34ee33-b746-516c-87b8-0559f36c1386",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-126637"
            }
          }
        }
      },
      "Contact": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "Email address for contacting the merchant.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "Phone number for contacting the merchant.",
            "example": "string"
          },
          "website": {
            "type": "string",
            "description": "Website URL for the merchant.",
            "example": "string"
          }
        },
        "description": "Schema for the contact details of the merchant."
      },
      "Capabilities": {
        "type": "object",
        "properties": {
          "channels": {
            "type": "array",
            "description": "List of channels supported by the merchant.",
            "example": [
              "Channel1",
              "Channel2"
            ],
            "items": {
              "type": "string"
            }
          },
          "paymentMethods": {
            "type": "array",
            "description": "List of payment methods supported by the merchant.",
            "example": [
              "Credit Card",
              "PayPal"
            ],
            "items": {
              "type": "string"
            }
          },
          "supportsPartialCapture": {
            "type": "boolean",
            "description": "Indicates if partial capture is supported.",
            "example": false
          },
          "supportsPartialRefund": {
            "type": "boolean",
            "description": "Indicates if partial refunds are supported.",
            "example": false
          },
          "supportsTips": {
            "type": "boolean",
            "description": "Indicates if tips are supported.",
            "example": false
          },
          "supportsSplitPayments": {
            "type": "boolean",
            "description": "Indicates if split payments are supported.",
            "example": false
          },
          "supportsRecurringPayments": {
            "type": "boolean",
            "description": "Indicates if recurring payments are supported.",
            "example": false
          },
          "maximumTipPercentage": {
            "type": "string",
            "description": "The maximum percentage allowed for tips.",
            "example": "20%"
          }
        },
        "description": "Schema describing the capabilities of the merchant."
      },
      "CommercialTerms": {
        "type": "object",
        "properties": {
          "pricingPlanId": {
            "type": "string",
            "description": "Identifier for the pricing plan.",
            "example": "string"
          },
          "feeBearer": {
            "type": "string",
            "description": "Indicates who bears the fees (merchant or customer).",
            "example": "string"
          },
          "paymentFee": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "description": "Type of payment fee (e.g., fixed, variable).",
                "example": "string"
              },
              "percentage": {
                "type": "string",
                "description": "Percentage fee applied to transactions.",
                "example": "string"
              },
              "fixedAmount": {
                "type": "object",
                "properties": {
                  "currency": {
                    "type": "string",
                    "description": "Currency of the fixed amount.",
                    "example": "USD"
                  },
                  "value": {
                    "type": "string",
                    "description": "Value of the fixed amount.",
                    "example": "10.00"
                  }
                },
                "description": "Fixed amount fee details."
              }
            },
            "description": "Details about the payment fees."
          }
        },
        "description": "Commercial terms associated with the merchant."
      },
      "PaymentFee": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of payment fee.",
            "example": "percentage"
          },
          "percentage": {
            "type": "string",
            "description": "Percentage fee applied to payments.",
            "example": "2.5%"
          },
          "fixedAmount": {
            "description": "Fixed amount fee structure.",
            "$ref": "#/components/schemas/FixedAmount"
          },
          "minimumFee": {
            "description": "The minimum fee that can be charged.",
            "$ref": "#/components/schemas/MinimumFee"
          }
        },
        "description": "Schema specifying the structure of payment fees."
      },
      "FixedAmount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency code for the fixed amount fee.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "The fixed amount value.",
            "example": "5.00"
          }
        },
        "description": "Schema representing a fixed amount fee structure."
      },
      "MinimumFee": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency code for the minimum fee.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "The minimum fee value.",
            "example": "1.00"
          }
        },
        "description": "Schema representing the minimum fee structure."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-10T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application that initiated the request.",
            "example": "string"
          },
          "channel": {
            "description": "Details about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema containing contextual information about the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the request.",
            "example": "string"
          }
        },
        "description": "Schema detailing the channel used for the request."
      },
      "UpdateP2mByMerchantIdResponse_200": {
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant.",
            "example": "MER-504004"
          },
          "business": {
            "$ref": "#/components/schemas/BusinessDetails"
          },
          "registeredAddress": {
            "$ref": "#/components/schemas/Address"
          },
          "contact": {
            "$ref": "#/components/schemas/ContactInformation"
          },
          "status": {
            "type": "string",
            "description": "Current status of the merchant.",
            "example": "ACTIVE"
          },
          "kybStatus": {
            "type": "string",
            "description": "Know Your Business status for compliance.",
            "example": "ACTIVE"
          },
          "amlStatus": {
            "type": "string",
            "description": "Anti-Money Laundering status for compliance.",
            "example": "ACTIVE"
          },
          "capabilities": {
            "$ref": "#/components/schemas/MerchantCapabilities"
          },
          "commercialTerms": {
            "$ref": "#/components/schemas/CommercialTerms"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the PATCH operation on a merchant's details.",
        "example": {
          "merchantId": "MER-504004",
          "business": {
            "legalName": "Olivia Bennett",
            "tradingName": "Northstar Banking Service",
            "registrationNumber": "NY-4587219",
            "taxIdentificationNumber": "STANDARD",
            "incorporationCountry": "STANDARD",
            "incorporationDate": "2026-09-15",
            "merchantType": "STANDARD",
            "merchantCategoryCode": "5411"
          },
          "registeredAddress": {
            "line1": "350 Fifth Avenue",
            "line2": "Suite 4200",
            "city": "New York",
            "stateOrProvince": "STANDARD",
            "postalCode": "10001",
            "country": "STANDARD"
          },
          "contact": {
            "email": "olivia.bennett@northstar.example",
            "phone": "+1-212-555-0147",
            "website": "https://example.com/resource"
          },
          "status": "ACTIVE",
          "kybStatus": "ACTIVE",
          "amlStatus": "ACTIVE",
          "capabilities": {
            "channels": [
              "STANDARD"
            ],
            "paymentMethods": [
              "STANDARD"
            ],
            "supportsPartialCapture": true,
            "supportsPartialRefund": true,
            "supportsTips": true,
            "supportsSplitPayments": true,
            "supportsRecurringPayments": true,
            "maximumTipPercentage": "STANDARD"
          },
          "commercialTerms": {
            "pricingPlanId": "STANDARD",
            "feeBearer": "STANDARD",
            "paymentFee": {
              "type": "STANDARD",
              "percentage": "STANDARD",
              "fixedAmount": {
                "currency": "USD",
                "value": "STANDARD"
              }
            }
          },
          "metadata": {
            "responseId": "5504d5ca-3ca3-5b4d-bebe-63b6c1cad617",
            "correlationId": "e903631c-2e68-5916-ae8b-a3562d79d160",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "BusinessDetails": {
        "type": "object",
        "properties": {
          "legalName": {
            "type": "string",
            "description": "The legal name of the business.",
            "example": "string"
          },
          "tradingName": {
            "type": "string",
            "description": "The trading name (if different from legal name).",
            "example": "string"
          },
          "registrationNumber": {
            "type": "string",
            "description": "The business registration number.",
            "example": "string"
          },
          "taxIdentificationNumber": {
            "type": "string",
            "description": "Tax identification number for the business.",
            "example": "string"
          },
          "incorporationCountry": {
            "type": "string",
            "description": "Country where the business is incorporated.",
            "example": "string"
          },
          "incorporationDate": {
            "type": "string",
            "description": "Date when the business was incorporated.",
            "example": "string"
          },
          "merchantType": {
            "type": "string",
            "description": "Type of merchant (e.g., individual, company, etc.).",
            "example": "string"
          },
          "merchantCategoryCode": {
            "type": "string",
            "description": "Merchant category code (MCC).",
            "example": "string"
          }
        },
        "description": "Details of the business associated with the merchant."
      },
      "Address": {
        "type": "object",
        "properties": {
          "line1": {
            "type": "string",
            "description": "First line of the address.",
            "example": "string"
          },
          "line2": {
            "type": "string",
            "description": "Second line of the address (optional).",
            "example": "string"
          },
          "city": {
            "type": "string",
            "description": "City of the registered address.",
            "example": "string"
          },
          "stateOrProvince": {
            "type": "string",
            "description": "State or province of the registered address.",
            "example": "string"
          },
          "postalCode": {
            "type": "string",
            "description": "Postal code of the registered address.",
            "example": "string"
          },
          "country": {
            "type": "string",
            "description": "Country of the registered address.",
            "example": "string"
          }
        },
        "description": "Registered address of the merchant."
      },
      "ContactInformation": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "Email address for the merchant.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "Phone number for the merchant.",
            "example": "string"
          },
          "website": {
            "type": "string",
            "description": "Website URL for the merchant.",
            "example": "string"
          }
        },
        "description": "Contact information for the merchant."
      },
      "MerchantCapabilities": {
        "type": "object",
        "properties": {
          "channels": {
            "type": "array",
            "description": "Supported channels for transactions.",
            "example": [
              "online",
              "in-store"
            ],
            "items": {
              "type": "string"
            }
          },
          "paymentMethods": {
            "type": "array",
            "description": "Supported payment methods.",
            "example": [
              "credit_card",
              "debit_card"
            ],
            "items": {
              "type": "string"
            }
          },
          "supportsPartialCapture": {
            "type": "boolean",
            "description": "Indicates if partial capture is supported.",
            "example": false
          },
          "supportsPartialRefund": {
            "type": "boolean",
            "description": "Indicates if partial refund is supported.",
            "example": false
          },
          "supportsTips": {
            "type": "boolean",
            "description": "Indicates if tips are supported.",
            "example": false
          },
          "supportsSplitPayments": {
            "type": "boolean",
            "description": "Indicates if split payments are supported.",
            "example": false
          },
          "supportsRecurringPayments": {
            "type": "boolean",
            "description": "Indicates if recurring payments are supported.",
            "example": false
          },
          "maximumTipPercentage": {
            "type": "string",
            "description": "Maximum tip percentage that can be applied.",
            "example": "25%"
          }
        },
        "description": "Capabilities of the merchant, including payment options and support features."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "merchantId": {
        "name": "merchantId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-update-merchant"
        },
        "example": "banking-p2m-openapi-update-merchant"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication with JSON Web Tokens (JWT). Clients must include a valid JWT in the Authorization header as a bearer token to access secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}