{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Banking Human Resource Management Workforce Trainings-v5-spec",
    "description": "The Banking Workforce Training API provides access to a comprehensive list of training programs aimed at enhancing the skills of personnel in the banking sector. Users can retrieve detailed information about available workforce training options tailored for human resource management. This API is essential for HR professionals and training coordinators looking to improve employee development and compliance within their organizations. It enables effective planning and management of training initiatives to meet the evolving needs of the banking industry.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/workforce-training": {
      "get": {
        "tags": [
          "Workforce Management"
        ],
        "summary": "Retrieve workforce training details.",
        "description": "Fetch the details of the available workforce training programs within the human resource management system. This endpoint provides information to help stakeholders understand training options and availability.",
        "operationId": "listBankingHumanResourceManagementWorkforceTrainings",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving workforce training information. This request expects a properly formatted JSON object that meets the schema specifications.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListBankingHumanResourceManagementWorkforceTrainingsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved workforce training data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBankingHumanResourceManagementWorkforceTrainingsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListBankingHumanResourceManagementWorkforceTrainingsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the workforce training operations in the human resource management system.",
        "example": "{}"
      },
      "ListBankingHumanResourceManagementWorkforceTrainingsResponse_200": {
        "title": "Workforce Training Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of workforce training assignments for employees.",
            "example": [
              {
                "employeeId": "EMP-245908",
                "assignmentId": "STANDARD",
                "departmentId": "STANDARD",
                "effectiveDate": "2026-09-15",
                "countryCode": "US",
                "employmentType": "STANDARD",
                "managerId": "STANDARD",
                "workLocation": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/WorkforceTrainingAssignment"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response object containing workforce training information and metadata.",
        "example": {
          "items": [
            {
              "employeeId": "EMP-245908",
              "assignmentId": "STANDARD",
              "departmentId": "STANDARD",
              "effectiveDate": "2026-09-15",
              "countryCode": "US",
              "employmentType": "STANDARD",
              "managerId": "STANDARD",
              "workLocation": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "af11de8c-ff99-5ea7-bddb-a47393fb6dd3",
            "correlationId": "0ad936c0-922b-5fba-b67a-d5962c0eb6e6",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "WorkforceTrainingAssignment": {
        "title": "Workforce Training Assignment",
        "type": "object",
        "properties": {
          "employeeId": {
            "type": "string",
            "description": "Unique identifier for the employee.",
            "example": "string"
          },
          "assignmentId": {
            "type": "string",
            "description": "Unique identifier for the training assignment.",
            "example": "string"
          },
          "departmentId": {
            "type": "string",
            "description": "Identifier for the department associated with the training assignment.",
            "example": "string"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date when the training assignment becomes effective.",
            "example": "string"
          },
          "countryCode": {
            "type": "string",
            "description": "ISO code of the country related to the training assignment.",
            "example": "string"
          },
          "employmentType": {
            "type": "string",
            "description": "Type of employment (e.g., full-time, part-time).",
            "example": "string"
          },
          "managerId": {
            "type": "string",
            "description": "Identifier for the manager overseeing the employee.",
            "example": "string"
          },
          "workLocation": {
            "type": "string",
            "description": "Location where the employee will work.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the training assignment record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the assignment was last updated.",
            "example": "string"
          }
        },
        "description": "Details about a specific workforce training assignment for an employee."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Pagination information for the list of workforce training assignments."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to trace the request across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Metadata about the response including identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "workforce-training-search-workforce-training"
        },
        "example": "workforce-training-search-workforce-training"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication, which requires a token issued by an authentication server. The token must be included in the Authorization header of the HTTP request. The supported format for the token is JSON Web Token (JWT).",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}