{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Replace Business Service By Business Id-spec",
    "description": "The Business Service Update API allows businesses to modify existing service details using a specific business identifier. This endpoint supports updates to service attributes, ensuring that businesses maintain accurate and relevant information. Typical consumers include business administrators or service managers who need to keep service offerings current. Use this API to enhance service management within your operations, enabling seamless updates and maintaining alignment with business needs.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/business-services/businesses/{businessId}": {
      "put": {
        "tags": [
          "Business Management"
        ],
        "summary": "Update business details",
        "description": "This endpoint allows you to update the information of the business identified by RES-100045. Make sure to provide all required fields to ensure the update is processed correctly.",
        "operationId": "replaceBusinessServiceByBusinessId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/businessId"
          }
        ],
        "requestBody": {
          "description": "Request body for updating the business with the specified identifier. It should contain the necessary details to update the business attributes.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceBusinessServiceByBusinessIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, business details updated.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceBusinessServiceByBusinessIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ReplaceBusinessServiceByBusinessIdRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the business.",
            "example": "Northstar Banking Service"
          },
          "personallyLiable": {
            "type": "boolean",
            "description": "Indicates if the person is personally liable.",
            "example": true
          },
          "address": {
            "description": "The address of the business.",
            "$ref": "#/components/schemas/Address"
          },
          "phoneNumber": {
            "description": "The phone number of the business.",
            "$ref": "#/components/schemas/PhoneNumber"
          },
          "url": {
            "type": "string",
            "description": "The website URL of the business.",
            "example": "https://example.com/resource"
          },
          "email": {
            "type": "string",
            "description": "The email address of the business.",
            "example": "olivia.bennett@northstar.example"
          },
          "type": {
            "type": "string",
            "description": "The type of business.",
            "example": "STANDARD"
          },
          "taxId": {
            "type": "string",
            "description": "The tax identification number of the business.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for updating business operations.",
        "example": {
          "name": "Northstar Banking Service",
          "personallyLiable": true,
          "address": {
            "line1": "350 Fifth Avenue",
            "line2": "Suite 4200",
            "city": "New York",
            "state": "STANDARD",
            "country": "STANDARD",
            "postalCode": "10001"
          },
          "phoneNumber": {
            "countryCode": "US",
            "phoneNo": "+1-212-555-0147"
          },
          "url": "https://example.com/resource",
          "email": "olivia.bennett@northstar.example",
          "type": "STANDARD",
          "taxId": "STANDARD",
          "requestContext": {
            "requestId": "d5c71239-b6ac-51db-88db-5ec5b291655c",
            "correlationId": "cc747f43-e5f0-5f4e-a050-06f083a2d7f4",
            "idempotencyKey": "d4f0d566-ad98-5084-bd45-c2a2da8ffb42",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-402640"
            }
          }
        }
      },
      "Address": {
        "title": "Address",
        "type": "object",
        "properties": {
          "line1": {
            "type": "string",
            "description": "First line of the address.",
            "example": "123 Main St"
          },
          "line2": {
            "type": "string",
            "description": "Second line of the address.",
            "example": "Suite 100"
          },
          "city": {
            "type": "string",
            "description": "City of the address.",
            "example": "Anytown"
          },
          "state": {
            "type": "string",
            "description": "State of the address.",
            "example": "CA"
          },
          "country": {
            "type": "string",
            "description": "Country of the address.",
            "example": "USA"
          },
          "postalCode": {
            "type": "string",
            "description": "Postal or ZIP code of the address.",
            "example": "90210"
          }
        },
        "description": "This schema represents an address structure."
      },
      "PhoneNumber": {
        "title": "Phone Number",
        "type": "object",
        "properties": {
          "countryCode": {
            "type": "string",
            "description": "The country code for the phone number.",
            "example": "+1"
          },
          "phoneNo": {
            "type": "string",
            "description": "The actual phone number.",
            "example": "1234567890"
          }
        },
        "description": "This schema represents a phone number structure."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key that ensures the request is idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "string"
          },
          "channel": {
            "description": "Details about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used.",
            "example": "string"
          }
        },
        "description": "Schema representing channel details."
      },
      "ReplaceBusinessServiceByBusinessIdResponse_200": {
        "title": "Business Response",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the business.",
            "example": "Northstar Banking Service"
          },
          "personallyLiable": {
            "type": "boolean",
            "description": "Indicates if the individual is personally liable for the business.",
            "example": true
          },
          "address": {
            "description": "The address of the business.",
            "$ref": "#/components/schemas/Address"
          },
          "phoneNumber": {
            "description": "The contact phone number for the business.",
            "$ref": "#/components/schemas/PhoneNumber"
          },
          "url": {
            "type": "string",
            "description": "Website URL of the business.",
            "example": "https://example.com/resource"
          },
          "email": {
            "type": "string",
            "description": "Email address of the business.",
            "example": "olivia.bennett@northstar.example"
          },
          "type": {
            "type": "string",
            "description": "The type of the business.",
            "example": "STANDARD"
          },
          "taxId": {
            "type": "string",
            "description": "The tax identification number of the business.",
            "example": "STANDARD"
          },
          "businessId": {
            "type": "string",
            "description": "A unique identifier for the business.",
            "example": "STANDARD"
          },
          "createdDate": {
            "type": "string",
            "description": "The date the business was created.",
            "example": "2026-09-15"
          },
          "modifiedDate": {
            "type": "string",
            "description": "The date of the last modification to the business information.",
            "example": "2026-09-15"
          },
          "metadata": {
            "description": "Metadata associated with the business response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for the business operations upon a successful PUT request.",
        "example": {
          "name": "Northstar Banking Service",
          "personallyLiable": true,
          "address": {
            "line1": "350 Fifth Avenue",
            "line2": "Suite 4200",
            "city": "New York",
            "state": "STANDARD",
            "country": "STANDARD",
            "postalCode": "10001"
          },
          "phoneNumber": {
            "countryCode": "US",
            "phoneNo": "+1-212-555-0147"
          },
          "url": "https://example.com/resource",
          "email": "olivia.bennett@northstar.example",
          "type": "STANDARD",
          "taxId": "STANDARD",
          "businessId": "STANDARD",
          "createdDate": "2026-09-15",
          "modifiedDate": "2026-09-15",
          "metadata": {
            "responseId": "321a5ca6-dcab-5906-b35d-496701cdbc23",
            "correlationId": "cc747f43-e5f0-5f4e-a050-06f083a2d7f4",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response.",
            "example": "RESP12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking purposes.",
            "example": "CORR67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "us-east-1"
          }
        },
        "description": "This schema represents metadata associated with the business response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "businessId": {
        "name": "businessId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-update-business"
        },
        "example": "open-finance-api-update-business"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using a Bearer token to access protected resources. The token must be in the format of a JSON Web Token (JWT), which contains claims and is often used in web applications for user authentication and information exchange.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}