{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Market Operation By Param1-spec",
    "description": "The Market Trade Reporting API allows users to retrieve detailed market operation reports based on specific parameters. This endpoint provides critical insights into trading activities, helping financial institutions to analyze market trends and optimize their strategies. Typical consumers of this API include data analysts, compliance teams, and trading departments requiring timely access to trade data. The API ensures that stakeholders can efficiently monitor transactions and make informed decisions in their trading operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-operations/trade-reporting/{param1}": {
      "get": {
        "tags": [
          "Trade Reporting"
        ],
        "summary": "Retrieve a specific trade report by its ID.",
        "description": "This endpoint allows users to fetch details of a trade report using its unique identifier. It provides comprehensive information such as reporting status, trade details, and more, which can be essential for compliance and analysis purposes.",
        "operationId": "getMarketOperationByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving trade reporting operations for a specific resource identified by RES-100045. This endpoint allows clients to fetch detailed information regarding trades, including various parameters necessary for the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMarketOperationByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieves the trade report details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMarketOperationByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetMarketOperationByParam1Request": {
        "type": "string",
        "description": "The request body for the trade reporting operation in the market operations service.",
        "example": "{}"
      },
      "GetMarketOperationByParam1Response_200": {
        "title": "Trade Reporting Response",
        "type": "object",
        "properties": {
          "tradeId": {
            "type": "string",
            "description": "Unique identifier for the trade.",
            "example": "STANDARD"
          },
          "instrumentId": {
            "type": "string",
            "description": "Identifier for the financial instrument associated with the trade.",
            "example": "STANDARD"
          },
          "settlementDate": {
            "type": "string",
            "description": "Date on which the trade is settled.",
            "example": "2026-09-15"
          },
          "quantity": {
            "type": "integer",
            "description": "Number of units involved in the trade.",
            "format": "int32",
            "example": 1
          },
          "settlementCurrency": {
            "type": "string",
            "description": "Currency used for the settlement of the trade.",
            "example": "USD"
          },
          "custodianId": {
            "type": "string",
            "description": "Identifier for the custodian managing the trade.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the trade record (e.g., confirmed, pending).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the trade record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the trade record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "RESP56789"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier to correlate requests and responses.",
                "example": "CORR234567"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp of when the response was generated.",
                "example": "2023-10-12T14:35:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the processing took place.",
                "example": "US-East"
              }
            },
            "description": "Additional information regarding the trade response.",
            "example": {
              "responseId": "9b4eece3-1e77-54f9-baa6-2444acbc25a0",
              "correlationId": "fec04f4f-48a3-5605-86f2-8a85c141fbd5",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for trade reporting operation providing details of a specific trade.",
        "example": {
          "tradeId": "STANDARD",
          "instrumentId": "STANDARD",
          "settlementDate": "2026-09-15",
          "quantity": 1,
          "settlementCurrency": "USD",
          "custodianId": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "9b4eece3-1e77-54f9-baa6-2444acbc25a0",
            "correlationId": "fec04f4f-48a3-5605-86f2-8a85c141fbd5",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that generated the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "trade-and-price-reporting-get-trade-and-price-reporting"
        },
        "example": "trade-and-price-reporting-get-trade-and-price-reporting"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request and generated the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JSON Web Tokens (JWT) in the Authorization header for authentication. The client must include a valid JWT as a bearer token in the request headers to gain access to secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}