{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Case Root Cause Analysis API",
    "description": "The Case Root Cause Analysis API provides crucial insights into the underlying factors contributing to banking service cases. This API enables users to query detailed reports, allowing businesses to identify patterns and frequent issues, which can enhance service delivery and customer satisfaction. Financial institutions and customer service teams can leverage this resource to improve operational efficiency and mitigate risks. By understanding root causes, organizations can implement effective strategies to prevent recurrence and drive continuous improvement.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/servicing/case-root-cause-analysis": {
      "get": {
        "tags": [
          "Servicing"
        ],
        "summary": "Retrieve root cause analysis for servicing cases.",
        "description": "This endpoint allows you to fetch the root cause analysis data for servicing cases. Use this to understand underlying issues and improve service quality.",
        "operationId": "getCaseRootCauseAnalysis",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to provide the necessary parameters for retrieving the case root cause analysis. It should include all relevant details to ensure accurate analysis results.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCaseRootCauseAnalysisRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and returned the expected data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCaseRootCauseAnalysisResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCaseRootCauseAnalysisRequest": {
        "type": "string",
        "description": "This schema represents the request body for the root cause analysis operation in the servicing case endpoint.",
        "example": "{}"
      },
      "GetCaseRootCauseAnalysisResponse_200": {
        "title": "Root Cause Analysis Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of case items related to root cause analysis.",
            "example": [
              {
                "customerId": "CUST-267982",
                "caseId": "CASE-955124",
                "requestCategory": "STANDARD",
                "priority": "NORMAL",
                "originatingChannel": "STANDARD",
                "caseReason": "STANDARD",
                "serviceLevelDueAt": "2026-08-11T12:00:00Z",
                "customerContactPreference": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CaseItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Indicates the sorting order of the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for the Root Cause Analysis operation in the servicing system.",
        "example": {
          "items": [
            {
              "customerId": "CUST-267982",
              "caseId": "CASE-955124",
              "requestCategory": "STANDARD",
              "priority": "NORMAL",
              "originatingChannel": "STANDARD",
              "caseReason": "STANDARD",
              "serviceLevelDueAt": "2026-08-11T12:00:00Z",
              "customerContactPreference": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "b1ef774c-5e02-5165-b17d-b8cc910137b5",
            "correlationId": "bb64b0e9-3777-5e50-a703-e93c3ad2491c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CaseItem": {
        "title": "Case Item",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier of the customer."
          },
          "caseId": {
            "type": "string",
            "description": "The unique identifier of the case."
          },
          "requestCategory": {
            "type": "string",
            "description": "The category of the request associated with the case."
          },
          "priority": {
            "type": "string",
            "description": "The priority level of the case."
          },
          "originatingChannel": {
            "type": "string",
            "description": "The channel from which the case originated."
          },
          "caseReason": {
            "type": "string",
            "description": "The reason for the case creation."
          },
          "serviceLevelDueAt": {
            "type": "string",
            "description": "The timestamp when the service level agreement is due."
          },
          "customerContactPreference": {
            "type": "string",
            "description": "The customer's preferred method of contact."
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the case record."
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the case was last updated."
          }
        },
        "description": "Schema representing a single case item in the root cause analysis response.",
        "example": {
          "customerId": "customer_id_123",
          "caseId": "case_id_456",
          "requestCategory": "Technical Support",
          "priority": "High",
          "originatingChannel": "Web",
          "caseReason": "Hardware Issue",
          "serviceLevelDueAt": "2023-10-15T10:00:00Z",
          "customerContactPreference": "Email",
          "recordStatus": "Active",
          "updatedAt": "2023-10-01T12:00:00Z"
        }
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32"
          }
        },
        "description": "Schema representing pagination details in the response.",
        "example": {
          "page": 1,
          "pageSize": 10,
          "totalItems": 100
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation ID for tracing the request."
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed."
          }
        },
        "description": "Schema representing metadata about the response.",
        "example": {
          "responseId": "response_id_789",
          "correlationId": "correlation_id_101112",
          "generatedAt": "2023-10-01T12:00:00Z",
          "processingRegion": "us-west-1"
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "case-root-cause-analysis-search-case-root-cause-analysis"
        },
        "example": "case-root-cause-analysis-search-case-root-cause-analysis"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication using a Bearer token in the HTTP Authorization header. The token must be a valid JSON Web Token (JWT).",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}