{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Channel Activity History Management API",
    "description": "The Channel Activity History Management API enables businesses to log and manage historical activity related to specific banking channels. This endpoint allows users to submit detailed records of channel interactions, facilitating better tracking and reporting of operational metrics. Typical consumers include banking operations teams and compliance departments focused on maintaining accurate activity logs. By leveraging this API, organizations can enhance their operational efficiency and ensure thorough documentation of channel activity histories.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/channel-activity-history": {
      "post": {
        "tags": [],
        "summary": "Create a new entry in channel activity history.",
        "description": "This endpoint allows users to record new activities within a specific channel. It is essential for tracking engagements and interactions that occur over time, helping businesses monitor their performance in various channels.",
        "operationId": "createChannelActivityHistory",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit a channel activity history record. It contains details about the operations related to channel activities that are to be processed. Ensure that the JSON structure complies with the provided schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateChannelActivityHistoryRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created a new channel activity record.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateChannelActivityHistoryResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateChannelActivityHistoryRequest": {
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "Unique identifier for the operation.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-707313"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "ACC-863623"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2026-08-11T12:00:00Z"
          },
          "priority": {
            "type": "string",
            "description": "Priority level of the request.",
            "example": "NORMAL"
          },
          "requestContext": {
            "description": "Context information for the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "The request body schema for channel activity history operations.",
        "example": {
          "operationId": "STANDARD",
          "customerId": "CUST-707313",
          "accountId": "ACC-863623",
          "requestedAt": "2026-08-11T12:00:00Z",
          "priority": "NORMAL",
          "requestContext": {
            "requestId": "095de73e-680d-58ed-8ff2-9402d119fbce",
            "correlationId": "1fbbcf58-f95f-50f1-9e7b-7f62f1ea3a55",
            "idempotencyKey": "0cdf7a3a-5fd5-543a-a196-a69b45d3f5f8",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-946476"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-98765"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate logs across systems.",
            "example": "corr-12345"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key for ensuring the idempotency of the request.",
            "example": "idemp-abcde"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request context was captured.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that generated the request.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that generated the request.",
            "example": "Mobile App"
          },
          "channel": {
            "description": "Information about the communication channel.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contains contextual information regarding the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the communication channel.",
            "example": "chan-98765"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the communication channel (e.g., email, SMS).",
            "example": "SMS"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the communication channel.",
            "example": "dev-55555"
          }
        },
        "description": "Represents the communication channel used for the operation."
      },
      "CreateChannelActivityHistoryResponse_201": {
        "title": "Channel Activity History Response",
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "A unique identifier for the operation.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "The ID of the customer associated with the operation.",
            "example": "CUST-402251"
          },
          "accountId": {
            "type": "string",
            "description": "The ID of the account related to the operation.",
            "example": "ACC-148885"
          },
          "resourceId": {
            "type": "string",
            "description": "The ID of the resource involved in the operation.",
            "example": "RES-102550"
          },
          "status": {
            "type": "string",
            "description": "The current status of the operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/OperationMetadata"
          }
        },
        "description": "This schema represents the response structure for the channel activity history operation.",
        "example": {
          "operationId": "STANDARD",
          "customerId": "CUST-402251",
          "accountId": "ACC-148885",
          "resourceId": "RES-102550",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "a620337c-a2c8-582e-8f73-27ba060d59de",
            "correlationId": "1fbbcf58-f95f-50f1-9e7b-7f62f1ea3a55",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "OperationMetadata": {
        "title": "Operation Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "RESP123456"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate the request and response.",
            "example": "CORR78910"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-01T12:00:01Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the operation was processed.",
            "example": "us-east-1"
          }
        },
        "description": "This schema contains metadata information related to the operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "channel-activity-history-create-channel-activity-history"
        },
        "example": "channel-activity-history-create-channel-activity-history"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method that utilizes a bearer token in the form of a JSON Web Token (JWT) for secure API access. This token should be included in the Authorization header of the API requests to authenticate the user.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}