{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Compliance By Param1-spec",
    "description": "The Regulatory Compliance Information API provides access to essential compliance data tailored to specific criteria identified by `param1`. This endpoint enables financial institutions and compliance officers to retrieve the latest regulatory compliance information necessary for adhering to legal standards. Typical consumers include risk management teams and compliance auditors who utilize this data to ensure robust compliance protocols. The API streamlines the process of accessing regulatory updates, facilitating informed decision-making and mitigating compliance risks.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/compliance/regulatory-compliance/{param1}": {
      "get": {
        "tags": [
          "Regulatory Compliance"
        ],
        "summary": "Retrieve regulatory compliance details.",
        "description": "This endpoint fetches the details of a specific regulatory compliance resource identified by its unique ID. It provides comprehensive information that is necessary for compliance tracking and reporting.",
        "operationId": "getComplianceByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving regulatory compliance information specific to the resource with the ID RES-100045. This body should conform to the defined schema to ensure the request is processed correctly.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetComplianceByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of the resource data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetComplianceByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetComplianceByParam1Request": {
        "title": "Regulatory Compliance JSON Request Body",
        "type": "string",
        "description": "This schema represents the request body format for the Regulatory Compliance API endpoint for Operations, specifically for GET requests. It is expected to be a JSON string.",
        "example": "{}"
      },
      "GetComplianceByParam1Response_200": {
        "title": "Regulatory Compliance Response",
        "type": "object",
        "properties": {
          "submissionId": {
            "type": "string",
            "description": "The unique identifier for the submission.",
            "example": "STANDARD"
          },
          "legalEntityId": {
            "type": "string",
            "description": "The unique identifier for the legal entity.",
            "example": "STANDARD"
          },
          "jurisdiction": {
            "type": "string",
            "description": "The jurisdiction in which the regulation applies.",
            "example": "STANDARD"
          },
          "reportingPeriod": {
            "type": "string",
            "description": "The period for which the report is submitted.",
            "example": "STANDARD"
          },
          "regulation": {
            "type": "string",
            "description": "The specific regulation being referred to.",
            "example": "STANDARD"
          },
          "dueDate": {
            "type": "string",
            "description": "The date by which the report is due.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the regulatory compliance record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the regulatory compliance response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for regulatory compliance information.",
        "example": {
          "submissionId": "STANDARD",
          "legalEntityId": "STANDARD",
          "jurisdiction": "STANDARD",
          "reportingPeriod": "STANDARD",
          "regulation": "STANDARD",
          "dueDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "7371505d-482c-50e6-ab30-d5afe44d8fe8",
            "correlationId": "3a937add-20b4-59a5-ac40-dec4d44e7ca1",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata for Regulatory Compliance",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation ID linking related requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "string"
          }
        },
        "description": "This schema represents the metadata for the regulatory compliance response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that is being accessed. This allows tracking of requests and responses for regulatory compliance.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "regulatory-compliance-get-regulatory-compliance"
        },
        "example": "regulatory-compliance-get-regulatory-compliance"
      },
      "X-Runtime-App": {
        "description": "The name of the application in which the endpoint is running. This is useful for identifying the environment and context of the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, typically utilized for secure API access via JSON Web Tokens (JWT). Clients must include a valid JWT token in the Authorization header for authentication.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}