{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Corporate Finance Corporate Finances-spec",
    "description": "The Corporate Finance Overview API provides comprehensive insights into corporate finance operations and activities. It facilitates access to a list of corporate finance data, enabling businesses to analyze their financial standing and strategies. This API is particularly beneficial for financial analysts, corporate treasurers, and strategic planners seeking to enhance decision-making through data-driven insights. By leveraging this API, users can effectively monitor and manage their corporate financial assets and liabilities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/corporate-finance/corporate-finance": {
      "get": {
        "tags": [
          "Corporate Finance"
        ],
        "summary": "Retrieve corporate finance details",
        "description": "This endpoint allows users to retrieve detailed information about corporate finance. It provides data related to financial performance, investment opportunities, and market analysis relevant to corporate finance activities.",
        "operationId": "listCorporateFinanceCorporateFinances",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body containing parameters for fetching corporate finance information. This should include necessary details to filter or retrieve the desired corporate finance data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListCorporateFinanceCorporateFinancesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning corporate finance data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCorporateFinanceCorporateFinancesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListCorporateFinanceCorporateFinancesRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operations in the corporate finance module, formatted as a JSON string.",
        "example": "{}"
      },
      "ListCorporateFinanceCorporateFinancesResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of engagement items representing financial transactions.",
            "example": [
              {
                "clientId": "STANDARD",
                "engagementId": "STANDARD",
                "transactionType": "STANDARD",
                "enterpriseValue": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "targetCloseDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/EngagementItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sort order of the result set.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the corporate finance operations GET endpoint, containing a list of financial engagements and associated metadata.",
        "example": {
          "items": [
            {
              "clientId": "STANDARD",
              "engagementId": "STANDARD",
              "transactionType": "STANDARD",
              "enterpriseValue": {
                "amount": 100.0,
                "currency": "USD"
              },
              "targetCloseDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "b17ac86f-1874-53eb-91d4-413e31b8208e",
            "correlationId": "a93b0141-e2b7-57d9-809a-147ed9a9cb64",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EngagementItem": {
        "type": "object",
        "properties": {
          "clientId": {
            "type": "string",
            "description": "Unique identifier for the client.",
            "example": "string"
          },
          "engagementId": {
            "type": "string",
            "description": "Unique identifier for the engagement.",
            "example": "string"
          },
          "transactionType": {
            "type": "string",
            "description": "Type of transaction (e.g., acquisition, merger).",
            "example": "string"
          },
          "enterpriseValue": {
            "$ref": "#/components/schemas/EnterpriseValue"
          },
          "targetCloseDate": {
            "type": "string",
            "description": "The target date for closing the engagement.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record (e.g., active, inactive).",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the record.",
            "example": "string"
          }
        },
        "description": "Details of a financial engagement transaction."
      },
      "EnterpriseValue": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The monetary amount representing the enterprise value.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "Currency code for the enterprise value amount.",
            "example": "USD"
          }
        },
        "description": "The enterprise value associated with the engagement."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the paginated response.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Pagination information for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracing purposes.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "North America"
          }
        },
        "description": "Metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "corporate-finance-search-corporate-finance"
        },
        "example": "corporate-finance-search-corporate-finance"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the request, helping to identify the service handling the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, where a JSON Web Token (JWT) is provided in the authorization header. It is commonly used to secure APIs and represents the user's identity and claims.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}