{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Public Reference Data Management API",
    "description": "The Public Reference Data Management API provides robust access to crucial market data, enabling users to manage and retrieve public reference data efficiently. This API facilitates the integration of essential reference data into applications, supporting financial analysts, traders, and data scientists in their decision-making processes. By offering streamlined access to vital information, it enhances the accuracy and efficiency of market data handling. Typical use cases include financial reporting, analytical modeling, and compliance monitoring, ensuring users have the most up-to-date public reference data at their fingertips.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-data/public-reference-data-management": {
      "get": {
        "tags": [
          "Market Data"
        ],
        "summary": "Retrieve public reference data from the market.",
        "description": "This endpoint allows users to fetch public reference data related to market entities. It provides essential information that can be leveraged for analysis and decision-making.",
        "operationId": "getPublicReferenceData",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve public reference data from the market data service. It specifies the parameters necessary for the query, allowing clients to obtain specific information based on their requirements.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPublicReferenceDataRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested market data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPublicReferenceDataResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPublicReferenceDataRequest": {
        "type": "string",
        "description": "A request body representation for the operations related to market data public reference data management.",
        "example": "{}"
      },
      "GetPublicReferenceDataResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of market data items.",
            "example": [
              {
                "instrumentId": "STANDARD",
                "isin": "STANDARD",
                "marketIdentifierCode": "CODE-921",
                "asOf": "2026-08-11T12:00:00Z",
                "dataSource": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/MarketDataItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting information for the retrieved data.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for retrieving market data public reference data.",
        "example": {
          "items": [
            {
              "instrumentId": "STANDARD",
              "isin": "STANDARD",
              "marketIdentifierCode": "CODE-921",
              "asOf": "2026-08-11T12:00:00Z",
              "dataSource": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "8926b592-8ab5-5d56-a68c-e7a88aeb82c4",
            "correlationId": "b1ac865f-00c0-54ec-8181-1d10c4075d3e",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "MarketDataItem": {
        "type": "object",
        "properties": {
          "instrumentId": {
            "type": "string",
            "description": "Unique identifier for the instrument."
          },
          "isin": {
            "type": "string",
            "description": "International Securities Identification Number for the instrument."
          },
          "marketIdentifierCode": {
            "type": "string",
            "description": "Identifier for the market where the instrument is traded."
          },
          "asOf": {
            "type": "string",
            "description": "Date and time for which the data is relevant."
          },
          "dataSource": {
            "type": "string",
            "description": "The source from which the data was retrieved."
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the data record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the data was last updated."
          }
        },
        "description": "Schema representing an individual market data item."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Schema providing pagination details for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating related requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp for when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing was performed."
          }
        },
        "description": "Schema providing metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "public-reference-data-management-search-public-reference-data-management"
        },
        "example": "public-reference-data-management-search-public-reference-data-management"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication, where the client must include a valid JSON Web Token (JWT) in the Authorization header when making requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}