{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Account Live Balance Retrieval API",
    "description": "The Customer Account Live Balance Retrieval API provides real-time access to the available balance of specific customer accounts. By utilizing customer and account identifiers, businesses can securely retrieve current balance information for financial transparency. This API is ideal for financial institutions and service providers who need to offer customers up-to-date financial data. Key use cases include mobile banking apps, account management platforms, and customer service portals, ensuring users have the latest account information at their fingertips.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/{customerId}/accounts/{accountId}/availablebalance/live": {
      "get": {
        "tags": [
          "Account Management"
        ],
        "summary": "Retrieve live available balance for an account.",
        "description": "This endpoint allows you to fetch the current available balance for a specific account in real-time. You can use this to get up-to-date financial information for your customers.",
        "operationId": "getAvailableBalanceForAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          },
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the live available balance for a specific account belonging to a customer. Ensure that you provide the correct customer and account identifiers to obtain accurate balance information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAvailableBalanceForAccountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the current available balance.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAvailableBalanceForAccountResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetAvailableBalanceForAccountRequest": {
        "title": "Live Available Balance Request",
        "type": "string",
        "description": "This schema represents the request body for retrieving the available balance for a customer account in live operations.",
        "example": "{}"
      },
      "GetAvailableBalanceForAccountResponse_200": {
        "title": "AccountBalanceResponse",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier for the account balance response.",
            "format": "int32",
            "example": 1
          },
          "realAccountNumberLast4": {
            "type": "string",
            "description": "Last four digits of the real account number.",
            "example": "STANDARD"
          },
          "availableBalance": {
            "type": "number",
            "description": "The available balance in the account.",
            "example": 100.0
          },
          "availableBalanceDate": {
            "type": "integer",
            "description": "Timestamp representing the date when the available balance was calculated.",
            "format": "int32",
            "example": 1
          },
          "clearedBalance": {
            "type": "number",
            "description": "The cleared balance in the account.",
            "example": 100.0
          },
          "clearedBalanceDate": {
            "type": "integer",
            "description": "Timestamp representing the date when the cleared balance was calculated.",
            "format": "int32",
            "example": 1
          },
          "aggregationStatusCode": {
            "type": "integer",
            "description": "Status code representing the aggregation status of the account balance.",
            "format": "int32",
            "example": 1
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the account balances are represented.",
            "example": "USD"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "resp-1234"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier used to correlate requests and responses.",
                "example": "corr-5678"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp indicating when the response was generated.",
                "example": "2021-10-01T12:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the processing of this response took place.",
                "example": "us-east-1"
              }
            },
            "description": "Metadata information related to the account balance response.",
            "example": {
              "responseId": "874ffad4-cb6a-5d63-a6ff-99ba740cc462",
              "correlationId": "b76570f9-91f4-5a29-9d3a-a3cce750a91f",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Represents the response structure for retrieving the available balance of an account.",
        "example": {
          "id": 1,
          "realAccountNumberLast4": "STANDARD",
          "availableBalance": 100.0,
          "availableBalanceDate": 1,
          "clearedBalance": 100.0,
          "clearedBalanceDate": 1,
          "aggregationStatusCode": 1,
          "currency": "USD",
          "metadata": {
            "responseId": "874ffad4-cb6a-5d63-a6ff-99ba740cc462",
            "correlationId": "b76570f9-91f4-5a29-9d3a-a3cce750a91f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifier for the endpoint associated with this response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-available-balance-live"
        },
        "example": "open-finance-api-get-available-balance-live"
      },
      "X-Runtime-App": {
        "description": "The application that processed this request and generated the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a JSON Web Token (JWT) for authentication and authorization. The token must be included in the Authorization header of the HTTP request, prefixed with the word 'Bearer'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}