{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Manage Loan Products API",
    "description": "The Manage Loan Products API enables financial institutions to update existing loan product configurations seamlessly. This API allows for modifications to various loan parameters, ensuring that products remain competitive and aligned with market demands. Typical consumers include loan administrators and product managers who require the ability to adjust terms, interest rates, and eligibility criteria. By utilizing this API, organizations can maintain flexibility and responsiveness in their loan offerings.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-products/{param1}": {
      "put": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Update Loan Product Details",
        "description": "This endpoint allows the user to update the details of a specific loan product identified by its unique ID. Make sure to provide all necessary information in the request body to successfully update the product.",
        "operationId": "updateLoanProduct500045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the details of the loan product identified by LOAN-500045. It must include all necessary fields reflecting the current state of the loan product being modified.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLoanProduct500045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The loan product was successfully updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateLoanProduct500045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateLoanProduct500045Request": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "The unique code identifying the loan product.",
            "example": "SUCCESS"
          },
          "name": {
            "type": "string",
            "description": "The name of the loan product.",
            "example": "Northstar Banking Service"
          },
          "description": {
            "type": "string",
            "description": "A brief description of the loan product.",
            "example": "Customer banking request processed successfully"
          },
          "productType": {
            "type": "string",
            "description": "The type of loan product.",
            "example": "STANDARD"
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the loan is denominated.",
            "example": "USD"
          },
          "minPrincipal": {
            "description": "The minimum principal amount for the loan.",
            "$ref": "#/components/schemas/LoanPrincipal"
          },
          "maxPrincipal": {
            "description": "The maximum principal amount for the loan.",
            "$ref": "#/components/schemas/LoanPrincipal"
          },
          "minTermMonths": {
            "type": "integer",
            "description": "The minimum loan term in months.",
            "format": "int32",
            "example": 1
          },
          "maxTermMonths": {
            "type": "integer",
            "description": "The maximum loan term in months.",
            "format": "int32",
            "example": 1
          },
          "interestRateType": {
            "type": "string",
            "description": "The type of interest rate (e.g., fixed, variable).",
            "example": "STANDARD"
          },
          "annualInterestRatePercent": {
            "type": "string",
            "description": "The annual interest rate expressed as a percentage.",
            "example": "STANDARD"
          },
          "baseRateCode": {
            "type": "string",
            "description": "The code for the base interest rate used.",
            "example": "CODE-915"
          },
          "marginPercent": {
            "type": "string",
            "description": "The margin added to the base rate, expressed as a percentage.",
            "example": "STANDARD"
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "The frequency of loan repayments (e.g., monthly, biweekly).",
            "example": "STANDARD"
          },
          "secured": {
            "type": "boolean",
            "description": "Indicates whether the loan is secured by collateral.",
            "example": true
          },
          "maximumLoanToValuePercent": {
            "type": "string",
            "description": "The maximum loan-to-value ratio as a percentage.",
            "example": "STANDARD"
          },
          "eligibility": {
            "description": "Eligibility criteria for the loan.",
            "$ref": "#/components/schemas/LoanEligibility"
          },
          "requestContext": {
            "description": "Context for the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for updating loan product details.",
        "example": {
          "code": "SUCCESS",
          "name": "Northstar Banking Service",
          "description": "Customer banking request processed successfully",
          "productType": "STANDARD",
          "currency": "USD",
          "minPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "maxPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "minTermMonths": 1,
          "maxTermMonths": 1,
          "interestRateType": "STANDARD",
          "annualInterestRatePercent": "STANDARD",
          "baseRateCode": "CODE-915",
          "marginPercent": "STANDARD",
          "repaymentFrequency": "STANDARD",
          "secured": true,
          "maximumLoanToValuePercent": "STANDARD",
          "eligibility": {
            "minApplicantAge": 1,
            "maxApplicantAgeAtMaturity": 1
          },
          "requestContext": {
            "requestId": "585bb3b9-4c10-57c4-a1e4-7378b045b38d",
            "correlationId": "7102d0f8-3ab4-5324-ba5f-4331800a3bcc",
            "idempotencyKey": "b1946aaf-6a61-5a38-b42c-52e4a7391c15",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-444987"
            }
          }
        }
      },
      "LoanPrincipal": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency of the principal amount.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The amount of the principal.",
            "example": "5000"
          }
        },
        "description": "Represents the principal amount for a loan."
      },
      "LoanEligibility": {
        "type": "object",
        "properties": {
          "minApplicantAge": {
            "type": "integer",
            "description": "The minimum age of the applicant.",
            "format": "int32",
            "example": 18
          },
          "maxApplicantAgeAtMaturity": {
            "type": "integer",
            "description": "The maximum age of the applicant at the time of loan maturity.",
            "format": "int32",
            "example": 65
          },
          "minMonthlyIncome": {
            "description": "The minimum monthly income of the applicant.",
            "$ref": "#/components/schemas/LoanPrincipal"
          },
          "allowedEmploymentTypes": {
            "type": "array",
            "description": "The types of employment that are allowed for applicants.",
            "items": {
              "type": "string",
              "example": "Full-Time"
            }
          },
          "allowedResidencyCountries": {
            "type": "array",
            "description": "The countries where applicants are allowed to reside.",
            "items": {
              "type": "string",
              "example": "USA"
            }
          },
          "minCreditScore": {
            "type": "integer",
            "description": "The minimum credit score required for applicants.",
            "format": "int32",
            "example": 700
          }
        },
        "description": "Defines the eligibility criteria for loan applicants."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier for tracking related requests.",
            "example": "corr-123456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure idempotent requests.",
            "example": "idemp-123456"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "CRM System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "Loan Management App"
          },
          "channel": {
            "description": "Details about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information about the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel-1"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., online, in-person).",
            "example": "Online"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used for the request.",
            "example": "device-1234"
          }
        },
        "description": "Details about the channel used for the loan product request."
      },
      "UpdateLoanProduct500045Response_200": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "The unique code representing the loan product.",
            "example": "SUCCESS"
          },
          "name": {
            "type": "string",
            "description": "The name of the loan product.",
            "example": "Northstar Banking Service"
          },
          "description": {
            "type": "string",
            "description": "A detailed description of the loan product.",
            "example": "Customer banking request processed successfully"
          },
          "productType": {
            "type": "string",
            "description": "The type of the loan product, e.g. personal, auto, mortgage.",
            "example": "STANDARD"
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the loan product is denominated.",
            "example": "USD"
          },
          "minPrincipal": {
            "description": "The minimum principal amount for the loan.",
            "$ref": "#/components/schemas/LoanPrincipal"
          },
          "maxPrincipal": {
            "description": "The maximum principal amount for the loan.",
            "$ref": "#/components/schemas/LoanPrincipal"
          },
          "minTermMonths": {
            "type": "integer",
            "description": "The minimum term of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "maxTermMonths": {
            "type": "integer",
            "description": "The maximum term of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "interestRateType": {
            "type": "string",
            "description": "The type of interest rate, e.g. fixed, variable.",
            "example": "STANDARD"
          },
          "annualInterestRatePercent": {
            "type": "string",
            "description": "The annual interest rate as a percentage.",
            "example": "STANDARD"
          },
          "baseRateCode": {
            "type": "string",
            "description": "The code of the base interest rate used for calculations.",
            "example": "CODE-806"
          },
          "marginPercent": {
            "type": "string",
            "description": "The margin added to the base rate.",
            "example": "STANDARD"
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "The frequency of repayments for the loan, e.g. monthly, biweekly.",
            "example": "STANDARD"
          },
          "secured": {
            "type": "boolean",
            "description": "Indicates if the loan product is secured by collateral.",
            "example": true
          },
          "maximumLoanToValuePercent": {
            "type": "string",
            "description": "The maximum loan-to-value ratio for the loan.",
            "example": "STANDARD"
          },
          "eligibility": {
            "description": "The eligibility criteria for applying for the loan.",
            "$ref": "#/components/schemas/LoanEligibility"
          },
          "fees": {
            "type": "array",
            "description": "A list of fees associated with the loan product.",
            "example": [
              {
                "code": "SUCCESS",
                "name": "Northstar Banking Service",
                "calculationMethod": "STANDARD",
                "amount": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "percent": "STANDARD",
                "capitalized": true
              }
            ],
            "items": {
              "$ref": "#/components/schemas/LoanFee"
            }
          },
          "status": {
            "type": "string",
            "description": "The current status of the loan product.",
            "example": "ACTIVE"
          },
          "id": {
            "type": "string",
            "description": "The unique identifier for the loan product.",
            "example": "cc22492a-1b2d-b44e-9080-4f974ecafefd"
          },
          "audit": {
            "description": "Information about the audit history of the loan product.",
            "$ref": "#/components/schemas/AuditInfo"
          },
          "metadata": {
            "description": "Metadata related to the loan product response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "example": {
          "code": "SUCCESS",
          "name": "Northstar Banking Service",
          "description": "Customer banking request processed successfully",
          "productType": "STANDARD",
          "currency": "USD",
          "minPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "maxPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "minTermMonths": 1,
          "maxTermMonths": 1,
          "interestRateType": "STANDARD",
          "annualInterestRatePercent": "STANDARD",
          "baseRateCode": "CODE-806",
          "marginPercent": "STANDARD",
          "repaymentFrequency": "STANDARD",
          "secured": true,
          "maximumLoanToValuePercent": "STANDARD",
          "eligibility": {
            "minApplicantAge": 1,
            "maxApplicantAgeAtMaturity": 1,
            "minMonthlyIncome": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "allowedEmploymentTypes": [
              "STANDARD"
            ],
            "allowedResidencyCountries": [
              "STANDARD"
            ],
            "minCreditScore": 1
          },
          "fees": [
            {
              "code": "SUCCESS",
              "name": "Northstar Banking Service",
              "calculationMethod": "STANDARD",
              "amount": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "percent": "STANDARD",
              "capitalized": true
            }
          ],
          "status": "ACTIVE",
          "id": "cc22492a-1b2d-b44e-9080-4f974ecafefd",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "responseId": "ca3d7cf0-806b-566b-aead-8a45af1825c3",
            "correlationId": "7102d0f8-3ab4-5324-ba5f-4331800a3bcc",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "LoanFee": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "The unique code for the fee.",
            "example": "FEE-001"
          },
          "name": {
            "type": "string",
            "description": "The name of the fee.",
            "example": "Processing Fee"
          },
          "calculationMethod": {
            "type": "string",
            "description": "How the fee is calculated.",
            "example": "Percentage of Loan Amount"
          },
          "amount": {
            "description": "The amount of the fee.",
            "$ref": "#/components/schemas/LoanPrincipal"
          },
          "percent": {
            "type": "string",
            "description": "The percentage rate if applicable.",
            "example": "5"
          },
          "capitalized": {
            "type": "boolean",
            "description": "Indicates if the fee can be capitalized.",
            "example": true
          }
        },
        "description": "Represents a fee associated with a loan product."
      },
      "AuditInfo": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "The date and time when the loan product was created.",
            "example": "2023-10-01T12:34:56Z"
          }
        },
        "description": "Information about the creation and modification of the loan product."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation ID for tracking related requests.",
            "example": "correlation-67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-01T12:34:56Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the request was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Additional metadata information about the loan product response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request, used for tracing and monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-replace-loan-product"
        },
        "example": "banking-loans-openapi-replace-loan-product"
      },
      "X-Runtime-App": {
        "description": "The name of the application runtime that executed the operation, useful for debugging and performance tracking.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication method utilizing JSON Web Tokens (JWT). Clients must include a valid JWT in the Authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}