{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Servicing Loan Syndication-spec",
    "description": "The Loan Syndication Servicing API enables financial institutions to effectively manage and service loan syndication agreements. Through this endpoint, users can initiate new loan syndication requests, streamlining the collaboration process among multiple lenders. Typical consumers include banks and lending institutions looking to manage complex loan arrangements efficiently. This API supports dynamic interactions that enhance the servicing experience, ensuring transparency and communication among all parties involved.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/servicing/loan-syndication": {
      "post": {
        "tags": [
          "Loan Syndication"
        ],
        "summary": "Create a new loan syndication",
        "description": "This endpoint allows users to create a new loan syndication by providing necessary details such as the loan amount, terms, and participant information. Make sure to include all required information to successfully process the syndication request.",
        "operationId": "createServicingLoanSyndication",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a loan syndication operation. It should contain all the necessary information required for processing the loan syndication request, including details about the loan, participating lenders, and syndication terms.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateServicingLoanSyndicationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateServicingLoanSyndicationResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateServicingLoanSyndicationRequest": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The identifier for the customer making the request.",
            "example": "CUST-304715"
          },
          "caseId": {
            "type": "string",
            "description": "The identifier for the case associated with the loan syndication.",
            "example": "CASE-475344"
          },
          "requestCategory": {
            "type": "string",
            "description": "The category of the request, specifying its nature.",
            "example": "STANDARD"
          },
          "priority": {
            "type": "string",
            "description": "The priority level of the request, which may affect processing order.",
            "example": "NORMAL"
          },
          "originatingChannel": {
            "type": "string",
            "description": "The channel through which the request originated.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "example": {
          "customerId": "CUST-304715",
          "caseId": "CASE-475344",
          "requestCategory": "STANDARD",
          "priority": "NORMAL",
          "originatingChannel": "STANDARD",
          "requestContext": {
            "requestId": "cc93d823-57ba-5003-b744-fc06c0f912a9",
            "correlationId": "fcd754ae-9f59-5921-a9ec-64cf1ae043bb",
            "idempotencyKey": "4573a31a-1889-59b6-8d39-9e7120bfaa10",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-872646"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-abc-123"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier that correlates related requests across systems.",
            "example": "corr-456-def"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure that the request is idempotent.",
            "example": "idempotency-key-789"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "Client Portal"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application through which the request was submitted.",
            "example": "Web Application"
          },
          "channel": {
            "description": "Details about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        }
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the communication channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of communication channel (e.g., web, mobile, etc.).",
            "example": "Mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used to make the request.",
            "example": "device-12345"
          }
        }
      },
      "CreateServicingLoanSyndicationResponse_201": {
        "title": "Loan Syndication Operation Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-125284"
          },
          "caseId": {
            "type": "string",
            "description": "The unique identifier for the case associated with the operation.",
            "example": "CASE-827569"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource created or modified.",
            "example": "RES-335833"
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata about the operation response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for a loan syndication operation.",
        "example": {
          "customerId": "CUST-125284",
          "caseId": "CASE-827569",
          "resourceId": "RES-335833",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "3defc702-d31d-5e30-8643-e9d1475fd0b3",
            "correlationId": "fcd754ae-9f59-5921-a9ec-64cf1ae043bb",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Operation Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response-xyz"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to correlate multiple requests and responses.",
            "example": "correlation-123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-01-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Information about the region where the processing took place.",
            "example": "us-west-1"
          }
        },
        "description": "Schema representing the metadata associated with the loan syndication operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "loan-syndication-create-loan-syndication"
        },
        "example": "loan-syndication-create-loan-syndication"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication method. A token, usually a JSON Web Token (JWT), must be included in the Authorization header as 'Bearer {token}'. Ensure that the token is valid and properly formatted.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}