{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Contact Center Operation Status-spec",
    "description": "The Contact Center Operation Status API provides real-time visibility into the operational status of various contact center activities. This endpoint allows users to retrieve detailed status information for specific operations within the banking channel. It is designed for use by customer service managers and operational analysts who need to monitor performance and ensure efficient service delivery in contact centers. By leveraging this API, organizations can proactively address issues and enhance customer experience by staying informed about operational capabilities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/contact-center-operations/status": {
      "get": {
        "tags": [
          "Contact Center Operations"
        ],
        "summary": "Retrieve the current status of contact center operations.",
        "description": "This endpoint allows you to fetch the latest status of contact center operations in a specific channel. It provides insight into the operational state and any potential issues that may be affecting service delivery.",
        "operationId": "listContactCenterOperationStatus",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the status of channel-specific contact center operations. It provides the necessary parameters for fetching the relevant status information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListContactCenterOperationStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the current status of the contact center operations.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListContactCenterOperationStatusResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListContactCenterOperationStatusRequest": {
        "type": "string",
        "description": "This schema represents the request body for the operations status in the context of a contact center operation.",
        "example": "{}"
      },
      "ListContactCenterOperationStatusResponse_200": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "MOBILE-US"
          },
          "regionCode": {
            "type": "string",
            "description": "The code representing the region of the contact center.",
            "example": "US-EAST-1"
          },
          "serviceWindow": {
            "description": "The service window of the contact center indicating operational hours.",
            "$ref": "#/components/schemas/ServiceWindow"
          },
          "dailyCapacity": {
            "type": "integer",
            "description": "The total number of requests that can be handled in a day.",
            "format": "int32",
            "example": 1
          },
          "queueId": {
            "type": "string",
            "description": "The unique identifier for the queue associated with the contact center.",
            "example": "STANDARD"
          },
          "skillGroup": {
            "type": "string",
            "description": "The skill group associated with the contact center operations.",
            "example": "STANDARD"
          },
          "targetAnswerSeconds": {
            "type": "integer",
            "description": "The target time in seconds for answering incoming calls.",
            "format": "int32",
            "example": 1
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record indicating whether it's active or inactive.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the contact center operations record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response, including identifiers and timestamps.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Represents the status response for contact center operations specific to a channel.",
        "example": {
          "channelId": "MOBILE-US",
          "regionCode": "US-EAST-1",
          "serviceWindow": {
            "opensAt": "STANDARD",
            "closesAt": "STANDARD"
          },
          "dailyCapacity": 1,
          "queueId": "STANDARD",
          "skillGroup": "STANDARD",
          "targetAnswerSeconds": 1,
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "d693df1b-c77d-514f-908b-049aca41f8e3",
            "correlationId": "f957561b-0f0d-5a80-ab3d-1cc08409923d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ServiceWindow": {
        "type": "object",
        "properties": {
          "opensAt": {
            "type": "string",
            "description": "The time at which the contact center opens.",
            "example": "09:00"
          },
          "closesAt": {
            "type": "string",
            "description": "The time at which the contact center closes.",
            "example": "17:00"
          }
        },
        "description": "Defines the operational hours of the contact center."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation ID for tracking the request across services.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp at which the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the response was processed.",
            "example": "US-East"
          }
        },
        "description": "Contains metadata information related to the operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "description": "A unique identifier for the endpoint that was called.",
          "example": "contact-center-operations-get-contact-center-operations"
        },
        "example": "contact-center-operations-get-contact-center-operations"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "description": "Identifies the specific application runtime environment serving the response.",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using HTTP Bearer tokens, specifically in the JSON Web Token (JWT) format.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}