{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Channel Specific By Param1-spec",
    "description": "The Channel Network Management API allows users to manage and update specific channel configurations based on provided parameters. This API facilitates the modification of branch network settings to enhance operational efficiency and align service delivery with business objectives. Typical consumers include banking applications and network administrators who require precise control over channel-specific operations. By utilizing this API, organizations can ensure their network channels are properly configured to meet customer needs and regulatory standards.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/branch-network-management/{param1}": {
      "patch": {
        "tags": [
          "Branch Network Management"
        ],
        "summary": "Update Branch Network Configuration",
        "description": "This operation allows you to update the specific network configurations for the branch identified by RES-100045. Ensure to provide the necessary fields for modification in the request body.",
        "operationId": "updateChannelSpecificByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the properties of the branch network management resource identified by RES-100045. It requires a JSON object containing the fields that need to be modified, following the schema definitions specified.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateChannelSpecificByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully with the updated resource.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateChannelSpecificByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateChannelSpecificByParam1Request": {
        "title": "Patch Request Body for Channel-Specific Branch Network Management",
        "type": "object",
        "properties": {
          "changes": {
            "description": "An object containing the changes to be applied.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The time at which the changes should be effective.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user making the request.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "An object containing context information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for patching operations related to channel-specific branch network management.",
        "example": {
          "changes": {
            "channelId": "MOBILE-US",
            "regionCode": "US-EAST-1",
            "serviceWindow": {
              "opensAt": "STANDARD",
              "closesAt": "STANDARD"
            }
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "b2768914-ffd8-5678-bb70-658ee13e814c",
            "correlationId": "511c6b23-477c-5d16-ae13-28bdc4d34ba2",
            "idempotencyKey": "44c4b9b6-3229-524f-af81-a54d0d9370ad",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-872892"
            }
          }
        }
      },
      "Changes": {
        "title": "Changes Object",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "string"
          },
          "regionCode": {
            "type": "string",
            "description": "The code representing the region of the channel.",
            "example": "string"
          },
          "serviceWindow": {
            "description": "The service window for the channel.",
            "$ref": "#/components/schemas/ServiceWindow"
          }
        },
        "description": "This schema represents the specific changes to be applied in the patch operation."
      },
      "ServiceWindow": {
        "title": "Service Window Object",
        "type": "object",
        "properties": {
          "opensAt": {
            "type": "string",
            "description": "The time at which the service opens.",
            "example": "string"
          },
          "closesAt": {
            "type": "string",
            "description": "The time at which the service closes.",
            "example": "string"
          }
        },
        "description": "This schema represents the operational hours for a service."
      },
      "RequestContext": {
        "title": "Request Context Object",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation ID for tracking requests across systems.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "The idempotency key used to prevent duplicate changes.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originates.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originates.",
            "example": "string"
          },
          "channel": {
            "description": "An object containing details about the channel.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema contains context information for the request."
      },
      "Channel": {
        "title": "Channel Object",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., retail, online, etc.).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier for the device associated with the channel.",
            "example": "string"
          }
        },
        "description": "This schema contains details about a specific channel."
      },
      "UpdateChannelSpecificByParam1Response_200": {
        "title": "Operations Patch Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the resource was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the Operations PATCH request in the branch network management API, version 100045.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "aaff2915-869e-58f3-83cb-d72f6a110660",
            "correlationId": "511c6b23-477c-5d16-ae13-28bdc4d34ba2",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Metadata information for the response, including identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed in this operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "branch-network-management-update-branch-network-management"
        },
        "example": "branch-network-management-update-branch-network-management"
      },
      "X-Runtime-App": {
        "description": "Indicates the version of the runtime application handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a Bearer token in the HTTP Authorization header. This method supports JSON Web Tokens (JWT) for securely transmitting information between parties.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}