{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Payment By Param1-spec",
    "description": "The Retrieve Payment Instruction API allows users to access detailed payment instruction information based on a specified parameter. This endpoint facilitates the retrieval of payment data, serving the needs of applications that require real-time financial transactions. Typical consumers include financial institutions, accounting software, and payment processing systems seeking to integrate detailed payment instructions into their workflows. This API enhances operational efficiency by providing an easy means to query payment-related information using unique identifiers.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/payments/payment-instruction/{param1}": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Retrieve Payment Instruction Details",
        "description": "This endpoint allows you to retrieve the details of a specific payment instruction identified by its unique ID. You can use this information to view or verify the payment instruction status and associated data.",
        "operationId": "getPaymentByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "A request body to fetch the payment instruction details for the specified payment ID. The request must include the relevant information to retrieve specific payment instruction data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPaymentByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was completed successfully and the payment instruction is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPaymentByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPaymentByParam1Request": {
        "title": "Payment Instruction Request Body",
        "type": "string",
        "description": "This schema represents the request body for retrieving payment instructions.",
        "example": "{}"
      },
      "GetPaymentByParam1Response_200": {
        "title": "Payment Instruction Response",
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment.",
            "example": "PAY-399926"
          },
          "debtorAccountId": {
            "type": "string",
            "description": "Identifier for the debtor's account.",
            "example": "ACC-456117"
          },
          "creditorAccountId": {
            "type": "string",
            "description": "Identifier for the creditor's account.",
            "example": "ACC-400308"
          },
          "instructedAmount": {
            "description": "Details of the amount that has been instructed for the payment.",
            "$ref": "#/components/schemas/InstructedAmount"
          },
          "requestedExecutionDate": {
            "type": "string",
            "description": "The date on which the payment is requested to be executed.",
            "example": "2026-09-15"
          },
          "remittanceInformation": {
            "type": "string",
            "description": "Information provided to the creditor regarding the payment.",
            "example": "STANDARD"
          },
          "paymentRail": {
            "type": "string",
            "description": "The payment rail used for processing the payment.",
            "example": "STANDARD"
          },
          "chargeBearer": {
            "type": "string",
            "description": "Indicates who bears the charges associated with the payment.",
            "example": "STANDARD"
          },
          "purposeCode": {
            "type": "string",
            "description": "Code that describes the purpose of the payment.",
            "example": "CODE-819"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the payment record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version of the payment instruction.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the payment instruction was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the payment instruction.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for a payment instruction retrieval operation.",
        "example": {
          "paymentId": "PAY-399926",
          "debtorAccountId": "ACC-456117",
          "creditorAccountId": "ACC-400308",
          "instructedAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "requestedExecutionDate": "2026-09-15",
          "remittanceInformation": "STANDARD",
          "paymentRail": "STANDARD",
          "chargeBearer": "STANDARD",
          "purposeCode": "CODE-819",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "cbd13c51-93b3-5965-87bc-d150b43d8a72",
            "correlationId": "a7f983c0-07cd-5df8-822c-ff973c538688",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "InstructedAmount": {
        "title": "Instructed Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The numeric amount of money instructed for the payment.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency code for the instructed amount.",
            "example": "USD"
          }
        },
        "description": "Represents the instructed amount for the payment including its currency."
      },
      "Metadata": {
        "title": "Payment Instruction Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking related requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the payment processing occurred.",
            "example": "string"
          }
        },
        "description": "Contains metadata related to the payment instruction."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-instruction-get-payment-instruction"
        },
        "example": "payment-instruction-get-payment-instruction"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme utilizing a Bearer token, which is formatted as a JSON Web Token (JWT). Clients must include this token in the Authorization header of their requests to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}