{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Update Loan Details API",
    "description": "The Update Loan Details API allows financial institutions to modify existing loan information based on the provided loan ID. This endpoint facilitates the adjustment of key loan attributes, ensuring that customer records are always up to date. Typical consumers of this API are loan management systems and customer relationship management platforms looking to streamline their operations. By providing an intuitive interface for loan updates, organizations can enhance customer service and improve operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loans/{loanId}": {
      "put": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Update Loan Details",
        "description": "This endpoint allows the user to update the details of a specified loan by its ID. It accepts various fields that may need to be modified and ensures the changes are persisted in the system.",
        "operationId": "updateLoanById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/loanId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the details of the loan identified by LOAN-500045. It should contain the necessary fields to perform the update operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLoanByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateLoanByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateLoanByIdRequest": {
        "title": "Loan Update Request Body",
        "type": "object",
        "properties": {
          "repaymentAccountNumber": {
            "type": "string",
            "description": "The account number to which loan repayments should be made.",
            "example": "STANDARD"
          },
          "servicingBranchCode": {
            "type": "string",
            "description": "The code of the branch servicing the loan.",
            "example": "CODE-618"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "Identifier for the relationship manager handling this loan.",
            "example": "STANDARD"
          },
          "preferredRepaymentDay": {
            "type": "integer",
            "description": "The preferred day of the month for loan repayments.",
            "format": "int32",
            "example": 1
          },
          "collectionStrategy": {
            "type": "string",
            "description": "The strategy used for collecting the loan repayments.",
            "example": "STANDARD"
          },
          "servicingNotes": {
            "type": "string",
            "description": "Any additional notes related to servicing the loan.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for updating loan details through PUT request.",
        "example": {
          "repaymentAccountNumber": "STANDARD",
          "servicingBranchCode": "CODE-618",
          "relationshipManagerId": "STANDARD",
          "preferredRepaymentDay": 1,
          "collectionStrategy": "STANDARD",
          "servicingNotes": "STANDARD",
          "requestContext": {
            "requestId": "ad1d1ecd-10d6-5b15-b96d-6423435b1388",
            "correlationId": "60bdc1e9-04a7-5797-bd39-7334f02ed3a3",
            "idempotencyKey": "704333b5-cd40-5559-9e0e-46ab8c860ef4",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-479867"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-001"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to track related requests.",
            "example": "corr-001"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key ensuring that the request can be safely retried.",
            "example": "idempotent-key-001"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originates.",
            "example": "CoreBanking"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "LoanManagementApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/RequestChannel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "RequestChannel": {
        "title": "Request Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel used.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., Mobile, Web).",
            "example": "Mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used for the request.",
            "example": "device-001"
          }
        },
        "description": "Schema representing the channel through which the request is made."
      },
      "UpdateLoanByIdResponse_200": {
        "title": "Loan Operations Response",
        "type": "object",
        "properties": {
          "sourceApplicationId": {
            "type": "string",
            "description": "Identifier of the source application that initiated the loan request.",
            "example": "APP-919458"
          },
          "productId": {
            "type": "string",
            "description": "Identifier of the loan product.",
            "example": "PROD-128109"
          },
          "primaryCustomerId": {
            "type": "string",
            "description": "Identifier of the primary customer associated with the loan.",
            "example": "CUST-400388"
          },
          "borrowerCustomerIds": {
            "type": "array",
            "description": "List of identifiers for borrower customers associated with the loan.",
            "example": [
              "CUST-374120"
            ],
            "items": {
              "type": "string",
              "description": "Identifier for an individual borrower customer.",
              "example": "string"
            }
          },
          "principal": {
            "description": "The principal amount of the loan including currency details.",
            "$ref": "#/components/schemas/LoanPrincipal"
          },
          "termMonths": {
            "type": "integer",
            "description": "The term of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "annualInterestRatePercent": {
            "type": "string",
            "description": "The annual interest rate applied to the loan expressed as a percentage.",
            "example": "STANDARD"
          },
          "interestRateType": {
            "type": "string",
            "description": "Type of interest rate applicable to the loan.",
            "example": "STANDARD"
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "Frequency of loan repayments.",
            "example": "STANDARD"
          },
          "bookingDate": {
            "type": "string",
            "description": "The date when the loan was booked.",
            "example": "2026-09-15"
          },
          "firstPaymentDate": {
            "type": "string",
            "description": "The date of the first payment due for the loan.",
            "example": "2026-09-15"
          },
          "maturityDate": {
            "type": "string",
            "description": "The date when the loan matures.",
            "example": "2026-09-15"
          },
          "repaymentAccountNumber": {
            "type": "string",
            "description": "Account number from which loan repayments will be made.",
            "example": "STANDARD"
          },
          "servicingBranchCode": {
            "type": "string",
            "description": "Code of the branch servicing the loan.",
            "example": "CODE-514"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "Identifier for the relationship manager handling the loan.",
            "example": "STANDARD"
          },
          "purpose": {
            "type": "string",
            "description": "Purpose for which the loan was taken.",
            "example": "STANDARD"
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the loan.",
            "example": "3e5ffc7e-1948-032f-2e71-0b29ddf8eefd"
          },
          "accountNumber": {
            "type": "string",
            "description": "Account number associated with the loan.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the loan.",
            "example": "ACTIVE"
          },
          "balance": {
            "description": "Details of the loan balance including various outstanding amounts.",
            "$ref": "#/components/schemas/LoanBalance"
          },
          "totalDisbursed": {
            "description": "Total amount that has been disbursed under the loan.",
            "$ref": "#/components/schemas/LoanFinancials"
          },
          "totalRepaid": {
            "description": "Total amount that has been repaid under the loan.",
            "$ref": "#/components/schemas/LoanFinancials"
          },
          "metadata": {
            "description": "Metadata related to the loan operation response.",
            "$ref": "#/components/schemas/LoanMetadata"
          }
        },
        "description": "Response schema for loan operations including various loan details and metadata.",
        "example": {
          "sourceApplicationId": "APP-919458",
          "productId": "PROD-128109",
          "primaryCustomerId": "CUST-400388",
          "borrowerCustomerIds": [
            "CUST-374120"
          ],
          "principal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "termMonths": 1,
          "annualInterestRatePercent": "STANDARD",
          "interestRateType": "STANDARD",
          "repaymentFrequency": "STANDARD",
          "bookingDate": "2026-09-15",
          "firstPaymentDate": "2026-09-15",
          "maturityDate": "2026-09-15",
          "repaymentAccountNumber": "STANDARD",
          "servicingBranchCode": "CODE-514",
          "relationshipManagerId": "STANDARD",
          "purpose": "STANDARD",
          "id": "3e5ffc7e-1948-032f-2e71-0b29ddf8eefd",
          "accountNumber": "STANDARD",
          "status": "ACTIVE",
          "balance": {
            "principalOutstanding": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "accruedInterest": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "feesOutstanding": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "penaltiesOutstanding": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "totalOutstanding": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "availableToDraw": {
              "currency": "USD",
              "amount": "1250.75"
            }
          },
          "totalDisbursed": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "totalRepaid": {
            "currency": "USD"
          },
          "metadata": {
            "responseId": "3ea904ad-20a3-595d-a4a4-fa8da5fb56f6",
            "correlationId": "60bdc1e9-04a7-5797-bd39-7334f02ed3a3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "LoanPrincipal": {
        "title": "Loan Principal",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency code of the principal amount.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The principal amount of the loan.",
            "example": "10000"
          }
        },
        "description": "Details regarding the principal amount of the loan."
      },
      "LoanBalance": {
        "title": "Loan Balance",
        "type": "object",
        "properties": {
          "principalOutstanding": {
            "description": "Outstanding principal amount of the loan.",
            "$ref": "#/components/schemas/LoanFinancials"
          },
          "accruedInterest": {
            "description": "Accrued interest amount for the loan.",
            "$ref": "#/components/schemas/LoanFinancials"
          },
          "feesOutstanding": {
            "description": "Outstanding fees associated with the loan.",
            "$ref": "#/components/schemas/LoanFinancials"
          },
          "penaltiesOutstanding": {
            "description": "Outstanding penalties related to the loan.",
            "$ref": "#/components/schemas/LoanFinancials"
          },
          "totalOutstanding": {
            "description": "Total outstanding amount on the loan.",
            "$ref": "#/components/schemas/LoanFinancials"
          },
          "availableToDraw": {
            "description": "Amount available to draw against the loan.",
            "$ref": "#/components/schemas/LoanFinancials"
          }
        },
        "description": "Details regarding the loan balance including outstanding amounts."
      },
      "LoanFinancials": {
        "title": "Loan Financials",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency code for the financial amount.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The monetary amount.",
            "example": "10000"
          }
        },
        "description": "Financial details related to amounts in the loan such as currency and amount."
      },
      "LoanMetadata": {
        "title": "Loan Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response of the operation.",
            "example": "response-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracing the request.",
            "example": "correlation-54321"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the loan took place.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata associated with the loan operation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "loanId": {
        "name": "loanId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being called. This value helps in tracking and logging requests to specific API endpoints.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-replace-loan"
        },
        "example": "banking-loans-openapi-replace-loan"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request. This header can be useful for distinguishing requests from different applications.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication to authorize access to the API. A valid JWT (JSON Web Token) must be included in the Authorization header of the request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}