{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Corporate Action Retrieval API",
    "description": "The Corporate Action Retrieval API provides users with access to detailed information regarding corporate actions related to financial securities. It facilitates the retrieval of specific corporate action data using unique identifiers, ensuring that asset managers and financial analysts can efficiently access pertinent information. This API is designed for financial institutions and investment firms looking to enhance their data analysis capabilities or integrate corporate action details into their financial systems. Use cases include updating trading platforms, monitoring changes in corporate governance, or assessing impacts on investment portfolios.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-operations/corporate-action/{param1}": {
      "get": {
        "tags": [
          "Corporate Actions"
        ],
        "summary": "Retrieve Corporate Action Details",
        "description": "This endpoint allows users to fetch detailed information about a specific corporate action using its unique identifier. It provides insight into the corporate event, including relevant dates and terms associated with it.",
        "operationId": "getCorporateActionById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve specific corporate action information related to the RES-100045 identifier. It is essential for ensuring the correct data is fetched in response to market operations queries.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCorporateActionByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the corporate action details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCorporateActionByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCorporateActionByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the corporate action operations GET request in the market operations API.",
        "example": "{}"
      },
      "GetCorporateActionByIdResponse_200": {
        "title": "Corporate Action Operation Response",
        "type": "object",
        "properties": {
          "tradeId": {
            "type": "string",
            "description": "A unique identifier for the trade",
            "example": "STANDARD"
          },
          "instrumentId": {
            "type": "string",
            "description": "The identifier for the financial instrument involved in the corporate action",
            "example": "STANDARD"
          },
          "settlementDate": {
            "type": "string",
            "description": "The date on which the trade will be settled",
            "example": "2026-09-15"
          },
          "quantity": {
            "type": "integer",
            "description": "The number of instruments involved in the corporate action",
            "format": "int32",
            "example": 1
          },
          "settlementCurrency": {
            "type": "string",
            "description": "The currency in which the settlement will occur",
            "example": "USD"
          },
          "custodianId": {
            "type": "string",
            "description": "The identifier for the custodian handling the trade",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record (e.g., active, inactive)",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the corporate action record",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of the last update made to the record",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "A unique identifier for the response",
                "example": "RESPONSE-7890"
              },
              "correlationId": {
                "type": "string",
                "description": "An identifier used to correlate multiple related requests and responses",
                "example": "CORRELATION-5678"
              },
              "generatedAt": {
                "type": "string",
                "description": "The timestamp when the response was generated",
                "example": "2023-10-01T12:01:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region where the processing occurred",
                "example": "US-East"
              }
            },
            "description": "Additional metadata related to the response",
            "example": {
              "responseId": "b71e633e-e013-5a5d-9e5d-fafed5cbccdc",
              "correlationId": "c73fd07c-09a9-594a-9490-7f0af66ed44c",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "This schema represents the response object for the corporate action operations API.",
        "example": {
          "tradeId": "STANDARD",
          "instrumentId": "STANDARD",
          "settlementDate": "2026-09-15",
          "quantity": 1,
          "settlementCurrency": "USD",
          "custodianId": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "b71e633e-e013-5a5d-9e5d-fafed5cbccdc",
            "correlationId": "c73fd07c-09a9-594a-9490-7f0af66ed44c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint being accessed. This value is useful for tracking and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "corporate-action-get-corporate-action"
        },
        "example": "corporate-action-get-corporate-action"
      },
      "X-Runtime-App": {
        "description": "Indicates the application or service that processed the request. Helps in identifying the source of the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, specifically designed for JSON Web Tokens (JWT). Clients should include the JWT in the Authorization header as a Bearer token to authenticate with the API.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}