{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Product Management Discount Pricings-spec",
    "description": "The Product Management Discount Pricing API allows users to access and retrieve a comprehensive list of discount pricing information for various products. This endpoint serves as a vital resource for financial institutions and product managers to analyze and implement competitive pricing strategies. It facilitates decision-making regarding pricing adjustments and promotional offerings by providing detailed data related to discount pricing schemes. Typical consumers include banking application developers and product management teams seeking to optimize their product pricing structures.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/product-management/discount-pricing": {
      "get": {
        "tags": [
          "Product Management"
        ],
        "summary": "Retrieve discount pricing information for products.",
        "description": "This endpoint allows users to access the current discount pricing available for various products in the system. It provides detailed information on discounts that can be applied, enabling informed pricing strategies.",
        "operationId": "listProductManagementDiscountPricings",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving discount pricing details related to product management. Ensure the structure matches the expected schema to obtain accurate response data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListProductManagementDiscountPricingsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the discount pricing information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListProductManagementDiscountPricingsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListProductManagementDiscountPricingsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the discount pricing operation in the product management system. The request body is expected to be a string.",
        "example": "{}"
      },
      "ListProductManagementDiscountPricingsResponse_200": {
        "title": "Discount Pricing Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of products with their pricing details.",
            "example": [
              {
                "productCode": "CHK-PREMIUM-US",
                "productName": "Northstar Banking Service",
                "customerSegment": "STANDARD",
                "baseCurrency": "USD",
                "effectiveDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ProductDetails"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationInfo"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria used in the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the discount pricing operations, containing a list of items, pagination information, and metadata.",
        "example": {
          "items": [
            {
              "productCode": "CHK-PREMIUM-US",
              "productName": "Northstar Banking Service",
              "customerSegment": "STANDARD",
              "baseCurrency": "USD",
              "effectiveDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "99ca2547-5438-510e-8a85-1b4e4774f758",
            "correlationId": "4889cc09-5f21-51c5-af3c-d083c3baf51f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ProductDetails": {
        "title": "Product Details",
        "type": "object",
        "properties": {
          "productCode": {
            "type": "string",
            "description": "Unique code of the product."
          },
          "productName": {
            "type": "string",
            "description": "Name of the product."
          },
          "customerSegment": {
            "type": "string",
            "description": "The customer segment for which the pricing is applicable."
          },
          "baseCurrency": {
            "type": "string",
            "description": "The currency in which the base price is defined."
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date from which the pricing is effective."
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the product record (e.g. active, inactive)."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the product details were last updated."
          }
        },
        "description": "Details of a product including its code, name, customer segment, and pricing information."
      },
      "PaginationInfo": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the results.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32"
          }
        },
        "description": "Information related to pagination for the response data."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracking the request across services."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request occurred."
          }
        },
        "description": "Metadata information related to the response including response and correlation identifiers."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the API endpoint being accessed. This value helps in tracking and logging the specific operation performed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "discount-pricing-search-discount-pricing"
        },
        "example": "discount-pricing-search-discount-pricing"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is making the request. This header can be used for analytics and monitoring purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Token for authentication. The token should be a JSON Web Token (JWT) that provides the necessary credentials to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}