{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Operational Service Issued Device Trackings-spec",
    "description": "The Issued Device Tracking API enables users to retrieve a comprehensive list of operational service device trackings. This API serves as a critical resource for monitoring devices issued within the banking sector, providing insights into their status and operational parameters. Typical consumers include system administrators and compliance officers who require visibility into issued devices for regulatory compliance and operational efficiency. The API facilitates data-driven decision-making by aggregating device tracking information for further analysis and reporting.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/issued-device-tracking": {
      "get": {
        "tags": [
          "Device Management"
        ],
        "summary": "Retrieve issued device tracking information.",
        "description": "Fetch detailed information about the tracking of devices that have been issued within the operational services. This endpoint allows users to monitor the status and location of such devices, facilitating better management and accountability.",
        "operationId": "listOperationalServiceIssuedDeviceTrackings",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving tracking information of issued devices. This body should contain any necessary parameters to filter or refine the tracking results.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListOperationalServiceIssuedDeviceTrackingsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the device tracking information.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOperationalServiceIssuedDeviceTrackingsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListOperationalServiceIssuedDeviceTrackingsRequest": {
        "type": "string",
        "description": "This schema represents the request body expected for the issued device tracking GET operation.",
        "example": "{}"
      },
      "ListOperationalServiceIssuedDeviceTrackingsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of issued device objects.",
            "example": [
              {
                "deviceId": "DEV-574646",
                "deviceType": "STANDARD",
                "assignedPartyId": "PARTY-790957",
                "serialNumber": "STANDARD",
                "deviceStatus": "ACTIVE",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/IssuedDevice"
            }
          },
          "pagination": {
            "description": "Pagination details for the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting information about the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for issued device tracking operations.",
        "example": {
          "items": [
            {
              "deviceId": "DEV-574646",
              "deviceType": "STANDARD",
              "assignedPartyId": "PARTY-790957",
              "serialNumber": "STANDARD",
              "deviceStatus": "ACTIVE",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "ad87ef61-073a-5645-a5a0-15950933d3c5",
            "correlationId": "c383572f-3bb2-5fc3-a8be-c60cf7133c2e",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "IssuedDevice": {
        "type": "object",
        "properties": {
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device.",
            "example": "device-123"
          },
          "deviceType": {
            "type": "string",
            "description": "Type of the device.",
            "example": "Smartphone"
          },
          "assignedPartyId": {
            "type": "string",
            "description": "Identifier for the party assigned to the device.",
            "example": "party-456"
          },
          "serialNumber": {
            "type": "string",
            "description": "Serial number of the device.",
            "example": "SN-789"
          },
          "deviceStatus": {
            "type": "string",
            "description": "Current status of the device.",
            "example": "Active"
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the device record.",
            "example": "Valid"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the device record.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "Schema representing an issued device."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Schema representing pagination details."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-xyz"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses.",
            "example": "correlation-abc"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Schema representing metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "The unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "issued-device-tracking-search-issued-device-tracking"
        },
        "example": "issued-device-tracking-search-issued-device-tracking"
      },
      "x-runtime-app": {
        "description": "The name of the application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication, allowing clients to authenticate by including a JSON Web Token (JWT) in the Authorization header of requests. The JWT should be obtained from a valid authentication process.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}