{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Technology Standards Management API",
    "description": "This API serves as a central resource for managing technology standards within banking IT management. It enables organizations to establish, update, and maintain compliance with various technology standards across their operations. By facilitating the posting of new standards and modifications, this API assists IT teams in ensuring consistency and security in technological implementations. Typical consumers include IT administrators and compliance officers who seek to integrate or align their systems with the latest standard requirements.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/technology-standards": {
      "post": {
        "tags": [
          "IT Management"
        ],
        "summary": "Create a new technology standard in IT management.",
        "description": "This endpoint allows users to create a new technology standard within the IT management framework. By providing the necessary details in the request body, an organization can establish specific technology standards for various IT processes to ensure consistency and compliance across the board.",
        "operationId": "createItManagementTechnologyStandard",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create or update technology standards within the IT management framework. It should include all relevant fields necessary for the operation, ensuring that the data conforms to the required schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateItManagementTechnologyStandardRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The technology standard resource was successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateItManagementTechnologyStandardResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateItManagementTechnologyStandardRequest": {
        "title": "Technology Standards Request Body",
        "type": "object",
        "properties": {
          "policyId": {
            "type": "string",
            "description": "Unique identifier for the policy.",
            "example": "STANDARD"
          },
          "title": {
            "type": "string",
            "description": "Title of the policy.",
            "example": "Banking operation completed"
          },
          "ownerTeam": {
            "type": "string",
            "description": "Team responsible for maintaining the policy.",
            "example": "STANDARD"
          },
          "effectiveDate": {
            "type": "string",
            "description": "Date when the policy becomes effective.",
            "example": "2026-09-15"
          },
          "reviewDate": {
            "type": "string",
            "description": "Date when the policy should be reviewed.",
            "example": "2026-09-15"
          },
          "applicability": {
            "type": "array",
            "description": "List of applications or systems that the policy applies to.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "Name of the application or system.",
              "example": "Internal CRM"
            }
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for creating a technology standards policy.",
        "example": {
          "policyId": "STANDARD",
          "title": "Banking operation completed",
          "ownerTeam": "STANDARD",
          "effectiveDate": "2026-09-15",
          "reviewDate": "2026-09-15",
          "applicability": [
            "STANDARD"
          ],
          "requestContext": {
            "requestId": "1d40f3b2-4b3c-5a56-9779-a21f002e764d",
            "correlationId": "8bfc8da6-20d0-5ec5-9c92-7f6fb2cceb16",
            "idempotencyKey": "5b56d9b6-08e2-5fd5-adeb-823ef79cfe36",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-947513"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ-98765"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier linking related requests.",
            "example": "CORR-54321"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of the request.",
            "example": "IDEMPOT-11111"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T12:34:56Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originates.",
            "example": "HR Management System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request originates.",
            "example": "Employee Portal"
          },
          "channel": {
            "description": "Channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "CH-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., API, web).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to send the request.",
            "example": "DEVICE-123456"
          }
        },
        "description": "Schema representing the channel information of the request."
      },
      "CreateItManagementTechnologyStandardResponse_201": {
        "title": "Technology Standards Operation Response",
        "type": "object",
        "properties": {
          "policyId": {
            "type": "string",
            "description": "Unique identifier for the policy.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource associated with the policy.",
            "example": "RES-537162"
          },
          "status": {
            "type": "string",
            "description": "Current status of the operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the policy was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata pertaining to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response for the technology standards operation after a successful POST request.",
        "example": {
          "policyId": "STANDARD",
          "resourceId": "RES-537162",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "231ff14a-0f74-56e4-9be1-31ba7ccdf0f6",
            "correlationId": "8bfc8da6-20d0-5ec5-9c92-7f6fb2cceb16",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate multiple requests and responses.",
            "example": "corr-abc123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-04T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "us-west-1"
          }
        },
        "description": "This schema contains additional metadata information related to the operation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "it-standards-and-guidelines-create-it-standards-and-guidelines"
        },
        "example": "it-standards-and-guidelines-create-it-standards-and-guidelines"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication, which requires a token in the format of JSON Web Token (JWT) to be included in the Authorization header of the API request. The JWT token is used to verify the identity of the user and grant access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}