{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Microentry Verification API",
    "description": "The Microentry Verification API facilitates the validation of microentry records within the system. This endpoint allows users to authenticate and confirm the integrity of submitted data through its verification process. Typical consumers of this API include data management systems and applications that require reliable data submission confirmations. By implementing this API, businesses can enhance their data accuracy and reduce the risk of processing invalid entries, ensuring seamless operations across their platforms.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/connect/generate/microentry/verify": {
      "post": {
        "tags": [
          "Microentry Management"
        ],
        "summary": "Verify a microentry generation request.",
        "description": "This endpoint handles the verification of a microentry generation request, ensuring that the provided data is valid and meets the necessary criteria before processing. It returns the status of the verification along with any relevant details.",
        "operationId": "verifyMicroentryGeneration",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for verifying a microentry generation. This should contain the necessary information for the verification process, including any required parameters in the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyMicroentryGenerationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, and the microentry has been verified.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyMicroentryGenerationResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "VerifyMicroentryGenerationRequest": {
        "title": "Microentry Verification Request",
        "type": "object",
        "properties": {
          "partnerId": {
            "type": "string",
            "description": "The unique identifier for the partner.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-383188"
          },
          "redirectUri": {
            "type": "string",
            "description": "The URI to redirect after completion.",
            "example": "STANDARD"
          },
          "webhook": {
            "type": "string",
            "description": "The URL to send webhook notifications.",
            "example": "STANDARD"
          },
          "webhookContentType": {
            "type": "string",
            "description": "The content type of the webhook payload.",
            "example": "STANDARD"
          },
          "experience": {
            "type": "string",
            "description": "The user experience context for the request.",
            "example": "STANDARD"
          },
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account.",
            "example": "ACC-422529"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for verifying a microentry operation.",
        "example": {
          "partnerId": "STANDARD",
          "customerId": "CUST-383188",
          "redirectUri": "STANDARD",
          "webhook": "STANDARD",
          "webhookContentType": "STANDARD",
          "experience": "STANDARD",
          "accountId": "ACC-422529",
          "requestContext": {
            "requestId": "202f8b21-6f6c-5431-978e-3cf58bdfe28b",
            "correlationId": "a82d7786-9987-5738-b457-27659d613c40",
            "idempotencyKey": "938399f0-c533-5ffc-b02e-3bad7a4b7f1c",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-255975"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier used to correlate logs and traces.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure that repeated requests have the same effect.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information related to the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., mobile, web).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier for the device used.",
            "example": "string"
          }
        },
        "description": "Details about the channel used for the request."
      },
      "VerifyMicroentryGenerationResponse_200": {
        "type": "object",
        "properties": {
          "link": {
            "type": "string",
            "description": "A URL link related to the verification operation.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata related to the verification response, providing context about the operation.",
            "$ref": "#/components/schemas/VerificationMetadata"
          }
        },
        "description": "Response schema for the verification operation, containing a link and metadata.",
        "example": {
          "link": "STANDARD",
          "metadata": {
            "responseId": "2c35e6cf-99fd-5331-b020-dc3c7a207843",
            "correlationId": "a82d7786-9987-5738-b457-27659d613c40",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "VerificationMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "example-response-id"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple requests and responses.",
            "example": "example-correlation-id"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographical region where the processing occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Schema representing metadata for the verification response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-verify-micro-entry-microdeposit"
        },
        "example": "open-finance-api-verify-micro-entry-microdeposit"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes HTTP Bearer authentication, which is typically used for API access token transmission in HTTP headers. The tokens are expected to be in the JSON Web Token (JWT) format.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}