{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Operational Service By Disbursement Id-spec",
    "description": "The Operational Services Retrieval API allows users to access detailed information about operational services associated with a specific disbursement ID. This endpoint is essential for financial institutions and banking applications that need to query service records based on unique disbursement identifiers. Typical consumers include developers integrating financial services and analysts retrieving operational data for reporting purposes. The API streamlines the retrieval of service information, ensuring accurate and efficient access to critical banking data.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/disbursement/{disbursementId}": {
      "get": {
        "tags": [
          "Disbursement Management"
        ],
        "summary": "Fetch a specific disbursement by ID.",
        "description": "Retrieve detailed information about the disbursement with the specified ID. This endpoint allows you to access relevant data related to the disbursement, including status, amount, and associated entities.",
        "operationId": "getOperationalServiceByDisbursementId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/disbursementId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information related to the disbursement operation identified by RES-100045. Ensure that the request complies with the schema defined in the operations specification.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetOperationalServiceByDisbursementIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested resource details.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetOperationalServiceByDisbursementIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetOperationalServiceByDisbursementIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to disbursement services in the operational environment.",
        "example": "{}"
      },
      "GetOperationalServiceByDisbursementIdResponse_200": {
        "title": "Disbursement Operation Response",
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "Unique identifier for the operation.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer associated with the operation.",
            "example": "CUST-499222"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account involved in the operation.",
            "example": "ACC-790183"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the operation was requested.",
            "example": "2026-08-11T12:00:00Z"
          },
          "priority": {
            "type": "string",
            "description": "Priority level of the operation.",
            "example": "NORMAL"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record for the operation.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version of the operation record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the operation record.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier for tracing the request across systems.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the response was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the operation was processed.",
                "example": "string"
              }
            },
            "description": "Metadata associated with the operation response.",
            "example": {
              "responseId": "5016c934-dc5b-5853-abd9-ed81c07cc958",
              "correlationId": "b05b2806-1230-567a-9723-710915bcd2a3",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for disbursement operations containing details about the operation.",
        "example": {
          "operationId": "STANDARD",
          "customerId": "CUST-499222",
          "accountId": "ACC-790183",
          "requestedAt": "2026-08-11T12:00:00Z",
          "priority": "NORMAL",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "5016c934-dc5b-5853-abd9-ed81c07cc958",
            "correlationId": "b05b2806-1230-567a-9723-710915bcd2a3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "disbursementId": {
        "name": "disbursementId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "Unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "disbursement-get-disbursement"
        },
        "example": "disbursement-get-disbursement"
      },
      "x-runtime-app": {
        "description": "Name of the application responsible for handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method using Bearer tokens, specifically formatted as JSON Web Tokens (JWT). Clients must include a valid JWT in the Authorization header when making requests. This allows for secure access and identity verification.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}