{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Replace Open Banking Event Subscription By Event Subscription Id-v5-spec",
    "description": "This API enables businesses to effectively manage their Open Banking event subscriptions by allowing updates based on a specific event subscription ID. Users can leverage the PUT method to modify the details of existing subscriptions, ensuring they receive relevant notifications and updates. Typical consumers include financial institutions and developers integrating with Open Banking systems who require dynamic subscription management. The API supports streamlined operations for enhancing user engagement and compliance with regulatory requirements.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/event-subscriptions/{eventSubscriptionId}": {
      "put": {
        "tags": [
          "Event Subscription Management"
        ],
        "summary": "Update an event subscription.",
        "description": "This endpoint allows you to update the details of a specific event subscription identified by its unique resource ID. Ensure that you provide all necessary information in the request body for a successful update.",
        "operationId": "replaceOpenBankingEventSubscriptionByEventSubscriptionId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/eventSubscriptionId"
          }
        ],
        "requestBody": {
          "description": "The request body for updating the event subscription identified by RES-100045. Provide the necessary details to modify the subscription, including any specific properties that need to be updated.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceOpenBankingEventSubscriptionByEventSubscriptionIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful, and the resource has been updated.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceOpenBankingEventSubscriptionByEventSubscriptionIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ReplaceOpenBankingEventSubscriptionByEventSubscriptionIdRequest": {
        "type": "object",
        "properties": {
          "Data": {
            "description": "Contains event subscription details.",
            "$ref": "#/components/schemas/EventSubscriptionData"
          },
          "Links": {
            "description": "Pagination links related to the subscription data.",
            "$ref": "#/components/schemas/Links"
          },
          "Meta": {
            "description": "Metadata about the request and response.",
            "$ref": "#/components/schemas/Meta"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for updating event subscriptions.",
        "example": {
          "Data": {
            "EventSubscriptionId": "STANDARD",
            "CallbackUrl": "https://banking.northstar.example/callbacks/status",
            "Version": "STANDARD",
            "EventTypes": [
              "STANDARD"
            ]
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource",
            "Next": "https://example.com/resource",
            "Last": "https://example.com/resource"
          },
          "Meta": {
            "TotalPages": 1,
            "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
            "LastAvailableDateTime": "2026-09-15T14:30:00Z"
          },
          "requestContext": {
            "requestId": "a82cba23-88fd-5d44-9ee3-1359d61949ab",
            "correlationId": "c7aa6cec-dab0-5414-b4cb-48e2facf81d8",
            "idempotencyKey": "8e43305a-d705-5228-a566-c8a65cf93228",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-837345"
            }
          }
        }
      },
      "EventSubscriptionData": {
        "type": "object",
        "properties": {
          "EventSubscriptionId": {
            "type": "string",
            "description": "Unique identifier for the event subscription.",
            "example": "string"
          },
          "CallbackUrl": {
            "type": "string",
            "description": "The URL to which event notifications should be sent.",
            "example": "string"
          },
          "Version": {
            "type": "string",
            "description": "The version of the event subscription format.",
            "example": "string"
          },
          "EventTypes": {
            "type": "array",
            "description": "List of event types that the subscription is interested in.",
            "items": {
              "type": "string",
              "description": "A type of event that can be subscribed to.",
              "example": "string"
            }
          }
        },
        "description": "Schema representing the details of an event subscription."
      },
      "Links": {
        "type": "object",
        "properties": {
          "Self": {
            "type": "string",
            "description": "Link to the current page.",
            "example": "string"
          },
          "First": {
            "type": "string",
            "description": "Link to the first page.",
            "example": "string"
          },
          "Prev": {
            "type": "string",
            "description": "Link to the previous page.",
            "example": "string"
          },
          "Next": {
            "type": "string",
            "description": "Link to the next page.",
            "example": "string"
          },
          "Last": {
            "type": "string",
            "description": "Link to the last page.",
            "example": "string"
          }
        },
        "description": "Schema representing navigation links for pagination."
      },
      "Meta": {
        "type": "object",
        "properties": {
          "TotalPages": {
            "type": "integer",
            "description": "Total number of pages available.",
            "format": "int32",
            "example": 0
          },
          "FirstAvailableDateTime": {
            "type": "string",
            "description": "The earliest datetime available for event data.",
            "example": "string"
          },
          "LastAvailableDateTime": {
            "type": "string",
            "description": "The latest datetime available for event data.",
            "example": "string"
          }
        },
        "description": "Schema representing metadata about the response."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple events or requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotent request processing.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system making the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the application making the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema providing contextual information about the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the channel.",
            "example": "string"
          }
        },
        "description": "Schema representing details about the channel associated with the request."
      },
      "ReplaceOpenBankingEventSubscriptionByEventSubscriptionIdResponse_200": {
        "title": "Event Subscriptions Response",
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "EventSubscriptionId": {
                "type": "string",
                "description": "Unique identifier for the event subscription.",
                "example": "string"
              },
              "CallbackUrl": {
                "type": "string",
                "description": "The URL to which events will be sent.",
                "example": "string"
              },
              "Version": {
                "type": "string",
                "description": "Version of the event subscription.",
                "example": "string"
              },
              "EventTypes": {
                "type": "array",
                "description": "List of event types associated with the subscription.",
                "items": {
                  "type": "string",
                  "description": "Type of event that can trigger the callback.",
                  "example": "string"
                }
              }
            },
            "description": "Information about the event subscription.",
            "example": {
              "EventSubscriptionId": "STANDARD",
              "CallbackUrl": "https://banking.northstar.example/callbacks/status",
              "Version": "STANDARD",
              "EventTypes": [
                "STANDARD"
              ]
            }
          },
          "Links": {
            "type": "object",
            "properties": {
              "Self": {
                "type": "string",
                "description": "Link to the current page.",
                "example": "https://api.example.com/events?page=1"
              },
              "First": {
                "type": "string",
                "description": "Link to the first page of results.",
                "example": "https://api.example.com/events?page=1"
              },
              "Prev": {
                "type": "string",
                "description": "Link to the previous page of results, if applicable.",
                "example": "https://api.example.com/events?page=0"
              },
              "Next": {
                "type": "string",
                "description": "Link to the next page of results, if applicable.",
                "example": "https://api.example.com/events?page=2"
              },
              "Last": {
                "type": "string",
                "description": "Link to the last page of results.",
                "example": "https://api.example.com/events?page=5"
              }
            },
            "description": "Pagination links for navigating through the event subscriptions.",
            "example": {
              "Self": "https://example.com/resource",
              "First": "https://example.com/resource",
              "Prev": "https://example.com/resource",
              "Next": "https://example.com/resource",
              "Last": "https://example.com/resource"
            }
          },
          "Meta": {
            "type": "object",
            "properties": {
              "TotalPages": {
                "type": "integer",
                "description": "Total number of pages available.",
                "format": "int32",
                "example": 5
              },
              "FirstAvailableDateTime": {
                "type": "string",
                "description": "The date and time when the first event is available.",
                "example": "2023-01-01T00:00:00Z"
              },
              "LastAvailableDateTime": {
                "type": "string",
                "description": "The date and time when the last event is available.",
                "example": "2023-12-31T23:59:59Z"
              }
            },
            "description": "Metadata about the response, including pagination information.",
            "example": {
              "TotalPages": 1,
              "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
              "LastAvailableDateTime": "2026-09-15T14:30:00Z"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "resp-98765"
              },
              "correlationId": {
                "type": "string",
                "description": "ID used to correlate multiple requests and responses.",
                "example": "corr-54321"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the response was generated.",
                "example": "2023-10-15T12:34:56Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the request was processed.",
                "example": "us-west-1"
              }
            },
            "description": "Additional metadata related to the response.",
            "example": {
              "responseId": "bbfb94dd-31f5-5144-989d-2fcee46b3322",
              "correlationId": "c7aa6cec-dab0-5414-b4cb-48e2facf81d8",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for the event subscriptions PUT operation, containing details about the subscription, links for pagination, metadata, and other relevant information.",
        "example": {
          "Data": {
            "EventSubscriptionId": "STANDARD",
            "CallbackUrl": "https://banking.northstar.example/callbacks/status",
            "Version": "STANDARD",
            "EventTypes": [
              "STANDARD"
            ]
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource",
            "Next": "https://example.com/resource",
            "Last": "https://example.com/resource"
          },
          "Meta": {
            "TotalPages": 1,
            "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
            "LastAvailableDateTime": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "responseId": "bbfb94dd-31f5-5144-989d-2fcee46b3322",
            "correlationId": "c7aa6cec-dab0-5414-b4cb-48e2facf81d8",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "eventSubscriptionId": {
        "name": "eventSubscriptionId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "events-api-change-event-subscriptions-event-subscription-id"
        },
        "example": "events-api-change-event-subscriptions-event-subscription-id"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method with JSON Web Tokens (JWT). Clients must include a valid JWT in the Authorization header to authenticate requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}