{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Consumer Service By Param1-spec",
    "description": "The Customer Tax Handling Retrieval API provides access to specific consumer service information based on provided parameters. This endpoint enables businesses to retrieve detailed insights regarding tax handling for individual customers, facilitating improved customer service and operational efficiency. Developers and financial service providers typically utilize this API to ensure compliance and enhance customer interactions through tailored tax-related support. The API streamlines processes by allowing quick and precise access to crucial consumer data.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9003",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/consumer-services/customer-tax-handling/{param1}": {
      "get": {
        "tags": [
          "CustomerTaxManagement"
        ],
        "summary": "Retrieve tax handling information for a specific customer.",
        "description": "Fetches the tax handling details associated with the specified customer ID, providing insights into their tax-related data. This endpoint is essential for understanding and managing customer tax information effectively.",
        "operationId": "getConsumerServiceByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve customer tax handling information for a specific customer identified by CUST-100045. Please ensure that all required fields are populated correctly before submission.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetConsumerServiceByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of customer tax handling information.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetConsumerServiceByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetConsumerServiceByParam1Request": {
        "title": "Customer Tax Handling Request Body",
        "type": "string",
        "description": "This schema represents the request body for customer tax handling operations under the specified consumer services.",
        "example": "{}"
      },
      "GetConsumerServiceByParam1Response_200": {
        "title": "Customer Tax Handling Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-131806"
          },
          "serviceRequestId": {
            "type": "string",
            "description": "The unique identifier for the service request associated with the tax handling.",
            "example": "132c12a5-f997-5b2d-95e4-d89ae1a78dd9"
          },
          "productCode": {
            "type": "string",
            "description": "The code corresponding to the product related to the customer tax handling.",
            "example": "CHK-PREMIUM-US"
          },
          "amount": {
            "description": "The amount associated with the tax handling operations.",
            "$ref": "#/components/schemas/Amount"
          },
          "requestedDate": {
            "type": "string",
            "description": "The date when the service request was made.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record (e.g., active, inactive).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata information related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for customer tax handling operations.",
        "example": {
          "customerId": "CUST-131806",
          "serviceRequestId": "132c12a5-f997-5b2d-95e4-d89ae1a78dd9",
          "productCode": "CHK-PREMIUM-US",
          "amount": {
            "value": 100,
            "currency": "USD"
          },
          "requestedDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "2b3fe121-2b56-55da-bf40-18c492e2bf28",
            "correlationId": "324c8fd8-72ea-59fa-ab38-7f330afc0a80",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Amount": {
        "title": "Amount",
        "type": "object",
        "properties": {
          "value": {
            "type": "integer",
            "description": "The numeric value of the amount.",
            "format": "int32",
            "example": 100
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is specified.",
            "example": "USD"
          }
        },
        "description": "Represents a monetary value with a currency."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "RESP-789012"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to track the request through the system.",
            "example": "CORR-345678"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp identifying when the response was generated.",
            "example": "2023-01-10T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request took place.",
            "example": "us-west"
          }
        },
        "description": "Contains metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-tax-handling-get-customer-tax-handling"
        },
        "example": "customer-tax-handling-get-customer-tax-handling"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication based on the JSON Web Token (JWT) standard. Clients must include a valid JWT in the Authorization header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}