{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Market Operation Trade Clearings-spec",
    "description": "The Market Operation Trade Clearing API provides real-time access to trade clearing information within market operations. This endpoint allows users to retrieve detailed data on trade clearings, facilitating transparency and operational efficiency for financial institutions. Typical consumers include banking operations teams and risk management departments that require up-to-date clearing status for trades. By utilizing this API, users can streamline their trade processing and ensure compliance with regulatory requirements.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-operations/trade-clearing": {
      "get": {
        "tags": [
          "Trade Operations"
        ],
        "summary": "Retrieve trade clearing information.",
        "description": "This endpoint allows users to fetch the current trade clearing details, including relevant metrics and statistics. It helps traders and market participants understand the clearing process and its impact on their trades.",
        "operationId": "listMarketOperationTradeClearings",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve trade clearing operations. It specifies the necessary parameters required to fetch the relevant data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListMarketOperationTradeClearingsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and trade clearing data retrieved.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListMarketOperationTradeClearingsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListMarketOperationTradeClearingsRequest": {
        "type": "string",
        "description": "Represents the request body for fetching trade clearing operations in the market operations API.",
        "example": "{}"
      },
      "ListMarketOperationTradeClearingsResponse_200": {
        "title": "Trade Clearing Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of trade clearing items.",
            "example": [
              {
                "tradeId": "STANDARD",
                "instrumentId": "STANDARD",
                "settlementDate": "2026-09-15",
                "quantity": 1,
                "settlementCurrency": "USD",
                "custodianId": "STANDARD",
                "clearingHouseId": "STANDARD",
                "settlementMethod": "STANDARD",
                "matchingStatus": "ACTIVE",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/TradeClearingItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sort order applied to the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "A response object containing trade clearing information including items, pagination details, sort order, and metadata.",
        "example": {
          "items": [
            {
              "tradeId": "STANDARD",
              "instrumentId": "STANDARD",
              "settlementDate": "2026-09-15",
              "quantity": 1,
              "settlementCurrency": "USD",
              "custodianId": "STANDARD",
              "clearingHouseId": "STANDARD",
              "settlementMethod": "STANDARD",
              "matchingStatus": "ACTIVE",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "e679033e-ea41-57c8-83c0-d91d90ff801e",
            "correlationId": "3bb9a8ee-a14c-59ef-a17f-0f55c2737582",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "TradeClearingItem": {
        "title": "Trade Clearing Item",
        "type": "object",
        "properties": {
          "tradeId": {
            "type": "string",
            "description": "The unique identifier for the trade.",
            "example": "trade123"
          },
          "instrumentId": {
            "type": "string",
            "description": "The identifier for the financial instrument involved in the trade.",
            "example": "instr456"
          },
          "settlementDate": {
            "type": "string",
            "description": "The date on which the trade settlement takes place.",
            "example": "2023-10-01"
          },
          "quantity": {
            "type": "integer",
            "description": "The number of units involved in the trade.",
            "format": "int32",
            "example": 100
          },
          "settlementCurrency": {
            "type": "string",
            "description": "The currency used for the settlement.",
            "example": "USD"
          },
          "custodianId": {
            "type": "string",
            "description": "The identifier for the custodian handling the trade.",
            "example": "cust789"
          },
          "clearingHouseId": {
            "type": "string",
            "description": "The identifier for the clearing house managing the trade.",
            "example": "clearing123"
          },
          "settlementMethod": {
            "type": "string",
            "description": "The method of settlement for the trade, e.g. Cash or Securities.",
            "example": "Cash"
          },
          "matchingStatus": {
            "type": "string",
            "description": "The status of the trade matching process.",
            "example": "Matched"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the trade record in the system.",
            "example": "Active"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of the last update to the trade record.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "Details of a single trade clearing entry."
      },
      "Pagination": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Pagination details for the response, including current page, page size, and total item count."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for this response.",
            "example": "resp123"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to correlate multiple related requests and responses.",
            "example": "corr456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographic region where the processing of the trade was done.",
            "example": "US-East"
          }
        },
        "description": "Metadata associated with the response, including identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request. This value can be used for tracking the specific service endpoint used in the transaction.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "trade-clearing-search-trade-clearing"
        },
        "example": "trade-clearing-search-trade-clearing"
      },
      "X-Runtime-App": {
        "description": "The name of the runtime application that handled the request. This helps identify which application was responsible for processing the request and can assist in diagnosing issues.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication mechanism with JSON Web Tokens (JWT). Clients must include a valid JWT in the Authorization header of their requests to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}