{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Customer Bank Guarantee-spec",
    "description": "The Customer Bank Guarantee Management API allows businesses to facilitate the creation of bank guarantees for customers. This service streamlines the process of securing financial assurance by generating guarantees that meet specific customer requirements. Typically utilized by financial institutions and banking service providers, it supports various use cases, including loan approvals and contract assurances. By implementing this API, developers can enhance client experiences through efficient management of bank guarantees.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customers/{customerId}/bank-guarantees": {
      "post": {
        "tags": [
          "Customer Operations"
        ],
        "summary": "Create a new bank guarantee for a specific customer.",
        "description": "This operation allows users to create a new bank guarantee associated with a specific customer identified by their unique ID. Ensure all required fields are populated to process the bank guarantee creation successfully.",
        "operationId": "createCustomerBankGuarantee",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create a new bank guarantee associated with the customer identified by CUST-100045. It must conform to the specified schema outlining the required information for the bank guarantee.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerBankGuaranteeRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The bank guarantee has been successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCustomerBankGuaranteeResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCustomerBankGuaranteeRequest": {
        "title": "Bank Guarantee Request Body",
        "type": "object",
        "properties": {
          "corporateCustomerId": {
            "type": "string",
            "description": "The unique identifier for the corporate customer.",
            "example": "CUST-851505"
          },
          "facilityId": {
            "type": "string",
            "description": "The unique identifier for the facility involved in the guarantee.",
            "example": "STANDARD"
          },
          "counterpartyId": {
            "type": "string",
            "description": "The unique identifier for the counterparty to the guarantee.",
            "example": "PARTY-814300"
          },
          "amount": {
            "description": "The monetary amount related to the bank guarantee.",
            "$ref": "#/components/schemas/Amount"
          },
          "maturityDate": {
            "type": "string",
            "description": "The date when the guarantee matures.",
            "example": "2026-09-15"
          },
          "guaranteeType": {
            "type": "string",
            "description": "The type of the bank guarantee (e.g., financial, performance).",
            "example": "STANDARD"
          },
          "beneficiaryId": {
            "type": "string",
            "description": "The unique identifier for the beneficiary who will receive the guarantee.",
            "example": "STANDARD"
          },
          "claimExpiryDate": {
            "type": "string",
            "description": "The date by which claims under the guarantee must be made.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for creating a bank guarantee operation for a corporate customer.",
        "example": {
          "corporateCustomerId": "CUST-851505",
          "facilityId": "STANDARD",
          "counterpartyId": "PARTY-814300",
          "amount": {
            "value": 100.0,
            "currency": "USD"
          },
          "maturityDate": "2026-09-15",
          "guaranteeType": "STANDARD",
          "beneficiaryId": "STANDARD",
          "claimExpiryDate": "2026-09-15",
          "requestContext": {
            "requestId": "cf11b519-65b4-57ec-822c-c649ba1af618",
            "correlationId": "2b8ebde3-8ca3-59ac-88b7-dc7d94d9739d",
            "idempotencyKey": "c13bb66c-6574-5d53-9aed-75f388e13dc7",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-614259"
            }
          }
        }
      },
      "Amount": {
        "title": "Amount",
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The numeric value of the amount.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency code (e.g., USD, EUR) of the amount.",
            "example": "string"
          }
        },
        "description": "This schema represents the amount along with its currency for the bank guarantee."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to correlate logs or traces associated with this request.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure the request is idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp of when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originates.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema provides contextual information related to the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel through which the request was made.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., web, mobile, API).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "This schema represents the channel information associated with the request."
      },
      "CreateCustomerBankGuaranteeResponse_201": {
        "title": "Bank Guarantee Response",
        "type": "object",
        "properties": {
          "corporateCustomerId": {
            "type": "string",
            "description": "The unique identifier for the corporate customer associated with the bank guarantee.",
            "example": "CUST-304899"
          },
          "facilityId": {
            "type": "string",
            "description": "The unique identifier for the facility linked to the bank guarantee.",
            "example": "STANDARD"
          },
          "counterpartyId": {
            "type": "string",
            "description": "The unique identifier for the counterparty involved in the bank guarantee.",
            "example": "PARTY-967628"
          },
          "beneficiaryId": {
            "type": "string",
            "description": "The unique identifier for the beneficiary of the bank guarantee.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource related to the bank guarantee.",
            "example": "RES-315210"
          },
          "status": {
            "type": "string",
            "description": "The current status of the bank guarantee.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The date and time when the bank guarantee was created, in ISO 8601 format.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the bank guarantee operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for the bank guarantee operation, including details about the corporate customer, facility, counterparties, and timestamps.",
        "example": {
          "corporateCustomerId": "CUST-304899",
          "facilityId": "STANDARD",
          "counterpartyId": "PARTY-967628",
          "beneficiaryId": "STANDARD",
          "resourceId": "RES-315210",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "32886850-dee9-50d1-9cee-ced87c2a2d7a",
            "correlationId": "2b8ebde3-8ca3-59ac-88b7-dc7d94d9739d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response of the operation.",
            "example": "RESPONSE-001"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to correlate this request with others in a distributed system.",
            "example": "CORRELATION-001"
          },
          "generatedAt": {
            "type": "string",
            "description": "The date and time when the metadata was generated, in ISO 8601 format.",
            "example": "2023-10-01T12:00:01Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographic region where the processing of the request took place.",
            "example": "APAC"
          }
        },
        "description": "Additional metadata for the operation, providing context such as response tracking information."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being called, used for tracking and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "bank-guarantee-create-bank-guarantee"
        },
        "example": "bank-guarantee-create-bank-guarantee"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is processing the request, which can assist in understanding where the call originated.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      },
      "X-Workflow-Id": {
        "description": "A unique identifier for the workflow tied to this request, useful for tracing the steps taken in processing.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-062"
        },
        "example": "WF-062"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow that this request is associated with.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Bank Guarantee Issuance and Claim"
        },
        "example": "Bank Guarantee Issuance and Claim"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow, indicating the progress of the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the execution instance of the workflow.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "71203310-3048-4e48-b133-6aad9b37f15f"
        },
        "example": "71203310-3048-4e48-b133-6aad9b37f15f"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "JWT (JSON Web Token) based authentication scheme, which allows clients to authenticate by including a Bearer token in the Authorization header of their HTTP requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}