{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Funds Confirmation Consents API",
    "description": "The Funds Confirmation Consents API enables financial institutions to manage user consents effectively for funds confirmation requests. This endpoint is designed to retrieve specific consent information linked to a user's funds request, facilitating smoother transaction processes and enhancing user experience. Typical consumers include banking applications and financial service providers who need to validate user permissions before proceeding with fund confirmation operations. By utilizing this API, developers can ensure compliance with open banking regulations and improve transparency in financial transactions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/cbpii/funds-confirmation-consents/{param1}": {
      "get": {
        "tags": [
          "Funds Management"
        ],
        "summary": "Retrieve funds confirmation consent details",
        "description": "This endpoint enables you to fetch the details of a specific funds confirmation consent based on its unique identifier. You can use this to check the status and attributes of a consent for your application's needs.",
        "operationId": "getFundsConfirmationConsentById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve funds confirmation consents specific to the resource identified by RES-100045. It helps in ensuring that the necessary data for processing the request is passed correctly.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetFundsConfirmationConsentByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of funds confirmation consent details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFundsConfirmationConsentByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetFundsConfirmationConsentByIdRequest": {
        "type": "string",
        "description": "This schema represents the body of a request in the JSON format for the operation related to funds confirmation consents. It is typically utilized in the GET requests under the specified operations.",
        "example": "{}"
      },
      "GetFundsConfirmationConsentByIdResponse_200": {
        "type": "object",
        "properties": {
          "Data": {
            "$ref": "#/components/schemas/FundsConfirmationConsentData"
          },
          "Links": {
            "$ref": "#/components/schemas/PaginationLinks"
          },
          "Meta": {
            "$ref": "#/components/schemas/ResponseMeta"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the funds confirmation consent operation.",
        "example": {
          "Data": {
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "Status": "ACTIVE",
            "StatusReason": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "Path": "STANDARD"
              }
            ],
            "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
            "ExpirationDateTime": "2026-09-15T14:30:00Z",
            "DebtorAccount": {
              "SchemeName": "Northstar Banking Service",
              "Identification": "STANDARD",
              "Name": "Northstar Banking Service",
              "SecondaryIdentification": "STANDARD",
              "Proxy": {
                "Identification": "STANDARD",
                "Code": "SUCCESS",
                "Type": "STANDARD"
              }
            }
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource",
            "Next": "https://example.com/resource",
            "Last": "https://example.com/resource"
          },
          "Meta": {
            "TotalPages": 1,
            "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
            "LastAvailableDateTime": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "responseId": "de2f1de3-867f-52aa-8e56-011441407e77",
            "correlationId": "8cbf2038-766f-5b12-80ec-367abfcbf148",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "FundsConfirmationConsentData": {
        "type": "object",
        "properties": {
          "ConsentId": {
            "type": "string",
            "description": "Unique identifier for the consent.",
            "example": "12345"
          },
          "CreationDateTime": {
            "type": "string",
            "description": "The date and time when the consent was created.",
            "example": "2023-10-01T10:00:00Z"
          },
          "Status": {
            "type": "string",
            "description": "The current status of the consent.",
            "example": "ACTIVE"
          },
          "StatusReason": {
            "type": "array",
            "description": "Reasons associated with the current status of the consent.",
            "items": {
              "$ref": "#/components/schemas/StatusReasonDetail"
            }
          },
          "StatusUpdateDateTime": {
            "type": "string",
            "description": "The date and time when the consent status was last updated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "ExpirationDateTime": {
            "type": "string",
            "description": "The date and time when the consent will expire.",
            "example": "2025-10-01T10:00:00Z"
          },
          "DebtorAccount": {
            "$ref": "#/components/schemas/DebtorAccount"
          }
        },
        "description": "Data schema representing a single consent record."
      },
      "DebtorAccount": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "The scheme name of the debtor account.",
            "example": "SEPA"
          },
          "Identification": {
            "type": "string",
            "description": "The unique identifier of the debtor account.",
            "example": "GB29NWBK60161331926819"
          },
          "Name": {
            "type": "string",
            "description": "The name associated with the debtor account.",
            "example": "John Doe"
          },
          "SecondaryIdentification": {
            "type": "string",
            "description": "Any additional identification for the debtor account (optional).",
            "example": "Optional secondaryID"
          },
          "Proxy": {
            "$ref": "#/components/schemas/AccountProxy"
          }
        },
        "description": "Represents the debtor's account details."
      },
      "AccountProxy": {
        "type": "object",
        "properties": {
          "Identification": {
            "type": "string",
            "description": "The unique identifier for the proxy.",
            "example": "67890"
          },
          "Code": {
            "type": "string",
            "description": "The code representing the type of proxy.",
            "example": "EMAIL"
          },
          "Type": {
            "type": "string",
            "description": "The type of proxy.",
            "example": "Email Address"
          }
        },
        "description": "Represents proxy details associated with the debtor account."
      },
      "StatusReasonDetail": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "The code associated with the status reason.",
            "example": "REASON_CODE_1"
          },
          "description": {
            "type": "string",
            "description": "A descriptive explanation of the status reason.",
            "example": "This consent is currently active."
          },
          "Path": {
            "type": "string",
            "description": "The path or location related to the status reason.",
            "example": "/status/reasons/1"
          }
        },
        "description": "Details of the reason for the current status of the consent."
      },
      "PaginationLinks": {
        "type": "object",
        "properties": {
          "Self": {
            "type": "string",
            "description": "Link to the current page.",
            "example": "https://api.example.com/consents?page=1"
          },
          "First": {
            "type": "string",
            "description": "Link to the first page of results.",
            "example": "https://api.example.com/consents?page=1"
          },
          "Prev": {
            "type": "string",
            "description": "Link to the previous page of results, if applicable.",
            "example": "https://api.example.com/consents?page=0"
          },
          "Next": {
            "type": "string",
            "description": "Link to the next page of results, if applicable.",
            "example": "https://api.example.com/consents?page=2"
          },
          "Last": {
            "type": "string",
            "description": "Link to the last page of results.",
            "example": "https://api.example.com/consents?page=10"
          }
        },
        "description": "Links for pagination of the response."
      },
      "ResponseMeta": {
        "type": "object",
        "properties": {
          "TotalPages": {
            "type": "integer",
            "description": "The total number of pages in the response.",
            "format": "int32",
            "example": 5
          },
          "FirstAvailableDateTime": {
            "type": "string",
            "description": "The first available date and time for the consent records.",
            "example": "2023-10-01T00:00:00Z"
          },
          "LastAvailableDateTime": {
            "type": "string",
            "description": "The last available date and time for the consent records.",
            "example": "2025-10-01T23:59:59Z"
          }
        },
        "description": "Metadata about the response."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracing the request across services.",
            "example": "corr-abcde"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Additional metadata about the response processing."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "funds-api-get-funds-confirmation-consents-consent-id"
        },
        "example": "funds-api-get-funds-confirmation-consents-consent-id"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method, allowing access to protected endpoints by including a JSON Web Token (JWT) in the Authorization header. Clients must provide a valid JWT to authenticate requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}