{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Aggregation Customer Account Payments Paymentindicator Fcras-v5-spec",
    "description": "MICROSERVICE-PROD-List Aggregation Customer Account Payments Paymentindicator Fcras-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/{customerId}/accounts/{accountId}/payments/paymentindicator/fcra": {
      "get": {
        "operationId": "listAggregationCustomerAccountPaymentsPaymentindicatorFcras",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          },
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListAggregationCustomerAccountPaymentsPaymentindicatorFcrasRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAggregationCustomerAccountPaymentsPaymentindicatorFcrasResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListAggregationCustomerAccountPaymentsPaymentindicatorFcrasRequest": {
        "type": "string",
        "example": "{}"
      },
      "ListAggregationCustomerAccountPaymentsPaymentindicatorFcrasResponse_200": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "example": "SUCCESS"
          },
          "message": {
            "type": "string",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "example": "CUST-230271"
          },
          "accountId": {
            "type": "string",
            "example": "ACC-838785"
          },
          "payReqId": {
            "type": "string",
            "example": "STANDARD"
          },
          "settleByDate": {
            "type": "string",
            "example": "2026-09-15"
          },
          "settlementAmount": {
            "type": "number",
            "example": 100.0
          },
          "availableBalance": {
            "type": "number",
            "example": 100.0
          },
          "indicatorsByDay": {
            "type": "array",
            "example": [
              {
                "potentialSettlementDate": "2026-09-15",
                "compositeScore": 1,
                "scoreIndicator": "STANDARD",
                "reasons": {
                  "recentBalance": 1,
                  "balanceHistory": 1,
                  "nsfHistory": 1,
                  "recentNsfHistory": 1,
                  "recurringNsf": 1,
                  "spendHistory": 1,
                  "depositHistory": 1,
                  "transactionAmount": 1
                }
              }
            ],
            "items": {
              "type": "object",
              "properties": {
                "potentialSettlementDate": {
                  "type": "string",
                  "example": "string"
                },
                "compositeScore": {
                  "type": "integer",
                  "format": "int32",
                  "example": 0
                },
                "scoreIndicator": {
                  "type": "string",
                  "example": "string"
                },
                "reasons": {
                  "type": "object",
                  "properties": {
                    "recentBalance": {
                      "type": "integer",
                      "format": "int32",
                      "example": 0
                    },
                    "balanceHistory": {
                      "type": "integer",
                      "format": "int32",
                      "example": 0
                    },
                    "nsfHistory": {
                      "type": "integer",
                      "format": "int32",
                      "example": 0
                    },
                    "recentNsfHistory": {
                      "type": "integer",
                      "format": "int32",
                      "example": 0
                    },
                    "recurringNsf": {
                      "type": "integer",
                      "format": "int32",
                      "example": 0
                    },
                    "spendHistory": {
                      "type": "integer",
                      "format": "int32",
                      "example": 0
                    },
                    "depositHistory": {
                      "type": "integer",
                      "format": "int32",
                      "example": 0
                    },
                    "transactionAmount": {
                      "type": "integer",
                      "format": "int32",
                      "example": 0
                    }
                  },
                  "example": "string"
                }
              },
              "example": "string"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "b3661a1b-9cef-59d5-adc5-ccd40523936e",
              "correlationId": "a03dbbe5-e820-518e-b3a0-2e22d3896314",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "code": "SUCCESS",
          "message": "STANDARD",
          "customerId": "CUST-230271",
          "accountId": "ACC-838785",
          "payReqId": "STANDARD",
          "settleByDate": "2026-09-15",
          "settlementAmount": 100.0,
          "availableBalance": 100.0,
          "indicatorsByDay": [
            {
              "potentialSettlementDate": "2026-09-15",
              "compositeScore": 1,
              "scoreIndicator": "STANDARD",
              "reasons": {
                "recentBalance": 1,
                "balanceHistory": 1,
                "nsfHistory": 1,
                "recentNsfHistory": 1,
                "recurringNsf": 1,
                "spendHistory": 1,
                "depositHistory": 1,
                "transactionAmount": 1
              }
            }
          ],
          "metadata": {
            "responseId": "b3661a1b-9cef-59d5-adc5-ccd40523936e",
            "correlationId": "a03dbbe5-e820-518e-b3a0-2e22d3896314",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-fcra-payment-success-indicator"
        },
        "example": "open-finance-api-get-fcra-payment-success-indicator"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}