{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Party Reference Data Directory API",
    "description": "The Party Reference Data Directory API provides access to a comprehensive repository of customer reference data essential for banking operations. This API allows users to retrieve detailed information regarding parties involved in banking transactions, including individuals and entities. Designed for banking institutions and financial service providers, it facilitates seamless integration of customer data into various applications. Typical use cases include customer onboarding, compliance checks, and data enrichment, allowing organizations to enhance their customer relationship management initiatives.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customer-management/party-reference-data-directory": {
      "get": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Retrieve party reference data",
        "description": "This endpoint allows users to fetch the directory of party reference data, which includes necessary details and classifications for managing parties effectively in the system.",
        "operationId": "getPartyReferenceDataDirectory",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving party reference data. This endpoint allows clients to request specific data related to parties within the management system, enabling efficient data retrieval and manipulation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPartyReferenceDataDirectoryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the party reference data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPartyReferenceDataDirectoryResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPartyReferenceDataDirectoryRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation in the customer management party reference data directory.",
        "example": "{}"
      },
      "GetPartyReferenceDataDirectoryResponse_200": {
        "title": "Customer Management Party Reference Data Directory Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of party reference data items.",
            "example": [
              {
                "customerId": "CUST-241818",
                "partyId": "PARTY-907389",
                "productCode": "CHK-PREMIUM-US",
                "effectiveDate": "2026-09-15",
                "relationshipTier": "GOLD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/PartyReferenceDataItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting information.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the GET operation on the Customer Management Party Reference Data Directory.",
        "example": {
          "items": [
            {
              "customerId": "CUST-241818",
              "partyId": "PARTY-907389",
              "productCode": "CHK-PREMIUM-US",
              "effectiveDate": "2026-09-15",
              "relationshipTier": "GOLD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "49344df5-b77d-545c-8ba5-8a30c5403b64",
            "correlationId": "b23cc9e8-08a1-56d9-b8e0-cf0912a219c2",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PartyReferenceDataItem": {
        "title": "Party Reference Data Item",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "customer123"
          },
          "partyId": {
            "type": "string",
            "description": "Unique identifier for the party.",
            "example": "party456"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product associated with the party.",
            "example": "product789"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date from which the data becomes effective.",
            "example": "2023-01-01"
          },
          "relationshipTier": {
            "type": "string",
            "description": "The tier of the relationship (e.g. Gold, Silver, Bronze).",
            "example": "Gold"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record (e.g. Active, Inactive).",
            "example": "Active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the record was last updated.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "Schema representing a single party reference data item."
      },
      "Pagination": {
        "title": "Pagination Metadata",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Schema representing pagination details for the response."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response123"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used to correlate requests and responses.",
            "example": "correlation456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "US"
          }
        },
        "description": "Schema containing metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "party-reference-data-directory-search-party-reference-data-directory"
        },
        "example": "party-reference-data-directory-search-party-reference-data-directory"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication, where a JSON Web Token (JWT) must be provided in the Authorization header of the request. The token is used to verify the identity and permissions of the caller.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}