{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Account Access Consents Retrieval API",
    "description": "The Account Access Consents Retrieval API allows financial institutions to access and retrieve consent information related to account access by third-party providers. This API serves as a key resource for managing customer consent, enabling better control over user data while ensuring compliance with regulations. Typical use cases include retrieving existing consents for audit purposes or confirming the status of user permissions. Financial institutions and developers working in the open banking space would commonly utilize this API to streamline consent management processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/aisp/account-access-consents/{param1}": {
      "get": {
        "tags": [
          "Account Access Consents"
        ],
        "summary": "Retrieve Account Access Consent details",
        "description": "This endpoint allows developers to fetch the details of a specific account access consent identified by the consent ID 'RES-100045'. It provides relevant information regarding the consent, such as its status and associated account details.",
        "operationId": "getAispAccountAccessConsentRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving account access consent details for the specified consent ID. Ensure that the request contains the necessary authentication headers and follows the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAispAccountAccessConsentRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the account access consent details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAispAccountAccessConsentRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetAispAccountAccessConsentRes100045Request": {
        "type": "string",
        "description": "This schema represents the structure of the request body for the GET operation related to account access consents. It is expected to be a string value.",
        "example": "{}"
      },
      "GetAispAccountAccessConsentRes100045Response_200": {
        "title": "Account Access Consent Response",
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "ConsentId": {
                "type": "string",
                "description": "Unique identifier for the consent.",
                "example": "12345"
              },
              "CreationDateTime": {
                "type": "string",
                "description": "The date and time when the consent was created.",
                "example": "2023-10-01T10:00:00Z"
              },
              "Status": {
                "type": "string",
                "description": "Current status of the consent.",
                "example": "ACTIVE"
              },
              "StatusReason": {
                "type": "array",
                "description": "Reasons for the current status of the consent.",
                "example": [
                  {
                    "code": "ACTIVE",
                    "description": "Consent is currently active.",
                    "Path": "status"
                  }
                ],
                "items": {
                  "$ref": "#/components/schemas/StatusReason"
                }
              },
              "StatusUpdateDateTime": {
                "type": "string",
                "description": "The date and time when the status was last updated.",
                "example": "2023-10-02T10:00:00Z"
              },
              "Permissions": {
                "type": "array",
                "description": "List of permissions granted under the consent.",
                "example": [
                  "READ_ACCOUNT",
                  "READ_TRANSACTIONS"
                ],
                "items": {
                  "type": "string",
                  "example": "READ_ACCOUNT"
                }
              },
              "ExpirationDateTime": {
                "type": "string",
                "description": "The date and time when the consent expires.",
                "example": "2023-12-31T10:00:00Z"
              },
              "TransactionFromDateTime": {
                "type": "string",
                "description": "The start date and time of the transaction range for which consent is valid.",
                "example": "2023-10-01T00:00:00Z"
              },
              "TransactionToDateTime": {
                "type": "string",
                "description": "The end date and time of the transaction range for which consent is valid.",
                "example": "2023-10-31T23:59:59Z"
              }
            },
            "description": "Container for the consent details including metadata about the consent.",
            "example": {
              "ConsentId": "STANDARD",
              "CreationDateTime": "2026-09-15T14:30:00Z",
              "Status": "ACTIVE",
              "StatusReason": [
                {
                  "code": "SUCCESS",
                  "description": "Customer banking request processed successfully",
                  "Path": "STANDARD"
                }
              ],
              "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
              "Permissions": [
                "STANDARD"
              ],
              "ExpirationDateTime": "2026-09-15T14:30:00Z",
              "TransactionFromDateTime": "2026-09-15T14:30:00Z",
              "TransactionToDateTime": "2026-09-15T14:30:00Z"
            }
          },
          "Links": {
            "type": "object",
            "properties": {
              "Self": {
                "type": "string",
                "description": "Link to the current resource.",
                "example": "/api/consents/12345"
              },
              "First": {
                "type": "string",
                "description": "Link to the first page of results.",
                "example": "/api/consents?page=1"
              },
              "Prev": {
                "type": "string",
                "description": "Link to the previous page of results.",
                "example": "/api/consents?page=1"
              },
              "Next": {
                "type": "string",
                "description": "Link to the next page of results.",
                "example": "/api/consents?page=3"
              },
              "Last": {
                "type": "string",
                "description": "Link to the last page of results.",
                "example": "/api/consents?page=10"
              }
            },
            "description": "Pagination and navigation links related to the consent retrieval.",
            "example": {
              "Self": "https://example.com/resource",
              "First": "https://example.com/resource",
              "Prev": "https://example.com/resource",
              "Next": "https://example.com/resource",
              "Last": "https://example.com/resource"
            }
          },
          "Meta": {
            "type": "object",
            "properties": {
              "TotalPages": {
                "type": "integer",
                "description": "Total number of pages available.",
                "format": "int32",
                "example": 10
              },
              "FirstAvailableDateTime": {
                "type": "string",
                "description": "The earliest date and time when consent data is available.",
                "example": "2023-01-01T00:00:00Z"
              },
              "LastAvailableDateTime": {
                "type": "string",
                "description": "The latest date and time when consent data is available.",
                "example": "2023-10-31T23:59:59Z"
              }
            },
            "description": "Metadata regarding the response and pagination details.",
            "example": {
              "TotalPages": 1,
              "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
              "LastAvailableDateTime": "2026-09-15T14:30:00Z"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "resp-123456"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier for tracking the request across systems.",
                "example": "corr-abcdef"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the response was generated.",
                "example": "2023-10-02T12:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the consent data was processed.",
                "example": "us-west-2"
              }
            },
            "description": "Additional metadata related to the response.",
            "example": {
              "responseId": "6ceeaa33-cf6a-5d08-9385-61ae25820d9a",
              "correlationId": "a9a727ef-321d-5e32-a9f3-fa06b487188b",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Schema representing the response for retrieving account access consent details.",
        "example": {
          "Data": {
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "Status": "ACTIVE",
            "StatusReason": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "Path": "STANDARD"
              }
            ],
            "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
            "Permissions": [
              "STANDARD"
            ],
            "ExpirationDateTime": "2026-09-15T14:30:00Z",
            "TransactionFromDateTime": "2026-09-15T14:30:00Z",
            "TransactionToDateTime": "2026-09-15T14:30:00Z"
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource",
            "Next": "https://example.com/resource",
            "Last": "https://example.com/resource"
          },
          "Meta": {
            "TotalPages": 1,
            "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
            "LastAvailableDateTime": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "responseId": "6ceeaa33-cf6a-5d08-9385-61ae25820d9a",
            "correlationId": "a9a727ef-321d-5e32-a9f3-fa06b487188b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "StatusReason": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Code representing the reason for the status.",
            "example": "ACTIVE"
          },
          "description": {
            "type": "string",
            "description": "Human-readable description of the status reason.",
            "example": "Consent is currently active."
          },
          "Path": {
            "type": "string",
            "description": "Path or context related to the status reason.",
            "example": "status"
          }
        },
        "description": "Schema representing the status reason details."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processes the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-api-get-account-access-consents-consent-id"
        },
        "example": "accounts-api-get-account-access-consents-consent-id"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the request, providing context about the runtime environment.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token authentication method where a JWT (JSON Web Token) is utilized to authorize requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}