{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Email Jointborrower-spec",
    "description": "The Joint Borrower Email Notification API enables financial institutions to seamlessly send email communications to joint borrowers during the loan application process. This API facilitates the transmission of important updates and relevant information directly to joint borrowers, ensuring they stay informed and engaged. Typical consumers include lenders and mortgage companies that require efficient communication with multiple borrowers involved in a loan. By automating email notifications, this API enhances customer service and streamlines operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/connect/send/email/jointborrower": {
      "post": {
        "tags": [
          "Email Communication"
        ],
        "summary": "Send email to joint borrower.",
        "description": "This endpoint allows you to send an email to a joint borrower. It facilitates communication and provides necessary information directly to the involved parties.",
        "operationId": "createEmailJointborrower",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to send an email to a joint borrower. It must include the necessary information such as email addresses, subject, and message content for the email. Ensure all required fields are properly populated to facilitate accurate email sending.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEmailJointborrowerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The email was successfully sent to the joint borrower.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateEmailJointborrowerResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateEmailJointborrowerRequest": {
        "type": "object",
        "properties": {
          "language": {
            "type": "string",
            "description": "The language in which the email should be sent.",
            "example": "en"
          },
          "partnerId": {
            "type": "string",
            "description": "Identifier for the partner sending the request.",
            "example": "STANDARD"
          },
          "borrowers": {
            "type": "array",
            "description": "An array of borrower objects.",
            "example": [
              {
                "customerId": "CUST-384721",
                "consumerId": "STANDARD",
                "type": "STANDARD",
                "optionalConsumerInfo": {
                  "ssn": "STANDARD",
                  "dob": 1
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Borrower"
            }
          },
          "redirectUri": {
            "type": "string",
            "description": "URI to redirect the user after processing.",
            "example": "STANDARD"
          },
          "webhook": {
            "type": "string",
            "description": "Webhook URL to receive notifications.",
            "example": "STANDARD"
          },
          "webhookContentType": {
            "type": "string",
            "description": "Content type of the webhook request.",
            "example": "STANDARD"
          },
          "email": {
            "description": "Email details to be sent.",
            "$ref": "#/components/schemas/Email"
          },
          "experience": {
            "type": "string",
            "description": "Description of the experience related to the transaction.",
            "example": "STANDARD"
          },
          "fromDate": {
            "type": "integer",
            "description": "The date from when the experience is considered.",
            "format": "int32",
            "example": 1
          },
          "requestContext": {
            "description": "Context of the request being made.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for sending an email to joint borrowers.",
        "example": {
          "language": "en",
          "partnerId": "STANDARD",
          "borrowers": [
            {
              "customerId": "CUST-384721",
              "consumerId": "STANDARD",
              "type": "STANDARD",
              "optionalConsumerInfo": {
                "ssn": "STANDARD",
                "dob": 1
              }
            }
          ],
          "redirectUri": "STANDARD",
          "webhook": "STANDARD",
          "webhookContentType": "STANDARD",
          "email": {
            "to": "STANDARD",
            "from": "STANDARD",
            "supportPhone": "+1-212-555-0147",
            "subject": "STANDARD",
            "firstName": "Northstar Banking Service",
            "institutionName": "Northstar Banking Service",
            "institutionAddress": "STANDARD",
            "signature": [
              "STANDARD"
            ]
          },
          "experience": "STANDARD",
          "fromDate": 1,
          "requestContext": {
            "requestId": "03ee484a-5671-5ade-b5be-f6ef127a3ed6",
            "correlationId": "4ee01fa5-efcf-5484-822b-362e8ff344a3",
            "idempotencyKey": "da900f0a-52b2-5261-8c17-96ffdd186b58",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-104978"
            }
          }
        }
      },
      "Borrower": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "cust123"
          },
          "consumerId": {
            "type": "string",
            "description": "The unique identifier for the consumer.",
            "example": "cons123"
          },
          "type": {
            "type": "string",
            "description": "The type of borrower (e.g., individual, company).",
            "example": "individual"
          },
          "optionalConsumerInfo": {
            "description": "Optional additional information about the consumer.",
            "$ref": "#/components/schemas/OptionalConsumerInfo"
          }
        },
        "description": "A borrower object containing borrower details."
      },
      "OptionalConsumerInfo": {
        "type": "object",
        "properties": {
          "ssn": {
            "type": "string",
            "description": "Social Security Number of the consumer.",
            "example": "123-45-6789"
          },
          "dob": {
            "type": "integer",
            "description": "Date of birth of the consumer, in YYYYMMDD format.",
            "format": "int32",
            "example": 19900101
          }
        },
        "description": "Optional information pertaining to the consumer."
      },
      "Email": {
        "type": "object",
        "properties": {
          "to": {
            "type": "string",
            "description": "Recipient email address.",
            "example": "recipient@example.com"
          },
          "from": {
            "type": "string",
            "description": "Sender email address.",
            "example": "sender@example.com"
          },
          "supportPhone": {
            "type": "string",
            "description": "Support phone number for assistance.",
            "example": "+1234567890"
          },
          "subject": {
            "type": "string",
            "description": "Subject of the email.",
            "example": "Important Update Regarding Your Loan"
          },
          "firstName": {
            "type": "string",
            "description": "First name of the recipient.",
            "example": "John"
          },
          "institutionName": {
            "type": "string",
            "description": "Name of the sending institution.",
            "example": "ACME Bank"
          },
          "institutionAddress": {
            "type": "string",
            "description": "Address of the sending institution.",
            "example": "123 Main St, Anytown, USA"
          },
          "signature": {
            "type": "array",
            "description": "Array of signatures to be included in the email.",
            "items": {
              "type": "string",
              "example": "Best regards, John Doe"
            }
          }
        },
        "description": "Email structure to be sent to the borrowers."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracing the request.",
            "example": "corr-67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is idempotent.",
            "example": "idempotent-unique-key"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system from which the request originated.",
            "example": "Mobile App"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application source of the request.",
            "example": "Loan Management App"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information about the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel-123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used.",
            "example": "device-456"
          }
        },
        "description": "Information relating to the channel used for the request."
      },
      "CreateEmailJointborrowerResponse_200": {
        "type": "object",
        "properties": {
          "link": {
            "type": "string",
            "description": "A link related to the email action.",
            "example": "STANDARD"
          },
          "emailConfig": {
            "description": "Configuration settings for the email.",
            "$ref": "#/components/schemas/EmailConfig"
          },
          "metadata": {
            "description": "Metadata about the email sending process.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response object for sending an email to a joint borrower.",
        "example": {
          "link": "STANDARD",
          "emailConfig": {
            "to": "STANDARD",
            "from": "STANDARD",
            "supportPhone": "+1-212-555-0147",
            "subject": "STANDARD",
            "firstName": "Northstar Banking Service",
            "institutionName": "Northstar Banking Service",
            "institutionAddress": "STANDARD",
            "signature": [
              "STANDARD"
            ]
          },
          "metadata": {
            "responseId": "1bdc7087-f3c1-51d7-abb7-ac2ee4a17b93",
            "correlationId": "4ee01fa5-efcf-5484-822b-362e8ff344a3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EmailConfig": {
        "type": "object",
        "properties": {
          "to": {
            "type": "string",
            "description": "Recipient's email address.",
            "example": "recipient@example.com"
          },
          "from": {
            "type": "string",
            "description": "Sender's email address.",
            "example": "sender@example.com"
          },
          "supportPhone": {
            "type": "string",
            "description": "Phone number for support contact.",
            "example": "+1234567890"
          },
          "subject": {
            "type": "string",
            "description": "Subject line of the email.",
            "example": "Important Email Subject"
          },
          "firstName": {
            "type": "string",
            "description": "First name of the recipient.",
            "example": "John"
          },
          "institutionName": {
            "type": "string",
            "description": "Name of the institution sending the email.",
            "example": "Example Institution"
          },
          "institutionAddress": {
            "type": "string",
            "description": "Address of the institution.",
            "example": "123 Example St, Example City, EX 12345"
          },
          "signature": {
            "type": "array",
            "description": "Signature block items in the email.",
            "items": {
              "type": "string",
              "example": "Best Regards,\nExample Institution"
            }
          }
        },
        "description": "Configuration parameters used for sending the email."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response_12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracing the request.",
            "example": "correlation_98765"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata information about the email sending operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-send-joint-borrower-connect-email"
        },
        "example": "open-finance-api-send-joint-borrower-connect-email"
      },
      "x-runtime-app": {
        "description": "The name of the application runtime that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses HTTP Bearer Authentication with JSON Web Tokens (JWT). Clients must provide a valid JWT in the Authorization header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}