{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create External Agency Supplier Agreement-spec",
    "description": "This API facilitates the creation of supplier agreements with external agencies, enabling businesses to establish formal relationships with their partners. By leveraging this endpoint, organizations can efficiently manage the onboarding process of suppliers and ensure compliance with contractual requirements. Typical consumers of this API include procurement teams and financial departments seeking to streamline their supplier agreement workflows. The operation allows for the submission of necessary agreement details, ensuring that all relevant information is captured for seamless integration into existing systems.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/external-agency/supplier-agreements": {
      "post": {
        "tags": [
          "Supplier Agreements"
        ],
        "summary": "Create a new supplier agreement for an external agency.",
        "description": "This endpoint allows users to create a new supplier agreement associated with an external agency. Ensure that all required fields are properly filled out in the request body to successfully create the agreement.",
        "operationId": "createExternalAgencySupplierAgreement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create a new supplier agreement within the external agency system. It requires all necessary details in JSON format as defined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateExternalAgencySupplierAgreementRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created a new supplier agreement.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateExternalAgencySupplierAgreementResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateExternalAgencySupplierAgreementRequest": {
        "title": "Supplier Agreement Request",
        "type": "object",
        "properties": {
          "institutionId": {
            "type": "string",
            "description": "The unique identifier of the institution.",
            "example": "STANDARD"
          },
          "agreementId": {
            "type": "string",
            "description": "The identifier for the supplier agreement.",
            "example": "AGR-501800"
          },
          "bic": {
            "type": "string",
            "description": "The Bank Identifier Code (BIC) for the institution.",
            "example": "STANDARD"
          },
          "countryCode": {
            "type": "string",
            "description": "The country code where the institution is located.",
            "example": "US"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date when the agreement becomes effective.",
            "example": "2026-09-15"
          },
          "purchaseOrderId": {
            "type": "string",
            "description": "The purchase order identifier associated with this agreement.",
            "example": "ORD-992418"
          },
          "categoryCode": {
            "type": "string",
            "description": "The category code representing the type of agreement.",
            "example": "CODE-959"
          },
          "approvalLevel": {
            "type": "string",
            "description": "The level of approval required for this agreement.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information for the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for creating a new supplier agreement request.",
        "example": {
          "institutionId": "STANDARD",
          "agreementId": "AGR-501800",
          "bic": "STANDARD",
          "countryCode": "US",
          "effectiveDate": "2026-09-15",
          "purchaseOrderId": "ORD-992418",
          "categoryCode": "CODE-959",
          "approvalLevel": "STANDARD",
          "requestContext": {
            "requestId": "2be9e7c8-c436-5956-b485-72e277c583d9",
            "correlationId": "6480954a-9b74-56cb-be21-6220babbf7f4",
            "idempotencyKey": "4b78e7b8-dae4-52b7-8834-4ca4223b0f92",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-263617"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests.",
            "example": "corr456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure that the request can be safely retried without unintended consequences.",
            "example": "idempotentKey789"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that generated the request.",
            "example": "systemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "appB"
          },
          "channel": {
            "description": "Details about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema for providing contextual information about the request."
      },
      "Channel": {
        "title": "Communication Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile, etc.).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used for the request.",
            "example": "deviceXYZ"
          }
        },
        "description": "Schema representing the communication channel for the request."
      },
      "CreateExternalAgencySupplierAgreementResponse_201": {
        "type": "object",
        "properties": {
          "institutionId": {
            "type": "string",
            "description": "The unique identifier of the institution associated with the agreement.",
            "example": "STANDARD"
          },
          "agreementId": {
            "type": "string",
            "description": "The unique identifier for the supplier agreement.",
            "example": "AGR-694888"
          },
          "countryCode": {
            "type": "string",
            "description": "The ISO code representing the country associated with the supplier agreement.",
            "example": "US"
          },
          "purchaseOrderId": {
            "type": "string",
            "description": "The unique identifier for the related purchase order.",
            "example": "ORD-809555"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource linked to the agreement.",
            "example": "RES-887652"
          },
          "status": {
            "type": "string",
            "description": "Current status of the supplier agreement.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the agreement was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the supplier agreement.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the operation POST supplier agreements in the external agency context. This schema contains essential agreement details and metadata.",
        "example": {
          "institutionId": "STANDARD",
          "agreementId": "AGR-694888",
          "countryCode": "US",
          "purchaseOrderId": "ORD-809555",
          "resourceId": "RES-887652",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "594e65bd-002f-55c4-9c12-3640d94a8eb6",
            "correlationId": "6480954a-9b74-56cb-be21-6220babbf7f4",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response_123"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier for tracking purposes across different systems.",
            "example": "correlation_123"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-10-01T12:05:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographical region where the processing occurred.",
            "example": "us-west-2"
          }
        },
        "description": "Metadata schema providing additional information about the supplier agreement response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "contractor-and-supplier-agreement-create-contractor-and-supplier-agreement"
        },
        "example": "contractor-and-supplier-agreement-create-contractor-and-supplier-agreement"
      },
      "X-Runtime-App": {
        "description": "Indicates the name of the application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme utilizing bearer tokens. This method uses JSON Web Tokens (JWT) to verify the identity of the client. Clients must include the token in the 'Authorization' header when making requests to protected endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}