{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Regulatory Reporting Amendments API",
    "description": "The Regulatory Reporting Amendments API enables the submission of amendments to existing regulatory reports. This endpoint allows users to update details associated with a specific submission by providing the unique submission ID. It is particularly useful for compliance officers and regulatory reporting teams who need to correct or enhance previously submitted reports to align with changing regulations or data prerequisites. By leveraging this API, organizations can ensure their submissions are accurate and compliant, thereby mitigating risks associated with regulatory reporting.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/compliance/regulatory-reporting/submissions/{submissionId}/amendments": {
      "post": {
        "tags": [],
        "summary": "Create an amendment for the specified regulatory submission.",
        "description": "This endpoint allows users to submit an amendment for a specific regulatory submission identified by its unique ID. Ensure that all relevant data is included in the request to update the submission appropriately.",
        "operationId": "createAmendmentForSubmissionRES100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/submissionId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit amendments for the specified regulatory reporting submission. Ensure that all required fields are populated and that the data conforms to the expected schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAmendmentForSubmissionRES100045Request"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted for processing and will be handled asynchronously.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAmendmentForSubmissionRES100045Response_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateAmendmentForSubmissionRES100045Request": {
        "title": "Regulatory Reporting Submission Amendment Request",
        "type": "object",
        "properties": {
          "amendmentReason": {
            "type": "string",
            "description": "The reason for the amendment to the submission.",
            "example": "STANDARD"
          },
          "submissionReference": {
            "type": "string",
            "description": "Reference ID of the submission that is being amended.",
            "example": "STANDARD"
          },
          "changes": {
            "description": "The changes associated with the submission amendment.",
            "$ref": "#/components/schemas/SubmissionChanges"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user requesting the amendment.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the amendment request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for amending a regulatory reporting submission.",
        "example": {
          "amendmentReason": "STANDARD",
          "submissionReference": "STANDARD",
          "changes": {
            "submissionId": "STANDARD",
            "legalEntityId": "STANDARD",
            "jurisdiction": "STANDARD"
          },
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "4af8b283-f803-5410-b9c9-d1f2565c4144",
            "correlationId": "ca9c9839-9e2c-5e50-bb45-0a2c8fd94cc6",
            "idempotencyKey": "a39549a6-fd20-59b9-ac68-f4a21de586e8",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-580925"
            }
          }
        }
      },
      "SubmissionChanges": {
        "title": "Submission Changes",
        "type": "object",
        "properties": {
          "submissionId": {
            "type": "string",
            "description": "The ID of the submission being amended.",
            "example": "SUBM-2023-001"
          },
          "legalEntityId": {
            "type": "string",
            "description": "The ID of the legal entity associated with the submission.",
            "example": "LEG-2023-0001"
          },
          "jurisdiction": {
            "type": "string",
            "description": "The jurisdiction applicable to the submission.",
            "example": "US"
          }
        },
        "description": "Schema representing the details of changes made to the submission."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ-987654"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests across different systems.",
            "example": "CORR-123456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure that repeated requests have the same effect.",
            "example": "IDEMP-12345"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name of the source system from which the request is made.",
            "example": "ComplianceSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application making the request.",
            "example": "RegulatoryApp"
          },
          "channel": {
            "description": "Channel through which the request is made.",
            "$ref": "#/components/schemas/RequestChannel"
          }
        },
        "description": "Schema representing the context information for the request."
      },
      "RequestChannel": {
        "title": "Request Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier of the channel.",
            "example": "CHANNEL-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., API, Web).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used to make the request.",
            "example": "DEVICE-001"
          }
        },
        "description": "Schema representing the channel details through which the request is made."
      },
      "CreateAmendmentForSubmissionRES100045Response_202": {
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "A unique reference associated with the action performed.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "The type of action performed on the submission.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the amendment operation.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "The timestamp indicating when the action was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for a regulatory reporting submission amendment operation.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "dff4ebd5-f109-5322-929c-08d8e68396b1",
            "correlationId": "ca9c9839-9e2c-5e50-bb45-0a2c8fd94cc6",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Schema representing metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "submissionId": {
        "name": "submissionId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint associated with this submission amendment request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "regulatory-reporting-amend-regulatory-reporting"
        },
        "example": "regulatory-reporting-amend-regulatory-reporting"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is processing the regulatory submission request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer token in the authorization header, formatted as a JSON Web Token (JWT). This method allows secure access to API resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}