{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Loan By Param1-spec",
    "description": "The Loan Application Retrieval API enables users to fetch details of specific loan applications using unique identifiers. By providing a parameter, consumers can access relevant loan data efficiently, which is vital for financial institutions and service providers. This API is commonly utilized by loan officers, customer service representatives, and integration systems managing loan workflows. It streamlines the process of information access, enhancing user experience and operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{param1}": {
      "get": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Retrieve a specific loan application.",
        "description": "This endpoint allows you to fetch the details of a loan application by its unique identifier. It provides essential information about the application, including its current status and other relevant data.",
        "operationId": "getLoanByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve specific details for the loan application identified by the provided RES-100045 identifier. It is expected to contain the necessary data fields that allow the server to process the request and return the corresponding loan application information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetLoanByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the loan application details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLoanByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetLoanByParam1Request": {
        "title": "Loan Application Request Body",
        "type": "string",
        "description": "This schema represents the payload for a loan application request. It is expected to be sent as a JSON string.",
        "example": "{}"
      },
      "GetLoanByParam1Response_200": {
        "title": "Loan Application Response",
        "type": "object",
        "properties": {
          "productId": {
            "type": "string",
            "description": "Unique identifier for the product associated with the loan application.",
            "example": "PROD-835519"
          },
          "externalReference": {
            "type": "string",
            "description": "External reference identifier for tracking the loan application.",
            "example": "STANDARD"
          },
          "channel": {
            "type": "string",
            "description": "Channel through which the loan application was submitted.",
            "example": "STANDARD"
          },
          "purpose": {
            "type": "string",
            "description": "Purpose of the loan application.",
            "example": "STANDARD"
          },
          "purposeDescription": {
            "type": "string",
            "description": "Detailed description of the purpose of the loan.",
            "example": "STANDARD"
          },
          "requestedPrincipal": {
            "description": "Amount and currency requested in the loan application.",
            "$ref": "#/components/schemas/RequestedPrincipal"
          },
          "requestedTermMonths": {
            "type": "integer",
            "description": "Term of the loan in months as requested by the applicant.",
            "format": "int32",
            "example": 1
          },
          "preferredRepaymentDay": {
            "type": "integer",
            "description": "Preferred day of the month for loan repayment.",
            "format": "int32",
            "example": 1
          },
          "primaryCustomerId": {
            "type": "string",
            "description": "Identifier of the primary customer applying for the loan.",
            "example": "CUST-941496"
          },
          "branchCode": {
            "type": "string",
            "description": "Code of the branch where the loan application is processed.",
            "example": "CODE-765"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "Identifier for the relationship manager handling the application.",
            "example": "STANDARD"
          },
          "campaignCode": {
            "type": "string",
            "description": "Identifier for the marketing campaign associated with the loan application.",
            "example": "CODE-374"
          },
          "customerConsent": {
            "description": "Consent information provided by the customer related to credit bureau, data processing and marketing.",
            "$ref": "#/components/schemas/CustomerConsent"
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the loan application.",
            "example": "11aa6459-7ddb-1c66-12a8-f399d3da0026"
          },
          "applicationNumber": {
            "type": "string",
            "description": "Application number assigned to the loan application.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the loan application.",
            "example": "ACTIVE"
          },
          "submittedAt": {
            "type": "string",
            "description": "Timestamp when the loan application was submitted.",
            "example": "2026-09-15T14:30:00Z"
          },
          "decisionAt": {
            "type": "string",
            "description": "Timestamp when a decision was made on the loan application.",
            "example": "2026-08-11T12:00:00Z"
          },
          "bookedLoanId": {
            "type": "string",
            "description": "Identifier for the booked loan, if applicable.",
            "example": "LOAN-267023"
          },
          "completionPercent": {
            "type": "integer",
            "description": "Percentage of the loan application process that is complete.",
            "format": "int32",
            "example": 1
          },
          "outstandingRequirements": {
            "type": "array",
            "description": "List of outstanding requirements for the loan application.",
            "example": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "status": "ACTIVE",
                "dueDate": "2026-09-15"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/OutstandingRequirement"
            }
          },
          "audit": {
            "description": "Audit information related to the loan application.",
            "$ref": "#/components/schemas/AuditInfo"
          },
          "metadata": {
            "description": "Metadata information regarding processing of the loan application.",
            "$ref": "#/components/schemas/MetadataInfo"
          }
        },
        "description": "Schema representing the details of a loan application response.",
        "example": {
          "productId": "PROD-835519",
          "externalReference": "STANDARD",
          "channel": "STANDARD",
          "purpose": "STANDARD",
          "purposeDescription": "STANDARD",
          "requestedPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "requestedTermMonths": 1,
          "preferredRepaymentDay": 1,
          "primaryCustomerId": "CUST-941496",
          "branchCode": "CODE-765",
          "relationshipManagerId": "STANDARD",
          "campaignCode": "CODE-374",
          "customerConsent": {
            "creditBureauConsent": true,
            "dataProcessingConsent": true,
            "marketingConsent": true,
            "consentTimestamp": "2026-09-15T14:30:00Z",
            "consentReference": "STANDARD"
          },
          "id": "11aa6459-7ddb-1c66-12a8-f399d3da0026",
          "applicationNumber": "STANDARD",
          "status": "ACTIVE",
          "submittedAt": "2026-09-15T14:30:00Z",
          "decisionAt": "2026-08-11T12:00:00Z",
          "bookedLoanId": "LOAN-267023",
          "completionPercent": 1,
          "outstandingRequirements": [
            {
              "code": "SUCCESS",
              "description": "Customer banking request processed successfully",
              "status": "ACTIVE",
              "dueDate": "2026-09-15"
            }
          ],
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "313037ee-89ec-5015-a141-a59f6821acaf",
            "correlationId": "5527df2b-004a-5e39-9f7d-108774d04613",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "RequestedPrincipal": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency in which the loan amount is requested.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "Amount of money requested in the loan.",
            "example": "10000"
          }
        },
        "description": "Details of the principal requested in the loan application."
      },
      "CustomerConsent": {
        "type": "object",
        "properties": {
          "creditBureauConsent": {
            "type": "boolean",
            "description": "Indicates if the customer has given consent for credit bureau checks.",
            "example": false
          },
          "dataProcessingConsent": {
            "type": "boolean",
            "description": "Indicates if the customer has consented to data processing.",
            "example": false
          },
          "marketingConsent": {
            "type": "boolean",
            "description": "Indicates if the customer has consented to marketing communications.",
            "example": false
          },
          "consentTimestamp": {
            "type": "string",
            "description": "Timestamp when the consent was given.",
            "example": "2023-01-01T12:00:00Z"
          },
          "consentReference": {
            "type": "string",
            "description": "Reference number associated with the customer's consent.",
            "example": "consentRef789"
          }
        },
        "description": "Consent details provided by the customer."
      },
      "OutstandingRequirement": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Code of the outstanding requirement.",
            "example": "reqCode123"
          },
          "description": {
            "type": "string",
            "description": "Description of the outstanding requirement.",
            "example": "Proof of income"
          },
          "status": {
            "type": "string",
            "description": "Current status of the outstanding requirement.",
            "example": "pending"
          },
          "dueDate": {
            "type": "string",
            "description": "Due date for fulfilling the outstanding requirement.",
            "example": "2023-02-01"
          }
        },
        "description": "Details of an outstanding requirement for the loan application."
      },
      "AuditInfo": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the loan application was created.",
            "example": "2023-01-01T12:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the loan application.",
            "example": "user123"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the loan application was last updated.",
            "example": "2023-01-02T12:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the loan application.",
            "example": "user456"
          },
          "version": {
            "type": "integer",
            "description": "Version of the loan application data.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Audit information regarding the loan application."
      },
      "MetadataInfo": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "respId123"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID used for tracking the response.",
            "example": "corrId456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the loan application took place.",
            "example": "US-East"
          }
        },
        "description": "Metadata information associated with the loan application."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-get-loan-application"
        },
        "example": "banking-loans-openapi-get-loan-application"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token for authentication. The token is typically a JSON Web Token (JWT) that is passed in the HTTP Authorization header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}