{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Enterprise Security Assurance API",
    "description": "The Enterprise Security Assurance API provides tools and resources for assessing and ensuring the security of enterprise-level banking services. This API allows users to retrieve critical security assurance information, including compliance status, vulnerabilities, and recommended mitigations. Common consumers of this API include security analysts, compliance officers, and IT administrators who need to monitor and enhance their organization's security posture. By leveraging this API, organizations can maintain regulatory compliance and protect sensitive financial data from emerging threats.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/enterprise-services/security-assurance": {
      "get": {
        "tags": [
          "Enterprise Services"
        ],
        "summary": "Retrieve security assurance details for enterprise services.",
        "description": "This endpoint allows developers to obtain comprehensive security assurance details related to the enterprise services offered. It provides essential information and insights that help in understanding the security measures and protocols in place.",
        "operationId": "getSecurityAssurance",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information related to security assurance operations within the enterprise services. It specifies the input parameters that are required for the successful execution of the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSecurityAssuranceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of security assurance information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSecurityAssuranceResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetSecurityAssuranceRequest": {
        "type": "string",
        "description": "This schema represents the request body for the security assurance operations in the enterprise services API, specifically for the GET method in JSON format.",
        "example": "{}"
      },
      "GetSecurityAssuranceResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of engagement items related to the security assurance operations.",
            "example": [
              {
                "engagementId": "STANDARD",
                "scope": "STANDARD",
                "framework": "STANDARD",
                "engagementOwnerId": "STANDARD",
                "plannedStartDate": "2026-09-15",
                "targetCompletionDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/EngagementItem"
            }
          },
          "pagination": {
            "description": "Information about pagination for the response.",
            "$ref": "#/components/schemas/PaginationInfo"
          },
          "sort": {
            "type": "string",
            "description": "Field by which the items are sorted.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata information associated with the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the GET operation related to Security Assurance. This schema includes the items returned, pagination info, sort order, and metadata about the response.",
        "example": {
          "items": [
            {
              "engagementId": "STANDARD",
              "scope": "STANDARD",
              "framework": "STANDARD",
              "engagementOwnerId": "STANDARD",
              "plannedStartDate": "2026-09-15",
              "targetCompletionDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "73c2fc08-bcce-5e8a-a785-938553858ee4",
            "correlationId": "01723f32-06be-5f2f-95cc-6cafa1b777c8",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EngagementItem": {
        "type": "object",
        "properties": {
          "engagementId": {
            "type": "string",
            "description": "Unique identifier for the engagement."
          },
          "scope": {
            "type": "string",
            "description": "Scope of the engagement."
          },
          "framework": {
            "type": "string",
            "description": "Framework applied during the engagement."
          },
          "engagementOwnerId": {
            "type": "string",
            "description": "Identifier for the owner of the engagement."
          },
          "plannedStartDate": {
            "type": "string",
            "description": "Planned start date for the engagement in ISO 8601 format."
          },
          "targetCompletionDate": {
            "type": "string",
            "description": "Target completion date for the engagement in ISO 8601 format."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the engagement record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp for when the engagement was last updated in ISO 8601 format."
          }
        },
        "description": "Represents an individual engagement item in the security assurance operations."
      },
      "PaginationInfo": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the results.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available in the dataset.",
            "format": "int32"
          }
        },
        "description": "Contains information about the pagination of the results."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "ID used for correlating the request and response."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated in ISO 8601 format."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed."
          }
        },
        "description": "Metadata regarding the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "security-assurance-search-security-assurance"
        },
        "example": "security-assurance-search-security-assurance"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is executing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication with JSON Web Tokens (JWT). Clients must include the token in the Authorization header of their requests to authenticate.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}