{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Workforce Training API",
    "description": "The Workforce Training API facilitates the management and retrieval of workforce training programs within an organization. This endpoint allows users to access detailed information about available training initiatives, their schedules, and enrollment options. Typical consumers of this API include human resource managers and training coordinators who need to plan and monitor employee development programs. By leveraging this API, organizations can enhance their training strategies and ensure access to valuable resources for employee growth.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/workforce-training": {
      "get": {
        "tags": [
          "Human Resource Management"
        ],
        "summary": "Retrieve workforce training information",
        "description": "This API endpoint allows you to retrieve information about workforce training programs within the human resource management system. It provides comprehensive details to assist organizations in understanding and managing their training initiatives.",
        "operationId": "getWorkforceTraining",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving information about workforce training operations in human resource management. This body should conform to the expected JSON schema and may include specific parameters relevant to the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetWorkforceTrainingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of workforce training data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetWorkforceTrainingResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetWorkforceTrainingRequest": {
        "title": "Workforce Training Request Body",
        "type": "string",
        "description": "A JSON string representing the request body for the Operations GET endpoint related to workforce training.",
        "example": "{}"
      },
      "GetWorkforceTrainingResponse_200": {
        "title": "Workforce Training Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of employee training records.",
            "example": [
              {
                "employeeId": "EMP-245908",
                "assignmentId": "STANDARD",
                "departmentId": "STANDARD",
                "effectiveDate": "2026-09-15",
                "countryCode": "US",
                "employmentType": "STANDARD",
                "managerId": "STANDARD",
                "workLocation": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/EmployeeTrainingRecord"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting order applied to the training records.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for the workforce training operation, containing an array of employee training records, pagination details, sorting information, and metadata.",
        "example": {
          "items": [
            {
              "employeeId": "EMP-245908",
              "assignmentId": "STANDARD",
              "departmentId": "STANDARD",
              "effectiveDate": "2026-09-15",
              "countryCode": "US",
              "employmentType": "STANDARD",
              "managerId": "STANDARD",
              "workLocation": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "af11de8c-ff99-5ea7-bddb-a47393fb6dd3",
            "correlationId": "0ad936c0-922b-5fba-b67a-d5962c0eb6e6",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EmployeeTrainingRecord": {
        "title": "Employee Training Record",
        "type": "object",
        "properties": {
          "employeeId": {
            "type": "string",
            "description": "The unique identifier of the employee.",
            "example": "12345"
          },
          "assignmentId": {
            "type": "string",
            "description": "The unique identifier of the training assignment.",
            "example": "67890"
          },
          "departmentId": {
            "type": "string",
            "description": "The identifier of the department to which the employee belongs.",
            "example": "HR"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date when the training assignment becomes effective.",
            "example": "2023-01-01"
          },
          "countryCode": {
            "type": "string",
            "description": "The country code where the employee is located.",
            "example": "US"
          },
          "employmentType": {
            "type": "string",
            "description": "The employment type of the employee.",
            "example": "Full-time"
          },
          "managerId": {
            "type": "string",
            "description": "The unique identifier of the employee's manager.",
            "example": "54321"
          },
          "workLocation": {
            "type": "string",
            "description": "The work location of the employee.",
            "example": "New York"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the training record.",
            "example": "Active"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the training record was last updated.",
            "example": "2023-01-02"
          }
        },
        "description": "Schema representing a record of an employee's training assignment."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available across all pages.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Schema representing pagination information for the response."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "abc-123"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier for tracing requests across services.",
            "example": "xyz-456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-01-03T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Schema representing metadata for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint being accessed. Useful for tracing requests and troubleshooting issues.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "workforce-training-search-workforce-training"
        },
        "example": "workforce-training-search-workforce-training"
      },
      "X-Runtime-App": {
        "description": "Indicates the name of the running application that processed the request. Helps in identifying the source of any issues.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication scheme as defined in RFC 6750. It allows clients to authenticate requests by including a JSON Web Token (JWT) in the authorization header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}