{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Beneficiary Management API",
    "description": "The Beneficiary Management API allows financial institutions to streamline the process of adding new beneficiaries for customer accounts. This endpoint enables users to add beneficiaries by providing essential details linked to a specified customer. Typical consumers of this API include banking applications and financial service platforms that require integration for managing customer beneficiary information. It enhances operational efficiency and ensures better service delivery for customer transactional activities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customers/{customerId}/beneficiaries": {
      "post": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Create a new beneficiary for a specific customer.",
        "description": "This endpoint allows you to create a new beneficiary associated with a specific customer identified by CUST-100045. Ensure that all required information is provided in the request body to successfully add the beneficiary.",
        "operationId": "createBeneficiaryForCustomerCUST100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "description": "The request body for adding beneficiaries to the customer with ID CUST-100045. This body should contain the necessary beneficiary information in JSON format.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBeneficiaryForCustomerCUST100045Request"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request has been accepted and is being processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBeneficiaryForCustomerCUST100045Response_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateBeneficiaryForCustomerCUST100045Request": {
        "title": "Beneficiary Payment Request",
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment.",
            "example": "PAY-388716"
          },
          "debtorAccountId": {
            "type": "string",
            "description": "Account ID of the debtor making the payment.",
            "example": "ACC-569458"
          },
          "creditorAccountId": {
            "type": "string",
            "description": "Account ID of the creditor receiving the payment.",
            "example": "ACC-875258"
          },
          "instructedAmount": {
            "$ref": "#/components/schemas/InstructedAmount"
          },
          "requestedExecutionDate": {
            "type": "string",
            "description": "Date when the payment should be executed.",
            "example": "2026-09-15"
          },
          "remittanceInformation": {
            "type": "string",
            "description": "Information regarding the payment purpose or reason.",
            "example": "STANDARD"
          },
          "paymentRail": {
            "type": "string",
            "description": "Type of payment rail being used (e.g., ACH, wire transfer).",
            "example": "STANDARD"
          },
          "chargeBearer": {
            "type": "string",
            "description": "Indicates who bears the transaction charges (e.g., debtor, creditor).",
            "example": "STANDARD"
          },
          "purposeCode": {
            "type": "string",
            "description": "Code indicating the purpose of the payment.",
            "example": "CODE-328"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for submitting a payment instruction to a beneficiary.",
        "example": {
          "paymentId": "PAY-388716",
          "debtorAccountId": "ACC-569458",
          "creditorAccountId": "ACC-875258",
          "instructedAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "requestedExecutionDate": "2026-09-15",
          "remittanceInformation": "STANDARD",
          "paymentRail": "STANDARD",
          "chargeBearer": "STANDARD",
          "purposeCode": "CODE-328",
          "requestContext": {
            "requestId": "fc976c72-1d52-5f97-a359-80af0aebd5da",
            "correlationId": "283bc793-c662-53ce-9430-874a356c1af4",
            "idempotencyKey": "1e6e0ac1-9a45-57c1-a00b-738f75a24066",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-177353"
            }
          }
        }
      },
      "InstructedAmount": {
        "title": "Instructed Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount of money to be transferred.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency of the instructed amount (e.g., USD, EUR).",
            "example": "string"
          }
        },
        "description": "Schema representing the amount and currency for the payment."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the correlation between requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the operation's idempotency.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System originating the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application within the source system making the request.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context for the payment request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used (e.g., online, mobile, branch).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device making the request.",
            "example": "string"
          }
        },
        "description": "Schema representing the channel used to make the request."
      },
      "CreateBeneficiaryForCustomerCUST100045Response_202": {
        "title": "Beneficiary Operation Response",
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment.",
            "example": "PAY-412137"
          },
          "debtorAccountId": {
            "type": "string",
            "description": "Identifier of the debtor's account involved in the transaction.",
            "example": "ACC-821374"
          },
          "creditorAccountId": {
            "type": "string",
            "description": "Identifier of the creditor's account receiving the funds.",
            "example": "ACC-129547"
          },
          "purposeCode": {
            "type": "string",
            "description": "Code representing the purpose of the transaction.",
            "example": "CODE-168"
          },
          "processingReference": {
            "type": "string",
            "description": "Reference for tracking the processing of the transaction.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the transaction.",
            "example": "ACTIVE"
          },
          "acceptedAt": {
            "type": "string",
            "description": "Timestamp indicating when the transaction was accepted.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "RESP-123456"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier used for correlating requests and responses.",
                "example": "CORR-789012"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the metadata was generated.",
                "example": "2023-10-01T12:05:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the processing took place.",
                "example": "EU-WEST-1"
              }
            },
            "description": "Additional metadata related to the transaction.",
            "example": {
              "responseId": "10c62ad9-adc8-50ef-9ae0-92325609a4db",
              "correlationId": "283bc793-c662-53ce-9430-874a356c1af4",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for the beneficiary operation request indicating the result of the operation.",
        "example": {
          "paymentId": "PAY-412137",
          "debtorAccountId": "ACC-821374",
          "creditorAccountId": "ACC-129547",
          "purposeCode": "CODE-168",
          "processingReference": "STANDARD",
          "status": "ACTIVE",
          "acceptedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "10c62ad9-adc8-50ef-9ae0-92325609a4db",
            "correlationId": "283bc793-c662-53ce-9430-874a356c1af4",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that was called during the request, used for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-order-process-payment-order"
        },
        "example": "payment-order-process-payment-order"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request, providing context for debugging and application monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      },
      "X-Workflow-Id": {
        "description": "The identifier for the workflow that the request is part of, used to correlate various actions within the system.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-011"
        },
        "example": "WF-011"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Beneficiary Registration and Verification"
        },
        "example": "Beneficiary Registration and Verification"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "a43d04b3-0439-4a92-aaf9-6b4321521985"
        },
        "example": "a43d04b3-0439-4a92-aaf9-6b4321521985"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses Bearer tokens, specifically in the JSON Web Token (JWT) format. This method allows clients to authenticate by including the token in the 'Authorization' header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}