{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer VoE Transactions API",
    "description": "The Customer VoE Transactions API facilitates the management of Voice of the Employee (VoE) transactions for specific customers. By utilizing this API, businesses can submit and process VoE transactions tied to individual customer IDs, enabling enhanced feedback collection and analysis. This service is particularly beneficial for customer experience teams and product managers who seek to leverage employee insights. The API streamlines the integration of VoE data into decision-making processes, helping organizations improve their offerings based on employee feedback.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/decisioning/customers/{customerId}/voetransactions": {
      "post": {
        "tags": [
          "Customer Transactions"
        ],
        "summary": "Create a new VOE transaction for customer CUST-100045.",
        "description": "This endpoint allows you to create a new VOE transaction associated with the specified customer (CUST-100045). Ensure all required fields are provided to successfully create a transaction.",
        "operationId": "createVoetransactionForCustomerCUST-100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "description": "This request body allows you to create a new transaction for the specified customer. Ensure that all required fields are provided and formatted correctly in JSON.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateVoetransactionForCustomerCUST-100045Request"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted for processing but is not yet completed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateVoetransactionForCustomerCUST-100045Response_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateVoetransactionForCustomerCUST-100045Request": {
        "title": "Voetransactions Request Body",
        "type": "object",
        "properties": {
          "reportId": {
            "type": "string",
            "description": "Unique identifier for the report.",
            "example": "STANDARD"
          },
          "accountIds": {
            "type": "string",
            "description": "Comma-separated list of account identifiers to be included in the report.",
            "example": "ACC-369086"
          },
          "reportCustomFields": {
            "type": "array",
            "description": "Custom fields associated with the report.",
            "example": [
              {
                "label": "STANDARD",
                "value": "STANDARD",
                "shown": true
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ReportCustomField"
            }
          },
          "fromDate": {
            "type": "integer",
            "description": "Timestamp representing the starting date for the report in UNIX format.",
            "format": "int32",
            "example": 1
          },
          "incomeStreamConfidenceMinimum": {
            "type": "integer",
            "description": "Minimum confidence level required for income streams.",
            "format": "int32",
            "example": 1
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for creating or processing transactions related to a customer.",
        "example": {
          "reportId": "STANDARD",
          "accountIds": "ACC-369086",
          "reportCustomFields": [
            {
              "label": "STANDARD",
              "value": "STANDARD",
              "shown": true
            }
          ],
          "fromDate": 1,
          "incomeStreamConfidenceMinimum": 1,
          "requestContext": {
            "requestId": "d8ad825e-bba1-5355-9008-fe53a0902a9b",
            "correlationId": "2c6985cc-97ef-58d2-909e-b0c30201cb9a",
            "idempotencyKey": "c0ea2b36-ea4b-5fe7-9d54-b19e977fbd1e",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-607423"
            }
          }
        }
      },
      "ReportCustomField": {
        "title": "Report Custom Field",
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "description": "The label of the custom field.",
            "example": "Custom Label"
          },
          "value": {
            "type": "string",
            "description": "The value associated with the custom field.",
            "example": "Custom Value"
          }
        },
        "description": "Schema representing a custom field in a report."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req_67890"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests across systems.",
            "example": "correlation_111"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotent operations.",
            "example": "idempotency_222"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier of the system that originated the request.",
            "example": "source_system_A"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application that made the request.",
            "example": "app_B"
          },
          "channel": {
            "description": "Details regarding the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information for the request processing."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel_333"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile, etc.).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used by the user.",
            "example": "device_444"
          }
        },
        "description": "Schema representing the channel details through which the request was made."
      },
      "CreateVoetransactionForCustomerCUST-100045Response_202": {
        "title": "Customer Transaction Response",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the transaction.",
            "example": "STANDARD"
          },
          "customerType": {
            "type": "string",
            "description": "Type of the customer (e.g., Individual, Business).",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "integer",
            "description": "Unique identifier for the customer.",
            "format": "int32",
            "example": 1
          },
          "requestId": {
            "type": "string",
            "description": "Identifier for the request associated with this transaction.",
            "example": "33121147-51e4-51b5-af66-8e2857c52590"
          },
          "requesterName": {
            "type": "string",
            "description": "Name of the person making the request.",
            "example": "Northstar Banking Service"
          },
          "endUser": {
            "description": "Details about the end user involved in the transaction.",
            "$ref": "#/components/schemas/EndUser"
          },
          "createdDate": {
            "type": "integer",
            "description": "Timestamp representing when the transaction was created.",
            "format": "int32",
            "example": 1
          },
          "title": {
            "type": "string",
            "description": "Title of the transaction.",
            "example": "Banking operation completed"
          },
          "consumerId": {
            "type": "string",
            "description": "Unique identifier for the consumer.",
            "example": "STANDARD"
          },
          "consumerSsn": {
            "type": "string",
            "description": "Social Security Number (SSN) of the consumer.",
            "example": "STANDARD"
          },
          "consumerDetails": {
            "description": "Details of the consumer associated with this transaction.",
            "$ref": "#/components/schemas/ConsumerDetails"
          },
          "disputeStatement": {
            "type": "string",
            "description": "Statement regarding any disputes related to the transaction.",
            "example": "STANDARD"
          },
          "type": {
            "type": "string",
            "description": "Type of transaction.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the transaction (e.g., Pending, Completed).",
            "example": "ACTIVE"
          },
          "constraints": {
            "description": "Constraints related to the transaction.",
            "$ref": "#/components/schemas/TransactionConstraints"
          },
          "metadata": {
            "description": "Metadata associated with the transaction.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for customer transactions.",
        "example": {
          "id": "STANDARD",
          "customerType": "STANDARD",
          "customerId": 1,
          "requestId": "33121147-51e4-51b5-af66-8e2857c52590",
          "requesterName": "Northstar Banking Service",
          "endUser": {
            "name": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "email": "olivia.bennett@northstar.example",
            "url": "https://banking.northstar.example/callbacks/status"
          },
          "createdDate": 1,
          "title": "Banking operation completed",
          "consumerId": "STANDARD",
          "consumerSsn": "STANDARD",
          "consumerDetails": {
            "id": "STANDARD",
            "firstName": "Northstar Banking Service",
            "middleName": "Northstar Banking Service",
            "lastName": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "ssn": "STANDARD",
            "email": "olivia.bennett@northstar.example"
          },
          "disputeStatement": "STANDARD",
          "type": "STANDARD",
          "status": "ACTIVE",
          "constraints": {
            "reportId": "STANDARD",
            "accountIds": [
              "ACC-167702"
            ],
            "reportCustomFields": [
              {
                "label": "STANDARD",
                "value": "STANDARD"
              }
            ]
          },
          "metadata": {
            "responseId": "503135d3-f836-55bd-a875-2164b602daef",
            "correlationId": "2c6985cc-97ef-58d2-909e-b0c30201cb9a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EndUser": {
        "title": "End User",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Full name of the end user.",
            "example": "John Doe"
          },
          "address": {
            "type": "string",
            "description": "Street address of the end user.",
            "example": "123 Main St"
          },
          "city": {
            "type": "string",
            "description": "City where the end user resides.",
            "example": "Anytown"
          },
          "state": {
            "type": "string",
            "description": "State where the end user resides.",
            "example": "CA"
          },
          "zip": {
            "type": "string",
            "description": "Zip code for the end user's address.",
            "example": "12345"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the end user.",
            "example": "555-1234"
          },
          "email": {
            "type": "string",
            "description": "Email address of the end user.",
            "example": "user@example.com"
          },
          "url": {
            "type": "string",
            "description": "Website URL related to the end user if applicable.",
            "example": "http://example.com"
          }
        },
        "description": "Schema representing the details of the end user."
      },
      "ConsumerDetails": {
        "title": "Consumer Details",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the consumer.",
            "example": "string"
          },
          "firstName": {
            "type": "string",
            "description": "First name of the consumer.",
            "example": "John"
          },
          "middleName": {
            "type": "string",
            "description": "Middle name of the consumer, if applicable.",
            "example": "A"
          },
          "lastName": {
            "type": "string",
            "description": "Last name of the consumer.",
            "example": "Doe"
          },
          "address": {
            "type": "string",
            "description": "Street address of the consumer.",
            "example": "456 Elm St"
          },
          "city": {
            "type": "string",
            "description": "City where the consumer resides.",
            "example": "Othertown"
          },
          "state": {
            "type": "string",
            "description": "State where the consumer resides.",
            "example": "NY"
          },
          "zip": {
            "type": "string",
            "description": "Zip code for the consumer's address.",
            "example": "67890"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the consumer.",
            "example": "555-5678"
          },
          "ssn": {
            "type": "string",
            "description": "Social Security Number of the consumer.",
            "example": "123-45-6789"
          },
          "email": {
            "type": "string",
            "description": "Email address of the consumer.",
            "example": "consumer@example.com"
          }
        },
        "description": "Schema representing detailed information about the consumer."
      },
      "TransactionConstraints": {
        "title": "Transaction Constraints",
        "type": "object",
        "properties": {
          "reportId": {
            "type": "string",
            "description": "Identifier for the report associated with the constraints.",
            "example": "report123"
          },
          "accountIds": {
            "type": "array",
            "description": "Array of account identifiers associated with the transaction.",
            "items": {
              "type": "string",
              "example": "account123"
            }
          },
          "reportCustomFields": {
            "type": "array",
            "description": "Custom fields included in the report.",
            "items": {
              "$ref": "#/components/schemas/ReportCustomField"
            }
          }
        },
        "description": "Schema representing the constraints associated with a transaction."
      },
      "Metadata": {
        "title": "Transaction Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate different calls.",
            "example": "correlation123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the processing occurred.",
            "example": "us-west"
          }
        },
        "description": "Schema representing various metadata for a transaction."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint to which this request is directed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-generate-voe-transactions-report"
        },
        "example": "open-finance-api-generate-voe-transactions-report"
      },
      "X-Runtime-App": {
        "description": "Name of the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses HTTP Bearer authentication with a JSON Web Token (JWT). Clients must include a valid JWT in the authorization header to authenticate requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}