{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Savings Account Creation API",
    "description": "The Savings Account Creation API allows financial institutions to seamlessly open new savings accounts for customers. This endpoint facilitates the registration process, capturing essential customer details and preferences for tailored savings solutions. Typical users include bank employees and financial service providers who require an efficient method to onboard customers and manage their savings needs. By leveraging this API, businesses can enhance customer satisfaction and streamline account management workflows.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customers/{customerId}/savings-accounts": {
      "post": {
        "tags": [
          "Customer Banking"
        ],
        "summary": "Create a new savings account for a specific customer.",
        "description": "This operation allows you to create a new savings account associated with the customer identified by their unique ID, enhancing their banking services and account options.",
        "operationId": "createSavingsAccountForCustomerCUST100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "description": "The request body must specify the details necessary to create a new savings account for the customer identified by CUST-100045. It should include relevant information such as account type, initial deposit amount, and any specific settings for the savings account.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSavingsAccountForCustomerCUST100045Request"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Savings account created successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSavingsAccountForCustomerCUST100045Response_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateSavingsAccountForCustomerCUST100045Request": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-660286"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the savings account.",
            "example": "ACC-348801"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product type for the savings account.",
            "example": "CHK-PREMIUM-US"
          },
          "principal": {
            "description": "The principal amount and currency for the savings account.",
            "$ref": "#/components/schemas/Principal"
          },
          "termMonths": {
            "type": "integer",
            "description": "The duration in months for the savings account term.",
            "format": "int32",
            "example": 1
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "Frequency of repayments for associated products.",
            "example": "STANDARD"
          },
          "accountPurpose": {
            "type": "string",
            "description": "The purpose of the savings account.",
            "example": "STANDARD"
          },
          "statementFrequency": {
            "type": "string",
            "description": "Frequency of account statements.",
            "example": "STANDARD"
          },
          "overdraftAllowed": {
            "type": "boolean",
            "description": "Indicates whether overdraft is allowed on the savings account.",
            "example": true
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for creating a new savings account for a customer.",
        "example": {
          "customerId": "CUST-660286",
          "accountId": "ACC-348801",
          "productCode": "CHK-PREMIUM-US",
          "principal": {
            "amount": 100.0,
            "currency": "USD"
          },
          "termMonths": 1,
          "repaymentFrequency": "STANDARD",
          "accountPurpose": "STANDARD",
          "statementFrequency": "STANDARD",
          "overdraftAllowed": true,
          "requestContext": {
            "requestId": "ec71ec32-cd70-5635-825a-ca34fa93f087",
            "correlationId": "3688a6c1-5d1c-5e55-b742-a80fc6618fd3",
            "idempotencyKey": "79354dda-8972-58a4-9962-ab0ce46db94f",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-820231"
            }
          }
        }
      },
      "Principal": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount of money in the principal.",
            "example": 1000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency of the principal amount.",
            "example": "USD"
          }
        },
        "description": "Schema representing the principal amount and currency."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ-789012"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate logs across systems.",
            "example": "CORR-345678"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of the request.",
            "example": "IDEMP-901234"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "WebApp"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application from which the request originated.",
            "example": "SavingsApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the communication channel.",
            "example": "CH-567890"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used for the request (e.g., web, mobile).",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the request.",
            "example": "DEV-123456"
          }
        },
        "description": "Schema representing the channel information for the request."
      },
      "CreateSavingsAccountForCustomerCUST100045Response_201": {
        "title": "Savings Account Operation Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-472918"
          },
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the savings account.",
            "example": "ACC-938134"
          },
          "productCode": {
            "type": "string",
            "description": "The product code associated with the savings account.",
            "example": "CHK-PREMIUM-US"
          },
          "resourceId": {
            "type": "string",
            "description": "A unique resource identifier for the operation.",
            "example": "RES-918322"
          },
          "status": {
            "type": "string",
            "description": "The current status of the savings account operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp indicating when the savings account was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the savings account operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for savings account operations indicating the status and details of the account created or updated.",
        "example": {
          "customerId": "CUST-472918",
          "accountId": "ACC-938134",
          "productCode": "CHK-PREMIUM-US",
          "resourceId": "RES-918322",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "03081dc5-2b4f-520e-9cea-b0f7e1822793",
            "correlationId": "3688a6c1-5d1c-5e55-b742-a80fc6618fd3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Operation Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating related requests and responses.",
            "example": "CORR-789012"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the operation was processed.",
            "example": "US-East"
          }
        },
        "description": "Metadata related to the operation for tracking and processing purposes."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the API endpoint that was called during the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "savings-account-create-savings-account"
        },
        "example": "savings-account-create-savings-account"
      },
      "X-Runtime-App": {
        "description": "Identifier for the runtime application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      },
      "X-Workflow-Id": {
        "description": "Unique identifier for the workflow that was executed in response to the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-003"
        },
        "example": "WF-003"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow that is associated with the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Savings Account Opening and Initial Funding"
        },
        "example": "Savings Account Opening and Initial Funding"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow, indicating its progress.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the execution instance of the workflow.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "6f67c16d-d7e3-45ad-982b-4e50c3868dd1"
        },
        "example": "6f67c16d-d7e3-45ad-982b-4e50c3868dd1"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes HTTP Bearer authentication, allowing users to access secured endpoints by providing a JSON Web Token (JWT) as a means of identification and authorization.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}