{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Merchant Activation API",
    "description": "The Merchant Activation API facilitates the process of activating a merchant's account within the platform. This operation allows businesses to enable their merchants, providing them access to necessary features and services. It is commonly used by staff overseeing merchant onboarding and account management. By leveraging this API, organizations can streamline the activation process, ensuring that merchants can start transacting and engaging with the platform efficiently.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/merchants/{merchantId}/activate": {
      "post": {
        "tags": [
          "Merchant Management"
        ],
        "summary": "Activate a Merchant",
        "description": "This endpoint activates a merchant with the specified ID, enabling them to start processing transactions. Ensure that all required verification steps are completed prior to activation.",
        "operationId": "activateMerchantMer800045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/merchantId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to activate a specific merchant identified by MER-800045. It requires validation parameters to ensure the activation process is conducted correctly.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActivateMerchantMer800045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, merchant activated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivateMerchantMer800045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ActivateMerchantMer800045Request": {
        "title": "Merchant Activation Request",
        "type": "object",
        "properties": {
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the activation takes effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "reason": {
            "type": "string",
            "description": "The reason for the activation of the merchant.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information for the request, including identifiers and metadata.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the request body to activate a merchant, including details about the activation effective date, reason, and context of the request.",
        "example": {
          "effectiveAt": "2026-09-15T14:30:00Z",
          "reason": "STANDARD",
          "requestContext": {
            "requestId": "0620a300-2463-5fbb-8d2a-bfb49016a453",
            "correlationId": "f26be6fb-3046-5000-8829-fc7033bc54a7",
            "idempotencyKey": "4e73a352-a2d8-559c-a22f-a706fe7ad92d",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-947432"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to trace the complete request across multiple systems.",
            "example": "corr-67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key that ensures the request is processed only once.",
            "example": "idemp-abcde"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that originated the request.",
            "example": "Internal CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request was initiated.",
            "example": "Merchant Management App"
          },
          "channel": {
            "description": "Information about the communication channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema that encapsulates the contextual details surrounding a specific request."
      },
      "Channel": {
        "title": "Communication Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "chan-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device from which the request was made.",
            "example": "device-123456"
          }
        },
        "description": "Schema representing the channel through which the request was made."
      },
      "ActivateMerchantMer800045Response_200": {
        "title": "Merchant Activation Response",
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "A unique identifier for the merchant.",
            "example": "MER-385417"
          },
          "business": {
            "description": "Details about the merchant's business.",
            "$ref": "#/components/schemas/Business"
          },
          "registeredAddress": {
            "description": "The registered address of the merchant.",
            "$ref": "#/components/schemas/Address"
          },
          "contact": {
            "description": "Contact information for the merchant.",
            "$ref": "#/components/schemas/Contact"
          },
          "status": {
            "type": "string",
            "description": "The current status of the merchant.",
            "example": "ACTIVE"
          },
          "kybStatus": {
            "type": "string",
            "description": "Know Your Business status of the merchant.",
            "example": "ACTIVE"
          },
          "amlStatus": {
            "type": "string",
            "description": "Anti-Money Laundering status of the merchant.",
            "example": "ACTIVE"
          },
          "capabilities": {
            "description": "The capabilities supported by the merchant.",
            "$ref": "#/components/schemas/MerchantCapabilities"
          },
          "commercialTerms": {
            "description": "Commercial terms and conditions for the merchant.",
            "$ref": "#/components/schemas/CommercialTerms"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for activating a merchant.",
        "example": {
          "merchantId": "MER-385417",
          "business": {
            "legalName": "Olivia Bennett",
            "tradingName": "Northstar Banking Service",
            "registrationNumber": "NY-4587219",
            "taxIdentificationNumber": "STANDARD",
            "incorporationCountry": "STANDARD",
            "incorporationDate": "2026-09-15",
            "merchantType": "STANDARD",
            "merchantCategoryCode": "5411"
          },
          "registeredAddress": {
            "line1": "350 Fifth Avenue",
            "line2": "Suite 4200",
            "city": "New York",
            "stateOrProvince": "STANDARD",
            "postalCode": "10001",
            "country": "STANDARD"
          },
          "contact": {
            "email": "olivia.bennett@northstar.example",
            "phone": "+1-212-555-0147",
            "website": "https://example.com/resource"
          },
          "status": "ACTIVE",
          "kybStatus": "ACTIVE",
          "amlStatus": "ACTIVE",
          "capabilities": {
            "channels": [
              "STANDARD"
            ],
            "paymentMethods": [
              "STANDARD"
            ],
            "supportsPartialCapture": true,
            "supportsPartialRefund": true,
            "supportsTips": true,
            "supportsSplitPayments": true,
            "supportsRecurringPayments": true,
            "maximumTipPercentage": "STANDARD"
          },
          "commercialTerms": {
            "pricingPlanId": "STANDARD",
            "feeBearer": "STANDARD",
            "paymentFee": {
              "type": "STANDARD",
              "percentage": "STANDARD",
              "fixedAmount": {
                "currency": "USD",
                "value": "STANDARD"
              }
            }
          },
          "metadata": {
            "responseId": "7604bf32-fde1-5207-9bfc-8dac3a55574e",
            "correlationId": "f26be6fb-3046-5000-8829-fc7033bc54a7",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Business": {
        "title": "Business Information",
        "type": "object",
        "properties": {
          "legalName": {
            "type": "string",
            "description": "The legal name of the business.",
            "example": "string"
          },
          "tradingName": {
            "type": "string",
            "description": "The trading name of the business.",
            "example": "string"
          },
          "registrationNumber": {
            "type": "string",
            "description": "Business registration number.",
            "example": "string"
          },
          "taxIdentificationNumber": {
            "type": "string",
            "description": "Tax identification number of the business.",
            "example": "string"
          },
          "incorporationCountry": {
            "type": "string",
            "description": "Country of incorporation for the business.",
            "example": "string"
          },
          "incorporationDate": {
            "type": "string",
            "description": "Date of incorporation for the business.",
            "example": "string"
          },
          "merchantType": {
            "type": "string",
            "description": "Type of the merchant.",
            "example": "string"
          },
          "merchantCategoryCode": {
            "type": "string",
            "description": "Merchant category code.",
            "example": "string"
          }
        },
        "description": "Detailed information about the business of the merchant."
      },
      "Address": {
        "title": "Registered Address",
        "type": "object",
        "properties": {
          "line1": {
            "type": "string",
            "description": "First line of the address.",
            "example": "string"
          },
          "line2": {
            "type": "string",
            "description": "Second line of the address.",
            "example": "string"
          },
          "city": {
            "type": "string",
            "description": "City of the registered address.",
            "example": "string"
          },
          "stateOrProvince": {
            "type": "string",
            "description": "State or province of the registered address.",
            "example": "string"
          },
          "postalCode": {
            "type": "string",
            "description": "Postal code of the registered address.",
            "example": "string"
          },
          "country": {
            "type": "string",
            "description": "Country of the registered address.",
            "example": "string"
          }
        },
        "description": "Details about the registered address of the merchant."
      },
      "Contact": {
        "title": "Contact Information",
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "Email contact for the merchant.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "Phone contact for the merchant.",
            "example": "string"
          },
          "website": {
            "type": "string",
            "description": "Website of the merchant.",
            "example": "string"
          }
        },
        "description": "Contact details for the merchant."
      },
      "MerchantCapabilities": {
        "title": "Merchant Capabilities",
        "type": "object",
        "properties": {
          "channels": {
            "type": "array",
            "description": "List of payment channels supported by the merchant.",
            "items": {
              "type": "string",
              "example": "string"
            }
          },
          "paymentMethods": {
            "type": "array",
            "description": "List of payment methods supported by the merchant.",
            "items": {
              "type": "string",
              "example": "string"
            }
          },
          "supportsPartialCapture": {
            "type": "boolean",
            "description": "Indicates if the merchant supports partial capture of payments.",
            "example": false
          },
          "supportsPartialRefund": {
            "type": "boolean",
            "description": "Indicates if the merchant supports partial refunds.",
            "example": false
          },
          "supportsTips": {
            "type": "boolean",
            "description": "Indicates if the merchant supports tips.",
            "example": false
          },
          "supportsSplitPayments": {
            "type": "boolean",
            "description": "Indicates if the merchant supports split payments.",
            "example": false
          },
          "supportsRecurringPayments": {
            "type": "boolean",
            "description": "Indicates if the merchant supports recurring payments.",
            "example": false
          },
          "maximumTipPercentage": {
            "type": "string",
            "description": "Maximum percentage allowed for tips.",
            "example": "string"
          }
        },
        "description": "Capabilities and features supported by the merchant."
      },
      "CommercialTerms": {
        "title": "Commercial Terms",
        "type": "object",
        "properties": {
          "pricingPlanId": {
            "type": "string",
            "description": "The ID of the pricing plan applicable to the merchant.",
            "example": "string"
          },
          "feeBearer": {
            "type": "string",
            "description": "Indicates who bears the fees.",
            "example": "string"
          },
          "paymentFee": {
            "description": "Details about the payment fees charged.",
            "$ref": "#/components/schemas/PaymentFee"
          }
        },
        "description": "Commercial terms and fees applicable to the merchant."
      },
      "PaymentFee": {
        "title": "Payment Fee",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of fee (e.g., fixed, percentage).",
            "example": "string"
          },
          "percentage": {
            "type": "string",
            "description": "Percentage of the fee, if applicable.",
            "example": "string"
          },
          "fixedAmount": {
            "description": "Fixed amount charged as a fee, if applicable.",
            "$ref": "#/components/schemas/FixedAmount"
          }
        },
        "description": "Details regarding the fees applicable to payments."
      },
      "FixedAmount": {
        "title": "Fixed Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency of the fixed amount.",
            "example": "string"
          },
          "value": {
            "type": "string",
            "description": "Value of the fixed amount.",
            "example": "string"
          }
        },
        "description": "Details of a fixed amount fee, including currency and value."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Metadata related to the response of the request."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "merchantId": {
        "name": "merchantId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-activate-merchant"
        },
        "example": "banking-p2m-openapi-activate-merchant"
      },
      "X-Runtime-App": {
        "description": "Indicates the name of the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method with JSON Web Tokens (JWT). Clients must include a valid JWT in the authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}