{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Standing Orders Management API",
    "description": "The Standing Orders Management API provides tools for retrieving information about standing orders within a financial institution. This endpoint allows consumers to access details related to existing standing orders, enabling users to monitor regular payment schedules effectively. It is particularly useful for developers integrating financial services into applications, such as budgeting tools or payment management systems. Typical users include fintech developers and financial advisors looking to enhance client payment tracking capabilities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/aisp/standing-orders": {
      "get": {
        "tags": [
          "Standing Orders Management"
        ],
        "summary": "Retrieve all standing orders.",
        "description": "This endpoint allows you to retrieve a list of all standing orders associated with the specified account. Use this to monitor and manage your standing orders more effectively.",
        "operationId": "getAispStandingOrders",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This is the request body for retrieving standing orders via the AISP (Account Information Service Provider) API. It is used to specify any parameters needed to fetch relevant standing order details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAispStandingOrdersRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of standing orders.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAispStandingOrdersResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetAispStandingOrdersRequest": {
        "type": "string",
        "description": "This schema represents the request body expected in a GET operation for standing orders.",
        "example": "{}"
      },
      "GetAispStandingOrdersResponse_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "StandingOrder": {
                "type": "array",
                "description": "List of standing orders.",
                "items": {
                  "$ref": "#/components/schemas/StandingOrder"
                }
              }
            },
            "description": "Contains the details of the standing orders.",
            "example": {
              "StandingOrder": [
                {
                  "AccountId": "ACC-131739",
                  "id": "STANDARD",
                  "NextPaymentDateTime": "2026-09-15T14:30:00Z",
                  "LastPaymentDateTime": "2026-09-15T14:30:00Z",
                  "NumberOfPayments": "STANDARD",
                  "statusCode": "CODE-261",
                  "FirstPaymentAmount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  },
                  "NextPaymentAmount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  },
                  "LastPaymentAmount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  },
                  "FinalPaymentAmount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  },
                  "CreditorAgent": {
                    "SchemeName": "Northstar Banking Service",
                    "Identification": "STANDARD",
                    "Name": "Northstar Banking Service",
                    "PostalAddress": {
                      "AddressType": "STANDARD",
                      "Department": "STANDARD",
                      "SubDepartment": "STANDARD",
                      "StreetName": "Northstar Banking Service",
                      "BuildingNumber": "STANDARD",
                      "BuildingName": "Northstar Banking Service",
                      "Floor": "STANDARD",
                      "UnitNumber": "STANDARD",
                      "Room": "STANDARD",
                      "PostBox": "STANDARD",
                      "TownLocationName": "Northstar Banking Service",
                      "DistrictName": "Northstar Banking Service",
                      "CareOf": "STANDARD",
                      "PostCode": "CODE-775",
                      "TownName": "Northstar Banking Service",
                      "CountrySubDivision": "STANDARD",
                      "Country": "STANDARD",
                      "AddressLine": [
                        "STANDARD"
                      ]
                    }
                  }
                }
              ]
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving standing orders via the GET operation.",
        "example": {
          "Data": {
            "StandingOrder": [
              {
                "AccountId": "ACC-131739",
                "id": "STANDARD",
                "NextPaymentDateTime": "2026-09-15T14:30:00Z",
                "LastPaymentDateTime": "2026-09-15T14:30:00Z",
                "NumberOfPayments": "STANDARD",
                "statusCode": "CODE-261",
                "FirstPaymentAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "NextPaymentAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "LastPaymentAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "FinalPaymentAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "CreditorAgent": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "PostalAddress": {
                    "AddressType": "STANDARD",
                    "Department": "STANDARD",
                    "SubDepartment": "STANDARD",
                    "StreetName": "Northstar Banking Service",
                    "BuildingNumber": "STANDARD",
                    "BuildingName": "Northstar Banking Service",
                    "Floor": "STANDARD",
                    "UnitNumber": "STANDARD",
                    "Room": "STANDARD",
                    "PostBox": "STANDARD",
                    "TownLocationName": "Northstar Banking Service",
                    "DistrictName": "Northstar Banking Service",
                    "CareOf": "STANDARD",
                    "PostCode": "CODE-775",
                    "TownName": "Northstar Banking Service",
                    "CountrySubDivision": "STANDARD",
                    "Country": "STANDARD",
                    "AddressLine": [
                      "STANDARD"
                    ]
                  }
                }
              }
            ]
          },
          "metadata": {
            "responseId": "8854f9ba-03bf-5059-9725-b1e02772840b",
            "correlationId": "dab6e2db-d4c3-5f38-aeac-5845bd696e07",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "StandingOrder": {
        "type": "object",
        "properties": {
          "AccountId": {
            "type": "string",
            "description": "Unique identifier of the account associated with the standing order."
          },
          "id": {
            "type": "string",
            "description": "Unique identifier of the standing order."
          },
          "NextPaymentDateTime": {
            "type": "string",
            "description": "Date and time of the next payment for the standing order."
          },
          "LastPaymentDateTime": {
            "type": "string",
            "description": "Date and time of the last payment made for the standing order."
          },
          "NumberOfPayments": {
            "type": "string",
            "description": "Total number of payments planned for the standing order."
          },
          "statusCode": {
            "type": "string",
            "description": "Current status of the standing order."
          },
          "FirstPaymentAmount": {
            "$ref": "#/components/schemas/PaymentAmount"
          },
          "NextPaymentAmount": {
            "$ref": "#/components/schemas/PaymentAmount"
          },
          "LastPaymentAmount": {
            "$ref": "#/components/schemas/PaymentAmount"
          },
          "FinalPaymentAmount": {
            "$ref": "#/components/schemas/PaymentAmount"
          },
          "CreditorAgent": {
            "$ref": "#/components/schemas/CreditorAgent"
          }
        },
        "description": "Represents a single standing order."
      },
      "PaymentAmount": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The actual amount of the payment."
          },
          "Currency": {
            "type": "string",
            "description": "The currency code for the payment amount."
          }
        },
        "description": "Represents an amount of payment with its currency."
      },
      "CreditorAgent": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "Name of the scheme under which the creditor operates."
          },
          "Identification": {
            "type": "string",
            "description": "Unique identification of the creditor agent."
          },
          "Name": {
            "type": "string",
            "description": "Name of the creditor agent."
          },
          "PostalAddress": {
            "$ref": "#/components/schemas/PostalAddress"
          }
        },
        "description": "Details of the creditor agent associated with the standing order."
      },
      "PostalAddress": {
        "type": "object",
        "properties": {
          "AddressType": {
            "type": "string",
            "description": "Type of the address (e.g., residential, business)."
          },
          "Department": {
            "type": "string",
            "description": "Department name, if applicable."
          },
          "SubDepartment": {
            "type": "string",
            "description": "Sub-department name, if applicable."
          },
          "StreetName": {
            "type": "string",
            "description": "Name of the street."
          },
          "BuildingNumber": {
            "type": "string",
            "description": "Building number."
          },
          "BuildingName": {
            "type": "string",
            "description": "Name of the building."
          },
          "Floor": {
            "type": "string",
            "description": "Floor number."
          },
          "UnitNumber": {
            "type": "string",
            "description": "Unit number."
          },
          "Room": {
            "type": "string",
            "description": "Room number."
          },
          "PostBox": {
            "type": "string",
            "description": "Post box number."
          },
          "TownLocationName": {
            "type": "string",
            "description": "Name of the town location."
          },
          "DistrictName": {
            "type": "string",
            "description": "Name of the district."
          },
          "CareOf": {
            "type": "string",
            "description": "Care of name, if applicable."
          },
          "PostCode": {
            "type": "string",
            "description": "Postal code."
          },
          "TownName": {
            "type": "string",
            "description": "Name of the town."
          },
          "CountrySubDivision": {
            "type": "string",
            "description": "Subdivision of the country."
          },
          "Country": {
            "type": "string",
            "description": "Name of the country."
          },
          "AddressLine": {
            "type": "array",
            "description": "List of address lines.",
            "items": {
              "type": "string"
            }
          }
        },
        "description": "Represents the postal address of the creditor agent."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed."
          }
        },
        "description": "Metadata for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-api-get-standing-orders"
        },
        "example": "accounts-api-get-standing-orders"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses bearer tokens, specifically JSON Web Tokens (JWT). This scheme allows secure transmission of claims between parties.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}