{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Enterprise Security Advisory API",
    "description": "The Enterprise Security Advisory API provides organizations with critical insights into security vulnerabilities and best practices. It allows users to access detailed security advisories related to enterprise services in the banking sector, enabling them to proactively manage risks. Typical consumers include security teams, compliance officers, and IT staff who need access to up-to-date security information for informed decision-making. This API is essential for enhancing security measures and ensuring compliance with industry standards.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/enterprise-services/security-advisory": {
      "get": {
        "tags": [
          "Enterprise Services"
        ],
        "summary": "Retrieve a list of security advisories for enterprise services.",
        "description": "This endpoint allows users to fetch detailed information about security advisories related to various enterprise services, helping organizations stay informed about potential vulnerabilities and necessary mitigations.",
        "operationId": "getSecurityAdvisory",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving security advisory information from the enterprise services API. Ensure the data conforms to the expected schema to retrieve the correct advisory information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSecurityAdvisoryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved security advisory details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSecurityAdvisoryResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetSecurityAdvisoryRequest": {
        "type": "string",
        "description": "This schema represents the request body for the security advisory operations GET request in the enterprise services.",
        "example": "{}"
      },
      "GetSecurityAdvisoryResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of security advisory items.",
            "example": [
              {
                "engagementId": "STANDARD",
                "scope": "STANDARD",
                "framework": "STANDARD",
                "engagementOwnerId": "STANDARD",
                "plannedStartDate": "2026-09-15",
                "targetCompletionDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/SecurityAdvisoryItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sort order of the advisory items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the security advisory operations GET request, containing a list of advisory items and pagination information.",
        "example": {
          "items": [
            {
              "engagementId": "STANDARD",
              "scope": "STANDARD",
              "framework": "STANDARD",
              "engagementOwnerId": "STANDARD",
              "plannedStartDate": "2026-09-15",
              "targetCompletionDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "38347fd2-0381-5f53-9652-72d2d534d075",
            "correlationId": "8a7418bb-b48a-5b84-9cb4-76c9a997c22b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "SecurityAdvisoryItem": {
        "type": "object",
        "properties": {
          "engagementId": {
            "type": "string",
            "description": "The unique identifier for the engagement associated with the advisory."
          },
          "scope": {
            "type": "string",
            "description": "The scope of the security engagement."
          },
          "framework": {
            "type": "string",
            "description": "The framework followed during the advisory engagement."
          },
          "engagementOwnerId": {
            "type": "string",
            "description": "The identifier of the owner of the engagement."
          },
          "plannedStartDate": {
            "type": "string",
            "description": "The planned start date of the engagement."
          },
          "targetCompletionDate": {
            "type": "string",
            "description": "The target completion date for the engagement."
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the engagement record."
          },
          "updatedAt": {
            "type": "string",
            "description": "The last updated timestamp of the engagement."
          }
        },
        "description": "Schema representing a single security advisory item."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the paginated response.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available in the entire dataset.",
            "format": "int32"
          }
        },
        "description": "Schema representing pagination information for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier used to track requests."
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the processing occurred."
          }
        },
        "description": "Schema representing additional metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "security-advisory-search-security-advisory"
        },
        "example": "security-advisory-search-security-advisory"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "An authentication scheme that uses a JSON Web Token (JWT) for user authentication. The client must include the token in the Authorization header as a 'Bearer' token.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}