{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Balance Sheet Overview API",
    "description": "The Balance Sheet Overview API enables users to access detailed insights into their balance sheet management. By retrieving real-time data on assets, liabilities, and equity, financial institutions can assess their fiscal health and make informed decisions. This API is particularly useful for financial analysts and treasury managers who require up-to-date information to facilitate effective financial planning and reporting. It supports operations related to comprehensive balance sheet evaluations, providing the necessary resources for strategic financial management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/treasury/balance-sheet-management/{param1}": {
      "get": {
        "tags": [
          "Treasury Management"
        ],
        "summary": "Retrieve Balance Sheet Management Details",
        "description": "This endpoint allows users to retrieve detailed information about the balance sheet management for the specified resource. It provides insights and analytics crucial for effective financial decision-making.",
        "operationId": "getTreasuryBalanceSheetManagementRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve data related to the balance sheet management for the specified resource. It conforms to the expected schema, enabling clients to request specific information effectively.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetTreasuryBalanceSheetManagementRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the current balance sheet data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTreasuryBalanceSheetManagementRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetTreasuryBalanceSheetManagementRes100045Request": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to the balance sheet management in the treasury system.",
        "example": "{}"
      },
      "GetTreasuryBalanceSheetManagementRes100045Response_200": {
        "title": "Balance Sheet Management Response",
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "The unique identifier for the portfolio.",
            "example": "PORT-917043"
          },
          "instrumentId": {
            "type": "string",
            "description": "The unique identifier for the financial instrument.",
            "example": "STANDARD"
          },
          "counterpartyId": {
            "type": "string",
            "description": "The unique identifier for the counterparty involved in the transaction.",
            "example": "PARTY-698283"
          },
          "notionalAmount": {
            "description": "The notional amount related to the financial transaction.",
            "$ref": "#/components/schemas/NotionalAmount"
          },
          "maturityDate": {
            "type": "string",
            "description": "The date when the financial instrument matures.",
            "format": "date",
            "example": 1789430400000
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record (e.g., active, inactive).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the record was last updated.",
            "format": "date-time",
            "example": 1789482600.0
          },
          "metadata": {
            "description": "Additional metadata associated with the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for balance sheet management operations.",
        "example": {
          "portfolioId": "PORT-917043",
          "instrumentId": "STANDARD",
          "counterpartyId": "PARTY-698283",
          "notionalAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "maturityDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "e7ecef88-8b6e-56fa-b307-793d9853b26d",
            "correlationId": "d4202ae4-2b26-502b-9ac5-c6b4b33eff77",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "NotionalAmount": {
        "title": "Notional Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount of the financial transaction.",
            "example": 1000000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency of the notional amount (e.g., USD, EUR).",
            "example": "USD"
          }
        },
        "description": "Represents the notional amount of a financial transaction."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "response_56789"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to correlate logs for tracking purposes.",
            "example": "correlation_xyz"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "format": "date-time",
            "example": 1693569600.0
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "us-west"
          }
        },
        "description": "Contains metadata associated with the balance sheet management response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "asset-and-liability-management-get-asset-and-liability-management"
        },
        "example": "asset-and-liability-management-get-asset-and-liability-management"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication, where the client must include a JWT (JSON Web Token) in the Authorization header of requests to gain access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}