{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Manage Loan Details API",
    "description": "The Manage Loan Details API allows users to update specific attributes of an existing loan identified by its unique loanId. This endpoint supports adjustments to key loan parameters, providing financial institutions and lenders with the flexibility to respond to borrower requests or change conditions as needed. Typical consumers include loan officers and financial service applications that manage loan portfolios. This API helps ensure that loan information remains current and accurately reflects any modifications required during the loan lifecycle.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loans/{loanId}": {
      "patch": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Update loan details",
        "description": "This endpoint allows you to update the details of a specific loan identified by its unique ID. You can modify various attributes of the loan record.",
        "operationId": "patchLoanById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/loanId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the details of a specific loan identified by LOAN-500045. It requires a JSON payload that conforms to the specified schema, including fields relevant to the loan's operations and attributes.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchLoanByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, loan details updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchLoanByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchLoanByIdRequest": {
        "title": "Loan Update Request Body",
        "type": "object",
        "properties": {
          "repaymentAccountNumber": {
            "type": "string",
            "description": "The account number used for loan repayments.",
            "example": "STANDARD"
          },
          "servicingBranchCode": {
            "type": "string",
            "description": "The branch code where the loan is being serviced.",
            "example": "CODE-591"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "Identifier for the relationship manager handling the loan.",
            "example": "STANDARD"
          },
          "preferredRepaymentDay": {
            "type": "integer",
            "description": "The day of the month when the borrower prefers to make loan repayments.",
            "format": "int32",
            "example": 1
          },
          "collectionStrategy": {
            "type": "string",
            "description": "The strategy for collecting repayments on the loan.",
            "example": "STANDARD"
          },
          "servicingNotes": {
            "type": "string",
            "description": "Any additional notes regarding the servicing of the loan.",
            "example": "STANDARD"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for updating loan operations.",
        "example": {
          "repaymentAccountNumber": "STANDARD",
          "servicingBranchCode": "CODE-591",
          "relationshipManagerId": "STANDARD",
          "preferredRepaymentDay": 1,
          "collectionStrategy": "STANDARD",
          "servicingNotes": "STANDARD",
          "requestContext": {
            "requestId": "5c3da44f-d797-503a-85f8-1fc1d84271d0",
            "correlationId": "c53b5cf0-99d1-5f9b-bb72-00b639453d85",
            "idempotencyKey": "18c666e8-c3d4-547f-a85e-42f4f3908a8d",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-946243"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating related requests.",
            "example": "corr-001"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the request is idempotent.",
            "example": "idempotent-001"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-01-01T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Source system from which the request originated.",
            "example": "CoreBankingSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application that initiated the request.",
            "example": "LoanManagementApp"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information regarding the request made for the loan operation."
      },
      "Channel": {
        "title": "Request Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel used for the request.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., Online, Mobile, Branch).",
            "example": "Online"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request, if applicable.",
            "example": "device-001"
          }
        },
        "description": "Information about the channel through which the request was made."
      },
      "PatchLoanByIdResponse_200": {
        "title": "Loan Operations Response",
        "type": "object",
        "properties": {
          "sourceApplicationId": {
            "type": "string",
            "description": "Identifier for the source application initiating the loan operation.",
            "example": "APP-533851"
          },
          "productId": {
            "type": "string",
            "description": "Unique identifier for the loan product.",
            "example": "PROD-520709"
          },
          "primaryCustomerId": {
            "type": "string",
            "description": "Identifier for the primary customer associated with the loan.",
            "example": "CUST-196325"
          },
          "borrowerCustomerIds": {
            "type": "array",
            "description": "List of identifiers for borrower customers associated with the loan.",
            "example": [
              "CUST-383985"
            ],
            "items": {
              "type": "string",
              "example": "customer_101"
            }
          },
          "principal": {
            "description": "The principal amount of the loan.",
            "$ref": "#/components/schemas/LoanAmount"
          },
          "termMonths": {
            "type": "integer",
            "description": "Duration of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "annualInterestRatePercent": {
            "type": "string",
            "description": "Annual interest rate for the loan expressed as a percentage.",
            "example": "STANDARD"
          },
          "interestRateType": {
            "type": "string",
            "description": "Type of interest rate (e.g., fixed, variable).",
            "example": "STANDARD"
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "The frequency at which loan repayments are scheduled.",
            "example": "STANDARD"
          },
          "bookingDate": {
            "type": "string",
            "description": "Date when the loan was booked.",
            "example": "2026-09-15"
          },
          "firstPaymentDate": {
            "type": "string",
            "description": "Date when the first payment is due.",
            "example": "2026-09-15"
          },
          "maturityDate": {
            "type": "string",
            "description": "Date when the loan matures.",
            "example": "2026-09-15"
          },
          "repaymentAccountNumber": {
            "type": "string",
            "description": "Account number from which repayments will be made.",
            "example": "STANDARD"
          },
          "servicingBranchCode": {
            "type": "string",
            "description": "Branch code for servicing the loan.",
            "example": "CODE-346"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "Identifier for the relationship manager overseeing the loan.",
            "example": "STANDARD"
          },
          "purpose": {
            "type": "string",
            "description": "Purpose for which the loan is taken.",
            "example": "STANDARD"
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the loan.",
            "example": "cb10dbc2-ae36-3433-d702-51ae17080522"
          },
          "accountNumber": {
            "type": "string",
            "description": "Account number associated with the loan.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the loan.",
            "example": "ACTIVE"
          },
          "balance": {
            "description": "Current balance details of the loan.",
            "$ref": "#/components/schemas/LoanBalance"
          },
          "totalDisbursed": {
            "description": "Total amount disbursed for the loan.",
            "$ref": "#/components/schemas/LoanAmount"
          },
          "totalRepaid": {
            "description": "Total amount repaid for the loan.",
            "$ref": "#/components/schemas/LoanAmount"
          },
          "metadata": {
            "description": "Meta information regarding the loan processing.",
            "$ref": "#/components/schemas/LoanMetadata"
          }
        },
        "description": "Represents the response structure for loan operations.",
        "example": {
          "sourceApplicationId": "APP-533851",
          "productId": "PROD-520709",
          "primaryCustomerId": "CUST-196325",
          "borrowerCustomerIds": [
            "CUST-383985"
          ],
          "principal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "termMonths": 1,
          "annualInterestRatePercent": "STANDARD",
          "interestRateType": "STANDARD",
          "repaymentFrequency": "STANDARD",
          "bookingDate": "2026-09-15",
          "firstPaymentDate": "2026-09-15",
          "maturityDate": "2026-09-15",
          "repaymentAccountNumber": "STANDARD",
          "servicingBranchCode": "CODE-346",
          "relationshipManagerId": "STANDARD",
          "purpose": "STANDARD",
          "id": "cb10dbc2-ae36-3433-d702-51ae17080522",
          "accountNumber": "STANDARD",
          "status": "ACTIVE",
          "balance": {
            "principalOutstanding": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "accruedInterest": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "feesOutstanding": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "penaltiesOutstanding": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "totalOutstanding": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "availableToDraw": {
              "currency": "USD",
              "amount": "1250.75"
            }
          },
          "totalDisbursed": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "totalRepaid": {
            "currency": "USD"
          },
          "metadata": {
            "responseId": "07e2ba40-4e7f-5c4e-a79d-723c20d399b2",
            "correlationId": "c53b5cf0-99d1-5f9b-bb72-00b639453d85",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "LoanAmount": {
        "title": "Loan Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency code (e.g., USD, EUR).",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The numeric value of the amount.",
            "example": "10000.00"
          }
        },
        "description": "Represents an amount related to a loan, including currency."
      },
      "LoanBalance": {
        "title": "Loan Balance",
        "type": "object",
        "properties": {
          "principalOutstanding": {
            "description": "Outstanding principal amount of the loan.",
            "$ref": "#/components/schemas/LoanAmount"
          },
          "accruedInterest": {
            "description": "Interest that has accrued on the loan but has not yet been paid.",
            "$ref": "#/components/schemas/LoanAmount"
          },
          "feesOutstanding": {
            "description": "Outstanding fees associated with the loan.",
            "$ref": "#/components/schemas/LoanAmount"
          },
          "penaltiesOutstanding": {
            "description": "Penalties that have accrued on the loan.",
            "$ref": "#/components/schemas/LoanAmount"
          },
          "totalOutstanding": {
            "description": "Total amount outstanding on the loan.",
            "$ref": "#/components/schemas/LoanAmount"
          },
          "availableToDraw": {
            "description": "Total amount still available to be drawn from the loan.",
            "$ref": "#/components/schemas/LoanAmount"
          }
        },
        "description": "Represents the balance details of a loan."
      },
      "LoanMetadata": {
        "title": "Loan Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp_abc"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking related requests.",
            "example": "corr_123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the loan was processed.",
            "example": "US-East"
          }
        },
        "description": "Contains metadata related to the loan processing."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "loanId": {
        "name": "loanId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-banking-loans-openapi-update-loan"
        },
        "example": "banking-loans-openapi-banking-loans-openapi-update-loan"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses bearer authentication with a JSON Web Token (JWT). Clients must include a valid JWT in the Authorization header to authenticate requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}