{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Loan Application Document-spec",
    "description": "This API enables businesses to manage loan application documents efficiently. Users can submit new document uploads for specific loan applications, facilitating a streamlined documentation process essential for loan approvals. Typical consumers include financial institutions and loan officers who need to maintain comprehensive records of all submitted documents. The API supports integration with existing loan processing systems, ensuring a seamless flow of information and enhancing operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{param1}/documents": {
      "post": {
        "tags": [
          "Loan Applications"
        ],
        "summary": "Upload Document for Loan Application",
        "description": "This endpoint allows you to upload documents related to a specific loan application identified by its ID. Ensure that the document complies with the required formats and sizes before uploading.",
        "operationId": "createLoanApplicationDocument",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit documents related to loan application RES-100045. Please ensure the documents adhere to the specified schema to facilitate successful processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLoanApplicationDocumentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The document was successfully uploaded and associated with the loan application.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateLoanApplicationDocumentResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateLoanApplicationDocumentRequest": {
        "title": "Loan Application Document Request",
        "type": "object",
        "properties": {
          "documentType": {
            "type": "string",
            "description": "The type of document being submitted, e.g., 'Identification', 'Income Verification'.",
            "example": "STANDARD"
          },
          "applicantId": {
            "type": "string",
            "description": "Unique identifier for the applicant.",
            "example": "2307937c-6951-9f8a-e956-c0306913c62b"
          },
          "collateralId": {
            "type": "string",
            "description": "Unique identifier for the collateral associated with the loan application.",
            "example": "4cfbb46f-9656-1f48-6466-5a731f55b33e"
          },
          "fileName": {
            "type": "string",
            "description": "Name of the document file being submitted.",
            "example": "Northstar Banking Service"
          },
          "mimeType": {
            "type": "string",
            "description": "MIME type of the document file.",
            "example": "STANDARD"
          },
          "storageReference": {
            "type": "string",
            "description": "Reference to the storage location of the document.",
            "example": "STANDARD"
          },
          "sha256Checksum": {
            "type": "string",
            "description": "SHA256 checksum of the document for integrity verification.",
            "example": "STANDARD"
          },
          "issuedDate": {
            "type": "string",
            "description": "Date when the document was issued.",
            "example": "2026-09-15"
          },
          "expiryDate": {
            "type": "string",
            "description": "Date when the document expires.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for loan application document submission.",
        "example": {
          "documentType": "STANDARD",
          "applicantId": "2307937c-6951-9f8a-e956-c0306913c62b",
          "collateralId": "4cfbb46f-9656-1f48-6466-5a731f55b33e",
          "fileName": "Northstar Banking Service",
          "mimeType": "STANDARD",
          "storageReference": "STANDARD",
          "sha256Checksum": "STANDARD",
          "issuedDate": "2026-09-15",
          "expiryDate": "2026-09-15",
          "requestContext": {
            "requestId": "dd85a904-0686-5662-a92e-4dbba89cf170",
            "correlationId": "7950788a-7376-5f16-9ab4-99762591e0cb",
            "idempotencyKey": "5356bbd5-7a3e-5ac1-88a5-df757e318030",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-982655"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-7890"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating logs and requests.",
            "example": "corr-12345"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that the request is processed only once.",
            "example": "idemp-67890"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that is making the request.",
            "example": "LoanProcessingSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "OnlineLoanApp"
          },
          "channel": {
            "description": "Information about the channel used to make the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request including identifiers and metadata."
      },
      "Channel": {
        "title": "Request Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "chan-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used, e.g., 'Web', 'Mobile'.",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-12345"
          }
        },
        "description": "Schema representing the channel through which the request was made."
      },
      "CreateLoanApplicationDocumentResponse_201": {
        "type": "object",
        "properties": {
          "documentType": {
            "type": "string",
            "description": "The type of document being represented.",
            "example": "STANDARD"
          },
          "applicantId": {
            "type": "string",
            "description": "Unique identifier for the applicant associated with the document.",
            "example": "55cd529b-9470-dcfa-96cf-a09a4d090d32"
          },
          "collateralId": {
            "type": "string",
            "description": "Unique identifier for the collateral associated with the document.",
            "example": "0fb85798-e330-5a89-5112-c56c1155755d"
          },
          "fileName": {
            "type": "string",
            "description": "Name of the file associated with the document.",
            "example": "Northstar Banking Service"
          },
          "mimeType": {
            "type": "string",
            "description": "Media type of the document file (e.g., application/pdf).",
            "example": "STANDARD"
          },
          "storageReference": {
            "type": "string",
            "description": "Reference to where the document is stored.",
            "example": "STANDARD"
          },
          "sha256Checksum": {
            "type": "string",
            "description": "SHA-256 checksum for validating the integrity of the document.",
            "example": "STANDARD"
          },
          "issuedDate": {
            "type": "string",
            "description": "Date when the document was issued.",
            "example": "2026-09-15"
          },
          "expiryDate": {
            "type": "string",
            "description": "Date when the document expires.",
            "example": "2026-09-15"
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the document.",
            "example": "127a5276-e2bb-0fd2-6a77-80e3c96df21e"
          },
          "verificationStatus": {
            "type": "string",
            "description": "Status of the document verification.",
            "example": "VERIFIED"
          },
          "verificationComments": {
            "type": "string",
            "description": "Comments on the document verification process.",
            "example": "STANDARD"
          },
          "verifiedAt": {
            "type": "string",
            "description": "Timestamp indicating when the document was verified.",
            "example": "2026-09-15T14:30:00Z"
          },
          "verifiedBy": {
            "type": "string",
            "description": "Identifier of the user who verified the document.",
            "example": "STANDARD"
          },
          "audit": {
            "description": "Audit information related to the document.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Metadata associated with the document.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the details of a loan application document response.",
        "example": {
          "documentType": "STANDARD",
          "applicantId": "55cd529b-9470-dcfa-96cf-a09a4d090d32",
          "collateralId": "0fb85798-e330-5a89-5112-c56c1155755d",
          "fileName": "Northstar Banking Service",
          "mimeType": "STANDARD",
          "storageReference": "STANDARD",
          "sha256Checksum": "STANDARD",
          "issuedDate": "2026-09-15",
          "expiryDate": "2026-09-15",
          "id": "127a5276-e2bb-0fd2-6a77-80e3c96df21e",
          "verificationStatus": "VERIFIED",
          "verificationComments": "STANDARD",
          "verifiedAt": "2026-09-15T14:30:00Z",
          "verifiedBy": "STANDARD",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "bcb2a910-9ddf-56ab-bf79-9978bd9d6ee8",
            "correlationId": "7950788a-7376-5f16-9ab4-99762591e0cb",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Audit": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the document was created.",
            "example": "string"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the document.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the document was last updated.",
            "example": "string"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the document.",
            "example": "string"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the document.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Contains audit information for document processing."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response associated with the document.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the processing of the document.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the document processing took place.",
            "example": "string"
          }
        },
        "description": "Contains metadata related to the document's processing."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the loan application request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-create-application-document"
        },
        "example": "banking-loans-openapi-create-application-document"
      },
      "X-Runtime-App": {
        "description": "The version identifier for the runtime application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method utilizing Bearer tokens, specifically in the JSON Web Token (JWT) format, which allows secure and stateless communication between client and server.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}