{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Verification with Interview API",
    "description": "The Customer Verification with Interview API facilitates the process of verifying customer identities through a structured interview method. This service enhances security and compliance for businesses by engaging customers directly in the verification process. Typical consumers include financial institutions and service providers needing to ensure robust customer identity validation. By integrating this API, developers can streamline the onboarding of customers while meeting regulatory requirements. The functionality provides a seamless way to reconcile data through interviews, fortifying trust in customer transactions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/decisioning/customers/{customerId}/voietxverify/withinterview": {
      "post": {
        "tags": [
          "Customer Verification"
        ],
        "summary": "Verify customer identity with interview process.",
        "description": "This endpoint initiates a verification process for the specified customer by using an interview method. It ensures that the customer's identity is authenticated through an interactive session.",
        "operationId": "postVoietxVerifyWithInterviewForCustomer",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit a Voitex verification request for a customer, including necessary details for an interview process. Ensure all required fields are populated correctly to facilitate a seamless verification process.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostVoietxVerifyWithInterviewForCustomerRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request accepted and is being processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostVoietxVerifyWithInterviewForCustomerResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PostVoietxVerifyWithInterviewForCustomerRequest": {
        "type": "object",
        "properties": {
          "accountIds": {
            "type": "string",
            "description": "A comma-separated list of account identifiers.",
            "example": "ACC-902702"
          },
          "voieWithInterviewData": {
            "$ref": "#/components/schemas/VoieWithInterviewData"
          },
          "reportCustomFields": {
            "type": "array",
            "description": "Custom fields for reporting purposes.",
            "example": [
              {
                "label": "STANDARD",
                "value": "STANDARD",
                "shown": true
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CustomField"
            }
          },
          "fromDate": {
            "type": "integer",
            "description": "The starting date for data extraction in UNIX timestamp format.",
            "format": "int32",
            "example": 1
          },
          "incomeStreamConfidenceMinimum": {
            "type": "integer",
            "description": "The minimum confidence level for income stream validation.",
            "format": "int32",
            "example": 1
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for the Voie TX Verify with interview operation.",
        "example": {
          "accountIds": "ACC-902702",
          "voieWithInterviewData": {
            "txVerifyInterview": [
              {
                "assetId": "STANDARD",
                "accounts": [
                  "STANDARD"
                ]
              }
            ],
            "extractEarnings": true,
            "extractDeductions": true,
            "extractDirectDeposit": true
          },
          "reportCustomFields": [
            {
              "label": "STANDARD",
              "value": "STANDARD",
              "shown": true
            }
          ],
          "fromDate": 1,
          "incomeStreamConfidenceMinimum": 1,
          "requestContext": {
            "requestId": "7d22eddb-9ce9-545e-8cbf-afdf22b2f9ff",
            "correlationId": "e7ccfbe7-1edd-5263-bb99-3b60866a23eb",
            "idempotencyKey": "82e33b2f-486d-56e0-973b-236a31f622f8",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-266435"
            }
          }
        }
      },
      "VoieWithInterviewData": {
        "type": "object",
        "properties": {
          "txVerifyInterview": {
            "type": "array",
            "description": "Array of transaction verification interviews.",
            "items": {
              "type": "object",
              "properties": {
                "assetId": {
                  "type": "string",
                  "description": "Identifier for the asset.",
                  "example": "asset-123"
                },
                "accounts": {
                  "type": "array",
                  "description": "Array of associated account identifiers.",
                  "items": {
                    "type": "string",
                    "example": "account-456"
                  }
                }
              }
            }
          },
          "extractEarnings": {
            "type": "boolean",
            "description": "Indicates if earnings should be extracted.",
            "example": false
          }
        },
        "description": "Schema containing interview and verification data."
      },
      "TxVerifyInterview": {
        "type": "object",
        "properties": {
          "assetId": {
            "type": "string",
            "description": "Identifier for the asset being verified.",
            "example": "asset123"
          },
          "accounts": {
            "type": "array",
            "description": "List of account identifiers associated with the asset.",
            "items": {
              "type": "string",
              "example": "account123"
            }
          }
        },
        "description": "Structure representing a transaction verification interview."
      },
      "CustomField": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "description": "Label for the custom field.",
            "example": "Customer Segment"
          },
          "value": {
            "type": "string",
            "description": "Value associated with the custom field.",
            "example": "Higher Income"
          },
          "shown": {
            "type": "boolean",
            "description": "Indicates if the custom field should be displayed.",
            "example": true
          }
        },
        "description": "Represents a custom field for reporting."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating related requests.",
            "example": "corr-001"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to prevent duplicate processing of the request.",
            "example": "idemp-001"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-01-01T00:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system making the request.",
            "example": "systemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the source application making the request.",
            "example": "appA"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information about the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the communication channel.",
            "example": "channelA"
          },
          "channelType": {
            "type": "string",
            "description": "Type of communication channel used.",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device making the request.",
            "example": "deviceA"
          }
        },
        "description": "Information about the channel through which the request was made."
      },
      "PostVoietxVerifyWithInterviewForCustomerResponse_202": {
        "title": "Customer Response",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "STANDARD"
          },
          "customerType": {
            "type": "string",
            "description": "Type of customer.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "integer",
            "description": "Unique identifier for the customer.",
            "format": "int32",
            "example": 1
          },
          "requestId": {
            "type": "string",
            "description": "Identifier for the request.",
            "example": "4e4c084f-ac29-5509-9bf0-847ddc7c258e"
          },
          "requesterName": {
            "type": "string",
            "description": "Name of the person who made the request.",
            "example": "Northstar Banking Service"
          },
          "endUser": {
            "description": "Details of the end user associated with the request.",
            "$ref": "#/components/schemas/EndUser"
          },
          "createdDate": {
            "type": "integer",
            "description": "Timestamp representing when the request was created.",
            "format": "int32",
            "example": 1
          },
          "title": {
            "type": "string",
            "description": "Title of the request or operation.",
            "example": "Banking operation completed"
          },
          "consumerId": {
            "type": "string",
            "description": "Unique identifier for the consumer.",
            "example": "STANDARD"
          },
          "consumerSsn": {
            "type": "string",
            "description": "Social Security Number of the consumer.",
            "example": "STANDARD"
          },
          "consumerDetails": {
            "description": "Details of the consumer associated with the request.",
            "$ref": "#/components/schemas/ConsumerDetails"
          },
          "disputeStatement": {
            "type": "string",
            "description": "Statement regarding any disputes.",
            "example": "STANDARD"
          },
          "type": {
            "type": "string",
            "description": "Type of operation performed.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the request.",
            "example": "ACTIVE"
          },
          "constraints": {
            "description": "Constraints associated with the operation.",
            "$ref": "#/components/schemas/Constraints"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema containing customer information for a specific operation.",
        "example": {
          "id": "STANDARD",
          "customerType": "STANDARD",
          "customerId": 1,
          "requestId": "4e4c084f-ac29-5509-9bf0-847ddc7c258e",
          "requesterName": "Northstar Banking Service",
          "endUser": {
            "name": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "email": "olivia.bennett@northstar.example",
            "url": "https://banking.northstar.example/callbacks/status"
          },
          "createdDate": 1,
          "title": "Banking operation completed",
          "consumerId": "STANDARD",
          "consumerSsn": "STANDARD",
          "consumerDetails": {
            "id": "STANDARD",
            "firstName": "Northstar Banking Service",
            "middleName": "Northstar Banking Service",
            "lastName": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "ssn": "STANDARD",
            "email": "olivia.bennett@northstar.example"
          },
          "disputeStatement": "STANDARD",
          "type": "STANDARD",
          "status": "ACTIVE",
          "constraints": {
            "accountIds": [
              "ACC-306963"
            ],
            "voieWithInterviewData": {
              "txVerifyInterview": [
                {
                  "assetId": "STANDARD",
                  "accounts": [
                    "STANDARD"
                  ]
                }
              ],
              "extractEarnings": true
            }
          },
          "metadata": {
            "responseId": "a99de97b-780f-5f4b-a00c-34924337858d",
            "correlationId": "e7ccfbe7-1edd-5263-bb99-3b60866a23eb",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EndUser": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the end user.",
            "example": "John Doe"
          },
          "address": {
            "type": "string",
            "description": "Street address of the end user.",
            "example": "123 Main St"
          },
          "city": {
            "type": "string",
            "description": "City where the end user resides.",
            "example": "Anytown"
          },
          "state": {
            "type": "string",
            "description": "State where the end user resides.",
            "example": "NY"
          },
          "zip": {
            "type": "string",
            "description": "ZIP code of the end user's address.",
            "example": "12345"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the end user.",
            "example": "(123) 456-7890"
          },
          "email": {
            "type": "string",
            "description": "Email address of the end user.",
            "example": "john.doe@example.com"
          },
          "url": {
            "type": "string",
            "description": "URL related to the end user.",
            "example": "http://example.com"
          }
        },
        "description": "Schema representing the end user associated with the request."
      },
      "ConsumerDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the consumer.",
            "example": "string"
          },
          "firstName": {
            "type": "string",
            "description": "First name of the consumer.",
            "example": "John"
          },
          "middleName": {
            "type": "string",
            "description": "Middle name of the consumer.",
            "example": "A"
          },
          "lastName": {
            "type": "string",
            "description": "Last name of the consumer.",
            "example": "Doe"
          },
          "address": {
            "type": "string",
            "description": "Street address of the consumer.",
            "example": "123 Main St"
          },
          "city": {
            "type": "string",
            "description": "City where the consumer resides.",
            "example": "Anytown"
          },
          "state": {
            "type": "string",
            "description": "State where the consumer resides.",
            "example": "NY"
          },
          "zip": {
            "type": "string",
            "description": "ZIP code of the consumer's address.",
            "example": "12345"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the consumer.",
            "example": "(123) 456-7890"
          },
          "ssn": {
            "type": "string",
            "description": "Social Security Number of the consumer.",
            "example": "123-45-6789"
          },
          "email": {
            "type": "string",
            "description": "Email address of the consumer.",
            "example": "john.doe@example.com"
          }
        },
        "description": "Schema containing details about the consumer."
      },
      "Constraints": {
        "type": "object",
        "properties": {
          "accountIds": {
            "type": "array",
            "description": "Array of unique account identifiers.",
            "items": {
              "type": "string",
              "example": "string"
            }
          },
          "voieWithInterviewData": {
            "description": "Details regarding interviews and verification data.",
            "$ref": "#/components/schemas/VoieWithInterviewData"
          }
        },
        "description": "Schema representing constraints of the operation."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "US-East"
          }
        },
        "description": "Schema containing metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-generate-voie-paystub-with-tx-verify-report"
        },
        "example": "open-finance-api-generate-voie-paystub-with-tx-verify-report"
      },
      "X-Runtime-App": {
        "description": "The name of the application handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses bearer tokens as a means of authentication, specifically using JSON Web Tokens (JWT) for secure data transmission.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}