{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Counterparty Risk Assessment API",
    "description": "The Counterparty Risk Assessment API enables users to evaluate the risk associated with counterparties in banking transactions. This endpoint facilitates the retrieval of detailed risk profiles and assessment data for various counterparties, providing essential insights for risk management decision-making. Typical consumers include financial analysts, risk managers, and compliance teams who need to assess and mitigate potential risks before engaging in transactions. By leveraging this API, organizations can enhance their risk assessment processes and ensure more informed and secure banking operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/account-management/counterparty-risk": {
      "get": {
        "tags": [
          "CounterpartyRiskManagement"
        ],
        "summary": "Retrieve counterparty risk data",
        "description": "This endpoint allows you to obtain detailed information about counterparty risk associated with the accounts. It provides insights into risk assessments and evaluations, enabling better financial decision-making.",
        "operationId": "getCounterpartyRisk",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body to retrieve counterparty risk information related to account management. The data provided should follow the specified schema to ensure successful processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCounterpartyRiskRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved counterparty risk information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCounterpartyRiskResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCounterpartyRiskRequest": {
        "type": "string",
        "description": "Represents the request body for the Counterparty Risk operations in the account management system.",
        "example": "{}"
      },
      "GetCounterpartyRiskResponse_200": {
        "title": "Counterparty Risk Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of counterparty risk items.",
            "example": [
              {
                "accountId": "ACC-123020",
                "customerId": "CUST-383671",
                "ledgerDate": "2026-09-15",
                "currency": "USD",
                "ledgerBalance": 100.0,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CounterpartyRiskItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for the counterparty risk operations.",
        "example": {
          "items": [
            {
              "accountId": "ACC-123020",
              "customerId": "CUST-383671",
              "ledgerDate": "2026-09-15",
              "currency": "USD",
              "ledgerBalance": 100.0,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "8509d52e-f054-5883-bc3d-0d2186ae5775",
            "correlationId": "c93cf97a-1f40-53ff-bbe4-39fef8a6a0c4",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CounterpartyRiskItem": {
        "title": "Counterparty Risk Item",
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "string"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "string"
          },
          "ledgerDate": {
            "type": "string",
            "description": "The date of the ledger entry.",
            "example": "string"
          },
          "currency": {
            "type": "string",
            "description": "The currency of the ledger balance.",
            "example": "string"
          },
          "ledgerBalance": {
            "type": "number",
            "description": "The balance in the ledger.",
            "example": 0.0
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the record was last updated.",
            "example": "string"
          }
        },
        "description": "Schema representing an individual counterparty risk item."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Schema representing pagination details for the response."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracking the request-response correlation.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request took place.",
            "example": "string"
          }
        },
        "description": "Schema representing metadata information for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "counterparty-risk-search-counterparty-risk"
        },
        "example": "counterparty-risk-search-counterparty-risk"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that utilizes JSON Web Tokens (JWT) as a bearer format. Clients must include the JWT in the 'Authorization' header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}