{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update It Management By Param1-spec",
    "description": "The Technology Standards Management API enables businesses to update specific IT management standards using precise parameters. This endpoint allows for fine-tuning of existing technology standards, ensuring alignment with evolving business needs. Typical consumers include IT managers and compliance officers who require the ability to adjust specifications based on current organizational directives. By using this API, organizations can maintain up-to-date compliance with technology standards while optimizing their internal governance processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/technology-standards/{param1}": {
      "patch": {
        "tags": [
          "Technology Standards"
        ],
        "summary": "Update Technology Standard RES-100045",
        "description": "This endpoint allows you to update the details of the technology standard identified by RES-100045. Ensure that you provide the required information in the request body to successfully perform the update.",
        "operationId": "updateItManagementByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for updating the technology standards associated with resource RES-100045. This includes modifications to various properties of the existing standards.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateItManagementByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was processed successfully, and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateItManagementByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateItManagementByParam1Request": {
        "title": "Update Technology Standards Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "description": "The changes to be applied to the technology standards.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the requested change.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes become effective.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user or process requesting the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for updating technology standards.",
        "example": {
          "changes": {
            "policyId": "STANDARD",
            "title": "Banking operation completed",
            "ownerTeam": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "83c58605-125e-52ff-a120-7d73b8b07ef8",
            "correlationId": "77be7b3f-dd23-51cc-afe0-1d7fd86d8b80",
            "idempotencyKey": "46781b7e-83a6-5120-a80a-ea0868e6e407",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-702802"
            }
          }
        }
      },
      "Changes": {
        "title": "Changes",
        "type": "object",
        "properties": {
          "policyId": {
            "type": "string",
            "description": "The unique identifier of the policy being changed.",
            "example": "string"
          },
          "title": {
            "type": "string",
            "description": "The title of the policy being changed.",
            "example": "string"
          },
          "ownerTeam": {
            "type": "string",
            "description": "The team responsible for the policy.",
            "example": "string"
          }
        },
        "description": "Schema representing the details of the changes to technology standards."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to correlate related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure the idempotency of the operation.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing context information for the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of communication channel (e.g., API, UI).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Schema representing information about the communication channel used in the request."
      },
      "UpdateItManagementByParam1Response_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the operation was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata information related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the PATCH operation on ASYNC technology standards.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "3885b397-3c5e-58a9-a230-f12b368e764a",
            "correlationId": "77be7b3f-dd23-51cc-afe0-1d7fd86d8b80",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to track request correlation.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata containing additional information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "it-standards-and-guidelines-update-it-standards-and-guidelines"
        },
        "example": "it-standards-and-guidelines-update-it-standards-and-guidelines"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token for authentication. The client must include a valid JSON Web Token (JWT) in the Authorization header of the request to authenticate properly.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}