{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Savings Account Details API",
    "description": "The Savings Account Details API provides access to comprehensive information about individual savings accounts, allowing users to review balances, transaction history, and account settings. This service is designed for banks, financial institutions, and developers building applications that require real-time data on savings accounts. Typical consumers include customer service representatives and online banking platforms that need to display user account details. By utilizing this API, organizations can enhance their customer engagement and improve financial management for their clients.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/savings-account/{param1}": {
      "get": {
        "tags": [
          "Deposit Lending"
        ],
        "summary": "Retrieve savings account details.",
        "description": "This endpoint allows you to fetch detailed information about a specific savings account, including account balance, transaction history, and account status. Use this to examine the state of the savings account and any relevant activity.",
        "operationId": "getDepositLendingSavingsAccountDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request to retrieve details for the specified savings account. This request allows clients to obtain account information necessary for further operations, including the account's balance, transaction history, and account holder details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetDepositLendingSavingsAccountDetailsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was processed successfully, and the account details are returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDepositLendingSavingsAccountDetailsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetDepositLendingSavingsAccountDetailsRequest": {
        "type": "string",
        "description": "A string representing the request body for the GET operation on a savings account.",
        "example": "{}"
      },
      "GetDepositLendingSavingsAccountDetailsResponse_200": {
        "title": "Savings Account Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-927733"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "ACC-734793"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product associated with the account.",
            "example": "CHK-PREMIUM-US"
          },
          "principal": {
            "description": "The principal detail of the savings account.",
            "$ref": "#/components/schemas/Principal"
          },
          "termMonths": {
            "type": "integer",
            "description": "Term of the savings account in months.",
            "format": "int32",
            "example": 1
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "Frequency of repayment for the account.",
            "example": "STANDARD"
          },
          "accountPurpose": {
            "type": "string",
            "description": "Purpose of the savings account.",
            "example": "STANDARD"
          },
          "statementFrequency": {
            "type": "string",
            "description": "Frequency at which statements are generated for the account.",
            "example": "STANDARD"
          },
          "overdraftAllowed": {
            "type": "boolean",
            "description": "Indicates if overdraft is allowed on the account.",
            "example": true
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version of the account data.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the record.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for a savings account operation.",
        "example": {
          "customerId": "CUST-927733",
          "accountId": "ACC-734793",
          "productCode": "CHK-PREMIUM-US",
          "principal": {
            "amount": 100.0,
            "currency": "USD"
          },
          "termMonths": 1,
          "repaymentFrequency": "STANDARD",
          "accountPurpose": "STANDARD",
          "statementFrequency": "STANDARD",
          "overdraftAllowed": true,
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "d4507630-8c4c-595f-b2f3-1c409d31bd75",
            "correlationId": "9e17587b-948a-5dae-9531-354acb0656a6",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Principal": {
        "title": "Principal Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount of principal.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "Currency of the principal amount.",
            "example": "string"
          }
        },
        "description": "Schema representing the principal amount and currency for the savings account."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating multiple requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Schema representing the metadata associated with the account operation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "savings-account-get-savings-account"
        },
        "example": "savings-account-get-savings-account"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer authentication method where the client must provide a valid JSON Web Token (JWT) in the `Authorization` header when making requests. Ensure the token is valid and has not expired to gain access to secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}