{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Loan By Param2-spec",
    "description": "This API allows users to access detailed repayment schedule information for a specific loan identified by its loan ID and a secondary parameter. Financial institutions and loan management systems typically use this functionality to provide customers and internal teams with clear views of repayment timelines and amounts due. By retrieving specific repayment details, users can gain insights into future payment obligations and plan accordingly. This endpoint serves as a crucial tool for effective loan monitoring and management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loans/{loanId}/repayment-schedules/{param2}": {
      "get": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Retrieve Repayment Schedule for a Specific Loan",
        "description": "This operation allows you to fetch the repayment schedule for a specified loan identified by its unique loan ID and repayment schedule resource ID. It provides detailed information on the dates and amounts due for each repayment installment.",
        "operationId": "getLoanByParam2",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/loanId"
          },
          {
            "$ref": "#/components/parameters/param2"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving the repayment schedule details for a specific loan and resource. This input is structured in JSON format and is required to effectively fetch the relevant repayment data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetLoanByParam2Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of repayment schedules for the specified loan.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLoanByParam2Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetLoanByParam2Request": {
        "type": "string",
        "description": "Represents the request body for the GET operation related to repayment schedules of a specific loan.",
        "example": "{}"
      },
      "GetLoanByParam2Response_200": {
        "type": "object",
        "properties": {
          "effectiveDate": {
            "type": "string",
            "description": "The date when the repayment schedule becomes effective.",
            "example": "2026-09-15"
          },
          "calculationMethod": {
            "type": "string",
            "description": "Method used to calculate repayments.",
            "example": "STANDARD"
          },
          "reason": {
            "type": "string",
            "description": "Reason for the current repayment schedule.",
            "example": "STANDARD"
          },
          "installments": {
            "type": "array",
            "description": "List of installments associated with the repayment schedule.",
            "example": [
              {
                "installmentNumber": 1,
                "dueDate": "2026-09-15",
                "openingPrincipal": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "principalDue": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "interestDue": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "feesDue": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "penaltiesDue": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "totalDue": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "amountPaid": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "closingPrincipal": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "status": "ACTIVE",
                "paidAt": "2026-08-11T12:00:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Installment"
            }
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the repayment schedule.",
            "example": "9c8b5a28-83a5-45e2-75b7-0cccb70bbf07"
          },
          "status": {
            "type": "string",
            "description": "Current status of the repayment schedule.",
            "example": "ACTIVE"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the schedule was generated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "supersedesScheduleId": {
            "type": "string",
            "description": "Identifier of the schedule that this current schedule supersedes.",
            "example": "51cf794c-300d-4f83-f7d3-d72e120727a6"
          },
          "audit": {
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Repayment schedule response for a specific loan.",
        "example": {
          "effectiveDate": "2026-09-15",
          "calculationMethod": "STANDARD",
          "reason": "STANDARD",
          "installments": [
            {
              "installmentNumber": 1,
              "dueDate": "2026-09-15",
              "openingPrincipal": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "principalDue": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "interestDue": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "feesDue": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "penaltiesDue": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "totalDue": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "amountPaid": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "closingPrincipal": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "status": "ACTIVE",
              "paidAt": "2026-08-11T12:00:00Z"
            }
          ],
          "id": "9c8b5a28-83a5-45e2-75b7-0cccb70bbf07",
          "status": "ACTIVE",
          "generatedAt": "2026-09-15T14:30:00Z",
          "supersedesScheduleId": "51cf794c-300d-4f83-f7d3-d72e120727a6",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "5f148414-1533-566e-b193-46471c5e3e9a",
            "correlationId": "fca72846-febe-590e-b352-baec9f1186e8",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Installment": {
        "type": "object",
        "properties": {
          "installmentNumber": {
            "type": "integer",
            "description": "The number of the installment in the sequence.",
            "format": "int32",
            "example": 1
          },
          "dueDate": {
            "type": "string",
            "description": "The date when the installment is due.",
            "example": "2023-10-15"
          },
          "openingPrincipal": {
            "$ref": "#/components/schemas/Money"
          },
          "principalDue": {
            "$ref": "#/components/schemas/Money"
          },
          "interestDue": {
            "$ref": "#/components/schemas/Money"
          },
          "feesDue": {
            "$ref": "#/components/schemas/Money"
          },
          "penaltiesDue": {
            "$ref": "#/components/schemas/Money"
          },
          "totalDue": {
            "$ref": "#/components/schemas/Money"
          },
          "amountPaid": {
            "$ref": "#/components/schemas/Money"
          },
          "closingPrincipal": {
            "$ref": "#/components/schemas/Money"
          },
          "status": {
            "type": "string",
            "description": "Current payment status of the installment.",
            "example": "Pending"
          },
          "paidAt": {
            "type": "string",
            "description": "Timestamp indicating when the installment was paid.",
            "example": "2023-10-14T15:30:00Z"
          }
        },
        "description": "Details of an installment in the repayment schedule."
      },
      "Money": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency code in which the amount is represented.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The monetary amount.",
            "example": "100.00"
          }
        },
        "description": "Representation of an amount of money with its currency."
      },
      "Audit": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the record was created.",
            "example": "2023-10-01T12:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user/entity who created the record.",
            "example": "user-001"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the record was last updated.",
            "example": "2023-10-02T12:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user/entity who last updated the record.",
            "example": "user-002"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the record.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Audit details for tracking changes to the repayment schedule."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-67890"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses.",
            "example": "correlation-11111"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "US-East"
          }
        },
        "description": "Additional metadata regarding the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "loanId": {
        "name": "loanId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "param2": {
        "name": "param2",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that was called.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-get-repayment-schedule"
        },
        "example": "banking-loans-openapi-get-repayment-schedule"
      },
      "X-Runtime-App": {
        "description": "The name of the runtime application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication to access the API. Users must provide a valid JSON Web Token (JWT) in the authorization header for authenticated requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}