{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Investment Management By Param1-spec",
    "description": "The Investment Management Update API allows users to modify existing investment management records based on specific parameters. This API is primarily designed for financial institutions and investment managers who need to update investment strategies or portfolio details in real-time. Using the PATCH method, users can selectively update the attributes of an investment management record without affecting the entirety of the data. This helps streamline operations and ensures that investment records remain current and accurate.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/investment-management/e-trading-workbench/{param1}": {
      "patch": {
        "tags": [
          "Investment Management"
        ],
        "summary": "Update the e-trading workbench resource.",
        "description": "This endpoint allows you to update the details of a specific e-trading workbench resource identified by RES-100045. You can modify various attributes associated with this resource to reflect the latest information.",
        "operationId": "updateInvestmentManagementByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update an existing resource in the e-trading workbench. It should contain only the fields that need to be modified, and the new values should comply with the specified schema. Make sure to include only the relevant data to minimize unnecessary processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateInvestmentManagementByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateInvestmentManagementByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateInvestmentManagementByParam1Request": {
        "type": "object",
        "properties": {
          "changes": {
            "description": "Contains the details of the changes to be made in the investment management operations.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change request.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the user who requested the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for updating investment management operations in the e-trading workbench.",
        "example": {
          "changes": {
            "portfolioId": "PORT-134157",
            "investmentAccountId": "ACC-393170",
            "investmentObjective": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "1ce221ea-a7cd-5bc5-9e7c-55117d941252",
            "correlationId": "47c1a6e8-8ece-5e94-b6a7-bccfdece9bfe",
            "idempotencyKey": "842ac2e3-fbdf-5352-a89d-ecb56f5fa9bb",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-792558"
            }
          }
        }
      },
      "Changes": {
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "Identifier of the portfolio associated with the changes.",
            "example": "portfolio_001"
          },
          "investmentAccountId": {
            "type": "string",
            "description": "Identifier of the investment account being modified.",
            "example": "account_123"
          },
          "investmentObjective": {
            "type": "string",
            "description": "New objectives for the investment.",
            "example": "Aggressive Growth"
          }
        },
        "description": "Schema representing the changes to be made in the investment details."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req_789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate related requests.",
            "example": "corr_456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A unique key to ensure the request is idempotent.",
            "example": "idempotency_123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-10T09:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originates.",
            "example": "InvestmentManagementSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request is made.",
            "example": "TradingApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Additional contextual information regarding the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier of the channel used for the request.",
            "example": "channel_001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used to make the request.",
            "example": "device_456"
          }
        },
        "description": "Schema representing the channel information for the request."
      },
      "UpdateInvestmentManagementByParam1Response_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the resource was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the PATCH request in the E-Trading Workbench operation.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "9d3eafa8-e224-5177-8701-42fde3120ca3",
            "correlationId": "47c1a6e8-8ece-5e94-b6a7-bccfdece9bfe",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp at which the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request took place.",
            "example": "string"
          }
        },
        "description": "Contains metadata information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed. This helps in tracing the request in the system.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "e-trading-workbench-update-e-trading-workbench"
        },
        "example": "e-trading-workbench-update-e-trading-workbench"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request. This provides context for audit and monitoring purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication scheme. It requires a valid JSON Web Token (JWT) to be included in the Authorization header of the request. The token should be structured according to JWT standards to ensure proper validation and security.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}