{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Banking Knowledge Assets Management Manual By Management Manual Id-v5-spec",
    "description": "This API endpoint allows for updates to existing Banking Knowledge Assets Management Manuals based on their unique identifiers. It enables organizations to manage and modify critical documentation efficiently, ensuring that the content remains current and relevant. Typical consumers include financial institutions and compliance teams that need to maintain accurate knowledge assets. By using this API, developers can programmatically adjust the content of management manuals to reflect changes in policies or regulations, thereby enhancing the overall governance of banking practices.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/knowledge-assets/management-manual/{managementManualId}": {
      "patch": {
        "tags": [
          "Knowledge Asset Management"
        ],
        "summary": "Update Management Manual for Knowledge Asset RES-100045",
        "description": "This endpoint allows developers to update the Management Manual associated with the Knowledge Asset identified by RES-100045. Utilize this operation when changes are required in the manual to reflect new information or updates.",
        "operationId": "updateBankingKnowledgeAssetsManagementManualByManagementManualId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/managementManualId"
          }
        ],
        "requestBody": {
          "description": "Request body for updating the management manual identified by RES-100045. This body should contain the necessary fields to modify the existing resource as specified in the schema. Ensure that the provided data adheres to the defined structure to facilitate a successful update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBankingKnowledgeAssetsManagementManualByManagementManualIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateBankingKnowledgeAssetsManagementManualByManagementManualIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateBankingKnowledgeAssetsManagementManualByManagementManualIdRequest": {
        "title": "Update Manual Request",
        "type": "object",
        "properties": {
          "changes": {
            "description": "The changes to be applied to the manual.",
            "$ref": "#/components/schemas/ManualChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the proposed change to the manual.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes are effective.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the individual who requested the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for updating a manual.",
        "example": {
          "changes": {
            "manualId": "STANDARD",
            "title": "Banking operation completed",
            "version": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "318133a7-86a9-55bf-b7ec-e9a2ffe16419",
            "correlationId": "884a2420-3610-590d-8d41-09bdaef9cb52",
            "idempotencyKey": "8fa74ac9-5622-5edc-be5b-ad100fd4c293",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-177477"
            }
          }
        }
      },
      "ManualChanges": {
        "title": "Manual Changes",
        "type": "object",
        "properties": {
          "manualId": {
            "type": "string",
            "description": "The unique identifier of the manual being changed.",
            "example": "string"
          },
          "title": {
            "type": "string",
            "description": "The title of the manual.",
            "example": "string"
          },
          "version": {
            "type": "string",
            "description": "The version number of the manual.",
            "example": "string"
          }
        },
        "description": "Schema representing the details of changes made to a manual."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking the request across systems.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure the request is processed only once.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "string"
          },
          "channel": {
            "description": "Details about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing additional context for the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used for the request (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the communication.",
            "example": "string"
          }
        },
        "description": "Schema representing the details of the communication channel used."
      },
      "UpdateBankingKnowledgeAssetsManagementManualByManagementManualIdResponse_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version number of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status indicating the success or failure of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the resource was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata providing additional information about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the PATCH operation, containing version, status, update timestamp, and metadata.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "396db439-b37a-5489-b7d7-251b7c658dc5",
            "correlationId": "884a2420-3610-590d-8d41-09bdaef9cb52",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to track the correlation between requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the processing of the request took place.",
            "example": "string"
          }
        },
        "description": "Schema representing metadata for the response, including various identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "managementManualId": {
        "name": "managementManualId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint being accessed. This ID helps in tracking the specific operation executed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "management-manual-update-management-manual"
        },
        "example": "management-manual-update-management-manual"
      },
      "X-Runtime-App": {
        "description": "The name of the application runtime that processed the request. This header is useful for monitoring and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses bearer tokens, specifically in the form of JSON Web Tokens (JWT), for authentication. Clients must send a valid token in the Authorization header of requests to access secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}