{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Qr Payment Request Cancel-spec",
    "description": "The QR Payment Request Cancellation API allows businesses to cancel outstanding payment requests made via QR codes. This API streamlines the process for merchants and service providers, ensuring that users can efficiently manage their payment requests. Ideal for payment management systems, it facilitates adjustment of transactions, improving user experience and operational flexibility. Typical consumers include developers integrating payment solutions into their applications, financial service providers, and e-commerce platforms seeking to enhance their transaction handling capabilities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/qr-payment-requests/{param1}/cancel": {
      "post": {
        "tags": [
          "QR Payment Management"
        ],
        "summary": "Cancel a QR payment request.",
        "description": "This endpoint allows the user to cancel a specific QR payment request identified by the provided ID. The cancellation process ensures that the payment request is no longer valid, and it can help prevent unintended transactions.",
        "operationId": "createQrPaymentRequestCancel",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body to cancel a specific QR payment request identified by PAY-300045. Ensure that the necessary authentication and authorization parameters are provided in the header to successfully execute this operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateQrPaymentRequestCancelRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully; the payment request has been canceled.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateQrPaymentRequestCancelResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateQrPaymentRequestCancelRequest": {
        "title": "Cancel Payment Request",
        "type": "object",
        "properties": {
          "reasonCode": {
            "type": "string",
            "description": "Code representing the reason for cancellation.",
            "example": "CODE-564"
          },
          "reason": {
            "type": "string",
            "description": "Detailed reason for cancellation.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context related to the cancellation request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for canceling a payment request.",
        "example": {
          "reasonCode": "CODE-564",
          "reason": "STANDARD",
          "requestContext": {
            "requestId": "2cc02fb4-d93e-5510-94ab-6e60a26c5644",
            "correlationId": "61ee7256-af7c-57b4-b4f8-a49d4dca3501",
            "idempotencyKey": "adb89a37-6665-5f35-87c7-91b8eed3fd34",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-619282"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "ID to correlate related requests.",
            "example": "correlation-123"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of the request.",
            "example": "idempotent-key-123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that initiated the request.",
            "example": "PaymentGateway"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "MobileApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information related to the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-456"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., Web, Mobile).",
            "example": "Mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the request.",
            "example": "device-789"
          }
        },
        "description": "Information about the channel used for the request."
      },
      "CreateQrPaymentRequestCancelResponse_200": {
        "type": "object",
        "properties": {
          "qrPaymentRequestId": {
            "type": "string",
            "description": "The unique identifier for the QR payment request.",
            "example": "275b7793-c03f-5fb9-8092-517e859703d4"
          },
          "merchantId": {
            "type": "string",
            "description": "The unique identifier for the merchant.",
            "example": "MER-269919"
          },
          "outletId": {
            "type": "string",
            "description": "The unique identifier for the outlet.",
            "example": "STANDARD"
          },
          "terminalId": {
            "type": "string",
            "description": "The unique identifier for the terminal.",
            "example": "STANDARD"
          },
          "mode": {
            "type": "string",
            "description": "The mode of the transaction.",
            "example": "STANDARD"
          },
          "standard": {
            "type": "string",
            "description": "The standard applicable to the transaction.",
            "example": "STANDARD"
          },
          "amount": {
            "description": "The amount details of the transaction.",
            "$ref": "#/components/schemas/Amount"
          },
          "merchantOrderId": {
            "type": "string",
            "description": "The order identifier associated with the merchant.",
            "example": "ORD-972187"
          },
          "description": {
            "type": "string",
            "description": "A brief description of the payment request.",
            "example": "Customer banking request processed successfully"
          },
          "tipOptions": {
            "description": "Options available for tipping during the transaction.",
            "$ref": "#/components/schemas/TipOptions"
          },
          "qrPayload": {
            "type": "string",
            "description": "The payload associated with the QR code.",
            "example": "STANDARD"
          },
          "qrImageUrl": {
            "type": "string",
            "description": "The URL for the QR code image.",
            "example": "https://example.com/resource"
          },
          "status": {
            "type": "string",
            "description": "The current status of the payment request.",
            "example": "ACTIVE"
          },
          "singleUse": {
            "type": "boolean",
            "description": "Indicates if the QR payment request is for single-use.",
            "example": true
          },
          "paidAmount": {
            "description": "The amount that has been paid in the transaction.",
            "$ref": "#/components/schemas/Amount"
          },
          "paymentId": {
            "type": "string",
            "description": "The unique identifier for the payment.",
            "example": "PAY-539959"
          },
          "expiresAt": {
            "type": "string",
            "description": "The timestamp indicating when the payment request expires.",
            "example": "2026-08-11T12:00:00Z"
          },
          "audit": {
            "description": "Audit information related to the payment request.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Additional metadata related to the payment request.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for a QR payment request cancellation operation.",
        "example": {
          "qrPaymentRequestId": "275b7793-c03f-5fb9-8092-517e859703d4",
          "merchantId": "MER-269919",
          "outletId": "STANDARD",
          "terminalId": "STANDARD",
          "mode": "STANDARD",
          "standard": "STANDARD",
          "amount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "merchantOrderId": "ORD-972187",
          "description": "Customer banking request processed successfully",
          "tipOptions": {
            "mode": "STANDARD",
            "fixedAmounts": [
              {
                "currency": "USD",
                "value": "STANDARD"
              }
            ],
            "percentages": [
              "STANDARD"
            ],
            "maximumTip": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "qrPayload": "STANDARD",
          "qrImageUrl": "https://example.com/resource",
          "status": "ACTIVE",
          "singleUse": true,
          "paidAmount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "paymentId": "PAY-539959",
          "expiresAt": "2026-08-11T12:00:00Z",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "ee34b2b9-9e5b-5297-8f06-b2208afa2dba",
            "correlationId": "61ee7256-af7c-57b4-b4f8-a49d4dca3501",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Amount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency of the amount.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "The numeric value of the amount.",
            "example": "100.00"
          }
        },
        "description": "Schema representing the amount in a transaction."
      },
      "TipOptions": {
        "type": "object",
        "properties": {
          "mode": {
            "type": "string",
            "description": "The mode of tipping.",
            "example": "fixed"
          },
          "fixedAmounts": {
            "type": "array",
            "description": "List of fixed amounts for tipping.",
            "example": [
              {
                "currency": "USD",
                "value": "5.00"
              },
              {
                "currency": "USD",
                "value": "10.00"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Amount"
            }
          },
          "percentages": {
            "type": "array",
            "description": "List of percentage values for tipping.",
            "example": [
              "10%",
              "15%",
              "20%"
            ],
            "items": {
              "type": "string",
              "description": "Percentage value for tipping.",
              "example": "15%"
            }
          },
          "maximumTip": {
            "description": "The maximum allowed tip amount.",
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "Schema representing the options available for tipping."
      },
      "Audit": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the payment request was created.",
            "example": "2023-01-01T00:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "The identifier of the user or system that created the payment request.",
            "example": "user123"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the payment request was last updated.",
            "example": "2023-01-02T00:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "The identifier of the user or system that last updated the payment request.",
            "example": "admin456"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the payment request.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Schema providing audit information for the payment request."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The identifier for the response associated with the payment request.",
            "example": "response123"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking the request across systems.",
            "example": "correlation456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the metadata was generated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the payment request was processed.",
            "example": "US-East"
          }
        },
        "description": "Schema representing additional metadata associated with the payment request."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that processed the payment request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-cancel-qr-payment-request"
        },
        "example": "banking-p2m-openapi-cancel-qr-payment-request"
      },
      "X-Runtime-App": {
        "description": "The name of the runtime application that executed the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token for authentication. The bearer token is a JSON Web Token (JWT) that is passed in the `Authorization` header of the request. It is used to verify the identity of the user and grant access to resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}