{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Webhook Management API",
    "description": "The Webhook Management API enables users to retrieve and manage webhook endpoints efficiently. This API allows businesses to access details of existing webhook configurations, facilitating integrations with various services. Typical consumers include developers and system integrators who require real-time notifications or data updates based on specific events. By offering comprehensive access to webhook settings, this API enhances automation and responsiveness in application workflows.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/webhook-endpoints": {
      "get": {
        "tags": [
          "Webhook Management"
        ],
        "summary": "Retrieve all webhook endpoints",
        "description": "This endpoint allows you to retrieve a list of all configured webhook endpoints in the system. It provides essential information regarding each endpoint, enabling you to manage and utilize them effectively.",
        "operationId": "getWebhookEndpoints",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the configuration details for webhook endpoints. It should include any necessary filters or parameters relevant to the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetWebhookEndpointsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the webhook endpoints.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetWebhookEndpointsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetWebhookEndpointsRequest": {
        "type": "string",
        "description": "The request body for the GET webhook endpoint, represented as a JSON string.",
        "example": "{}"
      },
      "GetWebhookEndpointsResponse_200": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number of the results.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 1
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32",
            "example": 1
          },
          "totalPages": {
            "type": "integer",
            "description": "The total number of pages available.",
            "format": "int32",
            "example": 1
          },
          "hasNext": {
            "type": "boolean",
            "description": "Indicates whether there is a next page of results.",
            "example": true
          },
          "links": {
            "type": "array",
            "description": "List of links related to the current response.",
            "example": [
              {
                "rel": "STANDARD",
                "href": "https://example.com/resource",
                "method": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          },
          "items": {
            "type": "array",
            "description": "List of webhook endpoint items.",
            "example": [
              {
                "webhookEndpointId": "STANDARD",
                "merchantId": "MER-472116",
                "url": "https://example.com/resource",
                "description": "Customer banking request processed successfully",
                "events": [
                  "STANDARD"
                ],
                "status": "ACTIVE",
                "secretLastRotatedAt": "2026-08-11T12:00:00Z",
                "lastDeliveryAt": "2026-08-11T12:00:00Z",
                "lastDeliveryStatus": "ACTIVE",
                "audit": {
                  "createdAt": "2026-09-15T14:30:00Z",
                  "createdBy": "STANDARD",
                  "updatedAt": "2026-09-15T14:30:00Z",
                  "updatedBy": "2026-09-15",
                  "version": 1
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/WebhookEndpoint"
            }
          },
          "metadata": {
            "type": "object",
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "example": {
          "page": 1,
          "pageSize": 1,
          "totalItems": 1,
          "totalPages": 1,
          "hasNext": true,
          "links": [
            {
              "rel": "STANDARD",
              "href": "https://example.com/resource",
              "method": "STANDARD"
            }
          ],
          "items": [
            {
              "webhookEndpointId": "STANDARD",
              "merchantId": "MER-472116",
              "url": "https://example.com/resource",
              "description": "Customer banking request processed successfully",
              "events": [
                "STANDARD"
              ],
              "status": "ACTIVE",
              "secretLastRotatedAt": "2026-08-11T12:00:00Z",
              "lastDeliveryAt": "2026-08-11T12:00:00Z",
              "lastDeliveryStatus": "ACTIVE",
              "audit": {
                "createdAt": "2026-09-15T14:30:00Z",
                "createdBy": "STANDARD",
                "updatedAt": "2026-09-15T14:30:00Z",
                "updatedBy": "2026-09-15",
                "version": 1
              }
            }
          ],
          "metadata": {
            "responseId": "5d1762e0-bc75-5a70-bfd4-209454157953",
            "correlationId": "8c39d77d-cee2-5dc6-bdaa-cfff7a290838",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Link": {
        "type": "object",
        "properties": {
          "rel": {
            "type": "string",
            "description": "The relationship type of the link.",
            "example": "next"
          },
          "href": {
            "type": "string",
            "description": "The URL of the link.",
            "example": "https://example.com/next"
          },
          "method": {
            "type": "string",
            "description": "HTTP method to use with the link.",
            "example": "GET"
          }
        },
        "description": "A link related to the response."
      },
      "WebhookEndpoint": {
        "type": "object",
        "properties": {
          "webhookEndpointId": {
            "type": "string",
            "description": "The unique identifier for the webhook endpoint.",
            "example": "webhook_123"
          },
          "merchantId": {
            "type": "string",
            "description": "The identifier for the merchant associated with the webhook.",
            "example": "merchant_456"
          },
          "url": {
            "type": "string",
            "description": "The URL where the webhook will send requests.",
            "example": "https://example.com/webhook"
          },
          "description": {
            "type": "string",
            "description": "A brief description of the webhook endpoint.",
            "example": "This webhook endpoint handles order events."
          },
          "events": {
            "type": "array",
            "description": "List of events that the webhook is subscribed to.",
            "example": [
              "order.created",
              "order.updated"
            ],
            "items": {
              "type": "string",
              "example": "order.created"
            }
          },
          "status": {
            "type": "string",
            "description": "The status of the webhook endpoint.",
            "example": "active"
          },
          "secretLastRotatedAt": {
            "type": "string",
            "description": "Timestamp of when the secret was last rotated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "lastDeliveryAt": {
            "type": "string",
            "description": "Timestamp of the last delivery to the webhook endpoint.",
            "example": "2023-01-01T12:00:00Z"
          },
          "lastDeliveryStatus": {
            "type": "string",
            "description": "The status of the last delivery attempt.",
            "example": "success"
          },
          "audit": {
            "type": "object",
            "properties": {
              "createdAt": {
                "type": "string",
                "description": "Timestamp of when the webhook endpoint was created.",
                "example": "2023-01-01T12:00:00Z"
              },
              "createdBy": {
                "type": "string",
                "description": "Identifier of the user who created the webhook endpoint.",
                "example": "user_789"
              },
              "updatedAt": {
                "type": "string",
                "description": "Timestamp of the last update to the webhook endpoint.",
                "example": "2023-01-02T12:00:00Z"
              },
              "updatedBy": {
                "type": "string",
                "description": "Identifier of the user who last updated the webhook endpoint.",
                "example": "user_789"
              },
              "version": {
                "type": "integer",
                "description": "The current version of the webhook endpoint.",
                "format": "int32",
                "example": 1
              }
            },
            "description": "Audit information for the webhook endpoint."
          }
        },
        "description": "Details of a webhook endpoint."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response_123"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking requests.",
            "example": "correlation_456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata for the response including various identifiers."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-list-webhook-endpoints"
        },
        "example": "banking-p2m-openapi-list-webhook-endpoints"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "An HTTP bearer authentication scheme, which utilizes JSON Web Tokens (JWT) to securely transmit information between parties. Use this scheme to authorize access to secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}