{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Human Resource Management Employee Certifications-spec",
    "description": "The Employee Certifications Management API provides access to a comprehensive list of employee certifications within the Human Resource Management system. This API enables organizations to track and manage certifications held by their employees, ensuring compliance and enhancing workforce development. Typical consumers of this API include HR departments and compliance officers who need to monitor certification statuses and validate credentials. The API supports queries to retrieve detailed information about various certifications, facilitating streamlined management and reporting.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/employee-certification": {
      "get": {
        "tags": [
          "Human Resource Management"
        ],
        "summary": "Retrieve Employee Certification Details",
        "description": "Fetches the certification details for employees within the Human Resource Management system. This endpoint allows users to view all relevant certification information, ensuring compliance and up-to-date records.",
        "operationId": "listHumanResourceManagementEmployeeCertifications",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving employee certification information. This request allows the user to obtain the relevant certification details associated with employees in the human resource management system.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListHumanResourceManagementEmployeeCertificationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved employee certification data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListHumanResourceManagementEmployeeCertificationsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListHumanResourceManagementEmployeeCertificationsRequest": {
        "type": "string",
        "description": "This schema represents the request body for retrieving employee certification information. It specifies the type of data expected in the request.",
        "example": "{}"
      },
      "ListHumanResourceManagementEmployeeCertificationsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of employee certification records.",
            "example": [
              {
                "employeeId": "EMP-129901",
                "assignmentId": "STANDARD",
                "departmentId": "STANDARD",
                "effectiveDate": "2026-09-15",
                "countryCode": "US",
                "employmentType": "STANDARD",
                "managerId": "STANDARD",
                "workLocation": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/EmployeeCertification"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the result set.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving employee certification information.",
        "example": {
          "items": [
            {
              "employeeId": "EMP-129901",
              "assignmentId": "STANDARD",
              "departmentId": "STANDARD",
              "effectiveDate": "2026-09-15",
              "countryCode": "US",
              "employmentType": "STANDARD",
              "managerId": "STANDARD",
              "workLocation": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "f28c3740-169e-5a46-9c63-5d223897606d",
            "correlationId": "d6a40ce7-13fd-5b1c-9c20-4f518ebf6f29",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EmployeeCertification": {
        "type": "object",
        "properties": {
          "employeeId": {
            "type": "string",
            "description": "Unique identifier for the employee.",
            "example": "string"
          },
          "assignmentId": {
            "type": "string",
            "description": "Identifier for the employee's assignment.",
            "example": "string"
          },
          "departmentId": {
            "type": "string",
            "description": "Identifier for the department associated with the certification.",
            "example": "string"
          },
          "effectiveDate": {
            "type": "string",
            "description": "Date when the certification becomes effective.",
            "example": "string"
          },
          "countryCode": {
            "type": "string",
            "description": "ISO code of the country where the employee is located.",
            "example": "string"
          },
          "employmentType": {
            "type": "string",
            "description": "Type of employment (e.g., full-time, part-time).",
            "example": "string"
          },
          "managerId": {
            "type": "string",
            "description": "Identifier for the employee's manager.",
            "example": "string"
          },
          "workLocation": {
            "type": "string",
            "description": "Location where the employee works.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the certification record (e.g., active, inactive).",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the record was last updated.",
            "example": "string"
          }
        },
        "description": "Schema representing an employee's certification details."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Pagination information for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Additional metadata for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "employee-certification-search-employee-certification"
        },
        "example": "employee-certification-search-employee-certification"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication, which requires the client to provide a JWT (JSON Web Token) as part of the Authorization header in requests. The JWT must be valid and properly signed to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}