{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List International Payment Consent Funds Confirmations-spec",
    "description": "This API allows for the retrieval of funds confirmation details related to international payment consents. It is primarily designed for financial institutions and payment service providers to verify the availability of funds before executing cross-border transactions. Users can access essential information about specific payment consents by providing the associated parameters. Typical use cases include initiating secure payments and ensuring compliance with regulations regarding funds availability.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/international-payment-consents/{param1}/funds-confirmation": {
      "get": {
        "tags": [
          "International Payment Processing"
        ],
        "summary": "Retrieve funds confirmation for a specific international payment consent.",
        "description": "This endpoint allows you to retrieve funds confirmation related to a specific international payment consent identified by its unique reference number. This verification step is crucial for ensuring that the necessary funds are available before processing the payment.",
        "operationId": "listInternationalPaymentConsentFundsConfirmations",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to confirm the availability of funds for the specified international payment consent. It should include the necessary parameters for the funds confirmation process as defined by the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListInternationalPaymentConsentFundsConfirmationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning funds confirmation details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListInternationalPaymentConsentFundsConfirmationsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListInternationalPaymentConsentFundsConfirmationsRequest": {
        "type": "string",
        "description": "A JSON string representation of the request body for confirming funds in an international payment consent operation.",
        "example": "{}"
      },
      "ListInternationalPaymentConsentFundsConfirmationsResponse_200": {
        "title": "Funds Confirmation Response",
        "type": "object",
        "properties": {
          "Data": {
            "description": "Contains the main data related to the funds confirmation.",
            "$ref": "#/components/schemas/FundsConfirmationData"
          },
          "Links": {
            "description": "Contains pagination links for navigating through data.",
            "$ref": "#/components/schemas/Links"
          },
          "Meta": {
            "description": "Metadata about the response like total pages and available date ranges.",
            "$ref": "#/components/schemas/Meta"
          },
          "metadata": {
            "description": "Additional metadata administrative identifiers and timestamps.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for funds confirmation in an international payment consent operation.",
        "example": {
          "Data": {
            "FundsAvailableResult": {
              "FundsAvailableDateTime": "2026-09-15T14:30:00Z",
              "FundsAvailable": true
            }
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource",
            "Next": "https://example.com/resource",
            "Last": "https://example.com/resource"
          },
          "Meta": {
            "TotalPages": 1,
            "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
            "LastAvailableDateTime": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "responseId": "fc58b79c-9a7b-5490-97ff-a59c41859adf",
            "correlationId": "592cb2fb-5c3b-5765-bdea-51a8432ee93a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "FundsConfirmationData": {
        "title": "Funds Confirmation Data",
        "type": "object",
        "properties": {
          "FundsAvailableResult": {
            "description": "Results indicating the availability of funds and the timestamp of the check.",
            "$ref": "#/components/schemas/FundsAvailableResult"
          }
        },
        "description": "Schema representing the funds availability result and related information."
      },
      "FundsAvailableResult": {
        "title": "Funds Availability Result",
        "type": "object",
        "properties": {
          "FundsAvailableDateTime": {
            "type": "string",
            "description": "The date and time when the funds availability was checked.",
            "example": "2023-10-01T12:00:00Z"
          },
          "FundsAvailable": {
            "type": "boolean",
            "description": "Indicates whether the funds are available.",
            "example": false
          }
        },
        "description": "Schema representing the result of funds availability checking."
      },
      "Links": {
        "title": "Links",
        "type": "object",
        "properties": {
          "Self": {
            "type": "string",
            "description": "Link to the current resource.",
            "example": "https://api.example.com/confirmation/self"
          },
          "First": {
            "type": "string",
            "description": "Link to the first page of the results.",
            "example": "https://api.example.com/confirmation?page=1"
          },
          "Prev": {
            "type": "string",
            "description": "Link to the previous page of results.",
            "example": "https://api.example.com/confirmation?page=2"
          },
          "Next": {
            "type": "string",
            "description": "Link to the next page of results.",
            "example": "https://api.example.com/confirmation?page=3"
          },
          "Last": {
            "type": "string",
            "description": "Link to the last page of results.",
            "example": "https://api.example.com/confirmation?page=10"
          }
        },
        "description": "Pagination and navigation links related to the funds confirmation response."
      },
      "Meta": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "TotalPages": {
            "type": "integer",
            "description": "Total number of pages available in the response.",
            "format": "int32",
            "example": 5
          },
          "FirstAvailableDateTime": {
            "type": "string",
            "description": "The date and time when the first funds are available.",
            "example": "2023-10-01T00:00:00Z"
          },
          "LastAvailableDateTime": {
            "type": "string",
            "description": "The date and time when the last funds are available.",
            "example": "2023-10-31T23:59:59Z"
          }
        },
        "description": "Metadata about the pagination and availability range of the funds confirmation response."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "abc12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate requests and responses across systems.",
            "example": "def67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the response was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Schema for holding various identifiers and timestamps related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-confirm-international-payment-funds"
        },
        "example": "payment-initiation-openapi-confirm-international-payment-funds"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication with JSON Web Tokens (JWT). Clients must provide a valid JWT in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}