{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Knowledge Asset By Param1-spec",
    "description": "The Knowledge Asset Management API allows businesses to efficiently modify knowledge assets within the banking sector. Through this endpoint, users can update specific details of a knowledge asset identified by 'param1'. This is particularly useful for organizations needing to keep their management manuals current and aligned with regulatory requirements. Typical consumers of this API include bank compliance teams and knowledge management professionals who require up-to-date resources for training and operational support.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/knowledge-assets/management-manual/{param1}": {
      "patch": {
        "tags": [
          "Knowledge Assets"
        ],
        "summary": "Update Management Manual",
        "description": "This endpoint allows users to update the details of the specified management manual identified by its unique resource ID. Use this operation to modify any relevant information associated with the management manual.",
        "operationId": "updateKnowledgeAssetByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update specific attributes of the knowledge asset management manual identified by the resource ID RES-100045. The data provided will overwrite existing fields within the management manual.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateKnowledgeAssetByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateKnowledgeAssetByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateKnowledgeAssetByParam1Request": {
        "title": "Management Manual Update Request",
        "type": "object",
        "properties": {
          "changes": {
            "description": "The changes that will be applied to the management manual.",
            "$ref": "#/components/schemas/ManualChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change request.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes are to take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the person or system requesting the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for updating a management manual, including details about the changes and request context.",
        "example": {
          "changes": {
            "manualId": "STANDARD",
            "title": "Banking operation completed",
            "version": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "318133a7-86a9-55bf-b7ec-e9a2ffe16419",
            "correlationId": "884a2420-3610-590d-8d41-09bdaef9cb52",
            "idempotencyKey": "8fa74ac9-5622-5edc-be5b-ad100fd4c293",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-177477"
            }
          }
        }
      },
      "ManualChanges": {
        "title": "Manual Changes",
        "type": "object",
        "properties": {
          "manualId": {
            "type": "string",
            "description": "The unique identifier of the management manual being changed.",
            "example": "string"
          },
          "title": {
            "type": "string",
            "description": "The title of the management manual.",
            "example": "string"
          },
          "version": {
            "type": "string",
            "description": "The version of the management manual being proposed.",
            "example": "string"
          }
        },
        "description": "Details of the changes to the management manual."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier that correlates this request with other related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to avoid duplicate processing of requests.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp of when the request was submitted.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request was made.",
            "example": "string"
          },
          "channel": {
            "description": "Information regarding the communication channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Information regarding the context in which the request was made."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier of the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., web, mobile, API).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used for the request.",
            "example": "string"
          }
        },
        "description": "Details about the communication channel used to submit the request."
      },
      "UpdateKnowledgeAssetByParam1Response_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version number of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the resource was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "396db439-b37a-5489-b7d7-251b7c658dc5",
            "correlationId": "884a2420-3610-590d-8d41-09bdaef9cb52",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate this response with requests.",
            "example": "correlation456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the metadata was generated.",
            "example": "2023-10-01T11:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata providing additional context about the operation and response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint associated with the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "management-manual-update-management-manual"
        },
        "example": "management-manual-update-management-manual"
      },
      "X-Runtime-App": {
        "description": "The name and version of the runtime application processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication mechanism that uses a bearer token. This scheme employs JSON Web Tokens (JWT) to securely transmit information between parties, ensuring that the token can be validated and is trusted.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}