{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Product Management Product Trainings-spec",
    "description": "The Product Training Management API provides a comprehensive overview of available product training resources within the banking product management sector. This endpoint allows users to access a detailed list of training sessions, courses, and materials designed to enhance product knowledge and skills. Typical consumers include training coordinators, product managers, and customer service teams who require up-to-date information on training opportunities. By utilizing this API, organizations can ensure their teams are well-equipped with necessary training to improve service delivery and product expertise.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/product-management/product-training": {
      "get": {
        "tags": [
          "Product Training"
        ],
        "summary": "Retrieve product training information",
        "description": "Fetch the details related to product training, including available resources, schedules, and other relevant information that can assist users in better understanding the product.",
        "operationId": "listProductManagementProductTrainings",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve product training details from the product management system. Ensure that the request adheres to the expected schema for successful processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListProductManagementProductTrainingsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning product training data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListProductManagementProductTrainingsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListProductManagementProductTrainingsRequest": {
        "type": "string",
        "description": "This schema represents the request body for retrieving product training information in the product management system.",
        "example": "{}"
      },
      "ListProductManagementProductTrainingsResponse_200": {
        "title": "Product Management Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of product training items.",
            "example": [
              {
                "productCode": "CHK-PREMIUM-US",
                "productName": "Northstar Banking Service",
                "customerSegment": "STANDARD",
                "baseCurrency": "USD",
                "effectiveDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ProductTrainingItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the product training items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "A response object for retrieving product training data, including items, pagination details, sorting information, and metadata.",
        "example": {
          "items": [
            {
              "productCode": "CHK-PREMIUM-US",
              "productName": "Northstar Banking Service",
              "customerSegment": "STANDARD",
              "baseCurrency": "USD",
              "effectiveDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "13ce5406-6965-5aa2-9717-c2ca817d454e",
            "correlationId": "89e6789e-ede6-5b12-967d-9e120b74783e",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ProductTrainingItem": {
        "title": "Product Training Item",
        "type": "object",
        "properties": {
          "productCode": {
            "type": "string",
            "description": "The unique code assigned to the product.",
            "example": "P12345"
          },
          "productName": {
            "type": "string",
            "description": "The name of the product.",
            "example": "Product Example"
          },
          "customerSegment": {
            "type": "string",
            "description": "The customer segment for which the product is targeted.",
            "example": "Retail"
          },
          "baseCurrency": {
            "type": "string",
            "description": "The currency in which the product's price is defined.",
            "example": "USD"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date when the product becomes effective.",
            "example": "2023-01-01"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the product record.",
            "example": "Active"
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the product record was last updated.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "A detailed representation of a product training item."
      },
      "Pagination": {
        "title": "Pagination Details",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Information about the pagination of the response."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "response-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier for correlating requests and responses.",
            "example": "correlation-67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata related to the response, including identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "product-training-search-product-training"
        },
        "example": "product-training-search-product-training"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method. The client must include a JSON Web Token (JWT) in the authorization header when making requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}