{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Transaction Historic-spec",
    "description": "The Transaction History Management API enables businesses to create and maintain historical transaction records for specific customer accounts. This endpoint allows users to submit detailed transaction data associated with a particular customer and account, ensuring accurate historical tracking. Typical consumers include financial institutions, accounting software, and analytics platforms that require comprehensive transaction records for reporting and decision-making. Leverage this API to enhance your financial data accuracy and customer service capabilities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/{customerId}/accounts/{accountId}/transactions/historic": {
      "post": {
        "tags": [
          "Account Management"
        ],
        "summary": "Retrieve historic transactions for a specific account.",
        "description": "This endpoint allows users to fetch a list of historic transactions associated with a specific account. By providing account identifiers, users can gain insights into transaction history, which can assist in financial analysis and reporting.",
        "operationId": "createTransactionHistoric",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          },
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "description": "This endpoint allows the submission of historic transaction data for a specific account. The provided data should accurately reflect the transactions that occurred within the given timeframe. Ensure that all mandatory fields are filled correctly to process the request successfully.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTransactionHistoricRequest"
              }
            }
          }
        },
        "responses": {
          "203": {
            "description": "Request processed successfully; check for updates.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateTransactionHistoricResponse_203"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateTransactionHistoricRequest": {
        "title": "Transaction Request Body",
        "type": "object",
        "properties": {
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for posting historic transaction operations.",
        "example": {
          "requestContext": {
            "requestId": "3600aa95-43e1-5111-ba32-5958abde8fe2",
            "correlationId": "ed953d30-56ae-5f6e-8d7e-39e894fc6608",
            "idempotencyKey": "48ff66db-9831-5f49-9ae8-a9fb9ff48f7b",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-936345"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate logs for the request.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key that ensures the operation is idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier of the system that initiated the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application making the request.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information about the request being made."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device through which the request was made.",
            "example": "string"
          }
        },
        "description": "Information regarding the channel through which the request was made."
      },
      "CreateTransactionHistoricResponse_203": {
        "type": "object",
        "properties": {
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the historic transactions operation, providing metadata about the response.",
        "example": {
          "metadata": {
            "responseId": "b91009c5-c703-5ec0-b907-b35439e8b578",
            "correlationId": "ed953d30-56ae-5f6e-8d7e-39e894fc6608",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "abc123"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to correlate related requests and responses.",
            "example": "correlation-xyz"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the response was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Contains metadata related to the response, including identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_203"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-load-historic-transactions-for-customer-account"
        },
        "example": "open-finance-api-load-historic-transactions-for-customer-account"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication where the user must provide a valid JSON Web Token (JWT) in the authorization header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}