{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Refund Retrieval API",
    "description": "The Refund Retrieval API allows users to access detailed information about specific refunds using their unique identifiers. This endpoint is useful for businesses managing financial transactions and needing visibility into refund statuses and reasons. Typical consumers include customer service representatives and finance teams who require quick access to refund data for resolution of customer inquiries or accounting purposes. By retrieving refund details, organizations can ensure transparency and enhance customer trust.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/refunds/{refundId}": {
      "get": {
        "tags": [
          "Refund Management"
        ],
        "summary": "Retrieve a specific refund by its ID.",
        "description": "This endpoint allows you to fetch details about a specific refund using its unique identifier. You can use this to verify the status of a refund or to retrieve additional information related to it.",
        "operationId": "getRefundByIdRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/refundId"
          }
        ],
        "requestBody": {
          "description": "Request payload for retrieving refund details for the specified refund ID. This payload conforms to the required JSON schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetRefundByIdRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the refund details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRefundByIdRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetRefundByIdRes100045Request": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to refunds.",
        "example": "{}"
      },
      "GetRefundByIdRes100045Response_200": {
        "title": "Refund Response",
        "type": "object",
        "properties": {
          "refundId": {
            "type": "string",
            "description": "Unique identifier for the refund.",
            "example": "STANDARD"
          },
          "paymentId": {
            "type": "string",
            "description": "Identifier for the associated payment.",
            "example": "PAY-323259"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant.",
            "example": "MER-982001"
          },
          "amount": {
            "description": "The amount of money being refunded.",
            "$ref": "#/components/schemas/Amount"
          },
          "reasonCode": {
            "type": "string",
            "description": "Code representing the reason for the refund.",
            "example": "CODE-616"
          },
          "reason": {
            "type": "string",
            "description": "Description of the reason for the refund.",
            "example": "STANDARD"
          },
          "merchantRefundReference": {
            "type": "string",
            "description": "Reference provided by the merchant for the refund.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the refund.",
            "example": "ACTIVE"
          },
          "failure": {
            "description": "Details about the failure if the refund was not successful.",
            "$ref": "#/components/schemas/Failure"
          },
          "processorReference": {
            "description": "Reference data returned from the processor regarding the refund.",
            "$ref": "#/components/schemas/ProcessorReference"
          },
          "audit": {
            "description": "Audit information related to the refund process.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Metadata pertaining to the refund response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Represents the details of a refund operation response.",
        "example": {
          "refundId": "STANDARD",
          "paymentId": "PAY-323259",
          "merchantId": "MER-982001",
          "amount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "reasonCode": "CODE-616",
          "reason": "STANDARD",
          "merchantRefundReference": "STANDARD",
          "status": "ACTIVE",
          "failure": {
            "category": "STANDARD",
            "code": "SUCCESS",
            "message": "STANDARD",
            "declineCode": "CODE-497",
            "retryable": true
          },
          "processorReference": {
            "network": "STANDARD",
            "schemeTransactionId": "TXN-654136",
            "acquirerReferenceNumber": "STANDARD",
            "issuerReference": "STANDARD",
            "retrievalReferenceNumber": "STANDARD",
            "approvalCode": "CODE-335"
          },
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "2e470a0a-eedb-531a-babe-f4ecd0c53e08",
            "correlationId": "73c13a4c-304c-57d5-a714-a76a0452c5ef",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Amount": {
        "title": "Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency code of the amount.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "Value of the amount in the specified currency.",
            "example": "100.00"
          }
        },
        "description": "Represents the currency and value of the refund amount."
      },
      "Failure": {
        "title": "Failure",
        "type": "object",
        "properties": {
          "category": {
            "type": "string",
            "description": "Category of the failure.",
            "example": "Technical"
          },
          "code": {
            "type": "string",
            "description": "Specific code representing the type of failure.",
            "example": "F001"
          },
          "message": {
            "type": "string",
            "description": "Human-readable message explaining the failure.",
            "example": "Insufficient funds."
          },
          "declineCode": {
            "type": "string",
            "description": "Code indicating the reason for a decline if applicable.",
            "example": "DECLINE"
          },
          "retryable": {
            "type": "boolean",
            "description": "Indicates whether the operation can be retried.",
            "example": false
          }
        },
        "description": "Describes the failure details related to a refund."
      },
      "ProcessorReference": {
        "title": "Processor Reference",
        "type": "object",
        "properties": {
          "network": {
            "type": "string",
            "description": "Name of the network used for processing.",
            "example": "Visa"
          },
          "schemeTransactionId": {
            "type": "string",
            "description": "Transaction ID from the scheme.",
            "example": "ABC123456"
          },
          "acquirerReferenceNumber": {
            "type": "string",
            "description": "Reference number from the acquirer bank.",
            "example": "XYZ78910"
          },
          "issuerReference": {
            "type": "string",
            "description": "Reference identifier from the issuer.",
            "example": "ISSUER123"
          },
          "retrievalReferenceNumber": {
            "type": "string",
            "description": "Reference number for retrieving information.",
            "example": "RRN4567"
          },
          "approvalCode": {
            "type": "string",
            "description": "Approval code returned from the processor.",
            "example": "APPROVED"
          }
        },
        "description": "Contains reference identifiers from the payment processor."
      },
      "Audit": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp of when the refund was created.",
            "example": "2023-01-01T00:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the refund.",
            "example": "user123"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the refund was last updated.",
            "example": "2023-01-02T00:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the refund.",
            "example": "user456"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the refund record.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Contains audit information for the refund process."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response.",
            "example": "response123"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking requests.",
            "example": "corr456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "US-East"
          }
        },
        "description": "Additional metadata related to the refund response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "refundId": {
        "name": "refundId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-get-refund"
        },
        "example": "banking-p2m-openapi-get-refund"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token for authentication. The token should be a valid JSON Web Token (JWT) that is passed in the Authorization header of the request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}