{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Connect Generate Transfer Deposit Switch-v5-spec",
    "description": "MICROSERVICE-PROD-Create Connect Generate Transfer Deposit Switch-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/connect/generate/transfer/deposit-switch": {
      "post": {
        "operationId": "createConnectGenerateTransferDepositSwitch",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateConnectGenerateTransferDepositSwitchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateConnectGenerateTransferDepositSwitchResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateConnectGenerateTransferDepositSwitchRequest": {
        "type": "object",
        "properties": {
          "serviceAgreement": {
            "type": "object",
            "properties": {
              "language": {
                "type": "string",
                "example": "string"
              },
              "acceptedDate": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "language": "en",
              "acceptedDate": "2026-09-15"
            }
          },
          "external": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "example": "string"
              },
              "context": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "id": "STANDARD",
              "context": "STANDARD"
            }
          },
          "accounts": {
            "type": "array",
            "example": [
              {
                "accountNumber": "STANDARD",
                "bankIdentifier": "STANDARD",
                "title": "Banking operation completed",
                "type": "STANDARD"
              }
            ],
            "items": {
              "type": "object",
              "properties": {
                "accountNumber": {
                  "type": "string",
                  "example": "string"
                },
                "bankIdentifier": {
                  "type": "string",
                  "example": "string"
                },
                "title": {
                  "type": "string",
                  "example": "string"
                },
                "type": {
                  "type": "string",
                  "example": "string"
                }
              },
              "example": "string"
            }
          },
          "partnerId": {
            "type": "string",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "example": "CUST-866814"
          },
          "language": {
            "type": "string",
            "example": "en"
          },
          "webhook": {
            "type": "string",
            "example": "STANDARD"
          },
          "webhookContentType": {
            "type": "string",
            "example": "STANDARD"
          },
          "redirectUri": {
            "type": "string",
            "example": "STANDARD"
          },
          "experience": {
            "type": "string",
            "example": "STANDARD"
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "ace02e15-99fd-51d2-9192-0087a5922d37",
              "correlationId": "3e27ff77-c8a0-5cab-ab50-62e00f60a71d",
              "idempotencyKey": "c3f6ef80-ce4e-5873-8754-5f28bf353018",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-809905"
              }
            }
          }
        },
        "example": {
          "serviceAgreement": {
            "language": "en",
            "acceptedDate": "2026-09-15"
          },
          "external": {
            "id": "STANDARD",
            "context": "STANDARD"
          },
          "accounts": [
            {
              "accountNumber": "STANDARD",
              "bankIdentifier": "STANDARD",
              "title": "Banking operation completed",
              "type": "STANDARD"
            }
          ],
          "partnerId": "STANDARD",
          "customerId": "CUST-866814",
          "language": "en",
          "webhook": "STANDARD",
          "webhookContentType": "STANDARD",
          "redirectUri": "STANDARD",
          "experience": "STANDARD",
          "requestContext": {
            "requestId": "ace02e15-99fd-51d2-9192-0087a5922d37",
            "correlationId": "3e27ff77-c8a0-5cab-ab50-62e00f60a71d",
            "idempotencyKey": "c3f6ef80-ce4e-5873-8754-5f28bf353018",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-809905"
            }
          }
        }
      },
      "CreateConnectGenerateTransferDepositSwitchResponse_200": {
        "type": "object",
        "properties": {
          "link": {
            "type": "string",
            "example": "STANDARD"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "c2c02187-d612-51ce-aa90-516bded2ae91",
              "correlationId": "3e27ff77-c8a0-5cab-ab50-62e00f60a71d",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "link": "STANDARD",
          "metadata": {
            "responseId": "c2c02187-d612-51ce-aa90-516bded2ae91",
            "correlationId": "3e27ff77-c8a0-5cab-ab50-62e00f60a71d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-generate-transfer-deposit-switch-url"
        },
        "example": "open-finance-api-generate-transfer-deposit-switch-url"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}