{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Employee Evaluation Reviews API",
    "description": "The Employee Evaluation Reviews API facilitates the submission of performance reviews for employees within the human resource management system. Organizations can utilize this endpoint to collect and organize feedback from evaluators, ensuring comprehensive assessments of employee performance. This API is particularly useful for HR professionals and managers who need to streamline the review process and capture valuable insights into employee development. By integrating this API, businesses can enhance their evaluation workflows and promote a culture of continuous improvement.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/employee-evaluation/{param1}/reviews": {
      "post": {
        "tags": [
          "Employee Evaluation"
        ],
        "summary": "Submit a review for employee evaluation.",
        "description": "This endpoint allows you to create and submit a performance review for a specific employee evaluation. Be sure to include all necessary details in the request body to successfully process the review.",
        "operationId": "createEmployeeEvaluationReview",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit a new review for the specified employee (EMP-900045) as part of the employee evaluation process within the human resource management system. It must include all required fields as defined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEmployeeEvaluationReviewRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted and is being processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateEmployeeEvaluationReviewResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateEmployeeEvaluationReviewRequest": {
        "type": "object",
        "properties": {
          "reviewReason": {
            "type": "string",
            "description": "The reason for the performance review.",
            "example": "STANDARD"
          },
          "reviewScope": {
            "type": "array",
            "description": "The scope of the review, which could include various dimensions of the employee's performance.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "A specific area of review, such as teamwork, leadership, etc.",
              "example": "Teamwork"
            }
          },
          "assignedReviewerId": {
            "type": "string",
            "description": "The identifier of the reviewer assigned to carry out the performance review.",
            "example": "STANDARD"
          },
          "dueAt": {
            "type": "string",
            "description": "The due date for submitting the performance review.",
            "example": "2026-08-11T12:00:00Z"
          },
          "requestContext": {
            "description": "Contextual information about the review request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for submitting a performance review request.",
        "example": {
          "reviewReason": "STANDARD",
          "reviewScope": [
            "STANDARD"
          ],
          "assignedReviewerId": "STANDARD",
          "dueAt": "2026-08-11T12:00:00Z",
          "requestContext": {
            "requestId": "20becef2-fac8-5130-abef-a1ae2293e43f",
            "correlationId": "c72da39f-eb91-5714-968e-e8b89e2a685f",
            "idempotencyKey": "30c1c276-70a1-5232-abf5-7e63d81b06b7",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-401235"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-98765"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier for correlating logs and requests.",
            "example": "corr-11111"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure the request is idempotent.",
            "example": "idemp-22222"
          },
          "requestedAt": {
            "type": "string",
            "description": "The time at which the request was made.",
            "example": "2023-10-01T15:30:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "HR Management System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application responsible for making the request.",
            "example": "Employee Portal"
          },
          "channel": {
            "description": "Information about the communication channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information related to the performance review request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The identifier of the communication channel.",
            "example": "channel-33333"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the communication channel, such as API, web, etc.",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used for the request.",
            "example": "device-44444"
          }
        },
        "description": "Details regarding the communication channel through which the request was made."
      },
      "CreateEmployeeEvaluationReviewResponse_202": {
        "title": "Employee Evaluation Response",
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "A reference code associated with the action taken.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "The type of action performed as part of the employee evaluation.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the evaluation action.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "The date and time when the action was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the evaluation action.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for employee evaluation reviews in the Operations department.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "318130ac-0478-5087-b215-72718cb61445",
            "correlationId": "c72da39f-eb91-5714-968e-e8b89e2a685f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracing the evaluation request through the system.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Schema representing additional metadata associated with the evaluation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint used in the employee evaluation review operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "employee-evaluation-review-employee-evaluation"
        },
        "example": "employee-evaluation-review-employee-evaluation"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is processing the employee evaluation review request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes a Bearer authentication mechanism with JSON Web Tokens (JWT). Clients must include a valid JWT in the Authorization header of their requests to authenticate and gain access to secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}