{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Knowledge Asset Management Manual-spec",
    "description": "This API enables the creation of knowledge asset management manuals within the banking sector. It facilitates the submission of essential documentation that outlines practices, guidelines, and procedures for managing knowledge assets effectively. Typical consumers include banking professionals and operational teams who require a structured format for documenting and maintaining corporate knowledge. The operation supports businesses in enhancing their internal processes and leveraging knowledge assets for improved decision-making and regulatory compliance.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/knowledge-assets/management-manual": {
      "post": {
        "tags": [
          "Knowledge Management"
        ],
        "summary": "Create a new management manual for knowledge assets.",
        "description": "This endpoint allows you to create a new management manual that serves as a comprehensive guide for handling knowledge assets. You can include various sections detailing procedures, standards, and policies crucial for effective management.",
        "operationId": "createKnowledgeAssetManagementManual",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create a new management manual for knowledge assets. It should contain all relevant details necessary for the manual, as defined by the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateKnowledgeAssetManagementManualRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateKnowledgeAssetManagementManualResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateKnowledgeAssetManagementManualRequest": {
        "title": "Management Manual Request",
        "type": "object",
        "properties": {
          "manualId": {
            "type": "string",
            "description": "Unique identifier for the management manual.",
            "example": "STANDARD"
          },
          "title": {
            "type": "string",
            "description": "Title of the management manual.",
            "example": "Banking operation completed"
          },
          "version": {
            "type": "string",
            "description": "Version of the management manual.",
            "example": "STANDARD"
          },
          "ownerId": {
            "type": "string",
            "description": "Identifier of the owner of the management manual.",
            "example": "STANDARD"
          },
          "effectiveDate": {
            "type": "string",
            "description": "Date when the management manual becomes effective.",
            "example": "2026-09-15"
          },
          "classification": {
            "type": "string",
            "description": "Classification of the management manual.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for creating a management manual.",
        "example": {
          "manualId": "STANDARD",
          "title": "Banking operation completed",
          "version": "STANDARD",
          "ownerId": "STANDARD",
          "effectiveDate": "2026-09-15",
          "classification": "STANDARD",
          "requestContext": {
            "requestId": "417daeeb-1368-5600-9a85-57f9e0a69d4b",
            "correlationId": "44a71649-9363-5c24-80c4-12f7c5d2bffa",
            "idempotencyKey": "4e4575fe-ae3c-5b12-b3a0-13519c8f1340",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-523381"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the request is idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request originated.",
            "example": "string"
          },
          "channel": {
            "description": "Details about the channel through which the request was made.",
            "$ref": "#/components/schemas/RequestChannel"
          }
        },
        "description": "Schema representing the context of a request."
      },
      "RequestChannel": {
        "title": "Request Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Schema representing the channel details of a request."
      },
      "CreateKnowledgeAssetManagementManualResponse_201": {
        "title": "Management Manual Response",
        "type": "object",
        "properties": {
          "manualId": {
            "type": "string",
            "description": "Unique identifier for the management manual.",
            "example": "STANDARD"
          },
          "ownerId": {
            "type": "string",
            "description": "Identifier of the owner of the management manual.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "Identifier for the resource associated with the manual.",
            "example": "RES-601868"
          },
          "status": {
            "type": "string",
            "description": "Current status of the management manual.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the manual was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the creation of a management manual.",
        "example": {
          "manualId": "STANDARD",
          "ownerId": "STANDARD",
          "resourceId": "RES-601868",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "908bf753-f143-560b-ab74-edf322a2664f",
            "correlationId": "44a71649-9363-5c24-80c4-12f7c5d2bffa",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracking the request flow.",
            "example": "correlation-456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request took place.",
            "example": "us-west-2"
          }
        },
        "description": "Metadata related to the response for tracking purposes."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that was accessed, allowing tracking of specific requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "management-manual-create-management-manual"
        },
        "example": "management-manual-create-management-manual"
      },
      "X-Runtime-App": {
        "description": "Indicates the runtime environment of the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "An HTTP authentication scheme that uses bearer tokens, where the client must include the JWT (JSON Web Token) in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}