{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Workforce Contracts API",
    "description": "The Workforce Contracts API enables organizations to access and manage workforce contract information effectively. It provides endpoints to retrieve detailed data about contracts associated with employees, allowing HR professionals and business managers to ensure compliance and track workforce agreements efficiently. Typical use cases include monitoring contract expiration, auditing contract terms, and analyzing workforce engagement. This API serves as a critical resource for businesses seeking to streamline their human resource management operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/workforce-contracts": {
      "get": {
        "tags": [
          "Workforce Management"
        ],
        "summary": "Retrieve a list of workforce contracts.",
        "description": "This endpoint allows developers to fetch all workforce contracts within the human resource management system. It provides a comprehensive view of existing contracts, including details such as contract duration, employee assignments, and contract terms.",
        "operationId": "getWorkforceContracts",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving workforce contracts in the Human Resource Management system. This body must conform to the specified schema and include any necessary parameters to filter or sort the contracts as needed.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetWorkforceContractsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved workforce contracts.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetWorkforceContractsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetWorkforceContractsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation concerning workforce contracts in human resource management.",
        "example": "{}"
      },
      "GetWorkforceContractsResponse_200": {
        "title": "Workforce Contracts Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of workforce contract items.",
            "example": [
              {
                "employeeId": "EMP-641338",
                "assignmentId": "STANDARD",
                "departmentId": "STANDARD",
                "effectiveDate": "2026-09-15",
                "countryCode": "US",
                "employmentType": "STANDARD",
                "managerId": "STANDARD",
                "workLocation": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/WorkforceContract"
            }
          },
          "pagination": {
            "description": "Details about pagination for the results set.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting criteria applied to the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata information related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "A response schema for the workforce contracts operation, containing a list of contracts, pagination information, sorting details, and metadata.",
        "example": {
          "items": [
            {
              "employeeId": "EMP-641338",
              "assignmentId": "STANDARD",
              "departmentId": "STANDARD",
              "effectiveDate": "2026-09-15",
              "countryCode": "US",
              "employmentType": "STANDARD",
              "managerId": "STANDARD",
              "workLocation": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "8a142ec5-299a-56c7-8048-a71c961fb621",
            "correlationId": "0d25fda0-53e7-5849-b2cb-103050f96e75",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "WorkforceContract": {
        "title": "Workforce Contract",
        "type": "object",
        "properties": {
          "employeeId": {
            "type": "string",
            "description": "The unique identifier of the employee.",
            "example": "E1234"
          },
          "assignmentId": {
            "type": "string",
            "description": "The unique identifier for the assignment.",
            "example": "A1234"
          },
          "departmentId": {
            "type": "string",
            "description": "The unique identifier for the department.",
            "example": "D1234"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date when the contract becomes effective.",
            "example": "2023-01-01"
          },
          "countryCode": {
            "type": "string",
            "description": "The country code where the employee is working.",
            "example": "US"
          },
          "employmentType": {
            "type": "string",
            "description": "The type of employment (e.g., Full-Time, Part-Time).",
            "example": "Full-Time"
          },
          "managerId": {
            "type": "string",
            "description": "The unique identifier of the employee's manager.",
            "example": "M1234"
          },
          "workLocation": {
            "type": "string",
            "description": "The location where the employee works.",
            "example": "Remote"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the record (e.g., Active, Inactive).",
            "example": "Active"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the record was last updated.",
            "example": "2023-02-01T10:00:00Z"
          }
        },
        "description": "A schema representing a workforce contract associated with an employee."
      },
      "Pagination": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available in the dataset.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "A schema representing pagination details for a list of items."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "R1234"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier to trace the request and response.",
            "example": "C1234"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-03-01T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "us-east-1"
          }
        },
        "description": "A schema containing metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "employee-and-contractor-contract-search-employee-and-contractor-contract"
        },
        "example": "employee-and-contractor-contract-search-employee-and-contractor-contract"
      },
      "X-Runtime-App": {
        "description": "The name of the application runtime that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses JSON Web Tokens (JWT) to verify user identity and authorize access to resources. The token should be included in the `Authorization` header as a prefix, e.g., 'Bearer <JWT>'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}