{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Securities Financing Management API",
    "description": "The Securities Financing Management API enables users to efficiently modify the details of securities financing transactions. This API provides capabilities for adjusting terms, updating collateral information, and managing transaction statuses. It is primarily designed for financial institutions, treasury departments, and asset managers seeking to optimize their securities financing operations. By leveraging this API, developers can integrate dynamic updates to financing agreements in real-time, enhancing their operational workflows and risk management strategies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/treasury/securities-financing/{param1}": {
      "patch": {
        "tags": [
          "Securities Financing"
        ],
        "summary": "Update the securities financing details.",
        "description": "This operation allows you to update the details of a specific securities financing transaction identified by RES-100045. You can modify various attributes of the transaction to keep the records accurate and up-to-date.",
        "operationId": "patchSecuritiesFinancingRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to partially update the securities financing information for the specified resource. It includes the fields that need to be modified and their new values.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchSecuritiesFinancingRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was processed successfully and changes were applied.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchSecuritiesFinancingRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchSecuritiesFinancingRes100045Request": {
        "type": "object",
        "properties": {
          "changes": {
            "description": "The changes to be made in the operation.",
            "$ref": "#/components/schemas/OperationChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The timestamp at which the changes are effective.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user requesting the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context of the request for tracking and tracing.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for modifying operations in the securities financing process.",
        "example": {
          "changes": {
            "portfolioId": "PORT-811513",
            "instrumentId": "STANDARD",
            "counterpartyId": "PARTY-169434"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "fd44b669-94ad-5f2a-8571-ad0c3255b3ea",
            "correlationId": "ffd0a588-4a4a-5e10-a238-85f2037c5b98",
            "idempotencyKey": "010abd7c-bbe0-53f5-aba4-31ce4b2286a1",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-212875"
            }
          }
        }
      },
      "OperationChanges": {
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "Identifier of the portfolio related to the change.",
            "example": "string"
          },
          "instrumentId": {
            "type": "string",
            "description": "Identifier of the instrument related to the change.",
            "example": "string"
          },
          "counterpartyId": {
            "type": "string",
            "description": "Identifier of the counterparty involved in the change.",
            "example": "string"
          }
        },
        "description": "Details of the changes in the operation."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of the request processing.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/RequestChannel"
          }
        },
        "description": "Contextual information about the request."
      },
      "RequestChannel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier of the channel used for the request.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel used for the request (e.g., API, web, etc.).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Details about the request channel."
      },
      "PatchSecuritiesFinancingRes100045Response_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation, indicating success or failure.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the operation was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the operations PATCH request returning a successful response.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "fc682e87-dd4a-550b-81a4-d9a21f87abcd",
            "correlationId": "ffd0a588-4a4a-5e10-a238-85f2037c5b98",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating requests and responses.",
            "example": "abcde-12345-fghij"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:34:56Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing was executed.",
            "example": "US-East"
          }
        },
        "description": "Metadata schema containing details related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the specific endpoint that was accessed, facilitating traceability and error debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "stock-lending-and-repos-update-stock-lending-and-repos"
        },
        "example": "stock-lending-and-repos-update-stock-lending-and-repos"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request, helping to identify the application context in which the response was generated.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication method, specifically designed for JWT (JSON Web Tokens). Clients must include a valid JWT in the 'Authorization' header when making requests to secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}