{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Banking Enterprise Services Legal Compliances-v5-spec",
    "description": "The Legal Compliance Information API provides users with access to essential data regarding legal compliance within banking enterprise services. This endpoint allows developers to retrieve comprehensive lists of compliance requirements and regulations that apply to various banking operations. Typical consumers include compliance officers, legal teams, and software developers integrating compliance checks into their applications. By utilizing this API, organizations can ensure adherence to legal standards and streamline their compliance processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/enterprise-services/legal-compliance": {
      "get": {
        "tags": [
          "Enterprise Services"
        ],
        "summary": "Retrieve Legal Compliance Information",
        "description": "This endpoint allows users to fetch critical information regarding legal compliance within the enterprise services sector. Ensure you have the necessary permissions to access this data.",
        "operationId": "listBankingEnterpriseServicesLegalCompliances",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to provide the necessary parameters for retrieving legal compliance information in the enterprise services context. Ensure that all required parameters are included in the JSON body for successful processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListBankingEnterpriseServicesLegalCompliancesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of legal compliance information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBankingEnterpriseServicesLegalCompliancesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListBankingEnterpriseServicesLegalCompliancesRequest": {
        "type": "string",
        "description": "A string representation of the request body for the GET operation on legal compliance.",
        "example": "{}"
      },
      "ListBankingEnterpriseServicesLegalCompliancesResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of legal compliance engagement items.",
            "example": [
              {
                "engagementId": "STANDARD",
                "scope": "STANDARD",
                "framework": "STANDARD",
                "engagementOwnerId": "STANDARD",
                "plannedStartDate": "2026-09-15",
                "targetCompletionDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/EngagementItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the engagement items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for legal compliance operations.",
        "example": {
          "items": [
            {
              "engagementId": "STANDARD",
              "scope": "STANDARD",
              "framework": "STANDARD",
              "engagementOwnerId": "STANDARD",
              "plannedStartDate": "2026-09-15",
              "targetCompletionDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "aef549ec-0bcf-5e95-8a60-f4932c15d18f",
            "correlationId": "b47c8e17-a05e-5f9a-93be-a6eb94645310",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EngagementItem": {
        "type": "object",
        "properties": {
          "engagementId": {
            "type": "string",
            "description": "The unique identifier for the engagement."
          },
          "scope": {
            "type": "string",
            "description": "The scope of the engagement."
          },
          "framework": {
            "type": "string",
            "description": "The framework applicable to the engagement."
          },
          "engagementOwnerId": {
            "type": "string",
            "description": "The unique identifier for the owner of the engagement."
          },
          "plannedStartDate": {
            "type": "string",
            "description": "The planned start date for the engagement."
          },
          "targetCompletionDate": {
            "type": "string",
            "description": "The target completion date for the engagement."
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the record."
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the engagement was last updated."
          }
        },
        "description": "Represents a legal compliance engagement item."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of entries per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Pagination information for the engagement items."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request across different services."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place."
          }
        },
        "description": "Metadata information for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "legal-compliance-search-legal-compliance"
        },
        "example": "legal-compliance-search-legal-compliance"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication method in which the client sends a token, typically in JWT format, as part of the authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}