{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Banking Enterprise Services Internal Audits-v5-spec",
    "description": "The Internal Audit Listing API provides access to comprehensive records of internal audits conducted within banking enterprise services. This endpoint allows authorized users to retrieve detailed information and summaries of past audits, enabling compliance, risk management, and operational assessments. Typical consumers include compliance officers, risk managers, and auditors seeking to maintain robust internal controls and governance. With this API, organizations can ensure transparency and accountability in their auditing processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/enterprise-services/internal-audit": {
      "get": {
        "tags": [
          "Enterprise Audit Services"
        ],
        "summary": "Retrieve internal audit details.",
        "description": "This endpoint allows you to fetch comprehensive details about the internal audit services offered by the enterprise. You can use this to understand compliance, risk assessment, and audit findings.",
        "operationId": "listBankingEnterpriseServicesInternalAudits",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving internal audit operations within the enterprise services. It should contain relevant criteria to filter the audits being requested.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListBankingEnterpriseServicesInternalAuditsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the internal audit data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBankingEnterpriseServicesInternalAuditsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListBankingEnterpriseServicesInternalAuditsRequest": {
        "type": "string",
        "description": "The request body for the internal audit operations. This represents the payload that should be sent with the request, expected to be of string type.",
        "example": "{}"
      },
      "ListBankingEnterpriseServicesInternalAuditsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of audit engagements.",
            "example": [
              {
                "engagementId": "STANDARD",
                "scope": "STANDARD",
                "framework": "STANDARD",
                "engagementOwnerId": "STANDARD",
                "plannedStartDate": "2026-09-15",
                "targetCompletionDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/AuditEngagement"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the list of audit engagements.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for internal audit operations, including a list of audit engagements and pagination metadata.",
        "example": {
          "items": [
            {
              "engagementId": "STANDARD",
              "scope": "STANDARD",
              "framework": "STANDARD",
              "engagementOwnerId": "STANDARD",
              "plannedStartDate": "2026-09-15",
              "targetCompletionDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "3ed5908e-38ad-5954-a905-f2c0a5701289",
            "correlationId": "0e1eaf36-136a-599f-82ae-94cbd221a6e0",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AuditEngagement": {
        "type": "object",
        "properties": {
          "engagementId": {
            "type": "string",
            "description": "Unique identifier for the audit engagement.",
            "example": "engagement-123"
          },
          "scope": {
            "type": "string",
            "description": "Scope of the audit engagement.",
            "example": "Financial audit"
          },
          "framework": {
            "type": "string",
            "description": "Framework under which the audit engagement is conducted.",
            "example": "IFRS"
          },
          "engagementOwnerId": {
            "type": "string",
            "description": "Identifier for the owner of the audit engagement.",
            "example": "owner-456"
          },
          "plannedStartDate": {
            "type": "string",
            "description": "Planned start date for the audit engagement.",
            "example": "2023-01-01"
          },
          "targetCompletionDate": {
            "type": "string",
            "description": "Target completion date for the audit engagement.",
            "example": "2023-01-31"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the audit engagement record.",
            "example": "Completed"
          },
          "updatedAt": {
            "type": "string",
            "description": "Date and time when the audit engagement record was last updated.",
            "example": "2023-01-10T12:00:00Z"
          }
        },
        "description": "Detailed information about a specific audit engagement."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 50
          }
        },
        "description": "Pagination information for the list of items."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-789"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request.",
            "example": "correlation-101112"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp for when the response was generated.",
            "example": "2023-01-10T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "US-East"
          }
        },
        "description": "Metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "internal-audit-search-internal-audit"
        },
        "example": "internal-audit-search-internal-audit"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which requires a valid JWT (JSON Web Token) to be included in the authorization header of the request. The token must be obtained through a secure authentication process prior to making API calls.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}