{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get P2m By Param1-spec",
    "description": "This API allows users to access reconciliation runs for P2M based on a specified parameter. It is designed to provide essential details regarding financial reconciliations, which can be leveraged by financial analysts, auditors, and back-office operations to monitor and verify transactions. Users can retrieve specific reconciliation runs by providing the appropriate parameter value. This enables streamlined financial workflows and enhances operational efficiency by offering timely access to critical reconciliation data.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/reconciliation-runs/{param1}": {
      "get": {
        "tags": [
          "Reconciliation Management"
        ],
        "summary": "Retrieve a specific reconciliation run by ID.",
        "description": "This operation allows the user to fetch detailed information about a specific reconciliation run identified by its unique ID. It provides all relevant data pertaining to the reconciliation process.",
        "operationId": "getP2mByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the reconciliation run details for the specified run ID (RES-100045). It must include the necessary parameters in the JSON format as defined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetP2mByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the reconciliation run details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetP2mByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetP2mByParam1Request": {
        "type": "string",
        "description": "The request body for the reconciliation runs operation, typically containing a string representation of the request data.",
        "example": "{}"
      },
      "GetP2mByParam1Response_200": {
        "title": "Reconciliation Run Response",
        "type": "object",
        "properties": {
          "reconciliationRunId": {
            "type": "string",
            "description": "Unique identifier for the reconciliation run.",
            "example": "STANDARD"
          },
          "sourceA": {
            "type": "string",
            "description": "Identifier for source A.",
            "example": "STANDARD"
          },
          "sourceB": {
            "type": "string",
            "description": "Identifier for source B.",
            "example": "STANDARD"
          },
          "businessDate": {
            "type": "string",
            "description": "The business date for the reconciliation.",
            "example": "2026-09-15"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant.",
            "example": "MER-441087"
          },
          "currency": {
            "type": "string",
            "description": "Currency used in the reconciliation.",
            "example": "USD"
          },
          "matchingStrategy": {
            "type": "string",
            "description": "The strategy used for matching the records.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Status of the reconciliation run.",
            "example": "ACTIVE"
          },
          "summary": {
            "description": "Summary of the reconciliation run.",
            "$ref": "#/components/schemas/ReconciliationSummary"
          },
          "startedAt": {
            "type": "string",
            "description": "Timestamp when the reconciliation started.",
            "example": "2026-09-15T14:30:00Z"
          },
          "completedAt": {
            "type": "string",
            "description": "Timestamp when the reconciliation completed.",
            "example": "2026-09-15T14:30:00Z"
          },
          "audit": {
            "description": "Audit information related to the reconciliation run.",
            "$ref": "#/components/schemas/AuditDetails"
          },
          "metadata": {
            "description": "Metadata associated with the reconciliation run.",
            "$ref": "#/components/schemas/ReconciliationMetadata"
          }
        },
        "description": "Schema representing the details of a reconciliation run.",
        "example": {
          "reconciliationRunId": "STANDARD",
          "sourceA": "STANDARD",
          "sourceB": "STANDARD",
          "businessDate": "2026-09-15",
          "merchantId": "MER-441087",
          "currency": "USD",
          "matchingStrategy": "STANDARD",
          "status": "ACTIVE",
          "summary": {
            "sourceACount": 1,
            "sourceBCount": 1,
            "matchedCount": 1,
            "unmatchedSourceACount": 1,
            "unmatchedSourceBCount": 1,
            "amountMismatchCount": 1,
            "duplicateCount": 1,
            "totalSourceA": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "totalSourceB": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "netDifference": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "startedAt": "2026-09-15T14:30:00Z",
          "completedAt": "2026-09-15T14:30:00Z",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "906cde87-a18c-50d7-b31e-b9de46621744",
            "correlationId": "4332a2b7-85da-54b5-8503-a5bd697380cc",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ReconciliationSummary": {
        "title": "Reconciliation Summary",
        "type": "object",
        "properties": {
          "sourceACount": {
            "type": "integer",
            "description": "Total count of records from source A.",
            "format": "int32",
            "example": 0
          },
          "sourceBCount": {
            "type": "integer",
            "description": "Total count of records from source B.",
            "format": "int32",
            "example": 0
          },
          "matchedCount": {
            "type": "integer",
            "description": "Count of matched records.",
            "format": "int32",
            "example": 0
          },
          "unmatchedSourceACount": {
            "type": "integer",
            "description": "Count of unmatched records from source A.",
            "format": "int32",
            "example": 0
          },
          "unmatchedSourceBCount": {
            "type": "integer",
            "description": "Count of unmatched records from source B.",
            "format": "int32",
            "example": 0
          },
          "amountMismatchCount": {
            "type": "integer",
            "description": "Count of mismatched amounts.",
            "format": "int32",
            "example": 0
          },
          "duplicateCount": {
            "type": "integer",
            "description": "Count of duplicate records.",
            "format": "int32",
            "example": 0
          },
          "totalSourceA": {
            "description": "Total amount from source A.",
            "$ref": "#/components/schemas/TotalAmount"
          },
          "totalSourceB": {
            "description": "Total amount from source B.",
            "$ref": "#/components/schemas/TotalAmount"
          },
          "netDifference": {
            "description": "Net difference between total amounts.",
            "$ref": "#/components/schemas/TotalAmount"
          }
        },
        "description": "Summary details of the reconciliation run.",
        "example": "string"
      },
      "TotalAmount": {
        "title": "Total Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency code for the amount.",
            "example": "string"
          },
          "value": {
            "type": "string",
            "description": "Amount value.",
            "example": "string"
          }
        },
        "description": "Representation of a total amount with currency."
      },
      "AuditDetails": {
        "title": "Audit Details",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the reconciliation was created.",
            "example": "string"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the reconciliation.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the reconciliation was last updated.",
            "example": "string"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the reconciliation.",
            "example": "string"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the reconciliation record.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Audit details for the reconciliation process."
      },
      "ReconciliationMetadata": {
        "title": "Reconciliation Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata related to the reconciliation process."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-get-reconciliation-run"
        },
        "example": "banking-p2m-openapi-get-reconciliation-run"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication method utilizing JSON Web Tokens (JWT). Clients must include a valid token in the Authorization header as 'Bearer {token}' to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}