{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Card Card Network Participant Facility-spec",
    "description": "This API facilitates the onboarding and management of card network participant facilities within the banking system. It allows institutions to establish new facilities, ensuring compliance with network standards and operational requirements. Ideal for financial institutions and service providers, this API streamlines the process of adding participant facilities, thereby enhancing connectivity and transaction efficiency in card networks. Use cases include initiating facility registrations and updating facility attributes to maintain accurate network participation.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9003",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cards/card-network-participant-facility": {
      "post": {
        "tags": [
          "Card Network Management"
        ],
        "summary": "Create a new card network participant facility.",
        "description": "This endpoint allows you to create a new facility associated with a card network participant. It accepts the necessary information to establish the facility and returns the details of the created facility.",
        "operationId": "createCardCardNetworkParticipantFacility",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This endpoint is used to create a new card network participant facility. The request must include the necessary details of the facility in the JSON format.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCardCardNetworkParticipantFacilityRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully, confirming the new card network participant facility.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCardCardNetworkParticipantFacilityResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCardCardNetworkParticipantFacilityRequest": {
        "title": "Card Network Participant Facility Operations Request Body",
        "type": "object",
        "properties": {
          "cardToken": {
            "type": "string",
            "description": "The token associated with the card being used for the transaction.",
            "example": "TOK-491581"
          },
          "cardholderId": {
            "type": "string",
            "description": "The identifier for the cardholder associated with the card.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "The unique identifier for the merchant where the transaction is occurring.",
            "example": "MER-282192"
          },
          "transactionAmount": {
            "description": "Details of the amount involved in the transaction.",
            "$ref": "#/components/schemas/TransactionAmount"
          },
          "merchantCategoryCode": {
            "type": "string",
            "description": "The category code representing the type of merchant.",
            "example": "5411"
          },
          "serviceTier": {
            "type": "string",
            "description": "The service tier for the transaction.",
            "example": "STANDARD"
          },
          "availabilityTargetPercent": {
            "type": "number",
            "description": "The target percentage for service availability.",
            "example": 100.0
          },
          "maintenanceWindow": {
            "type": "string",
            "description": "Time window expected for maintenance activities.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "The request body for the operation to process a transaction involving a card network participant facility.",
        "example": {
          "cardToken": "TOK-491581",
          "cardholderId": "STANDARD",
          "merchantId": "MER-282192",
          "transactionAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "merchantCategoryCode": "5411",
          "serviceTier": "STANDARD",
          "availabilityTargetPercent": 100.0,
          "maintenanceWindow": "STANDARD",
          "requestContext": {
            "requestId": "f694dc74-11aa-5cfc-b56c-1c84da67da36",
            "correlationId": "ba927666-2512-5e5d-88d8-1f3a78534361",
            "idempotencyKey": "0e0d6ff2-d9c6-5a2b-b6c4-7f45822c7633",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-433376"
            }
          }
        }
      },
      "TransactionAmount": {
        "title": "Transaction Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount of the transaction.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency code for the transaction amount.",
            "example": "string"
          }
        },
        "description": "Details of the transaction amount, including currency."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that originated the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that generated the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Information that provides context for the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., mobile, web).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the transaction.",
            "example": "string"
          }
        },
        "description": "Information about the channel through which the request is made."
      },
      "CreateCardCardNetworkParticipantFacilityResponse_201": {
        "type": "object",
        "properties": {
          "cardholderId": {
            "type": "string",
            "description": "Unique identifier for the cardholder.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant.",
            "example": "MER-158354"
          },
          "merchantCategoryCode": {
            "type": "string",
            "description": "Code that represents the category of the merchant.",
            "example": "5411"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource.",
            "example": "RES-321893"
          },
          "status": {
            "type": "string",
            "description": "Current status of the operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the resource was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the operation response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for a successful operation related to card network participant facilities.",
        "example": {
          "cardholderId": "STANDARD",
          "merchantId": "MER-158354",
          "merchantCategoryCode": "5411",
          "resourceId": "RES-321893",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "ff412ecf-80e4-59f5-885b-301baa50e5ce",
            "correlationId": "ba927666-2512-5e5d-88d8-1f3a78534361",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracking and correlating requests and responses.",
            "example": "corr-001"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2023-10-24T12:34:56Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "US"
          }
        },
        "description": "Contains additional information related to the operation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-network-participant-facility-create-card-network-participant-facility"
        },
        "example": "card-network-participant-facility-create-card-network-participant-facility"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication with JSON Web Tokens (JWT). Clients must include a valid token in the Authorization header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}