{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Wholesale Trading Capital Market-spec",
    "description": "The Wholesale Trading Capital Markets API facilitates the submission and management of capital market transactions in wholesale trading. This API enables financial institutions and traders to efficiently process and manage their trading activities, including order placements and trade executions. Designed for financial services developers, this API supports operations essential for maintaining competitive trading environments. Common users include brokers, investment houses, and other trading entities looking to streamline their capital market interactions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/wholesale-trading/capital-markets": {
      "post": {
        "tags": [
          "Wholesale Trading"
        ],
        "summary": "Create a new capital markets entry in wholesale trading.",
        "description": "This endpoint allows you to create a new entry in the capital markets section of wholesale trading. It provides a streamlined process for adding important data related to capital markets transactions, designed to enhance your trading capabilities and analytics.",
        "operationId": "createWholesaleTradingCapitalMarket",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to perform operations related to capital markets in wholesale trading. It contains the necessary data in JSON format to execute the specified action.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWholesaleTradingCapitalMarketRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully in the capital markets.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateWholesaleTradingCapitalMarketResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateWholesaleTradingCapitalMarketRequest": {
        "title": "Wholesale Trading Capital Markets Operations Request Body",
        "type": "object",
        "properties": {
          "tradingBookId": {
            "type": "string",
            "description": "Identifier for the trading book related to this operation.",
            "example": "STANDARD"
          },
          "instrumentId": {
            "type": "string",
            "description": "Identifier for the financial instrument involved in the operation.",
            "example": "STANDARD"
          },
          "side": {
            "type": "string",
            "description": "Indicates whether the operation is a buy or sell.",
            "example": "STANDARD"
          },
          "quantity": {
            "type": "integer",
            "description": "The quantity of the instrument for the operation.",
            "format": "int32",
            "example": 1
          },
          "limitPrice": {
            "description": "The limit price associated with the operation.",
            "$ref": "#/components/schemas/LimitPrice"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for the operations in the wholesale trading capital markets.",
        "example": {
          "tradingBookId": "STANDARD",
          "instrumentId": "STANDARD",
          "side": "STANDARD",
          "quantity": 1,
          "limitPrice": {
            "value": 100.0,
            "currency": "USD"
          },
          "requestContext": {
            "requestId": "f7349941-577a-5ee7-bcb8-353df5154081",
            "correlationId": "b1efc389-3c1a-56fc-aefd-20c2216a50ee",
            "idempotencyKey": "52302310-6bfb-52d7-bcf2-51eb1071f5a7",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-509219"
            }
          }
        }
      },
      "LimitPrice": {
        "title": "Limit Price",
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The value of the limit price.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the limit price is denominated.",
            "example": "string"
          }
        },
        "description": "Represents the price limitations for a trading operation."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of operations.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that originated the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that made the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel used to make the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information for the request including identifiers and timestamps."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel through which the request was made.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., API, Web, etc.).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device from which the request originated.",
            "example": "string"
          }
        },
        "description": "Information about the communication channel used for the request."
      },
      "CreateWholesaleTradingCapitalMarketResponse_201": {
        "title": "Wholesale Trading Capital Markets Operations Response",
        "type": "object",
        "properties": {
          "tradingBookId": {
            "type": "string",
            "description": "Identifier for the trading book.",
            "example": "STANDARD"
          },
          "instrumentId": {
            "type": "string",
            "description": "Identifier for the financial instrument.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "Identifier for the resource associated with the operation.",
            "example": "RES-996887"
          },
          "status": {
            "type": "string",
            "description": "Current status of the operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the wholesale trading capital markets operations POST request.",
        "example": {
          "tradingBookId": "STANDARD",
          "instrumentId": "STANDARD",
          "resourceId": "RES-996887",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "b4a5c578-908a-5434-847b-00894032f22b",
            "correlationId": "b1efc389-3c1a-56fc-aefd-20c2216a50ee",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP456789"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking related operations.",
            "example": "CORR987654"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:00:05Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the operation was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Contains additional information related to the operation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the API endpoint that processed the request. This is useful for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ecm-and-dcm-create-ecm-and-dcm"
        },
        "example": "ecm-and-dcm-create-ecm-and-dcm"
      },
      "X-Runtime-App": {
        "description": "The name of the runtime application handling the request. This helps identify which application layer is processing the transaction.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication. Clients should include the JWT (JSON Web Token) in the Authorization header when making requests to protected endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}