{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Lite Connection Generation API",
    "description": "The Lite Connection Generation API allows businesses to seamlessly generate connections in a lightweight manner. Leveraging this API, developers can initiate the creation of new connection instances quickly, enhancing integration processes across various applications. This endpoint is particularly beneficial for developers needing to manage connections efficiently without the overhead of more extensive services. Typical use cases include application onboarding, quick setup for new services, and agile development environments.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/connect/generate/lite": {
      "post": {
        "tags": [
          "Resource Generation"
        ],
        "summary": "Generate a lite version of the resource.",
        "description": "This endpoint allows you to generate a lite version of the specified resource. It is designed for situations where a reduced set of data is desired, providing a streamlined response without unnecessary information.",
        "operationId": "createLiteGenerate",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body contains the necessary data to generate a lite version of the specified resource. Ensure that all required fields are present and formatted correctly to successfully process the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLiteGenerateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed and the expected response is returned.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateLiteGenerateResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateLiteGenerateRequest": {
        "type": "object",
        "properties": {
          "language": {
            "type": "string",
            "description": "The language in which the content will be presented.",
            "example": "en"
          },
          "partnerId": {
            "type": "string",
            "description": "The unique identifier for the partner.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-827242"
          },
          "institutionId": {
            "type": "integer",
            "description": "The unique identifier for the institution.",
            "format": "int32",
            "example": 1
          },
          "redirectUri": {
            "type": "string",
            "description": "The URI to redirect to after processing.",
            "example": "STANDARD"
          },
          "webhook": {
            "type": "string",
            "description": "The URL to which webhook notifications will be sent.",
            "example": "STANDARD"
          },
          "webhookContentType": {
            "type": "string",
            "description": "The content type of the webhook response.",
            "example": "STANDARD"
          },
          "experience": {
            "type": "string",
            "description": "The user experience type being requested.",
            "example": "STANDARD"
          },
          "singleUseUrl": {
            "type": "boolean",
            "description": "Indicates if the URL is for single use only.",
            "example": true
          },
          "isHostedInMobileApp": {
            "type": "boolean",
            "description": "Indicates if the request is coming from a mobile app.",
            "example": true
          },
          "isWebView": {
            "type": "boolean",
            "description": "Indicates if the request is being made from a web view.",
            "example": true
          },
          "requestContext": {
            "description": "The context of the request containing metadata.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for generating S Lite operations.",
        "example": {
          "language": "en",
          "partnerId": "STANDARD",
          "customerId": "CUST-827242",
          "institutionId": 1,
          "redirectUri": "STANDARD",
          "webhook": "STANDARD",
          "webhookContentType": "STANDARD",
          "experience": "STANDARD",
          "singleUseUrl": true,
          "isHostedInMobileApp": true,
          "isWebView": true,
          "requestContext": {
            "requestId": "72c8fd53-bc4e-5cdb-854d-b3a1da8188e3",
            "correlationId": "bcd94fc0-36fd-5014-9713-335e638951b6",
            "idempotencyKey": "70d5ab8c-81c9-5c37-b74d-83c63c8d82c0",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-895397"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req_789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating multiple requests.",
            "example": "corr_012"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotent requests.",
            "example": "idempotency_345"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system of the request.",
            "example": "systemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the source application.",
            "example": "appB"
          },
          "channel": {
            "description": "Details about the communication channel.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information for the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel_456"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel used for the communication.",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to send the request.",
            "example": "device_789"
          }
        },
        "description": "Information about the channel through which the request was made."
      },
      "CreateLiteGenerateResponse_200": {
        "type": "object",
        "properties": {
          "link": {
            "type": "string",
            "description": "A URL link related to the generated resource.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata associated with the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "The response schema for a successful operation in the generate service.",
        "example": {
          "link": "STANDARD",
          "metadata": {
            "responseId": "5d19b3d0-a332-5317-aff2-299e0300ab75",
            "correlationId": "bcd94fc0-36fd-5014-9713-335e638951b6",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "res-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to track the request through the system.",
            "example": "corr-67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the resource was generated.",
            "example": "2023-10-10T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata information containing identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint being invoked. This ID can be useful for tracking specific requests within the system.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-generate-lite-connect-url"
        },
        "example": "open-finance-api-generate-lite-connect-url"
      },
      "x-runtime-app": {
        "description": "The name of the application that generated the response. This can help identify the source of the response in multi-application environments.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method. Users must provide a JSON Web Token (JWT) as a Bearer token in the Authorization header to authenticate requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}