{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Replace Party By Param1-spec",
    "description": "This API allows users to update details of legal entities in the banking system based on specific parameters. By providing a unique identifier, organizations can ensure that their legal entity information remains accurate and up-to-date. Typical consumers for this API include financial institutions and compliance departments that need to manage legal records efficiently. This operation supports maintaining regulatory compliance and improves the integrity of business data.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/party/legal-entity-directory/{param1}": {
      "put": {
        "tags": [
          "Legal Entity Management"
        ],
        "summary": "Update a legal entity in the directory",
        "description": "This operation allows you to update the details of a specific legal entity identified by its unique ID in the legal entity directory. Ensure that you provide all required fields in the request body to successfully update the entity.",
        "operationId": "replacePartyByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Updates the legal entity details in the directory for the specified RES-100045 identifier. Ensure that all required fields are included in the request body to successfully update the entity.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplacePartyByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was completed successfully and the resource was updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplacePartyByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ReplacePartyByParam1Request": {
        "title": "Legal Entity Update Request",
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "The unique identifier for the party.",
            "example": "PARTY-835860"
          },
          "legalName": {
            "type": "string",
            "description": "The legal name of the entity.",
            "example": "Olivia Bennett"
          },
          "legalEntityIdentifier": {
            "type": "string",
            "description": "The identifier assigned to the entity for legal purposes.",
            "example": "STANDARD"
          },
          "countryCode": {
            "type": "string",
            "description": "The ISO code for the country where the entity is registered.",
            "example": "US"
          },
          "registrationNumber": {
            "type": "string",
            "description": "The registration number of the entity for tax or regulatory purposes.",
            "example": "NY-4587219"
          },
          "incorporationDate": {
            "type": "string",
            "description": "The date when the entity was incorporated.",
            "example": "2026-09-15"
          },
          "entityStatus": {
            "type": "string",
            "description": "The current status of the legal entity (e.g., active, inactive).",
            "example": "ACTIVE"
          },
          "requestContext": {
            "description": "Context information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for updating a legal entity in the legal entity directory.",
        "example": {
          "partyId": "PARTY-835860",
          "legalName": "Olivia Bennett",
          "legalEntityIdentifier": "STANDARD",
          "countryCode": "US",
          "registrationNumber": "NY-4587219",
          "incorporationDate": "2026-09-15",
          "entityStatus": "ACTIVE",
          "requestContext": {
            "requestId": "79a705f5-8ee4-5651-a073-8a9add6b27da",
            "correlationId": "e5653c9b-dfe1-5649-850c-2ddb3b96c08c",
            "idempotencyKey": "cb575778-a0d4-50aa-9c3d-422f173ff66d",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-832367"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate requests across systems.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure that requests are idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that originated the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema represents the context of the request, including identification and source information."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The identifier of the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used in the channel.",
            "example": "string"
          }
        },
        "description": "This schema represents the details of the channel through which the request was made."
      },
      "ReplacePartyByParam1Response_200": {
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "Unique identifier for the party.",
            "example": "PARTY-836028"
          },
          "countryCode": {
            "type": "string",
            "description": "ISO code representing the country of the party.",
            "example": "US"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the legal entity record.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "Current status of the party (e.g., active, inactive).",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the party details were last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional information about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the legal entity directory operation (PUT) indicating the status of the operation.",
        "example": {
          "partyId": "PARTY-836028",
          "countryCode": "US",
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "3b77d429-726b-52d6-9cc0-5678cee51807",
            "correlationId": "e5653c9b-dfe1-5649-850c-2ddb3b96c08c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "res-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracing requests within the system.",
            "example": "corr-12345"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-10T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata associated with the response, providing additional context and identifiers."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "legal-entity-directory-upsert-legal-entity-directory-record"
        },
        "example": "legal-entity-directory-upsert-legal-entity-directory-record"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses HTTP Bearer authentication, which requires a JSON Web Token (JWT) for secure access to the API. The token should be included in the Authorization header of your requests, prefixed by the word 'Bearer'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}