{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Recurring Transactions Management API",
    "description": "The Recurring Transactions Management API facilitates the creation and management of recurring transactions for customers. It allows businesses to automate billing processes, enhancing cash flow predictability and improving customer satisfaction. By using this API, businesses can set up, update, or cancel recurring payment schedules for individual customers. This functionality is essential for financial services, subscription-based models, and any business that requires regular payment handling. Typical consumers of this API include developers and financial analysts looking to integrate automated payment solutions into their platforms.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/{customerId}/recurring-transactions": {
      "post": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Create a Recurring Transaction for a Customer",
        "description": "This endpoint allows you to create a new recurring transaction for a specific customer identified by their ID. The transaction will be set up with the details provided in the request body, enabling automated processing on a scheduled basis.",
        "operationId": "createRecurringTransactionForCustomer",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "description": "Request body for creating a new recurring transaction for the specified customer. This body must adhere to the defined schema, which outlines the required and optional fields.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRecurringTransactionForCustomerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully processed the request for recurring transactions.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateRecurringTransactionForCustomerResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateRecurringTransactionForCustomerRequest": {
        "title": "Recurring Transactions Request Body",
        "type": "object",
        "properties": {
          "accountIds": {
            "type": "array",
            "description": "List of account identifiers associated with the request.",
            "example": [
              "ACC-921280"
            ],
            "items": {
              "type": "string",
              "example": "account_123"
            }
          },
          "requestContext": {
            "description": "Contextual information related to the current request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for operations related to recurring transactions for a specific customer.",
        "example": {
          "accountIds": [
            "ACC-921280"
          ],
          "requestContext": {
            "requestId": "b58fff8c-de6d-5327-b4c0-3d525278a99d",
            "correlationId": "e8deb9ba-fcd3-59c7-98ce-6bb6bf36f6a8",
            "idempotencyKey": "8213b32f-4801-52b6-99e3-ccb6653c4f4f",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-951106"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req_456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracking the request across systems.",
            "example": "corr_789"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the request is idempotent.",
            "example": "idemp_key_1"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request was generated.",
            "example": "source_system_X"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that is making the request.",
            "example": "source_app_Y"
          },
          "channel": {
            "description": "Information about the channel through which the request is made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Provides contextual metadata about the request being made."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel_101"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to initiate the request.",
            "example": "device_202"
          }
        },
        "description": "Details regarding the channel from which the request is originating."
      },
      "CreateRecurringTransactionForCustomerResponse_200": {
        "type": "object",
        "properties": {
          "customerRecurringTransactions": {
            "$ref": "#/components/schemas/CustomerRecurringTransactions"
          },
          "accountRecurringTransactions": {
            "type": "array",
            "description": "List of recurring transactions associated with accounts.",
            "example": [
              {
                "accountId": "ACC-609101",
                "recurringOutflows": [
                  {
                    "normalizedPayeeName": "Northstar Banking Service",
                    "transactionCategories": [
                      "STANDARD"
                    ],
                    "transactionIds": [
                      "TXN-718032"
                    ],
                    "cadence": 1,
                    "status": "ACTIVE",
                    "expectedNextTransactionDate": "2026-09-15",
                    "amount": 100.0,
                    "minimumHistoricalAmount": 100.0,
                    "maximumHistoricalAmount": 100.0,
                    "meanHistoricalAmount": 100.0
                  }
                ]
              }
            ],
            "items": {
              "$ref": "#/components/schemas/AccountRecurringTransaction"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for a customer's recurring transactions after a POST operation.",
        "example": {
          "customerRecurringTransactions": {
            "recurringOutflows": [
              {
                "normalizedPayeeName": "Northstar Banking Service",
                "transactionCategories": [
                  "STANDARD"
                ],
                "transactionIds": [
                  "TXN-144436"
                ],
                "cadence": 1,
                "status": "ACTIVE",
                "expectedNextTransactionDate": "2026-09-15",
                "amount": 100.0,
                "minimumHistoricalAmount": 100.0,
                "maximumHistoricalAmount": 100.0,
                "meanHistoricalAmount": 100.0,
                "medianHistoricalAmount": 100.0,
                "countOfTransactions": 1
              }
            ],
            "recurringInflows": [
              {
                "normalizedPayeeName": "Northstar Banking Service",
                "transactionCategories": [
                  "STANDARD"
                ],
                "transactionIds": [
                  "TXN-441311"
                ],
                "cadence": 1,
                "status": "ACTIVE",
                "expectedNextTransactionDate": "2026-09-15",
                "amount": 100.0,
                "minimumHistoricalAmount": 100.0,
                "maximumHistoricalAmount": 100.0,
                "meanHistoricalAmount": 100.0,
                "medianHistoricalAmount": 100.0,
                "countOfTransactions": 1
              }
            ]
          },
          "accountRecurringTransactions": [
            {
              "accountId": "ACC-609101",
              "recurringOutflows": [
                {
                  "normalizedPayeeName": "Northstar Banking Service",
                  "transactionCategories": [
                    "STANDARD"
                  ],
                  "transactionIds": [
                    "TXN-718032"
                  ],
                  "cadence": 1,
                  "status": "ACTIVE",
                  "expectedNextTransactionDate": "2026-09-15",
                  "amount": 100.0,
                  "minimumHistoricalAmount": 100.0,
                  "maximumHistoricalAmount": 100.0,
                  "meanHistoricalAmount": 100.0
                }
              ]
            }
          ],
          "metadata": {
            "responseId": "808e3fa6-cf09-5273-9d64-88c17ab24f8b",
            "correlationId": "e8deb9ba-fcd3-59c7-98ce-6bb6bf36f6a8",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CustomerRecurringTransactions": {
        "type": "object",
        "properties": {
          "recurringOutflows": {
            "type": "array",
            "description": "List of recurring outflow transactions.",
            "items": {
              "$ref": "#/components/schemas/RecurringTransaction"
            }
          },
          "recurringInflows": {
            "type": "array",
            "description": "List of recurring inflow transactions.",
            "items": {
              "$ref": "#/components/schemas/RecurringTransaction"
            }
          }
        },
        "description": "Details of the customer's recurring transactions."
      },
      "AccountRecurringTransaction": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "string"
          },
          "recurringOutflows": {
            "type": "array",
            "description": "List of recurring outflow transactions for this account.",
            "items": {
              "$ref": "#/components/schemas/RecurringTransaction"
            }
          }
        },
        "description": "Recurring transaction details specific to an account."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to track the request across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Metadata for the response."
      },
      "RecurringTransaction": {
        "type": "object",
        "properties": {
          "normalizedPayeeName": {
            "type": "string",
            "description": "Normalized name of the payee associated with the transaction.",
            "example": "string"
          },
          "transactionCategories": {
            "type": "array",
            "description": "Categories of the transaction.",
            "items": {
              "type": "string",
              "example": "string"
            }
          },
          "transactionIds": {
            "type": "array",
            "description": "List of IDs for the transactions.",
            "items": {
              "type": "string",
              "example": "string"
            }
          },
          "cadence": {
            "type": "integer",
            "description": "Frequency of the transaction in terms of periods.",
            "format": "int32",
            "example": 0
          },
          "status": {
            "type": "string",
            "description": "Current status of the transaction.",
            "example": "string"
          },
          "expectedNextTransactionDate": {
            "type": "string",
            "description": "Date when the next transaction is expected to occur.",
            "example": "string"
          },
          "amount": {
            "type": "number",
            "description": "Amount involved in the transaction.",
            "example": 0.0
          },
          "minimumHistoricalAmount": {
            "type": "number",
            "description": "Minimum amount recorded historically for this transaction type.",
            "example": 0.0
          },
          "maximumHistoricalAmount": {
            "type": "number",
            "description": "Maximum amount recorded historically for this transaction type.",
            "example": 0.0
          },
          "meanHistoricalAmount": {
            "type": "number",
            "description": "Mean amount recorded historically for this transaction type.",
            "example": 0.0
          },
          "medianHistoricalAmount": {
            "type": "number",
            "description": "Median amount recorded historically for this transaction type.",
            "example": 0.0
          },
          "countOfTransactions": {
            "type": "integer",
            "description": "Total number of transactions recorded historically.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "A transactional record that recurs over intervals."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier assigned to the endpoint for tracking purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-recurring-transactions"
        },
        "example": "open-finance-api-get-recurring-transactions"
      },
      "X-Runtime-App": {
        "description": "Identifies the application that is processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method. It requires a JSON Web Token (JWT) for authentication purposes. Clients should include this token in the Authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}