{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Email Dispatch API",
    "description": "The Email Dispatch API facilitates the seamless sending of email communications within the application. This endpoint allows the initiation of email delivery to specified recipients, making it ideal for use cases such as account notifications, promotional offers, and transactional updates. Typical consumers of this API include developers integrating email functionalities into user workflows and automated systems triggering email alerts. The API ensures reliable and efficient email transmission to enhance user engagement and operational communication.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/connect/send/email": {
      "post": {
        "tags": [
          "Email Service"
        ],
        "summary": "Send an email notification.",
        "description": "This endpoint allows you to send an email notification to a specified recipient. Provide the necessary details such as recipient email, subject, and message content to deliver messages seamlessly.",
        "operationId": "sendEmail",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body contains the necessary information to send an email including recipient details, subject, and body content.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendEmailRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email sent successfully.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendEmailResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "SendEmailRequest": {
        "type": "object",
        "properties": {
          "language": {
            "type": "string",
            "description": "The language used in the email.",
            "example": "en"
          },
          "partnerId": {
            "type": "string",
            "description": "The identifier for the partner.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "The identifier for the customer.",
            "example": "CUST-921150"
          },
          "consumerId": {
            "type": "string",
            "description": "The identifier for the consumer.",
            "example": "STANDARD"
          },
          "redirectUri": {
            "type": "string",
            "description": "The URI to redirect the user after the operation.",
            "example": "STANDARD"
          },
          "webhook": {
            "type": "string",
            "description": "Webhook URL to receive asynchronous notifications.",
            "example": "STANDARD"
          },
          "webhookContentType": {
            "type": "string",
            "description": "The content type for the webhook notifications.",
            "example": "STANDARD"
          },
          "email": {
            "description": "The email details to be sent.",
            "$ref": "#/components/schemas/Email"
          },
          "experience": {
            "type": "string",
            "description": "The user experience type for the email.",
            "example": "STANDARD"
          },
          "singleUseUrl": {
            "type": "boolean",
            "description": "Indicates if the URL is to be used only once.",
            "example": true
          },
          "fromDate": {
            "type": "integer",
            "description": "The starting date from which the functionality is applicable.",
            "format": "int32",
            "example": 1
          },
          "reportCustomFields": {
            "type": "array",
            "description": "Custom fields for report generation.",
            "example": [
              {
                "label": "STANDARD",
                "value": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CustomField"
            }
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for sending an email operation.",
        "example": {
          "language": "en",
          "partnerId": "STANDARD",
          "customerId": "CUST-921150",
          "consumerId": "STANDARD",
          "redirectUri": "STANDARD",
          "webhook": "STANDARD",
          "webhookContentType": "STANDARD",
          "email": {
            "to": "STANDARD",
            "from": "STANDARD",
            "supportPhone": "+1-212-555-0147",
            "subject": "STANDARD",
            "firstName": "Northstar Banking Service",
            "institutionName": "Northstar Banking Service",
            "institutionAddress": "STANDARD",
            "signature": [
              "STANDARD"
            ]
          },
          "experience": "STANDARD",
          "singleUseUrl": true,
          "fromDate": 1,
          "reportCustomFields": [
            {
              "label": "STANDARD",
              "value": "STANDARD"
            }
          ],
          "requestContext": {
            "requestId": "bc96b757-1981-5818-aaa1-e210339117cc",
            "correlationId": "2c47ccf7-2024-56a4-a705-97d007faf303",
            "idempotencyKey": "84dc6f0a-0f8f-5351-89c7-e89a0cbef190",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-227953"
            }
          }
        }
      },
      "Email": {
        "type": "object",
        "properties": {
          "to": {
            "type": "string",
            "description": "Recipient of the email.",
            "example": "recipient@example.com"
          },
          "from": {
            "type": "string",
            "description": "Sender of the email.",
            "example": "sender@example.com"
          },
          "supportPhone": {
            "type": "string",
            "description": "Support contact phone number.",
            "example": "+123456789"
          },
          "subject": {
            "type": "string",
            "description": "Subject line of the email.",
            "example": "Welcome to Our Service"
          },
          "firstName": {
            "type": "string",
            "description": "First name of the recipient.",
            "example": "John"
          },
          "institutionName": {
            "type": "string",
            "description": "Name of the institution sending the email.",
            "example": "Example Institution"
          },
          "institutionAddress": {
            "type": "string",
            "description": "Mailing address of the institution.",
            "example": "1234 Example St, City, Country"
          },
          "signature": {
            "type": "array",
            "description": "Signature lines or images to be included in the email.",
            "items": {
              "type": "string",
              "example": "Best regards,\nExample Team"
            }
          }
        },
        "description": "Schema representing the structure of an email."
      },
      "CustomField": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "description": "Label or title of the custom field.",
            "example": "Custom Field Label"
          },
          "value": {
            "type": "string",
            "description": "Value assigned to the custom field.",
            "example": "Custom Field Value"
          }
        },
        "description": "Schema representing a custom field in the report."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating the request across systems.",
            "example": "corr-67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is processed only once.",
            "example": "idemp-key-abc"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System that initiated the request.",
            "example": "API Gateway"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application that is making the request.",
            "example": "WebApp"
          },
          "channel": {
            "description": "Details about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel used for the request.",
            "example": "email"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the channel.",
            "example": "device-12345"
          }
        },
        "description": "Schema representing the channel details for the request."
      },
      "SendEmailResponse_200": {
        "type": "object",
        "properties": {
          "link": {
            "type": "string",
            "description": "A link related to the email operation.",
            "example": "STANDARD"
          },
          "emailConfig": {
            "description": "Configuration settings for the email.",
            "$ref": "#/components/schemas/EmailConfig"
          },
          "metadata": {
            "description": "Meta information regarding the email operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the POST request to send an email.",
        "example": {
          "link": "STANDARD",
          "emailConfig": {
            "to": "STANDARD",
            "from": "STANDARD",
            "supportPhone": "+1-212-555-0147",
            "subject": "STANDARD",
            "firstName": "Northstar Banking Service",
            "institutionName": "Northstar Banking Service",
            "institutionAddress": "STANDARD",
            "signature": [
              "STANDARD"
            ]
          },
          "metadata": {
            "responseId": "ecee59f7-11f4-5924-a3be-55ff69364f74",
            "correlationId": "2c47ccf7-2024-56a4-a705-97d007faf303",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EmailConfig": {
        "type": "object",
        "properties": {
          "to": {
            "type": "string",
            "description": "Email address of the recipient.",
            "example": "recipient@example.com"
          },
          "from": {
            "type": "string",
            "description": "Email address of the sender.",
            "example": "sender@example.com"
          },
          "supportPhone": {
            "type": "string",
            "description": "Contact phone number for support.",
            "example": "+1234567890"
          },
          "subject": {
            "type": "string",
            "description": "Subject line of the email.",
            "example": "Welcome to Our Service!"
          },
          "firstName": {
            "type": "string",
            "description": "First name of the recipient.",
            "example": "John"
          },
          "institutionName": {
            "type": "string",
            "description": "Name of the institution sending the email.",
            "example": "Example Institution"
          },
          "institutionAddress": {
            "type": "string",
            "description": "Address of the institution sending the email.",
            "example": "123 Example St, Example City, EX 12345"
          },
          "signature": {
            "type": "array",
            "description": "List of strings representing the email signature.",
            "items": {
              "type": "string",
              "example": "Best regards"
            }
          }
        },
        "description": "Configuration settings for sending the email."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp_12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking related requests.",
            "example": "cor_67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata for tracking the email response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-send-connect-email"
        },
        "example": "open-finance-api-send-connect-email"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication, which requires a valid JSON Web Token (JWT) to be included in the `Authorization` header of the request. The token should be prefixed with the word 'Bearer'. Validating this token is essential for accessing secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}