{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Point of Service Data Retrieval API",
    "description": "The Point of Service Data Retrieval API facilitates the access and retrieval of crucial banking information across various channels. It enables users, such as bank staff and external applications, to seamlessly gather detailed data regarding customer interactions and transaction histories at points of service. This functionality supports efficient decision-making and enhances customer service delivery. Use cases include consolidating information for reports, integrating with CRM systems, and improving cross-channel client interactions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cross-channel/point-of-service": {
      "get": {
        "tags": [
          "Point of Service"
        ],
        "summary": "Retrieve Point of Service Data",
        "description": "This endpoint allows developers to access detailed information related to point of service interactions across different channels. It provides insights into user activities and preferences.",
        "operationId": "getPointOfServiceData",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body representing the necessary parameters for retrieving data from the cross-channel point-of-service endpoint. This body should conform to the defined schema and contain relevant operational details to successfully execute the GET request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPointOfServiceDataRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request was successful and the response contains the requested data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPointOfServiceDataResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPointOfServiceDataRequest": {
        "type": "string",
        "description": "A request body used for cross-channel point-of-service operations in GET requests.",
        "example": "{}"
      },
      "GetPointOfServiceDataResponse_200": {
        "title": "Point of Service Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of point of service interaction details.",
            "example": [
              {
                "partyId": "PARTY-394459",
                "interactionId": "INT-543756",
                "channel": "STANDARD",
                "authenticationLevel": "STANDARD",
                "terminalId": "STANDARD",
                "merchantId": "MER-187127",
                "terminalStatus": "ACTIVE",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/PointOfServiceInteraction"
            }
          },
          "pagination": {
            "description": "Pagination details for the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the interactions.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "A response schema for retrieving point of service interactions including details about transactions, pagination, sorting, and metadata.",
        "example": {
          "items": [
            {
              "partyId": "PARTY-394459",
              "interactionId": "INT-543756",
              "channel": "STANDARD",
              "authenticationLevel": "STANDARD",
              "terminalId": "STANDARD",
              "merchantId": "MER-187127",
              "terminalStatus": "ACTIVE",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "60cddf8d-3367-58a3-9856-38667ce73197",
            "correlationId": "505ec127-222f-5ef8-a89f-21e697845dda",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PointOfServiceInteraction": {
        "title": "Point of Service Interaction",
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "Unique identifier for the party involved in the interaction."
          },
          "interactionId": {
            "type": "string",
            "description": "Unique identifier for the interaction."
          },
          "channel": {
            "type": "string",
            "description": "The channel through which the interaction occurred, e.g., web, mobile."
          },
          "authenticationLevel": {
            "type": "string",
            "description": "The level of authentication required for the interaction."
          },
          "terminalId": {
            "type": "string",
            "description": "Identifier for the terminal used in the interaction."
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant involved in the transaction."
          },
          "terminalStatus": {
            "type": "string",
            "description": "Current status of the terminal (e.g., active, inactive)."
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the interaction record (e.g., confirmed, pending)."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the interaction record."
          }
        },
        "description": "Details of a specific point of service interaction."
      },
      "Pagination": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items across all pages.",
            "format": "int32"
          }
        },
        "description": "Information related to the pagination of the results."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating related requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed."
          }
        },
        "description": "Metadata related to the response received."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "point-of-service-search-point-of-service"
        },
        "example": "point-of-service-search-point-of-service"
      },
      "X-Runtime-App": {
        "description": "The name of the runtime application handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication using Bearer tokens in JWT (JSON Web Token) format.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}